[2022-09-12 03:35] amywtlin commented on #18427
Hey @Jonyk56 - this is a known issue and we are addressing this with the PR attached to this issue. Hence closing this issue, and thank you for reporting!

[2022-09-12 03:35] #18427 closed

[2022-09-12 03:37] amywtlin commented on #18420
Hey @Wjplatformer  - this is a known issue and we are addressing this with the PR attached to #18312. Hence closing this issue, and thank you for reporting!

[2022-09-12 03:37] #18420 closed

[2022-09-12 13:13] #15858 closed

[2022-09-12 16:50] #18381 closed

[2022-09-12 18:52] fdocr commented on #14483
Sharing another update on the issue:

I've seen this happen to me on production instances (fleet hosted instances and not on Heroku ones like [BHC](https://community.benhalpern.com/)) after taking actions through onboarding like following tags and enabling email updates on the last slide. This hasn't been the case when "rushing through the steps" as quickly as possible. That's the closest I've bee

[2022-09-12 19:12] fdocr commented on #18351
I feel like this would be fixed by ensuring empty series (a check for this triggered by saving a post) are actually being deleted instead of lingering around. Once a series is empty (without published/unpublished posts) users can always just type out the series name to recreate it, which is also triggered by post save action (as-is today).

[2022-09-12 19:25] fdocr commented on #18351
We don't have edit/delete actions for series, and from a "bugfix approach" we don't quite need them [if the above is ensured/fixed](https://github.com/forem/forem/issues/18351#issuecomment-1244193793).

I'm thinking this because a user can always create a new series and migrate the posts to that new one with the updated name. That's a cumbersome flow though, specially when considering series with

[2022-09-12 20:01] benhalpern commented on #18380
@maestromac I think that is a good idea, but let me try and synthesize a couple concepts from this conversation and [some of what is going on in the other convo about data conventions](https://github.com/forem/forem-internal-eng/issues/511). I think my ideas are in line with what has been talked about, but let me know if I'd be off base. cc: @jaw6 @Ridhwana

Here is what I'm thinking:

- So in the

[2022-09-12 21:38] #18382 closed

[2022-09-13 08:05] Posandu opened #18442 "Profile page broken"
**Describe the bug**

The profile page is broken and shows 2 rows instead of 2 columns

**To Reproduce**

Go to https://dev.to/posandu (or any DEV profile)

**Expected behavior**

There should be two columns.

**Screenshots**

![image](https://user-images.githubusercontent.com/76736580/189845718-f30f1c79-ba41-4c4c-ab80-05df4671c442.png)
![image](https://user-images.githubusercontent.com/76736580/1

[2022-09-13 09:09] amywtlin commented on #18442
@Posandu Thank you for reporting - I have raised this with the team and we are looking into it.

[2022-09-13 09:13] jaw6 commented on #18338
Should be fixed by https://github.com/forem/forem/pull/18438

[2022-09-13 09:13] #18338 closed

[2022-09-13 09:13] jaw6 commented on #18312
Should be fixed by https://github.com/forem/forem/pull/18438

[2022-09-13 09:13] #18312 closed

[2022-09-13 09:14] jaw6 commented on #18427
Should be fixed by https://github.com/forem/forem/pull/18438

[2022-09-13 09:14] jaw6 commented on #18420
Should be fixed by https://github.com/forem/forem/pull/18438

[2022-09-13 09:37] jaw6 commented on #18380
@benhalpern I'm not 100% sure I understand the distinction you're drawing here. I think you are saying that `page_views` are ingested by the application logic and should therefore be first-class domain objects, and I see where `page_views` are used for things like feed experiments, but I'm not seeing where `display_ad_events` are being ingested by the application?

---

@benhalpern You are right o

[2022-09-13 15:49] benhalpern commented on #18380
@jaw6 — `display_ad_events` data is rolled up into `success_rate`, `clicks_count`, and `impressions_count` on the `display_ads` model. And then `success_rate` is rolled up into the algorithm which is used to generate which ads to show more often — i.e. more "successful" ads are shown more often, where success is measured here by clickthrough rate.

Generally as we're looking to make this functiona

[2022-09-13 19:28] mirie opened #18448 "Feed Experiment for Sep-13-2022"
Specific request in Sep 13 section

Reference: https://docs.google.com/document/d/1H1WsktwvlspsB_1RmsZxfVcJHVcaeorHLjpAWG8Oazw/edit

Product point person: @pkfrank

[2022-09-13 19:30] mirie commented on #18448
@joshpuetz I'm going to assign this to you. Do you mind recording a loom so that the team can reference in the future on how to address a request like this?

I'd love if you could talk through it as if we were all complete newbies -- so even starting from looking at the Google doc and parsing the request and handling the config change. Thank you!

[2022-09-13 20:31] thomasbnt opened #18449 "Comments sort not centered"
**Describe the bug**
_Hmmm I'm triggered!_

Not centered content in comments section with the sort.

![image](https://user-images.githubusercontent.com/14293805/190003137-7f6795e3-9702-43d1-b617-26fd029ba2fb.png)

**To Reproduce**

1. Go to any post
2. Scroll to the comments section like [here](https://dev.to/devteam/top-7-featured-dev-posts-from-the-past-week-4phi?comments_sort=latest#comments)

[2022-09-13 21:41] fdocr commented on #18449
Thanks for noting this @thomasbnt!

I'm submitting a quick fix that should ideally improve the alignment 🙏🏼

[2022-09-14 06:58] jmfayard opened #18451 "I receive notifications for comments from an article from an author I follow"
**Describe the bug**

- Valeria posted a very fine article here https://dev.to/valeriavg/me-react-5-years-in-15-minutes-58od
- Later I posted [one thank you comment](https://dev.to/jmfayard/comment/21ik9) nobody replied to
- Then I started following Valeria
- Since then I receive a notification for all comments posted on the article (not only comments on my comment)

**To Reproduce**

I don't know

[2022-09-14 07:58] Wjplatformer commented on #18420
thanks :)

[2022-09-14 09:51] rt4914 opened #18452 "Square box issue in Safari Version 14 and below"
**Describe the bug**

Whenever we use responsive square boxes, we generally use `aspect-ratio: 1/1` in css styles. Safari Version 14 and below does not support. Safari Version 15 does support it.

This issue can be noticed on smaller iOS devices, Safari 14 Version on following links: https://dev.to/pod and https://dev.to/badges
(Check below screenshots for the same)

**To Reproduce**

Steps to rep

[2022-09-14 09:52] rt4914 commented on #18452
cc: @amywtlin

[2022-09-14 10:05] rt4914 opened #18453 "Bugs found in Profile Badges work on production"
**Describe the bug**

There are multiple minor bugs found in profile badges work on production.

**To Reproduce**

### Issue 1

Visit https://dev.to/amyatforem and click on `1` badge and notice how its stretched.

<img width="300" alt="Screenshot 2022-09-14 at 3 29 36 PM" src="https://user-images.githubusercontent.com/9396084/190124671-0644b264-ef1d-4600-ba6c-536908907a67.png">

### Issue 2

Visit

[2022-09-14 11:15] ahmedDev20 opened #18454 "Uploading a file type except images causes infinite loading state"
**Describe the bug**

In the editor, when trying to choose any file except images, the app is stuck in the loading state.

**To Reproduce**

1. Go to https://dev.to/new
2. Click on `add a cover image`
3. In your explorer, choose any file type either than the image
4. The app goes in an infinite loading state

The app should handle this exception properly by displaying an alert indicating that any

[2022-09-14 16:22] joshpuetz commented on #18127
@amywtlin @anujbhavsar96 I have a UX question: should the comment count in the 'jump to comments' button update when a comment is made on the page? For example, here's how I have it looking right now in my branch:

<img width="427" alt="CleanShot 2022-09-14 at 11 12 09@2x" src="https://user-images.githubusercontent.com/37842/190208783-f9f1086e-bb69-42e9-b311-e2772c13d848.png">

If the user clicks

[2022-09-14 19:41] michael-tharrington opened #18458 "Unable to Flag Users from Mod Center"
_NOTE: there's temporary workaround for this issue. For now, while we cannot access this feature from the mod center, I suggest leaving the mod center and going directly to a post's page or user profile to flag a user._

**Describe the bug**

Both admin and trusted users (and likely tag mods) are unable to flag users from the mod center.

**To Reproduce**

1. Have mod credentials of some form on D

[2022-09-15 04:47] anujbhavsar96 commented on #18127
Yes, it should update the count if a comment is posted.

Even if the count gets updated after the refresh, that should be fine, I guess. Also, We have a comment count on the index page.

[2022-09-15 10:48] Posandu commented on #18442
I guess this is fixed now 😄

[2022-09-15 14:57] #18449 closed

[2022-09-15 15:35] joshpuetz commented on #18127
That part will definitely happen, it's the "live" comment count update on the page that I'm wondering about.

[2022-09-15 18:27] mirie commented on #18434
@fdocr can you summarize what we talked about yesterday re: organizations question when you have a chance?

[2022-09-15 20:16] benhalpern commented on #18380
@jaw6 PR looks great! Let me know if I can be helpful with the described next step once this lands.

[2022-09-15 20:43] erinb223 opened #18462 "Add an autosave feature or progress loss warning for drafted posts in preview mode"
[We received this feedback from a DEV user on Twitter](https://twitter.com/philw_/status/1570500994479554560):

"@ThePracticalDev @forem any chance you could add autosave or add a `onbeforeunload` warning when working on a post? I just previewed a draft post, accidentally clicked a link in the preview, and lost about 40/50minutes worth of writing and editing 😩😠😭" — [@philw_](https://twitter.com/ph

[2022-09-15 20:52] philwolstenholme commented on #18462
Thank you! 🙏

[2022-09-15 21:48] MSaddamKamal commented on #212
This issue still exist the count of stars on my profile is totally mismatched by numbers of stars on my individual repositories. Please have a look at below screenshot.
![screencapture-github-MSaddamKamal-2022-09-16-02_46_35](https://user-images.githubusercontent.com/75113661/190514785-82014e14-244e-4310-b000-e974066d53f7.png)

[2022-09-16 04:13] anujbhavsar96 commented on #18127
I think it should update. I just noticed we also have a comment count above the comment input box. So if we don't update the sidebar count, it would look like a bug.

[2022-09-16 16:27] #18448 closed

[2022-09-16 20:08] #18351 closed

[2022-09-17 00:37] HafidElhafa commented on #6563
Error: Database is uninitialized and superuser password is not specified.
       You must specify POSTGRES_PASSWORD to a non-empty value for the
       superuser. For example, "-e POSTGRES_PASSWORD=password" on "docker run".

       You may also use "POSTGRES_HOST_AUTH_METHOD=trust" to allow all
       connections without a password. This is *not* recommended.

       See PostgreSQL documentation

[2022-09-17 06:53] logankilpatrick opened #18466 "undefined method `any?' for"
**Describe the bug**

I am trying to post an article, I get the following error:

<img width="1167" alt="Screen Shot 2022-09-17 at 8 49 10 AM" src="https://user-images.githubusercontent.com/35577566/190844586-84e8dcbb-1e26-4ca8-82bd-32385d5b956e.png">

**To Reproduce**

Here is the text I am trying to add into the article:

[code]

Next, we will call the `split()` function and pass in the string a

[2022-09-19 00:01] pepelsbey opened #18468 "`src='data'` is considered invalid Markdown"
**Describe the bug**

Any occurrence of the `src='data'` string is considered invalid Markdown:

- Double quotes, the same
- No quotes, no problem

**To Reproduce**

1. Create a new post
2. Type src='data'
3. Press “Preview”

**Expected behavior**

src='data'

**Screenshots**

<img width="800" alt="image" src="https://user-images.githubusercontent.com/105274/190933501-7fba2225-2f8e-4056-8c07-1c5ae

[2022-09-19 07:49] jaw6 commented on #18466
@logankilpatrick Thanks for submitting this! The error message is not very helpful, but I think I can see what's happening. The error is coming from the frontmatter parser, it's trying to turn your frontmatter into article attributes. In your case, I think you are maybe trying to provide a `title` via frontmatter, maybe try this:

[code]

[2022-09-20 14:37] logankilpatrick commented on #18466
I fixed it, all I had to do was remove the first set of `---`'s and I am all good.

[2022-09-20 14:37] #18466 closed

[2022-09-20 17:30] benhalpern opened #18474 "Feed experiment for week of Feed Experiment for Sep-19-2022"
Feed experiment for this week

Reference: https://docs.google.com/document/d/1H1WsktwvlspsB_1RmsZxfVcJHVcaeorHLjpAWG8Oazw/edit

Product point person: @pkfrank

[2022-09-20 18:03] fdocr commented on #18434
Absolutely, and sorry for the delay @mirie.

I was looking back into the problem I mentioned to you and realized that field isn't shared between both users & organizations. They have the same name on the UI (`/settings/profile` & `/settings/organization/<id>`) and the way the decorator was used in the code tripped me up.

I hope I can get #18473 ready for review soon and merged to close this issue

[2022-09-21 16:18] benhalpern commented on #15241
Just to add some context to this issue, I think the _discovery_ portion of this can be done with a bit of searching through the app for candidate routes which can be rolled up into js-routes functionality.

This is what I'm talking about. Finding 5 or so routes which could be consolidated would be a good start:

<img width="454" alt="Screen Shot 2022-09-21 at 12 17 01 PM" src="https://user-images.

[2022-09-21 17:21] #18434 closed

[2022-09-22 13:58] #18127 closed

[2022-09-22 17:42] pkfrank opened #18481 "Remove dead code related to “tracking” html variants"
## Context

We currently have logic in our codebase related to “tracking” the performance of HTML variants.

**However, we simply don’t use this functionality anymore and don’t intend to in the future.**

***This is being entirely replaced by Display Ads*** as the singular building block in our application for tracking performance and optimizing the display of these sorts of units.

You may see re

[2022-09-22 17:43] pkfrank opened #18482 "Remove featured_number from application"
## Context

`featured_number` is a column which is generated initially with `Time.current.to_i` upon initially publishing. However, it is now effectively deprecated and its presence in the code only adds unwanted confusion and complexity.

The purpose of this value is so that it could be tweaked by admins after publishing to promote and demote content, but it is no longer used that way in any circ

[2022-09-22 17:44] pkfrank opened #18483 "Remove remaining unused “social preview” view code"
## Context

@jaw6  has begun work to remove code related to social previews in https://github.com/forem/forem/pull/18118

However, some of the unused **view** code is still in place.

## Desired outcome

- The rest of the view code is removed.
- We are still using social previews **on articles**, so that code should stay in place.

[2022-09-22 17:45] pkfrank opened #18484 "Remove “latest articles” from /reports"
## Context

The top of `/admin/moderation/reports` displays “Latest Articles” which were originally introduced to help admins scan their Forem for recent articles.

However, **this functionality is not appear to be used much by our own team, and is not useful for other Forem creators,** and removing it can simplify the application in a healthy way.

*This is one of two boxes we’re removing from th

[2022-09-22 17:45] pkfrank opened #18485 "Remove “possible spam/abuse” from /reports"
## Context

The top of `/admin/moderation/reports` displays “Possible Spam/Abuse” which was originally introduced to help admins scan their Forem for problematic behavior.

However, **this functionality does not appear to be used much by our own team, or other Forem creators,** and removing it can simplify the application in a healthy way.

We have related projects for monitoring potential spam/ab

[2022-09-22 17:47] pkfrank opened #18486 "Remove "sponsors" code"
## Context

- We have a lot of coded related to the explicit concept of “sponsors” and “sponsorships” built into the application
    - https://dev.to/sponsors
    - https://forem.dev/sponsors
- This functionality is not being used **on any Forem**
- This has been “soft deprecated” for long enough to move forward right away.
- This is entirely being replaced by the more flexible “Display Ads” conce

[2022-09-22 17:48] pkfrank opened #18487 "Remove “Vault Secrets” from /admin"
## Context

At one point, we had a thought of allowing Admins to see/adjust certain configurations in `/admin/advanced/secrets`.  However, we abandoned those plans and this page is no longer useful.

As such, we can look to remove complexity and reduce confusion by removing this page.

**One final sanity check** that this is not needed code under any circumstance could be warranted, but this is no

[2022-09-22 17:51] pkfrank opened #18488 "Do not show comments with less than zero score to signed-out users"
## Context

Search engines consider the “quality” of content as one of their ranking factors.

We get penalized if we are hosting low-quality content, even if those come in the form of user-generated comments.

All comments will remain visible for *signed in users —* sometimes displaying the “low quality” banner, as it is currently. This is a small adjustment to the logic for whether we display fo

[2022-09-22 17:54] pkfrank opened #18489 "Comment Fragment Link"
## Desired Outcome

For ***signed-out-only***, we want to replace the *full permalink* on each comment card with a ***fragment link*** (i.e. www.dev.to/author/slug#comment-21ff4)

- We only want to replace this for signed out users. We will maintain full permalink logic as is for now with signed in traffic.
    - This allows us to pursue this plan without having to account for every possible edge

[2022-09-22 17:56] pkfrank opened #18490 "Show fewer comments to non-signed-in users"
## Context

This change will results in faster page view loads, fewer “low quality” comments showing up, etc.

This is one of several small tasks related to comments (https://github.com/forem/forem/issues/18488) (https://github.com/forem/forem/issues/18489)

## Desired Outcome

Show fewer comments to non-signed-in users.

- Change "comments to show count" from its current number in the controller

[2022-09-22 17:58] pkfrank opened #18491 "Fix display ad search (currently 500 error)"
## Context

There is a small persistent error in `/admin/customization/display_ads` that is causing the search to error.

## Desired outcome

It does not error out.

[2022-09-22 17:59] pkfrank opened #18492 "Make tag adjustment “reason_for_adjustment” optional"
## Context

Based on feedback from mods, the “reason_for_adjustment” field is *usually the same*, and is generally not necessary.

## Desired Outcome

- `reason_for_adjustment` becomes *optional* for the model and form
- The placeholder adds `(optional)` at the end of the text.
- The accompanying notification view only shows the “Reason for action: …” text and divs *if* the reason is present.

[2022-09-23 15:02] mirie commented on #18380
I'm not sure why the PR isn't linked but adding it here: https://github.com/forem/forem/pull/18460 -- looks like we just need one more review / feedback before closing this one out.

[2022-09-23 18:00] rt4914 opened #18495 "Filters on Badges page"
Currently https://dev.to/badges shows all the badges available
and
the [profile](https://dev.to/rajatt) shows all the badges that user has earned.

On https://dev.to/badges there should be some form of `filter` using which user can see all the badges that they have not earned.

Needs exact product details, ui and ux.

[2022-09-23 18:02] #18453 closed

[2022-09-25 12:16] lucasverra commented on #18495
WOW those badges are awesome! Makes me think of GitPOAP is a developer recognition tool for maintainers to issue badges (called POAPs) that recognize & reward valuable contributions to their Open Source projects.  Maintainers using GitPOAP have seen an increase in meaningful contributions from new developers.
Developers also get the opportunity to build a verified & unbiased reputation of their wo

[2022-09-26 19:26] jmau111 commented on #18359
bump up :)

[2022-09-26 20:05] benhalpern opened #18502 "Feed experiment for week of Feed Experiment for Sep-26-2022"
Feed experiment for this week

Reference: https://docs.google.com/document/d/1H1WsktwvlspsB_1RmsZxfVcJHVcaeorHLjpAWG8Oazw/edit

Product point person: @pkfrank

[2022-09-26 21:02] maestromac commented on #18485
Resolved with https://github.com/forem/forem/pull/18499

[2022-09-26 21:02] #18485 closed

[2022-09-26 22:54] pkfrank opened #18503 "Ensure "Clicked on Create Account" events register properly on DEV"
**Describe the bug**

The recently merged PR here (https://github.com/forem/forem/pull/18459) added tracking to the registration flow.  However, on DEV, it doesn't appear to be passing through all of the intended properties into the ahoy_event.  This may be due to a DEV-specific configuration that isn't present in local development.

**To Reproduce**

1. Take an action on DEV that should register

[2022-09-26 23:10] benhalpern commented on #18503
My initial guess is that this is related to our Fastly go-between. If the visit token is generated by or related to the IP address Ahoy is expecting, we may obfuscate the typical answer because all our traffic runs through the edge.

That's why we have code like this:

[code]

This isn't deeply investigated, but my initial hunch. @maestromac might have some more knowledge/ideas here.

[2022-09-27 14:48] #18502 closed

[2022-09-27 16:30] maestromac commented on #18442
Yup this was resolved.

[2022-09-27 16:30] #18442 closed

[2022-09-27 18:16] wiseaidev opened #18509 "Found a glitch in DEV dashboard."
**Describe the bug**

Hey fellas. While I was tinkering around the DEV website exploring the dashboard panel, i noticed a glitch there when switching back and forth between the [following users](https://dev.to/dashboard/following_users) tab and the [following organizations](https://dev.to/dashboard/following_organizations) tab. Sometimes, the following user list gets appended to the following orga

[2022-09-28 05:12] narender2031 commented on #18509
I would like to work on this

[2022-09-28 11:23] Ridhwana commented on #18503
@pkfrank I spent some time looking at the stats this morning and I'm not sure that I'm seeing the issue that you've outlined above.

I've created a [new metabase query](https://forem.metabaseapp.com/question/188-ahoy-tracking-clicked-on-create-account-events). This query shows all the "Clicked on Create Account" events.

To make sure that we start of with the same assumptions I'm just going to sum

[2022-09-28 11:47] jaw6 commented on #18483
@pkfrank I'm worried I'm misunderstanding something here, so just to confirm -- is the idea here that we want to remove *all* of the card/opengraph `meta` tags *except* for `article#show` ?

[2022-09-28 13:15] Ridhwana commented on #18486
Just a note that I double checked that we don't have any live sponsorships running - https://dev.to/admin/blazer/queries/884-live-sponsorships

[2022-09-28 18:09] mirie commented on #18503
Added blocked label as waiting for clarification

[2022-09-28 23:12] pkfrank commented on #18503
Hi @Ridhwana , thanks for this reply, and for the further information + research.

**You are right — this does appear to tracking properly.**  I'm sorry for sending you down a distracting hunt for a non-issue.

If you're curious, my confusion was a function of:

1) Precisely what you guessed here

2) The way I set up my original Metabase dashboard required me to click into each row to view the ful

[2022-09-28 23:44] benhalpern commented on #18483
Hey @jaw6, that is correct.

We already removed most of these in that prior PR. This is just clean up on the _view code_ that was missed as part of that.

So files like `app/views/social_previews/tag.html.erb`, `app/views/social_previews/comment.html.erb` — pretty tiny task.

Unless there is additional context _we're_ missing here.

[2022-09-29 05:22] twhite96 opened #18518 "Follow buttons on blog posts are broken"
**Describe the bug**
The follow button under the profile of a user's blog post has an error displayed in the UI.

**To Reproduce**

1. Open a post
2. Look to the right and under the post's author's profile photo
3. Follow button is broken

**Expected behavior**

I expect to see a follow button displayed properly with the font color white and the background of the button blue.

**Screenshots**

<im

[2022-09-29 05:25] twhite96 commented on #2799
Hey team. I'm willing to take a gander at this. I have the repo setup in Gitpod and am ready to go. I'll need to configure environment variables and whatnot, but that will have to wait till morning as it is almost 1:30 AM here. 😅

[2022-09-29 05:40] twhite96 commented on #18518
Seems this has worked itself out. I will close this now.

[2022-09-29 05:40] #18518 closed

[2022-09-29 08:27] #18491 closed

[2022-09-29 17:53] pkfrank commented on #18503
Per most recent comments, I'll go ahead and close this issue.

[2022-09-29 17:53] #18503 closed

[2022-09-29 19:41] benhalpern commented on #18486
I have shipped the forem.dev "heads up" post for this project.

https://forem.dev/ben/the-hardcoded-concept-of-sponsorships-is-being-removed-36jn

[2022-09-29 20:07] #18368 closed

[2022-09-29 21:07] #18482 closed

[2022-09-30 02:22] mirie opened #18519 "Display Ads: Target by Tag on Posts with matching Tag(s)"
## Problem Statement
As an Admin
I want to specify which tags a Display Ad should appear on Posts with matching tags
So that I can increase conversion on my Display Ads

### Requirements:

**Timebox 1/2 day to investigating whether or not the tag selector component can be used. Fallback = a text field, comma separated tags, max 10 items, with the assumption that the admin has to enter the tag as a

[2022-09-30 03:11] mirie opened #18520 "Super Moderator actions should be fully logged (in Audit Logs)"
## Problem Statement
As a Community Team member
I want to be able to see the note on a user's profile's note tab
So that I better handle a support request from a user who's been suspended/their posts unpublished

We don’t seem to be logging all super moderator events (will require some digging into areas where logging should be added) as we need to for auditing. We also want to add an *automatical

[2022-09-30 03:13] mercy-thuyle commented on #18418
Hello @colindomoney ,
Did you solved this? I stuck like you :((( I also run in EC2 with docker-compose file and overried the APP_DOMAIN.

[2022-09-30 03:33] mirie opened #18521 "Re-Implementing Reactions (Backend ONLY)"
## Problem Statement

BACKEND ONLY

We are prioritizing this work because it is part of building a more engaging and flexible experience. We have been stagnant on improving the interactivity of our most traffick’ed view, and this will provide admins with a ton of creativity and members with a lot of fun. We have biased towards action on getting this project started, so we want to finish it and hav

[2022-09-30 08:18] Ridhwana commented on #18486
<img width="1511" alt="Screenshot 2022-09-30 at 10 16 10" src="https://user-images.githubusercontent.com/2786819/193224834-89bde2cf-7125-4008-8e55-34a838ce1dc1.png">

- Display Sponsors actually refers to showing Display Ads, not sure if it's worth considering changing the wording of this section?
- It seems like we don't use permit_adjacent_sponsors setting anywhere in the code. Are we planning o

[2022-09-30 10:49] mercy-thuyle commented on #9532
This is 2022 and I also stuck in this problem too. It wait so long for both sidekiq and seed port 3000.

[2022-09-30 11:19] colindomoney commented on #18418
Hey @mercy-thuyle - no I didn't solve it, and gave up on Forem which is a pity. So many people see this issue in various forms and report it yet no-one seems to respond definitively or fix it upstream. If I knew Rails better I would look into it but I will go back to WordPress 😬

[2022-09-30 19:35] benhalpern commented on #18486
@Ridhwana we're looking to preserve credits where possible _in general_ to ensure we properly let people use and spend credits they have earned.

In the case of sponsorships, it's such an outdated notion, that anywhere we need to remove or modify credit data _specifically related to sponsors_, we can go ahead and do that.

We will manually make record of all credit data related to sponsors in case

[2022-09-30 19:37] vishaldeepak commented on #18236
If available I could work on this

[2022-10-02 04:16] eevajonnapanula commented on #18286
If no one is working on this, I'd like to take it 🙋🏻‍♀️

[2022-10-03 06:44] wotta commented on #16506
Hi @juliannatetreault,

Could you provide a bit more insight on this issue?
Is this still an issue that can be picked up?

[2022-10-03 13:58] #18489 closed

[2022-10-03 14:57] jaw6 commented on #18521
Questions:

* How should custom reactions impact score calculations?
* Moderator actions use the "reaction system" (eg, "vomit", "thumbsup", "thumbsdown") -- these aren't mentioned here, but I assume we want to leave these as is?

[2022-10-03 15:44] mirie commented on #18277
Leaving this open as a reminder, but we have this https://github.com/forem/forem/issues/18521 as a continuation of the backend portion of the work.

The remaining task of this work is to cleanup the feature flags implemented as well as remove unicorn as a hardcoded reaction.

[2022-10-03 18:00] fdocr commented on #18236
Thanks for volunteering @vishaldeepak, I just assigned this issue to you. Feel free to share a PR and don't hesitate to ping me if you have thoughts/questions about the solution you want to implement

[2022-10-03 18:21] thomaslevesque commented on #14299
I'm getting the same error message when trying to update any setting on the "Customization" page (or even if I just click "Save" without making any change)

[2022-10-03 18:24] thomaslevesque commented on #14299
Choosing a brand color in the profile fixes it, but I had no idea what the "brand color" was before seeing the error, so it was confusing...

[2022-10-03 18:56] benhalpern opened #18530 "`/ahoy/` requests should be blocked by robots.txt"
**Describe the bug**

A large amount of our Google crawl budget is being "wasted" on `/ahoy/` tracking links.

<img width="952" alt="Screen Shot 2022-10-03 at 2 53 54 PM" src="https://user-images.githubusercontent.com/3102842/193656078-ac6124a8-a916-4721-a7a1-f74d4990f380.png">

I'm not sure whether Ahoy itself accounts for this appropriately, but this also could cause problems in tracking reliabi

[2022-10-03 21:08] benhalpern commented on #18521
@jaw6 good questions, here are the answers:

- How should custom reactions impact score calculations?

Let's make this a custom float field called something like `score_calc`, and default it to `1.0`. The hardcoded ones can stay hardcoded as `1.0`.

- Moderator actions use the "reaction system" (eg, "vomit", "thumbsup", "thumbsdown") -- these aren't mentioned here, but I assume we want to leave th

[2022-10-04 13:57] michael-tharrington opened #18534 "Typo on Account Activation Email Page"
**Describe the bug**

A community member kindly wrote in and pointed out a typo on the account activation page (upon signup). From their email:

**To Reproduce**

Sign up to DEV with a new account and check out the account activation page that appears after signing up.

**Expected behavior**

Just need to correct the spelling of "instuctions" to be "instructions"

**Additional context**

I know th

[2022-10-04 14:50] mirie commented on #18380
Moving this to Blocked / In Progress as we want to wait until @maestromac returns so we can get a final look and be more in a ready state in case we notice an issue after merging. There's no immediate fire / need to move on this before Mac returns from vacation. :)

[2022-10-04 15:50] mirie commented on #18534
@fdocr can I pass this to you for a quick fix?

[2022-10-04 16:15] benhalpern opened #18537 "Link embed markup problems"
**Describe the bug**

The code `{% embed https://www.kaggle.com %} ` appears to be causing some rendering issues where.

**To Reproduce**

- Go to https://dev.to/new
- Add `{% embed https://www.kaggle.com %} `

Observe improper rendering.

**Expected behavior**

Proper link embed with image is displayed.

**Screenshots**

## Markdown:

<img width="704" alt="Screen Shot 2022-10-04 at 12 13 46 PM" s

[2022-10-04 17:28] benhalpern opened #18538 "Feed experiment for week of Feed Experiment for Oct-04-2022"
New weekly feed experiment outlined here:

https://docs.google.com/document/d/1H1WsktwvlspsB_1RmsZxfVcJHVcaeorHLjpAWG8Oazw/edit

[2022-10-05 08:36] ANURAG-PATHAK commented on #17910
please assign this issue to me i want to work on it thank you

[2022-10-05 09:48] #17972 closed

[2022-10-05 10:38] rt4914 commented on #18284
I am unable to reproduce this issue locally. Please have a look at this loom video for reference https://www.loom.com/share/786be2b43f4d4dd8a30f1cdb2a7b3598

[2022-10-05 10:41] #18538 closed

[2022-10-05 11:45] jaw6 commented on #18521
I started out as prescribed here -- creating a new database-backed model -- but almost immediately, there were a ton of decisions to make around persistence:

* How do we "link" a reaction to a `ReactionCategory`? All of the connectivity *now* runs on the raw string (`slug`). Conventionally, we'd add a `reaction_category_id` on the `reactions` table, but that's expensive (migration & update) to ru

[2022-10-05 14:54] benhalpern commented on #18521
@jaw6 I really do like that idea. We're trying to _prioritize_ this, but not necessarily _rush_ it, because we don't want to be stuck with an unideal situation.

If you feel like this would be a useful first step to get to the new interface ready to go, I think we could accept that as an iteration while we methodically work through the data considerations.

_Ultimately_ I think we may ultimately w

[2022-10-05 15:49] mirie commented on #18284
@rt4914 Please check out https://canary1.forem.lol/mai_178/the-most-awesome-trick-for-tables-mobile-responsiveness-you-will-ever-need-using-html-and-css-only-416f -- I copied the title/markup of the problematic post. You can see the problem on this instance too. Perhaps if you grab the copy from the post on Canary, you'll be able to replicate locally too 🙏

[2022-10-05 19:13] benhalpern opened #18543 "Internal tool to preview feed configs before submission to weekly experiment"
## Problem Statement

We are submitting a weekly feed config for test based on observations from last week, but we lack tooling to be able to make great decisions.

We have a good rhythm with observing and making _guesses_, but we need to step up our precision to make the most of each experiment.

This tool will be useful for configuring feeds, and also for creating new levers in development mode

[2022-10-06 11:47] jmau111 commented on #18359
hello @joshpuetz, do you think it can be fixed?

[2022-10-06 11:48] #18543 closed

[2022-10-06 19:57] L-Zuluaga commented on #4962
the same way they explained previously, but replacing on the `cable.yml` the url from `redis://localhost:6379` to  `redis://redis:6379`

[2022-10-07 08:27] rt4914 commented on #18284
@mirie

I have reproduced this error locally. Thanks.

I have come to the conclusion that the mistake is in post/article itself and not in the code.

Basically there are two `<td>` tags in the text area of article but they were not written inside `single-ticks`( ` ) as a result they were considered as html tags and therefore the entire UI issue.
If those two `<td>` tags were written in between sin

[2022-10-07 08:29] rt4914 commented on #18284
@Ridhwana Any thoughts on above comment?

[2022-10-07 18:00] shahilpatel-3602 commented on #2799
I would like to work on this issue, please assign me this this if it is not solved already.

[2022-10-07 20:46] HughxDev opened #18553 "Cannot connect to GitHub; unstyled page on redirect"
**Describe the bug**

On redirect from attempting to connect to GitHub:
  - HTTP 400 Error in console
  - CSS does not load
  - GitHub account is not connected

**To Reproduce**

1. Go to Profile Image Menu → Username
2. Click on “Edit Profile”
3. Click on “Connect GitHub Account”
4. Approve if not done already
5. Wait for redirect

**Expected behavior**

- Styled page
- Connected GitHub account

[2022-10-07 20:50] #17668 closed

[2022-10-07 20:50] #17653 closed

[2022-10-07 20:50] #17660 closed

[2022-10-07 20:54] #18039 closed

[2022-10-07 21:16] mirie commented on #17233
@pkfrank have we already addressed this concern? I know we've made a number of changes to the feed algorithm since April.

[2022-10-07 22:32] pkfrank commented on #17233
Let's close this one for now.  We can always re-open if appropriate, but this specific issue has gone a bit stale relative to our other feed improvements that are more directly in motion.

[2022-10-07 22:32] #17233 closed

[2022-10-08 07:58] heliocola commented on #18534
@mirie : I did a search on this repo, devise, and devise_invitable and I could not find the typo word `instuctions`.
Perhaps is this coming from a different repo?

[2022-10-10 00:14] waveywaves opened #18556 "Investigate increasing maintainer productivity with pull requests environments"
I would like to make life easier Forem maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi) previews.
Disclaimer: I work on Uffizzi
 [Uffizzi](https://github.com/UffizziCloud/uffizzi) is a Open Source full stack previews engine and is free for Forem (as well as other open source projects). This will provide maintainers with previews of PRs to Forem in the cloud, allowing

[2022-10-10 10:15] jaw6 commented on #18521
So, yeah, let me unpack a bit. Last week, I wasn't sure if we would want the **uneditable** reaction categories -- the ones that have significance, like "thumbsup" or "vomit" -- to even persist in the database alongside the user-editable categories. I was imagining it might be possible (awful, messy, but *possible*) to have some of the significant categories live entirely in code, and have to deal

[2022-10-10 16:03] yheuhtozr opened #18564 "Post options exceeds the screen height"
**Describe the bug**

With newly introduced `schedule_articles` flag on, the post option dropdown is getting taller than the viewport of devices with smaller screen (confirmed on my iPhone SE).

**To Reproduce**

1. enable `schedule_articles` flag
2. display the new post UI on a smaller smartphone or responsive mode
3. tap the cog icon to open options

**Expected behavior**

Need some way to displ

[2022-10-10 16:44] fdocr commented on #18534
Thanks for mentioning this @heliocola. You're right, there's no such text in the repo. This is a typo that exists in the account.forem.com repo, which will be addressed in a PR there.

[2022-10-10 17:54] #18534 closed

[2022-10-11 08:06] amywtlin commented on #16780
I love the idea of a super-charged link!! It makes much more sense to me
than cmd + e, plus it is for code on GitHub editor…

I am sold. Let’s do this.

On Tue, Apr 19, 2022 at 5:11 PM Suzanne Aitchison ***@***.***>
wrote:

[2022-10-11 10:28] #18483 closed

[2022-10-11 12:15] #18488 closed

[2022-10-11 12:15] #18490 closed

[2022-10-11 13:10] benhalpern commented on #18537
Yup, I have assigned this to you @Sharanya98

[2022-10-11 13:21] benhalpern opened #18568 "Feed experiment for week of Feed Experiment for Oct-11-2022"
New weekly feed experiment outlined here:

https://docs.google.com/document/d/1H1WsktwvlspsB_1RmsZxfVcJHVcaeorHLjpAWG8Oazw/edit

[2022-10-11 14:56] #18568 closed

[2022-10-11 18:58] mirie commented on #18284
@pkfrank Is it OK for us to fix the article since this is a reported bug or should we leave it as is? If we fix and re-save the content, is there anything we need to be aware of?

[2022-10-12 04:14] pkfrank commented on #18284
@mirie this feels relatively edge case-y in terms of frequency, but it does seem like something we should fix.  We shouldn't be okay with a user-generated input that could break our styling in a way that hurts other user's experience.

[2022-10-12 09:09] danhuynhdev commented on #18553
Confirmed that this is reproducible. I can happily work on this.

[2022-10-12 11:54] tanishk-23 commented on #18564
@yheuhtozr can you assign this issue to me?

[2022-10-12 15:36] #18520 closed

[2022-10-12 16:49] rt4914 commented on #17910
Closing this now as two issues are solved and third one is not applicable for our code anymore.

[2022-10-12 16:49] #17910 closed

[2022-10-12 17:13] carolineschettler opened #18574 "Canned Response Template Disappeared"
**Describe the bug**

A super mod, Andy Piper, pointed out via our mod Discord that the canned mod responses on DEV have disappeared. After a check, they've disappeared for both myself and @michael-tharrington. Personal response templates still populate, but Sloan's moderator messages do not.

**To Reproduce**

1. Start writing a comment
2. Click on the three dot kebab menu
3. Click on the bookmar

[2022-10-12 17:15] ChaelCodes commented on #18484
Should this issue be closed? Looks like @Ridhwana completed this in https://github.com/forem/forem/pull/18500 .

[2022-10-12 17:34] ChaelCodes commented on #18418
I ran into this issue as well but using the docker setup on my local machine.

I changed the app_domain variable in the [docker-compose.yml](https://github.com/forem/forem/blob/0a0e2b0a7f1634e4488ff49736421138985704cf/docker-compose.yml#L25) file to my domain, restarted the containers, and I was able to login.

[2022-10-13 07:30] anujbhavsar96 commented on #18521
I discussed the same with @benhalpern, and we decided to implement this iteratively. Here is how we are thinking about it,

**V1:** 4-5 hardcoded reactions and can't be changed by admins.
**V2:** Provide a few sets of reactions and enable them based on preference
**V3:** Configure any reaction - Upload icons and name them etc. The whole system of configuring reaction _(Kind of similar to navigatio

[2022-10-13 12:37] yheuhtozr commented on #18564
@tanishk-23 Hi, I'm just a user, not a dev team member, so I'm not sure I have a right to grant you something. But I'll be glad if you can tackle this issue for me 😇

[2022-10-13 12:42] tanishk-23 commented on #18564
I am ready to work on that

[2022-10-13 12:47] benhalpern commented on #18521
@jaw6 just to follow up on the @anujbhavsar96 point, this should be very much in line with our direction of starting with the `yml` file and progressing from there. Let me know if this is confusing at all. I think this is working on concert with the backend choices.

One new decision in the design process that _will_ need a backend choice: We will need each reaction to have a _color hex_. This is

[2022-10-13 13:09] fdocr opened #18577 "Flaky tests - tracking"
We occasionally see errors in CI unrelated to changes in PRs that come up and sometimes break deployments on `main` as well. This issue is meant for tracking these and progressively work on them.

This issue doesn't require any core contributor nor community contributor to be assigned in order to start working on them. Any PR addressing these is welcome, but please link this issue in the PR so tha

[2022-10-13 18:51] mirie commented on #18380
@maestromac / @jaw6: Should we plan to carry this over or are y'all chatting tomorrow (Friday)?

[2022-10-14 18:12] mirie commented on #18486
Closing this issue -- didn't realize it was still open! (the work has been completed/is done)

[2022-10-14 18:12] #18486 closed

[2022-10-14 18:18] mirie commented on #18284
Resolved, forgot to close issue

[2022-10-14 18:18] #18284 closed

[2022-10-14 18:36] mirie commented on #15859
Closing as recommended in https://www.notion.so/forem/Post-Scheduling-846ac7ff1c5f454fb79fbbb9eedcb454

[2022-10-14 18:36] #15859 closed

[2022-10-15 04:38] yheuhtozr opened #18585 "ActionView::Template::Error when admin trying to view confirmation instructions emails"
**Describe the bug**

When I try to read **confirmation instructions emails** sent to users in the admin view (`/admin/member_manager/users/****/email_messages/****`), it never shows up and instead returns the following error:

[code]

I reported it [on forem.dev](https://forem.dev/yheuhtozr/are-confirmation-instructions-emails-really-sent-with-tag-1dif) and another user was able to reproduce it.

[2022-10-15 10:23] heliocola commented on #18577
@fdocr : FYI this exact same failure happened in the last 2 PRs: #18583 and #18584.
I was able to replicate this on my local machine and I will probably be able to identify the root cause.

I am still trying to identify the root cause but it fails depending on the values of the following factors/variables:
* The random timezone (defined by ZONEBIE_TZ) and
* the time the build runs.

I will spend a

[2022-10-15 13:05] LupettoNew opened #18586 "My XINFIN network wallet address is MISSING!"
Hi
I sent my xdc from a MEW to my Xinfin network wallet,  on this address (derivation ethereum)

xdcd6959aAAEEDeAab58d25f2b5227f36BF038c8E96

I  checked that my xdc amount was correct on tha address above

Then i exit and closed chrome app

The next access was a bad surprise for me
My address above, not avaible in the list address (always derivation ethereum) to access my wallet
WHY?
Where is fini

[2022-10-15 13:21] #14965 closed

[2022-10-15 14:51] michael-tharrington commented on #18574
Appreciate ya raising this one! So strange that access to these templates went missing.

[2022-10-16 03:21] ChaelCodes commented on #18386
Hey! I'd like to pick this one up. After perusing the code, it looks like being unable to comment on draft articles is intentional. Only published articles are commentable. That said, the error message and UX here is pretty painful.

I plan to:
- improve the error message so it's clear why the comment is invalid
- disable the comment input when a comment wouldn't be valid

[2022-10-16 20:02] ageddesi commented on #18033
I would like to take a look at this however, how do you get the app to show this?

[2022-10-16 20:15] ChaelCodes commented on #18574
Are the "Sloan responses" trusted user templates?
![image](https://user-images.githubusercontent.com/8124558/196056016-c3939d0f-dd7f-49ef-89d5-2364e3751650.png)
I'm able to create new trusted user templates, and send them as comments when logged in as admin@forem.local.

Can you describe how to create a mod user who doesn't have access to these templates?

[2022-10-17 11:36] lightalloy commented on #18481
I see that the task is about removing tracking of `HtmlVariant` performance, but for more context: do we plan to remove `HtmlVariant`s entirely? (replacing with `DisplayAds`)

[2022-10-17 14:32] mirie commented on #18521
@jaw6 You have this open PR https://github.com/forem/forem/pull/18540 -- it looks like you've been getting feedback which is great. Who would be good to get another review from?

[2022-10-17 16:00] mihneasim commented on #12061
issue #575 was closed in favour of #1492 which was closed in favour of current #12061, which consequently was closed in favour of a forem.dev discussion which i failed to find.

@cmgorton i think according to [this post here](https://forem.dev/foremteam/heads-up-github-discussions-and-feature-requests-54ff) on 15h of Nov 2021, we should reopen this issue for discussion, here on Github. What do you

[2022-10-17 16:09] dtinth commented on #12061
@mihneasim I’m not using dev.to as much now… you can go ahead and create a discussion on GitHub.

Once it’s posted, you can put the link to that discussion here, and then I’ll go and upvote it. 😃

[2022-10-17 19:23] michael-tharrington commented on #18574
Heyo @ChaelCodes!

Really appreciate you looking into this. The Sloan responses are indeed trusted user templates!

We have a bunch of these templates that we created on DEV which should be available to all trusted users and tag mods. However, these responses disappeared and are no longer available there.

That said, I was just able to create a new trusted user template on DEV, so maybe it's not s

[2022-10-18 15:10] michael-tharrington commented on #18574
Update: I think there was actually a manual error that led to these messages being deleted rather than a bug. It turns out that more folks can create/delete trusted user templates than I realized. I'll be writing up a feature request to make these messages a bit more secure!

Thank you for your help on this @ChaelCodes, your message above led to this discovery.

[2022-10-18 15:10] #18574 closed

[2022-10-18 17:24] benhalpern opened #18599 "Feed experiment for week of Feed Experiment for Oct-11-2022"
New weekly feed experiment outlined here:

https://docs.google.com/document/d/1H1WsktwvlspsB_1RmsZxfVcJHVcaeorHLjpAWG8Oazw/edit

[2022-10-19 04:26] heliocola commented on #18577
This issue also caused PRs #18604 and #18605 to fail on Travis.
This is happening because the data used to run the test is spamming multiple days, depending on the random timezone (selected by ZONEBIE_TZ) and the time the build runs.
This causes `user_views_pages_on_at_least_two_different_days_within_a_week` to also be included in the result.

There are 2 ways to solve this issue, that I've though

[2022-10-19 09:23] kaysiz commented on #18585
I can confirm the above issue, if right tags are added I can pick it up

[2022-10-19 14:43] #18599 closed

[2022-10-19 16:30] mirie opened #18607 "Add “left-hand-sidebar data” to org page, similar to user profile page"
On the user profile page, we have this data:

**X posts published**
**X comments written**
**X tags followed**

Example: https://dev.to/ben
![Image](https://user-images.githubusercontent.com/896728/196746623-adc43fa0-9088-44b0-9814-e1ed9d78c060.png)

We do not have any of that for the Organization profile, but they would like this type of info on display

## Desired outcome

We add a box to the *o

[2022-10-19 18:23] mirie opened #18608 "Replace comments box on non-signed-in User profile page with signup CTA"
## Problem Statement

We currently display a “**Recent comments**” box part-way down the user profile page. We want to remove this and replace it with a CTA to sign in for full member details, including recent comments. While this will act as a CTA to join the site (help with **Activation goals**), one motivator is ongoing SEO improvements. We want to reduce the number of internal backlinks to com

[2022-10-19 19:37] erinb223 opened #18609 "Setting post author overrides post scheduling"
**Describe the bug**

I scheduled [the scheduling feature announcement post on CodeNewbie](https://community.codenewbie.org/codenewbie/this-post-is-scheduled-for-330pm-us-eastern-time-39fe) for 3:30pm ET, which worked as expected. I then switched the author to Ben within the CodeNewbie Team via the Dashboard, and it posted immediately (3:06pm ET). I was able to rectify the issue by resetting the p

[2022-10-19 20:13] mirie opened #18610 "Remove request rate limiting for admin users"
## Context

As an admin, I do not need to be subject to typical rate limits, such as how many reactions I create in a particular time. I am fundamentally *trusted* in this regard.

There could be some edge cases where rate limiting *could* apply (i.e. for the health of shared compute resources like Forem Cloud, but it is likely safe to insert a guard against admins for rate limiting in general unt

[2022-10-19 22:01] mirie commented on #18585
Assigned it to you 😄

[2022-10-19 22:02] mirie commented on #18564
@tanishk-23 assigned it to you! 😄

[2022-10-19 22:03] mirie commented on #18509
@narender2031 assigning it to you! 😄

[2022-10-19 22:08] mirie commented on #18323
Closing for now because cannot replicate

[2022-10-19 22:08] #18323 closed

[2022-10-20 09:58] jaw6 commented on #18380
:ok: #18508 has merged. I'm following along to make sure things are running, but we won't really see a lot of activity until about a week from now. I think we can close this issue as resolved and - if we should encounter any problems later - we can open a new issue.

[2022-10-20 09:58] #18380 closed

[2022-10-20 13:18] benhalpern commented on #17084
This has been fixed

[2022-10-20 13:18] #17084 closed

[2022-10-20 15:54] #18492 closed

[2022-10-20 23:40] fdocr commented on #18577
Those are great details about the issue @heliocola 🙌🏼  Now that you mention this, what do you think about this other alternative 👇🏼 ?

Using [Timecop.freeze](https://github.com/travisjeffery/timecop#usage) (already in use on other specs) to ensure the date is always consistent. I'm not 100% sure what might work for this particular case, but we could pin it to UTC midday with something like `Time.c

[2022-10-21 03:49] heliocola commented on #18577
@fdocr : what I intended to propose in the item 1 in my previous response is to do something line `Time.current.utc.at_noon` and use that to calculate `created_at` for the `page_view` objects with the current `7.times` and `n.hours.ago` thus ensuring all the page_views falls in the same day.

I believe `Timecop` can be used to freeze time at `Time.current.utc.at_noon`, but the fact time is frozen

[2022-10-21 12:15] rt4914 opened #18616 "Left/Right sidebars on org page not visible on smaller screens"
**Describe the bug**

On any org page below the profile-header we can see two sidebars, left one displays `our story` and `our stack` and right sidebar displays `team-members`. On smaller screen the right side bar is not visible on screen and on much-smaller screen even left-side bar is not visible.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to any org page, example https://dev.to/

[2022-10-21 12:16] rt4914 commented on #18616
@mirie Have a look at this issue. If this needs to fixed I think there should be either new designs or the implementation should match to that of profiles.

[2022-10-21 17:42] haszankauna commented on #18608
hello @mirie can I please be assigned this issue?

[2022-10-21 20:00] flimzy commented on #17039
Would a PR be accepted to add this support?

[2022-10-22 06:07] RehmatFalcon opened #18621 "Dev.to site not working"
**Describe the bug**

When I open the dev.to site on my firefox browser, the site does not load properly. I dont know why this is happening.

![image](https://user-images.githubusercontent.com/28915667/197323141-ec94b178-80d8-4326-a184-ea90571e75b2.png)

The site looks like above. I should be logged in, but somehow nothing shows up. If I open the site in incognito mode, it works as expected.

From

[2022-10-22 06:08] RehmatFalcon commented on #18621
I pressed sign out link and confirmed it as well, it still seems to be stuck in the same place.

[2022-10-22 18:31] Moayed-Ellah commented on #18621
The same thing happened to me, but after downgrading firefox it worked well. firefox version
105.0.1

[2022-10-24 00:15] jdgamble555 opened #18622 "Post Options Not Saving"
**Describe the bug**

When creating a post, the Canonical URL does not save.  It seems this is a bigger issue, as all Post Options don't seem to save. You have to publish, and then immediately go back and re-edit your post options.  I believe it might be related to this problem:

https://github.com/forem/forem/issues/18609

**To Reproduce**

1. Create a test post
2.  Type something in `canonical_u

[2022-10-24 13:08] jaw6 opened #18625 "DisplayAd should render consistently with other site content"
Previously, DisplayAds have had slightly different rendering procedures than Articles or Comments. We'd like to streamline this, so that "content blocks" on the site behave in nearly identical ways. ("Nearly" = Articles will still have "calculate reading time".)

DisplayAd should copy:

- [ ] LiquidTags
- [ ] Allowed Attributes (add `colspan` `data-lang` `em` `id` `ref` `rel` `rowspan` `size` `spa

[2022-10-24 14:56] mirie commented on #18625
@jaw6 do you think it makes sense to ask the team for a re-estimate of this work now that the requirements are clearer?

[2022-10-24 15:07] jaw6 commented on #18625
@mirie Yeah, that makes sense to me. I also think we should be having a discussion about possibly breaking this story into sub-stories -- there are some bits that are more effortful than others, and could potentially ship separately, but the story makes less sense in pieces, and it _might_ be less work _overall_ if we approach it as one unit.

[2022-10-24 15:58] fdocr opened #18626 "Fix spacing issue in display ads, and bring under-comment ads to parity with comment CSS"
**Describe the bug**

Currently display ads have an issue where there is no spacing between blocks.

This leads to awkward visualization, like this:

![Image](https://user-images.githubusercontent.com/896728/196751593-cc11f7fd-a0e3-432c-a74f-a8e148294d42.png)

and

![Image](https://user-images.githubusercontent.com/896728/196751776-475e62d3-31ab-4e29-a154-362983d9cd4d.png)

We work around this iss

[2022-10-25 09:30] waveywaves commented on #18556
@fdocr @Ridhwana hi team wanted to get some eyes on this. I can create a PoC as soon as I get a +1 if you would be interested :)

[2022-10-25 13:20] benhalpern opened #18627 "Feed experiment for week of Feed Experiment for Oct-25-2022"
New weekly feed experiment outlined here:

https://docs.google.com/document/d/1H1WsktwvlspsB_1RmsZxfVcJHVcaeorHLjpAWG8Oazw/edit

[2022-10-25 14:57] #18607 closed

[2022-10-25 15:26] #18610 closed

[2022-10-25 17:30] mirie commented on #18608
@haszankauna Thank you for your interest! We actually have this one tagged for our internal team to take on :)

[2022-10-25 19:29] mirie opened #18630 "Remove hardcoded "Sloan" from the template confirmation message"
## User Story (Who / What / Why)

As a trusted member using the "Insert as Mod" template feature, I want the confirmation message to be relevant to me on all Forems (and not reference "Sloan," the DEV mascot, if I'm not on DEV).

## Definition of Done

- [ ] Remove "Sloan" from the confirmation message that appears after using the "Insert as Mod" feature

## Additional Context

This should be a qu

[2022-10-25 20:16] #18627 closed

[2022-10-25 23:33] #18428 closed

[2022-10-25 23:39] pkfrank commented on #18481
Hi @lightalloy sorry for the delay.

The answer is **yes, but not right now**.

Various Forem still rely on HtmlVariants to accomplish certain behavior — whether that's launching a Hackathon on DEV and using "Campaign Mode," or just leaving it "always on" to improve navigation, such as on Forem.dev.  So, while we will remove HtmlVariants in the future, doing so here is out of scope for this partic

[2022-10-26 00:08] fdocr commented on #18556
Thank you for the interest and also for the friendly ping to remind us of this @waveywaves. We discussed this internally and wanted to let you know the tool you mention seems like an interesting option to improve our QA process.

Since we aren't well versed in your product it's hard to assure you we will accept the integration beforehand. If the integration is seamless we will accept it. I just wa

[2022-10-26 08:53] rt4914 opened #18632 "Minor bug in Admin-Config related to updating the button"
**Describe the bug**

Please follow below steps to understand and re-create the bug.

**To Reproduce**

1. Visit http://localhost:3000/admin/customization/config
2. Click on `Authentication`
3. Make sure `email` is enabled
4. Disable the `email-auth` by clicking `Edit` -> `Disable` -> `Confirm Disable`
5. Notice that the button for `Email Address` changes to `Enable`, **this is correct**.

Now fol

[2022-10-26 08:55] rt4914 commented on #18632
@mirie I have added this minor issue to Ready-for-Dev, feel free to make changes in labels, project-board or anything in general.

[2022-10-26 11:46] #18481 closed

[2022-10-26 13:12] Ridhwana commented on #18625
I'm curious to know when we say "DisplayAd should copy:" are we hoping to implement  all the functionality above into our text area within the Display Ad page or are we hoping to re-use the Editor that we use on the user facing side?

[2022-10-26 15:36] jaw6 commented on #18625
@Ridhwana In the short-term, I think we're **not** looking to port the Editor, per se, but I'm less confident about how that might go in the longer-term. My understanding was, short-term, wherever it's possible to enter html/markdown/liquidtags, we want to have consistent expectations about what's allowed and how that renders out. (And, while it's being treated as a separate issue -- #18392 -- the

[2022-10-26 19:24] mirie opened #18637 "Improve "empty state" on user's following tags page by linking to the Tags page"
## User Story (Who / What / Why)

As a user that is not following any tags, I'd like to be encouraged to Discover/Follow tags when looking at my `/dashboard/following_tags` page.

## Definition of Done

- [ ] Update the current "empty state" message below to read: "Follow tags to personalize your feed.  You can explore popular tags [here](/tags)."
- [ ] Add to both the en and fr yml files for cons

[2022-10-26 19:24] mirie opened #18638 "Add Post Sidebar placement option for display ads"
## User Story (Who / What / Why)

As an admin, I want to be able to add a Display Ad unit to the post sidebar in order to be able to more effectively target messaging to readers.

## Definition of Done

- [ ] New placement area added to dropdown in `/admin/customization/display_ads/new`
- [ ] Placement area should be titled: “Post sidebar”
- [ ] Placement area should be under existing content in t

[2022-10-26 19:24] mirie opened #18639 "Render hidden “mobile menu” asynchronously, and associated adjustments"
## User Story (Who / What / Why)

As a Forem admin, I want to improve SEO by increasing crawl efficiency through adjustments to the way Forem renders the "mobile menu."

## Context

For user-oriented performance, and SEO crawl efficiency, we have a major inefficiency in that we render the “mobile menu” (behind the hamburger icon) inline with the rest of the HTML, even though it is not visible righ

[2022-10-26 19:24] mirie opened #18640 "Add "type" to Display Ads"
## User Story (Who / What / Why)

As an admin, I'd like to be able to categorize Display Ads by "type" in order to stay more organized around the different categories of display ads that I'm running on my Forem.

## Definition of Done

- [ ] Dropdown for "Type" added to `/admin/customization/display_ads/new`
- [ ] The initial options for "Type" are:
    - [ ] In-House
    - [ ] Community Ad
    -

[2022-10-26 19:26] mirie opened #18641 "Frontend work to implement multiple reactions (V1)"
## User Story (Who / What / Why)

As a user, I want the ability to leave multiple reactions on posts in order to have more options to express myself and engage with content on the platform.

As an admin, I want to choose the specific reaction options on my community to ensure they resonate with my community members.

## Additional Context

We are going to take on this project in different phases:

[2022-10-26 19:26] mirie opened #18642 "Add API Endpoints for Display Ads"
## User Story (Who / What / Why)

As an admin, I'd like the ability to CRUD (Create, Read, Update, Delete) display ads via API, to help me create and manage my display ads by leveraging external tools.

## Definition of Done

**Create / Update / Delete**
- [ ] Admin is able to create, update, and delete the following Display Ads fields
    - [ ] approved | boolean
    - [ ] body_markdown | text

[2022-10-26 20:25] #18440 closed

[2022-10-27 11:42] rt4914 commented on #17731
This was finished in #17756

[2022-10-27 11:42] #17731 closed

[2022-10-27 11:47] rt4914 opened #18645 "Left/Right sidebars on org page can have similar UI as that of profile-page"
## Current Situation

**Org Page**

[Reference](https://dev.to/devteam)
<img width="800" alt="Org page" src="https://user-images.githubusercontent.com/9396084/198275658-e7e90ec4-cac2-4ada-a2fa-e7be694265b9.png">

**Profile Page**

[Reference](https://dev.to/ben)
<img width="800" alt="Profile Page" src="https://user-images.githubusercontent.com/9396084/198275760-1fc10070-a145-4a73-b84c-09f1193853d8

[2022-10-27 12:06] rt4914 opened #18646 "Update UI for Create Account/ Login CTA on home feed"
For a logged-out user, on home page, after scrolling a bit, user can see following CTA screen

<img width="1277" alt="Screenshot 2022-10-27 at 5 27 45 PM" src="https://user-images.githubusercontent.com/9396084/198279581-73e6602d-8ae6-4256-a42f-2917ee7bc240.png">

In above image the background of the entire CTA is similar to that of the screen-background.

**Suggestion**: Should this UI be changed

[2022-10-27 12:24] kaysiz commented on #18585
@mirie may you kindly add a hacktoberfest tag to the issue :)

[2022-10-27 12:48] rt4914 opened #18647 "Minor bug fixes for Badges"
On https://dev.to/badges

There some minor design changes suggested in below images

<img width="750" alt="Screenshot 2022-10-27 at 4 31 00 PM" src="https://user-images.githubusercontent.com/9396084/198288336-7b4d1923-43f7-4515-b529-684f0266f52d.png">
<img width="750" alt="Screenshot 2022-10-27 at 4 31 12 PM" src="https://user-images.githubusercontent.com/9396084/198288363-915a6277-5fb0-4d81-ae4f-

[2022-10-27 13:21] jaw6 commented on #17087
:wave: Hey folks -- I have tried to replicate this today across three forem instances plus local and the count has been correct in every case. I'm going to close the bug for now, but if it's still happening, please re-open with more details, especially _which page_ is showing the negative following count (it's possible we have counts in multiple places that aren't in sync with each other!)

[2022-10-27 13:21] #17087 closed

[2022-10-27 13:28] jaw6 commented on #18359
:wave: @jmau111 thanks for reporting this. I am looking into the bug, but I am having a little difficulty replicating locally. Can you confirm if this is still happening now? Is the count still incorrect even after you refresh the page?

[2022-10-27 16:00] mirie commented on #18521
@jaw6 , checking on this one -- can you share next steps? I see that you have approvals for your open PR.@benhalpern took a look as well and doesn't have any additional feedback to add.

[2022-10-27 16:46] jmau111 commented on #18359
@jaw6 yes, it happen when you fav a post, and the post is deleted by the author.

[2022-10-27 18:12] benhalpern commented on #18640
I think we could officially consider this _still under review_, and it shouldn't stop us from doing the work, but I think we should have one final discussion about this before we deploy.

Reminder that `type` is a reserved word, and the actual attribute will probably need to be `type_of` or the like.

[2022-10-27 19:56] #18630 closed

[2022-10-28 11:30] jaw6 opened #18649 "Refactor: Extract Article rendering"
Currently, `Article`, `Comment`, and `DisplayAd` each have similar-but-subtly different rendering procedures. We'd like to unify these into one consistent, site-wide process. The first step will be to refactor, extracting `Article`'s current markdown-to-html code into a service object.

Release steps:
[ ] Thorough manual QA to ensure that nothing is broken on a Canary instance
[ ] Community Team /

[2022-10-28 11:32] jaw6 opened #18650 "Refactor: Comment should use rendering service"
After #18649, `Comment` should be refactored to use the newly extracted, unified rendering service.

[2022-10-28 11:34] jaw6 opened #18651 "Refactor: DisplayAd should use rendering service"
After #18649, `DisplayAd` should use the newly extracted rendering service.

Confirm:

* [ ] `DisplayAd` can include `LiquidTags`
* [ ] Same `AllowedAttributes`
* [ ] Same `AllowedTags`

[2022-10-28 11:37] jaw6 commented on #18625
Closing this issue in favor of https://github.com/forem/forem/milestone/9

[2022-10-28 11:37] #18625 closed

[2022-10-28 11:55] Ridhwana commented on #18519
@pkfrank/ @benhalpern I'm reading this excerpt
[code]

I'm not sure I understand what we mean by this, I'm wondering where on the home page would we possibly want to do this in the future. Would we show the display ads based on the tags shown on the homepage right-hand sidebar?

I'm asking this just so that I can ensure that the architecture is flexible enough to account for this and some other us

[2022-10-28 12:01] Ridhwana commented on #18638
Questions that I have:

1. Is this a completely new post placement option on the post page? Hence will we still be keeping "post_comments" that appear under the comments as well?
2. Should we account for the [displaying targeted tags for this placement option](https://github.com/forem/forem/issues/18519) as well?

An aside question that does not necessarily relate to this issue but rather Display

[2022-10-28 12:11] Ridhwana commented on #18642
Should we account for the [targeted tags](https://github.com/forem/forem/issues/18519) in this issue? We've already got some of the backend hooked in, I just need to optimize.

[2022-10-28 12:12] Ridhwana commented on #18642
I also noticed that adding "processed html" is not an option on the UI, do we want to allow that at the moment through the API?

[2022-10-28 13:30] lightalloy commented on #18609
I found out that there are separate problems for updating a scheduled DRAFT (the steps are in the description, but the outcome is different), and for updating a scheduled article (the outcome is the same as described, but we create a scheduled "published", not a draft). I also mentioned it in the linked pr which should solve both issues.

[2022-10-28 14:37] benhalpern commented on #18642
Great call on both points @Ridhwana.

Yes... `processed_html` is a _derived field_ and should be excluded from the `write` actions. And targeted tags should be included.

Since we want all of our APIs to be open to extension, but closed for modification, it's _okay_ to ship without targeted tags and add that as soon as available — but as it's coming down the pike it should definitely be included.

[2022-10-28 14:51] jaw6 commented on #18359
:wave: @jmau111 I made a Loom video of the behavior I experience, can you help me understand how it differs from what you're seeing?

https://www.loom.com/share/12fb7a488636454bad6f97630990a876

[2022-10-28 16:17] jessicaribeiroalves opened #18654 "Comment icon tooltip: content isn't displayed entirely"
**Describe the bug**

The tooltip content isn't displayed entirely when hovering the mouse on comment icon

**To Reproduce**

1. Go to any DEV post (using desktop, 13-inch screen)
2. Hover the mouse on the comment icon placed on the left side of the screen
3. See that it's not possible to read the entire content of the tooltip

**Expected behavior**

Is expected to display the entire tooltip conte

[2022-10-28 16:44] happygregory opened #18658 "Python Script and Running Sublime Text Editor Extension "Combiner""
### Discussed in https://github.com/forem/forem/discussions/18657

<div type='discussions-op-text'>

<sup>Originally posted by **happygregory** October 28, 2022</sup>
Not sure best place to start this discussion, so if a moderator or other user has an idea about getting the small bit of help I need, please do let me know.

The person responsible for the repository specific to the application, the

[2022-10-28 21:20] jmau111 commented on #18359
@jaw6 hey, very nice support. I have 0 archive, 3 on reading list, but the home page keeps saying me "6".

Very weird. How do you handle that in code? SQL query + cache, I guess. Is that so? Would it be different if you create post with a non-admin user?

[2022-10-29 18:04] trusktr opened #18659 "unable to upload video from macOS"
**Describe the bug**

unable to upload video from macOS

**To Reproduce**

1. in macOS
2. hit `cmd+shift+5` to bring up the built-in screen recorder
3. record a short video
4. after finished recording, it will automatically save to desktop as a `.mov` file
5. start writing a dev.to post
6. drag and drop the `.mov` file into the post
7. dev.to says `Image has an unsupported type`
8. 🙏

**Expected b

[2022-10-29 18:28] #16328 closed

[2022-10-31 04:45] anujbhavsar96 commented on #18645
Sounds good ✨.

And apart from that, we can keep all the information cards for the org page on the left side the same as a Profile page to keep the reading pattern consistent.

[2022-10-31 11:23] rt4914 commented on #18645
@anujbhavsar96 Great, in that case only ordering needs to be finalised from top-to-bottom.
We have `Out Story`, `Our Stack`, `Meet the Team` and finally posts + members stats.

Any opinion on what should be the order of these items?

[2022-10-31 13:45] jaw6 commented on #18521
@mirie The PR is currently blocked by a CI status check, but I'm not sure why -- I'll check in Slack and see if there's a good way to nudge that forward, I believe it's otherwise ready to merge.

[2022-10-31 15:45] benhalpern commented on #18519
@Ridhwana I think that is partially correct, but the last point is different than the intended logic.

(Though this is a _great_ question because I don't think this was made clear).

- If a Display Ad has no tags, it is not filtered at all on tags, and all posts can display the Ad.
- If a Display Ad _has_ tags, then any post with any of those tags will display the Ad.

Display Ads tagged should ef

[2022-10-31 16:08] Ridhwana commented on #18519
Thanks so much Ben.

A quick clarification:

I have post that contains the following tags; #career #linux #java. Based on the above, we will show any display ads on that post that have #career or #linux or #java as a targeted tag.

My clarifying question is, on that  same post will we also show the display ads that have no targeted tags associated with them (i.e. the admin has chosen not to add an

[2022-10-31 16:10] jaw6 commented on #18359
@jmau111 :ok: I did a little more spelunking today and I can now replicate the issue. Technically speaking, it isn't deleting a post that causes this; it's when someone uses `unpublish`. That is, when a post is **deleted**, we have a little cascade that removes any `Reaction` made against that post (`readinglist` is a kind of `Reaction`). When a post is **unpublished**, any `Reaction` remain as-is

[2022-10-31 17:31] jmau111 commented on #18359
@jaw6 nice catch!!! Thanks for letting me know. Indeed, it seems _a bit_ intricate :(

[2022-10-31 19:40] maestromac commented on #6567
Thank you for this issue but I don't think this is necessary as it will use up more CI resources than it is worth. Closing.

[2022-10-31 19:40] #6567 closed

[2022-11-01 04:21] anujbhavsar96 commented on #18645
@rt4914 I feel we should display `Meet the Team` first and below all other static information.

We have the same pattern for the Profile page where we display the `Organisations` first _(Interactive information)_ and then all other information.

[2022-11-01 08:03] GeekBar-Boss commented on #18418
I also met this with docker setup on my server.
The post said it may be .env's problem but as I made a mistake in .env the python-dotenv would show a waring message about it.
I tried modifying the APP_DOMAIN item of docker-compose.yml and .env  to 0.0.0.0:3000 and it still didn't work 😟
However,I modified APP_DOMAIN of docker-compose.yml to my server's ip

[2022-11-01 09:51] #18521 closed

[2022-11-01 11:03] richmonde opened #18663 ".env configuration nerver works on forem installed in docker"
Hi, forem team:
After installing forem in docker according to the official docs(just fork, clone, cp .env_sample, and execute bin/container-setup).
I got blank page when I wanted to log in with default Admin authentication.
I tried to modify the .env file to change the APP_DOMAIN as I saw a post on forem.dev saying people should not change the docker-compose.yml.
But any changes in .env made no di

[2022-11-01 13:50] #18609 closed

[2022-11-01 13:57] jaw6 commented on #18454
:wave: @ahmedDev20 Thanks for reporting this! I think I understand what's happening.

We actually send an instruction to the browser that should _only_ permit uploading files with the mime-type `image/(any)`. There's generally broad support for this in modern browsers -- some mobile browsers do not support file-extension limitations but almost *all* support this broader mimetype instruction.

[cod

[2022-11-01 14:11] flimzy opened #18665 "Update article does nothing"
I'm attempting to update an article via the API. I get a 200 response, but no change takes effect. I'm doing this to my dev.to account.

**To Reproduce**

[code]

Returns the following (truncated for brevity):

[code]

1. Create an article (this one is unpublished)
2. Attempt to update the article, for example by changing the title via curl, as illustrated above.
3. Notice the success response, bu

[2022-11-01 18:35] ahmedDev20 commented on #18454
Hi, @jaw6 thanks for taking the time and trying to fix this issue.

As you mentioned, the pop-up does indeed show indicating the wrong file type that was uploaded by the user, but in some cases, it's showing an empty type. I tried uploading a **.psd** file but It's not indicating that type correctly.
In my opinion, I think it's not necessary to show to the user the file type or use a generic type,

[2022-11-01 21:16] benhalpern opened #18669 "Feed experiment for week of Feed Experiment for Oct-25-2022"
New weekly feed experiment outlined here:

https://docs.google.com/document/d/1H1WsktwvlspsB_1RmsZxfVcJHVcaeorHLjpAWG8Oazw/edit

[2022-11-01 21:55] benhalpern commented on #18665
Does the original article have frontmatter setting the title (or something like that?). Not sure that's connected, but maybe worth looking into first?

[2022-11-01 23:25] #17863 closed

[2022-11-02 01:59] pkfrank commented on #18638
Hi @Ridhwana

Yes, this is a new post placement.  We'll keep the current "under the comments" location as well.

Yes, definitely.  Thanks for mentioning that consideration.

This is a great question.

We've talked about this and want keep it brutally simple for now, but we will likely want to revisit a few considerations like this in the future as we collectively deepen our understanding and align

[2022-11-02 02:43] rt4914 commented on #18646
@anujbhavsar96 Any thoughts on this UI change suggestion (mentioned in description)?

[2022-11-02 05:38] anujbhavsar96 commented on #18646
I agree with your suggestion  @rt4914 . We should use a similar UI we used for the profile page. So it'll look something like this,

<img width="1223" alt="Screenshot 2022-11-02 at 11 05 06 AM" src="https://user-images.githubusercontent.com/84626054/199406829-ae29ffc7-cba6-433c-a42f-cac3155f032b.png">

[2022-11-02 11:06] rt4914 commented on #18646
Thanks @anujbhavsar96 If you have created figma file, please share it, otherwise its fine, I can use these screenshots to write code.

[2022-11-02 11:07] #18647 closed

[2022-11-02 11:46] anujbhavsar96 commented on #18646
Here is the [Figma link](https://www.figma.com/file/9UfSjNYJs745w3Q8JCUqsL/Miscellaneous?node-id=915%3A2131) @rt4914

[2022-11-02 11:56] lightalloy opened #18673 "Validation fails when unscheduling a scheduled draft"
**Describe the bug**
Unable to update scheduled draft to unscheduled draft, validation fails.

**To Reproduce**
1) Create a scheduled draft article (choose published date and time in "Post options", then click "Save draft" instead of "Publish")
2) Open "edit" page for this article
3) In the "Post options" remove published date and time, click "Save draft"
4) Get a validation error "published_at: o

[2022-11-02 12:25] lightalloy commented on #18622
Hey, @jdgamble555 , thank you for reporting the issue.
Are you still experiencing it? If it's relevant, could you add more details:
- if you fill in the canonical url in the post options, then click "Done", then go to the "Post options" again (without saving), is it disappearing or remains there?
- do you fill other post options when the bug is happening (e.g. schedule a post), and were they saved

[2022-11-02 13:01] #18669 closed

[2022-11-02 13:18] michael-tharrington commented on #18622
Heyo! Just wanted to relay that I tried to reproduce this bug using both versions of our editors but was unable to do so. Here's a loom that shows my experience:

https://www.loom.com/share/5393f2b897f2424aa3239a694190e857

[2022-11-02 13:42] maestromac commented on #18621
Closing since this was resolved.

[2022-11-02 13:42] #18621 closed

[2022-11-02 14:08] lightalloy commented on #18622
Closing for now because "couldn't reprocude".

[2022-11-02 14:33] maestromac commented on #18659
@trusktr unfortunately the upload is for images only. For videos, you should see an "upload a video" button on the lower left corner of your profile dashboard.

[2022-11-02 14:33] #18659 closed

[2022-11-02 15:50] benhalpern opened #18677 "Typo in field test config"
**Describe the bug**

The latest field test config has the wrong "start date" which affects reporting.

[2022-11-02 15:58] jaw6 commented on #18642
:link: This also needs to coordinate with [#18640 - Add 'type' to DisplayAd](https://github.com/forem/forem/issues/18640).

[2022-11-02 16:06] rt4914 commented on #18638
👍

[2022-11-02 16:06] rt4914 commented on #18637
👍

[2022-11-02 16:07] rt4914 commented on #18640
👍

[2022-11-02 16:08] rt4914 commented on #18642
👍

[2022-11-02 16:13] rt4914 commented on #18637
@mirie Is the link mentioned in the description correct? It points to https://github.com/tags but instead I think it should point to  forem instance tags page example: `localhost:3000/tags` or https://dev.to/tags.

(Maybe the link is incorrect because it has been written as /tags which by default treats as github.com/tags)

[2022-11-02 16:16] jaw6 commented on #18642
I'm having trouble understanding how this API would be used. What sort of external tools would be used to create/manage DisplayAds?

[2022-11-02 17:24] #18677 closed

[2022-11-02 17:27] flimzy commented on #18665
Good thought... it does.  However, setting frontmatter was ineffective, too.  For good measure, I'll try setting a field that's not duplicated in frontmatter and report back.

[2022-11-02 21:55] jdgamble555 commented on #18622
![devto](https://user-images.githubusercontent.com/8333090/199609902-b7993b8f-b563-4e7d-8974-b15f15aa5c9e.gif)

As you can see, this does not work.

J

[2022-11-02 23:47] pkfrank commented on #18519
Hi @Ridhwana , the steps you've outlined here sound great.  Nothing else requires coordination at this stage from my perspective.  Once we get it up and running and can QA on a Canary instance, we can think through any _final/final_ steps that we may need to think through before enabling it on DEV.

[2022-11-03 06:37] surajondev opened #18680 "Description for badges are appearing twice"
**Describe the bug**

In the badge section of the profile, when we click on it to see it in focus. The description of the tag is repeated twice instead of just on time.

**To Reproduce**

1. Go to any dev.to any profile that has at least one badge
2. Scroll down to the badges section
3. Click on any badge to have it in focus
4. In the description of the badge. the description is repeated twice.

*

[2022-11-03 12:18] lightalloy commented on #18622
Thanks for the video, @jdgamble555

[2022-11-03 12:23] lightalloy commented on #18622
The bug occurs when a user pastes in the "canonical url" field using the "right click => paste", so the `onKeyUp` is not triggered, so `onConfigChange` is not executed, and the data is not passed to the backend.

@jdgamble555 for now, you can paste the value to the canonical url field with "ctrl"+"v" until we fix the bug, this way should work.

[2022-11-03 13:08] Ridhwana commented on #18640
Quick clarification on this task, how does the "type" affect the display ad on the user facing side of Forem? Is there any logic to change there?

[2022-11-03 14:10] maestromac commented on #18487
I've confirmed with Andy that it is safe to remove

[2022-11-03 16:00] #18359 closed

[2022-11-03 20:41] maestromac opened #18683 "Improve visibility of mod panel actions when in dark mode"
### Discussed in https://github.com/forem/forem/discussions/18579

<div type='discussions-op-text'>

<sup>Originally posted by **michael-tharrington** October 13, 2022</sup>
It was recently brought up by a couple of DEV moderators that it's really difficult to see your selections when trying to add/remove a tag from someone's post.

Here's a screenshot that illustrates the issue ("discuss" is bein

[2022-11-03 20:50] erinb223 opened #18684 "dev.to zoomed in on Twitter webview"
**Describe the bug**

We received [this report via Twitter from user @StephenGFriend](https://twitter.com/StephenGFriend/status/1587827507461513216):

"This has been happening for many many months. Well before I upgraded to 16. And over multiple Twitter app updates. I usually just view from other devices (when I remember)."

**To Reproduce**

I was not able to reproduce this behavior on my device

[2022-11-03 21:07] maestromac commented on #18658
This is not related to Forem.

[2022-11-03 21:07] #18658 closed

[2022-11-04 09:11] rt4914 commented on #18641
The scope and definition of V1 looks clear and correct to me.

[2022-11-04 10:06] #18454 closed

[2022-11-04 10:42] jaw6 commented on #18641
The reactions system is more of a toggle than a `create` -- a second click removes the previous reaction of same type -- I believe it would likely be less work to preserve this as-is than change it.

Some questions:

* What are the hard-coded reactions for V1? In the Figma, it looks like we might have `like` ❤️ , `bulb` 💡, `rocket` 🚀 , `raised_hands` 🙌 , and `tada` 🎉 . Are those the intended text

[2022-11-04 14:17] benhalpern opened #18685 "Display ad data counting doesn't happen often enough due to overly broad throttle key."
**Describe the bug**

We currently throttle the update of Display Ad tabulation to only happen every 15 minutes, but this is 15 minutes globally, not _per unit_.

**Expected behavior**

This happens on a per unit basis to make this more uniform and have updates happen in a less globally random way.

**Additional context**

I _believe_ this line of code:

[code]

Could be changed to this:

[code]

[2022-11-04 15:28] #18646 closed

[2022-11-04 17:07] benhalpern opened #18688 "The query for total organic page views tallying is taking up an overwhelming amount of resources."
**Describe the bug**

We have functionality within `UpdateOrganicPageViewsWorker` which is taking up to a p99 of 10 seconds, and appears to be among the largest time suck of the whole database:

https://app.datadoghq.com/apm/resource/dev-community-db/postgres.query/30bb19de3e4e146f?query=env%3Aproduction%20service%3Adev-community-db%20operation_name%3Apostgres.query%20resource_name%3A%22SELECT%20S

[2022-11-04 19:31] #18585 closed

[2022-11-04 19:48] mirie commented on #13119
Removing assignment.

[2022-11-04 20:00] hunghvu opened #18690 "bug: badge description is duplicated on dev.to"
**Describe the bug**

Every user's badge description on `dev.to` seems to duplicate. However, this does not seem to be the case for other Forem-based sites like `CodeNewbie`. I checked on different browsers, on desktop and Android, and they behave the same way.

**To Reproduce**

Here is a sample badge on `dev.to`.

![image](https://user-images.githubusercontent.com/62678592/200063042-ffc087b5-15e

[2022-11-04 20:01] mirie commented on #18452
Closing as fixed

[2022-11-04 20:01] #18452 closed

[2022-11-04 20:02] mirie commented on #18387
Closing as we will revisit this

[2022-11-04 20:02] #18387 closed

[2022-11-04 20:13] #18632 closed

[2022-11-04 20:17] mirie commented on #17054
Seems like a dupe of #17144 so closing

[2022-11-04 20:17] #17054 closed

[2022-11-04 20:41] benhalpern commented on #18641
Hey @jaw6, I'll circle back up on Monday if any of this needs to be addressed with more detail or nuance, but here are the answers as I see it:

- We will finalize the new hardcoded reactions within a few days.
- The label should be accounted for with the "name" feature we're giving to all reactions, I.e. "Reading List", and that can be used where needed on the frontend. If this is an incomplete a

[2022-11-04 20:57] #18608 closed

[2022-11-04 22:44] skaunov opened #18691 "Markdown: links in angle brackets are hidden from displaying"
**Describe the bug**

Links in angular brackets are not displayed in post @ <Dev.to>.

**To Reproduce**

1. Publish a post with `<Dev.to>` in (MD) text of the post and see it vanish.

**Expected behavior**

The link bracketed this way should be parsed as a link without symbols outside the brackets (useful for placing links in the end of the sentence before ".").

**Screenshots**

**Desktop (please

[2022-11-06 18:08] ZB333ZB opened #18693 "Can't submit my comment on the welcome thread"
I tried different on Firefox and Chrome browsers.

**Describe the bug**

I tried to submit my comment on the [welcome thread](https://dev.to/welcome).

My comment:

First, it was submitted. But when I reloaded the page, it disappeared. I tried to submit the same comment again, but got a popup message:

**To Reproduce**

Go to [dev.to/welcome](https://dev.to/welcome)

Write a comment and submit

Af

[2022-11-06 23:03] skaunov commented on #18691
fun fact: in comments such links seem to work ok

[2022-11-07 12:03] Ridhwana opened #18696 "Refactoring `display_for` logic on Display Ads"
As we continue adding new functionality to Display Ads, we should refactor out the existing `display_for` method in the Display Ads model.

Referenced comment can be found [here](https://github.com/forem/forem/pull/18664#discussion_r1011964625)

[2022-11-07 14:47] mirie commented on #18640
Surfacing from estimation form: What tests should be expected as part of this work to satisfy definition of done?

[2022-11-07 14:48] mirie commented on #18642
Surfacing from estimation exercise: We should include API documentation as part of the work / definition of done.

[2022-11-07 16:06] flimzy commented on #18665
Finally getting back to this after a holiday.  No luck, as it seems there are no fields that are not duplicated in the frontmatter.  So TL;DR; I cannot update the article, whether I set the new value in frontmatter or as an explicit key in the request.

[2022-11-07 16:07] mirie commented on #18637
@rt4914 yes, it should be `/tags` for the given Forem instance

[2022-11-07 16:10] mirie commented on #18683
@anujbhavsar96 this is being tracked as a bug. Do you have recommendations for how this should look in dark mode?

[2022-11-07 17:10] flimzy commented on #18665
Update: This appears to only be happening with articles originally created using the RSS integration.  If I create a new article via the web interface, or via the API, I am able to edit that article via the API.

[2022-11-07 18:20] mirie opened #18703 "[WIP] Frontend work to implement multiple reactions (V2)"
## User Story (Who / What / Why)

As a user, I want the ability to leave multiple reactions on posts in order to have more options to express myself and engage with content on the platform.

As an admin, I want to choose the specific reaction options on my community to ensure they resonate with my community members.

## Additional Context

We are going to take on this project in different phases:

[2022-11-07 18:35] mirie commented on #18641
@anujbhavsar96 a request from our refinement meeting: Can you delineate V1 from V2 in the figma files and I'll update both issues afterwards. Thanks!

[2022-11-07 19:30] Ladvien commented on #18665
Hello @flimzy,

I'm finding it to be true for any article I've uploaded via the API, when it has been published at least once.

I'm using the API to migrate my blog. My workflow includes adding `publish: false` to the front matter, where I can review it in the UI. However, if at any time I set the article to `publish: true` in the frontmatter, then I can no longer update it via the API. That is, t

[2022-11-07 22:04] #18688 closed

[2022-11-08 05:21] anujbhavsar96 commented on #18683
I feel tweaking an active state CSS a bit should solve this. For example, we can use `background: var(--base-10)` for dark and light modes. @mirie

<img width="902" alt="Screenshot 2022-11-08 at 10 41 44 AM" src="https://user-images.githubusercontent.com/84626054/200480706-8fa45d68-763e-4c84-bfd0-ab71677e44d0.png">

[2022-11-08 06:46] anujbhavsar96 commented on #18641
@mirie Users can only react from the reaction drawer only. This reaction information above the title is to display engagement upfront. And going forward, we will use this information to display [who reacted with a particular reaction](https://github.com/forem/forem/issues/18125) in the modal on click.

[2022-11-08 07:32] anujbhavsar96 commented on #18703
This won't be possible with the current index page card structure and design. We should go ahead and treat this functionality the same as we have in a system where reaction+number serves the purpose of information only.

Also, highlighting a reactions user has reacted to the post would look like they can interact with that particular reaction, but that won't be the case because we don't allow reac

[2022-11-08 07:48] flimzy commented on #18665
@Ladvien Oh, interesting!

[2022-11-08 11:17] #18673 closed

[2022-11-08 12:35] Ladvien commented on #18665
As usual, my problem was user error. When I hit the `update` endpoint I was passing frontmatter and the `article` parameter `publish`. Unfortunately, I was not updating the `publish` to match the frontmatter.

My apologies for distractions.

[2022-11-08 14:12] benhalpern opened #18705 "Feed experiment for week of Feed Experiment for Nov-07-2022"
New weekly feed experiment outlined here:

https://docs.google.com/document/d/1H1WsktwvlspsB_1RmsZxfVcJHVcaeorHLjpAWG8Oazw/edit

[2022-11-08 18:07] #18705 closed

[2022-11-08 20:00] benhalpern commented on #18638
@jaw6 It wasn't totally clear whether [this PR](https://github.com/forem/forem/pull/18686) is ready, so ignore me if you were already on your way here, but I see it isn't yet accounting for `Display unit should be “sticky” when the user scrolls (see below)`. Let me know if you have any confusion about what the ask there is. "Sticky" here refers to the `position:sticky` behavior here moving away fr

[2022-11-09 11:06] jaw6 commented on #18638
@benhalpern Thanks for clarifying, I had misunderstood the `sticky` requirement as applying to the whole sidebar.

What's the intent for how this should work with `permit_adjacent_sponsors` ?

[2022-11-09 13:33] Ridhwana commented on #18696
Some notes about follow up items on this issue:

1. Consider how DisplayAd tags might impact display_ad_event tracking? We aren't currently tracking anything related to tags on the display ad event, but it's potentially relevant to ad success rate to know which tags performed better.
2. Refactor the `for_display` method - I've already added [this](https://github.com/forem/forem/issues/18696) as a

[2022-11-09 13:34] Ridhwana commented on #18519
Some notes about follow up items on this issue:

1. Consider how DisplayAd tags might impact display_ad_event tracking? We aren't currently tracking anything related to tags on the display ad event, but it's potentially relevant to ad success rate to know which tags performed better.
2. Refactor the `for_display` method - I've already added [this](https://github.com/forem/forem/issues/18696) as a

[2022-11-09 17:47] KarthikRaju391 commented on #18285
Hey @aitchiss, can I have a try at this??

[2022-11-10 02:22] mirie opened #18713 "Pages API"
## User Story (Who / What / Why)

As an admin (or super admin), I’d like to be able to CRUD pages via the API in order to improve my ability to administrate pages on my Forem.

## Definition of Done

- [ ]  Users with admin privileges or higher (IE including superadmins) are able to use the Pages API
- [ ]  Pages API supports:
    - [ ]  Creating new pages
    - [ ]  Reading existing pages
    - [

[2022-11-10 02:37] mirie opened #18714 "Remove “Shield” icon in nav for Trusted Users"
## User Story (Who / What / Why)

As an admin, I’d like to simplify the experience for “Trusted” members by removing the shield (/mod) icon from the site header.

![Image](https://user-images.githubusercontent.com/896728/200986752-6bd0b13d-f743-4091-9d2d-ff06963d8825.png)

We can still quietly allow access to `/mod` for the time being — so **no auth changes**, but want to remove the nav icon.

##

[2022-11-10 08:29] jaw6 commented on #18638
Ah, nevermind - `:last-child` to the rescue (though, I note there's a minor inconsistency with top padding/position, I'm not sure it's a showstopper?)

![Screen Recording 2022-11-10 at 09 22 27](https://user-images.githubusercontent.com/2077/201039210-6fb17c00-4354-4b38-8b09-81f3f180f4ea.gif)

![Screen Recording 2022-11-10 at 09 27 03](https://user-images.githubusercontent.com/2077/201039763-fa821

[2022-11-10 08:50] jaw6 commented on #18638
@benhalpern @pkfrank

I want to add though, even just browsing around in lorem-ipsum land, this feels **bad** to me, as a reader. The requested sticky ad behavior is just, like, visually very unpredictable, it makes the whole sidebar feel weird when browsing. Maybe the ad I made for Dev is _particularly_ uninspiring, but pages with an ad feel really bland -- especially pages that would have otherw

[2022-11-10 13:14] Ridhwana commented on #18638
My 2c here as I've been following along 😅 Looking at the video above I agree and have similar thoughts about the sticky behaviour. It feels very jarring to stop the sidebar at the ad like that, and I'm wondering if there are other ways we can draw attention to the ad without impacting the whole page design.

[2022-11-10 13:44] Ridhwana commented on #18519
This [PR](https://github.com/forem/forem/pull/18710) to remove the feature flag is ready for when we’ve enabled the feature flag on DEV and tried out our first tagged ad

[2022-11-10 14:15] benhalpern commented on #18638
Let's definitely have this conversation as an opportunity to rethink any part of this approach at this stage. It's definitely good to bring up these concerns.

As an important part of the conversation, I think it's necessary to note that the same, or similar behavior, is quite common — even standard — across platforms with a similar structure to ours.

https://user-images.githubusercontent.com/310

[2022-11-10 14:48] #18286 closed

[2022-11-10 17:10] jaw6 commented on #18638
My immediate, top-of-mind observation is that the third example seems the closest to our content model (an article vs a stream) and is pretty much "whole sidebar sticky".

[2022-11-10 21:36] mirie commented on #18519
@Ridhwana does this mean that this issue can be moved out of QA to Done?

[2022-11-11 06:35] Ridhwana commented on #18519
It is done in terms of the work - however I was going to move it to done only once I remove the Feature Flags. I'll default to your judgement here.

[2022-11-11 07:18] #18484 closed

[2022-11-11 13:29] #16506 closed

[2022-11-11 13:56] benhalpern commented on #18638
@jaw6 — you're right. It's _sort of_ a hybrid.

That might be a better approach. I'll touch base with @pkfrank and @anujbhavsar96 and we'll re-examine the possibilities here.

We need to solve the current issue where _fully sticky_ doesn't allow for variation in window size and content in a way that's already problematic for existing content, but is basically a non-starter for adding new content t

[2022-11-11 14:00] benhalpern commented on #18640
@jaw6 We are good to unblock this. 👍

[2022-11-11 15:09] rt4914 commented on #18713
I am not sure what this "pages" feature is, can anyone link where I can see this or mainly experiment with this?

[2022-11-11 15:27] stevewhitmore opened #18725 "Publication Date Doesn't Update After Draft"
There's an issue where if you start writing a post and save it to draft the publication date is captured as that date.

For example; if you start writing an article but don't publish and just save the draft on 4/6/2021, then finally get around to publishing on 11/11/2022, the publication date will show as 4/6/2021.

This was the case for me with my post https://dev.to/stevewhitmore/python-powered-

[2022-11-11 15:32] erinb223 commented on #18725
I revised the date via post > admin a few minutes before the timestamp on the tweet in case that helps with problem solving here. Reach out to me if you need more details. Thanks, team!

[2022-11-11 15:38] #18690 closed

[2022-11-11 19:00] pkfrank commented on #18713
Hey @rt4914 , you can use this feature via `/admin/customization/pages`.

[2022-11-12 08:53] heliocola commented on #18577
@fdocr : this issue can be closed now!
👍 to `Timecop.freeze` !

[2022-11-12 10:05] rt4914 commented on #18713
Thanks @pkfrank

I have following queries:
- Our of all the page attributes I was unable to find `landing_page` on `admin/customization/pages/new`
- Is there any specific place where we write documentation of such APIs, for example this issue tracks task for pages-API, if we have created some similar API in past, it is mentioned in some documentation?

[2022-11-13 22:13] KrofDrakula opened #18727 "Embedding a Stackblitz embed into an article forces the page to scroll the instance into view"
**Describe the bug**

Embedding Stackblitz projects (the new beta) in articles causes the page to scroll the embed fully into view without user interaction.

**To Reproduce**

1. Open an [article with a Stackblitz embed](https://dev.to/krofdrakula/reproducible-randomness-and-its-applications-1ong)
2. Immediately after page loads, scroll slightly or leave the page unscrolled.
3. Browser sometimes s

[2022-11-13 23:32] pencilcheck commented on #9532
same

[2022-11-14 06:36] anujbhavsar96 commented on #18638
I feel LinkedIn wants to emphasize more on an ad after scrolling; that's why it's just a sticky ad. On the other hand, the Medium/Twitter wants to emphasize all content on the sidebar, which makes them have different scrolling behavior.

Though I feel Medium/Twitter scrolling behavior is more expected where you keep the bottom content sticky at the bottom and scroll only till the bottom content is

[2022-11-14 14:16] #18622 closed

[2022-11-15 08:19] jaw6 commented on #18713
@rt4914

* `landing_page` might not be visible if you are not a "private Forem" -- there are some details in [the PR that introduced this here](https://github.com/forem/forem/pull/13819)
* Our API documentation lives [here](https://developers.forem.com/api/v1), our V1 API is a [`swagger`](https://swagger.io/) API, the docs are generated automatically via the `rswagger` gem, out of [this sub-folder

[2022-11-15 12:01] lightalloy commented on #18725
Hey, @stevewhitmore , thanks for sharing. Is it possible that you had published your post at some point in the past (e.g. on creating), and then unpublished it?
I have checked for this issue for a new post (creating a draft), and it doesn't save the publication date if not set explicitly. Similar situation is possible if a user creates a drafts and set a future publication date (to schedule a post

[2022-11-15 14:25] benhalpern commented on #18626
I'm re-opening this to fix a small issue related to this implementation

[2022-11-15 15:59] jaw6 commented on #18713
@pkfrank @benhalpern For understanding the context of this issue and our organization goals, how does `Pages API` fit into `Reach`, `Activation`, `Retention`, and `Engagement` ?

[2022-11-15 19:29] mirie commented on #18638
I have changed the status to `Next` as we are working through the requirements and is no longer work that is ready for PR review / deploy.

[2022-11-15 19:58] mirie commented on #18519
The `display_ad_tags` feature flag has been enabled and there are published display ads being used successfully on dev.to:

![Image](https://user-images.githubusercontent.com/896728/202013595-1f61c3f7-3535-4b51-b001-238613b89408.png)

![Image](https://user-images.githubusercontent.com/896728/202013596-9226b7fb-c567-4f81-81bc-36fd9ff0613d.png)

https://forem.team/ben/comment/9gf

[2022-11-15 23:54] mirie opened #18734 "Adjust space between the author + org logo and post title in embeds"
**Describe the bug**

When embedding a link to another Post and the author of the post is publishing under the umbrella of an organization, the icon for the author is too close to the Post title.

https://www.loom.com/share/c87616bc11c84cfcbc328523a8b39b67

It is a little more obvious with the dark theme because there is a black box surround the organization logo.

<img width="747" alt="Screen Sho

[2022-11-16 00:50] benhalpern commented on #18638
Okay, follow up here. @jaw6 @anujbhavsar96 @mirie

After discussing this with @pkfrank and evaluating the different tradeoffs, we are going to proceed with the original design. In order to ensure we don't roll out a jarring experience, we are going to limit the use of this functionality to a small experimental subset of targeting on tags which are limited our own use, and then expand only for non-

[2022-11-16 01:03] benhalpern commented on #18734
Thanks for writing this up @mirie!

@rt4914 — let's note that we _can't_ change HTML in embeds without complicated re-saving mechanisms (Fixing this problem is a bigger project in the near future). So these fixes have to be done purely in CSS....

And with that being said, I think we could make a bunch of small fixes across other embeds we currently have live in an initial step to make things more

[2022-11-16 04:54] KarthikRaju391 commented on #18285
@benhalpern, I see that this issue is not resolved yet, can I have a look at this?

[2022-11-16 12:14] rt4914 commented on #18734
@benhalpern Thanks for the heads-up. Will first try to fix the issue and then improve on the solution.

[2022-11-16 16:08] fdocr commented on #18577
Thanks @heliocola! There's a few other tests that fail occasionally and we can continue to keep track of them here for the time being. We are considering other tools to do this as well though, so I'll keep this one open for a bit longer

[2022-11-16 17:38] mirie opened #18737 "Integrate a flaky spec tracker to automate detection of flaky tests"
Candidate to try out: https://buildpulse.io/

<img width="1077" alt="Screen Shot 2022-11-16 at 12 40 12 PM" src="https://user-images.githubusercontent.com/896728/202253674-16ee1a54-9d43-4a78-8404-99216bd613e3.png">

We'll likely want to use the startup level as the first step and also set a reminder to review before trial period ends to determine if we want to continue with the service (Trial is 1

[2022-11-16 17:45] #18626 closed

[2022-11-16 18:51] maestromac opened #18738 "Article Factory should not default to v1 editor"
**Describe the pain point**
Article factory (`spec/factories/articles.rb`)  is still assuming it is being created with `body_markdown` that includes a front matter. Front Matter is no longer included as part of `body_markdown` in v2 editor and assuming so makes using Article factory very confusing and misleading.

**To Reproduce**
n/a

**Expected behavior**
Unless specified to use the "v1" editor,

[2022-11-16 22:34] pkfrank commented on #18713
Hey @jaw6, thanks for the question.  Here's how we're thinking about this initiative in the context of our priorities:

Some of the projects represented on the Prod/Eng board are features that are **directly in support of a defined company initiative**.  For instance, we've taken on an array of "Display Ads" work that has been immediately put to use by our Community team to highlight different fea

[2022-11-17 08:27] mrpaulishaili commented on #18734
The reason this may be happening can be possible that the image is not relative to it's size of the container, which of course can be a deal in figuring and refactoring through other possible areas that may be impacted by the fix.

[2022-11-17 08:31] mrpaulishaili commented on #18684
This can possibly be a bug related to iOS devices specifically.

[2022-11-17 08:31] Ridhwana commented on #18519
Thanks @mirie, I've moved the PR to ready for review and will merge it as soon as possible.

[2022-11-17 09:18] #18640 closed

[2022-11-17 13:56] Ridhwana commented on #18680
This was closed by https://github.com/forem/forem/pull/18723

[2022-11-17 13:56] #18680 closed

[2022-11-17 13:58] #18685 closed

[2022-11-17 16:27] mirie commented on #18714
Notes from async exercise: A change in `app/views/layouts/_top_bar.html.erb#L37-L39` sounds like it's all it would take, on top of editing any existing specs if any.

[2022-11-17 16:44] mirie commented on #18737
@maestromac did you already get payment stuff sorted? Was about to ask @jessleenyc in Slack, but I see you've already done some integration work so are you unblocked?

[2022-11-17 16:46] fdocr opened #18741 "[API v1 docs] Articles"
We are using [rswag](https://github.com/rswag/rswag) to implement API V1 docs and are missing the following Articles endpoints:

- [x] [Create new Article](https://developers.forem.com/api/v0#tag/articles/operation/createArticle)
- [x] [Published articles sorted by publish date](https://developers.forem.com/api/v0#tag/articles/operation/getLatestArticles)
- [x] [A published article by ID](https://

[2022-11-17 16:49] fdocr opened #18742 "[API v1 docs] Comments"
We are using [rswag](https://github.com/rswag/rswag) to implement API V1 docs and are missing the following Comments endpoints:

- [ ] [Comments](https://developers.forem.com/api/v0#tag/comments/operation/getCommentsByArticleId)
- [ ] [Comment](https://developers.forem.com/api/v0#tag/comments/operation/getCommentById)

rswag files are added as spec/requests/api/v1/docs/<file>_spec.rb files. Check

[2022-11-17 16:50] fdocr opened #18743 "[API v1 docs] Follows"
We are using [rswag](https://github.com/rswag/rswag) to implement API V1 docs and are missing the following Follows endpoints:

- [ ] [Followed tags](https://developers.forem.com/api/v0#tag/follows/operation/getFollowedTags)

[2022-11-17 16:51] fdocr opened #18744 "[API v1 docs] Followers"
We are using [rswag](https://github.com/rswag/rswag) to implement API V1 docs and are missing the following Followers endpoints:

- [ ] [Followers](https://developers.forem.com/api/v0#tag/followers/operation/getFollowers)

[2022-11-17 16:58] fdocr opened #18745 "[API v1 docs] Organizations"
We are using [rswag](https://github.com/rswag/rswag) to implement API V1 docs and are missing the following Organizations endpoints:

- [x] [An organization](https://developers.forem.com/api/v0#tag/organizations/operation/getOrganization)
- [x] [Organization's users](https://developers.forem.com/api/v0#tag/organizations/operation/getOrgUsers)
- [x] [Organization's listings](https://developers.fore

[2022-11-17 16:59] fdocr opened #18746 "[API v1 docs] Podcast Episodes"
We are using [rswag](https://github.com/rswag/rswag) to implement API V1 docs and are missing the following Podcast Episodes endpoints:

- [ ] [Published podcast episodes](https://developers.forem.com/api/v0#tag/podcast-episodes/operation/getPodcastEpisodes)

rswag files are added as `spec/requests/api/v1/docs/<file>_spec.rb` files. Check out [this](https://github.com/forem/forem/pull/18797) examp

[2022-11-17 17:00] fdocr opened #18747 "[API v1 docs] Reading List"
We are using [rswag](https://github.com/rswag/rswag) to implement API V1 docs and are missing the following Reading List endpoints:

- [x] [User's reading list](https://developers.forem.com/api/v0#tag/readinglist/operation/getReadinglist)

rswag files are added as `spec/requests/api/v1/docs/<file>_spec.rb` files. Check out [this](https://github.com/forem/forem/pull/18797) example if you need inspi

[2022-11-17 17:01] fdocr opened #18748 "[API v1 docs] Tags"
We are using [rswag](https://github.com/rswag/rswag) to implement API V1 docs and are missing the following Tags endpoints:

- [ ] [Followed tags](https://developers.forem.com/api/v0#tag/tags/operation/getFollowedTags)
- [ ] [Tags](https://developers.forem.com/api/v0#tag/tags/operation/getTags)

rswag files are added as `spec/requests/api/v1/docs/<file>_spec.rb` files. Check out [this example](htt

[2022-11-17 17:04] fdocr opened #18749 "[API v1 docs] Users"
We are using [rswag](https://github.com/rswag/rswag) to implement API V1 docs and are missing the following Users endpoints:

- [x] [User's articles](https://developers.forem.com/api/v0#tag/users/operation/getUserArticles)
- [x] [User's published articles](https://developers.forem.com/api/v0#tag/users/operation/getUserPublishedArticles)
- [x] [User's unpublished articles](https://developers.forem.

[2022-11-17 17:06] fdocr opened #18750 "[API v1 docs] Videos"
We are using [rswag](https://github.com/rswag/rswag) to implement API V1 docs and are missing the following Videos endpoints:

- [ ] [Articles with a video](https://developers.forem.com/api/v0#tag/videos/operation/getArticlesWithVideo)

rswag files are added as `spec/requests/api/v1/docs/<file>_spec.rb` files. Check out [this](https://github.com/forem/forem/pull/18797) example if you need inspirat

[2022-11-17 17:07] fdocr opened #18751 "[API v1 docs] Profile Image"
We are using [rswag](https://github.com/rswag/rswag) to implement API V1 docs and are missing the following Profile Image endpoints:

- [ ] [User or organization profile picture](https://developers.forem.com/api/v0#tag/profile-images/operation/getProfileImage)

rswag files are added as `spec/requests/api/v1/docs/<file>_spec.rb` files. Check out [this example](https://github.com/forem/forem/pull/18

[2022-11-17 17:41] mirie opened #18752 "Add Redirect-to-URL functionality for Pages"
## User Story (Who / What / Why)

As an admin, I’d like to be able to set up a redirect-to-URL so that I can more effectively move people around my Forem.

## Definition of Done

- [ ]  A new option is added to `/admin/customization/pages/new` that allows me to easily set up a URL `301` redirect

## Additional Context

[https://github.com/forem/forem/discussions/16117](https://github.com/forem/for

[2022-11-17 17:51] mirie commented on #18752
@benhalpern: I have a question about the expectation for how the admin portion should work. I recorded a Loom: https://www.loom.com/share/f29a48f13d8b46cb9db4aa8df671058e

Basically, my question is if the Redirect to URL field is added, say...above the Template field, what is the expectation (I just need to fill out this field and ignore the others?)

[2022-11-17 20:45] mirie opened #18753 "[Draft] Adjust Table layout on Display Ads administration page"
# User Story (Who / What / Why)
As an admin, I'd like to easily view information about existing Display Ads on the administration page so I can more efficiently manage them on my Forem.

When we added a [new type field](https://github.com/forem/forem/issues/18640) to Display Ad, we also displayed this information in the table layout on `/admin/customization/display_ads/`. The table is getting cram

[2022-11-17 21:22] mirie commented on #18753
@pkfrank / @anujbhavsar96 - I captured the discussion happening in the PR into this issue for some thinking by Product/Design

[2022-11-18 05:51] anujbhavsar96 commented on #18753
@mirie One suggestion is to have a 3-dot overflow menu and put `Edit` and `Destroy` actions inside that menu. We have that pattern for the Member Manager page. This will clear up lots of horizontal space for the other column.

Another suggestion is to use icons for `Edit` and `Destroy` instead of buttons.

<img width="1168" alt="image" src="https://user-images.githubusercontent.com/84626054/202630

[2022-11-18 14:02] lightalloy commented on #18206
I looked into this problem and found out that we have the page number hardcoded here:
https://github.com/forem/forem/blob/cb2214a3ac512bcf35a9fbfc0e8f594eebc4ea2b/app/javascript/packs/searchParams.js#L136

I suppose we should implement something similar to https://github.com/forem/forem/blob/main/app/assets/javascripts/initializers/initScrolling.js , or should  initScrolling.js also apply to searc

[2022-11-18 14:54] #18737 closed

[2022-11-18 22:46] mirie opened #18756 "Replace Bootstrap in Admin with Crayons"
# User Story (Who / What / Why)
As a developer, I want a consistent styling approach on Admin and the main application so that it is easier to develop and there's consistent look and feel.

## Additional Context

At some point we were using a library called [Bootstrap](https://github.com/forem/forem/blob/1cb86b973ad5ee44438489c284b636ded60fc824/app/views/layouts/admin.html.erb#L20) to do the styli

[2022-11-19 18:07] devcer opened #18757 "Incorrect interledger payment pointer added to my post"
**Describe the bug**

I have webmonetized my [dev.to](http://dev.to/) profile by adding a payment pointer to my profile. Thanks for building the feature. I have started receiving tips for my content as well. However I see I did not receive any micropayments from the past 5 days.

I have tipped myself using Coil to validate this and I did not receive the payment. I went through the code through `Vi

[2022-11-21 07:29] lvqq opened #18759 "Part of content at the bottom disappears when editing"
**Describe the bug**
Part of the content at the bottom of the article is covered by the editor by default. You need to edit it manually, such as pressing ↓ then it will display.

**To Reproduce**
1. Go to edit your published posts
2. Scroll to the bottom of the edit page
3. Press ↓ to show the covered content

**Expected behavior**
The post shows full content by default when editing

**Screenshots

[2022-11-21 15:27] mirie commented on #18398
Should work on https://github.com/forem/forem/issues/18738 first before.

 This is covered from [Refactor: Extract Article rendering](https://github.com/forem/forem/issues/18649)

@lightalloy I'd like you to chat with the team re: value/ priority of Policy refactoring -- we'll want to break down this work a bit more.

[2022-11-21 16:03] #18645 closed

[2022-11-21 16:21] mirie commented on #18752
Notes from Refinement meeting:
We have hard-coded redirects already setup. Example, https://dev.to/welcome goes to the latest/most recent welcome thread. We want to do this more easily without having to hard-code. Example use case: We want to be able to create new display ads, create a redirect like `/memeMonday` >> redirect to a specific page (example, latest Meme Monday), so that we don't have t

[2022-11-21 21:06] #18725 closed

[2022-11-22 06:09] anujbhavsar96 commented on #18752
So just to be sure, @mirie , here is what I understood. Correct me if I’m wrong,

Initially, we wanted to redirect pages to external URLs. But instead, we are building a distinct feature of redirection, right?

If that’s the case - What could be the technical requirements/inputs required from the user/admins? I guess it would be the `Slug` and `Redirection URL`, right? And I see these functions re

[2022-11-22 08:55] #18638 closed

[2022-11-22 10:39] rt4914 commented on #18683
@mirie Assigning this to myself as while investing this, it was a quick solution.

@anujbhavsar96 Can you also have a look at other two discussions mentioned in description, so that we can fix them too?

Also, @mirie @anujbhavsar96 you can have a look at final output in this PR description https://github.com/forem/forem/pull/18764
If any changes are needed, do let me know.

[2022-11-22 11:01] melakhvision opened #18765 "Can't access to admin dashbord"
I deployed the forem with docker but http://localhost:3000/admin shows 404, page not found

**Screenshot**

![Screenshot_3](https://user-images.githubusercontent.com/45154979/203297397-7e8baf38-a773-4ad0-a70a-1b1e481679be.png)

How can please help ?

**Server (please complete the following information):**
- Device:
- OS, Linux:
- Browser, Firefox:
- Deployement, Docker

[2022-11-22 15:26] KarthikRaju391 opened #18766 "Unable to set up forem using docker"
I am trying to set up Forem on my local machine. I am using WSL with windows and used the docker method to set up the application as shown in the [forem docs](https://developers.forem.com/getting-started/installation/containers) but when I am trying to set up the docker container, I get the following error.
Is there something that I am doing the wrong way? It would help me a lot if someone can hel

[2022-11-22 22:08] benhalpern opened #18768 "Feed experiment for week of Feed Experiment for Nov-22-2022"
New weekly feed experiment outlined here:

https://docs.google.com/document/d/1H1WsktwvlspsB_1RmsZxfVcJHVcaeorHLjpAWG8Oazw/edit

[2022-11-23 08:29] YuriDevAT opened #18772 "A11y bug Color Contrast on self generated Thumbnails when shared on Twitter"
**Describe the bug**

When sharing an article from dev on Twitter, where no thumbnail was created but automatically generated by dev, the text color appears in light gray which is not WCAG2.1 conform. Text to background contrast must be at least 4.5:1.

**To Reproduce**
According to [WebAIM contrast checker](https://webaim.org/resources/contrastchecker/) the contrast is only 1.9:1.

Gray #B5BCCA e

[2022-11-23 08:40] yheuhtozr opened #18773 "Markdown table columns don't align"
**Describe the bug**

I noticed that the table alignment feature does not work on Forem (neither on forem.dev or on dev.to).

**To Reproduce**

1. `bin/startup`
2. Create a post
3. Input:
[code]
4. Preview

**Expected behavior**

Taken from https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet#tables, which is linked from the Markdown guide of editor UI.

![markdown-here example](h

[2022-11-23 13:14] #18519 closed

[2022-11-23 15:01] #18386 closed

[2022-11-23 15:55] michael-tharrington opened #18775 "Editor auto-saving draft should clear after save as draft or publish is performed"
**Describe the bug**

After writing a post and saving it as a draft, I went to my user dashboard and deleted the draft, then returned to write a new post and the content from the draft was still in my post.

**To Reproduce**

1. Go to dev.to/new
2. Write a title + body content, fill in some tags, and navigate away from the screen without saving.
3. Go back to dev.to/new and the content should stil

[2022-11-23 19:03] ludovicianul commented on #17373
No one willing to take a look at this?

[2022-11-24 05:06] anujbhavsar96 commented on #18683
@rt4914  For this just changing the `--border-width`  to `1.5px` should be enough.

<img width="337" alt="Screenshot 2022-11-24 at 10 32 35 AM" src="https://user-images.githubusercontent.com/84626054/203698681-9a33946b-1dd5-48ab-82c1-35fbec46dff7.png">

[2022-11-24 06:42] anujbhavsar96 commented on #18683
@rt4914 ideal solution here looks like below, where we change the `background` to `rgba(255,255,255,0.1)` for the code class. But I think that affects the Code block component as well.

![canary1 forem lol_new](https://user-images.githubusercontent.com/84626054/203710959-d916d6a7-9084-4b8d-9ddd-9199d6de35e4.png)

[2022-11-25 22:03] szabgab opened #18782 "This endpoint is part of the V0 (beta) API."
Using the following Python code:

[code]

I get:

[code]

As far as I can tell I've correctly set the header but this response still tells me I use V0 and tells me what to do. (That I've done)

If I was to fetch the response using `res.json()` it seems the data is there, but I don't understand the warning.

Am I doing something wrong or is this a bug?

[2022-11-27 18:06] rt4914 commented on #18683
@anujbhavsar96 I have applied your suggested changes here https://github.com/forem/forem/pull/18785

[2022-11-28 08:54] rt4914 opened #18786 "Dark mode design issues"
This issue is focused on design issues related to dark mode.

## Bookmark icon Org page
On any organisation page, the bookmark-icon is not clearly visible on article-items. (check bottom right corner in screenshot, right next to `1 min read`)

<img width="500" alt="Screenshot 2022-11-28 at 1 13 05 PM" src="https://user-images.githubusercontent.com/9396084/204234250-98f9f5c9-82ac-4d14-9f8d-d8a9d47c

[2022-11-28 10:51] #18734 closed

[2022-11-28 17:06] mirie commented on #18738
@lightalloy Notes from refinement (which I encourage you to take a looksee too!)

Approach:
- Challenge: We don’t have anything in the app to determine path and what it is (is it an article, it is a podcast)
- Will need to figure out a better way to determine what slug determines to which model — as the first step...Breaking out the single controller into own vs breaking into own service objects
—

[2022-11-28 17:19] fdocr commented on #18757
Thank you for the report @devcer. I can tell we have logic in place to update the payment pointer on your post. If I lookup your link I can see it there:

<img width="1070" alt="Screen Shot 2022-11-28 at 11 16 15" src="https://user-images.githubusercontent.com/6045239/204340315-cef9b5ce-8d5e-42aa-8cbb-79727d95a166.png">

However, that other link you mention is also available within the page

<img

[2022-11-28 19:50] devcer commented on #18757
Thank you @fdocr for checking this. Also, Let me try to do a payment myself and see if I receive the payment. it didn't go through last time. I didn't know that a pointer inside an `iframe` can receive payments as well.

[2022-11-29 12:10] lightalloy commented on #18738
@mirie I suppose your comment is related to  #18398 , not to this particular issue.

[2022-11-29 12:11] lightalloy commented on #18398
https://github.com/forem/forem/issues/18738#issuecomment-1329445124

[2022-11-29 12:52] lightalloy commented on #2914
@mirie 's comment:

[2022-11-29 14:29] mirie commented on #18738
YES! You're totally right! Whoops!

[2022-11-29 15:08] fdocr commented on #18757
Yes, that would be great if you can test that payments work with your pointer @devcer. Our implementation hasn't changed for some time now and I'm not well versed on the tools used for how to test this (either in production/sandbox environments).

That's just a hypothesis from my end. I can assure you the correct pointer you shared (`$ilp.uphold.com/wypi4eKYYYJw`) is available in the `meta` tag of

[2022-11-29 15:29] fdocr commented on #18782
Hi @szabgab, that warning is a message we're using to notify everyone currently using the V0 API that a new version (V1) is available and we encourage you upgrade since we'll get rid of V0 sometime in the near future.

Documentation isn't fully available under V1 but all of V0 endpoints are available in V1 without any major differences so you can reference either of them in the mean time.

You can

[2022-11-29 15:30] #18782 closed

[2022-11-29 15:31] szabgab commented on #18782
Thanks for the reply. Are you saying that my code used the V1 correctly?

[2022-11-29 16:37] mirie commented on #18639
@Ridhwana : When you have a moment, can you provide an update here on this issue? I have lost track of the Slack conversation and want to better understand the status of this issue and if any additional support is needed

[2022-11-29 22:55] mirie commented on #18756
Notes from refinement meeting:
- may need to check for JS dependencies and then we can remove JQuery as well
- Potential to break user facing stuff — we need to go through every page to check that everything is looking fine. Testing portion on this will be tedious

How are we committed to Crayons at this stage?
- Do we want to maintain Tailwind ?
- How much does it diverge?
- Crayons library is no

[2022-11-30 04:52] fdocr commented on #18782
Not really. It's currently using V0 (the default). If you send the Accept header as I mentioned above it would start using V1 (explicitly requesting that version) and you'll stop receiving the warning header in the response. You'll likely see no difference in the result though since V1 includes all of the V0 endpoints, so in a way it would indeed use V1 correctly.

[2022-11-30 12:06] #18683 closed

[2022-11-30 12:06] #18654 closed

[2022-11-30 16:56] Ridhwana commented on #18639
@mirie we're going to go with HTML over the wire (instead of the JSON implementation [here](https://github.com/forem/forem/pull/18735)). I've created a [PR](https://github.com/forem/forem/pull/18760) but then got sick, I'll finish up this PR this week.

[2022-11-30 17:07] Tom-H-L opened #18794 "User account Email: Length restricted to 50 characters."
Experienced on dev.to, not sure if it is a dev.to setting or a forem issue.
The maximum limit for the email alias (before @) is 64 characters. The max limit for the domain part (after @) is 255 characters.
These limits should be respected. In addition to all allowed special characters: https://en.wikipedia.org/wiki/Email_address#Syntax

Long email addresses are becoming more an more popular as the

[2022-11-30 17:34] fdocr commented on #18577
Closing in favor of keeping track with [buildpulse](https://buildpulse.io/@forem/forem) dashboard

[2022-11-30 17:34] #18577 closed

[2022-11-30 18:54] mirie commented on #13084
@lboogie04 This is in PR but I don't see any open PRs by you for this work -- can you confirm?

[2022-11-30 18:56] mirie commented on #18192
Noting the conversation in Slack regarding approach so it doesn't get lost in the ether: https://forem-team.slack.com/archives/C032JUL5YSF/p1669742733646919?thread_ts=1669741360.802519&cid=C032JUL5YSF

[2022-11-30 18:58] mirie commented on #13119
Also @lboogie04 not sure if these are related? https://github.com/forem/forem/issues/13084#issuecomment-1332597187 but if the PR addresses both, that would be good to note

[2022-11-30 18:59] mirie commented on #18374
@rt4914 / @fdocr : Who would be best to tackle this one?

[2022-11-30 19:01] wojtekxtx commented on #18374
@mirie no idea TBH

[2022-11-30 20:40] mirie commented on #18752
@anujbhavsar96 That is what was brought up in the refinement discussion -- that maybe we risk overloading too much functionality into this one area, and perhaps we should consider separating out these two different pieces of functionality / areas in admin:
(1) Overriding an existing template / Adding a HTML based template (Pages)
(2) Redirects

`/admin/customization/redirection` as path (and also

[2022-11-30 20:44] mirie opened #18796 "Round Robin Improvements: Notifications"
## User Story (Who / What / Why)

As an admin, I’d like to adjust the “Round Robin Notification” system in order to improve my ability to nudge certain actions via this platform mechanic.

We will have bigger changes later, but starting with a couple small adjustments to send only to recently active trusted users, and to send to a few more of them. (I.e. fewer notifications buried with inactive tr

[2022-11-30 20:48] mirie commented on #18752
@pkfrank Do you agree with this direction for Redirect implementation?

[2022-11-30 21:00] mirie commented on #18796
@pkfrank:

Question:

These appear to be just in app notifications (based on the screenshot), but I want to confirm if the change will apply to in-app (web) notifications, mobile notifications, and email notifications? OR just app (web) notifications?
2. This is what the user notifications setting page looks like:

![Image](https://user-images.githubusercontent.com/896728/204906526-31d67889-29f7-4

[2022-11-30 21:15] mirie commented on #18138
@pkfrank: Looking at this old issue and it seems relatively light weight if we change the current error message to be:

"Only Super Admins or Support Admins are allowed to banish users."

What do you think?

[2022-11-30 21:20] mirie commented on #18033
@michael-tharrington where did you see this? On https://developers.forem.com/?