[2021-07-10 04:34] keshavbiswa commented on #14126
I can take this up if no one's working on this

[2021-07-10 05:15] keshavbiswa commented on #14182
I can take a look at this if no one's looking 👀

[2021-07-10 22:32] Bas-Man commented on #14190
Closed #14186

[2021-07-10 22:32] #14190 closed

[2021-07-10 22:42] Bas-Man commented on #14189
Resolved by #14186?

[2021-07-11 07:12] scampiuk opened #14193 "'Moderate Post' allows me to boost my own posts"
As someone with access to the Mod Center, I can see the controls to rate my own posts as high quality, given them a 'boost' on the platform.  This could be exploited by people to raise their own posts above others.

I'm not 100% sure that this is the intended design, but it feels like something I shouldn't be able to do :)

## How to replicate
* Be someone with Mod Center access
* Publish a post
*

[2021-07-11 14:44] fdoxyz commented on #14189
Thank you both for reporting this. We noticed the bug and it was indeed fixed by #14186. A backlog of notifications did went out by mistake, but it is now resolved.

We sent out an email to those affected with a bit of context as well. I'm sharing it here in case it didn't reach you or anyone else (the link points to #14186):

<img width="591" alt="Screen Shot 2021-07-11 at 08 38 32" src="https://

[2021-07-11 14:44] #14189 closed

[2021-07-11 21:57] justinenz commented on #14188
I have the same thing as @Afif13 :

 If I go edit my profile and completely remove my work information:

The Work section still displays on the left:

[2021-07-11 22:23] veerreshr opened #14195 "article-show-more-dropdown is partially hidden in draft post view"
**Describe the bug**

A Part of article-show-more-dropdown is hidden under the App bar. When every I try to open a draft post and click on show more on the left side, I don't properly see the pop up menu(dropdown) for share options.

**To Reproduce**

1. Create a draft post
2. Open the post from dashboard(Not edit, just open)
3. Click on 3 dots(show more)
4. You see a part of pop up menu is hidden

[2021-07-12 10:41] rhymes commented on #14195
Hi @veerreshr, thank you for the report! I'm going to close this as a duplicate of https://github.com/forem/forem/issues/14195 :-)

[2021-07-12 10:41] #14195 closed

[2021-07-12 10:51] Afif13 commented on #14193
I don't think it's an issue if you can rate your post and it's a good one. What could be an issue is if you use it to only boost your posts and downvote all the others but I doubt a trusted user will do this ;)

I don't have an idea about the exact algorithm but I think at a large scale it won't have a big impact:
* If your post is bad you will be the only one to upvote it and other posts will hav

[2021-07-12 11:02] #14126 closed

[2021-07-12 11:27] veerreshr commented on #14195
@rhymes I did not get how it's a duplicate of same issue ? Could you confirm it please. When ever I click on duplicate link you provided, that is leading to the same this issue, I'm not sure how it's a duplicate.

[2021-07-12 11:30] Link2Twenty commented on #14195
I think @rhymes pasted the wrong issue number. It's the same as this issue #13195

[2021-07-12 11:31] rhymes commented on #14195
Thank you @Link2Twenty! Changed the link!

[2021-07-12 12:03] citizen428 commented on #14188
Sorry for this, it should all be fixed when we merge this: https://github.com/forem/forem/pull/14206

[2021-07-12 12:11] aitchiss commented on #14182
Hey @keshavbiswa - thank you so much for adding the `aria-pressed` attributes to these buttons! There's one final part of this issue to complete before we close it off:

Are you keen to add this final fix too? No worries if you don't have time, just since you've already got your head around this code 😄

[2021-07-12 12:15] keshavbiswa commented on #14182
Yes Yes definitely 😄

[2021-07-12 12:17] aitchiss commented on #14182
Awesome - thank you! 🙌

[2021-07-12 13:25] veerreshr commented on #13195
Hello, **If someone is not working on this, I would like to work on this.**
This is what I have analyzed:

1. This is only occurring for device sizes with resolution more than 768px width
2. One fix could be to show dropdown in the downward direction for devices width more than 768px

I have added 2 **utility classes**(not custom css) to the element's class, this is how its looking on making the d

[2021-07-12 13:34] citizen428 commented on #14188
As a quick fix, we are running a script that will remove the extraneous "at <employer name>".

[2021-07-12 14:11] cmgorton commented on #13195
Thank you for offering to work on this @veerreshr and all of your great suggestions. We are asking our product team their thoughts on your suggestions and will let you know which one they think you should go with.

[2021-07-12 16:05] Zhao-Andy commented on #14140
Hey @hieptl, I believe this is timing out because you have some comments on your post. Can you try deleting your post again? I'd like to follow the request to see where the delays are happening.

[2021-07-12 16:35] hieptl commented on #14140
Hi @Zhao-Andy , I deleted my post on 23:33 pm GTM+7. Please help me check it. Thank you so much!

[2021-07-12 16:55] Zhao-Andy commented on #14140
@hieptl thank you! Adding this error backtrace for context:
https://app.honeybadger.io/fault/66984/6a4d48021cd0b59a5c7f3abcc58b9c91

I think we have a cascading callback issue here, where we are performing some unnecessary actions like busting caches in this context (destroying an article). Will continue to take a look into it!

In the meantime I can delete your article for you if you'd like.

[2021-07-12 16:58] hieptl commented on #14140
@Zhao-Andy: I am so glad to hear that. Please help me delete the post. Thank you for supporting me!

[2021-07-12 20:42] cmgorton commented on #13195
@veerreshr I am going to assign you to this issue. Our product team said they like the solution you have proposed. And out of the options they "think the left-most solution works for what should be accomplished here".

[2021-07-12 22:57] veerreshr commented on #13195
Hey I am having trouble setting up forem locally. I am using Ubuntu 20.04.2 LTS and I tried setting up using docker compose.
Error is something related to authorizing the admin, I am not sure what to do here, could some one help me in setting up.
![Screenshot from 2021-07-13 04-20-31](https://user-images.githubusercontent.com/59141533/125365787-84f04000-e392-11eb-98a3-e60595e6ed5a.png)

[2021-07-13 02:56] Zhao-Andy commented on #14140
@hieptl deleted your post :)

[2021-07-13 04:33] hieptl commented on #14140
Hi @Zhao-Andy , thank you so much!

[2021-07-13 08:34] aitchiss commented on #14182
Closed by @keshavbiswa in #14211 and #14192 - nice work! 🎉

[2021-07-13 08:34] #14182 closed

[2021-07-13 08:35] keshavbiswa commented on #14129
I can work on this.

[2021-07-13 08:37] keshavbiswa commented on #14017
I can work on this, if no one's working.

[2021-07-13 08:44] rhymes commented on #14129
Assigned to you @keshavbiswa, thanks! Let us know when/if you need assistance!

[2021-07-13 08:45] rhymes commented on #14017
Assigned to you @keshavbiswa!

[2021-07-13 11:10] aitchiss opened #14220 "Optimise comment reaction buttons for accessibility"
We could optimise the accessibility of our comment "Like" buttons by making them [toggle buttons](https://inclusive-components.design/toggle-button/). Currently if a screen reader user clicks the like button, there is no feedback to let them know that the state of the button is now "on", and a toggle button would solve that.

We also have very verbose label text for these buttons - they are announ

[2021-07-13 17:33] wyhaines commented on #3739
Just FYI -- the original link in the issue (https://codeclimate.com/github/thepracticaldev/dev.to/issues) does not exist anymore.

[2021-07-13 18:03] nickytonline commented on #3739
I'm going to go ahead and close this as that project no longer exists in Code Climate.

[2021-07-13 18:03] #3739 closed

[2021-07-13 18:50] nickytonline opened #14227 "No UI Feedback when submitting comments that result in an HTTP 503 error."
**Describe the bug**

While investigating the cause of #14183, I discovered that we were not handling the case when the server returns an [HTTP 503](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/503) error code.

https://github.com/forem/forem/blob/e50db312fb5181c674a80b0c0e86f06752be8afc/app/assets/javascripts/initializers/initializeCommentsPage.js.erb#L293-L300

If the `response.statu

[2021-07-13 19:21] jgaskins commented on #13195
@veerreshr If you're able to bring up a Rails console, you can run `User.first.add_role(:super_admin)` to give your user account access to everything

[2021-07-13 21:31] thomasbnt opened #14229 "Welcome email when I changed Mod notifications of 'Send me occasional community-success'"
**Describe the bug**
Receive a welcome email when I changed Mod notifications of 'Send me occasional community-success'

**To Reproduce**
1. Go to https://dev.to/settings/notifications
2. Check **Send me occasional community-success mod notifications**
3. [Got this email](https://i.thomasbnt.dev/i/xkjpu.png)

**Expected behavior**
Don't receive welcome email when we resubscribe to this email notif

[2021-07-14 01:18] veerreshr commented on #13195
thanks @jgaskins , Now I am able to set it up and running. Now I am left with few more douts? should I implement the feature so it only effects the draft page. What I mean is, the dropdown is common for both draft articles and non draft articles, so if I change the dropdown layout, it will change for both draft and non draft articles. **Should I change it only for draft pages(can be achieved with

[2021-07-14 02:27] squarebat commented on #14114
I will take this up.

[2021-07-14 03:54] zeotuan commented on #14227
@nickytonline Hi! I'm pretty new and i have a question.
Doesn't the else statement of  the callback function ParseError also capture the 503 response status and show it with showUserAlertModel?
If that is not the case then is the response.json() promise get rejected without being caught?

[2021-07-14 04:20] keshavbiswa commented on #14129
Not being able to reproduce this locally @pkfrank.

[2021-07-14 04:36] keshavbiswa commented on #14220
Looks a lot similar to #14182, you can assign this to me as well.

[2021-07-14 06:44] zeotuan commented on #13679
since this issue is about Bugs in the "Copy article URL to clipboard" feature, i will post this here instead of opening a new issue. Might not be a big issue since most people click away after copied to clipboard anyway.

**Describe the bug:**

For some screen resolution, The Dynamic Confirm the message button go under the top header
![image](https://user-images.githubusercontent.com/48720253/1255

[2021-07-14 07:21] aitchiss commented on #14220
Yep definitely super-similar. Thanks for taking it on @keshavbiswa!

[2021-07-14 08:00] Link2Twenty commented on #14227
@zeotuan here's a demo that might make what is going on a little clearer

<https://jsfiddle.net/link2twenty/r1a48xdk/>

[2021-07-14 08:40] zeotuan commented on #13679
Also i am happy to help with this issue if no one is currently working on it.

[2021-07-14 09:18] zeotuan commented on #14227
@Link2Twenty Ah i got it! Thank you!
 I would like to work on this issue. can i get assigned?

[2021-07-14 10:40] nickytonline commented on #14227
I've assigned it to you @zeotuan. 😎

[2021-07-14 11:40] BackendDev-Auction commented on #13679
If no ones on this, I'd like to give this a shot

[2021-07-14 11:51] vishaldeepak commented on #13679
If no ones on this, I'd like to give this a shot

[2021-07-14 11:59] sbappan commented on #13679
I haven't been able to work on this issue. Sorry, @cmgorton.

[2021-07-14 13:14] veerreshr commented on #13195
@cmgorton @rhymes please look into the above confusion

[2021-07-14 14:09] MichalBryxi opened #14232 "Not getting e-mail notifications on comments on my posts"
**Describe the bug**

**To Reproduce**

1. Write an article
2. Enable "Send me an email when someone replies to me in a comment thread "
3. Let other user comment on said article
4. Sadly get no email notification about said comment

**Expected behavior**

I will get an e-mail notification because "replies to me" _can_ be understood as replied to _my_ article.

**Screenshots**

Said settings:

![S

[2021-07-14 14:14] rhymes commented on #14129
@keshavbiswa have you enabled your caching? Run `bundle exec rails dev:cache` which turns on all remaining types of caching...

[2021-07-14 14:17] yugal95 commented on #4523
Is this issue still active or in consideration?

[2021-07-14 14:23] keshavbiswa commented on #14129
@rhymes I will enable and try to reproduce this then. Thanks 😄

[2021-07-14 14:31] cmgorton commented on #4523
Thanks for asking! I believe it is still in consideration.
We recently released a feature for admins to pin an article and this is a similar feature but for authors of posts. I'll ping @forem/product here to hear their thoughts.

[2021-07-14 14:46] rhymes commented on #13679
@vishaldeepak I've assigned to you

@sbappan thanks for trying! :)

[2021-07-14 14:47] rhymes commented on #13195
@veerreshr I think it's necessary for both! I don't think there's a distinction in the CSS between the two types of posts

[2021-07-14 18:54] nerdfiles opened #14235 "Old content model field for learning and hacking on fail validation"
**Describe the bug**

Two fields with old content under the user profile fail new validation rules in form submission

**To Reproduce**

1. Go to /profile settings (I guess?)
2. Try to save data for my profile content (notice i have a timestamp update older than your changeset relating to the offending validation rule (max-length on the textarea element).

**Expected behavior**

Expects to save a

[2021-07-15 04:20] zeotuan commented on #13679
I actually made a quick fix for this yesterday while i was looking into some other UI problem. should i create a pull request and we can work up from there?

[2021-07-15 04:52] vishaldeepak commented on #13679
@zeotuan I dont mind, but are you planning to finish the entire Issue?

[2021-07-15 05:32] keshavbiswa commented on #14129
Looks like a cache problem, coming from application.html layout

[code]

[2021-07-15 08:57] rhymes commented on #14235
I don't think this is a bug @nerdfiles, we introduced these limits a while ago (at least October 2020, but I think it predates that change). Can you alter the content of those fields to stay within limits? Thank you!

[2021-07-15 09:15] rhymes commented on #14129
Hi @keshavbiswa, thanks for finding the problem, you could use `bust_content_change_caches` where this change is to be made, similarly to

https://github.com/forem/forem/blob/871dfc4582d82c3dde2f43e00d7319b31d132a9d/app/controllers/admin/navigation_links_controller.rb#L3

This method busts the cache so that the next time that cached part will be recomputed

[2021-07-15 09:18] zeotuan commented on #13679
@vishaldeepak I have only fix the main problem that was addressed by @aitchiss. i am going to make some test before opening the pull request for review.

[2021-07-15 09:24] #14227 closed

[2021-07-15 10:00] vishaldeepak commented on #13679
If thats the case you might as well solve the entire thing

[2021-07-15 10:45] #13195 closed

[2021-07-15 11:00] citizen428 commented on #14188
We now deployed another quick fix so the duplicated information is no longer shown on the profile.

<img width="1038" alt="Screen Shot 2021-07-15 at 17 59 33" src="https://user-images.githubusercontent.com/47985/125777521-901f8df4-f16c-4b89-a655-e387709b6549.png">

I should have done this earlier but I didn't expect the proper fix to take as long as it did.

I'll close this issue now.

[2021-07-15 11:00] #14188 closed

[2021-07-15 12:23] aayush-05 commented on #14100
Can I pick this up?

[2021-07-15 14:28] aitchiss opened #14245 "Fix flaky spec in `link_tag_spec.rb`"
We had a couple of failures in a row for the spec "LinkTag also tries to look for article by organization if failed to find by username" - see full output below.

It looks like name escaping happens when we render - and if Faker generates a name like "O'Somebody" the spec will fail. The fix for this should be fairly straightforward, adjusting it to cover santizing/escaping the string output before

[2021-07-15 15:55] benhalpern opened #14247 "Flash of "Install Forem" bar on all browsers"
**Describe the bug**

I'm getting the prompt to install Forems for a second on all browsers. I am seeing this everywhere including _within_ the Forem app. This is bad for UX and SEO.

**To Reproduce**

- Visit a Forem
- Keep eyes on bottom of screen

**Expected behavior**

This is never visible in this way.

**Screenshots**

https://user-images.githubusercontent.com/3102842/125818627-cddf99c3-0169

[2021-07-15 16:57] #14247 closed

[2021-07-15 16:59] #14114 closed

[2021-07-15 18:23] vishaldeepak commented on #4002
I'd like to try this, can I be assigned, thank you

[2021-07-15 18:34] #14245 closed

[2021-07-16 01:07] zeotuan commented on #14000
Hi can i get assgined to this problem? I think i have found the solution for this.

[2021-07-16 03:00] keshavbiswa commented on #14129
@rhymes This worked like a charm. Although there was already bust_content_change_caches inside the action. Not sure why that didn't bust the cache and after_action did? 😕

[2021-07-16 15:42] keshavbiswa commented on #14017
Think this issue can be closed @rhymes

[2021-07-16 16:16] lornajane commented on #13185
Is it possible that someone else has added my public feed to their account and this is why can't publish with a canonical URL to dev.to any more? I can't find a live duplicate of my post but I also can't publish with the canonical URL

[2021-07-18 06:40] squarebat commented on #12486
I'll take this up

[2021-07-19 02:01] citizen428 commented on #13185
What's your feed's URL @lornajane?

[2021-07-19 08:16] rhymes commented on #4002
@vishaldeepak, done, thank you!

[2021-07-19 08:20] rhymes commented on #14129
@keshavbiswa it might have been called too early :)

[2021-07-19 08:32] keshavbiswa commented on #14062
I can take this up :)

[2021-07-19 08:37] rhymes commented on #14017
@keshavbiswa tip for the future, if in the description you write `Closes #ID_OF_THE_ISSUE` or `Fixes #ID_OF_THE_ISSUE`, the issues will be closed automatically by GitHub on merge :)

[2021-07-19 08:37] #14017 closed

[2021-07-19 08:40] keshavbiswa commented on #14017
@rhymes thanks for the tip 😄

[2021-07-19 09:25] aitchiss commented on #14069
This was closed in https://github.com/forem/forem/pull/14085

[2021-07-19 09:25] #14069 closed

[2021-07-19 14:33] dhurba87 commented on #13444
@benhalpern I think this issue is obsolete now as LCP seems fine in mobile and desktop. [Lighhouse report](https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fdev.to%2Ft%2Fjavascript)
![image](https://user-images.githubusercontent.com/7259726/126176916-9ab21928-f149-4b82-9973-f2a95a524bd8.png)

[2021-07-19 15:13] ngtrian opened #14280 "A part of the series currently view is hidden in more parts..."
- In the Series List, the part number 3, although viewing, is still not in the Series List, which is hidden in the **more parts..**. I think I should show the next part after the current part in Series List without having to press another action

   https://user-images.githubusercontent.com/4327817/126183522-d4f3137f-8eba-47af-b490-0b8e3bce09e4.mp4

- In the Series List at the end of the post, eve

[2021-07-19 16:02] #9759 closed

[2021-07-19 16:12] Zhao-Andy commented on #14153
So I think an admin is able to delete the org if they are the last member of the org. I think that's the best way out for an admin looking to leave an organization, so that we aren't left with admin-less orgs.

But yeah, as Dan said if the org does have other members they need to make an organization admin first before exiting.

[2021-07-19 21:58] maestromac commented on #13936
Closing this issue due to the problem highlighted on https://github.com/forem/forem/pull/14141#issuecomment-882888167

[2021-07-19 21:58] #13936 closed

[2021-07-20 01:25] zeotuan commented on #10873
Seem like this issue hasn't been resolved and hasn't been active for a while. I can take on this issue @nickytonline

[2021-07-20 02:22] nickytonline commented on #10873
@samrae7, I'm assigning this to @zeotuan as we haven't heard back from you since December 2020. Thanks again for willing to take on an issue and we look forward to you contributing to the code base in the future. 😎

[2021-07-20 04:18] samrae7 commented on #10873
@nickytonline really sorry about that. Thanks for following up

[2021-07-20 04:43] zeotuan commented on #14001
Just a suggestion This might require a bit more work but it would be nice if instead of having a submit button, we have a search suggestion dropdown where the first option will be what the user entered and all others options will be suggestions.

[2021-07-20 07:30] aitchiss commented on #14001
This is a nice idea! Our design team have been considering ways to improve the search functionality with some kind of autosuggest, so this is definitely on our radar, but would be a future enhancement 🙂

[2021-07-20 09:10] aitchiss commented on #13663
@NV404 As I mentioned on your PR, I've unassigned you from this issue for now as we're not sure if you're still keen to continue working on this. If you would still like to contribute with this issue, please just let us know and we'll assign you again 🙂

Thanks again for all your efforts so far on this issue!

[2021-07-20 14:09] #13679 closed

[2021-07-20 14:28] cmgorton commented on #13987
@aitchiss @nickytonline is the frontend team working on this issue? Wondering if I can give it to the MLH fellows. They have been very active this term and I think they could handle an **xs** task.

[2021-07-20 15:57] aayush-05 commented on #14100
@aitchiss do we want the button (for opening the post in a separate window) inside this iframe (refer image) or add a new row at the top of the iframes and add it there?
![image](https://user-images.githubusercontent.com/47032027/126356168-94900cbd-157a-49f2-9b51-597f5cd9511e.png)

[2021-07-20 17:59] fdoxyz commented on #13890
I missed closing this issue when it got merged last week. #14119 solves this problem. Thank you again everyone for weighing in on the topic.

[2021-07-20 17:59] #13890 closed

[2021-07-20 19:53] michael-tharrington opened #14291 "Homefeed sponsorship image bug"
**Describe the bug**

Uploading organization images (in edit profile) works fine but when sponsors are displayed on the homefeed, a placeholder image is being used instead of the organizations images.

**Expected behavior**

Adding a sponsor to the homepage should use the sponsor's image (that they set from their org) and not a placeholder image.

**Screenshots**

![wqtqvirr8bgpe2yo6g24](https://u

[2021-07-21 01:03] twinsfan421 commented on #13277
I can work on this

[2021-07-21 01:55] cmgorton commented on #13277
Thank you!

[2021-07-21 07:42] aitchiss commented on #13987
@cmgorton neither of us are working on this issue, so yep happy for it to be passed over to the MLH fellows 🙂

[2021-07-21 09:52] aitchiss commented on #14100
I think it would work best as a new row before the iframe - what do you think?

[2021-07-21 11:22] aayush-05 commented on #14100
Sounds good to me; let me do an initial version and then we can discuss on any change requirements

[2021-07-21 12:48] ftisiot commented on #13185
I believe I still have this setup @lornajane

[2021-07-21 14:13] cmgorton commented on #13277
Hey @twinsfan421
I was reminded by a teammate that we are putting work on Connect on hold at the moment while we plan out the future of Connect and any work we want done on it. I don't want you to work on this issue only to have us remove the code later on, so I am going to unassign you for now. Please let me know if there are any other issues you would like to work on and thanks again for your wi

[2021-07-21 19:28] AdsickTechnoholic opened #14299 "Brand color1 is not a valid hex color and Brand color2 is not a valid hex color"
Browser: Firefox 90
OS: Pop!_OS 21.04

when I try to switch theme I see this:
![image](https://user-images.githubusercontent.com/87697982/126547776-6a1ea850-4be6-43c9-b3d2-8499a6960888.png)

[2021-07-21 20:03] FSipiano opened #14300 "Website URL 404 bug"
☑️Still present after disabling extensions.

**Describe the bug**

When following the link to my personal site in my Dev portfolio 'www.fayesipiano.co.uk', user is redirected to 'https://dev.to/www.fayesipiano.co.uk' which displays a 404

**To Reproduce**

Chrome browser, www.fayesipiano.co.uk in the website URL section of the header. Hit save, click on the link in the dashboard. Unexpected redire

[2021-07-21 20:10] FSipiano commented on #14300
Extra info - the URL redirect works with the full URL set out like this, although it still doesn't feel like expected behaviour at all
![image](https://user-images.githubusercontent.com/67593261/126553395-964f9e33-5e12-44eb-bb23-40836623e1f3.png)

[2021-07-21 20:25] Zhao-Andy commented on #14300
Thanks for this bug report! At a glance, I think the issue is because we're rendering the link as a relative link.

As you mentioned feel free to update it to the full URL for now on your profile since that is currently working.

[2021-07-21 20:32] djuber commented on #14300
@Zhao-Andy I think the issue is we're not validating (in the https://dev.to/settings page) the website url is a url (we accept any string and render links that were paths without a scheme/host as local links).

The suggested text is "https://yoursite.com" but nothing prevents users from accidentally adding any string there (and this is automatically used to create a link, with no "fixup" to make i

[2021-07-21 20:39] Link2Twenty commented on #14299
What are your brand colours?

[2021-07-21 23:17] Pkcarreno commented on #14299
Browser: Chrome 91
OS: Windows 10 21H1

Same here
![image](https://user-images.githubusercontent.com/34664891/126571584-bb8499c4-e162-463e-aeb4-bed44e35c259.png)

[2021-07-22 03:05] #12160 closed

[2021-07-22 03:24] citizen428 commented on #14299
Ok, the reason for this is that the brand colors are `nil` for both of you and the validation doesn't have the `allow_nil: true` option set. IIRC we use default values if the brand colors are missing, I'll double-check that and should have a fix up soon.

[2021-07-22 03:40] citizen428 commented on #14299
Update: allowing `nil` accidentally got dropped 6 days ago when we moved some code around, the above PR fixes this and will hopefully be merged soon.

[2021-07-22 08:35] #14299 closed

[2021-07-22 09:20] squarebat commented on #6377
Hey everyone, I looked into this issue and could not reproduce it. `Follow back` is visible every time I refresh. I tried from different browsers and devices with different color themes so I don't think the error is specific to that. Also the style seems to have changed since the issue was posted, currently the `Follow Back` button gets displayed on the same line as `User followed you!` and not th

[2021-07-22 10:45] #13389 closed

[2021-07-22 20:06] maestromac commented on #6377
I also could not replicate this any more. It's safe to assume this is already resolved and we can definitely re-open this if anyone run into this.

[2021-07-22 20:06] #6377 closed

[2021-07-22 20:15] djuber commented on #14300
Hi Faye,

I pushed out a change today that did two things:

- users are required to give a full url (including http:// or https://) when adding a website url to their profile, this prevents future confusion. The input field has hinting for this (prior to submitting the profile update) and the backend does additional checks, both will give a response indicating the url is not well formed.

- existi

[2021-07-22 20:15] #14300 closed

[2021-07-23 00:53] diegocasmo commented on #12835
I tried replicating this issue in production and locally (adding a `sleep` call in the `follows_controller.rb` and using throttle to simulate a slow connection), but I was unable to do so 🤔.

Maybe it was unintentionally fixed already? @vaidehijoshi  do you still experience this issue? What browser are you using?

[2021-07-23 03:00] zeotuan commented on #14000
@aitchiss i think this issues should be closed

[2021-07-23 06:38] squarebat commented on #13663
Hey, I was looking to take a stab at this issue but found out that the error doesn't occur any more. The URLs of all articles changes post username update and the new URL works. Furthermore, the article loads correctly with the old URL as well. If someone else can verify this, this issue can be closed.

[2021-07-23 07:00] squarebat commented on #14291
I'll take this

[2021-07-23 08:21] aitchiss commented on #14000
Closed via #14254

Nice work @zeotuan and thanks for the ping to close off this issue!

[2021-07-23 08:21] #14000 closed

[2021-07-23 08:52] aitchiss commented on #13663
I just tried reproducing and found the same as you @squarebat 🎉

I'll go ahead and close this issue as you suggest and if anyone finds that it is still persisting in any way, then please go ahead and reopen the issue!

[2021-07-23 08:52] #13663 closed

[2021-07-23 09:33] squarebat commented on #2914
Is this issue still open to work on? I'd like to take a stab at it and see what I can do.

[2021-07-23 10:31] zeotuan commented on #14291
@squarebat i don't think there are seed data for sponsor or organization. I think the file where this is done is ```app/views/articles/_sidebar.html/erb```

[2021-07-23 12:18] valtism opened #14311 "Safari CSS gradient bug"
**Describe the bug**

In comment breakouts on posts, the comments are partially shown, with a gradient fade at the end.

<img width="636" alt="Screen Shot 2021-07-23 at 10 10 13 pm" src="https://user-images.githubusercontent.com/1286001/126780059-bc8d3b60-cb18-495a-a700-9c38bea60a20.png">

Unfortunately, there is a bug in Safari (https://bugs.webkit.org/show_bug.cgi?id=150940) that causes this fad

[2021-07-23 12:31] rhymes commented on #2914
@squarebat still open, https://github.com/forem/forem/pull/13457 only addressed articles by tag

[2021-07-23 13:41] squarebat commented on #2914
@rhymes super cool, I'll work on this

[2021-07-23 14:10] cmgorton commented on #12969
Opening this issue back up as @jdoss had this error show up today two times when logging in with GitHub on dev.to and forem.dev.

[2021-07-23 14:38] cmgorton commented on #14235
Since this looks like it is intentional on our part with the limits Rhymes mentioned I am going to go a head and close this issue. Please let us know if the validation fails while within the limits that have been set.  Thanks.

[2021-07-23 14:38] #14235 closed

[2021-07-23 14:55] rt4914 commented on #14311
I would like to explore and work on this issue.

[2021-07-24 07:53] rt4914 commented on #14311
@valtism Can you please mention how can I reproduce this error?
I tried to use the `Dark Theme` in settings in my macbook, iPhone and android mobile but when I use the dev.to (website/app) it shows all content in light theme only.

[2021-07-24 10:22] valtism commented on #14311
You can set the dark mode on dev.to in your user settings.

[2021-07-24 13:31] omenking opened #14315 "Admin Welcome Thread NameError: uninitialized constant Admin::Settings::Community"
**Describe the bug**
I cannot create a Welcome Thread

**To Reproduce**

When attempting to create a Welcome Thread

<img width="1049" alt="Screen Shot 2021-07-24 at 9 28 13 AM" src="https://user-images.githubusercontent.com/7776/126869916-d07b4c7e-752c-4c30-9c67-a7e5fb0ba1d6.png">

I get NameError: uninitialized constant Admin::Settings::Community
<img width="643" alt="Screen Shot 2021-07-24 at 9

[2021-07-24 14:52] rt4914 commented on #14311
@valtism Thanks. I have found the "Dark Theme" from settings.

[2021-07-24 22:52] omenking commented on #14315
So this is happening locally as well.

Taking a bit more time to look at the code its pretty simple what its doing.
I don't fully understand how welcome threads work buts its my assumption that it works based off the convention of the Article title the user being set as the dev_account and being unpublished.

[2021-07-24 22:57] omenking commented on #14315
I just used Rails console to create the welcome thread.
 Not working just yet still.

<img width="1038" alt="Screen Shot 2021-07-24 at 6 55 53 PM" src="https://user-images.githubusercontent.com/7776/126882848-3581ac87-c72a-48b0-be61-fc92af11c592.png">

<img width="869" alt="Screen Shot 2021-07-24 at 6 55 56 PM" src="https://user-images.githubusercontent.com/7776/126882847-40350af8-038c-4371-a1d3-1

[2021-07-24 23:00] omenking commented on #14315
I flipped to published. So I guess I just need to make a welcome thread that follows a particular title?
<img width="935" alt="Screen Shot 2021-07-24 at 6 59 29 PM" src="https://user-images.githubusercontent.com/7776/126882893-f3f63081-c287-4bbe-a2f1-c98aa52327fd.png">

[2021-07-25 03:40] jbc7ag opened #14316 "The articles endpoint is not returning the reading_time_minutes property"
The endpoint `/articles/me` is not returning the `reading_time_minutes` property in the body as the documentation describes.

**To Reproduce**
1. Go to `/articles/me` endpoint.
2. Get the data
3. Notice the `reading_time_minutes` property is not there

**Expected behavior**
The property `reading_time_minutes` should be in the response

**Screenshots**
![image](https://user-images.githubusercontent

[2021-07-25 06:53] zeotuan commented on #13987
@aitchiss I actually did this. i will create pull request

[2021-07-25 11:37] rhymes commented on #14316
Great catch @jbc7ag, thank you!

[2021-07-26 00:33] omenking opened #14319 "When creating a campaign, allow the call to action to be any link instead of just a new tag"
One way to create engagement with the cloud community is to give an easy way for people to ask me questions.

<img width="830" alt="Screen Shot 2021-07-25 at 8 29 27 PM" src="https://user-images.githubusercontent.com/7776/126918612-8adfd77c-d151-428f-aa8c-a83fb9ac1ca7.png">

The call to action only allows you to supply a tag.
[code]
Where I want to direct users to ask me privately first eg.

[code

[2021-07-26 00:48] omenking commented on #14319
This kind of looks like what I'm trying to do (but still include tagged articles below)
<img width="383" alt="Screen Shot 2021-07-25 at 8 47 36 PM" src="https://user-images.githubusercontent.com/7776/126919294-683f9dd0-850c-4b37-a887-f62112fd37df.png">

[2021-07-26 03:47] citizen428 commented on #14315
Thanks for the report @omenking, let me try something real quick.

[2021-07-26 03:52] citizen428 commented on #14315
The problem was the constant lookup, it should be `::Settings::Community` (start constant lookup from the root, not relative to the `Admin` namespace. PR incoming.

[2021-07-26 08:34] rhymes commented on #12486
@squarebat @jgaskins my bad for merging it too hastily, although the code in #14298 feels like it's correct, we didn't actually solve the issue. We believe the issue was the articles edge cache but it's not. #14298 deals with the article tags under a title, which are cached server side here:

https://github.com/forem/forem/blob/71591994029d1cb861b1c82906acd0ba92c4f112/app/views/articles/show.html.

[2021-07-26 08:43] rhymes commented on #12486
I added a PR to revert #14298 : https://github.com/forem/forem/pull/14330

[2021-07-26 10:07] squarebat commented on #12486
Whoop. Sorry that didn't work out. I'll look into how this can be solved.

[2021-07-26 10:12] rhymes commented on #12486
@squarebat I thought about two different options:

1. Doing something similar to #14298 but instead clearing the value with cache key `"main-article-tags-#{@article.cached_tag_list}"`
2. Changing the cache key to be dependent on the tags `updated_at`

I'll let you explore what's best :) Let me/us know if you need assistance!

[2021-07-26 11:05] squarebat commented on #12486
Sure, thanks a lot! I won't be able to look into it just yet since I am working on another [issue](https://github.com/forem/forem/issues/2914), I'll let you know if I get stuck.

[2021-07-26 13:06] omenking opened #14334 "Bad regex for detecting SVG on Navigation Links"
The dreaded error:

<img width="1018" alt="Screen Shot 2021-07-26 at 8 57 12 AM" src="https://user-images.githubusercontent.com/7776/126993336-98586854-0676-42de-98da-dafc584bdf8f.png">

Code in question:

[code]

Testing with rubular
<img width="955" alt="Screen Shot 2021-07-26 at 9 03 10 AM" src="https://user-images.githubusercontent.com/7776/126993412-d9c51c0a-650b-4843-8d64-9eb9ca3a3595.png">

[2021-07-26 14:14] omenking opened #14337 "Logo in Admin and Homepage do not match"
Source SVG:
[code]
It's supposed to be blue on homepage shows up grey.....

<img width="410" alt="Screen Shot 2021-07-26 at 10 13 10 AM" src="https://user-images.githubusercontent.com/7776/127003590-f41953f8-bffb-4355-a824-df308d696755.png">

<img width="350" alt="Screen Shot 2021-07-26 at 10 13 15 AM" src="https://user-images.githubusercontent.com/7776/127003608-9aa727c9-df6c-4328-9a8d-0974f7c51f

[2021-07-26 14:25] omenking commented on #14337
Its the CSS, this sucks, because only way for me to fix is to inject a custom css which means I have to create my own custom image.

<img width="299" alt="Screen Shot 2021-07-26 at 10 24 04 AM" src="https://user-images.githubusercontent.com/7776/127005224-090e4d96-cd4d-4fa3-ae8a-a018286b8587.png">

[2021-07-26 14:27] citizen428 commented on #14315
Closing this since the PR has been merged. If you still have issues after you updated please feel free to reopen @omenking.

[2021-07-26 14:27] #14315 closed

[2021-07-26 14:34] jgaskins commented on #13664
@maestromac Does the work you did to extract E2E to its own build node resolve this? Or is there more work we need to do here to make them as parallelizable as our Ruby specs are?

[2021-07-26 14:41] maestromac commented on #13664
@jgaskins No, it didn't resolve this. It's still not parallelized.

[2021-07-26 15:01] nickytonline commented on #13664
This is definitely something we should prioritize. I'll bring it up in the meeting today.

Happy to take a stab at this/pair with @maestromac and/or @djuber.

[2021-07-26 15:20] omenking opened #14338 "Severe performance issue when writing long form articles."
One way I am bringing an audience onto my platform is by writing long-form articles on cloud vendors.

When my article starts to get long I start to experience slowdowns where I have to wait for typed letters and my Macbook Pro also begins to heat up.

It makes me think that its something that is watching on every keypress.

I turned of Grammarly, reduced to a single tab in Chome and tried Firefox

[2021-07-26 15:27] omenking commented on #14337
Working with Christina, tried inline, and even manually making sure fill is correct.

<img width="431" alt="Screen Shot 2021-07-26 at 11 21 22 AM" src="https://user-images.githubusercontent.com/7776/127015649-89bfcd2e-5df6-45b3-947d-c7e24f63d2b6.png">

Still not working, even with `Rails.cache.clear`. So possibly its fixed but showing old code.

I'm going to just sit on it and for a day or do. May

[2021-07-26 15:30] rhymes commented on #14334
@omenking I took a quick look but I wasn't able to reproduce, can you please describe what you did and attach the media if possible?

[2021-07-26 15:47] #14316 closed

[2021-07-26 16:27] rt4914 commented on #2799
Considering there has been no progress on this issue. I am assigning this to myself.

[2021-07-26 17:29] djuber opened #14344 "Social Preview template hard codes a dev.to logo for all Forems"
We noticed this when a community member was struggling to get the social preview images working correctly.

**Describe the bug**

When I visit locally http://localhost:3000/social_previews/article/1 (the html we use to generate preview cards) the bottom right of the card contains a "dev" logo in the badge-images div

This should be customizable.

https://github.com/forem/forem/blob/main/app/views/

[2021-07-26 19:15] maestromac commented on #14291
@squarebat to create a sponsor feature, you'll need to your own instance's super_admin (`user.add_role :super_admin`) and head to `/admin/advanced/sponsorships/new`. Let me know if anything else needs clarification.

[2021-07-27 03:49] citizen428 opened #14347 "Profile preview card interferes with manage"
**Describe the bug**

When trying to use the "Manage" button on one of my articles I noticed that the profile card will pop up and cover the button if the mouse crosses it.

![manage](https://user-images.githubusercontent.com/47985/127090857-2409e76e-bb02-4eab-99ce-23f10287bf9d.gif)

**To Reproduce**

1. Go to one of your articles
2. Try to click on manage but make sure the mouse moves over your u

[2021-07-27 03:56] nickytonline commented on #13987
@zeotuan, assigning this to you.

[2021-07-27 13:47] aitchiss opened #14356 "Follow button enhancements"
There are some small improvements we could make to Follow buttons in the app (these areas could be addressed in separate, smaller PRs):

## 1. Give the buttons more descriptive accessible names

- At the moment we have a lot of buttons in the UI with the text "Follow", and it's difficult for screen reader users to tell them apart without the visual context
- All follow buttons should have an acces

[2021-07-27 13:50] aitchiss opened #14357 ""Follow back" buttons are not consistently displayed after follow/unfollow"
## To reproduce:

- Search for a user who follows you (and you don't currently follow), then click on the "People" tab of the search results
- The follow button should read "Follow back"
- Click the follow button
- The button should now read "Following"
- Click the button again
- The button now reads "Follow", when it should read "Follow back"

The reproduce steps refer to the search results, but

[2021-07-27 14:07] benhalpern opened #14358 "Internal navigation bug"
**Describe the bug**

There is currently a bug afflicting InstantClick navigation, causing a page refresh.

Browser Console:

[code]

**To Reproduce**

- Visit home page of DEV
- Click on a post in feed
- Observe that there is a slightly janky delayed full page load instead of the standard inter-page swap.

**Expected behavior**

Part of the page is swapped via JS instead of error followed by full

[2021-07-27 14:19] benhalpern commented on #14358
With some further investigation, I believe this to be the case.

[2021-07-27 14:19] #14358 closed

[2021-07-27 15:35] joshpuetz opened #14362 "Newsfeed idea: ability to mute tags"
Currently there's not an easy way to mute a topic tag and prevent it from appearing in your personalized newsfeed. There are workaround (such as following a tag, and setting it's weight to -999), but these aren't very discoverable for end users.

[2021-07-27 21:03] #10873 closed

[2021-07-28 00:21] thomasbnt opened #14372 "[Mod] Can't send message, err Node"
**Describe the bug**
When you went to send a Sloan message (only Mod tool), a bug is apparear.

**To Reproduce**

1. Go to a random post
2. Send a Sloan message (or custom message?)
3. See the error

**Expected behavior**
No errors and redirect to the comment.

**Screenshots**
![IMG_20210728_021842.jpg](https://user-images.githubusercontent.com/14293805/127243858-d7a6f345-767f-43f8-96d0-a7e11ed2a2

[2021-07-28 02:51] zeotuan opened #14373 "Improve documentation for Forem Windows installation"
Right now the documentation is very detailed about how to setup forem on window using wsl2. However, It lack information on how to run graphical user interface on wsl2 which will help contributor run cypress.

I solved it following this guide : https://nickymeuleman.netlify.app/blog/gui-on-wsl2-cypress

[2021-07-28 03:59] zeotuan opened #14374 "Add "Back to dashboard" button to all Analytics pages"
**Suggestion**
Some Dashboard Pages have no ```Back To Main Dashboard``` button
For example:  Analytic page Only have ```Back To Main Dashboard``` when user have at least one organization
- No organization
![image](https://user-images.githubusercontent.com/48720253/126778511-4bd49642-03a6-44d1-ad21-0e4afbd370bd.png)

- Have Organization:
![image](https://user-images.githubusercontent.com/48720253/

[2021-07-28 04:10] keshavbiswa commented on #14357
I'll take this 🙂  @aitchiss

[2021-07-28 04:11] keshavbiswa commented on #14356
I'll take this 🙂  @aitchiss

[2021-07-28 08:46] rhymes commented on #14357
@keshavbiswa assigned to you!

[2021-07-28 08:46] rhymes commented on #14356
@keshavbiswa assigned to you

[2021-07-28 13:12] nickytonline opened #14376 "Create the admin confirmation email template"
## Descripton

As part of the admin onboarding, an admin onboarding email template needs to be created. It's possible that it's currently the same email template for non-admin users.

# Related Issues & Documents

- [Admin Onboarding. Experience](https://github.com/forem/rfcs/blob/a8d843d9a37c4105850f575f6e51faac7377a474/text/0190-admin-onboarding.md#email) (email section)
- [Figma](https://www.fi

[2021-07-28 14:43] #13987 closed

[2021-07-28 17:30] djuber commented on #14372
Hi Thomas,

I'm able to replicate this locally (from a desktop, it does not appear to be related to the android app at all and is a server generated error from the moderation comment processing).

I'm looking further into this.

Local recreation setup:
- ensure a user has been set as a mascot (send as sloan will use the mascot's user id for the comment) http://localhost:3000/admin/customization/co

[2021-07-28 17:54] thomasbnt commented on #14372
Thanks for this precision @djuber

[2021-07-28 18:28] djuber commented on #14372
A minimal reproduction case (this doesn't require moderation at all)

- pick an article in your site, save the url to the clipboard

Create a comment on an article with this body - your url will differ but the key is to add a link to an article as a comment (the failing response template does this)

[code]

Observe the generated comment preview works as expected (user profile image on the left, ar

[2021-07-28 19:29] ellativity commented on #14372
@djuber Just to confirm, we don't need to make changes to our comment templates (we share some with the CodeNewbie Forem) because all the changes will be handled by this bugfix, right?

Is there anything we should bear in mind creating comment templates in future?

[2021-07-28 21:37] juliannatetreault opened #14384 "Fix Flaky previewProfile.spec.js Test"
## Description

The `previewProfile.spec.js` is known to be flaky and for the time being, has been skipped using `.skip` on the specific `describe` block that usually fails. In order to prevent future flakiness while ensuring that our code is covered by tests, we need to fix this spec.

Below is the most recent failure due to flakiness:
[code]

This is to fix the skipped test in #14383

[2021-07-29 02:53] keshavbiswa commented on #14357
This one's bit complex as there are server sider responses tangled with client side changes, so past state needs to be stored to revert back to follow back (in my opinion), any help would be appreciated. @rhymes, @aitchiss @forem-team  🙇🏻

[2021-07-29 06:05] citizen428 commented on #14376
@nickytonline "actual confirmation email"? Do you maybe mean "admin confirmation email"? Also, should we add a "form team" label here, it doesn't seem like this is an issue meant for external contributors.

[2021-07-29 13:25] nickytonline commented on #14376
Ahh, yeah, I generated this issue from a card on our board. I'll make the changes you mentioned.

[2021-07-29 14:24] kristoff-it opened #14386 "creating a broken sponsorship makes it impossible to manage them"
I created a sponsorship where I filled the last three fields with bogus values (`?a`, `?b`, `?c`) and now accessing the sponsorships admin page causes a rails error.

Here's the relevant part in the Honeybadger report.
![image](https://user-images.githubusercontent.com/1950733/127509125-ede69f7b-b4f6-4ea4-a412-4282417dd333.png)

This is a problem also because I can't disable the sponsorship.
Any s

[2021-07-29 14:48] djuber commented on #14386
I can reproduce this locally following the suggested input.

[code]

The issue is the "Sponsorable Type" is interpreted in rails as a class name (in DEV they're all set to `ActsAsTaggableOn::Tag` or are blank) - this should almost certainly have been an enumerated list of possible class names, rather than a string input that permitted creating an unloadable object (actually, the Sponsorship is abl

[2021-07-29 14:55] kristoff-it commented on #14386
Yes, it's a self-hosted instance, I'm experimenting with all these features before opening it to the public.
Thank you for the thorough reply, the shell cleanup worked flawlessly.

[2021-07-29 15:02] djuber commented on #14386
I'd like to keep this open as a bug report (it shouldn't have been quite so easy for you to get into that situation), but pivot to preventing saving these "broken" sponsorships rather than trying to load/display/manage them after they're saved.

I believe this means one or both of these could be added to the software:

- Sponsorship should validate that sponsorable_type is a valid constant before

[2021-07-29 15:48] gdenn commented on #14347
@aitchiss I am new to Forem and I would like to contribute. Can I take it?

[2021-07-29 19:46] nickytonline commented on #14347
@gdenn, I've assigned this to you.

[2021-07-29 19:47] nickytonline commented on #14347
Tagging @anujbhavsar96 for design considerations.

[2021-07-30 08:00] anujbhavsar96 commented on #14347
I think it's an edge case. For me, buttons are in line with text and not below it. But here is the text _" Originally published.."_ breaking it. We can make some layout shifts here to make the buttons accessible.

![Solution](https://user-images.githubusercontent.com/84626054/127621223-6018b5c7-9f91-490f-93b0-1bac8cb87179.png)

[2021-07-30 10:27] #14372 closed

[2021-07-30 13:57] djuber commented on #14372
@ellativity - that's correct - there should be no issue with or changes needed to either the existing templates or sending comments in the future - the bugfix was for a recent regression in how links were shortened (where the "link" tag could not be used any longer) and the reported issue was tied to the comment markdown content, rather than the fact that a moderator template had been used.

[2021-07-30 13:58] thomasbnt commented on #14372
Thanks @djuber for fixed that ! 💪🏼😎

[2021-07-31 01:15] tuang3142 commented on #10130
nicely done @mrmir
@rhymes I think we can close this

[2021-08-01 01:54] deninpaulv opened #14394 "Having problem updating details of Dev.to Organisation"
## The Bug

I am unable to change the details of my organisation (https://dev.to/byteslash).
- After changing the details in the settings, it does say that: "Your organisation was successfully updated"
- But it never reflects on the Organisation page

<img src="https://i.imgur.com/k61rht3.png" width="50%">

## Screenshot
- Here are the details I entered and Saved on the settings page:
<img src="ht

[2021-08-01 01:58] deninpaulv commented on #14394
Never mind. I did the same in Google Chrome and the details of the organization page got updated. I wonder why this happened though

[2021-08-01 08:11] remshams opened #14396 "[API] "tags" and "tags_list" property switched when request article as list and/or as single article"
Hi,

while using the API I noticed that the `tags` and `tags_list` properties are switched when requesting a list of articles and a single article.
Here is the list version:

![article-list](https://user-images.githubusercontent.com/10899354/127763926-310123d7-28a5-42ef-8351-cbb419e5a701.png)

Here the same article requested by `articleId` or `path`

![article-single](https://user-images.githubuse

[2021-08-01 23:25] CodeMouse92 opened #14397 "Podcast Not Updating from RSS Feed"
**Describe the bug**

Every time a new episode of the podcast is published to our RSS feed, all other podcast streaming services pick it up within 24 hours. Forem (DEV) does not, unless the update is manually triggered — in my case, triggered by the ever-patient @michael-tharrington.

**To Reproduce**

1. Update RSS for podcast listed on DEV.
2. Wait until time immemorium.

**Expected behavior**

[2021-08-02 00:11] tuang3142 commented on #14357
the button needs a "follow-back" verb from `follows_controller` to render. it seems to me that when the follow request is sent, the server response is not correct. i'm new to the code base so that's as far as i can tell. the logic, i think, is around `follows_controller.rb` and `followButtons.js`. hope this helps!

[2021-08-02 02:33] zeotuan commented on #14344
@djuber Is this Task only for internal? If not then i would like to help with the implementation of it.

[2021-08-02 04:46] zeotuan opened #14398 "Disappearing Serie List Item"
**Describe the bug**
On the series list, when the user is logged in, sometime the Last item in the series List disappear.
![Animation](https://user-images.githubusercontent.com/48720253/127804730-a86f4f58-2af9-4c96-ba2f-1323735c8eee.gif)

**To Reproduce**
First log in you account
Then go to this article: https://dev.to/harryyork97/my-dev-journey-week-12-27ff
You will see the series List look like

[2021-08-02 15:12] rhymes commented on #14396
Hi @remshams, unfortunately it's a known bug that can't really be fixed without breaking the API, so in v0 it'll have to remain as it is :)

You can find further details here: https://github.com/forem/forem/issues/4637

Thank you for the report!

[2021-08-02 15:12] #14396 closed

[2021-08-02 15:21] remshams commented on #14396
I already worked around it ;)

Thanks for replying and sorry for missing the already created issue.

[2021-08-02 15:27] rhymes commented on #10130
I think this is still vlaid @tuang3142

[2021-08-03 17:40] benhalpern commented on #14398
Seems like it could be a cache busting problem?

[2021-08-04 09:31] dekelb opened #14415 "Follow button in "full discussion" mode doesn't work"
**Describe the bug**
When on a post - it's possible to follow an author of a comment by hovering it's name and clicking on the "Follow" button.
When on the full discussion page - clicking on the "follow" button does nothing.

**To Reproduce**
1. Find a post that has a lot of comments.
2. Scroll down and click on the "View full discussion" button.
3. Find a commenter that you are not following yet.

[2021-08-04 10:56] aitchiss commented on #14415
Nice catch @dekelb - thanks for opening this issue! I did some refactoring recently on follow buttons, and it seems I neglected this page - I'll have a fix ready very shortly 👍

[2021-08-04 12:05] #14415 closed

[2021-08-04 13:17] dekelb commented on #14415
@aitchiss thanks for the fast reply and fixing this issue 😀.
Another question - what is the deployment process to dev.to?
 Now that it's fixed & merged - how much time till we can see this in production?

[2021-08-04 14:00] aitchiss commented on #14415
@dekelb the change is already deployed to dev.to, so it should all be good to go now 🚀  Sometimes caching causes individual pages to take a moment to update though 🙂

[2021-08-04 16:18] dekelb commented on #14415
If it still doesn't work (after hard-refresh), can I assume there is still some bug there? Or should I wait a few more hours?

[2021-08-04 16:58] #14384 closed

[2021-08-04 17:20] #14373 closed

[2021-08-04 18:38] dekelb commented on #13726
Any update on this issue?

[2021-08-05 12:07] krongk opened #14422 "Can tags support non-ASCII characters"
Tag name not support non-ASCII characters like 中文。

[2021-08-05 14:09] djuber commented on #14422
Hi @krongk - I know this was disabled intentionally at one point (see linked PR) because a url method was not sanitizing the link to the tags (at the time that resulted in an error displaying the page, rather than just a mangled tag). I believe we could revisit this since #13720 - as we no longer produce the invalid URL or the error, the original reason for the ascii only character filtering seems

[2021-08-06 01:59] luvejo opened #14428 "Embedded GitHub Gists change their order in an unpredictable way"
## Problem

Sometimes, when I open one of my [tutorials](https://dev.to/luvejo/how-to-build-a-carousel-from-scratch-using-vue-js-4ki0), I find the embedded [gists](https://gist.github.com/luvejo/0936b7c33a07592d1706818e89abda04) have changed their order. For example, if I specify `snippet-1.js`, `snippet-5.js` gets rendered instead, and so on. They change their order in an unpredictable way.

Need

[2021-08-06 06:00] djuber commented on #14344
@zeotuan it's possible there are two separate stories here

1) allow a forem administrator to provide a logo for the preview image (customization)
2) only insert the DEV logo on previews that come from the DEV.to site (conditionally show this DEV logo image on dev.to, and the community logo or nothing on other sites).

The second item (conditional logo display or fallback) shouldn't require intern

[2021-08-06 08:33] rhymes commented on #14428
Ah! This reminded me of something, so I went digging. Apparently https://github.com/forem/forem/issues/1679 didn't fix it as we thought it would, or it regressed in some way.

:-/

[2021-08-06 09:39] aitchiss opened #14429 "Eager loading warning in the Dashboard when a user has posts in a series"
**Describe the bug**

This came to light when adding Cypress tests for an unrelated PR which required a post to be added to a series. If your dashboard includes posts which belong to a series, you see this bullet warning at the bottom of the page:

![screenshot of bullet warning error stating that we are eagerly loading article collection](https://user-images.githubusercontent.com/20773163/1284906

[2021-08-06 09:42] rhymes commented on #14429
These errors are only shown in development mode to nudge devs to make sure they load all the data they need, in order to avoid [N + 1 queries](https://semaphoreci.com/blog/2017/08/09/faster-rails-eliminating-n-plus-one-queries.html).

So yeah, it's worth investigating but I just wanted to highlight that it's not shown to end users in production :)

[2021-08-06 09:44] aitchiss commented on #14429
Yeah definitely, you have to run locally to see it. It does cause Cypress tests to fail though 🙁

[2021-08-06 14:22] cmgorton commented on #11494
@takmar Hey! I wanted to check in and see if this is an issue you would still like to work on? If not, I can unassign you from it. Thanks again for the help here.

[2021-08-06 17:39] benhalpern opened #14432 "Given profile image is not used on email signup"
**Describe the bug**

When I sign up for a Forem via email, it does not take the image I use. It gives me a random default instead.

**To Reproduce**

- Visit https://www.rectangle.community/
- Create account
- Notice it does not use the image you put in the form

I am not sure if this problem is exclusive to self-host or also a problem on Forem Cloud — the way images are handled in these contexts

[2021-08-07 04:54] ahandsel opened #14435 "Dev.to Listings - Issues with Managing Listings and Personal vs Organization Accounts"
## Describe the bug

Fundamentally Dev.to Listings is an inconsistent and tricky tool to use.
I constantly use my personal account and credits when I am trying to use my Organization Account and its credits instead.

Following are ways the Dev.to Community Listings is difficult to manage:
1. Regardless of the navigation path, the default setting is to use my personal account & credit.
   - Even wh

[2021-08-07 13:18] luvejo commented on #1236
There is now such [feature request](https://forem.dev/luvejo/code-blocks-with-line-numbers-3ae0) in Forem.dev, in case you still support it 😁

@Some-Dood, @rhymes, @Zhao-Andy, @SachaCR.

[2021-08-08 03:46] ajitsinghkaler opened #14436 "In the dev.to listings api the created date is not there as given in swagger"
**Describe the bug**

The listing api should return the created date as given in the docs
[code]

**To Reproduce**

Make a get request to [listing api](https://dev.to/api/listings) https://dev.to/api/listings.

There is no created date in the response

**Expected behavior**
Created date should be in the response

**Screenshots**

**Desktop (please complete the following information):**

- OS, vers

[2021-08-08 08:23] tuang3142 commented on #14428
Hi @rhymes. I'd love to take a look at this!

[2021-08-08 20:36] fyodorio commented on #9248
@cmgorton I would suggest a couple of options here (I mean I could work on possible implementation, of course).

First, more consistent one - add a menu button, which would trigger drop-down menu with a single `Unfollow` option inside:

<img width="1347" alt="Screenshot 2021-08-09 at 01 01 57" src="https://user-images.githubusercontent.com/19417873/128644668-c15f4135-e0f2-4a04-aeea-2eb83112fe70.pn

[2021-08-09 06:35] citizen428 commented on #14398
@benhalpern This seems about right, as I could only reproduce this with the second newest list item which could mean that the cache for that hasn't expired yet.

[2021-08-09 07:37] burakakca commented on #8792
I'm getting same error,  is an any improvement there

[2021-08-09 14:22] omenking commented on #14338
It's also a problem for short articles as well:
You can see me type an entire sentence and I'll have to wait a long for it to appear.

https://youtu.be/ptPpzyBxwWY

I have not investigated if it's server-side or client-side or a combination of both.
It is my guess currently that it's client-side issue and maybe there is a population of observers or events watching.

[2021-08-09 14:35] cmgorton commented on #14338
Thanks for bringing this up @omenking and adding more context. I am currently unable to replicate but I'll share this internally to see if anyone else is experiencing this delay.

[2021-08-09 15:00] #13947 closed

[2021-08-09 15:02] cmgorton commented on #14338
Adding in that both @omenking 's and I are using MacBook pros and Chrome. They can replicate this issue on DEV and I can't replicate on DEV, forem.dev or their Forem thedev.cloud. Their computer specs in case it is relevant for this issue:

<img width="334" alt="Mojave" src="https://user-images.githubusercontent.com/21039864/128728134-60c6cd14-5c81-4a2a-92de-acaa345fbd5f.png">

My specs:

![Screen

[2021-08-09 15:19] omenking commented on #14338
## How to replicate

I am using Chrome.

The problem compounds when you flip between Edit and Preview.
The longer the article and the more complex, the faster it impacts performance.

## Alternative Machine

I have a more powerful Windows Machine with 16 GB and I could replicate
the issue but I had to pull one my largest articles and I hat flip between Edit and Preview mode for several minutes, an

[2021-08-09 15:23] cmgorton commented on #12939
I believe #12939 closes this issue.

[2021-08-09 15:23] #12939 closed

[2021-08-10 09:20] #14220 closed

[2021-08-10 10:36] mrmir commented on #10130
@rhymes Can you reassign it to me, please? I was too new to Rails then, but I can handle it now and would love to give it a shot.

[2021-08-10 11:10] aitchiss commented on #14338
I've been trying to reproduce this locally without much luck (likely due to the dev macbook I'm using). I tried opening and editing the same draft post on my phone (Pixel 5) too but again no luck.

There are two main candidates for this:

1. The 'mention autocomplete' feature watches keypresses, checking back in the string to the beginning of the given word for an `@` symbol. I've stepped through

[2021-08-10 12:00] fyodorio opened #14459 "Listing details modal doesn't close on navigation event triggered from it"
**Describe the bug**

⚠️ _This might be a feature not a bug, though it's quite confusing so I'm reporting it anyway to figure out if the described behavior expected or not_

When a user goes to the Listings page and opens a modal for one of the available listings, they can click a category link at the bottom to navigate to the corresponding listing category (filter the list out in fact). This acti

[2021-08-10 12:53] nickytonline commented on #14338
@aitchiss, thanks for the ping.

I'm currently using Edge (Chromium), but I see in your video @omenking, you're using Chrome, but as @cmgorton mentioned, she's using Chrome as well, and she didn't have the issue. One thing I'd suggest trying @omenking is [disabling all browser extensions](https://superuser.com/questions/822429/how-to-start-chrome-without-plugins) in Chrome temporarily to ensure it

[2021-08-10 13:53] #14436 closed

[2021-08-10 16:35] aitchiss commented on #14357
I think the reason this isn't working at the moment is that the "follow" text will only be set to "Follow back" if the button has a property in its `data-info` attribute of `"style": "follow-back"`. If that "follow-back" property exists, this helper function sets the text correctly to "Follow back":

https://github.com/forem/forem/blob/75b6c8ed969757c59338bded81ebcbe9cdf256da/app/javascript/packs/

[2021-08-10 16:53] cmgorton commented on #14459
@forem/frontend this does seem like a weird UI interaction but wanted to check to see if this is intentional behavior.

[2021-08-10 17:00] aitchiss commented on #14459
Nope definitely not intentional - I think this is a bug and the modal should close 👍

[2021-08-10 19:39] gertay commented on #14459
I'll sort this bug if that's grand?

[2021-08-10 19:48] thomasbnt commented on #13747
Hello ! Can I have this issue?

[2021-08-10 20:05] code-reaper08 commented on #14062
## Hello can I take this issue (•‿•)

[2021-08-10 20:11] itsnikhil commented on #12643
I would like to take this issue as part of bug smash

[2021-08-10 20:19] cmgorton commented on #13747
Assigning you to it @thomasbnt . Thanks for your help!

[2021-08-10 20:20] cmgorton commented on #12643
Thank you @itsnikhil. I will assign you to it 🎉

[2021-08-10 21:35] itsnikhil commented on #12643
This is the direction I am headed following https://eslint.org/docs/developer-guide/working-with-rules.

Approach 1: Automatically applies the fix
![image](https://user-images.githubusercontent.com/20350674/128938159-91aaf89d-5804-4e88-9d82-7ae3643f4d3d.png)

Approach 2: Provides suggestion
![image](https://user-images.githubusercontent.com/20350674/128936875-e3d7cb15-c81d-4b69-b273-860b29634870.p

[2021-08-10 21:42] cmgorton commented on #12643
@aitchiss I know you won't be online for awhile but whenever you are if you have any feedback for @itsnikhil on the direction they are going with this I would appreciate it 🙏

[2021-08-10 21:55] nickytonline commented on #12643
@itsnikhil, I would go with auto-fixing this, as we would want to keep the codebase uniform and not provide the option for folks to decide whether or not to apply this lint rule.

One other thing to note is, in a subsequent PR you could run eslint over all JSX files to apply this rule, e.g. `npx eslint --fix app/javascript/**/*.jsx`

[2021-08-10 22:01] itsnikhil commented on #12643
@nickytonline thanks for your valuable feedback. Running this rule over all jsx files is something I was planning to do as well.

[2021-08-11 01:56] gogi2811 commented on #13194
I would like to take this issue up.

[2021-08-11 01:58] gogi2811 commented on #14432
I can take this up too.

[2021-08-11 02:16] cmgorton commented on #14432
Thanks @gogi2811 ! If you find working on two issues is too much just let me know. Appreciate your help🙏

[2021-08-11 02:59] SiddharthShyniben opened #14469 "Reading list is not reactive"
**Describe the bug**

The reading list item count (in the title) isn't reactive. If I archive a post, the count won't change.

Before:
![before](https://user-images.githubusercontent.com/76640268/128962302-bf65e61b-44dc-4128-8e31-c6d6f2209fd0.png)

After:
![after](https://user-images.githubusercontent.com/76640268/128962209-b9ea50bb-6839-4704-9e3b-74cac6e99dcb.png)

**To Reproduce**

0. Add a few

[2021-08-11 03:20] siddshy commented on #4948
I got a completely different output for the same code:

![Screen Shot 2021-08-11 at 8 46 59 AM](https://user-images.githubusercontent.com/76640268/128964228-77687ca3-10d8-4a9c-8613-eb4799ef63a5.png)

Looks like the runkit liquid tags need a lot of work. (See #9743)

[2021-08-11 03:35] siddshy opened #14470 "Runkit: can't place HTML tags in embed"
**Describe the bug**

If you try to put any HTML tags in embeds ([demo](https://dev.to/siddharthshyniben/test-12he-temp-slug-8654979?preview=f488dbf57d6be140f3d3f146902f4dd75e663e265bd1b305a946ee1ea99288567d59b347a754ee8366b824ce5ec9fb220b48f2e0d5bb5e0bb6edb019):

[code]

We get some really weird behavior. If you place a `<br>` (or any closing or self-closing tags), it just disappears:

![Screen S

[2021-08-11 03:37] siddshy commented on #14470
Even weirder: If you place a runkit embed with a `<br>` after an embed with an `<hr>` ([demo](https://dev.to/siddharthshyniben/test-12he-temp-slug-8654979?preview=f488dbf57d6be140f3d3f146902f4dd75e663e265bd1b305a946ee1ea99288567d59b347a754ee8366b824ce5ec9fb220b48f2e0d5bb5e0bb6edb019)):

[code]

Then the first block doesn't disappear anymore

[2021-08-11 03:47] fyodorio commented on #14459
@nickytonline would be happy to try 🙂

[2021-08-11 04:37] abhishekraj272 commented on #11500
@cmgorton could you assign this to me?

[2021-08-11 06:09] ThirashaPraween commented on #1446
There a another way to add this. try ` ``` ` instead of ` ~~~ `.  Also, combine them together with one code block.

[code]

[2021-08-11 07:07] citizen428 commented on #10335
This issue is up for grabs again. If you want to work on it it's probably advisable to have a look at the closed PR further up and read some of the comments there.

[2021-08-11 07:22] citizen428 commented on #14062
Thanks for volunteering @code-reaper08, I assigned you the issue.

[2021-08-11 07:25] citizen428 commented on #13194
Thanks for volunteering @gogi2811, I assigned you the issue now.

[2021-08-11 07:30] #14100 closed

[2021-08-11 08:51] LizMelamed commented on #7561
Hey! I would like to solve this bug as part of the bug smash

[2021-08-11 08:54] bhatvikrant commented on #12664
hey @benhalpern @jessleenyc @djuber @rt4914, can I pick up this issue?

PS: sorry for mentioning four of you, just wanted to get my request to contribute in your attention.

[2021-08-11 08:56] citizen428 commented on #7561
Thanks @LizMelamed, I assigned you this issue now.

[2021-08-11 09:05] aitchiss commented on #12664
I've assigned it to you @bhatvikrant - thanks for taking this on!

[2021-08-11 09:05] bhatvikrant commented on #12664
Thankyou!

[2021-08-11 10:56] #12486 closed

[2021-08-11 10:57] #14374 closed

[2021-08-11 11:05] rhymes commented on #10130
Done @mrmir, thank you!

[2021-08-11 11:05] payapula commented on #13601
Hi @cmgorton

I would like to pick this up 😄

[2021-08-11 11:22] squarebat commented on #14291
Apologies for the delay on this issue, I started tackling it and tried reproducing the bug. I created a user and an organization and used the UI to create a new sponsorship on the new org's name. The sponsorship gets created successfully with the status 'live', however I can't see it on the homefeed. The sponsors page won't display it either -
<img src="https://user-images.githubusercontent.com/59

[2021-08-11 11:29] rhymes commented on #13601
@payapula I've assigned it to you, thanks!

[2021-08-11 13:48] leewynne commented on #14291
Hey @squarebat do you still need some help with this?

[2021-08-11 14:31] dbarwikowski commented on #11494
Shouldn't it always take `user.email`?
https://github.com/forem/forem/blob/e749626e71be793d2d05f5c7aa4caf7b62bc3fab/app/services/mailchimp/bot.rb#L192-L195
result of this function (?) is used in update to mailchimp:
https://github.com/forem/forem/blob/e749626e71be793d2d05f5c7aa4caf7b62bc3fab/app/services/mailchimp/bot.rb#L21-L25

[2021-08-11 14:42] cmgorton commented on #4948
Thanks for testing this @siddshy

[2021-08-11 16:22] squarebat commented on #14291
@leewynne yeah, can't quite figure out a way to reproduce the bug :sweat_smile:

[2021-08-11 17:30] leewynne commented on #14291
Have you added the images to the org that you are admin of?

[2021-08-11 18:13] squarebat commented on #14291
Yes I did, however I can't see the new sponsor on the homefeed, so there's no way to see what image is being display. There's probably a setting that I am missing, but can't find it.

[2021-08-11 19:05] presidenten commented on #12455
Found the issue.
When logging in on a clean new browser localStorage data is not set when the theme is applied.

PR coming right up...

[2021-08-11 21:00] juliannatetreault opened #14478 "Fix Flaky viewArticleDiscussion.spec.js Test"
The `viewArticleDiscussion.spec.js` has been skipped using `.skip` on the particular test, `follows and unfollows a user from a comment preview card`, that has been failing. In order to prevent future flakiness while ensuring that our code is covered by tests, we need to fix this spec.

Below is the most recent failure due to flakiness:
[code]

The PR that skipped this specific test is PR #14477

[2021-08-11 21:56] djuber commented on #14478
It seems like https://github.com/forem/forem/pull/14473 may be related (this was the commit where we started to see this happen, and directly impacts the positioning or visibility of the preview card as well as modifying some event listeners around scroll, possibly tied to an insta-click preview load).

Testing locally I can recreate this intermittently - effectively the profile preview is shown,

[2021-08-11 22:21] amis-shokoohi opened #14480 "stats * 10"
**Describe the bug**
Everytime my post get viewed from google, stats shows 10 instead of 1. So if my post get 3 google views, stats in the Readers this week section shows 30.

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
-

[2021-08-11 22:47] haoxilu commented on #14469
It's going to be fixed in the ticket https://github.com/forem/forem/pull/14471.

[2021-08-12 02:07] siddshy commented on #4948
Can I take this?

[2021-08-12 02:30] SiddharthShyniben commented on #14334
I think this can be fixed by giving the regex the `DOTALL` (`s`) flag

[2021-08-12 02:32] SiddharthShyniben commented on #14334
@rhymes I think the problem is the current regex doesn't match any newlines, so if the SVG contains newlines in the `<svg>` tag, this regex doesn't match.

So this matches:
[code]

But this wont:

[code]

[2021-08-12 02:48] cmgorton commented on #4948
Yep. Just assigned you to it. Thanks!

[2021-08-12 04:56] citizen428 commented on #14334
@SiddharthShyniben The flag to match  `.` match newlines in Ruby is `m` but otherwise, you're correct.

https://rubular.com/r/3CCXiqFPznQdkh

Do you want to make a PR? 😃

[2021-08-12 05:08] SiddharthShyniben commented on #14334
@citizen428 Sure! I'll take this up

[2021-08-12 06:20] leewynne commented on #14291
okay, i'll share the screenshots of what I have configured 😎

[2021-08-12 09:40] yheuhtozr opened #14483 "Onboarding modal looping?"
**Describe the bug**

I have an instance for testing purpose, and a few users (authenticated via Twitter) reported that they experienced the onboarding modal looping forever even if they have followed all the steps. Now when I signed up https://forem.dev with my GitHub account, it actually happened to me!

When my users reported the bug, I confirmed that their `saw_onboarding`, `checked_code_of_co

[2021-08-12 10:16] yheuhtozr opened #14484 "bin/startup fails in production"
**Describe the bug**

`.env`:
[code]

terminal:
[code]

**To Reproduce**

As above.

**Expected behavior**

Not sure. I expected a file in the repo to contain a right configuration to start up the app in the production mode, but:

- `bin/startup` (Procfile.dev)
  As described above, no dev server ought to run.
- Procfile
  Contains a `bin/start-pgbouncer` which I found no trace of in the repo.
- D

[2021-08-12 11:00] squarebat commented on #14291
Update: I couldn't figure how to feature the sponsorships on homefeed, however I found out that the same bug occurs in the /sponsors page as well, so trying to fix that. The fix would probably be the same for this as well.

[2021-08-12 12:29] #14478 closed

[2021-08-12 14:03] michael-tharrington opened #14486 "Can't Add Tag Back to Article After Removed by Tag Mod"
**Describe the bug**

If a tag mod removes a tag from an article, there's no way for anyone to easily add it back.

**To Reproduce**
1. As a tag mod, remove a tag from a post
2. Try to add the tag back to the post
3. See error: "An error occurred: Failure: Tag name can't be an already adjusted tag"

**Expected behavior**

A tag mod should be able to add a tag back after removing it. The main perso

[2021-08-12 14:14] #14469 closed

[2021-08-12 14:57] #13747 closed

[2021-08-12 15:46] thomasbnt commented on #13747
Youhouuuu! Don't hesitate to notify me for this kind of modifications 👌🏼

[2021-08-12 17:18] gogi2811 commented on #14432
I found one more issue,
via Forem ios app when I try to sing-up with the email following below steps

- Visit https://www.rectangle.community/
- Create account
I am thrown back to home page the moment I select the image for my account.
is not happening when go via web browser.

[2021-08-12 19:04] payapula commented on #13601
This should be fixed by https://github.com/forem/forem/pull/14491

[2021-08-12 20:21] cmgorton commented on #14483
I'll keep it open for a bit to see if anyone else experiences this issue. If no one else reports it soon we can close this issue 😃

[2021-08-12 21:13] cmgorton commented on #14484
Hey @yheuhtozr before helping you here can you clarify a few things for us?

Are you trying to set up Forem for local development to contribute to the Forem codebase?
or
Are you trying to set up a Forem for production like you can with our [Self-host](https://github.com/forem/selfhost) repo?

[2021-08-13 02:56] benhalpern opened #14492 "“Skip to content” flashing on mobile"
**Describe the bug**

Skip to content button shows up sometimes for a moment on mobile

**To Reproduce**

Click around mobile version

**Expected behavior**

**Screenshots**

https://user-images.githubusercontent.com/3102842/129298574-c42742c2-4ae7-478b-b9dd-569ec5acea91.MOV

[2021-08-13 03:49] citizen428 commented on #14483
@cmgorton I experience it quite frequently during local development after wiping my DB. This may be worth exploring.

[2021-08-13 06:46] #14334 closed

[2021-08-13 12:18] #13601 closed

[2021-08-13 13:39] yheuhtozr commented on #14484
Hi,

or
Are you trying to set up a Forem for production like you can with our Self-host repo?

On the latter side. I'm building an instance based on Forem code base, with some necessary extension for our community. It's not intended to be another new software, at least I expect users to use them mostly in the same way as on DEV.TO.

**PS**

Yes I did borrow some useful things from the selfhost rep

[2021-08-13 13:50] yheuhtozr commented on #14483
FWIW after some communication with testers of my instance, there is a sign that who experience this have session or auth problem actually. If I tell them to log in from another browser, the problem is gone and never happens again.

[2021-08-13 13:59] aitchiss opened #14496 "Skip link isn't focused when navigating from profile menu"
**Describe the bug**

When navigating by keyboard, if I select a link from the right-hand profile nav menu, the profile menu button is refocused after the route change and not the skip link.

**To Reproduce**

- Press the `Tab` key until the profile menu is focused
- Press `Enter` to open it, then `Tab`/`Enter` to choose a link from the menu
- Notice that when the page changes, the profile menu bu

[2021-08-13 14:06] cmgorton commented on #14484
Hey @yheuhtozr if you are trying to use Forem to create a Forem for your community (feel free to correct me if I am wrong here) I would suggest using forem/self-host. Forem is the software that runs DEV.

If you would like to understand more about customizing your Forem for your communities needs, I would suggest checking out[ forem.dev](https://forem.dev/) if you haven't already. There are a lot

[2021-08-13 16:15] yheuhtozr commented on #14484
I see, thank you for the pointer. As I can log in forem.dev normally now, I'll try to find any information and ask something there.

[2021-08-13 16:15] #14484 closed

[2021-08-13 16:47] AlexanderGenin opened #14497 "Duplicate "Display email on profile" checkboxes in user settings"
**Describe the bug**

There are two identical checkboxes "Display email on profile" in User Settings: one in "User" section and another in "Basic" section. The "User" checkbox seems to control the state since toggling it also changes the state of the second checkbox (when the page is reloaded). However the second checkbox (in the "Basic" section) returns to the previous state after toggling when t

[2021-08-13 19:32] cmgorton commented on #14497
Yes I agree. I think  "Display email on profile" in the **Basic** section should correlate with the Website URL so like you mentioned the text should read "Display website on profile".

Thanks for opening this issue.

[2021-08-14 14:21] diegocasmo commented on #14497
@cmgorton

I took a look at the code, and the `users_settings` table doesn't seem to have a `display_website_on_profile` column (only a `display_email_on_profile`). So, I was wondering if the goal of this issue is just to remove the checkbox that's shown below the Website URL (as it doesn't have anything to do with the user's website), or to actually implement a feature that supports showing/hidin

[2021-08-14 17:42] djuber opened #14500 "Local image uploads do not permit cover image"
**Describe the bug**

Installations with local image hosting are unable to add cover images to posts.

Initial context was a forem.dev post https://forem.dev/9comindia/image-upload-configuration-issue-1opc

**To Reproduce**

I was able to replicate this in docker (also using local file hosting), and in normal development.

1. Login as a user (I used admin@forem.local in development, but any user c

[2021-08-14 18:29] rafaVls commented on #9532
I'm having similar issues on Linux (Manjaro KDE).

After running `. bin/container-setup.sh` I keep getting the "no such host" message over and over.

![Screenshot_20210814_102947](https://user-images.githubusercontent.com/70592708/129455542-5dac15a4-455b-4a24-9ef7-e1024ad20cb6.png)

If I run `docker ps` on another terminal, I get this output:

![Screenshot_20210814_103019](https://user-images.gith

[2021-08-15 14:39] crablar opened #14502 "Error posting comment"
This is on our own Forem instance. Why would this be happening?

![Image 8-14-21 at 4 40 PM](https://user-images.githubusercontent.com/1283090/129482175-30f4d1e8-311d-4596-9611-44294ed12dbe.jpg)

[2021-08-15 19:40] bhatvikrant commented on #12664
Hey @aitchiss just to re-confirm, the changes are to be made in [this](https://github.com/forem/forem/blob/main/app/javascript/crayons/Modal/Modal.jsx) file.

Also, any other inputs apart from the issue statement that you might have for me?

[2021-08-16 02:46] yheuhtozr opened #14503 ""Pin to profile" style mismatch"
**Describe the bug**

![image](https://user-images.githubusercontent.com/84892012/129504438-d2e28da5-922d-4082-a2f5-9b0793bdabb7.png)

**To Reproduce**

Open the manager UI of any post of yours.

**Expected behavior**

All blue buttons should have the same font.

**Desktop (please complete the following information):**

- OS, version: Win 10 Home 21H1
- Browser, version: Chrome 92

[2021-08-16 07:51] aitchiss commented on #12664
Hi @bhatvikrant yes, that's right, we can introduce the prop in the Modal component you linked above 👍

Other than the changes to this file, we should also check any places where we currently override the inner padding by using negative margins etc. We're definitely doing this in the listings modal I mentioned in the issue, but it would be good to have a spot check of everywhere we use `<Modal />`

[2021-08-16 07:52] rhymes commented on #14502
@crablar if it's your own instance you probably have access to the server side logs, can you correlate the action of posting an a comment with the error on the other side?

[2021-08-16 07:54] citizen428 commented on #14497
This seems like the most sensible approach to me. I don't think we need to add a hide feature for website URLs, if a user doesn't want to show it, they just don't enter it. For emails that's not the case as we also use them for things like password recovery.

[2021-08-16 15:17] leewynne commented on #14291
Not sure if it helps but this is where I have them configured:

admin > customization > sponsors
<img width="1039" alt="Screenshot 2021-08-16 at 16 00 12" src="https://user-images.githubusercontent.com/12694270/129586768-a887f258-f68a-4cca-8655-733ac93bc589.png">

admin > advanced > sponsorships
<img width="1304" alt="Screenshot 2021-08-16 at 16 03 37" src="https://user-images.githubusercontent.co

[2021-08-16 17:44] benhalpern commented on #14503
Yes, this page still has our older styles. Updating to `crayons` buttons and general styles is a needed improvement.

[2021-08-17 02:35] #14497 closed

[2021-08-17 12:17] benhalpern commented on #13876
I'm going to re-open this because this problem seems to be occurring again.

[2021-08-17 13:05] nickytonline commented on #13876
Can confirm this is still an issue even with the new search button being present.

https://user-images.githubusercontent.com/833231/129730701-3b71afad-10b5-4b14-8ae5-01c0f6e323c2.mp4

[2021-08-17 13:13] aitchiss commented on #13876
I mentioned this in slack, but putting here for visibility - this behaviour was reintroduced (by me 😄 ) on purpose, following a discussion about https://github.com/forem/forem/issues/14001 and https://github.com/forem/forem/issues/14083 in slack.

The gist of it is, I asked if we can reintroduce the focus/visibility of the skip link on enter press if we now have a separate search submit button. I

[2021-08-17 22:38] Zappat0n commented on #11500
Hi @cmgorton. I would like to work on this issue. Thank you very much.

[2021-08-17 22:40] cmgorton commented on #11500
Just assigned you @Zappat0n .Thanks for the help! Let us know if you have any more questions.

[2021-08-18 11:04] ufukeskici opened #14535 "Cannot edit the post"
**Describe the bug**

I cannot edit my post: https://dev.to/ufukeskici/my-meachine-learning-journey-2e5n
After I click "publish" it remains in "publishing" state.

**To Reproduce**

Edit the post and try

**Expected behavior**

**Screenshots**

Attached to he post.

**Desktop (please complete the following information):**

- OS, version: Windows 10
- Browser, version: Opera (Version:77.0.4054.277)

[2021-08-18 11:16] rhymes commented on #14535
Hi @ufukeskici, do you have any sort of error in the browser console when you do that?

[2021-08-18 11:21] ufukeskici commented on #14535
No, it's still in publishing state. If I close the window, and re-login, I see the update on markdown page but not on the published page  (I mean I see the old post online, but I see the new post in "edit" markdown page".

Somehow publishing is not being reflected to the post but reflected to markdown page only. Weird...

[2021-08-18 12:48] rhymes commented on #14535
@ufukeskici can you try to publish without extensions enabled or from another browser? Sometimes extensions get in the way. Though I see you tried with both Opera and Chrome already.

[2021-08-18 14:19] ufukeskici commented on #14535
Yes, indeed. :(

Please check the attached screenshot files. The markdown page is the edited one. But it still does not reflect the changes to the public page.  Public page has still the old version of the post.

<img width="516" alt="markdown_page" src="https://user-images.githubusercontent.com/17970139/129914967-ad471812-5991-489d-b463-5e08be0787d0.PNG">
<img width="517" alt="online_post" src="h

[2021-08-18 14:46] #14459 closed

[2021-08-18 15:22] thomasbnt opened #14536 "Bug with scroll down on API Doc"
**Describe the bug**

When you scroll, you could bump to the top of the page.

**To Reproduce**
Scroll down to the [API Doc](https://docs.forem.com/api/).

1. Go to https://docs.forem.com/api/
2. Scroll down
3. You can see a lapse of time the top of the page
4. Scrolled up

**Expected behavior**

Don't scroll up.

**Screenshots**

https://user-images.githubusercontent.com/14293805/129925047-408546

[2021-08-18 16:03] cmgorton commented on #14536
Hey! This is a known bug that  we have been unable to fix because the docs are built with GitDocs which unfortunately doesn't support custom styling & is no longer maintained.

Because of this we have actually moved our docs to a new platform(Docusaurus) and repo https://github.com/forem/forem-docs that should be available soon.
We are just finishing a few things before changing the link in our cu

[2021-08-18 16:03] #14536 closed

[2021-08-18 16:04] thomasbnt commented on #14536
Oooh okay ! Good news!

[2021-08-18 21:05] benhalpern commented on #14432
Good catch @gogi2811 — Can you create a separate issue for that bug? (And feel free to fix it if something hits, you but no pressure).

Let us know if you need help with this one.

[2021-08-18 22:14] madzadev opened #14541 "Email is not displayed properly in the User Profile"
**Describe the bug**

Email is not displayed properly in the User Profile

**To Reproduce**

Open User Profile (dev.to/username)
See email displayed as `true`

**Expected behavior**

The User email from dev.to/settings is displayed

**Screenshots**

![1629324288_538x47](https://user-images.githubusercontent.com/42511917/129978555-9573b816-9cf6-4b65-be88-4dba5384b473.png)

**Desktop (please complet

[2021-08-18 22:17] djuber commented on #14541
I can confirmed - this happens to me as well on the profile page after showing email.

the mailto link is correct (hovering over the envelope icon shows my email address) but the text shown is "true".

[2021-08-18 23:06] #14541 closed

[2021-08-19 09:11] aitchiss commented on #13434
@rafaVls I've unassigned you from the issue as per our discussions over here - https://github.com/forem/forem/pull/13878

If you'd like to pick it back up again in future just let us know, but otherwise thanks so much for your work on it so far. Whoever does pick this up later can refer to the discussions and work already explored in the linked PR 🙂

[2021-08-19 09:13] ufukeskici commented on #14535
It worked with Chrome after disabling extension as you suggested before.

Will this be investigated further or should I close the case for now?

[2021-08-19 09:39] rhymes commented on #14535
@ufukeskici if it's an extension I'm not sure we can do much on our side but maybe you can try enable them one at a time to figure out which one it is and report back, this can help others if they run in the same issue

[2021-08-19 18:16] maestromac opened #14553 "Podcast page's follow button not showing text"
**Describe the bug**
The podcast button on any podcast's page is not showing any text. I can't tell whether or not I am following a podcast.

**To Reproduce**
visit any podcast's page, _signed in or signed out_, ie https://dev.to/practicaloperations

**Expected behavior**
Should be showing me status

**Screenshots**
Notice that the button is just empty.
![image](https://user-images.githubuserconte

[2021-08-19 19:44] djuber commented on #14553
Possibly related to https://github.com/forem/forem/pull/14246 ?

[2021-08-19 19:59] juliannatetreault opened #14554 "Error When Adding or Removing Tags through the Moderation Panel"
**Describe the bug**
When attempting to add or remove a tag through the moderation panel on a tag's page, an error pops up, making it seem like the tag was unsuccessfully added or removed. While it appears that the addition or removal of the tag fails, it actually updates as expected.

**To Reproduce**

_**When adding a tag:**_
- Visit the moderation page for a particular tag (`http://localhost:30

[2021-08-19 20:39] djuber commented on #14554
confirmed behavior - the POST to /tag_adjustments works (the tag is either added or removed and a success code is returned by the system) but ( js ) errors are shown.

The error displayed in firefox for addition is _slightly_ better than chrome's (rather than only saying undefined, it tells you the variable name which was undefined):

TypeError: can't access property "appendChild", articleTagsCont

[2021-08-19 22:05] michael-tharrington commented on #11396
I was about to write up an issue about the UX issues around selecting "default" for font, but I think that if we made this improvement it would eliminate the issue.

Basically, if you set your font to "default" and save the page, you'll notice that default is not checked, but whatever the default font for the site is will be checked instead.

This can be seen in action [here](https://p241.p3.n0.cd

[2021-08-20 04:01] vishaldeepak commented on #13170
this looks straightforward, I'd like to work on this

[2021-08-20 04:03] vishaldeepak commented on #12702
looks interesting, any directions on how to make an attempt on figuring out problems related to caching on local server?

[2021-08-20 08:04] #12349 closed

[2021-08-20 08:53] aitchiss commented on #14553
I think this is exactly what it is - the button doesn't have text, but it's also not triggering the follow action. I think I can 15-min-fix this

[2021-08-20 10:16] rhymes commented on #13170
@vishaldeepak I've assigned it to you, thanks!

[2021-08-20 14:15] #14553 closed

[2021-08-20 14:15] squarebat commented on #14470
I'll take it

[2021-08-20 14:34] rhymes commented on #14470
@squarebat all yours, thanks!

[2021-08-20 15:31] aitchiss commented on #14083
Closed by #14263

[2021-08-20 15:31] #14083 closed

[2021-08-20 15:32] aitchiss commented on #14002
Closed by #14139

[2021-08-20 15:32] #14002 closed

[2021-08-20 15:52] fdoxyz commented on #14432
is not happening when go via web browser.

Hi @gogi2811, thanks for bringing up this situation with the iOS app. This was indeed caused by a bug in the app itself and a fix for it was just shipped to our Testflight beta releases. We hope to publish the build to the AppStore for everyone to update soon.

The original bug mentioned in the issue does seem to be a separate problem. Let us know if you

[2021-08-20 16:48] #14492 closed

[2021-08-21 12:15] vishaldeepak commented on #13170
@rhymes @cmgorton  Just want to confirm, we want to markdown process the tag's `short_summary`.
That should be something like
[code]
I also noticed that in  some models we stored  the processed markdown in database Do you think that's something we would want to apply to short summary

[2021-08-21 18:19] kartikdolas1997 opened #14562 "Telegram groups bug"
**Describe the bug**

I was a group member of telegram JavaScript group. To notify about bug I copied a message which had at the rate notation and package name it accidentally e accepted that it is name of another telegram channel and removed me out of the group please allow me me and add me in all groups. My telegram number is +919665017988

**To Reproduce**

**Expected behavior**

**Screenshots*

[2021-08-22 00:24] thangphan37 opened #14563 "I can't write exactly the order number list item in markdown."
**Describe the bug**
I'd like to write a list item like `1->2->3`. But it turns out the order of the list item behaves `1->1->2`.

**To Reproduce**
If I add a code block between `First item` and `Second item`  as below the bug will happen.
[code]

**Expected behavior**
The order of the list item works exactly.

**Screenshots**
![Order Bug](https://dev-to-uploads.s3.amazonaws.com/uploads/articles/z

[2021-08-22 00:30] ufukeskici commented on #14535
I enabled all extensions on Chrome but now everything works fine.

[2021-08-22 13:50] rhymes commented on #13170
@vishaldeepak yep, we don't plan on storing `.short_summary` as HTML. Now that I think about it, I'm not even sure `short_summary` is supposed to allow Markdown in the first place. I'll ping the team internally next week and let you know

[2021-08-22 13:51] #14562 closed

[2021-08-22 13:54] rhymes commented on #14563
I can reproduce

[2021-08-22 13:54] rhymes commented on #14535
I'm going to close this then! Thanks @ufukeskici

[2021-08-22 13:54] #14535 closed

[2021-08-23 04:53] citizen428 commented on #14563
This is a Markdown feature, you can use any number for ordered lists, Markdown will take care of the correct numbering automatically. This allows you to e.g. write every item in the raw markdwon as `1. Something` which means you can reorder them without having to worry about the numbering. Your issue it that because of the codeblock the Markdown parser thinks you're starting a new list. To avoid t

[2021-08-23 07:32] #13968 closed

[2021-08-23 09:58] rhymes commented on #14563
Hi @thangphan37, given @citizen428's explanation up here I'm going ahead and close this as it's a feature. Thanks for the heads up turned into a learning opportunity for me :)

[2021-08-23 12:07] thangphan37 commented on #14563
Thank you for your explanation 😀. The order of the list item worked well.
But I still confuse about the markdown layout that is rendered using four spaces. It's shrunk.
It's so nice if it can render as the way not using four spaces. 😊

[2021-08-23 12:29] rhymes commented on #13170
Hi @vishaldeepak, sorry for the misunderstanding. I've confirmed internally that this is a feature, not a bug. At the moment we don't plan to allow Markdown and thus HTML in the tag short summary. I'm going ahead and close this. Thanks again for the patience!

[2021-08-23 12:29] #13170 closed

[2021-08-23 12:49] Yuma-Tsushima07 opened #14567 "Errors when posting posts and editing + DM msgs don't send"
**Describe the bug**

When posting a post and/or editing posts the 500 and 502 error comes up.
Also DM messages don't send.

**To Reproduce**

**When Editing**
 1. Go to your dashboard and click on any post
 2. Click on edit
 3. Edit your posts
 4. You will see the 502 error.

 **When Posting**

1. Go to create posts
2. Make a post
3. Then it redirects you and gives 500 error

**When DMing someone

[2021-08-23 12:54] manojnaidu619 commented on #14503
Can I grab this issue?

[2021-08-23 13:12] nickytonline commented on #14503
For sure @manojnaidu619 ! Assigning it to you.

[2021-08-23 13:30] rhymes commented on #14567
Hello @Yuma-Tsushima07, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2021-08-23 13:30] #14567 closed

[2021-08-23 14:05] #14291 closed

[2021-08-23 22:13] CatalinCsnMaster commented on #14496
Hello! can I take this issue? (•‿•)

[2021-08-23 22:24] nickytonline commented on #14496
For sure @CatalinCsnMaster! Assigned!

[2021-08-24 02:54] citizen428 commented on #14563
Hmm, good point, maybe we could unify this a bit. Wondering what @aitchiss thinks about this?

[2021-08-24 09:10] tuang3142 commented on #14480
hi @rhymes, can I grab this issue?

[2021-08-24 09:26] aitchiss commented on #14496
I think this might have been closed by mistake @nickytonline 🤔  Thanks for taking it on @CatalinCsnMaster!

[2021-08-24 11:06] nickytonline commented on #14496
Oops! Thanks for reopening @aitchiss!

[2021-08-24 12:44] #14554 closed

[2021-08-24 13:23] manojnaidu619 commented on #14503
I've been getting this error while I'm trying to setup things on local...I run into this below error after running `rails s`
[code]
Can I get some help here?

[2021-08-24 13:53] rhymes commented on #14480
Hi @tuang3142, let me get back at you because I'm not sure what @amis-shokoohi is referring to and AFAIK we don't multiply stats by 10, we only set 10 as the base number for page views here:

https://github.com/forem/forem/blob/fc01a93326ccfff782299330a3f593796c2eda7f/app/controllers/page_views_controller.rb#L11

@amis-shokoohi could you please give us some more info on the bug? Thank you!

[2021-08-24 14:00] rhymes commented on #14503
@manojnaidu619 this usually happens when a build is updated while the server is running and there's a misalignment between the files installed and the files that are loaded in the webserver. A couple of things:

1. make sure your branch is up to date with main, for example with `git checkout main && git pull --rebase main` and then `git checkout yourbranch && git merge main`
2. Run `bin/setup` to

[2021-08-24 16:26] aitchiss commented on #14563
Yeah I think we can/should tweak this in the CSS.

At the minute, we have some styles that are applied to `div.highlight`, which targets code blocks _not_ inside list items. And then we have styles that target `li pre.highlight` which do target the code blocks in lists. The padding is missing from the latter.

https://github.com/forem/forem/blob/0c6c5c55a161f42e854fd840554c723effe65628/app/assets/

[2021-08-25 10:34] SiddharthShyniben commented on #4948
I'm having some trouble with the Forem Dev server. It never starts. Could somebody help me?

I'm using Gitpod, and I get `awaiting port 3000...` forever.

[2021-08-25 12:03] Om-Bhagwat commented on #4948
Check if your port 3000 is preoccupied by some other process?

On Wed, Aug 25, 2021, 16:04 Siddharth ***@***.***> wrote:

[2021-08-25 14:19] thomasbnt commented on #14536
Okay bad news, same bug with **Docusaurus** but only on Chrome *Version 92.0*.

https://user-images.githubusercontent.com/14293805/130807209-62c0b049-2174-489f-bfc0-33dbe50813a4.mp4

On Firefox *Version 91.0.2* he work.

https://user-images.githubusercontent.com/14293805/130807794-c4e3be99-7ffd-41d9-aec9-22aa4de17bb4.mp4

[2021-08-25 15:24] #14563 closed

[2021-08-26 11:28] alextrastero opened #14598 "Login with Github redirects to serviceWorker.js"
**After logging in with Github I was redirected to a static file `serviceWorker.js`**

Logged in with Github and was redirected to this page: https://dev.to/serviceworker.js?signin=true

Screenshot:
![image](https://user-images.githubusercontent.com/4152819/130954919-839a06e2-9fdd-486d-81cb-b7c4edfa9d46.png)

Chrome: Version 92.0.4515.159 (Official Build) (x86_64)
OS: MacOs

[2021-08-27 11:01] aitchiss opened #14607 "Podcast playback options are not accessible"
**Describe the bug**

The podcast control bar that appears at the bottom of the page has a lot of accessibility issues.

The largest issue is that none of the controls appear to be keyboard accessible - it seems we have a lot of buttons which aren't actually buttons, so the keyboard can't reach them. In addition to making them keyboard accessible, it would be useful to consider what landmark would

[2021-08-28 12:57] leewynne opened #14613 "Certificate can’t be blank error when posting comment"
**Describe the bug**

On a number of Forems when I have attempted to add a comment I receive an 'error posting comment'  bug with the detail 'there was a error with your markdown, certificate can't be blank'. However, when you hit cancel, you can see you comment has actually been successful submitted.

**To Reproduce**

The bug seems sporadic. Sometimes I receive it forems and sometimes I don't. T

[2021-08-28 13:40] leewynne opened #14614 "Duplication of onboarding process"
**Describe the bug**

When going through the onboarding process for a few different production forems, the onboarding process happens twice.

**To Reproduce**

I reproduced this recently on Nick's vscode tips forem. I signed up through Safari on Mac and once I agreed to everything, the process started again and successfully completed the second time. I have had this on other forems during mobile s

[2021-08-28 14:05] djuber commented on #14613
if the comment is being created/saved correctly (and shows on a page refresh, error notwithstanding)- it's almost certainly some of the _other_ actions processed [here](https://github.com/forem/forem/blob/main/app/controllers/comments_controller.rb#L66-L83) that are producing the error shown during comment creation.

It looks like [Rpush::Client::ActiveModel::Apns2::App](https://github.com/rpush/r

[2021-08-28 14:09] djuber commented on #14614
This may be a duplicate report of the issue in https://github.com/forem/forem/issues/14483

It's definitely happening (I've seen it myself when signing in to development environments on the first user login).

[2021-08-28 15:30] squarebat commented on #14470
unassigned myself since I won't be able to work on this for two weeks. Seeing that it is a part of bug smash, I want to leave it open to other contributors. Happy debugging!

[2021-08-28 18:52] jwedel commented on #10940
I get the digest between 1 and 4 times for an issue, one each day:

![image](https://user-images.githubusercontent.com/4849728/131227970-fd80f9cf-cce0-4c4b-9b6f-c096b8c74d79.jpeg)

This is really frustrating and time consuming as I start reading until I recognize, I read it already.

[2021-08-28 20:21] simskij opened #14615 "Trying to change username results in a 503 error."
**Describe the bug**

Trying to change username results in a 503 error.

**To Reproduce**

1. Go to the settings page
2. Change your username to something else
3. Press save
4. See 503 error below

**Expected behavior**

Username to change. In my case from `0x12b` to `simme`.

**Screenshots**

![Screenshot 2021-08-28 at 22 18 56](https://user-images.githubusercontent.com/1596025/131230110-612eb2af

[2021-08-28 20:23] simskij commented on #14615
Been discussing this with @michael-tharrington in the dev.to chat prior to posting here.

[2021-08-29 02:34] nickytonline commented on #14613
I can confirm it happens on the desktop as well.

![image](https://user-images.githubusercontent.com/833231/131236306-74e32713-ba70-44c4-ab98-c9a554bbbb92.png)

[2021-08-29 12:21] Radhesh-Sarma commented on #14503
@nickytonline Should I take this up and try ?

[2021-08-29 15:03] vishaldeepak commented on #14428
someone trying to recreate the issue I have noticed that, simply refreshing the page does not cause the problem. Here how I got it reproduced
- Goto This [Turorial Page](https://dev.to/luvejo/how-to-build-a-carousel-from-scratch-using-vue-js-4ki0)
- On the right hit the author
- In the author's page simply click on the same article found in the first page
- Gists should now be mixed up.

Can I be

[2021-08-29 15:38] nickytonline commented on #14428
Assigning this to you @vishaldeepak.

[2021-08-30 04:00] citizen428 commented on #14613
Might also be worth to ping @fdoxyz, he probably knows the most about our push notification implementation.

[2021-08-30 04:02] citizen428 commented on #14614
As commented on the other issue, me too. I started investigating, found something I thought might be promising and now I can't reproduce the onboarding loop anymore, at least I couldn't last Friday 🤦‍♂️

[2021-08-30 04:12] manojnaidu619 commented on #14503
Thanks @rhymes It worked for me this time
@Radhesh-Sarma I'll have a look into the issue soon and revert back.

[2021-08-30 07:00] citizen428 commented on #14598
Hmm, the service worker should no longer exist, see https://github.com/forem/forem/pull/12974

[2021-08-30 07:03] citizen428 commented on #5034
@jgaskins Is this issue completely resolved with your merged PR and can be closed or is there still some follow-up work needed?

[2021-08-30 07:08] alextrastero commented on #14598
https://dev.to/serviceworker.js?signin=true

[2021-08-30 07:17] citizen428 commented on #14598
Yes, this is the self-destructing service worker mentioned in the PR linked above. During that PR we also removed a redirect check from registrations controller, maybe that's the cause of the issue. cc @nickytonline

[2021-08-30 10:43] aitchiss commented on #14337
Hey @omenking are you still having this issue? I tried reproducing locally with your SVG code above, and it's appearing in the correct blue color for me at the moment, so thought I'd check in and see if this has been resolved.

[2021-08-30 12:39] omenking commented on #14337
Yes, the issue is still occurring.

[2021-08-30 12:40] jgaskins commented on #5034
@citizen428 Ah, good call, I forgot to add the `Closes` annotation to the PR. Yep, we should be good on this.

@JoshCheek I'm gonna go ahead and close this one out. If I didn't end up fixing it completely, can you reopen it and I'll have another look?

[2021-08-30 12:40] #5034 closed

[2021-08-30 13:23] aitchiss commented on #13324
Closing this as I believe it was fixed in #13365

[2021-08-30 13:23] #13324 closed

[2021-08-30 13:27] aitchiss commented on #13134
Closing as I believe this was fixed by #14236 where the dropdown was changed to always show below the three dots button 🎉

[2021-08-30 13:27] #13134 closed

[2021-08-30 13:55] aitchiss commented on #12067
Closing as I believe this was fixed in #12723 - please do re-open if you're still seeing this bug though!

[2021-08-30 13:55] #12067 closed

[2021-08-30 15:30] vishaldeepak commented on #14428
@rhymes
The problem seems to be happening because of [this code ](https://github.com/forem/forem/blob/3b67810b9dd4768a69020b16e4bf9042fecfbb9f/app/javascript/utilities/gist.js#L33)

[code]
Looks like the HTML pages already have `script` tag on the page. The (postscibe pacakge)[https://github.com/krux/postscribe#how-to-use-postscribe-to-render-an-ad-after-load] suggests that we create script tags o

[2021-08-30 16:57] cmgorton commented on #14614
Thanks for posting Lee and confirming you have experienced this issue. I am going to close this one since it is a duplicate.

[2021-08-30 16:57] #14614 closed

[2021-08-30 17:28] fdoxyz commented on #14613
Thanks @leewynne & @nickytonline for reporting/confirming this! Also, you're spot on @djuber.

The trickiness here (reason why it was only "sporadically" bubbling up) was that this only happens when someone has devices registered to get PNs delivered. At this time, this only happens when someone used the iOS app to browse a selfhosted Forem. If user X wrote a Post and user Y replies, no error woul

[2021-08-31 07:10] aitchiss commented on #14503
Fixed in #14617

[2021-08-31 07:10] #14503 closed

[2021-08-31 07:11] #13811 closed

[2021-08-31 08:15] aitchiss commented on #1110
Closing this issue as it was fixed under #14317 - the profile menu now operates like a dropdown - it's visible on hover, but also stays open when clicked (either by mouse or keyboard) 🙂

If you still encounter this issue please re-open and we'll investigate further!

[2021-08-31 08:15] #1110 closed

[2021-08-31 08:23] aitchiss commented on #9374
Closing this issue as it was fixed under #10782 (I've double-checked the post referenced above and it's now formatting correctly). If you find this is still an issue, please let us know!

[2021-08-31 08:23] #9374 closed

[2021-08-31 15:05] Ridhwana opened #14634 "https://github.com/forem/forem/pull/12851/"

[2021-08-31 19:35] #9737 closed

[2021-08-31 21:00] #14613 closed

[2021-08-31 21:53] fdoxyz commented on #14502
I was just able to replicate this in DEV here: https://dev.to/fdoxyz/kubernetes-integration-with-rake-tasks-j0b

<img width="1440" alt="Screen Shot 2021-08-31 at 15 47 11" src="https://user-images.githubusercontent.com/6045239/131580580-8c178ac0-286c-4b8e-90de-ea6afce758ac.png">

I'm going to share this with other team members to try and figure the cause of this bug, I'm not quite sure why this is

[2021-08-31 23:05] fdoxyz commented on #14502
After some investigating what was happening here was that the user creating the comment was blocked by the author of the Post.

@crablar it's likely one of the following situations was causing the error you encountered:
1. The author of the Post where you tried to comment had blocked you
2. Your account is suspended or "comment suspended"

If you do have access to the admin area of that Forem then

[2021-08-31 23:15] fdoxyz opened #14642 "Misleading error message when commenting on a Post"
**Describe the bug**

When trying to leave a comment on a Post of a user that has blocked me I encounter an error message that reads:

`Your comment could not be posted due to a server error`

**To Reproduce**

1. Create a Post with user X
2. Log in with user Y (incognito helps here) and comment on user X's post
   - It should work as expected
4. Now log in with user X again and block user Y
5. Lo

[2021-08-31 23:34] fdoxyz commented on #14642
To add a bit more context here it seems like a `Pundit::NotAuthorizedError` is raised and gets rescued [here](https://github.com/fdoxyz/forem/blob/master/app/controllers/comments_controller.rb#L96-L99).

Pundit errors are treated as 404's ([see this](https://github.com/forem/forem/blob/main/config/application.rb#L59)), so an option to solve this could be to handle Pundit errors independently (not

[2021-09-01 03:39] citizen428 commented on #14642
Tbh, I'm not sure raising `Pundit::NotAuthorizedError` is quite the right thing to do here. We're currently overloading the concept of authorization to cover both ownership of resources (e.g. am I trying to edit my own post) as well as domain-level concerns like blocking. As illustrated by this issue, this is a lossy process, as we lose the ability to attach meaningful error messages to the raised

[2021-09-01 06:33] #14634 closed

[2021-09-01 13:31] Ridhwana opened #14645 "Creator Onboarding Page"
**📖 As an admin or Forem creator, I want to set up the mandatory configuration after sign up, to be able to get my Forem up and running.**

_(Format:  As a [persona], I [want to], [so that])_

![](https://user-images.githubusercontent.com/108287/116532347-6d033700-a8e0-11eb-8dae-88bf6164f682.png)

**🐣TASKS**

- [x] Add the "Community Name" field to the form
- [x] Add the "Upload an image" button t

[2021-09-01 13:35] Ridhwana opened #14646 "Interaction and Styling on the Creator Onboarding Page"
**📖 As an admin or Forem creator, I want to see how my updated configuration will affect my Forem UI, so that I can provide the best UI to my users**

_(Format:  As a [persona], I [want to], [so that])_

![](https://user-images.githubusercontent.com/108287/116532363-712f5480-a8e0-11eb-9ef0-a397c5c3c4ef.png)

**🐣TASKS**
https://github.com/forem/rfcs/blob/a8d843d9a37c4105850f575f6e51faac7377a474/tex

[2021-09-01 13:39] Ridhwana opened #14647 "Creator Signup Page"
**📖 As an admin or Forem creator, I want to be able to easily sign up for my Forem, so that I can start building my community**

_(Format:  As a [persona], I [want to], [so that])_

![](https://camo.githubusercontent.com/9bb071ae5d6aef1cf6148de3caf64a169a9e4248be70c2c1c65a2b216a7c3071/68747470733a2f2f63646e2d7374642e64726f706c722e6e65742f66696c65732f6163635f3638303736312f5754454a3065)

**🐣TASKS**

[2021-09-01 13:46] #14647 closed

[2021-09-01 13:46] Ridhwana opened #14648 "Email Confirmation Page"
**📖 As an admin or Forem creator, when my SMTP is enabled I want to see an email confirmation page, to ensure that nobody can just log into my Forem.**

_(Format:  As a [persona], I [want to], [so that])_

![](https://camo.githubusercontent.com/8b118a4cc13bf94cdf97956c508d3c9abda5746a21e13fd46301cc1e42c1d6c0/68747470733a2f2f63646e2d7374642e64726f706c722e6e65742f66696c65732f6163635f3638303736312f66

[2021-09-01 13:52] #14648 closed

[2021-09-01 13:55] Ridhwana opened #14649 "General Workflow for Creator Signup & Onboarding"
**📖 As an admin or Forem creator, I want to be distraction free when signing up and onboarding, so that I can focus on the task at hand.**

_(Format:  As a [persona], I [want to], [so that])_

![](https://user-images.githubusercontent.com/108287/116532363-712f5480-a8e0-11eb-9ef0-a397c5c3c4ef.png)

**🐣TASKS**

- [x] Remove the header and the footer on signup page
- [x] Remove the header and the foo

[2021-09-01 14:01] Ridhwana opened #14650 "Provide help on Creator Onboarding Page"
**📖 As an admin or Forem creator, I want to be able to be see a contextual link to the docs, so that I can view them should I get stuck**

_(Format:  As a [persona], I [want to], [so that])_

![](https://user-images.githubusercontent.com/108287/116532347-6d033700-a8e0-11eb-8dae-88bf6164f682.png)

**🐣TASKS**

- [x] Add help Icon with link

[2021-09-01 14:07] Ridhwana opened #14651 "Navigate Creator to their own Onboarding"
**📖 As an admin or Forem creator, I want to navigate to my onboarding after signup, so that I can start configuring my Forem**

**🐣TASKS**

- [x] Send Creators to the [newly created Creator Onboarding Page](https://github.com/forem/forem/issues/14645), and keep all other users. navigating to the current onboarding page

[2021-09-01 14:10] Ridhwana opened #14652 "Allow the Creator to login automatically after confirming their email (if SMTP is enabled)"
**📖 As an admin or Forem creator, I want to be able to login automatically after confirming my email, so  that I can start onboarding**

**🐣TASKS**

- [ ] Allow automatic login after clicking confirmation link in the confirmation email

**NOTES**

Please read more about this task in the [RFC](https://github.com/forem/rfcs/blob/a8d843d9a37c4105850f575f6e51faac7377a474/text/0190-admin-onboarding.md)

[2021-09-02 10:15] Ridhwana opened #14655 "Fix Cypress test (for the create account button) on the Creator Signup Page."
The [Creator Signup Page](https://github.com/forem/forem/issues/14647) has been implemented, however there is a Cypress test for the feature that I haven't managed to get working.
This test can be found [here](https://github.com/forem/forem/blob/main/cypress/integration/creatorOnboardingFlows/creatorSignup.spec.js#L78).

To replicate the error that we see on Travis, first ensure that `ENV["FOREM_O

[2021-09-02 10:46] Ridhwana opened #14656 "Forem Background on the Sign up, Email Confirmation and Admin Onboarding Pages"
📖 As an admin or Forem creator, I want my experience to be as UI pleasing as possible, so that I feel motivated to continue with the journey.

![](https://camo.githubusercontent.com/9bb071ae5d6aef1cf6148de3caf64a169a9e4248be70c2c1c65a2b216a7c3071/68747470733a2f2f63646e2d7374642e64726f706c722e6e65742f66696c65732f6163635f3638303736312f5754454a3065)

On the Signup, email confirmation and Admin Onboar

[2021-09-02 13:53] Ridhwana commented on #14648
This task is already complete but @juliannatetreault brought up some thought provoking questions which I'd like to discuss:

Some context:

**I dug more into this and here are my findings:**

If we look at the [code for the `create` method in the registrations controller](https://github.com/forem/forem/blob/main/app/controllers/registrations_controller.rb#L14-L36):

We will see that in the [update

[2021-09-02 14:35] maestromac commented on #14648
@Ridhwana there's no overwritten involved; If the code `resource.skip_confirmation` was hit, the user is already confirmed. Redirecting users to their confirmation page is just a page redirect and has nothing to do with whether or not the user is already email confirmed.

A confirmation email will still get sent out though, if SMTP is enabled. It's just like how it is with [DEV right now](

[2021-09-02 18:57] michael-tharrington commented on #14129
Gonna open this one back up because it appears to be occurring again. See - https://www.loom.com/share/0957179d8e2d41a59828bbce3075c1d5

[2021-09-02 19:09] michael-tharrington opened #14657 "As a Forem Admin Creating a Welcome Thread via the Admin Section Doesn't Work Consistently"
**Describe the bug**

Often when trying to create a welcome thread via /admin/apps/welcome it doesn't work.

**To Reproduce**

1. Go to `/admin/customization/config` and click on Community Content, set yourself as the Staff User
2. Next, navigate to '/admin/apps/welcome'
3. Click 'Create a New Welcome Thread'
4. See error (or possibly not)

**Expected behavior**

I expect clicking create a new wel

[2021-09-02 19:13] praveenraghavns opened #14658 "'Report Abuse' should not be shown for author of the Post"
**Describe the bug**
In posts show page, 'Report Abuse' option is shown to Author of the post. Can we remove this ?

**To Reproduce**

**Expected behavior**

"Report Abuse" should not be shown for author of the Post

**Screenshots**
<img width="690" alt="Screenshot 2021-09-03 at 12 37 51 AM" src="https://user-images.githubusercontent.com/22149498/131902384-f4654815-38e6-4ad5-afba-1dd7bb09621f.png"

[2021-09-02 19:15] praveenraghavns commented on #14658
Team FYI, If 'Report Abuse' can be removed, i would like to work on this bug fix.

[2021-09-02 19:43] chungry opened #14660 "Not receiving notifications to my Dev.To account"
I signed up for notifications and noticed I didn't receive anything for few of the post replies I saw we received. Would you be able to take a peak?

Notifications aren't being received for comments and engagement for post.

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the followi

[2021-09-02 19:49] michael-tharrington opened #14661 "Move "Pin Post" from user-facing area to admin only"
**Feature Adjustment**

The new “pin post” functionality is great for Forem Creators/Admin, but I think it should be located in the admin section so that you’re less likely to accidentally pin something during your normal flow.

**Expected behavior**

I think it's suffice to have the pin post functionality located on just the `/admin/content_manager/articles/###` page. It's already located there s

[2021-09-03 03:07] citizen428 commented on #14658
I think the generic "Report Abuse" in your screenshot should stay, as that's related to the discussion area. One might want to get the moderator's attention to the whole discussion, not just a single post. On the other hand, the "Report abuse" option could be removed from the "..." menu for your own posts:

![image](https://user-images.githubusercontent.com/47985/131944666-f758b78c-e401-4836-acfb-

[2021-09-03 03:47] citizen428 opened #14663 "Don't receive notification for own post under organization"
📖 As a content creator I don't want to get notified about posts I publish under an organization so that my notifications stay more meaningful.

![image](https://user-images.githubusercontent.com/47985/131947436-e8374713-bc21-4169-9414-e32caf87a282.png)

When you post under an organization you're a member of, you'll immediately get a notification about it after publishing. Given that you're the per

[2021-09-03 11:15] akhil-naidu opened #14664 "ArgumentError: wrong number of arguments (given 3, expected 2)"
The below mentioned two posts are better off lying in the issues section rather than in the forem.dev website.

- [Heroku and Dokku logs](https://forem.dev/akhil/argumenterror-wrong-number-of-arguments-given-3-expected-2-3bno)
- [Fedora Core OS logs](https://forem.dev/tien/dependency-failed-for-forem-openresty-and-worker-service-1l2c)

---

In this [post](https://forem.dev/akhil/argumenterror-wron

[2021-09-03 14:04] djuber commented on #14664
I think this might have to do with the way ruby3 treats keyword arguments - [the code in question](https://github.com/forem/forem/blob/main/db/migrate/20200731033002_drop_user_optional_fields.rb) looks like this

[code]

The remove index you're seeing the error raised on may be the issue - the last item in the array, {unique: true} is being seen as a positional argument rather than a keyword hash

[2021-09-03 14:24] nickytonline commented on #14598
I'm not really sure how to reproduce this. I could probably go back to a local version of Forem, pre-removal of the service worker (SW), log in to activate the old SW, then grab the latest source code to have it self-destruct and see if this behaviour happens, but when I tested the self-destructing SW when we removed our SW implementation, I was using my GitHub account locally. I'm wondering if a

[2021-09-03 14:39] djuber commented on #14664
Also, thank you so much @akhil-naidu for doing the (too often thankless) work of testing the possible scenarios to narrow this down. That made tracking this down, and validating my guess much faster.

[2021-09-03 16:42] cognivore commented on #13194
After some tinkering, I came to think it's a user error which is due to daylight saving time.
Using correct time zone and letting backend figure it out fixes it.
In my case, posting from London, replacing UTC with BST works.

[2021-09-03 16:42] #13194 closed

[2021-09-03 20:48] cmgorton commented on #14660
Hey @chungry could you give me a little more information so I can help debug this issue?
- Are these notifications on DEV or a different Forem?
- If a different Forem, is it a self-hosted Forem?
- Is this notifications for a single user or an organization?

Thanks.

[2021-09-03 20:58] chungry commented on #14660
Hi Christina,

Thanks for following up.

   - Are these notifications on DEV or a different Forem? These messages
   are on DEV:
   https://dev.to/mage_ai/how-we-organize-our-software-development-process-1lb8
   - If a different Forem, is it a self-hosted Forem?
   - Is this notifications for a single user or an organization? This is
   specifically for a single user: It's for a single user repres

[2021-09-05 16:13] eldadfux opened #14669 "Unable to view Stats for posts in my organization"
**Describe the bug**

I'm unable to watch stats for posts in the organization where I'm the administrator. I can only view stats for post I'm the author of. When clicking on the `Stats` button for posts in my organization, I get an 404 page.

**To Reproduce**

1. Go to your dashaboard
2. Switch to your organization
3. Go to a post you didn't write
4. Click on the `...` button, and then `Stats`
5.

[2021-09-06 02:58] citizen428 commented on #14664
@akhil-naidu Thanks a lot for this. But just to be very explicit about this: you don't generally need to run all migrations when setting up a new Forem instance, `rails db:setup` will re-create the database from `db/schema.rb`.

[2021-09-07 05:30] keshavbiswa commented on #14129
@rhymes I might need a bit of help to understand why this happening again? Busting cache in settings_controller.rb doesn't seem to fix it.

[2021-09-07 09:22] aitchiss commented on #12455
An approach to fixing this has been agreed over on https://github.com/forem/forem/pull/14476 - what we are looking at doing is using a custom event to ensure the themes update properly 🙂

[2021-09-07 11:37] hooopo commented on #10522
+1 for this

[2021-09-07 12:44] aitchiss commented on #14669
Thanks for opening this issue - I was able to reproduce the same behaviour 👍

It makes sense that the admin of an organization should be able to see the stats for all posts on their dashboard, not just the ones they've authored themselves.

[2021-09-07 18:47] leewynne opened #14681 "Forem mobile app - login with Facebook no longer supported"
**Describe the bug**

When attempting to logon to facebook, error is returned by facebook stating that embedded browsers are no longer supported.

**To Reproduce**

From the Forem mobile app go to www.thismmalife.com or www.flowstate.to and attempt to login via Facebook

**Expected behavior**

Successful login

**Screenshots**

![image](https://user-images.githubusercontent.com/12694270/132395612-

[2021-09-07 19:55] cmgorton commented on #14681
@joshpuetz @fdoxyz . Any ideas on why this might be happening?

[2021-09-07 20:49] leewynne commented on #14681
Found some more context

https://developers.facebook.com/community/threads/195638179128499/

[2021-09-07 20:55] fdoxyz commented on #14681
This feels odd because I can't replicate on iOS `14.5` & `15.0` both on device+simulator. @leewynne could you please share your device model & OS?

I remember researching about Facebook's embedded restrictions after your feedback through Testflight (thanks for that 🙏 ), and it appeared like it would only affect Android devices (based on [link 1](https://developers.facebook.com/community/threads/19

[2021-09-07 20:56] joshpuetz commented on #14681
I found a note about Facebook deprecating support for login in via embedded browsers/webviews on Android, but they don't call it out as being deprecated for iOS. There's also a comment on [this thread](https://developers.facebook.com/support/bugs/3839475259507329/) that makes it sound like it might not be supported based on user as well (I CAN replicate this bug on my device)

@fdoxyz @JennieOcken

[2021-09-07 20:59] joshpuetz commented on #14681
(Keeping this issue in the Forem repo so it's publicly visible, but it really should be in the Forem-iOS repo)

[2021-09-07 23:26] djuber opened #14683 "seeds.rb occassionally generates listings which fail validation"
**Describe the bug**

`Faker::Markdown.random` (used in the `Listing.create!` section of the seeder) sometimes generates bodies that exceed 12 newlines:

[code]

We validate this in [`Listing#restrict_markdown_input`](https://github.com/forem/forem/blob/main/app/models/listing.rb#L81-L86) to ensure 12 or fewer newlines are allowed.

If bin/setup is called on an empty database, and this error is en

[2021-09-08 03:56] citizen428 commented on #14683
Maybe easiest if we just update `seeds.rb` with something like this:

[code]

[2021-09-08 14:27] leewynne commented on #14681
Confirmed from my testing that this depends on the FB account. 1 works for me, 1 doesn't

[2021-09-08 14:33] joshpuetz commented on #14681
Thanks for verifying that @leewynne! I'm guessing we're going to have to switch over to using Facebook's native SDK for processing logins on iOS 😦

[2021-09-08 14:59] JennieOcken commented on #14681
I don't see how we have any other choice but to make this change.  I would love to understand size and any risks you see.  But if Facebook wants us to use their SDK, that is a reasonable ask.

[2021-09-08 16:48] fdoxyz commented on #14681
Given that Android (within WebView) support will be completely shut down and we are seeing intermittent (almost arbitrary) errors on iOS I also think it would be best to make the move away from the current web-based OAuth flow for Facebook.

I would say there are at least a couple of ways forward from here:

1. Use Facebook's [JS SDK](https://developers.facebook.com/docs/javascript/) to authentica

[2021-09-08 22:54] #14683 closed

[2021-09-09 10:11] aitchiss commented on #14429
Closed by #14677 - thanks @vishaldeepak!

[2021-09-09 10:11] #14429 closed

[2021-09-09 14:50] joshpuetz commented on #14681
I'm curious @fdoxyz: could we switch to using FB's JS SDK for both mobile AND the full desktop experience? It would be nice if we didn't have to punch out an exception JUST for mobile login with Facebook

[2021-09-09 14:53] cmgorton commented on #13814
Since we are waiting on Grammarly for a fix for this one I am going to go a head and close this issue. When we get more information from Grammarly we can open it back up if needed.

[2021-09-09 14:53] #13814 closed

[2021-09-09 14:56] cmgorton commented on #13826
@fdoxyz can this issue be closed or are there more fixes to add first?

[2021-09-09 14:58] cmgorton commented on #13876
Going to close this issue while the team discusses it further as per @aitchiss comment. Let me know if I should open it back up. Thanks :)

[2021-09-09 14:58] #13876 closed

[2021-09-09 15:07] fdoxyz commented on #13826
At the time the 15min fix was merged we didn't have the building blocks to implement the design above, but we are now able to do this with the MobileDrawer.

I'm moving it to our pod's board to wrap it up and close when fully implemented the fix. Thanks for the ping @cmgorton

[2021-09-09 15:12] cmgorton commented on #13915
@michael-tharrington do you think this is an issue that could be added to the small wins project board?

[2021-09-09 15:18] fdoxyz commented on #14681
I totally agree and I'm confident it can be done that way.

I do have to experiment a bit since it's something completely different than our previous OAuth flow. So whenever I get to a working auth flow I'll share a PR so we can test it using a selfhost deployment (because I can't seem to replicate the problem myself).

[2021-09-09 15:45] michael-tharrington commented on #13915
@cmgorton I imagine so! I've tossed a few things on there, some of which may be a bit more involved than a small win. I know @Zhao-Andy is routing (and fixing!) the items that I put there, so I'm relying on him to kinda keep my suggestions in check, haha.

I'll pop it onto that project board and, Andy, if this is something that is larger than small, ya feel free to course correct. This same advice

[2021-09-09 16:44] #13970 closed

[2021-09-09 16:45] cmgorton commented on #14009
Since we are deprecating Connect do you think we should close this issue @ellativity ?

[2021-09-09 16:53] cmgorton commented on #5819
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:53] #5819 closed

[2021-09-09 16:53] cmgorton commented on #9114
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:53] #9114 closed

[2021-09-09 16:53] cmgorton commented on #9233
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:53] #9233 closed

[2021-09-09 16:53] cmgorton commented on #9243
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:53] #9243 closed

[2021-09-09 16:54] cmgorton commented on #9249
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:54] #9249 closed

[2021-09-09 16:54] cmgorton commented on #9336
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:54] #9336 closed

[2021-09-09 16:56] cmgorton commented on #12017
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:56] #12017 closed

[2021-09-09 16:56] cmgorton commented on #9471
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:56] #9471 closed

[2021-09-09 16:56] cmgorton commented on #9499
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:56] #9499 closed

[2021-09-09 16:56] cmgorton commented on #10606
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:56] #10606 closed

[2021-09-09 16:57] cmgorton commented on #10695
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:57] #10695 closed

[2021-09-09 16:57] cmgorton commented on #11351
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:57] #11351 closed

[2021-09-09 16:57] cmgorton commented on #12028
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:57] #12028 closed

[2021-09-09 16:58] cmgorton commented on #12190
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:58] #12190 closed

[2021-09-09 16:58] cmgorton commented on #12333
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:58] #12333 closed

[2021-09-09 16:58] cmgorton commented on #13277
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:58] #13277 closed

[2021-09-09 16:58] cmgorton commented on #13560
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:58] #13560 closed

[2021-09-09 16:58] cmgorton commented on #13726
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:58] #13726 closed

[2021-09-09 16:59] cmgorton commented on #14009
Never mind. I talked to Ben and we agreed all issues labeled connect should be closed.

[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:59] #14009 closed

[2021-09-09 16:59] cmgorton commented on #14034
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 16:59] #14034 closed

[2021-09-09 17:00] cmgorton commented on #14035
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 17:00] #14035 closed

[2021-09-09 17:00] cmgorton commented on #14101
I am going to close this issue since we are moving to deprecate connect.
[Deprecating Connect Chat](https://forem.dev/foremteam/deprecating-connect-chat-2kgi)

[2021-09-09 17:00] #14101 closed

[2021-09-09 20:13] cmgorton commented on #14502
@fdoxyz since you opened this other issue #14642 do you think this one can be closed or should we keep it open for further investigation?

[2021-09-12 13:32] paul-j-lucas opened #14704 "Clicking "Follow" [a tag] does nothing"
**Describe the bug**

Clicking the **Follow** [tag] button does nothing, i.e., does _not_ add a tag to the set of tags I follow.

**To Reproduce**

1. Go to a tag's page, e.g., `https://dev.to/t/cpp`.
2. Click the **Follow** button.

**Expected behavior**

`#cpp` would be added to the set of tags I follow.

**Desktop (please complete the following information):**

- OS, version: macOS 11.5.2
- Bro

[2021-09-12 21:11] rafaelbernard opened #14705 "Issues with feed updates"
**Describe the bug**

Recent posts from my website feed are not being synced at my dev.to dashboard. I try to force fetching posts from the feed, but no luck so far.

**To Reproduce**

1. Go to  'settings'
2. Click on 'Extensions'
3. In the section 'Publishing to DEV Community from RSS' click on 'Fetch feed now'
4. There is no error and last fetched info is updated

**Expected behavior**

Most rec

[2021-09-12 23:21] pbnj commented on #39
I would like to re-raise this issue 4 years later.

As a platform for developers to write technical articles and blog posts, the editor/writer experience is as important as reader experience.

Having a side-by-side markdown editor and preview window would be a great feature to have in forem.

[2021-09-13 15:08] djuber commented on #14705
I tested this locally against https://rafael.bernard-araujo.com/feed (trying to import the articles into a development environment after setting the setting as suggested in your steps to reproduce) - it looks like the posts/articles are not created because of a  non-ascii tag (we're reading this from the category field in the rss item):

[code]

I assume the same error will happen when the categor

[2021-09-13 15:14] djuber commented on #10116
I think this specific error (rendering the tag page for existing non-ascii tag names) is resolved after https://github.com/forem/forem/pull/13720 - however - there's still an open issue https://github.com/forem/forem/issues/14422 where it's not possible to create or add non-ascii tags (I believe that was added as a guard to prevent this issue from occurring).

I'm going to close this issue (the ta

[2021-09-13 15:14] #10116 closed

[2021-09-13 15:44] rafaelbernard commented on #14705
Thanks for the response and for trying to address it, Daniel.

It must be something introduced quite recently because I have imported other `tropeçando` tags and categories posts in the past, as you can see in my screenshot.

Best,
Rafael

[2021-09-13 15:50] aitchiss opened #14709 ""Latest" feed occasionally shows posts out of order"
**Describe the bug**

Occasionally, when viewing the `/latest` feed, users can see more recently published posts appearing below older posts. For example:

![screenshot of DEV latest feed. A post is circled that shows it was published "1 hour ago", and above and below it are posts from 2 hours ago](https://user-images.githubusercontent.com/20773163/133114102-b93cac35-5da8-4f47-8f02-3c15fbbc3930.pn

[2021-09-14 04:13] twinsfan421 commented on #14669
I can work on this

[2021-09-14 06:36] citizen428 commented on #14669
Thanks @twinsfan421, I assigned you the issue now.

[2021-09-14 12:47] #14656 closed

[2021-09-14 13:42] Ridhwana commented on #14649
@juliannatetreault looking for my next issue so just want to double check if you've started working on this issue or if I could tackle it?

[2021-09-14 14:48] ellativity commented on #5519
Did we ever figure this out? It's a very similar issue to that reported to us by another community member and I'm trying to identify the source of this issue.

[2021-09-14 18:17] juliannatetreault commented on #14649
Thanks for checking in with me--I appreciate it! Feel free to tackle this one, @Ridhwana. 😊

[2021-09-14 19:03] #14422 closed

[2021-09-14 19:40] djuber commented on #14705
Hi @rafaelbernard - we just deployed the [tag fix](https://github.com/forem/forem/pull/14710)  - it looks like there's up to a 4 hour delay on feed imports for any user, but I expect this will address the issue you're seeing with posts not showing up from RSS sometime today. The change definitely did result in the expected behavior of imported posts showing as  draft articles for me when testing.

[2021-09-14 19:40] #14705 closed

[2021-09-14 22:01] djuber commented on #14709
It looks like a way to replicate this would be
- load /latest - do not scroll down
- wait for new articles to be published (20-30 minutes is probably enough for DEV.to, basically wait for new articles to have been published) - in test you can create articles to suit your needs.
- scroll down until a request to /search/feed_content?... is made (which returns a json list of articles)
- observe the p

[2021-09-14 22:39] djuber commented on #14704
@paul-j-lucas I'm able to replicate this (the cpp tag cannot be followed on dev).

I'm seeing there's a syntax error reported from followButton.js (in the function that adds the event listeners to the follow button) - this appears to be a bug in our handling of user supplied usernames which are not escaped for json serialization (so we're sending json data that's not handled correctly by the front

[2021-09-14 23:32] djuber commented on #14704
To widen/specify this a little further:
- the broken follow functionality also applied to user pages where the user name has a quote in it, like https://dev.to/andyj115 (user name is "mi" and the follow button is broken).

[2021-09-15 02:13] #14432 closed

[2021-09-15 07:53] aitchiss opened #14735 "Include search term in search results page title and heading"
While going through some accessibility tutorials on Deque, I came across some best practice guidance for page titles (i.e. the name shown in the browser tab for the given page). For the most part, our page titles tick all the boxes, but our search results page could benefit from some tweaks.

![Screenshot of course materials stating "If a page is the result of a user action or scripted change of c

[2021-09-15 09:34] aitchiss commented on #14709
I think there might be two aspects to this bug. The one that you mention @djuber, but I think there's also something else funky going on... As far as I know, the expectation is that the UI should present posts in the order they're received in the API response, but once we start scrolling, that isn't always happening.

You can reproduce in DEV fairly reliably by

- visiting /latest
- immediately st

[2021-09-15 15:05] #2204 closed

[2021-09-16 05:30] zachjonesnoel opened #14742 "Dev.To Android app not able to view feeds."
**Describe the bug**

I use Dev.To Android app for reading all the feeds and posts. And today when I tried to open the app all I see is a blank screen.

**To Reproduce**

1. On app open, feeds is empty.
2. On icon click, feeds don't refresh.
3. On pull to refresh, feeds is empty.

**Expected behavior**
On app open / click/ pull to refresh actions it should be able to call the API and fetch all fee

[2021-09-16 13:39] ellativity opened #14743 "Multiple users experiencing Apple ID sign up error "Invalid curve name""
**Describe the bug**

Several users have contacted yo@dev.to due to experiencing this error using Apple ID sign up.

**To Reproduce**

1. Go to `https://dev.to/enter?state=new-user`
2. Click on `Sign up with Apple`
3. See error:

If you haven't created an account, we recommend signing up with social authentication below. If you haven't received your confirmation email yet, click here to resend it.

[2021-09-16 16:35] Zhao-Andy commented on #14129
Hi @keshavbiswa, sorry for the late response! I believe this is reoccurring because there's some memoization/caching happening here: https://github.com/forem/forem/blob/69b4c6c5e374dfc0a5f0e20d62a89462846c7d0f/app/helpers/application_helper.rb#L180-L182

It seems that when the name is updated, there needs to be some cache to clear. I'm not 100% sure where it is yet since I did a fairly quick inves

[2021-09-16 16:47] djuber opened #14745 "Tag names should not reject necessary modifier characters"
**Describe the bug**

When relaxing the "ascii letters and numbers only" restriction on tag names, the character class `:alnum:`  was used (it's pretty close to correct).

A community member pointed out that some characters needed for multilingual support are excluded from this, for example the middle dot or zero width joiner characters used in some languages.

From the lists at http://www.unicode

[2021-09-16 17:50] yheuhtozr commented on #14745
As a spin-off from emoji-proofness testing, I found `[[:alnum:]]` rejects [variation selectors](https://en.wikipedia.org/wiki/Variant_form_(Unicode)) altogether. That could be fatal in Mongolian, and cause confusions in other East Asian languages.

[code]

And it also hates combining diacritics which does not have `Alphabetic` properties(?).
[code]

[2021-09-16 19:47] fdoxyz opened #14749 "Updating authentication configs causes a redirect to a JSON response"
**Describe the bug**

When editing Authentication configs in `/admin/customization/config` I get redirected to a JSON response from `/admin/settings/authentications`

**To Reproduce**

1. Open local development environment and enable social authentications.
2. Save the changes
3. You'll end up in `/admin/settings/authentications` with a JSON response (the update is successful to edit the configs)

[2021-09-16 19:48] djuber commented on #14749
I've seen this as well. Thanks for reporting this!

[2021-09-17 03:28] citizen428 opened #14751 "Add tag autocompletion during post authoring"
📖 As a content creator, I want to select tags from a dropdown of popular tags when creating my posts.

This has two parts:

* [x] A backend API for getting a list of popular tags
* [x] A frontend implementation for the dropdown

[2021-09-17 06:20] yheuhtozr commented on #14745
Before discussing the additional marks, I have found that Ruby (Onigmo)'s char class `[[:alnum:]]` is not really working as advertised from the start. According to [the catalog spec](https://github.com/k-takata/Onigmo/blob/dd8a18af5c2f2871104b1bdbf3bbb597ec9e4665/doc/RE#L208), it should work as if `[\p{L}\p{M}\p{Nd}]`, but the actual behavior is that of [UTS 18 Annex C](http://www.unicode.org/repo

[2021-09-17 11:22] ellativity opened #14754 "Error when removing tags from post using moderator panel: "TypeError: window.parent.document.getElementsByClassName(...)[0] is undefined""
**Describe the bug**

Error when removing tags from post using moderator panel:

"TypeError: window.parent.document.getElementsByClassName(...)[0] is undefined"

**To Reproduce**

1. Go to a post on DEV that needs to have a tag removed
2. Open the moderator tools panel by clicking on the purple shield icon in the bottom-right corner
3. Scroll down to **OTHER THINGS YOU CAN DO > Adjust tags**
4. Cl

[2021-09-17 12:39] #14749 closed

[2021-09-17 12:42] djuber commented on #14743
@ellativity this was addressed by a configuration update for dev.to yesterday, and appears to have been a problem from 2021-09-09 to 2021-09-16 based on the logs.

The root cause was suspected to be a formatting change during another update in the authentication settings (which submit a single form for all providers).

[2021-09-17 12:42] #14743 closed

[2021-09-17 13:35] michael-tharrington opened #14756 "Incorrect Behavior for Liquid Tag Embed for Tags in Notifications View"
**Describe the bug**

When receiving a notification that included an embedded liquid tag, I was following the tag but the tag embed still showed "follow" beside it. This was only occurring in notification view.

**To Reproduce**

1. Follow a tag with user A
2. Create a post with user A
3. Using user B write a comment on user A's post with an embedded liquid tag that points to the tag that user A f

[2021-09-17 14:13] madebyildi opened #14757 "Forem mobile hamburger menu scrolling bug"
**Describe the bug**

When navigating to the Forem hamburger menu and then scrolling down, you cannot scroll back up. The menu gets stuck and instead when you try to scroll up it scrolls the page underneath the menu. The only way to scroll up and down sucessfully is to press and hold as you scroll on the screen.

**To Reproduce**

1. Open hamburger menu
2. Scroll all the way down
3. Try to scroll

[2021-09-17 14:46] kkomal1408 opened #14758 "unable to install swift pod dependency with react native project"
Failed to load Info.plist from bundle at path /Users/Library/Developer/CoreSimulator/Devices/20EE2427-7684-4091-9A60-5024FA960988/data/Library/Caches/com.apple.mobile.installd.staging/temp.TlJCnn/extracted/Payload/ReactTestProject.app/Frameworks/Alamofire.framework; Extra info about "/Users/Library/Developer/CoreSimulator/Devices/20EE2427-7684-4091-9A60-5024FA960988/data/Library/Caches/com.apple.m

[2021-09-17 15:09] djuber commented on #14757
Confirmed, I'm seeing the same behavior on android with firefox (but can't reproduce it in the "responsive mode" in chrome for desktop.

It looks like the scroll up event is being sent to the underlying page, not the menu (as reported).
Often I'm selecting a menu item rather than starting a scroll.

If I've started scrolling down and don't raise my finger, I can scroll up successfully, but it's in

[2021-09-17 15:30] fdoxyz commented on #14742
Hi @zachjonesnoel, thanks for the bug report. It's hard to tell what might've caused this problem but there's a chance this was a blip in the page load itself. Maybe it was a temporary bug that got fixed by now, because I'm not able to reproduce this after restarting the DEV Android app a few times on Android 11 too (I tried while on Wi-Fi but also on 3G network).

Is this something that happens r

[2021-09-17 16:21] zachjonesnoel commented on #14742
Hi @fdoxyz,
this morning (India time) when I checked it had the same issue on both Wi-Fi and mobile 4G network. But now when I tried the same app froze I killed it and opened the feed was there.

 there's a chance this was a blip in the page load itself -
I did suspect that but it kept happening repeatedly when using the app. Eg. I would kill and open the app, feeds show up and I read a post and g

[2021-09-17 17:31] Zhao-Andy commented on #14129
Resolved by #14736 since it removed that heading entirely. The bug still appears on the logo if someone hard refreshes, but I don't think that's a huge issue and will most likely be resolved by eventual caching. The bug does not appear when just simply landing on the page after changing so I think it's fine.

[2021-09-17 17:31] #14129 closed

[2021-09-17 18:25] #14661 closed

[2021-09-18 08:37] thepeoplesbourgeois opened #14765 "{% details It's a good thing there's no markdown in this opening tag %}"
**Description**

Including markdown within a liquid template's opening tag – specifically, markdown that uses another liquid tag behind the scenes to do some of the formatting's heavy lifting – confuses the liquid renderer, as it will see the closing tag of the nested template, and then assume it's meant to close the outer template. This produces a bug that crashes the liquid renderer, which cause

[2021-09-19 05:35] zachjonesnoel commented on #14742
Hi @fdoxyz, not sure if something was addressed or it was just a blip because yesterday and today the app is working good. Unless you want to investigate it more, I think the issue could also be closed.

Appreciate you taking your time testing out and quick responce to my issue.

Happy coding! 👨‍💻

[2021-09-20 05:13] vishaldeepak commented on #14642
I'd like to try this.

[2021-09-20 07:03] citizen428 commented on #14765
Thanks for this bug report! It happens in `MarkdownProcessor::Parse.finalize`, where we catch any Liquid syntax error and then set the HTML to that value.

The syntax error itself occurs because the backticks seem to implicitly start a `raw` tag so when we encounter the `endraw` the parser complains that this is not the correct tag for closing a `detail` tag.

[2021-09-20 07:07] citizen428 commented on #14765
As a temporary workaround you can use `<code>` tags instead of the backticks, that works as intended:

[code]

![image](https://user-images.githubusercontent.com/47985/133966763-e40a5afb-f6b8-4a58-8282-4cad4c0e4aaa.png)

[2021-09-20 07:15] citizen428 commented on #14765
The most likely culprit here is probably the `escape_liquid_tags_in_codeblock` helper method, I'll see if there's a straightforward fix for that.

[2021-09-20 07:48] citizen428 commented on #14754
@aitchiss Maybe you have an idea about this: I think the problem arises in `renderTagOnArticle` where it tries to look for an `ariticle-iframe` class which it can't seem to find. Could it be that the fix introduced [here](https://github.com/forem/forem/pull/14566) for `/mod` and `/mod/<tagname>` is the reason this no longer works from the modcenter?

[2021-09-20 11:31] Ridhwana commented on #14649
I've started a slack conversation to gain some thoughts and insights from others: https://forem-team.slack.com/archives/C01S4QZUDNC/p1632137443006500

[2021-09-20 12:06] aitchiss commented on #14754
Yes I think that's exactly what's going on 🙈  I think I can sort a quick fix for this

[2021-09-20 12:37] Ridhwana commented on #14651
@juliannatetreault can we move this one in progress as well, I thinks its covered by your current PR?

[2021-09-20 13:43] juliannatetreault commented on #14651
Definitely, @Ridhwana! I've moved it to the correct column. 😊

[2021-09-21 04:04] citizen428 commented on #14642
Thanks for volunteering, I assigned you this issue @vishaldeepak.

[2021-09-21 04:39] citizen428 commented on #13915
I'm picking this up because it actually fits in with the mandate of the Content Experience pod.

[2021-09-21 05:12] citizen428 commented on #13915
One of the problems here is that we conflate the concepts of following and "anti-following" tags: in order to not follow a tag one has to counter-intuitively follow it first and then assign it a negative score. If I had to guess this is probably because "anti-following" was retrofitted into an existing model.

My preferred approach would be to filter out tags with negative scores from `User#cached

[2021-09-21 09:52] #14754 closed

[2021-09-21 14:51] joshpuetz opened #14783 "Top bar always black in Safari 15"
**Describe the bug**

On Safari 15, the top bar is jet black regardless of a Forem's accent color and user's light/dark mode setting.

**To Reproduce**

- Visit https://dev.to (or any other forem)
- Note the top bar is black.

**Expected behavior**

We should be using either the Forem's accent color or the header color from a user's theme to set the color of the Safari browser top chrome.

Safari

[2021-09-21 15:05] #14669 closed

[2021-09-22 15:49] #797 closed

[2021-09-22 15:50] #12671 closed

[2021-09-22 15:54] cmgorton commented on #2911
This issue has gone pretty stale and I do not think this is a feature we plan to work on any time soon. I am going to go a head and close this issue. Thanks.

[2021-09-22 15:54] #2911 closed

[2021-09-22 20:24] cmgorton commented on #143
This issue went stale a long time ago. I am going to go a head and close this but if anyone is still experiencing this issue please let me know and we can reopen it. Thanks.

[2021-09-22 20:24] #143 closed

[2021-09-22 20:25] #1308 closed

[2021-09-22 20:26] cmgorton commented on #1396
This issue has gone stale. With the backlog of feature requests we currently have and are prioritizing I am going to close this issue. Maybe we can revisit it in the future. Thanks.

[2021-09-22 20:26] #1396 closed

[2021-09-22 20:33] cmgorton commented on #1431
Looks like this might be a duplicate of this issue https://github.com/forem/forem/issues/1228 . I am going to close this issue and anymore discussion on a possible fix for this can be added to #1228

[2021-09-22 20:33] #1431 closed

[2021-09-22 20:41] #11529 closed

[2021-09-22 20:41] #11569 closed

[2021-09-22 20:43] cmgorton commented on #11487
I believe this has been addressed with Ben's PR. If that is not the case we can open this issue back up.

[2021-09-22 20:43] #11487 closed

[2021-09-23 02:40] amywtlin opened #14794 "WYSIWYG editor"
RFC in discussion: https://docs.google.com/document/d/1TDTeFCfWuFq3l0spkCUIQ9nw--BewIShnnqJ5Q_Ptlo/edit#heading=h.tf4yqoluwh6u

[2021-09-23 06:03] vishaldeepak commented on #14470
Need a bit of help form the Forem Team on this.
Looks like defining html tags in Markdown actually converts them in readable tags on browser. Is this desired behaviour?

<img width="819" alt="Screenshot 2021-09-23 at 11 29 43 AM" src="https://user-images.githubusercontent.com/9512872/134460845-ab45ba49-b275-4ff6-881e-c2d69b924c14.png">
<img width="814" alt="Screenshot 2021-09-23 at 11 29 56 AM" sr

[2021-09-23 06:36] citizen428 commented on #14470
This is part of how Markdown works, see https://daringfireball.net/projects/markdown/syntax#html.

[2021-09-23 07:17] Posandu opened #14796 "Reading list doesen't update when a post unpublished (Deleted also ?)"
**Describe the bug**
The reading list doesn't update when a post deleted

**To Reproduce**

Make a post.
Save it to the reading list.
Delete that post.
Go to the reading list.
The saved post is still there, but when clicking it this page comes (Because the post was deleted)

**Expected behaviour**
The item should be removed when the post is deleted/unpublished.

**Screenshots**
![image](https://us

[2021-09-23 08:56] SiddharthShyniben commented on #14751
Aren't tags already autocompleted? Or do you mean an always-there list of tags which are inferred from the content?

[2021-09-23 09:20] aitchiss commented on #14751
Yes the idea is that before you start typing and searching, we'll auto-suggest some of the most popular tags to save people hunting for them 🙂

[2021-09-23 14:33] #13667 closed

[2021-09-23 19:56] nickytonline opened #14800 "Series heading skips a heading level"
**Describe the bug**

The series section of a post, if it is part of a series, skips a heading level. It's an `<h3 />` that should be an `<h2 />`

**To Reproduce**

1. Navigate to https://dev.to/nickytonline/september-16th-2021-what-did-you-learn-this-week-58gn
2. Notice the blog post is part of a series.
3. Run the WebAIM WAVE browser extension on the page. If you haven't already, [install the WA

[2021-09-24 08:03] #14800 closed

[2021-09-24 15:34] ospatil opened #14802 "Embedding github pull request throws error"
**Describe the bug**

I'm trying to embed the following gihub pull request using the Liquid Tag: `{% github https://github.com/ospatil/nats-server/pull/2 %}`

But instead of embedding, I get Github API error as can be seen in the attached screenshot.

**To Reproduce**

1. Create a new post.
2. Embed the above mentioned pull request: `{% github https://github.com/ospatil/nats-server/pull/2 %}`.

**

[2021-09-24 16:09] djuber commented on #14802
I get the same 422 error when trying to fetch that pull request (which is currently a draft, not sure yet if that's important) - but I can embed this issue just fine.

https://github.com/forem/forem/blob/main/app/models/github_issue.rb#L42-L44 looks like the place this is raising an error (I can fetch the issue fine, but trying to get the html body from the text fails):

[code]

The underlying iss

[2021-09-24 16:22] ospatil commented on #14802
@djuber Thank you for the prompt reply. It worked after I added description to the PR as you suggested.

[2021-09-24 16:45] djuber opened #14803 "github liquid tag raises error when linked PR has no body"
**Describe the bug**

When a github PR has no description body
When it is included in a github liquid tag

An error is shown after an empty POST to github's `/markdown` service:

[code]

**To Reproduce**

Open a PR on a repo. For example, https://github.com/notauser/notarepo/pulls/1

Delete any body / template for the PR - should show "no description provided" on the PR page

Edit or create a new

[2021-09-24 16:45] djuber commented on #14802
Closing in favor of #14803 since it's working for you now.

[2021-09-24 16:45] #14802 closed

[2021-09-25 17:42] vishaldeepak commented on #14470
The problem is around runkit_tag.rb:76
[code]
The second line of code strips all tags. The first idea would to fix this line, but the problem is in earlier code `parser.rb-finalize():19`, adds other tags via various sanitize and markdown processing. For example this text entered in edit Post
[code]

Would create the final output in the runkit_tag.rb:76 as follows
[code]
Now we do not know which ta

[2021-09-26 19:16] metamoni commented on #14796
I was going to pick this up, but I can't reproduce it.

https://user-images.githubusercontent.com/22390758/134821192-5819ee35-c374-49c2-9dd4-b70e419a9357.mov

[2021-09-26 19:45] metamoni commented on #14735
Hi! I have a wee PR ready to go for this one ☺️

[2021-09-26 19:58] vishaldeepak commented on #14765
more information for raw tags can be found here https://github.com/Shopify/liquid/blob/eab13a07d9861a38d993d2749ae25f06ff76426b/test/integration/tags/raw_tag_test.rb

[2021-09-27 02:17] egoTr opened #14806 "Right Sidebar Not Able To Scroll On PC"
**Describe the bug**
On my computer, when I'm in a post with a sidebar on the right which shows **User profile** and **More articles**
👉 I can not scroll the sidebar to view more.

**To Reproduce**
1. Go to a post
2. Navigate to the right sidebar
3. Try to scroll
4. Can not scroll

**Expected behavior**
The sidebar should scroll for showing more info.

**Desktop (please complete the following info

[2021-09-27 02:49] citizen428 commented on #14806
This is indeed a bit unintuitive, the sidebar does not scroll independently. If you scroll down far enough it will eventually catch up with the main content.

[2021-09-27 03:35] amywtlin opened #14807 "Making writing easier and more intuitive"

[2021-09-27 04:06] citizen428 opened #14808 "Toolbar for editor"
## What this is about
Adding a toolbar to facilitate inserting markdown formatting syntaxes

## Background/Why
This is the first milestone of #14807, with the goal to make the editor easier and more intuitive.

## Scope & Specs
### Supported ways of inserting syntaxes
We are supporting 2 new ways of inserting syntaxes, besides directly typing them:
1. Clicking on a button to insert syntaxes, for e

[2021-09-27 04:08] citizen428 opened #14809 "Easier way to add rich content"

[2021-09-27 04:50] Tronic247 commented on #14796
See this https://www.awesomescreenshot.com/video/5386431?key=cb61f6991b16636a11926a7bc3860db7

[2021-09-27 05:15] citizen428 commented on #14742
Hi @zachjonesnoel, I'll be closing this issue now, please feel free to re-open it if you experience this problem again.

[2021-09-27 05:15] #14742 closed

[2021-09-27 05:16] citizen428 commented on #14658
@praveenraghavns Are you still planning to work on this issue? Should I assign it to you? Thanks!

[2021-09-27 05:34] metamoni commented on #14796
I see. So in your video the post isn't deleted, it's unpublished. I'm guessing it's still on the Reading List because it's your own post and you can view your own unpublished posts. Will wait for someone to confirm the expected behaviour. If this is a bug I'd be happy to take it on.

[2021-09-27 06:32] praveenraghavns commented on #14658
@citizen428 yes, I'll work on this issue.

[2021-09-27 07:41] amywtlin opened #14812 "Tag isn't shown in the dropdown when the text matches exactly the tag"
**Describe the bug**

As titled. When you type the whole string of a tag, the option sometimes disappears in the autocompletion list. In [this loom](https://www.loom.com/share/294cf9a000944f7eaff4ce62fa03c3c9), I typed `java` , the first time it showed up, but if you keep watching, if you type `java` really fast, there is only `JavaScript`  in the autocomplete dropdown for some reason.

**To Repro

[2021-09-27 08:24] praveen-raghav-ns opened #14813 "Installation documentation URL is invalid"
**Describe the bug**
In the section https://github.com/forem/forem#installation-documentation, the URl mentioned (https://developers.forem.com/installation/mac) is invalid. It throws 'Page Not Found' error.

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the follow

[2021-09-27 08:46] praveen-raghav-ns commented on #14813
Team, since it's a small change, i have created a PR for the same.
https://github.com/forem/forem/pull/14814/files

[2021-09-27 11:47] Link2Twenty commented on #14496
It seems to be quite hit or miss for me, sometimes the skip appears and at other times it doesn't. I couldn't see and real pattern.

[2021-09-27 11:49] Link2Twenty commented on #14356
What's left to do for this one?

[2021-09-27 11:56] Link2Twenty commented on #14757
I think this is to do with the pull to refresh functionality.

In order to get this issue to appear in responsive view on chrome reload the page while it's in mobile mode. This will initialise the the pull to refresh and then the issue is present.

![gif of scroll issue](https://user-images.githubusercontent.com/3534427/134903296-457cca07-e882-4844-b4eb-45c7479aaf92.gif)

[2021-09-27 12:16] aitchiss commented on #14356
Hey @Link2Twenty it's just point 3 that we haven't addressed yet:

[2021-09-27 13:27] aitchiss commented on #14356
Yay! No worries @keshavbiswa - it's not been very long at all! There's absolutely no rush, glad to hear you're happy to continue on this issue 😄

[2021-09-27 13:44] Link2Twenty commented on #14356
Sorry @keshavbiswa  I wasn't meant to make you feel pressured, I'm just having a look at what's open 😊

[2021-09-27 16:14] SiddharthShyniben opened #14818 "No sitemap"
**Describe the bug**

There seems to be no usable sitemap.

I did a bit of searching, to no avail. The [`robots.txt`](https://dev.to/robots.txt) led me to <https://dev-to-uploads.s3.amazonaws.com/sitemaps/sitemap.xml.gz>, which is... a gz file, not xml. <https://dev-to-uploads.s3.amazonaws.com/sitemaps/sitemap.xml> is an error. This should be fixed.

Having a sitemap will probably help with SEO an

[2021-09-27 17:38] zachjonesnoel commented on #14742
Sure @citizen428 I'm currently not facing this issue I believe it was a blip.

[2021-09-27 20:52] cmgorton commented on #14796
Thanks for testing this @metamoni . I'll try to test it out with a coworker tomorrow so we can see if they save my post and I delete my post if it will disappear from their reading list. I think your assumption about why @Tronic247 is still seeing the post in their reading list is correct but will try to confirm and let you know!

[2021-09-28 03:03] amywtlin opened #14831 "Data tracking for sidebar behavior learning"
https://docs.google.com/document/d/1ufKvwJosSv1fyAmm6cH27dCweiffM1f5IPlG2nPVSek/edit#

[2021-09-28 04:03] ludwiczakpawel commented on #14808
While on this, we should also improve the "Image upload" button behavior - because right now it doesn't actually insert the syntax in the editor but shows a field to copy'n'paste it 🤷

One could argue this should be a separate issue/rfc but behavior of this particular control (showing that extra field) will certainly impact overall toolbar structure in negative way.

[2021-09-28 08:05] aitchiss commented on #14808
I wonder how this will work for all of the toolbar options - e.g. what happens if I highlight a chunk of text and click the unordered list button? Does everything highlighted become the first bullet point? Does everything with a new line become a bullet point?

Similar with links - I guess we probably want to do something intuitive like if the selected text looks like a URL, place it in the round

[2021-09-28 08:18] ludwiczakpawel commented on #14808
When in doubts, lets mimic Slack or GitHub.. Not like I wanna rip off other work but we should not re-invent the wheel and follow existing patterns people got used to. In this case GitHub does it pretty well - it's exactly what you described and that would be my expectation too.

[2021-09-28 08:56] amywtlin opened #14834 "Epic: Tag autocompletion improvements"
When I attempt adding a tag for a post...
1. When I type, I don't know if I have added a tag successfully.
2. When I type, the autocompletion is a bit slow (due to both not showing up quickly and a character behind)

As a screen reader user...

1. When I focus the tags input, or any of the options presented, the appropriate "roles" are not announced (i.e. combobox, listbox, option)
2. When I start

[2021-09-28 09:17] amywtlin commented on #14834
Hey @aitchiss - I have converted the card to an epic as the list is getting longer 😅

For the screen reader ones, if they can be worked on without product's and/or design's help (it looks like to me it's simply that we need to implement them, but I might be wrong), can you create issues for them and link them to this epic? Thanks!

[2021-09-28 09:47] medaminefh commented on #5877
Is there any updates on this ?
I'm facing the same issue here

[2021-09-28 09:59] ludwiczakpawel opened #14835 "Theming, part I"
1. Remove following themes: "pink", "minimal", "hacker" and leave only "default" and "night".
2. Rename themes: "default" --> "light", "night" --> "dark".
3. Add option (literally a checkbox) to follow user system's `prefers-color-scheme` preference ("_Sync with OS settings_") https://github.com/forem/forem/issues/17702
    - make it "checked" by default
    - it should work for logged out users t

[2021-09-28 10:32] ellativity opened #14836 "Flag user text in Moderator modal is DEV-specific"
**Describe the bug**

When moderators on all Forems click on **Flag user** at the bottom of the moderator panel, a modal appears to confirm the user action that reads

This author consistently posts content that violates DEV's code of conduct because it is harassing, offensive or spammy.

This should display the individual Forem's name, rather than DEV on all Forems.

**To Reproduce**

1. Ensure y

[2021-09-28 11:22] SiddharthShyniben commented on #14818
Thanks for the explanation, I didn't know that.

[2021-09-28 12:56] aitchiss opened #14837 "Fix prop-types errors"
After merging https://github.com/forem/forem/pull/14635, we have a lot of prop-types errors in the console that need to be cleaned up. These errors can be observed throughout the onboarding flow and during general app usage when running the app locally.

Each error will need to be investigated to check whether the `component.propTypes` declaration needs to be changed, or whether the prop being pas

[2021-09-28 13:09] aitchiss opened #14838 "Tag page - All page content should be contained within landmarks"
**Describe the bug**

For accessibility purposes, [all content should be contained within landmark regions](https://dequeuniversity.com/rules/axe/4.3/region?application=AxeChrome). On the tag page, e.g. https://dev.to/t/devops, the content in the left and right sidebars (desktop view) are not within any landmark:

![screenshot of the tag page for DEV's devops tag. The right sidebar and left sideba

[2021-09-28 13:38] aitchiss opened #14839 ""Slide in" menus are not keyboard accessible"
**Describe the bug**

There are a few places in the app where we show a "hamburger" menu to open more details. For example:

- Left side of the header when in a mobile viewport
- Left and right side of a tag page (e.g.https://dev.to/t/javascript) when in tablet viewport or smaller

These menus currently lack the ARIA attributes to convey they are popup views, and the focus management required to r

[2021-09-28 13:51] aitchiss opened #14840 "Dashboard pages shouldn't have two banner landmarks"
**Describe the bug**

On the user dashboard there are two "banner" landmarks:

- The `<header>` at the top of the page (with logo, search, etc)
- The `<header>` containing "Total post reactions", "Total post views" etc

The same issue is observable across the other dashboards also (e.g dashboard/following_tags).

On each dashboard, [we should only have one banner landmark on the page](https://dequ

[2021-09-28 13:57] aitchiss opened #14841 "Dashboard left-side navigation should be a list"
**Describe the bug**

The left-side navigation options on the dashboard page (desktop view) are correctly wrapped in a `<nav>` element but they should also be wrapped in a `<ul>`, each as individual `<li>` list items.

This helps screen reader users navigate between the items, knowing how many options are in the list and their current position in that list.

**To Reproduce**

- Using a screen read

[2021-09-28 14:20] #14803 closed

[2021-09-28 15:02] aitchiss opened #14845 "Tag autocompletion component improvements: UI, UX & a11y"
These improvements attempt to solve the following user problems:
- When I type, I don't know if I have added a tag successfully.
- Tag description sometimes gets too long that I can't read other tags easily.
- Tag autocomplete is not accessible

Links
- [Epic](https://github.com/forem/rfcs/issues/307)
- [forem/forem issue](https://github.com/forem/forem/issues/14845)
- [Figma spec](https://www.fig

[2021-09-28 15:41] #14813 closed

[2021-09-28 15:44] cmgorton commented on #13434
For anyone who may work on this issue in the future please see the discussion in #13878 for a potential solution.

[2021-09-28 16:46] cmgorton commented on #6586
@rhymes would this be considered a frontend or backend task? Trying to add more context to some of the issues before Hacktoberfest :)

[2021-09-28 17:38] Mr-DG-Wick commented on #12767
I'd like to work on this. Can I get some guidance on how to go about this?
At the moment :
I am reading the docs of imgproxy here : `https://github.com/imgproxy/imgproxy` in order to understand more about the issue.

[2021-09-29 05:51] amywtlin opened #14850 "Epic: Theming"

[2021-09-29 06:09] citizen428 commented on #14835
Just in case anyone else wonders about the user numbers on DEV:

Default: 616,401
Night: 69,651
Pink: 1,971
Minimal: 7,692
Hacker: 6,202

We probably still should give the ~15k users who use soon-to-be deprecated themes a bit of a headsup.

[2021-09-29 06:33] citizen428 commented on #6586
@cmgorton Backend.

[2021-09-29 06:36] citizen428 commented on #14836
For anyone picking this up, it's in `app/javascript/packs/flagUserModal.jsx`.

[2021-09-29 07:25] aitchiss commented on #14835
Or I guess if we default them all to "follows your OS setting" then people who are really into dark mode are less likely to need to alter their settings

[2021-09-29 07:43] ludwiczakpawel commented on #14835
+1

+1 too!

[2021-09-29 09:04] aitchiss commented on #14808
Just adding for visibility - accessible authoring practices for the toolbar that we can follow: https://www.w3.org/TR/wai-aria-practices/examples/toolbar/toolbar.html

[2021-09-29 09:07] vinitshahdeo opened #14851 "`[missing "en.core.edit_profile" translation]` error message shown on right sidebar"
While visiting one of my `Dev.to` [post](https://dev.to/vinitshahdeo/calling-out-beginners-for-a-community-led-mentorship-opportunity-for-hacktoberfest-16gh), I am seeing `[missing "en.core.edit_profile" translation]` on the right sidebar - seems like an error message getting surfaced.

- Here's the [link](https://dev.to/vinitshahdeo/calling-out-beginners-for-a-community-led-mentorship-opportunity

[2021-09-29 09:09] vinitshahdeo commented on #14851
I can reproduce the same on the profile page too.

[![Screenshot 2021-09-29 at 2 38 14 PM](https://user-images.githubusercontent.com/20594326/135238849-bca533b5-ad87-4c1b-82d2-984faa859c60.png)](https://dev.to/vinitshahdeo)

[2021-09-29 10:46] rhymes commented on #14851
@vinitshahdeo taking a look, thank you!

[2021-09-29 11:10] rhymes commented on #14851
Mmm I can't reproduce as in I see the actual text if I go to your profile on DEV:

![Screenshot 2021-09-29 at 13-09-02 Vinit Shahdeo — DEV Community Profile](https://user-images.githubusercontent.com/146201/135257270-36ad55a8-1bc0-4e50-8a2b-7ac956bc5780.png)

I wonder if it's a caching issue. Can you try with a fresh cache or another browser?

I'll keep investigating.

[2021-09-29 11:43] Ridhwana opened #14853 "Update the User Invitation/Password Reset Flow"
As per [the Forem.team discussion:](https://forem.team/peter/incident-retro-mistakenly-deleted-a-forem-cloud-user-account-4plh/comments/5oe/) there is an edge case bug that causes a new user's account to be in erroneous state when following the steps below:

The conditions for this deletion were a very specific order of events, namely:
- The user was invited to the Forem but didn't accept the invi

[2021-09-29 11:53] ellativity commented on #14853
[From the Forem.team discussion:](https://forem.team/peter/incident-retro-mistakenly-deleted-a-forem-cloud-user-account-4plh/comments/5oe/)

@peter the conditions for this deletion were a very specific order of events, namely:
- Jared was invited to the Forem but didn't accept the invite;
- Instead, Jared attempted to log into the Forem and didn't have a password, so requested a password reset lin

[2021-09-29 12:04] Ridhwana opened #14854 "Display `Restricted Liquid Tag LiquidTags::UserSubscriptionTag` as a role option under the manage users."

[2021-09-29 12:12] ludwiczakpawel commented on #14808
Underlin

[2021-09-29 12:57] ludwiczakpawel commented on #14808
Couple things...

### Underline

I've just noticed that markdown doesn't really support underline. I mean it support HTML and therefore you can force underline, buuut even [with HTML it's not so "obvious"](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/u)...

There are other more obvious ways for "highlighting" text. Also, underline style is used for links so this could be potentially c

[2021-09-29 17:55] cmgorton commented on #7886
@joshpuetz @fdoxyz Do either of you know if this is still an issue in the app?

[2021-09-29 18:37] benhalpern commented on #7886
@cmgorton still an issue.

[2021-09-30 02:35] citizen428 commented on #14835
Saw this just now, seems to fit the general discussion and our mission of inclusivity and accessibility:

![Github colorblind schemes announcement](https://user-images.githubusercontent.com/47985/135376583-b097599b-6088-4425-9bfb-dc3ebf6af088.png)

[2021-09-30 02:36] citizen428 commented on #14835
Yes, that's a much better idea.

[2021-09-30 03:44] #13915 closed

[2021-09-30 04:12] citizen428 commented on #14808
It is for accessibility. This is why we include the following warning if a user manually inserts an H1 tag:

![H1 tag warning in Forem editor](https://user-images.githubusercontent.com/47985/135385872-90413a2f-3edc-4bd8-9a66-c29d671abaa3.png)

[2021-09-30 04:13] citizen428 commented on #14808
This is what my vote goes to. The toolbar is something we really want, making something potentially quite complicated a dependency would delay this by quite a bit.

[2021-09-30 04:56] vinitshahdeo commented on #14851
@rhymes Thanks. Now I'm unable to reproduce this. Maybe it's a cache issue.

[2021-09-30 05:06] citizen428 commented on #14851
Thanks for the feedback @vinitshahdeo, I'll close this issue then, feel free to reopen it if you experience this problem again.

[2021-09-30 06:40] ludwiczakpawel commented on #14835
I **personally** think GitHub offers too much when it comes to theming. Both, day and night themes, have bunch of color variants which I don't quite _understand_. But I do admire they fact they're adding color blindness themes and we should do it too eventually. Lets just clean up everything else first :).

[2021-09-30 06:52] shawn-fetanat opened #14866 "Fix the character limit on all inputs on the edit profile page"
Sounds like you have a bug in the `handleSubmit` function that's supposed to evaluate if `input.value <= max_chars` because it doesn't work for any of the input prop values on that page. The max character limit you guys set is 200. I will show you in my Microsoft word that I clearly have 194 characters and there's no possible way microsoft word is giving me the wrong character count, but if you do

[2021-09-30 06:52] #14851 closed

[2021-09-30 07:11] citizen428 commented on #14866
The MS Word count says "Characters including spaces". It doesn't say anything about including newlines, "\n" are characters too.

![image](https://user-images.githubusercontent.com/47985/135403583-3d6a1be9-7b9d-4a01-bef9-6aae2d5a5fa1.png)

The above screenshot says 7 for "Characters (with spaces)" but including the newline after the "f" it's actually 8:

![image](https://user-images.githubusercont

[2021-09-30 07:18] shawn-fetanat commented on #14866
Ohhhh yeah that's right newlines makes it over 200 for sure

[2021-09-30 07:20] citizen428 commented on #14866
Unless I miscounted you may just be a single character over, try going to the end of the last text line and removing the final newline with a forward delete (the Del key). Otherwise, you'll have to make the text a bit shorter.

[2021-09-30 07:27] shawn-fetanat commented on #14866
no you didn't miscount. you're right.

[2021-09-30 07:27] #14866 closed

[2021-09-30 08:37] aitchiss commented on #14808
Potentially, but links have other affordances that underline text doesn't (e.g. hover/focus effect, pointer cursor) so I wouldn't worry about it too much 🙂

Yeah this is tricky I think. I like the idea of hitting the `H` more times to increase the heading level _but_ I don't think that helps users that aren't familiar with markdown. It would only be intuitive if you already knew how heading level

[2021-09-30 08:46] aitchiss commented on #14835
For what it's worth, I think good accessibility is avoiding using colours like red/green to convey information in the first place 😄  Like, it's more inclusive if the main dark/light themes work well for everyone.

It would be nice to consider a "high contrast" theme in the future though, and I do like the idea of creating new themes with purpose, rather than just to "look different" 👍

[2021-09-30 09:17] ellativity commented on #14835
I'm so sad about this. Using different themes is how I know which Forem I'm on when I'm admin-ing DEV (dark), CodeNewbie (minimal), Forem.dev (hacker), and browsing Forem.team (pink) and all other Forems (default).

Will users be able to set custom themes in the near future, or are those of us who are polyforem gonna have to use more mental capacity to not get confused where we are?

[2021-09-30 10:14] ludwiczakpawel commented on #14808
So here's my _current_ take on Headlines implementation:

1. Let's go with H2..H4 for accessibility/SEO reasons.
2. In terms of interaction, let's go with hitting [H] once inserts `##`, twice inserts `###` and 3 times inserts `####` - people familiar with markdown will less likely use toolbar anyway for headlines (or actually anything). So if they want to use H1 `#` fine, we keep prompting them ab

[2021-09-30 10:18] aitchiss commented on #14835
I do the same @ellativity! The aim of these changes though is so that we can safely help Forem creators have a bit more control of some colours and theming/branding (e.g. changing header colours), which in the end should (hopefully, hypothetically at this point) do more to help Forems feel individual and easily distinguishable while consistent ✨

[2021-09-30 10:19] ludwiczakpawel commented on #14835
Don't worry, ultimate goal is for community admins to set up their own color palette, so they should be able to customize not only logo (current state) but also other colors:

- header background color (that should be the most distinctive difference)
- main CTA (buttons) color
- links colors
- maybe body background color

^ so as a user you won't have that many options to choose from. BUT as admin

[2021-09-30 10:29] ellativity commented on #14835
Yeah I think this will make Forem Creators really happy. We have had a fair bit of feedback from them about not being able to set their own brand colours as the Forem colours, so this is a good move.

I imagine that alone will resolve the issue of all Forems looking the same. Thanks so much both for clearing this up! I'm grateful for you taking the time to share this info 🙏

[2021-09-30 13:48] MohamedAsan commented on #14840
I would like to work on this issue. Kindly assign it to me

[2021-09-30 14:07] aitchiss commented on #14840
Awesome! Assigned that to you now @MohamedAsan 😄

[2021-09-30 14:32] mrmir commented on #10130
On it

[2021-09-30 19:36] veerreshr opened #14871 "Failed to fetch Article Analytics - in Brave Browser"
**Describe the bug**
Unable to load the analytics in my browser (even in incognito mode). Occurring only with brave browser.

**To Reproduce**
1. Open a brave browser (either a PC or Mobile browser )
2. Go to dev to dashboard and click on stats of any one article
3. Stats are left blank

**Expected behavior**
To show the actual stats instead of blank spaces in place of stats.

**Screenshots**
![im

[2021-09-30 21:52] mayankav opened #14872 "Contribution Guide : Broken Links"
### **Describe the bug**

**_The contrbution guide has 2 broken links:_**
1. Fork the project
2. Installation guide

### **To Reproduce**

1. Go to https://developers.forem.com/contributing-guide/forem#how-to-contribute
2. On the first bullet point you'll see two links
    - [Fork the project](https://docs.forem.com/getting-started/forking/)
    - [Installation guide](https://docs.forem.com/instal

[2021-09-30 22:34] #14872 closed

[2021-09-30 22:34] mayankav commented on #14872
should have raised the issue on forem-docs repo

[2021-09-30 23:26] yobee333 opened #14874 "Found Broken Link for Test in Documentation"
**Describe the bug**
If you click on the link under Please Include Tests, the link to the testing guide is broken.

Here is what it goes to
![image](https://user-images.githubusercontent.com/69943959/135542175-c812cd95-50f2-4445-8dbe-8499e3b0b77e.png)

**To Reproduce**

1. Go to 'https://developers.forem.com/contributing-guide/forem/#please-include-tests'

![image](https://user-images.githubuserco

[2021-09-30 23:27] yobee333 commented on #14874
Could I please take this for Hacktoberfest?

[2021-10-01 02:22] secondl1ght commented on #14841
Hello, I would like to give this issue a try for my first Hacktoberfest PR. I will take a crack at it tomorrow, just wanted to make a comment in case more than one person was looking at this one. Thanks!

[2021-10-01 02:36] amywtlin commented on #14808
I looked at the [current behavior](https://www.loom.com/share/92d24599691c436b9cc141ebca0f34f5
), and the process is like this:
1. Click on the button "Upload Image"
2. Select a file from the file selector
3. The system will generate a string for you to copy and paste into your article

I think with the introduction of the toolbar,
1. this "Upload Image" button should also be tucked inside the too

[2021-10-01 02:43] amywtlin commented on #14808
I think the common behavior for ordered or unordered lists is, if you select a block of text that contains several paragraphs (detected by line breaks), the ordered/unordered syntaxes would be added in the beginning of each paragraph (yup, just [tested it as I typed here](https://www.loom.com/share/503ec80479f5445cbe678bb731ccba82))

Yes and agree with Pawel here - when in doubts, mimic Slack or G

[2021-10-01 02:44] citizen428 opened #14875 "Select default feed"
📖 As a Forem user I want to be able to pick my default (Feed, Latest, Top Week, Top Month, Top Year, Top Infinity) so it will be selected by default when I visit the site.

[2021-10-01 02:45] amywtlin commented on #14808
@aitchiss I might be mistaken, but I thought it is rendering of tables that is tricky, not the inserting. Is that so though? If the inserting is also tricky, then we can certainly drop this one for now.

[2021-10-01 04:05] amywtlin commented on #14751
Post launch tracking: https://forem-team.slack.com/archives/C02B5U7N13P/p1632455709038000

The hypothesis is that people write about things that are related to the top tags. If we see people start using adding these top tags, we should see fewer # of API requests to search to add a tag, making this a good metric for us to see if we have any adoption on the new feature. We should also factor in # o

[2021-10-01 04:15] ari-hacks commented on #12749
👋🏾 I'd like to take this one

[2021-10-01 06:07] veerreshr commented on #14871
Closing this as it seems brave gonna block urls with some keywords, probably `stats` keyword is causing this error.  May be I should close this

[2021-10-01 06:07] #14871 closed

[2021-10-01 07:29] aitchiss commented on #14808
I think the insertion is where the main complexity lies, but it depends on how we want it to work. It would be easy enough to plop in e.g. 2 empty rows / 2 empty columns and let the user do the rest.

What's more complicated is if the user has text highlighted and we want to do something "magic" to put that data into a table it's pretty difficult. Or if we want the user to have the ability to add

[2021-10-01 07:30] aitchiss commented on #14841
I've assigned it to you @secondl1ght - thanks for taking it on!

[2021-10-01 08:11] ludwiczakpawel commented on #14808
Agree with @aitchiss - lets just skip tables for now, for 3 reasons:
1. They are not heavily used
2. Displaying tables is complex (mobile).
3. Creating tables even with pure markdown is pretty complex. I used to use some 3rd party generators for that. I don't think the benefit from having tables in toolbar is worth the effort needed to build it.

@amywtlin Here's the flow for images editor:
![imag

[2021-10-01 08:13] ludwiczakpawel commented on #14808
(I've added [figma link](https://www.figma.com/file/FUiX2HXkQf5Y2spG25cRgA/Editor-Toolbar?node-id=0%3A1) to the description of this issue)

[2021-10-01 08:15] amywtlin commented on #14808
100% what I was thinking. No not all the magic when you select a block of text. But yea let's skip it for now. Let me update the issue.

[2021-10-01 09:06] wweverma1 commented on #14841
@aitchiss  Hello, Is this Issue closed or can I raise a PR for it?

[2021-10-01 11:26] MohamedAsan commented on #14840
@aitchiss Did my best to fix this issue. Kindly check the PR and let me know if it needs any improvements 🙌

[2021-10-01 12:19] metamoni commented on #14838
Hey, @aitchiss, I'd like to work on this one if that's OK :)

[2021-10-01 12:27] aitchiss commented on #14838
Yeeha! That's awesome - I've assigned it to you now @metamoni 😄

[2021-10-01 14:11] cmgorton commented on #14841
@wweverma1 This issue has been assigned to @secondl1ght .

[2021-10-01 14:12] cmgorton commented on #12749
Thanks @ari-hacks I will assign this issue to you. Let us know if you have any questions as you start to work on it.

[2021-10-01 14:14] cmgorton commented on #12767
Hey @Mr-DG-Wick sorry for the delay in response here. I can assign the issue to you and I will see if I can get some guidance on it for you.

[2021-10-01 14:16] mrsantons commented on #14704
May I be assigned to this issue?

[2021-10-01 14:24] aitchiss opened #14879 "Notifications page has a <main> inside of a <main>"
**Describe the bug**

On a user's notification page we can see an error in the axe devtools report, due to a `<main>` element being nested inside of another `<main>` element.

**To Reproduce**

- Log in to the app
- Visit `/notifications`
- Run the axe browser extension (Chrome or Firefox) and observe the error in the console

**Expected behavior**

- These errors shouldn't be present
- There shou

[2021-10-01 14:38] luhova commented on #14879
Hello, I would like to work on this issue as part of my Hacktoberfest contribution this year. :raised_hands:

[2021-10-01 14:43] aitchiss opened #14881 "Feed cards contain comment links with no text"
**Describe the bug**

The home feed card includes an icon for comments, and if there are currently any comments, a number indicating how many.

On mobile the accessible name for this link is either:

- Completely blank (if no comments exist)
- Just the number (e.g. a link with name '1')

On desktop the accessible names are:

- Add comment (if no comments exist)
- "1 comment" / "X comments" (if com

[2021-10-01 14:44] aitchiss commented on #14879
Brilliant! Assigned that to you now @luhova - thanks for taking it on!

[2021-10-01 15:00] aitchiss opened #14882 "Campaign banners are not contained within a landmark"
**Describe the bug**

When a campaign banner is added to the top of the home page, it's not automatically contained within any landmark. While admins are in control of the HTML of the banner and _could_ use a landmark, we should support admins in creating accessible content rather than expect everyone to have the HTML/accessibility knowledge to do this for each campaign.

Since campaign banners su

[2021-10-01 15:03] cmgorton commented on #14704
You have been assigned to the issue @mrsantons . Let us know if you have any questions and thanks for helping out!

[2021-10-01 15:20] pramodrhegde commented on #14881
@aitchiss I would love to make a contribution here. please assign this to me. thanks!

[2021-10-01 15:20] pramodrhegde commented on #14882
@aitchiss I would love to make a contribution here. please assign this to me. thanks!

[2021-10-01 15:21] pramodrhegde commented on #14709
@aitchiss I would love to make a contribution here. please assign this to me. thanks!

[2021-10-01 15:22] cmgorton commented on #14881
Hey @pramodrhegde would you like to work on this issue and #14882 ? Or just one of them?

[2021-10-01 15:27] cmgorton commented on #9828
Hey @pramodrhegde I see you asking to be added to quite a few issues. Could you please pick one or two of them for now and work on those and then we can assign you to another issue. Thanks.

[2021-10-01 15:34] pramodrhegde commented on #14881
@cmgorton  As you suggested let me start with this one for now.

[2021-10-01 15:36] cmgorton commented on #14881
Great @pramodrhegde . I will assign this issue to you. Please let us know if you have any questions as you start to work on the issue.

[2021-10-01 15:37] pramodrhegde commented on #14881
Yeah sure, thanks @cmgorton !

[2021-10-01 15:43] crhaugen commented on #13434
Hello! I'd love to give it a go if it's still open. :)

[2021-10-01 15:51] lyqht commented on #14806
would like to give this a try!

[2021-10-01 15:53] cmgorton commented on #13434
Hey! Thanks @crhaugen . I have assigned you to the issue. Please be sure to read the discussion from #13878 before getting started on this and let us know if you have any questions.

[2021-10-01 16:14] wheezykw commented on #14783
@joshpuetz Can you verify that the black bar you are seeing on Safari 15 isn't from something else like a bookmarks bar in Safari? I have a Vanilla version of Safari 15 and I'm not seeing the black bar when going to https://dev.to.

[2021-10-01 16:20] Sara-Harvey commented on #14839
Hey! If this is available, I'd like to tackle it.

[2021-10-01 16:38] papuruth commented on #14837
Hi I would like to work on this.

[2021-10-01 17:50] cmgorton commented on #14837
Great @papuruth . I assigned it to you. Let us know if you have any questions.

[2021-10-01 17:50] cmgorton commented on #14839
Thanks @Sara-Harvey. I assigned it to you. Let us know if you have any questions.

[2021-10-01 17:51] cmgorton commented on #14806
Thanks @lyqht ! I assigned it to you. Let us know if you have any questions.

[2021-10-01 20:30] crisbnp commented on #14882
Can I work on this one please?

[2021-10-01 20:41] benhalpern commented on #14882
@crisbnp I'll assign this to you since I know @pramodrhegde got at least one other one.

[2021-10-01 20:55] lsparlin commented on #13874
Is this available for new contributors to work on?

[2021-10-01 21:11] nickytonline opened #14886 "When changing author's of a post, new author does not receive notifications about that post"
**Describe the bug**

On my self-hosted Forem instance, https://vscodetips.com, I created a blog post with my admin account by accident, so I changed the author to my own account. That worked fine, but I noticed that from that point on, the original author still gets the notifications about comments on the post and not the new author, i.e. me.

**To Reproduce**

1. Create a post
2. Change the auth

[2021-10-01 21:19] papuruth commented on #14837
@cmgorton I have started the application using bin/start but could you tell how to login.
Also the application is running on port 3000 is this correct?

[2021-10-01 21:21] secondl1ght commented on #14841
I have submitted a PR for this issue, #14887. Thanks!

[2021-10-01 21:27] benhalpern opened #14888 "Internationalize Hardcoded Copy"
### This is related to the [Forem Internationalization effort outlined here](https://dev.to/devteam/forem-hacktoberfest-let-s-internationalize-404n).

**Describe the bug**

This does not refer to any one specific area, but the request to look around the code and find an opportunity to translate anything that is hardcoded into the app.

Read the linked post above for more details.

Here is an examp

[2021-10-02 01:19] papuruth commented on #14888
Hey @benhalpern Can I work on this?

[2021-10-02 03:26] berviantoleo commented on #14888
Cool.

I have some questions.

* How about the link? I think currently the link will navigate to the default (which is english), instead of `locale/:locale/{another-link}`.
* How I handle the singular/plural things? Just make different entries?

Thank you.

[2021-10-02 04:43] regromrob commented on #9828
May I be assigned to this issue?

[2021-10-02 08:03] LAKSHMANANR25 commented on #14879
Hey, I would also like to take a try on this issue. Can i?

[2021-10-02 09:03] metamoni commented on #14888
It's great to have this as an open ticket, but it might be worth breaking it down into areas/flows, to make sure people don't translate the same files. What do you think?

[2021-10-02 09:23] Mr-DG-Wick commented on #12767
I went to the doc of Imgproxy at `https://developers.forem.com/getting-started/installation/imgproxy`

I guess I just need to the change
[code]