[2020-10-21 09:10] Link2Twenty commented on #10979
@citizen428, no it was just something I noticed.

[2020-10-21 09:14] rhymes commented on #10927
Assigned to you @query-string, thanks!

[2020-10-21 10:01] ludwiczakpawel commented on #10980
@citizen428 the reason for assigning specific person to this issue that way was because I was talking to that person at that exact moment when creating the issue. In addition, this person was actually on that specific area in the very moment of me reporting the issue and talking to this person. I believe my judgment, in this specific case, was pretty accurate.

That's probably true statement for *

[2020-10-21 10:03] ludwiczakpawel commented on #10980
Closing – resolved in #10981 . Cheers @Ridhwana 🙌

[2020-10-21 10:03] #10980 closed

[2020-10-21 10:11] #10815 closed

[2020-10-21 12:15] #10842 closed

[2020-10-21 12:49] Danondso commented on #10937
Thanks!

[2020-10-21 13:23] devilstars opened #10986 "Write a post - error 500"
**Describe the bug**

Click on "write a post" - error 500, "You have encountered an error."

**To Reproduce**

1. Go to "write a post".
2. See error.

**Expected behavior**

No error

**Screenshots**

![2020-10-21_162143](https://user-images.githubusercontent.com/12907959/96725444-8bc8c400-13b9-11eb-9847-eba69c96ff58.jpg)

**Desktop (please complete the following information):**

- OS, version: wi

[2020-10-21 13:27] devilstars opened #10987 "Profile update - error 500"
**Describe the bug**

Can't update profile info - error 500.

**To Reproduce**

1. Click "Settings"
2. Choose any type of settings. Let it be UX.
3. Click "Save"
4. See error.

**Expected behavior**

No error.

**Screenshots**

![2020-10-21_162655](https://user-images.githubusercontent.com/12907959/96726038-3fca4f00-13ba-11eb-9d5e-ddd41d326cc0.jpg)

**Desktop (please complete the following informa

[2020-10-21 13:31] devilstars opened #10988 "Reactions don't work - 404 error"
**Describe the bug**

Reactions are not being saved.

**To Reproduce**

1. Open any post.
2. Click any of the available reactions.
3. Nothing happens.

**Expected behavior**

![2020-10-21_162921](https://user-images.githubusercontent.com/12907959/96726587-c4b56880-13ba-11eb-8d6a-e4091197bb22.jpg)

**Screenshots**

**Desktop (please complete the following information):**

- OS, version: windows 10

[2020-10-21 13:46] Rafi993 opened #10990 "text overflow in "Popular tags""
**Describe the bug**

When there is a tag with very long text in it overflows in popular tags list

**Expected behavior**

When the text is very long it should truncate

**Screenshots**
![tags](https://user-images.githubusercontent.com/8092120/96728386-b161c780-13d1-11eb-95f5-78440170b018.png)

**Desktop (please complete the following information):**

- OS, version: Ubuntu 20.04
- Browser, version

[2020-10-21 13:47] Rafi993 commented on #10990
The text overflow is causing the horizontal scrollbar

[2020-10-21 14:37] rhymes commented on #10986
Hello @devilstars, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-10-21 14:37] #10986 closed

[2020-10-21 14:38] rhymes commented on #10987
Hello @devilstars, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-10-21 14:38] #10987 closed

[2020-10-21 14:39] rhymes commented on #10988
Hello @devilstars, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-10-21 14:39] #10988 closed

[2020-10-21 15:39] trashhalo opened #10993 "Listings should have impressions statistics"
**Is your feature request related to a problem? Please describe.**

I discovered the listing feature today and made a fun listing. https://dev.to/listings/misc/remember-to-get-up-and-stretch-your-legs-4j6c

Thinking bout the ux of the pages involved I think if I actually wanted to run real ads on this platform I would need to know how much visibility my "ad" was getting. This is a really common fe

[2020-10-21 16:10] AdekunleA opened #10994 "DEV social share/preview logo and images on Cluster Employment Community"
**Describe the bug**

Not a bug per say, but social shares from our community on Forem show DEV's image and logo as opposed to the Cluster Employment's.

**To Reproduce**

1. Share a user profile, tag, listing or no-image article link on Facebook, Slack or any other social media platform
2. See DEV branding on article as opposed to Cluster Employment's

**Expected behavior**

Cluster Employment br

[2020-10-21 16:29] rhymes opened #10996 "Optimize the feed reader for websites with a large number of users"
**Current situation**

Currently Forem's functionality to import feeds takes too long, especially for DEV which has 3420 feeds to go through.

Currently the import is sequential: the feed is downloaded, then parsed, then articles are built in memory and saved in the DB

Unfortunately, at least in the case of DEV, we don't really have solid metrics on what is actually slow in production, as it only

[2020-10-21 17:06] Rafi993 opened #11002 "Ability to insert to date / time in article that gets converted to users timezone"
**Is your feature request related to a problem? Please describe.**

It would awesome if you could insert date / time in article that shows in users timezone. This would be useful for users in different timezone especially for events. This could be achieved using a date time liquid tag or some formatting option.

**Describe the solution you'd like**

We could use liquid tag or some formatting optio

[2020-10-21 18:14] Angelfirenze01 opened #11004 "Full Contributors' Guide page does not load..."
Full Contributors' Guide does not load.

I don't currently have any customizations on Firefox 83 Developer Edition.

**Describe the bug**

The page simply does not load.

**To Reproduce**

Copy and paste the URL for [https://docs.forem.com/contributing/forem/](https://docs.forem.com/contributing/forem/) and click 'enter/return'.

Forem Contributors' Guide link.

 Forem Contributors' Guide link.

N

[2020-10-21 22:51] kldickenson commented on #10057
@nickytonline
I was finally able to get my local docker forem/forem up and running and also figured out how to get into the rails console ("docker-compose exec rails rails console"). I ran the rails console commands you sent.
Was it supposed to automatically log me in or are there special credentials (email/pw) I should use?
Was there anything I should have replaced with my own info in the command

[2020-10-22 01:12] nickytonline commented on #10057
@kldickenson, so once you're local Forem is up and running, log in with your Twitter or GitHub. Once you're logged in, run those commands in the rails console, and then your user will be an admin and have access to those pages. Does that clarify things?

[2020-10-22 02:06] nickytonline opened #11010 "Search input is not in sync with URL in browser when navigating back/forth"
**Describe the bug**

When searching for things on DEV, search in the UI works but if we go back and forward in browser history, the search input does not reflect the search term in the URL of the browser.

**To Reproduce**

1. Go to https://dev.to
2. In the search at the top of the page, type in `ruby` and press enter.
3. The URL in the browser will switch to `https://dev.to/search?q=ruby`.
4. Do

[2020-10-22 04:46] citizen428 commented on #11004
It loads fine for me in Firefox and also returns a 200 when testing from the command line:

[code]

Can you please verify if it now works for you?

[2020-10-22 04:48] citizen428 commented on #11002
Thanks for the issue @Rafi993. Note that I tagged this as a feature request, I think you might have gotten the wrong issue template here.

[2020-10-22 04:50] Rafi993 commented on #11002
Thank you @citizen428.  Sorry I just realised that have created it as a bug instead of feature. I'll change the description.

[2020-10-22 05:50] korigod opened #11011 "Article rendering: make cursor style pointer on the collapsible details"
When the `details` liquid tag is used to create a collapsible section, cursor style is text. It is then not obvoius that the summary is clickable. Is it possible to change the cursor style somehow (e.g. to add custom css)? Don't you find logical to include this in the default css?

<details>
<summary>By the way, check out what style github uses for collapsibles!</summary>

[code]
</details>

[2020-10-22 11:25] rhymes opened #11012 "Make reserved words configurable per Forem"
**Is your feature request related to a problem? Please describe.**

Reserved words are the same for each Forem, we might want to keep a default set in configuration but allow admins to change them

**Describe the solution you'd like**

1. add reserved words to `SiteConfig`
1. expose that list to the configuration admin panel

**Describe alternatives you've considered**

Nope

**Additional context*

[2020-10-22 11:28] Rafi993 opened #11013 "Do not show "Get mobile app" link when the is mobile app is not configured"
**Describe the bug**

Disable "Get mobile app" link when mobile is not configured

**To Reproduce**

1. Go to https://community.snyk.io/p/information
2. Click on "Get mobile app" link
3. It will open link https://community.snyk.io/downloads which will show 404 error message

**Expected behavior**

"Get mobile app" link should not be there if mobile app is not configured for the communitu

**Deskto

[2020-10-22 11:41] rhymes commented on #11004
https://docs.forem.com/contributing/forem/ works fine for me too

[2020-10-22 14:32] reobin opened #11018 "feat: Add a keyboard shortcut to save an article in the feed"
**Is your feature request related to a problem? Please describe.**
This feature will complement #10468 very well.

Basically, something like `s` or `b` would save/unsave an article when you are navigating the feed with the keyboard as long as the focus is inside an article item.

**Describe the solution you'd like**
Using the `useKeyboardShortcuts` hook, we can listen for the chosen key.

On press

[2020-10-22 16:03] reobin commented on #10878
Seems like it can be closed already @Link2Twenty good work

[2020-10-22 16:09] Link2Twenty commented on #10878
We shared the work 🙂

[2020-10-22 16:09] #10878 closed

[2020-10-22 16:31] pkfrank opened #11019 "Optimize SVGs entered via /admin/config"
**Is your feature request related to a problem? Please describe.**
As a Forem Admin, I may supply an SVG that is not optimized.

**Describe the solution you'd like**
Upon supplying an SVG in `/admin/config`, we automatically optimize the SVG.

**Describe alternatives you've considered**
Live with an un-optimized SVG or provide the Forem Admins with documentation on self-optimizing.

**Additional c

[2020-10-22 16:37] #11010 closed

[2020-10-22 16:47] patricio-ezequiel-hondagneu-roig opened #11020 "The site's footer is inaccessible through tabbing because of the unbounded infinite scroll on the main feed"
I chose dev.to as my preferred site to perform manual accessibility testing for a certification, and found that in the front page, I'm effectively unable to reach the footer by tabbing, because once I reach near the bottom of the main feed, it automatically loads more posts.

This is an accessibility violation, as described by Deque Systems in this article: [Infinite Scrolling & Role=Feed Accessib

[2020-10-22 17:04] khendrikse commented on #10849
Yeah I saw the same thing, I am assuming it is my own setup that might be the issue, as otherwise there must be other people having the same problem...

[2020-10-22 18:59] fdoxyz opened #11026 "Create a page to add new Tags in /admin/tags"
**Is your feature request related to a problem? Please describe.**

We are currently lacking some features in `/admin/tags`, most notably the ability to create a new tag. We are able to update the tag but from that form (which should be ideally reused in both `create` & `edit`) but we're missing some fields here.

This would also require us to add a few more fields t

**Describe the solution you'd

[2020-10-22 21:53] kldickenson commented on #10057
@nickytonline  Bummer, does not seem to be working in Docker. It will not let me create a new user with GitHub or Twitter login (I get **404** for GitHub and **oAuth::Unauthorized** for Twitter). I even tried User.create inside the rails console but was not successful. Gitpod will not let me do this either.
I so wanted to help but cannot seem to into the admin side.
Any more ideas to get in? If no

[2020-10-22 22:03] morganrconnolly commented on #11011
I'd like to work on this one please C:

[2020-10-23 01:40] nickytonline commented on #10057
@kldickenson, did you set up your environment variables for Twitter and GitHub? You need to create OAuth apps for Twitter and GitHub to be able to log on with them. See https://docs.forem.com/backend/authentication/.

[2020-10-23 01:43] citizen428 commented on #10849
Do you use anything to make `rails` resolve to localhost:3000, e.g. some dnsmasq setup, an entry in `/etc/hosts`, a development server like Pow, or something like that?

[2020-10-23 02:27] nickytonline opened #11032 "Honeybadger not defined on the client-side"
**Describe the bug**

PR #11030 is a hot fix for sorting out a race condition where the Honeybadger client is not yet defined. It is a temporary fix that needs a better solution.

**To Reproduce**

1. Remove the temporary fix in #11030
2. Load any page and see the error `Honeybadger is not defined` in the browser console.

**Expected behavior**

**Screenshots**

![image](https://user-images.github

[2020-10-23 02:30] citizen428 commented on #11020
Thanks for the issue @patricio-ezequiel-hondagneu-roig. I'll close this as a duplicate of https://github.com/forem/forem/issues/9034, please feel free to add to the discussion there.

[2020-10-23 02:30] #11020 closed

[2020-10-23 08:04] Link2Twenty opened #11033 "UX: Reading list on mobile puts tags before items"
**Describe the bug**

When viewing the reading list on a mobile device followed tags are listed first, pushing posts below the 'fold', but I'd bet people would rather get to their posts faster

**To Reproduce**

1. Go to https://dev.to/readinglist on a mobile device
2. See tag list

**Expected behavior**

1. Make selecting possible for only one tag
2. Collapse nav into the `select` on mobile break

[2020-10-23 08:49] ludwiczakpawel opened #11036 "Add settings for Discussion subscription"
**Is your feature request related to a problem? Please describe.**

As a user I want to decide whether leaving a comment under a post will automatically subscribe me to the discussion or not.
- If yes, then I want to decide whether I want to receive notifications about all comments or only specific ones (post author, replies, top-level)

With that in place, we could by default subscribe all users

[2020-10-23 08:51] rhymes commented on #11018
I would keep `s` as an alias for `/` to focus on the search bar. Love the idea though!

[2020-10-23 09:03] rhymes commented on #11011
@morganrconnolly please go ahead, I've assigned it to you

[2020-10-23 09:47] rhymes commented on #11036
My initial idea was to have a global subscribe option to all comments as well. Basically: someone posts an article, I'm then subscribed to all comments, regardless I pressed the subscribe button or not.

[2020-10-23 10:09] ludwiczakpawel commented on #11036
@rhymes you mean no matter whether or not I clicked "Subscribe" or commented on something, I will get notifications about new comments anyway? Feels shady :D

[2020-10-23 10:13] rhymes commented on #11032
@nickytonline do you mean the temporary fix in https://github.com/forem/forem/pull/11030 ?

[2020-10-23 10:28] rhymes commented on #11036
@ludwiczakpawel that's why it should absolutely be an opt-in :D

[2020-10-23 10:34] nickytonline commented on #11032
Yes, not sure where that other number came from. 🙃 I've updated the PR description.

[2020-10-23 10:59] ludwiczakpawel commented on #11033
Yeap, something we definitely have to work on. The thing is, usually we just take left sidebar navigation and collapse it to `<select>` field on mobile breakpoints (see `/settings` for example) and that's pretty standard pattern. But since in Reading List you can basically select multiple tags in left navigation, the `<select>` field will no longer make sense here.. Ideally we'd take the nav and t

[2020-10-23 11:44] rhymes commented on #10996
After talking with @benhalpern a couple of optimization ideas (totally to be fleshed oud and tested) have come out:

- **is there maybe a chance to bulk insert articles?** The issue here is that we have many validators and callbacks attached to articles and these would be skipped. I'm more concerned about validators as they would potentially let in invalid data if disabled. We could probably rely

[2020-10-23 12:07] reobin commented on #11018
Agree with `s` meaning search @rhymes

It's doable right now using the `useKeyboardShortcut` hook, but there isn't that much value to it since you need to use `tab` and therefore are forced to focus on the save button anyway before passing to the next article.

Let's wait on #10468 :)

[2020-10-23 13:21] mstruve commented on #10996
We actually had to deal with a very similar problem at Kenna. There we dealt with what we called connectors. Those connectors would deliver tons of data to our app on vulnerabilities from our clients. In the beginning, we processed and saved these vulns one by one with all the Rails callbacks and it was SLOW. Bc it was such a cornerstone of our application we ended up writing a separate "importer"

[2020-10-23 14:30] krzysiek1507 commented on #10465
I used `squasher` for squashing 200 migrations and it worked w/o issues. There is one thing though. Migrations that change data and those with raw SQL cannot be squashed in a project like this because they might be required for the data integrity.

[2020-10-23 14:34] krzysiek1507 commented on #10465
I can take care of it.

[2020-10-23 14:40] rhymes commented on #10996
I'm 3000% in favor of phasing out callbacks on non trivial models like `Article` and I do agree it's a long term goal. We could design a service like that in steps.

We definitely don't need to come up with all the solutions ahead of time, as we all know that's seldom a good appproach.

Anyway, definitely in favor of having a single service which also stands as the one true way to do a task in the

[2020-10-23 14:54] rhymes commented on #10465
Hi @krzysiek1507, thanks for the offer, we have not yet had a discussion about this. As it's a non approved feature request I'd suggest waiting before we circle back on this type of optimization, also in the context of the wider Forem universe

[2020-10-23 16:42] mstruve commented on #10996
When we did it, we ended up using this lightservice gem https://github.com/adomokos/light-service mainly bc the guy who wrote it was working with us at the time. I actually really enjoyed using it as it made viewing all the steps for creation very easy. I'm sure there are lots of gems out there like it. Might be worth checking out for helping us architect and organize a flow for article creation a

[2020-10-23 16:43] #7086 closed

[2020-10-23 17:49] kldickenson commented on #10057
@nickytonline  Tried with GitHub, no luck. Working on Twitter now.

[2020-10-23 17:57] krzysiek1507 commented on #5545
It looks like `order(:id)` works but probably the system was meant to show the low score comments at the bottom? I guess we could change it to `order(score: :desc, id: :asc` but it still might look weird.

[2020-10-23 18:29] kldickenson commented on #10057
@nickytonline No luck with Twitter either. Twitter has changed its process for creating a developer account and create Apps. It no longer has an option to "Sign in with Twitter". It now offers "3-legged OAuth" and provides you a Twitter API key, a Twitter API secret key, and a Bearer token.
I have learned a lot getting my local dev environment up and running but I think I have reached my threshold

[2020-10-23 18:36] nickytonline commented on #10057
OK, I'll unassign you. If there are points in the documentation that we need to improve or revise to get future contributors up and running let me know and we can work on improving the documentation.

[2020-10-23 18:45] krzysiek1507 commented on #8425
The short term solution might be to revert this change: https://github.com/forem/forem/pull/4945/files#diff-d9859d2253c6f3c197db32eb2baad2b331b5f75a576ca0e7e6038e25b1ed32e5L33 (just this one line). Probably it was done for the performance reasons but I don't know the stats.

The long term solution might be storing article id in Redis in a re-count queue and re-count every few minutes/hours in the

[2020-10-23 18:46] pipic1 opened #11043 "UX on mobile version, code logo problem"
**Logo on code div big on mobile version**

On each article, logo to expand ans reduce code take the whole page

**To Reproduce**

Launch mobile version (Xiaomi MI 9T / K20 Pro)

On each article that contrains code

**Expected behavior**

**Screenshots**

![Screenshot_2020-10-23-20-40-23-227_to dev dev_android](https://user-images.githubusercontent.com/15725317/97041797-5914fc00-1570-11eb-8487-7a0

[2020-10-23 20:17] krzysiek1507 commented on #6299
I guess I should claim it since I submitted a PR already?

[2020-10-23 20:17] krzysiek1507 commented on #10967
I guess I should claim it since I submitted a PR already?

[2020-10-23 20:17] krzysiek1507 commented on #5657
I guess I should claim it since I submitted a PR already?

[2020-10-23 21:11] vaidehijoshi commented on #5657
You can! Or, since you already have "closes #5657" in your PR description, GitHub will automatically link your PR to this issue and when your PR is merged, this issue will be closed :)

[2020-10-23 21:12] AfroDevGirl commented on #6994
@Ridhwana @citizen428 So now that we can customize the profile there is one slight issue I noticed. I think some of the fields on the actual profile view are hard coded. You can see the issue here on the left sidebar: https://community.iqasport.com/aewingmoody. The custom field descriptions should be 'Teams' and 'Positions' not 'skills/languages' and 'learning/trying' respectively.

[2020-10-23 21:20] clottman opened #11048 "Confusing how to add multiple tags in the post editor"
**Describe the bug**

I am writing a post. I want it to have two tags. When I press the space bar after typing the first tag, nothing happens. There is no text instructing me about any special things to do if I want multiple tags. Eventually after much confused keysmashing, I discovered a comma is required between tags, not just a space.

**To Reproduce**

Start drafting a post.
In the line that s

[2020-10-24 18:26] pjsier opened #11052 "Selected repos in GitHub integration don't use dark theme color"
When using the Night theme on the [Integrations page](https://dev.to/settings/integrations), selected repos in the GitHub section don't use theme colors so they aren't readable.

**To Reproduce**

1. Go to the [Integrations page](https://dev.to/settings/integrations) with the Night theme enabled
2. Select a repo in the GitHub section

**Expected behavior**

I would have expected it to use a color

[2020-10-25 14:04] Amorpheuz opened #11059 "Full screen code blocks don't work with pre or list indented code blocks"
**Describe the bug**

The new code blocks with full screen functionality don't appear on code blocks that are part of a list or created with `pre` tags.

**To Reproduce**

1. Write a post on Forem.
2. Use the following code snippet:

[code]
    2. Point 2.
[code]

[2020-10-25 14:16] matisnape commented on #10871
@citizen428 I thought this would be a simple Rails form, but in code I saw a lot of JS stuff - the whole editor. JS is not my area of expertise at all

[2020-10-25 14:42] akashdotsrivastava commented on #10871
@citizen428 Hi, I am new to forem. I'd like to give this a shot. Can I take it?

[2020-10-25 15:15] matisnape commented on #3669
@rhymes I started working on this.
Question regarding `separate PR with a controller to get the list of collections that a user has` - how this should be served? `/api/users/{id}/collections`? or `/api/articles/me/collections`?

[2020-10-25 16:23] clandau commented on #10873
unassigned myself, neither Andrea nor myself will have the time. Sorry!

[2020-10-26 00:02] samrae7 commented on #10873
I would like to take this

[2020-10-26 00:30] nickytonline commented on #10873
Awesome @samrae7! I've assigned it to you.

[2020-10-26 00:39] korigod opened #11060 "Article rendering: YouTube embed in a collapsible section"
YouTube embed (`{% youtube <id> %}`) is not being rendered if it appears inside the collapsible details, like this:

[code]

However, some other liquid tags, e.g. Github embed, do work inside. Is it intentional behavior or a bug?

[2020-10-26 02:49] citizen428 commented on #6299
I assigned you the issue, @krzysiek1507, thanks!

[2020-10-26 02:50] citizen428 commented on #10871
Thanks for giving it a shot @matisnape!

@akashdotsrivastava I assigned you this issue now, please let us know how it goes.

[2020-10-26 02:52] citizen428 commented on #6994
@AfroDevGirl Yes, there is still a lot of work outstanding in terms of profile generalization, but I hope we get to a point where we can involve the wider community soon, maybe as early as this week 🤞

[2020-10-26 03:08] citizen428 commented on #10996
Maybe it's time to introduce a separate model? You can bulk insert data into an unvalidated table like `RssImportArticle`, then trigger some other job to process these later and move valid ones to `Article`. I've done this in the past and it works well. It's a reasonably common pattern in ELT workloads, where the initial import goes into an initial table (often temporary and potentially even in an

[2020-10-26 04:16] citizen428 commented on #11048
As a quick fix, we could update the placeholder to "Add up to 4 comma-separated tags...". Want to give it a shot? 😀

[2020-10-26 06:31] Rafi993 opened #11081 "Replace old button style with crayon buttons in /admin/mods?state=potential page"
**Describe the bug**

Crayon button css class is not used in "Make Trusted" button in http://localhost:3000/admin/mods?state=potential making it less visible.

**To Reproduce**

1. Go to http://localhost:3000/admin/mods?state=potential
2. "Make Trusted" button uses old button styles

**Expected behavior**

Use crayon button for "Make Trusted" button

**Screenshots**

![old_button](https://user-ima

[2020-10-26 07:29] khendrikse commented on #10849
Sorry for my slow response, no I did not setup anything extra I am afraid. Just using the docker image and that is all...

[2020-10-26 07:33] citizen428 commented on #10849
Have you tried `http://rails` as callback URL?

[2020-10-26 07:47] citizen428 commented on #10849
Maybe for the time being it's easier if you just create a user with email login?

1. Start a Rails console (`rails c`)
2. Allow email registration: `SiteConfig.allow_email_password_registration = true`
3. Start your server
4. Go to "Create account"
    <img width="234" alt="DEV_Community_👩💻👨💻" src="https://user-images.githubusercontent.com/47985/97145509-e6d33000-1798-11eb-8c80-ff9e982b9b78.png">

[2020-10-26 07:56] khendrikse commented on #10849
Awesome, I'll try those options! I will close this for now :) thank you so much for your help 🙏

[2020-10-26 07:56] #10849 closed

[2020-10-26 09:32] clottman commented on #11048
You're lucky I saw the email first which didn't have the edit, which encouraged me to try it myself. :) And that I couldn't sleep tonight. Opened a PR, but I'm not a regular contributor here and didn't go through the effort to do run things locally & test - hope it helps a little bit at least.

[2020-10-26 10:55] Rafi993 commented on #10605
I was able use chrome devtools to look at event listener attached to "Flag user" button and call it manually and it worked.  Due to some reason the click event is not reaching the attached event listener after the first time.

[2020-10-26 11:01] Rafi993 commented on #10605
I think this might be happening because the event listener added when the first article is opened is not being removed after it is closed.

[2020-10-26 11:10] rhymes commented on #3669
Thanks @matisnape, this is a bit tricky indeed. The goal here is to return the series a user has.

I think we could mirror the website - eg. https://dev.to/rhymes/series - with something like `dev.to/api/users/:id:/series` and list them there.

As I think we made a mistake exposing `collection_id` in https://github.com/forem/forem/pull/4180 instead of calling it `series_id`, we might want to call

[2020-10-26 11:13] rhymes commented on #11060
@korigod mmm I think it's a bug though most liquid tags aren't intended to be "composable"

[2020-10-26 11:35] #11081 closed

[2020-10-26 11:36] #10990 closed

[2020-10-26 11:44] Link2Twenty commented on #11018
Remember we have access to modifier keys too `ctrl + s` means save to most people. By default it would save the html of the page but I don't think people need that?

[2020-10-26 12:32] Link2Twenty commented on #10879
UI/UX: <https://twitter.com/i/keyboard_shortcuts>

[2020-10-26 12:44] Rafi993 commented on #10605
When the event listener is called using `getEventListeners($0).click[0].listener()` it works but when the element is clicked
using ` $0.click() ` it does not work for articles after first time.

[2020-10-26 13:12] Rafi993 commented on #10605
I thought this might be happening due to re-rendering of the element but that could be ruled out too.

[2020-10-26 13:51] benhalpern opened #11086 "cmd/ctrl+return to submit comment"
This functionality used to exist and then went missing without a regression test. We now have [more sophisticated approaches for doing keyboard shortcuts](https://forem.dev/link2twenty/keyboard-shortcuts-5h66). We should re-enable this.

[2020-10-26 14:10] AfroDevGirl commented on #6994
@citizen428 Definitely understandable. Unfortunately this is probably the last hang up I have with custom fields. I'd be happy to work on it if y'all feel comfortable doing that, but I completely understand if that's not possible at the moment. I'll just have to keep an eye on it so we can launch as soon as it's ready.

[2020-10-26 16:22] mstruve commented on #10996
@citizen428 I love that idea of using a temporary table! You are essentially taking a lot of the memory burden off the processes and offloading it into a db table in the interim before its completely processed and made an article. That approach also gives us a nice "log" as we ingest data so that when things fail we don't have to "reprocess" to get the failed feed data, we simply have to look in t

[2020-10-26 16:49] lisasy commented on #11033
@ludwiczakpawel

Do you think that there might be 2 changes we make here? Assuming that multiple select is *not* the experience we stick with, we can do this:

1. Make selecting possible for only one tag
2. Collapse nav into the `select` on mobile.

If single-select is the direction we go, we can totally break this task up into 2 separate ones and have contributors help us out with #1.

[2020-10-26 17:00] Link2Twenty commented on #11086
@nickytonline am I correct in my assumption that the discussion box has not been moved over to preact yet?

[2020-10-26 17:05] Link2Twenty opened #11093 "User profile in zen mode"
**Describe the bug**

I recently discovered zen mode with strips back much of the UI, but user profiles break in this mode

**To Reproduce**

1. Go to a user profile
2. Press the `0` key
3. See the error

**Expected behavior**

The header should compress.

**Screenshots**

![dev to_link2twenty(Common Laptop)](https://user-images.githubusercontent.com/3534427/97203828-3f142d00-17ad-11eb-8c6c-b6077a

[2020-10-26 17:26] #5657 closed

[2020-10-26 18:08] Link2Twenty opened #11094 "Add chaining to shortcuts"
Currently shortcuts are a single key + any modifiers. It's quite common, on github and on twitter for instance, to be able to chain key presses to achieve something for instance `g` then `h` to go home.

**Describe the solution you'd like**

I think the new keyboard shortcut hook, #10713, should remember key presses for half a second and we should add a then syntax. Pressing a modifier key or noth

[2020-10-26 19:26] pkfrank opened #11097 "Enhance the "view more comments" functionality at the bottom of long comment threads"
**Is your feature request related to a problem? Please describe.**
As a viewer / participant of a long comment thread, I'll frequently click the "View More Comments" button at the bottom of a thread.  It takes me to the `/comments` page of that post, but I "lose my progress" and have to scroll back down to the bottom.

**Describe the solution you'd like**

1. _Ideally_, upon clicking "View More Co

[2020-10-26 19:35] leewynne commented on #7768
I think this can be closed now with the introduction of admin scoring thresholds for homefeed visibility

[2020-10-26 19:36] #7768 closed

[2020-10-26 19:41] leewynne opened #11098 "Attach images to listings"
**Describe the solution you'd like**

Over at thismmalife.com we have renamed listings to Marketplace (in the nav section).

I think it would be a delightful option to allow members to add a single image to their listings, which I think would make it more like a marketplace to buy and sell equipment rather than just services

**Describe alternatives you've considered**

Only the above option 😱

**

[2020-10-26 19:47] pkfrank opened #11099 "Do not clear fields on account creation page if failed from invalid username"
**Is your feature request related to a problem? Please describe.**
As a new user creating an account via `/users/sign_up?state=email_signup` (where a forem has enabled email/pass registration), I will lose all of the filled-out fields if I accidentally use an invalid username.

**Describe the solution you'd like**
Don't clear these fields.  I imagine that means validating the field in the browser

[2020-10-26 19:59] lisasy opened #11100 "Fix width of campaign banner"
**Describe the bug**

On different screen sizes, the width of the campaign shows up in inconsistent ways. On very large screen sizes, the campaign banner is wider than the overall content container; on smaller screen sizes, the campaign banner is narrower than the content container.

**Expected behavior**

The campaign banner should be displayed at 100% width at all times.

**Screenshots**
![Scree

[2020-10-26 20:00] pkfrank opened #11101 "Add ability to crop profile image after upload"
**Is your feature request related to a problem? Please describe.**
As a community member uploading a non-square profile photo, my profile photo may appear distorted when it's displayed in the circular profile area.

**Describe the solution you'd like**
After profile image upload, an ability to set the "crop" area of the photo.

**Additional context**
This was raised by a member of `the.community.c

[2020-10-26 20:03] maestromac commented on #11101
this should be resolved with https://github.com/forem/forem/pull/11044

[2020-10-26 20:17] benhalpern commented on #11098
I think the way images should work on listings is one spot for all images. (like the cover image for an article).... But if there are more than one image it acts like a slide show.

I think this is the experience folks have come to expect, and unlike a post (the article model) which I think should be really extensible and complex to the extent it needs to be, I think the listing model should stay

[2020-10-26 23:47] vaidehijoshi opened #11106 "Missing characters in /confirm-email route while resending email instructions"
**Describe the bug**
On the `/confirm-email` route, certain characters seem to be stripped away from the email params.

**To Reproduce**

1. Sign up for an account on a Forem instance using _email authentication_. Use an email that has a `+` character in it (for example, `yourname+1@dev.to`) to sign up.
2. Go to through the sign up flow to the point of the `/confirm-email` route.
3. On the `/confi

[2020-10-26 23:48] vaidehijoshi commented on #11106
@forem/smash Let me know if this aligns with any of your current/planned tasks! 😸

[2020-10-26 23:52] pkfrank commented on #11106
This is on the @forem/smash board ([link](https://github.com/forem/InternalProjectPlanning/issues/105)), so maybe we should close that issue if @forem/creator-onboarding is taking it?  It's not a particularly pressing item, but I do find myself needing this frequently when creating test accounts.

[2020-10-26 23:56] vaidehijoshi commented on #11106
@pkfrank Ah! I specifically searched our currently-open issues to make sure I wasn't creating a duplicate 🙈 but I guess I missed it! I ran into this today while working on the creator onboarding flow for new forem creators and I ended up having to change this enough times that I opened this issue for it.

I can definitely close this one out if it's already on @forem/smash's radar 😅

[2020-10-26 23:57] vaidehijoshi commented on #11106
Closing this out in favor of https://github.com/forem/InternalProjectPlanning/issues/105.

[2020-10-26 23:57] #11106 closed

[2020-10-27 00:39] Angelfirenze01 commented on #11004
Anytime I try and load it in Chrome, I get a warning about the connection to it not being private and do I want to go back to safety.

Tomorrow morning, I will try loading it again in Firefox, both on my iPhone and on my laptop.

[2020-10-27 02:21] Rafi993 opened #11109 "Removing un-used email prop"
**Describe the bug**

Email displayed in **app/javascript/chat/ChatChannelSettings/ModFaqSection.jsx** is now replaced with link to /contact page but it was still taking in email prop which it does not use,

**To Reproduce**

1. Go to the file **app/javascript/chat/ChatChannelSettings/ModFaqSection.jsx**
2. You can see un-used email prop

**Expected behavior**

Remove un-used props

[2020-10-27 02:25] citizen428 commented on #6994
@AfroDevGirl I had a quick look at this, the culprit was `app/views/users/_sidebar.html.erb`, you can see all the hard-coded fields there. I made a quick POC locally, will turn this into a proper PR now and tag you on there so you can follow along 😃

[2020-10-27 03:12] nickytonline commented on #11086
The disussion box is currently only rendered server-side. I wasn't aware of this keyboard functionality. I have some ideas around this, but it should be fine to use the hook even if this isn't a Preact component. The article pack file can use a component that just bootstraps keyboard events to a component that has no render. I'll come up with a POC for this.

[2020-10-27 04:19] citizen428 commented on #11048
Thanks @clottman, much appreciated! 🚀

[2020-10-27 04:19] #11048 closed

[2020-10-27 06:17] FreakLevel commented on #11052
I want to work on this issue. The color of the hover cannot be seen either. Can I fix the hover and selected rows?

[2020-10-27 06:35] FreakLevel commented on #9248
Hi, I would like take this issue 😁

[2020-10-27 06:55] leewynne commented on #11098
Agree, sounds like a plan!

[2020-10-27 07:24] ludwiczakpawel commented on #11098
+1 to the image(s).

And I also think we could make listing looks a little bit more like an article - at least in regards to how/where to display image (which I imagine would behave like a cover photo for articles). I'm also in favor of letting ppl upload more than one photo - and in that scenario cover image would become a slide show.

[2020-10-27 07:51] khendrikse commented on #10849
@citizen428 I am wondering how this would work when using the docker container?

[2020-10-27 08:02] ludwiczakpawel commented on #10880
Flipping the logo shouldn't be too hard.
But we do need to have another field in the `/admin/config` for that... So we would eventually have two fields for logos:

1. Default logo SVG
2. Dark mode logo SVG (will be put against dark background)

Then we can flip these two easily in the frontend.

---

Although there's one tricky part which is our Pink theme... Is the header in Pink theme considered

[2020-10-27 08:53] ludwiczakpawel commented on #11033
Yea, I think that makes sense. Just make sure there's no historical evidence of that multiselect being added for a particular reason so we don't break some important flow.  I'm pretty sure @benhalpern may know.

Then, if we drop it, this entire thing may need refactoring because the tags in left sidebar are not actually links (the URL in browsers doesn't really change when you click the tag.. it's

[2020-10-27 09:07] matisnape commented on #3669
@rhymes Regarding content of the endpoint response - the discussion above mentions IDs only. I suppose there should be serialized user details, like with the other endpoints? Anything else that should be included?

[2020-10-27 11:48] rhymes commented on #10996
I agree, the idea of using ETL techniques makes sense as this kind of operation is mostly asynchronous (we still have the on demand fetch that can be triggered by https://dev.to/settings/publishing-from-rss but once we'd have the ETL machinery, it should be trivial to add a use case for that).

The only downside of the log table is cleaning up but the ETL workflow could clean up after itself as me

[2020-10-27 12:29] rhymes commented on #11094
Aside: this is why I suggested https://github.com/github/hotkey in the initial discussion, glad we're getting there on our own :)

[2020-10-27 13:47] #9996 closed

[2020-10-27 13:55] rhymes commented on #11052
Thanks @FreakLevel, I assigned you to it!

[2020-10-27 13:55] rhymes commented on #9248
Hi @FreakLevel, I've assigned you to it!

[2020-10-27 14:25] rhymes commented on #3669
mmm @matisnape I'm not sure we should serialize the user properties, they don't add much to the representation of the series, after all we're in a "sub directory" of `/users/:id`. In addition we can always add things to endpoints, it's harder to remove already exposed fields.

Looking at the `collections` table I think we could expose creation date, slug and published articles count for now

What

[2020-10-27 14:30] AdekunleA opened #11119 "Incorporate create an organization into new user onboarding flow"
**Is your feature request related to a problem? Please describe.**

It's a bit tedious connecting with new users on our forem community - Cluster Employment, and having to walk them through creating an organization profile on the platform (creating an organization profile is important to our community).

'
**Describe the solution you'd like**

Incorporating the organization creation form into one

[2020-10-27 16:44] #11018 closed

[2020-10-27 16:44] #11093 closed

[2020-10-27 17:36] akashdotsrivastava commented on #10871
@citizen428 Thanks. I added a PR ^^

[2020-10-27 17:48] akashdotsrivastava commented on #10871
@citizen428 Thanks. I added a PR. Please let me know the feedback.

[2020-10-27 17:52] Angelfirenze01 commented on #11004
I was able to load it using Firefox, but Chrome...now, apparently, as decided to load properly.  I haven't disabled any extensions or done anything but wait, so I have no idea what caused that problem so persistently when I created the issue.  Does this count as a contribution or no?

[2020-10-27 17:52] #11004 closed

[2020-10-27 19:38] #11109 closed

[2020-10-27 22:39] pkfrank opened #11128 "Ensure co-authors (and not just the main author) receive relevant flair on comments"
**Is your feature request related to a problem? Please describe.**
Right now, co-authors of a post will not receive special flair next to their comments.  This is true for the `Author` flair in generla, and the `Ask Me Anything` flair in `#ama` posts.

**Describe the solution you'd like**
All co-authors of an article receive flair on their comments.

**Additional context**
You can view a live exam

[2020-10-27 22:45] Winner95 commented on #10979
I would be interested in fixing this bug.

[2020-10-27 23:11] CloudMalwareAnalysis opened #11129 "cloudmalwareanalysis.CD"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-28 01:46] citizen428 commented on #10979
Thanks @Winner95, I assigned you the issue.

[2020-10-28 02:12] citizen428 commented on #10849
@khendrikse It would work the same way, but you need to run the Rails console inside the container, like `docker-compose run web rails console`.

[2020-10-28 02:15] citizen428 commented on #10996
Sounds good @rhymes. I agree that cleanup scripts need to be monitored (which can be as simple as row count in DataDog), or depending on the implementation you can also just truncate the table every X days.

But I agree, step by step with measurements is the way to go here 👍

[2020-10-28 02:17] #11129 closed

[2020-10-28 05:59] narender2031 commented on #8842
@nickytonline Please close this.

[2020-10-28 06:55] citizen428 commented on #8842
Closing now @narender2031

[2020-10-28 06:55] #8842 closed

[2020-10-28 12:39] Rafi993 commented on #9782
I think this issue has been resolved now since there is a new comment input box now

[2020-10-28 12:40] Rafi993 opened #11134 ""Flag user" button was not shown in moderator panel but shows up on refresh"
**Describe the bug**

"Flag user" button was not shown in moderator panel but showed up on refresh. This was happening due to css property overflow: hidden;

**To Reproduce**
1. Go to article
2. Open moderator panel
3. "Flag user" button won't be visible
4. Refresh the app and try again it will show up

**Expected behavior**
"Flag user" button should always show up

**Screenshots**
![flag_user](ht

[2020-10-28 14:30] ludwiczakpawel commented on #9782
@Rafi993 correct. although autoresizing is still kinda broken :D but we're already working on the [fix](https://github.com/forem/forem/pull/11115) :). So yea, closing this one - thanks a lot!

[2020-10-28 14:30] #9782 closed

[2020-10-28 15:15] fdoxyz commented on #11134
Thank you for the report @Rafi993.

I can't see this happening in any production Forem where I'm a moderator, and I can see your GIF is from a localhost. Maybe this only happens because of the "missing configurations" label at the top? Maybe not a bug that will come up in production but may be something valuable to fix 👍

[2020-10-28 15:17] Rafi993 commented on #11134
This issue happens to me in moderator view too. when I open the articles in the list.

[2020-10-28 16:25] michael-tharrington opened #11139 "Feature Request — Give Tag Mods the Ability to Add Badges/Icons to Tags"
**Is your feature request related to a problem? Please describe.**

Yes, there are many tags with tag mods that don't have any badges/icons paired with them.

**Describe the solution you'd like**

Provide the ability for tag mods and admin to add badges/icons to tags via their edit page. (e.g. https://dev.to/t/discuss/edit)

**Describe alternatives you've considered**

~We should also provide this

[2020-10-28 16:30] michael-tharrington opened #11140 "Adding a Mod to a Tag Should Automatically Mark the Tag as Supported"
**Is your feature request related to a problem? Please describe.**

Yes, it's inefficient and opens the door for manual error to need to mark a tag as supported to a tag that is currently being modded.

**Describe the solution you'd like**

When you add a tag mod to a tag, it should automatically mark the tag as supported.

**Describe alternatives you've considered**

N/A

**Additional context**

[2020-10-28 17:36] #9367 closed

[2020-10-28 18:24] bntzio commented on #11099
@rhymes may I work on this fix?

[2020-10-28 21:06] techieeliot commented on #1153
Hey, @colabottles I'm working on issue #4807 but I'd love to help you out over a live stream sometime to finish this PR up.

[2020-10-28 21:07] techieeliot commented on #4807
Hey, I'm going get back on this one. I'll aim to have something to up on this one.

[2020-10-28 21:15] techieeliot commented on #4523
Hey, @Taniyah-L-Jackson I'm available to help pair with you (and @nickytonline maybe) and let's get this PR wrapped up for hacktoberfest for you. Hope you're doing well.

[2020-10-29 02:13] bntzio commented on #10670
Hey @rhymes I can take this one, do you have a link to learn more about forem sponsorships?

[2020-10-29 06:15] Defman21 opened #11150 "Flag user is not visible in mobile version"
**Describe the bug**

Mod panel is not scrollable thus the flag user action is not visible.

**To Reproduce**

1. Open dev.to in the mobile version.
2. Press the mod button.

**Expected behavior**

All actions are visible.

**Screenshots**

<details>
<summary>Web App</summary>

![image](https://user-images.githubusercontent.com/7100645/97532106-b07af800-19c6-11eb-85e7-02a274ae3133.png)

</details>

[2020-10-29 06:35] citizen428 commented on #11140
I needed a break from profile work, so I quickly did this.

[2020-10-29 07:17] colabottles commented on #1153
Appreciate the offer @techieeliot  I have no time to stream coming up with a huge project being shipped out in the next week or so. I have one issue left that I need to go back and look at, so perhaps at some point, if you want to schedule a quick Zoom call I can fit that in, the first half of next week (Thursday/Friday I'll be Out Of Office) https://calendly.com/toddlibby/

I have yet to fully lo

[2020-10-29 07:55] rhymes commented on #11099
@bntzio sure you can, thank you! I've assigned it to you

[2020-10-29 08:06] #10947 closed

[2020-10-29 08:07] rhymes commented on #10670
Hey @bntzio, no not really :-(, other than the code and my comment up https://github.com/forem/forem/issues/10670#issuecomment-706889634

Please do ask any questions if you might have them, in the meantime I've assigned you to the issue

[2020-10-29 08:33] #10829 closed

[2020-10-29 08:33] #11086 closed

[2020-10-29 11:35] Link2Twenty opened #11155 "Refactor: start using css variables for zIndex"
We should move zIndexing over to css variables. This will make mass changes easier and also make zIndexing clearer for contributors

**Describe the solution you'd like**

Update the [variables file](https://github.com/forem/forem/blob/master/app/assets/stylesheets/config/_variables.scss) to be something like this.

[code]

Work through all [existing](https://github.com/forem/forem/search?l=SCSS&q=

[2020-10-29 11:56] Link2Twenty opened #11156 "campaignmode-hackathon banner overflow on small screens"
**Describe the bug**

On smaller screen `campaignmode-hackathon` goes off the end of the screen.
This problem is present on https://the.community.club/ but it has been fixed in https://community.snyk.io/

It looks like snyk removed the left right padding to solve this though adding box-sizing: border-box; would probably be a better solution.

**To Reproduce**

1. Go to https://the.community.club/

[2020-10-29 13:34] ludwiczakpawel commented on #11155
https://github.com/forem/forem/pull/11157

[2020-10-29 14:18] ludwiczakpawel opened #11158 "Followed Tags throws JS error"
**Describe the bug**

When switching between tabs on home page, I've noticed there's a JS error in console.

**To Reproduce**

1. Go to dev.to
2. Open web inspector with console
3. Click through tabs on top of the feed.

**Expected behavior**

No JS error.

**Screenshots**

![image](https://user-images.githubusercontent.com/108287/97585937-f69d7f00-19f9-11eb-94b7-26c691248e5a.png)

[2020-10-29 14:32] abenerd opened #11159 "Add trigger warnings / content notes to posts and users"
**Is your feature request related to a problem? Please describe.**
With more specialized, or even more generalized forems, posts that are written might end up containing triggering content.

**Describe the solution you'd like**
Allow posts to specify whether they contain possible triggers and if so, what those triggers are. When users open a post they can be warned about the triggers, or when they

[2020-10-29 17:27] kldickenson opened #11163 "Documentation - Containers clarification regarding .env"
*Describe the bug**

https://docs.forem.com/installation/containers/

Need to clarify that an .env is required. My interpretation of the current wording is that is only needed if you are adding custom keys.

**To Reproduce**

Go to: https://docs.forem.com/installation/containers/

**Expected behavior**

N/A

**Screenshots**

N/A

**Desktop (please complete the following information):**

- OS, vers

[2020-10-29 17:27] kldickenson commented on #11163
I would be glad to take on this small issue. --Karen

[2020-10-29 17:37] rhymes commented on #11163
Thank you @kldickenson, I've assigned it to you!

[2020-10-29 18:28] bnb opened #11165 "Add Post Gating for Organizations"
**Is your feature request related to a problem? Please describe.**

We have a large organization. Folks can publish whatever they want to whenever.

**Describe the solution you'd like**

It would be nice to have a "request approval" process that would enable a panel of folks - admins or mods - to gate publishing.

**Describe alternatives you've considered**

- Having less org members: unfortunatel

[2020-10-29 18:42] darkogj opened #11166 "How long to receive a response?"
Hey guys, I'm bootstrapping a community and seen that you don't recommend to self-host Forem right now. I submitted a post (asking for a "license") but haven't got a reply so far. Is it possible to speed things up? I have a Slack community approaching nearly 1000 members and want to slowly start migrating them to something like Forem.

[2020-10-29 19:46] Maybach91 opened #11167 "Filter Posts/Feed according to gender"
**Describe the solution you'd like**

A button to filter the posts by gender of the author.

**Additional context**

I’m trying to shift my own "bubble" from the mainly male dominated tech world to a more diverse one. I know dev.to is a good source for diverse people, buts till the feed is very male driven. I just want to know how certain things are seen, understanded and explained by non-cis peop

[2020-10-29 21:58] darkogj opened #11171 "Add an option to "subscribe" to members posts"
**Is your feature request related to a problem? Please describe.**
This is about motivating members to get more followers/subscribers.

It's so easy to extend this platform to be a mini Substack. Basically, add an option for members to not only follow, but "subscribe" to someone's post. If I like 4-5 people, I'd love to get a weekly digest of their posts. Or maybe an email immediately if someone p

[2020-10-30 03:39] slotdepositviapulsa opened #11173 "Laporan bug"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-30 04:31] crimson-med opened #11174 "Two reply buttons in notifications, none working!"
**Describe the bug**

There are now two `reply` button in the notification and neither are working

**To Reproduce**

1. Go to `Notifications` through the bell in the top right
2. Find comment targeted to you
3. Two `reply` buttons are visible
4. Click on either and nothing happens

**Expected behavior**

There should only be one button and clicking on reply opens up the reply box.

**Screenshots*

[2020-10-30 04:35] customerservice141 opened #11175 "Adorableme customer care number//7047427140"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-30 04:39] customerservice141 opened #11176 "Prakritijaipur customer care number//7047427140"
<!-Prakritijaipur customer care number//7047427140 Before creating a bug report, try disabling browser extensions to see if the bug is still present. -->

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:

[2020-10-30 04:40] customerservice141 opened #11177 "Classicube customer care number//7047427140"
Classicube customer care number//7047427140   !  !   -- Before creating a bug report, try disabling browser extensions to see if the bug is still present. -->

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Dev

[2020-10-30 04:46] customerservice141 opened #11178 "sportsuncle customer care number//7047427140"
sportsuncle customer care number//7047427140......sportsuncle customer care number//7047427140
![IMG_20201029_152630](https://user-images.githubusercontent.com/72941889/97660935-fb654000-1a98-11eb-8e0e-40294824d5eb.jpg)

[2020-10-30 04:46] customerservice141 commented on #11178
sportsuncle customer care number//7047427140

[2020-10-30 04:47] customerservice141 commented on #11178
sportsuncle customer care number//7047427140

[2020-10-30 04:47] customerservice141 commented on #11178
sportsuncle customer care number//7047427140

[2020-10-30 04:55] #11178 closed

[2020-10-30 04:55] #11177 closed

[2020-10-30 04:55] #11176 closed

[2020-10-30 04:55] #11175 closed

[2020-10-30 04:57] citizen428 commented on #11166
Thanks for the issue @darkogj, @pkfrank is the person to talk to for this, I assigned him here.

[2020-10-30 05:04] citizen428 commented on #11173
Can you please fill in the issue template so we can help you? Otherwise, we'll have to close it due to lack of information.

[2020-10-30 07:20] ludwiczakpawel commented on #11174
I think I've found the issue, working on the fix now.

Thanks for reporting!

[2020-10-30 07:24] madzadev commented on #11174
I can confirm this 😉 Did not want to create a new issue, so I will just leave it here.
Also, it would be great if you could add some padding, and make like, save, and unicorn icons colorful again.
![chrome_WFsffR2SEJ](https://user-images.githubusercontent.com/42511917/97671832-a7a32880-1a91-11eb-827a-ce666929d67b.png)

[2020-10-30 07:29] madzadev commented on #11174
Yeah and comment notifications look like this, as OP mentioned 😉

![chrome_4OCiY37Rzm](https://user-images.githubusercontent.com/42511917/97672225-534c7880-1a92-11eb-9f5c-a35b8bef4257.png)

[2020-10-30 08:19] ludwiczakpawel commented on #11174
@madzadev can you try hit hard refresh / clear your cache?

[2020-10-30 08:25] madzadev commented on #11174
@ludwiczakpawel I did that before reporting here and it did not fix it 😉
Checked just now and the UI is ok, tho reply functionality is still down 😉

![chrome_nL8uO6ahwM](https://user-images.githubusercontent.com/42511917/97676983-3025c700-1a9a-11eb-8e61-f2c7b7c59b0e.png)

[2020-10-30 08:29] madzadev commented on #11174
![chrome_iHljNjEhLO](https://user-images.githubusercontent.com/42511917/97677370-d245af00-1a9a-11eb-865b-424cafc67c7f.png)

[2020-10-30 08:30] rhymes commented on #11174
Hi @madzadev, we're aware about the problem, we'll fix it as soon as possible, thanks for the info

[2020-10-30 08:30] madzadev commented on #11174
@rhymes Awesome! Good luck with it 😉

[2020-10-30 08:43] rhymes opened #11181 "Cannot browse docs locally: gitdocs serve is broken"
In the https://docs.dev.to/contributing/docs/ we say `yarn gitdocs serve` is needed to browse documentation locally.
Unfortunately the command doesn't work. It fails with the following message

[code]

I also tried to remove `.gitdocs.js` but I get the following error afterwards:

[code]

**To Reproduce**

1. Run `yarn gitdocs serve` from the `docs` folder or from the root folder of the forem proj

[2020-10-30 10:03] rhymes commented on #10151
@ShubhankarKG not sure, it'd be easier to troubleshoot it around a draft PR

[2020-10-30 10:03] #7605 closed

[2020-10-30 10:09] ShubhankarKG commented on #10151
Okay, no issues. I'll file my PR in a day or two then

[2020-10-30 13:46] #11140 closed

[2020-10-30 13:52] #11174 closed

[2020-10-30 13:57] rhymes commented on #10996
Adding them here as they are potentially micro-optimizations for now:

1. using **caching headers** for servers that support them: why download and parse a feed if we know it hasn't changed since the last time?
1. using a **streaming parser** for server that don't support caching headers: why load in memory an entire feed (as we do now) if we can use a fast parsers that extracts only those fields

[2020-10-30 14:00] #7606 closed

[2020-10-30 15:03] #11155 closed

[2020-10-30 16:26] pyricau opened #11188 "Giant "code zoom" icon on mobile, freezing browser"
**Describe the bug**

I published a blog post that contains code: https://dev.to/pyricau/leak-detection-android-studio-vs-leakcanary-35j5

The first time I opened it on my phone (Android Pixel 4), I saw giant pictures that look like they were the "zoom" icon that appears on code blocks. I reloaded the page and the bug was gone.

Then someone posted a screenshot with the same bug on twitter: https:

[2020-10-30 16:41] Cerchie commented on #6126
Yarn notes uncovered lines 28-35 of article_controller.js in app/javascript/admin/controllers. After some digging Nick and I found that the get/set methods for the data-article-id are not used in the UI (see screenshot). May I remove lines 28-35?
<img width="1429" alt="Screen Shot 2020-10-30 at 9 37 54 AM" src="https://user-images.githubusercontent.com/54046179/97732355-aa068200-1a93-11eb-86c4-cca

[2020-10-30 16:57] Cerchie opened #11191 "Broken link in forem/blob/master/docs/getting-started/start-app.md"
"Other tools" link leads to 404.

**To Reproduce**

1. Go to https://github.com/forem/forem/blob/master/docs/getting-started/start-app.md
2. Click on "Other Tools"
3. See error "Github 404"

**Expected behavior**

I expected to see another .md with info about other tools.

**Screenshots**

<img width="1417" alt="Screen Shot 2020-10-30 at 9 44 44 AM" src="https://user-images.githubusercontent.com/5

[2020-10-30 16:58] Cerchie commented on #11191
I'd like to work on this one.

[2020-10-30 18:06] maestromac commented on #10996
@rhymes probably have to use them both because fresher cached header can still contain feed item that's already imported.

[2020-10-30 19:26] lisasy opened #11194 "Show confirmation modal when there are unsaved changes in Admin/Config"
**Is your feature request related to a problem? Please describe.**

Today, when admins make edits in `admin/config`, they must type in a confirmation message and press "Update Site Configuration" to save the changes. However, this confirmation area is very hidden and not intuitive, so I hypothesize that admins are making updates that aren't being saved.

**Describe the solution you'd like**

When

[2020-10-30 21:59] #11052 closed

[2020-10-30 22:07] cwray-tech commented on #9658
Hi @citizen428 or @rhymes I am pretty inexperienced with Ruby on Rails syntax. What I am trying to do is add a method in the Collection model called has_articles? then use that method in the index controller method to only get collections with articles, but I just cannot figure this out! Maybe you can help?

Here is my Collection model method has_articles? :
[code]

In the index method of the Coll

[2020-10-30 22:15] bntzio commented on #11158
I don't see the error @ludwiczakpawel

[2020-10-31 00:23] pkfrank commented on #11166
Hey @darkogj — followed up via email and will close this issue.

[2020-10-31 00:23] #11166 closed

[2020-10-31 04:42] bntzio commented on #11099
Ready on #11201 @rhymes @pkfrank 😄

[2020-10-31 08:04] madzadev opened #11202 "Profile sidebars overflow Header"
**Describe the bug**
Profile sidebars overflow header.

**To Reproduce**
Open any profile and scroll down.

**Expected behavior**
Header is at the top at all times.

**Screenshots**
![111](https://user-images.githubusercontent.com/42511917/97774386-00d98d80-1b60-11eb-825b-0dffb006f4dc.gif)

**Desktop (please complete the following information):**

- OS, version: Win10, 64bit
- Browser, version: Ch

[2020-10-31 08:10] sadguru-facility-services opened #11203 "bugs error"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-31 12:29] Shadow-Scientist commented on #11202
Yes. I also noticed it yesterday. It's overflowing even when I sign out.

![Signout](https://user-images.githubusercontent.com/61514752/97779219-deb72e00-1ba6-11eb-8c88-efe55335a545.png)

[2020-10-31 15:02] zippytyro commented on #11202
Was about to open an issue about this.

[2020-10-31 15:49] bntzio commented on #11202
There's the fix ^

[2020-10-31 16:06] nisusam opened #11205 "Showing duplicate header & footer while trying to access authenticated URLs before login"
**Describe the bug**

- I do not have dev account, I was checking this issue on github https://github.com/forem/forem/issues/10937.
- When I suddenly open https://dev.to/listings/dashboard in new tab, it redirects me to Login screen with heading `Welcome to DEV` with `Continue with Github` & `Continue with Twitter` buttons.
- I can see duplicate header and footer. PFA screenshots for your referenc

[2020-10-31 16:24] boardfish commented on #10363
I unfortunately didn't get around to this - I've been all kinds of busy this month. I'm still happy to look into it, though I can't really give a timescale.

[2020-10-31 17:02] gladyscodes commented on #11205
I'm working on the fix, should be up soon cc @rhymes @pkfrank

[2020-11-01 10:32] ubaidisaev opened #11222 "Navigation overlapping content"
Start scrolling in order to see this problem. [https://docs.forem.com/installation/windows/](https://docs.forem.com/installation/windows/)
Same problem in similar pages.

**Screenshots**

![image](https://user-images.githubusercontent.com/38039843/97800388-ec6fc080-1c45-11eb-8868-e37e2a7597fe.png)
![image](https://user-images.githubusercontent.com/38039843/97800401-fc87a000-1c45-11eb-8060-140f4c28

[2020-11-01 11:22] crimson-med commented on #11174
@ludwiczakpawel I dont think this is closed, the fix forces the appearance of two like icons and two save icons.
The design of the notifications is also now not spaced and padded

<img width="798" alt="Screenshot 2020-11-01 at 7 17 20 PM" src="https://user-images.githubusercontent.com/28290546/97801398-610f2300-1c77-11eb-9242-e2fc3f684660.png">

[2020-11-01 14:35] jatin2003 opened #11223 "Navigation Bar Overlapping"
**Describe the bug**

When visiting the user profile (here [Ben](https://dev.to/ben)), the content on the side is overlapping with the navigation bar.

**Screenshots**

![Ben Halpern - DEV Community)](https://user-images.githubusercontent.com/56562571/97805575-f365f580-1c7c-11eb-9f65-4857a6a37c88.gif)

**Desktop (please complete the following information):**

- OS, version: Windows 10
- Browser, v

[2020-11-01 14:38] akashdotsrivastava commented on #11060
@rhymes I'd like to give this a shot if it's okay.

[2020-11-01 21:48] hsablonniere commented on #1885
Hello team :wink:

I have the same need as @lkopacz
I have automated cross posting articles from my site to dev.to and I really want to host and embed my own content without using YouTube or Vimeo.

I saw in this thread and in https://github.com/forem/forem/pull/1928 that this is not considered but I'm not sure I understand why. Especially since it almost works. It just needs the width styles and

[2020-11-02 02:04] citizen428 commented on #9658
Hi @cwray-tech, thanks for giving this a shot.

Here's some feedback:

1. In Ruby, predicate methods names generally end with `?`, so the method name is `empty?`, not `empty`.
2. You don't need a ternary here, the predicate already returns `true` or `false`.
3. In Rails vs. pure Ruby it's often more common to use `present?` instead of `empty?`, but but you can also use `articles.any?` here, which

[2020-11-02 02:07] cwray-tech commented on #9658
Awesome!! That is exactly what I was looking for. I think this will help a ton! Thank you so much. I appreciate you guys letting me hack at this. And I really didn’t want to submit a pull request with crap so I appreciate your response greatly.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Michael Kohl <notifications@github.com>
Sent: Sunday, November 1, 2020 7

[2020-11-02 04:32] citizen428 commented on #11202
Thanks @bntzio, I assigned you the issue so nobody else accidentally starts working on this.

[2020-11-02 04:33] #11203 closed

[2020-11-02 04:34] citizen428 commented on #11205
Thanks @gladyscodes! I assigned you this issue so other potential contributors know that it's being worked on already.

[2020-11-02 04:36] citizen428 commented on #11222
Yes, this generally seems to be an issue, not related to any specific browser/OS combo. Thanks for the report!

[2020-11-02 04:37] citizen428 commented on #11223
Closing this as a duplicate of #11202

[2020-11-02 04:37] #11223 closed

[2020-11-02 07:17] ludwiczakpawel commented on #11202
Hey @bntzio , we've reassigned this issue to be handled internally since its caused by some bigger code refactoring shipped recently and because it affects some broader plans for our frontend codebase we want to be sure its gonna be solved according to our plan. I hope you don't mind and I also really appreciate your contribution here!

[2020-11-02 08:07] jatin2003 commented on #11223
Sorry, I didn't saw that issue earlier 😅

[2020-11-02 08:10] #10575 closed

[2020-11-02 08:20] rhymes commented on #11174
@crimson-med have you tried to hard refresh your cache?

[2020-11-02 09:11] rhymes commented on #11060
@akashdotsrivastava thanks! I've assigned you to it

[2020-11-02 09:42] rhymes commented on #11222
I believe this is similar to https://github.com/forem/forem/issues/6922 - right @ubaidisaev ?

[2020-11-02 09:43] maximelafarie commented on #11202
I made a PR to fix this: #11222 🤘 The issue is explained in the PR 😉.

[2020-11-02 09:43] #11222 closed

[2020-11-02 09:44] rhymes commented on #11202
@maximelafarie I think the PR number is wrong 😊

[2020-11-02 09:45] maximelafarie commented on #11202
Thank you @rhymes you're right! 😁 I edited it!

[2020-11-02 09:47] ludwiczakpawel commented on #11202
hey @maximelafarie , thanks for contribution although this time we've decided to tackle this one internally by ourselves:

Check #11229 .

[2020-11-02 09:50] maximelafarie commented on #11202
Thank you for your answer @ludwiczakpawel! I'm so dumb I read your last comment too late! 😅
Good luck buddies! 🖖

[2020-11-02 09:57] #10979 closed

[2020-11-02 10:07] #11202 closed

[2020-11-02 12:53] ubaidisaev commented on #11222
@rhymes yeah.

[2020-11-02 12:55] ubaidisaev commented on #11222
Yeah it's duplicate

[2020-11-02 14:37] maureento8888 opened #11230 "Post editor not responsive on mobile viewport"
**Describe the bug**

**To Reproduce**

Go to dev.to on Safari in iPhone X

Click on Profile > Dashboard

Scroll to a given post > “Edit” post

Cover image set for post is cut off slightly at bottom margin. Most importantly, the textarea is not scrollable to easily edit content markdown. Unable to freely scroll content. Need to hold cursor and drag to bottom edge of textarea just right so it doesn

[2020-11-02 14:38] #10967 closed

[2020-11-02 15:01] fdoxyz commented on #11230
This is a bit odd as I wasn't able to reproduce the title problem from Safari (or Chrome) using an iPhone 11 on iOS 14.1

https://share.getcloudapp.com/QwukoAPp

We are definitely losing the ability to interact with the buttons at the very bottom of the screen (save changes and publish in case the post is a draft)

[2020-11-02 16:19] #10482 closed

[2020-11-02 16:22] Ridhwana commented on #3001
@ludwiczakpawel and @lisasy can you weigh in on the visual/product aspect of this?

[2020-11-02 16:35] ludwiczakpawel commented on #3001
@Ridhwana this seems to be pretty outdated (1y old issue) - is this something we still need/want?

[2020-11-02 17:23] Rafi993 opened #11231 "Listing modal does not show tags when refreshed"
**Describe the bug**

Listing modal does not show up the tags in the listing always

**To Reproduce**
1. Go to https://dev.to/listings
2. Click on a listing with tags. It will open up a modal and it will show the tags
3. Now refresh the page
4. The modal will show up but without tags

**Expected behavior**

Tags in the listing modal should always be displayed

**Screenshots**
![listing_modal](http

[2020-11-02 17:24] Rafi993 commented on #11231
Hello there if this bug is not taken I would like to help

[2020-11-02 17:25] rhymes commented on #11231
Go ahead @Rafi993 and thanks again! :D

[2020-11-02 17:25] Rafi993 commented on #11231
Thank you @rhymes

[2020-11-02 17:32] gzuidhof opened #11232 "Support Starboard.gg notebook embeds (liquid tags)"
**Describe the solution you'd like**

`{% starboard https://gz.starboard.host/v1/embed/0.6.2/br0qtd223akg00eiaos0/noNeOQB/ %}`

This is the embed URL that can be retrieved from the `Share or Embed` button at the top of a Starboard notebook. Here's the [link to the above example notebook](https://starboard.gg/nb/noNeOQB).

Starboard is an [open source](https://github.com/gzuidhof/starboard-notebook

[2020-11-02 19:10] nickytonline commented on #11134
I'm not seeing the issue in production either. I tried it from the mod center as well as an individual article page.

![image](https://user-images.githubusercontent.com/833231/97908579-e4cb1d00-1d14-11eb-8f85-1eb7f5992a91.png)

![image](https://user-images.githubusercontent.com/833231/97908613-f0b6df00-1d14-11eb-93dd-629e59fb8acc.png)

Even if I shrink the window a lot or go to mobile view, it's s

[2020-11-02 19:31] jmau111 opened #11236 "sidebar overlap - z-index - crayons header dropdown menu"
**Describe the bug**

**When logged in and in desktop mode**, if you set "Site Navbar" setting to  "Static top of page", the dropdown menu has a wrong display.

**To Reproduce**

1. Go to settings UX
2. Set  Site Navbar to "Static top of page"
3. Hover the header settings dropdown menu
4. See error when on a profile page or an article page

The bug does not affect the home page.

**Expected behavi

[2020-11-02 19:43] krzysiek1507 commented on #11158
Here is the fix https://github.com/forem/forem/pull/11054

[2020-11-02 21:13] fdoxyz commented on #11236
cc @ludwiczakpawel as this may be an edge case related to the recent z-index refactor

[2020-11-02 22:39] pkfrank commented on #3001
@ludwiczakpawel multiple Forem admins have raised this recently.

I also personally feel like this will make "following along" in the Forem.team threads a lot easier (as we can go by chronological order).

[2020-11-03 01:40] Rafi993 commented on #11134
@fdoxyz you were right this issue does not always it happens only when the "missing configuration" is show at the top. I was able to verify this now by fixing the "missing configuration" now.

[2020-11-03 02:09] Rafi993 commented on #11231
other than renaming keys in elastic search to match API another way to fix this bug might involve changing **TagLinks** component used in https://github.com/forem/forem/blob/master/app/javascript/listings/singleListing/Header.jsx#L34

[code]

this might not be an ideal solution.

[2020-11-03 03:40] Rafi993 commented on #11231
Should I fix this issue by renaming keys in elastic search (I'm not sure if the different key names was intented) or should I make the above change in the frontend to fix this any thought on this @forem/oss ?

[2020-11-03 04:00] nickytonline opened #11243 "Themes Radio Button Group in UX settings should be wrapped in a <fieldset />, not a <div />"
**Describe the bug**

When grouping controls, like a radio button group, a `<fieldset />` should be used instead of a generic `<div />`. For more information, see the [fieldset](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/fieldset) documentation on MDN.

**To Reproduce**

n/a

**Expected behavior**

The radio button group for the site themes, should render the same visually, but be m

[2020-11-03 08:10] #9658 closed

[2020-11-03 08:48] miku86 opened #11247 "Editing old posts doesn't use current Editor Style"
Hey there,

I don't know if this is a bug or a feature, but it seems to be more like a bug.
I searched in the other issues, but couldn't find something similar.

**Describe the bug**

I wrote a post with the new Rich Editor after changing it in the settings.
I don't like it, so I want to go back to the old Editor.
So I changed this in the settings.
This works, new posts use the old Editor.
BUT: th

[2020-11-03 09:09] rhymes commented on #11247
Hi @miku86, this is actually a feature, posts are tied to the version of the editor they were initially created with. The reason being that the newer editor doesn't support the front matter and each and every possible combination of its options.

Closing this and referring you to https://github.com/forem/forem/issues/6763 which is a feature request to allow the switch between versions

Thank you f

[2020-11-03 09:09] #11247 closed

[2020-11-03 09:31] ludwiczakpawel commented on #3001
Okey, cool. I think there should be 3 levels of setting this up:

1. **Admin** - admin of a community should have a setting somewhere to set default sorting for their community comments.
2. **User settings** - user should be able to set/overwrite default sorting for comments. I believe this should live under `/setting/ux`
  ![image](https://user-images.githubusercontent.com/108287/97966439-2105888

[2020-11-03 10:14] #11236 closed

[2020-11-03 10:23] krzysiek1507 commented on #11158
Closed by #11054

[2020-11-03 10:42] #11158 closed

[2020-11-03 12:21] Link2Twenty commented on #11173
Laporan bug means Report bug in Malay I think we can close this.

[2020-11-03 12:41] #11173 closed

[2020-11-03 13:02] mstruve commented on #11231
I dont understand why we would have to change the keys in elasticsearch since we have `tags` and `tags` is what we are using in the javascript.

With that said I think your solution with the `||` would suffice.

[2020-11-03 13:26] #11243 closed

[2020-11-03 17:01] #11231 closed

[2020-11-03 18:22] lisasy commented on #3001
I like these solutions! They look good to me, and I'd recommend content changes to make this clearer.

### Per post - dropdown

#### Sort by:
##### Most popular

[2020-11-04 02:04] Rafi993 opened #11261 "Fixing date in listing modal"
**Describe the bug**

Listing modal does not show up the date in the listing always

**To Reproduce**
1. Go to https://dev.to/listings
2. Click on a listing with date. It will open up a modal and it will show the date
3. Now refresh the page
4. The modal will show up but without date

**Expected behavior**

Date in the listing modal should always be displayed

**Desktop:**

- OS, version: Ubuntu 2

[2020-11-04 07:07] internetpositif opened #11266 "https://qqfreeslotyy.com/"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-11-04 07:10] #11266 closed

[2020-11-04 08:01] ludwiczakpawel commented on #3001
Yeap, I'm all in for content updates and having the same language in Settings too.

Something to clarify though is figuring out what actually is the criteria for "Top comments" since "most upvoted and relevant comments" label was something I made up..

[2020-11-04 08:44] Ridhwana commented on #3001
@ludwiczakpawel this sounds pretty good, and we can probably implement it incrementally in 3 phases if we realize that makes the most sense. So to confirm,  do we see the sorting options to be:

-  Top
-  Latest
- Oldest

across all the admin, profile settings and post?

[2020-11-04 14:01] c33s opened #11269 "non-social login form gone (dev.to)"
last time i logged into dev.to i noticed that it is alread possible to login with a local email and password (refs: #242), which is awesome.
i set a password and disconnted my github account. it works like charm. today i wanted to login to dev.to  and there where no email and password fields, they where gone.

it's quite uncool that you require me to connect my github account again to login after

[2020-11-04 14:51] Zhao-Andy opened #11270 "Redirects sometimes lead to styling and loading errors"
**Describe the bug**
When clicking a link that will redirect to a new page, the redirect sometimes misbehaves. My guess is that there is some caching involved, most likely from service workers. I believe that when the page is cached by service worker, and then the page is made into a redirect (changing your username or your organization's username/slug for example), the service worker sends a cach

[2020-11-04 15:53] alexandreruban opened #11271 "Rails db:seed / db:setup commands sometimes crash"
**Describe the bug**

`rails db:setup` or `rails db:seed` commands sometimes fail. This is because in `db/seeds.rb`, 3 'vomit' reactions are created for 3 randomly selected articles (on a total of 25).

[code]
If the same article is picked 2 times, the creation of the reaction will crash because according to the validations, it is not allowed to create 2 'vomit' reactions for the same article.

**

[2020-11-04 16:23] Zhao-Andy commented on #11269
Hi @c33s, sorry for that. We disabled it by accident. You should be able to login via email again!

[2020-11-04 16:23] #11269 closed

[2020-11-04 16:55] #11271 closed

[2020-11-04 19:46] ofhope opened #11273 "Removal of env var value PRACTICALDEVELOPER_DATABASE_PASSWORD"
Postgres production values don't conform to rails convention. It's also aiding malicious users in narrowing down the attack surface giving them DB name and user name. This current config makes me inclined to create a DB on my target production with the same name and user so I don't have to deviate the config.

[code]

I'd like to see production config conform to something like the development conf

[2020-11-04 20:10] mstruve commented on #5152
Since we are no longer using ENV'ied this issue can be closed 🎉

[2020-11-04 20:10] #5152 closed

[2020-11-04 20:15] mstruve commented on #9206
Hi @Emaah, since this issue has not been active for a while and seems to be related to an external environment variable issue on Heroku I am going to go ahead and close it. Please let us know if you have any questions! Thank you!

[2020-11-04 20:15] #9206 closed

[2020-11-04 20:18] mstruve commented on #3649
Added to the SRE board since I also noticed this recently and would love to get it optimized.

[2020-11-04 20:33] wakgari commented on #282
thanks you saved my day.

[2020-11-05 04:51] SantoskKmar opened #11281 "Not veryfief email"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-11-05 05:34] Rafi993 commented on #3638
Converting gif to mp4 could be achieved using ffmpeg on the server side or this could also be done in the client side using web-assembly (https://ffmpegwasm.github.io/) if there there is web assembly support available.

[2020-11-05 06:46] citizen428 commented on #11273
Thanks @ofhope, I agree with this in principal. Would you mind creating a draft PR so we can have further discussions around an actual proposed alternative?

[2020-11-05 06:56] citizen428 opened #11282 "Resolve deprecation warning"
Ruby 2.7.2 disables deprecation warnings:

https://www.ruby-lang.org/en/news/2020/10/02/ruby-2-7-2-released/

We currently go with this default both in local development as well as CI, but we should address these warnings eventually. The best way to do this is to create a new branch, run the specs with `RUBYOPT="-W:deprecated" bundle exec rspec` and address them one by one.

This issue would be go

[2020-11-05 07:09] #11261 closed

[2020-11-05 07:24] rhymes commented on #11281
Hello @SantoskKmar, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-11-05 07:27] rhymes commented on #3638
Cool @Rafi993! We'd probably need both if we decide to tackle this.

As we're now using imgproxy in some Forems I was looking into its support for this task. It's limited to the Pro version https://docs.imgproxy.net/#/image_formats_support?id=converting-animated-images-to-mp4

[2020-11-05 07:39] Rafi993 commented on #3638
Awesome. You are right it needs done in both If there is wasm support then the library get loaded initially and the conversion happens in the browser or the conversion happens in the server. That way there is a decent fallback in-case the client cannot convert the file also reducing the load on the server if the client can do this.

[2020-11-05 08:12] Rafi993 commented on #3638
**imgproxy** is really good I did not know about this before.

[2020-11-05 10:45] sankalpkumar571 opened #11284 "Hlw sir"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-11-05 12:45] Rafi993 commented on #7532
Hello there, if this issue is not taken I would like to help :)

[2020-11-05 13:32] #11284 closed

[2020-11-05 13:33] rhymes commented on #7532
Hi @Rafi993, sure, it might be better to kickstart a discussion about the UI in this case as we need to figure out where and how to put the controls for this, both in desktop and mobile

[2020-11-05 13:46] Rafi993 commented on #7532
There is a dropdown to choose sort order in https://dev.to/listings/dashboard  (sort by **"Recently Created"** or **"Recently Bumped"**)

![sorting](https://user-images.githubusercontent.com/8092120/98248575-240a9f80-1f9b-11eb-9d70-73df5109dd6d.png)

[2020-11-05 13:53] Rafi993 commented on #7532
There is another similar sort dropdown in https://dev.to/dashboard to sort posts

[2020-11-05 13:58] Rafi993 commented on #7532
The issue might be that the search bar occupies the right most position in reading list. While in other examples mentioned above  the sorting dropdown is present there. positioning of the dropdown (is it left or right) needs to be determined.

![search_bar](https://user-images.githubusercontent.com/8092120/98249746-a0ea4900-1f9c-11eb-83af-024f3bc6ff7b.png)

[2020-11-05 14:04] Rafi993 commented on #7532
But search box is present in left in most cases in the UI like the global search, search inside https://dev.to/listings etc.. search box is also present in left in **/admin/listings/categories**
![listing_categories](https://user-images.githubusercontent.com/8092120/98250746-d9d6ed80-1f9d-11eb-9f26-d057aca984b8.png)

[2020-11-05 14:11] Rafi993 commented on #7532
there is another one in **/admin/organizations**

![admin_org](https://user-images.githubusercontent.com/8092120/98251493-c6785200-1f9e-11eb-84dd-a0c43bca242c.png)

I think those should provide reference for this.

[2020-11-05 14:23] Rafi993 commented on #7532
Thank you @rhymes

[2020-11-05 14:39] Rafi993 commented on #7532
Any thoughts on this?

[2020-11-05 14:50] rhymes commented on #7532
@Rafi993 I pinged our designers, they'll give you feedback as soon as possible :) Thanks!

[2020-11-05 15:03] #11163 closed

[2020-11-05 15:05] #10605 closed

[2020-11-05 16:04] fdoxyz commented on #3638
This wanted to drop in a reference for #10379 as it seems related.

I'm not knowledgable in how images are processed/served, but the reasons why this ^ issue is happening (I'm quoting the WebKit team on this) are:

I don't know what are (or if we have control over) the PTS delta or UA sniffing when processing the GIFs. But if we do, it would be great to consider taking advantage of that. The regre

[2020-11-05 17:07] mstruve opened #11285 "Move Forem Docs into Their Own Repository"
The Forem repo has grown considerably over the last year and a large chunk of the repo is our documentation. While it is convenient to have the docs and code all in one place it also comes with some downsides.
* If you change the documentation you have to wait for a full CI spec run to complete before you can merge the change
* Any documentation change when merged triggers a deploy. This certainly

[2020-11-05 17:28] mstruve commented on #2507
@nickytonline looks like we talk a bit about service workers in `docs/backend/internationalization.md` but I am thinking it might be worth it to close this and add a separate issue just to document service workers. Might be more approachable for a contributor to pickup.

[2020-11-05 17:31] thomasbnt opened #11287 "PWA : Shortcuts menu"
**Is your feature request related to a problem? Please describe.**

Add shortcuts to add rapidity and efficacity for view a page with less effort.

https://web.dev/app-shortcuts

Example :
![app-shortcuts-menu-android.png](https://user-images.githubusercontent.com/14293805/98275442-e9056d80-1f94-11eb-9e1b-1b653caae525.png)

**Describe alternatives you've considered**
/

**Additional context**

❤️

[2020-11-05 17:37] rhymes commented on #11287
Closing this as a duplicateof https://github.com/forem/forem/issues/10009 - thank you @thomasbnt!

[2020-11-05 17:37] #11287 closed

[2020-11-05 17:43] thomasbnt commented on #11287
Aarg so sorry for a another duplicate issue 😅

[2020-11-05 17:45] rhymes commented on #11285
The downside of this is that it could make keeping the documentation in sync a little bit harder, especially for third party contributors. I'm not sure eh, it might make it easier to build a completely separate community around docs.

I think this sits in a wider discussion about separating what's documentation about using Forem and documentating about installing Forem. Installation and setup docs

[2020-11-05 18:49] mstruve commented on #11285
Oops, [we actually ignore the docs for the Heroku slug](https://github.com/forem/forem/pull/10067/files), I forgot I did that. I updated the description

[2020-11-05 19:25] #2507 closed

[2020-11-05 21:37] lisasy opened #11290 "Planning work for Forem.com marketing page"

[2020-11-05 21:48] krzysiek1507 commented on #8425
I submitted a PR #11286 that reverts `rand` max value to the previous value.

[2020-11-06 00:15] zctocm opened #11292 "Oauth2.0 API"
**Is your feature request related to a problem? Please describe.**
Oauth2.0 API

**Describe the solution you'd like**

I found that 'OAuth2 authentication is still in [private alpha](https://docs.dev.to/api/#section/Authentication)' in your API doc. So I want to know about the latest progress of this API.

Do the oauth2.0 works? I want to make a tool that can help someone to publish the article to

[2020-11-06 04:08] akrifari opened #11293 "Progress bar is missing"
**To Reproduce**

1. Simulate slow connection on devtools
1. Navigate around the site while devtools is opened

**Expected behavior**

I guess there should be a progress bar at the top, right?

**Screenshots**

![progress-bar-is-missing](https://user-images.githubusercontent.com/33394747/98323882-7ab8bd80-201d-11eb-8799-453e3aed5647.gif)

**Desktop (please complete the following information):**

-

[2020-11-06 09:48] #11293 closed

[2020-11-06 11:34] abenettt commented on #11159
The most trivial implementation I can think of is to use a `trigger` table, that contains the trigger and maybe a description of what this trigger is and then using a pivot table to indicate which post contains what trigger. Although this might work, I think this is a little too trivial, it would require the forem team to maintain the list of triggers and it might also add complications when using

[2020-11-06 13:47] dmahely opened #11298 "Copy image to Clipboard not working on Safari"
**Describe the bug**

While writing a new post in Safari, I uploaded an image and the site generated the markdown tag with the placeholder alt text and url. When clicking on the 'copy' icon, no message is shown. Trying to paste will paste whatever was copied before the image tag.

**To Reproduce**

1. Go to dev.to/new on Safari
2. Click on upload image
3. When the image tag is generated, click on

[2020-11-06 15:05] Zhao-Andy commented on #11285
Don't have an opinion (yet) of whether it should be moved to a separate repo or not, but if we did move it, it wouldn't be too hard. There are three parts to our docs:
- docs.forem.com, static site generated by GitDocs
- docs.forem.com/api, documentation about how to use our API, auto generated by ReDoc
- docs.forem.com/ruby-doc, Ruby documentation on our code, auto generated by (??? I forget)

Al

[2020-11-06 16:19] eusonlito opened #11300 "Filter Mod Center by following tags"
**Is your feature request related to a problem? Please describe.**

Today my status was upgraded to "trusted"  🥳 🥳

I'm excited with my new status, I have reported a dozens of SPAM posts and is great that I can moderate by myself to clean dev.to spammers.

But... I'm subscribed to `php` and `laravel` tags, and my browser bookmark is https://dev.to/t/php/latest

The problem is that the mod center t

[2020-11-06 16:21] benhalpern commented on #11292
Sorry about that, but thanks for bringing it up here.

This is something we could bring out of beta, the underlying stuff all works fine. We originally rolled it out for one key feature to let folks generate static sites from their DEV posts in a way that ensured we wouldn't the the all-consuming center of the universe....

But since that initial proof of concept was our main motivation, we haven'

[2020-11-06 16:57] Rafi993 opened #11302 "Fixing category in listing modal"
**Describe the bug**

Listing modal does not show up the category in the listing always

**To Reproduce**
1. Go to https://dev.to/listings
2. Click on a listing with category. It will open up a modal and it will show the category
3. Now refresh the page
4. The modal will show up but without category

**Expected behavior**

Category in the listing modal should always be displayed

**Desktop:**

- O

[2020-11-06 17:29] #11302 closed

[2020-11-06 18:01] #11128 closed

[2020-11-06 19:16] mstruve commented on #10465
I have squashed migrations in the past and it was great for saving time when creating new environments. However, given [Rails recent additions of db:prepare](https://github.com/rails/rails/blob/98754de1412870d7dae9eba1c7bac944b9b90093/activerecord/lib/active_record/railties/databases.rake#L298) which ensures schema is loaded for a fresh database rather than migrate, I think this is likely somethin

[2020-11-06 19:36] mstruve commented on #8005
Hi @madzadev! Thank you so much for submitting the issue. This looks to me to be an issue with a slow database since those first articles are loaded from Postgres. Seeing as we have beefed up our database recently and improved our queries I am going to go ahead and close this. If you continue to experience this let us know!

[2020-11-06 19:36] #8005 closed

[2020-11-06 19:41] mstruve commented on #2377
Thank you @omenking for opening this issue!

We are currently in the process of creating an entirely separate website to handle the marketing of all things Forem so I am going to go ahead and close this.

[2020-11-06 19:41] #2377 closed

[2020-11-06 20:49] mstruve commented on #2147
@rhymes is this still something that would be worth doing?

[2020-11-06 20:51] mstruve commented on #3130
Given the article with the reported problem is displaying properly and @maestromac said he doesn't see it happening on other articles I am going to close this.

[2020-11-06 20:51] #3130 closed

[2020-11-06 21:32] maestromac commented on #3638
@rhymes I wish we can just rely Imgproxy. I think feasible to convert gif to mp4 seems  through Carrierwave with FFmpeg plugin. Can you clarify why you think we need both client side and server side solution?

[2020-11-06 21:38] mstruve commented on #193
I just updated my email and I got a confirmation instruction email. It does have the words "Welcome" in it so I am wondering if that is what people are seeing. I did not get any other new user emails.
<img width="387" alt="confirm_instructions" src="https://user-images.githubusercontent.com/1813380/98417073-e6af1c00-2045-11eb-8044-b7717f959ee0.png">

I am going to go ahead and close this. Please l

[2020-11-06 21:38] #193 closed

[2020-11-06 21:40] mstruve commented on #1984
The problem here was that we used to be sorting by the readable published date which was not accurate. We are now sorting by the actual datetime in Elasticsearch so this is no longer an issue. Thanks as always for reporting!!! We really appreciate it!

[2020-11-06 21:40] #1984 closed

[2020-11-06 21:48] mstruve commented on #1206
Testing all the links on the homepage and they all seem to be behaving properly. Since this bug is really old and a lot has changed since then I am going to assume it is resolved and close it. If anyone in the future comes across this issue please feel free to explain your situation and open it back up!!!

[2020-11-06 21:48] #1206 closed

[2020-11-06 21:50] mstruve commented on #1607
Hey @zcdunn! Thank you for opening this issue! Since the related PR has been closed and we are in the process of completely overhauling our profile fields I am going to go ahead and close this. Thank you so much for being a part of the Forem community and feel free to reach out if you have any questions!

[2020-11-06 21:50] #1607 closed

[2020-11-06 21:54] mstruve commented on #525
Thanks @joshi-chinmay for bringing this to our attention! I checked a few profiles and I no longer see any issues.

We recently overhauled our search infrastructure and during that time I found a lot of bugs in regards to filtering for articles. This was probably one of them that ended up being fixed during that overhaul so I am going to go ahead and close it.

[2020-11-06 21:54] #525 closed

[2020-11-06 21:56] mstruve commented on #2623
Recently confirmed that this has been fixed!

[2020-11-06 21:56] #2623 closed

[2020-11-06 21:59] mstruve commented on #2489
This workflow has recently been updated so that the Report Abuse form is loaded within the chat window itself and contains the correct information. Please let us know if you are still experiencing issues. Thanks again for being apart of the Forem community!!!

[2020-11-06 21:59] #2489 closed

[2020-11-06 22:26] mstruve commented on #3971
Since we haven't been able to reproduce this I am going to close it. Let us know if you come across it again, thanks!

[2020-11-06 22:26] #3971 closed

[2020-11-06 23:48] fdoxyz commented on #11298
I was unable to reproduce on dev.to with Safari `Version 14.0 (15610.1.28.1.9, 15610)`. Looking at [MDN docs](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/clipboard) it seems like the `navigator.clipboard` API is supported on Safari starting with version `13.1`.

The easiest solution seems to be to update to a more recent version of Safari (recommended for security updates too).

I u

[2020-11-06 23:49] mstruve commented on #3733
We have spent a lot of time recently updating our frontend so I no longer think this is an issue. I was not able to reproduce it myself with the current code. If you are able to reproduce this now please let us know and we will reopen. Thank you as always for contributing to Forem!!!!

[2020-11-06 23:49] #3733 closed

[2020-11-06 23:51] mstruve commented on #3706
Hey @scrabill! Since this is an older issue and it looks like you were able to get the proper behavior I am going to close. If you come across this issue again please do not hesitate to reopen! Thank you so much for contributing to Forem!!!

[2020-11-06 23:51] #3706 closed

[2020-11-06 23:55] mstruve commented on #3602
Tested this out and with our new editor changes, this no longer appears to be a problem. @Beznet if you are still able to reproduce this please let us know! Thanks for contributing and being a part of Forem!!!

[2020-11-06 23:55] #3602 closed

[2020-11-07 06:51] rhymes commented on #3638
@maestromac I don't think we **need** both, I think in a future we'd want both as having clients do the processing themselves will save us resources. Especially if we plan to do it inside the web server and not through AWS with some function

[2020-11-07 07:09] rhymes commented on #2147
Yep, although it's better than March 2019, it's still unclear why we keep short caching periods on fingerprinted static assets, see https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fdev.to%2F ("Diagnostics -> Serve static assets with an efficient cache policy"). It's 30 days, it could be years.

This doesn't happen on forem.dev as it uses nginx for caching IIRC.

Notice the

[2020-11-07 10:32] filipeqm94 opened #11304 "Open links to externsl pages in a different tab"
Hello everybody, I'm Filipe and I'm somewhat new to coding and dev.to in general. Yesterday I found about the website through CodeCademy's suggestion for Coding Communities, and I couldn't help but noticing that everytime I clicked on a Link for an external page, it would use the current tab I was reading.

I think it would be a nice idea to introduce a feature where when you click on a link that

[2020-11-07 12:04] rhymes commented on #11304
Hi @filipeqm94, thanks for contributing your idea, I'm going to close this as a duplicate of https://github.com/forem/forem/issues/1716 and encourage you to leave a comment there to add to the entire discussion.

Thank you!

[2020-11-07 12:04] #11304 closed

[2020-11-07 12:25] mstruve commented on #2147
Great! going to throw it on our end of year priority board. Thanks!

[2020-11-07 12:33] mstruve commented on #3225
Hey @rylandg! We have recently overhauled our notification setup and design. Given this is an older issue and has not been reported since I am going to assume it has been fixed and close this out. If you see this problem again, please do not hesitate to open this back up!!! Thank you so much for being a part of the Forem community!

[2020-11-07 12:33] #3225 closed

[2020-11-07 12:39] mstruve commented on #2433
In #9285 we recently added a local_date helper to ensure that article published timestamps were shown in locale time and not server time. I then also applied this to our article partials https://github.com/forem/forem/pull/11028. Between the 2 PRs I believe this solves our timezone issues so I am going to close this out.

@shindakun and @danisaza please let us know if you continue to see this beha

[2020-11-07 12:39] #2433 closed

[2020-11-07 12:40] gautamkrishnar opened #11305 "Android app is broken"
**Describe the bug**
Android app of dev.to is broken

**To Reproduce**
Download fresh app from the play store, open it.

**Expected behavior**
App should work properly

**Screenshots**
![Screenshot_20201107-180728.jpg](https://user-images.githubusercontent.com/8397274/98441460-71664880-2124-11eb-9c3a-2d44bbb6b549.jpg)

**Smartphone (please complete the following information):**

- Device: OnePlus

[2020-11-07 13:11] krzysiek1507 commented on #10465
If we remove the migrations, [`bin/rails db:prepare`](https://github.com/forem/forem/blob/70725665acecfbd53c7812642f102d775de53da3/lib/tasks/app_initializer.rake#L8) on a new installation won't work because it calls `bin/rails db:migrate` which fails if migrations are corrupt, e.g. a migration tries to add a column to a nonexistent table.

If we wanted to remove the migrations, we would need to re

[2020-11-07 13:46] abenettt commented on #10465
@mstruve I setup the project anew, installed squasher globally and ran it for all existing migration files, I then had to manually edit thes generated migration to first disable constraint validation and then create a second migration in which I enabled constriant validation again, otherwise `strong_migrations` would have complained. After this I ran the migrations with `bin/rails db:migrate`.

[2020-11-07 14:04] rhymes commented on #11305
Hi @gautamkrishnar, thanks for the report, as this pertains mainly to the Android app for DEV, would you be willing to open this issue on the repo for the app? https://github.com/thepracticaldev/DEV-Android - Thank you!

[2020-11-07 14:11] gautamkrishnar commented on #11305
@rhymes Moving to https://github.com/thepracticaldev/DEV-Android/issues/105

[2020-11-07 14:11] #11305 closed

[2020-11-07 15:15] Franqsanz opened #11306 "Open profile picture"
**Describe the solution you'd like**
Hi, I was wondering if you could open the profile image by clicking on it, to see it larger.

[2020-11-07 21:19] AJuliette commented on #11270
I think this might be a duplicate of this issue, someone is working on it: https://github.com/forem/forem/issues/11205

[2020-11-07 21:32] AJuliette commented on #11156
Maybe you could group this with this (older) issue ? https://github.com/forem/forem/issues/11100 It's on the width of the banner for different screens.

[2020-11-07 21:38] AJuliette commented on #11188
There is an older issue signaling this problem, maybe you could group yours with their ? https://github.com/forem/forem/issues/11043

[2020-11-07 22:37] mstruve commented on #10465
@krzysiek1507 I don't think at this point we should remove any of the migrations, I only brought that up bc it seems like Rails is more built for removing them than squashing them which makes me lean towards not squashing them.

@abenettt what I want to know is the situation that led you to run all of the migrations when setting up the application. I talking about setting it up without squasher or

[2020-11-08 05:24] rhymes commented on #11270
@AJuliette It might very well be that the fix for one will solve the others but I'm unsure so I'll keep the issue open in the meantime. Thanks for investigating!

[2020-11-08 05:26] rhymes commented on #11188
Thanks @AJuliette for catching this, @pyricau, I'm going to close this as a duplicate of https://github.com/forem/forem/issues/11043 - please feel free to add your entry over there

[2020-11-08 05:26] #11188 closed

[2020-11-08 08:23] sibkumr opened #11309 "9661792568//M pokket loan customer care number"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-11-08 08:24] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:24] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:24] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:24] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:24] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:24] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:25] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:25] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:25] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:25] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:25] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:25] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:25] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:25] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:25] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:26] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:26] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:26] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:26] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:26] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:26] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:26] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:26] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:26] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:26] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:27] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:27] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:27] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:27] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:28] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:28] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:28] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:28] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:28] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:28] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:28] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:28] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:28] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:29] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:29] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:29] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:29] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:29] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:29] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:29] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:29] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:29] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:29] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:29] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:30] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:30] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:30] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:30] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:30] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:30] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:30] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:30] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:30] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:30] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:31] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:31] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:31] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:31] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:31] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:31] sibkumr commented on #11309
9661792568//M pokket loan customer care number

[2020-11-08 08:35] sibkumr opened #11310 "9661792568//M pokket loan customer care number"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-11-08 08:35] sibkumr commented on #11310
9661792568//M pokket loan customer care number

[2020-11-08 08:35] #11310 closed

[2020-11-08 13:25] #11309 closed

[2020-11-08 13:53] dmahely commented on #11298
Thank you for your response @fdoxyz.
I did think of updating Safari first, but I think that's not possible with the OS version I'm on and I don't want to update at the moment.

[2020-11-08 16:45] mstruve commented on #4398
@chinchang thank you so much for reporting this! Since being reported we have updated a lot of our notification code and I have not been able to reproduce this with the new code so I am going to close this issue. If you can still reproduce this please let us know and we will look further into it! Thanks for being a part of the Forem community!

[2020-11-08 16:45] #4398 closed

[2020-11-08 16:46] mstruve commented on #4263
@technoplato  thank you so much for reporting this! Since being reported we have updated a lot of our following code logic and I have not been able to reproduce this with the new code so I am going to close this issue. If you can still reproduce this please let us know and we will look further into it! Thanks for being a part of the Forem community!

[2020-11-08 16:46] #4263 closed

[2020-11-08 16:52] mstruve commented on #4723
@agusnavce thank you so much for reporting this! Since being reported we have updated a lot of our notification code and I have not been able to reproduce this with the new code so I am going to close this issue. If you can still reproduce this please let us know and we will reopen and look further into it!

@TheJaredWilcurt also please check this functionality and if you are still having issues p

[2020-11-08 16:52] #4723 closed

[2020-11-08 16:55] mstruve commented on #6072
Hey @ludwiczakpawel I was just playing around with this on DEV and the issue looks to be resolved, I could not recreate it so I am going to go ahead and close this.

Also, HOLY COW the old UI, I am just now realizing how far we have some. 💯 thanks to you 😄

[2020-11-08 16:55] #6072 closed

[2020-11-08 17:01] mstruve commented on #5934
As @maestromac mentioned, this is working as intended. The idea here is that we don't want people to unpublish/republish older content to boost it back to the top of the feed and suddenly show up in the latest feed when the article might have been written a year ago. For this reason, I am going to go ahead and close this issue.

If this problem occurs in the future, please don't hesitate to reach

[2020-11-08 17:01] #5934 closed

[2020-11-08 17:05] mstruve commented on #6388
Hi @abenettt! Thank you for the great suggestion!

Our team is currently in the process of figuring out an optimal deploy process as Forem continues to grow. We are exploring ideas such as canary environments and/or staging environments. At this time though, we are moving most of our infrastructure off of Heroku and to AWS which makes using Heroku's built-in review app feature a bit less appealing

[2020-11-08 17:05] #6388 closed

[2020-11-09 00:33] mstruve commented on #5397
Fixed with https://github.com/forem/forem/pull/10324

[2020-11-09 00:33] #5397 closed

[2020-11-09 00:46] mstruve commented on #6691
Hi @0oneeipi! Thank you so much for submitting this issue.

We have recently done a lot of work with our article posting and publishing flow and I have not been able to recreate this so I am going to close the issue. If you find that this is still an issue please let us know. Further information that would help us solve this for you would be screenshots of the console of your browser when this hap

[2020-11-09 00:46] #6691 closed

[2020-11-09 00:53] mstruve commented on #7362
Hey @laurieontech! We have revamped a lot of our notifications page so I decided to recheck this. I went on to DEV, marked 28 of my notifications as unread, and scrolled down the notifications page and the formatting issue seems to have been fixed. I am going to go ahead and close this. Please reopen if you see this continuing to happen! 🤗

[2020-11-09 00:53] #7362 closed

[2020-11-09 01:00] mstruve commented on #1701
Hey @deyshin! Thank you so much for submitting this issue! We have recently redesigned our Follow buttons so I am going to go ahead and close this issue since we no longer have checkmarks and +/- signs. Thank you so much for being apart of the Forem community!

[2020-11-09 01:00] #1701 closed

[2020-11-09 01:34] mstruve commented on #6923
@AthulMuralidhar can you let us know if this is still an issue? We have updated our container setup a lot recently so I would not be surprised if this may have been fixed in the process.

[2020-11-09 03:01] citizen428 commented on #10465
@krzysiek1507 It only runs migrations when a DB exists but doesn't have an up to date schema, which would e.g. happen if you run `db:create`. The task description also mentions this:

I regularly run `rails db:drop` followed by `bin/setup` (which calls `db:prepare`) and it always recreates the database. It works because of the following snippet from the task (annotated):

[code]

[code]

[2020-11-09 03:03] citizen428 commented on #10465
@mstruve I'm quite indifferent. I used Squasher on 1 or 2 projects in the past, but I generally don't bother anymore. If they start to annoy me I'd probably just delete them.

[2020-11-09 05:27] #6299 closed

[2020-11-09 06:02] #11281 closed

[2020-11-09 07:50] catalinpit commented on #9509
Hello, what is the status of this issue?

@benhalpern, @maestromac or @nickytonline

[2020-11-09 08:18] madzadev opened #11335 "Repositioning article's header image after upload"
**Is your feature request related to a problem? Please describe.**

Beginner users might have trouble selecting the right aspect ratio images for their article headers. Currently, the positioning is done automatically, leaving no margin for any errors and options to fix it.

**Describe the solution you'd like**

It would be nice if the users would be able to reposition the image after upload. Curr

[2020-11-09 12:28] abenettt commented on #10465
@mstruve Oh yeah sorry. I think after I've followed the setup guide in the documentation, I deleted the tables again and ran `bin/rails db:migrate`.

[2020-11-09 13:43] Rafi993 opened #11339 "Storybook does not have example for select option"
**Describe the bug**

Select options does not have an example in storybook. I was not sure if I should raise this as a bug or feature.

**Additional context**

Select option is used in multiple places like https://dev.to/dashboard but it is missing sample in storybook

[2020-11-09 16:57] #9997 closed

[2020-11-09 17:27] andremacnamara commented on #11100
I can work on this issue if no one else has yet?

[2020-11-09 17:32] rhymes commented on #11100
@andremacnamara thank you! I'm assigning it to you

[2020-11-09 17:35] dmahely commented on #11298
FYI for anyone else facing the same issue: dragging and dropping an image into the editor (markdown editor at least) will add the image tag where your cursor was, which makes for a much better experience.

[2020-11-09 18:04] michael-tharrington commented on #10940
The more I think about this, the more I feel like we should specify an exact cadence if we can or at least provide more info about how frequent periodic is....

[2020-11-09 18:12] mstruve commented on #10465
Ah, thanks for the clarification @abenettt. Next time if you want to reset your data definitely would recommend drop and prepare or `db:reset` is what I often use.

Since the feeling here is mostly indifference and I think it kinda goes against the way Rails has setup database management to work I am going to close this issue. Thanks so much for suggesting it though and being apart of the Forem co

[2020-11-09 18:12] #10465 closed

[2020-11-09 21:19] HighPlainsCoder opened #11346 "onboarding page (/onboarding) has links that cant be opened in new windows"
**Describe the bug**

When on https://forem.dev/onboarding?referrer=https://forem.dev/ and trying to open either "Terms and Conditions" or "Code of Conduct" links in new tabs/windows, those new tabs get redirected back to https://forem.dev/onboarding

**To Reproduce**

1. go to forem.dev
2. create a new account
3. on the "onboarding" page that comes right after account creation, open either link i

[2020-11-10 03:26] harshhhdev opened #11349 "Settings - Profile: Weird styling for logo button"
*Is your feature request related to a problem? Please describe.*

Not really. It just doesn't fit with the overall look of dev.to

*Describe the solution you'd like*

Add some basic styling, to make it blend in more. Add different styles for each of the themes offered aswell.

*Describe alternatives you've considered*

Just add one style (something is better than nothing), which is very basic, and

[2020-11-10 05:30] marcysutton commented on #9585
Hey @Rafi993, if you have any questions about this issue let me know!

[2020-11-10 05:55] zctocm commented on #11292
Thanks for your reply, ben. Looking forward to new version including the Oauth2.0.

[2020-11-10 06:32] citizen428 opened #11351 "Add throttling for non-admin chat channel creation"
As discussed in #9741 we want to rate limit chat channel creation for non-admin users. [This comment](https://github.com/forem/forem/pull/9741#issuecomment-724392842) by Molly provides more context:

1. Previous PR that added throttling for a user action: #7832
2. File to edit: [rate_limit_checker.rb](https://github.com/forem/forem/blob/master/app/services/rate_limit_checker.rb)

[2020-11-10 08:46] abenettt opened #11352 "Move away from gitdocs as documentation server"
**Is your feature request related to a problem? Please describe.**
Currenlty `gitdocs` is used to host and generate the documentation, but the project has been long abandoned, the repository has been archived and there has been no update in two years.

**Describe the solution you'd like**
Moving to another documentation solution like for example [`docosaurus`](https://docusaurus.io/)
[v1](https://

[2020-11-10 08:48] 042urehcell opened #11353 "tiyjyhujtyjgj"
https://www.facebook.com/WatchLoveandMonsters2020Free
https://android.gadgethacks.com/forum/yrtgfdjdfj-0357493/
https://www.wattpad.com/979328405-yuikyuhjgjfgk-yuijyhujfgj
http://www.shadowville.com/board/general-discussions/ytuijyhujntgfhjfgjk
https://onlinegdb.com/r1OeNTPtP
http://paste.jp/2d5414cf/
https://ideone.com/qTLkdY
https://notes.io/MMh8
https://controlc.com/ae561af3
https://paste.feed-

[2020-11-10 09:06] #11353 closed

[2020-11-10 12:26] Rafi993 commented on #3638
[Here](https://rafi993.github.io/conveting-gif-to-mp4/) is a small poc for converting gif to mp4 conversion in client using ffmpegwasm and here is the corresponding [source](https://github.com/Rafi993/conveting-gif-to-mp4)

[2020-11-10 12:28] ludwiczakpawel commented on #11349
Hey can you provide some screenshots and elaborate a bit more what's the actual issue here so we can better understand what are you referring to?

[2020-11-10 12:30] #10028 closed

[2020-11-10 12:36] rhymes commented on #11352
Hi @abenettt, thanks for surfacing this issue, we're aware of it and even discussed it in here https://github.com/forem/forem/issues/6922 and internally briefly. An alternative to docusaurus could be https://www.gitbook.com or even using [Hugo](https://gohugo.io/) and a template

[2020-11-10 12:46] rhymes commented on #3638
@Rafi993, looks cool! Only a few lines of code (reposting them here for ease, hope it's fine):

[code]

[2020-11-10 12:55] Link2Twenty commented on #11346
Ctrl click doesn't open these links in a new tab, on windows, but perhaps it should?

Detecting ctrl in the handleShowText before preventing defaults would fix that minor side issue.

https://github.com/forem/forem/blob/a7938ed287899840238beb55b65ad481bb92c4a7/app/javascript/onboarding/components/IntroSlide.jsx#L54-L57

[2020-11-10 12:57] Link2Twenty commented on #11306
Very loosely connected with #413

[2020-11-10 13:03] harshhhdev commented on #11349
Yep, sure, sorry for not providing them before.

![image](https://user-images.githubusercontent.com/69592270/98677586-341fd780-232b-11eb-94cb-b8559e7c8703.png)

When I go into my settings, there is a "upload file" button you can see (which sticks out like a sour thumb due to the lack of styling on it)

[2020-11-10 13:57] ludwiczakpawel commented on #11349
Oh, I see. So this is actually an `<input type="file">` button - it's not like a classic button even though it initially looks like one...

Unfortunately, it's always a bit tricky to style this type of input and to make it bulletproof. Taking that into consideration as well as "popularity" of this view (in other words, how often users see it) I think the solution for this will not be worth the eff

[2020-11-10 14:21] #11094 closed

[2020-11-10 15:16] ludwiczakpawel commented on #11349
I'm closing the issue but leaving the conversation open if there's anything we need to clarify or discuss. Cheers!

[2020-11-10 15:16] #11349 closed

[2020-11-10 20:26] michael-tharrington commented on #49
To @Link2Twenty's point here, I do think we could somewhat copy the way that the editor basics are presented in our editor:

![Image 2020-11-10 at 3 25 21 PM](https://user-images.githubusercontent.com/16007075/98729486-fe99df00-2368-11eb-86d6-fd4ecea94140.png)

I think it'd be nice to keep our design/the way we offer this info consistent if possible.

[2020-11-10 20:33] michael-tharrington commented on #3675
Speaking with @maestromac, I've learned that this issue is caused somewhat by or current design choices...

When `#a` becomes an alias for `#b` the following happens:
- `dev.to/t/a` redirects to `dev.to/t/b`
- any future posts that are posted with the tag `#a` are transformed upon posting to use the tag `#b` instead (this is done with a search and replace behind the scenes

What we're missing is:

[2020-11-10 22:48] pkfrank opened #11365 "Instruct user to add email to their profile if none exists"
**Is your feature request related to a problem? Please describe.**
As a Forem admin, I want all registered users to have an associated email.  Sometimes, a user is created without an associated email due to an improperly-set OAuth scope (and maybe other bugs).

**Describe the solution you'd like**
If a registered member doesn't have an associated email with their account, they should be instructed

[2020-11-10 23:32] Zhao-Andy commented on #11365
Just to go down this train of thought, I think we could do something like:
- always redirect the user to /settings/profile and show a persistent message asking them to add their email
- or we could handle it in the onboarding flow, where the user is requested to add their email as a onboarding page/card

Yes, definitely should be a confirmed email. We technically have some measures in place for ha

[2020-11-11 03:38] #596 closed

[2020-11-11 09:42] mansona commented on #3675
@michael-tharrington I'm assuming this would require some sort of background job to do the same "transformation" of all the previous tagged content?

I tried to look into this myself but I am not a native Ruby dev 😂  so I couldn't quite figure out how to even start going about it

[2020-11-11 10:41] ludwiczakpawel opened #11371 "Jumping over 2 feed items with keyboard navigation"
**Describe the bug**

We've recently introduced keyboard navigation for jumping between feed items with `j` and `k`. But in SOME cases it jumps over 2 cards at once. It's pretty hard for me to determine when exactly that happens and what causes it...

**To Reproduce**

As mentioned above: not sure :D In the video below it started happening after returning back to home page from an article view.

*

[2020-11-11 10:48] ludwiczakpawel opened #11372 "Keyboard navigation on feed requires hitting "return" twice to access an article"
**Describe the bug**

When navigation through feed with keyboard (`j` & `k`) I have to press `return` twice to access selected article... However the first press activates the progress bar on top of the header.

**To Reproduce**

1. Go to home page
2. Press `j` and/or `k` to select random article on feed.
3. Press `return` - it will activate the progress bar on top of the page but it will not take

[2020-11-11 10:59] reobin commented on #11372
I have noticed that issue for quite some time using tab navigation, but I thought it was a bug with my browser's config.

It happens pretty much on any page for me. Here is an example on the dashboard:
![demo](https://user-images.githubusercontent.com/5920450/98803624-0b5b1900-23e3-11eb-894c-ac9d5de21995.gif)

[2020-11-11 12:03] reobin commented on #11371
The feed might have some differences between production and local. I'll check it out today.

[2020-11-11 12:42] reobin commented on #11371
It happens pretty consistently with these steps:

1. Jump in an article
2. Go back using a mouse a click on the DEV logo

**Notes**:

-  Doesn't happen using the browser's back button (unless you clicked on DEV logo before and going back to that buggy page)
- Doesn't happen using a shortcut to back like `cmd+[`
- Doesn't happen if I tab on the DEV logo and press enter (sometimes twice #11372), so

[2020-11-11 13:30] nickytonline commented on #11372
I'll take a peek at this today.

[2020-11-11 15:37] Link2Twenty commented on #11371
Is the keyboard shortcut not unregistering when you navigate away? Just an idea I've not looked into it and probably won't get a change to for a bit

[2020-11-11 15:39] reobin commented on #11371
@Link2Twenty From what I understand of it (could be wrong), the page content is replaced using `body.replaceChild()`, and the components don't officially unmount. So the shortcuts are not unregistered.

[2020-11-11 16:13] Rafi993 commented on #9585
Thank you @marcysutton there is a corresponding PR for this issue https://github.com/forem/forem/pull/10661. There were some discussions happening there regrading keyboard navigation you could give feedback there.

[2020-11-11 16:30] cmgorton opened #11379 "Posts with high engagement should show up and/or show higher on tag feed"
**Describe the bug**
A DEV user wrote in that their post is not appearing in the tags they use. Their post has good engagement but not showing up on the tag feed were it would be expected. After investigating we noticed there are posts with 0 reactions that are high up in the feed on the tag page like in [#showdev](https://dev.to/t/showdev) .

**To Reproduce**

Click on one of the tags in DEV like

[2020-11-11 16:36] #11339 closed

[2020-11-11 17:04] AkinOlawale commented on #11379
Thank you for attending to this @cmgorton

[2020-11-11 17:09] rhymes commented on #11379
Would it be possible to have a link to the post that doesn't show up? This way it can be used as a benchmark to understand why it's not appearing and/or if it should. Thanks!

[2020-11-11 17:14] AkinOlawale commented on #11379
Hi @rhymes Thanks for the quick reply. I'm the DEV user with the issue. The link is https://dev.to/rotimi_je_suis/i-call-it-the-betalist-for-job-seekers-34jg

[2020-11-11 17:17] rhymes commented on #11372
@nickytonline it looks like @reobin already submit a PR https://github.com/forem/forem/pull/11377

[2020-11-12 00:35] vaidehijoshi opened #11383 "Comments do not render the correct date"
**Describe the bug**

While viewing a comment on a post on a Forem instance, I noticed that the comment editor box's "notion" of date was _different_ than my local date (it was one day ahead):

<img width="723" alt="Screen_Shot_2020-11-11_at_4_06_34_PM" src="https://user-images.githubusercontent.com/6921610/98879950-82240080-243b-11eb-89b1-d0ee4eff44a7.png">

I took a screenshot of my local system

[2020-11-12 00:41] mstruve commented on #11383
This bug has occurred in a few places, we will want to make use of the `local_date` helper such as is done in this PR, https://github.com/forem/forem/pull/11028 to fix it.

[2020-11-12 07:41] rhymes commented on #11383
Hi @vaidehijoshi, I'm closing this a duplicate of https://github.com/forem/forem/issues/7561 - unfortunately it's a known bug (some possible solutions are also debate in the discussion) 😊

[2020-11-12 07:41] #11383 closed

[2020-11-12 09:36] springmaids opened #11385 "cleaning services in dubai"
Trusted Clean-up Corporations be sure that the staff members usually are prepared within the most current clean-up approaches in addition to the by using unique clean-up agencies. That teaching need to be executed routinely rather than just permanently seeing that clean-up approaches transform consistently in addition to new items will be unveiled towards current market frequently. It is best to t

[2020-11-12 09:37] #11385 closed

[2020-11-12 14:16] #11372 closed

[2020-11-12 15:26] michael-tharrington commented on #3675
Haha, no worries @mansona I appreciate you looking into it and helping to discover this issue to begin with!

This one has been hanging around too long, but I _think_ we now understand at least what kind of work we got cut out for us here.

I'm really hoping we can get to this soon!

[2020-11-12 15:27] cmgorton commented on #1518
Hey @Arteneko !

Thank you so much for opening this issue/discussion! Our design team is in the process of changing the UI for the comment cards and this will no longer be an issue with the new design.
I am going to go a head and close this issue.

We couldn't do what we do without awesome community members like yourself, thank you so much for being a part of our awesome Forem community 🤗

[2020-11-12 15:27] #1518 closed

[2020-11-12 16:34] cmgorton commented on #2961
Hey @itsjzt thanks for the feature request.
There is a current active discussion around this topic on issue [#5431](https://github.com/forem/forem/issues/5431). Since the discussion is active there and this appears to cover the same topic I am going to go ahead and close this issue. Thanks again for starting this discussion and feel free to add any more thoughts you have on this feature in the abo

[2020-11-12 16:34] #2961 closed

[2020-11-12 16:46] pkfrank opened #11392 "Improve date/time picker on /admin/events/new"
**Is your feature request related to a problem? Please describe.**
As a Forem Admin creating events, it's frustrating to use the current date/time picker on `/admin/events/new`.

**Describe the solution you'd like**
An updated interface for choosing the start/end time of events.

**Additional context**
We haven't given this area of the `/admin` section too much love recently, so it's understandabl

[2020-11-12 16:47] cmgorton commented on #3360
@maestromac did the [#3507](https://github.com/forem/forem/pull/3507) fix this issue? If so I will close this issue.

[2020-11-12 16:54] #3083 closed

[2020-11-12 17:32] YJDoc2 opened #11393 "Saving using 'label' icon on post and going back and clicking save unsaved the article"
**Describe the bug**
Using mobile version,
When one clicks label icon to save the post, and goes back to home page by back button on mobile , the 'save' button on the post is still there, which is probably as the browser caches the page, and is expected, but clicking on the save button changes it 'saved' while actually unsaving the article from reading list. One more click keeps the 'saved' but sa

[2020-11-12 17:35] YJDoc2 commented on #11393
I do not have much experience developing Ruby applications, but if someone can point to a possible starting point, I'd like to try and solve this.

[2020-11-12 23:33] juliannatetreault opened #11395 "Add "Suggested Tags" to the "Onboarding" Section in SiteConfig"
**Is your feature request related to a problem? Please describe.**
Currently, an Admin is only able to define "Suggested Tags" in the "Get Started" section of the SiteConfig. It would be ideal if Admins could also define "Suggested Tags" for the onboarding flow in the "Onboarding" section of the SiteConfig.

**Describe the solution you'd like**
Adding a "Suggested Tags" section to the SiteConfig (

[2020-11-13 00:03] juliannatetreault opened #11396 "Provide Drop-Downs or Checkboxes Instead of Text Fields for Certain SiteConfig Fields"
**Is your feature request related to a problem? Please describe.**
Some fields in the SiteConfig provide a list of options that an Admin can select from, whether in the form of a checkbox or drop-down list. While some fields, you're required to enter a word, such as `basic` or `large_forem_experimental`, and rely either on the docs or the explainer text to know what to enter.

**Describe the solut

[2020-11-13 10:34] anandsoni143 opened #11401 "My codepen in Google chrome is not working properly"
**Is your feature request related to a problem? Please describe.**

![Screenshot (551)](https://user-images.githubusercontent.com/47745941/99062878-a9a8d380-25c9-11eb-97ef-4930c63b544e.png)

[2020-11-13 11:09] rhymes commented on #11401
@anandsoni143 could you provide us with further details? Which post? Which version of Google Chrome? Thanks

[2020-11-13 14:23] reobin commented on #11371
Can be tested easily using these:
![Screen Shot 2020-11-13 at 09 21 12](https://user-images.githubusercontent.com/5920450/99081982-9417b780-2591-11eb-9a2c-661c7b365087.png)

Every time one of the links is clicked, the list navigation shortcut skips 1 article more.

[2020-11-13 14:30] reobin opened #11402 "bug: Very wide code blocks overflow in comment preview"
**Describe the bug**

The comment preview with a code block that is very wide overflows.

**To Reproduce**

Example code block:
[code]

1. Go on an article
2. Copy in a comment the example code block above inside a markdown code block
3. Check out the comment preview
4. Notice it overflows

**Expected behavior**

It scrolls horizontally just like it does once the comment is posted.

**Screenshots*

[2020-11-13 14:39] nickytonline opened #11403 "Keyboard navigation in notifications area results in tabbing over redudant links"
**Describe the bug**

When using keyboard navigation or a screen reader, image links in notification cards (avatars of orgs and users) can be tabbed too and are in the accessibilty tree. They are redundant links for a keyboard user/screen reader because there are already textual links for them in a notification card.

**To Reproduce**

1. Go to https://dev.to/notifications
2. Start tabbing with th

[2020-11-13 15:17] maestromac commented on #3360
@cmgorton no it didn't but thanks for checking!

[2020-11-13 15:42] michael-tharrington opened #11404 "Add Twitter and GitHub URLs in the Links Section of Settings"
**Is your feature request related to a problem? Please describe.**

As a user of a Forem without GitHub/Twitter OAuth enabled, I'm unable to add my social profiles links via the links section in `/settings/profile`.

**Describe the solution you'd like**

I'd like to have available inputs for Twitter and GitHub URLs in the Links section.

**Describe alternatives you've considered**

I originally th

[2020-11-13 15:55] rhymes commented on #11404
Adding this as it's related https://github.com/forem/forem/issues/9646

+1 on the idea of decoupling authentication needs from online presence and profile :)

[2020-11-13 15:56] #8826 closed

[2020-11-13 15:57] rhymes commented on #8759
Going ahead and closing this as https://dev.to/DevilEars has since been removed

[2020-11-13 15:57] #8759 closed

[2020-11-13 21:04] marcysutton commented on #10260
So we discussed this yesterday, which was really interesting! It sounded like enabling No Mouse Days with a command-line flag or option when you build the site locally would make it opt in and more predictable. I originally made the package to be cheeky and thought it would be impactful (and kinda funny) to disable the mouse cursor for an entire day each week. Which was admirable, but also potenti

[2020-11-14 01:31] marcysutton opened #11406 "Add Accessibility prompt to GitHub PR template"
**Is your feature request related to a problem? Please describe.**

There's a really cool [PR template](https://github.com/forem/forem/blob/master/.github/PULL_REQUEST_TEMPLATE.md) in this project, for example how it prompts contributors about documentation and tests. It would be even cooler if it had a prompt for accessibility if the PR has UI-related changes!

**Describe the solution you'd like*

[2020-11-14 23:08] gzuidhof commented on #11232
I would like to pick up this issue, but I'd like to have the proposal approved before I start on the implementation, is there something I can do?

[2020-11-15 05:54] akashdotsrivastava commented on #11060
@rhymes Thanks, I've added a PR above. Feedback welcome.

[2020-11-15 09:01] abenerd opened #11414 "Remove <social provider>_created_at field from user table"
**Is your feature request related to a problem? Please describe.**
Not a problem perse but unnecessary data. The `user` table has fields like `github_created_at` or `facebook_created_at`, those are fields that indicate when these accounts have been linked to the user, this information is also available in the `identities` table under the `created_at` field.

**Describe the solution you'd like**
Re

[2020-11-15 10:04] rhymes commented on #11414
@abenettt nice find! they could be replaced by helper methods instead of being stored, we'd potentially lose the ability to easily sort users by those fields but we're not using it AFAIK

[2020-11-15 13:04] c33s commented on #11269
@Zhao-Andy  again a "mistake"?

![image](https://user-images.githubusercontent.com/649209/99185617-56f72500-274b-11eb-8b9f-a411bbd5c44e.png)

[2020-11-15 13:26] #10111 closed

[2020-11-15 15:40] Zhao-Andy commented on #11269
Thanks for the catch, we've resolved it again. 👍

[2020-11-15 19:50] pkfrank opened #11432 "Choose a more generic default icon for the "about" navigation link"
**Is your feature request related to a problem? Please describe.**
As a Forem Admin setting up a new Forem, the current default "about" icon in the navigation sidebar is DEV.  This isn't relevant to me and I have to go replace it.

**Describe the solution you'd like**
We should use a more generic icon and have that serve as the default for new forems.

[As described in our Admin Guide](https://for

[2020-11-15 19:51] pkfrank opened #11433 "Indicate required fields on /podcasts/new"
**Is your feature request related to a problem? Please describe.**
As a user submitting a podcast for consideration, it's not clear which fields on `/podcasts/new` are required.

**Describe the solution you'd like**
Required fields are marked with an asterix symbol or similar (required) flair.

**Additional context**
Here's a live example of the page: `https://dev.to/podcasts/new`

[2020-11-15 23:08] c33s opened #11434 "[dev.to] Upload button in markdown editor does not react on waterfox classic"
**Describe the bug**

upload image button does nothing

**Screenshots**

![image](https://user-images.githubusercontent.com/649209/99199445-71f38480-279f-11eb-872b-53e7262b9848.png)

**Desktop (please complete the following information):**

- OS, version: win
- Browser, version: waterfox **classic** 2020.10

**resulted in blog post**
https://dev.to/c33s/dear-javascript-webdevelopers-please-don-t-b

[2020-11-15 23:09] c33s commented on #242
why login with email and password is important: https://dev.to/c33s/why-social-logins-are-a-bad-idea-dev-to-please-keep-your-native-login-enabled-3din

[2020-11-16 03:32] akashdotsrivastava commented on #9773
@rhymes Hi. I'd like to give this a shot if that's okay.

[2020-11-16 06:55] shadowtime2000 opened #11435 "Search Bar for Pinning Github Repo"
**Is your feature request related to a problem? Please describe.**

With people (like me) who have over 20 repos it can become hard to actually find the repos you want to pin to your profile.

**Describe the solution you'd like**

A search bar above the list so you can search for the repos you want to pin.

**Describe alternatives you've considered**

A searchable dropdown bar (I don't really know

[2020-11-16 08:33] rhymes commented on #9773
Hi @akashdotsrivastava, please go ahead! thanks!

[2020-11-16 08:54] rhymes commented on #11434
Although semi officially we support the latest versions of Edge, Firefox, Safari and Chrome only on desktop.

I hadn't heart of Waterfox before today so I installed with `brew` both Waterfox Classic and Current. This is the outcome:

- with Waterfox Classic neither v1 nor v2 editors's buttons work
- with Waterfox Current they both work, buttons included

This makes me think that Classic is built o

[2020-11-16 08:57] rhymes commented on #8904
As this seems to have been solved, I'm going to close this meta issue, we can regroup if this happens again. Thanks to everyone involved in the investigation!

[2020-11-16 08:57] #8904 closed

[2020-11-16 09:44] Link2Twenty commented on #11434
Looks like it's a known issue on their end, or at least there is an issue about it.
https://github.com/MrAlex94/Waterfox/issues/1047

[2020-11-16 09:53] Link2Twenty commented on #11401
The shared images isn't related to a dev post, or a specific browser, but actually looks like codepen was giving a 503 (Service Unavailable) for SVGs and images.

[2020-11-16 10:00] PropertyPreservation opened #11436 "something went wrong"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-11-16 10:10] rhymes commented on #11401
Ah ah thanks for noticing @Link2Twenty, I'm going to close this as it's unrelated to Forem

[2020-11-16 10:10] #11401 closed

[2020-11-16 10:10] rhymes commented on #11436
Hello @PropertyPreservation, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-11-16 10:10] #11436 closed

[2020-11-16 11:13] jonathan-s opened #11437 "More descriptive looking for work."
**Is your feature request related to a problem? Please describe.**

I want other people to know what kind of work I'm looking for so that I don't waste other people's time.

**Describe the solution you'd like**

Right now when people see a post and see my profile next to it it looks like this.
<img width="337" alt="Screenshot 2020-11-16 at 12 07 26" src="https://user-images.githubusercontent.com/2

[2020-11-16 11:57] akashdotsrivastava commented on #9773
@joelnet Can you find some time to drop a couple of exact runkit tags with preamble you have included in the article https://dev.to/joelnet/creating-a-linked-list-using-only-function-combinators-5hhk, the ones which are giving the error `Unable to load embed. Syntax error found in Preamble. See console for error.`

Asking because I have tried the example above
[code]
and it seems to render fine. A

[2020-11-16 11:59] helderburato opened #11439 "Add a "Clean Up" all reading list items"
**Describe the solution you'd like**

I see this opportunity when I take some time to read and clean up the articles were in my "Reading List" and I need to archive one-by-one.

**Describe alternatives you've considered**

I suggest adding a button to just clean up all the items.

**Additional context**

The section in talking about is the following:
![Screen Shot 2020-11-16 at 8 58 17 AM](https:/

[2020-11-16 14:30] cmgorton opened #11440 "Work through this Github Project to triage stale PRs and Issues."
https://github.com/forem/forem/projects/35

[2020-11-16 15:23] #10248 closed

[2020-11-16 16:09] nickytonline commented on #11406
I think this is great! Just pinging @forem-team to give everyone visibility on this.

[2020-11-16 16:13] reobin opened #11443 "Padding missing in podcast page comments section"
**Describe the bug**
There seems to be some padding missing to the comments section on a podcast's page

**To Reproduce**
1. Visit [a podcast's page](https://dev.to/devnews/s1-e0-season-1-trailer)
2. Look at the comments section

**Expected behavior**
Consistent spacing like on [an article's page](https://dev.to/itsmukulmishra/how-to-start-your-cs-career-45ij)

**Screenshots**
![Screen Shot 2020-1

[2020-11-16 16:38] cmgorton commented on #271
@benhalpern is this issue related at all to what the MLH fellows are working on? Working on triaging issues.

[2020-11-16 17:04] joshpuetz opened #11444 "`Sign in with Email` setting keeps flipping to `off`"
**Describe the bug**

Despite PRs committed to make sure `Sign in with Email` stays enabled on Forems (https://github.com/forem/forem/pull/11307), we are still seeing this setting get flipped to off on Dev.to.

**To Reproduce**

(Unclear: suspect it has something to do with submitting the admin config form)

**Expected behavior**

`Sign in with Email` stays enabled when any admin form is submitted

[2020-11-16 18:17] hvitis commented on #9055
+1

[2020-11-16 19:54] karfau commented on #10940
Is there any information that you could add to the mail headers to "debug" this?
I'm willing to add those headers to this issue whenever I get "the same" mail multiple times.

This is how it looks for me (german time zone):
![image](https://user-images.githubusercontent.com/135657/99300741-46c76e80-284d-11eb-9643-2183277594b0.png)
The only difference in those mails that have the same start (`"Titl

[2020-11-16 20:01] cmgorton commented on #5008
@CodeMouse92 adding it to a new Github project I have created to get more visibility on this. Thanks for the issue.

[2020-11-16 20:10] cmgorton commented on #10526
Hey @abenettt !

Thank you so much for this issue! Since this appears to be a duplicate of the issues Rhymes mentioned #6369 and #1445, I am going to go ahead and close this issue. Thank you again for being a part of the Forem community! We couldn't do what we do without you!

If you feel like this is actually a separate issue feel free to open an issue again.

[2020-11-16 20:10] #10526 closed

[2020-11-16 20:18] cmgorton commented on #338
@nickytonline where are we at with this issue? Should I add it to the stale issues/prs project?

[2020-11-16 20:51] nickytonline commented on #338
This issue can be closed. We got deployments working a while back. This issue must have slipped through the cracks.

[2020-11-16 20:51] #338 closed

[2020-11-16 22:14] michael-tharrington opened #11449 "Give Forem Admin Ability to Customize Emojis in Dropdown Display URLs"
**Is your feature request related to a problem? Please describe.**

As a Forem Admin, I'm unable to change the emojis that appear in the display URLs for key pages of the site  — i.e. these emojis: "👨‍💻👩‍💻 " that are visible beside the page name of the URL for many DEV pages. (See image under "Additional Context" for more clarification.)

**Describe the solution you'd like**

As a Forem Admin, I'd

[2020-11-16 22:36] vaidehijoshi commented on #11449
This is something that we should definitely remove from all the hard-coded instances that @michael-tharrington linked to; it is far too DEV-specific.

I see two paths forward here:
1) Remove the hardcoded emojis entirely (which removes it from DEV, too), and allow the Forem creator to add an emoji into the SiteConfig's community name like this:

<img width="1182" alt="Screen Shot 2020-11-16 at 2 3

[2020-11-16 22:44] CodeMouse92 commented on #5008
Ever thanks, @cmgorton!

[2020-11-17 00:55] manasmithamn opened #11452 "Allow Webp Images in Posts"
**webp images are not allowed in Dev.to posts. Webp takes less bandwidth & time to load, best it supports animation too**

** While uploading images, allow to upload webp images also.**

**Describe alternatives you've considered**

**Additional context**

[2020-11-17 04:26] pkfrank commented on #11432
This has been removed from the "defaults" so is no longer relevant.  Closing!

[2020-11-17 04:26] #11432 closed

[2020-11-17 09:47] rhymes commented on #11449
@vaidehijoshi

I'm weary about Option 2 as well, `SiteConfig` currently contains 100 configuration values and it's only going to increase:

[code]

That said, what prevents a person to write chars other than emojis `community_emoji`? Could that be confusing?

[2020-11-17 09:53] rhymes commented on #11452
Hi @manasmithamn, I'm going to close this as a duplicate of https://github.com/forem/forem/issues/9118 which contains a discussion and more info. Thanks for the reminder!

[2020-11-17 09:53] #11452 closed

[2020-11-17 13:29] mstruve commented on #11352
Hey @abenettt! Thanks for the issue! I am actually going to close this since the idea is being addressed  #11285 and we want to try and keep all the doc discussion in one place. Thanks for being a great part of the Forem community!

[2020-11-17 13:29] #11352 closed

[2020-11-17 13:37] mstruve commented on #11285
One example of a project that has separated their docs and code is VSCode
Code: https://github.com/Microsoft/vscode
Docs: https://github.com/microsoft/vscode-docs

Another plus to separating out the docs is that I think it would save developers a bit of time since we could hand off some doc change reviews in the doc repo to someone like @cmgorton or even @michael-tharrington, people who are closer

[2020-11-17 15:22] cmgorton commented on #11285
Yep! I would be happy to help here. :)

[2020-11-17 17:08] pkfrank commented on #11205
Additional replication paths:
- This is impacting _brand new Forems_ upon confirming email for user `#1`
- Another way to reproduce is after a "redirect," IE:
    - Set up campaign banner that links to `/staff/article-abc`
    - Move article from `/staff` (individual) to `/org` (organization)
    - _Do not_ update the link in the campaign banner
    - Click link in campaign banner will "redirect"

[2020-11-17 17:17] pkfrank opened #11455 "Allow canonical "welcome" thread to be authored by any admin (or mascot)"
**Is your feature request related to a problem? Please describe.**
As a Forem Admin, I'd like more flexibility in setting up the canonical "Welcome" thread (that users get redirected to via `/welcome`).  Currently, that thread must be authored by the "Staff User" set in `Admin > Config > Community Content`.

**Describe the solution you'd like**
I'd like the following user "types" to be eligible au

[2020-11-17 17:36] mstruve commented on #354
From a backend perspective, this is very straight forward and we can implement it with an endpoint similar to tags. I do not have the depth to know the "correct way" here on the frontend. Let me throw this on my list, I might be able to bang out an endpoint pretty quickly for someone on the frontend to use.

@nickytonline I know you commented on this in the past. Are your comments still valid or w

[2020-11-17 18:13] nickytonline commented on #354
I would stick with hat I mentioned in the past which is probably going with a 3rd party open source component called [Downshift](https://github.com/downshift-js/downshift) as its WAI-ARIA compliant. Also, our  autocomplete component would be loaded dynamically, so it wouldn't add to the initial page load rendering time.

[2020-11-17 18:39] vaidehijoshi commented on #11455
_Cross-posting from [forem.team](https://forem.team/vaidehijoshi/comment/15c) to here to maintain conversational parity:_

Stepping back for a moment, do we know if other Forem creators use the welcome thread currently? And if they do, how they use it?

I've always felt that the daily threads (like the welcome thread) to be DEV-centric, and I wonder what exactly the problem is that we are solving

[2020-11-17 18:53] vaidehijoshi opened #11456 "Remove `collective_noun` + `collective_noun_disabled` and use `community_name` instead"
**Is your feature request related to a problem? Please describe.**

After https://github.com/forem/forem/pull/11107 was merged, I [pointed out](https://github.com/forem/forem/pull/11107#issuecomment-717406783) that we probably don't need to add `collective_noun` and `collective_noun_disabled` to the `SiteConfig`, which is _already_ pretty overloaded.

**Describe the solution you'd like**

Instead,

[2020-11-17 19:11] nickytonline commented on #11371
I think this might be a bigger issue with InstantClick and Preact components not unmounting when InstantClick does its thing.

[2020-11-17 19:32] reobin commented on #11371
That's my take on it as well @nickytonline

There's some investigation to do with instant clicks and the whole "replacing the body" part.

There are some notes on how React updates components [here](https://reactjs.org/docs/implementation-notes.html#updating-composite-components) if you scroll down a little. Basically, they unmount the component manually before calling `replaceChild`.

Snippet I'm

[2020-11-17 20:04] nickytonline commented on #11371
I know how to fix it @reobin. I will create an issue and put a PR up for it. We need to explicitly call `unmountComponentAtNode` in an `InstantClick.on('change', () => {})` event, like this. This is something that normally we wouldn't have to do, but because we use InstantClick, it's necessary. It also explains why I saw components repeated in the Preact dev tools.

[code]

[2020-11-17 20:11] nickytonline opened #11458 "Preact Components not Unmounting due to InstantClick page lifecycle events."
**Describe the bug**

I know how to fix it @reobin. I will create an issue and put a PR up for it. We need to explicitly call `unmountComponentAtNode` in an `InstantClick.on('change', () => {})` event. This is something that normally we wouldn't have to do, but because we use InstantClick, it's necessary. It also explains why I saw components repeated in the Preact dev tools.

I need to do it for

[2020-11-17 20:15] vaidehijoshi commented on #11449
@rhymes Good point! I updated the PR to include a validation around that field such that it _only_ allows for emoji characters. Thanks for the reminder 👍

[2020-11-17 20:46] mstruve commented on #11456
Seems like a nice little cleanup task. I'm thinking difficulty easy on this one. If you disagree feel free to update the label!

[2020-11-17 21:08] fdoxyz opened #11461 "Add more test coverage to buildArticleHTML.js"
**Is your feature request related to a problem? Please describe.**

`buildArticleHTML.js` is a utility function that's pretty large and complex at the moment. We use it to dynamically build article nodes that will be then added to the Feed. This is used after the infinite scroll on either the tag or main feed (and I believe it's also used in the search area) after an AJAX request fetched Articles

[2020-11-17 21:14] pkfrank opened #11462 "Broken images with {% podcast %} liquid tag"
**Describe the bug**
When using the `{% podcast %}` liquid tag, there are some broken images.

**To Reproduce**
On a non-DEV Forem, publish a post using the `{% podcast %}` liquid tag, referencing a podcast episode on the Forem.

**Expected behavior**

Relevant images are loaded correctly.

**Screenshots**

![broken images example](https://p241.p3.n0.cdn.getcloudapp.com/items/geuq6DjA/Image%202020

[2020-11-17 22:02] #11449 closed

[2020-11-17 22:04] mstruve commented on #11205
Hey @gladyscodes, are you still planning on completing this? It has become a little bit higher priority and we would love for you to help us with it but if you don't have the time then we completely understand and will give it to someone on our internal team. Let us know!!! Thanks!

[2020-11-17 23:35] joelnet commented on #9773
I created a gist here so you can copy the raw https://gist.github.com/joelnet/55aede139467d110e276d0ab71e26776

[2020-11-17 23:58] gladyscodes commented on #11205
Hi @mstruve I was already working on it but if I don't have enough time to complete it, due to the urgency please go ahead and assign it to your internal team.

[2020-11-18 00:39] mstruve commented on #11205
@gladyscodes do you have a timeline on when you think you will be done? If you have a PR ready to go we would love to see it. If not, then I think it would be best to turn it over to the internal team. Let me know!!!

[2020-11-18 01:08] marcysutton commented on #10114
I can also reproduce this in Chrome 86 on a new Mac (and very unlikely to be cached). It happens when I open and close the DevTools, and when I click on the "Add up to 4 tags" or "Write your post content here" fields to move focus from the "New post title here" field.

[2020-11-18 01:52] marcysutton commented on #1154
I can take this one on, since I was about to file an issue for it!

[2020-11-18 02:33] nickytonline commented on #1154
Sounds great @marcysutton. Assigning this one to you.

[2020-11-18 02:47] akashdotsrivastava commented on #9773
@joelnet Thank you 👍

[2020-11-18 04:25] akashdotsrivastava commented on #9773
@rhymes Thank you for assigning me this. I added a PR for the fix.

[2020-11-18 06:38] VTThanhHung opened #11467 "Tài khoản không thể đăng nhập để viết bài"
Tài khoản của tôi không thể đăng nhập để viết bài hay chia sẻ bất cứ điều gì trên https://dev.to/
Làm thế nào để sửa lỗi và khắc phục được tình trạng này! TKS admin

[2020-11-18 08:09] nilsmehlhorn opened #11469 "Listing edit button doesn't work"
**Describe the bug**

The button for editing listings from the dashboard (`/listings/dashboard`) doesn't work. I'd say that's beacuse its a button with an href attribute.

**To Reproduce**

1. Create listing
2. Go to `/listings/dashboard`
3. Click 'Edit' on listing
4. Nothing happens

**Expected behavior**

Clicking the button should redirect to an edit form for the listing (`/listings/{listingId}

[2020-11-18 08:45] Link2Twenty commented on #11467
**Translation:**

My account cannot login to post or share anything on https://dev.to/
How can I fix this problem? TKS admin

[2020-11-18 08:58] sjarva opened #11470 "Checking for prefers-reduced-motion setting with images that accept GIFs (as GIFs usually contain motion)"
**Is your feature request related to a problem? Please describe.**

I am a user with a vestibular order, and seeing animation and motion on the web gives me nausea. I appreciate that Forem already reduces animations and transitions elsewhere in the app (in `reset.scss`), but this doesn't affect any motion that that occurs in GIFs.
Recently I came across a user, who had particularly fast GIF in the

[2020-11-18 10:01] dhriti-misra opened #11471 "Can not post on dev.to"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-11-18 13:24] fdoxyz commented on #11471
Hello @dhriti-misra , thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-11-18 13:24] #11471 closed

[2020-11-18 13:25] rhymes commented on #11467
Hello @VTThanhHung,  thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

@Link2Twenty, thanks!

[2020-11-18 13:25] #11467 closed

[2020-11-18 14:46] rhymes commented on #8923
As we review our integration with external services to be less DEV specific and more mindful of the diverse array of users in the Forem ecosystem, I went ahead and removed the `ready for dev` label in the meantime

[2020-11-18 14:48] rhymes commented on #9076
Hi @kellyjandrews, as this conversation has been dormant for a while and as we review our integration with external services to be less DEV specific and more mindful of the diverse array of users in the Forem ecosystem, I went ahead and removed the `ready for dev` label in the meantime

[2020-11-18 14:49] rhymes commented on #9487
As we review our integration with external services, I went ahead and removed the `ready for dev` label in the meantime

[2020-11-18 14:50] rhymes commented on #9732
As we review our integration with external services to be less DEV specific and more mindful of the diverse array of users in the Forem ecosystem, I went ahead and removed the `ready for dev` label in the meantime

[2020-11-18 14:52] rhymes commented on #10271
Hi @lightlace, as the conversation around this has been dormant lately and as we review our integration with external services to be less DEV specific and more mindful of the diverse array of users in the Forem ecosystem, I went ahead and removed the `ready for dev` label in the meantime

[2020-11-18 14:56] kellyjandrews commented on #9076
@rhymes sorry for never getting to this - I could not get the local instance running.

[2020-11-18 15:41] rhymes commented on #9076
@kellyjandrews no worries, we're working on improvements to our containerized setup to help onboarding

[2020-11-18 15:59] cmgorton commented on #382
Hey @nickytonline is this something we have still in the pipeline? Wondering if I should close this issue or keep it open :)

[2020-11-18 16:08] cmgorton commented on #394
@nickytonline @marcysutton is this something being address now? Should we close this issue and create new ones based on what Marcy finds on the site? From the comments it seems there may be more considerations than just the original issue.

[2020-11-18 16:29] cmgorton commented on #413
Since this issue has been brought up several times I am going to add it to our feature backlog project to get more visibility on it.

[2020-11-18 16:32] maestromac opened #11477 "Replace PodcastEpisodes's social preview with HtmlCssToImage"
**Is your feature request related to a problem? Please describe.**
This area of the code base, `podcast_episodes/_meta.html.erb`, is still using Cloudinary instead of HCTI to render the social preview images.

**Describe the solution you'd like**

Replace it with HCTI using our `SocialImageHelper`

**Describe alternatives you've considered**
nope

**Additional context**
n/a

[2020-11-18 16:37] cmgorton commented on #11469
Hey @nilsmehlhorn thank you for bringing up this issue! Since this does appear to be a known issue #10937 , I am going to close this one here. Please feel free to follow issue #10937 and leave any additional comments there. Thanks!

[2020-11-18 16:37] #11469 closed

[2020-11-18 16:40] #10871 closed

[2020-11-18 16:43] cmgorton commented on #10937
Hey @Danondso
Thank you so much for jumping on this issue! Since this issue has not been active for awhile I wanted to see if this was something you still wanted to work on.
No worries if you don't have the time right now! We can unassign you from this issue so that we can get more visibility on it from others in the community.

[2020-11-18 16:52] #11406 closed

[2020-11-18 17:00] nickytonline commented on #382
It's still open even though it's an issue. We're looking in to getting this up and running.

[2020-11-18 17:06] Danondso commented on #10937
Hey @cmgorton! Go ahead and un-assign me, working on this totally got away from me.

[2020-11-18 17:09] cmgorton commented on #10937
No problem! Thanks for your willingness. If you ever want to hop on another issue/pr just let us know. 😄

[2020-11-18 17:09] cmgorton commented on #10937
No problem! Thanks for your willingness. If you ever want to hop on another issue/pr just let us know. 😄

[2020-11-18 20:06] vaidehijoshi commented on #11285
We had a separate "docs engine" at my previous role at Skylight, and in some ways, I think it worked well and in other ways, it was a pain.

In my experience, the pros of this were:
- updating the docs was a separate task and could be done by anyone
- our codebase had a bundled version of the most recent version of the docs gem
- hosting relevant gifs/screenshots/feature content did not clutter up

[2020-11-18 20:39] mstruve commented on #1620
Given this is a very DEV-centric feature and we have other options for embedding code I would propose we forgo this and the added complexity it brings to our base codebase. I think in the future adding a feature like this in a plugin would be great but for now I propose we close this issue.

[2020-11-18 20:42] cmgorton commented on #1620
I agree with Molly. I am going to go a head and close this issue.

[2020-11-18 20:42] #1620 closed

[2020-11-18 20:46] cmgorton commented on #1396
This looks like the type of feature that would be both useful on DEV and Forem in general. I am going to add this to the feature backlog project board.

[2020-11-18 20:59] cmgorton commented on #575
Because this seems to be stale and we are now talking about markdown configuration in general in #1492, I am going to go a head and close this issue. If you have more comments on line breaks and markdown please leave them in issue #1492. I will add that issue to a project board so it gets more visibility. Thanks.

[2020-11-18 20:59] #575 closed

[2020-11-18 21:08] cmgorton commented on #640
@Zhao-Andy do you still feel like this is something we should implement? This issue seems to have gone stale but I can add it to the feature backlog project board to get more visibility on it. If not we should close this issue.

[2020-11-18 21:10] cmgorton commented on #589
Thanks for bringing this up but this issue has appeared to become stale. I am going to go a head and close this issue.
Please feel free to open up it up again in the future if you believe it would still be a useful feature.

[2020-11-18 21:10] #589 closed

[2020-11-18 21:19] cmgorton commented on #709
Hey this issue has had a good discussion going but seems to be stale now.
Since we have a search feature in our reading list implemented now I am not sure this date/author filtering is needed. I am going to go a head and close this issue. If you feel like this would still be a good feature please feel free to open an issue for this request again. Thanks.

[2020-11-18 21:19] #709 closed

[2020-11-18 21:35] cmgorton commented on #736
Thanks for opening this issue Jonathan. Because this issue has become stale I am going to go a head and close it for now. @benhalpern if you think it is still a feature we should implement feel free to open it up again. Thanks.

[2020-11-18 21:35] #736 closed

[2020-11-18 21:39] cmgorton commented on #1774
Hey! Thanks for opening up this issue. Since this issue is similar to #735 and has become stale I am going to go a head and close it for now.

[2020-11-18 21:39] #1774 closed

[2020-11-18 21:50] cmgorton commented on #739
Hey Jonathan, thank you for your suggestion but since this is currently stale and given this is a very DEV-centric feature I would propose we forgo this and the added complexity it brings to our base codebase.
We have started to think more in terms of the overall needs of Forem. I am going to go a head and close this issue. If you feel like this could still be useful feel free to open an issue aga

[2020-11-18 21:50] #739 closed

[2020-11-18 21:55] cmgorton commented on #763
This issue has gone stale and appears to be fixed.
If that is not the case @outfrost, please feel free to open up a bug report again!

Thanks!

[2020-11-18 21:55] #763 closed

[2020-11-18 22:00] cmgorton commented on #11470
Good suggestion and similar to #946. Will add this to our feature request project board for more visibility. Thanks.

[2020-11-18 22:40] mstruve commented on #3363
This is a user-facing feature so I am going to remove it from the EOY Project board since we really want to take this time to focus on internal tooling and/or code improvements and enhancements.

[2020-11-18 22:46] mstruve commented on #354
Since we now have a backend endpoint for running username searches https://github.com/forem/forem/pull/11479 I am going to approve this as an EOY Priority and mark it for the frontend and our internal team.

[2020-11-18 23:28] michael-tharrington opened #11482 "Update Copy for Orgs Call-to-action Box (too DEV-specific)"
**Is your feature request related to a problem? Please describe.**

Yes, as a member of a Forem community that's not DEV, the copy explaining the call-to-action box available to orgs from `/settings/organization` feels a bit out of place and the link to the example on DEV simply doesn't work.

**Describe the solution you'd like**

I think we can remove the linked example of the call-to-action box.

[2020-11-18 23:38] mstruve commented on #11482
This seems like a relatively straightforward bug and not crazy urgent. I think a contributor might jump at the chance to work on this so I am going to remove it from our EOY Priority board and open it up to the community.

[2020-11-18 23:45] michael-tharrington opened #11483 "Update Copy for Reading List"
**Is your feature request related to a problem? Please describe.**

As a user, if I visit my reading list (/readinglist) and it is empty, I'm presented with confusing copy that doesn't clearly explain how to add items to my reading list.

**Describe the solution you'd like**

I'd like to switch out the sentence "Hit the Save button to start your Collection." with "Click the bookmark reaction when

[2020-11-18 23:48] pkfrank opened #11484 "Change style of "Toggle" in /admin/config"
**Is your feature request related to a problem? Please describe.**
As a Forem admin, I am confused by what `Toggle` refers to.  I may be afraid to click the button in case it breaks something.

**Describe the solution you'd like**
A more typical UI pattern / symbol that indicates the actual functionality.

Might need a bit of Product love to shape this issue before it's ready to work on.

**Additi

[2020-11-18 23:51] pkfrank opened #11486 "Icon picker in /admin/navigation_links"
**Is your feature request related to a problem? Please describe.**
As a Forem Admin adjusting icon links in `/admin/navigation_links`, I'm currently required to paste in the Icon SVG.  This is pretty painful.

**Describe the solution you'd like**
An "icon picker" that allows me to choose my icon of choice in a more streamlined manner.

**Additional context**
Forem recommends [Twemoji](https://twem

[2020-11-18 23:54] pkfrank opened #11487 "Auto-create tags (if necessary) when added to sidebar"
**Is your feature request related to a problem? Please describe.**
As a Forem Admin setting up my forem, I may set my sidebar tags via `Admin > Config > Tags`.  They will be added to the homepage sidebar, but if that tag doesn't exist yet, the link will 404.

**Describe the solution you'd like**
If a tag is added to the homepage sidebar via `Admin > Config > Tags`, it should be auto-created if it

[2020-11-18 23:57] fdoxyz commented on #11232
Hello @gzuidhof , thank you for the proposal and also volunteering to work on it.

At the moment we're prioritizing non-DEV related liquid tags to better support the broader Forem ecosystem. That's why we haven't approved or moved forward with this one and other liquid tag proposals.

I'm confident we'll review the liquid tag feature requests in the future but we can't give a timeline for it right

[2020-11-19 00:00] vaidehijoshi opened #11488 "Navbar UI issues on email confirmation page"
**Describe the bug**

When going through the email/password signup flow, you have to confirm your email. The email is sent to you (or you can open the email by click through to the link via your development log.

When clicking through my "confirm your email" link, I am taken to the `/users/confirmation` page, and I see some wonky UI:
<img width="1487" alt="Screen_Shot_2020-11-18_at_3_32_53_PM" src

[2020-11-19 00:06] benhalpern commented on #11488
This is the same bug as here: https://github.com/forem/forem/pull/11476

Thanks for the detailed note. This is definitely worth getting to the bottom of.

It relates to how service workers do not cleanly deal with redirecting sometimes. But the reason this is happening here isn't immediately obvious to me because it seems like we skip `/ahoy/` URLs in the service workers. 🤔

[2020-11-19 00:12] benhalpern opened #11489 "After the comment menu is triggered, the main top-right menu stops working."
**Describe the bug**

Very odd, but if you trigger the menu dropdown to work, the main menu will all of a sudden _not_ work.
**To Reproduce**

- Go to page with comments
- Open a three-dots menu
- Go to top-right of page and hover... The menu won't work until you refresh.
**Expected behavior**

[2020-11-19 00:14] mstruve opened #11490 "PostCSS Warnings and Errors Flooding logs Causing Travis Build Failures"
### Problem
Recently we have had [Travis builds fail](https://travis-ci.com/github/forem/forem/jobs/443192844) bc the log length exceeds the max allowed. This is a big problem bc despite the job showing as failed, the deploy still goes out successfully which sends the wrong message to the developer tracking their deploy.

Here is an example of some of the logs:
[code]

After some Googling it [seem

[2020-11-19 03:28] gladyscodes commented on #11205
@mstruve Hi, yes it would be better to turn it over to the internal team because I haven't finished, I'm sorry i'm having trouble with my computer memory.

[2020-11-19 03:40] akashdotsrivastava commented on #11433
@rhymes Hi. I'd like to give this a shot if that's okay.

[2020-11-19 08:11] gzuidhof commented on #11232
Makes sense, thank you for taking the time to reply! I'll keep an eye on this issue for updates :)

[2020-11-19 11:26] rhymes opened #11492 "Add mascot image to user alert/rate limit modal"
**Is your feature request related to a problem? Please describe.**

This is the byproduct of the conversation in https://github.com/forem/forem/pull/11390

TLDR;

- In https://github.com/forem/forem/pull/11344 we added the mascot to the user alert/ rate limit modal that is rendered in the assets
- In https://github.com/forem/forem/pull/11388 we removed it because it wasn't functioning correctly
-

[2020-11-19 11:27] rhymes commented on #11205
Thank you @gladyscodes and good luck with your computer!

[2020-11-19 11:31] rhymes commented on #11433
@akashdotsrivastava yes, thank you!

[2020-11-19 13:42] javitruhlar opened #11493 "Can't change Github email on profile"
**Describe the bug**
There is not setting for changing a profile's Github email. Once it's set, it can't be changed

**Expected behavior**
You should be able to update your Github email

**Desktop (please complete the following information):**

- OS, version: Linux Mint 19.3
- Browser, version: 78.0.1 (64-bit)

[2020-11-19 13:48] rhymes commented on #11493
@javitruhlar the GitHub email is linked to the primary GitHub email set in https://github.com/settings/emails - as it's used to verify your identity, I don't believe you should be able to "change it" on our side. We only use it for authentication purposes, for communication we use the `email` field. By changing that, you can change your DEV email

[2020-11-19 13:56] javitruhlar opened #11494 "Keep getting notifications on previous email address"
**Describe the bug**
If you change the email address in your profile, you keep getting email notifications on your previous address even after you have confirmed the new one

**To Reproduce**

1. Go to 'Settings > Profile'
2. Under 'User' section, change the email
3. Open email sent to new address and click 'confirm my account'
4. See error -> Keep getting email notifications on previous address

[2020-11-19 14:01] javitruhlar commented on #11493
Yes, that was useful. I was able to update it that way.
Thanks!

[2020-11-19 14:01] #11493 closed

[2020-11-19 14:06] rhymes commented on #11494
Thanks @javitruhlar for notifying us of this issue. If I read this right, the issue is not that inherently that the system sends you notifications to the old address, is that the new one cannot be confirmed, right?

[2020-11-19 14:22] javitruhlar commented on #11494
I think the new address was confirmed without a problem. After confirmation I was able to login with new address but kept getting notifications on the old one.
To get notifications on new address I went to notification settings and saved them

[2020-11-19 14:43] Fortune-dot opened #11496 "cant create post"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-11-19 15:01] cmgorton commented on #11496
Hey @Fortune-dot this issue is lacking a lot of context. I am going to close this issue since it looks like maybe it was created before you were finished? If that is not the case please feel free to create a new issue with more information. Thanks.

[2020-11-19 15:01] #11496 closed

[2020-11-19 15:13] pkfrank opened #11497 "Variants are sometimes missing from /admin/html_variants"
**Describe the bug**
`/admin/html_variants` provides several "states" with which the Admin can filter results.  For instance, `?state=campaign`.  It looks like several HTML variants are missing from this view.

**To Reproduce**
1. Set up a bunch of HTML variants
2. Click around the different "filters" (states)
3. Observe that some HTML variants appear to be missing

**Expected behavior**
All HTML

[2020-11-19 15:55] cmgorton commented on #10433
This appears to be fixed so I am going to close this issue. If you believe it is still a bug let me know and we can open it back up. Thanks for creating this bug report.

[2020-11-19 15:55] #10433 closed

[2020-11-19 16:01] cmgorton commented on #10496
Hey @lucieva I think this issue is resolved with the context Rhymes mentioned above. The stats we show are found in your dashboard. If that isn't what you were hoping for I think we can leave more context in issue #6608. I am going to go a head and close this issue. Thanks for writing this feature request. Please feel free to leave any comments/requests on issue #6608.

[2020-11-19 16:01] #10496 closed

[2020-11-19 16:18] cmgorton commented on #6087
Hey all, there has been some good discussion here but given this is a very DEV-centric feature and we are trying to think more in terms of Forem in general, I propose we forgo this and the added clutter it will add to the profile link section.
I love CodePen. As a potential solution I add my CodePen profile link to my "currently hacking on" section.  For now, I propose we close this issue.

[2020-11-19 16:18] #6087 closed

[2020-11-19 16:22] cmgorton commented on #6118
Hey! Since we are trying to think more in terms of Forem in general, I propose we forgo this and the added clutter it will add to the profile link section. I think in the future a proposal like #6163 could help with the need for more link options.
For now, I propose we close this issue.

[2020-11-19 16:22] #6118 closed

[2020-11-19 16:23] cmgorton commented on #6117
Hey! Since we are trying to think more in terms of Forem in general, I propose we forgo this and the added clutter it will add to the profile link section. I think in the future a proposal like #6163 could help with the need for more link options.
For now, I propose we close this issue.

[2020-11-19 16:23] #6117 closed

[2020-11-19 16:23] cmgorton commented on #6163
Adding this to our feature backlog project board to get more visibility on it. Thanks for opening this issue.

[2020-11-19 16:55] cmgorton commented on #2436
@omenking have you had anyone mention this error again since originally posting this? If so I will keep this open. If not I think we can close this issue. :)

[2020-11-19 16:59] joshpuetz opened #11500 "Use rate limit modal to alert users of rate limit exceeded warnings"
**Describe the solution you'd like**

A generic modal for rate limit warnings was added in https://github.com/forem/forem/pull/11102. It would be idea if all places in Forem that warned a user about rate limits used that model.

Start with `app/services/rate_limit_checker.rb` and trace back paths from there. Some examples:

- creating too many reactions too quickly
- updating an article or user to

[2020-11-19 16:59] cmgorton commented on #2547
Hey all, this issue has gone stale. Since there has been no additional communication on this issue I am going to go a head and close it.
If you think this will still be useful please feel free to reopen this feature request.

[2020-11-19 16:59] #2547 closed

[2020-11-19 18:25] fdoxyz commented on #10379
iOS 14.2 was just recently released and it includes the fix we needed

[2020-11-19 18:25] #10379 closed

[2020-11-19 19:31] marcysutton opened #11504 "Brand color picker should suggest accessible combinations"
## How to ensure user-configurable colors in Forem meet contrast ratio requirements

Text, links, and other interactive controls (like icon buttons) need to meet the minimum color contrast requirements laid out in [WCAG 1.4.3](https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum.html): 4.5:1 for regular text and 3:1 for bold or large text (18pt/24px). When users can pick a brand color, For

[2020-11-19 19:39] cmgorton commented on #1072
Hey all, this issue has gone stale and as we are starting to think more in terms of "Forem" in general and less of just DEV I agree with Andrew and Abraham. I propose we close this issue for now and use the proposed solution of simply adding text at the bottom/top of a post to specify a license.

[2020-11-19 19:39] #1072 closed

[2020-11-19 20:30] cmgorton commented on #2152
Thanks for bring this up. I think this issue will now be encompassed in the broader accessibility issue Marcy has opened #11504. If we have any more comments or suggestions we can leave them in that issue. Since that is the case I am going to close this issue.

[2020-11-19 20:30] #2152 closed

[2020-11-19 20:58] cmgorton commented on #8073
Has this issue been fixed @ludwiczakpawel ? I just realized today I don't see comments on all the posts anymore. Wondering if this issue can be closed?

[2020-11-19 21:25] Lathryx opened #11508 "(Literally) Large Formatting Bug in Comments"
### Describe the bug
So this was in the comments of [this post](https://dev.to/ljcdev/easy-hamburger-menu-with-js-2do0). I had hit submit on the comment and shortly after had hit "Keep Writing" before the button went away (I was in preview mode). As a result, I got what is shown in screenshot # 1. This issue seems to go away after refreshing the page.

### To Reproduce

1. Go to the comment sectio

[2020-11-20 00:13] mrtnrst opened #11512 "Inital Docker container setup failing"
**Describe the bug**
When running the container setup command as described in the [docs](https://docs.forem.com/installation/containers/#installing-forem-using-containers), `bin/container-setup`, the yaml is failing to validate for Docker and errors causing an exit of the command.

**To Reproduce**
1. In your terminal run the following command:
[code]

**Expected behavior**
Docker containers are f

[2020-11-20 01:44] mrtnrst commented on #11512
Following up here, I believe this is a regression from PR #11468. Checking out the branch before that commit I am able to successfully run the command and get setup.

I can open a PR to get this fixed as I believe this line (as well as the `container-compose.yml`):
https://github.com/forem/forem/blob/a07070e8bc6685cc0c01ed810d235a5b5e5a9a13/docker-compose.yml#L4-L5

would have to be updated to:
[c

[2020-11-20 01:48] mstruve commented on #11490
This has escalated now as every build is starting to show up as failed despite succeeding.

<img width="579" alt="Screen Shot 2020-11-19 at 8 41 17 PM" src="https://user-images.githubusercontent.com/1813380/99747422-1aeff700-2aa0-11eb-986e-f807ed07ff6d.png">

[2020-11-20 02:04] nickytonline commented on #11490
I'm curious why it's gotten progressively worse though that it's started to cause false fails. Let's sync up in the morning.

[2020-11-20 02:31] omenking commented on #2436
This is no longer valid

[2020-11-20 02:31] #2436 closed

[2020-11-20 08:53] ludwiczakpawel commented on #8073
@cmgorton No, I don't think it has been fixed.

The reason why you don't see comments in the feed is because we might have adjusted criteria for when comments show in the feed (min score required for that) - but that's just my guess. Another option is we have less high-score comments right now. And another option - something is broken :d  (cc @joshpuetz may know something?)

If you go to "Week / M

[2020-11-20 09:33] nishantwrp opened #11515 "Contributing to api docs"
Hi,
I just wanted to know that how can I contribute to API docs present at https://docs.dev.to/api/.

[2020-11-20 09:49] ludwiczakpawel commented on #5932
https://github.com/forem/forem/pull/9421#issuecomment-731064580

[2020-11-20 09:49] #5932 closed

[2020-11-20 11:11] nishantwrp opened #11516 "Issue in POST /articles api endpoint: tags are not returned in the initial creation response"
**Describe the bug**

I'm using API to create an article. I'm sending the tags as a list of strings in the request payload. But, can't find the tags in the response or in the articles on dev.to.

**To Reproduce**

1. Send an API request to /articles for creating a article.
For eg.
[code]

2. This the response received.

[code]

**Expected behavior**

It can be seen that the tags property is empty

[2020-11-20 11:21] nishantwrp opened #11517 "Inconsistency in API"
In `https://dev.to/api/articles` endpoint `tag_list` is an array of tags.
In `https://dev.to/api/articles/{id}` endpoint `tag_list` is a string where the tags are concatenated by a comma. There is also a `tags` property which is an array of tags.

It would be better if the keys are consistent with the type of values.

[2020-11-20 11:37] rhymes commented on #11490
I'm going to take a look into it, self assigned temporarily

[2020-11-20 11:43] nickytonline commented on #11490
I did some tests yesterday evening and outputting the logs to a file then grepping seems to work. I haven't found a way to silence the logs though for those warnings. It also looks like the postcss configuration file is getting picked up when postcss runs.

[2020-11-20 11:48] rhymes commented on #11490
@nickytonline would something like this work? https://stackoverflow.com/a/49629759/4186181

[2020-11-20 11:49] rhymes commented on #11490
see also https://github.com/rails/webpacker/blob/master/docs/css.md#post-processing-css

[2020-11-20 11:59] rhymes commented on #11490
Submitted a PR with essentially the following change:

[code]

mutuated from the default `postcss.config.js` in https://github.com/rails/webpacker/blob/master/lib/install/config/postcss.config.js

Not sure it's going to work, i'll wait for the build https://github.com/forem/forem/pull/11518

[2020-11-20 12:13] YJDoc2 commented on #11512
@mrtnrst's solution seems to work, as it successfully starts building, but my build seems to be stuck at
`Step 40/55 : RUN chown "${APP_USER}":"${APP_USER}" -R "${APP_HOME}"` in `building rails service`
I kept this running for about 20 minutes, is it supposed to take that long? Max time for other steps on my machine was about 5-10 minutes maximum.
Platform : Linux Ubuntu 20.10
Using : docker-compo

[2020-11-20 12:34] rhymes commented on #11515
Hi @nishantwrp, I think currently the API is fully documented but if you find something useful or want to improve the existing documentation, we do have a guide here which explains how to contribute to the documentation: https://docs.dev.to/contributing/api/

Let us know if ou have further questions

[2020-11-20 12:38] rhymes commented on #11516
@nishantwrp this sounds like a legit bug. Can you verify if the tags have actually been added to the article? What if you fetch the article again, do they appear there?

[2020-11-20 12:41] rhymes commented on #11517
Thanks @nishantwrp - this is a known inconsistency and it will remain as such for the time being. Changing it will break existing clients. We'll definitely fix it whenever we start designing v1 though :)

See https://github.com/forem/forem/issues/4637 and https://github.com/forem/forem/issues/8183

I'm going ahead and close this :)

[2020-11-20 12:41] #11517 closed

[2020-11-20 12:43] nishantwrp commented on #11516
I've done that. They do not.

[2020-11-20 12:54] rhymes commented on #11516
@nishantwrp ok so the issue isn't serialization but it's upon creation, that's a clue. Thanks for the report!

[2020-11-20 13:12] YJDoc2 commented on #11512
**Update :**
The older version , before the PR #11468  seems to build fine , in decent time.
Some Things I noticed :
* Ruby Sass is end-of-life warning
![ruby sass Eend of life message](https://user-images.githubusercontent.com/54112038/99802476-c4e18900-2b5d-11eb-88d2-2f77f9cc4a39.png)
* A LOT of warning css messages :
![css warning messages](https://user-images.githubusercontent.com/54112038/998

[2020-11-20 13:18] rhymes commented on #11512
Hi @YJDoc2, Rails gets stuck for me too. Thanks for the clues!

The CSS warning messages are likely going to be adressed by https://github.com/forem/forem/pull/11518

[2020-11-20 13:45] rhymes commented on #11490
Reopening as it didn't hide the warnings https://travis-ci.com/github/forem/forem/jobs/444329926

[2020-11-20 13:55] YJDoc2 commented on #11512
Also, I'm not sure if it is done for some production reason , but the sleep time for containers seed and sidekiq is 1 second. Rails takes time for setup and initializing db in postgress, so they keep logging messages of rails connection refuses, sleeping for 1 second, and make it really hard to notice error messages like :
![webpacker error](https://user-images.githubusercontent.com/54112038/99805

[2020-11-20 14:04] nickytonline commented on #11490
Also, for context @rhymes this is not part of the webpack build. It's a post compile task. See https://github.com/forem/forem/blob/master/lib/tasks/post_precompile_assets.rake

[2020-11-20 14:10] rhymes commented on #11490
@nickytonline got it! shouldn't webpacker take care of that already?

[2020-11-20 14:13] nickytonline commented on #11490
It's not a webpacker thing. It was part of the asset pipeline with Sprockets and was originally handled in a gem and then the gem for deprecated or unmaintained. I can't remember what issue/pr it was, but it was an issue you had opened about that gem. I think it got merged a couple of months ago. I'll find it.

[2020-11-20 14:18] rhymes commented on #11490
Found it https://github.com/forem/forem/pull/10017

the discussion is here https://github.com/forem/forem/issues/9965

[2020-11-20 14:26] cmgorton commented on #8073
Ok I will leave it open then. Thank you for the explanation :)

[2020-11-20 14:44] rhymes commented on #11490
I went down a rabbit hole and emerged here https://github.com/postcss/postcss-custom-properties/issues/117 but apparently the `warnings: false` option doesn't exist anymore

[2020-11-20 15:02] rhymes commented on #11490
Ok, so I opened a random set of builds and the warnings have been there for a while. I bet that if we go back weeks or months the warnings are the same, it's probably just that for a combination of bad luck and some changes we exceeded the amount of lines we can emit in the build and now the builds are marked as failed.

For example, the cascade of build failures seems to have started in https://t

[2020-11-20 15:13] rhymes commented on #11490
I hope I'm wrong but it might be that build stages are all counted towards the 4MB log limit for the single build, testing by disabling deployment to the secondary server here https://github.com/forem/forem/pull/11520

[2020-11-20 16:05] nickytonline commented on #11490
I think if I recall correctly, I went down that Rabbit hole with the initial PR #10017.

If that's not possible, I think running yarn postcss &> somelogfile.log would work. `&>` means it logs the stderr, so if the file length is > 0, that should be a good enough check for failure.

[2020-11-20 16:08] rhymes commented on #11490
@nickytonline yeah, together with @maestromac we've decided to go full Unix and just suppress the logs https://github.com/forem/forem/pull/11521

[2020-11-20 16:09] pkfrank opened #11522 "Update default text/background color values on tag edit page"
**Is your feature request related to a problem? Please describe.**
As a tag admin, I don't want to accidentally set my tag to using `#000000` as the color hex for both text and background.

**Describe the solution you'd like**
New placeholder values; probably just text using `#ffffff`

**Additional context**
@juliannatetreault made a similar fix for the `/admin` edit view in this PR: https://githu

[2020-11-20 16:27] #11490 closed

[2020-11-20 16:56] michael-tharrington opened #11523 "Adjust Feed Algorithm to Prevent a User's Posts from Appearing Multiple Times in a Row"
**Is your feature request related to a problem? Please describe.**

Occasionally spammers have tried to game the feed and flood posts onto the site (see https://dev.to/devteam/spam-sucks-dm8).

And then, there are cases where a new user joins up and adds their blog via RSS. They often go through and publish all of their drafts at once, inadvertently flooding the home feed with their posts. This is

[2020-11-20 17:32] joshpuetz commented on #11444
I've tried to replicate this locally several ways, and can't seem to make it happen. `allow_email_password_login` always stays set to `true`. I'm curious if anybody else has experienced this bug?

[2020-11-20 18:08] nishantwrp commented on #11515
Thanks for the link @rhymes. I have no further questions, so closing this issue.

[2020-11-20 18:08] #11515 closed

[2020-11-20 19:20] lisasy opened #11524 "Published comments not rendering markdown styles properly"
## Describe the bug
When I write my comment in markdown, the markdown styles do not render properly when they're published. It's surprising between the `comment preview` shows the expected markdown styling, but the actual `published comment` does not.

## To Reproduce

1. Write a comment in markdown including a variety of
2. See its preview
3. Publish it and notice the discrepancy

## Expected beh

[2020-11-20 20:21] lisasy commented on #11033
@ludwiczakpawel I'm going to revise the description of this bug report in "Expected behavior" with the 2 steps so that whoever can pick it up and implement it in this way. 👍

[2020-11-20 21:30] gippea opened #11526 "Large images appear on screen after leaving a comment."
**Describe the bug**

I started reading through the weekly retro. And shared some love and then a comment. When I left a comment with `const smile = createMoreTime();` and previewed it everything seemed fine. But when I published the comment a huge Twitter icon, GitHub icon and Heart icon appeared on the screen.

**To Reproduce**
1. Visit this week's retro.
2. Write a comment.
3. Preview the comme