[2020-03-20 11:18] rhymes commented on #6726
oooh, this is scary, thanks for the PR! Going to remove the label :D

[2020-03-20 12:28] AlbertoMontalesi commented on #6744
To add on to this issue (which i also get) this is the console. I am on the same MacOS and chrome version of @anilsansak anilsansak
![image](https://user-images.githubusercontent.com/23130353/77163569-ee36aa80-6ae0-11ea-952e-7fd67a02042f.png)

[2020-03-20 12:37] rhymes commented on #5003
Hi @dpaulino, I saw you closed the issue. Is it because you've find a solution? If so, which? It might help the other ones that have experienced it as well. Thank you!

[2020-03-20 12:44] rhymes commented on #6744
Adding a note here that this might be related to https://github.com/thepracticaldev/dev.to/issues/6584 as well

[2020-03-20 12:48] rhymes commented on #6744
@anilsansak @AlbertoMontalesi do you have any extensions installed? I tried with Chrome `Version 80.0.3987.149 (Official Build) (64-bit)` on macOS but I don't experience the issue:

![Screenshot 2020-03-20 at 1 46 51 PM](https://user-images.githubusercontent.com/146201/77164813-52417a80-6ab1-11ea-88db-c8ec4ad8de6a.png)

I tried both logged in and logged out.

I do not have anything installed on Ch

[2020-03-20 14:10] bhageena commented on #6730
Thanks, it's working for me as well.

[2020-03-20 14:18] bolariin commented on #5964
I think this might have been resolved by #6371

[2020-03-20 14:20] rhymes commented on #5964
Thanks a lot for the find @bolariin!!

[2020-03-20 14:20] #5964 closed

[2020-03-20 15:19] maestromac commented on #5566
Happy to help @xanderyzwich ! Glad to hear it's working!

[2020-03-20 15:19] #5566 closed

[2020-03-20 16:06] dpaulino commented on #5003
Oops, that was accidental. I did a bulk close and I missed this. Reopening now

[2020-03-20 16:52] maestromac commented on #6552
@vaidehijoshi the closest thing the team has implemented is the latest shecoded campaign banner. I agree we should definitely rely on cookies and create a new component mounted on top of `homePageFeed`

[2020-03-20 17:18] rhymes commented on #6478
Closed by https://github.com/thepracticaldev/dev.to/pull/6598

[2020-03-20 17:18] #6478 closed

[2020-03-20 17:22] lisasy commented on #6552
Notes from PR #6667 (Phase 1)

When we write the code for the different onboarding actions (e.g. make a welcome post), we should update them to match the emoji of each <span>, so that we're actually making this modal accessible.

@vaidehijoshi

---

<img width="651" alt="Screenshot 2020-03-20 10 17 47" src="https://user-images.githubusercontent.com/816402/77189269-878b9f80-6a94-11ea-9705-2b24c85ae

[2020-03-20 17:29] rohanThegreaTT opened #6749 "Not letting me post or comment"
I have

**Describe the bug**
i cannot post, comment or PM, when i try to make a post it gives me an error: Ooooops...
You have encountered an error.
Our team has been notified. Please feel welcome to also submit a public bug report.

We apologize for any inconvenience. When i comment nothing happens and the same when i try to PM people

**To Reproduce**
I dont know as i am asking you how to preven

[2020-03-20 18:07] maestromac commented on #6679
Resolved with https://github.com/thepracticaldev/dev.to/pull/6728

[2020-03-20 18:07] #6679 closed

[2020-03-20 18:29] rhymes commented on #6749
Hello @rohanThegreaTT, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-03-20 18:29] #6749 closed

[2020-03-20 19:40] rohanThegreaTT commented on #6749
ok

[2020-03-20 23:48] champi-dev commented on #304
I'd love to implement the translations using an i18n library,
injecting those strings into the views/components,
we may find ways to do cool things with translations.

[2020-03-21 00:45] aviskarkc10 commented on #6744
@rhymes I am using Chrome on Ubuntu. And I also have this issue sometimes. It's hard to reproduce and it works fine after I refresh the page. I don't have more information on this but will look at the console for errors next time I encounter the issue.

[2020-03-21 00:48] aviskarkc10 opened #6752 "Fix the height of new post text area and add scroll"
**Is your feature request related to a problem? Please describe.**
When I am writing a long post, there is a scroll bar on the entire page, and the `textarea` to write the post increases in height as I type. But at a certain point, I need to keep scrolling for the text I type to be visible.

**Describe the solution you'd like**
Maybe removing the main scroll bar, and fixing the height of the `text

[2020-03-21 06:05] helderburato commented on #6744
I also have this issue sometimes, I'll try to reproduce, I'm using adblock, maybe it causes some side effect.

[2020-03-21 09:27] srebalaji opened #6755 "Reading list API of an authenticated user"
**Is your feature request related to a problem? Please describe.**
Dev API doesn't have the option to list the authenticated user's reading list

**Describe the solution you'd like**
Build an API to list user's reading list

[2020-03-21 09:28] srebalaji commented on #6755
@benhalpern What do you think? If the Dev team approves, I can start working on it.

[2020-03-21 10:11] rhymes commented on #6752
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-21 10:13] rhymes commented on #6752
Hi @aviskarkc10, I labeled this as a feature request since it doesn't seem to be an actual bug, more like one of two possible behavioral choices.

I might be wrong but you can either have the current behavior or an internal scroll. None of the two seems incorrect.

Let me know what you think and thanks for filing this ticket!

[2020-03-21 10:18] aviskarkc10 commented on #6752
I am sorry if my gif was unclear but with the current behavior what happens is, at a certain point the text I am typing isn't visible at and I have scroll manually.

But if we added a scroll to the `textarea`, the scrolling would be taken care of automatically just like how these GitHub comments are behaving. Please let me know if my explanation or gif is unclear.

[2020-03-21 10:19] rhymes commented on #6755
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-21 10:46] #6726 closed

[2020-03-21 10:49] rhymes commented on #6752
Hi @aviskarkc10, I recorded a gif as well, let me know if that's what you mean:

![text](https://user-images.githubusercontent.com/146201/77224865-f2f37100-6b69-11ea-897c-c4963417a392.gif)

As you see when I scroll the page the editor scrolls as well so I can see the text that's "hidden".

[2020-03-21 10:53] aviskarkc10 commented on #6752
Yeah you can see the "hidden" text if you use the main scroll bar. But it would be helpful if the text wouldn't be hidden **while you are typing the post**.

As you type you cannot see on the screen what you are typing.

Let me know if that makes it clearer? The exact example of what I am talking is can be seen if you type a long message on the GitHub comment itself.

[2020-03-21 11:10] rhymes commented on #6752
I understood, I'm going to turn this into a bug :) Thanks for clarifying!

[2020-03-21 11:13] aviskarkc10 commented on #6752
Can I grab this as well?

[2020-03-21 11:36] rhymes commented on #6752
Sure! Thanks :)

[2020-03-21 11:48] aviskarkc10 commented on #6752
Just so we are on the same page, I am gonna be giving the `textarea` a static height like `100vh` and then add scroll to it

[2020-03-21 16:17] jhermann opened #6758 "Series: Sort order of a mix of native/imported posts can be unexpected"
**Describe the bug**

Surprising order (on a timeline) in a series, when a post is published at a different date originally (that is the assumption of the cause).

**To Reproduce**

See metadata of [Blogging About My Repositories to Guide Interest](https://dev.to/jhermann/blogging-about-my-repositories-to-guide-interest-gm7) and other post in the series.

**Expected behavior**

1. Allow **explicit

[2020-03-21 16:32] jhermann opened #6759 "Show posts' difficulty level in dashboard overview"
**Is your feature request related to a problem? Please describe.**

Adding a level to posts that have none, or fixing skewed levels, gets easier if you see them all at once.

**Describe the solution you'd like**

Add a display of the level to the rounded info box after the "Manage" button.
Possibly also using color (green, orange, red) to indicate level grouping, or a star level: 0, ½, 1, …, 4½, 5

[2020-03-21 16:59] rhymes commented on #6758
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-21 16:59] rhymes commented on #6758
Thank you @jhermann, as I mentioned on the website, I'm going to take a look at this as this is clearly a bug :)

[2020-03-21 17:00] rhymes commented on #6759
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-21 20:58] luchiago opened #6761 "Receiving nil object in notify_mailer"
**Describe the bug**

I was using the [Preview Emails](https://docs.dev.to/backend/previewing-emails/) in localhost to see some changes in mail sending when I bumped in a bug in one method of this endpoint

**To Reproduce**

1. Go to [http://localhost:3000/rails/mailers/notify_mailer/new_message_email](http://localhost:3000/rails/mailers/notify_mailer/new_message_email)
2. See the bug

**Expected

[2020-03-21 23:22] jhermann opened #6763 "Editor: Allow ad-hoc switching between ‘basic’ and ‘rich’"
From what I observed, the system remembers the global editor setting (UX › Writing) when you create a post. There is no way to change this afterwards (that I found). Changing the global setting has no effect on existing articles.

## Proposed feature
Place a switch to the *other* mode near the `Preview` button, possibly remembering the change for this article, or changing the global default each t

[2020-03-21 23:42] jhermann opened #6764 "A11y: Add text size selection"
**Is your feature request related to a problem? Please describe.**

While I can change the *font* used for text display, I cannot change the *size* of text. While somewhat manageable with `Ctrl +` (zoom) in desktop situations, this typically fails on mobile devices, especially when using the app.

**Describe the solution you'd like**

Add text size selection (e.g. via size buttons "S M L XL" or "A

[2020-03-22 00:23] jhermann opened #6765 "‘Rich’ editor eats up liquid tags"
**Describe the bug**

Liquid tags like this…

    {% github tox-dev/tox-venv no-readme %}

disappear on repeated edit using the rich editor.

**To Reproduce**

1. Add a tag like above, and save. Tag is rendered in post.
1. Open editor again. Tag is gone, including surrounding whitespace.
1. Save, and it is gone from the rendered post, too.

**Expected behavior**

Don't gobble up my markup. :grimac

[2020-03-22 00:28] luchiago commented on #1393
@maestromac Thanks for the tip. But I think shouldn't work when I reply to my own post. I've already made the changes but I can't test.

[2020-03-22 03:10] yashints commented on #6414
I think this is a good issue since it will be needed in many scenarios. For example I have this post of mine with inline images and can't do the same in Dev.to:

https://yashints.dev/blog/2020/03/19/debug-devtools

[2020-03-22 09:35] abdellani commented on #6339
Hi @rhymes
I've been busy during the last days and I didn't have time to work this issue. I guess that the situation will continue like that during the next few weeks.
So, I deceided I unassigned the issue. I'm very sorry for that.

[2020-03-22 09:38] abdellani commented on #6139
@lightalloy
After clicking the link, The browser redirects me to the home page. I shared the output of the console in my previous comment.

[2020-03-22 13:37] anilsansak commented on #6744
@rhymes Copying from the issue:

Grammarly 14.953.0
Bitwarden 1.43.3

[2020-03-22 14:50] rhymes commented on #6763
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-22 14:56] rhymes commented on #6763
A bit of context: the reason why the editor remembers which version one used for an article is that not all features of the `basic` editor are available in the `rich` editor (in the rich editor one can't change the publication date for example or the description).

The discussions in these two issues contain more context:

- https://github.com/thepracticaldev/dev.to/issues/4219
- https://github.co

[2020-03-22 14:58] rhymes commented on #6764
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-22 15:05] rhymes commented on #6765
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-22 15:07] rhymes commented on #6765
hi @jhermann, can you provide the markdown in a https://gist.github.com/ ?

I can't reproduce this. I tried:

**preview**

![Screenshot_2020-03-22 New Post - DEV(local) Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/77252873-0e887580-6c57-11ea-8bd5-a1b8f7579e29.png)

**saved draft**

![Screenshot_2020-03-22 test github tag](https://user-images.githubusercontent.com/146201/77252

[2020-03-22 15:13] rhymes commented on #6339
Don't worry @abdellani, it's perfectly understandable :-) Thanks again for volunteering in fixing this!

[2020-03-23 03:45] helderburato commented on #6744
I'll try without Grammarly, it's on my browser too.

[2020-03-23 04:02] citizen428 commented on #6761
Thanks for the report @luchiago! Do you have any message locally? If you look at the logs, the first thing this tries to do is load a message to use in the preview:

[code]

If there are none `@messages` will be `nil` and you'll see this error. By using our seeds you'll have messages and this should work.

Can you please confirm and close this issue if what I wrote above works? Thank you!

[2020-03-23 04:04] AlbertoMontalesi commented on #6744
I'm also using grammarly and uBlock.

[2020-03-23 04:12] luchiago commented on #6761
@citizen428 It works!. Thank you

[2020-03-23 04:12] #6761 closed

[2020-03-23 07:52] ludwiczakpawel commented on #6764
Hey @jhermann !

This is a great suggestion and we will work towards adding this feature eventually. Unfortunately it's a bit far away on our roadmap.. We're currently revamping our design system (well, starting it from scratch basically) as well as frontend implementation, including CSS obviously. Until we have that, it won't be easy to add text resizing in some easy and, what's most important, m

[2020-03-23 07:56] lightalloy commented on #6139
@abdellani one possible problem could be that the link has expired, unfortunately, the log doesn't contain information about it (should include `UsersController#confirm_destroy`).
One option is to notify a user in this case (e.g. add flash notice) to distinguish this case from other possible problems.

[2020-03-23 09:04] #6339 closed

[2020-03-23 09:35] abitrolly opened #6775 "Self-documenting preview shortcut"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when I forget shortcuts. The information about keyboard shortcut for toggling preview on and off is hard to find. I could only find it by going to my profile, scrolling to the bottom to find About box and following to GitHub to search issues which then led to this PR https://github.com/thepracticaldev/dev.to/

[2020-03-23 09:58] freyariki opened #6776 "some bugs showing"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-03-23 10:23] abitrolly opened #6777 "Support expanding GitHub permalinks"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when links to code are not expanded. If I paste the next link on a separate line to Discourse, it will get expanded with the source code section.

https://github.com/wagoodman/dive/blob/c6bb2372a8be13a80a81c00c04f9724970c0ae60/dive/image/image.go#L7-L10

Using the `github` block doesn't work either.

{% githu

[2020-03-23 10:26] AthulMuralidhar opened #6778 "PendingMigrationError during local session"
**Describe the bug**
 -  I've always wanted to contribute to dev.to and what better time to start contributing than this, so I made a fork and started to dev
- I chose the `Docker` method of setting my local instance up because it is most familiar, but ended up with a migration error during loading

**To Reproduce**

- Go to the doc section: https://docs.dev.to/installation/docker/
- In  **Running

[2020-03-23 10:39] techmahedy opened #6779 "i can't write a new post. Please help"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-03-23 10:41] rhymes commented on #6775
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-23 10:43] rhymes commented on #6775
Hi @abitrolly, thanks for this feature request!

While reading it I thought about what happens here in github if one types `?` while browsing the app. I'm not sure about using `Alt+P` as it's the browser's printing shorcut too, but maybe it's okay if it's only active during editing after all.

[2020-03-23 10:44] rhymes commented on #6776
Hi @freyariki, could you fill in the bug report? Without information is hard to be of help. What errors are you experiencing?

[2020-03-23 10:46] rhymes commented on #6777
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-23 10:47] rhymes commented on #6777
Hi @abitrolly, thanks for this feature request.

I wonder if the easiest solution might be to simply expand the `github` tag capabilities so that it also supports that.

[2020-03-23 10:47] rhymes commented on #6778
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-23 10:48] Ridhwana commented on #6779
Hi @techmahedy, could you please fill in the bug report? Without information is hard to be of help. What errors are you experiencing?

[2020-03-23 11:41] rhymes commented on #6778
Hi @AthulMuralidhar, I tried to replicate the error but for me it failed here:

[code]

:-(

[2020-03-23 12:12] abitrolly commented on #6775
It Firefox printing is `Ctrl+p`.

[2020-03-23 12:19] rhymes commented on #6775
Oh yeah, sorry! `Ctrl-P` on windows and `Meta-P` on macOS. I was mistaken :)

[2020-03-23 13:50] maestromac commented on #5278
I just double-checked this and I believe this is resolved. Let me know if otherwise.

[2020-03-23 14:26] keithrbennett commented on #5278
@maestromac I just tested it on the public web site using Firefox and Chrome on a Mac. The problem persists. It does wrap correctly part of the way but when one keeps going left there is a point at which it stops wrapping.

[2020-03-23 14:38] rhymes commented on #5278
@keithrbennett could you provide a GIF or video recording? It'd be extremely helpful. Thank you!

[2020-03-23 14:53] keithrbennett commented on #5278
I have an .mp4 showing this but cannot upload it here to Github. Let me know if you'd like me to get it to you another way. Here are 2 screenshots, one displaying the wrap correctly, the other showing the error when I drag the right side of the window left to make it more narrow.

![dev-to-word-wrap-ok](https://user-images.githubusercontent.com/28410/77329461-63c69480-6cf4-11ea-9634-ff4844851fb1.p

[2020-03-23 15:05] #6758 closed

[2020-03-23 15:24] rhymes commented on #5278
@keithrbennett interesting! I just tried, in the same connect chat with your message and it doesn't happen to me with Firefox 75.0 beta 6 on macOS 10.14.6

It does happen with Chrome 80 though :(

[2020-03-23 15:31] benhalpern commented on #6725
#6713 has been shipped. Closing this.

[2020-03-23 15:31] #6725 closed

[2020-03-23 15:35] rhymes commented on #6758
@jhermann thanks again for this issue ticket!

I think we fixed it:

![Screenshot_2020-03-23 Blogging About My Repositories to Guide Interest](https://user-images.githubusercontent.com/146201/77333815-44dff680-6d24-11ea-9d13-9db05ec94070.png)

If it doesn't appear for you try force refreshing as it was recently deployed and it might be still cached somewhere.

Also let us know if you encounter oth

[2020-03-23 15:51] keithrbennett commented on #5278
My Firefox was v 74.0 64-bit, Mac OS. Chrome was Version 80.0.3987.149 (Official Build) (64-bit).

[2020-03-23 17:45] AthulMuralidhar commented on #6778
can i claim this issue? @rhymes

[2020-03-23 17:49] AthulMuralidhar commented on #6778
maybe check what's up with the yarn package in your local docker instance @rhymes?

[2020-03-23 18:53] lisasy opened #6787 "Fix `checkbox` element on responsive display"

[2020-03-23 18:53] lisasy opened #6788 "Refactor `form` in `onboarding` to `Crayons`"
In PR 6842, I began implementing a lot of `crayon` styles and components using `@extend`, but I want to refactor this and reference the `crayons` class names in the `.jsx` mark-up itself.

This is an optimization/refactor, but it will help us maintain a clean and consistent codebase.

Related: https://github.com/thepracticaldev/dev.to/pull/6842

[2020-03-23 18:53] lisasy opened #6789 "Add `overlay` code to `modals.scss`"

[2020-03-23 18:53] lisasy opened #6790 "Declare `modal` width options in top of file of `modals.scss`"

[2020-03-23 18:56] vaidehijoshi commented on #6552
@maestromac + @lisasy after watching the figma walk through meeting's recording, i think we should attempt to make a separate component with the desired behavior for this tile/task card. i have some ideas on how to push the feed down, but i would need to actually dip into the code and try it out (i could be very off base 😂).

i do agree with @lisasy's comment in the meeting that, eventually, we wa

[2020-03-23 20:42] claracodes commented on #6616
I also saw this issue happening on the notifications page, see screenshots attached. There is no text on the button.
MacOs, Firefox

<img width="785" alt="Screenshot 2020-03-23 at 13 38 59" src="https://user-images.githubusercontent.com/29435293/77361161-08080580-6d0c-11ea-8795-1ae4e19da537.png">

<img width="368" alt="Screenshot 2020-03-23 at 13 40 06" src="https://user-images.githubusercontent.c

[2020-03-23 21:54] lisasy commented on #6552
@vaidehijoshi @maestromac

This plan sounds good to me! As we're nearing approaching this task, I can certainly whip up a quick design of the She-Coded, full hero banner version to help us envision what shipping this version might look like. I'll track this task!

[2020-03-23 22:11] juliannatetreault opened #6798 "Migrate From schema.org to JSON-LD"
We currently use `schema.org` to structure DEV’s data. However, there is a better, more readable solution, which is to migrate from using `schema.org` to using JSON-LD. In doing this, search engines will have an easier time disambiguating elements and structuring the site’s data, which should ultimately improve DEV's SEO.

There are four `erb` templates that currently use `schema.org` to organize

[2020-03-23 22:15] maestromac commented on #1393
@luchiago Try making a comment to any post. The preview page will show the latest comment that was emailed out.

[2020-03-24 01:52] rosejcday commented on #5325
This is still a current issue that is on going, how is progress going to resolve this issue?

**Describe the bug**

I am a moderator for the data science tag #datascience, and noticed that tags with different cases such as #Datascience or #DataScience, ect. cannot be moderated against due to case being different. They show up in the data science tag list but they do not allow for me to moderate an

[2020-03-24 04:19] citizen428 commented on #6778
@AthulMuralidhar Can you please try to run `docker-compose run web rails db:migrate` after `docker-compose run web rails db:setup`?

[2020-03-24 05:33] citizen428 commented on #6778
@AthulMuralidhar I see two issues here:

1. The pending migrations. Please try to run `docker-compose run web rails db:migrate`.
2. The error about the `search:setup` Rake task not being found. This should not happen if you're on a recent version of the code.

On the other hand I'm seeing the same issue as @rhymes right now, this seems to point towards a possible solution:

https://github.com/rail

[2020-03-24 07:47] citizen428 commented on #6778
The yarn error actually has to do with our `package.json`: `"yarn": "1.21.x"`

I'm currently working on this, so will assign myself the issue @AthulMuralidhar. I'll also try to address the other points you raised.

[2020-03-24 07:48] AthulMuralidhar commented on #6778
- 1) seems to be a solution for the migration thing
- 2) I would need to investigate it a bit further, let me check the versions a bit

[2020-03-24 07:49] AthulMuralidhar commented on #6778
i'll  keep things posted here :) and good luck @citizen428

[2020-03-24 07:53] citizen428 commented on #6778
Great, thanks for the feeback so far 👍 Re 1 I'll probably just add a line to the docs. The second thing really shouldn't happen unless you have a pretty old checkout and didn't recently pull.

[2020-03-24 09:14] leewynne opened #6805 "Allow SiteConfig to dictate how long articles stay in sidebar tags"
I think it will benefit new communities that don't have a lot of initial content to ensure that some of the sidebar tags display content.

Ideally this would be set in SiteConfig, maybe with a single combined date picker.
<img width="302" alt="Screenshot 2020-03-24 at 09 14 16" src="https://user-images.githubusercontent.com/12694270/77408593-dea0b580-6daf-11ea-9200-dbf4a265506d.png">

[2020-03-24 11:12] rhymes commented on #6805
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-24 12:27] Cheukting opened #6807 "Enable Webmentions"
**Is your feature request related to a problem? Please describe.**

My website can receive webmentions, and I keep syndicating my blog post to dev.to. If the reactions that I received on dev.to can be reflected on my website that would be great.

**Describe the solution you'd like**

dev.to enable webmentions and pingback to my original blog post on my website whenever my post on dev.to received a

[2020-03-24 14:35] rhymes commented on #6807
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-24 14:36] rhymes commented on #6807
Hi @Cheukting, TIL about Webmentions!

They remind me of the "pingbacks" of olden days.

[2020-03-24 16:46] lisasy commented on #6705
![Screenshot 2020-03-24 09 44 03](https://user-images.githubusercontent.com/816402/77453083-03972780-6db4-11ea-9d31-47b5151ebcd5.png)

Based on this design and copy, when people have joined DEV, they don't know that they're going to receive a series of welcome notifications from DEV. Therefore, when we think about how to include the opt-out link, the copy should allude to that... I'll explore some

[2020-03-24 17:09] brettimus commented on #5434
just hit this again. will look into creating an MR given I have a lot more at-home time these days 😬

<img width="1098" alt="image" src="https://user-images.githubusercontent.com/3201327/77455698-7f1bc780-6dfa-11ea-82ad-0186c4f143ba.png">

[2020-03-24 17:17] bravemaster619 opened #6817 "Docker: webpacker can't find homePage.js"
Finished docker install in Windows 10. Have run dev sever with the following command:

[code]

However, I cannot access the home page. It shows the following error:
[code]
![image](https://user-images.githubusercontent.com/50212003/77456292-02a6da00-6e36-11ea-8925-62f5567eafe4.png)

I've looked into the console and found the following message:
[code]
Is it related to webpacker update? [https://git

[2020-03-24 17:22] rhymes commented on #6817
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-24 17:23] rhymes commented on #6817
Hi @bravemaster619, thanks a lot for the issue ticket! I updated the title to make it easier to identify at first glance.

[2020-03-24 17:41] bravemaster619 commented on #6817
Thanks @rhymes. Of course, I've seen issue templates but I wonder my problem was really a bug. I'm kinda new to dev.to project and I'm not sure this is a bug. Maybe I've done wrong in the installation process. For example, I changed yarn version to `>=1.21.x` in `package.json`. Because you guys didn't merge the pull request https://github.com/thepracticaldev/dev.to/pull/6803. (Now you've merged.)

[2020-03-24 20:33] AthulMuralidhar commented on #6778
@citizen428 the migration issue is gone :tada but I have some other issue with the `search:setup` part

[2020-03-24 22:15] #6702 closed

[2020-03-25 01:12] kodaman2 opened #6825 "Unable to see my profile or posts"
**Describe the bug**

Getting the oooooops... error page when navigating to any of my posts or profile url.
[kodaman2](https://dev.to/kodaman2)

**To Reproduce**

- Go to my profile url.

**Screenshots**

![image](https://user-images.githubusercontent.com/10265682/77491355-86979c80-6e0b-11ea-8f79-d85469fd38b2.png)

**Desktop (please complete the following information):**

- OS: Windows 10
- Browse

[2020-03-25 01:20] kodaman2 commented on #6825
Cleared cookies and fixed it.

[2020-03-25 01:20] #6825 closed

[2020-03-25 03:41] citizen428 commented on #6807
I very much like this idea. I looked into web mentions the other day and I think they fit very well with our overall goal of openness.

[2020-03-25 04:01] citizen428 commented on #6778
@AthulMuralidhar We are working on said channel, in the meantime feel free to open a new issue. I'll close this one now, as it's original problem has been resolved.

[2020-03-25 04:03] vaidehijoshi commented on #6705
While working on implementing this today, I realized that there are really two different approaches that we can take in terms of how we want to message the opt-out functionality; as it turns out, the two different approaches significantly impact _where_ the opt-out functionality should live.

Here are two different ideas that I have for how we can surface this to users:
1) Include the opt-out link

[2020-03-25 05:00] #6778 closed

[2020-03-25 07:04] citizen428 commented on #6817
@bravemaster619 Now that we merged #6803, is this working for you?

[2020-03-25 11:42] bravemaster619 commented on #6817
I used #6803 code before merging and it didn't work.

[2020-03-25 11:47] bravemaster619 commented on #6817
I'm updating the error messages:

[code]

[code]

[2020-03-25 13:26] pavelloz opened #6831 "More than one doctype on a page"
**To Reproduce**

1. Go to `https://dev.to/platformos/optimizing-font-files-for-modern-web-3jm8`
2. Open source
3. Look at first lines - it has doctype etc. - all good
4. Use find feature in your browser to find "DOCTYPE"
5. There will be another doctype, another html tag around line 218.

**Expected behavior**

Only one doctype and html tag should be on a particular webpage.

**Screenshots**

<im

[2020-03-25 13:28] luchiago commented on #1393
@maestromac But the mail notification, in this case, is when somebody replies my post with an image and I receive the notification in my mail box

[2020-03-25 13:31] rhymes commented on #6831
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-25 13:51] maestromac commented on #6705
I like a combination of both approaches. Here's what I think

- Instead of `click here` in the notification, have it as `go to your settings page to disable...` link.
- I think the option there is fine but perhaps only show that field `if user.created_at > 7.days.ago`

I'm getting way ahead of myself here but I can also imagine platform notification to be used to announce new features.

[2020-03-25 14:27] lisasy commented on #6705
@vaidehijoshi @maestromac

I like @maestromac's suggested revision to the copy for the opt-out link. Rifting off of that, what if we had something like this that clearly states what they can manage? The entire sentence can be a link.

`Go to your settings to manage your notification settings`

[2020-03-25 15:00] juliannatetreault commented on #6705
I agree with @maestromac and @lisasy--the combination of both approaches and I like @lisasy's copy. I think that disabling the notifications makes the most sense in the settings and having a link in the notification itself that clearly directs to the settings would make opting out simple. I think that directing new users to the settings page early on is good to do anyway since a handful of the onb

[2020-03-25 15:22] vaidehijoshi commented on #6705
@maestromac Great idea! I guess my 9pm self last night just didn't think about combining both approaches, but I think that feels right 😅

Also going to incorporate @lisasy's copy.

[2020-03-25 15:48] xanderyzwich commented on #4335
I've just hit this issue in the last week. After getting several reactions and multiple retweets of a post the view count has remained identical.

[2020-03-25 17:48] lisasy opened #6843 "In "Suggested Topics", lets users select tags using their keyboard"
This is an a11y-based bug based on P1's onboarding flow.

[2020-03-25 17:48] lisasy opened #6844 "Enable using tab key to navigate through checkboxes on first slide."
This is an a11y-based bug based on P1's onboarding flow.

[2020-03-25 23:50] maestromac commented on #1393
@luchiago Oh I see now. try this.

1. create a comment one post other than your with an image on it.
2. Open up `NotifyMailerPreview` and make the following change on line 4, `NotifyMailer.new_reply_email(Comment.find(1))` to `NotifyMailer.new_reply_email(Comment.last)`
3. Navigate to http://localhost:3000/rails/mailers/notify_mailer/new_reply_email and you should see it now

[2020-03-26 03:31] idris-rampurawala commented on #4879
hi @yogeshktm I do not see any change in my profile. Also, have attached the screenshot of my settings for your reference.
settings/ux:
![image](https://user-images.githubusercontent.com/36815604/77607303-e0997e80-6f3f-11ea-8fef-effcb22897e9.png)

settings/profile:
![image](https://user-images.githubusercontent.com/36815604/77607353-0de62c80-6f40-11ea-84d1-b9b73dd94476.png)

Also please note that

[2020-03-26 03:56] idris-rampurawala opened #6854 "Post series: Ability to subscribe to and receive notification when a new post is added"
**Is your feature request related to a problem? Please describe.**
No. It is not a problem but a powerful feature request.

**Describe the solution you'd like**
Dev recently introduced `Post Series` feature where we can post a series of articles and a link to all the posts in the series to go through. I would like to make this feature more powerful by adding a `Subscribe to series` functionality.

[2020-03-26 04:29] citizen428 commented on #6854
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-26 04:31] citizen428 commented on #6854
@idris-rampurawala Thank you for the suggestion. In the meantime, you can follow the author of an article series to be notified about all of their new posts. I know this is not ideal since you may end up with more notifications than intended, but maybe it will help you not to miss new posts in series you follow.

[2020-03-26 06:55] abenettt opened #6856 "Update to current yarn version to 1.22.4"
**Is your feature request related to a problem? Please describe.**
Not a problem perse but as we set the yarn version explicitly via `yarn policies set-version x.x.x` we also have to update the version manually.

**Describe the solution you'd like**
Update yarn version via command

**Describe alternatives you've considered**

**Additional context**

[2020-03-26 09:12] lightalloy opened #6858 "Use configurable community name consistently"
We have `ApplicationConfig["COMMUNITY_NAME"]` which is used in a few places, but there are many places where "DEV" is hardcoded.
The configurable community name should be used consistently. We should also pay attention that there are different hardcoded community names like "dev.to", "DEV community", and "DEV".

[2020-03-26 09:15] rhymes commented on #6856
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-26 09:15] rhymes commented on #6856
Great catch!

[2020-03-26 09:18] rhymes commented on #6854
Thanks @idris-rampurawala, I'm closing this as a duplicate of https://github.com/thepracticaldev/dev.to/issues/1172 as I think they are the same issue, let me know otherwise!

[2020-03-26 09:18] #6854 closed

[2020-03-26 10:13] rhymes commented on #5178
This PR might be related to this https://github.com/thepracticaldev/dev.to/pull/5829

[2020-03-26 11:47] Ridhwana commented on #5178
Thanks Rhymes, let me check it out!

[2020-03-26 14:10] guivinicius commented on #5516
Is this still an issue? If so I could take some time to investigate that.

[2020-03-26 14:31] lisasy opened #6884 "Improve content row display on smaller viewports in "Suggested People" view"
Related: https://github.com/thepracticaldev/dev.to/pull/6842#pullrequestreview-381603953

Next steps:
Debug this view on multiple smaller viewports.
Make modifications so that the avatar, content, and button stack properly.

![Screenshot 2020-04-27 10 23 14](https://user-images.githubusercontent.com/816402/80402619-008bcd00-8873-11ea-82dd-8b206bb452e8.png)
![Screenshot 2020-04-27 10 23 45](https:/

[2020-03-26 14:44] lisasy opened #6885 "Create variable for `border-width`"
We have a variable for `border-radius`, which is 3px. I think that we have also have one for `border-width`, which is 2px.

[2020-03-26 14:52] lisasy opened #6886 "Fix horizontal black bar showing up while scrolling on smaller viewports."
Related comment: https://github.com/thepracticaldev/dev.to/pull/6842#issuecomment-604457093

On the "suggested people" page, a weird horizontal black bar shows up when the viewport is smaller.

![Screenshot 2020-03-26 07 41 47](https://user-images.githubusercontent.com/816402/77660641-d2933000-6f36-11ea-974c-17f8ed415de4.png)

[2020-03-26 18:15] vaidehijoshi opened #6892 "Rename mod_roundrobin_notifications + email_follower_notifications on user model"
We have columns on our `users` table that are boolean values that we use to represent whether a user is subscribed to an email or a notification. However, these columns [don't have intuitive names](https://github.com/thepracticaldev/dev.to/pull/6852#discussion_r398669840). For example, `mod_roundrobin_notifications`, `email_follower_notifications`, and `welcome_notifications` indicate an ActiveRec

[2020-03-26 18:16] vaidehijoshi commented on #6892
@thepracticaldev/delightful can take care of this task once welcome notifications are live!

[2020-03-26 18:26] #6705 closed

[2020-03-26 18:37] rhymes commented on #6892
Adding some additional info from the `strong-migrations` gem: https://github.com/ankane/strong_migrations#renaming-or-changing-the-type-of-a-column which might become useful when this plan is set in motion!

[2020-03-26 19:26] khaosdoctor opened #6894 "Make possible to schedule articles to a later date"
**Is your feature request related to a problem? Please describe.**

It's not really related to a problem but to a pain I have. Most of the times I plan my month of articles and I have to start writing them in other apps before and leave them saved so I can post on the date, but the problem is that I sometimes am not at my computer or I have a trip scheduled and cannot publish the article.

**Descr

[2020-03-26 19:46] luchiago commented on #1393
@maestromac @rhymes I'm not able to upload an image in the reply comment. All the tools are up (elastic, sidekiq, redis) and I have ImageMagick installed. Any ideas?

[2020-03-26 22:08] #6856 closed

[2020-03-26 22:09] aaronpowell commented on #5516
Nope.

[2020-03-26 22:09] #5516 closed

[2020-03-26 22:12] maestromac commented on #1393
@luchiago Hmm i'm not too sure. Have you tried using an image from elsewhere? Does that work for you?

[2020-03-26 23:00] vimota commented on #1299
Hi, I'm collaborating on a teammate on a post to Dev.to - is an admin able to add me to the post as a contributor? Thank you!

[2020-03-27 00:59] wrldwzrd89 opened #6902 "Website broken in Safari 13.1, infinite hang right from the get-go"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: macOS Catalina 10.15.4
- Browser: Safari
- Version: 13.1

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

Likely related to changes in 13.1. Worked just fine with 13.0. Cookie hand

[2020-03-27 04:05] citizen428 commented on #6894
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-27 04:10] citizen428 commented on #6894
@khaosdoctor Thanks for your suggestion! In the meantime, you can write and save your drafts on DEV instead of external tools.

1. Create post
2. Click "Save Draft"
3. Go to https://dev.to/dashboard
4. Select draft
5. Click edit and make any changes if necessary
6. Click publish

In case you want to further explore building your own tool, the relevant API documentation cna be found here:

* https:

[2020-03-27 04:14] citizen428 commented on #6902
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-27 04:15] citizen428 commented on #6902
Thank you @wrldwzrd89. I haven't updated yet, so can't currently verify this. If nobody else picks this up I'll circle back to it as soon as I'm on the new macOS/Safari.

[2020-03-27 04:24] citizen428 commented on #6892
As a sort of middle ground, all boolean columns also generate predicate methods. So as a less "dangerous" alternative we could switch relevant call sites from e.g. `user.email_follower_notifications` to `user.email_follower_notifications?`

[2020-03-27 07:57] guivinicius commented on #5526
Hey @majakomel are you working on this?

[2020-03-27 07:57] rhymes commented on #6902
I have Safari 13.1, I can confirm the website does not load with it. Taking a look right now

[2020-03-27 08:00] rhymes commented on #6902
After a couple of refreshes the website appeared again, and I'm unable to reproduce nor I have anything logged as the console was wiped out with the refreshes :(

@wrldwzrd89 are you still experiencing this?

[2020-03-27 08:12] majakomel commented on #5526
Hey @guivinicius, I do! I got carried away a bit with other work, will try to open a PR today or tomorrow.

[2020-03-27 08:31] guivinicius commented on #5526
Cool. :)

[2020-03-27 10:53] hnk commented on #6902
To chip in: I had the same issue.

Deleting the 'website data' for dev.to immediately fixed the issue.

This workflow is translated from German, so it may not be 100% correct:
Settings -> Privacy -> Manage website data -> Search for dev.to -> Remove

[2020-03-27 10:59] rhymes commented on #6902
This is a huge clue! That setting allows the user to delete the cache, the cookies and the local storage. 🕵

[2020-03-27 12:08] catalinpit opened #6907 "Article link in notifications is black"
# **Describe the bug**

When the dark theme is enabled, the article link is black.

I suppose the link should be white for better visibility and aesthetics.

See the picture.

# **To Reproduce**

1. Log into your account.
2. Enable the dark theme
3. Go to the notifications

# **Expected behavior**

When the dark theme is enabled, the link should be white.

# **Screenshots**

![notification-preview

[2020-03-27 12:08] catalinpit commented on #6907
Can I also pick it, please?

[2020-03-27 12:23] rhymes commented on #6907
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-27 12:24] rhymes commented on #6907
@catalinpit yes, go ahead, and thank you!

[2020-03-27 12:37] catalinpit commented on #6907
Thank you!

What is the time required to finish this?

[2020-03-27 12:53] rhymes commented on #6907
@catalinpit you can take as much time as you'd like, if we deem an issue urgent we might nudge the contributor after a while in case they abandon a PR.

Let us know if you need help with anything!

[2020-03-27 14:45] khaosdoctor commented on #6894
Awesome! Thanks a lot :)

[2020-03-27 15:37] bernardbaker opened #6911 "Notification text is not visible in the Ten X Hacker theme"
**Is your feature request related to a problem? Please describe.**

I'm frustrated when I look at my notifications and the text in the box which has the post written inside it is the same colour as th background.

I'm using the green and black theme.

**Describe the solution you'd like**

I want to be able to read the name of the post that has received a heart or a unicorn.

**Describe alternative

[2020-03-27 15:52] ysfaran opened #6914 "Cannot delete cover image of post"
**Describe the bug**

I'm not able to delete the cover image of my unpublished post.

**To Reproduce**

1. Create a new post by clicking "Write a post"
1. Type title
1. Click image icon
1. Select cover image
1. Click "SAVE DRAFT"
1. Click "EDIT"
1. Click image icon
1. Click "Remove Cover Image"
1. Click "SAVE DRAFT"
1. Cover image still present

**Expected behavior**

There should be no cover imag

[2020-03-27 15:54] vaidehijoshi commented on #6914
Hi, @ysfaran! Thanks for bringing this to our attention. It looks like you're on the newer version of the editor. If you have a chance, can you let me know if this same bug happens on the markdown editor (hopefully it shouldn't!).

I suspect that this is just happening on the newer version of the editor, but just want to check before investigating it further :)

[2020-03-27 16:09] ysfaran commented on #6914
Hey @vaidehijoshi, could you tell me how to access the old editor. That's my first post on dev.to so I really just now the new one 😕

[2020-03-27 16:12] vaidehijoshi commented on #6914
@ysfaran Of course (and welcome to DEV!). If you go to the UX option in your [settings tab](https://dev.to/settings/ux), you'll see a "Writing" section. The basic markdown editor is the one that I have selected, like the image shown here:
<img width="557" alt="Screen Shot 2020-03-27 at 9 11 28 AM" src="https://user-images.githubusercontent.com/6921610/77776272-f7f16e00-700a-11ea-99e3-13b1899e40d0.

[2020-03-27 16:17] ysfaran commented on #6914
@vaidehijoshi it doesn't seem to work 😟 I could also not see any effect after changing the editor?

![dev-to-cover-image-bug2](https://user-images.githubusercontent.com/13695230/77776693-b387c180-704e-11ea-8a0a-a201054cb266.gif)

[2020-03-27 16:19] vaidehijoshi commented on #6914
@ysfaran Ah, I'm sorry, I should have clarified: can you try making a new post and see if you're hitting the same bug once you've switched editors? The previous post is already associated with the rich markdown editor, so there actually shouldn't be any effect after changing which editor you're using.

[2020-03-27 16:19] rhymes commented on #6911
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-27 16:27] guivinicius commented on #6674
Hey @benhalpern,

I just spent some time looking at some of those pages, and here are my suggestions:

`https://dev.to/internal/users/{id}`

The **Activity** section is counting at least 4 different relationships, which we could avoid with some counter caches on user model for example.

The **Credits** section is listing and building a form for every organization the user belongs to. Maybe those f

[2020-03-27 16:27] ysfaran commented on #6914
@vaidehijoshi unfortunatly it's still not working. Am I still doing something wrong here?

![dev-to-cover-image-bug3](https://user-images.githubusercontent.com/13695230/77777659-29405d00-7050-11ea-9e2b-2b68b9831ae4.gif)

[2020-03-27 16:28] vaidehijoshi commented on #6914
@ysfaran Hm, this is helpful. Looks like it is occurring on both editors 😞 Our team can investigate this further. Thanks for reproducing it for us!

[2020-03-27 18:19] pavelloz commented on #3574
I was just thinking... embedding SVG is a security concern, how about `<img src="x.svg" />` ?

Like this:

![My SVG](https://uploads.prod01.oregon.platform-os.com/instances/1/assets/images/use-cases/recording-terminal/pos-cli.svg?updated=1585304029)

If github does it, i presume it is not especially dangerous.

[2020-03-27 19:21] #6703 closed

[2020-03-27 20:15] wrldwzrd89 commented on #6902
OK, I will try deleting the website data for dev.to and report back.

[2020-03-27 20:18] wrldwzrd89 commented on #6902
Success - doing that got both Mac Safari and iOS Safari working again. Still not sure why it broke, though.

[2020-03-27 20:29] jessleenyc opened #6919 "New notifications is tough to see on pink mode"
**Describe the bug**
I'm finding the new red notification dots really difficult on the eyes in the pink theme!

![](https://p193.p3.n0.cdn.getcloudapp.com/items/wbumdOvv/Image%202020-03-27%20at%204.26.13%20PM.png?v=c58fa775d5c17d11aeef58f248f55322)

**Additional context**

Are the notification dot colors something we can adjust in the custom themes?

[2020-03-27 20:44] cadonau commented on #6902
I was having the same issues on iOS and now macOS today and thought that the website was down, at first.

For me, [this type of bug actually startet happening some 600+ days ago](https://twitter.com/mcadonau/status/1026485898333048832) in Safari View Controller on iOS, which is really annoying when you mostly discover/read posts through a Twitter client. If I remember correctly, this was after som

[2020-03-28 13:21] nainardev opened #6921 "Older version of React in production"
![Screenshot (156)](https://user-images.githubusercontent.com/59839368/77823972-0c298e00-7125-11ea-9caf-e2b907d7ed71.png)

[2020-03-28 14:48] AthulMuralidhar opened #6922 "Bad rendering in Dev docs installation step"
**Describe the bug**

- Going through the dev docs, we see that the rendering is a bit off. The menues seem to overlay the text

**To Reproduce**

- Go to: https://docs.dev.to/installation/
- Scroll down to the various installation techniques (right after the **Gitpod** step)
- You should be here:
![Screenshot from 2020-03-28 15-43-27](https://user-images.githubusercontent.com/35686547/77825658-00

[2020-03-28 16:30] AthulMuralidhar opened #6923 "Faraday Error during docker-compose setup"
**Describe the bug**
- Faraday is unable to resolve elastic search urls during `docker-compose run web rails`
- This is the exact error stacktrace:
[code]

**To Reproduce**

- Go to: https://docs.dev.to/installation/docker/
- In the **Running the Docker app via docker-compose (recommended)** step, the shell script fails
at step2: `docker-compose run web rails db:setup db:migrate search:setup`

**E

[2020-03-28 18:03] rhymes commented on #6923
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-28 18:29] rhymes commented on #6922
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-28 18:30] rhymes commented on #6922
Interesting, I cannot reproduce it with Firefox 75.0b7 on macOS 10.14.6:

![docs](https://user-images.githubusercontent.com/146201/77830595-d509ab80-7129-11ea-9947-2e2237159a8a.gif)

same with Chrome

[2020-03-28 19:23] rhymes commented on #6922
Never mind, I was able to reproduced when I resized the window :(

[2020-03-28 23:27] caleb15 opened #6925 "bottom bar does not appear when editing a post"
**Describe the bug**

The buttons on the bottom bar when editing a article do not appear.

**To Reproduce**

1. Edit a post or write a new post
2. Try clicking save
3. Realize the entire bottom bar is gone

**Expected behavior**

The bottom bar to be present.

**Screenshots**

https://i.imgur.com/R3Hxyvb.png

**Desktop (please complete the following information):**

- OS: Win10
- Browser: Chrome
-

[2020-03-28 23:43] caleb15 opened #6926 "When editing a duplicate article appears at the bottom"
**Describe the bug**

When editing a article a second article appears after the first.

**To Reproduce**

1. Edit a draft
2. Scroll down
3. There's a duplicate article at the bottom

**Expected behavior**

No duplicate article

**Screenshots**

https://i.imgur.com/H1jkyyr.png

**Desktop (please complete the following information):**

OS: Win10
Browser: Chrome
Version: Version 80.0.3987.149 (Offici

[2020-03-28 23:52] caleb15 opened #6927 "Nothing appears when editing article"
**Describe the bug**

Sometimes when editing a article nothing appears.

**To Reproduce**

1. Edit a article
2. Nothing appears

**Expected behavior**
Something to appear

**Screenshots**

https://i.imgur.com/OFSt2Wt.png

**Desktop (please complete the following information):**

OS: Win10
Browser: Chrome
Version: Version 80.0.3987.149 (Official Build) (64-bit) ~ latest version

**Additional contex

[2020-03-29 00:00] luchiago commented on #1393
I will try with a `liquid_tag` @maestromac

[2020-03-29 00:03] caleb15 commented on #6927
Note that this is the third bug in a row I've ran into in less than a hour... 😬
Maybe I've angered a witch or something, talk about bad luck :|

[2020-03-29 02:05] luchiago commented on #1393
Without uploading?

[2020-03-29 06:00] sw-yx opened #6930 "Hide API keys by default when in Dashboard"
**Is your feature request related to a problem? Please describe.**

by default, api keys are visible when you visit the dashboard. this goes against security best practice for example when you are in a livestream or screenshare or simply using the computer with someone standing behind you.

**Describe the solution you'd like**

it should be visually hidden as a password field by default and then e

[2020-03-29 06:02] sw-yx commented on #6930
if you will accept a PR from me, i would be happy to contribute.

We could edit this line with a little bit of javascript to make it password field

https://github.com/thepracticaldev/dev.to/blob/379aa4d1ece8b2e587966e3abf21175f7ac23c38/app/views/users/_account.html.erb#L27

and then switch the field type when we click "Show" or something.

alternatively , instead of switching it to an input, we c

[2020-03-29 06:29] #6742 closed

[2020-03-29 06:29] rhymes commented on #6742
Closing this for the lack of details

[2020-03-29 06:30] rhymes commented on #6776
Closing this for the lack of details

[2020-03-29 06:30] #6776 closed

[2020-03-29 06:30] rhymes commented on #6779
Hello @techmahedy, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-03-29 06:30] #6779 closed

[2020-03-29 06:33] rhymes commented on #6921
Hi @nainardev, thanks for the heads up!

We're actually using Preact (not React). That's probably why the extension is flagging it. It could also be because we're not using the latest available Preact, which is 10, but version 8.

We're working on a PR - #5639 - to update that as well. Hopefully the extension you're using won't flag that :D

[2020-03-29 06:33] #6921 closed

[2020-03-29 07:46] briwa commented on #6817
@bravemaster619 This might be a dumb question from me, but have you tried running `yarn install` before starting up the containers? I had this exact same error but as it turns out I forgot to do that, and it was fine afterwards.

[2020-03-29 08:40] rhymes commented on #6925
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-29 08:41] rhymes commented on #6925
Hi @caleb15, are you using any extensions? Do any errors appear in the console panel of the developer tools?

[2020-03-29 08:42] rhymes commented on #6926
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-29 08:43] rhymes commented on #6926
Hi @caleb15, are you using any extensions? do you see any odd errors in the developer's tools console?

[2020-03-29 09:20] rhymes commented on #6927
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-29 09:20] rhymes commented on #6927
hi @caleb15 :-( As I asked in the other two issues, do you have any particular extension installed? Because I can't reproduce either of them :(

[2020-03-29 09:22] rhymes commented on #6930
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-29 09:23] rhymes commented on #6930
Hi @sw-yx, great idea!

What about simply using  the [details](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) HTML element, to hide the section?

[2020-03-29 12:22] jhermann opened #6938 "Overview of my own series"
**Describe the solution you'd like**

In the personal menu, near "Dashboard", there should be a "My Series" item, leading to an overview of series I created. Alternatively, dashboard could get "All" (like now), "Posts", "Series", and "Comments" tabs.

The "Series: …" indicator above articles in the dashboard should link to an overview page for that series (cf. #2424).

*Other users* could get a li

[2020-03-29 16:20] bravemaster619 commented on #6817
@briwa Hi, thank you for your tip. I believe `yarn install` is included in Dockerfile:
[code]
Can you explain a little bit more how you did?

Where should I run that command?

[2020-03-29 16:38] rhymes commented on #6938
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-30 01:42] briwa commented on #6817
@bravemaster619 in my case, I'm using the `docker-compose` approach and there was some unrelated error happened on my end when building the container which might or might not have something to do with the error we're both facing. So what I did was to re-run the `yarn install` with `docker-compose run web yarn install` (or just `yarn`) and it seems to fix the issue.

[2020-03-30 02:14] caleb15 commented on #6927
Okta, quick javascript switcher, and onetab, none of which should be interacting with the website.

Okta is for signins, sorta like lastpass.
Quick javascript switcher is for turning off javascript but I have javascript enabled for dev.to.
Onetab allows you to store and group your tabs.

This isn't a easy issue to reproduce unfortunately. If you have some sort of error tracking like sentry maybe y

[2020-03-30 02:18] caleb15 commented on #6926
See https://github.com/thepracticaldev/dev.to/issues/6927#issuecomment-605745957 for extensions used. I should've checked the console at the time of the error, sorry. I tried to edit again but didn't get the error.

[2020-03-30 02:18] caleb15 commented on #6925
See https://github.com/thepracticaldev/dev.to/issues/6927#issuecomment-605745957 for extensions used. I should've checked the console at the time of the error, sorry. I tried to edit again but didn't get the error.

[2020-03-30 02:20] caleb15 commented on #6927
Unlike the other issues this one appears reproducible - try doing a hard refresh, clearing your cookies, signing in again, and editing your articles. Eventually you might hit a article that has this error.

[2020-03-30 02:22] caleb15 commented on #6927
I just tried disabling extensions and the error still happened.

[2020-03-30 03:31] citizen428 commented on #6930
Thanks for the suggestion @sw-yx! We'd be happy to accept your contribution, I'll assign you the issue 😃

FWIW I agree with @rhymes, using the `details` element could work very nicely for this use case.

[2020-03-30 03:32] sw-yx commented on #6930
oh of course. :)

[2020-03-30 04:03] citizen428 commented on #6923
@AthulMuralidhar This seems to be working fine for me.

[code]

Could it be that you're running into the issue regarding memory/swap [outlined in our docs](https://docs.dev.to/installation/docker/#known-problems-&-solutions)?

[2020-03-30 05:00] dmikurube opened #6942 "Accept "slug" in the front matter for titles not in the Latin alphabet"
**Is your feature request related to a problem? Please describe.**

There are not only English articles in dev.to, but also Chinese, Japaese, and else. Their titles are not in English, too, but their URL slugs cannot be generated appropriately from non-English characters.

The following article is a good example :
https://dev.to/chokri/-eg9

**Describe the solution you'd like**

How about having a

[2020-03-30 07:19] rhymes commented on #6927
hi @caleb15, do you remember if anything appeared in the console? trying to understand if there's some weird JS bug going on... I'll try to reproduce it in the meantime

[2020-03-30 08:21] rhymes commented on #6942
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-30 08:30] devjamal opened #6943 "From long back for same issue i am unable to write any post. Same old bug."
**Describe the bug*
My git repository have some random bugs like minor security and versions
so feel nothing to do with that.

**To Reproduce**

**Expected behavior**

**Screenshots**
I already Shared a screenshot please resolve this before closing.

**Desktop (please complete the following information):**

- OS: Windows10, android
- Browser: Google Chrome, Brave, Mozilla
- Version:

**Smartphone

[2020-03-30 08:35] rhymes commented on #6943
Hi @Rahul626, the screenshots you shared in the past unfortunately don't contain any useful information. Could you please share your DEV username?

[2020-03-30 09:50] #6907 closed

[2020-03-30 09:50] #6911 closed

[2020-03-30 10:56] brettimus commented on #5434
posting again just to keep myself accountable -- forked and added (what I assume to be) a fix today.

I've been spending my lunch break getting the dev environment set up (lots of waiting for docker right now 😁)

will hopefully open a PR and discuss how to write a test for this if possible

[2020-03-30 10:59] rhymes commented on #5434
Awesome @brettimus, thanks a lot!

[2020-03-30 13:20] benhalpern commented on #6255
Hey folks @citizen428 sorry for not seeing this.

Yeah, traffic here is basically exclusively as part of a personal automated moderation/postive react to new content that's been in place for a while. Now that we have so many site mods and overall activity it's no longer really needed. I've been meaning to wind it down.

We can do whatever we want with this endpoint. I'm the only user.

[2020-03-30 13:27] lightalloy commented on #6923
I have the same problem with docker on Ubuntu 19.10.
I'm not sure about the memory limitations, the part of `docker info` output:
[code]
So I assumed there are no limitations, or are there?

[2020-03-30 13:54] vaidehijoshi commented on #6710
Middle-of-the-night thought: in order to set this feature "live" safely, perhaps we can just create a timestamp for the time that we disable the welcome drip emails. Any user created after that timestamp should receive the welcome notifications, and we can have the rake task check for that.

[code]

[2020-03-30 14:01] maestromac commented on #1393
@luchiago yup, because this bug can happen with any large images, or so I assume.

[2020-03-30 14:11] lightalloy commented on #6927
I got this error once while trying to reproduce #6926, editing [a post](https://dev.to/lightalloy/improve-your-sleep-as-a-developer-21a9/). This bug is hard to catch/reproduce, as it doesn't happen consistently.
The error was on the line `helpHTML: document.getElementById('editor-help-guide').innerHTML` in the `articleForm.jsx` (I haven't recorded on which one of 2 unfortunately)

[2020-03-30 14:31] lightalloy opened #6949 "Small non-scrollable textarea when editing a post"
**Describe the bug**
When editing a post, the textarea is too small, and it's not possible to scroll through all the contents.

**To Reproduce**
1. Go to your post's page, e.g. https://dev.to/lightalloy/improve-your-sleep-as-a-developer-21a9
2. Click on "edit"
3. See that the height of the textarea is "limited" and it's not possible to scroll through post's content. There is no vertical scroll in

[2020-03-30 14:33] lightalloy commented on #6949
To our amazing contributors: issues labeled "type: bug" are always up for grabs, but for feature requests, please wait until we add a ready for dev before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we will follow up within 3 business days.

For full info on how to contribute, please

[2020-03-30 14:34] lightalloy commented on #6927
While trying to reproduce this and #6926 I ran into another issue #6949 which could be related to these issues (or not).

[2020-03-30 14:35] lightalloy commented on #6926
While trying to reproduce this and #6927 I ran into another issue #6949 which could be related to these issues (or not).

[2020-03-30 15:06] rhymes commented on #6949
Would this be related to https://github.com/thepracticaldev/dev.to/issues/6752 as well?

[2020-03-30 15:39] maestromac commented on #6764
Similar discussion https://github.com/thepracticaldev/dev.to/issues/2960

[2020-03-30 15:46] citizen428 commented on #6255
Thank you @benhalpern! 🎉 I'll put up the PR for removing this endpoint then and you can merge it whenever you have given your script the Viking funeral it deserves.

[2020-03-30 18:15] THausherr opened #6955 "Wrong number of followers in mail"
**Describe the bug**

Followers count in mail is off by one

**To Reproduce**

- Have a new follower
- get a mail
You have 1 new DEV followers in the past day!
XXX just followed you 🤗
You now have 48 total followers. See all of your recent followers right here.

- click on the link
it says "Followers(49)"

- wait 24 hours to make sure that nobody else followed
still 49 followers, no further mail

[2020-03-30 22:38] #6312 closed

[2020-03-30 23:17] #6707 closed

[2020-03-31 00:18] DestyNova opened #6962 "Can't see onboarding form "continue" button on small screens"
**Describe the bug**

The onboarding forms (where you're invited to follow topics and people from lists) are laid out slightly too large for low-resolution screens, such that you can't see the "Continue" button which is at the top of the form. It's not possible to scroll up, either.

Screenshot from my 1366x768 laptop (cropped to the visible area in Firefox; the rest is taken up with title bar, ad

[2020-03-31 03:26] citizen428 commented on #6942
Another option would be to use [Punycode](https://en.wikipedia.org/wiki/Punycode), as used in Internationalized Domain Names:

[code]
It's not super readable either, but at least it's a standard that's already used on the web.

[2020-03-31 05:11] blacksourcez opened #6967 "Copy to clipboard button quite not see clearly in dark mode"
**Describe the bug**

It's a cosmetic issue.

**To Reproduce**

1. Go to Profile.
2. Settings
3. Set theme to dark.
4. Go to home page
5. Open an article (any article).
6. At the bottom of the screen click the button '...'. (in this case I use the PWA installed with Chrome) the desktop version might be on the left-hand side.
7. You'll see the copy icon (back icon in the dark mode which quite not q

[2020-03-31 05:19] citizen428 commented on #6955
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-31 05:20] citizen428 commented on #6962
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-31 05:21] citizen428 commented on #6967
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-31 07:03] AthulMuralidhar commented on #6923
@citizen428  and @lightalloy  we'll need to check it out. I'll post my updates here :)

[2020-03-31 08:24] brettimus commented on #5434
btw opened the PR last night!

[2020-03-31 08:59] citizen428 commented on #6923
@AthulMuralidhar macOS 10.15.4 on my main machine. The only Ubuntu machines I currently have are all ARM-based, so I'd rather not try.

@lightalloy Can you try the fix described [here](https://unix.stackexchange.com/questions/342735/docker-warning-no-swap-limit-support) for the `WARNING: No swap limit support` issue?

[2020-03-31 09:02] lightalloy commented on #6949
I doubt it's related because #6752 describes that there is a main scroll, but it's not convenient. In this case, there is no main scroll which is the main problem.

[2020-03-31 09:56] mahalde opened #6971 "Wrong posts on top of the year / infinity page"
**Describe the bug**
On the [Infinity](https://dev.to/top/infinity) and [Year](https://dev.to/top/year) pages the actual top posts are not shown, but instead just posts of the user [javinpaul](https://dev.to/javinpaul).

**To Reproduce**
1. Go to https://dev.to/top/infinity
2. Look at the posts

**Expected behavior**
Should show the top posts of the year / all times.

**Screenshots**
![image](http

[2020-03-31 10:15] lightalloy commented on #6923
@citizen428 I was able to remove the warning in `docker info` by following the instructions, but the error on `docker-compose run web rails db:setup db:migrate search:setup` remains the same :(

[2020-03-31 11:01] rhymes commented on #6955
I don't think this is a bug, I think the count simply increased by one between you receiving the email and watching the counter on the dashboard.

The count in the email is computed by:

https://github.com/thepracticaldev/dev.to/blob/40310bbc59934d47ad0e3c3c13404fbf719ece08/app/views/mailers/notify_mailer/new_follower_email.html.erb#L9

The count in the dashboard is computed by:

https://github.co

[2020-03-31 11:02] #6955 closed

[2020-03-31 11:11] THausherr commented on #6955
Thank you for the explanation. I don't even understand why 49 people are following me despite me never having posted anything, only comments. 🤣

[2020-03-31 11:55] rhymes commented on #4879
@ludwiczakpawel provided some info related to this here https://github.com/thepracticaldev/dev.to/pull/6906#discussion_r399186611

The solution for this is not as straightforward as it has to take into account a few related aspects, including color branding

[2020-03-31 12:34] rhymes commented on #6971
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-31 12:34] rhymes commented on #6971
Thanks a lot for the heads up @mahalde, we're looking into it.

[2020-03-31 14:12] #6255 closed

[2020-03-31 14:15] #5178 closed

[2020-03-31 14:23] Kedar-K commented on #6608
I guess number of profile visits along with the graph will also be an amazing feature. Just like Twitter analytics

![Twitter Analytics account overview for KodgireKedar](https://user-images.githubusercontent.com/25702901/78037347-0cc25e80-7389-11ea-9f75-4155263ac1d2.png)

[2020-03-31 14:29] danisaza commented on #2433
Hi folks 👋🏽

I experienced this same issue last night. Here's a description and screenshot.

At risk of stating the obvious, this did not have a big negative impact on my experience using the site.

---

Last night (March 30th), I opened dev.to at around 10:45pm and noticed that one of the posts in my feed said that it had been written in the future (March 31st).

It was about 10:45pm CT on March

[2020-03-31 14:43] JulianoGTZ commented on #4887
Hi. This issue is still available to be fixed?

[2020-03-31 14:58] #6930 closed

[2020-03-31 15:01] rhymes commented on #4887
@JulianoGTZ sure, let us know if you can reproduce it. I'm going to assign you to the issue

[2020-03-31 15:06] JulianoGTZ commented on #4887
Nice. I will try to reproduce this error.

[2020-03-31 15:16] joshpuetz commented on #6971
We've solved this issue in production right now by running `update_score` on articles: we suspect something is amiss with the callbacks that should be trigger that call normally.

Should this issue remain open @rhymes ?

[2020-03-31 21:15] maestromac commented on #6616
Are you still running into this problem @roblack ? I can't seem to reproduce this on Brave.

[2020-03-31 21:32] #6706 closed

[2020-03-31 22:10] vaidehijoshi opened #6985 "Avoid clobbering user attributes with empty params during onboarding"
**Describe the bug**

In the `onboarding_update` endpoint, we currently override the attributes on a user with any params that are sent through via onboarding. This is usually fine if a new user wants to update their (otherwise blank) information when joining the platform. But, this also means that pre-existing users can never go to this page without accidentally overriding their own attributes, s

[2020-03-31 23:09] vaidehijoshi opened #6990 "Generalize welcome notification flow"
Right now, we're populating the broadcasts that correspond to the welcome notifications on `/internal/broadcasts`. We should also be thinking about new communities, and how we'll allow them to interact with this feature.

We need to think about how/if we want to pre-populate notifications, and how to give admins from other communities the ability to change those notifications. We also probably wan

[2020-04-01 03:25] citizen428 commented on #6949
Interesting, I was not able to reproduce this with Firefox Devloper Edition 75.0b11 on macOS 10.15.4. I know you mentioned that the bug doesn't appear consistently, but I don't remember ever encountering it.

[2020-04-01 04:15] citizen428 commented on #6971
@joshpuetz Maybe keep it open for a bit until we know what happened with the callbacks?

[2020-04-01 07:28] rhymes commented on #6985
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-01 07:32] rhymes commented on #6990
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-01 07:49] rhymes commented on #6971
I'm making sure it doesn't happen to thisMMAlife and I echo @citizen428, we might want to understand what happened before closing the issue

[2020-04-01 08:46] lightalloy opened #6994 "Generalize specific user's profile fields"
We have several fields in the `User` model that are specific to developers, like `currently_hacking_on`, or work-related ones, like `employment_title` or `employer_name`.

The fields are:
- set up on the user's profile form (`app/views/users/_profile.html.erb`)
- displayed on the user's profile page (`app/views/users/_sidebar.html.erb`)
- displayed on the article sidebar: (`app/views/articles/_use

[2020-04-01 08:49] lightalloy commented on #6994
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-01 10:07] catalinpit opened #6995 "Badge Notification Error"
**Describe the bug**

When you enable dark themes, the text from the last paragraph is unreadable.

It works fine on light themes, but not on dark themes.

**To Reproduce**

1. Set to a dark theme
2. Go to the notifications
3. Look at the last paragraph

**Expected behavior**

The text should be white on dark themes, and black on light themes.

**Screenshots**

![img-1](https://i.imgur.com/CbJvd9K

[2020-04-01 10:26] lightalloy opened #6996 "Improve SiteConfig editing experience"
**Is your feature request related to a problem? Please describe.**

Our `/internal/config` form starts getting too long as the `SiteConfig` grows.

**Describe the solution you'd like**

It would be nice to be able to update sections of the `SiteConfig` separately, e.g. have separate tabs (?)

**Describe alternatives you've considered**

Keep it as is, and suffer :D

[2020-04-01 10:27] lightalloy commented on #6996
To our amazing contributors: issues labeled "type: bug" are always up for grabs, but for feature requests, please wait until we add a ready for dev before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we will follow up within 3 business days.

For full info on how to contribute, please

[2020-04-01 10:31] lightalloy commented on #6995
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled "type: bug" are always up for grabs, but for feature requests, please wait until we add a ready for dev before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please p

[2020-04-01 10:31] lightalloy commented on #6995
@catalinpit fell free to work on this one :+1:

[2020-04-01 11:18] Avalander opened #6998 "Click to edit header appears when another user shares an unpublished post with me"
**Describe the bug**

Another user shared the link to an unpublished post with me. When I go to the link, I see the header with the link _Unpublished Post. This URL is public but secret, so share at your own discretion. Click to edit._

Clicking the link sends me to a 404 Not Found, so it's not a huge problem.

**To Reproduce**

1. Create an unpublished post.
2. Open the link to the post with anot

[2020-04-01 11:31] rhymes commented on #6998
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-01 11:54] #6995 closed

[2020-04-01 14:48] ChintuKarthi commented on #5041
Hi @jessleenyc  I would like to pick up this issue

[2020-04-01 15:28] FeruzOripov opened #7004 "Problem with badges in profile"
**Describe the bug**

There is a problem with the badge appearing in the profile section. Some badges are not fully displayed.
**To Reproduce**

For example, I checked this profile https://dev.to/artemis and got this issue.

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/34165740/78155359-c9cebc80-7456-11ea-815d-70c2be001d10.png)

**Desktop (please comple

[2020-04-01 18:47] vaidehijoshi commented on #6990
Pardon the terrible sketch (I am not a designer 🙈), but here's an idea of what we could do for this. My thought is that we can pre-populate the broadcasts, but allow their content to be edited. We also should probably display the time at which the broadcast(s) are sent out (for example: 2 hours after sign up, 5 days after sign up, etc.) The time doesn't necessarily need to be editable, but we shou

[2020-04-01 18:57] #6708 closed

[2020-04-01 23:30] luchiago commented on #6923
Hi, I am having the same problem as @lightalloy and @AthulMuralidhar. Does @AthulMuralidhar have any update?

[2020-04-01 23:56] #6985 closed

[2020-04-02 04:47] citizen428 commented on #6923
I'll be looking into this ASAP, just have some other things on my plate right now that need to be finished first.

[2020-04-02 06:29] rhymes commented on #7004
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-02 06:31] rhymes commented on #7004
I think it's due to the `grid-template-columns: 50% 50%` CSS rule

[2020-04-02 08:16] basarozcan commented on #7004
Because of  %50 %50 issue. There is 2 solution

1. Because of rotating issue on these badges, we have to consider rotate degrees to calculate width of image. (cos(degree) x img-width) + margin-left-right will be solve this issue to calculate width.
2. Easy way is one badge per one line 😄

[2020-04-02 10:16] lightalloy opened #7021 "Generalize pages logic"
- remove unused pages routes
- remove outdated `Pages` actions, create dynamic versions where needed
- it may be worth to move some functionality from the controller action to be a `Page` (e.g. `/downloads`)

[2020-04-02 10:37] lightalloy commented on #7021
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

I plan to add a more clear description in the process of working on this task. I marked the issue as "DEV team" for now, but parts of it could become available for the contributors in the future.

[2020-04-02 11:00] amitatpug commented on #6563
I had similar problem.
I found the solution at below link
http://support.divio.com/en/articles/3719228-database-is-uninitialized-and-superuser-password-is-not-specified

[2020-04-02 12:41] basarozcan opened #7040 "database migration can not be started on gitpod"
**Describe the bug**

I'm not able to finish the setup on gitpod because database migration script not working.

**To Reproduce**

1. Go to https://docs.dev.to/installation/gitpod/ page
2. Click open in gitpod
3. after finish loading gitpod, enter algolia api keys to config/application.yml
4. Save file and press any key on terminal
5. see the error stated below:

[code]

**Expected behavior**

Fin

[2020-04-02 13:09] rhymes commented on #7040
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-02 13:12] saulhardman opened #7042 "Unable to set nor update `tag_list`/`tags` via the v0 DEV API"
**Describe the bug**

On `POST`ing or `PUT`ing to the `https://dev.to/api/articles` DEV API endpoint neither the `tag_list` nor `tags` properties actually set tags.

**To Reproduce**

[code]

Check dashboard after executing the above and see no tags have been set.

The same goes for `"tag_list": "webdev"`, and the `PUT` method.

**Expected behavior**

Tags would be set correctly.

[2020-04-02 13:14] rhymes commented on #7042
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-02 13:15] pedrowindisch commented on #7004
This happens because the badges have a 27px margin-left property. It overflows the grid. If you remove their margin, the badges will be fully displayed. Take a look [here](https://imgur.com/a/O1pbQxV).

They look a little big and unharmonized, worse luck, but I think they could look better if we make them a little smaller. I'd be more than happy to work on this issue if you folks allow me to.

@ba

[2020-04-02 13:34] rhymes commented on #7040
@basarozcan I just tried the installation and wasn't able to reproduce it :(

![Screenshot_2020-04-02 thepracticaldev dev to - master](https://user-images.githubusercontent.com/146201/78255236-55982580-74f7-11ea-8530-c16f41c7defa.png)

Could you try again?

[2020-04-02 13:42] rhymes commented on #7042
Hi @saulhardman, what errors did you receive in the HTTP response?

I just tried locally and it worked:

[code]

I also tried on production (only added `published: false` to avoid publishing directly):

[code]

![Screenshot_2020-04-02 Test post - DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/78256172-7c0a9080-74f8-11ea-98d3-56c86aa0b340.png)

[2020-04-02 13:47] saulhardman commented on #7042
Hi @rhymes, thanks for taking a look. I don't receive any errors, but as you can from your tests above the `tags` array is empty in the response (and on the web app).

[2020-04-02 13:50] ludwiczakpawel commented on #7004
Thanks for reporting the issue and all the analysis above! I've put it on my plate and will take it for a ride probably early next week.

[2020-04-02 13:53] rhymes commented on #7042
Oooh, sorry, I should have read closer! I'm going to investigate as this is quite a bug :(

[2020-04-02 13:54] luchiago commented on #6923
Alright, @citizen428. I'll be looking for some solution too.

[2020-04-02 14:09] JulianoGTZ commented on #3739
Hi Folks. I have some doubts about this [issue](https://github.com/thepracticaldev/dev.to/pull/6992):

I'm trying to fix the code climate issues about the listing.jsx file and I have some doubts:

- Has another issue with a refactoring example on the front-end side?
- Has some tip about I can separate the parts on render in other components?
- It's possible the usage of React hooks?

Thanks for th

[2020-04-02 14:29] saulhardman commented on #7042
@rhymes no problem, and again, thanks for looking into it. Let me know if you require any further testing.

[2020-04-02 15:05] rhymes commented on #7042
I think I got it, the issue is that the payload is missing the `article` envelope.

If you look at https://docs.dev.to/api/#operation/createArticle the payload must be of this type:

[code]

not

[code]

so if you create a post like:

[code]

you'll create the tags:

[code]

Let me know if that works for you :)

[2020-04-02 15:50] basarozcan commented on #7040
@rhymes there are 3 console on bottom. first 2 perfectly working. There is a problem with latest one.

Also you can see Open Ports to see 3000 and 3005 are not working.

![resim](https://user-images.githubusercontent.com/2423158/78269896-d6b0e600-7512-11ea-81d6-32a47a50dea1.png)

[2020-04-02 16:31] saulhardman commented on #7042
@rhymes 🤦‍♂ that works perfectly – sorry for the false alarm and thanks for the help 🙇

[2020-04-02 16:31] #7042 closed

[2020-04-02 17:58] AthulMuralidhar commented on #6923
i found this in the elastic search container:
[code]
this is just a hunch, maybe the service cannot communicate to the outside world?

And this is what i have from Dockstation:
![Screenshot from 2020-04-02 19-57-34](https://user-images.githubusercontent.com/35686547/78282267-44addb00-751c-11ea-9912-c8c1f576410c.png)

[2020-04-02 20:08] nickytonline commented on #3739
I gave some assistance for this in #6992

[2020-04-02 21:14] k2glyph commented on #6923
@AthulMuralidhar Check volumes file permission. If it is `root`  try with changing it to the normal user.

[2020-04-02 21:24] #6710 closed

[2020-04-02 23:47] stltt opened #7057 "Safari on iPad does not load dev.to"
**Bug Description**
Starting from either an empty page (such as when opening a new tab) or from any previous page, inputting a dev.to url address or selecting a dev.to bookmark results in the browser indicating ~10% loaded. At that point the load stops. The browser neither displays any content from dev.to nor times out. The browser remains responsive to further input.

This problem started ca. 26-

[2020-04-03 00:56] bigblind opened #7058 "Reaction buttons don't communicate their "checked" status to screen readers."
**Describe the bug**

When reading an article using IOS's VoiceOver screen reader, the heart, unicorn and reading list icons don't indicate whether they're checked or not. The same is probably true for other screen readers.

I think this could be solved with `aria-role="checkbox" aria-checked="true"` on the element.

** steps to reproduce **

1. Open an article in Safari
2. Enable VoiceOver.
3. Mo

[2020-04-03 02:59] fugazi commented on #3305
Following this issue, any news ?

[2020-04-03 04:29] citizen428 commented on #7040
@rhymes I see the same, Redis and Elasticsearch start just fine, but the migrations don't work:

<img width="940" alt="Screen Shot 2020-04-03 at 11 10 08" src="https://user-images.githubusercontent.com/47985/78323364-c85adc80-759b-11ea-8a33-c74ab624d80f.png">

The problem is that Gitpod sets `DATABASE_URL` in the environment, so we don't create the DB and go straight to migrations.

[code]

If I u

[2020-04-03 06:53] citizen428 commented on #7057
Thanks for the bug report @stltt. We are already tracking Safari issues in https://github.com/thepracticaldev/dev.to/issues/6902, can you please add another comment there (someone already brought up Safari on iPad) and then close this issue here when you're done? Thank you!

[2020-04-03 06:55] citizen428 commented on #7058
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-03 06:55] citizen428 commented on #7058
Thank you @bigblind! I labelled this as bug since I think we should take accessibility issues seriously and unlike feature requests they don't have to go through an approval process.

[2020-04-03 07:19] citizen428 opened #7060 "Investigate Elasticsearch on Gitpod"
While working on #7040/#7059 I encoutered the following issue on Gitpod:

I tried to see if I could find a quick solution, but didn't, so it will have to wait until next week.

[2020-04-03 08:32] rhymes commented on #7060
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-03 12:58] michael-tharrington commented on #6471
I just wanted to link to this issue - https://github.com/thepracticaldev/dev.to/issues/5738 as it appears to be a duplicate.

[2020-04-03 13:01] saulhardman commented on #7042
One thing to note is that perhaps it should go 💥 if an `article` property isn't present?

[2020-04-03 13:15] rhymes commented on #6471
Thank you @michael-tharrington, closing this in favor of https://github.com/thepracticaldev/dev.to/issues/5738

[2020-04-03 13:15] #6471 closed

[2020-04-03 13:17] rhymes commented on #7042
That's a great idea! Care to open an issue about it?

[2020-04-03 13:30] stltt commented on #6902
Same issue on my iPad.

Including pertinent details from the issue I opened ([#7057](https://github.com/thepracticaldev/dev.to/issues/7057)) and closing it.

The problem does not manifest on Chrome or Firefox

    OS: IOS 13.4
    Browser: Safari
    Version: N/a
    non-default Safari settings: DuckDuckGo search

[2020-04-03 13:33] stltt commented on #7057
Closing is issue with pointer to tracked issue [#6902](https://github.com/thepracticaldev/dev.to/issues/6902)

[2020-04-03 13:33] #7057 closed

[2020-04-03 13:38] stroudn1 opened #7064 "Mod page color contrast issues"
**Describe the bug**

The color contrast on the majority of the mod page makes it hard to see/read

For hero: Text is #F9FAFA, background is #D4FFFE, contrast ratio is 1.03:1 (does not pass, should be at least 4.5)

Posts underneath: Text is #0A0A0A, background is #1A2634, contrast ratio is 1.29:1 (does not pass, should be at least 4.5)

**To Reproduce**

Go to https://dev.to/mod
See screenshots b

[2020-04-03 13:48] rhymes commented on #7064
Hi @stroudn1, thanks for raising this issue. I'm going to close this a duplicate of https://github.com/thepracticaldev/dev.to/issues/5738 and let you know we'll get to it as soon as possible!

[2020-04-03 13:48] #7064 closed

[2020-04-03 13:56] #7040 closed

[2020-04-03 14:13] catalinpit commented on #5738
Hello, can I pick this up, please?

Thank you!

[2020-04-03 14:51] mstruve opened #7066 "Move Internal Mod Searching to Elasticsearch"
When searching for users we are doing a fuzzy search in Postgres. Lets switch that search to Elasticsearch since that is what it was built for and can do it very fast. We can also use a type-ahead approach if we want.

Recommendation from #7002

[2020-04-03 14:53] guivinicius commented on #7066
Cool. 😉

[2020-04-03 14:54] rhymes commented on #5738
@catalinpit yes, thank you! Let us know if you need some assistance  :-)

[2020-04-03 15:15] rhymes commented on #7066
Hi @guivinicius, thanks a lot for volunteering? I'm going to assign you to it, and don't worry, there's no rush at present :)

[2020-04-03 15:28] IntegerMan commented on #5738
Thank you so much, @catalinpit, I really appreciate it.

[2020-04-03 17:31] devjamal opened #7073 "You have encounter an error! .Unable to write post!"
Bug encounter!! while updating profile and writing post!

**Describe the bug**
I am facing this issue long back, It's occurring especially on my account as tried multiple devices and browsers but the same.
I guess my git repo has some security bugs , please help me out!
I am writing this report for 5th time never resolve this you can see my last post date for verifying the age of this problem

![i

[2020-04-03 17:54] #6967 closed

[2020-04-03 17:56] creativenobu opened #7074 "Sidebar profile name color does not change when on Night Theme"
**Describe the bug**
The profile name does not change to a light color when on Night Theme. Seems like it uses the fallback feature of css var so it would load the default color `rgba(10,10,10,0.9)` before loading the `--theme-color` variable.

![Annotation 2020-04-03 134508](https://user-images.githubusercontent.com/3767728/78389790-5f7e5f00-75b1-11ea-8024-5b0926dccaa1.png)

**To Reproduce**

1.

[2020-04-03 18:30] pedrowindisch commented on #7074
The same happens with the hacker theme. I think I found a way to fix it (it's only a matter of adding a SASS variable) and I'd more than happy to work on this issue.

[2020-04-03 20:11] #6709 closed

[2020-04-03 21:27] c0d3b0t opened #7081 "Unexpected redirect to "https://dev.to/serviceworker.js" page"
**Describe the bug**

Unexpected redirect to "https://dev.to/serviceworker.js" URL.

**To Reproduce**

1. Go to your own comment under some post.
2. Click the "DELETE" link.
3. Click the "EDIT" link In the opened dialog where it says "You cannot undo this action, perhaps you just want to EDIT instead?".
4. Click the red "CANCEL" button in the bottom of "Editing comment" text area.

**Expected beha

[2020-04-04 08:21] brettimus commented on #5434
hit this again and it sent me down a rabbit hole of how to unregister a service worker within a service worker in safari dev tools...

admittedly the rabbit hole was not that deep. just got execute some code in the console of the service worker (it's the only way! I forgot how frustrating safari dev tools can be given that you're not allowed to open the inspector until you're on a fully-loaded pag

[2020-04-04 15:49] LukasPolak commented on #6914
same here

[2020-04-04 16:04] #7074 closed

[2020-04-04 17:32] mzakzook opened #7086 "Article show page: broken timestamp"
**Describe the bug**

The date printed to my post is one day ahead. Hover-over shows correct date.

<img width="1094" alt="Screen Shot 2020-03-28 at 10 06 09 AM" src="https://user-images.githubusercontent.com/19253610/78457486-5b107f80-765f-11ea-9287-e888552291dd.png">

**To Reproduce**

**Expected behavior**

**Screenshots**

<img width="1094" alt="Screen Shot 2020-03-28 at 10 06 09 AM" src="http

[2020-04-04 23:50] ItsASine commented on #5738
A workaround I have is to use a Dark Mode extension just to get rid of the bright and teal on the /mod page. This doesn't work for all views and systems, but it at least lets me keep working without needing a white UI.

Particularly [this extension](https://chrome.google.com/webstore/detail/dark-mode/dmghijelimhndkbmpgbldicpogfkceaj) with theme 14, but the theory holds for any overriding dark mode

[2020-04-05 00:48] allytiago opened #7087 "More login options"
Okay, Twitter and Github are quite famous, but don't you think it would be better to bring new login options? Like, sometimes the member does not want to login by one of the above and ends up feeling obliged to create an account in one of the two to have to do something in dev.to. I believe it would be great to have login support via:
- Gitlab;
- Telegram, which has a great tool for external login

[2020-04-05 00:55] allytiago opened #7088 "Telegram Instant View"
I don't know if you already know, but I believe so. Telegram a long time ago brought a tool called Instant View that intends to show an article without consuming a lot of internet data and show only the essentials. I believe it would be nice to create a template for posts on the telegram and maybe even a channel so that you can have the option of related posts.

If it was possible for the dev.to t

[2020-04-05 01:04] caleb15 commented on #6927
@rhymes I included the console log in the original post at the top of this thread, a TypeError appeared in the console.

[2020-04-05 01:25] allytiago opened #7089 "Post translator"
In fact, the posts published on the platform are of excellent quality and should be seen by everyone, but what about those who do not understand the language in which the publication was made? What to do? Well I believe it would be interesting to have an option where the reader could translate the content of the post and this could be done or internally, that is, the one who wrote would make other

[2020-04-05 05:10] ChintuKarthi commented on #5041
@karfau  Can I pick this one up?

[2020-04-05 13:25] pedrowindisch commented on #7087
There have already been some other issues regarding adding other auth providers (like #1595 and #1865). I personally find the idea of another provider great, as I typically use my Google account to log in on websites.

[2020-04-05 16:05] allytiago commented on #7087
Perhaps it is not interesting to have Google login since it has a slightly distant meaning, which is different from Gitlab, Github, Twitter and Telegram which has many technology users.
I also think it would be nice to have these new login options for those who have neither github nor Twitter and had to create an account to use it. I myself am Gitlab user and have not used github since the period

[2020-04-05 17:25] karfau commented on #5041
I just reported it and have no intention/capacity/experience to work on it.
So no objections from my side.

I would understand the labels that have been added in a way that a fix would be welcomed by the dev.to-team.

[2020-04-05 19:26] macarie commented on #7088
I tried to create a template... it's not finished and has some bugs, e.g. `/about`, `/contact`, `/privacy`, but it's still something 😄

This should be a link with an Instant View enabled: https://t.me/iv?url=https%3a%2f%2fdev.to%2fmonicafidalgo%2fjavascript-primitive-vs-reference-types-45eb&rhash=f5594021a5b301

I think you have to message it to yourself on Telegram otherwise it won't work 😕

[2020-04-05 19:30] #7088 closed

[2020-04-05 19:30] allytiago commented on #7088
I also created a template for dev.to but ended up leaving it a little aside.

[2020-04-06 03:22] citizen428 commented on #7089
Thanks for the issue @allytiago! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need h

[2020-04-06 03:24] citizen428 commented on #7087
Thanks for the issue @allytiago! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need h

[2020-04-06 03:25] citizen428 commented on #7087
As a heads-up, we lately had some internal discussions around this, but can't yet make any promises regarding final scope or delivery date.

[2020-04-06 03:27] citizen428 commented on #7086
Thanks for the issue @mzakzook! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need he

[2020-04-06 03:29] citizen428 commented on #7086
For anyone investigating this: if I had to venture a guess, I'd say we store this in UTC without time zone info, so when a post is written at specific times of the day (anything from midnight - UTC offset to midnight) this happens. This may be wrong though, as it's just a gut feeling based on previous experiences.

[2020-04-06 05:31] citizen428 commented on #7060
Involving @mstruve, as I don't think this issue is Gitpod specific: when I try to do a `rails search:setup`, I run into the following error:

This index does indeed exist:

[code]

This is probably an error, as all the other indexes correctly use their index name, not the alias name and get their shards allocated correctly (status green):

[code]
I read the relevant code and didn't find a problem

[2020-04-06 05:42] citizen428 commented on #7060
I also installed a completely new ES on my machine (via Homebrew, usually I run it via Docker or Nix) and get a similar error:

Indexes:

[code]

[2020-04-06 06:51] catalinpit commented on #5738
No need for a workaround anymore.

This is how it's going to look: https://github.com/thepracticaldev/dev.to/pull/7085

[2020-04-06 07:07] citizen428 commented on #7060
I manually removed the wrong indices with curl from Gitpod, which seems to work now for me (also locally 🤷‍♂ ). I'll keep this issue open for a bit longer to keep an eye on things.

@basarozcan Maybe you can try to start a pod from https://github.com/thepracticaldev/dev.to/pull/7092 too and report back how things are working for you?

[2020-04-06 07:30] basarozcan commented on #7060
@citizen428 I tried. `bin/startup` still not working 🤷‍♂

[2020-04-06 07:49] citizen428 commented on #7060
Can you please provide the error message?

[2020-04-06 09:04] basarozcan commented on #7060
Sure. Steps:
1. change application.yml with algolia keys and github keys
2. Press key for this message `Add them to config/application.yml, save the file, and press any key to continue... `
3. bin/setup && bin/startup started to initialize automatically
4. after that error message comes:

Post-install message from ulid:

ulid gem needs to install sysrandom gem if you use Ruby 2.4 or older.
Execute

[2020-04-06 10:21] rhymes commented on #5041
@ChintuKarthi yeah, thank you! Sorry for the delayed response. I'm going to assign you to the issue

[2020-04-06 10:34] citizen428 commented on #7060
Seems like you already had the seed data If you run the data update tasks (`rails data_updates:run`) `bin/startup` could actually work.

[2020-04-06 11:16] basarozcan commented on #7060
@citizen428 Yes, it is finally working :)

[2020-04-06 13:55] rhymes commented on #7081
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-06 13:57] rhymes commented on #7081
Thanks @c0d3b0t for raising this issue!

I traced the bug to

https://github.com/thepracticaldev/dev.to/blob/2a80b2a7d9e456c8ca8838382163282ee1b9ae59/app/views/comments/_form.html.erb#L58

it looks like since the page itself is loaded from the server worker, the first condition matches, not 100% sure but that's probably a clue

[2020-04-06 15:57] rhymes commented on #5738
Closed by https://github.com/thepracticaldev/dev.to/pull/7096

Thanks again @catalinpit, great work! 🔥

@IntegerMan @ItsASine @OmisNomis @stroudn1 let us know if you're still experiencing the issue :)

[2020-04-06 17:16] pkfrank commented on #6894
Hi @khaosdoctor I also want to point out the [PublishTo.dev project](https://dev.to/toddanglin/publishto-dev-scheduling-article-publishing-on-dev-to-3m0o) developed by the community.

If you are interested in proposing a solution to how we could build this directly into the platform, we are open to your ideas and might green-light it for further community contributions.  We just want to scope out

[2020-04-06 17:17] ChintuKarthi commented on #5041
@rhymes  I have raised a [PR](https://github.com/thepracticaldev/dev.to/pull/7103).

[2020-04-06 17:48] vaidehijoshi opened #7106 "Allow admins to suggest default users to follow during onboarding"
Currently, in our onboarding flow, we suggest users to follow (see `Suggester::Users::Recent` service [in the `users_controller`](https://github.com/thepracticaldev/dev.to/blob/master/app/controllers/users_controller.rb#L17-L21)).

However, for newer communities, the list of suggested users to follow isn't populated:
<img width="837" alt="Screen Shot 2020-04-28 at 1 54 57 PM" src="https://user-ima

[2020-04-06 17:49] vaidehijoshi commented on #7106
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-06 17:56] jessleenyc commented on #6608
Hey @thomasbnt, we're planning on releasing some additional analytics soon. Not everything you mentioned is covered there but I'd wait on jumping on this issue until the new features are in, so we can build on that solution.

[2020-04-06 17:57] thomasbnt commented on #6608
Ooooh thank you @jessleenyc for this new ! Can't wait :+1:

[2020-04-06 17:58] jessleenyc commented on #6938
Hey @jhermann! A series filter on the dashboard makes sense. We'll need to think further on what an external shareable link would look like for a series though. If you have suggestions on the design/layout/implementation, feel free to share and we can discuss further.

For any contributors - right now this issue is approved for adding a series filter but an external link is TBD.

[2020-04-06 19:25] thamaraiselvam opened #7109 "Copy link not working on android 10"
Copy button on article social sharing not working on android latest Android app.

1.go to any article
2. click share icon
3. click  copy icon

it's not copied anything.

Android version 10

App version 1.2.1

[2020-04-06 19:51] emgoto opened #7111 "I am not subscribed to the comments of my new posts by default"
**Is your feature request related to a problem? Please describe.**

When I create a new post, I am not subscribed to the comments, and so I wont receive any notifications if someone comments. After creating a post I have to make sure to subscribe to the comments.

**Describe the solution you'd like**

I create my posts via my personal website's RSS feed - I'm not sure if it this is related to the

[2020-04-06 19:59] devjamal opened #7114 "you encounter a error!..please help me out!"
**Describe the bug**
when I try to write something for post or updating profile then i face this issue!

I guess due to having bugs like security bug on my repos .  please remove my GitHub account
**To Reproduce**

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/42401032/78599437-c2504e80-786e-11ea-94f2-a1989505918d.png)

**Desktop (please complete the fo

[2020-04-06 20:00] michael-tharrington commented on #7073
Hey!

We've messaged the email connected to your DEV account via yo@dev.to to discuss what is happening here. If you can please communicate with us via this email, that will be the preferred medium to talk about this issue going forward.

Thanks!

[2020-04-06 20:00] #7073 closed

[2020-04-06 20:48] pkfrank opened #7117 "Long name is breaking to multiple lines"
**Describe the bug**
A user / organization with a long name will have it break onto multiple lines if it goes below a certain width.  This "problem" is more pronounced on smaller screens.

This might be a bit of an edge-cased based on the average length name and screen size, but I still think it's important to people and organizations with longer names.

**To Reproduce**
Press `CMD + minus` to zoo

[2020-04-06 20:52] vaidehijoshi commented on #7117
Using an ellipsis (`...`) might also be nice here. I've seen it done on some other platforms and it seems to usually prompt people to try to shorten the name, if possible.

[2020-04-06 20:53] ItsASine commented on #5738
![](https://media.giphy.com/media/qKNfbNbEN5ylW/giphy.gif)

[2020-04-06 23:30] #6714 closed

[2020-04-07 02:29] citizen428 commented on #7114
Hello @devjamal, thanks for notifying us of this problem, this looks like an issue specific to your account.

Please email yo@dev.to for more help.

[2020-04-07 02:29] #7114 closed

[2020-04-07 02:41] citizen428 commented on #7111
Thanks for the report @emgoto!

We already have notifications for this type of thing:

![dev_notifications](https://user-images.githubusercontent.com/47985/78624382-a753fd80-78b3-11ea-9f1f-fbf7559cf375.png)

This is how a single notification looks like:

![dev_not](https://user-images.githubusercontent.com/47985/78624403-b5a21980-78b3-11ea-8f61-bedc7c7cdcc2.png)

Additionally, you can enable email

[2020-04-07 06:57] rhymes commented on #7109
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-07 07:42] #6943 closed

[2020-04-07 08:06] rhymes commented on #7117
What we're doing now is to use a CSS property that automatically breaks words, so it works if the org is named `Something Very Long With Separate Words` but not, as you noticed, `SomethingVeryLongWithoutSeparateWords`:

![Screenshot_2020-04-07 SlightlyLongerName - DEV(local) Community 👩‍💻👨‍💻(1)](https://user-images.githubusercontent.com/146201/78644959-09623200-78b7-11ea-81df-ce7cb0657cec.png)

(I

[2020-04-07 10:29] emgoto commented on #7111
I do get notifications when people reply to one of my comments (i.e. that thing you're pointing to with the arrow in the image) but I don't get any notifications for when a person comments on my post, specifically - not in reply to one of my comments, but just as a comment on its own.

If I scroll back through my comment notifications, they're all just replies to my comments.

[2020-04-07 10:41] rhymes commented on #7086
This happens because the datetime in the HTML `title` attribute is correctly rendered using the client's computer timezone, while `Mar 23`, the one shown in the text, is computed server side and the server is always in UTC.

Great catch @mzakzook and good instincts @citizen428 :D

[2020-04-07 11:13] rhymes commented on #7086
I played with it a bit and it's definitely doable, we already have the function to do it. There are a few decisions to be made:

- do we want to localize the visible string? Right now we're only localizing `title` attributes, both for articles and for comments:

https://github.com/thepracticaldev/dev.to/blob/b1ebc32e454bd3fe70abf76edcb83b2ec74594ac/app/assets/javascripts/initializers/initializeArt

[2020-04-07 11:55] dravitykeeper opened #7134 "ArgumentError at /users/auth/github/callback"
**Describe the bug**: When clicked on login in with github it shows
ArgumentError at /users/auth/github/callback

wrong number of arguments (given 2, expected 0..1)

![image](https://user-images.githubusercontent.com/46466273/78666061-68926780-78f4-11ea-866f-d544ecb286bf.png)

**Screenshots**

**Desktop (please complete the following information):**

- OS: Ubuntu
- Browser: Firefox

[2020-04-07 12:54] rhymes commented on #7134
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-07 13:03] rhymes commented on #7134
Hi @dravitykeeper, thanks for the report! I think that coincidentally you've highlighted a different bug which prevents you to find out why you're experencing an authentication error.

What the error is saying is that `Rails.logger.error` accepts up to 1 argument, instead of 2. The reason why the code is like that is that we used to use Timber which unfortunately hijacks the `Rails.logger` changin

[2020-04-07 15:57] #7081 closed

[2020-04-07 16:06] JessicaG commented on #7117
For those who can't shorten their name, it would be great to see a css rule to help adjust on different screen size. For example, when the width is at 1320px, the font size could reduce from 60px to 50px and it still looks nice.

[2020-04-07 16:34] tomByrer opened #7139 "A11y analysis"
From here: https://github.com/a11y-reviews/a11y.reviews/blob/master/index.md#devto

[2020-04-07 17:29] benhalpern commented on #7139
Thanks for pointing this out. WCAG compliance is where we want to be and being on this list is a really bad thing. We'll take this as a note to prioritize closing the loop on some of our accessibility cases like described here with the follow button only accessible via hover. Thank you very much for pointing this out.

[2020-04-07 17:43] khaosdoctor commented on #6894
@pkfrank That's INCREDIBLE, this will most certainly solve my problems for now.

About the idea, let's see if I can better explain that, but I think it'd be easier to understand if I show you what other platforms have in place already.

So let's take Medium, when I draft a new story there's a `publish` button on top:
![image](https://user-images.githubusercontent.com/3200560/78700968-953a8500-78dc

[2020-04-07 18:00] tomByrer commented on #7139
Good news; your site has a screenshot with an AAA rating in an article about accessibility at Google's web.dev:

https://web.dev/a11y-tips-for-web-dev/

[2020-04-07 18:04] AVDHES opened #7142 "Eevery founder of any site understand that with site team he is greatest wise. Who site is telling incorrect user name and password saving by google what can tell about it."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-04-07 18:11] AVDHES opened #7143 "We don't have any work. we have a work only for all site, request request request request request request............................................................request and request."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-04-07 20:28] jessleenyc commented on #7087
Hey @allytiago - totally agree here. We're planning to add more auth options, we just need to do some refactoring first.

[2020-04-07 21:09] allytiago commented on #7087
I think it would be nice to add the possibility of login by git clients as an example gitlab. And since the site also acts as a web app and is functional on mobile devices, I think it would also be promising to have support for the Telegram auth.

[2020-04-07 22:17] vaidehijoshi commented on #6545
@lisasy Just realized that in the figma designs provided here, we also include the user's name in the heading (ex.: `Maria - Welcome to DEV!`). Looks like we don't have that on production yet, would you like me to include that change as part of this ticket?

[2020-04-07 22:52] lisasy commented on #6545
@vaidehijoshi Yes, we want to include their name :) It makes this more personable!

[2020-04-07 23:57] ZenulAbidin commented on #6627
I'd also like support for inline KaTeX tags, they would be very useful in long paragraphs so as to not break the flow.

[2020-04-08 03:46] citizen428 commented on #6627
No problem @ZenulAbidin, hope the inline tags work well for you 😃

[2020-04-08 04:11] citizen428 commented on #7111
Thanks for clarifying @emgoto, we'll look into it.

[2020-04-08 07:32] abenettt opened #7147 "Refrain from using terms such as blacklist and whitelist in the codebase"
**Describe the bug**
In some parts of the codebase some fields can still be found that use the term `blacklist` or `whitelist`, DEV is a very open and diverse community and I think the codebase should reflect that.

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the follo

[2020-04-08 07:42] rhymes commented on #7147
Hi @abenettt, totally agreed and thanks for pointing these out!

I did a quick check:

`blacklist`:

[code]

this can be easily changed, yay!

`whitelist`:

[code]

Some of these can't be unfortunately changed as they come from external gems or libraries, like `rack-protection`, `carrierwave`, `bullet`,  `webconsole` and `xss.js`.

We'll check if there are quick wins in there!

Thanks again

[2020-04-08 07:46] rhymes opened #7148 "Refactor authentication backends code for modularity"
Before adding new auth backends we need to clean up the code paths around authentication with Twitter/Github, with at least the following goals:

- modularity: we should be able to plug them in and out with a flag (advanced bonus: if we can load the related gems in memory only if the feature is enabled)
- centralization: there should be only one place one has to call to know if a backend is enable

[2020-04-08 07:46] rhymes commented on #7148
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-08 07:59] citizen428 commented on #6817
Note that it may be necessary to run `yarn install` when JS dependencies have changed since the container was built, i.e. by checking out a different branch, since we are mounting the current volume. The following command does the trick:

[code]

As per the Docker [documentation](https://docs.docker.com/compose/rails/#rebuild-the-application):

I'll try to make the process a bit smoother.

[2020-04-08 11:49] brasxu opened #7152 "topbem"
[

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-04-08 12:31] #7152 closed

[2020-04-08 14:25] catalinpit commented on #1123
@rhymes if you want, I can make that change. :-)

[2020-04-08 14:36] rhymes commented on #1123
Hi @catalinpit, thanks for volunteering! It makes sense, though this is quite an old issue so my "quick fix" might not apply anymore.

pinging @ludwiczakpawel for confirmation on the right approach

[2020-04-08 16:02] leewynne opened #7159 "Allow podcasts and other sidebar links to be visible without authentication."
**Describe the solution you'd like**

Ability to allow enable / disable sidebar links such as podcasts, videos etc to be visible without authentication (excluding reading list, moderation etc)

**Additional context**

My logic here is to support smaller communities as it is not well known that these features exist unless a member logs in, also the podcast feature is getting better and better and s

[2020-04-08 16:52] AVDHES opened #7160 "Effective profile with a fix but"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

<//"Add a fix bug report about account and other Creativity[{(fixbug)]}>>//

[2020-04-08 19:35] jitendra1998 commented on #6362
Hi @benhalpern, interested in working on this feature.

[2020-04-08 19:53] Ridhwana commented on #7159
Thanks for the issue @leewynne! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need he

[2020-04-08 19:58] Ridhwana commented on #7160
Hi @AVDHES thank you for opening an issue. However, could you please fill out the template and update the heading to be more clear, and the DEV team will try and reproduce your issue.

[2020-04-08 23:06] vaidehijoshi opened #7169 "Implement new styles for welcome notifications"
Now that welcome notifications are live, we can focus on making them prettier! Here is the working design by @lisasy:

![image](https://user-images.githubusercontent.com/6921610/78841602-a5bd2f00-79b2-11ea-8704-f0d652b3956a.png)

Some additional links:
* [Crayons documentation](https://dev.to/page/crayons)
* [Figma design](https://www.figma.com/file/TtB4hJxqTE26T3aUCSvjhk/Notifications?node-id=294

[2020-04-08 23:07] vaidehijoshi commented on #7169
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-08 23:08] bernardbaker opened #7170 "Long web URL goes out of text box"
**Describe the bug**
I was viewing my notifications. And then I scrolled down to a reply. There was a URL in the box and the text bled out of the box and out of the viewport. I was using a mobile phone.

**To Reproduce**

Click the bell on mobile.
Find a notification which has a long URL in it.
See if it bleeds out of the text box.

**Expected behavior**

The word should wrap around to the next li

[2020-04-09 03:50] citizen428 commented on #7170
Thanks for the issue @bernardbaker! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and nee

[2020-04-09 03:50] pedrowindisch commented on #7170
This problem also happens on the desktop. Working around the website, I found two solutions to this issue.

We can fix it by applying a `word-break: break-word` property on the text. It's a quick and easy solution, but if the URL is too big, the notification can get really large. Take a look at the screenshot below.

![dev to link](https://user-images.githubusercontent.com/30203228/78855398-2eab89

[2020-04-09 09:33] rhymes commented on #7160
Hello @AVDHES, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-04-09 09:33] #7160 closed

[2020-04-09 09:50] rhymes commented on #7170
I think this might be related, I just noticed it this morning

![Screen Shot 2020-04-09 at 11 23 17](https://user-images.githubusercontent.com/146201/78882401-4d406d00-7a58-11ea-98c9-b61b7bd67f41.png)

[2020-04-09 09:55] jean commented on #2960
Came here to say this.
At 150% zoom, HackerNews shows 15 items on a screen.
At 90% zoom, dev.to shows 3 or 4 items.
There are three crowded columns, and two wide borders on either side (looks like about 20cm worth of borders).

[2020-04-09 11:26] mahalde opened #7175 "HTML entities on feed page"
**Describe the bug**
On the feed page, an article title shows an HTML entity, where as when I click on the article, the title is correctly shown.

**To Reproduce**
Find a post with an HTML entity in your feed.

**Expected behavior**
The article title should show the decoded HTML entity.

**Screenshots**
![image](https://user-images.githubusercontent.com/39100405/78890202-7adfe300-7a65-11ea-9cf5-e1

[2020-04-09 12:06] rhymes commented on #7175
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-09 12:09] rhymes commented on #7175
Thanks @mahalde! Adding the link of the article for easier access: https://dev.to/calin92540842/what-s-so-special-about-doctype-html-3cd6

Also, I just noticed it looks okay in the user's profile page too, same in the title of the comments (but not if it's in the comment itself):

![Screenshot_2020-04-09 PDS OWNER CALIN (Calin Baenen) - DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.c

[2020-04-09 12:22] catalinpit commented on #6919
Did anyone pick this?

If not, I'd like to pick it. :-)

[2020-04-09 13:00] jessleenyc commented on #6919
@catalinpit go for it!

[2020-04-09 13:07] catalinpit commented on #6919
!(notifs)[https://i.imgur.com/UpBtGUw.png]

Seems like someone fixed it, or?

[2020-04-09 13:48] rhymes commented on #6919
Oh nice! Didn't notice. It looks like it was fixed in #6957

Closing this, thanks @catalinpit for checking!

[2020-04-09 13:48] #6919 closed

[2020-04-09 16:45] lisasy opened #7198 "Actions Menu: Set Experience Level"
### Status: Ready for implementation ✅

![take action](https://user-images.githubusercontent.com/816402/78920492-51fd2500-7a48-11ea-9861-bc4b23c8bd01.png)
**⚠️ Warning: the screenshot above is for illustration purposes only — please see Figma doc for true specs**

---

### Requirements
A mod can:
- open the "Set experience level" section of menu
- select any of the options below

If mod selects an

[2020-04-09 16:57] rhymes commented on #7198
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-09 17:03] lisasy commented on #7198
@rhymes thanks for adding the tags :)

[2020-04-09 17:47] #6546 closed

[2020-04-09 22:35] benhalpern commented on #7159
This looks good to me. No reason we don't need to include these navigation links in the non-authenticated view. Of course, the view shouldn't include reading list (unless we want to have it be a log-in trigger, but better just to leave it out).

So this is good to go in my opinion.

[2020-04-10 03:40] citizen428 commented on #7170
@pedrowindisch Thanks 😃 If you're going to submit a PR please assign yourself the issue so we don't duplicate any efforts.

[2020-04-10 09:00] tannakartikey commented on #838
@rhymes [`fastly-rails`](https://github.com/fastly/fastly-rails) gem is deprecated. I am trying to give Rails update(https://github.com/thepracticaldev/dev.to/issues/2879) a try and stumbled upon your comments there:
https://github.com/fastly/fastly-rails/issues/87#issuecomment-605851817

Should we change the title of this issue to "Use  [fastly-ruby](https://github.com/fastly/fastly-ruby) gem" an

[2020-04-10 10:05] rhymes commented on #838
Hi @tannakartikey, thanks for the update!

Indeed is deprecated. We're in the process of removing the `fastly-rails` gem, see:

- https://github.com/thepracticaldev/dev.to/pull/7070
- https://github.com/thepracticaldev/dev.to/pull/7108
- https://github.com/thepracticaldev/dev.to/pull/7119
- https://github.com/thepracticaldev/dev.to/pull/7145
- https://github.com/thepracticaldev/dev.to/pull/7155

I

[2020-04-10 10:05] #838 closed

[2020-04-10 10:06] rhymes commented on #2879
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-10 10:07] rhymes commented on #2879
@tannakartikey after we've upgraded fastly-ruby and verified everything works maybe we can synchronize of the path to Rails 6, if nothing special is required on our side, we'd be happy to have you submit the "upgrade to Rails 6 PR" :)

[2020-04-10 11:09] tannakartikey commented on #2879
@rhymes sounds good. I understand if you have to keep it reserved for the DEV team.

[2020-04-10 13:46] shreya-gr opened #7214 "base: Invalid Github issue link"
**base:  Invalid Github issue link**

At the time of embedding GitHub comment inside the blog post. I'm facing the issue. Though, I've write the syntax properly.

![image](https://user-images.githubusercontent.com/21064733/78994793-8d8a1300-7b5e-11ea-9c93-cd174732f901.png)

as per written in the guide
![image](https://user-images.githubusercontent.com/21064733/78995164-6122c680-7b5f-11ea-955d-50d6

[2020-04-10 14:17] rhymes commented on #7214
Hi @shreya-gr!

There's a double forward slash between github.com and prisma-labs, if you use:

[code]

it'll work!

[2020-04-10 15:03] #6858 closed

[2020-04-10 15:58] imrishabh18 commented on #4890
Hey, i would like to work on the issue.

[2020-04-10 16:10] rhymes commented on #4890
@imrishabh18 thank you! I'm going to assign you to the issue :)

[2020-04-10 16:21] imrishabh18 commented on #4890
@rhymes Can you brief me what do i have to do to fix this issue ?

[2020-04-10 16:25] rhymes commented on #4890
@imrishabh18 the problem with this issue is that it doesn't always happen so I'm not sure how one would go about to fix it either. Were you able to reproduce it?

[2020-04-10 16:58] imrishabh18 commented on #4890
No , i am not able to reproduce it.

[2020-04-10 17:05] rhymes commented on #4887
To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we will follow up within 3 business days.

For full info on how to contribute, pleas

[2020-04-10 17:05] rhymes commented on #4889
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-10 17:06] rhymes commented on #4931
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-10 17:08] rhymes commented on #4890
I'm going to remove the `good first issue` label but keep it open. Sorry for the confusion @imrishabh18! If you're interested we have a few issues [labeled bug and goog first issue](https://github.com/thepracticaldev/dev.to/issues?q=is%3Aopen+label%3A%22good+first+issue%22+label%3A%22type%3A+bug%22) .

Let us know if you need assistance!

[2020-04-10 17:13] rhymes commented on #5279
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-10 17:13] rhymes commented on #4934
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-10 17:16] rhymes commented on #4929
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-10 17:16] rhymes commented on #4890
To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we will follow up within 3 business days.

For full info on how to contribute, pleas

[2020-04-10 17:17] rhymes commented on #4888
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-10 17:18] rhymes commented on #4884
To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we will follow up within 3 business days.

For full info on how to contribute, pleas

[2020-04-10 17:23] rhymes commented on #2483
Tip: `rspec --bisect` is quite useful in hunting down ordering issues

[2020-04-10 17:35] lisasy opened #7222 "Actions Menu: Panel Layout (UI/Visual)"
### Status: Ready for implementation ✅

### Design assets
- [UI specs + states (Figma)](https://www.figma.com/file/Jgq2Qg3MqmjQ4uVdJtyAsS/Moderation?node-id=419%3A8264)
- [High-level flow (Figma)](https://www.figma.com/file/Jgq2Qg3MqmjQ4uVdJtyAsS/Moderation?node-id=470%3A0)

[2020-04-10 17:38] lisasy opened #7223 "Component: Snackbar Confirmation"
Closing this task because we're addressing this here: https://github.com/thepracticaldev/dev.to/pull/7302

[2020-04-10 17:38] lisasy opened #7224 "Component: Tooltip"

[2020-04-10 17:39] lisasy opened #7225 "Actions Menu: Mark as Low Quality 👎🏽"
### Status: Ready for implementation ✅

### Requirements
A mod can:
- mark as low quality.
- after submission, get a snackbar confirmation.
- undo action.

A mod can both **mark as low quality** and **mark as spam**. A mod cannot mark as low quality and high quality.

### UX details
- Interaction states: [Default, Hover, Selected]
- Components: tooltips

### Design assets
- [Flow: rate post qualit

[2020-04-10 17:39] lisasy opened #7226 "Actions Menu: Mark as Spam 🤢"
### Status: Ready for implementation ✅

### Requirements
A mod can:
- mark a post as spam.
- confirm action in follow-up modal.
- after submission, get a snackbar confirmation.

A mod can both **mark as spam* and **mark as low quality (thumbs down)**. **This action is more commonly known as the vomit action**, but this is a way for us to name it.

### UX details
- Interaction states: [Default, Hov

[2020-04-10 17:40] lisasy opened #7227 "Actions Menu: Panel Layout (Interaction)"
### Status: Ready for implementation ✅

### Video demo
https://www.dropbox.com/s/5wgxlnkxw0dfx8n/2020-04-15-Open-Actions-Panel.mov?dl=0

### Requirements
A mod user can:
- see the "mod tool" button in the bottom right area of their viewport.
- click on button to open the `actions panel`
- hide the `actions panel` again

### Design assets
- [Actions panel interaction specs (Figma)](https://www.figm

[2020-04-10 18:02] juliannatetreault opened #7228 "Ensure Cover Images Use Image Tags and Adhere to the 16:9 Ratio"
We currently use `<div>`s with an `image` class and a `background-image:url` for cover images on DEV. However, there is a better solution which is to replace the `<div>`s with `<img>` tags. In addition to this, it is imperative that we ensure that cover images adhere to the 16:9 ratio, with a width of around 1200px for SEO purposes. To improve DEV's overall SEO, it is important that we optimize co

[2020-04-10 18:42] rhymes commented on #7228
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-10 19:06] juliannatetreault opened #7229 "Redirect Uppercase Routes to Lowercase Routes"
There are some routes on DEV that are uppercase rather than lowercase. To better DEV's overall SEO, it is imperative that the uppercase routes be redirected to lowercase routes and that in general, we ensure that routes are case-sensitive. To accomplish this, we must ensure that uppercased `usernames` redirect to lowercased `usernames` (for starters) before building out this functionality for all

[2020-04-10 21:49] lisasy opened #7233 "Actions: Integrate canned responses functionality to design updates"
This task helps accomplish this other task: https://github.com/thepracticaldev/dev.to/issues/7256

[2020-04-10 23:09] elipinska commented on #7060
I've come across the same error when setting up Dev.to development environment for the first time (after running `bin/setup`):

[code]

Following @citizen428's notes [here](https://github.com/thepracticaldev/dev.to/issues/7060#issuecomment-609605004), I've deleted the incorrect index with curl:

[code]

The next time I ran `bin/rails search:setup`, the issue was gone 🎉

[2020-04-11 04:56] shreya-gr commented on #7214
@rhymes thanks for drawing my attention. It works well.

[2020-04-11 04:56] #7214 closed

[2020-04-11 08:11] rhymes commented on #7233
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-11 11:25] tannakartikey commented on #7175
@rhymes can I take this one?

[2020-04-11 11:29] rhymes commented on #7175
@tannakartikey sure, thank you! You should be able to reproduce by creating locally an article with that title

[2020-04-11 12:20] Kvaibhav01 opened #7236 "Markdown code not formatting correctly"
**Describe the bug**
When I write some code block in the editor like in JSX, it won't render it as formatted. It just shows up as a single line code block.

**To Reproduce**

1. Go to 'Write a post' button to open the editor.
2. Write some code block in the body like this in JSX:

[code]

3. Hit the 'Preview' or 'Save draft' button you will see the code block isn't formatted as expected.

**Expect

[2020-04-11 14:26] rhymes commented on #7236
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-11 14:28] rhymes commented on #7236
@Kvaibhav01 thanks for the report!

I initially thought it was an issue of backticks in the template string, but I tested with the following:

"""
const name = "Bob";

function HOC(WrappedComponent) {
  return class Test extends Component {
    render() {
      const newProps = {
        title: 'New Header for `${name}`',
        footer: false,
        showFeatureX: false,
        showFeatureY: tr

[2020-04-11 14:35] Kvaibhav01 commented on #7236
Hi @rhymes, here's the Gist for the article:

https://gist.github.com/Kvaibhav01/78912ad247356feabd698967e5d8b6a5

As you can see it's rendering properly on GitHub but it's not working for code examples from point no. _8. What's the difference between `createElement` and `cloneElement`?_

[2020-04-11 14:59] rhymes commented on #7236
Found the problem, is the backtick at the end here:

![Screenshot 2020-04-11 at 4 58 10 PM](https://user-images.githubusercontent.com/146201/79047233-aa355200-7c15-11ea-9236-7b6084b7e9fc.png)

Since it's not closed it throws out the whole parser. If you remove it or replace it with another char, the article will render correctly.

Let me know if that works for you

[2020-04-11 17:19] Kvaibhav01 commented on #7236
Yes, it works! So stupid of me. I was finding the problem to this all day long.

I'm closing the issue, thank you 😄

[2020-04-11 17:19] #7236 closed

[2020-04-11 19:04] jitendra1998 commented on #1445
Hi @jessleenyc and @maestromac, interested in working on this feature.

[2020-04-11 20:04] jitendra1998 commented on #1445
Hi,

Added oembed liquid tag using ruby-oembed gem.
Here is an example of amcharts.com chart in dev.to editor,

![Demo amchart](https://user-images.githubusercontent.com/13114810/79053398-b4c60a80-7c5a-11ea-9519-3d06f621f422.png)

A related issue for the ability to add charts in dev.to [#6362](https://github.com/thepracticaldev/dev.to/issues/6362)

[2020-04-11 20:18] muety commented on #6807
I totally support the request to implement [Webmentions](https://www.w3.org/TR/webmention/) and / or [Pingback](https://www.w3.org/TR/webmention/#bib-Pingback) integration! 🙂 Since very community- and open-source focused, dev.to is a perfect candidate for pushing those open web standards / protocols.

[2020-04-11 20:22] jitendra1998 commented on #6369
Hi @rhymes, I am interested in working on this feature.

[2020-04-11 20:29] jitendra1998 commented on #6369
While trying to figure out a solution for issue #1445, read about oembed and created a liquid tag for it using ruby-oembed.

Here is an example of amcharts.com chart in dev.to editor using oembed liquid tag,
![Demo amchart](https://user-images.githubusercontent.com/13114810/79053398-b4c60a80-7c5a-11ea-9519-3d06f621f422.png)

A related issue for the ability to add charts in dev.to [#6362](https://g

[2020-04-11 20:57] sksiyer opened #7237 "Cannot access Publish RSS Page from Settings"
**Describe the bug**
The publish rss page is not found

The publish rss page is not found
**To Reproduce**
Go to settings then click Publish from RSS from navigation bar on left
https://dev.to/settings/publishing-from-rss

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following inform

[2020-04-11 21:27] rhymes commented on #7237
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-12 03:01] SiddAjmera opened #7239 "Code formatting seems to be broken"
**Describe the bug**

When I try to insert some code in my article, it doesn't render well in the Preview Mode.

I tried inserting code just with regular MD Syntax(```css MY CSS HERE ```) but it doesn't render properly.

**To Reproduce**

1. Go to https://dev.to/new
2. Insert some code in there

![image](https://user-images.githubusercontent.com/5053266/79059416-1a4ae300-7cbd-11ea-8039-155e20edf31

[2020-04-12 03:41] SiddAjmera commented on #7239
Okay, my bad. Apparently I missed a starting ` somewhere at the top section of the article and things started not formatting properly from that point on.

That being said, I feel there should be some sort of a validation error in cases like this.

[2020-04-12 03:41] #7239 closed

[2020-04-12 07:24] JuanVqz opened #7240 "Docker Installation fails on gemfile install"
**Describe the bug**

I got the error executing **./docker-run.sh INTERACTIVE-DEMO** then put the env variables
while Gemfile is installing gems I found this error

**Expected behavior**

Run dev.to in local dev XD

**Screenshots**
<img width="665" alt="Screen Shot 2020-04-12 at 1 45 33" src="https://user-images.githubusercontent.com/7331511/79062400-ad553000-7c5f-11ea-92ae-710df7ac54c6.png">
<img

[2020-04-12 07:25] JuanVqz commented on #7240
Can I open a PR?

[2020-04-12 07:35] rhymes commented on #7240
@JuanVqz

Sure, thank you!

ps. does it work with the recommended method through `docker-compose`?

[2020-04-12 07:41] JuanVqz commented on #7240
@rhymes I don't know, Trying **docker-run.sh** was my first thought but let me try it...

[2020-04-12 08:28] muety opened #7242 "Can't create webhooks"
Hi all! I was trying to use the API to create a webook, by `POST`ing to `dev.to/api/webhook` with the following body:

[code]

I get a `200` response, however, with an empty array of webhook. When `GET`ting `/api/webook`, an empty array is returned as well.

[2020-04-12 08:37] rhymes commented on #7242
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-12 19:15] zakirkun commented on #7240
thats my problem . hufttt

[2020-04-12 21:16] rhymes commented on #7242
Hi @muety, how did you send the request? could you share the full back and forth from the client and the server?

I tried with curl and it worked correctly:

[code]

[2020-04-12 21:50] muety commented on #7242
That's interesting, the problem occurs when using `dev.to` as URL, but when prefixing it with `https` it works. However, without `https`, I'm still getting a `200`. Anyway, issue solved, thanks! 🙂

[2020-04-12 21:50] #7242 closed

[2020-04-12 22:28] #7237 closed

[2020-04-13 02:31] achasveachas commented on #2365
Hey y'all, I submitted a back-end implementation for addtional optional fields (including pronouns) in https://github.com/thepracticaldev/dev.to/pull/7246!

I don't feel comfortable enough to do the front-end, hope this gets implemented soon!

[2020-04-13 05:27] 99darshan opened #7248 "C# badge detail page display the details of C badge."
**Describe the bug**
Clicking on details of C# badge display the details for C badge.

**To Reproduce**
Head on to /badges page, clicking on both the C# badge and C badge redirects to the same /badge/c page. I guess the C# and C badge should have different description and should redirect to their own details page.

[2020-04-13 06:58] Defman21 opened #7249 "Potentional XSS in Notifications"
**Describe the bug**

Sometimes, I have a notification from DEV that looks like this:

[code]

Today I noticed a weird behavior of it. I got a notification with a link, but when I opened it, there's actually no link! https://dev.to/mintplayer/comment/nk2p However, there's an `<a href>` tag in the comment which got HTML-escaped and displayed properly. That did not happen in the Notifications page,

[2020-04-13 07:15] citizen428 commented on #7248
Thanks for the issue @99darshan! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need h

[2020-04-13 07:17] citizen428 commented on #7248
Context: the correct tag is `csharp`, not `c#`. Article pages etc. link correctly, but the `/badges` page does not.

[2020-04-13 07:19] citizen428 commented on #7249
Thanks for the report @Defman21. Would you like to submit this via our bug bounty program? https://dev.to/page/security

[2020-04-13 07:20] Defman21 commented on #7249
Sure.

[2020-04-13 07:29] Defman21 commented on #7249
Done. I'm not sure if we should keep this issue open, unless there's a way to hide it from everybody except contributors?

[2020-04-13 09:08] rhymes commented on #7249
@Defman21 thanks for sending it through the bug bounty, I'm going to close this and scrap the description content so at least it won't appear by default to onlookers

[2020-04-13 09:08] #7249 closed

[2020-04-13 09:27] Defman21 commented on #7249
It is possible to delete an issue completely?

[2020-04-13 09:30] amrdruid commented on #7240
Thanks @JuanVqz for the fix 🎉 Think this issue can be closed now

[2020-04-13 10:57] simonxabris opened #7251 "Copy markdown image button not working when uploading a new photo for a post"
**Describe the bug**

Hi!

I tried to create my first post on DEV and when I tried to upload a picture and copy the generated markdown URL, the text was just simply not copied to my clipboard. I tried it in basically every major browser (Firefox, Safari, Chrome, Edge) and it did not work in any of them. However I tried this out on my phone too (iPhone, safari) and it worked as expected.

I found t

[2020-04-13 11:04] lightalloy commented on #7021
I replaced several pages with the dynamic ones, and cleaned up the codebase where needed. There are still some pages left where we need to replace DEV-specific strings (e.g. "The Practical Dev" or "dev.to") with the configurable options:

- [ ] `/information`
- [ ] `/sponsors`
- [ ] `/code_of_conduct`
- [ ] `/editor_guide_text`
- [ ] `/publishing_from_rss_guide`
- [ ] `/contact`

Technically, thes

[2020-04-13 13:53] lightalloy opened #7252 "Replace hardcoded shop links with a configurable option"
To achieve this:
- create a `SiteConfig` option for the shop url
- make it configurable via `/internal/config`
- replace hardcoded links "shop.dev.to" with a configurable option (e.g. `SiteConfig.shop_url`)
- if there are link texts like "DEV Shop", replace it with `<%= community_name %> Shop`

It also makes sense to check if the shop url is configured, and not show the link if it isn't.

[2020-04-13 13:57] lightalloy commented on #7252
To our amazing contributors: This issue is labeled as `ready for dev`, so it's up for grabs.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we will follow up within 3 business days.

[2020-04-13 13:58] brettimus commented on #5434
another update:

i hit the bug again today.

i had an idea on how to reproduce it: by executing `caches.delete` with both `shell_top` and `shell_bottom` as args, in the main console as well as the js console... it did not reproduce the bug! so strange.

[2020-04-13 14:04] lightalloy opened #7254 "Add a twitter hashtag as a configurable option"
- create a `SiteConfig` option for twitter hastag, e.g. `SiteConfig.twitter_hashtag`
- make it configurable via `/internal/config`
- replace hardcoded twitter hashtag references with a configurable option (not complete)

[2020-04-13 14:05] lightalloy commented on #7254
To our amazing contributors: This issue is labeled as ready for dev, so it's up for grabs.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we will follow up within 3 business days.

[2020-04-13 15:07] lancelote commented on #6692
Got beaten by it as well and lost a good chunk of the work, unfortunately. Chrome showed the latest draft state, while Firefox 75 - some old one. Clicking "New Changes (clear)" link near the "PUBLISH" button restored the desired state.

Clearing the browser data initially didn't do much surprisingly.

<img width="534" alt="Screen Shot 2020-04-13 at 17 58 06" src="https://user-images.githubusercont

[2020-04-13 15:10] Ridhwana commented on #7021
@lightalloy I've already cleaned up a lot of them this morning, I'll try and send out the next PR tonight and then I'll confirm which aren't done for the contributors to work on

[2020-04-13 16:01] lisasy opened #7256 "Actions Menu: Adjust Tags"
### Status: Ready for implementation ✅

### Requirements
A mod can:
- remove a tag
- add a tag
- leave a note to explain why (required)
- use an existing canned response
- add a new canned response
- after submission, get a snackbar confirmation (persistent)
- undo the action

### Design assets
- [Flow: adjust tags (Figma)](https://www.figma.com/file/Jgq2Qg3MqmjQ4uVdJtyAsS/Moderation?node-id=426%3

[2020-04-13 16:38] rhymes commented on #7256
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-13 17:46] jitendra1998 commented on #7252
Hi @lightalloy, I am interested in working on this issue.

[2020-04-13 22:07] JuanVqz commented on #7254
@lightalloy May I take it? Please

[2020-04-13 22:08] pkfrank opened #7267 "Add "redirect" functionality as an admin option"
**Is your feature request related to a problem? Please describe.**
As an admin, I sometimes set up recurring threads such as the Welcome and Challenge threads.  The latest of these threads can be accessed at...

- https://dev.to/welcome
- https://dev.to/challenge

These redirects are currently hardcoded into the app.

**Describe the solution you'd like**
As an admin, I'd like to be able to set up

[2020-04-13 22:17] benhalpern commented on #7267
I think we add this as yet another type of object which responds to top-level namespace, or possibly make this a "type" of "page".

This should all fit our current logic for finding welcome and tag posts and give the capacity to extend this behavior.

[2020-04-13 22:56] benhalpern commented on #6807
I have been somewhat non-committal mostly because I haven't quite wrapped my head around how exactly it might go down....

But since we agree in principal with big time all this I'm going to mark this as `ready for dev` and maybe we can start taking baby steps in getting this all properly integrated.

[2020-04-14 04:04] aaronpk opened #7271 "Comment text includes an entire HTML document inside"
**Describe the bug**

When a comment is rendered on the comment permalink, it includes an entire HTML document header in it as well. For example:

[code]

Notice the new `DOCTYPE` and open and closing `<html><body>` tags.

**To Reproduce**

* Visit a post on dev.to
* Leave a comment with the text "Test comment"
* Visit the permalink of that comment
* View the source and search for the comment text

[2020-04-14 04:46] aaronpk commented on #6807
I took a stab at outlining how this might work. Here's the writeup, including details on the (minimal) markup additions needed to Dev.to comment pages:

https://indieweb.org/Webmention-brainstorming#receiving_webmentions_for_syndicated_copies

[2020-04-14 05:02] citizen428 commented on #6807
Thanks for this @aaronpk, this will make a nice basis for discussions! ❤️

[2020-04-14 07:31] lightalloy commented on #7254
@JuanVqz feel free to take it :+1:

[2020-04-14 08:46] rhymes commented on #7271
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-14 08:48] rhymes commented on #7271
Great catch @aaronpk, this is likely from these lines:

https://github.com/thepracticaldev/dev.to/blob/ea1c27f6befe103a5fb547984b927318422afd5d/app/models/comment.rb#L146-L149

[2020-04-14 09:26] jitendra1998 commented on #6369
@rhymes, can I work on it?

[2020-04-14 09:35] rhymes commented on #6369
hi @jitendra1998, this hasn't been approved yet! :-) Thanks for the inputs in the meantime!

[2020-04-14 09:38] Ridhwana commented on #7021
@lightalloy The above is complete in https://github.com/thepracticaldev/dev.to/pull/7263 (PR still in draft)

[2020-04-14 09:40] rhymes commented on #7251
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-14 09:41] rhymes commented on #7251
Hi @simonxabris, thanks for investigating! I can definitely reproduce the error on Firefox 76 on desktop. Also, please do submit a PR if you'd like. I'm going to assign you the issue :)

[2020-04-14 10:00] citizen428 opened #7273 "..."

[2020-04-14 13:03] #7273 closed

[2020-04-14 13:32] simonxabris commented on #7251
Thanks @rhymes . I think i'll have time to work on this at the end of the week. If I have any questions in the process I'll ask it here.

[2020-04-14 13:33] rhymes commented on #7251
Perfect, thank you @simonxabris!

[2020-04-14 13:48] #6260 closed

[2020-04-14 14:03] #6259 closed

[2020-04-14 14:03] #6306 closed

[2020-04-14 14:30] infinityrun opened #7278 "UI page for new developers"
when some new developer joins dev.to community and lands on the initial page, there is a bug. Soon after I did a login by GitHub, I was redirected to build your profile page see the image attached with this, there is no scrolling option for this page and it is also not complete. There is a difficulty in navigate to the end of this page.
![Screenshot (129)](https://user-images.githubusercontent.com

[2020-04-14 14:33] rhymes commented on #7278
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-14 14:34] rhymes commented on #7278
@infinityrun can you share which browser you're using and which size and resolution has your monitor?

[2020-04-14 15:25] Ridhwana opened #7280 "Make dev digest template configurable"
- [x] `app/views/mailers/digest_email.html.erb` contains dev-specific texts like "Hiring developers?" or "our community of developers", we should make community_member_label configurable.

- [x] Make the email dynamic based on the domain

[2020-04-14 18:17] Ridhwana commented on #7280
<img width="1088" alt="Screenshot 2020-04-14 at 20 16 30" src="https://user-images.githubusercontent.com/2786819/79259384-eaead080-7e8c-11ea-9f69-be40ed1e8089.png">

There's a couple of things to change here:
[code]

[2020-04-14 18:27] nayan30 opened #7287 "ssc result 2020"
Nice Article. <a href="https://alleducationresult.com/ssc-result/">SSC Result 2020</a> has been published. <a href="https://alleducationresult.com/ssc-results/">SSC Result 2020 marksheet</a>is the most popular among other public test results in Bangladesh. If you want, you can check the <a href="https://alleducationresult.com/ssc-result-dhaka/">SSC Result 2020 dhaka board</a>, <a href="https://all

[2020-04-14 18:28] nayan30 commented on #7287
<a href="https://alleducationresult.com/ssc-result-apps/">SSC Result 2020 app</a>is very important from the results of other public examinations in Bangladesh. <a href="https://alleducationresult.com/ssc-dakhil-result/">Dakhil Result 2020</a> has been published. You can easily view your <a href="https://alleducationresult.com/ssc-vocational-result/">SSC Vocational Result 2020</a> from this website

[2020-04-14 18:28] nayan30 commented on #7287
This year's <a href="https://alleducationresult.com/ssc-result-rajshahi/">SSC Result 2020 Rajshahi board</a>has been released in Bangladesh. Are you looking for <a href="https://alleducationresult.com/ssc-result-barisal/">SSC Result 2020 barisal board</a>? Then I would say that you can visit our website. Then you can easily find out your <a href="https://alleducationresult.com/ssc-result-comilla/"

[2020-04-14 18:28] nayan30 commented on #7287
This year <a href="https://alleducationresult.com/ssc-result-mymensingh/">SSC Result 2020 Mymensingh board</a>, <a href="https://alleducationresult.com/ssc-result-dinajpur/">SSC Result 2020 Dinajpur board</a>. has been published. So if you want you can easily check your <a href="https://suggestionquestion.com/ssc-result-mark/">SSC Result marksheet</a>.from here. Click on these links to see the <a

[2020-04-14 18:29] nayan30 commented on #7287
Your Article is really awesome. <a href="https://alleducationresult.com/bn-ssc-result/">SSC Result 2020</a> has been published. <a href="https://alleducationresult.com/bn-ssc-dakhil-result/">SSC Result 2020 marksheet</a>is the most popular among other public test results in Bangladesh. If you want, you can check the <ahref="https://alleducationresult.com/bn-ssc-result-2/">SSC Result 2020 dhaka</a>

[2020-04-14 18:29] nayan30 commented on #7287
<a href="https://alleducationresult.com/bn-ssc-result-mymensingh/">SSC Result 2020 app</a>is very important from the results of other public examinations in Bangladesh. <a href="https://alleducationresult.com/bn-ssc-result-dinajpur/">Dakhil Result 2020</a> has been published. You can easily view your <a href="https://alleducationresult.com/bn-ssc-result-jessore/">SSC Vocational Result 2020</a> fro

[2020-04-14 18:30] nayan30 commented on #7287
This year's <a href="https://alleducationresult.com/bn-ssc-result-dhaka-board/">SSC Result 2020 Rajshahi</a>has been released in Bangladesh. Are you looking for <a href="https://alleducationresult.com/bn-ssc-result-apps/">SSC Result 2020 Barisal</a>? Then I would say that you can visit our website. Then you can easily find out your <a href="https://alleducationresult.com/bn-education-board-result/

[2020-04-14 18:31] nayan30 commented on #7287
This year <a href="https://alleducationresult.com/bn-ssc-results/">SSC Result 2020 Mymensingh</a>, <a href="https://alleducationresult.com/bn-ssc-result-chittagong/">SSC Result 2020 Dinajpur</a>. has been published. So if you want you can easily check your <a href="https://alleducationresult.com/bn-ssc-result-barisal/">SSC Result marksheet</a>.from here. Click on these links to see the <a href="ht

[2020-04-14 18:36] infinityrun commented on #7278
I am chrome.

Screen Size | 39.62 cm (15.6 inch)

Screen Resolution | 1366 x 768 pixels

[2020-04-14 18:36] infinityrun commented on #7278
I am using chrome.

Screen Size | 39.62 cm (15.6 inch)

Screen Resolution | 1366 x 768 pixels

[2020-04-14 19:03] Zhao-Andy opened #7288 "Allow roles to be granted for a certain amount of time"
**Is your feature request related to a problem? Please describe.**
Sometimes we mark a user as `warned`, `banned`, or `comment_banned` for a certain amount of time (1 day, 1 week, etc). We currently keep track of this manually though, and sometimes things slip through the cracks.

**Describe the solution you'd like**
To follow our current pattern of handling time-based issues, we'd like to create

[2020-04-14 19:30] #7278 closed

[2020-04-14 19:30] maestromac commented on #7278
Should be resolved with https://github.com/thepracticaldev/dev.to/pull/7269

[2020-04-14 19:33] juliannatetreault opened #7289 "Replace Cover Image <div> Tags with <img> Tags"
We currently use `<div>`s with an `image` class and a `background-image:url` for cover images in place of `<img>` tags, which is not semantic. The solution here is to replace all of the `<div>` tags with `<img>` tags to make things more semantic in addition to boosting DEV's SEO. **This issue is a discrete part of issue #7228 and represents the initial work that needs to be done.**

Cover Image Fi

[2020-04-14 19:49] juliannatetreault opened #7290 "Ensure Cover Images Adhere to 16:9 Ratio"
Currently, cover images on DEV are not SEO optimized. However, in addition to replacing cover images' `<div>` tags with `<img>` tags, ensuring that cover images adhere to a 16:9 ratio and a width of approximately 1200px should bolster DEV's SEO. The first part of the solution here is to crop and create cover image variants (1:1, 4:3, 16:9) via Cloudinary that adhere to the desired ratio. **This is

[2020-04-14 20:10] juliannatetreault opened #7291 "Add Structured Data for SEO-Optimized Images"
Once we have replaced `<div>` tags with `<img>` tags ( issue #7289 ) and have SEO-optimized cover images ( issue #7290 ), it is important that we add the SEO-optimized images to the JSON-LD within `articles/show.html.erb`. The hope is that by adding the images to the data structure, DEV's overall SEO will improve.  **This issue is a discrete part of issue #7228 and represents the final piece of th

[2020-04-14 22:25] #6549 closed

[2020-04-15 02:45] citizen428 commented on #7280
That's how Meetup does it. When you start a new meetup they ask you what members will be called, e.g. for our functional programming meetup we put "Lambdaphiles", so that's the wording they use in emails, like "You and X more Lambdaphiles will attend this event."

[2020-04-15 07:02] lightalloy commented on #7280
I like the idea of configuring how the members will be called. But it could be not enough for the digest because it's likely not all communities will offer work and hiring, so I agree that we could have both settings.

[2020-04-15 08:41] rhymes commented on #7288
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-15 08:43] rhymes commented on #7289
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-15 08:48] rhymes commented on #7291
Adding a note to coordinate with @thepracticaldev/oss on this as we are planning to implement a redesign of the article editor's UI in this cycle

[2020-04-15 10:01] abenettt opened #7296 "Don't install yarn from community repo in Dockerfile"
**Is your feature request related to a problem? Please describe.**
As we're now setting the yarn version explicitly via the `.yarnrc` file we don't need to install yarn via the community repository and update the `PATH`.  Installing yarn with the other dependencies also reduces the size of the final docker image as we have two layers less in it.

**Describe the solution you'd like**
Install yarn w

[2020-04-15 10:58] lightalloy commented on #7021
Closing as done with the attached prs. We may need further generalization for some of the pages, but let it be separate features.

[2020-04-15 10:58] #7021 closed

[2020-04-15 13:55] #7296 closed

[2020-04-15 14:21] kohgpat opened #7298 "`.base-article-show-sidebar-variant` p tag doesn't have any margin"
Hi!

**Describe the bug**

I've recently read an article and sticky sidebar shows up with css class '.base-article-show-sidebar-variant' and data-id=99. The issue is that paragraph tag and a link next to it have no any margin between them and it looks a little bit weird.

I've found it on the page: `https://dev.to/mandiwise/getting-started-with-apollo-federation-and-gateway-4739` but if I understa

[2020-04-15 15:05] rhymes commented on #7298
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-15 15:59] #7223 closed

[2020-04-15 16:12] brentonhouse commented on #3802
Another (possibly easier) option is to allow user to upload twitter card image.  The aspect ratio that you use for headers on dev.to is different than most of the social media images to that is why it is appearing odd.

[2020-04-15 16:20] #6548 closed

[2020-04-15 17:09] lisasy commented on #7227
@jacobherrington

This task has video demo + specs in the Figma links to help you get started on this. Let me know if you have questions/comments.

[2020-04-15 18:41] jitendra1998 commented on #7267
Hi @pkfrank and @benhalpern, interested in working on this feature.

[2020-04-15 18:44] fdoxyz opened #7306 "Podcast metadata not available when player record embedded in a Post"
**Describe the bug**

On podcast episode pages ([sample](https://dev.to/codenewbie/s12-e1-what-is-vanilla-js-and-how-can-it-help-you-chris-ferdinandi)) the metadata to be consumed by the native apps is rendered within the [views/podcast_episodes/show.html.erb](https://github.com/thepracticaldev/dev.to/blob/14c13cb33bb5cc00f135d3e4947d0ec20d170e10/app/views/podcast_episodes/show.html.erb#L31) file.

[2020-04-15 18:47] fdoxyz commented on #7306
@benhalpern this is the issue I was telling you about yesterday. #7303 has my attempt to fix this (along with some other enhancements).

If you think it can be solved in a different way I can remove that from the PR or we can build on top of that, however you feel might be the best way to go about it.

[2020-04-15 19:03] #6798 closed

[2020-04-15 19:42] tannakartikey commented on #7175
@rhymes I am not able to reproduce this issue. Nor I see the incorrect heading in the post

[2020-04-15 20:28] #7252 closed

[2020-04-15 22:16] #6545 closed

[2020-04-15 22:16] #6550 closed

[2020-04-15 23:28] audreyr opened #7314 "Cover image missing when you share a post to Pinterest"
**Describe the bug**

When you try to pin a Dev.to post to Pinterest, if the only image is the cover image, the cover image doesn't show up in the "Choose a Pin to save" menu of the Pinterest Chrome extension. This makes it hard to use Pinterest to share my blog posts with my followers there.

I'm hoping to share some of the crafty/artsy things I'm making during #100DaysOfCode on Pinterest, and ha

[2020-04-16 04:12] citizen428 commented on #7314
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-16 06:35] lucamauri commented on #28
It seems the link is directing back to this issue, I believe the right page you wanted to link is [Issue 6368](https://github.com/thepracticaldev/dev.to/issues/6368)

[2020-04-16 07:15] rhymes commented on #7267
Hi @jitendra1998, you're welcome to do it! Ping us here or in a draft PR if you need any help or have questions. I'm going to assign you the issue in the meantime.

ps. you can create a new section in `/internals` panel, "Redirects" for this

[2020-04-16 10:13] catalinpit commented on #7170
If this is not solved, and up for grabs, I'd like to have a go at it.

[2020-04-16 11:18] Ridhwana commented on #7170
@pedrowindisch just double checking if you'll be tackling this issue 😊, else we can assign it @catalinpit. Let us know:)

[2020-04-16 11:53] pedrowindisch commented on #7170
@Ridhwana I'm so sorry but I won't be able to work on this issue. I should have told y'all before. Thanks so much.

[2020-04-16 12:15] Ridhwana commented on #7170
No problem at all, thanks for letting us know. @catalinpit I've assigned the issue to you :)Feel free to ping us if you have any questions.

[2020-04-16 12:22] catalinpit commented on #7170
So which one is the recommended solution? I've seen that there was a discussion about it.

overflow: hidden and text-overflow: ellipsis?

[2020-04-16 13:28] ludwiczakpawel commented on #7170
This probably depends on scenario.. If too long string is within the reaction notification ("_...reacted to..._") then it should be fairly easy to apply `text-overflow: ellipsis`. But for other scenarios, for example when it's within comment notification, you won't be able to do that because it doesn't have specified width and we actually can't specify width there (it's an inline element) and we n

[2020-04-16 14:04] catalinpit commented on #7170
Do you have any suggestions? :-)

[2020-04-16 14:27] ludwiczakpawel commented on #7170
for the latter? just go with `overflow:hidden` without any ellipsis.. it wouldn't look awesome but it would work.

[2020-04-16 14:41] catalinpit commented on #7170
Was this solved?

[img](https://i.imgur.com/yMw5p6n.png)

[2020-04-16 15:04] Ridhwana commented on #7170
@catalinpit after some digging it looks like it may have been fixed as a byproduct of [another PR](https://github.com/thepracticaldev/dev.to/pull/3262). My sincere apologies for that, I'll close this issue. Feel free to pick up another one that is not assigned if you like.

[2020-04-16 15:04] #7170 closed

[2020-04-16 19:09] jitendra1998 opened #7339 "Shop URL not getting redirected due to cors error"
**Describe the bug**

[dev.to/shop ](https://dev.to/shop) is expected to be redirected to [shop.dev.to](https://shop.dev.to), but it renders the error page. In the console, it can be seen that it's because of cors error.

same error for [dev.to/api](https://dev.to/api)

![image](https://user-images.githubusercontent.com/13114810/79494830-478eec80-8041-11ea-8445-63b1fc145a22.png)

**To Reproduce**

[2020-04-16 20:44] leewynne commented on #7159
This is looking great in Prod!

[2020-04-16 21:27] vaidehijoshi opened #7344 "Reorder onboarding slides"
The new onboarding slide flow moves the "profile" section between the topic and people preferences

![Screenshot 2020-04-16 11 04 57](https://user-images.githubusercontent.com/6921610/79508482-8051a600-7fee-11ea-90ca-5a41455992a0.png)

[2020-04-16 21:29] vaidehijoshi commented on #7344
A note to our amazing contributors: this issue will be worked on by a DEV team member and is not up for grabs!

[2020-04-16 21:45] gyandeeps opened #7345 "Tweets with poll dont render correctly"
**Describe the bug**

When I embed tweets using the `{% twitter 1250896975391752195%}` format and if the tweet has poll in it then it not displayed.

**To Reproduce**

1. create a page
1. create a twitter post link with a poll in it
    1. `{% twitter 1250896975391752195%}`
1. Preview it

**Expected behavior**

It should show the poll as part of the tweet body.
Example: https://dev.to/gyandeeps/co

[2020-04-16 22:03] lisasy commented on #7225
I've updated this mock to reflect recent UI and interaction changes in the top section.
![Screenshot 2020-04-16 14 43 59](https://user-images.githubusercontent.com/816402/79511102-79796200-7ff3-11ea-9be2-9543c0b9cc0c.png)

[2020-04-16 22:27] lisasy opened #7348 "Actions Menu: Mark as High Quality 👍🏽"
### Status: Ready for implementation ✅

### Requirements
A mod can:
- mark as high quality.
- after submission, get a snackbar confirmation.
- undo action.

A mod cannot mark as low quality and high quality.

### UX details
- Interaction states: [Default, Hover, Selected]

### Design assets
- [Flow: rate post quality (Figma)](https://www.figma.com/file/Jgq2Qg3MqmjQ4uVdJtyAsS/Moderation?node-id=426

[2020-04-17 00:27] qm3ster opened #7351 "Liquid comment in notifications list bad"
**Describe the bug**

![Annotation 2020-04-17 031307](https://user-images.githubusercontent.com/10551234/79518498-e9223800-8059-11ea-8390-f0fff13d1451.png)

**To Reproduce**

1. Have a notification that shows a comment, for example a reply notification, wherein the text contains a liquid tag for another comment on dev.to
2. Have a viewport width of over `1120px`, so that `#articles-list` is no lon

[2020-04-17 00:30] qm3ster commented on #7351
I swear I saw a similar issue, but I can't find it in search again :(
If anyone knows how to find it, please link this there.

[2020-04-17 01:37] JibranKalia commented on #5477
@benhalpern The only thing missing in order to complete this issue is implementing `secondary_sticker_image_url`. However, that purple logo is implemented in jsx. I am not really sure how to push SiteConfig details into javascript. Do you have somewhere else in the code which does something similar. Just need to see a similar pattern.

[2020-04-17 01:40] JibranKalia commented on #5477
@thepracticaldev/oss ^^^.

[2020-04-17 01:41] JibranKalia commented on #5477
@thepracticaldev/oss ^^^

[2020-04-17 04:04] citizen428 commented on #7339
Thanks for the issue @jitendra1998! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and nee

[2020-04-17 04:08] citizen428 commented on #7345
Thanks for the report @gyandeeps. This is what I see with both Firefox and Chromium on macOS as wekk as mobile Safari with iOS:

![Screen Shot 2020-04-17 at 11 05 25](https://user-images.githubusercontent.com/47985/79531070-6c17b280-809b-11ea-9b84-d0d069d77fe2.png)

Seems like the poll is rendering just fine, can you clear your cache and reload please?

[2020-04-17 04:11] citizen428 commented on #7351
Thanks for the issue @qm3ster! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need hel

[2020-04-17 06:49] ZoeyJames opened #7354 "my post not submit why this error please help me"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-04-17 08:55] lukeocodes opened #7355 "renaming an organisation results in a 503 error"
I'm attempting to rename an organisation and it returns a 503 error after almost exactly 30s every time.

**To Reproduce**

1. Login via Twitter
2. Click on **Settings** from the user dropdown
3. Click on **Organization**
4. Scroll down to **Organization Details**
5. Change **Username** to new value
6. Click **SUBMIT**

**Expected behaviour**

Updates organisation name to the new value.

**Screens

[2020-04-17 10:29] mbololo opened #7357 "Botswana Call +27660432483 to purchase Best SSD Solution Clean Black Notes Dollars WE ALSO? SALE"
Botswana Call +27660432483 to purchase Best SSD Solution Clean Black Notes Dollars WE ALSO? SALE CHEMICALS LIKE SSD AUTOMATIC SOLUTION FORM CLEANING BLACK DOLLARS CURRENCIES. I hereby use this media to inform you, that our company can clean out black deface currency, (stained money) bank notes, We have all kinds of chemicals used for cleaning of black money or stained money in currencies such as U

[2020-04-17 11:15] rhymes commented on #5477
Hi @JibranKalia, could you point us to the place in the core you're referring to? I'm not sure I understood :(

[2020-04-17 11:21] rhymes commented on #7339
I can reproduce it. This is mighty weird as the redirect happens server side but I think it's related to how the service worker doesn't play well with redirects. See #7156

[2020-04-17 11:53] rhymes commented on #7345
I can't see the poll either.

Tested with Firefox 76

![Screenshot_2020-04-17 test poll](https://user-images.githubusercontent.com/146201/79566307-a476bb00-80b2-11ea-80b2-388dd129baa8.png)

and Chrome 80

![dev to_rhymes_test-poll-5f48-temp-slug-5675555_preview=8cddd665d7d0e619e440ba2c9ad07e255ebcc15c577ceac496ff3e3f395e6d17e9ffca3dff996f0165d0abfd714bd5dc17dbaa20f4c143aff4256521](https://user-ima

[2020-04-17 11:56] rhymes commented on #2955
It looks like it can be done now https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/entities-object#polls

[2020-04-17 11:57] rhymes commented on #7345
I'm closing this in favor of https://github.com/thepracticaldev/dev.to/issues/2955 as it's both a bug and a feature request but that contains more info on how to solve it.

I'm going to mark the other as both a bug and ready for dev

Thanks @gyandeeps!

[2020-04-17 11:57] #7345 closed

[2020-04-17 12:18] rhymes commented on #2955
Never mind, I tried for a bit with the [twitter ruby gem](https://github.com/sferik/twitter) but I can't get polls:

[code]

but there's no trace of polls.

The documentation isn't very clear about what is part of not part of the enterprise offer...

I also tried to "hijack" the library with but I get a forbidden error (probably because Labs is opt in)

[code]

All of this to say... well, we can't

[2020-04-17 12:21] rhymes commented on #7345
Update: I tried to see if the problem lied in our parsing code or note, the issues is that polls are not included in the API response, see https://github.com/thepracticaldev/dev.to/issues/2955#issuecomment-615212983 so this can't be implemented yet

[2020-04-17 12:26] rhymes commented on #7351
There might be some helpful clues in this other issue https://github.com/thepracticaldev/dev.to/issues/7170

[2020-04-17 12:30] rhymes commented on #7354
@ZoeyJames can you provide more details? What's your `DEV`'s username?

[2020-04-17 12:34] #7357 closed

[2020-04-17 12:38] Zhao-Andy commented on #7355
Thanks for raising this @lukeocodes! We currently do this synchronously, and if your organization has a lot of articles, the request will time out. Think out next step is to move this into a background job.

I'll DM you via DEV connect to follow up.

[2020-04-17 13:32] laurieontech opened #7362 "Notifications merged with landing page"
**Describe the bug**

When I have more than a certain number of notifications (in this case 11) when I scroll down on the notifications screen things start going out of whack.

**To Reproduce**

1. Click on notifications
2. Scroll down

**Expected behavior**

The notifications should show only notifications (old or new)

**Screenshots**

<img width="778" alt="Screen Shot 2020-04-17 at 9 29 29 AM"

[2020-04-17 14:02] rhymes commented on #7362
Hi @laurieontech, thanks for the report. I can't reproduce it which might mean it's a caching issue. What happens if you hard refresh the page?

[2020-04-17 14:17] laurieontech commented on #7362
It works ok then, but the test case isn't the same. I believe this only happens when you have unread notifications.

[2020-04-17 16:37] qm3ster commented on #7351
The issue I believe I saw had the words "liquid" "comment" and "overflow" in the title, but I can't find anything with those words or their permutations. I am shooketh.

[2020-04-17 16:38] lisasy commented on #7222
![Screenshot 2020-04-15 15 14 37](https://user-images.githubusercontent.com/816402/79592631-176e3a80-808f-11ea-93f0-1d9dcf60deb6.png)

@jacobherrington @Zhao-Andy I've updated the Figma specs with the most updated version of the actions panel with the "thumbs up thumbs down" modification, so I hope this unblocks any unknowns you had here. Let me know if you have any q's/comments.

[2020-04-17 16:53] #7339 closed

[2020-04-17 17:15] rhymes commented on #7362
Tried with my account now that I have 4 of them but can't reproduce it:

![notifications](https://user-images.githubusercontent.com/146201/79595794-c3d80d00-80df-11ea-9306-854868c2a643.gif)

:-(

[2020-04-17 17:57] laurieontech commented on #7362
I suppose it may have been temporary weirdness then. I can close and come back to it if I see it again!

[2020-04-17 18:52] #7306 closed

[2020-04-17 23:03] JuanVqz commented on #7254
Sorry for the time I took for making changes on this issue but I wasn't able to run the dev.to project on Docker containers, actually I'm going to open an issue for that

[2020-04-18 11:05] PranavBhattarai opened #7371 "Please don't let user theme settings colorize/override the original images."
As u can see in the screenshot below, the webpage looks great to read but its image in this [article](https://dev.to/lmolivera/everything-you-need-to-know-about-relational-databases-3ejl?signin=true) is completely distorted.
![Screenshot from 2020-04-18 16-34-19](https://user-images.githubusercontent.com/32763112/79635799-c6e00580-8192-11ea-8b08-ce576c798f53.png)

But the actual image is like this

[2020-04-18 14:25] dmikurube commented on #6942
Using Punycode there is a kind of reasonable as it's one of standards, but IIUC, Punycode is used commonly in the domain name part, not in the path part.

To encode nom-ascii characters in the path part, %-encoding is used much more common. (Some recent browsers decode it and show the original characters.)

[2020-04-18 15:05] rhymes commented on #7371
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-18 15:08] rhymes commented on #7371
Hi @PranavBhattarai, thanks a lot for your report!

I reproduced it using [that article](https://dev.to/lmolivera/everything-you-need-to-know-about-relational-databases-3ejl).

I think I found a clue to where the bug lies: those images are transparent gifs, see [this one](https://res.cloudinary.com/practicaldev/image/fetch/s--GB6F907P--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_880/https://thep

[2020-04-18 15:48] PranavBhattarai commented on #7371
@rhymes I really hope there will be a fix for this. We all love dark mode, but it comes with some price. Transparent figures/gifs don't need to be touched by the user's color preferences.

[2020-04-18 17:23] benhalpern commented on #7314
Hmmmmm I think that is because the cover image is currently included as a _background image_. We have plans to modify this so that it is an actual image. It means some moving around of the markup (making sure to preserve the 100:42 aspect ratio).

If anyone wants to jump on this change, please go for it.

[2020-04-18 17:29] benhalpern commented on #7147
I agree with this. @rhymes had done a prior sweep for this term but it made its way back in because we didn't really enforce this in follow-up code additions since.

I propose we also codify this in our docs and contribution guidelines in general so that we stick to it. I think we've done a good job of restricting some of the more heinous terms, but haven't specifically addressed this as a princip

[2020-04-18 17:49] benhalpern commented on #7147
Whipped up a doc update to make this expectation more explicit.

https://github.com/thepracticaldev/dev.to/pull/7376

I didn't include any specific example language because I felt like that might be triggering or distasteful but happy to adjust the language as needed if anyone has thoughts.

This is in addition to the code refactoring to remove blacklist from code.

[2020-04-18 20:16] JuanVqz commented on #6817
Hi! what was the solution of this issue? I've been having this problem for 3 days
![Screen Shot 2020-04-17 at 18 09 10](https://user-images.githubusercontent.com/7331511/79670280-626b7900-8187-11ea-9c2a-3d787a9ebd29.png)
![Screen Shot 2020-04-17 at 18 16 45](https://user-images.githubusercontent.com/7331511/79670282-65666980-8187-11ea-82ae-4dda8b899747.png)

[2020-04-18 20:52] JibranKalia commented on #5477
Sure. @rhymes. Here: https://github.com/thepracticaldev/dev.to/blob/bbe0bf970fee1995ecce20bf788da3818c70064d/app/javascript/onboarding/components/IntroSlide.jsx#L99

[2020-04-19 07:54] rhymes commented on #7147
I'm currently working on a PR to fix this, waiting for another PR to merge so I can do a single cleanup

[2020-04-19 07:55] rhymes commented on #7314
We do have a `DEV team` issue open about the switch from background image to "image image"

https://github.com/thepracticaldev/dev.to/issues/7289

[2020-04-19 08:27] rhymes commented on #1127
This has been fixed when we merged #7320

I verified it in the editor:

![Screenshot_2020-04-19 New Post - DEV(local) Community 👩‍💻👨‍💻(2)](https://user-images.githubusercontent.com/146201/79683158-4ff54c00-8228-11ea-9ee6-2764163dc8e1.png)

[2020-04-19 08:27] #1127 closed

[2020-04-19 12:08] rhymes commented on #5477
Got it! i think there's a way to get the JSX file to find the file through the `SiteConfig`.

If you look at this file:

https://github.com/thepracticaldev/dev.to/blob/bbe0bf970fee1995ecce20bf788da3818c70064d/app/javascript/packs/feedIcons.js.erb#L1-L7

you can see how they've imported images in a JS pack.

After that you can embed the image in the JSX with something similar to

https://github.com