[2020-06-14 05:46] Muhimen123 commented on #8459
Yes, I agree. I have also seen these spams here and there(not only in this repository). Though these spams aren't harming much, the authority must take steps.

This sounds to be a good proposal but it is easy to open a fake account in Github(or anywhere else).  Closing the issues(spam) as soon as they appear will be a good solution according to me.

I'm pretty sure the authority has seen this and

[2020-06-14 06:20] konsultasimedical opened #8595 "Jual obat Aborsi di depok 081390298631 Cytotec gastrul penggugur kandungan depok"
Jual Obat Aborsi Depok 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84586212-b91cc880-ae41-11ea-927f-60c97023aef2.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiApakah

[2020-06-14 06:20] konsultasimedical commented on #8595
Jual Obat Aborsi Depok cod 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiApakah Anda terlanjur hamil? Anda belum siap menjadi seorang ibu? Kami bisa memberikan bantuan untuk Anda. Silahkan

[2020-06-14 06:55] konsultasimedical opened #8610 "Jual obat aborsi di bandar lampung 081390298631 cytotec gastrul penggugur kandungan lampung"
Jual Obat Aborsi Bandar Lampung 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84587092-76112400-ae46-11ea-9cd2-1e5a92f54527.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi K

[2020-06-14 06:57] konsultasimedical commented on #8610
Jual Obat Aborsi Bandar Lampung Cod 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.
![images](https://user-images.githubusercontent.com/66870870/84587157-02bbe200-ae47-11ea-9d38-aa3da1f98054.jpeg)

images

WEB: https://konsultasimedical.com

MENU:
Hubun

[2020-06-14 07:02] konsultasimedical opened #8613 "Jual obat aborsi di 🇹🇼Taiwan ( 0813-9029-8631) cytotec gastrul penggugur kandungan Taiwan"
Jual Obat Aborsi Taiwan 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84587235-a2797000-ae47-11ea-8dca-95e8b5f44056.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiApaka

[2020-06-14 07:03] konsultasimedical commented on #8613
Jual Obat Aborsi Taiwan / Tailand 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84587249-bb822100-ae47-11ea-9786-b11093dd18a0.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi

[2020-06-14 07:17] konsultasimedical opened #8614 "Jual obat aborsi di Singapore 🇸🇬 081390298631 cytotec gastrul penggugur kandungan Singapore"
Jual Obat Aborsi Singapore 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84587462-b58d3f80-ae49-11ea-83ca-7a6200113c51.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiAp

[2020-06-14 07:17] konsultasimedical commented on #8614
Jual Obat Aborsi Singapore 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84587480-d6559500-ae49-11ea-9dd9-82c83fa52229.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiAp

[2020-06-14 07:20] konsultasimedical opened #8615 "Jual obat aborsi di batang 081390298631 cytotec gastrul penggugur kandungan batang"
Jual Obat Aborsi Batang 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84587514-1f0d4e00-ae4a-11ea-955f-d2ff540fe279.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiApaka

[2020-06-14 07:21] konsultasimedical commented on #8615
Jual Obat Aborsi Batang 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84587552-5aa81800-ae4a-11ea-8fd0-c066b943cc73.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiApaka

[2020-06-14 07:26] konsultasimedical opened #8616 "Jual obat aborsi di salataiga 081390298631 cytotec gastrul penggugur kandungan salatiga"
Jual Obat Aborsi Salatiga 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84587603-ce4a2500-ae4a-11ea-9ec2-0ff18207e4b5.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiApa

[2020-06-14 07:27] konsultasimedical commented on #8616
Jual Obat Aborsi Salatiga no Cod 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84587628-19fcce80-ae4b-11ea-8814-e8ac4839b22b.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi

[2020-06-14 07:39] konsultasimedical opened #8617 "Jual obat aborsi di tegal 081390298631 cytotec gastrul penggugur kandungan tegal"
Jual Obat Aborsi Tegal 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84587823-acea3880-ae4c-11ea-9626-772836cdb1ed.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiApakah

[2020-06-14 07:39] konsultasimedical commented on #8617
Jual Obat Aborsi Tegal 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84587841-df943100-ae4c-11ea-90e1-817aee0b3bda.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiApakah

[2020-06-14 07:42] konsultasimedical opened #8618 "Jual obat aborsi cytotec di brebes 081390298631 gastrul penggugur kandungan brebes"
Jual Obat Aborsi Brebes 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84587866-241fcc80-ae4d-11ea-8834-29102cb778f2.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiApaka

[2020-06-14 07:42] konsultasimedical commented on #8618
Jual Obat Aborsi Brebes 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84587905-54676b00-ae4d-11ea-8012-8125cfd69d7e.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiApaka

[2020-06-14 07:45] konsultasimedical opened #8619 "Jual obat aborsi di cilacap 081390298631 Cytotec gastrul penggugur kandungan cilacap"
Jual Obat Aborsi Cilacap 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84587941-955f7f80-ae4d-11ea-870e-d8c9ac8f066a.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiApak

[2020-06-14 07:46] konsultasimedical commented on #8619
Jual Obat Aborsi Cilacap 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84587965-c2139700-ae4d-11ea-91ec-9f805c43dcfc.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiApak

[2020-06-14 07:48] konsultasimedical opened #8620 "Jual obat Aborsi di Purwokerto 081390298631 Penggugur kandungan cytotec gastrul Purwokerto"
Jual Obat Aborsi Purwokerto 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84587997-030bab80-ae4e-11ea-9ecc-615c7a366dcf.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiA

[2020-06-14 07:49] konsultasimedical commented on #8620
Jual Obat Aborsi Purwokerto 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84588024-38b09480-ae4e-11ea-8088-774b3f1be43e.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiA

[2020-06-14 08:28] OnArs commented on #8331
Oh, I didn't mean to reopen this issue but I'm going to fix it. Thanks @citizen428 for the feedback on this bug.

[2020-06-14 08:34] konsultasimedis opened #8621 "JUAL OBAT ABORSI DI MAKASSAR 081390298631 CYTOTEC GASTRUL PENGGUGUR KANDUNGAN MAKASSAR"
Jual Obat Aborsi Makassar 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.
![IMG-20191020-WA0006](https://user-images.githubusercontent.com/66897012/84588804-803a1f00-ae54-11ea-8241-8a262234ec1d.jpg)

WEB: https://konsultasimedical.com

MENU:
Hubungi Kam

[2020-06-14 08:35] konsultasimedis commented on #8621
Jual Obat Aborsi Makassar 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.
![IMG-20191020-WA0006](https://user-images.githubusercontent.com/66897012/84588818-a3fd6500-ae54-11ea-83d3-003fed98c231.jpg)

WEB: https://konsultasimedical.com

MENU:
Hubungi Kam

[2020-06-14 08:40] #8560 closed

[2020-06-14 08:40] #8595 closed

[2020-06-14 08:40] #8610 closed

[2020-06-14 08:40] #8613 closed

[2020-06-14 08:40] #8614 closed

[2020-06-14 08:40] #8615 closed

[2020-06-14 08:40] #8616 closed

[2020-06-14 08:40] #8617 closed

[2020-06-14 08:40] #8618 closed

[2020-06-14 08:40] #8619 closed

[2020-06-14 08:40] #8620 closed

[2020-06-14 08:40] #8621 closed

[2020-06-14 08:41] #8460 closed

[2020-06-14 08:41] #8461 closed

[2020-06-14 08:41] #8462 closed

[2020-06-14 08:41] #8463 closed

[2020-06-14 08:41] #8464 closed

[2020-06-14 08:41] #8465 closed

[2020-06-14 08:41] #8466 closed

[2020-06-14 08:41] #8467 closed

[2020-06-14 08:41] #8468 closed

[2020-06-14 08:41] #8469 closed

[2020-06-14 08:41] #8470 closed

[2020-06-14 08:41] #8471 closed

[2020-06-14 08:41] #8473 closed

[2020-06-14 08:41] #8474 closed

[2020-06-14 08:41] #8475 closed

[2020-06-14 08:41] konsultasimedis opened #8622 "JUAL OBAT ABORSI DI TANGERANG 081390298631 CYTOTEC GASTRUL PENGGUGUR KANDUNGAN TANGERANG"
Jual Obat Aborsi Tangerang 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.
IMG-20191020-WA0006
![IMG-20191020-WA0006](https://user-images.githubusercontent.com/66897012/84588911-664d0c00-ae55-11ea-9693-ba42112b7a45.jpg)

WEB: https://konsultasimedical.c

[2020-06-14 08:42] #8622 closed

[2020-06-14 08:42] konsultasimedis commented on #8622
Jual Obat Aborsi Tangerang 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.
IMG-20191020-WA0006
![IMG-20191020-WA0006](https://user-images.githubusercontent.com/66897012/84588941-a1e7d600-ae55-11ea-9c97-f81341c89ad7.jpg)

WEB: https://konsultasimedical.c

[2020-06-14 08:49] rhymes commented on #8377
Thank you @felippe-regazio

cc @citizen428

[2020-06-14 08:49] #8377 closed

[2020-06-14 08:56] konsultasimedical opened #8623 "Jual obat aborsi di tuban 081390298631 cytotec gastrul penggugur kandungan tuban"
Jual Obat Aborsi Tuban 081390298631 Obat Penggugur Kandungan Asli Tuban, Jual Obat Cytotec Gastrul Gynaecosid Tuban,Cara Menggugurkan Kandungan Di Tuban, Apotik Jual obat Telat Bulan Di Tuban, Toko Atau Apotik Jual Obat Pelancar Haid Di Tuban,

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https://konsultasimedical.com

[2020-06-14 08:57] konsultasimedical commented on #8623
Jual Obat Aborsi Tuban 081390298631 Obat Penggugur Kandungan Asli Tuban, Jual Obat Cytotec Gastrul Gynaecosid Tuban,Cara Menggugurkan Kandungan Di Tuban, Apotik Jual obat Telat Bulan Di Tuban, Toko Atau Apotik Jual Obat Pelancar Haid Di Tuban,

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)
![images](https://user-images.githu

[2020-06-14 09:00] konsultasimedical opened #8624 "Jual obat aborsi di majalengka 081390298631 cytotec gastrul penggugur kandungan majalengka"
Jual Obat Aborsi Majalengka 081390298631 Obat Penggugur Kandungan Asli Majalengka, Jual Obat Cytotec Gastrul Gynaecosid Majalengka,Cara Menggugurkan Kandungan Di Majalengka, Apotik Jual obat Telat Bulan Di Majalengka, Toko Atau Apotik Jual Obat Pelancar Haid Di Majalengka,

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB:

[2020-06-14 09:02] konsultasimedical commented on #8624
Jual Obat Aborsi Majalengka 081390298631 Obat Penggugur Kandungan Asli Majalengka, Jual Obat Cytotec Gastrul Gynaecosid Majalengka, Cara Menggugurkan Kandungan Di Majalengka, Apotik Jual obat Telat Bulan Di Majalengka ,Toko Atau Apotik Jual Obat Pelancar Haid Di Majalengka .

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WE

[2020-06-14 09:10] Rafi993 commented on #8459
Websites like stackoverflow allow users who have reached certain points to unlock features or remove some limits. Eventhough this points may not be visible to user like stackoverflow  (since it might discourage new users) it might help to ward of spam.

[2020-06-14 09:14] Rafi993 commented on #8459
But this point system might introduce implicit biases so it should be thought really carefully.

[2020-06-14 09:20] konsultasimedical opened #8625 "Jual obat aborsi di Bogor 081390298631 cytotec gastrul penggugur kandungan Bogor jawa barat"
Jual Obat Aborsi Bogor 081390298631 Obat Penggugur Kandungan Asli Bogor, Jual Obat Cytotec Gastrul Gynaecosid Bigor,Cara Menggugurkan Kandungan Di Bogor, Apotik Jual obat Telat Bulan Di Bogor, Toko Atau Apotik Jual Obat Pelancar Haid Di Bogor,

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https://konsultasimedical.com

[2020-06-14 09:22] konsultasimedical commented on #8625
Jual Obat Aborsi Bogor no COD 081390298631 Obat Penggugur Kandungan Asli Bogor, Jual Obat Cytotec Gastrul Gynaecosid Bogor,Cara Menggugurkan Kandungan Di Bogor, Apotik Jual obat Telat Bulan Di Bogor, Toko Atau Apotik Jual Obat Pelancar Haid Di Bogor.

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https://konsultasimedi

[2020-06-14 09:25] konsultasimedical opened #8626 "Jual obat aborsi di purwakarta 081390298631 cytotec gastrul penggugur kandungan purwakarta"
Jual Obat Aborsi Purwakarta 081390298631 Obat Penggugur Kandungan Asli Purwakarta, Jual Obat Cytotec Gastrul Gynaecosid Purwakarta,Cara Menggugurkan Kandungan Di Purwakarta, Apotik Jual obat Telat Bulan Di Purwakarta, Toko Atau Apotik Jual Obat Pelancar Haid Di Purwakarta,

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB:

[2020-06-14 09:26] konsultasimedical commented on #8626
Jual Obat Aborsi Purwakarta no COD 081390298631 Obat Penggugur Kandungan Asli Purwakarta, Jual Obat Cytotec Gastrul Gynaecosid Purwakarta,Cara Menggugurkan Kandungan Di Purwakarta, Apotik Jual obat Telat Bulan Di Purwakarta, Toko Atau Apotik Jual Obat Pelancar Haid Di Purwakarta .

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpe

[2020-06-14 09:34] konsultasimedis opened #8627 "Jual obat aborsi di madiun 081390298631 cytotec gastrul penggugur kandungan madiun"
Jual Obat Aborsi Madiun 081390298631 Obat Penggugur Kandungan Madiun, Jual Obat Cytotec Gastrul Gynaecosid Asli Madiun, Cara Menggugurkan Kandungan Kuat Di Madiun, Apotik Jual obat Telat Bulan Di Madiun, Toko Atau Apotik Onlin Jual Obat Pelancar Haid Di Madiun .

IMG-20191020-WA0006
![IMG-20191020-WA0006](https://user-images.githubusercontent.com/66897012/84589933-7ae0d280-ae5c-11ea-8456-d60e3e936

[2020-06-14 09:34] konsultasimedis commented on #8627
Jual Obat Aborsi Madiun 081390298631 Obat Penggugur Kandungan Madiun, Jual Obat Cytotec Gastrul Gynaecosid Asli Madiun, Cara Menggugurkan Kandungan Kuat Di Madiun, Apotik Jual obat Telat Bulan Di Madiun, Toko Atau Apotik Onlin Jual Obat Pelancar Haid Di Madiun .

IMG-20191020-WA0006
![IMG-20191020-WA0006](https://user-images.githubusercontent.com/66897012/84589933-7ae0d280-ae5c-11ea-8456-d60e3e936

[2020-06-14 09:43] konsultasimedical opened #8628 "Jual Obat Aborsi di Padang 081390298631 cytotec gastrul penggugur kandungan padang"
Jual Obat Aborsi Padang 081390298631 Obat Penggugur Kandungan Asli padang, Jual Obat Cytotec Gastrul Gynaecosid padang,Cara Menggugurkan Kandungan Di Padang, Apotik Jual obat Telat Bulan Di Padang, Toko Atau Apotik Jual Obat Pelancar Haid Di padang,

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https://konsultasimedic

[2020-06-14 09:45] konsultasimedical opened #8629 "Jual obat aborsi di kebumen 081390298631 cytotec gastrul penggugur kandungan kebumen"
Jual Obat Aborsi Kebumen 081390298631 Obat Penggugur Kandungan Asli Kebumen, Jual Obat Cytotec Gastrul Gynaecosid kebumen,Cara Menggugurkan Kandungan Di kebumen, Apotik Jual obat Telat Bulan Di kebumen, Toko Atau Apotik Jual Obat Pelancar Haid Di kebumen,

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https://konsultas

[2020-06-14 09:58] #8623 closed

[2020-06-14 09:58] #8624 closed

[2020-06-14 09:58] #8625 closed

[2020-06-14 09:58] #8626 closed

[2020-06-14 09:58] #8628 closed

[2020-06-14 09:58] #8629 closed

[2020-06-14 09:58] #8627 closed

[2020-06-14 10:08] konsultasimedical opened #8630 "Jual obat aborsi di timika 081390298631 cytotec gastrul penggugur kandungan timika papua"
Jual Obat Aborsi Timika 081390298631 Obat Penggugur Kandungan Asli Timika, Jual Obat Cytotec Gastrul Gynaecosid Timika,Cara Menggugurkan Kandungan Di Timika, Apotik Jual obat Telat Bulan Di Timika, Toko Atau Apotik Jual Obat Pelancar Haid Di Timika,

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https://konsultasimedic

[2020-06-14 10:09] #8630 closed

[2020-06-14 10:12] konsultasimedical opened #8631 "Jual Obat Aborsi Di Denpasar 081390298631 Cytotec Gastrul Penggugur kandungan Denpasar Bali"
Jual Obat Aborsi Denpasar Bali 081390298631 Obat Penggugur Kandungan Asli Denpasar Bali, Jual Obat Cytotec Gastrul Gynaecosid Denpasar Bali, Cara Menggugurkan Kandungan Di Denpasar Bali, Apotik Jual obat Telat Bulan Di Denpasar Bali, Toko Atau Apotik Jual Obat Pelancar Haid Di Denpasar Bali.

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb

[2020-06-14 10:14] konsultasimedical opened #8637 "Jual obat Aborsi di Kudus 081390298631 cytotec gastrul penggugur kandungan kudus"
Jual Obat Aborsi Kudus 081390298631 Obat Penggugur Kandungan Asli Kudus Jual Obat Cytotec Gastrul Gynaecosid Kudus, Cara Menggugurkan Kandungan Di Kudus, Apotik Jual obat Telat Bulan Di Kudus Toko Atau Apotik Jual Obat Pelancar Haid Di Kudus.

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https://konsultasimedical.com

[2020-06-14 10:17] konsultasimedical opened #8644 "Jual obat aborsi di pati 081390298631 cytotec gastrul penggugur kandungan pati"
Jual Obat Aborsi Pati 081390298631 Obat Penggugur Kandungan Asli Pati, Jual Obat Cytotec Gastrul Gynaecosid Pati, Cara Menggugurkan Kandungan Di Pati, Apotik Jual obat Telat Bulan Di Pati, Toko Atau Apotik Jual Obat Pelancar Haid Di Pati.

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https://konsultasimedical.com

MEN

[2020-06-14 10:19] #8631 closed

[2020-06-14 10:20] konsultasimedical opened #8647 "Jual obat aborsi di purwodadi 081390298631 cytotec gastrul penggugur kandungan purwodadi"
Jual Obat Aborsi Purwodadi 081390298631 Obat Penggugur Kandungan Asli Purwodadi, Jual Obat Cytotec Gastrul Gynaecosid Purwodadi, Cara Menggugurkan Kandungan Di Purwodadi, Apotik Jual obat Telat Bulan Di Purwodadi, Toko Atau Apotik Jual Obat Pelancar Haid Di Purwodadi.

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: http

[2020-06-14 10:21] #8644 closed

[2020-06-14 10:25] #8637 closed

[2020-06-14 10:25] #8647 closed

[2020-06-14 10:26] konsultasimedis opened #8648 "Jual obat aborsi di klaten 081390298631 cytotec gastrul penggugur kandungan klaten"
Jual Obat Aborsi Klaten 081390298631 Obat Penggugur Kandungan Klaten, Jual Obat Cytotec Gastrul Gynaecosid Asli Klaten, Cara Menggugurkan Kandungan Kuat Di Klaten, Apotik Jual obat Telat Bulan Di Klaten, Toko Atau Apotik Onlin Jual Obat Pelancar Haid Di Klaten .

IMG-20191020-WA0006
![IMG-20191020-WA0006](https://user-images.githubusercontent.com/66897012/84589933-7ae0d280-ae5c-11ea-8456-d60e3e936

[2020-06-14 10:28] meiapotik opened #8649 "JUAL OBAT ABORSI DI MALANG 081226424620 OBAT CYTOTEC GASTRUL ASLI"
Jual Obat Aborsi Di Malang, Obat Aborsi Di Malang, Obat Cytotec Di Malang, Obat Gastrul Di Malang, Jual Obat Cytotec Di Malang, Jual Obat Gastrul Di Malang, Obat Penggugur Kandungan Di Malang, Cara Menggugurkan Kandungan Di Malang, Obat Pelancar Haid Di Malang Obat Telat Datang Bulan Di Malang, Obat Pendorong Janin Di Malang Terpercaya

![IMG-20200404-WA0014](https://user-images.githubusercontent.

[2020-06-14 10:31] meiapotik opened #8650 "JUAL OBAT ABORSI DI TIMIKA 081226424620 OBAT CYTOTEC GASTRUL ASLI"
Jual Obat Aborsi Di Timika, Obat Aborsi Di Timika, Obat Cytotec Di Timika, Obat Gastrul Di Timika, Jual Obat Cytotec Di Timika, Jual Obat Gastrul Di Timika, Obat Penggugur Kandungan Di Timika, Cara Menggugurkan Kandungan Di Timika, Obat Pelancar Haid Di Timika, Obat Telat Datang Bulan Di Timika, Obat Pendorong Janin Di Timika Terpercaya

![IMG-20200404-WA0014](https://user-images.githubusercontent

[2020-06-14 10:35] meiapotik opened #8651 "JUAL OBAT ABORSI DI TANGERANG 081226424620 OBAT CYTOTEC GASTRUL ASLI"
Jual Obat Aborsi Di Tangerang, Obat Aborsi Di Tangerang, Obat Cytotec Di Tangrang, Obat Gastrul Di Tangerang, Jual Obat Cytotec Di Tangerang, Jual Obat Gastrul Di Tangerang, Obat Penggugur Kandungan Di Tangerang, Cara Menggugurkan Kandungan Di Tangerang, Obat Pelancar Haid Di Tangerang, Obat Telat Datang Bulan Di Tangerang, Obat Pendorong Janin Di Tangerang Terpercaya

![IMG-20200404-WA0014](https

[2020-06-14 10:35] #8650 closed

[2020-06-14 10:36] #8648 closed

[2020-06-14 10:36] #8651 closed

[2020-06-14 10:36] #8649 closed

[2020-06-14 10:39] konsultasimedical opened #8652 "Jual obat Aborsi di jepara 081390298631 cytotec gastrul penggugur kandungan jepara"
Jual Obat Aborsi Jepara 081390298631 Obat Penggugur Kandungan Asli Jepara, Jual Obat Cytotec Gastrul Gynaecosid Jepara,Cara Menggugurkan Kandungan Di Jepara, Apotik Jual obat Telat Bulan Di Jepara, Toko Atau Apotik Jual Obat Pelancar Haid Di Jepara,

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https://konsultasimedic

[2020-06-14 10:40] meiapotik opened #8653 "JUAL OBAT ABORSI DI PASURUAN 081226424620 OBAT CYTOTEC GASTRUL ASLI"
Jual Obat Aborsi Di Pasuruan, Obat Aborsi Di Pasuruan, Obat Cytotec Di Pasuruan, Obat Gastrul Di Pasuruan, Jual Obat Cytotec Di Pasuruan, Jual Obat Gastrul Di Pasuruan, Obat Penggugur Kandungan Di Pasuruan, Cara Menggugurkan Kandungan Di Pasuruan, Obat Pelancar Haid Di Pasuruan, Obat Telat Datang Bulan Di Pasuruan, Obat Pendorong Janin Di Pasuruan Terpercaya

![IMG-20200404-WA0014](https://user-im

[2020-06-14 10:42] #8653 closed

[2020-06-14 10:42] #8652 closed

[2020-06-14 10:42] konsultasimedical opened #8654 "JUAL OBAT ABORSI DI SLEMAN 081390298631 PENGGUGUR KANDUNGAN CYTOTEC GASTRUL ASLI SLEMAN"
Jual Obat Aborsi Sleman 081390298631 Obat Penggugur Kandungan Asli Sleman, Jual Obat Cytotec Gastrul Gynaecosid Sleman,Cara Menggugurkan Kandungan Di Sleman, Apotik Jual obat Telat Bulan Di Sleman, Toko Atau Apotik Jual Obat Pelancar Haid Di Sleman,

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https://konsultasimedic

[2020-06-14 10:44] #8654 closed

[2020-06-14 10:46] konsultasimedical opened #8655 "JUAL OBAT ABORSI DI BALI 081390298631 CYTOTEC GASTRUL PENGGUGUR KANDUNGAN ASLI BALI"
Jual Obat Aborsi Bali 081390298631 Obat Penggugur Kandungan Asli Bali, Jual Obat Cytotec Gastrul Gynaecosid Bali, Cara Menggugurkan Kandungan Di Bali, Apotik Jual obat Telat Bulan Di Bali, Toko Atau Apotik Jual Obat Pelancar Haid Di Bali

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https://konsultasimedical.com

MENU

[2020-06-14 10:48] #8655 closed

[2020-06-14 10:50] konsultasimedical opened #8656 "JUAL OBAT ABORSI DI DENPASAR BALI 081390298631 CYTOTEC GASTRUL PENGGUGUR KANDUNGAN ASLI DENPASAR BALI"
Jual Obat Aborsi Denpasar 081390298631 Obat Penggugur Kandungan Asli Denpasar, Jual Obat Cytotec Gastrul Gynaecosid Denpasar,Cara Menggugurkan Kandungan Di Denpasar, Apotik Jual obat Telat Bulan Di Denpasar Toko Atau Apotik Jual Obat Pelancar Haid Di Denpasar,

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https://kons

[2020-06-14 10:53] konsultasimedical opened #8657 "Jual obat aborsi di klungkung 081390298631 cytotec gastrul penggugur kandungan klungkung"
Jual Obat Aborsi Klungkung 081390298631 Obat Penggugur Kandungan Asli Klungkung, Jual Obat Cytotec Gastrul Gynaecosid Klungkung,Cara Menggugurkan Kandungan Di Klungkung, Apotik Jual obat Telat Bulan Di Klungkung, Toko Atau Apotik Jual Obat Pelancar Haid Di Klungkung,

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https

[2020-06-14 11:26] konsultasimedical opened #8660 "Jual obat aborsi di gresik 081390298631 penggugur kandungan cytotec gastrul gresik"
Jual Obat Aborsi Gresik 081390298631 Obat Penggugur Kandungan Asli Gresik, Jual Obat Cytotec Gastrul Gynaecosid Gresik, Cara Menggugurkan Kandungan Di Gresik, Apotik Jual obat Telat Bulan Di Gresik, Toko Atau Apotik Jual Obat Pelancar Haid Di Gresik,

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https://konsultasimedi

[2020-06-14 11:29] konsultasimedical opened #8661 "Jual obat aborsi di lamongan 081390298631 cytotec gastrul penggugur kandungan lamongan"
Jual Obat Aborsi Lamongan 081390298631 Obat Penggugur Kandungan Asli Lamongan, Jual Obat Cytotec Gastrul Gynaecosid Lamongan,Cara Menggugurkan Kandungan Di Lamongan, Apotik Jual obat Telat Bulan Di Lamongan, Toko Atau Apotik Jual Obat Pelancar Haid Di Lamongan,

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https://kon

[2020-06-14 11:32] konsultasimedical opened #8662 "Jual obat aborsi di pasuruan 081390298631 Cytotec gastrul penggugur kandungan pasuruan"
Jual Obat Aborsi Pasuruan 081390298631 Obat Penggugur Kandungan Asli Pasuruan, Jual Obat Cytotec Gastrul Gynaecosid Pasuruan, Cara Menggugurkan Kandungan Di Pasuruan, Apotik Jual obat Telat Bulan Di Pasuruan, Toko Atau Apotik Jual Obat Pelancar Haid Di Pasuruan

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https://kon

[2020-06-14 11:35] konsultasimedical opened #8663 "Jual obat aborsi di probolinggo 081390298631 penggugur kandungan cytotec gastrul probolinggo"
Jual Obat Aborsi Probolinggo 081390298631 Obat Penggugur Kandungan Asli Probolinggo, Jual Obat Cytotec Gastrul Gynaecosid Probolinggo, Cara Menggugurkan Kandungan Di Probolinggo, Apotik Jual obat Telat Bulan Di Probolinggo, Toko Atau Apotik Jual Obat Pelancar Haid Di Probolinggo.

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg

[2020-06-14 11:38] konsultasimedical opened #8664 "Jual obat aborsi di situbondo 081390298631 cytotec gastrul penggugur kandungan situbondo"
Jual Obat Aborsi Situbondo 081390298631 Obat Penggugur Kandungan Asli Situbondo Jual Obat Cytotec Gastrul Gynaecosid Situbondo, Cara Menggugurkan Kandungan Di Situbondo, Apotik Jual obat Telat Bulan Di Situbondo, Toko Atau Apotik Jual Obat Pelancar Haid Di Situbondo

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https:

[2020-06-14 11:42] konsultasimedical opened #8665 "Jual obat aborsi Bondowoso 081390298631 cytotec gastrul penggugur kandungan Bondowoso"
Jual Obat Aborsi Bondowoso 081390298631 Obat Penggugur Kandungan Asli Bondowoso, Jual Obat Cytotec Gastrul Gynaecosid Bondowoso,Cara Menggugurkan Kandungan Di Bondowoso, Apotik Jual obat Telat Bulan Di Bondowoso, Toko Atau Apotik Jual Obat Pelancar Haid Di Bondowoso

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https:

[2020-06-14 11:43] kitaaberdua87 opened #8666 "Obat Aborsi Bekasi 082242388712 Tempat Jual Obat Aborsi Cytotec Ampuh Di Bekasi"
Jual Obat Aborsi Bekasi, Jual Cytotec Bekasi, Klinik Aborsi Di Bekasi
OBAT ABORSI BEKASI —  OBAT ABORSI AMPUH —  JUAL OBAT PENGGUGUR KANDUNGAN TUNTAS
Obat Aborsi Ampuh 0822 42388 712| Jual Obat Aborsi | Obat Aborsi Cytotec | Obat Telat Bulan | Obat Pelancar Haid | Obat Penggugur Kandungan

APOTIK : Kami Jual Obat Aborsi Ampuh Hub : 0822 4238 8712 | Jual Obat Aborsi Aman | Obat Penggugur Kandungan

[2020-06-14 11:43] kitaaberdua87 commented on #8666
Jual Obat Aborsi Bekasi, Jual Cytotec Bekasi, Klinik Aborsi Di Bekasi
OBAT ABORSI BEKASI —  OBAT ABORSI AMPUH —  JUAL OBAT PENGGUGUR KANDUNGAN TUNTAS
Obat Aborsi Ampuh 0822 42388 712| Jual Obat Aborsi | Obat Aborsi Cytotec | Obat Telat Bulan | Obat Pelancar Haid | Obat Penggugur Kandungan

APOTIK : Kami Jual Obat Aborsi Ampuh Hub : 0822 4238 8712 | Jual Obat Aborsi Aman | Obat Penggugur Kandungan

[2020-06-14 11:44] kitaaberdua87 commented on #8631
OBAT ABORSI AMPUH  —  KLINIK ABORSI TUNTAS  —  JUAL OBAT PENGGUGUR KANDUNGAN
Obat Aborsi Ampuh 0822 4238 8712 | Jual Obat Aborsi | Obat Aborsi Cytotec | Obat Telat Bulan | Obat Pelancar Haid | Obat Penggugur Kandungan
APOTIK : Kami Jual Obat Aborsi Ampuh Hub : 0822 4238 8712 | Jual Obat Aborsi Aman | Obat Penggugur Kandungan Cytotec | Obat Pelancar Haid Tuntas. Dengan harga yang bisa anda pilih se

[2020-06-14 11:44] konsultasimedical opened #8667 "Jual obat aborsi Bojonegoro 081390298631 cytotec gastrul penggugur kandungan di Bojonegoro"
Jual Obat Aborsi Bojonegoro 081390298631 Obat Penggugur Kandungan Asli Bojonegoro, Jual Obat Cytotec Gastrul Gynaecosid Bojonegoro,Cara Menggugurkan Kandungan Di Bojonegoro, Apotik Jual obat Telat Bulan Di Bojonegoro, Toko Atau Apotik Jual Obat Pelancar Haid Di Bojonegoro,

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB:

[2020-06-14 11:58] #8656 closed

[2020-06-14 11:58] #8657 closed

[2020-06-14 11:58] #8660 closed

[2020-06-14 11:58] #8661 closed

[2020-06-14 11:58] #8662 closed

[2020-06-14 11:58] #8663 closed

[2020-06-14 11:58] #8664 closed

[2020-06-14 11:58] #8665 closed

[2020-06-14 11:58] #8666 closed

[2020-06-14 11:58] #8667 closed

[2020-06-14 12:23] Rafi993 opened #8668 "“Links do not have a discernible name” warning thrown by lighthouse"
**Describe the bug**

Warning  “Links do not have a discernible name” is thrown by lighthouse. It is due to missing aria label in the featured article link

**To Reproduce**
 1. Go to dev.to
 2. Open up lighthouse in chrome dev tools
 3. Enable "accessibility" and run audit for "desktop"
 4. You will see the warning

**Expected behavior**
It should not throw the above warning

**Screenshots**

![w

[2020-06-14 12:23] Rafi993 commented on #8668
Hi there if this issue is up for grabs I would like to help

[2020-06-14 12:24] konsultasimedis opened #8669 "Jual obat aborsi di klaten 081390298631 cytotec gastrul penggugur kandungan klaten"
Jual Obat Aborsi klaten 081390298631 Obat Penggugur Kandungan klaten, Jual Obat Cytotec Gastrul Gynaecosid Asli klaten, Cara Menggugurkan Kandungan Kuat Di klaten, Apotik Jual obat Telat Bulan Di klaten, Toko Atau Apotik Onlin Jual Obat Pelancar Haid Di klaten .

IMG-20191020-WA0006
![IMG-20191020-WA0006](https://user-images.githubusercontent.com/66897012/84589933-7ae0d280-ae5c-11ea-8456-d60e3e936

[2020-06-14 12:25] konsultasimedis commented on #8669
Jual Obat Aborsi 081390298631 Obat Penggugur Kandungan , Jual Obat Cytotec Gastrul Gynaecosid Asli Cara Menggugurkan Kandungan Kuat Di,Apotik Jual obat Telat Bulan Di, Toko Atau Apotik Onlin Jual Obat Pelancar Haid Di.

IMG-20191020-WA0006
![IMG-20191020-WA0006](https://user-images.githubusercontent.com/66897012/84589933-7ae0d280-ae5c-11ea-8456-d60e3e936324.jpg)

WEB: https://konsultasimedical.com

[2020-06-14 13:13] michael-tharrington commented on #8459
Hey folks!

I appreciate y'all flagging these accounts to us. Yesterday we did get hit with quite a few spammers, so apologies if your feed got clogged up with junk for a bit.

Luckily, we have [moderators](https://dev.to/community-moderation) who were quick to flag this behavior to us so we could remove the content and deal with the users creating it. We also have this page - https://dev.to/repor

[2020-06-14 16:39] Rafi993 commented on #7853
Hi there, If this issue is up for grabs I would like to help.

[2020-06-14 18:55] Ridhwana commented on #7853
@Rafi993 We've redone a lot of the frontend tests this past week as part of the upgrade to Preact X. In the process we've removed some of the snapshots including this one, and replaced them with unit tests. This issue would be obsolete once that PR gets merged in the next day or two, hence I would advise that we close it instead of working on fixing it since the PR is so close to being merged :)

[2020-06-14 19:24] Amorpheuz commented on #8446
Not sure if this is the correct place to comment about this, but I have installed Fork to WSL2 Ubuntu completely via the Linux Guide! It fully works for me, except the test-cases (which I have yet to test) but they didn't use to work with WSL1 for me anyways.

Will test it out and let you know if you would like to point people with WSL2 directly to the Linux installation.

[2020-06-14 23:12] patarapolw commented on #8459
How about an API playground, like `https://temp.dev.to`?

[2020-06-15 02:35] Rafi993 commented on #7853
Awesome

[2020-06-15 03:35] citizen428 commented on #6994
👍 I have some things I want to finish today, but I'll start putting together a plan after that

[2020-06-15 03:38] citizen428 commented on #8458
Hi @Amorpheuz, thanks for the issue. Last week I started working on making this automatic, I'll try to finish it soon.

[2020-06-15 03:41] citizen428 commented on #8668
Thanks, @Rafi993, I assigned you the issue now. I labelled it as bug, because I think accessibility issues should always be resolved, especially when the fix is straightforward.

[2020-06-15 03:47] citizen428 commented on #8446
@Amorpheuz That's good to know! This would actually make a good post on DEV if you feel like writing one 😃

[2020-06-15 03:51] Amorpheuz commented on #8446
Great idea! Consider it done.

[2020-06-15 03:55] Rafi993 commented on #8668
Awesome. Thanks @citizen428

[2020-06-15 08:42] leewynne opened #8678 "Generalisation of logo in editor required"
**Describe the solution you'd like**

Although in the editor <%= logo_svg %> is implemented, I think it picking up a hardcoded svg located from the 'crayons-article-form__logo' class. This means that the Dev logo is rendered rather than the site logo.

**Additional context**

View showing logo_svg is at app/views/articles/_v2_form.html.erb
Hardcoded Dev logo is pulled in from app/javascript/articl

[2020-06-15 08:55] #7853 closed

[2020-06-15 09:04] rhymes commented on #8678
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-15 10:25] AlbertoPdRF commented on #8398
As #8420 has been merged already, can't this issue be closed now?

[2020-06-15 10:27] ledestin commented on #8248
@rhymes I've tried, and, there were too many various issues, like `NoMethodError`, all over the place. It's not an easy fix.

Would you be happy with introduction of `ApplicationError`? If I encounter `StandardError` while working on something, I'd make a PR fixing it and mention this issue, and use `ApplicationError` as a replacement for `StandardError`. What do you think?

[2020-06-15 10:34] Muhimen123 opened #8681 "Make the post editor resizable"
I don't know if I am being too much neat picky or not, it would be great to have the ability to resize the post editor. It sometimes helps to see more content without scrolling. I think the editor if fine for those who have bigger monitors. But for those who use a laptop like me, things get too much dense soon.

So, to wrap stuff up, the current editor isn't harming that much but it would be bette

[2020-06-15 11:16] Ridhwana commented on #8681
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-15 13:21] Rafi993 commented on #6497
I have faced Issue similar to this before when working on other projects. The reason it is happening is because the url contains the word **google-analytics** https://dev.to/attacomsian/are-ad-blockers-blocking-google-analytics-1e5j. I was able to reproduce this issue by installing ublock origin in brave browser.

https://www.reddit.com/r/uBlockOrigin/comments/9j0mer/ublock_origin_blocks_our_websi

[2020-06-15 13:27] nickytonline commented on #8681
This would also be helpful for mobile (iPhone 8, most likely similar size screens as well). Currently, you cannot do much in the body of a post when editing because of this.

[2020-06-15 13:27] Rafi993 commented on #6497
replacing '-' with '+' or any other characters in url would fix this ex:
https://www.google.com/search?q=google+analytics&oq=google+analytics

[2020-06-15 13:29] nickytonline commented on #8398
Also, these screenshots do not reflect the current look of these buttons. Can you confirm that this is still an issue with the latest of the codebase @Oghenebrume50? Thanks!

[2020-06-15 13:30] #8668 closed

[2020-06-15 14:21] Kristina370 opened #8683 "Jual obat aborsi di tasikmalaya 081390298631 cytotec gastrul penggugur kandungan tasikmalaya"
Jual Obat Aborsi Tasikmalaya 081390298631 Obat Penggugur Kandungan Asli Tasikmalaya, Jual Obat Cytotec Gastrul Gynaecosid Tasikmalaya,Cara Menggugurkan Kandungan Di Tasikmalaya, Apotik Jual obat Telat Bulan Di Tasikmalaya, Toko Atau Apotik Jual Obat Pelancar Haid Di Tasikmalaya.

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

[2020-06-15 14:22] Kristina370 commented on #8683
images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiApakah Anda terlanjur hamil? Anda belum siap menjadi seorang ibu? Kami bisa memberikan bantuan untuk Anda. Silahkan hubungi kami, konsultasikan gratis.

Kami konsultasimedical.com menjual cytotec asli kami jual di website res

[2020-06-15 14:29] Kristina370 commented on #8681
Jual Obat Aborsi Tuban 081390298631 Obat Penggugur Kandungan Asli Tuban, Jual Obat Cytotec Gastrul Gynaecosid Tuban,Cara Menggugurkan Kandungan Di Tuban, Apotik Jual obat Telat Bulan Di Tuban, Toko Atau Apotik Jual Obat Pelancar Haid Di Tuban,

images
![images](https://user-images.githubusercontent.com/66870870/84589156-f8a1df80-ae56-11ea-97e8-a5dbb0ad5afc.jpeg)

WEB: https://konsultasimedical.com

[2020-06-15 14:52] #8683 closed

[2020-06-15 15:00] Muhimen123 commented on #8681
Seriously?! More spams!

[2020-06-15 15:18] #8458 closed

[2020-06-15 15:25] #4674 closed

[2020-06-15 16:29] #1520 closed

[2020-06-15 16:38] atsmith813 commented on #8170
Completed with #8375.

[2020-06-15 16:38] #8170 closed

[2020-06-15 16:56] benhalpern commented on #8099
I think we can start with Ahoy _events_ at first to start tracking custom things and then move to visits to track general page loads (ala Google Analytics, possibly moving off GA altogether in long run).

That make sense?

[2020-06-15 17:12] ItsASine commented on #7965
As the "another commenter" I'd like to point out my case specifically is
1. Oct 2018 saved articles
2. September 2018 saved articles
3. Everything else
with each section being reverse chronological (newest first) based on save date

Anything I would add right now would get put into the queue after Sept 2018 but before anything else. It almost looks like the data is messed up where old articles had

[2020-06-15 17:34] Rafi993 commented on #8392
Hi, there if this issue is up for grabs I would like to help.

[2020-06-15 20:15] mstruve commented on #7824
Fixed: #8379

[2020-06-15 20:15] #7824 closed

[2020-06-15 20:18] mstruve commented on #7933
We replaced adding the actual role with `allow(user).to receive(:pro?).and_return(true)` which solves this issue of finding the Role itself

[2020-06-15 20:18] #7933 closed

[2020-06-15 21:55] nickytonline commented on #8392
@Rafi993, I’ve assigned the issue to you.

[2020-06-15 23:47] benhalpern opened #8697 "Move Oauth-related keys to SiteConfig"
**_This is one specific issue, but can be a stand-in for a larger effort of moving a bunch of stuff out of ENV and into somewhere more easily modified._**

Currently we put the `GITHUB_KEY`, `TWITTER_KEY` etc. in `ENV`, but these are technically end-user config, so we should move them to `SiteConfig`.

Since Devise uses them in the `initializer` where I believe `SiteConfig` will not yet be ready,

[2020-06-16 01:44] Rafi993 commented on #8392
Thank you @nickytonline

[2020-06-16 03:30] citizen428 commented on #8392
On re-reading the original description, I'm not so sure anymore if I fully understand what the problem is. I recently changed the primary email address of my Github account, logged out of DEV, and logged back in again with the Github integration without problems.

[2020-06-16 03:36] citizen428 commented on #8697
So far the distinction between `SiteConfig` and environment variables was not strictly driven by whether or not something is end-user config, but also by where a value is needed. We just recently had to move a value over (see https://github.com/thepracticaldev/dev.to/pull/8246) for exactly this reason and the solution we came up with was showing it in the internal config, but pointing out that it

[2020-06-16 04:31] Rafi993 commented on #8392
When you meant switch email did you mean changing email in github or in dev.to profile settings

[2020-06-16 04:32] devreapr commented on #8392
In github

[2020-06-16 04:37] devreapr commented on #8392
@citizen428 I reported this because I’ve got 2 github accounts and I switched their emails a while back.

The account of Dev was made using this username, the one that I reported the issue from.

I can log into dev using ‘devreapr’ but then ‘devreapr’ isn’t the one which the email points too.

The email points to ‘barelyhuman’ and since I’m normally logged in via ‘barelyhuman’ i have to make sure

[2020-06-16 04:38] devreapr commented on #8392
Changed it on Github

[2020-06-16 08:20] coolbrg commented on #1520
Glad to hear and see it fixed 👍

[2020-06-16 08:22] necmettin opened #8702 "Not able to comment"
**Describe the bug**

Commenting does not work (for me, somehow everybody else is able to do that just fine).

When I write a comment and press Submit, I see a 404 for POST https://dev.to/comments in DevTools.

I also can't update my profile as a side note (I'll check if I have signed in using both GitHub and Twitter).

But I can see everybody else able to comment just fine. I am beginning to thin

[2020-06-16 09:11] rhymes commented on #8697
A side note: I'm a bit wary of having secrets in `SiteConfig` but I might be wrong about this obviously :D

[2020-06-16 09:12] AlbertoPdRF commented on #217
I'll start working on this issue!

[2020-06-16 09:17] rhymes commented on #8702
Hello @necmettin, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-06-16 09:17] #8702 closed

[2020-06-16 09:22] rhymes commented on #217
@AlbertoPdRF how do you propose to tackle this?

[2020-06-16 09:28] AlbertoPdRF commented on #217
I have thought about creating a new page on `/:username/:slug/reactions` with a tab (just like on [the dashboard](https://dev.to/dashboard)) for each reaction type, and listing users on each tab similarly to how it's done on [the followers section](https://dev.to/dashboard/user_followers) of the dashboard. How does that sound?

[2020-06-16 09:34] Muhimen123 opened #8703 "How to show comments"
As an author, it's a good power to manage the comments section with the help of **hide**. But according to an old man

So, how do I *un* hide comments which have been hidden previously?

[2020-06-16 09:45] #8703 closed

[2020-06-16 13:28] ghost opened #8705 "HTML clobbered instead of escaped in article titles"
The problem can be seen at [this article](https://dev.to/yujiri8/how-to-feel-about-a-ping-k79), where the title is "How to feel about \<a ping\>?" but it displays as "How to feel about \<a\>?\</a\>".

If I change the title to "How to feel about \\\<a ping\\\>?", it displays as "How to feel about \\\<a\>?\</a\>".

Expected behavior: HTML in titles should be escaped so that it displays the same as i

[2020-06-16 13:34] rhymes commented on #8705
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-16 13:44] adfaris commented on #7298
Can I start working on this? @jacobherrington

[2020-06-16 16:40] gogamic opened #8711 "Feature Request: HTML Support in the Article editor"
I mean while writing a post instead of Markdown you can also add HTML it would be nice

THANKS

[2020-06-16 16:47] jacobherrington commented on #8711
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-16 17:23] #8437 closed

[2020-06-16 17:39] #8433 closed

[2020-06-16 19:04] #8276 closed

[2020-06-16 21:31] benhalpern commented on #8697
I might be _wildly offbase_ here, but here are some thoughts to further this conversation about individual instance config in general:

We could really store some of this stuff _anywhere_....

This seems to get the job done if I want the GitHub Key to equal `<html+lang`

[code]

`SiteConfig` happens to not be available before initialization, but as pointed out above we could probably store this st

[2020-06-16 23:46] atsmith813 opened #8722 "Capture the subscriber's email address"
_We are building a liquid tag where permitted authors can embed a button that users/readers can click to share the email address associated with their DEV account with the author - almost like a subscribe button._

### Capture the subscriber's email address
Record the subscriber's email address at the time of subscription.

[2020-06-16 23:47] atsmith813 commented on #8722
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-06-17 04:23] citizen428 commented on #8392
Thanks for clarifying @devreapr! I'm looping in @rhymes here, as he did quite a bit of work around Github auth recently, but your case is somewhat uncommon I'd say.

[2020-06-17 04:29] barelyhuman commented on #8392
as a fellow programmer, I'd suggest instead of going through the internals of where this is breaking, a simple input that updates the github username in the account settings would be an easier solution.

But then it might conflict with the implementation of auth.

We can have the user re-login on updation of username. If there's any other conflicts with the github auth, let me know , we can figure

[2020-06-17 04:30] citizen428 commented on #8711
Hi @gogamic, did you try to use HTML tags? From our [editor guide](https://dev.to/p/editor_guide)

Here's an example draft post:

https://dev.to/citizen428/test-4jkj-temp-slug-7748822?preview=078228c75e8cdb700aacd84c250129f6902fc4f5d8ad5a7e59ec26199f1f281392df9f0402237dc7f179cabb84e4ed4977029ae8b48cc73859f976cf

The article body I wrote:

[code]

Can we close this issue?

[2020-06-17 05:04] citizen428 commented on #7298
You can, I assigned you the issue now @adfaris 😃

[2020-06-17 07:24] citizen428 commented on #8457
@rhymes The feed doesn't seem to include Markdown, but HTML:

http://binford2k.com/atom.xml

[2020-06-17 07:50] citizen428 commented on #8697
@jdoss, @mstruve, and I have been talking about adding [Vault](https://www.vaultproject.io/) for Forem, so maybe let's wait and see how that plays out? From what I gather your main concern is that changing certain values may require app re-initialization, which is good to keep in mind.

[2020-06-17 08:17] citizen428 commented on #8705
I reproduced this locally.

1. We store the title correctly.
[code]
2. The view uses a helper called `sanitize_and_decode`, which introduces the problem:
[code]
3. This helper was added in #7593 to address #7175.

[2020-06-17 08:51] #8678 closed

[2020-06-17 09:58] rhymes commented on #7751
@jrg94 we merged https://github.com/thepracticaldev/dev.to/pull/8676 which should address the problem. can you go once more to https://dev.to/settings/integrations and then to your profile?

[2020-06-17 10:18] gogamic commented on #8711
Ok

On Wed, 17 Jun, 2020, 10:01 AM Michael Kohl, <notifications@github.com>
wrote:

[2020-06-17 10:19] rhymes commented on #8392
I don't think we currently support switching a DEV account to a different github account though. Your github identity in DEV is tied to the github user ID, which is going to be the first one you've signed in with, no matter the email.

this is not possible, as it will make squatting a real possibility. Nothing would stop me to use someone else's Github username if they have never signed in in DEV

[2020-06-17 10:22] barelyhuman commented on #8392
Not solely based on the username,
I'll rephrase the flow.
I go into settings, change the username for the github, it verifies if the same email is assigned to the existing email id in the database if yes, a change is allowed, if not then an error is thrown.

Anyway, don't have a twitter account and wouldn't wanna make one for this, I guess I'll raise a request to delete the account and recreate wi

[2020-06-17 10:31] Rafi993 commented on #8392
But how to you verify that github account is valid or there is no another email associated with that account or that github is yours... I think it may introduce too many permutations to deal with. I may be wrong

[2020-06-17 10:36] #8711 closed

[2020-06-17 10:36] rhymes commented on #8392
@barelyhuman please email yo@dev.to to see if support can merge your identities then

[2020-06-17 10:39] barelyhuman commented on #8392
I did try that, I was forwarded to raise a ticket for the same and thus, the issue exists.

@Rafi993
The lowest amount of permutations that I see is with a simple check with github api's user endpoint, this can be during login or as a cron job , though the cron job will be very heavy for dev.to but during login it checks a combination of email and username instead of just username and uses that to

[2020-06-17 10:51] Rafi993 commented on #8392
I think @rhymes you are better equipped to deal with this issue please feel free to change assignee.

[2020-06-17 10:53] barelyhuman commented on #8392
Github verifies the emails for you already, all you need to check is if the email and username combination in dev.to's tables are the same as the one that github just sent. if github sent new email then well, update it.

I still see how a user deleting the account would cause an issue , I'll rethink that strat

[2020-06-17 11:13] Rafi993 opened #8725 "Comments starts with one like"
**Describe the bug**
When you make a comment it starts with one like. This may be intentional and not a bug

**To Reproduce**

1. Go to dev.to
2. Select any post
3. Make a comment
4. Comment starts with one like

**Expected behavior**

Comment need to start with zero likes

**Screenshots**

![comments-with-one-star](https://user-images.githubusercontent.com/8092120/84891344-57ff2a00-b0b9-11ea-8b84

[2020-06-17 12:14] Oghenebrume50 commented on #3296
@jessleenyc @rhymes can I work on this, if yes, I would need more context on what exactly this issue address because I tried pasting a GitHub comment link into the twitter card and I got the exact same type of card as the OP posted in his own screenshot like you can see below.

isn't the problem how the card is displayed? from my observation the comment preview shows fine wish is @maestromac first

[2020-06-17 12:38] nickytonline commented on #3296
@rhymes, it might be that for comments we just display the card differently because I'm able to generate one for a comment like above using the original comment link mentioned in the inital issue comment.

![image](https://user-images.githubusercontent.com/833231/84898789-cb7f4800-b075-11ea-96c0-2ab3fb1129d0.png)

@maestromac, do you know if for comments the social card looks different compare to

[2020-06-17 13:41] mstruve commented on #8697
I dont think we should be scared about needing to reinitialize the app for _some_ changes, I think that is something we can easily workaround for a small number of variables. I also think that those variables belong in the hands of users. Same way you hook up integrations with services like Datadog by entering secrets and API keys that is what users will need to do for Forem. Vault seems like an i

[2020-06-17 13:48] mstruve commented on #8697
ALSO this might be useful! https://guides.rubyonrails.org/autoloading_and_reloading_constants.html#reloading

[2020-06-17 14:21] michael-tharrington opened #8726 "Display canonicals consistently on articles"
@michael-tharrington commented on [Fri Nov 15 2019](https://github.com/thepracticaldev/tech-private/issues/314)

Currently, we allow folks two main ways of designating canonicals:
1. Publishing via RSS (importing an external blog in your dashboard)
2. Manually writing in the canonical on individual posts

When publishing via RSS, a note is generated beneath the title of the post that says:
"_Origi

[2020-06-17 14:33] jrg94 commented on #7751
Profile seems to be fine, but the integrations is broken again. Now, it seems to load forever, only to timeout with the following error in red text: "An error occurred: Error". I've attached the log.

[dev.to-1592404372233.log](https://github.com/thepracticaldev/dev.to/files/4793173/dev.to-1592404372233.log)

[2020-06-17 14:39] rhymes commented on #8726
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-17 14:39] ThomasArdal commented on #8726
I would love to see this implemented. I cross post on DEV and input the canonical URL manually.

[2020-06-17 14:46] rhymes commented on #7751
@jrg94 thank you and :-(

[2020-06-17 14:59] michael-tharrington commented on #8392
This was my bad @devreapr (or @barelyhuman 🙂)... I was the one speaking with you via yo@ and got mixed up. I'll reconnect with you in that email chain shortly and do my best to help you solve this. Sorry for all this back'n'forth!

[2020-06-17 15:07] viclafouch opened #8729 "New design broken on article info"
**Describe the bug**

## Desktop
![image](https://user-images.githubusercontent.com/23353836/84914814-5c791200-b0bc-11ea-9725-2f73477ad773.png)

## Mobile
![image](https://user-images.githubusercontent.com/23353836/84915263-dd380e00-b0bc-11ea-8068-693e64f284d6.png)

I'm in chrome incognito, without any extension.. I am the only one ?

And on my mobile, there is responsive..

**To Reproduce**

Exam

[2020-06-17 15:10] xgqfrms commented on #3222
# switchable  css dark theme in js

https://codepen.io/xgqfrms/pen/rNxWzzghttps://codepen.io/xgqfrms/pen/rNxWzzg

[2020-06-17 15:17] maestromac commented on #3296
This is what the social card looks like when it's an article
![image](https://user-images.githubusercontent.com/15793250/84916349-fa081d80-b08b-11ea-8d12-d0a77d9689e0.png)

And this is what it looks when it's a comment
![image](https://user-images.githubusercontent.com/15793250/84916196-c0cfad80-b08b-11ea-8d0a-5fa39fe46605.png)
We don't want that. We would like the custom image we generated to tak

[2020-06-17 15:17] rhymes commented on #8729
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-17 15:17] rhymes commented on #8729
@viclafouch can you try to do a force refresh? let us know if that fixes it

[2020-06-17 15:23] viclafouch commented on #8729
Still broken after a Force refresh on Chrome incognito (without be logged) :

![image](https://user-images.githubusercontent.com/23353836/84917130-386b0000-b0bf-11ea-94e8-bb1e1b66ef74.png)

[2020-06-17 15:24] viclafouch commented on #8729
After a Force Refresh on Chrome Incognito (and logged in):

![image](https://user-images.githubusercontent.com/23353836/84917297-6b14f880-b0bf-11ea-8bf6-106cc3704b12.png)

[2020-06-17 15:26] barelyhuman commented on #8392
It's all cool bro, it's software, there's always going to be an edge case. would be happy to help with fixing it, if no one picks it up then I might just learn ruby and get to it.

[2020-06-17 15:44] lisasy opened #8734 "[Mod Panel] Fix alignment when opened"

[2020-06-17 15:44] lisasy opened #8735 "[Mod Panel] Fix right shadow on viewport"

[2020-06-17 17:10] kewbish opened #8741 "Code blocks display strangely in comment preview"
**Describe the bug**
Codeblocks in article comment previews display with a black border around it.

**To Reproduce**
1. Go to feed
2. Scroll to article with comment previews
3. Find a comment with codeblock.
4. A black border shows around the code.

**Expected behavior**
The code displays without the black border.

**Screenshots**
![image](https://user-images.githubusercontent.com/45278276/8492788

[2020-06-17 17:20] Oghenebrume50 commented on #3296
Got it

[2020-06-17 18:56] nickytonline commented on #3296
Since you wanted to work on the @Oghenebrume50, I will assign it to you.

[2020-06-17 18:57] michael-tharrington opened #8745 "Unsubscribing to notifications on your own post doesn't work"
**Describe the bug**

When a user tries to unsubscribe from the notifications on a single post they've written, they still receive notifications on that post.

**To Reproduce**

1. Navigate to a post you've written,
2. Scroll down to the comments/discussion section
3. Click the unsubscribe button (image below)
4. See the success message that you've unsubscribed. (It briefly appears in the bottom l

[2020-06-17 18:59] nickytonline commented on #8729
This definitely looks like a caching issue. I'd say it's either potentially the service worker of some HTML partials keeping refs to old CSS in the server-side cache

[2020-06-17 19:46] benhalpern opened #8748 "Connect sidecar iframe flashes on re-render"
Seems like re-render of the whole component is now re-rendering sidecar, including iframe, which causes a flash.

To repoduce:

-> Connect, click channel name -> submit new comment (causing re-render).

In the past the iframe did not re-render in this context.

[2020-06-17 19:48] benhalpern opened #8749 "Connect Video no longer opens"
This is not a _core_ feature so it's not the end of the world, but worth noting that video functionality is not currently working as expected.

Reproduce:

Go to Connect -> type `/call` -> Check console.

[2020-06-17 20:11] miketalbot opened #8750 "Can insert a tab without copy & paste"
When writing a post I should be able to enter a tab, so I can continue numeric lists after paragraphs.

Pressing tab moves around the interface rather than inserting the character. I have to paste one from another editor.

**Expected behavior**

Pressing the tab key while typing should insert a tab

**Desktop (please complete the following information):**

- OS: MacOs
- Browser: Chrome
- Version:

[2020-06-17 20:52] maestromac opened #8751 "Editor's title placeholder is squashed on Safari"
**Describe the bug**
The title area in the editor is squashed and I can't see what I'm typing. See the image below.

**To Reproduce**
1. Open Safari and navigate to https://dev.to/new
2. See the title is broken.

**Expected behavior**
The title shouldn't be squashed.

**Screenshots**
![Kapture 2020-06-17 at 16 49 22](https://user-images.githubusercontent.com/15793250/84949119-bb3d8c00-b0ba-11ea-87

[2020-06-17 20:58] maestromac opened #8753 "Can not scroll Editor's textarea on Safari"
**Describe the bug**
I can't seem to scroll the texture when using Editor on Safari.

**To Reproduce**
1. Open Safari and navigate to https://dev.to/new
2. Enter multiple lines into the editor.
3. Try scrolling

**Expected behavior**
Scroll shouldn't be broken

**Screenshots**

What's happening here is when I scroll, it's trying to scroll the whole page instead of just the textrea.
![Kapture 2020-

[2020-06-17 22:15] maestromac commented on #8186
What about remove `rbenv install $(cat .ruby-version)` and the global script from rbenv section? We should ask user to install the right ruby version in the "Installing DEV" step because we'll be sure the user already `cd` into the right directory.

[2020-06-17 22:53] benhalpern opened #8757 "Podcast episodes not processing HTML"
`processed_html` for recent podcast episodes is `nil`.... The `body` which is the raw content returned from the RSS, is present. So something is wrong with our pipeline.

Example...

https://dev.to/devdiscuss/s1-e6-little-known-productivity-tools-big-productivity-gains

[2020-06-18 03:00] JibranKalia commented on #5477
@Ridhwana I am actually not able to get this atm. Can this be reassigned. I don't want to hold up the issue.

[2020-06-18 04:44] DevilEars opened #8759 "I cannot edit my profile or remove my posts"
**Describe the bug**
Cannot update profile, or delete posts. I do not have a twitter account, I logged in via Github. I have logged out and logged in again, the same issue persists.

**To Reproduce**
This is for posts:
1. Go to 'https://dev.to/settings'
1. Delete content in the **Summary** section. Note that this is just one way to reproduce the bug. I can delete anything on my profile, and the sa

[2020-06-18 06:25] citizen428 commented on #8392
Thanks for picking this up @michael-tharrington and thanks for offering help @barelyhuman! However, what you're suggesting is not how most sites leveraging OAuth work, so we need to bge mindful of that when trying to come up with a solution.

[2020-06-18 06:30] citizen428 commented on #8726
👍 a friend recently got confused by this, as they noticed it on posts imported via RSS but it didn't show up on their posts with an explicit canonical URL set.

[2020-06-18 06:33] barelyhuman commented on #8392
Understood, I did get the idea on how we can get this working.
 @rhymes mentioned before that someone could go through and add in a twitter and then can disconnect Github, why not just have that disconnect part without him having to add in twitter login?

**Detailed Flow**

User comes to Settings / Account

### Connections
Disconnect from Github <= User clicks

### Modal opens up
"You will no long

[2020-06-18 06:34] ezio1404 opened #8760 "Features of saving: reading list"
**Is your feature request related to a problem? Please describe.**

It's time consuming if you save the post/content 1 by 1 within the list. You will click each post/content to save.
**Describe the solution you'd like**

- A separate button that can save a chaining list(E.g Playlist in youtube)
- can download a chaining list

**Describe alternatives you've considered**

**Additional context**

[2020-06-18 06:51] Amorpheuz commented on #8186
That sounds great, Another change that should be required along with moving Ruby install step after clone, will be to remove the Rails section from `Installing Rails`. The `bundle install` command under `bin/setup` will install Rails 6.0.1 from `Gemfile`.

I will drop the fix with a PR during the weekend, unless a newer contributor would like to pick this up in the meantime.

[2020-06-18 06:52] Muhimen123 commented on #8750
I agree. This feature will be useful.

[2020-06-18 07:25] citizen428 commented on #8759
Thanks for opening an issue! Is this for https://dev.to/DevilEars? Can you provide a bit more info (how do you sign in, what happens when you try to update a post, etc)? In the meantime feel free to email you@dev.to if you want posts removed.

[2020-06-18 07:28] citizen428 commented on #8760
Just to clarify, you're talking about post series like this and would like to be able to add every post in the series to your reading list with a single click, correct?

<img width="534" alt="Screen Shot 2020-06-18 at 14 27 50" src="https://user-images.githubusercontent.com/47985/84990808-e504ba80-b16f-11ea-9e1c-861bd1a16b5e.png">

[2020-06-18 07:30] Rafi993 opened #8762 ""Send" button in listing does not work"
**Describe the bug**

When you click on the "Send" button on listing nothing happens (there is no network call shown in chrome dev-tools too)

**To Reproduce**
 1. https://dev.to/listings/
 2. Select an item in listing
 3. Type message in reply box and click send
 4. Nothing happens

**Expected behavior**

The message gets sent

**Screenshots**

![send_button](https://user-images.githubusercontent

[2020-06-18 07:35] citizen428 commented on #8750
Please note that changing this would have serious implications for accessibility. Pressing tab to navigate between different site elements is the expected behavior and used by people who can't use a mouse for whatever reason.

* https://www.nngroup.com/articles/keyboard-accessibility/
* https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Cross_browser_testing/Accessibility

[2020-06-18 07:41] citizen428 commented on #8745
To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we will follow up within 3 business days.

For full info on how to contribute, pleas

[2020-06-18 07:43] citizen428 commented on #8762
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-18 08:01] ludwiczakpawel commented on #8753
Fix is coming!

Also.. Safari is the new IE.

[2020-06-18 08:06] rhymes commented on #8741
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-18 08:08] rhymes commented on #8748
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-18 08:09] rhymes commented on #8749
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-18 08:11] rhymes commented on #8751
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-18 08:17] rhymes commented on #8757
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-18 08:40] rhymes commented on #8392
@barelyhuman how is the website supposed to know that dev.to/bob belongs to Bob if they forfeit their identity? I think total disconnect from third parties could be achieved if and when we'll have a Forem identity, right now there has to be one account tied to the user

[2020-06-18 08:46] DevilEars commented on #8759
Thanks for the prompt response!
Yes, some woketard flagged my profile now I cannot edit my profile, or remove my posts, or do pretty much anything. This may be relevant information. Whenever I try to update anything on my profile, I get an HTTP 500 service error.

l'll try to be more clear and give you a step by step way to recreate this scenario. I have already emailed you@dev.to and they haven't

[2020-06-18 08:47] barelyhuman commented on #8392
That is the point of the warning modal.
So

"Change Github Account" => Warning Popup Saying he needs to disconnect the current one to connect to another one => "Disconnect Github" => he's taken to the github oauth screen , the new account is connected => Transaction Complete.

Any point if it fails to complete the previous github account stays. So the site never really has a dangling 3rd party poi

[2020-06-18 08:47] ludwiczakpawel opened #8763 ""Subscribe" component state"
**Describe the bug**

Sometimes when I go to a post, the "Subscribe" button above the comments does not reflect my current state. Even though I'm already subscribed to a discussion, the button still says "Subscribe". After I refresh, the button state is correct.

**To Reproduce**

1. Go to Notifications.
2. Click one of the notifications re post you're subscribed to.
3. Check the "Subscribe" butto

[2020-06-18 08:58] DevilEars commented on #8759
Kindly note that I updated the original post with more information

[2020-06-18 09:05] rhymes commented on #8392
For now a forem identity isn't anything, it's just an idea of a possibility of having an identity with username/password/2fa tied to the site, which would allow people to connect and disconnect third parties as they please.

Your idea seems sensible, I think that currently we don't support multiple identites tied to the same provider which would be a pre-requisite for the "switch".

Food for thoug

[2020-06-18 09:05] rhymes commented on #8763
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-18 09:14] barelyhuman commented on #8392
Makes sense.

I went through the models and saw that you are using an `enabled` flag for the identity.
for the above mentioned change flow, you can have 2 rows of the same provider with one being `enabled:false` and one being `enabled:true` but then you'll have to change the validation to be an index of combination of both the provider and the enabled flag key to avoid duplications.

if the change

[2020-06-18 12:10] #8726 closed

[2020-06-18 12:25] nickytonline commented on #8446
For reference for anyone that comes across this issue, here is the post @Amorpheuz wrote. 🔥 https://dev.to/amorpheuz/wsl2-setup-dev-to-with-linux-but-on-windows-3cdk

[2020-06-18 13:16] #8753 closed

[2020-06-18 13:25] wayofthepie opened #8767 "Code blocks within block quotes are centered"
**Describe the bug**
Code blocks within `blockquote`s are now centered. This was not the case before the latest UI update, and they look a bit odd.
![image](https://user-images.githubusercontent.com/1102174/85025364-352f4d00-b16f-11ea-945a-9af7cc9ce0c1.png)

Note too that the font size is different than code blocks outside a blockquote, it's a few pixels smaller. This was the case before the lates

[2020-06-18 14:05] rhymes commented on #8767
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-18 15:54] adfaris commented on #7298
@citizen428 Looks like  #8040 have removed the sidebar variant and this issue is already resolved.

[2020-06-18 16:18] hashmateteam opened #8770 "footer display in desktop is awkward"
![image](https://user-images.githubusercontent.com/22725431/85046011-3e3d1000-b1a9-11ea-85ac-dd8e273a7ea8.png)

[2020-06-18 16:40] Rafi993 commented on #8762
Hi there if this issue is not yet taken I would like to help

[2020-06-18 16:42] dev998 opened #8771 "I can't update my user profile"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

I can't update my user profile

[2020-06-18 18:40] #8722 closed

[2020-06-18 19:16] ludwiczakpawel opened #8774 "Broadcast Announcement being displayed in Mod Tools."
**Describe the bug**

The broadcast announcement is being rendered within mod tools panel. Looks like this panel is using iframe to load mod tools and that's probably the reason.

**To Reproduce**

1. As an admin, go to `/internal`.
2. Create and activate broadcast announcement.
3. As a mod go to any post. (do not dismiss the broadcast panel)
4. Open mod tools (icon in bottom right corner of the s

[2020-06-18 20:15] madarsbiss opened #8777 "Duplicated author information in posts"
**Is your feature request related to a problem? Please describe.**
When user opens an article, the author info is duplicated (areas under the article and on the right side).

![aaa](https://user-images.githubusercontent.com/42511917/85066855-608a5a00-b1b8-11ea-94ab-0fc28ec28e22.gif)

**Describe the solution you'd like**
Bio is already displayed under the article and I don't think Work, Location, E

[2020-06-18 20:16] justin-schroeder commented on #3802
Having the same issue on one of my recent posts.

![Screen Shot 2020-06-18 at 4 13 49 PM](https://user-images.githubusercontent.com/1950463/85067481-c1953c00-b17e-11ea-8913-8ad155a0a6b2.png)

Personally I would love to see support for additional meta tags in the front matter. That way you could actually have a different cover image and social image. Would be nice to see support for:

`og:image`
`t

[2020-06-18 20:40] #8099 closed

[2020-06-18 20:40] kay-is opened #8780 "Dev.to API response missing articles"
**Describe the bug**

I do a `fetch()` to https://dev.to/api/articles?username=fllstck

It responds with only 2 articles on https://fllstck.dev

**To Reproduce**

Visiting https://fllstck.dev shows 2 articles

Visiting https://dev.to/api/articles?username=fllstck shows 3 articles

**Expected behavior**

I have 3 published articles under the fllstck user.

[2020-06-18 21:18] maestromac commented on #8771
Hello @dev998 , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2020-06-18 21:18] #8771 closed

[2020-06-18 21:31] vaidehijoshi commented on #8774
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-06-18 21:51] #8371 closed

[2020-06-18 22:55] benhalpern commented on #8780
Weird. I see two articles in the dev tools for `fllstck.dev` but three when I visit it on its own.

Either way, I suspect that this is an issue with our cache header logic.

[2020-06-18 23:46] benhalpern commented on #8770
I think this is most likely a caching issue as we have a new footer but there might be some old html mixing with new css. Should go away by tomorrow.

[2020-06-18 23:50] benhalpern commented on #8697
I think as long as there is good communication between everyone in this thread, I'm cool to gradually figure this out and not rush. @citizen428 if you and @jdoss can make something work for a while that sounds good.

Eventually it only makes sense that _users_ would modify these values through a GUI and there are probably not inherent reasons why the app needs to initialize. It's just the default

[2020-06-19 01:10] benhalpern opened #8785 "Editor area not clickable"
Only the 27px high area where the placeholder is is clickable at first.

I recall this getting resolved while we were first deploying, but the issue is back.

<img width="700" alt="Screen Shot 2020-06-18 at 9 07 48 PM" src="https://user-images.githubusercontent.com/3102842/85086263-10a39700-b1a8-11ea-96cc-fdbebe07120f.png">

The whole area should be the `textarea` and it should be clickable.

[2020-06-19 03:15] citizen428 commented on #8770
To our amazing contributors: this is probably a caching issue that will most likely resolve itself. If not, issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we wi

[2020-06-19 03:19] citizen428 commented on #8777
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-19 03:20] citizen428 commented on #8777
@madarsbiss We're currently in a big redesign, so this is a bit of a moving target. If I look at one of my articles now, it only shows location and joined date and a "More from ..." section.

<img width="356" alt="I_joined_the_DEV_team" src="https://user-images.githubusercontent.com/47985/85093349-3e272980-b216-11ea-8321-215ce65ea76a.png">

[2020-06-19 03:23] citizen428 commented on #8780
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-19 03:28] citizen428 commented on #8785
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-19 03:35] citizen428 commented on #8785
It seems like only `crayons-article-form__body text-padding` is the click target, but maybe all of `class="crayons-article-form__content crayons-card"` should be.

<img width="623" alt="Screen Shot 2020-06-19 at 10 29 04" src="https://user-images.githubusercontent.com/47985/85093929-b5a98880-b217-11ea-9993-ae1faa51505a.png">

[2020-06-19 04:52] citizen428 commented on #7298
Ok, closing the issue now, thanks for offering help and taking the time to report back here @adfaris!

[2020-06-19 04:52] #7298 closed

[2020-06-19 04:56] citizen428 commented on #8392
This is something I definitely wished for in the past, so 👍 for at least looking into the feasibility of this change.

[2020-06-19 06:28] DevilEars commented on #8759
By the way, this issue is also present in Brave browser, running in a private tab to rule out stale cookies or other browser data hanging around.

[2020-06-19 07:03] madarsbiss commented on #8777
@citizen428 that was my initial thought :) anyways, great to see DEV evolving :)

[2020-06-19 08:33] 8bithemant opened #8787 "Cant post and all of my published post turned to draft"
**Describe the bug**

In my account I can't publish anything when every I click on publish a post it shows you encountered an bug, and all of my early post have turned into drafts and can't republish them also I am not reciving any update , I encountered this error from 8 hrs and not yet getting out!

Also I am unable to like or follow anyone in dev to, it reflects back my action.
**To Reproduce**

[2020-06-19 09:25] #8787 closed

[2020-06-19 14:18] ezio1404 commented on #8760
Yes Sir, Thank you for understanding my request issue.

[2020-06-19 16:12] jessleenyc opened #8788 "Remove hidden comments from notifications"
**Is your feature request related to a problem? Please describe.**
I recently hid a rude comment from one of my articles and did not appreciate seeing it again on my notifications feed.

**Describe the solution you'd like**
If an author hides a comment on their post, remove that comment from their notifications.

**Additional context**
Just noting that I don't think this is high priority.

[2020-06-19 17:10] TerabyteTiger opened #8789 "Article Posted Date and Author Card Posted Date do not match"
**Describe the bug**

At the top of [this post](https://dev.to/thagomizer/contact-tracing-and-exposure-notification-2b75) it says "May 27 Originally published at thagomizer.com on May 27, 2020"

![image](https://user-images.githubusercontent.com/16465776/85161332-9c133b80-b22d-11ea-8979-a6304431ac8a.png)

At the bottom of the post at the Writer Profile it shows as "Posted on Aug 21 '19"

![image](

[2020-06-19 17:23] Oghenebrume50 commented on #3296
hi @maestromac @nickytonline so I have been trying to work on this and basically I cannot reproduce the bug locally because the twitter validator does not catch images from my local build even when I use a public interface like Ngrok.
So in the screenshot below, I did put in an article link to the twitter validator but it doesn't catch the image, is there something I am missing for my local enviro

[2020-06-19 18:16] jbaruch commented on #3636
+1 on organizational series. It makes a lot of sense, people in the same organization tend to blog about related topics.

[2020-06-19 18:31] simplytammy opened #8790 "I am unable to customize GitHub projects on the integration settings"
**Describe the bug**

I tried changing the GitHub projects visible on my profile, but it failed to load my  repos despite being signed in using GitHub

**To Reproduce**

1. Go to settings
2. Click on integrations
3. An error  is displayed after a few seconds

**Expected behavior**
Not sure what the expected behavior should be, but I expected to see a list of my public repos to choose from

**Scree

[2020-06-19 21:00] simskij commented on #8188
Have not gotten around to this yet, but it's still on my todo list. Got the dev env running a couple of days ago, so the biggest obstacle has already been conquered.

[2020-06-19 22:52] ledestin opened #8792 "Console errors because of new content security policy"
**Is your feature request related to a problem? Please describe.**

I'm getting a stream of errors in JS console:

pusher.js?782e:6050 Refused to connect to 'wss://ws-us2.pusher.com/app/Optional?protocol=7&client=js&version=5.1.1&flash=false' because it violates the following Content Security Policy directive: "connect-src 'self' https: http://renner:3035 ws://renner:3035".

test-2b3e#/ledestin/te

[2020-06-20 00:33] madhead commented on #6914
One more vote for this issue is here. Doesn't work on new editor. Switching to old one seems to change nothing. Had to re-create the post.

[2020-06-20 05:59] Amorpheuz commented on #8750
You can also use 4 spaces to achieve the same effect! Here's a screenshot from vscode (to indicate spaces) but the same is possible on DEV.
![image](https://user-images.githubusercontent.com/22113778/85193912-32586780-b2e9-11ea-975e-bc8d542fdbdc.png)

[2020-06-20 13:51] #8750 closed

[2020-06-20 20:45] negue opened #8794 "Allowed to enable Markdown RSS import ?"
**Is your feature request related to a problem? Please describe.**

I'd like to enabled the Markdown RSS import. Cause the generated HTML might not be fully understood from the HTML-to-Markdown Parser.

I guess me #7923 and others #8457 not the only ones that want to import the raw markdown by rss instead of:

Markdown -> HTML (probably with their own site's flavor) -> RSS -> Import by DevTo -> HT

[2020-06-20 21:16] danascheider commented on #3060
I could pick this up if it's still up for grabs. @lightalloy you said that this "usually" means some entity was "Created"--are you aware of case(s) where it means something else?

[2020-06-21 03:44] jonathanyeong commented on #8075
Hi! First time contributor. Can I take this PR? I think I have an idea of where to `render` instead of `redirect` (pages_controller#welcome and pages_controller#challenge).

[2020-06-21 15:24] wayofthepie opened #8812 "If katex overflows horizontally there is no scroll option"
**Describe the bug**
If katex overflows horizontally, there is no way to scroll. Here is an example on mobile:
![image](https://user-images.githubusercontent.com/1102174/85228225-2e584280-b3da-11ea-8791-56f107a6264d.png)

On the web version of `dev.to` this looks as follows:
![image](https://user-images.githubusercontent.com/1102174/85228269-711a1a80-b3da-11ea-8a71-91b065e222f9.png)

If there is o

[2020-06-21 15:32] thomasbnt opened #8813 "Bad design with timestamp on Connect"
**Describe the bug**
The timestamp is not really beautiful on two lines. :smiley_cat:

**To Reproduce**

[See Connect](https://dev.to/connect) on your smartphone.

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/14293805/85228663-f86c8b80-b3e4-11ea-8208-69db17e930cc.png)

**Smartphone (please complete the following information):**

- Device: Xiaomi
- OS:
-

[2020-06-21 18:30] JibranKalia commented on #5477
I actually noticed that benhalpern implemented `secondary_sticker_image_url` in PR https://github.com/thepracticaldev/dev.to/pull/8431/files. I believe this issue is complete and can be closed.

[2020-06-21 19:45] #5477 closed

[2020-06-22 02:37] nickytonline commented on #8075
I've assigned the issue to you @jonathanyeong.

[2020-06-22 03:05] citizen428 commented on #8788
To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we will follow up within 3 business days.

For full info on how to contribute, pleas

[2020-06-22 03:12] citizen428 commented on #8789
Thanks for the issue!

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we will follow up within 3 business days.

For full info on h

[2020-06-22 03:13] citizen428 commented on #8790
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-22 03:17] citizen428 commented on #8759
Thanks for providing extra information! Have you been able to solve this through your interactions with yo@dev.to by now?

[2020-06-22 03:20] citizen428 commented on #8790
@simplytammy This is a known problem, but alas it's intermittent and we haven't been able to pinpoint the exact problem yet.

[2020-06-22 03:24] citizen428 commented on #8794
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-22 03:41] citizen428 commented on #8794
One thing to keep in mind here is that the RSS 2.0 spec doesn't really provide for this scenario:

Source: https://www.rssboard.org/rss-profile#namespace-elements-content-encoded

Since there is no way to specify the format of the content, this should not require additional preprocessing steps. Markdown itself is not valid and I'd be reluctant to add a custom tag that only we know about.

One alte

[2020-06-22 03:46] citizen428 commented on #8812
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-22 03:47] citizen428 commented on #8813
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-22 03:50] citizen428 commented on #8792
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-22 03:51] citizen428 commented on #8792
Just to clarify, this is for local development, not on the production site, right (based on `rennner:3000`)?

[2020-06-22 04:41] DevilEars commented on #8759
No, I haven't received any more information from them. I did email them again, notifying them that I did log a bug for what I view as a bugs: I should be able to edit my own profile, and my own content, regardless of who put me in the sin bin - if I even am in the sin bin. I am speculating that the bugs we see here are side-effects because the flagging procedure is not exactly well thought through

[2020-06-22 05:20] madzadev opened #8819 "Highlight Pinned articles"
**Is your feature request related to a problem? Please describe.**

I really like the 'pin article' option in user's profile to highlight particular posts.
However, as the user is intended to get an extra attention to them, they should stand out more compared to regular posts.

**Describe the solution you'd like**

I would suggest adding some styling to pinned articles.
You could add a new class l

[2020-06-22 06:53] citizen428 commented on #8789
I'm a bit confused as to how this happens, as all the relevant columns for this article seem to have the right

<img width="1154" alt="Screen Shot 2020-06-22 at 12 06 44" src="https://user-images.githubusercontent.com/47985/85250469-dc1e2c80-b480-11ea-9529-af48c75271bf.png">

The relevant helpers (`readable_publish_date` in `app/models/article.rb`) and `should_show_crossposted_on?` in `app/helpers

[2020-06-22 06:57] citizen428 commented on #8819
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-22 09:55] macandro opened #8822 "facing an issues while login via github"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-06-22 09:55] rhymes commented on #8780
I checked the cache headers with

[code]

and I see that the `Surrogate-Key` contains 3 articles, the cache is miss and the age is 0:

[code]

I then issued `curl https://dev.to/api/articles\?username\=fllstck | jq '. | length'` and got `3` as a response.

I then opened https://dev.to/api/articles/?username=fllstck with the browser and see 3 elements.

It might have been a caching issue yeah, prob

[2020-06-22 09:58] rhymes commented on #8822
Hello @macandro, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-06-22 09:58] #8822 closed

[2020-06-22 11:16] Muhimen123 opened #8823 "Not showing correct post views"
**BUG_DESCRIPTION:**
In general, a user can see details about his/her posts on the dashboard. By details, I mean post_views, reactions, comments, etc. I suspect the dashboard is lying to me by showing false post_views. Here is the evidence:

![page_views](https://user-images.githubusercontent.com/44261822/85280767-9b3b0d80-b4aa-11ea-9b7c-cbbaf4f151a4.png)

Also, here is the API reference:

[code]

[2020-06-22 11:40] nickytonline commented on #8762
So just to be clear what the issue is @Rafi993. The handler for the button is named incorrectly, i.e. the wrong prop is passed in, so nothing happens, correct?

[2020-06-22 11:43] Rafi993 commented on #8762
yes

[2020-06-22 11:45] rhymes commented on #8789
I see the partial is wrapped within a cache block but it shouldn't matter:

https://github.com/thepracticaldev/dev.to/blob/7d73872afb6a2f3417cd7970166cb0c86f6d7cc0/app/views/articles/show.html.erb#L205-L214

[2020-06-22 11:46] Rafi993 commented on #8762
The handler was passed as **onChange** in the prop but the prop **onChangeDraftingMessage** was being used.

[2020-06-22 12:27] nickytonline commented on #8819
cc: @ludwiczakpawel @lisasy

[2020-06-22 12:35] ludwiczakpawel commented on #8819
So the pinned articles are already in designated area on top of your profile... So these are highlighted in a way, right? Do we need to highlight them more?

[2020-06-22 14:11] maestromac commented on #8789
@rhymes I believe that's actually the problem. The cache key `"article-about-author-#{@user.id}-#{@user.updated_at}"` is based on the first article visited (within 100 hours) and reused on all articles by the same author. This bug is happening to my older articles too.

[2020-06-22 14:15] gogamic opened #8826 "Hello i am not able to change my email and my twitter acc is nit updating"
Hello there I have requested a email change it says a verification email has been sent but I haven't received it and also I have changed my username on twitter but its not yet updated in dev.to

[2020-06-22 14:35] rhymes commented on #8789
oooh! yeah! I misread `@article.updated_at`. That's definitely it, great catch @maestromac!

[2020-06-22 14:58] maestromac commented on #3296
@Oghenebrume50 this might be because you don't have HCTI's API locally so the feature may have been disabled. You'll need to sign up and obtain your own personal API key from [HCTI](https://htmlcsstoimage.com/) and give it another try

[2020-06-22 15:15] Muhimen123 commented on #8823
And the number suddenly grew to 223. That means the problem is fixed.

[2020-06-22 15:15] #8823 closed

[2020-06-22 16:42] jacobherrington commented on #7222
This can be closed :) It was shipped out with the mod actions improvements!

[2020-06-22 16:42] #7222 closed

[2020-06-22 17:04] madarsbiss commented on #8819
@ludwiczakpawel thanks for looking into this feature request! Yeah, I don't think that just positioning them on top is enough.

When I open some profile that has some pinned articles, it's hard to immediately distinguish where the pinned articles end and where the latest articles start (because visually they look the same). An extra darker shade of background color would be nice, so it's possible

[2020-06-22 17:19] madarsbiss opened #8830 "Loading bar gets stuck at times"
**Describe the bug**

Loading bar gets stuck for like 1 of 3 times I want to load DEV main page multiple times in a row.

**To Reproduce**
Try to reload Home by pressing DEV icon on top left multiple times.

**Screenshots**

![aaaa](https://user-images.githubusercontent.com/42511917/85315721-3a203380-b4c4-11ea-8567-26a13f3dc647.gif)

**Expected behavior**
Home page gets loaded and loading bar goes

[2020-06-22 17:24] #8812 closed

[2020-06-22 17:30] Rafi993 commented on #8788
Hi there, If this issue is not yet taken I would like to help.

[2020-06-22 17:45] Ridhwana commented on #8788
Thanks @Rafi993 I've assigned you :)

[2020-06-22 18:32] michael-tharrington opened #8832 "Change language for moderating comments to reflect Mod Panel language"
**Is your feature request related to a problem? Please describe.**

Yes, the language for our mod tools is unclear when moderating comments (by appending `/mod` to a comment's URL; e.g. - https://dev.to/michaeltharrington/comment/ofm2/mod). Particularly the phrases "Mark As Spam" & "Flag As Abusive" placed beneath each vomit face aren't clear.

In the mod panel (pic 1 below), we say "Flag to Admin

[2020-06-22 18:58] madhavarshney opened #8834 "Incorrect styling of "fork" in the repo list on the "Integrations" tab"
**Describe the bug**

The label "fork" in the GitHub repositories list in the "Integrations" tab of your settings is styled incorrectly.

**To Reproduce**

1. Make sure you have your GitHub account connected
2. Make sure you have  at least one forked repository
3. Go to the "Integrations" tab in your settings
4. Look at the list of repos

**Expected behavior**

The label "fork" is styled correctly

[2020-06-22 19:01] Zhao-Andy commented on #8834
@madhavarshney good catch on the PR! I think we can add that code back in. Feel free to open a PR :)

[2020-06-22 21:34] maestromac commented on #8751
It kind of resolved it self 🤷

[2020-06-22 21:34] #8751 closed

[2020-06-22 21:35] vaidehijoshi commented on #8751
@maestromac you must have recently made a sacrifice to the safari gods 😛  it's the only explanation!! 😉

[2020-06-22 23:12] #8762 closed

[2020-06-22 23:34] benhalpern opened #8842 "Connect input should grow with content"
We changed the input in `/connect` from multiple lines by default to one, but when text spans more than one line the content gets hidden.

![](https://im4.ezgif.com/tmp/ezgif-4-8d5f0829d41b.gif)

Expected behavior: Content grows, similar to how it does in the `Title` component (where we use `preact-textarea-autosize`

From that file:

[code]

[2020-06-23 06:22] citizen428 commented on #8830
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-23 06:24] citizen428 commented on #8832
To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for others please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we will follow up within 3 business days.

For full info on how to contribute, please check out

[2020-06-23 06:53] rhymes commented on #8842
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-23 07:33] ludwiczakpawel commented on #8830
Hey @madarsbiss thanks for this report! I've pushed the fix that will hopefully fix it.. Even though, this progress bar is a bit of black magic for me so I'm not sure tbh :D Give it couple more hours till we deploy the fix.

[2020-06-23 07:35] madarsbiss commented on #8830
@ludwiczakpawel thanks for looking into it :)

[2020-06-23 07:55] rhymes opened #8848 "Article stats page is misaligned"
**Describe the bug**

The article stats page is not aligned

1. add the `pro` role to your local user
1. create an article
1. go to localhost:3000/article-slug/stats

**Expected behavior**

The page to be centered and to progressively shrink with smaller screens

**Screenshots**

![Screenshot_2020-06-23 Stats for Your Article - DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201

[2020-06-23 08:58] Amorpheuz opened #8849 "Incorrect node version used in GitPod"
**Describe the bug**
Creating a new GitPod instance leads to a bug where under `gem install solargraph; bin/setup && bin/startup` the `bin/setup` script fails at `yarn install` due to incorrect node version being used (which is 12.18.x).

The [GitPod Dockerfile](https://github.com/thepracticaldev/dev.to/blob/master/.gitpod.dockerfile) does handle the installation of nvm and correct node version, b

[2020-06-23 09:20] mikgross opened #8850 "Report SPAMMY comments"
**Is your feature request related to a problem? Please describe.**

Recently I have received a SPAM comment coming from Malaysia. I believe this type of long, unrestricted comments shouldn't be accepted on the site.

**Describe the solution you'd like**

A button at the end or start of the message to report the specific comment as Spam or report the user.

**Describe alternatives you've considered

[2020-06-23 09:43] rhymes commented on #8849
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-23 09:46] rhymes commented on #8850
@mikgross you can report comments this way (click on the three dots):

<img width="832" alt="Screenshot 2020-06-23 at 11 45 23 AM" src="https://user-images.githubusercontent.com/146201/85388966-17832e80-b547-11ea-918f-1f34cd39be4c.png">

let me know if that's what you were looking for

[2020-06-23 10:09] ledestin commented on #8792
@citizen428 yes, local dev env. The policy was added only for dev env.

[2020-06-23 10:19] Muhimen123 commented on #8850
Alternatively, as an author, you have the privilege to hide the comment so no one can see it(although I prefer reporting).

[2020-06-23 10:22] Muhimen123 commented on #8251
Grammarly is now functioning properly for the post editor. Therefore I am closing this issue. Thank you.

[2020-06-23 10:22] #8251 closed

[2020-06-23 10:24] mikgross commented on #8850
Ah! thanks! I am with the dark theme and in this one the contrast is almost not existent. So I missed it. Maybe this is something that could be fixed in newer release:
![scfeenshot](https://ibb.co/NyRY1wY)

[2020-06-23 10:24] ledestin opened #8851 "Refactoring of initializeCommentsPage.js.erb"
**Is your feature request related to a problem? Please describe.**

While working on a bug fix, I've encountered some complex JS in `initializeCommentsPage.js.erb`, and I'd like to refactor it. I've noticed that tests don't cover everything while refactoring, would you still accept a refactoring? I'm willing to write more tests, if necessary. The refactoring is just extracting some methods from `i

[2020-06-23 10:40] rhymes commented on #8850
@mikgross can you open a separate issue for that? Thank you!

[2020-06-23 10:40] #8850 closed

[2020-06-23 10:41] rhymes commented on #8851
cc @nickytonline

[2020-06-23 10:44] moopet opened #8852 "Expand shortened URLs"
**Is your feature request related to a problem? Please describe.**

Shortened URLs are generally not useful for anything other than reading to people over the phone.

A link in a post to bit.ly/something123 gives no indication of where it goes, exposing people to possible spam sites.

**Describe the solution you'd like**

Automatically expand shortened URLs where they appear in comments and posts.

[2020-06-23 10:48] rhymes commented on #8852
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-23 11:19] ledestin commented on #4181
Would like to take on this issue.

[2020-06-23 13:12] nickytonline commented on #8851
@ledestin, definitely feel free to tackle some refactorings in there. There's a couple of reasons why the testing is not great for this oart of the codebase.

The first reason is we have no end to end testing in place. The other reason is this code is being handled by Sprockets, not webpack, so nothing can be imported so no tests in jest.

Ideally a refactoring would be great if we could maybe pul

[2020-06-23 13:32] rhymes commented on #8851
My suggestion is to submit multiple small PRs than one huge one, if possible

[2020-06-23 14:53] jonathanyeong commented on #8075
Dang sorry @nickytonline I have a question already. Do you know why hitting publish on a post does nothing? Am I missing some sort of setup. I'm also having issues with the links on the `internal/welcome` page. I've added a couple of videos below showing what issues I'm facing.

https://www.loom.com/share/39217194cfc0462ab3481a853e2280ad
https://www.loom.com/share/3907477c61bc4e15aee05e8273ccce9a

[2020-06-23 15:07] adfaris commented on #8832
can I start working on this issue?

[2020-06-23 15:32] Ridhwana commented on #8832
Yes please go ahead :) Ive assigned you to the issue @adfaris.

[2020-06-23 17:03] #3296 closed

[2020-06-23 17:40] vaidehijoshi opened #8861 "Add title text to broadcasts"
We need some way of differentiating the main title text of a broadcast from the `processed_html` in order to render the title differently from the basic text in the new welcome notification design.

See [this related issue](https://github.com/thepracticaldev/dev.to/issues/7169) for new welcome notification designs.

[2020-06-23 17:43] #8171 closed

[2020-06-23 18:39] jacobherrington commented on #7760
I believe this has been closed by #8298 :+1:

[2020-06-23 18:45] jacobherrington commented on #8770
I believe this was indeed because of the cache and this issue can probably be closed.

[2020-06-23 18:45] #8770 closed

[2020-06-23 18:50] jacobherrington commented on #8729
Hey @viclafouch, are you still seeing this broken sidebar?

[2020-06-23 20:01] DeJaVoo opened #8867 "New Medium stories are not fetched as drafts"
**To Reproduce**

1. Click on your profile pic to open the drop down menu
2. Choose settings
3. Choose Publishing from RSS
4. Make sure your Medium feed is defined as follows: _https://medium.com/feed/@your_username_
My rss feed: https://medium.com/feed/@dvirsegal
5. Click on "Fetch feed now" and wait to "Your profile was successfully updated." message
6. Go to dashboard by either click on your pr

[2020-06-23 22:17] viclafouch commented on #8729
Hey @jacobherrington , nop, it's fixed ! thanks !

![image](https://user-images.githubusercontent.com/23353836/85470990-19cda300-b5b0-11ea-989f-b1e3161f6f39.png)

[2020-06-23 22:17] #8729 closed

[2020-06-24 03:47] citizen428 commented on #8867
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-24 04:19] wayofthepie commented on #7760
Hi @jacobherrington this still seems to be an issue on dev.to :smile:

Just wondering if it should be fixed there also by now?

[2020-06-24 07:15] DeJaVoo commented on #8867
HI, thank you for setting it as a bug and I sure hope it will be fixed soon.
Since I really on it to cross-post my article, at the moment it means some of my new articles from Medium are not being published on the dev community.

Again , thank you!

[2020-06-24 07:22] citizen428 commented on #8867
@DeJaVoo No worries, I actually prioritized this since the ability to crosspost content to DEV is important. I believe I have found the problem now and hopefully will have a fix out shortly.

[2020-06-24 07:26] DeJaVoo commented on #8867
@citizen428 thank you. I'm actually looking at the code and console log to understand what's the issue.
I see that: "Found 2 elements with non-unique id #user_feed_url" that it basically means there is a property without a unique id.

See SO answer: https://stackoverflow.com/questions/7017213/jquery-to-get-non-unique-ids-from-the-dom

[2020-06-24 07:42] #8832 closed

[2020-06-24 07:44] citizen428 commented on #8867
Thanks @DeJaVoo, but this is not the problem in this case. The issue here is related to our Ruby code for importing the feed and you won't see the exceptions raised there show up in the browser console.

[2020-06-24 07:46] DeJaVoo commented on #8867
@citizen428  :)
do you mean here:

[2020-06-24 07:46] DeJaVoo commented on #8867
By mistake

[2020-06-24 08:05] citizen428 commented on #8867
Yes, that one and related classes. Draft PR with first results is up, but it's still not quite working 100%.

[2020-06-24 09:52] aHudspith opened #8878 "Ability to make collections"
**Is your feature request related to a problem? Please describe.**

I'd love to be able to make collections of posts I like that relate to a particular topic.

**Describe the solution you'd like**

It would be like the reading list but I can make my own and make several of them.

**Describe alternatives you've considered**

I've considered adding them all to my reading list, but it is just to clut

[2020-06-24 11:29] rhymes commented on #8878
Hi @aHudspith, is this previous request the same as yours ? https://github.com/thepracticaldev/dev.to/issues/710

Let me know, and thank you for opening this!

[2020-06-24 12:16] aHudspith commented on #8878
Yeah that looks the same 😄

[2020-06-24 14:05] ludwiczakpawel opened #8884 "Tag limitation"
**Describe the bug**

I was able to create a tag with only one special character `â` when adding a new post. But the generated page with tag did not work.

**To Reproduce**

1. Write a new post
2. Add a tag with some special character like `â` or `ą` or whatever else.. Technically you can't enter that character by hand (usually with use of `opt` key on keyboard) but you can easily paste it or long

[2020-06-24 14:10] maestromac commented on #8867
Resolved with https://github.com/thepracticaldev/dev.to/pull/8877

[2020-06-24 14:51] #8867 closed

[2020-06-24 14:55] omenking opened #8886 "Change UX for marking a post as draft or published in the rich text editor"
**Is your feature request related to a problem? Please describe.**

I was debugging a different issue because since the new editor changes I was only ever to have one draft with the basic editor. I switched over to test the Rich Text editor which allowed me to have multiple drafts but what I discovered was a UX issue that caused me to publish a draft article.

You can see my mistake here:
https://

[2020-06-24 15:08] viclafouch commented on #3802
Having the same issue on my post published today (https://dev.to/viclafouch/build-a-complete-modal-component-with-react-hooks-2fk8)

# Preview on Linkedin

![image](https://user-images.githubusercontent.com/23353836/85580890-68288380-b63c-11ea-9efc-daae827b8b66.png)

[2020-06-24 15:13] kay-is commented on #3802
Update: I found a social media manager (e-clincher) that allows me to extract images from a post, stuff I post with that manager doesn't fit 100% either, but at least its centered now.

[2020-06-24 15:25] adfaris commented on #8848
can I please work on this issue?

[2020-06-24 16:14] #7766 closed

[2020-06-24 17:01] Rafi993 commented on #8725
Thinking about this bugs is probably not valid and seems silly now.

[2020-06-24 17:01] #8725 closed

[2020-06-24 17:05] 12vanblart commented on #3929
Team Trash Panda (Raccoon) Mod Chat was talking a bit about possibly adding a `lang` or `language` option to frontmatter to allow users to filter their own posts to different languages.

[2020-06-24 17:26] Oghenebrume50 commented on #6938
![seriessss](https://user-images.githubusercontent.com/37092867/85602942-c9098900-b647-11ea-9121-8a159d4be288.png)

Hi, @jessleenyc @jacobherrington if I am correct, the solution needed here is to have an extra tab(my_series), show up in the dropdown tab, just like the above screenshot and when it is clicked on a page of the user's series display with each series grouped together nicely, is this t

[2020-06-24 17:28] nolleto commented on #8313
Use slug still a desirable feature? If so, I can try to implement it.

[2020-06-24 18:00] Judionit opened #8892 "Bug in button more, post"
When I read a post and Want to click in more button, I can't see the menu, it's in the back

![index](https://user-images.githubusercontent.com/46365844/85608414-b437f000-b65d-11ea-8719-5972ceee6f2d.PNG)

[2020-06-24 19:08] jacobherrington commented on #8884
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-24 19:09] jacobherrington commented on #8886
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-24 19:10] jacobherrington commented on #8892
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-24 19:11] jacobherrington commented on #8892
Hey @Judionit - do you mind including some browser information here? I'm not able to replicate the issue in Firefox or Chrome on Ubuntu.

What kind of setup are you experiencing this bug on? Is it on every article or just this one? Thanks!

[2020-06-24 19:37] #8734 closed

[2020-06-24 20:25] lisasy opened #8897 "Improve visual legibility of button: `crayons-btn--ghost-success'"

[2020-06-24 20:26] lisasy opened #8898 "Improve visual legibility of `crayons-btn--ghost-warning'"

[2020-06-24 22:39] jacobherrington commented on #6938
@Oghenebrume50 I think that is one option, but I might go with adding a filter on the existing dashboard because I think it provides a better user experience. I think it makes sense to group it in the same place we currently list all of a user's articles.

I'd put a link somewhere [on the dashboard](https://dev.to/dashboard), maybe next to "Show archived"?

![image](https://user-images.githubuserc

[2020-06-25 00:07] nickytonline commented on #8892
@jacobherrington, this is a known issue. I reported it to @ludwiczakpawel yesterday or the day before. He'll be working on a fix for this or already has one.

[2020-06-25 02:14] 31piy opened #8900 "Reading list badge doesn't disappear"
**Describe the bug**

The **Reading list** navigation item on the left sidebar gets a badge when there is any new item added to it. After removing all the added items, the badge doesn't disappear.

**To Reproduce**

1. Ensure the **Reading list** is empty.
1. Add a new post to the reading list by clicking the **bookmark** icon in the reactions pane.
1. Go to home page by clicking on the app logo o

[2020-06-25 02:44] adfaris commented on #8842
Can I start working on this?

[2020-06-25 03:18] citizen428 commented on #8900
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-25 03:26] citizen428 commented on #8878
A somewhat wider scoped version of this is also in #1391, which asked for shareable filtered lists and has been approved to be worked on.

[2020-06-25 04:29] Judionit commented on #8892
Hey, thank you for your quick reply,
I tested it in chrome browser on windows

[2020-06-25 07:13] ludwiczakpawel commented on #8892
I'll be looking into this issue today, thanks for reporting!

[2020-06-25 07:19] rhymes commented on #8848
@adfaris sure! I'm assigning you the issue, though I see you've already sent a PR :D

[2020-06-25 07:24] rhymes commented on #8313
Hi @nolleto, I think so in theory, have you thought about the API interface?

Right now we have `/articles/:id` to get a published article. How would "get by slug" fit in the API?

[2020-06-25 07:28] rhymes commented on #8884
@ludwiczakpawel we don't support special characters in tags, so I think the expected behavior here is to raise an error

[2020-06-25 07:35] rhymes commented on #6938
pinging @lisasy and @ludwiczakpawel as they are our resident designers

[2020-06-25 07:38] ludwiczakpawel commented on #6938
Hey! This is a neat idea, I really like it. We're currently working on some dashboard updates so lets wait couple more days until we ship these and then lets come back to this idea and think how this could potentially fit there.

I'm not a big fan of adding this link to the profile dropdown though - it doesn't seem to me like a good place for this not-so-common action. But dashboard - yea, that fe

[2020-06-25 07:39] ludwiczakpawel commented on #8884
@rhymes but then we should be able to enter special characters in the tags field so this page is not being created in the first place.

[2020-06-25 07:43] rhymes commented on #8842
@adfaris sure! Assigned you to the issue

[2020-06-25 08:13] ludwiczakpawel commented on #8892
^ I've got [PR](https://github.com/thepracticaldev/dev.to/pull/8903) waiting to be approved. It should fix the issue.

[2020-06-25 08:29] #8878 closed

[2020-06-25 08:38] rhymes commented on #8884
Yeah, either one of the solutions. I think we need both as JavaScript validation can still be bypassed :)

[2020-06-25 08:46] rhymes commented on #745
Fixed by https://github.com/thepracticaldev/dev.to/pull/6582

[2020-06-25 08:46] #745 closed

[2020-06-25 09:14] rhymes opened #8904 "GitHub repositories in settings bug: status quo and explorations"
This is mostly a summary of the status quo and and explorations as to why we're having issues with the feature "fetch repositories from GitHub to display them in your profile" reachable at https://dev.to/settings/integrations (it requires to be logged in with GitHub).

As of today 25th of June around 11am UTC+2 it's working, but it does so intermittently. It always works locally.

The odd thing is

[2020-06-25 09:22] binford2k commented on #8457
Honestly, it looks like `\n` characters are stripped out, and if they were instead just replaced with a `[space]`, it'd be all good.

[2020-06-25 10:04] ludwiczakpawel commented on #8819
@madarsbiss If you don't mind lets put it on hold for now. We will soon be working on redesigning/updating the user profile view and I think this would be good moment to revise pinned articled as well. As long as it's not a bug (and clearly it's not one) I think it's safe to punt for now. Is that ok with you?

[2020-06-25 10:33] deepu105 opened #8906 "New Dashboard design is clunky on smaller screens and mobile view"
**Describe the bug**

The new dashboard design is not very responsive. It looks clunky in smaller screens and on mobile. I liked the old layout better TBH. The new one is ok but I find it less readable especially on mobile

**To Reproduce**

Just open dashboard with some posts on a smaller screen

**Expected behavior**

Responsive screen with proper placement of elements

**Screenshots**

![image]

[2020-06-25 10:40] deepu105 opened #8907 "Make showing top comments on posts in feed configurable"
**Is your feature request related to a problem? Please describe.**

I personally do not want to see top comments on posts on the feed as it makes eyeballing through the feed for interesting topics less pleasant. I can see that there will be people who like this, so it would be nice if I can turn off/on this view from settings or something to improve personal UX preference.

It almost feels like De

[2020-06-25 10:51] ludwiczakpawel commented on #8906
Fix for this issue and other dashboard updates are coming in literally couple hours (if everything goes smooth).

[2020-06-25 11:02] #8892 closed

[2020-06-25 11:17] Oghenebrume50 commented on #6938
@ludwiczakpawel awesome, I guess I would wait a while for the new dashboard design before I continue working on this

[2020-06-25 11:31] rhymes commented on #8907
Hi @deepu105 I believe your request is a duplicate of https://github.com/thepracticaldev/dev.to/issues/8073

Please confirm and add your valuable POV there as well :)

[2020-06-25 11:34] leewynne opened #8908 "Video not showing on mobile. Tested on iOS only."
**Describe the bug**

When I navigate to Dev video and I choose to view any videos displayed, the player is rendered but the screen is black. Audio is coming through fine. When I fiddle with it, like go full screen and back again, sometimes the video renders and sometimes it doesn't.

**To Reproduce**

Open Dev
Go to Videos
Choose any video
Video doesn't render.

**Expected behavior**

Full video

[2020-06-25 12:16] deepu105 commented on #8907
oh ya. Very sorry I didn't find that when I looked

[2020-06-25 12:16] #8907 closed

[2020-06-25 12:25] deepu105 commented on #8073
copying over my comment from #8907 since I opened it without knowing about this issue

Truncated comments are still distracting and honestly, I don't find comments helpful in any way personally. The previous UI of Dev was perfect IMO. Again since UX is always subjective, IMO its best to make it configurable where possible so individuals can set it the way they like. And yes the Gmail example is sp

[2020-06-25 12:44] Ridhwana commented on #8908
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-25 12:45] rhymes commented on #8908
I think @fdoxyz is already aware of this, right?

[2020-06-25 12:45] deepu105 commented on #8906
cool, you folks are fast

[2020-06-25 13:08] fdoxyz commented on #8908
I have [a PR up](https://github.com/thepracticaldev/DEV-Android/pull/90) for a solution to this problem in Android. The iOS implementation seems like it broke recently, which is perfect timing to get iOS on track with a native implementation for this too.

Thanks for the report @leewynne!

[2020-06-25 13:48] Sempurnaabadi88 opened #8910 "Jual Bio Nerve Di Medan 08112645181"
Jual Bio Nerve Medan | Agen Resmi Obat Bio Nerve Di Kota Medan

Pesan Antar Gratis / COD, Bayar Di Tempat

Jual Bio Nerve Medan
Jual Bio Nerve Medan
Jual Bio Nerve Medan Obat Atasi Nyeri Sendri, kram Otot DLL
Jual Bio Nerve Medan hadir sebagai herbal tradisional yang 100% halal dan berbahan alami yang dapat membantu pemulihan berbagai macam gangguan sendi dan saraf secara efektif, termasuk membant

[2020-06-25 13:50] Kvaibhav01 opened #8911 "Show/Hide archived link redirects to about:blank#blocked from PWA to Chrome"
**Describe the bug**
When I want to archive a post. I click on the three dots menu in the dashboard corresponding to the post and hit "Archive post". It archives. The problem arises when I want to show/hide the archive post(s) from the DEV's PWA. The same thing happens, it opens a new tab with "about:blank#blocked" as the URL. It does show me the required archived/unarchived posts when I go back t

[2020-06-25 14:09] Sempurnaabadi88 commented on #8910
kkkkk

[2020-06-25 14:35] Muhimen123 commented on #8910
SPAM!!!

[2020-06-25 16:10] Oghenebrume50 commented on #8313
@rhymes so I was looking at this, just curious,  this is  (https://github.com/thepracticaldev/dev.to/blob/master/app/controllers/api/v0/articles_controller.rb) the file where the implementation is made I guess.
Also is there an extra setup to make the API work in my local environment, because I tried running the get all with curl `curl localhost:3000/articles` but it threw an error. There is nothi

[2020-06-25 16:16] Ridhwana commented on #8911
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-25 16:32] sachinmukherjee commented on #8255
I have cloned this repository and when I run docker-compose up I'm getting the same issue

[2020-06-25 16:33] Oghenebrume50 commented on #8745
Hi, @michael-tharrington @citizen428 I tried this in both the production site and in my local setup, but I could not reproduce it, @michael-tharrington could you please check again, or maybe someone else could check just to make sure this hasn't been resolved already

[2020-06-25 16:45] jdoss commented on #8255
@sachinmukherjee You need to run `docker-compose build` before up if you are not using `bin/container-setup`.

[2020-06-25 16:49] rhymes commented on #8313
Hi @Oghenebrume50, good questions! the API docs is https://docs.dev.to/api/

The API locally is reachable at `curl localhost:3000/api/articles` and similar URLs but refered to the documentation.

The documentation is auto generated from this file: https://github.com/thepracticaldev/dev.to/blob/master/docs/api_v0.yml

Here's how you can view it and edit it locally: https://docs.dev.to/contributing_

[2020-06-25 17:10] #8906 closed

[2020-06-25 17:13] #8168 closed

[2020-06-25 18:51] ledestin commented on #8851
@nickytonline thanks! Aren't there some system tests? I broke some dashboard functionality, and thankfully, tests told me that. Most of the code can be brought to Webpack, but I feel it should be possible to write system tests for that.

@rhymes would you consider #8905 small?

[2020-06-25 19:53] ludwiczakpawel commented on #8073
@deepu105 yea, we're pretty much leaning towards similar solution but I don't know yet what will be the possible options and how they gonna look like. I'm still not 100% sure where we gonna implement that, but we will definitely do it :)

[2020-06-25 19:55] nickytonline commented on #8851
There's some tests using Capybara/rspec, but it might not be testing what you are refactoring @ledestin. There are long term plans to get end to end testing in place.

[2020-06-25 22:57] omenking opened #8920 "Additional Admins in a DEV Organization should be able to see article basic stats"
**Is your feature request related to a problem? Please describe.**

I have a DEV Organization that I manage. I added a few different admins, some to help edit draft content, others to view statistics. The Admin I added to view the statistics cannot see any articles. I don't know if this was a recent change since I think previously admins who did not account owner could see stats.

**Describe the s

[2020-06-26 00:28] AlbertoPdRF commented on #2045
I think this issue is a duplicate of #947.

[2020-06-26 03:58] ghostsquad opened #8923 "Support the GoLang Playground as a liquid tag"
I was wondering if there is anything on the roadmap to support the GoLang Playground as a liquid tag?

[2020-06-26 09:13] Amorpheuz commented on #8446
Would a installation method similar to #8186 's Fix in #8854 work for this? Such as:

Install `nvm` pre dev repo clone. Post clone, install node with version from `.nvmrc`. The Yarn installation can be performed without node as outlined in the third code block under Debian/Ubuntu on its [installation page](https://classic.yarnpkg.com/en/docs/install#debian-stable). I.e. `sudo apt update && sudo ap

[2020-06-26 09:29] #8848 closed

[2020-06-26 09:38] rhymes commented on #8851
@nickytonline @ledestin I took a look and I was wondering if we want to introduce JS classes at at all. We don't use them anywhere in that side of the code. At the same time it's true that we don't have a clear organizational structure in the JS code that's managed by sprockets. A part of me would like to use Stimulus like we've been slowly trying to do in the `/internal` panel.

But it'd be anoth

[2020-06-26 09:40] rhymes commented on #8920
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-26 09:41] rhymes commented on #8920
I marked this as both bug and feature request because I believe it contains both...

[2020-06-26 09:45] rhymes commented on #2045
Good call @AlbertoPdRF, going to close it as such!

[2020-06-26 09:45] #2045 closed

[2020-06-26 09:45] rhymes commented on #947
Please refer to https://github.com/thepracticaldev/dev.to/issues/2045 for further opinions and comments

[2020-06-26 10:03] rhymes commented on #8923
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-26 10:10] #8834 closed

[2020-06-26 10:45] miketalbot opened #8924 "Credits available on dashboard is the total number of credits ever, not the current number of credits"
**Describe the bug**

When I view the dashboard it says I have 10 credits available.  When I go to the listing page it says I have 0 available.  In total I've earned 10 credits over my membership.

**Expected behavior**

Dashboard credits either says "credits ever/earned" or dashboard credits is my current credit count.

**Desktop (please complete the following information):**

- OS: Mac 10.15.5
-

[2020-06-26 10:52] rhymes commented on #8924
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-26 10:57] rhymes commented on #8924
Hi @miketalbot, can you clarify and send us a screenshot?

https://dev.to/credits should show you the amount of credits you have available to spend.

If you then go to to https://dev.to/listings/dashboard you should see the same exact number (at least I do).

I checked and you should have 0 available credits as you have 10 that were spent in the past. Thus I think the issue is that the  credits pa

[2020-06-26 11:13] rhymes commented on #8920
Hi @omenking, thanks for the request, would you mind splitting this up so we don't have both the bug report and the feature request under the same ticket?

Thank you!

[2020-06-26 11:15] rhymes commented on #5111
@danascheider sorry for the major delay in communication. You can work on it if you're still interested! Let us know!

[2020-06-26 11:19] rhymes commented on #4330
I'm closing this as dev.to/mod has totally changed since October and I feel like this request doesn't apply as the div is closable

[2020-06-26 11:19] #4330 closed

[2020-06-26 11:26] rhymes commented on #2994
Closing this as it's not applicable anymore in the new editor.

[2020-06-26 11:26] #2994 closed

[2020-06-26 11:31] rhymes commented on #2494
Labeled this hard as I think it requires an "edit video" feature built from scratch (or added with a third party library) to be able to choose the initial frame

[2020-06-26 11:37] rhymes commented on #703
This should be easy, as long as https://github.com/vmg/redcarpet/pull/605 is merged

[2020-06-26 11:38] rhymes commented on #656
There's a hover state on the new cards, so closing this

[2020-06-26 11:38] #656 closed

[2020-06-26 11:53] awasum opened #8927 "Enable Automatic PR Rebase using Github Action"
Add ability to automatically rebase PRs when a user comments on the PR. See: https://github.com/marketplace/actions/automatic-rebase

This may reduce time when reviewing and addressing feedback on PRs

[2020-06-26 12:01] bigblind commented on #947
Is it intentional that this one is kept open, but the other one is left for discussion?

[2020-06-26 12:31] rhymes commented on #8927
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-26 12:32] rhymes commented on #8927
Hi @awasum, I really like the idea! We should probably limit it to team member (and the owner of the PR) I guess to avoid having casual commenters rebasing branches :D

[2020-06-26 12:43] rhymes commented on #947
Sorry @bigblind I wasn't clear :D This remains open, but we had #2045 as a duplicate and it might help future developers that want to tackle this knowing that there are opinions and discussions there as well

[2020-06-26 12:44] rhymes commented on #8924
@miketalbot this is odd! if https://dev.to/credits and https://dev.to/listings/dashboard say 0 then the issue is https://dev.to/dashboard - let me check! :)

[2020-06-26 12:45] rhymes commented on #8924
Found it! The dashboard counts all credits :D I'll send a PR

[2020-06-26 14:17] jessleenyc commented on #217
Hey @AlbertoPdRF, thanks for sharing your thought process behind this. I see that I marked the issue as 'ready for dev' a year ago but I'm triple checking with the team that this is still a feature we'd like implemented -- will get back to you asap.

[2020-06-26 14:18] #8924 closed

[2020-06-26 14:31] awasum commented on #8927
@rhymes thats a good idea. I will like to send a PR for this, Please.

[2020-06-26 14:44] michael-tharrington commented on #8745
Hey @Oghenebrume50! Well dang, I just tried this on DEV actually with my [test account](https://dev.to/michaelctestington111) (yeah, that's not a great practice...) and also could not repro it. It was originally reported to me by another user, but I was able to confirm it myself the first time around.

I'm going to close this as it appears to be resolved, but we can open it back up if any weirdnes

[2020-06-26 14:44] #8745 closed

[2020-06-26 15:09] AlbertoPdRF commented on #217
Sounds good!

[2020-06-26 15:21] #8830 closed

[2020-06-26 16:34] fdoxyz commented on #8911
Fixed by recently merged PR (try to hard refresh to update the site JS if the problem persists)

[2020-06-26 16:34] #8911 closed

[2020-06-26 17:21] lisasy opened #8933 "[Notifications] Make sidebar left menu more standard"

[2020-06-26 17:28] Kvaibhav01 commented on #8911
Cool, it works now. Thanks!

[2020-06-26 18:57] nickytonline commented on #2470
Just updating the list of lint errors as it's quite tiny now.

[code]

[2020-06-26 19:00] nickytonline commented on #3777
Just updating the list of lint errors here as it's a lot smaller now.

[code]

If you need to check this list you can run the following from your local, `node_modules/.bin/eslint app/javascript/**/*.js`.

[2020-06-26 19:12] nickytonline commented on #2470
We've fixed all the linting issues in JSX files.

[2020-06-26 19:12] #2470 closed

[2020-06-26 20:19] raphink opened #8937 "#augeas tag is empty"
15 days ago, I tagged a post with the `augeas` tag.  However, the https://dev.to/t/augeas page does not list any posts.

[2020-06-26 22:05] todsac opened #8940 "Add /feed/latest to RSS feeds"
**Is your feature request related to a problem? Please describe.**

The only way to ensure you’re getting the latest articles right now is to increment the API

**Describe the solution you'd like**

https://dev.to/feed/latest

**Describe alternatives you've considered**

None

**Additional context**

See email thread from [https://pipedream.com](url) team

[2020-06-26 22:17] richardeschloss opened #8941 "[DOM] Found [N] elements with non-unique id #article_archived"
**Describe the bug**
In chrome dev tools, I saw this error message. Chrome warns that having non-unique ids could lead to unexpected issues.

"[DOM] Found 15 elements with non-unique id #article_archived"

The issue is observed on my dashboard.

Duplicate IDs are observed on the Dev.to dashboard. In HTML, id's are supposed to be unique, because if they're not, targeting a specific element may not

[2020-06-26 22:40] raphink commented on #8937
Same for `cfgmgmt`, `puppetize` and probably many others

[2020-06-27 09:22] rhymes commented on #8940
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-27 09:26] rhymes commented on #8941
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-27 09:29] rhymes commented on #8937
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-27 09:32] rhymes commented on #8937
Interesting!

I found the article https://dev.to//raphink/configuration-surgery-with-go-structure-tags-12a4 which clearly has the tag but as you noticed it doesn't appear in https://dev.to/t/augeas

[2020-06-27 10:25] raphink commented on #8937
I don't know if something was done. The article now appears in the list, but the total still says `0 Posts published`:

![image](https://user-images.githubusercontent.com/650430/85920109-449a4e80-b871-11ea-9fe5-d41d8c3ce57c.png)

[2020-06-27 10:27] raphink commented on #8937
I added the `puppetize` tag to https://dev.to/raphink/add-puppet-tag-142l yesterday and it doesn't appear on the `puppetize` tag page either.

[2020-06-27 13:20] mudgen opened #8946 "How to highlight text (without word break) in a dev.to article as an editor?"
Hello,

I don't really know where to ask this question.

I am just trying to write an article on Dev.to.   Sometimes I like to highlight a word by using backticks.

So I might highlight a word like this:  `myword`.   This works but the problem I run into is that sometimes line breaks happen right in the middle of words that I highlight like this.    So that 'mywor' is at the end of one line and 'd

[2020-06-27 14:48] jonathanyeong commented on #8075
I have a possible solution, move the `welcome` method (and maybe the challenge) into Stories Controller. Like:

[code]

Does that seem like a viable approach? I don't have enough context about why the `welcome` method is in `PagesController` originally.

[2020-06-27 19:50] rhymes commented on #8946
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-27 19:50] rhymes commented on #8946
@mudgen do you have a link? It'd be easier to debug what's going on

[2020-06-27 19:59] mudgen commented on #8946
@rhymes I don't yet.   But you can reproduce the issue by writing a dev.to article that uses backticks with long words.  Like this:   `` `longwordwithbacticks` ``

[2020-06-27 20:07] rhymes commented on #8946
@mudgen could it depend on screen resolution? Like if the word happens to be at the end of the line it just gets broken?

[2020-06-27 20:23] mudgen commented on #8946
@rhymes here is a link: https://dev.to/mudgen/runcss-a-runtime-version-of-tailwindcss-5dic

Notice the words `hover` and `sm` get line breaked right in the middle of them.  How can I fix this?

[2020-06-27 20:39] mudgen commented on #8946
@rhymes Screen resolution can affect it but words that are not highlighted do not get broken in the middle no matter the screen resolution,  so the screen resolution shouldn't break highlighted words either.

[2020-06-27 20:51] danascheider commented on #5111
@rhymes No worries! I'll get on it.

[2020-06-27 20:57] arpit73 commented on #160
Any updates on this issue?

[2020-06-27 21:05] rhymes commented on #8946
Found the issue, it's `break-all` here:

https://github.com/thepracticaldev/dev.to/blob/8e0972dd330bf9464160b673e4a744897ad736c8/app/assets/stylesheets/views/article.scss#L219-L229

[2020-06-27 21:20] mudgen commented on #8946
Great!  Is this going to change or what should I do?

[2020-06-27 21:33] danascheider commented on #5111
@rhymes @dennislwm How do we want to identify favourite tags? What criteria would you like me to use to determine whether a tag is a favourite? Or are favourite tags already a thing in the app internally?

[2020-06-28 03:24] dennislwm commented on #5111
There is already a list of "MY TAGS", which are tags that you follow. In your Dashboard, click on "Following Tags", and you can "Adjust Follow Weight to make a tag show up less or more in your feed (default 1.0)".

[2020-06-28 06:57] foxnic opened #8948 "Auto-scan drafts for potentially discriminatory content"
**Is your feature request related to a problem? Please describe.**

Sometimes users' posts contain content that is discriminatory / not inclusive without realising. For example:

"When a developer needs help, he..." (implication being that developers are male)

Most of the time, authors don't know they are doing this and would be happy to edit the text to correct the issue if they were aware of it

[2020-06-28 08:00] foxnic opened #8949 "Auto Scan Messages for Content Violating Code of Conduct"
**Is your feature request related to a problem? Please describe.**

It's great that DEV has a clear code of conduct, and a mechanism for reporting violation, to help to ensure DEV is an inclusive community. Sometimes targets of harassment/other violations of code of conduct are reticent to report violations in case of harmful repercussions. For example, what if the person violating the code of con

[2020-06-28 08:07] rhymes commented on #8948
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-28 08:13] rhymes commented on #8946
@mudgen I sent a PR https://github.com/thepracticaldev/dev.to/pull/8950 - thanks for the report!

[2020-06-28 08:16] rhymes commented on #5111
I think the list should be the list of followed tags, this is how the list is retrieved in the Dashboard controller:

https://github.com/thepracticaldev/dev.to/blob/8e0972dd330bf9464160b673e4a744897ad736c8/app/controllers/dashboards_controller.rb#L36-L39

[2020-06-28 12:05] thorstenhirsch opened #8969 "shadow of crayons-notice class feels out-of-place in flat design"
The design of dev.to has made huge progress, I really like it. One thing I just stumbled upon is the shadow of the crayons (like the red "Unpublished Post. This URL is public but secret, ..." box).

[code]

It seems out of place now. Please remove the 2px 2px shadow of the crayons-notice class. In the code I've seen that there's a mixin that takes care of setting the shadow: generate-box() with $l

[2020-06-28 17:05] Amorpheuz commented on #3777
I would like to pick up `app/assets/javascripts/initializers/initializeSwipeGestures.js`!

P.S. I think, in order to check the list, one needs to run: `node_modules/.bin/eslint app/assets/javascripts/**/*.js` 😅

[2020-06-28 19:29] crimson-med opened #8971 "Support organization repositoried in github integration"
**Is your feature request related to a problem? Please describe.**

I just tried updating my pinned repositories through the `integrations` menu and saw that repos I moved to my organization are not select-able.

**Describe the solution you'd like**

Being able to choose any repo owned by me even in an organization

**Additional context**

Wanted to add my new package but it wasn't appearing:
http

[2020-06-28 20:58] danascheider commented on #5111
Cool, thanks!

[2020-06-29 04:17] #1536 closed

[2020-06-29 06:19] citizen428 commented on #8949
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-29 06:20] citizen428 commented on #8949
Please not that I tagged this as `difficulty: hard` since false positives would be fairly disruptive to the publishing experience, so whatever solution one comes up with for this issue needs to be pretty airtight.

[2020-06-29 06:29] citizen428 commented on #8949
@foxnic As a data science MSc, do you have any input re models you'd consider using for this as this looks like something that would require a somewhat sophisticated approach to be solved properly. I could see us achieve reasonable results with generating word vectors (embeddings like used in word2vec for example) on the corpus of manually moderated posts, but I have no idea if said corpus would b

[2020-06-29 06:30] citizen428 commented on #8969
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-29 06:31] citizen428 commented on #8971
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-29 07:31] foxnic commented on #8949
There's no single best model. It would require experimentation (which I would LOVE to do after I have finished my MSc project) with classifiers suitable for a classification task. Logistic Regression may be enough (and often is). The hard part of pre-modelling i.e. data analysis and pre-processing.

TBH I think a simple keyword/phrase approach would be an easy starting point though. Perhaps a time

[2020-06-29 07:41] foxnic commented on #8949
I'd be happy to do some exploratory data analysis on anonymised text violating the code of conduct, identify any key phrases/patterns and write up a summary if that would help get us started? I would be reticent to commit to a particular deadline due to my MSc project work but I would aim to do it within a few days. How many instances of violations do you currently have?

[2020-06-29 07:45] citizen428 commented on #8248
I don't see it this way. It's the default behavior for **unhandled** exceptions, which defines how Rails handles them. However, we are handling them. The handling may certainly be suboptimal which is the whole point of this discussion, but the value of this setting is IMHO not a sufficient justification for the change by itself.

The specific code path you linked does log the error, did you check

[2020-06-29 08:05] citizen428 commented on #8949
Thanks, @foxnic! I think we agree in principle that a proper solution to this will take time and be fairly hard. As you say in your original post:

That's not to say we can't iterate from simpler solutions and any help you're willing to contribute to that effort would be appreciated.

I have had decent results in the past with phrase/keyword matching for simple classification tasks, so this could

[2020-06-29 08:14] foxnic commented on #8949
I'm currently trying to build a hate speech detection model which has the same issue with context and nuance. Texts containing key phrases and offensive words help with classification but can also hinder - e.g. if a journalist is reporting on a hate speech story its not hate speech in itself, even though the text contains a hate speech phrase. Also, some offensive words have been reclaimed by the

[2020-06-29 08:38] rhymes commented on #5111
@danascheider also let's keep the "followed tags" nomenclature, instead of "favorite" I mean :)

Thank you!

[2020-06-29 08:57] ludwiczakpawel commented on #8813
There's a PR that fixes this issue here: https://github.com/thepracticaldev/dev.to/pull/8829/files#diff-939505ce9f76e33dcd9c7f67fc871143R717 - should be soon merged and shipped.

[2020-06-29 08:59] rhymes commented on #8971
Hi @crimson-med, thanks for the request, I think this is a duplicate of https://github.com/thepracticaldev/dev.to/issues/243

Please feel free to add a comment there as well.

Thank you!

[2020-06-29 08:59] #8971 closed

[2020-06-29 09:00] crimson-med commented on #243
Would love to be able to pin org repos !

[2020-06-29 12:14] #5222 closed

[2020-06-29 12:24] Turnerj opened #8976 "Allow posts listed in Mod Center to open in a new tab"
**Is your feature request related to a problem? Please describe.**

Currently in the Mod center, when you click a post it opens inline underneath the post you clicked. This is really nice BUT it can be useful opening a bunch of posts into multiple tabs and handle it that way.

Because the post items are handled by JS magic, you can't actually open them into a new tab.

**Describe the solution you'

[2020-06-29 12:46] artis3n opened #8977 "More intelligently wrap end of a line if in the middle of a `code` statement"
**Is your feature request related to a problem? Please describe.**

When I add some short one-line code lines like `a thing in a line` near the end of a line, `dev.to` wraps the line by splitting the code after a certain character count. It would look nicer in the rendered markdown if everything within the \`stuff\` backticks was treated as a not split-able element.

Examples of what I'm talking a

[2020-06-29 14:02] maestromac commented on #2987
It's been a minute but we have a progress bar now that works on the PWA and desktop.

[2020-06-29 14:02] #2987 closed

[2020-06-29 14:37] miketalbot opened #8980 "Listing card view reactions/comments formatting is wrong"
**Desktop (please complete the following information):**

- OS: Mac 10.15.5
- Browser: Chrome
- Version: 85

Two parts to this:

1. "0 reactions" is shown as "0 reaction"
2. the reactions word and the subsequent comments have no space

<img width="410" alt="Screenshot 2020-06-29 at 15 30 18" src="https://user-images.githubusercontent.com/38054740/86019322-5a994200-ba1e-11ea-8a26-db4035485cb1.png">

[2020-06-29 15:53] jacobherrington commented on #8976
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-29 15:53] jacobherrington commented on #8980
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-29 15:54] jacobherrington commented on #8980
Hey @miketalbot! I think I saw something like this earlier, does it persist when you refresh?

[2020-06-29 15:58] citizen428 commented on #8949
This is very interesting @foxnic! I've worked on a project in the past where we used a similar approach (data augmentation and training over the combined set) but for a much more restricted domain with less nuance. Good luck with your MSc project and very much looking forward to any further input you can provide on this issue 😃

[2020-06-29 15:59] jacobherrington commented on #8980
I'm not sure on the spacing issue, but the `0 reaction` wording can be fixed by changing this line:

https://github.com/thepracticaldev/dev.to/blob/3d9d70bb5c1e5f5f3b1af101e86e5d1e7a6e7426/app/javascript/articles/components/ReactionsCount.jsx#L31

I think instead of checking to see if the value is greater than 1, we should check to see if it equals 1. In every other case, we the text should be `re

[2020-06-29 16:08] #8442 closed

[2020-06-29 16:20] #8748 closed

[2020-06-29 16:43] jacobherrington opened #8983 "Broadcast Announcements are displayed in every iframe"
**Describe the bug**

Because iframes are essentially their own window, they will render Broadcast Announcements. This is pretty weird and we should address it!

There is additional context in #8981 where @vaidehijoshi proposed a quick solution for this issue in Mod Tools, but @ludwiczakpawel uncovered that it exists pretty much everywhere. :upside_down_face:

![image](https://user-images.githubus

[2020-06-29 16:43] jacobherrington commented on #8774
Continuing the discussion for this issue in places outside of the mod tools (like connect) in https://github.com/thepracticaldev/dev.to/issues/8983

[2020-06-29 16:46] jacobherrington commented on #8983
**Proposed Solutions**

- Rendering Broadcast Announcements conditionally like in #8981. We can compile a list of places we don't want these to show up and use URLs or on-screen elements to stop them from rendering.
- Rendering Broadcast Announcements on specific pages rather than *every* page by pulling the code out of [initializePage.js](https://github.com/thepracticaldev/dev.to/blob/master/app/

[2020-06-29 16:47] urielbitton opened #8984 "Uploading an image to post on android app"
The bug occurs when attempting to upload an image to a post from an android mobile phone on the dev.to app. The image fails to upload, and the page redirects to the home page. Upon visiting the write a post page again, the image hasn't uploaded and another attempt to upload an image results in the same result.

**To Reproduce**

<!-- 4. Page redirects to home page and image is not uploaded>

**Exp

[2020-06-29 16:47] vaidehijoshi commented on #8983
Thanks for documenting this issue, @jacobherrington!

[2020-06-29 16:58] benhalpern commented on #8983
There is a `body.hidden-shell` class that gets added in the iframe context.

Here is the code in `scaffold.css`. I think the solution would be to add the announcement class here....

[code]

[2020-06-29 17:06] #8984 closed

[2020-06-29 17:06] jacobherrington commented on #8984
Issue moved to [thepracticaldev/DEV-Android #91](https://github.com/thepracticaldev/DEV-Android/issues/91) via [**ZenHub**](https://www.zenhub.com/)

[2020-06-29 17:09] jacobherrington commented on #8984
Thanks for opening an issue!

It's seems like a good idea to move this issue to one of our mobile app repositories, we can continue the discussion there!

[2020-06-29 17:31] jacobherrington commented on #8977
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-29 17:47] benhalpern opened #8990 ""Lightbox mode" for code snippets"
Code often requires more room to take in what we're reading, and with our narrower code blocks it means more side scrolling.

A lot of code is legible in a narrow space, but a lot is not.

I propose an "expand" button on the top right of all code blocks (similar to how they are displayed in window OS)

<img width="94" alt="Screen Shot 2020-06-29 at 1 44 38 PM" src="https://user-images.githubuserco

[2020-06-29 17:55] Oghenebrume50 commented on #6938
Hi, @ludwiczakpawel now that the new dashboard is up, I guess it is okay to start working on this, will the position on the below screenshot be okay ?
![series rails](https://user-images.githubusercontent.com/37092867/86039150-ebc9e200-ba39-11ea-8e68-76387d9b1931.png)

[2020-06-29 18:14] amananandrai opened #8993 "A tour of site for better onboarding"
I would like to suggest that there must be tour guide of the website so that people after joining the community come to know about the features of the site. It must explain the different components to the the first time joining person about the buttons - heart, unicorn, and bookmark. What do they mean and why should a new member use it. What are listings.

And also a demo tutorial for writing the

[2020-06-29 18:15] #8774 closed

[2020-06-29 18:17] jacobherrington commented on #8993
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-29 18:31] artis3n commented on #8977
@jacobherrington Depending on the intended function of line breaks on posts, this could be called a bug. Wasn't sure so opted for feature request.

[2020-06-29 18:42] michael-tharrington commented on #8949
Hey y'all!

@foxnic this sounds really cool.

I like that your proposed solution is proactive without actually limiting folks' abilities. This way there are ways for folks to follow through with contextually permissible situations like y'all mentioned above:

I also feel like hate speech detection tooling could be useful in a number of ways. We could use this same mechanism to flag potentially abu

[2020-06-29 19:20] maestromac commented on #8446
@Amorpheuz yeah I like that!

[2020-06-29 19:27] #8186 closed

[2020-06-29 20:41] michael-tharrington opened #8997 "Need a way for admins to search Connect chat channels in /internal"
**Is your feature request related to a problem? Please describe.**

Yes, as an admin, I cannot search between our Connect chat channels to manually add new members from https://dev.to/internal/chat_channels. There are many many pages now here and it takes too long to try to find a Connect channel to add new folks.

**Describe the solution you'd like**

I'd like there to be a search option availabl

[2020-06-29 21:04] thomasbnt opened #8998 "Can scroll under chat on /Connect"
**Describe the bug**

On Connect, I can scroll literaly and the chat is on top. Too weird.

**To Reproduce**

1. Go to [/connect](https://dev.to/connect)
2. Scroll down
3. See error

**Expected behavior**

Can't scroll under chat __but__ only on friends list.

**Screenshots**

![image](https://user-images.githubusercontent.com/14293805/86055556-3eb49100-ba5c-11ea-8695-edaa90aedda8.png)

**Desktop

[2020-06-29 21:21] jacobherrington commented on #8998
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-29 22:17] karaluton opened #9002 "Add mailchimp liquid tag"
I'd love if there was a liquid tag for a mailchimp form embed

[2020-06-29 23:05] jacobherrington commented on #9002
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-30 00:34] jacobherrington commented on #8983
Closed by https://github.com/thepracticaldev/dev.to/pull/8981

[2020-06-30 00:34] #8983 closed

[2020-06-30 01:15] #8946 closed

[2020-06-30 01:49] narender2031 commented on #8749
@benhalpern & @rhymes. This issue is fixed in another PR. We can close this issue.

[2020-06-30 01:57] jacobherrington commented on #8884
@rhymes @ludwiczakpawel I added much more strict validation https://github.com/thepracticaldev/dev.to/pull/9006

I'm concerned that it's too strict, but it sounds like what we want here.

[2020-06-30 02:05] narender2031 commented on #4024
@rhymes I think this issue will be resolve in this PR
https://github.com/thepracticaldev/dev.to/pull/8829/files#diff-939505ce9f76e33dcd9c7f67fc871143R717

[2020-06-30 02:58] khatibomar opened #9008 "Add manage series"
I recently start a series in dev.to I forget to add an Introduction to the series , So if I need to add it it will be in the last , while it should be in The top of the series list.

My solution is to create a drag and drop so we can manage series parts.
or Author add manual number to the start of every part of the series and they will get sorted based on those numbers.
Example :
Part 1
Part 3
Par

[2020-06-30 03:32] #8749 closed

[2020-06-30 04:43] citizen428 commented on #8884
Given that I18n is on our generalization roadmap, we may want to revisit this decision at one point. Sure, it probably means we'd have to encode/decode tag slugs, but we may not get away forever with not supporting accents and umlauts.

[2020-06-30 05:13] citizen428 commented on #8949
As further input: for one of my private projects I'm using [retext](https://github.com/retextjs/retext) with the [retext-profanities](https://github.com/retextjs/retext-profanities) and [retext-equality](https://github.com/retextjs/retext-equality) plugins. Since these are JS libraries we may be able to include them in the editor and flag (e.g. by underlining) certain things non-intrusively right

[2020-06-30 05:48] mvsde commented on #193
This is issue is still ongoing. It doesn't really break anything. But it's a bit irritating if I get an email geared towards new users.

[2020-06-30 06:10] foxnic opened #9012 "Reader Tag Insights (Dashboard Feature)"
**Is your feature request related to a problem? Please describe.**

I'd like to know which tags are followed by the people who (a) read and (b) react to my posts so that I can better understand the interests of people who find my posts useful. For example, do most of the people who react to my posts follow the 'beginners' tag? Do most of the people who *read* my posts also follow the 'beginners' t

[2020-06-30 07:04] OmarElKhatibCS opened #9013 "Badges are not responsive"
Hello The badges are not responsive they go out of the screen.

![!responsive](https://user-images.githubusercontent.com/35725554/86094246-1da46e00-ba65-11ea-90cc-31ae256ae100.PNG)

- OS: Windows 10 x64
- Browser: Firefox

I have the fix to this Issue , I will make a pull request 👍

[2020-06-30 07:06] rhymes commented on #8977
This was supposed to be fixed by https://github.com/thepracticaldev/dev.to/pull/8975 I guess, probably there's a regression somewhere or the issue was filed before this was merged.

@ludwiczakpawel can you confirm this is fixed in production? Thank you!

[2020-06-30 07:09] rhymes commented on #8997
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-30 07:24] rhymes commented on #4024
@narender2031 this is how it looks for me, where there's the red line is empty space and the chat occupies half of the screen basically :-/

![IMG_5238](https://user-images.githubusercontent.com/146201/86096259-5703ca80-bab3-11ea-8574-612384413698.png)

[2020-06-30 07:24] rhymes commented on #9008
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-30 07:30] AlbertoPdRF commented on #8997
I'll give a shot to this one!

[2020-06-30 07:30] rhymes commented on #9012
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-30 07:30] rhymes commented on #9013
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-30 08:15] OmarElKhatibCS commented on #9013
I claim this Issue and Pull request is pending.

[2020-06-30 08:33] ludwiczakpawel commented on #8977
That is correct

[2020-06-30 09:04] OmarElKhatibCS opened #9016 "scroll bar keep shown in the profile page"
**Describe the bug**
The bug is this scrollbar keep showing all the time it's annoying to the eyes ,
Also mobile have same problem .

**To Reproduce**

Go to profile resize window

**Expected behavior**

**Screenshots**
![profile-responsive](https://user-images.githubusercontent.com/35725554/86106655-acb98200-ba75-11ea-8360-fc9dfd109284.PNG)

Also On mobile it's very very annoying every time I scr

[2020-06-30 09:52] Ridhwana commented on #9016
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-30 10:00] OmarElKhatibCS commented on #9016
I claim this Issue and Pull request is pending.

[2020-06-30 10:45] ledestin commented on #8851
@rhymes I went through the refactored code and wrote down what the code does on high level. It can be used either for writing automated tests or testing manually. I think manual testing is preferable at the moment, as I don't want to deal with merge conflicts.

A lot of the code in the file isn't related to the extracted code at all. I suppose those are utilities, and probably should be moved to a

[2020-06-30 10:53] #9013 closed

[2020-06-30 11:02] ledestin commented on #8248
@citizen428 Well, it's up to the team on how you want to handle it, of course.

IIRC, I've seen it there (without a stacktrace), but that's not the workflow I'd like to follow. Having errors bubble is faster and easier to deal with for me.

Do you think that `StandardError` should be raised/rescued at all?

Documenting it is a great idea.

[2020-06-30 12:12] awasum commented on #8927
@rhymes I have sent a PR for this issue: https://github.com/thepracticaldev/dev.to/pull/9018,
Please let me know if its good enough.

[2020-06-30 12:16] nickytonline commented on #8977
Closing as this has been fix by the editor code blocks refactor.

[2020-06-30 12:16] #8977 closed

[2020-06-30 13:46] jacobherrington commented on #8976
I played around with this a little bit. I think the best solution is to add a link icon next to the title:
![image](https://user-images.githubusercontent.com/11466782/86133062-697b0580-baad-11ea-92fb-982e35b81774.png)

I did the above pretty quickly by changing the following lines:
https://github.com/thepracticaldev/dev.to/blob/56736aab1527c301b73fffce50b085c044145de4/app/javascript/modCenter/sing

[2020-06-30 14:03] Turnerj commented on #8976
Interesting - it does give the functionality though looking at the `index.jsx` markup, I'm not sure how well putting an anchor in a button would turn out (I didn't realise it was a button tag for the whole post before).

If it does work and doesn't seem too weird, I think it might be a little confusing as my first thought is that the whole title would be a link then. This would follow the similar

[2020-06-30 14:39] atsmith813 opened #9022 "Refactor UserSubscriptions controller"
The logic for creating a `UserSubscription` in the `UserSubscriptionsController` is a little dense. Let's refactor that logic.

One approach is to create a service to handle this logic: https://github.com/thepracticaldev/dev.to/pull/8779#discussion_r443952447

[2020-06-30 14:39] atsmith813 commented on #9022
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-06-30 14:42] atsmith813 opened #9023 "Make email completely conditional in the UserSubscription liquid tag"
For the time being, we do _not_ want to display the reader's email address when confirming a user subscription. We'll need to update the code (including Apple Auth logic) to be "modular" around email being present or not. That way, once we add it in later, "it just works".

[2020-06-30 14:42] atsmith813 commented on #9023
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-06-30 14:52] atsmith813 opened #9024 "Cleanup existing liquid tags with new updates"
#8917 introduced some changes that will affect all liquid tags. We'll want to update all the existing liquid tags for things like:
- Changing the `tokens` argument to `parse_context`.
- Making sure `super` is called in `initialize`.
- Refactor any quick wins with the use of context.

[2020-06-30 14:52] atsmith813 commented on #9024
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-06-30 14:55] atsmith813 opened #9026 "Cleanup PollTag"
The PollTag is a "prototyped" liquid tag that isn't available for broad use but it is live. With the changes introduced by #8917, we'll want to update this tag to keep things consistent:
- Change `tokens` to `parse_context`.
- Add context restriction.
- Add role restrictions.
- Cleanup references and validations in the `Article` model.

[2020-06-30 14:55] atsmith813 commented on #9026
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-06-30 16:02] artis3n opened #9028 "Spaces hidden in code block if wrapped at end of line"
**Describe the bug**

Coming off of #8977 and the PR fix in #8975 , it now appears that spaces in a one-line `code block` are cut off and wrapped, which changes the content. For example:

![image](https://user-images.githubusercontent.com/6969296/86148817-1911a100-bac9-11ea-8b1d-bc6f3a194799.png)

That code line should be `:s/ //g`, which would remove spaces in `vim.` However, the space no longer

[2020-06-30 16:07] jacobherrington commented on #9028
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-30 16:09] jacobherrington commented on #8976
@Turnerj Those are good points! We might want @ludwiczakpawel or @lisasy to weigh on the design here!

[2020-06-30 16:50] aorelhas commented on #2618
Is this issue solved?

[2020-06-30 17:33] Veggier commented on #8998
This is my first time to try to solve the issue, may I try to work on this issue.

[2020-06-30 17:38] nickytonline commented on #7907
#8986 implements this for the body content images, but not cover image. I will have another PR coming up for that today or tomorrow.

[2020-06-30 18:19] Gbahdeyboh opened #9034 "Footer should be viewable"
`dev.to` uses an infinite scroll to render more articles as a user scrolls through the page, this makes it almost impossible to ever get to the footer of the page. When the navigation bar is dragged down to the footer, it takes only a few milliseconds before new articles are loaded and the footer is no longer in view.

The footer contains some relevant information and hence should be viewable and

[2020-06-30 18:33] Veggier commented on #8998
I will try to work it one

[2020-06-30 18:39] nickytonline commented on #8998
@Veggier, I've assigned the issue to you.

[2020-06-30 18:40] Veggier commented on #8998
@nickytonline sorry, I just unassign myself, may you reassigned me, thanks.

[2020-06-30 18:53] #8165 closed

[2020-06-30 19:43] #8997 closed

[2020-06-30 19:44] urielbitton opened #9037 "Problem with numbering in posts"
The problem occurs when numbering text in a post. I number titles from 1 to 8 and when I publish the post the numbers all show 1's.

Here is a video recording of my phone where I attempted to edit the post that was ORIGINALLY CREATED ON MY LAPTOP AND NOT MY MOBILE.

https://www.dropbox.com/sh/kjv68g4sc64nq99/AAA1fmOppE548HfRxNZGlo_1a?dl=0

[2020-06-30 19:56] jacobherrington commented on #9037
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-30 19:57] jacobherrington commented on #9034
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-30 19:58] jacobherrington commented on #9034
@ludwiczakpawel I know you've talked about infinite scroll, do you want to weigh in on this issue?

[2020-06-30 20:05] Gbahdeyboh commented on #9034
By 'weigh in', you mean contribute?

[2020-06-30 20:26] jacobherrington commented on #9034
@Gbahdeyboh I would like Paweł's opinion on how we should fix this issue, he is one of our designers and may want to give feedback before we make start implementing something!

I don't want to suggest that we write code for this right away because dev.to is undergoing a lot of design work and this might already be something our design team is thinking about.

[2020-06-30 20:29] michael-tharrington commented on #8997
Holy cow, that was quick turnaround! And it's working well. 😀

Thanks @AlbertoPdRF!

[2020-06-30 20:35] nickytonline commented on #9034
I'm pretty sure @ludwiczakpawel has something in the works.

[2020-06-30 20:39] #8980 closed

[2020-06-30 20:53] Gbahdeyboh commented on #9034
@jacobherrington I totally understand, such decisions are to be made by the design team.

[2020-06-30 21:15] thomasbnt opened #9040 "Number of Reading list"
**Is your feature request related to a problem? Please describe.**

I have __19 posts to read for later__, but at the main page it show 89.

#### Why is that?
That's the total number of posts to read later (active read later posts + archived posts). **Even though I've archived them**, the number keeps increasing. :disappointed:

#### Why is that a problem?
Two points,

- It's not clear how many po

[2020-06-30 21:16] thomasbnt commented on #7414
No news about that? :cake:

[2020-06-30 21:22] AlbertoPdRF commented on #8997
You're welcome! 😄

[2020-06-30 21:42] jacobherrington commented on #9040
This is possibly a duplicate of https://github.com/thepracticaldev/dev.to/issues/8164!

[2020-06-30 21:44] jacobherrington commented on #9040
I'm going to go ahead and close this as a duplicate, if you'd like to voice your opinion in #8164, that would be great! I agree that we should look into solving this bug!

[2020-06-30 21:44] #9040 closed

[2020-07-01 02:32] Turnerj commented on #8976
If it helps, looking at the list of posts in the Dashboard compared to the list of posts in the Mod Center, the Dashboard has the whole post title be a link. While the Dashboard doesn't have that inline preview that the Mod Center does, it seems to have set the design language for how to approach a list of posts.

[2020-07-01 02:51] jacobherrington commented on #8998
Closed by #9042

[2020-07-01 02:51] #8998 closed

[2020-07-01 04:50] citizen428 commented on #9037
This is one of the subtleties of Markdown: numbered lists always start from 1 and increment from there, no matter what numbers you actually use. In your case, this becomes a problem because the code blocks between the numbered points interrupt the list, so each numbered element is seen as the start of a new list. To avoid this you have to indent the code blocks by 4 spaces. Let's see this in actio

[2020-07-01 05:11] xerosanyam opened #9045 "Make default of [Feed, Week, Month..] configurable"
**Is your feature request related to a problem? Please describe.**
When I visit dev.to, I want to see what happened in the past week. I usually check dev.to once a week, hence If instead of Feed, week option is my default it would be better ux wise.
Reddit also allows such kind of functionality, where you choose whether you want hot/trending topic

**Describe the solution you'd like**
In settings,

[2020-07-01 05:24] citizen428 commented on #8248
With the classifier "at all", 100% yes, as there'll always be circumstances where a specific combination makes more sense than the other.

The Ruby documentation has the following to say on the matter:

The defaults for unqualified `raise` and `rescue` are `RuntimeError` and `StandardError` respectively. Based on that having `ApplicationError` (or any more specific error class) inherit from `Runti

[2020-07-01 05:26] thomasbnt commented on #8164
Oh good news !

[2020-07-01 05:28] thomasbnt commented on #9040
Thanks @jacobherrington 😉☕

[2020-07-01 05:34] urielbitton commented on #9037
Ok thank you it does solve my issue.

On a side note: wouldn't it be more elegant to find a solution to avoid this problem altogether?

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Michael Kohl <notifications@github.com>
Date: 2020-07-01 12:51 a.m. (GMT-05:00)
To: "thepracticaldev/dev.to" <dev.to@noreply.github.com>
Cc: Uriel Bitton <urielas@hotmail.com>, Autho

[2020-07-01 05:43] rahuldkjain commented on #8414
I would love to work on this issue

[2020-07-01 05:52] citizen428 commented on #9045
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-01 07:11] 31piy commented on #8164
May be related to #8900

[2020-07-01 08:07] rhymes commented on #8248
I agree with @citizen428, I would add that we should probably do this incrementally, not a big on-off switch. We can raise a custom exception descended by `ApplicationError` in one liquid tag, test that in production and then start using it.

Agreed that our exceptions structure should be, eventually, fully documented in a specific page on docs.dev.to - we can start with whatever comes out from th

[2020-07-01 08:56] citizen428 commented on #8248
@rhymes and I had a Slack conversation about this. I summarized my ideas one more time:

1. Custom exceptions often make sense and are preferred.
2. IMHO it’s better if they inherit from `RuntimeError` rather than `StandardError`. The default for `raise` suggests that too. Exceptions (no pun) would be errors raised during init or similar, as that’s not strictly speaking runtime.
3. Our "broader" r

[2020-07-01 09:01] citizen428 commented on #9037
Glad this helped 😃

This would require a custom Markdown parser that behaves differently from what people familiar with the format expect.

[2020-07-01 09:01] #9037 closed

[2020-07-01 09:03] rhymes commented on #9034
Linking this issue which is related https://github.com/thepracticaldev/dev.to/issues/5670

[2020-07-01 09:10] ludwiczakpawel commented on #9028
Not sure if this is doable. What would happen if you had 100 characters in your `code` element? It would overflow the container. We had to apply `overflow-wrap: break-word;` to make code elements wrap next line.

In your specific scenario, I'd suggest using non-breakable spaces  instead of regular space: `&nbsp;` in that one code element you were mentioning.

[2020-07-01 09:14] rhymes commented on #2618
@aorelhas no, the issue is still open :)

[2020-07-01 09:18] #7907 closed

[2020-07-01 09:19] ludwiczakpawel commented on #9034
@Gbahdeyboh

That is correct, we've been thinking about footer and infinite scroll and we came up to conclusion that probably the best scenario would be to stop loading feed items automatically at certain point. Probably one of those two solutions:

#  One

1. You enter DEV feed...
2. You scroll to the bottom so the JS can load next batch of feed items...
3. You keep scrolling...
4. And next time

[2020-07-01 09:21] rhymes commented on #8414
@rahuldkjain I've assigned you to the issue :) Thank you!

[2020-07-01 09:21] rhymes commented on #8414
Wasn't this solved by https://github.com/thepracticaldev/dev.to/pull/8454 ?

cc @Oghenebrume50 @jacobherrington

[2020-07-01 09:35] #8941 closed

[2020-07-01 09:40] Gbahdeyboh commented on #9034
Hi @ludwiczakpawel, both look great. I get that you're trying to reduce the number of `load more's` that should be clicked, but you also have to consider users who might want to go to the footer after about four or five scrolls. Both allow you click load more just once, so you can only see the footer the first time and not at will. How about this.

1. You enter DEV feed...
2. You scroll to the bot

[2020-07-01 09:48] ludwiczakpawel commented on #9034
I think having this button only once makes more sense because when you scroll down to the bottom of the page you have one of the two intentions:

1.  you wanna keep browsing feed cards.
2. or you wanna get to the footer.

I don't think users would be interested in seeing a footer after loading feed items 2 or 3 or 4 times.

We have quite a lot of feed items in our initial batch  so I think it woul

[2020-07-01 09:48] #8884 closed

[2020-07-01 09:55] ludwiczakpawel commented on #8976
I think we should reconsider how the row in mod center is behaving. I'd personally not expect the whole row to be clickable but only the title itself (or specific controls).

Now if you click the title in the usual way, it should expand the preview panel below. But if you try to open it in a new tab it should definitely open the article page itself.

There's also an author name in the row and I th

[2020-07-01 09:58] Oghenebrume50 commented on #8414
Yes it was @rhymes the PR was merged it shows up on the website too :+1:

[2020-07-01 10:06] rhymes commented on #8414
Thanks @Oghenebrume50!

[2020-07-01 10:06] #8414 closed

[2020-07-01 10:16] Turnerj commented on #8976
I like those suggestions @ludwiczakpawel - I feel that those suggestions keep it consistent with other bits of UI across the site.

[2020-07-01 10:41] Ridhwana commented on #4661
Related to https://github.com/thepracticaldev/dev.to/issues/5475

[2020-07-01 10:41] ludwiczakpawel commented on #8976
@Turnerj yeap, we actually have similar "table" on Dashboard right now - and the whole row itself is not being clickable, only specific elements inside are clickable.

[2020-07-01 10:47] ludwiczakpawel commented on #6938
@Oghenebrume50 I'm not sure if it deserves its own spot in this subnavigation. Instead I'd do some shuffling on top of the posts table. Right now we have 3 controls there:

- Show archived (button acting like a toggle)
- Sorting options (select)
- Source (if you're part of organization you can see a field which lets you filter whether you see personal posts or organization posts)

![image](https:/

[2020-07-01 10:57] Ridhwana commented on #6805
NOTE: this should also apply to the stories section too

[2020-07-01 11:29] awasum commented on #7749
@yg ..Are you still facing this issue? I have opened a sample profile on Mobile Web Browser and don't seem to find this problem. Please can you provide more details so we understand and see if we can work on this issue? CC @jacobherrington . I will be able to see if I can help fix this when I understand or can replicate this issue. If you not facing this issue again..Maybe we can close it?

[2020-07-01 11:32] yg commented on #7749
This is working fine now @awasum 🎉

[2020-07-01 11:34] awasum commented on #7749
If that is the case, then you can close this issue @yg . Thanks for the prompt reply.

[2020-07-01 11:44] #7749 closed

[2020-07-01 13:58] artis3n commented on #9028
That seems pretty fair

[2020-07-01 13:59] ludwiczakpawel commented on #9028
Cool, I'll let myself close this issue if you don't mind :)

[2020-07-01 13:59] #9028 closed

[2020-07-01 15:23] rhymes commented on #6938
@ludwiczakpawel the issue I see in that proposal is that series is not a type of articles, it's a label for a collection of articles

[2020-07-01 15:29] Oghenebrume50 commented on #6938
@rhymes @ludwiczakpawel I actually have a draft PR for this already based on my first proposal maybe I can open that and mention you guys there, I also think it will be confusing having series in that filter but maybe the PR will give more insight :slightly_smiling_face:

[2020-07-01 15:34] OmarElKhatibCS commented on #9016
This issue has been fixed

[2020-07-01 15:34] #9016 closed

[2020-07-01 15:40] colbyfayock opened #9055 "No option to Publish an RSS imported article"
**Describe the bug**

After importing posts from my RSS feed, I'm unable to find a Publish button on those drafts.

The imported posts are marked as unpublished as a Draft in the UI.

When visiting the Edit page, I notice that the Publish button shows on first load, but when the Javascript kicks in (im guessing) it changes it to Save. Just for fun I tried turning off Javascript and clicking Publis

[2020-07-01 15:40] akhil-naidu commented on #8255
Are you able to run your instance without any error?

[2020-07-01 15:44] colbyfayock commented on #9055
As soon as I mentioned this I saw someone note in their own case the frontmatter had `published: false` which I totally didn't notice.

I'll leave this open in case that's something to consider improving the experience on? Maybe even just a note, I would imagine it could confuse others too 🤷

[2020-07-01 16:03] jacobherrington commented on #9055
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-01 16:16] akhil-naidu commented on #1703
Hey, in a way do you mean, in order to host through heroku, I need to fill all the env variables and choose eu zone as preferred zone?

[2020-07-01 16:18] sachinmukherjee commented on #8255
Yes

[2020-07-01 17:22] omenking commented on #8920
When a user has been invited to a DEV Organization and made an Admin if they have never created a post they will not see the dropdown to switch to another Organization. Also when attempting to create their first post, and I watched them do it, we had an obscure javascript so I had to switch them to the basic markdown editor. After that, the DEV Organization unlocked.

@rhymes please do me the favo

[2020-07-01 18:14] AlbertoPdRF commented on #2424
I would be interested in working on this feature if the plan is still to have it!

[2020-07-01 18:31] ludwiczakpawel commented on #6938
@rhymes @Oghenebrume50 I hear you, but "archived" is also not a post type, right? It's just kind of a flag that let you narrow down the list of posts. I think we could have even more "flags" like this and all of them could be put in one select:

- Published (selected by default)
- Drafts
- Series
- Archived
- Videos
- ...

Do you think that doesn't make sense?

[2020-07-01 18:40] honeybadger[bot] opened #9058 "[production-javascript/production] TypeError: document.querySelector(...) is null"
## Backtrace

    line 280 of webpack:///./app/javascript/responseTemplates/responseTemplates.js: querySelector
    line 7 of webpack:///./app/javascript/packs/responseTemplates.js: loadResponseTemplates

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/67192/faults/63300651)