[2018-09-17 19:45] glebec commented on #689
Re: the first strategy, Reddit Enhancement Suite (or is it Reddit Gold?) highlights posts which are new since your last visit by making their background color a different shade. I find that a pretty effective way at focusing my attention.

[2018-09-17 20:18] Zhao-Andy opened #692 "Add Error Handling for Invalid Descriptions"
## Bug Report
### Current Behavior
We currently don't have any error messaging for some descriptions in the front matter fields. This usually happens if it's an edge case title we don't account for, like this:
[code]

Hitting preview simply doesn't do anything, and hitting save actually hits the 500 page.
### Expected Behavior
1. We should account for square brackets, probably by wrapping the desc

[2018-09-17 20:33] bennypowers commented on #242
Now that open-sourcing is done, what better time to capitalize on your new commitment to open-source than by lending your prestige a moral support to an open-source company: GitLab!

[2018-09-17 20:40] Zhao-Andy opened #693 "Add Error Messaging if Previewing Articles Hit 500 Response"
## Bug Report
### Current Behavior
For articles, if the Markdown given does not parse correctly, ideally it would be caught. Sometimes, this slips and the preview response simply freezes/does nothing. This sometimes might happen if a response times out.

### Expected Behavior
We should catch responses that have a status of 500 and give a proper error message, whether it's generalized or the actual

[2018-09-17 21:01] Zhao-Andy opened #694 "Runkit Liquid Tag - Backticks are not handled properly"
## Bug Report
### Current Behavior
With the Runkit tag, backticks are not properly handled. This prevents ES6 string literals and other Javascript backtick goodies.

### Expected Behavior
We render backticks properly in the tag.

### Additional Info (device/browser, helpful links)
This is a trickier issue since we have some parsing logic that could be changed. I _think_ the issue has something to

[2018-09-18 07:47] jmalarcon commented on #646
I've been reading the [FAQ for RSSMixer](https://rssmixer.com/faq) and they generate the feed in Atom format (which in fact is pretty common). I guess DEV doesn't support Atom and just RSS. I thik it's probably a good idea to make a note about it in the settings page.

HTH.

[2018-09-18 11:06] joshuadeguzman opened #698 "UI Bug on footer section (links & ui rendering / initialisation)"
## Bug Report

### Current Behavior

When navigating from home page to a specific post page, the footer seems to be fine when initialised, however, navigating from post page to any of the links provided in the footer with a centered footer (e.g. Home, Privacy Policy, Contact, etc), it maintains the centered footer state when going back to the post page.

### Expected Behavior
Footer state should b

[2018-09-18 15:21] jessleenyc commented on #682
@Zhao-Andy I believe you were in the process of working on this?

[2018-09-18 15:28] jessleenyc commented on #442
@benhalpern looks like we're seeing more timeout errors while saving posts -- does it make sense to prioritize this?

[2018-09-19 13:40] Nirajn2311 commented on #669
Can I start working on this?

[2018-09-19 22:41] maestromac commented on #661
Should be resolved with #699. Let us know if otherwise!

[2018-09-19 22:41] #661 closed

[2018-09-19 22:42] maestromac commented on #658
Should be resolved with #699. Let us know if otherwise!

[2018-09-19 22:42] #658 closed

[2018-09-20 04:32] glebec commented on #682
Duplicate of #183

[2018-09-20 04:40] glebec opened #703 "Support alignment in markdown tables"
## Feature Request or Task

GFM tables include `:` syntax for text alignment within columns.

[code]

default | left | center | right
--------|:-----|:------:|-----:
x       | x    | x      | x

Dev.to doesn't appear to support this styling currently.

### User Story / Description

As an author, I expect:
- to be able to control column alignment using `:` in md tables

### Definition of Done

`:`

[2018-09-20 05:05] bennypowers commented on #682
Closing as dupe. Thanks!

[2018-09-20 05:05] #682 closed

[2018-09-20 14:17] anandhumanoj opened #705 "Add an ovelay ImageViewer while clicking embed images in a post"
## Feature Request or Task

Task 1: Implement an image viewer to Watch, Zoom in-out and Link to the image etc. for embed images in the post instead of *&lt;a&gt;* link to that image

### User Story / Description

First of all, I am very happy with how __dev.to__ is today.
Task1: Suppose, I'd like to view images inside a post in enlarged form. Currently, when an image is clicked I get a link to the

[2018-09-20 15:36] bennypowers opened #706 "Support `<abbr>` tags in markdown"
## Feature Request
Please support `<abbr>` tags in markdown for posts and comments.

### User Story / Description

It's nice and conscientious to use the abbr tag in posts:

[code]

### Definition of Done
When users submit md content that contains abbr tags, the tags are rendered appropriately.

[2018-09-20 15:40] msarit commented on #118
@jacobherrington Hi there! whats's the status of this issue? 😄

[2018-09-20 15:55] jacobherrington commented on #118
@msarit still going, but got a bit distracted. If you're looking to knock it out, go ahead!

[2018-09-20 18:13] msarit commented on #118
@jacobherrington I'll try my hand at it and update you before creating a PR, so we don't duplicate efforts 👍

[2018-09-20 18:27] Zhao-Andy commented on #309
Not sure what happened, but I'm seeing image previews for Discord messages! Let us know if you aren't seeing them.

[2018-09-20 18:27] #309 closed

[2018-09-21 14:49] Stargator opened #708 "Show all Saved Posts in the Reading List"
## Bug Report

### Current Behavior
Currently, the Reading List only shows at max 45 saved posts (in order of most recently saved). Even though my reading list is currently sitting at over 600 posts.

Even if I click on a tag associated with one article, if that article is not in the group of 45, but in my Reading List, it will not display. I would have to remove as many articles as I added **afte

[2018-09-21 14:53] Stargator opened #709 "Filter reading list by author and/or date range"
## Feature Request or Task
Add ability to filter Reading List by Author and date range

### Definition of Done
The user is able to select an author from a list generated by all the authors who has at least one post saved as a bookmark by the user. Which then filters out all the posts so only those by the author appear. Can work in coordination with the tag selected and/or the date range defined by

[2018-09-21 14:57] Stargator opened #710 "Allow users to move saved posts from the Reading List to a custom list"
## Feature Request or Task
Users are allowed to create custom named lists. Then from the Reading List are able to move a saved list to the customer list.

Additionally, from an article a user can click on the Bookmark icon and chose which list to store the saved post.

### Additional Info (device/browser, helpful links)
MacOS 10.13.1, Chrome 69

[2018-09-21 15:27] #662 closed

[2018-09-21 16:57] Zhao-Andy commented on #646
I believe the gem we use (FeedJira) supports Atom feeds, and that there may have been a blip with your last feed format. I'm looking at your feed now and it looks like it has a format similar to a Medium's feed, but the service is still RSSMixer. Are your posts pulling in with the updated feed?

[2018-09-21 18:24] glebec opened #711 "Improve editor typography"
## Feature Request or Task

The current editor is very cramped. There is no line-height applied and the default appears to be excessively tight (OS X / Chrome); the padding is minimal, meaning the text feels like it is pushing up against the sides of the editor. The line length is also _okay_ but on the long side; 2.5 alphabets is considered generally pleasing, and currently we're over 3 alphabets

[2018-09-21 18:30] glebec commented on #575
@jessleenyc another option would be to apply the change in parsing to only new articles (with an explicit note for all new articles that that is the case). I don't know that I _like_ that idea, it feels like adding complexity and implicit behavior, but I figured it was worth noting as a possibility.

[2018-09-21 18:50] ahmadawais opened #712 "Twitter Embed Doesn't Update Stats"
## Bug Report

Folks the embedded tweets do not get updated as far as the stats are concerned. If there were 10 likes when you embedded a tweet, it stays that way even when there are more likes. Is it just me or everyone?

### Expected Behavior

Twitter updated stats should be displayed.

### Additional Info (device/browser, helpful links)

Chrome/MacOS

[2018-09-21 18:50] glebec commented on #183
It looks to me like this is _might_ just be a matter of adding the `with_toc_data` option to each place the markdown renderer is instantiated, e.g. [here](https://github.com/thepracticaldev/dev.to/blob/78238cdc0f920676c6222fdbe77421805804b75d/app/labor/markdown_parser.rb#L15).

[2018-09-22 08:11] jmalarcon commented on #646
Hi:

Thanks for the update. In fact I've switched to http://www.rssmix.com wich is a different RSS-mixing service that returns RSS and not Atom, so It's working but it's not the original feed.

I'll change back to the previous one and as soon as I publish something new will let you know if it's working...

[2018-09-22 15:10] autoferrit commented on #417
I just went to my organization page, and tried changing the name, in this image, you can see i just saved it and it shows the old name.
![devtoorg](https://user-images.githubusercontent.com/89895/45918646-fad03900-be3e-11e8-96c0-c5ab8d2a625f.png)

[2018-09-22 15:13] autoferrit commented on #417
I dont even see where your screenshot of the name would come from.

[2018-09-23 21:05] pr0nbaer opened #715 "Shorter <title>"
This may be a personal opinion, but I think the <title> should be much simpler.

**Homepage**

Before: ```DEV Community  👩‍💻👨‍💻 - Where software engineers connect, build their resumes, and grow.```
After: ```DEV Community```

For SEO purposes I would suggest adding the "Where software engineers connect, build their resumes, and grow." to the description tag.

**Article pages**

Before: ```<title o

[2018-09-24 13:51] Shosta commented on #659
I don't know if that can help, but the guys at [Boostnote](https://github.com/BoostIO/Boostnote) have this in their app (that's where I am actually using it), maybe they could give a hand to make this available on dev.to or share some peace of code.
I am sorry but I don't know how to make it on the Web.

[2018-09-24 19:13] equiman commented on #27
@jessleenyc or @benhalpern can you add me as beta user?

[2018-09-24 19:22] arximughal commented on #27
Can you guys add me in the beta? @jessleenyc

[2018-09-24 19:52] imone1onlyD commented on #509
No

[2018-09-24 20:31] ghost opened #730 "Add functionality to import single articles from Medium to publish on Dev.to"
## Feature Request or Task

Like with the RSS feed imports, it would be so convenient to import single articles from Medium into Dev.to with a reference to the original published source.

### User Story / Description

- As a blogger I would like to import single posts that I have written on Medium as markdown so that I can publish them on Dev.to
- As a blogger I would like to see the link to the o

[2018-09-25 11:17] gate3 opened #733 "Bad UI/UX: Notification background color after profile save"
## Bug Report
The user profile looks good and everything works fine, but there is a small issue i'd like to point to. After the user has finished saving profile, the notification that comes up has a red backgound which makes the email unreadable and it also seems a lot like an error. I actually felt an error occurred after saving, the color doesn't make it intuitive that it was successful and i ne

[2018-09-25 12:57] aspittel opened #734 "Codepen embeds only allow 6 character slugs"
## Bug Report

### Current Behavior

Codepens with only five characters in the URL aren't allowed.

### Expected Behavior

Codepens with only five characters in the URL aren't allowed. Old (?) Codepens have five characters in the url instead of six.

### Mobile & Desktop Screenshots/Recordings

### Additional Info (device/browser, helpful links)

This line of code in [here](https://github.com/thep

[2018-09-25 13:17] dance2die opened #735 "Disallow buttons with the same color as the background color"
## Feature Request or Task
Would you check when the `follow` button is the same color as background thus hiding the button?

As an example,
Pierre Baron on https://dev.to/prbaron has following profile page,
making it hard to follow.

![image](https://user-images.githubusercontent.com/8465237/46016787-b8f3fc80-c0a3-11e8-9801-0807588ffb69.png)

__________

And the button is actually there.
![image](

[2018-09-25 13:48] djhopper01 commented on #417
@autoferrit Sorry about that. I should've been more clear in my steps. What you said is what I was seeing as well. The name changes on the public organization page.

[2018-09-25 13:55] jonathan-irvin opened #736 "Ability to turn on/toggle flair tag on moderated tags"
## Feature Request
Turn on / toggle flair tag for private tags

### Definition of Done
Users who are given mod rights to a tag should have the ability to turn on the flair tag

[2018-09-25 13:58] jonathan-irvin opened #737 "Ability to make moderated tags private"
## Feature Request or Task
If a user is granted moderator status on a tag, they should have the ability to make the tag private for reserved tags

### Definition of Done
Specified tag would have an ACL which only allows certain articles to use the tag.

[2018-09-25 14:03] jonathan-irvin opened #738 "Organization accounts"
## Feature Request or Task

An organization account would be a dedicated page that can have multiple users and post to a single source blog

This would allow several people to post to a single blog or opt to publish on their own vs their organization's blog.

[2018-09-25 14:09] jonathan-irvin opened #739 "Open-source marketplace"
## Feature Request or Task

Similar to the "pitch your Opensource" article @benhalpern does weekly, except it would a page that you could "register" your open-source project for other community members to discover.

Additionally, users can "follow" an open-source project on dev.to and get articles posted by that project in their feed.

This would also attract members to contribute and help discove

[2018-09-25 14:38] nathansebhastian opened #740 "Add a guide on how to keep forks current [documentation]"
This is a simple suggestion to add a new section on dev.to README file. How about we add a "maintaining your fork" section like [this one from freecodecamp](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md#maintaining-your-fork)? Will be useful for new devs looking to start contributing.

[2018-09-25 14:42] jonathan-irvin commented on #740
As in opening a PR from dev.to to your fork?

[2018-09-25 15:00] nathansebhastian commented on #740
@jonathan-irvin no, I mean from individual forks to master. This is like setting upstream remote that we pull from to update the fork

[2018-09-25 15:45] Zhao-Andy commented on #735
We have a bit of a check that does this, but it's imperfect. Thanks for the heads up!

[2018-09-25 15:59] jonathan-irvin commented on #740
Oh, so you're asking to include documentation on how to add a remote to your local repo?

If you created a fork and cloned it, `origin` would point to your fork on GitHub.
To keep track of where dev.to is going from your local, you would add it as another remote repo.

`git remote add devto git@github.com:thepracticaldev/dev.to.git`

From there, you can merge master into your local and push it bac

[2018-09-25 16:18] nathansebhastian commented on #740
Yes that's the one. I mean rather than assuming people know about this, why not just lay it out there in the readme files :)

I've created a PR for this section.. but if the reviewers decided that it's not neccessary, please feel free to close it.

[2018-09-25 19:22] slbelden opened #745 "Users can not remove a deleted Github repo that has been pinned to their profile."
## Bug Report

### Current Behavior
A Github repository that has been pinned to a user's profile (in the Integrations section of the profile settings) remains pinned when the Github repository is deleted. However, the repository is no longer listed in the user's profile settings, so it can never be removed.

### Expected Behavior
A Github repository that has been pinned to a user's profile is unpi

[2018-09-25 20:13] jonathan-irvin commented on #740
I'll do ya one better.  How about you add a script to package.json that accomplishes this?

[2018-09-25 20:34] jonathan-irvin commented on #740
I pulled in your changes into my fork to add those scripts to the README

[2018-09-26 01:10] nathansebhastian commented on #740
That's great. I'll close my PR then

[2018-09-26 15:15] Eros opened #749 "Add PayPal support for membership"
## Feature Request or Task
Allow users to pay for membership (or other areas) on the website using PayPal, as far as I know it currently only supports stripe.
### User Story / Description
Reading this thread:
https://dev.to/hugo__df/unlock-more-devto-features--245a
and this comment the user seemed to want to support the website but is concerned regarding their payment information (understandable i

[2018-09-26 18:01] darol100 commented on #668
I think, I just experience this bug here is a screenshot of the mismatch of comments:

![screen shot 2018-09-26 at 10 55 55 am](https://user-images.githubusercontent.com/6808460/46099337-5cfca700-c17b-11e8-9469-f68d200c9fbf.png)

This happen on my profile this is my [Dev.to profile](https://dev.to/darol100)

[2018-09-26 18:43] darol100 commented on #227
@gregoryhammond, What is the definition of a `view`? A count base on each page load or a view is considered whenever the user at least when to the end of the article and finished reading it?

If the number count is base on page load and the same user reloads the page 3 times would that be considered as three views?

[2018-09-26 20:44] jonathan-irvin commented on #749
@benhalpern do y'all accept crypto for support?

[2018-09-27 14:04] teacupwoozy opened #755 "Direct messages not showing up unless you filter"
## Bug Report

### Current Behavior
When I went to go reply to a direct message this morning, none of my prior messages were showing. I refreshed and nada. If I start typing in a name in the filter, the message thread with that person will appear. Or, if I click on "group,"  the thread will show up but the person's name isn't listed in the left column.

### Expected Behavior
Previously, I'd click

[2018-09-27 15:32] benhalpern commented on #755
Hey, thanks for this. Can you let us know what the console is outputting?

[2018-09-27 15:57] teacupwoozy commented on #755
Yeah, no problem. Here are screenshots of all of the errors, and the details of the first error. Let me know if you want the details of the rest.
![screen shot 2018-09-27 at 10 53 36 am](https://user-images.githubusercontent.com/39562805/46158626-e37cbb80-c243-11e8-9668-b681ad2a4907.png)
![screen shot 2018-09-27 at 10 53 50 am](https://user-images.githubusercontent.com/39562805/46158627-e37cbb80-c

[2018-09-27 16:45] samuraiseoul commented on #668
No, my bug was different. Similar though. Mine happens on an actual article where you comment. The count doesn't increase in real time.

[2018-09-28 06:16] Antrikshy opened #759 "bin/setup fails with Algolia::AlgoliaProtocolError, claiming "Operations quota exceeded""
## Bug Report

This is a bug report with the dev environment. It's possible that there is no bug and I'm missing some cleanup step or something else with my Algolia account. I apologize if I'm missing something obvious in the README or other documentation.

### Current Behavior

`bin/setup` fails at:

[code]

I've added new-line characters for readability and redacted my Algolia app ID in the copy

[2018-09-28 08:00] GMartigny opened #760 "Figcaption overlap tags"
## Bug Report

### Current Behavior

When an article start with a `<figcaption>` tag, it overlap with the tags list.

### Expected Behavior

Well, it shouldn't.

### Mobile & Desktop Screenshots/Recordings
Desktop:
![image](https://user-images.githubusercontent.com/2543511/46195159-cb6c7100-c303-11e8-95da-386147afba30.png)

Mobile:
![image](https://user-images.githubusercontent.com/2543511/4619536

[2018-09-28 10:53] rhymes commented on #759
It happened to me once, you exceeded the free quota. I solved it by logging into the Algolia account and creating a new API key

[2018-09-28 13:19] Zhao-Andy commented on #760
Good catch, thanks!

[2018-09-28 13:21] Zhao-Andy commented on #759
Yeah, this happens once you exceed the free quota. As @rhymes said, uou can generate a new key to avoid it, but I think we probably shouldn't hit the limit in development. Thanks for creating this issue.

[2018-09-28 20:57] outfrost opened #763 "Profile summary textarea maxlength doesn't match server-side length check"
## Bug Report

### Current Behavior

When I type in a profile summary that is 188 characters long, which fits within the `maxlength="200"` of the `textarea`, upon submission I'm informed that the summary is too long.

### Expected Behavior

The frontend's and backend's definitions of maximum summary length should match. I think it would be even better if the frontend would count the characters liv

[2018-09-28 21:03] Zhao-Andy commented on #763
Hm that's strange. Our backend validation does check for 200 characters as well. Could you paste in the summary you were trying here?

If you'd rather email it in privately, feel free to send it to yo@dev.to.

[2018-09-28 21:21] outfrost commented on #763
Sure, here goes:

[code]

It included a newline at the end.

[2018-09-28 21:31] Zhao-Andy commented on #763
Ah, I think the tabs are messing up with the front end count and the backend count. The backend counts the tab as a character `\t\`. Here's what the length is, from the backend:
[code]

Perhaps the front end is not counting the tabs, but not entirely sure what is not being counted exactly.

For the time being, you could maybe change `technology` to `tech`, or `gameDeveloper` to `gameDev`? Both of

[2018-09-28 23:12] outfrost commented on #763
Ah, that makes things clearer. It's not the escaped tabs. If you were to actually count escapes (`\`), you'd come up to 274 characters. It's the line endings instead - my text editor counted 188 because I use `LF`, but somewhere along the way that got converted into `CRLF`. Perhaps it was the Windows clipboard on my end? But that seems unlikely to me, because Chrome still counted it as within 200

[2018-09-29 00:01] mraible commented on #371
I recently added AsciiDoc to the Okta Developer blog. It wasn't too difficult. We're using Jekyll. You can see what I had to do in https://github.com/okta/okta.github.io/pull/2321.

[2018-09-29 21:02] HZooly opened #767 "Full date in a tooltip"
## Feature Request
Full date in tooltip on hover

### User Story / Description
At first look on a date, I can't know the year of it. The idea would be to add a tooltip, similar as what has been done on StackOverflow or Github.

### Definition of Done

[2018-09-29 22:46] rhymes commented on #767
Hi HZooly, there's this PR https://github.com/thepracticaldev/dev.to/pull/426 - I think it needs a nudge and a review :D

[2018-09-29 22:49] ahmadawais opened #768 "Configuration set up is super hard for non-ruby folks"
Thanks for open sourcing Dev.to 🙌 really appreciate that.

I'll be honest, several times me and my friends (three designers and four devs) none of whom including me are aware of the ruby ecosystem — have tried to contribute — but were all scared away of the initial local set up.

E.g. tonight, I had it with a CSS bug I was fighting with and thought I should set the local env and send in a Pull Req

[2018-09-29 22:50] HZooly commented on #767
Oops really sorry, I should have fully searched before 😕

[2018-09-29 22:50] ahmadawais commented on #768
Running that last gem install separately does this

[code]

[2018-09-29 23:01] rhymes commented on #768
Hi @ahmadawais, let's see if I can help in the meantime. You need to install postgresql:

`brew install postgresql` or you can use [Postgres.app](https://postgresapp.com/) - check out the installation guide: https://docs.dev.to/installation/mac-os/

then run `bundle install` again.

[2018-09-29 23:15] brian-kephart opened #769 "Navigation in iOS PWA"
## Bug Report

### Current Behavior
When the PWA is added to the home screen in iOS, the app opens without browser features, including navigation. That means no back/forward buttons. The browser's built-in swipe gestures aren't present either.

### Expected Behavior
Swipe right should navigate back, left should navigate forward.
[Update] If swipe isn't feasible, then at least some method of backwa

[2018-09-30 00:56] ahmadawais commented on #768
I had the app installed, running, initialized but didn't help. No trying the brew way.

[2018-09-30 01:38] ahmadawais commented on #768
OK now stuck at `bin/setup`

[code]

[2018-09-30 01:47] ahmadawais commented on #768
Also the site doesn't work `bin/startup` ⬇️

![image](https://on.ahmda.ws/713a986e6502/c)

[2018-09-30 01:50] chrisvasqm opened #770 ""Auth with Twitter/GitHub" options not working"
## Bug Report

After signing out from my account, I haven't being able to log back in.

### Current Behavior

If I use "Auth with GitHub", the page starts to load but nothing happens and I'm not redirected to any other site.

If I use "Auth with Twitter", I get redirected to Twitter's page to quickly be redirected back to dev.to, but I just get this "blank" screen where the main content of the pag

[2018-09-30 02:01] buntine opened #771 "Editing an article throws a 500"
## Bug Report

Trying to edit an article throws a 500. I am logged in (and have tried signout+signin). The article in question is: https://dev.to/buntine/the-balanced-ternary-machines-of-soviet-russia

I've tried to edit some other articles and they appear to work correctly.

### Current Behavior

Visiting the edit URL causes a 500: https://dev.to/buntine/the-balanced-ternary-machines-of-soviet-ru

[2018-09-30 02:19] benhalpern commented on #771
Hmm something we changed in frontmatter parsing broke this. Fixed for the post. Will investigate for other ones.

[2018-09-30 02:19] #771 closed

[2018-09-30 07:45] rhymes commented on #768
this seems like the attempt to download the generated imaged timed out. can you try again?

yeah, until the setup is done, the startup won't work

Anyhow, it is true that you need some Ruby and Rails knowledge to setup or contribute. Hopefully the Docker setup will lower the barrier for people who don't know this technologies or aren't developers.

[2018-09-30 08:28] bennypowers opened #772 "Handle different cover image dimensions"
## Feature Request or Task
Cover images of different dimensions should be respected. For example, a more typical size of 840x420 is in line with social sharing cards on major platforms, but appears cropped on dev.to pages.

### User Story / Description
Users that want to groom their cover_image to suit many platforms have to make a choice: prepare an image that looks good on dev.to pages, vs prepa

[2018-09-30 09:38] bennypowers commented on #220
One possible implementation could have a user post a git repo url (with access token in the case of private repos on gitlab, github, or bitbucket), which would either periodically sync, or use webhooks to fetch commits on push.

Alternatively, dev.to could host a remote, which users could push to from their own repos.

[code]

which, I have to say, would be *wicked cool*

dev.to could either host

[2018-09-30 12:39] Snowbell92 commented on #760
is anyone working on this? Can I submit a PR? I'm a first-time contributor, so would really appreciate some heads-up.

[2018-09-30 13:18] Zhao-Andy commented on #760
Hey Samia, feel free to submit a PR. :)

On Sun, Sep 30, 2018, 8:39 AM Samia Ruponti <notifications@github.com>
wrote:

[2018-09-30 14:39] nickytonline commented on #768
@ahmadawais, I have no Ruby knowledge and it wasn't too bad getting the local dev environment setup. The recommended way of installing ruby for the project is via `rbenv`.

The reason being, at least on a Mac, from what I understand is, that, macOS ships with a version of ruby that if you change it, breaks other things, so `rbenv`, like `nvm` for Node, let's you manage versions a lot easier.

I al

[2018-09-30 15:10] ahmadawais commented on #768
@nickytonline so you mean the current setup cannot be improved? I think it can be. A docker based setup would be much appreciated. As you can take a look above I had a fair share of issues.

Yes, I had read that before installing `rbenv` but it didn't work for me, `bundle install` kept asking for latest version but I had already installed it. So, I had to go for `brew`. Not sure why.

Trying again

[2018-09-30 15:14] ahmadawais commented on #768
@rhymes I stopped and started the Postgress.app again and `bin/setup` worked it ended with `DEV` ASCII and all.

After that I ran `bin/startup` and finally it seems to have worked.

[2018-09-30 15:53] nickytonline commented on #768
@ahmadawais, definitely agree about the Docker setup. I didn't bring it up just because there's already a PR up for it.

[2018-09-30 17:08] nickytonline commented on #768
There's no demo account, but creating the Twitter app took a minute or two and then I was using it right away or do up GH like @rhymes was saying.

[2018-09-30 17:28] ahmadawais commented on #768
@rhymes you were right! GitHub login worked.

Just sent a PR for some docs improvement on the contribution method.

[2018-09-30 17:28] #768 closed

[2018-09-30 21:37] Antrikshy commented on #759
This is strange. Nothing in my Algolia account suggests that I have exceeded any quotas and I even get some errors when trying to list all my API keys for this application. I think it might be an issue on their end. ¯\_(ツ)_/¯

[2018-09-30 22:05] Antrikshy commented on #568
I'm trying to reproduce this in my dev environment. What do I need to do to get a mock chat going? Sending messages gets me this printing out in the backend:

    ActiveRecord::RecordNotFound - Couldn't find ChatChannel with 'id'=:
      app/models/message.rb:91:in `channel_permission'
      app/controllers/messages_controller.rb:10:in `create'

[2018-10-01 00:09] Zhao-Andy commented on #568
Hey @Antrikshy, you can run this in `rails console`:
[code]

[2018-10-01 09:15] Eros commented on #749
@jonathan-irvin pretty sure they're just supporting stripe with credit card payment at the moment.

[2018-10-01 10:17] math2001 commented on #242
I think this isn't so good. From a devtoer (is that a thing) point of view, it just means one more thing to worry about that isn't awesome content/features.

Let's not store passwords, and have to manage the whole security problems that comes with it. Let's just rely on other services who have a lot more energy to put into security to do that for us.

That said, I'd be glad to help out with GitLab

[2018-10-01 12:19] chrisvasqm commented on #770
Hey @math2001, thanks for the tips.

When I try to use GitHub login nothing shows up on the DevTools console and when I use Twitter I get this:

<img width="466" alt="twitter_console_log" src="https://user-images.githubusercontent.com/8799179/46288021-74a8a680-c552-11e8-841c-95d0a92dbc4a.png">

I also tried clearing all my browsers cache and cookies, and it keeps acting the same way.

[2018-10-01 13:17] Exadra37 commented on #749
The user in the link is me.

From the moment PayPal is accept I will be one of the first to subscribe :)

Why I don't want Stripe?

I know Stripe is a lot used in US but I am in Europe where is not that much used and I am not exposing my billing info to one more provider.

This is nothing against Stripe, but I already have a PayPal account and I am very strict with who I give my card details.

[2018-10-01 14:59] rhymes commented on #770
@chrisvasqm it looks like you have some extension breaking the login. Try to disable ad blockers or extensions like privay badger

[2018-10-01 15:20] jonathan-irvin commented on #770
I'm having the same issues.

[2018-10-01 15:27] chrisvasqm commented on #770
Tried disabling, uninstalling and even using a fresh installation of my Firefox browser. Also, I've tried using my phone and I still have the same issues.

[2018-10-01 15:27] jonathan-irvin commented on #770
@Zhao-Andy Logging in from my phone Samsung Galaxy S9+ running Android 8.0.0 is working, but yeah I'd isolate it to Mohave.  I experience the same effect on my iMac at home also running Mohave.

[2018-10-01 15:28] jonathan-irvin commented on #770
What phone are you using?

[2018-10-01 15:28] chrisvasqm commented on #770
In case this might help, I even tried revoking my Twitter and GitHub auth access and trying to log in again, but it didn't help.

[2018-10-01 15:29] chrisvasqm commented on #770
Google Pixel XL with Android 9.0 using the Chrome v69.0.3497.100.

[2018-10-01 15:37] Zhao-Andy commented on #770
Hmm @chrisvasqm @jonathan-irvin try now. We recently added in some new authentication logic to prevent duplicate accounts, but there might be some unintended side effects. I believe the issue is that your accounts had some invalid columns.

@jonathan-irvin for your account, you had an invalid LinkedIn URL.

@chrisvasqm for your account, you had an invalid LinkedIn URL and Stack Overflow URL.

Both

[2018-10-01 15:43] chrisvasqm commented on #770
Thanks @Zhao-Andy !

All good now, checked on my laptop and phone, with both Twitter and GitHub methods and it's all good now 👏🏻

[2018-10-01 15:43] #770 closed

[2018-10-01 15:47] jonathan-irvin commented on #770
yay, it works!!

[2018-10-01 20:57] pkfrank opened #788 "Add chronological view to /internal/articles"
## Feature Request or Task
As an admin scheduling content, I'd like a view that is strictly chronological.

### User Story / Description

### Definition of Done
When, as a super admin, I can navigate to `/internal/articles` and view a list of published articles based on their time of publishing.

[2018-10-01 21:35] stephaniekyyip commented on #321
@jessleenyc Hi! Can I work on this?

[2018-10-02 00:10] nero2009 opened #790 "Add support for embedding codesandbox in markdown"
## Feature Request or Task
Allows Blogger to embed a sandbox in markdown when writing a post, currently there's support for only codepen embeds.

### User Story/Description
I was trying to add a live demo of a code to my post but i couldn't because there's no support for codesandbox.

### Definition of Done
* Bloggers should be able to embed a codesandbox.io link in their.posts.

[2018-10-02 16:53] jessleenyc commented on #321
@stephaniekyyip yes! since copy is a little tricky, we'll probably make some adjustments but would be awesome to get this information up.

[2018-10-02 20:50] maestromac commented on #763
This is from Safari 12. Hmm 🤔

![](https://cl.ly/3047d149a287/Image%202018-10-02%20at%204.44.20%20PM.png)

[2018-10-02 23:44] benhalpern opened #797 "Rewrite search page in Preact"
## Feature Request or Task
As a user, I will want additional filters to narrow things down in my search. e.g. #360, but we don't currently have a great base for adding to the valnilla page.

### Technical details
Right now, all the code for search is in `_search.html.erb` basically it's inline on the search page.

We want to move it to `app/javascript`. Create a new component in the `src` file cal

[2018-10-02 23:57] nickytonline commented on #797
Not sure why I didn't see #360 before. I'll outline what needs to be done as I migrated the first part of search to preact. I should have some free time coming up to grab this or I'd be happy to pair with someone, if they want to learn the ropes a bit.

[2018-10-03 00:01] ascii-dev commented on #797
@nickytonline I would like to work on this while learning the ropes and I'll be happy to pair up with you on it.

[2018-10-03 00:02] benhalpern commented on #797
Yeah, @nickytonline @ascii-dev I think that would be a great match. I think you two pairing would be awesome.

[2018-10-03 03:53] theoutlander commented on #118
Issues that have been claimed should be assigned so it's easier to discover issues that need help.

[2018-10-03 03:57] theoutlander commented on #245
Is anyone working on this issue?

[2018-10-03 04:04] theoutlander commented on #354
I was about to make a request for autocompleting liquid tags and came across this issue. I can take a stab at it (need to get set up first). Following that, if there's consensus, I can look into autocompleting liquid tags.

[2018-10-03 10:39] chuongtrh opened #800 "1 error prohibited this article from being previewed"
## Feature Request or Task

### User Story / Description

### Definition of Done

---

## Bug Report

I'm facing issue when I try to preview post

Link issue
[https://imgur.com/a/YeOxhil](https://imgur.com/a/YeOxhil)

### Current Behavior

### Expected Behavior

### Mobile & Desktop Screenshots/Recordings

### Additional Info (device/browser, helpful links)

[2018-10-03 10:42] Defman21 commented on #203
1. I think yes.
2. github-like (imho).

[2018-10-03 14:28] Defman21 opened #801 "Show next charge date at the billing page"
## Feature Request or Task

Title.

### User Story / Description

I'd like to see when you'll charge my monthly support subscription.

### Definition of Done

A date that indicates next charge date at the billing page.

[2018-10-03 14:30] Defman21 opened #802 "Utilize multiple issue templates feature of Github"
https://blog.github.com/2018-01-25-multiple-issue-and-pull-request-templates/

[2018-10-03 14:43] chuongtrh commented on #800
@rhymes Sure
You can find a screenshot at here [https://imgur.com/a/T9vH87a](https://imgur.com/a/T9vH87a)

@Zhao-Andy thanks, i try but it's not working

[2018-10-03 14:59] Zhao-Andy commented on #800
@chuongtrh If you could send an email to yo@dev.to with your Markdown in the email body, I can test the Markdown and see what's going on.

[2018-10-03 15:08] chuongtrh commented on #800
@Zhao-Andy done, please check your inbox

[2018-10-03 18:36] chrisvasqm commented on #770
Only blank with Twitter and nothing would happen choosing GitHub. No 500 errors for me.

[2018-10-03 18:55] maestromac commented on #802
@jessleenyc thoughts on this?

[2018-10-03 19:01] jessleenyc commented on #802
@Defman21 this doesn't seem super intuitive since you'll need to update the URL to toggle the correct template. What are your experiences with it?

[2018-10-03 19:18] maestromac commented on #245
@theoutlander Nope. Feel free to grab it!

[2018-10-03 19:28] tterb commented on #802
@jessleenyc I believe it provides the user the option of selecting one of the templates when opening a new issue/pull request, as shown in the image below.

<img width="796" alt="screen shot 2018-10-03 at 12 25 50 pm" src="https://user-images.githubusercontent.com/16360374/46434128-90a17900-c707-11e8-8dcb-b41f015f736a.png">

[2018-10-03 21:13] #772 closed

[2018-10-03 21:48] davidjeddy opened #806 "Footer is pushed down due to infinite scroll...but I'd like to read it."
## Feature Request or Task
Disable infinite scrolling at the bottom of the landing page in hopes of being able to read / interact with the footer UI.

### User Story / Description
I'd like to interact with the links or read the contents of the footer on the landing page when scrolled to the bottom of the page.

### Definition of Done
Ability to interact with the links in the footer of the landing

[2018-10-04 04:39] nektro commented on #806
All of the info in the footer is also in the "key links" block of the left side bar
![image](https://user-images.githubusercontent.com/5464072/46453149-f45e8d00-c76d-11e8-96cf-4a17f42586a7.png)

[2018-10-04 04:57] nektro commented on #769
This is part of iOS's current handling of PWAs and if manual swipe gestures were put in, it would interrupt the native gesture when not in HomeScreen mode and be very disruptive to non iOS users

[2018-10-04 05:11] nektro commented on #715
I agree with removing `- Where software engineers connect, build their resumes, and grow.` but I think getting rid of `👩‍💻👨‍💻` may be a bit much

[2018-10-04 05:15] nektro commented on #712
This is because the code by Twitter given to embed tweets does not connect to their live updates service. It simply creates an `<iframe>` with the static data from an API call.
https://help.twitter.com/en/using-twitter/how-to-embed-a-tweet

[2018-10-04 06:08] Antrikshy commented on #568
All right, I see a chat now. Sending messages now gets me:

[code]

[2018-10-04 07:54] theoutlander commented on #354
Got set up after 3 hours of fighting everything. Need to get acquainted with a few things. I'm going to take a stab at a simpler issue (https://github.com/thepracticaldev/dev.to/issues/245) before I jump on this one.

[2018-10-04 07:57] theoutlander commented on #245
Alright, finally got set up after 3 hours of fighting everything. Next, I need to get acquainted with the system. I'll take a stab at this issue first before moving on to https://github.com/thepracticaldev/dev.to/issues/354 which appears to be somewhat similar.

[2018-10-04 08:44] Link2Twenty commented on #806
It's true that all the links are on the side, but if you did want the footer to be sticky on infinite scrolling pages you could change the CSS to something like this.

[code]

[2018-10-04 14:29] nektro commented on #802
@maestromac ah, having the selector requires specific names and including front matter on the templates, see here: https://github.com/nektro/apps.nektro.net/pull/1/files

All the original PR did is setup template URLs, see:
https://github.com/thepracticaldev/dev.to/issues/new?template=Bug.md
https://github.com/thepracticaldev/dev.to/issues/new?template=FeatureRequest.md

[2018-10-04 15:19] outfrost commented on #763
Nano thinks it's 188
![screenshot from 2018-10-04 16-55-48](https://user-images.githubusercontent.com/18421230/46483023-07696f80-c7f7-11e8-8c12-8327860594f7.png)
and so does `wc`, listing both bytecount and charcount at 188.
![screenshot from 2018-10-04 16-55-28](https://user-images.githubusercontent.com/18421230/46483022-06d0d900-c7f7-11e8-9d00-3199fa267a06.png)
Chrome lets me type this many addi

[2018-10-04 15:30] bennypowers opened #814 "markdown: Remove extra line breaks in nested lists"
## Bug Report

### Current Behavior

When creating nested lists, extra linebreaks are rendered.

This markdown:

[code]

renders the following HTML

[code]

### Expected Behavior
Nested lists should not have linebreaks added. I should get this markup instead:

[code]

[2018-10-04 15:33] #802 closed

[2018-10-04 15:41] maestromac commented on #802
Turns out it could be one from the setting tab 😆. Thanks [GitHub Blog](https://blog.github.com/2018-05-02-issue-template-improvements/)

[2018-10-04 16:03] vipulbhj opened #817 "No UI indication to confirm pressing of login button."
**Description**
When you click the login button, then there is no UI chance indicating that the login process has started. This is especially a problem when the network is slow and it takes a few seconds to log in.

**Request**
First of all, I am very new to open source and I am not sure if its a bug or a feature request. So please forgive me if its the other. That being said, I recommend using an

[2018-10-04 16:21] jessleenyc commented on #705
Thanks for the request @anandhumanoj. Closing this issue because it's a duplicate of #413.

[2018-10-04 16:21] #705 closed

[2018-10-04 16:39] jessleenyc commented on #736
Sorry, can you clarify the request?

[2018-10-04 16:40] pkfrank opened #821 "Timeouts when deleting a post"
**Describe the bug**
As a user, I want to be able to `Delete` my posts.  Currently, it occasionally times out.

**To Reproduce**
This seems to happen _more often_ with articles that have a lot of reactions/comments.  So, to reproduce, choose an article you're willing to delete with many reactions/comments and press `Delete` from your dashboard.

**Expected behavior**
The article is deleted without

[2018-10-04 16:42] jessleenyc commented on #737
Admins currently have a way to make tags approval-only. For example, if I tag a post w/ 'Special' and its approval-only, the post will still publish but the tag won't appear until an admin approves. I'm assuming this is what you're referring to but brought into mod privileges?

[2018-10-04 16:43] jessleenyc commented on #738
Do you mean something different to the current setup?
Example - https://dev.to/digitalocean

[2018-10-04 16:44] jonathan-irvin commented on #737
Yeah, that's right @jessleenyc.

[2018-10-04 16:46] jonathan-irvin commented on #736
Talked with @benhalpern about this.  Right now, I prefix my articles with "Jelly Fin" and use the #jellyfin tag.  I was talking to Ben about the idea for OSS projects who have mod rights to their tag to have the ability to turn on the flair tag similar to #discuss #ama etc.

Here's an example:
![screen shot 2018-10-04 at 11 45 58 am](https://user-images.githubusercontent.com/2481437/46489496-23efb

[2018-10-04 16:47] jonathan-irvin commented on #736
Instead of #showdev I would want it to say #jellyfin

[2018-10-04 16:53] jessleenyc commented on #806
Thanks for sharing the info @nektro!

@davidjeddy closing this issue because it's a duplicate of https://github.com/thepracticaldev/dev.to/issues/806

[2018-10-04 16:53] #806 closed

[2018-10-04 17:09] maestromac commented on #157
Hey @GonzalezAnguita ! We believe this is fixed. Let us know if otherwise!

[2018-10-04 17:09] #157 closed

[2018-10-04 17:12] #738 closed

[2018-10-04 17:12] jonathan-irvin commented on #738
Looks like this is already covered

On Thu, Oct 4, 2018, 11:44 Jess Lee <notifications@github.com> wrote:

--
-Jonathan

[2018-10-04 17:37] jessleenyc commented on #654
Hey @samuraiseoul! Closing this because I just realized this is a duplicate and that there's more discussion in the other issue: https://github.com/thepracticaldev/dev.to/issues/568

[2018-10-04 17:37] #654 closed

[2018-10-04 17:40] jessleenyc commented on #639
@shriharshmishra closing this for now -- please feel free to re-open if Cloudinary is not the issue!

[2018-10-04 17:40] #639 closed

[2018-10-04 17:49] Zhao-Andy opened #822 "/settings/integrations can time out if you have too many repos"
**Describe the bug**
If you have too many repos, going to `/settings/integrations` can time out. This prevents you from updating which repos are pinned to your profile.

**Proposed Solution**
We could load the repos asynchronously through a regular `GET` request, and have an endpoint that shows the `current_user`'s repositories.

[2018-10-04 18:00] maestromac commented on #817
Hey @vipulbhj ! This issue is perfectly fine. I think this would be a feature request for UI improvement. @benhalpern might have some thoughts on how the design should be.

[2018-10-04 18:03] vipulbhj commented on #817
Hey @maestromac Thank you so much for confirming. Can I work on it if we decide to do this ??

[2018-10-04 19:04] anandhumanoj commented on #705
Really sorry that I made a duplicate request. Thanks for the response

[2018-10-04 19:05] brian-kephart commented on #769
What about something implemented conditionally, like the use of `window.navigator.standalone` in [this article](https://www.netguru.co/codestories/few-tips-that-will-make-your-pwa-on-ios-feel-like-native)?

And really, this issue is about navigation, not necessarily swipe, and it can be solved in other ways. For instance, a back button could be added to the app in standalone mode.

[2018-10-04 19:10] samuraiseoul commented on #654
No worries, thanks for linking me!

[2018-10-04 19:11] jessleenyc commented on #174
Hey @Defman21, removing the reply button is actually intentional here. @benhalpern can jump in with some thoughts if you have any questions. Closing for now.

[2018-10-04 19:11] #174 closed

[2018-10-04 19:20] pkfrank opened #823 "ignore"

[2018-10-04 19:21] #823 closed, assigned to nobody

[2018-10-04 19:35] jessleenyc commented on #733
We're open to suggestions here if someone wants to work on this!

[2018-10-04 19:39] jessleenyc commented on #735
What @Zhao-Andy said -- we take care of this in some places where the background color and color are the _exact same_, which still isn't ideal for colors that are very similar but not identical.

Would be great if we could add a minimum contrast requirement to buttons.

[2018-10-04 19:41] jessleenyc commented on #749
Thanks for the request @Eros! We're interested in offering paypal as an option if anyone feels like working on this.

[2018-10-04 19:51] jessleenyc commented on #253
Thanks for the flag @genemars. Approving this for anyone who wants to work on it!

[2018-10-04 19:59] jessleenyc commented on #239
@thomasbnt any chance you still remember which article that is? I can't seem to recreate the issue. More info on browser would be helpful too.

[2018-10-04 20:01] maestromac commented on #706
Hey @bennypowers , was #818 meant to implement this feature? or was it just a step of the implementation?

[2018-10-04 20:14] thomasbnt commented on #239
@jessleenyc  I can't reproduce it anymore, but it was in the 'Connect' part, we could click on the links of the articles and it metais on the side

[2018-10-04 20:27] bennypowers commented on #706
Was intended to solve, but I don't think it did the job, since I have some posts and drafts that use `<abbr>` that don't show markup.

[2018-10-04 20:27] benhalpern commented on #739
Sorry I didn't get to this sooner, but I am super duper duper in favor of this.

[2018-10-04 20:31] jessleenyc commented on #239
Ah okay. We've made a few changes overall that may have fixed it. Closing for now.

[2018-10-04 20:31] #239 closed

[2018-10-04 20:43] maestromac commented on #706
No worries. MarkdownParser definitely remove the tag during one of the rendering steps. It can be pretty tricky to get right.

[2018-10-04 20:59] bennypowers commented on #706
Did a little testing and the `sanitize_rendered_markdown`function is to blame.

[2018-10-04 21:17] Zhao-Andy commented on #568
Gotcha, you'll need a Pusher app to use chat. You can create a new app for free by creating an account here: https://dashboard.pusher.com/accounts/sign_up

There are two keys, `PUSHER_KEY` and `PUSHER_SECRET`. It should be pretty straightforward, but feel free to ask questions if you run into any issues.

[2018-10-04 21:41] acflint commented on #202
Just as an FYI, I've tested this again iOS 12.1 and it's still an issue. Damn you, Apple!

[2018-10-04 22:01] nickyhajal commented on #208
@benhalpern Seems like on the frontend, adding a `debounce` should effectively rate-limit the requests: https://lodash.com/docs/4.17.10#debounce

Ideally, the UI would update optimistically and just the request to the server is debounced so it only sends with the final value.

[2018-10-04 23:02] #706 closed

[2018-10-05 01:48] msarit commented on #745
@slbelden I tried to replicate this bug in my local dev, but it's not chirping 😄

Under `User/Settings/Integrations` I selected a few repos to pin. On my profile page, I saw them listed in the bottom-right corner (as expected). Went back into `Integrations` and clicked the "**Remove**" button for some repos. Back on my profile page, the removed repos were gone (as expected).

Are you still experie

[2018-10-05 03:03] slbelden commented on #745
@msarit Those steps would not replicate this bug. This bug occurs when you delete the Github repo itself. Here are the steps for replication:

1. Create a new Github repo
2. Pin that repo to your profile
3. Delete the Github repo on Github

[2018-10-05 06:28] Defman21 commented on #174
I do. For what reasons? That looks like an UX bug to me.

[2018-10-05 08:17] gatlee commented on #208
My [pull request](https://github.com/thepracticaldev/dev.to/pull/681) implements optimistic rendering and addresses the visual aspect of the bug. NaNs won't be shown to the user on error.

I'm currently working on migrating the actions bar to react but if this is enough of a priority I could work on implementing @nickyhajal 's suggestion.

Any thoughts @benhalpern?

[2018-10-05 09:19] analizapandac opened #830 "Integrations page is showing 500 error if dev.to is removed from authorized apps in Github profile."
**Describe the bug**
I've previously granted the site OAuth access to my Github profile however I revoked it. So now whenever I try to access /settings/integrations, it results to a 500 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Authorized OAuth Apps under your Github profile settings (settings/applications),
2. Revoke access of dev.to application
3. Go back to dev.to and o

[2018-10-05 09:45] rhymes commented on #821
I believe this is due to this line https://github.com/thepracticaldev/dev.to/blob/master/app/controllers/articles_controller.rb#L128

`destroy!` calls in a cascade all destroy methods of all related objects that can be deleted. If it's a *lot* of content it will take some times. Given that deletion is done in process (which means the user has to wait for everything to be deleted during their HTTP

[2018-10-05 10:53] msarit commented on #745
I misunderstood - thanks for clarifying 😁

[2018-10-05 12:50] bennypowers commented on #625
I tried with a brand-new article and got this error:

[code]

[2018-10-05 16:22] maestromac commented on #821
Yep @rhymes ! give it a whirl.

[2018-10-05 16:28] maestromac commented on #745
Sorry we didn't get to this sooner but thank you for reporting this issue @slbelden ! We went ahead and manually removed that phantom repo for you. This feature needs to be revised to address this issue.

[2018-10-05 16:56] leovarmak opened #833 "Display Analytics Information"
**Is your feature request related to a problem? Please describe.**
It would be really nice if you can share post analytics information like what are post views. I would really like to know how many people I have reached

**Describe the solution you'd like**
Maybe show stats with article views like github.

**Describe alternatives you've considered**
I haven't tried any alternatives

**Additional c

[2018-10-05 17:07] maestromac commented on #833
Thanks for this issue @leovarmak. Closing this issue because a duplicate was created and there's a bit more discussion going on there: #227

[2018-10-05 17:07] #833 closed

[2018-10-05 17:28] Zhao-Andy commented on #830
Hey @analizapandac, thanks for this report! We'll take a look into it and add some better error handling.

[2018-10-05 17:29] Zhao-Andy commented on #635
Done by @benhalpern

[2018-10-05 17:29] #635 closed

[2018-10-05 18:16] weekly-digest[bot] opened #834 "Weekly Digest (28 September, 2018 - 5 October, 2018)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 69 issues were created.
Of these, 49 issues have been closed and 20 issues are still open.
## OPEN ISSUES
:green_heart: #824 [Remove saw_onboarding condition](https://github.com/thepracticaldev/dev.to/pull/824), by [benhalpern](https://github.com/benhalpern)
:green_hea

[2018-10-05 18:18] vipulbhj commented on #817
I would like to try this if anyone else if not trying it. I am thinking to implement an overlay loader. Can someone discuss designs with me

[2018-10-05 19:11] #814 closed

[2018-10-05 19:32] maestromac commented on #834
Weekly digest will now be changed to Monday!

[2018-10-05 19:32] #834 closed

[2018-10-05 20:29] itzsaga commented on #822
Happy to see this open. I've experienced this issue for a while now. Commenting more so I know when it has been fixed :-)

[2018-10-05 21:31] Zhao-Andy opened #838 "Use Fastly-Rails Gem"
**Is your feature request related to a problem? Please describe.**
We have an custom version of clearing our cache through Fastly, that involves URLs. The [fastly-rails gem](https://github.com/fastly/fastly-rails) could streamline our process and make things smoother.

**Describe the solution you'd like**
We decide on whether or not to use the fastly-rails gem.

[2018-10-05 23:06] msarit opened #840 "Mis-alignment of "Select" and "Remove" buttons in Integrations panel"
**Describe the bug**
Related to Issue https://github.com/thepracticaldev/dev.to/pull/836. Initially, the "Select" and "Remove" buttons were aligned as expected (see Screenshot 1). But once I selected a repo to pin, the buttons all shifted out of alignment (see Screenshot 2).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/settings/integrations
2. "Select" and "Remove" b

[2018-10-05 23:06] msarit commented on #840
I welcome any help with this issue, but I would like to tackle it please 🙏

[2018-10-06 02:18] tterb commented on #733
I'd be interested in working on this if no one's addressed it yet.

[2018-10-06 03:00] ganderzz commented on #733
Playing around with this -- thoughts with going with the DEV black background? Matches the color-scheme without introducing a rainbow of colors to the page (and still stands out). Also, matches well with the white text and blue link color.

![screen shot 2018-10-05 at 7 56 59 pm](https://user-images.githubusercontent.com/5566054/46566714-0872cd80-c8d9-11e8-8bb6-ba53cd3924bd.png)

[2018-10-06 03:16] tterb commented on #733
My initial thought was something like this, using styles featured on the dashboard/sidebar elements to fit with the overall dev.to UI. Though, it may not stand out as much if you're looking for more of an urgent call to action.

<img width="941" alt="screen shot 2018-10-05 at 8 11 17 pm" src="https://user-images.githubusercontent.com/16360374/46566828-dcf0e280-c8da-11e8-904e-d5f6b136650f.png">

[2018-10-06 12:01] nickytonline commented on #840
I haven't looked at the code, but this can probably be fixed using Flexbox with [justify-content](https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content) equal to `space-between`.

[2018-10-06 22:56] stephaniekyyip commented on #321
@jessleenyc What's the best way to better understand how the RSS feature works? Is there a particular part of the code I should look at?

[2018-10-07 15:45] gokul0 commented on #625
Hi,

I would like to contribute to this.
Can you please tell me the directions?

[2018-10-07 17:19] joaofbantunes opened #848 "Some parts of a markdown file contained in a gist are not readable"
**Describe the bug**
When adding a gist that contains a markdown file, some parts of the file (in this case, a block of code) are not readable.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [this post](https://dev.to/joaofbantunes/episode-002---project-structure-plus-first-application---aspnet-core-from-0-to-overkill-5dlc)
2. Scroll down to the gist after the title "Repository struc

[2018-10-07 17:48] avelino commented on #88
Is this feature working? Can I put a personal domain to my profile? @benhalpern

[2018-10-08 11:59] yokimpillay opened #856 "Follow button text is missing"
**Describe the bug**
The button to follow someone back from the Notifications is missing the "Follow" text.

**11/10 Edit:** @M0nica has pointed out the following, and I can confirm that the same is happening on my side:

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to your Notifications
2. Scroll down and find a notification for a new follower
3. Look at the blue "Follow" button.

**

[2018-10-08 13:47] bennypowers opened #857 "markdown: some custom attributes render as errors"
**Describe the bug**
for this markdown:

[code]
(minus the 'escaping' slash in the last line)

The following is rendered:

<img width="719" alt="screenshot 2018-10-08 16 42 55" src="https://user-images.githubusercontent.com/1466420/46612523-7dcce100-cb19-11e8-9630-a49bceef24b8.png">

**Expected behavior**
I would expect that even non-standard attributes render as-is.
Consider the same snippet rend

[2018-10-08 14:11] hdennen commented on #735
Seems simpler to render the button in the settings page to show the changes the user makes. Maybe immediate feedback > safety code in this case. ¯\_(ツ)_/¯

[2018-10-08 14:29] benhalpern commented on #857
This is approved for community contributions, we'll schedule to get to it if nobody jumps on it.

[2018-10-08 14:30] benhalpern commented on #856
Interesting, is this happening all the time? Even when you refresh?

[2018-10-08 14:30] benhalpern commented on #848
Thanks for the issue

[2018-10-08 14:31] benhalpern commented on #840
Fixed in #836 right? I'll close. Let us know if it needs to be re-opened.

[2018-10-08 14:31] #840 closed

[2018-10-08 14:33] benhalpern commented on #838
We do use Fastly-Rails gem already, but we don't follow it's exact prescribed cache clearing solution, mostly because we couldn't get it to work at first.

I'm in favor of continuing to look into improvements here.

[2018-10-08 15:46] minimaxir opened #858 "The "Fake Comment" signup CTA is asshole design."
**Is your feature request related to a problem? Please describe.**
The "Fake Comment" signup CTA is a dark pattern that hits on asshole design:

<img width="817" alt="screen shot 2018-10-08 at 8 33 09 am" src="https://user-images.githubusercontent.com/2179708/46618976-b5b23500-cad5-11e8-8590-8e48d7482e11.png">

In this case, lampshading a bad/sleazy growth hacking strategy makes it even *worse* th

[2018-10-08 17:28] ayush-sharma opened #860 "Clicking on "Start a meta discussion" doesn't show "meta" tag autofilled in new post"
The right-sidebar on dev.to has a new `#meta` box which lists posts tagged with the `meta` tag. The link to START A NEW META DISCUSSION opens a New Post page, but the `tags` in that page does not contain the `meta` text.

**To Reproduce**
1. Click the "START A META DISCUSSION" link in the right sidebar
2. In the New Post window `tags` is empty.

**Expected behavior**
The New Post window should hav

[2018-10-08 18:09] benhalpern commented on #858
Thanks for the issue, this has been something we've been considering changing. I'm not sure why you had to come here with an indignant attitude about the whole thing.

[2018-10-08 18:41] benhalpern commented on #860
Thanks, fixed!

[2018-10-08 18:41] #860 closed

[2018-10-08 18:48] #858 closed

[2018-10-08 18:50] minimaxir commented on #858
👍

[2018-10-09 01:22] chenge opened #868 "Brave browser + google translate compatibility issue"
I'm from Chinese. Your site is good, so I tried to use Google translate but failed.

Thanks.

[2018-10-09 13:28] yokimpillay commented on #856
@benhalpern Yeah, I've tried in normal and 'private' browsing modes on both browsers. I have also just tried on Safari normal & private, and received the same result.

Is there anything else I can try help find for you?

[2018-10-09 14:55] jessleenyc commented on #868
Thanks for the request. Are you seeing something similar to this? https://dev.to/mfnkuqcj5s9t/devto-when-google-translate-it-e5k

[2018-10-09 14:59] benhalpern commented on #734
This has been fixed with #734

[2018-10-09 14:59] #734 closed

[2018-10-09 15:00] #759 closed

[2018-10-09 15:00] maestromac commented on #759
Definitely seems like an Algolia issue. Let us know if similar issue ever comes up again.

Closing!

[2018-10-09 15:04] aspittel commented on #734
Awesome, thanks!

[2018-10-09 15:57] nathansebhastian opened #869 "Enable selecting view for Codepen Embed"
**Is your feature request related to a problem? Please describe.**
I want to display Codepen embed in a split view format on load, so that readers can view both code and render result at once. Unfortunately right now the view is hardcoded as `default-tab=result`
We can add optional parameters like in Glitch embed

Example:
{% codepen https://codepen.io/twhite96/pen/XKqrJX default-tab=html,result %

[2018-10-09 16:37] jessleenyc commented on #869
Thanks for the issue. @maestromac feel like you might have some thoughts on this one.

[2018-10-09 16:40] benhalpern commented on #869
Definitely the right call to do like Glitch.

My question is do we want `default-tab=` or do we just want that second parameter to _be_ "default tab", so it would look like:

{% codepen https://codepen.io/twhite96/pen/XKqrJX js,result %}

Or something like that.

Are there any other params we may care about?

[2018-10-09 17:23] benhalpern opened #872 "Typeahead liquid tag dropdown in new editor"
**Is your feature request related to a problem? Please describe.**
As a user, it can be hard to remember what exactly the commands for liquid tags in the editor are. In the way I might use this feature in my code, I'd like to type `{% ` and get a list of options for autocomplete.

**Additional context**
The editor is built in Preact, and ideally this could be done without new dependencies, but if

[2018-10-09 17:30] rrampage opened #873 "Profile Image on User Page not updating for some posts"
**Describe the bug**
Profile picture not updating on some posts on the profile page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to my [profile page](https://dev.to/rrampage)
2. Scroll through the posts. Some posts have the correct profile picture while a few have the old profile picture

I have tried the following:
1. Visiting the page usually
2. Visiting with browser extensions dis

[2018-10-09 17:33] jessleenyc commented on #873
Interesting. I suspect this has to do w/ the way some articles are cached? Thoughts on this @benhalpern?

[2018-10-09 17:58] bigblind commented on #872
Would there be an endpoint where the client can ask the server for a list of liquid tags, or would the list on the front end be updated manually whenever a new tag is added?

[2018-10-09 19:04] chrisvasqm opened #875 "Republishing a post alerts all followers like it was new"
**Describe the bug**

Users can potentially spam their followers by republishing an old post.

**To Reproduce**

Steps to reproduce the behavior:

1. The user must be logged in.
2. Have at least 1 published post.
3. Go to Dashboard.
4. Click on an already published post.
5. Set the `published` value to `false`.
6. Save changes.
7. Set the `published` value back to `true`.
8. Saves changes.

And no

[2018-10-09 19:18] darol100 commented on #242
I would love to see a login from `Dev.to,` rather than any social logins.

[2018-10-09 19:40] theoutlander commented on #245
@pkfrank @maestromac I've noticed that the Code of Conduct check returns false the first time.

The following variable is checked:
[code]

After I comment once, it becomes true. Can you confirm if this is the expected behavior or if it is a bug?

In my solution here, I cannot post via Ctrl+Enter the first time because of this.

[2018-10-09 20:11] #505 closed

[2018-10-09 20:12] chrisvasqm commented on #875
Just noticed the Editor v2 that is currently in Beta doesn't have the `published` field and it's managed via 2 different buttons: `Save Draft` and `Publish`.

I have yet to test if this behaviour is still present, but it would be nice to keep it in mind.

[2018-10-09 20:55] theoutlander commented on #875
Do we know if this is working at the moment if you toggle publish? I had tried it earlier and don't think it worked.

[2018-10-10 02:38] chenge commented on #868
No, it showed a huge icon of Connect, no any text. I tried in three browser. Do you need a screenshot?

[2018-10-10 04:28] ashwinv11 commented on #127
@msarit @thomaslawton91 I would love to work on this if development has been paused!

[2018-10-10 05:10] theoutlander commented on #245
@benhalpern @jessleenyc ^

[2018-10-10 08:08] yokimpillay commented on #856
I'm going to try and see if the same thing happens on a local development environment today.

[2018-10-10 09:37] Donaatas opened #879 "Leaving rating with podcast on is not visible"
**Describe the bug**
If you turn on podcast on the website leaving a rating (ex: heart) is hidden under podcast player/

**To Reproduce**

1. Go to 'any thread/post with availability to listen it'
2. Click to 'play podcast'
4. See error

**Expected behavior**
podcast player appears in bottom of the screen, and rating menu jumps on top (box beside box, not in the podcast player) of it slightly so i

[2018-10-10 11:49] sagar-gavhane commented on #875
Recently, I checked with my previous post. My post has been notified to all my follower. It's weird trick and if anyone finds out, he can misuse it.

[2018-10-10 12:16] nathansebhastian commented on #869
Hmm I think we can include optional height parameters as well and that's it.

[2018-10-10 17:47] cfjedimaster opened #881 "Allow final slash for codepen URL"
**Is your feature request related to a problem? Please describe.**
Nope

**Describe the solution you'd like**
When adding in a CodePen URL, you may copy from the embed URL and get something like this:

https://codepen.io/cfjedimaster/pen/yRVYJa/

However, the site flags this as an invalid URL. Why? The final /. The validator should allow for it.

**Describe alternatives you've considered**
I remov

[2018-10-10 18:43] msarit commented on #127
@ashwinv11 Go for it!! ⚡️

[2018-10-10 19:00] jessleenyc commented on #868
Yes, can you send a screenshot and tell us your device/make?

[2018-10-10 20:08] Zerquix18 commented on #539
In the RSS settings form, it says that "Your feed will be fetched every time you submit this form". If that's the case, then this is already fixed :smile:

[2018-10-10 21:42] Zhao-Andy commented on #881
Hey @cfjedimaster, thanks for the heads up!

[2018-10-10 21:58] Zhao-Andy commented on #879
Hey @Donaatas, thanks for the heads up. My gut reaction is to stack either the reactions bar on top of the podcast player or vice versa. @benhalpern probably has some thoughts on the design though.

[2018-10-10 23:15] M0nica commented on #856
I just checked and noticed that my most recent followers in notifications have the "+Follow Back" button but lower down in my notifications similar notifications appear without the button like the screenshot above.

[2018-10-11 00:35] chenge commented on #868
I use mac air, Brave browser(Chrome, Safari).  And I use lantern to use google. I remember without lantern the result is the same.

![2018-10-11 8 31 32](https://user-images.githubusercontent.com/252333/46773495-4d12c480-cd30-11e8-8548-a0e43d9c998b.png)

[2018-10-11 01:34] lkopacz commented on #121
@benhalpern I can also help with this if you'd like :) Not sure if it's approved to work on for hacktoberfest

[2018-10-11 01:42] lkopacz commented on #733
I think I like the white background the best! We should probably test the hex values just to be sure that the contrast is accessible for colorblindness :)

If you want to give me the hex values, I can text them for you.

[2018-10-11 01:48] lkopacz commented on #127
@ashwinv11 I'd recommend an h1 if this is the header of the page (like where the menu is), mostly for accessibility reasons.

[2018-10-11 05:33] tterb commented on #733
@lkopacz That's a good idea, the hex values are taken directly from the dashboard/sidebar elements.

background: `#ffffff`
text-color: `#0a0a0a`
border: `#dbdbdb`
link-color: `#557de8` (unchanged from original, but might benefit from a bit more contrast)

[2018-10-11 05:44] tterb commented on #881
I'm interested in tackling this one if no one's working on a solution yet.

[2018-10-11 07:01] Donaatas commented on #879
well, if it will be stacked - reactions should be always on top. Because podcast is like 20-60minute thing, and if you continue to browse the site to other post, you want to see the reaction bar (at least in my case) and to go to the bottom of the page (if you need to configure something in the podcast) it takes few seconds and the reaction bar disappears in that space.

[2018-10-11 12:15] yokimpillay commented on #856
@M0nica I've also just noticed the same thing on my side, thanks for bringing it up! I'm going to edit the initial post here with this news.

[2018-10-11 13:30] dgolant commented on #881
I forgot to open a PR before I went to bed. I made a simple fix for this over at https://github.com/thepracticaldev/dev.to/pull/886, but happy to defer to @tterb since they called dibs

[2018-10-11 14:17] nathansebhastian commented on #869
@maestromac @benhalpern please take a look at the PR.

I have added default-tab parameter in creating the codepen embed. Also I think it's alright for `height` to just use the default for now..

[2018-10-11 15:03] pkfrank opened #887 "Add 1-click less-destructive bulk spam moderation"
As an admin, I sometimes want to moderate spam in bulk, and need functionality to moderate every article from a certain user.  This would be a 1-click option for dealing with spam that would be less destructive than the current `Banish` functionality..

**Describe the solution you'd like**
I'd like to navigate to the user moderation page and see an option to bulk deal with spam in a less-destructi

[2018-10-11 19:03] tterb commented on #881
@dgolant It's all good.

[2018-10-11 20:34] theoutlander opened #889 "Ability to filter posts in the dashboard"
**Is your feature request related to a problem? Please describe.**
I pull my articles via the RSS feed on Medium. One of the annoying things about Medium is how it treats comments as posts. A side effect of this is that the list of posts on the dashboard is cluttered with lots of comments.

**Describe the solution you'd like**
I would like the ability to filter posts by:

- Published
- Drafts

**D

[2018-10-11 21:02] pkfrank commented on #889
Hey @theoutlander, thanks for the issue.  I can definitely see why this would be useful, especially as you rack up more articles / drafts.  I imagine @benhalpern will jump in with some additional thoughts.

[2018-10-11 21:16] theoutlander commented on #354
@benhalpern is there an endpoint to retrieve user id's or would I need to create that as well?

Assuming I have to create it, there's the endpoint to serve aliases dynamically. I would end up caching the id's on the server-side since this will be a frequently used feature. This cache will also need to be updated as new users are added to the system (or removed). Ideally, we can do this as a micro-

[2018-10-11 22:01] maestromac commented on #321
Hey @stephaniekyyip , `RssReader.rb` is the main source of our RSS feature. You can run `RssReader.get_all_articles` in rails console, after giving your account in development a feed_url, to manually fill all the feed down. Hope that helps!

[2018-10-11 23:47] lkopacz commented on #733
Background and text color are excellent! 19.80:1
The link text needs a little bit of work. It's 3.83:1 and for small text we ideally want 4.5:1.

How about #436EE5 which against a #ffffff background is 4.56:1 and looks like this
<img width="421" alt="screen shot 2018-10-11 at 7 44 23 pm" src="https://user-images.githubusercontent.com/6540866/46839939-7c581e80-cd8e-11e8-8c25-e989ee1cf00c.png">

(Th

[2018-10-12 00:38] chrisvasqm commented on #304
I can help with the spanish translations 🤓

[2018-10-12 01:02] chrisvasqm opened #890 "Option to write the same article in different speaking languages"
**Describe the solution you'd like**
As a writer, I would like to be able to provide different versions of my article to support other languages (spanish, english, etc).

**Describe alternatives you've considered**
Perhaps something like having a dropdown menu or toggle for both writers and readers could satisfy this.

[2018-10-12 02:03] tterb commented on #733
I think that proposes a valid accessibility concern. Although, since the link color is universally used throughout dev.to, I think it might make more sense to make a separate issue to address the overall accessibility of the link color rather than independently modifying the link color for the notification.

@jessleenyc What do you think?

[2018-10-12 03:39] theoutlander opened #891 "Ability to style text in comments using hotkeys"
**Is your feature request related to a problem? Please describe.**
When writing comments, I'm not able to use hotkeys to do basic things like make bold text or create links similar to how it works here on the GitHub issue box.

**Describe the solution you'd like**
Ability to use hotkeys to make text bold, italic, create links, etc. We will need to think of all the scenarios that we should support.

[2018-10-12 15:05] Danack opened #894 "Emails with no opt out."
Please stop sending emails that can't be opted out of.

Doing that is both a dick move, and against the law in most civilized countries.

[2018-10-12 15:11] gate3 commented on #733
I don't think the link colour should be changed since its being used all though the site. What i do think though is that a color be defined for the notification boxes that contrasts well with the link colour. I haven't encountered an error yet, so I don't know what the color for the error notification looks like.

[2018-10-12 15:13] Zhao-Andy commented on #894
Hey @Danack, thanks for bringing this up. We definitely try to allow everyone to unsubscribe from all emails via [their settings](https://dev.to/settings/notifications), but if that's failing it might be a bug that we're not aware of. Which emails in particular are you getting?

I couldn't find an account with your GitHub username, but if you send us an email to yo@dev.to we're more than happy to

[2018-10-12 15:15] lkopacz commented on #733
@gate3 the problem with keeping the link color the same is that people who have colorblindness may not be able to see the link, particularly since there is no differentiation (like bold or underline or even a fancy enhancement) to distinguish the link from normal text. But I do agree this should be a separate issue. I can create that.

Good suggestion @tterb, so long as @jessleenyc agrees - I can

[2018-10-12 15:48] #299 closed

[2018-10-12 16:42] Danack commented on #894
@Zhao-Andy This is a picture of the email - https://twitter.com/MrDanack/status/1050763883022036992

There should be an opt-out in the email.

In particular - I don't want to confirm my account. I want to avoid creating it.

[2018-10-12 17:15] Zhao-Andy commented on #894
You're getting that email because you've signed in previously before and already created an account: https://dev.to/mrdanack

If you don't want an account, we can delete it for you. Let us know if it's okay to keep your existing comments under a ghost account, or if you'd like those deleted as well.

I don't think it's common for transactional "confirm your email address"-type emails to have opt-o

[2018-10-12 18:15] rhymes commented on #96
Some info for whomever takes this on.

I can't reproduce this with the new editor:

![2018-10-12 8 09 43 pm](https://user-images.githubusercontent.com/146201/46886354-f6ee7000-ce5a-11e8-8b17-f003d68092aa.gif)

It still affects the old editor but only in the description field. Not in the title. You might want to see what's different about these two fields.

[2018-10-12 18:20] Zhao-Andy commented on #96
@rhymes, ah that's because we wrap the title with quotes, but not the description: https://github.com/thepracticaldev/dev.to/blob/7c4396d5350dee8a8809e4a50650eb2c898e0109/app/labor/markdown_fixer.rb#L12-L33

I think we do it in the front end for the v1 editor, too. Can't think of the file off the top of my head.

[2018-10-12 18:21] Zhao-Andy commented on #692
Closing in favor of #96

[2018-10-12 18:21] #692 closed

[2018-10-12 18:36] joelnet opened #898 "Publishing on V2 Beta needs confirmation"
**Is your feature request related to a problem? Please describe.**
I accidentally published an article meant to be in Draft.

**Describe the solution you'd like**
A confirmation dialog prior to publishing would prevent accidental publishes.

**Describe alternatives you've considered**
Moving the publish button away from the preview button could also help.

**Additional context**
n/a

[2018-10-12 18:37] joelnet opened #899 "Cannot unpublish on V2 Beta"
**Is your feature request related to a problem? Please describe.**
Accidentally published an article meant to stay in draft on V2 Beta. I could not unpublish the article and had to resort to DELETE.

**Describe the solution you'd like**
An article that is published should have an unpublish button.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2018-10-12 18:42] Zhao-Andy commented on #899
Ah, good point. Thanks for raising this.

[2018-10-12 22:27] benhalpern commented on #894
Hmmmm if you got this email without specifically triggering it, it is a bug. And I believe that bug is due to a job queue issue we're looking into. Sorry about the frustration.

I'll close the issue because we're currently working on the fix. Thanks for bringing more light to this and I hope there are no hard feelings about the mistake.

[2018-10-12 22:28] #894 closed

[2018-10-13 07:52] chenge opened #900 "Could you provide copying text to clipboard for Google translate?"
Because now I cannot use Google to translate your url.

Is this a good idea? or possible?

[2018-10-13 09:04] ryanwhocodes opened #901 "Add Medium link and icon to settings and profile"
**Is your feature request related to a problem? Please describe.**

I would like to link my personal website to the Website Url in the settings that displays on profiles with the external link icon. However, I regularly write programming tutorials on Medium and would like that link to be on my profile too.

This presents a difficult decision as to whether to include my personal site as the Website

[2018-10-13 09:06] ryanwhocodes commented on #901
If the DEV team and community like this idea, I would be interested in writing the code and submitting a PR for this because I am interested in contributing to the dev.to codebase.

[2018-10-13 14:43] rpalo commented on #848
I think I've got this one figured out.  Let me double-check and I can create a pull request.

[2018-10-13 15:44] arunsathiya commented on #595
Noting that I saw a similar issue with LinkedIn URL even without a trailing slash.

<img width="1007" alt="screenshot 2018-10-13 at 21 10 05" src="https://user-images.githubusercontent.com/18581859/46907202-be1ecb80-cf2c-11e8-80b0-0588ecaf0db8.png">
<img width="751" alt="screenshot 2018-10-13 at 21 10 17" src="https://user-images.githubusercontent.com/18581859/46907203-be1ecb80-cf2c-11e8-9c1f-46fc

[2018-10-13 18:28] #848 closed

[2018-10-14 06:02] theoutlander commented on #354
@benhalpern @pkfrank @jessleenyc @Zhao-Andy @maestromac I am ready to jump on this, but I need feature clarification as detailed in my previous comment.

Also, issues that are assigned should be assigned. This is a big problem at the moment finding issues to work on.

[2018-10-14 11:55] mornir commented on #202
I was going to open an issue on that exact topic. On iOS 12 I can't use dev.to in PWA mode while being authenticated via Twitter. It's a pity since dev.to looks great as a PWA 😃
After reading this thread, I now understand that this is a webkit issue. Apple is really not eager to fully support PWAs 😕

[2018-10-14 13:58] pkfrank commented on #354
Hey Nick, thanks for the feedback and nudge.  I think that @benhalpern will clarify the endpoint question tomorrow, and we'll all continue to improve how we handle assignments to stay organized.  We appreciate your help and contributions, and will be in touch soon!

[2018-10-14 18:34] azjezz commented on #155
@Zhao-Andy was this fixed ?

[2018-10-14 22:22] stephaniekyyip opened #909 "Incomplete sentence and broken link in testing docs"
In `docs/testing.md`, there's an incomplete sentence that begins with "For Webpack and" on line 16. There's also a broken link on line 10 for "SimpleCov".

[2018-10-15 03:20] sebdeckers opened #910 "Company Size field validation"
**Describe the bug**

Company Size org meta field is not intuitive.

- Only accepts unsigned integer.

- Maximum length is 64 characters.

- Label should be "Team Size" or "Organization Size" since not every org is a company.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Organization -> Company Size
2. Enter non-numeric value, e.g. "Small but feisty"
3. Submit
4. See error

**Expect

[2018-10-15 06:53] rahuldhawani opened #911 "Developer APIs"
**Is your feature request related to a problem? Please describe.**
I have made an app whose concept is to share your day to day learning with other. You can check it out here: https://github.com/rahuldhawani/TILed. As of now it shares the learning only on Github Gist. I want the learning to be shared on the ***wider open** community platform*, and dev.to is perfect for that.

I searched dev.to for

[2018-10-15 08:41] aalises commented on #910
I can take this one if you let me. I don't quite know which would be the best way to validate this. Allowing a string seems a little bit over the top.

Maybe allowing an integer but also a range delimited with a hyphen **-**, such as **25-70** people. A UI hint would also be nice, but specifying it in the placeholder

`'Limit of 64 integer characters or hyphenated range (e.g 45 or 30-50)`

maybe i

[2018-10-15 12:24] ianandhum opened #921 "Invalid height for READ POST button"
**Describe the bug**
The height of the **READ POST** button is incorrect and the text is broken taking two lines for the text 'read post'.

This bug is observed in the **Related Posts** section

**To Reproduce**
1.Go to any post
2. Scroll down to "Additional Posts" section

**Screenshots**

![screenshot_20181015_174012](https://user-images.githubusercontent.com/38727945/46950405-3b1f8180-d0a2-11e8

[2018-10-15 12:32] anandhumanoj commented on #921
The same behaviour is observed in Chrome (on Linux ) too. So it is not only FF only problem

[2018-10-15 14:34] aalises commented on #921
@anandhumanoj Fixed that (hopefully) on #922 just adding a little bit more width to the button.

[2018-10-15 15:08] anandhumanoj commented on #921
:wave:

[2018-10-15 16:16] maestromac opened #923 "Improve Docker's speed"
**Is your feature request related to a problem? Please describe.**
Nope

**Describe the solution you'd like**
Currently, it takes about ~3 minutes to load up a homepage from a docker instance on macOS, that's a lot of time 😱. [Docker-sync](http://docker-sync.io) could to be the tool to resolve this issue.

**Describe alternatives you've considered**
Perhaps the culprit of our speed is our poor con

[2018-10-15 16:26] #909 closed, assigned to nobody

[2018-10-15 19:20] benhalpern commented on #923
Anyone with docker knowledge wanting to give this a go is welcome to give it a try.

[2018-10-15 19:21] #921 closed, assigned to nobody

[2018-10-15 21:04] benhalpern commented on #901
I think this makes sense. Medium is every bit as relevant as Stack Overflow and others as additional profiles. Approved for contributions. Follow existing patterns. 🙂

[2018-10-15 21:06] benhalpern commented on #911
Super in favor of this. The first step in developing an API is developing an API keys model, of which a user can have multiple of.

We can probably get to this but contributions are also welcome.

[2018-10-15 22:21] jessleenyc commented on #354
@benhalpern pinging you on this again.

@theoutlander -- we'd love to assign folks to issues but don't really know how to do it consistently! It seems like github only allows us to assign issues to core collaborators or the person who created the issue. See photo below. Is there a setting we're missing? @maestromac and I couldn't figure it out!

![](https://cl.ly/9ef5cc9e4e7e/download/Image%202018

[2018-10-15 22:30] benhalpern commented on #872
@bigblind For the purpose of the dropdown we'd probably ship it from the server with the page since there are only about a dozen.

So something like `<div data-liquidtags="[github,glitch,link,etc]"></div>`

And then we'd `JSON.parse` it to start playing with it.

[2018-10-15 22:34] benhalpern commented on #354
@theoutlander Users can be fetched via Algolia, and that is how we'd do that here. We already have an index set up for that. You can look at the way tags are fetched in the new editor for the general way way this would be done. Algolia is a low latency search built just for this sort of thing.

[code]

[2018-10-15 22:36] theoutlander commented on #354
Oh, I see the problem. You will need to add the user as a collaborator to the repository. I think you can add them as readonly members and also restrict checkins into branches to admins only. I think that’s the only way to do it that I know of.

You can read more here: https://help.github.com/articles/repository-permission-levels-for-an-organization/

Thanks.

Sent from my iPhone

On Oct 15, 2018,

[2018-10-15 22:37] theoutlander commented on #354
Thanks. That makes sense and it is the best option. I wasn’t sure if algolia had the user list. I’ll start digging into it this week.

Sent from my iPhone

On Oct 15, 2018, at 3:34 PM, Ben Halpern <notifications@github.com<mailto:notifications@github.com>> wrote:

@theoutlander<https://github.com/theoutlander> Users can be fetched via Algolia, and that is how we'd do that here. We already have an

[2018-10-16 03:43] chenge commented on #900
It's resolved by using devto-cli.

[2018-10-16 03:43] #900 closed

[2018-10-16 05:15] rhymes commented on #354
@theoutlander @jessleenyc is there a way to create a team of "read only users" named collaborators? I guess with something like this https://help.github.com/articles/requesting-to-add-a-child-team/ - I'm not very knowledgeable in organization maintenance on GitHub

[2018-10-16 11:19] ryanwhocodes commented on #901
Great you think it can be relevant for dev.to.

I will take a look at submitting a contribution with the change this week.

[2018-10-16 12:17] sebdeckers commented on #910
An integer limit of 64 digits is ridiculous.

Personally I prefer removing the integer restriction. Free text field to allow creativity/expression.

[2018-10-16 17:28] awwsmm opened #932 "Cover Images with Editor v2"
**Describe the bug**
Cover images don't seem to be working with the v2 editor.

**To Reproduce**
Steps to reproduce the behavior:

1. Click "edit post" on any post
2. Click "Images" at the top-right of the post, to the right of the tags
3. "Choose file" and select an image for the header (I used a 5616 × 3744 JPG)
4. Hit "preview" and the article is previewed on top of the image selection screen (

[2018-10-16 17:34] jessleenyc commented on #890
@benhalpern should have some thoughts on this!

[2018-10-16 17:46] #240 closed

[2018-10-16 17:49] jvanbruegge commented on #76
as far as i can tell this is still the case

[2018-10-16 17:53] benhalpern commented on #76
This could be done if we observed changes in email opens and then reflected it back to the relevant notification but it’s not really practical in our current setup.

Currently the "mark as read" concept is universal. Would it make sense to mark my entire notifications as read if one is opened?

Not sure this is practical in our current setup. But we are re-writing notifications and could keep this

[2018-10-16 18:29] SeanKilleen commented on #137
Commenting on this to keep it open because I think it still makes sense as a backlog item and I haven't seen it addressed elsewhere. /cc @jessleenyc as FYI because she'd commented previously.

[2018-10-16 18:47] c33s commented on #217
unstale

[2018-10-16 18:47] jessleenyc commented on #932
@awwsmm we need to add better error messaging to this. Looks like your file size exceeds the limit of: 4096x4096

[2018-10-16 18:51] jessleenyc opened #936 "Add error message for image upload size"
**Is your feature request related to a problem? Please describe.**
Inspired by [this](https://github.com/thepracticaldev/dev.to/issues/932) issue, we should add better error messages for image uploads if they exceed resolution and/or file size.

**Additional context**
We're using CarrierWave to handle image upload.

[2018-10-16 18:51] jessleenyc commented on #932
Closing this issue and opening this instead: https://github.com/thepracticaldev/dev.to/issues/936

[2018-10-16 18:51] #932 closed

[2018-10-16 19:02] anandhumanoj opened #937 "Spacing issue in close button of the podcast bottom bar"
**Describe the bug**
I know it is a silly and minute issue but that's the way opensource(Issue tracking) works right? So the problem is that the close button is broken into two lines

**Screenshots**
![screenshot_20181017_002308](https://user-images.githubusercontent.com/38727945/47040501-0562c180-d1a4-11e8-90e7-681b5859ff0d.png)

**Desktop :**

- OS: Linux
- Browser FF
- Version 62.03

[2018-10-16 19:13] ryanwhocodes commented on #901
@benhalpern

In terms of adding a svg file for the medium icon, where have you sourced your other svgs from? Are you able to give some guidance on adding one for the medium icon?

[2018-10-16 19:18] anandhumanoj commented on #937
I am not being insane but, I can spot another issue with the right panel overflowing the podcast playback

![image](https://user-images.githubusercontent.com/38727945/47041355-2e845180-d1a6-11e8-827c-906cabd5ee97.png)

[2018-10-16 19:41] ryanwhocodes commented on #901
I'm also trying to run the test but keep getting `FATAL:  role "username" does not exist` errors - is there a configuration or command that can address this?

[2018-10-16 20:09] maestromac commented on #901
Hey @ryanwhocodes can you tell me which test and can you show me more of the error message please?

[2018-10-16 20:13] maestromac commented on #937
Thanks for this issue @anandhumanoj ! Our podcast playback definitely needs to be revisited. This could potentially just be a CSS issue.

[2018-10-16 20:57] darol100 commented on #81
Hey Stale (bot),

As far I know, this feature has not been implemented yet.

[2018-10-16 20:58] darol100 commented on #81
Good bot!!

[2018-10-16 21:39] pkfrank opened #941 "Ability to monitor "warned" users"
As an admin, I would like a better way to keep track of users that have been officially "warned" for bad behavior.

**Describe the solution you'd like**
When a "warned" user publishes an article, it should not trigger a notification to followers.

When a "warned" user makes a comment, it should not trigger a notification to the post author.

When a "warned" user publishes an article or makes a com

[2018-10-17 05:10] Einenlum commented on #95
It seems the issue was magically fixed? I hope it is, forever :). I close it.

[2018-10-17 05:10] #95 closed

[2018-10-17 06:35] ryanwhocodes commented on #901
It was when I ran bundle exec rspec. It seems to raise similar errors for other commands that required access to the postgres database. I couldn't do things like create the database either for the same reason.

I can try to post the stack trace when I get home from work this evening.

[2018-10-17 06:41] ryanwhocodes commented on #901
There's a chance this could be fixed be reinstalling postgres, but would be better to understand what the cause of the error is and how to address the issue.

[2018-10-17 06:46] ryanwhocodes commented on #901
From browsing some stack overflow posts, I may need to create a user with the current username within postgres.
https://stackoverflow.com/questions/11919391/postgresql-error-fatal-role-username-does-not-exist

[2018-10-17 13:27] #910 closed, assigned to nobody

[2018-10-17 15:45] jessleenyc commented on #891
Cool, this makes sense and is approved

[2018-10-17 17:42] maestromac commented on #901
@ryanwhocodes it does sound like you are experiencing Postgres setup issue. You happen to be using linux?

[2018-10-17 17:57] theoutlander commented on #891
Great! I’m going to claim this issue.

Sent from my iPhone

On Oct 17, 2018, at 8:45 AM, Jess Lee <notifications@github.com<mailto:notifications@github.com>> wrote:

Cool, this makes sense and is approved

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/thepracticaldev/dev.to/issues/891#issuecomment-430681620>, or mute th

[2018-10-17 18:31] ryanwhocodes commented on #901
Once I reinstalled postres and removed the local vars for postgres, the database can be created.

Now there are issues around migrating the database.

[code]

[2018-10-17 18:32] Zhao-Andy commented on #901
Looks like you're missing some API keys. Check out this guide for the details on getting them:
https://docs.dev.to/get-api-keys-dev-env/

[2018-10-17 18:34] jessleenyc commented on #198
@ItsASine just realized we never responded to this! thanks for creating the issue. It's not perfect, but the reactions are now sticky-ed at the bottom of each article, so hopefully it creates access to a bookmark earlier in the reading process.

[2018-10-17 18:43] ryanwhocodes commented on #901
@Zhao-Andy I've generated them, but where does the codebase store env vars?

[2018-10-17 18:46] maestromac commented on #901
Hey @ryanwhocodes , check out step 7. and forward on our [MacOS installation doc](https://github.com/thepracticaldev/dev.to/blob/master/docs/installation/mac-os.md#installing-devto)

[2018-10-17 18:51] ryanwhocodes commented on #901
Now getting the error: Algolia::AlgoliaProtocolError: Cannot reach any host: getaddrinfo: nodename nor servname provided, or not known

[2018-10-17 18:55] Zhao-Andy commented on #901
@ryanwhocodes This errors occurs when you're running `db:setup` right? Seems like your env variable `ALGOLIASEARCH_APPLICATION_ID` is invalid, perhaps because of typo?

[2018-10-17 18:56] ryanwhocodes commented on #901
What is the ALGOLIASEARCH_APPLICATION_ID?

[2018-10-17 18:58] Zhao-Andy commented on #901
If you've created an Algolia application with API keys, you should see this:
![](https://user-images.githubusercontent.com/17884966/39547471-b24f2e36-4e25-11e8-9a0e-b988d6a8253f.png)

Live chat might be better to debug this, so I've followed you on DEV Connect: https://dev.to/connect. You can follow me back and we can start chatting.

[2018-10-17 19:02] ryanwhocodes commented on #901
After putting the right vars in the right place it has worked on a cloned master branch of Dev.to. Going to try it on the feature branch now too...

[2018-10-17 19:45] Zhao-Andy commented on #901
Not sure it has to be from Font Awesome directly, but the best way would be to add it as a new file to our assets via `app/assets/images`.

[2018-10-17 19:55] ryanwhocodes commented on #901
Well, I added the one from Font Awesome to the images folder and hope to get confirmation and feedback on this.

PR now opened here with screenshot https://github.com/thepracticaldev/dev.to/pull/943

[2018-10-18 11:14] ghost opened #946 "Disable gif autoplay"
**Is your feature request related to a problem? Please describe.**

For accessibility reasons and to improve the reader experience I would like to have the option to disable all animations embedded into dev.to pages. For example, I find animated gifs extremely distracting from the content of the page.

**Describe the solution you'd like**
I would like an option ~in a user setting~ to disable/enabl

[2018-10-18 11:48] bigblind opened #947 "Allow the <details> tag in posts and comments"
**Is your feature request related to a problem? Please describe.**
In posts that contain questions for the reader to answer, or challenges for them to solve, it's useful to be able to hide the answer.

**Describe the solution you'd like**
I'd like to be able to use the `<details>` and <summary> tag to hide certain elements in a post. For more information on these tags, see [MDN](https://developer.

[2018-10-18 14:31] bigblind commented on #947
Looking at the browser support chart on MDN, we'd need a polyfill for Edge.

[2018-10-18 15:22] Zhao-Andy commented on #595
Hm, not sure what happened there. We'll take a look though, thanks for the heads up @arunsathiya.

[2018-10-18 15:39] #901 closed

[2018-10-18 16:46] gionaufal commented on #923
Just as a feedback, this really seems to be a macOS specific problem. On ubuntu the homepage loads in 3~4 seconds for the first time.

[2018-10-18 16:53] maestromac commented on #923
Thanks for that @gionaufal ! I had a feeling this was the case.

[2018-10-18 19:05] ryanwhocodes commented on #946
You could add a boolean field to the user model, then use a javascript library to stop or play the gif depending on this.

[2018-10-18 21:02] maestromac commented on #178
https://github.com/thepracticaldev/dev.to/pull/713 would resolve this

[2018-10-18 21:09] maestromac commented on #189
Sorry we didn't get back to this. It was resolved awhile ago.

[2018-10-18 21:09] #189 closed

[2018-10-18 21:16] maestromac commented on #188
Not stale

[2018-10-18 21:50] maestromac commented on #539
Hey @Zerquix18 ! while the Submit button is already doing the job, it makes more sense to have a "Fetch Now" button that could also be located else where on the dashboard; achieving the same functionality without sending a form update request.

[2018-10-18 23:21] benhalpern opened #955 "Podcasts to add"
We have not really done a good job of keeping up the podcast section, but we want to do this better.

Admins add podcasts with the consent of the hosts (We're just an RSS player like any other podcast app so we probably don't need permission but I think it makes sense)

Anyway, if you run a dev podcast, feel free to post here and we'll add it.

[2018-10-19 03:51] markerikson opened #956 "Ability to opt out of moderation notices"
**Is your feature request related to a problem? Please describe.**

At some point in the last few months, I began receiving notifications that asked me to provide moderation feedback on existing comments.  I think the original message I got said that specific members had been picked or had this enabled, and each actual notification includes the phrase "As a trusted member, could you react to this

[2018-10-19 07:41] GaProgMan commented on #955
I'd like to put [The 6 Figure Developer](https://6figuredev.com/). In case it's required, here is [the RSS feed](http://6figuredev.com/feed/rss/) for the show.

I'd also like to put forward [The .NET Core Podcast](https://dotnetcore.show/). Again, the RSS feed, if required, is available [here](https://thedotnetcorepodcast.libsyn.com/rss).

[2018-10-19 07:53] rhymes opened #957 "Consider adding CodeTriage badge to repository"
**Is your feature request related to a problem? Please describe.**

I submitted this repo to CodeTriage.com: https://www.codetriage.com/thepracticaldev/dev.to

CodeTriage is a website helping developers monitor issues on their favorite repos developed by [scheenms](https://www.schneems.com/), a well known Ruby developer.

I find it useful and another avenue to get help for this project.

**Describ

[2018-10-19 08:45] theoutlander commented on #891
test

[2018-10-19 14:56] yamalight opened #960 "Markdown parser cannot handle inline code in list items"
**Describe the bug**

Trying to create a list items with inline code results either in broken rendering or in error thrown by parser.

**To Reproduce**

1. Create new post
2. Write a simple list, e.g.:
[code]
3. Preview - works as expected.
4. Add code snippet to list, e.g.:
[code]
        some code here
[code]
4. Preview - will result in code snippet expanding to second list item
5. Attempt to sp

[2018-10-19 15:47] j23schoen commented on #923
If it's a mac specific speed issue, [this](https://github.com/docker/compose/issues/3419#issuecomment-221793401)  might help you out. docker-compose was very slow for me on a mac until I modified my `/etc/hosts/` file as described in the comment I linked.

[2018-10-19 17:08] benhalpern opened #962 "Embedded comment date alignmemt"
When you post a comment within a comment, the date gets messed up.

![](https://cl.ly/e430cfa111e8/Image%202018-10-19%20at%201.09.08%20PM.png)

PS -> Outside of this scopre, there is a bigger picture issue with regards to liquid tag css scoping in general, if anyone wants to start diving into that in general. These get posted in different contexts and sometimes render improperly via CSS or other i

[2018-10-19 17:12] #460 closed

[2018-10-19 17:25] benhalpern opened #963 "Automatically add contributor badges after PRs are merged"
Currently we manually run a rake task occasionally to award the badges. And I think some people have slipped through the cracks.

Everyone will _eventually_ get their badges as we can re-run the whole list at any point, but it would be nice to have this happen automatically.

We should be able to query for contributors and award badges automatically without too much trouble given the existing GitH

[2018-10-19 18:13] maestromac commented on #923
@j23schoen Thanks for that suggestion. I've tried that and it didn't seem to do anything ☹️. Does that solution work for you with our app?

[2018-10-19 18:32] j23schoen commented on #923
@maestromac when I have a chance I'll clone it and give it a shot and let you know if it helps at all

[2018-10-19 19:39] #891 closed

[2018-10-19 19:53] maestromac commented on #957
We are a fan of CodeTriage and would be happy to add that badge 👍

[2018-10-19 20:10] maestromac commented on #960
Thanks for reporting this @yamalight . This happening because our MarkdownParser is escaping all code-block with a `{% raw %}` to avoid being processed by LiquidTag. The escape process definitely the culprit.

[2018-10-19 21:05] #957 closed

[2018-10-19 23:25] theoutlander opened #966 "Bug: Styling issue for Total Post Reactions under dashboard when window is too wide"
**Describe the bug**
When I go to the dashboard, I'm noticing CSS issues around the **Total Post Reactions** section.

I've tried this on Chrome & FF. I use a 43" 4K monitor, so sometimes my browser windows are wide.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to dev.to/dashboard
2. Increase the width of the window
3. You will see the CSS issue around Total Post Reactions

**Expected

[2018-10-19 23:39] robertcoopercode opened #967 "Canonical URL missing from editor V2"
**Describe the bug**
The editor V2 no longer has the ability to add a `canonical URL`. Not sure if this is intentional or not, but it seemed like a nice feature.

**To Reproduce**
Steps to reproduce the behavior:

1. Start a new post
2. Look for a place to enter a `canonical URL` and realize there isn't one available (or it is well hidden)

**Expected behavior**
Have a place to add a `canonical UR

[2018-10-19 23:43] powerman commented on #250
It's not fixed. Current Vivaldi 2.0.1309.42 still has this issue. Chromium/Firefox are okay. But if you don't care then I don't care too, feel free to close it.

[2018-10-20 01:18] Fire- opened #968 "Signal to the user that clicking the notification bell will transition the page / On-page viewing of notifications"
**Is your feature request related to a problem? Please describe.**
I was reading an article today, noticed that I had a badge on my notifications bell, and went to hover over it to get some information ( like when you hover over your profile image ).
Instead of showing me a list of notifications, nothing happened.
I clicked it, expecting it to open a flyout with the aforementioned list, but instea

[2018-10-20 03:58] MatheusRV commented on #304
How about implement https://github.com/projectfluent/fluent to i18n? I could help implement that.

[2018-10-20 04:15] meowwwls opened #969 "Better UX for screenreader users when tabbing to sign in links (a11y)"
**Is your feature request related to a problem? Please describe.**
In the call out to sign in using Twitter or Github, a screenreader user just hears "Twitter" or "Github" when tabbing through the document. This could be confusing, thinking the link will take the user to Twitter or Github.

Below is a GIF that shows what a screenreader user hears when tabbing to those links:

![A recording of usin

[2018-10-20 23:39] theoutlander commented on #872
This is cool. I had made a similar request on the comment box thread (https://github.com/thepracticaldev/dev.to/issues/354). I could tackle this one after the @ mention auto-suggest feature.

In addition, these features will need to be ported over to the editor. Ideally, we should be able to reuse what I'm building, but first we will need to turn it into a reusable library.

[2018-10-22 08:04] marpme opened #971 "Membership cancellation"
**Describe the bug**
After settling a membership (for i.e. 1$ per month), I paid the preconditioned value and wanted to try if the contract keeps staying alive after canceling it (at least for the time I paid for it).

What I have noticed: although the membership is priced for 1$/mo, the membership status is immediately removed from my account. I would have expected for it to stay until the end of

[2018-10-22 10:18] yamalight opened #972 "Video stuck in transcoding phase for more than 30h"
**Describe the bug**

A video I've uploaded has been stuck in transcoding phase for more than 30h

**To Reproduce**

This is the first time it's happened so I'm not sure it's reproducible 🤔

**Expected behavior**

Video should've been transcoded after an hour or so

**Desktop (please complete the following information):**

- OS: Win10
- Browser Chrome
- Version 70

**Additional context**

Link to

[2018-10-22 12:43] marpme commented on #972
Maybe you can add some more details about the video itself. Like the resolution, size, framerate, bitrate, format, encodings etc :) 👍

[2018-10-22 13:06] yamalight commented on #972
@marpme sure, here's the (partial) output of ffmpeg:

[code]

I've used the same way / settings for past ~18 episodes without any issues. This last one errored for some weird reason.

[2018-10-22 17:34] l579 opened #978 "Fix login in PWA"
When going with the progressive web app it’s not possible to register via the web app. You are always redirected to Safari (using iPhone with GitHub auth). Would be nice if you can fix that so I can browse dev.to posts with the icon on my homescreen instead of going to the browser all the time. It doesn’t have my follows when I’m not logged in (of course)

[2018-10-22 17:51] benhalpern commented on #967
Yes. TODO on this is to add space for all the additional configs. Likely another button next to images.

We'll get to this soon if anyone has any thoughts on the implementation.

[2018-10-22 18:39] nickytonline commented on #966
I can take a look at this if no one else is.

[2018-10-22 19:56] craigbrad commented on #462
Is this issue still available? I'd love to take a look.

[2018-10-22 22:02] pkfrank opened #982 "Some buttons on /settings/organization are bigger than expected"
**Describe the bug**
As a member of an organization with multiple admins, the `revoke admin status` button is much larger than expected.

**To Reproduce**
Ensure that you're an admin of an organization with multiple admins.  Navigate to https://dev.to/settings/organization

**Expected behavior**
The `revoke admin status` button is styled to be more consistent with other information on the page.  N

[2018-10-22 23:03] nickytonline commented on #966
I cleaned things up a bit by using flexbox (no PR yet), but the main issue is this: `font-size: calc(0.77em + 0.22vw);`. As the screen gets wider and wider, the font gets bigger and bigger. This is why @theoutlander was only seeing it on a large screen and the same happens for me when I maximize a browser window on my external monitor.

Is it necessary to make the font bigger as the screen gets wi

[2018-10-23 05:06] am-kantox opened #984 "Friend and _14_ others followed you"
**‘Followed’ notification shows an incomplete amount of followers**
When 15+ people followed me in a row, without any intermediate action happened in between, the number sticks to 14.

**To Reproduce**
Steps to reproduce the behavior:

1. Make 1024 persons follow you in a row.
2. Click on 🔔 in the top right corner of the screen
3. See discouraging and frustrating “Friend and **14** others followed

[2018-10-23 09:21] gautamkrishnar opened #985 "Clicking on reactions multiple times shows the wrong count"
**Describe the bug**
Clicking on reactions multiple times shows wrong count

**To Reproduce**
Steps to reproduce the behavior:

1. Open any article
2. Click multiple times on same reaction button.
3. Observe

**Expected behavior**
The react button should be disabled while the API Completes

**Screenshots**
![Preview](https://media.giphy.com/media/1BcB9PzAO9OFnStUPU/giphy.gif)

**Desktop (please co

[2018-10-23 14:18] nickytonline opened #987 "Consider using rem units"
**Is your feature request related to a problem? Please describe.**
This relates to #966

I noticed in most of the SASS files something that should be addressed. `font-size`s and other properties with measurement values are set as `em`, `px`, `%`.

**Describe the solution you'd like**

Consider using `rem` (and `em` when necessary). Browsers by default consider `1rem` to be `16px` on the root eleme

[2018-10-23 14:31] jessleenyc commented on #968
Hey @Fire-, thanks for the feedback. These are two design considerations we'll continue discussing. It's been intentional to re-direct to a separate notifications page (similar to how Twitter does it) and I'm sure @benhalpern will have more thoughts on that, plus the hover notification request.

[2018-10-23 14:35] jessleenyc commented on #972
Thanks for letting us know @yamalight!
@benhalpern can you take a look at this?

[2018-10-23 14:40] jessleenyc commented on #978
@l579 sorry you have to encounter this. It's a known issue related to apple not fully supporting PWAs. We have another thread going at https://github.com/thepracticaldev/dev.to/issues/202 if you want to follow along. Closing this since it's a duplicate, thanks for flagging though.

[2018-10-23 14:40] #978 closed

[2018-10-23 15:15] l579 commented on #978
https://medium.com/@jonnykalambay/progressive-web-apps-with-oauth-dont-repeat-my-mistake-16a4063ce113

[2018-10-23 15:21] nickytonline commented on #987
Going all circular dependency here, but I started a discussion that links to this issue on dev.to. If you happen to be arriving here directly from GitHub, you can also check out https://dev.to/nickytonline/which-units-of-measure-do-you-use-and-why-in-css-nf4 to add your two cents about a general CSS discussion about this topic.

[2018-10-23 15:57] Zhao-Andy commented on #443
Hey @maxcell, sorry just seeing this now! Go for it if you're still up for it. :)

To reproduce this is development, you'll have to give yourself the `trusted` role, and then visit `/mod` on any comment or article, like so:
[code]

[2018-10-23 16:33] jessleenyc commented on #987
@benhalpern and i were just chatting about this and he'll leave some additional thoughts but overall we think this is a good suggestion!

[2018-10-23 16:34] jessleenyc commented on #984
Cool, this makes sense. Thanks for recommending a fix. @am-kantox would you want to submit a PR for this? Regardless, this is approved if anyone wants to grab it!

[2018-10-23 16:35] jessleenyc commented on #969
@meowwwls thanks for creating this issue. This is approved if you'd like to submit a PR, or for anyone who might want to give this a shot!

[2018-10-23 16:40] jessleenyc commented on #202
From @l579:

https://medium.com/@jonnykalambay/progressive-web-apps-with-oauth-dont-repeat-my-mistake-16a4063ce113

[2018-10-23 16:41] #899 closed

[2018-10-23 16:41] #967 closed

[2018-10-23 16:49] jessleenyc commented on #985
@gautamkrishnar that seems like an appropriate fix as long as it's not visible to the user. We have some adjustments that will fix reaction count if it goes out of sync periodically but this would definitely be a better experience. Approving the issue and feel free to work on it!

[2018-10-23 17:16] benhalpern commented on #987
I think this makes sense. It seems like we could start using REMs and gradually work through the codebase without it having to be a largescale overhaul all at once.

I think cleaner, more deliberate CSS and styling could really help us now and in the long run. That's easy to say, but there was a time not-too-long ago that we weren't even really settled enough to bother with good habits here. But I

[2018-10-23 18:02] markerikson commented on #956
Thanks.  dev.to is great and y'all are doing some cool things, but I've already got enough notification spam to deal with on things that I'm actively involved in :)

[2018-10-23 18:16] #40 closed

[2018-10-23 18:16] #3 closed

[2018-10-23 18:16] #122 closed

[2018-10-23 18:16] #130 closed

[2018-10-23 18:16] #138 closed

[2018-10-23 18:16] #153 closed

[2018-10-23 18:16] #179 closed

[2018-10-23 18:16] #181 closed

[2018-10-23 18:16] #191 closed

[2018-10-23 18:16] #192 closed

[2018-10-23 18:16] #214 closed

[2018-10-24 03:38] am-kantox commented on #984
Unfortunately, I don’t have an environment to test it since I am trying hard to quit ruby at all. Also, I am unsure where this `followers` variable comes from, I doubt `reactable_type: "Article"` is the right place, I have just posted the snippet as an example.

[2018-10-24 13:17] rhymes opened #995 "Upgrade Ruby to 2.5.3 to defend against possible vulnerabilities"
**Describe the bug**

Altough not technically a bug I noticed Ruby 2.5.1 has two known (and fixed) vulnerabilities:

* [CVE-2018-16396: Tainted flags are not propagated in Array#pack and String#unpack with some directives](https://www.ruby-lang.org/en/news/2018/10/17/not-propagated-taint-flag-in-some-formats-of-pack-cve-2018-16396/)
* [CVE-2018-16395: OpenSSL::X509::Name equality check does not wo

[2018-10-24 14:01] bauripalash opened #997 "🔔 Web and Mobile PWA Notification? [Feature Request]"
When I write a blog post or a comment I have to check dev.to few minutes after after to check if i got any response or not.

I think it would be useful if we got notifications on Mobile or Desktop Web which can be found on visiting on the notifications page.

[2018-10-24 14:49] bauripalash opened #998 "Can One Person Create or Join Only One Organization on Dev.to?"
I had a dev.to blog for my company XED Technologies at [@xedtech](https://dev.to/xedtech), and I decided that my another project, **The Cyber** also needs a  organization page, but there's no way to create another or just delete the **@xedtech**

[2018-10-24 15:06] bauripalash opened #999 "Got Unexpected "Error 500" after the wrong url settings"
As expecting , There should be a 404 when we enter a wrong url.
On Dev.to everything works fine and as expected on wrong url we gets a amazing 404 page but if the url is behind the setting page it shows 500 Error.

Let me explain , if I go to <https://dev.to/settings/organization> i got expected page but if I accidentally go to <https://dev.to/settings/organizatio> , it would show error 500 , whic

[2018-10-24 15:15] spaceisstrange commented on #173
This is really needed now that Dev.to has become bigger. There are threads that are impossible to quickly navigate between parent comments because they have too many nested children comments.

Another suggestion would be to change the arrow to show the menu and instead use three dots or another indicator. I've already got used to it and I'm still clicking it sometimes thinking it'll collapse the c

[2018-10-24 18:42] Zhao-Andy commented on #982
Hmm this is a CSS issue; I think the relevant file would be `settings.scss` if anyone wants to take a look. It might also be the `.cta` class but not sure.

[2018-10-24 18:46] Zhao-Andy commented on #999
@bauripalash thanks for the heads up. This is because we're missing an `else` in our case statement here: https://github.com/thepracticaldev/dev.to/blob/9718bd64bfd8096fea120c405360cd71cfbe52bb/app/controllers/users_controller.rb#L137-L177

I think this would be a great candidate for TDDing if anyone wants to take it.

[2018-10-24 18:48] Zhao-Andy commented on #997
@bauripalash thanks for the feature request! We're currently working on refactoring how on-site notifications are handled. Once that's done, it should be easier to add in push notifications.

[2018-10-24 18:49] Zhao-Andy commented on #966
Thanks for the detailed info @nickytonline 👍

[2018-10-24 18:53] Zhao-Andy commented on #982
Oops, it's fixed 🤷‍♂️

[2018-10-24 18:53] #982 closed

[2018-10-24 19:15] Zhao-Andy commented on #998
Thanks for the feature request @bauripalash. We'll definitely want to support deleting your organization in the future, as well as being able to join multiple organizations. Since they're two separate issues, I'll write a new issue for deleting an organization.

[2018-10-24 19:29] mhobotpplnet opened #1001 "Getting Webpacker Error When Using Docker"
**Describe the bug**
Getting error by just following the docker installation

[code]

**To Reproduce**
Just follow Docker installation

[2018-10-24 19:48] asfo commented on #923
@gionaufal on windows loads fast too (5 seconds~ for the first time)

[2018-10-25 04:06] edgnets opened #1007 "Upgrade to ruby 2.53 broke docker installation"
## Description

Following the docker installation instruction when I run the command **docker-compose build** the build does not finish with success and the following error is raised:

[code]

## Possible cause

As shown on console I looked into the Gemfile and its specify the ruby version 2.5.3 due the changes made by #996. The pulled image from docker hub [starefossen/ruby-node:2-8-stretch](http

[2018-10-25 08:09] rhymes commented on #1007
I investigated a bit and:

* dev.to uses the image [ruby-node](https://hub.docker.com/r/starefossen/ruby-node/~/dockerfile/)  in it's Ruby 2 - Node 8 incarnation
* According to [ruby Docker](https://hub.docker.com/_/ruby/) `2-stretch` points to this [Dockerfile](https://github.com/docker-library/ruby/blob/0bdbbff7475155c90a5945f13daf7067a7bd9f11/2.5/stretch/Dockerfile), which sets:

[code]

I susp

[2018-10-25 11:39] edgnets commented on #1007
Thanks for your feedback @rhymes.  _(Sorry for close and reopen status, I made a mistake clicking on the wrong button :blush:)_

Before to open this issue I cleaned my images and containers with the command [docker system prune -a](http://docs.w3cub.com/docker~17/engine/reference/commandline/system_prune/) I will do it again just to double check. I´m running docker on Windows 10, but I think this

[2018-10-25 12:37] mhobotpplnet commented on #1007
I get same error, tried with just changing the gem file to 2.5.1 I get the build but I think the webpack fails because of it.

[2018-10-25 14:50] edgnets commented on #1001
Maybe it is related with #1007.

[2018-10-25 15:04] rhymes commented on #1007
@edgnets @mhobotpplnet my bad, I didn't update my local copy with the upstream version so I was effectively using Ruby 2.5.1

I re-created the images with Ruby 2.5.3 and yes, I have the same issue.

What do you suggest? Looking at the [Dockerfile](https://github.com/thepracticaldev/dev.to/blob/master/Dockerfile) I wonder if there's a way to tell it to use Ruby 2.5.3

I wonder if this could be solv

[2018-10-25 15:43] maestromac commented on #1007
I moved off starefossen's to vanilla ruby package and it seems to be working. I'm going to open up a PR very soon for you folks to test it out.

[2018-10-25 15:45] rhymes commented on #1007
@maestromac ahahha I'm currently doing a similar thing. Switching from starefossen to vanilla ruby + starefossen's commands.

I'll let you do it :-)

[2018-10-25 15:48] mhobotpplnet commented on #1007
Can you point me to which one you are pointing your Dockerfile ? ty

[2018-10-25 15:50] rhymes commented on #1007
@maestromac @edgnets @mhobotpplnet

This is what I came up with:

https://gist.github.com/rhymes/05a65868147cd45a6a3f0a0ad5c6d00c

and it seems to be working

I won't submit the PR because @maestromac is working on it as well

[2018-10-25 15:55] mhobotpplnet commented on #1007
Am testing @rhymes docker file

[2018-10-25 16:06] mhobotpplnet commented on #1007
Yeah I am ok now with 2.5.3 however am still getting this error (btw am on Mac)
[code]

[2018-10-25 16:16] rhymes commented on #1007
@mhobotpplnet you could try to rollback your master copy to the commit before the Ruby 2.5.3 PR - this https://github.com/thepracticaldev/dev.to/commit/801043ab0d08f6a9c5f1a005e777d842d06d14cb - and see if you still have that error

[2018-10-25 16:19] maestromac commented on #1007
@mhobotpplnet I think your issue is related to something else. Let's move this conversation back to https://github.com/thepracticaldev/dev.to/issues/1001

[2018-10-25 18:13] #1007 closed

[2018-10-25 18:14] maestromac commented on #1007
Thank you for reporting this @edgnets ! Please let us know if this issue still persists.

[2018-10-25 18:17] maestromac commented on #1001
@mhobotpplnet can you try it again with the latest from master? If it doesn't work, please let me see all your outputs.

[2018-10-25 18:55] rhymes commented on #1007
Thank you @maestromac!

[2018-10-25 19:06] fredplante commented on #999
Hi !
I would like to take it, it would be great for my first contribution to Dev.to

[2018-10-25 19:07] Zhao-Andy commented on #999
Hey @fredplante, go for it!

[2018-10-25 21:05] maestromac commented on #481
This was resolved.

[2018-10-25 21:05] #481 closed

[2018-10-25 21:45] jessleenyc opened #1010 "Unread message highlighting not showing up"
**Describe the bug**
There are a few times where I'll have notifications in connect but I won't know which messages are unread because the yellow background does not appear to indicate that channel has a new message.

**Expected behavior**
Unread messages in channels should have a yellow background for that channel until the channel is clicked.

[2018-10-26 13:45] mhobotpplnet commented on #1001
@maestromac same error , I see you fixed it.
[code]
I wonder if it has something to do with the mac it self
Example:
[code]

[2018-10-26 13:54] mhobotpplnet commented on #1001
Here is little bit more info
[code]

[2018-10-26 16:45] maestromac commented on #238
Sorry this missed me. I think is a nice to have feature so the issue should be reopened.

[2018-10-26 16:54] maestromac commented on #182
Reopening since this is definitely a useful feature.

[2018-10-26 17:06] #999 closed

[2018-10-26 17:19] maestromac commented on #152
Sorry this missed us. This is a good feature request we might want to implement soon.

[2018-10-26 19:54] jessleenyc opened #1014 "Detect if user is running latest iOS build."
**Is your feature request related to a problem? Please describe.**
We just learned that users aren't notified when a new build is released on testflight.

**Describe the solution you'd like**
To get folks on the newest version, we can check if they're on the latest build and if not, let them know a new one is available.

[2018-10-26 20:39] fredplante commented on #963
Hey Ben,
I could take a stab on this one if you don't mind

[2018-10-26 23:08] necmettin commented on #179
I'm getting a completely different error now. The form submits to `/comments` and the response is `404`. I don't understand why nobody else gets these errors. Is it a location problem (I'm in Turkey), or is it that I'm somehow banned or something?

[2018-10-26 23:14] ItsASine opened #1015 "Reading List tags should reflect what is available to display"
**Is your feature request related to a problem? Please describe.**

Somewhat related to #708. Since all saved posts are not shown on the Reading List (just 45, which I assume is for performance), it doesn't make sense to show the list of tags for the entire reading list. The pain point here is that clicking `#career (60)` might only show 10 things since only 10 of the most recent 45 are tagged wit

[2018-10-27 00:38] edgnets commented on #1007
Thank you @maestromac the issue is fixed, I executed with success all steps described in "Docker installation". The server is up and running, I just had an error when access the `localhost:3000`, I will add more information on #1001 since I think it is related with that issue.

[2018-10-27 01:02] edgnets commented on #1001
Hi guys, @maestromac and @mhobotpplnet.

Just to let you know that after the fix #1007 I was able to execute with success all docker installation steps.  Now the server is up and running and I only have one issue when I access the url `http://localhost:3000/`.

I´m not sure whether is the same issue you are facing or whether I missed some step.

When I access the URL `http://localhost:3000/`.

The

[2018-10-27 02:07] kiranjd commented on #1015
Yes, I think this is useful

[2018-10-27 15:08] benhalpern commented on #963
@fredplante Yeah totally.

You'll probably want to check out the `BadgeRewarder` class. And also note: You _can't_ get the same badge twice so no need to check for this if it's inconvenient.

[2018-10-27 20:07] snuderl commented on #923
The fix for this is very likely to mount the source volume using `delegated` option. This can just be added to docker-compose.yml

More info here https://docs.docker.com/docker-for-mac/osxfs-caching/

[2018-10-28 03:48] mhobotpplnet commented on #1001
Yup I got that error as well once when I tried diff version.

[2018-10-28 07:21] jwedel opened #1018 "Improve UI/UX on smaller mobile devices (iPhone SE) in messages tab"
**Describe the bug**
- The text box to enter the message is way to small
- The whole messages page only occupies 2/3rds of the screen (wasting space)
- It's had to select a word in that tiny box, especially of it wraps over more than one line. It starts to scroll or jump weirdly which makes editing very hard (This might be caused by the small text box and navigating with a finger on the screen)

*

[2018-10-28 20:54] crawlingcity commented on #923
The way we have our docker setup allows to run several projects at the same time in the same image and it's fast, as in <2 sec TTFB (same network, but external server serving the databases).

Maybe I'm missing something, but what are you trying to load? A dev.to clone?

Also, to be able to help further, can you share the configuration?

[2018-10-29 03:32] marataziat opened #1019 "Dev.to production IP de-anonymization"
**Describe the bug**
Using RSS feed and [webhook.site](https://webhook.site/) you can de-anonymize dev.to IP! Here an example: https://webhook.site/#/e3ad339a-6a09-4404-9c53-9f2558f661f7/fb261a09-aeed-47ff-8842-4e3b175954e7/1

Host | 54.162.154.53

https://who.is/whois-ip/ip-address/54.162.154.53
https://check-host.net/ip-info?host=dev.to

**Additional context**
Use something like a proxy

[2018-10-29 03:35] marataziat opened #1020 "Add web push notifications :3"
**Is your feature request related to a problem? Please describe.**
Web push notifications for new posts

[2018-10-29 15:53] weekly-digest[bot] opened #1033 "Weekly Digest (22 October, 2018 - 29 October, 2018)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 48 issues were created.
Of these, 29 issues have been closed and 19 issues are still open.
## OPEN ISSUES
:green_heart: #1018 [Improve UI/UX on smaller mobile devices (iPhone SE) in messages tab](https://github.com/thepracticaldev/dev.to/issues/1018), by [jwedel](https

[2018-10-29 17:57] #1033 closed

[2018-10-29 22:10] angelleye commented on #749
I'm not a Ruby guy, but I can certainly help any questions or concerns about what PayPal API(s) to work with if needed.

[2018-10-30 02:12] flexdinesh opened #1038 "Bookmark a comment"
**Problem**
Dev has grown into an open-minded discussion platform for developers from all backgrounds. Often, discussions in posts grow organically. Some comments are worthy of being a post on its own. Some comments highlight important points and references for the reader. There were times I wanted to bookmark a comment but I ended up bookmarking the post because we don't have the feature yet. Now

[2018-10-30 07:50] fredplante commented on #243
I'm gonna take it if nobody works on it

[2018-10-30 11:38] Link2Twenty commented on #735
It may be worth checking the contrast and if it fails the aria spec setting the text to solid white or black, which would be calculated at the time.

https://www.w3.org/TR/WCAG20/#visual-audio-contrast
https://www.w3.org/TR/2008/REC-WCAG20-20081211/#relativeluminancedef

I've thrown together a quick proof of concept, it's written in JS but I imagine you'd rather the backend handled it.

http://jsf

[2018-10-30 13:11] Link2Twenty commented on #735
I've not ever written ruby before so feel free to write something yourself but something like this is what I was thinking

[code]

Then in `user_decorator.rb` you could say something like

[code]

[2018-10-30 14:42] Link2Twenty commented on #962
There is a really gross hack around this, but I'm not 100% sure it's a good idea.

The problem is `.single-comment-node .details .comment-date` overides to earlier rule setting the `comment-date` styles.

So we can be more specific by saying this `comment-date` has to be a sibling of a social link.

This would get the desired result but it doesn't feel concrete enough.
`.single-comment-node .detai

[2018-10-30 15:42] Link2Twenty commented on #745
I guess the easiest solution would be to move all selected repositories to the top of the list.

Then you can do something like this
[code]

and remove this section
https://github.com/thepracticaldev/dev.to/blob/65110550d8c2231f73ff99ae305a46b7b0bcb4f9/app/views/users/_integrations.html.erb#L6-L13

[2018-10-30 15:56] Link2Twenty commented on #66
I've had a play with adblocker for chrome if you have "Antisocial filter list" enabled it will remove anything that links to a social network.

Though that checkbox is off by default and the twitter icons didn't vanish until I turned it on.

[2018-10-30 17:46] maestromac commented on #963
Resolved by https://github.com/thepracticaldev/dev.to/pull/1016

[2018-10-30 17:46] #963 closed

[2018-10-30 17:47] maestromac commented on #355
Resolved by https://github.com/thepracticaldev/dev.to/pull/1016

[2018-10-30 17:47] #355 closed

[2018-10-30 18:22] thejessleigh commented on #423
I like the idea of being able to turn off new comments on a post I wrote after a given period of time. Commenting and forming community is a big part of the site, so I don't know if it makes sense to have posts where comments are disabled from the get-go. I'm thinking of things like Sandi Metz's AMA. Right now, she just has [CLOSED] in the title. Being able to disable new comments is great for for

[2018-10-30 19:30] Zhao-Andy commented on #645
Hey @KrofDrakula, this is fixed 👍 via #438. Heads up that there's still an issue with using backticks though (see #694 for more info).

[2018-10-30 19:30] #645 closed

[2018-10-30 19:47] KrofDrakula commented on #645
Thanks! I've already made extensive use of it in the latest article, except that runkit seems to be having some embedding issue due to hash integrity, but that's purely an issue on their end.

Also, is there a way to expose more configuration for runkit? Currently it defaults to node v8, is there a way to pass arguments to the embedded widget?

[2018-10-30 19:59] Zhao-Andy commented on #645
Based on [their embed page](https://runkit.com/docs/embed#creation-options) we can add some more configuration for the embed. We currently support adding a preamble, but that's about it.

Not sure if the Notebook API section on that same page is what you were looking for in terms of node configuration.

[2018-10-30 20:00] KrofDrakula commented on #645
OK, I'll have a look at that and file another issue if I find anything that might be interesting to other users too. 👍

[2018-10-30 20:33] jessleenyc opened #1044 "Add meta info to support deep linking"
**Is your feature request related to a problem? Please describe.**
For iOS users, we should have the DEV app open up when they click into an article from the browser.

**Describe the solution you'd like**
More info on which meta tags to add: https://github.com/thepracticaldev/DEV-ios/issues/40

[2018-10-30 20:47] maestromac commented on #1038
Thanks for this issue @flexdinesh . Sounds like a good feature. If implemented, would you prefer this pinned/bookmarked comment to be displayed or hiddened on your profile page?

[2018-10-30 20:51] jessleenyc opened #1045 "Add helpful links to sign in page for iOS"
**Is your feature request related to a problem? Please describe.**
Still a bit in discussion but full context here: https://github.com/thepracticaldev/DEV-ios/issues/73

**Describe the solution you'd like**
Looks like we'll want to have some things appear/hidden depending on whether or not the user is on iOS. Add terms & condition, privacy policy, code of conduct? to iOS sign in page.

[2018-10-30 21:03] jessleenyc commented on #1015
It certainly seems like once #708 is taken care of, we'll be all good here. For anyone who wants to work on this, it would probably make sense to work on #708 first.

[2018-10-30 21:06] jessleenyc commented on #1018
Hmm yeah this makes sense, especially for folks on the mobile app side as well. @benhalpern what do you think?

[2018-10-30 21:07] jessleenyc commented on #1001
Talked about this at our weekly meeting. I think @benhalpern is going to take a look.

[2018-10-30 21:09] jessleenyc commented on #1020
Thanks for the issue @marataziat! Looks like it's a duplicate of https://github.com/thepracticaldev/dev.to/issues/997 so I'm going to close this one. Definitely encourage you to upvote the other one if this is a feature you're interested in :)

[2018-10-30 21:09] #1020 closed

[2018-10-30 21:16] jessleenyc commented on #971
@marpme sorry for any miscommunication here. It's expected behavior for membership access to be revoked immediately upon cancellation -- this might be something we revisit later. I'm going to close this issue for now. We're happy to provide you a refund if you email yo@dev.to -- thanks!

[2018-10-30 21:16] #971 closed

[2018-10-30 21:30] Zhao-Andy commented on #155
@azjezz, don't believe this is fixed yet. I have a PR going for that page and will revisit it keeping this functionality in mind.

[2018-10-30 21:34] jessleenyc commented on #243
@fredplante go for it!

[2018-10-30 21:35] jessleenyc commented on #182
@benhalpern I don't remember where we left off with this. Do you recall?

[2018-10-30 21:38] GaProgMan commented on #955
Title: The .NET Core Podcast
Feed URL: https://thedotnetcorepodcast.libsyn.com/rss
iTunes URL/ Overcast URL: https://itunes.apple.com/gb/podcast/the-net-core-podcast/id1433496275
Android URL: https://subscribeonandroid.com/thedotnetcorepodcast.libsyn.com/rss
Website url: https://dotnetcore.show
Twitter username: @dotnetcoreblog
Pattern image: https://dotnetcore.show/content/images/2018/07/Header-I

[2018-10-30 21:45] jessleenyc commented on #462
@craigbrad go for it!

[2018-10-30 21:46] jessleenyc commented on #250
Keeping this open and approving the issue for anyone who wants to tackle it. Thanks for reporting in the first place @powerman!

[2018-10-30 21:49] jessleenyc commented on #946
Bumping this up for you @benhalpern. I think we should approve this.

[2018-10-30 21:49] azjezz commented on #155
good, i checked again and the behavior is still the same.

i can't really think of way to fix this RN and i have little experience with ruby to open a PR ~

![screenshot from 2018-10-30 22-47-00](https://user-images.githubusercontent.com/29315886/47752846-e54bfb80-dc95-11e8-8535-a2ac0107a328.png)

[2018-10-30 21:53] jessleenyc commented on #304
@benhalpern bumping this for you. What do you think of fluent?

[2018-10-30 21:54] jessleenyc commented on #217
Yeah, this makes sense. If a post gets a lot of engagement, how should we display these names? Thought on this @benhalpern?

[2018-10-30 21:58] jessleenyc commented on #354
@theoutlander sorry this has sat for a minute. I still need some time to play around with it. I think one of our concerns w/ having people 'assigned' is that it'll deter others from even looking into the issue. There are definitely times when people get busy and even though they've 'claimed' an issue, they're no longer working on it. I think the comments do a pretty good job of expressing if someo

[2018-10-30 22:04] Zhao-Andy commented on #155
Ah, I actually think this is fixed, via this method: https://github.com/thepracticaldev/dev.to/blob/master/app/models/github_repo.rb#L24-L39

A few things to note:
1. We save GitHub repos into our database for performance.
2. We have a scheduled task that periodically updates the repos.
3. It looks for the GitHub repo based on the name.
4. If it doesn't find it, it'll destroy it from our database.

[2018-10-30 22:04] #155 closed

[2018-10-30 22:07] jwedel commented on #1018
BTW: I'm currently testing the dev.to iphone app. It takes up a little more vertical space than the web page but still, there is a lot of wasted space:
- The send button being as large as the edit box
- the side bar to switch between other devs (this should actually move to the top or to a separate screen)
- The padding/margin around the messages box

This works well on large screens but could be

[2018-10-31 01:15] dimensi0n commented on #134
What's the status of this feature ?

[2018-10-31 01:16] dimensi0n commented on #1038
For me pinned and bookmarked are different but it we're good if we can pin a comment for our articles. Should I make another issue ?

[2018-10-31 01:48] flexdinesh commented on #1038
@maestromac I'd like everything in my dev profile to be public. I can't come up with any reason why I'd want to hide the bookmarked comments in my profile. I'd prefer it to be displayed.

[2018-10-31 09:34] marpme commented on #971
@jessleenyc I would rather wanted to reactive the current subscription as I just wanted to test out some features to search for some bugs or bad behaviors. I will drop you a message on the given email. Thank you :)

[2018-10-31 15:16] #937 closed

[2018-10-31 16:18] maestromac commented on #1038
@dimensi0n yep, that sounds like a good feature request. Go ahead and create a separate issue.

[2018-10-31 18:09] fredplante commented on #243
Ok, I'm gonna wait that #986 is merged because it's related. Once the repositories are fetched asynchronously I will take this over.

[2018-10-31 19:51] #822 closed

[2018-10-31 19:51] #830 closed

[2018-10-31 19:51] jessleenyc commented on #788
This is done

[2018-10-31 19:51] #788 closed

[2018-10-31 20:23] maestromac commented on #134
Hey @dimensi0n , this issue is up for grab!

[2018-11-01 01:49] ovation22 commented on #955
Title: The 6 Figure Developer Podcast
Feed URL: https://6figuredev.com/feed/podcast/
iTunes URL/ Overcast URL: https://itunes.apple.com/us/podcast/the-6-figure-developer-podcast/id1217530572
Android URL: https://subscribeonandroid.com/6figuredev.com/feed/podcast/
Website url: https://6figuredev.com/
Twitter username: @6FigureDev
Pattern image: https://6figuredev.com/wp-content/uploads/2018/10/Twit

[2018-11-01 17:36] ashwinv11 commented on #127
This is ready for review [here](https://github.com/thepracticaldev/dev.to/pull/1003)!

[2018-11-01 19:56] pkfrank commented on #1019
Hey @marataziat thanks for this issue.  Can you expand a bit on the ramifications of the IP being de-anonymized, and some potential solutions we should look at if we wanted to implement a proxy or otherwise hide the IP?

[2018-11-01 20:02] marataziat commented on #1019
You are using fastly as anti-DDOS service. So if an attacker wants to DDOS your site, fastly will filter all botnet traffic. But if an attacker knows your production IP your server can be DDOS easily!

[2018-11-01 20:40] maestromac commented on #923
@crawlingcity We're sampling trying to load `localhost:3000`. The configuration is in the repository [here](https://github.com/thepracticaldev/dev.to/blob/master/Dockerfile) and [here](https://github.com/thepracticaldev/dev.to/blob/master/docker-compose.yml)

[2018-11-01 21:15] Zhao-Andy commented on #745
I like the idea of having the selected repos at the top. We recently merged a fix related to the integrations page and rewrote how it works, but we can sort the selected repos pretty easily.

[2018-11-01 21:17] maestromac commented on #735
Thanks for sharing those codes @Link2Twenty !

[2018-11-02 10:36] franciscoj opened #1051 "Impossible to login if you have an invalid RSS feed URL"
**Describe the bug**

When the RSS feed url is wrong or not valid you can't sign in to your account and you see an error messages instead that reads: `Feed url is not a valid rss feed`

__EDIT__: I was still able to browse from my account on any device in which I had already logged in (In this case in my cell phone).

**To Reproduce**

I can't because once you fix the url, you can't set an invalid

[2018-11-02 12:51] juniordevlearning commented on #984
i would like to test the code, is there a better idea then creating 16 github accounts and following myselfe on my local setup?

[2018-11-02 13:12] am-kantox commented on #984
@juniordevlearning I believe, in local you might simply produce 16 stubbed users and manually link them to be followers. Also, there should be an integration test checking that the page contains the text _“Donald Trump and 15 others”_.

[2018-11-02 13:46] Zhao-Andy commented on #984
@juniordevlearning our seed data will populate users for you, via `bin/rails db:seed`. If you've set up your environment based on our instructions though, you should have seed data created already. The command that did this in our setup guide was `bin/rails db:setup`.

Assuming you've set up your environment as per our guide and have all your [API keys needed for development](https://docs.dev.to/g

[2018-11-02 14:05] juniordevlearning commented on #984
Hey, thx for both replys. I'll try it out and report back.

[2018-11-02 14:33] juniordevlearning commented on #984
I just tryed it, but i only have 10 users following me. Maybe there are only 11 users in db including my account? I also run the bin/rails db:seed task again. I am looking for the task now and see if i can change it so it creates 25 users.

[2018-11-02 14:36] Zhao-Andy commented on #984
Ah yeah, I forgot we recently changed it to 10 users. You can run this loop again:
https://github.com/thepracticaldev/dev.to/blob/master/db/seeds.rb#L24-L51

[2018-11-02 18:32] maestromac commented on #1051
Thank you for reporting this issue @franciscoj ! I believe your suspicion is correct.

cc @Zhao-Andy

[2018-11-02 18:34] Zhao-Andy commented on #1051
Hey @franciscoj, I've removed your feed URL for the time being. Thanks for bringing this up.

[2018-11-02 18:38] Zhao-Andy commented on #1051
Also meant to mention that @franciscoj you should be able to login now. Let us know if otherwise though.

[2018-11-02 22:16] franciscoj commented on #1051
Hi! Thanks! I was able to login on my desktop after I changed the URL myself from my cell phone, which was already logged in. So, no worries.

Let me know if I can help in any way!

[2018-11-03 00:53] dertuxmalwieder opened #1058 "Deny "http(s)://..." headlines automatically."
As most the ridiculous spambots flooding DEV lately usually only post one pointless "hi everyone" thread (nothing too bad) and then exactly two "postings" which have an URI as a headline, it might be worth to just deny new articles with a headline that matches an URI regex.

[2018-11-03 01:00] benhalpern commented on #1058
Good call. I think sometimes we get too caught up in working towards smart solutions instead of stamping out what we’re seeing now.

We should create an automatic denial condition which catches certain posts (like this one) possibly auto-suspending the authors.

[2018-11-03 01:08] dertuxmalwieder commented on #1058
... and retro-deleting their first pointless "welcome" thing! ;-)

**But** you should make it as modular as possible. You know, if some day URL-only articles have a reason (maybe for OEmbed?).

[2018-11-03 03:43] itzsaga commented on #822
Looks like it's working. Thanks!

[2018-11-03 17:52] edgnets commented on #1001
Hi @jessleenyc  and @benhalpern

I did some findings and I hope it can help in any way.  In the console output above we can see the error

[code]

When I connect in the running container `docker exec -it devto_web_1 /bin/bash` and try to run the command `./bin/webpack` I had the same output.

[code]

Looks some problem with the line ending from the webpack script.

In addition to that the `node_mo

[2018-11-03 17:59] mhobotpplnet commented on #1001
Nice findings.
I just want this docker to work so I can slap it on k8s :)

[2018-11-05 01:27] aspittel opened #1060 "View Stats not working"
**Describe the bug**
My view data is constantly loading. Up until a week and a half ago or so it was working fine! I am getting a console error:

<img width="1164" alt="screen shot 2018-11-04 at 8 20 46 pm" src="https://user-images.githubusercontent.com/12969662/47972969-4ea18500-e06f-11e8-84fe-8b469911425c.png">

I disabled my adblocker because I thought it might be the issue but it isn't.

**To

[2018-11-05 09:10] juniordevlearning commented on #984
Hey, yes i just changed the 10 to 25. But now i am stuck, i figured that the followers variable in the template is based on the @activities variable from the notifications_controller. The @activites variable gets a feed from StreamRails.
`   feed = StreamRails.feed_manager.get_notification_feed(@user.id)
    feed.get(limit: 45)["results"]`
But in the feed are only the last 15 users. So can we chan

[2018-11-05 09:22] rhymes opened #1061 "Reading list is counting one article when there are none"
**Describe the bug**

My reading list says "1" article but I have none in the list.

Could it be a caching issue?

I've also tried to remove local storage and cookies, then login again but it still says 1

**Expected behavior**

I expect the counter to be zero (unless there's a post that's not showing up for some reason)

**Screenshots**

![screenshot_2018-11-05 reading list - dev to - dev communi

[2018-11-05 09:36] am-kantox commented on #984
No, it will drastically impact the performance. In the issue itself I described the way to go that should be easily adopted to this case. After the `feed` is there, you probably should check for an amount of items as shown in my snippet and if it is unclear whether there are more (>= 14 I’d guess) you should `extend` the respective part of that feed with the method returning the exact count.

[2018-11-05 11:27] brylie opened #1072 "Free Cultural Work content license, such as Creative Commons"
It would be nice if I could specify a [Creative Commons](https://creativecommons.org/) license for posts I make on dev.to, so that I can dedicate my writings as [Free Cultural Works](https://creativecommons.org/share-your-work/public-domain/freeworks/).

**Describe the solution you'd like**
When creating a post on dev.to, there would be an option to apply a Creative Commons license.

**Describe al

[2018-11-05 11:57] jessleenyc opened #1073 "Can't use tag templates on v2 editor"
**Describe the bug**
Only tags are coming through on templates on v2 of the editor.

**To Reproduce**
Steps to reproduce the behavior:

On v2 editor, visit dev.to/new/icymi

![](https://cl.ly/597a8b4146ae/download/Image%202018-11-05%20at%206.56.48%20AM.png)

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

[2018-11-05 15:48] maestromac commented on #668
Thank you for this issue and sorry we let this one slip through @samuraiseoul . This is probably a caching related issue. I checked it just now it seems to be resolved. Let us know if otherwise!

[2018-11-05 15:48] #668 closed

[2018-11-05 18:56] Zhao-Andy commented on #984
@juniordevlearning we're actually going to rewrite our notification system, since we want to move off of using Stream (our current notification handler). If you're close to a PR though we're happy to merge it.

[2018-11-06 10:05] juniordevlearning commented on #984
No not really... I am not sure how to change the size of the feed from Stream.

[2018-11-06 10:52] alireza267 commented on #202
this solved my problem, hope to be useful
https://github.com/GoogleChromeLabs/pwacompat/issues/15

[2018-11-06 15:30] jessleenyc commented on #1045
@benhalpern i can close this right?

[2018-11-06 15:33] jessleenyc commented on #1060
hmm @benhalpern is this what you've seen on your own stats as well?

[2018-11-06 16:56] maestromac opened #1078 "Parallelize Travis build"
**Is your feature request related to a problem? Please describe.**
It would be a substantial improvement to our developer experience if each individual Travis build is faster.

**Describe the solution you'd like**
Utilize [Parallel test gem](https://github.com/grosser/parallel_tests) (already part of our gem file) on Travis. The coverage result should also [be combined](https://docs.codeclimate.co

[2018-11-06 20:33] jessleenyc commented on #1072
This is a cool idea. I think we can get around to this soonish but if someone wants to grab this issue, it's approved!

[2018-11-07 01:57] edgnets commented on #1001
Hi all, I did what I wrote in my comment above and I had success to start the container with no errors.  I did a step forward but now I had a high cpu usage and the application is not working.

The line ending error `'ribu\r'` that I had was fixed when I checked the code out on linux and not on windows as before.  I also changed the `#{NODE_MODULES_PATH}/.bin` path to `#{APP_PATH}/bin` on `webpack

[2018-11-07 14:04] champagnepappi commented on #936
@jessleenyc  has this been implemented

[2018-11-07 16:48] davidjeddy opened #1079 "See text to 'Follow @user_username to see more...' when I am the author"
**Describe the bug**
Follow text displayed when I am the author of an article displayed in the "Class DEV Post from ..." card.

**To Reproduce**
Steps to reproduce the behavior:

1. Write an post
2. Have it appear in the 'Class DEV Post from ...' card at the bottom of an article
3. See text to 'Follow @user_username to see more...'

**Expected behavior**
Can not follow myself, text should not be d

[2018-11-07 16:51] Zhao-Andy opened #1080 "Add GitLab field to Profile"
**Is your feature request related to a problem? Please describe.**
Much like we have other links like Facebook, StackOverflow, LinkedIn, etc. we should add GitLab.

**Describe the solution you'd like**
We'll need to add:
- an additional column to user table/model.
- a Rails validation similar to the other validations, as seen in `app/model/user.rb`
- the field to the settings page `views/users/_pr

[2018-11-07 18:14] jessleenyc commented on #936
@champagnepappi don't believe so, just added the approved label if you'd like to work on it.

[2018-11-07 18:15] maestromac opened #1081 "Comment's cancel button always route back to article"
**Describe the bug**
We have a lovely cancel button that would allow the comment creator to change their mind on editing their comment. Ideally, it should bring the user back to where they were previously but it currently reroutes the user to the article of which the comment belongs to.

**To Reproduce**
Steps to reproduce the behavior:

0. Log in to https://dev.to
1. Navigate to your profile page

[2018-11-07 18:16] maestromac commented on #188
Resolved by https://github.com/thepracticaldev/dev.to/pull/331

[2018-11-07 18:16] #188 closed

[2018-11-07 18:33] maestromac commented on #869
Resolved with #880

[2018-11-07 18:33] #869 closed

[2018-11-07 22:09] Zhao-Andy commented on #1079
Hey @davidjeddy, thanks for the bug report. Think this is a pretty straightforward fix.

This line here is where the logic happens: https://github.com/thepracticaldev/dev.to/blob/76f6a8f9df8401a38abb7c6b1ba2c34caaec8235/app/views/additional_content_boxes/_article_followable_area.html.erb#L34

I _think_ this is the right logic for a one line fix:
[code]

There might be a cleaner way of solving this

[2018-11-08 09:27] dertuxmalwieder opened #1084 "Add a way to downvote articles"
As solving #1058 is taking a long time and DEV is now spammed with both HTTP and Abu Dhabi spam trash, it *might* be a decent idea to adopt the downvoting system from Hacker News where everyone can give an article a "minus" and it will be faded out once it has enough "minuses".

I know that there is a "report abuse" function, but currently I have to fight reCAPTCHA to do so (which can be annoying

[2018-11-08 13:43] champagnepappi commented on #936
@jessleenyc  leme work on it

[2018-11-08 18:34] maestromac commented on #244
unstable

[2018-11-09 11:29] Link2Twenty commented on #1084
Alternatively, get some post moderators from the community that can remove spam as they see it. Or have some sort of rep system (like StackOverflow) allow users with enough rep to hide post for manual checking.

[2018-11-09 14:13] sidemt commented on #1080
Can I try this?

[2018-11-09 14:14] Zhao-Andy commented on #1080
Go for it! Let us know if you have questions.

[2018-11-09 18:22] rhymes commented on #1061
@jessleenyc

I think I found more clues.

My comment activity section is populated with the following comments from an older post:

![screenshot_2018-11-09 reading list - dev to](https://user-images.githubusercontent.com/146201/48280717-b6cbde80-e454-11e8-83e8-2e45835b7592.png)

Yet, when I click on the article to which the comments belong, I get a 404: https://dev.to/entrptaher/how-does-big-teams

[2018-11-10 04:55] Some-Dood commented on #1084
I agree with the fight against spam, but I don't think a downvote feature is the best solution. It just doesn't sound like "dev.to" to me. Adding a downvote button to the site is like adding a **full** implementation of classes in JavaScript (from property visibility to classical inheritance). It just doesn't sound "right". It sounds like a very foreign feature. It _can_ work, though. As a counter

[2018-11-11 01:37] rodrigopdl commented on #1081
Hi @maestromac !

I've been trying to reproduce this issue locally, so as to work on a fix, but wasn't able to mimic the described behavior.

I'm not seeing comments when I visit `/dashboard`, so I can't complete step 2.

![image](https://user-images.githubusercontent.com/3510791/48308002-72197380-e538-11e8-82da-cc9dcf6158f4.png)

I tried adding comments to different posts in the site, but still d

[2018-11-11 01:42] zspencer opened #1090 "Posts with long lines within `backticks` sometimes truncate on the right-hand side of the page."
Long lines within paragraphs or list items with ``` ` ``` backticks around their content don't wrap.

**To Reproduce**
Given a post with a single, very long line enclosed in ``` ` ```'s (say 200 characters)
When I view the outputted post
Then I do not see all the text, as the line did not break.
And I can not scroll to the right to see the rest of the text

**Expected behavior**
I would expect the

[2018-11-11 02:51] sidemt commented on #1080
@Zhao-Andy

Is it OK to download the SVG from Font Awesome? I referred to issue #901 and believe it's OK.

[2018-11-11 06:46] HugoLiconV commented on #1038
It would be a great feature.
I would like to work on it, but I'm not sure if it is hard to implement

[2018-11-11 07:42] sidemt commented on #1080
@Zhao-Andy
I wrote the code, but I can't find out how to sign in on the local environment. So cannot check the behavior.

When I click the SIGN IN link, I get 404 Page not found for GitHub, 401 Authorization Required for Twitter.

I have set `GITHUB_KEY` `GITHUB_SECRET` `TWITTER_KEY` `TWITTER_SECRET` (And also `TWITTER_ACCESS_TOKEN` `TWITTER_ACCESS_TOKEN_SECRET`) according to this document https:/

[2018-11-11 12:26] thiodordelis opened #1091 "If the article title contains the # character, the tweet in the sharing dialog is cropped."
If an article title contains the '#' character, then when sharing to Twitter, the tweet content is cropped.

Steps to reproduce the behaviour:
1. View an article with the # character in the title.

- https://dev.to/essentialdeveloper/1-reason-why-you-dont-improve-as-a-software-developer-1mhk
- https://dev.to/kouna_to/update-2-just-a-prototype-game-133

2. Click the Twitter share link
3. Tweet is c

[2018-11-11 16:02] rhymes commented on #1091
The weird thing is that it happens also if the "hashtag" is anywhere else in the string:

![untitled](https://user-images.githubusercontent.com/146201/48315203-7b0b5300-e5d3-11e8-8acb-9652eb14cb4f.gif)

[2018-11-11 16:32] shindakun commented on #1091
Looks like the title should be URL encoded in the share link.

[2018-11-11 19:05] rhymes commented on #1091
@shindakun exactly, if you URL encode it, it works

[2018-11-11 21:30] def14nt commented on #911
@benhalpern Was just thinking of a dev.to api, would be nice. Maybe something along the lines of [this](https://scotch.io/tutorials/build-a-restful-json-api-with-rails-5-part-one)? Don't have a clue about Ruby.

[2018-11-11 21:33] def14nt commented on #1084
@Some-Dood Anti-spam bot? That sounds like a lot of API hell.

I'm looking at this, and it makes no sense.

How is it that difficult? (and classes exist in JavaScript)

[2018-11-12 09:03] Some-Dood commented on #1084
@def14nt I was making an analogy on how the two don't traditionally go together. JavaScript started out as a language that was never supposed to have classes, but now it does. What I mean by comparing them is that adding a downvote button does not reflect the original purpose of DEV.to, at least for me; similar to how adding classes to JavaScript does not reflect its original purpose.

[2018-11-12 13:00] tone-dev opened #1102 "Search results returning unavailable users/articles"
**Describe the bug**

404 error returned when clicking on search result. I've only been able to replicate this for the affected article and the user that created the article - I believe their account either doesn't exist any more or has had an alias change.

"The page you were looking for does not exist (404)" appears in the title. "You have lost your way." appears in the body, linking back to the

[2018-11-12 13:39] GMartigny opened #1103 "Add informations in dashboard"
**Is your feature request related to a problem? Please describe.**
I was trying to gain insight on what kind of article are more successful. In my Dashboard, I can see every articles I've made, but no infos at all. I have to open each which is more painful the more articles you have.

**Describe the solution you'd like**
There's space left on the right-side of the action bar. It could show "reacti

[2018-11-12 15:39] maestromac commented on #985
Resolved by #989

[2018-11-12 15:39] #985 closed

[2018-11-12 16:16] maestromac commented on #327
unstale

[2018-11-12 16:49] maestromac commented on #208
Resolved with #681 and #989

[2018-11-12 16:49] #208 closed

[2018-11-12 16:55] maestromac commented on #1091
Thank you for reporting this issue @thiodordelis !

[2018-11-12 16:58] #1091 closed

[2018-11-12 16:58] Zhao-Andy commented on #1080
@sidemt Yeah, using the Font Awesome SVG is okay.

You should be able to login to the local environment if you've setup your API keys properly. Make sure your Twitter app's callback URL is ` http://localhost:3000/users/auth/twitter/callback` and your GitHub app's homepage URL is `http://localhost:3000`.

Also, you probably have this already, but make sure your keys should be set in `config/applica

[2018-11-12 21:52] trueneu opened #1109 "When writing a post, text view doesn't follow cursor"
**Describe the bug**
When writing a new post, the text view doesn't follow the cursor.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/new
2. In the post text box, enter text large enough it doesn't fit to a single view without a scroll
3. Try to scroll back up with your arrow keys
4. See error and blinking header

**Expected behavior**
View port does follow the cursor.

[2018-11-12 22:04] trueneu opened #1110 "Profile menu (rightmost item in the header) is unclickable [UPDATE: Needs non-Chrome support]"
**Describe the bug**
Profile menu (rightmost item in the header) is unclickable. "Dashboard", "Write a Post", "Reading List" etc menu items appear only on hover.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any https://dev.to/ page, including https://dev.to/
2. Click the profile picture without hovering your mouse pointer over it. (With Vimium, for example)
3. Nothing happens

**Ex

[2018-11-13 07:54] Puritanic opened #1112 "Add a way to report a particuliar user"
**Is your feature request related to a problem? Please describe.**
As I've heard you have a lot of spam accounts joining DEV.to lately, I guess that sometimes some accounts slips through your filters, and it would be helpful, in my opinion, if we have a way to report some users. Here's an example:
<img width="1250" alt="screen shot 2018-11-13 at 8 42 19 am" src="https://user-images.githubuserconte

[2018-11-13 16:53] pkfrank commented on #1090
@zspencer thanks for this detailed report!

[2018-11-13 16:55] pkfrank commented on #1102
@tone-dev thanks for the detailed report.  I can [verify](https://dev.to/search?q=python%20password) this is a problem.

[2018-11-13 17:11] pkfrank opened #1114 "Cache busting on deleted articles/comments not always working reliably"
**Describe the bug**
As an admin, I will sometimes use the `Banish` functionality to remove spam articles/comments.  However, the articles / comments in question are sometimes still accessible via the direct link.

**To Reproduce**
- `Banish` a spam account
- Their username page will be removed and will 404
- Their article will still be accessible via direct URL

**Expected behavior**
After an adm

[2018-11-13 17:15] pkfrank commented on #1112
Hey @Puritanic, thanks for the issue.  This relates to #398 and Ben's [comment in that issue](https://github.com/thepracticaldev/dev.to/issues/398#issuecomment-414873708).  But this is a great reminder about the need for this functionality.

In the meantime, please feel free to report this behavior directly at the [Abuse Report form](https://dev.to/report-abuse).

[2018-11-13 17:30] davidjeddy commented on #1079
One day I'll learn Ruby...

[2018-11-13 18:35] jessleenyc commented on #1110
Thanks for flagging! This issue is approved if anyone wants to work on it.

[2018-11-13 18:49] jessleenyc commented on #1109
Thanks for flagging! This is pretty annoying and should be fixed. Approved for anyone who might want to work on it.

[2018-11-13 18:50] jessleenyc commented on #1103
Thanks for the request.

@benhalpern i think this makes a lot of sense, in addition to incorporating analytics. what do you think?

[2018-11-13 18:58] jessleenyc commented on #1079
This is approved if anyone wants to work on it! There are some notes from @Zhao-Andy above on a potential fix.

[2018-11-13 20:29] Zhao-Andy commented on #1080
Hm, not sure what else would be preventing it. Another general "oops" would be to restart your server, or if you're using Spring to run `spring stop`.

Let's continue this via email (I've sent an email to your dev.to account's email) since this is more of a development issue and not related to the GitLab issue.

[2018-11-14 08:46] NansD opened #1116 "Retina-friendly favicon"
**Issue description**
On a Retina display, the dev icon looks blurry.

**To Reproduce**
Steps to reproduce the behavior:

1. Take a computer with a Retina display
2. Open [dev.to](https://dev.to/)
3. Check the favicon, it looks like this :
![image](https://user-images.githubusercontent.com/18481465/48470446-be430d00-e7f1-11e8-9be4-3c7b1d42ecc9.png)

**Expected behavior**
It would be nice to see a

[2018-11-14 16:30] aspittel commented on #1060
They work again with the new update, thanks!!

[2018-11-14 16:30] #1060 closed

[2018-11-14 16:38] benhalpern commented on #1103
Hey @GMartigny great timing. We just released a big part of this.

https://dev.to/devteam/changelog-post-analytics-available-for-all-5eb0

But you definitely bring up some good points about other stuff we can cram in. Will add some of what you brought up now.

[2018-11-14 17:50] Puritanic commented on #1112
Whoops, missed that one 😕Great minds think alike 😄
Joke aside didn't know about this report form until now, gonna use it to report bot/spam accounts, but still, not really intuitive UI. I'll go through the code and see if I can maybe help a bit with this a bit.

[2018-11-14 18:31] benhalpern commented on #1103
Closed! #1118

[2018-11-14 18:31] #1103 closed

[2018-11-14 20:41] apastuhov commented on #1116
Possible solution is to pass favicon through https://realfavicongenerator.net/

[2018-11-14 20:47] Zhao-Andy commented on #1090
Hey @zspencer, I can't seem to reproduce this on Firefox or Safari. The text wraps properly for me. Here's an example article: https://dev.to/andy/afsfsfsafd-55do-temp-slug-8717693?preview=e9df2a0a3ca546bbe0852db1ada290745fac6fdd99b2d4ff12f41d35732cf879da186956a8d5b61d617ee0a06fc4056c89372579b2eefff568afca5f

Do you have some sample Markdown we could use to reproduce this?

[2018-11-14 21:02] zspencer commented on #1090
Interesttttiinnnnggggg. It doesn't happen on posts! Here is the comment where I noticed the bug initially - https://dev.to/zspencer/comment/6m9n

[2018-11-14 21:05] zspencer commented on #1090
I tried responding to your post to see if I can make it happen there as well, but I can't comment on a non-published post it seems.

[2018-11-14 21:06] zspencer commented on #1090
And here's a touch more useful information, it appears to not occur when *previewing* a comment, only when the comment is published.

Published comment:
<img width="894" alt="screen shot 2018-11-14 at 1 05 34 pm" src="https://user-images.githubusercontent.com/50284/48512313-0a9c4600-e80e-11e8-940c-1dade37f358d.png">

What Preview shows
<img width="801" alt="screen shot 2018-11-14 at 1 05 23 pm" sr

[2018-11-14 21:14] Zhao-Andy commented on #1090
Oh very interesting. Thanks for all the details! I'm going to add it to the recap :) https://dev.to/devteam/devto-repo-recap-of-the-past-week-13en

[2018-11-15 05:43] sidemt commented on #1080
Thank you for your kind help @Zhao-Andy ! As I mentioned in the email I could successfully sign in by restarting the server. PR submitted.

[2018-11-15 10:03] Link2Twenty opened #1122 "Quick follow option"
When you hover over a users profile picture, be it in the comments or when looking at articles, it would be nice to see a small amount of information about the user and have an option to follow them.

![twitter-mini-profile](https://user-images.githubusercontent.com/3534427/48545316-8903f100-e8bd-11e8-9916-3c476fe7ee83.png)

[2018-11-15 14:20] equiman opened #1123 "image upload on reply comments"
**Describe the bug**
1. Link on Image upload icon is not clickable on all image, right side is not covered. Affects desktop and mobile
2. When upload image, can't select url on input-box, so can't copy URL to use it on comment.
3. On mobile devices when image upload input-box is visible cancel button is using same space as cancel button. Then if you try select image, there is no way to not click c

[2018-11-15 15:05] bauripalash opened #1124 "Post Analytics Information is partially hiding Edit and Delete Button"
## Problem
I was excited about new Post Analytics feature but while tried to experience this from mobile I noticed that  Post Analytics Information is partially hiding Edit and Delete Buttons.

## Screenshot
<img src="https://user-images.githubusercontent.com/16154204/48561216-7f0ddc80-e915-11e8-9a93-6488e2348a45.png" width="60%" height="auto">

## Possible Fix
Add More Padding/Margin according ne

[2018-11-15 20:57] Tadaboody opened #1127 "Python syntax highlighting doesn't take care of f-strings"
**Describe the bug**
Python 3.6 introduced [f-formatted strings](https://docs.python.org/3/whatsnew/3.6.html#whatsnew36-pep498)
I'd like the syntax highlighting to take in account the fact that expressions can appear in the middle of f-formatted string literals
**To Reproduce**
Steps to reproduce the behavior:

1. Create a post
2. Fill it with the following
[code]
(Last triple back-tick is escaped

[2018-11-15 21:09] #1080 closed

[2018-11-15 21:28] gabek opened #1128 "RSS Feed: Populate category with post's tags"
It seems like there's a request open for RSS feeds of individual tags, #201, but this is probably a faster way to get somewhat of the same outcome.

I use a RSS reader that allows me to filter based on tags, so it'd be nice to filter out certain topics I don't care about.  It's kind of the opposite of #201 where instead of a feed per tag, it would allow people to stay subscribed to the global feed

[2018-11-16 01:06] pkfrank commented on #1116
Thanks @NansD  for the issue, and @apastuhov for the possible solution!

[2018-11-16 13:44] equiman commented on #1124
It's already solved!

[2018-11-16 13:46] bauripalash commented on #1124
Thank You! Closing!

[2018-11-16 13:46] #1124 closed

[2018-11-16 14:29] RDumais commented on #1123
I have encountered the same problem yesterday on Windows 7 Enterprise and on Chrome Version 70.0.3538.102 (Official Build) (64-bit).

[2018-11-16 16:47] maestromac commented on #1123
Thank you for reporting this issue @equiman & @RDumais .

[2018-11-16 17:04] lightalloy commented on #708
I'm working on this issue.

[2018-11-16 17:09] maestromac commented on #49
not stale

[2018-11-16 17:20] maestromac commented on #1122
I really like this idea @Link2Twenty ! Thanks for the issue.

[2018-11-16 20:07] benhalpern commented on #121
Hey everybody, https://github.com/thepracticaldev/dev.to/pull/1132 resolves this (most of the way)

Closing this issue. Sorry it took so long!

[2018-11-16 20:07] #121 closed

[2018-11-16 22:29] RyKilleen commented on #121
@benhalpern This is great, thanks for taking the time and caring!

[2018-11-17 11:33] rhymes commented on #1061
@maestromac yeah, my counter says 7 but I have only 6 articles saved

[2018-11-18 02:39] nickytonline commented on #797
Still settling in to the new job, but gonna start looking into this as not much activity happening here at the moment.

[2018-11-18 02:51] flexdinesh opened #1138 "Conscise list view in home feed"
Dev has grown tremendously and along with it, the number of blogs posts and topics a day as well. Back in the day, my feed usually used to have more posts that I'd prefer to open than today. This is mostly because we have so many types of posts these days (discussions, etc) and great many number of contributors. Back in the day, I will have scrolled though my entire feed and opened all the posts I

[2018-11-18 03:23] nickytonline commented on #797
So `buildArticleHTML.js.erb` can be converted into stateless functional components. I've started working on that.

Most of what's in `_algolia_search.html.erb` can go into the utilty functions of search, `./app/javascript/src/utils/search.js`.

The search results have their own container element that we'll need to rerender to. This ties in to the `SearchResults` pack that @benhalpern mentions in t

[2018-11-18 20:36] ascii-dev commented on #797
Hi, @nickytonline I've also not been able to look into this because of work. But anyway I might be needed on it?

[2018-11-19 00:03] #269 closed

[2018-11-19 13:38] #206 closed

[2018-11-19 14:09] #708 closed

[2018-11-19 14:31] benhalpern commented on #1127
Hmmmmmm, this is the issue in Rouge

https://github.com/jneen/rouge/issues/937

Probably need to track/help with that. 🙂

[2018-11-19 14:39] benhalpern commented on #1110
Sorry I didn't even think to test this cross-browser. I sort of assumed this stuff was standard. I've got some other stuff to get to.

If anyone wants to give this a try, check out `initializeTouchDevice` for where the code currently lies.

[2018-11-19 15:04] rugk commented on #317
No bot, keep it open. :smiley:

[2018-11-19 15:55] Link2Twenty opened #1150 "Translate comments"
Users should be able to read and write comments, and posts(?), in their own language. This helps dev.to reach more people.

Similar to twitter comments could be checked, if they don't match the display language an option to translate should be offered.

I think we've reached a point now where translation software is so good there is no need to expect users to learn English.

**Twitter:**
![image](

[2018-11-19 16:53] maestromac commented on #478
This might be the one-size-fit-all solution we need to account for different dev machines.

@lightalloy will be implementing this.

[2018-11-19 18:40] #415 closed

[2018-11-19 18:55] RyKilleen opened #1153 "A11y: provide content skip links for keyboard/screen reader users"
**Is your feature request related to a problem? Please describe.**
When users navigate a page with keyboard tabbing, screen readers, or other assistive technology, a useful pattern is to provide a "Skip to Main Content' skip link before navigation or long lists (Tags list, etc).

**Describe the solution you'd like**
A visible skip link that pops up when a user has tabbed into an element like the n

[2018-11-19 19:02] RyKilleen opened #1154 "A11y: Exit focused navigation with escape for keyboard users"
**Is your feature request related to a problem? Please describe.**
When a user's context is focused in navigation, modal, or any other pop up menu, it's useful to refocus outside of that context on an Escape key press.

**Additional context**
Add any other context or screenshots about the feature request here.

[2018-11-19 20:58] johnbwoodruff opened #1155 "StackBlitz Liquid Tag Embed improperly sizing on mobile"
**Describe the bug**

On a mobile device the StackBlitz liquid tag slightly overflows. (see screenshot)

**To Reproduce**

1. Go to https://dev.to/johnwoodruff91/changelog-new-stackblitz-liquid-tag-187e
2. Scroll down to the embedded StackBlitz iframe
4. See how embedded content overflows to the right.

**Expected behavior**

Should properly size to 100% of the width (minus outer padding)

**Scree

[2018-11-19 21:00] jbw91 commented on #1155
@benhalpern I'm noticing that when sizing your screen down using Chrome or Safari's mobile device emulator, it sizes properly. I've only been able to reproduce this ON a device. See screenshot:

<img width="759" alt="screen shot 2018-11-19 at 1 59 28 pm" src="https://user-images.githubusercontent.com/5883616/48734677-5b8fae00-ec03-11e8-8a4e-5f840fd14137.png">

I'm not sure what's going on here, wh

[2018-11-19 21:07] jbw91 commented on #1155
Just tested it on a Samsung Android device using Chrome, and it sizes correctly as well. Looks like it's only happening on mobile Safari webviews, whether that be through Safari itself, Chrome, or the Dev iOS app, all of which of course use Safari's webview.

![screenshot_20181119-160258](https://user-images.githubusercontent.com/5883616/48734943-30f22500-ec04-11e8-8c28-2f90c0f724fe.jpg)

Any thou

[2018-11-19 21:13] trueneu commented on #1110
There's great to see some effort in that direction made already, but it still doesn't work with Vimium.
https://www.youtube.com/watch?v=5FxvMzs3drQ

[2018-11-19 22:06] Zhao-Andy commented on #234
Thanks for the issue @amy!

[2018-11-19 23:43] AgrimPrasad opened #1157 "500 error on https://dev.to/notifications"
Suddenly got notified that I have 27 notifications, on clicking the bell animation, was led to https://dev.to/notifications but it shows a 500 error.

Android phone, Opera browser, logged in user

[2018-11-20 03:18] tristan957 commented on #1157
Can confirm the exact same issue although it is gone now

[2018-11-20 03:21] tristan957 opened #1160 "The navbar width becomes messed up upon clicking on my profile picture"
**Describe the bug**
The overlay seems to be cutting into the navbar.

![image](https://user-images.githubusercontent.com/11936772/48749555-1d18e400-ec41-11e8-9e49-6abdbae59832.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Click profile picture

**Expected behavior**
Navbar to be above overlay.

**Desktop (please complete the following information):**

- OS: Solus (Linux)
- Browser F

[2018-11-20 08:41] Link2Twenty commented on #1160
`.menubg` starts too high, it has a top of 40px whereas the `.top-bar` has a height of 48px. A change in this block ought to fix it.

https://github.com/thepracticaldev/dev.to/blob/f744f43493ef4f90f5421665d0d393db03da052d/app/assets/stylesheets/top-bar.scss#L204-L213

[2018-11-20 10:45] Link2Twenty commented on #1160
Though personally, rather than having to worry about sizes I would put the model effect over the `page-content`

perhaps something like this

[code]
This would mean the whole of `.top-bar` is above the modal backdrop, also anything could use that modal style in the future.

**Side note:**
I'm using `opacity` and `pointer-events` rather than `display:none` to avoid a repaint.

[2018-11-20 11:41] Link2Twenty commented on #1154
Here are the aria-practices pages for modal, menu and menu buttons.
https://www.w3.org/TR/wai-aria-practices/#dialog_modal
https://www.w3.org/TR/wai-aria-practices/#menu
https://www.w3.org/TR/wai-aria-practices/#menubutton

[2018-11-20 11:47] Link2Twenty commented on #1153
This is part of the ARIA spec too
**2.4.1 Bypass Blocks:** A mechanism is available to bypass blocks of content that are repeated on multiple Web pages. (Level A)

**Useful links:**
https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-skip.html
https://www.w3.org/WAI/WCAG21/quickref/?versions=2.0&showtechniques=241#qr-navigation-mechanisms-skip

[2018-11-20 12:32] Link2Twenty commented on #1123
I think this problem is caused, mainly, by the `.actions` class being used to describe the container for the new comment and well as the container for the reply actions.

Which leads to those buttons having a greater width than they require. That being said you can fix the problem by adding a couple of lines of CSS
[code]
It just feels a little hacky to me, I feel like the `.actions` class shouldn

[2018-11-20 13:51] Link2Twenty commented on #1110
It works on Firefox 63.0.3 (64-bit) on Windows 10, I can't test Safari though.

[2018-11-20 14:04] edisonywh commented on #118
Hey guys, since the last reply was about two months ago I decided to pick it up, hope its okay. Check it out here #1161 and happy to take any feedback!

[2018-11-20 14:21] Link2Twenty commented on #1081
You almost want the button to be a back button, currently, it's just an anchor that links to the main post.

https://github.com/thepracticaldev/dev.to/blob/908e82cf9efe37bc41f10eb54b3c1a8b42f18d95/app/views/comments/_form.html.erb#L51-L53

Perhaps changing the link to have `<%=commentable.path%>#comment-node-[comment_id]` would help make it feel.

Is there any reason we don't use a model popup for

[2018-11-20 14:31] Link2Twenty commented on #66
@vgrovestine can you check to see if you have "Antisocial filter list" enabled, please?

@Zhao-Andy @benhalpern @jessleenyc I think this issue can probably be closed while we wait for Vincent's reply, it has been inactive for over a year.

[2018-11-20 14:56] Link2Twenty commented on #506
This issue is caused by the user's name being too long which leads to the line being wrapped. A simple solution would be to do the same to them as to the tags.

https://github.com/thepracticaldev/dev.to/blob/2022d45fb129265011a5e05a20cf42db6cf8b6e3/app/assets/stylesheets/articles.scss#L310-L320

In here we'd add

[code]

Which would lead to the [post](https://dev.to/t/innovation#article-link-38963

[2018-11-20 16:00] AntonyGarand opened #1163 "Runkit tag in comments - Broken"
**Describe the bug**
Runkit tags are not working in comments.
Instead of a normal tag, they simply put the raw content into a code tag, which has bad formatting and no execution.

**To Reproduce**
Create a comment with a runkit tag
Preview or publish it

**Actual behavior**
We get content in a code tag, without the formatting or execution runkit should provide us.

**Expected behavior**
We get a c

[2018-11-20 16:18] Link2Twenty commented on #506
Turns out someone has already fixed this, #502, with the same solution as me. Though it has conflicts.

[2018-11-20 16:39] lightalloy commented on #1015
Probably this is fixed with #708

[2018-11-20 17:35] jessleenyc commented on #1123
In general, it's hard getting to this link on mobile regardless. @benhalpern what do you think about moving the generate link below the buttons?

[2018-11-20 17:37] jessleenyc commented on #1128
I feel like that would get unwieldy since there are so many tags across site. It probably makes sense to eventually have both -- specific tags you want to subscribe to, and a global feed that will filter out tags you definitely don't want to see.

[2018-11-20 17:40] jessleenyc commented on #1150
Pinging @benhalpern because he's given this a lot of thought.

[2018-11-20 17:42] jessleenyc commented on #1155
Thanks for flagging this. Brought it up in a meeting today and it's on @benhalpern's radar.

[2018-11-20 17:43] jessleenyc commented on #1157
@tristan957 @AgrimPrasad Thanks for flagging. We pushed a new way of handling notifications yesterday and it was a little buggy. Has since been fixed so I'm closing this issue!

[2018-11-20 17:43] #1157 closed

[2018-11-20 17:44] jessleenyc commented on #1160
Thanks for flagging! This issue is approved for anyone who might want to work on it.

[2018-11-20 17:56] benhalpern commented on #1123
Yeah I think that makes sense.

Across the board, buttons/fields need to be bigger and more differentiated on mobile.

[2018-11-20 18:17] jessleenyc commented on #66
@Link2Twenty good call. @vgrovestine feel free to reopen if it's still an issue but closing for now.

[2018-11-20 18:17] #66 closed

[2018-11-20 18:19] leomeloxp commented on #224
@benhalpern are there any news on this front? (sorry for the direct nudging but the issue was going to be automatically closed otherwise).

I've seen that there are a few issues revolving around i18n and multi-language content, eg #247 #890 #304  (the ones I could find with a quick search).

Now that dev.to has been fully open sourced it might be slightly easier to approach these issues as more de

[2018-11-20 19:35] ItsASine commented on #1015
Confirmed #708 fixed this. Thanks, @lightalloy 😄

[2018-11-20 19:35] #1015 closed

[2018-11-20 22:07] bgadrian opened #1167 "Blank notifications from unrelated stories/comments"
I do not know if this error is related or not:
[code]

**Describe the bug**
Since 1h ago I started seeing these empty notifications (see pic).

The notifications URLs are to comments I do not own, replied or liked.

The Users(related to the notification) has also another valid notification (replied to one of my comments earlier).

I have 2 of these broken notifications that lead to:
https://dev.to

[2018-11-20 23:17] #183 closed

[2018-11-21 01:30] RDumais opened #1170 "Feature Request - Duplicate Posts"
**Is your feature request related to a problem? Please describe.**
I have seen authors accidentally double post a topic on multiple occasions. I am not sure where the problem is stemming from.

**Describe the solution you'd like**
I believe the Dev.to team should implement some kind of buffer where authors are unable to post a second topic until x amount of minutes have passed since the first post

[2018-11-21 08:02] gurpritsingh opened #1171 "Feature request - cached content for offline use"
**Is your feature request related to a problem? Please describe.**
I love using dev.to whenever I am travelling but because I am in India and internet connection is not reliable I end up seeing the offline page with the drawing canvas which is cool but not helpful.

**Describe the solution you'd like**
Having a caching strategy so that user can see some of the articles when offline would be great.

[2018-11-21 08:44] davealbert commented on #398
With existing profile issues should we send an email to "yo" or is some other process a better solution?

[2018-11-21 09:39] bennypowers commented on #183
Is this deployed yet? Not seeing names in markup.

I got cache hits on some of my articles from Wed, 21 Nov 2018 09:37:25 GMT, maybe the cache needs to be invalidated?

[2018-11-21 10:19] sturzl opened #1172 "Publish/follow a series of articles"
Many authors are posting series of articles. I would like to see notifications for articles in a series without having to follow everything from that author or the related tags.

E.g. https://dev.to/shikaan/design-patterns-in-web-development---2-memento-253j

[2018-11-21 12:28] yafkari opened #1173 "add a history of read articles"
### **Is your feature request related to a problem? Please describe.**
I'm always frustrated when I read an article the morning and I can't find it again the evening..

### **Describe the solution you'd like**
I thought it would be cool, if there is a history of read articles

### **Additional context**
That's all ^^

#### PS: __Sorry__ for my bad english and this short issue !

[2018-11-21 16:13] #219 closed

[2018-11-21 19:45] moriczgergo commented on #1173
Hey, you can use the bookmark reaction to save the article for reading later, but if get’s approved, I’d do a PR for this

[2018-11-21 21:00] jessleenyc commented on #1153
Thanks for the feature request. This is approved if anyone wants to jump on it!

[2018-11-21 21:00] jessleenyc commented on #1154
Thanks for flagging! This issue is approved for anyone who might want to work on it.

[2018-11-21 23:12] rhymes commented on #1173
@yafkari in the meantime you can also use your browser's history, or... actual bookmarks

[2018-11-22 13:03] bgadrian opened #1176 "UI header links - broken HTML"
My article looks like this:

![image](https://user-images.githubusercontent.com/830001/48904476-28e5ef80-ee67-11e8-8ac9-aaae82d25de3.png)

https://dev.to/bgadrian/from-monolith-to-cloud-auto-increment-to-uuid-10ki

It was fine until yesterday (21 nov), I guess it was an update today, maybe fighting spam?

Tested on Chrome 70 and Firefox 63.

I will return with more details, maybe I can figure it w

[2018-11-22 13:07] bgadrian commented on #1176
Ok I can reproduce the issue with a smaller snippet

1. Write new post

[code]

2. Press Preview

[2018-11-22 14:55] Puritanic opened #1177 "Limit who can create post"
**Is your feature request related to a problem? Please describe.**
In the light of the recent spam/ad posts flood maybe you should limit what the new users can do somehow.

**Describe the solution you'd like**
A few ideas:
- user can't create a post if his account is not older than a week
- user can't create a post if he doesn't have posted comments, with at least a few likes
- user can't create p

[2018-11-22 15:52] faqndo97 opened #1178 "Some article exist in index but doesn't exist on show"
**Describe the bug**
For some weird reason when I go to the index, I can show an specific article, but when I want enter to read it, I can't, the site give me an 404.

**To Reproduce**
https://dev.to/sahilrajput/useful-javascript-resources-for-programmers-kdm

**Expected behavior**
Should open fine the article.

**Screenshots**
![giphy](https://user-images.githubusercontent.com/16840674/48912751-2

[2018-11-22 16:24] tinhdang1115 commented on #1007
I still has this issue after reset to the commit 801043a

![image](https://user-images.githubusercontent.com/2344080/48914295-199a8c80-eecf-11e8-9cc4-63f9d3a0b0a5.png)

[2018-11-22 16:38] benhalpern commented on #1176
Okay I'm on it.

[2018-11-22 16:56] bgadrian commented on #1167
The black notifications dissapeared after the update with the left panel

![image](https://user-images.githubusercontent.com/830001/48915687-4d05f880-ee88-11e8-8e7d-3182a82fc2a7.png)

No more repro

[2018-11-22 17:52] benhalpern commented on #1178
Looks like it's an issue de-indexing after author unpublishes. Ran script to fix the current issue. Will look into the problem further. Thanks for the heads up.

[2018-11-22 17:53] benhalpern commented on #1173
I agree with this feature. As others have pointed out, you can bookmark. But I think view history also makes sense.

[2018-11-22 18:12] faqndo97 commented on #1178
@benhalpern ok, you're welcome 💪

[2018-11-22 18:52] timorthi commented on #911
@benhalpern I'm interested in helping out with the modeling - should this discussion be moved to a more specific issue?

[2018-11-22 19:07] c33s opened #1182 "[security] Export function - change delivery from email to web"
follow up for #219 #576

according #576 the export is sent via email. as email communication is not encrypted by default, the export should not be sent via email.

of course the posts are public and should not contain secret information but as an export can contain unpublished posts which can contain uncleaned code including secrets, the export should not be sent via email.
instead it would be goo

[2018-11-23 02:10] #190 closed

[2018-11-23 02:10] #264 closed

[2018-11-23 09:11] alex-bender commented on #339
Hey guys! Seems that issue is resolved by @markfrst but the issue still remains

[2018-11-23 16:04] bgadrian commented on #1176
The problem is gone, at least on my article.

[2018-11-23 19:02] moriczgergo commented on #941
This feels like Twitter shadowbanning-esque stuff....

[2018-11-23 19:50] finkiki commented on #304
Could be nice to support other languages. I can help with french.

[2018-11-23 20:56] def14nt commented on #1084
@Some-Dood How do you know it's original purpose? You aren't coming up as a member of the `dev.to` organization.

[2018-11-24 03:29] deadcoder0904 commented on #413
Yeah this is the only thing I hate about dev.to

It completely reloads the page again when you go back from the source. An overlay like Medium might be good :)

[2018-11-24 10:17] Some-Dood commented on #1084
@def14nt I apologize for the lack of clarity. Let me try to explain better without bad analogies.

Admittedly, no. I am not part of the organization. It's just a gut feeling I have. I don't know what their original purpose is given the fact that I'm relatively new to the DEV community.

However, as I have visited the site more over the past few weeks, it has become apparent to me what DEV.to truly

[2018-11-24 13:26] bgadrian opened #1185 "Empty notification not seen"
**Describe the bug**
A blank notification was visible on my notifications page.

**To Reproduce**
I saw a notification alert, clicked on it.
The notification page opened but no new notifications were visible, except a border at top.
The blank div was still visible at the next visit.

**Expected behavior**
To see only notifications with title/body.

**Screenshots**
![screenshot from 2018-11-24 15-1

[2018-11-26 14:01] lightalloy opened #1196 "Inefficient comments loading"
**Is your feature request related to a problem? Please describe.**
For each comment `children` method is called, which makes an SQL query. It leads to a lot of SQL queries that could be avoided.

**Describe the solution you'd like**
Load all child comments of each of the root comment in one query.

[2018-11-26 15:10] #396 closed

[2018-11-26 15:10] #360 closed

[2018-11-26 15:54] davidjeddy opened #1198 "FEAT: Open images in lightbox or new tab, not current article tab."
Clicking an image in an article should open the media in a lightbox.

**Describe the solution you'd like**
Open image media in a lightbox.

**Describe alternatives you've considered**
Open image in new browser tab and focus to that tab.

**Additional context**

Pre click on image:
![image_pre_lightbox](https://user-images.githubusercontent.com/6232455/49025415-9b0d4b80-f169-11e8-97fe-9161e6e15d6f.

[2018-11-26 16:04] vinistock commented on #686
Hey, folks. Not sure if you had the time to play around a little bit. Please, let me know if you have feedback on the gem and if you'd like to have anything added to it.

Also, please do tell if you don't wish to add it at this time and we can drop the PR.

[2018-11-26 16:10] #263 closed

[2018-11-26 16:10] #318 closed

[2018-11-26 17:10] #333 closed

[2018-11-26 17:10] #293 closed

[2018-11-26 17:10] #419 closed

[2018-11-26 17:10] #123 closed

[2018-11-26 17:10] #158 closed

[2018-11-26 17:10] #200 closed

[2018-11-26 17:10] #218 closed

[2018-11-26 17:29] benhalpern opened #1205 "[Airbrake] [Production] undefined method `+' for nil:NilClass"
**Airbrake error:** [#7637](https://herokuapp45527522herokucom.airbrake.io/projects/128402/groups/2356773793765597637)
**Airbrake project:** practicaldev

**Error type:** `NoMethodError`
**Error message:** `` undefined method `+' for nil:NilClass ``
**Where:** `articles#destroy`
**Occurred at:** Nov 26, 2018 17:28:49 UTC
**First seen at:** Nov 26, 2018 17:28:49 UTC
**Occurrences:** 1 (2 since last

[2018-11-26 18:07] GuitarKat commented on #358
Sorry for my delay in commenting, but this looks great. I approve of this too. Thanks for picking this up!

[2018-11-26 18:10] #311 closed, assigned to nobody

[2018-11-26 18:10] #124 closed

[2018-11-26 19:38] davidjeddy opened #1202 "Replace 'More from @...'"
**Is your feature request related to a problem? Please describe.**
No problem , verbiage update when viewing an article when user is the author.

**Describe the solution you'd like**
Either remove the 'More from @...' when user is the author or rephrase to something in the vein of 'Other posts by you.'

**Describe alternatives you've considered**
Not a critical issue, more a readability / consiste

[2018-11-26 23:10] #247 closed

[2018-11-26 23:10] #341 closed

[2018-11-26 23:10] #100 closed

[2018-11-26 23:10] #230 closed

[2018-11-27 13:32] Link2Twenty commented on #1202
It looks like this is the section that puts that bit in.

https://github.com/thepracticaldev/dev.to/blob/8b1755a2b3813224dfaeca68f209a0e21d1d76dc/app/views/articles/_sticky_nav.html.erb#L81-L104

I think you could either remove that section like so (L81)
[code]

Or change the text like this (L86 - L90)
[code]

[2018-11-27 13:52] nshusa commented on #446
Not stale, no one has implemented it yet.

[2018-11-27 13:57] Link2Twenty commented on #1196
Is there more to do for this?

[2018-11-27 14:15] jessleenyc commented on #1163
Thanks for flagging! This issue is approved for anyone who wants to work on it.

[2018-11-27 14:22] jessleenyc commented on #1170
Thanks for the feature request! We see this more with spam accounts. Some of the features we're putting in place will definitely lower visibility on such accounts but this is a good thought.

[2018-11-27 15:04] Link2Twenty opened #1204 "Save button's contrast"
**Describe the bug**
Currently, the article `save` buttons are calculated at #4a68ff and their text is #ffffff this leads to a contrast of 4.45 generally anything below contrast 7 is frowned upon.

This is calculated in the scss file here
https://github.com/thepracticaldev/dev.to/blob/master/app/assets/stylesheets/articles.scss
`background: darken($purple, 26%);`

**Side note:**
if you're going to

[2018-11-27 16:13] #1176 closed

[2018-11-27 17:33] jessleenyc commented on #412
We should keep this open.

[2018-11-27 17:33] jessleenyc commented on #412
ccing @benhalpern and @Zhao-Andy since they refactored notifications recently.

[2018-11-27 19:13] Zhao-Andy opened #1206 "Sometimes clicking an internal link leads me to the empty search result page"
**Describe the bug**
This happens randomly and inconsistently, but sometimes clicking a link that is a `https://dev.to` link will lead to empty search result page: https://dev.to/search?q=

**To Reproduce**
1. Go to https://dev.to
2. Click on a link, like https://dev.to/latest
3. See that you're landed in https://dev.to/search?q= instead of https://dev.to/latest . Note that the URL is correctly li

[2018-11-27 21:22] #431 closed

[2018-11-27 21:22] #434 closed

[2018-11-27 21:35] maestromac commented on #439
unstale

[2018-11-27 21:42] #478 closed

[2018-11-27 21:47] Zhao-Andy commented on #1196
Nope, this is resolved via #1197

[2018-11-27 21:47] #1196 closed

[2018-11-27 21:50] jessleenyc commented on #1198
Ah yes, this is a pretty popular request. We've approved it in https://github.com/thepracticaldev/dev.to/issues/413 so closing this one. I think whoever takes #413 can approach it a few different ways, including lightbox.