[2020-05-21 09:53] rhymes commented on #7973
Sure @luchiago, I'm going to assign you to the issue. Thanks!

[2020-05-21 09:57] madarsbiss commented on #7997
@citizen428 didn't know there was a report abuse option and thanks for reporting.. It would still be nice to implement this feature to reduce cases like these in the future! really hope DEV team will decide to tackle it :)

[2020-05-21 11:04] maniflames commented on #7997
Reported the article as well!
I'd love to see a duplicate checker though, the idea that your work can just be copy-pasted and posted on the exact same platform feels really discouraging.

I tried to comment on it but the author just decide to hide my comment :/

[2020-05-21 11:12] madarsbiss commented on #7997
@maniflames thanks! united we stand!

[2020-05-21 12:44] atsmith813 commented on #7991
This is a duplicate, we've got a couple of issues open about this
https://github.com/thepracticaldev/dev.to/issues/7889.

I believe the issue is caused by larger GIFs and an issue with Cloudinary.

[2020-05-21 13:38] atsmith813 commented on #7267
A couple of things to keep in mind*...redirects can "ding" our SEO authority. @pkfrank do we care about the SEO juice on these endpoints (i.e. `/welcome` and `/challenge`)?

If so, we should use 302 redirects so we don't hurt our SEO and pass on the juice to other places.

If not, we might want to re-think this a bit. We can dynamically redirect with 302 still, but no SEO juice will be transferred

[2020-05-21 13:45] mtfoley commented on #7982
Not a Ruby expert, but my best guess is this deals with the lack of a controller file.  The unsubscribe link looks like this:
https://dev.to/email_subscriptions/unsubscribe?ut=REALLY_LONG_TOKEN

and this file expects a `ut` parameter for the unsubscribe method:
[email_subscriptions_controller.rb](https://github.com/thepracticaldev/dev.to/blob/master/app/controllers/email_subscriptions_controller.r

[2020-05-21 14:08] #6499 closed

[2020-05-21 14:33] madzadev opened #8005 "Slow main feed, when signed in."
I've been experiencing some very slow **Home section** load times lately (in all tabs: feed, week, month, year, infinity). The problem occurs only when I'm signed in (via GitHub). When I am signed out, problem is gone and home section works as expected.

Note, that only the first 7 articles gets delayed every time.
Delay might be from 1 to 10 secs. See the GIF below.

![ezgif com-optimize (3)](htt

[2020-05-21 14:53] mstruve commented on #7991
Closing since this is a duplicate

[2020-05-21 14:53] #7991 closed

[2020-05-21 15:47] #7994 closed

[2020-05-21 16:16] vepo opened #8019 "Edit not working on Firefox"
**Describe the bug**

Edition with no contents on Firefox

**To Reproduce**

Using

1. Create a post
2. Save as draft
3. Edit the post

**Expected behavior**

All contents from the last edition should be available, but there is an empty post.

Everything works fine on Chrome.

**Screenshots**

![image](https://user-images.githubusercontent.com/353569/82580177-31ef7400-9b65-11ea-962b-3bf450e13f6e.p

[2020-05-21 16:39] atsmith813 commented on #7982
Fixed with https://github.com/thepracticaldev/dev.to/pull/8018

[2020-05-21 16:39] #7982 closed

[2020-05-21 16:52] jaysonragasa commented on #7902
![image](https://user-images.githubusercontent.com/63760343/82583728-03ee4c00-9bc6-11ea-8e80-cbbc6f73f48b.png)
Well I was kind of hoping some sort of like that in screenshot. My twitter feed is embedded in my github page [https://jaysonragasa.github.io](https://jaysonragasa.github.io/) and you can actually do that here [https://publish.twitter.com/](https://publish.twitter.com)

So instead of my t

[2020-05-21 16:52] juliannatetreault opened #8021 "Add "Download" Welcome Notification"
We want to add an additional Welcome Notification to the Welcome Notification flow, prompting users to download the DEV mobile app: "https://dev.to/downloads".

The copy should read: "Sloan here, with one last tip! 👋  Have you downloaded the DEV mobile app yet? Consider <a href=’https://dev.to/downloads>downloading</a> it so you can access all of your favorite DEV content on the go!"

The notifica

[2020-05-21 17:07] rhymes commented on #7902
@jaysonragasa makes sense, thank you! I reopened the issue :)

[2020-05-21 19:05] icncsx commented on #5228
Thanks for the tip!

[2020-05-22 00:28] jaysonragasa commented on #7902
![image](https://user-images.githubusercontent.com/63760343/82618503-d9bc7e80-9c05-11ea-9d50-ba676917f0ae.png)
Thanks! I hope a header image is included as well. Just to get sense and an initial idea of what people will be reading if they decided to read.

I usually have a header image in my posts.

[2020-05-22 08:37] dhurba87 opened #8027 "Qutebrowser support"
**Describe the bug**
Homepage not working from **qutebrowser**.

**To Reproduce**
- Open [qutebrowser](https://qutebrowser.org/)
- Go to homepage `https://dev.to`
- You will notice that the article list won't appear.

**Screenshots**

![image](https://user-images.githubusercontent.com/7259726/82648379-5025a480-9c37-11ea-9869-af16ace0b4e8.png)

**Desktop (please complete the following information):

[2020-05-22 09:13] rhymes commented on #8027
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-22 09:29] rhymes commented on #8027
Hi @dhurba87, sorry it's not working with that browser

It looks like by default it uses something called `QtWebEngine` from the Qt library which according to this - https://wiki.qt.io/QtWebEngine - is a fork of Chromium based on version 77.

In theory it should work, mmm.

I tried `brew cask install qutebrowser` which installs version 1.11.1 and I was able to see the homepage correctly:

<img wid

[2020-05-22 09:53] abenettt opened #8029 "Decouple oauth user from platform user"
**Is your feature request related to a problem? Please describe.**
Currently the information of the github or twitter user is saved in the user object of the platform. Decoupling this information would allow for easier addition of further oauth providers and avoids the bloating of the user object with fields that might never be set.

**Describe the solution you'd like**
A generic `oauth_user` mode

[2020-05-22 09:57] rhymes commented on #8029
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-22 10:00] rhymes commented on #8029
@abenettt we already have that in a sort, our `Identity` model is what you call `oauth_user`: https://github.com/thepracticaldev/dev.to/blob/master/app/models/identity.rb

I do agree that we should restructure the `users` table to move off of it those fields that are tied to authentication.

We've been working slowly on decoupling functionality from authentication, see [my recent PRs about that](h

[2020-05-22 10:33] abenettt commented on #8029
Ah sorry, yes, I didn't pay enough attention there, but it is great that the effort is already underway!

[2020-05-22 10:41] dhurba87 commented on #8027
Hi @rhymes thanks for checking the issue. I'll update my browser and try it today evening and update you.

[2020-05-22 11:54] Ridhwana commented on #8019
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-22 12:19] Ridhwana commented on #8019
Hi @vepo, thanks for the issue. I tried replicating it on Firefox Version: 76.0.1  and I am able to save a draft and edit each time.

I then tried to look open up your post in your screenshot to see if I could see the contents, but it said it was not found. Did I get the correct url - https://dev.to/vepo/selecting-an-open-source-project-to-contribute-3idl-temp-slug-1088277/edit? Can you pop the li

[2020-05-22 12:22] fletcher-greg opened #8031 "Distinguish when a post has been updated in the notifications feed"
**Describe the bug**
Old posts appear daily in my notification feed. These posts range from a month old to 1 year.  They all come from one user. I have screenshots I'll post below with personal details removed.

#### Example
This morning I clicked on my notification feed and noticed a post from a user that was made 5 hours ago. Right next to that notification were 3 notifications from a user who m

[2020-05-22 12:27] vepo commented on #8019
Hi @Ridhwana

Yes, you took the correct URL. I tried again and the same error occurs. Then I disable all extension, same error, so the problem is not an extension. Then I tried open in a private firefox (no cache) and it works. So I believe the error is something on the cache.

[2020-05-22 12:29] vepo commented on #8019
I saw there is a lot of items related to the editor on localStorage.

![image](https://user-images.githubusercontent.com/353569/82667685-ba761f00-9c0e-11ea-9140-4257b7b36557.png)

[2020-05-22 13:37] rhymes commented on #8031
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-22 13:44] Ridhwana commented on #8019
@vepo thanks, it seems I need your preview url instead of the edit one to access the draft post, can you please pop it here for me :) ?

[2020-05-22 13:57] dhurba87 commented on #8027
Hi @rhymes , it didn't work right after I install the latest version `1.11.1`, so I disabled the adblocker and it worked after that. I then enabled ad-blocker again but this time I couldn't replicate the issue. I guess its my device specific issue. Anyways, thanks for helping me out here.

[2020-05-22 13:57] Ridhwana commented on #8031
Hi @fletcher-greg. Thanks for the issue, however, the reason that these posts are appearing in your timeline is because the author has updated the posts recently.

For example:
- https://dev.to/helenanders26/sql-201-6-ways-to-search-with-system-tables-h0 was Updated on May 18, 2020.
- https://dev.to/helenanders26/aws-series-why-a-vpc-is-like-the-london-underground-k7p was Updated on May 21, 2020.

[2020-05-22 13:58] Ridhwana commented on #8031
Perhaps it would be valuable to show the updated date in the notifications when there is one instead of the creation date.

[2020-05-22 14:12] rhymes commented on #8027
Cool @dhurba87! I'm going to close this issue in the meantime. Let us know if you have other problems!

[2020-05-22 14:12] #8027 closed

[2020-05-22 14:26] joshpuetz commented on #8031
Agreed @Ridhwana. This would be something perfect for a contributor to work on if they have the inclination!

[2020-05-22 14:26] fletcher-greg commented on #8031
Hi @Ridhwana. Thanks for the information. 😀

Yeah, I think it would make more sense to see an **update** notification rather than **made a new post** for older posts.  It's very odd to see the words **[user] made a new post 1 year ago**. I think readers are more likely to be interested if they see **[user] updated their [post name]**.

[2020-05-22 14:27] joshpuetz commented on #8031
That's a wonderful suggestion @fletcher-greg!

[2020-05-22 14:31] vepo commented on #8019
@Ridhwana, I believe I was editing when the application was deployed, so I had an intermediary state for my post (different versions for artifacts). I will cleanup my localStorage later to make it work.

https://dev.to/vepo/selecting-an-open-source-project-to-contribute-3idl-temp-slug-1088277?preview=6efc97c5ea1ae6dd0dd67d5a3d68649ec1a19550192f66ea8454734cf2122d4164ff61b2b3353cfcb55734dd005356fa12

[2020-05-22 14:59] maestromac commented on #7899
Thank you for reporting this!

This is resolved

[2020-05-22 14:59] #7899 closed

[2020-05-22 15:03] #7918 closed

[2020-05-22 17:55] steveblue opened #8034 "Focus mode for writing posts"
**Is your feature request related to a problem? Please describe.**

When writing a post for dev.to I would like the ability to completely focus on writing. On desktop the "Write a Post" button feels redundant here, the header and footer are just distractions I have precious moments in the day to write, so I want to be completely focused on writing. On smaller screens the additional real estate for

[2020-05-22 19:13] davinkevin commented on #5172
Very interested about this one!

[2020-05-22 19:44] atsmith813 commented on #5325
Tag removal is no longer case sensitive with https://github.com/thepracticaldev/dev.to/pull/8024

[2020-05-22 19:44] #5325 closed

[2020-05-22 19:56] maestromac commented on #7835
Resolved with https://github.com/thepracticaldev/dev.to/pull/7895

[2020-05-22 19:56] #7835 closed

[2020-05-22 20:01] maestromac commented on #8034
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-23 02:03] ledestin commented on #3583
I understand that if a notification is present for the comment and the user, mention shouldn't be created. Correct?

I'm trying to write a comment request spec, and notification isn't being created when another user replies to my article:
[code]
https://github.com/ledestin/dev.to/blob/ledestin/duplicate-notifications-3583/spec/requests/comments_create_spec.rb#L98

Is that a problem with the test s

[2020-05-23 07:36] axsharma commented on #5653
Any updates on this? I'd love to see this feature on dev.to. Especially when editing an unpublished draft - it is only natural the title will change several times before the post goes live (therefore a 301/302 is irrelevant).

[2020-05-23 09:04] rhymes commented on #8034
@steveblue what this be solved by the no-chrome mode we have in https://dev.to/new ?

Open https://dev.to/new and press `0`

the editor buttons don't disappear but the bar at the top does

[2020-05-23 09:09] rhymes commented on #3583
@ledestin have you tried to see what happens in `CommentsController#create` ? there can be any number of reasons why the notification is not sent. See https://github.com/thepracticaldev/dev.to/blob/c23c4fbb2d5ad331bfc61f8fba1644568e4a806c/app/controllers/comments_controller.rb#L54

I'd put a `binding.pry` there and see what happens

[2020-05-23 09:22] Amorpheuz opened #8039 "App Store icon on Downloads page incompatible with dark themes"
**Describe the bug**
The Apple App Store icon on [Downloads](https://dev.to/downloads) page has a transparent fill for icon and letters which make it difficult to see on the page if the user has a Dark theme, i.e. Night Theme or Ten X Hacker theme.

**To Reproduce**
1. Switch to Night or Ten X Hacker theme via Settings -> UX -> Save
2.  Open [Downloads](https://dev.to/downloads) page

**Expected b

[2020-05-23 09:23] rhymes commented on #8039
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-23 17:22] steveblue commented on #8034
I don't think that goes far enough @rhymes. I would prefer the editor to be the entire screen, only thing in the view. What I am after is something that mimics the experience of popular writing apps like Ulysses.

[2020-05-24 08:26] tecnoorganico opened #8043 "https://granicus.com/"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-05-24 08:27] tecnoorganico commented on #8043
https://help.twitter.com/es/managing-your-account/notifications-on-mobile-devices

[2020-05-24 08:36] abenettt commented on #7089
I think translated posts are a great idea! And community translations or even creator translations are awesome too! If there is no translation for a post and one would use a third party translator if one would take #4168 into account one could choose a translator based on the original language for the best possible result. For example DeepL for all the languages they support and Google or Bing tra

[2020-05-24 09:35] #8043 closed

[2020-05-24 16:47] weakish opened #8044 "triple backticks preceded by other characters should not mark the start/end of a code block"
**Describe the bug**

dev.to mistakenly treat triple backticks preceded by other characters as indicating the start/end of a code block.

**To Reproduce**

In a dev.to post, write the following markdown:

[code]

    ## unsafe

**Expected behavior**

The above markdown should rendered like below (as rendered by GitHub Pages):

![image](https://user-images.githubusercontent.com/114114/82759618-2334

[2020-05-24 17:23] dpshelio commented on #1128
I'm an admin for one of Google's summer of code organisations - OpenAstronomy. As part of our internal rules, we request students to have a blog and post updates of their progress regularly. We aggregate summaries for all their posts on a single site that makes easier to our broad community to find what they are interested in (something like a homemade [planet](https://en.wikipedia.org/wiki/Planet

[2020-05-24 21:17] gaganlokesh commented on #8031
Hi @Ridhwana @joshpuetz!
I'm new to this codebase. Can I take this up as my first issue?

[2020-05-25 03:11] citizen428 commented on #7997
Out of interest (and for reference), how do other content sites like e.g. Medium handle this?

[2020-05-25 03:28] citizen428 commented on #8044
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-25 03:32] citizen428 commented on #8044
Thanks @weakish!

To anyone attempting to fix this: a [previous PR](https://github.com/thepracticaldev/dev.to/pull/5785) introduced a `MarkdownTraverser` class (at `app/labor/markdown_traverser.rb`), it's probably worth exploring to see how/if we can leverage that for this problem.

[2020-05-25 03:36] citizen428 commented on #8019
@vepo I use Firefox as my main browser and have never experienced this issue. Did you manage to fix in your end by cleaning out the local storage?

[2020-05-25 06:08] Ridhwana commented on #8031
Hi @gaganlokesh 😊 Welcome 🎉 Yes sure you can, I'll assign you to the issue.

We should show `updated at <new date>` for posts that were updated in the notifications.

[2020-05-25 06:16] Ridhwana commented on #6663
Done, if you are a DEV team member, please ping Team OSS for a link to the document 😊

[2020-05-25 06:16] #6663 closed

[2020-05-25 08:05] rhymes commented on #5445
Solved by https://github.com/thepracticaldev/dev.to/pull/7259 and https://github.com/thepracticaldev/dev.to/pull/7505

[2020-05-25 08:05] #5445 closed

[2020-05-25 09:24] maniflames commented on #7997
I'm not on medium at all because I really don't like the experience. However I'm still a student and if there is an 80% match between what I and a classmate have written it is considered plagiarism and we'll have to go through the exams committee to sort things out. There is an existing database of all the work that has been handed in before and some popular sources on the internet. Unfortunately

[2020-05-25 09:32] AthulMuralidhar opened #8047 "The button at the end of the listings page has no text"
**Describe the bug**

- there is a button at the botton end of the listings page of dev.to, it seems to have no text

**To Reproduce**

- Go to dev.to 's homepage

- from the side choose 'listings'

- scroll down to the bottom end of the listings page, you see a button

- the button has no desciption
**Expected behavior**
- It should have at least some text to point people

**Screenshots**
<img wi

[2020-05-25 09:34] rhymes commented on #8047
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-25 09:34] rhymes commented on #8047
Thanks @AthulMuralidhar!

Definitely a theming issue as I can confirm the text is there in the default theme:

![Screenshot_2020-05-25 Listings - DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/82800279-b8fd5e80-9e7b-11ea-8a71-b9b1bfbbb569.png)

I'll take a look

[2020-05-25 09:37] AthulMuralidhar commented on #8047
I see, thanks!

[2020-05-25 11:27] vepo commented on #8019
Yes, It was an issue from the update process.

[2020-05-25 12:44] Ridhwana commented on #8019
Thanks for the feedback @vepo. Since this is not replicable and seems to be maybe a timing issue, I'll close this. Thanks!

[2020-05-25 12:44] #8019 closed

[2020-05-25 13:01] #8047 closed

[2020-05-25 17:04] #7949 closed

[2020-05-25 18:00] TheRohitSharma commented on #7769
I'd like to try this, though I haven't had success in getting any of the items to load at `/pod`. Any tips with that would be appreciated. For now, I _should_ be able to make do with hardcoding.

[2020-05-25 20:33] Bam92 opened #8053 "Posts discussions number not visible"
**Describe the bug**
I am wondering if I am the only one to have this, but everytime I open a post I can't see number of comments as before. I can see number of hearts, and others. I tried on Debian GNU/Linux (Chromium) and Windows 10 (Chrome)

**To Reproduce**

**Expected behavior**
![devToExpected](https://user-images.githubusercontent.com/14941675/82885864-fd553100-9f45-11ea-96cd-a80e0bb01e46.P

[2020-05-25 21:46] gaganlokesh commented on #8031
@Ridhwana Thanks for assigning! 😊

I needed a small clarification on this...
Looking at the screenshots below, could you please suggest which UI I should implement?

**Original Post:**

<img width="572" alt="Screenshot 2020-05-26 at 2 22 41 AM" src="https://user-images.githubusercontent.com/22362677/82843955-6c0d9c80-9efc-11ea-9b5b-dbcc1a5f5569.png">

**Updated Post:**
**[1]** As you suggested
<im

[2020-05-26 02:56] danascheider commented on #2288
I'm happy to pick issue up if it's still one the maintainers want done.

[2020-05-26 07:17] rhymes commented on #8053
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-26 07:17] rhymes commented on #8053
Hi @Bam92, could you open the developer tools and check if you have any errors in the javascript console? Thank you!

[2020-05-26 07:19] rhymes commented on #2288
@danascheider please go ahead and thank you! I'm going to assign the issue to you

[2020-05-26 07:20] citizen428 commented on #7997
Thanks for doing this @maniflames, much appreciated!

[2020-05-26 10:01] Bam92 commented on #8053
No error.

[2020-05-26 10:27] Ridhwana commented on #8031
Thanks @gaganlokesh! I like @fletcher-greg's suggestions better 😁

[2020-05-26 11:41] maniflames commented on #7997
I didn't really expect this but it turns out there is an entire field dedicated to [content/text similarity](https://en.wikipedia.org/wiki/Content_similarity_detection)😅. There are different types of plagiarism that you could put on a spectrum. Different methods are successful at detecting different types of plagiarism.

![https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/PD_Methods_Detect

[2020-05-26 13:33] gaganlokesh commented on #8031
Great! I'll go ahead and implement this. Thanks!

[2020-05-26 14:19] Toxu-ru opened #8056 "Installation via Docker (The engine "node" is incompatible with this module)"
Ubuntu 18.04.4 LTS
Installing Docker software:

https://docs.dev.to/installation/docker/
https://docs.docker.com/engine/install/ubuntu/

When you install the `docker-setup`. We have:

[code]

[code]
If Dockerfile `nodejs -> nodejs-current` is edited, we get:

[code]
We of course can now still correct and further, but I think this is not quite true.

Maybe there was some mistake in the beginning?

[2020-05-26 15:59] rhymes commented on #8056
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-26 16:16] jacobherrington commented on #7965
I can confirm that this appears to be affecting my reading list as well.

However, I frequently add articles to my reading list and it's possible I added some 2018 articles to my reading list recently without noticing!

[2020-05-26 17:16] TheRohitSharma commented on #8056
I had been getting this as well and ended up adding `--ignore-engine`s to the Dockerfile as a temporary workaround.

[2020-05-26 19:51] #1128 closed

[2020-05-26 21:21] abhisheksurve45 commented on #8056
@rhymes  is this up for grabs? Seems like a good first issue for me.

[2020-05-26 21:35] vaidehijoshi opened #8068 "Allow admins to delete broadcasts"
Admins should be able to delete broadcasts from `/internal/broadcasts`. We'll need to add a controller action and a button to do this from the admin UI, and we'll want to ensure that this is all tested, too.

We should also be sure to include a warning (or an alert?) whenever an admin tries to delete a broadcast that is `active`, since it is possible that the broadcast might be in use within the s

[2020-05-26 21:35] vaidehijoshi commented on #8068
A note to our amazing contributors: this issue will be worked on by a DEV team member and is not up for grabs!

[2020-05-26 21:36] vaidehijoshi commented on #8068
@juliannatetreault I think this would be great for you to work on! Let me know if you're interesting in picking it up 😃

[2020-05-26 21:38] juliannatetreault opened #8069 "Properly Enqueue send_feed_customization_notification"
Currently, we check whether an individual notification is enqueued or not in `generator.rb`. All notifications should set `@notification_enqueued` equal to `true` within their individual "send X notification" method, but `send_feed_customization_notification` does not - this needs to be fixed.

**✨ A note to our amazing contributors: this issue will be worked on by a DEV team member and is not up

[2020-05-26 21:39] vaidehijoshi opened #8070 "Ensure that broadcast names are unique"
Currently, for the welcome notifications feature, we look for a broadcast based on its name (and whether or not it is `active` or not), for example: `Broadcast.active.find_by!(title: "bananas")`.

However, as we expand the `Broadcast` model to be used for _other_ types of notifications (such as as site-wide notification feature), there is a possibility for multiple broadcasts to be named similarly

[2020-05-26 21:40] vaidehijoshi commented on #8070
A note to our amazing contributors: this issue will be worked on by a DEV team member and is not up for grabs!

[2020-05-26 21:40] vaidehijoshi commented on #8070
@juliannatetreault I think this would be great for you to work on! Let me know if you're interesting in picking it up 😃

[2020-05-26 21:41] juliannatetreault commented on #8068
I'm happy to work on this @vaidehijoshi this cycle. 😄

[2020-05-26 21:43] juliannatetreault commented on #8070
I'm happy to work on this as well @vaidehijoshi! 😄

[2020-05-27 02:12] luchiago commented on #7973
@rhymes I tested with the [debugger extension](https://chrome.google.com/webstore/detail/meta-debugger/jfpdemgdamgplelnlmaecbonkfgfgomp)  in other website and worked. I compared the source code of this article page and the other page and both exist the `<link rel="canonical">` and `<meta name="description">`. Do you think it can be related to the extension used for debugging?
![image](https://user

[2020-05-27 02:25] atsmith813 commented on #7973
The [debugger extension](https://chrome.google.com/webstore/detail/meta-debugger/jfpdemgdamgplelnlmaecbonkfgfgomp) looks [only at`head` tags](https://github.com/bluemoehre/chrome-meta-debugger/blob/1b2f92c3cfcf4b0dae9eaa71ab007a3dcfd42344/src/js/devtools.js#L39) and we are rendering certain metadata (i.e. description and canonical) outside of the `head` tag.

I'll defer to @rhymes if this is an is

[2020-05-27 02:45] citizen428 commented on #8056
@abhisheksurve45 Normally I'd say that yes, it's up for grabs, but we currently have a big ongoing container refactoring PR (#7747) and it might just be easier if @jdoss takes care of this as part of that work. Let's double check with him.

[2020-05-27 03:01] danascheider commented on #2288
It appears this bug is in the Redcarpet gem, not in dev.to code. I've submitted an issue report against Redcarpet to ask if they'd accept a PR. Unfortunately, the last commit merged on Redcarpet was almost a year ago, and the last time a maintainer responded to an issue report or merged a PR was in January of 2019. The most recent commit to the repository was when version 3.5.0 was released back i

[2020-05-27 03:18] citizen428 commented on #7997
@maniflames Wow, thank you so much for doing all of this! Before you do any more research on this, keep in mind that this feature has not been approved yet. I wouldn't want you to sink too much time into this and then be disappointed if we decide not to tackle this specific feature. Unless you're super into the topic now, then please do keep us posted 😄

[2020-05-27 04:03] citizen428 commented on #8044
I did some more digging and found something interesting: [this PR](https://github.com/thepracticaldev/dev.to/pull/4438/files) added the `disable_indented_code_blocks` option to our Redcarpet initializer. This was later disabled again by [this follow-up PR](https://github.com/thepracticaldev/dev.to/pull/4988), so it seems like this is intended behavior.

I changed the label on this issue from `type

[2020-05-27 04:16] citizen428 commented on #8053
Hm, the whole sidebar looks a bit off. What resolution are you on @Bam92? I'm asking  because I get this behavior when I resize my browser window horizontally, but not enough for the sidebar to move to the bottom:

Full resolution:

<img width="95" alt="Screen Shot 2020-05-27 at 11 12 04" src="https://user-images.githubusercontent.com/47985/82977129-24296b00-a00b-11ea-9963-cb4ff2b7fad2.png">

Resi

[2020-05-27 04:24] citizen428 commented on #8053
More context: we have several media queries for `min-width`. Resizing to a width between 1365 to 1439 seems to trigger this for me to (Firefox Developer Edition on macOS).

[2020-05-27 04:42] citizen428 commented on #7974
@davidkudera @theLastOfCats Is this still an issue for you? I just changed my email address and got the notification. If I remember correctly we had a minor mail issue last week, maybe that's related?

[2020-05-27 06:29] weakish commented on #8044
I think this has nothing to do with `disable_indented_code_blocks`. `disable_indented_code_blocks` controls whether you can use original markdown code block (indent by four spaces) to escape triple backticks code block.

But here triple backticks is not indented by spaces, but preceded by other non space characters (as `///` in the example).

[2020-05-27 07:26] rhymes commented on #1128
@dpshelio it should be fine now, let us know if it doesn't work for you and thanks for the request!

[2020-05-27 09:59] rhymes commented on #7973
@luchiago I'm not sure what it's supposed to happen as I'm not familiar with this extension

what should we do to fix this?

[2020-05-27 12:01] davidkudera commented on #7974
I didn't have a problem with receiving the verification email. The problem was that the verification link didn't work. Opening the link did nothing.

But it works now, so thanks.

....... There may still be some issues. I just received a welcome email from dev.to (the same email you receive when you sign up for the first time).

[2020-05-27 12:09] Toxu-ru commented on #8056
I managed to install only from: `Switch_Base_Container_to_Fedora`

In master, even using `--ignore-engines`, we come up with an error:

`LoadError: Error relocating /usr/local/bundle/gems/mini_racer-0.2.10...`

From @jdoss

works great.

[2020-05-27 12:42] zcdunn opened #8073 "Add option to turn off comments in homefeed"
**Is your feature request related to a problem? Please describe.**

I don't like seeing comments in the homefeed. I find them distracting, since seeing an out of context comment isn't useful. And when I'm in the homefeed, I scroll through to find posts to read. I'm not interested in comments yet.

**Describe the solution you'd like**

I'd like a setting to remove these comments.

**Describe altern

[2020-05-27 13:40] rhymes commented on #8073
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-27 13:56] atsmith813 commented on #7973
Closing this out, thanks @luchiago for pointing out that we are rendering the metadata!

To clarify, we are rendering the metadata - we just do it outside of the `head` tag which is the only place the Chrome add-on looks, so it doesn't show up in the add-on view. This isn't an issue.

[2020-05-27 13:56] #7973 closed

[2020-05-27 14:10] ludwiczakpawel commented on #8073
@zcdunn thanks for this feedback. I think it's valid feedback. I personally sometimes get annoyed when there's lots of long comments... I'm not a huge fan of making this a user preference (although, i'm not saying _no_) but I wonder what would you say about truncating comments after 3 lines or so? So this post:

![image](https://user-images.githubusercontent.com/108287/83031043-64e9aa00-a034-11ea-

[2020-05-27 14:11] atsmith813 opened #8075 "Create a new page type to dynamically render /welcome and /challenge"
**Is your feature request related to a problem? Please describe.**
This feature is a re-scoping of #7267. As an admin, sometimes we set up recurring threads such as the Welcome and Challenge threads. The latest of these threads can be accessed at...

https://dev.to/welcome
https://dev.to/challenge
These redirects are currently hardcoded into the app.

**Describe the solution you'd like**
Ideally,

[2020-05-27 14:13] atsmith813 commented on #7267
Hey @jitendra1998 👋! We haven't heard from you. Just a heads up that we're going to close this issue in favor of a re-scoped version https://github.com/thepracticaldev/dev.to/issues/8075 that doesn't use dynamics redirects because that hurts our SEO. If you're still interested in working on it, feel free to hop over to the new issue and drop a comment/claim it. Thanks for your help!

[2020-05-27 14:13] #7267 closed

[2020-05-27 14:14] #8021 closed

[2020-05-27 14:20] ankiiitraj commented on #7907
Hi, I am new here and I would love to take on the issue

[2020-05-27 14:23] MehediH commented on #7907
@ankiiitraj Hi Ankit! I already have a fix for the issue and just waiting for the team to give me a go ahead on this before sending a PR.

[2020-05-27 14:32] luchiago commented on #7973
@atsmith813 Okay. @rhymes we don't need to fix as the tags are being rendered correctly.

[2020-05-27 14:34] ankiiitraj commented on #7907
I am sorry, I didn't read the Solution part of you description.

[2020-05-27 14:35] luchiago commented on #7973
@atsmith813 I was wondering if those tags should be inside the head tag, because I'm not sure if search engines as Google will look for this tags outside the head tag

[2020-05-27 14:41] Amorpheuz opened #8076 "Fetching GitHub repos under Integrations results in Error 503"
**Describe the bug**
On loading up the `Integrations` tab, the `Pin a few of your GitHub repositories to your profile` returns Error Code 503 after trying to load for ~2 minutes.

**To Reproduce**
1. Login to DEV with GitHub / Have GitHub connected to the account.
2. Open Settings -> Integrations.
3. The `Pin a few of your GitHub repositories to your profile` will show a loading screen initially b

[2020-05-27 14:46] atsmith813 commented on #7973
@luchiago they do look outside of the head! Technically this pattern of rendering them outside of the `head` isn't recommended practice, but it works.

I have a feeling we did that in the past intentionally, but I'm not sure why. I'll ask around on the team to find out. If I don't come up with anything, I'll open a separate issue to move the tags.

[2020-05-27 14:48] atsmith813 commented on #7973
Actually, it seems it's because we're using article-specific content in those tags is why we're doing it that way!

[2020-05-27 15:00] rhymes commented on #8075
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-27 15:10] rhymes commented on #7907
@MehediH what feedback do you need?

[2020-05-27 15:12] rhymes commented on #7907
Sorry I didn't notice the last bit of the issue description :D

Anyway, all bugs don't need approval for a fix, in this case though we might want to hold off as we're completely redoing the editor: https://github.com/thepracticaldev/dev.to/pull/7524#issuecomment-634719256

Sorry for that @MehediH :-(

[2020-05-27 15:13] rhymes commented on #8076
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-27 15:17] MehediH commented on #7907
@rhymes I thought I had to wait for approval from the team before I went ahead and submitted a PR. Regarding the editor refactor, the v2 editor does not have a fix for this issue, and my fix actually works for both v2 and the current version of the editor.

Let me know if I should still hold off.

[2020-05-27 15:21] benhalpern commented on #8073
I'd prefer making this a user preference to default truncation, which would be really difficult to achieve effectively across all the types of content that can show up in a comment (like a picture or a liquid tag).

With user preferences I'm not sure I'd go as granular as "turn off/on comments" as I think it's more of a "card-only vs rich-feed, vs compact, etc." so the preference is a concept we c

[2020-05-27 15:21] atsmith813 opened #8079 "Create a new redirects table to hold redirects and expose it to admins"
_To improve SEO, we'd like to better handle `404` events (i.e. unpublished articles, expired listings, etc.) by redirecting to relevant content with a flash message._

### Create a new database table to hold redirects:
**Table:**
`page_redirects`

**Columns:**
- `id`: `integer`
- `old_slug`: `string`, `required`
- `new_slug`: `string`, `required`
- `overridden`: `boolean`, `required`, `default: fa

[2020-05-27 15:22] atsmith813 commented on #8079
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-27 15:27] atsmith813 opened #8080 "Create an ArticleRedirectService"
_To improve SEO, we'd like to better handle 404 events (i.e. unpublished articles, expired listings, etc.) by redirecting to relevant content with a flash message._

### Create `ArticleRedirectService`
Here is where the logic for figuring out the appropriate redirect for an article will live.

It could:
1. Find another relevant article based on the `slug`.
2. Find a relevant tag based on the `slug

[2020-05-27 15:27] atsmith813 commented on #8080
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-27 15:31] atsmith813 opened #8081 "Create a Sidekiq worker to call ArticleRedirectService when an Article is unpublished"
_To improve SEO, we'd like to better handle 404 events (i.e. unpublished articles, expired listings, etc.) by redirecting to relevant content with a flash message._

### Create redirect logic when an Article is unpublished
Whenever an article is unpublished, in the `Article` model we can kick off a background job (name TBD) with an argument of the article's `slug` to create/update a new entry in t

[2020-05-27 15:31] atsmith813 commented on #8081
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-27 15:33] atsmith813 opened #8082 "Log redirects to Datadog"
_To improve SEO, we'd like to better handle 404 events (i.e. unpublished articles, expired listings, etc.) by redirecting to relevant content with a flash message._

Whenever we do a redirect from our new `page_redirects` table, log the data to Datadog so we can track it over time to learn more about how this is being used in the wild. We could learn more about the frequency, commonly hit pages, e

[2020-05-27 15:33] atsmith813 commented on #8082
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-27 15:36] atsmith813 opened #8083 "Create redirects controller concern and handle Article redirects"
_To improve SEO, we'd like to better handle 404 events (i.e. unpublished articles, expired listings, etc.) by redirecting to relevant content with a flash message._

### Create a `handle_redirect` method in a `HandleRedirect` controller concern to include in the application controller
_Final names TBD_

This method would query the `page_redirects` table with the current slug to see if a redirect e

[2020-05-27 15:36] atsmith813 commented on #8083
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-27 15:38] atsmith813 opened #8084 "Create a JS redirect notice"
_To improve SEO, we'd like to better handle 404 events (i.e. unpublished articles, expired listings, etc.) by redirecting to relevant content with a flash message._

### Create JavaScript/UI to show redirect notice
If `?context=not-found` is a query string parameter, display a slick message explaining to the user that the content they were looking for couldn't be found and we served up the current

[2020-05-27 15:38] atsmith813 commented on #8084
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-27 15:50] aishahsofea opened #8085 "Embedding .ipynb results in a gist with github spinner"
**Describe the bug**

When embedding a Jupyter notebook cell in the article, there is a github spinner/loader at the top of the gist.

**To Reproduce**

1. Create a Jupyter gist in github.
2. Use the following format to embed the gist in the article : {% gist https://gist.github.com/CristinaSolana/1885435 file=gistfile1.ipynb%}
3. Preview article

**Expected behavior**

The spinner disappears as t

[2020-05-27 16:04] rhymes commented on #7907
@MehediH if you look at https://github.com/thepracticaldev/dev.to/pull/7524 the upload interface is quite different and yes, it's still not going to have this but at least we won't have to re-do this feature twice. so maybe hold off for that PR?

Thank you a lot BTW! :-)

[2020-05-27 16:18] vaidehijoshi opened #8089 "Leverage Announcement broadcasts"
Differentiate between `Welcome` and `Announcement` broadcasts in Admin UI (`/internal/broadcasts`).

Note: we only want to allow one `active` announcement broadcast at a time (will need to validate this upon create/update).

[2020-05-27 16:19] vaidehijoshi commented on #8089
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-27 16:29] vaidehijoshi opened #8090 "Display active announcement broadcast across site"
If an admin toggles on an `Announcement` broadcast, we need to display the currently-active broadcast across the site (for both logged-in users and non-logged-in users).

We may also want to allow admins to preview what this will look like before setting a broadcast live (should be able to do this by re-using the same code on the admin panel that we will use to render on the homepage itself).

Cur

[2020-05-27 16:30] vaidehijoshi commented on #8090
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-27 16:37] Amorpheuz commented on #7843
Noticed changes in the Stackbit UI while checking out GitHub integration. Not sure if fixed or still needs changes.

**Screenshot:**
![image](https://user-images.githubusercontent.com/22113778/83047567-2bca2d80-a066-11ea-81ff-13366797bdb7.png)

**Desktop:**
OS: Windows 10
Browser: Firefox Developer Edition and Edge Chromium
Version: 77.09b and 83 respectively

[2020-05-27 16:55] vaidehijoshi opened #8091 "Allow users to dismiss active broadcasts"
Once we implement the feature to render an "active" broadcast throughout the site (https://github.com/thepracticaldev/dev.to/issues/8090), we should also ensure that users can dismiss the currently-active broadcast by `x`-ing out of it.

We probably want to save this in localStorage, similar to how we implement the "close" functionality on the hero banner. This should be broadcast-specific; in oth

[2020-05-27 16:55] vaidehijoshi commented on #8091
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-27 16:56] #6595 closed

[2020-05-27 17:02] rhymes commented on #7843
Fixed by https://github.com/thepracticaldev/dev.to/pull/8026

Thanks @Amorpheuz!

[2020-05-27 17:02] #7843 closed

[2020-05-27 17:22] vaidehijoshi opened #8092 "Allow users to opt-out of announcements"
On the `/settings` page, we should provide an option for users with accounts to unsubscribe/turn off "announcement" broadcasts completely (similar to our checkbox for "display ads", which corresponds to `display_sponsors` on a `User`).

We could probably follow the convention and call the column on the table `display_announcements`.

[2020-05-27 17:22] vaidehijoshi commented on #8092
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-27 18:11] MehediH commented on #7907
Okay cool, I will wait! Thank you :)

[2020-05-27 18:35] IamFlowZ opened #8094 "Post Signatures"
**Is your feature request related to a problem? Please describe.**
After searching the issues with a combination of keywords and tags, I don't see anything of this ever mentioned.

Whenever you select the "Write a post" button the front matter is populated with the most basic properties needed to submit an article. Something I personally try to do, is to leave something like a signature at the end

[2020-05-27 18:59] luchiago commented on #7973
@atsmith813 Humm, now I get it.

[2020-05-27 19:28] ferminhg commented on #7905
Hi, do you have the expected solution?
IMO maybe it's not good to allow that markdown, maybe you'll open the door to XSS infections.
I proposed two possible solutions:
- Check if `data:text/html` don't have more code at the right side to execute XSS [`,` or `;` ], if you have data code, you don't allow it.
- Provide a better error message like and don't change the behaviour:
`To avoid XSS injectio

[2020-05-27 21:38] vaidehijoshi opened #8099 "Add tracking to welcome notifications"
We'll want to use the `ahoy` gem for this.

Based on [this](https://nimbleindustries.io/2018/08/30/dump-google-analytics-and-use-ahoy-to-track-your-rails-app-traffic) blog post and `ahoy`'s README, I think we'll want to use the `referrer` on the `Visit`.

[2020-05-27 21:38] vaidehijoshi commented on #8099
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-27 23:47] danascheider commented on #3530
Is this issue up for grabs still? I'm happy to take a crack at it.

[2020-05-28 00:27] vaidehijoshi commented on #8099
Hm, I spent some time investigating and playing around with this today (see my branch [here](https://github.com/thepracticaldev/dev.to/tree/vaidehijoshi/add-ahoy)). It seems like Ahoy only interprets a "visit" from hard refreshes or direct URLs. In other words, linking to another part of the site doesn't seem to be considered a "visit".

Another issue: the `Ahoy::Visit` object itself doesn't do a

[2020-05-28 00:50] ensigma opened #8101 "Post too close to edge of ipad screen"
**Describe the bug**
While visiting the dev.to homepage, as well as posts page, post elements touch the side of the website aka ipad screen.

**To Reproduce**

Go to dev.to on ipad (I used an iPad 7th gen running safari and ipados 13.5). I'm sure you can reproduce on any 10 in ipad.

**Expected behavior**

The rule of thumb is to have at least 15px or 1rem on both sides of a website.

**Screenshot

[2020-05-28 04:25] citizen428 commented on #8101
Thanks for the issue @ensigma! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need hel

[2020-05-28 04:27] citizen428 commented on #8094
Thanks for the issue @IamFlowZ! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need he

[2020-05-28 04:45] krishnadevz opened #8104 "Pin a few of your GitHub repositories to your profile An error occurred issue about sameSite set to none ."
**hello there when we go to the Settings and then Integrations tab after that I click on the Integrations then I waited till 4 to 5 minutes there then their error occurred like this 🔽**
![Annotation 2020-05-28 100845](https://user-images.githubusercontent.com/42638797/83099544-4a164480-a0cb-11ea-8572-4feb3c5ea212.png)
 and I checked browser description there in console like this 🔽
Cookie “_Dev_Com

[2020-05-28 05:38] aralroca commented on #7905
For me it make more sense to check if is inside a code block or not. For me the expected solution is to throw this error (maybe with a better message) only if the text is not inside a code block.

[2020-05-28 06:29] jaysonragasa commented on #7889
still not working
![image](https://user-images.githubusercontent.com/63760343/83106609-58765780-a0ef-11ea-911a-49c0e11bcfa5.png)
Link [https://dev.to/jarafpv/htmlagilitypack-test-be-4hhj](https://dev.to/jarafpv/htmlagilitypack-test-be-4hhj)

and one my post still not working
![image](https://user-images.githubusercontent.com/63760343/83106795-a5f2c480-a0ef-11ea-9e3e-2194a1e8a963.png)

Link [https:

[2020-05-28 07:34] citizen428 commented on #8056
Nice, I'll close this out for now as the recent PR should address this and other issues.

[2020-05-28 07:34] #8056 closed

[2020-05-28 07:37] citizen428 commented on #7974
@davidkudera Sorry, I had misread that, but good to know it worked for you now.

Resending the welcome mail is a known issue (see #193) and will hopefully be able to implement a fix soon.

I close this issue now feel free to re-open if this happens to you again.

[2020-05-28 07:37] #7974 closed

[2020-05-28 07:38] citizen428 commented on #8044
Ok, thanks for the clarification, I'm not overly familiar with Redcarpet's options.

[2020-05-28 07:41] citizen428 commented on #8029
@abenettt In the interest of keeping our issue tracker clean I'll close this now. Thanks for the report!

[2020-05-28 07:41] #8029 closed

[2020-05-28 07:43] ludwiczakpawel commented on #8073
@benhalpern yea, this kind of a toggle between different types of feed could be potentially interesting idea and agree - it could be very high level so we can always adjust it the way we want.. kind of like gmail does with display denesity: https://d.pr/v/nHoNED

Not sure where that goes into our timeline though :D

[2020-05-28 08:04] rhymes commented on #3530
@danascheider yeah, please go ahead.

[2020-05-28 09:06] rhymes commented on #8104
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-28 09:06] rhymes commented on #8104
Might be related to https://github.com/thepracticaldev/dev.to/issues/8076 - going to check ASAP

[2020-05-28 09:31] ludwiczakpawel commented on #8101
@ensigma can you try to refresh? this seems to me like some caching issue.. im not sure how to hard refresh cache on ios browser, but you try to open that in Private/Incognito mode of your browser and let me know if it still happens there?

[2020-05-28 11:46] surjithctly opened #8108 "Add Supported Markdown Syntax in Sidebar?"
**Is your feature request related to a problem? Please describe.**

I wish there was a sidebar where it shows available basic markdown syntax, so we don't have to click the `?` link each time. Something like below.

![image](https://user-images.githubusercontent.com/1884712/83137129-40f69900-a106-11ea-8940-9a7a2b6882f8.png)

**Describe the solution you'd like**

As per the image I shared

**Descri

[2020-05-28 12:31] rhymes commented on #8108
Hi @surjithctly,

we're close to merging the new editor which has inline info in the sidebar, see https://github.com/thepracticaldev/dev.to/pull/7524

It might still not cover exactly your request though, maybe you can revisit this when it's online? I'll make sure to ping you when it is

[2020-05-28 12:42] surjithctly commented on #8108
Cool. Looking forward to it.

[2020-05-28 13:52] simskij commented on #7998
I can have a stab at this. 👍

[2020-05-28 14:35] joshpuetz commented on #7998
@simskij This issue was fixed in https://github.com/thepracticaldev/dev.to/pull/8001, closing now!

[2020-05-28 14:35] #7998 closed

[2020-05-28 15:01] simskij commented on #7998
Was it? It looked like they didn’t touch the part this issue is refering to but peripheral issues.

[2020-05-28 15:03] joshpuetz commented on #7998
@simskij I think there's still room for improvement if you want to give it a go, otherwise I'll keep this issue closed. Thanks much!

[2020-05-28 16:09] shubhamjadhav36 opened #8134 "Login via Twitter issue"
When i try to login via twitter on Dev App it will open up chrome browser, then from browser I'm able to login via twitter nd able to use the Dev on web.
But however when i close the browser and open my Dev app it wont recognise me. It will again asks for login .
If i try to login again then it will open browser and cycle goes on...

[2020-05-28 16:14] rhymes commented on #8134
@shubhamjadhav36 which dev app? Android or iOS?

[2020-05-28 16:37] shubhamjadhav36 commented on #8134
Android (Dev community)

On Thu 28 May, 2020, 9:44 PM rhymes, <notifications@github.com> wrote:

[2020-05-28 16:55] fdoxyz commented on #8134
Hello @shubhamjadhav36. Would you be willing to help us by creating an issue over in [the Android app repo](https://github.com/thepracticaldev/DEV-android/issues)?

It really helps if we know your device, OS version, App version and other details. Thank you!

[2020-05-28 17:05] shubhamjadhav36 commented on #8134
Device : samsung galaxy A5
Os version : Android 8.0.0 (samsung experience version 9.0)
App version : 1.3.1

[2020-05-28 17:22] fdoxyz commented on #8134
Closing in favor of following up [here](https://github.com/thepracticaldev/DEV-Android/issues/82)

[2020-05-28 17:22] #8134 closed

[2020-05-28 18:19] vaidehijoshi commented on #8099
Some updates after I dug into the source code and played around with this more. Unfortunately, the documentation doesn't go into much detail and just lays out the methods you can use, so it's hard to know if there is a workaround available for these things or not.

* Ahoy's concept of a "visit" that it can track does not seem to include visits to the site from within the site itself. I threw some

[2020-05-28 18:39] ayushmxn opened #8142 "Further customisation of UI"
**Is your feature request related to a problem? Please describe.**

This is not related to a problem. Currently there are a few ways to change some aspects of the [DEV user interface](https://dev.to/settings/ux). For example, if I want to hide everything except the search bar section and the feed, I should have the ability to do so.

**Describe the solution you'd like**

I propose to add the optio

[2020-05-28 19:43] benhalpern commented on #8073
Yeah, the gmail example is perfect.

[2020-05-29 00:41] jacobherrington commented on #8142
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-29 03:55] icncsx commented on #7760
Hello, team! Can I claim the issue? I'd like to take a stab at it (😀).

[2020-05-29 04:18] icncsx commented on #7606
Hello, team! If this issue hasn't already been claimed, I'd like to take a stab at it.

[2020-05-29 04:28] icncsx commented on #7886
@benhalpern Hi, Ben! I'd like to ask for you some questions before taking a stab at it. I'm assuming that the pull to refresh feature applies to mobile/tablet only. Does this mean that for testing, we need a mobile phone to visit localhost?

[2020-05-29 06:08] kouul opened #8154 "Disable Ctrl+S on New Post page"
**Is your feature request related to a problem? Please describe.**
It gets a little annoying when pressing Ctrl + S and the 'save html page box'  pops up from the browser.

**Describe the solution you'd like**
It would be good to save our content when writing a post **at the time of writing** and then, **disable the Ctrl + S feature**.

[2020-05-29 06:10] citizen428 commented on #8154
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-29 08:24] madzadev opened #8155 "Real-time push notifications"
**Is your feature request related to a problem? Please describe.**

Currently the new notifications are not shown in real-time.
I have to refresh the page to get them ASAP.

**Describe the solution you'd like**

- User gets notified **even if inactive in DEV**.

![notif](https://user-images.githubusercontent.com/42511917/83236795-c593f680-a19c-11ea-9d75-6815b70e0af8.png)

- User sees notification

[2020-05-29 08:39] ludwiczakpawel commented on #8053
yea, the media queries we use seem to be pretty random/hacky to be honest. i have a PR draft where I introduce much more standard media queries as well as layout updates to other views (including the article view) but it's still quite far away on schedule, probably 3-4 weeks.

Until then, honestly i'm not sure what should be the ideal solution here - i think whatever quick fix we implement here, w

[2020-05-29 09:03] madarsbiss commented on #8154
@kouul Drafts already have been auto-saved. You don't need to do Ctrl + S.
If you close New Post page with a content, get power cut, or even log out and log back in, the content you wrote will still be there.

[2020-05-29 09:07] madarsbiss commented on #8108
@rhymes @surjithctly nice feature, agree. Especially for new comers, as regular users already know it head to toe xdd

[2020-05-29 09:11] ledestin commented on #3583
@rhymes thanks, figured that out.

Another question. Can mentions even be created by moderators, given that moderators just choose a response template and the comment text is taken wholly from the response template?
https://github.com/thepracticaldev/dev.to/blob/master/app/controllers/comments_controller.rb#L131

[2020-05-29 09:14] kouul commented on #8154
@madarsbiss Ok. My point was mostly on Ctrl + s part. After writing a lot, we have the tendency to press Ctrl + s to save it(in my case at least). So, it could be disabled; when user press Ctrl + s, instead of opening the save html page box, it could notify the user that their content is already saved.
Could bring better user experience  imho..

[2020-05-29 09:25] madarsbiss commented on #8154
@kouul I feel you, it's more about breaking habits :)

[2020-05-29 09:39] Ridhwana commented on #7606
Yeah sure @icncsx, I'll assign you the issue 😊

[2020-05-29 09:41] Ridhwana commented on #7760
Sure @icncsx - assigning you this one too 😊

[2020-05-29 09:48] Ridhwana commented on #8155
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-29 10:14] ledestin commented on #3583
@rhymes seems that mentions by moderators are an edge case. As I understand, response templates aren't modified on each use, and so, if a user was mentioned in the template, and the reply was to that user, this edge case would happen.

[2020-05-29 12:28] Zhao-Andy commented on #3583
@ledestin Moderators can submit comments as themselves or as [Sloan](https://dev.to/sloan) (our mascot and generic moderator of sorts). When they're submitting comments as themselves, they can modify the response template.

If they're submitting the comment as Sloan, then they can't modify the response template. Those are templates the DEV team has made. If there was a mention in that made-by-us r

[2020-05-29 12:33] zcdunn commented on #8073
I'd definitely prefer a user preference to truncation. When I'm looking at my feed, I'm just looking at headlines and opening them in new tabs, so any comments are a distraction.

Thanks yall

[2020-05-29 13:01] lomby92 opened #8158 "PWA error on icons"
**Describe the bug**
The PWA app is not installable since the `manifest.json` has some errors on links used for icons.

**To Reproduce**
Go with Chrome (tested on Android) into `https://dev.to` and see that the prompt for install the PWA does not appear

**Expected behavior**
The prompt should be visible

**Additional context**

I have tried to directly access the second part of the URL of the 512

[2020-05-29 15:06] jdoss commented on #7663
Hey @FarazPatankar give our revamped container setup a try. It should fix this issue. I am going to close this issue for now, but if you have any other problems with our container setup, please open a new one.

[2020-05-29 15:06] #7663 closed

[2020-05-29 15:22] FarazPatankar commented on #7663
@jdoss I think you may have mentioned the wrong person. 😛

[2020-05-29 15:26] jdoss commented on #7663
@FarazPatankar Woops! My bad! Too much multi-tasking and not enough coffee on my end. My apologizes. I was moving too fast this morning.

[2020-05-29 17:17] atsmith813 commented on #8099
Hmmm 🤔 that's tough. I don't feel I have much to add here, but one thing to note is the beautiful DEV buzz word - _caching_ :trollface:.

Any sort of tracking on the "receiving end" is difficult because, on average, 85% of web traffic doesn't hit the origin server to be tracked - the content was found in the cache at the edge (Fastly).

[2020-05-29 17:21] cardoso commented on #1679
I'm reproducing this in this blog post: https://dev.to/cardoso/how-to-build-a-twitch-clone-game-live-streaming-app-for-ios-5f0p

Even got a comment from a reader about it.

[2020-05-29 17:51] jacobherrington commented on #8158
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-29 18:14] abhisheksurve45 opened #8164 "Reading list count in the homepage should reflect only non archived items"
**Describe the bug**

Reading list count is not updating!

The reading list count is showing 7.

![image](https://user-images.githubusercontent.com/36799020/83291167-8948b080-a205-11ea-9650-08369124f505.png)

However I have only 2 items in the list!

![image](https://user-images.githubusercontent.com/36799020/83291276-b6955e80-a205-11ea-8ff8-fd5ac1f5bcce.png)

Not sure if it a cache issue though!

[2020-05-29 18:14] atsmith813 opened #8165 "Make liquid tags role and context specific"
_We are building a liquid tag where permitted authors can embed a button that users/readers can click to share the email address associated with their DEV account with the author - almost like a subscribe button._

### Create a new role for the liquid tag
- At first, this liquid tag will be for users with this new role.
- Make liquid tags have defined roles.
- Remove `liquid_tags_used` from `Artic

[2020-05-29 18:14] atsmith813 commented on #8165
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-29 18:17] jacobherrington commented on #8164
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-29 18:20] jacobherrington commented on #8164
It seems like, if the posts were in your reading list for quite some time, it might *not* be an issue with our caching.

I'm not experiencing this issue on my machine (Ubuntu + Firefox/Chrome),

[2020-05-29 18:29] abhisheksurve45 commented on #8164
@jacobherrington  Didn't notice the posts were archived by me!
However the Reading list count shouldn't consider the archived list count is what I feel.

![image](https://user-images.githubusercontent.com/36799020/83292793-5b18a000-a208-11ea-8dda-f96c7b127e3f.png)

[2020-05-29 18:38] #8089 closed

[2020-05-29 18:53] jacobherrington opened #8167 "Save Button doesn't behave as expected"
**Describe the bug**

Sometimes the save button text doesn't reflect the status of the article. For example, when the article is saved sometimes the button text reads: `Save`. Other times, the article has been unsaved, but the text reads: `Saved`.

It seems like this has to do with the `onMouseout` action in `SaveButton.jsx`, but I haven't investigated it much beyond that!

**To Reproduce**

1. Cl

[2020-05-29 19:00] nickytonline commented on #8167
I think this is somehow related to the `onBlur` and `onFocus` (for a11y) events.

[2020-05-29 19:03] atsmith813 opened #8168 "Create a user subscription liquid tag"
_We are building a liquid tag where permitted authors can embed a button that users/readers can click to share the email address associated with their DEV account with the author - almost like a subscribe button._

## Create the new liquid tag
The liquid tag will accept a param of some CTA text so it will be something along the lines of (name TBD):

[code]

Which will render the CTA text, a note b

[2020-05-29 19:03] atsmith813 commented on #8168
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-29 19:05] nickytonline commented on #8164
That's a good point @abhisheksurve45. I agree that the list count should be just non-archived posts in the reading list.

[2020-05-29 19:06] atsmith813 opened #8169 "Add subscriptions to the dashboard"
_We are building a liquid tag where permitted authors can embed a button that users/readers can click to share the email address associated with their DEV account with the author - almost like a subscribe button._

### Expose submitter emails to article authors
In the user's dashboard add a new tab for email submissions that shows the articles where the author included the button and then shows al

[2020-05-29 19:06] atsmith813 commented on #8169
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-29 19:08] abhisheksurve45 commented on #8164
@nickytonline Yeah. Do I need to create a seperate issue for the same, or edit the title for this one?

[2020-05-29 19:08] #8069 closed

[2020-05-29 19:11] atsmith813 opened #8170 "Create a new database table to hold subscriptions"
_We are building a liquid tag where permitted authors can embed a button that users/readers can click to share the email address associated with their DEV account with the author - almost like a subscribe button._

**We'll likely want to explore a polymorphic set up to have this fit with comments too**
- Model
- Migration
- Specs
- Associations
- Validations

[2020-05-29 19:11] atsmith813 commented on #8170
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-29 19:13] atsmith813 opened #8171 "Create a new endpoint to handle user subscriptions from the new liquid tag"
_We are building a liquid tag where permitted authors can embed a button that users/readers can click to share the email address associated with their DEV account with the author - almost like a subscribe button._

### New endpoint
Authenticate the user and record their opt-in to the DB only once for each piece of content. Don't forget rate-limiting and Fastly safe list of params.

[2020-05-29 19:26] samrith-s opened #8172 "Trying to pin GitHub repos but getting an error in the network call."
**Describe the bug**

When in the Integrations page, trying to add GitHub repo it loads forever and then errors out.

**To Reproduce**

1. Go to Integrations.
2. Wait for GitHub repository block to load.
3. It loads for a while, and then errors out with the error message from the screenshot.

**Expected behavior**

Should be able to view repositories and pin the to the profile.

**Screenshots**
![

[2020-05-29 19:32] hanishaDRaheja commented on #8167
Hello team, I am new to dev.to and this issue seems to be a good start for me to contribute, is this issue claimed? If not, I would like to solve it.

[2020-05-29 19:49] fdoxyz commented on #7886
Hi @icncsx! I'm just dropping in to say this feature (as far as I can tell) will only "appear" on mobile, but I don't think it's necessary to work on a custom version of our mobile apps to try it out.

I wasn't able to make it work in Chrome but with Firefox developer tools you can simulate the gesture with a click&drag (see GIF below). This will make it way easier to work on locally.

With that b

[2020-05-29 19:55] abhisheksurve45 commented on #8164
@nickytonline @jacobherrington  If you guys think this could be a potential improvement to the interface, I would like to work on this 😄

[2020-05-30 05:00] icncsx commented on #7760
Yay! Great to see you again :grinning:

[2020-05-30 05:03] icncsx commented on #7886
@fdoxyz, thank you so much for extending a hand :smiley:. I'm going to check out the Dev tools now and also take a hard look at `pulltorefresh.js`. You will hear back from me!

[2020-05-30 06:12] emmensbilly16 opened #8180 "Technische dienstverlener van Acer Laptop (klantenondersteuning van Acer)"
Acer Laptop is een van de beste laptops ter wereld. En als u een Acer-laptop gebruikt en u problemen ondervindt met uw laptop, zoals uitschakelen, met een blauw scherm op uw laptop. Dan kunt u contact met ons opnemen omdat wij de derde partij zijn van Acer support. We zullen alle problemen met uw Acer-laptop oplossen. Ons [[telefoonnummer Acer belgie]](https://acer.klantenservicebelgium.be/) is +3

[2020-05-30 07:48] surjithctly commented on #8108
@rhymes I can see the new UI now. And a lot of whitespace in the right hand side, perfect for our feature. I have gone ahead and created mockup along with a show hide feature (using details /summary) so that its unobstructed and the main area looks clean & minimal by default.

![image](https://user-images.githubusercontent.com/1884712/83322735-d2d1e380-a277-11ea-88e9-e88bdb4d8001.png)

@ludwiczakp

[2020-05-30 09:15] Bam92 commented on #8053
1366 x 768 (Windows 10, Chrome Version 81.0.4044.138 (Build officiel) (64 bits))

[2020-05-30 09:33] rhymes commented on #8172
Hi @samrith-s, I'm going to close this in favor of https://github.com/thepracticaldev/dev.to/issues/8104 and https://github.com/thepracticaldev/dev.to/issues/8076

Please, feel free to leave a comment there as well.

[2020-05-30 09:33] #8172 closed

[2020-05-30 09:33] rhymes commented on #8167
@hanishaDRaheja please go ahead, I'm going to assign you to the issue

[2020-05-30 09:35] rhymes commented on #8164
@abhisheksurve45 I'm going to tag our designers @lisasy and @ludwiczakpawel to gather their opinion on this matter, before you start working a feature we might not end up including :D

[2020-05-30 09:51] #8180 closed

[2020-05-30 10:45] Cry0nicS opened #8182 "Broken style on Markdown and Liquid tags page"
The new design has some odd colors mixed together. As a result, the code displayed on the "Markdown" help page is not visible when using the Night Theme.

Same happens when selecting the "Liquid Tags" help page.

**To Reproduce**

1. Go to "Write a post"
2. Type something in the body until the "Editor Basics" recommendation shows up on the right side
3. Select "Markdown"

**Expectations**

Text co

[2020-05-30 11:08] TaigaMikami opened #8183 "Type swapping between tag and tag_list in DEV API"
**Describe the bug**

This is about the DEV API.
The tag and tag_list types of articles that can be obtained with `GET /articles` and `GET /articles/:id` seem to have been swapped.

Is this the right behavior?

**To Reproduce**
1. Send get requests `GET /articles` and `GET /articles/:id` with curl.

**Expected behavior**
I think it should be unified into one or the other.

**Screenshots**
`GET /ar

[2020-05-30 12:37] emgoto opened #8184 "Badges no longer have a transparent background"
**Describe the bug**
All badges now have a white background. This is fairly noticeable if you are using DEV in dark mode.

**To Reproduce**

1. Go to a profile.
2. View badges in sidebar of profile.
3. See that badges have a white background.

**Expected behavior**

The badges should have a transparent background.

**Screenshots**

<img width="175" alt="image" src="https://user-images.githubuserco

[2020-05-30 13:52] davinkevin opened #8185 "Adapt ratio for asciinema tag or support custom ratio parameters"
**Is your feature request related to a problem? Please describe.**

When using an asciinema tag, the heigh/width is hardcoded and doesn't match the terminal size used during recording.
For example, this https://asciinema.org/a/335281 one, when embedded has a strangely rendered when showing `vim`

![image](https://user-images.githubusercontent.com/1970922/83330016-d9b72100-a28c-11ea-8ad7-801d9d9c99

[2020-05-30 14:16] davinkevin commented on #8185
In some context, this leads to totally wrong result:

![image](https://user-images.githubusercontent.com/1970922/83330653-dfaf0100-a290-11ea-9c31-b0859eeb28d4.png)

When embedding this one https://asciinema.org/a/335296

[2020-05-30 14:27] colorfusion opened #8186 "Windows Installation fails on Ruby on WSL step"
**Describe the bug**

Setting up DEV on Windows 10 fails at the step `Ruby on WSL` when `$(cat .ruby-version)` is called as `.ruby-version` does not exist.

**To Reproduce**

1. Follow [Installation for Windows](https://docs.dev.to/installation/windows/) in DEV docs
2. Run line 11 / 12 for installing ruby
3. Observe that `.ruby-version` file does not exist.

**Expected behavior**

`$(cat .ruby-ver

[2020-05-30 15:12] rhymes commented on #8182
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-30 15:24] rhymes commented on #8183
Hi @TaigaMikami, thanks for raising this issue. This is a known problem and it won't likely be fixed until we developed a v1 of the API.

You can find related discussions here:

- https://github.com/thepracticaldev/dev.to/issues/2996
- https://github.com/thepracticaldev/dev.to/issues/4637

Closing this as a dupe, you're welcome to add your contribution to https://github.com/thepracticaldev/dev.to/

[2020-05-30 15:24] #8183 closed

[2020-05-30 15:29] rhymes commented on #8184
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-30 15:30] rhymes commented on #8185
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-30 15:32] rhymes commented on #8186
@colorfusion the documentation is not super clear on this part I guess, but you have to be in the repository's clone folder for that step to work. This is the `.ruby-version` file: https://github.com/thepracticaldev/dev.to/blob/master/.ruby-version

[2020-05-30 15:33] rhymes commented on #8186
It's weird, the documentation assumes you've already downloaded the repo even though it tells you to download the repo _at the end_ of the install process

[2020-05-30 15:37] moopet opened #8187 "Links to comments on articles aren't real links"
**Describe the bug**

The featured comments on feed articles are contained in a `div` element using the `cursor-pointer` utility class to mimic a link's style, and javascript to redirect the page, but this breaks browser functionality.

* You can't bookmark or open the link in a new tab even though it's masquerading as a link.
* You can't see where the link would take you because the browser's URL

[2020-05-30 17:30] simskij opened #8188 "Scaling issue of .user-profile-header"
**Describe the bug**

The sizing units used for the user profile header breaks the box as the window grows horizontally. At 1600xN and less it looks as I assume the design intends it to look, but as the window width grows, it becomes more and more broken, until it breaks in the middle of words (in this case, my surname).

Attaching a few different window widths below that illustrate the issue:

1.

[2020-05-30 17:35] henrynguyen6677 commented on #6563
[code]
You **need config environment variables** ex: **POSTGRES_PASSWORD=postgres** at file docker-compose.yml
Link guide at https://docs.docker.com/compose/environment-variables/

[2020-05-30 18:06] rhymes commented on #8187
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-30 18:07] rhymes commented on #8188
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-30 22:22] gaganlokesh opened #8191 "Project setup: Database seeding fails"
**Describe the bug**

I was trying to setup my development environment and ran into an issue while executing `rails db:setup`. The issue appears to be in the seeding code, one of the methods is being called on a `nil` class, which is causing the seeding process to fail.

Facing the same issue on GitPod as well.

**To Reproduce**

1. Clone the project and perform initial config setup
2. Run `bin/se

[2020-05-31 10:31] Ridhwana commented on #8191
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-31 12:12] simskij commented on #8188
I can look at it myself. 👍

[2020-05-31 18:24] DRBragg commented on #8073
I definitely agree with @zcdunn that the comments can be a distraction and I'd love the ability to turn the feature off. I think @benhalpern has the right idea about having multiple preference options for how the comments do or do not display. @ludwiczakpawel's example of the Gmail density setting is spot on.

This comment is basically a long winded way of me following this issue cause I'd love to

[2020-05-31 18:30] #8191 closed

[2020-05-31 20:30] benhalpern opened #8206 "Dark theme code blocks light with light text"
<img width="904" alt="Screen Shot 2020-05-31 at 4 27 55 PM" src="https://user-images.githubusercontent.com/3102842/83361976-be671700-a35b-11ea-9ece-8376b086113a.png">

## Reproduce:

Visit `/new`, create a code block, hit preview.

I believe this is because `pre code` has background of `var(--base-100)`.... which is light on dark themes.

I _believe_ this could be changed to `transparent` but I'm

[2020-06-01 04:04] citizen428 opened #8207 "Introduce an ApplicationForm base class"
## Background

We received a [community PR to introduce form objects](https://github.com/thepracticaldev/dev.to/pull/7979) recently. While people seem to generally be on board with the pattern, several expressed concerns about introducing an external dependency for this task.

## Proposed solution

The solution suggested in the PR was adding an `ApplicationForm` base class to our codebase, which i

[2020-06-01 06:14] vigneshwaran-natarajan opened #8208 "Updated Twitter user name not getting reflected in the profile"
**Describe the bug**
I have renamed the twitter user name, but I couldn't see that change in my dev profile, so removed my twitter connection with dev & revoked the application access from the twitter settings & re-authenticated the dev app with the twitter to log in, but still I don't see my updated twitter username in the profile page. (Please let me know if there is any other way to update the

[2020-06-01 06:27] davinkevin commented on #7596
+1 on this, other public blog platforms allow this, and this was one of the point which could leads my company to choose medium instead of dev.to.

[2020-06-01 07:45] rhymes commented on #8188
@simskij thanks, I've assigned you to the issue

[2020-06-01 07:49] rhymes commented on #8206
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-01 07:50] citizen428 commented on #8208
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-01 07:50] ludwiczakpawel commented on #8164
Yea, I 100% agree. The number should be only about non-archived articles on the _Reading List_. I think you can definitely start working on this 👍

[2020-06-01 08:56] Amorpheuz commented on #8206
I would like to pick this up! The fix should also solve #8182

[2020-06-01 08:58] dnutiu opened #8212 "Feature request: opt-in hide profile and posts from search engines"
Hello

**Is your feature request related to a problem? Please describe.**

I'd like to request a privacy wise feature in which an user can request to hide it's account and post from being indexed by search engines.

**Describe the solution you'd like**

A checkbox in the Settings with a text saying something like "Prevent search engines for indexing your profile and posts... you may get less views

[2020-06-01 09:41] rhymes commented on #8206
Thank you @Amorpheuz, I'll assign the issue to you

[2020-06-01 09:42] rhymes commented on #8212
Hi @dnutiu, I'm going to close this as a duplicate of https://github.com/thepracticaldev/dev.to/issues/3252

Could you add your comment there as well? It'd be awesome!

thank you!

[2020-06-01 09:56] dnutiu commented on #8212
Hi @rhymes, I'm not sure if this is a duplicate of #3252.

The setting I've described would discourage search engines to index your profile, while #3252 describes a soft deletion of the user's account.

[2020-06-01 09:59] rhymes commented on #8212
@dnutiu my bad :-) I thought the other one was implying this.

[2020-06-01 09:59] rhymes commented on #8212
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-01 11:17] rhymes commented on #8099
I have to admit that by lacking the context of the effort behind this issue and not being familiar with ahoy at all, I'm not sure what's going on or if the gem is behaving differently from what @vaidehijoshi already described.

It also depends if the goal here is just to track welcome notifications or to start replacing Google Analytics (yay!) with something internal.

This is odd, as internal req

[2020-06-01 11:22] Ridhwana commented on #7280
On further Investigation of the digest email, I decided to make the email dynamic using language prompts from the Site Config, instead of allowing the user to add custom html at the end of the email.

I think for now this works based on looking at thismmalife as an example. If we decide later on it needs to be more configurable, we can tackle it then.

[2020-06-01 11:25] ludwiczakpawel commented on #8108
We definitely have a plan to add actual toolbar in the editor. Even with that, simple and small help section in the sidebar would be very useful. I'll try to build it as soon as possible but hard to say when either of these will actually happen.

[2020-06-01 12:22] icyJoseph commented on #8104
Bumping. Any pointers on how to fix this?

[2020-06-01 12:32] rhymes commented on #8104
Hi @icyJoseph, sorry, I just confirmed it's a server side issue, we're investigating. Will let you know when it's fixed

[2020-06-01 13:35] Amorpheuz opened #8216 "Certain Long inputs in Editor results in double scrollbar"
**Describe the bug**
A double scrollbar gets generated if you copy-paste a large amount of text, add a new line within the last four character spaces in the editor and other random behavior. On other occasions, it tends to work flawlessly. I think it has something to do with the `height`  logic for the textarea, but I haven't been able to dig deeper. Check the attached gif for a demo.

**To Reprod

[2020-06-01 13:55] leewynne opened #8218 "Podcast listening progress tracking, server-side."
**Is your feature request related to a problem? Please describe.**

Nope!

**Describe the solution you'd like**

I would to ensure that whenever I am listening to a Podcast, on any device, I won't lose progress either when iOS tries to reclaim resources from an idle app or when switching between web and mobile. The podcast listening bar is always persistent when I login from any device.

**Describ

[2020-06-01 13:56] rhymes commented on #8216
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-01 13:57] rhymes commented on #8218
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-01 16:45] fdoxyz commented on #8158
Thank you again for the report lomby92. I'm checking this out now and it does seem like you're right about the problem in the manifest. I'll follow up on this issue soon.

[2020-06-01 17:56] #7280 closed

[2020-06-01 19:17] pkfrank opened #8223 "Sponsor logos not appearing correctly on dark themes"
**Describe the bug**
For homepage Gold sponsors, we normally use the "nav image" logo on the homepage.  For UX themes with a dark background, we should be using the "dark nav image."  This used to be work but now appears to be broken.

**To Reproduce**
Use a theme with a dark background and view the homepage.  Screenshots below.

**Expected behavior**
Dark nav image should be used for dark-backgro

[2020-06-01 21:53] #8223 closed

[2020-06-02 01:04] twhite96 commented on #2470
@nickytonline okay. Was interviewing there for a bit. Will spin this up in Docker and work on it.

[2020-06-02 07:25] citizen428 commented on #8053
@ludwiczakpawel Around 2018 1366 x 768 was the most common laptop resolution, especially in the lower price segment. With our current CSS it's just wide enough to make it past the media query at 1365 but not enough to actually show the numbers.

But I agree if we're currently working on a big overhaul of the media queries, an intermediate fix may not be worth it.

@Bam92 Looking at our current CSS

[2020-06-02 07:38] Bam92 commented on #8053
@citizen428: no matter.

[2020-06-02 07:38] #8053 closed

[2020-06-02 07:54] citizen428 commented on #8085
@aishahsofea The gist you linked doesn't seem to include an IPython notebook. Do you have one that makes it easier to reproduce this?

[2020-06-02 08:16] citizen428 commented on #8085
When reproducing this locally I see both XML parsing errors (from Python):

[code]

and

[code]

[2020-06-02 09:05] rhymes commented on #8184
Closed by https://github.com/thepracticaldev/dev.to/pull/8226

[2020-06-02 09:05] #8184 closed

[2020-06-02 17:55] madarsbiss opened #8238 "Text out of bounds in Search results feed"
**Describe the bug**

Today I was using DEV search and noticed text out of bounds in one of the results.

**To Reproduce**

Search: https://dev.to/search?q=project%20ideas
Scroll down till article below shows up (should be around 20th-25th result).

**Screenshots**
![Screenshot](https://user-images.githubusercontent.com/42511917/83550981-5efe3800-a510-11ea-98c2-b33f0fd6c4bb.png)

**Desktop (please

[2020-06-02 18:45] jcohen-hdb commented on #6914
+1 to this issue. I delete my old post and posted a new one without a cover photo.

[2020-06-02 18:51] c0d3b0t opened #8240 "The cover image of the draft post is not being removed"
**Describe the bug**

Can not remove the cover image of the draft post.

**To Reproduce**

1. Create a draft post with uploaded cover image.
2. Click the "Save draft" button.
3. Click the "Click to edit" link.
4. In the editor click the "Remove" link
5. Click the "Save draft" button
6. See that the cover image has not been removed actually

**Expected behavior**

If I clicked the "Remove" link to

[2020-06-02 20:46] Ridhwana commented on #8238
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-02 20:47] Ridhwana commented on #8240
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-02 21:44] #8070 closed

[2020-06-02 22:22] AtLeastITry commented on #243
Has there been any updates on this?

[2020-06-03 02:07] seangwright commented on #8216
I'm seeing this same problem.

The change to the editor UI was nice in that it made it easier to switch between edit/preview mode and also upload images.

However this double scrollbar makes for a worse user experience because now I have to scroll the inner container before the outer container starts to scroll.

I'm not sure what causes this, but sometimes I have to scroll a bunch on an already fu

[2020-06-03 03:35] citizen428 opened #8243 "Introduce Vault"
Add the [vault-rails gem](https://github.com/hashicorp/vault-rails) for secret management with [HashiCorp Vault](https://www.vaultproject.io/).

[2020-06-03 03:35] keyuls commented on #4048
What is the update on this feature?

[2020-06-03 03:55] citizen428 opened #8245 "Generalize Devise mailer config"
Replace hardcoded `config.mailer_sender` in devise initializer with a configurable one.

[2020-06-03 04:34] citizen428 opened #8247 "Make OpenSearch description configurable"
We haven an [OpenSearch description file](https://developer.mozilla.org/en-US/docs/Web/OpenSearch) in `public/search.xml`. This is currently hard-coded to DEV specific values and several attributes should be generalized for other communities.

[code]

[2020-06-03 06:43] Amorpheuz commented on #8206
Hey! I would like some help understanding the `--base` color in different themes, like what it signifies, what it should be used for, etc. I did go through https://dev.to/page/crayons for colors but couldn't find any information. Since the new editor follows the new Design System, it would allow me to select the correct color (if present within the system) for the same.

Currently, the background

[2020-06-03 07:06] ledestin opened #8248 "Improve developer experience by allowing code errors surface"
**Is your feature request related to a problem? Please describe.**

While working on request specs of comments controller, I found out that exceptions wouldn't surface, when running request specs. The culprit turned out to be `resque StandardError`:
https://github.com/thepracticaldev/dev.to/blob/master/app/controllers/comments_controller.rb#L114

The problem here is two-fold:
1. To get to the erro

[2020-06-03 07:08] Ridhwana commented on #8216
@ludwiczakpawel do you have any insights on what can be causing this? I'm struggling to replicate it.

[2020-06-03 07:14] ledestin opened #8249 "Improve documentation to reference bin/setup"
**Is your feature request related to a problem? Please describe.**

After a fork sync, there are steps that always need to be performed, and I'd like that to be automatic.

Namely:
[code]

**Describe the solution you'd like**

Add a script to run the commands above.

**Describe alternatives you've considered**

I can make a script just for myself, but others wouldn't benefit from that. As for the

[2020-06-03 07:30] Ridhwana commented on #8248
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-03 07:32] Ridhwana commented on #8249
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-03 07:37] Ridhwana commented on #8249
@ledestin do you feel that our `bin/setup` is not sufficient in this case?

[2020-06-03 09:47] ledestin commented on #8249
@Ridhwana oh, my fault for not knowing `bin/setup` does that. Thanks!

[2020-06-03 09:50] Ridhwana commented on #8249
No problem 😊

[2020-06-03 09:59] ledestin commented on #8249
@Ridhwana maybe reference `bin/setup` in docs? https://docs.dev.to/getting-started/workflow/
and https://docs.dev.to/getting-started/syncing/

[2020-06-03 10:10] Ridhwana commented on #8249
I do see that it is referenced at some points in the doc, but as you mention it's not really in a concise way within the appropriate getting started flow areas.

I'll open up this issue again, and the person taking on this issue can take a stab at making the documentation more explicit for the `bin/setup`.

[2020-06-03 10:12] Ridhwana commented on #8249
Feel free to assign yourself if this is something you would like to work on as well :)

[2020-06-03 10:51] Muhimen123 opened #8251 "Grammarly isn't working in the updated post editor"
**Describe the bug**
Since the recent update of the post editor, I am not getting any support from Grammarly. Grammarly worked just fine in the previous editor.

**To Reproduce**
Have Grammarly browser extension enabled and then open the post editor.

**Expected behavior**
Expected to get spelling correction, phrase suggestion, and all that stuff that Grammarly has to offer.

**Desktop (please com

[2020-06-03 11:41] ludwiczakpawel commented on #8216
Hey, looks like it's caused by actually displaying scrollbar - macOS by default doesn't display scrollbars (there's a setting in System Preferences for that). Obviously it's a bug and I'm about to make a PR fixing this issue.

![image](https://user-images.githubusercontent.com/108287/83632542-c0211c80-a59f-11ea-84a9-71e1f7329cb6.png)

Thanks for reporting!

[2020-06-03 11:48] Ridhwana commented on #8251
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-03 12:49] #8247 closed

[2020-06-03 12:50] #8216 closed

[2020-06-03 18:12] sachinmukherjee opened #8255 "Docker installation error (pull access denied for devto-web)"
While running `bin/container-setup` got the following error `ERROR: pull access denied for devto-web, repository does not exist or may require 'docker login': denied: requested access to the resource is denied`

OS: Ubuntu 16.04 LTS
Docker version: 19.03.8

[2020-06-03 18:15] ogrotten opened #8256 "Main page <footer> element "Problem"."
Because of continuous loading, the footer runs away whenever you get there.

**_Except . . ._** the problem is that the links and info in the footer are not available anywhere else on the `/` page.

For example: To get here to make this report, I manually entered `/about` into the address bar, so I could get the footer element to click "Contact".

[2020-06-03 18:19] Ridhwana commented on #8255
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-03 18:22] Ridhwana commented on #8256
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-03 18:30] Ridhwana commented on #8255
@citizen428 do you have any ideas on what may be the cause of this?

[2020-06-03 20:07] ogrotten commented on #8256
I see now that those links are in the `More` of the userblock in the upper left, but I obviously missed it.

If it were me/my site, I'd probably start by trying the links `About`   `Privacy Policy`  `Terms of Use`   `Contact`   `Code of Conduct` in a small block (small text, no more than 3 lines height) between that `More` element and the Tags block.

[2020-06-03 20:31] icncsx opened #8261 "Search on article body text not working on local host"
**Describe the bug**

Query search for author name and username works but does not work for body text. I'm wondering if it's something we have to configure on our end w/ elasticsearch? For all I know, this could be the intended behavior, so please advise!

**To Reproduce**

Fork master, `bin/setup`. I got an error, so I ran `bin/rails s -p 3000` and everything was fine. Visit localhost:3000. Go se

[2020-06-03 20:47] vaidehijoshi opened #8262 "Hide site-wide messaging for opted-out users"
Once we have [added a column](https://github.com/thepracticaldev/dev.to/issues/8092) to track whether a user has opted-out of site-wide announcements messaging, we should use that flag to ensure that logged-in users who have announcements turned off should not see any site-wide messaging.

[2020-06-03 20:48] vaidehijoshi commented on #8262
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-06-03 21:15] #8068 closed

[2020-06-03 21:31] Ridhwana commented on #8261
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-03 22:32] maestromac commented on #7938
Hello @shawnwildermuth , the reason that your article is not imported is that it contains liquid variable syntax (`{{ something }}`), a feature we disabled. Since that is a valid code within a code-block, it should be ignored. We currently don't have that logic in place yet but it can be on our upcoming roadmap.

[2020-06-03 22:52] icncsx commented on #8238
Looks like the issue is the non-breaking space: `&nbsp`.

![Screenshot from 2020-06-03 12-53-40](https://user-images.githubusercontent.com/60417145/83678999-a3d7ac80-a5ac-11ea-97d4-4d9b55b81324.png)

@Ridhwana, it looks like the overwhelming majority of articles don't have that issue. Do we want to handle this server side or client side?

If we want to change it client side, it's a pretty trivial

[2020-06-03 23:22] shawnwildermuth commented on #7938
Thanks, I dove into the source to figure out how to fix it, but I'm not a ruby guy so I gave up. Unfortunately this means all my Vue talks are going to be missing from your platform. My guess is that I'm not nearly the only one running into this (which is why Vue is so sparse I would guess).

[2020-06-04 03:17] icncsx opened #8264 "Write a post button overflowing the container"
**Describe the bug**

The `button.crayons-btn` is overflowing its container between 650 and 700px. We need to change either the padding or font-size if we want to maintain the navbar height.

![button-overflowing](https://user-images.githubusercontent.com/60417145/83710888-d060e800-a5ef-11ea-9180-f43853255239.png)

**To Reproduce**

Visit [DEV](https://dev.to/). Shrink view-port until you see the

[2020-06-04 05:56] madarsbiss commented on #8238
@icncsx @Ridhwana as I see this, all the content from text editor should always be processed (properly formatted) at post stage.. That would store the data properly and ultimately avoid cases like these in future..

[2020-06-04 07:22] citizen428 commented on #8264
Thanks for the issue @icncsx! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help

[2020-06-04 07:22] citizen428 commented on #8264
Maybe @ludwiczakpawel wants to weigh in here.

[2020-06-04 07:27] citizen428 commented on #8261
Where did you get the error during setup? Did the docs get indexed to Elasticsearch? You can try it out in a Rails console:

[code]

If you get a 404 error, the document wasn't indexed.

[2020-06-04 08:01] citizen428 commented on #8251
It seems like the textarea element has `spellcheck="false"` said and the extension probably respects this.

[2020-06-04 08:27] Ridhwana commented on #8256
Hmm it's definitely not first instinct to click on the `More`, thanks for the suggestion @ogrotten!

[2020-06-04 08:31] ludwiczakpawel commented on #8256
Yea it sometimes drives me crazy too... One pattern I've seen elsewhere is actually stopping infinite scroll at certain point and add "load more" button instead.. so you can reach the footer eventually. but we better think it through since this may impact engagement. infinite scroll is _infinite_ for a reason i guess..

[2020-06-04 09:38] rhymes commented on #8240
Hi @c0d3b0t, I'm going to mark this as a duplicate of https://github.com/thepracticaldev/dev.to/issues/8240

Feel free to add your comment there as well, it'd be helpful!

[2020-06-04 09:38] #8240 closed

[2020-06-04 09:46] rhymes commented on #8248
I think this request also sits in a larger conversation about using custom exceptions as much as possible instead of `StandardError` which can have the byproduct of silencing meaningful ones.

I'm not sure what the perfect approach is but it's worth a discussion

[2020-06-04 10:10] rhymes commented on #8256
Possible related issue: https://github.com/thepracticaldev/dev.to/issues/5670

[2020-06-04 10:40] ludwiczakpawel commented on #8264
Yea, I can't really repro this issue on my env but I can think of a quick fix. I'll send a PR soon.

[2020-06-04 11:50] DaveParr opened #8267 "Failed to install `pg` for local development"
I'm trying to follow the [instructions here](https://docs.dev.to/installation/mac/) on getting setup locally.

I've setup postgres from [postgres.app](https://postgresapp.com/), and I think I've also set up the config [correctly as here](https://docs.dev.to/installation/postgresql/) after using [this approach](https://www.codementor.io/@engineerapart/getting-started-with-postgresql-on-mac-osx-are8

[2020-06-04 12:04] DaveParr commented on #8267
Also figured it might be a permissions on the file.folder issue, but seemingly also not resolved by `sudo chmod 777 /Users/davidparr/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/pg-1.2.3/` The folder path does appear to be present on my system though :/

[2020-06-04 12:09] rhymes commented on #8267
What happens if you follow this instruction?

[2020-06-04 12:10] DaveParr commented on #8267
`ERROR:  While executing gem ... (Errno::EACCES)
    Permission denied @ rb_sysopen - /Users/davidparr/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/pg-1.2.3/ext/errorcodes.def`

[2020-06-04 12:31] emgoto opened #8268 "Preview mode of basic markdown editor has white code blocks in dark mode"
**Describe the bug**

When using the basic markdown editor (it looks super nice by the way!) in dark mode, the code blocks are not dark mode as you would expect.

**To Reproduce**

* Be using a dark theme ("night theme")
* Edit a post thats in my dashboard via my RSS feed
* See new basic markdown editor
* Scroll to a code block
* See the whiteness and be blinded

Side note, the sidebar also tells

[2020-06-04 12:40] rhymes commented on #8267
Mmm I would try to remove the gem folder and try again. Thees are the permissions on my folders

[code]

[2020-06-04 12:45] rhymes commented on #8268
Hi @emgoto, thanks for the report! I'm going to close this as a duplicate of https://github.com/thepracticaldev/dev.to/issues/8206

Feel free to add a comment there as it's always helpful :)

[2020-06-04 12:45] #8268 closed

[2020-06-04 12:45] icncsx commented on #8261
The setup error was unrelated.

[code]
You were right @citizen428! The articles don't get indexed.

[code]

This seems to be the situation on Gitpod as well, so it looks like there's something additional a user would have to do for articles + other things to get indexed as well. Do you have any advice?

[2020-06-04 12:46] rhymes commented on #8268
This is because an article is tied to the version it was created with. We should probably clarify that in the side bar

[2020-06-04 12:53] icncsx commented on #8261
The setup error I got:

[code]

I did `bin/rails s -p 3000` to get through that message.

You were right @citizen428! The articles don't get indexed.

[code]

This seems to be the situation on Gitpod as well. Do you have any advice? :)

[2020-06-04 13:07] gauthamp10 commented on #1512
We need polls @ dev.to

[2020-06-04 13:15] rhymes commented on #8261
@icncsx despite the name, the first is just a warning :D

I think the articles aren't indexed because you only started the web app. You should run `bin/startup` :-)

[2020-06-04 13:29] icncsx commented on #8261
Closing this issue because I didn't run `bin/startup` - only `bin/setup`. The article get indexed and I am able to search on `body_text`. @rhymes thanks for the help :)

[2020-06-04 13:29] #8261 closed

[2020-06-04 13:34] abenettt opened #8270 "Required node version limitation does not allow for current"
**Describe the bug**
The current fixed node version is an old one and doesn't allow for new versions of node.

**To Reproduce**

* Install current (not LTS) node version.  (Current is at time of writing 14.4.0)
* Install yarn
* Run `bin/yarn install`

**Expected behavior**
The js dependencies to be installed

**Screenshots**
[code]

**Desktop (please complete the following information):**

- OS:
-

[2020-06-04 13:37] icncsx commented on #8238
@madarsbiss Totally agree. That can either be a separate linked issue or the scope of this issue and accompanying PR can expand and address both needs: the need to format already "unpure" articles and the need to process article title and body text upon posting and storage into DB.

[2020-06-04 13:56] rhymes commented on #8270
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-04 13:58] icncsx commented on #7760
@Ridhwana Can I get your help on something? Here is one solution I thought of, and I wanted to get your feedback on it.

In brief, listen for the `onhashChange` event, and get the window hash so that we can correctly query the element with that id. Thereafter, get the top pixel location of that element and scroll to that part in the document.

[code]

Not the cleanest but I'm confident it will wor

[2020-06-04 14:00] rhymes commented on #8270
We have presently frozen version 12.16 as our Fedora based containers are based on that version. We probably need to update that before.

In the meantime you should be able to type `nvm use` and activate the right version of Node

cc @jdoss @nickytonline

[2020-06-04 14:04] icncsx commented on #8249
I think it's also important to mention the importance of running `bin/startup` + `bin/setup`. The startup command is what fixed #8261 for me, and I didn't think `bin/startup` was mentioned more than once in the docs.

[2020-06-04 14:06] DaveParr commented on #8267
This is them pre-removing the gem folder, but after the chmod. Pretty similar.

[code]

[2020-06-04 14:08] DaveParr commented on #8267
Sorry, to be specifc, I have 2 gems folders in this path: `/Users/davidparr/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/pg-1.2.3`

Which is the one to remove?

[2020-06-04 14:09] rhymes commented on #8267
@DaveParr for some reason you first folder belongs to root, not to you. I think that's the issue.

Run `sudo chown -R davidparr PATH_OF_THE_FOLDER`

[2020-06-04 14:21] DaveParr commented on #8267
yup, sorry! Ok, fixed that now. re-running
gives me:

[code]

`bundle install` then gives me:

[code]

which I think means the process is complete? and seeing as this should be 2.7 that `ulid` message should able to be ignored.

I'm now trying to get the db running with `rails db:setup`, but haven't quite solved that yet. Happy to consider this closed if you want to though while I hack at it some

[2020-06-04 14:29] #8264 closed

[2020-06-04 14:47] rhymes commented on #8267
@DaveParr please use `bin/setup` as indicated by https://docs.dev.to/installation/mac/ :D

[2020-06-04 15:00] #8182 closed

[2020-06-04 15:24] DaveParr commented on #8267
@rhymes It's running!

some other tweaks I needed to do to get it working:

* I had previously setup the [config](https://docs.dev.to/getting-started/config-env/) here and populate in with DATABASE_URL as suggested in the setup [here](https://docs.dev.to/installation/mac/) under 'Set up your environment variables/secrets' and [here](https://docs.dev.to/installation/postgresql/#configuration) I don

[2020-06-04 15:24] #8267 closed

[2020-06-04 15:26] DaveParr commented on #8267
@rhymes thanks for all the support. You're ace :)

[2020-06-04 15:29] jdoss commented on #8255
@sachinmukherjee can you run `docker ps -a` and `docker images` and paste the outputs into this issue?

[2020-06-04 15:34] vaidehijoshi opened #8276 "Track when a broadcast was activated"
Since announcement broadcasts will be use to send site-wide messages with their `active` attribute, we should make it easy to track when an admin last set a broadcast to "active". We should add a `last_active_at` to Broadcasts (specifically to be used for `type_of: "Announcement"`, but this will be useful for all broadcasts) and make sure that is rendered on the `/internal/broadcasts` page for eac

[2020-06-04 15:34] vaidehijoshi commented on #8276
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-06-04 16:55] kewbish opened #8278 "Central articles overflow to right"
**Describe the bug**
The central articles column overflows completely to the right, without an overflow scroll bar.
This hides the right sidebar completely, and most of the article text is also obscured.

The page seems to load initially fine, with the skeleton loaders in the correct central position and not overflowing. However, when articles load in, the central columns seems to overflow, with a

[2020-06-04 17:25] sachinmukherjee commented on #8255
@jdoss Please find the output of the `docker ps -a` and `docker images` command in outputlogs.txt file
[outputlogs.txt](https://github.com/thepracticaldev/dev.to/files/4731717/outputlogs.txt)

[2020-06-04 18:59] kewbish commented on #8278
Update, it seems to be regularly fitting back in the center now. Wonder why this happens some of the time and not all of the time.

[2020-06-04 19:18] ludwiczakpawel commented on #8278
hey @kewbish thanks for the report.

We noticed the issue pretty quickly so we pushed quick hack to fix it temporarily.

It was caused by the code blocks in comments, in particular `.highlight` element is weirdly behaving, probably because of its nature - it contains `pre` element which itself is a bit weird in terms of rendering. And you won't always see comments with code blocks in the feed so t

[2020-06-04 20:05] kewbish commented on #8278
Ah, I see. Props to the DEV team for working to make Dev so great!

[2020-06-04 23:33] jdoss commented on #8255
What happens if you run

[code]

[2020-06-05 02:33] nickytonline commented on #8270
@abenettt, we use [nvm](https://github.com/nvm-sh/nvm) to switch between node versions, so if you use Node 14, you can switch when you're in the dev.to repo by running `nvm use` which will pick up the version we use found in `.nvmrc` in the root of our project. There are also other node version managers such as `n` and `asdf` that are also popular.

[2020-06-05 02:40] citizen428 commented on #8261
@icncsx Glad it helped :-) Our documentation mentions `bin/startup`:

https://docs.dev.to/getting-started/start-app/

If you think it's unclear or hard to find, we accept PRs for doc issues too 😄

[2020-06-05 03:32] citizen428 commented on #8187
Thanks for the issue @moopet, I do agree with the general sentiment.

One potential problem I see: while HTML5 allows block-level elements inside `<a>` tags, `<a>`s can still not be nested. However, we do allow links in comments and use the entire comment as the link text.

http://w3c.github.io/html-reference/a.html

Not saying this makes your request impossible, just something to keep in mind whe

[2020-06-05 05:10] Muhimen123 commented on #8251
I guess it's an easy fix then.

[2020-06-05 05:20] fdoxyz commented on #8158
Hi @lomby92, we merged a fix for the image links thanks again for reporting this!

After giving it some time (because of caching) I'm getting the correct links in the manifest, but I still can't see the PWA prompt with my Galaxy S8 (Android 9). If you're able to check again I'd appreciate it, to confirm the issue is closed.

Also a bit out of topic but, I'd also recommend giving [the native app](h

[2020-06-05 05:55] abenettt commented on #8270
Ah thanks I didn't know that! Yeah, using nvm it works, thanks!

[2020-06-05 06:51] Ridhwana commented on #7760
Hi @icncsx 😊 I seen a notification on this post before I went to bed last night, but I no longer see it here. Do you still need assistance?

[2020-06-05 07:14] lomby92 commented on #8158
Thanks @fdoxyz, I can confirm that now it works. (Tested both on Chrome Desktop on Linux and Chrome on Android 9)

[2020-06-05 07:14] #8158 closed

[2020-06-05 09:00] #8270 closed

[2020-06-05 09:23] ledestin commented on #8248
What was the original intent of rescuing `StandardError` and not `RuntimeError`?

[2020-06-05 10:29] madzadev opened #8291 "User's content privacy settings"
**Is your feature request related to a problem? Please describe.**

Currently all the articles and comments are being fully available to anyone in the web. I guess some users would classify some of the his/her information in DEV (especially comments) personal and probably would want to hide it from absolute strangers.

The initial idea of the feature comes from Twitter (see below).

![rtyry](https

[2020-06-05 11:19] rhymes commented on #8248
@ledestin hard to say, If I had to guess, it's because all liquid tags (that can be rendered in comments) raise StandardError (which we plan to fix eventually) and not a custom exception.

Thus one needs to handle that at the controller level to be able to return rendering errors.

BTW personally I'm -1 on using `RuntimeError` as much as possible, +1 on using custom and meaningful exceptions

[2020-06-05 11:22] madzadev opened #8292 "Automatic spam/junk remover"
**Is your feature request related to a problem? Please describe.**

By using DEV quite often, once in a while I came across some useless posts.
Like this, for example:
![Untitledrrr](https://user-images.githubusercontent.com/42511917/83870582-30ae7180-a737-11ea-9ac7-7b7ccca8e0e2.png)

I understand we can report them and they would get reviewed/deleted.
Tho, it would take some time, as it was not t

[2020-06-05 11:23] rhymes commented on #8291
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-05 11:25] rhymes commented on #8291
Thanks for the request @madarsbiss

This is tangentially related https://github.com/thepracticaldev/dev.to/issues/8212 though I think it's a slightly different request, so I'll keep both open for the time being :)

[2020-06-05 11:25] rhymes commented on #8292
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-05 14:12] Muhimen123 opened #8294 "Showing wrong number in "Reading list""
**Describe the bug**
In the right-hand side of the home page, it shows I have 10 posts to read(according to the reading list). And whenever I open the reading the list, it shows 2 posts to read. Point to be noted, the correct answer is 2 not 10.

The following screenshots might help.

**Screenshots**
The bug.
![readinglist](https://user-images.githubusercontent.com/44261822/83885833-b4cd1d00-a768-

[2020-06-05 14:15] rhymes commented on #8294
@Muhimen123 how many items do you have in the archive? unfortunately the first count is the sum of them all. See also https://github.com/thepracticaldev/dev.to/issues/8164

[2020-06-05 14:28] Muhimen123 commented on #8294
Oh, I see. Thanks, problem solved.

[2020-06-05 14:31] srebalaji commented on #8251
Is anyone working on this issue or can I take this?

[2020-06-05 14:32] rhymes commented on #8294
Thank you!

Closing this as a duplicate of #8164

[2020-06-05 14:32] #8294 closed

[2020-06-05 15:25] icncsx commented on #7760
@Ridhwana I linked the relevant PR. Let's chat there :)

[2020-06-05 16:21] #8249 closed

[2020-06-05 16:23] #1679 closed

[2020-06-05 16:50] benhalpern commented on #8091
Yup, I'd say you can follow the same exact format as the hero banner (and probably generalize that whole function).

Basically store _which_ broadcast has been dismissed and don't show the broadcast if that is stored as such.

[2020-06-05 16:56] kay-is commented on #3802
Seems like all the social media platforms (Twitter, Facebook, LinkedIn) use 1.9 : 1
only dev.to uses 2.4 : 1

So maybe dev.to should allow 1.9 : 1 for future posts?

[2020-06-05 18:05] atsmith813 commented on #8079
Completed with #8161

[2020-06-05 18:05] #8079 closed

[2020-06-05 19:17] icncsx commented on #7752
This seems to be a non-issue for me. Perhaps another PR inadvertently fixed the alignment issue. I noticed we use flexbox 😃 (not sure if that was there before).

I would say this is pretty well aligned.

![Screenshot from 2020-06-05 15-12-39](https://user-images.githubusercontent.com/60417145/83914339-0e205680-a73f-11ea-9ad1-91062006a7c9.png)

@Ridhwana do you see the same thing on your end?

[2020-06-05 20:16] icncsx commented on #6380
@rhymes is this issue stale? I can go ahead and make the PR if no one else will :)

[2020-06-06 02:32] nickytonline commented on #8251
Feel free to grab it @srebalaji . I’ll assign the issue to you.

[2020-06-06 03:04] PranavBhattarai commented on #7371
Fake:
![Screenshot_20200606-084041](https://user-images.githubusercontent.com/32763112/83934642-f1693a80-a7a1-11ea-8b11-5c9c3a7af6c0.jpg)

Vs

Real:
![Screenshot_20200606-084044](https://user-images.githubusercontent.com/32763112/83934675-38573000-a7a2-11ea-97e9-67d7463c00c1.jpg)

Theme: Built-in "Ten X Hacker Theme"

[2020-06-06 04:23] aviskarkc10 opened #8310 "Blank button on notifications when someone has followed you"
**Describe the bug**

In the notifications section, when someone has followed me, I get a blank button without any text in it.

**To Reproduce**

- Go to notifications
- Check the notification where a user has followed you.
- The button will be blank and won't have text in it.

**Expected behavior**

I am guessing there should be a text to follow the user back?

**Screenshots**

![image](https://u

[2020-06-06 05:28] #8278 closed

[2020-06-06 14:23] jack-lewin commented on #4537
Hey 👋 I'm happy to take this one!

[2020-06-06 15:41] muety commented on #6807
Hey guys, any progress on this? Can't wait to have Webmention support! :slightly_smiling_face:

[2020-06-06 19:49] emilpriver opened #8313 "Be able to fetch article from API with slug instead of ID"
**Is your feature request related to a problem? Please describe.**

Be able to fetch article from API with slug instead of ID.

**Describe the solution you'd like**

Be able to fetch article via slug from api.

[2020-06-07 01:03] zakhalex commented on #8248
@ledestin @rhymes

While not an active contributor to this project (so take my opinion with a grain of salt) I'd personally vote +1 on @ledestin 's original proposal to use RuntimeError with proper exception propagation, as custom exceptions add little value, but have a management/support overhead.

[2020-06-07 10:22] rhymes commented on #6380
@icncsx thank you! I'll take a look!

[2020-06-07 10:27] Muhimen123 commented on #8313
Why do you want to use slug instead of ID? Anyway, you can use web scraping. Like this.
[code]

The website is pretty well-formatted. You shouldn't have any problem scraping the web.

[2020-06-07 10:41] rhymes commented on #8310
Hi @aviskarkc10, thanks for the issue. I'm going to close this as a duplicate of https://github.com/thepracticaldev/dev.to/issues/6377 and https://github.com/thepracticaldev/dev.to/issues/6616

Let me know if this is not the case

[2020-06-07 10:41] #8310 closed

[2020-06-07 10:50] rhymes commented on #8248
@zakhalex it's just that`RuntimeError` is described as `A generic error class raised when an invalid operation is attempted.` and I still believe we shouldn't lean on generic exceptions :D

Anyway, that doesn't mean the argument is settled!

[2020-06-07 10:57] aviskarkc10 commented on #8310
it is actually. didn't realize there was an issue for it already :+1:

[2020-06-07 14:31] emilpriver commented on #8313
Mainly as it a more prettier link that using an ID. Instead of /post/123123 would I be able to use /post/hello-world which is a more prettier link and also more SEO friendly :D

[2020-06-07 15:31] OnArs opened #8331 "Multiple <title> tags on every page"
**Describe the bug**

I'm working on my website auditing and content tracking tool and for the sake of the test added dev.to domain to crawl. Immediately after the start, I found that there are multiple <title> tags on all pages of the website when must be the one and only <title> on each page. I don’t know how long this happened, but this critical error needs to be fixed asap since it will negati

[2020-06-07 20:31] eyewritecode commented on #6807
Thanks for bringing this back on my radar @muety

I finally had time to look into this and below is how i'd approach this.
FYI, This is more of a combination of what Aaron had suggested [here](https://indieweb.org/Webmention-brainstorming#receiving_webmentions_for_syndicated_copies) and how i think it fits in DEV codebase..

For  webmentions to work, we basically need two things:

- Original link

[2020-06-07 21:04] muety commented on #6807
Very good thoughts! Although I'm not into the code base of dev.to at all, @eyewritecode's approach makes a lot of sense to me.

In addition, I was wondering if dev.to's support for webmentions might even be extended beyond sending webmention requests for comments on syndicated posts. To my understanding (please correct me!), dev.to could also ...

* ... crawl any (not only syndications) new blog p

[2020-06-08 03:02] snackattas opened #8334 "Gitpod errors building Ruby 2.7.1"
**Describe the bug**
I've been seeing this error in Gitpod lately. This is what it looks like in Gitpod
[code]

I get a similar error when I try to build the .gitpod.dockerfile on my local
[code]
**To Reproduce**
Open  a new gitpod workspace that's been built recently, or try to build the docker image yourself on your local

[2020-06-08 03:21] citizen428 commented on #8334
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-08 03:47] citizen428 commented on #6807
Hi @eyewritecode, thanks for the summary! The overall approach seems sound, I advocate for getting a PR up for a minimal implementation of this and iterate from there.

[2020-06-08 03:51] citizen428 commented on #8334
Hi @snackattas: I just started a brand new DEV workspace on GitPod and it seems to be working okay.

<img width="1114" alt="Screen Shot 2020-06-08 at 10 50 17" src="https://user-images.githubusercontent.com/47985/83991081-e49d4000-a975-11ea-8f09-556e8c1747bf.png">

I remember 1 or 2 instances in the past where I just deleted my DEV workspace from GitPod and started over with https://gitpod.io/#htt

[2020-06-08 04:03] citizen428 commented on #8331
Thanks for the issue @OnArs.

These `<title>` tags are inside `<svg>` elements, which are not used for the page title. You may need to update your tool and use a more specific XPath or CSS selector, e.g. `//head/title` instead of `//title`.

[2020-06-08 04:21] snackattas commented on #8334
I think the build working on master must have to do with caching of some sort?

I just created a fake commit (https://github.com/thepracticaldev/dev.to/pull/8335) touching the gitpod dockerfile, and was able to see the same error reported here. I imagine you'd be able to see that error if you built Gitpod off that branch

The error seems to have to do with where rvm is installing ruby, its trying

[2020-06-08 04:42] wWw-Gevezeler-Net opened #8336 "Neden spama aldınız hesabımı"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-06-08 04:43] wWw-Gevezeler-Net commented on #8336
Neden surekli hesabimi spama alıyorsunuz ki anlamış değilim düzeltin bu hatayı cabuk

[2020-06-08 05:18] citizen428 commented on #8334
Yes, I just made an unrelated PR to modify something in our GitPod config and ran into the same issue.

What you're doing works from an RVM perspective. In GitPod's Discourse the developers seem to recommend running the installation via `sudo`, but there's nothing wrong with your approach as long as the app can find Ruby and the gems:

https://community.gitpod.io/t/error-on-installing-older-ruby-v

[2020-06-08 05:25] dippas commented on #8076
In my case the preloader is an infinite loop. either using Firefox or Chrome (both latest versions) in Windows 10

[2020-06-08 05:33] citizen428 commented on #8336
Can you elaborate a bit on which account is being spammed?

[2020-06-08 06:49] ledestin commented on #8248
@rhymes it's possible to `ApplicationError < RuntimeError` and `CustomError < ApplicationError`, thus both having custom exceptions and not having to deal with specifying them in `rescue`.

How about scraping `rescue StandardException` everywhere and adding `rescue_from StandardException unless Rails.env.test?`, making `ApplicationController` the handler of those exceptions.

[2020-06-08 07:04] muety commented on #947
Any news on spoilers aka. collapsibles aka. `<details>`? I'd love to have this as a feature!

[2020-06-08 09:13] Ridhwana commented on #7752
This looks good now - as @icncsx pointed out, this must have been a side effect from another PR. Yay for small wins 😊

<img width="293" alt="Screenshot 2020-06-08 at 11 10 33" src="https://user-images.githubusercontent.com/2786819/84013125-cd138680-a978-11ea-88bc-43afaf57325c.png">

@catalinpit I'll be closing the issue. Thanks!

[2020-06-08 09:13] #7752 closed

[2020-06-08 09:51] rhymes commented on #8076
@dippas the infinite loop possiblity is a great clue! what do you mean by "preloader" though?

[2020-06-08 09:52] #8336 closed

[2020-06-08 09:54] rhymes commented on #8248
@ledestin I think we should aim for a lasting solution that can be introduced bit by bit. We already have a few custom exceptions around, both in `app/errors` and sprinkled in `app/services`. I would start by analyzing what's needed, what has to go and what has to be changed. It's not an easy change :-(

[2020-06-08 10:01] dharmiktank opened #8340 "i am not write new post"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-06-08 10:02] #8245 closed

[2020-06-08 10:07] rhymes commented on #8340
Hello @dharmiktank, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-06-08 10:07] #8340 closed

[2020-06-08 10:08] dippas commented on #8076
@rhymes  I'm referring to this:

![image](https://user-images.githubusercontent.com/10220287/84018741-4494e600-a978-11ea-8991-e23646a8e23c.png)

and no console error whatsoever

[2020-06-08 10:10] dharmiktank commented on #8340
But how to solve the problem

On Mon 8 Jun, 2020, 3:37 PM rhymes, <notifications@github.com> wrote:

[2020-06-08 12:37] Amorpheuz commented on #8076
I get the same loading animation with timeout later too. The 503 gets printed once the "An error occurred" message pops up. If I try to open https://dev.to/github_repos, I get the same warnings as #8104.

The integration does work on my local env of DEV. The only thing that changed for my pinned repos (in case it could be related to the issue) is that they got archived. I tried the same on the loc

[2020-06-08 13:52] fdoxyz commented on #7769
Hi @TheRohitSharma! Sorry for the late response, I'm catching up with these issues and wanted to ask: Have you been able to sort out the problem you were having? Are you still willing to give this a try?

There's been a few important updates in the repo in the past couple of weeks so my "go-to suggestion" would be make sure you're in sync with master, then drop the DB and run a `bin/setup` again s

[2020-06-08 14:42] snackattas commented on #8334
Cool! I'll make a PR for this tonight (or if you beat me to it, feel free to PR it)

[2020-06-08 15:26] #8238 closed

[2020-06-08 17:14] icncsx opened #8351 "Server / client-side processing of article data (title & post) before saving to DB"
## Describe the bug

Non-breaking spaces need to be handled before the article title and body are stored in the DB.

![nbsp](https://user-images.githubusercontent.com/60417145/83894689-a27ac100-a71f-11ea-9546-4c8a74d3719e.png)

The need to format already existing articles that exhibit this issue has been addressed in #8263. I am raising this issue because we might consider doing some data validati

[2020-06-08 17:38] icncsx opened #8352 "Data viz or tear sheet in dashboard which shows basic stats"
**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

It would be great if I could track my progress over time re: reactions and views across all posts. The inspiration for this feature request comes from sites like Twitter and Medium which provide a basic dashboard with time graphs or tear sheets where users can see the evolution of select

[2020-06-08 17:52] #8090 closed

[2020-06-08 17:58] acostalima opened #8353 "Unable to unpin GitHub repositories"
**Describe the bug**

I'm not being able to unpin GitHub repositories from my profile either because the option does not show up anywhere or it can't be done at the moment.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to your profile page
2. Verify there is no option to customize pins
3. Click on 'Edit Profile' button
4. Click on 'Integrations' on the left-side menu
5. Wait for the r

[2020-06-08 18:41] vaidehijoshi opened #8355 "Add default styling options to broadcasts"
While our Broadcasts allow users to set whatever HTML they would like to render site-wide, we should provide options for default styling, leveraging our crayons design system to do so.

As [mentioned here](https://github.com/thepracticaldev/dev.to/pull/8301#discussion_r436513596), we should make use of our crayons banners and allow a broadcast to have a `banner_style`, which can be used to apply "

[2020-06-08 18:41] vaidehijoshi commented on #8355
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-06-08 19:00] nickytonline commented on #8076
Thanks for the additional information. @rhymes is looking into this.

[2020-06-08 19:44] jrg94 commented on #8353
Can confirm that this integration is an issue. I'm having similar issues on my end. See [the discussion](https://dev.to/acostalima/unpinning-github-repositories-3ggk) @acostalima and I had on DEV about it.

I haven't been able to get my repositories to even load to confirm the unpinning issue (https://dev.to/settings/integrations):

[code]

[2020-06-08 20:26] TheRohitSharma commented on #7769
I haven't hopped onto the project lately, but I'll actually try that tonight. Thanks! Feel free to assign me this one.

[2020-06-09 04:38] citizen428 commented on #8353
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-09 04:39] citizen428 commented on #8352
Thanks for the report @icncsx. This seems very similar to #6608, would you mind adding a comment over there and closing this issue? It's easier to track things this way.

Also see the following comment: https://github.com/thepracticaldev/dev.to/issues/6608#issuecomment-609945531

[2020-06-09 04:40] citizen428 commented on #8351
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-09 06:23] logeshpalani98 commented on #95
This article code gist works in desktop browsers but in mobile browsers, how to fix this @maestromac
[https://logeshpalani.blogspot.com/2020/06/how-to-convert-base-64-to-image-in.html](https://logeshpalani.blogspot.com/2020/06/how-to-convert-base-64-to-image-in.html)

[2020-06-09 06:32] icncsx commented on #8352
Closing this issue because it's near-duplicate.

[2020-06-09 06:32] #8352 closed

[2020-06-09 06:34] icncsx commented on #6608
@jessleenyc Very excited for this feature. PS: I'd love to help on anything D3.js related :)

[2020-06-09 11:47] AlbertoPdRF commented on #1520
I'm working on this issue, and even after doing this I'm not able to see the change. Any clue of what may be going wrong?

[2020-06-09 14:14] benhalpern opened #8365 "Fix teeny tiny moderation panel close button."
On iOS the moderation close button has a _teeny tiny_ icon. It's cute but should probably be changed.

![FullSizeRender](https://user-images.githubusercontent.com/3102842/84158454-e3cde200-aa39-11ea-9c69-3337ee32842f.jpeg)

I suspect this has to do with native button styles on iOS.

[2020-06-09 14:33] rhymes commented on #8365
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-09 15:56] AlbertoPdRF opened #8370 "Errors when running `bundle exec erblint --lint-all`"
**Describe the bug**

Running `bundle exec erblint --lint-all` outputs `130 error(s) were found in ERB files`.

**To Reproduce**

1. Run `bundle exec erblint --lint-all`
2. See 130 errors

**Expected behavior**

There shouldn't be any errors.

**Screenshots**

**Desktop (please complete the following information):**

- OS: Ubuntu 20.04 (WSL2)
- Browser:
- Version:

**Smartphone (please complete th

[2020-06-09 16:16] Oghenebrume50 commented on #1228
Yes from what I can see this is how Runkit works probably because of security issues, @Zhao-Andy please what are the security concerns, and I would like to work on this, I would appreciate pointers on the best way to solve this issue

[2020-06-09 16:21] rhymes commented on #8370
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-09 16:22] rhymes commented on #8370
Time to take a second stab at this I guess :D

First part was https://github.com/thepracticaldev/dev.to/issues/1842

[2020-06-09 16:27] rhymes commented on #8076
@Amorpheuz it @dippas can you check if it's now working for you as it is for me? thank you! https://dev.to/settings/integrations

[2020-06-09 16:27] rhymes commented on #8104
@krishnadevz @icyJoseph can you check if it's now working for you as it is for me? thank you! https://dev.to/settings/integrations

[2020-06-09 16:28] rhymes commented on #8172
@samrith-s can you check if it's now working for you as it is for me? thank you! https://dev.to/settings/integrations

[2020-06-09 16:28] rhymes commented on #8353
@acostalima can you check if it's now working for you as it is for me? thank you! https://dev.to/settings/integrations

[2020-06-09 16:29] Amorpheuz commented on #8076
It is! Loads instantly too, Woohoo 🎉

[2020-06-09 16:30] icyJoseph commented on #8104
@rhymes it does work! Great job!

[2020-06-09 16:33] acostalima commented on #8353
@rhymes yes, it's working now! How can I unpin repositories?

[2020-06-09 16:42] AlbertoPdRF commented on #8370
As that's how it was done in #1842, I'll submit a separate pull request for each of the `app/views/` folder (e.g. `app/views/listings`) to keep them small and easier to review.

[2020-06-09 17:09] #8076 closed

[2020-06-09 17:10] rhymes commented on #8104
@icyJoseph to be honest it started working by itself while I was in the midst of debugging it :D I think there was something going on upstream (in the GitHub API's) but hey, let's take this as a win :D

[2020-06-09 17:10] #8104 closed

[2020-06-09 17:12] rhymes commented on #8353
@acostalima there's already is one, I think it's the same problem https://github.com/thepracticaldev/dev.to/issues/7751

Will work on it soon :)

[2020-06-09 17:12] #8353 closed

[2020-06-09 17:14] rhymes commented on #8370
Thank you @AlbertoPdRF! Small PRs are the key :D

[2020-06-09 17:28] jrg94 commented on #7751
Yes, I'm noticing this same issue as someone who transferred a couple repos to a GitHub organization. It's still there, but it doesn't seem to update or allow me to remove it.

[2020-06-09 17:32] vaidehijoshi opened #8371 "Create a broadcasts show view"
As mentioned in [this PR's discussion](https://github.com/thepracticaldev/dev.to/pull/8361#issuecomment-641353949), we should create a broadcasts show view (`/internal/broadcasts/:id`), and show the preview there. When a user creates/updates a broadcast, we should redirect to the show view.

[2020-06-09 17:32] vaidehijoshi commented on #8371
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-06-09 17:38] vaidehijoshi opened #8372 "Hide announcements in editor UI"
As mentioned by @ludwiczakpawel, the editor UI is a bit special and we don't want to detract from the writing experience by showing an announcement on that specific page. We should hide the announcement on both editors, on the "write a post" editor page.

[2020-06-09 17:38] vaidehijoshi commented on #8372
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-06-09 17:40] kadnan opened #8373 "My feed not being fetched"
**Describe the bug**

I am unable to fetch RSS feeds on my profile (https://dev.to/kadnan). The RSS feed which was being fetched is: http://blog.adnansiddiqi.me/

**Desktop (please complete the following information):**

- OS: MacOS
- Browser: Chrome
- Version: 83.0.4103.97 (Official Build) (64-bit)

[2020-06-09 17:54] rhymes commented on #8373
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-09 18:26] #8355 closed

[2020-06-09 19:30] maestromac commented on #95
@logeshpalani98 are you referring to the content on your own site? It seems to be working for me but I'm not sure how much I can assist you as this is not Dev.to related.

[2020-06-09 19:44] #8092 closed

[2020-06-09 22:55] felippe-regazio opened #8377 "Repositories still appears on profile sidebar after deleted from Github, but doesnt appear on configurations (impossible to remove them from the profile sidebar)"
Deleted repositories still appear on integrations list. If you go to my profile https://dev.to/felipperegazio you will see two repositories on right sidebar. there were deleted, so they doesnt appear on configurations > integrations anymore (so i cant remove them from that list), but still appears on the sidebar with a 404 target link.

Try:

1. Integrate with github.
2. Pick a repository to show

[2020-06-10 02:05] Ritwik880 commented on #2799
Hey @rhymes, @jessleenyc Is this issue is solved, if not then i want to fix this issue.

[2020-06-10 06:38] citizen428 commented on #8377
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-10 07:31] ledestin commented on #8248
@rhymes the problem with a solution that's slow to be implemented, is that development speed would be impeded by concealed exceptions. I had to comment out `rescue StandardError`, when I working on that bugfix.

What are downsides of my solution? It's not like custom exceptions can't be gradually introduced afterwards.

[2020-06-10 09:24] Oghenebrume50 opened #8383 "Error Page shows up when I try to write a post or change settings"
**Describe the bug**
I see the below error page when I log in to Dev.to try to make a post or try to change a setting(this happens when I click the save button)
![devto](https://user-images.githubusercontent.com/37092867/84248694-b3517b00-ab01-11ea-9f02-02d8fb421242.png)

**To Reproduce**

1. Go to  [Dev.to](https://dev.to/)
2. Click on 'Sign in with Github' or 'Sign in with Twitter'
3. Click on '

[2020-06-10 10:35] rhymes commented on #2799
No, it isn't. I'll assign you to the issue

[2020-06-10 10:42] samrith-s commented on #8172
@rhymes works for me too, thanks!

[2020-06-10 10:58] rhymes commented on #8248
The code shouldn't behave differently in testing mode as much as possible :)

There are 41 instances of `rescue StandardError`, adding "unless Rails.env.test?" to all of them would mean that we would break a lot of tests, then we'd need to fix those. The result would be a PR that doesn't really fix the problem

[2020-06-10 11:00] rhymes commented on #8383
Hello @Oghenebrume50, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-06-10 11:00] #8383 closed

[2020-06-10 19:17] devreapr opened #8392 "Email Change blocks user to log in with the same email"
**Describe the bug**

I'm not sure if this was the intended use case so this ticket might totally be invalid.
The bug is that if a github logged in user changes his email then he's not allowed to login with it.

**To Reproduce**

1. Create github account with username1 and email1.
2. Create github account with username2 and email2.
3. Sign in to Dev.to with username1 and email1 combination.
4. Swi

[2020-06-10 23:22] atsmith813 commented on #7907
There is a size limit of 25mb on images and 50mb on videos:

https://github.com/thepracticaldev/dev.to/blob/71fba61ae26acdecc6f9026389403bf93407aa44/app/javascript/packs/validateFileInputs.js#L16-L19

[2020-06-11 01:05] KartikSoneji commented on #8255
@jdoss @Ridhwana
I can replicate the issue.
[code]
https://github.com/thepracticaldev/dev.to/blob/71fba61ae26acdecc6f9026389403bf93407aa44/container-compose.yml#L5

`container-compose.yml` tries to use the `devto-web` image, which either does not exist or is not public.

I checked on docker hub as well but couldn't find it.
https://hub.docker.com/search?q=devto-web&type=image

[2020-06-11 01:29] jdoss commented on #8255
Hey @KartikSoneji can you pull https://github.com/thepracticaldev/dev.to/tree/jdoss/Fix_8255 and let me know if running `bin/container-setup` works for you now?

[2020-06-11 01:36] KartikSoneji commented on #8255
@jdoss I am on Windows, so cannot run `bin/container-setup`.
I can replicate the issue by trying to pull the `devto-web:latest` docker image, which still fails.
[code]

[2020-06-11 01:44] jdoss commented on #8255
@KartikSoneji this isn't on Docker Hub or any kind of container registry. It is built via `docker-compose` or `podman-compose` locally on your computer via the script. The logic for this build step was in the wrong spot so it never got run.

[2020-06-11 01:52] KartikSoneji commented on #8255
@jdoss Ah, didn't know that.
Sorry, I assumed that it was a registry issue.

Unfortunately I don't have access to any Linux systems right now so cannot test the fix.

[2020-06-11 02:47] citizen428 commented on #8185
I'll be closing this issue now as #8339 has now been merged. @davinkevin please try it out and feel free to reopen this issue if you still have problems with Asciinema embeds.

[2020-06-11 02:47] #8185 closed

[2020-06-11 04:59] citizen428 commented on #8392
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-11 05:57] siemah opened #8398 "Design issue in "JOIN NOW" box at home page due to the margin bottom of that box"
**Describe the bug**

Design issue in `JOIN NOW` box due to the margin bottom

It would be great if it has proper margin like it was before, however there is a margin bottom attributed to the first child with `.cta-container` but it not affect the parent.

**To Reproduce**

1. Go to [dev.to home page](https://dev.to/#cta-content)
2. See the bottom of that box `bottom edge`

**Expected behavior**
T

[2020-06-11 06:12] citizen428 commented on #8398
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-11 07:15] Kvaibhav01 commented on #7907
@atsmith813 okay I get it. What about GIF? Mine is of 7.47 MB and I get that error while uploading this GIF.

[2020-06-11 11:11] #3530 closed

[2020-06-11 13:33] AlbertoPdRF commented on #8370
There are PRs to fix all the errors already, but there's still something I haven't fixed. If I run `bundle exec erblint --lint-all` I have the following output:

<details>
<summary>Output</summary>

[code]
</details>

I don't really get what's the problem or how to fix it, any help?

[2020-06-11 13:40] atsmith813 commented on #7907
GIF would be considered under images here. However, we have a few existing issues around GIFs 🙈 . Here's the most recent one for example:

https://github.com/thepracticaldev/dev.to/issues/7889

I would try reducing your GIF size below 5 MB and/or checking the frame rate. That has worked for me in the past. If that still doesn't work, then it's a symptom of the outstanding issue.

When adding GIFs

[2020-06-11 13:42] Kvaibhav01 commented on #7907
Okay, thanks! I'll try to reduce the size and will get back how it works. :)

[2020-06-11 13:56] rhymes commented on #8370
@AlbertoPdRF I tried with `bundle exec erblint app/views/internal/listings/index.html.erb` and used a very secretive technique: delete blocks of the source code until I figure out which line is the culprit :D

I did find it, it's the `=` in this line:

https://github.com/thepracticaldev/dev.to/blob/2660c76fca7226256f0ce07586d2aa60d3f1ff86/app/views/internal/listings/index.html.erb#L72

see `data-a

[2020-06-11 15:13] AlbertoPdRF commented on #8370
Ah! Nice finding 😄 Is it safe to remove the whole `data-action=` part of the line?

[2020-06-11 15:22] rhymes commented on #8370
@AlbertoPdRF think so! I'll make sure to test it in the PR

[2020-06-11 15:24] #8091 closed

[2020-06-11 15:34] Oghenebrume50 commented on #8398
Great I would like to work on this @rhymes

[2020-06-11 15:39] rhymes commented on #8398
thanks @Oghenebrume50! assigned :D

[2020-06-11 16:06] ezio1404 opened #8411 "Feature Request for the Reading list"
Good day Devs,
**Is your feature request related to a problem? Please describe.**
I like the post and contents in dev.to but I want to read it without internet, so I save it to the reading list. As my reading list grow I cannot download them all in one time. Because not all have an Internet access(like me).

I'm frustrated when I download them one at a time it cosumes more effort and time.

**Desc

[2020-06-11 16:13] rhymes commented on #8411
Hi @ezio1404, I'm closing this as a duplicate of https://github.com/thepracticaldev/dev.to/issues/5692 - please add your comment there as well so we can keep track of it more easily.

Thank you!

[2020-06-11 16:13] #8411 closed

[2020-06-11 16:16] Rafi993 commented on #7175
I was able to notice this issue in feed page today.

![feed](https://user-images.githubusercontent.com/8092120/84412071-57374580-ac2c-11ea-81c1-182a1674473c.png)

But it does not happen anymore in other places due to the above fix

## Search

![search](https://user-images.githubusercontent.com/8092120/84412144-7209ba00-ac2c-11ea-8cbb-245df111cb8d.png)

## Main article

![content](https://user-imag

[2020-06-11 16:20] Rafi993 commented on #7175
I would like to help with this issue if it is re-opened.

[2020-06-11 16:32] michael-tharrington opened #8414 "Label Experience Level Scale in User Settings"
**Is your feature request related to a problem? Please describe.**

Yes, as a user it's unclear how the 1-5 experience scale (Content Customization) is meant to be interpreted in https://dev.to/settings/ux. It's not clearly stated the 1 is for novices and 5 for experts; folks could misinterpret this and think that is 1 is expert and 5 novice.

**Describe the solution you'd like**

I think we shoul

[2020-06-11 16:37] rhymes commented on #7175
@Rafi993 could you open a new one related to only just that? thank you!

[2020-06-11 16:38] rhymes commented on #8414
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-11 17:52] nickytonline commented on #8414
I think labelling these is a good idea to avoid confusion of the scale.

[2020-06-11 18:03] #8370 closed

[2020-06-11 18:25] Kvaibhav01 commented on #7907
I stripped down the size from 7.47 to 3.16 MB. Still, I get the error:

In the console I get this:

![Error from comsole](https://user-images.githubusercontent.com/11731837/84425345-067d1800-ac3f-11ea-9edf-2855aaf60892.png)

[2020-06-11 18:33] atsmith813 commented on #7907
That looks like it's related to our existing GIF issues.

[2020-06-11 18:34] #8262 closed

[2020-06-11 19:59] Oghenebrume50 commented on #8414
@rhymes I will like to work on this

[2020-06-11 21:12] Ridhwana commented on #8414
@Oghenebrume50 I've assigned the issue to you 😊

[2020-06-11 21:13] EwertonJordao opened #8425 "Article view counters in dashboard are not updating"
**Describe the bug**
Hi everyone

I had some problem with my counter viewers on my posts, it's freeze in 1085 viewers, but I receive interactions with my post, and the number of viewers won't be updated, can check what's happening for not update data?

**Screenshots**

**Desktop (please complete the following information):**

- OS: Windows 10 1909
- Browser: Firefox Developer
- Version: 78.0b5

[2020-06-11 21:35] lisasy opened #8428 "[Profile] Update top container, sidebar to Crayons"

[2020-06-11 21:35] lisasy opened #8429 "[Profile] Update inner content (comments, posts) to Crayons"

[2020-06-11 23:02] #8372 closed

[2020-06-12 00:15] benhalpern commented on #6994
I think we should move to get this implemented.

I think we should use the `user_optional_fields` so each user can have a `has_many` relationship with their fields. We can use `SiteConfig` to manage which user fields exist, but then dynamically generate them if they are added in settings or onboarding.

We can have an `onboarding_profile_fields` config to dictate which are included.

...And then f

[2020-06-12 03:13] Rafi993 commented on #7175
ok

[2020-06-12 03:23] Rafi993 opened #8433 "HTML entities on home feed"
**Describe the bug**
  Escaped HTML entity is rendering on home feed but it renders correctly in other places

**To Reproduce**
  Look for an article with HTML entity in the title

**Expected behavior**
  HTML entity should render correctly in the home feed rather than being escaped

**Screenshots**
### Home feed
![feed](https://user-images.githubusercontent.com/8092120/84461275-aeb7ce80-ac89-11ea

[2020-06-12 03:23] Rafi993 commented on #8433
This bug is related to bug https://github.com/thepracticaldev/dev.to/issues/7175

[2020-06-12 03:24] Rafi993 commented on #8433
If this bug is up for grabs I would like to help.

[2020-06-12 03:34] citizen428 commented on #8433
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-12 03:34] citizen428 commented on #8433
Thanks for the issue and offering to help @Rafi993, I assigned you now.

[2020-06-12 03:37] citizen428 commented on #8331
I read through various SEO discussions on the topic and the general consensus is that search engines are well aware of the difference between SVG `<title>` elements and the ones found in a page's `<head>`. I'll close this issue now.

[2020-06-12 03:37] #8331 closed

[2020-06-12 03:39] citizen428 commented on #8425
Can you please provide a link to the post where this is happening?

[2020-06-12 04:43] citizen428 opened #8434 "Show banner for not configured sites"
Remove defaults related to DEV from the site config and add a banner that the site has not been configured yet.

[2020-06-12 05:07] ezio1404 commented on #5692
**Describe the solution you'd like**

I would like to suggest that there is an option that you can download them all in batch and by selected filters.

**Describe alternatives you've considered**

Feature 1 : Download all Post Content with comments
Feature 2: Download only Post Content

[2020-06-12 06:42] Rafi993 commented on #8433
Thanks @citizen428

[2020-06-12 07:09] citizen428 commented on #6994
I had a look at this now. `user_optional_fields` were added in April (#7246) to accommodate custom pronouns (#2365). As part of the discussion on that issue, it was [suggested](https://github.com/thepracticaldev/dev.to/issues/2365#issuecomment-555044836) that

(a) custom fields should be implemented in a separate model and
(b) limited in number (the current maximum is 3, see `validate_quota` in `a

[2020-06-12 07:49] EwertonJordao commented on #8425
For all posts, I receive some tags and reactions on my content but counter it's freeze. I the past when I publish an article they stop counter in 205 viewers and one month after I saw 500 viewers I think the difference is not reflecting access the one day it's impossible. In the dashboard, we access estimate of access but if I use API I can see the exact number of viewers. the data is not collecte

[2020-06-12 08:46] ledestin commented on #8248
@rhymes I thought the problem was that errors were swallowed. If they aren't swallowed in the test env, it's still an improvement.

How about just replacing `StandardError` with `ApplicationError < RuntimeError`? That would retain the uniqueness that `StandardError` has now, but errors won't be swallowed anymore? Later on, `ApplicationError` can be changed to custom errors one by one.

[2020-06-12 08:46] rhymes commented on #8377
@felippe-regazio could you try again? We shipped #8382 which should help!

[2020-06-12 09:12] Amorpheuz commented on #8186
I think replacing the line `rbenv install $(cat .ruby-version)` with `rbenv install $(wget -O- -q https://raw.githubusercontent.com/thepracticaldev/dev.to/master/.ruby-version)` should solve the issue of not having the repo downloaded. Can make the PR if the solution seems fit!

[2020-06-12 09:16] #3583 closed

[2020-06-12 09:19] ledestin commented on #7706
There's a problem with `gitdocs serve`. Currently, it doesn't fully work in my setup with `host` set to  `0.0.0.0` in `docs/.gitdocs.json`. I can do the same as in #8232. I'd like not to write the same code in JS, but extract the code that deals with `APP_DOMAIN` host extraction, and call it from `.gitdocs.js` to set `host` on the fly.
https://github.com/thepracticaldev/dev.to/blob/master/.gitdocs

[2020-06-12 09:42] rhymes commented on #8248
I still think we should change one by one in context and fix the underlying issue of having an exception that's too generic instead. But I welcome a PR so we the team can look over it

[2020-06-12 09:43] rhymes commented on #8186
Could that be done only in WSL mode?

cc @maestromac

[2020-06-12 09:46] colorfusion commented on #8186
If the `.ruby-version` on your local branch is different from remote's master for some reasons, wouldn't that cause some compatibility issues if you install based on that?

[2020-06-12 09:47] colorfusion commented on #8186
I would assume referring to the local's copy makes more sense since the application is supposed to be working at that point when you checked out the branch.

[2020-06-12 09:47] rhymes commented on #8186
@colorfusion yeah, that's a valid point. downloading master's version of the file could mean that the local copy could install the wrong version at times

[2020-06-12 09:55] colorfusion commented on #8186
@rhymes That reminds me, after checking out the repo and installing ruby. It seems like page still doesn't start up properly even after running, `bin/setup`. Should that be written in a new issue, or should we rename this issue to a more general name (DEV installation on Windows not working)?

[2020-06-12 10:32] rhymes commented on #8186
I believe they should be two separate issues, thanks @colorfusion!

[2020-06-12 10:33] rhymes commented on #7751
@yg @jrg94 could you try again? We shipped #8382 which should help!

[2020-06-12 10:35] yg commented on #7751
@rhymes Still the repos are there even after hard refresh!

[2020-06-12 10:40] rhymes commented on #7751
@yg in your profile page or in https://dev.to/settings/integrations ?

[2020-06-12 10:41] yg commented on #7751
@rhymes It is in my profile page

[2020-06-12 10:42] rhymes commented on #7751
if you go to https://dev.to/settings/integrations it should delete the repositories that are gone and then they should disappear from the profile page as well. It's a bit convoluted but let me know if that works. We still have to make this process automatic

[2020-06-12 12:01] Amorpheuz commented on #8186
That does work in **WSL 2** for me. I think since that section is under `prerequisites` for `Installation`, it is okay to obtain the version from the repo. I didn't want to change the flow of the docs since then it does become different from the flow of the other two docs (Linux and Mac). I think a person who will be upgrading and modifying ruby versions will be familiar with the concept.

Another

[2020-06-12 13:49] lisasy opened #8437 "[Connect] Update inner content with typography & spacing"

[2020-06-12 13:49] lisasy opened #8438 "[Connect] Update left sidebar with Crayons components"

[2020-06-12 13:49] lisasy opened #8439 "[Connect] Update "details" sidebar with updated container styles"

[2020-06-12 13:49] lisasy opened #8440 "[Connect] Move global settings to left sidebar"

[2020-06-12 13:49] lisasy opened #8441 "[Connect] Add new to "new message" to left sidebar"

[2020-06-12 13:51] lisasy opened #8442 "[Connect] Improve responsiveness of Size: [S]"

[2020-06-12 15:18] colorfusion opened #8446 "Yarn fails in Windows Installation due to installed nodejs version different from package.json"
**Describe the bug**

Based on the Installation guide for Windows, installing `nodejs` through `apt-get` will install the latest version (`12.18` at time of writing). But `package.json` still uses an older version of `node` (`12.16.x` at time of writing), running `bin/yarn` will generate the following error.
[code]

**To Reproduce**

1. Install nodejs based on **Installing Rails** in [Installing p

[2020-06-12 15:31] maestromac commented on #8446
Thank you for this issue @colorfusion . We'll have to update our doc to specify nvm as a prerequisite.

do you have [nvm](https://github.com/nvm-sh/nvm#installing-and-updating) installed? once you do, you can do `nvm use` and it will use the proper version our repo specified

[2020-06-12 15:31] sachinmukherjee commented on #8255
It is working now.

[2020-06-12 15:34] colorfusion commented on #8446
Yeah, managed to fix the nodejs version with `nvm`. Fortunately it works in WSL2.
Thanks a lot!

[2020-06-12 16:19] #8255 closed

[2020-06-12 17:28] benhalpern commented on #6994
Yeah, I think we may want to have `UserOptionalField` be one thing and `ProfileField` be another (as defined by the platform)... Either way, there are the literal rows, always being x to a single user, and then there's the configuration of the schema as a whole probably defined in `SiteConfig`.

Either way I get the sense that @citizen428 you are thinking about this the right way so if you want to

[2020-06-12 18:02] jrg94 commented on #7751
Seems to work! At the very least, it removes the organization repos. Only problem now is the interface doesn't seem to line up with what I actually see on my profile. The backend is displaying a lot more selected pins than I actually see on my profile.

![image](https://user-images.githubusercontent.com/11050412/84532995-47b00f00-acb5-11ea-9842-e347e8096a18.png)

![image](https://user-images.githu

[2020-06-12 18:53] felippe-regazio commented on #8377
Hello @rhymes !

If you visit my profile https://dev.to/felipperegazio and click on any of the repositories on my left side menu, you will see they doenst exist anymore. anyway they still there, and they still are not on the integrations list, so i still cant remove them.

[2020-06-12 22:32] binford2k opened #8457 "RSS/HTML import doesn't handle newlines"
**Describe the bug**

HTML does not distinguish whitespace. This means that text like so

[code]

and this

`This is a line with some newline characters.`

should be treated exactly the same. Unfortunately, the RSS importer just strips the newline character, so the resulting string becomes this:

`This is a linewith somenewline characters.`

This makes syndicated content a GIANT pain to post.

In

[2020-06-12 23:18] jdoss commented on #8255
Great to hear @sachinmukherjee!

[2020-06-13 02:32] yg commented on #7751
@rhymes Now it is fixed! The problem is might be cache!

[2020-06-13 03:34] jrg94 commented on #7751
Yeah, I ran a few of those fun Shift+F5s in Chrome, but nothing was updating on my end. That said, everything looks good on the front end! 👍

[2020-06-13 07:45] Amorpheuz commented on #6922
I would love to see docs updated to a more feature-rich doc framework too! Apart from Docusaurus, there is even https://github.com/docsifyjs/docsify/ and https://github.com/mkdocs/mkdocs/ too.

[2020-06-13 08:07] Amorpheuz opened #8458 "Add config.hosts instructions to GitPod Installation docs"
**Describe the bug**
Opening DEV in Gitpod from with https://gitpod.io/#https://github.com/thepracticaldev/dev.to leads to a `Blocked Host` error after a successful install of everything and `bin/startup` (Screenshot below). This is due to `Host Authorization` in Rails 6 where `config.hosts` needs to be configured.

It would be nice to have a helpful indication in the GitPod docs about this proces

[2020-06-13 08:36] ekafyi opened #8459 "dev.to flooded by spam bot posts"
I'm not sure where to report this; feel free to close / move it elsewhere if not appropriate.

Lately I've seen an increasing number of Indonesian spam posts advertising dangerous illegal drugs. Judging from the content (same content with different city names), it seems to be auto generated with a bot/script.

Examples:
- https://dev.to/samsircedek/jual-obat-aborsi-di-palangkaraya-wa-085268881116-

[2020-06-13 08:55] rhymes commented on #8377
@felippe-regazio if you visit https://dev.to/settings/integrations, wait for the list to load and then visit https://dev.to/felipperegazio - do they disappear?

[2020-06-13 09:01] rhymes commented on #8457
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-13 09:02] rhymes commented on #8457
@binford2k would the following comment - https://github.com/thepracticaldev/dev.to/issues/7923#issuecomment-630399659 - help?

AFAIK we don't support markdown in the RSS feed, the content should be HTML

[2020-06-13 09:05] rhymes commented on #7751
Thanks @yg for checking!

@jrg94 we'll take a look at that odd behavior

[2020-06-13 09:07] rhymes commented on #8458
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-06-13 11:52] colorfusion commented on #8186
Oh, I meant that running `bin/setup` failed in some steps even in WSL. I've already fixed it on my end, and added another issue #8446 for future reference.

I believe a quick fix to the documentation would be just to shift the checkout of the DEV repo to the prerequisites, that way you can adjust the first step for installing ruby to `cd dev.to` instead.

[2020-06-13 12:11] Amorpheuz commented on #8186
Ah the first para was meant for Rhymes for

I should really start using quotes, keep forgetting about them. 😅

Will wait on a reply from the core team on what's the best route before making a PR!

[2020-06-13 14:58] dewifatma opened #8460 "Jual obat aborsi COD Cikarang 081325466778 Cytotec Gastrul asli Cikarang"
JUAL OBAT ABORSI ASLI CIKARANG - 081325466778 - OBAT PENGGUGUR KANDUNGAN CIKARANG - CARA MENGGUGURKAN KANDUNGAN DI CIKARANG
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84571952-07d64e00-adc1-11ea-91d4-0c7f055281ce.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

[2020-06-13 15:00] dewifatma commented on #8460
JUAL OBAT ABORSI ASLI CIKARANG - 081325466778 - OBAT PENGGUGUR KANDUNGAN CIKARANG - CARA MENGGUGURKAN KANDUNGAN DI CIKARANH
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84571985-43711800-adc1-11ea-92e0-e29e2e15b312.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

[2020-06-13 15:10] dewifatma opened #8461 "Jual obat aborsi COD sidoarjo 081325466778 Cytotec Gastrul asli sidoarjo"
JUAL OBAT ABORSI ASLI SIDOARJO - 081325466778 - OBAT PENGGUGUR KANDUNGAN SIDOARJO - CARA MENGGUGURKAN KANDUNGAN DI SIDOARJO

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

image http://insight.design/forum/assets/images/1222-aOTsBS8ZyTfQLTZN.jpeg

image http://insight.design/forum/assets/images

[2020-06-13 15:11] dewifatma commented on #8461
JUAL OBAT ABORSI ASLI SIDOARJO - 081325466778 - OBAT PENGGUGUR KANDUNGAN SIDOARJO - CARA MENGGUGURKAN KANDUNGAN DI SIDOARJO
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84572233-e37b7100-adc2-11ea-9ca4-d55464ca3987.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

[2020-06-13 15:15] dewifatma opened #8462 "Jual obat aborsi COD karawang 081325466778 Cytotec gastrul asli karawang"
JUAL OBAT ABORSI ASLI KARAWANG - 081325466778 - OBAT PENGGUGUR KANDUNGAN KARAWANG - CARA MENGGUGURKAN KANDUNGAN DI KARAWANG
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84572330-6e5c6b80-adc3-11ea-9bdc-599362585cc4.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

[2020-06-13 15:17] dewifatma commented on #8462
JUAL OBAT ABORSI ASLI CIKARANG - 081325466778 - OBAT PENGGUGUR KANDUNGAN CIKARANG - CARA MENGGUGURKAN KANDUNGAN DI CIKARANG
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84572375-b11e4380-adc3-11ea-9f20-b68d22434185.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

[2020-06-13 15:35] dewifatma opened #8463 "Jual obat aborsi COD cianjur 081325466778 Cytotec Gastrul asli cianjur"
JUAL OBAT ABORSI ASLI CIANJUR - 081325466778 - OBAT PENGGUGUR KANDUNGAN CIANJUR - CARA MENGGUGURKAN KANDUNGAN DI CIANJUR
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84572724-3145a880-adc6-11ea-9339-aa0fd6d5e348.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

i

[2020-06-13 15:58] dewifatma opened #8464 "Jual obat aborsi COD magelang 081325466778 Cytotec Gastrul asli magelang"
JUAL OBAT ABORSI ASLI MAGELANG - 081325466778 - OBAT PENGGUGUR KANDUNGAN MAGELANG - CARA MENGGUGURKAN KANDUNGAN DI MAGELANG
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84573234-699ab600-adc9-11ea-97b7-a595baa858ee.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

[2020-06-13 15:59] dewifatma commented on #8464
JUAL OBAT ABORSI ASLI MAGELANG - 081325466778 - OBAT PENGGUGUR KANDUNGAN MAGELANG - CARA MENGGUGURKAN KANDUNGAN DI MAGELANG
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84573250-90f18300-adc9-11ea-888a-3fc057eab348.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

[2020-06-13 16:02] dewifatma opened #8465 "Jual obat aborsi malaysia 081325466778 Cytotec Gastrul asli malaysia"
JUAL OBAT ABORSI ASLI MALASYA - 081325466778 - OBAT PENGGUGUR KANDUNGAN MALASYA - CARA MENGGUGURKAN KANDUNGAN DI MALASYA
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84573314-f2195680-adc9-11ea-9c78-0ac7f6524fcb.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

i

[2020-06-13 16:03] dewifatma commented on #8465
JUAL OBAT ABORSI ASLI MALASYA - 081325466778 - OBAT PENGGUGUR KANDUNGAN MALASYA - CARA MENGGUGURKAN KANDUNGAN DI MALASYA
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84573340-18d78d00-adca-11ea-8d34-06cdfcd77358.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

i

[2020-06-13 16:24] dewifatma opened #8466 "Jual obat aborsi COD cianjur 081325466778 Cytotec Gastrul asli cianjur"
JUAL OBAT ABORSI ASLI CIANJUR - 081325466778 - OBAT PENGGUGUR KANDUNGAN CIANJUR - CARA MENGGUGURKAN KANDUNGAN DI CIANJUR
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84573815-03179700-adcd-11ea-9e4b-6cb0f961f2ff.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

i

[2020-06-13 16:25] dewifatma commented on #8466
JUAL OBAT ABORSI ASLI CIANJUR - 081325466778 - OBAT PENGGUGUR KANDUNGAN CIANJUR - CARA MENGGUGURKAN KANDUNGAN DI CIANJUR
![IMG-20190912-WA0004](https://user-images.githubusercontent.com/66872379/84573840-23dfec80-adcd-11ea-8484-ca1c09c41abd.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

i

[2020-06-13 16:29] dewifatma opened #8467 "Jual obat aborsi di hong kong 081325466778 Cytotec Gastrul asli hong kong"
JUAL OBAT ABORSI ASLI HONG KONG - 081325466778 - OBAT PENGGUGUR KANDUNGAN HONG KONG - CARA MENGGUGURKAN KANDUNGAN DI HONG KONG
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84573937-b97b7c00-adcd-11ea-8ace-d7c8b085f400.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.j

[2020-06-13 16:37] dewifatma opened #8468 "Jual obat aborsi COD jepara 081325466778 Cytotec Gastrul asli jepara"
JUAL OBAT ABORSI ASLI JEPARA - 081325466778 - OBAT PENGGUGUR KANDUNGAN JEPARA - CARA MENGGUGURKAN KANDUNGAN DI JEPARA
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84574163-debcba00-adce-11ea-9a60-eb17150e125c.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

imag

[2020-06-13 16:38] dewifatma commented on #8468
JUAL OBAT ABORSI ASLI JEPARA - 081325466778 - OBAT PENGGUGUR KANDUNGAN JEPARA - CARA MENGGUGURKAN KANDUNGAN DI JEPARA
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84574184-f431e400-adce-11ea-9320-8b1754494a93.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

imag

[2020-06-13 16:41] dewifatma opened #8469 "Jual obat aborsi COD sidoarjo 081325466778 Cytotec Gastrul asli sidoarjo"
JUAL OBAT ABORSI ASLI SIDOARJO - 081325466778 - OBAT PENGGUGUR KANDUNGAN SIDOARJO - CARA MENGGUGURKAN KANDUNGAN DI SIDOARJO
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84574258-686c8780-adcf-11ea-84af-177971e812a9.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

[2020-06-13 16:56] dewifatma opened #8470 "Jual obat aborsi malaysia 081325466778 Cytotec Gastrul asli malaysia"
JUAL OBAT ABORSI ASLI MALAYSIA - 081325466778 - OBAT PENGGUGUR KANDUNGAN MALAYSIA - CARA MENGGUGURKAN KANDUNGAN DI MALAYSIA
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84574569-7c18ed80-add1-11ea-99d6-fe3318320fde.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

[2020-06-13 16:57] dewifatma commented on #8470
JUAL OBAT ABORSI ASLI MALAYSIA - 081325466778 - OBAT PENGGUGUR KANDUNGAN MALAYSIA - CARA MENGGUGURKAN KANDUNGAN DI MALAYSIA
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84574610-a9fe3200-add1-11ea-8ae9-6cbefdcc54f9.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

[2020-06-13 17:04] dewifatma opened #8471 "Jual obat aborsi singapure ( 081325466778 ) Cytotec Gastrul Asli singapure"
JUAL OBAT ABORSI ASLI SINGAPURE - 081325466778 - OBAT PENGGUGUR KANDUNGAN SINGAPURE - CARA MENGGUGURKAN KANDUNGAN DI SINGAPURE
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84574730-aae39380-add2-11ea-8ede-503027a37748.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.j

[2020-06-13 17:11] dewifatma opened #8473 "Jual obat aborsi COD manado 081325466778 Cytotec Gastrul asli manado"
JUAL OBAT ABORSI ASLI MANADO - 081325466778 - OBAT PENGGUGUR KANDUNGAN MANADO - CARA MENGGUGURKAN KANDUNGAN DI MANADO
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84574857-98b62500-add3-11ea-8ccc-30b88030a217.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

imag

[2020-06-13 17:21] dewifatma opened #8474 "Jual obat aborsi di cikarang 081325466778 Cytotec Gastrul asli cikarang"
JUAL OBAT ABORSI ASLI CIKARANG - 081325466778 - OBAT PENGGUGUR KANDUNGAN CIKARANG - CARA MENGGUGURKAN KANDUNGAN DI CIKARANG
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84575080-f5fea600-add4-11ea-8429-e9482226fe96.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

[2020-06-13 17:21] dewifatma commented on #8474
JUAL OBAT ABORSI ASLI JEPARA - 081325466778 - OBAT PENGGUGUR KANDUNGAN JEPARA - CARA MENGGUGURKAN KANDUNGAN DI JEPARA
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84575090-0c0c6680-add5-11ea-93f3-e728edb33ac2.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

imag

[2020-06-13 17:24] dewifatma opened #8475 "Jual obat aborsi COD di sidoarjo 081325466778 Cytotec Gastrul asli sidoarjo"
JUAL OBAT ABORSI ASLI SIDOARJO - 081325466778 - OBAT PENGGUGUR KANDUNGAN SIDOARJO - CARA MENGGUGURKAN KANDUNGAN DI SIDOARJO
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84575162-71605780-add5-11ea-8521-e4f03ac77d04.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

[2020-06-13 17:25] dewifatma commented on #8475
JUAL OBAT ABORSI ASLI JEPARA - 081325466778 - OBAT PENGGUGUR KANDUNGAN JEPARA - CARA MENGGUGURKAN KANDUNGAN DI JEPARA
![IMG-20190912-WA0001](https://user-images.githubusercontent.com/66872379/84575181-85a45480-add5-11ea-9705-7021a9c0881c.jpg)

image http://insight.design/forum/assets/images/1222-RqBswhfd71CEKBJc.jpeg

image http://insight.design/forum/assets/images/1222-bxy0g1D781yYRAEW.jpeg

imag

[2020-06-13 20:14] felippe-regazio commented on #8377
@rhymes  yes they disappeared, from the `/integrations` and from my profile side menu also now. i think the issue has been solved : )

[2020-06-13 23:33] meifarmasi opened #8476 "JUAL OBAT PENGGUGUR KANDUNGAN 081226424620 CARA MENGGUGURKAN KEHAMILAN"
Jual Obat Penggugur Kandungan, Cara Menggugurkan Kehamilan, Jual Obat Aborsi, Obat Cytotec Asli, Obat Gastrul Misoprostol, Obat Pelancar Haid, Obat Telat Datang Bulan, Obat Pendorong Janin Terpercaya

![IMG-20200404-WA0014](https://user-images.githubusercontent.com/66854325/84581208-ea2cd700-ae08-11ea-8baa-31ae1d7c97df.jpg)

CARA PEMESANAN
WA.081226424620 ( TELKOMSEL )

KUNJUNGI WEBSITE KAMI
https

[2020-06-13 23:42] meifarmasi opened #8477 "JUAL OBAT ABORSI CYTOTEC ASLI 081226424620 OBAT GASTRUL TERPERCAYA"
Jual Obat Aborsi, Obat Aborsi Cytotec, Obat Aborsi Gastrul, Obat Cytotec Asli, Obat Gastrul Asli, Jual Obat Penggugur Kandungan, Cara Menggugurkan Kehamilan, Obat Pelancar Haid, Obat Telat Datang Bulan, Obat Pendorong Janin Terpercaya

![IMG-20200404-WA0014](https://user-images.githubusercontent.com/66854325/84581291-12690580-ae0a-11ea-8fba-82f3d6c7a665.jpg)

CARA PEMESANAN
WA.081226424620 ( TELKO

[2020-06-14 01:10] meifarmasi opened #8478 "JUAL OBAT PELANCAR HAID ALAMI 081226424620 OBAT TELAT HAID TERPERCAYA"
Jual Obat Pelancar Haid Alami, Obat Pelancar Haid Murah, Obat Telat Haid, Obat Haid Alami, Jual Obat Penggugur Kandungan, Cara Menggugurkan Kehamilan, Jual Obat Aborsi, Obat Cytotec Asli, Obat Gastrul Misoprostol, Obat Pelancar Haid, Obat Telat Datang Bulan, Obat Pendorong Janin Terpercaya

![IMG-20200404-WA0014](https://user-images.githubusercontent.com/66854325/84582460-67127d80-ae16-11ea-8cba-8

[2020-06-14 01:14] meifarmasi opened #8479 "JUAL OBAT TELAT DATANG BULAN 081226424620 TERLAMBAT BULAN TERPERCAYA"
Jual Obat Telat Datang Bulan, Obat Terlambat Bulan, Obat Telat Bulan, Telat Datang Bulan, Jual Obat Penggugur Kandungan, Cara Menggugurkan Kehamilan, Jual Obat Aborsi, Obat Cytotec Asli, Obat Gastrul Misoprostol, Obat Pelancar Haid, Obat Pendorong Janin Terpercaya

![IMG-20200404-WA0014](https://user-images.githubusercontent.com/66854325/84582491-f455d200-ae16-11ea-8d81-cca8de85bf3c.jpg)

CARA PEM

[2020-06-14 01:22] meifarmasi opened #8480 "JUAL OBAT ABORSI DI ACEH 081226424620 OBAT CYTOTEC GASTRUL ASLI"
Jual Obat Aborsi Di Aceh, Obat Aborsi Di Aceh, Obat Cytotec Di Aceh, Obat Gastrul Di Aceh, Jual Obat Cytotec Di Aceh, Jual Obat Gastrul Di Aceh, Obat Penggugur Kandungan Di Aceh, Cara Menggugurkan Kandungan Di Aceh, Obat Pelancar Haid Di Aceh, Obat Telat Datang Bulan Di Aceh, Obat Pendorong Janin Di Aceh Terpercaya

![IMG-20200404-WA0014](https://user-images.githubusercontent.com/66854325/84582589

[2020-06-14 01:26] meifarmasi opened #8481 "JUAL OBAT ABORSI DI BOGOR 081226424620 OBAT CYTOTEC GASTRUL ASLI"
Jual Obat Aborsi Di Bogor, Obat Aborsi Di Bogor, Obat Cytotec Di Bogor, Obat Gastrul Di Bogor, Jual Obat Cytotec Di Bogor, Jual Obat Gastrul Di Bogor, Obat Penggugur Kandungan Di Bogor, Cara Menggugurkan Kandungan Di Bogor, Obat Pelancar Haid Di Bogor, Obat Telat Datang Bulan Di Bogor, Obat Pendorong Janin Di Bogor Terpercaya

![IMG-20200404-WA0014](https://user-images.githubusercontent.com/668543

[2020-06-14 01:28] meifarmasi opened #8482 "JUAL OBAT ABORSI DI SURABAYA 081226424620 OBAT CYTOTEC GASTRUL ASLI"
Jual Obat Aborsi Di Surabaya, Obat Aborsi Di Surabaya, Obat Cytotec Di Surabaya, Obat Gastrul Di Surabaya, Jual Obat Cytotec Di Surabaya, Jual Obat Gastrul Di Surabaya, Obat Penggugur Kandungan Di Surabaya, Cara Menggugurkan Kandungan Di Surabaya, Obat Pelancar Haid Di Surabaya, Obat Telat Datang Bulan Di Surabaya, Obat Pendorong Janin Di Surabaya Terpercaya

![IMG-20200404-WA0014](https://user-im

[2020-06-14 01:31] meifarmasi opened #8483 "JUAL OBAT ABORSI DI JAKARTA 081226424620 OBAT CYTOTEC GASTRUL ASLI"
Jual Obat Aborsi Di Jakarta, Obat Aborsi Di Jakarta, Obat Cytotec Di Jakarta, Obat Gastrul Di Jakarta, Jual Obat Cytotec Di Jakarta, Jual Obat Gastrul Di Jakarta, Obat Penggugur Kandungan Di Jakarta, Cara Menggugurkan Kandungan Di Jakarta, Obat Pelancar Haid Di Jakarta, Obat Telat Datang Bulan Di Jakarta, Obat Pendorong Janin Di Jakarta Terpercaya

![IMG-20200404-WA0014](https://user-images.github

[2020-06-14 01:33] meifarmasi opened #8484 "JUAL OBAT ABORSI DI MALANG 081226424620 OBAT CYTOTEC GASTRUL ASLI"
Jual Obat Aborsi Di Malang, Obat Aborsi Di Malang, Obat Cytotec Di Malang, Obat Gastrul Di Malang, Jual Obat Cytotec Di Malang, Jual Obat Gastrul Di Malang, Obat Penggugur Kandungan Di Malang, Cara Menggugurkan Kandungan Di Malang, Obat Pelancar Haid Di Malang, Obat Telat Datang Bulan Di Malang, Obat Pendorong Janin Di Malang Terpercaya

![IMG-20200404-WA0014](https://user-images.githubusercontent

[2020-06-14 01:35] meifarmasi opened #8485 "JUAL OBAT ABORSI DI AMBON 081226424620 OBAT CYTOTEC GASTRUL ASLI"
Jual Obat Aborsi Di Ambon, Obat Aborsi Di Aceh, Obat Cytotec Di Ambon, Obat Gastrul Di Ambon, Jual Obat Cytotec Di Ambon, Jual Obat Gastrul Di Ambon, Obat Penggugur Kandungan Di Ambon, Cara Menggugurkan Kandungan Di Ambon, Obat Pelancar Haid Di Ambon, Obat Telat Datang Bulan Di Ambon, Obat Pendorong Janin Di Ambon Terpercaya

![IMG-20200404-WA0014](https://user-images.githubusercontent.com/6685432

[2020-06-14 01:38] meifarmasi opened #8486 "JUAL OBAT ABORSI DI BENGKULU 081226424620 OBAT CYTOTEC GASTRUL ASLI"
Jual Obat Aborsi Di Bengkulu, Obat Aborsi Di Bengkulu, Obat Cytotec Di Bengkulu, Obat Gastrul Di Bengkulu, Jual Obat Cytotec Di Bengkulu, Jual Obat Gastrul Di Bengkulu, Obat Penggugur Kandungan Di Bengkulu, Cara Menggugurkan Kandungan Di Bengkulu, Obat Pelancar Haid Di Bengkulu, Obat Telat Datang Bulan Di Bengkulu, Obat Pendorong Janin Di Bengkulu Terpercaya

![IMG-20200404-WA0014](https://user-im

[2020-06-14 01:40] meifarmasi opened #8487 "JUAL OBAT ABORSI DI BANJAR 081226424620 OBAT CYTOTEC GASTRUL ASLI"
Jual Obat Aborsi Di Banjar, Obat Aborsi Di Banjar, Obat Cytotec Di Banjar, Obat Gastrul Di Banjar, Jual Obat Cytotec Di Banjar, Jual Obat Gastrul Di Banjar, Obat Penggugur Kandungan Di Banjat, Cara Menggugurkan Kandungan Di Banjar, Obat Pelancar Haid Di Banjar, Obat Telat Datang Bulan Di Banjar, Obat Pendorong Janin Di Banjar Terpercaya

![IMG-20200404-WA0014](https://user-images.githubusercontent

[2020-06-14 01:42] meifarmasi opened #8488 "JUAL OBAT ABORSI DI PEKANBARU 081226424620 OBAT CYTOTEC GASTRUL ASLI"
Jual Obat Aborsi Di Pekanbaru, Obat Aborsi Di Pekanbaru, Obat Cytotec Di Pekanbaru, Obat Gastrul Di Pekanbaru, Jual Obat Cytotec Di Pekanbaru, Jual Obat Gastrul Di Pekanbaru, Obat Penggugur Kandungan Di Pekanbaru, Cara Menggugurkan Kandungan Di Pekanbaru, Obat Pelancar Haid Di Pekanbaru, Obat Telat Datang Bulan Di Pekanbaru, Obat Pendorong Janin Di Pekanbaru Terpercaya

![IMG-20200404-WA0014](http

[2020-06-14 01:45] meifarmasi opened #8489 "JUAL OBAT ABORSI DI PALANGKARAYA 081226424620 OBAT CYTOTEC GASTRUL ASLI"
Jual Obat Aborsi Di Palangkaraya, Obat Aborsi Di Palangkaraya, Obat Cytotec Di Palangkaraya, Obat Gastrul Di Palangkaraya, Jual Obat Cytotec Di Palangkaraya, Jual Obat Gastrul Di Palangkaraya, Obat Penggugur Kandungan Di Palangkaraya, Cara Menggugurkan Kandungan Di Palangkaraya, Obat Pelancar Haid Di Palangkaraya,  Obat Telat Datang Bulan Di Palangkaraya, Obat Pendorong Janin Di Palangkaraya Terpe

[2020-06-14 01:47] meifarmasi opened #8490 "JUAL OBAT ABORSI DI BALI 081226424620 OBAT CYTOTEC GASTRUL ASLI"
Jual Obat Aborsi Di Bali, Obat Aborsi Di Bali, Obat Cytotec Di Bali, Obat Gastrul Di Bali, Jual Obat Cytotec Di Bali, Jual Obat Gastrul Di Bali, Obat Penggugur Kandungan Di Bali, Cara Menggugurkan Kandungan Di Bali, Obat Pelancar Haid Di Bali, Obat Telat Datang Bulan Di Bali, Obat Pendorong Janin Di Bali Terpercaya

![IMG-20200404-WA0014](https://user-images.githubusercontent.com/66854325/84582589

[2020-06-14 01:48] meifarmasi opened #8491 "JUAL OBAT ABORSI DI BATAM 081226424620 OBAT CYTOTEC GASTRUL ASLI"
Jual Obat Aborsi Di Batam, Obat Aborsi Di Batam, Obat Cytotec Di Batam, Obat Gastrul Di Batam, Jual Obat Cytotec Di Batam, Jual Obat Gastrul Di Batam, Obat Penggugur Kandungan Di Batam, Cara Menggugurkan Kandungan Di Batam, Obat Pelancar Haid Di Batam, Obat Telat Datang Bulan Di Batam, Obat Pendorong Janin Di Batam Terpercaya

![IMG-20200404-WA0014](https://user-images.githubusercontent.com/668543

[2020-06-14 04:37] konsultasimedical opened #8560 "Jual obat aborsi di jember 081390298631 cytotec gastrul penggugur kandungan cod jember"
Jual Obat Aborsi Jember 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images
![images](https://user-images.githubusercontent.com/66870870/84584833-5d4b4300-ae33-11ea-8972-c3cc7e28e9de.jpeg)

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiApaka

[2020-06-14 04:37] konsultasimedical commented on #8560
Jual Obat Aborsi jember 081390298631 Obat Penggugur Kandungan Asli,Jual Obat Cytotec Gastrul Gynaecosid Asli,Cara Menggugurkan Kandungan Kuat,Apotik Jual obat Telat Bulan,Toko Atau Apotik Onlin Jual Obat Pelancar Haid.

images

WEB: https://konsultasimedical.com

MENU:
Hubungi KamiApakah Anda terlanjur hamil? Anda belum siap menjadi seorang ibu? Kami bisa memberikan bantuan untuk Anda. Silahkan hu