[2019-03-22 20:44] #2169 closed

[2019-03-22 21:36] kuhnertdm opened #2179 "Broken link on milestone notification gif"
**Describe the bug**
Link on milestone notification gif incorrectly links to internal page

**To Reproduce**
Steps to reproduce the behavior:

1. Write a post about Beto O'Rourke's history in the cDc

2. Get several comments from Trump/Sanders supporters saying how wrong you are

3. Get a milestone notification anyway

4. Click gif, observe incorrect link destination

**Expected behavior**
Link go

[2019-03-22 21:40] Glennmen commented on #2179
I will make a PR for that 😉

[2019-03-22 23:44] sw-yx commented on #2045
yea hello i was the original suggester of this issue, and i only really care about this in posts. i do pretty longform posts :)

[2019-03-22 23:46] aspittel commented on #2045
This is super helpful for having course and workshop material -- I use these all the time on GitHub in lesson plans! +1 for this feature!

[2019-03-23 18:09] SamCreamer commented on #2179
This is hilarious

[2019-03-24 00:14] equiman opened #2181 "figcaption tag in night mode"
for tag color font in night mode needs another lighter color.

![IMG_20190323_191124](https://user-images.githubusercontent.com/933393/54873206-90716480-4d9f-11e9-9223-934d28ae6fcd.jpg)

![IMG_20190323_191128](https://user-images.githubusercontent.com/933393/54873208-9404eb80-4d9f-11e9-8844-77ac080ce8d4.jpg)

[2019-03-24 00:18] equiman opened #2182 "Draft articles in Night mode"
Draft articles are lighter on Night mode on Dashboard screen

![Screenshot_20190323-191607](https://user-images.githubusercontent.com/933393/54873233-3d4be180-4da0-11e9-93b4-cbcaff1855d3.png)

[2019-03-24 00:22] equiman opened #2183 "Social icon in profile on Night mode"
Social icons in profile have a different color.

![IMG_20190323_192118](https://user-images.githubusercontent.com/933393/54873270-fe6a5b80-4da0-11e9-8827-90b246a6cb5d.jpg)

[2019-03-24 00:29] equiman opened #2184 "Following tags in Night mode"
On night mode active. Following tags and text are in light color.

![Screenshot_20190323-192459](https://user-images.githubusercontent.com/933393/54873311-aa13ab80-4da1-11e9-9387-bf9b7efd1c23.png)

[2019-03-24 12:43] #2179 closed

[2019-03-24 16:25] edisonywh opened #2185 "Suggestion: label issues with area of focus"
**Is your feature request related to a problem? Please describe.**
I'm usually trying to contribute on the Ruby side of things, not as much as frontend.

**Describe the solution you'd like**
Would be nice if there are tags associated with them, like: `App: JS`, `App: Ruby`, `App: CSS` etc., might also be good if there are level tags - `beginner`, `intermediate`, `advanced`.

**Additional context**

[2019-03-24 16:37] takeabug commented on #2017
@jessleenyc @maestromac This happens too when I try to change my username. There is no way to change it.

[2019-03-24 17:50] setevoy2 commented on #2017
@takeabug Dev.to seems had the same issue today with its server(s) so your issue might happen because of this.
I saw 503 couple of times today, also the site was working a bit slow sometimes.
Just my guess.

[2019-03-24 21:03] Zhao-Andy commented on #1994
@twhite96 sorry for the late reply. I'll raise this to discuss this week to see if you can take it on, or at least labeled approved in general.

[2019-03-24 21:03] Zhao-Andy commented on #2017
@takeabug changing your username is currently a known issue: https://github.com/thepracticaldev/dev.to/issues/1994

[2019-03-25 00:00] rhymes opened #2187 "Use randomly generated IDs in the REST API"
**Is your feature request related to a problem? Please describe.**

I'm opening this ticket after having read [this great article about data analysis on dev.to's articles](https://dev.to/daolf/-what-is-the-best-time-to-post-on-devto-a-data-backed-answer--1kob).

The question I'd like to set forth, in preparation for a future "publication" of the API, is: should dev.to use randomly generated resour

[2019-03-25 02:49] skathurwar opened #2189 "Unable to post article/blog/topic"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-03-25 02:53] skathurwar commented on #2189
505 error when i opened https://dev.to/new

[2019-03-25 09:11] #1202 closed

[2019-03-25 09:48] Einenlum opened #2190 "Encoding changed in some articles"
**Describe the bug**
The encoding in my articles seems to have changed. Although they were displayed perfectly a few months ago, now I have this type of result:

[Example article](https://dev.to/einenlum/lessons-learned-about-bus-factor-15-introduction-dl0?returning-user=true)

The titles do not seem affected.

**To Reproduce**
Steps to reproduce the behavior: Just check the previously given link.

[2019-03-25 11:45] lightalloy commented on #2124
I researched a bit and I suspect that this code may cause this problem:
https://github.com/thepracticaldev/dev.to/blob/9470ad8e7f42bc15cf5c4752c4a61e448eba7df5/app/models/notification.rb#L154-L159

There's a unique validation on Notification fields `user_id`, `notifiable_id`, `notifiable_type`, `action`, but there's no unique index in the database for these fields. The model validation doesn't pre

[2019-03-25 14:37] Zhao-Andy commented on #1623
Closed via #2176, thanks @jessleenyc 🙌

[2019-03-25 14:37] #1623 closed

[2019-03-25 15:58] kenbellows opened #2204 "Certain characters, like angle brackets, show up incorrectly in some article previews"
**Describe the bug**
When viewing the `/comments` view of an article, the first line and a half or so of the article is displayed. If that first bit contains inline code with angle brackets, e.g. if you wrote:
[code]
this appears in the article preview as: "this is an article about &lt;span&gt; tags".

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://dev.to/new'.
2. Enter minim

[2019-03-25 16:14] alfredosalzillo opened #2205 "There is an user with a null username"
Hi,

playing with the dev.to api i found that there are some user with a null username.

I'm using the https://dev.to/api/users/by_username api.
The api response is an user with a null username.

[code]
The user in the response is not always the same.

[2019-03-25 16:19] maestromac commented on #2189
Hello @skathurwar , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-03-25 16:19] #2189 closed

[2019-03-25 18:12] Zhao-Andy commented on #2205
Thanks for the catch @alfredosalzillo! We'll take a look into it.

[2019-03-25 18:35] jessleenyc commented on #2205
Leaving a note here that I took care of this specific account.

[2019-03-25 18:37] #1559 closed

[2019-03-25 18:38] maestromac commented on #2204
Thank you for catching this @kenbellows . This might have to do with how preview text is processed and rendered on /comment page.

[2019-03-25 19:26] Zhao-Andy opened #2207 "Username column should be not null"
The `user` table can sometimes have a `username = null` field. This shouldn't be allowed since we always want to ensure that users have a username. We currently have validations in the model level but not the database level.

Related to #2205

[2019-03-25 19:26] Zhao-Andy commented on #2205
Going to close this in favor of #2207

[2019-03-25 19:26] #2205 closed

[2019-03-25 19:56] jessleenyc commented on #2185
Ha, I actually just suggested changing up our label system with the team before I saw this issue. What I'm proposing is a bit different from what you're suggesting, here's what I was thinking:

category/area (we can be more liberal here and they will shift as our priorities shift): dx, internal, editor, notifications, home page, profile, night mode, pro, dependencies, for iOS, accessibility

statu

[2019-03-25 20:02] maestromac commented on #2177
Resolved with https://github.com/thepracticaldev/dev.to/pull/2178. If otherwise, please let us know!

[2019-03-25 20:02] #2177 closed

[2019-03-26 00:05] maxcell commented on #1837
I think given the #2134, I will just come up with a process for it and call it a day and let y'all take a gander with it! 😄

[2019-03-26 01:47] johnpapa opened #2210 "dark mode - code in comments needs contrast"
see below

![image](https://user-images.githubusercontent.com/1202528/54965579-82f6de80-4f47-11e9-9231-c80a91e778f6.png)

[2019-03-26 01:50] johnpapa opened #2211 "dark mode - draft posts need contrast"
see below

![image](https://user-images.githubusercontent.com/1202528/54965690-09132500-4f48-11e9-8b5b-9749ae08eb9c.png)

[2019-03-26 07:37] edisonywh commented on #2185
Awesome that you guys are looking into this 🎉

Yup, I don't think I've fully thought out all labels that'd make sense for `dev`, just thought I'd bring a conversation up and see what other people think. You guys would have better context! :)

`status` and `type` (maybe add refactor & chore under `type`) have already been running in the repo, and I think `level` is a _great_ idea to welcome newcome

[2019-03-26 08:44] rhymes commented on #2211
I think there's a duplicate here https://github.com/thepracticaldev/dev.to/issues/2182

[2019-03-26 10:59] kenbellows commented on #2204
Just noticed that the same bug manifests in notifications as well. Here's a screenshot of a notification about a comment I left:

<img width="678" alt="Screen Shot 2019-03-26 6:54:33 AM EST" src="https://user-images.githubusercontent.com/657118/54992011-fb3bbf00-4f9c-11e9-8cda-41d85be91eed.png">

[2019-03-26 11:12] kenbellows commented on #2204
Looks like article titles as well, in Preview mode when writing an article (using editor v1), though not once its saved.

Preview mode:

<img width="708" alt="Screen Shot 2019-03-26 at 8 06 05 AM" src="https://user-images.githubusercontent.com/657118/54992535-4c987e00-4f9e-11e9-86ca-65006772cdd1.png">

After saving:

<img width="775" alt="Screen Shot 2019-03-26 at 8 07 44 AM" src="https://user-ima

[2019-03-26 13:00] learnbyexample opened #2216 "Code block with string containing :o: gets changed to ⭕️"
**Describe the bug**

Code block with string containing `:o:` (lowercase letter that comes after `n` surrounded by colons) gets changed to `⭕️` (perhaps an emoji?)

**To Reproduce**

Using any of these code blocks in a post/comment and previewing it shows the issue. Having any other characters around this sequence doesn't matter as far as I've checked.

[code]

**Expected behavior**

Within code b

[2019-03-26 13:28] jessleenyc commented on #2185
Yeah, I definitely see your point there. My thought behind the different areas is that it might be helpful to have a sense of what else is 'going on' in an area that you're interested in or are working on. For example, there could be multiple issues on supporting different tags in markdown that could be worked on at the same time.

@lightalloy also suggested adding 'refactor' and 'optimization' un

[2019-03-26 14:20] abraham commented on #2187
Similar to KSUID is [ObjectId](https://docs.mongodb.com/manual/reference/method/ObjectId/) that have been in use in MongoDB for a while.

A fun app is Twitter. They were originally based on Rails and used sequential IDs until they ran into scaling issues and needed to generate IDs on multiple servers at once. You can [read about their fix](https://blog.twitter.com/engineering/en_us/a/2010/announci

[2019-03-26 14:32] rhymes commented on #2187
Cool, seems based on the same principle, the ability to sort and extract time information.

Yeah that's a classic problem in distributed programming after passing a certain scale I guess, Snowflake is mentioned in the [Segment article](https://segment.com/blog/a-brief-history-of-the-uuid/). Although DEV is probably a little away to have those scaling issues I think it would save a lot of pain down

[2019-03-26 14:43] benhalpern commented on #2216
😮

Yes, this is being caught by the markdown emoji converter. We should not run this parser within code blocks.

[2019-03-26 16:56] chadalen commented on #2012
This seems to be an issue still.
![image](https://user-images.githubusercontent.com/12568665/55017129-19fe7d80-4fbe-11e9-8a70-d6f0ed1d3c9c.png)

[2019-03-26 17:03] Zhao-Andy commented on #2012
@chadalen the text is only shown when the post was published within 24 hours ago.

[2019-03-26 17:30] gugadev commented on #1994
@Zhao-Andy Can users requests to be changed "manually"?

[2019-03-26 18:19] healeycodes opened #2221 "Bug(Night Mode): Embedded comments are hard to read"
**Describe the bug**
With Night Mode enabled, embedded comments in articles are hard to read.

They show up as black text against a dark blue background.

**To Reproduce**
With Night Mode enabled, go to an article that embeds comments.

Such as https://dev.to/devteam/top-5-dev-comments-from-the-past-week-gia

**Screenshots**

![An embedded comment](https://user-images.githubusercontent.com/3455923

[2019-03-26 20:09] #1552 closed

[2019-03-26 20:13] #1551 closed

[2019-03-26 20:14] #1553 closed

[2019-03-26 20:20] #1522 closed

[2019-03-26 20:28] #1542 closed

[2019-03-26 20:39] jessleenyc commented on #2211
Yep, thanks for the flag @johnpapa. Closing since it's a duplicate!

[2019-03-26 20:39] #2211 closed

[2019-03-26 20:42] andypiper opened #2222 "Dark mode - org CTA box content is hard to read (needs contrast)"
**Describe the bug**
It is difficult to read the black text on dark background in the CTA box on organisation posts.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/twilio
2. Click on any post
3. Check the sidebar
4. See below

**Screenshots**
<img width="297" alt="Screenshot 2019-03-26 at 20 40 43" src="https://user-images.githubusercontent.com/552452/55031939-ac773f00

[2019-03-26 20:46] jessleenyc commented on #2185
@edisonywh going to close this because we just added a bunch of labels. we'll try to remember to tag issues w/ JS and Ruby as well. there's a big backlog to go through but hopefully we'll get in the habit of it all going forward!

[2019-03-26 20:46] #2185 closed

[2019-03-26 20:55] johnpapa commented on #2211
thanks. i hope its ok that I am opening these as i run across them. i didnt see the dupe (sorry).

[2019-03-26 21:26] jessleenyc commented on #2211
@johnpapa 100% ok! no need to apologize at all. I was just doing some spring cleaning 😬

[2019-03-26 22:01] jessleenyc commented on #2086
Like @Link2Twenty, I also prefer the lower opacity so there's a distinction between placeholder text and user input.

[2019-03-26 22:03] jessleenyc commented on #2086
Since the original issue has been resolved, I'm going to go ahead and close this one. @co16353sidak thanks for creating the mockup for us to see the difference but I think as is works for now.

[2019-03-26 22:03] #2086 closed

[2019-03-26 22:20] jessleenyc commented on #735
@benhalpern yep!

[2019-03-26 22:48] jessleenyc commented on #1315
@ShivamSinghania connect messages only send an email notification after a certain amount of time. if you visit the site regularly, you'll likely never hit that duration. let me know if that makes sense!

[2019-03-27 10:01] lightalloy commented on #2061
I did research on this issue and found out that most of these queries are for validations (e.g. uniqueness validations) and callbacks. I think we could optimize it by only performing validations when the corresponding field was changed + adding unique indexes to the database if they are missing.
There were even attempts to bring such behavior into rails, but there's no visible result:
https://gith

[2019-03-27 10:44] VyasPrachi commented on #202
Hello,
I have used PWA in my previously working asp.net mvc application. It is working fine in android and desktop. But in ios every time it shows my login page even though I have stored session. Please help me in IOS.

[2019-03-27 11:31] mornir commented on #202
Auth redirect is working for me on iOS 12.2🥳

[2019-03-27 11:53] eusonlito opened #2223 "Add a HTML Meta tag with deployed git commit hash"
What about to add a `html` `meta` tag on header with the current git commit deployed?

On this way it's easy to contributors and developers follow website status and deployment compared with github commits.

I don't know if exists some tag for this proposse, but what about something like:

[code]

Regards :)

[2019-03-27 13:32] maestromac commented on #1958
Resolved with #2157

[2019-03-27 13:36] dabrorius commented on #1958
@maestromac please note that I did not test anything regarding notifications from followed organizations. My PR resolves a part of this issue, but deeper issues regarding notifications might still exist.

[2019-03-27 13:39] maestromac commented on #1958
Oh good point. Reopen for the notification portion.

[2019-03-27 13:42] jessleenyc commented on #2223
@maestromac what are your thoughts on this??

[2019-03-27 13:44] maestromac commented on #2223
This would really be a useful feature! I'd imagine this be done automatically either via bash. We squash our PR commits though, so that complicate things a bit.

[2019-03-27 17:29] maestromac commented on #2204
@kenbellows thanks for that. I'd say they are similar enough so the same issue is fine.

[2019-03-27 19:28] eusonlito opened #2226 "Non english characters are deleted on tags"
**Describe the bug**
When you write tags with some non english characters, these characters are deleted on article view.

**To Reproduce**
1. Use a tag like `Optimización` (Optimization).
2. Save
3. Go to article
4. `Optimización` is now `optimizacin`

**Expected behavior**
Show `Optimización` as in markdown editor.

**Screenshots**
![Tags Bug](https://user-images.githubusercontent.com/644551/5510

[2019-03-27 21:06] perlatsp opened #2227 "Github Repositories not visible"
**Describe the bug**
On Settings [page](https://dev.to/settings/integrations) When you use dark mode you are not able to view the repositories name due to the white background and  white text color

**To Reproduce**
Steps to reproduce the behavior:
If you have enabled dark mode

1. Go to settings
2. Click on 'integrations'

**Expected behavior**
You should be able to read the repositories names

*

[2019-03-27 22:05] brylie opened #2228 "Error loading images"
I shared a dev.to article on Reddit, and [one of the commenters said images wouldn't load](https://www.reddit.com/r/vuejs/comments/b59cbd/update_routerview_when_vue_route_changes_dev/ejc26j7/).

Here is the rest of their diagnosis:

[code]

[2019-03-27 22:06] brylie commented on #2228
So, it may be that using *.freessl.fastly is causing difficulties for some users.

[2019-03-27 23:38] rhymes commented on #2228
@brylie did you ask them to check without extensions? That's the first thing I could think of

[2019-03-28 08:26] lightalloy opened #2230 "Merging user accounts should be done in a transaction"
I think that for a safer merge at least some of the actions should be done inside a db transaction.

https://github.com/thepracticaldev/dev.to/blob/7c1418a87c654c2feb56124c2f750ee5a8455f12/app/services/moderator/merge_user.rb#L15-L26

[2019-03-28 13:46] maestromac commented on #2230
Really good idea @lightalloy

[2019-03-28 14:03] benhalpern opened #2234 "Toggle plain frontmatter editor within v2"
**Is your feature request related to a problem? Please describe.**
Currently if you want to write "simple" markdown, you do so with the original editor, which is fine, but has always been a bit weird and occasionally buggy.

The new editor has rich UI controls, but some folks still want the markdown pasting experience (for a lot of valid reasons beyond just taste!)

It would be nice if "v2" (the p

[2019-03-28 14:13] iverve opened #2235 "Error when attempting to access unfinished/unpublished post"
**Describe the bug**
When I try to post a blog, I get error 500. I am unable to post any content on the portal. Can someone help me how to resolve it?

**To Reproduce**
Steps to reproduce the behavior:

1. - Go to my Dashboard
2. - Click on the title or Edit button of any one of the last three of four unpublished posts
3. - See error

Expected behavior
View and/or edit post

**Desktop (please comp

[2019-03-28 16:23] dmerejkowsky commented on #1051
I *do* have a valid RSS url  (https://dmerej.info/blog/index.xml) but still can't log in on any new browser.

Any clues?

[2019-03-28 16:41] jessleenyc commented on #2235
@iverve i think we'll need to look at your specific account for this one. do you mind sending an email to yo@dev.to w/ your username? closing this bc i'm pretty sure it's user specific.

[2019-03-28 16:41] #2235 closed

[2019-03-28 17:48] jessleenyc commented on #1994
@twhite96 feel free to give this a go - first thought is we'll want to add some async jobs here.

[2019-03-28 18:14] jessleenyc commented on #1765
Looks like it didn't update old articles. We'll run a script to fix that soon - will keep this issue open until then!

[2019-03-28 18:26] Glennmen commented on #1765
@jessleenyc What PR fixed it for new articles? I think I missed it.

[2019-03-28 18:29] jessleenyc commented on #1765
@Glennmen i believe it was this one: https://github.com/thepracticaldev/dev.to/pull/1985

[2019-03-28 19:59] twhite96 commented on #1994
Okay. Will work on this some this weekend.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-29 05:07] iverve commented on #2235
Hi Jess Lee,

Greetings!!

I have mentioned here below my email id and user name. So kindly take a
look on it -

User name - https://dev.to/iverve
Email id - contact@i-verve.com

Hope your team will help me running my account properly

On Thu, Mar 28, 2019 at 10:11 PM Jess Lee <notifications@github.com> wrote:

--
Cheers!

Bilal Momin
CEO and Director
i-Verve INC <http://i-verve.com/>
Email :- con

[2019-03-29 11:58] seorakesh commented on #2189
Unable to write a new post

[2019-03-29 12:37] lightalloy commented on #2021
Cops left to be fixed (from the `rubocop_todo`):
- [ ] Rails/HasManyOrHasOneDependent
- [ ] Rails/SkipsModelValidations
- [ ] Style/FormatString
- [ ] Style/TrivialAccessors
- [ ] Layout/AlignParameters
- [ ] Layout/ConditionPosition
- [ ] Layout/InitialIndentation

[2019-03-29 12:41] lightalloy commented on #2021
I think these cops should be enabled + exclude files that contain violations + configure max values where applicable:

- Metrics/ClassLength
- Metrics/ModuleLength
- Metrics/AbcSize
- Metrics/CyclomaticComplexity
- Style/GlobalVars
- Metrics/MethodLength
- Metrics/ParameterLists

[2019-03-29 13:53] AntonRich opened #2238 "Combining tags together in a search query."
It would be great if users could write a search query of the following format: #tag1 #tag2 and receive the results that actually have such tags.

https://dev.to/antonrich/how-can-i-combine-tags-when-searching-on-dev-to-5b19

[2019-03-29 14:56] jessleenyc commented on #2238
Cool, thanks for creating the issue.

[2019-03-29 17:38] jessleenyc commented on #1765
@Glennmen how do things look now?

[2019-03-29 17:42] Glennmen commented on #1765
@jessleenyc Hard to say honestly, I don't see any difference compared to what I can remember from earlier or yesterday.

[2019-03-29 17:53] jessleenyc commented on #1765
Hmm... well, we ran the script to update older article analytics. It's possible that the numbers haven't changed too much since the article is past its initial burst of engagement?

I'm going to close this issue for now but if you notice out of sync numbers again, definitely feel free to open a new issue!

[2019-03-29 17:53] #1765 closed

[2019-03-29 18:12] jessleenyc commented on #1845
@kay-is this should work now. looks like someone else from moesif had the post pulled in via rss which automatically added the canonical url to their unpublished post.

[2019-03-29 18:13] jessleenyc commented on #2014
Seems like this has been resolved so I'm going to close the issue. Feel free to ping me if that's not the case and I'll reopen. Thanks!

[2019-03-29 18:13] #2014 closed

[2019-03-29 18:27] brylie commented on #2228
Response in the Reddit issue:

[2019-03-29 23:05] #1827 closed

[2019-03-30 05:26] iverve commented on #2235
Hello Jess Lee,

Greetings!!
As per our discussion, I have sent an email **yo@dev.to** but till now I am not getting any confirmation email from your end. I am getting the same error as mentioned above and attached a screenshot here below which showing an error so kindly take a review on it -

Hope you will help to resolve this problem
[screenshot-dev.to.docx](https://github.com/thepracticaldev/de

[2019-03-30 15:34] maestromac commented on #1238
Resolved with https://github.com/thepracticaldev/dev.to/pull/2233

[2019-03-30 15:34] #1238 closed

[2019-03-30 18:15] co16353sidak commented on #2222
@andypiper not able to reproduce the same issue, I have followed along with steps but not able to reproduce, can you check if the issue has not been already fixed by checking again ?
<img width="341" alt="Screenshot 2019-03-30 at 11 44 52 PM" src="https://user-images.githubusercontent.com/35738138/55280014-d2714c00-5345-11e9-8a8e-acf2fe73286d.png">

[2019-03-30 18:17] co16353sidak commented on #2221
I am able to reproduce this issue on both Safari and Firefox.

@healeycodes @jessleenyc I would like to take up this issue and work on it

[2019-03-30 18:20] healeycodes commented on #2221
Feel free @co16353sidak! I claim no ownership :smile:

[2019-03-30 18:58] #2227 closed

[2019-03-30 21:15] mjraadi opened #2244 "[Nightmode] Article Header in Comments Section Needs To Be Patched"
**Describe the bug**
The article header on the comments section need to be fixed on night mode. In addition the article description is not visible.

**To Reproduce**
Steps to reproduce the behavior:

1. Make sure night mode is enabled.
2. Go to any article with comments.
3. Click on 'VIEW FULL DISCUSSION'
4. Scroll to the top of the page
5. See the behavior

**Expected behavior**
You should be abl

[2019-03-30 21:21] mjraadi commented on #2244
I will submit a PR to patch the issue as soon as it's labeled and approved.

[2019-03-30 21:35] mjraadi opened #2245 "Upload Video Section Needs to Be Adjusted to the Night Mode Theme"
**Describe the bug**
"Upload Video" box needs to be adjusted to night mode color theme.

**To Reproduce**
Steps to reproduce the behavior:

1. Make sure night mode is enabled
2. You need to be signed in to be able to upload a video
3. Go to [video upload section](https://dev.to/videos/new)
4. See the behavior

**Expected behavior**
Upload container should be adjusted to the night mode theme.

**Sc

[2019-03-30 21:35] mjraadi commented on #2245
I will submit a PR to patch the issue as soon as it's labeled and approved.

[2019-03-31 08:24] co16353sidak commented on #2221
I have implemented some designs which I think should be sufficient for the embedded code blocks.
<img width="822" alt="Screenshot 2019-03-31 at 1 51 46 PM" src="https://user-images.githubusercontent.com/35738138/55286665-59f9a200-53bc-11e9-9be0-f63880d9d6ba.png">

Following the style followed in the default mode, I made the changes accordingly in the night mode as:

<img width="825" alt="Screensho

[2019-03-31 10:49] Einenlum commented on #2190
Seems like the bug is not happening anymore… Was it a momentary issue in dev.to's backend?
¯\_(ツ)_/¯

[2019-03-31 10:49] #2190 closed

[2019-03-31 15:08] srebalaji commented on #2238
Someone working on this feature? or Can I take it?

[2019-03-31 15:57] Mte90 opened #2249 "Improve the feed using the tags picked by an user"
**Describe the bug**
An user pick the tags that want to follow but there isn't any priority to them on the various feed availables.

**To Reproduce**
Steps to reproduce the behavior:

1. Set tags on your user
2. Check the tags of the post in your feed

**Expected behavior**
The feeds has only stuff of the tags that the user is following or else they are useless right now

**Screenshots**
![immagin

[2019-03-31 16:01] Glennmen commented on #2249
I think this is related to this issue: https://github.com/thepracticaldev/dev.to/issues/1856

[2019-03-31 16:17] Mte90 commented on #2249
Yes they are related but is suggesting another way, ignore the tags but is not talking about use the tags that an user chose.
Right now this feature is useless because is like a bookmark and that's it.

[2019-03-31 16:52] rhymes opened #2250 "API: can't get comments belonging to an article"
**Describe the bug**

I can't seem to be able to retrieve articles comments from the DEV API.
It works on my local installation but not using the live API.

Given the article API response https://dev.to/api/articles/95907 - https://dev.to/kathyra_/what-security-through-obscurity-is-and-why-it-s-evil-47d5 - I tried to retrieve its comments using https://dev.to/api/comments?a_id=95907 but the server

[2019-04-01 06:34] iverve commented on #2235
Hello Dev,
Greetings!!

As per our discussion, I have sent an email *yo@dev.to <yo@dev.to>* but
till now I am not getting any confirmation email from your end. I am
getting the same error as mentioned above and attached a screenshot here
below which getting an error so kindly take a review on it -

Hope you will help to resolve this problem
screenshot-dev.to.docx
<https://github.com/thepracticalde

[2019-04-01 07:05] rhymes commented on #2031
unfortunately I'm in the same predicament. I tried again a few days ago but still... I reckon there's an issue with job prioritization in delayed job or something

[2019-04-01 12:48] jsntn commented on #1865
I'd also like to see this email login option.

[2019-04-01 13:18] cosimochellini opened #2258 "The url https://dev.to/aspittel/css-from-zero-to-hero-3o16 doesent work"
**Describe the bug**
this link is broken
https://dev.to/aspittel/css-from-zero-to-hero-3o16

**To Reproduce**
cmd/ctrl + t ,
GOTO => https://dev.to/aspittel/css-from-zero-to-hero-3o16

[2019-04-01 13:20] ajruckman commented on #2258
This one either: [https://dev.to/azure/creating-the-simplest-possible-aspnet-core-form-with-a-post-method-416g](https://dev.to/azure/creating-the-simplest-possible-aspnet-core-form-with-a-post-method-416g)

[2019-04-01 13:20] rhymes commented on #2258
I think the entire website is unfortunately experiencing an outage, not just that URL

[2019-04-01 13:22] ivan12339 opened #2259 "Bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-04-01 13:30] rhymes commented on #2259
@ivan12339 hahaah I think you forgot to fill in the bug description, or any field actually :D

[2019-04-01 13:30] Naltie-Jones opened #2260 "page isn't rendering"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-04-01 13:30] VellalaVineethKumar opened #2261 "bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-04-01 13:40] Luteces opened #2262 "500 Error It's not you, it's me. Sorry you're hitting this page. Please help us by submitting a bug report. Thank you!"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-04-01 13:41] #2262 closed

[2019-04-01 13:43] jamiemccarville opened #2263 "500 error"
Tried to follow a link to an article from Twitter, got a 500 error.

[2019-04-01 13:50] erwald opened #2264 "Get "Error: URI Too Long" when editing post"
**Describe the bug**

When editing an unpublished blog post, I get a bare HTML page stating "Error: URI Too Long".

**To Reproduce**

1. Go to [my unpublished blog post](https://dev.to/erwald/bach-to-the-future-or-humanising-music-with-neural-nets-3f03-temp-slug-7319634?preview=e5a256660db1e441b2c88150a4598cd8fb0e5226a6f425df16a60828ddd8f5b5f52b95c813f7f80932f67b29cacbaafdd8af16412359cd1700419aae)

[2019-04-01 13:55] goutam4000ad opened #2265 "Links are not working.. showing 500 error. Plaease fix it."
All links in the site are showing 500 error. Unable to load the pages.

[2019-04-01 14:01] senpl opened #2266 "Articles gives 500 - 503 today"
reproduced in private window. Most articles got 50* errors today

**Describe the bug**
Just entering https://dev.to/ganderzz/introduction-to-functional-programming-598e gives 500 internal error with rounding lego picture
**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://dev.to/ganderzz/introduction-to-functional-programming-598e'
2. See error 500 Error
It's not you, it's me.

**

[2019-04-01 14:01] Zhao-Andy commented on #2266
Hey @senpl, we're currently experiencing some server issues right now and will get back up as soon as possible! Thanks for your patience!

[2019-04-01 14:02] Zhao-Andy commented on #2265
Hey @goutam4000ad, we're currently experiencing some server issues right now and will get back up as soon as possible! Thanks for your patience!

[2019-04-01 14:04] Zhao-Andy commented on #2260
Hey @Naltie-Jones, we're currently experiencing some server issues right now and will get back up as soon as possible! Thanks for your patience!

[2019-04-01 14:05] goutam4000ad commented on #2265
Hi @Zhao-Andy , please let me know when it is done. Thanks!

[2019-04-01 14:15] jessleenyc commented on #2263
Hey there, we’re currently experiencing some server issues right now and will get back up as soon as possible. Thanks for your patience!

[2019-04-01 14:15] jessleenyc commented on #2258
Yep, thanks @rhymes. We're currently experiencing some server issues right now and will get back up as soon as possible. Thanks for your patience!

[2019-04-01 14:20] fdevinar opened #2267 "Not being able to access articles."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-04-01 14:25] stroudn1 opened #2268 "Notification Error"
**Describe the bug**
A clear and concise description of what the bug is.
Tried to click on a comment someone had 'liked' and I received a page with a '500 Error'

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'notification button at top right corner (image of bell)'
2. Click on 'Nicole Archambault reacted to (comment) with (heart)'
3. See error

**Expected behavior**
A clear and conc

[2019-04-01 14:28] jessleenyc commented on #2268
Hey there, we’re currently experiencing some server issues right now and will get back up as soon as possible! Thanks for your patience!

[2019-04-01 14:29] jessleenyc commented on #2267
We’re currently experiencing some server issues right now and will get back up as soon as possible. Thanks for your patience!

[2019-04-01 14:31] nouman66 opened #2269 "error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-04-01 14:39] ConSou commented on #2230
Hello, I can work on this if its still up for grabs.

[2019-04-01 15:02] shameemreza opened #2271 "Cant save post"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-04-01 15:02] codethought opened #2272 "Error 500 trying to go to : https://dev.to/johannesvollmer/dont-be-a-bracist-2on"
**Describe the bug**
Error 500 trying to go to : https://dev.to/johannesvollmer/dont-be-a-bracist-2on

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/johannesvollmer/dont-be-a-bracist-2on
2. See error

**Expected behavior**
I get to see a nice webpage.

**Screenshots**

**Desktop (please complete the following information):**

- OS: macOS Mojave
- Chrome
- Version 72

-

[2019-04-01 15:05] kaanyalti opened #2273 "500 error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-04-01 15:08] jessleenyc commented on #2271
Hey there, we’re currently experiencing some server issues right now. Sorry for the inconvenience and thanks for your patience.

[2019-04-01 15:08] jessleenyc commented on #2272
Hey there, we’re currently experiencing some server issues right now and will get back up as soon as possible! Thanks for your patience!

[2019-04-01 15:08] jessleenyc commented on #2273
Hey there, we’re currently experiencing some server issues right now and will get back up as soon as possible! Thanks for your patience!

[2019-04-01 15:11] 3l1s3 opened #2274 "500 error"
**Describe the bug**
Previously viewable article link, now generates 500 error

**To Reproduce**
Steps to reproduce the behavior:

1. Go to
https://dev.to/ayrtonvwf/a-useful-progress-bar-fallback-to-ie9-css-only-14o0

2. See error

**Expected behavior**
Article should be viewable.

[2019-04-01 15:14] PratikTheGameDever opened #2275 "Page not loading"
No Extensions

**Describe the bug**
https://dev.to/blueturtle/modular-front-end-development-23ej : page not loading

**Expected behavior**
A clear and concise description of what you expected to happen.

- OS: Android latest
- Browser : chrome
- Version : latest

**Smartphone

- Device: pixel 3xl
- OS: Android latest
- Browser : chrome
- Version : latest

**Additional context**
Just clicked in Goo

[2019-04-01 15:16] mariocsee commented on #2274
Hey there, we’re currently experiencing some server issues right now and will get back up as soon as possible! Thanks for your patience!

[2019-04-01 15:16] mariocsee commented on #2275
Hey there, we’re currently experiencing some server issues right now and will get back up as soon as possible! Thanks for your patience!

[2019-04-01 15:23] shameemreza commented on #2271
Its ok, I am just reporting the issue.

[2019-04-01 15:24] thetealpickle opened #2276 "Save a post error 500 and unable to login"
I am having issues saving my posts, I persistently receive a error code 500.
Started to debug by opening dev.to in an incognito tab and I was unable to login.

When I attempted to log in with twitter I received the following error
![er2](https://user-images.githubusercontent.com/10859803/55339216-427bf100-5470-11e9-9c50-96c06900276f.jpg)

When I attempted to log in with Github I received the follo

[2019-04-01 15:26] mariocsee commented on #2276
Hey there, we’re currently experiencing some server issues right now and will get back up as soon as possible! Thanks for your patience!

If this persists once the server is back to normal, we will investigate it soon.

[2019-04-01 15:29] john-angel opened #2277 "500 error when trying to update default reading font"
Hi there,

I´m getting a 500 error page when I try to set the font to Comic Sans.

Steps to reproduce the behavior:

1. Go to 'https://dev.to/settings/misc'
2. Scroll down to 'Style customization'
3. Select "comic sans" from the Base Post Font dropdown.
4. Click Submit
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/18643893/55339550-823eda80-5468-11e9-870c-465d47a

[2019-04-01 15:32] mariocsee commented on #2277
Hey there, we’re currently experiencing some server issues right now and will get back up as soon as possible! Thanks for your patience!

If this persists once the server is back to normal, we will investigate it soon.

[2019-04-01 16:05] Stargator opened #2278 "Some dev.to pages are timing out"
**Describe the bug**
I can only access selective dev.to pages/posts.

For the web pages that I cannot access, I get a timeout error page with a Guru Mediation error code:
<img width="408" alt="Screen Shot 2019-04-01 at 11 59 07 AM" src="https://user-images.githubusercontent.com/7527155/55341957-9fc67100-5475-11e9-8e54-95893b423ee3.png">

**To Reproduce**
Steps to reproduce the behavior:

1. Go to

[2019-04-01 16:16] kay-is commented on #1845
Do you know who?

[2019-04-01 16:22] almereyda opened #2279 "Article does not load"
**Describe the bug**

Opening https://dev.to/david_j_eddy/opinion-architect-vs-engineer-vs-developer-5n0 fails with a 500 error message, and asks to submit here.

Before it showed a 503 Varnish cache error.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://dev.to/david_j_eddy/opinion-architect-vs-engineer-vs-developer-5n0'
2. See error

**Expected behavior**

I'm expecting to s

[2019-04-01 16:24] mariocsee commented on #2279
Hey there, we’re currently experiencing some server issues right now and will get back up as soon as possible! Thanks for your patience!

[2019-04-01 16:24] abevoelker commented on #2279
Seems to be happening to a lot of (all?) articles right now

[2019-04-01 16:33] rambotech opened #2280 "Fallen Robot"
This link returns a 5xx page (fallen robot), and reported a 503 (first byte timeout) on the first refresh.

https://dev.to/azure/how-do-you-structure-your-code-when-moving-your-api-from-express-to-serverless-functions-30bc

[2019-04-01 16:34] mariocsee commented on #2280
Hey there, we’re currently experiencing some server issues right now and will get back up as soon as possible! Thanks for your patience!

[2019-04-01 16:42] nickytonline commented on #2280
It appears to be back on the East coast at least.

[2019-04-01 17:04] mariocsee commented on #2280
Good news! We're back up and running, so you should have no problem visiting that article and other pages on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know.

[2019-04-01 17:04] #2280 closed

[2019-04-01 17:04] mariocsee commented on #2279
Good news! We're back up and running, so you should have no problem visiting that article and other pages on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know.

[2019-04-01 17:04] #2279 closed

[2019-04-01 17:06] mariocsee commented on #2278
Good news! We're back up and running, so you should have no problem visiting that article and other pages on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know.

[2019-04-01 17:06] #2278 closed

[2019-04-01 17:06] mariocsee commented on #2277
Good news! We're back up and running, so you should have no problem visiting that article and other pages on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know and we will look into it.

[2019-04-01 17:06] #2277 closed

[2019-04-01 17:06] mariocsee commented on #2276
Good news! We're back up and running, so you should have no problem visiting that article and other pages on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know and we will look into it.

[2019-04-01 17:06] #2276 closed

[2019-04-01 17:07] mariocsee commented on #2275
Good news! We're back up and running, so you should have no problem visiting that article and other pages on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know.

[2019-04-01 17:07] #2275 closed

[2019-04-01 17:07] mariocsee commented on #2274
Good news! We're back up and running, so you should have no problem visiting that article and other pages on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know.

[2019-04-01 17:07] #2274 closed

[2019-04-01 17:07] mariocsee commented on #2273
Good news! We're back up and running, so you should have no problem visiting that article and other pages on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know.

[2019-04-01 17:07] #2273 closed

[2019-04-01 17:08] mariocsee commented on #2272
Good news! We're back up and running, so you should have no problem visiting that article and other pages on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know.

[2019-04-01 17:08] #2272 closed

[2019-04-01 17:09] mariocsee commented on #2271
Good news! We're back up and running, so you should be able to save your post and visit other pages on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know and we will look into it.

[2019-04-01 17:09] #2271 closed

[2019-04-01 17:09] #2269 closed

[2019-04-01 17:10] mariocsee commented on #2269
Good news! We're back up and running, so you shouldn't be running into 500 errors on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know.

[2019-04-01 17:12] mariocsee commented on #2268
Good news! We're back up and running, so everything should be back to normal. I'm going to close this issue, but if you're still experiencing this, please let us know.

[2019-04-01 17:12] #2268 closed

[2019-04-01 17:12] mariocsee commented on #2267
Good news! We're back up and running, so you should have no problem visiting articles and other pages on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know.

[2019-04-01 17:12] #2267 closed

[2019-04-01 17:13] mariocsee commented on #2266
Good news! We're back up and running, so you should have no problem visiting that article and other pages on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know.

[2019-04-01 17:13] #2266 closed

[2019-04-01 17:14] mariocsee commented on #2265
Hey @goutam4000ad! We're back up and running, so you should have no problem visiting different pages on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know.

[2019-04-01 17:14] #2265 closed

[2019-04-01 17:14] mariocsee commented on #2263
Good news! We're back up and running, so you should have no problem visiting pages on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know.

[2019-04-01 17:14] #2263 closed

[2019-04-01 17:15] mariocsee commented on #2261
We're back up and running, so you should have no problem visiting pages on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know.

[2019-04-01 17:15] #2261 closed

[2019-04-01 17:15] mariocsee commented on #2260
Hey @Naltie-Jones! We're back up and running, so you should have no problem visiting pages on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know.

[2019-04-01 17:15] #2260 closed

[2019-04-01 17:16] mariocsee commented on #2258
Good news! We're back up and running, so you should have no problem visiting that article and other pages on dev.to. I'm going to close this issue, but if you're still experiencing this, please let us know.

[2019-04-01 17:16] #2258 closed

[2019-04-01 17:17] mariocsee commented on #2261
If this is unrelated to the recent trouble we've experienced with our servers, please provide a description of the issue you've encountered so we can take a look.

[2019-04-01 17:18] mariocsee commented on #2269
If this is unrelated to the recent trouble we've experienced with our servers, please provide a description of the issue you've encountered so we can take a look.

[2019-04-01 17:19] mariocsee commented on #2259
Good news! We're back up and running, so you should have no problem visiting pages on dev.to. I'm going to close this issue for now assuming it's related to the recent downtime.

If this is unrelated to the recent trouble we've experienced with our servers, please provide a description of the issue you've encountered so we can take a look.

[2019-04-01 17:19] #2259 closed

[2019-04-01 18:14] jessleenyc commented on #2264
@erwald are you still experiencing this? I just tried reproducing but didn't get the error. We had some server issues earlier and I'm wondering if this could have possibly been related.

[2019-04-01 18:15] jessleenyc commented on #2245
Sounds great @mjraadi

[2019-04-01 18:20] jessleenyc commented on #2249
@Mte90 thanks for the issue -- followed tags and users are prioritized in a feed but we do still include some other articles w/ tags you don't follow. Sounds like you're interested in having tags prioritized further which is something we can consider.

And in case this is something you're interested in -  you can adjust the priority 'weight' of each tag you follow on https://dev.to/dashboard/follo

[2019-04-01 18:47] erwald commented on #2264
Nope, fixed now! Weird manifestation of a server issue, but I guess it must've been it. Thanks @jessleenyc !

[2019-04-01 18:47] #2264 closed

[2019-04-01 20:39] jessleenyc commented on #1845
@kay-is the org admin for https://dev.to/moesif.

[2019-04-02 07:54] mjraadi commented on #2245
For some reason I can't view the "upload video" section and I'm getting this error:
![Screenshot_20190402_121604](https://user-images.githubusercontent.com/20579660/55384923-3ad84d00-5541-11e9-93b5-72bae83640f3.png)

But anyway I think I can fix the issue without running it locally. Here's what the page will look like:
![Screenshot_20190402_121830](https://user-images.githubusercontent.com/2057966

[2019-04-02 09:54] Mte90 commented on #2249
Thanks for the hint!

About prioritize is quite clear because I don't follow the tags of the post that are in the screen but I am getting them anyway.
So right now for me is not clear how tags are working, if I follow them I should see this tags and not others tha I don't care.
AS example I am getting a lot of stuff about webdev or javascript but I am not following this tags.

[2019-04-02 10:17] mjraadi opened #2286 "[Night Mode]: Article's Comment Preview Needs to be Fixed"
**Describe the bug**
Comment preview of an article needs to be updated according to the night mode color scheme. Background color is yellow and font color is white and the text is unreadable.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any article
2. In the comment box type anything
3. Click on "Preview"
4. See the behavior

**Expected behavior**
Contrast between background color

[2019-04-02 11:07] learnbyexample opened #2288 "Inline code with double backslash becomes single if it is part of nested bullet list"
**Describe the bug**

Double backslash inside code blocks in nested listing results in single backslash instead of two.

**To Reproduce**

From any post/comment, try these non-nested and nested bullet lists:

[code]

**Expected behavior**

Double backslash shouldn't become single, as shown below for GitHub markdown rendering:

* foo
    * baz
* use `\\1`, `\\2`, etc

**Screenshots**

Screenshot fo

[2019-04-02 11:53] jessleenyc commented on #2249
@Mte90 out of curiosity are you following any of the _people_ that would have published the posts w/ tags you don't follow?

[2019-04-02 11:54] Mte90 commented on #2249
No I follow only 1 person that is about php stuff :-)

[2019-04-02 11:58] jessleenyc commented on #2245
@mjraadi I think this is because your local account is 'new'. Can you go into console and update the user created_at time so it's more than 2 weeks ago?

[2019-04-02 12:00] jessleenyc commented on #2249
OK, cool. Thanks for the feedback - I'd say this is working as intended for now but we're always making adjustments to the feed and this might make sense as something for people to customize on their own -- i.e. "I only want to see posts from tags and people I follow", "I want to see things I follow, plus other popular content", etc.

[2019-04-02 12:49] mjraadi commented on #2245
I tried `currentUser` in the console and here's what it returned:
[code]

I also tried `currentUser.created_at = 1552595400`  and change the path, but still didn't see the link.

[2019-04-02 13:13] mjraadi commented on #2245
At first I thought you meant browser console, then I tried to update the user record from PostgreSQL users table and it worked.

[2019-04-02 14:14] #1353 closed

[2019-04-02 14:50] jessleenyc opened #2290 "Code sandbox liquid tag w/ focus input causes scrolling on page load"
**Describe the bug**
Reported by a user trying to embed a codesandbox that focuses an input. The page 'jumps'/scrolls to the embed when it loads.

**To Reproduce**
Create a new post w/ this liquid tag: `{% codesandbox pyqq0o9mk7 %}`. Make sure it appears below the fold so you can see the jump.

**Expected behavior**
Liquid Tag shouldn't cause scrolling on page load.

[2019-04-02 19:18] Zhao-Andy commented on #394
Not stale

[2019-04-02 20:27] michael-tharrington commented on #1865
Hey folks, I'm a Community Coordinator at DEV and am posting a relevant argument on behalf of a potential DEV user that recently contacted us via our support channels. Here's what they had to say:

"Howdy,

I am interested to join the dev.to community. Yet when I try to log in, I am met with:

Great to have you
Sign In with Twitter Sign In with GitHub

We require social login to prevent abuse.

To

[2019-04-03 00:43] isthiiii opened #2294 "Website Domain validation with '-' considered invalid. i.e "www.test-example.com""
**Describe the bug**
Validation for websites in the update profile page considers a website with a '-' dash symbol inbetween as invalid.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/settings once logged in
2. Click on 'update website url field'
3. Enter invalid url i.e www.test-example.com
4. See error

**Expected behavior**
Should be accepted as a valid domain.

[2019-04-03 00:53] rhymes commented on #2294
@isthiiii I think that's because it's missing the protol, hence it's not a full URL. Add it as `http://www.test-example.com/` instead of `www.test-example.com` and it should work

[2019-04-03 01:53] forsh3y opened #2295 "Dark Mode text weight/kerning"
**Is your feature request related to a problem? Please describe.**
I'm in no way visually disabled, but reading large groupings of text in nightmode makes my eyes hurt!

**Describe the solution you'd like**
A lighter font weight for regular text in dark mode. [Details here: ](https://css-tricks.com/dark-modes-with-css/#article-header-id-2)

**Describe alternatives you've considered**
Unsure, I ima

[2019-04-03 02:16] isthiiii commented on #2294
Yep Works :)

[2019-04-03 02:16] #2294 closed

[2019-04-03 05:46] #2244 closed

[2019-04-03 06:49] mjraadi commented on #2222
@andypiper, I experienced somewhat similar behavior shown below. I changed to default theme and then back to the "night mode" again and I didn't see the issue anymore. I'm not sure this is the "fix" but it worked for me.
![night-mode-profile-issue](https://user-images.githubusercontent.com/20579660/55458459-49d30400-5602-11e9-84d4-c5efdb06666b.gif)

[2019-04-03 13:58] #2245 closed

[2019-04-03 15:34] benhalpern commented on #2295
I think this makes sense. Since we have separate controls for font and theme, I think it might make sense to offer the proposed solution here as a font variation. Users could be instructed that they may want to choose the lighter font weight alongside dark mode.

Does that make sense?

[2019-04-03 15:36] benhalpern commented on #2290
Is there anything we can do with iframe attributes to turn this off?

[2019-04-03 16:32] forsh3y commented on #2295
Yeah, that would make sense, makes it more adaptable for device differences. Thanks for checking this out!

[2019-04-03 21:53] Zhao-Andy commented on #2061
Did a little investigation with this when trying to solve something else. Turns out `user.remember_me!` runs `user.save` in the background (therefore another query).

[2019-04-03 21:59] maestromac commented on #134
Resolved with https://github.com/thepracticaldev/dev.to/pull/2072

[2019-04-03 21:59] #134 closed

[2019-04-03 22:02] maestromac commented on #736
not stale

[2019-04-03 22:06] jaydm opened #2304 "Consider making reading times an 'opt-in' feature"
**Is your feature request related to a problem? Please describe.**
People with dyslexia may find reading times unpleasant:
![image](https://user-images.githubusercontent.com/595062/55516478-f1682a80-5632-11e9-8a67-0ff40e13562b.png)

**Describe the solution you'd like**
Suggest that the reading time either be removed or provide an option to opt-in to see them (so that by default they are hidden).

[2019-04-03 22:18] maestromac commented on #2250
Thanks for reporting this @rhymes . This is indeed interesting, I also can't access that endpoint.

[2019-04-04 10:30] gypsydave5 commented on #97
Would be interested in helping

[2019-04-04 11:08] FRosner commented on #97
I wanted to do it but when I had time dev.to was closed source. Now it's open source but I don't have time anymore :(

[2019-04-04 16:25] Zhao-Andy opened #2307 "API Analytics Bug Thread"
This is mostly a note for myself, but maybe other contributors will have some thoughts on this.

Some current bugs we have:
- requesting data for more than two weeks usually times out
- the last day of data always has nothing for some reason (probably a weird time issue)

The main issue is that there's a lot of loops being used to organize the data over time (see [`analytics_service.rb#stats_group

[2019-04-04 16:48] maestromac commented on #97
Feel free to give it a whirl @gypsydave5 ! `MarkdownParser.rb` is where all the processing is situated.

[2019-04-04 16:50] maestromac commented on #2238
It's up for grab @srebalaji !

[2019-04-04 16:52] rhymes commented on #2307
Hi Andy! I think the main issue is that you're loading everything in memory and for big organizations or popular users that might be a lot of data. I was coincidentally working on refactoring the code, I'll upload the branch shortly and we can look at it together?

[2019-04-04 17:05] Zhao-Andy commented on #2307
Hey @rhymes, that would be great! Feel free to ping me whenever. Appreciate all the help!

[2019-04-04 17:07] cyrillefr commented on #2021
Hello,

I would like to take care of the first group of cops(rubocop_todo).
But before proceeding, I would like to put what I intend to do:

Rails/HasManyOrHasOneDependent
|→ 28 offenses for not specifying a :dependent option. To discard these offenses, I can add a :dependent :nullify(default value for :dependent).

Rails/SkipsModelValidations
|→ 45 offenses on spec files because update_column ski

[2019-04-04 20:07] #2307 closed

[2019-04-05 09:13] rhymes opened #2311 "Analytics service: possible improvements and ideas for the future"
**Is your feature request related to a problem? Please describe.**

This has been opened to collect all possible improvements, in case of need, for the analytics API after questions about performance have been raised in #2307 prior to the refactoring in #2308 (AFAIK yet to be measured/verified for the use case that lead to #2307).

**Describe the solution you'd like**

There are possible increment

[2019-04-05 09:23] rhymes commented on #2311
A side note: Rails 6 is going to support multiple databases which incidentally could be the perfect use case for live analytics.

Instead of loading data from the main DB one could load analytics data from the replica thus having no impact on the web app when analytics are asked for. If the replica is a little behind live data it also shouldn't matter much.

This is not in conflict with any of the

[2019-04-05 10:01] lightalloy commented on #2311
@rhymes thanks for the write-up, it's impressive :+1:
I think testing you described in the "in grouping" should be done in either case. Testing logic like analytics may be a lot of work, but it's still better to have it done. Btw, thanks for the tests you added in your pr.

[2019-04-05 11:15] lightalloy commented on #2021
Hey @cyrillefr
I revised the cops list, and think that I should first discuss enabling and fixing `Rails/HasManyOrHasOneDependent` with the team.
As for the `Rails/SkipsModelValidations` now I think it shouldn't be enabled. Running some validations need running SQL-queries which will affect performance. `update_all` and `update_column` are fine if we use them consciously.
Fixing `Layout` cops shou

[2019-04-05 15:33] Zhao-Andy commented on #2311
Hey @rhymes, big thanks for leaving your thoughts! Really helps to have all those different ideas laid out in writing. I think I'm in favor of grouping via SQL, too, and I'll play around with that some time.

[2019-04-05 18:30] benhalpern commented on #2061
The existence of the the `remember_me!` and the `remember_me = true` and the multiple saves are all symptoms of hacked on functionality to make sure users stay signed in appropriately.

I eventually left this in and moved on.

So this can definitely be replaced by alternate functionality to keep the session "remembered".

[2019-04-06 00:27] coreyja opened #2317 "Self-serve live broadcasting"
I'm making this as a place for discussion following this post by @benhalpern https://dev.to/devteam/dev-feature-idea-self-serve-live-broadcasting-5bli

I wanted to open this up for discussion and figure out what features might be involved in the dev.to build. I am also willing to work on this project and contribute to it and this seemed like a good place to start!

**Is your feature request relate

[2019-04-06 08:47] rhymes commented on #2250
@maestromac could it have something to do with the cache that's setup in the controller?

https://github.com/thepracticaldev/dev.to/blob/54ccef47669759b060370c1cde8f527ce6d39333/app/controllers/api/v0/comments_controller.rb#L5-L8

[2019-04-06 15:37] #2184 closed

[2019-04-07 01:18] nickytonline commented on #383
Not stale.

[2019-04-07 03:35] omenking commented on #2238
Just going to document this for others and exploring the codebase myself.
So first I determined the request which is responsible for search.

<img width="551" alt="Screen Shot 2019-04-06 at 11 04 58 PM" src="https://user-images.githubusercontent.com/7776/55678018-8cc1ff80-58c0-11e9-9afa-30a9979565d9.png">

So now I'll go check out the routes to determine which action controller is being called:

[

[2019-04-07 13:09] vnbrs opened #2320 "Is there any way to visualize dev.to's data?"
It'd be really nice to have a way to openly query dev.to data, just like [StackExchange Data Explorer](https://data.stackexchange.com/stackoverflow/query/new), where users can literally run SQL queries on Stack Overflow database (a clone, obviously).

The number of solutions that could be built with this is infinite: the user growth per month, tags trend, top commenters, top posters, active users,

[2019-04-07 13:20] omenking commented on #2238
I think my dev environment is working now. Took about 1 hour to pull everything on docker. When I get 30mins today I'll see what I can do to bring more domain knowledge on how to solve this ticket

[2019-04-07 21:07] benhalpern commented on #2317
I think we can explore some of the ideas as we go while building this out.

We _basically_ need something like this to get started:

- `is_currenty_livestreaming` attribute on user. Boolean letting us know if they are streaming.
- `stream_source` some identifying string letting us know what service they're using. Twitch, YouTube, or native DEV (which could be rolled in as an option after initially

[2019-04-07 21:12] #2221 closed

[2019-04-07 21:17] omenking commented on #2238
A bit more time before dinner so doing a bit more. I gave up on docker and just installed it on my system and the app is running now.

Uncertain how to log in so I could make a post. Just getting around that by creating my on rake task to create a post:

[code]

I noticed the output suggested delayed job. I bet that means the search engine index was not updated. Going to inspect the last delayed j

[2019-04-07 21:33] dgreene1 commented on #1845
For future readers, I saw this issue but it was a PEBCAC (Problem Exists Between Chair and Computer) issue in my case.

Here's what happened: I had the same thing happen to me, but I think the problem might be for me was that I had turned on the RSS draft feature (which is _amazing_ btw).

So the fix was to stop trying to manually add the post myself and to just head over to Dashboard > Posts > Dr

[2019-04-07 22:36] omenking commented on #2238
Neither option produced the desired result as it just worked as usual and I confirmed that I was correctly setting both configurations. I wonder if the tag values are actually stored in Alogia and/or if this is also a weighting issue.

[2019-04-07 23:06] omenking commented on #2238
Wasn't too tricky. I have it working as how I think its expected now.
Going to fork and make a pull request

<img width="543" alt="Screen Shot 2019-04-07 at 7 06 03 PM" src="https://user-images.githubusercontent.com/7776/55691077-39a38780-5968-11e9-85b5-3c51c86fc88e.png">

[2019-04-08 07:18] Marshallsbest opened #2323 "After trying to login(Github via 2fa w/google authenticator ) so I could reply to an article I got the screen saying to email you as the email im trying to login with is already taken. Then I try it logging in via twitter and it the error screen i get says "something went wrong it's our fault not yours" and asks if I would like to submit a report....... so here i am. I like the content this site offers and I remember running in to this some time back preventing me from participating in the community. Hopefully you can get'er fixed or make the error screens more informative to help me fix the issue myself . Cheers"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-04-08 09:59] lightalloy commented on #2021
I made small updates to the config.
For now:
- `Rails/HasManyOrHasOneDependent` should be safe to be enabled, ` :dependent ` should be set to `:nullify` (as @cyrillefr suggested). I suggest making a separate pr for this fix.
- ` Layout/InitialIndentation` is still available to be fixed
- this comment is also relevant https://github.com/thepracticaldev/dev.to/issues/2021#issuecomment-477983728

[2019-04-08 13:30] Zhao-Andy commented on #2323
Hey @Marshallsbest, this should be an issue with your specific account. If you could send an email to yo@dev.to we'll help you resolve it from there.

[2019-04-08 13:30] #2323 closed

[2019-04-08 15:07] omenking commented on #1837
### Skipping Github Auth
I couldn't remember how to set up the omniauth configuration variables for github so I'm subverted it with my own new quick in. Here if anyone else is feels their spinning their wheels on configuration
here's a shortcut so long as you don't commit it in your PR.

[code]

If any **core member** could kindly tell me how to get the GITHUB_TOKEN I can video tutoralize
authenti

[2019-04-08 15:17] rhymes commented on #1837
@omenking

You can get it from https://github.com/settings/tokens - I'm currently not using one, the app on local works fine without it but I see that the Docker configuration requires one so you might as well set it up I guess

[2019-04-08 15:18] Zhao-Andy commented on #1837
@omenking, instructions for setting API keys are here: https://docs.dev.to/get-api-keys-dev-env/

For `GITHUB_TOKEN` specifically, see step 6 under "GitHub".

[2019-04-08 16:03] rhymes commented on #1389
unstale my heart

[2019-04-08 16:16] abraham commented on #1393
I think this is still an issue.

[2019-04-08 16:17] Zhao-Andy commented on #339
Still an issue

[2019-04-08 16:18] Zhao-Andy commented on #1431
Still an issue unfortunately.

[2019-04-08 16:38] nickytonline opened #2336 "Unable to reply to a comment"
**Describe the bug**
Unable to reply to a comment.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/nickytonline/dev-to-with-a-typescript-or-flow-frontend-codebase-1n33

2. Reply to @rhymes' comment
3. The 3 dots in the comment window will stay forever and nothing is submitted.
4. Look in the console and you'll see the following errors:
[code]

**Expected behavior**
Repl

[2019-04-08 16:42] Zhao-Andy commented on #2336
Do you still have the tab open? What does the network tab show for your comment? I think the URL is something like `dev.to/comments/:id`.

[2019-04-08 16:44] nickytonline commented on #2336
Getting a HTTP 500 when submitting the comment. I'll post the error in a sec.

[2019-04-08 16:48] nickytonline commented on #2336
![error](https://user-images.githubusercontent.com/833231/55741865-496cab80-59fc-11e9-9cf5-7ad9d61b05e7.gif)

Headers:

[code]

Request Body:
[code]

[2019-04-08 16:57] nickytonline commented on #2336
Creating a comment seems fine, it's just replying to one.

[2019-04-08 17:01] nickytonline commented on #2336
I did a simple test and replied with just the word `test` and that works fine. So there is clearly something in the comment that is causing things to break.

Here's my full comment I was trying to post. I'm going to try to narrow it down so see what characters specifically are causing the issue.

[code]

[2019-04-08 17:03] nickytonline commented on #2336
I didn't hit preview before I sent but just tried to previe my comment now and get the following error:

[code]

[2019-04-08 17:05] nickytonline commented on #2336
The issue appears to be with the github liquid tag. As soon as I take them out, it's all good.

[2019-04-08 17:19] Zhao-Andy commented on #2336
Ah, I think the issue is `{%github`. It should be `{% github` with a space between the percent and `github`.

[2019-04-08 17:51] nickytonline commented on #2336
`{% github https://github.com/flow-typed/flow-typed %}` with a space works in preview mode but as soon as I add the other one and preview, `{% github https://github.com/DefinitelyTyped/DefinitelyTyped %}`, I get that same middleware error.

Also, just submitting with the flow-type repo that works in preview mode gives and error when trying to update the comment. Same error as the initial error.

[2019-04-08 18:01] Zhao-Andy commented on #2336
Huh, strange. I'll try it locally and see what happens there.

[2019-04-08 18:43] abraham commented on #1446
Still an issue.

[2019-04-08 20:02] rhymes commented on #838
still an issue

[2019-04-08 20:03] rhymes commented on #821
still an issue

[2019-04-08 21:47] michael-tharrington opened #2344 "Failed Login Because Email not Validated Through Twitter Produces Weird Error Message"
A user ran into a weird error message when trying to sign in via Twitter. It turns out that they had not authenticated their email via Twitter which meant that their email was null in Twitter's system. This was causing DEV to try and match a falsy value and throwing the weird error that looked something like this:

[code]

[2019-04-08 22:02] chiangs commented on #1391
No don't close it :)

[2019-04-08 22:40] ramsey opened #2345 "Add phpc.social to Mastodon whitelist"
**Describe the bug**
I am unable to add my Mastodon URL since it is not whitelisted.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/settings
2. Enter `https://phpc.social/@ramsey` in the Mastodon URL field
3. Click Submit
4. See the error in the attached screenshot

**Expected behavior**
Saving settings succeeds when using my Mastodon URL.

**Screenshots**
<img width="

[2019-04-08 22:47] #2021 closed

[2019-04-09 05:56] kleinfreund opened #2347 "Accessibility: Allow tags to be dash-delimited or allow them to contain capital letters"
**Is your feature request related to a problem? Please describe.**
Yes. Currently, tags on dev.to are, from what I can tell, lowercase and may contain alphanumeric characters (more or less). For example, the following tags are not allowed:

- `#custom-properties`
- `#CustomProperties`
- `#custom_properties`

This makes tags unnecessarily hard to read, especially for user groups who find it difficu

[2019-04-09 06:50] magecomp opened #2348 "500 error how can i solved it"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-04-09 08:28] Turnerj commented on #889
I've been thinking the same thing recently as I start a draft for one post but not finish it for months, now it appears between all the published posts I have done. Even if posts were sorted so drafts were first (in created order) and published posts were sorted by published date, it would help a lot. 🙂

[2019-04-09 10:47] lightalloy commented on #2344
This should be fixed by #2305

[2019-04-09 12:24] maximepiard opened #2349 ""Write your first Post" needs contrast in NightMode"
When going to my dashboard in nightmode, I get a page for inciting me to write my first post

![image](https://user-images.githubusercontent.com/13153190/55800002-f6195c80-5ad2-11e9-9cf7-9e775649cb02.png)

The text is hidden as the background is white. I would change the background color to `--theme-container-accent-background` but the image would need to be updated. What about a .png with transpa

[2019-04-09 14:10] jessleenyc commented on #2320
I actually really like this idea but to answer your question, we don't currently have any type of data explorer. Very different from what you're suggesting but we do have our performance data on skylight open if you find that interesting: https://oss.skylight.io/app/applications/K9H5IV3RqKGu/recent/6h/endpoints

[2019-04-09 15:02] #2061 closed

[2019-04-09 16:04] lianafelt commented on #2349
I believe this is sloan with a transparent background. ![sloan-transparent](https://user-images.githubusercontent.com/34452847/55816095-8483e300-5abf-11e9-8a51-bf858c89acbe.png)

[2019-04-09 18:09] cyrillefr commented on #1996
Hello, I'd like to help here. (Maybe with send_welcome_notification).

[2019-04-09 18:18] maestromac commented on #1794
Resolved with https://github.com/thepracticaldev/dev.to/pull/2166

[2019-04-09 18:18] #1794 closed

[2019-04-09 19:00] Zhao-Andy commented on #150
Pocket has responded and said it now works with dev.to! Not sure how to test it though since they seem to have a new UI.

[2019-04-09 19:02] Zhao-Andy commented on #150
Ah never mind, I figured out 🙃

[2019-04-09 19:02] #150 closed

[2019-04-09 19:41] maestromac commented on #339
Resolved with https://github.com/thepracticaldev/dev.to/pull/2166

[2019-04-09 19:41] #339 closed

[2019-04-09 19:41] venarius commented on #2349
Will work on that if okay

[2019-04-09 19:44] omenking opened #2351 "Via the Dashboard be able to filter Articles by "All Posts", "Draft" and "Published""
**Is your feature request related to a problem? Please describe.**
Being able to filter All, Draft and Published articles are nice to have for content creators.

**Describe the solution you'd like**
A dropdown that defaults to All Posts with also Draft and Published.

**Describe alternatives you've considered**
Instead of a dropdown, I would much rather have a toggle between Draft and Published wi

[2019-04-09 19:45] maestromac commented on #2349
Give it whirl @venarius !

[2019-04-09 20:08] omenking commented on #1225
## My Own Personal Complaint

The comment box pushes articles down, and I would like to create certain articles as close to the top of the fold as possible but this is just my own personal complaint.
<img width="1135" alt="Screen Shot 2019-04-09 at 3 58 35 PM" src="https://user-images.githubusercontent.com/7776/55831099-59f65200-5ae0-11e9-84a4-167c867afdf3.png">

## Concreate Suggestion for Implem

[2019-04-09 20:15] omenking commented on #2207
Something to consider:
[Adding a NOT NULL CONSTRAINT on PG Faster with Minimal Locking](https://medium.com/doctolib/adding-a-not-null-constraint-on-pg-faster-with-minimal-locking-38b2c00c4d1c)

Adding a postgres constraist is easy part.

The hidden work here is:
* [ ] Ensure whe a user signs up and updates to users work (are there specs?)
* [ ] A Migration that backfills blank usernames with a def

[2019-04-09 20:39] mariocsee commented on #2345
Just added "phpc.social" to the list of accepted Mastodon links in PR above!

[2019-04-09 21:16] mariocsee commented on #2290
In the (CodeSandbox documentation)[https://codesandbox.io/docs/embedding#embed-options], there's an option `runonclick` that the user will have to add to prevent the jump (by not loading the codesandbox until the article reader decides to).

The codesandbox liquid tag doesn't support `runonclick`, but extending the regex query to accept `runonclick` in the `valid_option` method in `codesandbox_tag

[2019-04-09 21:27] omenking commented on #656
A simple request but more here than you'd expect.
See how there are two comment icons.
Both do not have the same selectors so before this can be applied there needs to be standardization on wherever it is used. A quick search of the image names should make it easy to determine where all these elements used

<img width="714" alt="Screen Shot 2019-04-09 at 5 25 39 PM" src="https://user-images.github

[2019-04-09 21:53] omenking commented on #656
So here I applied a bit of opactiy to the images

<img width="183" alt="Screen Shot 2019-04-09 at 5 51 07 PM" src="https://user-images.githubusercontent.com/7776/55837693-1e638400-5af0-11e9-9d48-bf1b0f44c6a4.png">

Here is the hover with the opacity at 100% and I made the text black.
<img width="188" alt="Screen Shot 2019-04-09 at 5 51 10 PM" src="https://user-images.githubusercontent.com/7776/558

[2019-04-09 22:01] omenking commented on #258
@jessleenyc what was wanted here? infinite scroll or traditional pagination?

[2019-04-09 22:23] omenking commented on #243
I think I have related code in a defunct project. I already know the pain that's involved to implement this but I do have the code and domain knowledge to kick start this. Worst case I'll document my journey so someone can take over where I stop

[2019-04-09 22:36] jessleenyc commented on #258
@omenking let's go with infinite scroll!

[2019-04-09 23:24] omenking commented on #258
So infinite scroll exists on `articles/index` so going to see how I can translate that over to the `dashboard/followers` page.

Here I see a loading articles element
[code]

I'm thinking this has the js required to infinite scroll
[code]
Yep it looks like I'm right. I can do th same here for the other page. I do wonder if @benhalpern wants inline javascript because I would think it may be preferre

[2019-04-09 23:31] omenking commented on #258
Doing a search for `'loading-articles` I was able to locate infinite scroll functionality.

<img width="854" alt="Screen Shot 2019-04-09 at 7 30 40 PM" src="https://user-images.githubusercontent.com/7776/55841659-0a268380-5afe-11e9-95ad-3c93a1864d8e.png">

[2019-04-10 00:03] drawcard opened #2355 "Cursor flicker when hovering over border"
**Describe the bug**
When hovering over card borders on the homepage, the mouse cursor rapidly changes between a regular cursor and a hand pointer cursor.

**To Reproduce**
* Visit https://dev.to/
* Hover over the region depicted in the screen recording below.

**Expected behavior**
The cursor should not flicker, and should either default to pointer arrow or pointer hand.

**Screenshots**
https://

[2019-04-10 00:12] omenking opened #2356 "🌱More Seed Data"
**Is your feature request related to a problem? Please describe.**

Working on this ticket I don't have sufficient seed data.
https://github.com/thepracticaldev/dev.to/issues/258

**Describe the solution you'd like**

* I am going to bring in more tags
* I am going to generate some fake organizations if this does not already exist in the seed data
*  I am going to create a new user outside the ran

[2019-04-10 00:14] lornatumuhairwe commented on #2349
I'm trying to follow this story, so that I understand how things work and get to contribute soon.

I followed [this](https://dev.to/mercxry/dark-theme-for-devto-14e9) post, and the nightmode gives a different look from what is posted in this image so I figured I'm missing something. How do I activate nightmode this nightmode?
i saw another post that recommended I do `document.body.className = 'nig

[2019-04-10 00:18] jessleenyc commented on #2349
Hey @lornatumuhairwe! You should be able to activate nightmode by visiting: https://dev.to/settings/misc

This post might also have some good info: https://dev.to/devteam/contributors-wanted-night-mode-themes-on-dev-i8n

[2019-04-10 00:21] lornatumuhairwe commented on #2349
@jessleenyc thank you so much!

[2019-04-10 01:18] coreyja commented on #2317
Ok!

Got `dev.to` cloned locally and running so I am ready to get started!

Got started and got a question I thought I'd bounce around with whoever here! It does NOT seem like we NEED to oauth login the User in order to get their stream info, or to create webhooks.

However, adding oauth may also give us a good user experience, especially around not having to manually enter a `user_id` or `twitch_

[2019-04-10 02:47] omenking commented on #2356
<img width="1277" alt="Screen Shot 2019-04-09 at 10 47 18 PM" src="https://user-images.githubusercontent.com/7776/55847972-79f63780-5b19-11e9-9a10-2d4db1253b24.png">

[2019-04-10 02:51] omenking commented on #2356
@Zhao-Andy brought in the quick login for development you saw in a previous ticket I documented.
I am waiting for the approval for this ticket so I may complete:
https://github.com/thepracticaldev/dev.to/issues/258

[2019-04-10 02:51] coreyja commented on #2317
VERY Work in progress diff can be seen here. Started with getting a job written that will subscribe us to a Twitch webhook. A total hack at the moment but it's a start!

https://github.com/thepracticaldev/dev.to/compare/master...coreyja:ca/master/twitch-live-streaming?expand=1

[2019-04-10 03:32] omenking commented on #1072
How are we to allow them to select the licensing?
Dropdown to select from the 7 regularly used?
I would suggest to add it in front matter eg.

[code]

Which would then result in the icons / badge appearing at the bottom of the article.

I can code it in if the core wants it, but I personally would not like to see its inclusion as @abraham  stated you could just drop an image in.

I myself have bee

[2019-04-10 06:42] iverve commented on #2235
Hello Jess Lee,
Greetings!!
How are you. Hope you are doing well with all your health.

#jessleenyc Till now I am getting 500 server errors while trying to post a new blog and update old blog. Already sent an email according to it. But not getting any solution from your end. Let me know how to resolve this problem?
Hope you will be help me to resolve this problem

Thanks & Regards
i-Verve Inc

[2019-04-10 08:56] lightalloy commented on #1996
@cyrillefr It would be great!  In case of `send_welcome_notification` there's not much code, but I still suggest moving it to a service object and call it from ActiveJob to make testing easier.
You can look at my previous pull requests connected to this issue for reference. Please, feel free to ask any questions while working on this task.

[2019-04-10 09:08] erwald opened #2357 "Can't publish a blog post draft"
**Describe the bug**
When trying to publish my blog post (currently existing as a draft), I get the following error:

😱 Heads up:
base: can't modify middleware stack after making a request

Displayed on a big red banner.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to my blog post draft
2. Press "EDIT POST"
3. Press "PUBLISH"
4. See the error above

**Expected behavior**
I expect my b

[2019-04-10 10:40] keith-hall commented on #1806
I would also like to see this implemented - I have been reacting with a heart to posts I have read, thinking I would be able to find them again later in case I want to re-read them. I didn't save them to my reading list, for this reason and also because I only want to keep articles I haven't read yet there, for easier discovery/filtering.
Is there any API I could use for now to find these reaction

[2019-04-10 11:40] Glennmen commented on #2357
I am also having this issue when I try to add a Github liquid tag to a draft post. Also can't preview it.

[2019-04-10 11:42] Zhao-Andy commented on #2356
@omenking approved, thanks!

[2019-04-10 12:29] rhymes commented on #2357
By a quick Google search for "can't modify middleware stack after making a request" seems to be an issue with the Faraday gem triggered by something that misconfigures its middleware setup, there's some info here https://github.com/oauth-xx/oauth2/issues/173

Unfortunately Faraday is not used in the dev.to source code but by many of its dependencies so whomever takes this on might have to investig

[2019-04-10 12:39] rogovdm opened #2359 "Dark mode & comments preview"
![image](https://user-images.githubusercontent.com/1548235/55879225-c50a5c00-5ba6-11e9-9ab8-734b229256f5.png)

[2019-04-10 12:42] Zhao-Andy commented on #2357
Related issue: https://github.com/thepracticaldev/dev.to/issues/2336

@rhymes I was taking a look into #2336 and I found that there's an issue with how [faraday-honeycomb](https://github.com/honeycombio/faraday-honeycomb) is using Faraday. My understanding from reading https://github.com/oauth-xx/oauth2/issues/173 is that since we upgraded `faraday` itself to 0.15.4, this broke the way `faraday-ho

[2019-04-10 12:45] rhymes commented on #2357
Wow Andy, great catch, can you fork Faraday honeycomb, apply the fix and then tell devto's gemfile to use that instead of the upstream gem?

[2019-04-10 12:47] Zhao-Andy commented on #2357
Oh yeah, that's a good point! I always forget about forking. I think I'll fork so we can have it working more quickly, and then make a PR on the upstream gem.

[2019-04-10 13:57] erwald commented on #2357
Yep, removing the GitHub tag worked as a workaround for me.

[2019-04-10 14:00] nickytonline commented on #2357
This is related to the bug I reported. I get the middleware error as well in #2336.

[2019-04-10 14:11] nickytonline commented on #2357
Ooops, just noticed that @Zhao-Andy already mentioned it. 🙃

[2019-04-10 14:58] #2345 closed

[2019-04-10 18:00] JeremyLikness commented on #2357
It is consistent for me with the GitHub tag. Attached is the error that I get. I tried both formats:

[code]

And both prevent saving or previewing until I remove the tag.

![error](https://user-images.githubusercontent.com/5479675/55902140-b6f51500-5b7f-11e9-852b-b25ccbb2f50c.png)

[2019-04-10 18:44] #2286 closed

[2019-04-10 19:02] c33s commented on #220
unstale

@benhalpern well this request is not really about accessing posts via api but via git

[2019-04-10 20:34] Zhao-Andy commented on #1994
Hey @twhite96, we made some changes that should lower the time it takes to update a user. It wasn't directly related to this issue though so this issue might still be outstanding. If you'd like to try updating your username again, let us know how it goes!

If you successfully update your username, I think it's best to close this issue and I can write up a new one describing refactoring the code we

[2019-04-10 20:42] twhite96 commented on #1994
@Zhao-Andy getting a 500 error.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-10 20:43] twhite96 commented on #1994
![GitHawk Upload by twhite96](https://i.imgur.com/ZRzBii2.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-10 20:43] fluffy-critter opened #2365 "Pronouns field on profile"
**Is your feature request related to a problem? Please describe.**
It would be nice if our user profiles could include pronouns.

**Describe the solution you'd like**
Text field, done in the same way as location or whatever.

**Describe alternatives you've considered**
Adding it into my bio sorta works but then it shows up everywhere, and having it as structured data would be nice.

**Additional c

[2019-04-10 20:49] abraham commented on #220
This sounds like a fun feature but a huge amount of work to implement with a lot of dangerous areas. E.g. what happens if a user has 1000 posts, rebases and force pushes.

[2019-04-10 21:01] jessleenyc commented on #2304
We've been adding more user configurations and this seems like something that would make sense but I'm not really sure how feasible on the implementation side with caching, etc.

[2019-04-10 23:08] jaydm commented on #2304
What about setting a cookie to track whether the visitor wants to see reading times? Then you could use the cookie value to trigger visibility of the reading time...
I haven't had a chance to look into the code yet so I don't know if this or anything like it would be viable. But is this or perhaps some other method available to set a session variable?

[2019-04-11 01:53] nickytonline commented on #383
Popping a link to the discussion on dev.to here as well, https://dev.to/nickytonline/dev-to-with-a-typescript-or-flow-frontend-codebase-1n33

[2019-04-11 06:57] c33s commented on #220
@abraham  then all posts are gone. compare it with "what happens if i have a production repo of a very important source code, rebase and force push" or "what happens if i do `rm -rf /`"

[2019-04-11 08:35] lightalloy commented on #1621
As I see, most of the described ` Delayed::DeserializationError` are solved now. However, they could still appear in some cases, which are not so common.
I'm currently researching on and fixing other DJ errors that are occuring.

[2019-04-11 09:06] lightalloy opened #2369 "Estimating user default language job fails when the corresponding language field doesn't exist"
**Describe the bug**
Delayed jobs fail with errors like `unknown attribute 'prefer_language_vi' for User`

**To Reproduce**
Login via twitter as a user who has their language set other than `en`, `ja`, `es`, `fr`, `it`.
Delayed job for `estimate_default_language!` will fail.

**Expected behavior**
Don't try to update the `language_settings` with invalid attributes.

[2019-04-11 09:40] rhymes opened #2370 "Add Google Lighthouse to Travis CI build"
**Is your feature request related to a problem? Please describe.**

[Google Lighthouse](https://developers.google.com/web/tools/lighthouse/) is a great tool to keep an eye on the performance and quality of web pages. But, like all tools, it needs to be regularly checked. I propose to activate the [Google Lighthouse Bot](https://github.com/GoogleChromeLabs/lighthousebot) on PRs through Travis CI.

[2019-04-11 09:42] GMartigny opened #2371 "Feature Request: Article complexity"
**Is your feature request related to a problem? Please describe.**
I often have a hard time finding article at the right level of complexity. Reading a very long article barely scratching the surface of a subject can be frustrating. Also, needing a beginner guide and only finding in-depth of specific subject is demotivating.

**Describe the solution you'd like**
The new `Time to read` feature is a

[2019-04-11 09:49] rhymes commented on #2371
Hi @GMartigny you're likely going to be interested in this PR that was merged in February and the discussion that ensued https://github.com/thepracticaldev/dev.to/pull/1922

Basically there's a way to vote required the estimated experience level for articles, currently available only to moderators, it's not open to the article's author yet either.

[2019-04-11 12:45] jaswantkaur opened #2375 "unable to write post"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-04-11 13:08] lkopacz commented on #161
@Zhao-Andy Hey there, I am having the same issue. I've been getting several DMs about it and I am unable to fix.

[2019-04-11 14:31] abraham commented on #220
I'm not talking about the loss of data, I'm talking about the impact to the DEV service. There are huge potential side effects that could bring down the entire site.

[2019-04-11 14:32] aspittel commented on #2375
Hey @jaswantkaur do you have any more context for this issue? Right now, I'm just seeing the issue template! What steps did you take to create the post and what error were you seeing?

[2019-04-11 14:36] aspittel commented on #2371
Thanks @rhymes for the explanation and @GMartigny for the feature request! @benhalpern is working on a similar idea!

[2019-04-11 14:38] aspittel commented on #2370
Wow! This is an awesome idea! @maestromac and @benhalpern may have more ideas, but I think this sounds so cool! Thanks for thinking of it @rhymes!

[2019-04-11 14:45] rhymes commented on #220
@c33s on a technical side of things, how would you retrieve posts via git? The data is inside a DB. Would this mean embedding a git server as a sidecar of the webserver? Would it mean synchronizing the DB somehow with a git repo?

It really sounds complicated and it would probably be easier if it were something built on top of the API when is published.

`DEV API <=== GIT SERVER <===> client`

Wou

[2019-04-11 14:49] #2357 closed

[2019-04-11 14:54] nestedsoftware commented on #2357
I see this issue was just closed, but I am currently getting this error when I try to save an existing, published, article (even without making any changes). I get this message:

can't modify middleware stack after making a request

This is the article I am trying to edit: https://dev.to/nestedsoftware/coding-interview-the-matchstick-game-43a8

[2019-04-11 15:02] maestromac commented on #2357
Hello @nestedsoftware . The fix is being deployed. Please give it another try in 15-30min and let us know if you are still experiencing the issue.

[2019-04-11 15:11] maestromac commented on #2375
Hello @jaswantkaur , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-04-11 15:11] #2375 closed

[2019-04-11 15:18] omenking opened #2377 "Marketing Pages should be decoupled from core application"
**Is your feature request related to a problem? Please describe.**

So today the web-server is down which is a thing that can happen, but it's taking down the static pages as well.

**Describe the solution you'd like**

I would suggest that these pages be decoupled from the Rails app and be separately served through a static website hosting.

The static pages could remain inside the repo.

![Scree

[2019-04-11 15:25] maestromac commented on #2370
I like this idea but we might have to set up a pr-staging server first.

[2019-04-11 15:37] aspittel commented on #2377
Hey @omenking, that's a really cool idea! We'll discuss as a team and then get back to you. Thanks!

[2019-04-11 15:41] Glennmen commented on #2357
I am now getting this error:

[code]

[2019-04-11 16:01] jankeromnes opened #2380 "Consider using Gitpod prebuilds"
**Is your feature request related to a problem? Please describe.**

It's frustrating to wait while dependencies are being installed.

**Describe the solution you'd like**

Gitpod is able to detect changes in this repository, and automatically prepare new workspaces by checking out the new code and installing dependencies ahead of time. That way, when a developer starts a new DEV workspace, they do

[2019-04-11 16:33] Zhao-Andy commented on #2357
Hey @nestedsoftware @Glennmen @JeremyLikness @erwald, could you give it a try again? The fix should be live now.

[2019-04-11 16:52] Glennmen commented on #2357
@Zhao-Andy Now it is working 👍

[2019-04-11 16:52] Glennmen commented on #2357
@Zhao-Andy Now it is working 👍

[2019-04-11 17:18] venarius commented on #2172
@jessleenyc  I guess this can be closed as this has already been fixed

[2019-04-11 17:27] maestromac commented on #1123
not stale

[2019-04-11 17:30] #2172 closed

[2019-04-11 17:36] nickytonline commented on #2336
Fixed. Thanks @Zhao-Andy!

[2019-04-11 17:36] #2336 closed

[2019-04-11 17:37] maestromac commented on #2172
Resolved with https://github.com/thepracticaldev/dev.to/pull/2105

[2019-04-11 17:55] venarius commented on #2163
@maestromac  This can also be closed as this got fixed in #2243

[2019-04-11 18:05] #2163 closed

[2019-04-11 18:48] Zhao-Andy commented on #161
Hey @lkopacz! Just made a PR for it here: https://github.com/thepracticaldev/dev.to/pull/2386

I can ping you once it's deployed, and you can [sign out of dev.to](https://dev.to/signout_confirm) and back in with Twitter to update it. If you want to update it sooner, let me know and I can do it manually.

[2019-04-11 20:30] #2181 closed

[2019-04-11 20:47] rapulu opened #2387 "Error 503 first byte timeout"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-04-11 20:54] Zhao-Andy commented on #2387
Thanks for the issue. We're experiencing some server issues right now and will get back live as soon as possible!

[2019-04-11 22:08] mariocsee opened #2397 "DEV tag liquid tag"
**Describe the bug**
In dark mode, dev.to tag liquid tags i.e. `{% tag discuss %}` doesn't have proper contrast. Title text is hard to read. Also, `{% tag javascript %}` seems to almost take other subsequent tags inside it when viewing in preview. Bug also persists for when the post is published.

So almost two issues here: text contrast in dark mode and maybe something specific to javascript tag.

[2019-04-11 23:41] Gherciu opened #2398 "error 500"
1. Go to 'https://dev.to/sunnysingh/writing-code-for-your-future-self-3da2?utm_source=additional_box&utm_medium=internal&utm_campaign=regular&booster_org='
2. See error

- OS: [windows]
- Browser [chrome,]
- Version [70]

[2019-04-11 23:52] viniciusccarvalho opened #2399 "Old posts are throwing 503 first byte read error"
Seems to be an issue with caching.I was going over some of my posts ( dev.to/viniciusccarvalho ) and only my latest 5 posts are available all others I get an error

[2019-04-11 23:53] nestedsoftware commented on #2357
@Zhao-Andy working on my end as well! Thank you for the quick fix!

[2019-04-12 02:06] jessleenyc commented on #2398
Thanks for the issue. We're experiencing some server issues right now and will get back up as soon as possible!

[2019-04-12 02:07] jessleenyc commented on #2399
We're experiencing some server issues and will get back up as soon as possible, thanks for your patience.

[2019-04-12 02:23] JacobMGEvans commented on #2398
Anything we can help with?

[2019-04-12 04:13] wgao19 opened #2400 "Bug: Single article unpublished should have dark background under dark mode."
**Describe the bug**
The night mode is awesome! However, unpublished posts got wrong background now. See screenshots.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Dashboard'
4. See error

**Expected behavior**
Expect a dark background but different from other blog posts' background.

**Screenshots**

Current:
![](https://i.imgur.com/gnTmjev.png)

My imaginary expected behavior:
![

[2019-04-12 05:20] cnviradiya opened #2405 "I'm not updating my profile social links"
I'm updating my profile social links
Linked-in, facebook, mediam

After Inserting links I pressed the submit button and error is appear at moment

**Describe the bug**
A clear and concise description of what the bug is.
Error is 500 Error

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'My profile'
2. Click on 'setting'
3. Scroll down to 'social links and update those links'
4. See er

[2019-04-12 05:29] softwarefirms opened #2406 "I can not post my blogs"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-04-12 05:30] softwarefirms commented on #2406
Please resolve it soon

[2019-04-12 06:07] Param-Harrison opened #2407 "500 error for the blog post and when hitting save post"
Describe the bug
Previously viewable article link, now generates 500 error

To Reproduce
Steps to reproduce the behavior:

Go to
https://dev.to/paramharrison/different-types-of-routers-in-react-router-1j6k

See error

Expected behavior
Article should be viewable.

[2019-04-12 06:20] SantiMA10 commented on #2407
+1

With this link: https://dev.to/svenefftinge/introducing-gitpod-frictionless-coding-on-github-397g

[2019-04-12 06:21] bhajko opened #2408 "Server Error"
**Describe the bug**
HTTP 500 Server Error

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'dev.to'
2. Click on '...'
3. Scroll down to '....'
4. See error

**Expected behavior**
Page does not load after

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

- OS: [Windows 10]
- Browser [chrome]
- Versio

[2019-04-12 06:47] oninross commented on #2407
+1

With this link: [https://dev.to/oninross/the-art-of-minimalism-with-ux-4ppd](https://dev.to/oninross/the-art-of-minimalism-with-ux-4ppd)

[2019-04-12 06:56] mindsers commented on #2398
Same. I get this error on every single page of dev.to right now.

[2019-04-12 07:02] Glennmen commented on #2400
Thanks for reporting this issue, but there already is an open issue for this: #2182

[2019-04-12 08:16] rhymes opened #2409 "Can't leave comments on posts"
**Describe the bug**

I opened a post like https://dev.to/mpermar/how-to-create-effective-pull-requests-2m8e to leave a comment but I couldn't complete the operation.

I opened the Firefox developer tools and noticed the following messages:

[code]

then if I try to add a comment anyway, it results ina 500 error:

![Screenshot 2019-04-12 at 10 12 56 AM](https://user-images.githubusercontent.com/14

[2019-04-12 08:27] rhymes opened #2410 "Removing an article from the reading list leads to an error (but not always)"
**Describe the bug**

I've tried to remove an article - https://dev.to/mpermar/how-to-create-effective-pull-requests-2m8e - from the reading list but after a few seconds the icon returned to be blue.

![remove_from_reading_list](https://user-images.githubusercontent.com/146201/56022711-9b6b4500-5d0c-11e9-8db0-6037d2fb5488.gif)

I've pressed the button a second time and it worked.

I tried again, r

[2019-04-12 08:32] rhymes opened #2411 "Error getting user and CSRF Token Error when opening an article"
**Describe the bug**

The following bug appears if you keep the developer tools open when you open an article like https://dev.to/mpermar/how-to-create-effective-pull-requests-2m8e

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Open a new tab, open the developer tools on the console
2. Go to Go to 'https://dev.to/mpermar/how-to-create-effective-pull-requests-2m8e'
3. See error

**E

[2019-04-12 09:37] pcloudycom opened #2412 "500 error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-04-12 12:09] Zhao-Andy commented on #2407
Thanks for the heads up! We were experiencing server issues and those links should be working again.

[2019-04-12 12:09] #2407 closed

[2019-04-12 12:09] Zhao-Andy commented on #2411
Hey @rhymes, thanks for the heads up. We think this is probably because of the server issues we had. Going to close this issue as well as #2410 and #2409 since we should be back up. :)

[2019-04-12 12:09] #2411 closed

[2019-04-12 12:10] Zhao-Andy commented on #2410
Closing since we had server issues and should be back up!

[2019-04-12 12:10] #2410 closed

[2019-04-12 12:10] Zhao-Andy commented on #2409
Closing since we had server issues and should be back up!

[2019-04-12 12:10] #2409 closed

[2019-04-12 12:11] Zhao-Andy commented on #2405
Hey @cnviradiya, thanks for the report. We were having server issues before and you should be able to update your links again. Feel free to reopen this issue if you're still experiencing errors.

[2019-04-12 12:11] #2405 closed

[2019-04-12 12:25] rhymes commented on #1061
unstale

[2019-04-12 13:07] wgao19 commented on #2400
Hi @Glennmen seems there's already a fix for it. Feel free to close this one :]

[2019-04-12 13:43] jessleenyc commented on #2412
Thanks for flagging --- we were experiencing some server errors but things should be resolved now. Please feel free to re-open if you're still experiencing issues.

[2019-04-12 13:43] #2412 closed

[2019-04-12 13:44] jessleenyc commented on #2408
Thanks for flagging --- we were experiencing some server errors but things should be resolved now. Please feel free to re-open if you're still experiencing issues.

[2019-04-12 13:44] #2408 closed

[2019-04-12 13:44] jessleenyc commented on #2398
Hey all - thanks for flagging. Things should be resolved now but please feel free to open a new issue if you're still experiencing errors.

[2019-04-12 13:44] #2398 closed

[2019-04-12 13:45] jessleenyc commented on #2387
Things should be resolved now but please feel free to open a new issue if you're still experiencing errors.

[2019-04-12 13:45] #2387 closed

[2019-04-12 13:49] jessleenyc commented on #2406
Things should be resolved now but please feel free to open a new issue or email yo@dev.to if you're still experiencing errors.

[2019-04-12 13:49] #2406 closed

[2019-04-12 13:49] jessleenyc commented on #2399
Hey! Things should be resolved now but please feel free to open a new issue if you're still experiencing errors.

[2019-04-12 13:49] #2399 closed

[2019-04-12 13:54] nickytonline commented on #2412
Hmm, I seem to be getting HTTP 500s when posting a comment with a liquid tag. Same issue? Posting works fine without the liquid tag. This got resolved yesterday with #2336, but maybe it's something new?

![error](https://user-images.githubusercontent.com/833231/56042348-d8353d00-5d08-11e9-825b-0aa3044e0aba.gif)

[2019-04-12 14:13] Zhao-Andy commented on #2412
Hmm try:

{% devcomment a3j4 %}

I think we technically don't allow links, but it makes sense to be able to take in the code or a full link.

[2019-04-12 14:19] jessleenyc commented on #2400
Thanks @wgao19, closing bc of the above reasons!

[2019-04-12 14:19] #2400 closed

[2019-04-12 14:30] #2182 closed

[2019-04-12 14:34] nepeckman opened #2414 "og:site_name meta tag is broken"
**Describe the bug**
The site name appears as "The #{ApplicationConfig['COMMUNITY_NAME']} Community" (no text substitution is occurring).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the main page of Dev.to
2. Inspect the meta tags in the HTML
3. See the tag
[code]

**Expected behavior**
String substitution should occur, replacing #{ApplicationConfig['COMMUNITY_NAME']} with the act

[2019-04-12 14:35] #1748 closed

[2019-04-12 14:44] nickytonline commented on #2412
Ahh, crap. Problem in front of the keyboard. 🙃

[2019-04-12 14:56] rhymes commented on #2414
I'll be taking this on if no one's working on it :)

[2019-04-12 16:18] maestromac commented on #317
not stale

[2019-04-12 16:27] ashToronto commented on #2210
I was able to replicate the problem in my environment, am working on solving it.
<img width="846" alt="Screen Shot 2019-04-12 at 12 24 23 PM" src="https://user-images.githubusercontent.com/33923739/56051973-4c2e1000-5d1e-11e9-8fcb-f97a10e36bf6.png">

[2019-04-12 16:31] maestromac commented on #1122
not stale

[2019-04-12 16:33] maestromac commented on #1445
not stale

[2019-04-12 16:41] ashToronto commented on #2210
While I was investigating, I found out that the night mode uses the invert functionality to switch colors but the backtick code uses a default theme color. We need to make a new variable for the markdown inline code so that it has better contrast.

[code]

[2019-04-12 16:44] maestromac commented on #1486
not stale

[2019-04-12 16:48] ashToronto commented on #2210
Added a specific override for the night-theme css variable.

[code]

<img width="846" alt="Screen Shot 2019-04-12 at 12 46 46 PM" src="https://user-images.githubusercontent.com/33923739/56053076-16d6f180-5d21-11e9-9fe2-888fe22250eb.png">

[2019-04-12 17:03] Zhao-Andy commented on #755
Hey @teacupwoozy, could you give a try now? Think there might have been a bug with your account specifically.

[2019-04-12 17:39] mariocsee commented on #2183
With night mode, icon images are inverted through the line `filter: invert(95%)` so removing that should make social icons the same color as the chosen `background color` in `/settings`.

[2019-04-12 18:08] mariocsee opened #2417 "DEV Connect Night Mode"
**Describe the bug**
Night mode on `/connect` is inconsistent with night mode with the rest of dev.to.

**To Reproduce**
Steps to reproduce the behavior:

1. Change your settings to dark/night mode
2. Navigate to `/connect`
3. Explore group chats, direct messages, user profiles, article previews, etc.

**Expected behavior**
Styles need to be updated for better readability/contrast and consistency

[2019-04-12 19:18] michael-tharrington opened #2418 "Underscore "_" in Title Blocks User From Posting Articles"
**Describe the bug**
Including underscores in titles blocks users from posting articles. They receive the error message: `Slug is Invalid`.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/new
2. Write a post with a title that includes an underscore "_"
3. Set published to trure
4. Save the post

**Expected behavior**
Articles should be able to save with titles including

[2019-04-12 19:35] venarius commented on #2417
Will work on it 🙂

[2019-04-12 19:36] desirottman opened #2419 "Feature Request: comment streak badges"
**Is your feature request related to a problem? Please describe.**
Inspired by [this blog post](https://dev.to/mortoray/how-do-you-feel-about-chasing-internet-points-badges-and-the-gamification-of-everything-1l56) about writing streak badges and gamification, it might also be fun to offer 4-week and 8-week comment streak badges. It's another way to encourage interaction, and a low-stakes way for p

[2019-04-12 19:37] mariocsee commented on #2417
Thanks @venarius! Really appreciate your contributions towards night mode as someone who always keeps it on. 😄

[2019-04-12 19:44] mariocsee opened #2420 "night mode DEV badge"
**Describe the bug**
In `/settings`, the DEV badge is hard to see when in night mode.

**To Reproduce**
Steps to reproduce the behavior:

1. Make sure you have night mode on
2. Navigate to `/settings`
3. See above the Email section that the DEV badge is hard to see

**Expected behavior**
The contrast needs improvement so people can easily see it. Not sure if there should be a light colored version

[2019-04-12 20:13] mariocsee opened #2421 "Feature Request: Automatically toggle themes at certain times or sunrise/sunset"
**Is your feature request related to a problem? Please describe.**
With the introduction of the night theme, perhaps down the line, there could be an automatic toggling of some light or dark theme at certain times or sunrise/sunset as an opt in feature similar to how the Reddit app or Night Shift. The night theme is still improving, so perhaps when themes become more consistent on dev.to is when t

[2019-04-13 02:56] desirottman opened #2424 "Landing pages for series"
**Describe the solution you'd like**
It would be cool if series posts could have a landing page where all posts in the series displayed. It could look like the main feed, with just those series posts, and the [individual posts themselves](https://dev.to/aspittel/moving-past-tutorials-receiving-a-problem-to-solve-2hf8) could have the series name clickable - in that example, the **Part of "moving pa

[2019-04-13 13:34] mbifulco commented on #2418
I ran into this with a post recently - I got around it by creating the post initially _without_ an underscore in the title, and then immediately re-saving it with an underscore.

Thanks for looking into this. It'll make it lots easier to wax philosophical about `node_modules` in the future ;)

[2019-04-13 13:57] maximepiard commented on #2349
I think the PR didn't introduce the transparent version of sloan, as I see this now
![image](https://user-images.githubusercontent.com/13153190/56080708-ae614080-5e04-11e9-8e84-28152605fece.png)

I can't re-open the issue, should I make another one then ?

[2019-04-13 14:08] venarius commented on #2349
This could be a caching issue on your side. Did you try a hard refresh? Shift + F5

[2019-04-13 17:21] #1377 closed

[2019-04-13 17:36] benhalpern commented on #2154
@Link2Twenty I see you just closed this in conjunction with the creation of `_user_config.html.erb`, which is a step in this direction, but it's still just tossing the CSS into string interpolation. I think it hides the mess a bit and is good enough for the near future, but we will want to keep this in mind as an evolution. The way we tweak the themes will need to keep changing, but I'm glad we're

[2019-04-13 20:11] benhalpern commented on #2369
I feel like the current implementation is a bit silly to limit default languages. We should probably modify this somehow to allow many more languages to be chosen from.

[2019-04-13 20:12] #2414 closed

[2019-04-13 20:16] #2216 closed

[2019-04-13 20:53] venarius commented on #2420
Will work on it 🙂

[2019-04-14 02:27] shindakun opened #2433 "Incorrect date on post"
**Describe the bug**

I ended up posting a bit later in the date then I usually do and noticed that even though it's 7:26 PM Saturday, April 13, 2019 (PDT) the date on my new post is April 14th. Timezones are a pain and *I think this ruins my posting streak*. :( (Let's a switch to Swatch internet time!).

**To Reproduce**

Steps to reproduce the behavior:

1. Create a post after 7 PM PST.
2. Note

[2019-04-14 03:25] desirottman opened #2434 "Dashboard - Pinkify theme needs link color changed"
**Describe the bug**
On https://dev.to/dashboard, both mobile and desktop, the links are the same color as the container background color.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/dashboard
2. all the links on the `single-article single-article-unpublished` div and `action active` are the same color as the links there

**Screenshots**
https://cl.ly/63fc32056927

[2019-04-14 09:04] healeycodes opened #2435 "Hidden text in embedded tweet with Night Mode"
**Describe the bug**
The embedded tweet element doesn't display correctly with Night Mode.

Some of the element's text is hidden (white on white).

**To Reproduce**
Steps to reproduce the behavior:

1. Toggle on Night Mode.
2. Visit [this article](https://dev.to/kylegalbraith/technical-skills-are-great-but-communication-and-curiosity-are-better-471j).
3. Look at the embedded tweet after the first

[2019-04-14 09:48] rhymes commented on #2433
Good idea @shindakun, I just now realized that this can happen also on comments.

With https://github.com/thepracticaldev/dev.to/pull/1970 a verbose timestamp localized for the user has been added when the user hovers the date in comments, but the actual "Apr 13" / "Apr 14" can still happen as you described. So the feature is not complete. I'm going to open a ticket for that too :D

Both, localizi

[2019-04-14 14:09] omenking opened #2436 "Video Player Results In Errors for Some Users"
**Describe the bug**
4 different DEV.to users have reported they receive an error when using the video player. Here is one comment on the [post with the video in question](https://dev.to/exampro/how-to-serve-on-demand-videos-from-aws-4fo4)

<img width="821" alt="Screen Shot 2019-04-14 at 10 04 39 AM" src="https://user-images.githubusercontent.com/7776/56093998-efa52f00-5e9c-11e9-9dca-e2e7a291edea.

[2019-04-14 15:05] #2417 closed

[2019-04-14 16:04] #2420 closed

[2019-04-14 23:36] daneah commented on #137
Still seems like an interesting thing to discuss!

[2019-04-15 02:08] omenking commented on #354
I gave the v2 article form a look to see how it's being used with preact.
I am keeping to the existing convention and creating a new pack called `commentForm`
The trick here is `articleForm` only has to worry about one form on the page and so
`document.getElementById('article-form')` is an acceptable way to mount.

Since there can be multiple comment forms in `articles#show` will have to determine

[2019-04-15 02:20] omenking commented on #354
So here's my new pack, I think you can just iterate and it will mount, I will have to determine if scopes are respected later on.
[code]
Here I created myself a very simple component just to get a hello world going
[code]

Here we actually see the component rendering. I had gutted out all of comment form.
<img width="918" alt="Screen Shot 2019-04-14 at 10 17 07 PM" src="https://user-images.githubu

[2019-04-15 02:23] omenking commented on #354
In article form looks like we have some functionliaty already there that we should be able to pull from assuming these components were written to be resuable. Will give them a look

[code]

[2019-04-15 02:24] nickytonline commented on #354
Just throwing in my 2 cents here.

A question about this feature. Are we planning on converting each comment to preact including the add new comment form and each can have the @mentions automplete or is the scope of this feature just the @mentions automplete component that gives the autocomplete and then inserts its autocompleted value? If it's the latter, I would probably mount it off of maybe th

[2019-04-15 02:37] omenking commented on #354
### Autcomplete vs Preact Scope
The scope of this feature should be the autcomplete  @mention but is dependent on converting to Preact. Preact should be its own ticket minus what is in this ticket.

### What should be converted to Preact?
Should it be the entire comment with comment form or just the comment form?
I would suggest just comment form so we can piecemeal getting in the functionality th

[2019-04-15 03:02] omenking commented on #354
I was able to bring over the toggle between markdown/preview functionality into the comment from the article form preact. I did notice in V2 of the article form editor it doesn't have markdown hotkeys. Maybe this is missing functionality in the new v2 article form.

[2019-04-15 08:56] setevoy2 opened #2438 "Liquid error: Liquid variables are disabled"
**Describe the bug**
When adding a new post with an Ansible's templates examples - have the _"Liquid error: Liquid variables are disabled"_ error when saving.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Write a post'
2. Write any post containing Jinja's templating variables, e.g. `{{ my_var }}` (used in Ansible)
3. Press Save post button
4. See the _"Liquid variables are disabled

[2019-04-15 09:04] rhymes commented on #2438
Nice catch! The error should probably be more "informative" or it should auto-escape those variables statements. Did you escape the templating variables or just inlined them?

[2019-04-15 09:09] setevoy2 commented on #2438
@rhymes Added screenshot.

Nope - just copy-pasted from the template.
Can try to add an escape "\" symbols - but there is really a lot of such variables...

[2019-04-15 09:11] rhymes commented on #2438
@setevoy2 no you actually escaped them, they are in a fenced code block. They should be ignored by the parser. Great catch!

[2019-04-15 10:08] venarius commented on #2397
Will work on it 🙂

[2019-04-15 10:11] setevoy2 commented on #2438
OK, sorry - my bad.
One template wasn't enclosed with the "```".

[2019-04-15 10:32] venarius commented on #2359
This has already been fixed in https://github.com/thepracticaldev/dev.to/pull/2363. But I have noticed that the loading animation on swap between preview and markdown also looks weird on dark mode. Will investigate.

[2019-04-15 11:00] NullVoxPopuli commented on #14
I added this:
[code]

but I'm not sure what adding `canonical_url` did. it looks like nothing changed?

[2019-04-15 11:04] SeanKilleen commented on #137
Agreed it's still worth doing. I may jump in for a PR on this.

I'd suggest the following as a minimal first pass:

* Add a boolean column in the db to capture whether a post is hidden
* Allow people to enter "hidden: true" in YAML. On save, if the field is present
* If you want, add a "hidden: false" by default on import from RSS to make authors aware
* Add logic to only display non hidden drafts

[2019-04-15 11:33] danielw93 commented on #1810
I'm experiencing the same problem with slightly different symptoms.

Test system: Firefox 66.0.2 on Ubuntu 18.04.2 LTS
*Using Chromium (build 73.0.3683.86) the below steps do not reproduce the problem.*

### To reproduce:
1. Open an article on dev.to
2. Follow a link or image that navigates away from dev.to
3. Use browser back to return to article
-> "It looks like you're offline" screen appears.

[2019-04-15 12:29] bnb opened #2445 "Reading List Comment view: Clicking heart does not trigger a like"
**Describe the bug**
It appears that trying to ❤️ a comment on [the Reading List comments view](https://dev.to/readinglist?v=comments) currently does not actually ❤️ the comment – instead, it simply selects it.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://dev.to/readinglist?v=comments'
2. Click on the ❤️ icon on any comment.
3. You will see that it is highlighted.

**Expec

[2019-04-15 13:44] maestromac commented on #2435
Thank you for reporting this @healeycodes !

[2019-04-15 13:58] softchris opened #2448 "Critical error: Variables in dashboard are not resolving, for example, article.page_views_count views"
**Describe the bug**
Variables in dashboard are not resolving, for example, article.page_views_count views

should show actual numbers, not a variable

**To Reproduce**
Look at any dashboard

**Expected behavior**
That views on an article is a number and not a variable

[2019-04-15 14:20] bnb commented on #2448
+1, also seeing this:

![image](https://user-images.githubusercontent.com/502396/56140068-1f6d3900-5f68-11e9-9b5b-e51c19a18302.png)

[2019-04-15 14:41] Zhao-Andy commented on #2448
Thanks for the heads up! Resolved by #2449. Deploy will be live soon.

[2019-04-15 14:41] #2448 closed

[2019-04-15 14:43] JeremyLikness opened #2452 "Certain GitHub Repo liquid tags cause failure in preview/save"
**Bug Description**
Liquid tags referencing certain GitHub repositories cause the editor to fail in both preview and save. It's not clear what the difference is, except possibly the length of the repo name.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new article
2. Include the tag `{% github https://github.com/JeremyLikness/azure-fn-file-process-hol %}` (same thing happens whet

[2019-04-15 14:44] Zhao-Andy commented on #2452
Thanks for the report! We'll take a look.

[2019-04-15 15:08] dance2die opened #2453 "View count is shown as "article.page_views_count""
**Describe the bug**

Instead of view count, template string `article.page_views_count` is shown on the [dashboard](https://dev.to/dashboard).

**To Reproduce**
Go to https://dev.to/dashboard and see the views

![error](https://user-images.githubusercontent.com/8465237/56142512-cb188800-5f6c-11e9-95dc-f0450d319fb2.png)

**Expected behavior**
`article.page_views_count` should be displayed as a numb

[2019-04-15 15:10] Zhao-Andy commented on #2453
Thanks @dance2die! This should be resolved via #2449, which will be live soon.

[2019-04-15 15:10] #2453 closed

[2019-04-15 15:47] dance2die commented on #2453
Thanks @Zhao-Andy ~~ I can see the count now

[2019-04-15 17:10] #2452 closed

[2019-04-15 17:15] Zhao-Andy commented on #2452
Hey @JeremyLikness, once the fix is deployed, this should work. Using the GitHub Liquid tag like so should work:
[code]

We currently don't support using repo IDs for the GitHub tag, but you can open a new issue and request the feature if you'd like.

[2019-04-15 17:52] #2435 closed

[2019-04-15 19:13] mariocsee commented on #1228
`markdown_parser.rb` cleans up some HTML before liquid tags are processed. I have a method in #2160 that saves HTML within the CodePen Prefill Liquid Tag from being erased.

When that PR gets reviewed and possibly merged, I can extend that method to include runkit tag as well, which should prevent it from scrubbing `<marquee>` in your example.

[2019-04-15 20:19] benhalpern commented on #2370
I'm for this

[2019-04-15 22:09] buntine opened #2464 "Articles missing content and HTTP 500 when tyring to edit"
**Describe the bug**
About half of my article are affected. For example, if you go here, you will get an empty article: https://dev.to/buntine/the-balanced-ternary-machines-of-soviet-russia

If I try to edit this article, I get a 500.

**To Reproduce**
View or edit the article.

**Desktop (please complete the following information):**

- Linux (Manjaro)
- Firefox

[2019-04-16 02:09] davefollett commented on #2424
I really like this feature request.  I kinda did this on accident by inventing my own tag (I did this before the series feature was added):

https://dev.to/t/anewvueonjs30

But I think your suggestion is a much better option because the landing page could have more features to it.  Perhaps cover art for each post or other things.

[2019-04-16 09:46] maximepiard commented on #2349
Yes it seems this is the problem :confused:

[2019-04-16 11:39] Zhao-Andy commented on #2464
Hey, sorry about that. The content is missing, but the data is safe and still available. We'll fix that for you.

[2019-04-16 14:11] Zhao-Andy commented on #2433
Thanks for flagging this!

[2019-04-16 14:15] Zhao-Andy commented on #2445
Hey @bnb, thanks for the bug report! We'll take a look into it.

[2019-04-16 14:16] Zhao-Andy commented on #2438
Hey @setevoy2, not sure if this is still an issue for you?

Agreed that we could add better error messaging there though.

[2019-04-16 14:27] Zhao-Andy commented on #2436
We use JW Player for our video playback. I believe the error code is from JW Player and not Apple.

https://developer.jwplayer.com/jw-player/docs/developer-guide/api/errors-reference/#media-playback-html5

[2019-04-16 14:28] jessleenyc commented on #2419
Love this idea!

[2019-04-16 14:43] jessleenyc commented on #1837
Implemented via #2337

[2019-04-16 14:43] #1837 closed

[2019-04-16 15:07] setevoy2 commented on #2438
@Zhao-Andy No, all works great - it was my mistake with the template's code escaping, thanks.
This issue can be closed.

[2019-04-16 16:00] benhalpern commented on #2464
Hey Andrew, sorry about this. It appears that when we changed the way some of the data was stored, this article failed validation and it slipped through the crack. I fixed it for this post, but need to also go and do the same for a couple of your other older posts.

Thanks for bringing this up, this appears to affect a few dozen of the oldest posts on the platform, and we certainly want to preserv

[2019-04-16 16:14] eschafer commented on #258
Hi - just wanted to point out that this page has a footer, which would potentially be really difficult to get to with an infinite scroll above it.

[2019-04-16 16:24] Alcha commented on #1210
This issue is still present for me... I'ts not the end of the world, but I felt it important to note so the bot doesn't just close it and y'all think this has been resolved.

The best I can come up with reproducing it, I was in the mentors chat group and I received a message while in that group. I left the group without opening the message, and the badge has been there ever since.

[2019-04-16 17:51] #2359 closed

[2019-04-16 18:28] mariocsee commented on #1567
Not stale! Will make PR with small changes that makes Open Inbox public.

[2019-04-16 20:55] benhalpern commented on #2464
Okay, I fixed the problems with display. Issues with /edit could be an edge case that's not as apparent. Let me know if you have additional problems.

[2019-04-16 21:01] benhalpern commented on #2433
I think having the UTC timezone across the site is a better outcome than if we do some localized, some not.

Let's remember that we cache whole pages, so the initial render being localized date is a bit easier said than done. So when we do stuff like that right now it needs to be done on the client side. In terms of how we could localize _on initial page load_ instead of via JavaScript:

Fastly pr

[2019-04-16 21:20] benhalpern commented on #2317
Hey @coreyja this looks really cool! I feel like I'd be happy with any form of authorization (or not). I think you have a decent idea of the tradeoffs, so I'd be okay with whichever choice you make.

I think the progress looks like a really solid start!

[2019-04-16 21:32] rhymes commented on #2433
@benhalpern what do you think about this approach? it's only on comments, not on posts because it was easier to test but if it's deemed valid we could do something similar for article dates https://github.com/thepracticaldev/dev.to/pull/2437

[2019-04-16 21:49] mariocsee commented on #2445
The click EventListener is missing from all hearts in the comments reading list. Will investigate further and open a PR to work on a fix.

Also (styling wise) noticed that `.comments-container` should be a parent class to `.comment-view-parent`, but instead the parent is `.articles-container`, which results in the lack of styling for title "Re: How I Write..." in the comment. Dynamically changing

[2019-04-16 22:46] buntine commented on #2464
Hey, thanks for that guys.

I have noticed that it seems a new character set is being used. One of my older articles that uses some non-ascii charcters is now showing up pretty strangely: https://dev.to/buntine/p---the-original-brainfck-and-mother-of-the-turing-tarpits.
That is supposed to be ```P`````

I will close this issue now because the character issue is separate. If I cannot manually fix i

[2019-04-16 22:46] #2464 closed

[2019-04-16 23:17] andypiper commented on #2222
Looks much better now. Thanks for checking!

[2019-04-16 23:17] #2222 closed

[2019-04-16 23:20] #228 closed

[2019-04-17 00:34] #232 closed

[2019-04-17 06:19] devjack commented on #137
I love the idea and have colleagues who would love to use it too.

From a taxonomy/terminology perspective, perhaps the ability to 'ignore' draft posts (rather than overloading 'hidden' and 'deleted' fields, and 'muting' notifications? For example, it could look like this:

<img width="824" alt="Screen Shot 2019-04-17 at 3 58 09 pm" src="https://user-images.githubusercontent.com/3516066/56264416-c

[2019-04-17 07:16] venarius opened #2470 "Eslint errors on *.jsx files"
**Describe the bug**
This is a followup for https://github.com/thepracticaldev/dev.to/pull/2432

The *.jsx files inside `app/javascript` still have a lot of bad practices according to eslint. That's why when you edit these files, eslint will throw you about 650 errors during the husky hook before commit.

**To Reproduce**
Steps to reproduce the behavior:

Go into `app/javascript` and run `eslint .

[2019-04-17 08:50] rhymes commented on #2230
@lightalloy I think this can be closed 🎉

[2019-04-17 08:58] rhymes commented on #1996
@lightalloy I'll probably help out as well with your direction once #2466 is merged - there are some changes on how active job tests are written that I feel are going to help out in the end. It would be awesome if we'd manage to switch entirely to ActiveJob and not use DelayedJob directly. 🥳

[2019-04-17 10:00] lightalloy commented on #1996
@rhymes awesome, thanks! Agree on switching to ActiveJob.

[2019-04-17 10:00] #2230 closed

[2019-04-17 10:01] lightalloy commented on #2230
Done in #2281

[2019-04-17 11:15] kay-is commented on #1512
Anything happening here?

I just had the same idea after I saw that many people just Heart/Unicorn my posts without doing anything else with it.

Would be cool to have the option to add other "one-click-interactions" to this and maybe make it to be configurable as public/private so peoples opinions aren't affected by previous votes. Also, sometimes I just want a response and don't show it to every

[2019-04-17 16:35] #2418 closed

[2019-04-17 16:46] #1567 closed

[2019-04-17 16:54] Zhao-Andy commented on #2418
Resolved by #2472

[2019-04-17 18:02] benhalpern commented on #354
I think just the comment form here. The step of _converting to preact_ should be pretty minimal, as it will be taking the existing textarea and replacing it.

This may be less minimal. If we can implement an effective server side rendering/automatic hydration, that would be ideal. I think that would be out of scope of this issue given that we could follow the established _dirty_ solution for now i

[2019-04-17 18:09] jessleenyc commented on #2419
We should do this but I don't think it should be the same frequency as the article streak badges. Any thoughts here?

[2019-04-17 18:15] jessleenyc commented on #2370
I don't think we can do this right away because of the current overhead it'll take to set up. Hopefully a headless option comes out soon that'll make it easier for us to incorporate.

[2019-04-17 18:27] jessleenyc commented on #137
We could have an 'ignore' option _and_ an 'archived' option but I also think just 'archived' will likely accomplish what we're looking for, even if the intent is slightly different.

Instead of handling this in the front matter, let's do it from the dashboard. The buttons are starting to clutter and we want to move them (mute notifications + this new button) as dropdown options. We can add an elli

[2019-04-17 18:28] rhymes commented on #2370
Hi @jessleenyc, got it :-) I thought it was headless already. It does require an API key to talk to Google servers though :(

[2019-04-17 18:40] abraham commented on #2370
There are options that don't use Google's service. I've used [lighthouse-ci](https://www.npmjs.com/package/lighthouse-ci) on Travis with just pointing it to a localhost server in the test environment.

[2019-04-17 19:09] SeanKilleen commented on #137
Makes sense. 👍

To recap: from a UX perspective, it sounds like what we want to do is:

* Allow the users to mark a draft post as archived via an ellipsis menu
* Avoid resurfacing a draft post from RSS on the UI if it's already been archived
* Determine how to display archived posts for the user (the small text & link from @devjack above seems to cover this well if there are no objections).

Techn

[2019-04-17 19:09] SeanKilleen commented on #137
(oops, accidentally closed). No triage necessary hopefully (though I would like confirmation on the A/C)

[2019-04-17 20:03] omenking commented on #354
@benhalpern I want to see this implemented so will avoid expanding the scope and be congruent with the existing code which so far has proved reusable. I will have more time to work on this ticket this upcoming Friday.

[2019-04-17 20:13] jessleenyc commented on #137
If we're able to get filtering in soon, we can probably have 'archived posts' as one of those options but I think what @devjack suggested for now makes sense  -- https://github.com/thepracticaldev/dev.to/issues/2351 (cc @omenking )

If you're going to tackle this, please post a mockup of the ellipses/dropdown design just to make sure we're on the same page. We can also take care of any last mile d

[2019-04-17 20:25] maestromac commented on #137
@SeanKilleen guid seems to be the only reasonable one we can use to uniquely associate posts.

[2019-04-18 02:23] mcataford commented on #2010
(Bumping this to say that it's still on my radar, it's just been a busy little while. :sweat_smile:)

[2019-04-18 03:23] coreyja commented on #2317
Got some of the webhook registration job stuff cleaned up and got a controller stood up to receive the webhooks! Making progress on this!

[2019-04-18 10:15] DarkSmile92 commented on #2434
Just checked it out, looks like this is already resolved:
![image](https://user-images.githubusercontent.com/10928916/56354316-ae31be00-61d3-11e9-8a31-78f35ea77be2.png)
![image](https://user-images.githubusercontent.com/10928916/56354329-b1c54500-61d3-11e9-8cc3-d05117b3e969.png)

[2019-04-18 14:05] benhalpern opened #2483 "Iron out possible failures associated with randomized spec order"
We recently enabled random spec ordering, which leads to better robustness in our specs longterm:

https://github.com/thepracticaldev/dev.to/pull/2466

I believe they are indeed revealing random failures based on ordering. I believe we should:

- Seek to confirm that failures are indeed due to random ordering
- Possibly temporarily switch back to non-random ordering while we get the issues resolve

[2019-04-18 14:20] Zhao-Andy commented on #2483
I think that makes sense. My unscientific experience with the failures is that some specs are not properly signed in when necessary.

[2019-04-18 15:34] benhalpern commented on #2483
I created a PR if we want to go that route:

https://github.com/thepracticaldev/dev.to/pull/2486

[2019-04-18 15:57] benhalpern commented on #2483
Okay, I merged the commenting-out of the `:random`, but this can definitely remain an open discussion.

[2019-04-18 17:59] aspittel commented on #2470
Thanks for reporting this and starting to refactor @venarius!

[2019-04-18 18:00] mariocsee opened #2489 "Reporting user in connect group chat wrong info"
**Describe the bug**
When viewing a profile from within a group chat in `/connect/`, the report abuse button does not have updated information and when reporting, passes on the name of the group chat rather than the particular user.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to `/connect/General` (or any group chat on DEV)
2. Click on the group name to open up details about the grou

[2019-04-18 18:14] rugk opened #2490 "Edit buttons should be fixed"
**Is your feature request related to a problem? Please describe.**
I am frustrated if I re-read my text and quickly want to change anything, I have to scroll uüp and click on "edit". Similarly, I likely want to read the text in the preview (too), and there I also have to scroll up all the way…

**Describe the solution you'd like**
Make the buttons fixed, so I can always click on them and _stay at

[2019-04-18 20:39] maestromac commented on #2483
For future debugging
<img width="1028" alt="Screen Shot 2019-04-17 at 1 20 51 PM" src="https://user-images.githubusercontent.com/15793250/56389806-8143d200-61f8-11e9-84b8-e41922d3820f.png">

[2019-04-18 23:28] danascheider commented on #137
@SeanKilleen I'm happy to start a PR on this if you think the specs/acceptance criteria you outlined above are well enough finalised.

[2019-04-18 23:48] SeanKilleen commented on #137
I welcome a PR since I'm a hit swamped at the moment but the acceptance criteria etc. belongs to the dev.to folks :) I just made the original observation.

[2019-04-18 23:51] danascheider commented on #137
Cool, well in that case I'll wait for some confirmation from them so I don't end up going too far down the wrong path.

[2019-04-18 23:52] danascheider commented on #137
@maestromac What do you think?

[2019-04-19 04:02] omenking opened #2494 "Be able to set thumbnail/video image for Video Posts"
**Is your feature request related to a problem? Please describe.**

When you have a video post it always takes the first frame of a video.
So I have to edit the first frame to get what I want to appear.
I always forget this and have reprocess my video just for DEV.to and re-upload.

![Screen Shot 2019-04-18 at 11 58 27 PM](https://user-images.githubusercontent.com/7776/56404694-1e712b80-6236-11e9-

[2019-04-19 11:21] cyrillefr commented on #1996
Hello, I 'd like to help with the Moderation notification.

[2019-04-19 13:39] lightalloy opened #2497 "Move asynchronous methods to Active Jobs"
Currently, most of the asynchronous methods use `DelayedJob` directly.
It would be nice to use ActiveJob instead of `DelayedJob` for several reasons:

- it'll be easier to migrate to another queue backend, like sidekiq
- it's easier to specify a queue and set a priority of the specific kind of job
- often moving logic to a separate job requires refactoring and the resulting code has a better desig

[2019-04-19 13:42] lightalloy commented on #2497
The list of the methods that are specified as async by `handle_asynchronously`

`labor/rate_limit_checker.rb`
- ping_admins

`models/article.rb`
- update_main_image_background_hex
- detect_human_language
- async_bust

`models/badge_achievement.rb`
- send_email_notification

`models/comment.rb`
- calculate_score
- create_id_code
- touch_user

`models/mention.rb`
- create_all
- send_email_notificati

[2019-04-19 14:09] kleinfreund commented on #394
Generally, different styles are used for focus and hover because their purpose is different. The focus indicates that an element can currently be interacted with while hover indicates that the the mouse cursor is currently hovering over an interactive element. Also, one can focus one element while hovering over another.

I don’t think both states should use the same styles.

[2019-04-19 14:28] AdamMcquiff commented on #394
@kleinfreund yes, that's certainly a valid argument.

But, I think you may be missing the point. I raised this issue not because I feel that the website should duplicate the hover styles for focus, but simply because the website needs _some_ focus styles. IMO duplicated hover styles beats no focus styles.

[2019-04-19 14:49] kleinfreund commented on #394
The majority of focus styles are borders (via the CSS `outline` property) around the interactive element which is a good choice. Personally, I like to make them very obvious with a 2px outline like this:

[code]

But there seems to be a certain reluctance to very clear focus styles like that. I think, if anything, they should be more clear than for example Firefox’s standard 1px thick dotted outli

[2019-04-19 15:11] maestromac commented on #2397
Resolved with https://github.com/thepracticaldev/dev.to/pull/2459

[2019-04-19 15:11] #2397 closed

[2019-04-19 15:40] maestromac commented on #137
Yep, give it a go @danascheider !

[2019-04-19 16:52] maestromac commented on #2497
For anyone who would like to contribute to this, a delayed job method should be split up to the following
- a job class under the proper module + spec
- a service object under the proper module + spec
- change how the method is evoked at the source.

You can check Anna's work here for inspiration https://github.com/thepracticaldev/dev.to/pull/2373

[2019-04-19 16:57] benhalpern opened #2499 "Write abstraction layer over Algolia"
We currently use [Algolia](https://www.algolia.com/) for several features in order to provide low latency indexed data for searching and otherwise serving.

But we're highly coupled to Algolia in ways that are not ideal. It would be nice if we could work locally without the Algolia dependency. It would also be nice if we could move certain features on or off of Algolia for different purposes. I co

[2019-04-19 18:18] maestromac commented on #152
not stale

[2019-04-19 18:21] maestromac commented on #1018
not stale

[2019-04-19 18:22] maestromac commented on #1090
not stale

[2019-04-19 18:47] maestromac commented on #1128
not stale

[2019-04-19 18:50] maestromac commented on #1384
not stale

[2019-04-19 18:51] maestromac commented on #113
not stale!

[2019-04-19 22:53] nickytonline opened #2501 "Add client-side error monitoring"
**Is your feature request related to a problem? Please describe.**

This is not a user facing issue directly, but errors that are not caught on the front-end can damage a user's experience if no one is aware of it.

**Describe the solution you'd like**

Consider a client-side monitoring tool. There are many, but I just happened to notice that Sentry has a [plan for great open source projects](http

[2019-04-19 23:00] jessleenyc commented on #2436
I briefly tried recreating this by spot checking various devices/os/browsers via browserstack. I can't seem to recreate the issue so I left a comment reply to the person who's getting the error code asking for more details.

[2019-04-19 23:42] jessleenyc commented on #2365
Thanks for the request! We agree that there should be a better way to display pronouns, and like your suggestion on going the mastodon route. For anyone who wants to tackle this issue, how about adding two fields that allow key values?

Thoughts on how this would be displayed on the profile are also welcome but please provide a mockup before you dive into it!

[2019-04-20 07:06] rhymes commented on #2501
Server side they use Airbrake to track errors, which provides [airbrake-js](https://github.com/airbrake/airbrake-js) that also installs a global handler in case of uncaught errors :-)

It's similar to Sentry's toolkit I guess

[2019-04-20 09:56] nickytonline commented on #2501
Airbrake probably makes sense then on the client-side as well to keep things uniform.

[2019-04-20 17:43] coreyja commented on #2317
Making some good progress! Might even get a PR open today! Definitely not ready to go out yet, but most of the pieces are falling into place!

If I can get a page that will display the live stream for a User I think this will be in a great place to have some eyes on it!

[2019-04-20 20:06] jesseskinner opened #2505 "Add Twitch to the list of Links in Profile Settings"
**Is your feature request related to a problem? Please describe.**
I do live coding on Twitch, and I would love to add a link to my Twitch channel as part of my DEV profile.

**Describe the solution you'd like**
I see a number of other sites in the Links list in Profile Settings (Facebook, LinkedIn, Stack Overflow, YouTube, etc.) and would like to see Twitch added to this list.

**Describe alterna

[2019-04-21 03:35] danascheider commented on #137
Sounds good, I'm on it :)

[2019-04-21 14:57] mjraadi opened #2506 "[Dashboard UI]: "Upload a Video" button & "Recently Created" Select Positioning Needs to be Fixed"
**Describe the bug**
Positioning of "Upload a Video" button and "Recently Created" select doesn't look good on small screen devices.

**To Reproduce**
Steps to reproduce the behavior:

1. Make sure you are logged in
2. Go to your [Dashboard](https://dev.to/dashboard)
3. See the behavior

**Screenshots**
![Screenshot_20190421-191917](https://user-images.githubusercontent.com/20579660/56471708-9f186

[2019-04-21 14:58] mjraadi commented on #2506
I will make a PR to fix this issue if you approve it. Thanks

[2019-04-21 15:06] Link2Twenty commented on #2506
Would you be moving it to flex box?

[2019-04-21 15:13] mjraadi commented on #2506
That's right. I tired fixing it with Flexbox in Chrome Dev Tools and you can see the result.

[2019-04-21 19:10] rhymes opened #2507 "Add developer documentation about the JavaScript frontend"
**Is your feature request related to a problem? Please describe.**

On the heels of [Thoughts on migrating to TypeScript and improving the overall quality of the frontend DEV codebase](https://dev.to/ben/thoughts-on-migrating-to-typescript-and-improving-the-overall-quality-of-the-frontend-dev-codebase-1121), [DEV Notes: Don't Forget To Clear Cache!](https://dev.to/jess/dev-notes-don-t-forget-to-cl

[2019-04-21 19:23] rhymes commented on #2507
I'm pinging @Link2Twenty, @nickytonline and @venarius because I'm sure they'll have, being more familiar with the frontend than I, POVs to contribute. I'm not pinging anyone directly from the core team because, well... they'll see the ticket anyway :D

LET'S DOCUMENT ALL THE THINGS 😂

[2019-04-21 20:18] nickytonline commented on #2507
@rhymes, I'll write something up maybe tonight, but definitely this week.

[2019-04-21 20:48] venarius commented on #2507
Documentation sounds great! I could add some more infos to the documentation from @nickytonline when he adds it and theres something to add. But I currently don't know that much about the frontend parts as I am currently just starting to get into it 🙂

[2019-04-22 11:28] lightalloy commented on #2497
An approximate list of actions to change async method to use Active Job:

- Inspect the method you're going to make asynchronous, look at the tests if it has them, understand what it does.
- If the method contains more than a couple of lines of code, create a service object to contain the method's logic.
- Namespace the service object appropriately.
- Write the tests for the service object.
- Repl

[2019-04-22 11:32] lightalloy commented on #1996
I've written a list of actions to move [a method to Active Job](https://github.com/thepracticaldev/dev.to/issues/2497#issuecomment-485396688), it also applies to this ticket.

[2019-04-22 11:40] lightalloy commented on #2497
You can explore these prs for more information: #2373, #2299, and those attached to issue #1996

[2019-04-22 16:03] #1458 closed

[2019-04-22 16:51] maestromac commented on #2507
Nice write up @rhymes ! We could take this time to also review our thought process on the use of our various JS codes.

[2019-04-22 16:53] maestromac commented on #2506
Give it a go @mjraadi !

[2019-04-22 17:59] rhymes commented on #1996
I think this was closed by mistake because #2485 listed itself as a closing PR

[2019-04-22 19:46] jessleenyc commented on #2507
@aspittel and I were just talking about this! Thanks for the issue @rhymes!!

[2019-04-23 00:39] TerabyteTiger opened #2519 "Navbar overhangs input field on New Post page"
**Describe the bug**
When on https://dev.to/new, if enough vertical space is occupied, you can use arrow keys to navigate cursor behind the navbar.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/new
2. Add a few paragraphs of text (enough that you can scroll the "Title" input off the screen - Might I recommend https://www.lipsum.com/feed/html)
3. Scroll down as far as

[2019-04-23 01:07] Zhao-Andy opened #2520 "Organization sidebar CTA may be cached incorrectly"
As an organization, I can add a CTA to my sidebar. However, if I've previously published a post and I proceed to add a new CTA or update a previous one, it may not show up in my previous posts.

We might want something like:
[code]

Or we could add `Rails.cache` timestamps to the organization sidebar.

[2019-04-23 02:04] nickytonline commented on #2507
I've started writing a post about this because it'll help me do a brain barf, but also, I'm hoping people can fill in holes as I'm not on the core team and also hopefully have community members ask questions. I'll try to answer most of your questions @rhymes in the post to the best of my knowledge.

[2019-04-23 04:34] deyshin commented on #911
Chiming in here - I'm very interested in contributing some amount to this. Do we have any further work items coming out of this issue?

[2019-04-23 04:41] bolariin opened #2521 "Save Changes text spills out of button in v2"
**Describe the bug**
When editing a post within the v2 editor, the text within the save changes button spills out of the button.

**To Reproduce**
Steps to reproduce the behavior:

1. Switch to v2 editor
2. Click Edit for an existing post or publish a post and then click edit
3. You will notice the save changes button below has the 'S' completely out of the button

**Expected behavior**
Expected t

[2019-04-23 13:18] lightalloy commented on #1621
I'm closing this issue because the `DeserializationError`s are fixed (at least most of them).
I'll open other issues for other kinds of DJ errors if they appear.

[2019-04-23 13:18] #1621 closed

[2019-04-23 13:30] omenking commented on #2507
I have found afterwards documentation did exist for some things but being able to discover that information was more work than me just coding in workarounds. The main README needs some formatting love.

Maybe already answered but just writing out what I recall looking at the codebase

### How does initialization work?

`app/assets/javascripts/initializers` look straight forward in that `initialize

[2019-04-23 13:32] lightalloy opened #2524 "Add tests for the BlackBox functionality"
Currently, there are no specs for `BlackBox`. I've noticed a small bug while reviewing failed delayed jobs.
Thing to consider:
- the code shouldn't try to make actual requests to the aws lambda in `test` and `development` environments
- currently, the guard clauses are used to prevent methods execution in non-production environment

[2019-04-23 13:39] lightalloy opened #2525 "Some of the Notifications::NewReactionJobs fail with "Validation failed" on save!"
Some of the `Notifications::NewReactionJobs` fail with `Validation failed: User has already been taken` on `save!` in the `Notifications::Reactions::Send#call`

Maybe it happens when a user creates several reactions on an article, several jobs are created, and those jobs run simultaneously.

[2019-04-23 13:57] jessleenyc commented on #2521
I'm not able to reproduce this on Mac/Chrome but will see if I can via Browserstack. Approving for anyone who might want to take a look.

[2019-04-23 14:32] Zhao-Andy commented on #118
Resolved by #1161

[2019-04-23 14:36] jessleenyc commented on #118
Keeping this open bc we still need to make some design tweaks before making it available!

[2019-04-23 16:15] gajus commented on #2250
Is there any workaround in the mean time?

[2019-04-23 16:42] Zhao-Andy commented on #2519
Adding two gifs for each editor to depict what I think is the issue:
![gif example v1 editor](https://user-images.githubusercontent.com/17884966/56599733-2548c700-65c5-11e9-86a3-664a1ab50eac.gif)

![gif example v2 editor](https://user-images.githubusercontent.com/17884966/56599741-2aa61180-65c5-11e9-8d8a-ad2730c7e6fb.gif)

[2019-04-23 16:45] Zhao-Andy commented on #2520
There was a strange edge case where the CTA was visible for some viewers but not all. Not sure how that could be. Might be a service worker caching issue or something else, but I think solving the caching issue with `CacheBuster` / Fastly should be sufficient.

[2019-04-23 16:48] gajus opened #2533 "Empty response when "accept-encoding:gzip, deflate" header is present"
Empty response when "accept-encoding:gzip, deflate" header is present, e.g.

[code]

Works as expected when header is removed:

[code]

[2019-04-23 16:53] rhymes commented on #2533
Hi @gajus which version of curl are you using? Because it works for me...

make sure curl is compiled with support for libz, see the `Features` section in `curl --version`

[code]

[2019-04-23 16:55] gajus commented on #2533
It works now. It didn't work couple of minutes ago.

Perhaps a cache issue?

[2019-04-23 17:00] gajus commented on #2533
Well, I cannot replicate it anymore. Will close it under I can see it happening again.

The original issue includes all the necessary information to debug this further though.

[2019-04-23 17:00] #2533 closed

[2019-04-23 17:03] mariocsee commented on #2134
Is this resolved by PR #2337?

[2019-04-23 17:06] pkfrank commented on #2134
@mariocsee Yup, it is.  Good call.

[2019-04-23 17:06] #2134 closed

[2019-04-23 17:15] jessleenyc commented on #2048
Thanks for the request. Right now new notifications are highlighted in a different color while older notifications are not highlighted. I know Twitter also follows this pattern but there are certainly other platforms that give you the option to clear your notification list completely. We'll give this some thought.

[2019-04-23 17:18] jessleenyc commented on #2490
Thanks for the request. We actually have these buttons fixed in the v2 version of the editor -- you can toggle by going to dev.to/settings/misc and selecting v2. The biggest difference is that frontmatter is not supported in v2 yet, but we plan to add it soon.

[2019-04-23 17:47] mariocsee opened #2535 "sponsor image in night theme"
**Describe the bug**
Some sponsor images have a white background, which clashes with night theme and possible future themes. Viewers who use night theme to browse in darker environments may be bothered by the white background.

Though you can hide sponsors in `settings/misc`, I imagine that sponsor messaging fitting well with the styling would allow for a smooth experience while supporting the org

[2019-04-23 17:56] gajus opened #2536 "500 Internal Server Error when accessing article via API"
e.g.

[code]

It is not clear whether this indicates that the content will be accessible later or if there is a genuine server error.

[2019-04-23 17:57] Glennmen commented on #2535
Go by ThoughtWorks has transparent black and white svg: https://brandfolder.com/twproducts

Can't find a brand page on scout website.

[2019-04-23 18:30] Zhao-Andy opened #2537 "Article sidebar in Safari inconsistent with other browsers"
In Safari desktop (13 inches or greater, not sure what the pixel limit is) the article sidebar looks a bit off:

### Safari
![Sidebar in Safari](https://user-images.githubusercontent.com/17884966/56606401-1f0e1700-65d4-11e9-8cc6-27425f5e25ed.png)

### Chrome / Firefox

![Sidebar in Chrome or Firefox](https://user-images.githubusercontent.com/17884966/56606420-2c2b0600-65d4-11e9-9ad3-a906c6df2710.p

[2019-04-23 18:33] jessleenyc commented on #2535
@pkfrank headsup we should ask for versions w/ a transparent background for future sponsors.

[2019-04-23 18:42] #1470 closed

[2019-04-24 02:17] nickytonline opened #2539 "Consider using a SASS mixin for themeable style"
**Is your feature request related to a problem? Please describe.**
Not a user problem, but more of a suggestion for a better developer experience. [Fallbacks can be forgotten](https://github.com/thepracticaldev/dev.to/pull/2538#discussion_r277981949) and no one likes typing more than they have to. 😉

Currently if adding themeable styling, you write it like so

[code]

**Describe the solution you'd

[2019-04-24 03:34] bolariin commented on #2521
https://github.com/thepracticaldev/dev.to/blob/b0ad7f8c74b09ca55a80e64ff69d122ad6de0655/app/assets/stylesheets/preact/article-form.scss#L397-L399

It looks like I can get the text to fit within the button if I change the width. I wanted to know If it's fine to increase the width or remove the width so the button isn't too wide for text with fewer characters?

[2019-04-24 06:40] meghascalers opened #2540 "I have lost my all blog post"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-04-24 14:30] nickytonline commented on #2539
Having said that, this may not be necessary as per @benhalpern's comments here https://github.com/thepracticaldev/dev.to/pull/2538/files#r278123186.

[2019-04-24 14:32] erikyuzwa commented on #2048
thanks @jessleenyc - I realize it's likely quite a low priority, but much appreciated 🙇

[2019-04-24 15:20] jessleenyc commented on #2540
Closing due to spam.

[2019-04-24 15:20] #2540 closed

[2019-04-24 16:17] bolariin commented on #2505
I would like to resolve this. I was wondering how to handle the twitch svg?

[2019-04-24 16:22] Zhao-Andy commented on #2505
@bolariin Check out https://www.twitch.tv/p/brand/ for the necessary assets. You'll want to follow the pattern of the other icons/SVGs in the profile page (such as matching the user's profile colors).

[2019-04-24 20:23] bolariin commented on #2505
@Zhao-Andy Thanks. I actually found that the `assets/images` contained a twitch logo. In the link you provided, it mentions the twitch logo should be in black, white or twitch purple. The current pattern for the profile page is the color of the icon changes to match the user's profile color. I was wondering if it's okay to use a fixed color for the twitch logo to keep it inline with the twitch log

[2019-04-24 20:52] rhymes opened #2546 "Recent comment activity styling is a bit off"
**Describe the bug**

I think the "recent comment activity" styling is a little off

**To Reproduce**
Steps to reproduce the behavior:

1. Save an article with comments
2. Go to 'https://dev.to/readinglist?v=comments'
4. See the problem

**Expected behavior**

I think some spacing between the post title, the "VIEW COMMENT TREE" section and the actual comment is needed.

**Screenshots**

![Screensh

[2019-04-24 21:00] JRC86 opened #2547 "My Reading List Reminders"
**Is your feature request related to a problem? Please describe.**
I love the idea of saving an article to read later, but the list grows fast and I can't keep up.
The reason for saving articles is because they are interesting and I might not have time to read it thoroughly at that moment.

**Describe the solution you'd like**
I reminder that works like a notification and asks me if I have (x minu

[2019-04-24 21:27] jessleenyc opened #2549 "/video timestamps don't appear after scrolling"
**Describe the bug**
Looks like timestamps aren't loading for videos that appear after the initial page load.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '/videos
2. Scroll past initial page load

**Expected behavior**
Timestamps should appear on all video thumbnails.

**Screenshots**
![](https://cl.ly/730ce6898b73/download/Image%202019-04-24%20at%205.24.59%20PM.png)

[2019-04-25 00:54] maestromac commented on #2546
Thanks for reporting this @rhymes . My first hunch it could be because of this PR https://github.com/thepracticaldev/dev.to/pull/2166

[2019-04-25 01:08] #257 closed

[2019-04-25 03:49] #2506 closed

[2019-04-25 05:12] zxlee618 commented on #2537
I would like to work on this

[2019-04-25 12:12] maestromac commented on #2380
Thank you for the suggestion! Resolved via 05b7208

[2019-04-25 12:12] #2380 closed

[2019-04-25 12:25] jankeromnes commented on #2380
Hi @maestromac, thank you for the update!

The configuration you added looks great, but it may get a bit noisy (because it makes Gitpod add a check + a comment + a label). It's also missing:

[code]

but that's ok if you want the default value.

[2019-04-25 12:29] maestromac commented on #2505
Hmm, we'll discuss their logo rule. For now, it can be implemented the same way other user profile links were done.

[2019-04-25 12:37] maestromac commented on #2380
Oh good point. Went ahead and made the update  4b5622f

[2019-04-25 13:48] jankeromnes commented on #2380
That's perfect, thanks! You now have all the [prebuild options](https://www.gitpod.io/docs/46_Prebuilds/#configure-prebuilds) listed explicitly in `.gitpod.yml`. 👍

Note: If PR reviewers don't see the Checks, you might consider re-enabling Comments as well (I personally like Checks + Comments, but find Labels a bit too noisy).

I think Comments is what @benhalpern suggested in https://github.com/t

[2019-04-25 17:56] maestromac commented on #2537
go ahead @zxlee618 !

[2019-04-25 18:07] aspittel commented on #2539
Oh, I really like this idea -- thank you for posting it @nickytonline! Will discuss further with the team!

[2019-04-25 18:33] #2445 closed

[2019-04-25 19:17] maestromac commented on #2521
@bolariin you can remove the width if necessary as long as it's consistent between browsers. Dynamic width is probably the best solution.

[2019-04-25 19:21] maestromac commented on #2536
I believe the vagueness is by-design but we could make the adjustment for this case.

[2019-04-25 19:23] maestromac commented on #997
not stale!

[2019-04-25 19:44] omenking opened #2558 "Make Series Articles Useful"
**Is your feature request related to a problem? Please describe.**

This is how series work, they are a series of dots.
<img width="727" alt="Screen Shot 2019-04-25 at 3 42 39 PM" src="https://user-images.githubusercontent.com/7776/56763585-cb850000-6770-11e9-8a56-c09b8aaaaa11.png">

**Describe the solution you'd like**
see on the left-hand side where I highlight in red. This would be more ideal b

[2019-04-25 20:07] mariocsee opened #2559 "Liquid Tag Render Refactor Tracker"
**Describe the bug**
Most/all liquid tags render through markdown parser in the same preparation step articles/comments go through before saving and rendering. Content such as some code, HTML, etc. gets removed in the process, and methods are created to circumvent the parsing (typically using Regex). By using views to render liquid tags, we would not need such methods and methods that help with se

[2019-04-25 20:14] #2505 closed

[2019-04-25 20:39] larssonted86 opened #2560 "Can't access settings in Dev app"
**Describe the bug**
Tried to access settings in the app.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'app'
2. Click on 'settings'
3. Scroll down to '....'
4. See error

**Expected behavior**
Get to settings in the app

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser

[2019-04-25 21:10] omenking commented on #354
@nickytonline
How does this `dataset` get set in the `packs/articleForm.jsx` ? I can see `dataset` many places but don't know how they are getting applied to elements

<img width="821" alt="Screen Shot 2019-04-25 at 5 08 36 PM" src="https://user-images.githubusercontent.com/7776/56768617-d9408280-677c-11e9-8be8-2eddadd5ddf2.png">

[2019-04-25 21:14] omenking commented on #354
Think I found it. I guess `dataset` is a convention for preact to pull data attributes.
[code]

[2019-04-25 21:15] nickytonline commented on #354
It's a web standard thing see [HTMLElement.dataset](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/dataset) on MDN.

[2019-04-25 21:25] omenking commented on #354
The form is coming along, toggling between markdown and preview, populating it with data from dataset, proceeding to hook up submit button.

<img width="843" alt="Screen Shot 2019-04-25 at 5 24 15 PM" src="https://user-images.githubusercontent.com/7776/56769393-0ee66b00-677f-11e9-8d62-47173e38f4d3.png">

[2019-04-25 21:33] omenking commented on #354
So sending this as payload, the old comments didn't send so much along and I could reduce this to just whats expected but trying to mimic articlesForms as best I can and honestly strong params will just filter anything not needed out.

<img width="578" alt="Screen Shot 2019-04-25 at 5 32 54 PM" src="https://user-images.githubusercontent.com/7776/56769758-2e31c800-6780-11e9-98b7-a7a1aade56d4.png">

[2019-04-25 21:41] omenking commented on #354
I can submit comments but now comes the task of inserting a newly created comment.
Since the comments are not preacted I would have to insert HTML on the response.

So this is now as @nickytonline said early which is should all of the comments be converted to preact.

Now I am leaning to yes they should be.

[2019-04-25 21:57] omenking commented on #354
Even if I wanted to preact all of the comments, there is this mess to deal with since there is all this caching for the nested comments.

[code]

[2019-04-25 22:06] nickytonline commented on #354
Just on mobile, but I'll write something up here later tonight. Tldr though, I would keep it simple. First focus on the autocomplete component as it will be used in many places. Wherever it's used, I would load this component dynamically (dynamic import) probably on focus of an editable entity, E.g. comment. This way you can leave server-side rendered comments as is.

[2019-04-25 22:30] omenking commented on #354
If we are moving forward with preact, let's just get it over with and preact-ify it.
If I have to rework the server side rendering I can.

[2019-04-25 22:45] omenking commented on #354
Nick and I are going to get on Zoom at 10PM EST tonight and discuss @mention approach.
If anyone wants to jump in on the conversation here is the link:

https://zoom.us/j/121721734

@Zhao-Andy @benhalpern @rhymes @maestromac

[2019-04-26 02:15] toeknee123 opened #2564 "500 Error After Credit Purchase"
**Describe the bug**
Tried buying Credits but after entering in credit card information, throws 500 error.

**To Reproduce**
Steps to reproduce the behavior:

1) Enter in CC information to buy credit
2) Click purchase
3) 500 error

**Expected behavior**
Credit purchased

**Screenshots**
<img width="769" alt="Screenshot 2019-04-25 21 12 53" src="https://user-images.githubusercontent.com/2038322/567

[2019-04-26 02:44] nickytonline commented on #354
Not Preact, just plain JS, but just a mini POC showing the idea of only attaching the comment autocomplete when necessary, https://codesandbox.io/s/5zn68rp3r4

[2019-04-26 03:33] omenking commented on #354
Talk to Nick and I agree there is a more practical solution other than me preactifying all of the comments. Though just to show if you were curious I was going all-in and making comments as powerful as github comment but I will leave this for a future ticket and stay in the scope of @mention functionality

<img width="998" alt="Screen Shot 2019-04-25 at 11 29 26 PM" src="https://user-images.github

[2019-04-26 08:00] GMartigny opened #2566 "Can't enter custom listing credits amount"
**Describe the bug**
In the buying credits for listing page, the amount input can't be filled using number key on keyboard.
On the JS code, there's:
[code]
The `preventDefault` function is wrongfully called. I don't get what it's used for anyway.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/credits/new
2. Click on 'Amount to purchase' input
3. Try entering custom amo

[2019-04-26 08:01] lightalloy commented on #2524
Closed by #2542

[2019-04-26 08:01] #2524 closed

[2019-04-26 10:00] rhymes opened #2573 "Is Sail actually being used?"
I noticed that the [sail](https://rubygems.org/gems/sail) is listed in the Gemfile but it's never actually used.

There's still a table:

https://github.com/thepracticaldev/dev.to/blob/a711e2246e7f4ca87afcd247a63d5f0f773836f8/db/schema.rb#L681-L689

but the route is not activated, nor there's any other code that references it.

I've checked the git history and I found these three commits:

1. Sail

[2019-04-26 12:15] cyrillefr commented on #1996
Hello, I would like to help with the tag adjustement notification.

[2019-04-26 13:25] lightalloy opened #2580 "Delayed Job error on while exporting content"
Sometimes `ExportJob` fails with the following error:

[code]
This is probably related to #2031
Inside the `Exporter::Service` there is a reference to `Articles` , which is resolved to an `Articles` module. But it should be resolved to `Exporter::Articles`.

[2019-04-26 13:36] rhymes commented on #2580
Aahhhh great find! Now I understand why I can't export from the website.

These two file create the `Articles` module: https://github.com/thepracticaldev/dev.to/blob/master/app/jobs/articles/score_calc_job.rb and https://github.com/thepracticaldev/dev.to/blob/master/app/jobs/articles/bust_cache_job.rb

😭

[2019-04-26 13:44] lightalloy commented on #2580
@rhymes that's true. But the `Articles` module is top-level, and the `Exporter::Articles` is namespaced, so probably the issue can be fixed without renaming, but I need to have a closer look at it to come up with an optimal solution.

[2019-04-26 13:46] rhymes commented on #2580
@lightalloy thank you!

[2019-04-26 14:43] jesseskinner commented on #2505
Thanks @bolariin and everyone!

[2019-04-26 17:32] jessleenyc commented on #2573
@rhymes thanks for bringing this up! We had planned to replace FlipFlop with Sail but I vaguely remember something going wrong on deploy and I don't know if we ever fully fixed it. We don't have anything behind flags right now so we haven't looked at it in a while. I'll bring it up with the team but for now we'd definitely welcome a PR fully removing flip flop since we're not using it!

[2019-04-26 17:35] jessleenyc commented on #2560
@larssonted86 I can't seem to recreate this issue. Would you mind sending an email to yo@dev.to with your email address? I think it could be specific to your account. Thanks!

[2019-04-26 17:35] #2560 closed

[2019-04-26 17:37] jessleenyc opened #2582 "Misspelled "Portuguese" Under Language Selection in /settings/misc"
@michael-tharrington commented on [Thu Apr 25 2019](https://github.com/thepracticaldev/team/issues/123)

A user pointed out that we made a typo on the word Portuguese here:

![](https://cl.ly/a9e99ffff59b/download/Image%202019-04-25%20at%2010.50.16%20AM.png)

under https://dev.to/settings/misc.

[2019-04-26 19:20] lightalloy commented on #2582
I fixed that in #2496

[2019-04-26 22:39] rhymes commented on #2573
@jessleenyc thanks for the explanation. I'll send a PR to remove the remnants of flipflop and then maybe a separate PR to remove sail in case you decide to proceed in that direction

[2019-04-26 23:03] rhymes opened #2586 "Classified listings UI: add color coding of listing titles and selector buttons"
**Is your feature request related to a problem? Please describe.**

I was thinking that it would be nice and easier to scan if the various classified listings were color coded and maybe even their relative "category" button had the same color.

Mine it's obviously an example, I'm not advocating for this color scheme, just the general idea of using a color coded system

**Describe the solution you'

[2019-04-27 10:27] zxlee618 commented on #2537
Just wondering, how it is supposed to look like?

[2019-04-27 10:31] rhymes commented on #2537
@zxlee618 I think the reference is the Chrome/Firefox image.

Nothing:

![Screenshot_2019-04-27 The DEV Community](https://user-images.githubusercontent.com/146201/56848357-50465a00-68e8-11e9-8214-754b5d7231da.png)

Something:

![Screenshot_2019-04-27 The DEV Community(1)](https://user-images.githubusercontent.com/146201/56848358-55a3a480-68e8-11e9-803c-db033c4e3ceb.png)

[2019-04-27 13:50] rhymes opened #2587 "Add Ruby source code documentation to docs.dev.to"
**Is your feature request related to a problem? Please describe.**

In the effort of lowering the bar for contribution, but also to help current contributors navigate the code, I believe it would be nice to have a place online where to consult the Ruby API (as in the interface of the Ruby code base), something like various gems docs.

This should also encourage a process of standardized documentat

[2019-04-27 14:14] Westbrook opened #2589 "Stackblitz Embed with Specific File"
**Is your feature request related to a problem? Please describe.**
As a writer I'd like to be able to focus my Stackbliz embeds on a specific file to most clearly exemplify the code that I may be describing.

**Describe the solution you'd like**
I would like to be able to use the embed code with an additional parameter `{% stackblitz vanilla-portal view=editor file=portal-destination.js %}`

While

[2019-04-27 15:05] maestromac commented on #2501
Yep. We should enable Airbrake in the preact side.

[2019-04-28 02:16] thomasbnt commented on #229
Hey, this is always an open request 🐅

[2019-04-28 02:47] coreyja commented on #2317
I just got an MVP PR opened for this! 🎉

https://github.com/thepracticaldev/dev.to/pull/2591

[2019-04-28 02:59] nickytonline commented on #2501
I'll take this on and may synch up with you @maestromac.

[2019-04-28 03:46] nickytonline commented on #2501
Looks like the airbrake JS client is already installed. See https://github.com/thepracticaldev/dev.to/blob/master/app/assets/javascripts/base.js.erb#L683. However, it's only loaded when it's running production only. It would make sense to make it available in all environments, e.g. dev, so that devs contributing can add error reporting via airbrake in PRs. From what I can see on airbrake.io, there

[2019-04-28 04:30] zxlee618 commented on #2537
But it looks similar to Chrome on my Safari (15inch mac). The buttons would become smaller when the window is smaller and this behaviour is similar to chrome and firefox, so I'm a bit confused now

[2019-04-28 08:24] rhymes commented on #2501
@nickytonline I think it's enabled only in production because there's no OSS/free tier unlike Sentry. 😞

Maybe a section of the docs explaining how to add it to the code would be already something.

A few notes about Airbrake JS current state:

* it's sampled on the client side, so not all JS errors are sent, which can be an issue, because being random at a global level it means that a meaningful

[2019-04-28 10:58] msarit opened #2594 "Temporarily change "SAVED" button-text to "DROP" or "UNSAVE" on hover"
**Is your feature request related to a problem? Please describe.**
After saving a post, it is not immediately obvious that clicking the "SAVED" button-text is the way to un-save the post.

**Describe the solution you'd like**
I think changing the button-text on-hover (to something like "DROP" or "UNSAVE") would clue members in quicker.

**Describe alternatives you've considered**
Maybe include som

[2019-04-28 10:58] msarit commented on #2594
I think this would be an awesome `good-first-issue` 😸

[2019-04-28 12:19] lachlan-eagling commented on #1679
This, and another potentially related issue where the two gists in my post randomly both load the same gist. https://dev.to/lachlaneagling/a-peek-inside-python-the-how-what-and-why-of-bytecode-go1.

Refreshing the page a few times seems to trigger the problem, tested on multiple devices and browsers.

[2019-04-28 14:12] omenking commented on #2507
I installed the gitdocs gem with a bit of pain due to native extensions and it wasn't loading gitdocs as expected, maybe its using the node library `gitdocs` so will give that a go.

[2019-04-28 14:23] rhymes commented on #2507
Hey @omenking thanks for the answers, my questions were more a brain dump of possible starting points to write an overview documentation than anything else. I'm sure there's stuff I forgot to "ask"

BTW @nickytonline also contributed some info that could become part of the "how the frontend works" docs: https://dev.to/nickytonline/dev-to-s-frontend-a-brain-dump-in-one-act-7mg

What's gitdocs?

[2019-04-28 15:37] omenking commented on #2507
Getting GitDocs organized today:

<img width="284" alt="Screen Shot 2019-04-28 at 11 36 53 AM" src="https://user-images.githubusercontent.com/7776/56866674-f73efa80-69a9-11e9-83c3-2a91e5379956.png">

@rhymes  https://github.com/timberio/gitdocs

[2019-04-28 16:45] omenking commented on #2507
Its coming along
<img width="321" alt="Screen Shot 2019-04-28 at 12 44 44 PM" src="https://user-images.githubusercontent.com/7776/56867464-6ec55780-69b3-11e9-8738-f03646b5c0cb.png">

[2019-04-28 18:32] omenking commented on #2587
Since our current documentation on dev.docs is incomplete this just looks like more docs to burden developers with busy work because then they'll be obligated to fully document their methods.

If we want to **lower the bar** we need to make the codebase more vanilla since there is so many abstractions and configurations that are not necessary.

Instead of adding more documentation lets make the ap

[2019-04-28 18:51] omenking commented on #2499
It would be nice if we could be utilizing ElasticSearch since its core is open source.
All three major cloud providers (AWS, Azure, GCP) have managed ElasticSearch services.

To simplify the codebase further I wonder if Postgres Full-Text search could be utilized. There would be a compromise in the rich search functionality but would make the codebase simple overall.

I know this not a discussion

[2019-04-28 19:30] qm3ster commented on #1679
@jessleenyc you tagged this with `editor`, but editing the post shows the correct order again.
Only the rendered post is mixed up.

[2019-04-28 19:37] rhymes commented on #2587
I don't think this adds burden to the developer, since it's auto generated.

I'm not advocating to document all methods either, just to have a place where a person can quickly navigate the source code by module/class. Since a Ruby module can span multiple files, I think it'd be nice to have an API doc.

Method documentation is not currently enforced, it will remain an opt-in AFAIK.

[2019-04-29 00:37] Zhao-Andy commented on #2549
Resolved by #2551 I believe.

[2019-04-29 00:37] #2549 closed

[2019-04-29 10:01] weekly-digest[bot] opened #2598 "Weekly Digest (22 April, 2019 - 29 April, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 88 issues were created.
Of these, 55 issues have been closed and 33 issues are still open.
## OPEN ISSUES
:green_heart: #2596 [Move async comment methods to comment job](https://github.com/thepracticaldev/dev.to/pull/2596), by [KDRaypole](https://github.com/KDRaypole)

[2019-04-29 13:38] #2598 closed

[2019-04-29 14:37] michael-tharrington opened #2614 "Negative Number Incorrectly Appeared Beside "Discuss" on An Article"
**Describe the bug**
When looking at an article on DEV, I noticed it had "-1" beside "Discuss" which is used to denote how many comments there are on an article. The article is here - https://dev.to/steveblue/build-angular-like-an-architect-part-2-208l and this happened on April 26th. To be honest, I can't remember how many active comments the article had... I just noticed the negative one, though

[2019-04-29 15:44] #1173 closed

[2019-04-29 15:44] #1138 closed

[2019-04-29 15:44] #1150 closed

[2019-04-29 17:04] rugk opened #2617 "Please understand decentralized social networks, remove Mastodon whitelist (get Fediverse)"
**Describe the bug**
As [argued here](https://twitter.com/rugkme/status/1122908656482361350), you seem to whitelist Mastodon instances.

**To Reproduce**
Steps to reproduce the behavior:

1. Enter any not known Mastodon instance.

**Expected behavior**
It shoudl accept any Mastodon instance automatically. (if you want, verify via a ActivityPub request that it is Mastodon or so, but accept it.)

**

[2019-04-29 18:02] msarit opened #2618 "Add a 'Back To Top' button"
**Is your feature request related to a problem? Please describe.**
Sometimes, the posts members create get very long. It then becomes a hassle scrolling back up to the control bar which has the 'Markdown' and 'Save Post' buttons

**Describe the solution you'd like**
I think a 'Back To Top' button that appears after a certain scroll-down distance would be very appreciated

**Describe alternatives y

[2019-04-29 18:03] msarit commented on #2618
Good for `good-first-issue` in my opinion 😄

[2019-04-29 20:56] #424 closed

[2019-04-29 21:19] jessleenyc commented on #2586
I really like this idea!

[2019-04-29 21:33] #2226 closed

[2019-04-30 00:14] nickytonline opened #2623 "User's profile page includes posts from other users"
**Describe the bug**
I clicked on the profile of one of my new followers to see their posts and noticed that only the first post was theirs.

**To Reproduce**
I'm not sure of the repro steps yet, but these are the steps I performed to get the error

1. From the main page, click on your notifications
2. Click on a follower in your recent followers
3. Notice on their profile page, that they have pos

[2019-04-30 05:04] danascheider commented on #137
@devjack @maestromac The RSS specification indicates that all fields under `<item>` are optional, including URL. In fact, every field under `<item>` is optional, with the exception that the item has to have either a title or a description. I'm trying to think of a workaround for how we can uniquely identify RSS content but any suggestions are welcome.

[2019-04-30 08:01] rhymes commented on #2586
Maybe something in tune with the color scheme of the [offline page](https://dev.to/offline) ?

![Screenshot_2019-04-30 Looks like you've lost your Internet connection](https://user-images.githubusercontent.com/146201/56947908-d358f180-6b2e-11e9-9d3a-2c57b2952ed4.png)

[2019-04-30 10:16] lightalloy commented on #2580
Closed by #2612

[2019-04-30 10:16] #2580 closed

[2019-04-30 10:20] SeanKilleen commented on #137
@danascheider for the purpose of this PR, would it make sense to address it using whatever method is currently in use? If URL is being used, I'd recommend using that for now and creating a follow up PR later.

I'm ssuming they already have a way of doing this (via URL or another method) because posts don't repeat in my dashboard when they come in via my RSS)

[2019-04-30 10:22] lightalloy commented on #2031
Export should work now. Described in #2580 , fixed by #2612

[2019-04-30 10:22] #2031 closed

[2019-04-30 10:43] rhymes commented on #2031
@lightalloy I still have my export disabled on the website :( I think it's because the job failed and my `export_requested` field has not been restored to `false`...

[2019-04-30 13:38] benhalpern opened #2626 "Remove pry from production"
@rhymes included removing pry from production in a PR a little while back, but we asked that it be kept because a couple folks liked using it when they had to go into the production console.

But we've talked it over and it's okay to move pry from general gems to development. 👌

[2019-04-30 15:56] #1170 closed

[2019-04-30 15:56] #657 closed

[2019-04-30 16:57] mariocsee commented on #2546
hey @rhymes, I can't replicate this on web or mobile anymore, but I may have caught it when my PR #2493 addressing another reading list comments issue was merged. Are you still experiencing this?

[2019-04-30 17:10] jessleenyc commented on #2535
Let's add some logic that accepts two images for the sponsor (light/dark) and shows the right version depending on what theme the user uses.

[2019-04-30 17:30] rhymes commented on #2546
@mariocsee no, it's fine now! Closing this issue, thanks!

[2019-04-30 17:30] #2546 closed

[2019-04-30 17:42] jessleenyc commented on #2539
We'd welcome PRs for this if anyone wanted to start refactoring. It'll help us steer in the direction of cleaner CSS.

[2019-04-30 17:43] nickytonline commented on #2539
I'll put up an initial PR with the mixin and a few SASS files converted.

[2019-04-30 17:46] jessleenyc commented on #2547
Thanks for the feature request -- we really like this idea. Whoever wants to take this on: please leave more details on how you'd approach the UI and share any mockups so we're on the same page.

[2019-04-30 17:48] jessleenyc commented on #2587
Hey @rhymes -- we're all for this. Since it's auto-generated, we don't think it'll add any burden either. And like you suggested, we'll keep it opt-in and no one will be 'required' to document (but hopefully we will!).

[2019-04-30 17:51] jessleenyc commented on #229
We don't want to support links quite yet but this is approved for inline markdown (italics, bold, etc.) for anyone who wants to grab it!

[2019-04-30 17:55] jessleenyc commented on #2617
For anyone who wants to take this on, we'll want a way to verify these mastodon links. Ideally we'll build this in a reuseable way so we have a general tool that scrapes other sites for link verification should that use case come up in the future.

[2019-04-30 17:58] thomasbnt commented on #229
Why no links?

Le mar. 30 avr. 2019 à 19:51, Jess Lee <notifications@github.com> a écrit :

[2019-04-30 17:59] thomasbnt commented on #229
Why no links?

[2019-04-30 18:12] copasetickid commented on #1996
Hi @lightalloy  I'd like to help with the `send_mention_notification`

[2019-04-30 18:29] maestromac commented on #2031
Hey @rhymes , can you double check again to see if exporting is still disabled for you?

[2019-04-30 18:29] #2626 closed

[2019-04-30 18:37] rhymes commented on #2031
@maestromac it was enabled, I requested a new export, it arrived quicker than the speed of light in my inbox, it's enabled again. It works 🎉 Thank you!

[2019-04-30 19:00] jessleenyc commented on #2618
Thanks for the request. Not sure if you know about the v2 of the editor (you can toggle it your /settings/misc) but it has a sticky buttons for preview/save/post. Regardless, we still think this issue makes sense for navigating to the top for other things.

For anyone interested in taking this, please let us know what you're thinking design-wise so we can get on the same page before implementation

[2019-04-30 19:01] ekafyi opened #2630 "Feature Request: Add ability to highlight specific lines in code blocks"
Having the ability to highlight specific lines in code blocks, like in [this package](https://github.com/egoist/markdown-it-highlight-lines), would be helpful. With line highlighting, we can show the context of the entire code snippet while also focus on the important part of the code.

Example:
![code snippet demonstrating line highlighting](https://camo.githubusercontent.com/1d6f15dcee5d61590bda

[2019-04-30 19:43] maestromac commented on #2573
We are going to keep Sail. We need to verify that it won't crash us again on staging first before fulling utilizing it. thanks for raising this @rhymes !

Resolved with https://github.com/thepracticaldev/dev.to/pull/2585

[2019-04-30 19:43] #2573 closed

[2019-04-30 19:52] abraham commented on #1078
Rails 6 added some level of parallel testing as well. That might be useful once DEV is upgraded. https://edgeguides.rubyonrails.org/testing.html#parallel-testing-with-threads

[2019-04-30 19:55] maestromac commented on #1078
Yeah I am very much looking forward to that.

[2019-04-30 23:47] danascheider commented on #137
@SeanKilleen Ah true! Yeah, I'll figure out how they are already being differentiated.

[2019-05-01 00:36] nickytonline commented on #2539
There can me some more complicated scenarios, for example, some values that are `!important`. Although we should avoid `!important` if possible, it's currently in the code base.

I believe that these are all the `!important`s in regards to CSS vars/theming:
* https://github.com/thepracticaldev/dev.to/blob/master/app/assets/stylesheets/article-show.scss#L737
* https://github.com/thepracticaldev/dev

[2019-05-01 08:57] lightalloy commented on #2582
Fixed by #2496

[2019-05-01 08:57] #2582 closed

[2019-05-01 09:03] lightalloy commented on #2369
Closed by #2496

[2019-05-01 09:03] #2369 closed

[2019-05-01 14:25] maestromac commented on #2317
Resolved with https://github.com/thepracticaldev/dev.to/pull/2591

[2019-05-01 14:25] #2317 closed

[2019-05-01 14:29] maestromac commented on #2594
Resolved with https://github.com/thepracticaldev/dev.to/pull/2597

[2019-05-01 14:29] #2594 closed

[2019-05-01 14:43] maestromac commented on #1626
not stale

[2019-05-01 14:47] #270 closed

[2019-05-01 16:08] drazisil opened #2638 "Received the "you are offline" page randomly"
**Describe the bug**
Received the "you are offline" page randomly today. Seemed a little odd, since I could access all other sites. Sent a tweet https://twitter.com/drazisil/status/1123613291174084609 and was directed to try deleting service worker cache and posting here.

Visited `about:debugging#workers` and attempted to unregister the "running" worker, was unable to. Closed the page and it disa

[2019-05-01 16:59] kenbellows opened #2639 "Deleting all content from a draft seems to force just that draft to use editor v2."
**Describe the bug**
If a draft's front-matter is deleted, or is not followed by a newline so that it is not recognized as front-matter by the parser, the draft can only be edited in editor v2, regardless of your user settings, until front-matter is added back in.

**To Reproduce**
Steps to reproduce the behavior:

1. While logged in to dev.to, Go to https://dev.to/settings/misc and set "Editor ve

[2019-05-01 17:02] #2521 closed

[2019-05-01 17:23] maestromac commented on #2124
Resolved with https://github.com/thepracticaldev/dev.to/pull/2213

[2019-05-01 17:23] #2124 closed

[2019-05-01 17:32] maestromac commented on #2564
Thank you for reporting this issue. I believe this has already been addressed. Please let us know if otherwise!

[2019-05-01 17:32] #2564 closed

[2019-05-01 17:35] kenbellows commented on #2638
If you want some more unhelpful input, I'm not sure how to reproduce it either, but I've seen it happen a few times myself, especially in the new Android app. It seems to occur most often when I do too much navigating backwards through the history, that sort of thing, so I have a (largely unfounded) suspicion that it's related to routing

[2019-05-01 17:46] bolariin commented on #249
I think this might have been resolved with #680

[2019-05-01 17:51] maestromac commented on #249
Thanks @bolariin . Resolved with https://github.com/thepracticaldev/dev.to/pull/680

[2019-05-01 17:51] #249 closed

[2019-05-01 18:33] wesdelp commented on #201
@IvanDelsinne @maestromac first pass here https://github.com/thepracticaldev/dev.to/pull/2634. I kept it simple with just the ability to filter a feed by a specified tag. Multiple tags could be accomplished for now by just subscribing to multiple feeds 👌

[2019-05-01 19:43] maestromac commented on #2501
@rhymes the re-initialize portion could be a mistake on our part.

I'll bring this up to Ben and see what he thinks about Sentry.

[2019-05-01 20:15] maestromac commented on #2535
Resolved with https://github.com/thepracticaldev/dev.to/pull/2640

[2019-05-01 20:15] #2535 closed

[2019-05-01 20:28] #2589 closed

[2019-05-01 21:26] mariocsee opened #2642 "clicking manage button in unpublished post returns 404"
**Describe the bug**
The manage button in an unpublished post leads to a 404.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'dev.to'
2. Create an a post and save the draft
3. View the unpublished post and click manage
4. See error

**Expected behavior**
The manage button should not be displayed in an unpublished post. Though I would imagine users might want to set the "level" of the

[2019-05-01 22:10] KDRaypole commented on #2642
Quick and easy fix 😁Gotta love Pundit!

[2019-05-01 22:38] benhalpern commented on #2642
We can talk about this, but I feel like this is info that can be dealt with post-publish. But I could be swayed here. For now I think it's fine.

[2019-05-02 05:01] bolariin opened #2648 "Preview not working for Gist Tag"
**Describe the bug**
Trying to preview the gist tag doesn't seem to work on the v2 editor.

**To Reproduce**
Steps to reproduce the behavior:

1. Click on `WRITE A POST` or `EDIT` for an existing post
2. Type or paste in an example of the gist tag
3. Click on Preview
4. A preview of the expected gist embed does not appear

**Expected behavior**
I expected to see a preview of the gist embed

**Desk

[2019-05-02 08:48] kalsiralph opened #2651 "Not able to post on dev.to"
I am not able to post on dev.to. Here is my profile link: https://dev.to/ralphkalsi

Here is the screen I am getting when tried to post content:

![image](https://user-images.githubusercontent.com/50197378/57064825-2aa0c280-6ce5-11e9-884a-072e9b7190d2.png)

Please help me as I really want to upload some content here.

Regards

[2019-05-02 15:38] esquith commented on #2618
Would be interested in taking this. I was thinking just adding it in another line below the "code of conduct - report abuse" text @jessleenyc

[2019-05-02 15:45] maestromac commented on #2651
Hello @kalsiralph , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-05-02 15:45] #2651 closed

[2019-05-02 16:57] maestromac commented on #238
not stale

[2019-05-02 17:18] #1526 closed

[2019-05-02 17:50] #2587 closed

[2019-05-02 18:11] cyrillefr commented on #1996
Hello, I'd like to help with `send_milestone_notification`

[2019-05-02 19:35] #1505 closed

[2019-05-02 20:41] maestromac commented on #1679
@qm3ster for the time being we considered markdown/rendering errors as editor issues.

[2019-05-03 01:12] maestromac commented on #2642
Should be resolved with https://github.com/thepracticaldev/dev.to/pull/2643

[2019-05-03 01:12] #2642 closed

[2019-05-03 01:21] bolariin commented on #2614
https://github.com/thepracticaldev/dev.to/blob/0e41a37eb61f58f7308d1da4b51c8bb2f72dbc9d/app/views/articles/_actions.html.erb#L18-L23
To resolve this, would it enough to change this from `nonzero?` to `positive`?

[2019-05-03 01:23] KDRaypole opened #2666 "Match timeframe links with tag colors"
**Is your feature request related to a problem? Please describe.**
This is more of a problem of consistency. The timeframe links on a tag's page have a style that matches the tag theme when the class `.selected` is applied. But when hovering over the other timeframe links the default hover is shown.

**Describe the solution you'd like**
The timeframe links hover should reflect the tag theme if the

[2019-05-03 01:37] Zhao-Andy commented on #2614
@bolariin That makes sense. Nice find!

[2019-05-03 07:05] aligoren opened #2668 "Reaction Buttons Works Inconsistent"
**Describe the bug**

Hi, I was found an interesting bug. While I was reading an article, I clicked heart button by mistake. It removed the article from likes list. I tried to click it again to like again, it didn't work for the first time.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any article
2. Click on "heart" button'
3. Click on the "heart" button again
4. See bug.

**Expect

[2019-05-03 09:53] rhymes opened #2670 "Delay save button hover transition after click"
**Describe the bug**

At present, when the `SAVE` button is clicked, the `hover` effect starts immediately, which visually makes the button text seemingly transition from `SAVE` to `SAVED` to `UNSAVE` in a few milliseconds.

It's not a big deal but it looks like a weird UI quirk in some cases.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://dev.to/'
2. Click on 'SAVE' on any

[2019-05-03 09:54] jonathan-s opened #2671 "Welcome message does not entirely fit"
**Describe the bug**
The welcome message does not entirely fit.

![Screen Shot 2019-05-03 at 11 50 19](https://user-images.githubusercontent.com/2124818/57130471-dc013000-6d99-11e9-832a-4c827c421433.png)

**To Reproduce**

I'm using 1280x800 display. With 100% zoom. You see this the first time you login creating your account.

**Expected behavior**
You should clearly see let's get started.

**Desk