[2020-07-01 18:56] Oghenebrume50 commented on #6938
@ludwiczakpawel got it, but quick question, currently when the "show archived" button is clicked the archive post is added to the list of active post, I guess if we are to add series to that we cannot do that, but we would have to replace the content of that `div` with the list of series

[2020-07-01 19:43] ludwiczakpawel commented on #6938
@Oghenebrume50 I think the current solution is suboptimal - I think once you hit "show archived" it should replace the list of posts instead of adding them to the existing list. And that would/should be a behavior for other "filters" I mentioned earlier. I think... :)

[2020-07-01 19:45] Tails128 opened #9061 "[Documentation] Add nullable fields in the API documentation"
**Is your feature request related to a problem? Please describe.**
It would be super nice to have written in the documentation which response parameters can be null or absent in the answer, in order to write better typescript code.
[Edit] Some fields are already `null`, but some are not e.g: `organization` in published articles

**Describe alternatives you've considered**

I am currently writing m

[2020-07-01 19:48] seangwright commented on #2424
@AlbertoPdRF, that would be awesome!

My blog post series is at 25 posts now 🤣 and I'd love a landing page for it to promote it on social media!

[2020-07-01 20:37] jacobherrington commented on #8849
It looks like we might need to add `&& nvm use $NODE_VERSION` to https://github.com/thepracticaldev/dev.to/blob/2a31f7b9de7e9090ec908dd2a2d28508d807ab6f/.gitpod.dockerfile#L10

[2020-07-01 20:44] Tails128 opened #9065 "[Documentation] inconsistent and duplicated fields in api"
**Describe the bug**

Currently `tags` and `tag_list` have two different behavior:
[code]
and:
[code]

It would be nice to have it unified, in order not to get confused with it... but only having one of the two versions (preferably the string[] one) would be even better so that the server has to send fewer data and that the user has to download fewer.

**and**
The same (choosing one of the two fie

[2020-07-01 21:06] Veggier commented on #8886
I will try to work it on this issue.

[2020-07-01 21:49] michael-tharrington commented on #8920
Hey y'all! (@rhymes & @omenking)

I'm gonna hop in here and help break this thing up.

[2020-07-01 21:58] michael-tharrington opened #9066 "Occasionally org admins cannot view org dashboard"
**Describe the bug**

When a user has been invited to a DEV Organization and made an Admin if they have never created a post they will not see the dropdown to switch to another Organization (screenshot 1) in their dashboard.

**Expected behavior**

All org admins should be able to access their org's dashboard regardless of whether or not they've written a post.

**Screenshots**

Screenshot 1 (_Not

[2020-07-01 22:09] michael-tharrington opened #9067 "Pro Analytics should be downloadable in CSV form"
**Is your feature request related to a problem? Please describe.**

Not exactly, but at least on organization has requested to have their stats downloadable in CSV form.

I imagine this would be useful for other orgs too and individuals who want to be able to pull this info into analytics systems to analyze.

**Describe the solution you'd like**

It'd be awesome to be able to submit a data request

[2020-07-01 22:22] jacobherrington commented on #9061
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-01 22:23] jacobherrington commented on #9065
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-01 22:24] jacobherrington commented on #9066
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-01 22:25] jacobherrington commented on #9067
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-02 04:49] akhil-naidu commented on #8255
Can you guide me, I tried to install in Digital Ocean, AWS, Heroku, and even in my PC and failed. In search of my issue, I somehow landed here.

My problem is exactly the same as you started this issue.

OS: 18.04
Docker: latest

I'm willing to change my environment if required, I want to have an active instance similar to that of dev.to

[2020-07-02 04:57] citizen428 commented on #8849
I have a draft PR open for this but never quite got it working. Let me try again.

[2020-07-02 08:51] #9058 closed

[2020-07-02 08:54] rhymes commented on #6938
@ludwiczakpawel you're right, `archived` is a flag, but it's a property of an article. Series is actually not even an article object in domain terms. That's why I think it'd be weird to have it in the list of articles.

`archived: true` means "load all articles that have `archived` set to true" from https://github.com/thepracticaldev/dev.to/blob/master/app/models/article.rb
`series` means `load al

[2020-07-02 08:59] rhymes commented on #8886
@Veggier I've assigned you the issue, what do you propose?

cc @ludwiczakpawel @lisasy that might have suggestions

[2020-07-02 09:06] rhymes commented on #9065
Hi @Tails128, some are known issues, can you add the others to https://github.com/thepracticaldev/dev.to/issues/4637 ?

I'm going to close this over the previous ticket. Changing them it's going to unfortunately break the API v0.

They'll definitely get fixed in v1.

[2020-07-02 09:06] #9065 closed

[2020-07-02 10:29] ludwiczakpawel commented on #8886
Sorry I don't quite understand the issue... So what we have right now is two buttons "Publish" and "Save as draft". This is  exactly how Wordpress, Reddit, Tumblr, Blogger and few other players handle it - I feel like this is kinda standard. So the primary CTA is to Publish something, and the secondary CTA is to optionally Save draft..

Could you maybe explain me more clearly what the issue was? I

[2020-07-02 10:33] ludwiczakpawel commented on #6938
@rhymes wait wait wait.. what I thought this was about is that we're not going to have an entity (model) for SERIES and therefor this view will not list SERIES. I thought that view was about to display only posts being part of any series...

Are we on the same page?

[2020-07-02 10:42] #8927 closed

[2020-07-02 10:44] rhymes commented on #6938
@ludwiczakpawel I think it's just the list of the series:

It'll be augmented with links to a landing page if we go ahead and implement https://github.com/thepracticaldev/dev.to/issues/2424

That's how I understood this :D

[2020-07-02 11:01] ludwiczakpawel commented on #6938
Ok yea, then that makes more sense I guess :)

[2020-07-02 11:04] rhymes commented on #2424
@AlbertoPdRF please go ahead! :D Do you have a plan?

I'd imagine we need the following parts:

- routes and controllers to access each series
- a index and a show page, the index page lists the user's series(es ahaha) and the show page lists the article's belonging to such page
- a link to the series overview from the single article page
- a UI

I don't think we need edit/update as they'll eventu

[2020-07-02 11:07] Oghenebrume50 commented on #6938
@rhymes yes, I think #2424 would be the landing page for each series being shown, I have direct access to the @AlbertoPdRF so we can work together on making both issues together, @ludwiczakpawel going by the newest development, is #9054 still the way to go? :thinking:

[2020-07-02 12:21] AlbertoPdRF commented on #2424
I don't have a plan yet, but what you said sounds good to me :smiley: Based on that, I'll try to come up with something and then we can discuss it more in depth.

[2020-07-02 12:46] #9066 closed

[2020-07-02 12:58] #8108 closed

[2020-07-02 14:20] nickytonline commented on #9061
Is this something you'd like to tacke @Tails128 ? If so, let us know and we can assign the issue to you.

[2020-07-02 14:59] mikebd opened #9074 "Search highlight test is unreadable in the night theme"
White on yellow does not work well.

![image](https://user-images.githubusercontent.com/112252/86374702-dda2de00-bc52-11ea-91bf-0b15980b1e33.png)

[2020-07-02 15:03] AdekunleA opened #9075 "Feature to enable users and organisations transfer credits to each other"
**Is your feature request related to a problem? Please describe.**

For our use case of DEV's platform, it would be essential for users/organisations to have the ability to transfer credits to each other, as some of the services being rendered require joint payment. Additionally, it would support our marketing strategy of having users sponsor other users onto the platform.

**Describe the solution

[2020-07-02 15:27] rhymes commented on #9074
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-02 15:28] rhymes commented on #9075
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-02 15:29] kellyjandrews opened #9076 "Add XState Viz embed liquid tag"
**Is your feature request related to a problem? Please describe.**

I recently published an article on XState. There is a visualization tool here - https://xstate.js.org/viz
Unfortunately, it requires an iFrame, which is not currently possible.

**Describe the solution you'd like**

I would say adding `{% xstate [ID] %} would solve it.

**Describe alternatives you've considered**

I've looked for

[2020-07-02 15:29] kellyjandrews commented on #9076
I have no problem making a PR for this, and can start right away if it's approved :)

[2020-07-02 15:39] michael-tharrington opened #9077 "Make it so @mention of users doesn't occur in code blocks/snippets"
**Is your feature request related to a problem? Please describe.**

Yes! Occasionally users are writing code that inadvertently @mentions a user.

For example, a user may choose the username "import" which would cause issues for anyone trying to write @import in their CSS code. (Shoutout to @vaidehijoshi for this example!)

**Describe the solution you'd like**

When an author writes @anything in c

[2020-07-02 16:07] rhymes commented on #9076
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-02 16:07] rhymes commented on #9077
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-02 16:08] #9022 closed

[2020-07-02 16:10] kellyjandrews commented on #9076
Thanks @rhymes - I'll claim this once `ready for dev` is applied. Thanks!

[2020-07-02 16:12] Oghenebrume50 commented on #3062
Hi @benhalpern  I would like to work on this, going by this statement, I cannot find the `ClassifiedListing` model in the model folder, however, I see the `listing` model, is this what you were referring to here?

[2020-07-02 16:28] Veggier commented on #8886
I think that we can add a prop out confirmation to check is the user ready want to publish their Post. To avoid the misclick.

[2020-07-02 16:49] rhymes commented on #3062
Hi @Oghenebrume50! It was recently renamed to just `Listing`. They are the same thing :) I'm going to assign you to the feature

[2020-07-02 17:11] benhalpern opened #9079 "Clicking to home page results in extra feed "flash""
Here's the video:

https://streamable.com/m0nfch

**To reproduce:**

- Go to home page
- Click into post
- Click logo to go back to home page

It seems like there is an extra funky render happening most of the time when I do this. Occasionally not.

[2020-07-02 17:14] nickytonline commented on #9074
Did you want to take this issue on @mikebd?

[2020-07-02 19:13] Tails128 commented on #9061
truth be told I would like to tackle it, but I need to clarify something with my current job first, my contract requires written approval even for working on opensource stuff (I will refrain to comment about it...)

[2020-07-02 20:46] #8446 closed

[2020-07-02 22:19] atsmith813 opened #9086 "Finalize UserSubscription liquid tag - create new role and add docs"
To put the bow on the `UserSubscription` liquid tag, we need a few things:
- Document the new liquid tag.
- Create a new role to apply to authorized users of this tag.
- Update the role in code.
- Clear up any remaining "TODOs".

[2020-07-02 22:19] atsmith813 commented on #9086
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-07-02 22:41] vaidehijoshi commented on #6990
Circling back on this now that https://github.com/thepracticaldev/dev.to/issues/7169 is in progress. Splitting out `WelcomeNotification`s and `Announcement`s into polymorphic associations on a `Broadcast` seems like a good first step to help us abstract this out for Forem users (this is already in progress).

Here's what I am imagining so far:

- [ ] We give Forem admin users a "create welcome flo

[2020-07-02 23:24] henryjw opened #9089 "Highlighted search results hard to see in dark mode"
**Describe the bug**

When performing a search, the highlighted text is hard to see in dark mode.

**To Reproduce**

0. Set theme to dark
1. Go to the home page
2. Click on the search bar and perform a search
3. Try to read the highlighted text
**Expected behavior**
I expect to be able to easily read the highlighted text like I can when using the light theme.

**Screenshots**
![highlighting in dar

[2020-07-02 23:36] jacobherrington commented on #9089
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-02 23:40] jacobherrington commented on #9089
I'd love some input from @thepracticaldev/design for color choices here - I definitely think this is an accessibility issue that we should tackle soon.

Anyone looking to make a PR for this might find the `::selection` CSS pseudo-element helpful.

![image](https://user-images.githubusercontent.com/11466782/86417702-6a6d8c00-bc93-11ea-86fb-b1d05577d610.png)
*Lack of iOS Safari support could be an i

[2020-07-03 01:10] JacobMGEvans opened #9092 "Share Link Broken"
**Describe the bug**
When clicking on the share link button, it is attempting to call the dataset prop off a null reference.

Conversation Debugging  w/ @BraveSampson & @benhalpern
https://twitter.com/JacobMGEvans/status/1278855232773148672
https://twitter.com/BraveSampson/status/1278855506409504768
**To Reproduce**
1. Go to an article
2. Click on share link "**...**"
3. Nothing occurs

**Expected

[2020-07-03 01:15] benhalpern commented on #9092
Fixed via #9088

[2020-07-03 01:15] #9092 closed

[2020-07-03 01:18] JacobMGEvans commented on #9092
@benhalpern  Is that fix not deployed yet? I am still seeing the issue on the website.

[2020-07-03 07:38] rhymes commented on #9079
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-03 07:52] rhymes commented on #9089
@jacobherrington as this is a duplicate of the recently opened https://github.com/thepracticaldev/dev.to/issues/9074 - would you mind moving your comment there and closing this one? thanks :)

[2020-07-03 10:39] ludwiczakpawel commented on #8886
Lets not add it just for sake of having this. I'd really like to dig deeper into this problem and understand it better, especially why that was an issue in the first place and what was real cause of it. "Write a post" view is pretty crucial experience for DEV, making any changes there must have a sensible cause. For _publishing_ & _saving as draft_ actions we really are pretty in line with establi

[2020-07-03 10:46] ludwiczakpawel commented on #9089
@jacobherrington just FYI, the `::selection` is for cases when you actually select piece of text with cursor (to copy it for example).. in this issue, highlighted element isn't really a `::selection` - it's just a normal inline HTML element with extra styling.

[2020-07-03 11:17] ludwiczakpawel commented on #2424
I'm happy to jump in and help with UI and frontend whenever the backend part is ready :) Just let me know!

[2020-07-03 11:20] ludwiczakpawel commented on #6938
@Oghenebrume50 yeap, green light. As mentioned in #2424

[2020-07-03 13:04] #9074 closed

[2020-07-03 13:04] #9089 closed

[2020-07-03 13:36] nickytonline commented on #9079
I’ll take a look into this.

[2020-07-03 15:18] creativenull opened #9101 "Whitelist mastodon.online URL"
**Is your feature request related to a problem? Please describe.**

Would it be possible to whitelist [mastodon.online](https://mastodon.online)? According to the about page

So a new server run by the main developers of mastodon.social

**Describe the solution you'd like**

Add it to the whitelist constants in `app/lib/constants.rb`

**Additional context**

I wouldn't mind adding this myself, but

[2020-07-03 15:37] rhymes commented on #9101
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-03 15:37] rhymes commented on #9101
@creativenull sure, go ahead! :-)

[2020-07-03 15:42] creativenull commented on #9101
Alright, I will follow up with a PR 🙂

[2020-07-03 15:47] nickytonline commented on #9101
@creativenull, I've assigned the issue to you.

[2020-07-03 16:52] yg opened #9105 "Following users count is wrong on dashboard"
**Describe the bug**

Following users count is negative, but I follow 19 users
Following tags count is wrong, It shows but I followed  12 tags

**To Reproduce**

I don't know it happens for all!

1. Visit https://dev.to/dashboard
2. See the count

**Screenshots**

![Screenshot](https://user-images.githubusercontent.com/61746440/86487436-b09e1a80-bd7b-11ea-8a04-e34ff9546cf7.png)

**Desktop (please

[2020-07-03 16:56] yg opened #9106 "Pro analytics org link should not appear to non pro users"
**Describe the bug**

Pro analytics page return 404

**To Reproduce**

1. Visit https://dev.to/dashboard/pro/org/{org_id}
2. It will return 404

**Expected behavior**

If it is a pro feature it should redirect to the billing page

**Desktop (please complete the following information):**

- OS: Windows 10
- Browser: Chrome

[2020-07-03 22:52] #9026 closed

[2020-07-03 23:24] creativenull commented on #9101
Merged and I was successfully able to add my mastodon profile to my dev.to profile.

[2020-07-03 23:24] #9101 closed

[2020-07-04 02:52] yg opened #9109 "Show user profile link after updating the profile"
**Describe the solution you'd like**

Show user profile link after updating the profile

Currently, we just show "Your profile was successfully updated"

![Screenshot](https://user-images.githubusercontent.com/61746440/86503813-5038c880-bdcf-11ea-9b78-2ccbcfbc40cb.png)

**Describe alternatives you've considered**

GitHub shows the profile link after updating

![Screenshot](https://user-images.gith

[2020-07-04 02:59] yg opened #9110 "GitHub repos list is loading longer than usual and returns an error"
**Describe the bug**

GitHub repos list is loading longer than usual and returns an error

**To Reproduce**

I'm not sure this happens to all

Make sure your dev.to account is connected with GitHub
Go to https://dev.to/settings/integrations
See the error

**Screenshots**

![Screenshot](https://user-images.githubusercontent.com/61746440/86503923-61360980-bdd0-11ea-82a5-5c9b91ae66bd.png)

https://ww

[2020-07-04 03:23] yg opened #9111 "Skeleton placeholder loading not working in all pages"
**Describe the bug**

Skeleton placeholder loading not working in all pages, It directly displays the post without loading but with huge empty space

**To Reproduce**

1. Open dev.to
2. Click View by Feed, Week, Month, Year, Infinity and Latest
3. The skeleton loading will not work on some of these filters

**Screenshots**

https://www.loom.com/share/0279553944bc4f628ce8079e53c1ccb9

**Desktop (pl

[2020-07-04 08:41] beeman commented on #3669
@cyrillefr did you end up working on this?

I'm happy to start working on this as I'd really like the API to return info about the Series.

[2020-07-04 12:53] rhymes commented on #9109
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-04 12:55] rhymes commented on #9110
Yeah, unfortunately this has been a long standing and known issue. I'm going to close it in favor of https://github.com/thepracticaldev/dev.to/issues/8904

[2020-07-04 12:55] #9110 closed

[2020-07-04 12:56] rhymes commented on #9111
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-04 14:26] negue opened #9114 "No notification for a direct message"
**Describe the bug**

While chatting with people by direct messages, I don't receive any email (which is listed only for inactive, I don't know what the period of that is) and also no badge at the chat icon (in header) , do these maybe work only together?

For example even on a full refresh I dont get any badge there, but when I open the messages, there is a new message that I didn't know I receiv

[2020-07-04 15:22] takmar commented on #8789
Hi there. Can I take this? I would like to help.

[2020-07-04 17:26] ioana-chiorean opened #9115 "Cover Image for an article not responsive"
**Describe the bug**

The cover image is unreadable in <some> smaller resolutions.

**To Reproduce**
1) Set your resolution to a smaller one * either use devtools or just make your browser window smaller - i use to like this to have a split screen
2) Go to: https://dev.to/lakatos88/new-personal-site-who-this-55f1
3) Check the cover image

**Expected behavior**
- the image should be clear/mapped.

[2020-07-04 19:53] kbariotis opened #9116 "Can't create a listing / tags validation fails"
**Describe the bug**

It seems like I can't create a listing due to the tag validation failing. If I leave tags blank and then try to edit, it then allows me to.

**To Reproduce**

1. Go to "Home page"
2. Click on "Create new listing"
3. Try to add a tag
4. See validation error

**Expected behavior**

To be able to create a listing with tags.

**Screenshots**

![image](https://user-images.githubus

[2020-07-04 19:56] kbariotis opened #9117 "Remove or pause listing"
**Is your feature request related to a problem? Please describe.**

As a listing is primarily made for promotion, I think it would be valuable to be able to remove or pause a listing to limit that promotion.

**Describe the solution you'd like**

Remove or pause a listing at will. Resume at any time.

**Describe alternatives you've considered**

Expiry date works great if you know the duration you

[2020-07-04 20:11] nickytonline commented on #8789
I've assigned the issue to you @takmar.

[2020-07-04 21:19] nickytonline commented on #9115
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-04 21:23] nickytonline commented on #9115
Hmm, not sure what's up. This is what I see for smaller resolutions

![image](https://user-images.githubusercontent.com/833231/86521131-c0b90700-be1a-11ea-8485-8b5d9c7b29f6.png)

![image](https://user-images.githubusercontent.com/833231/86521147-f5c55980-be1a-11ea-93a5-7bc361d1819c.png)

![image](https://user-images.githubusercontent.com/833231/86521075-05906e00-be1a-11ea-893d-6f1d1c730502.png)

!

[2020-07-05 00:08] icncsx opened #9118 "Support webp format for image upload"
### Issue

webp is a popular image format originally developed by Google. I get an "Image has an unsupported type" error when I try to upload a webp image.

Is this something we can possibly support?

[2020-07-05 00:43] Redweiweb opened #9119 "Installation error curl http://localhost:3000"
Ubuntu 18.04 LTS

I tried two methods to install, always the last step error, I do not know where the error is?

1， Installation error  (Installing DEV on Linux):

== Removing old logs and tempfiles ==

== Restarting application server ==
webtest@dream:~/dev.to$ curl http://localhost:3000
curl: (7) Failed to connect to localhost port 3000: Connection refused

Run bin/setup No error

--------------

[2020-07-05 03:33] jeremyBanks commented on #6914
Ditto.

[2020-07-05 06:52] waynevanson opened #9121 "Automatically save drafts in comment responses"
**Is your feature request related to a problem? Please describe.**

I might write a lengthy response on a comment in a post.
If i accidentally press back on my phone or in the browser, the response  i was writing is now gone.
I would now have to rewrite this.

**Describe the solution you'd like**

I feel like storing the values on the user's client in localStorage would be sufficient.

**Describe

[2020-07-05 08:21] rhymes commented on #9106
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-05 08:21] rhymes commented on #9106
@yg there's current no "billing page" to activate pro analytics so I believe 404 is the correct answer. How did you land up there?

[2020-07-05 08:24] rhymes commented on #7965
I wonder if the issue is data (missing the updated field as @ItsASine hinted at) or the ordering algorithm that's borked.

cc @mstruve

[2020-07-05 08:32] rhymes commented on #9114
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-05 08:32] rhymes commented on #9114
Hi @negue, could you fill in the details about your browser and operating system? Especially your browser. Do you notice any issues in the developer console?

Thank you!

[2020-07-05 08:36] rhymes commented on #9117
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-05 08:40] rhymes commented on #9118
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-05 08:43] rhymes commented on #9119
@Redweiweb I think you're missing the `bin/startup` step, see https://docs.dev.to/getting-started/start-app/

[2020-07-05 08:45] rhymes commented on #9121
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-05 08:59] thomasbnt opened #9123 "Can't get github_repos integration"
**Describe the bug**
Hello, https://dev.to/github_repos is very slow and answer me with an error for integrations settings.

**To Reproduce**

1. Go to [settings](https://dev.to/settings/integrations
2. Wait...
3. Nothing is coming
4. See error

**Expected behavior**
Get this contenu fastly without errors.

**Screenshots**

**Desktop (please complete the following information):**

- OS: All
- Brow

[2020-07-05 09:36] rhymes commented on #9123
Hi @thomasbnt, thanks for the report. Closing this in favor of https://github.com/thepracticaldev/dev.to/issues/8904

[2020-07-05 09:36] #9123 closed

[2020-07-05 09:37] thomasbnt commented on #9123
Oh.. I'm sorry 😵

[2020-07-05 09:42] rhymes commented on #9116
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-05 11:58] yg commented on #9106
@rhymes I got this on the dashboard!

![Screenshot](https://user-images.githubusercontent.com/61746440/86532104-dd217600-bee4-11ea-979d-a259c89702d5.png)

[2020-07-05 12:03] deepanshu1422 opened #9143 "I'm unable to write post even after 2 months on dev.to"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-07-05 12:03] deepanshu1422 commented on #9143
No

[2020-07-05 12:29] negue commented on #9114
Updated the Browsers, but for the developer console, no issues / errors listed :(

[2020-07-05 13:03] mstruve commented on #7965
Reading list is [ordered by reaction ID](https://github.com/thepracticaldev/dev.to/blob/master/app/services/search/query_builders/reaction.rb#L24) so if you react to a 2018 article now it will appear at the top of your list. If we want to add a feature to allow sorting by other attributes for reactions then I think that would solve this issue.

[2020-07-05 13:25] rhymes commented on #9106
Oh got it!

I see where the bug is, you shouldn't have that link!

[2020-07-05 13:46] rhymes commented on #9143
Hello @deepanshu1422, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-07-05 13:46] #9143 closed

[2020-07-05 13:46] rhymes commented on #9114
@negue does this happen also on your desktop browsers? trying to understand if it's related to your user or the device

[2020-07-05 15:17] Rafi993 commented on #9116
Hi there, If this issue is not taken I would like to help.

[2020-07-05 15:19] rhymes commented on #9116
@Rafi993 go ahead! thanks!

[2020-07-05 15:20] Rafi993 commented on #9116
Thank you @rhymes

[2020-07-05 15:38] negue commented on #9114
Every browser , every device, I had like once or twice a badge at the chat icon, all other times there was no badge.

Today again, I just open dev.to , no badge / notification (by mail) availabe, when I opened direct message, I had 2 new messages.

[2020-07-05 19:51] #8788 closed

[2020-07-05 20:03] nickytonline commented on #3777
All remaining lint issues in the frontend have been fixed. Now you will not be able to pass a build if you commit lint errors thanks to #9100 .

[2020-07-05 20:03] #3777 closed

[2020-07-05 20:55] negue commented on #9114
Just happened, on my phone, I received a badge on the chat icon when I pulled to refresh.

So I guess just opening and going through articles wont trigger an "is there a new message"-api call ?

[2020-07-05 22:17] #9106 closed

[2020-07-06 02:35] akhil-naidu commented on #8849
For now, you can manually change the version in package.json file.

I'm not an expert to know the crux of what it actually does, but it gave me an active instance I'm my case.

[2020-07-06 03:07] nickytonline commented on #9116
Just to give a little more info on this. The `pattern` attribute on the input is wrong which is why it fails. It should accept a comma (maybe even whitespace that gets removed on blur or on keyup it just doesn't let a space) in between tags. To make it friendlier, consider taking off the trailing comma if there is one.

So valid use cases:

- someAlphanumericTag1, someAlphanumericTag2, someAlphanu

[2020-07-06 03:59] akhil-naidu opened #9147 "How to get rid of "InvalidAuthenticityToken""
I am new to any opensource projects and also to ruby on rails,

But, somehow, I was able to launch an instance using a container guide, provided in docs.

Platform: Vultr.com
Ram: 4GB
OS: Ubuntu 20.04

Only changes I did to the forked repository is adding GITHUB_KEY and GITHUB_SECRET

When I am facing this error:

For some reason, I was not able to create a post or write a post  => if any suggesti

[2020-07-06 04:24] CDDelta commented on #9147
Lucky for you Ben Halpern just made a post on this: https://dev.to/ben/actioncontroller-invalidauthenticitytoken-what-s-going-on-here-2828

[2020-07-06 04:33] akhil-naidu commented on #9147
@CDDelta  Thanks for the mentioning about that blog

[2020-07-06 05:31] subodhk01 commented on #9115
@ioana-chiorean Sorry I'm also unable to reproduce the issue.

[2020-07-06 05:37] subodhk01 commented on #9118
@icncsx Can you describe where exactly you are trying to upload the image?

[2020-07-06 07:31] akhil-naidu opened #9154 "Documentation for Production"
I would like to have my own production environment, and at least write one post in it.

### Why I am eager to have a production instance?

1. I have a working development instance.
2. I don't know rails to check in between the code.
3. I like dev.to, it is a good looking platform.
4. It will motivate me to invest more time on dev opensource to replace my ghost blog -(It cost me a lot, 79$ per mont

[2020-07-06 07:42] rhymes commented on #9147
@akhil-naidu is your issue solved? Let us know.

[2020-07-06 07:43] rhymes commented on #9118
@subodhk01 I guess the article uploader or the comment uploader, neither supports webp in input.

[2020-07-06 07:44] akhil-naidu commented on #9147
@rhymes No, I'm still working on it, the error is persisting again and again.

[2020-07-06 07:44] rhymes commented on #9154
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-06 08:13] rhymes commented on #9147
@akhil-naidu have you configured `SECRET_KEY_BASE`? Can you add a bit more context as to what it happening? Is it locally? on a production environment?

[2020-07-06 08:28] akhil-naidu commented on #9147
@rhymes I added my SECRET_KEY_BASE in **dev.to/config/application.yml**, which was generated using `docker-compose run web rack secret`

It is not local and it is hosted on a VM, I am not sure what production actually means now. Can I say an active deployment in a VM as Production?
Right Now, I am assuming production as VM + SECRET_KEY_BASE + the Last 3 variables in ENVfile.

[2020-07-06 08:36] rhymes commented on #9147
I think production means running with the `RAILS_ENV` set to `production` but I'm pinging @jdoss as I'm unfamiliar with our docker setup.

Thanks for the details!

[2020-07-06 08:50] akhil-naidu commented on #9147
I forgot to mention this!

Actually, I changed the RAILS_ENV variable in 7 placements in a single file, as it is mentioned 7 times in a single file. I changed it from `RAILS_ENV: development` to `RAILS_ENV: production` in **dev.to/container-compose.yml**

[2020-07-06 10:20] rhymes commented on #7965
This is the feature request to add custom sorting https://github.com/thepracticaldev/dev.to/issues/7532

[2020-07-06 10:22] AlbertoMontalesi opened #9157 "Cannot create a community listing, tags throw error"
As per image, i'm getting error when creating a listing. What's wrong with the tags?

![image](https://user-images.githubusercontent.com/23130353/86583266-2dfca180-bfad-11ea-8f32-6d49e993cd00.png)

[2020-07-06 10:43] nickytonline commented on #9157
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-06 10:46] nickytonline commented on #9157
@AlbertoMontalesi, this has already been reported in #9116.

[2020-07-06 10:46] #9157 closed

[2020-07-06 12:05] candidroot opened #9158 "Issue While Write a New Post"
**Describe the bug**

When I tried to Write a Post, It is showing error like this, Please find attached Screenshot.

**To Reproduce**

 Go to https://dev.to/
 Click on Write a post

**Expected behavior**

Ooooops...
You have encountered an error.

**Screenshots**

Please find attached Screenshot.

![screenshot-dev to-2020 07 06-17_28_02](https://user-images.githubusercontent.com/39722234/86591243-

[2020-07-06 12:23] rhymes commented on #9158
Hello @candidroot, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-07-06 12:23] #9158 closed

[2020-07-06 13:08] mstruve commented on #7965
Closing since this is expected behavior and we already have a feature to update it to something better and more flexible

[2020-07-06 13:08] #7965 closed

[2020-07-06 13:17] #9024 closed

[2020-07-06 13:18] akhil-naidu opened #9160 "[New Instance] can't create a post or write article"
I have a working instance but I was not able to create or write a post.

Url of working instance: http://dev.leewardslope.com/
you can log in with  Github or Twitter, but unable to create an article.

I am not sure what is happening with my instance, I am ready to provide any information if someone can guide me to make a working instance.

[2020-07-06 13:26] #9023 closed

[2020-07-06 14:38] wayofthepie opened #9163 "Dark theme code blocks have highlights"
**Describe the bug**
A recent change has caused dark theme (Night theme) to have highlights in code blocks. I had a look and could not find an issue that was raised for this already, but I may have missed it!

**To Reproduce**
Create a code block and view in Night theme.

**Expected behavior**
Code blocks do not have highlights on code.

**Screenshots**
![image](https://user-images.githubuserconte

[2020-07-06 14:44] wayofthepie opened #9164 "Footnote and content hidden under topbar, regression of #7760?"
#7760 is still an issue. I pinged there when it was closed a few days ago but it seems that comment was missed :smile: not sure what the process for flagging stuff like this is, so raising a new issue. Thanks!

[2020-07-06 15:42] jacobherrington commented on #9164
I've reopened that issue!

[2020-07-06 15:42] #9164 closed

[2020-07-06 15:58] rhymes commented on #9163
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-06 15:59] cfjedimaster opened #9165 "Editing seems completely broken now."
**Describe the bug**
I went to my dashboard, clicked to edit an article, and got this:

![image](https://user-images.githubusercontent.com/393660/86613770-a7799d00-bf77-11ea-87f6-16d139f7d5b2.png)

This is an existing post with content, but only the top two lines are shown. If I use my keyboard and click down a few times, I can "scroll" in that area, but only two lines are shown.

- OS: Windows
-

[2020-07-06 16:06] rhymes commented on #9163
Hi @wayofthepie, weird because I can't reproduce it. I tried both with Ruby and JavaScript and both with the night and the ten X themes:

![Screenshot_2020-07-06 test code block - DEV(local) Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/86614468-5a1b2100-bfb3-11ea-9fec-2289d0e8f4f2.png)

![Screenshot_2020-07-06 test code block - DEV(local) Community 👩‍💻👨‍💻(1)](https://user-ima

[2020-07-06 16:11] rhymes commented on #9165
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-06 16:11] rhymes commented on #9165
Hi @cfjedimaster, do you have any errors in the developer tools's console?

[2020-07-06 16:19] wayofthepie commented on #9163
Hmm that is weird! Yip this one https://dev.to/yahaya_hk/handling-asynchronous-operations-in-javascript-1fp2 does it for me. Screen from just now:
![image](https://user-images.githubusercontent.com/1102174/86615557-7ff0f780-bfac-11ea-9d33-37fbe73a1841.png)

[2020-07-06 16:24] rhymes commented on #9163
It's weird indeed. I don't see it:

![Screenshot_2020-07-06 Handling Asynchronous Operations in Javascript - DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/86616265-e29ac100-bfb5-11ea-83a8-754fbdcefa1d.png)

It's like it autoselects code blocks 🕵️

[2020-07-06 16:26] rhymes commented on #8790
Closing this in favor of https://github.com/thepracticaldev/dev.to/issues/8790

[2020-07-06 16:26] #8790 closed

[2020-07-06 16:29] wayofthepie commented on #9163
It seems to be this css inherited from the root:

[code]
![image](https://user-images.githubusercontent.com/1102174/86616756-3acdc500-bfae-11ea-8062-12d7eaa302ef.png)

Disabling that it goes away. Not sure where that comes from yet though.

[2020-07-06 16:33] wayofthepie commented on #9164
Great thanks!

[2020-07-06 16:35] nickytonline commented on #9165
Also, is this on the old Edge or the new Edge (Chromium) @cfjedimaster ?

[2020-07-06 16:37] rhymes commented on #9165
@nickytonline it's the new one, Edge pre Chromium goes up til 44. Edge Chromium follows Blink's numbers and it's currently at 83

[2020-07-06 16:40] jacobherrington commented on #9116
@nickytonline This is an interesting difference between the behavior on listings and articles. I'm guessing this was introduced in https://github.com/thepracticaldev/dev.to/pull/9006/files, which didn't have this issue in adding tags to articles, but does break listings.

[2020-07-06 16:43] cfjedimaster commented on #9165
It seems better. I noticed the list of articles looked a bit weird. Now when I reload on the list it looks back to normal. (I didn't think it was a bug, just oddly designed. ;) As for editing an article, it seems perfect now. I'm at work on a VPN and it's possible it was just a network snafu. I did reload a few times before I filed the report though. :)

[2020-07-06 16:56] nickytonline commented on #9165
@cfjedimaster, it could be a server side caching issue . We cache partial HTML and in some cases, the cache might be referencing old JS files which are cached in the browser causing weird behaviour. Only until that part of the cache is invalidated does the new *.js file get pulled down. That’s my hunch. Thoughts @rhymes ?

[2020-07-06 17:05] nickytonline commented on #9163
cc: @ludwiczakpawel

[2020-07-06 17:20] wayofthepie commented on #9163
Just checked, also an issue on the app.

![Screenshot_20200706-181815](https://user-images.githubusercontent.com/1102174/86620945-348f1700-bfb5-11ea-9bef-3a95554739ff.jpg)

[2020-07-06 17:32] icncsx commented on #9118
@rhymes you got it!

[2020-07-06 17:35] yozlet commented on #1299
(Caveat: I'm an interested beginner to the codebase, but I have Rails experience)

Looking at @sublimemarch's suggested design, I feel like the hardest part is the approval/consent flow. Here's an attempt at a design that might not be too hard:

1. Primary author drafts article, adds a `coauthor: USER1 USER2` frontmatter line and saves it
2. Primary author shares the article URL with co-authors
3.

[2020-07-06 17:36] nickytonline commented on #9118
The article image uploaders support it on the frontend. It's the backend that can't process it. See the `accept="image/*"` attribute.

![image](https://user-images.githubusercontent.com/833231/86622240-920f6d80-bf8d-11ea-956f-c5b3a3714b6f.png)

![image](https://user-images.githubusercontent.com/833231/86622283-a6ec0100-bf8d-11ea-9f34-6a85e0a25073.png)

[2020-07-06 17:41] PrimeNoodles commented on #8897
Hello, I would like to begin working on this issue

[2020-07-06 18:06] liviulupei opened #9167 "Article does not show up in tag feeds"
Hi, I created a new account and published an article today:

https://dev.to/liviufromendtest/computer-vision-is-so-fun-4do7

It currently has 1954 views.

But the article does not show up in the feed when looking at the tags:
https://dev.to/t/python
https://dev.to/t/testing
https://dev.to/t/tutorial

Is my article being censored or hidden?

[2020-07-06 18:12] thomasbnt opened #9168 "[Listing] Bug with tags when we create a new listing"
**Describe the bug**

**To Reproduce**

1. Go to [new listing](https://dev.to/listings/new)
2. Fill title, description and add one or more tag(s)
3. Scroll down and click to save draft
4. See error

**Expected behavior**
No errors.

**Screenshots**
![image](https://user-images.githubusercontent.com/14293805/86625104-cf432200-bfc4-11ea-92d7-c067cf6c5896.png)

**Desktop :**

- OS: Manjaro
- Browser:

[2020-07-06 18:37] jacobherrington commented on #9168
Hey @thomasbnt this is a duplicate issue, we've got another instance of the same bug: https://github.com/thepracticaldev/dev.to/issues/9116

You can add context there if you'd like! Thanks!

[2020-07-06 18:37] #9168 closed

[2020-07-06 18:46] thomasbnt commented on #9168
Oooops again.. :c

*I really have to check the open ones before I open a new one like a savage.*

[2020-07-06 18:47] jacobherrington commented on #9160
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-06 18:51] jacobherrington commented on #9167
Hey @liviulupei, I don't think this post has been censored in any way, but we've got the email you sent to yo@dev.to, so we'll follow-up with you there rather than in this issue.

Thanks!

[2020-07-06 18:51] #9167 closed

[2020-07-06 19:10] PrimeNoodles commented on #8898
Hello I would like to work on this issue

[2020-07-06 19:16] bnb commented on #2365
still interested in this :)

[2020-07-06 19:34] nickytonline commented on #2365
@ludwiczakpawel @lisasy, I'm guessing we don't really need any design for this for at least the form submission, but in regards to where it displays in the profile, I imagine both of you would like to provide feedback on that.

For example, here is my profile. I've added my pronouns as part of my name field, but this is what it currently looks like.

![image](https://user-images.githubusercontent.

[2020-07-06 20:10] bnb commented on #2365
this would be my preferred implementation, in the sidebar:
![image](https://user-images.githubusercontent.com/502396/86637191-29cb8680-bfa3-11ea-8eb8-e636167cf869.png)

[2020-07-06 20:24] nickytonline commented on #2365
Yeah, it definitely looks really good on the right.🔥

[2020-07-06 20:35] lisasy commented on #2365
Love this!

On Mon, Jul 6, 2020 at 1:24 PM Nick Taylor <notifications@github.com> wrote:

--
*Lisa Sy*
Lead Product Designer at DEV
Pronouns: *she/her*

[2020-07-06 21:31] ludwiczakpawel commented on #9163
Good catch - yea it's a bug with hopefully easy fix. I'll take care of it tomorrow. :)

[2020-07-06 21:33] ludwiczakpawel commented on #2365
@bnb @nickytonline I personally prefer the direction in @bnb mockup :)

[2020-07-06 21:41] michael-tharrington commented on #3363
Ahh @simskij — I'm so sorry for missing your @mention here. I came back to this issue as there's another org admin who ran into some difficulties this feature would solve. I'll flag this one to the team again as I think this is an excellent idea!

[2020-07-06 22:22] nickytonline commented on #2365
Yeah, mine wasn’t really a mock-up. 😜 That’s what my actual profile looks like all the time. It’ll be nice to have it on the right.

[2020-07-07 01:39] lisasy commented on #8898
@PrimeNoodles hey there! when it comes to these color mods, they belong to our larger design system, and it's modifiable only by the DEV internal staff. however, we always welcome feedback :) thanks!

[2020-07-07 01:40] lisasy commented on #8897
@PrimeNoodles hey there! when it comes to these color mods, they belong to our larger design system, and it's modifiable only by the DEV internal staff. however, we always welcome feedback :) thanks!

[2020-07-07 02:06] PrimeNoodles commented on #8898
oh okay, I see, I was just going to reduce the overall visuals by 10% for each color but feel free to work on it

[2020-07-07 03:01] muhdmirzamz opened #9173 "The syntax for markdown links displayed in the "Write a Post" page is incorrect"
**Description**

When you enter the "Write a Post" page, the syntax for Markdown links is incorrect in the "Editor Basics" section.

**To Reproduce**

1. Go to [https://dev.to](https://dev.to)
2. Click on "Write a post"
3. Click on the body text area to activate the "Editor Basics" section
4. Click on the "commonly used syntax"
5. See error

**Expected behavior**

1. Go to [https://dev.to](https:/

[2020-07-07 03:15] Rafi993 commented on #9116
I think it removes the regex but I think it will remove all validations in the input itself.

[2020-07-07 06:47] philnash commented on #3363
I was just coming by to check on this and see there's been a bit of an update, which is good news!

I'd love to try to work on this, but I feel like getting a direction from the team as to how they would like this solved would be the best place to start. Also, it's been a while since I dug into the source code :D

[2020-07-07 07:34] rhymes commented on #9173
I think this will be fixed by https://github.com/thepracticaldev/dev.to/pull/9176

[2020-07-07 07:54] #9163 closed

[2020-07-07 07:54] #9173 closed

[2020-07-07 08:21] Redweiweb commented on #9119
This issue has been resolved:

bin/startup   //I forgot this

curl http://localhost:3000

Thanks for help!

[2020-07-07 08:21] #9119 closed

[2020-07-07 08:41] AnnieTaylorCHEN commented on #9034
I landed myself here after a few frustrating infinite scroll because I want to reach footer but never managed.... maybe I'm old-fashioned but I don't like infinite scroll. I want to take control of my time and what I choose to see. I prefer "load more" button always, and perhaps a progress bar indicating how many are loaded already and how many left. Of course I understand it is impossible if you

[2020-07-07 08:45] AnnieTaylorCHEN opened #9179 "Editor Basics > Commonly used syntax"
Currently:

[Link][https://...]      Link

it should be:

[Link]**(https://...)**     Link

[2020-07-07 08:50] ludwiczakpawel commented on #9034
@AnnieTaylorCHEN yeap, that's pretty much the approach we want to take (see other comments in this issue) 👍

[2020-07-07 09:07] rhymes commented on #9179
Hi @AnnieTaylorCHEN, thanks for the report, this has been just solved by https://github.com/thepracticaldev/dev.to/pull/9176

It'll be online in the afternoon (UTC time)

[2020-07-07 09:07] #9179 closed

[2020-07-07 10:07] AlbertoPdRF commented on #2424
I have a few questions/issues/comments:

1. Right now, collections are created with only the slug (which is actually more like a title, more on this on point 2) and the user. I think that it would be very useful for this feature to fill more attributes on creation, which could be inherited from the first article of the collection until a way to directly create and/or edit collections exists. What

[2020-07-07 12:15] rhymes commented on #2424
Hi @AlbertoPdRF!

1. I think we should add attributes as needed, unless we come up with attributes we actually need now I think we should postpone this
2. we could use [parameterize](https://api.rubyonrails.org/classes/String.html#method-i-parameterize) to create a slug:

[code]

this way the path could be something like `/series/rhymes/a-series` I think

3. can you share some code? Or a draft PR?

[2020-07-07 13:08] #8434 closed

[2020-07-07 15:13] michael-tharrington opened #9183 "Give admins ability to remove users from Connect chat channels"
**Is your feature request related to a problem? Please describe.**

Yes, occasionally users may need to be removed from Connect chat channels for various reasons and it'd be nice to have the ability to do so from https://dev.to/internal/chat_channels.

**Describe the solution you'd like**

From here - https://dev.to/internal/chat_channels, admins should have the ability to remove users from Connec

[2020-07-07 15:16] jacobherrington commented on #9183
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-07 15:22] michael-tharrington opened #9184 "Users can't login b/c of error: "Validation failed: Employer url is not a valid URL""
**Describe the bug**

A few users have written in because they can't log onto DEV and are receiving the error message:

"Something went wrong: Log in error: Validation failed: Employer url is not a valid URL
Please try again below, or contact yo@dev.to if this persists."

This appears to happen when there's a typo in the user's website URL.

**To Reproduce**

I'm unsure exactly how to reproduce th

[2020-07-07 15:43] AlbertoPdRF commented on #2424
Thanks for the clarifications, @rhymes!

1. Gotcha!
2. I didn't know that method, it's neat!
3. It was a mistake on my side 😅
4. Perfect!

[2020-07-07 15:44] Mattia2204 opened #9185 "I can't publish any post"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-07-07 15:51] GarethTF opened #9186 "Image breaks out of container on default theme"
**Describe the bug**

Certain Images break out of the container when viewing on the default theme.

**To Reproduce**

Go to https://dev.to/myogeshchavan97/build-an-amazing-job-search-app-using-react-42p

**Expected behavior**

Image to be constrained in the container

**Screenshots**

![devto](https://user-images.githubusercontent.com/56965213/86807433-c78d8700-c071-11ea-823f-e0812e6bec0e.jpg)

**

[2020-07-07 15:53] lisasy opened #9187 "[Onboarding] Update topic cards to match what's now live on `/tags`"

[2020-07-07 16:13] rhymes commented on #9185
Hello @Mattia2204, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-07-07 16:13] #9185 closed

[2020-07-07 16:28] vaidehijoshi commented on #6914
I think I finally have some bandwidth to investigate this bug, so I'll spend some time this week trying to dig into it! :)

[2020-07-07 19:13] alexandrudanpop opened #9189 "Some images overflow ouside the article body"
**Describe the bug**
Some images overflow ouside the article body - they don't seem to fit.

**To Reproduce**
1. Go to this article and scroll a little bit down: https://dev.to/alexandrshy/creating-a-template-repository-in-github-1d05

**Expected behavior**
Image fits nice.

**Screenshots**
Ex 1: Chrome on mobile phone:
![image](https://user-images.githubusercontent.com/15979292/86830376-4a2c3b80-

[2020-07-07 20:36] benhalpern commented on #9189
Looks like this was an issue with some cached css being out of sync with cached html.

I cleared some caches and it seems to have fixed it.

[2020-07-07 21:08] Zhao-Andy commented on #9186
Thanks for reporting this issue! I think it's the same cause as #9189. Since that issue has some traction going already, we'll keep that issue open and close this one.

[2020-07-07 21:08] #9186 closed

[2020-07-07 22:43] benhalpern commented on #9079
@nickytonline any learnings on this?

[2020-07-07 23:00] benhalpern commented on #5434
This seems fixable! If the issue is that `cachedResponse` is `undefined` then we can guard statement this area or even do `(cachedResponse || {}) =>` or something like that. `{}['version']` will in fact not equal `json['version']`.

[2020-07-07 23:07] vaidehijoshi opened #9193 "Basic markdown editor removes cover_image"
**Describe the bug**

When creating an article in the v1 basic markdown editor, you can add an optional `cover_image` and save the article (without necessarily publishing it). However, if you return to that same article at a later date and view it in the editor, the `cover_image` seems to be overwritten/disappears.

**To Reproduce**

1. Ensure you're using the v1 markdown editor and create an arti

[2020-07-07 23:57] nickytonline commented on #9079
I wasn’t able to reproduce this behaviour. Even showing my connection down with the dev tools, I was still unable to reproduce this, even in Firefox. I  tried about a dozen times and no issue, not even once. I’m guessing you’re still experiencing the issue?

[2020-07-07 23:59] nickytonline commented on #9079
There is another issue talking about loading states for the feed not showing up sometimes and I wonder if it’s related. I’ll dig into this tomorrow.

[2020-07-08 00:14] dante-calderon opened #9194 "Base Reading Font not working for some options."
**Describe the bug**

Fonts `serif` and `open dyslexic` for **Basic Reading Font** configuration not working.

**To Reproduce**

1.- Go to [UX Setting](https://dev.to/settings/ux)
2.- In  **Basic Reading Font** section and select  `serif` or `open dyslexic` option.
3.- Reload the page and go to one post.
4.- The selected font is not applied.

**Expected behavior**

Should use the selected font.

*

[2020-07-08 03:08] brainkim commented on #5434
Maybe a lil bit of TypeScript might catch bugs like this as well? 😉

[2020-07-08 03:27] akhil-naidu opened #9195 "Continue Button on "Onboarding Welcome Message" is not working"
**Issue**: Continue button on "onboarding welcome message" is not working

**Platform**: Gitpod
**Oauth**: Github

Did I miss configuring something?

---

### Case 01

**OS**: CentOS 7.7
**Platform**: Hyper V, Virtual machine (local)

[2020-07-08 03:53] icncsx opened #9196 "space between flex-wrapped rows in article subheader"
**Describe the bug**

At certain viewport widths, the flex-wrap kicks in and the edit and manage buttons get pushed down to another line. I think we should have some breathing room between the two rows to maintain vertical symmetry with the tags.

![Screenshot from 2020-07-07 23-42-57](https://user-images.githubusercontent.com/60417145/86873574-8e263d00-c0ac-11ea-9799-624d5b9cbb4b.png)

To replica

[2020-07-08 07:14] alexandrudanpop commented on #9189
checked it again and it seems to work ok now. thank you!

[2020-07-08 07:35] #9189 closed

[2020-07-08 08:28] Ridhwana commented on #9194
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-08 09:37] Ridhwana commented on #9195
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-08 09:39] Ridhwana commented on #9195
Hi @akhil-naidu, thank you for this issue. Can you please elaborate or provide a gif/screenshot? Is the `Continue` button not showing up completely, or is it when you tick the terms and conditions and code of conduct, is the button still disabled?

[2020-07-08 09:41] Ridhwana commented on #9196
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-08 10:01] akhil-naidu commented on #9195
I can see, but the button is disabled.
My instance link: https://3000-e59e57f8-6366-4e22-896a-41477593bf93.ws-us02.gitpod.io
You can log in through your GitHub, to see it for yourself

Also, here are some logs in my running console, which can give you more idea.
This is a log when I click on the continue button.

![Screenshot 2020-07-08 at 3 27 28 PM](https://user-images.githubusercontent.com/1168

[2020-07-08 10:46] Mattia2204 opened #9198 "I can't write my posts"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-07-08 10:58] rhymes commented on #9198
Hi @Mattia2204, please contact yo@dev.to as mentioned here yesterday: https://github.com/thepracticaldev/dev.to/issues/9185

Thank you!

[2020-07-08 10:58] #9198 closed

[2020-07-08 11:09] ioana-chiorean opened #9199 "Automatically add enviroment details at bug reports (feature request for github reporting)"
**Is your feature request related to a problem? Please describe.**
While logging bugs, there is a request for environment details ( os, browser etc) which can be populated by default with the user agent ones. I do understand some people will manipulate for testing purposes that data but they will be able to correct it if needed.

**Describe the solution you'd like**
Auto import of this details wil

[2020-07-08 11:18] rhymes commented on #9199
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-08 11:20] rhymes commented on #9199
Great idea @ioana-chiorean, but is it technically feasible? A few things:

1. The reporting browser might not be the one they encountered the bug with
1. I don't think people want their full user agent to be automatically filled in
1. Does GitHub even support this?

[2020-07-08 11:30] shibim opened #9200 "Bug"
I have an account Dev community. but my account has been blocked. What is the reason?.
May know the reason?. Could you please unblock my account

[2020-07-08 11:33] ioana-chiorean commented on #9199
Hey @rhymes we are using something similar here https://webcompat.com/issues/new
<img width="1095" alt="Screen Shot 2020-07-08 at 14 26 58" src="https://user-images.githubusercontent.com/1391451/86913373-3d9ff580-c127-11ea-8a35-42967d4ce55e.png">

Source code (it is open source too)
https://github.com/webcompat/webcompat.com/blob/fbaba42888d046e109008a56a18c41f7ba5f90a4/webcompat/form.py
they do c

[2020-07-08 11:35] rhymes commented on #9200
Hello @shibim, thanks for notifying us of this problem.

Please email yo@dev.to for more help.

[2020-07-08 11:35] #9200 closed

[2020-07-08 11:35] ioana-chiorean commented on #9115
Oh snap. Thanks for checking @nickytonline and @subodhk01 - maybe was something my browser profile messed up (i did try with a cleaner profile but who knows)

[2020-07-08 11:35] #9115 closed

[2020-07-08 11:38] rhymes commented on #9199
@ioana-chiorean I'm still not sure how this can fit in the [pull request template](https://docs.github.com/en/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository) workflow in GitHub though :-(

[2020-07-08 12:31] #8169 closed

[2020-07-08 14:31] joshpuetz commented on #9195
Hey @akhil-naidu, sorry this is happening to you! We have a number of open issues with Gitpod right now. I'm curious: are you running a workspace based on master? If not, can you try making sure you are caught up to at least this PR: https://github.com/thepracticaldev/dev.to/pull/8747 (it fixed an issue on Gitpod with allowing local requests).

[2020-07-08 16:13] Emaah opened #9206 "Heroku deploy; NoMethodError: undefined method `+' for nil:NilClass"
***Hello Dev Community***,

I decided to install the Dev project on my computer locally for learning the stacks and manipulating it. But installation was not successful (many errors) and also on gitpod it did not work truly for me.

I tried a more real scenario, Heroku. Deploying on Heroku is quite straightforward, but I got into some problems:

**1) First error was related to timber api:**

[code

[2020-07-08 17:28] akhil-naidu commented on #9206
Hello @Emaah

I too faced similar problems and managed to fix some but I don't have a production level instance of dev.

But I can give you a view how things work, from my understanding.

1. You should have a local instance

Note: local here -doesn't mean only in your own machine, it can be a VPS or a Gitpod instance.

Why?
Because Dev works in way such that you will have a Deployment instance to

[2020-07-08 17:38] jacobherrington commented on #9206
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-08 18:07] #9086 closed

[2020-07-08 18:09] #5476 closed

[2020-07-08 19:08] nickytonline commented on #9196
Want to take this on @icncsx?

[2020-07-08 19:51] nickytonline commented on #9079
Found the loading state issue, #9111. I have a hunch it's related.

[2020-07-08 19:52] nickytonline commented on #9111
@yg, the loading state appears to work if you click on one of those tabs twice. There appears to be an issue with the feed component or potentially the way we're using InstantClick. I'm going to investigate as it might be related to #9079.

[2020-07-08 20:53] michael-tharrington opened #9210 "Give users an easy way to track badge progress"
**Is your feature request related to a problem? Please describe.**

Yes, users cannot easily track their progress on [badges](https://dev.to/badges).

**Describe the solution you'd like**

I think it'd be great if folks could click to view their progress on different badges from a badge specific page like https://dev.to/badges. Folks should be able to easily navigate to this page from their user p

[2020-07-08 21:15] michael-tharrington opened #9211 "Label Follow Weight Scale for Tags in Dashboard >> Following Tags"
**Is your feature request related to a problem? Please describe.**

Yes, as a user it's a bit unclear how the follow weight scale for tags via https://dev.to/dashboard/following_tags is meant to be interpreted. It's not clearly stated that a greater number makes it so that a tag appears more in your feed while a smaller number makes it appear less; folks occasionally misinterpret this.

**Describe

[2020-07-08 21:27] vaidehijoshi commented on #9193
Ok, I think I've narrowed down where this happens in the `articleForm` component, for anyone who picks this up: it looks like `previousContent.bodyMarkdown` is [eventually](https://github.com/thepracticaldev/dev.to/blob/30bfe1adfddf0a23d741e4ea3ba5fa90e6c8b5bd/app/javascript/article-form/articleForm.jsx#L78) [overriding](https://github.com/thepracticaldev/dev.to/blob/30bfe1adfddf0a23d741e4ea3ba5fa

[2020-07-08 22:03] gixxerblade opened #9212 "Query organization on dev.to/api"
## Feature Request

Currently there in no way to query an organization on dev.to/api

**Describe the solution you'd like**

It would be nice to query https://dev.to/api/organization/articles, https://dev.to/api/organization/users, https://dev.to/api/organization/listings where organization is e.g., https://dev.to/api/vetswhocode

The description could read:

[2020-07-08 22:04] Veggier commented on #9183
I will try to work on it.

[2020-07-08 22:18] maestromac commented on #9076
@kellyjandrews this is approved!

[2020-07-08 23:08] michael-tharrington commented on #6087
Any chance this would make for a good first issue? I just spoke with another DEV user who requested this, so thought I'd tag with `good first issue` to see if someone may want to pick it up. 🙂

[2020-07-08 23:09] kellyjandrews commented on #9076
I'll get it going tonight - thanks!

[2020-07-08 23:16] musti-91 opened #9213 "I cannot create new post."
I have read already about blocking the extensions and try again but that actually even didn't work

[2020-07-09 00:02] nickytonline commented on #9183
@Veggier, I've assigned this to you.

[2020-07-09 00:05] nickytonline commented on #9193
@vaidehijoshi, we check local storage because there is a feature that was implemented that retains your most recent changes in local storage. If the date of what was stored in local storage is newer than the last saved date of am article, it will load instead of the original content that is in the article object. Maybe there is a scenario where in the v1 editor where the local storage feature make

[2020-07-09 00:06] nickytonline commented on #9076
@kellyjandrews, I've assigned this to you. Thanks for contributing!

[2020-07-09 05:15] rembrandtreyes commented on #9196
I'll be down to pick this up if @icncsx does not end up taking it. 😄

[2020-07-09 05:43] icncsx commented on #9196
@rembrandtreyes You got it!

[2020-07-09 05:46] akhil-naidu commented on #9213
Yes, I am having similar issues https://github.com/thepracticaldev/dev.to/issues/9160, never got any lead though.

I tried to install in my PC, VPS, Gitpod every time I faced the same issue repeatedly.

[2020-07-09 06:45] rhymes commented on #9210
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-09 06:46] rhymes commented on #9211
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-09 06:47] rhymes commented on #9212
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-09 06:53] rhymes commented on #9193
cc @maestromac on this as well

[2020-07-09 06:57] rhymes commented on #9213
Hello @musti-91, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-07-09 06:57] #9213 closed

[2020-07-09 06:59] icncsx commented on #9196
@rhymes I think you meant to assign the other gentleman?

[2020-07-09 07:20] rhymes commented on #9196
@icncsx right, sorry!

[2020-07-09 07:26] Mattia2204 opened #9214 "I can't write any post because there is a problem"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-07-09 07:37] rhymes commented on #9214
Hi @Mattia2204, as mentioned in https://github.com/thepracticaldev/dev.to/issues/9185 and https://github.com/thepracticaldev/dev.to/issues/9198 you should contact yo@dev.to, thank you!

[2020-07-09 07:37] #9214 closed

[2020-07-09 08:36] #8813 closed

[2020-07-09 08:56] leewynne opened #9215 "Generalise the editor guidelines"
Love how there is now space for tips in the new editor. I think for other communities, an option to edit these would be great.

**Describe the solution you'd like**

A SiteConfig setting for each of the sections. For example, the ability to over ride the default editor guidelines in these sections..

New Post Title
Tags
Placeholder in body area and tips.

**Additional context**

See screenshot as

[2020-07-09 09:14] rhymes commented on #9215
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-09 11:30] MenaiAla opened #9220 "[UX] The Profile Settings Page is too long and contains huge fields in one section."
## Issue description

In the [Settings](https://dev.to/settings) page all sections are expanded by default ( no show more options ) which makes the length too long. In addition, all fields are hand-typing without autocompletes.

**Case one :**
* I want to change just username and save it. Why I need to scroll the whole page to click `save` ?.

**Case two :**
* I want to change my skills tags but t

[2020-07-09 11:42] rhymes commented on #9220
Hi @MenaiAla, would it be possible to split this in three separate issues? Though they pertain to the same area they are indeed three different feature requests.

[2020-07-09 11:56] MenaiAla commented on #9220
@rhymes  Would it possible to suggest titles for me?

[2020-07-09 12:21] rhymes commented on #9220
1. Settings: reduce scrolling to save
1. Settings: add autocompletion for skills
1. Settings: emphasize common URLs

Something like this?

[2020-07-09 14:11] PrimeNoodles commented on #8976
I can try to work on this issue, if I understand from what your suggesting, we should include an icon to link to a new tab right?

[2020-07-09 14:23] Emaah commented on #9206
Hello @akhil-naidu,

Thank you for your detailed answer,
For deploying to Heroku, I applied the changes-configuring the application.yml file, but things did not go well and I encountered with the previous error:

[code]

Maybe it is related to dependency packages versions inconsistency (I think [sprockets](https://github.com/rails/sprockets)) ......

I'm eager for further ideas ....
Thank you.

[2020-07-09 14:41] rhymes commented on #9206
I think it's basically because `ENV["APP_PROTOCOL"]` and `ENV["APP_DOMAIN"]` are not defined

https://github.com/thepracticaldev/dev.to/blob/ffc96db209f03c0efc02acacb4c2b42718965ab1/config/environments/production.rb#L124

[2020-07-09 15:11] Emaah commented on #9206
Hello @rhymes,
Thank you for your respone,

I previously set those parameters directly in [Envfile](https://github.com/thepracticaldev/dev.to/blob/master/Envfile), But I got the above error,

Now, I set the **APP_PROTOCOL**  (to "http://")and **APP_DOMAIN** (to "the app address of Heroku")in the application.yml in the [config ](https://github.com/Emaah/dev.to/tree/master/config)file besides other

[2020-07-09 15:21] rhymes commented on #9206
@Emaah I think you need to set them as Heroku variables: https://devcenter.heroku.com/articles/config-vars#managing-config-vars

[2020-07-09 15:51] jkrsn98 commented on #9061
Hey @jacobherrington @nickytonline, if you want this added to the documentation I'd like to work on it.

[2020-07-09 15:51] kellyjandrews commented on #9076
@rhymes @maestromac @nickytonline

I tried the OSS team link above but got a 404 response.

I am currently using the container installation guide, and I have things working so far.  I created a new github oauth app to create my user and write the new tag to verify it works as well.

However, I am getting a lot of 404 errors with the javascript chunks -

[code]

What am I missing to get this workin

[2020-07-09 16:41] michael-tharrington commented on #9183
@Veggier appreciate the help! One thing I added to this feature request after the fact was _"Also, if someone is removed from a channel in this way, it should be silent and avoid announcing who was removed from the channel."_

Right now, a Connect channel admin can remove a user from a channel within Connect (not via https://dev.to/internal/chat_channels), but it doesn't do so silently. A message

[2020-07-09 17:55] nickytonline commented on #8976
Would you like me to assign this to you then @PrimeNoodles?

[2020-07-09 18:08] nickytonline commented on #9061
@jkrsn98, we're just waiting to hear back from @Tails128 to see if their work cleared them to work on this.

[2020-07-09 18:09] PrimeNoodles commented on #8976
I'm still a little new with working with this code base, but I'll try, sure!

[2020-07-09 18:15] akhil-naidu commented on #9206
@Emaah

### Here are some Best Practices

First, get your instance locally. It can be your own machine, Gitpod or VPS. Secondly, Install HEROKU. If you are using Gitpod, let me know, the process for installing Heroku needs to be done using .gitpoddocker file which is in the master root folder.

Next: You change your variables accordingly, you are familiar with it, all you need to do is- modify the

[2020-07-09 18:26] akhil-naidu commented on #9206
Is there any reason? For you to set most of the variables as `123456789dd`.
Or is it just a way of letting us know that you filled them?

[2020-07-09 18:47] mstruve commented on #7830
Since we have CSVs now and KnapsackPro for timing, @snackattas should we close this?

[2020-07-09 19:34] ardunster opened #9228 "Safari: dev.to pages will randomly grab an absurd amount of CPU"
**Describe the bug**

Sometimes, while using my MacBook Pro while I have a dev.to page open in Safari in the background, whether I'm using Safari or not, but have only noticed it while not active in a dev.to page,  the page I have open will suddenly start using enormous amounts of CPU (over 100% according to Activity Monitor, which means it's grabbing multiple cores), causing my fans to turn on (u

[2020-07-09 19:37] ardunster opened #9229 "Can't actually scroll to the bottom of the page"
**Describe the bug**

Endless scroll of new topics on the home page prevents user from ever reaching links for help, support, etc on the bottom of the primmer dev.to page.

**To Reproduce**

1. Open dev.to

2. Try to scroll to the bottom (to find a link to report another bug, for example)

3. Watch as you glimpse the footer momentarily, then cry as it's replaced by yet more endless scroll of topic

[2020-07-09 20:26] jessleenyc opened #9233 "Connect channel invitation emails not sending consistently"
**Describe the bug**
I recently created a chat channel and invited about 20 people. There are still a few 'pending invitations' and I'm no longer confident these members received all their email invite because I know one of them specifically did not (someone from our team, Gracie).

**To Reproduce**

Not sure how to produce this consistently.

**Expected behavior**

Everyone invited to a channel s

[2020-07-09 20:29] jessleenyc opened #9234 "Non-chat channel users should not see chat channel details"
**Describe the bug**

When a connect channel invitation did not get emailed to a member (#9233), I asked them to go to dev.to/connect to see if they could see their invite there. They could, but they could also see the details of the group -- such as their pending status.

**To Reproduce**
If a user has not accepted an invite yet, the chat channel details (such as who is in that channel) should st

[2020-07-09 22:45] dengaku12 commented on #8167
Hello, I see that this issue hasn't been addressed in a while, so I went ahead and decided to work on it. I submitted a pull request.

[2020-07-09 22:50] nickytonline commented on #8167
@hanishaDRaheja, did you have any work done for this issue? @dengaku12, can you link this issue to your PR? Thanks!

[2020-07-09 23:10] dengaku12 commented on #8167
@nickytonline i dont know why i wasnt able to link the pull request to this issue. I'm not able to click on 'Linked Issues.' You can look at it here though:
https://github.com/thepracticaldev/dev.to/pull/9238

[2020-07-10 01:24] kellyjandrews commented on #9076
Ok - I have things written, but just cannot get anything to run in my environment.  Tried to commit, and husky fails every time. Installed the bundle, but still isn't quite functional for me.  Is using containers less than ideal here, and I need to completely build out my environment?

[2020-07-10 01:27] nickytonline commented on #9076
I haven't worked in the docker setup (sounds like I need to spin it up to see what's up), so I'm not sure why you're getting all those 404s on the code split chunks that webpack generates. If you run `bin/webpack` does it run successfully?

Also, what errors are husky giving you?

[2020-07-10 01:28] nickytonline commented on #8976
Awesome @PrimeNoodles! 🔥 If you need any assistance, feel free to hit me up for help or anyone else on the team.

[2020-07-10 01:34] kellyjandrews commented on #9076
The install indicated to run `bin/container-setup` and it appears as though the `webpacker` service is running webpack, but I can't be sure.  The logs produce a lot of noise at the present.

[code]

I would assume this is from not having the local environment working.  Hopefully we can find a way around it with containers 🤷‍♂️

[2020-07-10 07:19] MenaiAla opened #9240 "[Settings] reduce scrolling for saving"
### Issue description

In the Settings page, all sections are expanded by default ( no show more options ) which makes the length too long.

**Case :**
I want to change just username and save it. Why do I need to scroll the whole page to click `save`?.

### Issue Solution
Case :

Move `save` button to the left side with fixed-position.

[2020-07-10 09:31] rhymes commented on #9228
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-10 09:34] rhymes commented on #9229
Hi @ardunster, thanks for raising the issue. I'm going to close this in favor of the following tickets:

- [please remove infinite scroll](https://github.com/thepracticaldev/dev.to/issues/5670)
- [Footer should be viewable](https://github.com/thepracticaldev/dev.to/issues/9034)
- [Main page <footer> element "Problem".](https://github.com/thepracticaldev/dev.to/issues/8256)

[2020-07-10 09:34] #9229 closed

[2020-07-10 10:19] rhymes commented on #9233
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-10 10:22] rhymes commented on #9234
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-10 10:34] rhymes commented on #9240
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-10 12:32] nickytonline commented on #9240
Thanks for opening the issue @MenaiAla. I'm ccing our product designers, @lisasy and @ludwiczakpawel, as well. I did a quick mockup of what you I think you mean. Let me know if this is what you were thinking.

![image](https://user-images.githubusercontent.com/833231/87154741-bfa73000-c287-11ea-9a62-8c4f3963993b.png)

[2020-07-10 12:50] MenaiAla commented on #9240
@nickytonline , exactly but just make sure that users will not be confused by adding a line between items and button. I don't know how the back-end devs handle updating requests but I GUESS according to the design they did one request that updates all the fields even those who will not change by users. I'm not an EXPERT by you could ask BACK-END DEVS, is it better to have SAVE for each section.

[2020-07-10 12:59] nickytonline opened #9243 "Can't accept a Connect invitation on mobile"
**Describe the bug**

Unable to accept an invite to a Connect group on mobile. I mentioned this to @jessleenyc as it relates to Codeland since we are using Connect for Codeland.

**To Reproduce**

1. Click on your invite link in the email you received (in my case Codeland Volunteers Connect channel)
1. DEV opens Connect with the last channel you were connected to.
1. Visually, it appears that the

[2020-07-10 13:07] rhymes commented on #9243
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-10 13:08] rhymes commented on #9243
@nickytonline Is it complentary of this? https://github.com/thepracticaldev/dev.to/issues/9233 - maybe these people haven't seen the invite

[2020-07-10 13:12] nickytonline commented on #9243
#9233 seems like an issue as well, but in my case I did receive the invite and ran into the issue above.

[2020-07-10 14:41] rehanGH commented on #9194
Hi @rhymes can I be assigned to this issue?

[2020-07-10 14:43] rhymes commented on #9194
@rehanGH done! :D

[2020-07-10 15:21] Veggier commented on #9211
I will be working on this issue.

[2020-07-10 15:29] ardunster commented on #9228
Thanks! I should mention that the pages I've seen it on have been articles (posts) I've left open to read later, in case that matters. There's a chance it has something to do with getting a notification, I'll keep an eye out and see if that's a consistent connection.

[2020-07-10 15:36] ardunster commented on #5670
Myself I dislike infinite scroll in general as it seems like a cheap trick to trap the user's attention. Or maybe that's just because of the Facebook association.... Anyway, I'd be in favor of either a 'load more' button or pagination, infinite scroll is a loss of user control and those of us who like to control our environment are unlikely to ever enjoy it ;)

[2020-07-10 15:37] ardunster commented on #9229
Thanks, I looked for similar issues but apparently my search skills failed me. I left my further comments on the first link.

[2020-07-10 15:38] rhymes commented on #9228
@ardunster does Safari have a CPU profiler? Something like https://developer.mozilla.org/en-US/docs/Mozilla/Performance/Profiling_with_the_Built-in_Profiler ? Maybe that can be of help

[2020-07-10 15:40] ardunster commented on #8256
@ogrotten I had a similar issue looking for a place to contact over another bug. I did look at the sidebar but there was nothing to indicate that the information I wanted would be there, I ended up googling to find useful links.

[2020-07-10 15:50] ardunster commented on #9228
Oh yeah it looks like the timeline feature in the develop menu will do something like that. I'll see if I can get something useful out of it. (It's a problem that tends to occur after an hour or two of using the computer for other stuff with the window open in the background - so we'll see.)

[2020-07-10 15:54] #9196 closed

[2020-07-10 15:57] Veggier opened #9248 "User have ability to remove following tag in the dashboard"
**Is your feature request related to a problem? Please describe.**

When I do working on issue #9211, I realize that we can't remove the following tag from the dashboard

**Describe the solution you'd like**
Add the feature that we can click a delete button to remove the following tag that we don't want to follow

**Additional context**

![image](https://user-images.githubusercontent.com/47649859/

[2020-07-10 16:04] rhymes commented on #9248
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-10 16:23] Veggier opened #9249 "Can't invite or remove user in the connect page."
**Describe the bug**
When I want to invite someone or delete the member from the group chat in https://dev.to/connect page, It will show an error  "User not authorized"

**To Reproduce**

**Screenshots**

![image](https://user-images.githubusercontent.com/47649859/87176183-c04fbe80-c2a7-11ea-89d0-5cf61b3fc698.png)

**Desktop (please complete the following information):**

- OS: Windows 10
- Browse

[2020-07-10 16:25] PrimeNoodles commented on #9248
Will attempt to work on this issue

[2020-07-10 16:58] nickytonline commented on #9248
Oops, I thought this was ready for dev @PrimeNoodles. We'll get back to you on this.

[2020-07-10 17:02] PrimeNoodles commented on #9248
Oh sorry, I didn't notice that I thought this was a bug problem my bad too

[2020-07-10 18:11] nameplatedigital opened #9254 "Dev.to Generates A Service Worker Error in Desktop Safari"
**Describe the bug**

In desktop Safari on MacOS Catalina, the URL https://dev.to will not open. Most of the time Safari just hangs without completing a connection and without offering an explanation. Occasionally, however, Safari will return with the following message:

**To Reproduce**

- In the "Cookie" app (https://cookieapp.com) on MacOS 10.15.5 Catalina, configure the deletion of Safari's hi

[2020-07-11 00:34] ardunster commented on #9228
I was able to export some Safari Timelines:
[dev.to_safari_timelines.zip](https://github.com/thepracticaldev/dev.to/files/4905990/dev.to_safari_timelines.zip)

the first two files were while I was using the computer in the am, reloaded the page a couple times, the problem did not occur (the second one is about an hour of recording), providing them as a baseline.

Then, before setting the computer

[2020-07-11 00:55] rembrandtreyes commented on #152
@rhymes Is this still up for grabs?

[2020-07-11 06:01] elangosundar opened #9258 "Redirect old profile username URLs to new username"
**Describe the bug**

I have changed my user profile from `dev.to/AAAA` to `dev.to/BBBB`. If it is changed, We can access changed profile only (ies) `dev.to/BBBB`. But in our application, we can accessible both old user profile and new user profile. It seems like some strange for our applications.

**To Reproduce**

1. Go to dev.to settings and change the user profile name.
2. Example : if user pr

[2020-07-11 07:13] MenaiAla opened #9259 "[Feature] Settings: add autocompletion for skills"
**Description.**

When I want to write my skills there's not an autocomplete that helps me to write quickly and/or fix typo errors.

**Recommended solution**

 Add autocomplete for skills tags.

[2020-07-11 08:18] rhymes commented on #9249
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-11 08:28] rhymes commented on #9254
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-11 08:28] rhymes commented on #9254
@fdoxyz would https://github.com/thepracticaldev/dev.to/pull/9250 address this as well?

[2020-07-11 08:50] rhymes commented on #152
@rembrandtreyes not anymore, now it's assigned to you :D

[2020-07-11 08:54] rhymes commented on #9258
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-11 08:54] rhymes commented on #9258
I'm not sure this is a bug though, it sounds to me like it's a feature to prevent squatting but I might be wrong.

@elangosundar would it be possible to point us to your old and new profile?

[2020-07-11 08:55] rhymes commented on #9259
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-11 11:00] Rafi993 opened #9263 "Converting GIF to MP4 to improve performance"
I was able to insert GIF into the cover image and it was causing lighthouse score to reduce. GIF in the cover should probably converted to MP4 to increase performance and to improve the lighthouse score. Since MP4 files are smaller than GIF

**To Reproduce**

1. Go to dev.to article with GIF as cover image and run the lighthouse
2. Go to dev.to article without GIF as cover image and run the lighth

[2020-07-11 11:32] akhil-naidu opened #9264 "Need help in cofiguring Envfile: Especially TIMBER and SENDGRID"
Hello @dev-community

I was able to have a **development instance**, but when I was trying to deploy it in Heroku I face errors. After grinding into the various issue sections I released something and I want to confirm it. If my assumptions are wrong please let me know it and hoping your guidance will keep me in the track and save me some time

- In order to have a working **development** Instance

[2020-07-11 12:07] ThomasOwens opened #9265 "RSS Feed Entries are Too Long"
**Describe the bug**

I subscribe to the feed at https://dev.to/feed. This feed returns the full body of the article for all articles.

I subscribe via an RSS to email service (Blogtrottr), delivered to a Gmail email inbox. In this case, it sometimes leads to truncated messages. In other feed readers, it can lead to a lot of scrolling due to the length of some articles. Some feed readers may allow

[2020-07-11 12:47] nameplatedigital commented on #9254
@rhymes and @fdoxyz The Safari error I have reported may indeed be related to the issue addressed by PR #9250 because I often manually delete Safari's cache when testing web projects.

[2020-07-11 13:41] fdoxyz commented on #9254
Hey, thank you both for keeping an eye out and confirming this! I actually hadn't realized CI failed on that PR from yesterday, it's now passing.

I hope that whenever we can get that one merged will fix this 👍🏼

[2020-07-11 14:01] elangosundar commented on #9258
@rhymes Thanks for detailed info. Please find my dev to old and new profile info.

Old Profile Url : https://dev.to/elangosundar
New Profile Url : https://dev.to/10secondsofcode

Let me know if you need queries.

[2020-07-11 14:55] rhymes commented on #9258
I've noticed how even from https://dev.to/elangosundar the URLs of posts point to https://dev.to/10secondsofcode so the redirect there is in effect.

There might be a bug somewhere because according to this code

https://github.com/thepracticaldev/dev.to/blob/ba82e72aa4f7db43615277e887a2ca7c5709c440/app/controllers/stories_controller.rb#L83-L92

it should redirect you to the new one and not just l

[2020-07-11 15:20] nandhithakamal opened #9267 "Unable to Remove Cover Image from post"
If a cover image is added to a post and later removed, this state is not preserved.
The cover image is removed in the preview but it pops back in in the actual post
Trying to edit the post to remove the cover image, has the cover image still present.

[2020-07-11 15:37] rhymes commented on #9267
Hi @nandhithakamal, I'm going to close this as a duplicate of https://github.com/thepracticaldev/dev.to/issues/6914 - let me know if I'm wrong! :)

[2020-07-11 15:37] #9267 closed

[2020-07-11 15:41] rhymes commented on #9263
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-11 15:42] rhymes commented on #9263
Thanks @Rafi993, it's really interesting! We would also solve a few issues with GIF images other than size.

[2020-07-11 16:07] rhymes commented on #9265
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-11 16:10] rhymes commented on #9265
Hi @ThomasOwens, thanks a lot of raising this issue!

It's interesting because I have the opposite view, I always get annoyed when feeds truncate the content forcing me to click and go read the original article :-D

I think it should be the responsibility of the client to truncate the item's content. The same way we wouldn't expect an API to return just part of the text of an article. Once you hav

[2020-07-11 16:20] rhymes commented on #9264
Hi @akhil-naidu

I think you can skip Timber as we're moving to drop it, it is effectively optional since very recently:

https://github.com/thepracticaldev/dev.to/blob/ba82e72aa4f7db43615277e887a2ca7c5709c440/config/environments/production.rb#L110-L116

I'm unfamiliar with Sendgrid's configuration but since they pertain to the SMTP configuration I think it needs to be your username and password s

[2020-07-11 16:31] akhil-naidu commented on #9264
@rhymes

So, I can comment or remove the timber-related code in the production.rb file. It will not deter my production deployment.

[2020-07-11 16:32] ThomasOwens commented on #9265
@rhymes I think a parameter or alternate endpoint for partial content is fine. I don't think there is a need for too many options, though. Maybe just "full" and "titles only". I think it would be fine for "titles only" to include some metadata - author, tags, date posted, estimated reading length. Just not the whole content so I can get it delivered to my inbox without truncating content and missi

[2020-07-11 17:46] rhymes commented on #9264
@akhil-naidu I think you can set `SEND_LOGS_TO_TIMBER` to `false` and it won't initialize

[2020-07-11 19:24] nandhithakamal commented on #9267
Thanks, it is the same.

[2020-07-11 21:55] nickytonline commented on #9263
Closing as this is a duplicate of #3638 .

[2020-07-11 21:55] #9263 closed

[2020-07-11 21:57] nickytonline commented on #3638
we can continue the discussion in this issue @Rafi993 and @rhymes.

[2020-07-11 22:15] rhymes commented on #9263
@Rafi993 could you kindly copy your comment over to #3638 ?

[2020-07-11 22:39] markmead opened #9268 "Ability to save all following tags follow weight at once"
**Is your feature request related to a problem? Please describe.**

Making changes to the following tags follow weight currently requires you to save each change

**Describe the solution you'd like**

A "Save all" button, allowing users to update multiple follow weights at once

**Describe alternatives you've considered**

The current save button sends the updates via AJAX to prevent a full page r

[2020-07-11 23:23] rembrandtreyes commented on #152
Just clarify the acceptance criteria.

- Be able to @someone in a post
- Tagging the person in a post will send them a notification.

[2020-07-12 01:30] rembrandtreyes opened #9269 "New posts/users have their published/joined date a day ahead"
**Describe the bug**
I was looking through some user-profiles and noticed that some have a date that is in the future. Found users that have a joined date of July 12, 2020. And investigating further looks like this applies to posts and comments.

**To Reproduce**
Create a post and see if the published date is 1 day ahead

**Expected behavior**
Users should have posts and join dates of the current

[2020-07-12 02:05] akhil-naidu commented on #9264
Thankyou

[2020-07-12 02:06] #9264 closed

[2020-07-12 02:32] PavelTkachenko commented on #9269
No. This is because the time zone is not taken into account.

 Here is `articles/_user_metadata.html.erb` for example:

[code]

So the current day is calculated based on app timezone. It's not good. I can take this issue and fix all occurrences.

[2020-07-12 02:46] rembrandtreyes commented on #9269
👏

[2020-07-12 04:56] Rafi993 commented on #3638
<img src="https://user-images.githubusercontent.com/8092120/87239167-91615600-c429-11ea-917c-9f02bec477f4.png" width="16" height="16"/> Forwarded from issue https://github.com/thepracticaldev/dev.to/issues/9263

[2020-07-12 05:37] weppami opened #9270 "Duplicate entries on latest feed"
**Describe the bug**

Same entries are repeated in latest feed view

**To Reproduce**

Choose latest tab and scroll

**Expected behavior**
No duplicates

**Screenshots**
![screencapture-dev-to-latest-1594531827631](https://user-images.githubusercontent.com/14185233/87239702-6b7c8700-c412-11ea-8c6d-79d501a1dbca.png)

**Desktop (please complete the following information):**

- OS: win10
- Browser: b

[2020-07-12 07:17] rhymes commented on #9268
Hi @markmead, thanks for raising this issue. I'm closing this as a duplicate of https://github.com/thepracticaldev/dev.to/issues/1346 - let me know if that's not the case

[2020-07-12 07:17] #9268 closed

[2020-07-12 07:29] rhymes commented on #152
@rembrandtreyes exactly! the only check I can think of is to not send the notification if the article's creator somehow tags themselves.

[2020-07-12 07:37] rhymes commented on #9269
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-12 07:38] rhymes commented on #9269
This should be fixed on the client side, for example with

https://github.com/thepracticaldev/dev.to/blob/5094f6be9c1d6065b233654def953dbf3dad650e/app/assets/javascripts/utilities/localDateTime.js#L15

[2020-07-12 07:39] rhymes commented on #9270
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-12 08:02] rhymes commented on #9270
I experienced the same, not sure what happened

![Screenshot_2020-07-08 DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/87241783-b4d6d180-c426-11ea-8e56-882f0655b169.png)

[2020-07-12 08:07] PavelTkachenko commented on #9269
Cool! I see labels are set, I’ll take this issue.

[2020-07-12 10:39] takmar commented on #8789
@nickytonline
I tried to fix this. But this is already fixed by https://github.com/thepracticaldev/dev.to/pull/9159.

[2020-07-12 14:04] nickytonline commented on #8789
Closing as this is fixed in #9159.

[2020-07-12 14:04] #8789 closed

[2020-07-12 15:24] JulianBroudy commented on #9034
Sorry to barge in @ludwiczakpawel.
I hope I am not overstepping here, I just have a suggestion.

**How about keeping the footer hidden but allowing the user to show it?**
For instance, showing a toggle button at the bottom-left / bottom-right corner like this:

![Annotation 2020-07-12 180809](https://user-images.githubusercontent.com/46682375/87250057-4b2ce680-c46b-11ea-992e-05d123dae63e.jpg)

Sin

[2020-07-13 00:51] snackattas commented on #7830
Ok I'm fine closing it. The csv solution is sort of annoying but it gets the job done.  Maybe down the line I'll commit my csv combining and parsing script to the repo so that others can do this exercise as well

[2020-07-13 00:51] #7830 closed

[2020-07-13 08:47] MenaiAla opened #9287 "[Settings] emphasize common URLs"
## Reproduction
### Category :
User Experience
### Description :
In the settings page, you provide long-form of URLs ( 11 URLs once time ) which makes the scrolling too long. Most users have just 2 or 3 common URLs

## Suggestion

Provide just the popular URLs and let users expand the UI to provide other URLs.

[2020-07-13 10:12] akhil-naidu commented on #7916
@rhymes , any idea how to configure this?

Heroku build is getting an error and there is no support from the buffer.

Can you give a lead on configuring this?

[2020-07-13 11:16] ludwiczakpawel commented on #9240
I'm not sold on this one to be honest. Having Submit button in the sidebar is pretty confusing to me and I have initially missed it when I first saw the proposed mockup without actually reading the entire issue description.

BUT I do think this is a valid issue. Another potential solution that IMO makes a bit more sense in terms of UI and UX is having save button as it is right now (so below the f

[2020-07-13 11:32] ludwiczakpawel commented on #9034
@JulianBroudy All good, I really appreciate all suggestions and ideas :) It's open source world!

Anyway, I think any of these two proposed ideas would be nice addition (I'm probably leaning towards 1st idea more). But we still have to figure out stopping the infinite scroll part AND resuming it with "load more" button. But yea, the "show footer" idea is overall pretty neat. I'd personally make so

[2020-07-13 11:35] JulianBroudy commented on #9034
Of course! I would love to.

Absolutely, this was just to illustrate my point as I was short on time.

Could you elaborate please?

[2020-07-13 11:55] nickytonline commented on #9240
@MenaiAla, yeah that was just a quick mockup, so there works be more space between the button and menu items.

Having said that, I find it confusing on the side as well. @ludwiczakpawel, I like the idea of the save button going sticky once there are changes.

[2020-07-13 12:14] akhil-naidu opened #9288 "Need help in configuring HEROKU_POSTGRES"
`remote:        I, [2020-07-13T12:02:37.768240 #11563]  INFO -- honeybadger: ** [Honeybadger] Success ⚡ https://app.honeybadger.io/notice/ff036682-bcec-46be-8343-546ad2723682 id=ff036682-bcec-46be-8343-546ad2723682 code=201 level=1 pid=11563
remote:
remote:  !
remote:  !     Precompiling assets failed.
remote:  !     Attempted to access a nonexistent database:
remote:  !     https://devcenter.hero

[2020-07-13 12:22] #8933 closed

[2020-07-13 12:22] #8735 closed

[2020-07-13 13:01] ludwiczakpawel commented on #9034
So right now we simply load feed items infinitely. If we want user to see the footer at any point, we have to be able to "stop" loading feed items. So that's one thing. Another thing is: once we stopped loading feed items we need to give user a way to continue loading feed items again - so we need "Load more" button then.

Does that make sense?

[2020-07-13 13:22] rhymes commented on #9287
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-13 13:27] JulianBroudy commented on #9034
Very much so.

**For some clarification**, let me paint you a scenario and tell me if I got it right?

1. The user enters the feed, "Show footer" button is visible at the bottom-right corner (correct?).
2. The user scrolls to the bottom (without clicking "Show footer"), a new batch of feed is loaded and this behaviour continues as long as the user scrolls down.<br> OR the user doesn't scroll so sk

[2020-07-13 13:28] rhymes commented on #7916
@akhil-naidu not sure exactly, our code is pretty tied to Buffer for now, probably by transforming

https://github.com/thepracticaldev/dev.to/blob/fde4d3f189552dd587bab64bacf2d689da91c551/app/models/buffer_update.rb#L35

in a no op that doesn't do anything and returns an empty string?

[2020-07-13 13:31] rhymes commented on #9240
Wow, love the sticky idea!

[2020-07-13 13:32] rhymes commented on #9288
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-13 14:25] Amorpheuz opened #9290 "Posts on home feed have broken avatars"
**Describe the bug**
Broken avatars and links to user profiles on home page. Occurs only when I am logged into DEV. The images appear when I am logged out after a cache clear, but reappear if I log back in.

On clicking the image, it loads the url `https://dev.to/undefined`. Which also turns out to be someone's user name too! XD

The post correctly loads information about such as picture and autho

[2020-07-13 14:51] rhymes commented on #9290
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-13 15:22] #9290 closed

[2020-07-13 18:32] michael-tharrington opened #9295 "Tag pages post count is occasionally off"
**Describe the bug**

When visiting a tag's landing page (e.g. dev.to/t/nameoftag) and looking at the number of posts published in the lefthand column, often this number doesn't match up to the actual number of posts there are.

**To Reproduce**

1. Go to https://dev.to/t/javascrip _(NOTE: I'm using a misspelled tag, so we have a lighter count to look at)_
2. Look to the lefthand column for "1 pos

[2020-07-13 20:53] AdrianSandu commented on #3802
I can also confirm the issue happening on Discord, Slack, and LinkedIn preview. For Twitter, I am usually creating my own separate image to avoid the issue.

For example, this is how my latest post on DEV renders in these three places:

Discord preview

![image](https://user-images.githubusercontent.com/1038222/87352347-8f9bad80-c563-11ea-8610-56b370ce8602.png)

Slack preview

![image](https://use

[2020-07-13 21:00] ludwiczakpawel commented on #9240
Honestly it's a matter of applying one or two CSS classes on form change... soooo... who wants to take it for a ride? :D

[2020-07-13 21:04] kay-is commented on #3802
Anything we can do here?
This is rather irritating.

[2020-07-13 22:32] lisasy opened #9296 "[Mod] Update small CSS fixes to new mod center"

[2020-07-14 01:43] citizen428 commented on #9295
To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we will follow up within 3 business days.

For full info on how to contribute, pleas

[2020-07-14 01:45] citizen428 commented on #9288
@akhil-naidu  Regarding `Attempted to access a nonexistent database`: did you set up your database on Heroku, e.g. `heroku run rails db:migrate`?

[2020-07-14 02:08] akhil-naidu commented on #9288
@citizen428 when I tried that command it gives me an error: `rails:  command not found `

Any other way of doing this? Using Heroku web UI?

[2020-07-14 03:08] Rafi993 commented on #9116
@jacobherrington  since you have a pr to close this issue feel free to change assignee.

[2020-07-14 03:12] citizen428 commented on #9288
@akhil-naidu Are you following Heroku's guide? https://devcenter.heroku.com/articles/getting-started-with-rails5

[2020-07-14 03:34] citizen428 commented on #7916
@benhalpern I assigned you this issue because it fits within the scope of the next cycle. If Buffer is no longer available to new communities, we need to find a solution for this.

[2020-07-14 03:49] citizen428 commented on #9295
Some context (I don't have time right now to look into it more):

1. This gets rendered by `app/views/articles/tags/_sidebar.html.erb:66`:
[code]
2. `@num_published_articles` gets set in `StoriesController#handle_tag_index`.
3. For tags that don't need approval, this uses the `cached_tagged_count` method in the same file, which caches the value for 2h:
[code]

[2020-07-14 07:14] MenaiAla commented on #9240
@ludwiczakpawel , yes  I agree with you.

[2020-07-14 08:20] akhil-naidu commented on #9288
Hello @citizen428

As I am facing such an issue with Linux installation, I converted into a container-based local instance. Everything is fine in local deployment.

But when I was trying to have a production deployment in HEROKU, I am facing a single error and realized it is because of port 9200 and confirmed- my error is related to elastic search.

I would like to know, how to configure an elasti

[2020-07-14 09:54] rhymes commented on #9296
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-14 09:54] ranjith-b opened #9301 "Home and return button for Dev app in iPhone 6"
**Describe the bug**

There are no home and return buttons displayed in the dev mobile app for iPhone 6. Therefore, one cannot navigate back to the home page after visiting an article. There is only a reload button present on the footer.
**Screenshots**
![screenshot_dev_iphone6](https://user-images.githubusercontent.com/5801052/87411981-bc35e080-c5c8-11ea-85bb-0a3c0ac8bb21.jpg)

**Smartphone:**

-

[2020-07-14 10:12] rhymes commented on #9301
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-14 13:34] Rafi993 commented on #9270
Hi there, If this bug is not taken I would like to help

[2020-07-14 13:58] atsmith813 commented on #9254
This should be good to go with #9250. @fdoxyz is it okay to close this now?

[2020-07-14 13:59] rhymes commented on #9270
@Rafi993 go ahead!

[2020-07-14 14:01] Rafi993 commented on #9270
Thank you @rhymes

[2020-07-14 14:21] atsmith813 commented on #6902
I think this may actually be covered by #9250. What do you think @fdoxyz?

[2020-07-14 14:27] atsmith813 commented on #5434
This seems to have been resolved with #9250 🎉

[2020-07-14 14:27] #5434 closed

[2020-07-14 15:53] ludwiczakpawel commented on #9034
I think the "Show footer" button should show up once you scroll to the bottom (to the point where we load another batch of feed items for the first time). You won't want to see footer _that_ often so I guess there's no need to make it a permanently visible button.

It should then also hide the "Show footer" button and append "Load more" button at the end of the feed.

Does that make more sense?

[2020-07-14 15:58] JulianBroudy commented on #9034
It does, thank you for that.

I am still unclear what happens after clicking the "Load more".
The new batch is loaded and once the user scrolls down again then what? Do new batches always load or do we keep showing "Load more" for every new batch? What if the user loaded some batches then decided he needs the footer?

[2020-07-14 16:22] Zhao-Andy commented on #6087
I think we're going to hold off on adding new fields for a bit, since we're in the process of getting the profile more usable for Forem!

[2020-07-14 16:38] Amorpheuz opened #9307 "Sending a message triggers message alert for the sender"
**Describe the bug**
Occurs on sending a message to a user via Connect. If you have multiple tabs open (side-by-side), you get a new alert for yourself.

**To Reproduce**
1. Login to [DEV](https://dev.to).
2. Open two windows of dev, in a side-by-side config.
![image](https://user-images.githubusercontent.com/22113778/87451826-09906d00-c61e-11ea-8ce8-43a94dccf973.png)
3. Send a message to someone

[2020-07-14 16:52] michael-tharrington commented on #6087
That totally makes sense. There are lots of fields in there currently and I know we've also had requests to streamline this area of settings.

[2020-07-14 16:58] rhymes commented on #9307
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-14 17:28] #9211 closed

[2020-07-14 18:46] ludwiczakpawel commented on #9034
After clicking "Load more" we should probably just get back to default behavior: we load another batch of feed items, user scrolls down, another batch is loaded and button shows up, user scrolls down, another batch is loaded. In other words: behave like user has never clicked that "show footer" button...

(Thanks for all the questions and discussion - I really appreciate it, especially we haven't

[2020-07-14 18:53] ludwiczakpawel commented on #9240
@MenaiAla let me know if this is something you'd like to work on or should I try to assign this to someone internally :)

[2020-07-14 18:54] JulianBroudy commented on #9034
Of course, I'm just hoping I'm not asking too many of those.

This would actually be my first official contribution if I end up taking it. So I might need some pointers if that's Ok.

[2020-07-14 18:56] ludwiczakpawel commented on #9034
That's alright :) I'm sure all folks here at DEV will be happy to help :) Would you like me to assign you to this issue?

[2020-07-14 19:08] JulianBroudy commented on #9034
I would like that very much thank you.

[2020-07-14 19:45] Tails128 commented on #9061
@nickytonline sorry, I was awaiting for an answer, currently I cannot help you :s

[2020-07-14 20:42] fdoxyz commented on #6902
I think it may be @atsmith813, thank you for flagging this so we can close all these issues as soon as the fix is confirmed!

The PR was merged and deployed, but I have been running into some weird behavior and I think our cache is the culprit. The easiest solution I think is to wait until the older version expires organically, because [https://dev.to/serviceworker.js](https://dev.to/serviceworker

[2020-07-14 21:01] JulianBroudy commented on #9034
Thank you.

Does this mean I can go for it or are there any prior procedures other than reading the full [Contributor's Guide](https://docs.dev.to/contributing/forem/)?

[2020-07-14 22:34] nickytonline commented on #9034
All yours @JulianBroudy. Go for it. 😎

[2020-07-14 22:35] nickytonline commented on #9061
All yours @jkrsn98!

[2020-07-15 00:30] SuzeShardlow opened #9322 "Profile pages where the username in the URL is not all lower case do not display properly (double footer, wrong colour mode, images and links missing)."
**Describe the bug**

When I visit a profile where the username is not all in lower case in the URL, the following happens:

+ switches to default (light) mode if UX preferences are set to dark;
+ there are two footers at the bottom of the page;
+ the avatar is not showing top right and the grey circle which replaces it is not clickable.

If I then click a link on that page, for example a link to

[2020-07-15 01:28] citizen428 commented on #9288
Make sure you have an `ELASTICSEARCH_URL` set in your environment variables. It can point to the same value as `BONSAI_URL`.

[2020-07-15 02:01] citizen428 commented on #9322
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-15 02:05] citizen428 commented on #6087
As one of the people driving the profile revamp, I wouldn't object to adding this field now during cooldown. It does make sense for a developer community and in the end, just becomes one more custom field we need to add to DEV when migrating profiles. I'm also ok with holding off though.

[2020-07-15 04:27] icncsx opened #9324 "Settings: Elements in content customization box leaking outside the container"
**Describe the bug**

The text elements area leaking outside of the container.

![Screenshot from 2020-07-15 00-24-56](https://user-images.githubusercontent.com/60417145/87503287-cfc96180-c631-11ea-93ce-ce7c63e1d4af.png)

**To Reproduce**

Visit the [settings/ux](https://dev.to/settings/ux) endpoint and look at the coding experience boxes.

**Expected behavior**

Text should be contained in the bo

[2020-07-15 06:28] FSou1 commented on #7816
+1. Any progress with it?

[2020-07-15 09:50] rhymes commented on #9324
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-15 09:54] ludwiczakpawel commented on #9034
Hey @JulianBroudy it seems we've started an ongoing discussion internally about infinite scroll and how it should behave with the footer itself. Could you please put this one on hold for now? I'll get back to you ASAP once we have some agreement internally. I really apologize for that - we had folks starting a debate about what should be the solution/flow literally few minutes after I've assigned

[2020-07-15 09:58] JulianBroudy commented on #9034
😔👍

[2020-07-15 10:12] narender2031 commented on #9249
@Veggier are you the owner of the channel. What is your role type in this channel?

[2020-07-15 11:18] crimson-med opened #9327 "Proper url parse for images in markdown with cloudinary"
**Describe the bug**

The way the url is parsed to cloudinary creates an issue for images coming from International Domain Names (IDNs)

**To Reproduce**

- Create a new post
- Add the following image: `![graph](https://www.火.dev:8443/user/MedericPixium/graph/sunsetred)`
- Add the following image: `![graph](https://www.xn--vnx.dev:8443/user/MedericPixium/graph/sunsetred)`

https://dev.to/crimsonme

[2020-07-15 11:25] rhymes commented on #9327
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-15 11:44] oyeyipowale opened #9328 "Typo in in folder/file path in frontend#webpacker doc"
Could not readily find issue template/guide for documentation typos. Here goes:

Reading through the documentation at [frontend guide -> webpacker](https://docs.dev.to/frontend/webpacker/), found two references to a `app/javascripts`  folder. However, only the folder `app/javascript` was currently available.

[2020-07-15 11:52] rhymes commented on #9328
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-15 11:52] rhymes commented on #9328
@oyeyipowale thanks a lot!

Would you like to submit a patch for it? The file with the typos is https://github.com/forem/forem/blob/master/docs/frontend/webpacker.md :-)

[2020-07-15 12:09] oyeyipowale commented on #9328
Yes! on the way.

[2020-07-15 12:22] metaskills commented on #2377
Hi, my name is Ken Collins and on top of working at Custom Ink I spent a lot of my timing helping people learn AWS Lambda, specifically with Ruby/Rails. At Custom Ink we have been breaking up our monolith Rails app for years. Not for the sake of micro services but logically where they need to be optimized or segmented.

To that end, I have created some simple ways (https://lamby.custominktech.com)

[2020-07-15 12:54] oyeyipowale opened #9330 "Broken link to code path in documentation (dynamic imports)"
## Description
The link to a code sample file in the documentation on **Dynamic Imports** has changed in the repository.

## Steps to reproduce
[Dynamic imports](https://docs.dev.to/frontend/dynamic-imports/). the codeEditor.jsx#L11 file no longer exists.
https://github.com/forem/forem/blob/master/app/javascript/chat/codeEditor.jsx#L11

second link in the examples of dynamic import usage on DEV.

[2020-07-15 13:19] rhymes commented on #9330
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-15 13:22] rhymes commented on #9330
Yeah, I think we should replace those links with permalinks.

- onboarding: https://github.com/forem/forem/blob/0633d85b6b0e083bb7b21b11642b2b17d3fe9de6/app/javascript/packs/Onboarding.jsx#L21
- connect code editor: doesn't exist anymore, maybe we can replace it with the homepage https://github.com/forem/forem/blob/0633d85b6b0e083bb7b21b11642b2b17d3fe9de6/app/javascript/packs/homePage.jsx#L59 or p

[2020-07-15 13:38] rhymes commented on #9228
Thank you @ardunster?

Embedding this screenshot that gives a good idea on how the CPU goes up!

<img width="1904" alt="Screenshot 2020-07-15 at 3 34 05 PM" src="https://user-images.githubusercontent.com/146201/87551880-3e99cf80-c6b1-11ea-8387-b97f28a9a40b.png">

[2020-07-15 14:32] iverve opened #9332 "Error when attempting to access unfinished/unpublished post & Profile showing spam_966114"
### Describe the bug

My account is showing **spam_966114** and unable to see my **published blog links** & 404 bio not found.

**Can someone help me how to resolve it**

To Reproduce
Steps to reproduce the behavior:

Go to my Dashboard
Click on the title or Edit button of any one of the last three of four unpublished posts
See error
Expected behavior
View and/or edit post

Desktop (please complet

[2020-07-15 14:39] rhymes commented on #9332
Hello @iverve, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-07-15 14:39] #9332 closed

[2020-07-15 14:46] luis-novoa commented on #7408
Good morning,

I have an idea on how to tackle this issue. May I work on this?

Best regards,
Luis Novoa

[2020-07-15 14:48] rhymes commented on #7408
@luis-novoa I've assigned the issue to you!

[2020-07-15 14:51] luis-novoa commented on #7408
Thank you, @rhymes :)

[2020-07-15 14:52] PavelTkachenko commented on #9324
I can take this issue and provide png images to approve design before coding.

[2020-07-15 14:55] rhymes commented on #9324
@PavelTkachenko go ahead, thank you!

[2020-07-15 14:59] benhalpern commented on #9324
@PavelTkachenko We can think of the text as optional, so we could hide it for smaller breakpoints.

[2020-07-15 17:21] nameplatedigital commented on #9254
@rhymes and @fdoxyz I was hopeful that yesterday's merging of PR #9250 would squash this bug, but, at least for me, it did not. I believe _something_ has changed, however, because I am now able to open and reload https://dev.to with considerably less friction than previously. I have updated the steps to reproduce the problem, showing it's elusive nature.

[2020-07-15 17:27] atsmith813 commented on #9254
@nameplatedigital I believe this comment is related:

https://github.com/forem/forem/issues/6902#issuecomment-658402926

[2020-07-15 18:07] atsmith813 commented on #9295
This is somewhat intentional that they're slightly off due to the caching. The gem isn't the best with keeping those counts. I think what may have happened is when we updated/fixed tags, our counts became even more off. And this count is more obvious on a lightly used tag here where there aren't enough posts to paginate.

I'm curious what people think about trying this in a production console:
[co

[2020-07-15 18:25] maestromac commented on #8208
Hello @vigneshwaran-natarajan are you still having this problem? If so, would you mind sharing your dev username and your twitter?

[2020-07-15 18:30] nickytonline commented on #9228
No technical information in this post, but interesting that high CPU usage was reported a year ago in Safari, https://www.reddit.com/r/mac/comments/9hy92g/what_is_safari_service_worker_and_why_is_it_using/

[2020-07-15 18:44] fdoxyz commented on #9254
Okay, this is a very weird problem, thank you for helping us figure it out @nameplatedigital !

The Service Worker problem was fixed, and like you mentioned it was a problem we no longer have but it still hangs for me too. A bit of a simplified test I ran was this:

1. Open dev.to website (should load normally)
1. Click 'Develop' > 'Empty Caches'
1. Refresh (it should hang indefinitely)
1. Stop th

[2020-07-15 19:41] 5t3ph opened #9336 "Receiving Message Notifications from Blocked User"
**Describe the bug**

After blocking a user, I received two notifications that they had messaged. The message area had no content, but I expected to not get notifications.

**To Reproduce**

- Blocked a user
- Blocked user sent messages
- Message notification icon showed that messages had been received

**Expected behavior**

- Minimum: No message notifications when a message is received from a bl

[2020-07-15 20:22] jacobherrington commented on #9336
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-15 21:45] nickytonline opened #9338 "Convert the <ImageUploader /> component to use hooks"
**Is your feature request related to a problem? Please describe.**

This is not a feature, but a refactor of a currently working Preact component to use hooks.

The reason for the refactor is to demonstrate how anyone contributing to the codebase can use new features of Preact.

This issue is part of the live code pairing sessions on DEV. @sophi-li was our first guest to pair.

**Describe the solu

[2020-07-15 22:07] SuzeShardlow opened #9339 "Boilerplate acknowledgement text for Forem GitHub Issues needs to be updated following the switch to the Forem organisation."
**Describe the bug**

The boilerplate text for the GitHub Issues acknowledgement contains reference to @thepracticaldev/oss which no longer seems to exist following the switch to the Forem organisation on GitHub.  It previously hyperlinked to [https://github.com/orgs/thepracticaldev/teams/oss](https://github.com/orgs/thepracticaldev/teams/oss) which now leads to a 404, presumably as a result of th

[2020-07-15 23:30] vigneshwaran-natarajan commented on #8208
hi @maestromac  sorry forgot to update here, actually, my twitter name got updated after few days in dev, it got resolved, can I close the ticket?

[2020-07-16 00:47] sophi-li commented on #9338
I'll take this issue!

[2020-07-16 02:16] cmgorton opened #9340 "Typo/missing word in forem/README.md"
**Describe the bug**
There is a word missing in the main Forem README.md.

**To Reproduce**
Go to forem/README.md
Scroll down to this paragraph:

_dev.to (or just DEV) is hosted by Forem. It is a community of software developers who articles, take part in discussions, and build their professional profiles._

**The error is in this sentence:**
It is a community of `software developers who articles`

[2020-07-16 03:03] citizen428 commented on #9340
Thanks for the issue @cmgorton! Would you like to fix this yourself? :-) The word that was accidentally removed was "write" btw.

[2020-07-16 03:05] cmgorton commented on #9340
Sure. I'd be happy to tackle this one. Should I follow the steps in the developer documentation? :) https://docs.dev.to/

[2020-07-16 03:08] citizen428 commented on #9339
Thanks, @SuzeShardlow, I updated our response templates now. Here's an example:

Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to w

[2020-07-16 03:08] #9339 closed

[2020-07-16 03:24] citizen428 commented on #9340
Thank you for volunteering @cmgorton! 💯

Since this is a README change, you can even do it easily via the Github web app:

1. Go to https://github.com/forem/forem/blob/master/README.md
2. Hit the edit button
    <img width="1262" alt="forem_README_md_at_master_·_forem_forem" src="https://user-images.githubusercontent.com/47985/87622850-3479de80-c74e-11ea-9176-6c61103835e9.png">
3. Make your change

[2020-07-16 03:33] cmgorton commented on #9340
Awesome, thanks for the great explanation. Will create the PR now.

[2020-07-16 03:38] cmgorton commented on #9340
Submitted pull request here: https://github.com/forem/forem/pull/9341

[2020-07-16 04:39] cainwatson opened #9342 "Reading list rendering twice on repeated navigation"
**Describe the bug**

The reading list renders a second time under its self when repeatedly navigating from the home page to the reading list page. It

**To Reproduce**

1. Go to home page
2. Click on 'Reading list'
3. Click on Dev logo to go back to home
4. Repeat last two steps 2 more times
5. See reading list and tags rendered twice

**Expected behavior**

Expected reading list to show up once.

[2020-07-16 07:03] MenaiAla commented on #9240
@ludwiczakpawel , I could not promise you right now. It's better to assign this to someone.

[2020-07-16 07:28] abenerd opened #9343 "Move away from `master` as main branch"
**Is your feature request related to a problem? Please describe.**
Following the example of #7147 I'd like to propose moving away from naming the main branch `master`.

**Describe the solution you'd like**
I propose using terms such as `leader`, `main` or even `distinguished` as obviously this would be the most awesome and serious branch.

**Describe alternatives you've considered**

**Additional

[2020-07-16 07:35] #9328 closed

[2020-07-16 07:42] rhymes commented on #8208
Closing the ticket, thanks @vigneshwaran-natarajan

[2020-07-16 07:42] #8208 closed

[2020-07-16 07:46] ludwiczakpawel commented on #9240
Sure thing! We'll try to handle
it :)

[2020-07-16 07:49] #9340 closed

[2020-07-16 07:50] rhymes commented on #9342
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-16 07:51] rhymes commented on #9342
I can reproduce this as well :-(

[2020-07-16 07:54] rhymes commented on #9343
To our awesome contributors, please note that this issue will be worked on by a Forem team member and is not up for grabs.

[2020-07-16 09:09] leewynne opened #9344 "A request invitation button"
This feature request is related to PR #9294

I think a really cool addition to this would be a simple 'request an invite' button someone after a visitor clicks on 'more sign in options'. Maybe that then renders a simple for requesting email address and some other details?

[2020-07-16 09:11] rhymes commented on #9344
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-16 09:16] leewynne opened #9346 "Include 'more sign in options' on the front page"
Can we add the 'more sign in options' option to the full desktop view, to the top right logon box where the social options are immediately displayed?

<img width="528" alt="Screenshot 2020-07-16 at 10 15 34" src="https://user-images.githubusercontent.com/12694270/87653368-57f05980-c74d-11ea-886b-3ce5e0474c75.png">
displayed?

[2020-07-16 09:58] PavelTkachenko opened #9347 "Users with long names break down layout in `dashboard/user_followers`"
**Describe the bug**
If you have followers with long names, `/dashboard/user_followers` page layout breaks down both on mobile and desktop screens.

**To Reproduce**
1. Ask someone with long name to follow you
2. Open `/dashboard/user_followers`

Go to `/dashboard/user_followers`

**Expected behavior**

We should truncate name:

VENKATALAKSHMINARAYANACHENN => VENKATALAKSHMIN..

**Screenshots**
![D

[2020-07-16 10:35] rhymes commented on #9346
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-16 10:36] rhymes commented on #9347
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-16 11:03] leewynne opened #9348 "Allow members to invite other members"
As part of the new invite devise functionality, for smaller communities it would be great if we could allow members to invite new members. I was thinking of clearly displaying this to them either in the feed or the sidebar as a quick action, just fill the field in for email and name inline with the element and then hit send, as turnkey as possible.

Thanks!

[2020-07-16 12:31] jacobherrington commented on #9348
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-16 12:41] #9330 closed

[2020-07-16 13:17] nickytonline commented on #9342
I'm able to reproduce this as well. It looks like the Preact component is rendering twice for some reason. It could be related to InstantClick.

![image](https://user-images.githubusercontent.com/833231/87675300-34291580-c745-11ea-890a-25edf81f60bf.png)

[2020-07-16 13:40] nickytonline commented on #9342
Looks like the reading list was missed during the Preact upgrade somehow.

In the file https://github.com/forem/forem/blob/master/app/javascript/packs/readingList.jsx#L10

[code]

should be

[code]

[2020-07-16 13:41] nickytonline commented on #9342
Do you want to take this on @cainwatson? It's just the one line change mentioned above. Tests are not required here.

[2020-07-16 13:43] nickytonline commented on #9342
For more information on this see the [Preact Upgrade Guide](https://preactjs.com/guide/v10/upgrade-guide/) under the part about `render()`.

[2020-07-16 14:45] #9269 closed

[2020-07-16 15:28] #9234 closed

[2020-07-16 16:28] #9116 closed

[2020-07-16 17:25] fdoxyz opened #9358 "Connect pending requests sidecar on iOS small screens"
**Describe the bug**

There's a problem with the way the pending requests are displayed in the sidecar for small screens on iOS. This does not happen on an Android phone or in the responsive mode for the dev tools on Safari for Desktop. I can only see these problems in Safari & other browsers in iOS, where the background is mixed with the chat itself

**To Reproduce**

1. Open web browser or nativ

[2020-07-16 18:57] JessicaG commented on #3636
+1 on organization series, our team does a lot of collaborative work and would be great to credit both authors. 💯

[2020-07-16 19:03] cainwatson commented on #9342
@nickytonline Sure! I'll get on it shortly.

[2020-07-16 19:38] mikenath223 commented on #5018
Good day,

I have an idea on how to tackle this issue. May I work on this?

Best Regards,
Michgolden Ukeje

[2020-07-16 21:12] lisasy opened #9361 "[Notifications] Update sidebar filter to make it more consistent with`crayons-block-links`"

[2020-07-16 22:01] juliannatetreault commented on #9361
To our awesome contributors, please note that this issue will be worked on by a Forem team member and is not up for grabs.

[2020-07-16 22:47] mzaini30 opened #9362 "Reactions pane partially overlaps sidebar on Android"
![Screenshot_2020-07-17-06-43-55-32](https://user-images.githubusercontent.com/7939342/87729983-2d5bda80-c7f9-11ea-9473-7ddf3db75550.png)

**My smartphone**

- OS: Android
- Realme C2
- Browser: Chrome

[2020-07-17 02:42] citizen428 commented on #9362
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-17 02:57] cainwatson commented on #9195
Hey @joshpuetz, I ran into this as well and was running the latest code on master.

[2020-07-17 03:10] Arun4033622 opened #9365 "Redirect docs.dev.to to docs.forem.com"
Right now, the docs are available in both [docs.dev.to](https://docs.dev.to/) and [docs.forem.com](https://docs.forem.com). Why not redirect [docs.dev.to](https://docs.dev.to/) to [docs.forem.com](https://docs.forem.com)?

[2020-07-17 04:16] pashagray commented on #9347
Assign it to me please, I'll fix it.

[2020-07-17 04:28] pashagray commented on #7086
I think issue can be closed, problem has been solved. Details: #9269

[2020-07-17 04:53] narender2031 commented on #9336
@5t3ph I am not able to reproduce this bug locally. Can you please create a short video/gif for this bug. That will help us. Thanks.

[2020-07-17 05:44] rhymes commented on #5018
@mikenath223 sure, what's your plan? I'm going to assign you the issue

[2020-07-17 05:47] rhymes commented on #9365
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-17 05:48] rhymes commented on #9347
Done @pashagray!

[2020-07-17 05:54] rhymes commented on #7086
@pashagray not sure it's the same issue though, #9269 is about the profile page, this is about the difference between the shown date in the article show page and its HTML title attribute

[2020-07-17 10:07] leewynne opened #9367 "Allow a new Forem to toggle suggested users to follow on or off. When on, then it over rides the default algorithm."
This feature request is related to the amazing work completed in PR #7637
https://github.com/forem/forem/pull/7637

At the moment, the platform over rides the default user list when there has been some user activity, then switches over to the automated follower list, problem is that then that list can display just a single user.

I have suggested that for now there is a simple toggle switch that a

[2020-07-17 10:08] Ridhwana commented on #9367
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-17 11:53] #9342 closed

[2020-07-17 14:04] iverve commented on #9332
Hello Dev.to team,

Why I am facing this problem ofter? Can you plz resolve asap you can

[2020-07-17 14:51] joshpuetz commented on #9254
Confirmed that this also happens with the latest Safari tech preview (v110) on Catalina/MacOS 10.15

[2020-07-17 14:59] imdhruv99 opened #9368 "Can not write post"
Dear sir,

I can not create any blog post using Dev.to website or mobile application. Kindly resolve as soon as possible

![Screenshot (113)](https://user-images.githubusercontent.com/60540925/87801358-40a88d80-c86d-11ea-842c-678ff27b3f76.png)

[2020-07-17 15:00] ryanlanciaux commented on #423
I'm wondering if there's been any more thought on this one. Even when it's not a case of controversial, or heated discussion, it'd be nice to be able to disable certain comments as a post author. I understand that one of the goals for dev.to is foster community and disabling conversation doesn't really move that goal forward.

That said, it's pretty unfortunate on posts that are announcing a new o

[2020-07-17 15:13] rhymes commented on #9368
Hello @imdhruv99, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-07-17 15:13] #9368 closed

[2020-07-17 15:57] michael-tharrington commented on #8757
Seemingly related to this, a DEV user wrote in just recently to point out that the info in their podcast was not being processed. The show notes are not visible on their show, for example - https://dev.to/startupengineering/signalai-why-startups-with-academics-build-great-products.

_NOTE: They gave me permission to share this info._

[2020-07-17 17:05] maestromac commented on #9254
I think what's happening is that service work is checking for cached shelltop and shellbottom. It couldn't find it after us emptying the cache and terminated early.

https://github.com/maestromac/dev.to/blob/master/app/views/service_worker/index.js.erb#L45-L49

[2020-07-17 17:16] fdoxyz commented on #9254
I had tested deleting app data on Chrome and this didn't happen, but I just tried it out again with Firefox by deleting all data manually (one by one on the image below) and I ran into the bug there too.

I'll look into this suggestion @maestromac thank you!

![Screen Shot 2020-07-17 at 11 13 43](https://user-images.githubusercontent.com/6045239/87813189-a7528a80-c81e-11ea-94e3-957f815a22db.png)

[2020-07-17 19:25] joshpuetz commented on #9254
I can't get this to happen in Safari with an incognito window by the way! (I found this inadvertently while trying to debugging handing 404 pages in Safari)

[2020-07-17 20:19] nickytonline commented on #9254
I haven't had time to look at this yet and I'm off next week. I'll take a peek when I'm back from vacation if this is still open.

[2020-07-17 23:38] mzaini30 opened #9374 "Text overflows in the article page"
**Problem**

![Screenshot_2020-07-18-07-35-49-88](https://user-images.githubusercontent.com/7939342/87838380-74190580-c8c9-11ea-9346-d58bd0a02d63.png)

![Screenshot_2020-07-18-07-32-43-03](https://user-images.githubusercontent.com/7939342/87838392-7b401380-c8c9-11ea-8b12-3c99f3d4057b.png)

**Dev post url**

<https://dev.to/kevinast/responsive-svelte-exploring-svelte-s-reactivity-5cen>

**My device

[2020-07-18 03:16] emgoto commented on #8785
Hi! Tried to reproduce this issue on Firefox but I couldn't, maybe it's already been fixed?

![image](https://user-images.githubusercontent.com/33337378/87843554-ed7c1c80-c8f8-11ea-968c-1e5cec02ad3a.png)

[2020-07-18 03:20] emgoto commented on #7159
It looks like we currently do show `Podcasts` and other links in the logged out view, is there anything left to do on this ticket?

[2020-07-18 05:34] Pratham31 opened #9376 "Can't able to post Story :("
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-07-18 06:38] fleskesvor commented on #242
I would also prefer an option to log in with my GitLab account. GitHub is closed source and proprietary, and not in line with the ideals of dev.to/forem, in my opinion.

[2020-07-18 08:06] rhymes commented on #9374
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-18 08:09] rhymes commented on #7159
Good point and good catch @emgoto!

The current sidebar looks like this for unauthenticated users:

![Screenshot_2020-07-18 DEV Community](https://user-images.githubusercontent.com/146201/87848251-a8e38780-c8de-11ea-9785-6521515b6665.png)

@leewynne does this cover your initial request? is there anything else missing?

[2020-07-18 08:10] rhymes commented on #9376
Hello @Pratham31, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-07-18 08:10] #9376 closed

[2020-07-18 10:00] VladimirMikulic commented on #8904
@rhymes I am experiencing a similar issue. It just keeps loading and never loads. What are you fetching guys ;)

![infinite](https://user-images.githubusercontent.com/35997844/87850146-4a260a00-c8ee-11ea-8f7c-3df4d3b18753.png)

[2020-07-18 10:38] emgoto commented on #382
I was curious where DEV is currently at with e2e testing? I can see that Cypress [current supports Chrome / Edge / Firefox (in beta)](https://docs.cypress.io/guides/guides/launching-browsers.html#Browsers).

[2020-07-18 11:07] djsiddz2 commented on #9374
I did some quick investigation on the link provided by @mzaini30: There are a few code blocks `<pre class="highlight">` which do not have a parent `<div class="highlight">`. Those are the ones where the text overflows generally. This should help anyone starting to work on this issue.

[2020-07-18 11:42] emgoto commented on #4712
This may be fixed now - I can't reproduce it:

![image](https://user-images.githubusercontent.com/33337378/87851806-86358b00-c93f-11ea-90ec-1532e9a629a7.png)

[2020-07-18 11:44] emgoto commented on #4745
Looks like this may be related to #1122

[2020-07-18 11:58] emgoto commented on #4027
Looking at Chris's profile now, maybe this one has been fixed:

![image](https://user-images.githubusercontent.com/33337378/87852030-d3b2f780-c941-11ea-8cdf-ee8e2627cdcb.png)

[2020-07-19 14:50] mzaini30 opened #9390 "Adding passing right on pre code"
It's in Dev:

![Screenshot_2020-07-19-22-45-16-96](https://user-images.githubusercontent.com/7939342/87877599-d54bf080-ca11-11ea-9b9b-efc287d4e3b1.png)

There's no padding right in pre code.

In my mind, padding right in pre code looks nice:

![Screenshot_2020-07-19-22-45-26-67](https://user-images.githubusercontent.com/7939342/87877641-f9a7cd00-ca11-11ea-9c79-1b714f82f235.png)

So, this is CSS co

[2020-07-19 15:29] bencgreenberg commented on #9327
I opened a PR to address this issue. I misnamed my working branch 9237, but it's really for this issue 9327. 😄

[2020-07-19 15:32] rhymes commented on #9390
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-20 02:09] imdhruv99 commented on #9368
I have e-mailed on yo@dev.to before 3 days, and i was waiting that my issue will be resolved but i did not resolved yet. Even i did not received any response email from your end. I want to write some new blogs and you are now resolving my issue.
Sir, very poor service by your end. I am disappointed ☹️

[2020-07-20 02:29] imdhruv99 opened #9394 "Can not write new Blog, issue did not resolved yet"
@rhymes

![87801358-40a88d80-c86d-11ea-842c-678ff27b3f76](https://user-images.githubusercontent.com/60540925/87893880-ce979a80-ca5e-11ea-8f4f-91f505742cf3.png)

I have reported this issue before and you told me to mail,
I have e-mailed on yo@dev.to before 3 days, and i was waiting that my issue will be resolved but i did not resolved yet. Even i did not received any response email from your end. I

[2020-07-20 03:26] Arun4033622 commented on #9390
Can I take this up?

[2020-07-20 04:00] crimson-med commented on #9327
@bencgreenberg Just curious, would that also convert the IDN to the punycode so that links like this would also work?

[code]

[2020-07-20 04:02] bencgreenberg commented on #9327
Hi, @crimson-med, Yes it would. I also included a test to specifically check for that URI:

[code]

[2020-07-20 04:07] crimson-med commented on #9327
Wow that's awesome thank you for your hard work!
Looking forward to be able to use those short fancy URLS.

[2020-07-20 07:57] #9394 closed

[2020-07-20 07:59] rhymes commented on #9390
@Arun4033622 yeah! I'll assign you the issue

[2020-07-20 08:24] rhymes commented on #4027
@emgoto this depends on the interaction between custom colors defined in one's profile and the theme of the visiting user. Not sure if it's completely fixed.

@realabbas can you confirm?

[2020-07-20 08:28] realabbas commented on #4027
Yes @emgoto this issue has been resolved.

[2020-07-20 08:53] rhymes commented on #4027
Thanks @realabbas and @emgoto !

[2020-07-20 08:53] #4027 closed

[2020-07-20 09:10] Ridhwana commented on #8785
Hi @emgoto. I've done some checks and I'm confirming as per your comment above that this looks like it has been fixed. I'll be closing this issue, thanks 😊

[2020-07-20 09:10] #8785 closed

[2020-07-20 10:07] emgoto commented on #4686
I'd love to give this a go if Michael hasn't had the chance - I was wondering where exactly the code for rendering the code block component lives?

[2020-07-20 10:40] abenettt opened #9397 "Add more oauth providers"
**Is your feature request related to a problem? Please describe.**
With forem being a platform that enables all kind of communities and not just DEVelopers anymore I think it is a good idea to enable login with more providers than just twitter and github. Although many people have twitter, github is more developer centric.

**Describe the solution you'd like**
I'd like to propose adding more oauth

[2020-07-20 10:47] veselinastaneva opened #9398 "Dev.to Posts View counts in Dashboard are not changing"
**Describe the bug**

Posts View counts in Dashboard are not changing in stats for a couple of days. I have entered my post from different devices and the View count didn't change at all. The number is updated sometimes but it usually gets stuck for 3-4 days

**To Reproduce**

1. Go to dev.to > your profile > Dashboard > Views
2. Enter your last post from another dev. to profile
3. Hard Refresh yo

[2020-07-20 10:48] rhymes commented on #4686
Hi @emgoto, the code is rendered server side through https://github.com/forem/forem/blob/master/app/labor/markdown_parser.rb - the syntax highlighting is added by https://github.com/forem/forem/blob/803d482f90e58a36f86aab7909e5293b31edbf14/app/labor/markdown_parser.rb#L15

In the UI the code is styled by https://github.com/forem/forem/blob/master/app/assets/stylesheets/syntax.scss

We do have a "c

[2020-07-20 10:53] rhymes commented on #9397
Hi @abenettt, thanks for the feature request.

I'm going to close this as we are already working on adding "sign in with Apple" - see https://github.com/forem/forem/issues/7445 and https://github.com/forem/forem/pull/7952

and there's already an open ticket about adding login options: https://github.com/forem/forem/issues/7087

Please add your comment there, thank you!

[2020-07-20 10:53] #9397 closed

[2020-07-20 10:54] rhymes commented on #9398
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-20 11:08] emgoto commented on #3244
👋 I'd like to give this one a crack

[2020-07-20 11:29] rhymes commented on #3244
Go ahead @emgoto, thank you!

[2020-07-20 14:09] #7905 closed

[2020-07-20 15:52] fdoxyz commented on #8908
Whoops, GitHub automatically closed this because of the tag in the web PR.

Opening the issue again to make sure we keep track of it and will loop back around to close as soon as this PR is released: https://github.com/thepracticaldev/DEV-ios/pull/229

[2020-07-20 15:59] leewynne commented on #7159
Hi. It was updated a while ago for non auth 👍🏼

[2020-07-20 16:32] #7159 closed

[2020-07-20 16:34] narender2031 commented on #5278
I was also tried to reproduce it on Firefox. but this issue is not reproducing locally.

[2020-07-20 17:13] benhalpern commented on #7877
First thing that comes to mind as a concern: This is one more dependency on DNS, eh?

So to think of this as `api.anyforem.com` we need to ensure the DNS for the subdomain is set up properly.

... And maybe adding that as a step is fine, and maybe we want to make wildcard subdomain part of the generic DNS we ask for that allows us to make this work, To ensure that we _can_ add functionality that t

[2020-07-20 19:28] maestromac commented on #382
@emgoto we're still using RSpec + capybara at the moment. We definitely want to give Cypress a try but we haven't devoted resources to it yet.

[2020-07-20 20:22] emgoto commented on #3244
How do I get the spec to run? If I run `bundle exec rspec spec/workers/notifications/new_reaction_worker_spec.rb` it times out:

[code]

Nicolas added the `post_reaction_notifications` to the "users" table but also mentioned something about organisations, do I need to add to another table as well?

[2020-07-20 20:55] sahaldos1 commented on #5932
Hi Team, is it okay if I take a look at this issue?

[2020-07-20 21:24] keithrbennett commented on #5278
I just checked again on a few browsers, including Chrome Version 84.0.4147.89 (on Mac), and I can no longer reproduce the problem. Feel free to close this issue.

[2020-07-20 21:35] fgiuliani opened #9408 "API: Sandbox or Testing instance to use in AppVeyor"
Hello!

I'm contributing on an open source project, a .NET interface for Forem API
https://github.com/Turnerj/forem-dotnet

Do you have plans to create any kind of sandbox for Forem API so it is possible to run tests with a CI calling it?
Maybe a container with the API and a test database with data seeded to call?

Thank you!

[2020-07-21 00:37] jessleenyc opened #9412 "Connect invite not visible w/ all nav bar settings"
**Describe the bug**
When a user has the UX setting for the nav bar to be 'static at top of page' their chat channel invites get covered up.

**To Reproduce**

**Screenshots**
![](https://p193.p3.n0.cdn.getcloudapp.com/items/8Lu7Lowg/Image%202020-07-20%20at%208.33.43%20PM.png?v=dcd03907aa763a65261d9b10d233e0d4)

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

[2020-07-21 02:07] citizen428 commented on #5932
@sahaldos1 Thanks for volunteering, I've assigned you the issue now :smiley:

[2020-07-21 02:15] citizen428 commented on #7877
@benhalpern All valid concerns and I don't have a problem with leaving it as is. If you want to get a bit of an idea of the complexities involved, this is good basic writeup:

https://blog.appsignal.com/2020/03/04/building-a-rails-app-with-multiple-subdomains.html

[2020-07-21 02:50] citizen428 commented on #9408
Thanks for the issue @fgiuliani! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need h

[2020-07-21 02:52] ezequielfarrell opened #9415 "My profile is not working"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-07-21 03:09] #9415 closed

[2020-07-21 04:59] imdhruv99 commented on #9394
When will my issue be resolved?

On Mon, Jul 20, 2020 at 1:28 PM rhymes <notifications@github.com> wrote:

[2020-07-21 06:11] citizen428 commented on #9288
Hi @akhil-naidu, any progress on this? Can we close this issue now?

[2020-07-21 06:34] #9288 closed

[2020-07-21 06:51] rhymes commented on #5278
Thanks @narender2031 @keithrbennett

[2020-07-21 06:51] #5278 closed

[2020-07-21 06:54] rhymes commented on #3244
@emgoto can you make sure you have started Elasticsearch? What happens if you type `
curl http://localhost:9200` on the command line? If it doesn't work you should make sure the ES server is up:

- `brew services start elasticsearch-oss` if you have macOS
- https://www.elastic.co/guide/en/elasticsearch/reference/7.5/targz.html#install-linux for Linux

[2020-07-21 09:21] ruthvik-droid opened #9417 "Forem"

[2020-07-21 10:32] rhymes commented on #7760
Closed by https://github.com/forem/forem/pull/9375

[2020-07-21 10:32] #7760 closed

[2020-07-21 10:47] rhymes commented on #9412
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-21 10:59] #9417 closed

[2020-07-21 12:13] narender2031 commented on #9307
@Amorpheuz This works fine for me locally. Can you please check again is this issue is still there?

[2020-07-21 14:14] Amorpheuz commented on #9307
Hi! I have been unable to reproduce it on local machine too. I am not sure, the other person (with whom I noticed the issue) might be comfortable getting a random dm for testing on live. 😅

[2020-07-21 15:29] narender2031 commented on #9307
😅 I created my dummy account and tested locally. It works fine. I think we can close this issue now.

[2020-07-21 17:09] kkgthb commented on #3455
I'd also like to be able to backdate a post.  I realized that a series needed a "table of contents."  On my blog, I used the "date" front-matter property to bump it up to be first in my series.

But I can't figure out a way to change its date in Dev so that it shows up as the 1st post in the series auto-generator widget.

I don't want to delete and redo all my posts in DEV because I like my "origi

[2020-07-21 19:02] leewynne commented on #8908
🤓

[2020-07-21 19:47] Veggier commented on #9287
I will try to work on this issue

[2020-07-21 20:01] rhymes commented on #9287
Hi @Veggier, this feature hasn't been approved yet :) - see https://github.com/forem/forem/issues/9287#issuecomment-657557578 for an explanation - I think we should additionally wait for the designers to weigh in as this pertains to a larger conversation on how the user's profile should look like.

Thanks for offering though, we can pick it up later on when we've reached a consensus

[2020-07-21 20:46] Veggier commented on #9287
ok

[2020-07-22 00:31] eclectic-coding commented on #987
Hey @nickytonline I would love to help on this one. What is the status?

[2020-07-22 05:25] bornmay opened #9424 "Code Overflow and Page Breakout in Article Screen"
### The Issue

While visiting the article page which has a code format in it.
example. ```   ```
[code]

And the scrolling isn't working in the code format, here is the Preview

![screencapture-dev-to-zinox9-git-github-cheatsheet-22ok-1595395137405](https://user-images.githubusercontent.com/62112099/88137641-9e402f80-cc09-11ea-9974-34decbcffc45.png)

Here is the page breakout
![Screenshot from 202

[2020-07-22 06:02] bencgreenberg opened #9425 "Title to Slug Creation Does Not Account for Internationalization"
**Describe the bug**

Currently, forem's `Article.title_to_slug` method uses Rails' built-in `#parameterize` to build slugs for articles. The problem is that `#parameterize` is awful with the context of forem, which is a user community from around the world, potentially building new content in any number of languages and character types.

The common route to address this is to add custom `I18n` tr

[2020-07-22 06:16] rhymes commented on #9425
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-22 06:51] rhymes commented on #987
Pinging @ludwiczakpawel about this as well as he might give some insights on where and how to start on this road

[2020-07-22 07:00] rhymes commented on #9424
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-22 07:00] rhymes commented on #9424
Hi @8bithemant, I believe this to be a duplicate of https://github.com/forem/forem/issues/9374

Let me know if this is not the case.

The scrolling issue seems to be different though, can you link the specific post?

[2020-07-22 07:26] AlbertoPdRF commented on #217
Hey team, any update on this?

[2020-07-22 08:02] 8bithemant commented on #9424
Hii, @rhymes, I checked for the issue #9374 and found it a bit similar, but the scrolling issue is not mentioned though.

Here is the link the post where I had scrolling kind of issue

https://dev.to/zinox9/git-github-cheatsheet-22ok

[2020-07-22 08:06] lakshyabatman opened #9427 "Word Wrap in title"
**Describe the bug**

I saw a post with weird title of long "<" string and turns out that it exposes a bug, that there isn't any word wrap or title limit.

**To Reproduce**

- go to https://dev.to/calin92540842/-39da , this account has some test blogs with some vert long titles.

**Expected behaviour**

The server should throw bad request message or enforced word-wrap in frontend.

**Screenshots**

[2020-07-22 08:12] rhymes commented on #9424
@8bithemant my scrolling works fine, it's just the text to be outside the container. What browser do you have? I use Firefox 79:

![scrolling_code](https://user-images.githubusercontent.com/146201/88152132-e0ff0900-cc03-11ea-88b4-44df58bb354a.gif)

[2020-07-22 08:14] rhymes commented on #9427
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-22 08:14] rhymes commented on #9427
Hi @lakshyabatman, i would suggest adding a word wrap on the frontend. I've assigned you the issue as well

[2020-07-22 08:15] lakshyabatman commented on #9427
Awesome @rhymes, I'll send PR as soon as possible, thankyou 🚀

[2020-07-22 08:18] rhymes opened #9428 "Deleted comment appears in search results"
**Describe the bug**

A deleted comment appears in search results

**To Reproduce**

1. Go to https://dev.to/search?q=python%20cheat%20sheet&sort_by=published_at&sort_direction=desc
1. click on "comments" in the sidebar
1. scroll to the comment titled “Python Cheat Sheet”
1. click on it
1. get the 404 page

**Expected behavior**

I'd expect the deleted comment - https://dev.to/mehdico/comment/125h

[2020-07-22 08:40] iamjoross commented on #9248
@PrimeNoodles , are you working on this? I would want to work on it since it is unassigned @nickytonline :)

[2020-07-22 08:41] citizen428 commented on #9428
To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @forem/oss and we will follow up within 3 business days.

For full info on how to contribute, please check ou

[2020-07-22 10:37] rhymes opened #9433 "Back button in the search results page is broken when filters are used"
**Describe the bug**

After searching for a results, and filtering the results, the back button is broken

**To Reproduce**

1. Go to https://dev.to/search?q=python
1. Choose one of the filters
1. Hit the browser's back button
1. The browser will land back on the homepage, not on the non filtered results page

**Expected behavior**

I expect the back button not to be broken and going back resultin

[2020-07-22 10:37] rhymes commented on #9433
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-22 10:40] SoluLab-Blockchain opened #9434 "Unable to login from Twitter"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-07-22 10:52] rhymes commented on #9434
Hi @SoluLab-Blockchain, what are your DEV and/or Twitter usernames?

[2020-07-22 11:10] AlbertoPdRF commented on #8900
I believe this one should be easy to fix, changing [this line](https://github.com/forem/forem/blob/master/app/assets/javascripts/initializers/initializeReadingListIcons.js#L94) to:

[code]

I'm happy to submit a PR with the change!

[2020-07-22 11:15] emgoto commented on #3244
You're right, I didn't have that running. Thanks!

My other question - Nicolas added the `post_reaction_notifications` to the "users" table but also mentioned something about organisations, I'm wondering how the two relate to each other.

Do I also need to add `post_reaction_notifications` to the `Organizations` table? In that case how would I update it from the UI?

Alternatively do I always send

[2020-07-22 11:18] AlbertoPdRF commented on #9398
I believe this is a duplicate of #8425.

[2020-07-22 11:28] Oghenebrume50 commented on #8398
@nickytonline yes this was fixed by #8420 and the current live platform reflects such,  this shouldn't be an issue anymore.

[2020-07-22 11:53] rhymes commented on #8900
@AlbertoPdRF I've assigned you the issue

[2020-07-22 12:00] rhymes commented on #9398
Thanks @AlbertoPdRF!

[2020-07-22 12:00] #9398 closed

[2020-07-22 12:02] rhymes commented on #8398
@Oghenebrume50 if you add "Closes #number" or "Fixes #number" in the description, the issues will automatically close when the PR is merged.

Thank you for unearthing this issue :)

[2020-07-22 12:02] #8398 closed

[2020-07-22 12:10] rhymes opened #9436 "Padding in the profile page work section is a bit small"
**Describe the bug**

We should probably increase the right padding for text in the profile page header section on the right side

![Screenshot_2020-07-22 Nitya Narasimhan - DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/88174525-b5d8e180-cc24-11ea-8481-c85dd1bd5a00.png)

**To Reproduce**

See https://dev.to/nitya profile

**Expected behavior**

A bit more padding on the ri

[2020-07-22 12:11] rhymes commented on #9436
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-22 12:38] emgoto commented on #2630
Looks like there may be some progress on this one from the Rouge side of things: https://github.com/rouge-ruby/rouge/pull/1426

[2020-07-22 12:46] rhymes commented on #2630
@emgoto thanks!!! I'm going to subscribe to the PR to keep track of when it's merged and eventually releaesd

[2020-07-22 12:55] #8900 closed

[2020-07-22 13:07] nombrekeff opened #9439 "Duplicate header and footer after Connect Twitter Account"
**Description:**
I just connected my twitter account to my dev account, after twitter redirected back to dev the header and footer are duplicated, as seen in the screenshots. The dev console showed no errors.

**To Reproduce**

1. Log in to your dev account
2. Go to `https://dev.to/settings`
3. Click on Connect Twitter Account
4. After twitter redirects back, the header and footer is duplicate

**

[2020-07-22 13:12] #9412 closed

[2020-07-22 13:31] rhymes commented on #9439
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-22 13:32] rhymes commented on #9439
Hi @nombrekeff, I tried to replicate but was unsuccesful, I see you're on the dashboard page in the screenshots, did you go there after connecting the account?

[2020-07-22 13:34] nombrekeff commented on #9439
It redirected me automatically, I've noticed it redirects me to `https://dev.to/users/sign_up`.

Another thing I just notice is It still shows the connect twitter button after connecting.

PD: I can replicate every single time if you need more info, I can also share a video of the process if you want to

[2020-07-22 13:44] rhymes commented on #9439
that would be very helpful, thank you @nombrekeff !

[2020-07-22 13:48] nombrekeff commented on #9439
Sure, here you go: https://ufile.io/9zo4b1ru

If you need more info, I will be glad to help

[2020-07-22 14:00] AlbertoPdRF opened #9442 "Automate maintainers comment on new issues"
**Is your feature request related to a problem? Please describe.**

When a new issue is opened, a maintainer manually comments it with a template. That's some annoying manual work that could be easily avoided!

**Describe the solution you'd like**

A GitHub Action that automatically posts the comment.

**Describe alternatives you've considered**

Keep doing the work manually.

**Additional context

[2020-07-22 14:04] rehanGH commented on #9436
@rhymes Can I be assigned to this issue?

[2020-07-22 14:31] rhymes commented on #9442
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-22 14:33] Veggier commented on #9184
I will work on this issue

[2020-07-22 14:39] Zhao-Andy commented on #9184
@Veggier thanks for wanting to work on this! We've tagged this with `Forem team` though because it's an issue in our database records, and needs to be resolved manually there.

[2020-07-22 14:42] Veggier commented on #9436
got it.

[2020-07-22 14:42] Veggier commented on #9436
I will like to work on this issue

[2020-07-22 14:45] rhymes commented on #9436
Thanks @Veggier, I will assign you the issue

[2020-07-22 14:49] #9079 closed

[2020-07-22 15:22] 8bithemant commented on #9424
In my case I still have the scrolling issue Have a view
![Screenshot from 2020-07-22 20-51-03](https://user-images.githubusercontent.com/62112099/88195053-2c91d100-cc5d-11ea-923c-d32dfceb708f.png)

This is a fresh ss from my computer

[2020-07-22 15:44] rhymes commented on #9439
Thanks @nombrekeff - I took the liberty of downloading it and converting to a GIF so the issue is immediately clear to the contributors

![Grabacion-de-pantalla-2020-07-22](https://user-images.githubusercontent.com/146201/88197500-de6fd400-cc42-11ea-9a1a-628608ffe383.gif)

[2020-07-22 15:46] thomasbnt opened #9448 "Second navbar on CodeLand is bugged"
**Describe the bug**
When you scroll on [CodeLand page](https://dev.to/codeland) and stop at the live view, the second navbar flashing.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://dev.to/codeland
2. Scroll down to live view
4. See the second navbar flashing

**Expected behavior**

No flashing.

**Screenshots**
![dev to_codeland](https://user-images.githubusercontent.com/1

[2020-07-22 15:56] nombrekeff commented on #9439
Oh thanks, I forgot about doing that, my bad!

[2020-07-22 16:10] sarthology commented on #9358
It's fixed.

[2020-07-22 16:25] Ridhwana commented on #9448
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-22 16:31] joshpuetz commented on #9448
This only happens in Chrome as far as I can tell, and not in Safari or Firefox

[2020-07-22 16:36] vaidehijoshi commented on #6914
Wanted to circle back here and provide an update: I dug into this a bit a few weeks ago during our "cool down" period, and am fairly certain the issue is happening on the JS/preact side. However, it's really hard to debug exactly what the issue is without proper devtools.

I believe that @nickytonline is working on modifying the webpack config to automatically load `preact/debug`, so that the devt

[2020-07-22 20:30] MichaelSolati commented on #4686
@emgoto please go for it, I never could get the docker environment to work to develop on. I can't do the regular install process as my corp computer blocked a lot of the required installs.

[2020-07-22 21:02] BogDAAAMN commented on #4024
Same here on **Safari 13** (on iOS 13.4.1) and reproduced on **Firefox 78.0.2** (on MacOS 10.14.6) on different sizes.

I kept looking to fix the problem, but can't find anything. If anyone has any pointers I would love to jump in and help.

![dev to_connect](https://user-images.githubusercontent.com/22895284/88228363-5e139800-cc6f-11ea-86a0-792b34c4e1db.png)

[2020-07-23 00:58] boddumanohar opened #9457 "Not authorised error when trying to access /internal/config"
**Describe the bug**
I am trying to setup forem using containers. I followed the instructions as listed here: https://docs.dev.to/installation/containers/

I've also setup GitHub authentication and it works.
after the authentication, the UI shows
[code]
when I click on the setup, I am getting:
[code]
I searched through your documentation, but I couldn't find a reason why I am seeing this.

If ther

[2020-07-23 02:05] 8bithemant commented on #9424
Hii, @rhymes also take a view of my Phone too..

![Screenshot_2020-07-23-07-34-20-13](https://user-images.githubusercontent.com/62112099/88246087-07ca4780-ccb7-11ea-92ad-4f118f83264d.jpg)
The screen breaking and kinda issue occurs here too...

[2020-07-23 02:35] citizen428 commented on #9457
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-23 02:37] citizen428 commented on #9457
@boddumanohar To have a user that can both view and edit the settings at `/internal/config` you can do the following in the Rails console:

[code]

[2020-07-23 03:21] narender2031 commented on #9307
@rhymes we can close this issue.

[2020-07-23 05:23] boddumanohar commented on #9457
@citizen428  thanks for your reply, I tried to that, now I am able to access `/internal/config`. but when I try to update the values I get this error:
[code]

[code]

[2020-07-23 07:26] abenettt opened #9461 "Install gitdocs as a devDependency"
**Is your feature request related to a problem? Please describe.**
Currently running the documentation locally requires one to install the tool `gitdocs` globally or running it via `npx` or `yarn dlx`.

**Describe the solution you'd like**
Installing `gitdocs` as a devDependency allows the version to be specified and the documentation can still be started by running `yarn gitdocs serve` or `yarn r

[2020-07-23 07:27] Amorpheuz commented on #9442
I would love to work on this if possible! I have been recently experimenting a ton with GitHub actions and workflows.

[2020-07-23 07:34] BEST4YOUOFFICIAL opened #9462 "IAM DON'T SEE MY POST AND NO EDIT MY PROFILE"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-07-23 07:34] #9462 closed

[2020-07-23 07:36] #9358 closed

[2020-07-23 07:55] #9307 closed

[2020-07-23 07:58] rhymes commented on #9461
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-23 07:59] rhymes commented on #9461
Thanks @abenettt, make sense!

I think the reason why we stuck to the global installation was because we followed https://gitdocs.netlify.app/installation/ which specifies to install it as a global dependency.

We should probably revisit that decision

[2020-07-23 09:25] abbasogaji opened #9464 "DEV.TO API - Add an optional parameters to GET minimal detail of articles fetched"
**Is your feature request related to a problem? Please describe.**
Add an optional parameters to GET articles minus body_markdown (i.e just the links and images)

**Describe the solution you'd like**
for example /articles/me?minimal=true (only fetches title, cover image and link)

**Describe alternatives you've considered**

**Additional context**

[2020-07-23 10:21] ludwiczakpawel commented on #987
I think we can close this issue - [we've started implementing `rem` units](https://github.com/forem/forem/blob/master/app/assets/stylesheets/config/_variables.scss#L69-L77) with new styling a while ago.. It's still long path ahead of us to be 100% on `rem`s but we're getting there gradually while updating all the components and generally frontend codebase :)

[2020-07-23 10:24] mzaini30 commented on #9374
![Screenshot_2020-07-23-18-22-11-14](https://user-images.githubusercontent.com/7939342/88276402-91a6fe80-cd11-11ea-895a-050f4b3779ff.png)

I got it again.

I think, it's great to add this CSS:

[code]

[2020-07-23 10:45] citizen428 commented on #9457
The reason for this is the `before_action` called `extra_authorization_and_confirmation`. it checks for the presence of a confirmation message:

[code]

There should be a field for setting this in the form.

[2020-07-23 10:58] boddumanohar commented on #9457
Hi @citizen428 . I didn't fill that field because its not marked as required. Thanks, Will create PRs for the same.

[2020-07-23 10:58] boddumanohar commented on #9457
Thanks this issue is resolved now.

[2020-07-23 10:58] #9457 closed

[2020-07-23 11:21] boddumanohar commented on #9457
@citizen428 , In the documentation I see the instructions for accessing admin page. https://docs.dev.to/backend/admin/#accessing-the-admin-panel

In here, it tells that to get full access to the admin page. I just need to assign the super_admin role:
[code]
In that case, the change that you requested to add to the documentation which is:
[code]
is this still required?

[2020-07-23 11:32] kirananto opened #9465 "JS built by webpacker is not being served."
**Describe the bug**

Currently, when we click on the *Write a Post* button, and start writing a new post, we are not able to publish the post.
Along with publishing the post, other actions like preview or save as draft also doesn't work. So I was just inspecting the frontend side of it and seems like there's even no event fired from the button click to begin with. FYI We just set up the config no

[2020-07-23 12:19] leewynne opened #9467 "Add more login options to global-signup-modal"
**Is your feature request related to a problem? Please describe.**

This is an optimization of the new devise 'invite' functionality. At the moment it isn't present on all sign up modals. This is just a request to add it to the global sign up modal used throughout the platform when trying to perform an action that requires login (until authentication as a whole is refactored).

This can help small

[2020-07-23 14:06] rhymes commented on #9442
@Amorpheuz hi! I'm sorry if I didn't assign this sooner but @AlbertoPdRF expressed the intention to write the implementation of it. Maybe, if it's doable you can use this or other means of communication to coordinate a solution?

The purpose here is to leave a comment like https://github.com/forem/forem/issues/9442#issuecomment-662488130 under the initial post in a issue.

The markdown is the foll

[2020-07-23 14:09] rhymes commented on #9464
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-23 14:11] rhymes commented on #987
@ludwiczakpawel we could use this to coordinate the effort if @eclectic-coding and other contributors want to chip in. The same way we did with eslint issues in the past. It's harder to keep track of what's needed or who is doing what without a single place to share this information :)

[2020-07-23 14:11] Amorpheuz commented on #9442
Ahh! No problem, I had my suspicions that it was more of a picked-up issue, haha. But gave it a shot since it wasn't assigned!

Awesome idea @AlbertoPdRF, feel free to hit me up if you hit some help.

[2020-07-23 14:15] rhymes commented on #9465
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-23 14:17] ezequielfarrell opened #9468 "Not able to post articles"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-07-23 14:18] rhymes commented on #9465
@kirananto I tried with Chrome 84 and it worked. Do you have any special extensions?

[2020-07-23 14:20] rhymes commented on #9467
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-23 14:26] rhymes commented on #9468
@ezequielfarrell can you add more details to the bug? What errors are you receiving? Any logged errors in the console? Thank you!

[2020-07-23 14:40] citizen428 commented on #9457
@boddumanohar Somewhat confusingly we currently have two admin areas, one using the Administrate gem (`/admin`, described in https://docs.dev.to/backend/admin/#accessing-the-admin-panel) and one writen from scratch (`/internal/config`, described in https://docs.dev.to/internal/). Since we'll soon start work on unifying them, maybe it's best to leave the docs alone for now.

[2020-07-23 15:02] kirananto commented on #9465
@rhymes  Nope, no special extensions, I've tried with firefox as well, seems like it's not a browser issue, these files I've mentioned above are not built and served...