[2020-11-21 04:45] Ridhwana opened #11529 "Generalize profile creation in the onboarding process"
We currently have Profile Generalization implemented as a feature flag. In order to bring this feature to completion, we need to implement the profile generalization across multiple areas. This includes the profile creation in the onboarding process which is currently hardcoded.

[2020-11-21 04:50] Ridhwana commented on #11529
I've started putting together a plan:

The plan:

- Refresh my memory on how Onboarding works.
- Pull the profile field data to the frontend via an api call. The endpoint will display the onboarding scope from the profile field group model.
- Use the new data to render the interface dynamically.
- This will be the MVP. Once I've got this working I'll pull in @pawel to see if we can make optimizati

[2020-11-21 05:28] YJDoc2 opened #11530 "Error in setting up aplication in containers : .env taking preference over composefile"
**Describe the bug**

This is from setup in commit hash c837834d6 as the current multistage setup seems not to work as per #11512 , but the following is still same in latest commit.

It seems that env variables in .env are taking preference over those set in docker-compose.
sidekiq tries to connect to localhost :

![sidekiq error](https://user-images.githubusercontent.com/54112038/99868398-29e1c10

[2020-11-21 08:27] jdoss commented on #11512
Please check out #11531 and see if this fixes this problem.

[2020-11-21 08:58] nicosmaris opened #11532 "less nested comments"
Comments that are more than 1 level of replies are hard to read.

**A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]**

At android app, when I get notified that someone replied to my comment, I have the option to reply back but this leads to yet another nested comment

**Describe the solution you'd like**

Continue on the same thread when I press the rep

[2020-11-21 10:25] YJDoc2 commented on #11512
@jdoss  I'm getting these two problems :
after pulling all required images , when docker-compose up starts to run :

* Webpacker exiting with status 1 :

![webpacker error](https://user-images.githubusercontent.com/54112038/99874863-0717d280-2c11-11eb-938f-9483f402c811.png)

* bundler exiting with status 5 :

![bundler error](https://user-images.githubusercontent.com/54112038/99874878-31699000-2c1

[2020-11-21 11:26] krishnadevz opened #11533 "data-verb="unfollow" is not working after refreshing also it is showing data-verb="following" in code also & in UI too"
**Describe the bug**
A few days ago I am just followed ex:-user(krishnadevz) on dev and then for reading new articles I refreshed that page and after some time I accidentally unfollowed ex user and then I again refreshed the page and still, it is showing `following`.

**To Reproduce**
* SignIn
* open dashboard following section
* and unfollow someone and then refresh it shows following

**Expected

[2020-11-21 16:09] fdoxyz commented on #11533
I was able to reproduce this. The AJAX request responds with `200` success and payload `{"outcome":"unfollowed"}`. The actual follow disappears but it seems like the button state remains the same for some reason.

I think it may be related to caching, because the moment you sign out and sign in again the "cached" state goes away and you should be able to now see the "Follow" button instead of "Fol

[2020-11-21 16:28] krishnadevz commented on #11533
@fdoxyz logout stuff it is fine means in dashboard I can able to see I unfollowed that example user but in UI it is behaving unexpectedly I think something related caching and UI stuff related code is behaving unexpectedly

[2020-11-21 18:53] mrtnrst commented on #11512
@jdoss thanks for the quick followup. I'm able to build the application after this change but seeing the same errors as @YJDoc2. For those issues, can we use rbenv in the container to avoid the `sudo`?

[2020-11-22 04:49] jdoss commented on #11512
@YJDoc2 Pull down https://github.com/forem/forem/pull/11531 and give it a try. It should be all fixed up now.

@mrtnrdl We use system ruby inside the container. Adding rbenv into the mix here isn't going to do much to fix the permissions problems. The real fix was to use `user: root` in the docker-compose.yml file since docker mounts volumes into containers as the root user.

[2020-11-22 05:56] YJDoc2 commented on #11512
Yep, This seems to setup and run everything fine. Thanks @jdoss :smile:

If anyone is having error that `./scripts/entrypoint-dev.sh not found` when starting containers, try docker-compose rm, and then docker-compose pull --no-parallel (without no parallel it was giving display issues for me) and then docker-compose up ,  which should make everything work.

This also closes first half for the issu

[2020-11-22 06:29] krishnadevz opened #11535 "homepage nav-search username or anything CTRL-V pasting is auto hiding not able to search"
**Describe the bug**
In dev.to homepage upper nav search bar, I am just searching my another account username but after pasting that username in search after approximately 0.22 sec that username is getting automatically hide but one thing if I press CTRl+V+Enter it is working.

**To Reproduce**
* Open Dev.to homepage
* paste any username in the nav search bar
* and after approximately 0.2 sec that

[2020-11-22 09:17] eevajonnapanula commented on #11403
I'd like to work on this

[2020-11-22 13:55] TobiasNickel commented on #11470
Thanks @sjarva for reaching out. I had a [very busy gif](https://res.cloudinary.com/practicaldev/image/fetch/s--OuFtbSNT--/c_fill,f_auto,fl_progressive,h_320,q_66,w_320/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/84818/f7479d94-fecf-45d4-8d94-193c8e9c79b5.gif) as background picture and because I want everyone to enjoy the good content and the community on dev. I already chan

[2020-11-22 16:09] nickytonline commented on #11403
Awesome @eevajonnapanula. Assigning this issue to you.

[2020-11-22 16:11] nickytonline commented on #11403
A `tabIndex="-1"` and a `aria-hidden="true"` on the avatars for orgs/users should do the trick or do you recommend a better approach @marcysutton?

[2020-11-22 16:36] souldzin commented on #10341
Hey! We created https://github.com/forem/forem/pull/10357 but it seems like now in it's current state, it only addresses part of this related problem. I don't necessarily have capacity to contribute more to this so I'm going to gracefully unassign myself 😅

[2020-11-22 16:40] nishantwrp opened #11556 "Issue in installation with docker"
Here are the logs

[code]

[2020-11-22 18:01] empeje commented on #4855
Hi @jessleenyc, I have encountered the same problem here, already contacted the team but no answer so far. Could you please help?

[2020-11-22 19:22] nishantwrp opened #11558 "Elasticsearch error while setting up forem"
Got the following error while trying to setup forem.

[code]

[2020-11-22 19:33] mrtnrst commented on #11512
@jdoss if I remove my containers and do a fresh install there are errors from the yarn build. My initial thought was from the removal of the entry point that was above that line for bash.

<img width="874" alt="image" src="https://user-images.githubusercontent.com/1743953/99914885-58d26280-2cce-11eb-8ca2-a0b04bdccf71.png">

[2020-11-23 04:37] nishantwrp commented on #11558
Also, I've tried removing all the indexes from elasticsearch and running the setup command again. Still I'm getting this error.

[2020-11-23 05:33] citizen428 commented on #11558
@nishantwrp I was wonderin if we wat to combine #11556 and this issue as Docker usage doesn't seem to be the deciding factor here.

[2020-11-23 05:34] nishantwrp commented on #11558
Oh, yup you're right didn't notice that.

[2020-11-23 05:42] nishantwrp commented on #11556
Closing this issue in favor of #11558 as docker doesn't seem to be the problem here.

[2020-11-23 05:42] #11556 closed

[2020-11-23 06:15] idoshamun commented on #9509
Joining this party, I would appreciate the fix. 🙏
Canonical URLs are super important for SEO and we can't compromise it.
If I can help in any way let me know.

[2020-11-23 06:21] Rafi993 opened #11563 "Button text of comment box overflows"
**Describe the bug**

Button text of comment box overflows after two levels

**To Reproduce**

1. Go dev.to
2. Select an article
3. Reply to it twice (in the same thread)
4. Reply again to the same thread and click on preview
5. The button text overflows

**Expected behavior**

Button text should not overflow

**Screenshots**
![error](https://user-images.githubusercontent.com/8092120/99933799-1074

[2020-11-23 06:56] samundrak opened #11564 "Broken Import from RSS"
**Describe the bug**
I linked RSS of my site in dev.to and it imported all the posts well and periodically but if I add  in any part of
my post then the later part is not imported in dev.to

**To Reproduce**
1. Add you RSS link
2. Add some post with <~--truncate --> placed somewhere, so that RSS content will be updated
3. Visit dev.to after some time and see the imported content

**Expected behavi

[2020-11-23 07:25] #11564 closed

[2020-11-23 07:26] samundrak commented on #11564
Seems this issue is from RSS as I am using docusaurus and went through this document
_Docusaurus provides an RSS feed for your blog posts. Both RSS and Atom feed formats are supported. This data is automatically added to your website page's HTML <HEAD> tag.

A summary of the post's text is provided in the RSS feed up to the . If no  tag is found, then all text up to 250 characters are used._

[2020-11-23 08:57] rhymes commented on #11403
The latest Firefox beta, in the accessibility panel, displays tabbing order, if that can help:

<img width="1789" alt="Screenshot 2020-11-23 at 9 57 41 AM" src="https://user-images.githubusercontent.com/146201/99943921-5b869380-2d72-11eb-889c-5cb971a34b60.png">

[2020-11-23 09:03] rhymes commented on #11535
This is an odd error, I tried with Firefox and Chrome on macOS but I can't reproduce this :(

[2020-11-23 09:15] #11482 closed

[2020-11-23 09:49] AthulMuralidhar commented on #6923
@mstruve i tried with the new forck but i am hitting this error
[code]
i will figure it out and update you guys :)

[2020-11-23 10:11] krishnadevz commented on #11535
the first time it works fine but the second time do paste it is happening to me again I think this issue is related to a UI bug I never saw this kind of bug before . :(

[2020-11-23 10:27] rhymes commented on #6923
Hi @AthulMuralidhar could you test https://github.com/forem/forem/pull/11531 before investigating further?

[2020-11-23 11:17] #11563 closed

[2020-11-23 12:02] nishantwrp commented on #11558
Hi @citizen428, Just wanted to give an update that I restarted my system and tried to run forem again both with and without docker and this is no longer an issue. So, you can close this issue if you want.

But there's another issue now :sweat:. Getting the following screen when trying to sign in.
![Screenshot_20201123_172253](https://user-images.githubusercontent.com/36989112/99959911-e2a72c00-2db

[2020-11-23 13:42] reobin opened #11566 "Feed navigation does not initialize if the first article is not 100% visible"
**Describe the bug**
When entering a page, and pressing `j` or `k`, the list navigation shortcut looks for the first visible article that appears on the screen, and focuses on that.

A problem that occurs is that if the first article in the list is longer than the window's height, it is not considered "visible", so the navigation does not start.

That is because the `isInViewport` function used by

[2020-11-23 14:12] adamfearnall opened #11568 "Unable to Access Settings or Edit Profile Photo"
**Describe the bug**

I'm unable to access the settings or the edit profile photo portion of my account on www.clusteremployment.com. I receive an error page when I attempt.

**To Reproduce**

1. Login
2. Go to "settings"
3. Receive error  message

**Expected behavior**

Go to the settings page.

**Screenshots**

<img width="680" alt="Screen Shot 2020-11-23 at 10 10 47 AM" src="https://user-images

[2020-11-23 14:24] rhymes commented on #11568
Hi @adamfearnall, thanks for informing us of the issues. what's your DEV's username?

[2020-11-23 14:32] adamfearnall commented on #11568
I'm actually not entirely sure - how would I figure that out (new to all of this!)?

Adam Fearnall (he/him)
Interim Executive Director
5516 Spring Garden Road, Suite 202
Phone: (902) 444-5885
adam@heartwood.ns.ca

On Mon, Nov 23, 2020 at 10:24 AM, rhymes < notifications@github.com > wrote:

[2020-11-23 15:17] rhymes commented on #11568
@adamfearnall when you login at the top left of the page there's your username:

![Screenshot_2020-11-23 DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/99979461-69a2d700-2da7-11eb-9839-10142ac40c1c.png)

[2020-11-23 15:24] cmgorton commented on #2940
Thanks for adding this feature request. We feel like this is an issue that sits in a larger conversation about multi user editing experience and we don't currently have this on the roadmap for features. Since this has gone stale I am going to go a head and close this issue.

[2020-11-23 15:24] #2940 closed

[2020-11-23 15:26] cmgorton commented on #3242
This bug report can no longer be reproduce. We believe this issue is fixed therefore I am going to go a head and close it. If you see something like this again in the future please feel free to open an issue again. Thanks!

[2020-11-23 15:26] #3242 closed

[2020-11-23 15:30] cmgorton commented on #3393
Hey thanks so much for opening this issue. We have been doing a lot of work on keyboard shortcuts and think this kind of feature would be better served as a shortcut rather than a new liquid tag when we have finalized some of the shortcuts. Since that is the case I am going to go a head and close this issue.

[2020-11-23 15:30] #3393 closed

[2020-11-23 15:42] jdoss commented on #11512
Repull the PR and see the commit regarding the yarn command in the compose file fixes this issue?

[2020-11-23 15:48] pkfrank opened #11569 "Automatically grant "trusted" status to Superadmins / Admins"
**Is your feature request related to a problem? Please describe.**
As a Forem Admin, I sometimes have "superadmin" and/or "admin" privileges but not "trusted" status.  This doesn't make all that much sense and is leading to confusion.

Trusted is a more widely-shared permission than admin status, and we can have  a lot of confidence that if someone can be "trusted" with admin/superadmin status, th

[2020-11-23 15:48] cmgorton commented on #2421
This issue is similar to #3222 which we are currently working on implementing. Since this has gone stale and we are working on other version of this implementation I am going to go a head and close this. Thanks for opening up a discussion on this feature.

[2020-11-23 15:48] #2421 closed

[2020-11-23 15:51] markerikson opened #11570 ""Draft Posts from RSS Feed" broken - no longer creating drafts from RSS entries"
**Describe the bug**

I used the "Drafts from RSS Feed" feature a couple times a few years ago.  When I added my RSS feed link to my profile settings, several of my posts correctly showed up as drafts in the Dev.to dashboard.

I'd now like to republish a couple more of my posts using that feature, but in looking at my dashboard, none of my posts since 2017 are showing up as drafts in the dashboard

[2020-11-23 16:07] benhalpern commented on #9509
As mentioned earlier, we are using canonical URLs correctly, and Google has been letting us know that.

Here is the canonical URL inspection for this URL: https://dev.to/100daysofcloud/use-vscode-debugger-when-working-with-aws-cdk-28b7

<img width="722" alt="Screen Shot 2020-11-23 at 11 06 30 AM" src="https://user-images.githubusercontent.com/3102842/99985347-f33caf80-2d7b-11eb-8468-fc59c1d2b7c9.p

[2020-11-23 16:21] michael-tharrington commented on #10341
All good @souldzin, appreciate the efforts!!

[2020-11-23 16:32] SyedHassan90 opened #11575 "Shower Enclosures-Things you need to know about"
Including a bend molded facing, the quadrant shower nook is intended to fit cozily into the edge of your restroom. It typically accompanies pivoted or sliding shower doors, complete with shower door seals that fit in with the bent shape. A glass shower work area helps in making a different washing space inside the restroom. These work areas go about like a parcel and limit vision from an external

[2020-11-23 16:33] eevajonnapanula commented on #11403
Alright, thanks!

A question - how about notifications about more than two followers should work? How the card currently works is that if there are three or more followers, it shows the avatars, but the text contains only the name of the first follower on the list. So in that case, maybe it would be good to leave the avatars to the tab order and accessibility tree, as sighted/mouse-users can reach

[2020-11-23 16:35] #9509 closed

[2020-11-23 16:35] #11575 closed

[2020-11-23 16:44] krishnadevz opened #11576 "Infinte scrolling needs to be fix on https://dev.to/ homepage"
**Is your feature request related to a problem description**
*As we go through the https://dev.to/ homepage we can see one thing like when we scroll down for viewing more articles or else
if ex I am or any user is curious about dev.to social media links or shop details or reading list podcasts etc all **footer**
stuff then from the home page we cannot do that like infinite scroll is there I think

[2020-11-23 17:01] AdekunleA commented on #11568
Hello @rhymes , he's experiencing this difficulty on the Cluster Employment Community. His username is @adamfearnall

[2020-11-23 17:02] msarit opened #11577 "(UX Issue) User IDs are wrapping round in table within `/admin/users`"
**Describe the bug**

For some IDs that are double digits, the numbers appear stacked on top of one another (ie wrapped). See the screenshot below:

![Screen Shot 2020-11-23 at 11 52 28 AM](https://user-images.githubusercontent.com/32520970/99991197-bfb15380-2d82-11eb-8ef5-049b141343e9.png)

**To Reproduce**

1. Navigate to `localhost:xxxx:/admin/users` as a user with `:super_admin` role.
To add `

[2020-11-23 17:09] lisasy commented on #2586
@rhymes I'd love to have you reframe this proposal of the user problem it is attempting to solve, and why you think this type of solution is most appropriate for it :)

If I were to work backwards, I imagine the framing being something along the lines of:

### User problem
People currently find it difficult to easy scan and sort through the times of listings they see.

### Proposed solution
Sort t

[2020-11-23 17:17] vaidehijoshi commented on #11569
This should be fairly straightforward; I was in this code the other day, and adding the role can happen right after the first user is created. We probably can also conditionally 'turn off' the trusted email if we want -- although there might be some content in that email that we still want the forem creator to have knowledge of, I'm assuming?

[2020-11-23 17:27] mstruve opened #11578 "BUG: Email Links in Admin to Email Messages 404"
In our admin area, we have links that allow admins to view email messages sent to users.  Currently, these links throw a 404 which you can see in my development environment below.
![Screen Shot 2020-11-23 at 12 24 52 PM](https://user-images.githubusercontent.com/1813380/99994474-ab6b5780-2d7e-11eb-95f7-1a22a2879ff1.png)
![Screen Shot 2020-11-23 at 12 25 08 PM](https://user-images.githubusercontent

[2020-11-23 18:11] idoshamun commented on #9509
Thanks @benhalpern for addressing this issue :)

[2020-11-23 18:14] cmgorton commented on #11576
Hey @krishnadevz thanks for opening this issue. It is a duplicate of #9034 . Please feel free to add to the discussion in that issue. I am going to go a head and close this one :)

[2020-11-23 18:14] #11576 closed

[2020-11-23 18:32] pkfrank opened #11582 "Update styling on /admin/tags/{tag-id} to add visual clarity to fields"
**Is your feature request related to a problem? Please describe.**
As a Forem Admin modifying a tag, it's a bit difficult to quickly visually scan which input fields are associated with each field name.

**Describe the solution you'd like**
More padding/margin around the fields, so that it's visually easier to know which input field is associated with each field name.

**Additional context**
Visib

[2020-11-23 18:40] omenking commented on #9509
Okay what about the comments having their own URL with DEV and competing with the original article?

[2020-11-23 18:46] suntong commented on #3393
Would it be possible for you quickly summarize the proposed solution to the issue please @cmgorton?

[2020-11-23 19:01] mrtnrst commented on #11512
@jdoss I think the image it's now pulling from quay is outdated as it's including the older `entrypoint-dev.sh` file again.

<img width="1063" alt="image" src="https://user-images.githubusercontent.com/1743953/100003467-23904800-2d94-11eb-9797-5930766aa0e1.png">

Also, for your last commit on #11531, you forgot to add those same changes to the `docker-compose.yml`  as well.

[2020-11-23 19:26] michael-tharrington commented on #11578
That's right!  We renamed `/admin` to `/resource_admin` some time ago, but didn't update the way these links work. If we can update this, then they should be easily reachable again.

[2020-11-23 20:16] mstruve opened #11583 "Delete a User's Profile Picture when Changed"
### Problem

When a user changes their profile picture we still keep the original picture on our servers rather than deleting it. Ideally we would like to delete the picture so no one can access it.

### Possible Solution

1) When a user is saved check to see if the `profile_image` field has changed. If it has, fetch the old name which is tracked by ActiveRecord during the save and delete it from

[2020-11-23 20:58] pkfrank opened #11585 "Automatically resize profile images that are > 2MB instead of failing during sign up"
**Is your feature request related to a problem? Please describe.**
As a Forem community member, I want to upload a profile photo without it failing due to size limits.  Currently, I'm getting the "Error: Profile image File size should be less than 2 MB" error.

**Describe the solution you'd like**
It doesn't fail.  Maybe it accepts the upload and resizes in the background or something.

**Addition

[2020-11-23 21:15] #11512 closed

[2020-11-23 21:16] jdoss commented on #11512
@mrtnrst I just merged my PR so the new development container will build with the needed entrypoint changes. If the yarn issue still remains or any other problems are present, I can address them in a different PR

[2020-11-23 23:40] maestromac commented on #11585
2MB is fairly standard for the user's profile image. For reference, here are other sites and their size limit

Gravatar: 1MB
Twitter: 2 MB
Stackoverflow: 2MB
Github: 1MB
Facebook & Google: much larger(>10 MB?) because they have the infrastructure in place that handles it.

It seems like this is rarely an issue in the past because we would just grab the already optimized images from Twitter or Gith

[2020-11-23 23:43] pkfrank commented on #11585
I mean it's a bigger issue when it prevents someone from even **registering** IE [here](https://the.community.club/users/sign_up?state=email_signup), as opposed simply updating their profile image via `/settings` (after already being registered).

[2020-11-24 00:21] maestromac commented on #11585
@pkfrank ah I misunderstood the problem. It's a weird flow to require the user to upload a profile image just to register an account but it's also unacceptable that we show the error after they click `sign up`.

the quick fix I can think of is to update the field to say max 2MB or have some kind of script that quickly checks their file size. I think the more ideal solution would be to remove the i

[2020-11-24 00:33] pkfrank commented on #11585
I'd agree with this as the ideal flow.  This is probably a question for Product about whether we'd be okay with moving that profile photo upload step into the onboarding flow.

[2020-11-24 00:36] mstruve opened #11588 "Prevent duplicate charges when purchasing credits"
A user recently wrote in about accidentally purchasing more credits than they intended. They said the button didn't appear to register when they tried to purchase 5 credits, so they hit it multiple times and purchased 15 credits by mistake.

We should lock this button or put a warning near it to prevent users from hitting it multiple times.

[2020-11-24 06:29] dhriti-misra opened #11590 "Unable to write a post."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-11-24 08:48] rhymes commented on #11568
@AdekunleA sorry! Somehow I thought they were asking on DEV. I'll forward this internally. Thank you for the clarification.

[2020-11-24 08:49] Ridhwana opened #11592 "Add an inline upload button component on the Config Page"
**Is your feature request related to a problem? Please describe.**

Currently we have an image upload button that can be found at http://localhost:3000/admin/tools. We want to reuse the image upload functionality across the admin interface whereby admins can upload images inline. This is especially important on http://localhost:3000/admin/config.

**Describe the solution you'd like**

Find all ins

[2020-11-24 08:50] Ridhwana commented on #11592
@ludwiczakpawel and @lisasy can you possibly help anyone taking on this issue with a light design for how you think it should look/behave?

[2020-11-24 08:53] rhymes commented on #2586
@lisasy I agree with you. Actually my proposal was to add colors just for visual eye candy. It also doesn't hold up with the recent restructure of listings as you mentioned.

I'm closing this and I thank you for taking the time to think about this!

[2020-11-24 08:53] #2586 closed

[2020-11-24 09:02] Ridhwana opened #11594 "Refactor magic numbers for `/comments` rendering"
**Describe the Issue**

As mentioned in [this PR comment](https://github.com/forem/forem/pull/11199#discussion_r515696051), right now, we have some hardcoded "magic numbers" in the `/comments` route when it comes to deciding how many comments to render. Other Forem instances might want to change this down the road, and this might become configurable. Even if it doesn't, right now, we have to chang

[2020-11-24 09:04] rhymes commented on #3393
@suntong we're currently working on overhauling the keyboard shortcuts management system, this will allow us to attach shortcuts and keyboard combinations more easily around the website and eventually get to a keyboard shorcut modal. We think this would be better addressed by a shortcut that adds `[#question](https://dev.to/t/question)` inline instead of a dedicated liquid tag.

For reference on t

[2020-11-24 10:55] rhymes commented on #11590
Hello @dhriti-misra, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-11-24 10:55] #11590 closed

[2020-11-24 14:10] rhymes opened #11596 "PostgreSQL: change timestamp columns to timestamp with timezone"
**Is your feature request related to a problem? Please describe.**

Rails defaults to `timestamp` columns, but those aren't aware of time zone, making timestamp arithmetics and data access from non Rails sources possibly trickier.

## timestamptz vs timestamp

PostgreSQL has 2 data types to represent time: `timestamp` (the one Rails uses) and `timestamptz` (the one suggested 99.99% of the time).

[2020-11-24 15:26] cmgorton commented on #2618
We seem to have a couple duplicate issues regarding this feature. Since #1952 is still open and this one looks like it should be closed let's move any more conversation around this feature to that issue. I am going to close this one.

[2020-11-24 15:26] #2618 closed

[2020-11-24 15:29] benhalpern commented on #11455
Currently the welcome thread is widely used (it sort of has to be because we always have it in the onboarding).

<img width="671" alt="Screen Shot 2020-11-24 at 10 27 10 AM" src="https://user-images.githubusercontent.com/3102842/100114624-9dc9d680-2e3f-11eb-91bf-97e38082375a.png">

Example: https://the.community.club/community-club/welcome-thread-v2-57oj

[2020-11-24 15:35] #11578 closed

[2020-11-24 17:05] leewynne opened #11600 "Let's give /events some crayons, sidebar and generalisation love."
I am beginning to use events to list out all the scheduled bouts across many MMA promotions within my Forem. I understand listing came along to replace events and now there are more requests from other Forem's to use events again. Yipee!

**Describe the solution you'd like**

Full sidebar left and right. If someone comes to an events page from a google search, I want them to get the whole Forem ex

[2020-11-24 17:19] jbulava opened #11601 "Adding more embed types to the Twitch liquid tag"
**Is your feature request related to a problem? Please describe.**

The problem I'd like to solve with this request is embedding Twitch videos to accompany tutorials or other educational content (i.e. Highlights).  Currently, the [Twitch liquid tag](https://github.com/forem/forem/blob/master/app/liquid_tags/twitch_tag.rb) only supports Clips, which are videos that can only be 60 seconds.

**Descri

[2020-11-24 17:29] AthulMuralidhar commented on #6923
everything works yaaaay 🎉 great job guys :) - maintainers, please close this issue btw

[2020-11-24 17:30] rhymes commented on #6923
Thanks for the update @AthulMuralidhar!

[2020-11-24 17:30] #6923 closed

[2020-11-24 17:40] msarit opened #11602 "Followup to renaming "banned" as "suspended" in Admin"
Re: Michael's suggestion [here](https://github.com/forem/forem/pull/11581#issuecomment-732534235), this issue seeks to complete the work started in [this PR](https://github.com/forem/forem/pull/11581).

Tasks to be completed in code:
- Update `banned` to `suspended` in `role.rb`
-  Update all usages of `banned` to the new term `suspended` throughout codebase

In production, would need to update al

[2020-11-24 17:45] adamfearnall commented on #11568
Thanks to both of you for helping me figure this out!

Adam Fearnall (he/him)
Interim Executive Director
5516 Spring Garden Road, Suite 202
Phone: (902) 444-5885
adam@heartwood.ns.ca

On Tue, Nov 24, 2020 at 4:49 AM, rhymes < notifications@github.com > wrote:

[2020-11-24 17:50] ThHareau opened #11603 "Creating an account should not require social login"
**Is your feature request related to a problem? Please describe.**

Creating an account should not require social login.

I want to create an account that would be using my professional email, however I'm using a personal github account as well as a personal twitter account.

**Describe the solution you'd like**

We should be able to create an account using an email only.

**Describe alternatives

[2020-11-24 18:53] rhymes commented on #11603
Hi @ThHareau, thanks for reporting this issue.

Regarding collection and data:

- when you link GitHub to DEV we only read the primary email:

https://github.com/forem/forem/blob/1741e52e837b74eb982759edd4d5895b602beba0/app/services/authentication/providers/github.rb#L12

- when you set a password and revoke GitHub access the settings, we delete all the data connected to them, username included, t

[2020-11-24 20:34] cmgorton commented on #1308
@jessleenyc do you know if this is still an issue? I see this has be inactive for a long time.

[2020-11-25 00:48] benhalpern opened #11606 "Due to no fingerprinting in development, our current approach to cache in serviceworkers doesn't match production."
We now cache assets in service workers because we need something more consistent than the memory cache due to purging assets on deployment with Forem Cloud.

But without fingerprinting it doesn't behave the same way in dev and prod.

This PR fixes the issue in a very straightforward way...

https://github.com/forem/forem/pull/11605

I suspect we could alternatively do this by examining the headers

[2020-11-25 04:04] DatascienceIND opened #11608 "Data Science"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-11-25 05:14] RehmatFalcon opened #11610 "Article action overlapping the `Dev` icon"
**Describe the bug**

When we scroll to the end of a page (article page), the article actions overlap with the `Dev` icon.

**To Reproduce**

1. Go to any article page
2. Scroll to the end of the page.

**Expected behavior**
The article action slips under the dev icon.

**Screenshots**
![bug](https://user-images.githubusercontent.com/28915667/100185927-22cef180-2f0d-11eb-8894-db68ed746498.jpg)

**

[2020-11-25 05:47] empeje opened #11612 "My account marked as spam, even-though I'm legit user"
I just active again in dev.to from 1 year off, and when I export my post from medium & my blog site, my post got some likes and reactions, but *BOOOM* suddenly I marked as spam, how do I recover? This is bad experience.

my account https://dev.to/empeje

<img width="1579" alt="Screen Shot 2020-11-25 at 12 48 02" src="https://user-images.githubusercontent.com/11813607/100188274-76950700-2f1c-11eb-9

[2020-11-25 06:36] citizen428 commented on #11612
Sorry for the inconvenience, please email yo@dev.to, thanks!

[2020-11-25 06:37] #11612 closed

[2020-11-25 06:38] #11608 closed

[2020-11-25 07:04] empeje commented on #11612
@citizen428 emailing to yo@dev.to doesn't work, got no reply emailing for the past 4 days.

[2020-11-25 09:06] ThHareau commented on #11603
Hi @rhymes,

I understand that you only read the primary email. In my case that's a concern because that's an email that I only want to share with important services (healthcare, gov stuff, ...), I want that any email I receive in this mailbox are important.

I'm also surprised that the token authorization asks for all emails. Can't you modify the token to only fetch one email?
I'm also concerned

[2020-11-25 15:16] HaveSpacesuit opened #11616 "Unable to save customization settings"
**Describe the bug**

Customization settings are not saved

**To Reproduce**

Navigate to https://dev.to/settings/customization and make some change (e.g., theme, editor version, experience level).
Click save at bottom of page.
There is no UI indication of anything happening.
If you reload the page, the settings are not saved.

**Expected behavior**

There should be an indicator that the settings

[2020-11-25 15:49] rhymes commented on #11616
Hi @HaveSpacesuit, thanks a lot for notifying us. We were aware of the issue and just deployed https://github.com/forem/forem/pull/11615 - I'll notify you when that's live :-)

Closing this in the meantime

[2020-11-25 15:49] #11616 closed

[2020-11-25 16:03] Link2Twenty commented on #11610
It's because they're both `--z-sticky`

https://github.com/forem/forem/blob/81dfded1fc1356e976ea9d55ab55a71b26881027/app/assets/stylesheets/components/header.scss#L3-L9

You could do something like

[code]

[2020-11-25 16:15] mauricioklein opened #11619 "Layout problems on the "Write a Post" page"
**Describe the bug**

When writing a new post on the "Write a new post" page, the layout is presenting the following problems:

### 1. The title gets almost completely covered when the tag field is clicked. The only way to restore the layout is refreshing the page

Before:
![Screen Shot 2020-11-25 at 17 03 42](https://user-images.githubusercontent.com/11538662/100252475-30ea3580-2f40-11eb-8a5d-ff4

[2020-11-25 16:28] lisasy commented on #11592
Hey @Ridhwana,

This looks good. I thought it would be most efficient to sketch out this sample flow as a possible solution; can you look at this and let me know if these are the right steps and types of information we can display? Let me know if you need any clarification :)
![IMG_3311](https://user-images.githubusercontent.com/816402/100255198-155b3c80-2ef8-11eb-873c-9a5d9f912daa.JPG)

[2020-11-25 17:12] jessleenyc commented on #1308
I'm not sure if this was ever addressed. @benhalpern would have a better idea.

[2020-11-25 17:25] pkfrank opened #11620 "Validate payment pointer in /settings/extensions"
**Is your feature request related to a problem? Please describe.**
As a user, I might typo or have another issue with my "payment pointer" and have it "fail silently" after adding it via `/settings/extensions`.

**Describe the solution you'd like**
We validate the syntax of the payment pointer; either in the form somehow or upon saving the page.

**Additional context**
Here is guidance on the [Pay

[2020-11-25 17:40] lisasy opened #11621 "Various UX bugs on Settings"
**Describe the bug**

(Copied and pasted from Slack message with @ludwiczakpawel)

- save button doesn’t work (that’s probably pretty emergency)
- multiple save buttons being visible on /customization
- when you update any field, the main “save” button appears at the bottom of the screen. but it doesn’t work now with some of the controls.
- when i save certain things on /extensions there are some

[2020-11-25 17:43] rhymes commented on #11621
@lisasy the first three have been addressed by https://github.com/forem/forem/pull/11615 and https://github.com/forem/forem/pull/11617 but they are yet to be deployed because we're having troubles deploying anything right now

[2020-11-25 19:33] nishantwrp commented on #11558
Closing this because the original issue is resolved.

[2020-11-25 19:33] #11558 closed

[2020-11-25 19:49] #11439 closed

[2020-11-25 20:11] nishantwrp commented on #11516
Hi, closing this issue. Because this was an error from my side. The request body should've been
[code]

but I was sending
[code]

But why wasn't there any error? I tested this thing locally and there was an error that I didn't send an article object.
/cc @rhymes

[2020-11-25 20:22] rhymes commented on #11616
@HaveSpacesuit it's definitely live now, thanks for the patience!

[2020-11-25 20:23] rhymes commented on #11621
@lisasy the changes are online now, you can check on https://dev.to/settings/customization

[2020-11-25 22:22] nickytonline opened #11626 "unhandled rejections in frontend tests"
**Describe the bug**

This does not affect the application, but frontend tests, even though they are passing are throwing unhandle promise errors.

It would be good to sort them out.

[code]

**To Reproduce**

1. Run `yarn test`

**Expected behavior**

Tests should all be passing and there should be no unhandled rejections.

**Screenshots**

**Desktop (please complete the following information):**

[2020-11-25 23:19] michael-tharrington commented on #11483
This one is done thanks to @citizen428!

[2020-11-25 23:19] #11483 closed

[2020-11-26 02:04] citizen428 commented on #11612
@empeje Sorry to hear that. I'll let someone now, but Github is not the place for this type of issue.

[2020-11-26 07:40] krishnadevz commented on #11619
I just check this issue in Firefox I am not getting that UI issue you can clear cache and other stuff and check again then ping again here or I guess that dark theme is having an issue
![descripfeaturessss](https://user-images.githubusercontent.com/42638797/100321445-b0cbda80-2fe8-11eb-8612-3f93af4d1a09.gif)

[2020-11-26 13:39] leewynne opened #11631 "New liquid tag for events"
**Describe the solution you'd like**

When I am writing an article especially a newsletter, I would like to be able to include a liquid tag for an event that I may have created.

**Describe alternatives you've considered**

Image links 🙈

[2020-11-26 17:28] leewynne opened #11634 "Allow Forem admins to set a short description in forem.com/discover"
**Describe the solution you'd like**

In site admin, a text area that allows a Forem admin to enter and update a short description about their Forem so it displays on forem.com/discover as not all Forems will have a descriptive logo.

**Additional context**

Current forem discover page.

<img width="1919" alt="Screenshot 2020-11-26 at 17 24 57" src="https://user-images.githubusercontent.com/126942

[2020-11-26 17:52] Kvaibhav01 opened #11635 "Add autocomplete mention for users while writing articles"
**Is your feature request related to a problem? Please describe.**

When I want to add a post of another DEV user, currently I have to copy their profile link and make it look like the person is actually tagged. Like this in markdown:

**Describe the solution you'd like**

I want that we should have the following feature while we tag others in a post or a comment etc:

1. As soon as I type '@' and

[2020-11-26 18:29] Stargator commented on #709
@cmgorton I do still feel it has value because I want to look at the older posts and currently I'd either have to know exactly what I am looking for or scroll down into the bottomless pit that is my reading list :D

Perhaps the search functionality could include attributes like a date range? That way the layout doesn't change too much

[2020-11-26 18:49] rhymes commented on #11635
Hi @Kvaibhav01, thanks for the request. I'm going to keep this open and rename it for articles, as we do have this previous one for comments https://github.com/forem/forem/issues/354

[2020-11-26 21:23] nobitagit opened #11636 "Filter out blocked users' posts from the feed and from the recommended articles"
**Is your feature request related to a problem? Please describe.**

If I block a user I would expect their posts not to appear on my feed or in my recommendations.
This doesn't happen currently.

Try this.

1. Pick a very prolific user that always shows up in your feed and block them

![image](https://user-images.githubusercontent.com/2051152/100391663-6ec88600-3034-11eb-9c21-9c01f2d0710a.png)

2.

[2020-11-26 21:54] Eomm opened #11637 "Publish button disappear on draft"
**Describe the bug**

A saved draft post with some meta-markdown, doesn't have the "publish" button and the `publish: true` meta doesn't work as well.

**To Reproduce**

- create a draft post with this content:

[code]

- save it
- edit it to publish but the button is missing

**Expected behavior**

The publish button should appear as well

**Screenshots**

Draft with meta

![Immagine 177](https:/

[2020-11-27 03:59] shiling opened #11641 "Broken UI on firefox #bug"
Hi there,

Been a while since I've popped into dev.to, but was disappointed to find bugs viewing dev.to on Firefox (MacOs, 82.0.2 (64-bit)). I've captured screenshots of what I see on Firefox, vs. what it should look like based on Chrome, and annotated the screenshots below to highlight the issues.

![dev-to-firefox-bugs](https://user-images.githubusercontent.com/2376845/100409768-b3413980-30a7-11

[2020-11-27 04:54] citizen428 commented on #11641
I use dev.to daily in Firefox on macOS and cannot reproduce this.

![Screen Shot 2020-11-27 at 11 53 17](https://user-images.githubusercontent.com/47985/100412422-3ca43c00-30a7-11eb-9200-395e7d42c2cf.png)
![Screen Shot 2020-11-27 at 11 53 21](https://user-images.githubusercontent.com/47985/100412426-3dd56900-30a7-11eb-995a-982e63557fdb.png)
![Screen Shot 2020-11-27 at 11 53 44](https://user-images

[2020-11-27 15:51] rhymes commented on #11637
@Eomm the publish button is only present in v1, if you want to publish a draft articles that doesn't have the publish attribute, you must add `published: true` (not `publish`) in its front matter. So something like:

[code]

Let me know if that works

[2020-11-27 20:20] Eomm commented on #11637
Oh! I was using `publish: true` instead of `published: true`

Sorry for that
Thank you for your time!

[2020-11-27 20:20] #11637 closed

[2020-11-27 21:56] #9773 closed

[2020-11-27 22:06] thefliik opened #11643 "bug: the "created on" date associated with my dev.to comment is incorrect"
**Describe the bug**
I posted [this comment](https://dev.to/johncarroll/comment/18dp8) on dev.to around 11:30pm, 11/26/20 in California. I'm viewing the comment in the same location I posted the comment, and the "created on" date for the comment shows November 27th (it should show Nov 26th). I suspect a DST issue is the cause.

**To Reproduce**
You can see the problematic comment here: https://dev

[2020-11-27 23:13] ZoeDreams opened #11644 "Sticky Header Banner"
**Is your feature request related to a problem? Please describe.**

It would be pretty rad to make the header sticky so when you scroll down on long articles you always have access to to the header. I find myself having to scroll to the top a lot to click on the dev icon to get to the home. I also think this would make the UI much more fluid with very little overhead

**Describe the solution you'd

[2020-11-28 07:09] thefliik commented on #11643
Of note: the `<time>` element wrapping my comment's _created on_ date has a _title_ attribute the contains the correct _created at_ time. It's just the text date that the `<time>` element is wrapping that is incorrect--further reinforcing my suspicion that this is a server DST issue.

[2020-11-28 10:42] rhymes commented on #11644
Hi @ZoeDreams - it's already available, in https://dev.to/settings/customization in the section "Site Navbar", if you change the setting, it will remain sticky. Hope this helps!

[2020-11-28 10:42] #11644 closed

[2020-11-28 10:44] rhymes commented on #11643
Hi @thefliik thanks a lot for the info, this is a known bug, can you add your findings to the discussion in https://github.com/forem/forem/issues/7561 ?

[2020-11-28 10:44] #11643 closed

[2020-11-28 11:10] rhymes opened #11645 "Disable auto parameter wrapping for JSON"
**Describe the bug**

Forem has been running with this feature on for a while but we explicitly require the root object, eg, `{"article": {"title": ""}}` in most of our incoming payloads. Having this enabled means that a user can send a payload like `{"title": ""}` (without the root object) and that will still be accepted, because Rails will auto wrap that in the root object, see https://api.rubyo

[2020-11-28 13:32] thomasbnt commented on #9895
Closed issue because is now on Forem.

[2020-11-28 13:32] #9895 closed

[2020-11-28 13:45] thomasbnt opened #11646 "Link to the beloved comment is not my comment"
**Describe the bug**
You receive the **Beloved comment** and you can click on " This is the comment " for view your comment. But some time later, this link is for another comment who the author obtained the badge. (surely after you)
![image](https://user-images.githubusercontent.com/14293805/100516925-8b290780-3187-11eb-930d-7e3abb2791ac.png)

**To Reproduce**
1. Get the **Beloved Comment badge**

[2020-11-28 16:37] pkfrank opened #11647 "Improve dark-theme compatibility on /mod"
**Is your feature request related to a problem? Please describe.**
As a user who 1) uses a dark theme, and 2) has access to `/mod` (I have `trusted`) status, I'm having trouble seeing all of the information on this page.

**Describe the solution you'd like**
Better compatibility (light text, etc) for dark themes on `/mod`.

**Additional context**
Here's a screenshot, I've selected some elements of

[2020-11-28 16:40] empeje commented on #11612
Is there any dedicated support @citizen428? I tried multiple times but no reply.

[2020-11-29 01:22] thefliik commented on #7561
## From issue #11643

**Describe the bug**
I posted [this comment](https://dev.to/johncarroll/comment/18dp8) on dev.to around 11:30pm, 11/26/20 in California. I'm viewing the comment in the same location I posted the comment, and the "created on" date for the comment shows November 27th (it should show Nov 26th). I suspect a DST issue is the cause.

**To Reproduce**
You can see the problematic com

[2020-11-29 06:39] eevajonnapanula commented on #11403
I realised that I forgot a ping from my question, and as @forem/oss doesn't seem to work, pinging @nickytonline

[2020-11-29 09:20] carmenhchung opened #11651 "`Beloved Comment` link takes me to someone else's comment"
**Describe the bug**

I noticed that on my profile page, I've been awarded the Beloved Comment badge. When I click on the blue "This is the comment..." link (shown below), it originally took me to someone else's comment on a different post (one that I've never commented on/seen before: https://dev.to/siy/comment/pobn). Today it took me to an entirely different comment (https://dev.to/robole/commen

[2020-11-29 09:22] carmenhchung commented on #11651
Apologies, I just saw that this issue has already been reported here! https://github.com/forem/forem/issues/11646

[2020-11-29 14:23] nickytonline commented on #11403
@eevajonnapanula, in that particular case perhaps exclude the 1st avatar (if possible) so it only uses the text for the first follower to avoid that extra tab and this works still with fine for mouse users.

Use your best judgement as you continue through this and we can make small adjustments in the pull request if necessary.

Thanks again for taking this on!

[2020-11-29 17:28] rhymes commented on #11651
No worries @carmenhchung, I'm going to close this in favor of #11646

[2020-11-29 17:28] #11651 closed

[2020-11-30 01:49] citizen428 commented on #11612
Please note that our support team was a bit less reachable due to the Thanksgiving holiday, somebody will hopefully get back to you soon.

[2020-11-30 02:50] shiling commented on #11641
Oh, you are right. I opened dev.to in Firefox's private window, and the issues when away. Thank you!

Perhaps my regular FF session was loading some outdated assets because it's been a while since I've visited the dev.to.

[2020-11-30 02:51] #11641 closed

[2020-11-30 03:02] citizen428 commented on #11645
I thought no internal code relies on routes in `/api` anymore, I remember working on this a few months ago.

[2020-11-30 08:10] rhymes commented on #11645
@citizen428 auto wrapping is enabled from any route that sends JSON data, so not only the public API but the internal JSON routes as well, that's why we need to be careful in case some send "malformed" data

[2020-11-30 09:46] ludwiczakpawel commented on #11610
(just for the record)

https://github.com/forem/forem/pull/11649#discussion_r532464082

[2020-11-30 12:33] omenking opened #11682 "When too many series tags can't scroll up to reach canonical url input"
**Describe the bug**

When you have too many Series tags, you can't scroll up to access other input elements
<img width="634" alt="Screen Shot 2020-11-30 at 7 30 06 AM" src="https://user-images.githubusercontent.com/7776/100610569-f553c080-32dd-11eb-93d8-13faa8051d84.png">

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, ver

[2020-11-30 13:52] cmgorton commented on #11631
Hey @leewynne for context is this for the event listings [like these](https://dev.to/listings)?  Or a different kind of event?

[2020-11-30 14:46] cmgorton commented on #2137
Thanks for opening this issue. Since it has one stale and doesn't seem to be an issue right now I am going to go a head and close this.

[2020-11-30 14:46] #2137 closed

[2020-11-30 15:53] cmgorton commented on #2295
Since we have options to change fonts in our settings this seems like something that is no longer an issue correct?
![font choices for DEV](https://user-images.githubusercontent.com/21039864/100631954-e2e38200-32f1-11eb-8021-2563cc1fa6ef.png)
I am going to go a head and close this issue. If anyone thinks this is still a problem please feel free to open it back up.

[2020-11-30 15:53] #2295 closed

[2020-11-30 15:56] cmgorton commented on #2304
Thank you for opening this issue. We appreciate your input. Since this has gone stale and there hasn't been further discussion for over a year I am going to go a head and close this issue.

[2020-11-30 15:56] #2304 closed

[2020-11-30 15:58] cmgorton commented on #2320
Thank you for this inquiry. We are working to clean up issue in our repo. Since there has been no further discussion on this for over a year I am going to go a head and close this one.

[2020-11-30 15:58] #2320 closed

[2020-11-30 16:03] vaidehijoshi commented on #11569
Tagging this as EOY since it can be done in isolation and will be helpful to bizdev when setting up new Forem creators.

[2020-11-30 16:12] cmgorton commented on #2501
@nickytonline is this something we are likely to work on? There has been further discussion on this in over a year so wondering if I can close this issue?

[2020-11-30 16:12] #11682 closed

[2020-11-30 16:15] nickytonline commented on #2501
@cmgorton, closing this as we have [Honeybadger](https://www.honeybadger.io/) in place for this.

[2020-11-30 16:15] #2501 closed

[2020-11-30 16:16] cmgorton commented on #2617
Hey, I'm in the process of doing some Issue cleanup and since this has been inactive for over a year I am going close this. Feel free to open a new issue on this in the future if you think we should continue to consider it. Thanks.

[2020-11-30 16:16] #2617 closed

[2020-11-30 16:27] cmgorton commented on #2836
@jessleenyc do you think this should still be an open feature request? There hasn't been any activity on it for almost a year.
If so I will add it to the feature backlog board :)

[2020-11-30 16:29] cmgorton commented on #2850
Hey we are working on cleaning up open issues that are stale. Since this has been inactive for over a year I am going to go a head and close this issue. If you are still experiencing this and want to continue a discussion on it please feel free to open an issue again. Thank you!

[2020-11-30 16:29] #2850 closed

[2020-11-30 16:31] cmgorton commented on #2853
Hey, we are working on cleaning up stale issues in the repo. Since this has been inactive for over a year I am going to go a head and close this. If this is a discussion you think is still valuable please feel free to open a new issue. Thanks.

[2020-11-30 16:31] #2853 closed

[2020-11-30 16:33] cmgorton commented on #2902
Hey, we are working on cleaning up stale issues in the repo. Since this has been inactive for over a year I am going to go a head and close this. If this is a discussion you think is still valuable please feel free to open a new issue. Thanks.

[2020-11-30 16:33] #2902 closed

[2020-11-30 16:43] cmgorton commented on #2924
Hey, we are working on cleaning up stale issues in the repo. Since this has been inactive for over a year I am going to go a head and close this. If this is a discussion you think is still valuable please feel free to open a new issue. Thanks!

[2020-11-30 16:43] #2924 closed

[2020-11-30 16:44] cmgorton commented on #2943
Hey, we are working on cleaning up stale issues in the repo. Since this has been inactive for over a year I am going to go a head and close this. If this is a discussion you think is still valuable please feel free to open a new issue. Thanks!

[2020-11-30 16:44] #2943 closed

[2020-11-30 16:45] rugk commented on #2617
Could you just reopen this? It’s still a valid issue.

[2020-11-30 16:54] cmgorton commented on #2960
Hey, we are working on cleaning up stale issues in the repo. Since this has been inactive for a little while and issue #6764 is similar to this but more descriptive I am going to go a head and close this. Thanks.

[2020-11-30 16:54] #2960 closed

[2020-11-30 16:55] cmgorton commented on #2963
Hey, we are working on cleaning up stale issues in the repo. Since this has been inactive for over a year I am going to go a head and close this. If this is a discussion you think is still valuable please feel free to open a new issue. Thanks.

[2020-11-30 16:55] #2963 closed

[2020-11-30 16:59] cmgorton commented on #2984
Hey, we are working on cleaning up stale issues in the repo. Since this has been inactive for over a year I am going to go a head and close this. If this is a discussion you think is still valuable please feel free to open a new issue. Thanks.

[2020-11-30 16:59] #2984 closed

[2020-11-30 17:07] cmgorton commented on #11631
Oh I see, it is for events like Ben mentioned [here](https://github.com/forem/forem/pull/10837) right?

We do have a liquid tag for listings but I do not believe we have one for events yet. I will add this to a feature backlog so we can keep track of this. Thanks for the feature request.

[2020-11-30 17:18] cmgorton commented on #3008
@JohnPhamous this looks like it is fixed now. I am going to go a head and close this issue. If you still experience this bug let me know and I will open it back up! Thanks.

[2020-11-30 17:18] #3008 closed

[2020-11-30 17:28] #11610 closed

[2020-11-30 17:33] cmgorton commented on #3017
@michael-tharrington do you think this was a one off thing or has this happened again?

[2020-11-30 18:19] cmgorton commented on #2617
Hey @rugk I am talking to the team to see if this is something we still plan to work on. Right now it doesn't look like it but I am waiting for more information on why we would or wouldn't. If I get the go ahead I will reopen this issue. Thanks.

[2020-11-30 18:26] msarit commented on #11602
need to update this loop in `app/views/admin/users/_activity.html.erb`:

[code]

[2020-11-30 19:38] michael-tharrington commented on #3017
We are good to close this one here. 😀  They actually wrote me back and told me all was working, so I know we can close this one.

[2020-11-30 19:38] #3017 closed

[2020-11-30 19:44] cmgorton commented on #3332
Hey, we are working on cleaning up stale issues in the repo. Since this has been inactive for over a year I am going to go a head and close this. Thanks.

[2020-11-30 19:44] #3332 closed

[2020-11-30 19:46] cmgorton commented on #3329
@michael-tharrington do you know if this is something that has been fixed with recent spam feature updates? If not I will leave this issue open :)

[2020-11-30 19:49] cmgorton commented on #3254
Hey, thanks for the feature request. We are working on cleaning up stale issues in the repo. Since this seems like a feature we will not likely be able to implement and this has been inactive for over a year I am going to go a head and close this. Thanks!

[2020-11-30 19:49] #3254 closed

[2020-11-30 19:58] cmgorton commented on #3244
It looks like this issue was solved with #9435. I am going to go a head and close this issue.

[2020-11-30 19:58] #3244 closed

[2020-11-30 20:17] michael-tharrington commented on #3329
@cmgorton great question!

It hasn't been directly addressed, so I think would still make sense to leave open!

BUT, I know that mods can now use https://dev.to/mod which does allow them a way to report posts without having to go into the article.

THAT SAID, I still think having an easy way to report posts from the main dev.to feed sounds like a cool upgrade. I'd imagine that we would want to thi

[2020-11-30 21:47] michael-tharrington opened #11686 "Upgrade “username is taken” message by offering link to username"
**Is your feature request related to a problem? Please describe.**

Sometimes when a user signs up to a community and tries to claim a username they receive the message:

`Whoops we found 1 problem - Username is taken.`

**Describe the solution you'd like**

I think it'd be great if we could provide a link to the taken username within the error message.

`Whoops we found 1 problem - Username: [x](

[2020-11-30 22:24] michael-tharrington commented on #5738
Reopening this as a mod discovered that dates are not visible on dev.to/mod when using dark theme:

![Image 2020-11-30 at 5 23 01 PM](https://user-images.githubusercontent.com/16007075/100673032-c4e94200-3330-11eb-9602-e2d6510ba0e9.png)

[2020-12-01 00:33] thomasbnt opened #11688 "RSS Feed is.. ugly"
**Describe the bug**
The [RSS Feed](https://dev.to/feed) is very ugly. Can't read correctly the text 😶

**To Reproduce**

1. Go to dev.to/feed
2. Expect the ~~beautiful~~ ugly design

**Desktop (please complete the following information):**

- OS, version: —
- Browser, version: —

**Additional context**

Good day! 🎀🕺

[2020-12-01 05:32] Offirmo opened #11690 "Fully blocked: 404 when trying to edit/create a post"
**Describe the bug**

From the dashboard or the blogpost itself, I can't edit my blogposts anymore. I get a 404:

<img width="793" alt="Screen Shot 2020-12-01 at 16 25 50" src="https://user-images.githubusercontent.com/603503/100700717-30471880-33f2-11eb-9b67-f7300d2d4c60.png">

It started to happen around last Saturday, I waited to see if the bug would disappear, still here.

I disabled all exten

[2020-12-01 07:13] citizen428 commented on #11645
Gotcha, I misunderstood what you meant originally.

[2020-12-01 09:00] rhymes commented on #11688
Hi @thomasbnt, the feed is meant to be consumed by parsers, so I'm not exactly sure what you mean here.

I checked and it's served correctly:

[code]

I'm going ahead and close this as there are no actionable as well.

[2020-12-01 09:00] #11688 closed

[2020-12-01 09:01] citizen428 commented on #2617
@rugk I already removed the whitelist as part of another PR a while ago, but there are some unrelated things holding it back. In a few more days the whitelist should be gone.

[2020-12-01 09:04] thomasbnt commented on #11688
Hello @rhymes, I use RSS Feed with the simple URL and IFTTT. For read the content manually and check if in input is available, isn't good 😄

[2020-12-01 09:17] rhymes commented on #11688
@thomasbnt cool, but that's the official RSS content type. It also depends on the browser. Firefox downloads it, Safari tells me I have to install a RSS reader application, Chrome and Edge render the XML inline 🤷

I know some servers use `application/xml` which is a bit more browser friendly but if you install a RSS reader extension you should be able to check it nonetheless.

[2020-12-01 10:24] thomasbnt commented on #11688
Yeah of course! I understand that, this issue was created because for me it's not effective to read this (under Chrome) and pick up some data's or tags. I use that to one of app and I pick some tags, not all 😄

[2020-12-01 13:10] abhijit-hota commented on #4523
@rhymes

I feel that a pinned comment should be just that: a comment which is pinned to the top along with a flair maybe that says **"Pinned by Author"**.  As @benhalpern  said,

...and displaying that particular comment (thread) in the beginning of the **Discussion** section. Simplest example is probably YouTube.

P.S. I came here to file a feature request for this but ended up reading this threa

[2020-12-01 13:48] kuei0221 commented on #11620
Hi @pkfrank , I would like to handle this issue 😄

I have read the guidance you provided, and I want to check does the following validation make sense to your requirement:
1. invalid if contains any non-printable ASCII characters
2. invalid if not start with `$`

I will then add another before_save action to clean the leading space and trailing space.

[2020-12-01 14:01] rhymes commented on #11620
thank you @kuei0221, I've assigned you to the issue!

[2020-12-01 14:39] leewynne opened #11694 "Images don't always show in Forem Cloud hero campaign banners."
**Describe the bug**

When creating a HTML variant for the campaign hero banner, if you insert an image from a URL - sometimes the image shows, sometimes it doesn't and instead it shows just the alt text.

**To Reproduce**

Login to forem.dev or another FSS hosted forem.
Go to admin then html_variants
Create a new campaign banner and insert an image from a url.
Approve and publish the HTML variant

[2020-12-01 14:54] cmgorton commented on #11690
The edit functionality is working for me on both draft posts and already published posts. I have tried on Chrome and Firefox and can't reproduce the bug.

@Offirmo Have you tried editing posts since you started using "dev-to-get"? Did this only start happening after you started using that or have you been able to edit before while using the "dev-to-get" you mentioned?

[2020-12-01 14:57] cmgorton commented on #2228
Hey! Thanks for opening this bug report. We are working on cleaning up stale issues in the repo. Since this has been inactive for over a year I am going to go a head and close this. If you experience this again in the future please let us know and we can open this back up.

[2020-12-01 14:57] #2228 closed

[2020-12-01 14:58] #1743 closed

[2020-12-01 15:14] cmgorton commented on #3156
Hey! Thanks for starting a discussion on this. We are working on cleaning up stale issues in the repo. Since this has been inactive for over a year I am going to go a head and close this.

[2020-12-01 15:14] #3156 closed

[2020-12-01 15:19] cmgorton commented on #3152
Thanks for the feature request.  It looks like DMs are editable now.
![Showing edit button on DMs](https://user-images.githubusercontent.com/21039864/100759338-1d165780-33b6-11eb-9d66-58f270df245c.png)

Since we are working on cleaning up stale issues and I think this one is actually fixed I am going to go a head and close this.

[2020-12-01 15:19] #3152 closed

[2020-12-01 20:13] AdekunleA opened #11697 "User sign up error on Forem Community"
**Describe the bug**

Users are unable to sign up on the Cluster Employment Platform - https://www.clusteremployment.com. After filling in the required details and clicking sign up, the site loads an error page and the user is shown as signed up (but with no confirmation email/instructions).

**To Reproduce**

1. Open https://www.clusteremployment.com
2. Click Create Account
3. Click Sign Up with

[2020-12-01 20:53] dominicduffin1 commented on #11647
I'd like to work on this!

[2020-12-01 20:54] nickytonline commented on #11647
Great! Assigning this to you @dominicduffin1.

[2020-12-01 21:34] cmgorton commented on #3414
Hey! Thanks for taking the time to open this discussion. We are working on thinking through the product roadmap for Forem and not just DEV and cleaning up stale issues in the repo. Since this has been inactive for over a year I am going to go a head and close this.

[2020-12-01 21:34] #3414 closed

[2020-12-02 02:40] Montana opened #11699 "Too many redirects, 301 errors, but /GET says "OK" when making the request."
Hey fellow Developers,

When I click on my post: https://dev.to/Montana/a-short-journey-into-source-control-branching-and-release-patterns-5e05, it just hangs, on further inspection it says "too many redirects". This is also true on another post (that used to work).  It also says when I click "manage" "it does not exist" and I receive a `404` with a variant of `timeout` and `ERR_TOO_MANY_REDIRECTS

[2020-12-02 03:50] marthaerm commented on #4002
Hi! @jessleenyc @rhymes I would like to help with this issue, I noticed that someone started working on it, but it has no recent activity, so I would like to know if it is still open? Thanks!

[2020-12-02 05:27] Offirmo commented on #11690
@cmgorton It worked previously.
I started using dev-to-git on a single existing post, it worked I could edit the draft.
I extended my usage of dev-to-git to a second post, freshly created, then I could no longer edit any post.

Yes, my suspicion is the API calls messed up something or triggered a bug in dev.to.

[2020-12-02 10:36] leewynne commented on #11694
this might be related to the size of the image being used, will report back.

[2020-12-02 14:12] #11026 closed

[2020-12-02 14:17] #11645 closed

[2020-12-02 14:28] msarit opened #11703 "Alert Admins when enabling an Authentication Provider but the keys are missing"
**Is your feature request related to a problem? Please describe.**

Related to [this PR](https://github.com/forem/forem/pull/11696), this issue is to create a UX flow that alerts forem admins when they enable an Authentication Provider, but have not entered the keys for that provider. Right now, there is no indication to the admin that an authentication provider's keys are missing.

**Describe the

[2020-12-02 15:11] cmgorton commented on #2520
Hey @Zhao-Andy , do you think this is a good issue to keep open or do you think this is something we can close now. It has been stale for over a year so want to double check. Thanks!

[2020-12-02 15:12] maestromac commented on #11694
Thanks for reporting this issue @leewynne ! I will look into it.

[2020-12-02 15:12] jrdnbwmn opened #11705 "Include descriptive alert when uploading a new video"
**Is your feature request related to a problem? Please describe.**

This is about [uploading a new video](https://dev.to/videos/new). When you choose a video file and start the upload process, the loading bar fills in, but then the upload form suddenly goes back to its original state, without any indication of what's happened. The first few times I thought this was a bug and that the upload had er

[2020-12-02 18:02] shadowtime2000 opened #11707 "Post Generated from RSS Acting Weirdly"
**Describe the bug**

I am cross posting from Hashnode to DEV. The posts that come into my dashboard act pretty weirdly and don't have the full post content.

**To Reproduce**

Publish a post on Hashnode. Use DEV's RSS feed feature to fetch the posts and add them to your dashboard.

**Expected behavior**

I expected it to have full content and to let me actually publish it.

**Screenshots**

![ima

[2020-12-02 18:47] pkfrank opened #11708 "Generalize social image for /pod"
**Is your feature request related to a problem? Please describe.**
As a Forem Admin, when I use my `/pod` link, it is showing DEV-specific imagery.

**Describe the solution you'd like**
A generic "social image" for `/pod`.

**Additional context**
It might be good to do a little "audit" of any outstanding social images that are DEV-specific on various pages around the app.

Example screenshot:

![s

[2020-12-02 21:31] shadowtime2000 commented on #11707
The problem with only some content appearing is on Hashnode's side not DEVs, but it still won't let me publish it.

[2020-12-02 22:47] pkfrank opened #11713 "Add ability to "pin" post to the top of feed"
**Is your feature request related to a problem? Please describe.**
As a Forem Admin, I don't have the ability to "pin" a post to the top of the feed.  I can mark it as Featured and take some other incremental steps, but it won't strictly "pin" the post to the top.

This is very common in classic internet forums — oftentimes called a "sticky."

**Describe the solution you'd like**
An ability to pin

[2020-12-02 22:54] pkfrank opened #11714 "Create a community "membership directory""
**Is your feature request related to a problem? Please describe.**
As a Forem member, there's no intuitive and elegant way to explore who else is part of the community.

**Describe the solution you'd like**
A "membership directory" where I can browse other registered users of the community.

Stretch features include:
- Ability to filter people by keyword search
- Ability to filter people by other

[2020-12-02 22:55] #11707 closed

[2020-12-02 23:06] pkfrank opened #11716 "Support "Anyone with the link" style view-only options for posts on private Forems"
**Is your feature request related to a problem? Please describe.**
As an author publishing posts in a private Forem, I am not able to share those posts with someone that isn't part of the community.  That's certainly _intended behavior_, given that if you don't have access to the community, you shouldn't be able to read a post in that community.

With that said, plenty of applications provide a me

[2020-12-02 23:45] Arteneko opened #11717 "Hide the Github account from the DEV profile, if github used as login mechanism"
Right now, if you authenticate using Github as OAuth2 provider, your github account will be publicly shown on your dev.to profile page.

As with other social media links, it should be possible to hide it away.

As an example, I mostly only keep my github account to authenticate on dev.to (and would've dropped it a while ago otherwise, but since the only two auth mechanisms are Github and Google OA

[2020-12-03 00:35] pkfrank opened #11718 "Forem Cloud community members should not be prompted to open an OSS issue after hitting an error"
**Is your feature request related to a problem? Please describe.**
As a community member of a community hosted on Forem Cloud, I may occasionally run into an error page.  Currently, I'm instructed to write up an issue on GitHub (see below).

**Describe the solution you'd like**
Update the generic error page to something that doesn't instruct users to submit an OSS issue.

We might want to somehow

[2020-12-03 01:35] pkfrank opened #11719 "Account for "Primary brand color" and the impact on link colors"
**Is your feature request related to a problem? Please describe.**
As a Forem admin, I can set my "Primary brand color" via `Config > User Experience and Brand`.  This color is applied to links across my Forem.

If I choose a very dark color, then `<a>` links might not have enough contrast relative to normal text.

**Describe the solution you'd like**
I'm not sure what the best solution here is.

[2020-12-03 03:23] Rafi993 opened #11720 "Profile section renders links to social media I have not filled yet"
**Describe the bug**
Eventhough I have not filled dribble, mastadon ... account links in dev.to it shows those in profile page

**To Reproduce**
1. Go to https://dev.to/{username}
2. You can see all profile links rendering (even things you don't have)

**Expected behavior**

It should not render profile links you have not yet filled

**Screenshots**
![profile](https://user-images.githubusercontent

[2020-12-03 03:24] Rafi993 commented on #11720
Hello there if this issue is not yet taken I can help with this.

[2020-12-03 03:25] Rafi993 commented on #11013
All the non filled links point to your current dev.to profile

[2020-12-03 03:26] Rafi993 commented on #11720
All the non fill link point to your current dev.to profile

[2020-12-03 03:47] marcysutton commented on #5670
I did some screen reader testing recently for #11560 and infinite scrolling came up, so I'll quote my findings here:

The infinite scroll adds elements to the DOM, which impacts the accessibility tree as well. It updates live, as one would expect, but it also means you can't ever reach the end of the DOM. So the footer content is unreachable to pretty much everyone on pages with the infinite scrol

[2020-12-03 04:03] lisasy commented on #11714
This feature makes a lot of sense to me and definitely feels like a gap today.

I think that the product design task would be to identify:
- Where does someone access this directory?
- What is the interaction exploring this directory (does it open up in a new page? a modal? what actions can someone take here? Is it ordered based on people you're following or alphabetically? etc)

[2020-12-03 04:46] marcysutton commented on #7139
I've been looking to see if any of these items are still outstanding and here's what I found:

- Infinite scrolling is definitely still an issue, but it could be tracked separately in https://github.com/forem/forem/issues/5670.
- Regarding links without accessible names, I remember those as well but I believe most have been fixed. I'm seeing two right now on the DEV homepage that are both coming f

[2020-12-03 05:01] marcysutton commented on #11403
To answer your question about skipping links @nickytonline, `tabindex="-1"` and `aria-hidden="true"` should be sufficient. I don't have sufficient data to test it myself, but it looks like you've landed on an acceptable solution. Great work, @eevajonnapanula!

[2020-12-03 06:33] marcysutton opened #11723 "Storybook: Button/ButtonGroup with icon needs a name/label"
**Describe the bug**

In Storybook, the Button component Icon variant is missing a label to expose an accessible name for the button element. This occurs on standalone buttons and Button Groups.

There are a couple of solutions for this, depending on how resilient the component needs to be:

- SVG Icons in all examples/tests/usage could include a `<title>` to expose an accessible name on the paren

[2020-12-03 06:42] marcysutton opened #11724 "Storybook: dropdown should be accessible"
**Describe the bug**

In going through the components in Storybook, I found a dropdown that needs to be made accessible. It resembles the "hover only button" mentioned in #7139, which makes me think that possibly the implementation on the live site was updated but Storybook was not. This dropdown only shows content on hover of a link that looks like a button, and it's not keyboard accessible. It s

[2020-12-03 06:53] marcysutton opened #11726 "Storybook: Modal component needs to disable the background"
**Describe the bug**

Related to #10610, the Modal Component in Storybook needs to disable interactive elements in the background. I opened this issue separately so Storybook wouldn't drift from the live site since there are multiple kinds of modals. (But if this issue is truly a duplicate of #10610 implementation-wise, it's ok to close it)

**To Reproduce**

1. Go to https://storybook.forem.com/?

[2020-12-03 07:27] madzadev commented on #11720
Was about to report it, too 😉 Good catch! 👍

[2020-12-03 07:42] Rafi993 commented on #11720
Weirdly this issue does not happen in development environment

[2020-12-03 08:30] CodeWithBishal opened #11727 "Canonical URL problem"
few days ago I have started posting on Dev To and while posting I choose Canonical URL and put my blog post's URL now after few days when I have opened my search console, in most of the posts i am getting this error "URL is not on Google
This page is not in the index, but not because of an error. See the details below to learn why it wasn't indexed. Learn more"
and my website URL was not on google

[2020-12-03 10:40] rhymes commented on #11719
Hi @pkfrank, I'm closing this in favor of the analysis that @marcysutton wrote down in https://github.com/forem/forem/issues/11504

I'll refer to your comment there as well

[2020-12-03 10:40] #11719 closed

[2020-12-03 10:41] rhymes commented on #11504
@marcysutton adding this to the mix as well https://github.com/forem/forem/issues/11719#issue-755739942

[2020-12-03 12:17] rhymes commented on #11717
Agreed, right now for both GitHub and Twitter there's a coupling of purposes:

- if a user is connected with GitHub/Twitter, we use their username to determine if we should show the icons around the website
- we also use that to determine if a user hasn't loggedin yet as well (instead of using the presence or absence of the proper authentication identity)

I wonder if this would also intersect wit

[2020-12-03 12:26] rhymes commented on #11404
Adding a related issue https://github.com/forem/forem/issues/11717

[2020-12-03 12:45] madanswer opened #11731 "Unable to create post"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-12-03 12:50] rhymes commented on #11720
Hi @Rafi993, we're working on a fix ASAP in https://github.com/forem/forem/pull/11730

Thank you!

[2020-12-03 12:52] #11720 closed

[2020-12-03 12:53] rhymes commented on #11727
Hi @CodeWithBishal, is this related to this? https://github.com/forem/forem/issues/9509#issuecomment-732259221

Could you provide us with the two URLs?

Thank you

[2020-12-03 12:56] rhymes commented on #11731
Hi @madanswer, what's your DEV username? Thank you

[2020-12-03 13:08] CodeWithBishal commented on #11727
actually its a total of 7 URLs

1st: https://www.codewithbishal.com/post-5959
2nd: https://www.codewithbishal.com/how-to-change-the-background-color-onclick-using-js
3rd: https://www.codewithbishal.com/how-to-get-the-current-time-javascript
4rd: https://codewithbishal.com/example/pure-html-budget-calculator-cwb
5th: https://www.codewithbishal.com/example/validate-email-address-using-javascript
6th

[2020-12-03 13:11] #11403 closed

[2020-12-03 13:41] AdekunleA commented on #11697
Just following up on this problem :)

[2020-12-03 14:23] rhymes commented on #11697
Hi @AdekunleA, I've notified the team internally, we'll get back to you as soon as possible, thank you!

[2020-12-03 14:51] AdekunleA commented on #11697
Thanks! @rhymes

[2020-12-03 16:10] #11697 closed

[2020-12-03 16:19] juliannatetreault commented on #2867
It looks like we have this issue in two places! 👀  Related to issue #5726

[2020-12-03 21:19] lisasy commented on #11723
I'm tagging @nickytonline here for visibility. 👀

[2020-12-03 21:50] nickytonline commented on #11723
Thanks for raising @marcysutton. I'll take a peek at this.

[2020-12-04 01:51] 0xC000005 opened #11739 "Multi-language page text support?"
**Describe the solution you'd like**
Hi, I'm building my self-hosted forem, and I am trying to translate the text in the pages into Chinese.
Then it occurred to me that if I translated in the main branch, it would not only help my site, but also help all developers who want to use the Chinese version of forem pages.

Is there any way I can contribute my translations to this amazing open-source pro

[2020-12-04 02:23] ibizq opened #11740 "Dev"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-12-04 02:23] #11740 closed

[2020-12-04 02:23] ibizq commented on #11740
mistake

[2020-12-04 03:13] Harsha-Ambati commented on #6605
iam getting this error when iam writing a new post

[2020-12-04 07:19] gowtham2095 commented on #11566
Hello @reobin,

Can I pick this up?

I understood the problem we are facing here. Which is, checking for an element within the rectangle(Viewport) might not always work. As per your suggestion, using the partially covered block as a fallback when there is no first element that fully fits inside the viewport seems good to me as well. I have read about the Intersection observer. Have not worked with

[2020-12-04 10:07] jeeradate opened #11742 "font size is too small in Desktop version after click read more."
Please add a setting that lets users can increase the font size of text after click read more of the topic that too long to display in the timeline.

[2020-12-04 11:13] rhymes commented on #11739
Hi @0xC000005, thanks for the inquiry. I'm going to close this as there are already two more focused issues related to i18n/l10n work: https://github.com/forem/forem/issues/304 and https://github.com/forem/forem/issues/3929

There's still some foundational work that needs to be planned before we kickstart this.

[2020-12-04 11:13] #11739 closed

[2020-12-04 11:14] rhymes commented on #6605
Hello @Harsha-Ambati, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-12-04 11:17] rhymes commented on #11566
Hi @gowtham2095, all bugs are open to contribution, I'll let @reobin add further info if that's needed as they graciously helped spearheading feed navigation the past few weeks but I think you can start in the meantime. I'll assign the issue to you

[2020-12-04 11:18] rhymes commented on #11742
Hi @jeeradate can you provide a screenshot?

In the meantime you can increase font size from the browser menu.

[2020-12-04 11:33] rhymes commented on #11727
@CodeWithBishal according to https://dev.to/codewithbishal/how-to-create-count-down-timer-using-javascript-code-with-bishal-28k2 that's your canonical URL. Can you force Google to refresh the canonical URLs?

Also, if I search "How to Create Count Down Timer using JavaScript - Code With Bishal" on google.com the first result is DEV, the second is your blog.

I think it was just a matter of time?

[2020-12-04 11:33] #11727 closed

[2020-12-04 12:18] sjarva commented on #11181
I'd like to work on this one, please! 😊

[2020-12-04 12:37] CodeWithBishal commented on #11727
![Screenshot_2020-12-04-18-05-46-13](https://user-images.githubusercontent.com/69814108/101164700-73f08b00-365b-11eb-8548-97788cb564f5.jpg)
I don't see my blog in the second position

[2020-12-04 12:39] CodeWithBishal commented on #11727
![Screenshot_2020-12-04-18-05-46-13](https://user-images.githubusercontent.com/69814108/101164891-bdd97100-365b-11eb-9e18-4c92b1507e2e.jpg)
I don't know where you found my blog in the second position

[2020-12-04 12:58] 0xC000005 commented on #304
I would like to help with the Mandarin translation.  😉

[2020-12-04 13:03] leewynne commented on #11714
This sounds great!

[2020-12-04 13:34] rhymes commented on #11181
@sjarva thanks for volunteering! I've assigned it to you

[2020-12-04 13:40] rhymes commented on #11727
@CodeWithBishal sorry, I mistakenly took the dribble url from your blog. I'm not sure what we can do on our side. The searche engine is behaving correctly: if the canonical result for that it's DEV, then it's normal that the first result is DEV's.

Also, I'm not sure where is the identical version of https://dev.to/codewithbishal/how-to-create-count-down-timer-using-javascript-code-with-bishal-28k

[2020-12-04 13:43] CodeWithBishal commented on #11727
My blog is based on this topic but it's completely different from my post of Dev and i don't know why google is nit indexing it moreover there is no option for reindexing

[2020-12-04 14:05] reobin commented on #11566
Hey @gowtham2095 !

So here is how the feed navigation initializes right now:

1. Load article feed
2. Press `j` or `k`
3. Focus on first article that is _completely_ visible

The problem here is with the _completely_ word.

As mentioned in the issue, if no article is fully visible, like when the article's height is bigger than the window's height (see first screenshot), then no article is focused

[2020-12-04 14:08] Montana commented on #11699
The fix for this (at least for now) for whatever reason is archiving the post, then unarchiving. Strange.

[2020-12-04 14:16] reobin commented on #11566
Oh and we talked a lot about the `isInViewPort` function, but the function with the fallback logic will probably be [this one](https://github.com/forem/forem/blob/cc4a17992adc898a1490223506b7eb636fb3ce34/app/javascript/shared/components/useListNavigation.js#L220): `getFirstVisibleElement` in `useListNavigation` which uses `isInViewport`.

[2020-12-04 14:35] cmgorton commented on #710
Hey, we are working on cleaning up stale issues in the repo. Since this has been inactive for over a year I am going to go a head and close this. Thanks.

[2020-12-04 14:35] #3060 closed

[2020-12-04 14:50] rhymes commented on #11727
@CodeWithBishal I think you should direct your request to Google's support though from the Google console dashboard. Good luck!

[2020-12-04 16:17] CodeWithBishal commented on #11727
Okay... Thanks

[2020-12-04 16:27] 0xC000005 opened #11745 "Command ["foreman start -f Procfile.dev"] failed"
**Describe the bug**
Hi, I just finished setting up my forem, and the first time I run the `bin/startup`, the program errors and then quits.

**To Reproduce**

I finished `bin/setup` without any error, then the error occurs when I run `bin/startup` for the first time.

This is the output:
[code]
**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartph

[2020-12-04 16:38] rhymes commented on #11745
Hi @0xC000005, that's indeed an odd error and one I've never seen. It seems related to Python 2.7, which we definitely don't use directly so it makes me think there's something else going on.

I googled it with `MissingSectionHeaderError` and it seems related to some configuration file missing, which is even more odd since `development.js` is JavaScript file.

I wonder if it has anything to do wit

[2020-12-04 17:00] #11620 closed

[2020-12-04 17:13] nishantwrp commented on #11516
Closes #11692

[2020-12-04 17:13] #11516 closed

[2020-12-04 17:37] BogDAAAMN opened #11746 "Ampersand (&) decoded in organization name"
**Describe the bug**
If the name of a organization contains an ampersand symbol (`&` symbol) this will be shown as `&amp;` on certain pages. eg: `Law&Tech Lab` will be printed as `Law&amp;Tech Lab`.

The current pages I have encountered are (see Screenshots for examples):

- **Correct version (`&`)**: organization page (eg: https://dev.to/maaslawtech in the organization name field)
- **Decoded ver

[2020-12-04 17:38] gowtham2095 commented on #11566
Hello @reobin!

Thanks for the detailed explanation. The solution mentioned above is what I had in my mind, too. I will comment here if I face any hiccups while working. Your comments are clear and helpful :)

[2020-12-04 17:49] matrixx opened #11747 "Fullscreen button on article code block has huge svg icon path viewbox size"
This issue only rises up when some of the scripts fail to load. Apparently one of those failed to load scripts include css which overrides this svg path viewbox size which is huge by default. Here's a screenshot (from my colleague) from Firefox which does not use any ad blockers. The screenshot is a little bit scaled down for the context, but as you can see the fullscreen icon is huge.

![image](h

[2020-12-04 17:54] matrixx commented on #11747
And actually I just checked the dimensions from the screenshot. The icon is even bigger than the viewbox size (over double, because the screenshot is scaled down). I don't understand where the size this big comes from, but you probably have, so letting you figure out the rest :)

[2020-12-04 18:04] 0xC000005 commented on #11745
@rhymes No, I'm no inside a virtual environment. I directly installed forem to my ubuntu 18.04 server.
In terms of node installed, I used nvm to install nodejs 14.14.0, as `node -v` gives me the right version.
Both `python -V` and `python3 -V` give me the correct version so I guess the python3 is installed globally.

I deleted my `node_modules` folder under `~/.nvm/versions/node/v14.14.0/lib`. How

[2020-12-04 18:20] rhymes commented on #11745
Regarding Python: according to the logs, node is using Python 2.x, my suggestion to use Python 3 to rebuild `node_modules` with that.

Which version of yarn do you have?

[code]

we require `>= 1.21.x`

https://github.com/forem/forem/blob/f7a9f0d2b42deb2d38ace3ea3c045f782e6a29fd/package.json#L6

[2020-12-04 18:22] dominicduffin1 commented on #11647
My thinking is to add a `color` property to `.article-published-at`. There seems to be two options, either to use `var(--base-80)` or `var(--button-secondary-color)`. Looking through the code it appears the `--base` variables are used quite a bit but I also notice the pink theme varies which base is used in some circumstances, so using `--button-secondary-color` might be better. What are the team'

[2020-12-04 18:40] nickytonline commented on #11647
cc : @ludwiczakpawel, @lisasy

[2020-12-04 18:50] 0xC000005 commented on #11745
I FIGURED OUT.
So at all ubuntu 18.04, `sudo apt-get install yarn` or use the official guide resulting in installing `cmdtest`  instead of `yarn`.
Referring to this question from yarn official:  https://github.com/yarnpkg/yarn/issues/2821

I fix my problem with the following commands:
[code]

After that, `yarn version` gives me the correct version and I was able to run `yarn install --dev` without

[2020-12-04 18:50] #11745 closed

[2020-12-04 19:13] rhymes commented on #11745
@0xC000005 glad to have been of help! Thanks to you I discovered we actually have a transitive dependency on Python through Node in development :D

[2020-12-04 19:39] cmgorton commented on #6925
Hey @caleb15  I am working on cleaning up issues. We haven't had any more reports about this issue but I wanted to see if this is something you have encountered again before closing it. Let me know if this is something you have run in to again. Thanks.

[2020-12-04 19:43] cmgorton commented on #7584
@pkfrank has this issue occurred anymore? From the screenshots it looks like we have an updated editor now so want to check before closing this issue. Thanks.

[2020-12-04 19:43] cmgorton commented on #6926
From what I can tell this should no longer be an issue with the updated editor. @caleb15 if you run in to this issue again please let me know and I will open this back up.

[2020-12-04 19:43] #6926 closed

[2020-12-04 21:04] cmgorton commented on #7371
@PranavBhattarai
I do no believe they are being colorized. I think they already had the white background on them but you don't see that in light mode.

This has more to do with the images being loaded than with the themes themselves.
If you took that image and put it on any dark background it would look the same. I put the same image in to Figma and added a dark background. The image itself has wh

[2020-12-04 21:04] #7371 closed

[2020-12-04 21:08] cmgorton commented on #7139
Thank you @tomByrer for opening this issue. Since we have Marcy working on identifying a11y issues and creating other issues/PRs to monitor those I am going to go ahead and close this issue.

[2020-12-04 21:08] #7139 closed

[2020-12-04 21:14] cmgorton commented on #7109
@fdoxyz should this go in the https://github.com/forem/DEV-Android repo?

[2020-12-04 21:16] cmgorton commented on #7414
@ludwiczakpawel @nickytonline any thoughts on this?

[2020-12-04 21:32] fdoxyz commented on #7109
That's right, I can transfer the issue and follow up over there. Thanks for bringing this up!

[2020-12-04 22:19] thomasbnt opened #11751 "Error: Available for is too long when you would like change the color"
**Describe the bug**
When I would like to change my color of my profile, I've got this error :
`Error: Available for is too long (maximum: 200)`

**To Reproduce**

1. Go to your settings
2. Change your color
3. Click to save
4. You've got the error

[2020-12-05 03:07] FGasper opened #11753 "Warn before blowing away an in-progress post."
**Is your feature request related to a problem? Please describe.**

I just accidentally hit the “X” in the upper-right while writing a post. (I went to look at a preview and mistook that “X” for a control to close the preview and return to the writing view.)

I’d spent some time on the post; now that post is just gone.

Usually apps like this show a confirmation before deleting data.

**Describe t

[2020-12-05 03:23] masakudamatsu opened #11754 "Clicking "Write a post" shows my previous post"
**Describe the bug**

Clicking "Write a post" button shows my previous post in the editing mode.

**To Reproduce**

1. Visit dev.to
2. Click the "Write a post" blue button on the top bar, or hover the profile photo icon on the top-right corner and click the "Write a Post" menu item
3. My previous post appears in the editing mode, instead of a blank post, like this:
<img width="1368" alt="Screensho

[2020-12-05 13:51] rhymes commented on #11699
Thank you @Montana, it's weird indeed. I wonder if it has something to do with caching

[2020-12-05 13:59] rhymes commented on #11751
Hi @thomasbnt, it's not a bug per se, as the error message states, your `available_for` field is too long. The maximum is 200 chars.

Hope this helps!

[2020-12-05 13:59] #11751 closed

[2020-12-05 14:24] rhymes commented on #9919
I was "spying" app.hey.com and noticed they seem to be using hCaptcha in production:

<img width="1075" alt="Screenshot 2020-12-05 at 3 23 17 PM" src="https://user-images.githubusercontent.com/146201/101245534-d5713200-370d-11eb-8945-706ac9e13989.png">

[2020-12-05 16:46] CodeWithBishal commented on #11727
I had completed my Hactoberfest and have ordered a T-shirt but till now i haven't got the tracking details. Please help me

[2020-12-06 02:21] alexanderjosepluthor opened #11757 "== Command ["foreman start -f Procfile.dev"] failed =="
1. after this: https://docs.forem.com/installation/linux/
2. then here: https://docs.forem.com/getting-started/start-app/
2.1 when run "bin/startup"

10:23:23 web.1       | started with pid 1693
10:23:23 webpacker.1 | started with pid 1694
10:23:23 sidekiq.1   | started with pid 1695
00h00m00s 0/0: : 10:23:25 webpacker.1 | ERROR: [Errno 21] Is a directory: 'bin'
10:23:25 webpacker.1 | CRITICAL:roo

[2020-12-06 02:25] alexanderjosepluthor opened #11758 "apache2 config sample"
any chance you can provide the apache2 config sample? below seems throwing error,

    ServerName temp.com
    DocumentRoot /var/www/temp.com/public
    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/temp.com/cloudflare.pem
    SSLCertificateKeyFile /etc/apache2/ssl/temp.com/cloudflare.key
    <Directory /var/www/temp.com/>
        Options -Indexes +FollowSymLinks -MultiViews
        AllowOv

[2020-12-06 11:35] rhymes commented on #11757
Hi @alexanderjosepluthor, I think you're having the same issue @0xC000005 had. See the solution here - https://github.com/forem/forem/issues/11745#issuecomment-738955291 - and let us know if that doesn't work so we can re-open the issue if needed

[2020-12-06 11:35] #11757 closed

[2020-12-06 11:41] rhymes commented on #11758
Hi, I think that's incorrect, it looks like an Apache configuration for a PHP app, which we're not. Going ahead and closing this

[2020-12-06 11:41] #11758 closed

[2020-12-06 12:53] alexanderjosepluthor commented on #11745
@0xC000005's remove _cmdtest_ works!

but there is new error,

20:48:37 web.1       | started with pid 16968
20:48:37 webpacker.1 | started with pid 16969
20:48:37 sidekiq.1   | started with pid 16970
20:48:42 webpacker.1 | yarn run v1.22.5
20:48:42 webpacker.1 | error Command "webpack-dev-server" not found.
20:48:42 webpacker.1 | info Visit https://yarnpkg.com/en/docs/cli/run for documentation ab

[2020-12-06 13:48] rhymes commented on #11745
@junior563916 looks like you haven't installed all the dependencies, run `yarn install --dev` and `bin/setup`

[2020-12-06 16:14] thomasbnt commented on #7414
Thanks @cmgorton for relaunch this issue :octopus:

[2020-12-06 16:44] ty-schnoor opened #11777 "environment variable name ... may not contain whitespace"
**Describe the bug**
when trying to `docker-compose run bin/container-setup`, i get this error: `ERROR: In file ./.env: environment variable name 'export SKIP_SERVICEWORKERS' may not contain whitespace.`

**To Reproduce**
simply run `docker-compose run bin/container-setup` (going back, it looks like this command is wrong, but this issue is still needed, i presume)

**Expected behavior**
expected t

[2020-12-06 17:19] rhymes commented on #11777
Hi @ty-schnoor, have you created the `.env` file? See the installation guide https://docs.forem.com/installation/containers/#setting-up-forem

[2020-12-06 18:03] jaredpalmer opened #11780 "Bulk tag creation"
**Is your feature request related to a problem? Please describe.**

As an admin migrating from an existing community, I want to be able to bulk create tags.

**Describe the solution you'd like**

Bulk create Tags in Admin panel

- MVP: A textarea (one tag per line) in a modal, this would just generate the names
- v2: CSV upload of a template. Forem would make this template downloadable.
  - Notes:

[2020-12-06 18:07] jaredpalmer opened #11781 "Add "Save and Create New" to new tag form"
**Is your feature request related to a problem? Please describe.**

As admin creating multiple tags at once, I want to be able to create another tag after making one.

**Describe the solution you'd like**

Add a button  at the bottom of the Tag form to "Save and Create New." This could also be placed in a button group dropdown menu.

**Describe alternatives you've considered**

**Additional contex

[2020-12-06 20:19] Montana commented on #11699
Thanks @rhymes! That's what I was leaning towards as well. Have a wonderful weekend.

[2020-12-06 20:20] ty-schnoor commented on #11777
i have

[2020-12-06 21:10] Daniel-ltw commented on #3017
Hi,
Had issues with rating experience level a week ago. Still having this issue today.

Every time I tried rating, clicking one of the experience level, it would come back with a bad request alert box.

Not sure if this is a similar or a different issue.

Can't rate experience for any article at the moment.

[2020-12-06 22:51] ccozkan commented on #8940
Hey :wave: Is this issue still available? I would like to work on this

[2020-12-07 03:52] citizen428 commented on #8940
Teşekkür ederim for volunteering @ccozkan, it's all yours! 😃

[2020-12-07 07:57] ludwiczakpawel commented on #11753
1. 100% agree we should have this kinda of prompt.
2. It is a bit surprising your post is gone - it should be auto-saved --> even if you leave the page, it just still be in the textarea when you get back to it. So if that didn't happen it certainly seems like a bug.

[2020-12-07 08:10] ludwiczakpawel commented on #7414
Hey,

There're some concerns I have in regards to custom scrollbars, accessibility related as well. You can read a bit more about this here: https://adrianroselli.com/2019/01/baseline-rules-for-scrollbar-usability.html

But overall, I'd love to know a bit of reasoning, why would we/site/community benefit from these custom scrollbars and not the browser's native ones.

[2020-12-07 08:17] ludwiczakpawel opened #11784 "Can't update settings due to `payment pointer` error."
**Describe the bug**

I can't update settings due to some error regarding `Payment pointer`.

**To Reproduce**

1. Go to /settings
2. Update anything and try to save
3. **Boom**. `Error: Payment pointer is invalid.`

**Expected behavior**

No **boom**.

**Screenshots**

Video: https://d.pr/v/DyzVIh

**Additional context**

- Seems like it happens on every `/settings/*` subpage.
- Seems like it hap

[2020-12-07 08:34] ludwiczakpawel commented on #11647
@dominicduffin1

The `.article-published-at` element sounds like a class that could be used  elsewhere (not sure though!:P) so I wouldn't apply any extra styles to it so they don't potentially affect other places.

In this case it seems the bug is due to some weirdness going on with how this view has been implemented. Each row of this "table" seems to be a `button` element and buttons come with so

[2020-12-07 09:20] kuei0221 commented on #11784
hi @ludwiczakpawel, I think this related to the PR I made (#11702). and this has added a syntax check to the payment_pointer.

Could you describe what your payment pointer looks like? This error might because your payment pointer now considers invalid. I have reproduced the error with the invalid pointer but nothing happens with a valid one.
The valid pattern will look like this: `$example.com/val

[2020-12-07 09:38] rhymes commented on #11777
@ty-schnoor is `bin/container-setup` working now?

[2020-12-07 09:42] rhymes commented on #3017
Hi @Daniel-ltw could you open a separate issue? Please fill the template also with the error message (check also the JS console to see if anything is logged there). Thank you!

[2020-12-07 09:52] rhymes commented on #11753
@ludwiczakpawel definitely a bug yes, @FGasper could you file a separate issue describing what happened there? AFAIK the client side storage should be emptied only when the previous post is published, not when you close or dismiss the page

[2020-12-07 13:07] ty-schnoor commented on #11777
yes it is, just running into ip and port issues.

[2020-12-07 13:19] benhalpern commented on #11784
It seems like a "blank" submission is failing...

[2020-12-07 14:00] thomasbnt commented on #7414
@ludwiczakpawel Helo ! 👋
I thought that adding the customs scrollbar to the website would be cleaner. I have the impression that with the classic bars, it's from another era. The color, the little buttons and the gray background.

<details>
<summary>Image with the default scrollbar</summary>

![image](https://user-images.githubusercontent.com/14293805/101359609-cf5d8b80-389c-11eb-9644-6998c60fb423

[2020-12-07 14:04] rhymes commented on #11777
Thank you for the update! Closing this now.

[2020-12-07 14:04] #11777 closed

[2020-12-07 14:07] dominicduffin1 commented on #11647
@ludwiczakpawel That makes sense, I'll do that!

[2020-12-07 14:43] benhalpern commented on #11784
..... Okay @ludwiczakpawel I determined that you had an invalid payment pointer of `""`.... And it has been resolved. I fixed it in DEV. If we suspect other communities may have lingering data issues we should have a data update script to fix it.

This also speaks to a scenario I'd love for us to have solutions for in general... Which is to safely "clean up" malformed data as an ongoing process in

[2020-12-07 14:57] rhymes commented on #11784
@benhalpern got it, it's again the difference between `nil` and `blank`. I'm going to send a PR to tell the validator to allow blanks as well

[2020-12-07 15:10] Glennmen commented on #11647
Duplicate of #5738 ? 🤔

[2020-12-07 15:13] Glennmen commented on #11300
This please! I do not feel confident enough to moderate post quality of technologies that I am not experienced in.

Also same for languages, I don't think I can moderate a post that is in Spanish for example.

[2020-12-07 17:18] #11784 closed

[2020-12-07 17:55] #11718 closed

[2020-12-07 20:08] ludwiczakpawel commented on #11647
@Glennmen Kinda I guess.. Original description of that issue was about old (in terms of design) mod tools... This is a bit more up-to-date I think.

[2020-12-07 20:13] michael-tharrington opened #11790 "Updating an Org's name/username doesn't update it in realtime on user profiles."
**Describe the bug**

As an org admin, when I update the name and/or the username of my org (or someone else updates the name of an org I'm in), I'd expect the name of the organization and related link to my org to update on my profile page immediately.

**To Reproduce**

1. Go to 'settings/organization' and set up an organization if you haven't already.
2. Visit your profile and see how the organ

[2020-12-07 20:14] pkfrank opened #11791 "Fix 404 on "Recent Emails" via /admin/users"
**Describe the bug**
As a Forem Admin, clicking on a "recent email" via `/admin/users` is leading to a 404.

**To Reproduce**
- Be an admin with sufficient permissions
- Navigate to a user via `/admin/users`
- Click a "recent email" at the bottom of the page
- Hit a 404

**Expected behavior**

Link opens up properly, showing the relevant email

**Additional context**

This is a left-over issue ste

[2020-12-07 21:33] Daniel-ltw opened #11793 "Moderator Experience Rating"
**Describe the bug**
I was trying to rate an experience level for an article and encountered the following issue.

Here are some of the technical details:
Request:
POST https://dev.to/rating_votes
Request Body:
{"user_id":"230161","article_id":"527891","rating":"1","group":"experience_level"}

Alert box message:
SyntaxError: JSON.parse: unexpected end of data at line 1 column 1 of the JSON data

*

[2020-12-07 23:22] fdoxyz commented on #11791
https://github.com/forem/forem/pull/11792 tackles this by creating a custom view for admins to read these emails, and also removes `resource_admin` altogether.

Are there any specific features that we need from the "recent emails"? @pkfrank

The links to the recent emails that appear in this area will be "read only", meaning that admins can't edited them, or perform any other action on them (like

[2020-12-07 23:54] pkfrank commented on #11791
Looks great to me @fdoxyz!

I don't think we need any extra features here — "read only" is great.

IMO, this issue can be closed once #11792 is merged.

[2020-12-08 00:03] musps commented on #11793
Earlier this day I had an error from the api "404 bad request" but now I got the same error as daniel gotten

The `https://dev.to/rating_votes` endpoint does not exist. He returns a blank response

[2020-12-08 00:08] Daniel-ltw commented on #11793
Maybe they are still working hard to resolve the bug.

Previously I only had a bad request in the alert box message.

[2020-12-08 02:16] Offirmo commented on #11690
I'm still completely blocked.

Could someone look into it?

I have nothing secret on dev.to and can share my credentials if needed.

[2020-12-08 02:29] Offirmo commented on #11690
Btw none of my previous public blogposts can be accessed anymore:
* https://dev.to/offirmo/learn-javascript-in-2020-a-refreshed-list-of-resources-44o0
* https://dev.to/offirmo/heroku-pipelines-easy-free-580g

In short, my account is completely broken.

[2020-12-08 02:32] fdoxyz commented on #11690
Hi @Offirmo, I can see something is off on your posts. I just saw your recent comment and I'm getting redirects and the pages of your posts fail to load.

I'll try to investigate bit more what may be causing this.

Quick question: Does https://dev.to/dashboard and https://dev.to/settings load correctly for you?

Also to confirm: You're not experiencing any problems logging out and then back in, ri

[2020-12-08 09:20] #11793 closed

[2020-12-08 09:33] #5738 closed

[2020-12-08 09:33] #11647 closed

[2020-12-08 09:46] Kaffesumpen opened #11798 "Unlink Twitter account"
**Describe the bug**

When I created the account I linked it with Twitter, I have since removed my twitter but there is not way to unlink that Twitter account to my DEV account

**To Reproduce**

**Expected behavior**

To be able to remove the Twitter email from my account

[2020-12-08 09:51] rhymes commented on #11798
Hi @Kaffesumpen, first and foremost: what is your DEV username?  :-D

Is Twitter the only means of authentication to DEV?

DEV allows you to remove an OAuth link only if you have at least another mode of authentication.

I think you can either link GitHub or set a password in https://dev.to/settings/account - then you should be able to see the "Remove Twitter" button

[2020-12-08 09:56] Kaffesumpen commented on #11798
Thank you, added the Github account and the remove Twitter came up.

[2020-12-08 09:56] #11798 closed

[2020-12-08 12:56] #11790 closed

[2020-12-08 15:45] harshhhdev opened #11802 "Deformed Navbar"
**Describe the bug**

The navbar is deformed. It has buttons all over the place, and has no order or line whatsoever. Even reloading doesn't fix it. I have not added any custom CSS or tampered with the inspect feature.

**To Reproduce**

1. Go to 'dev.to'
2. Watch the page become deformed.

**Expected behavior**

Everything in the nav should line up. Not have a bunch of deformed elements all over

[2020-12-08 15:46] harshhhdev commented on #11802
A ctrl+f5 fixed this. But am still confused on why this happened and thought to bring this to your attention.

[2020-12-08 16:03] harshhhdev opened #11805 "Make textbox resize only on y."
**Is your feature request related to a problem? Please describe.**

In notifications, to reply to comments you can drag the text box without a limit to the certain axis.

**Describe the solution you'd like**

Disable the resize on the x-axis.

**Describe alternatives you've considered**

Disable resizing the entire thing?

**Additional context**

![image](https://user-images.githubusercontent.com/

[2020-12-08 16:32] ItzaMi commented on #11802
Also facing this issue. Clearing the cache on Chrome (desktop, windows 10) fixed it.
However, having the same issue on dev.to android app on Huawei P10 Lite with version 8.0.0

![Screenshot_20201208-163000](https://user-images.githubusercontent.com/30603437/101512495-f8e8e680-3972-11eb-96ef-1cd63908c0d2.jpg)

[2020-12-08 16:48] ItzaMi opened #11809 "Pressing the cog on blog post doesn't display edit options (mobile app)"
**Describe the bug**
Pressing the `cog` (settings) inside a blog post, on mobile app, doesn't do the pretended behaviour (shows up a slight white bar on the top but that's it)

**To Reproduce**
1. Have mobile app
2. Choose a post created by you
3. Press `cog` (settings, next to `Save Changes`) inside the post
4. See error and slight white bar on top of window

**Expected behavior**
I'm not sure wh

[2020-12-08 17:19] rhymes commented on #11809
Hi @ItzaMi which version of the mobile app are you using? Would it be possible for you to file this bug report in the repository for the DEV android app? https://github.com/forem/DEV-Android

[2020-12-08 17:38] ItzaMi opened #11828 "Pressing the cog on blog post doesn't display edit options"
**Describe the bug**
Pressing the `cog` (settings) inside a blog post, on mobile app, doesn't do the pretended behaviour (shows up a slight white bar on the top but that's it)

**To Reproduce**
1. Have mobile app
2. Choose a post created by you
3. Press `cog` (settings, next to `Save Changes`) inside the post
4. See error and slight white bar on top of window

**Expected behavior**
I'm not sure wh

[2020-12-08 17:39] ItzaMi commented on #11809
@rhymes , sorry, completely forgot that DEV has an android repo. I created [the issue](https://github.com/forem/DEV-Android/issues/117) there now, thank you for the notice!

[2020-12-08 18:08] rhymes commented on #11809
Thank you @ItzaMi, no worries :)!

[2020-12-08 18:08] #11809 closed

[2020-12-08 18:38] #10483 closed

[2020-12-08 18:48] #11791 closed

[2020-12-08 20:05] fdoxyz opened #11815 "Make sure Posts path are consistently using only lowercase characters"
**Describe the bug**

We found a few Posts that are saved with a `path` that contains uppercased characters, which breaks them.

**To Reproduce**

We're not able to reproduce this yet, but think it may have something to do with API calls or the User's username being capitalized causing this issue. The following query shows some data on these articles:

https://dev.to/admin/blazer/queries/304-artic

[2020-12-08 20:09] benhalpern commented on #11815
We don't have any validations on the `path` right now. It's not something the user can submit data directly to, but clearly our app logic is capable of messing this up.

[2020-12-08 20:18] fdoxyz commented on #11815
Interesting, we do have a `before_action` callback for `set_caches` [here](https://github.com/fdoxyz/forem/blob/master/app/models/article.rb#L407-L413).

I think that we can add a `.downcase` to the `calculated_path` to ensure we won't run into any other of these situations. It looks like when a user has an uppercase char in their username then the path gets stored incorrectly.

I can update #1181

[2020-12-09 04:11] #10714 closed

[2020-12-09 04:11] nickytonline commented on #10714
Closing this as the design rework of the notifications appears to have fixed this.

[2020-12-09 08:54] binismail opened #11827 "Navigation content overlapping each other"
**Describe the bug**

Noticed some bug earlier today, the navigation header is overlapping each other on my dev.to account this morning when I was looking for some answers, I tried some way thinking it's my computer but shows the same result.

**To Reproduce**

 1. go to dev.to

2. Click on post

3. Check your navigation header

4. See error
**Expected behavior**

**Screenshots**
![screenshot-dev-

[2020-12-09 09:17] rhymes commented on #11827
Hi @binismail, do you still have this issue if you hard refresh? We've released [a fix](https://github.com/forem/forem/pull/11806) that should address that yesterday but you might need to force the cache unfortunately. Let us know, and thank you!

[2020-12-09 09:19] binismail commented on #11827
okay, let me check

[2020-12-09 09:32] Ridhwana commented on #7584
@cmgorton I'll go ahead and close this issue since the workflow has changed a bit since we implemented the new editor and I can no longer replicate it.

[2020-12-09 09:32] #7584 closed

[2020-12-09 10:42] cyrillefr commented on #11594
Hello, I would like to work on this one.

[2020-12-09 10:51] rhymes commented on #11594
@cyrillefr please go ahead and thank you!

[2020-12-09 14:01] fdoxyz commented on #11828
The modal that presents the options after pressing the button does seem to appear on screen but it's positioned incorrectly (you can notice a small blip at the very top of the screen).

I think it can be fixed with some CSS changes.

[2020-12-09 14:09] ItzaMi commented on #11828
Indeed, just noticed that also happens on Chrome. Seems like it might be this `.bottom-100` class although I'm not really in sync with the stylesheet that dev.to uses

[2020-12-09 15:35] fdoxyz commented on #11828
I think the best resource for diving into the CSS classes available is this: https://storybook.forem.com/?path=/story/introduction--page

[2020-12-09 16:24] AdekunleA commented on #11119
Just thought I'd revive this feature request :D

[2020-12-09 16:39] erdnuesse opened #11831 "Main site bottom menu disappears. Endless."
If I want to check out the imprint, contact info or anything located in the footer menu, it disappears due to the autoload more content feature.
While this may be a good exercise for newbies to dig through the site code to find the specific links, the bottom menu is either useless and can be removed or unecessarily hard / unable to being useful - and needs fixing..

Regards, K

[2020-12-09 16:47] rhymes commented on #11831
Hi @erdnuesse, thanks for reporting this. We do have several active discussions on the pros and cons of infinite scroll and how to deal with the footer on the feed (in other pages you can reach the footer easily):

- https://github.com/forem/forem/issues/9034
- https://github.com/forem/forem/issues/8256
- https://github.com/forem/forem/issues/5670

I'm going ahead and closing this as it's a known

[2020-12-09 16:47] #11831 closed

[2020-12-09 16:54] AdekunleA opened #11833 "Automated mail to users upon creation of new listing or post"
**Is your feature request related to a problem? Please describe.**

It is not related to a problem but I think it would serve our community on Forem better - the Cluster Employment Community, if there was a way to automate emails to users on the platform anytime a new listing or post is created. I believe it would assist in increasing user engagement and activity on the platform.

**Describe the s

[2020-12-09 18:56] #11690 closed

[2020-12-09 22:55] futureeducationbr opened #11839 "MODULE_NOT_FOUND webpack-dev-server"
**Describe the bug**

I'm trying to run the installation on Ubuntu 20.04 but i got this error:

<img width="754" alt="Captura de Tela 2020-12-09 às 19 53 12" src="https://user-images.githubusercontent.com/33633948/101698408-2e1b3480-3a58-11eb-8f25-88e1ca6114d5.png">

Anyone can help?

**Additional context**

[2020-12-10 02:29] LE-HU commented on #11533
Hello,
I've been able to replicate the issue.

Bug appears both on **Chrome** v. 87.0.4280.88 (64-bit) and **Mozilla Firefox** v. 83.0 (64-bit).
OS: **Ubuntu** 20.04.1 LTS

Logout -> Login method fix the issue, user page no longer shows "Unfollow" button, but the right "Follow" one.
Relation to caching seems right. I'll try to look into it, not sure about the outcome as I'm quite new around here.

[2020-12-10 03:36] marcysutton opened #11842 "Validate or restructure admin-supplied content fields for accessibility"
**Is your feature request related to a problem? Please describe.**

The sponsorship widget in the left sidebar of Forem has accessibility issues, including missing alt text for an image wrapped in a link–causing an empty anchor to be rendered. This content area and other similar textfields should be updated to either validate the freeform content for accessibility, or be restructured into separate

[2020-12-10 08:39] nglglhtr opened #11843 "Unable to install forem using docker on macOS"
**Describe the bug**

the logs seem to be stuck here

**To Reproduce**

1. `cp .env_sample .env`
2. `bin/container-setup`

**Expected behavior**

Forem should start running on localhost:3000

**Screenshots**

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/10832414/101744395-f57b6980-3af0-11eb-9022-bd15b4e01cd2.png">

[code]

**Desktop (please complete the following in

[2020-12-10 10:56] rhymes commented on #11839
Hi @futureeducationbr, a piece of the error stack message is missing so I'm not sure 100% about this but it looks like the installation is picking up the wrong required pieces.

Which version of node are you running? Try `node --version`

Which version of yarn? Try `yarn --version`

Please check https://github.com/forem/forem/issues/11745#issuecomment-738955291 and the official Yarn installation i

[2020-12-10 11:52] GongT commented on #2630
I have an idea
* `// FIXME: wrong value` may have red background (or font)
* `/** @anchor link-target */` can reference from other part like [this](link-target)
* ``

[2020-12-10 13:58] nglglhtr commented on #11843
HALP.

[2020-12-10 14:10] michael-tharrington opened #11844 "Allow for Organizations to Set Payment Pointers"
**Is your feature request related to a problem? Please describe.**

Yes, we have at least one Forem community that requires payment pointers for organizations as well as as users.

**Describe the solution you'd like**

In `/settings/organization` an org admin should be able to set an org payment pointer as a field.

Whenever an org member writes a post under their organization, the payment pointer

[2020-12-10 14:17] michael-tharrington opened #11845 "Allow for Organizations to Receive Badges"
**Is your feature request related to a problem? Please describe.**

Not particularly, but we'd like to be able to award organizations badges that would appear on their org profile page. (e.g. https://dev.to/devteam). Also, any badges awarded to an org would appear on the org members' profiles too.

**Describe the solution you'd like**

I'd like to mirror the way badges are awarded to users.

In ot

[2020-12-10 14:46] rhymes commented on #11843
Hi @nglglhtr could you take a look at this discussion here? https://github.com/forem/forem/issues/9532 - maybe @jdoss notes in https://github.com/forem/forem/issues/9532#issuecomment-664758203 will help

I have the feeling that even the reported message is slightly different that the root of the problem is the same: Docker being infinitely slow on Mac

[2020-12-10 18:03] marcysutton commented on #11842
Here's another example that appeared recently, the "campaignmode-hackathon", which has images with no alt text and an h1 with only a `+` in it:

![Dev.to with a DigitalOcean Hackathon banner open in axe devtools](https://user-images.githubusercontent.com/1045233/101811290-c522d380-3ace-11eb-9b90-b49e27653004.png)
![The hackathon banner open in Chrome DevTools showing images with no alt text](https

[2020-12-10 22:11] michael-tharrington opened #11851 "Update dev.to/mods for non-logged in users"
**Is your feature request related to a problem? Please describe.**

Yes, `dev.to/mods` has confusing copy for folks who are not already mods (trusted users or tag mods).

**Describe the solution you'd like**

I want the page to read as follows:

[code]

**Describe alternatives you've considered**

None.

**Images**

Here is the current copy for `dev.to/mods` for folks that are logged out.

![Image

[2020-12-10 22:23] reobin commented on #11566
Another case when that can happen I've encountered today:

![Screen Shot 2020-12-10 at 17 22 38](https://user-images.githubusercontent.com/5920450/101837004-611f0000-3b0c-11eb-97f8-3e4661d119d4.png)

We can test out this case too when doing the QA on the pull request.

[2020-12-10 22:28] Offirmo commented on #11690
@fdoxyz I tested what you suggested:
- dashboard: OK
- settings: OK
- loggin out: OK
- loggin in: OK
- dashboard and logging still ok

[2020-12-10 22:33] Offirmo commented on #11690
@fdoxyz not sure it's you, but it works again!

[2020-12-10 23:31] fdoxyz commented on #11815
Closing since #11813 was merged and the Blazer query is not showing any more results of problematic paths in Articles

[2020-12-10 23:31] #11815 closed

[2020-12-11 00:06] marcysutton opened #11853 "Accessibility enhancements to Navigation Tabs component"
**Is your feature request related to a problem? Please describe.**

The Tabs Navigation component, which contains groups of links and buttons, would benefit from some accessibility improvements.

![Edit and Preview buttons on Dev.to/new](https://user-images.githubusercontent.com/1045233/101844506-69257280-3b01-11eb-98c4-e40c1d6fcab8.png)

This component is used throughout the site to wrap items in

[2020-12-11 01:36] 0xC000005 opened #11855 "NoMethodError in Stories#show"
**Describe the bug**

Hi, I'm having a `NoMethodError in Stories#show` error when I trying to access any article .......
The error message is ```ActionView::Template::Error: undefined method `brand_color1' for #<Profile:0x00005569dd8f12f8>```, so I try to access articles without logging on an account and this error occur anyways.

- Error Page: http://yuegaoya.org/jareddvmgrant/a-many-splendoured-

[2020-12-11 02:17] crimson-med opened #11857 "Allow organizations to modify posts"
**Is your feature request related to a problem? Please describe.**

Recently we started using github organization to make articles by our company as we are trying to share our knowledge. If a colleague shares a link to draft then I can edit it. However when he publishes the article under the company even as an Admin of the company I can't modify it or manage it.

**Describe the solution you'd like

[2020-12-11 02:33] Rafi993 opened #11859 "Aria label missing for close button"
**Describe the bug**

Close button in the banner has icon but does not have corresponding text associated with it so screen reader user might not know what the button does clearly. Adding aria label will help

**To Reproduce**

1. Go to https://dev.to/
2. Make sure it campaign banner at the top
3. Now try navigating the page with screen reader to see what the close button in the banner say

**Expe

[2020-12-11 02:36] Rafi993 commented on #11859
The "X" icon is actually represented using character "x" but adding aria-label="close button" might make it more explicit.

[2020-12-11 02:51] LE-HU commented on #11533
Ok I've researched here and there, but unfortunatelly I'm not able to solve the issue by myself.

HTML change occurs once the page reloads and looks like this -
initial state:
`<button id="user-follow-butt" class="crayons-btn whitespace-nowrap follow-action-button user-profile-follow-button" data-info='{"id":270314,"className":"User"}'>Follow</button>`
changes to \/ once the data is fetched:
`<but

[2020-12-11 03:18] LE-HU commented on #11855
Hello,
Did the error appear after your last commit? That is -
**Merge remote-tracking branch 'origin/master' into 0xC00005/dev**
Can you undo the last commit? It shows some major changes not related to translation. Please research the web how to revert the git repository to a previous commit.

[2020-12-11 04:15] LE-HU opened #11860 "Duplicate test file in /chat/__tests__/membership.test.jsx"
Hello,
There's duplicate jsx file containing the same code, that differs only in M/m letter case.
../app/javascript/chat/\_\_tests\_\_/membership.test.jsx
../app/javascript/chat/\_\_tests\_\_/Membership.test.jsx
link:
https://github.com/forem/forem/tree/master/app/javascript/chat/__tests__/

VSCode shows this as a warning.

I'm not sure which one (if any) should be removed. If it's intended please

[2020-12-11 04:38] citizen428 commented on #11855
Can you please check if you have all current profile fields in your DB? There should be 29 of them.

If you don't have all of them, can you please try the following in a Rails console?

[code]

Then restart your Rails server and see if things work.

[2020-12-11 04:53] Pratham31 opened #11861 "Again Can't able to write post :( Plz help"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-12-11 06:51] LE-HU commented on #11855
Meanwhile I've set up my own forem instance on local ubuntu following tutorial & using bin/setup method, and encountered the same error as the author.
NoMethodError also spotted at http://localhost:3000/admin_mcadmin
[code]
![image](https://user-images.githubusercontent.com/19828138/101871539-075a1c80-3b84-11eb-84a2-ef68b537e42c.png)

28 ProfileFields are present in DB including brand1_color and d

[2020-12-11 09:25] rhymes commented on #11815
Great job @fdoxyz!

[2020-12-11 09:36] rhymes commented on #11533
Thank you so much for the review @LE-HU, this is going to be super helpful to whomever picks it up!

[2020-12-11 10:00] rhymes commented on #11861
Hello @Pratham31, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-12-11 14:42] 0xC000005 commented on #11855
@LE-HU Thank you for your help! I tried hard reset my project to the previous commit and the error still exists, so I restore my ubuntu server to the day I installed the unmodified forem, which was Dec 09, but the error occurs anyway.

So I reset my server and tried to reinstall the froem completely, and I run into `Command ["bin/rails app_initializer:setup forem:setup"] failed` when `bin\setup` i

[2020-12-11 14:49] rhymes commented on #11855
@0xC000005 this last error seems an issue in the environment variables, can you report what do you have in `APP_DOMAIN` ?

[2020-12-11 14:59] 0xC000005 commented on #11855
Thank you so much for your support!
I ran the two commands and restarted the rails server. It shows I have 30 ProfileFields in the DB including brand1_color, but I'm still having the same error if I click any article.

[2020-12-11 15:37] 0xC000005 commented on #11855
I forget to copy the .env_sample to create the .env file....... now the `bin/setup` is working. However even a fresh installation of forem would run into the same error as I click any article :(

[2020-12-11 21:09] fdoxyz commented on #11855
Oddly enough I'm running into the same problem. I've been using a local environment with a custom `APP_DOMAIN` (using ngrok for mobile development):

[code]

However the bug happens when I use either of the two options above. This is what I have locally after running `rake db:reset && bin/setup && bin/startup`:

![Screen Shot 2020-12-11 at 15 04 45](https://user-images.githubusercontent.com/604523

[2020-12-11 21:14] nakhodkin opened #11868 "[dev.to] Changes made to profile page URI don't overwrite the old one"
_created as a suggestion to do so after the short reply received from [yo@dev.to](mailto:yo@dev.to)_

The text of the original letter is as follows

[2020-12-12 08:35] rhymes commented on #11868
Hi @nakhodin, we only store the last 2 usernames and redirect, this is a feature to prevent squatting :)

Going to close this as it's not a bug, thanks for the reminder!

[2020-12-12 08:35] #11868 closed

[2020-12-12 11:01] gowtham2095 commented on #11566
Hey @reobin,

I have drafted my fix here at https://github.com/forem/forem/pull/11874/files. Please have a look when you find the time. If this approach seems fine I shall add the tests for the same and push.

Below mentioned flow is how I am trying to fix it here. The order is maintained.

1 ) Select the first element from the list which is completely visible in the viewport.

2) If not, select t

[2020-12-12 11:23] rhymes commented on #11489
This has been closed by #11498

[2020-12-12 11:23] #11489 closed

[2020-12-12 19:25] LE-HU opened #11875 "Docs - Table of Contents nav - horizontal overflow visual bug"
**Describe the bug**
Docs side navigation "Table of contents" starts to overflow viewport horizontally after single scrolldown. It's position changes from static to fixed, causing it's nested div to change width from 130px to ~380px extending long text lines over viewport's scrollbar - preventing user from scrolling manually.

**To Reproduce**

1. Open forem docs https://docs.forem.com/
2. Go to T

[2020-12-13 05:57] samrae7 commented on #10873
Apologies for the delay with this. Today I tried to get started but hit the same issue as this:
https://github.com/forem/forem/issues/9532
when trying to setup on my local machine. I don't want to make this change without running and checking on my local.

Will keep trying to resolve but if anyone has a local setup and wants to take this then feel free

[2020-12-13 06:00] samrae7 commented on #9532
I am having this same issue on Linux ( Pop OS ). Increasing timeout to 5400 doesn't resolve it and have waited around 40 minutes when running the startup script ( saw comments saying that sometimes it can take that long for everything to start up properly)

[2020-12-13 19:38] renanbona commented on #11746
Hi, can I take this issue?

[2020-12-13 20:32] rhymes commented on #11746
@renanbona sure, go ahead and thank you!

[2020-12-14 02:05] crimson-med opened #11880 "Liquid Tags does not respect company avatar"
**Describe the bug**

When using liquid tags on a post that was published under an organization it shows the users avatar.

**To Reproduce**

1. Create a post under an organization
2. Add it as liquid tag into a comment or another post
3. The avatar displayed will be the poster's.

**Expected behavior**

Everywhere the way a organization post's avatar is the organization's avatar and in small the

[2020-12-14 04:50] citizen428 commented on #11855
I tested this locally now: after running `rake db:reset && bin/setup && bin/startup` I had the same error. So I inspected `Profile.attributes`, which was an empty array. Calling `Profile.refresh_attributes!` loaded them correctly and everything was working as expected.

I then ran the same combination of Rake tasks on my PR branch for #11881 which moves the `Profile.refresh_attributes!` call back

[2020-12-14 07:28] LE-HU commented on #11855
Although running `Profile.refresh_attributes!` did not help on already bugged instance, I've added the `refresh_attributes! `(PR code) into Profile.rb then reset the app with `rake db:reset && bin/setup && bin/startup`. Worked like a charm, thank you @citizen428 !

[2020-12-14 07:37] LE-HU commented on #11839
Hello @futureeducationbr, just fyi I'm currently on Ubuntu 20.04.1 LTS running forem instance without any issues.
Did you follow each step of the guide? https://docs.forem.com/installation/linux/#installing-forem-on-linux

[2020-12-14 07:41] citizen428 commented on #11855
Thanks for confirming @LE-HU, that's really useful!

[2020-12-14 07:57] rhymes commented on #11855
Works for me too :)

[2020-12-14 08:32] mikeesto commented on #11875
Good suggestion but currently the docs are built with [GitDocs](https://github.com/timberio/gitdocs) which unfortunately doesn't support custom styling & is no longer maintained. There's some discussion on the future direction of the docs in https://github.com/forem/forem/issues/6922 & https://github.com/forem/forem/issues/11285

[2020-12-14 08:34] ludwiczakpawel commented on #11747
@matrixx Cheers, I think I know what's going on and I'll try to fix it asap :)

[2020-12-14 14:26] jdoss commented on #9532
@lakshyabatman Can you post your `docker-compose.yml` that you are using? Your screenshots say it is waiting for `web:3000` when it was changed in https://github.com/forem/forem/pull/9611/files#diff-d96415ceff93f042e1227caab167661bc9e44c133b3564e017fcd9f35b9c1f0dR92 to look for `rails:3000`. Please make sure your code is rebased off of the current `master` branch and try again.

@samrae7 was this

[2020-12-14 16:02] burningwave opened #11884 "Github gists are not rendered"
Today all github gists are not rendered: you can check in [one of my articles](https://dev.to/bw_software/invoking-and-handling-privates-and-all-other-methods-of-an-object-with-and-without-the-use-of-reflection-in-java-i1h) and in attachment I send a screenshot of the issue
![image](https://user-images.githubusercontent.com/45799507/102103955-e7e61c80-3e2d-11eb-8e66-c152d117c2fd.png)

[2020-12-14 16:36] rhymes commented on #11884
Hi @burningwave, would it be possible to see the original markdown of that post? Thank you!
You can paste it in a https://gist.github.com/ or similar

[2020-12-14 17:12] dominicduffin1 commented on #11392
I'd be interested in taking this one. Do you have any specific ideas on what changes you want to see or are you looking for the contributor to come up with improvements?

[2020-12-14 17:34] burningwave commented on #11884
{% gist
https://gist.github.com/burningwave/c233257f2774b2bdbbb870f64cdc575a.js %}

[2020-12-14 18:01] VictorSNA commented on #11686
Hey, I would like to work on this one please!

[2020-12-14 18:44] 0xC000005 commented on #11855
The code works! Now I can access articles. Thank you so much!

[2020-12-14 18:57] juliannatetreault commented on #11686
Thanks for taking this on! I've assigned this issue to you @VictorSNA. 😄

[2020-12-14 18:57] cmgorton commented on #11855
Glad it is working! Looks like we can close this issue now. Happy to open it again in the future if we need too.

[2020-12-14 18:57] #11855 closed

[2020-12-14 19:47] LE-HU commented on #11884
I've just opened the article and gists render correctly, was that a temporary outage at github side?
![image](https://user-images.githubusercontent.com/19828138/102128048-951c5d00-3e4d-11eb-94b5-280f170e1728.png)

[2020-12-14 22:21] pkfrank opened #11897 "Clicking "more" on sidebar doesn't work immediately after clicking main logo"
**Describe the bug**
Clicking "more" in the left sidebar seems to have issues sometimes.

**To Reproduce**

1. Click the main logo
2. Immediately click the "more" button in the left sidebar
3. Notice that the "more" button doesn't expand

Refresh, and it works properly again.

**Expected behavior**

Clicking "more" expands the options every time.

**Screenshots**

[Here is a video](https://p241.p3

[2020-12-15 01:23] pkfrank opened #11898 "Error if missing a # symbol in /admin/listings/categories/new"
**Describe the bug**

If I'm adding a new category to listings via `/admin/listings/categories/new`, and I forget to add a `#` symbol to the "color hex" field, I'll hit an error.

**To Reproduce**

1. Be an admin with privileges
2. Create a new category for listings via `/admin/listings/categories/new`
3. Add `3c4adf` instead of `#3c4adf`
4. Hit error

**Expected behavior**

Either accept both `3c

[2020-12-15 02:19] pkfrank opened #11899 "Use a more generic Favicon on new forems"
**Is your feature request related to a problem? Please describe.**
As a new Forem Admin, I don't want the "DEV" favicon on my forem.

**Describe the solution you'd like**
New Forems are set up with a more generic favicon.

**Additional context**
Screenshot from Admin > Config > Images on a brand new forem.

![dev favicon on new screenshot](https://p241.p3.n0.cdn.getcloudapp.com/items/Qwub5K77/Imag

[2020-12-15 02:21] pkfrank opened #11900 "Set up new forems with email registration enabled"
**Is your feature request related to a problem? Please describe.**
Brand new forems are set up on a random `forem.cloud` subdomain, so they don't really need to be "invite only."

**Describe the solution you'd like**
New forems are set up with email registration enabled (and not "invite only").

**Describe alternatives you've considered**
The alternative is just to invite new Forem Admins to their

[2020-12-15 08:13] ludwiczakpawel opened #11912 "Can't post comments with twitter liquid tag"
**Describe the bug**

I've tried to post a comment on some instances of forem and got quota limit error even though I haven't posted any other comment in several days:

![image](https://user-images.githubusercontent.com/108287/102188323-73ef5700-3eb5-11eb-91d9-3926c192a612.png)

This issue happened on forem.team as well as forem.dev instances but it did not happen on dev.to.

**To Reproduce**

1.

[2020-12-15 08:46] dengel29 commented on #11011
Not sure if @morganrconnolly is getting to this but I can help if not.

[2020-12-15 10:35] leewynne opened #11913 "The 'more' link on the navigation links menu doesn't work when you return to the home page."
**Describe the bug**

On a fresh forem page load, the more link (which displays all the navigation links) works fine. However, when you navigate away from the home page and then return home by hitting the Forem logo (top left main svg logo), the more link stops working.

**To Reproduce**

On desktop (have replicated on pwa yet)

1. Load a forem homepage
2. On the nav menu on the left, hit more, wa

[2020-12-15 10:42] leewynne opened #11914 "Sidebar welcome card is showing the number of registered members for smaller Forems and not using threshold logic"
**Describe the bug**

When not authenticated, new Forems are showing the total count of registered members on the welcome card located on the left sidebar of the homepage.

A recent update changed this behaviour on the welcome card that is shown on the homefeed and when the welcome card was located in the right sidebar. The logic that was put in place only showed the number of members once a certa

[2020-12-15 12:03] ludwiczakpawel commented on #11899
Looping in @vaidehijoshi as I believe this was something #team-creator-onboarding was looking at.
There's a bit more context too: https://github.com/forem/InternalProjectPlanning/issues/211

[2020-12-15 12:09] rhymes commented on #11913
Hi @leewynne, thanks for the issue report! I'm going to close this as a duplicate of https://github.com/forem/forem/issues/11897 which also contains a video

[2020-12-15 12:09] #11913 closed

[2020-12-15 12:58] mstruve commented on #11455
@pkfrank it looks like the attached PR will solve this issue. It needs to have the specs fixed but otherwise, it should do what you want. If @benhalpern wants to cleanup the specs and push it through that would be great otherwise I can try to take a whack at it later when I am online.

[2020-12-15 13:02] mstruve commented on #11900
Let me make sure I have this right, you would like the default for new forems to be open for everyone, correct?

This does have some security implications. I know it may seem like no one can access those forems but having the invite only on is a great way to ensure they are secure to begin with. @jdoss or @vaidehijoshi do you have any thoughts about this?

[2020-12-15 14:09] rhymes commented on #11011
@morganrconnolly

Since this PR has not been active for a while I am going to go ahead and reassign it. Feel free to keep following this issue and adding your thoughts here or in the PR when it'll be read.

We couldn’t do what we do without awesome contributors like yourself, thank you so much for being a part of our awesome Forem community! :-)

[2020-12-15 14:09] rhymes commented on #11011
@dengel29 thanks for volunteering, I've reassigned the issue to you, thank you!

[2020-12-15 14:30] leewynne commented on #11913
Thanks Rhymes!

[2020-12-15 14:40] joshpuetz commented on #11912
Clearly the "you've posted too many comments" modal shouldn't be displaying, but what SHOULD be showing up here?

[2020-12-15 14:57] fdoxyz commented on #11912
It may be worth checking the error handlers to see if we get some response from the request. From the editor and when "previewing" a comment I see these:

<img width="988" alt="Screen Shot 2020-12-15 at 08 47 46" src="https://user-images.githubusercontent.com/6045239/102230516-9633a580-3eb2-11eb-8144-951fcd4665fb.png">

<img width="985" alt="Screen Shot 2020-12-15 at 08 49 18" src="https://user-im

[2020-12-15 15:57] #11884 closed

[2020-12-15 17:15] vaidehijoshi commented on #11899
We had it on our list of tasks, but never got the time to complete it as that project was pretty big in and of itself. I think this probably can become an RFC in the new year, @pkfrank. Something to note: there is a placeholder icon that lives in `app/assets/images/icon.png`. We could probably just use that (but in the correct favicon format) as the "generic" favicon that comes with a new Forem.

[2020-12-15 17:32] vaidehijoshi commented on #11900
I don't think it's wise for us to allow anyone to sign up with an email on a Forem instance. Signing up with email is already a potential spam vector, so allowing anyone to sign up on a Forem with any email is risky (I know you mentioned that they are set up on a random `forem.cloud` subdomain, but if anyone figures out those subdomains, they would easily be able to sign up for an account on every

[2020-12-15 18:12] PauloVilarinho commented on #11494
I would like to take this issue! @rhymes

[2020-12-15 18:26] PauloVilarinho commented on #11500
I would like to take this task!  @joshpuetz

[2020-12-15 19:33] cmgorton opened #11918 "Github account unlinked but showing 2 Github repos still attached."
**Describe the bug**
User has no Github account linked to their DEV account yet 2 Github repos are appearing in their profile. They have no way to unlink them from https://dev.to/settings/extensions since there is no Github account linked to this account.

[Inês's profile](https://dev.to/ines)

![repos](https://user-images.githubusercontent.com/21039864/102263343-c80c3280-3ed9-11eb-89b1-ce2406a615

[2020-12-15 22:12] pkfrank commented on #11900
@vaidehijoshi I understand the rationale from a security perspective of keeping Forems in "Invite Only" until an admin changes that setting.  **To that end, I think we can close this issue for now.**

With that said, I do like the idea of improving invites.

- On Point 1, admins can already set an allowed domain (added via https://github.com/forem/forem/pull/11442)
- On point 2, inputting a list o

[2020-12-16 00:03] nickytonline commented on #10873
Hi @samrae7. Sorry to hear you're having issues getting installed on your local with Docker. My coworker @jdoss posted yesterday in #9532, https://github.com/forem/forem/issues/9532#issuecomment-744475460 in regards to issues you're having. Let us know if that helps.

[2020-12-16 01:37] #11898 closed

[2020-12-16 14:17] mstruve commented on #11900
Thanks @vaidehijoshi for the great feedback and I think you hit the nail on the head that the invite flow needs to be improved here.

@pkfrank how do you feel about writing up an RFC or multiple based on the features you suggested? We are close to having RFC guidelines ready and would love to get the flow tested early.

[2020-12-16 18:48] pkfrank commented on #11900
@mstruve I'll write up RFCs for these features.  In the meantime, should we close this issue?

[2020-12-16 18:57] pkfrank commented on #11899
I think that's the optimal solution.  Just taking [this file](https://github.com/forem/forem/blob/master/app/assets/images/icon.png) and using it as the default favicon instead of any DEV-specific.

Is this worth creating an RFC?  I'm still not sure on the precise distinction vs. the RFC which will wait until January vs. a smash-able issue we could get to in EOY.

I could see this being an RFC (it

[2020-12-16 19:03] juliannatetreault commented on #11392
Hey, @dominicduffin1 - apologies for the delayed response!

Thank you for offering to take on this issue -- I'd be happy to assign it to you! As far as ideas on changes go, maybe we could update the date/time picker on `/admin/events/new` to be similar to the date/time picker on `/admin/articles/` or `/admin/sponsorships/:id/edit` (please refer to the screenshot below!). I've cc'd our design team

[2020-12-16 19:33] dominicduffin1 commented on #11392
Thank you @juliannatetreault

[2020-12-16 20:14] epoberezkin opened #11933 ""Deploy to Heroku" button"
**Is your feature request related to a problem? Please describe.**

Simplify deployment to non-technical users (or busy technical users who don't want to spend time on it)

**Describe the solution you'd like**

Heroku supports a one-click deployment process with a manifest file in the repo - user clicks the button, gets hobby or cheap account on Heroku and has the working Forem installation in und

[2020-12-16 22:24] lisasy commented on #11392
Hi @dominicduffin1,

Thanks for expressing interest in working on this issue. Here is documentation on how you can implement the correct styling by applying the CSS class name `crayons-select` to the `select` element. Let me know if you have any questions or comments. 🙂

<img width="879" alt="Screen Shot 2020-12-16 at 2 19 20 PM" src="https://user-images.githubusercontent.com/816402/102413473-d295

[2020-12-16 22:46] mstruve commented on #11900
That works for me!

[2020-12-16 22:46] #11900 closed

[2020-12-17 04:25] ssg opened #11936 "Going to account page shows error page, always"
**Describe the bug**
Error page on account settings page.

**To Reproduce**
1. Login to dev.to and go to <https://dev.to/settings/account>
2. Page shows error and asks me to file a bug report

**Expected behavior**
Account page should be shown.

**Screenshots**
Standard error page with turning robot animation.

**Desktop (please complete the following information):**
Windows 10 20H2, Edge browser

[2020-12-17 04:52] vimalverma558 opened #11937 "Error in Fetching organisation Image by Api"
**Describe the bug**
I am Trying to fetch Organization information by Api, But image Show error `The image cannot be displayed because it contains errors`

**To Reproduce**

 1. Go to https://dev.to/api/organizations/devteam
 2. Click on profile_image Links
 3. See error

**Desktop (please complete the following information):**

- OS, version: Ubuntu 20.04
- Browser, version: Firefox version 84.0

[2020-12-17 11:16] rhymes commented on #11937
Thank you @vimalverma558! It indeed looks like an odd bug, either with the API or with the `Images::Profile`/`Images::Optimizer` logic.

What's odd is the following:

- https://dev.to/api/organizations/devteam or https://dev.to/api/organizations/snyk both return an invalid image
- I've also tried with an internal Forem deployment that doesn't use neither Heroku nor Cloudinary and it doesn't work a

[2020-12-17 12:44] YJDoc2 opened #11947 "Error in docker-compose setup"
Getting issue in setting up forem from docker :
The webpacker and rails container exit with status code 1 with following error :

![image](https://user-images.githubusercontent.com/54112038/102489295-4a8c2200-4093-11eb-800b-2b155fd8ec26.png)

![image](https://user-images.githubusercontent.com/54112038/102489558-a35bba80-4093-11eb-94f6-c317a376492f.png)

These were after pulling from master and rem

[2020-12-17 12:44] YJDoc2 commented on #11530
Closing as the original issue is solved

[2020-12-17 12:45] YJDoc2 commented on #11530
Closing as original issue is solved.

[2020-12-17 12:45] #11530 closed

[2020-12-17 13:04] LE-HU commented on #11936
Hello, is it possible to test the issue on different browsers? (disabling add-on's is a good idea)
You can also try to clear browser cache on edge.
Do you have twitter account connected to dev.to? Settings page renders that too.

[2020-12-17 13:11] LE-HU commented on #11802
Hello
Possible duplicate - #11827
Mentioned fix - #11806
Does the issue still persist?

[2020-12-17 13:15] LE-HU commented on #11754
Hello @masakudamatsu, is it possible to reproduce the issue in different browser?
Does the problem still persist?
Thank you,

[2020-12-17 13:45] #2934 closed

[2020-12-17 13:46] #2520 closed

[2020-12-17 13:47] #1771 closed

[2020-12-17 13:48] #6831 closed

[2020-12-17 14:10] thospfuller opened #11948 "Add online events functionality"
I would like the ability to add an event (either online or in-person), for example, from [meetup.com](https://meetup.com).

See also [LinkedIn events](https://www.linkedin.com/help/linkedin/answer/98189/linkedin-events-overview?lang=en) for ideas regarding what this could look like.

Many events have moved almost entirely online due to the pandemic and are now being held over Zoom. This opens the

[2020-12-17 14:19] rhymes commented on #11947
@YJDoc2 have you tried re-issuing the `bin/container-setup` command a second time? The `oj` error looks like it wasn't able to fetch that dependency

[2020-12-17 14:21] rhymes commented on #11802
Thank you @LE-HU, indeed that should be fixed. Can you confirm @harshhhdev ?

[2020-12-17 14:23] harshhhdev commented on #11802
@rhymes yep. It works :+1:

[2020-12-17 14:25] harshhhdev commented on #11802
Re-opened since I have a phone which has iOS 12 therefore not compatible w/ the dev.to app.

If someone w/ the mobile app can confirm it, like @ItzaMi, that would also be better.

[2020-12-17 14:28] ItzaMi commented on #11802
For me, it seems fine now, although I have another issue with the navbar but will open another `issue` for it

[2020-12-17 14:29] rhymes commented on #11802
@harshhhdev I just checked with the mobile app and it works, also the layout on mobile is totally different

[2020-12-17 14:29] #11802 closed

[2020-12-17 14:38] #710 closed

[2020-12-17 14:39] YJDoc2 commented on #11947
Tried it once again, and this time it worked... Sorry to bother :sweat_smile:
But now I am getting error when trying to login into admin account ,
Does the admin account itself require setting up auth keys of Github or other before hand, as the dev docs say that admin is directly created in DB?

![image](https://user-images.githubusercontent.com/54112038/102500675-92ff0c00-40a2-11eb-8259-7e8af66e4

[2020-12-17 14:42] ItzaMi opened #11949 "Navbar - Deformed navbar when pressing 'Notifications' on mobile view and android app"
**Describe the bug**
When clicking the `notifications` icon, the navbar increases its width (probably due to the 'greyish' circle that appears around the selected icon) and it increases the entire page width

**To Reproduce**

1. Open dev.to on `android app` or `mobile view`
2. Click on the `Notifications` icon
3. See the increase in width

**Expected behavior**
Navbar should keep the same size

*

[2020-12-17 15:00] rhymes commented on #11947
@YJDoc2 you should have a pre-created admin account with `admin@forem.local:password` as the credentials

[2020-12-17 15:13] rhymes commented on #11918
I can definitely reproduce this bug. I think this is due to the fact that we don't delete GitHub repositories when a person unlinks their GitHub identity from the website. I'm looking for  solution

[2020-12-17 15:39] rhymes commented on #11918
Now that I think about it this is both a bug and a behavior that depends on the fact that we have a tight coupling between the personal GitHub key and this functionality.

We have few users that do not have a GitHub identity but have a GitHub repository linked: https://dev.to/admin/blazer/queries/306-github-repos-of-users-that-are-not-signed-in-with-github-anymore

In the past we were using the si

[2020-12-17 15:51] Zhao-Andy commented on #11936
Hey @ssg, thanks for the report! Looks like this is an error that the settings page does not properly handle which leads to the 500.

In the settings page we try to show you your emails associated with whatever social provider you've linked (Twitter / GitHub). In this case, your Twitter account for whatever reason does not have the data needed for us to pull, and our chained method of `auth_data_d

[2020-12-17 15:58] pavelloz commented on #6831
I guess dev.to tries to make new standard: triple doctype - let me know what W3C says about that idea ;)

[2020-12-17 16:13] narender2031 commented on #11949
I would like to work on this bug

[2020-12-17 16:25] cmgorton commented on #6831
Hey @pavelloz this issue has been address in other issues and is also currently being addressed internally with a current accessibility audit we have in progress from an outside source. For that reason I closed this particular issue. Thanks for taking the time to bring this up. We appreciate it.

[2020-12-17 17:27] #9934 closed

[2020-12-17 20:07] djuber commented on #11860
resolved by https://github.com/forem/forem/pull/11883 ?

[2020-12-17 20:16] LE-HU commented on #11860
Looks like it :) thank you for the notice.

[2020-12-17 20:16] #11860 closed

[2020-12-17 20:22] cmgorton commented on #11948
Hey @thospfuller we have the ability to add event listings. Is this what you had in mind or was it different?
https://dev.to/listings/events

[2020-12-17 20:32] Abdisalan opened #11957 "Wrong winning post referenced when awarded a badge"
**Describe the bug**

After being awarded the node and javascript badge, the notification told me I won because of a different article that I did not write. The award is correct though.

**To Reproduce**
After getting top author, look at notifications.

**Expected behavior**

Expected the referenced article to be the one I wrote, not someone else's.

**Screenshots**
<img width="721" alt="Screen Sh

[2020-12-17 20:32] thospfuller commented on #11948
Oh excellent! It would appear that I've missed that somehow so we can close this.

[2020-12-17 20:32] #11948 closed

[2020-12-17 20:34] cmgorton commented on #11948
Sounds good. I think the listings often get over looked! We need to do a better job making them a little more known :)

[2020-12-17 20:38] thospfuller commented on #11948
I did not see the event show up when searching for something so you might consider allowing the search functionality to cover events too, possibly.

[2020-12-17 20:41] cmgorton commented on #11948
Good to know! I'll mention this to the team internally. We could potentially create a feature request for that instead.

[2020-12-17 20:54] thospfuller commented on #11948
See the attached image.
<img width="1159" alt="DevToSearchResultsAddEvents-11948" src="https://user-images.githubusercontent.com/736686/102542676-22df8e80-4080-11eb-9e9f-d2e4c478c3f6.png">

[2020-12-17 21:54] michael-tharrington opened #11959 "Contacts page is missing DEV email"
**Describe the bug**

The contact page (https://dev.to/contact) currently lists `Email: 😁`.

**Expected behavior**

The contact page should say `Email: yo@dev.to`.

**Screenshots**

![Image 2020-12-17 at 4 54 13 PM](https://user-images.githubusercontent.com/16007075/102548376-91284f00-4088-11eb-94ca-e92348f6f0f3.png)

**Additional context**

This issue may be related to this PR - https://github.co

[2020-12-17 22:57] ssg commented on #11936
Thank you @Zhao-Andy for looking at this! I'm leaving this open so it can be addressed in code for other users too.

[2020-12-18 00:12] benhalpern commented on #11899
This should fix the problem...

https://github.com/forem/forem/pull/11962

There might be more to the overall problem that got dropped in the past that could be up for a new RFC, but in the meantime this can be patched following the established patterns.

[2020-12-18 02:05] juliannatetreault commented on #394
Bumping @cmgorton's question @nickytonline and @marcysutton! 😄

[2020-12-18 02:23] marcysutton commented on #394
I somehow missed this issue a few weeks ago when my contract was active, my apologies!

Reading the original issue description, it sounded like there weren't focus states at all where there are some now. I do think the current focus styles need to be more pronounced with outlines that have adequate contrast against the background. For example, the gray on white with the default theme is super fain

[2020-12-18 02:44] juliannatetreault commented on #394
I sincerely appreciate the update, @marcysutton and apologies for pinging you on the issue!

[2020-12-18 03:48] narender2031 commented on #11959
The reason behind the issue is env file don't have the value for `DEFAULT_EMAIL` on prod. To fix this we need to add the value to the key.

[2020-12-18 08:38] leewynne commented on #11694
This is now fixed

[2020-12-18 08:38] #11694 closed

[2020-12-18 08:38] leewynne commented on #11694
https://github.com/forem/forem/pull/11917

[2020-12-18 09:23] leewynne opened #11968 "Generalize the sidebar campaign article 'published timeframe' for smaller Forems."
Currently, when you create a sidebar campaign for stories, only stories published from the last 4 weeks are counted. It would make sense for smaller communities if this were configurable in siteconfig under the admin/campaigns section as the rate of publication is much lower.

**Describe the solution you'd like**

The 4.weeks.ago value shown below to be set from siteconfig in admin/campains.

**Ad

[2020-12-18 09:32] arian commented on #1492
A workaround for this is to use `prettier` with the `--prose-wrap` option set to `never`:

[code]

That way you don't need to manually remove the newlines, and can write the post as you want.

[2020-12-18 10:30] mbenoukaiss commented on #10940
I'm still receiving the duplicate emails, but I've noticed something, the emails are not fully duplicate, it's just part of the content, if that can help find the source of the issue.
![image](https://user-images.githubusercontent.com/34457865/102604310-48be6f00-4124-11eb-89d5-129d6ec007e5.png)
![image](https://user-images.githubusercontent.com/34457865/102604342-54119a80-4124-11eb-99ba-89146daf43

[2020-12-18 13:44] nickytonline commented on #394
Thanks @marcysutton! @ludwiczakpawel @ludwiczakpawel I'll defer to both of you for the focus state contrast/colours.

[2020-12-18 15:31] andreamartz commented on #11859
I'd like to work on this.

[2020-12-18 15:43] nickytonline commented on #11859
Assigning this to you @andreamartz.

[2020-12-18 16:47] Ridhwana commented on #11959
Contact email now appears on /admin/config and is set across the site :)

[2020-12-18 16:47] #11959 closed

[2020-12-18 16:50] #11899 closed

[2020-12-18 18:38] juliannatetreault commented on #3069
@Zhao-Andy is this still an issue that you're encountering or has this been resolved?

[2020-12-18 18:39] juliannatetreault commented on #640
Bumping this @Zhao-Andy! 😄

[2020-12-18 20:42] Zhao-Andy commented on #640
Ah thanks! Looks like the code has changed to use HTTParty. I don't think this is an issue anymore, so closing.

[2020-12-18 20:42] #640 closed

[2020-12-18 20:43] Zhao-Andy commented on #3069
I think we still have this issue but I'm not sure my issue describes it well. I'll close this now and reopen if it comes up for someone.

[2020-12-18 20:43] #3069 closed

[2020-12-18 22:16] glinda93 opened #11980 "Post comment subscription component is not loaded"
**Describe the bug**

Post comment subscription component is not loaded in the first load.

**To Reproduce**

- Click any post in home page.

- Scroll down to comment section.

- You will see the following message:

**Expected behavior**

Comment subscription component should be loaded in the first place.

**Screenshots**

![image](https://user-images.githubusercontent.com/72871001/102666233-61309

[2020-12-18 22:43] #11392 closed

[2020-12-19 03:59] Rafi993 commented on #10134
If DOM recycling is implemented then it may break **Ctrl + F** search in chrome.

[2020-12-19 04:08] Rafi993 commented on #10134
I think PR https://github.com/forem/forem/pull/11560 does some thing similar.

[2020-12-19 04:53] LE-HU commented on #11936
Hello, I've spent some time investigating in order to find out more about this one.
- thank you @Zhao-Andy for the logs.
- link to [Identity.email function](https://github.com/forem/forem/blob/361d09dd42c4bf510c5dd33f350ba34b068861c1/app/models/identity.rb#L41)
- I was able to replicate the issue locally by connecting a twitter account to local forem, and setting the email function to
[code]
- I c

[2020-12-20 08:04] Rafi993 opened #11983 "Reading list view broken in mobile"
**Describe the bug**

Reading list view is not responsive in mobile

**To Reproduce**

1. Go to https://dev.to/readinglist
2. Reading list layout wont be responsive

**Expected behavior**
 Readinglist should be responsive in mobile

**Screenshots**

![Screenshot_20201220-132914_Brave](https://user-images.githubusercontent.com/8092120/102708288-e2725180-42c7-11eb-9550-06023dc60911.png)

**Smartphon

[2020-12-20 14:15] #11918 closed

[2020-12-20 16:08] #2147 closed

[2020-12-21 04:02] xpyxel opened #11984 "Add input validation for articles/posts/listings"
**Is your feature request related to a problem? Please describe.**

Currently people are allowed to create blank posts with only a title and no contents other than maybe a space character, this is a bit problematic, especially quality control wise, and in result is more work on tag mods and trusted users.

**Describe the solution you'd like**

Implement input validation on the markdown/body sectio

[2020-12-21 10:55] rhymes opened #11991 "Move validation from Admin::ConfigsController to SiteConfig model"
**Is your feature request related to a problem? Please describe.**

Currently the validation logic of various `SiteConfig` fields sits in the [Admin::ConfigsController](https://github.com/forem/forem/blob/master/app/controllers/admin/configs_controller.rb), for example:

https://github.com/forem/forem/blob/3c297ff05eafc9a18e71c62bd184accfd1b54438/app/controllers/admin/configs_controller.rb#L277-L2

[2020-12-21 12:16] LE-HU commented on #11875
Guys I'll close this one as this will solve itself in future docs migration. Currently no action needed.

Thanks,

[2020-12-21 12:16] #11875 closed

[2020-12-21 12:20] #11937 closed

[2020-12-21 15:51] cmgorton commented on #11827
@binismail since we added a fix and others have reported it has worked I am going to close this issue. However if it persists for you let me know and I will open this back up. Thanks for bringing it to our attention!

[2020-12-21 15:51] #11827 closed

[2020-12-21 15:56] cmgorton commented on #11437
@lisasy @vaidehijoshi any thoughts on whether this type of feature is something we will consider for Forem?

[2020-12-21 17:28] dominicduffin1 opened #11999 "Accessibility issues with date/time pickers in admin"
**Is your feature request related to a problem? Please describe.**

The `select` elements generated by `f.datetime_select` in, for example, `/admin/events/new` and `/admin/sponsorships/:id/edit` fail the axe accessibility test for "Select element must have an accessible name".

![2020-12-21 17 13 26 localhost 9f22711a3c40](https://user-images.githubusercontent.com/26224873/102803940-f5148580-43b0-

[2020-12-21 17:35] shravan20 opened #12000 "Bug Found [UI responsiveness broken on the Opera Browser]"
**Describe the bug**
The UI is distorted and broken in the Opera Browser.

The complete top part of the UI is completely broken and not in usable format.

**To Reproduce**

1. Open Opera Browser
2. Go to dev.to
3. See error

**Screenshots**
![Alt Text](https://dev-to-uploads.s3.amazonaws.com/i/nsnf2oanipsffu4oh87t.png)

**Desktop (please complete the following information):**

- OS, version: Linux

[2020-12-21 17:46] cmgorton commented on #11843
@nglglhtr if you get a chance let us know if the linked issue #9532 helped at all. If not, we can discuss more how we can help.

[2020-12-21 19:31] cmgorton commented on #12000
Hey @shravan20 thanks for opening this issue. This is a known caching issues due to service workers. We have implemented a fix but you will still need to do a hard refresh of the browser or clear your cache. Can you let me know if that fixes it? Thanks.

[2020-12-21 21:11] matrixx commented on #11747
When you're able to confirm the cause, I would be interested to know what was it, and how was the fix like :)

[2020-12-21 22:12] shadowtime2000 opened #12002 "PFP Doesn't Update on Comments From Search"
**Describe the bug**

I searched something from the site and came across a comment I created, but the comment still had my old pfp on it.

**To Reproduce**

Write a comment on a post. Change your pfp and wait for it to update across the platform. Search up the title of the post you wrote a comment on.

**Expected behavior**

I expect it to have my new pfp.

**Screenshots**

![image](https://user-i

[2020-12-22 03:38] shadowtime2000 opened #12004 "Auto Subscribe from RSS Feed Option"
**Is your feature request related to a problem? Please describe.**

Every time I cross post I have to click the subscribe to comments button.

**Describe the solution you'd like**

An option by the RSS feed settings that allows me to auto subscribe to the comments of posts that get cross posted.

**Describe alternatives you've considered**

None.

**Additional context**

The option should go somew

[2020-12-22 04:49] wyhaines opened #12005 "Generalize stats reporting so that backends other than DataDog can be used, if desired"
Currently, Forem's statistics collection is tied directly to DataDog. I would like to use New Relic instead of DataDog without requiring any customizations to the deployed code, so that a managed Forem service can support both DataDog and NewRelic (and, eventually, other providers) for stats collection.

The `DatadogStatsClient` will be turned into a `ForemStatsClient`. It is the high level interf

[2020-12-22 14:16] ludwiczakpawel commented on #11747
@matrixx I believe it was caused by the actual SVG code weirdness and the fact that it's "hardcoded" into existing posts - which means that if you make a change now in the SVG, it will probably not affect older posts but the new ones.. For some reason we hardcode icons into posts markdown I think.

I've tried to fix the SVG and add some constraints to the CSS to make it a bit more bulletproof but

[2020-12-22 14:37] ludwiczakpawel commented on #11392
For future reference: we could probably use `<input type="datetime-local" />` instead of multiple selects here.

[2020-12-22 16:45] pkfrank opened #12011 "Add "manage" button to any post that I can manage"
**Is your feature request related to a problem? Please describe.**
As an organization admin, I can "manage" posts in my organization by doing the following:
- Go to `/dashboard`
- Select the organization dashboard in the drop-down
- Click the "manage" button

This is in contrast to the easy button that allows me to "manage" my own posts directly from the post itself.

**Describe the solution you'd

[2020-12-22 18:02] wyhaines commented on #12005
To be clear, I started this implementation a couple weeks ago. I am planning on giving you a PR for the first half of the implementation this week (today, maybe), that implements all of the groundwork for the stats reporting abstractions, but without changing any of the final behavior. It turns the `DatadogStatsClient` into a `ForemStatsClient`, and adds a `DatadogStatsDriver`.

Once that piece is

[2020-12-22 18:15] lisasy commented on #11437
@cmgorton With the way we've done profile generalization, we're enabling admins to create new form fields like this.

For DEV specifically, this is a chance for our internal admin team to set this form field. I think this is a cool idea and am curious what @vaidehijoshi thinks as well.

[2020-12-22 23:07] stampylongr opened #12014 "Net::OpenTimeout in registrations # create"
**Describe the bug**

Whenever I try to sign up, it immediately shows me that the account already exists, even though the database was just setup. I cannot log into the account, either. Whenever I try to access any other page, it just redirects to the admin account creation page.

**To Reproduce**

1. Sign up for an initial admin account.

**Expected behavior**

**Screenshots**

![image](https://u

[2020-12-23 02:12] benhalpern commented on #6994
I think I have a decent handle on what's left to do... Throwing my hat in the ring with this PR I'll flesh out over the next few days.

https://github.com/forem/forem/pull/12015

[2020-12-23 03:55] nickytonline opened #12017 "Fix accessibility issues for the @ mention list in Connect (chat)"
**Describe the bug**

Semantically, the @ mention list in Connect would make more sense as an unordered list, i.e. `<ul><li>...</li>...</ul>` and that real buttons are used instead of a `<div />` with a `role` attribute with the value `"button"`. This will help fix some issues with accessibility and it's semantically correct as it really is a list.

Other things to consider for this are ensuring t

[2020-12-23 04:46] shravan20 commented on #12000
I cleared the cache, it's working fine now.

[2020-12-23 11:24] nickytonline commented on #12017
Other things to consider for this are ensuring that focus works properly as well as focus styles, colour contrasts etc. More info at https://docs.forem.com/frontend/accessibility/.

[2020-12-23 14:34] #11843 closed

[2020-12-23 14:35] nickytonline opened #12020 ""Copied!" text wraps when an image is uploaded and the copy button is clicked in the post editor"
**Describe the bug**

The "Copied!" text wraps when an image is uploaded and the copy button is clicked in the post editor.

**To Reproduce**
1. Upload an image for the body of a post by clicking on the Upload image button.

![image](https://user-images.githubusercontent.com/833231/103007737-eee1ee80-4501-11eb-9366-9ada8ca47b60.png)

2. Select an image from the native file system selector.

![imag

[2020-12-23 15:30] cmgorton commented on #12000
Great! Sorry for the inconvenience but I am glad that works for you know. 🎉

[2020-12-23 15:30] #12000 closed

[2020-12-23 15:57] cmgorton opened #12021 "Weekly Digest not being sent even when the box "Send me weekly newsletter emails" is checked"
**Describe the bug**

User would like to receive the weekly newsletter emails. They have their correct email set in https://dev.to/settings/profile  and have checked the "Send me weekly newsletter emails" box in https://dev.to/settings/notifications. Despite this we cannot locate their email in MailChimp although we have confirmed they are using the email linked to their profile.

**Expected behav

[2020-12-23 19:34] kakadais opened #12022 "Title section is covered and hided by tags section on posting screen."
= I didn't test for specific browser extensions because all browser shows the same thing.

= Can't find.

**Describe the bug**
= Title section is covered and hided by tags section on posting screen.

<MacbookPro Version 11.1 Big  Sur>

-Safari Version 14.0.2 (16610.3.7.1.9)
![image](https://user-images.githubusercontent.com/5265343/103031285-e7255700-45a0-11eb-9e9f-ef1dae664097.png)

-Chrome Versi

[2020-12-23 20:48] xpyxel opened #12024 "Disable the "moderator panel" notice after dissmissal"
**Is your feature request related to a problem? Please describe.**

Currently when viewing the moderator/trusted user panel on mobile it pops up a notification that it's better to use it on desktop, while this is perfectly fine, it currently repeatedly pops up, even after dismissal, which is both kind of annoying and frustrating especially when said user does not have access to a desktop or laptop

[2020-12-24 04:41] xpyxel opened #12028 "Stuck user/group selector in connect"
**Describe the bug**

When selecting a user or group when on a small screen in connect, after the sidebar has been hidden, the currently selected item stays in view despite the sidebar being now hidden from view.

**To Reproduce**

1. Open connect and tap the "back" button to open the sidebar
2. Select a different user or group than the current one that is selected
3. Observe that the selected ite

[2020-12-24 09:59] BezPowell opened #12030 "<figure> in markdown being converted to <pre>"
**Describe the bug**

I'm attempting to use a `<figure>` in my markdown files to illustrate what code should look like in the browser. Using mdbook, the HTML is output as is, but on dev.to the `<figure>` is converted to a `<pre>` with a `<code>` child. I'm not sure what the correct behaviour actually should be here, but thought I best flag it up.

**To Reproduce**

1. Add a `<figure>` with other H

[2020-12-24 12:01] peopledrivemecrazy commented on #9034
Add API link to footer

Right now the user has to go to settings->account->docs to access the API docs but we can save a couple of clicks when a user is trying to access the API docs by placing the link at the footer.

Although the footer cannot be accessed while scrolling the feed (infinite scrolling) but it is accessible at every other page.

Also these links https://docs.dev.to/api/ and https:/

[2020-12-25 14:01] SaifurRahmanMohsin opened #12037 "Improve Following tags"
The [following tags](https://dev.to/dashboard/following) page needs a redesign to make it more user friendly.

As a user, I find it frustrating to be setting a value and saving one at a time. And it refreshes the entire page too which is quite bad.
![Screen Shot 2020-12-25 at 7 29 03 PM](https://user-images.githubusercontent.com/1699753/103136563-7a68a480-46e7-11eb-9a24-f38b529c8ad9.png)

**Descri

[2020-12-26 01:04] volanar commented on #10420
Rocket. chat has a much larger community and more features. And rocket. chat supports the Protocol matrix.org
https://github.com/RocketChat/Rocket.Chat.Federation

[2020-12-26 01:17] rsmithlal commented on #10420
Supporting the matrix protocol is definitely a good idea!  ---- On Fri, 25 Dec 2020 21:34:31 -0330  notifications@github.com  wrote ----

Я также порекомендовал бы, возможно, некоторую интеграцию с протоколом matrix.org для федеративных механизмов чата. Вы слышали об их приложении Element.io?

Rocket. chat has a much larger community and more features. And rocket. chat supports the Protocol matrix

[2020-12-26 15:58] #382 closed

[2020-12-26 17:19] jmoney commented on #7596
It seems like medium is relaunching custom domains soon.    https://link.medium.com/W95FfBFjxcb

I'd love if dev.to could support this as I like the community better but there's something to be said of linking our own blogs to a domain we own.

[2020-12-26 18:18] rhymes commented on #12037
Hi @SaifurRahmanMohsin thanks for opening this and voicing the issue. I'm going to close this only because I believe it's a duplicate of https://github.com/forem/forem/issues/1346 which has an opened PR that should close the issue https://github.com/forem/forem/pull/11454 - let me know if that doesn't cover your initial report.

Please subscribe to the other issue to be notified upon closing.

Tha

[2020-12-26 18:18] #12037 closed

[2020-12-27 17:54] chiubaca opened #12038 "Question : How to register a webhooks which requires additional headers"
I've created a webhook for a Github action which I want invoked everytime I've created or updated a dev.to article.  However this webook requires some additional headers to be passed to it for security purposes. if I'm invoking this manually it looks like this:

[code]

**To Reproduce**

This issue is that when registering a new webhook via a POST to `https://dev.to/api/webhooks`. There is only th

[2020-12-28 06:00] akrifari opened #12039 "Twitter timeline liquid tag loses content in article comment preview"
**Describe the bug**

When live previewing article comment, twitter timeline's content couldn't render properly. It's only showing the CTA button

**To Reproduce**

1. Go to any article
2. Scroll down to comment section
3. Copy and paste this code:

[code]

4. Click Preview button

**Expected behavior**

The content should be displayed like live preview in [Write a new post](https://dev.to/new) pa

[2020-12-28 11:19] chiubaca commented on #12038
I was able to work around this by using a Netlify Function as a proxy which invokes my github action.

 - https://github.com/chiubaca/dev-blog/commit/a7b5b53bb5ed29cade31917f19e166993cfbd94e

[2020-12-28 11:30] rhymes commented on #12038
Hi @chiubaca! The webhook mechanism we have in place is pretty "barebones". Currently it is not possible to forward it headers to send upstream.

[2020-12-28 11:33] chiubaca commented on #12038
ok no probs, thanks for confirming. I was hoping there were some "secret" features that was'nt documented yet. I'm quite happy with my workaround.

[2020-12-28 14:06] kenbellows opened #12046 "The content of <code> tags is parsed as Markdown"
**Describe the bug**

Special characters within `<code>` tags are still parsed by the Markdown rather than being treated as literal characters. For example, pairs of asterisks can produce italics and, perhaps most problematic, comments starting with a hash (`#`) as in Bash, Ruby, Python, etc. are turned into `<h1>` tags and can even prematurely close the `<code>` block, such that the rest of the b

[2020-12-28 14:36] #12038 closed

[2020-12-28 14:39] cmgorton commented on #12046
Thanks for opening this issue. I definitely like the work around you mentioned and agree adding a warning here could be useful if we continue not to support <code> tags. I'll let others weigh in on how we want to approach this in the future but really appreciate the added context you provided.

[2020-12-28 16:34] #11456 closed

[2020-12-28 17:00] msarit commented on #383
@cmgorton Hey Christina! 👋🏾

Rhymes and I discussed this issue and decided to keep it open for the following reasons:

- none of us feel strong enough in front-end work to judge the issue and call for its closure
- Nick can re-weigh in on the issue, seeing as he championed it earlier
- our 2 new FE engineers joining in January will also be able to weigh-in on the issue

[2020-12-28 17:04] msarit commented on #10420
@cmgorton Hi Christina! 👋🏾

This issue is a non-starter, seeing as we have Connect Channels and their continued development is a Forem priority (as opposed to integrating a third-party option).

[2020-12-28 17:05] cmgorton commented on #383
Thanks Arit!

[2020-12-28 17:07] #10420 closed

[2020-12-28 17:07] msarit commented on #659
@cmgorton Hi Christina! 👋🏾

I'm recommending this issue for closure because it is relevant to a very small subset of dev.to users. If a future forem needed this capability, they would request it as a feature then.

[2020-12-28 17:10] msarit commented on #371
@cmgorton Hi Christina! 👋🏾

Recommending closure for this issue, due to minuscule interest.

[2020-12-28 17:19] #659 closed

[2020-12-28 17:19] #371 closed

[2020-12-28 18:11] vaidehijoshi commented on #11437
@cmgorton + @lisasy Currently, the whole concept of `looking_for_work` is a _very_ DEV-specific concept, and isn't very extensible to any other current/future Forem instances, which is a pattern that we don't want to double down on.

This topic actually came up recently in some work that @citizen428 did to remove the autofollowing hiring tag in https://github.com/forem/forem/pull/11722. We had a d

[2020-12-28 19:10] jcandan commented on #659
That's disappointing. Considering this is a dev community, and graphing can be a great way to communicate ideas quickly. We're not designers, so having access to a markdown-ready graphing library would be useful. Hope the team reconsiders.

[2020-12-29 09:02] bennypowers commented on #6673
Similar issue even without liquid tags, i.e.

[code]

<img width="829" alt="Screen Shot 2020-12-29 at 11 01 37" src="https://user-images.githubusercontent.com/1466420/103272327-3f0af600-49c5-11eb-8db6-b0f4cc09f9ed.png">

[2020-12-29 09:03] bennypowers opened #12060 "Can't render nested fenced code blocks"
Works on Github and other markdownables.

e.g.:

[code]

<img width="829" alt="Screen Shot 2020-12-29 at 11 01 37" src="https://user-images.githubusercontent.com/1466420/103272327-3f0af600-49c5-11eb-8db6-b0f4cc09f9ed.png">

_Originally posted by @bennypowers in https://github.com/forem/forem/issues/6673#issuecomment-752002732_

[2020-12-29 09:09] rhymes commented on #12060
Hi @bennypowers, thanks again for taking this from Twitter to the repo so we can properly keep track of it!

[2020-12-29 11:27] dtinth opened #12061 "CommonMark conformance"
**Is your feature request related to a problem? Please describe.**

`dev.to` uses Redcarpet which is [not conformant](https://github.com/vmg/redcarpet/issues/429) with [the CommonMark spec](https://spec.commonmark.org/0.29/). This leads to frustration when publishing Markdown written in other editors that follows CommonMark, especially when I always use Prettier to format my Markdown.

The followi

[2020-12-29 12:56] mstruve commented on #11285
Given our roadmap and the goal we want to accomplish this year of dramatically increasing healthy Forems, I don't think this really helps us accomplish that and at this point would only introduce more systematic workflow change which we already have enough of at this point.

I am going to close this for now and we can always revisit in the future when docs actually become a pain point.

[2020-12-29 12:56] #11285 closed

[2020-12-29 13:30] ygpark2 opened #12064 "docker-compose.yml error"
**Describe the bug**

I found two errors in docker-compose file by trying to start the docker images.

First, .bundle_finished file seems to be wrongly configured.

Secondly, the "yarn install --dev" command cannot be found

**To Reproduce**

./bin/container-setup

**Expected behavior**

It should show the rails server ready message.

[2020-12-29 15:24] cmgorton commented on #12061
Thanks for opening this issue. I plan to compile the several markdown feature requests we have here and bring them up to the team in the new year.

[2020-12-29 16:51] Rafi993 opened #12067 "Sidebar does not close when visiting login link"
**Describe the bug**

When you visit login link from the sidebar in mobile it does not close

**To Reproduce**

1. Go to dev.to in mobile
2. Open sidebar
3. Click on login link
4. The sidebar won't close even-though  the url has changed.

**Expected behavior**

The sidebar should close when you visit login link from the sidebar

**Screenshots**

https://user-images.githubusercontent.com/8092120/10

[2020-12-29 18:31] #12064 closed

[2020-12-29 20:20] cmgorton commented on #12067
Thanks for opening this @Rafi993 ? Does it go away if you hit the X on top?

[2020-12-29 21:46] ryy opened #12068 "Error in app_initializer:setup run by docker compose up"
**Describe the bug**
 An error occurred while starting up the application with `bin/container-setup`.

**To Reproduce**

[code]

**Additional context**

[code]

[2020-12-29 22:42] ygpark2 commented on #11947
APP_DOMAIN: rails

As you can see on the docker-compose file, the above setting might cause this error.

You need to access forem page through the url that you set on the docker-compose file.

Otherwise, the cookie you set with localhost:3000 url is not valid under the rails:3000 url

[2020-12-30 01:25] ryy commented on #12020
I want to work on this:laughing:

[2020-12-30 01:39] Rafi993 commented on #12067
Yes it does.

[2020-12-30 01:43] Rafi993 commented on #12067
Other links in the sidebar also does causes the sidebar to stay opened after navigation.

[2020-12-30 07:29] aschrijver commented on #317
**FYI**: I just [described a vision](https://meta.discourse.org/t/132624/40?u=aschrijver) for Discourse as-if it were built from the ground up with federation support, called **"Community has no boundary"** and which turn Discourse from a stand-alone product into Discourse-as-a-Fabric. It may be inspiring to **forem** to consider these possibilities too. Also adopting a compatible federation desig

[2020-12-30 11:45] ludwiczakpawel commented on #7414
Hey, thanks for this. I tried to evaluate whether it's needed from user's perspective right now. Because of the issues with accessibility I linked to earlier I think we will put it on hold for now and maybe circle back later in the future when we have better idea and concept on how to handle scrollbars more holistically.

I'm closing this issue but I leave the conversation open if there's somethin

[2020-12-30 11:45] #7414 closed

[2020-12-30 13:10] cmgorton commented on #12064
@msarit was this issue fixed? We had some one else add a similar issue today. #12068

[2020-12-30 13:13] msarit commented on #12064
@cmgorton Hi Christina. To be honest, I am not sure. I deployed this PR yesterday and there were no build errors. However I did not verify this in production. I will attempt to do so today.

[2020-12-30 13:19] cmgorton commented on #12064
Great! Thanks @msarit . I realized after I sent the comment that the issue was probably closed because the PR had been merged.

[2020-12-30 13:29] ludwiczakpawel commented on #394
To sum up, since there were couple issues mentioned in entire thread...

1. I believe (hope) we're in much better place than we used to be in August, when it comes to focus states. Because this has changed significantly since August, I'd be in favor of closing this particular issue and open new one that would take into consideration the current state of things.. How does that sound? It's probably

[2020-12-30 13:35] cmgorton commented on #3422
Thank you for opening this issue. At this time we do not think this is something we have our roadmap so we will be closing this issue for now. However, we are always open to further discussion here :)

[2020-12-30 13:35] #3422 closed

[2020-12-30 13:37] cmgorton commented on #394
I agree @ludwiczakpawel . There have been a lot of changes since this was first opened. I will close this issue for now in favor of opening a newer one in the near future if/when we need to discuss more updates to the focus states.

[2020-12-30 13:37] #394 closed

[2020-12-30 15:13] ryy commented on #12020
I'd like to fix this:laughing:

[2020-12-30 17:52] YJDoc2 commented on #11947
@ygpark2 sorry, I didn't get you, can you explain a bit more in detail? Thanks 😄

[2020-12-30 20:27] resynth1943 commented on #317
Thanks, A! :heart: I put out a [post](https://mastodon.tedomum.net/@resynth1943/105467385328376766) on my Mastodon, so hopefully this gets picked up soon. Would love for dev.to to interact with an interconnected network of over 4 million people. This would do *wonders* for the JS community on Mastodon, too :heart:

Will be keeping my Eagle Eye :tm: on this issue.

[2020-12-30 21:40] rsamp commented on #10940
Today seems like an extreme case, but this is getting pretty frustrating. I received the digest email 6 times this morning. From looking through email history, I typically get the digest 1, 2, or 3 times and I've oddly gotten used to it, but today was much more noticeable.

![image](https://user-images.githubusercontent.com/12284336/103382087-85825280-4aa2-11eb-84e3-d203386f9d60.png)

Article list

[2020-12-31 00:12] zcdunn commented on #1607
@mstruve Hi could you reopen this one. The PR above wasn't merged and this was never fixed. There's still a field labeled _Mastodon URL_, which, according to https://github.com/forem/forem/issues/2617#issuecomment-492322189, was supposed to be updated.

[2020-12-31 00:35] mstruve commented on #1607
Hi @zcdunn,

Thanks so much for the feedback! We are going to stick with Mastodon URL for now when it comes to dev.to. With our profile field generalization work, we will then have the ability to add more URLs for different Fediverse networks in the future but currently, we are going to keep what we have as is. The code and implementation of these fields are changing quickly and now is not a good

[2020-12-31 17:52] cmgorton opened #12087 "RSS not working with valid RSS feed"
**Describe the bug**

Valid RSS feeds are not working for several users.

One user is using Gatsby with MDX and Styled Components.
This is the error they saw when trying to set up RSS
![RSS error)](https://user-images.githubusercontent.com/21039864/103420684-2550e680-4b5e-11eb-87d9-2fdeb95e51e5.png)

The other user is trying to update their Ghost blog RSS feed:
_"Clicking the "Fetch feed now" butt

[2020-12-31 21:35] palebp commented on #12087
Clicking "Fetch feed now" button -> Getting the message "Your profile was successfully updated." -> No drafts in Dashboard

[2020-12-31 23:42] zorfling commented on #12087
Similar to @palebp, I was able to click fetch feed now and have it appear to work, but not create any new drafts. (It had previously worked - however I'd recently updated to use MDX)

Then I changed the feed URL to my Medium feed, which did work and added new drafts.

Then when I tried to change it back to my Gatsby feed I get the screenshotted error above - "Feed url is not a valid RSS/Atom feed"

[2020-12-31 23:49] trusktr opened #12088 "feature request: show banner images on feeds"
At the moment, only the main feed show banners. For example:

![Screenshot from 2020-12-31 15-48-10](https://user-images.githubusercontent.com/297678/103431098-bbe1cf80-4b7f-11eb-9960-58f81ec8b7bc.png)

The post titled `Markdown documentation format concept` has a banner image.

And here is the tag feed for `#markdown`:

![Screenshot from 2020-12-31 15-48-27](https://user-images.githubusercontent.

[2021-01-01 06:37] drdougtheman opened #12090 "Self hosting for personal usage"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-01-01 14:43] workpebojot opened #12095 "Internal Server Error?"
When I write an article, this always happens? But I don't believe this is a bug, but I am missing something?

![Annotation 2021-01-01 223740](https://user-images.githubusercontent.com/38276345/103440671-9093d900-4c82-11eb-87f6-d8c25fdc6add.png)

[2021-01-01 16:09] michael-tharrington commented on #10940
@rsamp Thanks for flagging this!

We found a bug in our code the other day that was causing a worker to run that should not have been which was sending multiple duplicate digest emails. A fix was merged and we killed the worker to hopefully prevent more duplicates. If you would like to view the PR, you can find it here: https://github.com/forem/forem/pull/12082.

All this said, I do believe we sti

[2021-01-02 03:30] workpebojot commented on #12095
I can't post an article in dev.to and always receiving this error:
![Annotation 2021-01-02 112836](https://user-images.githubusercontent.com/38276345/103450204-c9b56300-4ced-11eb-8e59-9e9e64e010b2.png)

And also, I can't update my my article?

[2021-01-02 10:07] rhymes commented on #12095
Hello @workpebojot, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2021-01-02 10:07] #12095 closed

[2021-01-02 11:00] rhymes commented on #12087
I'm going to take a look at this. Thanks @cmgorton and @zorfling for the report

[2021-01-02 18:16] SGGregory opened #12097 "DEV Community Mobile App does not surface email digest articles when clicked"
**Describe the bug**

For members with the mobile app, clicking on any of the hyperlinked articles in the email digests pulls up the app, but doesn't load the article — instead, members are simply brought to the DEV home feed.

**To Reproduce on iOS**

1. Download the DEV Community app
2. Find a previous DEV digest email
3. Click on any of the articles listed in the email digest
4. See error

**Ex

[2021-01-02 21:13] mjobrien commented on #12068
I am seeing this error as well. It appears to be connected to the version bump of the `binding_of_caller` gem in #12059.

If I limit the version of the `debug_inspector` gem on which `binding_of_caller` depends to the version from before the upgrade, `bin/container-setup` will run correctly.

Here's the line I added to the Gemfile to override [the upgrade of `debug_inspector`](https://github.com/f

[2021-01-02 22:07] mjobrien opened #12099 "Improve retry intervals for dockerize commands in docker-compose"
**Is your feature request related to a problem? Please describe.**

I just started getting forem up and running to see how I might contribute. I stumbled a bit on the issue in #12068, and that stumble was exacerbated by the flood of retry messages from the various Docker containers trying to connect to each other. The error message flowed off screen quickly due to the volume of retry messages.

**

[2021-01-03 13:35] rhymes commented on #12099
Hi @mjobrien, great find! Would you like to submit a PR to adjust to a sensible retry interval? Thank you!

[2021-01-03 13:50] chiubaca commented on #11747
@ludwiczakpawel is there anyway that this can resolved for older posts?

[2021-01-03 16:12] #11828 closed

[2021-01-03 18:49] Mandihamza commented on #12020
Hello, I'd love to fix this bug. I just got the project running on my machine, and I think this will be perfect for my first contribution! 😎

[2021-01-03 20:33] mjobrien commented on #12099
Thanks for the invitation, @rhymes. PR submitted.

[2021-01-03 20:45] rhymes commented on #12020
Thank you @Mandihamza, please go ahead. I've assigned the issue to you

[2021-01-03 20:52] cpluta opened #12102 ""More" side nav does not expand after navigation"
**Describe the bug**
Navigating around my forem and forem.dev I noticed when you click "More..." it will not expand. This works only on the initial page load. This seems to work on a mobile phone.

**To Reproduce**
1. Go to forem.dev
2. Click "Home"
3. Click "More..."

**Expected behavior**
More will expand.

**Screenshots**
No screenshots to show.

**Desktop (please complete the following informa

[2021-01-04 05:06] mjobrien commented on #12068
I didn't get as far as I hoped in tracking down why the upgrade of `debug_inspector` is causing issues here.

I was able to find that [`debug_inspector` rescues `LoadError` silently](https://github.com/banister/debug_inspector/blob/7bb09517282a41b3fdf3c204f46acebf17896b51/lib/debug_inspector.rb#L7). This shows up as an error when loading `binding_of_caller` during `rake app_initializer:setup` (as

[2021-01-04 05:26] citizen428 commented on #7596
Looping in @vaidehijoshi and @benhalpern to see how they feel about this from a product perspective.

[2021-01-04 08:38] #11805 closed

[2021-01-04 11:21] BogDAAAMN opened #12108 "Netlify docsdevto build fails due to no content change"
**Describe the bug**

[Netlify docsdevto](https://app.netlify.com/sites/docsdevto/deploys) is built on every [github.com/forem/forem](https://github.com/forem/forem) PR and fails if there is no content change.

[code]
_snippet from master@[e41c995](https://github.com/forem/forem/commit/e41c9954d6dfa887de78229b47e33c44822caa47) build_

**To Reproduce**

- List of Netlify builds: https://app.netlify

[2021-01-04 11:39] rhymes commented on #11747
@ludwiczakpawel @chiubaca if I'm not mistaken the change lies in `app/labor/code_block_parser.rb` which is included in the `MarkdownParser`, right?

https://github.com/forem/forem/pull/12010/files#diff-8edf6552df437adf8a42a5a2b1c74e09797c5a1af02136c14501e01e2826058c

That said, we need a data update script to re-save all existing articles once that change is merged.

 HTML is generated by a callba

[2021-01-04 12:26] rmoff opened #12109 "Imported articles from RSS feed code blocks drop multiple spaces"
**Describe the bug**

When importing articles from my RSS feed into dev.to, and code blocks that have multiple spaces in have these spaces reduced to one.

**To Reproduce**

Import a feed from RSS at https://rmoff.net/categories/twelvedaysofsmt/index.xml, for example https://rmoff.net/2020/12/22/twelve-days-of-smt-day-11-predicate-and-filter/

Instead of

[code]

it is imported into the draft dev.

[2021-01-04 13:19] rhymes commented on #12087
Hi, sorry for the delay @zorfling, I checked https://chriscolborne.com/rss.xml with [W3C feed validation service](https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fchriscolborne.com%2Frss.xml) says it's valid.

TLDR; can you try again, I was able to import them locally and I haven't found anything wrong logged in the errors.

I also checked manually with the code that's running on dev.to a

[2021-01-04 13:19] rhymes commented on #12087
@palebp what is the URL of your feed? Thank you!

[2021-01-04 13:22] palebp commented on #12087
Hey, thanks for looking into it. My RSS feed: https://www.rockandnull.com/rss/

[2021-01-04 13:30] zorfling commented on #12087
Thanks @rhymes for looking! Glad to see I'm not completely crazy (the feed is valid).

Unfortunately I'm still getting the feed is not valid error when I try to change it back. Could it be some sort of caching issue with my particular account?

[2021-01-04 13:53] rhymes commented on #12087
@palebp same outcome as with @zorfling's feed. I'm going to investigate further and report back, this is odd indeed

[2021-01-04 14:33] ludwiczakpawel commented on #11747
@rhymes yea, I'll definitely need help with that.. Wanna push it to that PR?

Also, out of curiosity: "data update script to re-save all existing articles" sounds like a very expensive task in terms of resources... Would that make our servers' fans fly? :D

[2021-01-04 15:05] rhymes commented on #11747
@ludwiczakpawel ahhahaha probably. I'll update the PR with it :)

[2021-01-04 15:38] claracavalcante commented on #12011
Hey, I would like to work on this one. Is it possible?

[2021-01-04 16:03] #10937 closed

[2021-01-04 21:08] AshV commented on #8373
I'm also facing the same issue