[2021-04-29 16:34] mstruve opened #13586 "Remove secondary_logo field from SiteConfig and Related Code ✂️"
## Summary

Admins are a bit confused when it comes to providing a secondary_logo. We already have a field for providing logo and this one is "secondary" which means it's basically an alternative version of the logo. But admins can't really tell WHY we ask them to provide it and WHERE it would be used. Communities often hardly have one logo, not even mention a secondary one :). For this reason we

[2021-04-29 16:42] mstruve opened #13587 "Remove footer mascot image ✂️"
## Summary

Remove all fields related to the footer mascot image (on DEV it's the sloan hanging from the top edge of footer). Even though it brings some fun and element of delightfulness, its value is doubtful especially when you think that probably 99% of communities will never have their own mascot (or actually anything to put there).

![Screen Shot 2021-04-29 at 12 38 38 PM](https://user-images

[2021-04-29 16:57] rhymes commented on #13587
For whomever takes this: we have recently migrated to `Settings::Mascot`, see https://github.com/forem/forem/pull/13451 and https://github.com/forem/forem/blob/main/app/models/settings/mascot.rb

[2021-04-29 17:52] rhymes commented on #13580
Hi @technoglot, sorry for the delay! I double checked and your profile looks fine. We deployed a fix :-)

[2021-04-29 17:52] rhymes commented on #13580
Closed by #13577

[2021-04-29 17:52] #13580 closed

[2021-04-29 17:56] rhymes commented on #13581
Hi @Afif13, it should be fine now! I checked both https://dev.to/t/css/latest and other tags :-)

[2021-04-29 17:56] rhymes commented on #13581
Closed by #13577

[2021-04-29 17:56] #13581 closed

[2021-04-29 18:53] juliannatetreault commented on #12976
I was _just_ about to write up an issue for multiple comment liquid tag imbeds causing `<div>`s to render unexpectedly within the comment and then came across this open issue! ✨

I'd like to add that I can reproduce this issue when I embed a comment imbed _within_ a comment imbed by use of the comment liquid tag. When doing that, the comment will render an unexpected `<div>` when I preview the com

[2021-04-29 19:53] atsmith813 opened #13590 "Remove `/search/users` endpoint"
**Describe the bug**
We no longer use the `/search/users` endpoint, we can go ahead and remove the endpoint and all related specs.

https://github.com/forem/forem/blob/22eaecba1ff9dac81846e2ef06651394e821e6fe/app/controllers/search_controller.rb#L96-L98

https://github.com/forem/forem/blob/22eaecba1ff9dac81846e2ef06651394e821e6fe/config/routes.rb#L275

[2021-04-29 21:12] Ayushsunny commented on #13590
Hello @atsmith813 I would like to work on this issue, could you guide me with that

[2021-04-30 02:25] citizen428 commented on #13590
@Ayushsunny  Thanks for volunteering, I assigned you this issue. What you'd have to do is

1. remove the `search` method from `forem/app/controllers/search_controller.rb`
2. remove the route ` get "/search/users", to: "search#users"` from `config/routes.rb`
3. remove any specs related to that route

[2021-04-30 02:50] Dev-Akash commented on #2799
Hi, it seems that this issue still needs some work. Can I work on it, but i would need guidance.

[2021-04-30 03:43] citizen428 commented on #13587
I really wish we had decided on this a bit earlier. If we remove all these settings from `Settings::Mascot` there are only two left, so it doesn't really make sense to keep this separate settings model around and they should probably move back into `SiteConfig`.

[2021-04-30 04:31] citizen428 commented on #13586
I assigned this to myself because I needed a break from my other `SiteConfig` work... Anyway, any idea what's going to happen to `logo_svg`? The only place we really seem to be using this is `app/views/layouts/_logo.html.erb` and I wonder if we can just get rid of that one too.

[2021-04-30 08:10] rhymes commented on #13590
Thank you @Ayushsunny!

[2021-04-30 12:27] Link2Twenty opened #13601 "Storybook for `crayons-tabs` redirects off page"
**Describe the bug**

Currently the story for tabs doesn't really show what the tabs do. You can see the default state but can't click on a tab.

**To Reproduce**

1. Go to [storybook](https://storybook.forem.com/?path=/story/components-navigation-tabs-html--default)
2. Click on a tab
3. You are redirected off the page

**Expected behavior**

Clicking a tab should update which tab is marked as cur

[2021-04-30 14:04] ludwiczakpawel commented on #13586
@citizen428

[Here's](https://github.com/forem/rfcs/blob/a8d843d9a37c4105850f575f6e51faac7377a474/text/0190-admin-onboarding.md#fields) (see point 2, titled "Logo") what's gonna happen (at some point soon hopefully) with logo_svg and generally all logo assets we provide currently - I think it provides pretty good explanation.

TL;DR: we want to unify all logo-related fields into one field which wi

[2021-04-30 14:04] cmgorton commented on #2799
Hey @Dev-Akash ! Yes I will assign this to you to work on. Thank you for your help here. Please feel free to ask any questions here as you get started and we will try to help guide you.

[2021-04-30 14:14] cmgorton commented on #13298
Thanks @oyeyipowale ! I'll assign you to the issue.

[2021-04-30 14:25] aitchiss commented on #13557
I think this may have been fixed by #13598 - can you let us know if the issue is persisting for you still?

[2021-04-30 14:28] aitchiss commented on #13464
I think this has been fixed by #13600 (I separately noticed this and fixed it before seeing this issue 😆 ) so I'm going to close this issue - let me know if you still encounter it though!

[2021-04-30 14:28] #13464 closed

[2021-04-30 14:40] Link2Twenty commented on #13222
Fixed by #13598

[2021-04-30 14:47] cmgorton commented on #11699
Hey @Montana wanted to follow up on this bug. Is this still an issue for you? Or something you have seen again on DEV? Asking because we have made a lot of changes to caching recently.

[2021-04-30 15:06] Link2Twenty commented on #13360
Maybe we could add a page similar to this

<https://forem.dev/foremteam/let-s-discuss-3-a-roundup-of-feature-requests-5e2e/comments>

but that includes, or solely contains, hidden comments (already in their closed state).

Updating "Some comments have been hidden by the post's author" or adding something to Manage both make sense to me.

[2021-04-30 15:14] technoglot opened #13604 "Cannot resize images inside the editor (rich+markdown, v2 editor)"
**Describe the bug**

I noticed that an image I typically embed at the end of my posts was too large. I had already resized it to my liking in the past. I attempted to resize it again today (using width and height inside the img tag), but it simply would not become smaller. I am using the Rich + Markdown editor.

**To Reproduce**

First, make sure you are using the Rich + Markdown editor.

Then cl

[2021-04-30 15:17] aitchiss opened #13605 "Replace usage of `select` with an accessible dropdown on the home feed"
There are a few places in the app which show a `select` for navigation when we're in a mobile screen size, in place of a set of tabs or other UI. As pointed out on #11853, `select` probably isn't the best thing to use in this situation because it:

- suggests a form with some kind of submit mechanism
- stops links from being links (as they're surfaced as 'options' instead)

This issue relates to t

[2021-04-30 15:31] lucianojung commented on #13557
Thanks, the bug seems to be fixed.

[2021-04-30 15:52] Montana commented on #11699
Hey @cmgorton,

I have not experienced this in awhile - thank you so much. I really appreciate it.

[2021-04-30 15:52] #13557 closed

[2021-04-30 15:53] Link2Twenty commented on #13360
He's just a mock up I threw together

![Simple mockup](https://user-images.githubusercontent.com/3534427/116720783-7f5e9d00-a9d4-11eb-92b9-be8f39975eb8.png)

Where the closed comments are hidden

[2021-04-30 16:31] cmgorton commented on #11699
Thanks for the follow up. I am going to close this issue for now since it appears to be resolved. If you see if happen again in the future please let me know and we will open this back up!

[2021-04-30 16:31] #11699 closed

[2021-04-30 16:54] Dev-Akash commented on #2799
Thanks @cmgorton for the opportunity, i will do the needful asap.

[2021-04-30 17:15] atsmith813 commented on #13590
Hey @Ayushsunny! I'm going to reassign this issue to myself. We discovered this endpoint needs to be removed right away as it's blocking another PR that I'm working on. I'm actually in the code right next to it so I'll include this issue in my PR. I'm sorry about that, I didn't realize we'd need this so quick when I originally made the issue - that's my fault. We really appreciate you stepping to

[2021-04-30 17:29] Ayushsunny commented on #13590
Ohh, No problem Sir. @atsmith813
you can assign me on some other issues if you think I can work on.

[2021-04-30 17:53] rhymes commented on #13590
Hi @Ayushsunny! We have a few issues you can choose from, those labeled [ready for dev](https://github.com/forem/forem/labels/ready%20for%20dev) :-)

Thank you again! Let us know if you need further help in choosing

[2021-04-30 18:42] Montana commented on #11699
Perfect, and again thank you for being so helpful @cmgorton!

[2021-04-30 18:49] Ayushsunny commented on #13590
Sorry @rhymes Sir, as I am new to Open Source and also in this org I have no idea which one to pick.
could you help me with that

[2021-04-30 18:55] djuber commented on #13507
https://bugs.ruby-lang.org/issues/17781 maybe we should let this one go.

[2021-04-30 18:56] #13507 closed

[2021-04-30 20:34] cmgorton commented on #12556
Hey @Bktero thanks for reporting this. Want to follow up here and see if this is something you have noticed recently. I haven't been able to reproduce the bug yet.

[2021-05-01 01:09] hadiidbouk opened #13608 "DEV Articles Latest End Point Returns different order than the website"
I am using the GET latest articles endpoint in [my project](https://github.com/hadiidbouk/DEV).

I realize that the order of articles on the DEV website is different than the one returned from API.

Is this a bug? If it's not, I think it will be great to keep this "pinned article" at the top of the list so I can show the same content on my APP.

<img width="664" alt="Screen Shot 2021-05-01 at 3 58

[2021-05-01 08:56] aitchiss commented on #13557
Awesome! Thanks for confirming @lucianojung 😄

[2021-05-01 14:25] michael-tharrington commented on #13360
Oooo I love this implementation @Link2Twenty. I think what you're describing is smoother than putting the unhide feature on `/manage`. I'm so down with us going this route!

[2021-05-01 14:42] hadiidbouk commented on #13608
After taking another look at this, I think the website check for the first article that contains a cover image and ships it to the first.  So this issue can be closed.

[2021-05-01 14:42] #13608 closed

[2021-05-02 04:25] technoglot commented on #13604
Hello, just checking in. Any updates you can share on this issue's status?

[2021-05-02 08:47] oyeyipowale commented on #13298
Hey @cmgorton, thanks for the response.

I ran into some issues while trying to set up the project using the container (docker) on windows 10. Two compose services are having trouble connecting and I do not know how to debug them.

[code]
And when I `Ctrl+C` to stop the server, I got the final error above.

Attempting to go to `localhost:3000` just only shows the default react page.

Environment:

[2021-05-02 09:17] Link2Twenty commented on #13298
I'd recommend going the WSL route for installation, it's much easier.
 <https://docs.forem.com/installation/windows/>

[2021-05-02 15:45] hadiidbouk opened #13612 "Remove extra space from readable_publish_date"
I am using the GET latest articles endpoint in [my project](https://github.com/hadiidbouk/DEV).

The `readable_publish_date` property added an extra space between the day and the month, this could be fixed on the front end, but if it's a readable publish date why not be better readable 😅

<img width="259" alt="Screen Shot 2021-05-02 at 6 42 01 PM" src="https://user-images.githubusercontent.com/193

[2021-05-02 16:06] hadiidbouk opened #13613 "Latest Articles aren't showed in the GET latest API response"
It seems that the latest articles aren't shown directly in the API response. I think it took some time before it can be available?

## API
<img width="1018" alt="Screen Shot 2021-05-02 at 6 55 31 PM" src="https://user-images.githubusercontent.com/19314956/116819365-7dcdda00-ab78-11eb-9794-c2ceea36995a.png">

## [My App](https://github.com/hadiidbouk/DEV)
<img width="460" height="1024" alt="Simulat

[2021-05-03 02:33] citizen428 commented on #13586
Awesome, thanks @ludwiczakpawel!

[2021-05-03 02:35] #13586 closed

[2021-05-03 03:25] citizen428 commented on #13590
Sure, we can help you @Ayushsunny :smiley: Would you prefer to work with Ruby or Javascript?

[2021-05-03 05:33] Ayushsunny commented on #13590
Hello @citizen428 Actually I'm okay with Javascript but I'm trying to shift to Ruby.

[2021-05-03 05:55] KhorenGrig commented on #13581
Mentioned today. Only this one was wrong result. Rest results were correct.

![4C57E408-DB31-4C08-9762-51415DC47DEC](https://user-images.githubusercontent.com/26667922/116844967-a47e2600-abf5-11eb-8ef3-ee4052f38856.png)

[2021-05-03 06:14] #10610 closed

[2021-05-03 06:34] citizen428 commented on #13613
Maybe @rhymes has some insights here.

[2021-05-03 10:50] oyeyipowale commented on #13298
Thanks, @Link2Twenty for the pointer. I jumped straight to the **container** submenu.
Decide the through with Windows WSL installation and all was great and good. Ran the `bin/setup` command. I got some errors at the command: `bin/rails app_initializer:setup forem:setup`

I tried adding USERNAME and PASSWORD to the DATABASE_URL, got the following error:
[code]

The database URL config in .env file

[2021-05-03 11:02] Link2Twenty commented on #13298
The bit where it says `<username>:<password>` does that contain the actual username and password for the database?

[2021-05-03 11:40] rhymes commented on #13613
Hi @hadiidbouk, if you use https://docs.forem.com/api/#operation/getLatestArticles you can retrieve latest articles ordered by descending publication date

https://dev.to/api/articles/latest is the API version of https://dev.to/latest

Let us know if this is what you were looking for!

[2021-05-03 12:31] rhymes commented on #12752
Closing this as we're about to get rid of ES in #13606

[2021-05-03 12:31] #12752 closed

[2021-05-03 13:12] oyeyipowale commented on #13298
It did contain it. I edited it out before commenting. Both the username and the password.

[2021-05-03 13:51] Link2Twenty commented on #13298
The error indicates it doesn't like the username and password supplied.

I would log back in as the user, let's say it's andrew for this example

[code]

It will now ask you to enter a password twice, we'll pretend I entered password.

The username and password don't have to be super secure as they're just for your test database. I would also update the name rather than using the variable, just be

[2021-05-03 14:40] Rafi993 commented on #13182
Thank you @ppalone the fix worked.

[2021-05-03 14:57] hadiidbouk commented on #13613
That's what I am currently using in the above app and also in postman, the problem is that sometimes this API returns different results compared to the DEV website (latest section), it seems that some articles take some time before being available through the `latest API`.

[2021-05-03 15:00] cmgorton commented on #13298
Thanks for the help on this @Link2Twenty 💜

[2021-05-03 15:09] #13590 closed

[2021-05-03 15:16] rhymes commented on #13613
@hadiidbouk the API is cached, but the cache should be bypassed once there's a new article in the list. Do you have a client that's caching content?

Right now I see the same results:

[code]

and

![Screenshot 2021-05-03 at 5 15 33 PM](https://user-images.githubusercontent.com/146201/116895250-47a16080-ac33-11eb-81b0-1f1da0b79544.png)

[2021-05-03 15:28] Zhao-Andy commented on #12575
Resolved by #13388, thanks @lightalloy!

[2021-05-03 15:28] #12575 closed

[2021-05-03 16:18] mstruve opened #13628 "Remove too granular “emails” from SiteConfig"
## Summary

Admins can currently define email addresses for very specific cases. The idea is to drop all of them in favor of one email address for all scenarios.

**Admin » Config » Emails** --> This entire section contains a bunch of email fields that were created AFAIK only for DEV as we thought it would make sense to be able to customize them. We believe that assumption wasn’t valid, especially

[2021-05-03 16:20] #9585 closed

[2021-05-04 03:51] citizen428 commented on #13590
@Ayushsunny Removing some of our current deprecation warnings could be a good Ruby learning experience: https://github.com/forem/forem/issues/11282

[2021-05-04 03:52] #11099 closed

[2021-05-04 05:00] citizen428 commented on #13587
@mstruve I'm on FOSS duty this week and this aligns with some of the work I've been doing over the past few week so I think it's easiest if I just take care of it.

[2021-05-04 05:03] citizen428 commented on #13587
Can someone please let me know if https://github.com/forem/forem/pull/13451 has already been deployed across the fleet? cc @maestromac

[2021-05-04 13:00] hadiidbouk commented on #13613
I am checking the website as a guest.

**Jetpack Compose — Reveal effect** not showed, I think it's taking some time before it's being available on the API.

<img width="1222" alt="Screen Shot 2021-05-04 at 3 57 45 PM" src="https://user-images.githubusercontent.com/19314956/117006840-957c9e00-acf1-11eb-8ed0-8cff58fe7c32.png">

[2021-05-04 13:03] hadiidbouk commented on #13613
And after few minutes..

<img width="1222" alt="Screen Shot 2021-05-04 at 4 02 13 PM" src="https://user-images.githubusercontent.com/19314956/117007291-2489b600-acf2-11eb-8ec5-a4c3f6a501f3.png">

<img width="1222" alt="Screen Shot 2021-05-04 at 4 02 21 PM" src="https://user-images.githubusercontent.com/19314956/117007303-2784a680-acf2-11eb-8e22-30adfaa46114.png">

[2021-05-04 13:21] Link2Twenty opened #13644 "UX: Reordering items (Admin Navigations Links)"
**Describe the request**
Any place where an order can be set drag and drop reordering would be expected.

I'll use Navigation Links as an example. Currently you set a number but this is arbitrary and several items can have the same number. If there is a clash it falls back to alphabetical, I think it would make more sense to a user to just drag the items into the correct positions.

**Affected are

[2021-05-04 13:30] Zhao-Andy commented on #13587
@citizen428 should be deployed! BTW I handle deploying to fleet :)

[2021-05-04 14:18] cmgorton commented on #12455
I noticed this bug again this morning. Just adding to confirm it is still a bug.

[2021-05-04 14:21] rhymes commented on #13613
I'm not sure I can reproduce :(

I ran again the JS script and compared it to the API results and they're the same. I waited a few minutes so that new articles had been posted on DEV and I got the same results.

I wonder if there's a caching issue somewhere...

Can you try with another Forem? They all have the same API and format, so you can do something like: `https://community.codenewbie.org/api

[2021-05-04 14:31] cmgorton commented on #11500
Hey @shilpi230 looks like your comment slipped by all of us. Sorry about that!
Is this something you are still interested in working on?

[2021-05-04 14:47] cmgorton commented on #13604
Hey @technoglot this isn't currently a feature we allow people to do in the editor. We don’t allow people to decide the size of the image and we try limit what we allow users to do with html tags for security reasons.
If you would like to see this as a potential feature in the future you can create a feature request on [forem.dev](https://forem.dev/). We use [forem.dev](https://forem.dev/) to disc

[2021-05-04 14:47] #13604 closed

[2021-05-04 17:51] arwazkhan189 commented on #12494
Hey @cmgorton, I would like to solve this. Thanks. 🙋‍♂️

[2021-05-04 18:18] arwazkhan189 commented on #6377
Hey @cmgorton, I would like to solve this. Thanks.🙋‍♂️

[2021-05-04 18:19] arwazkhan189 commented on #12494
Hey @cmgorton, I would like to solve this. Thanks.🙋‍♂️

[2021-05-04 18:25] cmgorton commented on #12494
Awesome @arwazkhan189 ! Just assigned you to this issue. Let us know if you have any questions.

[2021-05-04 18:43] cmgorton commented on #6377
@arwazkhan189 I'll assign you to it! If you get overwhelmed with both issues just let me know and we can unassign you from one of them. Thanks for helping out here 🐛

[2021-05-04 19:47] alicenstar commented on #1446
Is this still an issue? If so, I would like to take a crack at it.

[2021-05-04 19:48] cmgorton commented on #1446
Yes it is @alicenstar . I will assign it to you. Let us know if you have any questions and thanks for your help here!

[2021-05-04 20:44] oyeyipowale commented on #13298
Unbeknownst to me, the main cause of the  `failed authentication` issue was that the PostgreSQL was running on a different port as suppose to the conventional `5432` port. Discovered this by running the '\conninfo' after login into the user's psql shell.
[code]

[2021-05-04 20:56] tusharsadhwani opened #13651 "Unable to embed a github gist with highlighted lines"
**Describe the bug**

Github lets you highlight parts of your gist by the following syntax

`gist.github.com/username/123456#file-filename-L7`, to highlight line 7 for example.

Real example: https://gist.github.com/Untrusted-Game/2a36648c4c673a3927511184246b7a17#file-untrusted-lvl5-solution-js-L14-L16

![highlighted lines 14-16](https://user-images.githubusercontent.com/43412083/117068524-0439160

[2021-05-04 21:04] cmgorton commented on #13651
Hey @tusharsadhwani this looks like a feature request if I am not mistaken? Would you mind adding this to[ forem.dev](https://forem.dev/) instead. We want to keep mostly bugs here in the repo. In [forem.dev](https://forem.dev/) I can bring the feature requests up to our product team for greater visibility.

You can see some examples of feature requests in forem.dev in this [round up post. ](https:

[2021-05-04 21:05] #13651 closed

[2021-05-04 21:31] DevCoder0x0 commented on #13195
I would like to take this issue.

[2021-05-04 21:36] cmgorton commented on #13195
Great! Assigning it to you now. Thanks for helping out. let us know if you have any questions!

[2021-05-04 22:40] alicenstar commented on #1446
@cmgorton I am running into an issue setting up the project. I followed all install and setup instructions, but after running `bin/startup` and running the project locally, I get a `URI::BadURIError at /. Both URI are relative` error when visiting `localhost:3000/`. I looked in `.env_sample` and `APP_DOMAIN` is set to `localhost:3000`, so I'm not sure where to go from here.

It cites the error as

[2021-05-04 22:45] Rafi993 commented on #13277
Hi, if this PR is not worked on I would like to help.

[2021-05-04 22:54] cmgorton commented on #1446
Hey! I'm away from my computer until the morning but I pinged our OSS devs to see if any can offer assistance. I'll follow back up in the morning if you haven't received a response before then 😁

[2021-05-04 23:08] javila35 commented on #12545
Hi, I'd like to claim this issue please.

[2021-05-05 00:04] cmgorton commented on #13277
Thanks Rafi! Just assigned you to it.

[2021-05-05 00:07] cmgorton commented on #12545
Wonderful. Just assigned you to it. Let us know if you have any questions along the way!

[2021-05-05 01:04] alicenstar commented on #1446
I managed to fix the issue - I'll work on this tomorrow now that I have my environment set up. :)

[2021-05-05 01:17] cmgorton commented on #1446
Awesome! If you run in to any more issues just let us know.

[2021-05-05 01:58] alvaromontoro opened #13652 "Badge title is unreadable when long"
**Describe the bug**

The title of the badges is too small to read in some cases. In particular, the title of the DigitalOcean App Platform Hackathon on DEV Badge is unreadable on smaller screens.

**To Reproduce**

1. Go to the [Digital Ocean Hackathon badge page](https://dev.to/badge/participant-e2-80-94-digitalocean-app-platform-hackathon-on-dev)

**Expected behavior**

The title of all badges

[2021-05-05 03:15] SiddharthShyniben commented on #13652
Can I work on this?

[2021-05-05 03:17] SiddharthShyniben commented on #13652
It looks like the problem is that there is a calculation of `1.66vw + -16px`. When I changed the `-16px` to `16px` (using devtools), the issue was solved.

And also, if this is available for the bug smash, can I work on this?

[2021-05-05 03:24] SiddharthShyniben commented on #13652
I guess making it absolute would fix the problem. I don't know ruby, But i guess it would look something like:

[code]

[2021-05-05 03:44] alvaromontoro commented on #13652
@SiddharthShyniben that would definitely solve the problem.

To be honest, I don't fully understand why the font size needs to change from badge to badge. Why not the same for all? It seems it is so all the titles occupy (more or less) the same space, but it results in tiny titles for long badges ([the DigitalOcean hackathon badge](https://dev.to/badge/participant-e2-80-94-digitalocean-app-platfor

[2021-05-05 05:10] rafaVls commented on #7561
Hi! I'd like to claim this issue for the bug smash event 😁

[2021-05-05 05:18] rafaVls commented on #2799
Hi! Is this issue still available? I'd like to claim it for the bug smash.

[2021-05-05 05:31] citizen428 commented on #13587
I knew that but somehow ended up mentioning Mac, sorry for that. And thank for the answer :-)

[2021-05-05 05:58] #10949 closed

[2021-05-05 06:07] DanCharousek commented on #4955
Hi, @cmgorton,

I'd be happy to participate on this issue as part of the dev.to bug smash. Is it still available?
If so, I've noticed that the [docker installation guide link](https://docs.dev.to/installation/docker/) returns 404, so I assume it's safe to use [this one](https://docs.forem.com/installation/containers/) instead.

Thanks for the reply,
Dan

[2021-05-05 06:27] citizen428 commented on #13612
Thanks for the issue. The problem here is that Ruby pads `%e` with whitespace. This can be prevented by changing the format specifier to `%-e`:

[code]

[2021-05-05 07:06] SiddharthShyniben commented on #13652
You are right @alvaromontoro .

It looks like this is there for the bug smash. Can you assign me for this?

[2021-05-05 07:07] Arun-kc commented on #13612
Can I help? @citizen428

[2021-05-05 07:13] SiddharthShyniben commented on #9743
You can fix the indentation by removing it in the liquid tag itself:

[code]

[2021-05-05 07:37] saroj990 commented on #6610
Hi @cmgorton, I would like work on this issue.

[2021-05-05 08:00] rhymes commented on #13652
@SiddharthShyniben done :)

[2021-05-05 08:00] rhymes commented on #13612
@Arun-kc I've assigned this to you! Thank you!

[2021-05-05 08:00] Link2Twenty commented on #13652
Variable font size is fine but I don't think calculating it this way makes much sense. Basing it on screen width  in a `calc` seems a little odd.

That being said if you wanted to keep it fancy you could clamp the values something like

[code]

Even with this approach though once a title reaches 64 characters long the issue will come back.

___

I think the best approaches are either have a fixed

[2021-05-05 08:00] rhymes commented on #6610
@saroj990 I've assigned this to you, thank you 🙌

[2021-05-05 09:22] SiddharthShyniben commented on #13652
I just did a bit of math and I think hardcoding the `font-size` is OK. Something like `min(3em, 7vw)` looks good. I'll test it on a bunch of screen sizes and badge lengths and report here.

[2021-05-05 09:30] oryanmoshe commented on #3588
Can't reproduce.
Was it solved already?

[2021-05-05 09:36] SiddharthShyniben commented on #13652
My solution looks good, expect a PR soon

[2021-05-05 09:57] oryanmoshe commented on #12455
I'd like to take this (:
@cmgorton

[2021-05-05 10:11] Farhaduneci commented on #2799
Well, it has been assigned to @Dev-Akash 5 days ago. He must be working on it. if not, I would like to have a chance for solving this one @cmgorton please :D

[2021-05-05 10:32] Dev-Akash commented on #2799
Hi, @Farhaduneci yeah currently I am working on it.

[2021-05-05 11:01] Arun-kc commented on #13612
Thank you! @rhymes 😇. This is my first time doing a major PR. Hope what I did is correct 🤞

[2021-05-05 11:22] PawelBorkar commented on #12455
@cmgorton
I would like to take this issue.

[2021-05-05 11:25] PawelBorkar commented on #11500
@cmgorton
If it's okay for @shilpi230 then I would like to work on this issue ☺️

[2021-05-05 11:28] PawelBorkar commented on #1228
Hi @cmgorton,
I would like to work on this issue :-)

[2021-05-05 11:49] alvaromontoro commented on #13652
@Link2Twenty I like the idea of clamping, but would go with [`clamp`](https://developer.mozilla.org/en-US/docs/Web/CSS/clamp()) instead of combining `min` and `max`. To solve the issue with the negative values, we could move the `clamp`/`min`/`max` outside the `calc`. For example, Instead of doing this:

[code]

you could do something like this:

[code]

If the result of the `calc` is negative, th

[2021-05-05 12:39] NV404 opened #13663 "Dashboard: article links break after username update"
**Describe the bug**

When we change our username. links of old article break in dashboard. For example if you change your username from abc to xyz, links of old article change from dev.to/abc/hiii-devs(Working) to dev.to/xyz/hiii-devs(Not Working) in dashboard.

**To Reproduce**

To Reproduce
1. write some articles
2. change your username
3. Now if you go in dashboard and try to open or edit arti

[2021-05-05 13:02] cmgorton commented on #4955
Thanks for the help here @DanCharousek . I will assign this issue to you. And yes you can use that link! I believe that is the updated link to the docs.

[2021-05-05 13:04] cmgorton commented on #13652
@alvaromontoro I know you had wanted to work on this too. Just noticing it was assigned already. If this gets solved, I will make sure you get awarded for the bug smash too. Thanks for opening this issue.

[2021-05-05 13:05] cmgorton commented on #6610
Thanks @saroj990 . If you have any questions feel free to ask here or in your PR once opened. We are here to help along the way.

[2021-05-05 13:11] cmgorton commented on #3588
I am going to try to reproduce with some other podcasts. I know at least as far as a few weeks ago this was still an issue. If I can reproduce it did you want to be assigned to it @oryanmoshe ?

[2021-05-05 13:13] cmgorton commented on #12455
@oryanmoshe assigning you to it. Thanks for helping out here. If you find in a few days you can't work on it let me know and I will assign @PawelBorkar to it. If you have any questions as you are working on it please feel free to ask here or in the PR once created!

[2021-05-05 13:15] cmgorton commented on #11500
I am going to go a head and assign it to you @PawelBorkar. Thanks for the help here! If you have any questions while you start working feel free to ask here or in your PR once it is created.

[2021-05-05 13:16] cmgorton commented on #1228
Hey @PawelBorkar I just assigned you to Issue #11500 . Did you still want to work on this one as well. If so I will assign it to you. :)

[2021-05-05 13:18] cmgorton commented on #13663
Thanks @NV404 . This might be somewhat connected to https://github.com/forem/forem/issues/6610. I will assign it to you. Going to add the bug smash label to this too if you would like to participate in the bug smash you can read more details in [this DEV post.](https://dev.to/devteam/join-us-for-the-first-dev-community-bug-smash-3plm)

[2021-05-05 13:29] cmgorton commented on #2799
@rafaVls @Farhaduneci Thanks for your willingness to help. @Dev-Akash is working on this one but since we have had a pretty good response with the bug smash event I will be adding a few more bugs to the bug smash label today. Check back later today and if you see one you would like to work on please let me know!

[2021-05-05 13:34] cmgorton commented on #13663
@NV404 Looks like this might be a repeat of an older open issue. https://github.com/forem/forem/issues/3234

Since I already assigned you to this one I am going to leave it open and close the older issue but you may want to reference it as you work on it as one of our engineers added more information there. :)

[2021-05-05 13:36] cmgorton commented on #12992
@leewynne is this still an issue. If so I will add this to the list for our bug smash event and maybe we can get some contributors working on this to help smash the bug!

[2021-05-05 13:45] Link2Twenty commented on #9034
I quite like the twitter way of doing it.

The footer is on the right hand side which scrolls with the main body but when it reaches an end (top or bottom) it freezer in place)

![twitter__footer example](https://user-images.githubusercontent.com/3534427/117150810-65e09b00-adb0-11eb-98fe-9a25bd9b9966.gif)

[2021-05-05 14:21] cmgorton commented on #13434
You got it @rafaVls . Assigning it to you now. Let us know if you have any questions as you start working on this. And thanks!

[2021-05-05 14:23] nickytonline opened #13664 "Parallelize End to End (E2E) Tests"
## Description

Currently E2E tests run on our fourth build node on Travis alongside, front-end tests, Storybook, bundle audit, and console check.

At the moment, build times are still respectable, but there will probably be an explosion of E2E test within the next year. It would be great to get them parallelized sooner rather than later.

@maestromac and I initially had them parallelized with the

[2021-05-05 14:31] SiddharthShyniben opened #13665 "Editor guide links to repl.it instead of replit.com"
**Describe the bug**

[Editor guide](https://dev.to/p/editor_guide) mentions `repl.it` instead of `replit.com` [here](https://dev.to/p/editor_guide#repl-it-embed) (The url was changed some time ago). Trivial issue but still posting it.

**To Reproduce**

Go to [The repl.it part of the liquid tags guide in the editor guide](https://dev.to/p/editor_guide#repl-it-embed)

**Expected behavior**

URL is

[2021-05-05 14:42] cmgorton commented on #13665
Hey @SiddharthShyniben thanks for opening this issue. repl.it will take you to replit.com.
In the guide the wording repl.it is just a reference to creating a repl.it liquid tag and isn't meant to link to replit.com. I think having repl.it as it currently is in the guide is intentional but I will double check with the team before closing this issue. Thanks

[2021-05-05 15:25] cmgorton commented on #13665
@SiddharthShyniben talked to the team and we decided the copy can be updated. Is this something you would like to work on? If so, I can assign the issue to you.

[2021-05-05 15:40] cmgorton opened #13667 ""Follow" text missing from Podcast Liquid tag display."
**Describe the bug**

When using the podcast liquid tag in an article the button that should have "Follow" no longer displays the text. I tested this with several podcasts and none of them display the "Follow" text.

**To Reproduce**
1. Navigate to the editor to create a new post.
2. Use the podcast liquid tag to render any of the podcasts on DEV `{% podcast url-for-episode-here %}`
3. click previ

[2021-05-05 15:41] cmgorton commented on #3588
While trying to reproduce this I found a new bug instead. Created an issue here https://github.com/forem/forem/issues/13667

Added it to the bug smash list if anyone wants to work on it. I am going to go a head and close this issue since it is no longer reproducible.

[2021-05-05 15:41] #3588 closed

[2021-05-05 15:45] oryanmoshe commented on #13667
I'd like to take this one as well

[2021-05-05 15:49] cmgorton commented on #13667
Great! Just assigned it to you. Thanks for the help😄

[2021-05-05 16:04] DanCharousek commented on #4955
So I've started working on the issue and got stuck at the very beginning of installing the project via the [containers](guide).
I used the default `.env_samle` as it seems no changes to the ENV variables are required (or at least that's what I understood from the installation guide). And after all containers spin up I keep getting 400 Bad Request.

This is the snippet of the console log.

[code]
@

[2021-05-05 16:14] cmgorton commented on #4955
@joshpuetz @citizen428 Could either of you help debug this or point to someone on the team more familiar with Docker? Thanks.

[2021-05-05 18:29] idkwhattoputhere121 opened #13670 "Help running forem"
I've decided to challenge myself by completing this challenge on a chromebook... yes a **chromebook** Is it possible to run this in repl.com? Sorry if I am bugging anyone about this.

**chromebook is cancer don't use it**

[2021-05-05 18:59] djuber opened #13672 "Reenable comment on article should pre-populate a comment field when editing"
**Describe the bug**

We skipped a test due to unreliable results in  https://github.com/forem/forem/pull/13671

Isolate the issue (it was repeatable for me, inconsistently, locally, so may be a timing related problem) and reenable the test.

[2021-05-05 19:15] nickytonline commented on #13672
Taking a peek at this.

[2021-05-05 21:49] kitarp29 commented on #11494
@rhymes @nickytonline
I would Love to work on this issue

[2021-05-05 22:15] DevCoder0x0 commented on #13195
Hello Christina, I am very sorry but I will not be able to complete that
task. Unfortunately something came up and I am not going to have any free
time for the next few weeks. Good luck to you and everyone who contributes.
I am a huge fan!

On Tue, May 4, 2021 at 2:37 PM Christina ***@***.***> wrote:

[2021-05-05 22:55] nickytonline commented on #11494
Sounds great @kitarp29! Assigning it to you now.

[2021-05-06 02:09] SiddharthShyniben commented on #13665
Sure @cmgorton

[2021-05-06 02:14] asi309 commented on #7561
I'd like to take this one @cmgorton

[2021-05-06 02:20] cmgorton commented on #7561
Great. Thank you! Let us know if you have any questions.

[2021-05-06 02:31] alvaromontoro commented on #13652
@cmgorton it's fine. There are more tickets :)

[2021-05-06 02:32] cmgorton commented on #13652
If you find another bug in the repo not yet labelled bug smash let me know. We can probably add the label to it 😄

[2021-05-06 02:36] citizen428 commented on #4955
@cmgorton I haven't used or worked with our container setup in a long time, @jdoss is the go-to person for all things container-related.

[2021-05-06 03:18] citizen428 commented on #13670
While it's not possible to run this whole application in repl.it (I assume that's what you meant) you can run it in Gitpod which gives you a full VSCode experience in the browser while running the app in a container:

https://docs.forem.com/installation/gitpod/

[2021-05-06 03:40] citizen428 commented on #11494
@nickytonline @rhymes Is this essentially https://github.com/forem/internalEngineering/issues/367? It's on our current cycle board but nobody has picked it up yet. We may want to remove it from there to avoid duplicated effort.

[2021-05-06 09:11] Link2Twenty commented on #152
I think this can be closed?

[2021-05-06 09:42] Eli-Schei commented on #4079
I think this might be solved?

I tried to re-create the bug, but all comments are displayed nicely. Even the one from the original bug here.
When I inspect the html in the original post - with the broken comment - the html structure is completely different from how it is when I add a comment in a new post today.
Image of how it looks when I try to embed the comment today.
<img width="667" alt="thi

[2021-05-06 09:43] aitchiss opened #13679 "Bugs in the "Copy article URL to clipboard" feature"
When you view an article, there's an overflow menu which includes a "copy URL to clipboard" function:

![screenshot of the menu which includes the URL in a input field and a clipboard icon](https://user-images.githubusercontent.com/20773163/117275367-e0afc180-ae55-11eb-8a8c-46ecf0b059a9.png)
![screenshot of the same menu but with the message 'copied to clipboard'](https://user-images.githubusercon

[2021-05-06 10:30] #13672 closed

[2021-05-06 10:38] Ahnaf780 commented on #13652
Thanks

[2021-05-06 11:00] Om-Bhagwat commented on #4948
I'll Like to take this one.

[2021-05-06 11:56] #13318 closed

[2021-05-06 12:56] idkwhattoputhere121 commented on #13670
Ah thanks, hopefully you will find a bug!

[2021-05-06 13:08] idkwhattoputhere121 commented on #13670
Woah thanks I never knew gitpod.io existed! Now it's running I guess I will focus on unicode bugs but thanks for the help!

[2021-05-06 14:11] cmgorton commented on #152
Yep! Thanks Andrew.

[2021-05-06 14:11] #152 closed

[2021-05-06 14:20] cmgorton commented on #11494
I'll mention it in our meeting today Michael so that it can be removed from the current cycle board. Thanks for pointing that out.

[2021-05-06 14:26] cmgorton commented on #4079
Great! Figuring out that it is no longer a bug totally still counts! If you want to write up what you did in the template mentioned in the Bug Smash Post we will definitely still reward you for closing this bug. https://dev.to/new/devbugsmash 🐛 Thank you for helping us clean up the repo.
![High five](https://media.giphy.com/media/l0unkiodQqmA3lPO5e/giphy.gif)

[2021-05-06 14:26] #4079 closed

[2021-05-06 14:28] cmgorton commented on #4948
Awesome @Om-Bhagwat. I am assigning it to you now. If you have any questions as you start working on it feel free to reach out here.

[2021-05-06 14:29] cmgorton commented on #13670
Thanks for the help here Michael. I will go a head and close this issue.

[2021-05-06 14:29] #13670 closed

[2021-05-06 14:56] oyeyipowale commented on #13298
Hey @cmgorton @Link2Twenty, `bin/startup`; specifically `foreman start -f Procfile.dev`, throws an error. Not just sidekiq, but also the web instance through webpack and database config.

There was a reoccurring theme. The env variables are being read as a whole, both with inline comments.  As is the case below.
[code]
The .env file was create from .env_sample. I think all inline comments and vari

[2021-05-06 15:10] rhymes commented on #13298
@oyeyipowale can you replace your lines:

[code]

with just:

[code]

I'll send a PR shortly to fix that :)

[2021-05-06 15:18] cmgorton commented on #13298
Thank you @rhymes !

[2021-05-06 15:37] Link2Twenty commented on #13298
Oh yeah I had that problem too 😅

[2021-05-06 15:38] alicenstar commented on #1446
Well, unfortunately I am running into more issues. I'm on a Windows machine and my motherboard apparently can't handle having virtualization enabled without shutting down randomly multiple times a day, so I tried to switch to GitPod, but I can't get the project to run locally. I get `Command ["foreman start -f Procfile.dev"] failed` (which I was also getting in Ubuntu/WSL2) in the first terminal,

[2021-05-06 15:43] cmgorton commented on #1446
@alicenstar Thanks for sticking with this through all the errors. I think this might be similar to what another contributor encountered. Here is there comment and if you read below that there is a solution from one of our engineers. Can you let me know if that helps at all?
https://github.com/forem/forem/issues/13298#issuecomment-833590511

[2021-05-06 16:28] alicenstar commented on #13298
I was having this same issue with the same-line comments in the `.env` file. I fixed that, but then was getting this error: `FATAL:  database "$DATABASE_NAME" does not exist`, so `DATABASE_NAME` wasn't getting translated into the `DATABASE_URL`.

I fixed it by hard-coding the `DATABASE_NAME` into the `DATABASE_URL`, but I'm guessing that syntax must be wrong or something for the nested environment

[2021-05-06 16:31] nickytonline commented on #13360
Hi @Link2Twenty, would you like to work on this?

[2021-05-06 16:33] Link2Twenty commented on #13360
I think it requires some Ruby changes too (based on my digging). I wouldn't mind working in tandem with someone but my Ruby knowledge is non-existent 😅

[2021-05-06 16:36] alicenstar commented on #1446
Thanks for pointing me to that comment - it helped!

[2021-05-06 18:20] alicenstar commented on #1446
Trying to log in as the default admin user in my local environment (so that I can create a comment and test some things) and I am getting this error:
[code]

[2021-05-06 18:22] cmgorton commented on #1446
Asking in our internal dev channel to see if anyone can help.

[2021-05-06 18:33] msarit commented on #1446
are you logging into `localhost` or `127.0.0.1`?

[2021-05-06 18:41] hadiidbouk commented on #13613
I don't know if this related, but it's clear that there is a problem somehow in the order, you can see that the first 10 articles are different

<img width="1040" alt="Screen Shot 2021-05-06 at 9 37 56 PM" src="https://user-images.githubusercontent.com/19314956/117348951-834a5d80-aeb3-11eb-9e2e-d3ad8f5fa5e6.png">

<img width="1040" alt="Screen Shot 2021-05-06 at 9 38 11 PM" src="https://user-image

[2021-05-06 18:44] Link2Twenty commented on #1446
Looks like it's gitpod?

<https://forem.dev/akhil/aftermath-on-clicking-open-in-gitpod-581b>

[2021-05-06 18:46] saroj990 commented on #6610
What message do we need to display in the alert box for this issue ?

[2021-05-06 18:50] alicenstar commented on #1446
I was attempting to login through GitPod, so maybe that was the issue. I'm trying to recompile now, it's just taking a minute. Things keep freezing.

[2021-05-06 18:53] hadiidbouk commented on #13613
See "Test" article, for example, in the API it's at position 9 but in the website, I am scrolling down a lot till I find it, also in the API, it's before "Just Testing" not after.

<img width="1084" alt="Screen Shot 2021-05-06 at 9 51 42 PM" src="https://user-images.githubusercontent.com/19314956/117350454-42534880-aeb5-11eb-98d4-13d61b5d460c.png">

https://user-images.githubusercontent.com/193149

[2021-05-06 19:07] cmgorton commented on #6610
Good question. You could add some text for now that indicates the author deleted their comment. Once you have a PR in your reviewers may suggest something else. They will be able to respond more quickly in the PR itself with suggestions 😄

[2021-05-06 19:21] Zhao-Andy commented on #1446
Hi @alicenstar, I'm using Ubuntu 20.x and WSL2 as well! I followed our [Windows guide](https://docs.forem.com/installation/windows/) to setup, and it seems like you were most of the way there since you got to run `bin/startup`. If you find that GitPod is not working out that well, happy to help you triage your Windows setup.

The error message  `Command ["foreman start -f Procfile.dev"] failed` us

[2021-05-06 20:02] alicenstar commented on #1446
@Zhao-Andy I had to switch to GitPod because my motherboard apparently can't handle having virtualization enabled without shutting down randomly multiple times a day. I got the project to run fine otherwise, but the random shut downs weren't going to work for me.

I think GitPod's servers might be slowing down this `bin/startup` process because I've been waiting for it to finish compiling for abou

[2021-05-06 20:04] Zhao-Andy commented on #1446
@alicenstar gotcha, thanks for the clarification!

[2021-05-06 20:10] hadiidbouk opened #13687 "Hashtag "#" color is missing from flareTag"
I am using `latest` API, the `flareTag` object doesn't contain the hashtag "#" color, you can see it's not the same as the `text_color_hex`.

It seems that the class that changes the color in HTML is `crayons-tag__prefix`.

[code]

<img width="263" alt="Screen Shot 2021-05-06 at 11 03 56 PM" src="https://user-images.githubusercontent.com/19314956/117359494-286b3300-aec0-11eb-888f-b975b4d42f7a.png"

[2021-05-06 21:51] LucasKuhn commented on #5653
I have the same issue as @axsharma, I usually make a quick draft and want to change the automatically generated slug on Dev.to

[2021-05-06 22:00] Link2Twenty commented on #5653
Hey, a good way to get an issue like this to be noticed is to make a post over on <https://forem.dev> explaining the desired feature and asking for people's thoughts.

[2021-05-07 01:03] alicenstar commented on #1446
I think I may possibly have fixed this issue. I am trying to run tests now to be sure, but I am running into an error when trying to run any test (using `bundle exec rspec spec/relevant_test_folder`): `FATAL:  database "Forem_test" does not exist`.

I tried changing my `.env` file to this (hard-coding the database name since that was a problem for me before), but I still get this error.
`.env`:
[c

[2021-05-07 04:04] Dev-Akash commented on #2799
Hi @cmgorton, i was setting up the forem using command `bin/setup` but encountering a issue of `ConnectionNotEstablished: fe_sendauth: no password supplied` while preparing for the database. How can i fix this issue ?
I have gone through the [Preparing the Database](https://docs.forem.com/getting-started/db/) but didn't found the solution for this.

[2021-05-07 04:35] sbappan commented on #13679
Hi. Could I try to smash this bug?

[2021-05-07 06:02] rhymes commented on #1446
Hi @alicenstar, can you create the DB manually in the GitPod console? I can think of two options:

1. `createdb Forem_test`
2. `psql Forem_development` and then you issue `CREATE DATABASE Forem_test` in the PostgreSQL console

Let us know if that helps, and thank you!

[2021-05-07 06:24] Starboy-Sharma opened #13690 "Unable to click on the 3 dots button in the post"
**Describe the bug**
Unable to click on the 3 dots button in the post

**To Reproduce**
Open any post on the dev.to and try to click on the three dots on the right-hand side of the page

**Expected behavior**
It should show me the option of share articles and other share options.

**Screenshots**

![image](https://user-images.githubusercontent.com/31812684/117406191-5be2a780-af2a-11eb-9d5a-6c48979

[2021-05-07 06:51] #13612 closed

[2021-05-07 07:15] rhymes commented on #13687
Hi @hadiidbouk I'm not sure there's anything we can do on our part here :) The prefix is defined as:

[code]

but that could change tomorrow, based on our design changes. You're not bound to the colors nor how DEV or other Forems style them. Given that thet hashtag itself is not even included in the name, if you're creating a presentation over the data returned from the API you're free to change t

[2021-05-07 07:30] rhymes commented on #2799
Hi @Dev-Akash, you might have a to supply a password to your database connection.

In your `.env` you should add/change `DATABASE_URL` to something like: `postgresql://USERNAME:PASSWORD@HOSTNAME/Forem_development` and then re-run `bin/setup`

[2021-05-07 07:35] Link2Twenty commented on #2799
@rhymes maybe we should make a bash `.env` builder, asks a bunch of questions (with default answers if left blank) spits out a file.

[2021-05-07 07:37] Link2Twenty commented on #13687
Slight tangent, is that a real tomorrow or a figurative one?

[2021-05-07 07:59] Link2Twenty commented on #13687
Here's a quick formula for working out what colour is produced with opacity.

Some of the code is modified from [css-tricks](https://css-tricks.com/converting-color-spaces-in-javascript/).

[code]

[2021-05-07 08:35] rhymes commented on #3234
Hi @cmgorton, I'm reopening this based on https://github.com/forem/forem/issues/13663 and the PR that was submit for it: https://github.com/forem/forem/pull/13689

#13663 and its PR only focus on the dashboard list of articles, not the full experience (notifications included)

[2021-05-07 08:43] rhymes commented on #13690
Hi @Starboy-Sharma, we have a PR up that should fix it: https://github.com/forem/forem/pull/13688

Thank you for the report!

[2021-05-07 08:46] rhymes commented on #2799
@Link2Twenty I wonder if documentation wouldn't be more effective

[2021-05-07 08:47] #13652 closed

[2021-05-07 08:49] rhymes commented on #13687
What I'm actually saying is don't think the API should contain presentational info :)

[2021-05-07 09:11] Dev-Akash commented on #2799
I would say that as mentioned in [installing docs](https://docs.forem.com/installation/linux/) for Postgres, it didn't asked for the `PASSWORD`, so it was hard to know what to replace with in above `DATABASE_URL`, Later on I came to know that default `USERNAME` for Postgres after the installation is `postgres` and `HOSTNAME` is `localhost` and then by reading from [this article](https://chartio.co

[2021-05-07 09:31] Dev-Akash commented on #2799
I again encountered an issue during `bin/setup`,

== Bust Caches ==
rails aborted!
Brpoplpush::RedisScript::LuaError: @user_script: 94: -MISCONF Redis is configured to save RDB snapshots, but it is currently not able to persist on disk. Commands that may modify the data set are disabled, because this instance is configured to report errors during writes if RDB snapshotting fails (stop-writes-on-bg

[2021-05-07 09:32] Link2Twenty commented on #2799
Maybe we should update this to something like.

https://github.com/forem/forem/blob/de488f331d493f84bcafd187d121efc2af837f27/.env_sample#L46-L47

[code]

[2021-05-07 10:33] #13690 closed

[2021-05-07 11:56] rhymes commented on #2799
@Dev-Akash looks like a problem of your Redis installation. How have you installed it? Can you restart it?

@Link2Twenty that sounds like a plan, maybe combined with a clearer messaging in the installation docs about telling people they have to customize that URL and not take it verbatim! But we can have this discussion around a specific issue ticket I guess

[2021-05-07 12:00] #13665 closed

[2021-05-07 13:54] cmgorton commented on #13679
Sure @sbappan ! I will assign it to you now. Let us know if you have any questions 😄

[2021-05-07 15:01] Dev-Akash commented on #2799
@rhymes yes i have installed it, i resolved the problem by manually starting the Redis.

Later on i tried to start the application after running `bin/setup` successfully using `bin/startup` and it ended up failing,

Here is the log:

== STARTING UP ==
20:18:29 web.1       | started with pid 3568
20:18:29 webpacker.1 | started with pid 3569
20:18:29 sidekiq.1   | started with pid 3570
20:18:43 side

[2021-05-07 15:04] hadiidbouk commented on #13687
I totally understand, but the `flareTag` object itself contains a background and text colors, these are also presentational information 🤔, maybe the `flareTag` could be just a string? and the front end will decide how to present it?

[2021-05-07 15:05] Link2Twenty commented on #2799
@Dev-Akash [.env-sample](https://github.com/forem/forem/blob/main/.env_sample) has been updated to fix this problem, can you compare your `.env` to it and bring it up to date

[2021-05-07 15:08] Link2Twenty commented on #13687
I think rhymes just means in this instance where the colour is defined with the use of opacity (which can change from theme to theme) it's not worth pushing that data in the API. Because the hash actually is `text_color_hex` just slightly translucent.

[2021-05-07 15:13] hadiidbouk commented on #13687
Thank you for clarifying 👍🏻

[2021-05-07 15:13] #13687 closed

[2021-05-07 15:48] #13182 closed

[2021-05-07 15:53] Dev-Akash commented on #2799
Thanks @Link2Twenty, it solved the issue, re-run the `bin/setup` and `bin/startup` and opened `localhost:3000` it shows the following message.

![Screenshot from 2021-05-07 21-21-53](https://user-images.githubusercontent.com/43779954/117476018-5745df80-af7a-11eb-9f31-46eba59b4d28.png)

[2021-05-07 16:17] Dev-Akash commented on #2799
Yes i did @rhymes

[2021-05-07 16:43] rhymes commented on #2799
@Link2Twenty you get me :D

[2021-05-07 17:04] Dev-Akash commented on #2799
@rhymes do i need to use [these](https://docs.forem.com/getting-started/db/#default-admin-user) credentials to log in as mentioned under default-admin-user section, as it is not working for me.

[2021-05-07 17:19] rhymes commented on #2799
@Dev-Akash what is it saying?

[2021-05-07 17:35] Dev-Akash commented on #2799
Invalid email or password.

![Screenshot from 2021-05-07 23-02-38](https://user-images.githubusercontent.com/43779954/117487169-587e0900-af88-11eb-9743-d6a9bb186e45.png)

[2021-05-07 17:41] shushugah commented on #4079
Thank you! I edited my post by adding a white space, to trigger/force a new render operation and it works now.

[2021-05-07 17:47] cmgorton commented on #1446
@alicenstar thanks again for pushing through all these set backs.
You are doing a wonderful job and we are definitely here to help however we can.

[2021-05-07 18:18] rhymes commented on #2799
@Dev-Akash mmm weird, you can change the admin's password from the console if you need to:

[code]

[2021-05-07 19:03] Ahnaf780 commented on #13587
Lol tf is this shit xd

[2021-05-07 19:32] cmgorton commented on #13587
Did you have a concern with something in this issue @Ahnaf780 ?

[2021-05-08 02:25] manuthecoder opened #13693 "Dev.to extremely laggy on chromebooks (Occasionally)"
Hey there,
I'm sometimes on a chromebook, and dev.to gets very laggy usually when I either right-click or click on any (external) link.
I don't know why this is happening; this is very unusual...
However, it works perfectly on actual laptops 😄

[2021-05-08 04:52] sbappan commented on #13679
Thanks! Will do.

[2021-05-08 04:53] sbappan commented on #13679
Thanks! Will do.

[2021-05-08 15:55] arwazkhan189 commented on #12494
Hey @pkfrank, I have to just change the DEV icon with this icon?
![1](https://user-images.githubusercontent.com/48387278/117545542-d7844780-b043-11eb-97fc-b7462348fa21.jpg)

[2021-05-08 17:26] snyntakk commented on #13667
i would like to take this one

[2021-05-08 19:51] meg-gutshall commented on #13667
Looks like line 39 in your `views/podcast_episodes/show.html.erb` file is a good place to start!

[2021-05-08 23:09] meg-gutshall commented on #11880
@nickytonline Wanna do this one for the stream?

[2021-05-09 09:38] BezPowell commented on #9034
I just came across this issue today as I was trying to get to the github link in the footer, but was unable to do so as more posts kept loading.

Would replacing the infinite scrolling with a standard pagination be an option? Many sites allow the user to select the number of results per page, and I could envisage having 'infinite' be an option alongside several different numbers.

[2021-05-09 09:38] BezPowell commented on #9034
How does that work on mobile and for screen-readers? It seems like quite a nice solution for desktop users with a mouse, but might not work so well for smaller screens and keyboard navigation.

[2021-05-09 11:59] nickytonline commented on #11880
This has been inactive for three months @akashdotsrivastava so I'm going to assign this to @meg-gutshall as part of our Bug Smash event.

[2021-05-09 16:28] khloeabrown opened #13695 "Forem.com Homepage Error"
**Describe the bug**

Going to https://www.forem.com/ via a link on Dev.to or typing it in manually, I get a "Error compling CSS asset". I'm not familiar with what's in motion on this project nor if this is a known problem.

I've viewed the site on Chome, Firefox and Opera all without extensions to only see the same problem.

**Expected behavior**

I expect to see the homepage of the https://www.f

[2021-05-09 18:01] edimanlmp opened #13696 "Installation on Docker DigitalOcean HTTP Origin header didn't match request.base_url"
**Describe the bug**

When installing forem using docker on digitalocean i am getting the following error:

`HTTP Origin header (http://64.227.102.95:3000) didn't match request.base_url (http://64.227.102.95:3000)`

**To Reproduce**

1. Install Forem on digitalocean following the guide for container setup
2. After installation Forem works correctly in almost all page except for login and register

[2021-05-09 19:19] metamoni commented on #13505
Hello! 👋

I'd like to work on this, if that's alright.

[2021-05-10 03:12] citizen428 commented on #9034
For Twitter, it seems to only be used as the footer of the "Help Center" which can be accessed from the main menu.

[2021-05-10 08:02] aitchiss commented on #13505
@metamoni yes!! ✨

[2021-05-10 08:06] #13298 closed

[2021-05-10 14:26] cmgorton commented on #13695
Hey @khloeabrown Thanks for reporting this! I believe the issue is resolved now. The site should look like this when you navigate to https://www.forem.com/ .
![Screen Shot 2021-05-10 at 8 26 27 AM](https://user-images.githubusercontent.com/21039864/117675034-7191e000-b169-11eb-8b5d-d1b47f1b8043.png)

Can you confirm it is working for you now?

[2021-05-10 14:31] khloeabrown commented on #13695
Hello @cmgorton
Yes I can comfirm that the homepage is now working on Chrome, Opera and FireFox.
Chrome:
![new-screenshot--chrome](https://user-images.githubusercontent.com/10980711/117675713-d0138a00-b17a-11eb-827d-4e25d09d5c76.PNG)

FireFox:
![new-screenshot--firefox](https://user-images.githubusercontent.com/10980711/117675714-d0ac2080-b17a-11eb-8eaa-5651c68d5f3c.PNG)

Opera:
![new-screenshot--

[2021-05-10 15:21] #13695 closed

[2021-05-10 15:53] maestromac commented on #13587
all good @citizen428 !

Did you mean to ping someone else @cmgorton ? or you meant to comment that somewher else?

[2021-05-10 15:59] cmgorton commented on #13587
I think their comment was deleted.

[2021-05-11 00:41] cherscarlett commented on #423
I would really like to see this implemented.

I'll reiterate what others have stated:

- The author may not want comments from the get-go, and there's plenty of folks who may have great content to contribute that are reluctant to do so because they would be unable to handle any feedback at all. This can be for a variety of reasons that aren't being unwilling to hear feedback.
- The conversation ma

[2021-05-11 05:39] rhymes commented on #12494
Hi @arwazkhan189, from what I can see, the 404 page itself has no favicon declared - https://forem.dev/404 - so it will use https://github.com/forem/forem/blob/main/public/favicon.ico which is `DEV`

Given that the [404 template](https://github.com/forem/forem/blob/main/public/404.html) is not dynamic, I think our best course of action, on the technical side, is:

- replacing the generic favicon w

[2021-05-11 05:45] saroj990 commented on #6610
@cmgorton created a [PR](https://github.com/forem/forem/pull/13721) for this issue.

[2021-05-11 08:42] Link2Twenty opened #13726 "pulltorefresh issue with chat"
**Describe the bug**
When in a long chat you may want to scroll back to a previous message but if you do this `ptr` is activated (even though you're scrolling)

**To Reproduce**
1. go to a `forem` on mobile
2. open connect
3. select a conversation with a few messages
4. try and scroll up the tread
5. see issue

**Expected behaviour**
When there is space to scroll `ptr` should not be activated

**S

[2021-05-11 09:33] rhymes opened #13728 "Use correct image size in avatars"
**Describe the bug**

Many of the avatars in the homepage and other pages like [Search -> Articles](https://dev.to/search?q=&filters=class_name:Article) are `32x32` but we use a `90x90` image for all them, resulting in potentially wasted resources.

**To Reproduce**

- Report for DEV: https://webspeedtest.cloudinary.com/results/210511_BiDc8E_f5f614a65e71a64aae036319989fb25c
- Report for forem.dev:

[2021-05-11 13:22] michael-tharrington commented on #8757
I don't want to make the call here because I'm not a developer and could be wrong 😅, but @Eli-Schei I think you are correct that this might've been fixed. It does look like show notes are appearing now.

[2021-05-11 14:17] erenlerfirat commented on #13667
do Bug smash have discord channel ?

[2021-05-11 15:22] cherscarlett opened #13730 "Hidden comments on a thread hide the rest of the thread"
**Describe the bug**

When a comment is deleted because of a CoC violation, the rest of the comments in that thread remain visible, so that way healthy commentary that may have happened around the destructive comments can be read and continue a dialogue. When a comment is hidden by the author, it also hides everything that came after it. My expectation would be, as an author, to able to hide any c

[2021-05-11 21:08] vaidehijoshi opened #13735 "Mention notifications should be deleted if mentions are removed"
**Describe the bug**

When User A mentions another user, User B, in a comment, the mentioned user (User B) receives a notification. However, if User A edits the content of their comment to _remove_ that mention, User B still sees that notification of being @-mentioned in a comment in their `/notifications` tab. Then, when User B goes to look at that comment, the data they see in the notification d

[2021-05-12 05:39] kitarp29 commented on #11494
Sorry, I am looking at it after a week.
I get this bug is happening as the email id is probably not updated or not replaced in the DB.
I am unable to find the file where the Schema of the user is set.
I will looking for it, if someone could direct me to the file it would be of great help.

[2021-05-12 08:55] DanCharousek commented on #4955
Hi @jdoss, do you think you could point me where to look for an issue with the dockerized setup?

I followed the instruction guide and kept getting error 400 after the containers spin up. I also tried to tear everything down and start over. I did not do any changes in the `.env`. Is it possible that I am missing some important env variable here?

Thanks in advance,
Dan

[2021-05-12 10:00] Link2Twenty opened #13744 "Bug: Comments dropdown open when arriving on page"
**Describe the bug**
The comments dropdown seems to automatically open when I press back after looking at a users profile. It's always the first comment and seemingly only when I'm coming back from looking at a profile.

![image](https://user-images.githubusercontent.com/3534427/117956271-cde33400-b310-11eb-9895-cbdfeb404f1e.png)

**To Reproduce**
1. go to a post with comments
2. click on any user

[2021-05-12 13:04] moopet opened #13746 "Search doesn't weight post titles"
**Describe the bug**

The global search should match terms in a post's title, but this doesn't appear to be happening. For example, on DEV a search for "async" or "await" is likely to find a lot of posts with those words in the title, but it doesn't. It does, however, find posts with those words in the body, include inside code blocks.

It's a little difficult to prove, without playing with the co

[2021-05-12 13:32] karnett commented on #11636
This should also be taken into account with user notifications.

If user A blocked user B, user B should not show up in their notifications as a reply to the thread.

[2021-05-12 14:14] cmgorton commented on #11494
Hey @kitarp29 I am copying over a comment from one of our engineers that was in the internal issue.

"Gut reaction is that this happens because when a user updates their email, we don't unsubscribe their old email.

Relevant files are `app/services/mailchimp/bot.rb`, `app/models/user.rb#subscribe_to_mailchimp_newsletter`, and `app/workers/users/subscribe_to_mailchimp_newsletter_worker.rb.` "

Let

[2021-05-12 14:57] michael-tharrington opened #13747 "Styling Issues With Response Templates Buttons"
**Describe the bug**

The moderator templates button under response templates is not styled.

**Expected behavior**

The buttons should be styled so that you can see when you click on one!

**Screenshots**

![Image 2021-05-12 at 9 28 42 AM](https://user-images.githubusercontent.com/16007075/117997048-a68c6700-b310-11eb-8148-dd425b3b01f9.png)

[2021-05-12 15:45] #13296 closed

[2021-05-12 15:47] djuber commented on #4955
Hi Dan,

Just wanted to chime in since I've been using the docker images to do unit testing and have seen similar issues (the ProfileImageUploader does not create the image file for the user and in testing the user creation fails in the factory setting the `profile_image`). I'm still working to isolate this (I think I'm close to an answer of what's happening, I still don't understand why it's happ

[2021-05-12 16:18] #7111 closed

[2021-05-12 16:20] cmgorton commented on #7111
Yay! @emgoto I know you opened this issue awhile ago but there is now a fix for this from PR #13717.

[2021-05-12 16:26] atsmith813 commented on #12990
I'm unable to reproduce this either and I haven't seen additional reports of this issue. It's likely that it's the content blocker not liking how that page is rendered. Should we close this issue for now?

cc: @citizen428 @cmgorton @crisbnp

[2021-05-12 18:31] leewynne commented on #12992
Oo I forgot about this, I'll give it another test!

[2021-05-12 18:33] #12990 closed

[2021-05-12 19:46] atsmith813 commented on #5342
Hey @ferricoxide, thanks for this report! I tested this out and they all seem to work for me except

Which I have a fix going up for shortly. Does this match your experience, do the other things work for you?

Thanks!

[2021-05-12 20:50] flimzy opened #13753 "Tags not working from RSS feed"
**Describe the bug**

From the Publishing from RSS Guide (https://dev.to/p/publishing_from_rss_guide), I understand that I can include tags in my RSS feed:

However, the tags are consistently malformed in my posts. For example, from this XML:

    <category>scrum,extremeprogramming,practices,agile</category>

Dev.to shows me this:

[2021-05-13 07:44] rhymes commented on #13753
Hi @flimzy! I think we support the `<category>` tag but according to RSS 2 spec it should be one tag per HTML element:

[code]

see also https://github.com/forem/forem/issues/5566#issuecomment-600840857

our publishing guide is incorrect :(

I'll re-view it and update it. Thanks!

[2021-05-13 09:23] aitchiss commented on #11533
I think this is a backend issue related to the `follows_controller` call to

[code]

- we post the update to unfollow a user (and receive a successful `{"outcome":"unfollowed"}` response
- when you refresh the page you can see the call to `follows/<userid>?followable_type=User` returns 'true' when it should be 'false'

It looks to me like `CheckCached` continues to return the old value, when we sh

[2021-05-13 09:43] rhymes commented on #11533
I think you're right @aitchiss!

When we unfollow a user here:

https://github.com/forem/forem/blob/f7293c354462e9f7d921abb80a4e8dae5242b172/app/controllers/follows_controller.rb#L112-L117

the cached value that then we check here is not expired manually:

https://github.com/forem/forem/blob/f7293c354462e9f7d921abb80a4e8dae5242b172/app/services/follows/check_cached.rb#L16-L19

[2021-05-13 10:06] aitchiss commented on #11533
Thanks @rhymes! I'm going to have a quick attempt to fix this 🤨

[2021-05-13 15:00] #13753 closed

[2021-05-13 20:33] flimzy commented on #13753
Thanks for the prompt reply, and doc fix. I've updated my RSS feed accordingly.  :tada:

[2021-05-13 20:40] LayZeeDK opened #13759 "social media footer hides content in print mode"
**Describe the bug**

The social media footer is displayed at the bottom of every page in print mode.

**To Reproduce**

1. Go to any article on DEV Community.
2. Open the _Print_ dialog.
3. Print to PDF or watch the print preview.
4. Some content is hidden behind the social media footer at the bottom of each printed page.

**Expected behavior**

Content is displayed in full. The social media foot

[2021-05-13 20:43] cmgorton commented on #8757
@Eli-Schei you are finding all the bugs that are no longer bugs.😄 Thanks for your investigative work here. 🕵️‍♀️ One of our engineers confirmed this is no longer a bug so we can officially call this smashed and close this issue 🐛

[2021-05-13 20:43] #8757 closed

[2021-05-13 21:08] pkfrank opened #13761 "Digest not sending on proper frequency"
**Describe the bug**

DEV's email digest frequency is set to `2`, which I believe means we should only be sending a Digest email once every 2 days.  I am receiving Digest emails at a cadence of 4 days on, 3 days off.

Example days from April into May .

[code]

![dev digest emails](https://p241.p3.n0.cdn.getcloudapp.com/items/8LubzAK1/71c2121d-b8dc-4420-81cc-4fe612f07aaa.png?v=23f76db30f9249131095

[2021-05-14 07:41] #5342 closed

[2021-05-14 07:41] #11636 closed

[2021-05-14 16:14] DanCharousek commented on #4955
Hi Daniel, thank you for your help. Unfortunately I do not get past the point where you reach the http://localhost:3000 as it returns the mentioned error 400.

My [previous comment](https://github.com/forem/forem/issues/4955#issuecomment-832815492) displays the output of my terminal when running `./bin/container-setup`. The `sidekiq_1` and `sidekiq_1` containers keep receiving error 400. **The sam

[2021-05-14 16:26] djuber commented on #4955
This makes some sense - I think we saw this in an error handler when we were testing a self-hosted (container) install last week.

1) try to pull the latest version of the image

2) if that fails - I think there's a `rescue_from` in the stories controller that's returning the bad request and hiding the underlying issue
https://github.com/forem/forem/blob/bb9780ff3d0179b03dde2d8550765bb44922be6c/ap

[2021-05-14 16:49] jmfayard opened #13768 "GitHub liquid tag: incompatible character encodings: UTF-8 and ASCII-8BIT"
**Describe the bug**

**To Reproduce**

- New article with this content
[code]
- Save draft
- Fails with `incompatible character encodings: UTF-8 and ASCII-8BIT`

**Expected behavior**

It works

**Screenshots**

<img width="907" alt="Edit_Post_-_DEV_Community_👩💻👨💻" src="https://user-images.githubusercontent.com/459464/118302789-f2900500-b4e4-11eb-85a6-0c83bc34b249.png">

**Desktop (please complet

[2021-05-15 13:33] carlos-ds commented on #13759
Hi, I'd like to pick this one up if that's ok.

My remarks/questions:

- I'm reading that a CLA should be signed in order to contribute. I don't see any links to that so I assume this can be signed from the PR itself?
- In the images below, I've also marked other items in red that could be hidden on print (in the article view). However, this could be up for debate. But for example the moderation b

[2021-05-15 18:08] itsjzt commented on #13726
Came here create this issue

[2021-05-15 22:02] LayZeeDK commented on #13759
Thanks, @carlos-ds!

`print-hidden` sounds like what we ant to add to the elements that should be hidden in print mode.

Consider whether any of the elements you highlighted could still make sense in a PDF printout (if they are clickable links).

[2021-05-16 09:59] carlos-ds commented on #13759
Good point, thanks for the feedback.

Elements that need page context don't really make sense in a PDF. Hence, from the ones that I marked in the images above, I would hide following elements:

- Moderation button
- Favorite/bookmark/... bar
- "Follow" link
- Input field for new comments
- Like/reply buttons for comments
- "Subscribe" button

And leave these in:

- "More from author" links
- "Code

[2021-05-16 10:58] metamoni commented on #13505
@aitchiss I've played with quite a bit this over the weekend and here's what I've done:

- set the focus to the skip link in the `_top_bar` partial:
[code]

- updated the styles in `header.scss` to use `:focus-visible` (replacing the `:focus` and `:focus-within` selectors):
[code]

Here's what that looks like:
https://user-images.githubusercontent.com/22390758/118394256-7e1baa00-b63b-11eb-9a6e-22e

[2021-05-17 03:26] citizen428 commented on #13583
@mstruve I'm done with step 1 now.

I'm a bit unsure about the follow-up tasks as the navigation link already exists. Seems like it was created by `lib/tasks/add_navigation_links.rake` which was added in October in https://github.com/forem/forem/pull/10754. We probably ran it manually afterward, maybe @Ridhwana remember and can confirm. I confirmed via Blazer that a `NavigationLink` for the shop a

[2021-05-17 12:05] LayZeeDK commented on #13759
@carlos-ds
That's similar to what I was thinking 👍

[2021-05-17 15:16] cmgorton commented on #13768
This is a weird one. I can reproduce it with the above repo but not with any other similar repository. Going to investigate more. Thanks for opening this issue.

[2021-05-17 15:37] Bktero commented on #12556
Hell @cmgorton

The problem is no longer reproducible on my computer. I believe the proxy's configuration has been changed and now files from "https://res.cloudinary.com/practicaldev/" are correctly downloaded.

I guess you can reproduce the bug by setting up a custom proxy with rules to block the image provider.

[2021-05-17 15:37] Link2Twenty commented on #13768
So this is caused by the images names in the body, weird right?

The body contains this image

[code]

Rather than using a hyphen the file uses an en dash `–` and that causes the ruby to not like it (as it's not ascii 8bit).

[2021-05-17 15:40] #12545 closed

[2021-05-17 15:41] carlos-ds commented on #13759
Alright, thanks a bunch.
I'll try to submit a PR for this, at the latest by the end of this week.

[2021-05-17 19:58] kitarp29 commented on #11494
Sorry I have been trying to wrap my head around the code to find the bug.
But I am unable to do it. If anyone wants to do it, He/She should be assigned this issue.

[2021-05-17 20:54] mstruve commented on #13583
I think the changelog entry would just be to address the change in the Config area in admin and I also think for other creators mentioning the nav links could be used in its place might be useful. Not sure if any other Forems have even made use of that shop_url but can't hurt to throw a changelog label on the PR so it's included.

[2021-05-17 23:14] Lonli-Lokli opened #13789 "Custom Stackblitz projects are not integrated"
**Describe the bug**

Stackblitx' projects from github are not available

**To Reproduce**

https://stackblitz.com/github/Lonli-Lokli/functional_programming_in_angular/tree/part_01_step_01?file=libs%2Fcity-weather%2Fsrc%2Flib%2Ftemperature%2Ftemperature.component.ts

This link cannot be rendered with this code
`{% stackblitz github/Lonli-Lokli/functional_programming_in_angular/tree/part_01_step_01

[2021-05-17 23:41] nickytonline commented on #12556
@Bktero since this was a custom proxy issue I'm going to close this for now.

[2021-05-17 23:41] #12556 closed

[2021-05-18 02:27] citizen428 commented on #11494
Thanks for giving it a shot @kitarp29, much appreciated! ❤️ I un-assigned you from this issue now so people can see it's still up for grabs.

[2021-05-18 04:24] #13583 closed

[2021-05-18 04:25] #13587 closed

[2021-05-18 04:36] kitarp29 commented on #11494
This https://github.com/forem/forem/issues/11494#issuecomment-839807387 will really help someone who is trying to solve this issue.
As far as I could understand there is a function unsubscribe_to_newletter, but I am unable to figure out why it's not working.
The function is called when the user changes the email id.

[2021-05-18 06:53] DanCharousek commented on #4955
With latest changes from the main and latest image version the issue is gone. The app is now up and running. As you mentioned in the previous comment, it seems that the original issue has been resolved as I see users' profile pictures. Thank you for your help and explenation.

I also tried to login in as `admin@forem.local`, but I am not sure what the default password is. I tried `password`. After

[2021-05-18 10:43] aitchiss commented on #13505
@metamoni I'm wondering if we could get around this by adding your code to `base.js.erb`'s `changePage` function, instead of inside the `_top_bar` partial? That function doesn't get triggered on a fresh page load so potentially we could get the behaviour where:

- When you first arrive on a Forem (by actually entering a URL in the browser, page reload, etc), the body behaves as 'normal', with the

[2021-05-18 15:16] metamoni commented on #13505
I'll investigate 🕵️‍♀️

[2021-05-18 15:55] djuber commented on #4955
Hi Dan,

It looks like the "HTTP Origin header did not match" error in your logs screenshot is probably related to the problem you're seeing.

I think the underlying issue there is that the app is being selective about which `Host:` header it considers valid, and the containers need to use a name other than `localhost` to permit inter-container traffic (for example, sidekiq requesting `http://rail

[2021-05-18 17:58] nickytonline commented on #13505
@aitchiss, the `changePage` should work, but like you mention, I'm not sure that would work for the browser back button, but wouldn't that be a problem in general?

[2021-05-18 18:44] MatheusRich opened #13795 "Unpublished post shows edit link to non-author logged users"
**Describe the bug**

**To Reproduce**

1. Log in
2. Go to a unpublished post (https://dev.to/leastbad/beast-mode-stimulusreflex-with-all-futures-4121-temp-slug-3955216?preview=0f814fe700ac64830c91c4bc686d5660272747d9e5be79f6d3e7f68b0a48e20e0e906e34ff65e51c81f166ff2a407bd10a5b9a74010c57ee7f7d8356 for example)
3. See the banner link "Click to edit"
![image](https://user-images.githubusercontent.com

[2021-05-18 19:54] huntr-helper opened #13797 "🚨 Potential Server-Side Request Forgery (SSRF)"
👋 Hello, @benhalpern, @dependabot-preview[bot], @dependabot[bot] - a potential high severity Server-Side Request Forgery (SSRF) vulnerability in your repository has been disclosed to us.

#### Next Steps

1️⃣  Visit **https://huntr.dev/bounties/1-other-forem/forem** for more advisory information.

2️⃣  **[Sign-up](https://huntr.dev/)** to validate or speak to the researcher for more assistance.

3

[2021-05-18 21:36] cmgorton commented on #13795
Hey @MatheusRich I don't get a 404 when I click the edit link. I know people in organizations or sometime authors who want feedback on their writing will share a link to their unpublished articles and allow edits. I think this might be intentional functionality. Unless I am not understanding your issue correctly.

When I am not logged in I do not have the ability to edit this post. Only while logg

[2021-05-18 21:39] #13797 closed

[2021-05-18 21:55] MatheusRich commented on #13795
@cmgorton did you see the link even if you're not the author of the post? Why do non authors should see an edit link for post they didn't write?

[2021-05-18 22:10] cmgorton commented on #13795
Hey, this is because people work together sometimes to edit posts. It is something used by a lot of organisations and also coworkers on DEV and other Forems. If the author shares the link then it can be seen and edited.

[2021-05-18 22:12] MatheusRich commented on #13795
@cmgorton oh OK. I hope I didn't sound rude in my last comment! Do you think we could avoid showing this link for people that doesn't have permission to actually edit it?

[2021-05-18 22:24] cmgorton commented on #13795
I didn't think you were rude 🙂
We could make that a feature request so that product can weigh in on it before we make any changes. We ask contributors to put feature requests on forem.dev so the whole community can weigh in. You can see examples of feature requests in this roundup https://forem.dev/foremteam/let-s-discuss-3-a-roundup-of-feature-requests-5e2e

Also happy to create a post for you in

[2021-05-18 22:39] MatheusRich commented on #13795
@cmgorton go ahead and create the post, please! Thank you

[2021-05-19 06:39] DanCharousek commented on #4955
Hi Daniel,

it seems the changes you suggested helped to resolve the issue. I was able to successfully login as an admin. Although for some reason I do not see posts when logged in (not sure if this is correct behaviour - see screenshot bellow).

![image](https://user-images.githubusercontent.com/10319511/118766763-2bc9cb80-b87d-11eb-8114-3d92925cffc6.png)

Anyway, it seems a little bit OT with re

[2021-05-19 06:41] hilleer opened #13802 "Blog post share button is showing some of the options outside of view"
**Describe the bug**

Post share button is showing the popup outside of the screen.

**To Reproduce**

1. Create a draft post (unsure if it persists for published posts as well)
2. In the left side of the screen, click on the three dots to share the post externally
3. Notice some of the selections are hidden because the top of the bar is shown "out of the screen".

**Expected behavior**

You shoul

[2021-05-19 06:47] Link2Twenty commented on #13802
I think this is a duplicate of #13195

[2021-05-19 07:00] hilleer commented on #13802
@Link2Twenty sounds correct, yes. Sorry for not finding that issue before opening a new one.

[2021-05-19 07:00] #13802 closed

[2021-05-19 08:46] aitchiss commented on #13505
Yeah you're right - it just occurred to me thinking about `changePage` 😄  I guess what we are trying to fix at the moment under this issue is internal navigation, clicking on links through the app. We probably don't need to complicate things by thinking about browser back navigation right now.

[2021-05-19 14:48] TastefulElk opened #13804 "Stats API blocked by UBlock Origin"
Stats page for an article doesn't work since the API calls are being blocket by uBlock Origin

**Prerequisites**
1. Chrome with uBlock Origin extension installed

**To Reproduce**

1. Open an article
2. Go to "Stats"
3. All graphs empty, no error messages

**Expected behavior**
Stats to be showing even if uBlock Origin extension is active

**Screenshots**

![Screenshot 2021-05-19 at 16 45 44](http

[2021-05-19 14:50] TastefulElk commented on #13804
I'm guessing the simples solution would be to add an exception to the [uBlock "unbreak" list](https://github.com/uBlockOrigin/uAssets/blob/master/filters/unbreak.txt)

[2021-05-19 16:40] #11533 closed

[2021-05-19 22:27] elidrissidev opened #13811 "Text field on the onboarding page covered with keyboard when typing on mobile"
**Describe the bug**

This is a minor issue I noticed while creating an account. In second onboarding screen, the bottom text field is covered with the keyboard and it is not possible to see what you're typing.

**To Reproduce**

1- Create a new account and go to the second screen of the onboarding on mobile.

**Screenshots (scrolled down to the max)**
![Screenshot_2021-05-19-19-42-27-814_com.andr

[2021-05-20 04:12] tolentinoel opened #13814 "Grammarly extension causing text fields on making a new post disabled"
**Describe the bug**
I was trying to write a blog post today and couldn't. Once you're on the New Post page, it wouldn't let me edit the text fields for the title and the body of the blog. I have tried to log in and logout, exit the browser and relaunch it, even copy-paste my entry but nothing seemed to work. When I paste the entry in one text field, it does the trick but won't let me click into t

[2021-05-20 05:25] surajondev opened #13815 "Showing personal stats for organizations stats"
**Describe the bug**

If you see, your personal stats and your organization's stats, they are the same, which is personal.

**To Reproduce**
- Must be Admin of an Organization
- Go To Dashboard
- See Analytics
- See Analytics of your organization.
- They are same

**Expected behavior**

There should be different stats for organization and different for personal.

**Screenshots**

Personal Stats:

[2021-05-20 08:10] #13759 closed

[2021-05-20 08:59] JamieSlome commented on #13797
@cmgorton - any thoughts here?

(cc) @0xrishabh for reporting.

[2021-05-20 11:01] Nikhil27b commented on #13814
Same for me unable to write a new blog text filed disabled for me but in my phone its work fine

[2021-05-20 13:07] jashgopani commented on #13814
Even I am unable to edit my existing blogs because of this error

[2021-05-20 13:16] Link2Twenty commented on #13814
@Nikhil27b and @jashgopani are you both on MacOS too?

Are any of you seeing any errors in your consoles (Option + ⌘ + J (on macOS) or Shift + CTRL + J (on Windows/Linux))? I'm unable to reproduce the error.

[2021-05-20 13:19] Nikhil27b commented on #13814
No I am windows user an I check for error but I don't find anything

[2021-05-20 13:47] cmgorton commented on #13814
Hey all, @tolentinoel , @jashgopani @Nikhil27b do any of you have Grammarly installed? We were able to reproduce this yesterday with several team members and ever one of them had Grammarly. We have so far found this to be bug on Grammarly's end. They had a recent update.

[2021-05-20 13:55] Nikhil27b commented on #13814
Thank you now its works I uninstalled the Grammarly

[2021-05-20 14:08] cmgorton commented on #13814
Thanks for the confirmation. We are working to see if there is something on our end we can do in the meantime but for now the only course of action is to disable Grammarly until Grammarly releases a bug fix.

[2021-05-20 14:16] Link2Twenty commented on #13814
As a quick patch we could add `data-gramm_editor="false"` to the text area

https://github.com/forem/forem/blob/c842d1a0c6718f319f167e9ec13d4d7d5d6b6d39/app/javascript/crayons/MentionAutocompleteTextArea/MentionAutocompleteTextArea.jsx#L367-L377

But that really is a bodge.

[2021-05-20 14:55] nickytonline commented on #13814
So there is definitely an issue with Grammarly in Chrome only when using the editor in a Forem instance.

![image](https://user-images.githubusercontent.com/833231/119001038-a1a36500-b959-11eb-82bb-62afe78a2e63.png)

I pretty-printed the Grammarly source code for their extension and found where it blows up, but I don't have the full context as the code is obfuscated. The `82987` function gets call

[2021-05-20 14:57] nickytonline commented on #13814
One other thing to note is that this probably affects comments as well.

[2021-05-20 14:59] cmgorton commented on #13814
@Link2Twenty would you be interested in implementing this fix? Along with the suggestions Nick mentioned.

[2021-05-20 15:03] nickytonline commented on #13814
Tagging @aitchiss so she's in the loop.

[2021-05-20 15:14] nickytonline commented on #13814
Also linking to this comment from another repo having issues with Grammarly. https://github.com/quilljs/quill/issues/574#issuecomment-818525715

[2021-05-20 15:19] aitchiss commented on #13814
Interestingly, it doesn't seem to be affecting comments, only the editor 🤔

[2021-05-20 16:01] Link2Twenty commented on #13814
It looks like it's to do with state changes... But it doesn't really make sense.

[code]

This makes it 'work' but obviously breaks those features.

I can't see anything that should be making the focus be lost (which is what is happening).

[2021-05-20 16:30] lisasy commented on #10940
@joshpuetz will talk about this related issue: https://github.com/forem/forem/issues/13761

[2021-05-20 16:30] lisasy commented on #13761
Closing this to address it here: https://github.com/forem/forem/issues/13761

@joshpuetz

[2021-05-20 17:20] Link2Twenty commented on #13814
OK my findings are

Preact redraws the textarea on state change meaning grammarly loses the textarea and sets focus to back to body. Comments don't use preact yet and thusly don't have the same issue.

If Grammarly is not installed preact does not redraw.

I don't really know where to go from here 😅

[2021-05-20 17:44] nickytonline commented on #13814
Thanks for digging @Link2Twenty!

Comments do use Preact as we bootstrap the mention autocomplete in them. The main difference is the comment text area exists before Preact bootstraps.

[2021-05-20 17:47] Link2Twenty commented on #13814
I've implemented the quick if it's chrome don't run grammerly logic but I think we'll need to revisit this.

[2021-05-20 17:54] aitchiss commented on #13814
I've noticed that the issue occurs also in the Connect chat message composer textarea...

Interestingly all three of the affected areas use the auto-resize hook 🤔

[2021-05-20 18:26] Link2Twenty commented on #13814
I noticed that resize was in both too but pulling out

[code]

Didn't seem to make a difference.

[2021-05-20 18:29] lisasy commented on #13605
@aitchiss If you're open to it, I want to close this issue because we will be solving this by deprecating this dropdown component completely. May I close this issue?

https://share.getcloudapp.com/Jru401pb

[2021-05-20 18:32] aitchiss commented on #13605
@lisasy Yep, definitely! Consider it closed - looking forward to all the good things to come 😄

[2021-05-20 19:33] tolentinoel commented on #13814
Yeah! I have grammarly installed! Does that mean I would have to uninstall that first to have it working for now?

[2021-05-20 19:54] sukhsukhpinder opened #13822 "Unable to edit or write new post on dev.to"
When I try to edit an existing post or write a new post, I get the following error in the console.

**Steps**
1. Visit dev.to click Write a Post; at first, it will allow you to copy the markdown in the post editor.
2. Once you copied, I cannot point the cursor and start writing in the post editor a second time. In a nutshell, the screen is frozen, and I am unable to do any modifications.

![image]

[2021-05-20 20:01] Link2Twenty commented on #13822
This is an issue with grammarly in chrome, as a quick fix you can disable grammarly in your settings.

Ref: #13814

[2021-05-20 21:29] cmgorton commented on #13822
Since this is a duplicate issue I am going to close this issue. Thanks.

[2021-05-20 21:29] #13822 closed

[2021-05-20 21:32] Zhao-Andy opened #13823 "Using triple backticks within a fenced codeblock does not work consistently"
**Describe the bug**
When writing a fenced codeblock to show triple backticks like the following:

[code]

Our markdown parser will run into the first set of triple backticks under `hello` and see that as the end of the fence, instead of going to the set of triple tildes `~`. For example, here's a screenshot of a preview:

![example of our current codeblock parsing situation](https://user-images.g

[2021-05-21 08:28] aitchiss commented on #13814
@tolentinoel - yes if you disable grammarly for now while you're drafting your posts, it will work fine (you don't need to fully uninstall from your browser extensions, just disable it in the extension settings for that page)

[2021-05-21 08:29] aitchiss commented on #13814
@Link2Twenty yeah like you said it seems to be something related to the state updates on change. very strange!

[2021-05-21 15:50] joshpuetz opened #13826 "Improve the navigation admin section on mobile Safari or Forem iOS app"
**Describe the bug**

On Dev.to with the Forem iOS app OR mobile Safari, I can't navigate to any menus within the Admin section: only the admin landing page is shown.

**To Reproduce**

- Visit `dev.to/admin` with Safari on an iPhone
- Note the admin section navigation is hidden

**Expected behavior**

Users should be able to navigate admin sections on mobile web browsers

**Screenshots**

![Clean

[2021-05-21 17:50] dylanesque opened #13827 "Can't change social media links on dev.to"
**Describe the bug**

The option to edit links to GitHub and Twitter (and possibly other social links) on my dev.to profile are gone: I can see the links on my dashboard, but the option to change them in the profile via `https://dev.to/settings` is gone.

**Expected behavior**

I expect that I'm able to view and change these links in my 'Edit Profile' page.

[2021-05-21 20:55] cmgorton commented on #13827
Thanks for reporting. Our engineer that has most recently worked with this code is gone for the weekend but I will be sure to ping them on Monday to get more information on this issue.

[2021-05-21 21:11] Zhao-Andy commented on #13827
Not sure where some other profile fields went, but for GitHub and Twitter specifically those are related to whether you have connected them to your account via OAuth. To add those links, you'll have to add the OAuth connection through https://dev.to/settings/account

[2021-05-23 08:52] metamoni commented on #13505
Your suggestion worked, @aitchiss. Finally got around to opening a PR for this. Thank you for your help and patience 🙂

[2021-05-23 09:46] 747 opened #13829 "npm run api-docs:lint fails"
**Describe the bug**

Running `npm run api-docs:lint` in the Forem directory fails with the error below.

Husky blocks me from merging the commit 6dfabd5 for this, presumably because it touches `/docs/api_v0.yml`, but as I tested it also fails before the commit.

**To Reproduce**

[code]

**Expected behavior**

No error. At least does not let it break pre-commit hooks.

**Additional context**

[co

[2021-05-24 00:28] dylanesque commented on #13827
Was this a change that occurred over time? I feel like a) I remember explicitly adding my Twitter account without using OAuth, and b) It's really annoying to not be able to easily paste visible links on a site like that.

[2021-05-24 09:34] rhymes commented on #13829
Thank you @747, I'll get to it right away!

[2021-05-24 10:58] arbazkhan56 commented on #12494
Hi @cmgorton can you assign me this issue?

[2021-05-24 11:47] rhymes commented on #12494
Hi @arwazkhan189, are you still working on this? Let us know if you need any help, otherwise @arbazkhan56 has volunteered to take this in case you can't work on it :)

Thank you!

[2021-05-24 13:17] MikeRalphson opened #13843 "[openapi] Settings::General is not a valid component name"
**Describe the bug**

Commit 6dfabd5 renamed `SiteConfig` to `Settings::General`. This name appears as a `components` `schemas` key in the OpenAPI definition. This isn't a valid component name according to the [OpenAPI Specification](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.3.md#fixed-fields-6):

The character `:` cannot appear in a schema component name.

**To Reproduce

[2021-05-24 14:08] joshpuetz commented on #13761
This is being caused by a weird interaction between our digest frequency setting, and how often the digest sidekiq worker is running in production.

The setting to send digests ever day are working correctly: every 2 days a digest is queued up to be sent.  The wrinkle is that sending digests happens in a background job, and that job only runs Wednesday through Saturday. On Sunday through Tuesday,

[2021-05-24 14:10] joshpuetz commented on #10940
This is being caused by a weird interaction between our digest frequency setting, and how often the digest sidekiq worker is running in production.

The setting to send digests ever day are working correctly: every 2 days a digest is queued up to be sent. The wrinkle is that sending digests happens in a background job, and that job only runs Wednesday through Saturday. On Sunday through Tuesday, t

[2021-05-24 16:35] cmgorton opened #13845 "Update API Docs to Include List of Events"
**Describe the bug**

Currently our API docs do not include a list of possible events.
These events include:
` article_created`
`article_updated`
`article_destroyed`

and can be seen in this code:
https://github.com/forem/forem/blob/68025ae472523a0963bb18f2c7878a1c61284b64/app/models/webhook/event.rb#L3-L7

**Expected behavior**

We have had a few people reach out asking for possible events so tha

[2021-05-24 16:44] inezabonte commented on #13845
I'd like to work on this 🙂

[2021-05-24 17:48] cmgorton commented on #13845
Hey @inezabonte . Thanks for helping out with this issue. This part of the contributing docs should help https://docs.forem.com/contributing/api/
There is a section on updating the API docs.

Let me know if you have any questions.

[2021-05-24 19:33] Jarjanazy opened #13846 "Post title and body areas are not editable"
I am on Windows 10, Chrome browser.
When I try to write a title or content for my post, the areas to do so are not editable.
I can write a single letter and then it's disabled. A screenshot is attached.

<img width="925" alt="dev" src="https://user-images.githubusercontent.com/29263797/119398303-0ce59200-bce0-11eb-9b6c-6aa1ed63bc49.PNG">

[2021-05-24 19:40] Link2Twenty commented on #13846
There is currently a bug with Grammarly (and I would guess you have it installed) we are looking into. Until we have a patch out you can disable the plugin write your post then enable it again?

[2021-05-24 19:44] Jarjanazy commented on #13846
@Link2Twenty Yes that was the issue! I disabled Grammarly and it works now.
Thanks a lot. Now I can go back to blogging :)

[2021-05-24 20:11] inezabonte commented on #13845
@cmgorton I added it in the events schema is this okay.

<img width="827" alt="Screen Shot 2021-05-24 at 22 08 36" src="https://user-images.githubusercontent.com/33348046/119402144-ce020d00-bcdc-11eb-8d8f-4cce3819bfbb.png">

[2021-05-24 20:14] cmgorton commented on #13845
Hey @inezabonte if you create a PR with your changes that you shared here our engineers can review it and give you any necessary feedback. 😄

[2021-05-24 21:47] #10956 closed

[2021-05-24 22:25] djuber commented on #4955
Hi Dan,

I wonder if https://forem.dev is the right venue for this kind of ongoing thread no longer tied to a specific issue? Actually - the _first_ issue looks like it's described in https://forem.dev/manuel/forem-blank-page-after-login-using-docker-221d - so that's not wholly out of line as a discussion board to cover this. I don't _think_ we have a great way to pull an issue's comment thread ov

[2021-05-24 22:26] djuber commented on #13696
Hi @edimanlmp - I think I have a fix under review for this, I've seen the same issue when trying to use the container setup and believe it's tied to the APP_DOMAIN specified in the docker-compose.yml file (I've linked the PR to this issue).

I'm also seeing this described in https://forem.dev/manuel/forem-blank-page-after-login-using-docker-221d with what looks like the same situation (blank page

[2021-05-25 02:48] atapas commented on #13846
Thanks @Link2Twenty. Disabling the grammarly plugin temporarily solves the problem. Looking forward to get the fix. Thanks a lot.

[2021-05-25 03:21] lisasy commented on #13826
I'm attaching this design and this is ready for implementation. @mstruve @Ridhwana how shall we update this issue to classify this as ready for development?

![2021-05-24_Admin Portal Mobile Navigation](https://user-images.githubusercontent.com/816402/119434624-6beddb80-bccd-11eb-8689-bc2938eeb39b.jpg)

[2021-05-25 07:52] rhymes commented on #13846
Hi @atapas, thanks for the report! If you want to follow the bug I recommend you this issue https://github.com/forem/forem/issues/13846

I'm going to close this not to "disperse" the effort!

Thank you again (and thanks @Link2Twenty for the tip!))

[2021-05-25 07:52] #13846 closed

[2021-05-25 08:28] Gosev opened #13852 "Unable to edit articles"
**Describe the bug**
When I try and edit an article (or create a new one) I'm unable to edit. I've tried under Chrome or Brave (which does not have any extensions).

**To Reproduce**
1. Press Create article or Edit article,
2. try to edit/type => fail. (no cursor, no effect of typing)

**Expected behavior**
Being able to write an article :D

**Desktop (please complete the following information):**

[2021-05-25 08:30] Link2Twenty commented on #13852
Hello @Gosev we're currently having an issue with Grammarly, do you have that installed?

If you do you can disable it while you write your post then enable it again while you're done.

To track the issue subscribe to #13814

Thanks for bearing with use 😊

[2021-05-25 11:47] Ridhwana commented on #13826
I'll default to @mstruve on this one. Would we add it to the current Cycle work or does it need to be prioritised still? It seems like a pretty big bug to not navigate the admin at all on mobile.

[2021-05-25 12:22] rhymes commented on #13852
Thanks @Link2Twenty, going to close this as a duplicate!

[2021-05-25 12:22] #13852 closed

[2021-05-25 12:35] #13829 closed

[2021-05-25 13:23] djuber commented on #13696
Hi @edimanlmp

I merged #13792 yesterday

If you wanted to pull the `main` branch and restart the `docker-compose` - I believe the issue you were seeing is resolved.

[2021-05-25 13:23] #13696 closed

[2021-05-25 14:44] takmar commented on #11494
Could I take this?

[2021-05-25 14:54] cmgorton commented on #11494
Yes, I will assign it to you @takmar . Thanks for your help!

[2021-05-25 15:26] Zhao-Andy commented on #13331
Hi @glnds, thanks for reporting this issue, and sorry for the late reply. I think this is because this might have happened:
1. you edited the draft on one session/device
2. on a different device/session, you picked up where you left off and saved it (maybe published it too)
3. on session/device from step 1, you went to edit your now published post
4. our auto-save feature (which is dependent on se

[2021-05-25 15:28] Zhao-Andy commented on #13331
Actually, closing this because I think https://github.com/forem/forem/issues/12401 is the same issue!

[2021-05-25 15:28] #13331 closed

[2021-05-25 15:55] mstruve commented on #13826
I added it to the board! We had prioritized the original one, this was just replacing it with one the OSS community can see :)

[2021-05-25 21:22] fuzenco opened #13857 "Improved meta title and OG tags"
I’m new to Dev. One thing I noticed that would make returning to articles that we noted in our note-taking apps better is if your Title and OG meta tags actually referenced the article. Instead, the following page (the index page of a series) uses the default Dev home page meta, which is non-descriptive of the page we bookmarked.

Here’s the bookmarked link:
https://dev.to/dijonmusters/series/1234

[2021-05-25 21:38] Link2Twenty commented on #13857
I think this is a duplicate of #13509

[2021-05-26 04:35] rhymes commented on #13857
Thank you @fuzenco, as @Link2Twenty mentioned, I think we can consider this a duplicate of #13509, there's a pending PR opened to address that as well: https://github.com/forem/forem/pull/13772

[2021-05-26 04:35] #13857 closed

[2021-05-26 05:15] arbazkhan56 commented on #12494
I think he is not active. now, you can assign me.
The bug smash challenge's last date is 28th May, and I want to complete it by the last date.

[2021-05-26 06:33] arwazkhan189 commented on #12494
sorry I haven't seen this, @arbazkhan56  👍

[2021-05-26 07:30] Defman21 opened #13859 "LanguageTool is not working in the comment textarea"
**Describe the bug**

LanguageTool (and probably Grammarly) is not working when I'm writing a comment. The textarea has the `spellcheck` attribute, and it's set to `false` (why?).

**To Reproduce**

1. Install LanguageTool.
2. Go to any post.
3. Try to write a comment with some grammar mistakes.

**Expected behavior**

LanguageTool catches them all.

**Desktop (please complete the following inform

[2021-05-26 08:09] Link2Twenty commented on #13859
Grammarly was disabled due to this bug #13814, I believe the aim is to find the cause and reenable Grammarly when possible.

[2021-05-26 14:21] cmgorton commented on #12494
Thanks for letting us know @arwazkhan189

@arbazkhan56 I have assigned this issue to you.

[2021-05-26 14:37] cmgorton commented on #13859
Hey @Defman21 are you having trouble using LanguageTool on DEV or a different Forem? Our team tested LanguageTool on DEV in Firefox, Edge, and Chrome. It works on all three browsers for our team.

[2021-05-26 14:51] cmgorton commented on #13859
Ok. We were testing this in new posts not comments. LanguageTool does not seem to trigger in the comments like mentioned in this issue. We are investigating more now.

[2021-05-26 18:01] Defman21 commented on #13859
Yeah, posts work, comments doesn't :(

[2021-05-26 21:13] cmgorton commented on #1446
Hey @alicenstar wanted to check in and see how you are doing with this issue. Did you have any questions or need any help?

[2021-05-26 21:14] cmgorton commented on #2799
Hey @Dev-Akash wanted to check in and see how you are doing with this issue. Did you have any questions or need any help?

[2021-05-26 21:14] cmgorton commented on #4948
Hey @Om-Bhagwat wanted to check in and see how you are doing with this issue. Did you have any questions or need any help?

[2021-05-26 21:16] cmgorton commented on #6610
Hey @saroj990  wanted to check in and see how you are doing with this issue. Did you have any questions or need any help? How are things going with your PR?

[2021-05-26 21:18] cmgorton commented on #7561
Hey @asi309 wanted to check in and see how you are doing with this issue. Did you have any questions or need any help?

[2021-05-26 21:19] cmgorton commented on #11500
Hey @pawelborkar wanted to check in and see how you are doing with this issue. Did you have any questions or need any help?

[2021-05-26 21:20] cmgorton commented on #12455
Hey @oryanmoshe wanted to check in and see how you are doing with this issue. Did you have any questions or need any help?

[2021-05-26 21:22] cmgorton commented on #13434
Hey! So sorry I missed your comment here. Are you still working on this issue and having trouble @rafaVls ?

[2021-05-26 21:25] cmgorton commented on #13679
Hey @sbappan. Wanted to check in and see how things are going with this issue. Do you have any questions or need any help with anything?

[2021-05-26 21:39] alicenstar commented on #1446
Hey, sorry! Got a little busy the past couple weeks! I'll try to test my solution tonight just to verify it works

[2021-05-26 21:53] cmgorton commented on #1446
No worries! We all get busy. Take your time and test it whenever you get a chance. Thanks again for your help.

[2021-05-27 04:10] sbappan commented on #13679
Apologies for the delay. Currently in the process of setting up forem on my local machine. I will ask for help in case I get stuck. Appreciate your patience. Thanks for checking in with me.

[2021-05-27 11:55] aitchiss commented on #13505
Closed via #13828 ❤️

[2021-05-27 11:55] #13505 closed

[2021-05-27 13:01] alicenstar commented on #1446
I unfortunately think I'm going to have to pass issue this to someone else for now. I'm low on time because of my new job, and I'm running into some issues with GitPod.

That's something I want to try to work on (the docs and possibly augmenting the GitPod setup). Hopefully someone can test the work I've done here or use it as a starting point possibly.

[2021-05-27 13:08] luisfelipesdn12 opened #13870 "dev.to | Automatic loading when scroll down make footer inaccessible"
**Describe the bug**

It is not exactly a bug, but it's kinda annoying. I was in the dev.to home page, viewing the posts, and when I scroll to the bottom to see the footer resources, more posts were loaded, over and over again.

**To Reproduce**

1. Go to dev.to
2. Scroll down to the bottom
3. Try to read the footer

**Expected behavior**

Something like GitHub does on the home page, when you scro

[2021-05-27 13:25] michael-tharrington commented on #5519
What is the maximum file size that a video can be?

[2021-05-27 13:27] Link2Twenty commented on #13870
Thanks for reporting, this is a duplicate of #9034. Feel free to join the conversation over there.

[2021-05-27 13:29] Link2Twenty commented on #5519
Someone would have to do some testing but I'd imagine it differs from server to server.

[2021-05-27 14:34] cmgorton commented on #1446
Thank you for the work you have done so far @alicenstar . We really appreciate it. 🙏

[2021-05-27 15:31] rhymes commented on #5519
@michael-tharrington @Link2Twenty I found out the size limit is hardcoded:

https://github.com/forem/forem/blob/1e001cdff8e3c33e2b5fb44155671b063c302d49/app/views/videos/new.html.erb#L21

6 GB

[2021-05-27 15:32] rhymes commented on #13870
Thanks @Link2Twenty

[2021-05-27 15:32] #13870 closed

[2021-05-27 16:37] rhymes commented on #5519
@Link2Twenty nope, It's not client side validation, it's just a header that's sent encoded to S3.

https://github.com/waynehoover/s3_direct_upload/blob/6f6decc75fdf89888d7f729fc89f78e90d91cece/lib/s3_direct_upload/form_helper.rb#L76

[2021-05-27 19:16] sbappan commented on #13679
I was able to complete the setup successfully. I started working on the issue. I will try to complete it asap.

[2021-05-27 19:20] cmgorton commented on #13679
No rush @sbappan . Just wanted to make sure you were getting help if you needed it. Thanks for helping out on this issue.

[2021-05-28 08:53] Afif13 opened #13873 "Right Sidebar disappear on the home page"
When we are loggued and we navigate through the "week","month" or "year" tab, the right sidebar is no more visible:

![image](https://user-images.githubusercontent.com/14073250/119958007-e60ab280-bfa2-11eb-82ff-a40d85b6ee4d.png)

It's fine when we visit the site as guest.

[2021-05-28 09:02] molebox commented on #9848
Hey team, any movement on this?

[2021-05-28 09:12] Link2Twenty commented on #13873
Interesting it just deletes the entire content

[2021-05-28 09:53] ellativity commented on #13873
This is happening for me as well, across all Forems I'm active on.

I use a different theme for each of my regular Forems (so I can tell where I'm at), so this doesn't appear to be theme-related either, just to eliminate that possibility.

[2021-05-28 10:46] web2033 opened #13874 "Cannot unfollow tag that has an alias"
![2021-05-28_134138](https://user-images.githubusercontent.com/11320080/119972119-83bdac00-bfba-11eb-8af4-be4fa8add6a4.png)

https://dev.to/t/tailwind now an alias of https://dev.to/t/tailwindcss
I probably followed it before these two were merged, now I can't unfollow `#tailwind` since it redirects to `#tailwindcss`

[2021-05-28 14:36] benhalpern opened #13876 ""Skip to content" shows up erroneously on search submission"
**Describe the bug**

When I hit "return" on desktop to make a search on the platform, I see the keyboard nav "skip to content" element show up.

**To Reproduce**

- Go to dev.to
- Make search

**Expected behavior**

This element should not become visible.

**Screenshots**

<img width="1024" alt="Screen Shot 2021-05-28 at 10 35 26 AM" src="https://user-images.githubusercontent.com/3102842/12000007

[2021-05-28 15:51] Link2Twenty commented on #13876
If I had to guess I'd say this is related to #13828

[2021-05-28 16:22] rafaVls commented on #10849
For future reference, I was having this exact same issue, and apparently the problem was that I was missing double quotes (") around my env variables.

So, instead of having:
_GITHUB_KEY=oe1o23ma13kamczm2
GITHUB_SECRET=1023k1m20a9xczxkqm23i123masd_

I used:
_GITHUB_KEY="oe1o23ma13kamczm2"
GITHUB_SECRET="1023k1m20a9xczxkqm23i123masd"_

Hope this helps!

[2021-05-28 16:29] rafaVls commented on #13434
Hi @cmgorton ! Yes, I'm still working on it. I managed to login using my github account.
I was able to fix the issue, but i'm not entirely sure it doesn't break anything.

Like @djuber saide, the problem seemed to be related to 2c54add / #6815. So, what I did was uncomment that line and now the organization code is copied as expected.

Is there a way to check if this breaks anything or can I start

[2021-05-28 16:30] rafaVls commented on #13434
I say this because the PR states that these lines were "causing problems in production".

[2021-05-28 17:00] cmgorton commented on #13434
Hey @rafaVls Thanks for asking. I think the best course of action is to create the PR then it can be reviewed and our team can help you with any tests you may need to check that there is no breaking code 😄

You could also make it a Draft PR and ask for help there too.

[2021-05-28 20:51] cmgorton commented on #9848
No movement yet I believe but if you want to get even more eyes on this feature request and support for it you can try creating a post in [forem.dev](https://forem.dev/). Similar to the requests mentioned in this post https://forem.dev/foremteam/let-s-discuss-3-a-roundup-of-feature-requests-5e2e

[2021-05-29 04:31] Pratap22 opened #13879 "Basic detail in profile not reflecting once updated"
**Describe the bug**
I encountered a bug while updating my profile. It's in the basic section. I added all the fields and submitted. After submission, the fields are still empty.

**To Reproduce**

1. Go to 'https://dev.to/settings'
2. Go to the Basic section
3. Add the fields. Website URL, about, etc.
4. Save the details

**Expected behavior**
It should save my basic details and be reflected in t

[2021-05-29 14:24] stephfh commented on #13879
I encountered the same bug just now and came here to report it. :D

I was uploading a profile picture, and after saving my profile, the »basic profile information« section was emptied out.

When I try to reenter the information (browser autofill or manually) again and after save the profile it's empty again.

[2021-05-29 15:12] Rafi993 commented on #13277
Sorry I did not look at this issue for a while I will look at this over next week but in the mean time if this is a urgent issue and I am blocking it do feel free to change the owner.

[2021-05-31 13:19] jeikabu opened #13890 "Forem app pop-up reappears"
**Describe the bug**

Forem app pop-up is undead

**To Reproduce**

1. Open any dev.to page and forem app pop-up appears
2. Close it
3. Goto 1

**Expected behavior **

It doesn't re-appear or doesn't appear at all.

**Screenshots**

![A7CAAFE5-BDC8-405E-B2A2-F2B1C27F6207](https://user-images.githubusercontent.com/5897149/120199198-a99db780-c22b-11eb-9021-d835805796e5.png)

**Smartphone (please com

[2021-06-01 06:53] citizen428 commented on #9848
I added this to our engineering planning funnel now, I hope this will allow us to get a better handle as to when we'll be able to work on this. Thanks for your patience @molebox

[2021-06-01 06:56] molebox commented on #9848
Much appreciated @citizen428 🙏

[2021-06-01 08:34] #13565 closed

[2021-06-01 08:55] #13873 closed

[2021-06-01 11:21] saroj990 commented on #6610
Updated the PR with the required changes.

[2021-06-01 14:16] #13879 closed

[2021-06-01 14:54] cmgorton commented on #13277
I don't believe it is urgent so if you still want to work on it that is totally fine. If not we can remove your assignment. Just let me know what works for you Rafi 😄

[2021-06-01 15:01] cmgorton commented on #13890
@fdoxyz do you think this should be moved to mobile repo or could we keep this here? Asking before I add labels 😄

[2021-06-01 15:27] fdoxyz commented on #13890
This one is best left on this repo @cmgorton 👍

However, I wouldn't consider this one a bug. The banner is consistently there to make sure a link to the mobile app is always available and it's only visible on iOS devices. We did our best to make this non-intrusive or too jarring of an experience (for example Reddit's or Twitter's banner for the same use case).

If there is a strong pushback agains

[2021-06-01 15:29] aitchiss commented on #13876
This is an interesting one - the behaviour we want is for the skip to content link to appear/be focused when a user changes page via the keyboard... which is technically true of the search + Enter flow, although in this one case users who normally navigate with the mouse are going to be pressing Enter to get there.

I'd suggest we make an exception for the search page for now (in the `base.js.erb`

[2021-06-01 15:30] cmgorton commented on #13827
Hey, thanks again for reporting this issue. After talking to the team it looks like this was an intentional change. You can read more about the change in [this PR](https://github.com/forem/forem/pull/13252#issuecomment-818390414) and why the team removed these profile links.

[2021-06-01 15:30] #13827 closed

[2021-06-01 15:31] cmgorton commented on #13747
Adding this to the engineering planning funnel to see if someone on the frontend team should take this issue or if we should open it up to the community to work on.

[2021-06-01 15:40] cmgorton commented on #13795
Post for this feature request can be found [here](https://forem.dev/coffeecraftcode/feature-request-hide-edit-link-to-anyone-without-permission-3lgi). Since we have moved this discussion over to [forem.dev](https://forem.dev/) I am going to close this issue here. Thanks.

[2021-06-01 15:42] cmgorton commented on #13804
This has been mentioned in [forem.dev](https://forem.dev/abenettt/stats-analytics-api-endpoint-blocked-by-adblocker-2f7b) as well. I am adding this issue to our engineering planning project to determine if this is something the team should work on or if we should open it up to the community.

[2021-06-01 15:54] aitchiss commented on #13859
I had a quick investigation and I can confirm that this is happening as a result of substituting the original textarea for the MentionAutocomplete textarea(s). I tried even specifying directly on the textarea `spellcheck="true"` but for some reason it's being overridden by the LanguageTool extension and set to `spellcheck="false"`

LanguageTool [is open source](https://github.com/languagetool-org/

[2021-06-01 16:34] jeikabu commented on #13890
Is there are reason I should prefer an app over a browser to view a website?

It's silly to install a special purpose app- that's basically just an embedded web browser- when there's already something installed that has: tabs, syncs across devices, and so on.  There's already enough websites trying to foist apps on everyone.

[2021-06-01 17:42] fdoxyz commented on #13890
The app's intention is to enhance the experience you'll have when using a general purpose browser. I'm using the word "intention" because that's what it is, I'm not claiming it will be objectively better or the choice everyone will want to use.

Here's a few things that come to mind that differentiate the app from a browser:
- You can follow many Forems from a single place
   - No need to look thr

[2021-06-01 17:51] Rafi993 commented on #13277
Thank you @cmgorton. I'll actually un-assign myself now and comeback later to pick up this issue if this still open :)

[2021-06-01 18:50] jeikabu commented on #13890
All that is great. It would just be nice to read an article or two without a lot of pop-ups.

[2021-06-02 05:38] pradeepradyumna opened #13893 "Clicking on Discover reloading a new page"
**Describe the bug**

On the home page of forem.com, when I click navigation options like "Why Forem?", "Features", scrolls the page to the respective content without going to a new page. But when I click "Discover", it is opening a new page, instead of scrolling within the page. Not sure if it is the expected behavoiur

**To Reproduce**

1. Open forem.com
2. Go to the navigation bar on the top-ri

[2021-06-02 06:42] Defman21 commented on #13859
AFAIK, the web extension is not open source.

[2021-06-02 07:02] aitchiss commented on #13859
ah sorry you're right @Defman21 - I was looking at an outdated extension repo 🙁

[2021-06-02 14:56] aitchiss commented on #13823
@Zhao-Andy just checking if I can close this following #13810? Or is there more to do?

[2021-06-02 15:41] aitchiss commented on #13744
This is a really good spot - thanks @Link2Twenty!

I've double-checked and the changes I've made under #13868 will fix this (I wasn't aware of the bug before, so it's mostly a happy accident 😄 )

[2021-06-02 16:22] cmgorton commented on #13893
Hey @pradeepradyumna . I believe this is expected behavior. Forem discover is a separate page that will eventually list even more available Forems to explore. Because the hope is that this will eventually be a pretty big list of Forems, I believe this is intended behavior.  I'll mention this to Product/design though just so they know what the UX is like for some users. Thanks for opening this issu

[2021-06-02 16:22] #13893 closed

[2021-06-02 16:37] benhalpern opened #13901 "Going back to feed via home page "select" doesn't work."
**Describe the bug**

Using the mobile select to go to "week" and then back to "feed" does not work.

**To Reproduce**

Go to "week" and then back to "feed". Nothing happens.

**Expected behavior**

It goes back to feed.

**Additional context**

I know what's causing this and will toss up a one-character fix.

[2021-06-02 20:30] maestromac commented on #13901
Resolved with https://github.com/forem/forem/pull/13902

[2021-06-02 20:30] #13901 closed

[2021-06-03 03:17] #6610 closed

[2021-06-03 08:13] #13744 closed

[2021-06-03 13:38] aitchiss commented on #13601
I think that will be a good solution 🙂

Our "Tabs" component is more of a group of navigation links than a classic "tab panel", so you're right, the links need to go _somewhere_. I agree, using "#" as the href would allow us to stay on the same page and we can track the current tab with some JS in the story itself.

[2021-06-03 14:14] aitchiss commented on #13815
Thanks for reporting this bug!

I had a quick investigation and I think it boils down to the way we initialize the analytics dashboard in `analyticsDashboard.js`:

[code]

The selector we're looking for ('.organization.active') doesn't exist, and I can't see anywhere in the codebase where we're attempting to add it either. The fix for this will be to make sure we accurately establish whether the o

[2021-06-03 20:39] mstruve commented on #9848
Hey @molebox! Thank you so much for submitting this issue.

We discussed this during our planning meeting today. For some background, every 2 weeks we have a planning meeting with engineering and product folks to figure out what our priorities will be for the next 2 weeks. During that meeting we determined that before we add an endpoint like this we need to sit down and have a more holistic discus

[2021-06-03 23:07] #12494 closed

[2021-06-04 02:37] citizen428 commented on #13843
Thanks for the report. We have recently decided to remove this endpoint. While we generally do try to keep the API stable it is still v0 and this endpoint no longer makes sense in its current form. It will eventually come back once the requirements have solidified a bit.

[2021-06-04 06:18] molebox commented on #9848
Hey @mstruve! Awesome, that sounds perfect and totally understandable. I'll keep my fingers crossed that you decided to move forward with it. Thanks for keeping me in the loop 💜

[2021-06-04 15:10] michael-tharrington opened #13915 "Community Digest Emails Not Factoring in Anti-Follows"
**Describe the bug**

Users are receiving links to posts on tags that they are "anti-following" — i.e. tags that they have adjusted to have a negative follow weight from https://dev.to/dashboard/following_tags.

**To Reproduce**

1. Follow a tag(s) that you want to anti-follow
2. Go to 'https://dev.to/dashboard/following_tags' and adjust this tag's follow weight to be negative
3. Ensure that you h

[2021-06-04 17:13] ckim328 opened #13917 "Can't add cover image to a post"
**Describe the bug**
When trying to add a cover image by clicking 'Add a cover image' to an unpublished post, or when trying to click on 'Upload image', you can't upload an image.

**To Reproduce*
1. Go to _Create Post_
2. Click on _Add a cover image_ or _Upload image_
3. Nothing happens

**Expected behavior**
Ability to upload image (no popup shows up)

**Desktop (please complete the following in

[2021-06-04 18:34] Zhao-Andy commented on #13917
Thanks for reporting this issue @ckim328! I've made a fix and this issue will auto-close once https://github.com/forem/forem/pull/13919 is merged. It should work after the deployment.

[2021-06-04 18:45] #13917 closed

[2021-06-05 04:45] surajondev commented on #13815
Thanks for explaining the issue in detail.
So when I can expect the changes so that I can see my organization's stats.

Thanks

[2021-06-05 19:31] metamoni commented on #13815
While looking into whether I could fix this, I noticed that the `dashboards_controller` sets a global variable (`@organizations`) that doesn't get used in the `analytics.erb` view. So I looked into it a bit more, and it looks like the user's organizations have been removed from this view in [this PR](https://github.com/forem/forem/pull/13345/files). This is why the `analyticsDashboard` can't find

[2021-06-05 19:43] maanuanubhav999 opened #13920 "Auto like in Comments under a Post."
**Describe the bug**
seems like whenever I try to comment on some **Post** it gets auto like, I have tried it with chromium(extensions present) and firefox(extensions absent), and in android mobile

**To Reproduce**
1. Open any post in dev.to
2. Comment On the Post
3. wait for the page to reload
4. comment appears with auto liked comment

**Expected behavior**
The comment should not contain any li

[2021-06-05 22:26] Link2Twenty commented on #13920
All comments have your like by default, it's by design. (Similar to how all Reddit posts and comments start at 1 like because the authors is implied)

[2021-06-05 22:28] maanuanubhav999 commented on #13920
Okay thanks, @Link2Twenty. Then I will close this issue.

[2021-06-05 22:28] #13920 closed

[2021-06-06 11:39] akashdotsrivastava commented on #13360
@nickytonline I'd like to give this a shot.

[2021-06-07 14:27] andygeorge opened #13935 "Strikethrough markdown within a link is not rendered in live comments (but works fine elsewhere)"
**Describe the bug**
While using [Strikethrough markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet#emphasis) within [link text](https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet#links), I discovered the strikethrough is not rendered **in live comment views only**; this appears to work elsewhere (comment previews, posts, and post previews).

**To Rep

[2021-06-07 14:33] joshpuetz commented on #13935
@cmgorton Might this be a candidate for the community or fellows?

[2021-06-07 14:52] cmgorton commented on #13935
@joshpuetz Yeah I think this would be a good one for the MLH fellows to investigate a little and work on. Because we love labels 😜 I am going to add an MLH label so I can keep track of issue like this that would be good for them to work on. Thanks for pointing it out.

[2021-06-07 15:22] cmgorton opened #13936 "Automatically Delete Images from Datastore"
# Automatically Delete Images from Datastore
**Note:** This was originally an RFC created by Andy Zhao. I am adding it as an issue in our public repo so that the MLH Fellows can work on it 😄

## Summary
When an article or collection (series) is deleted, their images persist in our datastore. Ideally we delete them automatically whenever the model instance is deleted.

## Motivation
By auto deletin

[2021-06-07 15:26] michael-tharrington opened #13937 "DEV Digest Suggesting Same Article Many Times in a Row"
**Describe the bug**

A DEV user who is signed up to the DEV Digest keeps receiving Digest emails that all have the same title. The Daily Digest's title is picked from the top suggested post in the digest, so this means that the digest the user is receiving is suggesting the same top post to them over and over again (One user received a Daily Digest with the same title 9X over the course of the mo

[2021-06-07 22:24] atsmith813 commented on #12968
How do we want to store this asset and generate the CDN link? Or maybe we should replace the asset at this link? I don't have S3 access...

cc: @nickytonline @aitchiss @cmgorton

[Currently, it's a CloudFront URL.](https://github.com/forem/forem/blob/fb41442d68fd33b928f9bfe5ddc10d10503e86bb/app/views/pages/badges.html.erb#L36)

[2021-06-07 22:28] benhalpern commented on #4616
@rhymes how do you feel about all of this now that https://github.com/forem/forem/blob/main/app/services/articles/detect_animated_images.rb exists?

My thought is that we could repurpose that service to be a _general_ async image inspection manipulation step? Seems like now that we are going through the trouble of inspecting images in this way we could take the next step to add this functionality?

[2021-06-08 09:05] aitchiss commented on #13815
Oh great catch! Yes that PR was only intended to be cosmetic changes, but you're right we've accidentally removed the class we were depending on for this to work properly.

It might be neater to bring this back as a data-attribute rather than adding classes "organization active", as I don't think we're using those classes for styles. Either way, as long as it brings back the functionality we're go

[2021-06-08 13:06] metamoni commented on #13815
Sure, happy to work on this @aitchiss!

[2021-06-08 13:09] aitchiss commented on #13815
Yay! Awesome - thanks! I've assigned it to you - give me a shout if you need a hand with anything 😄

[2021-06-08 13:22] bigdoods commented on #12374
Hey guys - Any update on this? The 30 day expiry on listings make the feature unusable for our users.

[2021-06-08 13:46] rhymes commented on #12968
I would have suggested to download the badge and store it as regular SVG like https://github.com/forem/forem/blob/main/app/assets/images/instagram-logo.svg

but I also noticed another "issue". We're hardcoding the DEV logo everywhere on all Forems. If I go to https://forem.dev/p/badges I see the DEV badge, if I go to https://community.codenewbie.org/p/badges I still see the DEV logo.

Maybe we can

[2021-06-08 14:53] nickytonline commented on #12968
If we put it in the assets folder @atsmith813, that should be good enough like @rhymes suggests.

[2021-06-08 20:23] canoeberry commented on #7383
I was hoping this was my issue. If I run 'rails test' it starts within a couple seconds. If I run 'rails test:system' it takes 20 seconds before it starts doing anything. And it's spending ALL its time in routes.rb.

Yup - the same routes.rb file is very very slow for some rails commands (rails test:system, etc) and quite speedy for other things (rails server, rails console, rails test, etc).

It

[2021-06-09 06:29] rhymes commented on #4616
@benhalpern, great idea! The functionality is currently behind a feature flag because we're having some troubles on DEV we need to debug, so I'm leaning towards transforming this to a RFC 0 but we should definitely do it. Having the width and height will make such a difference to the UX and browsers will be happier.

[2021-06-09 11:17] aitchiss opened #13947 "Refactor problematic markup for 'upload image' feature in post editor"
In the post editor, we allow a user to upload:

- a cover image via the "Add a cover image" button
- any other images via the "Upload image" button

In both cases, the HTML markup is a `button` element with an `input` descendant. It's not valid HTML to nest interactive items inside each other like this, and this [can cause accessibility issues with screen reading software](https://dequeuniversity.

[2021-06-09 12:37] noviicee commented on #13195
I cannot find the file to which the changes are to be made. Can anybody help me..?
I believe I can do this one.

[2021-06-09 13:14] rhymes commented on #13843
Closed by https://github.com/forem/forem/pull/13934

[2021-06-09 13:14] #13843 closed

[2021-06-09 13:15] rhymes commented on #13843
Hi @MikeRalphson, we've removed that section from the documentation and its related code, let us know if everything works now!

[2021-06-09 13:36] MikeRalphson commented on #13843
@rhymes looking good!

[2021-06-09 18:59] metamoni commented on #13815
I've put the code back and I'm now looking for some guidance on design. Is there a mockup for what this sub-menu should look like? It currently looks like this:

<img width="1330" alt="Screenshot 2021-06-09 at 19 57 11" src="https://user-images.githubusercontent.com/22390758/121412708-e9b41700-c95c-11eb-8781-fbd3c753438a.png">

[2021-06-09 20:58] cmgorton commented on #13360
Thanks @akashdotsrivastava . I have assigned you to the issue 😄

[2021-06-09 21:32] msarit commented on #13195
@noviicee Hey Anamika! 👋🏾

Instead of just answering your question, I thought it might be helpful to show you how I went about finding the relevant page(s).

Here is the video: https://www.loom.com/share/616d4af69fb84ebe8d7f25c2ddb3b809

Please reach out to us if you need more support. Thank you for contributing to Forem! ❤️

cc: @cmgorton

[2021-06-09 23:20] atsmith813 commented on #12968
Should we re-scope this issue?

There are several hardcoded assets on that page:
https://github.com/forem/forem/blob/main/app/views/pages/badges.html.erb

Including the `og` data.

[2021-06-10 05:35] rhymes commented on #12968
Yep, I think this issue is morphing into "use the community badge of the badges page or default to Forem badge if there's none".  We just have to make sure it's visible in dark mode, so it also solves the original bug :D

Not sure what to do with this image that's in the headers:

![](https://thepracticaldev.s3.amazonaws.com/i/kjn1gduswyrrisc1basc.png)

Perhaps design can come up with a simpler co

[2021-06-10 08:55] aitchiss commented on #13815
Hey @metamoni that's awesome!

There's a mockup of this menu here:
![image of the same dashboard section, but the links align in a column](https://user-images.githubusercontent.com/6921610/112771954-148c0180-8fe3-11eb-8a56-563e7a1f097c.png)

(taken from the original PR that introduced this work: #13156)

Looking at the old mockup, I think all that needs done is to have the links align in a column

[2021-06-10 09:09] Alexander-kdev opened #13956 "my request"
Hello!
I can't write new posts, can you please help me???

[2021-06-10 09:32] Link2Twenty commented on #13956
Hi, couple of questions to help us track down the issue.

- do you get any errors?
- is this on dev.to or somewhere else?
- what is your username on that platform?
- When you say you can't post, do you mean you can't publish, there's not 'create post' button, you can't type into the box or something else?

[2021-06-10 09:57] akhil-naidu opened #13957 "OAuth error in Heroku custom domains"
I'm working on Forem in production and successfully got a Forem instance in Heroku. I configured s3, Cloudinary for image errors and finally attached my custom domain to it. Presently the instance is lying [here](https://app.leewardslope.com).

As I have a working and persistent Forem, I started to configure more of it, like adding tags, configuring onboarding, and importantly different authentica

[2021-06-10 10:28] akhil-naidu commented on #13957
@jdoss Do I need to provide any other information?

[2021-06-10 10:34] Link2Twenty commented on #13957
Have you added you OAuth keys to your `.env`?

https://docs.forem.com/backend/auth-github/

[2021-06-10 11:10] ellativity commented on #13956
Hey @Alexander-kdev, please email yo@dev.to with your DEV user support query.

[2021-06-10 12:16] akhil-naidu commented on #13957
I used the admin gui to add the keys.

[2021-06-10 13:26] akhil-naidu commented on #13957
@Link2Twenty

For making my point clear,
1. I removed my custom domain and reverted it back to [Heroku domain](https://leewardslope-dev.herokuapp.com/)
2. Then I updated my APP_DOMAIN=leewardslope-dev.herokuapp.com
3. Lastly, in my Github developer settings of OAuth, I changed the Home URL and Callback URL according to this new URL.
4. The ENV values remain the same, I didn't interfere with it, as

[2021-06-10 14:24] aitchiss commented on #4807
This has been closed in #13745 🎉  Thanks @techieeliot for laying the groundwork on this one!

[2021-06-10 14:24] #4807 closed

[2021-06-10 15:04] #9619 closed

[2021-06-10 15:15] RangerRick opened #13959 "RSS sync silently ignores feed entries with long titles (I think)"
**Describe the bug**

I have noticed that some of my posts to our (OpenNMS's) blog don't show up in my dashboard as draft posts.  Up until now I've just ignored it and let an entry go missing here or there.  Today I tried adding the entry manually, and found that it wouldn't let me save because my title was too long.

I suspect these entries are getting missed because the title is too long so it c

[2021-06-10 15:19] akhil-naidu commented on #13957
After comparing both the Heroku domain and custom domain logs, I found a small but significant change in how Heroku Router works.

If I'm using Heroku Domain, by default, the protocol used was HTTPS, but this is not the same case while using a custom domain. Even though I'm using Cloudflare flexible universal SSL, the router within Heroku does not accept any SSL requests.

So, I thought to check t

[2021-06-10 16:16] benhalpern commented on #4616
@rhymes that all sounds good to me!

[2021-06-10 17:04] cmgorton commented on #13956
Closing this in favor of emailing as suggested by Ella for support issues.

Thanks for trying to help out here @Link2Twenty

[2021-06-10 17:04] #13956 closed

[2021-06-10 17:06] djuber commented on #13959
Hi @RangerRick, I can confirm this is happening, and for the reason you suspected.

When I fetched the rss feed, it contained 10 items. I only saw 7 articles created from those 10 entries, items with title lengths of up to 122 were permitted/created and entries with title lengths of 132, 143, and 144 were omitted/skipped.

## Technical investigation (skip ahead if not interested)

[Feeds::Import](

[2021-06-10 17:21] juliannatetreault opened #13960 "Refactor Admin::PagesController Logic for Private Forem Landing Pages"
Currently, the logic that handles the overwriting of landing pages on both create and update is handled within two separate transactions,`Admin::PagesController#create_and_overwrite_landing_page` and `Admin::PagesController#update_and_overwrite_landing_page`. While this setup works, it is not ideal and would be better if it were refactored by adding an `after_commit` callback to the Page model, wh

[2021-06-10 21:03] ghost opened #13962 "delete readinglist item (when original post is deleted)"
**Describe the bug**

when i delete a item from reading list, but original item was deleted, the reading list item wont deleted

**To Reproduce**

1 - https://dev.to/readinglist

2 - Click on a deleted item

3 - refresh page

4 - the item still is in list

**Expected behavior**

the item must to removed from list

**Screenshots**

**Desktop (please complete the following information):**

- OS, ver

[2021-06-10 21:34] cmgorton commented on #13962
Hey @gbarreradev can confirm for me whether you mean the archive button or some other way to delete? I don't actually think we have a delete functionality yet on Reading Lists.

It is a feature request here: https://github.com/forem/forem/issues/6632

[2021-06-10 21:44] benhalpern commented on #13730
I wouldn't be surprised if we justified this as expected behavior, but it doesn't seem so expected after all. 😄

My concern in thinking about this is that if the parent comment is hidden (to protect against abuse?), it might bring in more abuse if the children can be visible. Since the "hide comment" is under the author's control, we try to bring _less_ attention to the hidden-ness of it all as to

[2021-06-11 08:46] jmau111 commented on #13289
https://github.com/forem/forem/pull/13407

[2021-06-11 08:58] rhymes commented on #13959
I love the ideas of shortening the title instead of silently failing! Since we import articles as drafts, then the user can manually adapt the title if they need to

[2021-06-11 09:36] lightalloy commented on #13628
Done with #13853 and #13958

[2021-06-11 09:36] #13628 closed

[2021-06-11 14:09] gbarreradev commented on #13962
@cmgorton hi! is archive buttton!

![Captura de Pantalla 2021-06-11 a la(s) 10 08 31](https://user-images.githubusercontent.com/16408519/121699527-048da500-ca9d-11eb-9064-f79793f75309.png)

[2021-06-11 17:23] benhalpern opened #13964 "Disable "Locked screen" prompt if Forem is public."
We recently shipped the ability for private Forems to set a "locked screen"— i.e. a landing page that shows up when someone lands on the site, to override the default of "sign in page"...

It only applies to private Forems, so I think it should be faded if the Forem's current config is public.

### What it currently looks like

<img width="601" alt="Screen Shot 2021-06-11 at 1 20 17 PM" src="https

[2021-06-11 17:51] #13959 closed

[2021-06-12 09:04] Arun-kc opened #13968 "Ellipsis Menu - Portion of the menu is out of screen on mobile view and android app"
**Describe the bug**

When clicking on the `ellipsis icon` beside the profile, of people whom we are following, a portion of the popup window gets out of the screen

**To Reproduce**

1. Go to Dashboard
2. Click on the following users
3. Click on any user you are following
4. Click on the `...` button beside the profile
5. A portion of the pop up will be out of the screen

**Expected behavior**

T

[2021-06-13 22:03] unixorn opened #13970 "RSS feed importer truncates articles"
**Describe the bug**

I connected my blog's RSS feed to my dev.to account, and the posts were ingested and added as drafts. However, everything after the `` line in the posts were truncated, so I still have to cut & paste from my hugo blog to dev.to.

**To Reproduce**

1. Go to settings, extensions, add a hugo-generated RSS/ATOM feed
2. Click the `Fetch feed now` button
3. View the imported draft

[2021-06-14 03:46] citizen428 commented on #13964
Hmm, how about just hiding it completely for public Forems? Our admin area already can be a bit complicated at times, is it really useful to display options admins cannot interact with instead of just hiding them?

[2021-06-14 03:55] citizen428 commented on #12157
@jacobherrington I"m closing this issue now, it's been open for too long. If there's any work left we can open smaller more focussed issues.

[2021-06-14 03:55] #12157 closed

[2021-06-14 04:36] noviicee commented on #13195
Hey! Thanks a lot!!

[2021-06-14 06:43] #13957 closed

[2021-06-14 07:36] rhymes commented on #13970
Hi @unixorn, could you provide us with the link to your feed and DEV account? Thank you!

[2021-06-14 07:40] rhymes commented on #13970
Is this the feed? https://unixorn.github.io/post/index.xml

From a first look I can see it doesn't contain the actual posts. Only a description. You'll probably have to change your website's configuration so that the feed contains the full post.

You said you use Hugo, this guide should help: [Displaying the Full Content in Hugo's RSS feed](https://blog.eternalrecurrence.space/posts/displaying-the

[2021-06-15 09:43] aitchiss opened #13987 "Member nav menu should remain visible when opened by click"
## Current behaviour

Currently, the member nav menu is visible when:

- Hovered on desktop using a mouse/trackpad
- When opened by keyboard by activating the button

https://user-images.githubusercontent.com/20773163/122029651-f43f3800-cdc4-11eb-88a1-4bf17b4092de.mp4

This is slightly different to our other crayons dropdowns which open and close on click only.

## Desired behaviour

The current i

[2021-06-15 10:03] Link2Twenty commented on #13987
This is the function where the magic happens

https://github.com/forem/forem/blob/4aebfb62f25f825fa6fc235a5e56535d4121c0ca/app/javascript/topNavigation/utilities.js#L47-L125

Looks like we could add a data attribute to say ignore mouse out (though we'd need to add click outside and esc support).

[2021-06-15 10:13] #12250 closed

[2021-06-15 10:15] aitchiss opened #13988 "Unfinished network requests cause problems with Cypress test setup"
We've had a few instances of Cypress test flake recently due to unfinished network requests preventing a user logout properly taking effect.

Specifically: #13979 and #13986

The sequence of events runs along the lines of:

- Test 1: user signs in / some testing takes place
- Test 1 finishes
- Cypress runs `testSetup`, clearing cookies and getting set for the next test
- Unfinished network request

[2021-06-15 11:06] #12297 closed

[2021-06-15 12:39] #9962 closed

[2021-06-15 16:17] #13960 closed

[2021-06-15 17:24] jmau111 commented on #13289
@aitchiss Hello, I don't know if you can access to this widget, the `img` tag inside misses  an `alt` attribute. I can't find it in the source code so I think it's manually inserted.

Can you modify it easily?

[code]

<img width="280" alt="widget-forem-error-html" src="https://user-images.githubusercontent.com/6878027/122096546-f928d980-ce0e-11eb-803e-c0f84563ff48.png">

[2021-06-16 06:39] aitchiss commented on #13289
@jmau111 I think an admin on DEV will have access to this - I'll find out and get it updated!

[2021-06-16 08:37] jmau111 commented on #13289
@aitchiss thanks a lot. There might be multiple widgets in this case.

[2021-06-16 11:45] aitchiss opened #14000 "Podcast page is missing skip link functionality"
**Describe the bug**

On the page for an individual podcast - e.g. `https://dev.to/practicaloperations/episode-8-working-from-home` we're missng the `main` landmark with the id "main-content" which allows the skip link functionality to work

**To Reproduce**

1. Go to the Podcasts page and follow one of the podcast links using the keyboard
2. Activate the skip link using the Enter key
3. Try press

[2021-06-16 12:00] aitchiss opened #14001 "Skip link / page change functionality needs further work"
When we implemented the skip link functionality, we then followed [the recommended approach detailed in Marcy Sutton's thorough research on client-side rendering](https://www.gatsbyjs.com/blog/2019-07-11-user-testing-accessible-client-routing/).

Although Forem is not "client-side rendered" as such, it suffers from a similar page change issue due to header caching which prevents the skip link from

[2021-06-16 13:31] Link2Twenty opened #14002 "Podcast page - podcasts can not be started without mouse interaction"
**Describe the bug**
Currently, to start a podcast on the podcast page you have to click the play button, there should be a way to do this with the keyboard.

**To Reproduce**
1. Go to a [podcast](https://dev.to/devdiscuss/s5-e6-home-automation-nerd-out)
2. Press tab
3. See that the play button is skipped over

**Expected behaviour**
Play button should be in the tab index and pressing space or ret

[2021-06-16 14:51] aitchiss commented on #14002
Thanks for creating the issue @Link2Twenty!

Whoever picks this up might find it useful to refer to the ['Toggle buttons' section of Inclusive Components](https://inclusive-components.design/toggle-button/) which outlines some considerations for the labelling/state of play/pause buttons 🙂

[2021-06-16 19:00] noviicee commented on #13195
I am able to setup forem locally on my machine. But, I am unable to login to the local dev.to. What needs to be done in this case..?
I am using ubuntu 20.04  and on using github to login to Dev(local), It redirects to: [here](https://github.com/login/oauth/authorize?client_id=Optional&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fusers%2Fauth%2Fgithub%2Fcallback&response_type=code&scope=user%3Aemai

[2021-06-16 19:50] supzi-del opened #14004 "Typo in FAQ page"
**Describe the bug**
It should be "Upon Sign In", rather than "Upon sign".

**To Reproduce**

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/78655439/122283271-ff4fb080-cf09-11eb-9bbe-cccb3a7d76bb.png)

**Desktop (please complete the following information):**

- OS, version: Windows
- Browser, version: Chrome

**Smartphone (please complete the following i

[2021-06-16 19:54] supzi-del commented on #14004
Can I work on this?

[2021-06-16 20:00] djuber commented on #14004
I think this isn't something that can be fixed with a code change - the faq page is an object in the database.

[code]

https://github.com/forem/forem/blob/main/app/controllers/pages_controller.rb#L55-L59

I think this is a valid typo but not a good candidate for a PR, someone with administrator access to dev.to would need to edit the faq page content to correct the language.

[2021-06-16 20:25] cmgorton commented on #14004
Thanks for opening this issue @supzi-del and offering to work on it! As Dan mentioned, unfortunately this will be something one of our Admins will need to fix.

[2021-06-16 20:31] mstruve commented on #14004
Fixed 💃🏻

[2021-06-16 20:31] #14004 closed

[2021-06-16 22:53] benhalpern opened #14005 "Footer links should not show up in unauthenticated private Forems"
**Describe the bug**

In private Forems, the nav links section of the footer should be hidden.

**To Reproduce**

- Visit a private forem
- Scroll to footer and see nav section
-
**Expected behavior**

This part of the footer is hidden.

**Screenshots**

<img width="1014" alt="Screen Shot 2021-06-16 at 6 51 18 PM" src="https://user-images.githubusercontent.com/3102842/122304855-e75d3a00-ced3-11eb-

[2021-06-17 05:15] citizen428 commented on #14005
I hope this is ok but I was looking for a 15-minute task for the end of my work day and this caught my attention so I decided to pick it up.

[2021-06-17 06:11] rhymes commented on #13195
@noviicee by inspecting the link I think what's missing is the correct setup of the GitHub credentials in the `.env` file.

You can find the necessary details here: https://docs.forem.com/backend/auth-github/

[2021-06-17 12:04] Link2Twenty opened #14008 "Code blocks in embedded comments"
**Describe the bug**
I'm not really sure how to explain this bug, it seems that code blocks in embedded comments go a little strange (display the content incorrect and have multiple expand buttons).

**To Reproduce**
1. Go to a comment with an embedded comment containing a code block ([here's](https://dev.to/nickytonline/comment/1fe8b) on I prepared earlier).
2. See that it looks wrong

**Expected

[2021-06-17 13:46] ellativity opened #14009 "Clicking `Check Invitation` in an email shouldn't automatically add user to Connect channel"
**Describe the bug**

When community members are invited to join a Connect channel, they receive an email with the subject line "You are invited to the NAME channel." or "You are invited to the NAME channel as moderator."

Within the email body there is a small amount of text with a GIF and a button labeled `Check Invitation` (see screenshots). The expected result when clicking the `Check Invitati

[2021-06-17 14:41] atsmith813 commented on #14008
This looks similar to https://github.com/forem/forem/issues/12976

[2021-06-17 14:53] Link2Twenty commented on #14008
Right you are

[2021-06-17 14:53] #14008 closed

[2021-06-17 15:01] #14005 closed

[2021-06-17 15:14] supzi-del opened #14010 "Typo in Editor Guide"
**Describe the bug**

SlideSare should be SlideShare.

**To Reproduce**

**Expected behavior**

**Screenshots**

![Screenshot (210)](https://user-images.githubusercontent.com/78655439/122424970-c61c4c80-cfac-11eb-8484-b20ace8b2116.png)

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device

[2021-06-17 15:17] Link2Twenty commented on #14010
This is where it is in the code.

https://github.com/forem/forem/blob/521bb09394b28c86e492946f912b604329dcc31f/app/views/pages/_editor_guide_text.html.erb#L273

[2021-06-17 17:27] supzi-del commented on #14010
Can I work on this?

[2021-06-17 20:27] mstruve commented on #13730
@benhalpern I think you bring up some really great points. If you are game to execute that above approach you suggested to give users the option we can definitely get this prioritized and worked on. The only hold up was that we wanted some product input 🙂  Let me know what your thoughts are on moving this forward!

[2021-06-17 21:09] mstruve commented on #13947
@aitchiss can you put a size tag on this based on what size you think it would be? Please!

[2021-06-17 21:09] mstruve commented on #13987
@aitchiss can you put a size tag on this based on what size you think it would be? Please!

[2021-06-17 21:10] mstruve commented on #13988
Given these tests have been a bit flaky I think anything we can do to improve that situation is a pretty high priority but I do think we should time box this. I was thinking time boxing to an XS, what do you think @aitchiss?

[2021-06-17 21:10] mstruve commented on #14001
@aitchiss can you put a size tag on this based on what size you think it would be? Please!

[2021-06-18 12:35] ellativity opened #14014 "Swiping down in Connect channel in Android refreshes the latest view"
**Describe the bug**

Instead of scrolling through the channel's chat history, swiping downwards in Connect on Android refreshes the view and resets to the most recent messages.  This was picked up by a DEV mod recently, and I'm pretty sure it's a new bug.

**To Reproduce**

1. Open DEV (version 303) or CodeNewbie (version 1) in Android
2. Open a Connect channel
3. Swipe down, as if to scroll thro

[2021-06-18 12:38] Link2Twenty commented on #14014
I think this is the same as #13726 ?

[2021-06-18 13:43] ellativity commented on #14014
I think you're right, @Link2Twenty  - that did not show up in any of my searches but it's the same issue

[2021-06-18 13:43] #14014 closed

[2021-06-18 18:27] cherscarlett commented on #13730
@benhalpern that makes complete sense 👍🏼 this change sounds awesome

[2021-06-18 19:54] siakaramalegos commented on #6807
Hi, I wanted to connect this to the analogous issue in Bridgy https://github.com/snarfed/bridgy/issues/874 - At least in 2019 Dev was doing an API, but it wasn't document yet for us to be able to ping it to get the necessary data.

[2021-06-18 20:01] siakaramalegos commented on #6807
I added a post on Forem too: https://forem.dev/thegreengreek/enable-webmentions-o0c

[2021-06-19 10:50] dimitrov-d opened #14016 "Can't load more posts in reading list"
**Describe the bug**
I have about 230 posts saved in my reading list. I notice that initially, 80 posts are loaded and available until the bottom, where there's a "load more" button. After clicking the button, it disappears, my reading list now shows 0 posts, the previous posts remain where they were but no new posts were loaded.

**To Reproduce**

- Go to reading list
- Have at least 80 posts in

[2021-06-19 16:37] atapg opened #14017 "Dashboard posts list style"
It's not a big deal but I'm a little bit sensitive to this kind of things. The posts list doesn't have border-radius as like as the parent does.

![dev to-ata-parvin-ghods](https://user-images.githubusercontent.com/63250900/122649145-c6018580-d141-11eb-9b98-9893042eb13b.png)

I guess this code will fix the problem =)

[code]

[2021-06-20 14:53] rhymes commented on #14016
Can reproduce in Firefox :(

[2021-06-21 02:39] #14010 closed

[2021-06-21 05:42] SiddharthShyniben opened #14028 "`Liquid syntax error: Unknown tag 'endraw'` when content is placed in a certain manner"
**Describe the bug**

When I create a post content with content in the form of ``[code block] [link which contains `javascript:code` (meant to be a bookmarklet)] [code block]``, I get the following error: `Liquid syntax error: Unknown tag 'endraw'`

**To Reproduce**

Visit this [post], which already has the content, or add the following content to a post:

[code]

**Expected behavior**

The code b

[2021-06-21 06:43] citizen428 commented on #13964
@benhalpern

In the end, that's the option I went with because based on the reactions to https://github.com/forem/forem/issues/13964#issuecomment-860342977 it seems people were in favor of a simpler admin area and only showing things admins actually can interact with.

[2021-06-21 08:26] aitchiss opened #14030 "Dropdown click outside and keyup listeners are not being properly detached"
**Describe the bug**

Dropdowns initialized with `initializeDropdown` in `dropdownUtils.js` are intended to detach click outside and keyup listeners when the dropdown is closed. However, this isn't happening as expected, causing additional listeners to continue to be added and active between page views.

For the most part, the impact is minimal apart from creating a strange visual effect where the

[2021-06-21 09:43] Link2Twenty commented on #14030
I think this is another symptom of #11458

Similar to how keyboard shortcuts don't unmount.

[2021-06-21 11:07] Link2Twenty commented on #14030
Actually I was jumping to conclusion 😅

The problem is actually related to remove event

https://github.com/forem/forem/blob/af517bc5aaa140893ae6ddef8f3a11ce4d3d3b17/app/javascript/utilities/dropdownUtils.js#L125-L133

You can only remove the exact function so even though the functions being created by `clickOutsideListener` and `keyUpListener` are the 'same' they're different enough to not work w

[2021-06-21 12:15] aitchiss commented on #14030
Yep 100% @Link2Twenty we need to make sure we have a solid reference to a named function to remove it properly.

It turns out this is causing some major headaches with the Profile Preview Card we just merged, as the preview card trigger has the same ID on every article page (so once you open one dropdown, the listeners are causing issues on every subsequent article view) 🙁  Given it's causing such

[2021-06-21 12:17] aitchiss commented on #13988
That makes sense to me @mstruve - XS sounds like a reasonable time box for it 👍

[2021-06-21 14:38] aitchiss commented on #13988
Related conversation/issue: #14012

[2021-06-21 17:24] omenking opened #14034 "Chat can't change to group mode"
**Describe the bug**

As a moderator, I want to go to the group chat to ask a question.
When I click group it does not change, so I cannot converse
![image](https://user-images.githubusercontent.com/7776/122802860-e3deff80-d293-11eb-8236-ec95b7d509a4.png)

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, v

[2021-06-21 18:32] cmgorton opened #14035 "X on Create A Channel Form Does Not Close the Form"
**Describe the bug**
When I clicked the Create A Channel Form I could not exit the form with the `X` button. When you click the X the form does not close. Clicking outside the form model does not close the form either. There is no way to leave the form other than to completely leave the page.
**To Reproduce**
1. Go to https://dev.to/connect
2. Click on  the plus symbol(+) to create a new Channel
3

[2021-06-21 18:35] cmgorton commented on #14034
I can't reproduce yet. I was able to navigate to the group tab.
Would you be able to record a quick Loom of what you are seeing @omenking ?

[2021-06-21 18:37] cmgorton commented on #14028
Hey @SiddharthShyniben . Are you trying to put the link inside the code block like this?
![Screen Shot 2021-06-21 at 12 37 07 PM](https://user-images.githubusercontent.com/21039864/122811212-6adca980-d28d-11eb-800b-b4ef628e4c9f.png)

Or did you want to add html to your post outside of a code block?

[2021-06-21 18:52] cmgorton commented on #14017
Note for anyone who works on this, the issue appears when you **hover** over the first and last post in the list.

[2021-06-21 23:45] benhalpern commented on #13730
So in order to implement this, here are the details of an actual approach....

- Replace the _alert dialog_ with a modal which allows for a full form with the check box for that one more thing being submitted to the form.
- Add one more boolean for this setting on the comment.
- Add alternate display logic which accounts for the two modes.
  - Given that we already essentially have both logical sc

[2021-06-22 01:56] SiddharthShyniben commented on #14028
@cmgorton I was trying to put it outside.

[2021-06-22 06:24] #14016 closed

[2021-06-22 06:33] citizen428 commented on #14034
@cmgorton It looks to me like the "direct" and "group" buttons are not actually doing anything (clicking either doesn't remove the other type), so if one has a lot of direct messages clicking "group" would indeed not bring them back.

[2021-06-22 06:54] rhymes commented on #14016
@dimitrov-d should be working now 🙌

[2021-06-22 08:06] dimitrov-d commented on #14016
Sure does! Thank you for the quick fix

[2021-06-22 13:12] Siderite opened #14045 "RSS "Fetch feed now" button submits the settings instead of fetching the feed"
On the dev.to website, if you go to Settings - Extensions and click on Fetch feed now the form gets submitted instead of fetching the feed. There is no onclick handler on the button either.

[2021-06-22 14:33] cmgorton commented on #14034
Ah ok! Thanks for the confirmation @citizen428

[2021-06-22 14:39] cmgorton commented on #14035
@nickytonline @aitchiss I found this bug yesterday while researching a different bug that had been reported. Would it be ok if I let the MLH fellows work on this? I am assuming it is a frontend issue but wanted to confirm with you first.

[2021-06-22 14:46] aitchiss commented on #14035
@cmgorton sounds good to me. I am pretty sure this modal has somehow been missed when we implemented the focus trap behavior - whoever picks up might find it useful to checkout https://github.com/forem/forem/pull/12511 where we updated the others 👍

[2021-06-22 14:47] cmgorton commented on #14035
Awesome. Thank you for the extra info there too.

[2021-06-22 23:03] djuber opened #14052 "`postcss` fails to parse css files during builds"
**Describe the bug**

When the build/CI steps run `yarn run postcss` we are failing (exit code 1). This appears from the content of postcss_error.log to be due to a parse error and related to an older version of postcss included with a deprecated package postcss-cssnext.

**To Reproduce**

in a shell

[code]

**Expected behavior**

postcss compiles the css in public/assets/*.css instead of failing

[2021-06-23 03:25] #11880 closed

[2021-06-23 07:15] rhymes commented on #14045
Hi @Siderite, the submit is by design. All sections of of the profile settings submit to the server :)

I tested the functionality and it's importing the feed.

Let me know if I'm not missing something, in the case you're requesting a different behavior, that's likely a feature request and I would defer you to https://forem.dev/

Hope this helps 🙌

[2021-06-23 09:47] noviicee commented on #13195
okay. Trying to do that!

[2021-06-23 10:34] noviicee commented on #13195
I did that and it's still the same. I added the client id and client key in the .env file as mentioned, re-run the container setup, just in case it was needed, but still not able to login.
Btw, I am running Forem with Docker via docker-compose -> [**link**](https://docs.forem.com/installation/containers/#running-forem-with-docker-via-docker-compose)

[2021-06-23 12:35] #13815 closed

[2021-06-23 14:09] #14030 closed

[2021-06-23 22:50] maestromac commented on #13195
@noviicee do you mind wiping your database and try signing up again and let us know the exact error you are seeing?

[2021-06-24 08:25] Mellen opened #14062 "Mobile experience for smaller screens"
**Describe the bug**

When I am creating a comment on my mobile phone quite often I can't see what I am typing because the cursor is below the heart/unicorn/read later icons or underneath the moderator button. Now, my phone is relatively old, so it might be that newer phones with higher resolution screens don't suffer from this, so this might be a niche issue.

**To Reproduce**

Write a comment th

[2021-06-24 14:48] fdoxyz commented on #13890
An update on this topic is that we've decided to move forward with changing the way the banner will work to avoid having it always re-appear after it was dismissed.

We're finalizing the design of the new implementation and hope to ship this update soon.

[2021-06-24 15:01] cmgorton commented on #13890
Thanks for the update Fernando!

[2021-06-24 16:19] djuber commented on #13823
@aitchiss I think there's more to do (the test case for #13810 includes a "should fail when fixed" situation) - basically while we permit triple-tilde code blocks right now, we don't effectively distinguish them from triple-backtick blocks (we're not looking for a matching closing fence delimiter, just a closing fence delimiter).

I've self-assigned since I think I understand the issue well enough

[2021-06-24 18:14] fdoxyz commented on #14062
Hello @Mellen, thank you for the report.

It seems like Firefox doesn't hide the URL bar and is also bumping up the "safe area" when the keyboard is active, which makes the reaction bar move up and appear visible. Both of these are taking up quite a bit of screen area.

Are you on a recent Firefox version? Maybe their recent releases don't support Android 8, because I see the URL bar at the bottom

[2021-06-25 10:00] aitchiss commented on #13814
As a small update, we contacted Grammarly support about the errors we're seeing, and received a response:

In the meantime, we suggest you use our online Grammarly Editor at https://app.grammarly.com or Grammarly’s desktop app. Also at your disposal: Grammarly for Microsoft Office (available to Windows OS users) and Grammarly for Microsoft Word on Mac.

[2021-06-25 10:26] Mellen commented on #14062
@fdoxyz thank you for the helpful tip. I will look into that.

[2021-06-25 12:51] aitchiss commented on #13823
Awesome - thanks @djuber!

[2021-06-25 15:42] benhalpern opened #14069 "Profile preview card triggers too many follow requests"
**Describe the bug**

The user preview card (#14056) has functionality which triggers a follow request on page load _for every comment on the page_. This can create a huge surplus of extra comments.

**To Reproduce**

Go to this post
https://dev.to/devteam/what-was-your-win-this-week-10c6

Open network tab of dev tools and filter for requests with `follow` and observe that it will map to how many

[2021-06-25 15:48] benhalpern opened #14070 "Hidden profile preview menu seems to take up space when invisible"
**Describe the bug**

**To Reproduce**

Go to post and observe extra space after name on post and comments.

**Expected behavior**

There should not be large extra space. The publish date should only be a single space away from the name

**Screenshots**

### Before:

<img width="430" alt="Screen Shot 2021-06-25 at 11 47 34 AM" src="https://user-images.githubusercontent.com/3102842/123450839-23b329

[2021-06-25 17:43] djuber commented on #14052
The underlying issue appears related to the .runtime-banner max-width property using a `comp(min(` nesting that might not being compatible with the css postprocessing.

[2021-06-28 08:10] aitchiss opened #14083 "Search functionality could benefit from accessibility improvements"
The current implementation of the header search bar could benefit from some accessibility improvements.

## As a screen reader user:

- The search text field doesn't have an accompanying submit button, and it may be unclear to a user that they have to press enter to submit the form
- We could usefully implement [the search role](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles

[2021-06-28 21:27] michael-tharrington commented on #11165
I like this idea and have heard it mentioned by a couple of orgs recently!

Another cool thing that we could do here is make a 3rd member type. We currently have **admin** and **member**... maybe we could break **member** into **gated member** and **un-gated member** to lessen the burden on admin who don't want to moderate every article that comes through.

[2021-06-29 05:01] #14070 closed

[2021-06-29 09:25] ellativity commented on #11165
Another great suggestion from @michael-tharrington - this is similar to something other social media platforms offer (post approval, auto-approved members, etc) and would level up our org offering.

I do feel at this point like this should stay an org-specific feature. I love the openness of Forem and the fact that having open posting creates accountability and helps potential mods rise up via the

[2021-06-29 09:47] aitchiss opened #14100 "Mod centre should not use nested interactive controls"
**Describe the bug**

Nested interactive controls (e.g. a link within a button) is not valid HTML, and causes content to be inaccessible to screen reader users.

In the mod center (`/mod`) each article in the list is a button with a nested link:

![screenshot showing the list of article in the mod center, with the axe devtools report open to the right. The error noted above is highlighted, as well

[2021-06-29 10:04] aitchiss opened #14101 "Connect "sidecar" content should not use nested interactive controls"
**Describe the bug**

Nested interactive controls (e.g. a link within a button) is not valid HTML, and any interactive control nested within another will not be announced to screen reader users.

In the connect chat area, the `<Content />` component (which shows the right-hand 'sidecar' content) nests several buttons inside a `div` with a role of `button` and a `tabindex` of 0.

There are several

[2021-06-29 12:24] aayush-05 commented on #14002
I'll pick this up @cmgorton

[2021-06-29 15:22] cmgorton commented on #13935
@squarebat make sure you request to be assigned to this issue so our other engineers know you have been approved to work on it when they review your PR 😄

[2021-06-29 15:45] squarebat commented on #13935
I raised the PR #14103 that fixes this issue.

[2021-06-29 20:45] jasonrdunn commented on #11165
I'd very much like the ability to have gated posting so there could be some level of content quality control for my organization. Equally important would be the ability for me as the org owner to make someone else a content moderator and have them be able to approve content in the queue for publishing.

[2021-06-30 03:09] #13964 closed

[2021-06-30 05:34] squarebat commented on #13936
Adding the methods given in the issue to their respected files should solve the issue. Understanding these methods also gave me a great insight into how ```fog``` gem is being used for deleting images. However, shall I just modify the files and raise a PR? Testing would be required, but I am unsure how to go about it. This [openresty testing](https://github.com/forem/lfss) link mentioned in Unsolv

[2021-06-30 12:34] #13935 closed

[2021-06-30 15:35] cmgorton commented on #14100
@aitchiss would it be ok if I add the MLH fellow label to this issue for them to potentially work on it?

[2021-06-30 15:39] cmgorton commented on #13728
@rhymes do you think this is something the MLH fellows could work on? Any reason why they wouldn't be able to? I can add the MLH fellows label to this if you are cool with it.

[2021-06-30 15:57] aitchiss commented on #14100
Sounds good to me @cmgorton!

[2021-06-30 16:03] rhymes commented on #13728
I think so too, added :)

[2021-06-30 17:08] jmau111 commented on #13389
@aitchiss hello, it seems if attribute type is specified with value module the async or the defer attribute becomes valid for inline scripts. Do you think it's better to extract code in separate files or should we use that type "module" ?

The only possible inconvenience is that the code would be executed in strict mode in that case.

[2021-06-30 20:56] cmgorton commented on #12521
We have found this is an issue we can not fix. However, we are currently in the process of moving our documentation to a Docusaurus site and this will no longer be an issue when everything is moved over. Thank you for taking the time to open this issue and help us improve the developer experience. I am going to go a head and close this issue. Please keep an eye out for our updated site which shoul

[2021-06-30 20:56] #12521 closed

[2021-06-30 20:58] cmgorton commented on #12486
@atsmith813 please correct me if I am wrong, but this is not currently being worked on by the team right? Do you have any objections to me adding the MLH fellows label to this issue and letting them work on it?

[2021-06-30 20:59] atsmith813 commented on #12486
@cmgorton correct and yes, no problem!

[2021-06-30 21:02] cmgorton commented on #12005
Just seeing this issue. @wyhaines would it be fair to say the PR you added and was merged should close this issue? Are there still things that need to be changed before we can close it? Thanks for your input🙏

[2021-07-01 02:36] squarebat opened #14114 "shorten_urls causing link text in comments to not render correctly"
**Describe the bug**
In issue #13935, @andygeorge reported that strikethrough text within links was rendered as normal text in live comments. I found out that the method `shorten_urls` in `models/comment.rb` was causing the issue and raised PR #14103 fixing it. However, I later discovered that no text formatting (bold, italics etc) is rendered within [link text](https://github.com/adam-p/markdown-

[2021-07-01 03:17] squarebat commented on #13185
I'd like to take this up

[2021-07-01 08:53] rhymes commented on #13185
Thanks @squarebat, let us know if you need help :)

[2021-07-01 09:16] squarebat commented on #13185
Thanks @rhymes. The solution seems straight forward, but the real issue is with the unique `canonical_url`. Could I get rid of that constraint to allow multiple posts to have the same canonical_url or do we need it to be unique?

[2021-07-01 09:41] rhymes commented on #13185
@squarebat In my opinion only one article should be the canonical URL, at all times, because that's how we signal search engines which is the authoritative version of an article.

We have had some UX related issues like people from the same org importing the feed but one of them failing to publish because someone else already published with the canonical URL.

In https://github.com/forem/forem/pul

[2021-07-01 12:12] aitchiss commented on #13389
Great point @jmau111! I don't see any problem with making these scripts type "module" if it doesn't affect their behaviour 👍

[2021-07-01 14:50] djuber commented on #13823
https://github.com/vmg/redcarpet/issues/208#issuecomment-52182751 it might be an underlying issue in the upstream library we're using (which may or may not ever fix it).

Still looking.

[2021-07-01 15:55] andygeorge commented on #14114
Great catch!

[2021-07-01 16:38] jmau111 commented on #13389
ok @aitchiss, thanks.

[2021-07-01 16:48] ellativity opened #14120 "Update wording on User Account Settings page /settings/account"
`/settings/account` on all Forems contain the following text:

As an alternative to signing in via linked social accounts, you may create a password. If you signed up with a social media account, please reset the password for your primary email address (ella@forem.com) first.

This is somewhat misleading, as even if a user creates a password for email login, an account created using authentication

[2021-07-01 17:34] benhalpern commented on #14062
I think this is fine.

Logic:

- If small screen (less than 400 wide/600 tall) and it is a touch device
- On focus, hide these elements.
- On blur, show these elements again.

The functionality for detecting the focus of these elements is present on `initializeCommentsPage`, so this functionality could be added as a new function within those events, as far as handling this as an issue goes.

[2021-07-01 20:03] maestromac commented on #13936
Hey @squarebat, those tools depend on the context forem is set in. We're going to disregard Cloudinary because only DEV uses it. Forem instances rely on Imgproxy instead.

it works kind of like this
1. User views an image on Forem.
2. The request is sent to Openresty/Nginx, where it checks if a cache of the image exists. It is served if that exists, if not...
3. (This isn't exactly correct but go

[2021-07-02 01:05] squarebat commented on #13185
Thanks @rhymes! That helps a lot!

[2021-07-02 03:13] squarebat commented on #13185
tl;dr : I played around with two dev accounts and based on my observations, some issues will occur regardless of whether we fix this issue or not. My observations might be incorrect, correct me if I'm wrong.

Going through the PRs mentioned by @rhymes helped a lot. It's quite obvious now why canonical_url needs to be unique. I played around with importing from the same RSS feed from two dev accoun

[2021-07-02 04:47] citizen428 commented on #13185
@squarebat Thanks for this nice write-up. I think it may be better to tackle this one level higher up, e.g. maybe two users should be able to use the same feed URL? I haven't thought through all product considerations here but I think most use cases where that could make sense are probably better handled by creating an organization.

[2021-07-02 05:15] squarebat commented on #13936
@maestromac Thanks for the amazing explanation! The solution with Carrierwave seems more straightforward. However @cmgorton mentioned in the issue that Article and Collection models can't leverage it because their images take in any URL. I'll have to look into it to see why that's an issue. I still haven't to figured out how to delete cached images. Regardless, I'll try the above code and see if i

[2021-07-02 05:26] squarebat commented on #13185
@citizen428 Yeah, it's definitely better to let multiple accounts access the same feed. Publishing articles from feeds with multiple access can be managed easily by creating an organization, however any user not part of the organization that accesses the feed will create conflicts. From a product perspective, this will happen rarely, though it has caused issues in the past as detailed in #12708 .

[2021-07-02 05:33] citizen428 commented on #14120
I was looking for a quick task for the end of my work week, so I did this as a 15-minute fix. It's good to go if we want to keep the current wording if people want updates I'll make them on Monday.

[2021-07-02 12:55] reikrom opened #14126 "Mobile feed filters not working"
**Describe the bug**

Using dropdown Feed filters (Feed, Weekly, Monthly...) throws an error and does not render results.

**To Reproduce**
*  Chrome dev tools =>  media width < 640px
* switch feed to Week, Month or Year

or

*  Dev.to android app
* switch feed to Week, Month or Year

**Expected behavior**

* show top results by selected filter.

**Desktop (please complete the following informatio

[2021-07-02 13:39] maestromac commented on #13936
@squarebat in general, there are two types of images.
1. The kind that was uploaded to the Forem platform (s3 or anywhere else the admin decides)
2. The kind that is already uploaded somewhere (ie. Imgur) and only referred to (ie. with markdown `![](some-image-link-on-imgur.com)`

It's the same thing on Github.

We're only worried about the one that was uploaded to our platform. Those won't have "

[2021-07-02 14:59] akashdotsrivastava commented on #13360
@cmgorton Thank you. A bit late, but I've added a PR for this. #14018

[2021-07-02 15:43] rhymes commented on #13185
Hi @squarebat, great analysis! I think we should allow two people to fetch the same feed, so we definitely need to alter that logic that makes it impossible for a second person to import an article that's already present in the DB. Secondly, can we alter the canonical url validation, so that the UX tells the user who is the user that owns the `canonical_url` for that article? I need confirmation f

[2021-07-02 16:58] pkfrank opened #14129 "Ensure "Community Name" updates quickly in header after change"
**Describe the bug**

If a Forem does not have a logo set, it will use some auto-generated text (originally `New Forem`).  This area is updated after the admin changes the "Community Name" via Config.

It updates quickly via `/admin`, but not as quickly in the public-facing Forem.

**To Reproduce**

1. Set up a brand new Forem
2. Set a new Community Name
3. Refresh the page via `/admin` and on the

[2021-07-02 19:13] squarebat commented on #13185
@rhymes exactly what I was thinking. We should let users know about other users accessing the feed. Though in another issue someone mentioned it might lead to harassment. However, I don't see a win-win situation here and this feels like the best possible solution. Besides, harassment can be dealt with by reporting to the Forem team.

I'll create a draft PR, solving the article multiple fetch issue

[2021-07-03 07:29] burakakca commented on #6252
i deploy to heroku. i get same secreen. the log error message is below.  help pls.

2021-07-03T07:24:02.505116+00:00 app[web.1]: F, [2021-07-03T07:24:02.504983 #35] FATAL -- : [22f1c5b8-f38b-4222-b1e2-950af625a67f]
2021-07-03T07:24:02.505129+00:00 app[web.1]: [22f1c5b8-f38b-4222-b1e2-950af625a67f] ActiveRecord::StatementInvalid (PG::DuplicatePstatement: ERROR:  prepared statement "a13" already exi

[2021-07-04 16:32] squarebat commented on #13936
@maestromac thanks for the clarification, that helps a lot!

[2021-07-05 02:33] #14120 closed

[2021-07-05 02:59] citizen428 commented on #13185
@rhymes @squarebat To avoid privacy issues maybe we could automatically flag this to admins with all the necessary info. So instead of showing the user an error that says something like "Can't import this article because it is already owned by user X" it says something like "Can't import this article our admins are looking into this. If you want to provide more detail email ....".

[2021-07-05 14:38] maestromac commented on #13936
@squarebat yes we would definitely need to address that but you don't have to get it right immediately. Some ideas I have right now is to check Carrierwave's current configuration. If you have a look without our `carrierwave.rb` config, you''ll see that there's 3 ways it could be set. Accessing `Carrierwave.asset_host` (probably not correct) should give you proper image host location.

[2021-07-05 15:11] ellativity commented on #6252
@burakakca For support and assistance with your Forem installation, please join the Forem Creators and Builders Forem at forem.dev. We recommend you begin by checking out [Akhil's series on deploying Forem to Heroku](https://forem.dev/akhil/brief-introduction-to-this-guide-12dc).

[2021-07-05 16:59] hieptl opened #14140 "Article deletion times out if there are existing comments/reactions"
Dear DEV Team,

I am trying to delete my post on dev.to. However, I cannot delete it. The following error will be appeared.

Error 503 backend read error
backend read error

Guru Mediation:
Details: cache-den8245-DEN 1625503878 1223615997

Varnish cache server

This is my account https://dev.to/hieptl

In order to reproduce the bug, please following the below steps:

Step 1: Access to the dashboar

[2021-07-06 02:32] squarebat commented on #13936
@maestromac yes, I explored the implementation of carrierwave in the codebase to understand why and how it is being used. Based on that, I thought it would be best to use carrierwave and not fog for deleting the images, there'd be less room for error there. I did that for the articles model, the problem I'm facing is with writing tests for that. I couldn't figure out how to build an article object

[2021-07-06 03:14] squarebat commented on #13185
@citizen428 yeah, that would definitely be better and will resolve privacy issues. However, eventually the amount of users might increase to more than what the admins can handle. An RSS feed conflict might not occur too frequently though, so I guess this could be feasible.

[2021-07-06 13:35] rhymes commented on #13185
@squarebat I like @citizen428 suggestion! I don't think the volume of RSS feed conflict is going to be that much. If the volume becomes unbearable, we can always switch to a better alert system for admins. My vote goes to this compromise that preserves privacy and alerts admins.

[2021-07-06 13:54] maestromac commented on #13936
@squarebat I recommend taking a look at `spec/uploaders/article_image_uploader_spec.rb`

[2021-07-06 13:56] michael-tharrington opened #14153 "Org Admin Cannot Leave an Org"
**Describe the bug**

Org admin don't have the ability to leave the organization that they are an admin for.

**Expected behavior**

Org admin should be able to leave an organization the same as a member. Maybe an admin should have to become a member prior to leaving an org or maybe an admin should be forced to recruit a new admin or delete their org in order to leave it.

**Screenshots**

![Image

[2021-07-06 16:33] djuber commented on #14153
I tested locally, just to confirm there is a "normal" path to remove yourself from an organization you are the admin of.

 You _can_ make another user an admin, and _they_ can revoke your admin status (the remove from organization option appears after that's done). This requires two cooperating parties (any admin can revoke any other admin's status, any admin can remove any non-admin member). This

[2021-07-06 18:04] michael-tharrington commented on #14153
This is great info to have handy here — thanks @djuber!

This flow is actually pretty dang good as it requires an admin to find a new admin prior to leaving an org (unless the org is completely empty and they delete it).

Maybe this should stay the same, but we could communicate this in the UX somehow or if not, at least in the FAQ on [this page](https://dev.to/organization-info). For now, I'll up

[2021-07-06 18:10] djuber commented on #14153
Agreed - the idea is there's a hidden "org admin transfer" workflow that has to happen if the org is non-empty and you want to leave  as an admin. Getting from "admin" to "not a member" required seeing this workflow in my head - it might be reasonable to add a description of this process to the "danger zone" (where the delete organization button and text is) in case someone is looking for the "lea

[2021-07-06 18:27] michael-tharrington commented on #14153
Totally @djuber... gonna leave this one here for a bit to think about.

I've updated our FAQ for now and included a couple notes on how to remove yourself from an org and how to transfer an org:

![Image 2021-07-06 at 2 26 48 PM](https://user-images.githubusercontent.com/16007075/124649241-3ad4ff00-de66-11eb-8faf-0df8e379bcf4.png)

[2021-07-06 18:28] michael-tharrington commented on #14153
One thing that comes to mind... it'd be helpful if an org admin could remove their own status and leave an org so long as there is another org admin in place.

[2021-07-06 18:34] djuber commented on #14153
I think the only danger there is the blind transfer, since the same admin that can "promote" a user to an admin can then leave the org, and they may or may not be active/willing/happy about that responsibility.

The same argument I think holds for "if you're not the only admin, you should be able to leave the organization".

I'm not convinced whether the desire to keep an active admin involved in

[2021-07-06 20:49] michael-tharrington commented on #14153
Dang, you are so right!

That said, shouldn't we potentially eliminate the ability for an org admin to grant another org member admin abilities without the member accepting this? Because to your point, currently a member can be made an admin and may not want that level of permission — just like they might not want the blind transfer.

I'm with you here... definitely considered the idea of just lea

[2021-07-07 11:27] ellativity commented on #14153
I'm so averse to leaving the org admin role empty, for some reason!

It's a cross between not wanting Forem Admins to do more org admin than absolutely necessary, and not wanting to see orgs completely decay due to a lack of proactive membership maintenance.

I do think that maybe a priority issue here is the fact that people can be made admins without opting in. Should we consider addressing that

[2021-07-07 11:49] ellativity opened #14159 "Editor Guide is not available from Post Editor"
**Describe the bug**
On the FAQ for every Forem ([see DEV's here](https://dev.to/faq), there's a Frequently Asked Question **Is there a guide for how to use DEV's editor?**

The answer given in the FAQ is "Yes! Here is our [editor guide](https://dev.to/p/editor_guide), you can also find it by clicking the "?" page in the [editor](https://dev.to/new)."

![Screenshot of FAQ answering a question abou

[2021-07-07 12:29] rhymes commented on #14159
@ellativity The FAQ is a customizable page, for example https://dev.to/faq and https://forem.dev/faq and https://community.codenewbie.org/faq are totally different pages. We should fix the FAQ for DEV sure, I think only admins can. The information about clicking `?` is probably a remnant of a previous version of the editor. We should mention any of that in the FAQ.

Regarding the editor: the guide

[2021-07-07 12:38] ellativity commented on #14159
Thanks, @rhymes!

From what I could see, neither of those modals (markdown or liquid) fully cover the information available in the editor guide linked to in the FAQ (e.g. the cover image dimensions or [image width limit](https://community.codenewbie.org/p/editor_guide#markdown-inline-images).

![Info not covered in either alternative guide](https://user-images.githubusercontent.com/76786132/124760

[2021-07-07 12:46] rhymes commented on #14159
Agreed, this probably requires some thought by @forem/product as the editor guide sits at `/p/editor_guide` for all Forems, like https://dev.to/p/editor_guide - https://community.codenewbie.org/p/editor_guide and that's the same for all, apparently the only way to get to the full editor guide is through the editor to leave a comment:

![Screenshot 2021-07-07 at 14-42-35 DEV Community](https://user

[2021-07-07 12:52] ellativity commented on #14159
Oh wow... Raising this with Product to investigate if it is intentional, and if not what can be done about it. If it's intentional, it might be good to consider adding some guidance into the editor regarding image sizes, at the absolute minimum!

[2021-07-07 13:13] michael-tharrington commented on #14153
I get not wanting to leave an org empty... definitely not ideal!

I also feel like if an org admin wants to leave an org and can't figure out how (they don't realize they need to add a new admin to the org and then have the admin remove them as an admin) then they'll just stay in the org and ignore it or contact us and ask how they can leave. There's gotta be something we can do to make that a bet

[2021-07-07 13:17] #13509 closed

[2021-07-07 19:10] benhalpern opened #14164 "Follow button creating cumulative layout shift"
**Describe the bug**

This is a new bug showing up. This is both a user issue but also an SEO issue Google will ding us on if we don't make a quick fix. This could be a one-line fix (described below in "additional context").

More context into this kind of thing in general: https://dev.to/ben/fixing-cumulative-layout-shift-41ja

**To Reproduce**

Visit DEV post on desktop width and observe a jump

[2021-07-07 20:00] jmau111 commented on #14164
@benhalpern  Hi, sorry for this, the text seems added with js :/, would it possible to add a temporary text like ";)" or even "Follow" instead of reverting?

![](https://user-images.githubusercontent.com/6878027/124820683-16644a00-df6e-11eb-8816-9a61565cce44.gif)

The former markup was commented "#yikes"

If it's possible, the fix is quick.

[2021-07-07 20:40] Nilomiranda commented on #14140
If no one is working on this, I would like to take a look

[2021-07-08 07:48] hieptl commented on #14140
Dear Danilo,

Please help check it. I am facing this issue frequently when I want to
remove my articles.

Thanks and Best Regards,
Hiep

Vào Th 5, 8 thg 7, 2021 vào lúc 03:40 Danilo Miranda <
***@***.***> đã viết:

[2021-07-08 15:34] nickytonline commented on #14126
Creating a new [URL](https://developer.mozilla.org/en-US/docs/Web/API/URL/URL) when using a relative path requires a base parameter to be added.

You can do

[code]

instead of

[code]

[2021-07-08 15:50] juliannatetreault commented on #14164
Closed via PR #14165

[2021-07-08 15:50] #14164 closed

[2021-07-09 09:41] jmau111 commented on #13289
<img width="860" alt="screen-dev-home" src="https://user-images.githubusercontent.com/6878027/125057139-34829500-e0a9-11eb-89ac-b0e47cdcd0c0.png">

@aitchiss @nickytonline  Hello, there are some issues with those widgets, but it cannot be controlled with the codebase. It's manual HTML, so it may appear from time to time, depending on the widget's content.

Most of HTML errors in codebase have been

[2021-07-09 09:47] aitchiss opened #14182 "Post reaction buttons should make use of 'aria-pressed'"
When reacting to a post by pressing the heart/unicorn/bookmark buttons, there's currently no feedback provided to screen reader users. When the state of the button changes we change the button label e.g. from "Like" to "Unlike". This is OK, but a screen reader user won't know that the button name has changed unless they Tab away from it, and then Tab back to it.

It would be a better user experien

[2021-07-09 10:05] aitchiss commented on #13289
That's awesome @jmau111! Nice work!

I see what you mean about the `<style>` error - I agree it might be a little involved and our efforts might be better spent elsewhere. Happy to leave this for now.

I've raised the issue around the ad widgets internally so hopefully we'll see those errors reduce in due course too 😄

Thanks for all of your work on this issue - great to see it looking so much bet

[2021-07-09 10:05] #13289 closed

[2021-07-09 11:02] jmau111 commented on #13289
great @aitchiss I think it's there for widgets (display_ads):
<img width="274" alt="widgets-admin" src="https://user-images.githubusercontent.com/6878027/125068533-e031e200-e0b5-11eb-83ae-8ec9dab08395.png">

[2021-07-09 12:02] Yuma-Tsushima07 opened #14183 "Comments/Replies don't send or they repeat."
**Describe the bug**
Once you comment or reply to a person the reply/comment does not send.

**To Reproduce**

1) Go to your posts.
2) Comment / reply to a person.
3) Try sending and wait for 1 min.
4) Refresh (Doesn't show up).

**Expected behaviour**

Comments and replies should be sent and shown.

**Screenshots**
![image](https://user-images.githubusercontent.com/63207324/125073238-8e885800-e0b

[2021-07-09 13:02] Link2Twenty commented on #14182
For anyone that want's to tackle this here are some places to start your investigations.

https://github.com/forem/forem/blob/c842d1a0c6718f319f167e9ec13d4d7d5d6b6d39/app/views/articles/_reaction_button.html.erb#L1-L16

https://github.com/forem/forem/blob/c842d1a0c6718f319f167e9ec13d4d7d5d6b6d39/app/assets/javascripts/initializers/initializeArticleReactions.js#L31-L51

[2021-07-09 14:05] Link2Twenty commented on #14183
When I try and post a comment I get this error

![error message](https://user-images.githubusercontent.com/3534427/125090285-175cbf00-e0c7-11eb-9171-3b470be4dba5.png)

But it does actually post

[2021-07-09 15:14] Yuma-Tsushima07 commented on #14183
@Link2Twenty I really don't know why posts aren't working.

To your error it seems like it's related to another post.

[2021-07-09 20:13] Afif13 commented on #14183
and sometimes the comment is posted more than once.

![Screenshot from 2021-07-09 22-12-01](https://user-images.githubusercontent.com/14073250/125131287-cd91ca00-e102-11eb-90c1-7af3d36b29dd.png)

[2021-07-09 20:51] nickytonline commented on #14183
I can replicate this. When you click submit it creates the comment, but the UI does not refresh. @Link2Twenty, the error you get is because you kit the submit button a second time. Looking in the browser console, there is no JS errors when submitting the comment, and the network request appears to submit it fine. Maybe there is some frontend functionality that regressed. 🤔

It appears to send 0 by

[2021-07-09 21:29] Yuma-Tsushima07 commented on #14183
@nickytonline That makes sense.
Why is there such delay in  their system?

[2021-07-09 21:32] nickytonline commented on #14183
We are currently investigating the reason for the delay @Yuma-Tsushima07.

[2021-07-09 21:44] Yuma-Tsushima07 commented on #14183
Ahh thanks for the update :)

[2021-07-09 22:51] mstruve commented on #14183
This was a backend performance issue caused by a recently introduced bug. With the above merged PR this should be fixed! Thanks for reporting it!

[2021-07-09 22:51] #14183 closed

[2021-07-09 23:30] Afif13 opened #14188 "Issue with the "work" field on the user card at the right sidebar"
I think the below screenshot is self-explanatory:

The "at XXX" is repeated twice.

after checking my profile setting I found that the field was changed to contain the extra text. I didn't do this

I also see the same issue in many other profiles:
https://dev.to/michaeltharrington
https://dev.to/nickytonline

[2021-07-09 23:40] Afif13 commented on #14188
I tried to update the field and now I have two "work" on my profile

![Screenshot from 2021-07-10 01-39-26](https://user-images.githubusercontent.com/14073250/125144900-b7463700-e11f-11eb-9d8e-664521874847.png)

[2021-07-10 03:55] jmoney opened #14189 "Mobile app push notifications"
I have suddenly started receiving push notifications for posts I'm not following or have even read. Have never commented either but I've received push notifications for them letting me know of updates.

[2021-07-10 04:19] Bas-Man opened #14190 "Unrelated push notifications / App"
Within the last 30 minutes I have start to receive push notifications for stories I do not believe I have even previously read.

**Describe the bug**

**To Reproduce**
No steps. No user changes made.

**Expected behavior**
Notifications only for articles I have commented on.

**Screenshots**
none as I have responded to them. Will add is I see more.
**Smartphone (please complete the following infor

[2021-07-10 04:22] Bas-Man commented on #14190
Same as #14189

[2021-07-10 04:30] Bas-Man commented on #14189
![image](https://user-images.githubusercontent.com/6175103/125151658-cdd1aa00-e182-11eb-98a1-7c7f626e6d52.png)

![image](https://user-images.githubusercontent.com/6175103/125151709-ff4a7580-e182-11eb-9f99-bd76fd0ca229.png)