[2019-02-05 12:01] lightalloy commented on #1741
I was able to find the podcast and the episode by [another url](https://dev.to/6figuredev/episode-064--favorite-programming-books), so maybe some cache cleaning issues cause the error.

[2019-02-05 14:41] #1381 closed

[2019-02-05 14:42] jessleenyc opened #1743 "Refine/Finalize Comments Template"
**Is your feature request related to a problem? Please describe.**
Comments template is technically working for super_admins but there are a couple items to finish up before releasing.

[2019-02-05 15:07] jessleenyc commented on #1701
I think following the twitter pattern here makes sense. @benhalpern thoughts on this design?

[2019-02-05 15:10] #1730 closed

[2019-02-05 15:26] benhalpern opened #1745 "Add split test for landing page"
We want to add a type of landing page which takes `html_variants` and tracks different versions of the page.

[2019-02-05 15:36] jessleenyc commented on #1740
Thanks for flagging this. This is approved if anyone wants to jump on it!

[2019-02-05 15:37] pkfrank opened #1746 "Key Links covering main feed on mobile"
This is from an email into `yo@` and the submitter has not provided additional info, so unfortunately we are light on details.

**Describe the bug**
It appears that the Key Links area is covering the main feed.

**To Reproduce**
Unclear.  This appears to be an Android device.  If anyone else is experiencing the issue, that will be really helpful.

**Screenshots**
![screenshot of issue on mobile](h

[2019-02-05 15:40] jessleenyc commented on #1494
Hey, sorry for the delay here. Closing this issue because we have an autosave feature that's WIP that should help here. We'll also take some of the design feedback into consideration when we make changes in the future.

[2019-02-05 15:40] #1494 closed

[2019-02-05 15:43] jessleenyc commented on #1655
I think we could update the publishing guide to have an image of the editor (and where everything goes) for clarity.

[2019-02-05 15:44] jessleenyc commented on #1733
Sorry you lost part of your post @kay-is :/

Thanks for creating the issue -- we'll keep this on our radar.

[2019-02-05 15:45] jessleenyc commented on #1705
@seanmfox Go for it! Adding default colors make sense.

[2019-02-05 15:46] jessleenyc commented on #1716
Yeah, I think this is one of those issues that's hard to get right because people simply use and expect different functionality. With that said, we could potentially have this be a preference you toggle in your settings.

[2019-02-05 17:01] brylie commented on #1072
Having a standardized way to select a license might:
- encourage authors to publish under open license
- provide a standard way to identify content license on dev.to
- open the possibility for open content to be discovered and syndicated via automated tools

So, yes people can paste a license text in the article body, but there may be advantages to having official platform support.

[2019-02-05 18:32] aligoren commented on #1740
I think I or anyone is here can change margin. But what should be margin value? 10 pixels in general?

[2019-02-05 18:59] sarthology commented on #1740
Yeah 10px will do it.

[2019-02-05 19:35] jahirfiquitiva commented on #1685
@jessleenyc it's not only about text size. And most importantly about colors

[2019-02-05 20:04] jessleenyc commented on #1685
@jahirfiquitiva yep, sorry I wasn't clear. I meant that this is approved for anyone who wants to work on the contrast and the text size. But when it comes to text size, we probably won't want to make it much bigger on mobile since that'll present another set of difficulties.

[2019-02-05 23:01] jessleenyc opened #1748 "Automatically add tag moderators to mailchimp list"
**Is your feature request related to a problem? Please describe.**
Until more folks are on connect more regularly, I'd like to be able to quickly email all tag moderators with updates.

**Describe the solution you'd like**
When a tag moderator is assigned, add them to a mailchimp list.
When a tag moderator is removed remove them from the mailchimp list.
We'll want to run a script that adds current

[2019-02-06 12:59] #1081 closed

[2019-02-06 15:29] #1562 closed

[2019-02-06 17:29] deyshin commented on #1701
While I think the twitter's pattern is good, I also see a value in having an 'icon only (textless)' alternative that's not confusing. That may be too ambitious though.

[2019-02-06 20:18] #1740 closed

[2019-02-07 06:30] #923 closed

[2019-02-07 12:28] IvanDelsinne opened #1758 "Duplicate RSS entries on https://dev.to/feed"
I'm using Miniflux as a RSS reader to get the dev.to latest articles, and I just noticed that it now duplicates almost every entry.

**Screenshots**

![](https://pix.watch/RN91DL/zp1X9f.jpeg)

I'm using the following URL as RSS feed source: `https://dev.to/feed`.

[2019-02-07 12:34] aligoren commented on #1758
I think this isn't related to dev.to' RSS sources.

You can check by page source

![image](https://user-images.githubusercontent.com/4205423/52411723-c9a28d80-2aed-11e9-9108-b6831f631b7e.png)

[2019-02-07 13:57] arnellebalane commented on #1746
@pkfrank @jessleenyc It appears that the sidebar keeps on scrolling even though the bottom of it (the key links section) has been reached, until it goes offscreen. Perhaps it should just stop scrolling when the bottom has been reached?

![devto-menu-bug](https://user-images.githubusercontent.com/1428598/52415762-e5745680-2b22-11e9-9f13-0c13490c80f4.gif)

[2019-02-07 14:17] Link2Twenty commented on #1746
Setting the background `height: 1000%;` might be causing the issue.

`.home .sidebar-wrapper .sidebar-bg`

[2019-02-07 15:08] arnellebalane commented on #1746
The `height: 1000%` declaration on the `.sidebar-bg` element is causing the scrolling issue, as @Link2Twenty pointed out. Removing that declaration fixes the scrolling issue, but also causes the darkened background to be shorter:

![image](https://user-images.githubusercontent.com/1428598/52420075-4c4a3d80-2b2c-11e9-8b66-ef5aa5453481.png)

It looks like the `.sidebar-bg` element is only used as:
-

[2019-02-07 17:57] maestromac commented on #270
not stale

[2019-02-07 19:08] aspittel commented on #1758
Thanks for reporting this @IvanDelsinne!

[2019-02-07 19:22] aligoren commented on #1758
@aspittel This shouldn't be labeled as a bug.

With [this](http://www.feedbucket.com/?src=https%3A%2F%2Fdev.to%2Ffeed) url you can check.

[2019-02-07 20:38] maestromac commented on #1491
We aren't expecting our users to have to manually escape those underscore so I'd say this is a bug.

[2019-02-07 20:47] Hamatti commented on #1716
This is one of those topics that I have weirdly strong opinion in favor of using `target=_blank` on external links even though I don't think it's the better way.

This is the reason why I'm having hard time justifying my own opinion. If we don't have `target=_blank`, both visitors can get their functionality: first one with cmd+click (or right click open to tab, long-press on mobile or which ever

[2019-02-07 20:54] maestromac commented on #1705
@seanmfox black & white would be a good default for the time being.

[2019-02-07 20:58] Glennmen opened #1760 "Error Github PR Embed"
**Is your feature request related to a problem? Please describe.**
When trying to embed a Github PR an error message is shown: `Invalid Github Repo link`

**Describe the solution you'd like**
Github Pull Requests should also be embedded correctly like Github Issues.

**Describe alternatives you've considered**
Replacing `pull` with `issues` in the url is a dirty workaround, I assume that adding `/

[2019-02-07 21:04] maestromac commented on #1758
Thanks for pointing that out, @aligoren.

@IvanDelsinne can you verify that this isn't a problem with Miniflux? I've tested it with feeder.co and I don't see any duplicates.

[2019-02-07 21:04] Zhao-Andy commented on #1760
Hey @Glennmen, we technically don't have that feature yet. I believe GitHub treats issues and pulls as the same thing under the hood, which is why the workaround works.

This might be as simple as allowing our Liquid tag to look for `/pull/`. @maestromac might have more ideas on this.

[2019-02-07 21:17] Glennmen commented on #1760
Hmm might better have used the `Feature request` template then, if wanted I can change the issue to use the correct template.

[2019-02-07 21:24] maestromac commented on #1517
Looks like a case of [flash of unstyled content](https://en.wikipedia.org/wiki/Flash_of_unstyled_content).

Please let us know if this issue persists. Closing.

[2019-02-07 21:24] #1517 closed

[2019-02-07 22:11] maestromac commented on #1741
Is this happening to a lot of podcasts?

[2019-02-07 22:21] maestromac commented on #1716
That's a good point @Hamatti

[2019-02-07 22:40] maestromac commented on #1760
@Glennmen it's really fine but you are welcomed to edit your issue.

Yes, allow our liquid tag to look for `/pull/` would be enough for it to distinguish that the submitted link is a pull request.

[2019-02-08 00:59] seanmfox commented on #1705
Great!  Submitting the pull request now.

[2019-02-08 08:06] lightalloy commented on #1741
No, I was only able to find this issue with the older episodes of the [6figuredev podcast](https://dev.to/6figuredev/). I'm pretty sure this happens when the podcast slug is changed, as I specified in the previous comment, and I suppose it doesn't happen often.

[2019-02-08 08:13] Link2Twenty commented on #1716
Or middle clicking 😉

[2019-02-08 10:32] sandordargo opened #1765 "Number of views doesn't change"
Hi,

I found something strange for my number of views.

I have the same number of views (user: @sandordargo, views: 156) for my last three posts.

The last one is strange, it hasn't changed for like two days, while the number of reactions are going up and it was featured on twitter as well. I don't think that the number of reactions can go up without the number of views also going up.

Thanks for

[2019-02-08 11:32] lightalloy commented on #1606
I've started work on this one.
When loading comments with one request it's harder query a limited amout of root comments + their ancestors. So I was concerned with the memory usage while arranging the whole tree (+ regarding the `includes(:user)`).
I've checked the memory usage by `memory-profiler` and it seems like there's no dramatic change comparing with the old version. With limited comments (

[2019-02-08 17:39] maestromac commented on #1621
There are three main DeserializationError I've seen.

- [x] Article (resolved with https://github.com/thepracticaldev/dev.to/pull/1699)
- [ ] Reaction
- [ ] Follow

[2019-02-08 17:47] maestromac commented on #1705
Resolved with https://github.com/thepracticaldev/dev.to/pull/1764

[2019-02-08 17:47] #1705 closed

[2019-02-08 19:15] lightalloy commented on #1621
Thanks, Mac. I'll return to this ticket soon.

[2019-02-08 19:16] qm3ster opened #1767 "Don't convert SVGs with Cloudinary"
**Is your feature request related to a problem? Please describe.**
I used a vector svg image as a `cover_image` of a post today.
It got "optimized" by Cloudinary, and served with automatic format (`f_auto`).
This resulted in not only making it a 6.2KB `webp` (and even larger `png`) but also [making it blurry](https://res.cloudinary.com/practicaldev/image/fetch/s--usNnnoz8--/c_imagga_scale,f_auto,f

[2019-02-08 19:28] qm3ster commented on #1767
Nah, manually converting isn't distinguishably better than just setting `background-color:#fff`.
Actual `background-color:#fff;background-image:url(https://svgshare.com/i/B6d.svg)` is excellent  though, the left text is much more readable.

Offtopic, but the default background, `#dddddd` can be written as `#ddd` :rofl:

[2019-02-08 20:39] Glennmen commented on #1765
I have noticed the same, my post views has been 101 the entire day even though it has also been featured on twitter. I thought that views might not be updated live, unlike reactions, but was updated with a job once a day.
Curious about the reactions here if it is indeed a bug or intentionally.

[2019-02-08 20:42] sandordargo commented on #1765
For me it's been 156 for days. Once a day makes sense, but having three posts with exactly the same number of views and for days... Must be a coincidence! :D We'll see!

[2019-02-08 21:31] Glennmen opened #1769 "Tag template doesn't always work"
**Describe the bug**
New post template URLs don't always work.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to feed overview
2. Click on `MAKE A #GITHUNT POST` (https://dev.to/new/githunt)
3. No tag is added in the new post

**Expected behavior**
`githunt` tag should be added to new post.

**Desktop (please complete the following information):**

- OS: macOS
- Browser Chrome
- Version

[2019-02-09 01:39] whoisryosuke opened #1770 "Pressing publish multiple times creates dupe posts"
**Describe the bug**
Pressing publish on a new post multiple times creates duplicates of the article.

**To Reproduce**
Steps to reproduce the behavior:

1. Write post
2. Press publish as many times as you can before the page refreshes. I pressed twice, got two articles in my dashboard.

**Expected behavior**
Publish one article. Maybe disable the button after the first press.

**Desktop (please c

[2019-02-09 09:06] aligoren commented on #911
What is the current stage? Can we create posts with an API key? I actually want to create dev.to applications. I'm waiting for this :) Thanks.

[2019-02-09 22:07] Jeoxs opened #1771 "Website lags when I open the sidebar (each one)"
I recently wrote an article about this particular issue asking people if they had the same problem: https://dev.to/jeoxs/is-it-just-my-phone-or-devto-is-heavy--1h9l

The site starts freezing when I open a sidebar. I have a Samsung Galaxy S5 mini with Android 6.0.1 and latest Chrome and Android web view versions. At first I though it was my phone but others users have confirmed the issue on their d

[2019-02-09 22:49] shindakun commented on #1771
![devto-lag](https://user-images.githubusercontent.com/319128/52527211-ccca8480-2c79-11e9-8354-fc82d93a77af.gif)

Seems to be something with how the sidebar works.

[2019-02-09 23:05] Jeoxs commented on #1771
Thank you for the info. On the phone, it doesn't work after some time. it lags more. I have to swipe back and wait some seconds (like 10) in order to close the sidebar.

[2019-02-10 04:55] ryan3E0 commented on #1771
I think this may have something to do with the service worker making a huge amount of requests. On the standard desktop view it only triggers network requests when hovering over a link. Shrinking down the browser then opening the sidebar makes it go out of control.
![image](https://user-images.githubusercontent.com/1578766/52529765-e2659b80-2cc5-11e9-85fd-c34b17e09f61.png)

[2019-02-10 06:44] sarthology opened #1772 "Save post when user press cntrl + s"
**Is your feature request related to a problem? Please describe.**
Sometimes accidentally while writing the post I press control + save. It opens the browser default save command to wonder if we can change that.

**Describe the solution you'd like**
By using this simple snippet that can be fixed

[code]
Using this the default event can be stopped. Maybe you guys can trigger the save the post funct

[2019-02-10 11:52] IvanDelsinne commented on #1758
Few days passed, and I couldn't notice a duplicate again. I guess the dev.to polling failed once

[2019-02-10 16:13] #689 closed

[2019-02-10 16:30] giclo commented on #202
Now they made sure no one's using PWA in 12.2 - it's stateless - switch to another app and lose your cookie

[2019-02-10 18:00] aligoren commented on #1772
Or using `control + s` key article can be an autosave.

[2019-02-10 18:07] rhymes commented on #1772
@sarthology @aligoren I think this is going to be easier once the work @aspittel is doing on https://github.com/thepracticaldev/dev.to/pull/1633 is completed. She's working on amazing feature!

[2019-02-10 18:11] aligoren commented on #1772
@rhymes Thanks, I found after I commented.

[2019-02-11 02:20] bigblind opened #1774 "Give contrast guidance on user profile background/text color"
**Is your feature request related to a problem? Please describe.**

Looking at [this profile], the contrast for the text on the follow button is quite low. These colors come from the text color and background color settings. Could we give some guidance to users to pick contrasting colors?

**Describe the solution you'd like**

When the user enters two colors, we measure their [contrast ratio](http

[2019-02-11 06:08] aligoren commented on #1769
I'm sure this related to issue #1073

If I use editor v1, githunt, requestforpost etc. doesn't work. New tags won't work.

I used this for test [https://dev.to/new/test](test)

I recorded the screen. I change my editor settings different tab and then I refreshed the page.

**Gif Here**

![screencast-dev to-2019 02 11-09-03-04](https://user-images.githubusercontent.com/4205423/52548087-8b061f00-2dd

[2019-02-11 06:39] aligoren opened #1775 "Should dropdown be used for editor version selection?"
**Is your feature request related to a problem? Please describe.**

In my opinion, It's annoying always writing editor version. I'm not sure but if there is a version number 99, the user will have to write v99.

Instead of this, the `select` tag can be useful.

**Describe the solution you'd like**

I think we can change the input element with a select element like below:

[code]

And css will be l

[2019-02-11 08:58] Link2Twenty commented on #1774
Reference: #735

[2019-02-11 09:06] sarthology commented on #1772
@rhymes oh that's cool.

[2019-02-11 09:07] Link2Twenty commented on #1771
It gets crazy busy as soon as you open the side panel

![image](https://user-images.githubusercontent.com/3534427/52553705-6316bb80-2ddc-11e9-9784-eda9dc8c847e.png)

[2019-02-11 09:31] Link2Twenty commented on #1771
I feel like it's this section

https://github.com/thepracticaldev/dev.to/blob/dd32580ab1757edc5f6bef20d6b5f9354edd31e6/app/assets/javascripts/initializers/initScrolling.js.erb#L5-L41

[2019-02-11 11:10] weekly-digest[bot] opened #1783 "Weekly Digest (4 February, 2019 - 11 February, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 53 issues were created.
Of these, 30 issues have been closed and 23 issues are still open.
## OPEN ISSUES
:green_heart: #1773 [Include Article ID in Bottom Content Cache Key ](https://github.com/thepracticaldev/dev.to/pull/1773), by [mstruve](https://github.com/mstruve

[2019-02-11 13:05] Glennmen commented on #1760
Working on a PR for this, so don't steal my PR 😂

[2019-02-11 15:19] timorthi commented on #911
@aligoren @zxlee618 I think this feature hasn't been developed beyond the API key generation stage - waiting for more direction from @benhalpern 😄

[2019-02-11 15:47] #1783 closed

[2019-02-11 17:26] rhymes commented on #1038
unstale

[2019-02-11 21:06] maestromac commented on #399
Resolved with https://github.com/thepracticaldev/dev.to/pull/1524

[2019-02-11 21:06] #399 closed

[2019-02-11 23:53] maestromac commented on #1654
Resolved with #1524

[2019-02-11 23:53] #1654 closed

[2019-02-12 02:20] arnellebalane commented on #1746
@pkfrank @jessleenyc @benhalpern I already have a fix for this issue. However, I am unable to commit my changes because of the following linter errors:

[code]

These linter errors already exist even before I applied my changes, and there are a lot of them, so I'm not sure whether they should all be fixed in my branch as well or I did something wrong during my setup.

[code]

[2019-02-12 03:16] ItsASine opened #1785 "Posts are SAVE instead of SAVED if you filter the Reading List"
**Describe the bug**
I know there are other issues around SAVE/SAVED but this one seems unique enough for its own post. When filtering the Reading List, the buttons on posts are not in the SAVED state.

**To reproduce**:
* Navigate to the Reading List
* Select one of the tags on the sidebar

**Expected**:
* Articles are marked as Saved as they are in the list of saved stuff

**Actual**:
* Article

[2019-02-12 03:42] jessleenyc commented on #1746
@arnellebalane was that the full error message?

[2019-02-12 04:15] arnellebalane commented on #1746
@jessleenyc Just a lot of linter failures:

[code]

[2019-02-12 08:12] rhymes commented on #1746
@arnellebalane you should probably skip the linting in this particular situation. See the last line of the error:

You can issue `git commit --no-verify`

[2019-02-12 10:45] arnellebalane commented on #1746
@rhymes Thank you for your advice, I've skipped the linting and have filed a PR for this issue 🎉

[2019-02-12 11:17] Link2Twenty commented on #1771
Reference: #1787, #1746

[2019-02-12 12:56] lightalloy opened #1788 "The page is not updated after submitting a podcast comment"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a [podcast episode page](https://dev.to/developertea/how-we-construct-software--part-two-beliefs-and-models-)
2. Fill the comment form
3. Click submit or press `Ctrl+Enter`
4. The "submit" button changes color and the form becomes blurred (as the comment is being submitted).
5. The form remains the same, the comment d

[2019-02-12 12:59] BogDAAAMN commented on #1647
@Zhao-Andy is that something that you are working on? I would love to give it a try

[2019-02-12 13:14] solutweb opened #1789 "Two suggestions (Both from profile page)"
**Is your feature request related to a problem? Please describe.**

1. I think that it's unnecessary to show this kind of message:
![image](https://user-images.githubusercontent.com/28319535/52633231-e0106680-2eaa-11e9-968c-778ec1eec603.png)

2. Sorry if exists and I didn't find it, but would be nice if you could add a Twitter URL field in profile page (Links section).

**Describe the solution you

[2019-02-12 15:35] jessleenyc commented on #1765
Hm. Previously stats were updated each time someone interacts (reacts or comments) on a post but I believe we've started to pull numbers more frequently. I'll bring it up in our team meeting later.

[2019-02-12 15:37] jessleenyc commented on #1769
Ah interesting. Thanks for flagging @Glennmen and for investigating @aligoren.

[2019-02-12 15:38] jessleenyc commented on #1770
Thanks for flagging! This issue is approved for anyone who might want to work on it.

[2019-02-12 15:41] jessleenyc commented on #1788
Thanks for flagging Anna. @Zhao-Andy is this related to some of the notification work you've been doing?

[2019-02-12 15:42] jessleenyc commented on #1785
Hmm yeah, this seems related with https://github.com/thepracticaldev/dev.to/issues/1395.

[2019-02-12 15:43] jessleenyc commented on #1785
@lightalloy I know you've been looking at reading list so wanted to get this on your radar too.

[2019-02-12 15:46] jessleenyc commented on #1789
hey @solutweb - your twitter profile link will automatically be added if you add if you authenticate here: https://dev.to/settings/account

[2019-02-12 15:46] jessleenyc commented on #1789
We'll reconsider the 404 message on our next redesign -- going to close this issue for now.

[2019-02-12 15:46] #1789 closed

[2019-02-12 15:47] jessleenyc commented on #1775
Yeah, this makes sense to me. I haven't brought it up in meetings but I've been meaning to submit a PR that makes the change. If anyone else wants to, please go for it.

[2019-02-12 15:54] jessleenyc commented on #1774
I'm going to add this to our list of things we hope to accomplish by the end of Q1 because I think it can be tackled while we look into #735.

[2019-02-12 16:51] jessleenyc commented on #1746
Ah yeah, these most likely got caught if you had merged or rebased at some point.

[2019-02-12 17:02] zafar-saleem opened #1790 "Preview does not show description on writing new post"
**Describe the bug**
After writing the title and description of the new post and hit preview, it previews the title but does not preview description.

**To Reproduce**

1. Go to 'write a post'
2. Enter 'title and description'
3. Click on 'preview'
4. Only title and authors name is seeable but no description.

**Expected behavior**
It should preview both, title and description.

**Screenshots**
1.

[2019-02-12 17:21] mariocsee commented on #49
I can hop on this if no ones has opened a PR for it!

[2019-02-12 18:25] jessleenyc commented on #1790
Hey @zafar-saleem -- the description is actually for open graph cards. For example, on Twitter: ![](https://cl.ly/8d7125c5bb44/download/Image%202019-02-12%20at%201.25.03%20PM.png). Closing this issue since this is expected behavior.

[2019-02-12 18:25] #1790 closed

[2019-02-12 19:58] maestromac commented on #1677
resolved with https://github.com/thepracticaldev/dev.to/pull/1739

[2019-02-12 19:58] #1677 closed

[2019-02-12 21:09] 12vanblart opened #1794 "Footer visually overlaps Left Hand Nav Card"
**Describe the bug**
In a Chrome window sized 1305x842, I scrolled to the bottom of the "My Reading List" and the Footer overlapped the Left Hand Card.
![visual overlap showing](https://user-images.githubusercontent.com/16465776/52667862-069cc480-2ee0-11e9-9d82-ad26edd9f816.png)

**To Reproduce**
Steps to reproduce the behavior:
0. (Resize window to ~ 1305 x 842)
1. Go to "My Reading List"
2. Scro

[2019-02-13 02:41] ItsASine commented on #1785
@jessleenyc I almost logged this s a comment on #1395 but that seemed more focused on the initial state being SAVE and not always toggling to SAVED, meanwhile, this is every time you try filtering the list, the button is in the wrong state for each article. Could be an issue with the initial state, but seemed more keen on being an issue with the filtering.

[2019-02-13 06:19] Defman21 commented on #174
@benhalpern @jessleenyc you didn't answer me. What's the reason for not having a reply button in this case?

[2019-02-13 06:26] Defman21 commented on #174
Oh I understand now. 2 deep replies starts a thread and it looks like you can't go further. So the Reply button actually replies to the thread and not to the comment which contains the button.

[2019-02-13 12:41] zafar-saleem commented on #1790
I am not sure why would that preview be on there while writing your post. At the time of writing, I would  want to see the preview of my own post instead.

If this feature is for sharing on social media then it could be somewhere else IMHO.

[2019-02-13 15:04] eusonlito commented on #1716
As a regular dev.to visitor, please add `target="_blank"` to external links, or at least, to links to images.

I open the links as two ways:

1. Click on external link (relevant to article), read article and close tab. Then I'm on dev.to article in exact last position before click.
2. Ctrl+Click to continue reading dev.to article while external link is opening (not relevant to article).

I think t

[2019-02-13 15:18] sztomi opened #1796 "Privacy Badger considers dev.to a tracker"
^ This report is specifically about compatibility with a popular privacy extension, so I'm skipping this step.

**Describe the bug**

[Privacy Badger](https://www.eff.org/privacybadger) is a popular set-and-forget privacy extension for Google Chrome and Firefox. It differs from other blockers in that there is no fixed blacklisting of trackers. The extension monitors websites for tracking behavior

[2019-02-13 16:17] abraham commented on #1796
I couldn't reproduce this in Chrome.

[2019-02-13 17:11] maestromac commented on #1770
resolved with https://github.com/thepracticaldev/dev.to/pull/1791

[2019-02-13 17:11] #1770 closed

[2019-02-13 17:45] sztomi commented on #1796
You can emulate the behavior if you set dev.to to manual blocking (it does take some time for PB to kick its autodetection).

[2019-02-13 18:53] #1769 closed

[2019-02-13 19:00] Zhao-Andy commented on #1647
Hey @BogDAAAMN, I'll be working on this soon, but you might be interested in this notification related issue: https://github.com/thepracticaldev/dev.to/issues/503 (Notify author if post/comment is embedded in another dev.to post)

[2019-02-14 04:10] #625 closed

[2019-02-14 06:26] atefBB commented on #244
This issue still requires attention and work

[2019-02-14 12:38] Link2Twenty commented on #1153
Just to add to this, I had to press the tab button 80 times before I could go to the first post.

[2019-02-14 12:58] Link2Twenty commented on #1153
Adding this to just before the dev logo in the nav

[code]

and this to your CSS

[code]
**Normal view:**
![image](https://user-images.githubusercontent.com/3534427/52788149-f871b400-3057-11e9-98ac-a7d3f46d3d81.png)
**Focused view:**
![image](https://user-images.githubusercontent.com/3534427/52788182-13dcbf00-3058-11e9-8a93-99350f9fb1fe.png)

Which is not something the everyday user would notice.

[2019-02-14 13:34] Link2Twenty commented on #1794
Looks as though if the height is below `880px` and the width is above `950px` this issue will arise.

[2019-02-14 14:15] Link2Twenty commented on #1796
Is it the default no connection page or the dev.to one?

[2019-02-14 16:02] Saralkarki opened #1803 "close zoomed image"
**Is your feature request related to a problem? Please describe.**
Every time I zoom into an image, the image url is loaded. However, the problem is the lack of a close button, and I have to click the back button in my browser to go back to the post(article) that I was reading.

**Describe the solution you'd like**
A close button to close the image, and get back to the post would be great.

**Desc

[2019-02-14 16:05] abraham commented on #1803
It looks like #413 will cover this when implemented.

[2019-02-14 16:06] Link2Twenty commented on #1803
Clicking on an image doesn't actually zoom it in, it takes you to the images URL. Yes #413 will move over to a lightbox like model.

[2019-02-14 16:08] Saralkarki opened #1804 "broken url in the scholarships page."
**Describe the bug**
Something seems to be wrong with the link in the https://dev.to/p/scholarships page. The sign in with google, linkedin and facebook options aren't working.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://dev.to/p/scholarships'

2. Scroll down to 'Sign in sections'
3. Click the sign in with google, facebook option

**Expected behavior**
I should be able to

[2019-02-14 16:40] aspittel commented on #1794
Thanks for reporting this @12vanblart, and thank you @Link2Twenty for looking into it more! Will look into this.

[2019-02-14 16:47] maestromac commented on #1767
Thank you for reporting this @qm3ster

[2019-02-14 17:10] Zhao-Andy commented on #1796
FWIW I couldn't reproduce this on Chrome and Firefox Developer Edition.

As @Link2Twenty mentioned, it might be related to service workers. We had a previous issue (https://github.com/thepracticaldev/dev.to/issues/128) before where Privacy Badger had issues with service workers in general. I think they may have patched it, but it's been a while so I'm not sure.

[2019-02-14 17:20] aspittel commented on #1803
Thanks for submitting this issue @Saralkarki! Will discuss further with the team!

[2019-02-14 17:22] aspittel commented on #1804
Thanks for reporting this @Saralkarki -- looks like an issue on the typeform side. Will pass this along.

[2019-02-14 17:40] pkfrank commented on #1804
Hey @Saralkarki thanks for this report.  As @aspittel identified, this was indeed an issue on the Typeform side.  It's now been fixed and should be working properly.

I'm closing this issue, but please let me know if you have any other questions.  Really appreciate you taking the time to create this issue!

[2019-02-14 17:40] #1804 closed

[2019-02-14 17:44] sztomi commented on #1796
Happy to provide more info or a screenrecording if you have issues with reproducing.

[2019-02-14 17:46] Zhao-Andy commented on #589
Not stale

[2019-02-14 18:15] j-f1 commented on #217
Is there a way to see which posts I’ve ❤️ed or 🦄ed?

[2019-02-14 18:35] Zhao-Andy opened #1805 "Posts on front page do not load until scrolled down"
When going to the home page, sometimes posts under the first post do not load until you scroll down. The page simply hangs and looks like this:
![image 1](https://user-images.githubusercontent.com/17884966/52808675-6f10b080-305c-11e9-88d5-dd69c5beef6a.png)

This seems to happen on Windows 10, Chrome. Possibly related extension is uBlock Origin.

I think that we load the posts with Algolia, so ther

[2019-02-14 18:36] maestromac commented on #217
@j-f1 There currently isn't a way to view ❤️ed or 🦄ed history but feel free to make a separate feature request for it!

[2019-02-14 18:42] nikoheikkila commented on #1319
I'm currently looking into making the Docker images smaller with Alpine. I'll make a pull request if everything works out unless you @BerkhanBerkdemir have accomplished this already?

[2019-02-14 19:26] j-f1 opened #1806 "Allow viewing your hearts (❤️) and unicorns (🦄) history"
**Is your feature request related to a problem? Please describe.**
I’d like to be able to mark posts with 🦄 to save them for later without having to have them in my reading list.

**Describe the solution you'd like**
It would be great to have a list of posts I’ve ❤️ed or 🦄ed so I can refer back to them later

**Describe alternatives you've considered**
Maybe a separate list I can save things to on

[2019-02-14 19:27] j-f1 commented on #242
@RafoxDev You could log in with a GH account since you have one, then link to GitLab from your profile.

[2019-02-14 19:29] j-f1 commented on #217
⏩ https://github.com/thepracticaldev/dev.to/issues/1806

[2019-02-14 19:53] maestromac commented on #1806
Thank you for creating this feature request @j-f1 !

[2019-02-14 20:00] BerkhanBerkdemir commented on #1319
I worked on that, but I didn't run a stable container because the monolith application requires (or depend) something that Alpine doesn't have

[2019-02-14 20:18] aspittel commented on #960
After doing some debugging, this actually looks like an issue in RedCarpet -- https://github.com/vmg/redcarpet/issues/664

[2019-02-14 21:02] BogDAAAMN commented on #503
@benhalpern I would love to give it a try, but I will have a bunch of questions tho.

[2019-02-15 02:52] RyKilleen commented on #1153
@Link2Twenty I think this demonstrates a great, straight-forward implementation!

[2019-02-15 07:30] lightalloy commented on #1785
@jessleenyc I suppose it's related to the frontend side (but needs research). I'll look at this after the other tickets.

[2019-02-15 11:57] Link2Twenty commented on #947
I guess we're thinking something like

[code]
becoming
[code]

[2019-02-15 13:21] lightalloy commented on #1641
I've found a couple of problems related to this issue:
- The cache key only depends on user, so when an article from the reading list is destroyed, the cached_ids_of_articles won't be updated
 [https://github.com/thepracticaldev/dev.to/blob/5b2d1badf25e42e58fb67d0072c9922eff59c9df/app/labor/reading_list.rb#L16]
- Same when an article goes unpublished
- The reading list doesn't check if articles ar

[2019-02-15 15:57] maestromac commented on #1803
Thank you for this issue @Saralkarki !

As @Link2Twenty has mentioned, close button would be irrelevant because clicking on an image actually takes you to the url. #413 will be the solution going forward.

Closing.

[2019-02-15 15:57] #1803 closed

[2019-02-15 16:13] maestromac commented on #1805
Is this difficult to reproducible?

[2019-02-15 16:27] Zhao-Andy commented on #1788
Ah, this is because the `send_new_comment_notifications` doesn't handle commenting on podcasts right now. I think that's a discussion we'll want to have later.

For now, A one line guard statement should at least resolve that error:
[code]

Anyone working on this should continue to see if the comment submits and appears properly on the podcast episode.

[2019-02-15 18:11] Zhao-Andy commented on #1758
Hey @IvanDelsinne, we're going to close this since it sounds like it's not reproducible. Feel free to open it again if it reappears.

[2019-02-15 18:11] #1758 closed

[2019-02-15 18:35] Zhao-Andy commented on #1767
I think the main issue with this is the sanitization process. An SVG being processed by Cloudinary acts as sanitizer itself.

Any ideas on how to sanitize an SVG @qm3ster?

[2019-02-15 18:40] #1760 closed

[2019-02-15 19:56] #1332 closed

[2019-02-15 21:03] qm3ster commented on #1767
@Zhao-Andy I did some research now.
I already knew there are significant differences in svg behavior when used as `<img src=` or a css property vs embedding them in the document, but it seems that it goes further than I thought:
[SVG as an Image - MDN](https://developer.mozilla.org/en-US/docs/Web/SVG/SVG_as_an_Image)
As such, it seems they are inert when used as images, not just in terms of JS but

[2019-02-15 21:31] ghostwords commented on #1796
Yep, this is a Firefox-specific Service Workers bug: https://github.com/EFForg/privacybadger/issues/1144#issuecomment-436444285. Reproducing it is a bit tricky as it requires you to "warm up" the worker. You can see https://bugzilla.mozilla.org/show_bug.cgi?id=1499523 for more information.

We haven't patched it yet in Privacy Badger but hope to soon as it affects all sites that use Service Worker

[2019-02-16 16:07] stereobooster opened #1810 "Constantly seeing offline screen"
**Describe the bug**

Opened direct link to dev.to article and saw offline screen. `Cmd` + `R` didn't help. I was online all the time. The only thing which is helped is to remove ServiceWorker completely and reload page.

**To Reproduce**
Steps to reproduce the behavior:

1. Open any link to dev.to post

**Expected behavior**
No offline screen if browser is online

**Screenshots**
N/A

**Desktop (

[2019-02-17 17:31] #327 closed

[2019-02-18 02:16] weekly-digest[bot] opened #1816 "Weekly Digest (11 February, 2019 - 18 February, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 41 issues were created.
Of these, 27 issues have been closed and 14 issues are still open.
## OPEN ISSUES
:green_heart: #1810 [Constantly seeing offline screen](https://github.com/thepracticaldev/dev.to/issues/1810), by [stereobooster](https://github.com/stereobooster)

[2019-02-18 09:37] lightalloy commented on #1606
Closed by  #1766

[2019-02-18 09:37] #1606 closed

[2019-02-18 09:40] zafar-saleem opened #1817 "Seeing error on Save Post, title can't be blank"
After writing a post, when I press save post I get an error "title can't be blank". But the title of the post is there.

**To Reproduce**

1. Write post
2. Write your post and give title
3. Click on Save Post
4. You see error.

**Expected behavior**
It should save the post instead of showing error as the title is there.

**Screenshots**
https://imgur.com/a/bJYCIbw

**Desktop:**

- Browser chrome

[2019-02-18 09:43] Glennmen commented on #1817
@zafar-saleem I think it would also be helpful to include a screenshot of the markdown editor, in the provided screenshot I don't see any of the meta attributes (title, published, ...).

[2019-02-18 09:44] zafar-saleem commented on #1817
When I give the meta attributes the same error shows.

[2019-02-18 09:47] Link2Twenty commented on #1817
Your post should start like this

[code]

Then you can add your post content.

[2019-02-18 09:47] Glennmen commented on #1817
@zafar-saleem With the info you provided now I think this is a user error and not a bug.

I don't see the Front Matter block in your editor so I assume that it isn't the first thing in your blog post. From the docs of [Jekyll Front Matter](https://jekyllrb.com/docs/front-matter/):

[2019-02-18 09:49] zafar-saleem commented on #1817
@Link2Twenty That is exactly how it should but if I start my post your way or the way I did it looks the same in preview but I still see the same error I mentioned above. I am not sure why.

[2019-02-18 09:53] Link2Twenty commented on #1817
Can you try entering this as a new post and see if you still get the error?

[code]

[2019-02-18 09:54] zafar-saleem commented on #1817
@Glennmen and @Link2Twenty here is a screenshot with meta tag. [write post errors](https://imgur.com/a/ISus3Wq). As you can I get an additional error.

[2019-02-18 09:55] Link2Twenty commented on #1817
But you can't have that image in the header section.

[2019-02-18 09:56] Link2Twenty commented on #1817
If you want a cover image you need to add it like this

[code]

[2019-02-18 09:56] zafar-saleem commented on #1817
Even if I remove that image above 2 errors still exist.

[2019-02-18 09:57] Link2Twenty commented on #1817
Can you paste in the entire body text, I believe it must be a syntax error? 🙂

[2019-02-18 11:09] mkrl opened #1826 "Keyboard shortcuts for markdown editor"
**Is your feature request related to a problem? Please describe.**
Having keyboard shortcuts always comes in handy. Next to every single markdown editor (including the one I'm using to write this issue) offers at least a couple of very basic shortcuts for bold/italic/code blocks, etc. Being able to keyboard-ninja comments and posts can greatly benefit user experience.

**Describe the solution you'

[2019-02-18 17:59] maestromac commented on #118
not stale

[2019-02-18 18:49] rhymes opened #1827 "Remove rails-controller-testing gem"
**Is your feature request related to a problem? Please describe.**

The [rails-controller-testing](https://github.com/rails/rails-controller-testing) gem is supposed to bring back two methods that have been deprecated in Rails: `assigns` and `assert_template` since when Rails started discouraging testing controller internals and views from the controller tests.

This gem though doesn't seem to be

[2019-02-18 19:51] willamesoares commented on #1794
Hey @aspittel, is this currently being worked on by someone? If not, let me know and I can take a look at it this week, thanks ;)

[2019-02-18 19:58] willamesoares commented on #1554
Hey @jessleenyc, is this being worked on by someone? I can take a look at it this week. Let me know.

[2019-02-18 20:02] jessleenyc commented on #1810
Thanks for flagging, we'll look into this.

[2019-02-18 20:05] #1816 closed

[2019-02-18 20:08] jessleenyc commented on #1817
Thanks for helping @Glennmen and @Link2Twenty!

@zafar-saleem this does appear to be a syntax error based on your screenshot. If you have problems troubleshooting, you might want to try the v1 editor instead -- a bit more intuitive if you're unfamiliar with front matter.

To toggle the v2 editor you can visit dev.to/settings/misc, type in 'v2', and save.

[2019-02-18 20:10] jessleenyc commented on #1826
Thanks for the request! We have this implemented for comments but I can't see a reason why we wouldn't also have it for posts

[2019-02-18 20:14] jessleenyc commented on #1554
Nope, go for it! I think the second solution -- have it be a bigger comment box probably makes the most sense here.

[2019-02-18 20:16] benhalpern commented on #1826
For implementation, there is a GitHub lib we may want to make use of.

I think it's this one, unless I'm confused: https://github.com/github/hotkey

We could do this on top of the current implementation, but we could migrate towards this library. It makes sense to get inline with GH as an app with similar use cases.

Let me know if I'm mistaken about that being the right library.

[2019-02-18 20:31] jessleenyc commented on #1765
That is indeed the case. I think we should consider adding an update button next to each post so people can manually fetch the latest numbers. I'll create a separate issues for that.

I don't seem to be able to recreate your issues though. Have the numbers updated at all?

[2019-02-18 21:02] alex-bender commented on #193
Hey guys, any updates on this?
I'm still getting doubled emails, the newsletter ones.

[2019-02-18 21:39] jessleenyc commented on #193
This issue isn't fixed yet but I just unsubscribed your old email address from the newsletter list, @alex-bender!

[2019-02-18 21:41] alex-bender commented on #193
Whoa! Thanks, great news!

[2019-02-18 21:56] jessleenyc commented on #193
@vickylai lmk if you want me to do the same for you!

[2019-02-18 22:10] vickylai commented on #193
I’m not getting duplicate emails currently (I think I unsubscribed myself already). Thanks Jess!

[2019-02-18 22:18] maestromac commented on #1827
I ran the test suite without that gem and it failed a few spec.  ![](https://cl.ly/cd3d1bb68202/Image%202019-02-18%20at%205.16.46%20PM.png)

We can keep this issue open to help us finally move away from controller specs.

[2019-02-18 22:24] rhymes commented on #1827
Oooh, Rspec is magic, I didn't think about `render_template`. Thanks for the experiment

[2019-02-18 23:30] benhalpern commented on #911
Hey sorry, this is in the works. I left this part-done work hanging.

https://github.com/thepracticaldev/dev.to/pull/1499

I'll get back to it soon—there are a few small details I didn't quite think about. They aren't hardcore blockers but need to circle back and ship that. If anyone wants to push that element forward a bit, feel free to go for it. Otherwise I'll be back to it within 10 days from

[2019-02-18 23:34] benhalpern commented on #659
It looks like this is specifically designed for frontend—and written in JS. Looks like it uses D3, so it seems like it's 100% designed for the frontend. It _could_ be implemented on the backend, but not sure where things are with that.

Frontend might ultimately be more practical. We'll keep considering the options.

[2019-02-18 23:36] benhalpern commented on #446
We had some hiccups on communication in the initial implementation of this, but I think I could whip together a satisfying implementation pretty quickly so I'm going to take a stab at it.

[2019-02-18 23:38] benhalpern commented on #1498
This specific issue was dealt with by _slightly adjusting_ the size and colors here. So will close this now as good enough for now.

[2019-02-18 23:38] #1498 closed

[2019-02-18 23:38] #1745 closed

[2019-02-18 23:40] benhalpern commented on #1607
Circling back here. We'll consider this the next time we modify this functionality or implementation in any way (right now, the initial implementation of "Mastadon URL" is probably incomplete either way since we rely on a hardcoded allowed list.)

I don't know the answer but we'll consider this argument in the next cycle.

[2019-02-18 23:48] benhalpern opened #1828 "Could view linting be suppressing contributions?"
I have the feeling that view linting could be presenting a pretty strong burden to contributions. You could make a small contribution and get hung up with a huge linting fix chore as it currently stands.

I just feel like as an outsider without context it could add a bit too much burden at the time being. Thoughts on taking it away as a blocker to pushing and leave it as something folks can volunt

[2019-02-19 06:14] rhymes commented on #1828
You make a really good point!

I don't know if it's actually deterring people from contributing but I agree that it can be a nuisance when ran automatically, especially if the contributor is a beginner.

I wonder if, before taking a decision either way, we could run the linting on the view files and see how far along the whole thing is and/or if Code climate has a specific metric on those.

This w

[2019-02-19 08:07] lightalloy commented on #1828
Ben, you mean that someone makes a small contribution and has to fix all the issues in the changed file?
That could be a problem, but I'm not sure about it.

In my opinion, the code will never reach 90+-% (or similar) of linting w/o the hook that forces the "correct" code style, because the new code won't be checked also, and the contributors (even the core team) won't check it every time unless t

[2019-02-19 08:14] Glennmen commented on #1828
I think Ben is referring to what I mentioned here #1784 and that was only from one view file.

Also I wrote a little about it in [my blog post](https://dev.to/glennmen/changelog-github-pr-liquid-tag-support-3m1b) and tried to open a discussion about it, glad to see that Ben is doing that here.

[2019-02-19 08:36] lightalloy commented on #1828
@Glennmen Thanks for starting a discussion.
As for the existing linting issues in views, there are a lot of them, cause views linting has been introduced recently. The hook should only check the new or changed files before the commit. For now, I'm not sure why it required you to fix an untouched view file.
The `--no-verify` is probably used sometimes. In my opinion, it's not ok in most cases. I've

[2019-02-19 08:46] Glennmen commented on #1828
@lightalloy Just to be clear, I did edit that view file. I added the Github PR info to the markdown help docs.
However I still had to add `--no-verify` or else I wasn't able to commit, there was 1 linting error that I wasn't able to fix because it would parse the html in the code block instead of print it and I wasn't able to find a fix for that.

[2019-02-19 09:37] lightalloy commented on #1828
@Glennmen, oh, I see. Thanks for the explanation. I've made [a pr](https://github.com/thepracticaldev/dev.to/pull/1830) to disable the corresponding cops.

[2019-02-19 11:45] lightalloy commented on #1621
I have found 2 situations when these errors may occur:
- follow created and immediately destroyed
- reaction created and immediately destroyed
These operations can be easily done through the interface. So the delayed job remains after the record is destroyed and fails with an error later.
I'm currently working on fixing these issues.

If you know other situations when the errors may occur, please

[2019-02-19 12:28] lightalloy opened #1831 "CacheBuster#bust_comment may fail on banishing user"
**Describe the bug**
`Commentable` is passed and referenced in the `CacheBuster#bust_comment`(https://github.com/thepracticaldev/dev.to/blob/master/app/labor/cache_buster.rb#L15) method, but sometimes `commentable` could be `nil`, because the comments are not destroyed on commentable (e.g. article) destroy.

**To Reproduce**
- Destroy an article with comments
- Try to banish a user, who left of th

[2019-02-19 14:40] Zhao-Andy commented on #1223
In both instances, removing @stephencweiss and @tdwright's RSS feed URL seemed to work. Might be related to #1051.

We're going to close this for now and keep #1051 open. If you have issues signing in and see the error message of "Invalid credentials", let us know via yo@dev.to!

[2019-02-19 14:40] #1223 closed

[2019-02-19 14:40] Zhao-Andy commented on #1051
After some investigation, it seems like sometimes even `valid` users with RSS feed URLs attached can prevent sign ins. Will need to research some more.

Possibly related to #1223

[2019-02-19 14:50] nickytonline commented on #1828
I have no idea if it's preventing contributions. Could be a good meta post @benhalpern on the site to ask the community.

Having said that, I think the issue is not the pre-commit, but the fact that there is linting debt and running `--no-verify` adds to that. If someone were to create new files, so no previous lint debt, and linting fails, I consider that a good thing. The linting rules (eslint,

[2019-02-19 15:10] benhalpern commented on #1828
@nickytonline I made a post to ask the question in general. It could add to the discussion here. https://dev.to/ben/can-forced-linting-surpress-contributions-when-linting-is-first-introduced-2dn5

I agree with the longterm benefits of linting, of course, but I feel like we _may_ want to introduce this particular hook in some kind of more gradual way. Perhaps as a voluntary option at first.

Anyway

[2019-02-19 15:27] jessleenyc commented on #1796
Thanks everyone. Looks like this is out of our hands so I'm going to close this issue.

[2019-02-19 15:27] #1796 closed

[2019-02-19 16:17] Glennmen commented on #1828
I already planned to make an issue about something else I found before this issue but since it is kinda related I will add it to the discussion here (if wanted I could still make a separate issue).
This was something that wasn't being catched by the pre-commit linting, travis, codeclimate, ... but I only noticed it because of my IDE (RubyMine/JetBrains). None of the users probably noticed because

[2019-02-19 16:28] aspittel commented on #1828
I would lean towards disabling this until refactoring/cleaning up of older code is complete. Having a bunch of errors intimidated me when I started working on the code base, and I think it might for other people too. Refactoring some of the Preact code to fit the linting requirements would be pretty time consuming with the amount of errors and the depth of them.

[2019-02-19 17:07] maestromac commented on #1828
I like @nickytonline 's approach a lot.

@Glennmen 1 big PR for fixing lint is fine but please split it up if it's more than 1000 line changes. Please ignore what you can't fix but also let us know what those are so we can decide if something should be changed.

[2019-02-19 17:38] Zhao-Andy commented on #1828
Also in favor of disabling until a refactoring/linting is done, like @aspittel said. Following @nickytonline's approach seems to be the right direction too.

It might be worthwhile to look at this from an 80/20 perspective, where we spend some time to resolve linting errors for the easiest 80% of the files (all `.scss` and `.html.erb` files, for example), and leave the hardest 20% to be refactored

[2019-02-19 17:43] rhymes commented on #1828
I've tried running `erblint --lint-all --autocorrect` on the entire code base and I got the following output:

[code]

The `git diff` is quite big and completely generated by the autocorrect. Mostly spaces, fixed indentation,  hash parameters and other small things but I also see some questionable refactorings.

This is how many lines have been changed:

[code]

I **would not** recommend doing a b

[2019-02-19 18:34] Glennmen commented on #1828
From rhymes his intel I would say it might be to big for 1 PR, especially since those numbers are only lint fixes and doesn't include any HTML fixes that I also want to include in the PR.

[2019-02-19 19:50] Zhao-Andy commented on #1155
Not stale, still a valid bug.

[2019-02-19 21:38] jessleenyc opened #1832 "Send email when RSS posts are ready to be published"
**Is your feature request related to a problem? Please describe.**
There are lots of unpublished 'draft' posts that get pulled in from RSS feeds. I think it would be helpful if we reminded people to publish these posts!

**Describe the solution you'd like**
We regularly check whether a user has new RSS posts and send and email if they do.

**Describe alternatives you've considered**
We send an ema

[2019-02-19 21:49] #1112 closed

[2019-02-19 21:50] Zhao-Andy commented on #1154
Not stale, still valid.

[2019-02-19 21:58] pkfrank opened #1833 "Add manual refresh option to fetch from RSS"
**Is your feature request related to a problem? Please describe.**
As an author with an RSS feed, I want DEV to import new posts from my RSS feed as they become available.  Currently, the [`/settings/publishing-from-rss`](https://dev.to/settings/publishing-from-rss) page has this copy:

I don't think it's sufficiently clear and obvious to authors that hitting the `Submit` button will re-fetch post

[2019-02-20 07:58] lightalloy commented on #1828
Please, be careful with `--autocorrect`. It's not ideal for `erblint`, I found out that sometimes it tries to fix the indentation incorrectly, which leads to invalid code. So the autocorrected files should be checked before committing.
I agree with @rhymes that it would be better to make relatively small prs to eliminate the debt gradually,

[2019-02-20 13:42] BilalBudhani commented on #1826
There is also https://github.com/jaywcjlove/hotkeys which is widely used and has a better API. You must consider it as well.

[2019-02-20 14:18] Glennmen commented on #1828
I will probably start fixing the view files this weekend, unless someone decides it needs more thought first.
Because of the size of the changes this is my planned workflow:
- Each folder in `/app/views/` will be a separate PR, so 32 PR's will be made. Some might be small PR's with only a couple of changes but splitting this up will help us review quicker and get it all merged.
- I will only do `h

[2019-02-20 14:53] mkrl commented on #1826
I would say using a long-run maintained library instead of 1 month old one should be considered as a "more win" for production. Even if the latter is developed by GitHub. Plus, there is a React component ready to go.

[2019-02-20 16:06] #1817 closed

[2019-02-20 19:53] wuz opened #1837 "Sort Dashboard by Publish date where available"
**Is your feature request related to a problem? Please describe.**
I frequently save article ideas as drafts to my dashboard to come back and work on them. For the most part this works great, but the posts on the dashboard are sorted by creation date (I assume). That leads to a situation where some posts that are published later than others are listed before them on my dashboard. Here is an exampl

[2019-02-20 19:54] johnpapa opened #1838 "Posts are not listed in order of publication date in the tag feed"
**Describe the bug**
Posts are not listed in order of publication date

**To Reproduce**
Steps to reproduce the behavior:

1. Go to <https://dev.to/t/javascript>
2. Notice posts are not in the published date sequence

**Expected behavior**
Expected to see most recently published posts on top (or a sorting menu)

**Screenshots**
![image](https://user-images.githubusercontent.com/1202528/53120229-5f

[2019-02-20 23:34] maestromac commented on #1838
Thank you for this issue @johnpapa ! The Feed tab takes into account recent submissions, along with other factors such as reactions and comments.  The [Latest tab](https://dev.to/t/javascript/latest) provides submissions in a strict chronological order.

[2019-02-21 04:25] benhalpern commented on #1838
Yep, as @maestromac mentioned, it's a "hotness" feed, not strictly chronological, similar to Reddit etc. I'll close this as it is intended behavior, but if you feel like this should be changed or needs clarification through design or anything else, feel free to open another issue.

[2019-02-21 04:25] #1838 closed

[2019-02-21 06:55] ralphkalsi opened #1841 "Unable to post my article on Dev.to"
**Describe the bug**
I am unable to add my article on Dev.to

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Write a post'
2. Click on 'write to post'
3. Scroll down to '....'
4. See error - 500 Error and shows below given message
"500 Error
It's not you, it's me.
Sorry you're hitting this page.
Please help us by submitting a bug report.
Thank you!"

**Expected behavior**
A clear and

[2019-02-21 09:31] lightalloy commented on #1828
@Glennmen Using `--autocorrect` is fine, if you check the fixes manually afterward. It fixes most of the cases correctly and could make the process much faster.

[2019-02-21 10:01] lightalloy opened #1842 "Fix linting issues in the views"
A couple of weeks ago `erblint` and the corresponding `lint-staged` hook were added to the project.
But for now there is a huge linting debt in the `*.html.erb` files.  You can learn more about how it could affect the project and the contributions to it from the discussion #1828 .
Volunteers could help the project to eliminate the debt or make it smaller.
You can get the list of the linting issues

[2019-02-21 10:03] lightalloy commented on #1828
@Glennmen I've also made an issue for the task.

[2019-02-21 10:28] Glennmen commented on #1842
I will probably start working on this this weekend (not sure if you can assignee an issue to me), if anyone wants to help please check if I am not already working on that specific folder.

![volunteer](https://media.giphy.com/media/EfHmlClbuNAGc/giphy.gif)

[2019-02-21 16:31] pkfrank commented on #1841
Hi, this seems to be a specific issue with your account. Please email yo@dev.to for more help.

[2019-02-21 16:31] #1841 closed

[2019-02-21 20:13] maestromac commented on #1697
Resolved with https://github.com/thepracticaldev/dev.to/pull/1773

[2019-02-21 20:13] #1697 closed

[2019-02-21 20:37] maestromac commented on #1837
Thank you for this feature request @wuz . This make a lot of sense. Articles should be sorted by publish date and not creation date.

[2019-02-21 20:52] maestromac commented on #1746
Resolved with https://github.com/thepracticaldev/dev.to/pull/1787

[2019-02-21 20:52] #1746 closed

[2019-02-22 00:18] arnellebalane commented on #1842
Hello 👋  I'd like to start working on fixing the linting issues for the views in `app/views/additional_content_boxes`.

[2019-02-22 01:22] arnellebalane commented on #1842
Currently fixing linting issues for `app/views/admin` files.

[2019-02-22 07:41] rhymes commented on #1842
Like the idea of using this thread to coordinate, thanks @lightalloy !

[2019-02-22 09:16] Glennmen commented on #1842
@arnellebalane I lots of files there are also HTML errors, if you find any please also fix them.

As I mentioned here:
https://github.com/thepracticaldev/dev.to/issues/1828#issuecomment-465199995

[2019-02-22 09:32] arnellebalane commented on #1842
@Glennmen Noted, thanks for pointing that out! I'll keep an eye on errors like those in the views as I go along fixing linting issues in them 👍

[2019-02-22 10:15] lightalloy commented on #1621
I decided to make separate pull requests for the Follows and Reactions not to make a pr huge. Here's the first pr - https://github.com/thepracticaldev/dev.to/pull/1835

[2019-02-22 13:48] kay-is opened #1845 "Canonical url has already been taken"
**Describe the bug**
I wanted to save an article with a `canonical_url`, but got an error.

**To Reproduce**
Steps to reproduce the behavior:

1. Write an article
2. Save it
3. Set the `canonical_url` to an URL that indeed is already taken
2. Save it
4. Get the error "Canonical url has already been taken"
5. Go back and change the `canonical_url` to an URL that isn't taken
2. Save it
6. Still get

[2019-02-22 18:17] Glennmen commented on #1842
Working on `app/views/articles`

[2019-02-22 22:37] WesSouza commented on #423
I'd really like to turn comments off on all my posts.

I like to keep the content static, and have conversations on other means such as Twitter.

My ideal situation would be something like:

[code]

Which would then show this below the author information, with a nice design:

[code]

[2019-02-22 22:54] WesSouza opened #1849 "Allow photo credit attribution for cover_image"
It is common practice to add credits to pictures used in articles. I'd propose adding more properties to FrontMatter so that a `<figcaption>` element is added below the photo.

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**
I'm using the end of my post for the attribution, but that's not ideal IMO.

**Additional context**
<img width="925" alt="screen shot

[2019-02-23 12:52] Glennmen commented on #1842
I thought it might be helpful to add a checklist:

- [x] additional_content_boxes (#1843)
- [ ] admin (WIP @arnellebalane)
- [x] api (No `*.html.erb` files)
- [ ] articles (WIP @Glennmen #1848)
- [ ] badges (WIP @Glennmen #1850)
- [ ] blocks
- [ ] chat_channels
- [ ] comments
- [ ] dashboards
- [ ] devise
- [ ] email_subscriptions
- [ ] events
- [ ] feedback_messages
- [ ] fields
- [ ] giveaways
-

[2019-02-23 15:50] TheJaredWilcurt opened #1855 "Markdown: Code blocks in numbered lists"
On GitHub, Reddit, etc. I can do this

1. The first step is to `npm install`
1. Next add this code:
[code]
1. Step 3 is to...
1. The the fourth step is....
1. Step 5...

But on dev.to it looks like this:

1. The first step is to `npm install`
1. Next add this code:
[code]
1. Step 3 is to...
1. The the fourth step is....
1. Step 5...

* * *

If there is a way to embed code blocks into ordered lists

[2019-02-23 15:56] Defman21 opened #1856 "Ignore/blacklist tags"
**Is your feature request related to a problem? Please describe.**
The problem is that I want some posts to disappear from my feed.

**Describe the solution you'd like**
I want to have the ability to ignore a tag.

**Describe alternatives you've considered**
Looks like the only way to achieve it atm is following the tag and setting its weight to -999 or something. I don't want to follow tags that

[2019-02-23 17:42] Nakilon commented on #28
Am I blind or there is no feed per topic? Like for https://dev.to/t/ruby
Subscribing to just exact posters, not topics, is pointless and ineffective.

[2019-02-24 02:55] ItsASine commented on #745
I ran into this today, and as a quick fix:
1. I made an empty public repo with the name of the deleted one in Github
1. Cleared cache on my DEV integrations page since I had already had it open
2. Removed the repo from my pinned stuff in DEV
3. Deleted the empty repo in Github

Hacky, yes, but effective... yes ¯\\\_(ツ)_/¯

[2019-02-24 06:42] FredoGonzalezR commented on #1595
Well @rhymes has an interesting point.
But even if Google is not a worth option for authentication, I'd like to discuss and suggest to **add at least email login** and not depend on a third party to have access to dev.to.

What happens if Twitter or GitHub closes or I lose access to my account? They are communities too, and they could have their own rules different to dev.to's.
They are both tech

[2019-02-24 11:27] rhymes commented on #1856
This might be useful as the site's userbase grows up.

@Defman21 do you know what happens to an article that has two tags, one that you follow regularty and one set to -999? Does the article gets pushed down? Or does the followed tag trump the downgraded one?

[2019-02-24 11:31] rhymes commented on #1595
@FredoGonzalezR you make a valid point, I'd open a separate issue ticket only for the email registration / sign in and submit it to the core team and the community :)

[2019-02-24 11:57] rhymes opened #1857 "Enable delayed job web for admins in production"
**Is your feature request related to a problem? Please describe.**

I've noticed that [delayed job web](https://github.com/ejschmitt/delayed_job_web) was recently introduced by @lightalloy in #1835 which is a great addition because it helps knowing what's going on in the job queue.

I'd like to propose extending the web interface not just for unauthenticated development usage but also for people w

[2019-02-24 12:15] Defman21 commented on #1856
I haven't done my trick, so imo:

1. The article should be pushed down to the bowels of hell if I don't follow any other tags in the article.
2. The article should be visible, though its position in the feed depends on how much of my following tags intersects with the article's. Their weight should also affect that (e.g. it should be somewhere in the top if I ignore only 1 and follow 3-4 of 6 tags

[2019-02-24 17:50] Glennmen commented on #1842
Not sure if this is correct but it is kinda strange that `app/views/homepage/` only contains an empty file.

https://github.com/thepracticaldev/dev.to/blob/e45c61a3084f4b70907476de307b3b1e9cbd77b3/app/views/homepage/index.html.erb

[2019-02-24 18:10] JuliaTorrejon opened #1864 "Organise and group tags by topics and subtopics"
**Is your feature request related to a problem? Please describe.**
The usability of the tags is not fully clear when searching for specific topics and/or subtopics.

**Describe the solution you'd like**
I think the functionality of the tags could be more valuable if they could be organised and grouped in a drop-down list by main topics such as Tools, Programming Languages, Tips, etc; and these, in

[2019-02-24 18:46] ItsASine commented on #1856
I almost think there needs to be a "sometimes" and "never" in that case. Like, I'm interested in `javascript`, not interested in `mongo`, and never interested in `video`. A MEAN stack article might interest me sometimes, but a JS video would never interest me.

[2019-02-24 21:20] agonzalezio opened #1865 "Add email login"
**Is your feature request related to a problem? Please describe.**
Current account login methods aren't the most suitable for keeping our account access safe.

Using GitHub or Twitter it's ok, but we must remember that they are communities separated from dev.to, they have their own rules and guidelines to determine which accounts must be deleted or suspended.

Also, as they are tech giants it migh

[2019-02-24 22:39] willamesoares commented on #1554
@jessleenyc I have a question: for the text area element, why are users supposed to not be allowed to resize it? Was that on purpose?

I checked both options and from what I see it seems that the easiest way to handle edge cases and avoid future complaints about this is to allow users to resize the text area only *vertically* as much as they want.

I added a GIF to the PR [#1866](https://github.co

[2019-02-24 23:08] sw-yx opened #1867 "[Feature request] github flavored markdown"
**Is your feature request related to a problem? Please describe.**

I want to write github flavored markdown in dev.to, but it doesnt take it

**Describe the solution you'd like**

Parse github flavored markdown in dev.to

**Describe alternatives you've considered**

No change

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-02-24 23:13] sw-yx opened #1868 "[Feature Request] autogenerated table of contents"
**Is your feature request related to a problem? Please describe.**

Markdown header tags now have anchor tags, so we can generate tables of contents for the articles.

this encourages more browsable longer form content on dev.to.

optionally, we can make the TOC float in a sidebar.

**Describe the solution you'd like**

possibly use a TOC generator like https://ecotrust-canada.github.io/markdown-t

[2019-02-24 23:16] sw-yx commented on #1172
the black dots dont fulfil long series with visible names like i have here

https://dev.to/swyx/supervised-learning-bayesian-learning-403l#next-in-our-series

[2019-02-25 02:16] weekly-digest[bot] opened #1869 "Weekly Digest (18 February, 2019 - 25 February, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 52 issues were created.
Of these, 18 issues have been closed and 34 issues are still open.
## OPEN ISSUES
:green_heart: #1868 [[Feature Request] autogenerated table of contents](https://github.com/thepracticaldev/dev.to/issues/1868), by [sw-yx](https://github.com/sw-yx

[2019-02-25 04:40] simevidas opened #1870 "Consider adding support for the <mark> element"
The `<mark>` element is useful for highlighting certain words and phrases in text, which reduces the “wall of text” issue. Browsers already render this element using a yellow background.

I ask Dev.to to not strip the `<mark>` element from the HTML output of articles. Authors can use this element in Markdown normally.

An example of how `<mark>` improves the readability of content:

<img width="88

[2019-02-25 06:28] Defman21 commented on #1856
I don't think you'd need the `sometimes` level. You can:

1. Follow a tag (interested).
2. Don't follow it (not interested/sometimes).
3. Simply ignore it (never interested).

[2019-02-25 08:58] arnellebalane commented on #1842
Currently fixing linting issues for `app/views/html_variants` files.

[2019-02-25 09:18] arnellebalane commented on #1842
Currently fixing linting issues for `app/views/internal` files.

[2019-02-25 11:23] arnellebalane commented on #1842
Currently fixing linting issues for `app/views/layouts` files.

[2019-02-25 11:27] Glennmen commented on #1842
@arnellebalane If the PR still has open errors submit it as a Draft PR or add `[WIP]` in the PR title.
Unless project maintainers say it is fine to merge PR's with open linting errors.

[2019-02-25 11:44] arnellebalane commented on #1842
@Glennmen Okay noted, I've updated my existing PRs with errors to start with `[WIP]` in their titles. Thanks! 👍

[2019-02-25 12:41] lkopacz opened #1885 "<video> tag in markdown doesn't respect the blog posts container"
**Describe the bug**
I crosspost all my blog posts from my personal blog and in the most recent particular post I used a lot of video tags that were not using YouTube or Vimeo.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/new and create a new post.
2. In the Markdown, add ` video tag like the one below
[code]
3. In the Front Matter, keep `published: false`, but add a

[2019-02-25 13:49] jessleenyc commented on #1073
hey @djhopper01, are you still interested in working on this?

[2019-02-25 16:19] Link2Twenty commented on #1885
I think we'd need to add `controls` to the scrubber's `attributes` list
https://github.com/thepracticaldev/dev.to/blob/master/app/sanitizers/rendered_markdown_scrubber.rb

Then in the CSS, we'd want something like.
[code]
https://github.com/thepracticaldev/dev.to/blob/master/app/assets/stylesheets/article-show.scss

[2019-02-25 16:23] Link2Twenty commented on #1870
It should be a simple as adding it to the `tags` list in the scrubber
https://github.com/thepracticaldev/dev.to/blob/master/app/sanitizers/rendered_markdown_scrubber.rb

Provided the team are ok with `<mark>` being included.

[2019-02-25 16:26] Link2Twenty commented on #1868
Headers are anchors. It's the header text lowercase with spaces replaced with dashes.
https://dev.to/swyx/supervised-learning-support-vector-machines-3mgk#svms-and-boosting

Though, having an auto-generated TOC might be something to look at, thoughts @benhalpern ?

[2019-02-25 16:30] Link2Twenty commented on #1867
Which bits of markdown are you missing?

Here's GitHub's markdown https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf

and here is Dev.to's https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet

I think a couple of things are missing, like checklists.

[2019-02-25 16:31] arnellebalane commented on #1842
Currently fixing linting issues for `app/views/mailers` files.

[2019-02-25 16:33] Link2Twenty commented on #1864
Currently, this list is based on the tags the author add to their post.

How do you envisage an author getting their post under the "while statement" category?
[code]
Something like that?

[2019-02-25 16:57] arnellebalane commented on #1842
Currently fixing linting issues for `app/views/moderations` files.

[2019-02-25 17:12] sw-yx commented on #1867
i like using `<details>/<summary>` tags with markdown inside them. https://github.github.com/gfm/#example-155

[2019-02-25 17:13] sw-yx commented on #1868
i actually meant to change that text, i'm going to edit my text now to make it less confusing

[2019-02-25 17:19] maestromac commented on #28
Hello @Nakilon , that feature is currently not available. The feature request for it is [here](https://github.com/thepracticaldev/dev.to/issues/201).

[2019-02-25 17:22] Butonix opened #1890 "Uncaught Error: Module build failed: SyntaxError: 'import' and 'export' may only appear at the top level (22:2)"
`ERROR in ./app/javascript/packs/Onboarding.jsx
Module build failed: SyntaxError: 'import' and 'export' may only appear at the top level (22:2)

  20 |
  21 | function renderPage() {

     |   ^
  23 |     .then(({ default: Onboarding }) => {
  24 |       let waitingForOnboarding = setInterval(function(){
  25 |         if (document.getElementById("main-head-stylesheet")) {

ERROR in ./app/javascr

[2019-02-25 18:00] #1890 closed

[2019-02-25 19:32] Butonix opened #1892 "How to add admin user?"
How to add admin user?

[2019-02-25 20:31] bronzehedwick opened #1893 "Support webmentions on dev.to"
I'd be great to send [webmentions](https://indieweb.org/Webmention) of comments/likes/etc on dev.to, to dovetail with the great RSS POSSE publishing feature.

[2019-02-25 21:03] #1892 closed

[2019-02-25 21:17] #1869 closed

[2019-02-25 22:25] #1222 closed

[2019-02-25 22:31] Glennmen commented on #1842
@maestromac you are a fast reviewer 😂
I hope I didn't miss anything, once we do a general sweep through all folders I will go through each one again to double check for HTML errors.

[2019-02-25 22:35] maestromac commented on #1842
It feels great reviewing/merging lint fixes 😄

These PRs doesn't have to fix _everything_. And yeah, can always run the linter again on the whole views folder to see what's left.

[2019-02-25 22:39] Glennmen commented on #1842
@maestromac Problem is that the linter doesn't catch HTML errors, I am trusting Jetbrains to help me find HTML errors.

[2019-02-25 22:53] maestromac commented on #293
not stale

[2019-02-26 01:08] jessleenyc commented on #1837
Agreed! This is approved if anyone wants to jump on it.

[2019-02-26 01:10] jessleenyc commented on #1842
Just need to jump in a say that this is amazing. Thanks everyone 🙌

[2019-02-26 01:11] jessleenyc commented on #1845
Hmm ok, I'll take a look at this in the morning.

[2019-02-26 01:16] jessleenyc commented on #1849
I'm in support for something like this but we'll want to make sure it works with both editor versions. @benhalpern thoughts on that placement?

[2019-02-26 01:28] jessleenyc commented on #1855
Thanks for the issue! @maestromac any thoughts on this?

[2019-02-26 01:34] jessleenyc commented on #1856
I think this makes a lot of sense but I'm not sure 'ignore' on every button is how we would want to present it. Might make sense as a list of tags to ignore under user settings.

[2019-02-26 01:47] aspittel commented on #1855
I think this is a bug in RedCarpet which we use for Markdown! Think it would be awesome for someone to tackle that though. https://github.com/vmg/redcarpet/issues/664

[2019-02-26 04:15] maxcell commented on #1837
I'd take it on @jessleenyc! 😄

[2019-02-26 05:38] maxcell commented on #1837
A question that does come to mind when we want to organize everything by published date, which I think I'm down for.  Do we think that drafts should have highest priority in the display? For instance this would be a way of having them:

![image](https://user-images.githubusercontent.com/8431042/53389728-6a060800-395e-11e9-8a28-8a3eb620756b.png)

 I know that you @wuz initially proposed an ability

[2019-02-26 08:21] Link2Twenty commented on #1867
Reference: #947

[2019-02-26 08:33] sw-yx commented on #1867
ah. two sides of the same coin. better to stay as close to gh markdown as possible since that is what devs will mostly be used to.

[2019-02-26 11:40] ShivamSinghania commented on #243
I need this feature too. I have created 2 orgs on github and I would like to pin them (org/repo) to my profile. GitHub's API [mentions](https://api.github.com/users/ShivamSinghania/orgs) my public org memberships.

[2019-02-26 12:53] jessleenyc commented on #1855
Good call, going to label this as blocked

[2019-02-26 12:56] jessleenyc commented on #1837
A way of sorting will likely be most useful but @benhalpern will probably have some additional thoughts there.

[2019-02-26 13:16] arnellebalane commented on #1842
Currently fixing linting issues for `app/views/reading_list_items`.

[2019-02-26 13:19] jessleenyc commented on #1833
We could also change the button to update as a quick enhancement.

[2019-02-26 13:25] arnellebalane commented on #1842
Currently fixing linting issues for `app/views/social_previews`.

[2019-02-26 13:29] arnellebalane commented on #1842
Currently fixing linting issues for `app/views/stories`.

[2019-02-26 13:33] jessleenyc commented on #1864
I'm having a hard time thinking through how subcategories would work but in the past we've had discussions around adding a "type" to articles i.e. tutorial, course, personal essay, career.

[2019-02-26 13:38] jessleenyc commented on #1865
Thanks for the request. We revisit this idea every few months so it's helpful to get the feedback on this.

[2019-02-26 13:39] arnellebalane commented on #1842
Currently fixing linting issues for `app/views/stripe_subscriptions`.

[2019-02-26 13:42] arnellebalane commented on #1842
Currently fixing linting issues for `app/views/tags`.

[2019-02-26 13:43] TheJaredWilcurt commented on #1855
The issue you linked to deals with code blocks that have lines that begin with `#` being converted to Headings. My issue is not related to that. It is that **any** codeblock will force the end of the list, rather than being indented inside the list. The code block renders accurately, just not in the correct nesting.

[code]

when it should be doing

[code]

[2019-02-26 14:20] jessleenyc commented on #1885
hm I didn't even realize we supported the video tag...but looking at the code we clearly do. This is approved if anyone wants to work on it -- @Link2Twenty seems to have the right idea.

[2019-02-26 14:30] vorillaz commented on #1893
There are two more issues open #1736  and #81. It would be really great if you could support web mentions. It will allow us, people that are crossposting content to dev.to to track down interactions and feedback for our work.

[2019-02-26 14:35] arnellebalane commented on #1842
Currently fixing linting issues for `app/views/users`.

[2019-02-26 14:43] Glennmen commented on #1842
`app/views/videos` is for me 😂

[2019-02-26 14:46] bronzehedwick commented on #1893
@vorillaz I didn't realize you already had an issue open explicitly for webmention support. My bad! I should have searched better. Going to close this issue as duplicate in favor of #1736.

[2019-02-26 14:46] #1893 closed

[2019-02-26 15:59] Glennmen commented on #1842
@rhymes All PR's have been made 🤣 all in review now and ready for merge.

[2019-02-26 16:15] AntonyGarand commented on #1163
Not stale!

[2019-02-26 16:19] Zhao-Andy commented on #596
Not stale

[2019-02-26 16:20] Zhao-Andy commented on #403
Not stale, PR is still currently open: https://github.com/thepracticaldev/dev.to/pull/461

[2019-02-26 16:41] maestromac commented on #703
not stale

[2019-02-26 17:01] Zhao-Andy commented on #763
I believe #1691 resolves this but not 100% sure it covers the edge case previously discussed.

[2019-02-26 17:02] Zhao-Andy commented on #956
Not stale; I think we should still allow moderators to opt-in/opt-out of this.

[2019-02-26 18:13] rhymes commented on #1127
unstaling this, because the referred issue is still open

[2019-02-26 19:57] jessleenyc commented on #1831
Thanks for creating the issue! Funny that I had submitted a separate PR for it without even realizing.

[2019-02-26 20:05] mariocsee commented on #1459
Couldn't recreate issue in development and there's no more line break immediately after the Liquid Tag in development and production

[2019-02-26 20:39] maestromac commented on #166
still not stale

[2019-02-26 20:40] cassiozen commented on #1539
I think the a Pull Request mechanism would be awesome. Dev.to could even add a "contributors" button close to the "Author" to list everybody who got Pull Requests accepted by the author.

[2019-02-26 20:42] rhymes commented on #166
@maestromac I'm starting to wonder if this bot is actually worth it 😆

[2019-02-26 21:01] abraham commented on #166
A good option might be to have the bot ignore any issues with the #approved label. Then anything that's been greenlit won't get auto-closed.

[2019-02-26 21:12] glebec commented on #703
The upstream PR for redcarpet https://github.com/vmg/redcarpet/pull/605 would actually make this issue solvable by allowing Dev.to's custom renderer to define a `tablecell` callback that uses alignment information – I think. Something to try at least if and when that PR is merged.

[2019-02-26 21:27] Glennmen commented on #1842
As this issue is reaching it's final stages I would like to say thank you to @arnellebalane for helping me out in going through all the views and fixing all errors.

Also thank you to @lightalloy, @maestromac and @Zhao-Andy for reviewing the PR's and getting them merged this fast.

An extra thank you to @lightalloy for providing extra assistance for any linting error that we couldn't solve.

---

[2019-02-26 21:30] jessleenyc opened #1914 "Add option to manually update analytics"
**Is your feature request related to a problem? Please describe.**
Right now we rely on some randomness and interaction w/ reactions to fetch analytics for dashboards. I think we should add an option for people to click a button and have their data pulled. I also think we need to add a note that google analytics information has a reporting delay, even if we're manually fetching.

**Describe the so

[2019-02-26 22:04] rhymes commented on #1842
@Glennmen I think that if the bulk of changes have been dealt with, now the percentage of "unrelated style corrections" shall greatly diminish, lowering in return the times people will skip the pre-commit check. At least in theory

[2019-02-26 22:11] maestromac commented on #403
Implemented with https://github.com/thepracticaldev/dev.to/pull/461

[2019-02-26 22:11] #403 closed

[2019-02-27 02:12] ypkuby commented on #1865
I'd also like to see this option. Perhaps, having once registered, you can set a password for yourself, if locked out of the OAuth'd account, using said password will restore and allow you to change your OAuth provider?

[2019-02-27 08:57] Hamatti commented on #1914
I like this one! @jessleenyc can you clarify how it happens currently? I feel like my analytics haven't updated in days and previously it has felt like they update all the time.

[2019-02-27 10:43] nverinaud opened #1916 "Filter my RSS feed by tag"
**Feature Request**
I would like to be able to retrieve my posts filtered by some tags in order to give the possibility to someone else to follow my posts but only for the area of interests she cares about.

**Proposal**
It would be great to reach `https://dev.to/feed/{username}?tags=productivity,ios` and have an RSS feed of `{username}`'s posts filtered by a coma-separated list of tags.

**Altern

[2019-02-27 13:09] lightalloy commented on #1785
Currently working on this one. I can confirm that it's related to #1395 . On page load, the code which determines the button states runs several times and sometimes finishes with the wrong button state.
On clicking the tag (as described in this issue) the code just doesn't run and all buttons remain with the "SAVE" label.

[2019-02-27 14:55] nickytonline commented on #338
not stale.

From what I can tell, you can't use the same netlify.toml to deploy multiple sites to Netlify. I think what might work is making it a subfolder of the docs unless someone else has a better idea. cc: @Zhao-Andy

[2019-02-27 16:05] maestromac commented on #1833
Duplicate of https://github.com/thepracticaldev/dev.to/issues/539

[2019-02-27 16:05] #1833 closed

[2019-02-27 16:14] Butonix opened #1918 "modern editor?"
Do you have plans to add more modern editors?
such as
https://github.com/codex-team/editor.js
or
https://github.com/brijeshb42/medium-draft

[2019-02-27 16:18] pkfrank commented on #539
This is referenced in #1833 (now closed, due to duplicate), but I wanted to mention that I think adding a "last updated" or a status indicator in the UI would really help add clarity:

[2019-02-27 16:20] maestromac commented on #201
I'm updating this issue with an more appropriate title.

[2019-02-27 16:22] maestromac commented on #1916
Thank you for this issue @nverinaud . There already an issue on this. Please continue the conversation there.

Duplicate of https://github.com/thepracticaldev/dev.to/issues/201

[2019-02-27 16:22] #1916 closed

[2019-02-27 16:25] #265 closed

[2019-02-27 17:02] Glennmen commented on #1918
There is a v2 editor currently in beta, you can enable it in your profile settings: https://dev.to/settings/misc

[2019-02-27 17:03] michael-tharrington commented on #258
Need to reopen.

[2019-02-27 17:06] Butonix commented on #1918
I saw him, he's very uncomfortable. It's easier when you insert a link and the editor converts it to media. therefore I ASKED

[2019-02-27 21:08] BogDAAAMN opened #1921 "Followers page doesn't display the correct number or the full list of followers"
**Describe the bug**
I believe that the number of followers in the dashboard is computed wrong or the follower's list is not complete.

The dashboard indicates that I have *349* followers

![The current number of followers](https://user-images.githubusercontent.com/22895284/53522523-d574e480-3ada-11e9-80cd-35b77ecaf9f2.png)

but the number of follower cards on followers page is **80**.

![Count of

[2019-02-27 21:26] rhymes commented on #1921
Regarding the first one (you should probably open two separate issues because they are two separate things :D).

The reason is that only the last 80 are shown:

https://github.com/thepracticaldev/dev.to/blob/4ac36bbeffad09210cc25be5a586a67e36d2e43e/app/controllers/dashboards_controller.rb#L18-L20

That page is also not paginated so you can't scroll through all of them.

There's an old issue #258 a

[2019-02-28 07:19] spidergears commented on #1849
Would like it to be placed on the image bottom centre aligned, but this might hamper the visibility depending image colours at the position. Another good option can be just below the header image centre aligned (Similar to the image attached above, aligning to the centre).

[2019-02-28 08:02] Butonix opened #1925 "User karma"
Did you not consider the question of adding karma to your user profile?
For example, for each received like comment, the user will receive 0.5 points in karma, for each received like for an article, the user gets 1 point in karma. Also make a dislike, so that the article has a button like and dislike, oh the rating itself, depending on it karma will be formed.
On the basis of karma, you can make a

[2019-02-28 08:06] Butonix opened #1926 "navigation-progress not work"
The code has a progress bar, but it does not work
`<div class="navigation-progress" id="navigation-progress">`

[2019-02-28 08:55] rhymes commented on #1926
@Butonix I think your bug issue would be more effective if you followed the template you can find here https://github.com/thepracticaldev/dev.to/issues/new?template=bug_report.md

For example:

* how to reproduce?
* what is the bug?
* what does it affect?
* do you have screenshots?
* which platforms?

Otherwise is next to impossible to understand and then work on the issue :)

Thank you!

[2019-02-28 13:00] BogDAAAMN commented on #1921
I feel so dumb, I should've take a look at the controller first.

[2019-02-28 13:01] #1921 closed

[2019-02-28 15:33] mariocsee commented on #1794
@willamesoares are you currently working on this? If not, I can hop on it soon

[2019-02-28 15:50] mariocsee commented on #1885
I can work on this if no one is on it!

[2019-02-28 16:11] willamesoares commented on #1794
@mariocsee I was hoping that someone would let me know that this could be worked on since I don't know if there's someone already on it. I think since I didn't get any answer I'll just go ahead and fix this ;)

[2019-02-28 16:22] mariocsee commented on #1794
@willamesoares It doesn't seem like anyone is working on this, especially since no PR has referenced this issue. Thanks Will!

[2019-02-28 21:04] maestromac commented on #1918
Thank you for the issue @Butonix . As @Glennmen has mentioned, we have a v2 editor that you can enable on your setting page. We do not currently plan to use a 3rd party WYSIWYG editor.

[2019-02-28 21:04] #1918 closed

[2019-02-28 21:33] #1788 closed

[2019-02-28 21:56] mariocsee commented on #1491
If no one is working on this, I think I can take it.

My hunch is that there has to be a check disabling some markdown rules in `markdown_fixer.rb` for words that start with @ since it's used for mentioning, but will continue tomorrow.

[2019-02-28 23:35] benhalpern commented on #1857
I'm in favor of this. We had this more or less in place in the past but ran into some issue and we took it out. I can't even remember what it was but I'm sure it's a small thing we can overcome with proper config.

Yeah, `admin?` is the proper user method for this.

[2019-03-01 14:11] #1395 closed

[2019-03-01 14:59] aspittel commented on #1926
Hey @Butonix, thanks for filling out this issue! Would love more details on what you're seeing. Thanks again!

[2019-03-01 14:59] aspittel commented on #1925
Hey @Butonix, thanks for the feature suggestion! We do have profile badges, and we're working on milestone notifications for when you get to certain points on your posts. But, for now downvotes and public Karma aren't part of the feature road map. Thanks again for filling out this issue!

[2019-03-01 14:59] #1925 closed

[2019-03-01 15:28] mrm8488 opened #1934 "Add tags automatically to posts"
I was thinking about the feature of **tag the posts "level"** (beginner, intermediate, pro and so on). I thought it could be confusing for the user to determine which "level" is his/her post.

Fortunately, Nowadays, **we can use Machine Learning and last NLP methods to do that kind of tasks automatically.**

On the other hand, we could use this techniques even for tag posts categories, not friendl

[2019-03-01 16:15] rhymes commented on #406
@maestromac @aspittel  I wonder if we could find a way to bring this to its conclusion because it seems like a fruitful quick win. There are two different PRs:

* #426  open since August 2018
* #1656 open since January 2019

They are slightly different. The first one displays a full formatted date with a CSS based hover, has quirky naming and includes a test, the second uses the `title` builtin ho

[2019-03-01 17:13] maestromac commented on #1842
I believe everything is merged. Anything else missing?

[2019-03-01 17:14] maestromac commented on #1934
Thank you for this issue @mrm8488 . This is a nice to have and it could be on our future roadmap.

[2019-03-01 17:17] Butonix opened #1935 "Cover upload error"
**Describe the bug**
Uploading a picture, getting an error.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'http://localhost:3000/new'
2. Click on '/images/Cover Image' upload image

[code]

**Screenshots**
![screenshot](https://user-images.githubusercontent.com/29381099/53654523-f6664280-3c5e-11e9-9f77-dd4e4e0dbaa7.png)

[2019-03-01 17:49] Glennmen commented on #1842
@maestromac I would like to do a final sweep through all views files before closing this.

[2019-03-01 20:05] arnellebalane commented on #1842
Everything is merged yay! 💯

https://media.giphy.com/media/Ge86XF8AVY1KE/giphy.gif

[2019-03-01 20:18] maestromac commented on #406
Thanks for the ping @rhymes . The i18n implementation is the most interesting. Unfortunately, none of the implementation accounts for user's local time.

The solution I have in mind is to embed the time data to somewhere on the article/comment's div and for Javascript to convert it to user's local time. We currently use [initializeTimeFixer.js](https://github.com/thepracticaldev/dev.to/blob/master

[2019-03-01 20:25] #1647 closed

[2019-03-01 20:53] glebec opened #1937 "Runkit regression error: double-quotes now disallowed in preamble"
**Describe the bug**

Double quotes in runkit tag preambles now cause errors ("Runkit tag is invalid") when trying to preview (and maybe other contexts).

The runkit tag on dev.to used to allow double-quoted strings in the preamble. Minimal Example:

[code]

Realistic example:

[code]

As of #1808, this has now regressed without any clear documentation explicitly disallowing double quotes. It look

[2019-03-01 21:45] Link2Twenty opened #1940 "RSS feed loading incorrect authors"
**Describe the bug**
The RSS feed is loading in everyone's posts rather than the specified users

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/feed/link2twenty
2. See error

**Expected behavior**
Posts should all have the correct author

**Additional context**
I use the feed on my website https://link2twenty.github.io/ and it looks like I'm stealing peoples posts 😅

[2019-03-01 22:29] vizvamitra commented on #1940
same here with [evilmartians feed](https://dev.to/feed/evilmartians). First wrong records got into feed at 2019-03-01T18:16:44+00:00

[2019-03-01 23:05] shindakun opened #1942 "RSS Link and GUID URL have an extra slash in the URL"
**Describe the bug**

- URLs in the Link and GUID field in RSS have an extra slash, `https://dev.to//simo97/djangos-world-cms-1aec`

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/feed/shindakun
2. Notice the GUID and Link for each RSS entry (see screenshot)

**Expected behavior**

Slash should not be there.

**Screenshots**

![screen shot 2019-03-01 at 2 56 59 pm](http

[2019-03-01 23:08] Zhao-Andy commented on #1942
Hit the nail on the head there! ✅ Yep, there's an extra slash since the first character of `article.path` is `/`.

[2019-03-02 05:59] #1926 closed

[2019-03-02 13:34] kay-is commented on #1845
Now I get the following error on `https://dev.to/articles/78603`:

# Error 503 first byte timeout

first byte timeout

## Guru Mediation:

Details: cache-den19638-DEN 1551533580 2473869280

---

Varnish cache server

[2019-03-02 13:39] chinchang opened #1946 "500 on dashboard"
**Describe the bug**
Getting 500 on dashboard

**To Reproduce**
1. Visit https://dev.to/dashboard

**Expected behavior**

Dashboard should open.

**Screenshots**
![screenshot 2019-03-02 19 07 35](https://user-images.githubusercontent.com/379918/53682746-ae0e5980-3d1e-11e9-8719-ac4d314c67c4.png)

**Desktop (please complete the following information):**

- OS: Mojave
- Browser: Chrome
- Version: 72

[2019-03-02 14:14] antsanchez commented on #1630
This is happening to me right now, exactly as described here:

[2019-03-02 14:33] thomasbnt opened #1948 "No text in follow button"
**Describe the bug**
The button to follow has no writing and therefore in this case we can neither follow/no longer follow, nor see if this person is in our subscriptions.

**To Reproduce**
See any post on dev.to.

**Expected behavior**
See the writing as before.

**Screenshots**

![bugdevto_3456765432345678](https://user-images.githubusercontent.com/14293805/53683375-68429880-3d00-11e9-81ae-78c04

[2019-03-02 14:58] GiorgosK opened #1949 "Post related content appears twice after comments of post"
A related post appears twice after post and comments

**To Reproduce**
Have seen it on this post https://dev.to/psnebc/install-drupal-console-536g
and the double post is the "101 Bash Commands and Tips for Beginners to Experts" that appears on 2 different place.  Have a look at screenshot but perhaps you can see it visiting the URL

NOTE: both times I tried to visit the URL I got first a "500 Erro

[2019-03-02 15:13] djhopper01 commented on #1073
@jessleenyc Hey, thanks for reminding me about this. I started with a new company recently and lost track of this. I'd love to help, but if someone else wants to jump in sooner that's OK too. I may not have much bandwidth for a few weeks.

[2019-03-02 15:47] #1842 closed

[2019-03-02 15:48] #1940 closed

[2019-03-02 15:50] #1942 closed

[2019-03-02 17:55] antsanchez opened #1950 "Markdown not working properly?"
**Describe the bug**
The titles 4, 5 and 6 of this article: https://dev.to/asanchez/from-php-to-go-arrays-3cfg are not being represented as titles. The markdown, however, is correct. On my website (Hugo), it is working properly:https://asanchez.dev/blog/from-php-to-go-arrays/

**Desktop (please complete the following information):**

- OS: Mac OS
- Browser: Chrome, Safari, Firefox

**Smartphone (p

[2019-03-02 18:26] Glennmen commented on #1950
I think you need a tab between the code block and the title in order for it to work correctly.

[2019-03-02 18:35] antsanchez commented on #1950
I fixed it putting the Fixed</pre> tag of the code blog before in another line as the opening <pre> tag. I don't know why, but it is working like this. This must be a bug anyway, in some other markdown editors, it is working properly.

[2019-03-02 21:21] lkopacz commented on #1885
Thanks @mariocsee! Can someone @ me when the PR gets merged? I have a post in drafts that I've been waiting to post 🙃

[2019-03-03 05:20] maheshhost opened #1952 "Scroll To Top"
Please add scroll to top button . I read tech blogs daily from dev.to and some blogs are so lengthy so in the end we need to scroll to the top again so if there would be a scroll to top button it would be great for the readers to get to the top easily.

Thankyou

[2019-03-03 12:33] belhassen07 opened #1953 "Reloading too much gives an unrelated page"
I reloaded the home page multiple times, 6-7 clicks in a 1s. What I got is this page
![annotation 2019-03-03 132940](https://user-images.githubusercontent.com/22170583/53695213-bc10b880-3db8-11e9-94d7-7fffb4b09b0b.jpg). Which is the same screen you get when making an empty search. I thought I should report this.

[2019-03-03 17:40] bigblind commented on #1948
That's odd. In Chrome on macOS, the button has text. I went to Damien cosset's profile to make sure it wasn't a text color issue, but that doesn't seem to be the case.

Could this be an Ubuntu+chrome specific bug?

[2019-03-03 17:42] bigblind commented on #1934
I think this could work for topics in general, similar to how Github tags repositories, or we could suggest tags based on keywords in the text similar to the StackOverflow question editor.

[2019-03-03 17:46] thomasbnt commented on #1948
Hmmm.. I just looked right now and apparently it was either on my side or on the server side but then you would have to know what was blocking it...
![devto_bug_23456765432345678](https://user-images.githubusercontent.com/14293805/53699060-94cfe080-3de4-11e9-8ad8-2b5b76594128.gif)

[2019-03-03 18:02] Glennmen commented on #1948
Not sure if this is related but DEV was having some server issues yesterday.

[2019-03-03 18:05] thomasbnt commented on #1948
@Glennmen I also noticed the dev.to server problem, after as long as it is now fixed, it's fine!

[2019-03-04 02:16] weekly-digest[bot] opened #1955 "Weekly Digest (25 February, 2019 - 4 March, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 84 issues were created.
Of these, 64 issues have been closed and 20 issues are still open.
## OPEN ISSUES
:green_heart: #1953 [Reloading too much gives an unrelated page](https://github.com/thepracticaldev/dev.to/issues/1953), by [belhassen07](https://github.com/belhas

[2019-03-04 08:00] Glennmen commented on #1955
I opened a PR in Weekly Digest to remove Pull Requests from the Issues section: https://github.com/probot/weekly-digest/pull/73

I hope it gets merged soon it will make it easier for you guys to make the "dev.to Repo Recap".

[2019-03-04 08:48] trueneu commented on #1110
It was not solved. Some other issue along were, not the original one.

[2019-03-04 10:02] Glennmen commented on #1765
Isn't this the part that causes the issue of article views not getting updated (when there are no new reactions)?
https://github.com/thepracticaldev/dev.to/blob/8b8dbd017253e05d0a00fc568f487fd602144dcc/app/labor/article_analytics_fetcher.rb#L47-L51

I see there is `article.previous_positive_reactions_count` to check if reactions have changed since last Analytics check, couldn't we solve this with

[2019-03-04 10:03] oscherler opened #1958 "Following a team does not seem to be doing anything"
**Describe the bug**

There seems to be a concept of Teams on dev.to, where posts are written by a member of the team, but are listed under the team name. But the Follow button on such posts does not seem to do anything,

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'https://dev.to/vuevixens/hands-on-vuejs-for-beginners-part-6-5e7l';

    The author is Marina Mosti (marinamosti), b

[2019-03-04 12:51] rhymes commented on #406
@maestromac got it. I'm working on a PR to do just that

[2019-03-04 13:28] lightalloy commented on #1785
Closed by #1927

[2019-03-04 13:28] #1785 closed

[2019-03-04 18:14] IanKnighton commented on #1685
I would like to take this on if no one else has.

[2019-03-04 20:13] lianafelt opened #1973 "She Coded and Ally Social Card"
Here are screenshots for the mock up of the social card for She Coded. It will need to be programmed so each individual post shows the user's name and profile picture in the social card.
Font Helvetica Neue Condensed Bold, size 70 pt
Image size: 153x153

Women Mock Up: ![Screen Shot 2019-03-04 at 3.05.17 PM.png](https://images.zenhubusercontent.com/5a60cc5f4b5806bc2bc348c3/0e0507b0-c948-45ce-a085-

[2019-03-04 21:18] #1973 closed

[2019-03-04 22:25] #1955 closed

[2019-03-04 22:29] jessleenyc commented on #1948
I'm going to close this since you're not experiencing the issue anymore! If anyone else sees no text on follow buttons, please open a new issue. Thanks!

[2019-03-04 22:29] #1948 closed

[2019-03-04 22:31] jessleenyc commented on #1949
Ah thanks, I can see why that'd be a bit strange. I don't think we currently check articles against what's displayed in either of those sections.

[2019-03-04 22:33] jessleenyc commented on #1946
@chinchang are you still experiencing this?

[2019-03-04 22:34] jessleenyc commented on #258
This is approved if anyone wants to work on it.

[2019-03-04 22:45] #439 closed

[2019-03-04 22:48] jessleenyc commented on #1935
I'm not able to reproduce this error.. I'm wondering if it's failing a validation like image size but throwing the wrong error message. Do you know how big the file was?

[2019-03-04 23:09] leonardosnt opened #1976 "(github tag) broken relative links in anchor tags"
**Describe the bug**
Relative links in **a**nchor tags doesn't get replaced by absolute links...

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/mkrl/atomic-powered-fibonacci-indentation-2cpb
2. Click on **the gif in the github tag**
3. Get 404

**Expected behavior**
It should replace the relative (anchor/etc) links with the absolute link, like it does with images.

**S

[2019-03-05 05:38] willamesoares commented on #1794
Hey, @mariocsee I looked into this and realized there are a few ways of solving it but I'm not sure which layout would be better since this needs more discussion. I was thinking about making the footer the same width as the posts list container for screens sizes that show the overlap and keep the current behavior for other sizes.

Would you be willing to take a shot at this one and see if you can

[2019-03-05 10:03] chinchang commented on #1946
nope. working now :)

[2019-03-05 10:03] #1946 closed

[2019-03-05 10:28] lightalloy commented on #1621
@jessleenyc @maestromac Since delayed job web interface has been enabled for admins, could you provide me more information on the errors that occur?
It could also be beneficial at this point to keep failed jobs in the database, at least temporarily (I would suggest using an env variable, like
[code]
But if you have information on the failed jobs without it, I would like to examine it first.

[2019-03-05 11:30] Glennmen commented on #1765
@jessleenyc This is very strange, according to the logic in `app/labor/article_analytics_fetcher.rb` if the article has more reactions than the previous check it will fetch the views again for the article.

In the last ~4 days I gained 5-6 reactions for my last article but my views stayed at 711. It seems to stop updating at some point, there has to be something we are overlooking because accordin

[2019-03-05 11:40] LaundroMat opened #1978 "Can't save post with published: true"
**Describe the bug**
Can't publish previously saved draft.

Error:

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/kanochart/embedding-a-survey-into-app-or-website-5blh-temp-slug-302596/edit
2. Change publised from false to true
3. Save post
4. See error

**Expected behavior**
That there's no error

**Screenshots**
If applicable, add screenshots to help explain your pro

[2019-03-05 11:49] aexol commented on #1978
mee to

[2019-03-05 12:30] Glennmen commented on #1978
I think DEV is having server issues again. I am getting 500 errors on different pages.

[2019-03-05 12:37] mstruve commented on #1978
Same, getting 500 errors. This happened to me yesterday as well around the same time. Maybe a cache expires causing extra load on the servers right around now. Let me know if you guys need help with anything!

[2019-03-05 12:55] johnpapa opened #1979 "500 errors and slow responses"
This morning the dev.to site is very slow to respond and often I get 500 server errors.

I tried on laptop in chrome and in iOS chrome and safari.

Not sure what else to provide.

[2019-03-05 13:01] Butonix commented on #1935
I've tried different sizes and formats. The content is normally loaded. And the cover gives an error

[2019-03-05 15:15] benhalpern commented on #1978
Hi everyone. We had an app-wide slow down this morning. Sorry for the problems. It settled down, we'll work to make sure it doesn't happen again.

[2019-03-05 15:15] #1978 closed

[2019-03-05 15:16] benhalpern commented on #1979
Hey John, we had a site-wide issue with database connection timeouts affecting origin server traffic. It largely affected backend traffic like dashboard/editor etc. Not reader traffic. We'll work to make sure this doesn't happen very often.

[2019-03-05 15:16] #1979 closed

[2019-03-05 15:17] Zhao-Andy commented on #1958
If you are following either the organization or the author of the post, you should be receiving a notification when either a member of the org or author publishes a new post. If that's not the case though it's a bug and we can take a look into it. :)

[2019-03-05 15:21] Zhao-Andy commented on #1950
Hey @antsanchez, you already know this but I left a comment in the post. :)

For anyone else seeing this, we recommend using code blocks like you would with Markdown (using triple backticks), since writing direct HTML into your post works but is not supported nor recommended.

[2019-03-05 15:21] #1950 closed

[2019-03-05 15:21] Zhao-Andy commented on #1937
Hey @glebec, thanks for the issue. I think we'll have to revisit the implementation of the Runkit tag since it's a bit insecure as well as faulty in general.

[2019-03-05 15:23] Zhao-Andy commented on #1953
Thanks for the report. This is a duplicate of https://github.com/thepracticaldev/dev.to/issues/1206, so we'll keep that one open instead.

[2019-03-05 15:23] #1953 closed

[2019-03-05 15:24] Zhao-Andy commented on #1976
Thanks for the bug report and details! This is approved if anyone wants to work on it.

[2019-03-05 15:27] johnpapa commented on #1979
Thanks for the details.

I added an issue because the 500 error had a link for creating one. In future should we do that?

[2019-03-05 15:29] Zhao-Andy commented on #1935
@Butonix is this only an issue in development and not `dev.to` (production)?

[2019-03-05 15:34] jessleenyc commented on #1914
We're actually going to go with a different direction for this so I'm closing the issue.

@Hamatti I do think there's a bug within the current analytics and here's the issue for that if you'd like to follow along there: https://github.com/thepracticaldev/dev.to/issues/1765

[2019-03-05 15:34] #1914 closed

[2019-03-05 15:34] Glennmen commented on #1958
@Zhao-Andy Now that I think about it I also don't think I have ever received a notification from the dev.to staff and I have been following them for at least a couple weeks. For example no notification for the "Welcome Thread" published yesterday.

I am also following The DEV Team but for some reason it isn't shown in my Followed Users list 🤔

[2019-03-05 15:39] jessleenyc commented on #1952
Thanks for the feature request. @benhalpern let's take this into consideration on future design overhauls.

[2019-03-05 15:41] jessleenyc commented on #1935
great question, @Zhao-Andy - totally missed that!

[2019-03-05 16:01] #442 closed

[2019-03-05 16:01] #1539 closed

[2019-03-05 16:10] Butonix commented on #1935
Yes, it is in development, everything was normal before! Then you updated the code and started issuing such an error.

[2019-03-05 16:27] #1073 closed

[2019-03-05 17:52] maestromac commented on #1857
Resolved with https://github.com/thepracticaldev/dev.to/pull/1967

[2019-03-05 17:52] #1857 closed

[2019-03-05 18:53] benhalpern commented on #1979
We're pretty aware of 500s. The issue is a nice-to-have. We'd never complain about it but it's a very optional thing. It's most helpful if there is a specific action that is serving an unhandled error but don't sweat it in general. We may remove that link or make it more clear.

[2019-03-05 19:38] TerabyteTiger opened #1984 "#sheCoded "Latest" not descending date order"
**Describe the bug**
When reviewing the posts on https://dev.to/t/shecoded/latest there are posts from March 2018 showing above posts from 2019.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/t/shecoded/latest
2. Scroll down the list of posts and notice the dates.
3. See error

**Expected behavior**
Posts should properly be listed from newest -> oldest

**Screenshots**

[2019-03-05 19:40] johnpapa commented on #1979
No worries. Glad it worked out.

[2019-03-05 23:08] softchris commented on #730
seriously I need this.. It's costing me so much extra time when I have to rewrite it in markdown..

[2019-03-05 23:15] rhymes commented on #730
@softchris can't you use the RSS feed in the meantime? Doesn't Medium have one?

[2019-03-06 00:05] #868 closed

[2019-03-06 03:25] GaganGupta19 commented on #1984
It's showing readable_publish_date but all the stories are sorted by descending order of published_at
after looking at the code. There's a column `crossposted_at` which might contain previous year value.

`  def readable_publish_date
    relevant_date = crossposted_at.present? ? crossposted_at : published_at
    if relevant_date && relevant_date.year == Time.current.year
      relevant_date&.strft

[2019-03-06 03:31] ralphkalsi opened #1986 "Not able to add post"
When I am clicking on write a post, its giving 500 server error. Please check again and permit me to add a post.

[2019-03-06 08:03] rhymes commented on #1984
Hi @GaganGupta19, looking at [Article#readable_publish_date](https://github.com/thepracticaldev/dev.to/blob/master/app/models/article.rb#L357):

https://github.com/thepracticaldev/dev.to/blob/a17cfe7d335cbf15fd70208e9cb6e3904cfe0a20/app/models/article.rb#L357-L364

`crossposted_at` is for imported posts from RSS. It takes precedence over `publish_date` on the first line, but then they are treated

[2019-03-06 14:25] johnpapa opened #1991 "Create links for tags everywhere they appear"
When I look at a post, in the many places that we can, I'd like to be able to click on the tags to see more like this. A consistent UX would be helpful on this, too.

Here is a summary view of a post in my dashboard where the tags are not links today

![image](https://user-images.githubusercontent.com/1202528/53888047-860a4900-3ff1-11e9-9c96-644076b23328.png)

Here they are links, with underlines

[2019-03-06 15:19] mkrl commented on #1952
Please consider using [this](http://tholman.com/elevator.js/) as a part of a possible implementation

[2019-03-06 16:22] maestromac commented on #1986
Hello @ralphkalsi , this might be tied to your account. Please email yo@dev.to for more help.

[2019-03-06 16:22] #1986 closed

[2019-03-06 16:37] maestromac commented on #1240
not stale

[2019-03-06 17:22] JoshCheek opened #1992 "About page is out of date"
The [about](https://dev.to/about) page is not up to date with the [Readme](https://github.com/thepracticaldev/dev.to/tree/a17cfe7d335cbf15fd70208e9cb6e3904cfe0a20#core-team)

![screen shot 2019-03-06 at 11 14 35 am](https://user-images.githubusercontent.com/77495/53900373-09cc3180-4002-11e9-9847-9ac688918df1.png)

[2019-03-06 19:19] Zhao-Andy commented on #1238
Not stale

[2019-03-06 22:44] twhite96 opened #1994 "Changing your username leads to 503 "First byte timeout""
**Describe the bug**
A clear and concise description of what the bug is.
Varnish cache first byte timeout error when changing username

**To Reproduce**
Steps to reproduce the behavior:
1. Go to profile
2. Click on username
3. Type new username
4. Press submit
5. 503 first bytes timeout Guru Mediation

**Expected behavior**
A clear and concise description of what you expected to happen.
Expected t

[2019-03-06 22:46] twhite96 commented on #1994
This is the same problem I hit in issue https://github.com/thepracticaldev/DEV-ios/issues/132#issue-417052656

[2019-03-07 08:51] haved opened #1995 "Post date is suffixed with undefined when date is more than a year ago"
**Describe the bug**
When seeing a "card" for a post, the date is suffixed with undefined if the post is older than a year.
This "card" is seen both on a user page and in your reading list if you save an old post.

**To Reproduce**

1. Go to dev.to/ben
3. Scroll down to a post from before March 7
4. See "undefined"

**Expected behavior**
Not seeing undefined

**Screenshots**
![image](https://user-

[2019-03-07 09:12] murtezayesil commented on #304
I would like to help with the Turkish translation :smiley:

[2019-03-07 09:25] haved commented on #1995
It all comes down to `timeAgo()` in `/app/assets/javascrips/utilities/timeAgo.js`.
It is possible for the function to not return anything, when the time ago is more than the highest value in the `times` array, which is a year.
A simple fix is to add `return '';` to the last line.

I am curious, though, if the time returned from `new Date() / 1000` is in the same timezone as `article.published_at_i

[2019-03-07 09:59] haved commented on #1995
So I'd like to maybe have some / write some documentation for how time is handled.
Is the `article.published_as_int` in the time zone of the server, author or reader?
Is the actual user-facing date string in their time zone, the server time zone or the authors time zone?
If it's not the server time, is the time zone of a post stored in some variable?
Pinging @benhalpern, seeing as he is the author

[2019-03-07 10:52] haved commented on #1995
I now see in article.rb that `published_at` is set to `Time.current` (server time). Therefore I suggest replacing `published_as_int` with `seconds_since_published`, with `Time.current` subtracted on the server.

[2019-03-07 12:18] haved commented on #1995
Also, the `readable_publish_date` is based on the "relevant time", either `published_at` or `crossposted_at`. [See here](https://github.com/thepracticaldev/dev.to/blob/5c116c48812d884454908d055b2b1c5d0eef5864/app/models/article.rb#L358)

The same should be used for `published_as_int`, and the proposed `seconds_since_published`
[Here](https://github.com/thepracticaldev/dev.to/blob/5c116c48812d88445

[2019-03-07 13:05] lightalloy opened #1996 "Move async Notification methods to Active Jobs"
- move asynchronous notification methods to separate Active Jobs
- pass entities `id` instead of an object
- add a check for the entity presence before following up

These methods are suspectible to causing delayed job errors (#1621), so they should be adressed first:

- [x] `send_new_follower_notification` #2030
- [x] `send_reaction_notification`
- [x] `send_new_comment_notifications`

Other asyn

[2019-03-07 15:39] #1976 closed

[2019-03-07 20:08] ryanwhocodes commented on #730
@rhymes a couple of reasons are:
1. rss imports all your recent posts whereas you may just want 1 imported
2. you might have an old post that you wan to import

[2019-03-07 20:12] ryanwhocodes commented on #1225
@aspittel were any features planned for dev profiles following the responses to your article https://dev.to/aspittel/what-would-you-like-to-see-on-your-dev-profile-31md?

[2019-03-07 20:28] rhymes commented on #730
@ryanwhocodes got it, I think the feature should be more general though (not just for Medium). I'd improve the RSS import by allowing the selection of which posts to import and if the RSS feed contains all posts you might use that to import old posts as well. Like a RSS manager 😆

[2019-03-07 21:04] maestromac commented on #739
not stale

[2019-03-07 21:10] maestromac commented on #962
not stale

[2019-03-07 21:15] maestromac commented on #249
still not stale

[2019-03-07 21:16] maestromac commented on #1685
Give it a whirl @IanKnighton !

[2019-03-07 21:27] IanKnighton commented on #1685
Great!

[2019-03-07 21:41] #1937 closed

[2019-03-07 22:15] maestromac commented on #987
not stale

[2019-03-07 22:18] maestromac commented on #446
Resolved with https://github.com/thepracticaldev/dev.to/pull/1981

[2019-03-07 22:18] #446 closed

[2019-03-07 22:49] bnb opened #1999 "Large `manifest.json` Icons are different than main one."
**Describe the bug**
A clear and concise description of what the bug is.

With Chrome's newly shipped Desktop PWA feature, the 100% square `512x512` image in `manifest.json` is being loaded instead of the rounded `192x192`version. On desktop/macOS, the square version doesn't look as polished as the rounded version would.

![image](https://user-images.githubusercontent.com/502396/53994598-c1476d80-

[2019-03-08 05:02] davefollett opened #2001 "[Feature Request] Prepopulate tag removal textbox"
It might be handy to include a block of default text into the tag removal's reason box.  This could help ensure the tone is kept nice and the messages be consistent.

**Describe the solution you'd like**
This could be an example of what the text box could be pre-populated with:

[2019-03-08 09:19] GaganGupta19 commented on #1984
Yes @rhymes, you're right 👍
But the issue which @12vanblart has shared is related to the date which is being shown there.

there are 2 posts.
post 1 - sowju coded
post 2 - ananya coded

post 2 is showing after post 1 which means the published_at date of post 1 is greater than post 2.
but date which is being showed on post 2 is greater than post post 1

which means that the crossposted_at of post 1

[2019-03-08 09:55] lightalloy commented on #1995
Hi, @haved. Thanks for submitting the bug.
Both `published_at_int` and `new Date() / 1000` will return unix time in seconds, without any timezone information.
As for the same length of the months and years, in my opinion, it's good enough to provide information about how long ago an article was posted. It isn't really important if it's a month or a month + 1 day.
I would go with just fixing the `u

[2019-03-08 09:56] softchris commented on #730
RSS feed on Medium is really limited in how much it contains. IMO it's better to be able to select a URL and have what's in there imported

[2019-03-08 10:07] haved commented on #1995
Ok, thanks for the reply.
I now understand that timezones aren't an issue, but I'm still worried about `relevant_time` not being accounted for in `published_in_seconds`.
Also, when a unix time is formatted into a date on the server, what timezone is used? Should this be in the users time?

Unrelated, I could write a fix for the timeAgo() function, but I'm not sure I'll open a pull request when Ben

[2019-03-08 10:25] rhymes commented on #1995
@haved the server runs on UTC, the time is sent to the client and the client should do the calculation to adapt it to ts own zone. This avoids the need to store on the server a setting with the user's timezone

BTW I think you should totally send a PR if you found a bug :)

[2019-03-08 12:48] kay-is commented on #1845
Any updates?

[2019-03-08 16:28] kspeakman commented on #1805
I can observe this right now on the website. Whenever I am at the top of the page and I hit refresh, this is what I see.

![image](https://user-images.githubusercontent.com/4582668/54040712-a53cde00-418b-11e9-848e-7c8a05453a5b.png)

The articles finally load when the last item in the "#shecoded" section scrolls into view. This is what it looks like just before I get to the last item.

![image](htt

[2019-03-08 16:46] Zhao-Andy commented on #1885
We'll want to fix this bug before we enable native `<video>` tag embeds. For now, we suggest using the YouTube or Vimeo Liquid tag embeds for video embeds. More details in [our editor guide.](https://dev.to/p/editor_guide)

Related comments in this PR: https://github.com/thepracticaldev/dev.to/pull/1928

[2019-03-08 17:08] maestromac commented on #1999
Thanks for this issue @bnb ! Should be a very quick fix for us.

[2019-03-08 17:10] maestromac commented on #2001
Thank you for this feature request @davefollett . We should definitely have this for our moderators.

[2019-03-08 18:08] maestromac commented on #1995
Thanks for chiming in @rhymes @lightalloy . Resolved with https://github.com/thepracticaldev/dev.to/pull/2002

[2019-03-08 18:08] #1995 closed

[2019-03-08 18:24] Zhao-Andy commented on #1845
Hey @kay-is, sorry about that. What's the new canonical URL you're trying to use? If you'd rather keep it private, feel free to email yo@dev.to.

[2019-03-08 18:32] Zhao-Andy commented on #1994
Hey @twhite96, do you mind trying again? If it errors out, we'll follow the backtrace and see where it leads us 🕵️

[2019-03-08 18:37] twhite96 commented on #1994
@Zhao-Andy sure. Give me a minute.

[2019-03-08 18:38] twhite96 commented on #1994
@Zhao-Andy still getting the error.

[2019-03-08 19:11] Zhao-Andy commented on #1994
Looks like this timed out:
[code]

This should probably be run asynchronously, or combined into the next method:
[code]

I think we might want to revisit all of the callbacks in `user.rb`, since it seems like these two methods are too related.

[2019-03-08 19:50] michael-tharrington opened #2008 "Issue Uploading a Cover Image on Safari"
A user reported having troubles uploading their cover image in Safari:

"Hey hey team!

Just wanted to reach out cause I think I found an issue with image uploading for Safari.

I was trying to upload a cover image for my post https://dev.to/michael/silencing-the-lizard-brain-4leg but every time I hit done, nothing would show up.

Finally thought to look the console window and saw this on Safari..

[2019-03-08 19:57] twhite96 commented on #1994
I may be able to look at this. I finally got my machine fixed and Ruby installed. Lmk if you think this is something I could do skill wise

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-08 20:19] #406 closed

[2019-03-08 23:52] mcataford opened #2010 "Timestamps on notifications"
**Is your feature request related to a problem? Please describe.**
I was looking at my Notification history earlier today and noticed that individual notification cards aren't timestamped, which can be a bit confusing if you are trying to look at a larger notification stream and need to know details about when replies were posted.

![Screenshot from 2019-03-08 18-48-55](https://user-images.githubu

[2019-03-09 01:51] nshusa opened #2012 "(x minutes ago) only shows every other post"
**Describe the bug**
Not every post says how long ago it has been posted.

**To Reproduce**
1. Click "Latest"
2. Look at the posts and it should say how long ago it was made every other post

**Expected behavior**
It should show on every post because it's awkward looking at the post above, or below to determine how long ago it was posted. This will drive OCD people crazy.

**Screenshots**
![(https

[2019-03-09 10:04] jwedel commented on #1865
I also know people that value their privacy but would like to join the community. For those it would be great to have an email based login.

[2019-03-09 15:30] joshuaalm opened #2014 "Error when attempting to access unfinished/unpublished post"
**Describe the bug**
Going in to attempt to finish a long-neglected unfinished post, I get an error 500.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to my Dashboard
2. Click on the title or Edit button of any one of the last three of four unpublished posts
3. See error

**Expected behavior**
View and/or edit post

**Desktop (please complete the following information):**

- OS: Window

[2019-03-09 17:49] rhymes commented on #879
@jessleenyc now that the reaction bar has been moved to the left side, does this still apply?

[2019-03-10 09:13] setevoy2 commented on #1994
Got the same error today trying to save a draft (a big one).

[2019-03-10 09:34] pauloxnet opened #2016 "Impossible to update an already published article"
**Describe the bug**
Impossible to update an already published article because an unclear error message.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://dev.to/articles/2883'
2. Click on 'Save post'
3. Scroll down to 'Top of the page'
4. See error: "1 error prohibited this article from being saved: Main image background hex color is invalid"

**Expected behavior**
I expected

[2019-03-10 11:06] setevoy2 opened #2017 "Varnish cache server 503 first byte timeout"
**Describe the bug**

Not able to save a long-read post (48462 symbols) - after pressing the "SAVE POST" button - got 503 error (from Varnish?)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'dashboard'
2. Click on a post's 'Edit' button
3. Click on a post's 'Save Post' button
4. See the "**Error 503 first byte timeout**"

**Expected behavior**
Post be saved.

**Screenshots**
![Scree

[2019-03-10 15:52] devtox opened #2019 "new post"
**Describe the bug**
Cant post new post

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'New Post'
2. See error

**Expected behavior**

500 Error
It's not you, it's me.

**Desktop (please complete the following information):**

- OS: Ubuntu
- Browser Firefox
- Version [e.g. 22]

[2019-03-11 02:16] weekly-digest[bot] opened #2020 "Weekly Digest (4 March, 2019 - 11 March, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 64 issues were created.
Of these, 44 issues have been closed and 20 issues are still open.
## OPEN ISSUES
:green_heart: #2019 [new post](https://github.com/thepracticaldev/dev.to/issues/2019), by [devtox](https://github.com/devtox)
:green_heart: #2018 [Handle images up

[2019-03-11 04:28] Nilkamal commented on #2019
Does this required to reproduce on firefox only? And to reproduce this on "dev.to" right?

[2019-03-11 09:01] lightalloy opened #2021 "Enable rubocop cops"
**Is your feature request related to a problem? Please describe.**
Currently, many `rubocop` cops are disabled (see `.rubocop.yml`), I think it would be beneficial to enable most of them. In such a way at least the new code will follow the guidelines.

**Describe the solution you'd like**
I like the way how we dealt with the views linting problems (#1842)
The similar approach is possible for the r

[2019-03-11 11:02] devtox commented on #2019
Only on "dev.to". The same in other browser (Falkon)

[2019-03-11 14:38] rhymes opened #2031 "Data export is not working"
**Describe the bug**

A couple of days ago I requested the export of my content on dev.to, the requeste generated the notice message but then I've never received the email.

I went back to check https://dev.to/settings/misc and noticed that the feature is still disabled:

![Screenshot_2019-03-11 Settings - DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/54131796-5d2fec80-441

[2019-03-11 15:39] Glennmen opened #2033 "babel-preset-preact"
I see @maestromac keeps closing jest update PR's because of `babel-preset-preact` not supporting babel 7.
https://github.com/thepracticaldev/dev.to/pull/2032#issuecomment-471581564

I found this new NPM package that I think is based on `babel-preset-preact`, it is only a week old though.

`@henrikjoreteg/babel-preset-preact`
NPM link: https://www.npmjs.com/package/@henrikjoreteg/babel-preset-preac

[2019-03-11 15:46] Zhao-Andy commented on #879
@rhymes that only happens in large screens. :)

[2019-03-11 17:40] #2020 closed

[2019-03-11 17:42] maestromac commented on #2033
Thanks for suggestion @Glennmen .
I've forked [babel-preset-preact](https://github.com/thepracticaldev/babel-preset-preact) and applied the babel 7 support to it so this will be taken cared of here https://github.com/thepracticaldev/dev.to/pull/2034

[2019-03-11 17:44] wesdelp commented on #201
I would like this feature as well and would be willing to give it a shot if it is approved for contributions!

[2019-03-11 18:23] Glennmen commented on #2033
That is probably the best option for this library. 👍

[2019-03-11 19:43] rsercano commented on #243
+1 for this

[2019-03-11 20:39] ProfessorBeekums opened #2036 "Old post missing content"
**Describe the bug**
I was just browsing some of my old posts and noticed that the two oldest from 2016 have no post content:
https://dev.to/pbeekums/teach-writing-code-first
https://dev.to/pbeekums/technical-debt

Everything from 2017 on still exists.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/pbeekums/teach-writing-code-first
2. See empty post content and some co

[2019-03-11 20:55] Zhao-Andy commented on #2036
Hey @ProfessorBeekums, sorry about that. The data is still there, but I believe the issue is because in the past, we had a different way of writing posts and the data was saved into a different column called `body_html`. We might have accidentally missed an `if` statement to render that specific column on the page.

[2019-03-11 21:17] maestromac commented on #2019
Hey @devtox , this seems to be a specific issue with your account. Please email yo@dev.to for more help.

[2019-03-11 21:17] #2019 closed

[2019-03-11 21:50] jessleenyc commented on #1992
Oh yeah! We should add the whole team...maybe we can make that as part of the onboarding process in the future.

[2019-03-11 21:57] Glennmen commented on #1992
Maybe also worth mentioning that not every team member is in [The DEV Team](https://dev.to/devteam) organisation.

![image](https://user-images.githubusercontent.com/11406433/54160881-f8938280-4450-11e9-8645-eee016e51b4b.png)

[2019-03-11 22:33] jessleenyc commented on #1992
Ah, @aspittel isn't on there because we don't have a way for one person to be part of multiple orgs yet...and she's the org admin for https://dev.to/learncodefromus!

[2019-03-11 22:39] Glennmen commented on #1992
Isn't @lightalloy also not part of the team?

[2019-03-11 22:54] jessleenyc commented on #1991
Yeah that makes sense. I think the colors would be too distracting on the indexes but this is approved for anyone who wants to add tag links to the dashboard!

[2019-03-11 23:01] jessleenyc commented on #2001
Oh yeah, great call and love the copy. This is approved for anyone who wants to grab it!

[2019-03-11 23:08] jessleenyc commented on #2008
@michaellee i think this might have been because the file size was too large. I just downloaded the exact file and the same thing happened to me, but when I uploaded it as a smaller file it worked fine. We should have better error messaging there.

[2019-03-11 23:09] jessleenyc commented on #2014
Hm, ok. Thanks for reporting and the detailed notes on your account history -- we'll take a look at this.

[2019-03-11 23:12] rhymes commented on #2008
@jessleenyc I guess the PR - #2018 - I sent for #936 should catch this as well 🥳😂

[2019-03-11 23:12] jessleenyc commented on #2016
@pauloxnet  I believe I fixed the error you were receiving, can you try editing the post again now?

[2019-03-11 23:17] jessleenyc commented on #2033
Awesome. Closing this!

[2019-03-11 23:17] #2033 closed

[2019-03-11 23:23] jessleenyc commented on #2017
Hey @setevoy2 sorry about that.  Looks like that post is published now? Did you change the post or did it eventually work?

[2019-03-12 05:16] setevoy2 commented on #2017
Hi, @jessleenyc
Well - I just removed 2/3 of the text :-|

[2019-03-12 08:00] pauloxnet commented on #2016
@jessleenyc It works now thanks for fixing the bug

[2019-03-12 10:59] #2016 closed

[2019-03-12 11:25] lightalloy opened #2041 "Possible errors when sending a notification when user follows a tag"
**Describe the bug**
Here is an attempt to send a new follower notification no matter what the `followable_type` is.

https://github.com/thepracticaldev/dev.to/blob/a9254eac407baf71a781fb94759b296f2fdedcdd/app/controllers/follows_controller.rb#L27-L35

When `followable_type` is a tag, an incorrect notification could be updated or attempted to be created, cause the `notification_params` on this lin

[2019-03-12 12:36] icefoxen opened #2042 "Eternally pulsing animations make it impossible to actually read an article."
**Describe the bug**

![image](https://user-images.githubusercontent.com/1335133/54200362-99aa2980-44a1-11e9-9984-ceffa7461303.png)

This thing pulses, very prettily with nice CSS animations, once per second.  Forever.  Congratulations, you've re-invented the blink tag.

I'm sorry for being grumpy, but please stop.  :cry:

Oh, this is a duplicate of #1372.  Except that one is closed and apparently

[2019-03-12 12:40] icefoxen commented on #266
I was about to open a duplicate of this one so I'm forced to come here and comment:

Sites usually put metadata like "about" and "contact" on the bottom of the page, so that's the first place I look for them.  Having the links visible on the bottom for half a second only to scoot out of reach as new articles load is a *guaranteed* way for me to *not* try to look for them anywhere else.  "Look, the

[2019-03-12 13:11] keshavbiswa commented on #2021
Can I work on this issue?

[2019-03-12 15:00] PicoCreator commented on #1319
Just notice this - while not a docker-compose. It is an alpine docker build.

Details of the alpine docker container : https://dev.to/uilicious/adopt-your-own-devto----with-a-single-command-almost-1c04

Pull request : https://github.com/thepracticaldev/dev.to/pull/1844

[2019-03-12 15:24] PicoCreator commented on #1319
Also side note - while I didnt do a side to side comparison with previous deployment. The whole dockerfile build + fetching dev.to dependencies + to actually running it - still takes 5+ minutes. So im not too sure if the smaller image has a large impact on the build/compile/run time.

On the plus side it does get faster on repeated execution (dockerfile is already built, dependencies already pulle

[2019-03-12 17:02] JoppeDC commented on #2021
Also interested!

[2019-03-12 19:21] jessleenyc opened #2045 "Support <details>/<summary> tags in markdown"
**Is your feature request related to a problem? Please describe.**
<details>/<summary> tags are support in github markdown and I'd like to use them on DEV as well.

[2019-03-12 19:25] jessleenyc commented on #1867
Hey all, I created a separate issue for the two specific tags @sw-yx was looking for: https://github.com/thepracticaldev/dev.to/issues/2045

We want to take as much of the good parts of github markdown as possible. I'm going to close this issue in favor of adding/updating as we go.

[2019-03-12 19:25] #1867 closed

[2019-03-12 19:25] jessleenyc commented on #1870
Awesome. This is approved!

[2019-03-12 19:36] jessleenyc commented on #2017
Hmm ok. We were experiencing some issues over the weekend so it could have been from that, or what you're suggesting with process that amount of content and timing out. Would you mind trying again?

[2019-03-12 19:38] jessleenyc commented on #2010
@mcataford since this will involve some design, will you share your mockups with us before implementing? This is approved once we're on the same page about how it'll look.

[2019-03-12 19:56] michaellee commented on #2008
Thanks for the feedback @jessleenyc @rhymes @michael-tharrington! I resized and it worked. Would be great to have even just a little blurb to indicate the max for the image.

[2019-03-12 20:33] mariocsee commented on #2045
should these tags be supported in all or certain parts of the site that support markdown? (i.e articles, comments, chat messages)

[2019-03-12 20:35] Link2Twenty commented on #2045
Will a polyfill be used for IE11 and Edge?

[2019-03-12 20:36] jessleenyc commented on #2014
@joshuaalm are you still receiving this issue? I think this might have occurred during some downtime we had over the weekend.

[2019-03-12 20:39] joshuaalm commented on #2014
Jess,

Thank you for reaching out. Yes, I get “You have lost your way” when I
click the link to the post, and “500 Error It’s not you, it’s me.” (Kudos
to the team member(s) behind these error pages; they’re somewhat
entertaining)

On Tue, Mar 12, 2019 at 4:36 PM Jess Lee <notifications@github.com> wrote:

[2019-03-12 20:53] johnpapa opened #2046 "Embed GitHub Code"
I tried to embed a few lines of code in a post from github. It did not work, but would be cool if it did.

This would be the expected format, I think

{% github https://github.com/johnpapa/vscode-peacock/blob/master/.vscodeignore#L12-L17 %}

[2019-03-12 20:54] setevoy2 commented on #2017
Yeah - it works now, thanks. Posted full content without any issues.

[2019-03-12 20:59] maestromac commented on #2017
Awesome to hear that @setevoy2 ! Closing

[2019-03-12 20:59] #2017 closed

[2019-03-12 21:03] maestromac commented on #2012
Thank you for reporting this issue @nshusa !

[2019-03-12 21:31] mcataford commented on #2010
Absolutely!

Will get to that today and post it here.

[2019-03-12 21:40] rhymes commented on #2046
Yeah, currently the GitHub tag only supports issues, pull requests and the readme, not arbitrary code: https://github.com/thepracticaldev/dev.to/blob/be8e139e3e744779a161d3ac48e343a6f9569458/app/liquid_tags/github_tag.rb#L18-L27

[2019-03-12 22:22] bolariin commented on #1991
Hi @jessleenyc, I would love try to resolve the issue.

[2019-03-12 23:27] bolariin commented on #1870
I would like to try to resolve this.

[2019-03-13 01:23] mcataford commented on #2010
This could be a very basic way of doing it. I'm not aware of a public styleguide or set of visual guidelines re:accessibility and design, so I preserved the pre-existing top spacing between the comment box and the notification title, and used 14px for text to avoid stealing focus from the 18px title or surrounding text.

In this scenario, the post date would stand on its own line between the title

[2019-03-13 02:30] erikyuzwa opened #2048 "adding a "read" button to notification"
**Is your feature request related to a problem? Please describe.**
It's not "frustrating", but I don't know how to remove a notification in my list. I only see the heart and the "save" button. Clicking on the article doesn't remove it from the notification list either (at least for me).

**Describe the solution you'd like**
It would be nice to have an "x" or a "read" button to just acknowledge the

[2019-03-13 04:56] Haman001 opened #2049 "found a bug, couldnt write a post,"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-03-13 07:23] rhymes commented on #2049
I think you forgot to fill the bug report 😁 can you provide more information? (you can just edit your post and replace the template text with the info)

Thank you!

[2019-03-13 08:48] Tadaboody commented on #97
AFAIK this hasn't been implemented yet.
I think this is still applicable and would like it to be re-opened.

[2019-03-13 09:06] lightalloy commented on #2021
@keshavbiswa @JoppeDC you're welcome.
I'll be posting lists of the cops you can work on.

[2019-03-13 09:06] lightalloy commented on #2021
- [ ] Style/Alias
- [ ] Style/ArrayJoin
- [ ] Style/Attr
- [ ] Style/CaseEquality
- [ ] Style/CharacterLiteral
- [ ] Style/ColonMethodCall
- [ ] Style/CommentAnnotation
- [ ] Style/PreferredHashMethods
- [ ] Style/DoubleNegation
- [ ] Style/EachWithObject
- [ ] Style/EmptyLiteral
- [ ] Style/EvenOdd
- [ ] Style/GuardClause
- [ ] Style/IfUnlessModifier
- [ ] Style/IfWithSemicolon
- [ ] Style/Lambda

[2019-03-13 09:07] lightalloy commented on #2021
I suppose there're no violations to these cops, so they can just be enabled:

- [ ] Naming/AsciiIdentifiers
- [ ] Naming/FileName

[2019-03-13 09:11] lightalloy commented on #2021
- [ ] Rails/Delegate
- [ ] Rails/ActionFilter
- [ ] Rails/FindBy
- [ ] Rails/FindEach
- [ ] Rails/Output
- [ ] Rails/ReadWriteAttribute
- [ ] Rails/ScopeArgs
- [ ] Rails/Validation

[2019-03-13 09:16] lightalloy commented on #2021
- [ ] Performance/CaseWhenSplat
- [ ] Performance/Count
- [ ] Performance/Detect
- [ ] Performance/FlatMap
- [ ] Performance/ReverseEach
- [ ] Performance/Sample
- [ ] Performance/Size
- [ ] Performance/StringReplacement

[2019-03-13 09:18] lightalloy commented on #2021
- [ ] Layout/AlignParameters
- [ ] Layout/ConditionPosition
- [ ] Layout/InitialIndentation

[2019-03-13 09:25] lightalloy commented on #2021
- [ ] Lint/AmbiguousOperator
- [ ] Lint/AmbiguousRegexpLiteral
- [ ] Lint/AssignmentInCondition
- [ ] Lint/CircularArgumentReference
- [ ] Lint/DeprecatedClassMethods
- [ ] Lint/DuplicatedKey
- [ ] Lint/EachWithObjectArgument
- [ ] Lint/ElseLayout
- [ ] Lint/FormatParameterMismatch
- [ ] Lint/LiteralAsCondition
- [ ] Lint/LiteralInInterpolation
- [ ] Lint/Loop
- [ ] Lint/NestedMethodDefinition
- [

[2019-03-13 09:26] lightalloy commented on #2021
Please, notify about the cops you're working on in this thread.
If you have any problems or questions, feel free to ask them in this thread or in your (draft) pull request.

[2019-03-13 10:49] lightalloy opened #2051 "Trying to reach a nonexistent badge returns 500"
**Describe the bug**
Trying to reach a nonexistent badge returns 500 error instead of 404

**To Reproduce**
Steps to reproduce the behavior:

1. Try to reach a badge page with an incorrect slug, e.g. [this url](https://dev.to/badge/random)
2. Get 500 error

**Expected behavior**
Get 404 error

[2019-03-13 11:32] keshavbiswa commented on #2021
Okay sure thanks :)

[2019-03-13 14:35] jessleenyc commented on #1991
@bolariin go for it!

[2019-03-13 14:44] isaac-martin opened #2054 "Footer on homepage never reachable"
**Describe the bug**
Footer On homepage is never clickable due to infinite scroll, however regularly it will be shown depending on the speed of the scroll. See attached GIF

**To Reproduce**
Go to homepage, scroll down.

**Expected behavior**
Footer would be able to be clicked on, or not shown at all.

**Screenshots**

![dev to](https://user-images.githubusercontent.com/8649366/54287896-e7e02b00-4

[2019-03-13 14:45] isaac-martin commented on #2054
I'll take this on, but @benhalpern what behaviour do we want for the footer on that page?

[2019-03-13 14:50] Glennmen commented on #2054
I think there already is a discussion about this: https://github.com/thepracticaldev/dev.to/issues/266

[2019-03-13 14:50] alextakitani commented on #464
I was about to open an issue about it.

As a non-native English speaker, I get intimidated writing posts/comments that will show for a huge audience.

Many times I've written a huge text and erased because I feel that I was not able to properly translate what I was thinking.

I think that more than an automatic way of checking spell and grammar, the help from native speakers would help A LOT. Some

[2019-03-13 14:52] isaac-martin commented on #2054
Thanks @Glennmen - I should have searched better, will close this.

[2019-03-13 14:52] #2054 closed

[2019-03-13 15:03] rhymes commented on #464
@alextakitani as a non native speaker myself I see where you're coming from

Keeping a post in draft and waiting for approval for an english expert might ease one's mind but it also means that someone has to bear the work and responsibility of going through your post (if not tens of posts if they sign up for the "job"), in their spare time, to correct our typos or mistakes. Essentially they would

[2019-03-13 15:15] jessleenyc opened #2055 "Asking/Volunteering For Editorial Help"
**Is your feature request related to a problem? Please describe.**
Connecting people who need help editing their post to people who would be up for helping. As described by https://github.com/thepracticaldev/dev.to/issues/464#issuecomment-472454990 and something we've heard anecdotally, it can be intimidating to post.

**Describe the solution you'd like**
We could have people request for help on t

[2019-03-13 15:17] jessleenyc commented on #464
Reopening this issue since I think a grammarly plugin could still be interested. Created a new issue related to the community helping one another edit posts: https://github.com/thepracticaldev/dev.to/issues/2055

[2019-03-13 15:18] bolariin commented on #1991
@jessleenyc I have a question about other locations where tags are used without links. I found the file responsible for tags on the dasboard but I can't find any other locations where tags don't have links.

[2019-03-13 15:25] jessleenyc commented on #2010
@mcataford this looks good to us for comments/posts. We do have other types of notifications: badges, milestones, new followers, new reactions, etc. We're cool with just adding timestamps to comments/posts to start but if you wanted to give the other types some thought that might make sense too.

Adding some screenshots as examples of the different styles.

![](https://cl.ly/d54b58fdcf97/download/

[2019-03-13 15:51] mcataford commented on #2010
For the aggregates (i.e. `Jill and 101 others have reacted to this`), the timestamp might not make total sense (since there would be a timestamp per reaction, which muddies the meaning of the timestamp IMO), but for single reactions and for the badge-type notification, it definitely does. I'll give it some thought and try to generate all the notification types locally.

[2019-03-13 15:59] Zhao-Andy commented on #2010
@mcataford let us know if you have questions generating the notifications. IMO the best way is to generate them in `rails console` and run the class methods from `notification.rb` without delay. For example:
[code]

[2019-03-13 16:22] Zhao-Andy commented on #2014
Hey @joshuaalm, sorry about that bug. I think somewhere along the way your posts' `path` columns did not update properly to account for your new dev.to username. We've manually updated them, and you should be able to edit and view your drafts now.

[2019-03-13 18:31] #1171 closed

[2019-03-13 20:38] maestromac commented on #2049
Hello @Haman001 , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-03-13 20:38] #2049 closed

[2019-03-13 22:03] Zhao-Andy opened #2061 "Lower amount of SQL queries used for signing in"
Currently, some people (myself included) are experiencing long sign in times, which usually end up timing out, thus preventing people from signing in.

Looking at [Skylight](https://oss.skylight.io/app/applications/K9H5IV3RqKGu/recent/6h/endpoints?query=omniauthcallbackscontroller) we can see that the requests take on average 2.7 seconds. Looking deeper in the `#github` or `#twitter` actions we ca

[2019-03-13 22:57] Zhao-Andy commented on #1182
not stale

[2019-03-14 00:16] kay-is commented on #1845
https://www.moesif.com/blog/technical/graphql/Generating-Rest-APIs-from-GraphQl-Schemas/

[2019-03-14 00:50] RyKilleen commented on #1153
Tackling this currently!

[2019-03-14 10:22] lightalloy commented on #2041
Fixed by #2050

[2019-03-14 10:22] #2041 closed

[2019-03-14 12:35] cybernetwebdesign opened #2064 "https://prnt.sc/mxs8g2"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-03-14 15:09] maestromac commented on #2064
???????

[2019-03-14 15:09] #2064 closed

[2019-03-14 15:12] keshavbiswa opened #2065 "Rspec not running."
**Describe the bug**
When I'm running rspec spec/
I'm getting the following error

`An error occurred in a before(:suite) hook.`
`Failure/Error: DatabaseCleaner.clean_with(:truncation)`
`# --- Caused by: ---`
`# PG::QueryCanceled:`
`#   ERROR:  canceling statement due to statement timeout`
`#   /home/meerkat/.rvm/gems/ruby-2.6.1/gems/database_cleaner-1.7.0/lib/database_cleaner/active_record/trunca

[2019-03-14 15:25] keshavbiswa commented on #2065
Still not working

[2019-03-14 15:59] maestromac commented on #2065
Can you try it again after restarting your computer? Database cleaner issue tends to be a one-off thing.

[2019-03-14 16:04] rhymes commented on #2065
I tried to checkout your branch and re-run the spec but I can't seem to reproduce it

[2019-03-14 16:06] keshavbiswa commented on #2065
I just restarted my pc and tried again. It still doesn't work.

[2019-03-14 16:13] keshavbiswa commented on #2065
Dropped and recreated the database and it still doesn't work.

[2019-03-14 16:37] edisonywh commented on #2065
Can you post your `database.yml`, and maybe your Postgres version?

Also try to run `STATEMENT_TIMEOUT=5000 bundle exec rspec` and see if that helps

[2019-03-14 16:39] keshavbiswa commented on #2065
[code]

[2019-03-14 16:40] keshavbiswa commented on #2065
@edisonywh I tried STATEMENT_TIMEOUT=5000, doesn't work

[2019-03-14 16:42] Zhao-Andy commented on #2065
@keshavbiswa You can set the `STATEMENT_TIMEOUT` variable in `application.yml`, and then try running it again.

[2019-03-14 16:43] keshavbiswa commented on #2065
It works if I set the STATEMENT_TIMEOUT to 10000.

[2019-03-14 16:45] keshavbiswa commented on #2065
Thanks

[2019-03-14 16:45] #2065 closed

[2019-03-15 13:44] selbekk opened #2067 "Singular comments and reactions get s-ending"
**Describe the bug**
When I go visit my dashboard, I notice a typo. When I have 1 comment on one of my articles, it says "1 comments" (plural). The same goes for reactions.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/dashboard
2. Have an article with 1 reaction or 1 comment (or both) and notice the plural `s` at the end.

**Expected behavior**
If I have 1 comment, i

[2019-03-15 13:47] kay-is opened #2068 "Changing the title of an article leads me to a search page"
**Describe the bug**
I created a new article and saved it. Then I wanted to change the title and it got me to a page with the title "Search Results - Dev Community" that showed users, while **the URL still includes the old title**.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new article
2. Save it
3. Change the title
4. Save it
5. End up at the search results page

**Expected b

[2019-03-15 13:50] edisonywh commented on #2051
I've fixed it over at #2066, feel free to review :)

[2019-03-15 14:12] lightalloy commented on #2051
@edisonywh thanks! Will look at that.

[2019-03-15 14:25] rhymes commented on #2068
I think this is due to the fact that the slug is created only once and never updated (which in theory makes sense):

https://github.com/thepracticaldev/dev.to/blob/f93af16fbe99a83d5fd3e74bd7ffa3a2532ae6b4/app/models/article.rb#L49

which calls

https://github.com/thepracticaldev/dev.to/blob/f93af16fbe99a83d5fd3e74bd7ffa3a2532ae6b4/app/models/article.rb#L511-L517

which calls the following two meth

[2019-03-15 15:03] keshavbiswa opened #2071 "Git commit gives an error"
**Describe the bug**
Every commit I make I have to explicitly provide `--no-verify`  for husky to bypass otherwise I get an `Bundler::RubyVersionMismatch` Error. I have no idea why is this happening?

**To Reproduce**
Steps to reproduce the behavior:

1. Make some changes in any .rb file
2. git add .
3. git commit -m"Message"
4. See error

**Expected behavior**
It should run rubocop without any er

[2019-03-15 15:15] mariocsee commented on #1794
@willamesoares Looking at how articles pages have the footer width match with the article content to prevent overlap with the cards on the right side, I think you've good idea of how to go about this issue to prevent the overlap with the cards on the left. Something to potentially check for is how the footer behaves in other DEV pages since it's used all throughout.

<img width="791" alt="Screen S

[2019-03-15 15:45] jessleenyc commented on #1318
Drafts now autosave on v2 of the editor! To toggle that editor, visit dev.to/settings/misc.

[2019-03-15 15:45] #1318 closed

[2019-03-15 15:47] mariocsee commented on #1347
I think this issue may have been solved by PR #1927, which closed other reading list issues #1395 and #1785. Currently, I can't recreate this on my reading list with Chrome, Firefox, and Safari on MacOS Mojave. Are you still experiencing this, @imadityang?

[2019-03-15 16:11] keshavbiswa commented on #2012
I think this issue is resolved in this pr #2015.

[2019-03-15 16:13] maestromac commented on #2012
yep it was. Thanks for the ping!

[2019-03-15 16:13] #2012 closed

[2019-03-15 16:22] exyi commented on #168
No, it's still a problem. Do you want me to write a bot to post spam comments here just not get the issue closed? If someone would resolve the problem, maybe they'd close the issue, I don't really understand this logic "maybe it will fix itself..."

[2019-03-15 16:57] lightalloy commented on #2071
I have also encountered this error. I think it's because the `lint-staged` runs rubocop using the system ruby version. It can be fixed by changing this line https://github.com/thepracticaldev/dev.to/blob/365a3513dc075a77165eb71fbba789b7e1809716/package.json#L29 to
[code]
Does anyone have thoughts on this fix?

[2019-03-15 17:42] abraham commented on #2071
According to the bundler docs `bin/rubocop` should be identical to `bundle exec rubocop`.

https://bundler.io/v1.16/man/bundle-exec.1.html#BUNDLE-INSTALL-BINSTUBS

[2019-03-15 18:37] lightalloy commented on #2071
@abraham somehow it's not, but only when run via `lint-staged`

[2019-03-15 18:39] #1460 closed

[2019-03-15 18:41] keshavbiswa commented on #2071
@lightalloy it doesn't work with `bundle exec rubocop` too

[2019-03-15 18:55] benhalpern commented on #1377
Hey, we shipped the underlying functionality that make themes ready to go.

https://dev.to/devteam/new-feature-display-configuration-sans-serif-fontsnight-mode-beta-23o0

I made "theme" its own thing separate from "font" because I think those could be treated differently, but we could merge the ideas later. Anyway, this should make anything we do usable and generate excitement towards theme develo

[2019-03-15 18:59] benhalpern opened #2075 "Night theme causing issues with fixed content?"
I may have jumped the gun with this, but I finally had time to work on it and was excited to get it shipped:

https://dev.to/devteam/new-feature-display-configuration-sans-serif-fontsnight-mode-beta-23o0

Users can now switch to the current implementation of night mode, which is fairly brute force. As it stands, it seems to remove the `fixed` styling from certain divs. Some might see this as a fea

[2019-03-15 19:02] maestromac commented on #2071
This sounds like an issue particular to your system. It may help but we would recommend rbenv over rvm.

For any issue unrelated to the codebase, please consider using our [discussion thread](https://dev.to/devteam/devto-open-source-helpdiscussion-thread-v0-1l45). Closing since this is unrelated to dev.to but you guys are welcome to keep the conversation going here.

[2019-03-15 19:02] #2071 closed

[2019-03-15 19:02] benhalpern commented on #1377
Implementation here:

https://github.com/thepracticaldev/dev.to/pull/2072

We use `localstorage` in pretty much the same way we already use localstorage to store a bunch of other user data. Currently the config syncs automatically across devices as part of the current implementation.

[2019-03-15 19:12] lightalloy commented on #2071
I have the same issue using rbenv 🤷
I'll probably look more into this later.

[2019-03-15 19:15] maestromac commented on #2071
@keshavbiswa what if you change your rvm's default to 2.6.1?

[2019-03-15 19:22] lachlanjc commented on #1377
![1223B476-4BA6-40EE-A081-0A54B09A6613](https://user-images.githubusercontent.com/5074763/54456790-eea5a400-471c-11e9-8ec3-7b3d07c863a8.jpeg)

Bug: emojis are inverted in dark mode 🌚

[2019-03-16 08:25] bwl21 commented on #575
Github has a different behaviour for Issues and other places. I find this pretty strange and annoying.

 see: https://github.community/t5/How-to-use-Git-and-GitHub/Why-does-markdown-in-issues-respect-line-breaks/m-p/18637

[2019-03-16 08:27] bwl21 commented on #1492
Note that Github has a different behaviour with respect to line breaks for Issues and other places. I find this pretty strange and annoying.

 see: https://github.community/t5/How-to-use-Git-and-GitHub/Why-does-markdown-in-issues-respect-line-breaks/m-p/18637

[2019-03-16 22:40] manprajapat opened #2079 "500 error occurred Sometimes."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-03-16 23:12] softchris opened #2080 "The page doesn't render, it gives off a 500 error, https://dev.to/softchris/dockerfrom-the-beginning-part-v-n2c"
**Describe the bug**
page doesn't render, gives 500 error
https://dev.to/softchris/dockerfrom-the-beginning-part-v-n2c

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
page doesn't render

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the foll

[2019-03-17 00:53] softchris opened #2082 "page should load, https://dev.to/softchris/docker-from-the-beginningpart-iii-2h51 500 error"
**Describe the bug**
trying to load this page https://dev.to/softchris/docker-from-the-beginningpart-iii-2h51
get 500 error instead

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help e

[2019-03-17 00:54] softchris opened #2083 "Page should load 500 error https://dev.to/softchris/docker-from-the-beginning---part-ii-5g8n"
**Describe the bug**
Page should load, 500 error instead https://dev.to/softchris/docker-from-the-beginning---part-ii-5g8n

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain yo

[2019-03-17 00:55] softchris opened #2084 "page should load, 500 error https://dev.to/softchris/dockerfrom-the-beginning-part-v-n2c"
**Describe the bug**
page should load, 500 error instead https://dev.to/softchris/dockerfrom-the-beginning-part-v-n2c

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your pr

[2019-03-17 01:39] benhalpern commented on #2084
Sorry about this. The fix has been merged and everything is working as expected. There was a mistake in the most recent deployment that did not cause the CI to fail.

Thank you so much for alerting us to this.

[2019-03-17 01:39] #2084 closed

[2019-03-17 01:39] benhalpern commented on #2083
Sorry about this. The fix has been merged and everything is working as expected. There was a mistake in the most recent deployment that did not cause the CI to fail.

Thank you so much for alerting us to this.

[2019-03-17 01:39] #2083 closed

[2019-03-17 01:39] benhalpern commented on #2082
Sorry about this. The fix has been merged and everything is working as expected. There was a mistake in the most recent deployment that did not cause the CI to fail.

Thank you so much for alerting us to this.

[2019-03-17 01:39] #2082 closed

[2019-03-17 01:40] benhalpern commented on #2080
Sorry about this. The fix has been merged and everything is working as expected. There was a mistake in the most recent deployment that did not cause the CI to fail.

Thank you so much for alerting us to this.

[2019-03-17 01:40] #2080 closed

[2019-03-17 01:40] benhalpern commented on #2079
This may be related to #2080. Without more info I'll have to close this, but re-open if it is still occurring.

[2019-03-17 01:40] #2079 closed

[2019-03-17 15:11] co16353sidak opened #2086 "Bug(Night Mode): Visibility issues with Search in Night Mode"
**Describe the bug**
In the night mode, the search bar seems to blend in with the top Navbar.
What I have noticed is that while we do change the colouring of the text from black (in default mode) to white (in night mode), the `search` placeholder seems to persist with the same `font-color` nevertheless, causing 2 problems:

1. Breaks from the consistency of the whole UI, where in we are using brig

[2019-03-17 20:06] danielbayerlein commented on #88
Is it now possible?

[2019-03-17 20:56] rhymes commented on #88
Hi @danielbayerlein, I don't think this feature exist as of today

[2019-03-17 22:15] glebec opened #2087 "Markdown > code block > `diff`-format syntax highlighting: use accessible colors"
**Is your feature request related to a problem? Please describe.**
The `diff` syntax for language blocks in markdown uses red and green as the contrasting colors for deleted and introduced lines respectively. Over 5% of men and ~0.5% of women have difficulty distinguishing red and green, meaning that some people will struggle to tell apart such lines, relying more on the small `-` and `+` characte

[2019-03-17 22:18] glebec commented on #1344
Counterpoint: the Pocket Chrome extension toolbar button works fine for me without needing to add more content to the page.

[2019-03-18 16:37] kreopelle commented on #1449
@benhalpern  - I would be interested in taking this on, perhaps breaking it into smaller chunks.

[2019-03-18 16:49] jessleenyc commented on #1991
@bolariin adding it to the dashboard for now makes sense. I noticed you had opened/closed a PR. Everything OK?

[2019-03-18 17:32] bolariin commented on #1991
@jessleenyc Yeah, I didn't know renaming a branch deleted the old branch.

[2019-03-18 18:50] maestromac commented on #1153
This is partially implemented am I correct?

[2019-03-18 19:01] jpac-run commented on #1696
@jessleenyc is this still an issue? I would like to try adding this feature 👍

[2019-03-18 19:49] brunolemos opened #2106 "Deleted a thread comment, but it didn't disappear and got into a broken state"
**Describe the bug**
After deleting my own comment, it got into a broken state. The deleted comment is still there, and I can't remove it again (get the "You have lost your way" message) and can't reply to the thread anymore (get an endless loading indicator).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a comment thread
2. Reply
3. Delete your reply
4. Get to the broken state

I'm

[2019-03-18 20:52] jessleenyc commented on #1696
@jpac-run cool, go for it -- `manage_activity_and_roles.rb` will prob be the best place to do it. You'll want to create a mentor relationship and make sure you're a super admin. lmk if you have any quqestions!

[2019-03-18 20:55] jessleenyc commented on #1765
Hey all, this should be fixed now!

[2019-03-18 21:00] sandordargo commented on #1765
Thanks!

[2019-03-18 21:11] Glennmen commented on #1765
@jessleenyc Will it also update/fix old articles? None of my article views seem to have been updated.

[2019-03-18 21:34] benhalpern commented on #2036
Hey, I'm running a script to update everything now. Sorry about the issues. You're user #113 so this is a unique type of issue to run into for early adopters only. 🙌

[2019-03-19 00:01] RyKilleen commented on #1153
Correct, right now it's a pretty naive implementation that only works on the home page.

[2019-03-19 02:04] #2075 closed

[2019-03-19 02:53] edisonywh commented on #2068
@rhymes slightly unrelated, but I noticed that when my friend shared me a draft post, it generated a non-final slug (it includes `temp-slug`), and when he finally publishes the post, the old link does not work anymore.

Now looking at the code you just posted it is apparent that this is probably intended, but I'm curious if there's a reason behind that? Why is the `temp-slug` _needed_?

[2019-03-19 04:09] #856 closed

[2019-03-19 09:07] rhymes commented on #2068
I don't know the exact reason, probably @benhalpern knows the details. If I were to guess I'd say it's to obfuscate the temporary URL

[2019-03-19 09:12] Link2Twenty commented on #1377
@lachlanjc we've moved over to actually using the css variables now rather than inverting, so hopefully that's a bit better.

[2019-03-19 09:24] lightalloy opened #2111 "Reaction notification should contain only persisted reactions data"
**Describe the bug**
When a destroyed reaction record is passed to the `send_reaction_notification` method, this reaction data is kept in the notification.
Calling the method with a destroyed record:
https://github.com/thepracticaldev/dev.to/blob/5ace9a5fc9a6d0f31c24e71702c63d602998c141/app/controllers/reactions_controller.rb#L56-L58
Keeping reaction data regardless of whether it's destroyed:
http

[2019-03-19 09:25] lightalloy commented on #2111
Not 100% sure that it's not an intentional behavior, but it seems like the `user` and the `aggregated_siblings` in a reaction notification `json_data` should contain matching information.

[2019-03-19 10:52] lightalloy commented on #2071
@keshavbiswa in my case `npm-which` which is used by `lint-stage` gives the system ruby, whilst `node-which` gives the correct ruby.
[code]
I haven't dug any further.

[2019-03-19 11:43] rhymes commented on #2071
Sometimes I wonder how our computers work at all, because we work on a never ending tower of code written by thousands if not millions of developers and such pieces of code somehow always work together like a LEGO (or at least most of the time :D)

It's truly fascinating how magical it must look from the outside.

[2019-03-19 12:58] benhalpern commented on #2036
Fixed 👌

If there are any edge cases that went unfixed, let us know.

[2019-03-19 12:58] #2036 closed

[2019-03-19 13:13] lightalloy commented on #2111
Closed by #2112

[2019-03-19 13:13] #2111 closed

[2019-03-19 14:01] jessleenyc commented on #2042
Hey! Thanks for raising this again. We apparently missed one when we removed the others. This one should be removed now.

[2019-03-19 14:01] #2042 closed

[2019-03-19 14:14] jessleenyc commented on #2086
Hey @co16353sidak feel free to work on this but please share a quick mockup of your design so we are on the same page before you dive into it :)

[2019-03-19 14:17] Link2Twenty commented on #2086
The implementation of night mode is a little different now than it was when you took that screenshot. Here is the new header nav.

![image](https://user-images.githubusercontent.com/3534427/54612873-a7d3e900-4a51-11e9-8da0-1702544baa57.png)

If the style hasn't changed you might need to clear your cache.

[2019-03-19 14:46] maestromac commented on #1554
Resolved with https://github.com/thepracticaldev/dev.to/pull/1866

[2019-03-19 14:46] #1554 closed

[2019-03-19 15:44] abraham commented on #2071
The problem is computers do what we tell them to do, not what we want them to do.

[2019-03-19 16:00] rhymes commented on #2031
I've received the email with the export around an hour ago, I've created another request to make sure that it's still working. I'll let you know if and when I receive it.

I wonder if there's an issue with the queue...

[2019-03-19 16:42] co16353sidak commented on #2086
@Link2Twenty @jessleenyc  didn't need to clear the cache, got the new dark mode and it looks much better than the previous iteration, I feel that my 2nd suggestion seems out of date now seeing as there is now a clear differentiation of the search bar from the navbar now.

I am still wondering if there Is a need to discuss on the colour of the `search` placeholder, I still feel that it would look m

[2019-03-19 16:46] Link2Twenty commented on #2086
Currently, the placeholder is top bar colour but with an opacity of 50%

https://github.com/thepracticaldev/dev.to/blob/2b2ecaa1158332f6aa0edcfe5ae81811bd0fb4b0/app/assets/stylesheets/top-bar.scss#L348-L352

Perhaps we should increase the opacity?

[2019-03-19 17:20] lachlanjc commented on #1377
@Link2Twenty Yep, fixed now!

[2019-03-19 17:24] maestromac commented on #201
Feel free to give it a try @wesdelp !

[2019-03-19 17:32] maestromac commented on #1214
not stale

[2019-03-19 17:50] co16353sidak commented on #2086
@jessleenyc @Link2Twenty
Here are some mockups for this:
1. Opacity at 1.0 (100%)
<img width="680" alt="Screenshot 2019-03-19 at 11 16 28 PM" src="https://user-images.githubusercontent.com/35738138/54629267-36ba2300-4a9d-11e9-92e1-0c1db3c06de0.png">

2. Opacity at 0.9 (90%)
<img width="576" alt="Screenshot 2019-03-19 at 11 16 38 PM" src="https://user-images.githubusercontent.com/35738138/54629287-

[2019-03-19 17:51] co16353sidak commented on #2086
I personally feel that opacity from 0.9 leading to 1 is the best option for this, as you can see the search keyword is clearly visible and the user pays attention to it instead of skipping it

[2019-03-19 19:20] maestromac commented on #2067
Thanks for this @selbekk !
Resolved with https://github.com/thepracticaldev/dev.to/pull/2069

[2019-03-19 19:20] #2067 closed

[2019-03-19 20:05] maestromac commented on #2051
Resolved with https://github.com/thepracticaldev/dev.to/pull/2066

[2019-03-19 20:05] #2051 closed

[2019-03-19 20:16] #2001 closed

[2019-03-19 20:26] maestromac commented on #1206
not stale

[2019-03-19 21:01] #817 closed

[2019-03-19 21:44] abraham commented on #946
There is an newish media query that would be perfect for this. It's already shipped in Firefox, Safari, and Chrome 74 (currently dev).

https://developers.google.com/web/updates/2019/03/prefers-reduced-motion

[2019-03-19 21:53] benhalpern commented on #946
Oh cool. Our new config options should make individual preferences more attainable.

How we architect our configuration will affect how easy it is to add long tail config like this.

[2019-03-19 22:19] #96 closed

[2019-03-20 05:35] KateWang2016 opened #2120 "add reading history list"
**Is your feature request related to a problem? Please describe.**
It seems that I couldn't find the article I read before.

**Describe the solution you'd like**
ps. add reading history list or if you already have this feature, make it more visible.
I mean the articles I clicked, not the ones I intentionally put into something like "reading later".

Thanks.

[2019-03-20 06:28] co16353sidak opened #2121 "Bug(Night Mode):- Hover Issues on Reading List Section"
**Describe the bug**
In the night mode, there seems to be some problems with the hover on the reading list section of the page.
Shown below. when out cursor moves into the Reading List section, the background colour of the lower section containing the buttons `saved posts` and `comment activity` unexpectedly changes colour to merge with that of the background.
If we continue over to actually hover

[2019-03-20 07:59] rhymes commented on #1313
unstale

[2019-03-20 09:35] Link2Twenty commented on #2121
It's this section of the code
https://github.com/thepracticaldev/dev.to/blob/master/app/assets/stylesheets/articles.scss#L940-L973

[2019-03-20 10:27] dabrorius commented on #1958
Hi everyone,
this issue might be more of a missing feature? I just followed "Evil Martians" (in production app) and noticed that I can't see that I'm following them in my dashboard (https://dev.to/dashboard/following). They don't appear under tags, nor the users list. Should there be a third "teams" list there?

[2019-03-20 13:27] teacupwoozy commented on #755
![Screen Shot 2019-03-20 at 7 25 02 AM](https://user-images.githubusercontent.com/39562805/54687616-a6520180-4ae1-11e9-9c14-240b3a246042.png)
I'm getting different (and fewer) errors now. But the problem persists and I can't see messages without searching for them explicitly.

[2019-03-20 13:51] imadityang commented on #1347
@mariocsee Yes it's solved now!

[2019-03-20 13:51] #1347 closed

[2019-03-20 14:23] Zhao-Andy commented on #1958
@dabrorius yeah I'd agree with that. We currently don't show any organizations in the "FOLLOWING" dashboard as you mentioned. It might make sense to have a third tab, or maybe an option to filter by type.

@Glennmen sorry just seeing you message now. The "Welcome Thread" is actually posted by the `user` "dev.to staff" and not under the organization. So to receive the notification, you'd have to be

[2019-03-20 14:47] Zhao-Andy opened #2124 "Possible race condition when sending new reaction notifications?"
There seems to be a weird race condition or something where a reaction notification is created twice. Both notifications have `json_data: nil` and the same `created_at` timestamp.

![double notifications](https://user-images.githubusercontent.com/17884966/54693704-6f89e480-4afd-11e9-867a-14f96398bb93.png)

@lightalloy's WIP PR #2122 might resolve it, but I'm not sure what the root cause is.

[2019-03-20 14:54] dabrorius commented on #1958
@Zhao-Andy I might give this a shot, I've started working on it locally. Seems pretty straightforward but I'm still missing tests, this is how it looks like currently:

<img width="1274" alt="Screen Shot 2019-03-20 at 15 53 47" src="https://user-images.githubusercontent.com/690113/54694418-80038480-4b28-11e9-9a53-29c8c148fafc.png">

[2019-03-20 14:55] Link2Twenty commented on #2086
@benhalpern thoughts?

I think there should be a clear difference between the placeholder text and user input. I'm not sure 90% offers that distinction but that's just my opinion.

[2019-03-20 14:56] Zhao-Andy commented on #1958
That looks great! I think it makes sense to have to below tags and users. I'd recommend watching out for any `n+1` queries.

[2019-03-20 15:00] dabrorius commented on #1958
@Zhao-Andy thanks for the tip, will do! I won't promise anything but I'll try to get a PR ready this week.

[2019-03-20 15:05] abraham commented on #2124
I remember seeing weird things around the reactions count displayed when rapidly clicking on a reaction. It might be related.

[2019-03-20 15:08] Zhao-Andy commented on #2124
@abraham oh hm, good point.

[2019-03-20 15:19] Zhao-Andy commented on #2001
Resolved by #2063

[2019-03-20 15:30] maestromac commented on #2031
Thanks for the follow up @rhymes . Definitely sounds like a background job is backlogged.

[2019-03-20 15:57] borisschapira opened #2126 "Markdown code contribution error"
**Describe the bug**
Unable to write a post containing HTML code for an image.

**To Reproduce**
Contribute this in an new post:

	---
	title: 'Test post'
	---

[code]

**Expected behavior**
Saving is possible.

**Screenshots**
![Capture d’écran 2019-03-20 à 16 53 14](https://user-images.githubusercontent.com/284742/54699374-2c496900-4b31-11e9-85f6-88e37f0ce5d1.png)

**Desktop (please complete t

[2019-03-20 16:00] cyrillefr commented on #2021
Hello, I would like to participate too.
Is it too late to do the Performance cops ?

[2019-03-20 16:01] Zhao-Andy commented on #2021
I believe not, go for it!

[2019-03-20 16:02] Zhao-Andy commented on #2126
Hey @borisschapira, we technically don't allow `src="data` as a very rough solution to prevent XSS. For now, you can try using single quotes instead, like `src='data:image`.

[2019-03-20 16:20] johnpapa commented on #1991
excellent! thanks!

[2019-03-20 16:31] JoppeDC commented on #2021
Havent gotten to it yet. So go ahead :)

On Wed, 20 Mar 2019 at 17:07, cyrillefr <notifications@github.com> wrote:

[2019-03-20 16:35] Zhao-Andy commented on #2068
Hey @kay-is, could you email yo@dev.to with a link to the post that's giving you this issue?

Also, it might be related to this client side error I've had: https://github.com/thepracticaldev/dev.to/issues/1206

[2019-03-20 16:36] keshavbiswa commented on #2021
@cyrillefr Go for it! I will work on Layout Cops :smile:

[2019-03-20 16:48] SachaCR commented on #1236
As said @rhymes, I think that the module that is used to render the code block support lines numbers.

The question is the scope of this option :
- Global to the account
- Related to the article
- For each code blocks

I think that the most easy to implement would be the global configuration. Maybe interesting as a first step for this feature.

[2019-03-20 17:38] bolariin opened #2129 "Dev logo switched with larger logo after visiting 8-week-streak badge page"
**Describe the bug**
On visiting `https://dev.to/badge/8-week-streak`, the logo switches with a larger dev logo. The larger logo stays even after switching to the home page using the logo.

**To Reproduce**
Steps to reproduce the behavior:

1. Visit 'https://dev.to/badge/8-week-streak'
2. You should see the logo change

**Expected behavior**
I expect the dev logo to remain the same.

**Screenshots

[2019-03-20 17:39] venarius commented on #2021
Will work on the Lint ones

[2019-03-20 17:48] rhymes commented on #2129
I just noticed it stays like that even when you navigate from there to other pages

[2019-03-20 17:57] benhalpern commented on #2129
Yeah, we uploaded a version that was wrong. @rhymes is correct.

This is lingering because it got cached before we changed back. I'm loathe to do a site-wide cache purge but it might be necessary if there are lingering pages with the mistake.

[2019-03-20 18:00] rhymes commented on #2129
site wide purges are the worst 😭
brace yourselves heehhe

[2019-03-20 18:04] rhymes commented on #2031
@maestromac well, it means the site is so popular that Delayed job is having troubles keeping up 😄

[2019-03-20 18:12] maestromac commented on #2129
I believe this resolved itself. Let me know if otherwise!

[2019-03-20 18:12] #2129 closed

[2019-03-20 18:17] maestromac commented on #1991
Resolved with https://github.com/thepracticaldev/dev.to/pull/2088 . If we overlooked something or there's other part of the site that need this feature, please let us know!

[2019-03-20 18:17] #1991 closed

[2019-03-20 18:26] rhymes commented on #2129
@maestromac love the new logo!

[2019-03-20 18:35] maestromac commented on #2120
Thank you for your feature request @KateWang2016 . Closing this since it has been brought up before.

Duplicate of https://github.com/thepracticaldev/dev.to/issues/1173

[2019-03-20 18:35] #2120 closed

[2019-03-20 18:47] maestromac commented on #2106
Hey @brunolemos , can you check if you are still experiencing this error?

[2019-03-20 18:58] desirottman opened #2131 "Built in cover image photo credit"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I'm writing a post, and I'm not sure how to format photo credits.

**Describe the solution you'd like**
It would be nice if there was a markdown tag in the post editor to attribute a stock photo to its source, or if the content included in the "new post" included a prepopulated, formatted spot to add attr

[2019-03-20 19:03] maestromac commented on #2087
I really like this idea @glebec !

[2019-03-20 19:05] abraham commented on #2131
Looks like a duplicate of #1849.

[2019-03-20 19:06] Zhao-Andy commented on #2131
Hey @desirottman, thanks for the issue! We actually have an open issue for this via #1849. It'd be great if you could leave a comment in #1849 with your screenshots.

[2019-03-20 19:06] #2131 closed

[2019-03-20 19:10] maestromac commented on #1870
Resolved with https://github.com/thepracticaldev/dev.to/pull/2089

[2019-03-20 19:10] #1870 closed

[2019-03-20 19:10] benhalpern commented on #2087
Cool, let's make this change. We have no great tie to red green. I'm not 100% sure of this implementation, but let's only commit fully if we can do it without side affects of affecting other colors in the code.

Long term: I think we'll have custom theming for code snippets available in the future, so if the short term fix doesn't fly we can definitely have more accessible themes down the road. Si

[2019-03-20 19:19] brunolemos commented on #2106
It's fixed now, thanks!

[2019-03-20 19:19] #2106 closed

[2019-03-20 21:12] pkfrank opened #2133 "Provide API access to data from Pro Dashboard"
**Is your feature request related to a problem? Please describe.**
As a DevRel professional, I'd like to be able to access my Pro Dashboard data via API.

**Describe the solution you'd like**
A supported API that allows me to access a list of articles, along with corresponding traffic and engagement information.

**Additional context**
An Azure team request

[2019-03-20 21:13] pkfrank opened #2134 "Add ability to sort articles on dashboard by views/reactions"
**Is your feature request related to a problem? Please describe.**
As an author, I'd like to be able to sort my posts by criteria such as views / engagement / comments count, instead of strictly viewing in chronological order.

**Describe the solution you'd like**
An option on the dashboard which allows me to filter by certain criteria (views, reactions, comments).

[2019-03-20 22:28] JoppeDC opened #2137 "Squished profile picture on preview"
**Describe the bug**
When doing a post preview, the profile pic next to the publisher name is squished.

**To Reproduce**
Create a new post, preview it.

1. Go to write a post
2. Click on preview
3. See publisher image

**Expected behavior**
Normal image

**Screenshots**
https://cl.ly/8950bcf37c07

**Desktop (please complete the following information):**

- OS: MacOS
- Browser: Chrome
- Version 72

[2019-03-20 22:31] Zhao-Andy commented on #2137
Hmm looks okay for me.

![Image 2019-03-20 at 6 29 58 PM](https://user-images.githubusercontent.com/17884966/54723560-52293a80-4b3e-11e9-9604-8ef8e5b3c81b.png)

You're not talking about development/`localhost` right?

[2019-03-20 22:38] ioprotium opened #2138 "Preview notifications as a floating dialog"
**Is your feature request related to a problem? Please describe.**
Is not related to any problem. Every time I click on the notification icon it goes to **https://dev.to/notifications**. Then I have to press the back button to come back to the article I was reading.

**Describe the solution you'd like**
When clicking the notification icon I'd like to see just a container positioned under the icon

[2019-03-20 22:39] Zhao-Andy commented on #2138
Hey @ioprotium, thanks for the feature request! Certainly something to consider and discuss. Feel free to drop any design ideas if you have something you were thinking of.

[2019-03-20 22:50] Glennmen commented on #2138
Isn't that the same as this issue: #968

[2019-03-20 22:52] Zhao-Andy commented on #2138
@Glennmen oh yeah, good catch. @ioprotium we're going to close this one and reopen #968. Feel free to add a comment there if you'd like!

[2019-03-20 22:52] #2138 closed

[2019-03-20 22:55] Zhao-Andy commented on #640
Still an issue.

[2019-03-20 22:57] Zhao-Andy commented on #253
This is still a valid issue/bug.

[2019-03-20 23:00] Zhao-Andy commented on #1278
Still a valid a11y issue.

[2019-03-20 23:06] ioprotium commented on #2138
@Glennmen yes! I wasn't able to find a similar request but I was sure somebody must have already asked for.

I forked the repo, I will try to study it and maybe drop a PR.

[2019-03-20 23:13] JoppeDC commented on #2137
No, this is on the live version for me. Just done some cache clearing etc. and i'm still squished

[2019-03-20 23:19] Zhao-Andy commented on #2137
Oh, interesting. Looks like the image was scaled down to 50 x 26 (width x height) for some reason, and the CSS is changing it to 28 x 28. I think we don't format profile images to be squares, which is why it maintained that scale.

If you want a short term solution, you could crop your original image file to square and re-upload your profile image.

[2019-03-20 23:21] JoppeDC commented on #2137
Doesn't really bother me. Its only on the preview page, not on the post itself. Its correct anywhere else on the site, just not in the preview.

[2019-03-21 01:06] PicoCreator commented on #1319
With #1844 merged, shall we /close this?

[2019-03-21 07:55] kontrollanten opened #2144 "Display bookmark icon inside "Save" button"
**Is your feature request related to a problem? Please describe.**
I've used dev.to for a while now, and I like a lot. It took my a while though to understand what the bookmark icon is. For a long time I thought it was just a "reaction". So every time I found a post I'd like to save, I had to search for the hashtag and in the list click on the "Save" button, to save it for later. And many other po

[2019-03-21 08:09] lightalloy commented on #2124
@Zhao-Andy My pr will address the possible deserialization errors (from #1621), it won't make the job idempotent by default.
Reacting/then unreacting might be a case, though it's weird that the `json_data` is set to `nil`.
I'll do the research on this issue.

[2019-03-21 09:42] rhymes opened #2147 "Static assets have unusually short caching period"
**Describe the bug**

I was testing the homepage with [Google PageSpeed Insights](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fdev.to%2F) and [WebPage Performance Test](https://webpagetest.org/performance_optimization.php?test=190321_8H_be96eb19fc13a0947df3488adf259c64&run=1) (both links lead to the reports) and they both signalled that static assets (JavaScript files,

[2019-03-21 10:44] Link2Twenty opened #2152 "Contrast on special text in night mode"
The new spring banner is difficult to read in night mode. Is there a way to automate contrast checks? Or should we just be mindful when making special styles?

![image](https://user-images.githubusercontent.com/3534427/54747199-2356a700-4bc6-11e9-8e73-7160c69c656c.png)

[2019-03-21 11:39] Link2Twenty opened #2154 "Ruby themes file"
Is it worth having a ruby file that contains the theme's HTML, though we'd only have night mode in there for now?

I'm not that clued up on ruby on rails but I presume we can have a file that contains several thems but will only return the relevant HTML based on some request?

CC: @rhymes @lightalloy

[2019-03-21 11:44] edisonywh commented on #2152
Not exactly automated but someone just [posted this on dev.to](https://dev.to/iriskatastic/color-review-is-a-tool-to-test-color-contrast-4m55), should be a good manual tool until we can find an automated one

[2019-03-21 11:51] Link2Twenty commented on #2154
Current implementation is for the css variables to be stored in the javascript.

https://github.com/thepracticaldev/dev.to/blob/master/app/views/layouts/application.html.erb#L82-L109

[2019-03-21 11:56] rhymes opened #2155 "Add HTTP strict transport security headers (HSTS)"
**Is your feature request related to a problem? Please describe.**

By playing with [dev.to's report of Mozilla Observatory](https://observatory.mozilla.org/analyze/dev.to) I noticed the website does not send HSTS headers.

The TLDR; of that is that the HSTS header forces the client to connect only using HTTPS (which is different from the server side redirect from HTTP to HTTPS).

**Describe the s

[2019-03-21 12:17] Link2Twenty commented on #2154
From a JS point of view you could do something like this.

[code]

[2019-03-21 12:51] Link2Twenty opened #2156 "[Theme] Notification color"
Do we want to theme the bell number?
If we do should it be the same as `--theme-top-bar-write-background` or perhaps a new property, `--theme-top-bar-notification-background`?

![image](https://user-images.githubusercontent.com/3534427/54752952-a92f1e00-4bd7-11e9-8269-191a1730b230.png)

[2019-03-21 13:47] Link2Twenty opened #2158 "[Discussion] Theme selector"
At some point we'll have to talk about theme selection, I find a graphic is better than a name as it gives the user an idea of what to expect.

I made a quick mock-up.
https://jsfiddle.net/link2twenty/3pmtew1f/

[2019-03-21 14:43] desirottman commented on #1935
@jessleenyc I get this intermittently (or other similar errors)and was just able to reproduce. Here's a screenshot of the image and console error:
![image](https://user-images.githubusercontent.com/11390786/54760237-a293ad00-4bbd-11e9-9e7c-363269cd8054.png)

and here's the file I was trying to upload:
![markus-spiske-246212-unsplash](https://user-images.githubusercontent.com/11390786/54760246-a9ba

[2019-03-21 15:09] rhymes commented on #1935
@desirottman thanks for the bug report.

I believe it's going to be fixed by #2018 but in the meantime you should resize the image, the size limit is 4096x4096 and yours is 5760 × 3840

[2019-03-21 16:31] #936 closed

[2019-03-21 16:31] #2008 closed

[2019-03-21 16:34] maestromac commented on #1935
Resolved with #2018 . Let us know if otherwise!

[2019-03-21 16:34] #1935 closed

[2019-03-21 18:27] maestromac commented on #1319
Yep @PicoCreator . If it becomes a problem we can re-open this or create a new one.

[2019-03-21 18:27] #1319 closed

[2019-03-21 19:40] aturingmachine opened #2163 "External Links In Posts Are Difficult To See In Dark Mode"
**Describe the bug**
Links are only marginally different in color than the post's text. Coupled with the dark background changing the overall contrast of the page, this makes them difficult to see.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in with Dark Mode Enabled
2. Click on any post including external links.
3. Observe link text color.

**Expected behavior**
The link text to be

[2019-03-21 20:31] rhymes opened #2165 "Use only one version of CodeMirror"
**Is your feature request related to a problem? Please describe.**

The codebase uses various versions of codemirror:

* `package.json` declares `^5.44.0` and `yarn.lock` is using `5.44.0`. This is the version used by the code editor:

https://github.com/thepracticaldev/dev.to/blob/a2fcbdc4a4d1de430ff3ec282b373922632a2d4d/app/javascript/chat/codeEditor.jsx#L7-L8

* `app/views/blocks/_form.html.erb

[2019-03-21 21:05] venarius commented on #1775
@benhalpern I guess this can be closed.

[2019-03-21 21:57] maestromac commented on #1775
Resolved with https://github.com/thepracticaldev/dev.to/pull/2107

[2019-03-21 21:57] #1775 closed

[2019-03-21 23:02] johnpapa opened #2167 "dark mode: need contrast in dashboard"
Notice we can barely see the black text in dark mode.

![image](https://user-images.githubusercontent.com/1202528/54790235-cf6eb100-4c0b-11e9-8f4f-1f5f4f1820df.png)

And the light gray bubble highlight

![image](https://user-images.githubusercontent.com/1202528/54790286-f62ce780-4c0b-11e9-953a-b2ee1669cc3e.png)

[2019-03-22 04:37] raulsanchez1024 commented on #151
Anyway you can change my twitter handle as well? I recently changed my twitter handle and Dev.to didn't update it

[2019-03-22 09:35] brylie opened #2169 "Add 'social.coop' as allowed Mastadon instance"
When trying to add my Mastadon profile from https://social.coop, I get an error saying:

Please allow social.coop profiles to be added to dev.to profiles.

[2019-03-22 13:22] aspittel commented on #2144
Hey @kontrollanten, thanks for this idea! I think this could make the interface clearer, will discuss further with the team!

[2019-03-22 13:23] aspittel commented on #2147
Hey @rhymes, thanks for checking in on this -- @benhalpern may have some better insights on the cache length!

[2019-03-22 13:25] aspittel commented on #2152
@Link2Twenty thanks for reporting this, and @edisonywh thanks for the resource! This will definitely be something important to check out as we move forward with theming.

[2019-03-22 13:26] aspittel commented on #2154
Hey @Link2Twenty, thanks for this idea! @benhalpern has been leading the effort here, he may have more insight on the implementation!

[2019-03-22 13:28] aspittel commented on #2155
Hey @rhymes! Thanks for pointing this out -- will definitely discuss this and get back to you!

[2019-03-22 13:29] aspittel commented on #2156
Hey @Link2Twenty -- thanks for all the great theme insights! Again, going to ping @benhalpern here, but this seems to make sense from my perspective!

[2019-03-22 13:30] aspittel commented on #2158
Woah, very cool! I'm super impressed by the mockup. I think that could be great UX, though can also see some other roads that we could take here. Definitely a great community discussion to have!

[2019-03-22 13:31] aspittel commented on #2163
Hey @aturingmachine! Thanks for reporting this, I could definitely see integrating this into the new theming functionality.

[2019-03-22 13:32] aspittel commented on #2165
Great question @rhymes! Thanks for reporting this -- we should definitely look into whether it's possible to consolidate these.

[2019-03-22 13:38] aspittel commented on #2167
Hey @johnpapa, thanks for pointing this out. We're making a lot of improvements to theming and dashboard right now and will be sure to fit this into the pipeline.

[2019-03-22 13:44] aspittel commented on #2169
Hey @brylie, thanks for reporting this! We'll look into it!

[2019-03-22 13:55] #2167 closed

[2019-03-22 14:43] johnpapa opened #2172 "need contrast in dark theme for admin page for an org"
Notice the two spots here both need some more contrast.

![image](https://user-images.githubusercontent.com/1202528/54830639-3c775a80-4c8f-11e9-93b6-160c69ca74a4.png)

[2019-03-22 17:05] ntedgi opened #2174 "Bug-report broken link from email"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-03-22 17:06] #2174 closed

[2019-03-22 17:06] softchris opened #2175 "https://dev.to/dashboard 500 error"
**Describe the bug**
Trying to access my dashboard, not rendering, gives 500 error

**To Reproduce**
go to https://dev.to/dashboard

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete th

[2019-03-22 17:07] #2175 closed

[2019-03-22 17:12] rhymes commented on #2158
Such a cool mockup!

[2019-03-22 17:17] Butonix commented on #1935
I'm getting the wrong permission error, wrong url!
I do this on the local server. And still get this error
![Screenshot](https://user-images.githubusercontent.com/29381099/54841049-72442f80-4cdf-11e9-855e-39c2bb43c437.png)

[2019-03-22 17:32] rhymes commented on #1935
@Butonix on localhost files are saved to a directory on your computer, can you open a separate issue explaining all the steps that lead you to the error? Thank you!

[2019-03-22 17:39] Link2Twenty commented on #2158
Thank you both 🙂

[2019-03-22 17:54] #1278 closed

[2019-03-22 18:01] maestromac commented on #2134
Slightly related to https://github.com/thepracticaldev/dev.to/issues/1837

[2019-03-22 18:31] maestromac commented on #2045
[Seems necessary](https://caniuse.com/#feat=details) to use polyfill

[2019-03-22 18:40] rhymes commented on #2045
Threaded comments were implemented with details/summary and IIRC Ben didn't use polyfills because they just look expanded in IE11. On this note, can't we just leave it as it is and people with IE11/Edge will get the spoilers 😅 ?

[2019-03-22 18:52] Link2Twenty commented on #2045
Slightly different I think, that being said we don't support IE and edge is moving to blink soon so will then support everything 😁

[2019-03-22 19:35] johnpapa opened #2177 "Org analytics page needs contrast in dark mode"
![9026D23E-A048-4242-B780-6D63B8849016](https://user-images.githubusercontent.com/1202528/54848573-03071500-4cb8-11e9-8574-adb7d73217e2.png)
Y

[2019-03-22 20:29] aspittel commented on #2177
Great catch, thanks https://github.com/thepracticaldev/dev.to/pull/2178 should fix this!