[2021-10-02 11:40] manojnaidu619 commented on #6417
Looks interesting! Can I grab this?

[2021-10-02 14:35] zachjonesnoel commented on #14742
Hi @citizen428 and @fdoxyz I got that blip today as the banner of Hacktoberfest was added.

![Screenshot_2021-10-02-20-03-50-39_f41347bffa7f8365be7df3528708f315.jpg](https://user-images.githubusercontent.com/12515425/135721076-9e6a36f8-5ce9-494c-8226-cb148633e3a8.jpg)

[2021-10-02 14:42] DRBragg commented on #9828
@regromrob Good luck on this! It was some time ago that I ran into this but if you need help duplicating it let me know and I'll try to recreate or provide more details!

[2021-10-02 15:56] zachjonesnoel opened #14901 "Reopening Android app not able to list and view feed posts."
**Describe the bug**
Had raised an issue [#14742](https://github.com/forem/forem/issues/14742) which had resolved all on it's own and now that the Hacktoberfest banner was introduced now it's resurfaced.

**To Reproduce**
Steps same as in  [#14742](https://github.com/forem/forem/issues/14742)

**Expected behavior**

**Screenshots**

![Screenshot_2021-10-02-20-03-50-39_f41347bffa7f8365be7df3528708f

[2021-10-03 02:23] DerekCrosson commented on #4969
I'm happy to have a look at this if nobody else is already

[2021-10-03 06:36] noviicee opened #14903 "Contents of a published post are not getting updated"
**Describe the bug**

I just published a post on Dev.to, later I realized that a part is missing from my post. After making the necessary changes and adding new subtopics in my already published article, I am still unable to view them. They were present when I was editing, but after 10 minutes or so, all the later added subtopics were not there, and the post remained as it was at the time of publi

[2021-10-03 06:55] leonyangela commented on #14836
Hello, is this task still open?? can I take this task? Thank you

[2021-10-03 09:32] pramodrhegde commented on #14881
@cmgorton I was trying to set up local and tried to log in as default admin user which is mentioned here: https://developers.forem.com/backend/database/
I am getting this error screen that its invalid creds.

<img width="1440" alt="Screenshot 2021-10-03 at 3 00 14 PM" src="https://user-images.githubusercontent.com/9020200/135747978-79dcd17d-7a5a-417b-844d-466cdef1d566.png">

need some help here on

[2021-10-03 09:51] takmar commented on #14757
Can I take this?

[2021-10-03 13:23] nickytonline commented on #14757
Assigning this to you @takmar.

[2021-10-03 16:13] metamoni commented on #14888
For those of you who aren't familiar with it, the [Microsoft Terminology Collection](https://www.microsoft.com/en-us/language) is a great resource for this type of work 🙂

[2021-10-03 18:42] rt4914 commented on #2799
Un-assigning myself for now. If someone else ends up working on this, have a look at this [comment](https://github.com/forem/forem/pull/14343#issuecomment-892648199) which summarises the next steps for this project. Thanks.

[2021-10-04 03:49] amywtlin commented on #14831
This is currently on hold. @JennieOcken will sort out overall data tracking policy with leadership first.

[2021-10-04 07:28] aitchiss commented on #14879
Hi @LAKSHMANANR25 this issue is already assigned and being worked on - check out our other unassigned issues and let us know if there's something else you'd like to tackle 🙂

[2021-10-04 12:32] lyqht commented on #9532
If i can add on to this issue, at the forem_rails container, i see
[code]

[2021-10-04 14:32] cmgorton commented on #14837
Hey @papuruth . I see you have a PR started. Where you able to login and get the application running? Or did you still need help with that?

[2021-10-04 14:39] cmgorton commented on #9828
I assigned you to this issue @regromrob . Thanks for the help and please let us know if you have any questions!

[2021-10-04 14:46] cmgorton commented on #6417
@manojnaidu619 Thanks for the help. I will assign this to you. Let us know if you have any questions.

[2021-10-04 14:47] cmgorton commented on #4969
Thanks @DerekCrosson I'll assign this issue to you.

[2021-10-04 14:50] DerekCrosson commented on #4969
Thanks, @cmgorton 🙏🏾

[2021-10-04 14:51] cmgorton commented on #9532
Looks like we should reopen this issue. Thank you @rafaVls and @lyqht for the added detail here.

[2021-10-04 14:54] papuruth commented on #14837
No, no help is required as I was able to log in using Github. Thanks btw.

[2021-10-04 15:10] nickytonline opened #14914 "Tags that have an alias should not appear in the top tags page"
**Describe the bug**

We have a feature that allows us to alias tags. One thing I noticed is on the tags page, we show the tags that have aliases. For example, I have a tips tag on community.vscodetips.com, but someone created a tip tag which I alias to tips. Both appear in the tags page.

**To Reproduce**

1. Navigate to https://community.vscodetips.com/tags
2. Notice if you scroll through all th

[2021-10-04 16:05] djuber commented on #9532
I think these are two distinct issues - the problem reported by @rafaVls (which included great supplemental information) is that the rails container had terminated, and the seed container depends on it (waits for port 3000 to be available). Without seeing what/why rails failed to start (which would be aggravatingly early in the logging) it's tough to say what happened.

The issue reported by @lyqh

[2021-10-04 17:16] lyqht commented on #14806
hello @cmgorton, wondering if this suffices for the fix!

![scroll-whole-sidebar](https://user-images.githubusercontent.com/35736525/135895008-cd669ca1-fd33-48f8-91a4-f6a9733cb8bf.gif)

the scrollbar won't appear for sidebars that do not exceed the length.

Or would Forem prefer the scrollbar to only appear for the article card section below the author information card?

[2021-10-04 17:55] #14841 closed

[2021-10-04 18:04] ludwiczakpawel commented on #14806
I believe, the ideal solution in our case would be replicating behavior of Twitter which you can preview in video below:

https://user-images.githubusercontent.com/108287/135900909-2cd11f62-352f-42ca-a71d-f17767f5c9ab.mov

(Ignore the sticky search bar)
Whenever necessary (small viewport height), it basically scrolls WITH entire viewport for the initial part of scrolling event and then it just sti

[2021-10-04 18:43] Mr-DG-Wick commented on #12767
@cmgorton sorry for the ping tho. I assume the team is very busy. But can you please check on this issue when you find time?
I was just too excited to work on more issues. So, am waiting for this to sort out first :)
thank you.

[2021-10-04 18:47] cmgorton commented on #12767
Hey @Mr-DG-Wick I have pinged our engineers that are on OSS-rotation this week and someone should get a response to you soon :)

[2021-10-04 18:50] Mr-DG-Wick commented on #12767
Thanks Christina!!. That would be great help.

[2021-10-04 19:04] rhymes commented on #14874
@yobee333 I've assigned it to you, thanks!

[2021-10-04 19:13] cmgorton commented on #12767
@Mr-DG-Wick I am sorry for any confusion here.
After discussing this open issue some more with the team we have decided adding this to the docs would not be the best option for us.

Your suggestion would have been fine for this issue! But upon closer inspection to the original issue we have realized the /image/ proxy we put in place is preconfigured with our forem/infra repo.

It appears  r3cha  w

[2021-10-04 19:13] #12767 closed

[2021-10-04 19:26] Mr-DG-Wick commented on #14836
I had a doubt, won't it be fine for dev too that a flagged user will be less promoted on its platform.
Or are we simply just considering it for the individual forem? Please guide me on this.

[2021-10-04 19:36] nickytonline commented on #14914
I've done a test and the fix is pretty much a one-line change @JennieOcken.

`@tags = Tag.includes(:sponsorship).order(hotness_score: :desc).limit(100)`

becomes

`@tags = Tag.includes(:sponsorship).where(alias_for: nil).order(hotness_score: :desc).limit(100)`

[2021-10-04 19:59] cmgorton commented on #14836
Asking about it now @Mr-DG-Wick. Will let you know how to proceed as soon as I get a response :)

[2021-10-04 20:08] cmgorton commented on #14836
Hey @Mr-DG-Wick after talking to one of our engineers they said:  "It's not that we don't want this to also be available on DEV only that we want other Forems to show their community name (rather than DEV) in the moderation dialog"

As you can see in the screenshot above when a moderator on DEV, CodeNewbie, Forem.dev or any other Forem, flag a user they see the name "DEV" like "Thanks for helping

[2021-10-04 22:00] #14879 closed

[2021-10-05 04:25] citizen428 opened #14935 "Make Rails routes available to JS"
📖 As a frontend developer I want to have access to the Rails routes helpers so that I can be sure the routes don't go out of sync.

Background: we probably want to use a gem like [js-routes](https://github.com/railsware/js-routes) for this. We can also add pre-commit hooks and potentially a CI check to ensure that all changes to `routes.rb` get reflected in the corresponding JS file.

[2021-10-05 04:57] Siddhant-K-code opened #14936 "Button/Links Should Open & Redirect to new tab"
I was exploring [this blog by the dev team](https://dev.to/devteam/hacktoberfest-2021-who-s-looking-for-contributors-32k#comments-container).

**Describe the bug**

It has Some Buttons, Links. But it redirects to the same page, Like these two buttons:
![image](https://user-images.githubusercontent.com/55068936/135961963-3fe95916-533c-45b0-90d3-0392cf86afb7.png)
![image](https://user-images.githubu

[2021-10-05 05:42] robertandrews opened #14937 "Only two My Tags are showing in left nav"
As of this week, only two tags are showing under My Tags. I have more than two. More than two were previously showing.

This is the same across multiple browsers - Chrome Mac OS, Safari iOS.

At least, for my account - robertandrews

The first time I have gone to look at tag weighting, all are 1.0. But making an arbitrary change for one (eg. to 4) does not result in more tags showing.

[2021-10-05 05:44] robertandrews commented on #14937
Just saw this is the Forem repo specifically, not Dev. Possibly a Dev support issue, not Forem codebase. Sorry if so.

[2021-10-05 06:27] Mr-DG-Wick commented on #14836
Sure it does. Thanks. What is the tech stack required to solve this issue?

[2021-10-05 07:13] rhymes commented on #14838
Closed by #14899

[2021-10-05 07:13] #14838 closed

[2021-10-05 07:29] rhymes commented on #14783
@wheezykw I have Safari 15 which I never use and I'm not even logged in on DEV and I see the black bar:

https://user-images.githubusercontent.com/146201/135979027-9e277794-23e4-432a-b0fd-d3ba719f3672.mov

[2021-10-05 10:43] ellativity opened #14939 "Comment field misbehaves after logging in (possibly only Firefox?)"
This might just be a Firefox issue but I'm detailing it below because it's annoying and it's happening across all Forems.

**Describe the bug**

If a user views a post on any Forem without being logged in, and attempts to comment on the post, they're invited to log in. After log in, they're returned to the post that they were previously viewing with `?signin=true` appended to the URL. Whenever thi

[2021-10-05 13:55] rishav-singh-0 opened #14950 "Only root user is allowed to run the `bin/setup`"
**Describe the bug**

It always requires root permission for running setup(`bin/setup`)

**Expected behavior**

Should be possible to run as a normal user.

**Desktop:**

- OS, version: Ubuntu 20.04

**Additional context**

I feel the problem is that the directory `.husky/_/` is always created as `root` owners' directory.

[2021-10-05 14:13] djuber commented on #14950
I've definitely seen this happen if you ran or attempted to run the setup for docker (since there's a mounted volume back to the repo and the docker processes run as root, and created files or directories get the root ownership), but it should not be the case if you cloned the repo as an unprivileged user and ran bin/setup on the ubuntu host. I've just tested this now on a debian host and all file

[2021-10-05 14:34] cmgorton commented on #14937
Hey @robertandrews. Forem is the software that runs DEV so adding this issue here is fine 😄

Could you take a screenshot for me of what you are seeing. On my account I see multiple tags under My Tags
![Screen Shot 2021-10-05 at 8 33 23 AM](https://user-images.githubusercontent.com/21039864/136044091-ce53735b-f05a-4aa6-b3aa-251ab64f1b4f.png)

[2021-10-05 14:47] joshpuetz commented on #7886
Can you give some more details about how you'd like it to work @benhalpern? Are you envisioning pull to refresh anywhere on the page?

[2021-10-05 14:51] joshpuetz commented on #14783
I've confirmed it on a fresh install of Mac OS 11.6 without any extensions or plugins.

[2021-10-05 15:01] rishav-singh-0 commented on #14950
Yup thats exactly what the issue was.
I first ran the docker setup then after i tried to install on locally.

I removed changed the ownership of all the files using `chown -R $(whoami): ./` as suggested and now everything is fine. 🔥🔥
Sorry i didn't tried removing only `.husky/_/` directory and rerunning `bin/setup` so i cant tell what all files were generated after running docker setup and were ef

[2021-10-05 15:05] djuber commented on #14950
Glad to hear that worked! I'll close this issue since it's working for you now, but I think it might make sense for us to note this incompatibility between docker setups (where root owned files are created) and local setups (where files are expected to be modified by the normal user) on the installation documentation.

[2021-10-05 15:05] #14950 closed

[2021-10-05 15:22] benhalpern commented on #7886
@joshpuetz the only functionality outlined here is that as I scroll towards the top of the page and then get to the top and continue scrolling, PTR should just work. Right now I need to _stop_ at the top of the page... Then it works. This is extremely minor functionality and we could live with it still not working correctly... But basically for this to _feel native_ it should be fluid and not requ

[2021-10-05 15:53] mrmir commented on #10130
@rhymes @tuang3142 Do you know what I can do about this while setting up the app locally?

![image](https://user-images.githubusercontent.com/7458152/136058423-c3469af5-a31b-4665-94cf-bd8eb7c7fb6e.png)

[2021-10-05 16:05] joshpuetz commented on #7886
Oh, that makes sense @benhalpern! I didn't understand the use case of scrolling from the middle of a page to get a PTR from the issue description. I completely agree that PTR should work from any point on the page, and not just the top of the page!

[2021-10-05 16:55] msarit commented on #14836
Hello @Mr-DG-Wick! 👋🏾
Here is some guidance for you (or another) in approaching this issue:

As @citizen428 said, the Flag User modal is generated in the file [flagUserModal.jsx](https://github.com/forem/forem/blob/main/app/javascript/packs/flagUserModal.jsx) as a Preact component. The word `DEV` is hardcoded in the `FlagUserModal function` around lines [125](https://github.com/forem/forem/blob/8b

[2021-10-05 17:06] thomasbnt commented on #13768
Hello ! The bug is still there :c

[2021-10-05 17:17] robertandrews commented on #14937
Six becomes two...

<img width="1046" alt="Screenshot 2021-10-05 at 18 16 20" src="https://user-images.githubusercontent.com/3158787/136071439-027e673e-f6e8-492c-a502-ec381408fc37.png">
<img width="617" alt="Screenshot 2021-10-05 at 18 16 09" src="https://user-images.githubusercontent.com/3158787/136071448-0a9c1ca5-e316-44d4-8547-105e7fc8d3ef.png">

[2021-10-05 17:47] pramodrhegde commented on #14709
@cmgorton @aitchiss I would love to work on this issue, could you please assign this to me? thanks!

[2021-10-05 18:09] Mr-DG-Wick commented on #14836
Thanks @msarit 😄.This sounds a bit difficult, but I'm up for it :). Please assign me to the issue.

[2021-10-05 19:06] yheuhtozr commented on #14888
Could you give me some idea when to use this `core` prefix? Does it mean what typically appear to the top page?
https://github.com/forem/forem/blob/e5226b9951e1f37474f92192d9e0fc9f769e14e1/config/locales/en.yml#L3

Because I have a lot of strings to contribute, with [such a hierarchy](https://github.com/yheuhtozr/forem/tree/forked/app/i18n/views) in my instance (or maybe more browsable in [the pre

[2021-10-05 19:08] wotta commented on #6586
Heej @rhymes,

I would love to pick this up.

[2021-10-06 03:54] surajondev opened #14965 "Only able to pin 4 articles instead of 5"
**Describe the bug**

As the documentation said, we can pin 5 posts to our profile. I already pinned 4 posts and when I try for another which is 5th one to pin to my profile it shows the alert "Uh Oh! You can only have five pins 😬".

**To Reproduce**

- At least have 4 pinned post
- Try to pin another post through the "manage" post.
- It will show the alert "Uh Oh! You can only have five pins 😬"

[2021-10-06 06:48] citizen428 commented on #14965
Update: I just checked in our database, you do in fact have 5 pins, one of which is unpublished.

![image](https://user-images.githubusercontent.com/47985/136153752-f3bb5d9e-2d51-4494-8ed6-4375f5645096.png)

[2021-10-06 14:12] rhymes commented on #14937
I think I figured it out. The sidebar in the homepage shows cached followed tags:

https://github.com/forem/forem/blob/7ffb5aa0fde65c10f7540d46fbba4803f5ddab70/app/controllers/async_info_controller.rb#L45

These followed tags are in a cache populated each 20 hours:

https://github.com/forem/forem/blob/7ffb5aa0fde65c10f7540d46fbba4803f5ddab70/app/decorators/user_decorator.rb#L24-L27

this key depen

[2021-10-06 15:12] #14840 closed

[2021-10-06 15:14] rhymes commented on #5519
@ellativity No we didn't :( SRE and Systems are probably who know the most about the video upload machinery

[2021-10-06 15:18] rhymes commented on #10130
Hi @mrmir, sorry I dropped the ball on this.

The error you're experiencing is usually because `APP_DOMAIN` in your local environment isn't correctly set. On development it should be `localhost:3000`, also check if `APP_PROTOCOL` is set to `http://`

Regarding the style of notification. I think just adding a regular Rails redirect notice should suffice, the controller should be able to pick it up

[2021-10-06 15:50] rhymes commented on #14965
I guess we should only count published posts, so this is technically a bug

[2021-10-06 16:24] rhymes commented on #14881
@pramodrhegde if you start the app and have no content, it's usually because `bin/setup` hasn't worked correctly. You can't log in because the admin user is a regular user stored in the DB and created by the seed file, so if that didn't work, the user is not there, credentials included.

If you don't want to nuke your own setup, I'd suggest turning off the app and issuing `bundle exec rails db:res

[2021-10-06 16:45] pramodrhegde commented on #14881
That's definitely what might have happened there. Thanks for the help @rhymes, I'll give it a shot!

[2021-10-06 17:15] pramodrhegde commented on #14881
@rhymes Tried running the above command, but there was an error:

[code]
So facing the same issue again.

[2021-10-06 18:45] #14914 closed

[2021-10-06 20:52] djuber commented on #14745
@yheuhtozr  also, wow! Thank you so much for the careful and in-depth review of how we're approaching this and where we've put up roadblocks.

[2021-10-06 21:00] benhalpern opened #14971 "Text overflow not properly handled in preview cards"
**Describe the bug**

Check out the URL in this preview card forcing this overflow bug:

<img width="574" alt="Screen Shot 2021-10-06 at 4 51 24 PM" src="https://user-images.githubusercontent.com/3102842/136281327-6e8c7577-ed89-40a9-b914-f7cc5f598f3e.png">

**To Reproduce**

Add a long word (like a URL) to a summary and then open it in a feed card like shown.

**Expected behavior**

Next to an art

[2021-10-06 21:42] djuber commented on #4969
https://dev.to/anuraghazra/-12ef looking again at the original example - one unexpected/unwanted thing that happened was the LTR override did impact the window title (not the article title in the page, but the `<title>` tag in the head section, as shown in the original screenshot

![Screenshot from 2021-10-06 16-30-10](https://user-images.githubusercontent.com/1237369/136286069-083f82e0-b30f-40c0-

[2021-10-06 23:06] viniciusarre commented on #14965
Could I get assigned to this? I'd love to contribute!

[2021-10-07 09:15] superspike7 commented on #14971
can I work on this?

[2021-10-07 10:17] rhymes commented on #14881
Seems like a networkin issue, given:

are you behind some kind of proxy that's blocking connections? The setup process needs access to the Internet I guess

[2021-10-07 10:24] rhymes commented on #14888
@yheuhtozr thank you!!

[2021-10-07 14:54] michael-tharrington opened #14974 "Cannot update article to unpinned intuitively"
**Describe the bug**

In the /admin/content_manager/articles/## interface there appear to be two ways to unpin an article and one doesn't seem to work.

**To Reproduce**

1. Go to an articles admin page — '/admin/content_manager/articles/##'
2. Check "pinned" + click submit to pin the article
3. Refresh the page
4. Uncheck "pinned" + click submit to unpin the article
5. This doesn't appear to work

[2021-10-07 16:16] benhalpern opened #14975 "Impossible to disable a registration option?"
**Describe the bug**

It seems impossible to disable an registration option. Removing the keys and clicking disable does not, in fact, disable anything.

**To Reproduce**

- Go into admin
- Add a twitter account keys
- Try to remove and disable
- It still shows on auth page

**Expected behavior**

This is disabled and removed from page

**Screenshots**

<img width="949" alt="Screen Shot 2021-10-07

[2021-10-07 16:45] benhalpern commented on #14974
Yeah, definitely more than unintuitive, even though you can technically do the other way, this is a definite bug.

Since we have the button, seems like we don't _also_ need the checkbox.

[2021-10-07 17:41] benhalpern opened #14976 ""Boost states" are still a thing in the admin area, but it no longer does anything."
<img width="554" alt="Screen Shot 2021-10-07 at 1 40 38 PM" src="https://user-images.githubusercontent.com/3102842/136435927-1ac5cd32-20b2-4306-957d-e2a1bb5bff4e.png">

Boosted, here, does nothing.

This is a quicky issue on some functionality I am building a small PR to fix.

[2021-10-07 18:39] #14976 closed

[2021-10-07 18:48] #10130 closed

[2021-10-07 18:51] StarTrooper08 commented on #14765
Can I try to solve this issue.
But probably I'll need help to do it.

[2021-10-07 19:57] Pandademic opened #14983 "Profile image not loading"
**Describe the bug**
Profile Images do not load for unknown reasons.

**To ### Reproduce**

Steps to reproduce the behavior:

1. Go to dev.to/https://dev.to/kashiacox. On october 7th 2021 (current date) , this doesn't work , instead showing:
![image](https://user-images.githubusercontent.com/74566464/136453181-f390ef95-7ed6-4c28-9b50-17d457734dd1.png)

**Expected behavior**

**Screenshots**
![imag

[2021-10-08 02:43] citizen428 commented on #14765
Thanks for volunteering @StarTrooper08, I assigned you this issue now.

[2021-10-08 07:07] ludwiczakpawel commented on #14809
I renamed this issue and updated the working doc link so it's more up-to-date.

[2021-10-08 08:08] amywtlin commented on #14751
Data dashboard set up thanks to the great @citizen428: https://app.datadoghq.com/dashboard/7di-zph-dns/content-experience-pod?from_ts=1633676856321&to_ts=1633680456321&live=true

Setting up a reminder in my calendar to check in on the stats.

[2021-10-08 10:07] rhymes commented on #14983
Hello @Pandademic, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2021-10-08 10:24] rhymes commented on #14745
@djuber @yheuhtozr we target browsers aboe 1% of popularity:

https://github.com/forem/forem/blob/30b36ab0147af679a2ecf359c5a55299f209508a/babel.config.js#L26

which basically means the latest versions of the major browsers: https://browserslist.dev/?q=PiAxJQ%3D%3D

[2021-10-08 13:38] Pandademic commented on #14983
from the notification center it looks like this:
![image](https://user-images.githubusercontent.com/74566464/136567084-d9bed2ef-aa06-4024-bd3a-784f5eaf96b2.png)

[2021-10-08 19:42] Pandademic commented on #14983
Or maybe a loading issue , not loading certain things?

[2021-10-08 23:49] SynergyBest commented on #242
any progress on this?

[2021-10-09 00:15] loganom commented on #14971
Thanks @rhymes !

[2021-10-09 16:57] Blastoise opened #14997 "Followers Page inside dashboard has error in HTML."
**Describe the bug**

Followers Page in the Dashboard has error in HTML tag.  That is they are not properly closed.

**To Reproduce**

1. Go to 'Dashboard'
2. Click on 'Followers'
3.  On the top left you'll find that wrong content is shown.

**Expected behavior**

HTML tags are not closed correctly.

**Screenshots**

![image](https://user-images.githubusercontent.com/24838843/136667386-b75d53ed-1a

[2021-10-09 16:58] Blastoise commented on #14997
Please assign this to me.

[2021-10-09 19:48] benhalpern opened #14998 "Skip link visible on mobile touch device"
**Describe the bug**

When using a mobile touch device, such as browsing via the Forem app, the skip link shows on search submissions up even though the keyboard is not possibly active.

**To Reproduce**

- Visit dev.to on mobile device
- Click search button
- Submit a query

**Expected behavior**

The skip link should not show up in this context.

**Screenshots**

<img width="396" alt="Screen Sho

[2021-10-10 05:45] ValeriaVG opened #15001 "Can't follow an organization from an article page, but possible from their profile"
**Describe the bug**
When attempted to click "Follow" button from an article, a popup was shown that it was not possible to follow the user.
The button changed to following, so I needed to reload the page to try again.

Here's the failed request from dev tools:

**Request URL**: https://dev.to/follows
**Request Method**: POST
**Status Code**: 404
**Form Data**:
[code]
I went to the organisation pr

[2021-10-10 19:24] andreamartz commented on #10335
@nickytonline and @cmgorton I'd like to take this issue.

[2021-10-11 12:54] Sara-Harvey commented on #14839
Hi-- I forked/cloned forem locally (Mac OS), and think I followed all installation directions. On setup, though, I get "URI::BadURIError: both URI are relative /Users/(myname)/Desktop/fp/forem/app/lib/url.rb:19:in `url'" I looked into fixes, but the only thing that works so far is to replace url.rb line 19:
base_url = "#{protocol}#{domain}" with
base_url = "http://#{domain}"
Not sure that's advisa

[2021-10-11 13:12] Pandademic opened #15005 "Title not loading for the edit comment page"
**Describe the bug**
The title won't load when editing comments.
![image](https://user-images.githubusercontent.com/74566464/136793660-0985916a-9975-44ec-81e5-e6e7847a2efc.png)

The chrome page title won't load , because there isn't one. I dont think there is a HTML tag there that says:
[code]
**To Reproduce**
edit a comment on a forem.

**Expected behavior**
no title,
![image](https://user-images

[2021-10-11 14:18] aitchiss opened #15006 "Revise skip link route change behavior"
## Short background / context

Due to the header caching in Forem, we need to manually handle route changes to ensure keyboard accessibility. Without handling this in any way, a keyboard user isn't really able to take advantage of our "Skip to content" link, because when the route changes, focus is always _after_ the header. This means users don't have a proper mechanism to bypass repeating blocks

[2021-10-11 14:25] xkeshav opened #15007 "How to insert gif in blog which is uploaded at imgur"
**Describe the bug**

 I tries to add gif into my very first post but unable to do so, I have also checked the editing help article and tried the way suggested but none of are them working as expected and

**To Reproduce**

I have tried
`{% link https://imgur.com/a/q2nAAu7" %}`

and

`<img src ="https://imgur.com/a/q2nAAu7" >`

and

`[!Alt text](https://imgur.com/a/q2nAAu7)`

**Expected behavior**

[2021-10-11 15:31] jgaskins commented on #14998
@benhalpern Since the PR was merged, should this be closed?

[2021-10-11 15:35] #15007 closed, assigned to nobody

[2021-10-12 04:58] #14812 closed

[2021-10-12 21:55] skino2019 commented on #6673
I Know its a while since it was opened but id like to add to this Bug report.

I have built a function in Laravel that posts to Dev.to it works on some of the posts but on a few i get.

`[2021-10-12 21:32:59] development.ERROR: Client error: `POST https://dev.to/api/articles` resulted in a `422 Unprocessable Entity` response:
{"error":"Liquid error: Liquid variables are disabled","status":422}
 {"

[2021-10-13 04:14] citizen428 commented on #14875
@ludwiczakpawel I was definitely thinking setting here.

[2021-10-13 07:45] ludwiczakpawel commented on #14875
Cool, I was just curious.

[2021-10-13 16:00] aitchiss commented on #14882
Closed in #15034

[2021-10-13 16:54] #15005 closed, assigned to nobody

[2021-10-13 17:10] juliannatetreault opened #15071 "Provide COC and TOS Checkboxes on the Creator Onboarding Page"
📖  **As a Forem creator, I want to be able to be to read and acknowledge via a checkbox the Code of Conduct and the Terms and Conditions when onboarding, so that I can proceed through the onboarding process.**

(Format: As a [persona], I [want to], [so that])

![](https://user-images.githubusercontent.com/108287/116532347-6d033700-a8e0-11eb-8dae-88bf6164f682.png)

**🐣TASKS**

- [ ] Add a Code of C

[2021-10-13 21:45] cmgorton commented on #13051
Hey @deyanp sorry for the late reply. I have been on vacation.
I am going to ping our engineering team internally to see if anyone has any ideas about why this is happening. I have not experienced this issue and have not seen it reported before but will check with others on the team and let you know what I find out.

[2021-10-14 05:14] yheuhtozr commented on #9425
@djuber Hi, slug i18n is great, but I doubt Sterile does the job correctly. Sterile straightforwardly uses Stringex, which is an implementation of Unidecode. Unidecode was created in 2001, and by today's standard, no more considered to be a universal solution or even "better than nothing" one. It (a) forces one-to-one mapping of any Unicode character to a ASCII sequence, (b) utilizing Unicode's qu

[2021-10-14 10:51] aitchiss commented on #14807
Yes for sure. Since first discussions (and as far as I know, _how_ we are doing WYSIWYG is still an open question/discussion), it's becoming more clear to me that it's really only the UI of the toolbar that we are going to be able to reuse. I'm also going to preface this by saying I haven't had a great deal of time to research any of this super thoroughly... which is kind of one of the points I'm

[2021-10-14 11:34] Mr-DG-Wick commented on #14836
Hey @msarit !!, I'm really sorry I haven't started working on this issue yet cuz I'm attending a 5 day conference right now (Kubecon) and can't find much time. Will it be fine if I can start  working on it from 16th of this month?. I realized that I should've informed about this before.

[2021-10-14 12:36] ludwiczakpawel commented on #14807
With this point I must disagree :D I think having this toolbar as it is right now in your PR will be huge addition to our current markdown editor. I'd personally ship it and just let it live.

But with that in mind, I'm not an engineer so I will obviously rely on your (and others) expertise re how to proceed. I'd love everyone to chime in here, and if necessary do some tech research / engineering

[2021-10-14 12:39] ludwiczakpawel commented on #14835
@amywtlin i think so. but we may want to prep a more organized and detailed doc/spec for engineers to set more clear expectations and to have better place for discussion? i can write one if you think it's needed.

[2021-10-14 14:23] juliannatetreault opened #15081 "Provide Forem's Policies During the Creator Onboarding Flow"
📖  **As a Forem creator, I want to be able to be to read and acknowledge the Privacy Policy, Acceptable Use Policy, agree to remove user data when requested, etc. during the onboarding process, so that I can proceed to use Forem's software in an appropriate way.**

(Format: As a [persona], I [want to], [so that])

**🐣TASKS**

- [ ] Add the Privacy Policy to the Creator Onboarding Flow
- [ ] Add th

[2021-10-15 03:23] amywtlin commented on #14875
Excited for your first project with CE, @msarit ! A few things I'd add:

### On how high up "Reading" should be positioned
Instead of below "Writing" section, I think it actually should be higher up. Either:
1. we put it to the top, above "Appearance," or
2. we put it between "Appearance" and "Writing"

The reason for 1 is because, among the three (Appearance, Writing, and Reading), Reading is the

[2021-10-15 13:52] benhalpern opened #15084 "Remove false positives from Internationalization script"
**Describe the bug**

As per the discussion in this PR: https://github.com/forem/forem/pull/15072 the hardcoded-text-finder returns false positive results.

These could likely be fixed with an adjustment to the regex or even just some clean up logic if that proves tricky.

**To Reproduce**

Run `bin/untranslated_erb` and observe false positives of html being included in certain contexts.

**Expect

[2021-10-15 17:22] Posandu opened #15086 "Set `overflow` `hidden` for `p` elements."
go to the comments section of [https://dev.to/codeoz/7-html-attribute-you-should-know-right-now-dfn](https://dev.to/codeoz/7-html-attribute-you-should-know-right-now-dfn)
You can see a weird comment that hides some comments. If you set `p {overflow:hidden}` problem is solved.

[2021-10-15 18:06] JennieOcken commented on #14875
I prefer Pawel's second design with the classic select dropdown box.  I like that we have gotten much better wording in those specs too.

I think the selection should extend to both tag view and home feed.  Both are "feeds" and I would expect both.

Though, as I mentioned in Slack, I am just opinionated.  Amy is the decision owner here for the "what". :)

[2021-10-16 14:02] prayeshshah commented on #15001
I'd like to work on this for hacktoberfest.

[2021-10-16 16:19] kaushikhande commented on #15086
@juliannatetreault @Posandu Please add screenshot as well. Not able to see the issue on https://dev.to/codeoz/7-html-attribute-you-should-know-right-now-dfn.
and I would like to claim this issue

[2021-10-16 18:33] prayeshshah commented on #15001
Update: I think I might have found the issue. As @ValeriaVG rightly mentioned, the issue seems to be with the casing of the `followable_type` param.
In the follows_controller.rb#56, there is no down casing of param `followable_type`. So, when `followable_type` value is "organization" instead of "Organization", it goes into the else block setting the followable as `User` instead if `Organization`

[2021-10-17 16:13] Posandu commented on #15086
I'm sad but I received this email from dev.
[code]

So I cannot show how it looks

[2021-10-17 21:44] XeuBf opened #15095 "C'est juste des questions basiques"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2021-10-17 21:47] madzadev opened #15096 "Incomplete list of tags displayed in dev.to/tags"
**Describe the bug**

Many tags are not listed in https://dev.to/tags.
For example, Javascript, React and lots of others are missing.

Individual pages for tags exist, tho. For example,
https://dev.to/t/javascript
https://dev.to/t/react

Also, they should be ordered by the number of posts published under each (currently many tags are unordered).
For example, currently "career" tag with 14k+ posts

[2021-10-18 03:05] amywtlin commented on #14807
After quite a bit of discussion in the product team, all things considered, we think **it's best that we put WYSIWYG editor on hold**, until we have further information that suggests we should resume work on this. That means, within this epic, we would only finish adding a toolbar and simplifying liquid tags.

@rhymes brought up a really good point here. We set out to **make our editor more intuit

[2021-10-18 05:43] amywtlin commented on #14875
Thank @msarit for asking and @JennieOcken for clarifying ❤️

I actually also like the 2nd design. Let's...
1. go with the 2nd design, and
2. bump the section up so it's between Appearances and Writing
3. rename the section name to Reading so it's more consistent with "Writing"

Re: tag view - let's align the behavior for consistency by extending the default setting to tag view. It's possible that

[2021-10-18 07:48] ludwiczakpawel opened #15099 "Unified Liquid Tag, aka Embed"
- [Related pod issue ](https://github.com/forem/forem/issues/15099)
- [Working doc](https://docs.google.com/document/u/1/d/1bGY_SLIo93y0BG9jFQrgRBJoBIpN0VddT8A7P3ywdh0/edit#)

[2021-10-18 09:05] aitchiss commented on #14807
TBH I have the majority of image uploader working locally 🙂  I'm not going to add it while we're still only in "storybook world", just because the feature can't be fully tested there (since it's not just pure frontend functionality).

If we want 'undo' functionality before we launch it into the editor I'd suggest we:

- get the current PR into storybook
- get undo functionality into storybook
- la

[2021-10-18 10:40] madzadev commented on #14709
Yup, tested today myself by creating a new post and the issue still exists.
Below is the GIF where the Latest feed position my article that has been posted 2 mins before.

![RYbrcKwBZZ](https://user-images.githubusercontent.com/42511917/137714472-a11aed85-227a-4a2b-b93e-3efb1e19ad37.gif)

Some other articles are out of order as well.
Take a look @benhalpern , I think this might be a priority.

[2021-10-18 13:57] jeremyf commented on #14875
(Popping in to say I'm reading along)

Regarding adding a column to the User table, I have opinions on that.  My typical preference is to avoid adding fields to the user table.  But this is not *yet* something I'd advocate for.

My typical preference would be to have a user configuration table...but that might add an implementation complexity that we don't yet want.

[2021-10-18 17:55] juliannatetreault opened #15100 "Fix Forem Background on the Creator Setup Onboarding Page"
**📖  As an admin or Forem creator, I want my experience to be as UI pleasing as possible, so that I feel motivated to continue with the journey.**

_(Format:  As a [persona], I [want to], [so that])_

![](https://user-images.githubusercontent.com/108287/116532347-6d033700-a8e0-11eb-8dae-88bf6164f682.png)

On the Creator Onboarding pages, we see a Forem Background Image.
For the Creator Setup page

[2021-10-18 18:20] juliannatetreault opened #15108 "Remove Setup Banner from Creator Onboarding Flow"
**📖  As a Forem Creator, I want my experience to be as UI pleasing as possible, so that I feel motivated to continue with the journey.**

_(Format:  As a [persona], I [want to], [so that])_

![Screen Shot 2021-10-18 at 12 19 21 PM](https://user-images.githubusercontent.com/32834804/137785447-76ddedf3-ec1a-406d-991f-e3e978ac13a3.png)

Possible solution: we can possibly create a method called `setup

[2021-10-18 18:56] jh3y commented on #12749
I'll take it @cmgorton 👀 🐻

Do we have a color in mind?

[2021-10-18 21:11] msarit commented on #14875
@jeremyf Hey Jeremy we actually have a users_settings table, which houses all (well, most!) of the settings and configurations that customize a user’s Forem experience.

This table is seperate from the users table.

[2021-10-18 21:14] msarit commented on #14875
@amywtlin @citizen428 Re: extending the Feed setting to the Tags view, I think there’s an argument for NOT making the default Home Feed setting also change the Tag Feed view.

What if after setting my Home Feed view, I then set the Tag Feed to something different, not realizing that the two are linked? I’d go back Home and realize my Home Feed setting has also changed. In my view that’s an unwelco

[2021-10-19 06:42] rhymes commented on #14971
@manojnaidu619 let me check with @superspike7 one sec, for priority's sake, thank you :)

@superspike7 given that you asked to work on this earlier, are you still available?

[2021-10-19 06:45] citizen428 commented on #14835
@ludwiczakpawel

To clarify: for logged-out users we always follow their OS setting but logged-in users get a chance to disable this?

I guess we should still also move "pink" to "light", correct? “Sync with OS settings” is an optional checkbox that overrides the other thing but by itself is not a theme so we also need to make sure we have no "pink" remaining in our DB.

[2021-10-19 08:01] ludwiczakpawel commented on #14835
Correct.

There are two separate settings:

1. "Sync with OS settings" - a checkbox. If it's checked, the latter doesn't matter (will be disabled). But if it's unchecked...
2. You can choose "Light" or "Dark".

So we want to move "pink" to "sync with os settings" so neither "light" or "dark" will be selected - if that makes sense (not sure if I described it understandably).

This logic is literall

[2021-10-19 08:25] aitchiss opened #15114 "Add ability to "undo" formatting on button click"
This covers the second task in the "Add a toolbar for the editor" issue.

- On a second toolbar button click, the inserted formatting should be removed, e.g. `**text**` becomes `text`
- All of the likely permutations of this should be covered - for example, given the string `**text**` the formatting should be removed whether the whole string is highlighted (including stars), or just the inner text

[2021-10-19 08:29] aitchiss opened #15115 "Add toolbar to editor V2 with image upload functionality"
Under this issue we will add the markdown toolbar (currently only in storybook) to the V2 editor. This will include:

- Adding the image upload functionality as per designs in https://github.com/forem/forem/issues/14808
- Adding to the V2 editor UI and insuring all existing textarea functionality also continues to work (mention autocomplete, drag and drop images)

[2021-10-19 13:30] Posandu commented on #15099
Okay. No problem @ludwiczakpawel

[2021-10-19 14:12] #14652 closed

[2021-10-19 15:00] cmgorton commented on #890
Hey folks we are starting work on i18n support on Forem. We are still in the initial infrastructure stages of this project. There is an open issue #14888 and a post by Ben Halpern that explains are plans a but more: https://dev.to/devteam/forem-hacktoberfest-let-s-internationalize-404n

Because of this new work and the direction we are going with it, I am going to close this issue.

[2021-10-19 15:03] #4168 closed

[2021-10-19 15:48] cmgorton commented on #12749
Good question. I am actually not sure. Looking at it again it looks like something maybe only the tag moderator for #welcome can change? I have admin privileges on DEV and I can't change it.

[2021-10-19 16:02] cmgorton commented on #12749
@ellativity yeah, if it is done through the admin area can you go a head and change it. We will just want to check the color contrast of whatever you change it to in dark mode.

[2021-10-19 17:41] ellativity commented on #12749
Sorry @jh3y! Sure thing, @cmgorton

[2021-10-19 17:51] jeremyf commented on #14875
Thank you both @msarit and @citizen428; I misread the original comment from Arit and jumped to a conclusion based on my initial scan of the User model/table.  So, apologies on the "we should" when the course of action was already in align with my assumption I just didn't slow down enough to fully read it.

Now, on to the advocating for it.  Yes.  That's definitely my plan, and I'm glad to see that

[2021-10-19 18:47] babakfp opened #15129 "Can't publish post on dev.to"
Hi
I can't publish my post. Yesterday I published it with no problems but today I see that it's on draft mode!
https://dev.to/babakfp/i-like-svelte-but-14c0
![Screenshot 2021-10-19 192501](https://user-images.githubusercontent.com/44144724/137970928-5984535b-ffb0-462d-b1f9-80e0283bb96c.png)

[2021-10-20 02:41] superspike7 commented on #14971
@rhymes  yes i would love to work on this issue

[2021-10-20 10:31] yheuhtozr commented on #1239
@cmgorton Unless you'd like to make #14888 an umbrella issue, I believe RTL support in web design is largely orthogonal to what that issue currently describes to do, and even workable alongside it. I wouldn't think closing this issue for the other makes sense in the i18n engineering context.

[2021-10-20 11:45] arteze opened #15137 "Spread operator in objects is not supported"
The spread operator in objects is not supported.

[code]

[code]

Suggest:

[code]

[2021-10-20 17:36] juliannatetreault opened #15143 "Refactor shouldRedirectToOnboarding() Logic in onboardingRedirectCheck.jsx"
During PR review for the Creator Setup Onboarding page, a reviewer pointed out that some of the logic that the PR slightly altered wasn't easy to follow. A follow-up [comment](https://github.com/forem/forem/pull/14728/files#r731483808) suggested that this logic be refactored, as outlined below:

[code]

**Estimate:** 1 day

[2021-10-20 17:50] Link2Twenty opened #15144 "Non-breaking lines in code snippet (breaks responsiveness)"
**Describe the bug**
There is a code snippet with a long url causing the width of the page to be greater than 100vw (on mobile)

**To Reproduce**

1. Go to https://dev.to/keshavs759/box-shadow-vs-drop-shadow-in-css-cep (on mobile)
2. See issue

**Expected behavior**

**Screenshots**
![Screenshot_20211020-184415.png](https://user-images.githubusercontent.com/3534427/138144339-82d848a4-6bbd-45f2-9ea

[2021-10-21 01:17] citizen428 commented on #14888
Yes, let's please get all the views merged first. The current frequency of submissions is a bit hard to keep up with.

[2021-10-21 09:38] ludwiczakpawel commented on #14835
@ellativity just a heads up: @citizen428 is actively working on implementation. It will still take some time to ship it but it's closer than ever so thought you (and your team) may want to know ahead and maybe prep strategy for announcing this change?

[2021-10-21 12:01] #15137 closed, assigned to rhymes

[2021-10-21 14:17] ludwiczakpawel opened #15150 "Add search field to /tags page"
The idea is to add a search field to the the `/tags` page. This would search not only through _Top 100_ tags (that's what we currently list on `/tags` page) but through all tags on the site.

This should work async so the results would be updated while typing.
As for now we just gonna keep current cell design for the results.

**Quick mockup of search field placement and the results:**

![image](h

[2021-10-21 14:30] ludwiczakpawel opened #15151 "Add "Tags" category to Search Results"
The idea is to add "Tags" category for our search results.

Quoting @citizen428:

![image](https://user-images.githubusercontent.com/108287/138298879-ffb4071a-9abd-471a-9d4a-38e15fec063a.png)

### Related:

- [Forem.dev post](https://forem.dev/andyv/feature-request-add-search-to-tags-page-al9)
- [Internal: Slack thread](https://forem-team.slack.com/archives/C02BP4UG2N9/p1632925089168400)

[2021-10-22 04:17] tyler36 opened #15155 "RSS feed contains bad links"
**Describe the bug**
I primary consume the [dev.io](https://dev.to/) via the RSS and view articles that I find interesting.

Starting around a month ago, I noticed a dramatic increase in article titles that felt "familiar". If I attempted to view these, I landed on a 404 page.

These articles,eg. ["10 Tips 😍 to become a great programmer🔥"](https://dev.to/codemaniaz/10-tips-to-become-a-great-progra

[2021-10-22 16:13] nickytonline opened #15160 "Fix responsiveness of the new member details view"
## Description

Currently the tools section sub sections get shrunk quite a bit on small and medium sized devices.

[2021-10-22 16:47] #15160 closed, assigned to nobody

[2021-10-24 08:29] supzi-del opened #15174 "Remove unnecessary space in code of conduct"
**Describe the bug**

There is an unnecessary spacing after the word DEV Community in the third line before the full-stop (Code of Conduct)

**To Reproduce**

**Expected behavior**

**Screenshots**

![Screenshot (433)](https://user-images.githubusercontent.com/78655439/138586424-0d5486ea-60a9-4809-a7a0-103f7b2012b2.png)

**Desktop (please complete the following information):**

- OS, version: Wind

[2021-10-24 10:19] krishnadevz opened #15175 "Setting tab edit profile section text-field should have placeholder"
**Describe the bug**
In the **Settings** tab in edit profile section in case of all textfields example:-Skills/coding,currently hacking on etc.
In the placeholder text there is nothing but below there is text like this `What tools and languages are you most experienced with? Are you specialized or more of a generalist?`  but there is nothing in the placeholder or in this text also there should be

[2021-10-25 13:25] aitchiss opened #15179 "Implement an accessible color picker for user-selected colors"
We have quite a few color pickers in the app:

- Admin > Customization > User experience and brand
- Admin > Content manager > Tags > tag
- User settings > Profile
- Tag > Edit
- New creator onboarding flow (soon!)

(there may be others I've missed)

Unfortunately, [inputs with type "color" are not very accessible](https://css-tricks.com/color-inputs-a-deep-dive-into-cross-browser-differences/). I

[2021-10-25 17:50] ellativity opened #15183 "Redundant button in User Admin"
![Screenshot 2021-10-25 at 19 46 20](https://user-images.githubusercontent.com/76786132/138744796-aa9e8e55-507c-4052-9186-fc665ff85483.png)

There are 2 Verify Email Ownership buttons in the User Admin (navigate to forem-url/username/moderate to access this page). The button to the right of "Email last verified" sends an email address verification email to the user's registered email.

The bug: Th

[2021-10-25 22:06] thomasbnt opened #15195 "Missing "en.core.reaction" translation]"
**Describe the bug**
You can see the translation of 'likes" is bugged.
![image](https://user-images.githubusercontent.com/14293805/138777365-c4a9884c-eac9-4d75-a646-1487001fb6cf.png)

**To Reproduce**

1. Go to the [main page](https://dev.to/)
2. See posts and the numbers of likes
![image](https://user-images.githubusercontent.com/14293805/138777474-dbfea2c3-5add-4ea6-bd20-857727f9732a.png)

**Exp

[2021-10-26 05:27] #15195 closed, assigned to nobody

[2021-10-26 14:44] Rohithgilla12 opened #15197 "API PUT request call doesn't change `cover_image`"
**Describe the bug**

https://developers.forem.com/api#operation/updateArticle
You cannot update the article's cover image, you can update title and other but not `cover_image`

**To Reproduce**

Make the `PUT` request as mentioned in the docs

curl -X PUT -H "Content-Type: application/json" \
  -H "api-key: API_KEY" \
  -d '{"article":{"cover_image":"url"}}' \
  https://dev.to/api/articles/{id}

[2021-10-26 17:39] thomasbnt opened #15203 "Share to Twitter"
**Describe the bug**
When you share a post on Twitter, the content is not properly written. In the body of the tweet, it adds twice `"`.

**To Reproduce**

1. Go to any post
2. Click to the three dots on the left
3. Click to **Share to Twitter**
4. See the content of the tweet

**Expected behavior**

Don't have two `"` in the tweet.
**Screenshots**
![image](https://user-images.githubusercontent.co

[2021-10-26 18:49] cmgorton opened #15205 ""An error occurred" warning in notifications"
**Describe the bug**

When I look at my notifications on dev.to and forem.dev I see an error that says _"An error occurred" This has been logged and we're tracking it_

@djuber confirmed this is a real error and is occurring a lot.
TOTAL OCCURRENCES
58,657

**To Reproduce**

Go to your notifications tab in dev.to or forem.dev. Scroll down and you may see the following error.

![An error occurred](

[2021-10-26 20:52] suntong opened #15208 "Content lost when edit"
**Describe the bug**

Content lost when edit -- I'm composing a (long)  blog, and have noticed several times that my recently composed text gone missing somehow, and I had always been able to revive the situation by revisiting the edit url.

However, somehow I no longer able to revive my current blog any more

**To Reproduce**

- My [current composing blog is here](https://dev.to/suntong/journey-t

[2021-10-26 21:35] #15205 closed, assigned to nobody

[2021-10-27 08:14] #15203 closed, assigned to nobody

[2021-10-27 18:31] bound-variable opened #15214 "Unable to change email address"
**Describe the bug**

Unable to change my email from Gmail To ProtonMail

**To Reproduce**

1. Submit request for change of email from the settings page.
2. Open received email confirmation request from ProtonMail.
3. Click on "Confirm my account".
4. A bizarre error appears asking me if I didn't receive the email.

**Expected behavior**

To change my email

**Screenshots**

![image](https://user-

[2021-10-27 19:00] #15197 closed, assigned to nobody

[2021-10-28 04:08] #15214 closed, assigned to nobody

[2021-10-28 16:23] michael-tharrington opened #15221 "Remove Mention of Connect from Tag Mod Invitations"
**Describe the bug**

Currently the tag mod invitations across all Forems notifiy folks that they've been added to Connect. We are in the process of deprecating Connect and should remove this language ASAP, especially on DEV because we are now inviting mods to chat with us on Discord.

**Expected behavior**

There will be no mention of Connect in our Mod Emails.

**Screenshots**

Here's a screensh

[2021-10-28 20:37] Chentai-Kao opened #15223 "[UI bug] Updated time of articles are incorrectly escaped"
**Describe the bug**

When an article is updated, an update time is displayed below the article's title like `Updated on ...`. However, the updated time is incorrectly escaped as HTML code. Please see the following screenshot (a random article) towards the bottom part.

![screenshot_20211028_132924](https://user-images.githubusercontent.com/1172768/139331159-89eb9a8a-f4b6-4a3e-ae5c-21e480b8de1f.pn

[2021-10-28 21:38] #15223 closed, assigned to djuber

[2021-10-29 03:39] #15174 closed, assigned to supzi-del

[2021-10-29 10:26] aitchiss opened #15228 "Use Snackbar component in reading list"
We have a dedicated [Snackbar Preact component](https://github.com/forem/forem/blob/62e150f5afefca59b641d24791dae630dee6c6bb/app/javascript/Snackbar/Snackbar.jsx) which has all styles, interactions and accessibility baked in nicely. However, we're not currently using it in the Reading List area of the app (for the snackbar that appears when archiving/unarchiving a post).

This issue is to refactor

[2021-10-29 15:41] #15221 closed, assigned to nobody

[2021-10-29 18:50] nickytonline commented on #14483
It is highly unlikely that someone would load the onboarding page directly from the browser address bar, but that would be the use case to have both. Otherwise, `InstantClick` on its own is probably fine in this scenario since it's converted the page to a SPA like experience at that point.

Experiment a bit and let me know if you have any other questions. 😎

[2021-10-30 04:50] BlueZ-95 commented on #14483
Owkay, Lemme experiment a bit!

[2021-10-30 16:15] lazidoca commented on #4805
I am interested in this as well. Since there are only a few people selfhost Forem, they don't care much about SEO. However, a link without "nofollow" in the post will affect the page rank.

[2021-10-30 19:17] pramodrhegde commented on #14709
Apologies for the delayed response, I didn't get a chance to look into this, I am unassigning myself so that anyone else can take this up.

[2021-10-31 07:15] Himanshu1495 commented on #13354
Thank you for assigning it to me @cmgorton. I will start working on it soon.

[2021-10-31 12:39] alvaromontoro opened #15233 "Cover image remains after being deleted"
**Describe the bug**

If a blog post has a cover image, but then the Jekyll Front Matter information for the cover image is removed, the image remains for that blog post. [Example of a post with this behavior](https://dev.to/alvaromontoro/my-hacktober-contributions-in-2021-1756) (it shows a cover image, but the Jekyll Front Matter  tag for cover image was deleted)

**To Reproduce**

These are the

[2021-10-31 13:08] alvaromontoro opened #15234 "Accessibility: Upload Image does not have focus state"
**Describe the bug**

The "upload image" button does not have a focus state (e.g. an outline on focus), so keyboard users may be confused as the visible focus indicator is lost.

**To Reproduce**

Instructions using keyboard (but can be done with mouse until step 3):

1. Go to https://dev.to
2. Tab to "Create Post" button and press enter
3. Tab several times. The order of the focused elements is a

[2021-11-01 02:11] SrikanthYashaswi opened #15236 "incompatible model definition in API: get list of article & get article by id"
**Describe the bug**
GET  _https://dev.to/api/articles_ returns list of articles,

in the above api, in model Article:  **_tags_** returns `string` and **_tag_list_** returns `Array of strings`

where as in GET _https://dev.to/api/articles/articleId_ returns a single article

In this api **_tags_** returns `Array of strings` and **_tag_list_** returns `string`

the type is interchanged in both api

[2021-11-01 03:08] #14935 closed

[2021-11-01 03:13] citizen428 commented on #4805
@lazidoca Yes, if/when we implement this we'll be mindful of SEO considerations.

[2021-11-01 03:27] citizen428 commented on #13354
I just unarchived several of my old previously unarchived posts with no problems. However, I did notice that the UI does not update until a hard refresh, so it can look a bit confusing.

[2021-11-01 03:32] citizen428 commented on #1239
@cmgorton I think I agree with @yheuhtozr on this, RTL-support in Forem will require a lot of work that goes beyond pure string translation.

[2021-11-01 04:24] lazidoca commented on #4805
@citizen428 There is also a post in forem.dev: https://forem.dev/techkoool/add-nofollow-for-external-links-in-posts-4ijl

But it seems like nobody cares about it =))

@cmgorton Should we reopen this issue?

[2021-11-01 05:28] citizen428 commented on #14835
Current status:

**Done**

* [Rename default and night theme](https://github.com/forem/forem/pull/15176)

**In progress**

* [Theme data update script, remove theme choices from UI](https://github.com/forem/forem/pull/15176): as per internal discussion we probably leave the changelog posts on forem.dev and dev.to up for about a week, so this will get merged at a later date. The PR is set to draft

[2021-11-01 06:54] citizen428 commented on #15096
@madzadev This has recently been fixed (we had a problem with handling `nil` and `""` differently when dealing with tag aliases. #javascript, #webdev and #beginner are now at the top as one would expect:

![image](https://user-images.githubusercontent.com/47985/139633090-e135c52b-50ed-4ef2-afcb-10323fc747e1.png)

[2021-11-01 09:10] madzadev commented on #15096
@citizen428 Wow, awesome work guys! ❤ This was essential since I work with tags a lot 👍
Still, all-time top tags panel would be a nice feature to consider in the future. Keep trending tags (current view) as the default since they are dynamic and displays what content is hot.

[2021-11-01 13:54] djuber commented on #15233
I can confirm this is happening as you described.

It looks like leaving the cover_image: property blank in the front matter (removing the linked image) updates the post to have no cover image, and removing the cover_image property completely (as you described) leaves the existing cover image intact.

It looks like this might be an issue with a special case around absent `cover_image` values in th

[2021-11-01 14:23] aitchiss opened #15241 "Refactor hardcoded paths in JS"
## Background

In #15133 we added a library that allows us to use path helpers instead of hardcoded paths in the Javascript code. So for example, instead of hard-coding a path to `/mod` we can use the helper like:

[code]

## TODO

This issue covers finding any hardcoded paths in the Javascript code, and replacing them with uses of the helpers instead.

**This work should be completed in small inc

[2021-11-01 14:32] michael-tharrington opened #15242 "Cannot reach the /admin page for certain users"
**Describe the bug**

I'm unable to reach the admin page (/admin/users/###/edit) for my DEV account and at least [one other user's account](https://github.com/forem/pii/issues/93).

**To Reproduce**

1. Ensure you have admin privileges on DEV.
2. Go to my admin page 'https://dev.to/admin/users/38578/edit'
3. See spinning robot

**Expected behavior**

I'd expect to be able to navigate to any user's

[2021-11-01 14:40] djuber commented on #15242
https://app.honeybadger.io/projects/66984/faults/78734892/01FKDYE0AYD57EKBCGY3F2609B

Definitely happening here - underlying error is

NoMethodError: undefined method `path' for nil:NilClass

https://github.com/forem/forem/blob/main/app/views/admin/users/_negative_reactions.html.erb#L9 the `reaction.reactable.path` here is failing because the reaction's reactable is missing/invalid (negative react

[2021-11-01 14:58] michael-tharrington opened #15244 "Conflicts with cls classes in SVGs causing color issues with SVGs"
**Describe the bug**

Occasionally Forem Creators are running into issues with their logo SVGs changing to colors that they did not designate in the code for the SVG. This happens when the logo SVG gets confused with which CSS styles are defined on which images (the images using the same cls-N names) and it mistakenly pulls the color according to what the SVGs in the the nav links are set to be.

[2021-11-01 15:32] djuber commented on #15244
https://svgwg.org/svg2-draft/styling.html#StyleSheetsInHTMLDocuments I believe this interaction between the page style and any/all inline svg styles is required by the spec (if you insert svg content into the html source, the styles in the image mingle with the styles on the page, including this class style redefinition reported).

Possible technical solutions include not rendering the svg icons i

[2021-11-01 16:09] lsparlin commented on #14975
I'd be happy to work on this issue. I see that it's labeled high-priority and I don't want to hold anything up. So full disclosure: I won't be able to work on it until this evening (GMT-5)

[2021-11-01 16:16] cmgorton commented on #14975
That's ok @lsparlin ! This is high priority but not "This has to be done this second" priority if that makes sense 😄
Getting to it soon would be helpful but you don't need to feel like you have to rush. I'll assign this to you. Let us know if you have any question.

[2021-11-01 17:29] djuber opened #15245 "When a user is deleted - reactions to the user are not removed"
**Describe the bug**

When a moderator created user flagging reactions on a user
And then the user is deleted
The reaction to the user remains (it's still included in the moderator's reactions)
These should have been removed and can cause issues with display in some admin pages.

**To Reproduce**

As a moderator react to a user (flag user)
Delete the flagged user
List the moderators reactions - re

[2021-11-01 17:37] jeremyf commented on #1856
One task that's in the foreground of my consideration is to improve the Feed experience.

In https://github.com/forem/forem/pull/15240 I'm beginning to layout both a more transparent feed and provide levers that maybe adjustable.  The current urgent issue is to better map a person's followed tags, people, and orgs and to perhaps favor less "reaction" based things.

I wrote about this exploration a

[2021-11-01 17:55] #15242 closed

[2021-11-01 18:57] cmgorton commented on #1239
OK! Thank you both for the input here. I am going to leave this closed for now while @JennieOcken and I work on the GitHub Discussions implementation. I think we could convert this issue to a discussion so we can continue talking about what would be needed. Then we could convert it back to an issue when we have a solid plan.

[2021-11-01 18:59] cmgorton commented on #4805
@lazidoca we are doing a little restructuring around discussions/feature requests that I will be sharing more detail on later this week. Let's keep this closed until I get those changes implemented and then we can look at converting this issue into a discussion.

[2021-11-01 19:50] #14645 closed

[2021-11-01 19:50] #14651 closed

[2021-11-02 09:35] aitchiss opened #15263 "KeyboardShortcuts component treats `ctrl` and `cmd` interchangeably on macOS"
**Describe the bug**

We have a helper hook/component for keyboard shortcuts - `useKeyboardShortcuts`/`KeyboardShortcuts`, which currently treats `ctrl` and `cmd` interchangeably when using a mac. As far as I can see, this currently only affects the editor preview shortcut: `cmd + shift + p` / `ctrl + shift + p` both triggering the same behavior when using a mac.

Although this particular case is

[2021-11-02 09:38] aitchiss commented on #14808
Added a new task to fix our `KeyboardShortcuts` component so that we're not hijacking other readline keybindings on macOS

[2021-11-02 09:50] #14376 closed

[2021-11-02 09:51] #14649 closed

[2021-11-02 09:51] #14655 closed

[2021-11-02 09:54] Ridhwana opened #15264 "Investigate redirecting straight to the setup page after a creator signs up."
Some thought needs to be given to this issue to decide the way forward.

Here are some previous conversations:

https://github.com/forem/forem/pull/14728#pullrequestreview-791116701

There is a flash of content when we're redirected from the creator setup form. The site loads the main page briefly and then the client-side redirect kicks in to take the new creator to the creator onboarding. Since w

[2021-11-02 11:21] aitchiss commented on #15150
Can we consider _not_ doing this, and providing an explicit submit button (like the search icon in the top search bar)?

The reason I ask is that one of the WCAG success criteria is to [avoid changes of context (like the page content changing to search results rather than 'top tags') on user input](https://www.w3.org/WAI/WCAG21/Understanding/on-input), instead [relying on a user-initiated submit e

[2021-11-02 12:25] ludwiczakpawel commented on #15150
I guess so 🤷

[2021-11-02 15:44] andreamartz commented on #10335
I'm sorry. Can I be unassigned this issue? I've overcommitted.

[2021-11-02 15:46] cmgorton commented on #10335
No problem @andreamartz . I'll unassign you.

[2021-11-02 17:22] andygeorge opened #15274 "Angle bracket characters in Community Name may prevent email delivery"
Seen in a Forem Cloud customer instance: having `<` and `>` characters in the Community Name may prevent email delivery. For example:

[code]

The 'from' email string is generated [here](https://github.com/forem/forem/blob/a8c75fb0e8a0f45afca5dd00afdfb331316ab515/app/mailers/devise_mailer.rb#L8), which results in this:

[code]

...which can lead to the `<example>` string being interpreted as the s

[2021-11-02 17:50] #14974 closed

[2021-11-03 04:45] akashdotsrivastava commented on #14903
@rhymes  I'd like to give this a shot.

[2021-11-03 05:08] citizen428 commented on #14903
I assigned you this issue. Please do not ping team members directly btw, rhymes recently left Forem so shouldn't be notified about something like this.

[2021-11-03 05:17] akashdotsrivastava commented on #13360
This was solved in #14018, so this issue can be closed.

[2021-11-03 05:26] #13360 closed

[2021-11-03 11:54] #15263 closed

[2021-11-03 14:08] aitchiss commented on #14735
Just an update here that we now have an `h1` with the full context for the search results page (🎉 ), but we can still usefully change the `<title>` element to include the search term too  🙂

[2021-11-03 15:02] michael-tharrington commented on #15274
Thanks so much for writing this one up! I've subscribed to this issue so that I can keep apprised and keep any Forem Creators that this is affecting informed once a fix is in so they can adjust their names accordingly.

[2021-11-03 21:17] #14975 closed

[2021-11-03 21:20] markmead opened #15279 "Can't view full form on sign up"
**Describe the bug**

I can't scroll down to the next parts of the form on the sign up modal.

**To Reproduce**

Sign up

or visit /onboarding and step through to the "Build your profile" page, happens automatically during first login

**Expected behavior**

Lemme scroll

**Screenshots**

<img width="797" alt="Screenshot 2021-11-03 at 21 18 03" src="https://user-images.githubusercontent.com/504860

[2021-11-03 21:54] djuber commented on #15279
@markmead as a work-around after you've continued past this step - those questions are available for update at https://dev.to/settings (on a page, not a modal) and scrolling should work fine.

I tried to replicate this locally using the same onboarding profile fields as there are in DEV, and was unable to recreate the issue. I'm using chromium on linux, so it's possible this is mac specific, but t

[2021-11-04 11:54] akashdotsrivastava commented on #14903
@noviicee Hi. Can you provide an example of adding a topic/ sub topic to a post here? An example of content that caused this bug for you would be helpful. Thanks.

[2021-11-04 17:07] beroal opened #15282 "“View full discussion” doesn't show which comments were read"
I press the “View full discussion” button after I read some comments. This button opens a page so I see the top of the page, and I need to skim through the post and the comments I already read in order to continue reading comments. I would like this button to jump to the first unread comment.

[2021-11-05 12:04] InHuOfficial opened #15285 "Unable to view original tweet with Twitter card in the notifications screen on iOS"
### Describe the bug

On iOS on the DEV app you cannot tap on a Twitter card in order to view the tweet when viewing it in your notifications.

Additionally (as they may both be the same solve), you can't get to the original tweet using the keyboard without replying, retweeting or liking the tweet,

### To Reproduce

Try and tap on a Twitter card in your notifications on iOS. Or just tab through a

[2021-11-05 14:58] nickytonline opened #15286 "Onboarding color contrast issues when in dark mode"
**Describe the bug**

This won't happen when someone onboards the first time, but if they revisit onboarding and have the theme set to dark, they will be unable to read parts of the onboarding.

**To Reproduce**

1. Ensure your settings are configured to have the dark theme, https://dev.to/settings/customization

![image](https://user-images.githubusercontent.com/833231/140531035-06e40796-9b1b-412

[2021-11-05 16:40] #15001 closed

[2021-11-05 20:01] jeremyf commented on #15155
As an RSS user, I love my feeds.  And to have these "spam" articles show up would definitely be frustrating.

@tyler36 I'm looking into this, and wondering what's the URL of the feed you're referencing?  There's some branching logic and I want to see what path to pursue.

[2021-11-05 21:32] djuber commented on #15155
A few notes and thinking points about this

- the /feed endpoints (/rss, /feed/, /feed/tag/:tagname, /feed/:username, /feed/latest) when the response is generate, only include articles that currently exist and are published. Deleted articles are not sent in the /feed/ endpoints from the server)

- the /feed/ and related rss endpoints are cached for up to 10 minutes by our network (this is probably

[2021-11-06 02:45] lsparlin commented on #9077
I'd like to work on this

[2021-11-06 17:30] zachjonesnoel opened #15289 "Stats on web portal unavailable."
**Describe the bug**

The stats for every blog that is composed and live is not available.

**To Reproduce**

1. Go to dashboard
2. Select any post and choose "Stats".
3. On the Stats screen, it displays the placeholders for Readers Summary, New Followers Summary and more but the count/value is not displayed.

**Expected behavior**

Display the stats and graphs.

**Screenshots**

![image](https://

[2021-11-07 09:45] kerimcet opened #15290 "Hover card of post author doesn't looks well styled"
**Describe the bug**

The hover card of post author doesn't looks well when it is near the bottom of browser window. I think, it breaks down due to insufficient space.

**To Reproduce**

1. Go to 'dev.to' (or any other website which uses Forem)
2. Scroll down and stop on any post author near bottom of browser window
3. Hover on 'post author name'
4. See bug

**Expected behavior**

The hover card o

[2021-11-08 00:25] tyler36 commented on #15155
RSS reader: [Feedly](https://feedly.com/)
RSS feed: https://dev.to/feed

This morning when I logged in there are 306 articles, sorted via oldest first ("Tutorial: Write Your First JavaScript Program").
Of the 10 oldest unread, 3 of them are showing as "Not found":
- https://dev.to/reactjss/40-reactjs-projects-for-beginners-easy-ideas-to-get-started-coding-beginners-advance-22i2
- https://dev.to/re

[2021-11-08 07:46] amywtlin opened #15292 "Remove the requirement of the featured article to have an image"

[2021-11-08 07:53] amywtlin commented on #15292
@michael-tharrington I created an issue for removing the requirement of having to have a cover image to feature a post. Please help check it looks fine!

@jeremyf Just to double confirm, as this is part of the feed experiment, it means it would only roll out to a selection of DEV audience first. How does that affect Creators? Will they have to wait for 100% rollout to benefit from this change?

[2021-11-08 10:37] aitchiss commented on #14806
@lyqht I've unassigned you from this issue following our discussion on https://github.com/forem/forem/pull/14917 - thanks again for all your hard work on this tricky issue!

Whoever picks this up next, please see the conversations and work in progress detailed on https://github.com/forem/forem/pull/14917.

[2021-11-08 10:52] aitchiss opened #15294 "Update markdown toolbar in storybook to only insert new lines if they don't already exist"
Generated following initial feedback on related PR: https://github.com/forem/forem/pull/15239

For block level elements, the formatters currently always insert two new lines before, and one new line after.

We should tweak this so that we only insert those new lines if they don't already exist i.e:

- if the selection is immediately preceded by 2 new lines, don't add any before the formatted block

[2021-11-08 14:23] ellativity opened #15296 "_terms_text.html does not update when /terms is overwritten"
**Describe the bug**

When a Forem Admin overwrites the default page `/terms`, they would expect that this would be update the Terms of Use  displayed during the New User Onboarding (on the modal page that new users are requested to confirm they have read and agreed to the Terms, they can click on linked text to view the Terms):
![New User Onboarding modal showing link to Terms](https://user-image

[2021-11-08 14:25] aitchiss opened #15297 "admin config_controller JS test logging out error"
**Describe the bug**

When running `yarn test` there's a really long error console output being triggered by `app/javascript/admin/__tests__/controllers/config_controller.test.js`. The test itself passes, but we should look into what's going on as something isn't right, and if nothing else, the huge console output makes it quite difficult to debug other failing tests when running the full test sui

[2021-11-08 14:26] michael-tharrington commented on #15292
Nice! I think this definitely makes sense, particularly for the "latest" feed.

[2021-11-08 14:38] ellativity commented on #15296
https://github.com/forem/forem/blob/main/app/views/pages/_terms_text.html.erb <-- this

[2021-11-09 10:42] #15100 closed

[2021-11-09 14:37] cmgorton commented on #8937
I can see the article tagged with `augeas`. I do not think this is an issue any longer. https://dev.to/t/augeas

[2021-11-09 14:37] #8937 closed

[2021-11-09 15:23] #14045 closed

[2021-11-09 15:25] #13185 closed

[2021-11-09 15:59] #4614 closed

[2021-11-09 16:15] jeremyf commented on #14709
There's an open pull request to experiment with a different feed algorithm: https://github.com/forem/forem/pull/15240, but there remains a particular challenge.  Namely sorting across pagination pages.

In Forem there are 2 possible feed strategies:  [Basic](https://github.com/forem/forem/blob/6b2160f307b41467bcf4c0f63eebccaa5a5bd341/app/services/articles/feeds/basic.rb) and [LargeForemExperimenta

[2021-11-09 16:16] #9578 closed

[2021-11-09 16:20] jeremyf commented on #14709
To address both pagination and caching, it's possible we would need to introduce a `AND publication_date <= cached.request.time`. That would help ensure we are not "out of order" but would instead hide newly published articles until the cache expired.

tl;dr : We need to tease apart expectations of chronology for the "default" feed and for the "latest" feed as it relates to pagination, caching, an

[2021-11-09 16:27] #11036 closed

[2021-11-09 16:32] #2955 closed

[2021-11-09 16:34] cmgorton commented on #9685
@fennecdjay is this still a bug that occurs for you?

[2021-11-09 16:35] #11060 closed

[2021-11-09 16:40] #14028 closed

[2021-11-09 16:59] fdoxyz commented on #14758
Both our `forem/DEV-ios` (to be archived soon) and `forem/ForemWebView-ios` rely on SPM instead of CocoaPods for dependency management, so I'm not sure what happened here. The download link has expired now so I can't tell exactly what was being attempted.

@kkomal1408 can you share more details of what you were trying to do and which repo you were using? Otherwise I'd say we can close this issue.

[2021-11-09 17:04] #8248 closed

[2021-11-09 17:05] #317 closed

[2021-11-09 17:07] #1849 closed

[2021-11-09 17:09] #2311 closed

[2021-11-09 17:10] #3222 closed

[2021-11-09 17:11] #3363 closed

[2021-11-09 17:13] cmgorton commented on #4328
Since our connect feature is being depreciated I am going to close this issue.

[2021-11-09 17:13] #4328 closed

[2021-11-09 17:16] #4922 closed

[2021-11-09 17:16] #4946 closed

[2021-11-09 17:17] #5008 closed

[2021-11-09 17:18] cmgorton commented on #5431
Because of our recent changes to themes. I am going to close this issue.

[2021-11-09 17:18] #5431 closed

[2021-11-09 17:20] #8256 closed

[2021-11-09 17:21] #8459 closed

[2021-11-09 17:23] #9034 closed

[2021-11-09 17:23] #9549 closed

[2021-11-09 17:24] #9707 closed

[2021-11-09 17:24] #9800 closed

[2021-11-09 17:25] #9937 closed

[2021-11-09 17:25] #10037 closed

[2021-11-09 17:26] #10497 closed

[2021-11-09 17:27] cmgorton commented on #10522
Current conversation in issue #14807

[2021-11-09 17:27] #10522 closed

[2021-11-09 17:28] #10576 closed

[2021-11-09 17:29] #10659 closed

[2021-11-09 17:29] #11292 closed

[2021-11-09 17:31] #12005 closed

[2021-11-09 17:46] #12401 closed

[2021-11-09 17:48] #1299 closed

[2021-11-09 17:52] #3389 closed

[2021-11-09 17:55] cmgorton commented on #3455
Since this issue has gone stale I am going to close it. If anyone would still like this feature let me know and I can convert this issue to a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 17:55] #3455 closed

[2021-11-09 17:56] cmgorton commented on #3638
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 17:56] #3638 closed

[2021-11-09 17:59] cmgorton commented on #4048
The number of followers for an org can be seen at dev.to/dashboard/analytics/org/[org number]

[2021-11-09 17:59] #4048 closed

[2021-11-09 18:00] #3329 closed

[2021-11-09 18:01] #3171 closed

[2021-11-09 18:03] cmgorton commented on #3046
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:03] #3046 closed

[2021-11-09 18:03] cmgorton commented on #3001
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:03] #3001 closed

[2021-11-09 18:04] cmgorton commented on #49
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:04] #49 closed

[2021-11-09 18:08] cmgorton commented on #3669
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:08] #3669 closed

[2021-11-09 18:08] cmgorton commented on #3802
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:09] cmgorton commented on #4995
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:09] #4995 closed

[2021-11-09 18:09] cmgorton commented on #5387
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:09] #5387 closed

[2021-11-09 18:10] cmgorton commented on #8094
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:10] #8094 closed

[2021-11-09 18:11] #8154 closed

[2021-11-09 18:11] cmgorton commented on #8155
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:11] #8155 closed

[2021-11-09 18:12] cmgorton commented on #8212
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:12] #8212 closed

[2021-11-09 18:12] cmgorton commented on #8218
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:12] #8218 closed

[2021-11-09 18:13] cmgorton commented on #8760
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:13] #8760 closed

[2021-11-09 18:15] cmgorton commented on #8920
I believe this issue is resolved. I can see all of the analytics from each org I am an Admin of. If that is not the case let me know and I will re-open this.

[2021-11-09 18:15] #8920 closed

[2021-11-09 18:18] cmgorton commented on #5670
Please see this https://github.com/forem/forem/discussions/15322 for further discussion on infinite scroll.

[2021-11-09 18:18] #5670 closed

[2021-11-09 18:29] #5653 closed

[2021-11-09 18:33] cmgorton commented on #6632
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:33] #6632 closed

[2021-11-09 18:34] cmgorton commented on #7997
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:34] #7997 closed

[2021-11-09 18:34] cmgorton commented on #8949
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:34] #8949 closed

[2021-11-09 18:34] cmgorton commented on #9008
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:34] #9008 closed

[2021-11-09 18:35] cmgorton commented on #9075
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:35] #9075 closed

[2021-11-09 18:35] cmgorton commented on #9121
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:35] #9121 closed

[2021-11-09 18:37] #12374 closed

[2021-11-09 18:38] #12011 closed

[2021-11-09 18:39] cmgorton commented on #11857
Please see this https://github.com/forem/forem/discussions/15331 for further discussions on this feature.

[2021-11-09 18:39] #11857 closed

[2021-11-09 18:41] cmgorton commented on #11781
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:41] #11781 closed

[2021-11-09 18:41] cmgorton commented on #11780
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:41] #11780 closed

[2021-11-09 18:42] cmgorton commented on #9775
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:42] #9775 closed

[2021-11-09 18:43] #9848 closed

[2021-11-09 18:43] jeremyf commented on #15292
@amywtlin (and cc @michael-tharrington)  is there a case where we want admin's to configure this?

That is to say a site creator could require that featured posts must have images.  If so, that impacts implementation in that we'd want to add an admin setting.

[2021-11-09 18:49] cmgorton commented on #9210
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:49] #9210 closed

[2021-11-09 18:51] cmgorton commented on #9348
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 18:51] #9348 closed

[2021-11-09 19:41] james-wallis commented on #9210
Hey @michael-tharrington

Sorry, I didn’t see your reply! Yes I wrote an article on Dev.to! https://dev.to/jameswallis/i-made-a-free-dev-to-writing-streak-calculator-that-anyone-can-use-4m07

@cmgorton in leu of a Forem implementation, would you want to link to the streak calculator tool? I can modify it to support more Forem projects if needed.

[2021-11-09 19:48] jeremyf commented on #15292
We'll need to assess the impact of not requiring a main image.  Here are some places to consider in the codebase.

- [ ] https://github.com/forem/forem/blob/eec738710b4963e595c3128ec49cb276e675e6f2/app/javascript/articles/Feed.jsx#L34-L40
- [ ]  https://github.com/forem/forem/blob/eec738710b4963e595c3128ec49cb276e675e6f2/app/javascript/articles/Article.jsx#L41-L43
- [ ] https://github.com/forem/fo

[2021-11-09 19:55] cmgorton commented on #11717
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 19:55] #11717 closed

[2021-11-09 19:55] cmgorton commented on #11716
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 19:55] #11716 closed

[2021-11-09 19:55] #11714 closed

[2021-11-09 19:57] cmgorton commented on #11634
Looks like this may be resolved with the new layout. There are descriptions added to each Forem.
![forem discover page](https://user-images.githubusercontent.com/21039864/140995696-aaae68dc-b2f8-4dcc-9b80-bca38cae5e2b.png)

[2021-11-09 19:57] #11634 closed

[2021-11-09 19:58] #11504 closed

[2021-11-09 19:59] cmgorton commented on #11470
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 19:59] #11470 closed

[2021-11-09 19:59] cmgorton commented on #11404
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 19:59] #11404 closed

[2021-11-09 20:04] cmgorton commented on #11395
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 20:04] #11395 closed

[2021-11-09 20:07] #10803 closed

[2021-11-09 20:09] cmgorton commented on #10880
I believe we have this feature now. If this isn't what you meant Peter let me know and I can reopen this issue.
![light and dark mode logos](https://user-images.githubusercontent.com/21039864/140997084-e0a55f09-67c2-4f17-9419-979a405defbf.png)
.

[2021-11-09 20:09] #10880 closed

[2021-11-09 20:10] cmgorton commented on #11335
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 20:10] #11335 closed

[2021-11-09 20:10] cmgorton commented on #11300
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 20:10] #11300 closed

[2021-11-09 20:10] #11165 closed

[2021-11-09 20:11] cmgorton commented on #11098
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 20:11] cmgorton commented on #11097
Since this issue has gone stale I am going to close it. If anyone would like to still implement this feature let me know and we can turn this issue into a [discussion](https://github.com/forem/forem/discussions)

[2021-11-09 20:11] #11097 closed

[2021-11-09 21:11] cmgorton commented on #9210
@JennieOcken any thoughts on this? The tool James created is useful.

[2021-11-10 00:13] nickytonline opened #15339 "Add a skip link to the admin area"
**Describe the bug**

Like the client-facing portion of a Forem instance, the admin area requires a skip link as well to make the admin experience more accessible.

**To Reproduce**

1. Navigate to any page in the admin section, e.g. http://localhost:3000/admin
2. Use the TAB key to navigate the site
3. No skip link appears and an admin is forced to navigate through the entire sidebar menu.

**Exp

[2021-11-10 02:48] amywtlin commented on #15292
I don't think so. If that is the desired experience, there are a few easy workarounds I can think of:
1. admins can just go ahead and add an image to the post they are going to feature.
2. admins can just pick posts with images to feature

@michael-tharrington Is that correct, though?

[2021-11-10 11:37] #15339 closed

[2021-11-10 12:06] #15114 closed, assigned to aitchiss

[2021-11-10 13:47] Ridhwana commented on #14646
Quick question here @juliannatetreault: Have we added validation that the logo has a minimum size of 300x300 pixels?

[2021-11-10 14:11] Ridhwana commented on #14646
Being playing aorund with this:
https://css-tricks.com/updating-a-css-variable-with-javascript/

let root = document.documentElement;
root.style.setProperty('--radius', "150px"); //substitue with color

[2021-11-10 14:14] juliannatetreault commented on #14646
Great question! We have not, @Ridhwana

[2021-11-10 14:41] cmgorton commented on #15289
Hey @zachjonesnoel are you still experiencing this issue. I am able to see the stats for my posts.

[2021-11-10 15:07] kerimcet commented on #15290
@cmgorton I mean it breaks when it is near bottom of the browser window and it doesn't fit because of there is not enough space for the card content.

[2021-11-10 15:12] cmgorton commented on #15290
@kerimcet thanks for the clarification. I was able to recreate the issue when hovering at the bottom of the screen.

[2021-11-10 15:17] madzadev commented on #14709
@pramodrhegde no worries, it's all good!

[2021-11-10 17:44] zachjonesnoel commented on #15289
Unfortunately yes @cmgorton. Not able to view stats for any of my posts.

[2021-11-10 20:53] jeremyf commented on #14709
@madzadev The current work that I'm looking to roll-out is an experiment (if you're Rails inclined, [here's the PR](https://github.com/forem/forem/pull/15240)).  As written, the experiment will impact 20% of the people (alas I don't have a lever to conscript you in that experiment).

[2021-11-11 07:17] Himanshu1495 commented on #13354
Hey @cmgorton, apologies for taking a lot of time to start working on this issue. I am currently swamped with work at my organisation. Please assign this issue to someone else for now. I will get back in touch once I have more time.
Thank you!

[2021-11-11 08:20] madzadev commented on #14709
@jeremyf Curious have there been any experiments related to feed behavior on specific percentage of users before?
It seems exactly like that, cause all the indexing issues in the feed happen just for the specific group of people. For the most of users the feed (both latest and main) still works fine, as expected.

[2021-11-11 12:44] #15264 closed

[2021-11-11 12:59] nickytonline opened #15348 "Creator Settings: Add a logo preview to the creator settings form"
## Description

Add a logo preview when a creator uploads a logo in the creator settings form.

![image](https://user-images.githubusercontent.com/833231/141308561-ea4dd11f-2db5-467b-ac04-1aabd3c995b1.png)

Use the [FileReader](https://developer.mozilla.org/en-US/docs/Web/API/FileReader) API to load the image a creator selects (not uploads) to render the logo preview

Estimate:	1 day

[2021-11-11 15:42] #14650 closed

[2021-11-11 16:17] nickytonline opened #15350 "Creator Settings: Add validation for logo"
## Description

The logo a creator uploads has to have a minimum size of 300px x 300px.

Use the [FileReader](https://developer.mozilla.org/en-US/docs/Web/API/FileReader) API to validate the image  dimensions.

![image](https://user-images.githubusercontent.com/833231/141331856-fb5dd326-b3e9-4e3a-b3cf-7b351fd8de3c.png)

@anujbhavsar96 and @Ridhwana, I asked this in the Figma, but where would you l

[2021-11-11 19:35] nickytonline commented on #15348
@anujbhavsar96 @Ridhwana, what are the expected dimensions for the loo? Looking at DEV and the CodeNewbie Community, one none of the logos are square and two they are definitely smaller that 300px x 300px.

[2021-11-11 19:37] nickytonline commented on #15350
@anujbhavsar96 @Ridhwana, what are the expected dimensions for the logo? Looking at DEV and the CodeNewbie Community, none of the logos are square and two they are definitely smaller than 300px x 300px.

[2021-11-11 19:48] juliannatetreault opened #15353 "Update the "Upload an image..." Button on the Creator Settings Page"
**📖  As a Forem Creator, I want my experience to be as UI pleasing as possible, so that I feel motivated to continue with the journey.**

_(Format:  As a [persona], I [want to], [so that])_

![](https://user-images.githubusercontent.com/108287/116532347-6d033700-a8e0-11eb-8dae-88bf6164f682.png)

**🐣TASKS**
https://github.com/forem/rfcs/blob/a8d843d9a37c4105850f575f6e51faac7377a474/text/0190-admin-

[2021-11-11 19:50] juliannatetreault opened #15354 "Update the Color Selector on the Creator Settings Page"
**📖  As a Forem Creator, I want my experience to be as UI pleasing as possible, so that I feel motivated to continue with the journey.**

_(Format:  As a [persona], I [want to], [so that])_

![](https://user-images.githubusercontent.com/108287/116532347-6d033700-a8e0-11eb-8dae-88bf6164f682.png)

**🐣TASKS**
- [ ] Update the color selector field's styling to reflect the design's styles for the color

[2021-11-11 19:57] juliannatetreault opened #15355 "Validate accessibility prior to submitting the creator settings form"
**📖  As a Forem Creator, I want my validation to occur whilst I'm filling in the form, and not to error out after my form gets submitted. **

_(Format:  As a [persona], I [want to], [so that])_

![](https://user-images.githubusercontent.com/108287/116532347-6d033700-a8e0-11eb-8dae-88bf6164f682.png)

**🐣TASKS**
https://github.com/forem/rfcs/blob/a8d843d9a37c4105850f575f6e51faac7377a474/text/0190-ad

[2021-11-11 22:22] benhalpern opened #15357 "Visual bug: Tag overflow on feed view"
**Describe the bug**

Tags are now overflowing when wider than the card.

<img width="335" alt="Screen Shot 2021-11-11 at 5 20 22 PM" src="https://user-images.githubusercontent.com/3102842/141377427-f46dd31e-d24d-42cf-af7a-d21de6dac68b.png">

**To Reproduce**

- Visit home page on DEV
- Narrow screen to mobile-esque width (I first noticed this on standard mobile)

**Expected behavior**

I believe

[2021-11-12 04:26] anujbhavsar96 commented on #15350
@nickytonline

**About error:**
I would prefer an error message closer to the logo/input because it looks more relevant. If we show it above the form it might look like a page-level error, which is not true.

**About dimension:**
I the case of SVG, dimensions won't matter. It can expand.

I think we have a logo height of 40px and based on that we adjust the width to the same aspect ratio. But I ag

[2021-11-12 08:54] Ridhwana commented on #15350
I find myself having follow up questions on the dimensions:

If we're accepting any ratio then should we still be showing an error when they upload a logo? Instead, should we maybe show a warning to let the user know that their logo is not an ideal size, but we will continue using it if they don't upload a new one.

Initially I was under the impression that the user will not be able to proceed if

[2021-11-12 09:01] Ridhwana commented on #15350
@anujbhavsar96 I'm also looking at [this RFC](https://github.com/forem/rfcs/blob/anuj/unify-display-of-forem-logos-and-image-upoload-process/text/0252-unify-display-of-forem-logos-and-image-upload-process.md) which ties into the image upload process and we specify here 300px by 300px.

It's okay if we decided that 300px is not actually the ideal dimensions but just wanted to bring mention and we c

[2021-11-12 09:12] Ridhwana commented on #15348
@nickytonline is this related to the question in [Creator Settings: Add validation for logo size](https://github.com/forem/forem/issues/15350) or are you referring to the dimensions of the actual preview on the page?

[2021-11-12 09:17] anujbhavsar96 commented on #15350
What I meant was that the dimensions I mentioned are not 1:1 ratio but if they are uploading in 1:1 ratio then it's fine.

I have a better idea here. Why don't we just change the copy here?

**Recommended size: 300x300px**

Having a square logo won't break the UI in mobile _(It does in wider logos rn)_
So here we are not specifying a particular dimension only. But we are just guiding them

-----

[2021-11-12 09:23] anujbhavsar96 commented on #15348
CC'ing @ludwiczakpawel here as well,

I'm not sure if he had planned to keep it dynamic or static in one bounding box

[2021-11-12 09:24] daroga0002 opened #15359 "404 on tag page"
**Describe the bug**

Getting 404 when reviewing tag assigned articles and there was is no article with such tag for last period which I want to sort.

**To Reproduce**

1. Open a some tag which doesnt have frequently created articles. For example https://dev.to/t/oci
2. Click a period of `week` which will redirect you to 404 page

**Expected behavior**
I should be still on tag page and there shou

[2021-11-12 09:40] Ridhwana commented on #15350
@anujbhavsar96  Apologies, just another follow up question - is the long term plan to restrict the sizes of the logos that can be uploaded or is the long term plan to always allow for any dimensions to be uploaded but strongly encourage them to follow a dimension guide that we provide?

[2021-11-12 09:48] anujbhavsar96 commented on #15350
This is something I and Lisa came up with. Like, use the square logo only. But now it feels like that won't be the sensible solution from the kind of different creators coming on Forem.

Now, this looks like a viable long-term solution. We will strongly encourage them to follow our guide for the best results. This way we are not restricting anything

[2021-11-12 09:57] Ridhwana commented on #15350
@anujbhavsar96 thank you for answering my questions so patiently.

I like this, I think it's a very practical solution.

Now that I have all the background information this leads to my final question.

Do you think we need a validation check for the logo if we're allowing them to upload any sizes or will just a message under the input specifying the recommended size suffice?

And if we decide to d

[2021-11-12 11:17] anujbhavsar96 commented on #15350
Since we are allowing any ratios/dimensions, I don't think it requires a validation check on that. We will just make the copy change here,

**Ideally SVG, but PNG will work too. Recommended size: 300x80px.**

I changed the suggested dimension here because 300x300px gives the impression of square aspect ratio only.
And 300x80px is similar to our Forem logo.

[2021-11-12 11:35] #15357 closed

[2021-11-12 12:41] Ridhwana commented on #15350
Thank you @anujbhavsar96. ✨ @nickytonline, in that case, we can just make the copy change for this task, no need to add validation.

[2021-11-12 12:48] Ridhwana commented on #15348
I think displaying it at the same dimension that we would display it on the navbar would be an option or maybe previewing it at the recommended size?

@ludwiczakpawel will be jumping on this thread in a bit and can verify 😊

[2021-11-12 13:07] ludwiczakpawel commented on #15348
So for the preview: max size would be whatever space is left to keep logo preview and button "Change logo" in one line (which I guess could be achieved with `flex-1` class). But we should add some sensible max-height (80px?) too for that image.

Does that make sense to all of you?

[2021-11-12 14:41] benhalpern commented on #15359
Ah, you're right. We recently switched "empty" tags to 404, as the technical existence of a tag that is not supported and/or has no posts shouldn't be an empty page, but the sub-filters of a tag that otherwise has posts should return the page with a proper empty list graphic.

[2021-11-12 16:34] nickytonline commented on #15350
We should probably still validate it because in the case of at least a PNG. If someone uploads a huge logo, we don't want that to be in the header of the site for performance reasons and it will look terrible.

One other thing to note is if they upload a PNG, they'll need to convert it to an SVG as it currently shows up as just text.

![image](https://user-images.githubusercontent.com/833231/14149

[2021-11-12 20:47] cmgorton commented on #13354
No problem @Himanshu1495 . Thanks for letting us know!

[2021-11-12 21:25] juliannatetreault commented on #15353
👋  @nickytonline are you currently tackling this issue? From your quick video on Slack it looked like you might be!

[2021-11-12 21:37] djuber commented on #15155
I think we can close this (there doesn't seem to be a way to remediate the issue, fetched articles which are subsequently deleted will show Not Found when they are accessed).

[2021-11-12 21:37] #15155 closed

[2021-11-12 23:01] nickytonline commented on #15353
Yeah I needed to style it to get the preview working size wise:

[2021-11-14 13:06] arxeiss opened #15364 "Tags disappear after publishing article by API"
I use Dev.To API to publish articles at a given time. So I can prepare it and automatically publish it in the future. But when I make an API request to publish, tags disappear.

**To Reproduce**

1. Go to Dev.To, create article with some tags and click **Save draft**
2. Get the articles IDs with GET request to `https://dev.to/api/articles/me/unpublished`. You will see something like this in respon

[2021-11-14 13:46] fennecdjay commented on #9685
sorry for the delay

looks still broken for me using dissenter
https://dev.to/fennecdjay/tests-for-a-forem-issue-18lg-temp-slug-4624821?preview=95993eb5c36cf776762308fb045d65017092c7bee4e55ad2e2bef8d296846f3a4fdaa1f283da1fc1c89187adb66a313598b2ff947a9d1d62eabe1fa4
![actif](https://user-images.githubusercontent.com/4943921/141683813-fbce6f5a-5ee7-447c-830d-18a14da76352.png)

[2021-11-15 10:50] Ridhwana commented on #15350
I assumed that in the case where it wasn't the recommended size (and the logo was bigger than the container) then we were scaling the image appropriately. I realize this was a big assumption to make, but is this not the case?

That doesn't seem like ideal behaviour. On the admin we allow upload for both, which should ideally just be one upload process.

<img width="916" alt="Screenshot 2021-11-15

[2021-11-15 11:00] Ridhwana commented on #15350
Actually `logo_png` doesn't work as I expected it to on the admin currently.

It seems like the logo in the top bar is determined [based on the ffg code](https://github.com/forem/forem/blob/main/app/views/layouts/_logo.html.erb):

[code]

This doesn't make sense to me because the description of `logo_png` states that it's the fallback logo to the SVG, but the code says if `logo_svg` does not exist

[2021-11-15 11:24] anujbhavsar96 commented on #15350
@Ridhwana , This is confusing and I also read the [admin doc about](https://admin.forem.com/docs/advanced-customization/config/images#logo-png) `logo_png` .

Seems like `logo_png` is not similar to the main community `logo_svg`.  `logo_png` requires square dimension according to admin doc. So going forward we can remove this field and if any place is using `logo_png`, we can replace it with favico

[2021-11-15 11:54] Ridhwana commented on #15350
Thanks @anujbhavsar96 it seems like that was intentional then based on the admin docs. We probably need to name these things more appropriately and give better descriptions in the admin 😞 . I'm sure you'll cover that in your RFC.

@nickytonline I re-read your comment and perhaps I misinterpreted it. To clarify, can you outline what's your plan when a user uploads a `png` in the creator settings fo

[2021-11-15 13:18] nickytonline commented on #15350
My plan is if they upload a png, I will embed it in an SVG. That is how we've done it in the past as far as I know, but it was a manual process in the admin UI.

I'm 99.99% certain I can do this on the client-side when they select a logo for upload.

Another option is we allow for loading a PNG in the header as the logo which would be a server-side check. This would also require having a section i

[2021-11-15 13:42] juliannatetreault commented on #15353
Great! I've assigned the issue to you and moved it to the "In progress" column on the project board, @nickytonline. 😊

[2021-11-15 16:12] #15234 closed

[2021-11-16 08:12] Ridhwana commented on #15350
@nickytonline let's implement the version with the least amount of work but also with a good user experience.

This seems like the least effort for now if we can get it done automatically. We shouldn't have a manual process for this.

This seems like the end goal and could for part of @anujbhavsar96's [RFC proposal ](https://github.com/forem/rfcs/pull/252/).

This is so valuable✨, but let's add a

[2021-11-16 14:13] cmgorton commented on #15359
This appears to be fixed now. Can you confirm if you are still seeing this bug @daroga0002 ?

[2021-11-16 14:33] nickytonline commented on #15350
As discussed @Ridhwana, the scope of this has changed now in terms of criteria. The validation will now be allow only SVG, PNG, and JPG files. I also added the max 25MB size like we have in the editor for image uploads.

Also as discussed about image sizing, this will be handled in a separate issue as a backend task.

[2021-11-16 14:43] cmgorton commented on #15359
Ok! I see it. Thanks @daroga0002

[2021-11-16 15:53] #9921 closed

[2021-11-16 15:54] #11098 closed

[2021-11-16 15:56] #7397 closed

[2021-11-16 15:58] #12400 closed

[2021-11-16 16:13] #13299 closed

[2021-11-16 16:20] #13795 closed

[2021-11-16 16:29] #6807 closed

[2021-11-16 21:13] pkfrank opened #15396 "Expand spam trigger terms to look at entire post"
**Is your feature request related to a problem? Please describe.**
As an admin battling spammers, I'd like to ensure that our spam triggers terms are as useful as possible.

**Describe the solution you'd like**
Ensure that our anti-spam keywords set in `Config > Rate limits and anti-spam > Spam trigger terms` looks at the entire post, including links.

**Additional context**
Will need to decide wh

[2021-11-17 14:00] cmgorton opened #15402 "Ability for authors to turn on/off comments?"
### Discussed in https://github.com/forem/forem/discussions/15317

<div type='discussions-op-text'>

<sup>Originally posted by **jessleenyc** August 21, 2018</sup>

## Feature Request or Task
### User Story / Description
When a post is controversial or getting heated, authors might want to turn off comments. Some open ended questions:
- When comments are off, do existing comments still show? Is it

[2021-11-17 14:01] cmgorton commented on #15402
This was implemented.

[2021-11-17 14:01] #15402 closed

[2021-11-17 20:20] #15108 closed

[2021-11-17 20:59] juliannatetreault opened #15409 "Sort Display Ads"
📖  **As a Forem admin, I want to be able to be to see the display ads that are both published _and_ approved first so that I have a sense of which display ads are actively being displayed with ease.**

(Format: As a [persona], I [want to], [so that])

**🐣TASKS**

- [ ] Add sorting to display ads so that display ads that are currently set to both `published: true` and `approved: true` are shown fir

[2021-11-17 21:04] juliannatetreault opened #15410 "Add a Required Description Field to Display Ads"
📖  **As a Forem admin, I want to be able to be to add a description to display ads so that I am able to better understand which display ad I am currently looking at without having to click directly into the display ad.**

(Format: As a [persona], I [want to], [so that])

**🐣TASKS**

- [ ] Add a required `description` field to display ads
- [ ] Display the required `description` field for each disp

[2021-11-17 21:08] juliannatetreault opened #15411 "Add an Expiration Date to Display Ads"
📖  **As a Forem admin, I want to have an automatic expiration date set for my display ads so that I am able to publish display ads without having to worry that I will forget to unpublish outdated display ads.**

(Format: As a [persona], I [want to], [so that])

**🐣TASKS**

- [ ] Add an automatic "expiration date" to display ads (see HTML Variants for inspiration)

[2021-11-17 22:09] #15396 closed

[2021-11-18 07:54] aitchiss commented on #15297
Fixed in https://github.com/forem/forem/pull/15408

[2021-11-18 07:54] #15297 closed

[2021-11-18 08:33] amywtlin opened #15414 "Autocomplete tags when writing a post"
📖 As an author, when writing a post, I want to know I have successfully adding a tag when typing it.

[2021-11-18 08:59] amywtlin commented on #15414
Duplicate of this: https://github.com/forem/rfcs/issues/303 Closing this one.

[2021-11-18 09:42] ellativity opened #15415 "Update description under Email digest frequency in Config to clarify email digest interval"
`/admin/customization/config` > **Email digest frequency** is the setting for the frequency of email digests, but it doesn't qualify the interval only the quantity of the interval (see screenshot).

@Ridhwana has confirmed that these are "days" so we need to include this in the description with the following verbiage:

"Determines how often email digests are sent (in days)"
![Screenshot 2021-11-16

[2021-11-18 13:23] nickytonline commented on #15353
After some feedback from @ludwiczakpawel, we're going to put this on hold while design revisits this. For context, see https://github.com/forem/forem/pull/15363#discussion_r752078216

[2021-11-18 13:45] #15006 closed

[2021-11-18 13:47] #15415 closed

[2021-11-18 16:59] msarit commented on #15099
My current approach with this Epic is to implement `{% embed url %}` for all Liquid Tags, BUT leave the original `{% liq-tag-name input %}` syntax in place.

For example, for the YoutubeTag, I am implementing `{% embed https://www.youtube.com/embed/fhH5xX_yW6U %}` but leaving the original `{% youtbe fhH5xX_yW6U %}` in place.

In the near future, pod-CE will decide how to deprecate the original Liq

[2021-11-18 17:21] aitchiss opened #15421 "Create accessible multi-select autocomplete in Storybook"
The current "multiple selection" autocomplete for tags in the V2 editor has very poor accessibility - it creates a focus trap meaning you can never reach the editor body by keyboard, and lacks any of the expected semantics for a combobox control.

This issue lays the foundation for the UI improvements to the tag autosuggest by creating an accessible multi-select autocomplete component that we can

[2021-11-18 17:21] aitchiss opened #15422 "Create the autocomplete suggested items UI for Tags in Storybook"
(This PR builds upon the groundwork laid in https://github.com/forem/forem/issues/15421)

Create the "Tag suggestion" component in Storybook (NB: awaiting confirmation on which variants from [the Figma file](https://www.figma.com/file/RzV8pYcgujohbdTjYOKqld/Tags-autocomplete?node-id=0%3A1) we will want to use in the V2 editor tag autocomplete context).

[2021-11-18 17:21] aitchiss opened #15423 "Add the new tag autocomplete into the V2 editor"
Add the new tag autocomplete to the V2 editor, including "top tags" functionality.

[2021-11-18 17:23] #15348 closed

[2021-11-18 17:23] #15350 closed

[2021-11-18 17:56] benjaminrancourt opened #15424 "Error 503 when trying to change my username"
**Describe the bug**

Hi,
I'm currently trying to change my DEV.to username from `ranb2002` to `benjaminrancourt`, but it doesn't work because I receive a 503 error. I'm not sure if it is generalized or if it's related only to my account. :/

**To Reproduce**
1. Go to https://dev.to/settings
2. In the *User* section, change the username from `ranb2002` to `benjaminrancourt`
3. Scroll down at the e

[2021-11-18 19:19] ludwiczakpawel commented on #15099
I'm suuuuper excited and pumped about this project! So glad to see you working on this and can't wait for this to be shipped! 🤩 🤩 🤩

Couple questions/notes:

1. Leaving the original liquid tag format for now is definitely a good approach. Will be easier for users to transition to new format while we can still have some time to deprecate the old one.
2. Looking at your list above, what does it mean

[2021-11-18 20:23] omenking opened #15428 "When starting Gitpod - foreman fails to start, so web-application is not served."
**Describe the bug**

**To Reproduce**

Press Gitpod button, see it waiting on port 3000, switch to first tab.

<img width="799" alt="Screen Shot 2021-11-18 at 3 22 02 PM" src="https://user-images.githubusercontent.com/7776/142491032-f2ac8ffd-4546-461a-8a53-31392bb28a9f.png">

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser

[2021-11-18 20:31] djuber commented on #15428
@omenking I see the same thing - it looks like re-running bin/startup on that shell tab brings the app up correctly.

Error observed when opening gitpod (did not happen the time I ran bin/startup manually):

[code]

My assumption from this error is the postgresql service was running, but not yet accepting connections, when we tried to connect/start the app.

[2021-11-18 22:11] djuber commented on #15428
This appears to be reproducible by stopping, then reopening/restarting a workspace, rather than creating a new branch, where the setup actions take some time to complete - though it's likely waiting for the prebuilt image and then opening the workspace is equivalent (and probably how you got to this point).

[2021-11-19 06:48] aitchiss commented on #15228
Closed in https://github.com/forem/forem/pull/15235

[2021-11-19 06:48] #15228 closed

[2021-11-19 06:59] #15294 closed

[2021-11-19 14:42] cmgorton commented on #15424
Hey @benjaminrancourt could you do me a favor and try to change your name one more time and let me know if you are still receiving the same error?
I just tested this on my profile and successfully changed my username twice.
If you are still getting the same error I will see if someone else on the team can try to recreate the issue. Thanks

[2021-11-19 15:00] benjaminrancourt commented on #15424
@cmgorton I've just tried it twice today and I still got the same error.

[2021-11-19 15:20] cmgorton commented on #15424
Thank you @benjaminrancourt . I'll post this issue internally and see if anyone else on the team can duplicate the bug.

[2021-11-19 15:30] jeremyf commented on #15099
That's a good question.  In the liquid parsing the implementation of the `embed` tag follows the current other tag implementations.  So, while it might be possible to get to `{ embed }` I suspect that we're going to have to store `{% embed %}` (but that's based on now decade old memories of last working with Liquid).

[2021-11-19 15:31] msarit commented on #15099
Hey @ludwiczakpawel thanks for your comments and questions

Hmmm I missed this in the specifications file. Hmmm I would need to discuss with @jeremyf about the `{ url }` approach. My current approach is to unify all tags to be of the form `{% embed url %}`. Perhaps after this incremental change, we could explore not needing the `embed` keyword.

This project is a huge one, and will require a gradu

[2021-11-19 15:34] ludwiczakpawel commented on #15099
All good, just wanted to rise my concerns/questions before it's too late :)

![](https://media.giphy.com/media/l3q2Wl7Wpz09Z5hfi/giphy.gif)

[2021-11-19 15:37] jeremyf commented on #15099
I'm glad your helping us keep this salient.  And I think I'm going to spend some time articulating the larger roll out plan.  I know we have a google doc, but we're heading into a checklist kind of effort.

What Arit's doing is to shore up the interface, so we can reduce immediate overhead.  Then in quick order, look into using OpenGraph (or Twitter Cards or what have you) to see about doing a mor

[2021-11-19 15:41] ludwiczakpawel commented on #15099
@jeremyf great. I just wasn't aware of that (sorry, I might have missed a doc or something). So thank you for quick explanation!

[2021-11-19 15:44] juliannatetreault opened #15438 "Fix Positioning of the "Admin Help Button" on the Display Ad Edit Page"
**📖  As a Forem Creator, I want my experience to be as UI pleasing as possible, so that I feel motivated to continue with the journey.**

_(Format:  As a [persona], I [want to], [so that])_

![Screen Shot 2021-11-19 at 8 39 42 AM](https://user-images.githubusercontent.com/32834804/142650081-2a3aa5e1-e669-43f9-a3c9-9236929b2a82.png)

**🐣TASKS**
- [ ] Adjust the positioning of the admin "help" butto

[2021-11-19 16:01] cmgorton commented on #15424
Ben H. and Dan U. investigated this error more and gave this additional feedback for anyone who takes up this issue:

Ben wasn't able to replicate the error itself but 503 most likely indicates a timeout. When he went to replicate in prod, it is, in fact, very slow. He guessed it is related to some sequence of callbacks which execute synchronously which should be moved to async.

Dan mentioned:
we

[2021-11-19 16:41] djuber commented on #15424
Hi @benjaminrancourt

I checked the logs a little further and found out what it's doing that takes so long to complete. Because the username is part of the path to every article, there's a callback that updates all articles (loads them from the database, then saves them with the new username and path, one at a time) that happens when you change the username, that's taking longer than the 30s reque

[2021-11-19 17:01] Zhao-Andy commented on #15424
Hi @benjaminrancourt, I've updated your username manually for now. 🙂

Agreed with Dan's proposal here with putting a lot of the work into a background job.

[2021-11-19 17:35] #15428 closed

[2021-11-22 03:03] jeremyf commented on #15359
The following PR introduced partial fixes https://github.com/forem/forem/pull/14864.

My understanding is that the logic should be as follows:

 - If the tag is supported, never render 404.
 - Else if the tag is not supported and we're on page 1:
   - If the tag requires approval
     - If there is at least one published and approved article (even if it's not in the timeframe), don't render a 404.

[2021-11-22 07:22] #14062 closed

[2021-11-22 13:27] aitchiss commented on #15286
Just thinking this will become crucial to address as we move toward respecting a user's OS settings for light vs dark theme by default

[2021-11-22 13:32] #14735 closed

[2021-11-22 14:20] jeremyf commented on #15424
I'm interested in giving a crack at this, as I would like to learn a bit more about the callbacks of the user model.

[2021-11-22 14:33] nickytonline commented on #15286
Good point @aitchiss. cc: @ludwiczakpawel.

[2021-11-22 14:41] #15071 closed

[2021-11-22 16:04] jeremyf commented on #15424
The following method handles the update.  Note, this is called before validation.

https://github.com/forem/forem/blob/5a5a0a723a9bec19c2e99a449ce5e1b4636c1f6e/app/models/user.rb#L593-L602

- [ ] The before validation can set the field values but should not save the articles (Consider what happens if the save is invalid but we did the article path change?)
- [ ] Create a service worker that perfor

[2021-11-22 16:53] abbeyperini opened #15446 "Can't edit my blog after trying to add it to a series"
**Describe the bug**

I tried to add https://dev.to/abbeyperini/accessibility-auditing-my-portfolio-site-part-4-omb to a series. Now I can't save any edits even after reverting new changes.

I also can't find a way to remove blogs from series or delete a series while this is messed up? Very irritating.

**To Reproduce**

1. Go to edit blog
2. Click on save changes
3. See "Whoops, something went wr

[2021-11-22 17:56] ellativity opened #15447 "Update New Forem Member invitation email text and html"
Requesting the following changes to the new member invitation email that is sent when an Admin uses `/admin/invitations/new` to invite members.

[Text lives here](https://github.com/forem/forem/blob/main/app/views/devise/mailer/invitation_instructions.text.erb)
[HTML lives here](https://github.com/forem/forem/blob/main/app/views/devise/mailer/invitation_instructions.html.erb)

-We'd like to update

[2021-11-22 17:59] juliannatetreault commented on #15354
Hey, @ludwiczakpawel 👋  Do you happen to have the paint bucket SVG displayed on this form (the one next to the color selector)? We need it to complete this task. 😊

[2021-11-22 18:34] ellativity opened #15454 "Attempting to purchase credits returns 500 error"
**Describe the bug**

[Attempting to purchase credits](https://dev.to/credits) returns a 500 error as seen in [this video of a failed attempt to purchase credits](https://user-images.githubusercontent.com/76786132/142915980-a23698cb-73ce-4be0-adb2-3f8caf8f3443.mov)

**To Reproduce**
1. Navigate to https://dev.to/credits
2. Type in a number of credits to purchase
3. Click to either Add a payment ca

[2021-11-22 19:04] cmgorton commented on #15446
Hey Abby. I am sorry you are having this experience. I would like to help you debug this issue. Can you tell me how you are turning your post into a series?
![Screen Shot 2021-11-22 at 1 01 13 PM](https://user-images.githubusercontent.com/21039864/142919952-670fdec8-6340-4cf9-b91a-33e86207135c.png)
Are you using the built in series we have  or are you trying to do it manually?

In the past when I

[2021-11-22 19:17] ludwiczakpawel commented on #15354
Is this going to do anything specific? Or is it just a decoration? If it's just a decoration, please ignore and feel free to close this task :)

Originally it was intended to "launch a thing" with some predefined color options. And that has not really been designed ever. But also, from time perspective, this "idea" was probably a bit sill or at least not justified enough.

[2021-11-22 19:23] juliannatetreault commented on #15354
As far as I know, and from what I can tell when looking at the RFC (there is no defined interaction for the color selector SVG), it appears to just be a decoration. 😊

_Ohhh_, this is excellent information! I had no idea that there were talks of having the SVG be interactive at one point. 😄

Thank you so much for the response, @ludwiczakpawel! 🙌  I'm going to leave this issue open, as we need to m

[2021-11-22 19:34] Zhao-Andy commented on #15454
A few things to note:
1. the "Add New Card" button right now should pop up a Stripe modal that allows you to add a credit card. It doesn't do that now. Instead, it is treated as a submit button that hits the `POST /credits` route to add some credits. We'll most likely need to change that button to a `type="button"` and add an event listener to show the credit card modal from Stripe appropriately (

[2021-11-22 20:55] abbeyperini commented on #15446
I didn't add anything to the post. I used the form in your screenshot. It worked for the other 4 parts of the series, and when I selected the existing series on this one, clicked done, and clicked save, I started getting "Whoops something is wrong:". I've tried the "Revert new changes" button several times, but it always comes back. I tried to add it to a different series, tried adding something t

[2021-11-22 23:36] softchris opened #15460 "dev.to site won't let me update - "revert new changes""
**Describe the bug**
Just published an article to dev.to, changing something in it, press save and I get this red message at the top "Whops something went wrong"

**To Reproduce**

- Produce a new article
- Change anything + Save
- See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please co

[2021-11-23 07:46] #14646 closed

[2021-11-23 08:01] MohammadTaseenKhan opened #15463 "Posting problem"
**Bug Report**

 I can't post anything
Showing like this 👇👇
![Screenshot_20211123-135726](https://user-images.githubusercontent.com/85288261/142988306-bbeb3615-fcd4-460e-9ff4-a75248979b27.jpg)

[2021-11-23 08:14] lightalloy commented on #13730
The feature was implemented in #15178

[2021-11-23 08:14] #13730 closed

[2021-11-23 08:42] ludwiczakpawel commented on #15286
I'll give it a look!

[2021-11-23 13:29] noviicee commented on #14903
Hi. Apologies for the late reply.
So I was writing a blog post on Dev.to. The article consisted of various paragraphs. After finishing the article I published it. Sooner as I read it, I realized that a small paragraph is missing from the article. Hence, I edited the article, but after finishing the edit, and publishing it again, there were no changes made.
It was only published after I repeated th

[2021-11-23 14:52] cmgorton commented on #15446
Hey @abbeyperini this has been brought up a few times over the last 2 days so I think it is a site wide bug others are experiencing as well. I am going to ping our engineers to get some help on this bug. In the meantime I will see if I can get information for you on how to remove blogs from a series/delete a series.

[2021-11-23 14:59] abbeyperini commented on #15446
I appreciate it!

[2021-11-23 15:20] cmgorton commented on #15460
I believe #15446 and #15463 are related issues.

[2021-11-23 15:21] #15354 closed

[2021-11-23 15:22] cmgorton commented on #15463
Thanks for this bug report. I have seen this issue pop up a few times over the last 2 days. I haven't been able to replicate it but I have pinged our engineers since this seems to be happening to more than one person.

[2021-11-23 16:11] Zhao-Andy commented on #15446
Hey @abbeyperini! Sorry about that bug. There was an incorrect reaction on it and I've manually removed it. You shouldn't have any problems with updating the article or adding a series moving forward. Feel free to reopen this issue if you do have problems though.

[2021-11-23 16:11] #15446 closed

[2021-11-23 16:37] abbeyperini commented on #15446
Thank you! It is fixed. Is there a way to remove blogs from a series/delete a series? If not, I'm happy to put in a feature request.

[2021-11-23 16:48] Zhao-Andy commented on #15460
Hey @softchris, I believe this is fixed. Sorry about that bug! Feel free to re-open if you're still unable to update your post.

[2021-11-23 16:48] #15460 closed

[2021-11-23 16:49] Zhao-Andy commented on #15463
Hey @MohammadTaseenKhan, I believe this is fixed. Sorry about that bug! Feel free to re-open if you're still having issues.

[2021-11-23 16:49] #15463 closed

[2021-11-23 17:22] cmgorton commented on #15446
Hey @abbeyperini I was investigating that for you. As far as I can find right now the only way to delete a series or remove an article from a series is to go to the widget and remove the series name from the article/ each article in the series. There is no way to remove the series from the dropdown in the widget after it is created.
![Screen Shot 2021-11-23 at 9 10 13 AM](https://user-images.githu

[2021-11-23 17:34] abbeyperini commented on #15446
Ahhh I was trying to use the select. Didn't think about clearing the series name and clicking done! Thanks!

Would be great to have clearer instructions about this and a way to delete series, but I feel much better knowing there is a way to remove the widget now.

[2021-11-23 17:45] lsparlin commented on #15296
I'd be happy to work on this

[2021-11-23 17:46] MohammadTaseenKhan commented on #15463
Thanks 😊

On Tue, 23 Nov 2021, 10:49 pm Andy Zhao, ***@***.***> wrote:

[2021-11-23 17:58] MohammadTaseenKhan opened #15477 "Again posting problem"
It is a matter of great sorrow that I am still seeing the same problem during posting.
You can see the time in my screenshot down given below 👇👇

![Screenshot_20211123-235501](https://user-images.githubusercontent.com/85288261/143078770-498bcff2-2828-4970-b6e3-27910e7a716b.jpg)

[2021-11-23 18:13] cmgorton commented on #15477
Previous mention of this issue @jeremyf https://github.com/forem/forem/issues/15463

[2021-11-23 18:20] cmgorton commented on #15477
Hey @MohammadTaseenKhan after looking in to this a little more with our team this looks an issue specific to your account.

Please email yo@dev.to for more information and help.🙏

[2021-11-23 18:20] #15477 closed

[2021-11-23 18:26] jeremyf commented on #15290
This appears to be a Safari specific bug.

[2021-11-23 22:47] juliannatetreault opened #15483 "Refactor creatorSettings.spec.js COC and TOS-Related Tests"
Currently, the creatorSettings.spec.js tests that check that the COC and TOS checkboxes are checked prior to submitting the form works, but the way that the tests are set up could be refactored. Specifically, instead of using `cy.findAllByRole('checkbox').first().check();` and `cy.findAllByRole('checkbox').eq(1).check();` to find and check the COC and TOS checkboxes, we should try finding the spec

[2021-11-24 13:58] carrotfarmer opened #15485 "Weird Flickering in Feed"
**Describe the bug**
- When I open DEV.to in my browser (Safari), my feed won't load and when I scroll down the whole feed section starts flickering a lot.

**To Reproduce**
I am not sure if this is an issue with everyone but here's what I did:
- Open `dev.to` in Safari
- Scroll down
- Feed starts flickering

**Expected behavior**
Feed to load **or** the flickering of the feed section doesn't appe

[2021-11-24 14:20] cmgorton commented on #15485
@jeremyf do you think this is related to #15290? Or did that end up not being a Safari specific bug?

[2021-11-24 14:22] #946 closed

[2021-11-24 14:38] #15290 closed

[2021-11-24 15:02] jeremyf commented on #15485
@cmgorton alas, that referenced bug was not a Safari bug.  I'm testing now (though I don't have Monterey installed)

[2021-11-24 15:06] jeremyf commented on #15485
I switched to Dark Mode (but not Monterey) and things work.  However, in rewatching the video I saw "There was a problem fetching your feed."  And I believe the flickering is because the JS is continually trying to refetch the feed.

So I think we need to figure out why the feed is failing.

[2021-11-24 15:28] zoeyyandi commented on #14836
hey everyone, I'm new to Forem 👋  would love to contribute, is this issue up for grabs again?

[2021-11-24 15:45] cmgorton commented on #14836
Hey @zoeyyandi welcome! Yes this is up for grabs. If you would like to work on it I can assign you to the issue. If you have any questions about it please let us know. The team may be a little slower to respond over the next few days as many of us are off on vacation for US Thanksgiving.

[2021-11-24 15:53] jeremyf commented on #15236
@SrikanthYashaswi thank you for reporting this.  As someone new-ish to the Forem Core team, I did some digging.

This is a long reported bug in the v0 API, and to fix would be a breaking change.  For more context please see https://github.com/thepracticaldev/dev.to/issues/4206.

I'm going to close this issue as it's known and something we'll account for as we look towards a v1 release.  Though fro

[2021-11-24 15:53] #15236 closed

[2021-11-24 15:53] zoeyyandi commented on #14836
Thanks @cmgorton! Yes please assign it to me, I'll take a stab at it and let you know how it goes!

[2021-11-24 16:28] kaylumah opened #15488 "RSS Feed is not Imported"
I created a new post on my webpage and tried importing it to dev.to; my feed is valid according to <a href="https://validator.w3.org/feed/check.cgi?url=http%3A//kaylumah.nl/feed.xml"><img src="valid-atom.png" alt="[Valid Atom 1.0]" title="Validate my Atom 1.0 feed" /></a>

**To Reproduce**

Use https://dev.to/settings/extensions to import feed

**Expected behavior**

New feed item is imported

**S

[2021-11-24 18:22] #14796 closed

[2021-11-24 18:30] jeremyf commented on #15488
Hi @kaylumah, I'm someone who also uses the RSS importer.  So I'm checking real quick on some triage items.

[2021-11-24 18:35] jeremyf commented on #15488
For reading notes:

[code]

[code]

Both of our sites have `content-type: application/xml` (though mine has `charset=utf-8` which I don't think is in play).

[2021-11-24 18:44] lumenwrites opened #15496 "People are using dev.to to do black hat SEO"
This isn't exactly a bug, but I wasn't sure where else to put it to let you guys know, so I figured it makes sense to post it here.

If you use a SEO link research tool, such as [Moz Link Explorer](https://moz.com/link-explorer), you can see the top pages (ones with the most links and the highest Page Authority) on a website.

Five out of the top ten pages on dev.to are SEO spam:
- https://dev.to/

[2021-11-24 18:44] jeremyf commented on #15488
With the following code (on my local instance), I checked that we still had a valid URL:

https://github.com/forem/forem/blob/9df5f6af497479146284818efa44d9027605235a/app/services/feeds/validate_url.rb#L1-L26

[code]

So we have a valid URL according to our parser.

[2021-11-24 18:46] djuber commented on #15488
@kaylumah - I can reproduce this locally when pointing my dev environment at [your feed](https://kaylumah.nl/feed.xml). This looks like a problem either with the format of the feed.xml file's "alternate" link, or the code we're building articles with from it making assumptions about that content (which could be avoided). I would

---

I'm testing this locally and see there are URI errors being rai

[2021-11-24 18:52] kaylumah commented on #15488
I can look into removing it on my end, but since it was not a problem for the previous 5 posts I am not sure it would help.

Also when I wrap the contents node in CData element the feed can import even with that empty link present. So perhaps something faulty in the failing/most recent article is causing this

[2021-11-24 18:55] djuber commented on #15488
On our end it is tied to building links to included images, when the image url start with `/`, something like

`<img src=/path/to/image.png>`

If only _some_ of the articles (or the most recent one, especially) had this form of image link, that would explain the failure starting suddently.

I have a work-around (linked commit) that could fix this generally without your needing to do anything.

[2021-11-24 19:13] jeremyf commented on #15496
Thank you for reporting this.  I'm carrying it forward to the team to consider our approach.

[2021-11-24 19:19] jeremyf commented on #15485
@carrotfarmer Do you have other browsers installed on your machine?  I'm wondering if Firefox or Chrome have the same issues.

Second, I'm wondering what your comfort level is around the Web Inspector tool?  When I was working on a yet to be released Feed update, I broke the Feed, and the behavior looked similar to what you're experiencing.  When I opened Web Inspect and went to the Network tab, I

[2021-11-25 06:56] carrotfarmer commented on #15485
@jeremyf This issue doesn't occur in Brave Browser (based on Chromium), I don't have Firefox installed but I can test it out if you need me to.  Even I saw the failed XHR requests in the network tab and I **guess** it's because the JSON data wasn't reachable at that point? Because I also got 503 errors when I opened my dashboard.

[2021-11-25 07:28] kaylumah commented on #15488
Did you already release this? Because i fixed the broken alternate link on my end, and now it showed up as expected

[2021-11-25 10:22] Infinity-Intellect opened #15500 "`ltag-github-readme-tag` hiding `article-show-more-dropdown`"
**Describe the bug**
When you've scrolled to any pretty embed of a post, and click the `Show More` icon below the save button, the pretty-embedded element seems to overlap the drop-down menu.

**To Reproduce**
1. Go to [this post](https://dev.to/infinityintellect/more-willpower-to-developers-5f6o) on dev.to.
2. Scroll down to the pretty embed in the `Yaml or Link to Code` section
3. Click the `Sho

[2021-11-25 11:29] ludwiczakpawel commented on #15244
To be clear: that code example and the output behaves correctly. This is simply how CSS work - each SVG is a piece of code on your site, each of them having `cls-1` defined. But since it's an inline SVG this `<style>` element behaves like any other `<style>` element you would have in your code - inside or outside `<svg>`. But again: this is absolutely expected behavior – **not** a bug.

I'm not ex

[2021-11-25 11:41] ludwiczakpawel commented on #15244
Worth pointing out: we use this library https://github.com/svg/svgo in our codebase - AFAIR (and I could be totally wrong here) it handles optimizing our assets while deploying the site. By assets, I mean files we actually include in repo - so not the ones admins/users upload.

This library is, I think, powering the tools I mentioned earlier SVGOMG and ImageOptim - so I'm wondering if we could mak

[2021-11-25 22:00] jeremyf commented on #15500
This looks related to #15290.

[2021-11-25 22:35] jeremyf commented on #15485
@carrotfarmer please re-check Safari, and let me know if it's still a problem.  If it is, we'll need to check if it's Monterey OS X or if there's a competing extension or some odd brokenness.

[2021-11-26 03:06] carrotfarmer commented on #15485
@jeremyf Sure

[2021-11-26 03:07] carrotfarmer commented on #15485
It's working perfectly right now

[2021-11-26 11:50] Infinity-Intellect commented on #15500
Hi @jeremyf , would the below proposed solution be an acceptable fix or do you anticipate anything else to break on implementing the below ?

I played around in the browser's developer console and discovered that removing the `z-index` property works.
![Screenshot (1)](https://user-images.githubusercontent.com/49329642/143576662-0cf98cfc-f64e-4be3-ac99-7fcf556a1fec.png)

[2021-11-26 21:40] web3dev-admin commented on #6252
Did you manage to solve that?

[2021-11-27 01:47] brian-kephart opened #15504 "Block feature is not working on iOS"
**Describe the bug**

Based on the behavior in the browser version, I suspect a JS confirm dialog is not working in the native version. Nothing happens when the block link is tapped.

The browser version sometimes displays the same behavior, but unlike the native app it works after refreshing the page.

**To Reproduce**
Try to block someone using the dev.to iOS app.

**Expected behavior**
User sho

[2021-11-27 14:21] jeremyf commented on #15500
I believe @ludwiczakpawel has a fix that's cooking up for the other bug which may well include a `z-index`.

[2021-11-28 08:57] burakakca commented on #6252
No I couldn't figure it out, forem.dev didn't help!!. I installed it on digitalocean.

[2021-11-28 18:35] zoeyyandi commented on #14836
hey @cmgorton! I created a [PR](https://github.com/forem/forem/pull/15505) for this bug. Could I trouble you for a review? I was also wondering if you could point me to a better way of accessing the community name in [this file](https://github.com/forem/forem/pull/15505/files#diff-ed63474f5aadc3b472dcf81d0a6274bf787ea4e3b4ad9abb0eb82e4264749d01R9), accessing the dom node is definitely not the best

[2021-11-29 07:50] #15115 closed

[2021-11-29 08:31] ludwiczakpawel commented on #15500
@jeremyf thanks for pinging me!

FWIW, this _should_ not be related to #15290.

@Infinity-Intellect I think you're spot on with that z-index. I'm not sure why we have it there in the first place 🤷‍♂️
There're couple other liquid tags with that z-index that should probably be removed:

- [TwitterTimelineTag.scss](https://github.com/forem/forem/blob/c842d1a0c6718f319f167e9ec13d4d7d5d6b6d39/app/asset

[2021-11-29 09:06] aitchiss opened #15506 "Markdown toolbar: current cursor position is not maintained on image upload"
**Describe the bug**

When I press the image upload button in the new markdown toolbar, my cursor moves to the beginning of the text editor area. When the upload successfully completes or errors, the cursor moves to the end of the text editor area.

**To Reproduce**

- Start typing a post in the V2 editor
- Press the image upload button and select an image
- Notice your cursor has moved to the top

[2021-11-29 11:35] Infinity-Intellect commented on #15500
Can I work on this @ludwiczakpawel ?

[2021-11-29 12:56] ludwiczakpawel commented on #15500
@Infinity-Intellect Absolutely! I'm assigning you to this one. Let me know if you have any questions or need some help!

[2021-11-29 13:12] Link2Twenty opened #15507 "Markdown toolbar: browser shared shortcuts"
**Describe the bug**

If a shortcut is shared between a browser and the toolbar the js function will run and the browser will also run its shortcut. `e.preventDefault()` will fix this.

**To Reproduce**
1. open chrome to the editor page
2. press ctrl/cmd + U
3. see the issue.

**Expected behavior**
only the forem function should run

**Additional context**

I think you just need to add it here.

h

[2021-11-29 13:39] aitchiss commented on #15507
Nice one @Link2Twenty - fix incoming!

[2021-11-29 14:54] #15507 closed

[2021-11-29 15:55] #15274 closed

[2021-11-29 19:42] juliannatetreault opened #15524 "Update the Creator Settings Page UI"
**📖  As a Forem Creator, I want my experience to be as UI pleasing as possible, so that I feel motivated to continue with the journey.**

_(Format:  As a [persona], I [want to], [so that])_

![Frame 446](https://user-images.githubusercontent.com/32834804/143931992-b01e9bbb-7aaa-448f-8f06-87a1fa27a7ae.png)

**🐣TASKS**

- [x] Update the radio button styling per the above design (@nickytonline)
- [x]

[2021-11-29 19:44] juliannatetreault commented on #15524
I'll tackle updating the COC and TOS text placement and the removal of its italicization (task 4 out 5)!

[2021-11-29 19:45] juliannatetreault commented on #15524
@nickytonline I was told that you were planning on tackling updating the radio buttons, is that correct? If so, I'll add your name by the task and will add you as an assignee to this issue!

[2021-11-30 02:51] amywtlin opened #15530 "Feed algorithm experimentation proposals"
This issue serves as a centralized space for community ideas on fine-tuning our feed algorithm. Initial entries come from comments from [this post](https://dev.to/devteam/feature-update-feed-3go5).

Here is [a doc](https://docs.google.com/document/d/1WSeFVotjsIONbs0IeQtZlznE_QSlYxxlEze5fiLmp80/edit#heading=h.yt4tikv0thn3) created by @aitchiss documenting more ideas from internal core team members.

[2021-11-30 08:56] #15506 closed

[2021-11-30 14:48] #15485 closed

[2021-11-30 16:18] juliannatetreault opened #15546 "Ensure COC and TOS Links Open During Creator Onboarding"
📖  **As a Forem creator, I want to be able to be to read and acknowledge the Code of Conduct and the Terms and Conditions when onboarding, so that I can proceed through the onboarding process.**

(Format: As a [persona], I [want to], [so that])

![](https://user-images.githubusercontent.com/108287/116532347-6d033700-a8e0-11eb-8dae-88bf6164f682.png)

**🐣TASKS**

- [x] Ensure that the Code of Conduc

[2021-11-30 18:19] msarit opened #15553 "Create UnifiedEmbed for Blogcast URLs"
Right now, the Blogcast LiquidTag accepts an `id`. It needs to accept the Blogcast URL.

[2021-11-30 18:21] msarit opened #15554 "Create UnifiedEmbed for Codesandbox URLs"
Right now, the Codesandbox LiquidTag accepts an `id`. It needs to accept the Codesandbox URL.

[2021-11-30 18:24] msarit opened #15555 "Create UnifiedEmbed for Forem Comment URLs"
Right now, the Forem Comment LiquidTag accepts the comment's `id` at the end of the comment's url. It needs to accept the Comment URL.

[2021-11-30 18:27] msarit opened #15556 "Create UnifiedEmbed for DotNetFiddle URLs"
Right now, the DotNetFiddle LiquidTag accepts a `link`.

[2021-11-30 18:29] msarit opened #15557 "Create UnifiedEmbed for GitHub Issue URLs"

[2021-11-30 18:30] msarit opened #15558 "Create UnifiedEmbed for GitHub README URLs"

[2021-11-30 18:31] msarit opened #15559 "Create UnifiedEmbed for Glitch URLs"

[2021-11-30 18:34] msarit opened #15560 "Create UnifiedEmbed for Instagram URLs"

[2021-11-30 18:34] msarit opened #15561 "Create UnifiedEmbed for Jsitor URLs"

[2021-11-30 18:35] msarit opened #15562 "Create UnifiedEmbed for Katex URLs"

[2021-11-30 18:35] msarit opened #15563 "Create UnifiedEmbed for Kotlin URLs"

[2021-11-30 18:37] msarit opened #15564 "Create UnifiedEmbed for Forem Links"
Both Forem Links and Posts

[2021-11-30 18:38] msarit opened #15565 "Create UnifiedEmbed for Forem Listings"

[2021-11-30 18:39] msarit opened #15566 "Create UnifiedEmbed for Medium URLs"

[2021-11-30 18:46] msarit opened #15567 "Create UnifiedEmbed for Forem Organization URLs"
Right now, this Liquid tag accepts the Forem organization's slug.

[2021-11-30 18:47] msarit opened #15568 "Create UnifiedEmbed for Parler URLs"

[2021-11-30 18:48] msarit opened #15569 "Create UnifiedEmbed for Forem Podcasts"
right now, this embed accepts the Forem podcast's slug

[2021-11-30 18:55] msarit opened #15570 "Create UnifiedEmbed for Replit URLs"

[2021-11-30 18:56] msarit opened #15571 "Create UnifiedEmbed for RunKit URLs"

[2021-11-30 18:57] msarit opened #15572 "Create UnifiedEmbed for Slideshare URLs"

[2021-11-30 18:58] msarit opened #15573 "Create UnifiedEmbed for Speakerdeck URLs"

[2021-11-30 19:08] msarit opened #15575 "Create UnifiedEmbed for Spotify URLs"

[2021-11-30 19:08] msarit opened #15576 "Create UnifiedEmbed for Stackblitz URLs"

[2021-11-30 19:09] msarit opened #15577 "Create UnifiedEmbed for Stackery URLs"

[2021-11-30 19:10] msarit opened #15578 "Create UnifiedEmbed for StackExchange/StackOverflow URLs"

[2021-11-30 19:15] msarit opened #15580 "Create UnifiedEmbed for Forem Tags"

[2021-11-30 19:16] msarit opened #15581 "Create UnifiedEmbed for Twitter URLs"

[2021-11-30 19:16] msarit opened #15582 "Create UnifiedEmbed for Twitch URLs"

[2021-11-30 19:19] msarit opened #15583 "Create UnifiedEmbed for Forem User Profile"

[2021-11-30 19:21] msarit opened #15584 "Create UnifiedEmbed for Vimeo URLs"

[2021-11-30 19:23] msarit opened #15585 "Create Unified Embed for Asciinema"

[2021-11-30 19:24] msarit opened #15586 "Create Unified Embed for Codepen"

[2021-11-30 19:25] msarit opened #15587 "Create UnifiedEmbed for GithubGist URLs"

[2021-11-30 19:25] msarit opened #15588 "Create UnifiedEmbed for JSFiddle URLs"

[2021-11-30 19:26] msarit opened #15589 "Create UnifiedEmbed for NextTech URLs"

[2021-11-30 19:27] msarit opened #15590 "Create UnifiedEmbed for Reddit URLs"

[2021-11-30 19:27] msarit opened #15591 "Create UnifiedEmbed for Soundcloud URLs"

[2021-11-30 19:28] msarit opened #15592 "Create UnifiedEmbed for TwitterTimeline URLs"

[2021-11-30 19:28] msarit opened #15593 "Create UnifiedEmbed for Wikipedia URLs"

[2021-11-30 19:29] benhalpern opened #15594 "First onboarding screen is squished on mobile"
**Describe the bug**

I hadn't _created_ a user account on mobile before, and going through that flow on onboarding showed me a first screen that was out of whack

**To Reproduce**

- Sign up for new Forem on narrow screen or mobile device
- View checkbox styling on first page is off.

**Expected behavior**

The checkboxes should show up without being messed up as they are. You'll know "correctnes

[2021-11-30 19:29] msarit opened #15595 "Create UnifiedEmbed for YouTube URLs"

[2021-11-30 19:40] #15279 closed

[2021-11-30 20:05] juliannatetreault commented on #15353
The above comment link doesn't navigate to the discussion as expected, so for reference, here's the text from the comment that it should link through to:

[2021-11-30 20:35] doublejosh commented on #12452
Even grid gap doesn't work in Safari 14.0.3 😂

[2021-11-30 20:50] djuber commented on #15454
https://app.honeybadger.io/projects/66984/faults/65884099 It looks like @Zhao-Andy's point 2 (you have to have a payment method to make a purchase) applies here.

However, testing (same steps as @ellativity went through) suggests the complete purchase and add new card buttons are _both_ submitting the form (with `credit[number_to_purchase]: 1` from the input) and immediately leading to the 500 err

[2021-12-01 04:03] jeremyf opened #15613 "Feed may be featuring stories that are not marked as "featured""
**Describe the bug**

The `Articles::Feeds::FindFeaturedStory` (see below) implies that we should select articles that are `featured == true`.  However, the implementation does not force a featured image.

https://github.com/forem/forem/blob/7010c8733002ff12d08051dfeff0b6270e1cd315/app/services/articles/feeds/find_featured_story.rb#L1-L27

**To Reproduce**

I'm uncertain, except to say that you ma

[2021-12-01 04:09] amywtlin commented on #15613
This does seem like a bug. Your definition of `featured` in expected behavior is exactly what I'd expect:

@michael-tharrington is there any historical reasons that this is the way it is right now? Or do you think this is also a bug?

[2021-12-01 04:12] jeremyf commented on #15613
I did some sleuthing and for the "feed" (or at least some aspects of the feed), the `featured == true` has not been part of the consideration.  (e.g. the now "Relevant" feed in particular).

[2021-12-01 09:35] #15500 closed

[2021-12-01 11:12] LeRayan opened #15616 "Mailchimp audience not updating with my forem users' emails when they subscribe"
**Describe the bug**

I set up my forem 10 days ago at [developmenthackers.com](https://www.developmenthackers.com/)
I've created a Mailchimp account and an audience to handle my weekly newsletter, and connected it to forem using a Mailchimp API key and a Mailchimp Audience ID. However, this connection doesn't seem to work.

I mean that when a user creates an account and opts-into the newsletter,

[2021-12-01 12:49] Ridhwana opened #15617 "."

[2021-12-01 12:50] #15617 closed

[2021-12-01 12:57] Ridhwana opened #15618 "Allow the logo to be uploaded via the admin"
**📖  As a Forem Creator, I need to be able to upload my logo on the admin interface, so that I have flexibility to change my logo when needed.**

**🐣TASKS**

- [ ] Create an upload input on the admin
- [ ] Re-use the Stimulus controller to preview the logo
- [ ] Allow the data to be saved to the admin Controller
- [ ] Re-use the Logo Uploader
- [ ] Show the preview of the image

[2021-12-01 14:30] Ridhwana opened #15620 "Migrate `logo_svg` data"
**📖  As a Forem Creator, that has been using Forem priori to the new onboarding process, I want my logo to be automatically updated based on the SVG provided without any manual intervention, so that my Forem continues to run as is without the UI breaking**

**🐣TASKS**

- [x] Create a Data Update script to migrate the `logo_svg`
- [x] In the script add the svg+xml content to a file with an svg exte

[2021-12-01 14:59] michael-tharrington commented on #15613
@amywtlin — to be honest, I was always a bit unclear about exactly what that button did.

I honestly think it was just used to highlight an article in green on the https://dev.to/admin/content_manager/articles interface. Ben would click the button as a signifier to anyone working the "Content shift" (posting to buffer) that an article was good to share. We used to have a more comprehensive system

[2021-12-01 15:32] jeremyf opened #15624 "Analysis and remediation [likely] required for creating a Role system"
## Introduction

One of the refactoring chores necessary for a role system is to eschew the usage of method calls such as `current_user.admin?` in the view (or controller).  These method calls are short-hand for implicit understandings of the code base.  It's easy to fall into the habit of writing code that looks like the following:

[code]

The above is a quick shortcut that sits as a proxy for t

[2021-12-01 16:29] jeremyf commented on #15613
@michael-tharrington I looked at the code and checking `featured` does nothing to the `featured_number`.

So, the question is a matter of least surprise:

[code]

Right now, the criteria for the featured slot in the "Relevant" feed is what is "popular" and has a main image.  I think that runs a bit counter intuitive to having a "featured" attribute for Article.

And if we don't add the `featured =

[2021-12-01 16:49] #15355 closed

[2021-12-01 17:02] djuber commented on #15454
Reopening since you can (and someone will) still get to the error page from the credits purchase page.

#15623 corrected an issue where the payment method "Add new card" functionality was missing. However, the "Complete Purchase" button still permits submitting if an amount is selected but no card is available/selected/added.

We do not want the "Complete Purchase" button to function unless both a

[2021-12-01 17:37] michael-tharrington commented on #15613
Oh okay I didn't actually know what the featured slot meant at all prior to this – it sounds like it's hidden in the code and so requires knowledge of the code to understand.

I think this featured box should just be removed because it's confusing.

Perhaps one day, we could have curated instead and add the item to an hand-picked/curated feed.

[2021-12-01 17:45] jeremyf commented on #15613
We have the concept of a pinned article.  Personally, I think we should say that if moderators have marked something as featured AND we have a featured slot, then it makes sense to put those featured things in that slot.

That is a far easier change than ripping out the featured slot (which I'm all for but which has a larger impact on the existing system and our users).

[2021-12-01 17:53] michael-tharrington commented on #15613
Well really, this button is admin exclusive right now, so it's not available to mods. But maybe we could make it do the same thing if an admin decides to click it?

Can you please explain what happens when someone features an article again? I'm struggling to understand this. It sounds like it increases the chance of it appearing in the top spot of a feed, right? But it doesn't increase the feature

[2021-12-01 18:44] jeremyf commented on #15613
What I've found is:

- In the [API](https://github.com/forem/forem/blob/4efcf8c3d3af123856ed355a963180562537f701/app/services/article_api_index_service.rb#L140-L146), if you don't search on anything, we only surface featured articles
- In our [digest emails](https://github.com/forem/forem/blob/4efcf8c3d3af123856ed355a963180562537f701/app/services/email_digest_article_collector.rb#L32-L40), if the

[2021-12-01 21:00] michael-tharrington opened #15633 "There is no "create post" button on a tag landing page when the tag page is empty"
**Describe the bug**

There is no "create post" button on a tag landing page when the tag page is empty.

**To Reproduce**

1. Visit an empty tag page and see the lack of "create post" button
2. Visit https://dev.to/t/shecoded and see the "create post" button in the lefthand sidebar

**Expected behavior**

There should be a "create post" button on a tag landing page whether or not the tag page is

[2021-12-01 21:24] djuber commented on #15633
It looks like the tag being empty (no posts, no description) is not the factor controlling the create post button - https://dev.to/t/rails/ for example does not show the Create Post in the sidebar, only in the top (user) navbar.

It looks like the difference is the presence of a non-empty "Rules markdown" (configurable in the tag admin area) - putting any string there populates a create post butto

[2021-12-01 21:51] juliannatetreault opened #15635 "Conditionally Render Links on the COC and TOS During Creator Onboarding"
📖  **As a Forem creator, I want to be able to be to read and acknowledge the Code of Conduct and the Terms and Conditions without being redirected to another page that I do not have permissions to visit, when onboarding, so that I can finish the onboarding process issue-free.**

(Format: As a [persona], I [want to], [so that])

![](https://user-images.githubusercontent.com/108287/116532347-6d03370

[2021-12-01 22:08] jeremyf commented on #15633
I don't think this is related but it's in the neighborhood: https://github.com/forem/forem/issues/15359

[2021-12-02 00:33] #15585 closed

[2021-12-02 00:33] #15586 closed

[2021-12-02 00:33] #15587 closed

[2021-12-02 00:33] #15588 closed

[2021-12-02 00:33] #15589 closed

[2021-12-02 00:33] #15590 closed

[2021-12-02 00:33] #15591 closed

[2021-12-02 00:33] #15592 closed

[2021-12-02 00:33] #15593 closed

[2021-12-02 00:33] #15595 closed

[2021-12-02 03:22] dwwhalen opened #15642 "BUG: Error trying to create or update a post"
Logged in as myself (dwwhalen) I can't save an existing post or create a new post.  I've been aware of this problem since 11/21/2021.

I've tried this with different browsers and different machines(macbook and iPhone) and the behavior is the same.

I've tried resetting my password and changing authentication but also no luck.

I'd appreciate some help.  Here are some screenshots.  THANKS!

clickin

[2021-12-02 07:35] ellativity commented on #15633
I came here to write what @djuber already beat me to writing.

[2021-12-02 08:10] citizen428 commented on #15642
Hello @dwwhalen, thanks for notifying us of this problem, this looks an issue specific to your account. Please email yo@dev.to for more help.

[2021-12-02 08:19] citizen428 commented on #15616
Potentially related #11494 & #12021, i.e. there may be wider Mailchimp synchronization issues.

[2021-12-02 08:24] citizen428 commented on #15624
You're probably aware of this but your example uses CanCanCan like syntax while we use Pundit. 😃

[2021-12-02 08:26] jmau111 opened #15645 "bug homepage"
**Describe the bug**

bg markup html svg

**To Reproduce**

homepage

**Screenshots**

<img width="1375" alt="screen-devto" src="https://user-images.githubusercontent.com/6878027/144384974-fdfb9553-2e8f-4aaa-9e2f-d51087c8c2c3.png">

[2021-12-02 08:41] OhDylan opened #15646 "Loading SVG codes on to screen"
**Describe the bug**

Dev.to logo is rendered as SVG codes instead of the SVG itself.

**To Reproduce**

1. You can see it everywhere as it is in the navbar and blocking the content.

**Expected behavior**

Showing the SVG icon instead of the codes.

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the foll

[2021-12-02 08:42] OhDylan commented on #15646
![Screenshot_2021-12-02-16-41-34-057_com.android.chrome.jpg](https://user-images.githubusercontent.com/49362324/144387550-f0868797-5016-4e72-8637-fb014ead51c3.jpg)

[2021-12-02 09:01] iamandrewluca commented on #15645
Related https://github.com/forem/forem/pull/15643

[2021-12-02 09:01] iamandrewluca commented on #15646
Related https://github.com/forem/forem/pull/15643

[2021-12-02 09:12] InHuOfficial commented on #15646
Line 3:  `<%= logo_svg %>` should be `<%= Settings::General.logo_svg %>` I think?

[2021-12-02 09:33] jeton-th opened #15648 "Logo in main site navigation disrupted."
**Describe the problem**

The main website logo is gone. Instead of the logo, some part of the svg code is
visible, stretching over the page.

**To Reproduce**

Just open [dev.to](dev.to).

**Screenshots**
![Screenshot_20211202-103034](https://user-images.githubusercontent.com/5147537/144395071-fae4a11b-344c-401b-ba59-d22dad52bee6.png)

[2021-12-02 09:37] kafesu opened #15649 "Logo SVG not working on Mobile Web"
The logo SVG is not working when I open the installed PWA on Android. I already tried reloading. I attached the screenshot. There's that text overlay with SVG at the end.

![Screenshot_20211202-113421](https://user-images.githubusercontent.com/69090471/144396003-5c8760e5-345c-4e62-9b13-29270a0f2f71.png)

[2021-12-02 10:46] #15649 closed

[2021-12-02 10:48] #15645 closed

[2021-12-02 10:49] iamandrewluca commented on #15646
@OhDylan can be closed, was fixed

[2021-12-02 10:51] aitchiss commented on #15648
Thanks for reporting this issue! It's now been resolved (by https://github.com/forem/forem/pull/15643), but if you see it popping up again, please do let us know

[2021-12-02 10:51] #15648 closed

[2021-12-02 10:51] aitchiss commented on #15646
Thanks for reporting this issue! It's now been resolved (by https://github.com/forem/forem/pull/15643), but if you see it popping up again, please do let us know

[2021-12-02 10:51] #15646 closed

[2021-12-02 12:05] Ridhwana opened #15651 "Ensure that the initial user input is populated on the form after an error occurs"
**📖  As a Forem Creator, I want to be able to amend my user input rather than have to fill out the my form from scratch again, so that I am not wasting time and energy**

More research to be done:

At the moment, if there is an error, there is a fleeting flash error before the form re-renders with blank information. In a subsequent PR we want to maintain the information that the user has typed in

[2021-12-02 13:13] solution-loisir opened #15652 "The app shuts down after ~30 seconds"
**Describe the bug**
I installed the dev.to on the home screen of my Pixel 2 xl phone some times in 2019, as a progressive web app. It used to work fine, but in the last month, maybe a little more, it started to behave oddly. When I tap on the dev.to icon, it opens the app and I navigate a little bit, and after about 30 seconds it closes. I usually reopen the app and then it works fine. I'm always

[2021-12-02 13:35] nickytonline commented on #15652
@solution-loisir, we removed our ServiceWorker earlier this year which is why the PWA no longer works on your phone. We know some folks appreciated having the PWA, but the ServiceWorker had become problematic for us.

You can read about it on this post on DEV, https://dev.to/devteam/goodbye-offline-page-5d98

[2021-12-02 14:31] #15652 closed

[2021-12-02 14:41] djuber commented on #15633
@ellativity brought up a good point - this is a documented behavior in the admin guide

https://admin.forem.com/docs/forem-basics/tags#editing-a-tag

If this is a request to add a create post to every tag's page we can treat it as a feature request, but it's expected and documented behavior.

@michael-tharrington would you prefer to keep this open (as a suggested improvement), or close the issue?

[2021-12-02 14:47] solution-loisir commented on #15652
Thank you @JennieOcken and @nickytonline, for your quick response. That explains everything. I'll go read the issue when I have a minute. Is this bad news for PWA in general. Is there a hope for this feature to be revisited? Thanks for all! 😊

[2021-12-02 14:57] JennieOcken commented on #15652
For right now, it's bad news for PWA in general. We really want to focus in on the native app experience especially as folks start using multiple Forems and want to move between them (e.g. from DEV to Codenewbie).  In addition, the PWA was creating some technical overhead and burden for our team to maintain and was relatively lightly used.  We have so many awesome things we want to do for DEV and

[2021-12-02 15:30] msarit commented on #15624
So are you going to replace the use of `current_user.posseses_or_can_do(some_role_or_ability)?` with this:

[code]

that part wasn't as clear to me

[2021-12-02 16:01] nickytonline commented on #15353
Given what we discussed @ludwiczakpawel, I imagine we're keeping this as the native file input button?

[2021-12-02 16:04] juliannatetreault commented on #15353
Seems like it for the time being, but maybe @Ridhwana has more information? If we're holding off on this for now, we could probably add this to the "High Impact, Low Effort" board so that we can pick it up post-Creator Onboarding release.

[2021-12-02 16:52] ludwiczakpawel commented on #15353
In my opinion, yes.

If anything, it would be "Low Impact, High Effort" :D

[2021-12-02 16:58] joshpuetz commented on #13826
Closing as this bug has been fixed.

[2021-12-02 16:58] #13826 closed

[2021-12-02 17:09] amiteshhh opened #15655 "Broken ui - Garbage numbers overlapping main content of website"
Load the page in mobile or desktop in google chrome https://dev.to/codesphere/10-things-you-didnt-know-you-could-do-with-javascript-3k2l
You will see garbage numbers.
![Screenshot_2021-12-02-22-30-26-902_com android chrome](https://user-images.githubusercontent.com/11266423/144469542-d4bc83ec-3755-498e-a7c3-84d80954bbd1.jpg)

[2021-12-02 17:52] nickytonline commented on #15655
This should be sorted. There was an issue with the SVG header icon that has since been resolved. Thanks for reporting!

[2021-12-02 17:52] #15655 closed

[2021-12-02 18:59] yheuhtozr commented on #14888
Now presuming my last batch from ERB to be accepted, what will be the next step?

- i18n for other parts of Ruby code
- i18n for asset pipeline JS code base
- i18n for Preact code base
- locale-aware refactoring of ERBs (cache, links, etc)

In the meantime, are we going to accept locale file contributions once the views i18n is complete? What are the remaining obstacle(s) preventing new locales co

[2021-12-02 20:32] ellativity opened #15658 "/config > Authentication doesn't update when the invite-only box is checked/unchecked"
**Describe the bug**

Checking or unchecking the box for the Invite-only setting under **Authentication** in `/config` displays a snackbar that appears to confirm the change, but the page doesn’t update.

This means you can’t modify any authentication methods until you refresh the page, scroll back to the point you were at, and then expand **Authentication** again.

**To Reproduce**

1. navigate t

[2021-12-02 22:31] thakur-mohit opened #15660 "Application on Android platform stops abruptly whenever opened for the first time."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device: Galaxy S9
- OS, version: Android 10
- Browser, version: NA

**Additional context**

[2021-12-03 02:30] jsoref opened #15663 "Analytics shouldn't show fractional graph points"
**Describe the bug**

Readers, Follower, Reactions, and Comments are all whole number items, you can't have a fraction of any of them. As such, graphs that do are confusing / unhelpful / superfluously noisy

**To Reproduce**

1. Create an account
2. Use it over the span of a month
3. Visit the /dashboard/analytics endpoint
4. Switch to the Infinity view

**Expected behavior**

The Y axis should no

[2021-12-03 02:35] jsoref opened #15664 "Analytics New Followers Summary heading is confusing"
**Describe the bug**

The graph for new followers includes a range that goes below 0. The idea that it could do that just doesn't make sense.

There are two possible things that could be going on:
* The code doesn't know to clamp at 0 -- in which case the code should be changed to clamp at 0
* If one loses followers, the number could go negative, in which case the title could be better phrased, po

[2021-12-03 02:39] jsoref opened #15666 "Analytics Infinity view lines are extra thick"
**Describe the bug**

Lines on graphs shouldn't be extra thick just because there are so many data points that they all overlap. In infinity view, that's what happens.

**To Reproduce**

1. Create an account
2. Use it over the span of a month
3. Visit the /dashboard/analytics endpoint
4. Switch to the Infinity view

**Expected behavior**

1. Reduce the horizontal axis to probably ~12 hashes
2. Don

[2021-12-03 03:08] citizen428 commented on #14888
@yheuhtozr Just my personal preference but I think `i18n for other parts of Ruby code` sounds good.

[2021-12-03 04:22] jeremyf commented on #15624
I don't yet know what I'm going to replace this with.  I know we use Pundit, so there's a consideration of syntax.

[2021-12-03 04:39] amywtlin commented on #15613
@michael-tharrington: `featured` tick under `/admin/content_manager/articles` isn't being used by community success. Correct?

After a discussion with @jeremyf, we think it makes sense to remove this both in `/admin/content_manager/articles` and the backend algorithm, and rethink what Creators/admins want with "featured" in the Forems. The idea to feature posts still make sense to me, but the curr

[2021-12-03 06:03] citizen428 commented on #15624
I actually had typed up a comment to this effect yesterday, then decided to not post it because I thought it was too early in the process to discuss on that level of detail yet.

[2021-12-03 06:37] ishaquee opened #15668 "UI BUG"
**Describe the bug**

This is the UI related Bug ... Like the Text over-floated to the main content

**To Reproduce**

  https://dev.to/exwhyzed/15-free-reactjs-templates-for-your-next-project-313m
You can see this bug in above url ....

**Expected behavior**

Actually the content  is not displaying properly ...

**Screenshots**

<img width="1680" alt="Screenshot 2021-12-03 at 12 02 19 PM" src="ht

[2021-12-03 08:19] jsoref opened #15669 "Spelling errors"
**Describe the bug**

Like all projects, this project has typos

**To Reproduce**

1. Add https://github.com/check-spelling/spell-check-this/tree/prerelease/ to forem
2. Adjust excludes (guided by feedback from the workflow)
3. Adjust patterns (guided by the examples)

**Expected behavior**

No typos

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Brows

[2021-12-03 09:22] Ridhwana commented on #15353
Correct, I think we can close this and don't need to add a follow up issue for it. There were good reasons why we used the native button and I don't think its valuable to tackle a "Low Impact, High Effort" task (as Pawel put it) with all our current backlog.

[2021-12-03 09:22] #15353 closed

[2021-12-03 11:46] nickytonline commented on #15668
This was an issue with header logo that's since been fixed.

[2021-12-03 11:47] #15668 closed

[2021-12-03 11:51] nickytonline commented on #15660
Can you provide some more information in regards to the issue? Thanks!

[2021-12-03 13:20] ellativity commented on #15642
@dwwhalen I stumbled across this issue while creating one of my own. I've made the required change to your account, so you don't need to email us anymore. I'm closing this issue.

[2021-12-03 13:20] #15642 closed

[2021-12-03 14:24] ellativity opened #15671 "Update all use of (and reference to) "vomit" to "flag""
**Describe the bug**

When the mod tools were updated to "flag" rather than "vomit on" posts, the admin side wasn't updated. Admins still see "vomits" throughout the admin portal (in `/admin/moderation/reports`, user admin views, in `/admin/moderation/privileged_reactions`, etc)

**Expected behavior**

Admins should see "flag" in all situations.

**Screenshots**
In `/admin/moderation/reports`
 ![S

[2021-12-03 14:54] djuber opened #15674 "upgrade to nodejs version 16.x (current lts version)"
Forem uses Node 14 (which had until recently been the lts release).

Node 16 is now the LTS release.

Upgrade to version 16. The easiest path to doing this is to change the base image from fedora 34 to fedora 35.

----

https://github.com/forem/forem/pull/15522 (forem configuration change to use node 16)
https://github.com/forem/infra/pull/330 Fedora 35 upgrade (includes nodejs 16)

[2021-12-03 16:28] ellativity opened #15675 "Unexpected notifications behaviour #1: notifications persist when post is unpublished"
**Describe the bug**

If a post author publishes a post and then unpublishes it immediately (e.g. they accidentally published when they intended to save), any user receiving a notification about the publication of the post will continue to see the notification on their `/notifications` page after the post has been unpublished. If they click on the notification, they're greeted with a 404 error.

*

[2021-12-03 16:39] ellativity opened #15676 "Unexpected notifications behaviour #2: mentioning a user in a post notifies them about the mention but not the post"
**Describe the bug**

If a user is subscribed to a specific set of content (e.g. another user or an organization, or a tag), they don't receive a notification about the content if they're mentioned in it. They only receive the notification of the mention.

**To Reproduce**

1. subscribe to a set of content
2. try publishing relevant content to confirm notifications are received
3. publish equally

[2021-12-03 16:45] jeremyf commented on #15624
@citizen428 I got an email and was like "Yes!  Remember to account for the existing system."  My language comes from long time experience in CanCanCan, but I'm framing lots of things based on my work on robust roles/permission system (https://github.com/ndlib/sipity/blob/master/app/services/sipity/services/authorization_layer.rb)

[2021-12-06 04:38] citizen428 commented on #15664
This is interesting, I don't see any negative numbers in mine. '

![Screen Shot 2021-12-06 at 11 37 56](https://user-images.githubusercontent.com/47985/144788077-39ea2083-ae3d-4ac4-bc5c-d0c26147b069.png)

Looking at `./app/javascript/analytics/dashboard.js` it seems like we reuse the same components for everything so it's imaginable that we're running in some default settings of the charting libra

[2021-12-06 05:07] jsoref commented on #15664
Notably, you have followers. I don't. I'd bet it's an auto-scaling problem.

For some of these, it looks like you want `beginAtZero` per
https://www.chartjs.org/docs/master/axes/cartesian/linear.html#linear-axis-specific-options

[2021-12-06 05:09] jsoref commented on #15664
n.b. that's _assuming_ that "new lost followers" won't be reflected in the graph. It sounds like this is correct.

[2021-12-06 09:30] citizen428 commented on #15664
Yes, that's what I meant above, we reuse the same component, so I wouldn't be surprised if some defaults don't make sense in all contexts, e.g. using a float on the y-axis for new followers also doesn't seem like the best choice.

[2021-12-06 11:48] #14808 closed

[2021-12-06 11:49] aitchiss commented on #14751
closed in https://github.com/forem/forem/pull/14817

[2021-12-06 11:49] #14751 closed

[2021-12-06 14:24] jeremyf commented on #15675
@ellativity I've been trying to verify this bug, and here's how I'm going about testing on my local machine.  I have two browsers, one for Admin and one for Author.  I have set the Admin to follow the Author.

As Author I write a post and publish it.  As Admin, I see the notification.  Then as Author, I unpublished the post (using the Danger Zone > "Unpublish post" button).  That removes the notif

[2021-12-06 14:53] squarebat commented on #15594
I'd like to take this up!

[2021-12-06 16:17] michael-tharrington commented on #15633
I don't feel strongly about it and don't believe that it would add very much benefit, so going to close this one.

[2021-12-06 16:17] #15633 closed

[2021-12-06 17:18] djuber opened #15689 "view_component engine should not be manually required"
**Describe the bug**

[ViewComponent](https://viewcomponent.org/) is showing a deprecation warning during app startup

https://github.com/github/view_component/releases/tag/v2.46.0 (upgraded in https://github.com/forem/forem/pull/15677) included a deprecation warning when we require the engine manually (they're planning to disable this
behavior in version 3.0)

We should change our load method so

[2021-12-06 21:19] ellativity opened #15700 "Stackbit blog extension doesn't work on non-DEV Forems"
**Describe the bug**

At the end of the User Extension Settings page (`/settings/extensions`), there's an option for users to set up their own Stackbit blog with one click:

![Stackbit blog extension on a non-DEV Forem](https://user-images.githubusercontent.com/76786132/144898168-6cfc15c1-caa4-4db1-8b0b-cb62e3188a4b.png)

Clicking on this on DEV returns [`https://dev.to/connecting-with-stackbit`](

[2021-12-06 23:02] jeremyf commented on #15700
In conversations, it sounds like this feature never quite worked.  In consultation with @JennieOcken we're removing the feature.

[2021-12-07 09:33] akuks commented on #9532
I am also getting the same error message `Problem with dial: dial tcp 172.20.0.6:3000: connect: connection refused. Sleeping 20s`. I am trying to set it up on Mac `MacOS Monterey`. I have the latest git repo and docker images.

[2021-12-07 11:51] akuks commented on #9532
**Some more information**
While digging down the logs I found this

[code]

[2021-12-07 13:11] LeRayan commented on #15616
It started syncing for my forem but I have no idea why. I had tried updating my forem a week earlier but that had not done anything. Didn't touch anything for a few days, one day it's not working and the next my subscriber list now updates.
So I guess I'd still say this is a bug, but not for me anymore haha (knocks on wood)

[2021-12-07 15:26] Glennmen commented on #15675
I experienced the same thing.
Notification was still listed but gave a 404 error after opening it.
After that I heard on Discord that the post was unpublished.

@jeremyf The only reason why I think you are not experiencing this on your local machine is because of heavy caching DEV/Forem does and probably doesn't happen on your local machine.
That is only my theory 🤷🏼‍♂️

[2021-12-07 18:09] jeremyf commented on #15675
I agree @Glennmen , that caching and or the background worker's getting around to their task are the two likely culprits.  And at this point, I can't prioritize more time on resolving this; though I do need to dive further into our caching ecosystem.

[2021-12-07 19:27] benhalpern commented on #15594
Go for it @squarebat!

[2021-12-07 20:18] ellativity opened #15707 "Landing page after Admin actions on User accounts is inconsistent"
**Describe the bug**

- After clicking “Unpublish all posts” from **Manage User** (e.g. `/admin/users/1/edit` - I'll give example urls for user ID 1), the admin user is shown `/admin/users/` page rather than staying on the **Manage User** page.
- After clicking "Submit note" from a User Admin (either **Admin Profile** or **Manage User** page), the admin user is always shown the **Admin Profile** p

[2021-12-08 05:50] citizen428 commented on #15616
Thanks for the update @LeRayan!

[2021-12-08 15:20] #15700 closed

[2021-12-08 17:34] #15689 closed

[2021-12-08 18:44] FounderCasey opened #15714 "block subdomain emails from signing up"
**Describe the bug**

I noticed that we had a blocked email create an account at DEV.to with a "subdomain" email address.

Context: We blocked `@abc123.com` from signing up and they created an account with `@subdomain.abc123.com`

**Expected behavior**

We'd like to add a wildcard of sorts, if the domain is blocked, we catch all subdomains.

[2021-12-08 19:08] #15714 closed

[2021-12-08 19:21] #15584 closed

[2021-12-09 09:13] aitchiss commented on #14845
Adding here for visibility - we had a pod discussion around tag autocomplete features & accessibility. I raised some concerns around whether some features are going to make the UX too confusing for some assistive tech users, particularly: the input moving inside the selection list when we "edit" a selection, and special key behaviours like <kbd>,</kbd> and <kbd>space</kbd> selecting the current va

[2021-12-09 11:51] q9f opened #15719 "Adding Matrix link to Navigation results in 500 "Ooooops""
**Describe the bug**

Adding a link to a public matrix community to the left navigation results in a 500 error page:

**To Reproduce**

1. Go to Admin  > Customization > Navigation Links
2. Create a new Navigation Link
3. Give it some name, Icon, and weight
4. Add the following URL: `https://matrix.to/#/#state-d:tchncs.de`
5. _Ooooops_

**Expected behavior**

A link should be added to the navigati

[2021-12-09 15:01] djuber commented on #15719
https://app.honeybadger.io/projects/72638/faults/82978320 I can see the error logged on our end - it looks like a problem accepting the url (probably because of the `#` characters)?

[code]

[2021-12-09 15:16] q9f commented on #15719
Indeed. It fails also in a bare IRB shell:

[code]

It fails the RFC 3986 regex.

https://github.com/ruby/ruby/blob/master/lib/uri/rfc3986_parser.rb#L67

I will escalate this to the Matrix devs for discussion.

[2021-12-09 15:16] #15719 closed

[2021-12-09 15:17] #15635 closed

[2021-12-09 15:23] djuber commented on #15719
The issue seems to be the grammar in RFC 3986 specifies `#` as a gen-delim, but only permits the more limited sub-delim set in fragment components - https://datatracker.ietf.org/doc/html/rfc3986/#appendix-A

I think the ruby regex implementation here is valid based on a quick reading.

[2021-12-09 15:30] q9f commented on #15719
Yeah, I just recalled, this is actually the second context where I run into this issue.

[2021-12-09 16:31] ellativity opened #15721 "Unexpectedly being returned to main podcast menu after saving changes to podcast submissions"
**Describe the bug**

There are a few steps where I need to save changes and update the podcast I'm working on. I would like to be able to stay on the same page when these changes are saved, instead I return to the main podcast menu/list everytime I hit the "Button name" button.

@carolineschettler has taken over from me as the main person approving podcasts on DEV, and we agree that this feels li

[2021-12-09 17:31] q9f opened #15722 "Removing community emoji results in "Internal Server Error""
**Describe the bug**

Removing community emoji results in "Internal Server Error."

**To Reproduce**

1. Go to admin > customization > config > community content
2. Remove the "Community emoji"
3. Hit "Update Settings"
4. Get an _"Internal Server Error"_

**Expected behavior**

You should be able to remove the community emoji or replace it with any other symbol.

**Desktop (please complete the fol

[2021-12-09 18:05] djuber commented on #15722
@q9f, thanks for the report. This is an issue where the emoji-only validator is called for the community emoji setting, but doesn't handle nil safely (so raised the error you saw).

https://github.com/forem/forem/blob/main/app/models/settings/community.rb#L9

[code]

https://github.com/forem/forem/blob/main/app/validators/emoji_only_validator.rb#L5

[code]

This calls `nil.gsub(...)` when the emoj

[2021-12-09 18:47] djuber commented on #15722
@q9f - I was exploring this behavior a little further. While the server error should not be happening (and I expect to have a fix for that later today or tomorrow), there's a further complication in that there's a default value used (the seedling, 🌱) when this setting is saved as a nil, (but not when it's an empty string), and the Settings::Upsert is setting blank inputs to nil when setting the va

[2021-12-09 20:08] #15488 closed

[2021-12-10 12:27] ciricc commented on #9532
I have the same problem
![image](https://user-images.githubusercontent.com/20687373/145574076-5e2df9ff-885a-4690-9bcf-c2780fdd3335.png)

[2021-12-10 13:29] kum9748ar commented on #12835
Hi everyone, I am new to this community, can anyone guide me that how I can get started with this issue ?

[2021-12-10 14:24] michael-tharrington commented on #15613
@amywtlin that's right! The `featured` tick under `/admin/content_manager/articles` isn't being used by community success. I don't think it's being used by our editorial team either as they are now using [forem2buffer](https://github.com/forem/forem2buffer).

Awesome! I'd agree with this. Perhaps we can even find a way to lean on moderators to help us select "featured" posts. And maybe when a post

[2021-12-10 15:07] #15651 closed

[2021-12-10 17:24] #15245 closed

[2021-12-10 17:50] ellativity opened #15726 "Dark theme still has a few instances where the text doesn't change colour when the background colour changes"
**Describe the bug**

I'm not sure where else this is happening, but there appears to be an issue with error messages not displaying the full content of the error due to the text/bg contrast in Dark Theme.

**To Reproduce**

1. ensure you're viewing your Forem in Dark Theme
2. cause an account confirmation error message
3. notice how some of the error message text is obscured due to contrast

**Ex

[2021-12-10 21:01] djuber commented on #9532
@ciricc the screenshot looks like bundle (ruby package manager) is still installing - the sidekiq (background job) container is waiting for port 3000 which isn't up yet. The installation can take a while (perhaps 10-20 minutes in some cases) the first time - subsequent startups should be faster since most of the packages are already installed and only changes need to be updated

@akuks it looks li

[2021-12-11 03:13] thakur-mohit commented on #15660
When I open app for the first time, it opens and crash abruptly . Second time it works fine. I am experiencing this behaviour from last 1-2 months.

[2021-12-13 10:26] yheuhtozr commented on #14888
My next batches on Ruby part i18n will be ready early next month.

[2021-12-13 15:48] ellativity opened #15736 "Forem processing codeblock content as standard content, leading to errors when attempting to share code"
**Describe the bug**

A Forem Partner shared that they were struggling to publish a post containing a codeblock with
`<img src="data:image/gif;base64,${this.hidden ? ghostHide : ghost}" />`
as part of it. They received the error message:

    base: Invalid markdown detected!

Tests revealed that having the string `src="data` in a codeblock triggers this issue. Removing the `data` in the string abo

[2021-12-14 03:05] citizen428 opened #15748 "Remove Doorkeeper gem"
Based on the discussion in https://github.com/forem/forem/pull/15701.

Summary: after removing the Stackbit integration we no longer need Doorkeeper. We may have a need for it in the future once we tackle Forem platform/plugin issues but until then let's just remove it.

[2021-12-14 15:12] michael-tharrington opened #15764 "Don't use `global_notice` for individual error messages"
**Describe the bug**

I was trying to recreate an issue that @ellativity was facing when trying to set up Forem Passport OAuth, and I received an error message that listed Ella's email instead of my own. It said:

Speaking with the team, @benhalpern noted:

**To Reproduce**

1. Sign up to a Forem (preferably that you have admin abilities on)
2. Restrict registration to an email domain that you are

[2021-12-14 16:36] JennieOcken opened #15769 "Google OAuth"
### Discussed in https://github.com/forem/forem/discussions/15768

<div type='discussions-op-text'>

<sup>Originally posted by **JennieOcken** December 14, 2021</sup>
I would like to be able to login to Forem using Google OAuth.

This has been requested by several Creators as well as members of the DEV community (like me) who don't use Twitter or GitHub.</div>

[2021-12-14 19:23] juliannatetreault commented on #15546
Closed via PRs #15634 and #15654

[2021-12-14 19:23] #15546 closed

[2021-12-14 19:24] #15524 closed

[2021-12-14 19:56] #15564 closed

[2021-12-14 20:32] andygeorge opened #15778 "Newly provisioned Forem does not display onboarding as expected"
When @forem/systems provisions a new Forem Cloud instance, the application fails to come up, dying [here](https://github.com/forem/forem/blob/main/app/views/devise/registrations/new.html.erb#L14-L17):

[code]

This appears to be due to [this change](https://github.com/forem/forem/pull/15684/files#diff-32862bcecd69ca64e9416d09dcf629d438e2a379e922613357147d2bb40dd888L13).

[2021-12-14 20:50] maestromac commented on #15778
Resolved with https://github.com/forem/forem/pull/15777

[2021-12-15 15:26] cmgorton commented on #15594
Thanks for working on this bug @squarebat 🥳 Let us know if you need any help.

[2021-12-15 15:39] squarebat commented on #15594
Thanks @cmgorton ! I'll be able to look into this soon and let you know!

[2021-12-15 19:10] #15618 closed

[2021-12-15 20:35] #15560 closed

[2021-12-16 17:19] djuber opened #15800 "Skipped notifications system tests should be written in cypress"
https://github.com/forem/forem/pull/15799 disabled two interaction tests (user can click the heart on a reply notification and then we'll show the "reacted" css, and  a moderator/trusted user can click on the heart, thumbsdown, and monocle icons and each will enable and disable the "reacted" css.

This would be a good fit for cypress tests (since the handlers for the button clicks are attached asy

[2021-12-16 17:58] #15553 closed

[2021-12-17 11:05] aitchiss opened #15809 "Update tags/suggest endpoint to return values needed for new autocomplete UI"
The new tags autocomplete component in the editor will feature a richer UI for suggested tags. We currently only display:

- The name of the tag
- The rules HTML (unless we are in the "Top tags" view)

The new design ([see Figma here](https://www.figma.com/file/RzV8pYcgujohbdTjYOKqld/Tags-autocomplete?node-id=0%3A1)) will show some more detail, and the endpoint `/tags/suggest` needs to be updated

[2021-12-17 13:42] Prajapatisantu commented on #4962
how to establish action cable connectin in dockerized app.

[2021-12-17 15:29] #15722 closed

[2021-12-19 07:26] SivaPriya03 opened #15822 "Getting forbidden bots error message on Nodejs web server"
Hi, I am developing a small portfolio project where I need to fetch my own posts from dev.to via API. It was working fine for the last 2 weeks but I'm getting the following error message from the API now.
[code]
It seems my web server is getting identified as a bot kindly help me in resolving this issue.

[2021-12-20 02:57] citizen428 commented on #15822
Hi, could you please share the user agent your API client is using for making requests? We recently did some work regarding blocking bots that cause too much traffic and you may have accidentally been caught by that.

[2021-12-20 05:07] citizen428 opened #15825 "Rails 7 update"
Upgrade the app to Rails 7. This is currently still held back by several gems:

* ✅ `acts-as-taggable-on`
* ✅ `redis-actionpack`
* ✅ `rails-i18n`
* `hair_trigger` has no released version for Rails 7 yet, we're temporarily using my fork

Gems holding back the update which we managed to remove:

* `redis-rails`
* `storext`

[2021-12-20 08:00] citizen428 opened #15826 "Remove webhooks"
Remove `app/models/webhooks` and all related code. We can revisit this topic as part of the wider discussion around Forem as a platform.

[2021-12-20 09:06] lightalloy commented on #15424
A couple of notes for the last @jeremyf 's comment:

I suppose we don't need to create another service worker now, the name change is now performed in `Users::Update` along with other changes.
The articles are resaved asynchronously as they used to be, the redundant synchronous resaving which caused the problem was removed.

Actually, old paths are redirected to new ones in `handle_possible_redire

[2021-12-20 09:06] #15424 closed

[2021-12-20 12:24] SivaPriya03 commented on #15822
Hi @citizen428, am using a NodeJS server hosted in Heroku cloud (http://sivapriya-v.herokuapp.com/)

[2021-12-20 12:33] Ridhwana commented on #15669
Hi @jsoref 👋 Has all typos been addressed in the PR's that were merged, can I close this this issue?

[2021-12-20 15:13] djuber commented on #15822
@SivaPriya03 - we recently made a change to our system requiring a non empty user agent header be sent (we had in place the rule that the header should be non-empty, this last week we added a rule saying the header should be sent) - this was to address traffic patterns from problematic bot access to the site.

If you send a user agent header in each request this should fix itself. If you're using

[2021-12-20 15:52] SivaPriya03 commented on #15822
@djuber , yeah it works after mentioning the user-agent header. Thank you

[2021-12-20 17:26] jsoref commented on #15669
Hi @Ridhwana, the tool has the following thoughts:
[code]

So, offhand, I'd imagine the following typos have been added since:

* foucs
* notificaton
* submmitted

[2021-12-20 17:26] #15669 closed

[2021-12-20 17:37] djuber opened #15832 "yaml frontmatter dashes are duplicated in code blocks"
**Describe the bug**

This looks like a return of the issue described in https://github.com/forem/forem/issues/237 - three dashes in code blocks in the article markdown are being extended or repeated to 6 dashes when rendering as html.

It looks like it's only happening in the second and subsequent blocks - the first markdown/yaml code block correctly renders three dashes when there were three das

[2021-12-20 17:56] djuber commented on #15832
Still checking what's occurring - is this related to the fix in https://github.com/forem/forem/pull/3790 (to permit raw blocks)

[2021-12-20 18:07] #15822 closed

[2021-12-20 19:57] djuber commented on #15832
as a test I made `modify_hr_tags(markdown)` just return the input (a null filter) and the body seems to render okay (tested in the v1 editor/basic markdown to confirm it's not related to frontmatter in the document body).

I'll get a PR removing this method since I can't tell what it's for.

[2021-12-20 21:39] #15832 closed

[2021-12-21 05:29] #15748 closed

[2021-12-21 08:10] #11282 closed

[2021-12-21 11:58] aitchiss commented on #14159
I'm going to close this issue because the editor guide now _is_ linked from the markdown toolbar in the editor (the '?' icon in the overflow menu) 🙌

[2021-12-21 11:58] #14159 closed

[2021-12-21 12:02] aitchiss commented on #9889
Closing as this has been fixed in a previous PR - the dropdown now always opens in the downwards direction, which makes sure this problem doesn't occur.

[2021-12-21 12:02] #9889 closed

[2021-12-22 06:31] amywtlin opened #15856 "Making "Connect Forem Passport" less intimidating"
## Background and why
With the introduction of Forem passport, now users can connect via their user settings page: https://dev.to/settings

As this is a feature that is still in its early adoption stage, so I think it'd help with a bit of explanation on what it does and what benefits can users get from using it.

Original thread: https://forem-team.slack.com/archives/C02C32DLPJP/p1639362780041000

[2021-12-22 07:06] buinauskas opened #15857 "Posts series within an org not taken into account when published by a different author"
Apologies if this has been raised and closed in the past.

A post considered not to be part of the series within an org when published by a different person. Consider these two:
- https://dev.to/vinted/vinted-search-scaling-chapter-3-elasticsearch-index-management-3jb5
- https://dev.to/vinted/vinted-search-scaling-chapter-4-query-log-1me0

Both of these posts are under the same series, but one of

[2021-12-22 09:14] ludwiczakpawel opened #15858 "Post scheduling"
### TL;DR

Let users schedule their post's publication date and time.

### Description

Add a UI control (ideally [`input[type="datetime-local"]`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local) as it comes with browser's native handy controls for date and time picker) to let authors schedule their posts instead of immediate publishing. The [flow is visualized in th

[2021-12-22 09:47] anujbhavsar96 opened #15859 "Post scheduling - Admin"
### Description

Based on #15858, Make necessary changes on the admin side.

- We will have to add an article `Scheduled` state indicator on the article page `/admin/content_manager/articles`
- Instead of `Published at` change the label to `Publish at` for the date and time.

[Mockup](https://user-images.githubusercontent.com/84626054/147073577-277f9720-36b0-47b4-b15a-4cfa54c0dcae.png)

[2021-12-22 10:48] ludwiczakpawel commented on #15859
For the user-facing side (#15858) the intention was to use [`input[type="datetime-local"]`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local) which comes with bunch of handy browser-native user controls for setting date and time. It would be worth reusing the same thing in Admin side too instead of these multiple selects we have right now - I think the input provides

[2021-12-22 16:02] djuber commented on #15857
@buinauskas Thanks for the report. I can reproduce this locally. I'm not sure if it's been reported before (I'll check for closed issues).

Steps to recreate in a local environment:

- as user 1 create an organization
- as user 1, create two posts in a series (either selecting the hexagon to expose the series name, or by setting a series: attribute in the front matter, depends on your editor versi