[2020-02-17 15:52] jmfayard commented on #5274
Hello @michael-tharrington
Have you talked again about this feature?

[2020-02-17 15:52] maestromac commented on #6117
Thanks for the issue! I went ahead and updated the title to clarify the request.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we

[2020-02-17 15:52] maestromac commented on #6118
Thanks for the issue! I went ahead and updated the title to clarify the request.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we

[2020-02-17 15:53] mstruve opened #6119 "Return a Unauthorized Error from API when Current User is Not Found"
There are a couple of endpoints in our API where we require a current_user to be present but we are not ensuring that it exists during our authentication. The two endpoints we have seen errors from because of this are below:
Honeybadgers and Errors:
https://app.honeybadger.io/fault/66984/029a751b03584e85380d5f6b69de050f
[code]
https://app.honeybadger.io/fault/66984/ea66d2941c66d56887febf955a5e16e3

[2020-02-17 16:01] FultonBrowne opened #6120 "only one post loading"
**Describe the bug**

only one post loading

**To Reproduce**

go to home page

**Expected behavior**

**Screenshots**

![Screenshot from 2020-02-17 07-59-17](https://user-images.githubusercontent.com/50185337/74669260-a4624980-515b-11ea-9e7a-86c494853ae7.png)
![Screenshot from 2020-02-17 07-59-20](https://user-images.githubusercontent.com/50185337/74669264-a62c0d00-515b-11ea-8a22-980dec9ccace.png

[2020-02-17 16:02] rhymes commented on #6119
this is a bit odd as the endpoint is protected with `authenticate_with_api_key_or_current_user!`

it should never get inside the actual method if the user is not authorized:

https://github.com/thepracticaldev/dev.to/blob/b126326728bd30830f7f7a3ce55caebd10f88783/app/controllers/api/v0/followings_controller.rb#L4

yeah, we should definitely force authentication in a before action here, as it's not

[2020-02-17 16:03] rhymes commented on #6120
Hi @FultonBrowne, do you have any errors in the console?

[2020-02-17 16:04] FultonBrowne commented on #6120
sorry @rhymes i am no web developer.
here it is

`Error getting user and CSRF Token Error: "Couldn't find user data on page."
    e util.js:14
    ___hb base-665b4421d83bba059c63b2630d8c0b5ba407d782d7a12114e7085c855c1e4b2a.js:4
    e base-665b4421d83bba059c63b2630d8c0b5ba407d782d7a12114e7085c855c1e4b2a.js:4
base-665b4421d83bba059c63b2630d8c0b5ba407d782d7a12114e7085c855c1e4b2a.js:4:14120
`

[2020-02-17 16:04] FultonBrowne commented on #6120
this is also happening on my phone

[2020-02-17 16:07] thomasledoux1 commented on #6120
I'm also getting this problem.
base-665b4421d83bba059c63b2630d8c0b5ba407d782d7a12114e7085c855c1e4b2a.js:formatted:1578 Uncaught TypeError: Cannot read property 'concat' of undefined
Hope this helps!

[2020-02-17 16:10] brandinchiu commented on #6120
Ran into this this morning too.  It also looks like it's creating some issues with creating posts. I've been working on a draft for the last couple of days, including today.

I saved the draft by accident, and my changes were visible in the preview, but if I went to edit the draft, those changes were no longer there.  Tried logging out and then back in, and now those changes are no where to be fou

[2020-02-17 16:12] FultonBrowne commented on #6120
@rhymes it does work if no user is logged in

[2020-02-17 16:21] JesseSingleton commented on #6120
Same problem here.

OS: windows
Browser: chrome
Version: latest

Other notes:
* I'm using Ublock origin.
* The problem does not affect incognito browsing when not signed in
* Signing out and signing in again seems to work, until you refresh or navigate and then only one post loads.

Chrome dev tool warnings:
![image](https://user-images.githubusercontent.com/17176370/74670545-52dcad80-51a1-11ea-8f

[2020-02-17 16:23] drebits commented on #6120
Same issue:
![pic](https://i.ibb.co/LYyZdB1/deverror.png)

[2020-02-17 16:32] FultonBrowne commented on #6120
well I guess its not a firefox issue (I get those a lot)

[2020-02-17 16:59] maestromac commented on #6120
Thank you all for reporting and submitting those helpful console logs!

We just pushed some changes and it should resolve this issue. Please let us know right away if this issue persists!

[2020-02-17 16:59] #6120 closed

[2020-02-17 17:36] CodeMouse92 commented on #5008
I don't want this feature suggestion to get sidetracked by the above.

[2020-02-17 18:45] felipebrunetti94 opened #6126 "Increase test coverage in the front-end"
**Is your feature request related to a problem? Please describe.**
Currently, a lot of components only have snapshot tests, snapshot doesn't test how the components behaves. I think adding more test coverage would make the code more maintainable and easier to refact.

**Describe the solution you'd like**
Add more test coverage for Preact components.

[2020-02-17 19:45] rhymes commented on #6126
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-17 20:02] michael-tharrington commented on #5274
Thanks for flagging this! Admittedly, I'd forgotten to bring this up. I will do very soon!

[2020-02-18 01:37] nickytonline commented on #338
I've downgraded Storybook so that we can get working with it. We can upgrade to the latest once the Babel/Webpack/Webpacker upgrades are done.

[2020-02-18 02:25] ryan3E0 commented on #6094
@citizen428, that worked. I think the docs update had some typos so I submitted a PR to fix those. Thanks!

[2020-02-18 03:08] citizen428 commented on #6094
Thanks for the PR @ryan3E0, much appreciated.

[2020-02-18 03:47] maestromac commented on #5389
Hello @mdamaceno . Are you still experiencing this issue? I was unable to reproduce it

![image](https://user-images.githubusercontent.com/15793250/74702244-66a30680-51d7-11ea-9459-eda42ad7d251.png)

[2020-02-18 04:06] citizen428 commented on #6085
It depends, do you see any messages related to `o.e.c.r.a.DiskThresholdMonitor` in your ES logs?

[2020-02-18 07:48] Ridhwana commented on #6075
This has been done using the data update scripts in [#6109](http://github.com/thepracticaldev/dev.to/pull/6109)

[2020-02-18 11:34] slushnys opened #6139 "After deleting account, it keeps the user logged in."
After deleting an account permanently, I was still logged in with a user icon on the right side with options to view dashboard, sign out, etc.

I had to manually sign out in order to access my other account.

**Expected behavior**

After deleting an account app should direct me to homepage without any user saved in the session.

[2020-02-18 12:18] #6075 closed

[2020-02-18 12:39] rhymes commented on #6139
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-18 12:48] rhymes commented on #6085
Interesting, apparently it's the only thing that's logging:

[code]

How do I tell ES to chill :D ?

Running `elasticsearch-oss` from the sources, see https://docs.dev.to/installation/mac/

I found this https://www.elastic.co/guide/en/elasticsearch/reference/7.5/disk-allocator.html - I guess I need to change one of those settings

These are my settings:

[code]

[2020-02-18 13:15] Ridhwana commented on #5702
<img width="1189" alt="Screenshot 2020-02-18 at 15 14 05" src="https://user-images.githubusercontent.com/2786819/74739369-5899c800-5261-11ea-9079-ac33aee83232.png">

[2020-02-18 14:10] mstruve opened #6140 "Add Thumbsdown Reaction an Image For View"
When we try to load the reaction partial for a notification and the reaction is the "thumbsdown" category, the view breaks bc we don't have an Image for that.
Honeybadger: https://app.honeybadger.io/fault/66984/d4b4628080a41228eea5314b40dd1275
[code]

Here is where we load our paths from and as you can see there is no "thumbsdown" image
[code]

We should add an image for "thumbsdown" and ensure th

[2020-02-18 14:23] mstruve opened #6142 "Invalid Mastodon URL Should Not Break Profile Update"
Currently when a user tries to save an invalid Mastodon URL the save will cause a 500 error when we try to validate the URL when validating the user.
Honeybadger: https://app.honeybadger.io/fault/66984/a02c794a66b30759ef45f2bfb5f09132
Error:
[code]
User model code raising the error:
[code]

Rather than causing a 500 here we should catch the error and add the error message to the `mastodon_url` fie

[2020-02-18 14:39] gonzar11 commented on #6142
Hey I would like to work on this!

[2020-02-18 14:50] mstruve opened #6143 "Admin HtmlVariant Show Page is Broken"
When we try to load an html_vairant show page in admin we end up with the following error:
Honeybadger: https://app.honeybadger.io/fault/66984/4a8821c94eccb0d289f41040f64f50a4
[code]

I believe it comes from our `app/dashboards/html_variant_dashboard.rb:` file which has a `has_many html_variant_trials` relationship on it. I think something here assumes then that should have a dashboard.

[2020-02-18 15:26] JuanVqz commented on #6140
Would you like I take it? I'll add an image for "thumbs down" like this one 👎 . it's ok?

[2020-02-18 15:53] binyamin opened #6148 "Dev Contributor Chat"
I've been working on #5172, and I had trouble setting up my local DEV environment (I worked it out in the end). It was frustrating that there was no way to get in touch with other contributors without opening a formal issue.

If there was a group chat for DEV contributors, it may be easier for first-timers to contribute. Some popular, free platforms are Gitter, Discord, and Slack. A forum (discour

[2020-02-18 16:00] rhymes commented on #6140
@JuanVqz go a head! we do have a thumbs down image here: `app/assets/images/emoji/emoji-one-thumbs-down.png`

[2020-02-18 16:43] rhymes commented on #4195
@pdesjardins90 Sorry, it took us a while to get back to fix this. Can you confirm it works for you?

I tried with:

[code]

and it worked well :)

[2020-02-18 16:47] JuanVqz commented on #6140
Just a question, I already added thumbs down

How can I ensure the view doesn't break?

[2020-02-18 17:40] rhymes commented on #6140
Hi @JuanVqz I think the best shot is to add a test case to this section: https://github.com/thepracticaldev/dev.to/blob/master/spec/requests/notifications_spec.rb#L157

If you look at the examples they all test either `like` or `unicorn`, adding a case for the thumbs down (you can verify if it breaks by commenting the new line you added in the PR) is probably the best way to test this:

https://gi

[2020-02-18 18:40] lisasy opened #6155 "[Phase 1] Sidebar Display (no articles)"
**Goal:**
Show a sidebar display to let people know that SheCoded & International Woman's Day is coming up soon.

**✨ Phase 1 is our soft launch on March 2nd.**

**Design assets:**
- [Figma](https://www.figma.com/file/Lyh8FDHvb7TX1RHbK6aOaB/Campaigns?node-id=341%3A2315)

[2020-02-18 18:43] lisasy opened #6156 "SheCoded Design UX Flow"
**Goal:**
Create a UX design template & system for campaigns, starting with SheCoded.

**See full design proposal:** https://www.figma.com/file/Lyh8FDHvb7TX1RHbK6aOaB/Campaigns?node-id=341%3A2315

[2020-02-18 18:45] lisasy opened #6157 "[Phase 2] Sidebar Display (with articles)"
**Goal:**
Show a sidebar display to let people know that SheCoded & International Woman's Day is happening right now.

**✨ Phase 2 is our full takeover launch from March 6th-9th**

Design assets:
- [Figma](https://www.figma.com/file/Lyh8FDHvb7TX1RHbK6aOaB/Campaigns?node-id=380%3A1179)

[2020-02-18 18:47] lisasy opened #6158 "[Phase 2] Hero Banner Display"
**Goal:**
Show a hero banner display that takes over a lot of the homepage so that people know that is happening right now.

**✨Phase 2 is our full takeover launch from March 6th-9th**

**Design assets:**
- [Figma](https://www.figma.com/file/Lyh8FDHvb7TX1RHbK6aOaB/Campaigns?node-id=341%3A2398)

**UX details:**
- If a user goes through the flow of sharing a story and returning to their home, this b

[2020-02-18 18:51] nickytonline commented on #338
cc: @Zhao-Andy

[2020-02-18 19:26] mdamaceno commented on #5389
@maestromac Yes, I am. Opening the Inspect Element in Firefox, I notice the background element is #f5f6f7.

![devto-bug](https://user-images.githubusercontent.com/4340542/74770456-0fe70c80-526b-11ea-9b15-4b0e56b357a0.png)

Is this element programmed to get the background color from OS?

[2020-02-18 19:34] maestromac commented on #5389
No, it's not based on your OS's background color. The font there has `color: $black;` hardcoded to it so I wonder if this is particular to your system. If you don't mind trying, are you able to reproduce this error on Chrome? can you also swap back and forth between theme to see if that makes a difference?

[2020-02-18 20:10] mdamaceno commented on #5389
@maestromac You're right! I've found the reason for the problem. It was an extension https://addons.mozilla.org/en-US/firefox/addon/fix-dark-theme-input-boxes/?src=search. Disabling it, the number appears normally. Thanks for your help and time!

[2020-02-18 20:26] maestromac commented on #5389
Happy to help 😄 . Let us know if this ever comes up again.

[2020-02-18 20:26] #5389 closed

[2020-02-18 21:01] b3u commented on #6065
another alternative is `@here`

[2020-02-18 21:03] b3u commented on #6118
@maestromac the oss team seems to be defunct, as the link goes nowhere

[2020-02-18 21:08] JuanVqz commented on #6140
Hi, Thanks for the suggestion @rhymes.
I tested and I noticed about thumbs down is not a valid category but it is in categories array,
can you help me, please?

![image](https://user-images.githubusercontent.com/7331511/74778031-5f740b00-5260-11ea-98ee-202fe48a5763.png)

[2020-02-18 21:17] maestromac commented on #6118
@b3u It's a private team but it will ping the proper people when you use it. Thank you though for pointing that out, I wasn't aware that it's not a public-facing link.

[2020-02-18 22:06] binyamin opened #6163 "Profile link settings is becoming cluttered"
**Is your feature request related to a problem? Please describe.**
There are a few issues requesting more profile link fields (deviantart #6117, pinterest #6118, codepen #6087), but there is not much space in the UI to display them all without increasing the page-scroll time. I expect that there will be more requests to come.
- The current UI is easily susceptible to becoming cluttered with fields

[2020-02-18 23:08] #2826 closed

[2020-02-19 03:31] citizen428 commented on #6085
You can try to change the cluster config, something like

[code]

[2020-02-19 03:58] b3u commented on #5692
@madarsbiss pocket offline seems to be a mac-only product. This solution would be cross-platform.

Also, there should probably be an opt-in/opt-out toggle in setttings.

[2020-02-19 05:45] Toraja4d opened #6167 "SPam ?"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-02-19 07:02] #6167 closed

[2020-02-19 07:04] citizen428 commented on #6163
Thanks for the issue @b3u! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, p

[2020-02-19 07:26] rhymes commented on #6140
Sure! If you open `app/models/reaction.rb` you'll see where the error comes from:

https://github.com/thepracticaldev/dev.to/blob/d05ceb4d983fbc7d4d7006de616694444acf8423/app/models/reaction.rb#L161-L162

Basically we don't allow `thumbsdown` reactions from untrusted users, same for `vomit`.
The spec should help you understand how to get that to pass:

https://github.com/thepracticaldev/dev.to/blo

[2020-02-19 07:28] citizen428 commented on #6140
@JuanVqz You have to make sure the user is trusted (`user.add_role(:trusted)`) for it to work. The errors gets added by the following validation:

[code]

[2020-02-19 07:49] rhymes commented on #6085
doesn't work :( I'll investigate later

[code]

[2020-02-19 09:27] daolf commented on #4606
Did it here: https://github.com/thepracticaldev/dev.to/pull/6168

[2020-02-19 09:45] mzaini30 opened #6169 "I can't use "copy to clipboard" in add image in new post"
![Alt Text](https://dev-to-uploads.s3.amazonaws.com/i/4akj8q75xgj51q0408zk.jpg)

![Alt Text](https://dev-to-uploads.s3.amazonaws.com/i/1oz46jworez9ncjdsieb.jpg)

My device: Realme C2 - details https://www.gsmarena.com/realme_c2-9670.php
Operating system: Android 9.0 (Pie); ColorOS 6 Lite
My browser: Via Browser

[2020-02-19 09:54] rhymes commented on #6169
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-19 10:00] thomaswaye opened #6170 "Unable to access with right ID & PW? Why"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-02-19 10:01] rhymes commented on #6170
Hello @thomaswaye, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-02-19 10:01] #6170 closed

[2020-02-19 14:49] joshpuetz opened #6173 "Gitpod missing ElasticSearch"
Gitpod is missing ElasticSearch in it's setup, resulting in the project failing to complete setup and start a Rails server:

![image](https://user-images.githubusercontent.com/37842/74845716-0609eb80-52f5-11ea-91fb-da462f2f9a90.jpg)

[2020-02-19 16:10] rhymes opened #6175 "Data updates should be rerunnable"
**Describe the bug**

`rails data_updates:run` ran twice doesn't re-run the script, or at least it doesn't register it as a success the second time.

The script that was pull from master is `lib/data_update_scripts/20200217215802_index_classified_listings_to_elasticsearch.rb`

[code]

though the errors I have are likely related to https://github.com/thepracticaldev/dev.to/issues/6085

I think this

[2020-02-19 16:25] trusktr opened #6176 "Ability to filter and sort posts by different criteria"
**Is your feature request related to a problem? Please describe.**

Feature request

**Describe the solution you'd like**

For example

- filter by has image header
- filter by has video header
- sort by popularity
- sort by most recent
- sort by fastest rate of likes
- sort by highest bookmark, highest hearts, or highest unicorn
- sort by least liked
- filter by help questions
- etc

That would b

[2020-02-19 18:21] dotNetkow commented on #3363
The [Ionic team](https://dev.to/ionic) would love this! Since new posts currently appear under "Personal", not the Organization, only the person that originally set up the RSS feed in the first place can see them - making it hard to collaborate.

[2020-02-19 18:41] #5959 closed

[2020-02-19 19:04] maestromac commented on #5808
Resolved with https://github.com/thepracticaldev/dev.to/pull/6093

[2020-02-19 19:04] #5808 closed

[2020-02-19 19:35] #4606 closed

[2020-02-19 22:09] Dianna1233 opened #6185 "BINARY OPTIONS TRADING and FOREX!!!"
MAKE YOUR BINARY/BITCOIN/FOREX OPTIONS INVESTMENTS TRADING WITH MR KENT AND AVOID THOSE LOSSES YOU MIGHT

BE EXPERIENCING RIGHT NOW. HE'S SECURE AND TRUSTWORTHY. HE HAS REALLY AFFECTED MY LIFE AND THAT OF MY

FAMILY THROUGH OPTION TRADING. AND AM VERY  GLAD I MET HER EARLY, AT THE TIME I NEEDED AN ACCOUNT MANAGER

AFTER EXPERIENCING SO MUCH SCAMS IN THE PAST. HE DOES NOT REQUIRE A HUGE AMOUNT FOR

[2020-02-19 22:11] xanderyzwich commented on #6176
I'd also like to see a filter based on minimum read time.  There have been a lot of posts with no real material; just a link or video.

[2020-02-19 23:24] JuanVqz commented on #6140
Hi! again me!
I solved a trusted user with your help but now the test passes with and without reaction image "thumbsdown".

Do I need to do something else?
Thanks!

![image](https://user-images.githubusercontent.com/7331511/74885943-72f4a400-533c-11ea-8ef1-fb4a5a89e686.png)

[2020-02-20 00:31] mzaini30 opened #6187 "Syntax highlighting for Pug/Jade"
Is there syntax highliting for Pug?

![Alt Text](https://dev-to-uploads.s3.amazonaws.com/i/w4yql59i9lnjswchsa9h.png)

![Alt Text](https://dev-to-uploads.s3.amazonaws.com/i/8m64var1s42dtwjxl9oo.png)

[2020-02-20 06:11] citizen428 commented on #6176
Thanks for the issue @trusktr! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need hel

[2020-02-20 06:19] citizen428 commented on #6187
Thanks for the issue @mzaini30. We use [Rouge](https://github.com/rouge-ruby/rouge) for syntax highlighting, which does not yet have support for Pug/Jade ([issue 1](https://github.com/rouge-ruby/rouge/issues/273), [issue 2](https://github.com/rouge-ruby/rouge/issues/953)).

I will close this issue for now, as it's dependent on upstream changes.

[2020-02-20 06:19] #6187 closed

[2020-02-20 06:32] rhymes commented on #6140
No, I think you're ready to submit a draft PR, check the build passes and then mark it as ready to review🔥

Thank you @JuanVqz

[2020-02-20 06:56] citizen428 commented on #6175
Looking at the code we only run `enqueued` updates, so if you change the status of the relevant update scripts from 3 to 0 you should be able to run them.

Maybe we should add a rake task like `rails data_updates:retry` that takes an update script name as argument.

[2020-02-20 07:14] ludwiczakpawel opened #6191 "Sponsorship-arbitrary widget img being cut off a little"
Right border is missing on the image https://d.pr/i/2QzxJk

[2020-02-20 07:15] ludwiczakpawel opened #6192 ""Who to follow" widget in right sidebar on Tag page is a bit broken..."
https://d.pr/i/BuDVV6

[2020-02-20 07:18] ludwiczakpawel opened #6193 ""Pull to refresh" on mobile web is kinda broken..."
https://dev.to/mzaini30/comment/ll9l

[2020-02-20 07:18] ludwiczakpawel opened #6194 "Truncating tags"
https://dev.to/mzaini30/comment/llaj

[2020-02-20 07:27] ludwiczakpawel opened #6195 "Featured articles tags have underline on hover..."
...BUT between the tags... 🤔

[2020-02-20 07:30] ludwiczakpawel opened #6196 "Improve hover styles for links in sidebar"

[2020-02-20 09:46] ludwiczakpawel opened #6199 "Hover in sidebar items on dark themes"
https://dev.to/axelledrouge/comment/llln

[2020-02-20 12:44] awebartisan opened #6206 "Social preview link of article is breaking"
**Describe the bug**
When sharing to any social platform, preview card is not being generated

**To Reproduce**
Social preview link is broken as can be seen in screenshot below.

**Screenshots**

![image](https://user-images.githubusercontent.com/29105478/74934476-21195000-5408-11ea-979a-e292ae7e4fb8.png)

**Desktop (please complete the following information):**

- OS: MacOS
- Browser: Chrome
- Ve

[2020-02-20 12:46] rhymes commented on #6206
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-20 12:46] rhymes commented on #6206
Thanks for the issue @awebartisan, I'm going to look into it right away!

[2020-02-20 13:15] abdellani commented on #5965
Hi @mstruve

Can you please review my pull request in order to know what to do next :pray:?

[2020-02-20 13:18] abdellani commented on #6139
Hi
I want to take this one :)

[2020-02-20 13:29] rhymes commented on #6139
Go ahead @abdellani, and thank you!

[2020-02-20 13:50] #6206 closed

[2020-02-20 14:07] rhymes commented on #6173
Closed by https://github.com/thepracticaldev/dev.to/pull/6198

[2020-02-20 14:07] #6173 closed

[2020-02-20 15:10] kirylpl commented on #4308
https://github.com/thepracticaldev/dev.to/pull/4883

[2020-02-20 15:39] JuanVqz commented on #6140
I did! 🤩
@rhymes @citizen428 Thank you!

[2020-02-20 17:07] rhymes commented on #4308
Thanks for notifying us about this @kirylpl, this issue can be closed!

[2020-02-20 17:07] #4308 closed

[2020-02-20 19:00] benhalpern opened #6215 "Integrate Ahoy and other utilities in the @ankane tool suite"
We have had internal discussions about adopting tools for improved analytics, split testing, etc.

For longterm success and a commitment to data portability, transparency, and "bundled software" we could ship in repeatable packages, I'd love for us to use open source solutions that solve our problems. And we definitely don't need to be building a lot of these things from scratch.

In terms of gems

[2020-02-20 19:55] mstruve opened #6216 "Remove Direct ChatChannels When a User is Deleted"
When a user is deleted we correctly remove ChatChannelMemberships for that user. However, we do not remove the corresponding direct chat channels. This makes sense in the event that the Chat Channel has multiple users in it. However, with it is a direct chat channel then the channel should be removed.

This bug is causing this Honeybadger bc `other_user` is nil when we try to serialize the chat ch

[2020-02-20 20:29] Mrc0113 commented on #5156
This still doesn't seem to be working for me. I added a canonical_url to this post and it isn't showing up. https://dev.to/mrc0113/reflecting-on-my-first-hackathon-4g9g

It's included in the front matter as follows:
`canonical_url: https://www.marcd.dev/articles/2020-02/hackathon-reflections
`

[2020-02-20 22:43] maestromac commented on #5156
Hello @Mrc0113 , I just double checked and I do see your canonical_url listed out

![Screen Shot 2020-02-20 at 5 42 21 PM](https://user-images.githubusercontent.com/15793250/74987102-6f2e5380-5408-11ea-94cd-15ffd285a42c.png)

[2020-02-20 22:47] Mrc0113 commented on #5156
Maybe I'm misunderstanding. Shouldn't it show up at the top of the blog as "originally published at <url>" ?
Like this one did:
![image](https://user-images.githubusercontent.com/1815312/74987374-0abfc400-5409-11ea-8c5f-c6d8291978c0.png)

[2020-02-20 22:57] maestromac commented on #6148
We do have a DEV connect group chat for contributors but it's currently not an open group. If you would like to join, feel free to send me a message on https://dev.to/maestromac

[2020-02-20 23:07] maestromac commented on #5156
`Originally published at....` will only appear on Posts that are imported via RSS. But since you did provide canonical_url, it will still serve its SEO purpose

[2020-02-20 23:09] Mrc0113 commented on #5156
Okay thanks for the clarification. Sorry for the confusion.

[2020-02-21 01:02] omenking opened #6222 "An Organization API to pull stats for all members in an org"
**Is your feature request related to a problem? Please describe.**

Companies such as AWS have a DEV Organization and the Org Admin may want to pull stats via an API  so they can produce spreadsheets to help encourage other org members how to best prepare the content for the platform.

**Describe the solution you'd like**

API endpoints for organizations which return stats for all members of an or

[2020-02-21 01:48] alequetzalli commented on #6222
I am said example AWS admin person XD

What I love about the concept of sharing the entire team's stats is that it promotes a greater team mentality. This past month, I was able to share the AWS org's team's overall view stats and it was a great way to encourage newer bloggers whose posts were still under 100 views. Seeing that we reached a high views number together as a team is also an important

[2020-02-21 03:40] citizen428 commented on #6222
Thanks for the issue @omenking! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need he

[2020-02-21 03:52] mzaini30 opened #6224 "Add Svelte REPL"
Can we embed Svelte REPL to Dev posts?

Screenshot:

![Alt Text](https://dev-to-uploads.s3.amazonaws.com/i/nji2jnira4qa5mjubpsp.png)

Link: <https://svelte.dev/repl/hello-world?version=3.18.2>

[2020-02-21 06:04] citizen428 commented on #6224
Thanks for the issue @mzaini30! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need he

[2020-02-21 06:05] citizen428 commented on #6224
From a quick look, it seems like the Svelte REPL wasn't built with the intention of being embedded in other sites, so it seems a bit unlikely that we'll support that.

[2020-02-21 06:36] yogeshktm commented on #4879
hi @idris-rampurawala  please check from your side and let us know. so we can close this issue.

[2020-02-21 08:28] cyrillefr commented on #5914
Hello @joshpuetz , @rhymes ,

I think I can do that one.

My intention would be to replace:

`@comment.body.html_safe`
by
`sanitize @comment.body`
in each erb file the linter says so.

May I go with it ?

(I have found 135 instances and did not make a file count)

[2020-02-21 09:43] #6199 closed

[2020-02-21 09:43] #6196 closed

[2020-02-21 09:43] #6195 closed

[2020-02-21 09:43] #6194 closed

[2020-02-21 09:43] #6193 closed

[2020-02-21 09:44] #6192 closed

[2020-02-21 09:44] #6191 closed

[2020-02-21 10:17] rhymes commented on #5914
Hi @cyrillefr, thanks for offering!

Keep in mind that [html_safe](https://api.rubyonrails.org/classes/String.html#method-i-html_safe) and [sanitize](https://api.rubyonrails.org/classes/ActionView/Helpers/SanitizeHelper.html#method-i-sanitize) are not the same exact thing. The first tells Rails it doesn't need to escape the string, the second one actually cleans up the string.

I'm saying this bec

[2020-02-21 11:04] simo97 commented on #5973
+1 for this one

[2020-02-21 13:00] cyrillefr commented on #5914
Hello @rhymes ,

The other alternative would to use content_tag, but it also escapes content and for what I have seen, I might not be able to use it very often.

I will try to spot if there is a case where sanitize outputs cause changes.
I will pr for around 20 changes at a time, unless there is a bulk somewhere( there is at least one).

[2020-02-21 14:18] pdesjardins90 commented on #4195
@rhymes yeah it does! I tried closing this end of october as you can see up there but someone said it had to be verified for all endpoints. Feel free to close it now if everything's fine, thanks for the effort!

[2020-02-21 14:23] rhymes commented on #4195
Thanks for confirming, I'm going to leave this open as we haven't enabled it for authenticated endpoints yet :)

[2020-02-21 14:54] benhalpern commented on #6224
Maybe this could be a catalyst for getting it embeddable? Maybe someone can first make a feature request on their end with the awareness that we'd support it if it were?

[2020-02-21 14:59] #6216 closed

[2020-02-21 15:29] rhymes opened #6232 "Track tests and overall builds time over time"
**Is your feature request related to a problem? Please describe.**

It'd be great if we get to a point where we can have a neat dashboard that tells us the two following info:

- how long does it take for `bundle exec rspec` to run in CI ?
- how long does the overall build take?

As the code grows and tests grow it's easy to forget about this and end up with a super slow test suite.

Having a plac

[2020-02-21 15:31] mzaini30 commented on #6224
In Svelte Docs, The Svelte REPL embedded with `iframe` tag.

Code:

[code]

Link: <https://svelte.dev/blog/write-less-code>

![Alt Text](https://dev-to-uploads.s3.amazonaws.com/i/q2cuxy9kecibztey47ki.png)

[2020-02-21 16:00] maestromac commented on #6232
I believe we are already keeping track of how long the whole Travis build takes but it currently doesn't differentiate between deploy and non-deploy build.  cc @mstruve

here are some of the metrics that are currently available to us.
![image](https://user-images.githubusercontent.com/15793250/75050102-57eb7680-5499-11ea-9637-5cba8fb93d2a.png)

[2020-02-21 16:42] rhymes commented on #6232
Oooh! didn't find any info about those in the code so I opened the feature request, magic of DD I guess

[2020-02-21 16:48] benhalpern commented on #6232
Close the issue?

[2020-02-21 17:05] maestromac commented on #6232
@rhymes Yeah no code on that, just [direct integration](https://docs.datadoghq.com/integrations/travis_ci/)

@benhalpern We can still address the `how long does it take for bundle exec rspec to run in CI ?` portion.

[2020-02-21 18:53] #6119 closed

[2020-02-21 21:41] joshpuetz commented on #6215
I think there's a strategic component to consider as DEV becomes more portable and re-usable. Bundling open source packages for workflow/data/analysis is great for other small and free adopters. For any corporate users, it'll be a no-go: they'll want to use paid external services (for support, SOX compliance, etc). As long as the packages we choose are modular/removable/optional, I think we'll be

[2020-02-22 03:04] WaylonWalker opened #6240 "Termynal support"
I came across a package today that had some really sweet terminal animations, and found that they had written them all in **markdown** and simply imported termynal.js to get the animations.  I think they would be  a really cool feature in dev.to, but am not 100% sure how it would get implemented.  Just an idea I am throwing out.

![example](https://user-images.githubusercontent.com/13643239/269355

[2020-02-22 07:25] mzaini30 commented on #1228
I think, you have to write `&lt;marquee&gt;`

[2020-02-22 07:28] mzaini30 opened #6241 "Embedded Codepen in post isn't show"
![Alt Text](https://dev-to-uploads.s3.amazonaws.com/i/6hgnmk1eevgtlb5h9w72.png)

Not only in one post. But it's happen in all posts (with Codepen embed)

[2020-02-22 11:53] rhymes commented on #6240
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-22 11:54] rhymes commented on #6240
Hi @WaylonWalker, do you mean to suggest this to be used for the scripts output?

[2020-02-22 11:54] rhymes commented on #6241
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-22 11:56] rhymes commented on #6241
Hi @mzaini30, thanks for raising this issue, in the meantime can you provide the following info?

- which URL is that post from?
- what kind of errors does your browser log in the console?
- which browser?

thanks

[2020-02-22 11:57] mzaini30 commented on #6241
- all posts
- err blocked by response
- via browser (device: realme c2)

[2020-02-22 11:57] rhymes commented on #6241
I tried with this https://dev.to/codypearce/pbs-logo-animation-with-css-14h4 and other [posts tagged codepen](https://dev.to/t/codepen) but I see no issues, do you have any specific extensions installed that might block the content?

[2020-02-22 13:36] WaylonWalker commented on #6240
Yes.

[2020-02-22 14:05] mstruve opened #6245 "Prevent Invalid Article Url Characters From Breaking Article Show Action"
When a user tries to view an Article with a slug that contains invalid characters, we break trying to lookup the article. For example, say you attempt to visit this blog post https://dev.to/devteam/call-for-contributions-move-all-delayedjobs-to-sidekiq-246k BUT instead, you replace some characters with invalid ones, https://dev.to/devteam/call-for-contributions-move-all-%delayedjobs-to-sidekiq-246

[2020-02-22 17:18] bighappytrees commented on #5226
Can I take a crack at this?

[2020-02-22 17:29] rhymes commented on #5226
Hi @bighappytrees, thanks for volounteering! This seems not to be a problem anymore, see the article that this issue was based upon:

![Screenshot_2020-02-22 Why amp; How I built css gg - A life story - DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/75096550-f282ad00-55a0-11ea-8a4c-6f33cc251d68.png)

In addition there's a PR opened to fix this https://github.com/thepractica

[2020-02-22 17:35] bighappytrees commented on #5226
Thank you @rhymes I'll find another issue to tackle.

[2020-02-23 13:44] Math3v commented on #6245
@mstruve Hello 👋 . I'm new to dev.to and I tried to fix this issue. I was hoping to get a review, if someone has time. Thank you!

[2020-02-23 14:15] Math3v opened #6251 "Flaky Comment Spec"
**Describe the bug**
Sometimes, the Comment spec named `"retains content from #processed_html"` randomly failed. This was happening only when the `Comment` model was created with a `body_markdown` that included special characters, e.g. `&` as in: `Migas fingerstache pbr&b tofu.` from `Faker::Hipster` module.

The expect part was comparing `&` with `&amp;` which was failing the spec. By unescaping

[2020-02-23 16:10] Rahul626 opened #6252 "Ooooops... You have encountered an error"
**Describe the bug**

when I try to write a post I face the same issue reinstall my browser and tried different desktop but i getting  same bug!

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: windows10
- Browser: Google chrome
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browse

[2020-02-23 16:15] Rahul626 opened #6253 "Bug encountered! same error for long time :(When try to write post)"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

![image](https://user-images.githubusercontent.com/42401032/75115560-8747e200-5657-11ea-9dd9-5ad254507d2f.png

[2020-02-23 16:49] rhymes commented on #6252
Hello @username, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-02-23 16:49] rhymes commented on #6252
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-23 16:50] rhymes commented on #6252
Hi @Rahul626, can you please describe what you're doing? Does it log anything in the browser's console?

[2020-02-23 16:50] rhymes commented on #6253
Closed in favor or https://github.com/thepracticaldev/dev.to/issues/6252

[2020-02-23 16:50] #6253 closed

[2020-02-23 17:30] wolfiton opened #6254 "Add the posibility to edit in preview mode an article"
**Is your feature request related to a problem? Please describe.**

It would be great to be able to edit the article and have the preview on as well.

**Describe the solution you'd like**

So basically what I am saying is to be able to edit in preview mode(markdown preview) an article.

**Describe alternatives you've considered**

To integrate preview mode into the edit mode by default so that whe

[2020-02-23 21:43] rhymes commented on #6254
Hi @wolfiton, thanks for opening this feature request. It seems that from time to time this idea pops up as it's understandably interesting for writers. As I believe this is a duplicate of https://github.com/thepracticaldev/dev.to/issues/3049 I'm going to close it and ask you if you can add your proposal to #3049 as a comment.

Thanks a lot!

[2020-02-23 21:43] #6254 closed

[2020-02-24 03:38] citizen428 commented on #6224
I see, thanks for adding this @mzaini30! My main concern was that there is no share button or something similar on the REPL page itself, so I was wondering if this is mainly for internal use in the Svelte docs, not for external consumers. See e.g. this issue, which sounds more like the former to me:

https://github.com/sveltejs/svelte/issues/2216

[2020-02-24 03:46] citizen428 opened #6255 "Reorganize internal and public API controllers."
During the discussions in #6136 it became clear that not all controllers currently residing in `app/controllers/api/v0` are meant for the public API, some are used by the DEV website itself. Since we use slightly different authorization methods and checks this can lead to subtle bugs, so we should move things that aren't mean for public consumption to a different namespace or to a `responds_to blo

[2020-02-24 04:06] citizen428 commented on #6241
It also works for me. Can you please try another browser @mzaini30, so we can make sure it's not a Via Browser issue (maybe related to `X-Frame-Options` or similar)?

[2020-02-24 07:23] Math3v commented on #4712
@rhymes Can this one be closed? It looks like it's fixed.

[2020-02-24 08:59] rhymes commented on #6255
Adding a note here as the API docs are not the correct metric of evaluation since they are largely incomplete, see https://github.com/thepracticaldev/dev.to/issues/4474

I think we can only move those controllers that do not currently require an API key or OAuth as auth

[2020-02-24 09:02] citizen428 commented on #6255
Thanks @rhymes, description updated.

[2020-02-24 09:03] rhymes commented on #4712
@Math3v I don't think it is, if you click on the OP's profile - https://dev.to/joshichinmay - you'll notice how it's still cutout for them:

![profile](https://user-images.githubusercontent.com/146201/75139401-cffdaa80-56ec-11ea-82d5-cfd7f6a631ac.gif)

[2020-02-24 09:15] citizen428 commented on #6255
@rhymes Going through #4474 it looks like it just includes everything that's in `api/v0/controllers`, including things like Github repos that started the whole conversation in #6136. So I think step 1 would be to clean up that issue and you definitely have more context on the API than I do.

[2020-02-24 10:00] citizen428 commented on #5791
Closed via #5999

[2020-02-24 10:00] #5791 closed

[2020-02-24 10:03] Ridhwana opened #6259 "#shecoded html for the campaign hero banner"
- [x] Create the html for the hero campaign banner
- [x] Need to make it responsive too
- [x] Ensure that the user is able to close the hero banner and it will not show up again for him/her

Needs to look like this based on Figma design

![hero-banner-v6](https://user-images.githubusercontent.com/2786819/75143704-3939e980-56fe-11ea-92f7-989e0ae541ab.png)

[2020-02-24 10:09] Ridhwana opened #6260 "#shecoded landing page"
- [x] Create the html and css for page that needs to be uploaded from internal
- [x] Create the javascript to load posts via js. (i.e. create an endpoint (or use an existing one) to load posts and insert them into the page dynamically via js)

[2020-02-24 10:12] rhymes commented on #6255
Updated the list there, thanks @citizen428!

These are those that should be moved:

[code]

There's also this:

[code]

this shouldn't be part of the public API but it currently is, it uses `authenticate_with_api_key_or_current_user`, so we we might have to investigate into Datadog to see if anybody other than us is using it or just leave it there.

[2020-02-24 10:15] citizen428 commented on #6255
Awesome, thanks for the list @rhymes, I'll get started on this tomorrow.

[2020-02-24 10:27] LenaCharles opened #6261 "Before creating a bug report"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-02-24 10:36] Ridhwana commented on #6259
Assets:

![lettered logo](https://user-images.githubusercontent.com/2786819/75145604-f24df300-5701-11ea-8fd5-7bc54a0a430f.png)
![sticker](https://user-images.githubusercontent.com/2786819/75145606-f37f2000-5701-11ea-876e-25fbbc461c67.png)

[2020-02-24 14:56] wolfiton commented on #6254
Thanks, @rhymes,
For the quick response, I will folow your suggestion and add my comment to the old issue.

[2020-02-24 15:10] wolfiton commented on #3049
+1 for tui editor and live preview editing by default it should work with an SSR(server side rendering) setup.

[2020-02-24 18:28] benhalpern commented on #6215
@joshpuetz Really great points to bring up.

I don't think our use of any of this precludes us in any way from adding features that allow for external services to be plugged in in different places when needed. If anything we get to establish a pattern where we have our own interfaces and then we can send to wherever that organization keeps their data as we figure out those needs.

I think since we

[2020-02-24 18:37] #6085 closed

[2020-02-24 18:41] #6245 closed

[2020-02-24 19:19] nonopolarity opened #6284 "Differentiate between Tags and Post's Topic"
**Is your feature request related to a problem? Please describe.**

sometimes we really have 4 tags, but the "anonymous" used up one tag.
what about "discuss" or "question", can they not take up a tag too, because they are not a "topic" of tech. (like JavaScript or ReactJS)

If it is   Anonymous, Discuss, Interview, Career, and LeetCode, we have to discard one because it is 5 tags... but the quest

[2020-02-24 20:30] 5t3ph opened #6285 "Resolve text contrast for the .dashboard-top-pill"
I'm a series writer, and the contrast right now for the `.dashboard-top-pill` which encloses the series title on the Dashboard view has very poor contrast - white over light grey.

The current `color` value is `var(--theme-container-background, #fff)` and I would suggest updating to `var(--theme-container-color, #0a0a0a)` or considering an altered design that improves the contrast of this text.

I

[2020-02-24 22:24] maestromac commented on #6240
I think powerbar (https://github.com/busyloop/powerbar) would be a great candidate for this

[2020-02-24 22:34] xanderyzwich commented on #5566
@maestromac  I've updated my rss configuration and `<categories>` is not being picked up as tags in dev's dashboard.

[2020-02-24 22:41] WaylonWalker commented on #6240
I should maybe clarify that I am suggesting for a way to include termynal support for posts.  It has the capability to animate pre - code blocks generated from markdown.

[2020-02-24 23:45] maestromac commented on #5566
Terribly sorry @xanderyzwich , I've made a mistake. The correct tag is `<category>` (https://www.w3schools.com/xml/rss_tag_category_item.asp). Here is an example of a feed with category tag https://medium.com/feed/@vaidehijoshi

[2020-02-24 23:48] #6251 closed

[2020-02-25 00:13] #6142 closed

[2020-02-25 05:03] arsadvc commented on #873
Profile Image not updating even after we change

[2020-02-25 06:16] #6261 closed

[2020-02-25 06:19] citizen428 commented on #6284
Thanks for the issue @jianlin! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need hel

[2020-02-25 06:29] citizen428 commented on #6285
Thanks for the issue @5t3ph! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help,

[2020-02-25 08:23] yashwanth2804 opened #6287 "Make Tags mentioned in the user card clickable"
![Screenshot from 2020-02-25 13-43-49](https://user-images.githubusercontent.com/8038593/75228518-33afd280-57d6-11ea-950f-2c754f8b8f00.png)

[2020-02-25 09:22] rhymes commented on #6240
Ok, then I didn't understand the feature request either :(

[2020-02-25 09:39] rhymes commented on #6287
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-25 09:40] ludwiczakpawel commented on #6285
Hey @5t3ph and thanks for reporting!

Fix for this is coming: #6288 and should be soon up on DEV 🙌

[2020-02-25 11:36] ackava commented on #5163
@maestromac Still same issue,

![image](https://user-images.githubusercontent.com/39438041/75244030-ff95db00-57f0-11ea-9304-9eb44d48f91f.png)

Edge Version
Microsoft Edge 44.17763.831.0
Microsoft EdgeHTML 18.17763

[2020-02-25 12:57] maestromac commented on #6284
Hello @jianlin , I've updated the title to better reflect what's being asked.

Please keep in mind that you can always post anonymously by emailing sloan@dev.to

[2020-02-25 13:07] rhymes commented on #5163
@ackava would it be possible for your to upgrade to the new Edge? https://support.microsoft.com/en-us/help/4501095/download-the-new-microsoft-edge-based-on-chromium

[2020-02-25 15:21] #6285 closed

[2020-02-25 22:30] #5739 closed

[2020-02-26 00:08] brandinchiu opened #6298 "Draft vs Edit pages for post drafts displaying different content"
**Describe the bug**

I have a draft post I have been working on off and on for the last few weeks. If I navigate to the preview, I see the content as expected with my latest changes.  If I move to the edit view, I see content from before my most recent changes, that is totally different from the preview.

**To Reproduce**

1. Go to profile
2. View unpublished draft
3. Click edit
4. Post content i

[2020-02-26 00:32] joshi-chinmay commented on #4712
I was checking the code, and in general, it looked a bit complicated. I haven't received time to work on it yet. But I will fix it.

[2020-02-26 01:13] BenjaminPrice opened #6299 "Include video_source_url in the API"
**Is your feature request related to a problem? Please describe.**

Currently, the video_source_url field is not available for Videos in the API.

**Describe the solution you'd like**

Add the video_source_url to either the Video API or Articles API. The Video API would be my preference to prevent the need to query two API endpoints. But, either is workable.

**Describe alternatives you've conside

[2020-02-26 02:53] joshpuetz commented on #6215
Great point on establishing pattern: I think that's key as we move forward!

I really, REALLY like the idea of DEV using open source wherever possible, *especially* for analytics and tracking!

[2020-02-26 03:29] ackava commented on #5163
@rhymes I did upgrade and it is working correctly now.

[2020-02-26 05:30] citizen428 commented on #6299
Thanks for the issue @BenjaminPrice! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and ne

[2020-02-26 05:32] citizen428 commented on #6298
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-26 07:17] BenjaminPrice opened #6303 "Breakdown Positive Reactions in the API"
**Is your feature request related to a problem? Please describe.**

For building functionality into the [Unofficial DEV Social Badge](https://github.com/BenjaminPrice/dev-social-badge), it'd be nice to offer a breakdown of what the positive reactions are.

**Describe the solution you'd like**

Include the breakdown of the positive reactions in the articles API endpoints

**Describe alternatives yo

[2020-02-26 08:26] rhymes commented on #6215
Yep, can't wait to get rid of a certain famous analytics plugin :D

I think we threw around the name of [Matomo](https://matomo.org/why-matomo/) (formerly Piwik) in the past as an analytics solution. Though it's opensource and well known and supported and GDPR compliant it might be complicated for us to integrate a PHP app, unless we treat it as a black box as we're treating GA. They both have a c

[2020-02-26 08:30] rhymes commented on #5163
I am going to close this as it's unlikely that we're going to fix issues affecting Edge 44 and below (EdgeHTML). We do however support Edge Chromium

[2020-02-26 08:30] #5163 closed

[2020-02-26 08:36] #4231 closed

[2020-02-26 08:58] rhymes commented on #5965
@mstruve do we have any articles in the DB that have `body_markdown IS NULL` ? Because they might become invalid when we merge https://github.com/thepracticaldev/dev.to/pull/5982

[2020-02-26 09:09] rhymes commented on #6303
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-26 09:56] rhymes commented on #6287
Hi @yashwanth2804, as we think this is a valid request, we're going to keep this issue open for future opinions and implementation ideas.

[2020-02-26 10:31] dominikbraun opened #6305 "Why is dev.to so fast?"
This isn't a bug report or feature request, just a question.

I'm impressed by the pure performance of dev.to, especially when it comes to loading a long article page. It rather feels like navigating around in static HTML files than in a dynamic website.

Is this performance granted by a good caching strategy or by efficient coding? Are there any key features or technologies that lead to that spee

[2020-02-26 10:52] Ridhwana commented on #6259
Note to self: Need to just upload the images and obtain a static link to them

[2020-02-26 10:53] Ridhwana opened #6306 "#shecoded html for sidebar for phase 1"
![phase 1 sheCoded](https://user-images.githubusercontent.com/2786819/75338367-43432000-5897-11ea-8a05-3f0e144d8023.png)

[2020-02-26 13:52] rhymes commented on #6305
Hi @dominikbraun, this is probably a topic better raised on the website itself as it would allow other people to join in the conversation.

I think these posts and their conversations might help you:

- [Making dev.to Incredibly fast](https://dev.to/ben/making-devto-insanely-fast)
- [ What technology is used to make dev.to so fast ?](https://dev.to/ako302/what-technology-is-used-to-make-devto-so-f

[2020-02-26 13:52] #6305 closed

[2020-02-26 14:07] dominikbraun commented on #6305
Thanks for linking to that posts, this answers my question perfectly.

[2020-02-26 15:02] yashwanth2804 commented on #6287
I believe that is mentioned in his/her bio.so I thought it as invalid one so closed that.
Thank you

[2020-02-26 16:26] dstarner opened #6310 "[Night Mode] Difficult to See Social Icons on Profile Page"
**Describe the bug**

Using the Night Mode Theme, it is incredibly difficult to see the profile social icons due to their low contrast with the background. I'm not sure where else (if anywhere) this problem exists.

**To Reproduce**

1. Enter nightmode
1. View a profile
1. Note that the social icons are difficult to see

**Expected behavior**

A high contrast color, such as what is used for the Pr

[2020-02-26 16:29] vaidehijoshi opened #6311 "Allow preview image URL in v1 editor to be visible"
**Describe the bug**

I believe that this bug is a regression, since I have been using the v1 markdown editor for awhile now but only just ran into this. As it now stands, the markdown editor overlaps the input tag for the preview image url.

**To Reproduce**

Create a new post using the v1 editor, and then try to edit it; you should see this overlap behavior again.

**Expected behavior**

The mar

[2020-02-26 16:43] rhymes commented on #6310
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-26 17:48] lisasy opened #6312 "[P1] Implement onboarding UI updates"
**Requirements**
- Implement 3d modal style
- Implement new padding
- Add overlay background

[2020-02-26 18:04] mstruve commented on #5965
We HAD 11 of them, I just updated them all to have blank strings.

[2020-02-26 18:51] maestromac commented on #6298
Hello @brandinchiu , does the issue you are experiencing sound similar to https://github.com/thepracticaldev/dev.to/issues/3670 ?

[2020-02-26 19:29] lisasy opened #6314 "Implement new tile designs for tags"

[2020-02-26 19:31] lisasy opened #6315 "Implement new updates to Intro step"

[2020-02-26 19:36] lisasy opened #6316 "Implement new checklist items"

[2020-02-26 19:38] lisasy opened #6317 "Implement new form fields UI"

[2020-02-26 21:17] brandinchiu commented on #6298
It does! I suspect these are the sam.

[2020-02-26 22:19] benhalpern opened #6324 "Raise special error when trying to access `current_user` in edge-cached controller actions."
Any time `before_action :set_cache_control_headers` is set on a controller, we should not be calling `current_user` because that pathway will be cached on the edge.

Using `current_user` in that context will result in us actually caching whatever that `current_user` specs were. Of course, if used incorrectly in this way it will result in the wrong behavior in production and possible leaking of one

[2020-02-26 22:49] jamesShelburne opened #6326 "Seeing an internal error screen after clicking "write post""
**Describe the bug**

Seeing an internal error screen when trying to add a new post.

**To Reproduce**

1. Click Write Post
2. See Internal Error screen (attached) at the URL https://dev.to/new
3. Unable to write new posts

**Expected behavior**

Expected to see the post authoring screen.
**Screenshots**

<img width="1057" alt="Screen Shot 2020-02-26 at 2 49 43 PM" src="https://user-images.githubu

[2020-02-26 23:30] maestromac commented on #6298
Since that is the case, I'm going to mark this as duplicate and close the issue. Please share your feedback and continue the conversation over at https://github.com/thepracticaldev/dev.to/issues/3670 🙂

[2020-02-26 23:30] #6298 closed

[2020-02-27 04:11] citizen428 commented on #6326
Hello @jamesShelburne, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-02-27 04:11] #6326 closed

[2020-02-27 04:18] citizen428 commented on #6324
Re implementation: the way Pundit performs its `verify_authorized` checks is by setting an instance variable `@_pundit_policy_authorized` when you perform a call to `authorize` or `skip_authorization`. The `verify_authorized` method then checks this intance variable and raises if it's unset. We could potentially follow a similar approach, i.e. have `current_user` set an instance variable and fail

[2020-02-27 08:33] rhymes opened #6330 "Running a rails command should notify about pending migration before notifying about scripts"
**Describe the bug**

After pulling #6318 in (which contains both a migration and a script to run) I had a hunch so I verified it. Instead of running `rails db:migrate` as usual, I tried to run `rails console`. When the app initializes we check if there's a script to be run. The error message correctly says:

[code]

The problem is that there's also a migration to be run, which has **precedence**

[2020-02-27 08:38] rhymes commented on #6330
Regarding this step:

I have the feeling that it would bail if there's a past failed script the user wants to re-run and also a recent `enqueued` script the user has to run.

I think we need to outline a better mechanism for handling scripts in general.

It'd be a dream if we could tie a script to a migration (which is probably the reason why a lot of people use migrations for data migrations even

[2020-02-27 08:47] rhymes commented on #6330
For now I managed to re-run all the failed scripts (I had failed scripts from past times) by doing this:

- change `DataUpdateScript` methods to:

[code]

- re-run `DataUpdateWorker.new.perform` from the console

I know have only `succeeded` scripts in the DB 🔥

[2020-02-27 11:27] Amorpheuz opened #6331 "`.base-article-show-sidebar-variant` div variants out of alignment"
**Describe the bug**
A variant of the particular class's div is aligned out of position in the sidebar. Refer Screenshots for more info.

**To Reproduce**
1. Open dev.to in a private window or don't be logged in.
2. Open various articles to see different variants. (Need to set up the repo again to reproduce in the codebase)
3. Look for `base-article-show-sidebar-variant` class.

**Expected behavio

[2020-02-27 11:33] rhymes commented on #6331
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-27 12:32] majakomel commented on #5526
Hey @luchiago, are you still planning to work on this? If not, I'd like to take it.

[2020-02-27 12:33] rhymes opened #6332 "Data Update Scripts limitations"
The Data Update Scripts System (DUSS :D ?) is a great addition to our code base and flow but it has three major limitations

### Present issues

1. doesn't store script versions and doesn't have the concept of last version
2. doesn't re-run failed scripts (failed schema migrations won't run following migrations, but now we do, kinda of invaliding the purpose of sequencing them)
3. the `development

[2020-02-27 12:37] rhymes commented on #6332
I'm going to explore the usage of the gem `rails-data-migrations` as a first step.

It has a small surface and I can quickly find out if we can tell it to either run scripts inline or async with our `DataUpdateWorker`. It's likely faster than re-writing it to fit in our current code :) After all scripts are just runnable Ruby files...

[2020-02-27 12:59] luchiago commented on #5526
@majakomel You can work on that. I did not have time to do it, so you can grab it

[2020-02-27 13:12] abdellani commented on #6139
When I deleted an account using the console, the user found himself logged out after 1 or 2 interactions.
When I tried to delete the account via the dashboard (`/settings/account`), the application sends an email that contains a link. After clicking that link, the account was still present and fully functional. The only changes that I noticed in the admin board were in  **Opened_at** and **Clicked

[2020-02-27 13:56] rhymes commented on #5526
Going to change the assigned person, thanks @luchiago for the update and @majakomel for offering!

[2020-02-27 14:34] #6143 closed

[2020-02-27 15:26] hmajid2301 opened #6338 "Dark Mode Theme Styling API Key Description"
**Describe the bug**

When using the dark mode theme (2nd theme in UX menu) the description/title of the API key is in white on a white background. This is due to it inherited the default title being white which makes sense. However since the background is white.

**To Reproduce**

1. Go to "Settings"
2. Go to "UX"
3. Select 2nd theme (dark mode)
4. Go to "Account"
5. Create an API Key (give it a

[2020-02-27 15:26] hmajid2301 opened #6339 "Dark Mode Theme Styling API Key Description"
**Describe the bug**

When using the dark mode theme (2nd theme in UX menu) the description/title of the API key is in white on a white background. This is due to it inherited the default title being white which makes sense. However since the background is white.

**To Reproduce**

1. Go to "Settings"
2. Go to "UX"
3. Select 2nd theme (dark mode)
4. Go to "Account"
5. Create an API Key (give it a

[2020-02-27 15:27] #6338 closed, assigned to nobody

[2020-02-27 16:21] rhymes commented on #6139
@rhymes yeah, the self deletion here https://dev.to/settings/account doesn't require an approval, does it? I thought one could just delete themselves by clicking on the link received in the email

[2020-02-27 16:38] rhymes commented on #6339
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-27 16:44] #5965 closed

[2020-02-27 17:07] abdellani commented on #6139
@rhymes
I copied the log after clicking that link, and for me, it doesn't seem trying to remove the account
https://gist.github.com/abdellani/09036b589cf83bcb154f79aa06aec4b9

[2020-02-27 17:19] abdellani commented on #6339
I want to work on this one :)

[2020-02-27 17:33] Math3v commented on #1685
@maestromac I've tried to address this, please see my PR. 🙏

[2020-02-27 19:04] michael-tharrington commented on #5274
I know I hit you up in DMs about this but wanted to also mention here that we have a good, alternative way for mods to recognize and respond to first posters now - https://dev.to/mod?state=new-authors ... however, I still think the #firstpost tag is quite cool and allows the community (not just mods) the ability to easily recognize first time posters. But, I also think that it's cool to leave this

[2020-02-27 20:22] ioana-chiorean opened #6347 "Duplicate footer"
**Describe the bug**

**To Reproduce**
- Just opened the link from the dark theme announcement.
- I get the same all times if I visit https://dev.to/enter

**Expected behavior**

A single entry of the footer should be displayed

**Screenshots**

<img width="1280" alt="Screen Shot 2020-02-27 at 21 47 57" src="https://user-images.githubusercontent.com/1391451/75483374-5f39e500-59af-11ea-83f3-3773f0d

[2020-02-27 20:36] jmfayard commented on #5274
Ah interesting.

But the #firstpost tag can be both by default and optional, right?

Put it by default when you enter the screen, let the user remove it if she
want before she submits

[2020-02-27 22:25] michael-tharrington commented on #5274
True! But, I don't think it's a priority at this time because of: [https://dev.to/mod?state=new-authors](https://dev.to/mod?state=new-authors) ... we'll let others weigh in here if they want.

[2020-02-28 03:01] Rahul626 commented on #6252
On console log
"​Failed to load resource: the server responded with a status of 500 "
every time I am getting the same  issue
Ooooops...
You have encountered an error.
Our team has been notified. Please feel welcome to also submit a public bug report.
We apologize for any inconvenience.
![image](https://user-images.githubusercontent.com/42401032/75506671-bc13ba80-5a04-11ea-8464-d9957cec915a.png)

[2020-02-28 06:13] DanP1925 commented on #4887
I would like to work on this issue if available :)

[2020-02-28 06:40] Rahul626 opened #6351 "unable update profile :(while updating profile on save its encountering an error)"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: Windows 10
- Browser: Google chrome
- Version:

**Smartphone (please complete the following information):**

- Device: Xiaomi Redmi Note 5 Pro
- OS: Android 9
- Browser: Google chrome
- Version:

**Additional context**

![image](https://user-images.githubu

[2020-02-28 08:53] rhymes commented on #6351
Hello @Rahul626, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-02-28 08:53] #6351 closed

[2020-02-28 08:58] rhymes commented on #6347
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-28 09:15] fintatarta opened #6352 "Syntax highlighting should work regardless the case of the hinted language"
# The problem
When including Ada code with   "```Ada" the code remains in black-and-white instead of being syntax highlighted.

# What to do
I think that it would be nice to have syntax hightlight with Ada too.  I am willing to do this, but I do not know how.  If someone points me to some documentation and maybe an example of highlighting for other languages, I can give it a try.

# Alternatives?

[2020-02-28 09:33] rhymes commented on #6252
It might be only related to your account @Rahul626.

Please email yo@dev.to for more help.

[2020-02-28 09:33] #6252 closed

[2020-02-28 09:39] rhymes commented on #6352
Hi @fintatarta, it's probably just a "case of upper casing" 😄

I was able to highlight by using `ada` instead of `Ada`:

![Screenshot_2020-02-28 test ada - DEV(local) Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/75536898-4e708a00-5a16-11ea-8461-0a9d92db5328.png)

![Screenshot_2020-02-28 Edit Post - DEV(local) Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/

[2020-02-28 09:47] rhymes commented on #4887
Hi @DanP1925, sure it's available! and thank you!

I'm going to formally assign you so other contributors will know you're working on it

[2020-02-28 09:53] fintatarta commented on #6352
Oops...  Silly me, trying the lower-case version did not come to my mind.  Sorry

Maybe making both cases acceptable?  Unless there is some convention to always use the lower case version (so it is "php" instead of "PHP")
The language name is always referred as "Ada" since it is a person name (OK, someone tries with "ADA," but it is immediately corrected... :-) )

[2020-02-28 10:10] rhymes commented on #6352
@fintatarta I see your point but unfortunately I think all syntax highligthing hints are required to be lowercase regardless of the official spelling of the language.

I just tried "Python" instead of "python" and it didn't work as well.

As we're using a third party library, [rouge](https://github.com/rouge-ruby/rouge), we don't have direct control on this.

I just tried to verify this:

[code]

[2020-02-28 15:14] JamoCA commented on #28
Are there any issues with adding an RSS Link tag to pages for the purpose of autodiscovery?  I still heavily depend on RSS to consume news & information.  I wasn't able to determine the RSS feed for my new blog until I viewed this reported issue.

### Example HTML Source

[code]

[2020-02-28 15:27] maestromac commented on #28
That's a great suggestion @JamoCA . Would you mind creating an issue to surface this?

[2020-02-28 17:35] #6347 closed

[2020-02-28 17:36] #6352 closed

[2020-02-28 17:48] benhalpern opened #6362 "Allow users to create charts via liquid tag"
Using the opentag/closetag liquid tag style used [in the katex tag end elswehere](https://github.com/thepracticaldev/dev.to/pull/6237) I think we should allow users to define charts.

e.g. something like this....

[code]

That is literally a copy/paste from the API for defining [chartjs](https://www.chartjs.org/) functionality and maybe we can come up with an interface that's a little less _codey_

[2020-02-28 17:53] jeffposnick opened #6363 "Cached article bodies + the Content Indexing API"
**Is your feature request related to a problem? Please describe.**

dev.to has put a lot of effort into [their service worker implementation](https://dev.to/devteam/instant-webpages-and-terabytes-of-data-savings-through-the-magic-of-service-workers-1mkc), and it would be possible to take things one step further by caching a limitede number of article bodies so that their corresponding pages were a

[2020-02-28 17:54] Ridhwana opened #6364 "Fix display_ads html processing"
Previously the display_ads model was doing sanitisation on the css that was not allowing us to have a background url. It was disabled in the linked PR, and it needs to be enabled and amended to be able to process the css better

[2020-02-28 18:03] rhymes commented on #6363
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-28 18:20] #6364 closed

[2020-02-28 18:26] Ridhwana opened #6366 "Add an expiry for the Cookie that we set when you close the Hero Banner"
We do not want the cookies associated with campaigns to live forever, hence we need to delete them or have them expire. More info on the PR.

[2020-02-28 18:30] Ridhwana opened #6367 "Change onclick handler to eventClick"

[2020-02-28 19:29] JamoCA opened #6368 "Add RSS Link Tag for AutoDiscovery"
There's no current way for RSS-aware software and services to discover that RSS feeds exist for a blog.

Could a link tag be added for [autodiscovery](http://www.rssboard.org/rss-autodiscovery) purposes?

### Example HTML Source

[code]

[2020-02-28 19:30] JamoCA commented on #28
Done.  I've submitted a [feature request](https://github.com/thepracticaldev/dev.to/issues/28).

[2020-02-28 19:36] rhymes commented on #6368
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-28 20:08] TobiasSN opened #6369 "Add support for oEmbed"
**Is your feature request related to a problem? Please describe.**

Currently, the only way to embed content from other sites into posts is to pray that there's a liquid tag for it, which isn't always the case.

**Describe the solution you'd like**

I propose that Forem gets support for oEmbed. For those who are unaware, oEmbed is a format that allows sites to specify how their content should look

[2020-02-28 20:14] rhymes commented on #6369
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-28 20:17] #3670 closed

[2020-02-28 21:31] gonzar11 commented on #5964
HI @mstruve sorry for the delay. I've implemented a possible solution.

[2020-02-28 22:02] bnb commented on #2365
Just wanted to jump in on this one as I saw @jessleenyc's and  @nickytonline's pronouns included in their display names. Was curious if it was a new feature or not, and unfortunately couldn't find it.

Glad there's already an issue and definitely seems like something that should be built-in <3

[2020-02-29 00:36] thomasbnt opened #6373 "Error 404 : Profile not show correctly"
**Describe the bug**

Your profile picture is hidden by this background colored in blue.

**To Reproduce**
Visit a 404 error page : **https://dev.to/404**

**Screenshots**

![image](https://user-images.githubusercontent.com/14293805/75597045-8ec21d80-5a93-11ea-8e22-28c8f9bcccc8.png)

**Desktop (please complete the following information):**

- OS: **Manjaro**
- Browser: **Brave**
- Version: **Versi

[2020-02-29 12:25] rhymes commented on #6373
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-29 12:26] rhymes commented on #6373
Can reproduce it on Firefox 74 navigating to https://dev.to/dashboard2

[2020-02-29 15:45] pkfrank opened #6376 "Variant not displaying in sidebar properly"
**Describe the bug**
At 100% Zoom on Chrome, Macbook Pro 15" (default resolution) I'm seeing this issue.

**Screenshots**
![example of issue](https://cl.ly/0fcea88a3fb1/Screen%20Recording%202020-02-29%20at%2010.41%20AM.gif)

**Additional context**
![variant id](https://cl.ly/4b3619c2ddb7/Image%202020-02-29%20at%2010.43.06%20AM.png)

`data-variant-id="214"`

[2020-02-29 17:26] sivaraam opened #6377 ""Follow back" button has no text in notification at times"
**Describe the bug**
When someone follows me, I get a notification with a "Follow back" button in it. But in some cases, the button has no text in it. As a consequence, it's not clear what the button does.

**To Reproduce**
1. Go to 'Notifications'
2. Find a "$USER followed you" notification
3. If the "FOLLOW BACK" text in the button in visible, refresh and check.

*Note*: I realise these aren't i

[2020-02-29 18:08] #6331 closed

[2020-02-29 19:07] alvaromontoro opened #6380 "Replace getElementsByTagName(tag)[0] with querySelector(tag)"
This is not a problem, it would be more of a refactoring/performance improvement task.

In different parts of the repo, we can find the function `getElementsByTagName` used in this way:

[code]

Using `getElementsByTagName` in such a way would be inefficient as it is searching the whole document looking for the tag (in the problematic cases "head" or "body" which should only appear once in the pag

[2020-02-29 19:07] alvaromontoro commented on #6380
I'd be happy to pick up and complete this change if considered appropriate.

[2020-02-29 19:28] rhymes commented on #6376
To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we will follow up within 3 business days.

For full info on how to contribute, pleas

[2020-02-29 19:31] rhymes commented on #6377
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-02-29 19:32] rhymes commented on #6377
@sivaraam thanks for the issue report! I was wondering one thing which might be a hunch or not: which of the two light themes are you using?

![Screenshot_2020-02-29 Settings - DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/75613861-9f75a080-5b32-11ea-8f6a-724f5f5de81b.png)

[2020-02-29 20:12] rhymes commented on #6380
Hi @alvaromontoro, thanks a lot for raising the issue. JS selectors performance is always an odd mishmash of different results.

I created an example on jsperf.com and ran it with Firefox 74:

![Screenshot_2020-02-29 getElementsByTagName 0  vs querySelector · jsPerf](https://user-images.githubusercontent.com/146201/75614066-f8463880-5b34-11ea-8adf-ae61d7b98a3f.png)

and Chrome 80:

![jsperf com_ge

[2020-02-29 22:19] alvaromontoro commented on #6380
@rhymes thank you for sharing the research. It is really interesting (`document.head` being 10 times faster is mind-blowing). Should I proceed then with a PR or close the ticket?

[2020-02-29 22:48] rhymes commented on #6380
@alvaromontoro please do! We've learned how faster `document.head|body` is, why not put this information to good use! Thank you!

[2020-03-01 07:27] Math3v commented on #6016
@lightalloy Close? :)

[2020-03-01 07:30] rhymes commented on #6016
Thanks for the catch @Math3v!

[2020-03-01 07:30] #6016 closed

[2020-03-01 07:31] rhymes commented on #6017
Closed by https://github.com/thepracticaldev/dev.to/pull/6276

[2020-03-01 07:31] #6017 closed

[2020-03-01 07:32] rhymes commented on #6018
Solved by https://github.com/thepracticaldev/dev.to/pull/6308

[2020-03-01 07:32] #6018 closed

[2020-03-01 08:11] sivaraam commented on #6377
I use the first one. But I just checked now and I'm able to reproduce the issue despite the theme I use. IOW, I also observe this issue when using other themes.

Also, just wanted to add another point regarding the issue. When I inspect the button when the **text is visible** here is what I get:

[code]

When I inspect the button when the **text is not visible** here's what I get:

[code]

[2020-03-01 08:30] Math3v commented on #6377
@rhymes @sivaraam I'm also experiencing this issue. I have a feeling that the Notification is not properly initialized, because it's not in the DOM when calling `initializeAllFollowButts()`. I'm not sure what mechanism is used to initialize the notifications page and if they are load all at the same time or not.

Also, if I hard reload the notifications page, the + Follow Back text is visible, but

[2020-03-01 17:57] b3u opened #6382 "GitHub tag fails if no readme"
**Describe the bug**
When I try to create a GitHub repo embed of a repo without a readme, the tag errors with a 404 (see image below).

**To Reproduce**

1. Find a repo with no readme (I used b3u/chordy, but subsequently added a readme)
2. Create a new post or comment containing `{% github :user/:repo %}`
3. Preview, and see the error

**Expected behavior**

Possible solutions include displaying "

[2020-03-01 18:45] rhymes commented on #6382
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-01 23:51] AlbertoMontalesi opened #6386 "Can't write a new article - see screenshot"
MacOS, Chrome 80.

When i press 'write a post'  this is what i see, no submit buttons, no scrollbar

![image](https://user-images.githubusercontent.com/23130353/75636505-f1f9ae80-5c51-11ea-894a-087bff99aa42.png)

Update: trying again and now it works, not sure what happened earlier.

[2020-03-02 07:47] rhymes commented on #6386
@AlbertoMontalesi odd! Maybe some extension has blocked the retrieval of resources?

I'm going to close this as it seems to be resolved. Usually the console tab in the developer tools have some hints about what's going on that might be helpful.

Let us know if you encounter this problem again and we'll reopen this.

[2020-03-02 07:47] #6386 closed

[2020-03-02 10:14] abenettt opened #6388 "Allow Heroku Review apps"
**Is your feature request related to a problem? Please describe.**
When reviewing a pull request one might want to see and test in a production like environment. Herokus Review Apps would allow one and others to do this. Of course creating review apps for every pull request would be undoubtable expensive but staff could create an environment for each pull request manually so they could control how

[2020-03-02 10:21] rhymes commented on #6388
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-02 10:30] brettimus commented on #5434
Still broken for me in Safari 13.0.5 -- I can't reproduce the exact conditions under which this happens, but I saw the same errors that @brainkim highlighted - where it appears the response is undefined

The only extension I have is 1Password.

Also, the workaround for me appears to be opening a tab in private-mode, reloading dev.to, then trying again in not-private mode.

[2020-03-02 10:51] lightalloy commented on #6015
Closing by #6355 . Further improvements should be described in a separate issue.

[2020-03-02 10:51] #6015 closed

[2020-03-02 13:02] slushnys commented on #6139
@abdellani I have clicked on the link and it kind of deleted the account as I lost information from in, and the status bar of app contained no user, but it just doesn't log out automatically.

[2020-03-02 13:18] aaronpowell opened #6390 "Code fence not rendering properly"
I just posted an article with a code fence for JSON, but even though I've put the code fence like I normally use it's rendering in a broken way.

![image](https://user-images.githubusercontent.com/434140/75679796-a556b780-5cd3-11ea-9460-832b0b17ec8f.png)

 I also tried removing the language flag but it didn't fix it.

The article is [here](https://dev.to/aaronpowell/making-it-easier-to-work-with-l

[2020-03-02 13:35] rhymes commented on #6390
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-02 13:36] rhymes commented on #6390
Hi @aaronpowell

would you be able to take a screenshot of the markdown instead of the rendered page? You can also post the markdown itself to a https://gist.github.com/

Thank you!

[2020-03-02 14:15] AleksandrHovhannisyan commented on #97
What about using MathJax? I added it to my Jekyll blog using these two scripts for any posts that need it:

[code]

Katex is probably better if you guys can get it to work; it's faster, for one.

[2020-03-02 16:02] binyamin opened #6408 "Support GitHub custom emoji"
**Is your feature request related to a problem? Please describe.**
I have an `:octocat:` in the description of one of my pinned repos, and it doesn't show up as an image.

**Describe the solution you'd like**
Show github-specific emoji. GitHub's [gemoji](https://github.com/github/gemoji) gem seems promising.

**Describe alternatives you've considered**
Possibly, we could create DEV-specific custom

[2020-03-02 16:13] rhymes commented on #6408
Hello @username, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-03-02 16:13] rhymes commented on #6408
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-02 16:17] rhymes commented on #6408
Hi @b3u, thanks a lot! We already use `gemoji` but I dug a little and it seems like it doesn't support GitHub's custom emojis since last year: https://github.com/github/gemoji/pull/158

It looks like indeed they are only available through the API.

[2020-03-02 16:49] #3584 closed

[2020-03-02 16:58] #1685 closed

[2020-03-02 18:59] ljhaywar opened #6414 "Inline images in blog posts"
**Is your feature request related to a problem? Please describe.**

I'm unable to display images in line with texts in blog posts.

**Describe the solution you'd like**

I would like to be able to apply a css style that would display my images inline.

**Describe alternatives you've considered**

I could manually apply the styling to my images and the system would not remove them.

**Additional co

[2020-03-02 19:01] rhymes commented on #6414
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-02 19:24] maestromac commented on #6414
Hello @ljhaywar , can you provide us an example of what you are trying to get done?

[2020-03-02 19:27] ljhaywar commented on #6414
I'm trying to float an image to the right of my text like I do with the QuickStart logo image in this post:  https://www.mongodb.com/blog/post/quick-start-nodejs--mongodb--how-to-analyze-data-using-the-aggregation-framework#

I'm unable to figure out how to do so in my post on DEV:  https://dev.to/lauren_schaefer/how-to-use-one-of-the-most-powerful-pieces-of-mongodb-the-aggregation-pipeline-3db0

[2020-03-02 20:43] maestromac commented on #6376
I believe this was resolved with https://github.com/thepracticaldev/dev.to/pull/6378

[2020-03-02 20:43] #6376 closed

[2020-03-02 21:10] benhalpern opened #6417 "Incomplete surrogate-key cache invalidation logic"
Currently we user surrogate keys to determine when certain endpoints should have their caches cleared, such as an article API endpoint like this...

`set_surrogate_key_header Article.table_key, @articles.map(&:record_key)`

And then we call `article.purge` which magically makes any endpoint with that article's `record_key` have its edge cache expire.

More on surrogate keys...

https://docs.fastly

[2020-03-02 22:44] aaronpowell commented on #6390
@rhymes whoops, that was the screenshot I meant to include

![image](https://user-images.githubusercontent.com/434140/75724895-ac58e680-5d22-11ea-905d-4306ed2466ea.png)

And here's the gist: https://gist.github.com/aaronpowell/789740050e1153a6ba5edb4838478596

[2020-03-03 05:33] akshayymahajan commented on #6310
I would like to fix this..

[2020-03-03 07:14] rhymes commented on #6390
I think I found the issue, before the code fence, there's a sentence that contains the word `dependencies`, that word has a trailing apostrophe, that should be a backtick. By fixing that you get correct rendering:

![Screenshot_2020-03-03 New Post - DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/75751456-d44a4900-5d26-11ea-831e-b3fc95d24845.png)

Going to close this, thanks

[2020-03-03 07:14] #6390 closed

[2020-03-03 07:59] rhymes commented on #6310
Thank you @akshayymahajan, go ahead! I've assigned you to the issue.

[2020-03-03 09:01] rhymes commented on #6417
Great points @benhalpern!

I think now I understand why `fastly-rails` advocates for calling `.purge_all` when a new record is created:

[code]

They even suggest doing this to simpliy controller methods:

[code]

see https://github.com/fastly/fastly-rails#purges

I wonder if that would be feasible for us

[2020-03-03 10:05] lightalloy commented on #6139
@abdellani Could you describe what happens after you clicked the link in the email? It shouldn't delete the account right away after clicking the link, but lead to confirmation page, and the account should only be deleted after the confirmation.

[2020-03-03 14:22] brettimus commented on #5434
BTW  [according to MDN](https://developer.mozilla.org/en-US/docs/Web/API/CacheStorage/match), `caches` will return `undefined` when there's no match.

[2020-03-03 15:04] maestromac commented on #5434
I use Safari 13.0.5 (with bitwarden, adguard, and grammarly) as my default and I can access DEV without issue.

@brettimus are you accessing DEV as logged in user or logged out? and how often are you running into this issue?

[2020-03-03 16:40] brettimus commented on #5434
Hey @maestromac! Thanks for replying.

I've hit this issue two or three times so far this year, and it usually happens if I was logged in previously. It doesn't seem to happen when I don't have an active (or expired?) session, as I'm always able to get to the homepage in private mode.

[2020-03-03 18:04] michelc opened #6425 "Featured author link contains ERB tags"
**Describe the bug**

When you click on the name of the featured article author, the link is broken.

Instead of being `https://dev.to/username`, it's `https://dev.to/<%= article.cached_user.username %>`.

**To Reproduce**

Steps to reproduce the behavior:

1.  Go to https://dev.to/
1.  Click on the username of the featured article (something like "Username ・ Mar 3")
1.  Browser navigate to `https

[2020-03-03 18:58] binyamin opened #6430 "View trending authors"
**Is your feature request related to a problem? Please describe.**
It's easy to see articles by the same people each day.

**Describe the solution you'd like**
View a list of trending developers for that week/day. Similar to GitHub's [explore/developers](https://github.com/trending/developers).

**Describe alternatives you've considered**

**Additional context**

[2020-03-03 19:25] rhymes commented on #6430
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-03 19:36] michelc commented on #6425
Whew! It's OK on the second try :) This is what happens when you code the old-fashioned way:
1. Update code
2. Compile code
3. Try again

[2020-03-03 19:43] #6425 closed

[2020-03-03 20:32] brainkim commented on #5434
@brettimus

This looks like an unfortunate case of an ambiguous modifier. The `caches.match` method will always return a promise. See the docs on the return value, or the [actual spec](https://w3c.github.io/ServiceWorker/#dom-cachestorage-match).

[2020-03-04 02:39] jjant opened #6436 "Tag input deletes user input"
Input field for selecting tags in the "create post" section arbitrarily deletes/messes with user input.
I suspect there's a badly setup debouncing handling or something like that.

**To Reproduce**

1. Go to dev.to
2. Click on create new post
3. Quickly type and many characters and hit delete a bunch of times, you'll see your input suddenly changing in unexpected ways

**Expected behavior**

The f

[2020-03-04 04:08] JuanitoFatas opened #6438 "Cannot click notification in notifications page"
**Describe the bug**

Cannot click Notifications in Notification page.

**To Reproduce**

Use a user with not much notifications and visit `/notifications` page.

**Expected behavior**

Can click notification in notifications page.

**Screenshots**
<img width="1440" alt="スクリーンショット 2020-03-04 13 02 30" src="https://user-images.githubusercontent.com/1000669/75844116-7138df00-5e18-11ea-9783-f0e01bcfe

[2020-03-04 04:19] citizen428 commented on #6436
Thanks for the issue @jjant! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help,

[2020-03-04 04:21] citizen428 commented on #6438
Thanks, @JuanitoFatas! Since you already opened a PR I assigned you this issue and requested some reviews.

[2020-03-04 08:25] brettimus commented on #5434
Wow you're totally correct! Just re-read and it says it resolves with `undefined` 🤦🏻‍♂️ And I'm glad you're right -- I was concerned that a browser api was mixing async/sync

This means you're absolutely correct! .

**That's gotta be what's giving us trouble, since the initial fetch is against `/shell_top`**, which _should_ be short-circuited by that if-condition... but never will be!

https://git

[2020-03-04 08:58] rhymes commented on #6438
@JuanitoFatas can you describe the issue a bit? I can't seem to reproduce it. What happens? What version of Firefox have you tried with?

[2020-03-04 08:59] #6310 closed

[2020-03-04 13:12] JuanitoFatas commented on #6438
@rhymes I‘m using Firefox 73. Latest Chrome works fine. Below Gif I was trying to click, then I opens up console to show the element is blocking the clicks:

![cannot-click-notification-on-firefox-73](https://user-images.githubusercontent.com/1000669/75882729-18dbfe80-5e65-11ea-988e-8f147ca62606.gif)

cc @ludwiczakpawel

[2020-03-04 13:35] benhalpern opened #6444 "Flash of empty results in /listings typeahead search"
On every keystroke there is a brief moment of "no results" before the results load.

I presume this is due to a state where we first get rid of results before replacing them.

Ideal behavior is such that old results are still visible until the new ones populate.

[2020-03-04 14:44] maestromac commented on #6436
Hello @jjant , would you mind sharing an image/gif of this bug?

[2020-03-04 14:55] rhymes commented on #6436
I recorded a GIF with both listing and article editor, they use the same component AFAIK:

![tagsflicker](https://user-images.githubusercontent.com/146201/75891706-7570f680-5e30-11ea-957b-79388937971d.gif)

![tagsflicker2](https://user-images.githubusercontent.com/146201/75891708-76a22380-5e30-11ea-8814-549ea62de1bf.gif)

I'm going to work on a solution as I think I know what's going on :)

[2020-03-04 15:03] gonzar11 commented on #6444
I would like to grab it.

[2020-03-04 15:41] rhymes commented on #6444
Go ahead @gonzar11, thanks!

[2020-03-04 16:37] juliannatetreault opened #6452 "Replace perform_enqueued_jobs with sidekiq_perform_enqueued_jobs"
**Describe the issue**
There are a handful of specs that use `perform_enqueued_jobs` in place of `sidekiq_perform_enqueued_jobs` (and at times both within the same spec), which can be confusing. Removing all instances of `perform_enqueued_jobs` in favor of `sidekiq_perform_enqueued_jobs` will both alleviate confusion and establish a convention going forward.

Further context can be found here: [#6

[2020-03-04 16:41] #6436 closed

[2020-03-04 16:48] rhymes commented on #6452
Thanks for catching this!

It's weird they are still there as we're using Sidekiq for jobs, and not ActiveJob anymore

I'm not sure why tests are passing 👀

Probably because they aren't needed at all?

[2020-03-04 16:48] vaidehijoshi commented on #6452
@rhymes more context on that here: https://github.com/thepracticaldev/dev.to/pull/6221#discussion_r387646723

[2020-03-04 16:51] rhymes commented on #6452
Emails! Right! :)

[2020-03-04 18:39] #6452 closed

[2020-03-04 19:22] #5202 closed

[2020-03-04 20:01] joelnet opened #6460 "Runkit is rendering as plain text when published"
**Describe the bug**

Runkit embeds are rendering as plain text.

**To Reproduce**

https://dev.to/joelnet/creating-a-linked-list-using-only-function-combinators-5hhk

Scroll to the section with this text:

[code]

**Expected behavior**

It should be rendered with runkit, instead it is plain text

**Screenshots**

![image](https://user-images.githubusercontent.com/742630/75917850-878e6d00-5e0f-11e

[2020-03-04 20:07] frkozbk commented on #2470
Hello, I solved some eslint errors on the files below. But I don't know if these errors were solved by someone else?

<img width="469" alt="Ekran Resmi 2020-03-04 23 06 40" src="https://user-images.githubusercontent.com/38539990/75918489-de765f80-5e6c-11ea-83e9-1f212b9c7cea.png">

[2020-03-04 21:33] piannaf opened #6462 "500 error when navigating to https://dev.to/settings/organization"
**Describe the bug**

Getting error when navigating to https://dev.to/settings/organization

**To Reproduce**

1. Go to https://dev.to/settings/organization
2. See error "We're sorry, but something went wrong (500)"

**Expected behavior**

Expect to be able to edit organization settings

**Screenshots**

![image](https://user-images.githubusercontent.com/70764/75924724-748e9380-5e35-11ea-9e92-782c

[2020-03-05 01:13] brobertsaz commented on #5511
@mstruve Should this be closed seeing as PR was merged?

[2020-03-05 01:16] brobertsaz commented on #3296
@jessleenyc Is this still open issue?  Looks like @ektaarora3501 might have volunteered already.

[2020-03-05 03:06] JithinKS97 opened #6467 "Adding support for embedding p5.js web editor in mark down."
p5.js is a library that is used by a very huge community of developers to learn to code. It would be extremely useful if we have the option to embed the online p5 text editor in dev.to.

https://editor.p5js.org/

I can work on this.

[2020-03-05 04:46] citizen428 commented on #6462
Hello @piannaf, thanks for notifying us of this problem, this looks an issue specific to your account, as it works fine for me both in development as well as on the live site.

Please email yo@dev.to for more help.

[2020-03-05 04:47] citizen428 commented on #6460
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-05 04:48] citizen428 commented on #6467
Thanks for the issue @JithinKS97! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need

[2020-03-05 05:04] awebartisan opened #6468 "Profile dropdown doesn't open when coming from a mail link"
**Describe the bug**
We receive email notifications like new followers etc. When I click on any link on email, it redirects me to DEV website but the profile dropdown doesn't work and also thumbnail disappears. Therefore can't visit Dashboard and other important links.

**To Reproduce**

1. Make sure you are signed into DEV
2. Go to an email of New follower on DEV
3. Click on any link and be redir

[2020-03-05 08:17] vanaf1979 opened #6469 "GitHub Gists rendering in the wrong order"
GitHub Gists rendering in the wrong order

When a posts has more then one GitHub Gist embed, sometimes (Not always) they render in the wrong order. After a page refresh the do render correctly. I haven't noticed this anywhere else, so it might be a problem with the page rendering.

It was also reported to me by another reader: https://dev.to/vanaf1979/wp-snippet-008-using-transients-to-cache-data-

[2020-03-05 09:14] OmisNomis opened #6471 "/mod does not work with dark-mode very well"
**Describe the bug**

The Moderators dashboard colour scheme does not work very well with dark-mode enabled.

**To Reproduce**

1. Enable dark mode
2. Go to https://dev.to/mod

**Expected behavior**

Colour scheme will adapt

**Screenshots**

![image](https://user-images.githubusercontent.com/14848394/75966132-c2e97400-5ec1-11ea-8f07-7074369d7892.png)

[2020-03-05 09:22] OmisNomis opened #6472 "Connect shows two notifications when there aren't any"
**Describe the bug**

When browsing dev.to, I always have two notifications for the connect chat service but there are none.

**To Reproduce**

I suspect this is because I was part of other "chat rooms" (moderators and open-source moderators), but now I am not so cannot get rid of the notifications.

**Expected behavior**

No notifications

**Screenshots**

![image](https://user-images.githubuserc

[2020-03-05 09:45] rhymes commented on #2470
Hi @frkozbk, you're right, some files have been solved by other PRs. Some are still in need of fixing.

I'm updating the list here, feel free to claim whatever you prefer, I'll keep this list updated!

- [ ] /app/javascript/article-form/elements/errors.jsx
- [ ] /app/javascript/articles/FeaturedArticle.jsx
- [ ] /app/javascript/articles/Feed.jsx
- [ ] /app/javascript/articles/LoadingArticle.jsx
-

[2020-03-05 09:49] rhymes commented on #6468
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-05 09:50] rhymes commented on #6468
Thanks a lot for the video @awebartisan, it's mighty helpful.

I noticed something odd thanks to it, the landing URL points to the message, and not to https://dev.to/dashboard/user_followers where you should see your new followers

[2020-03-05 09:55] rhymes commented on #6469
Hi @vanaf1979, thanks for the raising this issue.

I dug a bit in our issue backlog as I remembered something like it and found out it's a long standing issue we haven't totally fixed.

See https://github.com/thepracticaldev/dev.to/issues/1679

It seems like @maestromac was close to what the problem was in https://github.com/thepracticaldev/dev.to/issues/2648#issuecomment-499218652

I'm closing th

[2020-03-05 09:55] #6469 closed

[2020-03-05 09:58] rhymes commented on #6471
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-05 09:59] rhymes commented on #6472
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-05 10:27] frkozbk commented on #2470
@rhymes Then   I want to take these files.
- /app/javascript/article-form/elements/errors.jsx

-  /app/javascript/articles/FeaturedArticle.jsx

- /app/javascript/articles/Feed.jsx

- /app/javascript/articles/LoadingArticle.jsx

- /app/javascript/chat/article.jsx

- /app/javascript/chat/channelDetails.jsx

-  /app/javascript/chat/channels.jsx

- /app/javascript/onboarding/components/IntroSlide.jsx

[2020-03-05 10:38] rhymes commented on #2470
If you could split them in separate PRs that would be great. Much easier to check and get through. Thank you!

[2020-03-05 10:57] maestromac commented on #6462
Upon investigation, I think this might be related to one of your org members. Is the rest of your team also having an issue accessing  https://dev.to/settings/organization ?

[2020-03-05 14:02] #5511 closed

[2020-03-05 14:38] mandaputtra opened #6478 "Glitch when typing on #tag post"
**Describe the bug**

When I want to write tags sometimes space will delete my char and search for common tags, this bug happening when you write uncommon tag, here the [video](https://youtu.be/FWcIuG7AEzg)

**To Reproduce**

1. Write post.
2. Write uncommon tag
3. Tag form start making glitch.

**Expected behavior**

Flawless experience when writing tags

**Screenshots**

No screenshoot, here 1 m

[2020-03-05 14:40] rhymes commented on #6478
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-05 15:10] piannaf commented on #6462
I asked other people in the org to log in. We tried Twitter and Github logins.

The pattern we noticed

* non-admins did not see the issue in either case
* admins got the 500 error in both cases

[2020-03-05 16:04] benhalpern commented on #6462
Looks like this is the error...

[code]

Looks like there's an `org_membership` belonging to the org that doesn't have a `user`.

[2020-03-05 17:30] maestromac commented on #6140
Resolved with https://github.com/thepracticaldev/dev.to/pull/6151

[2020-03-05 17:30] #6140 closed

[2020-03-05 18:11] #6438 closed

[2020-03-05 18:24] maestromac commented on #6460
Hello @joelnet , I was unable to reproduce this. Can you help me do a sanity check and attempt to preview/resave your article and see if the issue persists?

[2020-03-05 18:29] lisasy opened #6480 "Design more engaging welcome notification"
https://dev-internal.slack.com/archives/CSZTR685V/p1583253890000600

[2020-03-05 18:45] lisasy opened #6481 "Update `tags` page so that it's more valuable for people"

[2020-03-05 19:33] joelnet opened #6485 "Uncaught SyntaxError: Unexpected token '&'"
**Describe the bug**

[code]

**To Reproduce**

1. Open https://dev.to/joelnet/creating-a-linked-list-using-only-function-combinators-5hhk
2. View console

**Expected behavior**

No errors

**Desktop (please complete the following information):**

- OS: OSX
- Browser: Chrome / Safari
- Version: Latest

**Additional context**

Seems like `&quot;` should be `"` instead

[2020-03-05 19:35] joelnet commented on #6460
I just hit edit and then save and there was no effect. Maybe there is an issue with the content of the article itself? Maybe unicode characters (emojis)?

Here's the full content of the article to see if it can be replicated in another account:

https://gist.github.com/joelnet/5a464c9ed5f1d4e5fb3342652dfe1e04

I am also seeing this error in the console on all article pages on dev.to:

[code]

I do

[2020-03-05 21:58] #6485 closed

[2020-03-06 00:12] mandaputtra commented on #6478
Thanks, I'll tackle this issue and work on it in weekend.

[2020-03-06 02:35] JuanVqz commented on #2470
Can I help? I resolved this one #6491

- [x]  /app/javascript/listings/dashboard/rowElements/location.jsx

[2020-03-06 02:59] JuanVqz commented on #2470
- [x] app/javascript/chat/channels.jsx

#6492

[2020-03-06 13:01] #6366 closed

[2020-03-06 13:01] #6367 closed

[2020-03-06 13:05] mbifulco opened #6497 "Offline mode triggered when uBlock Origin is active"
**Describe the bug**
Using Chrome 80.0.3987.132 for MacOS (Catalina) - Dev.to's offline mode is displayed when I'm online.  Refreshing / hard refreshing doesn't make a difference.  This only seems to happen while I'm logged in, and is triggered most often when I navigate to an article from my notifications feed.

**To Reproduce**
1. Install [uBlock origin](https://chrome.google.com/webstore/detail

[2020-03-06 13:34] mstruve opened #6499 "Gracefully Handle Missing Linked Users From Comments"
We recently received a Honeybadger where we went to save comments that both raised errors due to no being able to find linked users.
Honeybadgers:
https://app.honeybadger.io/fault/66984/ac0e5bc2313665cb976dee458505349b
[code]

In these situations, we should gracefully handle the missing user or comments and NOT raise an error. There will be times when users leave the platform and any internal mark

[2020-03-06 13:53] cyrillefr commented on #5914
Hello @rhymes, @joshpuetz , there is (and there will be) some cases where I would need clarification on the basecode regarding this issue with html_safe.
Is this the right place (this very issue) to ask for such clarifications. I would have to put here lines of code. I don't want to clutter  this issue, but it might better here than on the PRs I open.

[2020-03-06 14:28] maestromac commented on #5914
I think keeping it within PRs will provide better context @cyrillefr

[2020-03-06 14:38] michelc commented on #6373
I think I can fix it this weekend.

[2020-03-06 14:50] maestromac commented on #6497
Hey @mbifulco , I have ublock installed on my Chrome and I'm able to access dev.to regularly. Did you happen to apply a special configuration to your ublock?

I also think there's potential that this service worker caching bug. Can you try unregistering our service worker via the Chrome console then restart Chrome ?
![image](https://user-images.githubusercontent.com/15793250/76093912-c2b7aa00-5f8f

[2020-03-06 15:12] mbifulco commented on #6497
Hi there @maestromac - I don't have a special configuration on uBlock.  Unregistering the service worker and restarting chrome didn't quite fix things for me, unfortunately:

When I first unregister the service worker and reload the browser, the page will load correctly, but only once.  I suspect your suspicion might be right, then, that this has to do with the SW - as soon as it loads again and r

[2020-03-06 16:08] maestromac commented on #6497
@mbifulco Is it only the notifications page you are having an issue with? Do you see any errors in your Chrome console?

[2020-03-06 17:16] maestromac commented on #6468
I was able to reproduce this issue on Safari, Chrome, and Firefox. Each has their own similar error
[code]
I am uncertain if that is what's causing the exception errors that broke profile drop-down. I do see my profile brief flash before overwritten by a black image but I'm uncertain what that really means. I also can't reproduce this in development. I'm going to submit a PR to attempt to solve it

[2020-03-06 19:01] mbifulco commented on #6497
Hey @maestromac - so I'm trying to get a more detailed understanding of what's going on, but here's what I've come to observe.  It seems like [_this_ link](https://dev.to/attacomsian/are-ad-blockers-blocking-google-analytics-1e5j), specifically, when clicked on from my notifications page does not work

![image](https://user-images.githubusercontent.com/1844496/76113495-3f5b8000-5fb2-11ea-8514-9207

[2020-03-06 19:38] rhymes commented on #6497
I saw the offline page as well in Firefox - with https://dev.to/attacomsian/are-ad-blockers-blocking-google-analytics-1e5j - but it disappeared after a few refreshes

[2020-03-06 20:33] #6468 closed

[2020-03-06 20:53] maestromac commented on #6497
Thank you for providing all those info @mbifulco . I'm not really sure what's causing this issue 😕 . I'm gonna need a bit more time to try to reproduce this.

[2020-03-06 20:55] lizthegrey opened #6510 "Please configure CLA for @honeycombio"
https://github.com/cla-assistant/cla-assistant/pull/462 says it should be possible to allow any pull request from @honeycombio fork of this repo to pass CLA check.

[2020-03-06 20:58] mbifulco commented on #6497
No problem. I've got a reasonable workaround for now. Happy to hop on a call to screen share if you want to investigate from my environment specifically

[2020-03-06 21:18] maestromac commented on #6462
Hey @piannaf , I believe I resolved this. Can you go ahead and try to access your https://dev.to/settings/organization again?

[2020-03-06 21:23] piannaf commented on #6462
Yup, working now! Thank you!

[2020-03-06 21:29] #6462 closed

[2020-03-07 08:06] #6373 closed

[2020-03-07 08:12] cascadebuildtech opened #6518 "Can't update my profile info."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-03-07 09:57] rhymes commented on #6518
Hello @cascadebuildtech, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-03-07 09:57] #6518 closed

[2020-03-07 11:28] abrain commented on #5546
This also just happened to me on the Welcome page. My browser console shows these errors:
[code]

The SyntaxError in the welcome script should be unrelated. It got introduced with #6422 and should be fixed with #6473. The second and third error seem to be directly related to the bug, as they coincide and do not show up when the bug doesn't happen.

This bug only occurs on the https://dev.to/welcom

[2020-03-07 22:26] DrSensor commented on #371
FYI, [hugo](gohugo.io) support both markdown, asciidoc, and reStructuredText. It might worth taking a look at how they approach this.

[2020-03-08 11:33] gautemo opened #6523 "Manage your post, tips text hides behind card"
**Describe the bug**

When you click manage on an article to go to the "Manage Your Post" page. The Tips text (tip nr. 3), half the text is hidden behind the white box containing the article title.

**To Reproduce**

1. Go to one of your articles
2. Click on 'MANAGE'
3. See error on tips nr. 3, text end on 'Share with your co-workers or local communities. Ask people to leave questions for you in t

[2020-03-08 19:12] rhymes opened #6526 "API: allow retrieval of comments belonging to a podcast episode"
**Is your feature request related to a problem? Please describe.**

Right now the API only returns all comments belonging to an article, but users can also leave comments on podcast episodes.

**Describe the solution you'd like**

Enable users to retrieve podcast episode's comments by adding a parameter to `/api/comments` that would indicate the user is requesting the comments of a podcast episode

[2020-03-08 21:19] gautemo commented on #6523
Closed this in #6524

[2020-03-08 21:19] #6523 closed

[2020-03-09 07:41] mandaputtra commented on #6478
Hello @thepracticaldev/oss, its my first timers looking on Ruby codebases, could you point me where are the script for searching tag?

[2020-03-09 09:07] rhymes commented on #6478
Hi @mandaputtra!

So, the code that contains the tags component is here: https://github.com/thepracticaldev/dev.to/blob/master/app/javascript/shared/components/tags.jsx

Tags are fetched from the search index so you'll need to have Elasticsearch running, see the [installation guide](https://docs.dev.to/installation/) for your operating system, and indexed with tags.

Once all is installed and you

[2020-03-09 11:04] lightalloy commented on #5704
Done during the first cycle.

[2020-03-09 11:04] #5704 closed

[2020-03-09 11:05] lightalloy commented on #5703
Closing as done.

[2020-03-09 11:05] #5703 closed

[2020-03-09 11:06] lightalloy commented on #5702
Closing as done.

[2020-03-09 11:06] #5702 closed

[2020-03-09 11:06] lightalloy commented on #5701
Done :)

[2020-03-09 11:06] #5701 closed

[2020-03-09 11:10] lightalloy commented on #4862
All the cases like these were fixed, so I'm closing the issue.

[2020-03-09 11:10] #4862 closed

[2020-03-09 12:18] rhymes commented on #6255
I added `Api::V0::ChatChannelsController` to the list as it currently works only if the `current_user` is authenticated and part of the channel. Definitely not public API materrial

[2020-03-09 15:27] iamjoross commented on #6478
@mandaputtra : I have experienced the same bug. I can help you out if you're stuck.

[2020-03-09 15:49] RDIL opened #6542 "Typo on badge page"
On https://dev.to/badge/beloved-comment there is a spacing typo, I would be glad to fix it, but I can't seem to find where it is defined.

[2020-03-09 16:06] lisasy opened #6543 "[P1] Implement tile design & interaction in suggested tags"

[2020-03-09 16:10] lisasy opened #6544 "[P2] Implement progress stepper + skip/continue"
### Description
- Implement a **progress stepper** that orients people on which step they're on during onboarding.
- Implement updates to modal navigation so that people can "skip for now" (if they haven't filled out anything) or "Continue".

### F.A.Q's

**For which steps do we apply the `Skip/Continue` functionality?**
- Step 1. Suggested Topics
- Step 2. Build Your Profile
- Step 3. Suggested P

[2020-03-09 16:10] rhymes commented on #6542
Hi @RDIL, badges are stored in the DB, I'm going to forward this internally, thank you a lot for catching this! I'll report back when it's fixed

[2020-03-09 16:10] lisasy opened #6545 "[P2] Move TOC/COC to first intro slide"
![Intro Slide](https://user-images.githubusercontent.com/816402/76819914-e0beaf00-67c6-11ea-88e1-e1c372e00d8c.png)

[✨ See Figma URL ✨](https://www.figma.com/file/fQthjjBLgDLRaHmpIwlhdS/Onboarding?node-id=536%3A200)

[2020-03-09 16:13] lisasy opened #6546 "[P2] Combine profile slides"
### Design assets
![#6546 build your profile](https://user-images.githubusercontent.com/816402/76923262-301ce200-6890-11ea-8ee3-a2c8da462697.png)

**✨ [Figma URL](https://www.figma.com/file/fQthjjBLgDLRaHmpIwlhdS/Onboarding?node-id=547%3A0) ✨**

Questions:
- Can we pull in user image, name from auth source?

[2020-03-09 16:15] lisasy opened #6548 "[P2] Add footer toggle & animation for "Suggested Topics""
### Description
Create a modal footer that lets people know the # of topics they've selected.

Two-states:
- `0 topics selected` - font-weight is medium
- `1+ topics selected` - font-weight is bold

### Design assets
![#6548 suggested topics](https://user-images.githubusercontent.com/816402/76999539-04434000-6914-11ea-865a-a5db4663f31b.png)

[✨ Figma URL ✨](https://www.figma.com/file/fQthjjBLgDLRa

[2020-03-09 16:16] lisasy opened #6549 "[P2] Add footer toggle & animation for "Suggested People""
### Description
Create a modal footer that lets people know the # of people they're following

States:
| States    | CTA |
| :---        |    :----:   |
| Following nobody      | Select all [x] people       |
| Following someone   | Select all [x] people        |
| Following everyone   | Deselect all        |

### Design assets
![#6549 suggested people](https://user-images.githubusercontent.com/81

[2020-03-09 16:18] rhymes commented on #6542
Hi @RDIL - I believe the spacing issue has been fixed https://dev.to/badge/beloved-comment - let me know if that wasn't the full scope of the typo.

Thanks again!

[2020-03-09 16:18] #6542 closed

[2020-03-09 16:18] lisasy opened #6550 "[P2] Move email preferences to last slide"
[✨ Figma URL ✨](https://www.figma.com/file/fQthjjBLgDLRaHmpIwlhdS/Onboarding?node-id=345%3A11128)

[2020-03-09 16:26] RDIL commented on #6542
Its good now 👍

[2020-03-09 16:47] #6460 closed

[2020-03-09 17:25] lisasy opened #6552 "[P2] Build onboarding task card in feed"
### Description
Build an onboarding task card in feed after people leave the onboarding flow so that they have clear call-to-actions.

_Note: this will be a new component we're introducing to feed._

### Design assets

![#6552 onboarding task card](https://user-images.githubusercontent.com/816402/77117307-fc0c0300-69ee-11ea-858d-05549050e751.png)

**[✨ Figma URL ✨](https://www.figma.com/file/fQthj

[2020-03-09 21:11] phlash opened #6559 "<FEED> not displaying on Firefox when logged in"
What happens:
 * Request front page (dev.to), defaulting to &lt;FEED&gt; display
 * Everything loads except the post feed
 * Browser console error:

My info:
 * Browser: Firefox 68.5.0esr, on Debian 10 stable, uBlock origin installed
 * Network: PiHole DNS blacklist enabled

Tests conducted:
 * disable uBlock origin - no change
 * browse from outside my PiHole'd network (via SOCKS5 tunnel includin

[2020-03-09 21:49] rhymes commented on #6559
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-09 21:53] rhymes commented on #6559
Hi @philnash! Thanks for the report.

Does it happen to you with other browsers as well? Can you try and report back?

[2020-03-09 21:58] #97 closed

[2020-03-09 21:58] #182 closed

[2020-03-10 02:24] #6311 closed

[2020-03-10 03:14] citizen428 commented on #6255
Noted @rhymes, thanks!

[2020-03-10 06:27] rhymes commented on #6460
Hi @joelnet, I checked https://dev.to/joelnet/creating-a-linked-list-using-only-function-combinators-5hhk and it seems to be fixed, let us know if you are still experiencing the issue :)

[2020-03-10 09:15] abenettt opened #6563 "Docker with non default Postgres requires set password"
**Describe the bug**
When starting the postgres docker container with a version that is higher than the default it crashes saying the super user password is unset.
[code]

**To Reproduce**
Run:
[code]

**Expected behavior**
The container to start properly

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the follo

[2020-03-10 09:22] rhymes commented on #6563
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-10 09:24] rhymes commented on #6563
Hi @abenettt, I edited the title a bit to make it clearer that this happens with a non default version. Though it's definitely a bug, as we use PostgreSQL 11 in production and I use PosgreSQL 12 locally.

Were you able to boot it up with PostgreSQL 10? Trying to understand if something changed in PostgreSQL 11 related to this...

[2020-03-10 09:28] abenettt commented on #6563
I was unable to start it with PostgreSQL 10 too.

[2020-03-10 09:31] abenettt commented on #6563
I added a PR and tried it out locally and everything seems to work there.

[2020-03-10 11:23] abenerd opened #6567 "Run travis ci tests on all supported database versions"
**Is your feature request related to a problem? Please describe.**
As dev.to supportes several database versions and several such versions are in use, be it the default `9.6`, the production `11` or some maniac running on `12` \s, I think it would be prudent to run the tests against the versions that are officially support by DEV.

**Describe the solution you'd like**
Update the `.travis.yml` so t

[2020-03-10 14:14] rhymes commented on #6567
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-10 14:15] rhymes commented on #6567
ahha it's already supported by Heroku ;-) https://devcenter.heroku.com/changelog-items/1731

[2020-03-10 14:15] rhymes commented on #6567
Great idea by the way!

[2020-03-10 15:30] #5630 closed

[2020-03-10 15:31] vaidehijoshi commented on #5630
@dabrady Thanks for bringing that up! I just closed this since it should be fixed now by #5687 :) Let me know if you're still seeing this issue, though!

[2020-03-10 15:32] gonzar11 commented on #6444
The same happens when a tag or category is selected. Should we fixed it too?

[2020-03-10 15:44] rhymes commented on #6444
If you can, yes! Thank you!

[2020-03-10 16:20] gonzar11 commented on #6444
Hey @rhymes I am seeing that `updateListings` method is being called with empty listings. Should we remove it? Could we put `bumped_at` as a filter in ES ?

[2020-03-10 16:57] leonardosnt opened #6571 "Cannot remove pinned GitHub repositories from profile."
**Describe the bug**

Clicking in the Remove button in the "Pin a few of your GitHub repos to your profile" section does not remove the repository from your Pinned repositories.

Observing the network activity we can see that a POST request is sent to https://dev.to/github_repos/update_or_create with `featured` set to `false`

[code]

but the response returns

[code]

**To Reproduce**
1. Go to htt

[2020-03-10 17:08] xanderyzwich commented on #1346
I'd also offer an alternative that maybe have the submit button not require a reload. I understand that this will likely not allow for the element to move into order, but I feel in the bulk update scenario that is acceptable. The biggest headache about this to me is in the page reload and having to scroll back down to where I just was and doing this a few dozen times when editing my weighting sche

[2020-03-10 17:15] rhymes commented on #6444
Hi @gonzar11, it's a bit hard to reason on the correct solution without seeing where the issue lies.

You do make a good point though I think `bumped_at` can already be used as a filter

Could you submit a draft PR when you're a good point? I'm not totally familiar with how the code works by memory :-/

[2020-03-10 17:22] rhymes commented on #6571
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-10 17:27] abenettt commented on #2365
Pinging this to see whether this is still alive. I’d love to see this feature implemented.
I’d offer myself up implementing this but I am not any good in the front end.

[2020-03-10 17:46] nickytonline commented on #2365
The feature is still ready for development. It just needs someone to take it on. It looks like  @FarazPatankar was looking into it, but they appear to have abandoned working on it. @achasveachas did you work on this at all yet?

[2020-03-10 17:49] rhymes commented on #6571
I think I found the reason why, working on a PR, thanks for raising this issue @leonardosnt!

[2020-03-10 17:50] achasveachas commented on #2365
Didn't get a chance to, though would love to see it happen.

I'm busy for the rest of the week, but if someone wants to take it but isn't confident enough to take it on their own I would love to pair on this sometime next week maybe.

[2020-03-10 18:44] #6563 closed

[2020-03-10 19:45] 2lach commented on #1346
If @xanderyzwich feels like you have a suitable solution feel free to take over this issue.

I have not been able to find the time to do this task for some time and most likely will not now either.

[2020-03-10 21:44] phlash commented on #6559
Not sure if anyone changed anything, but it's all ok today (no JS error and renders correctly).

[2020-03-10 21:44] #6559 closed

[2020-03-10 21:47] joelnet commented on #6460
Yep. It is fixed! I did have to edit the article to "refresh" it. But once I did that it all started working again.

I thought about posting this update in here, but then didn't want to cause noise. But thanks for checking in.

And thanks everyone for being awesome! 👍

Cheers! 🍻

[2020-03-11 00:41] Cheukting opened #6579 "Allow RSS reader to take the cover image if it is provided"
**Is your feature request related to a problem? Please describe.**

I am trying to syndicate my blog post from my website to dev.to and it will be convenient if I can add the cover image URL as a property (e.g. <cover_image> or <image_url>) in the item from the RSS feed. I generate my own RSS feed for my website.

The only challenge would be since it is not a convention for RSS 2.0, it will not be

[2020-03-11 03:25] citizen428 commented on #6567
Thanks for the report @abenettt!

@rhymes In a similar vein we could potentially add building against different Ruby versions to the matrix, but allow it to fail on versions > than the current one we are using, something like

[code]

[2020-03-11 03:36] citizen428 commented on #6579
Thanks for the issue @Cheukting! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need h

[2020-03-11 03:42] citizen428 commented on #6579
@Cheukting Note that in RSS2.0 you can use the `enclosure` attribute on the item level to attach images to posts, which I think would be preferable over a custom solution ([spec](https://validator.w3.org/feed/docs/rss2.html#hrelementsOfLtitemgt)).

[code]
Some people are under the impression that this is only for attaching video or audiofiles, but according to the spec any standard MIME type is ok

[2020-03-11 06:31] citizen428 commented on #6382
PR is open if you wanna check it out @b3u

[2020-03-11 09:31] ludwiczakpawel commented on #6543
https://github.com/thepracticaldev/dev.to/pull/6410#issuecomment-597529824

[2020-03-11 10:06] abenettt commented on #6567
@citizen428 Can you run this against multiple ruby versions? I would have thought that the Gemfile prevents using any version that is not specified in it. But I love the idea!

[2020-03-11 10:36] mandaputtra commented on #6478
@rhymes @iamjoross thanks, how do you login on local? I'm stuck on this step for now :thinking: is there any secrets should I use to go to writing-page?

![Login page on writings](https://user-images.githubusercontent.com/23342943/76407994-d95e6680-63be-11ea-8f3a-844d96be3084.png)

[2020-03-11 11:00] rhymes commented on #6478
You need to sign up wither with Twitter or Github, but first you need to configure either.

See https://docs.dev.to/backend/authentication/

You'll need to add the `GITHUB_KEY`/`GITHUB_SECRET` or `TWITTER_KEY`/`TWITTER_SECRET` or both to your local `application.yml`

Then you can login :)

Let me know if you have further questions!

[2020-03-11 11:23] dcruz1990 opened #6584 "<Feed> Renders a frames whitout content on Android App"
**Describe the bug**
When access the Android App, feed shows blank frames.

**To Reproduce**
Open Dev.To Android App and then the issue.

**Expected behavior**
Feed renders ok.

**Screenshots**
![Broken Dev.To Index](https://i.ibb.co/XszVCP5/Screenshot-20200309-110347.jpg)

**Smartphone (please complete the following information):**

- Device: HUAWEI Y7
- OS: Android 8
- Browser:
- Version:

[2020-03-11 11:42] rhymes commented on #6584
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-11 11:42] rhymes commented on #6584
Hi @dcruz1990, thanks a lot for taking the time to report this!

[2020-03-11 11:44] rhymes commented on #6584
There might be clues here as well https://github.com/thepracticaldev/dev.to/issues/6559

[2020-03-11 12:19] kay-is opened #6585 "Using inclusive GIFs"
I don't know if the GIFs that are shown in the notifications, when passing a certain amount of reactions, are chosen randomly. But today I saw one of Vince McMahon, a person that is a beloved meme-target, but also an offensive public figure (saying the N-word on TV, etc.)

I'm no PoC, but I'd imagine that going to your notifications to see such a GIF could lead to a suboptimal experience and maybe

[2020-03-11 12:29] rhymes commented on #6585
Hi @kay-is, thank you for raising this issue, as you know we strive for being an inclusive community, I'm going to address this ASAP.

All milestone GIFs are pre-chosen and contained in https://github.com/thepracticaldev/dev.to/blob/master/app/labor/random_gif.rb - so it might be that no-one was aware about this

We're going to review the GIFs and remove that one and other uninclusive ones if ther

[2020-03-11 13:01] maestromac commented on #5546
Hey @nombrekeff & @abrain , this issue should be resolved now. Please give those links another try and let me know if the issue still persists.

[2020-03-11 13:01] #5546 closed

[2020-03-11 13:07] nombrekeff commented on #5546
@maestromac in my case I can confirm it is solved!
Thanks, and great work!

[2020-03-11 13:12] abrain commented on #5546
@maestromac Also works for me. Thanks :)

[2020-03-11 13:43] rhymes opened #6586 "Tag "taggings_count" are not always updated correctly"
**Describe the bug**

Each tag has an associated `taggings_count` which contains the number of items they are associated with (in our case either articles or listings).

The problem lies in the fact that some of these counts are incorrect in the DB.

I found this out by playing with the Tags API which returns tags sorted by `taggings_count` in descending order

For example:

1. `archlinux` accordi

[2020-03-11 13:44] rhymes commented on #6586
A possible interim solution is also to setup a scheduled task that updates/fixes these counts

[2020-03-11 14:03] Some-Dood opened #6587 "Fonts: Proposal to add "Lexend Deca" as an option"
**Is your feature request related to a problem? Please describe.**
Given that DEV is a website known for its user-generated technical articles, it is paramount to ensure that font readability—or UX and accessibility in general—is of utmost importance. However, there are times when my eyes tire out from the default sans serif and serif fonts. I am a slow reader, and it is especially worsened when t

[2020-03-11 14:07] rhymes commented on #6587
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-11 15:33] #6382 closed

[2020-03-11 15:35] yysun opened #6589 "Glitch embedded app not working"
I tried the glitch app embedding in the post. https://dev.to/yysun/database-driven-applications-using-websockets-2b9o

{% glitch apprun-websockets-sqlite app %}

The embedded app displays correctly in the preview.  It displays the default glitch template, not my app when not signed in. Nor in the mobile app.

[2020-03-11 15:42] rhymes commented on #6589
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-11 15:43] ankitkanojia opened #6590 "Is there any centering kind of thing for post content?"
Greetings dev.to developers,

Actually when I'm trying to post an article on Dev.To I need to make centering the sentence for better display purpose, but somehow I can't make it center.

Is there anything similar to centering the text on posting the article?

[2020-03-11 15:48] rhymes commented on #6589
Hi @yysun, thanks for raising the issue.

I just tried with both

`{% glitch apprun-websockets-sqlite %}`

and

`{% glitch apprun-websockets-sqlite app %}`

and it worked but they were the only embeds in the page:

![Screenshot_2020-03-11 test glitch embed - DEV(local) Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/76435443-48d05800-63b7-11ea-94a8-2fe022fea44f.png)

![Screensho

[2020-03-11 15:53] #6444 closed

[2020-03-11 15:54] #6585 closed

[2020-03-11 15:58] yysun commented on #6589
Thank you so much for such a quick response.

You actually replicated the issue. My app on glitch is a Todo app like the one in the embedded repl.it.  "A Dream of the Future" is not my app. What I see in the editing preview is different to what you see.

![image](https://user-images.githubusercontent.com/170547/76437198-933dde80-638f-11ea-9f44-4721226cdbc3.png)

[2020-03-11 16:10] #5226 closed

[2020-03-11 16:18] maestromac commented on #6590
Hey @ankitkanojia , you can use the `<center>` tag to center texts. Give it a try and let us know if that fits your needs.

[2020-03-11 16:32] ankitkanojia commented on #6590
Hello @maestromac, Perfect !!!

It work as expected. Thank you so much for your time.

[2020-03-11 16:35] ankitkanojia commented on #6590
I know it a silly question but @maestromac, why there is no editor such kind of thing for design post content. We need to read the instruction to make it proper. I think you should develop an editor for content drafting. Don't you think? Please advice

[2020-03-11 16:43] maestromac commented on #6590
@ankitkanojia Happy to hear that solved it for you. If you are referring to a WYSIWYG editor, we currently don't have any plan for that yet.

[2020-03-11 16:43] #6590 closed

[2020-03-11 16:50] #6571 closed

[2020-03-11 17:12] rhymes commented on #6255
I think I found another endpoint to move, `Api::V0::UsersController#index` - https://dev.to/api/users

A few reasons why:

- currently it only works if `current_user` is present
- it's only used internally to show suggested users in sidebars
- it returns an empty array for authenticated users if they are not asking for suggested users

I think it shall be moved in the `UsersController` and I think

[2020-03-11 17:22] rhymes commented on #6571
@leonardosnt this should be all right on dev.to right now. I tested with my profile and it worked, let me know if it works for you too.

Thanks!

[2020-03-11 18:19] leonardosnt commented on #6571
@rhymes It's working for me. Thanks!

[2020-03-11 18:22] 2color opened #6595 "Some GIFs do not render"
**Describe the bug**

Some GIFs don't render when embedded with `![]()`. Both when uploaded to imgur or as body images to `dev.to`.

The problem seems to relate to the size of the Gif. When the Gif is under 1.1MB, it's fine. However, if it's bigger you see the following:

<img width="786" alt="Screenshot 2020-03-11 at 19 17 23" src="https://user-images.githubusercontent.com/1992255/76449794-fa2db8

[2020-03-11 18:24] dcruz1990 commented on #6584
It happens when i log in.. when logout everything goes fine.

[2020-03-11 18:44] vaidehijoshi commented on #6545
This task will involve the following:
- [ ] Extract "Terms & Conditions" and "Code of Conduct" out of `EmailListTermsConditionsForm` component, and move it into a new component, `TermsConditionsForm`.
- [ ] Create a new component for "Terms & Conditions" and "Code of Conduct", and ensure that it is the first slide visible within the Onboarding flow.

[2020-03-11 19:59] maestromac commented on #6584
I'm unable to reproduce this bug. Can you try clearing the app's storage and cache and let us know if this still persists @dcruz1990 ?

[2020-03-11 21:42] dcruz1990 commented on #6584
@maestromac , tried it since i founded the issue and doesnt works, even reinstalling the app from the Google Play Store.

[2020-03-12 02:43] mandaputtra commented on #6589
Just tried it works

![Screenshot from 2020-03-12 09-43-02](https://user-images.githubusercontent.com/23342943/76482159-f25e2a80-6445-11ea-99bb-c19b27ce1acf.png)

[2020-03-12 03:06] citizen428 commented on #6567
Our Gemfile re-uses `.ruby-version`:

[code]

So worst case we can always do a little-pre run `sed` action 😉

[2020-03-12 03:33] citizen428 commented on #6255
The task that gives on giving 🤣 Thanks @rhymes!

[2020-03-12 06:06] citizen428 commented on #6255
@benhalpern Regarding `POST /api/reactions api/v0/reactions#create`, is this still used? I can't seem to find it:

[code]

Looking at the JS code, reactions seem to get invoked via `sendFetch` in `app/assets/javascripts/utilities/sendFetch.js`, but that posts to `/reactions`, which is also a JSON endpoint, not `/api/reactions`.

[2020-03-12 06:54] mandaputtra commented on #6478
Done, one line fix :lollipop:

[2020-03-12 08:29] rhymes commented on #6255
According to

https://github.com/thepracticaldev/dev.to/blob/3161c9d901c8d14877db13c3647d6be7e7b277f1/app/controllers/api/v0/reactions_controller.rb#L6-L11

https://github.com/thepracticaldev/dev.to/blob/3161c9d901c8d14877db13c3647d6be7e7b277f1/app/controllers/api/v0/reactions_controller.rb#L30-L34

only super admins can invoke that endpoint.

The problem as you mentioned is that we can't find out

[2020-03-12 09:13] rhymes opened #6602 "Onboarding should require server side authentication"
**Describe the bug**

While reviewing https://github.com/thepracticaldev/dev.to/pull/6601 I noticed the following things:

- https://dev.to/onboarding is technically accessible to non logged in users, as `PagesController#onboarding` doesn't require authentication:

https://github.com/thepracticaldev/dev.to/blob/3161c9d901c8d14877db13c3647d6be7e7b277f1/app/controllers/pages_controller.rb#L1-L2

htt

[2020-03-12 09:15] rhymes commented on #6589
I think it's working now @yysun, I'm going to close this. Let me know if that's not the case

[2020-03-12 09:15] #6589 closed

[2020-03-12 09:26] ankitkanojia commented on #6590
Great !!!... Thank you so much @maestromac ... Your Team(Dev.To) Rocks!!!!!

[2020-03-12 09:59] simskij commented on #3363
The [k6](https://k6.io/) team would appreciate this as well. I'm struggling to find a way to easily collaborate on this right now.

[2020-03-12 10:32] rhymes commented on #6595
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-12 10:33] rhymes commented on #6595
Ok, so it might be an issue with Cloudinary.

The original uploaded gif works: https://dev-to-uploads.s3.amazonaws.com/i/ruuqyho8i2ddv5kmy6fj.gif

The cloudinary URL doesn't: https://res.cloudinary.com/practicaldev/image/fetch/s--YEtScEyS--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/i/ruuqyho8i2ddv5kmy6fj.gif

[2020-03-12 12:37] yysun commented on #6589
I am sorry, but It is NOT working.
Expected:
![](https://user-images.githubusercontent.com/170547/76437198-933dde80-638f-11ea-9f44-4721226cdbc3.png)

[2020-03-12 13:08] bestwaye opened #6605 "Ooooops... You have encountered an error."
Our team has been notified. Please feel welcome to also submit a public bug report. We apologize for any inconvenience.

anyone, please tell me why this type error on dev.to

[2020-03-12 13:53] rhymes commented on #6589
hi @yysun I might not have understood what the issue is though. What is supposed to happen? It seems like the glitch is loading

[2020-03-12 14:02] maestromac commented on #6605
Hello @bestwaye , where are you seeing this error? can you kindly provide a screenshot?

[2020-03-12 14:06] yysun commented on #6589
Glitch shows but what it shows is not is not my project.

On Thu, Mar 12, 2020 at 9:53 AM rhymes <notifications@github.com> wrote:

[2020-03-12 14:53] thomasbnt opened #6608 "Improving statistics and reducing ghosts"
### **Is your feature request related to a problem? Please describe.**

I've got a lot of followers, but when I post a new article, I get little interaction and few views. This is really too bad and I'm not the only one who might be frustrated...

### **Describe the solution you'd like**

I would like two things :

* **A upgrade of Dashboard**
	* Add a graph for statistics
	* Triage by weeks/month

[2020-03-12 15:03] rhymes commented on #6608
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-12 16:06] maestromac commented on #6589
Hello @yysun , the reason you are experiencing this error is that the glitch id you've provided either no longer exist, invalid, or private (assuming it's  http://apprun-websockets-sqlite.glitch.me).

I've played around with glitch embed directly on glitch, and what I found is that when the invalid id is provided, Glitch will use `window.alert` to inform you of the expected error and render a rand

[2020-03-12 16:16] yysun commented on #6589
I confirm it was because of the wrong glitch id. My bad. It is strange that
it worked in the preview when I was editing.

Thank you all for your help again!

On Thu, Mar 12, 2020 at 12:06 PM Mac Siri <notifications@github.com> wrote:

[2020-03-12 16:54] adamkdean opened #6610 "Error when submitting a comment on a recently deleted post"
**Describe the bug**

Followed a link from an email, attempted to respond to a comment, received error `There was an error in your markdown: undefined method `id' for nil:NilClass`, comment not posted.

**To Reproduce**

Follow link from an email, attempt to respond to a comment.

**Expected behavior**

Comment is posted.

**Screenshots**

![image](https://user-images.githubusercontent.com/1639527

[2020-03-12 16:57] adamkdean commented on #6610
Looks like the author deleted his post. Perhaps the solution here is better messaging to explain that the post/comment thread no longer exists.

[2020-03-12 17:13] rhymes commented on #6610
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-12 17:14] rhymes commented on #6610
Hi @adamkdean, thanks for the issue! I edited the title to add context :)

[2020-03-12 18:27] nonopolarity opened #6612 "Is it possible to see from which post another user started to follow me?"
I see other users starting to follow me, and wonder if they read one of my posts and started to follow me?  I just wonder which post it is.  Is it possible to find out or show us this information?  "While reading your posts about [ ... some topic ], the user followed you on dev.to"

[2020-03-12 19:55] roblack opened #6616 "Follow button text not refreshing or invisible"
**Describe the bug**
Opening a user profile page while not being logged/registered follow button text is not visible. And even though it seems to be clickable, there is are no link on the button. After registering text seems to appear, but then randomly disappears and in that case it tends to be invisible, only to show up on a mouseover.

Not sure what exactly it is causing it but happened 2-3 tim

[2020-03-12 23:22] jimmoffitt commented on #1299
I am starting to stage a new post, and wondering how to get my colleague added as an author. Any tips? Do you just need a github handle?

[2020-03-13 03:20] citizen428 commented on #6612
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-13 03:21] citizen428 commented on #6612
Hi @jianlin, thanks for the issue. From what I can tell this is not currently possible. Also keep in mind that users can follow you for other reasons than reading your posts, e.g. follow suggestions during onboarding.

[2020-03-13 03:32] citizen428 commented on #6616
Thanks for the issue @roblack.

I did this with several users now, it worked in all cases (Firefox Developer Edition 75.0b2, Catalina 10.15.2). Same with he Chromium-based Microsoft Edge Beta for macOS. Could this be related to your Brave settings?

[2020-03-13 13:18] AleksandrHovhannisyan opened #6627 "Inline LaTeX (KaTeX) is forced to be block-level."
**Describe the bug**

Authors cannot use LaTeX inline, like so:

[code]

**To Reproduce**

1. Draft a new post.
2. Copy the above example into the body.
3. Observe that the KaTeX tags are forced to render at a block level:

**Expected behavior**

Users should be able to create both inline and block-level code.

**Screenshots**

![image](https://user-images.githubusercontent.com/19352442/76624388-9

[2020-03-13 13:20] rhymes commented on #6627
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-13 17:54] Rahul626 opened #6630 "Bug encountered! Please help me to fix this ..from long back i am facing this issue"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: Windows
- Browser: Every Browser
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**
![image](https://user-images.githubusercontent.com/42401032/76646868-be881f80-6581-11ea-

[2020-03-13 17:59] rhymes commented on #4474
We've documented all publicly available APIs, added a validator and fixed some bugs in the process.

I'm closing this!

[2020-03-13 17:59] #4474 closed

[2020-03-13 23:25] michael-tharrington opened #6632 "Add functionality for users to clear their reading list"
**Is your feature request related to a problem? Please describe.**

Occasionally, users want to clear out their [reading lists](https://dev.to/readinglist), to start fresh.

**Describe the solution you'd like**

I think it'd be quite nice if we treated reading lists like an inbox. Perhaps we could have boxes beside each item in the list that folks could check, and then they could act to archive or

[2020-03-14 12:55] yujiri8 commented on #2204
I see something similar that might be related. Here's a screenshot of my notifs:

![2020-03-14-084707_916x495_scrot](https://user-images.githubusercontent.com/16864184/76682289-2c0f6c80-65d1-11ea-9b9d-409aca995133.png)

Note the article title being listed as `How to feel about?` (and curiously, with the ? outside the box). The article is titled "How to feel about &lt;a ping&gt;".

[2020-03-14 16:39] Math3v commented on #6499
@mstruve I would like to take a look. Have you got any particular solution in mind? When users or articles "leave" the platform, are they gone for good, or are they only marked as deleted? Thanks!

[2020-03-14 20:05] narender2031 commented on #5205
@cxw42   Can I take this one?

[2020-03-15 02:06] cxw42 commented on #5205
@narender2031 Please! :D

I'm just a user.  I can still reproduce this issue --- just tested with Chrome 80.0.3987.132 (Official Build) snap (64-bit) on Lubuntu 19.10.  Let me know if there's anything you'd like me to test.

Thank you!!!!

[2020-03-15 09:41] narender2031 commented on #5205
@cxw42 I created a PR for this issue.  You can check my PR.

[2020-03-15 14:37] cxw42 commented on #5205
Looks reasonable to me!  I do not have a local test environment set up --- @michael-tharrington ?

[2020-03-16 02:55] citizen428 commented on #6630
Hello @Rahul626, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help. Make sure to include as much information as possible, so we are able to help you better.

[2020-03-16 02:55] #6630 closed

[2020-03-16 03:29] Olyno opened #6644 "[suggestion] - Search filter for Reading List"
**Is your feature request related to a problem? Please describe.**

I added a lot of articles in my Reading List. Problem: it's really hard to find any article I want.

**Describe the solution you'd like**

A simple search bar on the right of the header, that should filter reading list on keyup. Should not be hard to implement, and could be really usefull.

**Describe alternatives you've considere

[2020-03-16 04:29] citizen428 commented on #6644
Thanks for the issue @Olyno! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help,

[2020-03-16 04:29] citizen428 commented on #6644
@Olyno Do you think your issue is covered by #709? In that case, could you maybe just post a comment there and we close this issue to avoid duplicates? Thanks!

[2020-03-16 04:32] Olyno commented on #6644
Hi @citizen428, thanks for you reply. Indeed I didn't see this issue, my bad. I close this one to add my idea in this already existing issue 😄

[2020-03-16 04:32] #6644 closed

[2020-03-16 04:35] Olyno commented on #709
Hi,
Like I said in a recent issue (see above), maybe add a search bar to just be able to find any article in our Reading List depending what we type could be really good in the Reading List header on the right of the title. It should not be a hard feature to implement, and should be really benefic to Dev.

[2020-03-16 06:48] ledestin opened #6646 "Missing foreman gem, when running bin/startup"
**Describe the bug**

Running ./bin/startup yields `rbenv: foreman: command not found`. Foreman gem is not in Gemfile either.

**To Reproduce**

1. Install dev.to locally as per docs. I ran `bundle` and `yarn` and `rake db:setup`.
2. Run ./bin/startup and get:
[code]

**Expected behavior**

Foreman gem would be installed as a dev dependency and ./bin/startup would work.

- OS: Debian Linux 9.12
-

[2020-03-16 07:53] rhymes commented on #6646
Hi @ledestin, according to the message, you're missing `foreman`, as you indicated in step 1 you haven't run `bin/setup` but only `rails db:setup`, please run `bin/setup` as indicated in the [linux installation guide](https://docs.dev.to/installation/linux/).

I'm going to close this, let me know if you're still encountering issues!

[2020-03-16 07:53] #6646 closed

[2020-03-16 08:00] rhymes commented on #709
Hi @Olyno, I think since this issue was opened a few things have changed.

The reading list now has free form search and filtering by tag. You can find them on the left sidebar:

![Screenshot_2020-03-16 Reading List - DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/76735070-7543f580-6764-11ea-943c-4c268cdfc0da.png)

if I type `api` the results are searched by that keyword:

[2020-03-16 09:24] Olyno commented on #709
Oooh indeed, I didn't see it, good to know, thanks for the information 😅

[2020-03-16 09:44] rhymes commented on #6632
A possible alternative would be to have an `archive all` button that moves all the inboxed reading list tems on to the archive section

[2020-03-16 09:55] rhymes commented on #709
Ahah don't know to be honest, I never know if sidebars should be on the right or on the left. There are plenty of cases for both of them. Anyhow, you could open a feature request to move the sidebar on the right.

I did with the developer tools and this is how it looks:

![Screenshot_2020-03-16 Reading List - DEV(local) Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/76744497-99

[2020-03-16 10:06] Olyno commented on #709
I think not the place of the sidebar itself should be change. I mean, the search bar is in the sidebar, so technically it makes the same that the top search bar (the main one).
It's not explicit about the fact that this search bar is linked to the Reading List.
In my opinion, only the search bar should be move.

[2020-03-16 11:04] rhymes commented on #709
@Olyno could you open a separate feature request about this? This way we don't lose this conversation as this issue is about another topic. Thank you!

[2020-03-16 11:31] Olyno opened #6647 "Improvement of Reading List UI/UX: move the search bar in the right column"
**Is your feature request related to a problem? Please describe.**

Currently the search bar of the Reading List is in the sidebar. So when we have a look into Reading List and we want to search one specific article that we saved, we don't find easily the search bar, or we don't understand that the search bar inside the sidebar is for the Reading List

**Describe the solution you'd like**

Move th

[2020-03-16 11:33] rhymes commented on #6647
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-16 11:50] rhymes opened #6649 "Add automatic transcription to video articles on upload"
**Is your feature request related to a problem? Please describe.**

Inspired by [this DEV post](https://dev.to/lauragift21/improve-video-accessibility-with-captions-1m8p) about adding automatic captions with Cloudinary I thought it might be nice to consider having something similar for DEV.

The post details how it can be done via Cloudinary, essentially using either of these services:

- [Google

[2020-03-16 14:14] Ridhwana opened #6663 "Document the maintainer workflow (where is the list of labels, which ones to use)"
https://www.notion.so/devto/Workflow-Documentation-Draft-4daedb0551e141f2ac2f3fd5f8aa6d94

1. Where is the list of labels,
2. Which labels to use

[2020-03-16 14:18] Ridhwana commented on #6663
1. Where is the list of labels,
2. Which labels to use

[2020-03-16 14:49] #6602 closed

[2020-03-16 14:55] wolfiton opened #6665 "Markdown doesn't highlight code after some time"
**Describe the bug**

Look at this article https://dev.to/wolfiton/absinthe-journey-with-wolfiton-or-how-to-bring-the-absinthe-tutorial-up-to-date-part-7-the-user-58

**To Reproduce**
Write normal markdown for an article and then after some time you will get this https://dev.to/wolfiton/absinthe-journey-with-wolfiton-or-how-to-bring-the-absinthe-tutorial-up-to-date-part-7-the-user-58

A markdown a

[2020-03-16 15:48] rhymes commented on #6665
Hi @wolfiton, could you paste your markdown in a Gist - https://gist.github.com/new - and then link it here?

[2020-03-16 15:56] wolfiton commented on #6665
Hi @rhymes

Thanks for the quick reply

The gist is here https://gist.github.com/wolfiton/192e67588e8e9d8a0591e7f86316a6f1

[2020-03-16 16:11] michael-tharrington commented on #5205
Hey there, I've pinged the team to check this out when they have a moment! Thanks to both of you — @cxw42 and @narender2031 — for reporting and working on this!

[2020-03-16 16:32] benhalpern commented on #5205
The @narender2031 fix has been merged

https://github.com/thepracticaldev/dev.to/pull/6636

[2020-03-16 16:32] #5205 closed

[2020-03-16 16:36] rhymes commented on #6665
Hi, there are two issues with that markdown that prevent rendering.

Between line 68 and 69 you need an empty line: https://gist.github.com/wolfiton/192e67588e8e9d8a0591e7f86316a6f1#file-gistfile1-txt-L68

on line 128 there's an extra backtick at the end of the line https://gist.github.com/wolfiton/192e67588e8e9d8a0591e7f86316a6f1#file-gistfile1-txt-L128

I fixed those and was able to render, let

[2020-03-16 16:41] wolfiton commented on #6665
Hi,
Still not working properly
Try to create a new article on dev and preview the article using the gist raw data.

[2020-03-16 16:48] rhymes commented on #6665
I did, after fixing the two errors. Check this gist - https://gist.github.com/rhymes/ca47ec77e64a7b8ee6bfb83b1dafb44c - which is the markdown and the following screenshot

![Screenshot_2020-03-16 elixir post - DEV(local) Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/76780966-3d61a000-67ae-11ea-8295-0eca5ca51525.png)

If you look closely at the gist show page you'll notice it's

[2020-03-16 16:48] rhymes commented on #6665
Let me know if I missed something, thanks!

[2020-03-16 16:52] wolfiton commented on #6665
Hi,
My markdown editor is it seems that it didn't show the extra ` and also the space that was needed. I will probably have to change it to vscodium.

Thanks @rhymes  your post.md template with raw data worked.

[2020-03-16 16:52] #6665 closed

[2020-03-16 18:33] cxw42 commented on #5205
@benhalpern @michael-tharrington @narender2031 Thank you!  I confirm I was able to read the privacy policy during onboarding, so the issue I experienced is fixed.

I have also now completed onboarding ;) .

[2020-03-16 19:02] maestromac commented on #6627
So our Katex was implemented with Liquid Block instead of Liquid tag. See the distinction below.

[code]

The current katex block is also defaulting `display_mode: true`(which center aligns)  and wrapping the whole rendered item in a div, making inline possible.

I would say ideally we have both forms of implementation under the same name so our users can use whatever fits them but that wouldn't b

[2020-03-16 21:03] brunojs02 commented on #5726
There's another issue, after u got the error, the message for add credit card is 'add another credit card', but I still don't have any

[2020-03-17 03:30] citizen428 commented on #6627
@maestromac Would it be possible to add an option like `block: true` to the tag and then update the code to something like this?

[code]

It would then be called like `{% katex block: false %}f(x){% endkatex %}` (syntax may be off, just trying to outline the idea). Then in the template we could probably use a `span` and use an inline `display` attribute to switch it between `inline` and `block`.

[2020-03-17 03:39] citizen428 commented on #6663
To our awesome contributors: please note that issues labelled `DEV team` will be worked on by a core team member, so they are not up for grabs.

[2020-03-17 03:49] lisasy commented on #6545
In the existing flow, there is an error notice that triggers when the user attempts to progress to the next step without selecting the fields. However, based on the way we've designed users progress, the "Get Started" CTA is not clickable/tappable *until* they select the fields.

Would this mean you remove this error notice functionality, as well?

<img width="758" alt="Screenshot 2020-03-16 20 46

[2020-03-17 04:16] citizen428 commented on #6627
I spiked it, it works:

<img width="483" alt="Screen Shot 2020-03-17 at 11 11 56" src="https://user-images.githubusercontent.com/47985/76821490-a691f380-6840-11ea-9f97-28313309cdc8.png">

Will open a PR in a bit when I polished this off.

[2020-03-17 04:46] citizen428 commented on #6255
@benhalpern @maestromac Any insights on this? We are still wondering where the calls to `pi/v0/reactions#create` originate.

[2020-03-17 09:42] #6627 closed

[2020-03-17 10:45] AleksandrHovhannisyan commented on #6627
Nice, thanks!

[2020-03-17 13:06] #6605 closed

[2020-03-17 13:08] AleksandrHovhannisyan opened #6673 "Nested code blocks containing Liquid syntax fail."
**Describe the bug**

I'm trying to use this valid code snippet in a tutorial, which compiles fine in Jekyll:
[code]

But on Dev.to, I'm getting:

If I delete the nested code and just use the include syntax directly in the outermost code block, it works:

[code]

**To Reproduce**

1. Click the `Write a Post` button on Dev.to.

2. Paste in this code:

[code]

3. Click `Preview`.

4. Observe that it

[2020-03-17 13:33] rhymes commented on #6673
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-03-17 14:19] maestromac commented on #6255
@citizen428 🤔 I've also looked and I have no idea where this is being used.

[2020-03-17 15:29] benhalpern opened #6674 "Address /internal performance issues"
Some pages on `/internal` have performance issues which we haven't addressed because they just don't get hit very often, but I think we'd probably use them more if they were addressed.

Some pages are just not built for the amount of prod data they have.

I suspect it's likely n+1 issues but haven't fully examined. Since some types of data don't always show we won't have the same n+1 on every vers

[2020-03-17 18:09] krishnadevz opened #6679 "Show accurate count when the article has less than 100 views"
**Dev.to should have stats(how many views/visitors) option for articles.
means when a user publish any article after that he can able to see how many views he/she got**

**This Same thing Medium is having in their stories/stats section**

[2020-03-17 22:07] michael-tharrington commented on #6632
Good alternative idea there. 🙂

[2020-03-17 22:50] vaidehijoshi commented on #6545
@lisasy It depends on what kind of flow you'd like the users to have while progressing through these forms.

I've worked with designers who wanted the button to be clickable (and _not_ be disabled), and then let the users click the button, and see an error message that showed them the problems with the form.

Personally, I've always liked the approach of disabling the button and not letting it be

[2020-03-18 04:40] citizen428 commented on #6679
Thanks for the issue @krishnadevz! Are you aware that view, reaction and comment counts are already available on your [dasahboard](https://dev.to/dashboard))? Here's an example:

<img width="843" alt="Screen Shot 2020-03-18 at 11 36 11" src="https://user-images.githubusercontent.com/47985/76925811-43ba5e00-690d-11ea-8cc3-2efc6d1189ac.png">

[2020-03-18 04:54] krishnadevz commented on #6679
@citizen428 thanks for the reply yes that thing is available but only showing under 500views but dev.to developers team can show exact views that can be a good feature for knowing exact view count /how many people reach and that's it.🐱‍👤😊

[2020-03-18 04:58] citizen428 commented on #6679
I'm not sure I understand @krishnadevz, what do you mean by "under 500 views"? There are exact view counts on the dashboard, like 641, 372, and 993 here:

<img width="843" alt="Screen Shot 2020-03-18 at 11 36 11" src="https://user-images.githubusercontent.com/47985/76926730-a9a7e500-690f-11ea-8a2f-342d34d44582.png">

[2020-03-18 05:04] 0oneeipi opened #6691 "One of the MOST evil bug: type for 15 minutes for a post, hit Publish, and the WHOLE content is refreshed blank"
**One of the MOST evil bug: type for 15 minutes for a post, hit Publish, and the WHOLE content is refreshed blank, giving me a blank form back**

**I have to retype 15 minutes of content, which I am not going to.**

Using Google Chrome, latest version. Version 80.0.3987

On a Mac.

This kind of bug happens in some website, but not all.

One reason might be I typed in the tag as `js`... which is no

[2020-03-18 05:52] krishnadevz commented on #6679
![Screenshot (73)](https://user-images.githubusercontent.com/42638797/76929601-a0684980-690a-11ea-9d3e-24120d92608a.png)
**i hope you got my point now**🔼✔

[2020-03-18 06:41] dzhavat opened #6692 "Draft showing an older version in the editor"
**Describe the bug**
I have a draft article right now that I want to publish but can't because when I open it, I see it in its current form for a second then the editor jumps and shows me an older version of it. This has happened to me before but this is the first time I'm reporting it.

I think it might be related to caching. I tried opening the draft in a new window and reloading the page with a

[2020-03-18 06:56] krishnadevz commented on #6692
Temporary help Use firefox instead of chrome✔ btw i never faced this issue in firefox that's why suggesting otherwise maintainers will you with this thing .

[2020-03-18 07:15] dzhavat commented on #6692
@krishnadevz Thanks for your suggestion. I'm actually using Firefox :)

[2020-03-18 08:42] krishnadevz commented on #6692
i also tried same thing for draft but i am not getting that problem i am suggesting following solutions/tricks

- clear cache of your browser
- or reinstall the browser then i think this problem will fix .it is like malfunctioning of website
**Give it a try then let me know**

i think that problem is  glitch kind of thing

[2020-03-18 08:43] krishnadevz commented on #6692
i also tried same thing for draft but i am not getting that problem i am suggesting following solutions/tricks

- clear cache of your browser
- or reinstall the browser then i think this problem will fix .it is like malfunctioning of website
**Give it a try then let me know**

i think that problem is  glitch kind of thing

[2020-03-18 09:48] dzhavat commented on #6692
@krishnadevz Thanks for your help and tips. I think reinstalling the browser is probably a bit too far. Reinstalling the browser because a website has some problems is probably not where the root cause is. I also tried clearing the browser cache (at that point in time) but the problem was still there.

On the bright side, opening the same draft from a different computer shows the latest draft vers

[2020-03-18 09:51] rhymes commented on #6679
Hi @krishnadevz, I updated the title to make it clearer, thanks a lot for this feature request!

[2020-03-18 09:53] rhymes commented on #6692
Thanks a lot for all the details @dzhavat, it might be related to this bug https://github.com/thepracticaldev/dev.to/issues/4409

I'm going to keep this open as we haven't yet determined if they are the same bug indeed

[2020-03-18 10:01] krishnadevz commented on #6679
@rhymes welcome stay safe&clean looking forward for more feature requests/PR's/Contributions ✔🐱‍💻

[2020-03-18 10:52] fist28 commented on #5172
I can take it.
@b3u  we can use user/repo for search project by API.
endpoint `/projects/:id` allows to pas `user/repo` instead of id of project.

https://docs.gitlab.com/ee/api/projects.html#get-single-project
https://docs.gitlab.com/ee/api/README.html#namespaced-path-encoding

I think that using the same convention as in Github will be better.

[2020-03-18 14:48] xanderyzwich commented on #5566
after doing some more research, I've had dev.to pickup category from RSS; however, the length of the string picked up seems to be a bit small.

picked up "posts,agile,producti" instead of "posts,agile,productivity,career,development"
while I need to filter "posts" out of my listing, I would want to see all of the 4 allowable tags be picked up.

[2020-03-18 17:25] vaidehijoshi opened #6700 "Add welcome thread welcome notification"
We want to add a welcome notification prompting users to comment on a welcome thread. This should only be sent if a user hasn't already received this notification, and only should be sent 3 hours after the user is created (we don't want to bombard the user with too many notifications!).

The copy should read: "Sloan here again! 👋 DEV is a friendly community! Why not introduce yourself by leaving a

[2020-03-18 18:02] vaidehijoshi opened #6702 "Allow welcome threads to be scoped"
Currently, we query for welcome threads by reusing the same logic when necessary:
[code]

We should pull this out into a scope so that anyone can find the most recent welcome thread like so: `Article.latest_welcome_thread`.

[2020-03-18 18:15] vaidehijoshi opened #6703 "Add an authentication welcome notification"
We want to add a welcome notification prompting users to to authenticate with the service that they have _not_ yet authenticated with. This is to prevent authentication bugs where duplicate accounts can sometimes be created.

Based on how the user authenticated when they initially signed up, the copy will be slightly different.
- If the user authenticated with GitHub on signup, the copy should rea

[2020-03-18 18:24] vaidehijoshi opened #6705 "Allow users to opt-out of welcome notifications"
Some users may not want to receive welcome notifications. We should allow them to opt-out/unsubscribe from welcome notifications. Once a user has opted-out of welcome notifications, they shouldn't receive any new ones!

We might want to use notification subscriptions in order to implement this. We also should sync up with @lisasy and see if she has ideas on how to include an "opt-out" link at the

[2020-03-18 18:39] vaidehijoshi opened #6706 "Add feed customization welcome notification"
We want to prompt new users to follow some tags once they have signed up in order to help customize their DEV feed.

Users should only receive this notification if they haven't already followed a few tags or community members (maybe less than 2?). This notification should be sent out 3 days after signing up.

Suggested copy for this notification: "Hi, it's me again! 👋Now that you're a part of the

[2020-03-18 18:41] vaidehijoshi commented on #6706
@maestromac I'm thinking a bit more about where we should send folks to when we tell them to "follow some community members". Linking to `/tags` seems like the obvious, straightforward choice here, but as far as community members, I haven't found a great place to send people to via this notification. Curious to hear your thoughts here!

[2020-03-18 18:45] vaidehijoshi opened #6707 "Add experience customization welcome notification"
Since DEV's UX experience is fairly customizable, we should point new users to this feature, especially in light of the fact that some users may want to make use of accessibility features.

We should send this notification out 5 days after a user has signed up.

Suggested copy: "Sloan here! 👋 Did you know that that you can customize your DEV experience? Try changing your font and theme to find the

[2020-03-18 19:01] vaidehijoshi opened #6708 "Add a discuss/ask welcome notification"
We want to ensure that our users are engaging with the platform soon after they've signed up. To that end, we want to prompt them to start a discussion (if they haven't), or ask a question (if they haven't).

We should send this notification out 6 days after sign up. This should be the last notification that users receive within the welcome notification flow.

The copy for this notification should

[2020-03-18 19:07] vaidehijoshi opened #6709 "Clean up duplicated broadcast code"
Once welcome notifications have been shipped, we should refactor our broadcast code such that we only have a concept of generic Broadcasts or Welcome Broadcasts. This will involve removing any instances of `Onboarding` Broadcasts.

We'll want to grep the codebase can clean up any pending `# TODO: [@thepracticaldev/delightful]` tasks as part of this, too.

[2020-03-18 19:12] vaidehijoshi opened #6710 "Add a reoccurring task to send welcome notifications"
We'll need to create a rake task that handles the work of running the `Broadcasts::WelcomeNotification::Generator`, which will send out welcome notifications.

We should run this task on only the recent signups (a subset of users who have signed up from the last 7 days).

[2020-03-18 19:31] DouglasLutz commented on #6679
Can I do this?

[2020-03-18 19:46] maestromac commented on #6706
@vaidehijoshi my immediate thought is also the `/tags` page. We could show them our [top 7 posts](https://dev.to/devteam/the-7-most-popular-dev-posts-from-the-past-week-2jdh) to recommend authors but feels a bit in-direct. Maybe what we're really missing is a `Discover an author` page.

I also wonder if this is necessary though, because even if a user blaze through our onboarding flow the `Ok, her

[2020-03-18 20:23] maestromac commented on #5566
Hey @xanderyzwich I inspected your updated feed and I noticed your categories is listed as below

[code]
The category tag should be used as follows
[code]

This error is happening because we treated your term attribute as 1 tag and only took the first 20 characters because that's character limit for 1 tag.

[2020-03-18 20:52] vaidehijoshi commented on #6706
@maestromac Based on the new onboarding designs, I'd say that we can't rely on the onboarding flow to pre-select all recommended authors; instead, we're pivoting to defaulting to no users being selected, and allowing them to select one, many, or all users with the [new designs](https://github.com/thepracticaldev/dev.to/issues/6549).

I don't love using the top 7 posts for this, and this make me wo

[2020-03-18 22:12] xanderyzwich commented on #5566
@maestromac  thank you for all of the help with this issue. I believe that I now have this corrected.

[2020-03-18 22:21] maestromac commented on #6691
Hello @0oneeipi , sorry to hear about this issue. We use localStorage to automatically store any work in progress post. You can type any text on the editor then immediately refresh to verify if that functionality is working for you. And just to verify, you clicked publish and it immediately refreshed? Is there a possibility that you've clicked `clear` instead of by accident?

![image](https://user

[2020-03-18 23:32] vaidehijoshi opened #6714 "Remove variants from onboarding"
We currently have a concept of "variants" in the frontend and backend portions of the onboarding feature. However, we don't really use these at the moment, and we plan to have only one main form of onboarding with these revamped designs (for now, at least!). We also have a newer way of running variants against features: `field_test`, which is what we use on the feed currently.

Given all of this,

[2020-03-18 23:50] vaidehijoshi commented on #6544
This should be fairly straightforward to implement and add into `Onboarding.jsx`. We already have access to `currentSlide` and the list of slides; we should be able to derive which slide of the entire list we're currently on by checking the index of `currentSlide`.

[2020-03-18 23:57] vaidehijoshi commented on #6546
This data already exists on `window.userData()`, so we should be able to use it directly or pass it in as the `props` of the `BioForm` component.

[2020-03-19 03:30] citizen428 commented on #6679
@DouglasLutz For feature requests, please wait until we add a `ready for dev` label before starting to work on it. I'll see if we can fast-track the decision on this one though 😃

Once we added the label, you can claim the issue by assigning yourself. If you need any help, please ping @thepracticaldev/oss and we will follow up within 3 business days.

For full info on how to contribute, please che

[2020-03-19 07:05] 0oneeipi commented on #6691
I didn't click CLEAR. It would give me a box (I just tried) asking me if I am sure I want to clear.  There was no such box.  I even tried another new POST about 10 minutes later and it was the same behavior: Click Publish and the whole Post is gone.

**I suggest this:  You save the content in the localStorage.  Maybe you are clearing that when user clicks Publish.  I suggest it only get cleared wh

[2020-03-19 07:51] Ridhwana commented on #6700
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-03-19 07:52] Ridhwana commented on #6702
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-03-19 07:52] Ridhwana commented on #6703
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-03-19 07:52] Ridhwana commented on #6705
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-03-19 07:52] Ridhwana commented on #6707
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-03-19 07:53] Ridhwana commented on #6708
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-03-19 07:53] Ridhwana commented on #6709
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-03-19 07:53] Ridhwana commented on #6710
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-03-19 07:53] Ridhwana commented on #6714
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-03-19 13:25] reyesvicente opened #6725 "CSS Issue on Mod dashboard"
**Describe the bug**

CSS issue on the experience level on a post

**To Reproduce**

1. Go to '...' -> https://dev.to/{user}/{title}
2. Click on '....' -> moderate post
3. Scroll down to '....' -> Experience Level of Post
4. See error

**Expected behavior**
Numbers shouldnt cover the string "Experience Level of Post"

**Screenshots**
Firefox Dev Edition
![firefox](https://user-images.githubusercon

[2020-03-19 13:44] nickytonline commented on #6725
This is most likely related to some global CSS changes that were merged into the code base within the past couple of weeks. Probably another `line-height` issue.

[2020-03-19 14:35] ludwiczakpawel opened #6726 "Listings tags are not being rendered"
**Describe the bug**

When creating a listing, user can specify tags. But they are not being rendered anywhere. There's a code that supposed to print them: https://github.com/thepracticaldev/dev.to/blob/master/app/views/classified_listings/_liquid.html.erb#L26
but it always returns empty container.
(example above is actually listing injected by liquid in article, but I can't see listing's tags ANY

[2020-03-19 14:49] benhalpern commented on #6679
The reason we didn't show under 100 is because our pageviews are not accurate down to the one, so you could have 15 views and show zero based on how we tally.

However, I could see lowering the number for the minumum, maybe 25?

[2020-03-19 14:49] benhalpern commented on #6679
I'd sign off on moving this to 25 and will mark ready for dev on that.

[2020-03-19 16:04] Ridhwana commented on #6706
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-03-19 16:26] maestromac commented on #6702
Is this still necessary after my suggestion here? https://github.com/thepracticaldev/dev.to/pull/6221#discussion_r394666967

[2020-03-19 16:31] lisasy commented on #6545
@vaidehijoshi

Based on the proposed mocks, the button won't be clickable until both fields are completed; there would be no need to have an error because the disabled buttons would itself signify that they cannot proceed forward. It looks like we're thinking the same thing! :)

[2020-03-19 16:37] vaidehijoshi commented on #6702
@maestromac You're right, we don't need to do as much heavy-lifting here since we have the logic already.

I've updated the issue description with this; I think we should just pull this into a scope on the `Article` class so that we don't need to have the same method in various different controllers. It might be a little early to do that (given the rule of threes!), but in this case, I don't think

[2020-03-19 16:44] maestromac commented on #6706
@vaidehijoshi Ah I see, I think we'll just have to stick with using `/tags` for the time being then.

[2020-03-19 17:29] vaidehijoshi commented on #6706
@maestromac Sounds good, and agreed :)

I've added [this card](https://github.com/thepracticaldev/dev.to/projects/7#card-34850618) to our stretch goals, so that we have the option of revisiting it in the future.

[2020-03-19 17:48] bhageena opened #6730 "Not able to open https://dev.to/settings"
**Not able to open https://dev.to/settings**

**Try to open settings by any means** Every single time I am greeted with same error.

![Screenshot from 2020-03-19 23-16-50](https://user-images.githubusercontent.com/14236753/77098048-c17a8880-6a37-11ea-978a-290b643c0e86.png)

**Desktop:**

- OS: Ubuntu
- Browser: Chrome, Brave
- Version: Version 79.0.3945.130 (Official Build) (64-bit), Version 1.5.1

[2020-03-19 17:57] #6700 closed

[2020-03-19 18:02] maestromac commented on #6730
Hello @bhageena , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2020-03-19 18:50] vaidehijoshi commented on #6548
We already have access to `selectedTags` in the `FollowTags` component. We should be able to access the `length` of the `selectedTags` and render that at the bottom of the jsx.

[2020-03-19 19:00] maestromac commented on #6730
I've made a mistake. This is not an account related error. I'm looking into this now.

[2020-03-19 19:00] vaidehijoshi commented on #6549
This will involve more css work than anything else. We already have access to `selectedUsers` in the `followUsers` component, and we can logic similar to what we'll do in addressing #6548 to render the selected user count in the footer of this modal view.

[2020-03-19 19:06] vaidehijoshi commented on #6550
This will involve pulling out the email preferences out of the `EmailTermsConditionsForm` and into a new slide (the last one) in the Onboarding modal.

[2020-03-19 19:16] #6730 closed

[2020-03-19 19:17] michael-tharrington opened #6733 "User's draft post reverting to older version when trying to edit"
**Describe the bug**

A DEV user ([Rich](https://dev.to/ellisium)) wrote in to let us know that their unpublished [draft post](https://dev.to/ellisium/oh-look-it-s-the-orm-good-bad-thread-again-14jn-temp-slug-6674265?preview=3bae497ea15134d922ea1473db460bd7f5bec9085c2a3e3e818bb84a1c0ee6319ad6ef0daab4d1959dda50ece15b93e53252f4bda3b100f049342b4c) keeps reverting to an older version without any of th

[2020-03-19 19:26] vaidehijoshi commented on #6552
@lisasy what's the difference between the default and the hover states on the feed task card? i don't see a difference aside from the `X` having moved locations 🤔

[2020-03-19 19:31] nickytonline commented on #6733
@maestromac, is this related to local storage for keeping edits? It would make sense on one device it's using the local storage and the other where they haven't as they're editing the draft for the first time on the other device.

[2020-03-19 19:48] maestromac commented on #6730
@bhageena can you give it a try again to verify that this is resolved?

[2020-03-19 19:50] vaidehijoshi commented on #6552
When the user finishes the `FollowUsers` slide by clicking on `Continue`, we need to redirect them to the feed. This will mean making passing in a function to the `Navigation` component (when it is rendered in the `FollowUsers` component) so that it can handle this redirect.

We'll also need a way redirecting to the feed with the knowledge that we want to display the onboarding task card in the fe

[2020-03-19 20:00] rellis-of-rhindleton commented on #6733
I’m pretty sure it is. I checked local storage and the edit response in the console. The response contained the right content, but local storage did not.

Deleting the item from local storage (if I got the right one) didn’t help.

[2020-03-19 20:03] maestromac commented on #6733
Thank you all for reporting this. As this was already reported on https://github.com/thepracticaldev/dev.to/issues/6692, I'm going to close this in the effort to keep the discussion in the same thread.

[2020-03-19 20:03] #6733 closed

[2020-03-19 20:04] maestromac commented on #6692
from @michael-tharrington

[2020-03-19 20:18] securibee commented on #6730
I wrote an email as I was experiencing a similar problem and was asked to respond to this issue.

Whatever was done after sending the email resolved the issue for me.

[2020-03-19 21:33] lisasy commented on #6552
@vaidehijoshi

Whoops, the mocks are missing some additional descriptions to explain the difference between the default and hover states 😂 I'll fix this. But in brief, in the hover state example, the second action is "hovered" and the background is slightly lighter 😆

If a user clicks on "Continue" on `FollowUsers`, it does not close the entire onboarding flow because the next step is the `EmailPr

[2020-03-19 21:42] lisasy commented on #6552
Updated the image. Hope it's clearer!

[2020-03-19 21:44] lisasy commented on #6544
Heads-up: Crayon styles are now in the `master` code base, and I've begun to use bits of it in my P1 PR. I'm going to check in with Paweł to get his further recommendations on how to begin bringing Crayons styles in since we don't have too much docs for that yet.

[2020-03-19 22:03] f2r commented on #6730
I had the same problem today, but it's solved now.

[2020-03-20 00:37] mudlabs commented on #5023
This would be a good feature. I was just about to make a request for some StackOverflow style keyboard shortcuts for the markdown editor.

- Except where their `Ctrl+K` adds an indented line, we would add a ``` code block.

[2020-03-20 03:55] citizen428 opened #6740 "Make classified listing categories configurable"
This is currently hard-coded in the constant`ClassifiedListing::CATEGORIES_AVAILABLE`. In order for this to be useable by other communities, it needs to be configurable.

[2020-03-20 03:55] citizen428 commented on #6740
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-03-20 04:23] citizen428 commented on #6726
I played around with this a bit, I'm not sure if this is actually a good first issue @rhymes, as there may be something more complicated going on: when you inspect the classified listings page, you'll see that listings have divs with class `single-classified-listing-tags`. I then used Blazer to check them, and while those listings do have taggings, they don't render their tags. I think I have an i

[2020-03-20 04:35] citizen428 commented on #6726
As you can see here, the tags actually briefly appear, then flash out of existence again:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/47985/77137020-adb63d00-6a9e-11ea-9397-26a8362f84f9.gif)

The video was recorded on my local environment, but I see the same in production.

[2020-03-20 07:19] Applikeuber opened #6742 "error is coming when i writing a blog."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-03-20 07:29] anilsansak opened #6744 "The feed does not appear when visited the homepage."
**Describe the bug**

When the homepage is visited, the feed does not appear. Other elements of the homepage are visible and interactable but the feed is not.

**To Reproduce**

Go to [dev.to](https://dev.to/)

**Expected behavior**

The feed should be visible and interactable.

**Screenshots**

<img width="1440" alt="Screen Shot 2020-03-18 at 11 25 58" src="https://user-images.githubusercontent.c

[2020-03-20 08:05] Ridhwana commented on #6742
Hi @Applikeuber can you please fill out the details for the form above so that we can attempt to replicate the bug.

[2020-03-20 08:26] Ridhwana commented on #6744
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please