[2021-12-22 16:15] djuber commented on #15857
One supporting idea that "series can't really belong to organizations, even if they're associated with them" is that (1) Collections belong to a user (always) but may belong to an organization (optional),  (2) the CollectionsController looks up the series by the user name (and there's no way to look at an organization's series).

Additionally, it looks like the second contributor created their own

[2021-12-22 16:20] djuber commented on #15857
https://github.com/forem/forem/discussions/15320 it looks like we have a feature request that effectively covers the same ground (not organization centric, but "allow two users to contribute to one series").

I'm going to close this in favor of the existing discussion about this feature request, for the moment it looks like this is not possible.

[2021-12-22 16:20] #15857 closed

[2021-12-24 03:20] yheuhtozr opened #15873 "Tab widths in Analytics Dashboard"
**Describe the bug**

The analytics period selection tabs in the analytics page (`app/views/shared/_stats.html.erb`) would have line break at spaces or hyphens, if translated text should contain them. What is worse, it will break every single character in break-anywhere languages,

**To Reproduce**

Supply translation to each tab's text and `data-text`. For example,

[code]

See the screenshot.

*

[2021-12-25 18:11] sachinjain007 opened #15876 "Installing Forem on macOS"
**Describe the bug**

Following this [link](https://developers.forem.com/getting-started/installation/mac) to setup Form at my local.
Issue arise when I execute command `bin/setup`

**To Reproduce**
- `bin/setup`

**Expected behavior**
- `bin/setup` command has to be successfully executed.

**Screenshots**

**Desktop (please complete the following information):**

- macOS, BigSur:

**Additional co

[2021-12-27 04:07] amywtlin opened #15877 "✂️ Remove "Community Emoji" field in /admin/customization/config"
## Why
As our work on [admin settings overhaul](https://miro.com/app/board/o9J_lnfhbyo=/?moveToWidget=3458764514917293717&cot=14) continues, we will be removing unnecessary and/or confusing features or tweaking the confusing wording on the interface along the way. This is one of these attempts - expect more to come sporadically.

For this issue specifically, we are removing the "Community emoji" f

[2021-12-27 05:39] citizen428 commented on #15873
Pinging @ludwiczakpawel

[2021-12-27 15:31] djuber commented on #15722
https://github.com/forem/forem/issues/15877 this issue was recently created to remove the community emoji completely (which is what you had set out to do) - once this is closed/complete things should be simpler.

[2021-12-28 16:14] #413 closed, assigned to nobody

[2021-12-28 16:18] #1446 closed

[2021-12-28 16:23] #2483 closed

[2021-12-29 03:09] #15826 closed

[2021-12-29 10:24] alexandrudanpop commented on #15700
This feature worked quite well in the past, my blog was generated using Stackbit from DEV.to

[2021-12-29 14:24] citizen428 commented on #15700
@alexandrudanpop Yes, but it only worked on DEV.to, not the wider Forem-verse. Also, Stackbit disabled this extension on their end, which is why we removed it too. See: https://dev.to/devteam/heads-up-stackbit-integration-removal-2m11

[2021-12-29 15:32] JennieOcken commented on #15858
FYI: https://github.com/forem/forem/discussions/15473

[2021-12-30 03:59] yheuhtozr opened #15906 "Liquid Guide vs Editor Guide"
**Describe the bug**

The liquid guide that opens from the right side of editor (`_editor_liquid_help.html.erb`) and the editor guide page from the markdown toolbar (`_editor_guide_text.html.erb`) show a little different collection of Liquid tags. I wonder which is more up-to-date.

tag|_editor_guide_text|_editor_liquid_help|notes
:-|:-:|:-:|:-
Article/Post|✔|✔|
User|✔|✔|
Tag|✔|✔|
Comment|✔|✔|
Use

[2021-12-30 04:05] citizen428 commented on #15906
We are currently working on a unified syntax for embeds, so I guess in the process we'll also have to look into updating relevant documentation. cc @jeremyf

[2021-12-30 11:36] q9f opened #15909 "Navigation: Cannot set Home icon/name"
**Describe the bug**

Admins can not customize the "Home" item in the left navigation.

**To Reproduce**

![Screenshot 2021-12-30 at 12-32-22 State D](https://user-images.githubusercontent.com/58883403/147748408-dabce30b-6adc-402c-8c4c-d167a1f64b1c.png)

![Screenshot 2021-12-30 at 12-34-07 Navigation Links](https://user-images.githubusercontent.com/58883403/147748416-a608bead-d3ca-4bd0-b766-6da6d3

[2021-12-30 11:40] q9f commented on #15909
My ultimate motivation is to get rid of all emojis without using any CSS hacks. I would also like to customize the icons of the User Settings navigation.

[2021-12-30 15:01] jeremyf commented on #15906
Thank you @yheuhtozr and @citizen428, I was beginning to gather resources about the discrepancy, and this greatly helps.  I'm writing up an internal document on our approach for resolving this and the inter-relation of Markdown, Liquid Tags, and the information architecture of those various pages.

Why internal?  It relates to our upcoming January Forem activity and isn't quite my story to tell.

[2021-12-30 15:23] #10940 closed

[2021-12-30 15:44] michael-tharrington opened #15910 "GIFs that work on DEV aren't consistently working on non-DEV Forems"
**Describe the bug**

When reposting content from DEV on other Forems, some GIFs that work on DEV will not work on other Forems

**To Reproduce**

1. Go to dev.to/new
2. Enter the following liquid tag syntax into the body content '![https://cdn.hashnode.com/res/hashnode/image/upload/v1637475913512/FUgV5lQu_.gif](https://cdn.hashnode.com/res/hashnode/image/upload/v1637475913512/FUgV5lQu_.gif)'
3. C

[2021-12-30 15:56] djuber commented on #15910
It was unclear from the description how to embed an image (there's no liquid tag in the description, just a broken link with a content-length exceeded message, and it's not in the markdown basics sidebar so I always end up looking it up)

This works on dev.to

[code]

And it is broken (invalid source image) on forem.dev

On DEV the preview image links to https://res.cloudinary.com/practicaldev/ima

[2021-12-30 15:59] djuber commented on #15910
https://forem.dev/akhil/issue-gif-as-cover-pic-331i related report with some background about imgproxy being the likely source

[2021-12-30 16:46] michael-tharrington commented on #15910
Good deal! Appreciate ya taking a detailed look @djuber and good thought on pointing to that forem.dev post.

[2021-12-30 18:16] maestromac commented on #15910
It's happening because Cloudinary is more flexible with file size and image size. Forem fleet uses FOSS imgproxy which is more strict. I need time to get an agreed max file size and image size across the board so we can expect the identical result regardless of the platform. But as a side note we need the frontend to properly relay message to the user why the image failed the process.

[2022-01-01 21:19] jsbaguette opened #15916 "Follow button on profile is not working json parse error"
**Describe the bug**

When clicking on follow button is not working because of a json parse error

**To Reproduce**

1. go to https://dev.to/stack-labs?signin=true
2. notice that you have in error in the console because of a json parse error
3. click on follow
4. its not working

**Expected behavior**

We should be able to follow

**Screenshots**

<img width="725" alt="Screen Shot 2022-01-01 at 4

[2022-01-02 07:15] vishaldeepak commented on #15233
would like to help out here. Please assign it to me if possible

[2022-01-02 18:48] djuber commented on #15916
this is reproducible.

Checking the code for [initializeAllUserFollowButtons](https://github.com/forem/forem/blob/036d75aa6e4ca2629d46128eaeeb897260d6cea5/app/javascript/packs/followButtons.js#L325-L359)  and experimenting a little - it appears a user's data is causing an issue

[code]

Taking the raw data-info from the inspector and pasting it into node - it looks like the doubled backslash chara

[2022-01-02 20:02] djuber commented on #15916
related https://github.com/forem/forem/issues/14704

[2022-01-02 20:13] djuber commented on #14704
This still happens if you scroll down far enough (for me it was page 14 - articles from September including https://dev.to/acc3ssd3n13d/first-day-of-learning-c-nb6 retrigger the original condition.

When this was reported the post was in the first page of results in the feed, so impacted the initial load.

Currently - visit /t/cpp - click follow - button works.
Scroll down through several loads of

[2022-01-03 03:14] amywtlin opened #15919 "Configure Nav links to be opened in a new tab"
#What

Currently, all navigation links open in the current tab where the user is, which sometimes isn't an ideal behavior. We are adding this flexibility, enabling admins to configure the where a navigation link will be opened in.

#Options
- To be opened in the current tab
- To be opened in a new tab

[2022-01-03 03:23] citizen428 commented on #15919
FWIW, as a user, I really dislike this. Replacing the current URL is the expected behavior of a hyperlink and all browsers have a shortcut for opening links in a new tab if the user so wishes. Managing tabs on my machine should be up to me, not the site admin, in 90% of cases `target="_blank"` is as annoying as an unasked for pop-up. There are way more bad reasons to open a link in a new tab than

[2022-01-03 03:32] citizen428 commented on #15233
I assigned you this issue @vishaldeepak, thanks for volunteering!

[2022-01-03 04:00] amywtlin opened #15921 "✂️ Remove duplicate sign in/up link in Nav menu for non-logged-in users"
Right now, for non-logged-in users, we have a a sign up/in modal on top of the nav bar, and another text link to sign up/in below.

It is quite a duplicate for the second one in the nav menu. Let's remove it and only keep the modal on top.

<img width="526" alt="Zrzut ekranu 2021-12-30 o 13 27 31" src="https://user-images.githubusercontent.com/11730007/147898801-fa88cc74-bc6d-46f6-a9ae-82d869478e1

[2022-01-03 04:27] citizen428 commented on #15921
Adding a special case for a single navigation link is not something I'm super fond of since they are rendered automatically from a data structure. We can do it though.

[2022-01-03 04:36] amywtlin commented on #15921
@citizen428 I actually think this link should be removed altogether. I specified for non-logged-in users only because I am not sure if this is used in any other scenario that might still make sense.

Can we see if there's any other scenarios that we show this link from the code base, to decide if it's safe to remove it altogether? I am aware this does not show up when users are signed in.

[2022-01-03 04:49] amywtlin commented on #15919
@citizen428 That's a great post!

I think we want this for multiple reasons:
- Our users read articles and sometimes they get distracted by links. This is a good reason to enable this flexibility so they can come back to where they left off. Similar to the "there's media playing" mentioned in the post, ours is "there's article being read." I didn't specify this behavior to only be applied when it'

[2022-01-03 06:32] citizen428 commented on #15921
Sure @amywtlin, I can have a quick look.

[2022-01-03 06:37] citizen428 commented on #15919
Fair enough, I'm probably in the minority here. The only argument I have left are potential accessibility issues:

https://codersblock.com/blog/external-links-new-tabs-and-accessibility/#accessibility-implications

But I'm sure @aitchiss knows way more about this topic than I do.

[2022-01-03 06:50] citizen428 commented on #15921
@amywtlin To me it seems like this could easily be removed. I forgot that the "Home" and "Sign In/Up" links are already special cased, as they exist for every Forem instance. The releant codenis in `app/views/layouts/_main_nav.html.erb`:

[code]

From what I can see we could just delete these few lines and be done with it.

[2022-01-03 08:32] amywtlin commented on #15919
I agree we need to resolve accessibility issues this might cause here. I would love to hear what @aitchiss would suggest. As we manage general users' expectations with [an icon attaching to the link](https://d.pr/i/DmKGbf), I wonder if there's something similar we can do to inform screen readers so that users won't feel disoriented.

[2022-01-03 14:15] cmgorton opened #15924 "Notify author if post/comment is embedded in another dev.to post"
### Discussed in https://github.com/forem/forem/discussions/15913

<div type='discussions-op-text'>

<sup>Originally posted by **rrampage** August 27, 2018</sup>
## Feature Request : Notify author if post/comment is embedded in another dev.to post

### User Story / Description

#### Rationale
When a user links to another dev.to post, he/she is writing on a similar topic or using the linked post as

[2022-01-03 14:15] cmgorton commented on #15924
This feature was implemented  in https://github.com/forem/rfcs/pull/22.

[2022-01-03 14:15] #15924 closed

[2022-01-03 14:28] TerabyteTiger commented on #15671
I think this is just a specific location to update this, but let me know if this should be filed as it's own bug:

![hovering the 🧐 reaction shows a "vomit" tooltip](https://user-images.githubusercontent.com/16465776/147942058-5beeaab9-ca6e-4e67-a67b-8788b8eb7b3f.png)

I noticed this on a CodeNewbie Comment Notification - hovering the 🧐 reaction shows a "vomit" tooltip.

[2022-01-03 15:20] #15921 closed

[2022-01-03 15:31] djuber commented on #15876
This happens to me if I forget to copy .env_sample to .env in the repository before calling setup... since the APP_DOMAIN and related url variables are then empty, and [URL.url](https://github.com/forem/forem/blob/main/app/lib/url.rb#L2-L20) tries to build an absolute url based on a missing host/protocol.

Did you copy the file `.env_sample` to `.env`? It's possibly unclear in the setup guide you

[2022-01-03 17:24] #15674 closed

[2022-01-03 20:52] VickiLanger opened #15939 "RSS feed not fetching from dev.to to code newbie?"
**Describe the bug**
Posts are not fetching from dev.to RSS feed to code newbie community. They were fetching in November with [this post](https://community.codenewbie.org/vickilanger/words-numbers-variables-oh-my-3jeo), but nothing from [this post](https://community.codenewbie.org/vickilanger/if-this-then-that-bim) or after. Specifically, [this post](https://dev.to/vickilanger/dry-out-with-loops-

[2022-01-03 21:13] djuber commented on #15939
It looks like this is caused by a change on our end (to dev.to's caching layer) that requires a user-agent string when making requests:

[code]

The problem code (also on our side) is in the app/services/feeds/import.rb `fetch_feeds` method, where HTTParty.get  is sending a user agent of "Ruby", which is being rejected.

https://github.com/forem/forem/blob/main/config/fastly/snippets/bad_bot_detec

[2022-01-04 04:09] #15939 closed

[2022-01-04 21:41] danicuki opened #15954 "Is there a plan to implement i18n on this page?"
https://github.com/forem/forem/blob/0403e78f08b2de9e90160be721896ab9879c08b9/app/javascript/article-form/articleForm.jsx#L452

I could help, but need a guideline of how to implement the i18n in the front end React app

[2022-01-04 21:49] djuber commented on #15954
@danicuki  if you take a look at [SearchForm.jsx](https://github.com/forem/forem/blob/main/app/javascript/Search/SearchForm.jsx) as an example where we've already used localization in the front end code,  the relevant plumbing to implement front end translation seems like it's using an interpolated string, the same translations files (in config/locales/) as the backend ruby code, and the locale()

[2022-01-04 22:09] djuber commented on #15954
One extra bit of glue that I missed on the first reading, we're injecting translations into a div in the page footer in the [application layout](https://github.com/forem/forem/blob/main/app/views/layouts/application.html.erb#L110) - so you may need to ensure any translation keys get added to the core (available everywhere), or I chose a bad example, or there may be additional work required before

[2022-01-04 23:23] yafkari opened #15956 "Hide Moderation button of own posts"
**Describe the bug**

When a moderator is navigating to one of his own post, he can still click on the moderation button which does not make sense. We should not be able to moderate our own articles (imo)

**To Reproduce**

Create a post as a moderator and click on the moderation button.

**Expected behavior**

Should be hidden or at least showing a message saying like "You cannot moderate one of

[2022-01-05 03:18] citizen428 commented on #15954
Also note that we may still switch from i18njs to a more comprehensive solution, this part is not particularly well-defined yet.

[2022-01-05 07:51] #15809 closed

[2022-01-05 07:51] #15422 closed

[2022-01-05 08:04] aitchiss commented on #15919
Hey all! Yes there are some accessibility implications to opening links in new tabs, and the most important thing is that we communicate to users that this is going to happen. "Best practice" tends to look like:

- An icon indicating to sighted users the link will open in a new tab
- 'Screen reader only' text that conveys the same - this can be achieved in a few ways, but if we use an SVG for the

[2022-01-05 08:39] aitchiss commented on #15919
We could also consider adding some guidance in the admin portal about using the 'open in a new tab' option sparingly, e.g. noting that it's best used for e.g. links to contextual help guides where a user might want both windows still open.

For me personally, I tend to agree with @citizen428 - I know as a user how to open links in a new tab, so I'd rather the app didn't do it for me unless I'm on

[2022-01-05 08:46] ludwiczakpawel commented on #15919
This was actually a plan - we wanted to add an icon to indicate it's going to be open in new tab:

![image](https://user-images.githubusercontent.com/108287/148187279-91098608-9fdf-45da-8be3-50badd57c2d4.png)

Good point!

---

FWIW I don't have strong feelings about forcing new tab. I personally don't like it but I think it's slightly less bitter when it's communicated properly (with an icon, as

[2022-01-05 12:40] danicuki commented on #14344
I could help to implement this issue. Is there any guideline on how to add a new config setting? I've been looking at `Settings` module code, but it is quite complex to know all the pieces that need to be changed to add a new global setting configuration

[2022-01-05 12:51] fdoxyz commented on #14502
Closing this issue as it was indeed handled in #14642.

If the error does reappear please feel free to re-open or comment again here.

[2022-01-05 12:51] #14502 closed

[2022-01-05 13:00] fdocr opened #15959 "Error message when attempting to post a comment"
**Describe the bug**

An error related to the attempt to deliver Push Notifications to Android devices while posting a comment

**To Reproduce**

1. Post a comment on an Article where the author (or comment thread) has registered for PN delivery
2. The comment is posted but an error modal appears

Note: This was confirmed on a Forem Cloud instance and not on dev.to yet

**Expected behavior**

The

[2022-01-05 14:45] michael-tharrington opened #15960 "Code of Conduct, Privacy Policy, and Terms of Use Nav Links Keep Coming Back After Being Deleted"
**Describe the bug**

A number of non-DEV Forems are hoping to remove the default navigation links for Code of Conduct, Privacy Policy, and Terms of Use. They are able to successfully delete these links, but the links eventually come back. We're thinking this is likely happening when a Creator updates their cloud instance to the latest version of Forem.

**To Reproduce**

Here's [a video](https://

[2022-01-05 15:01] #15421 closed

[2022-01-05 15:05] djuber commented on #15959
https://app.honeybadger.io/projects/72638/faults/83316182

[code]

[2022-01-05 16:15] michael-tharrington opened #15962 "Disabled Google Analytics JavaScript when gaTrackingCode is blank"
**Describe the bug**

As a Forem admin, I don't currently have the ability to globally remove the Google Analytics JavaScript.

**Expected behavior**

As a Forem admin, if I leave the input box blank for **View ID** located in `/admin/customization/config` > **Google Analytics** I'd expect this to disable the Google Analytics JavaScript.

In other words, if no GA code is enabled, we should not ena

[2022-01-05 18:04] djuber commented on #14344
@danicuki thanks for taking a look at this.

The app/models/settings/general.rb might be the right place to add it - since it sits at the same level as "logo", "main social image", and other image settings.

The "setting" language is pretty declarative using the `Settings::Base.setting` class method to define new settings, something like this probably does what will be needed (using the DEV logo a

[2022-01-05 22:13] fdoxyz commented on #15959
Thanks @djuber, I do think that one is related. I did found out [this other line](https://github.com/forem/forem/blob/main/app/models/device.rb#L55-L58) was also failing, which is also calling the `ConsumerApps::RpushAppQuery`.

Yeah, Modis (RPush related dependency) helps store these models in Redis instead of the DB and their queries are a bit different from what we might expect from ActiveRecor

[2022-01-05 23:27] #15582 closed

[2022-01-05 23:55] thakur-mohit commented on #15660
@nickytonline kindly look into this.

[2022-01-06 11:44] ellativity opened #15973 "Update Forem Contact page copy to reflect moving feature requests to GitHub Discussions"
The `/contact` page is bundled with all Forems and can't be edited, only overwritten by Forem Admins.

We're currently still using the following verbiage for people who want to make Forem feature requests:

Since we've moved feature requests to GitHub Discussions, this should be updated to:

[2022-01-06 16:03] #15973 closed

[2022-01-06 16:52] djuber commented on #15954
@citizen428 - Looking over the work in #15970 - there's a limitation in the way we're loading the current set of front end translations from a div (once, on the initial page load, and not after transitions).

https://github.com/fnando/i18n-js#readme skimming through the documentation, there appears to be an assumption that instead of a div, a generated file translations.js (either built by a rake

[2022-01-06 17:21] #15962 closed

[2022-01-06 18:02] zachjonesnoel opened #15980 "Readers / viewers count inconsistent on Android app"
**Describe the bug**

The readers or viewers of a blog post is inconsistent. The dashboard shows one number and the stats page shows another number.
**To Reproduce**

1. Go to dashboard
2. The list has number of readers, the count there and in each blog post's stats the counts are not same.
**Expected behavior**

**Screenshots**
![Screenshot_2022-01-06-23-22-45-74_f41347bffa7f8365be7df3528708f315_

[2022-01-06 19:45] juliannatetreault opened #15984 "Add an Article Placeholder to the Homepage During Creator Onboarding"
**📖  As a Forem Creator, I want my UI to be as pleasing as possible, so that I feel motivated to continue with the Creator Onboarding journey.**

_(Format:  As a [persona], I [want to], [so that])_

![image](https://user-images.githubusercontent.com/32834804/148441837-4e6dbe53-f8dd-41fc-8b24-dc0daf6b4132.png)

**🐣TASKS**

- [ ] Add a "No posts" page to the homepage during Creator Onboarding

**Not

[2022-01-07 02:58] citizen428 commented on #15660
Pinging @rt4914, maybe he has something to say on this matter.

[2022-01-07 02:59] citizen428 commented on #15954
@djuber It's not unlikely that we will go with something other than i18n-js, as one of our most prolific I18n contributors has pointed out some issues with this library.

[2022-01-07 03:18] citizen428 commented on #15960
So, the problem here seems to be this:

* We have a Rake tasks called `navigation_links:create` which adds all the default navigation links.
* This tasks is called from the `forem:setup` tasks
* The `forem:setup` task is called from the `app_initializer:setup` tasks
* `app_initializer:setup` is called on every deploy (`release-tasks.sh`) and container build (`scripts/entrypoint.sh`)

That last ste

[2022-01-07 13:25] ellativity commented on #15671
Thanks for adding this, @TerabyteTiger - I hope that this would also be switched out with this issue, but maybe one of Forem's engineers would be able to weigh in with more knowledge!

[2022-01-07 14:28] juliannatetreault opened #15991 "Remove Remaining logo_svg -Related Code"
One of the major changes that we made when building out the new and improved Creator Onboarding flow is that we will be removing the `logo_svg` field from `/admin/customization/config` and will be migrating existing `logo_svg`s to `logo_png`s--`logo_svg` is being deprecated. This being said, if all goes as planned during the Creator Onboarding launch, the code for `logo_svg`s will no longer be nee

[2022-01-07 15:41] rt4914 commented on #15660
I am closing this here as I have filed it in android repo: https://github.com/forem/forem-android/issues/85

I will also check for additional details in crashlytics.

[2022-01-07 15:41] #15660 closed

[2022-01-07 20:00] #15570 closed

[2022-01-08 15:30] yheuhtozr opened #16001 "Allow BiDi control characters as such in article title"
**Describe the bug**

I just noticed #14909 was implemented, but a part of its logic that sanitizes U+202A - U+202E in the title is not desirable for i18n. Despite recent attention to an security issue, those characters are neither evil nor ornamental, but sometimes essential to natural writings in RTL languages for reasons similar to [this case](https://github.com/forem/forem/pull/15831#discussio

[2022-01-09 09:00] sachinjain007 commented on #15876
@djuber Thanks, your solution works.

Earlier copied .env file after executing `bin/setup` command. This create issue. Seems like it is required to copy file first then executing further command.

Yeah, I would love to improve the documentation and required further changes. Please let me know the action plan.

[2022-01-09 10:10] aaishikasb commented on #14971
Hey @rhymes, I'd like to work on the issue if there are no active contributors assigned.

[2022-01-09 15:30] citizen428 commented on #15876
I think when running `bin/setup` it should check if `.env` exists and if not copy over `.env_sample` by itself. This already contains workable defaults:

[code]

I think I'll add this tomorrow.

[2022-01-10 03:39] citizen428 commented on #14971
@aaishikasb Since this issue hasn't seen any activity since last October I assigned it to you now, thanks for volunteering!

[2022-01-10 04:00] citizen428 commented on #16001
We don't have RTL support yet and realistically speaking we're still quite far away from that so your energy would probably be better spent elsewhere. Not saying this is not a good PR to eventually write, just giving you some context around the timing.

[2022-01-10 04:35] citizen428 opened #16006 "Update `webpack-dev-server` to version 4"
This is a quite manual update process that we attempted once in the past but abandoned (see [PR](https://github.com/forem/forem/pull/14630)). For the time being, we [ignored this update via our Dependabot config](https://github.com/forem/forem/pull/15987) but we should eventually tackle it.

[2022-01-10 09:53] tomaszs opened #16015 "Uploading videos from Android phone is not working"
Uploading a video to video section in dev.to app and through web app on Android device does not work.

1. Have a MP4 video on your android device
2. Try to upload it via mobile app (or web app)
3. It does not work (nothing shows up / it shows that the file is in wrong format)

**Expected behavior**

It does work

**Smartphone (please complete the following information):**

- Device: latest Oppo
-

[2022-01-10 13:10] Ridhwana opened #16017 "Make all tables/lists in Admin Portal sortable"
Complete an audit of the portal and update the following:

1. Ensure that we're using the same crayons component for all tables
2. Make all the tables sortable using a consistent approach.

For example:
Tag Name A-Z ↕︎, Tag ID ↕︎, etc; Podcast submissions Name A-Z ↕︎, Reachable and Published True/False ↕︎ vs. False/True, etc.;

If any further information is required, please ping Ella or Michael Th

[2022-01-10 13:18] Ridhwana opened #16018 "Filter `/admin/users` by user status"
Allow admins to see the users table on ` /admin/users` filtered by User Status (e.g. Suspended, Warned, etc).

We can use a similar UI approach (for now) that we do when we filter by role `/admin/users?role=admin`, `/admin/users?role=flagged` or `/admin/users?role=trusted`.

More details: https://forem-team.slack.com/archives/CCB5Z19TK/p1615477337176900?thread_ts%3D1615467265.176000%26cid%3DCCB5Z1

[2022-01-10 13:26] Ridhwana opened #16019 "Simplify the process for adding Org Admins"

[2022-01-10 13:27] Ridhwana commented on #16019
@ellativity can you possibly describe the current workflow for this one please and I can add it to the description?

[2022-01-10 13:40] Ridhwana commented on #15919
@amywtlin we're tackling some low hanging fruit on the admin this week and I wanted to clarify what the conclusion of this discussion is?

[2022-01-10 13:43] ellativity commented on #16019
Hope this helps, @Ridhwana!

Currently, org admins need to copy and paste an organization secret code to send to anyone they want to invite to join the organization (from the Admin's [User Organization Settings page](User Organization Settings page)). The prospective member then needs to copy and paste the organization secret code on their own User Organization Settings page to join the org.

This

[2022-01-10 14:09] #15620 closed

[2022-01-10 16:52] jeremyf commented on #15910
This may inform some settings I noticed in #15965, namely that our `CarrierWave::Bombshelter` uses the default value.

[2022-01-10 21:01] erwinwolff opened #16039 "S3 upload backend doesnt move uploaded profile image from the uploads bucket to the configured bucket for display"
S3 upload backend doesnt move uploaded profile image from the uploads bucket to the configured bucket for display

**To Reproduce**

Configure the S3 AWS Carrierwave backend correctly.
Upload a PNG user profile picture.

The PNG profile picture will get uploaded to bucket "uploads" with the path "tmp/etc/etc" but it wont get moved to the location Forem expects it to be.

**Expected behavior**

The

[2022-01-10 22:15] Zhao-Andy opened #16041 "Allow Forem admins to delete organizations via admin interface (/admin)"
An admin should be able to delete an organization via the admin interface. This should be a simple `delete` route that calls the delete organization async job/worker to delete the organization.

Other elements that we might want to have:
- simple JS based confirmation to prevent misclicks
- tests

[2022-01-10 22:18] Zhao-Andy opened #16042 "Allow admins to reset a user's profile image to the default via admin interface (/admin)"
Admins should be able to update a user's profile image, in case it is in violation of terms/code of conduct.  This should be a simple button to click in the admin user edit page, perhaps under the semi-destructive actions group for now.

See: https://github.com/forem/internalCommunity/issues/176 for reference on code.

There will be some cache busting required here.

[2022-01-11 03:22] amywtlin commented on #15919
Also, thanks for closing the duplicate issue!

[2022-01-11 03:31] citizen428 commented on #16015
@rt4914 Do you want to move this to https://github.com/forem/forem-android?

[2022-01-11 04:32] Zhao-Andy opened #16044 "Add ability for admins to override/remove a TagAdjustment from an article"
When a moderator removes a tag (known as a `TagAdjustment`), sometimes it was done in error or by accident. As an admin, there is currently not any way to remove that adjustment.

Ideally, we should list all the `TagAdjustment`s on an article, and then show it to only the admin. The admin should then see an option to remove the adjustment. Some other things we might want to consider adding is:
- a

[2022-01-11 04:35] Zhao-Andy opened #16046 "Add option to resend email address confirmation email for a user via admin panel (/admin)"
Sometimes confirmation emails don't send properly for whatever reason. While it would be good to find the root cause of that, it would also be helpful to be able to simply send the email again as an admin.

This should be a simple button in the admin user's section. We might also want to consider showing whether the user is in an `unconfirmed` email state next to the button.

[2022-01-11 12:04] #15143 closed

[2022-01-11 12:51] Ridhwana opened #16047 "Allow admins to remove a flagged user status"
See https://github.com/forem/internalCommunity/issues/56

[2022-01-11 13:05] Ridhwana opened #16048 "Add "happiness" and "join mailing list" question to onboarding (talk to Jennie)"
As a Forem employee, we would like to ask some questions at the close of the Creator onboarding process so that we can gauge Creator satisfaction and continue the conversation with them.

The end of the Creator onboard process (after they agree to the terms and CoC) would be a good time to ask them a satisfaction question and let them opt in to a creator enewletter.  The answers to these questions

[2022-01-11 13:07] Ridhwana commented on #16048
@anujbhavsar96 is it possible to get a design for this please? cc @JennieOcken

[2022-01-11 13:26] nickytonline opened #16049 "Add a mobile view for the Preact modal component"
## Description

Provide a mobile view for the modals in the application. Here are designs proposed by @anujbhavsar96:

### Modals (all screens sizes at the moment)

![image](https://user-images.githubusercontent.com/833231/148952496-fdc752f7-20f9-4956-8ebf-8bf8bccd16ee.png)

### Mobile View of Modals (proposed)

![image](https://user-images.githubusercontent.com/833231/148952569-4f5f6d71-384f-4f73

[2022-01-11 13:26] nickytonline opened #16050 "Mod Tools (shield icon) submission form for changing tags does not display validation errors, e.g. no reason for removing a tag"
## Description

Whether or not you modify tags, there is no feedback in terms of validation or success.

## Expected Behaviour

The form should provide feedback/validation to a moderator when they are adjusting tags on a post.

https://user-images.githubusercontent.com/833231/148952029-c45e72b7-03a3-4b2d-b658-4e6faebc7ea5.mp4

[2022-01-11 18:21] djuber opened #16059 "users aren't getting onboarding broadcast messages"
**Describe the bug**

We expect to send a sequence of welcome notifications to users during the first week after signup. This is failing after the initial follow up (participate in the welcome thread), and related to an error raised when checking for authentication providers.

The Broadcasts::WelcomeNotification::Generator checks to see which authentication methods a user has not enabled, and sugg

[2022-01-11 20:34] #16059 closed

[2022-01-12 05:50] anujbhavsar96 commented on #16048
I imagine the flow like this,

Finish onboarding >> User lands on the homepage, where we will be showcasing this popup.

Though I'm not in favor of this, we can probably showcase these at the end of that Creator Setup Process(Checklist). That way, it won't feel like we are asking for direct feedback/input even without interacting with the platform. But for a time being this is fine, anyway we are

[2022-01-12 08:50] robertandrews commented on #14937
Hi. Any update? Still can't get this resolved.
New test -
Following a tag for the first time successfully adds it to the left-hand column.
But, even if I unfollow and re-follow an existing tag, it still doesn't appear on the left-hand column.

[2022-01-12 11:41] ludwiczakpawel opened #16076 "Remove hardcoded "Home" link from sidebar navigation"
Right now the "Home" link in the main navigation is hardcoded so Admins can't customize or remove it.

It's been reported by admins several time that they would like to be able to do something about it. Hence this issue.

The idea is to:
1. Remove [hardcoded Home link](https://github.com/forem/forem/blob/main/app/views/layouts/_main_nav.html.erb#L6-L11).
2. Add it back as a dynamically created lin

[2022-01-12 20:28] maestromac commented on #15910
So I digged this in a bit further and here are some info. With the image that was provided in the issue
[code]
That image is huge 1920 × 969 pixels, 11MB gif. Trying to markdown embed it into Github also fails silently because the content is too large for their CDN to process.

It's not a problem with Cloudinary because they also operate as an image host, which would shrink the file size first pri

[2022-01-12 20:45] #15555 closed

[2022-01-13 03:41] citizen428 commented on #16076
So what you're saying essentially is "Remove the hardcoded Home link and add it to the default navigation links so it can be removed/customized?", correct? In this context I want to point out the following issue that shows that removal might actually not work:

https://github.com/forem/forem/issues/15960

I think I also know why, see this comment:

https://github.com/forem/forem/issues/15960#issue

[2022-01-13 09:27] ludwiczakpawel commented on #16076
Correct.

That's clearly a bug, but probably not blocking, or depending on, this issue, right?
Nevertheless, definitely worth pointing out. And even fixing :D

[2022-01-13 12:11] #16050 closed

[2022-01-13 13:58] citizen428 commented on #16076
Well, we are making this change so that creators can potentially remove the Home link but they won't actually be able to remove it in a way that stays removed past deploys. But sure, the two issues can be tackled independent of each other.

[2022-01-13 15:27] maestromac commented on #15910
Some actionable things we can do
- [ ] Add Exception handling with Honeybadger
- [ ] Return a fallback image if the resize process fail. I'm not certain what it should look like but I could consult design team regarding this.

[2022-01-13 16:25] #15769 closed

[2022-01-13 17:16] benhalpern commented on #15613
I am going to work to close the loop on the clear purpose of "featuring" a post:

- It adds outsized weight to the a post's likelihood of appearing in peoples' Relevant feed, to work in conjunction with natural relevancy factors such as tags, followed users etc.
- Its precise impact may vary based on feed strategy and a/b testing, but admins can use it to promote content that is _generally_ useful

[2022-01-14 02:54] citizen428 commented on #15960
@ludwiczakpawel It definitely can be fixed. How exactly may need some discussion but nothing major I think.

[2022-01-14 02:57] jeremyf commented on #15960
Thank you @citizen428 for some way finding. I self assigned this to look at tomorrow and lay out a game plan.

[2022-01-14 10:31] sinedied opened #16104 "Problem with API docs website being unusable on Chrome browsers"
**Describe the bug**

When trying to read the docs on https://developers.forem.com/api with any Chrome-based browser, the site auto scroll to the top whenever you access a subsection, making it impossible to read the docs.

The issue does not occur when using Safari.

**To Reproduce**

Try reading the docs and scrolling down when using a chrome-based browser.

**Expected behavior**

The page does

[2022-01-14 11:51] Posandu commented on #16104
Can't reproduce it in Chrome latest version

[2022-01-14 11:54] Posandu opened #16105 "Same feed?"
**Describe the bug**

Same feed on the homepage

**To Reproduce**

Go to the homepage and refresh it, it's the same posts list

**Expected behaviour**

Post list should be updated

**Screenshots**

First load
![image](https://user-images.githubusercontent.com/76736580/149511456-2e7f976c-95c2-4394-8ad8-66b9a79ec164.png)
After refreshing
![image](https://user-images.githubusercontent.com/76736580/14

[2022-01-14 13:30] #15916 closed

[2022-01-14 14:33] #15556 closed

[2022-01-14 15:26] jeremyf commented on #15960
## Information Gathering

The `rake` invocation chain:

-   The [navigation_links:create](https://github.com/forem/forem/blob/3253ba2c7a03594a9064abf2aa4c3fba085099f5/lib/tasks/add_navigation_links.rake#L26) task loads several URLs.
-   The [forem:setup](https://github.com/forem/forem/blob/3253ba2c7a03594a9064abf2aa4c3fba085099f5/lib/tasks/forem.rake#L5) task invokes `navigation_links:create`.  At

[2022-01-14 15:28] jeremyf commented on #15960
My instinct is to say that we should have a conceptual separation between an initial setup and a synchronization.  The setup would run the link task.  The synchronization would not.

[2022-01-14 16:17] jeremyf commented on #16105
@Posandu this is the expected behavior of the latest feed algorithm changes.  See https://forem.dev/foremteam/feed-test-experiment-2-results-new-query-strategy-has-pulled-even-j07.

tl;dr - the previous feed algorithm was a bit like drawing cards from a deck.  The deck was a subset of all articles recently posted.  Each time you'd go to the feed page you'd in essence shuffle roughly the same deck

[2022-01-14 16:39] #16105 closed

[2022-01-14 18:34] #15567 closed

[2022-01-16 21:38] Anshuman71 opened #16129 "Series count on dashboard includes empty series"
**Describe the bug**

The Series link on the dashboard shows "3" series on my account [anshuman_bhardwaj](https://dev.to/anshuman_bhardwaj) but when I open the link it shows only two because on the Series page it shows nonempty series. I read the #9658 issue and the corresponding PR #11227.

**To Reproduce**

1. you can create an article, add a series to that article. Save the Series/article, and

[2022-01-17 03:24] citizen428 commented on #16104
I cannot reproduce this on macOS, Windows or Linux.

[2022-01-17 08:33] sinedied commented on #16104
I just made a video to show you the behavior. Reproduced in Chrome and Edge latest versions (shown in video), no extensions activated.
With Chrome's latest update the jump occurs a bit less often, but still there and makes it impractical.

I start by scrolling with the keyboard first, you can clearly see the jump back to top. When scrolling using the mouse, sometimes I can go past one or two secti

[2022-01-17 08:51] citizen428 commented on #16104
I just used the keyboard to scroll all the way to the end without any jumps back.

Tested on:

| OS | OS version | Browser | Browser version |
| - | - | - | - |
| macOS | 12.1 | Chrome | 97.0.4692.71 (Official Build) (arm64) |
| macOS | 12.1 | Edge | 97.0.1072.62 (Official build) (arm64) |
| Windows 11 | Build 22000 | Edge | 97.0.1072.54 (Official build) beta (64-bit) |
| Ubuntu | 21.10 | Chrome |

[2022-01-17 09:01] ludwiczakpawel opened #16133 "Add ability to sort comments"

[2022-01-17 09:05] Ridhwana opened #16134 "Add guides for size requirements to the Logo Upload Fields"
Add a minimum size guideline to the wording as per
See https://forem-team.slack.com/archives/C01S4QZUDNC/p1641898734063400

[2022-01-17 09:32] Siryedu opened #16135 "login: Redirected to http://localhost/?signin=true"
app/controllers/concerns/edge_cache_safety_check.rb:12:in `current_user'
17:30:22 sidekiq.1   | 2022-01-17T09:30:22.747Z pid=6252 tid=3xhk class=Users::BustCacheWorker jid=54baf8e23b05a798b6894b33 INFO: start
17:30:22 web.1       | Redirected to http://localhost/?signin=true
17:30:22 web.1       | Completed 302 Found in 176ms (ActiveRecord: 8.0ms | Allocations: 33122)

[2022-01-17 12:19] aitchiss commented on #16049
Is this specific to the admin area? I was just wondering because we already have this fullscreen mobile modal layout in the main app:

<img width="412" alt="DEV login modal on mobile" src="https://user-images.githubusercontent.com/20773163/149768341-c5236a1f-0cbd-4f49-ad45-15a551d8a6ca.png">

[2022-01-17 13:03] nickytonline commented on #16049
Ahh good to know. No this was for the app in general. I'll go ahead and close this.

[2022-01-17 13:04] #16049 closed

[2022-01-17 13:54] nickytonline commented on #16135
Hi @Siryedu! Can you provide some more context to the issue by filling out our issue template? Thanks!

[2022-01-17 13:56] nickytonline commented on #16104
Since no one is able to reproduce the behaviour at the moment, can you disable all Chrome browser extensions and try again? Thanks!

[2022-01-17 14:18] Anshuman71 commented on #16129
@juliannatetreault thanks for taking a look. Can you please help me with #16130? @citizen428 wrapped the PR but didn't merge yet, anything I can do to help?

[2022-01-17 14:25] juliannatetreault commented on #16129
👋  @Anshuman71

I will review the PR today! PRs require two approvals in order to be merged, which is why @citizen428 hasn't merged the work yet.

Thanks so much for your contribution!

[2022-01-17 14:55] aitchiss opened #16137 "Replace listings tag selection component with new autocomplete"
(to be tackled once https://github.com/forem/forem/pull/16025 is successfully merged)

In https://github.com/forem/forem/pull/16025, the tags selection component in the article form is replaced with a new autocomplete component. The 'create/edit' listing UI (`/listings/new`) also has a tags field, which hasn't been changed in https://github.com/forem/forem/pull/16025.

Once we see the new autocomp

[2022-01-17 15:28] jeremyf commented on #15150
@dscottS3 this is the /tag search I had mentioned

[2022-01-17 16:12] aitchiss commented on #14836
Closed by https://github.com/forem/forem/pull/15505

[2022-01-17 16:12] #14836 closed

[2022-01-17 22:22] #15960 closed

[2022-01-17 23:08] amywtlin commented on #16133
@jeremyf out of all 3, 3 would be a good candidate for CE pod to tackle if anyone has time or would like to change things up a little!

[2022-01-18 02:46] Siryedu commented on #16135
yeah?

"bin/startup"
1.go to  http://myurl/signout_confirm
2.Click on   bottom "yes.sign out"
3.Redirected to http://localhost/
and
URL “http://myurl/enter”  Same as before

Redirected to http://myurl/

![image](https://user-images.githubusercontent.com/86220592/149861596-1854b227-25e0-4391-85eb-671a9529d7ac.png)

click bottom "continue" that will  redirected to http://localhost/ but not http://my

[2022-01-18 03:28] citizen428 commented on #16104
@nickytonline It says "no extensions activated" in the last comment by @sinedied. The only thing that may still be worth trying is a new Chrome profile, that helped me once or twice in the past.

[2022-01-18 06:54] #13874 closed

[2022-01-18 10:05] sinedied commented on #16104
My edge browser is a fresh install, and I tested with a new Chrome profile, same issue.

I made some more tests:
- Firefox: no issue
- Edge Canary: have issue
- Android phone, latest chrome (97): no issue
- On another Mac with an old OSX (10.14) and latest Chrome: no issue

It seems to me that the issue is also tied to OSX version somehow.

What's even more strange is that it's not only scrolling

[2022-01-18 10:23] aitchiss opened #16162 "Add bulk GET for tags"
This issue is to allow data for multiple tags to be fetched in one call.

## Additional context

The new tags autocomplete in the editor requires a tag's `bg_color_hex`, `short_summary` and badge URL to be able to show the enhanced UI for options and selections. The `/search` and `tags/suggest` endpoints were previously updated to provide this information, however when we edit an existing post, we

[2022-01-18 12:53] nickytonline commented on #15910
I've experienced this as well and it prevented someone from posting an article on vscodetips.com.

It is a file size issue, but it occurs because most folks use screen capture gif software that saves it as a high res animated gif. It's something pretty common that folks do.

[2022-01-18 12:57] whitep4nth3r opened #16163 "Color contrast for open graph listing images fails accessibility"
**Describe the bug**

Open Graph images for listing pages do not pass AAA accessibility standards for colour contrast.

**To Reproduce**

View this open graph image: https://hcti.io/v1/image/4ba2409f-ed0c-448b-bbe0-047a009a1814
(Taken from this URL https://dev.to/listings/events/dev-twitch-stream-with-dan-abramov-maggie-appleton-34c6)

Observe colour contrast scores:

![A screenshot showing colour

[2022-01-18 12:58] aitchiss commented on #15144
This is an interesting one - I tried reproducing locally with the same code snippet, but with no luck, which makes me wonder if something has been corrected in the meantime 🤔

One thing I notice is that the published post linked here has the code snippet wrapped in

[code]

When locally if I publish the same code snippet, it's wrapped in:

[code]

The extra surrounding `div` is what allows the CSS

[2022-01-18 13:07] Link2Twenty commented on #15144
It looks like the user wrote the article without setting a language and then added it with an edit, not sure if that makes a difference.

[2022-01-18 15:07] djuber commented on #15876
@sachinjain007 thanks for letting us know this fixed it for you.

The setup script now checks for the .env file (or creates it from the sample) after #16005, and the documentation has been updated to clarify this  in https://github.com/forem/forem-docs/commit/157c545711d8e5435ced9a956f521fac5a99b2ae - I'm going to close this as completed.

[2022-01-18 15:07] #15876 closed

[2022-01-18 16:53] aitchiss commented on #12968
It looks like a few things have changed since the previous discussion on this issue - we no longer have the page `/p/badges` bundled with the app, with these DEV SVGs living now only on https://dev.to/brand which I believe is a custom page in DEV only.

In light of that, I don't think it makes sense to bundle the new SVG in with the app as discussed above, but upload it and generate the URL so tha

[2022-01-18 17:05] nickytonline commented on #12968
I'm going to go ahead and close this since as @aitchiss mentioned, a DEV admin can do this now. cc: @michael-tharrington, @FounderCasey, @ellativity

[2022-01-18 17:05] #12968 closed

[2022-01-18 18:22] nickytonline commented on #16163
Thanks for opening the issue @whitep4nth3r! That definitely fails colour contrast. 😬

[2022-01-18 18:23] nickytonline commented on #16163
This requires investigation on the backend. I'm not sure what we're currently using to generate the social image cards.

[2022-01-18 18:51] Anshuman71 commented on #16129
The issue seems to be fixed.

[2022-01-18 18:51] #16129 closed

[2022-01-18 19:40] nickytonline commented on #14937
@robertandrews, I've messaged the team to see if someone can dig into this more.

[2022-01-18 20:01] jeremyf commented on #14937
Quick question, @robertandrews, what's your username on DEV?  I want to see about building the query that we then cache from user data.

[2022-01-18 21:51] jeremyf commented on #14937
Reading Notes:

When I run the following, I see that the reporting user is currently following 7 tags:

[code]

[2022-01-18 22:45] jeremyf commented on #14937
Further Reading Notes:

For myself, I'm following 13 tags.  Only 7 show up in my left navigation.

Here's a portion of the JSON from https://dev.to/async_info/base_data:

[code]

In looking and comparing on my page:

| Name          | Points are Above 1 | In Nav |
|---------------|------------------|--------|
| career        | yes              | yes    |
| emacs         | yes              | yes

[2022-01-18 23:01] jeremyf commented on #14937
We process the JSON information here:

https://github.com/forem/forem/blob/06f65734363469382208ee0641e62d691b8084e6/app/javascript/packs/homePage.jsx#L23-L48

Then render here:

https://github.com/forem/forem/blob/06f65734363469382208ee0641e62d691b8084e6/app/javascript/leftSidebar/TagsFollowed.jsx#L6-L29

Importantly, we skip rendering on tags that have "points" of less than one.  Which aligns wit

[2022-01-18 23:13] JennieOcken opened #16180 "Improvements to SMTP settings"
### Discussed in https://github.com/forem/forem/discussions/16179

<div type='discussions-op-text'>

<sup>Originally posted by **JennieOcken** January 18, 2022</sup>
Allow a Creator who sets up their own SMTP settings to specify the `from email address` that will be used with that email service in the existing SMTP settings area.

In addition, update the logic of SMTP settings so cloud hosted Fore

[2022-01-19 00:00] robertandrews commented on #14937
I think you figured out my username. Following your theory, I assume the number of items shown on the left recently upped from two to three (#airtable) because I bookmarked some #airtable posts in the last few days.

I'd never have guessed that this kind of surfacing logic would be controlling the visibility here in the background. Rather, I'd probably assume "My Tags" would show all tags - or, if

[2022-01-19 00:21] jeremyf commented on #14937
@robertandrews I'm checking in with our product team to see how we want this to render.  It definitely surprised me.

[2022-01-19 00:22] jeremyf commented on #14937
It looks as though PR #14782 introduced the change.  I'll dig a bit further.

[2022-01-19 00:31] jeremyf commented on #14937
I did some further digging and there's these values (tag names deliberately hidden).  I assume that you have one tag that you've bumped to a 4.0 value.

| Calculated Points | Explicit Points |
|-------------------|-----------------|
|              0.98 |             1.0 |
| 0.850763022581786 |             1.0 |
|               1.0 |             1.0 |
|  8.18035305299828 |             4.0 |
|  0.62

[2022-01-19 07:33] robertandrews commented on #14937
I guess so. When I put it back to 1.0 like the others, still only three show on the home page.

[2022-01-19 08:41] leewynne opened #16186 "Video upload not working on Dev and other Forems"
**Describe the bug**

When navigating to /videos/new and attempting to upload a video the response in the Chrome JS console returns:

Failed to load resource: the server responded with a status of 403 (Forbidden)
s3.amazonaws.com/dev-to-input-v0/:1

Failed to load resource: net::ERR_CONNECTION_RESET

**To Reproduce**

1. Navigate to your dashboard
2.  Hit upload video
3. Attempt to upload video
4.

[2022-01-19 11:29] Ridhwana opened #16187 "Update relevant fields when we change invite_only_mode in Creator Setup"
If `invite_only_mode` is set to be `false` by default.
Then should we also be amending `allow_email_password_registration` to true by default so that there is one authentication method set already on the create account page for new users?

In addition, on the Creator Onboarding page, we should also be updating the `allow_email_password_registration` in the background when someone toggles the `invi

[2022-01-19 12:10] Ridhwana opened #16188 "Add a Data Update Script to disable the `creator_onboarding` Feature Flag"
Currently the `creator_onboarding` is still enabled on the app and should we use the feature flag for the creator onboarding v2, Forems will immediately see those changes as the feature flag has not been disabled on all Forems

[2022-01-19 22:06] djuber opened #16220 "Liquid tag views reference unstable image urls by `asset_path`"
**Describe the bug**

When a user uses a liquid tag to embed content from reddit, wikipedia, github, medium, tweets, or stackexchange, the views use `asset_path("image name")` to find the _current_ url for the image (example, "github-logo.svg" might produce https://forem.dev/assets/github-logo-5a155e1f9a670af7944dd5e12375bc76ed542ea80224905ecaf878b9157cdefc.svg

Over time, if the asset cache is cl

[2022-01-19 22:14] #15359 closed

[2022-01-19 22:17] jeremyf commented on #14704
I believe #16067 closes this issue.

[2022-01-19 22:17] #14704 closed

[2022-01-19 22:19] jeremyf commented on #14140
@hieptl have you experienced this recently?  I believe it may be resolved in PR #15442

[2022-01-20 03:28] citizen428 commented on #14888
Hm, @Ridhwana how do you feel about brining I18n to admin at this point?

[2022-01-20 07:39] yheuhtozr commented on #14888
Caveat is that I didn't do much i18n work in the admin realm so it will be likely to start from scratch or call for other people who already did.

[2022-01-20 07:40] Ridhwana commented on #16180
Note:
- @maestromac is tackling "update the logic of SMTP settings so cloud hosted Forems can override the SendGrid provisioned for them by us with their own SMTP settings"
- @Ridhwana is tackling "Allow a Creator who sets up their own SMTP settings to specify the from email address that will be used with that email service in the existing SMTP settings area."

[2022-01-20 08:39] Anshuman71 opened #16222 "Recently published sort on dashboard includes the draft articles"
**Describe the bug**
The recently published sort on dashboard includes the draft articles, while it should sort based on the published time.

**To Reproduce**

1. Create 2 articles
2. publish one and keep the other in the draft
3. Open the dashboard and select recently publish from the dropdown.
4. It shows draft articles at the top, not the ones that are published.
5.

**Expected behavior**

It s

[2022-01-20 08:40] Anshuman71 commented on #16222
Maybe we should also give an option to "Only show published" or "Only show draft"

[2022-01-20 12:40] Ridhwana commented on #16180
@JennieOcken here's a proposed solution for this. Let me know what you think about it.

### Forem Cloud Instances:

**Allow SMTP to override Sendgrid settings:**
We will provide the ability for Forem Cloud Instances to specify their own SMTP settings. This will be done by allowing the SENDGRID_API_KEY to be overriden with the SMTP Settings from /admin.

**Determining the email_from and reply_to ad

[2022-01-20 13:05] #15581 closed

[2022-01-20 14:01] Ridhwana commented on #14888
I think we can hold off on the admin for the moment, we're busy reworking most of the views, which means that it's prone to big changes. As we update the views, then we can start working on them.

[2022-01-20 14:08] JennieOcken commented on #16180
Yes, this is exactly the right direction.  I read it through a couple times and that is solving exactly the problems we discussed.

Long term, I think we don't want to allow folks to use `noreply@forem.com` but that feels pretty out of scope for right now because I don't want to think through chasing down defaults or required fields at the moment.

You bring up a really good point with the long te

[2022-01-20 14:23] nickytonline commented on #16222
Thanks for the feedback @Anshuman71! I've forward this info to our team.

[2022-01-20 15:41] benhalpern opened #16225 "Missing title in Stack Overflow Embed"
**Describe the bug**

I noticed that the Stack Overflow liquid tag is missing a title on this post:

https://dev.to/twitterdev/getting-the-follower-count-from-twitter-api-v2-4jh6

**To Reproduce**

- Go to `/new` locally
- Paste this and preview `{% stackoverflow 70779246 %}`

**Expected behavior**

The title shows up

**Screenshots**

<img width="649" alt="Screen Shot 2022-01-20 at 10 21 33 AM" s

[2022-01-20 15:47] JennieOcken opened #16226 "Remove requirement of "name" from user invitation/creation flow"
**Why**
Right now the invitation flow is a barrier to some of our new Creators.  While it is easy to invite a handful of users, it is difficult to do mass invites.  This is because we require both a `name` and `email address` for each user.  If we reduced the requirement to only 'email address' that would open us up to allowing bulk load of users through the UI or allowing the import of users thro

[2022-01-20 15:48] JennieOcken commented on #16226
This would resolve this RFC: https://github.com/forem/rfcs/pull/48

[2022-01-20 16:03] ellativity opened #16227 "Allow User Onboarding to skip Suggested Users tile if field is blank in Admin Config"
**Why**
Main issue:
At the moment, Admins need to fill out the Suggested Users in Admin Config, otherwise the tile appears sparsely filled out in New User Onboarding. Ergo, if they don't have users signed up to the site, then the tile appears sparsely filled out in New User Onboarding, which means it's not serving the purpose it's intended for.

At the same time:
We've had requests from various Fo

[2022-01-21 00:45] #15296 closed

[2022-01-21 00:46] #14937 closed

[2022-01-21 08:58] #15423 closed

[2022-01-21 08:58] #14845 closed

[2022-01-21 12:00] Ridhwana commented on #16180
@JennieOcken quick demo to make sure we're on the same page https://www.loom.com/share/550048c71d144557b5dc12580ed78106

If we decide to go with all these changes, I'll make sure that the documentation is updated. Let me know your thoughts.

[2022-01-21 14:36] JennieOcken commented on #16180
I literally watched that video repeatedly saying "Yes" in a really excited voice.  Love the change in section title too.

And you already caught the "we should have more explanatory text" thought I had.

Just to be clear, if the `SendGrid_API_Key` is not present, they box is already checked and so they wouldn't see this explanatory text on first interaction, correct?  Also, if a `SendGrid_API_Key`

[2022-01-21 15:05] Ridhwana commented on #16180
@JennieOcken I had just had that [thought](https://github.com/forem/forem/pull/16216#issuecomment-1018550885) about 20 min ago and dropped it in Macs PR:

[code]

We'll need to still figure out a way to implement this because right now we can't clear out the fields because of the validations.

That aside, this is a summary for clarity. Let me know if I misunderstood anything please?

| Sendgrid AP

[2022-01-21 15:08] JennieOcken commented on #16180
I love it when we are on the save wavelength.  Yes, that grid is 100% right and a much clearer way of thinking about it than my rambling.

[2022-01-21 16:53] jeremyf opened #16251 "Expect bin/setup to clear cache on developer machine"
**Describe the bug**

When I run `bin/setup` on my machine, I would expect that this would clear the `Rails.cache`.  There is a logged message saying `== Bust Caches ==`.

**To Reproduce**

This assumes you're running a local Redis instance, and your Rails app is using Redis for it's application cache:

1. Open a Rails console (e.g. `rails console`)
2. In the Rails console add something to the cac

[2022-01-21 16:53] jeremyf commented on #16251
@aitchiss Does this capture your expectation?

[2022-01-21 19:40] #15561 closed

[2022-01-21 20:50] #15563 closed

[2022-01-22 11:39] thphuc commented on #182
Do we have any plan to make it easier for users? I believe Latex/Katex are very complicated to almost users

[2022-01-23 04:46] mmafrar commented on #5519
I have been trying to upload a video to dev.to for the last few days, but it seems there's an issue. When I upload a video for the first time nothing happens, when I retry I end up with the image in the screenshot. Size of the video is 16 MB, length is 7 minutes and 53 seconds. Link to the video: https://youtu.be/_armPP1xAuc.

![Screenshot 2022-01-17 at 21 56 09](https://user-images.githubusercont

[2022-01-23 17:32] whykay commented on #16186
I can confirm that this is happening to me also on latest version of Chrome. I was going to log a bug when I saw this. Will use the embed video for now instead of upload video, and I do appreciate that this is a beta feature, so bugs can happen.

[2022-01-24 02:46] citizen428 commented on #5519
@mmafrar Already tracked in #16186

[2022-01-24 04:00] citizen428 commented on #16251
This assumption is wrong. Though I can see how it's confusing, the message isn't super clear about what's happening.

1. `== Bust Caches ==` is printed from `lib/tasks/app_initializer.rake`
2. This does indeed enqueue a job for clearing caches (`cache:enqueue_path_bust_workers`) so it assumes Sidekiq is running. In all fairness, it should be, we recommend running the app through `Procfile.dev` (e.

[2022-01-24 04:03] mmafrar commented on #16186
I'm also facing the same problem. Here's the link: https://github.com/forem/forem/issues/5519#issuecomment-1019413231

[2022-01-24 11:48] sabarish98 commented on #16225
Hi folks, I can work on this, could you please assign it to me??

[2022-01-24 13:40] fridi23 commented on #3777
Look at this link, it may help you solve your problem. Good luck [Lint problem](https://elearning-online-courses.blogspot.com/2022/01/e-learning-complete-guide.html)

[2022-01-24 13:51] citizen428 commented on #16225
Thanks @sabarish98, assigned it to you.

[2022-01-24 15:42] maestromac commented on #182
Hello @thphuc , we currently don't have any plan on that. If you would like to push for this request, you can submit a discussion post on https://github.com/forem/forem/discussions

[2022-01-24 15:57] djuber opened #16273 "Sidekiq reporting arguments to perform_async are not "json native""
**Describe the bug**

When seeding the database I noticed a number of deprecation warnings from Sidekiq

[code]

**To Reproduce**

The easiest way to recreate this would be `bundle exec rails db:reset` (which drops, creates, and seeds the db, some of the seeded models enqueue jobs to sidekiq, like article creation or podcast episode downloadds).

**Expected behavior**

No warnings from sidekiq whe

[2022-01-24 16:19] djuber commented on #16273
Possible solutions:
- replace keyword/symbol arguments to strings wherever we have calls to perform_async, and enable strict_args! in development and test to prevent backsliding - seems like low effort, unless we're dynamically building the argument hashes somewhere

- convert symbols keys to strings before calling `perform_async` (wrapping the method) - higher effort, possibly improved surface co

[2022-01-24 19:23] #15572 closed

[2022-01-25 04:34] sabarish98 commented on #16225
@citizen428 : While running Rspec, it shows this error, any workarounds for this:

[code]
I am using the docker setup. I executed the spec from within the container

[2022-01-25 05:35] citizen428 commented on #16225
This just means your local Postgres database is not running. On Travis we actually see a different error related to the escaping of the string.

[2022-01-25 06:21] sabarish98 commented on #16225
Yes, @citizen428 , I saw that it was escaping of strings from the logs on Travis. I wanted to verify it, so tried running it on my local to check it once.

@djuber : Please do let me know how to run tests on container setup

[2022-01-25 12:21] #15573 closed

[2022-01-25 13:52] jeremyf opened #16297 "Search results are not rendering pagination"
**Describe the bug**

Our search results do not appear to render a pagination widget.

**To Reproduce**

On a local machine, you may want to update the search params to have a small page size:

[code]

1. Go to the homepage
2. Search for a word with a lot of instances (e.g. "the")
3. The search results page should render the per_page limit but there will be no indicator of pagination.

**Expected

[2022-01-25 15:27] djuber commented on #16225
Hi @sabarish98

I think the issue you're seeing trying to run rspec is that the docker setup for development has a single database (PracticalDeveloper_development) configured, but no test db:

https://github.com/forem/forem/blob/main/docker-compose.yml#L114-L124
https://github.com/forem/forem/blob/main/config/database.yml#L61-L70

[code]

The test setup is looking for a test db, when it can't find

[2022-01-25 16:21] jeremyf commented on #16162
I'm inclined to think about amending the `tags/suggest` to allow for handling a `params[:names]`.  When given `params[:names]` you'd further scope the query with `.where(names: params[:names])`.

[2022-01-25 17:58] sabarish98 commented on #16225
Thanks for taking the time to explain the issue along with the necessary background and the workarounds for this @djuber. It really helps.

 Btw, Kudos to all the work you folks are doing 🥇

And yes, I tried the workaround and I was able to run specs as you have shown 💯

And @djuber, do you have any plans to incorporate this in the near future? Or for the time being update the documentation with t

[2022-01-25 19:24] #16225 closed

[2022-01-25 19:44] djuber commented on #16225
@sabarish98 glad to hear that worked (I tested the command you ran locally, but just enough to confirm the changes made sense for my setup).

I think the rspec-only/rspec-first container setup (with a separate compose file) is probably the way we'll move for testing in CI, but adding the work-around (a test db and a test url environment variable) to the rails container/docker-composy.yml should be

[2022-01-26 00:07] #16273 closed

[2022-01-26 06:10] #16251 closed

[2022-01-26 08:11] ludwiczakpawel opened #16306 "Best answer"
### Description

Admins want an ability to have "Q&A" type of posts where it would be possible to mark post as answered with specific comment.

There are tons of directions we could pull this towards but lets kick off with simple MVP: lets just enable post authors to mark specific comment as “Best Answer” - it would get highlighted with special styling and it would land on top of the Discussion li

[2022-01-26 08:54] aitchiss commented on #16162
At the moment a straightforward 'get me this tag' doesn't _really_ fit conceptually with the endpoints we currently have though... `/tags/suggest` is only used to return supported, popular tags, and feels very different in purpose to me than "get me the details for X tag". I'd usually expect the proposed kind of fetch to happen at `GET /tags` 🤷‍♀️

As a small aside, the current source of specific

[2022-01-26 18:07] benhalpern opened #16316 "/badge really only makes sense in DEV"
We have a hardcoded `/badge` page endpoint that doesn't really make sense in Forem and can be entirely removed and become an admin concern vs a codebase concern.

Not only does it no longer make sense in a Forem context, it's out of date and we can't fix it without a code contribution to Forem! https://dev.to/badge

[2022-01-26 20:34] jeremyf opened #16321 "Make Order of Tags on Top Tags Page (/tags) Easier to Understand"
### Discussed in https://github.com/forem/forem/discussions/16263

<div type='discussions-op-text'>

<sup>Originally posted by **michael-tharrington** January 21, 2022</sup>
It's currently tough to understand how the tags are ordered on the Top Tags page (e.g. dev.to/tags). They're using the "hotness score", but there's some weird behavior going on that occasionally makes them seem out of order.

[2022-01-26 21:19] #15577 closed

[2022-01-26 22:10] #15576 closed

[2022-01-27 11:50] aitchiss commented on #16297
Following a chat with @ludwiczakpawel, we think we can also take this opportunity to speed up the initial load by reducing the 'per page' amount (which is currently set to 60).

- Each page should have max 30 results
- The number of pages of results should be shown as links at the bottom of the page
- A max of 5 pages should be shown
- Clicking one of the page numbers should result in that page of

[2022-01-27 12:15] #3580 closed

[2022-01-27 12:19] #16321 closed

[2022-01-27 14:23] nickytonline opened #16328 "Convert modals that currently aren't using the Preact modal to the Preact modal"
## Description

There's work being done in #16310 for modals and one thing that came up was that there are still some modals in the codebase that aren't using the Preact modal component.

These non-Preact modals should be converted to the Preact modal component, not just for keeping things uniform, but also because the Preact modal component has a tonne of accessibility baked in to it.

_Originall

[2022-01-27 15:39] jeremyf commented on #16297
@aitchiss Typically in a paginated response document we have a response document that includes:

- `next_page`
- `previous_page`
- `total_pages`
- `entries`

Were I thinking of an implementation, I'd perhaps go with https://jsonapi.org

[code]

However, our responses all look like: `entries as json`

So we'll have considerable more work to refactor this information to include paginiation.  Thought

[2022-01-27 15:44] vishaldeepak commented on #16133
any chance this issue is open for dev ?

[2022-01-27 15:55] aitchiss commented on #16297
@jeremyf

I think in this case the current response is

[code]

So I'm wondering if we could adopt what you suggested, but keep the name `results` instead of `data`? -

[code]

That way we shouldn't need to refactor any of the existing frontend. I don't think it would be a huge a job (at least frontend) to refactor to access the results via the `data` key, but the reservation I have is that `/sear

[2022-01-27 16:05] JennieOcken opened #16333 "Allow Creator to add their own JavaScript to the bottom of the <head> section"
Recently I was speaking to a prospective Creator and they expressed a desire to insert their own JavaScript to the bottom of the <head> section on all pages of the site.  This will allow them to connect their Forem with their rest of the sites and manage their own needed JavaScript.

I would like us to add configuration from this.  Should be a simple dialogue box in the admin that allows them to d

[2022-01-27 16:20] aitchiss opened #16334 "Update crayons components to use Storybook as single source of truth"
Our storybook has been getting lots of great updates recently, and as we invest more in it, we want to make sure it's our single source of truth for design-system component documentation. However, a few components still have JSDoc comments either as duplication or instead of comprehensive storybook docs. I'm also including in the list below components that appear in Storybook but don't have docs a

[2022-01-27 19:56] jeremyf commented on #12146
In reading the partial and the liquid tag JS, there's a lot of DOM `id=` declarations.  To resolve this will require someone ready to tackle the javascript and HTML.

[2022-01-27 20:06] jeremyf commented on #16133
@vishaldeepak as in you'd be up for tackling this?  If so, I'd love to hear your approach.

[2022-01-27 21:12] djuber opened #16341 "Users followed tags points may not be representable as `::integer`"
**Describe the bug**

When a user is participating in one of the weighted feed query field tests.
When the user has assigned very very large followed tag weights
When we cast the sum of the tag points to an integer
Then the feed strategy receives a PG::NumericValueOutOfRange error because the large float sum can't fit in an integer.

**To Reproduce**

Follow one or more tags (http://localhost:3000

[2022-01-27 22:22] #16341 closed

[2022-01-27 23:11] #15183 closed

[2022-01-28 16:31] jeremyf opened #16347 "Test Ecosystem: Rails.application.routes.default_url_option and URL.domain return inconsistent results"
**Describe the bug**

In the development environment we have the following:

[code]

In the test environment, we have a disagreement between the url options:

[code]

Why is this a problem?  When we're coercing URLs via [URL.url](https://github.com/forem/forem/blob/6a69d9bc61aafb3202fe20c2527e46185f81d42a/app/lib/url.rb#L15-L20) we end up with one host.  However if we use things like `Rails.applic

[2022-01-28 17:54] juliannatetreault commented on #15707
Quick thought: I think that we should hold off on addressing this particular issue since the [Admin Member View work](https://github.com/forem/forem/pull/16174) is underway and the work that has been done so far both changes and standardizes these redirects for the Member view. What do y'all think, @Ridhwana and @ellativity?

[2022-01-28 23:07] #15150 closed

[2022-01-29 07:12] vishaldeepak commented on #16133
@jeremyf  Thinking about point no 3 first.(Backend)
Looks like sorting things should be quite straightforward.
From the UI we can ask for another parameter that defines the sorting sequence. Then we would add another parameter to the [following method ](https://github.com/forem/forem/blob/96a935ffecd7cfe36bfca00aedb2feeb606daae6/app/models/comment.rb#L92)

[code]

All sorts should be
- "created_at

[2022-01-29 17:17] gajananpp commented on #12835
Hi @kum9748ar ,

This function call loads the initial state of follow button :-
https://github.com/forem/forem/blob/96a935ffecd7cfe36bfca00aedb2feeb606daae6/app/javascript/packs/followButtons.js#L422

Since the styling for follow and following is different, maybe initially making button `display: none` in templates

https://github.com/forem/forem/blob/96a935ffecd7cfe36bfca00aedb2feeb606daae6/app/v

[2022-01-30 08:45] UWA-Ally opened #16351 "Can't create a post"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2022-01-30 08:46] UWA-Ally commented on #16351
Hello Support team,

The system always show my account issue which is not allow to access to the system and can't create content.

Thanks so much.

[2022-01-30 13:59] yheuhtozr commented on #14888
@citizen428 @nickytonline

So, here are two architectural concerns about JS (string) i18n as far as I tried:

- Much [as I stated](https://github.com/forem/forem/pull/14932#discussion_r722095473), the current provisional implementation with `i18n-js` seems suboptimal in the long run, of which the greatest weakness is that you have to reinvent many things that JS `Intl` already warrants for each la

[2022-01-31 03:05] citizen428 commented on #14888
I'm ok with switching libraries if there's one that's significantly better than `i18n-js`. For the rest I'll have to defer to Nick, this is not quite my area of expertise and he probably also has a better idea where we going long-term with all things frontend.

[2022-01-31 03:17] citizen428 commented on #16351
Hello @UWA-Ally, thanks for notifying us of this problem, this looks like an issue specific to your account.
Please email yo@dev.to for more help.

[2022-01-31 03:17] #16351 closed

[2022-01-31 14:18] #16347 closed

[2022-01-31 14:29] aitchiss commented on #12146
As a bit more context, this error was suppressed previously by changing the `const` to a `var`: https://github.com/forem/forem/pull/13694 - there's a lot of context on that PR about the remaining issues, potential fixes, etc that we need to keep in mind when looking at this

[2022-01-31 14:57] nickytonline commented on #12146
The problem is a little deeper than a JavaScript variable. There is a Slack thread somewhere about this, but the real problem is having more than one of these liquid tags embedded. `var` fixes the JS error, but what will happen is all instances of this liquid tag embedded in the same place will all reference the same `subscribeBtn`, the last one declared, i.e. the last liquid tag instance rendered

[2022-01-31 15:58] aitchiss commented on #12146
I'm also curious how much this liquid tag is currently used or intended to be used in future - from the thread on the issue I linked:

I don't recall seeing it used for CodeLand 2021, so before we go down a long rabbit hole of the issues you mention here @nickytonline I'd be keen to make sure we definitely _want_ this liquid tag

[2022-01-31 16:50] nickytonline commented on #12146
Sounds good! Didn't realize that was on the table. 😎

[2022-01-31 16:52] juliannatetreault opened #16364 "Replace the "Vomit" Emoji with the "Inspector" Emoji"
We standardized the "flag" emoji that we used across most of the codebase, but the Admin side of things still remains out of date and uses the "vomit" emoji (🤢  ) instead of the "inspector" (🧐 ) emoji. For consistency purposes, we need to update the "vomit" emoji to the "inspector" emoji in Admin.

🐣 TASKS

[x] Replace the "vomit" emoji with the "inspector" emoji in Admin

[2022-01-31 17:55] nickytonline commented on #14888
I'm in the middle of something at the moment, but I will give a think on this this week.

[2022-01-31 18:41] cronlabspl commented on #16334
@aitchiss
Why even bother using software thats so diversified as Storytell?

[2022-02-01 09:27] #16076 closed

[2022-02-01 15:56] rt4914 opened #16384 "Dev.to not able to view feeds"
**Describe the bug**

Opening DEV.to on chrome browser (macOS) has blank screen, shows UI as if user is logged-in but without details and color theme changes from dark to light just on changing some pages. This looks like some edge case and won't be reproducible easily.

Below video shows exact output.

https://user-images.githubusercontent.com/9396084/152002984-5536af0a-f69f-40cb-804e-41fe35b9053

[2022-02-01 19:23] jeremyf commented on #15151
Closed by #16265

[2022-02-01 19:23] #15151 closed

[2022-02-01 22:39] djuber opened #16391 "profile fields should have unique, non-empty attribute names"
**Describe the bug**

When a forem has profile fields (feature flagged, add and enable `profile_admin` to expose this), and a field is created with a non-latin label, the profile field is persisted, but the `attribute_name` is empty.
Since the attribute name is used as a method selector/attribute name, this causes errors in a number of places:
- Future edits to the field by an admin fail with vali

[2022-02-02 04:29] Posandu opened #16392 "Error posting comment (PG::UniqueViolation)"
**Describe the bug**

Something went wrong while I was posting a comment on dev.to.
![image](https://user-images.githubusercontent.com/76736580/152092836-c2e69661-cbac-46c1-aa2c-a9f173d4a73e.png)

**To Reproduce**

It just randomly happened but the comment was posted.

**Expected behavior**

No errors

**Screenshots**

**Desktop (please complete the following information):**

- OS, version: Window

[2022-02-02 04:54] siberkolosis opened #16393 "It would be great if forem could embed peertube"
It would be great if forem could embed peertube, even use embed code from peertube is not work, PeertTube is the free and decentralized alternative to video platforms, providing over 400,000 videos published by 60,000 users and viewed over 15 million times

_Originally posted by @siberkolosis in https://github.com/forem/forem/discussions/16240_

[2022-02-02 08:56] naruaika opened #16394 "Inconsistent Number of Comments Posted"
**Describe the bug**

The number of comments posted should be the same both on the _Recent comments_ section and on the sidebar.

**To Reproduce**

1. Go to the profile page
2. Scroll down to the _Recent comments_ section
3. See the sidebar on the "... comments written"

**Expected behavior**

The number of comments posted should be the same.

**Screenshots**

![image](https://user-images.githubus

[2022-02-02 09:41] aitchiss commented on #12146
Update: yep, this is definitely an important tool for CodeLand peeps, and some other occasional uses ([see an example here](https://dev.to/devteam/how-to-claim-your-hacktoberfest-completion-badge-3l2h))

[2022-02-02 11:10] aitchiss commented on #16394
Thanks for logging this issue!

I haven't been able to reproduce this yet, but I notice that the sidebar number is generated by `@user.comments.where(deleted: false).size` whereas the"View all X comments" uses `@user.comments_count`.

I'm not sure exactly where the two are deviating, but I'm wondering whether both views should be depending on `user.comments_count` anyway 🤔

The current discrepancy

[2022-02-02 15:56] djuber commented on #16391
Looking further into this, since field's attribute name was being called via `profile.public_send(f.attribute_name)` it's better to not tie this to (trusted) user input at all.

[2022-02-02 21:04] michael-tharrington opened #16401 "Error with "Add comment" button appearing as [missing "en.core.add_comment" translation]"
**Describe the bug**

Occasionally, when looking at a Forem in feed view (e.g. the main feed on dev.to or https://dev.to/latest or https://dev.to/top/week) the "Add comment" button is appearing as `[missing "en.core.add_comment" translation]`.

**To Reproduce**

It's unclear to me how to reproduce this, but I've noticed it happening enough to want to raise the issue.

**Expected behavior**

The bu

[2022-02-02 21:10] djuber commented on #16401
That is super odd - those translations were there since October (they're not new) - both added in #14852

[2022-02-03 03:43] EKivutha commented on #16394
@aitchiss please assign

[2022-02-03 03:45] EKivutha commented on #16334
@aitchiss please assign this issue

[2022-02-03 04:51] citizen428 commented on #16334
@EKivutha I assigned you the issue now.

[2022-02-03 09:11] aitchiss commented on #16334
Thanks for taking on this issue @EKivutha - just a reminder to submit any changes for this as small incremental PRs, ideally component by component. This will help keep things straightforward to review 🙂

[2022-02-03 09:36] aitchiss commented on #16394
@EKivutha have you been able to reproduce the issue locally?

Also, I noticed you're taking on https://github.com/forem/forem/issues/16334 - do you want to see how this one goes first before starting work on this?

[2022-02-03 10:23] EKivutha commented on #16394
Hey, I have reproduced both, you can assign the two. @aitchiss

[2022-02-03 10:24] EKivutha commented on #16334
Noted @aitchiss

[2022-02-03 10:53] aitchiss commented on #16394
Oh great! When you have a moment, could you add the reproduce steps in a comment here too?

[2022-02-03 12:22] #15671 closed

[2022-02-03 13:54] Posandu commented on #16394
![image](https://user-images.githubusercontent.com/76736580/152356244-f502e040-e978-426f-aaa7-c7a46388c562.png)
My profile more weird

[2022-02-03 15:02] michael-tharrington commented on #16401
Hmmm... this does sound like a strange one!

You know, I have seen this happen to me, but I'm actually reporting this on behalf of a Forem Creator (probably should've included that context)... I didn't take this picture actually, just delivering the news.

The person who took it does have super admin privileges on their Forem though, so they could've be navigating from /admin and encountered this.

[2022-02-03 18:06] jeremyf commented on #16297
Oooh, if most are `{ results: { entries as json } }` then this will be a lot easier to proceed.

[2022-02-04 08:22] #13434 closed

[2022-02-04 08:38] aitchiss commented on #16297
All of the `/search/feed_content` calls come back in that format 👍  But you're right, elsewhere in the app we have a lot that just return `entries as json`. As long as we're only making these proposed changes to the `/search`, I think we're good.

[2022-02-04 13:54] dianavaneijk opened #16418 "RSS feed seems incorrect"
**Describe the bug**
I am using your RSS feed https://dev.to/feed/itnext in one of my applications. From december 2021 i started to get errors from my application that the RSS feed is incorrect.

**To Reproduce**

Open the RSS feed in a browser and it looks not quite the same as other feeds.

1. Open https://dev.to/feed/itnext in browser and compare to for instance this RSS feed https://itnext.io/

[2022-02-04 20:17] SGGregory opened #16424 "Newsletter Subscription Button on CodeNewbie.org is Broken"
**Describe the bug**

The button to subscribe to the CodeNewbie Newsletter on CodeNewbie.org renders a 404. For some reason, it appears that the MailChimp subscription form is broken or outdated there.

**To Reproduce**

- Visit [CodeNewbie.org](https://CodeNewbie.org)
- Scroll down to site footer, under `Connect` where you'll find a hyperlink that reads `Subscribe to our newsletter`
- Click the t

[2022-02-04 20:45] JennieOcken opened #16425 "API Builder use case 1: Send a notification to a specific Slack/Discorfd/Zapier/URL every time a post is published"

[2022-02-04 21:08] JennieOcken opened #16426 "Admin API use case 1: endpoint to create users"
As a Creator, I have a set of activities I need to do in Forem but the initiating system may be outside of Forem.  This requires a set of authenticated admin only APIs that would allow me to take these actions.  For use case 1 my most common need is to create a new user account when that user is created in another system.  I am using Forem as a part of my overall web presence/social strategy.  I w

[2022-02-07 01:19] izakfilmalter commented on #14835
Would it be possible for Admins of communities to change the default theme to Night?

[2022-02-07 03:04] citizen428 commented on #14835
@izakfilmalter Would you mind [starting a disscuion](https://github.com/forem/forem/discussions/new) for this in the "Feature Request" category so that our product team can stay on top of this request?

[2022-02-07 05:12] SpandanSehgal opened #16430 "I am not able to update reaction or receive notifications from dev.to"
Hello, I have an account on [dev.to](http://dev.to/) on which i write blog
but from some days I am not able to update reaction or receive notifications from your site and when I am uploading a reaction it says : Error updating reaction : your reaction could not be uploaded due to a server error
[Image ](https://gm1.ggpht.com/8E9kNFNm014dB_7I9BKGdmT0eKHkZCmQEWwwtzjrSjXLnyCDIAxYI_emkolsfUynvsJQ4aCBq

[2022-02-07 05:14] SpandyBoss commented on #16430
I claim this issue

[2022-02-07 05:15] SpandyBoss commented on #16430
@forem/oss

[2022-02-07 07:31] citizen428 commented on #16393
Closing this since feature requests are handled through discussions and you created one of those too: https://github.com/forem/forem/discussions/16240

[2022-02-07 07:31] #16393 closed

[2022-02-07 07:35] citizen428 commented on #16392
This seems to indicate that the form accidentally got submitted twice. The first request went through and created the comment, the second one then failed the uniqueness validation. I'm inclined to close this issue unless it happens frequently.

[2022-02-07 13:56] #16392 closed

[2022-02-07 14:06] andypiper opened #16436 "As a moderator on DEV, I am unable to add or remove tags from posts via Adjust Tags"
**Describe the bug**

As a moderator, I have access to moderation tools, including the ability to Adjust Tags.

When I click on Adjust Tags, a list of tags appears next to posts in the moderation panel.

The green (+) and red (-) icons are unresponsive. There is no visible error message in the browser console.

I've tried this in Chrome 98 with extensions disabled, and also in Safari, on macOS Mon

[2022-02-07 16:08] jeremyf opened #16440 "Unexpected token u in JSON at position 0"
**Describe the bug**

In our Cypress tests I noticed the following exception:

[code]

I tracked this down to [here](https://github.com/forem/forem/blob/75ae759465180498697773f338932bb2657f494d/app/javascript/utilities/getUserDataAndCsrfToken.js#L16-L24)

[code]

**To Reproduce**

I'm a bit uncertain, but suspect it's a case where the `data-:attribute`
element is including a non-escaped character&

[2022-02-07 16:11] nickytonline commented on #16440
I'm pretty sure we've discussed this before in the context of the site, but not tests. `Unexpected token u in JSON at position 0` is because the `data-user` attribute has a string value of `"undefined"`, not `undefined`. And this is related to the backend not hydrating the user data for some unknown reason at the moment.

[2022-02-07 16:21] #15578 closed

[2022-02-07 16:26] jeremyf commented on #16440
What do you mean "not hydrating" the user data?

[2022-02-07 18:03] nickytonline commented on #16440
Got too fancy there. The backend is not rendering the data attribute correctly in some scenarios. Sometimes the backed renders the word undefined instead of JSON.

[2022-02-07 18:54] msarit commented on #15562
Update: leaving this Tag as-is; it does not take URL as input; renders mathematical computations visually.

[2022-02-07 18:54] #15562 closed

[2022-02-07 18:55] msarit commented on #15571
Update:
Leaving this Tag as-is; does not take URL as input; renders interactive javascript playgrounds.

[2022-02-07 18:55] #15571 closed

[2022-02-07 19:06] msarit commented on #15568
Update:
The `parler` keyword returns `{"message": "Internal server error"}`
I think the Parler service is not active anymore

Unfortunately, posts using this keyword are experiencing the same, such as [HERE](https://dev.to/lkopacz/learn-about-dyslexia-for-the-web-with-me-1b9n).

[2022-02-07 19:06] #15568 closed

[2022-02-07 20:13] rpalo commented on #16418
I'd like to suggest some fixes to address the errors the feed validator raised.  I checked an author feed, but I could go through all the feed types just to make sure I don't miss anything.  For example here are the issues raised by the author feed:

1. `<channel>` tag doesn't have an `<author>` child in the spec.
2. `<author>` tags should be an email address and name combo in an [approved format]

[2022-02-07 21:38] #15557 closed

[2022-02-07 21:38] #15558 closed

[2022-02-08 03:18] amywtlin opened #16455 "Cover image resizing logic"
## Problem

It's very easy for authors to upload a cover image that will not look good, which isn't ideal. Let us tweak the image processing logic to make uploading a nice-looking cover image a little easier.

## Current behavior

We resize and crop the uploaded image to exactly fit our ratio of cover area. Therefore it's often blurry/pixelated.

## New behavior

1. When width of uploaded image is

[2022-02-08 06:55] citizen428 commented on #16418
@rpalo Thanks a lot, I'll assign you the issue!

[2022-02-08 12:30] #16440 closed

[2022-02-08 12:34] ellativity opened #16461 "Admin can't delete posts on Forem"
**Describe the bug**

Originally discovered on sandbox Forem but able to replicate on other Forems in the fleet.

If an Admin tries to delete a user's post (either by clicking **Delete** on the Manage page by appending `/manage` to the post URL or by clicking **Delete** on a Draft post in the User Dashboard), the `/delete_confirm` page 404s.

@michael-tharrington confirms that he's able to replica

[2022-02-08 14:30] Markkop opened #16465 "Invalid Github Liquid Tag for repositories with . character"
After https://github.com/forem/forem/pull/16422, embbeding github liquid tags with repositories that contain the dot character "." throws `base: Invalid GitHub issue, pull request or comment link` error

**To Reproduce**

1. Start a new blog post
2. Use one of the following github liquid tags:
`{% github https://github.com/discordjs/discord.js/issues/6798 %}`
`{% github https://github.com/ethers-i

[2022-02-08 14:33] Markkop commented on #16465
@msarit You might want to take a look on this. Nice PR you did previously, by the way!

[2022-02-08 15:03] djuber commented on #16461
The error (when using /manage to act on another user's article) is coming from [ArticlesController#delete_confirm](https://github.com/forem/forem/blob/main/app/controllers/articles_controller.rb#L152-L156), which is scoping to `@current_user.articles`.

I'm able to reproduce the first path locally.

If I manage one of my _own_ articles (and I see manage, edit, admin buttons on the article page) th

[2022-02-08 15:53] #14681 closed

[2022-02-08 19:11] jeremyf opened #16482 "Create a FeatureFlag for use case 1-1"
The proposed feature flag is: `FeatureFlag.enabled?(:limit_post_creation_to_admins)`

By default this would be off.  So we would not disrupt existing applications.

[2022-02-08 19:21] jeremyf opened #16483 "Adjust ArticlePolicy to incorporate conditional logic of FeatureFlag"
This builds on the work of #16482

[2022-02-08 19:22] jeremyf opened #16484 "Ensure article new/create end point is behind authz"
Ensure that the create/new actions are authorized by the ArticlesPolicy (see #16483 completed)

[2022-02-08 19:24] jeremyf commented on #16461
This loosely relates to #16483

[2022-02-08 20:23] jeremyf opened #16486 "Ensure "My posts" section is hidden for non-admin"
Hide the "My posts" section if the user does not have the right to create an article.

[2022-02-08 20:24] jeremyf opened #16487 "Disable RSS feed retrieval for non-admin user"
We should only fetch a user's RSS feed if they can post articles.

[2022-02-08 20:24] jeremyf opened #16488 "Ensure article v0 API create end point is behind authz"

[2022-02-08 20:32] jeremyf opened #16489 "Co-authors will have to be admins (handlings around it)"
This requires product to answer:

- Should an administrator be able to assign co-authors to an article?
- Should a co-author have rights to edit the article?  If yes, how does this interplay with showing a user's dashboard?

At present, it appears that administrators are the ones who can assign co-authors.

[2022-02-08 20:37] jeremyf opened #16490 "Conditional rendering "create post" button for admins only"
There are two primary "links" to hide:

"Create Post" on the navigation bar.
"Create Post" in the sandwich menu bar.

Note:

I want these conditionals not to be `if user.admin? == true` but instead along the lines of `if authorized?(user, :create, Article)`.  The constraints of what we have in JS might limit this.  I'm envisioning an authorization triple for users (action, class, id or :all).

[2022-02-08 20:44] jeremyf commented on #16489
As I look at the Authorization System, I wanted to consider this odd edge case that we have.  There’s a field for assigning co authors.  It appears that this “feature” is something only admins can apply.  Also, it’s not frequently done.  So we need an answer regarding this rarely used feature:

In DEV this is rarely used:

[code]

[code]

[2022-02-08 21:09] jeremyf commented on #16489
[code]

61

[2022-02-09 00:08] dscottS3 opened #16494 "To decide: when are we sending the auth-z once a user signs in?"
once roles and permissions are built out a bit more we need to either send the claims as part of authentication for identity resolution or have a specific followup endpoint to retrieve the logged in user's roles/permissions.

there are pros and cons to each:

the pros for sending them back as part of auth via JWT (or something similar) is the client side will already have access to them via the se

[2022-02-09 00:32] dscottS3 opened #16495 "Admin side related API endpoints"
some things to think through but doesn't necessarily affect the data model would be:
- can permissions be added directly to a user?
- if so what takes precedence? a user's permission or role?
- how do we handle self-inflicted permission issues where an admin creates a user group and puts themselves in it and can no longer post for example. this would assume some permissions are more elevated than

[2022-02-09 13:51] Ridhwana commented on #16180
@JennieOcken you'll be receiving 2-3 demo videos, one for each of my PR.

This one is to add a contact email, and I made some user experience changes, let me know what you think:

https://www.loom.com/share/e1615e5442d5422382edb5db603ead43

[2022-02-09 14:08] Ridhwana commented on #16180
Another video to show the user experience changes to the SMTP Section:
https://www.loom.com/share/472c958d890140dfa13400ee3f054a10

In the last video I'll add and do a quick demo of the reply_to and contact from email address.

[2022-02-09 16:28] benhalpern opened #16500 "Robots.txt should disallow endpoints which are useless to the bots"
Google instructs people to disallow the crawling of pages which are not of value for crawling in order to maintain a healthy crawl budget.

https://developers.google.com/search/docs/advanced/crawling/large-site-managing-crawl-budget

If we see endpoints being crawled that do not provide value, we should add them to `robots.txt` if we are confident that we can safely block them.

[2022-02-09 16:28] #16461 closed

[2022-02-09 17:14] juliannatetreault opened #16502 "Remove code by Rhymes"

[2022-02-09 17:20] juliannatetreault opened #16503 "Add a Full Test Suite for the Admin Member Detail View"
With the work that has been done to improve the Admin Member Detail View, it is crucial that we have tests in place to fully test the feature.

🐣 TASKS

- [x] Add a full E2E test suite to test the Admin Member Detail View

[2022-02-09 17:25] juliannatetreault opened #16504 "Ensure that the Admin Member Detail View is Accessible"
**📖  As an Admin, I want my experience to be as accessible as possible, so that I feel motivated to use the Admin Member Detail View.**

_(Format:  As a [persona], I [want to], [so that])_

🐣 TASKS

- [ ] Address accessibility concerns in the Admin Member Detail View

[2022-02-09 17:31] juliannatetreault opened #16505 "Implement Tabs for the Admin Member Detail View"
**📖  As an Admin, I want my experience with the UI/UX to be as pleasing as possible, so that I feel motivated to use the Admin Member Detail View.**

_(Format:  As a [persona], I [want to], [so that])_

🐣 TASKS

- [x] Add an "Overview" tab
- [x] Add an "Emails" tab
- [x] Add a "Notes" tab
- [x] Add a "Reports" tab
- [x] Add a "Flags" tab

[2022-02-09 17:34] juliannatetreault opened #16506 "Add Internationalization to the Admin Member Detail View (/admin/member_manager/users/<:id>)"
The updated `/admin/member_manager/users/<:id>` needs to be updated to use i18n. We can introduce locale files for this admin section and add the necessary translations for all the tabs and modals on this page.

[2022-02-09 17:35] JennieOcken commented on #16180
This is exactly what I was hoping for.  I appreciate combining the `emails` and `email digest` sections.  Good call.

Beautiful!

[2022-02-09 17:36] juliannatetreault opened #16507 "Implement Copy Changes for the Admin Member Detail View"
**📖  As an Admin, I want my experience to be as pleasing as possible, so that I feel motivated to use the Admin Member Detail View.**

_(Format:  As a [persona], I [want to], [so that])_

🐣 TASKS

- [x] Address any copy changes for the "Overview" section of Admin Member Detail View
- [x] Address any copy changes for modals within the "Overview" section of the Admin Member Detail View
- [x] Address

[2022-02-09 17:55] aitchiss opened #16508 "Pinned post inconsistently handled across logged in/out feeds"
**Describe the bug**

When you view any feed timeframes (other than the "Relevant" tab):

- If you're logged out, the pinned post remains visible at the top as "pinned", when we expect it not to be.
- If you're logged in, the pinned post isn't visible as "pinned" but it's also just completely gone from the feed, when we'd expect to fall in it's natural order

**To Reproduce**

The easiest way to r

[2022-02-09 18:16] redbar0n opened #16510 "WayBack Machine errors with 403 Forbidden"
**Describe the bug**

Unable to archive with WayBack Machine, as it fails to save a dev.to page. It gives errors with HTTP error code:

403 - `The client does not have access rights to https://dev.to/redbar0n/features-of-a-dream-programming-language-cio (HTTP status=403).`

Sometimes this error comes (but I assume that may be a problem on their end):

0 - `Unknown error for chrome-error://chromewe

[2022-02-09 18:29] djuber commented on #16510
Hi @redbar0n - I'll take a look at this - the usual cause for a 403 would be a missing (or blocked) user agent header sent from the client.

IA has a rate limit on page capture requests (I saw an error that the page had been saved 10 times in the past 24 hours when checking the suggested page).

However, I do see captures of dev.to from as late as yesterday https://web.archive.org/web/202202081741

[2022-02-09 19:01] djuber commented on #16510
I'm seeing the failure you described myself, when I try to save a different page

    Unknown error for chrome-error://chromewebdata/ (HTTP status=0).

I'm trying to test what could cause that (and whether this might be a temporary issue with IA rather than forem).

[2022-02-09 19:04] nickytonline commented on #16503
I have a branch with a good chunk of E2E tests. I'll Create a PR and tag this issue.

[2022-02-09 20:09] jeremyf opened #16516 "On the /settings/customization page hide the "Writing" section when user can't create a post"

[2022-02-09 20:39] djuber commented on #16510
https://web.archive.org/web/*/https://dev.to/redbar0n/ additionally I can see there's a yellow (4xx status) link shown today - and https://web.archive.org/web/20220209184134/https://dev.to/redbar0n/ is a blank page.

I tested on a server I control, and from the access logs I think this could be caused by the changes we made in December - we were seeing Chrome 74 abnormally often as a user agent fo

[2022-02-09 23:35] #15565 closed

[2022-02-09 23:35] #15569 closed

[2022-02-09 23:35] #15580 closed

[2022-02-09 23:35] #15583 closed

[2022-02-10 10:03] bernd-wechner commented on #13859
That's odd. I landed here on the tail end of an issue I filed with Language Tool (thinking I'd have to report this, but here it is already reported) and here is their reply:

So I checked. Went to dev.to and on the front page clicked Comment, and a text box opens, and yep, Language Tool not there in that textbox.

So I inspect the element in the browser and I see:

[code]

Note: it contains in tha

[2022-02-10 10:42] aitchiss commented on #13859
Sorry if my original comment wasn't clear - what I meant was that we're _not_ explicitly setting spellcheck to "false" in our code (I've tried searching the whole repo for any mention of spellcheck 😅

I've also observed mixed results with when it appears - sometimes `spellcheck="false"` gets added to the comment area, and sometimes it doesn't - e.g. maybe 1 in 4 times when I enter a comment area I

[2022-02-10 11:06] bernd-wechner commented on #13859
Thanks for clarifying. That does sound mysterious. If this code base makes no mention, then almost perforce it implicates a dependency. But I won't jump the gun ad try to diagnose something  you're already trying to, without at least some investigative work ;-).

[2022-02-10 11:11] aitchiss commented on #13859
For sure! The Reach UI combobox was my first suspicion (we use it to power the mention autocomplete in the text area), but I searched their code (very briefly) for `spellcheck` too and couldn't see it 🙃  Definitely time for some proper detective work...

Thanks for drawing our attention to this again though 🌟

[2022-02-10 11:29] Defman21 commented on #13859
![image](https://user-images.githubusercontent.com/7100645/153398742-77022493-1436-41c0-ab6d-0f03f6f87eea.png)

Looks like LanguageTool is the one who sets `spellcheck=false` for the textarea. Using Firefox, I've set to break on attribute changes, then clicked on the textarea to focus it.

[2022-02-10 11:39] Defman21 commented on #13859
Though, without the extension there's still this attribute called `data-gramm_editor` which is set to `false`. LT might observe this attribute as a fallback to check if it should disable itself for some sites that use it to disable Grammarly ([because some people want it to be disabled](https://stackoverflow.com/questions/37444906/how-to-stop-extensions-add-ons-like-grammarly-on-contenteditable-ed

[2022-02-10 11:56] bernd-wechner commented on #13859
Where is that screenshot from? The source file? If it's identifiable and belongs to LanguageTool, letting them know here:
https://github.com/languagetool-org/languagetool/issues/6314
will help.

[2022-02-10 12:10] bernd-wechner commented on #13859
Oh, and far as I can tell LT is open source:

https://github.com/languagetool-org/languagetool

Grammarly I'm not so sure of.

[2022-02-10 12:37] nickytonline commented on #13859
`data-gramm_editor` is a custom attribute we added that disables Grammarly because the Grammarly extension updated at some point last year and stopped working. The Grammarly team was looking into this. See #13814.

[2022-02-10 12:48] Defman21 commented on #13859
@bernd-wechner the web extension is closed-source as far as I know.

[2022-02-10 13:18] jeremyf commented on #16482
Closed by https://github.com/forem/forem/pull/16518

[2022-02-10 13:18] #16482 closed

[2022-02-10 13:25] Ridhwana opened #16521 "Whitespaces in links"

[2022-02-10 13:56] Jenietoc commented on #16486
Hi @jeremyf I am new and would like to collaborate on this issue could you assign me? also can you send me a video of exactly which option is the one you want to hide. thank you very much.

[2022-02-10 13:59] Ridhwana opened #16522 "Add the ability to add and remove moderated tags on the Admin Member Detailed View"
📖 As an Admin, I want to be able to add and remove moderated tags for a user, so that I don't have to leave my current view and go to a separate page.

🐣 TASKS

- [ ]  Add the ability to add moderated tags directly from the Admin Member View
- [ ] Add the ability to remove moderated tags directly from the Admin View

**Note this is an enhancement that will not hold back the deploy and release.**

[2022-02-10 14:46] nickytonline opened #16525 "Add a flash message for credits being added or removed in new member details view"
Currently, when credits are updated, there is no feedback to an admin. Updating credits should provide feedback in the form of our standard flash messages like other features in the admin section use.

[2022-02-10 16:45] jeremyf commented on #16483
@amywtlin now comes the big question:  When we say "admin" which all admins do we mean?

In DEV we have the following named roles:

| Name | Recommendation |
|-|-|
| admin | Yes |
| codeland_admin | No? |
| mod_relations_admin | No? |
| podcast_admin | No! |
| single_resource_admin | Hard No! |
| super_admin | Yes |
| support_admin | No? |
| tech_admin | No? |

Optionally, we could configure a set

[2022-02-10 17:05] jeremyf opened #16529 "Address ArticlesController#new's conditional authorize"
At present (current main branch as of <2022-02-10 Thu>), we have the following code:

https://github.com/forem/forem/blob/87e1622e6b85132b948367f16262932ff912bc9b/app/controllers/articles_controller.rb#L47-L52

That code allows for something outside the Policy ecosystem to say whether or not to perform an authorize check.  We have the Articles::Builder class that determines whether or not to perfo

[2022-02-10 19:59] benhalpern opened #16535 "Slight CLS on Gif play-pause button loading"
**Describe the bug**

There is a slight jump in the content on gifs now that we have the play/pause functionality load in. This results in "cumulative layout shift" — not great for users or search engines.

https://user-images.githubusercontent.com/3102842/153486695-343fe4c2-9bbe-4969-8df9-dd958230f72c.mov

**To Reproduce**

Visit a page with a gif, observe that content _jumps_ a bit.

I.e. https:

[2022-02-11 02:24] amywtlin commented on #16489
Based on our understanding of co-authors:
1. As co-authors are just metadata of a post, I don't think we need to handle this explicitly. Namely, I don't think we have to prevent admins to assign a non-admin as a co-author, as co-authors won't be able to change anything to the post anyway. Worst case scenario, it's probably slightly confusing to have a general user shown as a co-author, but nothing

[2022-02-11 02:34] amywtlin commented on #16483
I am glad you asked. Here's what I think (and it's up for debate, as always):

1. Super admins should be the ones who can turn on/off the comment-mode. The rationale being, It's a config affecting the whole site, and the current authorization rule is that only super admins can touch such configurations under `/config` (see more in [admin roles](https://docs.google.com/document/d/1_MUj3IsbK1g5Cf2Ny

[2022-02-11 04:29] anujbhavsar96 commented on #16489
Totally agree with this. And I just tried that, being a co-author doesn't change anything in the dashboard _(you don't own the post, so no statistics)_. So this won't harm anything for our announcement-only use case.

[2022-02-11 06:38] Defman21 commented on #13859
So here's the response from the LT issue linked above:

Should I close this issue or let it stay open just so other people could find it?

[2022-02-11 06:46] vishaldeepak commented on #16133
@jeremyf can I start given the above?

[2022-02-11 07:22] InHuOfficial opened #16537 "Issue with suspended users' comment and reaction policy"
**Describe the bug**
If a user is banned from posting articles it means that:
- they cannot post (correct)
- cannot edit articles (correct)
- cannot add reactions (seems incorrect)
- can edit an old comment (seems incorrect)
- cannot follow people (seems incorrect)

**To Reproduce**

1. Apply a ban to a user.
2. Try and edit a comment for that user, it will save correctly, allowing a banned user t

[2022-02-11 11:31] Ridhwana commented on #16180
Final Video for reply to and from email addresses: https://www.loom.com/share/cdb278917765402189e38f908bb03608

[2022-02-11 12:01] #13859 closed

[2022-02-11 12:07] aitchiss commented on #16535
Relates to https://github.com/forem/forem/pull/16314

[2022-02-11 12:09] aitchiss opened #16539 "Remove detect_animated_images feature flag"
This has been stable in DEV for a while now, and it's also enabled successfully in other Forems like forem.team and VSCodeTips. Removing the feature flag will allow all Forems to receive the play/pause gif functionality introduced in https://github.com/forem/forem/pull/16314

~~NB: We should fix https://github.com/forem/forem/issues/16535 before doing this~~ (fixed)

[2022-02-11 12:14] aitchiss opened #16540 "Update tag autocomplete to use bulk tag GET"
In the editor, when you open up a draft or previously published post, each individual tag is fetched so that we can check and display its background color etc. https://github.com/forem/forem/pull/16417 introduced a bulk GET endpoint for tags, which we can now implement in this area.

**Definition of done:**

When you edit a post with multiple tags, only _one_ fetch call is made to grab the needed

[2022-02-11 13:14] #16525 closed

[2022-02-11 13:55] jeremyf commented on #16133
Go for it! I'll assign this to you and me both, so we have a core member tracking this.  Please ping me if you get stuck or need help with something.  Your approach looks good.

[2022-02-11 14:00] leewynne opened #16542 "Confirm your email address during signup seems broken"
**Describe the bug**

When choosing to create an account using email, the 'confirm your address' doesn't go out stopped successful sign-up. Can't reproduce this on Dev as sign up with email isn't available

**To Reproduce**

Goto flowstate.to or metapunk.to and attempt to sign up with email.

**Expected behavior**

Email appears shortly after signup which can be used for confirmation.

**Additiona

[2022-02-11 14:16] #16535 closed

[2022-02-11 15:58] juliannatetreault commented on #16503
Closed via PR #16513

[2022-02-11 15:58] #16503 closed

[2022-02-11 17:25] joshpuetz opened #16545 "Add a flag to /admin to “share analytical information with DEV”"

[2022-02-11 20:35] joshpuetz opened #16547 "Change /api/instance respect analytical flag"
Depends on https://github.com/forem/forem/issues/16545

Change the `api/instance` endpoint in Forem to respect the 'report analytics` flag added in https://github.com/forem/forem/issues/16545.

For Forems that are

- 'public' (`forem_instance.public = true`), or
- 'private' (`forem_instance.public = false`)  and have their 'report analytics' flag set to true

return:

- Forem name
- number of comm

[2022-02-11 20:58] #16547 closed

[2022-02-12 23:23] danicuki opened #16552 "Google Analytics is not tracking anything on my forem server"
**Describe the bug**
I setup my forem server to user track users with Google Analytics, but when I go to the GA website, nothing is being tracked.

This is my Google Analytics Tracking ID:

G-1GGLWVRFPS

**To Reproduce**

Just configured the Google Analytics Tracking ID on the admin page (`admin/customization/config`) and click save.

**Expected behavior**

Have all the user access and behavior tr

[2022-02-14 01:46] athifbinu commented on #16542
yes it is correct add in a signup page and email system

[2022-02-14 08:51] ludwiczakpawel commented on #16455
The logic outlined in the description seems correct.

There's one caveat that we haven't really discussed which is IMO pretty important and we need to figure it out (likely in backend). [Cumulative Layout Shift](https://web.dev/cls/) - it's when you load the page and some elements show up with a bit delay (for example because it takes longer to load an image, like a cover photo) - in that case the

[2022-02-14 10:33] ellativity commented on #16046
It's not [occasional use](https://github.com/forem/forem/issues/16542), which is why it's now an issue that should have a product fix rather than rely on sidekiq panel.

[2022-02-14 16:27] andypiper commented on #16436
This was user error. It does in fact work, but it is very unintuitive (in my opinion). I needed to select the tag to remove, then enter reason text, and submit. In dark theme, the selection bar is incredibly difficult to see when the tag is selected. I will find a way to raise a feature request or accessibility issue here, instead.

[2022-02-14 16:27] #16436 closed

[2022-02-14 16:31] nickytonline commented on #16522
@Ridhwana @anujbhavsar96, @ludwiczakpawel, do we have any design for this?

[2022-02-14 16:33] nickytonline opened #16556 "Add a proper range for when removing credits (1 to number of credits currently owned by user)"
Currently when removing credits, you can remove more credits than the user has *UI only). On the backend it handles this by setting it to zero.

When toggling between adding and removing credits, the range should adjust.

[2022-02-14 16:39] #16529 closed

[2022-02-14 17:32] fdocr commented on #16552
Thanks for the report @danicuki

From a quick look at the code it seems like the [Tracking ID is rendered](https://github.com/forem/forem/blob/main/app/views/layouts/application.html.erb#L56) within a [cache directive](https://github.com/forem/forem/blob/main/app/views/layouts/application.html.erb#L47). The cache key uses `user_signed_in?` so my first thought would be to suggest you to sign out an

[2022-02-14 17:50] thomasbnt opened #16559 "Wrong older Tags pages"
**Describe the bug**
When you go to **the last page of a tag**, you **see new posts and old ones from 2020**. Seems a loop.

**To Reproduce**

1. Go to https://dev.to/t/webdev/page/732 (verify if 732 is the last page)
2. You see some posts from now and from 2020.

![image](https://user-images.githubusercontent.com/14293805/153918576-b2011fee-7a58-4273-b100-5ecb8c6c55f6.png)

**Expected behavior**

[2022-02-14 18:08] djuber commented on #16559
Hi @thomasbnt - I can recreate this using the steps you included. Looking a little further into what's happening - it looks like the generated html page is including posts from December 13th, 2021 (I assume this is page 732's content), but then also loads page 0 and later for the feed content. As I scroll down, the position of the initial request is not kept, but starts from 0

Before scrolling do

[2022-02-14 18:24] thomasbnt commented on #16559
Woah thanks for your explanation and clarification @djuber !

[2022-02-15 01:36] #16162 closed

[2022-02-15 02:30] #16426 closed

[2022-02-15 02:39] danicuki commented on #16552
Hi @fdocr, thanks for asking.
Yes, I re-deployed the app, making sure I was using the right GA id in both config and env variables.
About cache, it is not the case, because I don't see any analytics report, even from unlogged users. I suppose that analytics should work for any website traffic, right? I don't get any report at all. The analytics reports are completely empty, and I know we have some

[2022-02-15 02:47] danicuki commented on #16552
I just tested it again and it is working. I noticed that my tests accesses using Brave Browser were not being tracked at all. When I changed to Chrome, the realtime analytics started to show off. In the end, I think what made everything work was to setup the ENV variable correctly. The admin config does not override the ENV, so this should be warned somehow. I will close the issue, but I suggest c

[2022-02-15 02:47] #16552 closed

[2022-02-15 09:07] ludwiczakpawel commented on #16522
@nickytonline https://www.figma.com/file/3Kk1jMQzEAyDZeZLIYcorL/User-Detail-View?node-id=415%3A12198

Two approaches - choose whichever you like, or whichever is fast, or flip a coin.

**One.**
Modal with one text field for a tag name (slug).

**Two.**
You click "Add tag" button and it will show the same form inline, right below.

**Stretch goal**
Autocomplete for that text field - it's **not** a

[2022-02-15 09:14] #12146 closed

[2022-02-15 12:18] #16556 closed

[2022-02-15 12:24] asheren opened #16583 "test issue"
this is a test

[2022-02-15 12:26] #16583 closed

[2022-02-15 13:13] jeremyf commented on #16465
Closed via #16551

[2022-02-15 13:13] #16465 closed

[2022-02-15 15:58] Ridhwana commented on #16542
Hi @leewynne thank you for bringing this to our attention, I have a couple of questions that will help us debug this:

1. I'm curious to know if **all** emails are not going through, or is this scoped to only confirmation emails?
2. This will probably be answered based on your response to the above, but do you have your SMTP section in /config configured correctly?
3.Was it working at some point a

[2022-02-15 23:15] Yankeeland opened #16605 "Could not post to the welcome forem...error when posting"
**Describe the bug**

HI all, I was trying to post to the welcome forum the following message, but received an error(see screenshot attached) and could not create the post.
**To Reproduce**

https://community.codenewbie.org/welcome

"Add to discussion"
entered my message
clicked on "submit"

Error posting comment

Your comment could not be posted due to an error: Body markdown has already been tak

[2022-02-15 23:23] djuber commented on #16605
Hi @Yankeeland - that error is triggered by a duplicate submission guard (to prevent accidentally sending the same comment twice we don't permit the same content in two comments from the same user on the same article).

When I look at https://community.codenewbie.org/yankeeland I see 4 comments added to that thread - some look like general introductions and one looks like a reply, is it possible y

[2022-02-16 09:36] amywtlin commented on #16455
That's a good point. Basically you are saying that, we need to know the height of an image before it is rendered, and reserve corresponding space so the content won't be jumpy when the image finishes loading. Is that correct?

[2022-02-16 09:57] ludwiczakpawel commented on #16455
@amywtlin yes.

[2022-02-16 10:08] aitchiss commented on #16504
All issues addressed - tested with keyboard-only navigation, zoomed text, and VoiceOver on Safari 🚀

[2022-02-16 10:08] #16504 closed

[2022-02-16 14:05] Kate38429475 opened #16609 "Blocking @shakuroinc account on the platform DevTo"
Hello,

For 2 years we have been publishing our articles on DevTo's website with the account @shakuroinc.
Most recently, we noticed that our account was blocked; it does not display any of our works anymore, as well as the information about the company. Letters in the mail about the reason for the absence of an account and the removal of our works were not found.
We attach a screenshot below, whic

[2022-02-16 16:02] fdocr commented on #16609
Hello @Kate38429475, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2022-02-16 16:02] #16609 closed

[2022-02-16 17:16] aitchiss commented on #15144
I'm going to go ahead and close this one, as I can't reproduce with the same markdown as in the original post where we noticed it (and I'm hopeful this means it's fixed).

If anyone spots it again we can open it back up! Thanks for your help investigating this one @Link2Twenty ❤️

[2022-02-16 17:16] #15144 closed

[2022-02-16 18:16] juliannatetreault opened #16613 "Remove Duplicate "Verify Email Address" Button from Admin Member Detail View"
**📖  As an Admin, I want my experience with the UI/UX to be as pleasing as possible, so that I feel motivated to use the Admin Member Detail View.**

_(Format:  As a [persona], I [want to], [so that])_

🐣 TASKS

- [ ] Remove the duplicate "Verify email address" button from the kebab menu in the top, righthand corner of the Admin Member Detail view

_**Note**_: Please see [this](https://forem-team.

[2022-02-16 18:46] leewynne commented on #16542
I shall report back!

[2022-02-16 18:54] leewynne commented on #16542
Hey @Ridhwana 🤩

No emails are coming through (just tested with a comment on one of my posts).

All my smtp details are configured, these haven't changed for months (is there a way to easily test this?)

Emails stopped working over the past month or so (no changes to smtp)

I tried to replicate this on Dev but the sign up with email option isn't available. At the moment I am experiencing it on all

[2022-02-17 08:33] amywtlin opened #16617 "Move basic roles out of "roles""
# Background

Historically we have a lot of "roles" we can assign to a user:

While "special roles" make sense, as in, when given, the user is granted more access to pages/features they didn't have, "basic roles" are not really roles. Instead, they are temporary, reversible changes of user status, usually disciplinary ones, meaning that they remove some power from the user. Hence they should be si

[2022-02-17 08:55] amywtlin commented on #16455
Thanks! I just added it to the issue so we make sure we handle it when we start working on the issue. I am not too concerned about the technicality of it, as I am sure engineers will figure out a good way to handle it 😊

[2022-02-17 12:46] #15575 closed

[2022-02-17 12:49] msarit commented on #15099
I'm closing this issue as the work for thies iteration of streamlining rich-content embeds has been completed. 🎉

[2022-02-17 12:49] #15099 closed

[2022-02-17 14:19] ludwiczakpawel commented on #15099
What about [Generic Embeds](https://docs.google.com/document/d/1bGY_SLIo93y0BG9jFQrgRBJoBIpN0VddT8A7P3ywdh0/edit#heading=h.aj957he6ozey)? It's been part of this issue and I don't want it to be forgotten.

[2022-02-17 15:18] djuber opened #16624 "Invalid front matter causes 500 server error"
**Describe the bug**

When I have the Basic Markdown editor (editor v1)
When creating a new post with this content  (rather than hash keys, a plain string, in the frontmatter)

[code]

When I preview the post, I get a 500 server error (and no indication why).

**To Reproduce**
visit /settings/customization and confirm Basic Markdown Editor Version is selected
click Create Post
Erase the frontmatte

[2022-02-17 15:28] fdocr commented on #16537
Thank you @InHuOfficial for bringing this up. Taking a look at these every now and then is a good thing to do IMO.

We heard back from community and product folks on the team and the consensus is that we agree with you that `suspended` users should be able to follow other users and add reactions, and they also shouldn't be allowed to edit existing comments.

Right now these are managed by policies

[2022-02-17 15:30] #16539 closed

[2022-02-17 16:52] athifbinu commented on #16542
What is The problem is dint understant

On Thu, Feb 17, 2022 at 8:19 PM Joe Doss ***@***.***> wrote:

[2022-02-17 18:42] jdoss commented on #16542
Does sending mail through that SMTP account manually still work with a different client?

[2022-02-17 18:50] djuber opened #16631 "profile field attribute names should be unique and non-empty"

[2022-02-17 23:48] andypiper opened #16639 "Missing embed keyword results in error"
**Describe the bug**

I'm trying the new embed content blocks for the first time.

When I forget to add the keyword "embed" ahead of the URL, I'm still able to submit and publish the post, but the post shows up with the message:

[code]

This is fair - I got it wrong, I should have typed `{% embed <url> ... %}` - but the error message is confusing, and the post is broken. It would be nicer to have

[2022-02-18 03:52] jeremyf commented on #16133
@vishaldeepak checking in on where you're at with this.

[2022-02-18 09:44] leewynne commented on #16542
Hi again. All working again now since I reconfigured with sendgrid. I'll close this issue now, thanks for all the responses.

[2022-02-18 09:45] #16542 closed

[2022-02-18 09:48] vishaldeepak commented on #16133
@jeremyf Was  too busy. A need a litte more time. Maybe il have a PR in a weeks time.

[2022-02-18 12:47] aitchiss commented on #16540
I've re-opened this as we had to revert https://github.com/forem/forem/pull/16610 - the `/tags` endpoint was returning some unrelated tags in production on DEV. I haven't been able to reproduce this locally yet, but a little rework is required. See slack conversation where bug was reported: https://forem-team.slack.com/archives/C7GE84DEJ/p1645151889815759

[2022-02-18 14:35] youngnishant opened #16643 "GIF Button of picture in blog has higher z-index than navbar"
**Describe the bug**

**To Reproduce**

Go to any blog having gif image
There is a gif label or button on that.
Try to scroll
And find it hover above navbar

**Expected behavior**

It should have less zindex

**Screenshots**

![Screenshot_20220218-194400](https://user-images.githubusercontent.com/47674286/154702513-8ca01160-ee65-45de-8b99-0e86b942dbe2.png)
![Screenshot_20220218-194415](https://use

[2022-02-18 14:51] Ridhwana commented on #16542
Thanks Lee, I'm glad that its solved.

[2022-02-18 17:47] #16505 closed

[2022-02-20 21:31] CalinZBaenen commented on #7175
@mahalde, awww.... Did I miss the party that happened here...? \:p

[2022-02-20 22:53] metamoni commented on #16521
Hello 👋

I'm not sure this is a backend issue, it looks like `erb` just adds spaces around text that's not wrapped in an HTML element. If you wrap the text in a `span`, the extra whitespaces disappear.

<img width="1093" alt="Screenshot 2022-02-20 at 22 50 09" src="https://user-images.githubusercontent.com/22390758/154867953-c23349c2-d7bf-4a37-bf3f-ab8492efdcd3.png">

[2022-02-20 23:02] metamoni commented on #16401
Could it be that, sometimes, this component loads before the translations are fully loaded? 🤔

[2022-02-21 04:06] citizen428 commented on #16643
For anyone trying to reproduce this, here's the link to the post mentioned in the report: https://dev.to/this-is-learning/resumable-javascript-with-qwik-2i29

@youngnishant Could you please provide some details on your browser, OS, and their versions? I could not repro this on Chrome/macOS.

[2022-02-21 04:32] citizen428 commented on #16624
This problem seems to (partially) originate in `Article#has_frontmatter?`:

[code]

BTW, when trying to post instead of previewing you'll see different errors:

![Screen Shot 2022-02-21 at 11 29 45](https://user-images.githubusercontent.com/47985/154889371-f550052e-fc95-4a1e-84ac-385bb102bb2d.png)

[2022-02-21 04:38] youngnishant commented on #16643
@citizen428
Phone: Moto g5 plus
Browser: Chrome, brave browser
Android: 8.1.0

[2022-02-21 04:42] youngnishant commented on #16643
@citizen428 got the same issue with my ubuntu distro, screen shot attached
tested in brave and chrome

![Screenshot from 2022-02-21 10-10-30](https://user-images.githubusercontent.com/47674286/154890466-8126a1a2-e624-4977-8d8d-99d56ea3af83.png)

![Screenshot from 2022-02-21 10-10-10](https://user-images.githubusercontent.com/47674286/154890461-e21de632-0d6f-446a-9991-3ba1e622c52d.png)

[2022-02-21 04:46] anujbhavsar96 opened #16648 "Indicator for irreversible actions - User profiles"
Based on @amywtlin's new copy structure. We will mention that some actions are irreversible, including merging accounts, removing users, etc. For which we should use some visual indicators.

<img width="403" alt="image" src="https://user-images.githubusercontent.com/84626054/154890843-513e8c8f-4707-44d3-b855-327d28eafed2.png">

[2022-02-21 04:57] citizen428 commented on #16643
Thanks @youngnishant!

[2022-02-21 05:03] youngnishant commented on #16643
@citizen428 get some good sleep 😁

[2022-02-21 12:53] ludwiczakpawel commented on #15438
This should no longer be an issue. I believe it was "accidentally" fixed :).

[2022-02-21 12:58] ludwiczakpawel commented on #14971
Re-assigning as it seems to be inactive.

[2022-02-21 15:08] #16537 closed

[2022-02-21 15:09] #16483 closed

[2022-02-21 15:54] #16484 closed

[2022-02-21 16:05] benhalpern opened #16652 "Hardcoded "Stories" header on campaign is not clear or useful."
We currently have "campaigns" where we can feature the posts from a tag, with an image and some other configuration.

<img width="414" alt="Screen Shot 2022-02-21 at 11 04 18 AM" src="https://user-images.githubusercontent.com/3102842/154990516-80cfe1ef-c816-404f-9ef4-dbfdab3fd4c8.png">

These campaigns have implicit names, but we do not allow the admin to set the name. We have received feedback th

[2022-02-22 00:11] sierisimo opened #16664 "Getting 422 while post is being created"
**Describe the bug**

While trying to create a single client for the forem API using dev.to as the site I'll be doing my calls, all the calls to `POST http://dev.to/api/articles` return a **422** even when a draft of article is actually created (draft is not created for curl example in the docs).

**To Reproduce**

You can do the POST call or... use the `curl` example in the docs: https://develope

[2022-02-22 01:16] benhalpern commented on #16316
Fixed

[2022-02-22 01:16] #16316 closed

[2022-02-22 04:04] sierisimo commented on #16664
Closing it as it appears to be fixed for some reason.

[2022-02-22 04:04] #16664 closed

[2022-02-22 14:09] msarit commented on #14875
@jeremyf Should I close this issue? It's gone stale, in light of the current Feed experiments. 😅

[2022-02-22 14:16] jeremyf commented on #14875
Let's check with @amywtlin and how product wants to handle this.

[2022-02-22 14:26] #15438 closed

[2022-02-22 14:52] #14783 closed

[2022-02-22 15:01] #16652 closed

[2022-02-22 18:53] juliannatetreault commented on #15707
Hey @ellativity and @Ridhwana 👋 I'm going to go ahead and close this issue since the official launch of the Admin Member Detail View (launching in the very near future!!) should resolve these inconsistent landing pages. If need be, we can always reopen the issue. 😊

[2022-02-22 18:53] #15707 closed

[2022-02-22 19:06] juliannatetreault commented on #15991
Closed via PR #16291]

[2022-02-22 19:06] #15991 closed

[2022-02-22 19:44] dscottS3 opened #16669 "Create an oEmbed service to consume it's API"
Create a service/library that utilizes [oEmbed's API](https://oembed.com/#section2).

things to consider:

- do we cache the oEmbed response for a resource?
- should we have more validation in place to validate urls?
- do we maintain a list of trusted providers? if so, how/where?

[2022-02-22 21:28] justin-schroeder commented on #15099
This is a great upgrade! Thanks for everyone’s hard work (especially @msarit). I'm not super familiar with the forem -> dev.to  pipeline, but I'm pretty sure dev.to articles dont support this _yet_ even though the docs indicate they do. Is that possible? I'm getting errors over there trying to do things like this:

[code]
🙏

[2022-02-22 23:08] yheuhtozr commented on #14888
Is there any update for this?

[2022-02-23 05:40] amywtlin commented on #14875
Thanks for the heads-up - moved it back to `to do` to be queued back up.

[2022-02-23 08:00] ludwiczakpawel commented on #15099
@justin-schroeder hmm, interesting - that very URL does work for me on dev.to... Could you try to clear your cache and if it's still broken --> [report an issue](https://github.com/forem/forem/issues/new?assignees=&labels=&template=bug_report.md)?

[2022-02-23 13:57] Jenietoc commented on #15980
hello how are you, does this error still occur, does it only occur on Android?

[2022-02-23 14:09] zachjonesnoel commented on #15980
Hi @Jenietoc,
I'm good. How you doing?

Yes, this is still the same on Android app.

[2022-02-23 14:13] Jenietoc commented on #15980
I'm fine, I will try to work on it.

[2022-02-23 14:44] andypiper opened #16673 "Add more compact GitHub embeds (hide README) per old-style Liquid tags"
**Describe the bug**

The original Liquid embeds enabled two styles of GitHub link embedding for repositories: with the README, or without (via the `noreadme` option). With the new style of Rich Content Embed, you can only provide the GitHub URL --> embed including the README content.

**To Reproduce**

1. Create a new post
2. Add a `{% embed [github repo url] noreadme %}` tag
3. Publish

**Expect

[2022-02-23 15:52] #14971 closed

[2022-02-23 16:30] benhalpern opened #16675 "Indicator for "Pinned post" not visible for signed-in users"
**Describe the bug**

The indicator that a post is "pinned" has disappeared.

**To Reproduce**

- Pin a post
- See that it is not visible for signed in. Is for signed out.

This Forem currently has a pinned post: https://www.coss.community/

**Expected behavior**

Pinned post indicator remains visible.

[2022-02-23 16:46] aitchiss commented on #16675
Potentially related to the refactor in https://github.com/forem/forem/pull/16574?

[2022-02-23 16:54] jeremyf commented on #16488
Reading notes:

In a local branch, I naively put `authorize(Article)` into the `Api::V0::ArticlesController#create` and `Api::V0::ArticlesController#update` action.  The results were lots of request failures.

The culprit is that we never set the expected `current_user` for the Pundit authorize call.  Even though we know the user based on their api-token, we never set the application's assumed `cu

[2022-02-23 20:52] Jenietoc commented on #16394
Hello everyone, do you know how I can reproduce this issue?

[2022-02-24 06:48] citizen428 commented on #16488
I think issues like this were the "subtle bugs" mentioned in https://github.com/forem/forem/issues/6255. Looking at `Api::V0::ApiController#authenticated_user` (which is used in `authenticate` and `authenticate_with_api_key_or_current_user`), I wonder if we still even need this behavior:

[code]

I think we had the `current_user` check for internal use cases (as exposed to external consumers of ou

[2022-02-24 08:40] #16643 closed

[2022-02-24 09:21] amywtlin commented on #14835
@citizen428 Did we end up finishing all the tasks for this issue, especially those ones which were in progress or to do in your last comment?

[2022-02-24 09:26] aitchiss commented on #14807
Personally, I don't think so. I think these items listed above are "nice to haves" / "potential future improvements". But I'm happy to defer to what you and @ludwiczakpawel think from a product point of view. I agree though that it makes sense to add the "embed" to the toolbar first (which should be a quick job).

In any case, if we're committed to doing these things _at some point_,  should we tu

[2022-02-24 09:31] amywtlin commented on #14807
Yes. My intention is to have a list of tasks we agree upon, and turn them into issues so we can keep track of them!

[2022-02-24 15:57] Jenietoc commented on #16639
I will try to solve this issue

[2022-02-24 18:44] msarit commented on #16669
Closing this; not proceeding with oEmbed

[2022-02-24 18:44] #16669 closed

[2022-02-24 19:42] msarit opened #16687 "Add richer error messaging as to why an embed fails"
Consider checking for valid URL via `Net::HTTP` (or something similar) to determine if the URL being used is in fact a valid URL. This is not to be confused with checking if the URL is a supported/registered service in the registry.

Error messaging can take the form: "URL does not appear to be accurate/valid. Please check again."

[2022-02-24 19:42] msarit opened #16688 "Create an Open Graph/TwitterCard service to parse structured properties"
Not sure if the codebase already parses OG data, if so, we can leverage that. If not we can look into using a gem or building it out ourselves. Ideally the deliverable here is just a class or set of classes that we can use to interface with to parse OG data.

[2022-02-24 19:42] msarit opened #16689 "Create embed fallback to OpenGraph/TwitterCard"
When the embedded URL fails to match currently-supported embeds, parse and embed the content using the Open Graph services that were created.

The ideal implementation should be seamless to the end user. Meaning, they should still use `{% embed URL %}` tag but the backend will determine which service to use and respond back with a standardized response.

Right now the flow is as follows:

- Look a

[2022-02-24 19:42] msarit opened #16690 "Modify existing embed specs to account for OG/TC fallback flow. Also write specs for OG/TC service."

[2022-02-24 19:43] djuber commented on #16687
https://github.com/forem/forem/issues/16639 is this related (tag missing a name results in hard to decipher error message)?

[2022-02-24 20:10] juliannatetreault opened #16692 "Add an E2E Test for the "Notes" Section of the Admin Member Detail View"
It appears that there are E2E tests for all of the Admin Member Detail View tabs aside from the "Notes" section. We should add an E2E test for this tab/section, too.

🐣 TASKS

- [ ] Add an E2E test for the "Notes" section of the Admin Member Detail View

[2022-02-24 23:24] ajcwebdev commented on #10467
Is this issue actually resolved? I don't get syntax highlighting on any of my Dev posts with Prisma and the original root issue is [still open](https://github.com/rouge-ruby/rouge/issues/1598).

[2022-02-25 03:24] amywtlin opened #16698 "Add a toggle for "Listings" as an Extension"
## Why

As we are [putting Listings behind a feature flag for all Forems except DEV](https://github.com/forem/forem/pull/16437), we need a way for admins to toggle this feature flag if they intend to keep using Listings for their Forems. In this [discussion thread](https://forem-team.slack.com/archives/CAA200SH5/p1645636659240279?thread_ts=1645635120.725449&cid=CAA200SH5), we came to the conclusio

[2022-02-25 03:28] citizen428 commented on #14835
@amywtlin The ones that were marked `In Progress` should be done but as far as I can tell we never did the one in `Todo`.

[2022-02-25 03:31] amywtlin commented on #16698
Hey @Ridhwana 👋 Assigning this to both you and me for us to work together to move this forward, before we can put an engineer's head here 😀

On a side note, I put this issue under Small Wins board for now, because I am unsure which of Admin Ex's board to put this. Please feel free to move it around where appropriate!

[2022-02-25 06:08] #5977 closed

[2022-02-25 06:09] #12713 closed

[2022-02-25 06:53] Ridhwana opened #16701 "Change the word "Articles" to "Posts" across the /admin"

[2022-02-25 07:53] nikolasburk commented on #10467
Nope, not yet resolved indeed! If there's no work to be done in this repo after the other one gets resolved though, I this this can remain closed, otherwise maybe reopen it? cc @cmgorton

[2022-02-25 07:54] Ridhwana commented on #16698
@amywtlin do we want to call this new tab under "developer tools" feature flags or something different?

[2022-02-25 09:13] Ridhwana commented on #16698
@amywtlin I looked through what this would possible look like and here are some thoughts:
1. We'd add a new tab called Feature Flags (or we could call it something else if you'd prefer) along with a new route `admin/advanced/feature_flags`. It would look something like this:
<img width="1680" alt="Screenshot 2022-02-25 at 10 07 41" src="https://user-images.githubusercontent.com/2786819/155687890-d

[2022-02-25 09:39] amywtlin commented on #16698
Hey @Ridhwana, thanks for the quick turn around!

What you have outlined sounds good to me. Re: naming, I am actually thinking, we could call it "Extensions" or "Add-ons" as we do expect to move more things behind the feature flag that can be turned if wanted, as the first step of moving these types of plug-ins to a marketplace.

Maybe we can leave this one on the Small Wins board (so CE team memb

[2022-02-25 17:45] cmgorton commented on #10467
Hey folks. I am no longer at Forem and can not reopen this issue. The product team at Forem may be able to help with this one. :)

[2022-02-25 17:57] ajcwebdev commented on #10467
Thanks Christina, home Scarf is going well so far!

[2022-02-25 21:53] msarit opened #16709 "Fix Instagram Embed issues"
Update Embed code and handle embeds of Instagram profiles as well.

[2022-02-25 21:54] msarit commented on #16709
@amywtlin Hey Amy, not sure how to add this to ContentEx board; it's a quick fix.

[2022-02-28 07:27] Ridhwana commented on #16698
Happy for the CE team to grab it or I can when I'm back, whichever happens first 😊

[2022-02-28 13:29] aitchiss opened #16712 "Error: Could not locate CSRF metatag"
This is being reported [pretty regularly in Honeybadger](https://app.honeybadger.io/projects/67192/faults/83932622), with the error coming from https://github.com/forem/forem/blob/main/app/assets/javascripts/utilities/getCsrfToken.js

The error gets raised when we've tried for 5 seconds to find the `csrf-token` meta tag on the document, but it's never found. At the moment, we attempt this every 5

[2022-02-28 13:50] aitchiss opened #16713 "JSON Parse error: Unexpected EOF"
## Background
This is getting [reported a lot in Honeybadger](https://app.honeybadger.io/projects/67192/faults/83935705), and is coming from this line: https://github.com/forem/forem/blob/39c5bcd51803002140c8aef8c891a0f5eb44c44d/app/assets/javascripts/initializers/initializeBodyData.js#L19

The error first started being logged on 8 February 2022, which was just after we made these changes to the s

[2022-02-28 13:50] #16488 closed

[2022-02-28 14:37] aitchiss opened #16716 "Use getCsrfToken helper instead of reading meta tag content directly"
## Background

We have a [fair few errors in Honeybadger](https://app.honeybadger.io/projects/67192/faults/83931449) from `initNotifications`
 `markNotificationsAsRead()` where we try to access `document.querySelector("meta[name='csrf-token']").content` before the related `<meta>` node is present.

## TODO

We already have a helper in the app to help deal with this - `getCsrfToken()`. We should re

[2022-02-28 15:05] #16712 closed

[2022-02-28 16:19] EKivutha commented on #16394
@aitchiss do you have a guide for local setup?, I'm running into so many gem errors

[2022-02-28 16:21] aitchiss commented on #16394
Hey @EKivutha! Have you checked out the [developer's docs](https://developers.forem.com/) - you should hopefully find what you need under the "getting started" section, but if not, let us know what errors you're running into, and what you've tried so far and we'll be able to help 🙂

[2022-02-28 16:40] #16186 closed

[2022-02-28 18:52] maestromac commented on #16186
This issue is resolved. Please give it a try! one side note is that the frontend code is a bit buggy and the redirect may not be working right now but I'm working on it.

[2022-02-28 20:42] jeremyf commented on #16486
@Jenietoc I just now saw your message.  At this point, I'm holding "authorization" issues rather close.  I'm looking to factor towards some consistent interfaces, and need to understand the implementation details.

[2022-02-28 21:45] djuber commented on #16631
duplicate of https://github.com/forem/forem/issues/16391 ?

[2022-02-28 21:49] #16631 closed

[2022-02-28 22:09] jeremyf opened #16728 "Adjust VideosPolicy to incorporate condition logic of FeatureFlag"
This mirrors the behavior of #16483

[2022-02-28 22:10] jeremyf opened #16729 "Adjust VideosController to enforce policies"
This mirrors #16484

[2022-02-28 22:11] jeremyf opened #16730 "Ensure video v0 API create end point is behind authz"
This mirrors #16488

[2022-03-01 09:11] #16713 closed

[2022-03-01 09:11] #16716 closed

[2022-03-01 12:04] leewynne commented on #16186
You LEGEND

Working like a charm 🥳

[2022-03-01 13:07] rt4914 commented on #16384
@thomasbnt The `Clear the cache of your navigator` worked for me. Closing this issue.

[2022-03-01 13:07] #16384 closed

[2022-03-01 13:46] aitchiss opened #16734 "User names with apostrophes causing follow button data to fail parsing"
**Describe the bug**

Given a user has an apostrophe in their name (e.g. Jane O'Hara), wherever a follow button appears for them, we get an error in the console trying to `JSON.parse(button.dataset.info)`. I can see in the HTML, the JSON isn't escaping properly for the apostrophe:

![HTML for a follow button](https://user-images.githubusercontent.com/20773163/156179956-33055345-3a35-4600-afa3-a98e

[2022-03-01 15:18] jeremyf commented on #16734
The place I found that needed JS escaping was https://github.com/forem/forem/pull/16067.  But it's a whole constellation of PRs.

[2022-03-01 15:29] jeremyf commented on #16734
I definitely think we need a follow a user cypress specs with a name like:  `Ol' Dwayne "The Rock" Johnson \:/`

I'm surprised that the single `'` is breaking things but perhaps the following inline method needs some adjustment:

https://github.com/forem/forem/blob/3253ba2c7a03594a9064abf2aa4c3fba085099f5/app/assets/javascripts/utilities/buildArticleHTML.js#L174

[2022-03-01 15:49] JennieOcken opened #16736 "Show a "Unable to login" message in browser when a user is unable to login."
When a user is attempting to login and one of the following conditions happens, we should show an "unable to login" message in the browser.

- Username is incorrect
- Password is incorrect
- Account is locked out

[2022-03-01 16:15] jeremyf commented on #16734
(Removed myself for now as I won't be able to circle back for a bit)

[2022-03-01 16:59] aitchiss opened #16737 "Error messages aren't visible on post submit if your post scrolls"
**Describe the bug**

If you have written a long post (long enough for the editor to scroll, and the title to no longer be visible), and then receive an error when you press Publish, the error message isn't visible and there's no obvious feedback that something has gone wrong. You need to scroll up to find the problem.

**To Reproduce**

1. Start drafting a post, copy and paste in a bunch of conte

[2022-03-01 17:52] juliannatetreault commented on #16613
Closed via #16699

[2022-03-01 17:52] #16613 closed

[2022-03-01 17:52] juliannatetreault commented on #16507
Closed via #16708 (and all above PRs)

[2022-03-01 17:52] #16507 closed

[2022-03-01 17:53] maestromac opened #16738 "[DEV-javascript/test] TestingException: This is a test error generated by Honeybadger"
## Backtrace

    line 1 of [PROJECT_ROOT]/lib/testing.rb: testing

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/67192/faults/123)

[2022-03-01 17:53] #16738 closed

[2022-03-01 19:35] JennieOcken opened #16741 "Member Index View"
Previously discussed in [an RFC](https://github.com/forem/forem-internal-eng/blob/4a0ccc0a31bd511e2d7abce3278b690721c542be/text/0177-admin-portal-member.md), we are redoing the UI of the member section (/admin/users) in order to make it easier to navigate and find the information folks need.  This project is the second phase of the work we completed to improve the [Member Detail View](https://gith

[2022-03-01 19:50] jeremyf opened #16742 "Discrepency between tag counts in search results and tag page's count"
The "knowledge" tag at https://dev.to/tags?q=knowledge says that there are 85 published posts.  When I go to https://dev.to/t/knowledge, the number of posts says 34.

Similarly "knowledgebase" https://dev.to/tags?q=knowledge says says 512 posts, but https://dev.to/t/knowledgebase says 5 posts.

I would expect these to have at least close to the same count.

[2022-03-01 19:58] jeremyf commented on #16742
For the individual tag, we use the following logic:

https://github.com/forem/forem/blob/dce7c4b2752f154ff6518efa2be0cec6c603f370/app/controllers/stories/tagged_articles_controller.rb#L57-L59

For the search page, we use the `Tag#taggings_count`

https://github.com/forem/forem/blob/dce7c4b2752f154ff6518efa2be0cec6c603f370/app/views/tags/index.html.erb#L58-L63

These are very different logic assump

[2022-03-01 20:17] jeremyf commented on #16730
As of <2022-03-01 Tue> we do not allow for video creation via the V0 API Controller

https://github.com/forem/forem/blob/dce7c4b2752f154ff6518efa2be0cec6c603f370/app/controllers/api/v0/videos_controller.rb#L1-L26

[2022-03-01 20:17] #16730 closed

[2022-03-01 20:40] divyamojas opened #16744 "Inconsistent published date on Posts"
**Describe the bug**

The comments post-time is before the actual article post time.

**To Reproduce**
- Go to https://dev.to/aniket762/getting-into-software-testing-with-jest-2ca0

-  Check the article post time just below Aniket's name.
-  Check the time when the comments are posted.

**Expected behavior**
The comments post time for some comments is 1 March while the article is posted on 2 March

[2022-03-02 00:31] benhalpern opened #16746 "Home page is REALLY WIDE"
**Describe the bug**

Watch the video below, but this may not be a problem when you arrive here.

I _suspect_ that [this post](https://dev.to/inhuofficial/i-am-warning-you-dont-click-42im) caused the problem when it showed up in the right sidebar...

Home screen is way too wide (or has some other horizontal scroll issue.

**To Reproduce**

Visit home page of https://dev.to and scroll right.

**Exp

[2022-03-02 02:43] amywtlin commented on #16698
@Ridhwana Thanks! I also just updated the issue for clarity based on our discussion. Also I don't think we need a designer for this. Making sure it looks consistent with other components on the page is good enough.

[2022-03-02 03:21] jeremyf commented on #16489
For this we can close the issue, as we're not modifying any behavior around co-author.

[2022-03-02 03:21] #16489 closed

[2022-03-02 03:39] yheuhtozr commented on #14888
@nickytonline Hi, if this needs some time, how about opening up for locale contributions in existing parts? I know that it is somewhat functionally incomplete, but many users seem to crave the feature, and there will be some hidden issues only able to capture with more eyeballs.

[2022-03-02 04:00] jeremyf commented on #16741
A gentle ask from the engineering team is to include URLs to the referenced pages.

[2022-03-02 08:06] amywtlin commented on #16742
Yes. We should use the number of published & approved posts on both the search result page & the tag listing page.

[2022-03-02 08:21] amywtlin commented on #16709
@msarit It looks like you have successfully added it to CE's board!

[2022-03-02 08:22] amywtlin opened #16750 "To check: Pawel's documents on UI related tasks"
This is for us to cross-check if we have covered all the UI related tasks:
https://docs.google.com/document/d/1-uXi7066MUFfw5Bwl1H4pIJZwC8NF77ZcHpDfjtaiVE/edit#

[2022-03-02 08:52] judicaelandria opened #16751 "API bug blocked by cors"
I am reporting a bug on the API that require API Key
it's always blocked by cors

like if we do

[code]

[2022-03-02 12:03] zachjonesnoel opened #16753 "On the Android app not able to view profile and other settings."
**Describe the bug**

On the Android app, when loading the page profile, notifications icon are available but once the feed loads it disappears.
Tried clearing cache and data to check it but same experience.
**To Reproduce**

1. Open the app
2. Once feed loads, have profile and notifications icon and actions under them are hidden.
**Expected behavior**

The profile icon and notifications icon alon

[2022-03-02 14:20] JennieOcken commented on #16741
I appreciate the gentle ask.  I included the relative URLs.  Things will also be clearer/cleaner when Anuj has his pictures ready. :)

[2022-03-02 14:37] jeremyf opened #16756 "Add a "Show Secret" button similar to "Show Password""
On the `/enter?state=new-user` path, we render a form that has the following screenshot:
<img width="586" alt="Screen Shot 2022-03-02 at 9 31 58 AM" src="https://user-images.githubusercontent.com/2130/156381949-9ea6b68b-5996-4eab-aed7-a03fcd5e611c.png">

Both the "Password" and "New Forem Secret" fields are type `password`.  The "Password" field has a button that allows for you to "Show Password".

[2022-03-02 15:36] djuber commented on #16751
When I try from about:blank (where origin is null) I get a cors error indicating the api key header is not allowed:

[code]

When I try from other pages (like this one) I get a content security policy error ["connect-src"](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/connect-src), but that may be unrelated to the issue with the disallowed header.

[2022-03-02 15:37] djuber commented on #16751
duplicate https://github.com/forem/forem/issues/7878  ?

[2022-03-02 16:28] miguelnietoa commented on #16137
Hi @aitchiss, I would like to contribute to this issue 😄

[2022-03-02 17:49] aitchiss opened #16759 "Gif pause button disappears after pausing"
**To Reproduce**

- visit a post with a gif
- click the pause button
- notice it disappears
- click the image
- notice the gif resumes and the button re-appears

**Expected behavior**

The play/pause button should remain visible

**Additional context**

I suspect this was introduced in https://github.com/forem/forem/pull/16649, and that we have an issue with the z-index of the freezeframe library'

[2022-03-03 04:41] judicaelandria commented on #16751
Yes I used the api that doesn't need the api key header but there is field that I want to get too but it's only available when using the api key, need to be authenticated

[2022-03-03 06:34] amywtlin commented on #15856
@JennieOcken Should we close this one?

I remembered last time we talked about it with Gracie, we said we are moving towards turning Forem Passport invisible so it would just work. Is that still the case?

[2022-03-03 06:40] amywtlin commented on #16617
Related requests: https://github.com/forem/forem-internal-eng/issues/164

[2022-03-03 06:56] amywtlin opened #16767 "Always hide "Save" button on a user's own posts when it's shown on a list"
# Why
It doesn't make sense for a user to save their own posts.

# What
We hide "Save" button on the post entries throughout the site if the post is authored by the viewing user.

[2022-03-03 08:29] aitchiss commented on #16767
Do we want to do this in all places where a user sees their own posts (e.g. home feed and tag page too)?

[2022-03-03 08:42] aitchiss commented on #16137
Hi @miguelnietoa - that's great! Be sure to take a look at the `MultiSelectAutocomplete` component, and where we currently use it in the editor to get a feel for what needs done.

Let us know if you have any questions while looking at it 👍

[2022-03-03 09:08] amywtlin commented on #16767
That actually would be even better. I would love to know if that is also the part of conditionally rendering that we are struggling with a bit, so I can see if we should handle this even more holistically.

[2022-03-03 14:05] jeremyf opened #16772 "Posts with various "blank" characters break headers"
**Describe the bug**

The following post: https://dev.to/inhuofficial/i-am-warning-you-dont-click-42im breaks some places in the UI.

The title includes many "Braille Pattern Blank" characters (see [Unicode Character 0x2800 - "⠀" from Unicode Map](https://unicodemap.org/details/0x2800/index.html)).  Note, there are plenty of other "blank" characters, so we need not consider just this one character

[2022-03-03 14:27] aitchiss commented on #16772
This makes me suspect it's another case of `overflow-wrap: anywhere` not being applied as it's not supported in Safari. I'll do a search in the codebase for any similar instances as a starting point 🙂

[2022-03-03 18:42] sabarish98 commented on #16756
I can pick this up @jeremyf. And also, the `@forem/oss` handle is not listing any users to tag, is that still in use?

[2022-03-03 20:25] jeremyf commented on #16486
Based on conversations, I believe we can close this issue for Use Case 1-1.

[2022-03-03 21:19] #16486 closed

[2022-03-03 23:06] michael-tharrington commented on #16180
I'm so happy we're making these changes!

I admittedly may be in the wrong spot to make this suggestion, but I wanted to point out that the Code of Conduct which ships with a Forem includes the noreply@forem.com email address in it.

For instance, if you take a look at https://www.metapunk.to/code-of-conduct, you'll see:

I think it'd be ideal if admin could swap out noreply@forem.com with whateve

[2022-03-04 02:29] amywtlin commented on #16767
Thanks for the clarification. Yes, I would rather have all `save` buttons disappeared everywhere if the posts are written by the user. Let me update the issue instead!

[2022-03-04 09:13] amywtlin commented on #16687
@msarit Adding you as the assignee so that we have the clarity that this issue is being worked on actively (please let me know if that is not the case, though!)

[2022-03-04 09:21] amywtlin opened #16780 "Add Embed icon to Editor toolbar"
# Background
Now that the generic embeds is in place, I think we are ready to add the icon to the toolbar.

# Definition of Done
Implement the embed icon to the editor toolbar and also the associated keyboard shortcut to it.

# Specs
The icon:

[code]

Save it as `lightning.svg` in `app/assets/images`. More instructions on icons usage and exporting [here](https://storybook.forem.com/?path=/docs/co

[2022-03-04 09:21] amywtlin opened #16781 "Bring Editor toolbar & keyboard shortcuts to Comment area"
In conjunction with #16780, let's add the toolbar & keyboard shortcut experience to the comment area!

The comment area doesn't have a markdown toolbar as we have for the post editor. We all know how awesome our markdown toolbar is in the post editor, so why not in the comment area as well 🤷🏻.

Things to keep in mind,
1. Reposition **Templates** inside the overflow menu
2. Same interaction as post

[2022-03-04 09:23] amywtlin commented on #16780
@aitchiss @ludwiczakpawel I don't think I have seen one in other applications, but is there a keyboard shortcut for "embeds" that are commonly used that you are aware of though?

[2022-03-04 09:25] aitchiss commented on #16780
The only one I'm aware of is Medium, who use a code symbol (not gonna work for us 😄 ):

![medium embed icon](https://user-images.githubusercontent.com/20773163/156736424-4c2fb358-0810-4f2a-9559-cb5c1a30209c.png)

[2022-03-04 09:26] amywtlin commented on #14807
Re: what to do before we bring toolbar to the comment area, FYI I have created 2 new issues (#16780 & #16781 ) and updated the main body of this issue.

[2022-03-04 12:49] jeremyf opened #16783 "Ensure that the Moderator Tools for a post are only visible to moderators when we have not enabled limit posts to admin"
Wayfinding:

Here's the line that contains the HTML where we then decorate the behavior with javascript: https://github.com/forem/forem/blob/841491c6ee7f9a46d8033b4b55052316db251863/app/views/articles/_actions.html.erb#L30

The javascript that adds this is found:
https://github.com/forem/forem/blob/841491c6ee7f9a46d8033b4b55052316db251863/app/javascript/actionsPanel/initializeActionsPanelToggle.js

[2022-03-04 12:59] jeremyf opened #16784 "Create check for authorizing moderation"
To deliver on #16783, we need a way to ask the policy layer "who is authorized to moderate this article"

At present, that question does not exist.

In the following place, we see the logic for rendering the button (note the `user?.trusted`, that will require unpacking): https://github.com/forem/forem/blob/841491c6ee7f9a46d8033b4b55052316db251863/app/javascript/packs/articleModerationTools.js#L17-

[2022-03-04 16:08] #16729 closed

[2022-03-04 16:12] #16746 closed

[2022-03-04 17:41] #16516 closed

[2022-03-04 17:56] jeremyf opened #16788 "Only render the field to enter an RSS feed if the user can post Articles"
This involves adding a conditional around https://github.com/forem/forem/blob/main/app/views/users/_publishing_from_rss.html.erb

[2022-03-04 18:14] ellativity opened #16789 "Internal embeds not working on forem.dev"
Using

[code]

returns this error at the top of my post when I try to save my draft or preview:

base: Embed URL not valid

[Slack discussion where we established this as a bug lives here.](https://forem-team.slack.com/archives/CAA200SH5/p1646143409203799)

[2022-03-04 18:23] ludwiczakpawel commented on #16780
Nothing pops in my mind...

[2022-03-04 18:25] ludwiczakpawel commented on #16306
@aitchiss I'm not language expert sooo I leave the decision to others.. But since you brought it up there're two more I'm thinking about:
- "Highlighted comment"
- "Pinned comment" - as reference to pinned posts we have in feed..

[2022-03-04 18:26] aitchiss commented on #16780
Was there not some discussion a while ago of calling them "magic embeds" or something, and using like a sparkly icon like ✨

I might be just making this up though I don't remember 🤣

[2022-03-04 19:06] #16487 closed

[2022-03-04 21:34] fdocr commented on #16744
There's a good chance UTC time was used when publishing the post to generate these dates. Just my initial hunch on the origin of this.

This seems like it has come up before from time to time but I didn't find these conversations on a first search through the repo. There's a chance this is happening for a reason (technical difficulty) but I don't have enough context on this area at the moment.

In

[2022-03-05 06:20] RedstoneWizard08 opened #16793 "An invalid form control with name='user[username]' is not focusable."
**Describe the bug**

When I try to create the admin account when setting up a new self-hosted instance of Forem, it doesn't work. When I open the Chrome DevTools, it shows this error:

[code]

**To Reproduce**

1. Create a VM running Ubuntu 21.10 Impish Indri.
2. Install Docker and Docker Compose.
3. Clone this repository: https://github.com/RedstoneWizard08/forem
4. Run `docker-compose up`
5. He

[2022-03-06 20:47] Shofiya2003 commented on #12835
If this issue is still not resolved could you please assign it to me

[2022-03-07 03:31] amywtlin commented on #16306
@JennieOcken Clarifying a bit more on the goal for "best answer" here before I weigh in on how we should describe a picked comment.

Is the main goal here to...
1. make a comment more prominent (leaning towards pinning a comment in a neutral way, not necessarily "resolved")
2. make an unresolved post as resolved (this implies a closure to the post, which calls for different communications than the

[2022-03-07 16:24] miguelnietoa commented on #16137
Hello again @aitchiss , I have one question...

I have noticed that there are some additional tags for the listings depending on the category:
https://github.com/forem/forem/blob/1b337b85d9e6f7a6f1fc8e69bad3d9700739dd18/app/javascript/shared/components/tags.jsx#L35-L69

But the `category` received in the `Tags` component (`app/javascript/shared/components/tags.jsx`) is actually an `id` ('1', '2',

[2022-03-07 16:39] ellativity commented on #16306
Ooooh, just to make things more complicated, could we have a "mark as resolved" check box with an option that allows the marker (assuming this is post author but admins could modify as with most things) to select the "most helpful" answer?

[2022-03-07 16:40] ellativity commented on #16306
Sorry! I clicked on the wrong button - hope I didn't mess things up for you @ludwiczakpawel

[2022-03-07 16:52] JennieOcken commented on #16306
I think there is a ton of value in the "pin comment" option even without the workflow of "mark as resolved".  Given that, let's take a more iterative approach.  For this issue, let's focus on a more "pin comment" or "highlight comment" option.  That will give the Creators I have heard from the majority of what they are looking for.  Then we can let it rest and see what kind of response we get.  In

[2022-03-07 17:56] #16788 closed

[2022-03-07 20:27] #16728 closed

[2022-03-07 20:27] #16784 closed

[2022-03-08 02:13] amywtlin commented on #16306
Thanks - this is what I was looking for. Yes, we should take an iterative approach, and I would love to make sure what we work on first is addressing the majority of what Creators are looking for.

@aitchiss @ludwiczakpawel Let's focus on "making a comment more prominent" then. Going back to the wording, for this use case, best answer won't be a suitable name. I don't have a strong opinion here, a

[2022-03-08 10:37] #16772 closed

[2022-03-08 10:50] aitchiss commented on #16306
Yeah I agree, I think either works well. Like @ludwiczakpawel mentioned "pinned comment" is consistent with the language we use for pinning posts, so maybe all other things being equal, we should go for that?

I'd assumed we were just going for 1 pinned comment, but it's a good question! Even if we stick with just 1 for the first iteration, it would be good to know if we envisage this expanding to

[2022-03-08 11:19] aitchiss commented on #12835
@nickytonline I don't think that "Follow" text is because of caching - we used to render it with just `&nbsp` to make sure the button height didn't jump once we inserted the correct text. At some point that space disappeared and we replaced it with "Follow" to fix the CLS bug - https://github.com/forem/forem/issues/14164

I guess my question is... could the solution just be to change this back to

[2022-03-08 12:15] Ridhwana commented on #14888
I want to make a note here that we're ready for I18n on the member view that we recently cleaned up on the admin. Here's an [issue](https://github.com/forem/forem/issues/16506) for it.

[2022-03-08 12:17] Ridhwana commented on #14888
@yheuhtozr I'll follow up on this and we'll get back to you.

[2022-03-08 12:43] #15179 closed

[2022-03-08 12:43] jeremyf opened #16819 "Conditional hide "Generate a personal blog from your DEV Community posts" in /settings/extensions"

[2022-03-08 12:44] jeremyf opened #16820 "Conditional hide "Web monetization" in /settings/extensions"
It would be a somewhat scenario where folks would setup web monetization for secondary content (e.g. writing comments).

[2022-03-08 12:50] jeremyf opened #16821 "Conditionally hide “Posts” filter in /notifications, though we may need to further think through this"
This has echoes of https://github.com/forem/forem/issues/16486#issuecomment-1054657115

This is the code that we'd need to change:

https://github.com/forem/forem/blob/ffc65bed81d66a2a18d2b5d00ba2d3157a78486e/app/views/notifications/_nav_menu.html.erb#L23-L27

(Note: the notifications controller's index action would benefit from a refactor)

[2022-03-08 12:51] sirius93 commented on #12835
Hi @nickytonline
I am not able to spend time on it. You can assign it to someone else.

[2022-03-08 14:39] #16820 closed

[2022-03-08 14:40] #16819 closed

[2022-03-08 14:41] ludwiczakpawel commented on #16306
@ellativity What do you envision this would do? In other words: how would that be different from "pinning comment" (well, except language)?

---

I don't want to go too granular here and have too many "states" for a comment.

---

I'd say "no" for now to not overcomplicate things.

Correct me if I'm wrong, @JennieOcken , but I think this feature was requested by Creators who want to have some sort

[2022-03-08 19:28] djuber opened #16829 "Cypress e2e tests sometimes fail to completely type color picker input"
**Describe the bug**

When running cypress e2e tests (bin/e2e or in CI), sometimes the tests exercising the [new color picker](https://github.com/forem/forem/issues/15179)  fails, with what looks like partial input.

Interactively testing suggests this might be due to a refresh pause when a partial (3 hex digit) color code is entered, and the 4th digit may not be registered by the component.

**To

[2022-03-08 19:48] JennieOcken commented on #16306
The original request was absolutely some sort of Q&A type posts.  But we have also heard similar requests over time for cases like CodeNewbie or Lee's Forems where you want to highlight specific comments.

I agree that we should keep it to the concept of "pinning" a comment (liking that wording since it is already in the ubiquitous language of the site) since it is addressing the main request (Q&A

[2022-03-08 20:04] nickytonline commented on #14888
I'm back from vacation @yheuhtozr. Taking a peek at this.

[2022-03-08 20:35] ellativity commented on #16306
I see, exactly as @JennieOcken has described, 2 clear leading use cases for this:

1. Q&A type posts, where it might be nice to have a "Resolved" flag or tag at some point. The value of the tag would be that all resolved answers could be found on a tag page, or if a user is searching for a question they can see at a glance which of the results contain questions that have been resolved instead of c

[2022-03-08 21:28] nickytonline commented on #14888
In regards to the YAML JSON disconnect, we could always have a build step to generate JSON from YAML and then let the frontend use that. See this demo I made at https://stackblitz.com/edit/node-85zfdo (in the terminal, run `node index.js`).

It's an extra step, but then we wouldn't need to worry about what's JSON or YAML.

For all things webpack, the localized files are json, so they would not nee

[2022-03-09 03:49] jeremyf commented on #16821
Two approaches that I'm thinking of:

1. Leave it as is.  We always render the Posts section of notifications
2. Render posts if they have at least one article OR have permission to create posts

And I'm sure there are more approaches

[2022-03-09 04:22] jeremyf commented on #16821
The "Posts" section is not "what I wrote" but what others wrote.  So we'll close this out.

[2022-03-09 04:22] #16821 closed

[2022-03-09 08:22] amywtlin opened #16833 "[Investigation] Identify notifications format discrepancy and unify them"
# Context
We realized we have different formats of notifications from [a conversation](https://forem-team.slack.com/archives/C7GE84DEJ/p1646799364423719). This highly likely is an oversight and we should audit all of them and unify the format.

# Definition of done
1. List all notification formats we have with screenshots
2. Propose a unified format (for example, all notifications should have time

[2022-03-09 08:55] amywtlin commented on #16306
Only being able to pin one comment sits right with me. I have updated the content of the issue to reflect it with the following addition:

-----
### Scope

We will focus on enabling authors and super admins & cross-site admins* to pin a comment, no matter their motivations behind doing such action. Hence we are opting for a ubiquitous term to describe this neutral action as "pinning a comment."

-

[2022-03-09 08:59] amywtlin commented on #16306
Also, on this:

I think post authors, cross-site admins (which is referred to as [Admins](https://docs.google.com/document/d/1_MUj3IsbK1g5Cf2NyUk_MAoz0SIYzROLQ8XNdsCPfrE/edit) in our system right now) and super admins.

What do you think?

@ludwiczakpawel Can you help update the terms from best answer to pinning a comment throughout the issue? I don't want to break your things 🙈

[2022-03-09 09:51] aitchiss commented on #12835
Yeah, 100% - and I'd imagine 'Follow' is the final text in the vast majority of situations.

TBH I start to wonder how much of a problem this really is? In some ways I feel like it's _less_ distracting to have it change from Follow -> Following than it is to have the whole button suddenly appear 🤔

[2022-03-09 11:15] Ridhwana commented on #16698
@amywtlin I've just started working on this, can you please provide me with a description of what the listing feature flag will do if a user enables it?  This is for the copy on the page when the user enables the feature flag.  I'm not super familiar with the feature else I'd have taken a first stab at it.

[2022-03-09 13:53] Ridhwana commented on #16698
This is a preview of what the page will look like:

<img width="1680" alt="Screenshot 2022-03-09 at 15 52 27" src="https://user-images.githubusercontent.com/2786819/157455167-8e25e034-3a66-4889-b0f1-de0c1d1660d2.png">

We'll only have listing on there at the moment.

[2022-03-09 14:05] jeremyf opened #16836 "On individual tags pages (e.g. /t/:tag_name) apply policy for creating an article"
This will also require reviewing if we should hide the “Submission guidelines” section anyway.

The following region is behind caching that prevents accessing the user object.

https://github.com/forem/forem/blob/987c0a07a293fc4439cba0bdf7a50d7f0a77521f/app/views/stories/tagged_articles/_sidebar.html.erb#L5-L17

To resolve, we need to resolve https://github.com/forem/forem/issues/16490

[2022-03-09 14:08] jeremyf opened #16837 "Conditionally render "My Posts Only" section of search results"
See

https://github.com/forem/forem/blob/ffc65bed81d66a2a18d2b5d00ba2d3157a78486e/app/views/stories/articles_search/_nav_menu.html.erb#L17-L19

Note: the response for doing this will depend on our decision around https://github.com/forem/forem/issues/16821

Namely, we want to account for the scenario in which a person has published articles but is (at present) not allowed to create articles.  We l

[2022-03-09 14:14] jeremyf opened #16839 "Conditionally render sections on the /dashboard/** pages"
- [ ] Conditionally render "Posts [counter]" button
- [ ] Conditionally render "Series [counter]" button
- [ ] Conditionally render "Analytics" button

Related to and dependent on #16908 and #16909
Inter-related with #16913

## Original Discussion

Following on https://github.com/forem/forem/issues/16837, we need to determine what we want to conditionally render.

Again, the main thrust is that a

[2022-03-09 14:25] #16829 closed

[2022-03-09 15:09] aitchiss commented on #16759
Great! I've assigned to you - let me know if you need any assistance!

[2022-03-09 15:12] aitchiss commented on #16737
That's great - thank you @Jenietoc!

@ludwiczakpawel @amywtlin do you have any opinions on how we make sure this error message shows? I guess the options are scroll to top, as suggested, or amend the positioning of the notice so that it's visible regardless of post length

[2022-03-09 15:41] Jenietoc commented on #16759
@aitchiss , you think is fine?

https://user-images.githubusercontent.com/89233604/157475970-1e52c247-d704-4e3b-a009-f66338e58971.mp4

[2022-03-09 16:28] Jenietoc commented on #16759
it works good

https://user-images.githubusercontent.com/89233604/157485528-73d7e4de-62b5-4b8e-8d3e-d4b8f0b0ef11.mp4

[2022-03-09 16:34] ludwiczakpawel commented on #16306
@amywtlin you mean mockups? sure thing, i'll do it 👍

[2022-03-09 16:43] jeremyf opened #16842 "Add Spaces page to `/admin/content_manager/`area"
<img width="346" alt="Screen Shot 2022-03-09 at 11 42 24 AM" src="https://user-images.githubusercontent.com/2130/157488812-22a822f5-7f11-4a96-ae5d-a9b5d2149fdb.png">

[2022-03-09 16:50] nickytonline commented on #12835
Agree that the whole button suddenly appearing is not as ideal. I wonder if we could avoid the jank still by having two buttons present (taking a11y into account) but only show the Following if logged on and following that person.

https://user-images.githubusercontent.com/833231/157489225-2f052d39-de47-4d03-aa64-ffd791e01298.mp4

[2022-03-09 16:51] nickytonline commented on #16759
Seems to look good @Jenietoc! Go ahead and create a PR. 😎

[2022-03-09 22:01] juliannatetreault opened #16849 "Remove admin_member_view Feature Flag from Codebase"
Now that the Admin Member Detailed view has officially been launched, it is safe to both disable and remove the `admin_member_view` feature flag from the codebase.

🐣 TASKS

- [x] Remove the `admin_member_view` feature flag and any associated code

[2022-03-09 22:06] juliannatetreault opened #16850 "Remove Unused Admin User Views and Tests from Codebase"
Now that the Admin Member Detailed view has officially been launched, it is safe to remove any unused Admin-User-related views (and their specs) from the codebase since these files are no longer being used for the updated Admin Member Detailed view.

🐣 TASKS

- [x] Remove any unused Admin-User-related views from the codebase
- [ ] Remove and/or update the associated specs from the codebase

Note:

[2022-03-09 22:16] tigt opened #16851 "data: URIs for video <track>s?"
**Describe the bug**

I have a `<video>` element in my blog post. It’s very short, so I’d like to inline its `text/vtt` captions as a `data:` URI:

[code]

The editor then refuses to save the post, with an error at the top you have to scroll all the way up to see:

**To Reproduce**

1. Go to `/new` to write a new post
2. Copy/paste in the above HTML, or any `<track src="data:…">` (doesn’t matter i

[2022-03-10 02:07] amywtlin commented on #16839
For posts created before a user's publishing right is removed, I think we should follow the same guiding principle that we are [honoring the post's original ownership](https://github.com/forem/forem/issues/16486#issuecomment-1056506133). I think they should still be able to see & edit their posts even after they lose the right to publish new posts. We should handle equally should such scenario eme

[2022-03-10 02:08] amywtlin commented on #16837
For my posts only, I am thinking the same way as "Posts" - using the same logic whether a user has any posts to decide if we are going to show this tab at all. What do you think?

[2022-03-10 03:29] amywtlin commented on #16698
@Ridhwana Sure! Here's the description:

[2022-03-10 03:33] amywtlin commented on #16737
If the two approaches are of similar technical complexity, I'd prefer to tweak the positioning of the notice, instead of automatically sending users to where the notice is located. Just that I don't think it's a great experience forcing users to go to somewhere they weren't at, even for good reasons.

Also a third option is that, without automatically scrolling up, we stay at the same position but

[2022-03-10 03:36] amywtlin commented on #16306
@ludwiczakpawel Yes please! I also just updated the issue :D

[2022-03-10 03:57] amywtlin opened #16854 "Handle "Credits" when Listings is turned off as an extension"
# What
We will move Credits to be behind a feature flag, that can be turned on & off as needed. When deploying, credits should be defaulted as on.

# Relationship between Listings and Credits

Principle:
1. Listings need Credits turned on to function properly as Credits are used to pay for listings
2. Credits is useless for the time being when Listings is turned off

Hence, only the following scen

[2022-03-10 03:58] amywtlin commented on #16854
@jeremyf @Ridhwana I wanted to bounce this one off both of you - does this make sense?

[2022-03-10 06:01] yheuhtozr commented on #14888
Thank you, it's good news that we will be able to load locale files without hassle. I can't say I'm very professional with the JS technology and libraries, so a proof of concept of a correctly loaded i18n library setup would be appreciated.

We could insert a small adaptation function during YAML-JSON conversion if we share strings between ruby and JS. The rails and JS (depends on library) locale

[2022-03-10 08:51] aitchiss commented on #12835
I'm just not sure it's any different really than what we have at the moment? At the end of the day, we'd still be showing "Follow" which would change to "Following" with the different styles, which seems to be the the issue reported here? Maybe I'm misunderstanding something 🙃

[2022-03-10 08:55] aitchiss commented on #16737
That makes sense! I guess then we just need to decide where we place this

That could also work!

[2022-03-10 09:03] lightalloy commented on #15858
I described my ideas in a [forem team post](https://forem.team/anna/scheduling-posts-implementation-527k), and we had a productive discussion in the comments section.
Let's break down the feature:

## Make it possible to set `published_at` field to the future

- [ ] change the validation
#### Setting `published_at` from editor v1
- [ ]  Frontend: setting the default published_at similar to other f

[2022-03-10 09:47] Ridhwana commented on #16854
@amywtlin I've been thinking about this some more.

Perhaps we're over-optimizing for this too early. At the moment do we have another feature in the pipeline that will use credits except for listings? If there is one, then this approach sounds good.

However if there isn't, then perhaps its okay to just disable and enable credits along with listings, and then optimize at a later stage once we hav

[2022-03-10 10:04] aitchiss commented on #16297
I've unassigned myself since I'm not actively working on this at the moment, as we decided this was going to be a higher effort piece in the backend

[2022-03-10 12:13] aitchiss commented on #14888
Weighing into this late, but I think this is an important point ☝️  On balance, my preference would be to pull in `i18next` for a lot of the same reasons you mention in your linked comment @yheuhtozr (the JSX support is very useful in particular), and keep the JSON/YAML separate.

I'm wary to write conversion layers between the YAML and the JSON for the main reason being that in doing something pr

[2022-03-10 12:36] aitchiss commented on #16137
hey @miguelnietoa - yes those categories might need some extra handling (I think this feature is currently broken in the live app!). My initial instinct is that instead of each item being e.g. `'remote'`, they would need to be mapped to `{ name: 'remote' }`, but it might help if you could create a draft PR into our repo so that I can run what you have at the moment and reproduce the exact issue.

[2022-03-10 13:23] nickytonline commented on #14888
Yeah I'm definitely for i18next as well @aitchiss. The only reason I brought up the conversion was to avoid locale data in two places in the project, but it could be a trade off to maintain both YAML and JSON files. I'm thinking of this purely from a maintenance perspective as well as from a contributor point of view.

[2022-03-10 13:25] miguelnietoa commented on #16137
Yes, I will create a draft PR later 👍🏻

[2022-03-10 13:26] nickytonline commented on #12835
I reflected on this a bit and for now I'm going to close this.

If we get member feedback that this is still problematic , we can reopen this.

[2022-03-10 13:26] #12835 closed

[2022-03-10 13:37] aitchiss commented on #14888
I guess my worry is the additional overhead of maintaining this conversion step from YAML -> JSON in terms of code needed to handle e.g. changing `%{count}` to `{{count}}`...

Also, if we use HTML element placeholders like `Hello <1>{{name}}</1>` and add these to the YAML, they won't be usable by the Ruby code (AFAIK), which would be a bit confusing

[2022-03-10 14:42] nickytonline commented on #14888
That's a good point about the conversion of the actual data in the JSON being different from the YAML version. Good catch on that.

In that case, the clear separation of JSON for frontend and YAML for backend makes sense. cc: @Ridhwana

[2022-03-10 15:48] miguelnietoa commented on #16137
Hi @aitchiss, I have created the Draft PR (https://github.com/forem/forem/pull/16855), take a look into it please 😄

[2022-03-10 17:34] JennieOcken commented on #16698
Hi friends.  I am only intervening with this plea

Let's call this "extensions" instead of "feature flags".  The term "feature flags" has technical meaning and weight here at Forem that I don't want to imply in what we are trying to do.  While we might use a feature flag in our implementation of how we are setting up these extensions in code, what should be user facing is "extensions" in order to

[2022-03-10 18:18] #16687 closed

[2022-03-11 03:22] naruaika opened #16863 "Deleted Posts Still Count"
**Describe the bug**

The number of posts should be the same both on the Dashboard and Profile page. Maybe related with #16394

**To Reproduce**

1. Add new post
2. Publish the post
3. Remove the post
4. Go to the Dashboard page
5. Go to the Profile page

**Expected behavior**

The number of posts should be the same.

**Screenshots**

"2 post published ..."

![image](https://user-images.githubuser

[2022-03-11 03:27] naruaika commented on #16863
I've found that after adding a new following tag, the "xxx posts published" is updated.

![image](https://user-images.githubusercontent.com/26834955/157796412-9541ac3f-441a-4a35-a5ac-d405748a7ee1.png)

[2022-03-11 03:34] naruaika commented on #16863
Similar bug happens when we try to unfollow tags, here are some screenshots:

![image](https://user-images.githubusercontent.com/26834955/157796977-96ec6576-b8b9-45b1-a6aa-e03c372849c9.png)

![image](https://user-images.githubusercontent.com/26834955/157796991-4c4e4843-89b5-4702-9257-eb61cbbd1bf7.png)

**To Reproduce**

1. Follow new tags
2. Unfollow those newly tags
3. Go to the Dashboard page
4.

[2022-03-11 03:38] naruaika commented on #16863
In my conclusion, the stats on the Profile page don't seem to update when we perform some destructive actions, i.e. delete posts and unfollow tags.

[2022-03-11 04:49] amywtlin commented on #16854
@Ridhwana This is definitely what I am feeling as I write up the issue. I feel like, wait, it feels much more complicated than it needs to be. We don't currently have any plans to use Credits for anything yet on the horizon, just keeping it open.

I am fine with it as long as we communicate it explicitly. How about, in the description for Listings we mention that Credits will also be turned off/on

[2022-03-11 04:52] amywtlin commented on #16698
@JennieOcken that's definitely where we are heading, as mentioned [here](https://github.com/forem/forem/issues/16698#issuecomment-1050692737):

@Ridhwana Let's make sure we use "Extensions" for the tab label - thanks!

[2022-03-11 07:02] lightalloy commented on #15858
It seems like "quick fix" and "long term" options are not that different in terms of the time needed to implement, so I lean toward the "long-term" solution. Also, there is a large part of the feature that doesn't depend on what solution we choose.

[2022-03-11 12:52] thomasbnt commented on #14536
Hello, this bug is always here :c

[2022-03-11 13:03] thomasbnt opened #16864 "Bug with scroll down on API Doc"
**Describe the bug**
Scroll down on the [API Doc](https://docs.forem.com/api/).
When you scroll, you could bump to the top of the page.

When I read this post "[Changelog: Invite user API](https://forem.dev/foremteam/changelog-invite-user-api-3g5g)",

I wanted to see the documentation about this novelty, except that I fell on the beginning of the page.

Bug is already reported at https://github.co

[2022-03-11 13:16] Ridhwana commented on #16698
Sounds good to me 👍

[2022-03-11 14:16] michael-tharrington opened #16865 "Author Field Missing From RSS Feed"
**Describe the bug**

The author field is missing from the RSS feed on DEV (possibly on other Forems too).

**Expected behavior**

The author field should be included in the RSS feed.

**Additional context**

This was reported by a DEV user who relies on the RSS feed to tweet out new posts from DEV.

There are some recent changes to RSS here that may be related - https://github.com/forem/forem/pul

[2022-03-11 17:12] DerekCrosson commented on #16864
It's possible that this is a Redoc issue. I've seen it happen in another project too at a company I used to work at, not sure of the cause or solution though.

[2022-03-13 15:21] LeRayan commented on #14483
Do we have any updates on this? I have this bug very often on my forem instance:  www.developmenthackers.com
It happens on both Brave browser and Chrome. I've noticed that on the first onboarding modal, there's a parameter in the URL which says referrer=none, and when it loops again it says referrer=https://www.developmenthackers.com/

I would appreciate any updates on this as I'm kind of waiting

[2022-03-14 20:15] miguelnietoa commented on #16759
This PR should be closed since PR #16846 is already merged 😃

[2022-03-15 02:36] amywtlin commented on #16698
Hmm - `/settings/extensions` seems user-facing, and looking at the functionalities there, it looks like advanced functions some power users might make use of. Are you saying that Creators might also want to control if they offer these functions, through `/admin/advanced/extensions`?

[2022-03-15 06:18] amywtlin commented on #15858
I agree. Let's go with the long-term solution. Thank you @lightalloy!

[2022-03-15 09:10] aitchiss commented on #16759
Closed in https://github.com/forem/forem/pull/16846

Thanks @miguelnietoa for spotting this needed closed, and thanks @Jenietoc for the fix!

[2022-03-15 09:10] #16759 closed

[2022-03-15 10:29] aitchiss commented on #16306
I've unassigned myself from this one, as I'm going to be floating into admin experience pod for a bit and not sure yet I've got the capacity to pick this up (I hadn't started any work on it yet)

[2022-03-15 12:53] #16850 closed

[2022-03-15 13:24] #16789 closed

[2022-03-15 14:12] Ridhwana commented on #16698
No I'm just saying that it could potentially confuse admins that the two routes are named the same but are not related, but if we think thats not the case then its okay :)

[2022-03-15 18:17] SGGregory opened #16886 "DEV Campaign Sidebar Shows 0 Articles When Logged Out"
**Describe the bug**

The DEV campaign sidebar ad (aka "boosted tag") shows zero articles when logged out of the platform but shows the proper number of articles when logged in. This error was surfaced through the example of the [#hackwithdg](https://dev.to/t/hackwithdg) tag for the Deepgram Hackathon on DEV

**To Reproduce**

To view error
1. Log out of DEV
2. Go to 'https://dev.to'
3. View right

[2022-03-15 18:21] djuber commented on #16886
I'm unable to replicate this. In a private window, not logged in, I see 8 articles with the hackwithdg tag in the top right sidebar. I see the when same logged in.

Could this have been cached, and are you still seeing this behavior on your end?

[2022-03-15 19:43] jeremyf commented on #16839
So to make sure I'm understanding correctly, the only thing we'd remove is the "Upload a video" portion of the page.

All other things are related to existing posts that the user may or may not have.
<img width="1293" alt="Screen Shot 2022-03-15 at 3 42 30 PM" src="https://user-images.githubusercontent.com/2130/158458704-edc2e542-8e48-4f45-bb6c-821e65ddcca0.png">

[2022-03-16 06:11] amywtlin commented on #16698
Ah. I think if that's the case, it should be alright then!

[2022-03-16 08:43] amywtlin commented on #16839
Yes. For authors who have written posts in the past but the authoring right is removed, I think removing that upload a video button and leave the rest as is is alright.

cc @anujbhavsar96 FYI the `/dashboard` handling for authors who have posted in the past but their authoring rights get removed.

Also, I just realized one thing - you remember in 1-1,  for members who can only comment, we only res

[2022-03-16 08:49] amywtlin commented on #16839
To recap:

1. For members who have never posted: show `followers`/`following user`/`following tags` 3 areas
2. For admins: show existing dashboard
3. For members who have posted: same treatment as admins, show existing dashboard

Original discussion thread can be found [here](https://forem-team.slack.com/archives/C02QQ9YT7EH/p1644809807165369?thread_ts=1644562294.673879&cid=C02QQ9YT7EH).

[2022-03-16 09:10] ludwiczakpawel commented on #16306
@amywtlin Design has been updated ✅

[2022-03-16 11:11] Ridhwana commented on #16854
Hey folks 👋🏽 let me know how we'd like to proceed on this and I can try and tackle it once the [Listing extension PR](https://github.com/forem/forem/pull/16840) is reviewed is merged

[2022-03-16 11:50] jeremyf opened #16890 "Address /notifications/settings reference to Posts"

[2022-03-16 11:54] jeremyf opened #16891 "Address /notifications/account section for Export Content"

[2022-03-16 12:03] jeremyf opened #16892 "Address /notiifications/account section Danger Zone"
<img width="761" alt="Screen Shot 2022-03-16 at 8 02 47 AM" src="https://user-images.githubusercontent.com/2130/158585916-c3df898b-f8f1-459d-9dc8-6dffc7d1c8c5.png">

Related to https://github.com/forem/forem/issues/16891

[2022-03-16 13:50] jeremyf opened #16893 "Address "All of the organizations will also be disabled for the time being." from mockup"
In reviewing the mockup, there's a surprise statement:

"All of the organizations will also be disabled for the time being."  We need to flesh out what that means.

<img width="903" alt="Screen Shot 2022-03-16 at 9 49 19 AM" src="https://user-images.githubusercontent.com/2130/158604939-709e4669-593f-41b7-a9b9-ffcd9a361947.png">

[2022-03-16 21:15] #16865 closed

[2022-03-17 10:51] aitchiss commented on #16540
Once again the network call had caching issues in production, so https://github.com/forem/forem/pull/16841 has been reverted and I've re-opened this issue

[2022-03-17 13:31] jeremyf opened #16901 "The Admin Menu's Active State Indicator is Inconsistent for 3rd level Menu Items"
**Describe the bug**

In the admin menu rendering we have three levels of menu.  The first two are on the left column.  In some cases, the menu is nested three levels.  But to render that 3rd level, we don't render on the left, but instead render in the "center" area just above the "main" content.

For the levels, lets use parent (1st level), child (2nd level), grandchild (3rd level).

When render

[2022-03-17 14:15] ludwiczakpawel commented on #14807
Potentially useful:
- https://github.com/forem/forem-internal-eng/issues/354

[2022-03-17 15:44] Ridhwana commented on #16698
@amywtlin can I deploy this or do I have to wait for anything else before merging and deploying it?

[2022-03-17 16:06] #16673 closed

[2022-03-18 01:50] amywtlin commented on #16893
Ah. My bad, I think I forgot to mention this.

That means that once comment-only is on, people can't create new posts on behalf of an organization anymore. Given that org members highly likely will not be admins, I think it is alright that we don't handle this. The only scenario that can be weird is to when an admin who also belongs to an org to post as on behalf of the org. But I think we can lea

[2022-03-18 01:53] amywtlin commented on #16890
How about a slight copy edit, and not hiding it at all:

[2022-03-18 02:00] amywtlin commented on #16891
Now looking at #16890, #16891, #16892 together, I think we can align how we communicate this across pages by tweaking this copy a little:

[2022-03-18 03:15] jeremyf commented on #16893
Rephrase "Only admins will be able to post on behalf of organizations."

[2022-03-18 03:59] amywtlin opened #16907 "To confirm: do we need to handle Campaign button, calling for post submission?"
<img width="378" alt="Screen Shot 2022-03-18 at 11 58 41 AM" src="https://user-images.githubusercontent.com/11730007/158934969-a63f5dd9-d819-4e7c-a600-c78a00dcf4e4.png">

[2022-03-18 08:40] amywtlin commented on #16698
You can deploy this! After this is deployed, I will write a post on forem.dev to instruct Creators to turn on the toggle if they want to keep Listings, and then I can schedule a time with @jeremyf to deploy this: #16423

Thanks!

[2022-03-18 09:23] Ridhwana commented on #16698
Merged and deployed to dev.to. It will make its way to other Forems on Monday with the next scheduled deploy.

[2022-03-18 09:23] #16698 closed

[2022-03-18 09:26] #16180 closed

[2022-03-18 13:03] #16709 closed

[2022-03-18 13:51] jeremyf commented on #16750
I have reviewed the document and updated each point with issues.  From this point forward I'm considering that document "frozen"

[2022-03-18 13:51] #16750 closed

[2022-03-18 13:58] jeremyf commented on #16893
I have amended a pull request to modify the language.  I am closing this issue as we have clarity on what the text means.

[2022-03-18 13:58] #16893 closed

[2022-03-18 14:06] jeremyf commented on #16837
Per discussions, we are proceeding with this feature.

[2022-03-18 14:10] jeremyf opened #16908 "Create an AuthZ policy for "Can the user see the analytics page""
This policy is not related to the stats for an individual post but instead for the aggregate stats of all a users posts.

The policy be true if the user has any existing posts OR has the ability to create posts.

[2022-03-18 14:13] jeremyf opened #16909 "Enforce policy for showing /dashboard/analytics"
Dependent on https://github.com/forem/forem/issues/16908

Hide this page:
<img width="1306" alt="Screen Shot 2022-03-18 at 10 13 38 AM" src="https://user-images.githubusercontent.com/2130/159019074-24baedff-b778-4fde-8bd3-c2583b2131b8.png">

[2022-03-18 14:17] Ridhwana opened #16911 "Add/Update the Columns and Values for the Members Index View"
**📖  As an Admin, I want to only see the most important columns on my initial member index view, so that I can get a useful overview of data**

_(Format:  As a [persona], I [want to], [so that])_

<img width="943" alt="Screenshot 2022-03-18 at 16 54 20" src="https://user-images.githubusercontent.com/2786819/159026379-dba605ae-b730-474c-bcc0-98e8df1b3b48.png">

🐣 TASKS

**[Tentative] PR 1: Bare-Bon