[2021-03-01 19:36] #10315 closed

[2021-03-01 19:39] cmgorton commented on #2046
We support gist now:

_GitHub Gist Embed
All you need is the gist link:

{% gist https://gist.github.com/CristinaSolana/1885435 %}
Single File Embed
You can choose to embed a single gist file.
{% gist https://gist.github.com/CristinaSolana/1885435 file=gistfile1.md %}

Specific Version Embed
You can choose to embed a specific version of a gist file. All you need the link and the commit hash for th

[2021-03-01 19:39] #2046 closed

[2021-03-01 19:39] #10271 closed

[2021-03-01 19:40] cmgorton commented on #10250
Hey Lee! Thanks for sharing this issue. I think this would be a pretty interesting conversation to have on Forem.dev so that we could all talk about the trade-offs, complexities, and user experience behind this. :) Would you be interested in kicking off a conversation on Forem.dev? Thanks!

[2021-03-01 19:40] #10250 closed

[2021-03-01 19:42] cmgorton commented on #10178
Hey @jdoss do you think this would make a good RFC? If not we may want to close the issue here. Thanks!

[2021-03-01 19:46] cmgorton commented on #10163
Thank you for opening this request!
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, ple

[2021-03-01 19:46] #10163 closed

[2021-03-01 19:47] ludwiczakpawel commented on #11036
@cmgorton yeap!

[2021-03-01 19:48] cmgorton commented on #10134
Thank you for opening this request.
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, ple

[2021-03-01 19:48] #10134 closed

[2021-03-01 19:50] cmgorton commented on #9343
This is currently being worked on internally. We have an open issue in our internalForem repo for this so I am going to close this one here. Thanks again for opening this and starting the discussion here!

[2021-03-01 19:50] #9343 closed

[2021-03-01 19:52] cmgorton commented on #9265
Thank you for opening this request.
Features tend to be subjective and might spur some debate as you can see in this issue 😄.
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path

[2021-03-01 19:52] #9265 closed

[2021-03-01 19:54] cmgorton commented on #9210
@michael-tharrington another one I am wondering if you think should be an RFC? Thanks.

[2021-03-01 19:58] cmgorton commented on #11036
Great! Thank you for letting me know @ludwiczakpawel

[2021-03-01 20:03] cmgorton commented on #9154
I think we should close this in favor of #12671 and I will add the potential RFC label to it as well to get more visibility on it. Thanks for opening this in the first place Akhil.

[2021-03-01 20:03] #9154 closed

[2021-03-01 20:06] cmgorton commented on #10533
Looks like this is a duplicate of #10533 . Going to close this issue in favor of that one. Thanks!

[2021-03-01 20:06] #10533 closed

[2021-03-01 20:07] cmgorton commented on #9076
Thank you for opening this request.
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, ple

[2021-03-01 20:07] #9076 closed

[2021-03-01 20:08] michael-tharrington commented on #9902
I think we could absolutely take another look at making the sign up/sign in pages a bit more clear! Someone recently wrote in and was confused why they couldn't sign up with email after they noticed that they could sign in with email:

![Image 2021-03-01 at 3 05 32 PM](https://user-images.githubusercontent.com/16007075/109552524-e11b8d00-7a9f-11eb-9b74-617e80f9b90d.png)

I think stage 0 RFC makes

[2021-03-01 20:08] #9067 closed

[2021-03-01 20:09] cmgorton commented on #9012
Hey!
Features tend to be subjective and might spur some debate 😄. The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like this one, please visit [forem.dev](https://forem.dev/) t

[2021-03-01 20:09] #9012 closed

[2021-03-01 20:11] michael-tharrington commented on #9210
Absolutely! We actually wrote up an internal support request related to this today so I'm going to cc' @andy here.

[2021-03-01 20:11] cmgorton commented on #9002
Hey!
Features tend to be subjective and might spur some debate. There has been a lot of talk around which liquid tags we should and shouldn't be adding to the Forem ecosystem.

The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem

[2021-03-01 20:11] #9002 closed

[2021-03-01 20:14] michael-tharrington commented on #10497
Yes indeed! We mentioned the plan to create this feature in the [changelog post for blocking tools](https://dev.to/devteam/changelog-block-tools-for-user-safety-4no3) and I think it makes a lot of sense to follow through with this.

Also, whoever works on this might be interested in looking at the "blocking" feature and fixing the issues that folks have experienced with it not filtering out blocke

[2021-03-01 20:16] cmgorton commented on #2365
@citizen428 and @ludwiczakpawel should we close this issue in favor of #12160? Or is this still separate? I can add the potential RFC label to this if this is different than the custom profile fields.

[2021-03-01 21:14] #8923 closed

[2021-03-01 21:18] cmgorton commented on #8852
Thank you for opening this request.
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, ple

[2021-03-01 21:18] #8852 closed

[2021-03-01 21:19] #8819 closed

[2021-03-01 21:20] cmgorton commented on #8794
Thank you for opening this request.
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, ple

[2021-03-01 21:20] #8794 closed

[2021-03-01 21:25] #10178 closed

[2021-03-01 21:26] jdoss commented on #10178
We solved with some other methods. Closing.

[2021-03-01 22:33] pkfrank commented on #11019
@cmgorton given that the specific "pain point" hasn't come up recently, I'm fine to close it for now.  We can always revisit if we're responding to specific Creator feedback.

[2021-03-01 23:30] #11019 closed

[2021-03-02 02:02] mstruve commented on #11606
Given we have greatly reduced our service worker usage I am assuming this can be closed.

[2021-03-02 02:02] #11606 closed

[2021-03-02 02:06] mstruve commented on #10173
Hi there! We recently removed the majority of our Service Worker caching in https://github.com/forem/forem/pull/12834 With that change, I believe that this should no longer be an issue going forward. I am going to close this, please feel free to reopen if you continue to see this problem.

[2021-03-02 02:06] #10173 closed

[2021-03-02 02:06] mstruve commented on #9642
Hi there! We recently removed the majority of our Service Worker caching in #12834 With that change, I believe that this should no longer be an issue going forward. I am going to close this, please feel free to reopen if you continue to see this problem.

[2021-03-02 02:06] #9642 closed

[2021-03-02 02:08] mstruve commented on #9254
Hi there! We recently removed the majority of our Service Worker caching in #12834 With that change, I believe that this should no longer be an issue going forward. I am going to close this, please feel free to reopen if you continue to see this problem.

[2021-03-02 02:08] #9254 closed

[2021-03-02 02:09] #3649 closed

[2021-03-02 02:10] mstruve commented on #11270
@Zhao-Andy we recently removed the majority of our Service Worker caching in #12834 which I believe should solve this problem. Any chance you can re-test it with the most recent code?

[2021-03-02 02:12] mstruve commented on #12455
Hi there! We recently removed the majority of our Service Worker caching in #12834 With that change, I believe that this should no longer be an issue going forward. Any chance you could test this again and let us know if it's still a problem?

[2021-03-02 02:29] citizen428 commented on #2365
@cmgorton We can probably close this one here and keep the other issue around as it's more generic and more likely to be picked up in one of the next cycles because it's already part of the RFC planning flow.

[2021-03-02 02:47] #10373 closed

[2021-03-02 03:31] Rafi993 commented on #11002
Thank you @cmgorton I have created post in forem.dev https://forem.dev/rafi993/ability-to-insert-to-date-time-in-article-that-gets-converted-to-users-timezone-dk2 about this feature so that the discussion can happen there.

[2021-03-02 03:32] cmgorton commented on #11002
Awesome. Thank you Rafi!

[2021-03-02 03:53] citizen428 commented on #12835
@cmgorton Labelled this as "ready for dev" and also added "good first issue" as the bug is well described and could be fixed by a community contributor looking for a frontend task.

[2021-03-02 04:01] citizen428 commented on #12818
@mstruve I took the liberty to do it as a 15-minute fix during my current OSS rotation, because I was already familiar with this and because it literally took less than 10 minutes from start to finish, so I thought there's no need to spend time on this during the next cycle planning.

[2021-03-02 09:36] rhymes commented on #10037
@cmgorton I think we should add the label! There's definitely a product conversation to be had here, to understand the relationship between a comment and the post it's attached to. I'm not sure we should implement this but advocating it through a RFC would lead to an exploration of the consenquences of these around ownership of content on the platform. Thank you!

[2021-03-02 11:17] danielw93 commented on #10533
Hey I think you linked the wrong issue. #10533 is this one :D

[2021-03-02 13:49] mstruve commented on #12818
Rockin! Thanks!

[2021-03-02 14:42] #2365 closed

[2021-03-02 14:43] cmgorton commented on #12835
I have added it to the MLH project board. If they don't pick it up we can promote it more to the community. Thanks!

[2021-03-02 14:47] cmgorton commented on #10533
You are right! Going to go search again for the correct one. Sorry about that😅

[2021-03-02 15:03] cmgorton commented on #10533
Related: issue #9121

[2021-03-02 15:09] #12265 closed

[2021-03-02 15:34] Zhao-Andy commented on #11270
This seems to be resolved mostly, but one thing I noticed is that going to the old link doesn't redirect. Instead the service worker is showing the cached content. That's probably not the appropriate routing we want, but IMO is a separate issue. Going to close this since the original issue is resolved. :)

[2021-03-02 15:34] #11270 closed

[2021-03-02 15:49] cmgorton commented on #12814
Removing the bug tag so this doesn't get picked up by accident from someone other than the Forem team :)

[2021-03-02 16:28] rhymes commented on #12265
End of an era :D

[2021-03-02 16:39] #12680 closed

[2021-03-02 16:41] kallmanation commented on #12455
@mstruve I've followed my reproduction steps above just now and the issue still remained for me

[2021-03-02 17:04] Miguel-Enrique13 opened #12874 "Refactor public methods of MarkdownProcessor::Parser"
## Describe the issue
There are five public methods on the [MarkdownProcessor::Parser](https://github.com/forem/forem/blob/master/app/services/markdown_processor/parser.rb) that are being used/called. All 5 methods share similar code and return processed HTML to be rendered. Certain issues associated with `MarkdownProcessor::Parser` seem to be only fixed on the [finalize](https://github.com/forem/

[2021-03-02 17:33] vaidehijoshi commented on #12017
@jacobherrington I'm going to add this back into "frontend focused" so that other folks know they can pick it up in the meantime :)

[2021-03-02 18:49] djuber opened #12875 "Rubocop Style guide link to thoughtbot repo is broken"
**Describe the bug**

Documentation only.

In https://docs.forem.com/getting-started/committing/#style-guide, the link to https://github.com/thoughtbot/guides/blob/master/style/ruby/.rubocop.yml should be to https://github.com/thoughtbot/guides/blob/main/ruby/.rubocop.yml instead (replacing the path `style/ruby` with `ruby/` and relabeling the trunk branch from master to main).

This is a result o

[2021-03-02 18:58] cmgorton commented on #12875
Thanks @djuber. Would you like to create a PR for this? If not, no worries. I will let the team know we need to get this sorted out 😄

[2021-03-02 19:04] djuber commented on #12875
yes - PR to follow (looks like a one line change right now).

[2021-03-02 19:05] cmgorton commented on #12875
Great. Thanks for your help here 🙌

[2021-03-02 20:09] vaidehijoshi commented on #12546
This one is actually _super_ easy 😉 I think I can actually "15 minute fix" this so that it doesn't need to wait another 2 weeks 👍🏽

[2021-03-02 21:18] DevLorenz0 opened #12878 "Bug for infinite views"
**Description**

I started blogging on dev.to around a month ago and founded it very cool and well done.
I'm writing this report because I think I founded a bug that allows a blogger to add fake views on a post. The writer (or another user) just has to create another user of chrome and then copy/paste the link indefinitely. It works only by opening the page in a new tab (not refreshing).
So a mali

[2021-03-02 22:22] bnb commented on #12160
Since the pronouns issue was closed, I'd like to restate my hope that pronouns be included as a first-class field regardless of how they're implemented on the backend.

Specifically, having folks have to write a key/value pair of "pronouns" and their pronouns forces a fully opt-in approach. It would be significantly more inclusive a pronouns property on profiles - implemented as custom field or no

[2021-03-03 01:42] #12818 closed

[2021-03-03 02:09] citizen428 commented on #12160
@bnb There's a specific reason why custom profile fields exist: once the Forem codebase has been fully generalized, the list of profile fields is completely manageable by admins. This will affect all the fields you listed as examples, they won't be created by default on new Forem instances in the future. Custom profile fields will allow users to add their pronouns to their profiles even on sites w

[2021-03-03 04:42] citizen428 commented on #12875
PR has been merged, thanks @djuber. Closing.

[2021-03-03 04:42] #12875 closed

[2021-03-03 04:44] citizen428 commented on #12017
@cmgorton Again tagged this as "ready for dev" and "good first issue" as it's very localized to one area of the codebase and well-described, so might be worth putting on the MLH board.

[2021-03-03 04:46] citizen428 commented on #12814
I think there's no compelling reason why this needs to be fixed by a Forem team member, so the bug label seemed sensible to me.

[2021-03-03 04:49] citizen428 commented on #12878
Thanks for opening an issue here @DevLorenz0. While I understand your concerns, there's no direct reward associated with page views, so I'm not sure what exactly an author would gain from engaging in this behavior.

[2021-03-03 05:06] surajondev opened #12879 "Issue : background box of the button on profile via chat section"
**Describe the bug**

There is a background box on the profile when accessing the profile via the chat section.

**To Reproduce**

-  Go to the chat section
- Enter into a chat
- View their profile by clicking on the name

![Caffpture](https://user-images.githubusercontent.com/67496096/109755414-f8778900-7c0b-11eb-8a56-25bf419a89ba.PNG)

**Expected behavior**

I think there should not be any backg

[2021-03-03 06:52] citizen428 commented on #12879
Thanks for the report @surajondev! Here's another screenshot in a lighter theme, that shows a bit more clearly how the buttons overlap the profile image and how their labels are not properly centered on them:

![image](https://user-images.githubusercontent.com/47985/109765505-8ad95600-7c27-11eb-8a40-d8e97e990d46.png)

[2021-03-03 06:55] surajondev commented on #12879
Yes, that's the issue. So who is assigned to do that?

If no one is in your mind right now.

I would love to solve the issue.

[2021-03-03 06:56] citizen428 commented on #12879
Thanks for volunteering @surajondev, I assigned you the issue now.

[2021-03-03 06:56] surajondev commented on #12879
Thank you😀

[2021-03-03 07:41] DevLorenz0 commented on #12878
It's true, even if the author could always easily simulate 10/30 thousand views per article as to be able, by sending photos, to find a sponsor and earn even with a few real views.

Also, it can be used for getting a lot more attention than the author deserves. For example, if they write to me to collaborate and I see that they have an average of 10 thousand views per article, I don't think twice.

[2021-03-03 07:42] bnb commented on #12160
@citizen428 given that path forward, would it be safe to assume that there'll be defaults like display name, location, and bio that are turned on?

If it is, I think my request relatively stands - that it should be shipped within Forem as a default profile field (albeit a custom one that can be removed).

[2021-03-03 09:43] rhymes commented on #12878
@DevLorenz0 one tiny detail that might not have been clear after @citizen428's comment: other people can't see your statistics on Forem websites. Which means that the only way for someone to know how many views you accrued (with or without tricking the system) is for you to share it with them or screenshot your dashboard. That's why @citizen428 said there's no direct reward.

It can be inferred ho

[2021-03-03 11:41] DevLorenz0 commented on #12878
Ok, thanks

[2021-03-03 11:41] #12878 closed

[2021-03-03 13:51] sirius93 commented on #12835
@cmgorton @vaidehijoshi I would like to work on it, if no one has taken it up yet.

[2021-03-03 14:08] cmgorton commented on #12835
Sure @sirius93 . Thanks for helping out. I will assign it to you. 😄

[2021-03-03 14:11] cmgorton commented on #12017
Thanks @citizen428. I was under the impression that the issues in the current cycle board weren't up for contributors since they are labeled Forem team. Is that the wrong assumption?

[2021-03-03 14:12] cmgorton commented on #12814
Ok! I took it off because it was on the current cycle work and labeled Forem team. I didn't want someone from the community to start working on this if someone from Forem team was already going to.

[2021-03-03 15:27] akhil-naidu commented on #12671
It's a long wait, but still have my hope, that one day I can have my own Forem.

[2021-03-03 16:36] #12546 closed

[2021-03-03 16:41] #12046 closed

[2021-03-03 17:12] vaidehijoshi opened #12884 "Twitter liquid tag buttons misaligned"
**Describe the bug**

When using a Twitter liquid tag, the "engagement" icons (the like/retweet/reply buttons below the tweet) content overflow out of the bounding box that contains them. This might be related directly to https://github.com/forem/forem/issues/12772, but since that issue is more broad, I am opening this issue to specifically focus on the twitter engagement icons so that the bug rel

[2021-03-03 17:26] omkz commented on #12884
Hi @vaidehijoshi, I am interested in fixing this issue.

[2021-03-03 17:46] cmgorton commented on #12884
Hey @omkz it looks like this is a duplicate of #12519 which has already been assigned to someone. You can keep an eye on that issue and see if the contributor is still working on the issue. Thanks!

@vaidehijoshi since this is a duplicate I am going to close this one here.

[2021-03-03 17:46] #12884 closed

[2021-03-03 18:06] Miguel-Enrique13 commented on #12874
After discussing this issue with @mkcode we came up with the following:
- The only difference between the 4 `evaluate` methods are the `allowed_tags`
- The difference between finalize and the 4 `evaluate` methods are the `liquid_tags`
- Since all the public methods share a lot of the same code, we can consolidate them into one public method. This public method would take in the following cofig val

[2021-03-03 18:08] vaidehijoshi commented on #12017
Given that we have a bunch of heavyweight RFCs to either implement or flesh out this cycle and that this is well-scoped and isolated to Connect, I think we’re good to  move this to the MLH board if they have the bandwidth 👍🏽 Our team might not be able to get to it this cycle given other higher priority tasks, so I think it’s all good to move this off if we think other folks will be well-equipped t

[2021-03-03 18:10] vaidehijoshi commented on #12814
We added this one to the cycle board so that it would be picked up and fixed sooner rather than later, but if we think it is something that is good for MLH fellows, I’m happy to move it over to them.

[2021-03-03 18:14] cmgorton commented on #12814
The one fellow currently up and running would rather work on backend issues. There is another fellow who wants to work on frontend so I will add this to their board so we can discuss it when I meet with them on Friday. Thanks.

[2021-03-03 19:39] vaidehijoshi commented on #12671
Given that we're gearing up to get FOSS rolling soon and working towards unblocking ourselves on that front, seems like it might be a good time to do a quick audit of the self-hosting docs and update them with any new info/remove outdated info. This could be a first step towards our larger FOSS goal.

This update wouldn't need to be major -- it would just be a copy change -- so this issue could mo

[2021-03-03 19:44] vaidehijoshi commented on #12643
@aitchiss Could this be opened up to the community? It definitely looks like an improvement, but if the solution is straightforward enough, we might be able to find some frontend-minded OSS community members to help out with this one :)

[2021-03-03 19:45] vaidehijoshi commented on #12884
Ah, thanks @cmgorton! Didn't realize that we had a specific issue for the action buttons already :)

[2021-03-03 20:10] mstruve commented on #12671
I am not sure if a dev would be able to do this. I think this might need the systems team's input and help and I would rather have them focused on the FOSS work rather than updating these docs which will be out of date in a couple of months when the FOSS offering is ready.

[2021-03-03 21:49] vaidehijoshi commented on #12671
Oh! Okay -- from the issue description I thought it would be a straightforward copy change that any dev could tackle quickly. If it's not and if it requires systems help, then I agree that we shouldn't do this now (especially if it's going to take more than a negligible amount of time given that we plan to overhaul it with FOSS). Mostly was thinking we could do this as as stop-gap, but it looks li

[2021-03-04 00:50] #12571 closed

[2021-03-04 02:39] citizen428 commented on #12160
@bnb Yes. We currently have the following list of base fields:

* Summary (aka bio)
* Location
* Website URL
* Display email address on profile (a checkbox)

We can add more fields to this list. I brought up your request with our product team and will keep you in the loop 😃

[2021-03-04 02:56] citizen428 commented on #12017
Sorry, @cmgorton, I should have added more context here, but basically what @vaidehijoshi said. If MLH has the bandwidth for this issue, I think we should remove the "Forem team" label and hand it over to them.

[2021-03-04 09:11] aitchiss commented on #12643
@vaidehijoshi yes definitely!

Whoever picks this up - we can add the rule as a "warning" initially, and then we can accept as many small PRs as needed to clear up the warnings before changing it to an "error" rule 👍

[2021-03-04 14:20] cmgorton opened #12899 "Users unable to sign up for new account with Apple ID"
**Describe the bug**
Several users have reported that they are unable to sign up for a new account with Apple ID. They

**To Reproduce**
1) They choose to sign in with Apple ID
![Step one apple sign up](https://user-images.githubusercontent.com/21039864/109977748-c1b07a00-7cc2-11eb-80a7-f212a5c935f3.png)

2. They continue with password
![Step 2 apple sign in](https://user-images.githubusercontent.

[2021-03-04 14:35] michael-tharrington opened #12900 "Remove Outdated Language From "Publishing to DEV Community from RSS" in Settings"
**Describe the bug**

When looking at "Publishing to DEV Community from RSS" in 'https://dev.to/settings/extensions', the top line says "Posts will land in your dashboard as drafts, and then you can publish from there **(or give DEV Community admins permission to do so).**"

This appears to be dated language from a feature that we provided early on. We do not currently have the capacity to post ar

[2021-03-04 17:22] solvingj commented on #9759
Another case here. I think in my case, I'm seeing a bug where I:

1. set the URL correctly
2. changed it to an incorrect URL accidentally and saved it
3. wasn't seeing the changes after refresh, so I unpublished and republished
4. now I cannot set the correct value again, seemingly no matter what I do

So, it feels like maybe the process which checks "all articles" might be caching and not letting

[2021-03-04 19:27] vaidehijoshi commented on #12443
@nickytonline quick question -- I saw you are assigned to this but also noticed it never made it into our current cycle work. Are you still working on/investigating it? I just added it to our issues to review in the meantime, but wanted to drop a note here to make sure I'm not missing anything as well :)

[2021-03-04 19:57] atsmith813 opened #12903 "Add pg_search gem"
Add the [pg_search gem](https://github.com/Casecommons/pg_search)

[2021-03-04 20:01] atsmith813 opened #12904 "Enable pg_search extensions"
The [pg_search gem](https://github.com/Casecommons/pg_search) needs 2 default PostgreSQL Extensions installed to work properly
- [`unaccent`](https://github.com/Casecommons/pg_search#ignoring-accent-marks)
- [`pg_trgm`](https://github.com/Casecommons/pg_search#trigram-trigram-search)

More info can be found in the RFC spike [here](https://github.com/forem/forem/pull/11985/files#r553056191).

[2021-03-05 00:07] vaidehijoshi commented on #12160
@bnb 👋🏽 Thanks for your patience here. I wanted to chime in from the product side and let you know that we agree with your recommendation that pronouns should be a first-class citizen in the form of a default profile field that comes enabled for all Forems. ❤️

[2021-03-05 00:23] bnb commented on #12160
Thanks, y'all ❤️

[2021-03-05 03:44] citizen428 commented on #12899
@joshpuetz Can we close this now that both your PRs were merged?

[2021-03-05 11:06] #10927 closed

[2021-03-05 15:28] #12900 closed

[2021-03-05 15:30] #12903 closed

[2021-03-05 15:30] #12904 closed

[2021-03-05 15:39] joshpuetz commented on #12899
Great catch, closing now @citizen428 !

[2021-03-05 15:54] cmgorton commented on #4195
@rhymes do you know where we are at with this issue? Is this something we should label as a potential RFC?

[2021-03-05 16:16] cmgorton commented on #11532
Thank you for opening this request!
Features tend to be subjective and might spur some debate. The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, please visit [forem.dev](https:

[2021-03-05 16:16] #11532 closed

[2021-03-05 16:17] #5150 closed

[2021-03-05 16:18] cmgorton commented on #3921
Hey @jacobherrington I see this has been around for awhile now. Is this something you would like to keep open and create an RFC for?

[2021-03-05 16:20] cmgorton commented on #3802
@jessleenyc any thoughts on this feature request? Do you think this should be labelled as a potential RFC?

[2021-03-05 16:21] cmgorton commented on #3613
Thank you for opening this request.
Since this has been open for awhile without much progress lately I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new featu

[2021-03-05 16:21] #3613 closed

[2021-03-05 16:23] cmgorton commented on #5091
Thank you for opening this request.
Features tend to be subjective and might spur some debate. The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like this one, please visit [for

[2021-03-05 16:23] #5091 closed

[2021-03-05 16:24] #10072 closed

[2021-03-05 17:17] sammychinedu2ky commented on #12814
Can you assign this to me .😃

[2021-03-05 17:40] mkcode commented on #12874
[code]

Should the liquid tags be parsed by default or not?

[2021-03-05 17:49] Miguel-Enrique13 commented on #12874
These are the proposed interface changes to the MarkdownProcessor::Parser. It is flexible enough to provide an equivalent method for all the calls the application currently makes.

[code]

Default tag sets will be defined as a CONST hash at the top of the Parser and can be added as needed.

This refactoring work would give us 1 public method for markdown evaluation, that can be fully tested as wel

[2021-03-05 18:07] csaltos commented on #1228
The security implication is the following:

If the HTM is not cleaned then a <script> tag can be introduced ... and with that, an attacker can hijack the session of a potential victim, use Javascript to create content without authorization, etc.

IMPORTANT: sadly, as mentioned by @mzaini30 if you change the "<" character for "&lt;" and > for "&gt;" then the tag will go through (including script ta

[2021-03-05 21:02] KL13NT opened #12917 "Request: RTL support"
Is there any plan to add RTL support? GitHub manages to render RTL content using html `<div dir="rtl">`. There are multiple ways to add this, if anyone's interested.

Proper rendering with css `direction: rtl`:

![image](https://user-images.githubusercontent.com/20807178/110173014-b2d2e000-7e06-11eb-8027-b06fed7d8743.png)

How dev.to renders it:

![image](https://user-images.githubusercontent.com/

[2021-03-05 22:14] Miguel-Enrique13 commented on #12522
@cmgorton - Could you assign me to this issue

[2021-03-05 23:23] vaidehijoshi commented on #12159
Dropping a note on behalf of @forem/product-planning:

Since the profile generalization work is all pre-RFC process, when we get to this issue, let's take a beat to make sure we're all happy with the admin guide documentation for this feature, the admin experience/"messaging" of how to use profile fields, double-check the defaults for the fields, and touch base on whether there are any fields we w

[2021-03-05 23:33] vaidehijoshi commented on #12643
@cmgorton tagging you here in case you know of a MLH fellow who might want to take this on 😉

[2021-03-05 23:41] vaidehijoshi commented on #12772
@cmgorton I think that between https://github.com/forem/forem/issues/12519 and https://github.com/forem/forem/pull/12836...this issue will be covered by 2 different members of the community?

If I'm understanding that correctly, should we remove this from our cycle work and take the `Forem team` tag off of it? 🤔 Let me know if I'm missed something!

[2021-03-05 23:58] cmgorton commented on #12772
This was picked up by someone in the community but they decided they were not comfortable sign the cla. So another community member picked it up. So in short, yes the Forem team label can be removed.

[2021-03-06 19:02] markerikson opened #12921 "Dev.to RSS feed no longer includes full text of posts"
**Describe the bug**

The dev.to RSS feed at https://dev.to/feed has always returned the full text of every post.  Within the last couple days, it's stopped including the full text, and now only has titles.

**To Reproduce**

Open https://dev.to/feed and inspect the XML feed contents.

**Expected behavior**

The RSS feed would still have the full contents of every post.

**Screenshots**

Screensho

[2021-03-07 15:02] dword-design opened #12922 "Cannot change canonical url after it has been set"
**Describe the bug**

First set of canonical url for a post works, but when going back to edit mode and changing the url, then hitting Done, you can quickly see that client side the url is set back to its saved value. Thus, it is not possible to change the url anymore.

**To Reproduce**

1. Open a blog post
2. Hit "Edit"
3. Hit "Post Options"
4. Set the option "Canonical URL"
5. Hit "Done"
6. Hit

[2021-03-07 22:17] vaidehijoshi commented on #11713
This is on track to be worked on by [RFC #25](https://github.com/forem/rfcs/pull/25), so I think we can close this issue out :)

[2021-03-07 22:17] #11713 closed

[2021-03-08 01:58] citizen428 commented on #12921
cc @rhymes

[2021-03-08 02:14] citizen428 commented on #12917
@KL13NT Thanks for the issue! Support for right-to-left (RTL) languages would most likely be added as part of our wider I18n efforts but probably at a later stage due to potentially necessary styling changes, etc..

In the meantime, feel free to post your request on https://forem.dev/, which would help us gauge how many other users are potentially interested in this.

[2021-03-08 04:56] citizen428 commented on #12522
@Miguel-Enrique13 Before you start, we should ensure that this is not expected behavior: on `User` we don't only store the current username but also the last 2 (`old_username` and `old_old_username` IIRC), so what is described here may be intentional. cc @forem/product.

[2021-03-08 10:05] rhymes commented on #12917
Adding this older issue as reference as well https://github.com/forem/forem/issues/1239

[2021-03-08 12:26] rhymes commented on #4195
@cmgorton thanks for bringing this up! I don't think we can dedicate bandwidth to this now as it sits in a much larger conversation about how to evolve the API. In addition to that and on very practical terms, we don't want to enable CORS for authenticated endpoints as we require an `api-key` header which would likely end up being embedded in public frontends with understandable consequences.

I t

[2021-03-08 13:53] #12921 closed

[2021-03-08 14:24] cmgorton commented on #12917
Hey @KL13NT thank you for this request. The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like this one, please visit [forem.dev](https://forem.dev/) to start a discussion aroun

[2021-03-08 14:24] #12917 closed

[2021-03-08 14:43] aitchiss opened #12939 "Some animation transitions may make content inaccessible to ChromeVox users"
**Describe the bug**

We recently became aware that ChromeVox (the in-built screen reading software for Chromebook) does not announce content that is set to have `opacity: 0` (even if the opacity is then later transitioned to opacity > 0 via e.g. an animation) (See https://twitter.com/sarasoueidan/status/1365696682529333253)

We have a few instances in the app where we use `opacity: 0` as the star

[2021-03-08 14:45] rhymes commented on #12921
@markerikson Thanks for the heads up! Article bodies are restored 🙌

[2021-03-08 15:57] markerikson commented on #12921
Cool, thanks!

[2021-03-08 19:15] deepakmahakale commented on #12683
Hi @forem/oss @forem-team @citizen428 ,

I tried to take a look at the issue

[code]
As per my understanding:
It seems that converting the `article.edited_at` to `local_date` should fix the issue.

Let me know if my understanding is correct and if converting the edited_at date is ok.

[2021-03-08 19:31] deepakmahakale commented on #12683
Proposed solution:
[code]

[2021-03-09 01:17] vaidehijoshi commented on #12569
I was able to reproduce this by putting two github liquid tags into my markdown, one after the other. This is what I had in the markdown:
[code]
Which rendered this:
<img width="921" alt="Screen Shot 2021-03-08 at 5 10 52 PM" src="https://user-images.githubusercontent.com/6921610/110403282-b302f380-8031-11eb-839d-80c3bc8bb3d4.png">

But when I changed my markdown to include a line break between th

[2021-03-09 02:52] citizen428 commented on #12683
@deepakmahakale Since you already made a local commit, could you please open a PR and we have the discussion there?

[2021-03-09 11:25] nickytonline commented on #12017
Since we gave the mention autocomplete feature RFC currently being implemented in #12694, we should hold off on this until that is completed so we can use that instead for this issue.

[2021-03-09 13:08] Afif13 commented on #12683
No really, it's probably related to my browser that is set to French in the
language setting

Le mar. 9 mars 2021 à 10:35, Deepak Mahakale <notifications@github.com> a
écrit :

[2021-03-09 13:56] cmgorton commented on #12017
Hey @nickytonline not sure I understand what you mean. Should I remove this from the MLH project board? Are we implementing this feature in a different RFC instead?

[2021-03-09 13:58] nickytonline commented on #12017
No, it's still good for MLH to work on @cmgorton . What I meant was, we have a component for this now that @aitchiss is working on that they'll be able to use to fix this issue.

[2021-03-09 14:52] deepakmahakale commented on #12683
Thanks @rhymes ,
Just changed the language setting and tested.

[2021-03-09 15:08] ellativity commented on #12899
Hey, I just went through the process using an incognito window and my Apple ID, taking screenshots of the entire process. Does this help at all?

![Screenshot 2021-03-09 at 16 04 10](https://user-images.githubusercontent.com/76786132/110491337-7991bd00-80f1-11eb-8cf5-1eb2f071b88c.png)
![Screenshot 2021-03-09 at 16 04 16](https://user-images.githubusercontent.com/76786132/110491339-7ac2ea00-80f1-11

[2021-03-09 15:12] fdoxyz commented on #12899
I just tested this out more thoroughly (in dev.to) and there's definitely something odd going on.

| Browser (OS)  |  Works? |
| ------------- | ------------- |
| Chrome (macOS)  | ❌ |
| Firefox (macOS)  | ❌ |
| Safari (macOS)  | ✅ |
| ForemWebView (iOS)  | ✅ |
| Safari/Chome (iOS)  | ✅ |

So there has to be something weird going on in non-webkit browsers, which are **the exact browsers that have

[2021-03-09 15:16] fdoxyz commented on #12899
I tried this out in https://community.benhalpern.com but I noticed the config there broke. I have to re-upload the configs (the `.pem` key) and I will do this soon so we can use that one for easy testing @joshpuetz

[2021-03-09 15:52] fdoxyz commented on #12899
Update: This ^ can now be tested in https://community.benhalpern.com again

[2021-03-09 16:48] jacobherrington commented on #3921
@cmgorton This is pretty old - either option is fine with me. I like the idea of making the open source side of Forem more visible, but I'm not sure we need to handle this right now.

[2021-03-09 18:59] benhalpern opened #12954 "Is the app erroneously requiring rails/all and action_mailbox?"
I was perusing the output `bundle exec derailed bundle:mem` for an unrelated curiosity (as on does), and I got this at the top of the output:

[code]

I thought we selected the libraries we wanted instead of using `rails/all` in `application.rb` ... So I was surprised to see these `action_mailbox` dependencies. `action_mailbox` is for _receiving_ mail, which we don't do in our app. Not to be confu

[2021-03-09 19:40] ghiculescu commented on #11596
Hi, author of https://github.com/rails/rails/pull/41084 here. I don't know how long it will be (if ever) before this is merged into Rails.

I'd love to see you go ahead with this, though I can see why you may not want to right away. Partially becausea I don't know how long you'll be waiting otherwise, but also selfishly because more real world use cases would help with battle testing https://githu

[2021-03-09 21:10] joshpuetz opened #12955 "Remove approvals Gem ✂️✂️✂️"
## Description

Closing the loop on a discussion in the [Rails 6.1 upgrade thread](https://github.com/forem/forem/pull/11333#issuecomment-781475076), we've decided to remove the [Approvals gem](https://github.com/kytrinyx/approvals) as it a) doesn't work with Rails 6.1, and b) hasn't be updated in a very long time. There are around 10 tests that currently use the Approvals gem: these should be rew

[2021-03-10 06:22] KL13NT commented on #12917
I started a [discussion](https://forem.dev/kl13nt/request-rtl-support-56p8) on forem.dev for anyone interested in this issue in the future.

[2021-03-10 07:51] citizen428 commented on #12955
@joshpuetz Should we open this up for potential community contributors or would we rather get this over with ASAP?

[2021-03-10 08:54] citizen428 commented on #12157
One more thing that needs attention is the discussion here: https://github.com/forem/forem/pull/12015#discussion_r548349608

This PR added some constants to `Profile` that list fields that will require special treatment if they exist with exactly this name.

[code]

After sitting on this for over two months, I'm still not convinced by the approach:

1. For this to be useful, we'd have to communica

[2021-03-10 10:21] lightalloy commented on #3811
Closing as done with #12913

[2021-03-10 10:21] #3811 closed

[2021-03-10 10:28] #12683 closed

[2021-03-10 11:35] aitchiss opened #12961 "Accessibility improvements to crayons notices"
There are a few places in the app where we use `crayons-notice` to display dynamic information, warnings or errors. At the moment, these dynamic updates are not announced to screen reader users.

Following on from the improvements to banners made in #12919, we should make use of `role="alert"` and `aria-live="polite"` for `crayons-notice` instances, so that the information is conveyed to all users

[2021-03-10 11:37] aitchiss commented on #11726
Closed by #12511

[2021-03-10 11:37] #11726 closed

[2021-03-10 14:13] flaki commented on #9657
Hey, I think I'm running into the same issue on the [Web Monetization community](https://community.webmonetization.org/).

I used the built-in image hosting to upload a gif. The generated markdown contains the following URL:
[code]
The above image can be [opened](https://community.webmonetization.org/remoteimages/uploads/articles/fx27s08fco6ul6up062l.gif) perfectly fine and the gif will load and p

[2021-03-10 14:16] fdoxyz commented on #12899
I tested this out and I believe the PR ^ fixed the issue.

There's a chance the service worker is not being updated automatically though, so the problem could still be there for some users. I'm reopening for now and giving this some more time to see if more reports come through.

@ellativity whenever you have a minute, could you try to log in again using Apple Auth in DEV? Do you get the same resu

[2021-03-10 16:33] benhalpern commented on #12954
Ah @citizen428, that makes sense. I'll close the issue.

[2021-03-10 16:33] #12954 closed

[2021-03-10 20:59] cmgorton commented on #735
Hey all. Thanks for bringing this up. This issue will now be encompassed in the broader accessibility issue Marcy has opened #11504 . If we have any more comments or suggestions we can leave them in that issue.
Since that is the case I am going to close this issue.

[2021-03-10 20:59] #735 closed

[2021-03-10 20:59] cmgorton commented on #1273
Hey all. Thanks for bringing this up. This issue will now be encompassed in the broader accessibility issue Marcy has opened #11504 . If we have any more comments or suggestions we can leave them in that issue.
Since that is the case I am going to close this issue.

[2021-03-10 20:59] #1273 closed

[2021-03-10 21:49] atsmith813 commented on #12874
That's a good question 🤔 . `finalize` uses it and it's called in 6 places. The other parser methods which don't parse liquid tags are called in 8 places. Close split. Maybe it _shouldn't_ be parsed by default then?

cc: @rhymes @citizen428 for more thoughts on this

[2021-03-10 21:50] atsmith813 commented on #12874
I think this may already be covered, but we also need to make sure we cover `source` and `user` arguments:

https://github.com/forem/forem/blob/68831039d123ea33c11a36ac1aa12e92a09b93eb/app/services/markdown_processor/parser.rb#L12-L16

[2021-03-10 23:30] djuber opened #12965 "User moderation "flag user" action has no effect on article scores"
**Describe the bug**

As a moderator, when I flag a user as abusive, nothing happens to the article score.

Expected: users articles are given lower weight ("This is the equivalent of vomiting on all of this users articles")

Observed: nothing happens to article scores and user's articles maintain the same weight.

**To Reproduce**

working on this (setting up a local env to reproduce locally).

*

[2021-03-11 03:12] nickytonline commented on #12443
@vaidehijoshi, I had assigned it to me, because one of the folks pairing on the DEV stream was potentially going to work on it but they chose something else. I have someone coming on the stream next week that would like to pair on this.

[2021-03-11 03:43] vaidehijoshi commented on #12443
Sounds good -- I can take it out of the funnel in that case since you have a plan for it 👍🏽

[2021-03-11 04:06] citizen428 commented on #12157
I thought about this a bit more, here are two possible approaches I came up with:

1. Instead of full flexibility, we divide the profile page into "slots", something like this:
   ![Uploading 2021-03-11 10_57_00-Michael Kohl - DEV Community 👩‍💻👨‍💻 and 10 more pages - Personal - Microsoft.png…]()
    Here each red box would be a slot and we would define what can go in there, e.g. (1) any text area,

[2021-03-11 06:08] citizen428 commented on #12874
I'm almost tempted to say make it a kwarg with no default, so it has to be specified and there can't be any confusion at the call sites.

[2021-03-11 12:44] hazemalabiad opened #12968 "Badge is not accessible in dark mode pages"
When using a Dev badge in dark mode pages, it is not converting the background color to fit the existing mode (light or dark)
Badge Source Code: https://dev.to/p/badges
Type: SVG
![image](https://user-images.githubusercontent.com/16942677/110789330-ceb00900-8280-11eb-8cfd-377c49917317.png)

[2021-03-11 14:27] cmgorton opened #12969 "Users receive a CSRF error when trying to sign in with Github."
**Describe the bug**
When users attempt to sign in with Github they receive
 the following error "Could not authenticate you from Github because "CSRF detected"
![Captura de Tela 2021-03-11 às 11 09 28](https://user-images.githubusercontent.com/21039864/110801912-50814180-8243-11eb-93ac-96534aa93a53.png)

**Additional context**
"I've recently changed my GitHub username and can no longer sign-in wi

[2021-03-11 14:43] cmgorton commented on #12968
Hey @hazem94 where did you get the badge from. Are you using a PNG, SVG, or Font awesome?

[2021-03-11 18:55] cmgorton commented on #12955
@joshpuetz will this issue make the work needed on issue #12355 irrelevant?  I am not sure if the contributor that is assigned to it is still working on it but I want to make sure I let them know the work is no longer needed if this issue completely removes the Gem,

[2021-03-11 19:17] hazem94 commented on #12968
@cainwatson from [Dev.to](https://dev.to/p/badges) I am using SVG.

[2021-03-11 19:21] joshpuetz commented on #12955
It absolutely will! I'll add that to the issue text here, and if you can get in touch with https://github.com/forem/forem/issues/12355 's contributor I'd appreciate it!

[2021-03-11 19:39] cmgorton commented on #12955
Great. I will reach out to them on that issue. Thanks!

[2021-03-11 19:42] cmgorton commented on #12355
@narender2031 thanks so much for jumping on this issue.
The Forem team is hoping to move to Rails 6.1. In order to do that we actually need to remove the approvals Gem as it a) doesn't work with Rails 6.1, and b) hasn't be updated in a very long time.

For that reason we no longer need contributions on this particular issue. I am going to unassign you here but please let me know if you see any oth

[2021-03-11 23:00] vaidehijoshi opened #12976 "Embedding comment liquid tags with animation breaks CSS"
**Describe the bug**

When embedding a `comment` or `devcomment` (which I think is a legacy thing?) in a post with the markdown editor, the CSS breaks when the first comment seems to have an animation in it.

**To Reproduce**

1. Create a new draft post using the markdown editor
2. Paste this markdown into it:

[code]

3. Save a draft, and view the post. You'll notice that the post's rendering is

[2021-03-11 23:38] djuber opened #12977 "SENDGRID_API_KEY should be present in the sample environment config file"
**Describe the bug**

Forem currently can't send email in production without a sendgrid api key (the sendgrid service dependency is set in config/environments/production.rb), but the .env_sample doesn't include SENDGRID_API_KEY which is set as the password.

Ideally the outbound email service would be configurable, but in the meantime listing the required ENV var would help someone setting forem u

[2021-03-11 23:42] vaidehijoshi commented on #12955
I started poking at this today and ended up actually starting the process of removing `approvals` locally, so I'm going to go ahead and assign myself to this 😂 I might need some help figuring out how to "un-Approval" some of our specs, but I'll at least open up a draft PR with what I whipped up so far in the last 15 minutes :)

[2021-03-12 10:39] ludwiczakpawel commented on #12976
It doesn't seem to be related to the animation (or the fact that we have CSS code inside) itself. I've tested couple scenarios and it looks like comment liquid tag will break other content if it contains code block and the code block is prefixed with SOME elements.. For example this will break it too:

<pre>
Hello Vaidehi.

[code]
</pre>

as well as this:

<pre>

[code]
</pre>

BUT! These will not

[2021-03-12 11:01] ludwiczakpawel commented on #12976
Something something [parser.rb#add_fullscreen_button_to_panel](https://github.com/forem/forem/blob/master/app/services/markdown_processor/parser.rb#L153) something

^ if you comment out that one method, it's all good.  Sooo that seems relevant....

[2021-03-12 13:35] MenaiAla opened #12981 "How to remove undesired ( unwanted ) posts from the feed?"
One of the most important **Design Heuristics** is giving users __Freedom & Control __ when they interact with their UI.

When I check my feed and scroll the page, I want ( sometimes ) remove undesired posts that do not match my interest.

I expected to find a **•••** button that allow me to remove the posts from the feed, based on my **mental modal** with other social blogging websites.

I'd reco

[2021-03-12 14:11] #12879 closed

[2021-03-12 16:58] #12977 closed

[2021-03-12 22:30] benhalpern opened #12987 "Secondary Image (and possible other images) broken"
**Describe the bug**

The image derived from this method:

`optimized_image_url(safe_logo_url(SiteConfig.secondary_logo_url))` appears to be broken everywhere in the Forem fleet

**To Reproduce**

Visit home page of http://the.community.club/ and scroll down

**Expected behavior**

Logo should exist. This problem is not occuring on DEV, which uses Cloudinary instead of imgproxy.

I also noticed a

[2021-03-12 22:35] Zhao-Andy commented on #12987
Hmm @maestromac possibly related to imgproxy?

[2021-03-12 23:09] maestromac commented on #12987
yeah pretty sure it is, taking a look now.

[2021-03-13 05:06] Chemah opened #12989 "Implement a StackEdit like side preview mode in MD the editor"
It would be nice to have an optional side preview in the MD editor like in [StackEdit](https://stackedit.io) to see how the content looks like in realtime and detect format errors quickly.

[2021-03-13 18:33] mstruve commented on #12736
Updated those 5 users with profiles so I think we should be good to go with this. No new users have popped up in the last 20 days. If there is more to do let me know!

[2021-03-13 18:33] #12736 closed

[2021-03-13 23:55] AfroDevGirl commented on #8884
@citizen428 I'm a cloud Forem admin with an international community. We would really appreciate all special characters in tags, but at least ones that are important to different languages, like ñ for example. Have there been discussions recently on the viability of this request?

[2021-03-14 01:22] crisbnp opened #12990 "Recent Comments section in User profile is not linked to either user’s comments or related article"
**Describe the bug**

Recent comments section of a user profile which lists out recent comments a user has left on an article is not linked to the relevant article or the user's comment. It takes you to a page with header and footer.

**To Reproduce**

1. Go to a user profile
2. Scroll down to Recent Comments section
3. Click on an article where the user has commented
4. Note the bug - the link ta

[2021-03-14 05:37] vivek7405 opened #12991 "Individual scroll for Feed, left & right menu section"
Can we have individual scroll for the left and right menu section so that we don't need to scroll the feed/post to access the menu items at the bottom.

[2021-03-14 07:57] hazem94 commented on #12968
I suggest that there could be two: one for the light theme, and another for the dark theme.

[2021-03-14 18:11] leewynne opened #12992 "Organisation images not uploading on hosted Forems."
**Describe the bug**

When you attempt to create a new organisation, uploaded images aren't saved or displayed.

**To Reproduce**

Go to settings
Create an organisation
attempt to upload profile images.

**Expected behavior**

Profile images are saved and displayed inline.

**Additional context**

This isn't happening with heroku hosted Forems, just Forem hosted ones, it could be trying to upload

[2021-03-15 02:49] citizen428 commented on #8884
@AfroDevGirl The last one I personally can remember was in the PR linked to this issue ([see here](https://github.com/forem/forem/pull/9006#discussion_r447362666)), but that may not be the last time it was discussed. Calling on @forem/product to weigh in here please.

[2021-03-15 03:54] citizen428 commented on #12990
Thanks for the report @crisbnp, but I wasn't able to reproduce this. We had some service worker issues lately, so can you please do a hard refresh and see if you still experience this problem?

[2021-03-15 07:36] crisbnp commented on #12990
Hi, I can't do a hard refresh on iOS on the phone. What I did do was clear history and website data and I am still experiencing the same problem.

I did a little bit more digging. I tried to reproduce the issue using my husband's phone - not logged in and logged in to my account, I could not reproduce the issue there. I did a bit more digging and it may have something to do with content blocker ap

[2021-03-15 16:54] sethburtonhall commented on #12443
Hey @nickytonline, reviewing this issue and looking forward to the stream this week.

[2021-03-15 17:28] benhalpern opened #12998 ""Google systems have recently detected that SharedArrayBuffers (SABs) are used on https://dev.to/, but COOP and/or COEP headers are not served.""
Here was a message we got in Google Search Console

[2021-03-15 18:42] nickytonline commented on #12443
Awesome. I've assigned it to you.

[2021-03-16 01:47] citizen428 commented on #12990
Hmm, that's very interesting, thanks for the extra context @crisbnp!

[2021-03-16 07:36] jayendranarumugam opened #13002 "Ability to provide a Auto-Save for any new Draft post"
It's more kind of a feature here

I'm writing my post in dev.to , which is still in draft mode. Accidently I forget to click the save button the next day when I saw my yesterday's contribution was gone and the draft has only the version which I saved so earlier.

It would be great if you can provide an auto-save feature for any draft version on the post. So that it won't be a big shock like me for

[2021-03-16 11:09] rhymes commented on #12987
Is this related by any chance @maestromac ? https://github.com/forem/forem/issues/12992

[2021-03-16 13:40] #12751 closed

[2021-03-16 14:36] maestromac commented on #12987
@rhymes no I don't think so. Lee doesn't use imgproxy so that has to be something else.

[2021-03-16 14:36] #12987 closed

[2021-03-16 14:45] rhymes commented on #12701
Hi @sandordargo, sorry for the delay!

We don't allow authenticated endpoints through CORS, only the public ones that don't require authentication. It's written at the top of the [API docs page](https://docs.forem.com/api/):

The reason is that we don't want to encourage hardcoded API keys in public frontends. My suggestion is to build a proxy: client calls server with stored API keys which calls

[2021-03-16 14:45] #12701 closed

[2021-03-16 15:18] cmgorton commented on #12989
Thank you for opening this request.
Features tend to be subjective and might spur some debate. The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, please visit [forem.dev](https:

[2021-03-16 15:18] #12989 closed

[2021-03-16 15:18] cmgorton commented on #12991
Thank you for opening this request.
Features tend to be subjective and might spur some debate. The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, please visit [forem.dev](https:

[2021-03-16 15:18] #12991 closed

[2021-03-16 15:19] cmgorton commented on #12992
Thanks for reporting this Lee.

[2021-03-16 15:21] cmgorton commented on #13002
Thank you for opening this request.
Features tend to be subjective and might spur some debate. The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, please visit [forem.dev](https:

[2021-03-16 15:21] #13002 closed

[2021-03-16 16:33] djuber opened #13006 "User#trusted memoization should be boolean aware"
**Describe the bug**

When checking if a `User` is trusted, we use instance variable memoization, however the two values we expect are true and false, and for false values we always refetch (defeating the cache). To put it another way, we always remember if a user is trusted, but never remember that they're not.

**To Reproduce**

Confirming there's no cache used,  caching when user _is_ trusted

[2021-03-16 16:58] djuber opened #13008 "Scoring articles sends the current score, not the new score, to the blackbox"
**Describe the bug**
When updating the score for an article, we calculate the new score for the article, and pass it to the BlackBox to calculate hotness and spaminess, however this `self` doesn't have the newly computed score set so the hotness and spaminess are using less than current information.

**To Reproduce**

I'll get a test case in place for this - but the key point is when changing the

[2021-03-16 17:32] cmgorton commented on #12969
@fdoxyz we had another person email us today with this issue.

Going to drop what they said here:
_I cant seem to log in  to dev.to due to this error when trying to log in using Github. Please assist?
I'm using Google Chrome 89.0.4389.90 on a Mac_
![Screen Shot 2021-03-16 at 11 28 34 AM](https://user-images.githubusercontent.com/21039864/111353283-c4a85480-864a-11eb-8383-53995fea2760.png)

**We as

[2021-03-16 19:04] #12965 closed

[2021-03-16 23:58] #13006 closed

[2021-03-17 09:55] #12569 closed

[2021-03-17 13:22] mstruve commented on #12157
I like the idea of having a couple of fields on the user like summary and location and then those exist on all profiles.

As for @citizen428's suggestions, I do think we need product to help make a decision for that. @forem/product what are your thoughts on profile display options and all of the above discussion on having some profile fields consistent across all forems?

[2021-03-17 14:05] Zhao-Andy commented on #9184
Hi all, this should be resolved. Let us know if you have this issue again!

[2021-03-17 14:05] #9184 closed

[2021-03-17 15:17] michael-tharrington commented on #12987
Could this be affecting badges too @maestromac?

This is what things look like on [jess.lol.forem](https://jess.forem.lol/michaeltharrington2):

![Image 2021-03-17 at 11 15 04 AM](https://user-images.githubusercontent.com/16007075/111491227-11a32e00-8712-11eb-9d63-c6cba95d4d0a.png)

Also, on the [Web Monetization Community](https://community.webmonetization.org/michaeltharrington):

![Image 2021-0

[2021-03-17 15:44] citizen428 commented on #12157
Right now we create a set of default profile fields when setting up a new Forem. But of course, these could be deleted by admins. So if we absolutely want them to always be available, we probably really should move them back to `User`.

[2021-03-17 16:19] michael-tharrington opened #13028 "Podcast Issue — Show Pulled in Episodes From Another Show"
**Describe the bug**

When Podcast X has a podcast episode with the same title name as Podcast Y, there are issues with pulling in the correct episode. Podcast Y will play the episode that belongs to Podcast X.

**To Reproduce**

1. Create a Podcast show, e.g. "Show X"
2. Post a podcast episode for this show with a particular title, e.g. "Title X"
2. Create a new Podcast show, e.g. "Show Y"
3. Pos

[2021-03-17 18:11] maestromac commented on #12987
Thanks for the report @michael-tharrington

It's along the same vain but this time it's a caching problem :facepalm:. Badge content cached by the following
[code]

This means that saving the user alone won't invalidate the cache and that it will naturally resolve itself in a day. So I'm not sure what's a good way to about this :thinking:

[2021-03-17 18:26] Zhao-Andy commented on #12992
Hey @leewynne, could you show the error message you get when you try to upload an image to an organization? Also, is this happening when you change your user's profile image?

[2021-03-17 18:56] Link2Twenty commented on #12443
I've just given this a little think. I think probably the easiest solution (and it might actually be useful down the line too) is to move `useDragAndDrop` and `usePasteImage` from [EditorBody](https://github.com/forem/forem/blob/master/app/javascript/article-form/components/EditorBody.jsx) and into [ImageUploader](https://github.com/forem/forem/blob/master/app/javascript/article-form/components/Im

[2021-03-17 20:30] ludwiczakpawel commented on #12569
@aitchiss are you sure #12839 will fix it? At first glance it doesn't seem related..

[2021-03-17 20:51] djuber opened #13030 "Flaky tests for data update scripts on ProfileField"
**Describe the bug**

Depending on the spec execution order, the expectations for DataUpdateScripts::SetProperDisplayAreaForProfileFields and  DataUpdateScripts::FixProfileFieldEdgeCases can fail.

**To Reproduce**

Fairly horrible copy/paste from the knapsack generated execution in the failing container ( https://travis-ci.com/github/forem/forem/jobs/491785877#L1000-L1012 ) - I was able to reprod

[2021-03-17 21:12] nickytonline opened #13031 "Disable rule for no default exports in Storybook files"
**Describe the bug**

While reviewing a PR with Storybook files, I notice the linter complaining about default exports in Storybook stories which are required in a story. We should keep the rule, but disable it for Storybook stories. As well, we can disable this rule for Stimulus controllers and remove the eslint disable comments for Stimulus controllers.

**To Reproduce**

For Storybook files:

1

[2021-03-17 21:23] cmgorton commented on #11842
@forem/frontend I know we have had several accessibility changes recently. is this something we have worked on? If not I think we should add this either to our planning funnel or I can add this to the MLH project board. Thoughts?

[2021-03-17 21:46] CNSKnight opened #13033 "Bug? Or just Confusing? Dev.to #PagePaints"
FYI I am experiencing a rather yucky long moment of style-latent page paint that I am not seeing with other addresses in the same client environment.

example sluggish address: https://dev.to/kethmars/my-first-4-years-as-a-professional-developer-in-a-dream-company-and-why-i-left-166d?signin=true.

Observed: The page's raw markup seems to render - in typewriter mode, followed by a significant stutt

[2021-03-17 22:33] thwaller commented on #11603
I was referred to this topic by the "DEV Community Team" in response to a support request I had submitted. I wanted to register for the site and noticed there was three options for social login and signup, but no option to register without using social. I was informed that while prior uses could use the password to login, this is not offered to new users.

I am a bit surprised that a development c

[2021-03-17 22:45] djuber commented on #13030
Seems like this was added in https://github.com/forem/forem/pull/8865 to work around a failing rss reader test (that needed to create a db / table during setup?) - I'd like to try setting this test to transactional again and find out if the truncation was really the right solution or if travis had other issues and this got clumped together with the rss reader spec (now missing).

[2021-03-17 23:16] nickytonline commented on #11842
This hasn't been worked on and most likely will require an RFC.

[2021-03-18 09:04] rhymes commented on #13031
@nickytonline is this solved by https://github.com/forem/forem/pull/13032 ?

[2021-03-18 10:26] aitchiss commented on #12569
@ludwiczakpawel yeah I think you're right and this issue was mistakenly referenced as closed by that PR. I've had a check this morning though and I haven't been able to reproduce this bug any more - are you still seeing it?

[2021-03-18 11:12] nickytonline commented on #13031
@rhymes, it is. I forget to added the magic word "closes" in the PR.

[2021-03-18 11:12] #13031 closed

[2021-03-18 14:01] tuliocll opened #13047 "Next Js badge looks bad / Suggestion"
**Describe the bug**
The nextjs badge has a white background.

**To Reproduce**
Open the badge page or see on my profile:
https://dev.to/badge/next-js
https://dev.to/tuliocalil

**Expected behavior**
A badge with transparent background.

**Screenshots**
![](https://i.imgur.com/9zxClKa.png)

I have two suggestion:
original logo.
![](https://i.imgur.com/BpdzRiX.png)

or with a white border (looks be

[2021-03-18 14:37] cmgorton commented on #13047
Thanks for the report. I will mention this to the design team. 🙂

[2021-03-18 14:42] cmgorton commented on #12969
So far... looks like this is ok again. I am going to close this issue for now and we can reopen if we get any more reports.

[2021-03-18 16:02] #13028 closed

[2021-03-18 16:45] kpnigalye opened #13049 "Wrong notification count in the App"
**Wrong notification count in the App**

![Screenshot_20210318-220857](https://user-images.githubusercontent.com/8084464/111663454-d4848c00-8836-11eb-920e-a26b5fc1ab43.jpg)
![Screenshot_20210318-220907](https://user-images.githubusercontent.com/8084464/111663461-d64e4f80-8836-11eb-9169-fead0149b7e5.jpg)

As you can see in the above images, notificaion count defers from the actual post count. This

[2021-03-18 17:05] deyanp opened #13051 "Images uploaded to a post have bad quality"
**Describe the bug**

When I upload images using dev.to Post Editor the quality of the uploaded images is very bad in Preview and actual post rendered.

**To Reproduce**

Take a jpg or png local image with relatively good quality and upload it to a new post at dev.to.

**Expected behavior**

Image with relatively good quality

**Screenshots**

Check out my post for example:
https://dev.to/deyanp/p

[2021-03-18 17:10] maestromac commented on #12987
I believe the issue resolved itselves

[2021-03-18 17:23] cmgorton commented on #12968
Hey @hazemalabiad . I talked to our designer and they are going to work on creating a SVG with white fill on the DEV letters and a white border so it can be used on dark themes and light themes. I'll give you a heads up when this is completed. Thanks again for reporting this.

[2021-03-18 17:39] cmgorton commented on #13051
Hey @deyanp I went to the post you mentioned but I do not see any images on that post. Only 2 gifs that look fine. Can you take a screen shot of what you are seeing?

[2021-03-18 17:56] #13030 closed

[2021-03-18 18:16] deyanp commented on #13051
Sorry, @cmgorton, my bad, pasted tge wrong link, updated now.

[2021-03-18 18:39] michael-tharrington commented on #11714
I love this idea and want to resurface it as this request recently came up again for the [Web Monetization Community](https://community.webmonetization.org/). Note that in addition to a user directory, they'd also really like to see an org directory with similar attributes, or perhaps have a way to switch between users and orgs in one single directory.

The problem with https://dev.to/search?q=&fi

[2021-03-18 19:20] #13008 closed

[2021-03-18 20:27] DevLorenz0 opened #13054 "Error in listings"
**Describe the bug**

Two problems with listings. The second is caused by the first. Their not really bugs, just problems with the UX / UI.
When I bump my listing, nothing say me that it works, so I end thinking that it doesn't work. Then, especially because the user doesn't receive feedback, he can be tempted to click another time the bump button (as I did...). And he lost another credit for ever

[2021-03-18 21:08] cmgorton commented on #13054
Thanks for letting us know! I use listings a lot so this is good information. I'll let our engineers know and see if we can add some user feedback once the bump listing button is clicked.

[2021-03-18 21:21] cmgorton commented on #12968
We have updated SVG logo's from Emma to be added to the badges page. I am going to add this issue to the engineering planning funnel so the team can add the files to the page.

[2021-03-18 21:44] cmgorton commented on #12968
For anyone who works on this I have the newer SVG files that need to be added to https://dev.to/p/badges  and https://dev.to/brand

[2021-03-18 22:09] mstruve commented on #12455
Hey @kallmanation can you try to recreate this one more time? Please! 🙏

[2021-03-18 23:25] mstruve commented on #6497
Closing since offline mode and the service worker has been removed so this should no longer be an issue.

[2021-03-18 23:25] #6497 closed

[2021-03-18 23:28] mstruve commented on #168
Given the offline page and service worker have been removed this should no longer be an issue, please feel free to reopen if it still is.

[2021-03-18 23:28] #168 closed

[2021-03-18 23:30] mstruve commented on #12899
Given the service worker has been removed, this should no longer be an issue.

[2021-03-18 23:30] #12899 closed

[2021-03-18 23:32] mstruve commented on #9228
Since the service worker has been removed this should no longer be a problem. Please feel free to reopen if it still is. Thanks!

[2021-03-18 23:32] #9228 closed

[2021-03-18 23:37] mstruve commented on #10293
Since the service worker has been removed this should no longer be a problem! Please feel free to reopen if it still is. Thanks!

[2021-03-18 23:37] #10293 closed

[2021-03-19 03:06] Rafi993 commented on #6497
But won't the article URL still be blocked?

[2021-03-19 09:07] exyi commented on #168
Perfect, thank you :)

[2021-03-19 11:32] rhymes commented on #6497
@Rafi993 they would likely need to manually unregister the service worker so that they can pick up the new one that has no caching or offline status

[2021-03-19 12:39] kallmanation commented on #12455
I have not noticed this happening organically any longer; but following my reproduction steps seems to still have the first pageload in the wrong theme:

![devtotheme](https://user-images.githubusercontent.com/32068459/111780958-7a171a00-888e-11eb-970d-935abf4ec63d.gif)

[2021-03-19 13:45] nickytonline commented on #12922
Hi @dword-design. I just tested this out and I see the new canonical URL reflected after it being originally set to another canonical URL. Here's a video of the test. Let me know if you are still experiencing the issue.

https://user-images.githubusercontent.com/833231/111789639-bf8c1500-8897-11eb-9eb6-cffd33d4c4c4.mp4

[2021-03-19 14:10] cmgorton commented on #13051
No problem. Thanks for updating the link. For comparison can you upload one of the original pictures here so I can compare the quality and better assess how we can improve it? Thanks!

[2021-03-19 14:12] deyanp commented on #13051
![Perf5](https://user-images.githubusercontent.com/25847560/111793391-84a0d600-88c5-11eb-8273-efe1f55e813d.jpg)

[2021-03-19 14:14] deyanp commented on #13051
![Perf5](https://user-images.githubusercontent.com/25847560/111793615-bade5580-88c5-11eb-8491-c44e7bea5936.png)

@cmgorton Tried also to convert the image to png instead of jpg, but same quality issues ...

[2021-03-19 16:10] Miguel-Enrique13 commented on #12874
Sounds great! I'll do kwarg for the liquid tags and start working on the issue.

[2021-03-19 16:26] ivanlewaschiw-dextra commented on #873
Seems to be happening again, my profile image is not updating after change

[2021-03-19 16:30] ivanlewaschiw-dextra commented on #873
Had to change it twice to update.

[2021-03-19 20:28] #12955 closed

[2021-03-19 20:36] #12355 closed

[2021-03-20 08:51] takmar commented on #12146
Can I try this?
This is likely related to https://github.com/forem/forem/issues/12545.

[2021-03-20 12:50] nickytonline commented on #12146
@takmar, thanks for your interest in this issue!

It's a little more involved than what I proposed after digging into this a little more with @jgaskins. We still need to investigate further into this issue as the IIFE will fix part of the problem, but the bigger issue is the liquid tag assumes there will only ever be one of them on a page.

[2021-03-20 13:01] danieljsummers opened #13074 "(Suggestion) Exclude some posts from "you may have missed" e-mail"
I'm subscribed to DEV update e-mails, including the "posts you may have missed" feature. I've noticed a pattern where the e-mail has 3 posts, but the top 2 posts are the "top 7" post and the DevDiscuss post - week over week, this pattern has emerged.

As both these post types are also highlighted in the DEV weekly update, I'd suggest that these be excluded from the algorithm that determines what's

[2021-03-20 22:30] bellogit opened #13075 "Unexpected extra quotation mark on property key"
**Describe the bug**

I have an unexpected extra quotation mark on the property key. See the video below (during the preview
![dev-bug](https://user-images.githubusercontent.com/62192253/111887283-3cbca480-89d4-11eb-8b16-04527c7b60c9.gif)
)
**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smart

[2021-03-21 09:09] dword-design commented on #12922
Hey @nickytonline, seems to be working now. Thanks!

[2021-03-21 12:56] nickytonline commented on #12922
Awesome @dword-design! I'm going to close this.

[2021-03-21 12:56] #12922 closed

[2021-03-21 14:08] tuliocll commented on #13047
so beautiful 😍
![image](https://user-images.githubusercontent.com/22357579/111907810-bc2e9000-8a35-11eb-919d-cc7d924a523c.png)

[2021-03-22 14:47] cfjedimaster opened #13084 ""Summary" error when it's really the bio"
If your bio is too long, when you attempt to save it you get an error about the summary being too long, not the bio.

**To Reproduce**

Just put too much text in the bio field.

**Expected behavior**

The error should say bio, not summary.

[2021-03-22 15:45] vaidehijoshi commented on #12955
@mstruve I added the `actual_size:S` label here because the estimation for this ticket was a bit off -- instead of 10 tests, it was 30 tests, so this took a bit more time (plus there was the added "time" of learning how the `approvals` gem worked so we can undo it). Just wanted to put a note of it here so that you have it for your metrics records!

[2021-03-22 23:58] vaidehijoshi commented on #12519
@cmgorton Just checking in here as I look for some potential issues to bring up in the planning meeting -- did https://github.com/forem/forem/pull/12885 actually fix this issue (and by proxy, this larger issue https://github.com/forem/forem/issues/12772?)

If not, we can prioritize it for someone on the Forem team; if so, then we can just close this out and ignore my comment here entirely! 🤠

[2021-03-23 12:36] #12679 closed

[2021-03-23 14:06] cmgorton commented on #12519
@vaidehijoshi it looks like #12885 did fix the Twitter liquid tag misalignment (we can close this issue) I am not sure if it fixed #12772 as well.

[2021-03-23 14:06] #12519 closed

[2021-03-23 15:29] cmgorton commented on #1999
Since our PWA was removed last week when we removed our service worker I am going to close this issue. You can see where it was removed in PR #12974. Thanks for all the work here everyone!

[2021-03-23 15:29] #1999 closed

[2021-03-23 15:30] cmgorton commented on #2799
Hey @Ritwik880 👋 wanted to check in and see if is this an issue you are still working on.

[2021-03-23 15:34] cmgorton commented on #3588
Hey @mrsantons is this an issue you are still working on?

[2021-03-23 15:55] cmgorton commented on #12426
Looks like this issue was resolved with PR #12722 . I am going to close this issue. We can reopen it if the problem was not fixed.

[2021-03-23 15:55] #12426 closed

[2021-03-23 16:10] quantuumsnot opened #13097 "Cannot use Home/End buttons while writing a message in Welcome thread"
After the registration decided to say hello in the Welcome thread, typed something and noticed that cannot move the cursor to the beginning or the end of the text with Home/End buttons

- OS, version: Win 8.1 x64
- Browser, version: Chrome x64 v87

[2021-03-23 17:15] vaidehijoshi commented on #12772
@cmgorton From what I can tell, this has been resolved. Here are some screenshots of me testing this out on DEV, and the alignment issue on twitter + github liquid tags no longer seems to be reproducible:

<img width="915" alt="Screen Shot 2021-03-23 at 10 13 25 AM" src="https://user-images.githubusercontent.com/6921610/112188800-8d90f080-8bc0-11eb-96ff-3b59ff3005ce.png">
<img width="930" alt="Scr

[2021-03-23 17:18] cmgorton commented on #12772
Awesome. I am going to go a head and close this issue then. Thanks for testing it @vaidehijoshi

[2021-03-23 17:18] #12772 closed

[2021-03-23 17:21] djuber opened #13099 "Users with sponsorships cannot be deleted"
**Describe the bug**
When a user has a sponsorship
And the user is deleted
The sponsorship is not removed, and the user is not destroyed.

**To Reproduce**

https://github.com/forem/forem/commit/4432081a018ce3bfc6d5522fb7338e215b75e1f4 adds a failing test case for this, which raises `ActiveRecord::InvalidForeignKey` when run (it should pass)

[code]

Add a sponsorship created by a user. Delete the

[2021-03-23 18:10] #13099 closed

[2021-03-23 18:35] benhalpern commented on #12522
Yeah, this is intended behavior. There are SEO reasons, but also just keeping old links available reasons. If I @ mentioned maestromac and you change to mac, this will keep the old mention valid.

I wouldn't say this is _never changing this under any circumstance_, maybe we could be convinced to modify it.

Since this issue was first presented, we have modified some service worker functionality wh

[2021-03-23 18:35] #12522 closed

[2021-03-24 09:42] #12284 closed

[2021-03-24 17:01] cmgorton commented on #11746
Hey @renanbona! Is this still an issue you are working on?

[2021-03-24 23:37] mstruve commented on #11414
This looks to only be used in 2 places so I think removing it and not having to worry about keeping it synced would be a win. Plus it would remove a very niche column from the user
[code]

[2021-03-24 23:38] mstruve commented on #11282
Given we are looking at upgrading to Ruby 3.0 I thought this would be a good issue to finally squash.

[2021-03-24 23:39] mstruve commented on #4940
This is all being handled by profile generalization so I'm going to close this.

[2021-03-24 23:39] #4940 closed

[2021-03-25 03:36] rna opened #13119 "Bio field is reflecting the Summary field data in Settings page"
**Describe the bug**
When the user tried to edit the profile thru the settings page, the summary is getting updated in both bio and summary fields. But when the user updated the bio, that's not getting updated and it still shows the summary field data, irrespective of the success message.

**To Reproduce**
1. Visit the Profile Settings page
2. Try to change or fill the summary data and click on Sa

[2021-03-25 08:37] rhymes commented on #13119
As we discussed in https://github.com/forem/forem/pull/12633#issuecomment-805659850 I've assigned this to you @rna, thanks again 🙌

[2021-03-25 08:47] catalinpit opened #13125 "[Web monetization] Payment pointer not updated"
**Describe the bug**

I was wondering for a while why I don't make any earnings with my Dev.To articles.

It seems that the payment pointer is not mine even though I set it to my pointer.

**Expected behavior**

It should be my payment pointer.

**Screenshots**

![screenshot-1](https://i.ibb.co/3ybk0gR/Screenshot-2021-03-25-at-10-44-33.png)
![screenshot-2](https://i.ibb.co/fdrh8xj/Screenshot-2021-

[2021-03-25 09:25] rhymes commented on #13125
Hi @catalinpit, I can't find any user in our DB with that other pointer, If I go to https://dev.to/catalinmpit I can see yours in the HTML:

<img width="1017" alt="Screenshot 2021-03-25 at 10 23 59 AM" src="https://user-images.githubusercontent.com/146201/112450071-46d3ff80-8d54-11eb-968c-c81f6b635fa8.png">

Can you verify?

[2021-03-25 10:47] InHuOfficial commented on #946
I wrote a quick article (on dev.to of course 😋) on a "hack" that could solve this temporarily (or possibly be developed into a solution for external links to GIFs as I can imagine that would be a nightmare to fix!).

It would need a bit of work before going into production and testing but I thought I would share it as this issue as a tough one to fix with user content, especially as they can link

[2021-03-25 10:56] leewynne commented on #10738
Sorry, only just noticed the potential RFC tag 🙈

[2021-03-25 13:14] L4znet opened #13127 "When I wanna edit my comment, the old content didn't shown"
I don't know if it's a bug, or something desireed, but when I edit a comment, my previous comment didn't be displayed in the textarea field.

![image](https://user-images.githubusercontent.com/1903341/112478387-40ee1680-8d74-11eb-85ef-87e79f4fe2ab.png)

[2021-03-25 13:37] mimatn commented on #13127
I can confirm the bug. Happens to me, too. Setup: win10, firefox latest.

[2021-03-25 14:46] cmgorton commented on #13127
@nickytonline @aitchiss not sure if this is related to the recent changes with the autofill.

[2021-03-25 14:53] cmgorton commented on #13127
Oh looks like it is related! @L4znet Thanks for reporting this. It is a known issue from a new feature we added and will hopefully be resolved soon. 🙏

[2021-03-25 15:19] nickytonline commented on #13127
Fixed by #13116

[2021-03-25 15:23] #13127 closed

[2021-03-25 15:24] Link2Twenty commented on #11458
@nickytonline is there a solution to this in the pipeline? I see the pull request you submitted was closed for more thought.

[2021-03-25 15:25] cmgorton commented on #13097
This should be fixed with the above Revert PR and will soon be permanently fixed with https://github.com/forem/forem/pull/13126

[2021-03-25 15:25] #13097 closed

[2021-03-25 15:52] jmau111 commented on #11745
For anyone that gets this error in 2021, with a vm or something else, you likely have the wrong version of yarn (cmdtest).

`yarn --version`  might work but not `yarn -v` .

If you get an error with `yarn -v`, such as "there is no scenario...", you can try that:

[code]

Then ` bin/startup` should work.

[2021-03-25 16:03] nickytonline commented on #11458
My initial try for this kind of worked. I need to dig into this more still. Also other things took priority, so this completely fell off my radar. 😅 @cmgorton, this would be good to add to the next cycle work.

[2021-03-25 16:05] joshpuetz opened #13131 "Remove usage of `ahoy_email` gem"
`ahoy_email` version 2.0 was recently released (not at version 2.0.2), and it included a number of breaking changes. The biggest change is that the gem no longer tracks email opening.

We've been using email open tracking in `DigestMailer` to track how often a user opens period digest emails, and send them digests more frequently if they are opening digest emails more often. This type of adaptive

[2021-03-25 16:46] joshpuetz commented on #13131
Closing this issue to make an RFC.

[2021-03-25 16:46] #13131 closed

[2021-03-25 16:48] #11897 closed

[2021-03-25 18:15] nickytonline commented on #12976
It looks like the comment liquid tags ends up embedding in each other for some reason in these scenarios mentioned above. Still not sure why though.

[2021-03-25 18:44] fralps opened #13134 "UX/UI feedback on article draft share options"
**Describe the bug**
-
When user click on the three dots in order to share article draft the content is hidden behind the navbar. This occurs on web and PWA installed on macOS.
See screenshot below ⬇️ ⬇️ ⬇️

**To Reproduce**
-

1- Write an article
2- Save as a draft
3- And open the share options

**Expected behavior**
-

User should be able to see all the share options

**Screenshots**
-

![Captur

[2021-03-25 20:18] cmgorton commented on #6914
I believe this issue has been fixed. If you still experience this problem please let me know and we can reopen the issue. Thanks!

[2021-03-25 20:18] #6914 closed

[2021-03-25 21:21] leewynne commented on #12992
Hi Andy. There was no error message - the image seems to be uploaded but then isn't displayed on the placeholder or the organisation when completed.

Profile images were fine

[2021-03-26 06:36] catalinpit commented on #13125
I still don't see mine. I keep seeing `$ilp.uphold.com/24HhrUGG7ekn`.

Why would that happen on my end?

[2021-03-26 08:24] spences10 commented on #13125
Can confirm it's the same on my posts with dev.to

![image](https://user-images.githubusercontent.com/234708/112603209-9a098900-8e0c-11eb-8f70-4a116213ba55.png)

[2021-03-26 14:02] cmgorton commented on #13125
Thank you both for bringing this up! Going to escalate this internally so we can try to fix this soon.

[2021-03-26 16:13] cmgorton commented on #12017
@nickytonline can you link to the PR where the component is that @aitchiss worked on.

[2021-03-26 16:13] sammychinedu2ky commented on #12017
Please can you assign me this issue

[2021-03-26 16:16] nickytonline commented on #12017
@sammychinedu2ky, you can look at the work @aitchiss did in #13126

[2021-03-26 17:15] #3921 closed

[2021-03-26 17:17] cmgorton commented on #3929
Closing this in favor our the internal issue https://github.com/forem/internalEngineering/issues/297

Hopefully in the future we can discuss where this will fit in with our roadmap and create an RFC.

[2021-03-26 17:17] #3929 closed

[2021-03-26 17:18] cmgorton commented on #4195
Ok I am going to close this issue for now and we can reopen it when we have time to dedicate an RFC for it.

[2021-03-26 17:18] #4195 closed

[2021-03-26 20:08] kkatusic opened #13150 "RSS feed stopped"
For some reason https://dev.to/feed stopped working.

[2021-03-27 06:03] fayazara commented on #5204
Can we at least get the follower count in the api, on `/users/me` endpoint or the `/followers/users` endpoint.?

[2021-03-29 14:50] cmgorton commented on #13150
Hey @kkatusic could you be more specific on what is happening so we can help debug this issue? Are you trying to pull in your articles with an RSS feed and it has stopped working? What specifically are you using https://dev.to/feed for that has stopped functioning properly? Thanks!

[2021-03-29 15:00] carrotfarmer opened #13170 "Markdown in Rails' topic description won't work"
**Describe the bug**
The markdown which appears in the Rails' topic description does not work, which makes it look odd.
![bug screenshot](https://user-images.githubusercontent.com/66675022/112856288-4083b180-90cd-11eb-90ba-4560536bd9dd.png)

**To Reproduce**
Head over to [The Ruby On Rails topic](https://dev.to/t/rails)

[2021-03-29 15:04] ScottYates commented on #13150
This is an issue for me as well.  It appears that the feed stoped updating on the 23rd of March:

<title>Why JSON Web tokens are required?</title>
<author>Mehak Saini</author>
<pubDate>Tue, 23 Mar 2021 15:05:35 +0000</pubDate>

[2021-03-29 15:06] cmgorton commented on #13150
Thanks for confirming @ScottYates! I've pinged a few engineers to start looking at this issue.

[2021-03-29 15:33] ellativity opened #13171 "Comment templates not inserting as expected"
**Describe the bug**
When inserting a moderator template response into a comment (not selecting `Send as Mod`), no text appears in the comment text box.

When attempting to insert the response again, users are prompted `Are you sure you want to replace your current comment draft?` (there is no current text).

**To Reproduce**
1. Log in as a tag moderator
2. Scroll to the Discussion of any article

[2021-03-29 16:38] benhalpern opened #13173 "Adjust RSS feed to show posts above minimum score"
**Describe the bug**

Since DEV removed the internal functionality of Buffering, we also removed the automated functionality of marking some posts as "featured"...

Our RSS feed only uses "featured" posts, which happened automatically when we Buffered stuff, but isn't really first class functionality across Forems.

**Proposal**

Modify the core front page RSS feed algorithm to be more like the ot

[2021-03-29 16:42] benhalpern commented on #13150
Opened this issue, this is the problem:

https://github.com/forem/forem/issues/13173

[2021-03-29 17:33] cubicray commented on #13150
I can also confirm that the RSS feed stopped working. The last article I see in my RSS reader was from March 23.

[2021-03-29 18:29] benhalpern opened #13175 "Text not clearing after submission of top-level comment"
**Describe the bug**

After submitting a top level comment, the text is not cleared away from the composer.

**To Reproduce**

- Visit an article
- Leave tp-level comment
- Observe that text is still in the comment box.

**Expected behavior**

Text should clear upon submission.

[2021-03-29 19:04] cmgorton commented on #13170
Hey @carrotfarmer ! Can you be more specific? Where is the markdown and where is it not showing up properly?

Are you referencing the `[dev.to](/)` ?
I think we could fix this just by making it  more explicit like `[dev.to](https://dev.to/)` instead.

[2021-03-29 19:07] nickytonline commented on #13125
Hi @catalinpit. I'm looking into this and the pointer you mentioned doesn't render. I'm seeing, your payment pointer. This is what I pulled out of your site, `"wmPaymentPointer":"$ilp.uphold.com/gjKDYDabPeeB"` and this is what I'm seeing on DEV.

![image](https://user-images.githubusercontent.com/833231/112886537-110a8000-90a0-11eb-9ed7-5fb1d7f767bd.png)

Let me know if you're still experiencing i

[2021-03-29 19:10] cmgorton commented on #13171
Thanks for reporting! I think this is a known issue. @nickytonline is this PR related? https://github.com/forem/forem/pull/13149

[2021-03-29 19:18] ellativity commented on #13171
Oops, yep, looks exactly the same. Mb!

[2021-03-29 19:19] nickytonline commented on #13125
Alright I have the full picture, now. If you view the page source, the payment pointer rendered is the one for DEV.

Below is the view page source from https://dev.to/spences10/build-a-coding-blog-from-scratch-with-gatsby-and-mdx-2h31.

[code]

So my first question is, did you view source or inspect the page in the browser dev tools @spences10 @catalinpit ?

Next up, we have this function that run

[2021-03-29 19:25] nickytonline commented on #13171
It's the same issue. The fix is ready, just needs to be reviewed.

[2021-03-29 19:32] benhalpern commented on #13175
I put this in support tasks, but maybe something to be aware of during ongoing work on this area @nickytonline @aitchiss ?

[2021-03-29 19:49] nickytonline commented on #13175
This should be fixed by #13149.

[2021-03-29 19:53] cmgorton commented on #6692
Given that there have been a lot of changes to the editor recently and we also now have a revert button in the editor I am going to close this issue. We can open it back up if anyone still experiences this issue!

[2021-03-29 19:53] #6692 closed

[2021-03-29 19:55] cmgorton commented on #6744
I think this should be fixed with the removal of the service workers we recently had done. I am going to close this issue for now but if anyone still experiences this please let me know and we can reopen this issue! Thanks.

[2021-03-29 19:55] #6744 closed

[2021-03-29 19:57] cmgorton commented on #6759
Hey @jhermann.  Thank you for opening this request.
Features tend to be subjective and might spur some debate. The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like this one, p

[2021-03-29 19:57] #6759 closed

[2021-03-29 19:59] cmgorton commented on #6764
Thank you for opening this request.
Features tend to be subjective and might spur some debate. The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like this one, please visit [for

[2021-03-29 19:59] #6764 closed

[2021-03-29 20:00] cmgorton commented on #6775
Thank you for opening this request.
Features tend to be subjective and might spur some debate. The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like this one, please visit [for

[2021-03-29 20:00] #6775 closed

[2021-03-29 20:02] cmgorton commented on #6807
Hello all! Thank you for opening this request. There has been a lot of good discussion here but has since gone stale.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like this

[2021-03-29 20:03] cmgorton commented on #6805
Closing this in favor of adding it as a discussion on forem.dev so we can get products eyes on it.  Let me know if you would like me to create a post over there. Thanks Lee!

[2021-03-29 20:03] #6805 closed

[2021-03-29 20:07] cmgorton commented on #6927
With the removal of our service worker and fixes with caching I would imagine we should not experience this issue anymore. I am going to close this issue but please let me know if you run in to it again and we can reopen this!

[2021-03-29 20:07] #6927 closed

[2021-03-29 20:08] #7134 closed

[2021-03-29 20:09] cmgorton commented on #7134
I am closing this for now. But if you continue to experience any issues please let me know and we can reopen this!

[2021-03-29 20:10] cmgorton commented on #7288
Andy I am going to close this for now. Let me know if you think it would be a good RFC and we can open it back up :)

[2021-03-29 20:10] #7288 closed

[2021-03-29 20:11] cmgorton commented on #7387
Thank you for opening this request.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like this one, please visit [forem.dev](https://forem.dev/) to start a discussion around th

[2021-03-29 20:12] benhalpern commented on #13175
Ah great stuff @nickytonline

[2021-03-29 20:13] Seirdy commented on #6807
On Mon, Mar 29, 2021 at 01:02:46PM -0700, Christina wrote:

Sure, but I'm not generally a fan of creating a new account for these
things.

--
/Seirdy

[2021-03-29 20:14] cmgorton commented on #7407
As we are currently changing our search in general I am going to close this issue for now. Ben let me know if you would like to reopen it.

[2021-03-29 20:14] #7407 closed

[2021-03-29 20:15] cmgorton commented on #7420
@joshpuetz do you think this is something we should add to the engineering planning funnel?

[2021-03-29 20:16] #7445 closed

[2021-03-29 20:17] cmgorton commented on #7532
Thank you for opening this request.
I am going to close this issue here.

Features tend to be subjective and might spur some debate. The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new fe

[2021-03-29 20:17] #7532 closed

[2021-03-29 20:20] #7700 closed

[2021-03-29 20:20] joshpuetz commented on #7420
Eh...maybe? I'd want to see some data about how often comments before 4/21/2020 are accessed :)

[2021-03-29 20:21] cmgorton commented on #7700
Looks like this was moved to the done column so I closed this issue here. If this should still be open please let me know @msarit and we can open it back up!

[2021-03-29 20:22] cmgorton commented on #7729
Let's add a discuss post for this one in https://forem.dev/ too. Happy to write it up for you Lee if you would like!

[2021-03-29 20:22] #7729 closed

[2021-03-29 20:27] cmgorton commented on #6807
Totally understand. Before you decide whether you would like to create an account you can read more on why we made the decision to take feature requests off of Github and on forem.dev in this post.  https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4
You can also see some examples of other feature requests in these round ups.
https://forem.dev/coffeecraftcode/let-s-disc

[2021-03-29 20:32] cmgorton commented on #7756
Thank you for opening this request.
Features tend to be subjective and might spur some debate. This one has been around a while with not much traction.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like

[2021-03-29 20:32] #7756 closed

[2021-03-29 20:33] cmgorton commented on #7763
Closing this one in favor of the conversation in #1849

[2021-03-29 20:33] #7763 closed

[2021-03-29 20:56] #13047 closed

[2021-03-29 21:14] #7769 closed

[2021-03-29 21:26] cmgorton commented on #7916
I am assuming this can be closed now that we have removed Buffer all together. @benhalpern let me know if that is not the case and we can reopen this!

[2021-03-29 21:26] #7916 closed

[2021-03-29 21:27] cmgorton commented on #7816
Thank you for opening this request.
Features tend to be subjective and might spur some debate. This one has been around a while with not much traction.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like

[2021-03-29 21:27] #7816 closed

[2021-03-29 21:32] cmgorton commented on #7845
Let's open this one up as a post in forem.dev as well so product can have eyes on it and we can open it up for more discussion! Thanks.

[2021-03-29 21:32] #7845 closed

[2021-03-29 21:33] cmgorton commented on #7866
Hey @anwyho we have had a lot of changes with our caching and service workers. Is this still an issue you experience?

[2021-03-29 21:34] cmgorton commented on #7887
Looks like this one was moved to done as well. Going to close it here. Let me know if we should reopen it!

[2021-03-29 21:34] #7887 closed

[2021-03-29 21:35] #7889 closed

[2021-03-29 21:36] cmgorton commented on #7770
Let's create a post for this one as well in forem.dev for discussion. Maybe we could combine some of the podcast feature requests you have Lee in to one post? Let me know if you would like me to write up something.

[2021-03-29 21:36] #7770 closed

[2021-03-29 21:38] cmgorton commented on #7917
I know I am sounding like a broken record today Lee😅 But could we open up a post in forem.dev on this one as well if you still think it is a good feature.

[2021-03-29 21:38] #7917 closed

[2021-03-29 21:38] cmgorton commented on #7971
Thank you for opening this request.
Features tend to be subjective and might spur some debate. This one has been around a while with not much traction.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like

[2021-03-29 21:38] #7971 closed

[2021-03-29 21:40] cmgorton commented on #8031
Looks like this is already a feature we have now.
![Screen Shot updated article](https://user-images.githubusercontent.com/21039864/112903677-16b69480-90a5-11eb-89ec-fcfe2cdfad6e.png)

[2021-03-29 21:40] #8031 closed

[2021-03-29 21:42] cmgorton commented on #8073
Thank you for opening this request.
Features tend to be subjective and might spur some debate. This one has been around a while with not much traction.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like

[2021-03-29 21:42] #8073 closed

[2021-03-29 21:43] cmgorton commented on #8075
@atsmith813 do you think this would be a good potential RFC? If so we can add the label. If not, we may want to consider closing this feature request for now.

[2021-03-29 21:52] atsmith813 commented on #8075
@cmgorton closing this - I believe the requirements have changed a bit. If BizDev/Admins needs something like this then we can open an RFC to meet their needs.

[2021-03-29 21:52] #8075 closed

[2021-03-29 21:53] #8081 closed

[2021-03-29 21:53] #8080 closed

[2021-03-29 21:54] atsmith813 commented on #8082
This feature was put on hold, closing this issue in favor of the new RFC process.

[2021-03-29 21:54] #8082 closed

[2021-03-29 21:54] atsmith813 commented on #8083
This feature was put on hold, closing this issue in favor of the new RFC process.

[2021-03-29 21:54] #8083 closed

[2021-03-29 21:55] atsmith813 commented on #8084
This feature was put on hold, closing this issue in favor of the new RFC process.

[2021-03-29 21:55] #8084 closed

[2021-03-29 21:55] atsmith813 commented on #10338
These issues are no longer valid, closing this issue in favor of the new RFC process.

[2021-03-29 21:55] #10338 closed

[2021-03-30 01:50] citizen428 commented on #13125
@nickytonline I remember being confused about this once myself. To be honest I never quite had time to dig into this as I only restructured the code, I didn't originally implement it. You're correct that we're performing some JS switcheroo here and I think these client-side changes should be detected, Web Monetization is a JS API after all.

[2021-03-30 02:48] carrotfarmer commented on #13170
Yep I'm referencing to `[dev.to](/)`

[2021-03-30 09:58] aitchiss opened #13182 "Button text doesn't update after submitting comment from Preview"
**Describe the bug**

When commenting on a post, if I submit the comment from the "Preview", then start to add another comment, the text on the 'Preview' button still reads "Continue editing" (even though the correct action takes place if I click it).

NB: I have done a bit of time travelling in the git history and can confirm this issue existed before any of the autocomplete work was added to com

[2021-03-30 11:02] #13171 closed

[2021-03-30 11:02] #13175 closed

[2021-03-30 14:07] cmgorton commented on #5545
This looks like it is working appropriately and as designed. I am going to go a head and close this issue for now but we can always reopen it if it continues to be a problem.

[2021-03-30 14:07] #5545 closed

[2021-03-30 14:08] cmgorton commented on #5558
@rhymes did you feel this is still an issue we should try to prioritize or is this something we can close?

[2021-03-30 14:12] cmgorton commented on #5629
@vaidehijoshi is this something you have experienced since. Could you and I try to reproduce this to see if it is in fact still an error?

[2021-03-30 14:14] cmgorton commented on #5712
This was a beautiful wireframing 💜.
This request has been around a while with not much traction.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like this one, please visit [f

[2021-03-30 14:14] #5712 closed

[2021-03-30 14:18] cmgorton commented on #5832
@pkfrank I know we have been doing a lot of work on the admin area lately. Does this issue fall in to any of the current RFCs, would it make a good potential RFC, or is it something we no longer need?

[2021-03-30 14:21] cmgorton commented on #5836
Thank you for opening this request.
Features tend to be subjective and might spur some debate. This one has been around for a while with out much traction.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd l

[2021-03-30 14:21] #5836 closed

[2021-03-30 14:22] cmgorton commented on #5838
Since we recently got rid of the "Share to Buffer" functionality I am not sure this issue is something we can implement now. I am going to close it for now but let me know if you would like me to reopen it. Thanks!

[2021-03-30 14:35] Rafi993 commented on #13182
Hi there, if this bug is not worked on I can help.

[2021-03-30 14:39] cmgorton commented on #6090
This appears to be an isolated incident. I am going to close this for now but we can reopen this issue if anyone else experiences this again!

[2021-03-30 14:39] #6090 closed

[2021-03-30 14:43] cmgorton commented on #6163
@binyamin internally it looks like we are going to be working on generalizing the links so that there are less of them, they work across Forems, and people can decide what they want them to link too. For that reason I am going to go a head and close this issue. Thanks again for the request.

[2021-03-30 14:43] #6163 closed

[2021-03-30 14:46] cmgorton commented on #6175
Looks like this may have been addressed with PR #12424 and #12568. Also referenced in a larger potential rfc in #6332. I am going to go a head and close this issue. Let me know if you think we should reopen it!

[2021-03-30 14:46] #6175 closed

[2021-03-30 14:49] cmgorton commented on #6303
Thanks again for this request.  Since this one has been around a while without much traction I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like

[2021-03-30 15:01] #6368 closed

[2021-03-30 15:05] #6472 closed

[2021-03-30 15:07] cmgorton commented on #6584
Hey @dcruz1990 I know we have had a lot of changes with the mobile experience recently. Is this still an issue for you?

[2021-03-30 15:17] pkfrank commented on #5838
Yup, let's go ahead and close.  Thanks @cmgorton!

[2021-03-30 15:17] #5838 closed

[2021-03-30 15:26] cmgorton commented on #7866
Closing for now but let me know if you have still experienced this and I will reopen it!

[2021-03-30 15:26] #7866 closed

[2021-03-30 15:33] ftisiot opened #13185 "Dashboard not updated correctly if two people have the same RSS feed"
If two people share the same `RSS Feed URL` in `Settings` -> `Publishing to DEV Community from RSS`
Then new post will appear randomly only in 1 feed.

1. Have two separated dev.to accounts
2. Go to `Settings` -> `Publishing to DEV Community from RSS` and setup the same `RSS Feed URL` in both
3. Create a new RSS entry
4. The entry is show in one of the two dev.to account's (say account A) Dashboar

[2021-03-30 15:45] cmgorton commented on #4409
Since this is an older issue at this point I am going to close it in favor of #12401 and add it to our engineer planning funnel to get more visibility on it. Hopefully that will help get this issue fixed sooner.

[2021-03-30 15:45] #4409 closed

[2021-03-30 15:46] cmgorton commented on #4537
Thank you for opening this request.
Features tend to be subjective and might spur some debate. This one has been around a while without much traction.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like t

[2021-03-30 15:47] cmgorton commented on #4686
Thank you for opening this request.
Features tend to be subjective and might spur some debate. This one has been around a while without much traction lately.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd

[2021-03-30 15:47] #4686 closed

[2021-03-30 15:49] cmgorton commented on #4745
Thank you for opening this request.
Features tend to be subjective and might spur some debate. This one has been around a while without much traction lately.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd

[2021-03-30 15:49] #4745 closed

[2021-03-30 15:52] cmgorton commented on #4757
Thank you for opening this request.
Features tend to be subjective and might spur some debate. This one has been around for a while without much traction lately.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If y

[2021-03-30 15:52] #4757 closed

[2021-03-30 15:54] cmgorton commented on #4765
@faraazahmad @MohamedElidrissi has this still been an issue for you. We have had a lot of changes with mobile lately and want to make sure this is still a bug. I am going to close this issue but if you are still experiencing it please let me know and I will reopen it and see if we can prioritize it. Thanks!

[2021-03-30 15:54] #4765 closed

[2021-03-30 15:55] #4802 closed

[2021-03-30 16:02] cmgorton commented on #5023
Thank you for opening this request.
Features tend to be subjective and might spur some debate. This one has been around for a while without much traction and appears to be more DEV specific vs Forems overall.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for

[2021-03-30 16:02] #5023 closed

[2021-03-30 16:05] #5172 closed

[2021-03-30 16:08] cmgorton commented on #5188
Thank you for opening this request.
This one has been around for a while without much traction.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like this one, please visit [fo

[2021-03-30 16:08] #5188 closed

[2021-03-30 16:32] cmgorton commented on #5346
Thank you for opening this request.
This feature has been around for a while without much traction.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like this one, please visit

[2021-03-30 16:32] #5346 closed

[2021-03-30 18:15] maarteNNNN opened #13189 "Markdown not processing correctly"
[code]
is processing as this
![image](https://user-images.githubusercontent.com/14275291/113036346-8cd0ff00-916a-11eb-9bc3-8a0f9cce3433.png)

[code]

is processing as this:
![image](https://user-images.githubusercontent.com/14275291/113036381-9b1f1b00-916a-11eb-84f2-a0d59343db66.png)

- OS, version: Ubuntu 20.10
- Browser, version: Brave v1.22.70

link to the draft: https://dev.to/maartennnn/socke

[2021-03-30 18:27] MohamedElidrissi commented on #4765
@cmgorton Just checked now, everything seems fine.

[2021-03-30 18:47] cmgorton commented on #13189
Hey @maarteNNNN.  This is actually a little error in your article. If you remove the lone backtick in your quote after the word SocketCluster your code blocks work fine.
![Screen Shot 2021-03-30 at 12 45 18 PM](https://user-images.githubusercontent.com/21039864/113040304-e1b64a80-9155-11eb-8425-1f916ae03639.png)

Can you please confirm for me that this works on your end once the backtick is remove

[2021-03-30 18:50] maarteNNNN commented on #13189
It worked! I went over it a couple of times but I didn't see anything wrong, It worked in my editor and GitHub. I'm so sorry! Thank you!

[2021-03-30 18:50] #13189 closed

[2021-03-30 18:53] cmgorton commented on #13189
No worries @maarteNNNN. This has come up before so I knew what to look for. 😄
Thank you for confirming and closing the issue!

[2021-03-30 18:56] cmgorton commented on #13182
Sure @Rafi993 !  I will assign it to you. Thank you.

[2021-03-30 19:02] cmgorton commented on #4765
Thanks for the confirmation @MohamedElidrissi

[2021-03-30 19:35] cmgorton commented on #12350
Hey @dmikurube the Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. To propose features you should now visit [forem.dev](https://forem.dev/) to start a discussion around it! 🙏

I went a head and started a discussion pos

[2021-03-30 19:35] #12350 closed

[2021-03-30 19:35] cmgorton commented on #12351
Closing in favor of a discussion on [forem.dev](https://forem.dev/) https://forem.dev/foremteam/non-ascii-title-makes-a-weird-url-on-forem-dev-to-2255

[2021-03-30 19:35] #12351 closed

[2021-03-30 19:36] cmgorton commented on #12352
Closing in favor of a discussion on [forem.dev](https://forem.dev/) https://forem.dev/foremteam/non-ascii-title-makes-a-weird-url-on-forem-dev-to-2255

[2021-03-30 19:36] #12352 closed

[2021-03-30 19:38] cmgorton commented on #9425
I have opened a discussion on internationalization especially around Non-ASCII characters. Please visit this post to add any additional thoughts there.

https://forem.dev/foremteam/non-ascii-title-makes-a-weird-url-on-forem-dev-to-2255

[2021-03-30 19:38] #9425 closed

[2021-03-30 19:48] cmgorton commented on #12981
Thank you for opening this request.
Features tend to be subjective and might spur some debate.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like this one, please visit [for

[2021-03-30 19:48] #12981 closed

[2021-03-30 21:21] #9165 closed

[2021-03-30 22:09] ppalone commented on #13182
Will this fix it?
https://github.com/forem/forem/blob/2534a8aa5fa5a647bcdc4605c6bf719a360fbcde/app/assets/javascripts/initializers/initializeCommentsPage.js.erb#L270-L272
[code]

[2021-03-30 22:24] cognivore opened #13194 "Article `date_time` validation seems to be about one hour ahead"
While importing from RSS, if the time is set to approximately current (for example it's 22:00 UTC, and `date:` is getting set to `21:57`), dev.to deployment won't accept the post.

A significant reduction in time should be applied for the post to be posted. For example, `20:57 UTC` shall work.

Expected behaviour: dev.to deployment accepts the post.

Post in question: https://dev.to/doma/parser-co

[2021-03-30 22:30] aurelieverrot opened #13195 "Modal appears under the navbar"
**Describe the bug**

The modal triggered by the three dots on the left of an article appears stuck under the navbar of the website, it is not readable entirely.

**To Reproduce**

After submitting an article but before publishing.
Click on the three dots on the top left of the article.
The modal will show up but a part of it is hidden behind the navbar

**Expected behavior**

The modal should app

[2021-03-30 22:34] JamoCA commented on #6368
Too late... I think they already incorporated this feature without updating the status on this issue.

I checked out the source to my dev.to blog and saw the following code:
[code]

[2021-03-30 22:55] mstruve commented on #5223
This error seems to have gone away, closing!

[2021-03-30 22:55] #5223 closed

[2021-03-31 12:20] Link2Twenty commented on #13195
Adding z-index 100 to `crayons-layout__sidebar-left` would fix the overlay issue (though the dropdown still goes off the screen) but I think there should be logic added to `crayons-dropdown` to detect if the element goes off screen and reposition it accordingly.

[2021-03-31 14:20] rhymes commented on #13185
I think this is a variation of https://github.com/forem/forem/issues/1845

[2021-03-31 14:35] spences10 commented on #13125
@nickytonline yah, view source:

[code]

So the `monetization` meta tag is used not for my pointer but the one detailed in the above snippet.

My pointer (`$ilp.uphold.com/bzPBWkMBzLmN`) is in there but not with a `monetization` meta tag:

[code]

[2021-03-31 14:38] #6608 closed

[2021-03-31 14:40] thomasbnt commented on #6608
Thanks @cmgorton ! 😃

[2021-03-31 14:42] cmgorton commented on #3151
We now have analytics open to everyone! You can read more about it in this forem.dev post https://forem.dev/foremteam/analytics-for-all-3db

[2021-03-31 14:42] #3151 closed

[2021-03-31 14:56] nickytonline commented on #13125
@spences10, if you watch the video I attached, you'll see that the inspected DOM (not view page source) shows the updated meta tag with a community member's payment pointer. It does this by reading the payment pointer data attribute in the markup snippet you shared via the `initializePaymentPointers()`.m function.

[2021-03-31 16:54] sammychinedu2ky commented on #12017
Please do you know any reason why the user @mention auto complete won't appear on my local setup. It works for @mkcode.
We tried to figure it out unfortunately if works for him and not for me. Please is there any solution to this?

[2021-03-31 17:03] Rafi993 opened #13206 "Welcome tag is not readable in dark theme of forem"
**Describe the bug**

Welcome tag is not visible in dark theme

**To Reproduce**
1. Go to settings and change to dark theme
2. Go to https://dev.to/thepracticaldev/welcome-thread-v118-1kb0
3. The welcome tag wont be visible

**Expected behavior**
tag should visible in all themes
**Screenshots**

![IMG_20210331_222530](https://user-images.githubusercontent.com/8092120/113182910-0eab5000-9271-11eb-8

[2021-03-31 17:28] nickytonline commented on #12017
@sammychinedu2ky thanks so much for working on this! Ensure that Elastic Search is running as the mention autocomplete grabs it's data from there. See https://docs.forem.com/backend/elasticsearch/ and to set up Elastic Search and to ensure it's configured properly, check out the docs:

* [Mac](https://docs.forem.com/installation/mac/)
* [Windows](https://docs.forem.com/installation/windows/)
* [Li

[2021-03-31 17:34] cmgorton commented on #13206
Hey @Rafi993 thanks for opening this issue. Since it is a duplicate of https://github.com/forem/forem/issues/12749 I am going to close this one. 😃

[2021-03-31 17:34] #13206 closed

[2021-03-31 19:38] mstruve opened #13212 "Refactor: Remove SheCoded Specific Code ✂️"
We have 2 files and a bit of related code that is all SheCoded specific. Since SheCoded is a DEV specific campaign it should not be a part of the codebase. In the future, if we want to support specific campaign article previews we should build that as a feature into our admin portal. However, that's a larger question for the product team.

### Files and related code to remove
* https://github.com/

[2021-03-31 20:50] jgaskins opened #13214 "Contrast for analytics time windows is very low with the "night" theme"
The tabs to select the time frame on the analytics page look like with the dark theme on DEV has very low contrast (black on very dark blue):

**To Reproduce**

1. Set the "Night" theme
   <img width="650" alt="image" src="https://user-images.githubusercontent.com/108205/113209138-a9d80180-9240-11eb-8974-6cd0b4ab497f.png">
2. Visit [the analytics page](https://dev.to/dashboard/analytics)

**Expect

[2021-03-31 21:20] jaredcwhite opened #13217 "Analytics: Infinity time window produces JS error in Safari"
I'm trying out the new Analytics feature for my account jaredcwhite on Dev.to. The Week and the Month time windows work fine, but when I select Infinity, I get a "RangeError: Invalid Date" error. The offending code seems to be `toISOString` in this block:

[code]

This is when using Safari for Big Sur, Version 14.0.2 (16610.3.7.1.9)

I logged in with Firefox 87 and Infinity does work there.

[2021-03-31 22:11] sammychinedu2ky commented on #12017
Thanks for your response @nickytonline , I have elastic search set up but I'm still getting the same error.

[2021-04-01 08:42] Link2Twenty opened #13222 "[Bug] Analytics graphs changing randomly"
**Describe the bug**
The graphs in the new analytics tab seem to change `randomly`.

**To Reproduce**
 - Go to https://dev.to/dashboard/analytics
 - Click through all three duration tabs
 - Move your mouse over the charts
 - they seem to change

**Expected behaviour**
Only the chart for the current period should be seen

**Screenshots**
![gif of error](https://forem.dev/remoteimages/uploads/articl

[2021-04-01 09:15] aitchiss commented on #12017
Hi @sammychinedu2ky can you let us know what error you're seeing?

[2021-04-01 09:22] sammychinedu2ky commented on #12017
The automatic username box doesn't appear when I use the @ mention symbol

On Thu, 1 Apr 2021, 10:16 Suzanne Aitchison, ***@***.***>
wrote:

[2021-04-01 09:33] aitchiss commented on #12017
@sammychinedu2ky just to be extra sure can I double check that you are typing `@` plus two characters - e.g. `@s` won't trigger it, but at `@su` would? Sorry if it's an obvious question, but just to be sure! Also can I just double check where you are testing this out (e.g. typing in a comment on a post, or in the post editor)?

Are there any messages in your console? What browser/version/OS are yo

[2021-04-01 10:01] sammychinedu2ky commented on #12017
Thanks 😅..
Yes I actually ensure that the characters are at least two in length but still it doesn't even make any request in the network tab ( it doesn't make the username request)

[2021-04-01 14:02] sidchaudhary04 commented on #12599
I am getting the same issue

[2021-04-01 14:46] benhalpern opened #13223 "`/new` composer page broken on iOS"
**Describe the bug**

The composer page is broken in iOS... Noticed on Safari and within Forem app

**To Reproduce**

- Visit DEV on mobile
- Sign in
- Go to top-left menu and select "Write a Post"

**Expected behavior**

Page should load properly

**Screenshots**

Safari:

![Image from iOS](https://user-images.githubusercontent.com/3102842/113311171-0259de00-92d7-11eb-9976-f457afd1c559.png)

With

[2021-04-01 15:57] cmgorton commented on #13125
Thank you for diving in to this Nick. @catalinpit @spences10 if you look at the video Nick posted you will see things are actually behaving properly so I am going to go a head and close this issue.

[2021-04-01 15:57] #13125 closed

[2021-04-01 16:44] nickytonline commented on #13223
Going to look at this. It looks like an infinite redirect loop, but not sure what's causing it yet.

[2021-04-01 16:45] nickytonline commented on #12017
@sammychinedu2ky, as @aitchiss mentioned, if you could provide some logs from the browser console or from the terminal where you ran bin/startup, it would be helpful to debug the issues you're having. Thanks!

[2021-04-01 17:48] nickytonline commented on #13223
I'm digging into this and it looks like some JS might be lopping for some reason as I do not see infinite redirects happening in the devtools when connected to my iPhone. 🤔

Not sure if it's related, but the file `https://unpkg.com/@webcomponents/webcomponentsjs@2.2.10/webcomponents-loader.js` is unable to load on iPhone for some reason. I also noticed that that file does not load on desktop. cc:

[2021-04-01 17:53] nickytonline commented on #13223
It also looks like Google Analytics is throwing, but this might tracking protection on WebKit.

![image](https://user-images.githubusercontent.com/833231/113334437-b0728180-92f1-11eb-9051-01ca4782ab98.png)

[2021-04-01 18:27] fdoxyz commented on #13223
@nickytonline I'm not seeing that error related to `https://unpkg.com/@webcomponents/webcomponentsjs@2.2.10/webcomponents-loader.js`. I think that you could be seeing that because the webpage crashed before being able to fetch it and not necessarily because it's related to this problem, maybe?

I do see the following error in the console (though at first glance it doesn't seem related either):

<i

[2021-04-01 18:35] nickytonline commented on #13195
Related to this issue is the member navigation menu renders under banners.

![image](https://user-images.githubusercontent.com/833231/113338482-2a593980-92f7-11eb-8943-973d5e7a8500.png)

The banner has a `z-index: 100;`, whereas the member menu has a `z-index: 400;`. This leads me to believe it's not just a z-index issue but also relates to [stacking contexts](https://developer.mozilla.org/en-US/d

[2021-04-01 18:47] clottman commented on #13084
This is related to https://github.com/forem/forem/issues/13119.

[2021-04-01 18:50] cmgorton commented on #9194
This no longer appears to be an issue. I am going to close this but please let me know if you still experience this bug and we can reopen it. Thank you.

[2021-04-01 18:50] #9194 closed

[2021-04-01 20:10] djuber opened #13226 "Segmentation fault when running "Creating Comment" system test"
**Describe the bug**

TravisCI intermittently fails with a segmentation fault when executing the [currently skipped](
 https://github.com/forem/forem/pull/13103) tests at spec/system/comments/user_fills_out_comment_spec.rb

We should determine why this is happening and whether there's a way to perform the same test without triggering the failures.

**To Reproduce**

Re-enable the skipped spec in s

[2021-04-01 20:39] nickytonline commented on #13223
I did some more digging and this appears to only affect the v2 editor on iOS Webviews. Stil investigating.

[2021-04-01 21:04] djuber opened #13228 "userData is sometimes not available when page is loaded (during testing)"
**Describe the bug**

https://github.com/forem/forem/pull/13224 adapted a failing test that expected a component to have rendered with one element disabled. It was observed that loading the page twice "solved" the issue (or, the tests began to pass reliably once this was done).

The underlying issue appears to be that the user has not been added by the front end when the system test views the page

[2021-04-01 21:05] nickytonline commented on #13223
Alright, I did some digging and it looks like it's a race condition of some sort. If I add a `debugger` statement and it pauses the Safari debugger for my local Forem running on my iPhone, it works. Just digging into what that race condition is.

[2021-04-01 21:13] lisasy commented on #12157
I think @citizen428's approach #1 is super sound and advocate to move forward with that so we're not continuing to be blocked here.

When it comes to anything UI/UX-related, we can *always* fix that down the line, but I think having maintaining this framework of some things are always fixed and others variable is the way to go.

[2021-04-01 21:18] nickytonline commented on #13223
So the culprit is https://github.com/forem/forem/blob/95571df8b31c9d4b37a0d0dcd73724f7f2b668c0/app/javascript/crayons/MentionAutocompleteTextArea/MentionAutocompleteTextArea.jsx#L320-L332 when it's loaded right away in Safari/Webviews on iOS.

Getting closer. 😎

[2021-04-01 21:53] jacobherrington commented on #12157
@lisasy I also think it's a really good solution.

Let's say that's our solution for the UI portion of this problem. The secondary issue we're bumping up against is the ubiquitous nature of a lot of ProfileFields in the codebase.

@citizen428 and I both (independently) attempted to remove code that was directly accessing `available_for` because (as this issue points out) if it is going to remain a

[2021-04-01 22:02] benhalpern commented on #12157
@jacobherrington I was typing this up as you wrote your reply. I think it helps answers some questions. In my mind there is a path to ✂️ and simplify a bit.

To build on where we're going, here are some thoughts...

I think with regards to `SPECIAL_SOCIAL_LINK_ATTRIBUTES`...

I've become in favor of cutting the concept of social links of this fashion altogether. That would mean we keep the icons t

[2021-04-02 09:46] Link2Twenty commented on #13214
Looks like it's all hard coded for these buttons. I think it just needs the CSS variables putting in (or rather `@include themeable`).

https://github.com/forem/forem/blob/95055b2a89765fde3f5a84cd33c9ed515499c2ab/app/assets/stylesheets/dashboard.scss#L282-L309

[2021-04-02 10:33] abenerd opened #13230 "Changing size of textarea outside its bounds."
**Describe the bug**
When changing the width of a textarea outside of its wrapping component it changes the width of the other inputs inside the same box and they can all move outside their wrapping component.

**To Reproduce**

Go to: https://<forem instance>/settings
Change width of textarea input

**Expected behavior**
To be constrained to the bounds of my wrapping component.

**Screenshots**
!

[2021-04-02 13:47] Link2Twenty commented on #13230
I think there are 2 solutions for this either,  set a `max-width` on the text area which would have to be calculated or lock resize to vertical `resize: vertical;` which might be a better solution.

[2021-04-02 14:41] Link2Twenty commented on #13214
A question for @ludwiczakpawel , I think, should they not just be tabs? It looks like a simple class change is all that is needed to make that work. Also I added `justify-content: flex-end;` in my example.

![asset swap](https://user-images.githubusercontent.com/3534427/113424741-9061c180-93c8-11eb-8b5b-6e0070928fdf.png)

If that is the route we take we'd need to modify a couple of things.

These

[2021-04-02 15:39] sammychinedu2ky commented on #12017
Sorry for the false alarm. It is working now. I wasn't using the correct repository

[2021-04-02 21:06] nickytonline commented on #13228
Using a promised based utility function we have to get the user would probably make this code more reliable.

https://github.com/forem/forem/blob/009c14653ab84da91cf278400350503e056bef29/app/javascript/chat/util.js#L40-L44

It's currently in connect utilities, but we could add it to our utilities folder and reuse it here as well as connect. There are a few other places that use the connect util as

[2021-04-03 15:13] djuber commented on #13228
@nickytonline Thanks for the tip - I spent a fair amount of yesterday getting to understand what was happening. I see the issue now is that we use local storage object (accessed via `browserStoreCache`) to cache the user info (and an async call to update base data during `initializeBodyData` will refresh this for logged in users on page load). The flaky test is around code that uses the DOM's copy

[2021-04-05 03:41] nickytonline commented on #13223
So the real issue @aitchiss is when the component gets focus. Adding a `setTimeout` to do the focus fixes the issue, but seems like a bandaid solution. Maybe good enough for now. For the editor, it keeps the focus even with the `setTimeout`, but for the comments, it causes the element to lose focus on the first focus.

https://github.com/forem/forem/blob/009c14653ab84da91cf278400350503e056bef29/ap

[2021-04-05 06:21] citizen428 commented on #11414
@mstruve Just to make sure we're on the same page: you want all 4 columns gone, plus the two usages above, plus all the code from `app/services/authentication` that sets the timestamps, correct?

[2021-04-05 08:22] aitchiss commented on #12017
@sammychinedu2ky that's great to hear! thank for letting us know - and give us a shout if you have any other questions 🙂

[2021-04-05 08:51] aitchiss commented on #13223
It's interesting that this problem doesn't surface in the comments area, given the manual focusing still happens there 🤔
I guess in the case where we don't have a "replaceElement" we actually don't need to focus on line 304 - since the plain text area is presented from the get-go, and the user has clicked into it?

[2021-04-05 10:52] ellativity opened #13248 "Either change Podcast title text colour for light themes and/or make "Pattern Image" a mandatory field for Suggest a Podcast form"
**Describe the bug**
The Podcast page always displays title text in white on a white background, regardless of the user's theme. .

Right now, the [Suggest a Podcast](https://dev/to/podcasts/new) form can be submitted without uploading a `Pattern Image`, which means that when the podcast is approved, the title text is white type on a light background (irrespective of selected theme).

**To Reprodu

[2021-04-05 12:11] mstruve commented on #11414
Correct! It's redundant data that doesn't really serve any purpose being on the user so lets ✂️

[2021-04-05 14:29] sammychinedu2ky commented on #12017
@aitchiss  please which link leads to the channels page in this picture
https://user-images.githubusercontent.com/833231/102957629-e90bef00-44a8-11eb-9a8e-a6bad370979a.png

[2021-04-05 14:37] aitchiss commented on #12017
@sammychinedu2ky you can reach this page by clicking the chat icon from the home page (see below) or by visiting `/connect`. Hope this helps!

![Screenshot showing the Forem local instance and a red circle around the chat icon at the top right](https://user-images.githubusercontent.com/20773163/113585935-cb603100-9624-11eb-9ce7-fec3228d35cc.png)

[2021-04-05 14:45] sammychinedu2ky commented on #12017
Thanks a lot I am grateful

[2021-04-05 15:20] sammychinedu2ky commented on #12017
I tried using the connect feature locally but no luck. Please is there any guide line that shows how to use it?

[2021-04-05 15:21] sammychinedu2ky commented on #12017
@aitchiss  I tried using the connect feature locally but no luck. Please is there any guide line that shows how to use it?

[2021-04-05 15:26] nickytonline commented on #12017
@sammychinedu2ky,make sure you have pusher set up as that is what connect uses. See our documentation on [setting up pusher](https://docs.forem.com/backend/pusher/)

[2021-04-05 15:37] sammychinedu2ky commented on #12017
Thanks a lot @nickytonline

[2021-04-05 17:16] sammychinedu2ky commented on #12017
thanks I have it working now

[2021-04-05 18:33] ludwiczakpawel commented on #13214
Analytics page is indeed outdated when it comes to UI. The ideal solution here would be to user [Crayons Tabs](https://storybook.forem.com/?path=/story/components-navigation-tabs-html--default) (even though they may not be perfectly documented, there're several places in the codebase where we use them, for example Home feed).

[2021-04-05 19:42] jgaskins commented on #13217
@jaredcwhite @cmgorton I found the bug. We count April 1, 2019 as the beginning of time, but [it's specified as `2019-4-1`](https://github.com/forem/forem/blob/e3ff582c993255a11641e5f50692fd782be14833/app/javascript/analytics/dashboard.js#L226). I tested this expression in Firefox and and it works. It seems to have permissive datetime string parsing. However, Safari's appears to more strictly adhe

[2021-04-05 21:28] benhalpern commented on #13223
@nickytonline @aitchiss I see that there is an _autofocusing_ happening on `/new` on page load which is different than the comment area, where nothing is focused _right on page load_. Maybe that is a difference?

Either way, I'd definitely be cool with a bandaid for now if we aren't very close to figuring it out.

[2021-04-05 22:08] JaneJeon commented on #13223
+1 for a quick bandaid patch to deploy, I’m totally biased because I use an ipad as daily driver and I can’t write on dev.to xP

[2021-04-06 00:15] nickytonline commented on #13223
I even do post s on my iPhone sometimes. 🙃 Gonna see about getting this resolved tomorrow. 😎

[2021-04-06 07:41] ludwiczakpawel opened #13268 "Title box on /new view is too high (by default)"
**Describe the bug**

The title field on /new view is supposed to be autoresized depending on its content. So by default it should be _1 line_ height but it's 2 lines at the moment. It's likely this is due to some [update](https://github.com/forem/forem/pull/13234) we've just introduced.

**To Reproduce**

1. Go to `/new`
2. See title field being taller than one line of text.

**Expected behavior*

[2021-04-06 07:41] ludwiczakpawel commented on #13268
cc @aitchiss

[2021-04-06 08:44] aitchiss commented on #13268
woops! thanks @ludwiczakpawel - I'll take a look at this

[2021-04-06 11:11] #13268 closed

[2021-04-06 12:04] Link2Twenty commented on #383
Something we've been doing at my workplace is converting our hooks to TS and writing new ones in TS. This just gives you an easily achievable goal, small victories.

[2021-04-06 14:33] sammychinedu2ky commented on #12017
Made a pull request

[2021-04-06 14:33] sammychinedu2ky commented on #12017
It can be seen here https://github.com/forem/forem/pull/13271

[2021-04-06 15:05] #13173 closed

[2021-04-06 15:12] #11602 closed

[2021-04-06 17:10] atsmith813 opened #13277 "Refactor `/search/chat_channels` endpoint"
In https://github.com/forem/forem/pull/13235 we refactored how `/search/chat_channels` works by essentially removing "search" functionality and turning it into more of a "filter". [As noted in the PR](https://github.com/forem/forem/pull/13235#discussion_r606368287):

This issue is to essentially update all the JS components on the frontend to use a newly refactored endpoint that lives in a more ap

[2021-04-06 17:33] rhymes commented on #13277
+1 on removing the code out of search and into a dedicated query object / service

[2021-04-06 21:18] lisasy commented on #12157
@jacobherrington @benhalpern

Thanks for looping me into the conversation; I'm attempting to get up to date on everything with minimal context, but in some ways, I also can provide fresh eyes to this conversation :)

An approach I took to asking myself what we could strip away to define the generic, hard-coded fields that admins cannot modify; what outcome do we want? Focusing within the "header"

[2021-04-06 21:35] lisasy commented on #12157
@jacobherrington:

Can you clarify what you mean when you say "leave that behind the `dev_to?` check or get rid of it"? If my recommendation is to [make default & fixed only particular fields in this header area](https://github.com/forem/forem/issues/12157#issuecomment-814446455), then I would advocate deprecating these "work fields" for all Forems in our more generalized universe. For example, I'

[2021-04-07 01:36] Zhao-Andy commented on #11583
After quite a slog of investigating, I've confirmed this happens by default with Carrierwave. What we don't delete is the cached image of it through our caching service (nginx/Cloudinary).

Closing this issue since the original description is for deleting from the storage service itself.

[2021-04-07 01:36] #11583 closed

[2021-04-07 05:21] citizen428 commented on #12157
It's possible, which is the `.dev_to?` check Jacob mentioned. But so far we always assumed these would be temporary, not long term solutions.

[2021-04-07 08:57] jmau111 opened #13289 "Reduce HTML errors"
**Describe the bug**

Multiple HTML errors

**To Reproduce**

Use the w3c validator to validate HTML: https://validator.w3.org/nu/?doc=https%3A%2F%2Fdev.to%2F

**Expected behavior**

no error

With this PR https://github.com/forem/forem/pull/13288 some of those HTML errors could be fixed. There are still errors that can be tricky to resolve.

I've noted this one 👍🏻

but it looks like it's a dynami

[2021-04-07 09:52] #13223 closed

[2021-04-07 13:11] #13214 closed

[2021-04-07 13:44] djuber opened #13293 "When creating a new user, the cached 404 api response should be cleared"
When requesting users by id using the api [/api/users/:id](https://docs.forem.com/api/#operation/getUser) - and requesting an id greater than the max user id, a 404 is correctly returned.

When requesting the same user id again, a cached 404 is returned.

After the user is created, the 404 still is returned (it could now have been a 200) to the same user (user agent, request, ip), and the x-cache

[2021-04-07 14:10] rhymes commented on #13293
It's probably enough.

I think it might be due to the fact that we're not setting a surrogate key in the `API::V0::UsersController#show` endpoint, mistakenly assuming that that endpoint is never cached but as you noticed, it's cached with a default expiration of an hour.

Maybe we can implement it the same way we do for `articles`:

https://github.com/forem/forem/blob/5ab3b02de4498d4f89c89d3efa665

[2021-04-07 14:17] djuber commented on #13293
Just to clarify - I don't believe the 200 responses are being cached - only the 404 response.

https://github.com/forem/forem/blob/master/app/controllers/api/v0/api_controller.rb#L32-L34 I think it's _actually_ this action via the inherited rescue https://github.com/forem/forem/blob/master/app/controllers/api/v0/api_controller.rb#L18 that's handling the response, not the users controller?

[2021-04-07 14:21] rhymes commented on #13293
Ohh got it! Yeah, that's rendered from that block. Maybe we could add `Cache-Control: no-store, max-age=0` to the 404 response...

[2021-04-07 14:24] djuber commented on #13293
I'm not opposed to caching 404's but the risk of not caching them seems low.

I've definitely seen CMS systems self-destruct when a scanner hit too many urls giving 404's in a short time, and they rendered beautifully themed error pages dynamically, though I admit api db lookup by id is probably not the same severity.

[2021-04-07 14:25] cmgorton commented on #13289
Hey thanks for your help here! With the PR merged would you consider this closed @jmau111 ?

[2021-04-07 14:35] Link2Twenty opened #13296 "Tab layout shift"
**Describe the bug**
When a `crayon-tab` becomes active it sets its text to bold, this causes the size of its container to change and things to shift around. When this coincides with a page reload you can't really notice but on analytics (where this change is triggered by JS) you can see the shift.

**To Reproduce**
- Go you [analytics}(https://dev.to/dashboard/analytics)
- Click around on the tab

[2021-04-07 14:46] icncsx commented on #6608
Fantastic, team!

[2021-04-07 14:52] cmgorton commented on #13296
Thanks @Link2Twenty . I think this is something worth fixing and I like your suggestion. Is this something you would want to work on?

[2021-04-07 14:53] Link2Twenty opened #13298 "Comment box not shrinking on submit"
**Describe the bug**
Comment boxes grow as you type but when you press submit they stay the size they were when they had content.

**To Reproduce**
- Go to a post
- Write a long comment
- Post the comment
- See the comment box is still large.

**Expected behaviour**
I'd expect the comment box the shrink back down to it's original size.

**Screenshots**
![image](https://user-images.githubuserconten

[2021-04-07 14:55] james-wallis opened #13299 "Display view/reaction/follower increases on the dashboard page"
Hopefully, this is the right place for this.

This feature request was sparked by [a comment](https://dev.to/madza/comment/1d74g) on [one of my posts](https://dev.to/jameswallis/i-built-a-dev-to-analytics-dashboard-to-track-historic-post-data-2c7o). I've recently completed implementing my own Dev.to analytics dashboard by creating a store of historical data in Azure Cosmos DB.
My take: https://dev

[2021-04-07 15:00] cmgorton commented on #13296
If you have time and want to then go for it! We always appreciate your contributions @Link2Twenty.
I can assign it to you for now. If you can't get to it just let me know and we can unassign you :)

[2021-04-07 16:17] cmgorton commented on #13298
I noticed this yesterday too! Thanks for submitting an issue.

[2021-04-07 16:42] jmau111 commented on #13289
Hi, you're welcome. In short, I'd say no.

In details, the PR does not remove all HTML errors, just some of them, like a "safe remove" with no unwanted side effects. I think the missing alt can be fixed directly in the admin interface, as far as I know, it's like a dynamic widget.

I'm not sure I fully understand the defer attribute on inline scripts, as it's for external js only. I'm afraid remov

[2021-04-07 17:26] atsmith813 commented on #13293
Very interesting 🤔

I think your idea of busting the cache after creating a user would fix it @djuber. Depending on how we bust it (sync or async) it's possible there's a teeny tiny delay still in that endpoint refreshing (maybe?). Admittedly, I don't think this potential delay has been an issue on the other endpoints. Most of it is Fastly which is super fast 😅

[2021-04-07 17:27] atsmith813 commented on #13293
And ➕  to @rhymes's point

[2021-04-07 17:31] madzadev commented on #13299
I second this, would love to see Dashboard features extended! 😉

[2021-04-07 18:25] #13217 closed

[2021-04-07 19:26] dcruz1990 commented on #6584
I updated recently and everything goes well!!! Going to close this now.

[2021-04-07 19:27] #6584 closed

[2021-04-07 19:32] cmgorton commented on #13299
Hey all, we have a newer policy where we take feature requests over at [forem.dev]( https://forem.dev/). We already have some discussion around the dashboard happening over there. Please feel free to start a post there for these features. Our product team no regularly checks forem.dev for feature requests. Thanks!

[2021-04-07 19:39] cmgorton commented on #13299
James I am going to go a head and create a post for you in forem.dev with this feature request. I think we can have a good discussion over there about this. Thanks.

[2021-04-07 19:46] cmgorton commented on #13299
Here is the post if you would like to add any more comments to it @james-wallis
https://forem.dev/foremteam/discuss-analytics-dashboard-features-31h9

[2021-04-07 20:52] jgaskins commented on #13195
@nickytonline I think you're right. The popover has `z-index: 100`, but its great-grandparent element has `z-index: 1`.

![screenshot of the DOM structure and style properties of the menu dropdown](https://user-images.githubusercontent.com/108205/113931601-ab657480-97c0-11eb-8685-ca55a4140460.png)

If I'm reading the link you posted correctly, it looks like the `z-index` of the descendant element

[2021-04-07 21:28] #13228 closed

[2021-04-07 22:47] james-wallis commented on #13299
Cool, thanks for taking the time to look at this @cmgorton. I’ll keep an eye on the Forem.dev post!

[2021-04-08 02:14] scottnuma opened #13307 "Uploaded images 404 when using Forem in production mode"
**Describe the bug**

Images uploaded while writing an article are 404ing when using Forem in production mode with cloudinary.

**To Reproduce**

I'm running quay.io/forem/forem:production with `RAILS_ENV=production` with cloudinary enabled by setting CLOUDINARY_API_KEY, CLOUDINARY_API_SECRET, and CLOUDINARY_CLOUD_NAME.

1. Click `Write a  post`
2. Click `Upload image` and upload an image
3. Click

[2021-04-08 03:55] hostinggs opened #13308 "Error show when i write a article"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

![Untitled](https://user-images.githubusercontent.com/45525893/113966064-10b27780-984c-11eb-891e-a8e8f583fcec.jpg)

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**A

[2021-04-08 03:56] hostinggs commented on #13308
Error show when i write a article

Ooooops...
You have encountered an error.
Our team has been notified.

We apologize for any inconvenience.

email.id gaganjot44@gmail.com

[2021-04-08 09:26] jeikabu opened #13316 "Feature Request- "experience level" variable in front matter"
Would be nice to be able to set the [experience level](https://dev.to/devteam/set-your-experience-level-for-a-more-tailored-feed-4e73) of a post in the [front matter](https://dev.to/p/editor_guide#front-matter) similar to `series:`.

I'm forever forgetting to do that since it's an additional step beyond the authoring process.

[2021-04-08 09:32] jeikabu opened #13317 "Differing "experience level" ranges"
**Describe the bug**

The range of values for "experience" level varies in different parts of the UI.

**To Reproduce**

1.  Open `https://dev.to/username/post/manage`, note it's 1-10
2. Open moderator tools, note it's 1-5

**Expected behavior**

Range of value is the same in all places.  Either 1-5 or 1-10, but not both.

**Screenshots**

![image](https://user-images.githubusercontent.com/5897149

[2021-04-08 09:58] Link2Twenty commented on #13317
Worth noting the experience levels in the slide out panel matches the experiences levels a user can set for themselves in [customization](https://dev.to/settings/customization).

![content levels](https://user-images.githubusercontent.com/3534427/114007412-3b56fd00-9859-11eb-8e36-15c769305c89.png)

[2021-04-08 10:27] Link2Twenty opened #13318 "`dropdown-options` always open and lacks a11y"
**Describe the bug**
Drop down options in for items in the "OTHER THINGS YOU CAN DO" section of the mod panel are always open.
While investigating the cause I noticed there were no aria attributes

ref: <https://www.w3.org/TR/wai-aria-practices-1.1/examples/accordion/accordion.html>

**To Reproduce**
- Go to a post
- Open the mod panel
- See the accordion appears open
- Click the accordion and see

[2021-04-08 11:53] #11983 closed

[2021-04-08 14:17] cmgorton commented on #13308
Hey @hostinggs thanks for following up here. Our team let me know they have reached out to you one already and would be happy to follow up with you by email.

[2021-04-08 14:17] #13308 closed

[2021-04-08 14:57] atsmith813 commented on #12314
Closing this one out as it doesn't seem to still be an issue. Thanks, @ankitbeniwal for all the help here!

[2021-04-08 14:57] #12314 closed

[2021-04-08 16:36] nickytonline commented on #5519
For a quick win, we can validate the file size on the client-side.

some pseudo-code

[code]

[2021-04-08 16:51] hostinggs commented on #13308
problem not solved

[2021-04-08 17:00] hostinggs commented on #13308
plz remove my all post  next time i will not post copy content

[2021-04-08 17:11] cmgorton commented on #13316
Thank you for opening this request.😃
Features tend to be subjective and might spur some debate.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like this one, please visit [fo

[2021-04-08 17:11] #13316 closed

[2021-04-08 17:19] cmgorton commented on #13308
Hey @hostinggs this is not an area I or the other engineers can help you with. You will need to read the email the community success team sent you and communicate with them there. They have the proper permissions to help you with your current issue. Thanks!

[2021-04-08 17:38] cmgorton commented on #12401
Hey @alxgrk just wanted to give a little update on this issue. After talking with the team we feel this will likely be a bigger RFC that will encompass an "autosave" feature that our editor currently lacks.

[2021-04-08 17:40] cmgorton commented on #3802
Forem team needs to investigate:
- how often is this happening?
- what % of users are experiencing this issue?
- is this a front end or back end issue?
- is there tools available already that we can use to help with this issue?

[2021-04-08 17:46] cmgorton commented on #13054
Here is a video of what you see when you hit the bump button. Right not there is no indication at all the the button was hit or that it has bumped your listing.
I could confirm when I went to the listings page that the listing had been bumped but again on that actual page with the button to bump there was no indication that I had. I could also keep clicking the button which results in multiple cre

[2021-04-08 17:55] rhymes opened #13323 "Mention autocomplete stops working after an initial scroll"
**Describe the bug**

After a certain amount of text, the mention autocomplete stops working and the arrows keys stop working as well.

**To Reproduce**

1. Go to https://dev.to/new
2. Paste lot of text
3. Scroll a bit
4. Use the autocomplete by typing `@something`
5. See that it's shifted further down
6. Try to then use the arrow keys

**Expected behavior**

For the autocomplete component to work

[2021-04-08 18:01] rhymes opened #13324 ""Revert new changes" in the editor does not remove the body"
**Describe the bug**

In the editor: after having added a title, tags and the content if you click on "Revert new changes" and confirmed the popup, the editor will remove the title, the tags but not the content.

**To Reproduce**

1. go to https://dev.to/new
2. fill in the title, tags and add content in the body of the article
3. click "Revert new changes" at the bottom and confirm
4. the content

[2021-04-08 18:10] nickytonline commented on #13324
This is related to the new mention autocomplete feature.

The mention autocomplete has two inputs that it toggles between, so most likely both are not being cleared.

An end to end test should be added for this to avoid future regressions of this functionality.

[2021-04-08 20:13] mariana0pachon commented on #12455
Noticed this bug today. My theme is set to Dark, but saw it with these steps:
- Opened `dev.to` without logging in and it showed default light theme
- Then logged into my account and still saw light theme
- Went into `Settings` and got the Dark theme

[2021-04-08 20:14] mariana0pachon commented on #12455
Noticed this bug today. My theme is set to Dark, and saw it with these steps:
1. Opened dev.to without logging in and it showed default light theme
2. Then logged into my account and still saw light theme
3. Went into Settings and got the Dark theme

[2021-04-08 20:27] cmgorton commented on #12455
Thanks for the update/confirmation @mariana0pachon .

[2021-04-08 20:36] vaidehijoshi commented on #13212
I've been waiting for this one for awhile!!! 😂 Already started working on this, gonna use it as a break from writing tests for my RFC 💪🏽

[2021-04-09 06:07] CodeWithBishal opened #13330 "Spam Score issue"
Hey, a few days ago I have noticed that the spam score of Dev to increased due to which the spam score of my website also got increased. Now I have drafted most of the posts and kept 2 posts posted with canonical URLs please recrawl all the posts of mine using the google search console. Thanks

Update: I have waited for 1 months now, and the issue is still not fixed please help me

[2021-04-09 07:29] glnds opened #13331 "When editing my post, i see an older version of my post"
Blog post: https://dev.to/aws-builders/lambda-deployments-are-atomic-but-not-isolated-eph

When I click edit, the text in edit mode is NOT the latest version.
So the text in edit mode doesn't match anymore with the text displayed if you to the URL above...

[2021-04-09 08:11] aitchiss commented on #13323
Had a look into this this morning and we have two issues:

**1. The dropdown positioning when the textarea has started scrolling**

The hook to calculate the dropdown position assumes that the textarea has no height constraint and isn't accounting for the scroll. This causes it to be positioned way down the bottom of the screen, in the position it _would_ be if the textarea always grew to the max

[2021-04-09 09:47] aitchiss commented on #13323
There is also a third issue 🙈  - slightly related to issue 1:

**3. Switching between the plainTextArea and the comboboxTextArea doesn't account for the Form container's scroll position**

You can reproduce this by pasting in a big chunk of text so you have a scrollable form, then heading up to the top and entering a user mention. When focus flips back to the `plainTextArea` the scroll jumps to th

[2021-04-09 15:56] #11033 closed

[2021-04-09 16:32] cmgorton commented on #13330
Hey Bishal
We don’t manually assign or adjust scores on DEV. Instead, our scoring system adjusts automatically according to the engagement on your posts. For example, if you get a lot of likes and saves your article will have a higher score, while if it’s reported as spam to our report system it will have a lower score. All we can recommend to improve your score is continue to share high-quality c

[2021-04-09 16:32] #13330 closed

[2021-04-10 12:33] rhymes opened #13348 "Mentions in liquid tags inside comments shouldn't trigger notifications"
**Describe the bug**

If an embedded liquid tag renders to text that contains a `@mention`, it will send notifications to those users.

**To Reproduce**

1. Ask someone to leave a comment that uses `{% comment ID }%` where `ID` is the ID of a comment that contains a mention
2. Receive notification because of the embedded context

**Expected behavior**

`@mentions` should not take into account embe

[2021-04-10 16:50] jmau111 commented on #13289
I will send some PRs to remove other errors @cmgorton

[2021-04-10 20:26] Freshchris01 commented on #13230
I'd like to work on this issue :slightly_smiling_face:

[2021-04-11 10:11] CodeWithBishal commented on #13330
which score you are talking about? I am talking about Moz spam score for a domain

[2021-04-11 20:37] azurh commented on #10940
![image](https://user-images.githubusercontent.com/5826537/114320506-75085c00-9b16-11eb-9aa9-8edada5d65f5.png)

[2021-04-12 08:41] ghost opened #13354 "Unarchiving posts not working"
**Describe the bug**
I want to remove an archived post but first manage option takes me to 404 not found page and when I try to unarchive it won't work.

**To Reproduce**
1) An old post (might have been removed from database)
2) Try to delete post
3) Takes you to not found page.
3) Try to unarchive
4) Unarchive do not works and produces a `console.error`

**Expected behavior**
Unarchive / Delete t

[2021-04-12 12:54] rhymes commented on #3234
When notifications are created, we store some information in the notification object, as a JSON payload:

https://github.com/forem/forem/blob/c357307c061987d63669cc0e77b676ec658e855a/app/services/notifications/new_comment/send.rb#L22-L25

This information contains `user_data` and `comment_data`. `user_data` in particular contains information about the user's name and username, the comment's and ar

[2021-04-12 14:32] djuber commented on #13293
I don't think that's an issue - the use case is a 3rd party requesting the user show action a few minutes apart, not a user created via the api getting redirected to their own page and seeing the 404 - delay is acceptable here.

[2021-04-12 15:56] michael-tharrington opened #13360 "Authors Can't Easily Access Hidden Comments on Their Post (to unhide them)"
**Describe the bug**

If a user hides a comment and wants to unhide it, they must have access to the hidden comment's permalink to unhide it. Accessing a hidden comment via permalink is too difficult because the permalink isn't easily accessible (especially when a comment is hidden).

Authors should be able to easily access hidden comments on their post so that they can unhide them/report them to

[2021-04-12 18:04] #13212 closed

[2021-04-12 19:17] nickytonline commented on #13324
I did a bit of digging and the article body is getting reset, but the state in the MentionAutocomplete component is not updating it's text, because the reset data is not being updated via the `setText` function from a `useState` hook. The input is not a [controlled input component](https://reactjs.org/docs/forms.html#controlled-components). Only the initial value of the article body is set from th

[2021-04-13 15:42] bcouetil commented on #371
Please reopen this 😭 Asciidoc is future-proof ! Markdown done better.

[2021-04-13 16:12] cmgorton commented on #371
Hey @bcouetil I believe this was closed as it had been open for several years without anyone in the community wanting to work on it. I do not believe it is something on the roadmap that Forem engineers can work on any time soon but I'd be happy to have a discussion over on [forem.dev](https://forem.dev/) to see if this is something we can open back up to the community if they want to contribute to

[2021-04-14 02:35] #11566 closed

[2021-04-14 10:49] aitchiss opened #13389 "Some deferred and async scripts are not deferred/async"
**Describe the bug**

It was identified in PR #13350 that we have a lot of `script` tags in the codebase with the attributes `defer` or `async`, but without the `src` attribute.

Without the `src` attribute defer/async have no effect - see the [MDN docs for details](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script):

To fix this, we would need to move the JS script content into it'

[2021-04-14 12:20] jmau111 commented on #13289
https://github.com/forem/forem/issues/13389

[2021-04-14 12:27] james-wallis commented on #9679
In case anyone comes upon this issue - I made a tool that will calculate your current writing streak for you. Hope it helps!

https://devto-writing-streak-calculator.wallis.dev

[2021-04-14 12:29] james-wallis commented on #9210
Hope this is ok to add.

I've built a free tool that calculates your current writing streak in lieu of the feature being added into the core Forem code.

https://devto-writing-streak-calculator.wallis.dev

[2021-04-14 12:32] #12961 closed

[2021-04-14 13:30] michael-tharrington commented on #9210
That's so awesome @james-wallis! Just curious, have you written a post on DEV about this?

[2021-04-14 16:01] nickytonline opened #13399 "Using enter key on desktop or touch on mobile only opens the member menu every second time"
**Describe the bug**

The member navigation menu does not always open when using keyboard navigation via the ENTER key or touch on mobile.

I think this might be related to changes made in #12753

See

https://github.com/forem/forem/blob/b66da2b4a61e50261b03cdbd016486c63040ff29/app/javascript/topNavigation/utilities.js#L21-L42

**To Reproduce**

1. Using touch on mobile, or the ENTER key after hav

[2021-04-15 06:49] jmau111 commented on #13389
Let's go down the rabbit hole ^^ , I'm taking this. Will do several PRs.

[2021-04-15 18:36] benhalpern opened #13419 "Featured image missing from unauthenticated home feed"
**Describe the bug**

On DEV, the home feed should start with a post with a cover image, but the cover image is currently missing.

**To Reproduce**

Go to dev.to and observe no featured image. I imagine this bug has not yet been deployed to the Forem Cloud fleet, so visit forem.dev and see no problem.

**Expected behavior**

First post in feed should have image.

**Screenshots**

<img width="676"

[2021-04-15 19:12] michael-tharrington opened #13420 "Latest Episode of DevNews Not Showing Up"
**Describe the bug**

@ellativity brought up earlier that she received a notification for "Today's podcasts" in her feed with a DevNews episode, but when clicking it, it sends a 404. (see image below)

**Expected behavior**

When I go to https://dev.to/devnews/s4-e1-platforms-as-utilities-archiving-yahoo-answers-and-companies-rescinding-accepted-offers I expect to see season 4, episode one. And na

[2021-04-15 19:48] fdoxyz commented on #13420
It appears as if the episode is set as `reachable = false` in the DB. Maybe it was reachable but then modified to not-reachable but it appears as cached?

[Query here](https://dev.to/admin/blazer/queries/419-devnews-s4e1)

![Screen Shot 2021-04-15 at 13 46 00](https://user-images.githubusercontent.com/6045239/114929625-48439580-9df1-11eb-9518-457300dccb34.png)

[2021-04-16 14:48] leewynne opened #13428 "Add cover image bug on Dev-ios / ForemWebView-iOS on local build"
**Describe the bug**

When building locally and using testflight, the Dev-ios app crashes when adding a cover image with the error below.

fatalError(“unable to find bundle named YPImagePicker_YPImagePicker”)

**To Reproduce**

* Clone DEV-iOS
* Run ./carthage.sh update --no-use-binaries --platform iOS --cache-builds
* Let it fail on the time out
* Open ForemWebView from the Checkouts folder in XC

[2021-04-16 14:48] #13428 closed

[2021-04-16 14:48] leewynne commented on #13428
wrong repo!

[2021-04-18 13:18] erwinwolff opened #13433 "Module not found: Error: Can't resolve '../packs/flagUserModal'"
**Describe the bug**

When compiling the current build, bin/webpack produces the following output

[code]

**To Reproduce**

bin/webpack  command on the current HEAD

**Expected behavior**

compilation completes successfully

**Desktop (please complete the following information):**

- OS, version: Debian 10 Linux
- Browser, version: n/a

[2021-04-18 18:39] DevLorenz0 opened #13434 "Organization secret code not copied to clipboard"
**Describe the bug**

When copying the organization secret code with the special button, it says "Copied to clipboard!" but doesn't work in reality.

**To Reproduce**

1. Go To Edit Profile
2. Go to Organization
3. Create an org (or switch to an existing one)
4. Under Grow the team - Your secret code is: --> Copy Button
![image](https://user-images.githubusercontent.com/78320052/115156677-b6a08600

[2021-04-18 21:34] hadiidbouk opened #13436 "Missing read time from GET articles endpoint"
I am building a multiplatform application for DEV that will run on iOS, iPad OS, and macOS using SwiftUI ([here](https://github.com/hadiidbouk/DEV)).
The problem is that [GET articles endpoint](https://docs.forem.com/api/#operation/getArticles) doesn't contain the "read time" property.

The "3 min read" is added just for testing purposes.

<img width="1365" alt="Screen Shot 2021-04-09 at 2 54 03 P

[2021-04-19 04:08] citizen428 commented on #13433
Hmm, I just tried and everything seems to be working fine for me, are you still experiencing this issue?

[2021-04-19 07:03] renu944 opened #13438 "How to create dynamic query of graphQL from schema"
Hi ,
I have a requirement to generate dynamic query of GraphQL from schema. I need to create dynamic schema and its query by passing table name from the database. I am able to create schema dynamically. Can anyone help me to create dynamic queries on it?

Thanks

[2021-04-19 07:19] rhymes commented on #13438
Hi @renu944, I think you might have opened this request in the wrong repository. Forem doesn't have a GraphQL schema.

[2021-04-19 07:19] #13438 closed

[2021-04-19 14:04] benhalpern commented on #13419
I think it was this:

I think it was this:

https://github.com/forem/forem/pull/13350/files

<img width="1498" alt="Screen Shot 2021-04-19 at 10 03 48 AM" src="https://user-images.githubusercontent.com/3102842/115249400-9066fe80-a0f6-11eb-9f49-589455d3f1f3.png">

[2021-04-19 14:12] benhalpern opened #13444 "Tag pages have a "largest contentful paint" state of "needs improvement""
**Describe the bug**

This is likely not "urgent", but could use some investigation.

Tag pages on Forems have an issue of too long for [largest contentful paint](https://dev.to/armelpingault/a-little-investigation-on-the-largest-contentful-paint-metric-1ho9)

Specifically, we are getting this in the _mobile_ test. Desktop is not serving this warning.

**Screenshots**

<img width="1256" alt="Scree

[2021-04-19 14:36] michael-tharrington commented on #13420
The issues with DEVNews was fixed, so I'm closing this issue. It's possible that we still need to solve the underlying issue.

[2021-04-19 14:36] #13420 closed

[2021-04-19 14:58] djuber commented on #13436
it looks like `reading_time` would be the item missing from [`Api::V0::ArticlesController::INDEX_ATTRIBUTES_FOR_SERIALIZATION`]( https://github.com/forem/forem/blob/main/app/controllers/api/v0/articles_controller.rb#L14-L20 )

Not sure if this is the right thing to do (if there was a reason reading_time was left out), but I think that's _where_ to start adding it.

[2021-04-19 15:00] #13419 closed

[2021-04-19 18:03] erwinwolff commented on #13433
Yes, the current HEAD compiles just fne.

[2021-04-19 18:26] Zhao-Andy opened #13447 "Deprecation Warning: sidekiq-unique-jobs middleware configuration"
Seeing a deprecation warning after running `bundle`.

[code]

  Seems like a fairly straightforward find and replace fix.

[2021-04-19 18:27] Zhao-Andy commented on #13447
I didn't use the bug report template because I think this is probably an easier way to describe the issue. 😅 Maybe this is `ready-for-dev` and a `good-first-issue` @cmgorton?

[2021-04-19 19:34] djuber commented on #13447
@Zhao-Andy I suspect we're already okay here after this commit:

https://github.com/forem/forem/commit/e6883ea63b11779bc3d6bf3a4201fce765404809

 It looks like we might already be configuring this explicitly, and the warning is not applicable (but bundle doesn't know what we do at app boot and the deprecation warning presents itself).

If there's something in scope more than "silence unneeded depr

[2021-04-19 20:38] djuber commented on #13434
I can replicate this with Firefox and Chrome on linux in a local dev environment (so doesn't seem to be limited to windows/chrome, doesn't seem to be limited to https://dev.to/, probably applicable anywhere we expected to be writing to the clipboard).

https://github.com/forem/forem/blob/main/app/views/users/_org_admin.html.erb#L52-L68 seems to be the relevant view (the `clipboard-copy` element, s

[2021-04-19 22:11] #13436 closed

[2021-04-19 22:15] djuber commented on #13436
@hadiidbouk I'm adding this now (if you're only using the api from https://dev.to, articles should include a `reading_time_minutes` value in an hour or so, some hosted Forem instances may not have this field present until later this week). The [api documentation](https://docs.forem.com/api/) should update to version 0.9.6 about the same time the additional field is present.

[2021-04-20 03:17] kuei0221 commented on #2914
Hi! I am interested in this issue.

From the previous discussion, I know it will become a huge PR, so I tend to follow the previous advice to split into multiple small PRs with small changes.
For the first step,  I plan to extract a possible action to a new controller and modifies routes per PR.

For example:
https://github.com/forem/forem/blob/2f1dad4e374bc32084107a0cb7e9d68ca4a44a8f/app/controll

[2021-04-20 04:21] citizen428 commented on #13433
Thanks for the feedback @erwinwolff, I'll close this issue then.

[2021-04-20 04:21] #13433 closed

[2021-04-20 04:27] Devangprajapati1997 opened #13448 "Sometimes I'm getting Error while trying to access dev.to"
Sometimes it is showing Error compiling css asset while accessing dev.to

**To Reproduce**

1. Go to https://dev.to

**Expected behavior**

- It must open without any error

**Screenshots**
![Screenshot 2021-04-20 at 9 47 22 AM](https://user-images.githubusercontent.com/14945579/115337276-4ba69a80-a1be-11eb-8818-8b14757e41ac.png)

**Desktop:**

- OS, version: macOS Big Sur, 11.2.3
- Browser, versi

[2021-04-20 07:55] rhymes commented on #13447
I think as well we don't need to do anything, as we're not using those params that need to be renamed.

I believe the post install message is meant as a generic notice for the people using the gem, luckily we are not using that specific combination of params.

I've also tried to submit a job twice (to trigger locking) and I saw no deprecation messages:

[code]

I'm going to close this @Zhao-Andy 🙌

[2021-04-20 07:55] #13447 closed

[2021-04-20 10:03] jasontenenbaum opened #13452 "JASON TENENBAUM EXPOSED, ANOTHER PPP & COVID-19 DISASTER LOAN FRAUD IN NEW YORK"
New York — 10 April 2021 — Another PPP (the Paycheck Protection Program) and [Covid-19 disaster loan scam](https://www.natlawreview.com/article/doj-continuing-to-target-ppp-recipients-fraud) has now been unearthed by a team of investigative journalists who’ve been reporting on how fraudsters like Jason Tenenbaum from New York are exploiting the loopholes in the federal loan program.

Under this ge

[2021-04-20 11:07] Ridhwana commented on #13448
Hi @Devangprajapati1997, thank you for bringing this to our attention.

I'm unable to replicate the issue and so I was wondering can you possibly please clarify thee following for us to be able to help:

1. Is it happening repeatedly and you're unable to use the site at all, or is it just happening sometimes when you access the site? If it happens only sometimes can you give us more detail on the

[2021-04-20 12:34] #13452 closed

[2021-04-20 13:47] krishnadevz commented on #13448
Hi @Devangprajapati1997 try to clear cache of your browser try to open it in another browser if that issue still comes then ping here if not then close the issue

[2021-04-20 14:31] Devangprajapati1997 commented on #13448
Refreshing page loaded dev.to.
Closing issue.

[2021-04-20 14:31] #13448 closed

[2021-04-20 15:17] djuber commented on #13293
Coming back to this - it looks like User has an `after_save :bust_cache` callback registered, that would be assumed to have triggered here? Unless either `after_create` and `after_save` are exclusive (we don't clear cache on create, assuming we didn't cache), or the created object's id only exists in the transaction and is not visible to sidekiq (and the cache busting job runs while the outermost

[2021-04-20 18:59] djuber commented on #11594
I think this is okay to close after https://github.com/forem/forem/pull/12323

[2021-04-20 18:59] #11594 closed

[2021-04-21 13:39] joshpuetz opened #13463 "User directed to 404 on Password Reset"
**Describe the bug**

User received a 404 page after requesting a password reset on Dev.to

**To Reproduce**

- Log into your account
- Navigate to Settings -> Account
- Request a password reset
- Enter your email
- Note you've been redirected to https://dev.to/users/update_password, but it's a 404/Page does not exist page

**Expected behavior**

I'm not sure, but I'm certain it's not a 404 page!

[2021-04-21 13:54] rhymes opened #13464 "Mention autocomplete loses styling after removing focus to the page"
**Describe the bug**

This is a bit bizarre but I noticed how the autocomplete component entirely loses its styling if you navigate away from the page, either by pressing `Cmd-Tab`/`Alt-Tab` to switch the active window or changing the active tab.

**To Reproduce**

1. Open https://dev.to/new
2. Activate the component by typing `@something`
3. Leave the dropdown open and either select another brows

[2021-04-21 16:02] vaidehijoshi commented on #13360
Hm, this seems like a good quick win but I wonder what the design for this solution might be? 🤔

@michael-tharrington any chance you could provide a screenshot of the current interface to exemplify the _lack_ of this functionality? I wonder if we just need a button to hide/unhide the comment

[2021-04-21 19:12] mstruve opened #13468 "Remove `/partnerships` page ✂️"
The Partnerships functionality and the associated https://dev.to/sponsors page are not currently priorities (we have no active partners). Partnerships are pretty much hard-coded in to _every single Forem_.

We want to give this entire set of functionality fresh eyes at some point, but we thought that we could immediately simplify the starter pack if we can at least remove the `/partnerships` page

[2021-04-21 20:24] michael-tharrington commented on #13360
@vaidehijoshi Oh awesome! It'd be nice to get this one sorted.

So, the answer is kinda two part... to get to a hidden comment, an admin can append `/mod` to an article which will present them with a variety of things they can do. Interface looks like this:

![Image 2021-04-21 at 4 14 58 PM](https://user-images.githubusercontent.com/16007075/115615361-de2d6380-a2bc-11eb-854b-f054cbc6ecea.png)

The

[2021-04-21 20:57] hadiidbouk commented on #13436
@djuber I can confirm that it works as expected thank you!

[2021-04-21 21:07] mstruve opened #13470 "Remove jobs_url from SiteConfig and Related Code ✂️"
Currently, we have code in place that will show a banner with a link to our jobs page if a user searches for "job" or "jobs". This is extremely DEV specific and [we have decided that it will not be included in the Forem starter pack](https://docs.google.com/document/d/1facy0-UXlUPrzpll8TAM-MNjZiwVbO1vepphuE6a-ek/edit#) so we want to remove it.

Screenshot of the feature in action.
![Screen Shot 20

[2021-04-22 06:39] citizen428 commented on #13468
The issue mentions both https://dev.to/sponsors and `/partnerships`, should both be removed? Partnerships are not just a simple page, it's a separate `ParnershipsController`. Just want to make sure if both need to be removed or only `/partnerships` in which case the checklist may not be 100% accurate.

[2021-04-22 07:19] citizen428 commented on #13463
Hmm, I just tried this locally and was redirected to http://localhost:3000/settings/account which seems ok. Then I tried on dev.to and it also worked just fine there. Does this still happen for you?

[2021-04-22 10:06] xiaohuoni commented on #11745
[code]

[2021-04-22 10:30] rhymes commented on #11745
Hi @xiaohuoni, it probably has something to do with the `RAILS_MAX_THREADS` environment variable.

It looks like you have a line in `.env` set to:

[code]

instead of

[code]

I was able to reproduce it with the first example

[2021-04-22 11:58] mstruve commented on #13468
Great question! I updated the issue to only address `/partnerships` since that is what the original Stage 0 explicitly states. Following up with @pkfrank to see if we want to add in sponsors while we are here.

[2021-04-22 14:17] djuber commented on #13293
For posterity - the underlying cause appeared to be that the bust cache callback cleared all of the UI paths, but not the api path, causing the stale 404 response.

[2021-04-22 20:21] nickytonline commented on #13054
I was trying to figure out how this was working and then I discovered, it's a form submit, but with no navigation away from the page, i.e. an [HTTP 204](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/204). I was confused as it looked like a regular form submit, but it appeared to have AJAX enabled.

We'll need to change that up to provide feedback to the user whether or not the bump was

[2021-04-22 20:45] djuber commented on #13226
We should attempt moving this from rspec system test with capybara to a cypress e2e test (thanks @Zhao-Andy for the hint)

[2021-04-23 12:06] #13399 closed

[2021-04-23 12:42] rhymes commented on #13054
@nickytonline unfortunately it's a weird corner case bug with some code that's hard to decipher

I found it perusing the logs after clicking on "Bump", that 204 is not intentional:

[code]

Usually one redirects or renders something after a successful operation, that's what the normal "update" operation does: if you change something in the form and click "update listing" you'll end up in the index

[2021-04-23 16:50] djuber commented on #13293
Reopening since it looks like the cached 404 page did not get cleared (checked /users/619751 which did not exist when I started - then waited 3 minutes for the user to be created, and confirmed changing the url showed the user's page).

Waited another minute or two for the cache to clear in case the update didn't run and confirmed the sidekiq queues were empty (if it had been requested it would ha

[2021-04-23 18:50] joshpuetz commented on #13463
Yup, this is a just me issue: I had some VERY borked cookies in both Chrome and Safari locally. Sorry!

[2021-04-23 18:50] #13463 closed

[2021-04-23 18:55] #12393 closed

[2021-04-25 03:05] technoglot opened #13494 "Random posts showing up on profile page"
**Describe the bug**

I noticed random posts appearing on my profile. These posts are NOT mine. When visiting other users' profiles, I see these exact same posts appearing as well.

**To Reproduce**

Go to your profile page, and scroll past the section with all your submitted comments. You should start seeing posts appearing there that are NOT your own.

**Expected behavior**

I expect to see ONLY

[2021-04-25 09:39] thibaultduponchelle commented on #13494
Hello,

With no surprise I have the same issue as @technoglot on my profile but in addition I noticed the same problem in "tag view". Example with [#python](https://dev.to/t/python) or [#perl](https://dev.to/t/perl) where usually **only** the articles with the correct tag appear but now the first posts have the correct tag then below it's random.

[2021-04-25 10:50] rhymes commented on #13494
Hi! Thanks for notifying us! Can you double check now? It should be solved

[2021-04-25 12:25] thibaultduponchelle commented on #13494
Hello @rhymes I confirm 👍🏼 😃

[2021-04-25 14:49] technoglot commented on #13494
Hello @rhymes , issue is fixed indeed. Thanks for looking into it! 😁

[2021-04-25 14:49] #13494 closed

[2021-04-25 17:59] #13470 closed

[2021-04-26 01:44] #13468 closed

[2021-04-26 12:54] aitchiss opened #13505 "Skip links are not the first focused element on internal navigation"
**Describe the bug**

Under #1153 we added skip links to all pages in the app. A skip link should be the first element focused on a page when the user presses the Tab key - however, this is only the case in a Forem if you land directly on a URL, and not if you navigate internally, e.g. by a link click.

There are several strategies available to managing focus on route change, but I would suggested

[2021-04-26 13:00] Link2Twenty commented on #13464
Looks like the problem is with `ComboboxPopover` it thinks it's time to close (so sets the width to 0) but `closeOnClickOutsideListener`  isn't being called so `searchTerm` isn't being reset.

<https://github.com/forem/forem/blob/c842d1a0c6718f319f167e9ec13d4d7d5d6b6d39/app/javascript/crayons/MentionAutocompleteTextArea/MentionAutocompleteTextArea.jsx>

[2021-04-26 14:04] djuber opened #13507 "Upgrade Ruby 2.7 to 2.7.3"
https://www.ruby-lang.org/en/news/2021/04/05/ruby-2-7-3-released/

We specify 2.7.2 in the .ruby-version file and when building images (see Containerfile).

This should be a pain free upgrade (no syntax changes and no expected breakage).

[2021-04-26 14:05] Afif13 opened #13509 "Wrong twitter/facebook info for series pages"
I just noticed that the "og" meta and "twitter" meta are not correctly set for the series page. They are kept generic.

Example of serie: https://dev.to/afif/series/12016 that I tried to share on Twitter: https://twitter.com/ChallengesCss/status/1386328494498533377

[2021-04-26 15:28] rhymes commented on #13464
Great find @Link2Twenty, thank you!

[2021-04-26 15:49] Link2Twenty commented on #13505
I think the easiest solution, though I'm sure you've already thought of this, is to do modify the header to be a focusable element.

https://github.com/forem/forem/blob/90da6355dd7e3c999e8a532ed544c606d1381941/app/views/layouts/_top_bar.html.erb#L2

[code]

[code]

Then when you load in a new page you set the focus to `.crayons-focus-wrapper` with something like

[code]

[2021-04-26 16:05] aitchiss commented on #13505
I'm keen to run with the results from the research linked above, and focus the skip link after the route change, but I agree if there proves to be any difficulty doing that, focusing the header could be the next best thing 👍

[2021-04-26 16:32] vaidehijoshi opened #13513 "Long comments with @-mentions cause rendering issues"
**Describe the bug**

The @-mention autocomplete component does not render in the correct location when typing a long comment and using an @-mention further "down" in the comment.

**To Reproduce**

1. Go to a Forem, and type a comment. Input enough text in the comment such that it is "long" enough to trigger the scroll bar on the side.
2. Towards the bottom of the comment's text, @-mention any us

[2021-04-26 16:39] #13230 closed

[2021-04-26 16:45] vaidehijoshi commented on #13323
Dropping a note since I only realized it after-the-fact...

I think this is related to (if not the same problem as) https://github.com/forem/forem/issues/13513.

@aitchiss I saw that https://github.com/forem/forem/pull/13341 addressed this and was merged and deployed to the fleet a few weeks ago, so I'm not sure if this is a _regression_ or if it's a _separate_ issue...but in any case, I wanted to

[2021-04-26 19:33] codinghusi opened #13522 "App redirects to Notifications > Comments after loosing focus"
(A bug on the Android App, is this the right place for it?)

**Describe the bug**
When the app loses focus, it redirects me always to Notifications > Comments.
That behaviour is very nerve wrecking when I just shortly answer a chat or check a translation while writing an article (as I'm not native english)

**To Reproduce**
1. Go to whatever Home, Listing or any other
2. Loose Focus: Press Home bu

[2021-04-26 22:27] vaidehijoshi commented on #13348
Started investigating this today since it is so closely tied to the work I've been doing with @-mention comments! 👀 🕵🏽‍♀️

[2021-04-27 07:24] rhymes commented on #13348
@vaidehijoshi I did a quick test, with an article that has both a mention and embeds a comment with a mention:

![Screenshot 2021-04-27 at 09-11-02 test mentions and liquid tags](https://user-images.githubusercontent.com/146201/116200390-91bcaa80-a738-11eb-83e8-eb5a7c91509b.png)

The HTML is something like:

[code]

With Nokogiri you can do something like:

[code]

[2021-04-27 09:01] #1153 closed

[2021-04-27 09:05] aitchiss commented on #13513
I have a suspicion that this is going to be related to how a comment textarea expands in height vs the post editor (which is where we first found this bug and implemented the fix). The post editor auto-resizes to take up the full height of its content, whereas I can see in the screenshot above the comments section seems to have a max-height and then starts scrolling. The dropdown is being position

[2021-04-27 09:31] andyrichardson opened #13535 "400 response from CDN on valid image (GIF) upload"
**Describe the bug**

The CDN returns a 400 when a GIF is uploaded to a post.

[GIF URL](https://dev-to-uploads.s3.amazonaws.com/uploads/articles/6p65j4e27ayfz5iqn5iq.gif)
[CDN URL](https://res.cloudinary.com/practicaldev/image/fetch/s--QkUqQ87b--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/6p65j4e27ayfz5iqn5iq.gif)
[Draft URL](https://

[2021-04-27 14:21] cmgorton commented on #13509
Can confirm. Thanks for reporting @Afif13 .

[2021-04-27 14:24] aitchiss commented on #1153
This issue is closed since we now have added the skip link functionality to all pages 🎉

There is a small piece of work remaining - currently when a user navigates internally (link click), the skip link isn't the first item focused on the new page. This is captured in #13505, should be a quick fix and once implemented users should be able to get the most out of the new skip links 😄

[2021-04-27 14:25] cmgorton commented on #13522
Thanks for reporting @codinghusi. I'll tag our mobile engineer @fdoxyz to see what they think.

[2021-04-27 14:30] atsmith813 commented on #13535
@andyrichardson I believe the gif may be too large

![Screen Shot 2021-04-27 at 10 30 04 AM](https://user-images.githubusercontent.com/15987080/116259204-9aff4480-a743-11eb-9b9a-a45feb647a6e.png)

Does it work for you if you try a smaller/simpler gif?

[2021-04-27 14:42] andyrichardson commented on #13535
@atsmith813 thanks for getting back to me on this 🙏

I ended up resizing the GIF to get around this after seeing this message in the response headers

R.E. The [docs here](https://dev.to/p/editor_guide#markdown-inline-images) - it looks like the wording is a little off as it's actually the accumulated number of megapixels can't be more than 200 (rather than per frame/page).

[2021-04-27 14:42] #13535 closed

[2021-04-27 16:21] foresthoffman opened #13560 "Excessive pull-down to refresh in private messages"
**Describe the bug**
When attempting to scroll up in the Messages view, the "pull down to refresh" event activates when that is not the desired behavior.

There appears to be multiple points (as you scroll down) after which scrolling up is prevented by the "pull down to refresh" freature. I've noticed this behavior in the Messages side bar, where you can see the list of users and groups. I've also

[2021-04-27 16:40] hwolfe71 opened #13543 "Selecting latest posts in a tag shows unrelated posts"
I often browse the tags I follow, and select the option to show the  latest posts. Currently, this is not working correctly. In the 'C' tag, it's showing the 5 most recent posts, and the next posts are unsorted, and not tagged 'C'.  In the 'Vim' tag, it's showing 5 of the most recent, one two weeks older, and then the next posts are from 2019 and 2020, in no particular order.

- OS, version: Windo

[2021-04-27 17:05] rhymes commented on #13543
Thanks @hwolfe71 for raising the issue, I'm looking into it!

[2021-04-27 21:37] cmgorton commented on #13513
Is this related at all to https://github.com/forem/forem/issues/13298 ?

[2021-04-27 22:49] vaidehijoshi commented on #13348
Thank you, @rhymes! I knew about the `ancestors` bit but I hadn't put together last night that the `tag` itself was a node that I could call `ancestors` on 😅 I appreciate the extra context, that made it a bit easier to whip up my quick fix :)

[2021-04-28 07:27] aitchiss commented on #13513
@cmgorton I think only in that it's related to the autocomplete component - I'm pretty sure they'll need two separate fixes

[2021-04-28 08:01] lucianojung opened #13557 "[Bug] Analytics graphs aren't changing"
**Describe the bug**

When I go to the Analytics Page and change the time span from week to month or infinity all the graphs aren't changing

**To Reproduce**

Go to Dashboard -> Analytics
Change Week to Month or Infinity
See the graphs aren't changing

**Expected behavior**

If i change the time span i also want to see the graphs change

**Screenshots**

![image](https://user-images.githubusercon

[2021-04-28 13:30] #9749 closed

[2021-04-28 14:43] fdoxyz commented on #13522
Thank you for the report @codinghusi, I was able to recreate this problem. It happened to me after opening the app from a Push Notification (which indeed redirects the app to the notifications section).

Killing the app and reopening (without tapping a PN) fixed the issue for me, so I'm led to believe it's related to that logic. We have an outstanding bug reported with PN problems which might be r

[2021-04-28 15:27] #13348 closed

[2021-04-28 15:51] Link2Twenty commented on #13513
Is this open for dev? I have a hunch.

[2021-04-28 16:03] Afif13 opened #13564 "The twitter box no more appear when managing a post"
I think the title already describe the issue. It's not related to a specific post, it happens for all my posts:

![image](https://user-images.githubusercontent.com/14073250/116435723-f7e62200-a84b-11eb-9b41-ed3b13f82f14.png)

[2021-04-28 16:13] cmgorton commented on #13513
I would say yes. I can assign you to it @Link2Twenty . And thank you!
@aitchiss let me know if there is any reason this shouldn't be opened up for contributors yet.

[2021-04-28 16:24] aitchiss commented on #13513
Go for it! Let me know if you have any questions around the autocomplete component @Link2Twenty - it's kinda weird in there 😆

[2021-04-28 16:25] mstruve opened #13565 "SPIKE: Backend Approach for Playing/Pausing Images in Articles"
There has been [a lot of discussion about how to approach the accessibility problem of pausing or hiding GIFs and moving images in articles](https://github.com/forem/rfcs/pull/188). After reviewing all of the suggestions and chatting briefly with @rhymes we have decided to move forward with a SPIKE to allow us to explore the idea of using [FastImage to find and mark these URLs](https://github.com/

[2021-04-28 17:03] rhymes commented on #13543
Hi @hwolfe71, it should be fine now, thanks for the patience :-)

I double checked https://dev.to/t/c and it show the correct posts. The reason why you don't see a chronological order in https://dev.to/t/vim (and any other tag) is because we don't sort by it, but by an [internal score](https://github.com/forem/forem/blob/2e4a4f82a5932f793dd67a8f583eb9ba50c57ad9/app/black_box/black_box.rb#L4)

[2021-04-29 09:00] #13513 closed

[2021-04-29 12:47] technoglot opened #13580 "Blogs on profile page are not showing in chronological order"
**Describe the bug**

The order of the posts on my profile page is not chronological. I've observed this behavior on other profiles as well.

**To Reproduce**

Go to the profile page, scroll down to view posts. Notice how they are not chronologically ordered (pay attention to publish date).

**Expected behavior**

I expect posts to appear in chronological order on my profile, with the oldest post

[2021-04-29 12:55] Afif13 opened #13581 "The latest tab is not loading the post correctly"
I am having this behavior since a few days ago now.
The latest tab only show few posts correctly then jump to display random posts very old:

![image](https://user-images.githubusercontent.com/14073250/116554863-fa07b980-a8fb-11eb-86ba-cf92e23ffae6.png)

This is having a negative impact on the visibility of many posts (I noticed that the reactions of many good posts are very low)

Filtering by tag

[2021-04-29 12:56] Link2Twenty commented on #13580
I believe they're in order of last update as opposed to created.

[2021-04-29 13:15] technoglot commented on #13580
If that's the case, should it not be made clear that that's how they are ordered? It's very confusing as is, in my experience.

[2021-04-29 13:24] atsmith813 commented on #13564
Hey @Afif13! Are you referring to the **Suggest a Tweet** feature? If so, that was recently removed https://github.com/forem/forem/pull/13188

[2021-04-29 13:30] Link2Twenty commented on #13580
I'm not sure if the ordering by last updated is the intended behaviour or not but I agree that ordering by created time makes more sense.

[2021-04-29 13:33] Afif13 commented on #13564
@atsmith813  yes, it seems so. The text is a bit missleading as I understand from it that we need to write "the content of the tweet so DEV can use it" but it's not the case.

[2021-04-29 14:18] rhymes commented on #13580
Hi @technoglot, @Link2Twenty I'm going to look into it and let you know :)

[2021-04-29 14:19] rhymes commented on #13581
Hi @Afif13, we're going to look into it and let you know. Thanks for your patience :)

[2021-04-29 14:24] technoglot commented on #13580
Looking forward to your findings @rhymes !

[2021-04-29 14:34] rhymes commented on #13580
Hi @technoglot, I found a bug in our new search backend that populates profiles, I deactivated it while I fix the bug. I'll report back when that's done, in the meantime I see the posts in https://dev.to/technoglot in the correct order :)

[2021-04-29 14:35] rhymes commented on #13581
Hi @Afif13, I located the bug in our new search backend, I deactivated it while we investigate a fix. I'll let you know when that's done.

[2021-04-29 14:36] technoglot commented on #13580
Awesome! Thanks for your efforts! Looking forward to the fix 😁

[2021-04-29 14:39] atsmith813 commented on #13564
I believe the language is trying to suggest that you can write "_why you wrote the article or why people might find it interesting_" because in the past those style of Tweets has "worked". The language was updated to also say DEV may retweet you. Our team keeps an eye out for Tweets and we often retweet folks in the community. And that is all in place of the **Suggest a Tweet** feature that was re

[2021-04-29 14:39] #13564 closed

[2021-04-29 14:45] Afif13 commented on #13581
@rhymes but now all the posts of DEV show under any tag .. the tag filtering is no more working with latest.

[2021-04-29 15:24] #11414 closed

[2021-04-29 16:08] mstruve opened #13583 "Remove shop_url from SiteConfig and Related Code"
## Summary
The Shop URL is just another link in navigation but it has some special treatment in code. Since we introduced dynamic navigation links, Admin can specify navigation links in that area. We believe this one doesn't deserve to be a special snowflake anymore since it's just a regular nav item.

Remove "Shop URL" field from admin's config as well as the related code. Steps to complete this