[2021-01-25 17:08] alxgrk commented on #12401
Hi @cmgorton, #4409 and #6692 definitely seem related. However, the solution with the clear button from #6692 does not work for me, since I'm using the mobile version, which to my knowledge doesn't have that button. Is this correct?

[2021-01-25 18:06] Markel commented on #3261
Or it could have been a resolved issue since then as the issue is pretty old. However it makes sense that the iOS and Android version respond differently because as far as I know they use different rendering engines (do not quote me on that). Simply, it should be checked that the issue is still present (I've switch to Firefox since so I can't do it)

[2021-01-25 18:22] vaidehijoshi commented on #7596
Looping in @forem/systems here to see what technical weigh-in they can provide here. At first glance, this feels like a very DEV-specific feature; I totally see why it would make sense from a technical blogging platform perspective, but I'm also considering how this would apply + impact other Forems, especially more non-technical ones :)

[2021-01-25 18:54] cmgorton commented on #12401
Ah good to know @alxgrk. Just for clarification are you using our app or just using the browser on mobile? Mobile on the browser there is a `Revert` button once you add some changes to your post. I am not sure if there is on our App. @fdoxyz do you know if we can revert changes to a post in our App?

[2021-01-25 19:23] #12403 closed

[2021-01-25 19:24] mstruve commented on #857
Given we [use a gem in order to parse markdown into HTML](https://github.com/vmg/redcarpet) is this something we can fix in our codebase or is this something that would have to be fixed within the gem we use?

[2021-01-25 19:25] benhalpern opened #12426 ""Create account" button cut off in Forems with wide logos."
**Describe the bug**

The "wide logo" issue causes problems for both authenticated and unauthenticated views. This issue is in the unauthenticated view in particular:

**To Reproduce**

- Visit a "wide logo" community, such as https://community.codenewbie.org/ or https://the.community.club/
- Open Chrome dev tools, select the mobile simulator and select iPhone X

**Expected behavior**

The full bu

[2021-01-25 19:33] mstruve commented on #4504
As small of a change as this is I think the feature removal itself might warrant an RFC. @vaidehijoshi or @joshpuetz thoughts?

[2021-01-25 19:38] mstruve commented on #4335
@michael-tharrington do you have pictures of the counter that is not working for this? The ones linked are not loading and I think that info might be helpful to have if we have a shot at fixing this.

[2021-01-25 19:39] vaidehijoshi opened #12427 "Forem editor modals are not accessible"
**Describe the bug**

The `/new` route on any Forem instance renders that Forem's editor. On the editor's sidebar, there are some basic tips that are meant to help the user, and those tips render in a modal (which opens on the editor page).

<img width="1295" alt="Screen Shot 2021-01-25 at 11 36 36 AM" src="https://user-images.githubusercontent.com/6921610/105756615-ad2dd480-5f01-11eb-81a3-214227e

[2021-01-25 19:40] narender2031 commented on #12370
I'm not able to reproduce this issue locally.

[2021-01-25 19:47] ludwiczakpawel commented on #12370
I can't repro that on locally nor on prod. Let's give this issue couple more days, I'll ping folks to try to repro this as well and we will take it from there.

[2021-01-25 19:48] vaidehijoshi commented on #4504
@mstruve agreed.

Not sure if hiding unpublished posts on the RSS feed is something that is actually being used by anyone, or if it is helpful. We may either want to make it very clear what the archive feature _does_ and hide it in places where it is misleading, OR, alternatively, we remove the feature entirely. I think it depends completely on whether anyone even uses it.

But either way, this is

[2021-01-25 19:55] mstruve commented on #2347
Thank you for your contributions here! Changing the way we handle tags would be a major feature request and we have a new process moving forward to address feature requests.

We have recently started using a new internal RFC process for feature requests. Going forward and in this case, any features that are more substantial and require more thought and detail will need to be discussed in [forem.de

[2021-01-25 19:55] #2347 closed

[2021-01-25 19:58] fdoxyz commented on #12401
Hi there, I believe there's currently two things at play here:

1. Re @cmgorton: The revert button does appear visible in the mobile app but the confirmation prompt doesn't show which is definitely a bug for the mobile app (video recording: https://share.getcloudapp.com/wbu9oLEk)
2. @alxgrk are you using the "Basic markdown" or the "Rich + markdown" editor? You can find this in `/settings/customiz

[2021-01-25 20:08] ohannadeziderio commented on #12426
I would like to take this. Thanks!

[2021-01-25 20:32] joaoGabriel55 commented on #12427
Hello @vaidehijoshi, I would like to work on this.

[2021-01-25 21:15] fdoxyz commented on #4614
Thank you for the heads up @cmgorton! It's definitely on the radar. We've had an idea to implement this in a few ways. An early (and similar) solution to this was [shared here](https://github.com/forem/DEV-ios/issues/209#issuecomment-623647950).

Thanks to the internal RFC process in place I'm hopeful we should be able to get the blockers for this out of the way, and therefore finally able to ship

[2021-01-25 21:21] alxgrk commented on #12401
@cmgorton: I'm using the browser on mobile installed by PWA functionality.

@fdoxyz: I'm using the "Rich + Markdown" editor. And indeed, I clicked "Save draft" on mobile as well as on the computer, but both times I was only able to see the locally changed version. On my laptop I could solve it as described above, but on mobile I don't have the same possibilities.

I hope, this makes it somehow rep

[2021-01-25 22:19] benhalpern commented on #7596
We've had this request in the past and generally wanted to stay away from this paradigm. IMO we can handle this overall problem set as a use-case for the broader Forem ecosystem.

A company engineering blog, for example, could be its own Forem, and provide the tools such that they can plug into DEV as needed for cross-posting and cross-functionality, but fundamentally making it clear that there is

[2021-01-25 22:22] fdoxyz commented on #12401
It does help to make this reproducible! Thanks again @alxgrk, what I just now did was:

1. Create a draft post in desktop browser
2. Open the post in a mobile browser (a different browser might reproduce this too)
3. Edit the post (add some characters) and save the draft (mobile browser)
4. Edit the draft post again in desktop browser (from step 1)

After doing this I see the older version of the

[2021-01-25 22:39] fdoxyz commented on #12389
Thank you for the report @xpyxel! I wasn't able to reproduce this myself by clicking on a few links but I'll definitely investigate this problem some more.

There are some enhancements planned for the Moderator Panel since right now is not very mobile friendly but the crash is definitely unexpected. Would you mind sharing with me the app version you have installed? The latest at the moment (which

[2021-01-25 23:07] vaidehijoshi commented on #12427
@joaoGabriel55 Hi there! Thanks for the offer :) This issue has the `Forem team` tag on it, which means that it is an internal task that will be completed by someone on the Forem core team.

I'd recommend taking a look at our [Contributing Guide](https://docs.forem.com/contributing/forem/). All of our issues labeled `ready for dev` and `type: bug` are generally up for grabs, so anyone from the com

[2021-01-26 00:14] mstruve commented on #1154
@aitchiss will this be solved by the Marcy PR you mentioned or will their still be more work to do beyond that?

[2021-01-26 01:11] mstruve commented on #956
@vaidehijoshi full RFC or not? I always expect an opt-out option for these things so I could throw it in the bug category myself and keep the issue.

[2021-01-26 01:24] mstruve commented on #946
@aitchiss the user here asks for a setting and that would throw this in the RFC category. However, we would love to make this more accessible immediately if possible. Is there a way to simply pause GIFs by clicking on them like Jess alluded to in her linked issue? If so we could update that to be the scope of the issue and prioritize this away

[2021-01-26 01:26] vaidehijoshi commented on #956
I see this being a very straightforward, XS-sized RFC. Should be easy enough to implement, but we'll want to keep our refactoring of all user settings in mind here.

[2021-01-26 01:26] mstruve commented on #1885
@forem/frontend team, do you have any thoughts on this? Is this something we can quickly fix or is there a larger issue at play here that would take longer to solve?

[2021-01-26 02:22] xpyxel commented on #12389
I currently seem to be on 1.5.0-2, and yeah the bug sometimes appears,
sometimes doesn't. I am unsure what exactly causes it besides the fact
clearing cache seems to temporarily fix it until it appears again.

On Mon, Jan 25, 2021, 5:40 PM Fernando Valverde <notifications@github.com>
wrote:

[2021-01-26 02:40] xpyxel commented on #12389
Nevermind, I seem to still have the bug as it just appeared, however this time crashing the app as soon as I enter the moderator panel without me tapping anything.

https://photos.app.goo.gl/NuZUW7pcmMwQ6vZr6

[2021-01-26 03:06] citizen428 commented on #11857
Sorry @crimson-med, not at this time, but I'll keep you posted!

[2021-01-26 06:50] akashdotsrivastava commented on #12039
@cmgorton I'd like to give this a shot.

[2021-01-26 08:17] aitchiss commented on #12383
@nickytonline - I think we could introduce the rule and refactor out any current violations in the one commit. The refactoring will be a bit tedious but I think definitely achievable in less than a day's work. Happy to go warning first though if you think it would help the transition for people 👍

[2021-01-26 08:38] aitchiss commented on #1154
@mstruve this sprawls a few other open issues, and Marcy's PR (#12297) only addresses one part of it (the heading navigation dropdown). Beyond that, we'd still need to address other dropdowns in the app and usage of modals too.

There's a few other open issues for those things:
- Fixing dropdowns elsewhere in the app: #12297 (Optimise all usage of crayons dropdown for accessibility)
- And modals:

[2021-01-26 08:49] aitchiss commented on #946
Yes we could do that, and I think having both options eventually (global preferences setting, and the individual play/pause) would be great.

When we show a post we would need to be able to fetch a static `jpg`/`png` of any gifs used in the content to display as an alternative to the animated gif. there's [a nice example of how we could switch out the content on CSS Tricks](https://css-tricks.com/

[2021-01-26 08:49] ludwiczakpawel commented on #1885
@mstruve it's a quick'n'easy fix - PR here #12436

[2021-01-26 09:14] ludwiczakpawel commented on #12426
@ohannadeziderio go ahead! 🚀

[2021-01-26 09:17] ludwiczakpawel commented on #12370
@mcat we were not able to repro that issue internally as well. let me know if it still happens to you or maybe it was a coincidence.

[2021-01-26 11:44] Anjan50 commented on #12214
I already mailed yo@dev.to but I did't get reply. can you please help..

[2021-01-26 12:46] leewynne commented on #12402
1. Yes it does.
2. It doesn't show at the bottom
3. Nope, totally disappears!
4. This happens in a browser on an iPad Pro 11"
5. Article view looks fine
6. On all forems.

I can't replicate it in an emulator, only when on an iPad where it exists in all flavours and on all Forems, only seems to be the front page though, post login.

[2021-01-26 13:05] ludwiczakpawel commented on #12402
Thanks, thanks very helpful. I'll try to investigate a bit more 👍

[2021-01-26 13:15] mcat commented on #12370
@ludwiczakpawel the behavior is reproduced for every post in our org account. However, on my personal account it works as expected.

[2021-01-26 13:22] ludwiczakpawel commented on #12402
Hmm - I was able to reproduce it on emulator but only when I loaded page in the smallest breakpoint (so right sidebar was not visible) and then resized the view to accommodate space for sidebar - surprisingly right sidebar did not have any content in the markup.

@benhalpern can this be anyhow related? https://github.com/forem/forem/commit/ae7c9a4f759b9c28c86d62eadaf9d89c4c932233#diff-5da13e09c79e

[2021-01-26 13:49] mstruve commented on #946
Updated the description of the Issue to make this a more straight forward fix and remove the need for an RFC

[2021-01-26 14:12] #1885 closed

[2021-01-26 14:19] michael-tharrington commented on #11857
@crimson-med I got some good info that should help!

Org admin currently have the ability to edit any posts by members of the org, but navigating to that edit page isn't necessarily the most intuitive UX, so I do think there's something to your request here. Regardless, here is how you go about editing a feel org member's post.

0. Make sure you have admin privileges for the org!
1. Navigate to ht

[2021-01-26 14:27] crimson-med commented on #11857
@michael-tharrington thanks for the info that is useful! But the UX is really unpractical. I think part of the confusion is that there is no edit or manage button when visiting the post itself. usually I would just go to the post and click edit

[2021-01-26 15:10] rhymes commented on #4504
Some data on how many archived articles there are on DEV: https://dev.to/admin/blazer/queries/316-archived-articles-counts

[2021-01-26 15:19] #7596 closed

[2021-01-26 15:28] #12296 closed

[2021-01-26 15:50] nickytonline commented on #12383
Sounds good @aitchiss.

[2021-01-26 16:51] ItsJustMyGit opened #12440 "New User Sign Up Error"
**Describe the bug**

Getting a Log in error while trying to create a new account on dev.to DEV community. The error occurs while using twitter account as the sign up option. The error message says "Log in error: Validation failed: Profile image could not download file: 404 Not Found."

The problem likely caused by due to having no profile photo/image set up by the users to their twitter account.

[2021-01-26 17:26] cmgorton commented on #12039
Sure @akashdotsrivastava . Thanks for the offer. I will assign it to you.

[2021-01-26 18:00] #1868 closed

[2021-01-26 18:03] cmgorton commented on #12440
Thanks for opening this. Investigating more into this now.

[2021-01-26 18:11] cmgorton commented on #5433
Hey @miku86 is this still an issue for you?

[2021-01-26 18:39] cmgorton commented on #12440
Team is working on a potential fix for this @ItsJustMyGit .

[2021-01-26 19:16] mstruve commented on #10610
@Monty7 do you still have plans to work on this? If not we would like to get it prioritized for our internal team to get done.

[2021-01-26 19:18] mstruve commented on #1154
@aitchiss would #12297 and #10610 cover everything from this issue? It feels like it might be a duplicate for #12297 and that is a bit more detailed and thorough in the approach which would lean me towards closing this one in favor of the new one. Thoughts?

[2021-01-26 19:39] cmgorton commented on #5507
Looks like this feature was added with #8431. I am going to close this but let me know if that is NOT the case and I can open it back up. Thanks.

[2021-01-26 19:39] #5507 closed

[2021-01-26 19:41] cmgorton commented on #5585
@rhymes do you think this should be labelled as. potential RFC?

[2021-01-26 19:42] cmgorton commented on #5672
Hello! Thanks for your contributions here.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read mo

[2021-01-26 19:42] #5672 closed

[2021-01-26 19:43] #5761 closed

[2021-01-26 19:44] cmgorton commented on #5695
@leewynne would you create a post in [forem.dev](forem.dev) for this feature request? That way it can get more discussion around it and if people like it I can potentially pitch it as an RFC to our engineers.

You can read more about our Internal RFC Process and forem.dev Discussions in [this post](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4).

[2021-01-26 19:44] #5695 closed

[2021-01-26 19:48] cmgorton commented on #5819
This issue looks like it was never moved to `ready for dev`. Given our new processes for feature requests should we propose this as a potential RFC? Thoughts @rhymes @citizen428 ?

[2021-01-26 19:48] katiedavis commented on #11488
Hello @vaidehijoshi  I tried recreating this a few times and had no luck:
<img width="1483" alt="Screen Shot 2021-01-26 at 2 39 39 PM" src="https://user-images.githubusercontent.com/15366319/105896114-69f86200-5fe4-11eb-9c1c-ec7f11ff7e38.png">
When I discussed this issue with @nickytonline he mentioned [that this pr](https://github.com/forem/forem/pull/11744) may have solved this issue, but I'm ha

[2021-01-26 19:49] cmgorton commented on #5972
@joshpuetz do you know if this is still an issue?

[2021-01-26 19:49] #6065 closed

[2021-01-26 19:52] cmgorton commented on #6126
@nickytonline if you are still planning on adding front-end testing with Cypress do you think this issue is still valid?

[2021-01-26 19:57] #6241 closed

[2021-01-26 20:31] cmgorton commented on #11535
I am unable to reproduce this either. I am going to close this issue but @krishnadevz if you confirm it is still happening I will open it back up. Thanks!

[2021-01-26 20:31] #11535 closed

[2021-01-26 20:37] cmgorton commented on #212
I just checked everyones linked repos and profiles and this appears to be fixed now. All repos and pinned repos have the same amount of stars.  Can anyone confirm this is working and not just the above mentioned work around?

[2021-01-26 20:40] cmgorton commented on #1155
@Zhao-Andy do you know if this is still a valid bug?

[2021-01-26 20:53] CodeMouse92 commented on #5672
https://forem.dev/codemouse92/add-special-listing-s-tag-for-promotional-posts-56d8

[2021-01-26 21:07] atsmith813 commented on #12286
I did some digging on this issue and discovered a few things.

**TLDR** - everything seems to be working as expected. However, we may want to consider changing some of our expectations. If we want to change any of these expectations, maybe we can close this issue and open up individual ones.

I'll address each spot individually.

----

<img width="1327" alt="Screen Shot 2021-01-14 at 12 09 11 PM"

[2021-01-26 21:20] cmgorton commented on #5672
Thank you @CodeMouse92! Checking out the post now.

[2021-01-26 21:24] johnbwoodruff commented on #1155
I'm not @Zhao-Andy but I can verify it's not an issue anymore. :)

![image](https://user-images.githubusercontent.com/5883616/105907408-2bfa3e80-5fe2-11eb-9225-9a1beae33803.jpeg)

[2021-01-26 21:25] cmgorton commented on #1155
Thank you @johnbwoodruff ! I appreciate the confirmation here. I will go a head and close this issue.

[2021-01-26 21:25] #1155 closed

[2021-01-26 21:43] vaidehijoshi commented on #11488
@katiedavis I guess it was inadvertently (?) fixed somewhere along the way! I just tried this out again locally and am not seeing that same UI bug anymore. I guess we can close this out now 😅

[2021-01-26 21:44] #11488 closed

[2021-01-26 21:52] lisasy opened #12443 "[Editor] Add loading spinner for image drag-and-drop upload"
**Describe the bug**

Today, when someone in the editor (`/new`) drags-and-drops an image to upload it, they have no indication that it is currently uploading because there is no spinning indicator. This UX bug sets incorrect expectations on how our product works.

**To Reproduce**

1. Go to `/new`
2. Drag an image file into body area to upload an image
3. Wait for image to upload

This is how it

[2021-01-26 22:40] mstruve commented on #6139
Additional context from @juliannatetreault

[2021-01-26 23:08] michael-tharrington commented on #11857
Totally! I think this feature request should be adapted to improve the UX for org admins. And I agree that it would be awesome for it to work like you've described.

[2021-01-26 23:08] Zhao-Andy commented on #12108
Unfortunately Netlify support has told me this is an issue on their end, and not something we can configure. :(

Related Netlify community post: https://community.netlify.com/t/status-badge-incorrectly-shows-failing-when-deploy-is-auto-cancelled/7316

We can remove the badge and any related commit statuses from the repo, or continue as we currently have until it is fixed by Netlify.

[2021-01-26 23:13] michael-tharrington commented on #4335
@mstruve unfortunately I'm pretty sure I updated the issue with the correct photos. I couldn't tell for sure, but this appears to be around the same time in 2019.

[2021-01-26 23:14] michael-tharrington commented on #4335
I think this is potentially a related issue - https://github.com/forem/forem/issues/8425

[2021-01-26 23:33] atsmith813 commented on #12286
Based on the feedback to [the findings above](https://github.com/forem/forem/issues/12286#issuecomment-767828348), I'm going to close this issue and re-open specific ones around the separate pieces of these quirks since there a few things at play that contribute to this UX 🚀

[2021-01-26 23:33] #12286 closed

[2021-01-27 00:02] nickytonline commented on #6126
@cmgorton we can close this.

[2021-01-27 00:02] #6126 closed

[2021-01-27 00:18] benhalpern opened #12444 "Multiple redirect infinite loop when username and old_old_username are the same."
**Describe the bug**

We persist username redirects back two levels, but it's possible for organizations and users can have the same `username` and `old_old_username` if they change to one and then change back. When those two are the same, it can cause infinite redirects in certain specific situations.

**To Reproduce**

Visit this link: https://dev.to/sarthology/do-we-really-need-a-css-framework-

[2021-01-27 00:58] RyKilleen commented on #1154
You should probably close this! It was opened pre-Forem and it's a pretty broad comment, made before there were many folks focusing on this work.

[2021-01-27 01:00] gautamkrishnar commented on #212
@cmgorton looks like it is working fine. :tada:

I can observe that the count is one less than the actual number.

https://dev.to/gautamkrishnar

![Screenshot_20210127-062642.jpg](https://user-images.githubusercontent.com/8397274/105926894-e3d22f00-6068-11eb-9430-c213833fbe1a.jpg)

![Screenshot_20210127-062922.jpg](https://user-images.githubusercontent.com/8397274/105926968-02382a80-6069-11eb-80a5

[2021-01-27 01:35] cmgorton commented on #212
Thank you for confirming!

[2021-01-27 01:35] #212 closed

[2021-01-27 03:51] Rafi993 commented on #10610
There is something similar done by PR https://github.com/forem/forem/pull/12366

[2021-01-27 06:40] citizen428 commented on #5819
@cmgorton Yes, probably.

[2021-01-27 07:51] rhymes commented on #5585
Hi @cmgorton, I think we should close this at the present moment.

I had a recent conversation with @atsmith813 and @vaidehijoshi and the way the caching code is evolving makes this counter productive. It's still possible to achieve some paralellism but it might be more convienent to be done upstream (inside the caching server) as we're potentially switching to key/tag based caching instead of URL

[2021-01-27 07:51] #5585 closed

[2021-01-27 08:24] ludwiczakpawel commented on #12427
The `escape` event has been [added](https://github.com/forem/forem/pull/12428). Focus-trap - nope: there's a community [member working on that functionality elsewhere](https://github.com/forem/forem/pull/12366).

@vaidehijoshi you can make a call if `escape` event is enough to close this issue and open separate one for focus-trap or should we handle it separately (moved to _[Blocked](https://githu

[2021-01-27 08:27] #11371 closed

[2021-01-27 08:33] rhymes commented on #5819
Agreed

[2021-01-27 09:39] #1154 closed

[2021-01-27 09:43] aitchiss commented on #1154
@mstruve just noticed a commit comment from Marcy's PR has automatically closed this, and I think you're right, we can leave it closed as the remaining work is detailed on the other issues mentioned 👍

[2021-01-27 10:28] henryboisdequin opened #12451 "Dark mode is set but dev.to is in light mode"
**Describe the bug**

I have dark mode set as my theme on dev.to. This has only been in the past few hours: dev.to is light mode. When I refresh the page, it stays in light mode even though in settings it says dark mode.

**To Reproduce**

Go to dev.to.

**Expected behavior**

**Desktop (please complete the following information):**

- OS, version: OSX Catalina 10.15.7
- Browser, version: Firefox

[2021-01-27 10:30] henryboisdequin commented on #12451
Now it works as expected.

[2021-01-27 10:30] #12451 closed

[2021-01-27 12:10] ludwiczakpawel opened #12452 "`gap` doesn't work with `flex` on Safari"
**Describe the bug**

I've been living thinking that `gap` (as well as `grid-gap`) works perfectly fine with `flex` elements. Today I learned it's not supported in Safari which means there's a missing whitespace in Safari which I have already confirmed testing few views.

That means we have to fix all instances of a combination of two utility classes `flex` with `gap-*` in our views (`.html.erb`,

[2021-01-27 12:32] sshine opened #12453 "Rendering bug in title on https://dev.to/new when uBlock Origin is enabled"
**Description:**

The title does not render fully in the area given to it.

Note that the browser is using the default font size.

Resizing the font preserves the broken ratio.

**To Reproduce**

1. Enable uBlock Origin (Chrome)
1. Go to https://dev.to/new
2. Observe title

**Expected behavior**

I should be able to see the post title text area fully.

**Screenshots**

![image](https://user-images

[2021-01-27 12:38] sshine commented on #12453
I should add that the only thing uBlock Origin blocks on this page is Google Analytics:

​https://www.google-analytics.com/analytics.js

This question can be closed if the page should not render properly unless one submits to tracking.

[2021-01-27 13:32] BogDAAAMN commented on #12108
Thank you for the heads-up @Zhao-Andy ✨

[2021-01-27 13:36] mstruve commented on #4335
Closing in favor of https://github.com/forem/forem/issues/8425 which has a lot more detail about this actual problem and I think will be better used to complete and fix it

[2021-01-27 13:36] #4335 closed

[2021-01-27 13:42] mstruve commented on #8425
Let's figure out a solution to this that helps us continue to maintain performance while also making sure the author is adequately up to date on their page views. One suggestion would be when an author visits their own post we ALWAYS update the counter or something along those lines to ensure the author is always seeing the correct number even if others are delayed.

[2021-01-27 15:14] kallmanation opened #12455 "Themes (aka Dark Mode) not respected on first page loads"
**Describe the bug**

When first opening Dev.to (on both mobile & desktop) or when first visiting a new area (going to the dashboard from the homepage; starting a new post) the default theme is shown. This persists for a few page refreshes before my selected theme (night theme) is shown.

**To Reproduce**

1. Open a private/incognito browser window
2. Log in
3. The default theme is shown (instead

[2021-01-27 15:44] cmgorton commented on #12455
I noticed this too this week. Thanks for opening this issue.

[2021-01-27 15:45] joshpuetz commented on #4504
I'd argue in the short term the bug fix is to remove the `archive post` button from published articles: it shouldn't be there.

What would the RFC entail: removing the archive feature completely?

[2021-01-27 15:50] cmgorton commented on #12440
Looks like this issue should be fixed with the above PR. Please let me know if the problem persists for you @ItsJustMyGit and I will reopen this issue. Thanks.

[2021-01-27 15:50] #12440 closed

[2021-01-27 15:50] #12414 closed

[2021-01-27 15:51] #11742 closed

[2021-01-27 15:54] cmgorton commented on #12170
I believe this was addressed internally with cluster employment @AdekunleA.
Sorry to ping you again on this but could you try clearing your cache and then editing or deleting a listing again?

[2021-01-27 15:55] cmgorton commented on #11949
@ItzaMi there have been new updates to mobile. Is this issue still appearing for you?

[2021-01-27 15:56] joshpuetz commented on #5972
This is no longer an issue 🥳 Closing!

[2021-01-27 15:56] #5972 closed

[2021-01-27 16:00] cmgorton commented on #11522
@pkfrank do you think this should be labeled `potential RFC`?

[2021-01-27 16:03] cmgorton commented on #11980
Hey @glinda93 I can't replicate this. Do you know if this is still an issue for you?

[2021-01-27 16:16] juliannatetreault commented on #11522
I'd be more than happy to champion this RFC if we decide to go in that direction since I'm familiar with this code/issue, @cmgorton and @pkfrank! 😊

[2021-01-27 16:20] cmgorton commented on #10386
Hello! Thanks for your contributions here.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Discussions in [this post](https://fo

[2021-01-27 16:20] #10386 closed

[2021-01-27 16:20] cmgorton commented on #10404
Hello! Thanks for your contributions here.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Discussions in [this post](https://fo

[2021-01-27 16:20] #10404 closed

[2021-01-27 16:23] cmgorton commented on #10380
Hello! Thanks for your contributions here. We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

Given that this feature request appears to need more discussion and buy in I am going to close it her

[2021-01-27 16:23] #10380 closed

[2021-01-27 16:27] cmgorton commented on #12453
Hey @sshine . I think this is a duplicate of #10114. I am going to close this issue in favor of continued discussion on that issue. Thanks!

[2021-01-27 16:27] #12453 closed

[2021-01-27 17:36] vaidehijoshi commented on #4504
@joshpuetz Yeah, exactly. If we remove the archive _feature_ completely, it would warrant a RFC as it is removing a feature.

But if we want to audit the feature and figure out a way to keep it in and find a light-touch code solution that clarifies what it is and how it works, that doesn't need to be a RFC and can be an issue.

[2021-01-27 17:51] AdekunleA commented on #12170
Hello @cmgorton, no worries at all, I appreciate you reaching out on this issue!

I just cleared the cache and tried it again (on both Chrome and Opera), still not able to edit/delete a listing.

The action works when I click the link through 'Inspect Element', but for some reason, clicking the button doesn't seem to fire the link.

[2021-01-27 18:40] katiedavis commented on #12298
Closing this in favour of a deeper dive into the Modal after some investigation.

[2021-01-27 18:40] #12298 closed

[2021-01-27 18:46] vaidehijoshi commented on #12427
@ludwiczakpawel Awesome! Since this issue is tied to both the escape event and the focus trap on the modal (in progress in https://github.com/forem/forem/pull/12366), let's add this to the blocked column temporarily.

Once https://github.com/forem/forem/pull/12366 is merged, let's confirm and check that the changes introduced by _that_ PR also fix the focus trap problem surfaced in this issue. If

[2021-01-27 18:54] vaidehijoshi commented on #11991
Since this was moved to done, are we good to close this issue out? Want to confirm before I do anything in case there was more work to be done in a follow up PR or something :)

[2021-01-27 18:56] vaidehijoshi commented on #12131
@citizen428 Was this issue fixed by https://github.com/forem/forem/pull/12288, or is there still more work to be done on this front? Just want to confirm before closing it out :)

[2021-01-27 19:39] mstruve opened #12456 "Fix Flakey Follows::UpdatePointsWorker Spec"
spec/workers/follows/update_points_worker_spec.rb will randomly fail at times with the following error.
[Build example failed 1](https://travis-ci.com/github/forem/forem/jobs/474299912)
[Build example failed 2](https://travis-ci.com/github/forem/forem/jobs/475381462)
[code]

We need to figure out what is going on and update the spec so it does not intermittently fail.

[2021-01-27 20:01] cmgorton commented on #12170
Thank you for checking!

_"The action works when I click the link through 'Inspect Element', but for some reason, clicking the button doesn't seem to fire the link"_

Weird! Going to let the team know internally this still isn't working as expected.

[2021-01-27 20:16] cmgorton commented on #2758
Hey @corjohnson Do you know if this is still an issue?

[2021-01-27 21:30] joshpuetz commented on #2758
Pinging @fdoxyz to see if he can replicate this: I only have access to the Android emulator at the moment.

[2021-01-27 21:41] corjohnson commented on #2758
Just tried on my phone and it's not reproducible. So I'm tempted to say it's been fixed 😊

[2021-01-27 22:21] fdoxyz commented on #2758
Thanks for helping us confirm this @corjohnson! I can't reproduce myself either (with Chrome in the PWA) so I'd say it's no longer an issue.

[2021-01-27 22:21] #2758 closed

[2021-01-28 01:44] #11980 closed

[2021-01-28 02:25] citizen428 commented on #11991
@vaidehijoshi Yes, this is done, apparently, I forgot to add "closes" in the PR description so the issue wasn't automatically closed.

[2021-01-28 02:25] #11991 closed

[2021-01-28 02:55] citizen428 commented on #12131
No, it's done, apparently this whole cycle I forgot add "Closes" in front of the PR numbers and lost automation. 🤦‍♂️

[2021-01-28 04:17] roeniss commented on #10386
@cmgorton I'll check it. BTW your link (https://github.com/forem/forem/issues/forem.dev) returned 406. Would you check it please?

[2021-01-28 05:13] glebec commented on #9773
I still had this error on https://dev.to/glebec/when-nesting-promises-is-correct-h8f. It turned out that opening the article in edit mode and saving changes fixed it, presumably because the article was re-run through the fixed text processing logic.

[2021-01-28 09:17] #12131 closed

[2021-01-28 10:50] aitchiss opened #12466 "Profile navigation menu doesn't close on selection and focused link flickers"
**Describe the bug**

The bug is particularly noticeable on mobile - I've added a recording below of the experience on Android.

When you click your profile image, a dropdown menu opens with navigation options. When you tap to make a selection, the new page loads and there is a very brief flicker where "Sign out" appears to be selected, then your original selection, then "Sign out" again. The menu

[2021-01-28 11:25] aitchiss commented on #12427
@vaidehijoshi @ludwiczakpawel #12366 has been successfully merged but it only addresses focus management in the onboarding modal. We can now unblock this issue and generalise the new code to make sure all of our modals are accessible 👍

[2021-01-28 14:09] cmgorton commented on #10386
Ah sorry about that. It should have linked to forem.dev.
[https://forem.dev/](https://forem.dev/)

[2021-01-28 14:17] cmgorton commented on #1228
@forem-team is this an issue we would still like contributors to work on? If so could we add more context here for how they should begin working on this so we can highlight it to the community?

[2021-01-28 14:30] cmgorton commented on #4900
There is a new layout to DEV with the hearts, unicorns etc on the side instead of on the bottom. I am not sure this is an issue any more. I am going to close this but if you still experience this problem let me know and we can open this back up. Thanks.

[2021-01-28 14:30] #4900 closed

[2021-01-28 14:31] #4971 closed

[2021-01-28 14:50] cmgorton commented on #5674
Hey @sivaraam . I just tested this out and I was not able to reproduce this bug. I was able to send a comment link in private chat and it went to the correct link when clicked. I am going to close this issue but please let me know if it is still persisting for you. Thanks!

[2021-01-28 14:50] #5674 closed

[2021-01-28 15:16] #9160 closed

[2021-01-28 15:22] cmgorton commented on #9725
Hey @ludwiczakpawel I just tested this and was able to remove my comment. I am going to close this issue but let me know if you are still experiencing this and we can open it back up :)

[2021-01-28 15:22] #9725 closed

[2021-01-28 15:23] cmgorton commented on #9726
This also seems to be working correctly now. Again let me know if you are still having issues with this and we can open it back up :)

[2021-01-28 15:23] #9726 closed

[2021-01-28 15:24] cmgorton commented on #9727
I have reported abuse on forem.dev twice this week without any issues so I think this one might be fixed too.

[2021-01-28 15:24] #9727 closed

[2021-01-28 15:25] cmgorton commented on #9733
I can log in with both Twitter and Github. Closing this but let me know if it is still an issue for you @ludwiczakpawel and I'll openit back up.

[2021-01-28 15:25] #9733 closed

[2021-01-28 15:30] cmgorton commented on #10836
Twitter embeds seem to work now but when I test them out they display the reactions weird.
![Screen Shot 2021-01-28 at 9 28 38 AM](https://user-images.githubusercontent.com/21039864/106160348-5adff400-614b-11eb-95ec-2d0bc4c8759f.png)

[2021-01-28 15:31] cmgorton commented on #11933
Hello! Thanks for your contributions here.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](https://forem.dev/).

You can read more about our Internal RFC Process and forem.dev Discussions in [this post](h

[2021-01-28 15:31] #11933 closed

[2021-01-28 15:33] cmgorton commented on #464
Hello! Thanks for your contributions here.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](https://forem.dev/).

You can read more about our Internal RFC Process and forem.dev Discussions in [this post](h

[2021-01-28 15:33] #464 closed

[2021-01-28 15:39] cmgorton commented on #5827
Hey @pavelloz thank you for pointing this out. Looks like this was also mentioned [here](https://github.com/forem/forem/issues/5670#issuecomment-737647087) by Marcy Sutton. Since there is already a lot of discussion in issue #5670 including this information I am going to close this one. Any additional thoughts you have can be added to #5670.

[2021-01-28 15:39] #5827 closed

[2021-01-28 15:40] cmgorton commented on #7784
Hello! Thanks for your contributions here.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](https://forem.dev/).

You can read more about our Internal RFC Process and forem.dev Discussions in [this post](h

[2021-01-28 15:40] #7784 closed

[2021-01-28 15:55] joshpuetz commented on #3261
Tested this on Android and it doesn't happen anymore, closing!

[2021-01-28 15:55] #3261 closed

[2021-01-28 15:56] gonsie commented on #12261
Works great! Thank you so much @fdoxyz  for the fix.

[2021-01-28 16:08] cmgorton commented on #8292
Hello! Thanks for your contributions here.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](https://forem.dev/).

You can read more about our Internal RFC Process and forem.dev Discussions in [this post](h

[2021-01-28 16:08] #8292 closed

[2021-01-28 16:09] cmgorton commented on #9045
Hello! Thanks for your contributions here.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](https://forem.dev/).

You can read more about our Internal RFC Process and forem.dev Discussions in [this post](h

[2021-01-28 16:09] #9045 closed

[2021-01-28 16:32] #11753 closed

[2021-01-28 16:39] cmgorton commented on #9731
Hey @aHudspith . I just tested this and I can see the DEV icon in my bookmarks on Safari. I am going to close this issue but if you are still experiencing this let me know and we can reopen this. Thanks.

[2021-01-28 16:39] #9731 closed

[2021-01-28 17:21] vaidehijoshi commented on #11983
See relevant potential solution here: https://github.com/forem/forem/issues/11033#issuecomment-716680053

[2021-01-28 17:32] vaidehijoshi commented on #12326
Whoever picks this up will need to ensure that they have access to the Forems that are currently running with Fastly enabled

[2021-01-28 17:43] Zhao-Andy commented on #11897
My first guess is that it's an Instantclick issue, where hitting `back` will not load the Javascript that adds that click listener to the `More` button.

[2021-01-28 19:16] RDIL opened #12471 "Footer issue"
**Describe the bug**

On the homepage, you can never get to the footer because more articles just keep loading in.

**To Reproduce**
Go to dev.to signed out, try to get to the footer at the bottom of the page.

**Expected behavior**

n/a - there should be a better way of doing this (load more button?)

**Screenshots**

**Desktop (please complete the following information):**

- OS, version: Window

[2021-01-28 19:24] cmgorton commented on #12471
Hey @RDIL this is a known issue and a duplicate of #8256. #5670 is also similar. If you would like to add any comments to those issues please do. I plan on adding issue #8256 to our internal review board this next week.

[2021-01-28 19:24] #12471 closed

[2021-01-28 19:29] #6925 closed

[2021-01-28 19:34] cmgorton commented on #7111
@emgoto is this still an issue for you. I am always notified when someone comments on one of my posts. I am going to close this issue but will reopen it if this is an ongoing issue for you. Thanks.

[2021-01-28 19:39] cmgorton commented on #7697
Hey @melissamcewen Thanks for this feature request. We have plans to make profile fields more general for all Forems. You can see a little more information in this comment on why we are shying away from adding specific companies [https://github.com/forem/forem/issues/9287#issuecomment-669824825](https://github.com/forem/forem/issues/9287#issuecomment-669824825)

For now I am going to close this is

[2021-01-28 19:39] #7697 closed

[2021-01-28 19:42] cmgorton commented on #7709
Hello! Thanks for your contributions here.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](https://forem.dev/).

You can read more about our Internal RFC Process and forem.dev Discussions in [this post](h

[2021-01-28 19:42] #7709 closed

[2021-01-28 19:49] cmgorton commented on #7798
I believe this issue was fixed with PR #9357. I am going to close this issue but if you are still unable to delete an organization please let me know and we can reopen this issue. Thanks.

[2021-01-28 19:49] #7798 closed

[2021-01-28 19:50] cmgorton commented on #7877
@citizen428 do you think this is a potential RFC?

[2021-01-28 19:55] cmgorton commented on #7916
@citizen428 @benhalpern @rhymes there is still no alternative for this right? Would it be fair to label this as a potential RFC?

[2021-01-28 19:58] cmgorton commented on #7997
@michael-tharrington could you weigh in on the issue at all with how we currently handle duplicate articles. I am pretty sure right now we rely heavily on our trusted users to report signs of plagiarism right?

[2021-01-28 19:59] cmgorton commented on #7902
Hello! Thanks for your contributions here.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](https://forem.dev/).

You can read more about our Internal RFC Process and forem.dev Discussions in [this post](h

[2021-01-28 19:59] #7902 closed

[2021-01-28 20:12] cmgorton commented on #8039
Hey @Amorpheuz. The App Store icon appears correct on both my phone and my browser in dark mode and Ten X.

I am going to close this issue but if it still appears for you let me know and we can reopen it.

![143849592_245571837132273_5398549679581784243_n](https://user-images.githubusercontent.com/21039864/106193159-c1c4d380-6172-11eb-8bf5-a23885c2ed6c.jpg)
![143744815_921126535326074_176655282396

[2021-01-28 20:12] #8039 closed

[2021-01-28 20:19] cmgorton commented on #8034
Hello! Thanks for your contributions here.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](https://forem.dev/).

You can read more about our Internal RFC Process and forem.dev Discussions in [this post](h

[2021-01-28 20:19] #8034 closed

[2021-01-28 20:19] cmgorton commented on #12466
This happens when you click on the settings link too. Makes using the mobile version of DEV really annoying.

[2021-01-28 20:19] michael-tharrington commented on #7997
That's right! We rely on reports from the community via https://dev.to/report-abuse and trusted users who help keep an eye out for conduct-breaking material. That said, I LOVE the idea of us having a duplicate content checker. Often when someone reports plagiarism, I navigate to plagium.com and run chunks of text through the free search option they have, but it's time consuming.

Side note — I rea

[2021-01-28 20:21] cmgorton commented on #7997
Thanks Michael! I am going to label this as a potential RFC so the team can discuss this feature more.

[2021-01-28 21:17] emgoto commented on #7111
Hiya! I've noticed that whenever I make a new blog post, by default I am
unsubscribed from the comments. So if I subscribe, it's okay. I'm not sure
why that is, though.

On Fri, Jan 29, 2021 at 6:35 AM Christina <notifications@github.com> wrote:

[2021-01-28 21:29] cmgorton commented on #7111
Thanks for letting me know @emgoto . I will open this back up for now while we continue to figure this out.
One question. If you go to [https://dev.to/settings/notifications](https://dev.to/settings/notifications) do you have these areas checked?
![Screen Shot 2021-01-28 at 3 27 57 PM](https://user-images.githubusercontent.com/21039864/106201128-9c899280-617d-11eb-8717-d334e0075be6.png)

[2021-01-28 21:42] emgoto commented on #7111
I have the mobile notifications on, but not the other two.

On Fri, Jan 29, 2021 at 8:30 AM Christina <notifications@github.com> wrote:

[2021-01-28 21:48] cmgorton commented on #7111
Could you try checking the bottom one? Once you have it checked I can try commenting on one of your posts and seeing if you get a notification.
![Screen Shot 2021-01-28 at 3 46 47 PM](https://user-images.githubusercontent.com/21039864/106202877-29355000-6180-11eb-8c6e-4075634a3365.png)

[2021-01-28 22:50] emgoto commented on #7111
Sure - I've turned on that setting, and I have unsubscribed from my latest
blog post so you can comment on that one.

On Fri, Jan 29, 2021 at 8:48 AM Christina <notifications@github.com> wrote:

[2021-01-28 22:56] cmgorton commented on #7111
Thank you Emma. I commented on this post https://dev.to/emma/how-to-write-to-files-with-node-js-3439. Let me know if that wasn't your latest.
Let me know if you get a notification or not and we can delete my comment after you confirm one way or the other. And thanks for walking through these steps with me so we can try to figure out this bug.

[2021-01-28 22:59] emgoto commented on #7111
Hi, I didn't get a notification.

On Fri, Jan 29, 2021 at 9:56 AM Christina <notifications@github.com> wrote:

[2021-01-28 23:45] pkfrank opened #12473 "Ensure "Community Name" updates in Footer more regularly"
**Is your feature request related to a problem? Please describe.**
As a Forem Admin, I can set my Community Name via `Config > Community Content`.  It updates quickly in most locations, but not in the site footer.

**Describe the solution you'd like**
Upon saving a new Community Name, the footer cache clears.

**Additional context**
This is frustrating and confusing some Forem Admins.

[2021-01-29 01:36] citizen428 commented on #7877
@cmgorton I'll just close this for now, I'll think about whether or not I want to revisit this thought in the form of an RFC.

[2021-01-29 01:36] #7877 closed

[2021-01-29 01:45] citizen428 commented on #7916
@cmgorton RFC#17 talks about deprecating this in the future, but we don't have a dedicated RFC for it yet.

[2021-01-29 02:53] emgoto commented on #7111
Another thing that may be relevant is that I create my posts via the RSS feed.

[2021-01-29 09:27] sshine commented on #10114
As described in #12453, I can reproduce this bug by enabling uBlock Origin in my Chrome 87 on MacOS 10.15.7.

[2021-01-29 11:40] #12371 closed

[2021-01-29 14:04] cmgorton commented on #7111
Ok thanks for helping me narrow this down. 😄
I deleted my comment on your post and I will keep this issue open. Going to see if someone else on the team has any ideas!

[2021-01-29 15:16] atsmith813 opened #12486 "Update articles after changing a tag's style"
**Is your feature request related to a problem? Please describe.**
Whenever an admin updates the styles for a tag, those styles on the article itself does _not_ update right away. It would update once the cache expires or the article's cache is busted for another reason (i.e. the author updating it). That's because when we update a tag, we only [bust the edge cache for tags](https://github.com/for

[2021-01-29 17:43] katiedavis opened #12487 "Search does not work if not logged in"
**Describe the bug**

**To Reproduce**

Go to dev.to and make sure you're signed out.
Search for any term
Notice that nothing happens, and in the console you'll see a front end error
**Expected behavior**
You should be able to see your queries

**Screenshots**
https://pbs.twimg.com/media/Es6il6AXYAsDXej.jpg

[2021-01-29 18:26] nafaabout commented on #11777
This still happens. I just followed the installation guides for containers and I'm getting this same error. I'm running with `bin/container-setup`.

[2021-01-29 22:51] #11859 closed

[2021-01-29 23:35] pkfrank opened #12494 "DEV shows up as favicon on certain 404s"
**Describe the bug**

404s on Forems show the correct favicon.  However, 404s via `/admin/asdfasdf` will show "DEV" in the favicon.

**To Reproduce**

- Visit: [https://forem.dev/admin/asdfasdfasdf](https://forem.dev/admin/asdfasdfasdf)
- Look at the favicon
- Now visit [https://forem.dev/admin/asdfasdfasdf](https://forem.dev/asdfasdfasdf)
- Notice that the proper favicon is back

**Expected behav

[2021-01-30 17:41] #12487 closed

[2021-01-30 18:23] DaveParr commented on #10293
FWIW I think I'm currently experiencing this issue as I've been teaching myself react. It's really confused me (I've not a lot of front end experience yet):

What I did:
Set up the Dev.to environment when you went open source a few months ago, then started a new job and didn't get much further
Went back to the same laptop and started doing React tutorials
[code]
Open localhost:3000
What I expected

[2021-01-31 19:31] #12473 closed

[2021-02-01 02:55] citizen428 commented on #7111
@rhymes Since you most recently touched the RSS importer code, can you think of a reason why this would happen when importing posts via RSS?

[2021-02-01 10:22] rhymes commented on #7111
I found the answer, the TLDR is that we don't create a subscription between the author and their article when we import via feed

BTW that particular setting only manages reactions, not comments:

https://github.com/forem/forem/blob/82585464b9704cbf46b4a9016cafa0bb70259187/app/workers/notifications/new_reaction_worker.rb#L15-L16

https://github.com/forem/forem/blob/82585464b9704cbf46b4a9016cafa0bb

[2021-02-01 10:23] rhymes commented on #7111
My vote goes to creating the subscription inside `Feeds::Import` and adding the script to align existing articles

[2021-02-01 13:55] sirius93 commented on #12324
Hi,
I am planning to work on this task, and have made some progress. Just wondering of a scenario like, how deleting of comments should be handled?
i.e.
![image](https://user-images.githubusercontent.com/6882879/106467637-f0b8ad80-64c2-11eb-86be-c09f5bf45558.png)

So a deleted parent, should that be counted as a comment or not?
I am trying to get the count from article.comments_count object.

[2021-02-01 14:12] rhymes commented on #12324
@sirius93 `article.comments_count` is the number of comments for the articles, regardless of nesting. It's kept up to date automatically on the server when a comment is created or deleted.

The only odd thing I can see here is that comments are created inline without page refresh, so that counter in the HTML could be incorrect. The easiest solution I can think of is to add 1 when the comment is cr

[2021-02-01 14:28] ludwiczakpawel commented on #12324
Agree with @rhymes re counting approach.

Also, I wanna make sure since this issue was assigned to @ryy - I hope you @sirius93 don't put too much effort into this if @ryy is already handling that. @ryy can you confirm you're currently working on this or should I reassign it to @sirius93 ?

[2021-02-01 14:37] ludwiczakpawel commented on #10114
I tried to repro that with uBlock Origin as well but it doesn't seem to be an issue for me this time either.

[2021-02-01 14:49] cmgorton commented on #7111
Thank you for looking into this more @rhymes. I appreciate the detailed investigation here.

[2021-02-01 15:26] mstruve commented on #857
Removed from planning funnel as this edge case is DEV specific and I think our team's time would be better focused on more Forem wide improvements and fixes.

[2021-02-01 15:27] mstruve commented on #2087
Removed from planning funnel as this edge case is pretty DEV specific and I think our team's time would be better focused on more Forem wide improvements and fixes.

[2021-02-01 15:39] ludwiczakpawel opened #12513 "Inconsistent "0 comments" indicator"
**Describe the bug**

Sometimes, when there's no comments on the post the feed card says "0 comments" and sometimes it's "Add comment".
Another times (I've noticed that on user's profile and tag page) there's no indicator for either comments nor reactions.

**To Reproduce**

Browse the /latest and some users profile and tag pages.

**Expected behavior**

To have consistent labels:

- if comments c

[2021-02-01 16:22] cmgorton commented on #11508
Hey @Lathryx thanks for opening this issue. Have you noticed this happening any more since you initially opened this bug report?

[2021-02-01 16:22] rhymes commented on #12513
Caching?

[2021-02-01 16:24] #11568 closed

[2021-02-01 16:25] ludwiczakpawel commented on #12513
:D

Not this time I think. I tried hard refresh several times :D

[2021-02-01 16:27] cmgorton commented on #11588
@mstruve do you know if this is still an issue? If so, we should probably add it to `issues to be reviewed` for next planning period.

[2021-02-01 16:29] cmgorton commented on #11570
Hey @markerikson . Trying to follow up on issues that haven't had a response yet. Can you confirm this is still an issue for you. If so I can ping an engineer to see if they can give us any more info on why this might be occurring. Thanks!

[2021-02-01 16:37] markerikson commented on #11570
Can definitely confirm this is still an issue.  The settings panel says that the feed was fetched as of today (Feb 1), but the latest auto-created draft is from 2019 (and I put up some new posts within the last couple weeks).

[2021-02-01 16:41] cmgorton commented on #11570
Thank you for confirming @markerikson .

@forem/squad anyone have any ideas on why this might be happening. I have seen this issue come up before in support as well.

[2021-02-01 16:43] cmgorton commented on #12513
Am I imagining things? Wasn't there an issue or PR recently to remove the `0 comments` display altogether?

[2021-02-01 16:50] ludwiczakpawel commented on #12513
@cmgorton probably related:
- https://github.com/forem/forem/pull/12425
- https://github.com/forem/rfcs/blob/main/text/0026-only-show-feed-reaction-count-if-more-than-zero.md

[2021-02-01 16:57] ludwiczakpawel opened #12515 "Markdown formatting in comment's notifications"
**Describe the bug**

Someone left a comment tagging me which looked like this (more or less):

[code]

^ this, in Discussion area was rendered as regular text (correct behavior). But when I received the notification for this comment it considered `#3` as a markdown headline:

![image](https://user-images.githubusercontent.com/108287/106490872-8e59b000-64b6-11eb-84bd-8d9fb6326f95.png)

**To Reprod

[2021-02-01 17:00] cmgorton commented on #12513
That was it! Thanks.

[2021-02-01 17:11] jacobherrington commented on #10293
Hey @DaveParr, there really isn't much of a way to avoid this at the moment. Of course, we should consider making some changes down the road to make this less painful.

For the time being, if you want to learn more about Service Workers (I'm still learning about them myself), [Google has a pretty good introduction to them](https://developers.google.com/web/fundamentals/primers/service-workers) or

[2021-02-01 17:44] mstruve commented on #11588
Yes, it looks like you can still hit the purchase button twice, we should prevent that.

[2021-02-01 18:23] sirius93 commented on #12324
@rhymes I agree with the add 1 approach..! and I was planning to implement that, But as suggested by @ludwiczakpawel, I will wait for @ryy 's response and pick it up if needed.

[2021-02-01 19:11] nickytonline commented on #1849
Quick question @rhymes. The initial message in the issue mentions using markdown fields, i.e.

[code]

This is fine for the v1 editor, but what about the v2 editor? We'd need to have credit text and credit url fields since we don't expose the raw markdown data in the v2 editor, or would that be part of this feature.

[2021-02-01 19:31] richardeschloss commented on #10114
Is it easier to repro on Windows machines?

[2021-02-01 19:34] nickytonline commented on #2365
One other thing to take into account in regards to #12160 is that the profile header has changed quite a bit since this issue was originally opened.

![image](https://user-images.githubusercontent.com/833231/106508433-64929000-649a-11eb-9e9e-d124bf7b43af.png)

[2021-02-01 19:50] nickytonline commented on #10114
The component we use for the title input is [preact-textarea-autosize](https://www.npmjs.com/package/preact-textarea-autosize). So maybe it's an issue with that component potentially in whatever scenario causes this issue. I tried to recreate the issue like Marcy mentioned, but it still works fine for me.

[2021-02-01 19:52] ryy commented on #12324
I have not been able to tackle this issue.
Please reassign.

[2021-02-01 19:54] nickytonline commented on #12324
Assigning this to you @sirius93

[2021-02-01 20:07] cmgorton commented on #11570
This older issue might be related #3996

[2021-02-01 20:22] #9199 closed

[2021-02-01 20:32] nickytonline commented on #12443
Agree @lisasy. That is what I currently do for the cover image. As soon as you drop it, the spinner kicks in until the upload is finished. Not sure why I didn't do this for images in the content body of a post.

[2021-02-01 22:23] benhalpern opened #12519 "Tweet action button overflow style issue"
**Describe the bug**

Tweet liquid tags have insufficient padding on bottom causing overflow.

<img width="582" alt="Screen Shot 2021-02-01 at 5 16 18 PM" src="https://user-images.githubusercontent.com/3102842/106524916-34a2b700-64b1-11eb-8bbb-926557400da9.png">

**To Reproduce**

Add a tweet liquid tag to a post.

**Expected behavior**

There should be consistent margin around the tweet action bu

[2021-02-01 23:38] maestromac commented on #11570
@markerikson It's because all the URLs in your feed's `<link>`, guide, and image href are missing the http/https schemes. Try searching for `//blog.isquaredsoftware.com` in your https://blog.isquaredsoftware.com/index.xml and you should see it.

[2021-02-02 00:26] markerikson commented on #11570
Hmm. Okay, yeah, will try poking at that and see what happens.

[2021-02-02 00:33] markerikson commented on #11570
Bingo, that was it!  Fixed the URL in my blog settings, republished, and re-fetched the feed, and now I see the new posts as drafts:

![image](https://user-images.githubusercontent.com/1128784/106535458-45105d00-64c4-11eb-986a-b5cf4f899d53.png)

So apparently this was all my fault :)  Appreciate you investigating the issue!

Will look at trying to edit some of these and publish them in the near fu

[2021-02-02 00:33] #11570 closed

[2021-02-02 02:22] saydus opened #12521 "Documentation Navigation Styling Issue"
**Description**
On the documentation website, I am experiencing styling issue with the navigation on top of pages that have it. For example, on [installation guide with containers](https://docs.forem.com/installation/containers/).

Here is how the page looks before scrolling down:
<img width="1680" alt="Screen Shot 2021-02-01 at 2 19 23 PM" src="https://user-images.githubusercontent.com/29519144/1

[2021-02-02 02:40] citizen428 commented on #10293
@DaveParr If you have some backend experience, the simplest explanation I can give for a service worker is "like a background job running in the browser".

BTW: You can also unregister service workers from the developer tools. Go to the "Application" tab (where you can see things like service workers, local storage, etc), select "Service Workers" in the left sidebar, and hit "Unregister":

![image

[2021-02-02 06:19] sekti92 opened #12522 "Old username still able to be accessed after username updated"
**Describe the bug**

Old username still able to be accessed after the username already updated

**Expected behavior**
This page does not exist

**Desktop (please complete the following information):**

- OS, version: Windows 10
- Browser, version: Chrome

**Additional context**
After username updated, the old username still can be accessed. It supposed to be produce 404 This page does not exist

[2021-02-02 08:47] ludwiczakpawel commented on #10114
One potential cause for that is a combination of that preact component with our current layout on /new view - we use `flex: 1 auto` on some elements within the form thanks to which body textarea can take as much space as is available. So my only guess is that this `flex: 1 auto` is sometimes (?) enforcing title field to be shrinked... buuuut.. it's a guess...

Maybe someone who experience this iss

[2021-02-02 08:51] ludwiczakpawel commented on #2365
correct me if i'm wrong @citizen428 but I think right now, when we add a new custom field it will be displayed in the same way as _Education_ and _Work_ (on @nickytonline screenshot), right? Which basically is outcome of generalization profile fields.

Obviously that's the case as long as we consider pronouns being a classic custom field and not something hardcoded in the profile (meaning: require

[2021-02-02 09:16] sirius93 commented on #12519
@benhalpern This seems more than just height issue. Please take a look at below screenshot.
![image](https://user-images.githubusercontent.com/6882879/106577699-b0aa0700-6564-11eb-8255-a137ec694e46.png)
The Dev icon (twitter profile pic) also seems to be shifted downwards.
Looks like something to do with top bottom margin getting added to images.
Issue when margin is there :
![image](https://user-

[2021-02-02 09:38] ludwiczakpawel commented on #1849
@nickytonline very good point 👍

To keep scope to minimum I think it would make sense to separate it to another issue/PR. For v1 editor we mostly need a bit of backend (for editor) and tiny bit of frontend (for reading experience).

For v2 editor we would need extra frontend work around the editor itself - but the backend would rely on the foundations laid down by work done for v1.

Nevertheless,

[2021-02-02 14:11] fdoxyz commented on #8425
Based on something similar I did in another PR I wanted to suggested a solution for this:

1. Extract the `update_article_page_views` logic into a Background worker (i.e. `UpdateArticlePageViewsWorker`)
2. Make sure we schedule the worker in the future (from `page_views#create`) with `UpdateArticlePageViewsWorker.perform_at(30.minutes.from_now)`
3. Ensure [the worker is unique in the queue](https:

[2021-02-02 14:50] cmgorton commented on #4181
Hey @ledestin We are working on changing how we approve feature requests and when the Forem team or contributors will take them on.
I am going to go a head and unassign you to this feature for now while we work through our [new RFC process](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4). Thank you fo your help here!

In the meantime if you see any bugs you want to

[2021-02-02 14:50] #4181 closed

[2021-02-02 14:54] cmgorton commented on #4523
Hey @Taniyah-L-Jackson
We are working on changing how we approve feature requests and when the Forem team or contributors will take them on.
I am going to go a head and unassign you to this feature for now while we work through our [new RFC process](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4). Thank you fo your help here!

In the meantime if you see any bugs yo

[2021-02-02 15:07] cmgorton commented on #6303
Hey @lucasqueiroz Thanks so much for you work on this issue so far. We recently implemented a [new internal RFC process](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4) for feature requests. With this new process we are figuring out when a Forem team member or an outside contributor should work on a feature request.

Given this process I am going to unassign you fr

[2021-02-02 15:14] aitchiss commented on #12324
Closed by #12518

[2021-02-02 15:14] #12324 closed

[2021-02-02 15:20] cmgorton commented on #7532
Hey @Rafi993
Thanks so much for you work on this issue so far and for all your contributions.
We recently implemented a [new internal RFC process](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4) for feature requests. With this new process we are figuring out when a Forem team member or a community contributor should work on a feature request. Given this process I a

[2021-02-02 15:21] cmgorton commented on #7769
Thanks so much for you work on this issue so far.
We recently implemented a [new internal RFC process](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4) for feature requests. With this new process we are figuring out when a Forem team member or a community contributor should work on a feature request. Given this process I am going to unassign you from this issue for

[2021-02-02 15:23] cmgorton commented on #8075
Hey! @jonathanyeong
Thanks so much for you work on this issue so far.
We recently implemented a [new internal RFC process](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4) for feature requests. With this new process we are figuring out when a Forem team member or a community contributor should work on a feature request. Given this process I am going to unassign you

[2021-02-02 15:24] #9183 closed

[2021-02-02 15:26] sirius93 commented on #12324
Thanks everyone for all the support. It was my very first open source contribution 😇😀.

[2021-02-02 15:27] cmgorton commented on #9212
Hey @twinsfan421 thanks so much for all the contributions to this so far. Given the current PRs that have already been merged is there anything else left for this issue?
We recently implemented a [new internal RFC process](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4) for feature requests. With this new process we are figuring out when a Forem team member or a co

[2021-02-02 15:41] cmgorton commented on #9707
Hey @shilpi230 looks like this has gone a little stale.
Thanks so much for your work on this issue so far and for all your contributions.
We recently implemented a [new internal RFC process](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4) for feature requests. With this new process we are figuring out when a Forem team member or a community contributor should work

[2021-02-02 15:42] cmgorton commented on #9734
Hey @afairlie
Thanks so much for your willingness to work on this issue.
We recently implemented a [new internal RFC process](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4) for feature requests. With this new process we are figuring out when a Forem team member or a community contributor should work on a feature request. Given this process I am going to unassign y

[2021-02-02 15:44] #10132 closed

[2021-02-02 15:46] cmgorton commented on #10151
@ShubhankarKG
Thanks so much for your work on this issue so far.
We have a new process moving forward to address feature requests and especially those that are more DEV specific.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](https://forem.dev/).

You can read more abou

[2021-02-02 15:46] #10151 closed

[2021-02-02 15:57] ludwiczakpawel commented on #12324
@sirius93 you did great! 🚀

[2021-02-02 16:05] cmgorton commented on #10670
@bntzio Thanks so much for your willingness to take this issue.
We recently implemented a [new internal RFC process](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4) for feature requests. With this new process we are figuring out when a Forem team member or a community contributor should work on a feature request.
Given this process I am going to unassign you from t

[2021-02-02 16:07] cmgorton commented on #11011
@dengel29 thanks for volunteering for this issue.
We recently implemented a [new internal RFC process](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4) for feature requests. With this new process we are figuring out when a Forem team member or a community contributor should work on a feature request.
Given this process I am going to unassign you from this issue for

[2021-02-02 16:13] cmgorton commented on #12011
Hey @claracavalcante 👋
Thanks so much for volunteering for this issue.
We recently implemented a [new internal RFC process](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4) for feature requests. With this new process we are figuring out when a Forem team member or a community contributor should work on a feature request. Given this process I am going to unassign you

[2021-02-02 16:51] #12354 closed

[2021-02-02 16:53] deivuh opened #12540 "New registered user. Redirected to a blank screen due to onboarding error"
**Describe the bug**
I just registered to dev.to with Github and whenever I try to access to the main site it redirects me to `https://dev.to/onboarding?referrer=https://dev.to/` because the onboarding page has errors, it gives me a blank screen. The following errors where shown on Safari's JS console.

[code]

Had to disable JS so it wouldn't redirect and find where to report this issue.

**To Re

[2021-02-02 16:59] twinsfan421 commented on #9212
This issue is completed.   Thank you

[2021-02-02 17:03] rhymes commented on #12324
Wow, awesome @sirius93, thank you again!

[2021-02-02 17:05] msarit commented on #12324
Awesome job, @sirius93! Thank you for enriching our project! 🙏🏾

[2021-02-02 17:06] msarit commented on #12540
Hey @deivuh thanks for reporting this issue. We're on it!

[2021-02-02 17:07] cmgorton commented on #12324
Thank you so much for your work here @sirius93 . 🎉

[2021-02-02 17:11] cmgorton commented on #9212
Thanks for the confirmation and thanks again for all the work you did on this. We really appreciate it 🙏🎉

[2021-02-02 17:11] #9212 closed

[2021-02-02 17:31] katiedavis commented on #12540
Hello! There's a fix for this here: https://github.com/forem/forem/pull/12541

[2021-02-02 17:46] #12540 closed

[2021-02-02 17:53] danieltott commented on #12452
Definitely down to tackle this one!

@ludwiczakpawel I was wondering how important the "grid is for layout and flex is for components" guideline is for forem. There are a number of instances of gap + flex in the codebase that would be a very simple swap to using grid instead of flex while not exposing it to any gotchas - especially leaning in to some `auto`-ish behaviors.

For a small example:

[c

[2021-02-02 18:13] jbolle opened #12544 "Unable to login with Github"
**Describe the bug**

I created an account via Github connect and I'm unable to access the website when I'm logged. I'm redirected to https://dev.to/onboarding?referrer=https%3A%2F%2Fdev.to%2Fenter and I have a blank page.

**To Reproduce**

1. Create an account with Github
2. Log in to Dev.to

**Expected behavior**

Access the homepage.

**Screenshots**

![console](https://user-images.githubuserc

[2021-02-02 18:29] Taniyah-L-Jackson commented on #4523
Understood, will do 😊

[2021-02-02 18:38] cmgorton commented on #12544
Hey @jbolle we just pushed a fix for this issue.
https://github.com/forem/forem/pull/12541

Could you try clearing your cache and logging back in?

[2021-02-02 18:48] jbolle commented on #12544
Thanks for your reply @cmgorton.

I tried but I'm still facing the same issue unfortunately.

[2021-02-02 19:10] benhalpern commented on #12519
@sirius93 good call. Yeah, I wasn't so sure about what was going on.

[2021-02-02 19:10] cmgorton commented on #12544
Thank you for checking @jbolle . One of our engineers said they used an incognito tab and was able to sign up with GitHub. Would you be willing to try that and see if it works so we can narrow down this bug?

[2021-02-02 19:17] jbolle commented on #12544
I already tried this but the result is exactly the same.
By the way I just remembered something that could help. Before create an account with Github, I tried to sign up by email (the same I use for my Github account) but I got an error message. So I did it with Github connect. Could it be related?

[2021-02-02 19:22] sirius93 commented on #12519
@benhalpern  From what I understand, A quick fix would be to override margin top and bottom in images specific to `tweet liquid tag`.

[2021-02-02 19:23] ludwiczakpawel commented on #12452
100% agree.

The component/layout guideline is more of a personal preference... I THINK grid may affect rendering performance when overused (but I don't have hard data to prove it though).

Anyway, I guess for some bigger components that you think could be considered as _lightweight layouts_ (yes, that's very blurry explanation :D) we could just go ahead with classic grid, especially for cases whe

[2021-02-02 19:43] ludwiczakpawel opened #12545 ""Unable to load Comment Subscription component""
**Describe the bug**

![image](https://user-images.githubusercontent.com/108287/106653335-f253a580-6596-11eb-8ecc-3582965616a1.png)

It's been happening quite often recently for me but I can't really tell how exactly this should be reproduced. It does work after refreshing the page, but then when I go to another post it's broken again.

Also, this is what's happening in the console:

![image](http

[2021-02-02 19:48] pkfrank opened #12546 "Update "You used X to authenticate your account" in certain transactional emails"
**Current Behavior**:

Certain transactional emails will include this text at the bottom:

However, if the email is being sent to someone who authenticated with email/pass, it will just say:

**Expected Behavior**:

We should probably update this to the following for email/pass users:

[2021-02-02 19:52] danieltott commented on #12452
@ludwiczakpawel Yep - that makes perfect sense! Just wanted to double check since this is my first time in this codebase. Thanks for the clarification!

As a possibly related question, how do we feel about js feature-checking for style stuff? Another approach could be to suss out when we're in the situation where flex+gap isn't supported and only apply fixes there, but unfortunately there's no way

[2021-02-02 20:08] cmgorton commented on #12544
@msarit there is some additional context here in @jbolle's comment. Not sure that is helpful to help debug this for them.

[2021-02-02 20:09] ludwiczakpawel commented on #12452
re `@support` here's a read that could be useful (or not :D) https://ishadeed.com/article/flexbox-gap/

But generally... I think it's not worth the effort right now. Either with `@support` or some js solutions or css hacks - it's all gonna be a hack... If anything, I'd personally lean towards some `@support` solution because I guess it's the cleanest one. Although yea - whatever we'd go with here,

[2021-02-02 20:16] cmgorton commented on #12544
@jacobherrington if you have a moment could you look into this.
This issue was supposed to be fixed with #12541
We have had a few people report problems logging in today.

[2021-02-02 20:20] danieltott commented on #12452
Yep - was definitely using that article for some reference. I think that's probably the right call in general re: hacks. Thanks again for your time!

[2021-02-02 21:32] nickytonline commented on #10114
Another thing is I think for this field, it could either be a text field or textarea. Does the preact-autosize component really gives us much in this scenario?

[2021-02-02 21:38] cmgorton commented on #243
Hello! Thanks for your contributions here. We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](https://forem.dev/).

You can

[2021-02-02 21:38] #243 closed

[2021-02-02 22:22] ThatGuySam commented on #12544
I was having the same issues but it seems to be working for me okay now.

However, when I got it working I was testing it incognito so I can't say for sure if the fix works without flushing/hard reloading.

[2021-02-02 23:25] Hanaffi commented on #12519
Assign to me?

[2021-02-02 23:25] Hanaffi commented on #12519
Can you assign it to me please?

[2021-02-03 00:13] vaidehijoshi commented on #11686
Hi @meaganewaller! 👋🏽

Thanks for your work on this so far, and apologies for jumping in late here :) I wanted to chime in here from a product perspective. I think we should not link to the username's profile as a part of this change. There are some privacy implications here (and linking to a user's profile could actually open up a user to harassment in some cases!), and I think in some scenarios,

[2021-02-03 00:43] mstruve commented on #8425
Interesting, I love the idea of not kicking off the worker right away but scheduling it for the future with a unique constraint. I would even dial in the time to 1-5 mins in the future to run the job to keep it more up to date.

[2021-02-03 02:17] meaganewaller commented on #11686
@vaidehijoshi Completely understandable, and I appreciate that insight. I definitely want to err on doing the least potential harm to the community members, and thinking about vectors for harassment is so important, so thank you for that thoughtfulness.

What are the implications of that for this feature? Do we want to display a new error message instead of

[code]

We will have the display be som

[2021-02-03 04:03] Lathryx commented on #11508
No, I haven't. It was strange, but it seems like it was a fluke. I'll let you know of anymore appearances of this issue, but for now I think it's okay.

[2021-02-03 04:27] citizen428 commented on #8425
I know we're nowhere near Reddit-scale, but their approach is also quite interesting: they use secondary storage like Redis to provide more accurate counts for the users themselves while utilizing background jobs to update the stored number in the main data store. This approach would obviously be quite heavy on Redis (1 key per article, though we could have an expiry on keys so this stays at a man

[2021-02-03 04:31] akashdotsrivastava commented on #11880
@rhymes Hi, I'd like to give this a shot.

[2021-02-03 04:44] citizen428 commented on #2365
Let me clarify some terms first:

* Profile fields (model `ProfileField`): managed by admins, available to all users.
* Custom profile fields (model `CustomProfileField `): managed by individual users, only available to them, maximum of 5 per user.
* Both of these together are used to determine what can go in a user's profile (model `Profile`).

The idea behind custom profile fields was to allow u

[2021-02-03 08:02] ludwiczakpawel commented on #2365
Oh, I was NOT aware of this feature (which probably puts the terminology I used in slightly different context)

---

Thanks for clarifications.

[2021-02-03 08:42] ludwiczakpawel commented on #10114
Not sure if I understand correctly? Are you suggesting using `input[type="text"]` for title? <-- that wouldn't work because we need (well, want) to autoresize this field while typing the title. And you can't do that with classic `input` - that's why it's a textarea.

If anything, we could try to play with `div[contenteditable]` since this is preact component anyway we could go wild ;p

[2021-02-03 09:21] rhymes commented on #12545
Just had the same issue, same error.

Browser: Firefox 86beta

[2021-02-03 10:11] rhymes commented on #11880
Go ahead @akashdotsrivastava :)

[2021-02-03 11:17] nickytonline commented on #10114
Yeah, forget an input of type of text, but just a plain old textarea would be fine no?

[2021-02-03 12:11] ludwiczakpawel commented on #10114
@nickytonline oldschool textarea doesn't auto resize afaik

[2021-02-03 13:04] #11508 closed

[2021-02-03 13:05] nickytonline commented on #10114
Good point. I was thinking of the drag handle, but that's not the same thing.

[2021-02-03 14:08] jbolle commented on #12544
Sorry for the late response but I just tried and everything seems to work fine now.

Thanks @cmgorton !

[2021-02-03 14:08] #12544 closed

[2021-02-03 14:09] Bktero opened #12556 "Pages don't display correctly because some elements can be dowloaded (403 errors)"
**Describe the bug**

Pages don't display correctly (images for profiles are missing, styles looks weird, etc) because some elements can't be dowloaded. The screenshot below shows that 403 errors are encountered.

**To Reproduce**

Browse to any page (the home page is enough).

**Expected behavior**

The page should display correctly.

**Screenshots**

![dev_to_403](https://user-images.githubuserc

[2021-02-03 14:16] cmgorton commented on #12544
Thanks for following up @jbolle. Glad everything is working for you now!

[2021-02-03 16:58] #3675 closed

[2021-02-03 17:09] mansona commented on #3675
amazing 🎉 thanks for getting this sorted! Will this be run as a background process to update older aliases?

[2021-02-03 17:47] #10948 closed

[2021-02-03 19:04] vaidehijoshi commented on #11686
@meaganewaller Yeah, I think we could keep the error message but just without the link.

So, for my username, it would read:
`Whoops we found 1 problem - the username vaidehijoshi is taken.`

[2021-02-03 20:03] maestromac opened #12562 "Bump omniauth and omniauth-github to 2.0"
Omniauth received a major version bump that resolves a long-standing issue. We can't rely on Dependabot's auto PR to do this because there are additional configuration and manual tests we'll need to do. We should update it as soon as possible.

Please see the discussion in https://github.com/forem/forem/pull/12481

[2021-02-03 21:23] meaganewaller commented on #11686
@vaidehijoshi Gotcha! Will push up this change this evening after work ✨

[2021-02-03 22:55] vaidehijoshi commented on #11686
No rush at all! Take your time :)

[2021-02-04 00:29] vaidehijoshi commented on #12513
Sounds like it could potentially be a bug related to https://github.com/forem/forem/pull/12425? (cc @msarit)

I'm not 100% sure as I haven't poked around in the code itself, but probably warrants some investigation from our end :)

[2021-02-04 01:24] citizen428 commented on #3675
@mansona As is no, but we can kick of the background worker manually for tags that need to be processed this way if you have any mind cc @maestromac

[2021-02-04 10:39] ludwiczakpawel opened #12569 "GitHub issue liquid tag inside `<li>` breaks markdown and rendered HTML"
**Describe the bug**

When users use github issue liquid tag inside a list item, it will break the markdown and therefore it will break rest of the page layout (since it will affect all HTML).

Please notice extra space between list items as well as _like_ and _reply_ buttons being misplaced.

**To Reproduce**

1. Write a comment or post with following markdown
[code]
2. Submit and see it breaks p

[2021-02-04 11:03] #11686 closed

[2021-02-04 14:12] aitchiss opened #12571 "Subscribe to discussion button does nothing if user is not logged in"
**Describe the bug**

When a user views a post, but is not logged in currently, a "Subscribe" button is visible next to the discussion/comments section. Clicking on the button does nothing.

**To Reproduce**

1. Make sure you aren't currently logged in
2. Open any post
3. Scroll to the subscribe button and click
4. Nothing happens

**Expected behavior**

I would expect that on "Subscribe" click we

[2021-02-04 14:25] aitchiss commented on #12545
I'm not seeing the error in the UI (yet!) but I can reliably reproduce the error in the console:

- In a new incognito/private window, navigate to dev.to
- Open any post, observe no error in console
- Go back to the feed (either by back click or clicking the logo)
- Open any other post - error appears
- Continue opening posts - every time the error appears again

![error in console stating subscri

[2021-02-04 15:58] #10210 closed

[2021-02-04 16:06] benhalpern opened #12572 "Post creation form bugs"
**Describe the bug**

Two things popped up here in a recent change:

### Bug 1 [Fixed]

https://user-images.githubusercontent.com/3102842/106918584-51b8cf00-66d7-11eb-9448-4332764d5e55.mov

The flash of placeholder text not mapping visually to the attached Preact component should match up well. The appropriate classes need to be there both in the server placeholder and the Preact component.

### B

[2021-02-04 16:27] Zhao-Andy opened #12575 "Deleting an organization is very slow"
**Describe the bug**
When you try to delete an organization, via any method `Organization.find(id).destroy` or through the organization settings, it takes a really long time -- at least on dev.to.

**To Reproduce**
1. Try to delete an organization (on dev.to)
2. Find that it doesn't work a lot and you're stuck with belonging to the organization you're trying to delete

**Expected behavior**
A user

[2021-02-04 16:27] ludwiczakpawel commented on #12572
Bug 3 seems like a separate from Bug 1 and Bug 2. I'll have a PR with fix for 1 & 2 ready in couple mins.

[2021-02-04 16:28] Zhao-Andy commented on #12575
cc SQL experts @citizen428 @rhymes 😄

[2021-02-04 16:29] benhalpern commented on #12572
Great @ludwiczakpawel

[2021-02-04 16:51] wolfhoundjesse commented on #1431
Would this solely require adding an explanation to *views/pages/_editor_liquid_help.html.erb* and *views/pages/_editor_guide_text.html.erb*? E.g.:

[code]

I'm feeling this issue because I just researched how to put backticks in code blocks in Markdown on GitHub. 😂

[2021-02-04 17:11] rhymes commented on #12575
Hi @Zhao-Andy, I think the main reason here is that `notifications` is a huge table. Deleting an organization is not that different from deleting a user in those regards and we moved away from `user.destroy` to `Users::Delete.call(user)` to be able to control those steps.

According to the code `organizations` have a `destroy` dependency on `display_ads`, `listings`, `notifications`, `profile_pins

[2021-02-04 19:29] Mandihamza commented on #3015
Hello! I'd love to work on fixing this issue. I think I've located the file that needs worked on here:
/forem/app/assets/stylesheets/ltags/InstagramTag.scss

[2021-02-04 22:11] atsmith813 commented on #12572
Maybe a recent deploy fixed bug 3? I can't reproduce that one 🤔

[2021-02-04 22:22] fdoxyz commented on #12572
@atsmith813 did you try with empty body + tags? I was able to reproduce just now in dev.to (after clearing out local data to be sure the bug wasn't cached)

![Screen Shot 2021-02-04 at 16 13 19](https://user-images.githubusercontent.com/6045239/106962693-1c2ada80-6705-11eb-8ac0-88d5b94e171c.png)

The backend is responding without an error (an exception is not raised in `articles#preview`)

I’m not

[2021-02-04 22:26] atsmith813 commented on #12572
@fdoxyz great call! It errors if the body is empty

[2021-02-05 12:56] #12572 closed

[2021-02-05 15:01] Zhao-Andy commented on #12575
Unfortunately changing it from `.delete_all` did not reduce the the time enough and the process still times out :( I wonder if the index we currently have `index_notifications_user_id_organization_id_notifiable_action` is not efficient enough here, and if we should add a new index specifically for deleting organizations `index_notifications_organization_id`

[code]

But perhaps the real issue is t

[2021-02-05 15:18] rhymes commented on #12575
@Zhao-Andy mmm we can try but I don't think adding another index will solve the issue (the existing one already contains all the data). Another option is to call `organization.notifications.in_batches.delete_all` before the `organization.destroy`

I fear the long term solution here is to have an `Organizations::DeleteWorker` that calls `Organizations::Delete.call(organization)` and in turn deletes

[2021-02-05 18:05] ChaelCodes opened #12599 "When OAuthing using Docker, the callback url is http://rails"
**Describe the bug**
When attempting to OAuth using the Docker container, the callback url for Oauth is http://rails. This appears to stem from URL.url, which does not respect .env.
![callback url uses rails](https://user-images.githubusercontent.com/8124558/107071118-3cfd3980-67b2-11eb-849b-f163b2d3c908.PNG)

I believe this is caused by Docker overwriting APP_DOMAIN in the docker-compose.yml.
htt

[2021-02-05 19:53] ChaelCodes opened #12600 "DatabaseCleaner is not a fan of Docker"
**Describe the bug**

Attempting to run an rspec test through Docker fails with a complaint from DatabaseCleaner.

**To Reproduce**

1. Use `docker-compose up --build` to create a docker environment
1. Call `docker exec forem_rails bundle exec rspec spec/liquid_tags/twitch_tag_spec.rb`

Alt steps:
1. Use `docker-compose up --build` to create a docker environment
1. Call `docker exec -it forem_rail

[2021-02-05 20:54] ChaelCodes commented on #12600
Adding `DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL: "true"` to the environment of rails in docker-compose.yml did not help. It resulted in the following error.
![image](https://user-images.githubusercontent.com/8124558/107088029-57431180-67ca-11eb-9028-a60f6cffe4e2.png)

[2021-02-06 20:14] bntzio commented on #12600
I can reproduce this as well, I tried attaching to the container `docker exec -it forem_rails sh` and then ran:

[code]

Got same error as @ChaelCodes.

[2021-02-07 01:35] jason00111 opened #12604 "Account locked and no response from support"
**Describe the bug**

My account appears to be locked. I'm unable to write new posts or modify existing posts.

I've sent multiple emails to yo@dev.to and received no response.

**To Reproduce**

_Writing a new post_

1. Click on the big "Write a post" button.
2. See this error:
<img width="431" alt="image" src="https://user-images.githubusercontent.com/20765448/107133663-8bd4cd00-689f-11eb-9231-1

[2021-02-07 17:49] taismassaro commented on #11494
I think I'm having a similar issue, but in my case I'm getting all emails from DEV on both emails since I changed my email address.

[2021-02-08 14:04] cmgorton commented on #12604
Hey @jason00111 what is your DEV username?
I can talk to the support team and see if they can give me more information here. Thanks.

[2021-02-08 15:06] nickytonline commented on #11494
@taismassaro, this is a confirmed issue. @rhymes, this issue also happens to me. I signed up with GitHub and when I started working at Forem, I switched my e-mail (confirmed it as well) to my Forem one and now I receive two emails whenever one is sent out.

[2021-02-08 15:23] cmgorton commented on #12604
Hey @jason00111 I talked to our support team. They will be emailing you to discuss why you can't currently write new posts or modify existing posts.

[2021-02-08 15:23] #12604 closed

[2021-02-08 15:37] nickytonline commented on #11777
@nafaabout, did you create a `.env` file? I just can `bin/container-setup` for Docker and did not run into this issue.

[2021-02-08 16:50] nickytonline commented on #12600
Just looking into this @bntzio and @ChaelCodes.

[2021-02-08 18:53] #11462 closed

[2021-02-08 20:08] #11731 closed

[2021-02-08 21:40] nickytonline commented on #12600
I'm still digging into this, but one thing is apparent. There is no test environment at all. If you look at docker-composer.yml, RAILS_ENV in all containers is always development, so you never end up with a test database.

Also, setting `RAILS_ENV=test` explicitly is not necessary. It gets set when an rspec test runs since all tests import `rails_helper.rb`

https://github.com/forem/forem/blob/11d

[2021-02-08 23:45] maestromac commented on #3675
From the look of it, resaving the tag won't be enough as `tag_alias_updated?` will be false. I think we need a dedicated DataUpdateScript to update older aliases. It shouldn't be that many and we can target only tags that have a `tag_alias` column. I can work on this.

[2021-02-09 01:03] nickytonline commented on #3015
Also, just want to mentioned that I've seen this happen in preview mode, but also in the published view.

[2021-02-09 01:05] citizen428 commented on #3675
@maestromac I was specifically talking about the worker I added in https://github.com/forem/forem/pull/12480. We need to find a list of tags we want to retroactively change, then run the worker for each of them. I'm not a data update script is the right way to go here, as this will be pretty DEV specific, so maybe we just kick them off in a console?

[2021-02-09 04:05] citizen428 commented on #12575
@Zhao-Andy According to this [DBA StackExchange answer](https://dba.stackexchange.com/a/138270/141) the `ON DELETE CASCADE` triggers in combination with missing indexes could indeed be the culprit.

That said, I agree with @rhymes, we probably want to model org deletion after user deletion and have it handled by a service.

[2021-02-09 06:27] aug2uag opened #12618 "ActionView::Template::Error (undefined method `protocol' for nil:NilClass)"
**Describe the bug**

First time launch on OSX 10.15.7 with docker-compose fails. Timeouts were extended because of timeout errors while preparing db. Trace pasted below.

**To Reproduce**

run `bin/container-setup` in OSX running Docker Desktop 3.1.0(51484) (Engine: 20.10.2, Compose: 1.27.4), extend timeout in docker-compose.yml as necessary (2700s increased 2x, retries extended 3x)

**Issue**

[

[2021-02-09 11:41] #12456 closed

[2021-02-09 16:17] vaidehijoshi commented on #12265
I was really hoping I'd be able to tackle this, but my plate is honestly just too full with Product leading and other management priorities 😭 I don't want to block anyone from taking this task on, and I apologize if my assignment to it for so long caused any frustrations.

Anyone else on the Forem core team is free to tackle this if they'd like to! Maybe just ping me for review so I can live vicar

[2021-02-09 16:21] aug2uag commented on #12618
missing .env in instructions, closing

[2021-02-09 16:21] #12618 closed

[2021-02-09 16:50] AlbertoPdRF commented on #12575
Maybe the new (Rails 6.1) [`dependent: :destroy_async`](https://github.com/rails/rails/pull/40157) could be useful here?

[2021-02-09 20:23] cmgorton commented on #703
Thank you so much for the issue and discussion around it.
We are in the process of going through and cleaning up some of our issue history to help us better prioritize what we need to be focusing on. Given this has been inactive for quite some time I am going to go ahead and close it for now.

[2021-02-09 20:23] #703 closed

[2021-02-09 21:43] cmgorton commented on #2087
Given this I am going to close this issue for now. Thanks for taking the time to open it and bring it to our attention.

[2021-02-09 21:43] #2087 closed

[2021-02-09 21:46] cmgorton commented on #2155
@rhymes would you consider this for a potential RFC or is this an issue we should close?

[2021-02-09 23:19] benhalpern opened #12631 "Forem brand color is overridden (only when service workers are running?)"
**Describe the bug**

The Forem's branding color (as visible in the "Write a post" button) has the brand color overridden by the default brand color.

**To Reproduce**

Visit a site that has a non-default brand color (like http://the.community.club/) and refresh a few times to see the flash of the brand color.

**Expected behavior**

The brand color, as defined by the creator, should stay present.

[2021-02-10 06:14] jfbrennan opened #12635 "User menu broken for touch devices"
**Describe the bug**

On iPhone, tapping the user menu briefly opens and closes it. It’s impossible to access links like Dashboard.

**To Reproduce**

Tap the user menu, see it flash open then close.

Note: this works fine on desktop

**Expected behavior**

Tapping the user menu would open the menu and I’d be able to access those links

**Smartphone (please complete the following information):**

[2021-02-10 14:06] aitchiss opened #12643 "Add eslint rule for formatting redundant curly braces in jsx"
This issue is to consider enabling the rule for `react/jsx-curly-brace-presence` in our eslint config. This could be set up to catch two formatting/code style issues, e.g.

[code]

Would be corrected to:

[code]

It's a minor code style issue, but would make our JSX components more consistent and readable. We already have `eslint-plugin-react` as a dev dependency in the project, and could enable t

[2021-02-10 14:22] cmgorton commented on #12635
Thank you for reporting this @jfbrennan.

[2021-02-10 14:51] cmgorton commented on #12635
Confirmed this is an issue on mobile iOS. Team is looking in to a fix for this now. Thanks again for reporting this.

[2021-02-10 14:55] cmgorton commented on #12466
This issue is still occurring on some iOS phones. It also happens on the hamburger menu on Android phones when logged out. Confirmed on Android by me. Confirmed on iOS by @katiedavis

[2021-02-10 14:56] cmgorton commented on #12466
@mstruve should we put this back in the Engineering Planning Funnel?

[2021-02-10 15:21] mstruve commented on #12466
Is this the app or through the browser? We should make sure if we are re-adding this to the funnel that any new details are added. If this is through the app I would close this issue and make a new one since an app issue is separate from a browser mobile issue.

[2021-02-10 15:29] cmgorton commented on #12466
After talking with the team, I am going to create a separate issue for the Android hamburger menu I mentioned above.

@katiedavis can you confirm if you are using a browser or if you are using the separate DEV app?

[2021-02-10 15:40] cmgorton opened #12645 "Hamburger Menu doesn't close on selection when logged out"
Describe the bug

Similar to issue #12466

When you click the hamburger menu on mobile, a dropdown menu opens with navigation options. When you tap to make a selection, the new page loads but the menu doesn't close until the user taps outside the menu or the X at the top of the menu, which on mobile means a large portion of the screen is obscured. Unlike issue #12466 Tapping outside of the menu on

[2021-02-10 17:20] #10869 closed

[2021-02-10 17:37] cmgorton commented on #2288
Thanks for taking this up and investigating Dana. As this issue looks like it will be blocked for some time I am going to go a head and close it. If the Redcarpet maintainers address the issue in their gem we can open this back up!

[2021-02-10 17:37] #2288 closed

[2021-02-10 18:53] mstruve commented on #12374
Adding expirations to listings is definitely a feature that we will need to write out an RFC for and assess whether it is something we want from the product side. Because of that, I am going to remove it from the Planning Funnel and tag it with the RFC tag.

[2021-02-10 19:02] mstruve commented on #12513
@ludwiczakpawel do you think the solution here should be to show comment count if greater than 0 otherwise show ""Add comment"? Want to make sure the wanted solution for this bug is clear in the issue so anyone can tackle it

[2021-02-10 19:16] mstruve commented on #9118
@vaidehijoshi I feel like this might need product sign off before deciding to support another upload type. What are your thoughts?

[2021-02-10 22:34] benhalpern opened #12650 "Disallow content overflow on campaign banner"
**Describe the bug**

Currently campaign banners accept arbitrary HTML and CSS so it's possible for creators to make banners that are off in some way. Adding proper constraints is a bigger picture item, but one small thing I think we should prevent is accidental _horizontal overflow_

**To Reproduce**

- Go to a Forem implementing one of our templates.
- Narrow screen to mobile width.
- Observe th

[2021-02-11 00:00] vaidehijoshi commented on #12635
Hi @jfbrennan! Thanks so much for flagging this and bringing it to our attention.

We deployed a fix for this a few hours ago, so this issue should hopefully not be happening anymore. Please do let us know if it is and we'll hop right on it!

Thank you again for alerting us to this, we really appreciate it :)

[2021-02-11 00:01] #12635 closed

[2021-02-11 03:00] citizen428 commented on #12575
@AlbertoPdRF Yes, it most likely would be, alas we're not quite there with the update yet, see the tracking PR: https://github.com/forem/forem/pull/11333

[2021-02-11 04:35] citizen428 commented on #12444
tl;dr:

1. This only seems to happen to articles that belong to organizations but are accessed via the author's slug.
2. I'm not yet sure if the best possible fix is the one regarding `old_username` and `old_old_username` described in the original issue or if we want to update the logic in `StoriesController#show` instead.

More context below.
---

I had a bit of a hard time replicating this:

I h

[2021-02-11 04:45] vaidehijoshi commented on #9118
@mstruve supporting webp is a very developer-specific route; looking at our current set of priorities and product statement, I would say that this is something we might be able to support within the broader forem ecosystem down the road, but I don't think we have the bandwidth to implement and maintain this right now

[2021-02-11 06:15] ruheni opened #12653 "Markdown support for <details></details> tag"
**Describe the bug**

It seems Dev.to's frontmatter doesn't support the `<details></details>` that allows having an expandable/ toggle in markdown.

**To Reproduce**

My markdown looks something like this:
[code]

The expected output is something close to this (while editing my markdown on vs code):
![image](https://user-images.githubusercontent.com/33921841/107606962-d1e7b300-6c48-11eb-9f26-5c636

[2021-02-11 08:04] ludwiczakpawel commented on #12513
@mstruve

- if comments count > 0 then show `${n} comments`
- if comments count = 0 then show `Add comment`

(adding this to "expected behavior" section of my bug report)

[2021-02-11 11:15] rhymes commented on #9118
A quick non empirical investigation: upload from phone works, that's because smartphones don't store images in webp and, at least for the iPhone, even if they store images in HEIC, they're smart enough to convert them to JPG pre-upload. I can't upload HEIC to Forem (verified by sending a photo taken from the iPhone to the desktop computer via Airdrop to avoid conversion).

I'm quite confident Andr

[2021-02-11 12:08] aitchiss opened #12662 "Review current behaviour of logged out article comment entry"
**Describe the bug**

Currently, when a user is logged out, views an article and clicks on the comment box, we immediately pop up the "log in to continue" modal. This is problematic for accessibility since best practice would be to:

- On open: transfer focus to the first button in the modal,
- On close: transfer focus back to the element which activated the modal

We can't do this under the curre

[2021-02-11 12:26] aitchiss opened #12663 "Rework "Log in to continue" modal to make it consistent with other Crayons modals"
When a user is signed out and performs an action that requires sign in (e.g. react to an article, reply to a comment), we currently show a modal that looks like this:

![screen shot of the current modal](https://user-images.githubusercontent.com/20773163/107635989-e6857480-6c63-11eb-8143-76715c98f126.png)

In #12511 we refactored to use the Crayons modal component, but we had to add some hacky CSS

[2021-02-11 12:32] aitchiss opened #12664 "Add a `noPadding` prop to the Crayons Modal component"
For some specific modals in the app we need to be able to control the inner padding of the Crayons Modal component. For example, the listings modal contains a gray colour block across the full width:

![screenshot of listings modal with gray lower portion](https://user-images.githubusercontent.com/20773163/107636554-b7233780-6c64-11eb-84df-67bd8e698170.png)

We are currently having to override the

[2021-02-11 14:22] cmgorton commented on #9424
This no longer appears to be an issue. I have tested on Chrome, Firefox, and Safari. I am going to close this issue but let me know if you continue to experience it. Thanks!

[2021-02-11 14:22] #9424 closed

[2021-02-11 14:41] cmgorton commented on #12519
@Hanaffi would you still like to work on this? If so I can assign you.

[2021-02-11 15:07] cmgorton commented on #10114
Another report of this happening:
[Bug report in forem.dev](https://forem.dev/darkogj/new-post-bug-4cp7)

[2021-02-11 15:16] ludwiczakpawel commented on #10114
@forem/frontend I summon you 🤓

[2021-02-11 15:28] Hanaffi commented on #12519
@cmgorton Yes please.

[2021-02-11 15:54] cmgorton commented on #12519
Great, just assigned you @Hanaffi. Thank you for your help on this!

[2021-02-11 17:27] vaidehijoshi commented on #4995
Some homework for this issue: let's get some data around how many users are actually putting buttons in their markdown

[2021-02-11 17:40] #11194 closed

[2021-02-11 17:44] Zhao-Andy commented on #4995
To answer the data question: we have around 898 published articles that have used a button, which as of 2020 Feb 11 is about .38% of articles.

[2021-02-11 17:48] nickytonline commented on #11999
After digging into this, it appears to be an issue in Rails itself with `f.datetime_select`. If someone in the community is interested in looking into this, it could be a great first contribution to Rails. Please check their repository first though in case it has already been addressed.

[2021-02-11 17:55] nickytonline commented on #12250
We can potentially build off the work done in #12578, but we don't necessarily need to make a generic component used in both spots as it may not be the right abstraction.

[2021-02-11 17:56] nickytonline commented on #1153
Whoever takes this on, create small PRs. We can do one page at a time.

[2021-02-11 18:29] atsmith813 commented on #12314
I'm not able to reproduce this 🤔 . Does anyone have more context?

We have code in place to handle this case. Maybe a user happened to have their notifications page already open, the post was unpublished, and the user never refreshed the notifications page?

**When an article is unpublished**, we delete the notifications associated with the article:
https://github.com/forem/forem/blob/e18a6b68a733

[2021-02-11 18:51] Miguel-Enrique13 commented on #857
@cmgorton - Could you assign this issue to me and @Oghenebrume50

[2021-02-11 18:56] cmgorton commented on #857
@Miguel-Enrique13 I assigned you to this issue. For some reason it will not allow me to assign @Oghenebrume50. I will try again in a bit but for now I know you both will be working on this. Thanks.

[2021-02-11 19:22] vaidehijoshi commented on #3580
@cmgorton As we discussed in our recent planning meeting, this one product issue is a good one for someone in the community and/or our MLH fellow; leaving a note of it here!

[2021-02-11 19:30] cmgorton commented on #3580
I added it to their project board. Thanks.

[2021-02-11 21:59] danieltott commented on #12452
Got a PR in for this one! https://github.com/forem/forem/pull/12667

[2021-02-11 22:33] Miguel-Enrique13 commented on #12046
@cmgorton - Could you assign this issue to me

[2021-02-11 22:40] mstruve opened #12671 "Update self-hosting Documentation"
## Motivation

As we prepare to engage with folks on our waiting list, we should have a great resource available for people who intend to self-host Forem.  Currently, we have https://docs.forem.com/self-hosting/ but it hasn't been updated with the latest and greatest information. We should update that information with the most recent route for self hosting.

In addition to updating the docs we sho

[2021-02-12 01:53] ankitbeniwal commented on #12314
I have even logged out and in multiple times but the notification is still visible to me. @atsmith813 I am attaching a screenshot for reference.

![Screenshot_20210212-071654.jpg](https://user-images.githubusercontent.com/12103073/107721407-914c7000-6d02-11eb-9701-fc7ae1c76b64.jpg)

[2021-02-12 09:18] jfbrennan commented on #12635
working again 👍

[2021-02-12 10:20] ludwiczakpawel commented on #12402
Even though that check with `1023` value was suspicious and should likely be replaced by something like this
[code]
...it does look like it's not the main issue here. I still believe it's something related to this PR but I'm having troubles tracking what that is.

cc @forem/frontend

[2021-02-12 11:38] ludwiczakpawel commented on #12402
...additionally, I think this if statement will cause issues on certain devices when rotating from portrait to landscape mode – in portrait we do not show (and load) sidebar but when I rotate device to landscape mode the sidebar will still be gone because it hasn't been loaded in the first place.

cc @joshpuetz as it's also probably related to [your work](https://github.com/forem/forem-ios/pull/40

[2021-02-12 11:49] TheMysteriousVincent opened #12678 "Add OpenID Connect Authentication"
Hi there!

First of all, thanks for the great software. I like it.

Now, I saw that forem supports some OAuth2 flows such as those for GitHub, Facebook, e.g.. Wouldn't it be a good idea to also add a custom OpenID Connect provider (OIDC), to also support custom identity providers other than GitHub or Facebook?

So, feature request for OIDC as an authentication flow.

Sincerely,
Vincent

[2021-02-12 11:59] ludwiczakpawel commented on #12645
Seems like it has something in common with how we handle `data-instant` vs `data-no-instant` attributes - and we do that differently when logged in vs logged out.

[2021-02-12 15:20] aitchiss opened #12679 "article 'Saved' state persists on Feed after sign out"
**Describe the bug**

On the main Feed we show a 'Save'/'Unsave' button on each article. When a user has saved an article is shows as 'Saved' until they hover and the button changes to read 'Unsave'.

If a user has saved some articles, and then signs out, we still show "Saved" on their saved articles. I imagine this bug has very low impact.

**To Reproduce**

1. Login as any user
2. Save a number

[2021-02-12 15:43] atsmith813 commented on #12314
Ah, I see. Thanks for the info @ankitbeniwal!

This is in the mobile app (looks like Android?). @fdoxyz do you know what the logic is in the mobile app for this screen?

[2021-02-12 16:12] atsmith813 commented on #12653
Hey, @ruheni! We actually implemented details as a liquid tag

![Screen Shot 2021-02-12 at 11 10 45 AM](https://user-images.githubusercontent.com/15987080/107792348-0760cf00-6d23-11eb-968f-2c89ade932dc.png)

You can use that in the meantime to achieve your desired result. We can leave this issue open to explore supporting the more raw `<details>` tag.

[2021-02-12 16:26] aitchiss opened #12680 "Accessible name of sidebar links includes "Listings" + link name"
**Describe the bug**

In the sidebar, the SVG icons next to e.g. Videos, Podcasts all are surrounded with a `span` with title "Listings". The effect is that to assistive technology users, the links are announced "Listings Podcasts", "Listings Videos" etc.

**To Reproduce**

You can see this readily in the Firefox accessibility inspector:

<img width="1094" alt="firefox accessibility inspector show

[2021-02-12 17:27] #12650 closed

[2021-02-12 17:35] fdoxyz commented on #12314
This screen on the mobile apps works the same way it would on a browser: It would just render the `/notifications` page.

I tested this with two accounts that follow each other, publishing and un-publishing does work as expected (removes the lingering notification correctly).

I looked it up on my own notifications and I also have that broken link: https://share.getcloudapp.com/7KuppBX4

Some idea

[2021-02-12 17:43] atsmith813 commented on #12314
Great call @fdoxyz, thanks for the insight! It does seem everything is working as expected and this is an edge case. Let's see what @benhalpern knows about this post in particular.

[2021-02-12 19:06] Hanaffi commented on #12519
@cmgorton Can you tell me where can I find the styles of that div??

[2021-02-12 22:28] nickytonline commented on #12519
@Hanaffi, all the styling for a Twitter liquid tag should be in https://github.com/forem/forem/blob/564f34483d5e08829eb97816ba78251635201d54/app/assets/stylesheets/ltags/TweetTag.scss

[2021-02-13 06:41] takmar commented on #12130
Can I work on this?

[2021-02-13 09:53] miku86 commented on #5433
Hey @cmgorton,

thanks for reaching out still after such a long time.
I gave this a quick test and it seems to work properly now :+1:

I will close the issue.

Thanks for your work
Michael

[2021-02-13 09:53] #5433 closed

[2021-02-13 21:33] Afif13 opened #12683 "Bug in the dates of posts"
Here is a screenshot to illustrate: <a href="https://ibb.co/rykvNs6"><img src="https://i.ibb.co/ZTdN7m8/bug.png" alt="bug" border="0"></a>

I think it's self-explanatory. Either both dates should show 12 Feb or 13 Feb or the edited date should always be bigger than the published date.

[2021-02-14 02:13] darkogj commented on #10114
Confirmed this is happening on Chrome as well. Try to click away from the title box, and then click on it again.

[2021-02-14 13:57] AthulMuralidhar opened #12684 "XML page showing in the subscribe button - codenewbie"
**Describe the bug**

The subscribe button [here](https://www.codenewbie.org/podcast/what-are-the-skills-you-need-to-go-from-developer-to-entrepreneur) is not working. It is showing some wierd xml page now

**To Reproduce**

1. Go to [this link](https://www.codenewbie.org/podcast/what-are-the-skills-you-need-to-go-from-developer-to-entrepreneur)
2. Click on the `subscribe` button
3. You just see t

[2021-02-15 14:37] rodolfobandeira commented on #11777
If you're having issues, just remove all `"export "` from the `.env` file and it should work.

[code]

to:

[code]

[2021-02-15 14:55] cmgorton commented on #1240
Hello! Thanks for your contributions here. We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](https://forem.dev/).

You can

[2021-02-15 14:55] #1240 closed

[2021-02-15 14:57] cmgorton commented on #1391
Hello! Thanks for your contributions here.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](https://forem.dev/).

You ca

[2021-02-15 14:57] #1391 closed

[2021-02-15 15:01] cmgorton commented on #1346
Looks like this feature request was addressed in PR #11454. Going to go a head and close this issue!

[2021-02-15 15:01] #1346 closed

[2021-02-15 15:01] #1511 closed

[2021-02-15 15:03] cmgorton commented on #1512
Since this has been stale for awhile now I am going to go a head and close this issue.
 We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed

[2021-02-15 15:03] #1512 closed

[2021-02-15 15:04] #3062 closed

[2021-02-15 15:49] benhalpern commented on #12314
@atsmith813 @fdoxyz This post was not removed in an unconventional way... I believe this is, in fact, a logical error in how we handle a certain type of case. This was me accidentally publishing a post I decided to go in a different direction with, so 100% normal case. I don't know why our pipeline for removing notifications isn't always working, but there was nothing special about this one.

[2021-02-15 16:04] Zhao-Andy commented on #12684
Hi @AthulMuralidhar! Thanks for the report. I think this is intended because generally you can add that XML link to any podcast app, or to an RSS feed that you have.

There should be HTTPS, but thankfully it's not a big concern since there is no private data on `feeds.codenewbie.org`.

[2021-02-15 16:05] AthulMuralidhar commented on #12684
So close the issue ? @Zhao-Andy

[2021-02-15 16:09] #12039 closed

[2021-02-15 16:18] #12684 closed

[2021-02-15 16:44] joshpuetz commented on #12402
@ludwiczakpawel I don't think this is related to https://github.com/forem/forem-ios/pull/40: the iOS app simply displays a web view, but isn't doing anything to the contents.

I'm able to replicate this 100% on device and in the simulator in Safari (I'm not talking about the Forem iOS/iPadOS app here at all). Here's before login on a 12.9 and 11 inch iPad in horizontal mode:

<img width="1280" alt

[2021-02-15 16:53] cmgorton commented on #12130
Hey @takmar Thank you for the offer. Let me double check with product to see if this is a feature we can add and then I will assign it to you if they approve!

[2021-02-15 17:33] cmgorton commented on #11522
Going to add the potential RFC label to this. @pkfrank Julianna is willing to champion this is we think it should move in to the RFC phase.

[2021-02-15 18:25] nickytonline commented on #2204
A @jonathanyeong, you mentioned you'd like to work on this. Shall I assign it to you?

[2021-02-15 18:26] jonathanyeong commented on #2204
Yes please! Thank you!

[2021-02-15 20:29] atsmith813 commented on #12314
Would it make sense to go ahead and move the logic into a callback? So that any time an Article is unpublished (via the console, the GUI, etc) we delete the notifications?

I also wonder if part of the issue is there are a handful of articles where `published` is `nil`. I thought that might be part of the problem since we look at `true` and `false`:

[code]

 But when I tried this locally, I'm not

[2021-02-16 01:20] EwertonJordao opened #12698 "[potential RFC] [Api Dev.to] Yaml spec"
**Describe the Feature**

Hello everyone! how are you ?

Can you implement specification of API Forem in .yaml file for donwload?
I'm try to valid an idea and I can't use .json spec.

Best Regards,

**To Reproduce**

**Expected behavior**

Yaml or Json option

**Screenshots**

![image](https://user-images.githubusercontent.com/12378570/108007066-cd6e2200-6fdb-11eb-81e3-baafc76ef9af.png)

[2021-02-16 03:08] citizen428 commented on #12314
I'd probably prefer a service like `Articles::Unpublish`, which is more consistent with how we do things like suspending users. `Articles::Destroyer` may be able to serve as inspiration here.

[2021-02-16 09:24] sandordargo opened #12701 "Request header field api-key is not allowed by Access-Control-Allow-Headers in preflight response."
Hello,

**Describe the bug**

I cannot connect my Angular application to the DEV API, though it works perfectly fine from Flask app and from Postman.

**To Reproduce**

[code]

With this code, I get this error:

*Access to XMLHttpRequest at 'https://dev.to/api/articles/me?page=1' from origin 'http://localhost:4200' has been blocked by CORS policy: Request header field api-key is not allowed by Acc

[2021-02-16 09:37] rhymes commented on #12698
Hi @EwertonJordao, the YAML spec is here: https://github.com/forem/forem/blob/master/docs/api_v0.yml

You'll find the latest downloadable version at https://raw.githubusercontent.com/forem/forem/master/docs/api_v0.yml

Let me know if this covers your request.

[2021-02-16 11:59] ludwiczakpawel commented on #12402
I'm downloading xcode and will try to run simulators too.

[2021-02-16 12:06] ludwiczakpawel commented on #10114
@darkogj yea - that behavior did not reproduced the issue for me :) That's why it's very tricky bug to fix unfortunately (no one internally I talked to could repro it, but we clearly have seen several bug reports)...

[2021-02-16 13:03] remotesynth opened #12702 "DEV API returning wrong results when querying articles with tags"
I am trying to use the DEV API to query [published articles](https://docs.dev.to/api/#operation/getArticles). Here are some odd inconsistencies that are either not working as they should or not properly documented:

* Combining a query with `username` and `tag` parameters will ignore the username and send back articles for all.
* The `tags` attribute doesn't seem to have any effect at all as the a

[2021-02-16 13:42] fdoxyz commented on #12314
Something that might be helpful would be to create a Blazer query (or a couple) to understand how many Notifications are left linked to slugs (of articles) that don't exist anymore. We may end up finding some similarities in them that would reveal why has this happened in the past. We also might need to create a DataUpdate Script to clean them up once we understand the root cause.

I still have a

[2021-02-16 13:51] paulkaplan commented on #12466
I can confirm the profile dropdown does not close when clicking the settings menu item on iOS (14.4) in both safari and the app.

For what it's worth, the settings, dashboard, and reading list all keep the dropdown open. The "write a post" item doesn't, it closes the dropdown. Not sure if that's related to the autofocus on the input or how the navigation is being done.

[2021-02-16 14:23] Oghenebrume50 commented on #12030
Hi @cmgorton could you please assign me to this issue

[2021-02-16 14:27] #8373 closed

[2021-02-16 14:47] rhymes commented on #12702
Hi @remotesynth, thanks for the report!

This will currently favor the tag over the username param. So `https://dev.to/api/articles?username=remotesynth&tag=discuss` is essentially the same as `https://dev.to/api/articles?tag=discuss`

The [documentation](https://docs.dev.to/api/#operation/getArticles) mentions that `tag` can only be used together with `top` and that `username` can only be used wi

[2021-02-16 14:48] molebox commented on #9848
Hey folks, I was wondering if anyone had had anytime to look into this any further?

[2021-02-16 14:57] rhymes commented on #12314
This query might help:

[code]

it might timeout in production given the size of the `notifications` table, if so ask for support to run it manually.

[2021-02-16 15:12] sshine commented on #10114
@ludwiczakpawel I was able to reproduce it in #12453 by installing uBlock Origin on Chrome on Mac. I can still do this.

[2021-02-16 15:14] ludwiczakpawel commented on #10114
@sshine i tried that too but no success 🤷

[2021-02-16 15:36] #12698 closed

[2021-02-16 16:29] #12356 closed

[2021-02-16 17:38] lukeocodes opened #12708 "Importing RSS feeds has stopped, without changes to output/availability"
**Describe the bug**

(forwarded from Twitter DM as the request of the DEV Twitter peeps)

hey lovely DEV folks :) hoping you can help. I suspect an account somewhere is importing our main RSS feed, because all of a sudden all our RSS imports have stopped. Can you help?

We individually use our own feeds (i.e. https://learn.vonage.com/feeds/authors/lukeoliff/rss.xml)

But posts are also available

[2021-02-16 17:39] cmgorton commented on #12708
Thank you for opening this Luke. I am adding it to the list of RSS issues I mentioned in our communication.

[2021-02-16 17:40] lukeocodes commented on #12708
Thanks @cmgorton, if it resolves (like it was a server-side issue) I will update you here.

[2021-02-16 20:15] Miguel-Enrique13 commented on #12046
@cmgorton - Was there a decision as to how we should move forward with this issue? Should I make the code tag work or should I work on displaying a warning when a user uses the code tag?

[2021-02-16 20:27] cmgorton commented on #12046
@Miguel-Enrique13 let me ping our OSS rotation engineers to see if they have any additional feedback on this before you get started. Thanks for asking for clarification.

@rhymes @katiedavis Miguel is an MLH fellow working on some of our markdown bugs. Could either of you guide him a little on this issue before he creates a PR. Would the proposed additional context in the original issue be a good

[2021-02-16 22:33] atsmith813 commented on #12645
This is a strange one...I haven't found anything yet. However, I did notice that it actually _does_ work - it takes awhile. If you click a link in the expanded hamburger menu several times it eventually closes as expected 🤔.

That makes me wonder if it's a timing thing (something async?)? It doesn't seem to work on the first click even if you wait. It seems to always take several.

Or also what @l

[2021-02-17 00:55] benhalpern opened #12711 "Comment composer padding disappears on hover/focus"
**Describe the bug**

**To Reproduce**

1. Go to a DEV post
2. Hover over comment composer/focus on it

**Expected behavior**

Padding should remain constant

**Screenshots**

https://user-images.githubusercontent.com/3102842/108140484-25666080-7090-11eb-88a2-e6333567e202.mov

**Desktop (please complete the following information):**

- OS, version: Mac OS 11.1
- Browser, version: 88.0.4324.150

[2021-02-17 01:30] evil-liskov opened #12712 "API documentation incorrect for updating article with frontmatter in body_markdown"
**Describe the bug**

In the api docs on https://docs.dev.to/api/#operation/updateArticle there are three examples.  On the example payload titled "article-update-front-matter" recreating a request with this payload does not work.  It appears that we cannot make updates where the frontmatter is still inline with the body_markdown string.
**To Reproduce**
Try run a request to update a valid article

[2021-02-17 01:44] citizen428 opened #12713 "Revamp failure handling in workers"
For context: [PR discussion thread](https://github.com/forem/forem/pull/12686#discussion_r576083158)

We currently swallow errors in workers, e.g.:

[code]

We do this in order to avoid futile retries, but we also lose insight into errors because of this.

An alternative pattern could look like this:

[code]

This would ensure that we're notified about the error, while still avoiding the retry.

A

[2021-02-17 02:16] citizen428 commented on #9848
@molebox Unfortunately, not yet. We haven't quite wrapped up the big profile revamp yet and until this is done we probably won't get to it, sorry for that.

[2021-02-17 02:22] citizen428 commented on #12444
Confirmed that #12652 really fixed the issue, closing this issue now.

[2021-02-17 02:22] #12444 closed

[2021-02-17 02:24] #8425 closed

[2021-02-17 04:07] citizen428 commented on #12645
@atsmith813 Seems like you're looking into this already, should we assign you this issue so no one else starts working on it?

[2021-02-17 08:24] molebox commented on #9848
No worries, I appreciate you getting back to me. I'll drop by again in the spring maybe to check the status. 😊

[2021-02-17 09:18] ludwiczakpawel commented on #12645
I think that's still due to `data-instant` / `data-no-instant` but simply JS being _too slow_ to catch rapid clicks... What I think happens for you (the _rapid click_ situation) is: HTML (rendered site) is there because thanks to `InstantClick` we load other pages async. But also, it seems like with every click we reload the JS. If you click rapidly, the JS reload can't catch up with how fast you

[2021-02-17 09:26] ludwiczakpawel commented on #12645
After another thought... I still think it's related to InstantClick BUT we should not disable it with `data-no-instant` for logged out users - it's there for a reason so we should keep this functionality and the problem must be somewhere else.

[2021-02-17 10:40] #12452 closed

[2021-02-17 11:11] oguimbal commented on #12455
+1 ... except that it does not only happen when loggin in for me... it is almost systematic.

I configured the dark theme, and here is what I'm doing

1) Open dev.to  👉 light
2) CTRL + F5 (to refresh+empty cache) 👉 dark
3) F5 (refresh without emptying cache) 👉 light

Demo below (of the Navigate  ➡ CTRL+F5  ➡  F5  scenario... that's literally all I'm doing)

![dev theme2](https://user-images.github

[2021-02-17 11:18] oguimbal commented on #12455
After a bit of browsing, this issue seems to be a duplicate of several other closed issue, and fixed several days ago by @ludwiczakpawel  in #12423  ? Or am I mistaken ?

[2021-02-17 14:48] maestromac commented on #3675
@mansona Older aliases were updated.

[2021-02-17 15:41] rhymes commented on #12046
Hi @Miguel-Enrique13, thanks a lot for volunteering on this!

I checked the issue and the MDN documentation of the [<code>](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code) tag.

Though technically code is an inline element, I wonder if we've been treating it as it was a substitute for `<pre>`.

MDN explicitly states:

I wonder if the algorithm we should use is the following:

- if

[2021-02-17 16:25] michael-tharrington commented on #3675
So awesome to see this one completed. I'm going to go alias some tags later on today! 😀

[2021-02-17 17:33] #12711 closed

[2021-02-17 18:34] #12326 closed

[2021-02-17 18:47] vaidehijoshi opened #12722 "Create Account button overflows on Forems with wide logos"
**Describe the bug**

This is a relatively small issue, but it looks a bit weird 😕

On Chrome + Safari, going to the CodeNewbie Forem (when _not_ signed in) renders the `Create account` button. However, because this Forem's logo is quite wide, the button seems to be pushed over (overflows to the right of the device's viewport) to accommodate the logo, but sacrificing on the button real estate.

**

[2021-02-17 18:50] vaidehijoshi commented on #12722
Whoops, this issue is a duplicate of https://github.com/forem/forem/issues/12426. Closing this in favor of that 🤦🏽‍♀️

[2021-02-17 18:50] #12722 closed

[2021-02-17 21:22] mansona commented on #3675
omg thanks so much @maestromac 🎉 so happy that this is in place now. Thanks for all the hard work!

[2021-02-17 21:47] maestromac commented on #3675
Credit goes to @citizen428 !

[2021-02-17 22:41] #12645 closed

[2021-02-17 23:45] nickytonline commented on #2204
Just linking [what we worked on in the stream](https://youtu.be/WO201vtzWM4) here as well for reference.

[2021-02-18 01:37] kenbellows commented on #2204
@nickytonline @jonathanyeong @cmgorton Hey all! I really appreciate you taking time to I watched the stream (most of it anyway, skipped around a bit here and there so apologies if I missed anything relevant), and saw you were having trouble finding the original issue to reproduce it. I wanted to point out that this ticket focuses specifically on rendering in the`/comments` page for an article, not

[2021-02-18 04:06] benhalpern opened #12725 "Remove "asset_reconciliation" hack"
**Describe the bug**

`app/views/layouts/_asset_reconciliation.html.erb` was added to the code in order to fix mismatches between the shell and body code. It is designed to _only_ "reconcile" CSS when there is a mismatch between the body and the head, but for some reason it seems to be trying to resolve a mismatch too often.

Part of the implementation of this was to fix an issue which has otherwi

[2021-02-18 04:17] jonathanyeong commented on #2204
@kenbellows Thanks so much for following up! For some reason I can't seem to repro it locally. I've attached a short video, do you mind giving it a watch and letting me know if I'm missing a step:

https://user-images.githubusercontent.com/3861088/108304544-1dc0bd80-715d-11eb-8e5d-34b41f7c464f.mp4

[2021-02-18 04:27] kenbellows commented on #2204
I'll be honest, it looks like you're doing everything you'd need to do.

Is it possible this could be issue with how the specific [article in question](https://dev.to/kenbellows/stop-using-so-many-divs-an-intro-to-semantic-html-3i9i) is stored in the db, possibly because it's an old behavior? Do you see the issue on my article, or is it just me? If you do, would you or @nickytonline have access to

[2021-02-18 04:49] jonathanyeong commented on #2204
I tried the same steps with the V1 editor and I couldn't repro the issue that way. But yeah I do see the issue in your article! It's not just you. I don't have access to the prod DB, maybe @nickytonline does. I'll keep doing some digging, it's odd that this only happens on the comments page. If you read your full post the div within backticks is showing properly.

[2021-02-18 13:45] rhymes commented on #12712
Hi @evil-liskov, thanks for this! I was able to make it work locally. Would you mind sending us the result of `GET /api/articles/{id}` ?

Thank you!

[2021-02-18 17:38] benhalpern opened #12736 "User with no profile"
**Describe the bug**

`NoMethodError: undefined method `decorate' for nil:NilClass`

This is the line: https://github.com/forem/forem/blob/master/app/controllers/stories_controller.rb#L238

**To Reproduce**

Visit https://dev.to/mohhamedion

**Expected behavior**

Should render a proper profile if exists.

**Additional context**

This does seem quite rare.

[2021-02-18 18:02] benhalpern commented on #10114
I'm now seeing this bug on all my browsers and all accounts.

[2021-02-18 18:08] benhalpern commented on #10114
https://user-images.githubusercontent.com/3102842/108401425-53f84e80-71ea-11eb-9b5b-832c75e37d15.mov

[2021-02-18 18:39] ludwiczakpawel commented on #10114
@benhalpern hah! that's the thing! i can now repro that!

![FINALLY](https://media.giphy.com/media/AuwBPJztsEWkw/giphy.gif)

[2021-02-18 18:58] darkogj commented on #10114
This is weird that it didn't reproduce, I've tried it on browsers not
related to each other. It prob has to do with the screen resolution? What
OS are you using? What resolution?

On Tue, Feb 16, 2021 at 1:06 PM ludwiczakpawel <notifications@github.com>
wrote:

[2021-02-18 19:08] remotesynth opened #12737 "Document rate limits"
I am trying to use the DEV API to pull content for a blog. It's pulling all my personal posts, though using the unauthenticated URL with the `?username` attribute. However, when running the build process (Next.js) that pulls these posts, after a certain point the API begins to return a "Too Many Requests" error. I understand that I am making a lot of calls very quickly, but it become difficult to

[2021-02-18 21:32] Miguel-Enrique13 commented on #857
So I've looked into this issue and it seems that this issue must be fixed within the Redcarpet gem. Anytime an attribute selector ($, ^ ,* , etc) is present the `<span class="err">` is rendered.
[Here](https://github.com/forem/forem/blob/66e4747d3fb01bf354123763bed9dd80fb390bf8/app/services/markdown_processor/parser.rb#L24) is where the content is rendered to HTML and the `<span class="err">` firs

[2021-02-18 21:50] #12725 closed

[2021-02-18 22:24] benhalpern commented on #10114
I have a 15.4-inch (2880 × 1800) Macbook Pro, Mac OS 11.1 @darkogj

My question here is whether we are sure this is accounts for _all_ the occurrences of this issue? @richardeschloss can you confirm?

[2021-02-19 03:44] richardeschloss commented on #10114
I just repro'd it and...found the Windows setting that is similar to the Mac one that fixes it!  On Windows 10, it's "Show animations in Windows". I can't believe it! I usually have that turned off for performance reasons. So, when it's unchecked, the problem of clipped textbox always appears. (Well I'll be damned!). When it's checked, the problem never occurs.

Windows 10 setting:
![title_clip_re

[2021-02-19 03:59] citizen428 opened #12740 "Fix invalid users"
The data update script in #12728 only updated 3 out of 45 users. This was due to the remaining 42 users being invalid for other reasons (duplicate or too long emails). I have a list of these, but given the nature of the problems, the fixes are probably quite manual.

[2021-02-19 04:10] #12740 closed

[2021-02-19 10:13] rhymes commented on #12737
Hi @remotesynth, which API URLs are you consuming?

The documentation on rate limits is indeed lacking, I just checked and it's only specified on two endpoints (Article create and article update). That said, we do have a global limit of 3rps for reads and 1rps for writes on any API endpoint.

[2021-02-19 10:49] rhymes commented on #10114
OMG we finally found a way to reproduce this, I'm so happy!

[2021-02-19 13:34] remotesynth commented on #12737
Thanks @rhymes. I was trying to use the published article by path endpoint. I don't see it documented on the endpoint. I think a brief section right at the beginning before the authentication section just noting the information you share here would be awesome.

Just to give you a sense of what I am doing, I am trying to create a blog that uses my posts from DEV as a source. During the build proces

[2021-02-19 13:51] rhymes commented on #12737
Thank you for the details!

[2021-02-19 14:30] #10114 closed

[2021-02-19 15:50] richardeschloss commented on #10114
This sounds like it'd make for an interesting article. This elusive bug literally required thinking outside the box...to go outside the browser to troubleshoot it. I am impressed and I never would have guessed it be an OS config setting.

[2021-02-19 16:38] Franqsanz opened #12749 "Accessibility error in the "welcome" tag"
Hello DEV team, I found an accessibility error in one of the tags, the "welcome" tag. I leave screenshots below:

![Captura de pantalla (1)](https://user-images.githubusercontent.com/44296203/108533144-6ab8a700-72b7-11eb-9dd1-fe6f71816025.png)
![Captura de pantalla 2021-02-19 132718](https://user-images.githubusercontent.com/44296203/108533162-70ae8800-72b7-11eb-8c7e-f35cad70bb98.png)

[2021-02-19 16:56] Zhao-Andy opened #12751 "Low quality / non-constructive comments are not grayed out"
**Describe the bug**

Previously, low quality / non-construcitve comments were faded / had grayed out text to signify that they're less visible. I think this was removed by accident, so we can add it back in. This might also be an opportunity to update the design a bit to make it more clear.

**To Reproduce**
1. Write a comment
2. Refresh the page
3. If you are a `trusted` user, you should be able

[2021-02-19 16:56] rhymes commented on #12396
Hi @danielkellyio, sorry for the delay, the reason why you're not able to import it, it's because your feed as `<link>` tags. When I import it manually I get the following error:

[code]

If you look at the XML content you'll see:

[code]

In this snippet you have both `<link>` and `<guid>` pointing to "localhost:3000" which is an invalid URL on the open web.

In this case for example I think the

[2021-02-19 17:05] danielkellyio commented on #12396
aha! I didn't catch that. I'll change it out and test it shortly. Thanks!

[2021-02-19 17:06] rhymes commented on #3996
@krishnadalal12 sorry for the delay, I was able to successfully import https://feeds.feedburner.com/OktaDeveloperBlog - please check once more

![Screenshot_2021-02-19 Dashboard - Ben Halpern Community 🌱](https://user-images.githubusercontent.com/146201/108536520-d5300e00-72dc-11eb-9bec-41d64e56639c.png)

I manually checked that there are exactly 8 items in the feed and they were all imported.

@a

[2021-02-19 17:06] #3996 closed

[2021-02-19 17:14] Miguel-Enrique13 commented on #12571
@cmgorton - Could you assign me to this issue

[2021-02-19 18:01] cmgorton commented on #857
Thank you for investigating this @Miguel-Enrique13 ! I am going to add the blocked label to this for now so we know we need to look in to the Redcarpet gem before anyone can proceed with this.

[2021-02-19 18:05] cmgorton commented on #12749
Thanks for reporting this!

[2021-02-19 18:10] Franqsanz commented on #12749
You're welcome :)

[2021-02-19 20:58] lisasy commented on #12751
@lisasy tagging myself to look at this later.

[2021-02-19 21:24] joshpuetz opened #12752 "Elasticsearch broke in versions > 7.5.2"
**Describe the bug**

Filtering the reading list by tag silently breaks with latest version of ElasticSearch. It's unclear, but other searches in Forem may not work with the latest ElasticSearch version as well. In production on Forem.com and Forem Cloud we're running ElasticSearch 7.5.2.

@nickytonline narrowed it down to the following

Existing query for reading list filter. Works in 7.5.2, does

[2021-02-19 22:13] jfbrennan opened #12754 "Can't upload images to my posts"
**Describe the bug**

When writing a post I try to upload an image it fails and says "The operation couldn’t be completed. Protocol error". This happens for regular image uploads and the cover image and seems to only be a Safari thing.

**To Reproduce**

Create or edit a post, try to upload an image or cover image. It will quickly fail.

**Expected behavior**

I can upload an image.

**Desktop (pl

[2021-02-19 22:47] #12466 closed

[2021-02-20 11:40] supercodingninja commented on #2799
code {
    -webkit-user-select: all;
    user-select: all;
};

code:focus {
    animation: select 100ms step-end forwards;
};

@Keyframes select {
    to {
    -webkit-user-select: text;
    user-select: text;
    }
};

[2021-02-20 11:42] supercodingninja commented on #2799
Awesome idea, @Ritwik880; however, I believe your code should be written like this:

`code {
    -webkit-user-select: all;
    user-select: all;
};

code:focus {
    animation: select 100ms step-end forwards;
};

@Keyframes select {
    to {
    -webkit-user-select: text;
    user-select: text;
    }
};`

I hope this helps.

[2021-02-20 11:48] supercodingninja commented on #2204
I would love to tackle this issue; but how do I obtain the source code?

[2021-02-20 12:28] nickytonline commented on #2204
@supercodingninja thanks for the interest in this issue!

@jonathanyeong is assigned to this issue and already working on it.

Feel free to check out our other open issues.

[2021-02-20 12:44] supercodingninja commented on #2204
Will do! Thank you.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Nick Taylor <notifications@github.com>
Sent: Saturday, February 20, 2021 4:29:05 AM
To: forem/forem <forem@noreply.github.com>
Cc: Frederick Thomas <supercodingninja@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [forem/forem] Certain characters, like angle brackets, show up inco

[2021-02-20 15:31] rhymes commented on #12754
Hi @jfbrennan, thanks for the heads up! I tried but I'm able to upload images to DEV, could you provide us with the image you're trying to upload?

[2021-02-21 19:29] evil-liskov commented on #12712
[code]

[2021-02-22 00:56] nickytonline opened #12758 "Banners on site are not accessible"
**Describe the bug**

I cam across this while working on #11983. The banner to finish setting up your environment is not accessible. The banner should have a `role` attribute with the value of "alert". See [Using the alert role](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_alert_role). In fact all the banners on the site should have it.

The attached sc

[2021-02-22 03:05] nickytonline commented on #12758
One thing I'm wondering @aitchiss is if it makes more sense to use `aria-live="polite"` as not all banners are urgent. Thoughts?

[2021-02-22 04:42] glasnt commented on #6222
As a DEV organisation admin, I'd like an API that was just as easy to get the information about my organisations stats as it is my own.

So I'm trying out to see if I can copy the functionality from the `api > articles:me` controller into an organisation-wide scope.

I think the simplest answer is to add a new endpoint on `api > organizations` with a similar spec to `articles:me`, similar to what

[2021-02-22 05:38] citizen428 commented on #3649
@rhymes Now that I picked up this issue, I have some questions:

* Your post mentions requests per day: however, the current `rand` implementations have no notion of "X calls within timeframe", but instead perform each call with a certain probability (though the numbers may not quite work out as intended in certain cases). It doesn't really matter if an operation gets attempted 300 or 3000000 time

[2021-02-22 06:07] citizen428 commented on #12736
This should not happen, from `user.rb`:

[code]

That said we currently have 572,501 and 572,496 profiles. The users without profiles were created on December 5th (1), December 6th (2), December 11th (1) and January 7th (1). So it most likely wasn't something that was limited in time and fixed already, but it's exceedingly rare. We created over 50k users since December 5th and this affected 5 of t

[2021-02-22 06:10] citizen428 commented on #12736
@Zhao-Andy I saved a query in Blazer where you can see the 5 users without profiles, I think a reasonable first step would be to manually create profiles for them:

[code]

[2021-02-22 06:16] citizen428 commented on #6222
Hi @glasnt and thanks for volunteering! Please note that we have a new internal RFC process for feature requests. You can read more about it in this [forem.dev post](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4).

So before you spend too much time on this PR it may be good to at least get basic approval here, cc @vaidehijoshi

[2021-02-22 09:17] aitchiss commented on #12758
Yep I think `aria-live="polite"` in this scenario would be best, as it's not totally critical a user's alerted to it immediately. I think like you say there are a lot of banners/notices we use that could benefit from this 👍

[2021-02-22 12:45] r3cha opened #12767 "update Readme of Installation imgproxy"
hello, I found that the default URL for imgproxy is `hostname/images` in that case imgproxy Documentation asking to setup
`IMGPROXY_PATH_PREFIX: '/images'` envioement - without this env we get an Invalid signature error.

I found this issue while trying to setup my improxy in Azure k8s cluster - adding this env will fin an Invalid signature error

[2021-02-22 13:11] rhymes commented on #12712
Still wasn't able to reproduce @evil-liskov :( What error message do you receive? The JSON returned is structured like this:

[code]

is there an error message in addition to `HTTP 422 Unprocessable Entity` as a return code?

Thank you!

[2021-02-22 14:17] mstruve commented on #3649
I think the point of this issue is that we want to move away from probability-based throttling and move towards something more explicit such as time based throttling so that we can test it more easily and it can be more predictable.

The way I envisioned this working was when something is updated, say analytics, we set a key in Redis with a TTL. On each call to update the analytics, we first check

[2021-02-22 14:28] cmgorton commented on #12754
Same for me. I was able to upload images in both the v1 and v2 editors on Safari.

[2021-02-22 14:43] cmgorton commented on #12396
Going to close this issue. Let us know if that wasn't the fix you needed @danielkellyio and we can reopen this 😄

[2021-02-22 14:43] #12396 closed

[2021-02-22 14:51] rhymes commented on #3649
Thanks for the detailed analysis @citizen428. It really depends on how we want to restructure the code.

I was reading a few resources on "distributed rate limiting" to be able to answer your questions and:

That's the key point we need to explore I think. Are we using probability to lessen the load or because we actually need the algorithm to be based on probability? Can we separate the two cases

[2021-02-22 16:10] citizen428 commented on #3649
A time-based sentinel value, that makes sense and should be easy to build. I guess I was overthinking it this morning.

[2021-02-22 16:27] mstruve commented on #3649
Confirmed with Ben that all the `rand` calls were put in place to decrease load, nothing more complex is going on.

[2021-02-22 16:41] #12402 closed

[2021-02-22 18:11] #12513 closed

[2021-02-22 18:28] rhymes commented on #12087
Hi @zorfling I can see your articles imported, can you verify it's working? You should have them all in the Dashboard.

Hi @palebp, I wasn't able to find your DEV username to verify the same, can you tell us what's your DEV account?

[2021-02-22 19:13] benhalpern commented on #12631
This has been fixed.

[2021-02-22 19:13] #12631 closed

[2021-02-22 19:28] rdasselaar opened #12771 "Dialog styles not removed when going back from listing"
**Describe the bug**

When you are not authenticated and go to a listing, then go back to the previous page, the page is not scrollable anymore due to a `.dialog-open` class on the body.

**To Reproduce**

1. Go to dev.to
2. Click on a listing, see a dialog. Don't close!
3. Navigate back to the previous page (back-button in your browser, or any shortcut)

Please note; I only experience this when I

[2021-02-22 19:47] benhalpern opened #12772 "Image vertical align problem on many liquid tags"
**Describe the bug**

Image line heights or vertical align are messed up across liquid tags in general.

**To Reproduce**

Visit a post with liquid tags like github or tweets

**Expected behavior**

Images should be aligned with text in general. You'll know it when you see it.

**Screenshots**

<img width="576" alt="Screen Shot 2021-02-22 at 2 13 57 PM" src="https://user-images.githubusercontent.c

[2021-02-22 20:34] evil-liskov commented on #12712
[code]
After removing the `canonical_url` field from the example string, the PUT executes as expected.  Modifying this field succeeds also.  Apologies I did not realize it was as simple as that.  However perhaps the example could be changed so that it runs out of the box, so to speak ?

[2021-02-22 21:48] zorfling commented on #12087
Hi @rhymes - yes I've just tested again now (including changing it to medium and back which is what showed the issue in the first place) and it seems to be working.

Thanks!

[2021-02-22 21:49] #2207 closed

[2021-02-22 21:55] glasnt commented on #6222
Hi @citizen428; the rfc post doesn't make it entirely clear if I should be discussing design here, or in a new forem.dev post, nor what/if that forum.dev post should be tagged as.

My PR is currently in draft mostly because I wanted to get your CI to test my code (as it's hard to replicate locally). It can sit there, or get closed for now, whichever you think is cleaner.

[2021-02-23 01:58] citizen428 commented on #3649
I thought about this a bit more last night before going to sleep: the reason I hadn't considered a purely time-based sentinel was that it doesn't allow us to do this:

But it's ok, I guess we don't need that for a first step.

Thanks for double-checking with Ben, @mstruve. I was reasonably certain that this was the case but good to be sure. In a way, I like the probabilistic approach, as it theore

[2021-02-23 02:23] citizen428 commented on #6222
@glasnt Ah, sorry if things aren't quite clear: generally RFCs are an internal process, which most new feature requests, etc. have to go through. In this specific case, the addition seems sensible, so I think we can skip this, but we'd still want to get signoff from our product team before merging. Does this clear up the confusion a bit?

[2021-02-23 02:43] glasnt commented on #6222
It does a bit; does this mean I can continue with my PR, and the product team will review/feedback on that? I'm more wondering if I'm blocked on continuing coding.

[2021-02-23 08:56] aitchiss commented on #12771
Thanks for raising this issue - I've been able to replicate the same locally.
It looks like the changes in #12511 (Improve keyboard accessibility of modals) will fix this bug, so hopefully we'll have this corrected soon 👍

[2021-02-23 10:40] onlyutkarsh opened #12783 "YAML markdown not rendering correctly."
**Describe the bug**
I have a yaml code snippet in the post, but it is not rendering correctly. My yaml
![image](https://user-images.githubusercontent.com/2685029/108832259-31d44700-75c3-11eb-9b11-570120deed2f.png)

What I see:

![image](https://user-images.githubusercontent.com/2685029/108832300-457fad80-75c3-11eb-840f-929916971243.png)

**To Reproduce**

NA

**Expected behavior**

Correctly synt

[2021-02-23 12:38] palebp commented on #12087
My DEV username is: dev.to/rockandnull/

I think is working again for newer articles. It does not import older articles though. Is this expected?

[2021-02-23 13:17] fdoxyz opened #12786 "Mobile pull to refresh shows "Skip to Content" button in custom theme"
**Describe the bug**

When pulling down to refresh (mobile) in any custom theme (not the default theme) the "Skip to Content" button (accessibility) is visible instead of the expected label.

**To Reproduce**

1. Log in to a Forem instance in mobile
2. Activate a custom theme (i.e. Dark mode)
3. Pull down to refresh

**Expected behavior**

It should behave the same way it does in the default mode

[2021-02-23 13:26] aitchiss commented on #12786
Interestingly I've not been able to reproduce this on my android device (or in the iOS simulator) 👀

This has likely been a side effect of #12694 so could be considered a "current cycle" issue rather than waiting til next cycle - I would look at fixing it (since I caused it 😅) but seems like someone with an iOS device would need to take it on

[2021-02-23 13:50] fdoxyz commented on #12786
Interesting thank you for the context @aitchiss! Since it's a "current cycle" issue I just moved it to that board instead of waiting to process it through the funnel.

I just took a look at the PR but wasn't able to figure out why it only happens in custom themes and not the default theme. It could be a WebKit specific issue.

This is a video of how it looks in the dev tools in Chrome (macOS 11.2)

[2021-02-23 13:57] aitchiss commented on #12786
@fdoxyz very strange - I just tried to replicate in chrome dev tools and I don't see the skip link:

https://user-images.githubusercontent.com/20773163/108853549-c5ffd780-75de-11eb-8572-ea00d6a60d16.mp4

All I can think that's different in our set ups is I'm still on Catalina 🤔

[2021-02-23 14:30] cmgorton commented on #12783
Hey @onlyutkarsh can you paste the code here that you put in the editor. This is what I see when I put the code in a yaml code block.
![Screen Shot 2021-02-23 at 8 29 03 AM](https://user-images.githubusercontent.com/21039864/108858008-50c9dd80-75b1-11eb-862a-8f2c0c0d8b27.png)

[2021-02-23 14:33] fdoxyz commented on #12786
@aitchiss oh yeah it's probably the WebKit version that has some sort of difference. Out of curiosity what do you get from [this check](http://browserspy.dk/webkit.php)? I get the following:

<img width="903" alt="Screen Shot 2021-02-23 at 08 01 55" src="https://user-images.githubusercontent.com/6045239/108854421-781eab80-75ad-11eb-8f27-f788adeaea48.png">

From what I understand this is the logic

[2021-02-23 15:03] fdoxyz commented on #12786
Oh wow 😂

[2021-02-23 15:16] #12786 closed

[2021-02-23 15:38] fdoxyz opened #12794 "Sign in modal broken in mobile"
**Describe the bug**

The sign in modal that appears when user is taking an action as an authenticated user (i.e. typing a comment) doesn't render well in mobile screens.

**To Reproduce**

Use a mobile device and try to type a comment in an article so the modal is displayed

**Expected behavior**

The `X` to close should appear in the top right corner and possibly other design details should be t

[2021-02-23 15:50] aitchiss commented on #12794
This should get fixed in #12511 and also links in to #12663

[2021-02-23 16:00] fdoxyz commented on #12794
Awesome that definitely wasn't on my radar, thanks again @aitchiss!

I added a link in the PR description to this issue so it's automatically closed when that one is merged 😄

[2021-02-23 18:32] rhymes commented on #12712
@evil-liskov good idea, I submitted a PR to remove the `canonical_url` from the examples, see https://github.com/forem/forem/pull/12795

[2021-02-23 18:33] lisasy commented on #12751
Hi @Zhao-Andy, here is proposed design for how to improve this — included why this is a user problem that impacts our business. Does this look good? If so, let's do this!

Solution-wise:
1. We use the Crayons component for this `notice`
2. We update the comment body to `base-60`
3. We check to see it renders well across all of our themes.

![2021-01-23_Low-Quality-Comments_Issue](https://user-imag

[2021-02-23 19:21] rdasselaar commented on #12771
Nice, glad that it will be fixed soon :-)

[2021-02-23 20:12] cmgorton commented on #9118
Given Vaidehi and Rhymes's response I am going to go a head and close this issue for now and we can revisit this kind of feature request in the future.

[2021-02-23 20:12] #9118 closed

[2021-02-23 20:17] vaidehijoshi commented on #6222
Hi @glasnt! Thanks for bearing with us here, I'm just catching up on this now :)

I think this is a fair addition 👍🏽 From a product standpoint, adding useful statistics for Forem Admins is something we are hoping to do soon, but this request and your work on it also makes me think that we should revisit the general dashboard statistics (for articles, for organizations, etc.) holistically to see wh

[2021-02-23 20:35] Zhao-Andy commented on #12751
This looks great! I'm happy to implement it. cc @pkfrank @michael-tharrington if you two have any thoughts.

[2021-02-23 20:43] pkfrank commented on #12751
I don't want to bike-shed too much, but I do think the Red highlighting here might unintentionally draw _more attention_ to the post (which we don't want).

I think the `base-60` faded adjustment is great.  That grayed out text, along with the message above, might be enough IMO.

[2021-02-23 20:44] cmgorton commented on #12678
Hey @TheMysteriousVincent Thank you for opening this request.
Features tend to be subjective and might spur some debate. The Forem core team uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, please vi

[2021-02-23 20:44] #12678 closed

[2021-02-23 20:48] cmgorton commented on #12367
I am going to close this issue Michael. Like Vaidehi mentioned with can use the internal RFC process or create a new discussion on [forem.dev
](https://forem.dev/).

If we continue on with this request in a RFC we can open this back up!

[2021-02-23 20:48] #12367 closed

[2021-02-23 20:49] cmgorton commented on #12333
Hey @aitchiss do you think this is a good candidate for a potential RFC. I will add the label if you think it is :)

[2021-02-23 20:50] #12306 closed

[2021-02-23 20:50] michael-tharrington commented on #12751
Good point about the red text @pkfrank, I think the grayed out text + messaging would work great.

[2021-02-23 20:52] cmgorton commented on #12303
Hey @xpyxel  Thank you for opening this request.
Features tend to be subjective and might spur some debate. The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, please visit [fore

[2021-02-23 20:52] #12303 closed

[2021-02-23 20:55] cmgorton commented on #12156
Hey @xpyxel  Thank you for opening this request.
As I mentioned in another request, features tend to be subjective and might spur some debate. I think this is a cool idea and would love if you'd propose this new feature, on [forem.dev](https://forem.dev/) to start a discussion around it! 🙏

[2021-02-23 20:55] #12156 closed

[2021-02-23 21:06] cmgorton commented on #12088
Hey @truskr
Features tend to be subjective and might spur some debate as you can see in this issue 😄. The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like this one, please vis

[2021-02-23 21:06] #12088 closed

[2021-02-23 21:10] cmgorton commented on #12061
Hey @dtinth we currently have some people working on the Markdown bugs in our repo. This is a bigger feature and features tend to be subjective while spurring some debate 😄
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecos

[2021-02-23 21:10] #12061 closed

[2021-02-23 21:13] cmgorton commented on #12004
Hey!  Thank you for opening this request.
Features tend to be subjective and might spur some debate. The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like this, please visit [f

[2021-02-23 21:13] #12004 closed

[2021-02-23 21:15] #11968 closed

[2021-02-23 21:19] cmgorton commented on #11845
@michael-tharrington I am going to close this issue in favor of a post in forem.dev to discuss this feature. I can write the post if you would like!

[2021-02-23 21:19] #11845 closed

[2021-02-23 21:19] cmgorton commented on #11844
@michael-tharrington do you think this would make a good potential RFC?

[2021-02-23 21:27] cmgorton commented on #11601
Hey @jbulava sorry for the late reply. Thank you so much for the offer to help on this.
We recently updated the way we are taking feature requests.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to p

[2021-02-23 21:27] #11601 closed

[2021-02-23 21:28] cmgorton commented on #11596
Hey @rhymes do you think this would make a good potential RFC?

[2021-02-23 21:31] cmgorton commented on #11631
Hey Lee! As you have probably seen recently we have a new process for feature requests.
Features tend to be subjective and might spur some debate. The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to pr

[2021-02-23 21:31] #11631 closed

[2021-02-23 21:38] cmgorton commented on #11635
Hey @Kvaibhav01
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. This particular feature is currently being put through the RFC process and should be on the pipeline to work on here in the near future. As we current

[2021-02-23 21:38] #11635 closed

[2021-02-23 21:47] onlyutkarsh commented on #12783
Hello @cmgorton - This is a long blog post, so I created the gist [here](https://gist.githubusercontent.com/onlyutkarsh/555c22af60d1a6f920b925f4b561a85d/raw/ad6f4d31645624518084e1b4f2cdb069cfebdc9c/yaml-issue-blog.md)

[2021-02-23 22:05] cmgorton commented on #12783
Took me a little while to find it but you have a left over open backtick that is causing the yaml code not to be in code blocks. If you remove the backtick after permissions your code blocks work. It is in the  **Creating scope maps** section.
<img width="1632" alt="Screen Shot 2021-02-23 at 4 00 31 PM" src="https://user-images.githubusercontent.com/21039864/108914027-68748680-75f0-11eb-9579-35f60

[2021-02-23 22:20] onlyutkarsh commented on #12783
Oh that was it! Really sorry fire the trouble. Appreciate you taking a look. Thanks a ton! I'll close this issue now!

[2021-02-23 22:20] Zhao-Andy commented on #12751
Re: the `danger` / red notice. If not red, we can go for the [`warning` / yellow notice](https://storybook.dev.to/?path=/story/components-notices-html--warning), or maybe the [default notice](https://storybook.dev.to/?path=/story/components-notices-html--default)?

[2021-02-23 22:20] #12783 closed

[2021-02-23 22:22] cmgorton commented on #12783
No trouble! Glad we could figure it out 😄 I had a hunch because I've done this so many times on my own posts 😆

[2021-02-23 22:37] michael-tharrington commented on #11844
I could see this being a good potential RFC. I think when I put this here, I was thinking it could be a feature that potentially gets picked up and created by the community.

[2021-02-23 22:40] michael-tharrington commented on #12751
I think my vote would be the default notice paired with the faded adjustment to the message.

[2021-02-23 22:41] #11273 closed

[2021-02-23 22:45] lisasy commented on #12751
@Zhao-Andy Warning/yellow would be great :) Thanks for the feedback! @pkfrank

![2021-01-23_Low-Quality-Comments_Issue](https://user-images.githubusercontent.com/816402/108918129-b9cb4880-75e5-11eb-84aa-2688013496c6.jpg)

[2021-02-23 22:57] glasnt commented on #6222
I'm not going to be able to continue my PR, and have such closed it, because forem is AGPL. This issue is up for grabs, again.

[2021-02-23 22:57] jbulava commented on #11601
Thank you for following up on the GitHub Issue.  I have converted this to a feature request post on forem.dev.

https://forem.dev/jbulava/adding-more-embed-types-to-the-twitch-liquid-tag-4l5e

[2021-02-24 02:48] citizen428 commented on #6222
@glasnt If you don't mind sharing, which specific issues with AGPL prevent you from contributing and which license(s) would have been preferred? Is it related to this? https://opensource.google/docs/using/agpl-policy/

[2021-02-24 03:35] glasnt commented on #6222
Yes, it's related to that link.

[2021-02-24 04:04] citizen428 commented on #6222
Thanks for taking the time to get back to me @glasnt, much appreciated!

[2021-02-24 09:29] #12712 closed

[2021-02-24 09:34] aitchiss commented on #12333
@cmgorton Yes! That makes sense - I'll look to raise it as a stage 0 RFC soon - thanks for picking up on this! 🙂

[2021-02-24 09:37] rhymes commented on #6222
@glasnt thank you a lot for the feedback!

[2021-02-24 10:44] #11588 closed

[2021-02-24 12:16] rhymes commented on #11596
@cmgorton in theory yes but I realized that we should wait for Rails 6.2/7 for this to be fully integrated with Rails, though I think we should close this in the meantime. We can resurface this idea a few months from now when Rails 6.2/7 will be out.

Fore more information:

- [PostgreSQL: handle `timestamp with time zone` columns correctly in `schema.rb`](https://github.com/rails/rails/pull/41395

[2021-02-24 12:16] #11596 closed

[2021-02-24 14:42] cmgorton commented on #11833
Hey @xpyxel  Thank you for opening this request.
Features tend to be subjective and might spur some debate. The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, please visit [fore

[2021-02-24 14:42] #11833 closed

[2021-02-24 14:53] michael-tharrington commented on #12751
@lisasy I'm fine if we decided to us the yellow, but to @pkfrank's point doesn't this draw more attention to the comment that we're trying to make less noticeable?  I think yellow and red will draw attention whereas grey will not.

[2021-02-24 15:29] cmgorton commented on #11486
Looks like this was implemented per PR #12388. I am going to go ahead and close this issue!

[2021-02-24 15:29] #11486 closed

[2021-02-24 16:01] #12427 closed

[2021-02-24 16:01] #12771 closed

[2021-02-24 16:01] #12794 closed

[2021-02-24 16:10] jacobherrington commented on #12017
Haven't had enough time to focus on this and honestly forgot it as assigned to me. I'll come back to it once my assigned tasks are caught up (unless someone has knocked it out).

[2021-02-24 18:18] suther opened #12810 "No way to found bookmarks in mobile version"
Maybe I am only blind, but I didn't found where the bookmarks are, if open the page dev.to on Mobile-Service, installed as webapp.
I do searched for more then 10 minutes without results.

I can mark an article as 🦄, ❤️ or bookmark it, but there are no area to thee all my book arks.

Happens on Android device.

In my opinion it should be something like an bottom tapbar menu

[2021-02-24 18:27] rhymes commented on #9759
Adding a bit of context for whomever will pick this up in the future.

Currently we check the uniqueness of the `canonical_url` globally in the `articles` table, regardless of publication status. This means that if someone has a draft article with https://example.com/blog/hello as `canonical_url`, then no one else can publish an article with that URL as the `canonical_url`.

This, which was (I thi

[2021-02-24 19:42] vaidehijoshi commented on #11522
@juliannatetreault I'm going to go ahead and close this since it looks like your PR has addressed it 👍🏽

[2021-02-24 19:42] #11522 closed

[2021-02-24 19:48] cmgorton commented on #12754
Hey @jfbrennan since this doesn't currently seem reproducible I am going to close this issue. If it is still happening for you can you please provide us with the image you're trying to upload and we can reopen this issue. Thanks!

[2021-02-24 19:48] #12754 closed

[2021-02-24 20:05] cmgorton commented on #12810
Hey @suther You should be able to see the articles you bookmarked if you click the link called Reading List. You can navigate there from the main hamburger menu.
![Reading list on DEV](https://user-images.githubusercontent.com/21039864/109058980-4be85500-76a9-11eb-8540-3f985ee8bb2c.jpg)

[2021-02-24 20:17] cmgorton commented on #11477
@maestromac is this still something you are looking in to? Should we label this as a potential RFC?

[2021-02-24 20:21] #7456 closed

[2021-02-24 20:25] cmgorton commented on #7661
@setevoy2 we believe the original issue you posted here has been fixed more recently. I am going to close this issue. If you are still having problems with the other issues you mentioned can you create separate reports for them? Thanks!

[2021-02-24 20:25] #7661 closed

[2021-02-24 20:28] cmgorton commented on #7938
Hey @shawnwildermuth . One of our engineers tested out your RSS feed. This is what they said:
 I was able to import their feed on community.benhalpern.com and some of the posts contains the "{{ variable }}" string that the author is mentioning in their report.

You can check in this draft that was imported with the RSS feed (last code block) https://community.benhalpern.com/rhymes/vue-3-and-valida

[2021-02-24 20:30] cmgorton commented on #9055
Hey @colbyfayock is this still an issue for you? One of our engineers tested this out and said it seems that it's more related to the fact that RSS posts use v1 and for that we do not have a publish button. We have the published: false like you mentioned in this issue.

[2021-02-24 20:44] cmgorton commented on #11395
@juliannatetreault do you think we should label this as a potential RFC?

[2021-02-24 20:46] juliannatetreault commented on #11395
Yes, I think this could make a great RFC! Great suggestion, @cmgorton!

[2021-02-24 20:48] cmgorton commented on #11435
Hey @shadowtime2000 I talked with product a bit about this feature request.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. Since this one is very DEV specific I am going to go a head and close it here.
If you feel

[2021-02-24 20:48] #11435 closed

[2021-02-24 20:48] #11455 closed

[2021-02-24 21:14] colbyfayock commented on #9055
hey @cmgorton seems like it's still happening but it's what's expected, it just would be a little more straightforward from a UX perspective for those not expecting it in there (like me before I figured it out :) )

[2021-02-24 21:33] shawnwildermuth commented on #7938
It's not picking up the old stories, but i'll re-test when I publish a new Vue article.

[2021-02-24 21:33] #7938 closed

[2021-02-24 21:39] siemah opened #12813 "I can't scroll down"
**Describe the bug**
When i visited [this link](https://dev.to/listings/collabs/fail2ban-enable-it-prevent-ssh-brute-force-attacks-255j) and then i clicked on the link: `https://dev.to/mrturkmen/fail2ban-block-ssh-bruteforce-attacks-40np` to read the whole article and when i tried to reach the section below the fold by scrolling down i found that i can't do that because the body tag still has the

[2021-02-24 22:10] benhalpern opened #12814 "Clicking to tag page and then away causes runtime error which breaks InstantClick"
**Describe the bug**

This is a minor hiccup, but when you click to a tag page and then away from it, you get a glitchy navigation and this runtime error in prod:

`TypeError: Cannot read property 'classList' of null
    at slideSidebar`

**To Reproduce**

1. Go to dev.to
2. Click on a tag
3. Click on the DEV logo to go to home page
4. Observe that the full page reloads instead of more subtle page

[2021-02-24 23:25] benhalpern opened #12818 "Remove disambiguatingDescription from user profile (generalization bug)"
**Describe the bug**

The property of `disambiguatingDescription` is described as this in schema.org:

And we implement that like this:

[code]

Of course these fields are not generalized and cause bugs we may run into if people start using profile generalization fully.

I _believe_ that `disambiguatingDescription` is a _nice to have_ and not likely contributing to SEO in any massive way. In my op

[2021-02-25 00:15] vaidehijoshi commented on #12713
Hm, I feel like this is a straightforward optimization that will give us much more insight into our errors than what we already have. I would be fine keeping this as an issue rather than writing up a RFC for it (cc @mstruve)

[2021-02-25 00:18] mstruve commented on #12713
I am good letting this remain an issue bc the only detail here that needs to be figured out is where to send the alert of the failed job. From an SRE perspective, this data is not immediately actionable so Honeybadger would not be the place to send it since that is where we want actionable failures to go. That leaves Datadog(via logging) and Honeycomb and I would honestly be fine with either or bo

[2021-02-25 00:42] mstruve commented on #12575
I think modeling org deletion off of user deletion and creating a service for it like @citizen428 mentions is the way to go for this. It also means removing more callbacks 💃

[2021-02-25 00:56] mstruve commented on #12158
Given we are moving forward with Postgres this is no longer needed 💃

[2021-02-25 00:56] #12158 closed

[2021-02-25 07:18] citizen428 commented on #12713
@mstruve I'm tempted to say both: a DataDog counter for seeing trends and Honeycomb for keeping a log of the error. It's probably best to wrap this up in some service, so we can standardize on how we monitor non-actionable errors, e.g.

[code]

[2021-02-25 09:09] rhymes commented on #12708
Hi @lukeocodes, sorry for the delay, I did some investigation and it looks like the [DEV user sudipto](https://dev.to/sudipto) has assigned https://learn.vonage.com/feeds/blog/rss.xml to themselves without having published any of the posts.

Given a known issue we have with `canonical_url`s and unpublished posts the result is blocking your ability to publish.

Before passing it on to support to co

[2021-02-25 09:17] rhymes commented on #9055
@colbyfayock to be clear, are you still experience the "disappearance" of the buttons lik in the GIF? Because that shouldn't happen.

The "basic editor" should look like this:

![Screenshot_2021-02-25 New Post - DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/109130919-8f4ace00-7752-11eb-8858-e32df39b44e7.png)

The "rich editor" should look like this:

![Screenshot_2021-02-2

[2021-02-25 09:22] lukeocodes commented on #12708
He isn't internal to our organization but I believe he is one of our ambassador programme members. I can reach out to him before having to escalate to support. Thanks so much for the help team!

[2021-02-25 09:30] rhymes commented on #12708
@lukeocodes thank you! they'd basically need to remove the feed from their settings and delete the unpublished posts (or remove the canonical URL from each of them). Let us know if you still need help

[2021-02-25 09:58] lukeocodes commented on #12708
All resolved! Thanks, @rhymes and @cmgorton :)

[2021-02-25 09:58] #12708 closed

[2021-02-25 12:41] colbyfayock commented on #9055
ah no, that issue appears to be fixed now. thanks

[2021-02-25 13:36] maestromac commented on #12087
@palebp that's because the older feed was previously imported by a different user. Looks like one of the authors of some of those feed. Please reach out to yo@dev.to and we'll help you resolve this.

[2021-02-25 13:54] cmgorton commented on #12813
I am not having this issue. I can stroll down and see the full article. I tried on Chrome, Firefox, and Safari. I am also on macOS. Can you try another browser or try once more to see if this is still an issue? Thanks!

[2021-02-25 13:56] cmgorton commented on #12810
Let me know if that is not what you were looking for Samuel. I can reopen this issue if that didn't help. Thanks.

[2021-02-25 13:56] #12810 closed

[2021-02-25 14:24] cmgorton commented on #12087
Thanks for letting us know @palebp . And thanks for the help her Rhymes and Mac. I am going to go a head and close this issue. Please reach out to yo@dev.to like Mac mentioned and we can help resolve the rest of the issue!

[2021-02-25 14:24] #12087 closed

[2021-02-25 14:25] #9055 closed

[2021-02-25 15:49] aitchiss commented on #12813
I think this bug may have been resolved yesterday by #12511 🙂

[2021-02-25 15:53] cmgorton commented on #12813
Thanks @aitchiss !

[2021-02-25 15:53] #12813 closed

[2021-02-25 17:33] cmgorton commented on #12024
Related #393

[2021-02-25 17:34] cmgorton commented on #12024
Related to https://github.com/forem/internalEngineering/issues/393

@xpyxel thank you for bringing this up. we have an internal issue with the same information that is currently going to be worked on this cycle. I am going to close this issue in favor of that one.

[2021-02-25 17:34] #12024 closed

[2021-02-25 18:00] Miguel-Enrique13 commented on #3580
@cmgorton - Could you assign me to this issue

[2021-02-25 18:15] atsmith813 commented on #12314
I'm not sure this is an issue 🤔 . It may have been a one-off bug where the worker to delete notifications failed.

Currently, there aren't any notifications linked to articles that no longer exist. And we have verified the logic works.

Does anyone have any ideas on how to proceed from here? Should we close this and keep an eye on it?

[2021-02-25 18:46] #12562 closed

[2021-02-25 20:34] cmgorton commented on #10803
@nickytonline @ludwiczakpawel @benhalpern, added the potential RFC label to thins. Let me know if this is something we should pursue as a team.

[2021-02-25 21:07] nickytonline commented on #10803
I definitely see this as a potential RFC.

[2021-02-26 01:49] citizen428 commented on #12314
@atsmith813 I'd keep an eye on it for a couple more days first, then close the issue. Sounds good?

[2021-02-26 03:15] citizen428 commented on #12159
This is essentially blocked until https://github.com/forem/forem/issues/12157 is finished.

[2021-02-26 07:55] xstable commented on #12810
Ah, yes, like I said... I'm blind ^^
Maybe it would be a good Idea to use the same Icon in front of the menu which is used to place the bookmark. This way users see, that "Reading List" means the "bookmarks" section here.

[2021-02-26 14:44] cmgorton commented on #1772
Thank you for opening this request.
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, ple

[2021-02-26 14:44] #1772 closed

[2021-02-26 15:08] cmgorton commented on #1806
Hey all.  Thank you for opening this request and starting a conversation.
Since this has been open for awhile without much progress I am going to close it here.

Features tend to be subjective and might spur some debate. The Forem core team
now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardi

[2021-02-26 15:08] #1806 closed

[2021-02-26 15:22] cmgorton commented on #857
Since this is currently blocked I am going to close this issue. We can reopen it if/when the issue in Redcarpet that is blocking this is fixed. Thanks!

[2021-02-26 15:22] #857 closed

[2021-02-26 15:30] #12108 closed

[2021-02-26 17:45] lisasy commented on #12751
@michael-tharrington If you see the problem statement in the mock, here is how it is stated:

We want to make clear to someone that Forem is positioned to take action on low-quality content like this, and it is appropriately to use the "warning" label here to visually communicate our position. Let's commit to `warning` (yellow) since we will also have the grayed out text as well.

[2021-02-26 19:30] maestromac commented on #11477
Thanks for the ping @cmgorton . Apparently, this was already resolved by https://github.com/forem/forem/pull/11961 !! :confetti_ball:

[2021-02-26 19:30] #11477 closed

[2021-02-26 19:43] michael-tharrington commented on #12751
@lisasy That makes sense! You're totally right that we don't want our low quality message to be overlooked. Plus thinking about it all more critically now, when we mark something with the overlay it does knock the comment down the list + the author has the ability to hide messages if they want.

[2021-02-26 22:40] vaidehijoshi opened #12835 "Following button can render incorrect text while data is being fetched"
**Describe the bug**

In many (if not all!) of the places where the `Follow` button is rendered (with the class `follow-action-button`), the button _always_ renders the text `Follow` by default. Once the user's data is fetched, it then may update to `Following`. This step of fetching the data async and then updating the text _after the button and text have already rendered_ leads to a glitchy UI.

[2021-02-26 23:35] vaidehijoshi commented on #12157
Making a note here that once _this_ is completed, we can move https://github.com/forem/forem/issues/12159 _out_ of the blocked tasks 👍🏽

[2021-02-27 11:04] harshilparmar commented on #12190
Can anyone please explain how to set up a dev environment?
I have figured out which piece of code causing this error. Getting trouble to start this repo locally !!

[2021-02-28 17:43] wassim-elbhm commented on #9154
You have done well!

[2021-03-01 02:46] thenamankumar opened #12840 "outlook.in domain not whitelisted for signups"
**Describe the bug**

`outlook.in` domain is not whitelisted for signups.

**To Reproduce**

- Go to https://forem.team/users
- Fill any example@outlook.in email.
- Submit

**Expected behavior**

It shall create a new account and move to next step.

**Screenshots**

<img width="776" alt="Screenshot 2021-03-01 at 8 15 05 AM" src="https://user-images.githubusercontent.com/22571395/109445717-3cc92480

[2021-03-01 02:48] akhil-naidu commented on #9154
People still wait for this.
https://github.com/forem/forem/issues/12671

[2021-03-01 04:52] citizen428 commented on #12840
Hi @thenamankumar: forem.team is our private Forem and not open for public signups, so this is intended behavior. However, you might interested in joining https://forem.dev/, our community collaboration platform.

[2021-03-01 04:52] #12840 closed

[2021-03-01 06:47] citizen428 commented on #9154
@akhil-naidu Would you mind if we close this issue in favor of the one you just linked? It was opened by our Head of Engineering and will hopefully be picked up in the not too distant future.

[2021-03-01 06:50] citizen428 commented on #12190
@harshilparmar Have you consulted our docs at https://docs.forem.com/, they should answer most of your questions. If not, please let us know what's missing.

[2021-03-01 10:14] rhymes commented on #1855
This has been fixed in Redcapet 3.5.0, see https://github.com/vmg/redcarpet/issues/664#issuecomment-787127992

I verified it with the markdown in this comment https://github.com/forem/forem/issues/1855#issuecomment-544223428 - there's a slight UI bug but it's unrelated.

Thus I'm going to close this and surface the bug

[2021-03-01 10:14] #1855 closed

[2021-03-01 17:26] cmgorton commented on #10727
Hey! Thank you for opening this request.
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature

[2021-03-01 17:26] #10727 closed

[2021-03-01 17:34] cmgorton commented on #10879
Hey all! Thank you for opening this request.
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new fea

[2021-03-01 17:34] #10879 closed

[2021-03-01 17:36] cmgorton commented on #10993
Hey! Thank you for opening this request. I definitely think it is an interesting idea.
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem eco

[2021-03-01 17:36] #10993 closed

[2021-03-01 17:37] cmgorton commented on #11002
Hey! Thank you for opening this request.
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature

[2021-03-01 17:37] #11002 closed

[2021-03-01 17:41] #11011 closed

[2021-03-01 17:43] cmgorton commented on #11019
@pkfrank would you like this to be a potential RFC? If not let me know if we should close it for now. Thanks.

[2021-03-01 17:44] cmgorton commented on #11036
Hey @ludwiczakpawel do you think this should be labeled as a `potential RFC`? If not let me know if we should close this issue here. Thanks.

[2021-03-01 17:46] #11101 closed

[2021-03-01 17:47] cmgorton commented on #11119
Thank you for opening this request!
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like

[2021-03-01 17:47] #11119 closed

[2021-03-01 17:48] #11139 closed

[2021-03-01 17:48] cmgorton commented on #11159
Thank you for opening this request!
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, ple

[2021-03-01 17:48] #11159 closed

[2021-03-01 17:49] cmgorton commented on #11167
Thank you for opening this request.
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, ple

[2021-03-01 17:49] #11167 closed

[2021-03-01 17:53] cmgorton commented on #11171
Thank you for opening this request!

The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, please visit [forem.dev](https://forem.dev/) to start a discussion around a new feature!

[2021-03-01 17:53] #11171 closed

[2021-03-01 17:56] cmgorton commented on #11232
Thank you for opening this request.
Like Fernando mentioned we are currently prioritizing non-DEV related liquid tags to better support the broader Forem ecosystem.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. I

[2021-03-01 17:56] #11232 closed

[2021-03-01 17:59] cmgorton commented on #11306
Thank you for opening this request.
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, ple

[2021-03-01 17:59] #11306 closed

[2021-03-01 18:05] cmgorton commented on #9344
Thank you for opening this request Lee!
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature,

[2021-03-01 18:05] #9344 closed

[2021-03-01 18:07] cmgorton commented on #9408
Thank you for opening this request!
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, ple

[2021-03-01 18:07] #9408 closed

[2021-03-01 18:09] cmgorton commented on #9464
Hey all. Thanks for the conversation here.
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new featu

[2021-03-01 18:09] #9464 closed

[2021-03-01 18:11] cmgorton commented on #9487
Thank you for opening this request!
Since this has been open for awhile without much progress I am going to close it here.

The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, pl

[2021-03-01 18:11] #9487 closed

[2021-03-01 18:12] #9500 closed

[2021-03-01 18:14] cmgorton commented on #9559
Looks like this was added per #9664. Let me know if that is not correct and I can reopen this issue. Thanks!

[2021-03-01 18:14] #9559 closed

[2021-03-01 18:19] cmgorton commented on #9620
Going to make this a potential RFC since there had been a lot of discussion here but we haven't had much movement on it in a while.

[2021-03-01 18:21] cmgorton commented on #9646
Thanks for this request. Since this is similar to #11404 and I have already tagged that as a potential RFC(a feature request we may work on internally) I am going to close this issue.

[2021-03-01 18:21] #9646 closed

[2021-03-01 18:22] cmgorton commented on #9654
Thank you for opening this request.
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature, ple

[2021-03-01 18:22] #9654 closed

[2021-03-01 18:22] #9732 closed

[2021-03-01 18:25] #9734 closed

[2021-03-01 19:11] cmgorton commented on #9849
Closing per this recommendation. We can open a discussion in [forem.dev](https://forem.dev/) to talk about doing it in the UI.

[2021-03-01 19:11] #9849 closed

[2021-03-01 19:12] #9850 closed

[2021-03-01 19:13] cmgorton commented on #9902
@fdoxyz @michael-tharrington should we label this as a potential RFC?

[2021-03-01 19:16] cmgorton commented on #9919
Looks like this should have been closed via #10502. If not let me know and I can reopen it!

[2021-03-01 19:16] #9919 closed

[2021-03-01 19:17] cmgorton commented on #10009
Thank you for opening this request Andrew!
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new featu

[2021-03-01 19:17] #10009 closed

[2021-03-01 19:18] cmgorton commented on #10037
@rhymes is this still an issue and if so should we add the potentiel RFC label to it?

[2021-03-01 19:20] cmgorton commented on #10064
Looks like this can be closed. If not Peter let me know and I will open it back up! Thanks.

[2021-03-01 19:20] #10064 closed

[2021-03-01 19:22] #10283 closed

[2021-03-01 19:24] cmgorton commented on #10723
Thank you for opening this request.
Since this has been open for awhile without much progress I am going to close it here.
The Forem core team now uses an internal RFC ("request for comments") process to assess and prioritize new features. This process is intended to provide a consistent and standardized path for new changes to enter the Forem ecosystem. If you'd like to propose a new feature like

[2021-03-01 19:24] #10723 closed

[2021-03-01 19:25] #10670 closed

[2021-03-01 19:26] #10467 closed

[2021-03-01 19:32] cmgorton commented on #10497
@michael-tharrington do you think this should be labeled as a potential RFC?

[2021-03-01 19:33] #10354 closed

[2021-03-01 19:35] cmgorton commented on #10319
Hey Lee! I think this would be a pretty interesting conversation to have on Forem.dev so that we could all talk about the trade-offs, complexities, and user experience behind this. Since this has been open for awhile without much progress would you be interested in kicking off a conversation on Forem.dev? Thanks!

[2021-03-01 19:35] #10319 closed

[2021-03-01 19:35] cmgorton commented on #10318
Hey Lee! I think this would be a pretty interesting conversation to have on Forem.dev so that we could all talk about the trade-offs, complexities, and user experience behind this. Since this has been open for awhile without much progress would you be interested in kicking off a conversation on Forem.dev? Thanks!

[2021-03-01 19:35] #10318 closed

[2021-03-01 19:35] cmgorton commented on #10317
Hey Lee! I think this would be a pretty interesting conversation to have on Forem.dev so that we could all talk about the trade-offs, complexities, and user experience behind this. Since this has been open for awhile without much progress would you be interested in kicking off a conversation on Forem.dev? Thanks!

[2021-03-01 19:35] #10317 closed

[2021-03-01 19:36] cmgorton commented on #10316
Hey Lee! I think this would be a pretty interesting conversation to have on Forem.dev so that we could all talk about the trade-offs, complexities, and user experience behind this. Since this has been open for awhile without much progress would you be interested in kicking off a conversation on Forem.dev? Thanks!

[2021-03-01 19:36] #10316 closed

[2021-03-01 19:36] cmgorton commented on #10315
Hey Lee! I think this would be a pretty interesting conversation to have on Forem.dev so that we could all talk about the trade-offs, complexities, and user experience behind this. Since this has been open for awhile without much progress would you be interested in kicking off a conversation on Forem.dev? Thanks!