[2019-11-06 18:39] jessleenyc commented on #4686
@chadsteele thanks for sharing -- that's a cool style!

[2019-11-06 18:45] #1214 closed

[2019-11-06 18:53] Zhao-Andy opened #4734 "Allow JSitor Tag to accept Full URL and parameters"
Continuing the conversation from #4657, we'd like the JSitor Liquid tag to be able to accept the full URL, as well as any additional URL parameters. For example: `https://jsitor.com/embed/1QgJVmCam?html&js&css&result&light&consoleOnly&`

We'll need to extract the ID from that link, as well as the `html`, `js`, `css`, `result`, `light` and `consoleOnly` parameters. Once extracted, the HTML file sho

[2019-11-06 18:54] Zhao-Andy commented on #4734
@artoodeeto here's the issue. :)

[2019-11-06 19:19] #4485 closed

[2019-11-06 19:36] maestromac commented on #4591
Ah I see. Thanks for clarifying that @b3u . Lets go with banner2

[2019-11-06 19:57] artoodeeto commented on #4734
@Zhao-Andy  thank you for this. I'll work on this maybe this weekend, but ill let you know how would I approach this.

Im tagging @ashvin777 so he can participate and check. :smile:

[2019-11-06 20:05] #3439 closed

[2019-11-06 21:45] maestromac commented on #2228
Are you also experiencing this image loading issue @trasherdk ?

[2019-11-07 00:37] vgrovestine commented on #4643
The user byline/summary would be a good first start.

I can understand the hesitation to include more as there exists potential for premature judgement of new followers' "influence" whether a fresh member with no history or a storied veteran of the community.

Perhaps another approach could be to borrow from the established badges concept, such that account longevity, posts count, and comments fre

[2019-11-07 01:00] FreeInstagramFollowers2020 opened #4741 "why???"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-11-07 03:47] trasherdk commented on #2228
I did have some image loading issues, mostly related to tracking stuff.

An upgrade of my email client took care of active contents and tracking images in HTML email.
Also, Firefox has gotten a lot more aggressive against tracking users.

I'm not a big fan of tracking users across the web, and applause any company helping combating this.

[2019-11-07 07:36] #4741 closed

[2019-11-07 08:41] rhymes commented on #4640
Closed by https://github.com/thepracticaldev/dev.to/pull/4647 and https://github.com/thepracticaldev/dev.to/pull/4738

[2019-11-07 08:41] #4640 closed

[2019-11-07 09:30] ashvin777 commented on #4734
Either the whole URL
{% jsitor https://jsitor.com/embed/1QgJVmCam?html&js&css&result&light&consoleOnly& %}

 or just

{% jsitor 1QgJVmCam?html&js&css&result&light&consoleOnly& %}

or maybe

{% jsitor 1QgJVmCam html&js&css&result&light&consoleOnly& %}

[2019-11-07 14:18] Bhupesh-V opened #4745 "hover profile view on posts"
**Is your feature request related to a problem? Please describe.**

Currently we do not have any hover profile view for posts on dev

![Screenshot at 2019-11-07 19-36-10](https://user-images.githubusercontent.com/34342551/68395660-2d99d580-0196-11ea-8dd4-d6ff9dcd41c6.png)

**Describe the solution you'd like**
We could do this like github

![profile](https://user-images.githubusercontent.com/343425

[2019-11-07 16:13] 32leaves commented on #4703
There was an issue with the `gitpod/workspace-full` where we wouldn't pull the right environment variables. This is fixed in the meantime. We'll trigger image re-builds tomorrow.

Alternatively, you could also trigger an image rebuild by modifying the [.gitpod.dockerfile](https://github.com/thepracticaldev/dev.to/blob/master/.gitpod.dockerfile).

[2019-11-07 16:19] capitalmagss opened #4747 "redacted spam"
--

[2019-11-07 16:39] #4747 closed

[2019-11-07 16:44] maestromac commented on #4703
Ah I see. Thanks @32leaves !

[2019-11-07 16:44] #4703 closed

[2019-11-07 18:18] achasveachas commented on #2365
@FarazPatankar Do you still want to work on this? If not I don't mind taking it on as I think this would be a very useful feature!

[2019-11-07 18:59] artoodeeto commented on #4734
@ashvin777 I was thinking of the second one so I could just check if theres an `http` or other links being embedded.

[2019-11-07 23:52] SeasonLeee opened #4749 "Mobile feed-nav-menu should not be scrolled and can be closed by tapping open space"
**Is your feature request related to a problem? Please describe.**

Hi there, I don't know what stated in the title is intended or just a space for improvement, either way, in my own experience, I don't think the nav with the id name `feed-nav-menu` should follow along when I have scrolling gesture over the screen on the phone.

As you can see this is how it behave in my phone:
![Screenshot_2019-1

[2019-11-08 03:00] twinsfan421 commented on #4720
#4750

[2019-11-08 03:29] bolariin commented on #4661
Are you considering using a file for generalization? If you are considering representing the information in a file, you could use a yaml file. With a yaml file, you can represent both lists and key value pairs.

[code]

[2019-11-08 06:53] rhymes commented on #4661
This could also be implemented as site configuration once this is in https://github.com/thepracticaldev/dev.to/pull/4729

[2019-11-08 13:25] abenettt commented on #4683
What about a boolean flag on the post that indicates that the post is accessible via it's generated url, this would allow one to access the post when knowing the url but not finding it via search. This field would only be considered should the post not be published already. And must take care not to allow indexing via bots etc. as it would kind of defeat the purpose.

[2019-11-08 13:48] Gaurav-Punjabi commented on #4672
Hey, I'm new to this community.
Can I help solving this issue?

[2019-11-08 15:16] pkfrank opened #4752 "Add list of newest articles to /internal/reports page"
**Is your feature request related to a problem? Please describe.**
As a site administrator, I'd like to monitor new articles for possible spam and abuse.  I already spend time on the `/internal/reports` page while doing moderation-related work, so I'd like to be able to observe new article activity from this same page.  This will be slightly more "ergonomic" than maintaining a separate new tab on

[2019-11-08 20:07] Zhao-Andy commented on #4734
@artoodeeto actually if you could change it so it can accept a full URL that'd be great. We're looking to eventually make this change on every Liquid tag that can accept a link, and this will be the first step of that process. :)

[2019-11-08 21:32] cesc1989 commented on #4610
👋 @jessleenyc submitted a PR for this. I followed your suggestion for the text placing a lorem ipsum 😄

[2019-11-08 22:43] pavelloz commented on #3574
What is the security concern?

[2019-11-08 23:36] kirill-konshin opened #4757 "Embed individual files from github as sources"
Per editor guide https://dev.to/p/editor_guide it's possible to embed either link to repo or link to gists (incl. individual files).

But is there a way to embed exact file from the repo? Would be VERY useful to publish an article describing some demo repository.

[2019-11-09 06:04] fluffynuts opened #4758 "Feature request: alt text for cover images"
As per the title -- please can someone implement alt-text for cover images? I'd really like it if people with vision difficulties could also understand what's going on in my cover images. Something like:

cover_image_alt: Book-case in a library

In the meta section of the post would be really helpful.

[2019-11-09 09:28] aligoren opened #4759 "Use CSS files to switch themes"
Hi. I was reading [theming](https://github.com/thepracticaldev/dev.to/blob/master/docs/design/theming.md) documentation. I saw theme switching codes.

In the below code, there are if-else blocks to switch between themes. Each block can insert CSS codes to the dom by JavaScript.

https://github.com/thepracticaldev/dev.to/blob/f0e367996a5296da03cf05e36bfeff6df7991be5/app/views/layouts/_user_config.h

[2019-11-09 09:41] Glennmen commented on #4759
I think the issue is that DEV does a lot of heavy page caching so that is probably why theme switching is currently being handled client-side with JS.

[2019-11-09 10:16] aligoren commented on #4759
Still can client-side theme switching feature. For example;

[code]

I'm not sure about that but would be good :). Besides this, I strongly agree with you. If the DEV does a lot of heavy pages caching, this is a thing what is the DEV has to do.

[2019-11-09 12:42] omgbbqhaxx opened #4760 "i cant share a new post im getting 500 err."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-11-09 19:19] artoodeeto commented on #4734
@Zhao-Andy okies. no problem. will be working on this right now. :)

[2019-11-09 21:11] JaredHarbison opened #4761 "GitPitch Liquid Tags"
**Is your feature request related to a problem? Please describe.**

No, not necessarily a problem... but I'd like to be able to more easily embed slideshow presentations in my DEV posts through liquid tags for GitPitch. Currently liquid tags are available for SpeakerDeck but you have to create the presentation through powerpoint or google docs, upload it to SpeakerDeck, then embed that into DEV wi

[2019-11-10 02:55] manan30 commented on #3684
@artoodeeto Are you working on this?

[2019-11-10 03:11] faraazahmad opened #4763 "Cover image doesn't show on mobile"

[2019-11-10 06:36] sai-chai commented on #4686
Actually, I can see other use-cases for such functionality besides just showing the same code written in different languages. For instance, if you're writing a guide for React-Redux applications, having several panes would be useful for being able to see the different modules that make up the dispatcher-action-reducer pattern.

[2019-11-10 07:28] anuraghazra opened #4764 "Broken layout while editing post in "Additional Config/Settings" section"
**Describe the bug**
When editing the "Additional Config/Settings" section, clicking the "preview" button breaks the layout.

**To Reproduce**

1. Go to any of your post and hit edit
2. Go to "Additional Config/Settings"
3. Click the "preview" button
4. See error

**Expected behavior**
Layout should not break.

**Screenshots (video)**

**Here's the Youtube video** : https://youtu.be/-hQNb5Soumk

I

[2019-11-10 10:06] #4763 closed

[2019-11-10 10:13] ShraddhaAg commented on #4650
Hi. I'm new to the community and would like to start contributing. Is this up for grabs?

[2019-11-10 10:23] faraazahmad opened #4765 "Cover image on post doesn't show up on Chrome for Android"
**Describe the bug**
In the feed and the posts themselves, the cover image is not present, instead, there is a 'white box'. The bug is not present on Desktop.

An empty white box appears in place of the post cover image in the feed and the post page.

**To Reproduce**
1. Scroll through feed to find a post with a cover image
2. Open a post that has a cover image

**Expected behavior**
The assigned

[2019-11-10 14:10] CodeSpent opened #4767 "Read only api_key"
**Is your feature request related to a problem? Please describe.**

Currently there's a single api_key that can be used for both GET & POST requests. I think it would be very valuable for site integrations to be able to restrict a key to solely getting public articles and such. Currently there's no safe way to integrate to your site if you wanted to loop links to your blogs as the key can only be

[2019-11-10 14:25] CodeSpent commented on #4767
Misunderstood that the dev.to api leaves public resources public without need for an api_key which alleviates this issue by querying by username for site integrations rather than authenticating & using /me.

[2019-11-10 14:25] #4767 closed

[2019-11-10 19:49] saurabhdaware commented on #3049
How about having basic rendering written in JS like:
we can render `#`, `##` and other basic markdown tags in frontend and when liquid tag or any of the other character is entered we can make a request to server

[2019-11-10 20:22] nickytonline commented on #3049
You could definitely do this client-side like VS Code does or use some other markdown to HTML package to render the markdown.

The real problem is rendering liquid tags. That’s the main reason the preview is currently server-side.

[2019-11-10 23:47] charbelsako opened #4768 "Footer not centered in podcasts"
**Describe the bug**
When you are on the page of any podcast episode the footer is aligned to the left.

**To Reproduce**
Just go to any podcast episode and look at the footer

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: kde neon
- Browser: firefox
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
-

[2019-11-11 10:17] rhymes commented on #4650
@ShraddhaAg go ahead! and thank you!! :-)

[2019-11-11 10:22] rhymes commented on #4768
Added a screenshot to help whomever takes this issue:

from https://dev.to/cynicaldeveloper/episode-127-automation-leading-us-astray-percona-live-europer-2019

![Screenshot_2019-11-11 Podcasts on The Practical Dev](https://user-images.githubusercontent.com/146201/68579902-86f35480-0475-11ea-8309-a1b68db99608.png)

[2019-11-11 11:35] rhymes commented on #4474
Another task: we should make clear, in the API docs, that an article created with the front matter can't have its properties, like `title`, updated with just the `title` attribute for example, because the title inside the front matter will take precedence on the `title` in the JSON attributes. See https://github.com/thepracticaldev/dev.to/issues/4000#issuecomment-530158610

[2019-11-11 11:55] rutzfutz commented on #3222
Sorry to comment again, but what is the process to bring this to the attention of someone who can make the change happen? I find it a bit ironic that dev.to displays the „sore eyes?“ dark mode advertisement to me, while completely ignoring my preferences for dark mode already sent by my browser.

[2019-11-11 13:25] agusnavce commented on #4723
@maestromac I'm still experiencing this issue. I've opened it on firefox wo extensions and in chrome and can't see any notifications.
My pane:
![image](https://user-images.githubusercontent.com/17863261/68590506-6f17d280-046d-11ea-8cda-7d0a21caf0ab.png)

Console:

![image](https://user-images.githubusercontent.com/17863261/68590555-95d60900-046d-11ea-9fc9-314b6fb33503.png)

[2019-11-11 13:52] jessleenyc commented on #4749
Thanks for the request. Right now, you can close the feed nav menu by selecting one of the feed options. I think what you're proposing makes sense as well but just wanted to let you know how to close it for now, in case it was getting in the way!

[2019-11-11 13:56] jessleenyc commented on #4760
Sorry about that! This seems like an individual account issue. Can you please send an email from the address associated with your DEV account to yo@dev.to?

[2019-11-11 13:56] #4760 closed

[2019-11-11 14:01] jessleenyc commented on #4764
Good catch. If someone clicks the preview button, we should probably show the preview and close the settings overlay/modal. Similarly to how the editor guide button behaves in that scenario.

[2019-11-11 14:27] SeasonLeee commented on #4749
Thanks for the response! And I have told my friends about this they have advised me to close the feed nav in the same way you did😅

Actually, if you like the tap on the open space to close the feed nav idea, I can make a pull request to give this feature a shot, even I have never try a ROR project before, but I like adventure😁

[2019-11-11 15:22] jessleenyc commented on #4761
Cool, this is approved for anyone that wants to take it on. Here's the documentation on liquid tags: https://docs.dev.to/frontend/liquid-tags/

[2019-11-11 15:29] jessleenyc commented on #4757
Thanks for the feature request. I'm just realizing that we don't have any liquid tags for GitLab right now. Perhaps whoever takes this can also add repo links for GitLab?

[2019-11-11 15:48] jessleenyc commented on #4718
Done!

[2019-11-11 15:48] #4718 closed

[2019-11-11 16:01] kirill-konshin commented on #4757
Whoaaa, I just realized that iPhone autocomplete *fixed* Github to Gitlab ))) my original intent was Github. But gitlab in addition would be nice )

[2019-11-11 16:57] JacobMGEvans commented on #4768
This might be a good place to start poking around as well https://github.com/thepracticaldev/dev.to/tree/master/app/views/podcast_episodes

[2019-11-11 17:22] rhymes commented on #4758
Hi @fluffynuts, this makes total sense!

We just need to understand what's the best strategy here.

Currently:

- as @fluffynuts pointed out, the cover image don't have an alternative text
- the cover image is rendered as a background image on a `<div>`:

[code]

from https://dev.to/giteden/how-to-gradually-build-a-design-system-2g3b

Possible solution:

1. switch the cover to an `<img alt="">` ta

[2019-11-11 17:54] gajus commented on #2250
Currently https://dev.to/api/comments?a_id=95907 just returns 404.

Did the API change?

[2019-11-11 18:10] rhymes commented on #2250
Hi @gajus, no it didn't change. The bug is still in there, we need to merge this and clear out the cache: https://github.com/thepracticaldev/dev.to/pull/4744

[2019-11-11 18:39] fluffynuts commented on #4758
Hey, thanks for asking (:

After a little thought, I would probably like 1 & 2 & 3 & 4 😀
- having the cover image presented as an image instead of a div should surely be better for screeen-readers and simplifies the alt-text implementation.
- 3 & 4 would (I imagine) be required to implement the feature,
- and it would be a Good Idea to have some default alt text (2), again to help out screen reade

[2019-11-11 19:45] benhalpern commented on #4759
We don't want to do anything that might add extra latency, but yes I think that is not necessarily a scalable approach. Currently we ship all the themes into the browser and that is kind of silly.

The second thing also adds an extra resource to wait on some of the time.

So @aligoren I think you're on to the right problem, but I think the approach that would fit most smoothly into what we do is t

[2019-11-11 19:53] abhigyan709 opened #4792 "I am not able to Create New POst"
[

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[GoApti](https://goapti.in/interview-question-and-answers/)

[2019-11-11 20:06] maestromac commented on #4792
Hello @abhigyan709 , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-11-11 20:06] #4792 closed

[2019-11-12 05:37] aligoren commented on #4759
Yes, currently, this is not a problem. Because there are not many themes today.

After I open this issue, I remembered this. Each CSS file also means bandwidth, resource.

Hmm, I didn't think like that :)

Yes, I checked the **config_body_class**. Is this prevent extra queries?

I think so too. But there is a fact "carpe diem". So, today we need this approach. But, in the future, we will have to c

[2019-11-12 05:46] aligoren commented on #4768
I think the problem is caused by I think the problem cause of **inner-footer-container**;

[code]

If I remove `margin-left:0`, it works as expected.

[2019-11-12 06:37] tcdowney opened #4794 "Make links more distinguishable on "Ten X Hacker" theme"
**Is your feature request related to a problem? Please describe.**

It's currently pretty difficult to tell what is and isn't a link on the "Ten X Hacker" theme.

![Screen Shot 2019-11-11 at 10 30 53 PM](https://user-images.githubusercontent.com/2096955/68647634-3f031a80-04d3-11ea-80e8-a5da03f611c5.png)

There are four links in the text above!

**Describe the solution you'd like**

It would be nic

[2019-11-12 06:53] trasherdk commented on #2228
The `SyntaxError: expected expression, got '<'` is related to embedded contents, like Codepen stuff.

[2019-11-12 08:50] lornatumuhairwe commented on #4768
Let me dig in and open a PR for this. 👍

[2019-11-12 09:06] lightalloy opened #4795 "Write tests for Users::DeleteActivity"
As @mstruve  described in her comment https://github.com/thepracticaldev/dev.to/pull/4480#discussion_r344764065 , it would be nice to have a test that would validate that every related record is deleted when a user record is deleted.
If we add other relations to the `User` model it will be easy to forget to add a step to delete it. Having such a test would prevent it.

[2019-11-12 09:11] lightalloy opened #4796 "Improve javascript in app/views/users/_account.html.erb"
Possible improvements are listed in the comments to this pr:
https://github.com/thepracticaldev/dev.to/pull/4480#discussion_r343698671

[2019-11-12 09:21] aligoren commented on #4768
You can open a pr. If you want to. Btw, be careful because probably it will not work well on article pages.

[2019-11-12 09:30] lornatumuhairwe commented on #4768
@aligoren thanks for the heads up. I had opened a PR but will add a WIP to get that fixed first.

[2019-11-12 10:17] lornatumuhairwe commented on #4768
@aligoren all done. Thank you. Now awaiting review.

[2019-11-12 10:30] aligoren commented on #4768
@lornatumuhairwe

Congrats :) I hope we will see you much.

[2019-11-12 10:35] mukherjee96 commented on #4765
### Here are my findings
I was investigating the issue and I will post my findings here. I looked at the console logs generated from Chrome Android via Remote Devices in Chrome DevTools.

### I found this 404 error:
`GET https://res.cloudinary.com/practicaldev/image/fetch/s--vZaEoA0L--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://thepracticaldev.s3.amazonaws.com/i/jicx5wil9bcwt

[2019-11-12 10:52] rhymes commented on #4765
It looks like a concurrency bug to me. The resource is being accessed at the final URL before the image is fully uploaded, thus the 404. What I still don't understand is why it happens only for some user agents, there must be some browser specific code in their caching logic. Maybe it's 404 just for that combination because the first time it was accessed bby that browser + OS, the image wasn't upl

[2019-11-12 10:56] Glennmen commented on #2370
Google has no released an official [Lighthouse CI](https://github.com/GoogleChrome/lighthouse-ci)
They announced it on [Chrome Dev Summit](https://twitter.com/ChromiumDev/status/1193966926214483968?s=20).

[2019-11-12 11:22] mukherjee96 commented on #4765
I don't think its a concurrency issue. I experimented by pulling up a random three-week-old Dev.to post from my laptop, texted the link to my Android phone and opened it via Chrome. It still shows an empty box.

What makes this bug even more delicious is that the problem does **not** occur on Brave browser for Android, which is based on Chromium. I checked the Chromium version being used by Brave

[2019-11-12 11:44] rhymes commented on #4765
@mukherjee96 I meant a concurrency issue on upload+fetch, not on fetch, but it'd be odd if it were if you can reproduce it again.

They have different user agents though, I don't think it's about which browser technology you have, I think it's a bug in Cloudinary which _could_ be related to the specific user agent.

Last test: if you go to https://www.whatsmyua.info/ with your phone, copy the verb

[2019-11-12 12:12] rhymes commented on #2370
@maestromac this [Lighthouse CI](https://github.com/GoogleChrome/lighthouse-ci) looks cool but we'd still need to find a way to start a web server in the build, which with Rails startup speeds seems it's going to be super slooooow

[2019-11-12 12:27] GooBall opened #4798 "Bug(Night mode): Sidebar profile picture outline"
**Describe the bug**
In dark mode, in Firefox, the user profile picture in the sidebar has a light outline to if (see image).

![image](https://user-images.githubusercontent.com/5050301/68671141-8676be80-0546-11ea-8f31-038f7bc858ba.png)

**To Reproduce**
1. Open Firefox and login to dev.to.
2. Change your theme to "night theme".
3. Look at your sidebar profile picture and see the wonder of Firefox

[2019-11-12 12:33] mukherjee96 commented on #4765
@rhymes No, I don't get the 404. These are the exact steps I followed for clarity:
1. Visited https://www.whatsmyua.info/ from Chrome Android (browser with the issue)
2. Copied the UA text
3. Set it in User Agent field in desktop Chrome via Network Conditions in DevTools
4. Visited a Dev.to post with cover image in the **same** tab.

### Reversed the test
By the way, I reversed the test and even t

[2019-11-12 14:13] auvansang commented on #3969
Look like the issue was fixed

[2019-11-12 14:13] #3969 closed

[2019-11-12 14:16] rhymes commented on #4765
It looks so, I'm honestly lost for words, but maybe it has to do with your own specific combination for device and browser?

[2019-11-12 15:11] #4369 closed

[2019-11-12 15:48] artoodeeto commented on #3684
@manan30 sorry dude just notice this today. you can work on this. I working on something else.

[2019-11-12 16:18] manan30 commented on #3684
@artoodeeto Cool. @jessleenyc Can I work on this?

[2019-11-12 17:20] ndom91 commented on #4794
+1 love this theme, however links are usually indistinguishable which is annoying..

I'll take a look at this when i get home tonight and try to make a PR 👍🏾

[2019-11-12 18:56] maestromac commented on #3684
go ahead @manan30 !

[2019-11-12 20:49] sai-chai commented on #4796
I'll take this one. 🙋🏽‍♂️

[2019-11-12 21:19] rhymes commented on #4796
Go ahead @sai-chai, thank you!

[2019-11-12 23:47] jessleenyc opened #4802 "Ensure all onboarding variants offer suggested users"
**Describe the bug**
I watched someone do our onboarding flow the other day. I think they picked ‘clojure’ or ‘r’ or something as a tag, and then the next page they got all blanks and no follower suggestions.

**Expected behavior**
New members should always be presented with users to follow.

[2019-11-13 04:38] Aswathprabhu commented on #4761
Can I take this? @jessleenyc

[2019-11-13 10:00] jawediqbal opened #4804 "Issue: Bug report"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-11-13 11:15] mpomery opened #4805 "Mark links in posts and comments as User Generated by default."
**Is your feature request related to a problem? Please describe.**

Links in posts, comments and profiles are all simple `<a href="[URL]">` with no relationship attribute.

Some links on profile pages do contain the nofollow attribute.

**Describe the solution you'd like**

Use `rel='ugc'` to mark links in posts and comments as user generated content, changing how search engines index them, and re

[2019-11-13 11:16] rhymes commented on #4804
@jawediqbal could you provide more information as to which bug you're experiencing? Thank you!

[2019-11-13 11:16] mpomery commented on #4805
I can have a look further into what the options are for marking user generated content are tomorrow and report back here.

[2019-11-13 11:29] aligoren commented on #4804
He may have meant "there should be an error report button." IMHO :)

[2019-11-13 12:57] aligoren commented on #4745
I did something using the Chrome developer console.

![image](https://user-images.githubusercontent.com/4205423/68765244-640ba080-062d-11ea-96b7-b5e7e5a52100.png)

I created a `div.profile-card` under the `header#main-title`.

**For instance**

Full HTML & CSS

[code]

[code]

[2019-11-13 13:07] Bhupesh-V commented on #4745
This looks :ok_hand:  @aligoren
though the styles look a bit odd :sweat_smile:
Also can we fetch the social links :thinking:

[2019-11-13 13:11] aligoren commented on #4745
Yes. A little bit weird :D But, if you can, it would be good. I don't have an environment to run Dev. Also, Dev doesn't run on my machine(Manjaro Linux).  Because Rails doesn't work as expected. Actually, rails don't work :/

[2019-11-13 13:24] nickytonline commented on #4745
Just FYI, if you have trouble with your environment, you can always use GitPod. You can do everything in the browser. See the DEV docs about [using GitPod](https://docs.dev.to/installation/#gitpod-_--beginner-friendly_).

[2019-11-13 13:30] aligoren commented on #4745
@nickytonline

Thank's. I used GitPod. I'll use it again. I don't remember, but I couldn't use it for a reason.

[2019-11-13 14:20] aitchiss opened #4807 "Highlight or Prevent Heading Level Errors in Markdown"
**Is your feature request related to a problem? Please describe.**

This issue is coming out of a discussion on post https://dev.to/s_aitchison/getting-heading-levels-right-including-here-on-dev-439

A substantial proportion of posts on DEV break WCAG guidance on heading levels. The post title automatically becomes the `h1` of the page; from that point on heading levels should only increase by 1.

[2019-11-13 14:54] Arteneko opened #4808 "Hide every header image on articles"
I'd like to be able to disable *every* header image from dev.to articles I read and browse (in the list).

Most are plain useless, slow down page load and reduce the quantity of posts I can view in a single window context.

It would be really nice to have a UI setting to disable them altogether.

[2019-11-13 14:56] nickytonline commented on #4745
The only thing you need to set up with GitPod is configure your environment variables like you would do for a local or Docker install, https://docs.dev.to/getting-started/config-env/.

There was an issue recently with the Ruby version not updating in GitPod, but I think that has been sorted (#4703).

[2019-11-13 15:16] aitchiss commented on #4758
I'm so pleased to see this feature request already exists! I have been thinking the same. We should avoid option 2 though - redundant alt text is a common accessibility failing, and unless we are telling users what the image is in the `alt` then it's not helpful (if you use an `img` element, then the screen reader will already tell them it's an image)

[2019-11-13 15:37] rhymes commented on #4758
yeah, you're right, it's the same with regular images, no default is the same with a default that says "image"

[2019-11-13 16:41] arximughal opened #4811 "Profile Name & Social Profile Icons (GitHub/Medium) Not Visible in ten x hacker Theme"
**Describe the bug**
I have the ten x hacker theme enabled in my profile and my profile name and social icons are not visible in the profile header.

![social-profiles-logos-in-10x-theme-2](https://user-images.githubusercontent.com/8762441/68783832-71408380-065d-11ea-8841-72c7796e7515.png)

They are clearly added and are visible in other themes.

![social-profiles-logos-in-10x-theme](https://user-

[2019-11-13 16:43] arximughal commented on #4811
I guess it's an issue with the Links. As you can see in my profile's screenshot below: The work section is messed up too. It should've been (and it is, in other themes) **Software Engineer at [BrandJaws](https://brandjaws.com)**, but under ten x hacker theme, the BrandJaws part (which is a link) becomes invisible.

![social-profiles-logos-in-10x-theme-2](https://user-images.githubusercontent.com/8

[2019-11-13 17:05] aligoren commented on #4745
Thanks @nickytonline

I'll do something about this hover thing.

That way, I'm gonna learn it on Ruby on Rails.

:F

[2019-11-13 17:18] rhymes commented on #4745
@aligoren keep in mind that this is technically not approved, in the sense that it doesn't have the "help wanted" tag.

On a technical perspective I think we would have some caching concerns in addition to wanting to discuss the UI of this and what that "hover card" would actually contain

I encourage contributors to look for [issues labeled "help wanted"](https://github.com/thepracticaldev/dev.to

[2019-11-13 17:21] aligoren commented on #4745
@rhymes  I'm sorry. I was exciting :)

[2019-11-13 17:28] rhymes commented on #4745
@aligoren don't be sorry! I'm just encouraging people to work on issues/features we've already accepted. Nobody, neither us, nor the contributor obviously, wants to throw away code. All contributions take the time and will from the contributor, it wouldn't be nice to know that perhaps they would have their PR rejected or changed.

Thanks for all the work you've been submitting lately BTW!

[2019-11-13 18:00] rhymes commented on #229
Closing this because we're not going to proceed on markdown in the profiles description for the time being

[2019-11-13 18:00] #229 closed

[2019-11-13 18:35] #4752 closed

[2019-11-13 18:56] aligoren commented on #4745
Thanks :pray:

I understand :)

[2019-11-13 19:02] fluffynuts commented on #4758
The only reason I suggested it is to disambiguate: a cover image isn't really important for the story (well, normally), so, if I couldn't see it, being able to know that it's not just some random image, but something put out there just to make the article look nice, would allow me to move past it.

I must, however, stress that, whilst I'm NAT, I'm not visually impaired (not to a point that matters

[2019-11-13 19:44] wolverineks opened #4814 "render iframes in post"
**Is your feature request related to a problem? Please describe.**

I would like to include an iframe in a post

**Describe the solution you'd like**

i would like to use regular tag like: `<iframe src="..."></iframe>`

**Describe alternatives you've considered**

alternatives:
link to website (encourages readers to leave)
screenshot of website (not nearly as engaging)
embedded codesandbox (includ

[2019-11-13 19:56] mattpeet commented on #4758
That's a good point, and totally makes sense. The standard practice for purely decorative images is to have an empty alt `alt=""` (some notes about it here: https://webaim.org/techniques/alttext/#decorative) - so maybe that could be the way to go for a default option?

[2019-11-13 19:57] aitchiss commented on #4758
That's a good point, and totally makes sense. The standard practice for purely decorative images is to have an empty alt `alt=""` (some notes about it here: https://webaim.org/techniques/alttext/#decorative) - so maybe that could be the way to go for a default option?

[2019-11-13 20:52] cesc1989 commented on #4683
@abenettt your approach sounds great.

Do you mean if the post was _publicly_ published then it can't be made _private_ anymore?

[2019-11-13 22:22] maestromac commented on #4543
Sorry for the late response. Thank you for the extensive work you've put into this @VarunBarad and Thank you for creating an issue and PR @dhruvin2910

I understand the native approach would be a solid choice but the code is not structured in the manner that you would've expected (ie `existingCopyPostUrlToClipboardFunction(postUrl)`). Following what @dhruvin2910 has done, I've looked into what the

[2019-11-14 05:30] manan30 commented on #3684
Am I reading this wrong or should the **project is running** line in the picture be `localhost:3000`?
![logs](https://user-images.githubusercontent.com/12088143/68829137-d7390500-0675-11ea-8430-d10cc9ca094e.png)

[2019-11-14 07:24] abenettt commented on #4683
@cesc1989 I don't actually know how the unpublishing works internally, but I imagine it works via the `published_at` field also, maybe @jessleenyc knows more? And we then can still respect our boolean flag.

[2019-11-14 10:56] rhymes commented on #3684
@manan30 that's the port webpacker runs on, check the lines with `web.1`, you'll eventually see one with Rails saying it's running on port 3000

[2019-11-14 14:17] #4734 closed

[2019-11-14 17:27] manan30 commented on #3684
@rhymes Gotcha. Thanks a lot

[2019-11-14 19:32] ashvin777 opened #4823 "JSitor liquid tag does not support id with '-' character"
**Describe the bug**
This `{% jsitor 2o-syYxmi %}` is a valid id `https://jsitor.com/2o-syYxmi` and should embed the content. However while adding that in blog, it throws the below error -
![image](https://user-images.githubusercontent.com/8143154/68889678-66601e80-0743-11ea-881f-ceb934566f7d.png)

**To Reproduce**
Try `{% jsitor 2o-syYxmi %}`

**Expected behavior**

It should allow id with '-'

*

[2019-11-14 19:40] Zhao-Andy commented on #4823
I believe we'll want to update the regex to allow the dash `-`:

https://github.com/thepracticaldev/dev.to/blob/2ca23c89831726c721b11c2ca863699fbe3014f4/app/liquid_tags/jsitor_tag.rb#L3-L4

[2019-11-14 22:12] MohamedElidrissi commented on #4765
+1, was about to submit this, its been bugging me for a few days thought it was on my end

[2019-11-15 07:58] artfullyContrived commented on #4795
@lightalloy Is this what we want to achieve?

[code]

[2019-11-15 08:46] rhymes commented on #4795
Adding this info for whomever take this on:

[code]

from https://api.rubyonrails.org/classes/ActiveRecord/Reflection/ClassMethods.html

this and other "reflection" methods should help :)

[2019-11-15 10:40] helmihidzir commented on #4823
Hello @Zhao-Andy , I would like to try this one.

[2019-11-15 11:23] Mte90 commented on #2249
Any news? This is the reason why I stopped using dev.to and also publishing new articles because I don't have anymore as pinned tab.

My feed is full of stuff that I don't care or not interesting for me (a lot about js or dev career posts).

Right now I prefer reddit because the feed is customized based on my interests...

[2019-11-15 11:38] lightalloy commented on #4795
@artfullyContrived something similar to that. I would probably call deletion once to make the test faster.

[2019-11-15 16:24] TomoyukiAota opened #4832 "Revision history of articles"
**Is your feature request related to a problem? Please describe.**

I encountered a situation that an older version of my article appeared on the editor page. The problem is resolved after deleting the browser cache. (Chrome's hard to reload did not resolve this problem.) It was frustrating because it seemed like the article is really reverted somehow at first sight. If I had a revision history, I

[2019-11-15 18:48] ubaidisaev opened #4833 "Registration block with broken UI"
**Describe the bug**
Some blog post have this registration block with broken ui.

**To Reproduce**

1. Go to
'https://dev.to/comscience/what-is-this-event-loop-that-they-speak-of-in-javascript-42mo'
'https://dev.to/nsebhastian/free-book-to-learn-javascript-532f'

**Screenshots**

![screen](https://user-images.githubusercontent.com/38039843/68967604-a4b41700-07f1-11ea-976b-72ffe7106025.png)

- OS:

[2019-11-15 19:06] fluffynuts commented on #4758
@aitchiss I'm not an expert in accessibility, so if that's what works best, I'm all for it (:

[2019-11-15 19:14] #4768 closed

[2019-11-15 19:16] maestromac commented on #383
not stale

[2019-11-15 21:44] EngineerCoding commented on #4168
I really look forward to have something like this implemented, as I am actually slightly irritated by articles which or in other languages other than English (even if they are in my native language, Dutch). I even would like to propose that there should be a setting in your profile which sets in which languages you would like to receive in your feed. This should not be limited to a single a langua

[2019-11-15 22:00] artoodeeto commented on #3684
@manan30 hello. whats terminal are you using? or is that a shell? is that ohmyzsh?

[2019-11-15 22:48] jessleenyc commented on #4794
I like the pink!

[2019-11-15 22:50] jessleenyc commented on #4804
Since we haven't received more information, I'm going to close this issue. @jawediqbal, it's very likely that this is an individual account issue. If you're still experiencing this, please email yo@dev.to from the email address associated with your DEV account. Thank you!

[2019-11-15 22:50] #4804 closed

[2019-11-16 01:33] torianne02 opened #4834 "Tag Embed Broken When Creating/Editing Post"
**Describe the bug**

When attempting to use embedded tags for DEV within my blog post it doesn't work. When I go into preview mode it shows the text `{% tag ruby %}` as plain text.

I attempted to see if the same was happening while commenting on the post and that seems to work properly.

**To Reproduce**

1. Go to DEV.to
2. Click on `Write Post`
3. In the body of the post, type `{% tag ruby %}`

[2019-11-16 02:35] manan30 commented on #3684
@artoodeeto I am using **iTerm2** and it is running **Z Shell**. And I use `antibody` to load all the plugins.

[2019-11-16 10:58] decipherzonesoft opened #4835 "500 Error It's not you, it's me."
500 Error
It's not you, it's me.

Sorry, you're hitting this page.
Please help us by submitting a bug report.
Thank you!

I am trying to write a new post.

![dev](https://user-images.githubusercontent.com/57699686/68992174-1a6dc080-088e-11ea-9782-0be8c71194c2.jpeg)

[2019-11-16 15:51] georges-gomes commented on #4412
Hi @rhymes @jessleenyc
Is there any wait we can help to make the process easy on your side?
We love dev.to and would like to show nice embed experiences.
Cheers

[2019-11-16 15:58] georges-gomes commented on #4412
I'm not familiar with ruby but I can probably learn :)
Should we try to PR a `webcomponentsdev_tag.rb` in `/app/liquid_tags/`?
Is that all what is necessary?
Thanks for you help

[2019-11-16 16:02] georges-gomes commented on #4412
OK I found this page https://github.com/thepracticaldev/dev.to/blob/626340b3c30183b5138060cf03e5541847c19ca5/docs/frontend/liquid-tags.md
Probably the way to go ;)

[2019-11-16 21:54] ndom91 commented on #4794
Okay so I made a basic PR, just changing the css custom property for `--theme-anchor-color` to a pink hue like the one the OP requested (`#e24ec1`).

If you'd like another pink or want to expand upon the anchor styling, i.e. not just color change, but also maybe underline on hover, etc., etc. - feel free to edit the PR!

[2019-11-16 22:10] bobbyiliev opened #4837 "Unable to change twitter handle"
**Describe the bug**
I signed up with Twitter, but I changed my twitter handled, now my twitter handled in dev.to is wrong

**To Reproduce**

1. Sign up with Twitter
2. Change your twitter handle
3. The change is not reflected on the dev.to site and you can not change your twitter handle via settings

**Expected behavior**
I think that it would be good to allow people to change twitter handle

[2019-11-17 09:57] incasedo opened #4838 "Post Article - Encoding::UndefinedConversionError in ArticlesController#create "\xE5" from ASCII-8BIT to UTF-8"
The tag input box can't include any chinese characters, it got errors  as below when submit article.
[code]
Extracted source (around line 38):
[code]
Full Trace
[code]

[2019-11-17 11:48] ektaarora3501 commented on #3296
Hi , I am a new contributor  and want to help with this issue ..

[2019-11-17 11:51] ektaarora3501 commented on #3217
Hey can I take this issue ?

[2019-11-17 13:01] spuccia opened #4839 "Reading list not updated after I click 'Save' post"
In my feed when I click 'Save' post/article the number of posts in my reading list is updated but if I open my reading list the saved post there isn't. If I do logout and then login the reading list contains the saved post.

1. Go to 'Feed'
2. Click on 'Save'
3. Go to 'Reading List'
4. The last post saved miss

I expect to see the saved post on my reading list after that I click 'Save'.

- OS: Mac

[2019-11-17 16:37] siddharth018 opened #4840 "https://www.youtube.com/watch?v=TG6Qw7PnYCE"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-11-17 16:56] Arteneko commented on #1856
This still seems to not work.

I have lots of followed tags, and I have react as unfollow with a -100 value. Yet, I still see a react article on almost every page scroll

[2019-11-17 17:45] setevoy2 commented on #3070
And here we are again, @jessleenyc @Zhao-Andy  ...
I'm sorry but have a similar problem again...
Had the `{{ }}` in the newly added [Grafana: Loki – the LogQL’s Prometheus-like counters, aggregation functions, and dnsmasq’s requests graphs](https://rtfm.co.ua/en/grafana-loki-the-logqls-prometheus-like-counters-aggregation-functions-and-dnsmasqs-requests-graphs/) post, first thought it still not fi

[2019-11-17 22:55] rhymes commented on #4838
@incasedo could you kindly paste here an extract of the text you were trying to insert in the editor? It'd be a great help to reproduce the error and investigate it.

Thank you!

[2019-11-17 22:58] rhymes commented on #4839
I have the same problem, I have to wait a bit and refresh it or refresh a few times. I think it's because the save operation is async but it might not be the whole story.

It also happens with the opposite operation. When you remove a a post from the reading list it takes a while for it to actually disappear from the list.

[2019-11-17 22:59] rhymes commented on #4840
closing for spam

[2019-11-17 22:59] #4840 closed

[2019-11-18 01:48] #4838 closed

[2019-11-18 01:49] incasedo commented on #4838
it's my own problems, thank you for your reply

[2019-11-18 11:35] theeducationmag opened #4855 "My account marked as Spam"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-11-18 14:12] achasveachas commented on #2365
@benhalpern @jessleenyc (or anyone else from the core team who can take a look):

I'm thinking of taking this on. I know there was discussion about adding a `CustomField` model, but unless you're envisioning allowing an arbitrary number of custom fields in the future I don't see how that would be cleaner/simpler than just adding 6 columns to the user table (`optional_field_key_1`, optional_field_v

[2019-11-18 14:43] abenettt commented on #2365
@achasveachas I’m not sure I like the idea of having the custom fields in the `User` model as they might never be set and be empty on the model forever (or a long long time). I think it would be cleaner having a custom model for that and we could still limit the number of allowed custom tags via the rails validations.
On the other hand we could also set predefined fields on the `User` model like t

[2019-11-18 14:45] jessleenyc commented on #4855
Hey! Sorry about that, can you email yo@dev.to from the email address associated with your DEV account? Someone from our support team can help you there. Thank you!

[2019-11-18 14:45] #4855 closed

[2019-11-18 14:52] jessleenyc commented on #4837
@bobbyiliev sorry about this -- can you email yo@dev.to with the email address associated with your DEV account? Our support team should be able to update this for you.

[2019-11-18 14:52] #4837 closed

[2019-11-18 14:54] jessleenyc commented on #4835
Hi @decipherzonesoft! This looks like an individual account issue. Please email yo@dev.to with the email address associated with your DEV account and our support team will get back to you.

[2019-11-18 14:54] #4835 closed

[2019-11-18 14:56] jessleenyc commented on #4834
Hmm...are you still experiencing this?  I'm not able to reproduce it right now.

[2019-11-18 15:00] torianne02 commented on #4834
Yes I am still experiencing it. Here is another screenshot I just took:

![Screen Shot 2019-11-18 at 6 58 50 AM](https://user-images.githubusercontent.com/37308853/69063238-fff03000-09d0-11ea-9800-5225f44150e6.png)

[2019-11-18 15:01] jessleenyc commented on #4833
Ah, thanks for flagging this.

[2019-11-18 15:05] jessleenyc commented on #4832
Sorry for the frustrating experience. We do want to support version history for articles and are open to suggestions here. There's some discussion on this issue, which is a request for versioning on our static pages: https://github.com/thepracticaldev/dev.to/issues/2836

[2019-11-18 15:23] jessleenyc commented on #4811
So I'm pretty sure this is happening because people get to choose their own profile colors on their settings page.  If someone chose a black font color, then their name is going to be hidden since the hackter theme has a black background... we'll need to figure out something for this.

[2019-11-18 15:26] jessleenyc commented on #4808
I think the spirit of this issue will be accomplished once we have a 'list view' of the home feed as a UI setting, which we plan to have eventually.

[2019-11-18 15:38] zcdunn commented on #1607
not stale. There's is an [open PR](https://github.com/thepracticaldev/dev.to/pull/4551) to fix this issue, but it hasn't been merged.

[2019-11-18 16:34] TomoyukiAota commented on #4832
@jessleenyc Thanks, #2836 is the feature I want.

[2019-11-18 18:53] michael-tharrington opened #4856 "Medium RSS feed occasionally failing to import full posts"
**Describe the bug**

If an author has set up [Publishing from RSS](https://dev.to/settings/publishing-from-rss) to pull in Medium posts, occasionally Medium won't import the posts in full, but will import a partial version of the post with a read more prompt.

This seems to be caused by Medium's paywall.

**To Reproduce**

1. Go to [https://dev.to/settings/publishing-from-rss](https://dev.to/sett

[2019-11-18 19:07] ppezaris opened #4857 "Signed in as ppezaris, I receive a 500 server error when clicking Organization"
Signed in as ppezaris, I receive a 500 server error when clicking Organization

1. Sign in as ppezaris
2. Click headshot in top right corner, select Settings
3. Click Organization

To see a web page

![image](https://user-images.githubusercontent.com/1483024/69081772-b6253b00-0a0c-11ea-891b-decdea606bdc.png)

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**

[2019-11-18 23:31] #4671 closed

[2019-11-19 09:55] keithrbennett commented on #4723
I am experiencing something similar. When I go to https://dev.to/notifications/comments while logged in, I see only blank space to the right when "Posts" or "Comments" is selected. However, when "All" is selected, I do see content to the right. I'm attaching the two screenshots.

<img width="961" alt="all" src="https://user-images.githubusercontent.com/28410/69136356-4cc92900-0aed-11ea-82ff-6fd9e4

[2019-11-19 14:16] hsnamr opened #4860 "500 error when creating a post"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device: iPhone SE
- OS: iOS 13.3 public beta
- Browser: Safari
- Version:

**Additional context**

[2019-11-20 12:12] lightalloy opened #4862 "Refactor raise_error expectations"
There are several expectations in tests like this, which leads to warnings:
`expect { }.not_to raise_error(SpecificErrorClass)` risks false positives, since literally any other error would cause the expectation to pass, including those raised by Ruby (e.g. NoMethodError, NameError and ArgumentError), meaning the code you are intending to test may not even get reached. Instead consider using `expec

[2019-11-20 16:32] #4543 closed

[2019-11-20 17:58] shaneblackburn commented on #4680
@rhymes Is this issue still up for grabs? I believe I have a fix

[2019-11-20 18:32] rhymes commented on #4680
@shaneblackburn definitely! Thank you!

[2019-11-20 18:36] #4823 closed

[2019-11-20 19:06] Arconapalus opened #4866 "feature to integrate Discord plugin and channels"
**Is your feature request related to a problem? Please describe.**
No however, I've seen recently that most developers are using discord for triaging issues, errors, etc. Even seen some referred by stackoverflow to msg direct using discord

**Describe the solution you'd like**
plugin for discord, much like twitter etc for audience to contact or connect with.

Discord plugin
**Describe alternatives

[2019-11-20 19:34] #4764 closed

[2019-11-20 23:21] #258 closed

[2019-11-21 08:11] Bhupesh-V opened #4870 "autosuggest emojis"
**Is your feature request related to a problem? Please describe.**

DEV already supports GitHub like emoji addition  #1653
It would be nice to have a auto-suggest option (just like github)

![gotiit](https://user-images.githubusercontent.com/34342551/69319042-6b056500-0c64-11ea-9898-c97aa3cbce49.png)

**Describe the solution you'd like**

This way we won't have to copy paste emojis from emojipedia

[2019-11-21 09:57] yedukondalu319 opened #4871 "not working to post"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-11-21 18:31] #4680 closed

[2019-11-21 20:24] maestromac commented on #4871
Hello @yedukondalu319 , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-11-21 20:24] #4871 closed

[2019-11-21 20:26] maestromac commented on #4860
Hello @hsnamr , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-11-21 20:26] #4860 closed

[2019-11-21 20:48] maestromac commented on #4832
Closing this because it is a duplicate of https://github.com/thepracticaldev/dev.to/issues/2836. Please kindly continue the conversation on that issue.

[2019-11-21 20:48] #4832 closed

[2019-11-21 21:32] #4720 closed

[2019-11-21 22:08] VictorSalgado opened #4877 "The app not load"
**Describe the bug**

When I open the app the first time, I saw a Dev black landscape and nothing else is shown
**To Reproduce**

Open the app (android)

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional contex

[2019-11-22 00:18] sibis commented on #4587
@jessleenyc I have tried replicating it, the functionality works fine to me every time. I would like to debug further and work on this(if it is an issue).

[2019-11-22 05:19] 31piy commented on #4587
@sibis I don't think it is resolved yet. I just tried reproducing this and got the same behavior.

**Steps to reproduce:**
1. Post a comment
2. Click on comment's timestamp to navigate to the comment details page.
3. The comment should appear like you've liked it (which is desired).
4. Try un-liking it.

**Desired behavior:**
When I click on the heart icon, the comment should get unliked.

**Actua

[2019-11-22 05:43] idris-rampurawala opened #4879 "Employer Name link is not visible in Profile page for Night Theme"
**Describe the bug**
I have the night theme enabled in my profile and my company name is not visible in the profile header -> work section.

![image](https://user-images.githubusercontent.com/36815604/69400295-24bd0e00-0d17-11ea-8417-5a8683f46841.png)

Highlighted the text to show the actual content in below image
![image](https://user-images.githubusercontent.com/36815604/69400337-503ff880-0d17-1

[2019-11-22 07:34] sibis commented on #4587
@31piy Can you please share your environment where you observe this issue?

[2019-11-22 07:57] sibis commented on #4862
@lightalloy I would like to work on this issue.

[2019-11-22 08:51] 31piy commented on #4587
@sibis -- The environment is the same as I shared in the original comment, except that I used **Firefox 70.0.1 (64-bit)** while reproducing the bug (in my comment above).

[2019-11-22 10:19] YitziG commented on #3305
Hey, I wrote a basic selenium script for mass unfollow.

Currently, it is non-discriminatory and will proceed down the list unfollowing as many users as you desire. It's just a POC but should be trivial to adjust to your needs. i.e. putting in some logic that doesn't unfollow users from a specific list.

`{
  "id": "8caddc45-e378-433c-b966-4d8b6ea8c417",
  "version": "2.0",
  "name": "unfollow dev

[2019-11-22 10:24] YitziG commented on #3305
This can easily be adjusted to mass follow instead of unfollowing and to apply to tags instead of people...

The next step would be to make a chrome extension for this. i.e. that just adds a unfollow button to each person element in the following list and posts the form directly when clicking on that button.

Easy enough to do and no need to wait for an accepted pull request.

[2019-11-22 10:43] YitziG commented on #3305
Here you can see it in action https://youtu.be/__MqpBIZgqA

[2019-11-22 19:56] luchiago commented on #2867
@rhymes sorry for take so long to resolve this issue. I have one question about: should I have to connect with the stripe api to get this token? in `settings/billing`

[2019-11-22 20:41] sibis commented on #4839
I tried debugging this issue. Looks like it occurs due to the background job takes time since we are calling the  **send_reaction_notification** which then calls the **perform_later**. Changing the method to **send_reaction_notification_without_delay**  in `app/controllers/reactions_controller.rb` for create reaction works fine in local test.

@rhymes Can you please make sure whether my approach h

[2019-11-22 21:00] mstruve opened #4884 "Epic: Flaky Spec Cleanup"
As a team, we have been noticing recently that we have some flaky specs that we just can't ignore anymore. In an effort to clean them up we are creating this EPIC and plan on linking all new flaky specs that pop up to it.
### New Issues should include
* spec file and line number of failing spec
* error message of failure and backtrace
* any other helpful additional information

[2019-11-22 21:04] mstruve commented on #2483
How do we feel about closing this Issue in favor of this new Epic [Flaky Spec Cleanup](https://app.zenhub.com/workspaces/dev-center-57942d3f59fb02845483fe47/issues/thepracticaldev/dev.to/4884) which we can connect issues to for individual flaky specs that come up?

[2019-11-22 22:23] mstruve opened #4887 "Flaky Articles user_visits_an_article_spec"
Related to #4884

The follow spec failed during a CI run of unchanged code in master.
[code]

[2019-11-22 22:25] mstruve opened #4888 "Flakey user_visits_homepage_articles_spec.rb and user_visits_podcasts_root_page_spec.rb"
Related to #4884

Specs failed when running CI against master.
[code]

[2019-11-22 23:16] mstruve opened #4889 "Flaky user_fills_out_comment_spec Elements Not Found"
Related to #4884

[code]

[2019-11-22 23:29] mstruve opened #4890 "Flaky user_visits_articles_by_tag_spec"
Related to #4884

[code]

[2019-11-23 01:25] andreybleme opened #4892 "E-mail link is not visible in profile page for night theme"
**Describe the bug**

When using the night mode, my profile e-mail is not visible (poorly visible).

**To Reproduce**

1. Go to Profile
2. Click to edit profile
3. Add an e-mail address
4. Mark the checkbox "Display email on profile"
5. Go to your profile
6. See the almost invisible e-mail link in the header.

**Expected behavior**

E-mail link should be visible.

**Screenshots**

![image](https:/

[2019-11-23 11:23] SBagaria2710 commented on #4892
https://github.com/thepracticaldev/dev.to/issues/4892

[2019-11-23 11:24] SBagaria2710 commented on #4892
I can work on that.

[2019-11-23 12:47] rhymes commented on #4892
Thanks @SBagaria2710, go ahead! :)

[2019-11-23 16:07] lightlace commented on #4879
working on it.

[2019-11-23 18:48] WA9ACE commented on #3222
I gotchu fam 👍

[2019-11-24 10:26] jean opened #4900 "Banner misses text upon page-up"
**Describe the bug**

While reading an article, hit the spacebar or pgdn to scroll down a page.
The top of the next page does not match the bottom of the previous page: one line of text is missed.

**To Reproduce**

Read an article, page down using space or the pgdn key..

**Expected behavior**

Scroll down so that I can continue reading on the next page, without having to scroll up to see missed

[2019-11-24 10:36] jean opened #4901 "Use slack space in landscape mode, don't steal vertical space"
**Is your feature request related to a problem? Please describe.**

In landscape mode, top and bottom banners waste a lot of space.

**Describe the solution you'd like**

In landscape mode, there is a lot of slack space to the left and right of the content.
Instead of stealing vertical space, use this space for the furniture that is currently in the top/bottom banners.

**Additional context**

See

[2019-11-24 11:32] ghost opened #4902 "The service worker is caching too much"
**Describe the bug**
When I simply opens an article on dev.to or simply vists "dev.to"
sevice worker cache is stored but that cache is too much...
For example in my case it rises to **231 mb** which I think is too much

**To Reproduce**

1. Go to 'dev.to'
2. Now using chrome developer tools, open Application tab
3. click clear storage
4. You will see there cache storage **231 mb** and even if you

[2019-11-24 17:01] razaanstha opened #4904 "Add button for copying code snippet at once"
Whenever copying code; Its too long process and so uncomfortable feeling of highlighting each line and copying the code snippet. So instead of this long process dev.to team's ferocious developers need to add copy button in the top of the code snippet so it would be easier for developers to try them.

**Demo for the Copy Button**
![image](https://user-images.githubusercontent.com/25036593/69498063-

[2019-11-24 22:06] Almenon opened #4906 "Editor: TypeError when clearing new changes"
**Describe the bug**
[code]

**To Reproduce**

1. Edit a article
2. Make some changes
3. click on clear on bottom, right of "new changes"
4. The "Are you sure you want to revert to the previous save?" popup appears
5. click yes
6. Changes are not cleared as expected. In the console the above error is logged.

**Expected behavior**

The new changes to be cleared
**Screenshots**

**Desktop (please c

[2019-11-25 00:28] jessleenyc commented on #4877
@VictorSalgado are you still seeing a blank screen when you the load the DEV android app?

[2019-11-25 00:34] jessleenyc commented on #4900
Confirmed I am experiencing this as well.

[2019-11-25 00:38] jessleenyc commented on #4901
Hm, we do use up those areas for certain screen sizes but it doesn't seem like your screen is wide enough to his that breakpoint. What width are you at?

![](https://p193.p3.n0.cdn.getcloudapp.com/items/nOuWGJJq/Image+2019-11-24+at+7.35.44+PM.png?v=ccaf7c221d24316234e38cd771b9e19c)

[2019-11-25 00:40] jessleenyc commented on #4904
Hey @razaanstha! This is a duplicate issue of a request we already approved: https://github.com/thepracticaldev/dev.to/issues/4686

Closing this so the conversation is consolidated in one issue. Thanks!

[2019-11-25 00:40] #4904 closed

[2019-11-25 01:40] jean commented on #4901
Display
10.5” WQXGA Super AMOLED (1600X2560)
287 ppi

[Specs](https://www.samsung.com/global/galaxy/galaxy-tab-s6/specs/)

On Mon, 25 Nov 2019, 07:38 Jess Lee, <notifications@github.com> wrote:

[2019-11-25 06:54] Seniru opened #4907 "email is not visible in dark mode"
**Describe the bug**
This is related with the dark mode. As I mentioned in the title, the email is not clearly visible in profiles when we have turned on dark mode. The reason email text color is too dark and cannot identify separately with the dark mode.

**To Reproduce**

- Turn on dark mode
- View a profile (*https://dev.to/seniru*)
- You will notice the email text is not visible

**Expected be

[2019-11-25 10:31] rhymes commented on #2867
Don't be sorry @luchiago, it's perfectly normal :) - I'm going to ping @Zhao-Andy as he's more familiar with this bug than I am.

[2019-11-25 10:34] rhymes commented on #4839
@sibis sorry if I didn't reply on time, I'm going to review your code and answer you inline in the PR!

[2019-11-25 10:44] GetMyLeather1 opened #4910 "Facing issues while posting on this site"
Unable to post any new post on this site. I face the error of "It was not you, its me" and guide me to submit a report.

Allow me to post something on this site. I have attached the screenshot of the error.
![Capture1](https://user-images.githubusercontent.com/57987119/69533825-64475c80-0f9a-11ea-9738-63934c86585d.JPG)

[2019-11-25 10:49] GetMyLeather1 opened #4911 "The Android Security Bug could let anyone hack your phone camera"
After a detailed analysis of the Google Camera app, our team found that by manipulating specific actions and intents, an attacker can control the app to take photos and/or record videos through a rogue application that has no permissions to do so.

Additionally, we found that certain attack scenarios enable malicious actors to circumvent various storage permission policies, giving them access to s

[2019-11-25 11:23] artfullyContrived commented on #4884
@mstruve How will we know that this issue is fixed?

[2019-11-25 11:53] rhymes commented on #4907
Hi @Seniru, thanks for the PR! I'm closing this as a duplicate of https://github.com/thepracticaldev/dev.to/issues/4907

[2019-11-25 11:53] #4907 closed

[2019-11-25 12:02] rhymes commented on #4911
Closing this on terms of relevance to the DEV. Let me know if I was wrong @GetMyLeather1!

[2019-11-25 12:02] #4911 closed

[2019-11-25 13:02] diarselimi opened #4921 "Possible Bug: Open content link on new tabs"
**Describe the bug**
When I click on the links inside the content of any article then it redirects me to that link instead, I think it should open it in a new tab.

**To Reproduce**
Just click in any link inside any article.

**Expected behavior**
Should open the link in a new TAB.

**Screenshots**

**Desktop (please complete the following information):**

- OS: *
- Browser: *
- Version: *

[2019-11-25 13:22] henrikwirth opened #4922 "Anchor Tag duplicates if multiple Headings with same name"
**Describe the bug**

There is a problem, if you have multiple headings with the same name. Let's take an example, that shows, why this would happen:

- Tutorial (h2)
  - Tool 1 (h3)
    - Install (h4)
    - Integration (h4)
  - Tool 2 (h3)
    - Install (h4)
    - Integration (h4)

With a heading structure like this, you will get multiple anchor tags with `#install` and `#integration`.

**To Repr

[2019-11-25 13:33] rhymes commented on #4921
Hi @diarselimi, thanks for your PR! It's not exactly a bug, it's more how browsers work ehhe.

I'm closing this as a duplicate of https://github.com/thepracticaldev/dev.to/issues/1716

There has been an ongoing discussion about this feature, we'll probably end up implemeting that as a user setting...

[2019-11-25 13:33] #4921 closed

[2019-11-25 14:15] mstruve commented on #4884
Great question! This issue is actually an epic and has 4 related issues already. I suspect this will be an on-going effort for a little bit but you can track its progress by seeing how many issues related to it have been closed.

[2019-11-25 14:57] jessleenyc commented on #4910
Hey, this looks like an individual account issue. Please email yo@dev.to for support. Thanks!

[2019-11-25 14:57] #4910 closed

[2019-11-25 16:26] Seniru commented on #4907
I'm sorry if this issue exists already. *i tried my best to find duplicates*

I think you have mentioned #4907 accidentally as a duplicate of this issue 😅

[2019-11-25 16:38] rhymes commented on #4907
Sorry @Seniru I meant https://github.com/thepracticaldev/dev.to/issues/4892

[2019-11-25 16:40] #4857 closed

[2019-11-25 16:44] Zhao-Andy commented on #4857
Hey @ppezaris, sorry about that issue! I believe I fixed this for your specific case. Could you confirm if this still happens for you?

[2019-11-25 18:15] mstruve opened #4925 "Consolidate and Improve Application Monitoring"
One of my first roles as the lead SRE for DEV has been to consolidate and focus our monitoring strategy. When I started at DEV we had 7 different monitoring tools
* Heroku
* ~Skylight~ Replaced with Datadog/Honeycomb.io
* ~Scout~ Replaced with Datadog/Honeycomb.io
* Timber for logs -> soon to be replaced with Datadog
* ~Airbrake for errors~
* ~Librato~ Replaced with Datadog
* ~New Relic~ Replaced

[2019-11-25 18:25] mstruve opened #4926 "Improved Application and Data Logging"
This is tied pretty closely to [Consolidating and Improving Application Monitoring](https://github.com/thepracticaldev/dev.to/issues/4925) but I believe can stand on its own as an issue.

In an effort to improve reliability we want to improve our application monitoring. One of the easiest ways to improve application monitoring is through logging. Currently, we are making use of the Rails default l

[2019-11-25 20:18] #4798 closed

[2019-11-25 21:27] luchiago commented on #2867
@rhymes Thanks, I appreciate that.

[2019-11-25 21:57] henrikwirth commented on #3802
![image](https://user-images.githubusercontent.com/10786260/69581457-d342a680-0fd6-11ea-828d-fd14acf55654.png)

Have the same happening to my articles. They are aligned to right side instead of center.

[2019-11-25 22:04] mstruve opened #4929 "Flaky Views an article shows an article"
Related to #4884

[code]

[2019-11-26 00:04] johncurcio opened #4931 "Flaky user_edits_an_article_spec.rb"
Related to #4884

Sometimes when I run ``bundle exec rspec spec/system``, ``user_edits_an_article_spec.rb`` fails.

[code]

This is the generated screenshot if it helps:

![failures_r_spec_example_groups_editing_with_an_editor_user_unpublishes_their_post_836](https://user-images.githubusercontent.com/9089551/69585348-3542e200-0fbe-11ea-9a80-26af26b6c196.png)

[2019-11-26 00:42] mstruve opened #4934 "Flaky user_leaves_an_organization_spec.rb"
Related to #4884

[code]

[2019-11-26 15:46] mstruve opened #4939 "Create a User Counters Table"
Our user table has gotten rather large recently and in an effort to break it up and not end up with hundreds of fields on a single model we want to break off the user count columns. Columns that could be moved.

* articles_count
* comments_count
* reactions_count
* following_tags_count
* following_users_count
* following_orgs_count
* rating_votes_count
* spent_credits_count
* unspent_credits_count

[2019-11-26 15:48] mstruve opened #4940 "Create a User Settings/Preferences Table"
Our user table has gotten rather large recently and in an effort to break it up and not end up with hundreds of fields on a single model we want to break off the user settings columns. Settings that could be moved
* email settings
* notification settings
* display settings
* language settings

[2019-11-26 16:23] pkfrank opened #4941 "Add page to /internal/ for manually awarding badges"
**Is your feature request related to a problem? Please describe.**
As an admin, I'd like to manually award badges to users.  Currently, this requires a technical teammate to lend a hand.

**Describe the solution you'd like**
A page on `/internal` where I can award badges.  It should include an input for the user, and the badge they should receive.

In terms of input type, we should decide whether

[2019-11-26 16:32] Zhao-Andy commented on #2867
Hi @luchiago, yep you unfortunately need to have a Stripe account in order to test this. I don't think they have a free account option. I think I'll take the `help wanted` label down for now until I know for sure that folks can use Stripe on their own for free.

[2019-11-26 18:04] luchiago commented on #2867
Okay @Zhao-Andy.

[2019-11-26 19:19] shaneblackburn opened #4946 "Tags may not be working as expected in feeds"
**Describe the bug**

My feeds include many posts from tags that I do not follow.

I realise there are exceptions (Latest feed, authors I follow, site-wide posts, the degenerate case of no tags) but my tagged topics don't *seem* to occur more often than their natural frequency.

**To Reproduce**
1. Choose several _reasonably_ popular tags to follow
2. Click feed button
3. With the first 50 posts,

[2019-11-26 19:28] shaneblackburn commented on #4946
btw, happy to work on fix if this is confirmed as an issue

[2019-11-26 21:14] iksemot opened #4948 "Runkit - indentation in the first line of a block"
**Describe the bug**

First line in the block of text cannot be indented.

**To Reproduce**

1. Create a new post
2. Add following content, make sure all lines are indented.

[code]

3. Save the post

**Expected behavior**

All lines in RunKit embed should be indented.

**Screenshots**

![image](https://user-images.githubusercontent.com/218702/69672956-7eb42f80-1099-11ea-8eb7-e045501791a3.png)

**

[2019-11-27 13:22] michaelneu commented on #3073
I just ran into this with my [first post](https://dev.to/michaelneu/to-vba-and-beyond---building-a-restful-backend-using-plain-microsoft-excel-macros-76n). Any chance you could fix it there, too? I wanted to add `series: Webxcel`, but since I can't save it, it won't be picked up (repro steps are the same as for @rpalo).

[2019-11-27 15:48] moopet commented on #4758
I think this isn't necessary for pure cosmetics.
I do, however, think that if an image is semantically part of the post, even if it's the cover and purely for decoration, it should be rendered as an image or picture element and given an empty alt attribute by default. We could add `cover_image_alt` to the front matter to allow people to override the empty attribute if they believe that the image i

[2019-11-27 18:48] GuriGhumanLive opened #4953 "BUG Reading List isn't updating when Archiving articles"
So I saved couple of articles to read later, and when I archive them, they get removed from reading List page https://dev.to/readinglist, but the number of articles I saved remains on main page as Reading List (3)
![image](https://user-images.githubusercontent.com/39106243/69750654-258bef00-11b2-11ea-8d7a-339713c46c64.png)

![image](https://user-images.githubusercontent.com/39106243/69750685-38062

[2019-11-27 19:53] helmutgranda commented on #28
@theonelucas, same here. FAQ still not up to date.

https://dev.to/faq

[2019-11-27 20:44] maestromac commented on #3073
Hello @michaelneu

I just updated your article's `main_image_background_hex_color` to `#dddddd`. Let me know if you are still experiencing the issue

[2019-11-27 21:00] abdellani opened #4955 "users' profile photos are not showing on the dockerized installation"
**Describe the bug**
After following the [installation with docker guide](https://docs.dev.to/installation/docker/) and accessing the locally hosted application,  users' profile photos weren't showing up.
[code]
**To Reproduce**

1- Follow the [installation with docker guide](https://docs.dev.to/installation/docker/).
2- Access 127.0.0.1:3000

**Expected behavior**

**Screenshots**

1-
![1](https:

[2019-11-27 21:17] myTerminal opened #4956 "Code blocks from old post are rendered as regular text with loss of indentation"
Older post does not show code blocks and just renders text without syntax or indentation.

**To Reproduce**

1. Try to read [this post](https://dev.to/myterminal/recursion-memoization-and-y-combinator-174l)
2. The code snippets appear as regular text with lost indentation

**Expected behavior**

Code blocks should appear with the indentation in a block of their own

**Screenshot**

![code](https:/

[2019-11-27 23:51] allgstar opened #4957 "Call Of Duty Mobile Hack Free - Unlimited CP And Credits"
As with most online multiplayer games, players are asked to give money. Call of Duty Mobile hacks available. Until you get COD Points. and we have some of the more popular Call of Duty Mobile cheats and interrupts listed here.
Of course, we have prepared them for you. Any form of giving Call Of Duty Mobile hacking will give you a CP.This cheat, coded by expert software developers, is never at risk

[2019-11-28 07:09] #4957 closed

[2019-11-28 08:26] artfullyContrived commented on #4795
@lightalloy I'm not sure how this test would be structured since not all related objects are deleted by this service. Additionally, 2/3 callers of this method eventually call `user.delete` which ends up deleting all `dependent: :destroy` relationships

[2019-11-28 11:14] anthonyms opened #4959 "Create a User Profile table"
Similar to #4939 and #4940, a user's profile info is split into many columns in the User table. These columns can be extracted to a UserProfile model.

The columns in question are:

- twitter_username
- github_username
- website_ur
- summary
- location
- education
- employer_name
- employer_url
- employment_title
- mostly_work_with
- currently_learning
- currently_hacking_on
- available_for
- face

[2019-11-28 12:50] rhymes opened #4961 "Add publication date to Medium liquid tag"
**Is your feature request related to a problem? Please describe.**

The Medium liquid tag contains lots of useful information but it would be nice if it could also display what's the publication date of the article:

![Screenshot_2019-11-28 A Developer's Guide to Flutter](https://user-images.githubusercontent.com/146201/69807562-e6779100-11e5-11ea-9857-b091e788cdae.png)

Look how the original arti

[2019-11-28 14:06] abdellani opened #4962 "Redis connection problem in the dockerized application."
**Describe the bug**
Hi,
In the dockerized application, I tried to authenticate using my Github account.
Knowing that I followed the guide to add the different Github's keys into the EnvFile, I got the following error after clicking on the Signup via Github button
[code]
It seems that the redis is not defined in the docker-compose.yml file. I tried to fix the error by adding it, but I think that t

[2019-11-28 14:24] rhymes commented on #4962
Hi @abdellani, great catch!

Can you try replacing `redis://redis:6379` with `redis://localhost:6379`, would that work?

[2019-11-28 14:41] abdellani commented on #4962
Hi @rhymes

I got the same error.

[2019-11-28 15:47] CristinaRuth commented on #4549
I came here to suggest this, but it's already here.

Yes, please! 🙏

Here's a user story from my perspective, if it helps.

I want to get notified about new posts under a tag I follow,
So that I don't miss any posts I may be interested in.

[2019-11-28 15:48] CristinaRuth commented on #4953
This has been driving me crazy for a while. So much so that I actually tried to get the site running locally but ran into issues and I ran out of time. 😕

[2019-11-28 16:42] neilmayhew commented on #2960
This is needed on desktop too, so please change the issue title to make it more general

[2019-11-28 17:47] abdellani commented on #4892
Hi @andreybleme , @jessleenyc
Is this problem solved? because I'm not getting the same view localy.
![Screenshot_2019-11-28 Mohamed ABDELLANI - DEV(local) Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/16113997/69825426-8eee1b00-120f-11ea-91d6-bcdeca6e9437.png)

[2019-11-28 20:37] delbetu commented on #4962
@rhymes It seems that you have a solution to this issue.
I notice this:
within the session store configuration, REDIS_SESSIONS takes precedence over REDIS_URL

within the cache store configuration, REDISCLOUD_URL takes precedence over REDIS_URL

within cable.yml only REDIS_URL is valid

REDIS_CLOUD is defined by Heroku addon.

So I think that we can remove the REDIS_SESSIONS and use only REDIS_URL

[2019-11-28 21:38] delbetu commented on #4926
Having more clarification on this would be great.
I think there are two different units of work here.
1. All the events that need to be logged.
2. The service that receives the logs and saves them somewhere.

For the first point, each event needs to be specified
For the second I would suggest using an external service such as sumologic.
The main feature of sumologic is its query language over the

[2019-11-29 06:03] manoj10101996 opened #4964 "Issue"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-11-29 09:11] artfullyContrived commented on #3941
@Zhao-Andy I'm interested in tackling this. A few questions

1. Why not have the entire banish process in a background job?
2. To whom do we send the email confirming user account deletion?

[2019-11-29 09:27] rhymes commented on #4962
Hi @delbetu, it looks to me that's not the actual problem here though.

`REDIS_URL` is used in production for caching storage, `REDIS_SESSIONS_URL` is used for session storage but by default they both point to the same DB, allowing people to use the same Redis for both.

`REDISCLOUD_URL` as you mention is part of Heroku but since it defaults to empty string, it will fallback to `REDIS_URL` which i

[2019-11-29 10:11] abdellani commented on #4962
@rhymes
Sorry, I didn't pay attention to that detail.
I confirm that it works after setting the two variable REDIS_URL and REDIS_SESSIONS_URL to "redis://redis:6379" in application.yml

[2019-11-29 11:11] pavelloz opened #4966 "Improve YT embed performance"
By a lot.... by not downloading all YT crap before user actually wants to see something.

Straight from Paul Irish (Google), so you know it is and will always be reliable.

https://github.com/paulirish/lite-youtube-embed

[2019-11-29 11:26] rhymes commented on #4966
Hi @pavelloz, the idea itself seems cool! The author is also a Chrome developer :D The only drawback about this is that if YouTube changes the style of the video, this will have to be updated...

Would this support the `t=` parameter? Are there any screenshots of how it looks? I can't find any.

Thanks!

[2019-11-29 11:30] pavelloz commented on #4966
Live example: https://paulirish.github.io/lite-youtube-embed/

[2019-11-29 11:46] Glennmen commented on #4966
This option will not increase performance but will remove cookie tracking and is an official supported feature of YouTube: https://twitter.com/BraveSampson/status/1200121852909113344?s=20

If the above solution won't get accepted we could look into this option.

[2019-11-29 11:54] pavelloz commented on #4966
^ Probably with a little bit of fiddling both can be achieved: https://github.com/paulirish/lite-youtube-embed/blob/master/src/lite-yt-embed.js#L105

Especially looking at this https://github.com/paulirish/lite-youtube-embed/blob/master/src/lite-yt-embed.js#L95-L96

[2019-11-29 11:59] Glennmen commented on #4966
@pavelloz There is a PR for it already 😉 https://github.com/paulirish/lite-youtube-embed/pull/18

[2019-11-29 15:47] andreybleme commented on #4892
Hi @abdellani, I think this is because of your theme. Good point...

When I reported this issue I haven't realized that it was dark because my theme colors are:

backgound color: #000000
text color: #ffffff

[2019-11-29 18:26] jmfayard commented on #4011
@Zhao-Andy can you help us unstuck this issue?

Recap: the problem is that the iframe of the Kotlin Playground has a wrong height, both on creation and after you run it, making a very useful feature not really usable.

The open question:

Which one of those solutions would be acceptable

1) Lazily load the [npm package `kotlin-playground` ](https://jetbrains.github.io/kotlin-playground/examples/)

[2019-11-29 18:27] rhymes commented on #4892
yeah, I didn't notice that either. I think it's safe to be closed, the issue of being able to select personalized colors that are too dark for the theme is a separate one.

I'm going to close this

[2019-11-29 18:27] #4892 closed

[2019-11-29 19:40] #4906 closed

[2019-11-29 22:06] #4962 closed

[2019-11-30 15:25] anuraghazra opened #4969 "Left-To-Right-Override, invisible unicode chars"
**Describe the bug**
Looks like currently we can create posts with "U+202D" (LEFT-TO-RIGHT OVERRIDE) and other Invisible unicode characters

Here's the post
- https://dev.to/anuraghazra/-12ef
- hashtags:
https://dev.to/t/%E2%80%8E%E2%80%8E%E2%80%8E%E2%80%8E
https://dev.to/t/%E2%80%8E

**To Reproduce**
- Copy U+202D unicode character
- Create a new post and set title to U+202D character
  - Same wi

[2019-11-30 15:46] anuraghazra commented on #4969
And also seems like using number-sign "#️" character breaks the hashtag link.

https://emojipedia.org/number-sign/

[2019-11-30 17:09] BogDAAAMN commented on #4672
@Gaurav-Punjabi any progress on this? I can step it as well.

[2019-12-01 15:54] DevFelixDorn opened #4970 "HTML <button> allowed in markdown parsing"
**Describe the bug**

I decided to write an article, and in the body, i wrote
[code]
and a HTML button appear, i tried some XSS combinations, none of them work, but i'm not an expert.

**To Reproduce**
* Create a new Post
* Copy the following snippet https://hastebin.com/oluxipivuz.js
* Preview it

**Expected behavior**

A HTML button appear.

**Screenshots**

![image](https://user-images.githubus

[2019-12-01 17:31] ogrotten opened #4971 ""1024 views" private banner won't dismiss."
![image](https://user-images.githubusercontent.com/8119012/69917618-7e1af080-142d-11ea-85b5-3ee6f0c13c45.png)

In this image, the banner for 1024 views on an article won't go away, and I can't manually dismiss it with an X. Tomorrow, when I come back to the site, there will be a count number "1" on the navbar notification bell, and it will be because of this banner.

Which brings up a different po

[2019-12-01 18:03] ppezaris commented on #4857
Yes, it's fixed. Thank you!

[2019-12-01 21:40] rhymes commented on #3876
Adding these things about Keybase:

- [hello world, except keybase](https://jenngineering.glitch.me/hello-world-except-keybase/)
- KeyBase, after they pivoted to gifting people Stellar Lumens and rebranding as a chat, seems to be harboring/fostering a toxic community:
  - https://twitter.com/alicetragedy/status/1197482494280507393
  - https://twitter.com/anildash/status/1201196535360507904

[2019-12-02 00:38] thealiilman commented on #4890
I'd like to tackle this! 🤓

[2019-12-02 00:48] mstruve commented on #4890
That would be awesome! THANK YOU!!!

[2019-12-02 08:47] artfullyContrived commented on #3941
@Zhao-Andy I have investigated the problem and concluded that the `CacheBuster.bust` call is redundant.

I'm now moving on to the `DeleteUser` job. The email will be sent to the admin initiating the deletion.

[2019-12-02 13:15] jessleenyc commented on #3952
We added this for mods:

![edit-moderate-button](https://p193.p3.n0.cdn.getcloudapp.com/items/9ZuNee5g/Image+2019-12-02+at+8.14.50+PM.png?v=63d8869a3bc225f5a71fd077b28674b4)

[2019-12-02 13:15] #3952 closed

[2019-12-02 13:16] jessleenyc commented on #3950
We added this a little while ago - it's a redirect:

![edit-mod-button](https://p193.p3.n0.cdn.getcloudapp.com/items/9ZuNee5g/Image+2019-12-02+at+8.14.50+PM.png?v=63d8869a3bc225f5a71fd077b28674b4)

[2019-12-02 13:16] #3950 closed

[2019-12-02 13:20] Zhao-Andy commented on #4970
Yep, we allow some HTML to go through but not all. Worth reconsidering the `<button>` tag though.

I'm going to change the title of this issue so we don't see "XSS" and panic a bit. 😅

[2019-12-02 13:37] jessleenyc commented on #4964
Hey, since this issue is blank we are going to close it. Feel free to open a new issue if you have more info. If you're encountering issues with your individual account, please email yo@dev.to for support. Thank you!

[2019-12-02 13:37] #4964 closed

[2019-12-02 14:30] johncurcio commented on #4961
I'd love to work on this issue later today. Should the publication date be formatted like in the medium article? Something like this but with less padding:

**Author Name**
<h6>Nov 8, 2017  ・ 10 min read</h6>

[2019-12-02 16:27] JaredHarbison commented on #4761
Hi Jess!

I submitted the resolution for this last week. I'm happy to take another
pass at it if you like. But it worked on my machine! 😂

Best,
Jared Harbison

On Mon, Nov 11, 2019, 10:23 AM Jess Lee <notifications@github.com> wrote:

[2019-12-02 17:22] maestromac commented on #28
Hello @theonelucas , we just updated it

[2019-12-02 17:24] mstruve commented on #4959
Hey! Thank you so much for opening this issue!

We chatted about this in our weekly tech meeting and decided that our first steps are going to be breaking out the columns mentioned in those other two issues first and then we will take stock and see what is left. What you have listed as columns for a UserProfile model might actually end up being the User model itself. Or, we may decide we want to s

[2019-12-02 17:57] mstruve commented on #4926
Hey @delbetu!

You are definitely right this needs a lot more clarification before it is worked on. However, after our recent tech meeting, we are putting this in the "Future" work category as there are some things that still need to be sorted out beforehand such as what needs to be logged and where it is all going. Even though we are not currently working on it, I still thought it was important t

[2019-12-02 19:27] Link2Twenty commented on #1154
Not stale

[2019-12-02 21:35] #4589 closed

[2019-12-03 01:53] ssimontis commented on #4926
This sounds like a task for a good APM utility. I have played around with DataDog a little bit and it was pretty impressive, but it costs money. Any of the APM systems will be an investment, but they are a lot more effective than trying to guess which events you will need and implement everything yourself.

[2019-12-03 08:57] artfullyContrived commented on #4959
@mstruve sounds good.

[2019-12-03 10:45] rhymes commented on #4884
Found this as well:

[code]

[2019-12-03 11:52] jessleenyc commented on #4946
Hey @shaneblackburn, thanks for creating this issue. We're going to revisit how tag behavior in the new year. It's a little buggy right now, and we'd also like to take in some of the additional feedback we've received in other issues (i.e. #1856).

[2019-12-03 11:55] jessleenyc commented on #4969
For the blank title issue....let's create a validation to prevent titles that start with "U+202D"?

[2019-12-03 11:57] jessleenyc commented on #4970
I believe we allow the button tag because some folks use it as a nicer way to create links? There shouldn't be an XSS issue here so I'm going to close this issue.

[2019-12-03 11:57] #4970 closed

[2019-12-03 11:58] anuraghazra commented on #4969
Actually not just the character U+202D there are other invisible characters too which has to be sanitized. http://emptycharacter.com/

[2019-12-03 11:59] jessleenyc opened #4995 "Add Styling For <button> Tag in Markdown"
**Is your feature request related to a problem? Please describe.**

We allow the `<button>` tag to be added in markdown when someone is writing a post, but it's completely unstyled so it looks pretty bad. This Issue has been opened so that we can fix that and make it look better and hopefully similar to the rest of our site styling

You can see a screenshot of what it currently look like in the bo

[2019-12-03 12:03] jessleenyc commented on #4966
Really appreciate the spirit of this request. There are a few things we'll want to consider -- like the timestamp feature Rhymes mentioned.

This issue also got us thinking that we might want to handle youtube embeds similarly to how we handle twitter embeds to improve performance.

[2019-12-03 12:27] jessleenyc commented on #4969
Cool, thanks @anuraghazra. Whoever ends up grabbing this issue, let's take multiple invisible characters into account?

[2019-12-03 12:36] pavelloz commented on #4966
I totally missed the timestamp param question :)

Well there are two ways of going about it, IMO depending on https://github.com/paulirish/lite-youtube-embed/pull/18 success:

1) Create PR for upstream that will add support - it should be simple enough - if above gets merged
2) Fork it and do whats needed to get rid off tracking + add timestamp feature

[2019-12-03 16:02] mstruve commented on #4884
@rhymes can you make a separate issue for that and then mention this issue to link it like the rest? It makes it easier for individuals to pick up and claim when they want to work on something.

[2019-12-03 16:10] rhymes opened #4998 "Flaky user_selects_looking_for_work_spec.rb"
Related to #4884

From this build https://travis-ci.com/thepracticaldev/dev.to/builds/139030199

[code]

[2019-12-03 18:04] #4956 closed

[2019-12-03 18:32] DarkSmile92 opened #5000 "Mod tooling: Templates for mod responses to maintain similar style"
As a moderator you have to write your own formulations for comments on a certain topic always the same.
For example, to ask the author to post the full content of the article, the post is better suited for a listing, and so on.
Having templates on certain topics has the following advantages:
- All moderators use approximately the same formulations on topics, which provides a holistic picture.
- Ne

[2019-12-03 18:55] maestromac commented on #3009
not stale

[2019-12-03 19:09] maestromac commented on #4961
@johncurcio it doesn't have to be exact. It could even be squeezed right between the author and the read time.

[2019-12-03 19:54] maestromac commented on #4761
Ah we missed it, thanks for pointing that out @JaredHarbison

[2019-12-03 21:19] melezhik commented on #3009
It is now called Raku

[2019-12-04 06:50] dpaulino opened #5003 "Unable to log in via twitter."
**Describe the bug**

Unable to log in using Twitter. The "good news, bad news" webpage is displayed when I try.
![image](https://user-images.githubusercontent.com/7649589/70119320-dfee7c80-161e-11ea-94b3-f16174f92d2c.png)

**To Reproduce**

1. Go to dev.to using chromium edge
2. click the log in via twitter button
3. the "good news, bad news" webpage is displayed.

**Expected behavior**

I expect

[2019-12-04 14:02] gayanhewa commented on #4884
How do we know which ones are being worked on atm? Before investigating one of the reported issues.

[2019-12-04 14:09] mstruve commented on #4884
Click on an individual Issue and if no one has said they want to work on it yet then likely it is not being worked on 😊

[2019-12-04 14:22] CalvinAllen opened #5006 "Unable to Change Author on an Organization Post"
I am cross-posting C# Advent articles to a new csadvent organization on Dev.to.  As I add them, they list me as the author.  I am inviting the TRUE authors of those posts to be org members, so that I can make them the author (canonical links have been set, added a blurb about "first appeared on", etc), but this is kind of the "last thing" I'd like to do to make sure credit is given where its due.

[2019-12-04 16:00] maestromac commented on #4794
Resolved with https://github.com/thepracticaldev/dev.to/pull/4836

[2019-12-04 16:00] #4794 closed

[2019-12-04 16:41] maestromac commented on #4856
We retrieve the content that is available on the feed. For some reason, the content of the feed given only contain a preview of the article. This might to do the author's setting.

[2019-12-04 16:45] maestromac commented on #5003
Sorry for this issue @dpaulino . Are you able to reproduce this issue on another browser on your machine?

[2019-12-04 17:53] rhymes commented on #2311
unstale

[2019-12-04 17:55] JaredHarbison commented on #4761
NP! I did notice the Travis CI check failed, but seemed unrelated.

For ref => Add GitPitchTag resolves #4761 #4942

Best, Jared Harbison

On Tue, Dec 3, 2019 at 2:54 PM Mac Siri <notifications@github.com> wrote:

[2019-12-04 18:08] dpaulino commented on #5003
I am now able to reproduce the bug reliably. Updated repro steps:

1. Launch Microsoft Edge Dev: https://www.microsoftedgeinsider.com/en-us/download/
2. Open settings menu > Privacy
3. Enable strict tracking prevention
![image](https://user-images.githubusercontent.com/7649589/70168472-cb8d9c80-167d-11ea-99ff-57006361d65e.png)
4. Navigate to dev.to
5. Click on twitter sign in button
6. Error page.

[2019-12-04 19:01] CodeMouse92 opened #5008 "User Account "Watch" Flag (Moderation)"
**Is your feature request related to a problem? Please describe.**

I think most moderators know that feeling: you can sense from how a user conducts themselves that they're at a high risk of being toxic, but they seem to always stay *just* on the right side of the line. Sooner or later, it's inevitable that such a user will cross a line, and a moderator just has to hope they'll catch the problem

[2019-12-04 19:04] luxaritas commented on #3636
I brought up starting a dev.to org with a project I work on, with the idea of creating one or more series to cover the development stuff we do. Series would be ideal, but it's entirely possible we would want multiple contributors.

[2019-12-04 20:09] maestromac commented on #5003
Thank you for the detailed reproduction steps. I believe this is more of a browser support issue as the login is functional on Chrome and Firefox.

[2019-12-04 22:40] Mourtadah commented on #3684
hey, @manan30 are you still working on this? I would love to give it a shot.

[2019-12-05 00:03] maestromac commented on #3684
We appreciate your enthusiasm @Mourtadah but this was just resolved.

Resolved with https://github.com/thepracticaldev/dev.to/pull/4903

[2019-12-05 00:03] #3684 closed

[2019-12-05 00:40] pkfrank opened #5010 "Check for existing email during account creation"
**Is your feature request related to a problem? Please describe.**
As a user, I may inadvertently create multiple accounts as a result of using OAuth with both GitHub and Twitter.

**Describe the solution you'd like**
- During the account creation flow, check to see if the associated email already exists in our database
- If so, display a message ("An email with this account already exists, try si

[2019-12-05 00:40] pkfrank opened #5011 "Create view for /internal/organizations"
**Is your feature request related to a problem? Please describe.**
As an admin, I am able to use:
- `/internal/users` to manage users
- `/internal/articles` to manage articles
- `/internal/reports` to manage reports

However, I do not have an internal view for managing organizations.  This adds time and occasionally requires me to contact technical team members for assistance.

**Describe the solu

[2019-12-05 00:40] pkfrank opened #5012 "Add filtering options to /internal/reports dashboard"
**Is your feature request related to a problem? Please describe.**
As an admin, when spending time at `/internal/reports`, I am sometimes left to deal with multiple reports of the same URL, and/or multiple reports by the same reporter.

This creates complexity (and adds time) in dealing with the report and replying to the reporters.

**Describe the solution you'd like**
An option on this page to f

[2019-12-05 04:24] jessleenyc commented on #5000
Thanks for creating this issue. We’ve actually been talking about something like this a bunch, we’ll do our best to prioritize these canned responses soon.

[2019-12-05 09:02] Jo-IE commented on #1999
Hi! I would like to work on this if someone isn't already doing it :) Thanks!

[2019-12-05 09:06] Glennmen commented on #1999
Wasn't this fixed with PR #4220 ?

[2019-12-05 10:57] kavindyasinthasilva opened #5013 "why not change android api(android studio)/iso"
add new flutter or android studio project(repo) .we can develop it .good ui/ux and best performance include it . if you have make this project and we can fork it.

[2019-12-05 12:19] Glennmen commented on #5013
@kavindyasinthasilva You mean this repo? https://github.com/thepracticaldev/DEV-Android

[2019-12-05 14:28] kavindyasinthasilva commented on #5013
ok brother . i am contribute above link .thank you

[2019-12-05 15:06] rhymes commented on #5013
Closing this as it seems @kavindyasinthasilva was looking for the Android's app repo

[2019-12-05 15:06] #5013 closed

[2019-12-05 16:19] #4961 closed

[2019-12-05 16:27] bnb commented on #1999
Doesn't seem like it @Glennmen:
![image](https://user-images.githubusercontent.com/502396/70253927-06083f80-1739-11ea-9ae8-8771e00c7165.png)

@Jo-IE it would be super awesome if you did!

[2019-12-05 18:16] Jo-IE commented on #1999
Thank you @bnb!

[2019-12-05 18:17] kavindyasinthasilva commented on #5013
### ok thank you

[2019-12-05 19:10] maestromac commented on #2639
not stale

[2019-12-05 19:56] sai-chai commented on #4796
Sorry I got busy recently and wasn't able to follow through, but it looks like this issue can now be closed. It seems like all the issues pointed out in #4480 have been addressed in the code (it's now been broken out into app/views/users/confirm_destroy.html.erb @ line 35).

[2019-12-05 21:41] rhymes commented on #4796
Correct! thanks for the heads up @sai-chai!

[2019-12-05 21:41] #4796 closed

[2019-12-05 21:48] nhidtran opened #5018 "bug - changing settings doesn't update profile until refresh on profile page"
How - change the color of your profile in settings
Behavior - still the previous color. Needs to refresh on profile page to pull in settings changes
Expected - after changing settings --> navigating to profile will automatically update page

[2019-12-05 21:49] nhidtran opened #5019 "Feature request- allow for multiple draft posts"
Today- you can only work/save one draft at a time. I'm sure to mimic the behavior like Twitter
Request - would like to have multiple saved posts. Sometimes I'm not done with one idea but would like to start another

[2019-12-06 00:48] ashu-22 opened #5022 "Bug occurred"
When I try to access the page, a bug is being occurred.

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-12-06 13:11] deepu105 opened #5023 "Add inline markdown syntax highlight and keyboard shortcuts for editor"
**Is your feature request related to a problem? Please describe.**

The current Editor is quite basic and is not very user-friendly on the Go, especially when you want to quickly write something up. It would be nice to have at least the below support in the editor

1. Inline Markdown syntax highlight (like in VSCode for example)
2. Keyboard shortcuts(ctrl+s, ctrl+i, ctrl+b and so on similar to [th

[2019-12-06 13:12] deepu105 commented on #5023
Could be related to https://github.com/thepracticaldev/dev.to/issues/3049

[2019-12-06 13:35] #4652 closed

[2019-12-06 13:38] maestromac commented on #5022
Hello @ashu-22 , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-12-06 13:38] #5022 closed

[2019-12-06 14:06] maestromac commented on #5019
Hello @nhidtran , you certainly can create multiple draft post by clicking `save draft` on /new. Is something preventing you from saving? Is it an error you're encountering?

![Screen Shot 2019-12-06 at 9 05 07 AM](https://user-images.githubusercontent.com/15793250/70328638-86957180-1807-11ea-976a-0240a7af433d.png)

[2019-12-06 16:12] Schwad opened #5025 "Test run time in a docker container"
Hello 👋 ,

I am working on getting the `dev.to` development environment setup on my machine, so that I may get familiar with the codebase and hopefully start being able to chip in the odd contribution (because I love what you're doing!).

Firstly, the documentation has been __fantastic__ and I've been able to get a Docker container locally setup with an instance of the application same-day.

Howev

[2019-12-06 16:15] nhidtran commented on #5019
there was a bug when saving a draft. Would 500 - I thought my post didn't actually save. When that error does show up, the one with the gif, whatever routing package is being used is preventing the user to "go back" but the post actually does save when you go into your dashboard, but doesn't show it like the above. If I can recreate, i'll add a images

[2019-12-06 16:21] nhidtran commented on #5019
if the bug happens again, i'll create a new issue. Thank you for getting back to me!

[2019-12-06 16:24] maestromac commented on #5019
Do let me know 👍

[2019-12-06 16:24] #5019 closed

[2019-12-06 18:24] siddharth018 opened #5029 "please resolve"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-12-06 18:25] maestromac commented on #5029
Hello @siddharth018 , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-12-06 18:25] #5029 closed

[2019-12-07 06:08] tianzhou opened #5032 "Please support Chinese in https://dev.to/rly"
It would be great to spread this humor to the Chinese dev community.

[2019-12-07 13:51] Gexos opened #5033 "Error when trying to post an article"
**Describe the bug**

Hello there, I'm trying to post a new article but I'm getting this error:
`base: (<unknown>): could not find expected ':' while scanning a simple
key at line 5 column 1`

**Desktop (please complete the following information):**

- OS: Windows 8.1 64
- Browser: Firefox
- Version: 71.0 (64-bit)

[2019-12-07 16:06] JoshCheek opened #5034 "Don't override readline keybindings on OS X"
**Describe the bug**

I initially reported this in the PR that introduced it ([here](https://github.com/thepracticaldev/dev.to/pull/959#issuecomment-460158630)), but as @rhymes pointed out, it fell off the radar.

The keybindings C-I, C-k, and C-b, and ⌘-I, ⌘-k, ⌘-b were mapped to different text styling commands. The ⌘ (command key) makes sense on OS X, and the C (control key) makes sense on Linux

[2019-12-07 18:42] kavindyasinthasilva opened #5035 "why not start good youtube youtube channel?"
[i](url) think dev community has not youtube channel. i think it is not develop you.
How to attract people must think. and Take action to make it public.

[2019-12-07 18:46] #5035 closed

[2019-12-08 04:38] colorfusion commented on #2046
@rhymes Sorry for taking so long with this feature. I'm done with the PR, so could you take a look at it?

[2019-12-08 19:41] bnb opened #5036 "fonts: add OpenDyslexic as an option."
**Is your feature request related to a problem? Please describe.**

I am personally dyslexic. This handily slows down my ability to parse text when reading. Implementing an option to use the OpenDyslexic font would help me (and other with Dyslexia) parse text better on dev.to.

**Describe the solution you'd like**

Similar to the comic sans font option, add an option to use OpenDyslexic for body t

[2019-12-08 20:27] j-f1 commented on #1806
I don’t think this has been resolved.

[2019-12-09 04:55] bolariin opened #5040 "Display Badge Title when hovering over badges on badges page"
**Is your feature request related to a problem? Please describe.**

I was scrolling through the badges page and had to switch to different page to learn more about a badge. A decent amount of the badges have pretty descriptive titles so I think it would be nice to only switch when you need more information about a badge.

**Describe the solution you'd like**

It would be nice to be able to hover o

[2019-12-09 08:15] karfau opened #5041 "Difference in code highlight depending on url"
**Describe the bug**

When viewing [my comment as part of a post](https://dev.to/nombrekeff/what-would-you-call-this-function-3kbg#ijn0) the code blocks look great:
![image](https://user-images.githubusercontent.com/135657/70418455-b80a7900-1a63-11ea-9497-d7709f5d7427.png)

but when using [the deeplink that the comment offers](https://dev.to/karfau/comment/ijn0):
![image](https://user-images.githu

[2019-12-09 11:56] henrikwirth commented on #4757
This feature would come in super handy and should be similar to the PR ( #4245 ) I guess.

As I'm working on a tutorial, where the code is hosted on GitHub it would be much easier to reference certain files or code-snippets right out of the codebase. Would make it easier for the user to jump into the code and see the exact version of the file I'm talking about in the tutorial.

[2019-12-09 11:59] henrikwirth commented on #2046
This feature would be super helpful. Also It would be great to be able to show the whole file like:

{% github https://github.com/johnpapa/vscode-peacock/blob/master/.vscodeignore %}

There is already this issue: #4757

I'm just wondering if it would make sense to implement that in the same PR.

[2019-12-09 12:22] christyram99 commented on #5003
Hi @maestromac, I am interested in contributing. Can I contribute to this issue?

[2019-12-09 12:24] jessleenyc commented on #5006
Hey @CalvinAllen, thanks for reporting. We'll try to reproduce this issue on our end but if you're looking to quickly ensure the author is updated, please send an email to yo@dev.to and we can take care of that for you manually.

[2019-12-09 12:33] jessleenyc commented on #5025
Our specs _do_ take a while. @maestromac does this seem expected?

[2019-12-09 12:39] jessleenyc commented on #5033
Hm, mind sharing your markdown? If you'd like to do so privately, please email yo@dev.to and we can help you there.

[2019-12-09 12:42] jessleenyc commented on #5023
Thanks for the request @deepu105, updated the title for clarity.

[2019-12-09 13:02] colorfusion commented on #2046
@henrikwirth Yeah, I agree, showing the whole file does sound like a great idea. it is probably easy for me to implement that into the PR as well, since the code retrieves the whole file to begin with. My only concerns so far with the proposal are the following:
- File types that can / cannot be embed, what's a good way to determine them, without too much code maintenance (some form of whitelist m

[2019-12-09 13:10] kirill-konshin commented on #4757
Great news! Once landed I will rewrite some of my articles!

[2019-12-09 13:18] henrikwirth commented on #2046
Shouldn't it be the same for gist embeds, which are implemented already?

Also one thing that would be nice, is to pass down the code highlighting. So the default highlighting could derive from the file-ending like `.js`, but sometimes you would rather want highlighting to be for `jsx` instead.

[2019-12-09 13:53] colorfusion commented on #2046
I believe that the two features work differently. The gist embeds basically takes in the link and generates a `<script>` tag link based on github's embed gist, which will run the script to generate the gist correctly. This PR reads the file from the github repo using the API, and displays a small snippet of it based on the line number input.

Adding custom code highlighting sounds like a great ide

[2019-12-09 13:59] Schwad commented on #5025
Thanks @jessleenyc :)

Maybe something in my setup is making things slow with initial page load/lazy loading/etc.

It appears the spec in the container *does* actually load in a normal-ish (10-20 second) time frame but wondering if I'm missing something for the test run time. (How fast does that test run on your machine? It seems to just load a page and do one action so I didn't think it would be

[2019-12-09 14:21] DarkSmile92 opened #5053 "Add helper script to reset fork / sync fork"
Add a helper shell script to reset the forked repository to the same state as the upstream.

This helps to start over with your own fork if you messed up or to get the latest from upstream and merge it to your fork.

Also a script to sync the fork with upstream to get the latest changes is helpful.

[2019-12-09 14:21] Mayism opened #5054 "Error when Modify filename in customized sync engine"
I have writen a customized sync engine trying to achieve similar Features likes OneDrive. But i have come across a trouble as follow:
when i tried to modified the filename of some placeholder, it appears error likes  "the operation can not be completed, Because the file is occuppied by another process".I have tried modified the registertion parameters in [https://docs.microsoft.com/en-us/uwp/api/w

[2019-12-09 15:23] rhymes commented on #5025
@Schwad what operating system are you using? Mac is extremely slow with Docker, in that case it might also because of this

[2019-12-09 15:27] #5054 closed

[2019-12-09 16:22] mstruve commented on #4670
As of Friday, Dec 6th we have officially migrated all of our cacheing from Memcache to Redis! Now all that remains is cleaning up the Memcache code and improving on our cacheing strategies!

[2019-12-09 16:22] Gexos commented on #5033
Hi jess, this is my markodown article

### Why they exist, what capabilities they offer and what problems they create.

Cookies are text files, and they provide many useful features on the Web, but there are two things that cause a reaction around cookies: The first is something that has plagued consumers for decades. Let's say you bought something from a traditional mail-order list. The company h

[2019-12-09 16:27] jessleenyc commented on #5033
@Gexos can you actually share a screenshot of what this looks like in the editor? Also - are you using the v1 or v2 editor? If you're not sure, you can check dev.to/settings/misc. I suspect this might be an issue with the front matter which is why I'm asking for the screenshot. Thanks!

[2019-12-09 17:02] DarkSmile92 commented on #4955
I am currently looking into this issue.
So far I found out that example posts with users are generated and the physical files to the profile images referenced are not created and not included anywhere in the repo to copy from.
An example if a file also contained in a test:
[app/javascript/listings/__tests__/singleListing.test.jsx](https://github.com/thepracticaldev/dev.to/blob/3cf6a2d4bc7991865a9c

[2019-12-09 17:11] Gexos commented on #5033
Hi Jess, I'm using the v1 editor, I tried again to post the article but
this time it was successful, I had no errors.

Thank you!

Στις Δευ, 9 Δεκ 2019 στις 6:27 μ.μ., ο/η Jess Lee <notifications@github.com>
έγραψε:

[2019-12-09 17:18] jessleenyc commented on #5033
OK, great! Closing this issue.

[2019-12-09 17:18] #5033 closed

[2019-12-09 19:46] benhalpern commented on #5036
Really great to see the quick turnaround by @codebytere here. There will need to be a bit of additional thought given to how this goes down technically but I think we're pretty close.

[2019-12-09 20:34] Schwad commented on #5025
@rhymes  - I am using MacOS, but am currently going through the whole "Catalina" upgrade and all that fun today to see if that speeds things up.

Thank you for the information! I'm a bit more comfortable developing in a fully native setup (instead of Docker, even though it takes longer to get working) so if that's the case I don't mind trying to setup without Docker then report back here with spee

[2019-12-10 02:49] sai-chai commented on #5003
I reproduced it on my own machine and it looks like the warnings that you're getting are actually about the drawing mini-game. It looks like that mini-game might not work on a touch device running in Chromium Edge.

[2019-12-10 03:51] sai-chai commented on #5003
As for the twitter auth error itself, the console was being cleared between page loads so I checked Preserve Log, and tried it again. I got this error:

<img width="591" alt="Screen Shot 2019-12-09 at 8 44 01 PM" src="https://user-images.githubusercontent.com/27644730/70491276-7e1e8e80-1ac6-11ea-94ad-4a5e1acba955.png">

So it doesn't look like Edge is actually blocking Twitter or Dev.to from setti

[2019-12-10 05:26] christyram99 commented on #5040
Hi @jessleenyc, Can I contribute to this issue.

[2019-12-10 08:45] anthonyms opened #5061 "Moving "Delete Account" action into background job"
Splitting #3941 into two parts.

#3941 is used to handle the user banishing. I have already worked on a pull request for it.
This is for handling account deletion asynchronously.

Comments as copied from the initial issue;

[2019-12-10 12:57] maestromac commented on #5040
Go ahead @christyram99 !

[2019-12-10 14:08] christyram99 commented on #5040
Ok @jessleenyc

[2019-12-10 15:37] GuitarKat opened #5064 "Call To Action underneath Profile Card on Article being cut off"
**Describe the bug**

It has a call to action that is being cut off on the sidebar on an article.

**To Reproduce**

Note: This was viewed on a 1900x1400 monitor, but was not viewable on smaller desktop/tablet/smartphone sizes (ie: less than 1250px)

1. Be not signed in
2. Go to https://dev.to/michaeljolley/false-4d8m
3. Go to the right side underneath the Profile Card
4. View nice Call to Action

[2019-12-10 16:54] Schwad commented on #5025
Good news! It is much, much faster to run in the native (non-docker) setup for the tests (again, with the *on my machine* caveat :) )

[code]

Same spec. I will close this issue and put a note at the top. Thank you so much for your help! :)

[2019-12-10 16:54] #5025 closed

[2019-12-10 17:14] Leopere commented on #3876
I mean Keybase is blockchain-backed, to begin with if I recall correctly.

[2019-12-10 18:09] mstruve opened #5068 "Create A Way To Differentiate Pentesters From Regular Users"
### Problem
When pentesters poke around the DEV codebase they often end up causing a lot of errors as they try to break things. Most of the times these errors are not actually security vulnerabilities but rather our code breaking when it gets unexpected inputs. This can cause our error reporting to be very noisy.

### Solution
In an effort to cut down the noise we would like to have a way to disti

[2019-12-10 19:36] mstruve opened #5072 "Reaction Creation Fails due to missing Reactable ID"
**Describe the bug**
There is some spot in the codebase(pretty sure its in the front end javascript) where we are attempting to update a Reaction record but we do not send sufficient data and we end up with this error.
[code]
This error is raised on line 58 of the reactions controller and is due to the following params being sent.
[code]
**To Reproduce**

Not sure. The referrer url from all the Ho

[2019-12-10 20:02] mstruve opened #5073 "Requesting XML from articles/feed endpoint Should Not Raise an Error"
**Describe the bug**
When the `articles/feed` endpoint is hit and the format requested is xml we end up throwing an error
[code]

**To Reproduce**
Request xml from the feed endpoint with one of the following paths `/feed.xml` or `/rss.xml`
[code]

**Expected behavior**
Requesting an xml should either return a valid xml response without any error being raised or return an error response saying the

[2019-12-10 21:09] JRSofty opened #5075 "Using API to request published articles from a specific user without need of api-key"
**Is your feature request related to a problem? Please describe.**
When using the API to display my published articles I'm forced to use the `api/articles/me/published` endpoint. This endpoint requires the use of the api-key. While this would make sense if I were using the API to create my own editor, I only want to display links to my articles on my website, and I'm forced to try to keep my api-k

[2019-12-10 21:14] Zhao-Andy commented on #5075
I think you could try `https://dev.to/api/articles?username=yourusername`?

Looking at our documentation now, it probably makes more sense to update "User's articles" to "Your own articles" or some similar language. I eventually found it under "Published articles" and checking for the available parameters. :)

Hope that answers your question!

[2019-12-10 21:24] mstruve commented on #4670
And with this merged https://github.com/thepracticaldev/dev.to/pull/5059 we can officially close this issue 💃

[2019-12-10 21:24] #4670 closed

[2019-12-11 00:38] carlows commented on #4002
What's the status of this issue? I see a WIP pull request, is it just blocked by designs? 🤔

[2019-12-11 00:52] carlows commented on #5018
I stumbled across this the other day, I'd like to take this issue, does anyone have any suggestions on what could cause this? Looks like some sort of caching issue to me 🤔

[2019-12-11 07:09] JRSofty commented on #5075
Hi,

Ah, I somehow missed that. That works and then we can close this issue.

[2019-12-11 07:09] #5075 closed

[2019-12-11 16:57] luchiago commented on #4650
Hi, this issue still need help?

[2019-12-11 17:01] Zhao-Andy commented on #3996
Hi @krishnadalal12 and @dennislwm, sorry for the late reply! Are you two still having this issue?

[2019-12-11 17:09] mstruve opened #5081 "Prevent Tags From Being Created With Invalid Names"
**Describe the bug**
We are creating tags that have invalid names based on our tag name validation criteria
[code]

There are currently 2087 tags in our system that have invalid names and the most recent one was created today. These invalid names contain special characters that then cause our `cached_with_tags` scope
[code]
to break like this:
[code]

**To Reproduce**
I am honestly not sure how in

[2019-12-11 17:23] krishnadalal12 commented on #3996
Hi Andy,

Yes, there is usually a delay and not all the content gets pulled from the RSS feed.

Cheers,

Krishna Dalal
Developer Marketing Specialist
Krishna.dalal@okta.com
[Okta • Connect everything]<https://www.okta.com/>

From: Andy Zhao <notifications@github.com>
Reply-To: "thepracticaldev/dev.to" <reply@reply.github.com>
Date: Wednesday, December 11, 2019 at 9:01 AM
To: "thepracticaldev/dev.t

[2019-12-11 18:00] luchiago commented on #1520
HI, does this problem still need help?

[2019-12-11 18:15] ShraddhaAg commented on #4650
Hi @luchiago! I'm still working on this one. Could you please pick up another issue? :)

[2019-12-11 18:25] JWesorick commented on #4002
See my comment for some context. I tried implementing it and ran into trouble where I could not figure out how to do the lookups in the github api without running into rate limits. I believe if that gets figured out they would be able to come up with designs for the badges.

[2019-12-11 18:40] luchiago commented on #4650
@ShraddhaAg of course, no problem!

[2019-12-11 21:07] carlows commented on #4002
I saw your comment, but I also saw this open pull request which I was referring to https://github.com/thepracticaldev/dev.to/pull/4007

I was wondering if it's still being worked on 😄

[2019-12-11 23:22] carlows commented on #5018
I did a little research on this and what I found was that:

1. the first thing that gets executed is here: https://github.com/thepracticaldev/dev.to/blob/master/app/views/layouts/_user_config.html.erb#L3

The theme class is loaded from `localStorage`, which means that if there's not an existing value, the user will see the default theme.

2. This file does an asynchronous request to fetch the user

[2019-12-12 01:53] bolariin commented on #5081
I think the invalid tags might have been made using the API. #4239 is an attempt to resolve this.

[2019-12-12 06:33] lightalloy commented on #5081
A related issue that could be fixed along with this one #2934

[2019-12-12 06:39] lightalloy commented on #3594
Should be fixed by #5063

[2019-12-12 06:39] #3594 closed

[2019-12-12 06:40] lightalloy commented on #3715
This feature was implemented via the attached pull requests.

[2019-12-12 06:40] #3715 closed

[2019-12-12 07:47] lartpang opened #5085 "I can't delete my account..."
**Describe the bug**

I can't delete my account...

**To Reproduce**

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/26847524/70692499-747b6d80-1cf6-11ea-8ada-a49ec9abbd5e.png)

![image](https://user-images.githubusercontent.com/26847524/70692641-b99f9f80-1cf6-11ea-8b15-e53a312b600b.png)

**Desktop (please complete the following information):**

- OS: ub

[2019-12-12 08:57] DeJaVoo opened #5086 "Medium RSS feed fails to import all stories"
**Describe the bug**

**To Reproduce**

1. Generate you medium rss feed ttps://medium.com/feed/@username
 2. Go to settings, choose Publishing from RSS
3. In the rss feed url , set your medium rss feed
a. Mark the RSS source as canonical URL by default
b.  Replace self-referential links with DEV-specific links
4. Click on update and wait import process to finish
5. **Error:** Not all stories were

[2019-12-12 09:00] FreekVR commented on #5003
Just to confirm, am getting the same errors in Chromium Edge (Beta 79x). Github login is working fine. Unfortunately, it doesn't look like anything that Edge tracking prevention does is logged to the console :(

I added a tracking prevention exception for dev.to to workaround the issue (was set to "strict" as reported earlier): edge://settings/privacy/trackingPreventionExceptions

[2019-12-12 10:35] alishahenderson opened #5087 "Write a post error"
Hi Tea,

I am not able to post nay article on https://dev.to/.

Please reolve this asap.

here is the snapshot:
![image](https://user-images.githubusercontent.com/56536629/70705010-316ec980-1cf9-11ea-8242-fd5818436cb1.png)

[2019-12-12 13:18] keithrbennett opened #5088 "Resolve Rubocop Rails.root.join complaints"
When I run rubocop on the latest master I get several complaints like this one:

[code]

Contrary to popular belief, Ruby will join the path components with a forward slash even when running in Windows:

[code]

This is usually not a problem in Windows, because the Ruby runtime will translate the directory separators as needed to perform any operations. However, if the filespec is being passed on

[2019-12-12 13:51] matheusazzi commented on #5072
I'll work on that.

[2019-12-12 14:20] mstruve commented on #5072
That would be fantastic! Thank you!!!!

[2019-12-12 15:52] res33155 opened #5091 "Improve hidden comments by marking them and allowing them to be expanded"
**Is your feature request related to a problem? Please describe.**

[Original comment from me on the DEV announcement](https://dev.to/ryansmith/comment/imnp).

For the hidden comment feature, it hides the comment completely. Users see a message at the bottom of the post, but there is no way to access that comment. I think this could lead to unwarranted censorship which can leave the readers and co

[2019-12-12 22:28] sai-chai commented on #5003
You have to change the console to show verbose errors to see those logs. Unfortunately, the error that dev.to is encountering with tracking prevention is rather cryptic and is being thrown by Dev's service worker, not by Edge itself. So it seems like a bug, not a feature.

[2019-12-12 22:49] michael-tharrington opened #5099 "Users receiving error message in notifications that won't go away."
Various users have reported receiving the following error message from Sloan in their [notifications](https://dev.to/notifications):

![https://p78.f0.n0.cdn.getcloudapp.com/items/WnuEEOGO/Image+2019-12-12+at+5.42.02+PM.png?v=298a721104c8130825d81169de61fc70](https://p78.f0.n0.cdn.getcloudapp.com/items/WnuEEOGO/Image+2019-12-12+at+5.42.02+PM.png?v=298a721104c8130825d81169de61fc70)

The error doesn

[2019-12-13 02:45] sai-chai commented on #5003
Okay, I think this might be a clue. The auth endpoints on dev.to for Github and Twitter use different parameters.

The Twitter endpoint uses `/auth/twitter?callback_url=https://dev.to/users/auth/twitter/callback`
The Github endpoint on the other hand uses `/auth/github?state=navbar_basic`

I have a theory (and I'm pretty sure this is a bug) that Edge is blocking the twitter endpoint because it pas

[2019-12-13 09:38] coolbrg commented on #1520
@luchiago Yes, please go ahead as I am not getting much time to dig into it.

This is the last point where I could reach https://github.com/thepracticaldev/dev.to/issues/1520#issuecomment-545369557

[2019-12-13 10:48] jackricher45 opened #5101 "bug erroror"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-12-13 16:22] maestromac commented on #5087
Hello @alishahenderson , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-12-13 16:22] #5087 closed

[2019-12-13 16:57] maestromac commented on #4116
Resolved with https://github.com/thepracticaldev/dev.to/pull/4239

[2019-12-13 17:31] maestromac commented on #5073
Resolved with https://github.com/thepracticaldev/dev.to/pull/5077

[2019-12-13 17:31] #5073 closed

[2019-12-13 17:54] maestromac commented on #5088
Let's follow Rubocop's suggestion @keithrbennett

[2019-12-13 19:44] luchiago commented on #1520
@coolbrg but could you reproduce the bug?

[2019-12-13 20:26] mstruve commented on #5099
Likely fixed by:
https://github.com/thepracticaldev/dev.to/pull/5103
or by
https://github.com/thepracticaldev/dev.to/pull/5083.

Do we want to check back with the users and see if they are good now before we close this?

[2019-12-14 01:09] dennislwm opened #5111 "API: get favorite tags for a user"
**Is your feature request related to a problem? Please describe.**

I'm developing a custom feed page for my user that fetches articles by tags from Dev.to and I want to automatically get the user's favorite tags, so that I can filter the articles automatically when they are retrieved. So I'd need a way to get the favorite tags from Dev.to by username.

Is this currently possible?

**Describe the

[2019-12-14 06:32] coolbrg commented on #1520
@luchiago  Yes

[2019-12-14 07:53] keithrbennett commented on #5088
@maestromac Thanks for that guidance. I've made those changes. I decided to make it a separate PR (#5114).

[2019-12-14 18:13] Almenon commented on #5036
Didn't know that font existed, that's pretty cool 👍

[2019-12-15 01:45] bnb commented on #3363
Just want to add a +1 for this. It is currently a blocker for ramping up official Node.js usage of the platform for the Node.js org.

[2019-12-16 03:06] matheusazzi commented on #5072
@mstruve I could reproduce the error and have a fix for it https://github.com/thepracticaldev/dev.to/pull/5122

[2019-12-16 05:34] Pikchat opened #5123 "bug"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-12-16 11:42] jessleenyc commented on #5010
A quick win would be be prompt new users to add their twitter/github accounts during onboarding...maybe even with an explanation/reminder that they might accidentally login with the wrong account in the future or something.

[2019-12-16 12:06] jessleenyc commented on #5085
Sorry about that @lartpang. We'll take a look to see if this is a bug affecting more people. In the meantime, if you email yo@dev.to from the email address associated with your dev account, we can help you delete your account.

[2019-12-16 12:12] jessleenyc commented on #5123
Hey, since this issue is blank we are going to close it. Feel free to open a new issue if you have more info. If you're encountering issues with your individual account, please email yo@dev.to for support. Thank you!

[2019-12-16 12:12] #5123 closed

[2019-12-16 13:26] #253 closed

[2019-12-16 15:15] #5099 closed

[2019-12-16 16:34] #4941 closed

[2019-12-16 16:42] Schwad commented on #5111
@benhalpern A question for workflow on this issue.

The label `type: feature request` says to wait for `approved` label to commence work. However, the `help wanted` label indicates that contributions are welcome.

In any case where there's a `help wanted` label, should I consider that ready-for-help unless the comments indicate otherwise?

[2019-12-16 17:04] liviulupei opened #5137 "Getting page with error code 500 when clicking WRITE A POST"
**Describe the bug**

I'm getting sent to a page with a 500 error code after I click on the WRITE A POST button from the header.

**To Reproduce**

1. Log into DEV.TO
2. Click on the WRITE A POST button from the header.

**Expected behavior**
The editor should open.

**Actual behavior**
Getting page with error code 500.

**Screenshots**

**Desktop (please complete the following information):**

-

[2019-12-16 17:05] maestromac commented on #5137
Hello @liviulupei , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-12-16 17:05] #5137 closed

[2019-12-16 17:13] maestromac commented on #5088
Resolved with https://github.com/thepracticaldev/dev.to/pull/5114

[2019-12-16 17:13] #5088 closed

[2019-12-16 18:46] maestromac commented on #5111
Hello @Schwad , Ben is planning to leave his thought on how this feature should be tackled.

[2019-12-16 20:21] itsHall opened #5143 "Feedback Page Bugs"
**Describe the bug**

When reporting a comment for abuse, the form would not send and returned no error messages. Once I clicked in each field (the link to the comment was auto-generated) the form finally went through. The styles for the confirmation page are not set, so the confirmation message is left-aligned in the window with the `<h2>` tag sitting behind the top nav bar.

**To Reproduce**

1.

[2019-12-16 21:59] aaronpowell commented on #3996
Going to bump this myself, I haven't had articles sync'ed from my RSS feed in about 2 weeks. I've tried to manually fetch the feed (done multiple times over multiple days) and I've tried removing/re-adding the feed (again, multiple times).

[2019-12-16 23:34] benhalpern commented on #5143
Thanks for this. #5147 should fix it!

[2019-12-17 00:00] #5143 closed

[2019-12-17 02:29] ikomwrestling opened #5150 "IPv6 support"
**Is your feature request related to a problem? Please describe.**

Dev.to website is not reachable via IPv6. It would nice of you fix it.

**Describe the solution you'd like**

Enable IPv6 support for Dev.to website. Since it seems to use Fastly as CDN provider, they will happily enable IPv6 if emailed them.

**Describe alternatives you've considered**

https://docs.fastly.com/en/guides/ipv6-supp

[2019-12-17 09:33] keithrbennett opened #5152 "Need to change code to accommodate envie deprecation."
On running `bundle`, I got:

`DEPRECATION WARNING: Default values will be removed in the next minor-release of ENVied (i.e. > v0.9). For more info see https://gitlab.com/envied/envied/tree/0-9-releases#defaults. (called from block in load at /Users/kbennett/work/dev.to/Envfile:4)
`

I'm not familiar with this gem, but I _think_ we could just set the defaults directly into the `ENV` object instead,

[2019-12-17 10:46] ninankara opened #5154 "I cannot create new articles using curl with front matter"
**Describe the bug**
I want to POST new articles using API. I was using CURL to post the request.
At first I tried to post using normal curl (without using front matter), it was success.
Then I tried to post using front matter. I followed the documentation exactly, but failed.

`{"error":"(\u003cunknown\u003e): could not find expected ':' while scanning a simple key at line 3 column 1","status":42

[2019-12-17 13:07] marcobehler opened #5156 "canonical_url for posts not working properly anymore"
Hi guys,
I tried adding canonical_url in my frontmatter or even in the code editor directly, but when I have a look at https://dev.to/marcobehler/java-microservices-a-practical-guide-29kn (for example), the rel=canonical tag is missing.

Others seems to have the same issue https://dev.to/marcobehler/canonicalurl-for-posts-not-working-properly-3l8p .

THanks

[2019-12-17 13:09] keithrbennett opened #5157 "Error comparing follower id's"
**Describe the bug**

When running `rails spec` I get 2 errors relating to followers in the attached file. An excerpt:

[code]

Strangely, when I run the test individually in RubyMine, the error does not occur.

- Device: MacBook Pro
- OS: Mac OS Mojave
- Browser: N/A
- Version: N/A

Test Output File:

[spec-output.txt](https://github.com/thepracticaldev/dev.to/files/3973398/spec-output.txt)

[2019-12-17 13:10] Arteneko commented on #5156
Can second that, another example of article without the canonical is [this one](https://dev.to/artemis/rust-is-fun-5gcb) (or pretty much every article I published).

[2019-12-17 15:21] Schwad commented on #1305
Hello @alainvanhout and @jessleenyc ! :) 👋

Thank you for filing this, it gave me a fantastic opportunity to do a deep dive on the `dev.to` codebase which was a very enjoyable experience. Although I have a "contributor" badge, I'm just a member of the OSS community who loves Ruby/Rails/dev.to and am trying to pitch in a little bit.

I am pleased to report that:

1. Everything is behaving as antici

[2019-12-17 15:58] CristinaRuth commented on #5156
Third Ed. Noticed this too

[2019-12-17 17:07] #5011 closed

[2019-12-17 17:34] OmisNomis commented on #5156
I don't see the `rel=canonical` but Moz is telling me my newest cross-post does have it, so 🤷‍♂

[2019-12-17 18:13] gvpmahesh commented on #5154
[code]

@ninankara This seemed to work for me .. when in doubt use postman :D

I referred this file to understand what params i need to send to make an article

[2019-12-17 20:41] benhalpern commented on #5156
Ah I get it. The canonical URL is not showing up because of the serviceworker migration. So this only affects the human browser of the page. If they go into dev tools and turn off serviceworkers by clicking “bypass for network”, it will show up just fine.

We can adjust the serviceworker version to also include this in some way to ease worries, but the machine-readable version of the page will alw

[2019-12-17 22:00] marcobehler commented on #5156
Ah, thanks! Makes sense. For me that's good enough.

[2019-12-18 01:24] ninankara commented on #5154
this one is without front matter. have you tried adding front matter. from the link you've written, this part.
[code]

[2019-12-18 02:08] #5154 closed

[2019-12-18 02:45] Delta456 opened #5161 "Basic markdown in title"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Allow basic markdown like bold, italics, underline, strikeout and `code` (only single ``) in title.

**Describe alternatives you've considered**
No

**Additional context**

[2019-12-18 04:59] RehmatFalcon opened #5162 "Offline page does not look right"
**Describe the bug**

The offline page for dev.to does not seem to be correct. I mean, it does not look like before.

Only the bottom half of the Dev logo is visible.  As much as I can remember, the dev logo was centered in the screen and there were no footer.

**To Reproduce**

View Dev page in offline mode.

**Expected behavior**

Offline page as before.

**Screenshots**

![image](https://user-i

[2019-12-18 07:53] kasuken opened #5163 "Edge navigation issues"
Content is not loaded and your are not able to navigate on the site
**To Reproduce**

1. Login on dev.to
2. navigate on the homepage
**Screenshots**

![image](https://user-images.githubusercontent.com/2757486/71066612-41603080-2173-11ea-84b0-b92636e67fd7.png)

**Desktop:**

- OS: Windows 10
- Browser: Edge

[2019-12-18 14:20] pkfrank opened #5164 "Automatically create tag-specific Connect channel when new mod is added"
**Is your feature request related to a problem? Please describe.**
As a community manager, it is currently a manual process to set up a new tag-specific Connect room when a new user is granted tag mod privileges (on a tag with at least 1 existing tag mod).

(If there is only one mod on the tag, there's no need for a Connect channel.)

**Describe the solution you'd like**
During the tag mod assignm

[2019-12-18 17:52] 3v0k4 commented on #4497
Today I got stuck on this too. Then I realized that I was not sending the params inside the `"article"` root key. In other words, I was sending

[code]

instead of

[code]

This is confusing because the first request works but it "ignores" `tags`. That's because of `wrap_parameters` and how params are accessed in the controller `params.permit(:article)...`.

From the [`ParamsWrapper` docs](https:/

[2019-12-18 18:21] pavelloz commented on #4966
https://github.com/paulirish/lite-youtube-embed/pull/18 is merged as of today. :)

There is also timestamp issue opened ( https://github.com/paulirish/lite-youtube-embed/issues/38 ), so hopefully it will go forward.

[2019-12-18 22:42] mstruve opened #5170 "Allow Comments From Deleted Articles To Be Viewed"
Currently, we do not remove comments when an article is deleted. The idea behind this is that if a user created a really nice, thorough comment they want to share with others, they can still do that even if the related article is deleted. In this sense, the comment belongs to the user more so than the article. However, currently viewing a comment that has no article is not possible [because we ret

[2019-12-18 23:28] brycedorn opened #5172 "Add GitLab liquid tag"
**Is your feature request related to a problem? Please describe.**

Hi! I use [GitLab](https://about.gitlab.com/) to host my projects and would love it if I could link to them with the little preview that GitHub repos get. Could I make a PR adding a tag for it?

**Describe the solution you'd like**

`{% gitlab brycedorn/test %}`

Would look similar to GitHub repo one (and support the `no-readme` o

[2019-12-19 00:59] twinsfan421 commented on #5170
@mstruve Hi, I can work on this.

[2019-12-19 01:33] mstruve commented on #5170
That would be fabulous! THANK YOU!!!

Please let us know if you have any questions.

[2019-12-19 05:19] superhair123 opened #5173 "Tips for Interior designing for a lasting impression"
Creating an inspiring interior design will surely give a strong first impression in the minds of guests. This is something that every homeowner looks forward to as it gives a proud feeling when guests and neighbors admire your home’s impressive interior design. Do you wish to go for <a href="https://www.simplicitydesignusa.com">Interior design services</a>? If yes, then we are pleased to share wit

[2019-12-19 08:12] AntoniaDavis opened #5174 "Hello Team,"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-12-19 08:14] AntoniaDavis opened #5175 "Hello Team, i am unable to create new post dev.to account. Please rectify this issue ASAP."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-12-19 11:15] leewynne opened #5177 "Generalisation: Convert app/models/tag.rb list of suggested tags for onboarding to variable."
**Is your feature request related to a problem? Please describe.**

Hardcoded tag list, needs to be converted to variable to support new communities.

**Describe the solution you'd like**

New env variable to be created and added to internal dashboard.

**Describe alternatives you've considered**

n/a

**Additional context**

Initially suggested by Ben
<img width="670" alt="Screenshot 2019-12-18 a

[2019-12-19 11:40] keithrbennett commented on #5157
One of the lines that produces this errors can be seen at https://github.com/thepracticaldev/dev.to/blob/d0441bb4567e88e558514bd43c5bc28e95c191a1/spec/services/notifications/new_follower/send_spec.rb#L95.

[2019-12-19 11:43] leewynne opened #5178 "Generalisation: Convert all assets in app/views to use env variables for meta content. Generate new env variable for general meta keywords."
**Is your feature request related to a problem? Please describe.**

Some of this is completed already, see app/views/pages/about.html.erb as an example but is missing variables for keywords.

**Describe the solution you'd like**

All meta content to be variable based and a potential solutions for page specific meta keywords for pages (new and existing)

**Additional context**

See example screensh

[2019-12-19 15:29] #5174 closed

[2019-12-19 15:30] maestromac commented on #5175
Hello @AntoniaDavis , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-12-19 15:30] #5175 closed

[2019-12-19 16:03] #5072 closed

[2019-12-19 17:06] keithrbennett commented on #5157
I had been running the tests on my Mac which had Postgres 12.1 installed. travis.yml specifies 9.6. I downgraded to 9.6 and the tests stopped failing. Very strange.

[2019-12-19 17:20] Zhao-Andy commented on #5091
Hi Ryan, thanks for the feedback. We’re definitely taking this into consideration, and will be taking steps to improve it in the next iteration. I like the idea of collapsing comments that have been marked as low quality/non-constructive.

On a different note, we think there’s an important distinction that we don’t show the same visual patterns for low quality comments and for hidden comments thou

[2019-12-19 17:39] ryan3E0 commented on #5091
Thanks @Zhao-Andy, sounds good! Feel free to close this one if it is being handled elsewhere.

[2019-12-19 18:42] robbkidd commented on #5157
Seems to happen reliably with PostgreSQL 12 and running `rspec ./spec/services`. Failures occur when scoped to `spec/services` and do _not_ occur when scoped smaller:

💚  `rspec ./spec/services/notifications/new_follower/send_spec.rb`
💚  `rspec ./spec/services/notifications/new_follower`
💚  `rspec ./spec/services/notifications`
😭   `rspec ./spec/services`

## Showing the Work

### Run the test sui

[2019-12-19 20:14] maestromac commented on #5157
Thanks for this report @keithrbennett and the audit @robbkidd . Wow what a weird bug indeed 🤔

[2019-12-19 22:27] dvf commented on #1127
🙏

[2019-12-19 22:33] robbkidd commented on #5157
#2483 👀

Oh lord, now this has nerd-sniped me.

[2019-12-20 00:47] fl-y opened #5186 "Dev.to not responding properly"
**Describe the bug**
[Symptoms]
- The profile picture is black
- Loading widget won't go away
- Anything after the first component is waiting to be loaded(Only the placeholder is apparent)
- Cannot click on the profile picture
- Messages cannot be viewed
- Overall, the website itself feels very broken
- dev.to showed the normal logged off state when accessed via incognito mode.
- 'Empty cache and

[2019-12-20 00:52] ghost opened #5187 "adding itch.io to the connected accounts section"
**Is your feature request related to a problem? Please describe.**
N/A

N/A
**Describe the solution you'd like**

Just a suggestion to add itch.io to the link of connected services. I think it would benefitthe community.

**Describe alternatives you've considered**
N/A

N/A
**Additional context**

Thanks

[2019-12-20 00:59] #4761 closed

[2019-12-20 03:07] twinsfan421 commented on #5170
@mstruve Do you want the deleted article comment to be read only? A simple display of the comment with maybe the reaction count total? Or do you want some of the same functionality of comments like editing, deleting, replying, liking, moderating, etc...?
I think the best option might be to create a separate deleted article comment view or partial view and render it if there is no commentable.  Let

[2019-12-20 09:26] anle1337 opened #5188 "notes on deploying to heroku"
**Is your feature request related to a problem? Please describe.**

There's no instructions to deploy to heroku or prod

**Describe the solution you'd like**

I got the docker-compose working locally, but man deploying to prod is just not working

I'd love a writeup

[2019-12-20 15:41] #4103 closed

[2019-12-20 16:51] xtrp commented on #5162
This might be due to the new addition of the default footer and navbar before load using a service worker.

Ben Halpern (founder of DEV) wrote about the addition of a service worker on his own blog post: https://dev.to/devteam/instant-webpages-and-terabytes-of-data-savings-through-the-magic-of-service-workers-1mkc

Looks like this could be solved by possibly removing that service worker JS file in

[2019-12-20 17:18] michael-tharrington opened #5191 ""Vomits" Stuck in internal/reports"
In [internal/reports](https://dev.to/internal/reports) there is a section for "Abuse Reports" where admin can mark "vomits" (🤢) as valid or invalid. Vomits are a feature that mods have access to for marking problem content (articles and comments), but an admin ultimately must verify these actions in [internal/reports](https://dev.to/internal/reports) by marking the 🤢 as "confirmed" or "invalid". W

[2019-12-20 17:28] mstruve commented on #5170
@twinsfan421 great question! Yes, let's go with a simple read-only view that shows the reaction count. In the future, if we want to make it more dynamic we can. Thank you!

[2019-12-20 19:57] #4998 closed

[2019-12-20 21:01] 12vanblart opened #5196 "Seeing duplicate messages in direct chat"
**Describe the bug**

When swapping between conversations with 2 users in Direct Chat, I'm seeing multiples of one of the chats. Every so often it resets back to a single copy of the conversation.

**To Reproduce**

1. Have a conversation started with 2 users in Dev direct (1-1 conversations with each)
2. Open direct messaging with the paper airplane link
3. click between the 2 conversations
4. Th

[2019-12-21 13:43] dinesh1995 commented on #5040
Hey @jessleenyc  @christyram99 I'm a newbie here. Can i take this up?

[2019-12-21 16:32] nickytonline opened #5202 "Add a DEV VS Code extension pack to the recommended VS Code Extensions"
**Is your feature request related to a problem? Please describe.**

N/A

**Describe the solution you'd like**

We've added several extensions to the [list of recommended extensions for VS Code](https://github.com/thepracticaldev/dev.to/blob/master/.vscode/extensions.json) when working on the DEV repository. After I added a few more extensions to the recommended ones, I made an [unofficial extensio

[2019-12-21 18:57] Glennmen commented on #193
I am also experiencing this, I changed my email address and it triggered "new account". I thought that I have been active enough on DEV to not be a "new member" anymore 😅

![image](https://user-images.githubusercontent.com/11406433/71312498-f0c72c80-242b-11ea-9e11-fb02c66732cd.png)

![image](https://user-images.githubusercontent.com/11406433/71312506-04729300-242c-11ea-9470-9bd56a7cbd5a.png)

[2019-12-22 00:34] korczynsk1 commented on #4650
Hi @ShraddhaAg here is solution: https://github.com/thepracticaldev/dev.to/pull/4656.
But tests are still undone if you would help with it :)

[2019-12-22 04:44] keithrbennett commented on #5157
Piggybacking on @robbkidd's excellent detective work, I wanted to see if I could find the specific culprit sabotaging the test when run with Postgresql 12.

My hypothesis was that something in one or more of the tests in one of the other subdirectories of spec/services was interfering, so I wrote the attached script to run tests with each subdirectory preceding new_followers, e.g.:

[code]

I test

[2019-12-22 04:50] keithrbennett commented on #5157
Maybe next I will try removing them one by one and seeing when the failure stops.

[2019-12-22 04:52] keithrbennett commented on #5157
I have posted that test script as a gist, at https://gist.github.com/keithrbennett/f71566c84d3dac7ac2181b33ef455fa3.

[2019-12-22 11:15] keithrbennett commented on #5157
I don't understand the connection between (de)serialization and the behavior we're seeing with the notifications records, but this appears to be the line that results in the error:

https://github.com/thepracticaldev/dev.to/blob/5812ecc3835ac1ca005ca5c1dde3430ed0e3d4ae/spec/services/audit/event/util_spec.rb#L9

[2019-12-22 19:20] learttmorina opened #5204 "Add following count and followers count within profile of users"
It will be nice to know how many followers and following has my friend.

By now I can't know how many followers he got, only if he screenshots his profile.

[2019-12-22 19:40] keithrbennett commented on #5157
Sorry, @robbkidd . I did not notice before that you had already identified the offending file.

[2019-12-22 20:00] Glennmen commented on #5204
The DEV team has decided that this is something they don't want because it causes people to compare their profiles and gives a false sense of success.

https://github.com/thepracticaldev/dev.to/issues/3639#issuecomment-531361524

https://github.com/thepracticaldev/dev.to/issues/2778

[2019-12-22 20:00] keithrbennett commented on #5157
The line in the utils.rb file causing the problem is:

```compare_to = utils.deserialize(utils.serialize(event))```

Anyone know wny?

[2019-12-22 20:03] cxw42 opened #5205 "Cannot read the privacy policy during onboarding"
Submitted as kindly suggested by @michael-tharrington via email 2019-11-27 (US Eastern time).

**Describe the bug**

During onboarding, I cannot access the privacy policy.  When I try to do so, I am redirected back to the onboarding page.

**To Reproduce**

- Start the onboarding process as a new user
- Click "Continue" below the cat animgif on `dev.to/onboarding`
- Click the link for the Terms an

[2019-12-22 20:04] #5204 closed

[2019-12-23 10:50] jessleenyc commented on #5150
Just a note here that I believe we had a fastly ticket open to discuss this issue previously -- looks like it got closed by stalebot.

[2019-12-23 10:59] jessleenyc commented on #5196
Thanks for flagging, I believe @sarthology is looking into it!

[2019-12-23 11:03] sarthology commented on #5196
@jessleenyc Yes, @jessleenyc I'm on it.

[2019-12-23 11:12] jessleenyc commented on #5186
@fl-y are you still experiencing this issue?

@maestromac heads up here.

[2019-12-23 11:19] jessleenyc commented on #5172
I think in the past we've held off on this because we weren't sure how to go about implementing for repos that are self-hosted, but it probably makes sense to start with repos that are hosted by gitlab first.

[2019-12-23 12:49] siddharth018 opened #5219 "bug"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-12-23 14:30] fl-y commented on #5186
Nope, it was an experience that occurred once, which did not occur again.

[2019-12-23 14:34] jessleenyc commented on #5219
Hey, since this issue is blank we are going to close it. Feel free to open a new issue if you have more info. If you're encountering issues with your individual account, please email yo@dev.to for support. Thank you!

[2019-12-23 14:34] #5219 closed

[2019-12-23 15:14] rhymes opened #5222 "Chat: UI tweak for delete and edit buttons for messages"
**Is your feature request related to a problem? Please describe.**

I think we should tweak/enhance the UI/positioning of the `Delete` and `Edit` buttons that appear on hover on chat messages.

It's weird that Delete is so easily accessible and it's the first item from left to right

**Describe the solution you'd like**

Since `Delete` and `Edit` shouldn't be features that are used all the time we

[2019-12-23 16:18] mstruve opened #5223 "HTTP_CLIENT_IP and HTTP_X_FORWARDED_FOR mismatch Causing IpSpoofAttackError"
We are seeing a nontrivial amount of  `ActionDispatch::RemoteIp::IpSpoofAttackError` errors in Honeybadger. Most of which occur when the `/async_info/base_data` endpoint is called. When this error occurs this is what we see in Honeybadger
[code]

This endpoint is called in a couple of places in our javascript using the function `function fetchBaseData()` and my guess is that within those requests

[2019-12-23 16:26] mstruve commented on #5081
I think we can close this now. I just checked and since my cleanup and @maestromac's PR, there have been no new invalid name tags.

[2019-12-23 16:26] #5081 closed

[2019-12-23 17:22] CrazyVideoGamez opened #5225 "Deleting my old account"
I made my GitHub account and a dev.to account but then I deleted my GitHub account. Once I made a new GitHub account with the same username and information, dev.to won't let me in anymore. Help!

[2019-12-23 17:27] maestromac commented on #5186
Thanks for the follow-up @fl-y . This might be an effect of recent service worker migration that resolved itself. Please let us know if this issue appears again.

[2019-12-23 17:27] #5186 closed

[2019-12-23 17:29] benhalpern commented on #5196
🤦‍♂ Sorry this had to do with a production-only configuration of our edge cache. I fixed it and I believe things are better.

[2019-12-23 17:46] maestromac commented on #3996
Sorry for the late response @aaronpowell . I took a look at your feed and it seems like it was synced recently. I will further investigation to see what might be causing feed not to sync.

[2019-12-23 18:25] Defman21 opened #5226 "Do not escape characters for <title>"
**Describe the bug**

The article is called "Why & How I built css.gg - A life story.". In Firefox, "&" is escaped as HTML in `<title>` and the tab looks like this:

![image](https://user-images.githubusercontent.com/7100645/71374133-99ab8e00-25ca-11ea-9c7d-0d77b667f6f8.png)

**To Reproduce**

Open https://dev.to/astrit/why-how-did-i-build-500-css-only-icons-library-a-life-story-34on

**Expected b

[2019-12-23 19:30] maestromac commented on #5086
Sorry for the late response @DeJaVoo .

Medium's API endpoints are only for creating posts and not for retrieving. And like you pointed out, Medium's RSS include at most 10 recent posts (which includes comments).  Unfortunately, there's no straight forward way to obtain all the posts aside from scraping 🙁

[2019-12-23 19:56] DeJaVoo commented on #5086
Thank you for your reply.
Can you provide anyway to easily scrap Medium.com?

[2019-12-23 19:57] RyKilleen commented on #1154
I'll attempt to tackle this over break, before the new year!

[2019-12-23 20:41] mstruve opened #5228 "Not Authorized Error when Testing Admin User Banning"
Related #4884

[code]

[2019-12-23 21:07] Glennmen commented on #193
I am also getting news letters on both email addresses now, changing it doesn't auto unsubscribe the old one. I will manually unsubscribe now.

[2019-12-24 10:19] rhymes commented on #3145
I believe this was addressed with https://github.com/thepracticaldev/dev.to/pull/4411

You can see the changelog post here: https://dev.to/devteam/changelog-block-tools-for-user-safety-4no3

Going to close it, @desirottman, let us know if it's not the case and I will reopen

[2019-12-24 10:19] #3145 closed

[2019-12-24 10:37] rhymes commented on #5111
We might want to make sure the list of favorite tags to be accessible only to the requesting user (via API) and _maybe_ to OAuthed apps. The reason why we might not want this info to be public is that it can be used to "profile" users

[2019-12-24 10:50] rhymes commented on #5152
I think we should switch to use `.envrc` file as suggested in the best practices: https://gitlab.com/envied/envied/tree/master#best-practices. Many command line tools support "dotenv" files (which are just shell files that can be sourced in a Unix shell) and it's an established practice. Also, Heroku can easily export environment variables in that format.

I've always found weird how we handle def

[2019-12-24 11:15] rhymes commented on #1305
Adding another possible useful info here: notifications are now paginated (they weren't when this issue was opened), so we might not need this "24 hours" filter anymore.

Thank you for the analysis @Schwad!

[2019-12-24 11:26] rhymes commented on #4497
Thanks for the analysis @3v0k4.

Since the API docs explain what's the correct JSON payload I'm going to go ahead and close this.

@worsnupd let me know if your issue was unrelated, in that case I'll reopen this

[2019-12-24 11:26] #4497 closed

[2019-12-24 11:28] rhymes commented on #4966
The correct issue about the timestamp is now https://github.com/paulirish/lite-youtube-embed/issues/20

[2019-12-24 11:31] rhymes commented on #5177
a note: instead of using an env variable the ideal solution would use the site configuration

[2019-12-24 11:31] rhymes commented on #5178
a note: all of these should be part of the site configuration

[2019-12-24 13:36] rhymes commented on #5157
I think I know where the problem lies. Not sure yet about why it doesn't always happen but I think I know why it does:

1. recent follows order the follows by "created_at desc":

https://github.com/thepracticaldev/dev.to/blob/9638e3da2611e4116dffc009bd7b846761146776/app/services/notifications/new_follower/send.rb#L24-L25

1. then it attaches to the notification the most recent:

https://github.com

[2019-12-24 13:57] rhymes commented on #5196
@12vanblart can you still reproduce this?

[2019-12-24 13:59] CristinaRuth opened #5237 "Sort Reading List by Reading Time"
**Is your feature request related to a problem? Please describe.**

When I’m looking through my reading list of what to read, I typically have a specific amount of time I want to spend reading.

It’s hard to sort through the list when there’s a lot (they pile up quick) to scan for my desired reading time.

**Describe the solution you'd like**

I would like some sort of link/drop down/button to sor

[2019-12-24 14:32] rhymes commented on #5086
@DeJaVoo the main issue with scraping is that it violates terms of services with Medium, so it wouldn't be great to add code for that:

from https://medium.com/policy/medium-terms-of-service-9db0094a1e0f

[2019-12-24 15:31] rhymes commented on #5237
Love this idea :)

[2019-12-24 16:27] diazgilberto opened #5240 "Detect syntax highlighting when importing from RSS"
**Describe the bug**

I have my personal blog with rss sync with Dev.to. I notice that the code snippets are not getting styled at all. I there anything else I need to do?

**To Reproduce**

See my [draft here](https://dev.to/gdiaz/how-to-test-throw-with-jest-53-temp-slug-8767226?preview=2a5989c9c3a91726228cdbbf00f2a46ca40c6ffeeb2438e6967cdb96684a18511bf4a6ba4e3695a4752bd8b3dff5653ac9f74e634c7b61a

[2019-12-24 21:10] brycedorn commented on #5172
@jessleenyc yeah I don't mean their [self-managed](https://about.gitlab.com/pricing/#self-managed) product, just public repos hosted by gitlab. I can make a note of this in the help section for the tag.

seems straightforward enough though, mind if I take a stab at it?

[2019-12-24 22:51] DaniellMesquita opened #5242 "Store user media on IPFS, and post content/user data as JSON"

[2019-12-24 22:53] DaniellMesquita opened #5243 "Offer web3 logins"
- [ ] https://github.com/web3connect/web3connect
- [ ] https://3box.io/

[2019-12-24 22:54] DaniellMesquita commented on #5243
reference: https://github.com/thepracticaldev/dev.to/issues/5242

[2019-12-24 23:47] Almenon commented on #730
I worked on improving https://github.com/SkillFlowHQ/medium-to-markdown then I realized that
@ericclemmons already made a better medium exporter here: https://medium-to-markdown.now.sh

![](https://media.giphy.com/media/14aUO0Mf7dWDXW/giphy.gif)

Note that the link might take a long time to load, just give it a while. Also the textarea where the markdown is outputted can be resized by dragging on

[2019-12-25 10:10] Cry0nicS opened #5245 "Cannot load some articles"
While searching for some specific topics I stumbled upon a bunch of posts that cannot be open. They get stuck at _loading_.

Not much to reproduce, just click one of the following links:

- https://dev.to/acro5piano/5-reasons-why-git-based-resume-is-awesome-127

- https://dev.to/agazaboklicka/how-to-write-a-solid-dev-resume-to-be-2018-star-3h8a

In search results, these articles are displayed corr

[2019-12-25 14:19] keithrbennett commented on #5152
If the existing logic is correct, we don't want to use those default values in a production environment. Therefore, I think we need to handle this in the Ruby VM (so we can query `Rails.env.production?` or equivalent) and not at the shell level.

This change is small and does not change any real business logic. I am new here, but is there a risk that if we defer this change until we have debated a

[2019-12-26 03:27] CodingDive opened #5247 "Go to the next post in a series"
Hey, first I'd like to thank all of you for building this wonderful platform/community 😍

**Is your feature request related to a problem? Please describe.**
I find it difficult to navigate to the next blog post of a series.

**Describe the solution you'd like**
Add next/back options to posts in a series for binge reading 😀

Another way to solve this is to add the upcoming post(s) of a series to th

[2019-12-26 09:52] rhymes commented on #5242
Hi @DaniellMesquita, can you elaborate? Thank you! It's not clear what you're requesting with this feature request

[2019-12-26 09:58] rhymes commented on #5245
Can you try again because by clicking on those two links I can't reproduce the problem. I also checked the dev console but I don't see anything weird :)

[2019-12-26 10:23] rhymes commented on #5152
AFAIK we haven't discussed this yet, at least not internally. I'll bring it up in the next tech meeting next year so we can give you and the community an answer that also takes under consideration our deployment process but in the meantime I don't think we are ready to commit to either option.

`.env` files are not for the production environments, production doesn't even use the `application.yml`

[2019-12-26 14:00] DaniellMesquita commented on #5242
Alongside having user data in MySQL, it would also have it in JSON files, so user can get their files from IPFS.

Articles would be JSON files pointing to media, which also are in IPFS.
User data also as JSON files pointing to IPFS media.
The front site could also be a hosted app, with its IPFS address even using the server backend. It means, yet using the classical DB, while having a faster site

[2019-12-26 14:36] keithrbennett commented on #5152
Please see below...

I understand that we should probably change to using the environment file approach for configuration values.

I've fixed the build errors in the PR associated with this issue in case you want to use it until we do.

It even addresses the first of several issues in Gitlab’s list of flaws at https://gitlab.com/envied/envied/tree/master#what-happened-to-default-values, since this

[2019-12-26 16:47] keithrbennett commented on #5157
I was having trouble mentally parsing spec/services/notifications/new_follower/send.rb, so I tried simplifying (refactoring) it, and annotating it (see https://gist.github.com/keithrbennett/9fcb9c1beb9d54bd6b6a5e1f4a2d342b if you're interested).

I ran the specs and one of them failed:
[code]
This was with the code replacement you suggested, @rhymes. I'm not sure if this is my refactoring, because

[2019-12-26 16:49] #5157 closed

[2019-12-26 17:37] Cry0nicS commented on #5245
@rhymes thanks for your reply. I tried with Chrome, Vivaldi and Brave. None of them opened the above URLs (any other URL loaded perfectly).

![image](https://user-images.githubusercontent.com/29982205/71484859-35c9d500-2817-11ea-8662-94b563300f3b.png)

[2019-12-26 18:06] rhymes commented on #5157
@keithrbennett while trying to fix the spec I think I've also clarified the code a bit with some comments, see #5236

[2019-12-26 21:40] 12vanblart commented on #5196
Nope! Looks better now 😀

[2019-12-26 21:40] #5196 closed

[2019-12-27 06:10] jmfayard commented on #1210
I have exactly the same issue @Zhao-Andy @4lch4

I was in the Tag Moderators group and left it - because I don't like group chat that much.

Now I have multiple times a day a fake chat notification.

Here is my `/chat_channels?state=unopened`

[code]

[2019-12-27 13:49] CristinaRuth opened #5260 "Permanent Bookmarks in Reading List"
**Is your feature request related to a problem? Please describe.**

I've accumulated a lot on my reading list, but some of them I've already read and would still like to keep for future reference. I don't want to "archive" them because I don't want to lose sight of them.

Currently, it's getting more difficult to parse through my reading list on which ones I've kept for future reference and which

[2019-12-27 15:12] mstruve opened #5261 "Prevent Header and Footer From Being Rendered On DelayedJob Dashboard"
**Describe the bug**
When you go to the DelayedJob dashboard page because of the new service worker architecture we are now rendering the header and footer. This unfortunately prevents us from being able to navigate the dashboard.

![Screen Shot 2019-12-27 at 9 10 20 AM](https://user-images.githubusercontent.com/1813380/71522109-f89e2b00-2888-11ea-8123-1f20e0f01491.png)

[2019-12-27 15:17] rhymes commented on #5260
I think the archive functionality is what you are looking for, a permament place to archive your items.

In the archive they don't disappear, it's like a folder. It has the search like the regular reading list so you can find the items back. Am I missing something?

[2019-12-27 15:35] CristinaRuth commented on #5260
Where can I see the archive folder?

I guess I see archive as I’m done reading it. I don’t want to take away the “bookmark” from an article just because I’ve already read it?

Permanent bookmarks are different in my vocabulary. “Archive” seems to indicate they are obsolete.

[2019-12-27 15:39] CristinaRuth commented on #5260
I just found the archive. It's quite hidden - I never would have found it if you didn't say it's viewable. 😂

Scrolling through my archive, I still have the same issue though. I guess I could use the archive as the "permanent" spots.

How do I remove posts from my reading list then without taking away the bookmark tag from them and not archiving them?

[2019-12-27 15:48] #5261 closed

[2019-12-27 15:58] #5156 closed

[2019-12-27 15:58] rhymes commented on #5260
@CristinaRuth what do you mean? You can either unbookmark an article, from its own page, or you can archive it...

[2019-12-27 16:12] CristinaRuth commented on #5260
That’s exactly my point. It’s minor and not a big deal though. The article I’ve bookmarked has earned a “reaction”. When I’m done reading it, I know I can “unbookmark” it but it takes away a reaction and I would prefer not to do that.

Really the 3 categories in my head:
* To read
* Done reading but don't want to keep and don't take a reaction away from article
* Done reading and want to keep

The

[2019-12-27 19:44] mstruve opened #5268 "Github Username Change should not prevent user from Logging in to DEV"
**Describe the bug**
When a user changes their name on Github the UID that we get from github for authentication seems to change as well. This means that if a user signs up for DEV, changes their github username, and then tries to sign back into DEV they will get a "User has already been taken error"

The reason for this is because we try to [look up their identity using that UID](https://github.c

[2019-12-27 21:01] Bam92 commented on #5162
I think I can help fix this. Is there someone working on already?

[2019-12-28 04:50] paulann1 opened #5271 "Not able to edit my profile. It keeps showing spam_"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-12-28 07:33] #2371 closed

[2019-12-28 09:51] rhymes opened #5272 "Reading list count becomes "empty" when selecting a tag"
**Describe the bug**

This is probably a regression because I know it used to work, but apparently the count of articles in the reading list takes the value `empty` when selecting a tag. The same happens when unselecting the tag or going to the archive. The only way to restore the count is to do a full refresh of the page

**To Reproduce**

1. Go to https://dev.to/readinglist - verify the count in

[2019-12-28 15:25] jmfayard opened #5274 "Automatically add the `#firstpost` tag to make it easy to welcome first post writers"
**Is your feature request related to a problem? Please describe.**

I want to make it more likely that new writers receive early positive feedback.

**Describe the solution you'd like**

If the user click on **write a post**
and has never published a post before,
then automatically add the `#firstpost` tag.

![Screenshot 2019-12-28 at 16 24 36](https://user-images.githubusercontent.com/459464/7154

[2019-12-28 16:12] michael-tharrington commented on #5268
Thanks for writing this up!

Folks write in about this error message pretty often and while we do have a manual way for admins to fix this, it'd be great for the system to handle it.

To elaborate, users are hit with this error message:

**Something went wrong: Log in error: Validation failed: User has already been taken
Please try again below, or contact yo@dev.to if this persists.**

When they c

[2019-12-28 18:39] Shem-G opened #5275 "Change search bar to search button on small (240x320) resolutions"
**Is your feature request related to a problem? Please describe.**

When viewing Dev at on very small resolutions, the search bar is shrunk but still overlaid by the Connect button:
![Screen Shot 2019-12-28 at 18 30 20](https://user-images.githubusercontent.com/45176983/71548098-3f7f4400-29a1-11ea-835a-a743ddb4acba.png)

**Describe the solution you'd like**

On small devices, hide the search bar b

[2019-12-29 13:45] Jayna-thanki opened #5276 "regarding profile setting"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-12-29 17:37] jessleenyc commented on #5172
Go for it @brycedorn !

[2019-12-29 19:37] thefliik commented on #3332
unstale-ify!

[2019-12-29 19:38] mikister opened #5277 "Adding a tag adds undefined instead"
**Describe the bug**

When adding a tag with community rules to a post, clicking inside the box that contains rules adds `undefined` to tags.

**To Reproduce**

1. Create new post
2. Type in a tag that has rules associated with it (e.g. `discuss` or `tutorial`)
3. Click on the `View Rules` button
4. Click inside the box containing those rules
5. `undefined` is added to tags

**Expected behavior**

[2019-12-30 05:28] CodeSpent commented on #3611
Is there anything that can be done in the meantime to counter this caching?

[2019-12-30 06:09] keithrbennett opened #5278 "Word wrap in "connect" (chat) fails in narrower widths"
Below a certain window width, text in the chat (https://dev.to/connect) does not wrap. The bug has been identified in Firefox, Chrome, Safari, and Opera. I did not try any other browsers.

**To Reproduce**

1. Open https://dev.to/connect in any browser (or go to the dev.to site and click the paper airplane icon).
2. Find a conversation that has any lines long enough to wrap.
3. Drag the right edge

[2019-12-30 06:13] keithrbennett opened #5279 "ListingDashboard JS test fails in certain time zones."
I am in the Indochina time zone (ICT, which is UTC+7). The "ListingDashboard should load listing dashboard" test fails because the date in local time is not equal to the date in UTC time.

**To Reproduce**

1. Set system time zone (or test time zone) to UTC+7 (or above).
2. Run `yarn test`.

**Expected behavior**

This test passes in most time zones. This is expected. However, in UTC+7 it fails (s

[2019-12-30 08:20] rhymes commented on #3611
@CodeSpent are you still experiencing deleted posts to be present in the API?

[2019-12-30 12:36] developius opened #5295 "Multiple footers within the dashboard"
**Describe the bug**

Multiple instances of the site footer show up in the dashboard 👀

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to https://dev.to/dashboard
2. Scroll down to bottom of page
3. Notice two footers

**Expected behavior**

There is only one footer.

**Screenshots**

<img width="810" alt="Screen Shot 2019-12-31 at 1 34 54 AM" src="https://user-images.githubusercontent

[2019-12-30 13:32] AaronMoat opened #5298 "Accept both language- and highlight- when generating markdown from HTML"
Gatsby code blocks are usually wrapped in `<pre class="language-js">` or whatever the language may be. It seems `dev.to` only parses `highlight-` when importing from RSS. This mean syntax highlighting does not occur automatically when importing.

A solution would be to accept both `highlight-` and `language-`.

[2019-12-30 15:53] #2158 closed

[2019-12-30 17:04] mstruve opened #5305 "Epic: Moving Jobs From DelayedJob to Sidekiq"
## Why We Are Moving To Sidekiq
Because DelayedJob relies on your database to process jobs, when you get a large volume of jobs it can be very slow. For this reason we are switching to Sidekiq to help ensure that as our job volume increases we have the ability to keep up with the new load. Also in DelayedJob, because it didnt handle lots of jobs well we have been [ignoring any job failures in prod

[2019-12-30 17:15] rpostulart commented on #4335
I notice the same, my counter is not increasing :(

[2019-12-30 17:25] rhymes commented on #5305
Great epic :))

[2019-12-30 20:54] maestromac commented on #5053
Resolved with https://github.com/thepracticaldev/dev.to/pull/5055

[2019-12-30 20:54] #5053 closed

[2019-12-30 22:01] duduribeiro commented on #5305
Hey @mstruve 👋

Great epic description. I migrated the first one in the list (#5309)

just one question. Is there any reason why not using ActiveJob with Sidekiq?

[2019-12-30 22:37] maestromac commented on #5086
@DeJaVoo It is also possible to grab each post one by one with https://github.com/ericclemmons/medium-to-markdown but that site can be a bit slow.

Hope our answer was helpful and please let us know if there's anything else.

[2019-12-30 22:37] #5086 closed

[2019-12-30 23:01] maestromac commented on #5271
Hello @paulann1 , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-12-30 23:01] #5271 closed

[2019-12-31 02:14] CodeSpent commented on #3611
@rhymes yeah I am seeing changes take ~24 hours to reflect on any client I use (site, rest client, browser).

[2019-12-31 03:13] robintom commented on #5305
@mstruve

I'll take up :
### Articles
- [ ] detect_human_language_job.rb
- [ ] score_calc_job.rb

This looks interesting, i was looking to start my year off with contributing to Open Source projects and this might be a good opportunity. However i am new to all this and if i am stuck somewhere i hope you guys could help.

[2019-12-31 08:55] rhymes commented on #5305
@duduribeiro

from https://github.com/mperham/sidekiq/wiki/Active-Job#performance

It seems this has to do with the whole serialization logic in ActiveJob that is more complex than in Sidekiq

[2019-12-31 13:12] swiknaba commented on #5305
I'd like to contribute, however, the local setup gives me quite some troubles. Should I open a new issue for each individually, all at once, or none (could be just my machine)? All the problems:

- `cannot load such file -- dry-equalizer` => resolve via: `gem install dry-equalizer` (why is it not in the Gemfile?)
- `cannot load such file -- dry-configurable` => resolve via: `gem install dry-config

[2019-12-31 13:13] mstruve commented on #5305
Hi @swiknaba, please open a new issue for setup help! Thank you!

[2019-12-31 13:21] swiknaba opened #5313 "Help with local setup (Storext NameError, dry-gems missing, reverse markdown load error)"
✅ API related issue, no browser necessary

✅ not related to profile

**Describe the bug**

see comment here: https://github.com/thepracticaldev/dev.to/issues/5305#issuecomment-569926644
copy-paste of the comment:

I'd like to contribute, however, the local setup gives me quite some troubles. Should I open a new issue for each individually, all at once, or none (could be just my machine)? All the p

[2019-12-31 13:35] rhymes commented on #5313
Hi @swiknaba, thanks for the patience, I believe there's a configuration problem somewhere, let's see if we can get to the bottom of it.

The gems you installed manually are present in the [Gemfile.lock](https://github.com/thepracticaldev/dev.to/blob/master/Gemfile.lock) so you shouldn't have to install them manually. The only required global gem is `bundler`.

this sounds like the same problem as

[2019-12-31 13:41] Schwad commented on #1305
Thanks for the thoughts @rhymes ! :)

I've had a crack at this in #5314 - it's a very small PR but I believe addresses the heart of this issue here.

[2019-12-31 13:47] swiknaba commented on #5313
Thank you @rhymes for your help 🙌.

My local setup:
https://gist.github.com/swiknaba/5dda5210ca7554bd7ba65034e8b40903

I went through all steps in https://docs.dev.to/installation/mac/, and got stuck at

I was installing gems via `bundle install`, which run without troubles. Apart from using bundler, I did not use any virtual environment such as docker/virtualbox/..

[2019-12-31 14:00] swiknaba commented on #5305
started with

## Follows
`send_email_notification_job.rb`

[2019-12-31 15:17] serenaf commented on #5305
Have a Pr ready for Notifications::Mention Job refactor 🎉  https://github.com/thepracticaldev/dev.to/pull/5312

[2019-12-31 17:06] abdellani opened #5317 "Docker-compose up fails after git pull"
**Describe the bug**

After running **git pull upstream master** on my laptop both containers "devto_web" and "devto_jobs" were unable to run.
When I checked out to an old branch (abdellani/4962_add_redis_container_to_docker-compose), **devto_web**  started without any problem but **devto_jobs** was still failing. It seems that the trial expiration of my account in Algolia is the reason.

In all c

[2019-12-31 17:23] abdellani commented on #5317
I checked out to some previous commits in the master branch and I found that the problem starts from commit 70103711 (including this commit).
[code]

[2019-12-31 17:27] #5317 closed

[2019-12-31 17:31] abdellani commented on #5317
Hi,
I solved the problem. I needed to run **docker build** and to select community plan in Algolia again.
Thank you.

[2019-12-31 17:34] endormi opened #5318 "Use a different icon for personal websites"
**Describe the solution you'd like**

Update website url icon to be the www icon. It would be better in my opinion and I think the most majority think so too, or at least to use a different one rather than external link icon.

Use a www icon (or something similar) to display personal website links.

[2020-01-01 04:10] cxw42 commented on #5205
@Zhao-Andy Thanks for taking a look at this!  I have not yet finished the onboarding.  I am waiting in case you need me to run any tests.  Would you please let me know whether or not you think you might want more data from me?  If not, I will go ahead and finish the onboarding.  Much appreciated!

[2020-01-01 07:45] tool3 opened #5323 "Invalid CERT from cloudinary"
**Describe the bug**

Invalid certificate coming from cloudinary.com

**To Reproduce**

Go to dev.to

**Expected behavior**

a working UI ?

**Screenshots**
![](https://snipboard.io/HWDIVZ.jpg)

**Desktop (please complete the following information):**

- OS: MacOS
- Browser: Chrome/Safari
- Version: latest

**Additional context**

Failed to load resource: net::ERR_CERT_INVALID

[2020-01-01 08:57] rhymes commented on #5323
I check the website and it seems fine, could it have been a temporary issue? Can you reproduce it still?

[2020-01-01 09:24] tool3 commented on #5323
Swear it happened 😳

I did check again and indeed everything seems fine now. Sorry for the false alarm 🚨😇

[2020-01-01 09:24] #5323 closed

[2020-01-01 14:47] CodeMouse92 opened #5325 "Tag Moderation Case Sensitive"
**Describe the bug**

When a tag uses unconventional capitalization, it shows up in the normal list of posts for that tag, but it cannot be removed. For example, if a post has the tag `#C`, it shows up under `#c`, but cannot be removed by the `#c` tag moderator.

**To Reproduce**

1. Go to a post with a tag with unconventional capitalization, such as https://dev.to/norrischebl/epic-games-launcher-

[2020-01-01 22:10] worst-developer commented on #5040
Looks like it can be closed

[2020-01-01 22:46] worst-developer commented on #5222
Hey! I'd like to join open source contribution. I really enjoying reading dev.to and really want to make this resource better. I have some ideas regarding UX/UI messages

- WDY to add a small edit icon to the right?
- WDY on select show on the top edit/delete buttons?

Both examples are from vk.com UI:
https://gyazo.com/7e4b3a1fc12136d3fbe5f8a708d3c49e

https://gyazo.com/939941c571d09f933d70609dad

[2020-01-02 09:23] rhymes commented on #5222
Hi @worst-developer, I think the plan here is to move those two entries in the "usual" dropdown menu you can find around DEV:

![](https://user-images.githubusercontent.com/146201/71659994-e4a36f00-2d49-11ea-9b12-3ff3c0999754.png)
![](https://user-images.githubusercontent.com/146201/71659996-e4a36f00-2d49-11ea-8b5f-f9cf72bb8624.png)
![](https://user-images.githubusercontent.com/146201/71659997-e53

[2020-01-02 09:24] rhymes commented on #5040
Thanks @worst-developer!

[2020-01-02 09:24] #5040 closed

[2020-01-02 09:40] etam-flipp commented on #5305
PR for Page::BustCacheJob refactor at #5328

[2020-01-02 14:19] amtwo commented on #5240
On code snippets in DEV, you just need to add the language after the opening backticks, and it will add syntax highlighting for that language.
Ex for SQL highlighting:
[code]

I'm not sure how much variety there is on source blogs for Dev.to to be able to parse that detail from source RSS to automatically apply the language.

On my blog (WordPress with SyntaxHighlighter Evolved plugin), code sampl

[2020-01-02 14:42] amtwo opened #5332 "Formatting broken on code blocks from RSS import"
**Describe the bug**

When importing post from my site's RSS feed (am2.co/feed), the imported post on Dev.to correctly flags the code samples as a multi-line code snippet, but strips whitespace formatting, and (incorrectly) adds escaping to underscores. (note: inline code samples correctly leave underscores un-escaped).

The RSS feed is published by a WordPress site with the [SyntaxHighlighter Evo

[2020-01-02 14:52] timabell commented on #1845
I also tripped over the RSS + manual entry fubar, thanks @dgreene1 for [drawing my attention to the need for the `canonical_url` to be unique across the whole site](https://github.com/thepracticaldev/dev.to/issues/1845#issuecomment-480631719). I worked around it by adding a hash `#` to the end of the duplicate url.

In my case, I added the post manually first, then turned on rss import, then tried

[2020-01-02 16:42] rhymes commented on #5305
With PR #5326 we added some helpers that can be of help in moving tests over to Sidekiq. They closesly mimick those builtin in Rails for ActiveJob so you might be familiar with them:

They are:

- `sidekiq_assert_enqueued_jobs` which mimicks [assert_enqueued_jobs](https://api.rubyonrails.org/v5.2/classes/ActiveJob/TestHelper.html#method-i-assert_enqueued_jobs)

- `sidekiq_assert_enqueued_with` whi

[2020-01-02 18:04] #5277 closed

[2020-01-03 00:04] ferricoxide opened #5342 "Block Feature Does Not Seem to Work as Expected"
While filling in the bug-summary field, it popped up a related bug. In reading through that thread, I found [this response](/thepracticaldev/dev.to/issues/3145#issuecomment-503233931) that noted:

However, as near a I can tell, the only thing I've verified that blocking another user currently does is prevents notifications of the blocked-user's activities (no additional alerts on the bell icon/ind

[2020-01-03 03:54] codekatas-magmalabs commented on #5305
Hi there! We migrated `Articles::UpdateMainImageBackgroundHexJob` in this PR: https://github.com/thepracticaldev/dev.to/pull/5345. We wait for your review! :)

[2020-01-03 08:03] web-padawan opened #5346 "Allow configuring hardcoded Codepen embed height"
As an author, I sometimes need to embed Codepen with small examples which don't need too much space. But it turns out that `height` for the embedded pen is hardcoded:
https://github.com/thepracticaldev/dev.to/blob/de6129b29ca5b3634291429a911cf188d68ea2ad/app/liquid_tags/codepen_tag.rb#L16

I'd like to be able to change this number. In certain cases 300px is well enough.
So let me suggest to expose

[2020-01-03 15:22] jeikabu opened #5350 "Publishing from RSS via Github Pages: Code blocks in numbered lists"
Same problem as #1855, but when publishing from RSS where the feed is github pages.

Understand it's a problem with an upstream package, but for content pulled from elsewhere can the "hack" described in #1855 just be applied?  I've been manually fixing up posts for over a year, and doing it with the web-based text editor has gotten... old.

[2020-01-03 18:56] maestromac commented on #5275
That is a nice idea and a good to have @ShemTheDev ! Out of curiosity, which device do you own that would yield this width constraints?

[2020-01-03 19:14] maestromac commented on #5298
Resolved with https://github.com/thepracticaldev/dev.to/pull/5299

[2020-01-03 19:14] #5298 closed

[2020-01-03 19:16] maestromac commented on #5225
Hello @CrazyVideoGamez , please email yo@dev.to regarding this issue with the specifics and we will help you resolve this.

[2020-01-03 19:16] #5225 closed

[2020-01-03 20:43] JamoCA opened #5353 "Add Embed support for ColdFusion (TryCF.com & CFFiddle.org)"
**Is your feature request related to a problem? Please describe.**

Hi.  I'm new to DEV.to.  I've been a ColdFusion developer since 1997.  This isn't really a "problem", as much as a request to extend support to embedded fiddles for ColdFusion/CFML developers.

**Describe the solution you'd like**

TryCF.com has documentation regarding how to create links to embed GISTS.
https://www.trycf.com/help

[2020-01-03 22:43] ShemTheDev commented on #5275
Hi Mac. I own the Nokia 8110- a Kai OS smart featurephone:
![IMG_20200103_224157_1](https://user-images.githubusercontent.com/45176983/71753417-7ca07600-2e7a-11ea-87d6-6d1e78b806df.jpg)

[2020-01-03 23:26] mike-healy commented on #5163
At least one of those console errors seems to be because Edge does not support the JS spread operator for object literals.

The error points to this part of the bundled JS:
`headers:{"X-CSRF-Token":i,...t}`

[2020-01-04 16:25] wildeng commented on #5305
Hi @mstruve,
Great epic! It's time to help the community so I'd like to take :

[code]

[2020-01-04 16:30] mstruve commented on #5305
@wildeng You got it!

[2020-01-04 19:13] jeikabu commented on #220
Not to resurrect a dead horse, but some variation of this would be good.

As it is, it's easy to publish to Github Pages (or Gitlab, or whatever) and then update/correct content with a simple push.  When using "Publishing from RSS" there's no sane way to update content on dev.to; posts are simply out of date.  There's obvious caveats, particularly the fact that dev.to and other sites might use dif

[2020-01-04 19:31] mvasigh commented on #5272
I can work on this, I worked on the reading list a couple of months ago and wondering if I introduced a bug.

[2020-01-04 23:44] VegaFromLyra commented on #5305
Hi, I can pick up:

[code]

I have the app up and running (just need to figure out how to run rspec using the docker set up) so will hopefully get a PR out soon.

[2020-01-05 05:51] mvasigh commented on #5275
I love this! I can work on it.

[2020-01-05 12:10] rhymes commented on #5272
Go ahead @mvasigh, thank you!

[2020-01-05 16:31] mvasigh commented on #5023
Is this something that we would want to use an existing solution for? And maybe this would be something that would be opt-in depending on bundle size impact?

I'd like to work on this!

[2020-01-05 17:09] ShemTheDev commented on #5275
Thanks @mvasigh! It might be worth collapsing search again when the text field loses focus. Kai users can unfocus a textbox at any time to continue scrolling/moving their cursor, so leaving it open might make the other menu items less accessible.

[2020-01-05 18:16] mvasigh commented on #5275
Yes I like that idea! I was thinking along the same lines actually, but thanks for validating what the browser can do.

I'm thinking, cover the entire nav bar with the search input when the icon is clicked (expanded) and hide/collapse the input when the field is blurred or submitted. Downside is you don't see your search term once you've submitted (really the search results should display somethin

[2020-01-05 19:42] mstruve commented on #5305
@VegaFromLyra you got it! Thank you!

[2020-01-05 22:01] luchiago commented on #1520
@coolbrg how can I use the users from seeds to make manual tests? Like, have my Github account logged and after that login with a user from database?

[2020-01-05 23:30] duduribeiro commented on #5305
awesome @rhymes. I didn't know about that benchmark.. Thanks for the explanation!

[2020-01-06 00:22] thealiilman commented on #4890
I've not had the time to look into this due to my schedule at the moment.
If anyone else wants to take it, feel free. 🙂

[2020-01-06 21:30] maestromac opened #5381 "Flaky expiration_notifier_spec.rb"
related https://github.com/thepracticaldev/dev.to/issues/4884
[code]

[2020-01-07 02:24] benhalpern opened #5384 "Migrate from ENV vars to SiteConfig"
**Is your feature request related to a problem? Please describe.**

As of now, admins need to update certain customizations. Right now it is mostly done via ENV vars, but we want to move to `SiteConfig`.

The initial work was done here...

https://github.com/thepracticaldev/dev.to/pull/4729
https://github.com/thepracticaldev/dev.to/pull/4831
https://github.com/thepracticaldev/dev.to/pull/4865

The

[2020-01-07 03:01] citizen428 commented on #5384
@benhalpern I assigned this issue to myself and will start poking around.

[2020-01-07 08:17] rhymes commented on #5384
Thanks @citizen428, we had an internal list of variables to move and they are those present in `models/site_config.rb`. You can start using them around the website and exposing them in the internal admin page.

Possibly with small PRs (so either a single variable per PR or a small set of them) so that they can be quickly reviewed by multiple sets of eyes, and so that @mstruve can plan removal of e

[2020-01-07 13:31] abenerd opened #5387 "Improve DuckDuckGo Privacy Rating"
**Is your feature request related to a problem? Please describe.**
Not a problem per se, but I think dev.to can improve it's privacy rating. As of now dev.to receives a still good B+ but I believe that this can still be improved. Right now the plugin complains about one tracker it found on the website and unknown privacy practices.

**Describe the solution you'd like**

**Describe alternatives you

[2020-01-07 14:56] Glennmen commented on #5387
Can you post a screenshot of the report or the tracker it is complaining about? Just curious.

[2020-01-07 17:04] mdamaceno opened #5389 "Can't see the like (heart) counter number of the comments with the dark theme applied"
I've been using the dark theme and recently I notice the like (heart) counter in the comment section is hard to see the number. The background has almost the same color of the number. This doesn't happen with the light theme.

Here are some screenshots:

Light theme:

![Screenshot_2020-01-07 Why You Shouldn't Use A Web Framework](https://user-images.githubusercontent.com/4340542/71913184-9f21e000-

[2020-01-07 21:58] Zhao-Andy commented on #1210
Hi @4lch4, so sorry for the delay, I've since updated your channel status. @jmfayard I've also fixed it for you.

Let me know if this still is an issue for either of you!

[2020-01-08 03:05] flexdinesh opened #5397 "Cannot unfollow some tags"
**Describe the bug**

I've been cleaning up my account and noticed that I can't unfollow some old tags like `#databases` and `#todayigoogled`. When I open the page, the button says "FOLLOW" meaning I am not following that tag but it shows up in the list of tags I follow in my home page. Might be related, these tags seemed to be renamed sometime in the past. My OCD wants to get rid of those dead ta

[2020-01-08 07:24] 4lch4 commented on #1210
Thanks @Zhao-Andy, it's gone! I appreciate it so much 😄

[2020-01-08 08:28] citizen428 commented on #5381
That's because of `Time.current.to_i`, every so often the second will flip during the run, e.g. I did not yet manage to reproduce this. We could rewrite it to something like this, WDYT?

[code]

[2020-01-08 09:03] citizen428 commented on #5268
tl;dr: While we store the unchangeable numeric id, we use the changeable username to determine if a user is new.

Longer version:

From a quick look at my own account in the dev environment, the stored `Identity` makes sense, since it uses the `id` attribute of the `Omniauth::Github` auth hash to populate the `uid` column:

[code]

The problem is that the `where` clause trying to determine if the

[2020-01-08 09:52] gverger commented on #5381
Yep, you can reproduce it by adding a `sleep(1)` between the call and the expectation.

You could use `Timecop.freeze` instead of `Timecop.travel`, or is there something I am missing?

[2020-01-08 11:06] abenettt commented on #5387
@Glennmen Interestingly enough the plugin does not show me which tracker it is, even tho it tells me it is a major one.

[2020-01-08 11:20] rhymes commented on #5387
I assume it's Google Analytics, which is the only known tracker we have in the source code

This is what the DuckDuckGo Privacy report looks like:

![Screenshot 2020-01-08 at 12 13 54 PM](https://user-images.githubusercontent.com/146201/71974157-0cdf1200-3211-11ea-88c5-dc654ea15f19.png)

![Screenshot 2020-01-08 at 12 14 08 PM](https://user-images.githubusercontent.com/146201/71974190-24b69600-3211

[2020-01-08 11:26] Glennmen commented on #5387
Also wanted to add from the Brave browser build-in blocker:
![image](https://user-images.githubusercontent.com/11406433/71974587-20d74380-3212-11ea-808e-3a0eb30cf32c.png)

[2020-01-08 11:33] citizen428 commented on #5381
Yes, @gverger, `Timecop.freeze` should take care of this. Do you want to make a PR for this? Would be a great first contribution. 😃

[2020-01-08 11:35] rhymes commented on #5387
I feel the second one is the classic problem of naming anything with the word "ad" in its URL :D

[2020-01-08 12:06] gverger commented on #5381
Sure I'll do a PR. Stay tuned 😉

[2020-01-08 17:10] mstruve commented on #5268
@citizen428 The first thing we do before trying the username is [do the lookup using the provider uid](https://github.com/thepracticaldev/dev.to/blob/master/app/models/identity.rb#L11) however, the uid changes which is why that initial lookup fails and we fallback on trying to use the username.

[2020-01-08 17:23] benhalpern commented on #5012
So after discussing this further with @pkfrank, I believe what we really could use here is _sorting_, which for all intents and purposes takes care of the clustering we're looking for.

I think this could pair well with the filtering in #5396 and could be used in conjunction with one another depending on user needs.

I see this as a row of links (button styled probably) to sort by either reporter

[2020-01-08 17:26] jacobherrington commented on #5012
@benhalpern Yeah, that makes sense. I'll work on that in a follow-up PR for #5396

[2020-01-08 17:51] benhalpern commented on #5012
@jacobherrington fabulous

[2020-01-08 21:06] #5381 closed

[2020-01-08 21:14] #3537 closed

[2020-01-08 21:15] renatamarques97 commented on #5397
I'd like to take care of this issue

[2020-01-09 01:16] ShemTheDev commented on #5275
I agree the, in terms of usability, search results take priority over pagination, headings, etc. Please let me know if I can do anything to help. I'm happy to send more photos of various elements on my Kai OS device.

[2020-01-09 03:04] TheJaredWilcurt commented on #4723
Same, this has been happening for months.

Firefox (latest)
Windows

All/Comments/Posts are all empty despite having a notification alert.