[2019-06-19 18:00] jeduardo824 commented on #3035
@brunotoral Are you working on this? I want to take it if you don't.

[2019-06-19 19:21] cyrillefr commented on #3136
Hello @lightalloy , I'd like to help with `message.send_push`

[2019-06-19 20:53] michael-tharrington opened #3241 "HTML elements are not escaped in the activity view"
**Describe the bug**
When posting an article like this on e- [https://dev.to/rikschennink/ul-or-ol-do-you-know-when-to-choose-which-5cic](https://dev.to/rikschennink/ul-or-ol-do-you-know-when-to-choose-which-5cic) which has HTML elements in the title, those will not be displayed properly on the notification page - [https://dev.to/rikschennink/ul-or-ol-do-you-know-when-to-choose-which-5cic](https:/

[2019-06-19 22:28] maestromac commented on #3130
Hey @Gaurav-Shankar if the most obvious way isn't making the error appear, here are some suggestions
1. Try omitted contents and save it again to see if the read time changes.
2. Try making the article draft first then save it again.

If none of those is producing the problem, then it could be a more complicated edge-case error caused by combination of things. This looks like rare problem since I

[2019-06-19 22:33] maestromac commented on #95
On which article are you seeing this @masquerade817 ?

[2019-06-19 22:59] maestromac commented on #2919
I'm assuming the service worker's cache got cleared because of we rolled out the new version.

If the issue returns please let me know!

[2019-06-20 01:12] rylandg opened #3242 "Code block as first content in post causes preview to look bad"
**Describe the bug**
If your post begins with a code block, the preview shows it unformatted and without `\n`.

Oh and I noticed while posting this, that an image link in first part of a post also doesn't transfer to preview.

**To Reproduce**
Example post

[code]

Create a draft and look at the preview

**Expected behavior**
Just remove the preview for now. Maybe something clever as backlog.

**S

[2019-06-20 05:37] emgoto opened #3244 "Turn off notifications for hearts"
**Is your feature request related to a problem? Please describe.**
I would like to turn off being notified (by the number icon in the top right corner) when I have received a heart/like on a comment or article.

**Describe the solution you'd like**

When you go to the notification settings page, there's a checkbox option to turn off receiving notifications for hearts / likes. Ideally I'd like to b

[2019-06-20 09:15] lightalloy commented on #3136
@tannakartikey , you're welcome to contribute :rocket:  Please, comment, if you will be working on any of the jobs.

[2019-06-20 11:21] rugk commented on #2919
Okay, no, I can still reproduce this. But only on one device/with one browser…

[2019-06-20 11:21] rugk commented on #2919
Okay, a Ctrl+F5 on the "You are offline" page fixes it, but I have to do this each time… :thinking:

[2019-06-20 12:09] kaustavdm commented on #3070
@maestromac I just realized that the presence of double curly braces might result in markdown parsing issue. I came here to let you know that. And, you seem to have beat me to it. 🖤

[2019-06-20 15:33] maestromac commented on #2919
Which browser is this? Can I also have the browser's log?

[2019-06-20 15:57] #1826 closed

[2019-06-20 16:28] drewswaycool opened #3246 "Ability to exclude tags"
I want to be able to see all #react tag posts, but not include #react #redux posts.

It would be nice to always exclude posts based on tags you don't want to see.

[2019-06-20 16:46] maestromac commented on #3216
What if the guideline's content change based on user's cursor?

[2019-06-20 16:58] maestromac commented on #3223
Hello @andrasbacsai , do you still see your posts count as -1 ?

[2019-06-20 17:37] maestromac commented on #3180
I'm glad you figured out the solution @manekinekko ! I went ahead and update the doc.

Resolved with https://github.com/thepracticaldev/dev.to/pull/3248

[2019-06-20 17:37] #3180 closed

[2019-06-20 17:50] rugk commented on #2919
It's still the same from the OP.
![image](https://user-images.githubusercontent.com/11966684/59869899-adb0d180-9394-11e9-88df-aeeed29e3e93.png)

[2019-06-20 17:52] rugk commented on #2919
For some reason, I cannot inspect the service worker in Firefox though… :thinking:

![image](https://user-images.githubusercontent.com/11966684/59870002-e51f7e00-9394-11e9-9489-e1806856f417.png)

[2019-06-20 17:54] Zhao-Andy commented on #2919
Meant to ask this earlier but do you have any extensions? Like Privacy Badger or uBlock, for example?

[2019-06-20 19:01] andrasbacsai commented on #3223
Yep, still the same.

[2019-06-20 19:28] maestromac commented on #3070
Resolved with https://github.com/thepracticaldev/dev.to/pull/3229

[2019-06-20 19:28] #3070 closed

[2019-06-20 22:23] michael-tharrington opened #3252 "Give Users the Ability to Temporarily Hide Their Accounts (Vacation Mode)"
**Is your feature request related to a problem? Please describe.**

Users occasionally want the ability to temporarily hide / deactivate their account so that they're able to keep their content and history on DEV but if need be can take a break due to work/other online commitments.

**Describe the solution you'd like**

Perhaps a user could turn on "vacation" mode so that their account is out of v

[2019-06-21 00:34] K-Sato1995 opened #3253 "Profile overflowing issue"
**Describe the bug**

When a user puts too much info in his/her profile, it gets covered up. It should be scrollable or something.

Kind of hard to explain with words but I think it's easy to understand what I'm trying to say from the screenshot.

**To Reproduce**

1. Check her profile

https://dev.to/mollynem

**Expected behavior**
All the info should be readable.

**Screenshots**

![image](https

[2019-06-21 08:38] gypsydave5 opened #3254 "RSS feed reader to follow links to fetch article"
**Is your feature request related to a problem? Please describe.**
My blog's RSS feed (https://blog.gypsydave5.com/feeds/feed.rss) does not publish the blogs content to each item in the feed. I'm under the impression that this is what's needed to publish to dev.to via RSS.

**Describe the solution you'd like**
I'd like the dev.to RSS reader to make an HTTP request to the `<link>` in each `<item>`

[2019-06-21 11:02] decadef20 opened #3256 "change image preview"
**Is your feature request related to a problem? Please describe.**

When clicking an image to preview, it will redirect to the image URL, The article is lost. We have to click the back button.

**Describe the solution you'd like**

add a previewer to handle image, like modal or something else

[2019-06-21 11:06] #1828 closed

[2019-06-21 11:12] rhymes commented on #3256
Hi @decadef20, thanks for taking the time.

I'm going to close this as a duplicate of an older ticket https://github.com/thepracticaldev/dev.to/issues/413

[2019-06-21 11:12] #3256 closed

[2019-06-21 11:15] decadef20 commented on #413
There is PR about this issue? If not, maybe I can have a try.

[2019-06-21 11:29] rhymes commented on #413
@decadef20 no, there isn't AFAIK, it's quite an old issue. Maybe @benhalpern has some ideas on this?

I'm not sure what the right implementation would be, I don't see much benefit into opening the same image in a modal/overlay, it also defeats the purpose of having an HREF I think. Media websites usually either don't have a link on top of the image, or link to a gallery with all the images in the

[2019-06-21 11:42] tducasse opened #3257 "Reading time estimate is inconsistent across pages"
**Describe the bug**

The time estimate is not the same in the search results and if you go to the article.

I _think_ some of them are right? I'd say the one in the search results seems smaller.

**To Reproduce**
Either:
- click [here](https://dev.to/archiewald/create-react-app-with-typescript-tutorial-291d)
- and [here](https://dev.to/search?q=create%20react%20app%20with%20typescript%20tutorial)

[2019-06-21 12:04] benhalpern commented on #3252
Hmmm I love "vacation mode". I don't think it would be a good idea to wholly hide their writing because I think it would be a frustrating user experience if a post you expected to exist would sometimes exist and sometimes not.

But in terms of coming up with the right functionality to fulfill some kind of "vacation mode", I think that is definitely inline with our values.

[2019-06-21 12:11] rhymes commented on #3257
I think it's because the search results come from the search index and it hasn't probably been updated.

Nonetheless the logic here:

https://github.com/thepracticaldev/dev.to/blob/e46bd26223847e35b9de2cd57380bad12a97286f/app/assets/javascripts/utilities/buildArticleHTML.js.erb#L100-L104

should be similar to this one:

https://github.com/thepracticaldev/dev.to/blob/e46bd26223847e35b9de2cd57380bad

[2019-06-21 12:55] rugk commented on #2919
yep, many.

[2019-06-21 13:15] deadcoder0904 commented on #413
The advantage is sometimes nobody can read the contents of the image. So it's weird to open the image in the same tab (since Firefox's View Image opens in same tab) then zoom the image in, read all its contents & go back (which sends another request).

The advantage is pretty obvious IMO.

[2019-06-21 13:19] rhymes commented on #413
@deadcoder0904 I get what you're saying, it wasn't obvious to me because I always Meta-click on things so they open in a new table, but that's how my brain is programmed :D

Anyway, I think if done well, why not :)

ps. it should also be super easy to close the overlay, like clicking outside of it of pressing ESC or something

[2019-06-21 13:23] jeduardo824 commented on #3035
@benhalpern I'm not able to find any specs which test the tag length. Can you give me a clue?

[2019-06-21 13:34] rhymes commented on #3035
@jeduardo824 I don't think there's a specific test for the length, but you can add it here:

https://github.com/thepracticaldev/dev.to/blob/e46bd26223847e35b9de2cd57380bad12a97286f/spec/models/article_spec.rb#L172-L185

You might want to also increase the `cached_tag_list` length a bit: https://github.com/thepracticaldev/dev.to/blob/master/spec/models/article_spec.rb#L19

[2019-06-21 14:56] c33s commented on #3081
@maestromac yes it works again. thanks

[2019-06-21 15:28] Stargator opened #3259 "Notifications Page needs pagination"
**Describe the bug**
I saw I had 138 notifications, I went to the page, but it only listed 53 items on the page and offered no way to see the other unseen notifications.

Additionally, the notifications that I **did not see** have been marked as seen once I went to the Notification page.

**The issues are**:
* Not all notifications are displayed.
* Notifications not displayed are marked as seen.

[2019-06-21 15:47] sandordargo commented on #1641
I have the same issue. I cannot remove this from my reading list:
https://dev.to/theobendixson/how-to-safeguard-your-productive-time-by-batching-bullshit-2p27

[2019-06-21 16:05] mdarrik opened #3260 "Android App Says I'm offline"
**Describe the bug**

When I open the Dev.To app installed from Google play, it says I'm offline. I'm authed with Twitter, which has caused issues for other people on their browser (#2919)
**To Reproduce**

1. Open the Dev.To app
2. Says I'm offline

**Expected behavior**

Should open feed/whatever article I clicked to open the app.
**Screenshots**

**Smartphone (please complete the following info

[2019-06-21 16:10] NikoLewis commented on #2349
@maestromac Nope, he's still not transparent on the live site. To reproduce the issue I had to log into an account that has never made a post.

I believe the issue is the CDN is serving up an old non-transparent sloan to the web dev.to but our local dev.to project accesses the proper transparent sloan from assets.

[2019-06-21 16:35] michael-tharrington commented on #3252
@ben, that's a great point! Hmmm... I wonder if maybe it would enough to just anonymize their writing temporarily.

[2019-06-21 16:38] neex-io commented on #3260
I have been having this issue for a few days now (~under a week).
Everything is the same as above but my phone. Here are the specs:

**Smartphone (please complete the following information):**

- Device: Moto X4
- OS: Android 9
- Browser: Dev Community App
- Version: 1.2

[2019-06-21 16:42] maestromac commented on #3260
Thank you for this issue, please continue this conversation over at https://github.com/thepracticaldev/dev.to/issues/3260 as we are compiling all the reports.

[2019-06-21 16:42] #3260 closed

[2019-06-21 16:44] Markel opened #3261 "Unexpected error on Glitch previews"
**Describe the bug**
Glitch returns the error

when loading various Glitch iframes (based on the little testing I was able to done)

**To Reproduce**
1. Go to [this article](https://dev.to/glitch/on-glitch-this-week-4fo6) or any article including multiple glitch iframes

2. Done, the error should appear

**Expected behavior**
While the iframe loads correctly if you press _"Try again"_ it should lo

[2019-06-21 16:50] MarkelFe commented on #3252
I think the idea of completely hiding the author of the post is too radical. However, blocking the ability of sending messages, reacting and commenting would be helpful. As a plus, I would hide links to social media while vacation mode is active, so users cannot follow you to other social media.

[2019-06-21 17:11] mazentouati commented on #3252
I really don't see any real gain from this feature. If you're on a vacation just be and don't open dev community during the vacation. If you are concerned about your privacy deleting you account is more convenient.

Adding more options to privacy setting like disabling chat, comments per post etc. is handier in my opinion. Or, maybe add the ability to soft delete the account so it becomes reversib

[2019-06-22 01:19] MarkelFe commented on #3261
Tried on Firefox 67 for Android (not PWA) and it doesn't happen, all iframes load (I guess an extra point for Firefox 😊)

[2019-06-22 04:10] codeluggage commented on #1856
I very much would like this feature too - but for specific articles. There are many articles I'm just not interested in, and they never seem to leave the feed. Even if I read them, they still persist forever.

[2019-06-22 10:49] rhymes opened #3263 "Mention organization in comments"
**Is your feature request related to a problem? Please describe.**

As it's possible to mention users in comments whom will receive a notification for the mention, it would be nice if it was possible to mention organizations too, maybe with the admin of the organization receiving such notification.

**Describe the solution you'd like**

If I type @devteam or any other org in a comment, the `@devte

[2019-06-22 11:15] itsjzt opened #3264 "responsive issues in comment preview on mobile."
**Describe the bug**

If you preview your comment which has image the image overflows.

**To Reproduce**

1. Open dev.to site in your phone
2. go to any post and add an image in comment.
3. click on preview.
4. the preview section will overflow according to the width of the image.

**Expected behavior**

Image shouldn't overflow

**Screenshots**

![Screenshot_20190622-164322_Firefox](https://user-

[2019-06-22 19:41] jvanbruegge commented on #956
@jessleenyc would it be possible to also turn off the notifications for me while this feature is not implemented?

[2019-06-22 20:11] suntong opened #3267 "Link to a specific gist version in dev.to"
**Is your feature request related to a problem? Please describe.**

The syntax to link to a specific gist file from `dev.to` is:

[code]

but it is impossible to link to a specific gist version of that file -- I tried to replace the above url with url to that specific version, but got `500 Internal` error when publishing it.

**Describe the solution you'd like**

Fix this line
https://github.com/t

[2019-06-22 20:34] jeduardo824 commented on #3035
Awesome. I will send a PR until tomorrow.

[2019-06-23 17:28] Danielshow commented on #3217
Hey @jessleenyc, can I tackle this?

[2019-06-23 18:25] tcdowney opened #3271 "Add max file size limit to profile images"
**Is your feature request related to a problem? Please describe.**
One thing I really enjoy about dev.to is about how snappy the pages load. However, I've noticed that sometimes particular profile images were taking _forever_ to load. I dug some digging and found that some images were just really large (the one I checked was over 5 MB) which is why they were slow to load.

I was initially concerne

[2019-06-23 18:32] Puritanic commented on #1630
@Zhao-Andy I'm getting same error when I try to submit comment. Comment is submitted, but I have to refresh the page to be able to see it.

Description:
Getting a 500 Server Error when hitting Submit on a comment

Browser: Firefox Dev 68.0b6 (

**To Reproduce**
Steps to reproduce the behavior:

    Go to some post
    Write a comment
    Click on Submit

You will get a 500 error in network respons

[2019-06-23 20:54] IvanDelsinne opened #3272 "Cannot post comments anymore"
**Describe the bug**

#2409 is the *exact* same issue I'm encountering, using Firefox Quantum 64.0.4 (64-b)

**To Reproduce**

Except for the article's URL, I followed the *exact* same steps.

Targeted article is [this one](https://dev.to/helenanders26/what-advice-would-you-give-your-20-year-old-self-33o1)

[2019-06-23 20:55] IvanDelsinne commented on #3272
Edit: submitting causes a 500 error without any additional context.

![image](https://user-images.githubusercontent.com/23583792/59981854-f7562200-9609-11e9-92e7-d57625d5fa47.png)

[2019-06-24 00:42] jeduardo824 commented on #3035
What do you think about 126 characters for the `cached_tag_list`?

[2019-06-24 02:10] seangwright opened #3274 "Add "Date Created" and "Date Modified" to Article Dashboard items"
**Is your feature request related to a problem? Please describe.**
I usually have several Drafts of in-progress posts at any given point.

Sometimes they are published in an order different than when I started working on them so organizing can become tricky.

**Describe the solution you'd like**
Add the "Date Published" and "Date Modified" to the articles on the dashboard.

![dev-to-dashboard-item

[2019-06-24 03:17] weekly-digest[bot] opened #3276 "Weekly Digest (17 June, 2019 - 24 June, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 88 issues were created.
Of these, 54 issues have been closed and 34 issues are still open.
## OPEN ISSUES
:green_heart: #3273 [Return original body instead of nil for new comment push notifications](https://github.com/thepracticaldev/dev.to/pull/3273), by [Zhao-Andy](h

[2019-06-24 03:33] ioprotium commented on #3049
Hi guys! What about integrating an editor as a library? Take a look at [https://ui.toast.com/tui-editor/](https://ui.toast.com/tui-editor/). It has already all we need for a markdown editor + live preview with synchronized scrolling. The lib is heavy (~1.2mb), but as it is open source, a custom light weight version could be developed.

Meanwhile, I was thinking in drop a PR for keyboard shortcuts

[2019-06-24 06:19] rhymes commented on #3035
@jeduardo824 I don't know exactly how the arbitrary length was set in the original version, so I think it should be fine, especially if we have a maximum of 4 tags that could potentially all be 30 chars long. Worst case scenario should be: 30x4 plus 3 commas and 3 spaces. So 126 ;-)

[2019-06-24 08:36] bolariin commented on #3169
I would like to work on this

[2019-06-24 10:04] pacoita commented on #3272
I had the same issue for the [welcome page](https://dev.to/thepracticaldev/welcome-thread-v34-1b44).

It seems that `comments` API has problems and return 500:
[code]

[2019-06-24 11:48] #1595 closed

[2019-06-24 12:33] #3272 closed

[2019-06-24 13:29] #3276 closed

[2019-06-24 13:38] michael-tharrington opened #3296 "Twitter Social Card for Comments Doesn't Display Properly"
A user wrote in explaining that when trying to share a comment on Twitter, the social card doesn't display properly. They provided reasons as to why they think it's happening. :

![https://cl.ly/8996514f2ccc/Image%202019-06-24%20at%209.35.34%20AM.png](https://cl.ly/8996514f2ccc/Image%202019-06-24%20at%209.35.34%20AM.png)

To repeat:
1. Copy the link to a comment - https://dev.to/codedgar/comment/c

[2019-06-24 15:10] maestromac commented on #1630
This should be resolved now @Puritanic

[2019-06-24 15:46] eusonlito opened #3298 "Bugs related with cookies disabled"
**Describe the bug**
My default configuration on Chrome is cookies disabled. And with cookies disabled, I have some issues with articles detail:

* No reactions loaded
* Nothing occurs when relations click
* Navigation menu does not do nothing
* Follow button with strange behaviour
* Footer load with some css issues
* Console log error: `ServiceWorker registration failed:  DOMException`

**To Repr

[2019-06-24 18:29] maestromac commented on #3264
Thank you for the issue. This is duplicate of https://github.com/thepracticaldev/dev.to/issues/3085. Please continue the conversation there.

[2019-06-24 18:29] #3264 closed

[2019-06-24 18:52] jeduardo824 commented on #3035
Ok, I'll send a PR soon.

[2019-06-24 20:24] jeduardo824 commented on #3136
I'm gonna try `user.follow`.

[2019-06-24 21:20] vogloblinsky commented on #3049
+1 for tui-editor suggested by @ioprotium
I just prototyping a Chrome extension for extending the current editor. It works fine, but need to add synchronized scrolling. Tui-editor seems to have all i need, editor + live preview sync.

[2019-06-25 06:57] andrasbacsai commented on #3223
A small update, if I create a draft post it turnes to 0, but when I delete it, it turns back to -1 again.

[2019-06-25 12:20] Zhao-Andy commented on #3223
Hi @andrasbacsai, this should be fixed. Sorry about that bug!

[2019-06-25 12:20] #3223 closed

[2019-06-25 12:36] Zhao-Andy commented on #3225
Thanks for the report. I think the reaction notifications could use another look in general.

[2019-06-25 13:16] 12vanblart opened #3300 "Notifications showing incorrect "Posted X days ago""
**Describe the bug**
On the notification page, some posts are showing "Posted {x} days ago" when they should show a few minutes ago (shows correctly on Latest listings).

**To Reproduce**

1. Go to Notifications
2. Scroll through recent notifications looking for an item that is part of a series (the 2 I found were both series. Might be coincidence)
3. Note the "days ago" timing
4. Navigate to the

[2019-06-25 13:31] rhymes commented on #3300
Hi @12vanblart, thanks for raising this issue

This tweet by Laurie probably explains what it's happening: https://twitter.com/laurieontech/status/1143505792181657600

Indeed I can already see the problem:

https://github.com/thepracticaldev/dev.to/blob/8afb797ec979fd7c7ceb31b8b642a12d59ca4cf2/app/views/notifications/_article.html.erb#L33-L35

It should count from the date of publishing, not the d

[2019-06-25 13:41] #3124 closed

[2019-06-25 13:43] bolariin commented on #3122
I think this issue has been resolved

[2019-06-25 13:44] rhymes commented on #3122
Closed by https://github.com/thepracticaldev/dev.to/pull/3221

[2019-06-25 13:44] #3122 closed

[2019-06-25 13:54] maestromac commented on #3274
Make sense. Definitely a useful feature to have. I think having it right below the title is good start.

Some quick and dirty mockup
[code]

[2019-06-25 14:10] maestromac commented on #3231
Thank you for this issue @kodaman2 . A similar issue was already created. You are welcomed and encouraged to continue the conversation there :)

Duplicate of https://github.com/thepracticaldev/dev.to/issues/710

[2019-06-25 14:10] #3231 closed

[2019-06-25 14:13] pkfrank opened #3302 "Add a space before name in Connect message via listings"
**Describe the bug**
Looks like a missing space in the connect message via Listings flow.

**To Reproduce**
Look at any live listing, such as https://dev.to/listings/mentors/do-you-want-a-code-review-i-want-to-help-16fe

**Screenshots**
![missing space in screenshot](https://cl.ly/35163f1b582b/Image%202019-06-25%20at%2010.10.53%20AM.png)

[2019-06-25 14:14] pkfrank opened #3303 "Exit Listings modal by pressing Escape"
**Is your feature request related to a problem? Please describe.**
As a user navigating listings, I'd like the `Escape` key to close a Listings modal.

**Additional context**
As a user I can currently click outside of the modal, but pressing the Escape key seems like a pretty common pattern we should follow.

[2019-06-25 14:18] Zhao-Andy commented on #3303
Hm I think we had this functionality before, but it seems to not work anymore.

[2019-06-25 14:22] Zhao-Andy commented on #3261
Thanks for the bug report! We'll take a look into it.

[2019-06-25 14:29] Zhao-Andy commented on #3234
Thanks for the bug report! I think I'll most likely work on this. Our current approach is to show static data to prevent excessive queries to the database, and my guess is that the notification data is not up-to-date after the user changes their username.

[2019-06-25 14:33] Zhao-Andy commented on #3244
Thanks for the feature request! We'll discuss this as a team and leave another comment.

[2019-06-25 14:46] maestromac commented on #3267
Thank you for this issue @suntong . Just to be sure, what does the gist embed of a specific revision looks like?

[2019-06-25 14:51] maestromac commented on #3174
I assume this issue is resolved. If you need anymore help please let me know!

[2019-06-25 14:51] #3174 closed

[2019-06-25 15:37] Elecweb commented on #3129
@jessleenyc Could I implement this one ? which key you prefer for switching ? maybe <kbd>⌘</kbd> + <kbd>p</kbd> ?

[2019-06-25 15:50] Zhao-Andy commented on #3261
Hi @MarkelFe, so I couldn't reproduce this in regular Chrome on macOS. I'll try the PWA on an Android device soon, but in the meantime could you confirm this is still an issue? I'm thinking it might have been an issue on Glitch's end.

[2019-06-25 15:54] #3300 closed

[2019-06-25 17:22] suntong commented on #3267
link to a specific gist file for the latest version:
https://gist.github.com/suntong/3a31faf8129d3d7a380122d5a6d48ff6#file-images-tmpl

link to a specific gist file of a specific revision:
https://gist.github.com/suntong/3a31faf8129d3d7a380122d5a6d48ff6/**44c4e7fa81592f917fffacf689dd76f469ca954c**#file-images-tmpl

https://gist.github.com/suntong/3a31faf8129d3d7a380122d5a6d48ff6/44c4e7fa81592f917f

[2019-06-25 18:17] MarkelFe commented on #3261
Yes, just rechecked it and it happens again. Meanwhile Firefox works.

I also checked to uninstall the PWA and load the article on normal Android Chrome, and the bug still happens, so this is something related with Chrome for Android, not special to the PWA 👀.

[2019-06-25 19:06] fugazi opened #3305 "Mass unfollow button from Dashboard (Following)"
**Is your feature request related to a problem? Please describe.**
 I would like a button to unfollow user from Dashboard in the Following section.

**Describe the solution you'd like**

Unfollow button would be shown to user to mass unfollow from Dashboard, instead of visit each profile and uncheck following feature.
<img src="http://i68.tinypic.com/lcqo5.jpg" border="0" alt="Image and video host

[2019-06-25 19:14] maestromac commented on #3129
Yeah that's a good idea @Elecweb .

[2019-06-25 19:18] maestromac commented on #3035
Resolved with https://github.com/thepracticaldev/dev.to/pull/3299

[2019-06-25 19:18] #3035 closed

[2019-06-25 19:21] maestromac commented on #3217
Give it a go @Danielshow !

[2019-06-25 19:26] maestromac commented on #3246
Thank you for this issue! A similar issue already exist. You are welcome and encourage to continue the conversation there.

Duplicate of https://github.com/thepracticaldev/dev.to/issues/1856

[2019-06-25 19:26] #3246 closed

[2019-06-25 19:39] maestromac commented on #3244
Very similar to https://github.com/thepracticaldev/dev.to/issues/3171 .

[2019-06-25 19:59] maestromac commented on #3298
Thank you for this issue @eusonlito . My guess is that the JS isn't handling the lack of cookie well. A proper rescue would fix this.

[2019-06-25 20:08] maestromac commented on #3296
Thanks for this issue. Ideally the social card for a comment should display a preview of comment itself instead of the article's title.

Anyone who wishes to grab this issue should take a look at @mscoutermarsh 's [awesome works](https://github.com/thepracticaldev/dev.to/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3Amscoutermarsh+) using [HCTI](https://htmlcsstoimage.com/).

[2019-06-25 20:11] maestromac commented on #3271
Thank you for this issue @tcdowney !

Size limit would be super useful. We think 2mb should be reasonable.

[2019-06-25 20:23] maestromac commented on #3259
Thanks for this issue @Stargator .

Yep the notification page could use pagination. A `Load more` button at the bottom of the page would be a good MVP. I think it would make more sense to re-word this bug report to a feature request, if that's alright with you.

[2019-06-25 20:43] maestromac commented on #3253
Thank you for this issue @K-Sato1995 . That happens when user max out their infos. A more responsive CSS could fix the issue but if it doesn't, we'll have to further limit character count for those fields.

[2019-06-26 00:12] mariocsee commented on #3305
Thanks for the feature request, @fugazi! This looks similar to #3169 which has an PR #3294 in the works, but for followed users instead of followers.

[2019-06-26 07:38] lightalloy commented on #2497
Done.

[2019-06-26 07:38] #2497 closed

[2019-06-26 07:57] rhymes commented on #2497
Great job so far @lightalloy! I've noticed there are still a few ".delay" around the code, I'd say those too should be converted to jobs. We should aim at not calling DelayedJob directly

[2019-06-26 08:02] bolariin commented on #3271
I have been able to make the change to limit the file size for profile images. I was wondering how I would go about setting up a test for this?

[2019-06-26 08:04] kievsash commented on #175
+1 Still observing this issue

[2019-06-26 08:05] kievsash commented on #137
Still observing that issue - imported mediums articles through rss, they are saved as draft on dev.to.
I delete them and they re-appear on my dashboard

[2019-06-26 08:10] rhymes commented on #3271
@bolariin

you could write specs in `spec/requests/user_settings_spec.rb` that update the user passing the `profile_image` parameter with the image. You can use [file_fixture](https://relishapp.com/rspec/rspec-rails/docs/file-fixture) to read the image in testing mode. The file pointed by `file_fixture` should go here https://github.com/thepracticaldev/dev.to/tree/master/spec/fixtures/files

[2019-06-26 08:15] brarnaudovski commented on #3141
Hi @benhalpern . I want to start with this feature. My plan is to use custom events using Rails [active support instrumentation](https://guides.rubyonrails.org/active_support_instrumentation.html#creating-custom-events)

I am just wondering how to make the custom payload for categories, markdown info, action/slug and so on.
This should be different for different model/controller action, right?

[2019-06-26 09:40] lightalloy commented on #2497
@rhymes, yep, `delay`s are in a separate issue #3136

[2019-06-26 09:57] Danielshow commented on #3217
Thanks, I will @maestromac

[2019-06-26 12:54] #3267 closed

[2019-06-26 12:56] #3224 closed

[2019-06-26 13:02] #3236 closed

[2019-06-26 13:58] #3302 closed

[2019-06-26 13:58] #3303 closed

[2019-06-26 14:14] michaellee commented on #3253
I saw this issue as well. @maestromac are there any design decisions regarding keeping the height limited and overflow hidden on desktop? On mobile width, it seems the height restriction is removed and all the content is viewable. Just wasn't sure if this was intentional?

Would love to contribute to patching this up, just would like some context in seeing if the solution I have in mind is the cor

[2019-06-26 14:29] #1864 closed

[2019-06-26 17:54] Stargator commented on #3259
@maestromac I'm fine with that, but it is a bug as it doesn't behave as a user would otherwise expect. But you are correct that Dev.to doesn't have the functionality and thus nothing is broken.

So I'm fine with whatever changes you make.

[2019-06-26 21:15] maestromac commented on #137
Hello @kievsash . The workaround we currently have in place is if you archive the said post, it won't be re-imported back.

[2019-06-26 22:27] benhalpern commented on #3141
Hey @brarnaudovski this sounds great!

I've never used `ActiveSupport::Notifications` but it definitely seems like the right tool for the job and I'll be interested to follow along.

I don't think you'd need a _custom_ payload if I understand this correctly, as the general schema of the data being passed would be consistent.

@lightalloy can you help guide this?

[2019-06-27 02:08] protium-dev opened #3316 "Image upload dialog overlaps editor/help page"
**Describe the bug**
When I click "upload image" the upload dialog shows up but if then I click the "Preview" or "?" buttons, it stays and overlaps the preview as you can see in the images below.

**To Reproduce**
Click "upload image", then click either "preview" or "?" button.

**Expected behavior**
Upload dialog should close

**Screenshots**
![image1](https://user-images.githubusercontent.com/43

[2019-06-27 09:00] kievsash commented on #137
Thanks! Now I cannot archive)
"Failed to update article."
POST https://dev.to/articles/128728 404 - in Dev console

[2019-06-27 09:01] lightalloy commented on #3141
Hey @benhalpern, @brarnaudovski.
As I understood, the structure can be pretty consistent:
- `user_id`
- `role_id` (or name, but roles seem to be consistent)
- `action` (name/slug)
- `data` (info about the action)
It's not clear to me why we should use markdown for this kind of information. I would use a `jsonb` field for it. @ben, could you explain the choice of the markdown format?
If we need a c

[2019-06-27 10:55] isophiawilsonusa opened #3318 "Not working properly"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-06-27 12:46] thomasbnt commented on #3171
Hello ! I find that this idea would harm the follow-up system. Let me explain:

When you're a person, it's because you like what you're doing and you want to be there and notified when you post a new article. Unless we disable it for some people, I find that it breaks this system... it comes back a bit like those of big platforms (example: Facebook, Instagram, YouTube).

Then I will see a general

[2019-06-27 13:25] jsjoeio commented on #3171
@thomasbnt hmm... I'm not sure I follow what you're saying.

It sounds to me like you're mixing the "feed system" and the "notification system".

On YouTube for example, I can subscribe to many channels to show I support them, but YouTube won't send me a notification every time those channels upload a new video - unless I specifically tell them to.

Same thing with Facebook. I add a friend. Then I

[2019-06-27 16:16] ioprotium commented on #3316
Update: same behavior with "menu" button.
![image](https://user-images.githubusercontent.com/43855513/60282640-d0377300-98dd-11e9-8f25-0a7119f10e9e.png)

[2019-06-27 19:53] maestromac commented on #3121
related https://github.com/thepracticaldev/DEV-Android/issues/36

This turns out to be a [Chromium Bug](https://bugs.chromium.org/p/chromium/issues/detail?id=977784). They've rolled out a fix but it might take additional days for people to receive it. Please try it out and let us know if the issue still persists!

[2019-06-27 19:53] #3121 closed

[2019-06-27 19:59] maestromac commented on #2638
Hello @drazisil , @s1037989 can you verify if are you still experiencing this issue?

[2019-06-27 20:05] s1037989 commented on #2638
I viewed the first dev.to post in my twitter feed using my default DDG browser and it was a success!!  Looks like you got the bug!!

[2019-06-27 20:52] maestromac commented on #2638
I didn't 😛 , [Chromium team did](https://github.com/thepracticaldev/DEV-Android/issues/36#issuecomment-506372524).

[2019-06-27 22:39] felippe-regazio opened #3324 "Mobile: bottom panel overlaps editor text area when keyboard is active"
Simple problem, think that the image tells everything

![Screenshot_2019-06-27-19-07-33](https://user-images.githubusercontent.com/31618881/60305444-ed3a6900-9912-11e9-8793-0b08733df144.png)

As the image shows, the inner view bacomes really small when the keyboard is active.

[2019-06-27 23:26] rhymes commented on #3324
@felippe-regazio can you provide model, OS and details of your mobile phone?

Basically the following information from the template:

[code]

thank you!

[2019-06-28 13:19] GeorgeColdham opened #3329 "Report articles without having to open them"
**Is your feature request related to a problem? Please describe.**
When browsing through new articles, there are articles that clearly break community guidelines. Many of these are NSFW and as such when browsing at work, they don't get opened and reported.

**Describe the solution you'd like**
I would like the ability to report articles from the feed, instead of having to open the article.

**Desc

[2019-06-28 13:34] dylanesque opened #3330 "Vertical Scrollbar toggles on and off with every other character inputted"
**Describe the bug**
When inputting text in the post editor in a document long enough to make the vertical scrollbar necessary (around line 21 or so), the scrollbar toggles on and off (rather, appears and disappears) with every character inputted, causing an annoying page jump when writing.

**To Reproduce**
Edit a document of x length as described above to see the behavior.

**Expected behavior**

[2019-06-28 14:03] thomasbnt commented on #3171
Logically, when you are a person it is to be always up to date according to these posts, and therefore the current notifications are important and mark the value of the follow-up.

The fact that YouTube, for example, have integrated the notification system with the bell, has clearly broken everything, because you have to follow the person but also activate if necessary, and in the other direction

[2019-06-28 14:07] jsjoeio commented on #3171
I understand what you're saying and agree there is indeed an important need there.

My impression was that following people === supporting them but I didn't expect to get notified every time they post. There are some people who I want to be notified when they post, but others who I don't.

Maybe I am using dev.to incorrectly then.

What would be a good solution that fulfills both our needs without

[2019-06-28 14:14] thomasbnt commented on #3171
Maybe having a small list of people to follow is better than having too many notifications. As they always say, quality is better than quantity. Personally I prefer to receive notifications at each post to be always there to read them.

I didn't say anything like that, so I think it's better to disable all notifications for a set time, as if to block apps and their notifications so as not to be di

[2019-06-28 14:22] jsjoeio commented on #3171
This is true. I'll use this strategy for now.

👍🏼

[2019-06-28 14:28] thomasbnt commented on #3171
I'm not against being able to sort notifications for each person, I just deduce that it breaks the system and I wouldn't want dev.to to go through that... **so I optimize my subscriptions** and when I like a profile more I just unsubscribe :ok_hand:

[2019-06-28 15:34] cbrintnall opened #3331 "Code block overflows preview"
**Describe the bug**

Surrounding longer text in a "code" snippet (single ticks ``) can cause it to over flow the input box in preview mode.

**To Reproduce**

Heres a link I used: `https://docs.python.org/3/library/functools.html#functools.lru_cache`

Enter that with \`https://docs.python.org/3/library/functools.html#functools.lru_cache` in the text box, and then preview it, it should over flow.

[2019-06-28 16:06] #3271 closed

[2019-06-28 16:08] bolariin commented on #3227
I was wondering the expectation for handling multiple image upload. Currently, there is an input field cause it only allows a single image upload. How would this change for multi image upload?

[2019-06-28 16:39] thefliik opened #3332 "feature: improve comment linking UX"
**Is your feature request related to a problem? Please describe.**

When you click on a comment link in DEV.to, you are taken to a page which displays only that comment in isolation ([example here](https://dev.to/ben/comment/329n)). To me, and to the [few others I've polled](https://dev.to/johncarroll/poll-why-does-clicking-a-dev-comment-link-display-the-comment-in-isolation-2k5n), a comment is in

[2019-06-28 20:40] maestromac opened #3334 "Can not archive Post in dashboard"
**Describe the bug**

Originally reported here https://github.com/thepracticaldev/dev.to/issues/137#issuecomment-506259649

**To Reproduce**

1. Visit https://dev.to/dashboard.
2. Choose an article to archive, then archive it.
3. Witness it fails.

**Expected behavior**

User should be able to archive flawlessly.
**Screenshots**

**Desktop (please complete the following information):**
n/a

**Smar

[2019-06-28 21:04] maestromac commented on #137
Hey @kievsash thank you for reporting that! That is indeed a bug and it will be fixed.

[2019-06-28 21:11] #3298 closed

[2019-06-28 21:19] skeet70 commented on #485
Setting something to 0 weight doesn't prevent it from showing up in my feed, which seems like the core of this feature request. It's certainly how I ended up finding this issue. I recently signed up for dev.to and immediately realized I don't want to see _any_ of the linkedin style motivational #life junk that was showing up in my feed. Followed #life and set it to 0, but it still shows up.

[2019-06-29 01:27] Zhao-Andy commented on #3330
Thanks for the bug report! We'll take a look into it.

[2019-06-29 01:29] Zhao-Andy commented on #3331
Thanks @cbrintnall for the report! This is approved if anyone wants to work on this CSS related issue.

[2019-06-29 01:30] Zhao-Andy commented on #3332
Thanks for your thoughts @thefliik! We'll discuss this as a team and add additional comments.

[2019-06-29 01:34] cbrintnall commented on #3331
Thanks @Zhao-Andy, I'd do it, but I haven't touched a ruby code base in my life :laughing:. Might I suggest adding the `good first issue` tag? Seems pretty beginner friendly.

[2019-06-29 20:36] #1736 closed

[2019-06-30 18:06] bbenefield89 commented on #3331
@Zhao-Andy If this is still up for grabs I wouldn't mind taking this up. Seems like a good first issue to dive into the codebase.

[2019-06-30 21:25] felippe-regazio commented on #3324
- Device: LG K9
- OS: Android 7.1.2
- Browser: Chrome
- Version: 75.0.3770
- Phone Dimensions: 73.2 x 146.3 x 8.2 mm

[2019-06-30 22:45] bolariin commented on #3263
if both an admin and the organization are mentioned in a comment, should this create one mention or two?

[2019-06-30 23:00] jeduardo824 commented on #3329
I'm working on this.

[2019-06-30 23:53] Zhao-Andy commented on #3263
I think in this case it makes sense to notify _just_ the organization, and create a single notification for that org. The notification model can take either a `user_id` or an `organization_id` and **not both**.

[2019-07-01 10:01] weekly-digest[bot] opened #3340 "Weekly Digest (24 June, 2019 - 1 July, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 62 issues were created.
Of these, 39 issues have been closed and 23 issues are still open.
## OPEN ISSUES
:green_heart: #3338 [History and reading list refactoring](https://github.com/thepracticaldev/dev.to/pull/3338), by [rhymes](https://github.com/rhymes)
:green_hear

[2019-07-01 11:48] lightalloy opened #3360 "Add rubocop to the travis build."
New rubocop issues continue to appear in the codebase, probably, because of the `--no-verify` usage.
It would be nice to see the new violations as soon as they appear.

[2019-07-01 14:01] cyrillefr commented on #2951
Hello, anyone to help me with the following ?
I am implementing the api/listings with existing code in app/controllers/classified_listings_controller.rb
I have noticed that in create and in update method, there is a difference to figure if there is enough credit to proceed.

For the create part, there is a some org available credit, but not for the update part.
Is this intended ? I could refactor

[2019-07-01 16:22] #3340 closed

[2019-07-01 19:16] maestromac commented on #485
Thank you for brining that up @skeet70 . We'll reopen this.

[2019-07-01 19:30] maestromac commented on #2638
If anybody still experience this issue, please let us know!

[2019-07-01 19:30] #2638 closed

[2019-07-02 02:13] philnash opened #3363 "Organisations should have their own RSS Feed import"
**Is your feature request related to a problem? Please describe.**
We have an organisation and one of our admins imports the Orgs RSS feed. Until recently the articles would arrive in the Org dashboard, but that broke and they started appearing in her dashboard. Fixing that assignment would be a temporary fix.

**Describe the solution you'd like**
An organisation should have an RSS feed URL, like

[2019-07-02 07:39] I-NOZex commented on #3121
Hi, I confirm now that the issue is solved on Facebook for Android v. 226.0.0.49.120

[2019-07-02 10:08] JaybeeClassical opened #3364 "Unable to login with details"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-07-02 10:13] JaybeeClassical commented on #3364
[image: Dev to error.JPG]
Windows 7 operating system
Chrome browser
Version 75.0.3770.100 (Official Build) (64-bit)

On Tue, 2 Jul 2019 at 11:08, Jude J Obiejesi <notifications@github.com>
wrote:

[2019-07-02 11:26] maestromac commented on #485
My apology. Since this is closed before, we'll keep it closed. Please continue the conversation here https://github.com/thepracticaldev/dev.to/issues/1856

[2019-07-02 11:26] #485 closed

[2019-07-02 11:37] maestromac commented on #3364
Please kindly fill out the issue detail @JaybeeClassical

What is happening to your account exactly? What is your username?

[2019-07-02 13:06] maestromac commented on #3331
go ahead @bbenefield89 !

[2019-07-02 13:29] maestromac commented on #3227
The file_field helper tag have a [multiple option](https://apidock.com/rails/ActionView/Helpers/FormHelper/file_field). The backend upload feature will also have to be updated to account for this, along with how the multiple links are returned to the user.

[2019-07-02 13:56] rhymes opened #3365 "Notifications on comments of deleted posts should disappear"
**Describe the bug**

I have a notification about someone liking a comment I made, but if I click on the notification I end up on a 404 page for the comment. The article the comments belongs to has been removed, thus the notification should be removed as well.

The comment ID is `ch1a`

**To Reproduce**

1. write a post
2. write a comment
3. have someone like that comment
4. verify the notificatio

[2019-07-02 13:58] Zhao-Andy commented on #3365
Ah @maestromac we discussed this yesterday. I'll update my PR with a fix for this too.

[2019-07-03 00:40] #1949 closed

[2019-07-03 00:40] #1934 closed

[2019-07-03 04:14] reyesvicente opened #3372 "Late Notifications"
**Describe the bug**

There’s a slight delay on notifications. I received a notification that my post passed 1024 views but it already has 1471.
~~**To Reproduce**~~
[code]
[code]
[code]

[2019-07-03 09:01] rhymes commented on #3372
Initially I thought this could have been due to the time that passes between the job being put in the queue and the actual notification.

Instead it's by design, the milestones are set on fixed numbers (some of the notable powers of 2 we use every day in computing), the closest one to the actual number determines the language you'll see in the notification:

https://github.com/thepracticaldev/dev.

[2019-07-03 09:49] reyesvicente commented on #3372
so it isn't real time?

[2019-07-03 10:31] rhymes commented on #3372
@reyesvicente no

[2019-07-03 12:11] aspittel opened #3375 "Video Times aren't Displaying the hours in embeds"
**Describe the bug**

When you do embeds of video DEV posts, the time on the video cuts off any hours for the displayed time.

**To Reproduce**

Embed a longer video post within another post, ex. https://dev.to/aspittel/learning-css-through-creating-art-54c0

**Screenshots**
![Screen Shot 2019-07-03 at 8 07 34 AM](https://user-images.githubusercontent.com/12969662/60590475-11aaa100-9d6a-11e9-8c2a-

[2019-07-03 12:13] aspittel opened #3376 "Add a "post" alias for the "link" liquid tag"
**Is your feature request related to a problem? Please describe.**

Right now, to link a DEV post within another using a liquid tag, you use `link`. I always try write `post` first since it's a DEV post.

**Describe the solution you'd like**

 It would be awesome to add an alias so that a few terms work!

[2019-07-03 12:39] #3372 closed

[2019-07-03 12:40] rhymes commented on #3375
For whomever is going to take a look at this: currently the system only extracts minutes and seconds from the duration. So if the video, like this one, clocks at 4688 seconds, which is 1h18m08s, the server will only display the minutes and seconds part.

See https://github.com/thepracticaldev/dev.to/blob/6d800da4d4e7cf94ad255c3a96908c98e185ff57/app/models/article.rb#L428-L433

unfortunately this f

[2019-07-03 14:43] #3364 closed

[2019-07-03 14:48] maestromac commented on #3376
For anyone who wishes to take this, it can be done very similarly to tweet tag https://github.com/thepracticaldev/dev.to/blob/3d8175328502c1f666f2c2ac99db50f6305e63d8/app/liquid_tags/tweet_tag.rb#L61
Also be sure to include test to cover this alias!

[2019-07-03 15:16] NickyMeuleman opened #3379 "Setting theme/font while logged out."
**Is your feature request related to a problem? Please describe.**
I'm not logged in on all browsers, but like to use dark themes when I can.
It would be great if guests could set the theme/change the font.

I don't know if it's possible already.
I tried setting the `config_body_class` key in localstorage to `night-theme default-article-body` with no result.

[2019-07-03 19:16] zeddotes opened #3380 "Gold star for comments"
Why
- It's good to reward someone for an awesome comment.
- Filtering by gold sometimes makes it easier to find a solution faster.
- Revenue could be used for charitable causes.

Alternate
Maybe not "gold" per say, but some way to reward to a comment would be a nice feature to have.

[2019-07-03 22:56] bigblind opened #3381 "No front matter, but also no title field"
**Describe the bug**
When I click the "write post" button in the top right, I get an editor with no pre-filled front matter, but it seems I also don't see a field to enter the title or tags. I'm sorry, I don't have time to investigate much further and write a further repro. Feel free to bug me about it, and I'll try again when I have time.

**To Reproduce**

In chrome, click the "write post" butto

[2019-07-04 00:14] Zhao-Andy commented on #3381
Hmm that's strange. Let us know if you're still experiencing this. I can't reproduce on mobile currently.

My first guess is that:
- you are using the v1 editor
- somehow the front matter was deleted and saved into local storage for your `/new`
- you therefore have a blank text area

This can be confirmed on your end if you check your local storage -- I'd offer steps but I'm currently on mobile.

[2019-07-04 00:40] kodaman2 opened #3382 "Managing series with a git repository"
**Is your feature request related to a problem? Please describe.**

Managing series with a git repo

**Describe the solution you'd like**

I'd like to create a repo with folders per article in the series, and be able to use that to publish a series in dev.to and on dev.to series have a button to pull latest changes on the series. Having a series in a a repo might be easier to manage especially if

[2019-07-04 09:46] Glennmen commented on #3380
How would this be different than giving a "heart"?

[2019-07-04 11:19] bigblind commented on #3381
Yep, somehow my localStorage state got messed up.

[2019-07-04 11:19] #3381 closed

[2019-07-04 11:24] bigblind commented on #3382
I think the best way to do this at the moment is to set up your own static site with Jekyll or Hugo, and in your dev.to settings, have it import your posts from there. You can then manage your static site using git, and as an added bonus, **your content is hosted on your own domain!*. DEV will even link to the original, ans set it as the cannonical url in the meta tags.

 I think this is something

[2019-07-04 13:47] cyrillefr commented on #3136
I will go with the `RssReader.new.fetch_user`

[2019-07-04 18:14] kodaman2 commented on #3382
Thanks @bigblind I hadn't thought of that. So let me make sure I understand your solution.
- Create an RSS feed with Jekyll.
- Update RSS settings on dev.to

Two questions:

Is content published automatically?
Is content updated automatically?

[2019-07-05 00:52] Zhao-Andy commented on #3382
Thanks for responding @bigblind!

@kodaman2, once your RSS feed is updated, your posts will land into your dev.to dashboard (https://dev.to/dashboard) as drafts. We periodically pull in new posts so long as your RSS feed is continuously up-to-date. Content written on dev.to and separately from your blog will still work as intended. You can find more details in your RSS settings: https://dev.to/set

[2019-07-05 01:09] kodaman2 commented on #3382
Thank you guys! Will get my rss feed up and running and go that route.

[2019-07-05 01:09] #3382 closed

[2019-07-05 19:28] cyrillefr commented on #3136
I will go with the `trigger_delayed_index`

[2019-07-06 18:16] pkfrank opened #3389 "Support "Guest Authors""
### **Is your feature request related to a problem? Please describe.**
As an org admin, I would like to invite guest authors to submit articles into my organization without adding them as a full-fledged member.

### **Describe the solution you'd like**
- Org admins can assign the "role" of org members (admin, normal, guest)
- Guest Authors can publish into an org like a regular org member
- The or

[2019-07-06 18:21] mbifulco commented on #3389
@pkfrank thank you for this! I've got a suggestion for what might be a simpler scenario - for example, this [guest post on the Gymnasium org](https://dev.to/gymnasium/from-filler-to-matter-wireframes-and-prototypes-in-ux-design-4ogf) was created by a contract writer we work with who is unlikely to ever have a dev.to account, particularly since this is a cross-post from Medium.  It'd be great to be

[2019-07-07 09:22] thewhitewolf17 commented on #3376
I'm a beginner dev, and I'd love to take this issue!

[2019-07-07 12:52] suntong opened #3393 "Easy way to include tags in dev.to posts"
**Is your feature request related to a problem? Please describe.**

With dev.to trying to incorporate other media into its own, including gist, twitter, or even youtube, is there any easy way to link to its own tags in dev.to posts? Like for #question and #help, etc, we still need to go the whole nine-yard to use the md syntac for links, right?

    [#question](https://dev.to/t/question)

**Descri

[2019-07-07 13:43] maestromac commented on #3376
Go ahead @thewhitewolf17 !

[2019-07-07 15:35] nicolas-amabile commented on #3244
Hello everyone!
Here is my first try to implement this feature: https://github.com/thepracticaldev/dev.to/pull/3391
@rhymes' comment makes sense. I would like to discuss the approach and to get some help with some missing points on my PR.
- Does the same feature apply for organizations? I think it makes sense. I added the `fetch` and default value [here](https://github.com/thepracticaldev/dev.to/p

[2019-07-08 08:15] rhymes commented on #3244
@nicolas-amabile

It does, if you look at [ReactionsController#create](https://github.com/thepracticaldev/dev.to/blob/master/app/controllers/reactions_controller.rb#L41) method, you'll see that both the user and the organization can receive a reaction notification:

https://github.com/thepracticaldev/dev.to/blob/727d2fadd049cca6f0cda8168488d40b9c615793/app/controllers/reactions_controller.rb#L65-L

[2019-07-08 10:01] weekly-digest[bot] opened #3396 "Weekly Digest (1 July, 2019 - 8 July, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 54 issues were created.
Of these, 32 issues have been closed and 22 issues are still open.
## OPEN ISSUES
:green_heart: #3394 [Add markdown to article api response](https://github.com/thepracticaldev/dev.to/pull/3394), by [zakhenry](https://github.com/zakhenry)
:green_

[2019-07-08 13:47] Turnerj opened #3412 "Article API documentation missing changes with multiple organisations"
Currently [in the API documentation](https://dev.to/api/), it states that an article can be published under an organisation by setting the `publish_under_org` to true or false.

With [support for being in multiple organisations](https://dev.to/devteam/changelog-join-multiple-organizations-2ma8) being added, the documentation seems to be incorrect.

[2019-07-08 13:52] #3396 closed

[2019-07-08 14:45] bencgreenberg opened #3414 "Add Link to User Notist Profile"
**Describe the solution you'd like**

The current user profile page has a good array of links to various platforms that the user may want to feature: Twitter, LinkedIn, GitHub, and others. What is missing is a platform to link to that contains a user's conference presentations, if that is relevant to them. [Notist](https://noti.st/) is a popular platform for hosting conference presentations and ad

[2019-07-08 15:05] reyesvicente opened #3415 "No article on Users' profile but shows 1 Post Published"
**Describe the bug**

I was doing my daily moderator thing and stumbled upon [this article](https://dev.to/abijsummers/my-ironhack-experience-3hlo) so i checked the [profile](https://dev.to/abijsummers) but did not see the article.
**To Reproduce**

**Expected behavior**

What I expect to happen is to see more articles if she has or just the article I saw when I clicked her profile.
**Screenshots*

[2019-07-08 19:30] TekGadgt opened #3418 "GitLab URL does not allow self-hosted GitLab instances"
**Is your feature request related to a problem? Please describe.**
In setting up my account, I realized that the GitLab URL field does not allow anything outside of gitlab.com URLs.  I have a self-hosted installation alongside my portfolio (which takes up my Website url field) and so cannot link to it on my profile.

**Describe the solution you'd like**
Either remove URL validation tied specifical

[2019-07-08 20:48] TekGadgt commented on #3418
**What Happens**
![What Happens](https://user-images.githubusercontent.com/3054491/60841447-d95af680-a19f-11e9-8cc5-1c91192abc27.png)
![What Happens 2](https://user-images.githubusercontent.com/3054491/60841585-29d25400-a1a0-11e9-9897-a0101bc49dbb.png)

[2019-07-08 21:28] #3003 closed

[2019-07-08 23:53] ytjohn opened #3420 "Twitter login not working"
**Describe the bug**
Clicking "Sign in with Twitter" returns a 500 error. I have the same result in Firefox, Chrome, and Chrome Icognito.

**To Reproduce**

Either click "Log In with Twitter" on the homepage or [go to]( https://dev.to/users/auth/twitter?callback_url=http%3A%2F%2Fdev.to%2Fusers%2Fauth%2Ftwitter%2Fcallback).

**Expected behavior**

Taken to twitter login or authorization page.

**Sc

[2019-07-09 00:13] maestromac commented on #3420
Thanks for this issue @ytjohn . It's being fixed right now

[2019-07-09 01:34] maestromac commented on #3420
This is resolved!

[2019-07-09 01:34] #3420 closed

[2019-07-09 03:49] damechen opened #3422 "New followed tag automatically float up to my tags"
**Is your feature request related to a problem? Please describe.**
When I follow some tag in the "Other popular tags" area, I won't be able to see the tag showed up in "My tags" area without a reload.

**Describe the solution you'd like**
I would like to see once I clicked some tag in "Other popular tags" area, the tag will disappear in "Other popular tags" area, and showed up in "my tags" area wi

[2019-07-09 06:45] edisonywh commented on #3380
I think OP is suggesting to actually sell Gold, just like Reddit does?

[2019-07-09 13:27] pacoita opened #3424 "Get dashboard stats from the API"
**Is your feature request related to a problem? Please describe.**
I would like to be able to get my personal statistics (followers, views) as I get them in my dashboard.

With the endpoint "https://dev.to/api/articles?username=MyUserName" I can get some data (like positive reactions or comments), but not the views and followers.

**Describe the solution you'd like**
I would like to be able to fet

[2019-07-09 15:08] #3133 closed

[2019-07-09 16:30] beatngu13 commented on #3133
Thanks for looking into it, but the issue has been closed without a comment? I assume you cannot reproduce the original state? I can also manually fix the content, just thought the issue may be interesting for you, too.

[2019-07-09 16:35] mariocsee opened #3425 "Adding location to listings"
**Is your feature request related to a problem? Please describe.**
Some listings such as conferences, job openings, etc. could use context on location.

**Describe the solution you'd like**
Add an optional location field when creating a new listing that is searchable

**Describe alternatives you've considered**
Open to alternative ideas!

[2019-07-09 16:44] benhalpern commented on #3424
Hey, this functionality will be available soon. We're rolling out advanced stats as part of a pro feature which will go live within a week or so.

We're starting with pro because we'd rather fully support this for users who want it most rather than trying to water it down for the need to scale to the entire userbase. If we get to the point where it's comfortably scaling it will go to general avail

[2019-07-09 17:24] #3424 closed

[2019-07-09 19:47] benhalpern commented on #3133
Oh hey sorry my bad @beatngu13 . I meant to comment and then close. I think I had two tabs open and messed this up.

The issue here is related to a somewhat one-off data transfer issue that occurred and affected some old articles, but not a ton. So we are aware of the issue and have done our best to automate the fix where it's simple.

A few fall into edge cases likely outside of what would be sim

[2019-07-09 19:50] beatngu13 commented on #3133
Sure, thanks for the information. And dev.to! 🙏

[2019-07-09 19:58] #2648 closed

[2019-07-09 20:35] TekGadgt commented on #3418
I have looked further into using API for install validation.  Unfortunately, GitLab does not even allow a version API request without authentication, however Gitea does, as can be seen here: https://try.gitea.io/api/v1/version.  Just more to think about.

[2019-07-09 20:57] Gredelston opened #3429 "URL validation does not accept all valid TLDs"
**URL validation does not accept all valid TLDs**

I would like to add my personal website, www.gredelston.cool, to my profile. However, when I attempt to do so, the system forbids me to save my changes: it raises an error by the "Website url" field which reads, "Please enter a URL."

**To Reproduce**

1. Go to the "Settings" page.
2. In the field labeled "Website url", enter the valid URL "www.gr

[2019-07-09 21:01] rhymes commented on #3429
Try to add the protocol: https://gredelston.cool

[2019-07-09 21:04] Gredelston commented on #3429
That works. Thank you!

It might be helpful to include a more descriptive error message.

On Tue, Jul 9, 2019 at 3:01 PM rhymes <notifications@github.com> wrote:

[2019-07-09 22:02] TekGadgt commented on #3429
That appears to be a standard HTML URL field validation message.  I am not sure how one would go about changing it.

[2019-07-09 22:15] rhymes commented on #3429
@TekGadgt well, to be honest the builtin message is correct. A URL isn't valid without the protocol :D
But it can be changed with a little bit of JS: https://www.html5rocks.com/en/tutorials/forms/constraintvalidation/

[2019-07-09 22:15] #3429 closed

[2019-07-09 22:36] mariocsee opened #3431 "Sort listings in dashboard by bump and create date"
**Is your feature request related to a problem? Please describe.**
Listings in dashboard only appear by their create date. Add sorting options to help manage larger lists of listings.

**Describe the solution you'd like**
A dropdown similar to that present in the articles dashboard to sort listings by certain attributes.

**Describe alternatives you've considered**
Open to ideas!

**Additional con

[2019-07-09 22:50] mariocsee opened #3432 "Handle expired listings in dashboard"
**Is your feature request related to a problem? Please describe.**
When a listing expires, it disappears from the `/listings` page, but when you head into your listings dashboard, the listing remains there with other active ones. There is no visual indicator that it is expired, and you'll only know once you click edit.

**Describe the solution you'd like**
There should be a clear visual indication

[2019-07-10 01:13] aadibajpai commented on #243
Um, I'm not sure if it is useful here but I found out that Stack Overflow can access organization repos that you may have had access to. As a proof of concept I pinned a couple of my own https://stackoverflow.com/users/story/9044659

[2019-07-10 02:06] scottaohara commented on #1153
Could there not be a unique ID that was added to the `h1` of each post, so that the skip link could navigate people there?

Was rather excited to see there was a skip link on the site, and then was immediately disappointed to realize it didn't do anything on anyone's posts. :(

[2019-07-10 05:16] acobster commented on #168
This is also an issue if I disable cookies e.g. using [Privacy Badger](https://www.eff.org/privacybadger).

[2019-07-10 07:53] rhymes opened #3435 "Listings: cannot bump a listing using org credits"
**Describe the bug**

A user can purchase a listing with their own credits or on behalf of the organization using their credits but when it comes to bump a listing, only credits belonging to the user can be used, even if it's an organization listing:

https://github.com/thepracticaldev/dev.to/blob/b45a55662f1573c268ed2ae7e56d091918cb5d57/app/controllers/classified_listings_controller.rb#L66-L77

*

[2019-07-10 09:09] pacoita opened #3436 "Post views count not updated for not logged in users"
**Describe the bug**
Looking at the source code it seems that the Posts view count is increased only if the visiting user is logged in ( I might be mistaking though, as I am not a Ruby developer).

**To Reproduce**
Access your post with another machine/device without being logged.

**Expected behavior**
The post views would be increased for each unique visitor, even if he/she is not logged in.

**

[2019-07-10 10:30] Envek opened #3437 "Markdown: fenced code blocks in numbered lists ruins following markup"
Looks very related to #1855 but worse :-)

**Describe the bug**

Fenced code blocks inside numbered lists ruins all the following markup causing inability to publish post with `500 Internal Server Error`. Preview button returns cryptic errors:
[code]

**To Reproduce**

Insert following markdown to post editor v1:

[code]

 3. And run `lefthook install`.
[code]

[2019-07-10 16:38] eusonlito opened #3439 "figcaption tag is behind image"
**Describe the bug**
For example on article https://dev.to/linuxfuture/icon-fonts-vs-svgs-an-ultimate-guide-to-accessible-web-icons-2lh6 the `<figcaption>` tag is behind the image.

**To Reproduce**
1. Go to article https://dev.to/linuxfuture/icon-fonts-vs-svgs-an-ultimate-guide-to-accessible-web-icons-2lh6
2. Scroll down to first image
4. See error

**Expected behavior**
`<figcaption>` tag on cor

[2019-07-10 18:48] damechen opened #3441 "Cannot create tag from admin panel"
**Describe the bug**
I am trying to create a new tag via admin panel, but hit error like following:

NoMethodError at /admin/tags/new

undefined method `sponsorship_organization_id' for #<Tag:0x00007febe2029740>
Did you mean?  sponsor_organization_id
               sponsor_organization_id?
               sponsor_organization_id=
               sponsor_organization
               sponsor_organizati

[2019-07-10 18:50] rhymes commented on #3441
I've noticed this also, this should be solved by https://github.com/thepracticaldev/dev.to/pull/3438 :)

[2019-07-10 18:52] damechen commented on #3441
Thank you for prompt reply. I will give it a try. Thanks!

[2019-07-10 20:37] maestromac commented on #3439
Thanks for reporting this @eusonlito !

[2019-07-10 20:54] damechen commented on #3441
I've verified. The fix worked like a charm. Thanks!

[2019-07-10 20:54] #3441 closed

[2019-07-10 20:56] maestromac commented on #3425
Resolved with https://github.com/thepracticaldev/dev.to/pull/3370

[2019-07-10 20:56] #3425 closed

[2019-07-10 22:03] #3331 closed

[2019-07-10 22:24] #3431 closed

[2019-07-11 01:34] maestromac commented on #3138
Thank you for this bug issue @Merri .

Sorry we didn't get to you sooner. We did release a new editor recently and it may have caused you to experience this issue. It also may have been a glitch with the localStorage, since that is used to save your work incase you accidentally closed the page.

I investigated it and I am having trouble reproducing this issue. Are you still experiencing this issue

[2019-07-11 12:09] maxcell opened #3448 "More Color Palettes for Offline Page"
**Is your feature request related to a problem? Please describe.**
It isn't that there is a problem with it -- it's an opportunity for us to grow in the community could be to allow for more color palette options that offer enough contrast for people with color vision deficiencies.

**Describe the solution you'd like**
Having few options potentially on the page that would be selected through a drop

[2019-07-11 13:54] brarnaudovski commented on #3375
Does it make sense for the seconds not to be rounded at 60? For example, the display time for the bug example, would be presented as `78:08`

[2019-07-11 14:03] vepo opened #3451 "Ampersand is not escaped on Twitter share from the hamburger menu"
**Describe the bug**

Ampersand is not escaped on Twitter share

**To Reproduce**
1. Open [this post](https://dev.to/emmawedekind/101-tips-for-being-a-great-programmer-human-36nl)
2. Select share option "..."
3. Select Share to Twitter

It will open a tab with a tweet **"101 Tips For Being A Great Programmer (** instead of **"101 Tips For Being A Great Programmer (& Human)" by @EmmaWedekind #DEVco

[2019-07-11 14:06] rhymes commented on #3451
@vepo what browser are you using? Because with Firefox 68 the share works correctly.

![Screenshot_2019-07-11 Post a Tweet on Twitter](https://user-images.githubusercontent.com/146201/61057532-d22d2600-a3f5-11e9-8b10-079a24af90b1.png)

[2019-07-11 14:16] vepo commented on #3451
I select other way to share it. Not direct click on the Twitter icon. I was thinking if I share it through twitter or Linkedin

[2019-07-11 14:29] rhymes commented on #3451
I see the bug, there's a difference in how the URL is composed in the Twitter button in the sidebar - https://github.com/thepracticaldev/dev.to/blob/master/app/views/articles/_actions.html.erb#L17 - and the "Share to Twitter" in the hamburger menu - https://github.com/thepracticaldev/dev.to/blob/master/app/views/articles/_actions.html.erb#L62 (the second one is the wrong one).

Great catch!

[2019-07-11 16:24] maestromac commented on #3324
This will require a bit of redesign. Depending on the editor version, users will either see 3 or 4 buttons. If I were squish 4 buttons together it would look like below.
![Screen Shot 2019-07-11 at 12 13 26 PM](https://user-images.githubusercontent.com/15793250/61067775-638ca000-a3d6-11e9-9ef6-7f5446bdcee2.png)
Doesn't seem too ideal. I think the best move here is to a toggle button to hide the bu

[2019-07-11 19:49] jessleenyc commented on #3418
We ran into a similar issue with Mastodon URLs and ended up removing the validation altogether. It would be ideal if we could create a general tool that could validate links. We welcome any additional thoughts here..hesitant about removing the validation here because we don't want arbitrary links.

[2019-07-11 19:54] jessleenyc commented on #3414
Thanks for the request! We're still trying to figure out what our requirements are in regards to adding new icons to the DEV profile. For example, should this be reserved for social links only? Should we use font awesome as a determiner? etc.

[2019-07-11 20:00] jessleenyc commented on #3379
Hey @NickyMeuleman! I think we'd be able to make this happen eventually but right now there isn't a simple way for us to make that available for logged out users.

The reason setting `config_body_class` doesn't work is that we don't run the script that checks for that for logged out users. If someone created a browser extension or user script that ran the contents of this script it would work: htt

[2019-07-11 20:14] TekGadgt commented on #3418
Could require base level authentication for people that want to share their self-hosted GitLab.  Enough to access the API version call.  Could be temp stored for initial validation.  Just a thought, looking through GitLab API docs, doesn't look like their is much available to the public.

[2019-07-11 20:31] TekGadgt commented on #3418
So, it's hacky, but could be a place to start.  GITLABURL/api/v4/projects will return any public projects that are there to anyone that calls it.  This could technically be used for validation, but I could see issues arise if someone has no public projects.  Could require an OAUTH token to be made and submitted alongside the URL in order to ping /api/v4/version, but not sure what other security ri

[2019-07-11 20:55] jrg94 opened #3453 "Recycle Old Content"
**Is your feature request related to a problem? Please describe.**

This is mostly a selfish ask, but I think it would be cool if there was an option to discover older  content. Right now, the main homepage allows you to sort content by latest and greatest, but there doesn't seem to be any opportunities for good content to shine if it never gets seen in the first place.

In other words, unless an

[2019-07-11 23:00] alexandersandberg opened #3454 "Clicking 'Purchase credits' after creating a listing will lose your draft"
**Is your feature request related to a problem? Please describe.**
When creating a new listing without sufficient credits, the link at the bottom of the page—"Purchase credits now"—will take you to the credit purchasing page, in the same tab. This means that **any information that you've filled in for your listing will now be gone**.

**Describe the solution you'd like**
There are a few solutions

[2019-07-11 23:47] j2em6h opened #3455 "Ability to backdate a post"
**Is your feature request related to a problem? Please describe.**
Unable to change publish date. I personally wish to back date a post, but there is no way to set the publish date (or time) for a post.

**Describe the solution you'd like**
Add a custom variable for `publish_date`

**Describe alternatives you've considered**
Time travel?

**Additional context**
In lieu of being able to delete/edit

[2019-07-12 00:35] alexandersandberg opened #3456 "Social links on 'Key Links' page missing inverted styling in night mode"
**Describe the bug**

When night mode is enabled, the social links on the [Key Links page](https://dev.to/p/information) are missing the inverted styling (`filter: var(--theme-social-icon-invert, invert(0));`) that's used in other places, for instance in the sidebar on the home page. See screenshots below for reference.

**To Reproduce**

1. Enable night mode
2. Go to the [Key Links page](https://

[2019-07-12 00:43] damechen opened #3457 "Customize the page layout through admin panel"
**Is your feature request related to a problem? Please describe.**
Right now, the page layout is hardcoded. Let's say if I want to add a new tag in the right side bar, I have to change the code. Instead, can we do so through the admin panel?

**Describe the solution you'd like**
Customize the page layout in admin panel.

**Describe alternatives you've considered**
No

**Additional context**
No

[2019-07-12 02:59] aspittel commented on #3448
Oh this is an awesome idea! Thank you so much for recommending it! Would love to see this implemented or for anyone in the community to take it on. Thanks again!

[2019-07-12 03:41] maxcell commented on #3448
I don't mind taking a shot at it!

[2019-07-12 07:08] rhymes commented on #3453
Hi @jrg94 it's a good idea, would the existing suggested articles UI that appears at the bottom of the article page cover this?

For example, at the bottom of https://dev.to/vuejstutorial_/server-side-kotlin-with-coroutines-183g I see the following suggestions:

![Screenshot_2019-07-12 How To Become A Full Stack Developer In 2019  ROADMAP  ](https://user-images.githubusercontent.com/146201/6110900

[2019-07-12 07:24] jrg94 commented on #3453
Yeah, this is great right now! That said, I think it's a bit more indirect than I'd like. Something like the following for articles would be awesome:

![image](https://user-images.githubusercontent.com/11050412/61109984-41396780-a454-11e9-8ccc-0786c02ac5ca.png)

That said, if you think the current recommendations section already accomplishes that, no worries!

[2019-07-12 12:52] yagnikgurutechnolabs opened #3462 "can't write post and it'shows me error"
http://prntscr.com/oe3xrn

Please check the link and give me reply ASAP.

[2019-07-12 12:54] Merri commented on #3138
No, I cleared all the caches and also did change the editor version to v2 in the settings before doing that, and since then it has been working. So there probably has been some data that has been cached in one of the previous editor formats (v1 or an earlier v2; the editor switched with no action by me at some point) and that data then glitched it in that one particular article.

Clearing all the

[2019-07-12 12:54] #3138 closed

[2019-07-12 13:17] rhymes commented on #3462
Hi @yagnikgurutechnolabs, that's not an error, it just says that your post is unpublished, you need to publish it. If you're using the editor v1 you need to set `published: true` in the frontmatter:

[code]

and click "SAVE CHANGES"

If you're using the editor v2 you'll see a "PUBLISH" button at the bottom.

Let me know if that works for you

[2019-07-12 13:30] yagnikgurutechnolabs commented on #3462
Thanks for your response.

But I can't post a new write story.

http://prntscr.com/oe4jsy

please check this SS

[2019-07-12 13:33] #3456 closed

[2019-07-12 13:51] Zhao-Andy commented on #3462
Hi @yagnikgurutechnolabs, this might an issue with your account. Please email yo@dev.to for more assistance.

[2019-07-12 13:51] #3462 closed

[2019-07-12 15:24] rhymes opened #3463 "Listings: location link is broken"
**Describe the bug**

Given a listing with a location set, clicking on the link brings to a URL that doesn't show anything. Example: https://dev.to/listings/Colorado

The URL should be https://dev.to/listings/?q=Colorado

**To Reproduce**

1. Go to https://dev.to/listings
2. Click on the location name of a listing with a location
3. End up in an empty view

**Expected behavior**

1. Go to https://

[2019-07-12 16:03] Elecweb commented on #3439
@maestromac `figcaption` has `margin-top: -0.8em;`

https://github.com/thepracticaldev/dev.to/blob/567579daf3df42efbe92c094f774d971e87b254a/app/assets/stylesheets/article-show.scss#L546-L548

it looks great when it's next to `p` element, so I think we can use selector like this ?
[code]

[2019-07-12 16:41] maestromac commented on #3439
@Elecweb that seems fine. Be sure to test it with [this article](https://dev.to/maestromac/vim-wont-make-you-a-more-productive-developer-h9f) too since the figcaption isn't causing a problem there.

[2019-07-12 17:02] #3463 closed

[2019-07-12 20:14] IvanDelsinne opened #3469 "Too long markdown comment breaks code blocks"
**Describe the bug**

As seen on [this comment](https://dev.to/artemix/comment/d0ph), the last code block is not rendered as such, and seems to only be wrapped by 1 backtick per line.

**Expected behavior**

I'd expect every code block to behave the same, no matter the length.

**Screenshots**

![image](https://user-images.githubusercontent.com/23583792/61155913-65e41c80-a4f2-11e9-81e4-6304f09c569

[2019-07-12 20:16] IvanDelsinne commented on #3469
I'm sincerely sorry, as I just noticed that there was a rogue unclosed backtick in the middle of the document, which I probably put by accident, so now it's edited and there's no real bug.

[2019-07-12 20:16] #3469 closed

[2019-07-12 20:18] Zhao-Andy commented on #3469
My (personal) hope is that we have cool syntax highlighting that can display things like rogue backticks in the future. :)

[2019-07-12 20:32] IvanDelsinne commented on #3469
That's definitely a fair point.

[2019-07-13 15:23] Zhao-Andy commented on #3463
Resolved via #3464

[2019-07-13 15:56] Zhao-Andy opened #3470 "Throw a proper error and message for Jekyll links"
**Describe the bug**
There are some cases where someone might be copying and pasting or importing in general their post from their Jekyll blog. AFAIK Jekyll also uses Liquid syntax, and this seems to be a common way to link something:
[code]

Interestingly, this renders in preview with a link that sends you to `https://dev.to/{% link https://github.com/something/something-else %}`.

When attemptin

[2019-07-14 15:57] shreyasminocha commented on #3183
I think I still see incorrect dates in my notifications.

![screenshot 2019-07-14 at 9 27 05 PM](https://user-images.githubusercontent.com/11537232/61186043-0ef45980-a650-11e9-9fa0-7c3582db6bba.jpg)

[2019-07-14 16:51] sujatmax opened #3471 "why my post remove"
Hello,

why may post remove . I don;t understand. Please let me?  allow me post here

Thanks.

[2019-07-15 01:32] marianopeck opened #3472 "Integration with google analytics or similar?"
**Is your feature request related to a problem? Please describe.**
I am trying to move away from my wordpress blog into dev.to. However, one of the major drawbacks I see is the lack of proper analytics. I can just see number of visits and reactions. That's all. I cannot see where the visits come from, which country, etc tc.

**Describe the solution you'd like**
Either improve the analytics or allo

[2019-07-15 10:01] weekly-digest[bot] opened #3473 "Weekly Digest (8 July, 2019 - 15 July, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 76 issues were created.
Of these, 51 issues have been closed and 25 issues are still open.
## OPEN ISSUES
:green_heart: #3471 [why my post remove](https://github.com/thepracticaldev/dev.to/issues/3471), by [sujatmax](https://github.com/sujatmax)
:green_heart: #3470 [Th

[2019-07-15 13:12] Zhao-Andy opened #3485 "Scraping with Medium Liquid tag no longer works"
Looks like Medium has obscured their HTML and are using unintelligible classes now. This unfortunately breaks out Medium Liquid tag, which relies on scraping for the correct information.

[2019-07-15 14:17] #3473 closed

[2019-07-15 14:42] maestromac commented on #3471
Hello @sujatmax , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-07-15 14:42] #3471 closed

[2019-07-15 14:42] Zhao-Andy opened #3487 "CodePen Liquid tag username regex allows only 20 characters"
Based on this comment, there are CodePen usernames that are over the 20 character limit: https://github.com/thepracticaldev/dev.to/pull/2985#discussion_r303446301

This should be a one character fix to adjust our limit from `20` to `30` in our current regex checker:
https://github.com/thepracticaldev/dev.to/blob/47eaa9ece11fd5e748cf53af6bccde7929d00686/app/liquid_tags/codepen_tag.rb#L50

[2019-07-15 15:27] #3451 closed

[2019-07-15 16:09] benhalpern commented on #271
@lightalloy I decided you'd probably do a better job of writing out the next few issues based on our discussions so I'm going to instead just leave a list of notes here:

- Podcast appearance "tagging", e.g. an association between a user and a podcast episode one could pin to profiles
  - podcast appearance would probably have different states of "displayed", "verified", etc. Ultimately the user s

[2019-07-15 18:40] #3334 closed

[2019-07-15 21:00] deepu105 opened #3491 "Make liquid tags a ruby gem"
**Is your feature request related to a problem? Please describe.**

I'm planning to set up a Jekyll blog and crosspost everything to Dev.to, I currently wrote some stubs for the Dev.to custom Liquid tags. But it would be nice if those tags are published as a ruby gem that can be used in any Jekyll project. It would help a lot of people who are crossposting to Dev from Jekyll blogs

**Describe the

[2019-07-15 21:21] jessleenyc commented on #3472
Hey, this functionality will be available soon. We’re rolling out advanced stats as part of a pro feature which will go live within a week or so.

We’re starting with pro because we’d rather fully support this for users who want it most rather than trying to water it down for the need to scale to the entire userbase. If we get to the point where it’s comfortably scaling it will go to general avail

[2019-07-15 21:21] #3472 closed

[2019-07-15 21:26] jessleenyc commented on #3454
Yeah, we should definitely figure it out. @mariocsee wanted to get this on your radar -- adding a prompt is a good in-between solution for now but auto-saving drafts will be the most useful.

[2019-07-15 21:58] marianopeck commented on #3472
Hi @jessleenyc
Thanks for the answer. Where can I read more about pro accounts? I cannot seem to find anything through the website...I mean, what are the extra features, pricing, etc...
I will be done with a RTFM :)
Thanks!

[2019-07-16 06:16] benhayehudi commented on #3414
Hi @jessleenyc, completely understand! I thought I would raise this as a possible way to enhance a person's presence on the site. For those who have delivered talks, it's always nice to be able to share those slides with those who may find them helpful!

I'm happy to think through it more with someone if that's helpful, and of course, more than happy to make the change myself and add it as a PR fo

[2019-07-16 07:29] Glennmen commented on #3472
@marianopeck I don't think this has been released yet: https://github.com/thepracticaldev/dev.to/pull/3461

[2019-07-16 11:22] marianopeck commented on #3472
Ahhh ok. I misunderstood then the `This is pretty much the pattern we’ll be using for pro accounts.`. Made me thought the pro accounts were already in place since some time.
OK....eager to wait for the Pro accounts then!

[2019-07-16 14:03] jessleenyc commented on #3457
This makes sense to me, similarly to how we have an admin tool for the sidebar when we want to put up doodles.

[2019-07-16 14:04] jessleenyc commented on #3455
This makes sense - for us it would be figuring out where best to put this functionality (though I think the answer is on the /manage page). Question though -- if a post is backdated, would we still surface it as new content?

[2019-07-16 14:12] maestromac commented on #3437
Thank you for this reporting this @Envek . We have a regex in place that would wrap code blocks in an liquid escape tag ( `{% raw% }...{% endear %}`). It seems to be broken for this use case an could use an update.

[2019-07-16 15:46] ltciro commented on #890
I love to know how this is going:
I wrote my thoughts on this ,
**Is your feature request related to a problem? Please describe.**
Most of the good content is in English for different reasons. for other language speakers which create English content is mostly because they want to enhance or give visibility to their career in the global market, so, people(readers) of other languages who are startin

[2019-07-16 15:49] Glennmen opened #3493 "Can't tag user in italics"
**Describe the bug**

When tagging a user in an article inside an italics block the link to the user profile isn't added.
https://dev.to/glennmen/contributing-to-improve-yourself-2pkg

**To Reproduce**

1. Create a new post
2. Add an italics block with inside a user tag `@ben`

**Expected behavior**

Even in italics the user tag should work.

**Screenshots**

**Desktop (please complete the followi

[2019-07-16 17:06] cutiko commented on #890
It took me some time to figure what kind of content keep on my blog and what to write on dev. Now my friends tell me they like my dev articles but they want to see it in Spanish as well.

I think the best would be to have a tag to mark a block of text in different languages. That way the post-composition can be linear and re-use assets like photos.

Something like this:

[code]

The argument of th

[2019-07-16 17:49] alliptvtv opened #3494 "Issue: Bug report"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-07-16 17:55] #3494 closed

[2019-07-16 18:35] #3129 closed

[2019-07-16 22:05] RyKilleen commented on #1153
Another way to solve it is to use the `<main>` element across templates to indicate where the skip link should jump to. The benefits are that it's more semantic, doesn't require a global magic ID, and any template should be able to identify the main content.

[2019-07-16 22:11] RyKilleen commented on #1153
The most semantic route forward is probably to guarantee that an `<main id="main-content">` tag exists around the content you want skipped to for any given template. That would keep it semantic and consistent without having to insert magic elements in specific spots for all templates.

[2019-07-16 22:24] janedotbiz commented on #3455
I was imagining it in the post editor with the other custom variables. I didn't even know /manage existed until just now; that seems like an ok spot for it too.

Personally, I think _not_ surfacing a back dated post as "new" makes sense, and is probably easier to implement.

[2019-07-16 23:15] scottaohara commented on #1153
"the most semantic route forward" is a debatable statement,  but doing a quick audit of the site, a fair one based on the lack of proper heading structure / general misuse of heading for a good portion of the site that aren't people's posts.

That said, it seems that a `main` element w/`id` would also need to be properly added to the templates.

[2019-07-16 23:22] scottaohara commented on #3439
per the referenced instance of the `figcaption`, it's used incorrectly as well, as it is not meant to be used outside of being a direct child of a `figure` element.

If adding the `figure` element to correctly wrap the `img` and `figcaption`, the text does not get positioned behind the `img`.

[2019-07-17 10:19] amit58843 opened #3497 "I am not able to write new story on dev"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-07-17 11:20] lightalloy opened #3498 "Display podcast episode's published_at date"
I would like to see `published_at` date of an episode on its page, in the podcasts feed and on the podcast's episodes list.
It would allow me to understand if the episode is fresh and if the podcast is active.

[2019-07-17 14:56] maestromac commented on #3497
Hello @amit58843 , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-07-17 14:56] #3497 closed

[2019-07-17 15:05] #1313 closed

[2019-07-17 15:32] shushugah commented on #3491
I'd be happy to work on this, but am having trouble finding an example of existing liquid plugins used with rails. There are a few dependencies of this gem, namely it works with `rails`, `liquid` and `nokogiri`.  See my open PR's below

[2019-07-18 01:04] JoelMontano commented on #3493
I could grab this!

[2019-07-18 01:16] Zhao-Andy commented on #3493
@JoelMontano go for it!

[2019-07-18 04:27] toddanglin opened #3502 "Add ability to get user's unpublished posts via API"
I'm digging-in to the new API with the goal of providing authors a simple to way to schedule the date and time their posts are published.

A lot of what's required seems to be in the API, but there does not appear to be an ability to get an user's _unpublished_ posts...even if the user provides their API Key secret. Ideally, a scheduling tool would fetch an user's unpublished drafts and allow them

[2019-07-18 04:46] pavanear2 opened #3503 "500 error"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-07-18 04:46] pavanear2 commented on #3503
unable to write new post

[2019-07-18 07:43] rhymes commented on #3491
Hi @deepu105 - I think it's a good idea in general, but I'm not 100% sure that in the current state it could be easily done, in part for what @shushugah noticed (they are coupled with the Rails app and some of them even use models and data inside the DEV app) and also because they should be subject to review to make sure there are no security or data leaks.

Anyhow, there's a discussion somewhere

[2019-07-18 14:02] maestromac commented on #3503
Hello @pavanear2 , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-07-18 14:02] #3503 closed

[2019-07-18 14:24] maestromac commented on #3455
We actually already have this functionality in place but only for RSS articles. You'll notice the `Originally published at Medium on Jun 05, 2019` in [this article)(https://dev.to/vaidehijoshi/weeding-out-distributed-system-bugs-9c8). That field will be replaced with `Updated at` if the article is ever updated.

[2019-07-18 14:38] lightalloy commented on #2958
Fixed by #3499

[2019-07-18 14:38] #2958 closed

[2019-07-18 15:05] jessleenyc commented on #3455
@maestromac I think we're talking about providing this for all articles.

[2019-07-19 07:33] brarnaudovski commented on #712
@jessleenyc Can I start with this?
If I did my research correctly, I'll need some background job, which eventually fetch all tweets (from `Tweet` table, as dev.to stores all the tweets in articles), and will make call through `TwitterBot` to fetch the latest data, and update the counters...

[2019-07-19 10:26] rhymes commented on #712
@brarnaudovski I wonder what would be the policy around that. Fetching **all** tweets everytime would probably be too much. We need to think of the right combination of how many tweets and how far back the logic has to go but the problem of "how far back" is that an old tweet might become popular again...

What do you think?

[2019-07-19 11:25] Zhao-Andy commented on #712
@rhymes I think _way_ back then we discussed fetching tweets only for articles that have been viewed recently. When we were having that discussion, we didn't have the `PageView` model yet. Maybe in the `PageViewController` we could create a job to update that article's tweets?

[2019-07-19 12:04] rhymes commented on #712
@Zhao-Andy That would be an interesting trick!

I like the idea, the first user gets the "stale count", the next one (or at least the one that see the article when the async job is done) will see the updated count

[2019-07-19 12:11] brarnaudovski commented on #712
@Zhao-Andy I beleive it's a great idea. I will try to implement this. As I am still learning the project concept, maybe I'll need help, when the `PageViewController::create\update` is called, so I can test this...

[2019-07-20 17:59] maryam-b commented on #2960
@unixnut  font for each part is big? would it be great if you can post a screenshot cause I assumed that you mean the article's font and when I checked it on Android it was not too big at least for me :) so I like to know how does it look like on your test device.
@jessleenyc I'm checking your current pattern for `theme` and `font` and I assume that when you are suggesting to follow that pattern f

[2019-07-21 08:28] rhymes opened #3508 "Link liquid tag's title is not correctly escaped"
**Describe the bug**

If the title of the article contains an ampersand `&`, it will appear as `&amp;`

**To Reproduce**

1. Go to https://dev.to/devteam/the-7-most-popular-dev-posts-from-the-past-week-5f80
2. Scroll and check entries number 1 and 4

**Expected behavior**

`&` should remain `&` as it is in the single article page

**Screenshots**

![Screenshot_2019-07-21 The 7 Most Popular DEV Pos

[2019-07-21 14:17] bdbch opened #3509 "Allow posts to be marked as discussions"
**Is your feature request related to a problem? Please describe.**
I think Kent C. Dodds has a really [good point](https://mobile.twitter.com/kentcdodds/status/1152942560865923072). I also believe dev.to can be a way better discussion platform than Twitter.

**Describe the solution you'd like**
The problem is, that I'd also like to use dev.to as my blog instead of Medium which I will use on my web

[2019-07-21 18:17] Slashgear opened #3511 "Http 500 Error when malformed github repo links inserted"
**Describe the bug**

When a user want to add a github repository link in a post. If their is a `/` at the beginning

**To Reproduce**

- Goto post creation page

- Paste `{% github /thepracticaldev/dev.to %}`

- Try to save

- You will receive a 500 HTTP error

**Expected behavior**

It should at least send a 400 error.
It should help user with a specific message.

**Screenshots**

<img width="10

[2019-07-21 19:30] eBourgess opened #3512 "The 'article-reaction-actions' div doesn't show while using ublock origin"
**Describe the bug**
While browsing dev.to on my Firefox browser with my `ublock origin` extension being active, the `article-reaction-actions` div doesn't show. Meaning I can no longer give my reactions to a post, share it on social media easily. etc.

**To Reproduce**

1. Turn on ublock origin
2. Go to any article, e.g [this](https://dev.to/lampewebdev/my-web-development-vs-code-settings-theme-e

[2019-07-21 19:57] rhymes commented on #3512
I do have uBlock Origin on but I see the bar. I see the syntax error you mention but I don't think they are related.

Can you provide a screenshot of what uBlock is blocking? Maybe you need to turn something on.

Click on the uBlock icon and take a screenshot :)

[2019-07-22 08:38] rhymes commented on #838
This should help [A Guide to Caching Your Rails Application With Fastly](https://thoughtbot.com/blog/a-guide-to-caching-your-rails-application-with-fastly)

[2019-07-22 10:01] weekly-digest[bot] opened #3513 "Weekly Digest (15 July, 2019 - 22 July, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 40 issues were created.
Of these, 23 issues have been closed and 17 issues are still open.
## OPEN ISSUES
:green_heart: #3512 [The 'article-reaction-actions' div doesn't show while using ublock origin](https://github.com/thepracticaldev/dev.to/issues/3512), by [eBourge

[2019-07-22 10:12] lightalloy commented on #2986
@amirition I've made several changes to the podcasts fetching logic. Could you check if the problem persists?

[2019-07-22 16:07] haseebelahi opened #3520 "Number of views inconsistent in Notifications and Dashboard"
**Describe the bug**
Congratulations GIF notification shows a different number of views than the dashboard.

**To Reproduce**
1. Post by a user reaches more than 20k followers
2. User gets notified of the views
3. Number of views in Notifications is different from the number of views shown on Dashboard for that post.

**Expected behavior**
The number of views in Notifications and on Dashboard for

[2019-07-22 16:17] rhymes commented on #3520
Hi @haseebelahi, it's not exactly inconsistent, it's a combination of how the message is phrased and async. Basically when your post is detected to have passed 16384 views the notification is queued.

The moment your post is detected is not in realtime and the queued also adds time in between.

If you read the message doesn't say "you have 16k views" but "you passed 16k views", in that sense, it's

[2019-07-22 16:25] haseebelahi commented on #3520
Oh, thanks for the clarification @rhymes. I think we could then remove the word 'just' in 'Your post **** just passed x views' to make it more clear?

[2019-07-22 16:27] rhymes commented on #3520
that makes sense!

[2019-07-22 17:59] haved commented on #3508
I will have a stab at fixing this

[2019-07-22 20:49] uyouthe opened #3529 "Overflow issues"
<img width="1240" alt="Screenshot 2019-07-22 at 23 39 47" src="https://user-images.githubusercontent.com/14220138/61663858-385d5700-acda-11e9-8e81-4063244bdb4b.png">

see https://dev.to/guruguy00

I think the reason is absolutely positioned `user-metadata-details`. Its container thus has no clue about how tall it needs to be to fit this.

I've examined `user-profile-header` and its behaviour. The

[2019-07-22 20:54] rhymes commented on #3529
@uyouthe I've added the link to the profile so that people can quickly see and inspect the problem live

[2019-07-22 23:41] jessleenyc commented on #3511
Agreed, let's send a better error message for this.

[2019-07-22 23:42] #3513 closed

[2019-07-23 04:33] THausherr opened #3530 "Feature request: ordering the search results"
**Is your feature request related to a problem? Please describe.**
Yesterday I wanted to search that recent post about a bad day at stackoverflow, I found only posts from 2018. (However today, I did the search again and it was right at the top)

**Describe the solution you'd like**
I'd like a way to sort the results by date, relevance (how good the match is) or times viewed / liked.

**Describe al

[2019-07-23 07:27] eBourgess commented on #3512
Hey @rhymes here is the log for my blocks in ublock origin
![Screen Shot 2019-07-23 at 10 26 12 AM](https://user-images.githubusercontent.com/19877979/61691507-61123a80-ad34-11e9-82e1-2db977fefc4a.png)

[2019-07-23 07:54] rhymes commented on #3512
I think it's those two dom rules, especially the second one, it's literally blocking the article actions to appear. Did you manually zap the element? Are you using too strict filters? Do you have advanced mode activated?

Check in the uBlock dashboard in the "my filters" and "my rules" if there's anything related to those two blocks.

I think your only chance is to undo what's going on right now f

[2019-07-23 08:27] haseebelahi commented on #3520
I'm going to pick this one up.

[2019-07-24 07:16] eBourgess commented on #3512
I have really strict filters on my ublock origin yes, so the solution for me is to disable uBlock Origin while scrolling through dev.to

[2019-07-24 07:25] rhymes commented on #3512
I'm going to close this because I don't think there's anything to be done on our side.

[2019-07-24 07:25] #3512 closed

[2019-07-24 11:28] jaysauh opened #3535 "I can't comment in any post and also don't allow to post anything."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-07-24 12:21] lightalloy opened #3537 "Podcast ownership"
Part of the Podcast section enrichment #271

- create a `podcast_admin` role
- add appropriate roles to existing users (how?)
- assign existing podcasts to users when possible

- creating podcasts by users
- editing podcasts by podcast admins
- notify a podcast admin if a podcast was not properly fetched

- podcasts in the user's profile
- podcasts on user's dashboard

I don't see the need to nece

[2019-07-24 15:46] maestromac commented on #3535
Hello @jaysauh , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-07-24 15:46] #3535 closed

[2019-07-24 15:57] spboyer opened #3538 "Live Streaming / Self serve broadcasting for Orgs"
See: https://github.com/thepracticaldev/dev.to/pull/2591

Would like to have the live stream/self serve abilities for organizations as well.

[2019-07-24 16:03] #3520 closed

[2019-07-24 16:10] maestromac commented on #3529
Thanks for the detailed issue report @uyouthe . This is a duplicate of https://github.com/thepracticaldev/dev.to/issues/3253. You are encouraged to continue the conversation there!

[2019-07-24 16:10] #3529 closed

[2019-07-24 17:30] uyouthe commented on #3253
same here

[2019-07-24 18:40] fluffy-critter commented on #2617
The easy way to verify Mastodon instances is to issue a GET to /api/v1/instance and check the validity of the responses. That should also work for other Mastodon-like fediverse providers such as Pleroma.

[2019-07-24 21:17] fedeagripa commented on #2537
@Zhao-Andy may this be solved by this: https://github.com/thepracticaldev/dev.to/commit/b0ad7f8c74b09ca55a80e64ff69d122ad6de0655#diff-0037c2206a5866179ceaf9a0ffc72eec ?

[2019-07-25 00:48] #3508 closed

[2019-07-25 09:01] rugk commented on #2617
@fluffy-critter exactly, I do use or for my Firefox add-on e.g.

https://addons.mozilla.org/firefox/addon/mastodon-simplified-federation/

[2019-07-25 11:16] lightalloy commented on #2986
This should work, I'm closing the issue for now. Please, reopen if the problem persists.

[2019-07-25 11:16] #2986 closed

[2019-07-25 17:47] maestromac commented on #2537
Yup this looks resolved. Thanks all!

[2019-07-25 17:47] #2537 closed

[2019-07-25 19:45] maestromac opened #3542 "OAuth 2 provider on DEV"
**Is your feature request related to a problem? Please describe.**

- Implementing OAuth 2 provider on DEV would open many door of possibilities...

**Describe the solution you'd like**

- Using Doorkeeper gem.

**Describe alternatives you've considered**

- n/a

**Additional context**

[2019-07-25 20:19] maestromac commented on #2960
Yes @maryam-b , that's exactly what Jess is referring to.

While having the options of small, medium, and large is the right idea, I wonder if we should leave this functionality to the browser. I believe all (mobile) browser provide some kind of text scaling feature and they do store preference per site.

[2019-07-25 20:23] NickCraver commented on #1419
If it helps, the `site` parameter (for any API method that accepts it) takes several formats. You can use the subdomain of `{site}.stackexchange.com`, or `{site}.com` (for second level domains), or you can pass the whole thing (a simpler approach here I think). For example, these all work:

- SO: https://api.stackexchange.com/2.2/questions/4?site=stackoverflow
- SO: https://api.stackexchange.com/2

[2019-07-25 21:08] Zhao-Andy commented on #3412
Resolved via #3539

[2019-07-25 21:08] #3412 closed

[2019-07-25 21:15] Zhao-Andy commented on #998
Resolved via #2583 and #3041 :)

[2019-07-25 21:15] #998 closed

[2019-07-25 21:18] Zhao-Andy commented on #1772
@sarthology now that we have auto-save, is this a feature you'd still like?

[2019-07-25 21:24] kevin-montrose commented on #1419
You probably do want [`/posts/{ids}`](https://api.stackexchange.com/docs/posts-by-ids), that'll work with any extracted id and with a [custom filter](http://api.stackexchange.com/docs/filters) you get body, title, and user details on the [returned type](http://api.stackexchange.com/docs/types/post) (`!bGKnDTDobnScsy` is a decent starting point).

Registering an app ([which is on Stack Apps for his

[2019-07-26 02:59] wheatup opened #3544 "Why there is a hideous white bar under the code block?"
**Describe the bug**
There's a white block under each `pre` block that I'm not sure it's a feature or something. Just doesn't look right :/

**To Reproduce**
Navigate to a post that has code blocks:

[https://dev.to/thepracticaldev/daily-challenge-24-shortest-step-41o3/comments](https://dev.to/thepracticaldev/daily-challenge-24-shortest-step-41o3/comments)

**Screenshots**
<img width="848" alt="Sc

[2019-07-26 03:00] wheatup commented on #3544
I think you need to add `overflow-x: auto;` to the `<pre>` block..

[2019-07-26 06:43] rhymes commented on #3544
The answer to your question is: because there might be a bug somehow, there's no actual reason :-)

Interestingly enough I don't see the bar in either Firefox 69 nor Chrome 75.0.3770.142 on macOS 10.14.6

Firefox:

![Screenshot_2019-07-26 Discussion of Daily Challenge #24 - Shortest Step](https://user-images.githubusercontent.com/146201/61931483-fe61ae80-af80-11e9-97ab-9fc4cfe01f70.png)

Chrome:

[2019-07-26 06:47] wheatup commented on #3544
Sorry, this page, with `/comments`

https://dev.to/thepracticaldev/daily-challenge-24-shortest-step-41o3/comments

[2019-07-26 09:48] rhymes commented on #3544
@wheatup that's where I got the screenshots from, I don't see it. Can you check with Firefox on your machine and with Chrome with extensions disabled? Thank you

[2019-07-26 09:56] wheatup commented on #3544
Yep, I checked with firefox(just downloaded), safari and chrome incognito mod(no extension), still appears. I even checked with my windows pc :/
<img width="1286" alt="Screen Shot 2019-07-26 at 18 54 29" src="https://user-images.githubusercontent.com/6663691/61943626-d3a24500-afd6-11e9-9429-20c763bca436.png">

[2019-07-26 10:04] rhymes commented on #3544
Thank you for testing. It is weird indeed.

[2019-07-26 10:04] manishrr opened #3545 "bug"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-07-26 10:31] rhymes commented on #3545
@manishrr there is no description of the bug, please fill the report

[2019-07-26 13:01] Zhao-Andy commented on #3544
For anyone interested in this, you can add the relevant CSS as @wheatup mentioned:

The best file is probably `app/assets/stylesheets/comment.scss`.

[2019-07-26 13:31] Intelmembranes opened #3547 "Want to post blog but displaying error on that page"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-07-26 13:54] sarthology commented on #1772
Yup, As it's just a thing When you are in the zone and writing stuff, you anciently press `control + s` and that's sucks. AutoSave is cool though. But I wish, if not saving we can at least prevent the default event of saving the webpage. 🤔

[2019-07-26 14:11] #3545 closed

[2019-07-26 15:16] Kerooker commented on #1856
I believe this issue is very necessary. Many times I gave up scrolling down because most of my feed contained tags I really don't want to see, but show up because another tag was present.

This prevents me to read articles that are actually interesting, and those writer may perhaps have a lower traffic to their posts because there are people like me

[2019-07-26 17:28] maestromac commented on #3547
Hello @Intelmembranes , this might be an issue specific to your account. Please email yo@dev.to for more help.

[2019-07-26 17:28] #3547 closed

[2019-07-26 19:04] kaspermeyer opened #3548 "Fuzzy timestamps on notifications become stale"
**Describe the bug**

The publication timestamps on articles in the notifications view aren't updated when time passes.

I dug a bit in the template and the bug seems to be caused by a hardcoded fuzzy timestamp inside a view cache:

https://github.com/thepracticaldev/dev.to/blob/6cc0d125b5e9dac010080ffca408ce23e7d59f0c/app/views/notifications/_article.html.erb#L34-L38

This causes the cache to bec

[2019-07-27 05:41] cdvillard commented on #3455
I'm running into a similar issue when it comes to simply posting to The Practical Dev using the API. In my case, I'm attempting to use Netlify CMS to write a blog post and then send a POST request with the contents of that post after a build step. Within the Netlify CMS, I have it configured to use a date property to capture the publish date, but as there's no available field in the YAML of a DEV

[2019-07-28 18:32] fredddier commented on #1865
In addition to this issue I'd like to point out recent problems Pakistan users are having with GitHub.

GitHub is restricting access to certain features and locked their private repos. As I have described in the initial issue, depending on third party organizations is also a risk for our accounts on DEV, we could get our accounts suspended not just by infringing their guidelines, but for US Admini

[2019-07-29 04:18] equiman commented on #890
I think a good approach can be different post written in different languages and liked between them like actually link series.

[2019-07-29 11:31] maryam-b commented on #2960
@maestromac if we go with giving the responsibility with the browser then it won't be user based setting, so then I assume adding a configuration for `font-size` won't be necessary anymore. Am I right or I missed what you've meant?

[2019-07-29 13:05] lightalloy commented on #2952
Closing as "done".

[2019-07-29 13:05] #2952 closed

[2019-07-29 13:16] #3544 closed

[2019-07-29 14:04] cutiko commented on #890
Greetings

The @equiman contribution points a very valuable underlying behavior: SEO.

This reminds me that there is a tag for HTML to do this, the [canonical tag](https://moz.com/learn/seo/canonicalization) and some quick google search points a new tag called  [syndication](https://searchengineland.com/google-creates-metatags-to-help-id-original-news-sources-56115)

With my suggested approach the

[2019-07-29 14:27] #2982 closed

[2019-07-29 14:29] rhymes commented on #890
Hi everyone, thanks for all your suggestions. I think all proposals have strengths and weaknesses and all need to be discussed thoroughly.

A few thoughts after a quick glance at the proposals so far:

1. **Having separate translations for an article** (one of them needs to be flagged as the default version I guess) similar to what  @ltciro proposed would entail that all of them appear separately

[2019-07-29 15:57] #3435 closed

[2019-07-29 16:01] abraham commented on #712
Something else to keep in mind is that older tweets will see a lot less activity. For example a tweet less than 24 hours old could probably be updated every hour or so while a tweet that's a couple of months old probably only needs to be updated every couple of months.

[2019-07-29 18:15] shushugah opened #3568 "Cannot copy organization secret from mobile phone"
**Describe the bug**
As an admin, I cannot copy or select the generated secret to add someone to my organization account on dev.to from safari browser of my iOS 12 iPhone 6S device

**Smartphone (please complete the following information):**

- Device: iPhone 6S
- OS: iOS 12.4
- Browser: Safari
- Version: 12.4

[2019-07-29 18:21] benhalpern commented on #890
I think if an article _has many_ language variations, each variation could be its own model with `body_markdown`, `processed_html`, `title` and meta info like `language`, etc. One can be flagged as default, but it could ultimately be displayed to the user based on their own language preferences, as opposed to the opinions of the author and post itself. Each version would probably have its own comm

[2019-07-29 20:51] mariocsee commented on #3432
resolved via #3442

[2019-07-29 20:51] #3432 closed

[2019-07-29 20:58] brarnaudovski commented on #712
@abraham Great point. I can introduce some config value, which will skip update on tweet, unless X value old..

[2019-07-29 22:01] weekly-digest[bot] opened #3571 "Weekly Digest (22 July, 2019 - 29 July, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 37 issues were created.
Of these, 29 issues have been closed and 8 issues are still open.
## OPEN ISSUES
:green_heart: #3548 [Fuzzy timestamps on notifications become stale](https://github.com/thepracticaldev/dev.to/issues/3548), by [kaspermeyer](https://github.com/kas

[2019-07-29 22:03] #3571 closed

[2019-07-30 06:33] axtens opened #3573 "Notifications are not reflected in emails"
At last look I've got 480 followers (wow, how did that happen?!). However, I don't have 480 emails to back that up. I have 19 emails.

Am I supposed to get one email per follower or just a once-per-day when the total changes?

[2019-07-30 06:48] cyrillefr commented on #3136
I will go with the `ArticleAnalyticsFetcher.new.update_analytics`

[2019-07-30 06:52] rhymes commented on #3573
Hi @axtens, thanks for bringing this up, I checked the logic and no, it doesn't send an email for everything single follower:

https://github.com/thepracticaldev/dev.to/blob/710c1d9e7b24a3e0b144bec6b3f22d2835cf4c4e/app/jobs/follows/send_email_notification_job.rb#L5-L13

It's going to skip the sending if there are any messages for new followers sent any time between 15 to 35 hours before (at random

[2019-07-30 08:44] alex-jitbit opened #3574 "Embedding SVG does not work. Neither attaching SVG file ("unsupported format")"
**Describe the bug**

Embedding `<svg>` tag does not work, the markdown engine does not see it as HTML.

Attaching (uploading) as external .svg file does not work either, it complains about "invalid format".

**To Reproduce**

Paste some `<svg>` code into V1 editor.

[2019-07-30 10:17] lightalloy commented on #890
I like @ben's suggestion on keeping the articles' existing bodies (and related attributes) and adding `has_many` language variations. URLs like `dev.to/<user>/<article-slug>/fr-fr` make sense to me too.
As for the "stored historical versions", it seems like a different topic to me.

[2019-07-30 13:10] #3375 closed

[2019-07-30 13:48] kay-is opened #3579 "Show better error message instead of 500'ing for unsupported markdown."
I created a new article and when I tried to save it I got a 500 status.

Wrote this:

[code]

[2019-07-30 13:54] maestromac commented on #1350
Closing this since it's really just a dependency issue.

[2019-07-30 13:54] #1350 closed

[2019-07-30 13:57] rhymes commented on #3579
Hi, there are a few things that aren't supported, but the error message should be caught obviously:

- `{:target="_blank" rel="noopener noreferrer"}` these are not supported
- `![Which GraphQL mutate operations have higher than average latency?]({{ "/images/posts/technical/api-metrics/GraphQL-Latency.png" | absolute_url }})` this probably needs to be interpreted by whatever static site generator y

[2019-07-30 14:02] kay-is commented on #3579
Yes, I was mainly worried about the unhelpful error message, haha.

Thanks.

[2019-07-30 14:08] jessleenyc commented on #3073
Going to close this since Andy was able to update manually. Can open back up if there are more reports.

[2019-07-30 14:08] #3073 closed

[2019-07-30 14:10] jessleenyc commented on #2919
Ah okay - sounds like you're experiencing this bug: https://github.com/thepracticaldev/dev.to/issues/168

Going to close this issue as a duplicate.

[2019-07-30 14:10] #2919 closed

[2019-07-30 14:37] jessleenyc commented on #2234
Believe this is done

[2019-07-30 14:37] #2234 closed

[2019-07-30 14:47] michael-tharrington opened #3580 "Logic for Reading Podcast RSS Occasionally May Miss New Episodes"
**Describe the bug**

A podcast host recently reported that their podcast on DEV wasn't updating with the newest episodes.

After a deeper look, we realized the episodes in their RSS are sorted from oldest to newest ones, so the latest are at the bottom. Our current logic is to fetch all the episodes when a podcast is created and then check the "latest" 5 every hour. We assume the latest podcasts

[2019-07-30 14:48] jessleenyc commented on #1225
Pinned posts have been implemented!

[2019-07-30 14:48] #1225 closed

[2019-07-30 14:49] benhalpern commented on #1419
Okay let me see if I understand this correctly.

`/posts/{ids}` will return the correct question _or_ answer? e.g. they don't conflict?

The big thing I'm concerned about here is getting the simplest liquid tag.

How about this:

`{% stackoverflow 57271688 %}` returns the post with that ID (I'll need clarification of whether that ID can for questions and answers or if we'd need additional info?

I

[2019-07-30 15:48] maestromac opened #3582 "Support use of OAuth's access token on core API endpoints"
**Is your feature request related to a problem? Please describe.**

With OAuth mostly in place, some some essential endpoint should support it's OAuth's access token. Article and User endpoint can be one of the first to support it.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-07-30 18:24] #3241 closed

[2019-07-30 19:00] shushugah opened #3583 "Duplicate notifications"
**Describe the bug**

When someone tags me in a comment while replying to me, I get notified twice.

**To Reproduce**
It occurs in this url, https://dev.to/notifications/comments see image below

**Expected behavior**
Should be one notification

**Screenshots**

![Screen Shot 2019-07-30 at 20 56 57](https://user-images.githubusercontent.com/7111514/62157220-f4d3a000-b30c-11e9-9684-105e11c51804.png

[2019-07-30 19:07] shushugah opened #3584 "Organization comments and posts"
**Describe the bug**
Despite being in two different URL's, the behaviour is exactly the same, in contrast with individual accounts.

**To Reproduce**

Create an organisation and go your notifications page. You can select "All" which will generate a URL like this https://dev.to/notifications/org/984, and if you select just the "comments", it will select a URL like https://dev.to/notifications/comme

[2019-07-30 19:22] Zhao-Andy commented on #3584
Hmm, not sure why that's the case. The URLs are working for me. Could you post a screenshot of `/notifications/comments/984`? Or feel free to email me andy@dev.to if you'd rather keep it private.

[2019-07-30 19:24] Zhao-Andy commented on #3583
Thanks for the report! My first guess is that we can prevent mention notifications from firing if the person mentioned is receiving notifications for a post or comment thread already.

[2019-07-30 19:25] shushugah commented on #3584
screenshot when I visit `/notifications/comments/984`
![Screen Shot 2019-07-30 at 21 24 33](https://user-images.githubusercontent.com/7111514/62158739-7842c080-b310-11e9-9c4d-7fe7e2fa0e60.png)

[2019-07-30 19:53] Zhao-Andy commented on #3584
Oh, I see the issue now. It's because the code relies on a deprecated way of checking for permissions. Thanks for the report!

[2019-07-30 20:13] shushugah commented on #3584
This would be my suggested change, I notice there are absolutely no tests for organization notifications, am having a look
[code]

[2019-07-30 22:29] GaProgMan opened #3588 "Styling on rendered podcast liquid tags when browsing in light mode"
**Describe the bug**

When a post uses the podcast liquid tag:

[code]

and it is viewed in light mode (i.e. dark mode is disabled), the styling on the rendered podcast component means that the component cannot be seen - white text on a white background. Please see the Screenshots section for a visual on this issue.

**To Reproduce**

1. Ensure that you are using dev.to in light mode
1. Open the f

[2019-07-31 01:05] axtens commented on #3573
So it's not a bug, it's a feature?

[2019-07-31 06:33] kaspermeyer commented on #3548
I’d love to give this a shot 👋

[2019-07-31 10:46] wangonya commented on #182
I've been thinking of doing a series on "Solving math problems with python" and I think this would be very helpful. Might look into it and open a PR if possible.

[2019-07-31 13:18] kevin-montrose commented on #1419
You are correct that /posts/ will return questions or answers, they share an Id pool so there are no collisions; the simpler approach (without leading post type) will work.

[2019-07-31 14:05] bolariin commented on #3487
I think this issue was resolved

[2019-07-31 14:30] #3542 closed

[2019-07-31 16:04] msarit opened #3590 "Ability to quickly save posts that appear in "More from ..." or "Trending on DEV" side panels"
**Is your feature request related to a problem? Please describe.**
While browsing Dev.To, I would like to be able to quickly save articles that appear under _"More from @author"_ or _"Trending on DEV"_ side panels. Currently, to do this, I need to actually click on the article first - but I'd rather not leave the article I'm reading.

**Describe the solution you'd like**
I propose having a "Save"

[2019-07-31 17:08] maestromac commented on #3487
I don't think this is. https://github.com/JoelMontano/dev.to/pull/1 isn't merged to this project, but to the fork.

[2019-07-31 17:17] bolariin commented on #3487
Oh my bad! I didn't notice that.

[2019-07-31 17:32] maestromac commented on #3568
For anybody that would like to pick this up, the easiest solution would be to add click-to-copy to that field, similar to how it's done here https://github.com/thepracticaldev/dev.to/pull/2957

[2019-07-31 17:42] maestromac commented on #2960
Yes, I was thinking out loud and questioning the usefulness of this feature.

Our team decided that we want to offer our users font size option build-in to the web app. These config can be first applied to the article's texts and comment's text. Other area of the app will be trickier to get right and can be implemented afterward.

[2019-07-31 17:55] maestromac commented on #890
Perhaps it can be implemented similarly how how series is done.

But what if someone translated a series 🤔 ?

[2019-07-31 18:13] #3274 closed

[2019-08-01 00:22] raquelcps commented on #3487
I'm working on this right now!

[2019-08-01 00:27] KaraAJC commented on #3498
I'm gonna try to tackle this issue!

[2019-08-01 01:08] jessleenyc commented on #3498
Awesome, @KaraAJC!

For the index view, I imagine the date can be placed and look similar to what we do for articles: ![](https://cl.ly/2f505d10086e/download/Image%202019-07-31%20at%209.07.03%20PM.png)

Not sure where it should go on the podcast show page but look forward to your ideas.

[2019-08-01 01:09] jessleenyc commented on #3485
It would be great if we could have a general error message for when certain liquid tags no longer work, so they don't appear totally broken on articles that have been using the tag.

We should also try and figure out if we can get this working again 😅

[2019-08-01 01:33] jessleenyc commented on #2623
We've seen this a few times before - I think it has something to do with caching/indexing not updating properly. Hard to reproduce. @tannakartikey if you make any headway please keep us posted!

[2019-08-01 01:45] jessleenyc commented on #1805
@kspeakman have you continued to experience this?

[2019-08-01 01:47] jessleenyc commented on #1696
Closing this since we no longer support the mentorship program.

[2019-08-01 01:47] #1696 closed

[2019-08-01 01:54] jessleenyc commented on #1520
To reproduce you'll want to:

- Create two users (yours and another)
- Create a post under your account
- Make sure you're running delayed jobs: `rake jobs:work`
- Have the other account leave a comment with the tag liquid tag

As long as jobs are running you should be able to see a notification come in.

[2019-08-01 02:00] jessleenyc commented on #1431
@mariocsee is this resolved? saw there's a merged PR referenced.

[2019-08-01 02:09] kspeakman commented on #1805
@jessleenyc Oh yes, every day. Here is what I see when scrolled to the top and hitting refresh right now.

![image](https://user-images.githubusercontent.com/4582668/62260090-64fa2880-b3d6-11e9-93f5-1632bf81bb86.png)

If I scroll down far enough, it will load the other articles. In the pic below, the very next scroll click down will load the articles.

![image](https://user-images.githubuserconten

[2019-08-01 02:17] shardyMBAI commented on #1431
Hey @jessleenyc,

I just tested again with this content:

<img width="899" alt="Screen Shot 2019-07-31 at 10 16 03 PM" src="https://user-images.githubusercontent.com/27963753/62260699-dfc84100-b3e0-11e9-9e29-12df6dd9cba1.png">

and using the preview feature I received this result:

<img width="910" alt="Screen Shot 2019-07-31 at 10 15 55 PM" src="https://user-images.githubusercontent.com/27963753/

[2019-08-01 03:35] #3573 closed

[2019-08-01 08:58] lightalloy opened #3594 "DJ Deserialization error on Article algolia jobs"
Some of the algolia delayed jobs fail with an error:
[code]
The error is happening while executing `index_or_remove_from_index_where_appropriate`.
I fixed similar issues for `User` and `Comment` in #3578, but `Article` doesn't have the same problem.
An article could be destroyed between updating and indexing, but that's not very likely. I need to do more research on this to find the best solution.

[2019-08-01 10:30] rhymes commented on #3573
@axtens at present I think so, maybe @benhalpern has more insight on this choice

[2019-08-01 11:48] Zhao-Andy commented on #3573
I believe the idea was to prevent sending out too many emails about new followers. The logic could probably be updated to send daily, for example.

My personal take is that daily emails still kind of spammy though.

[2019-08-01 12:30] axtens commented on #3573
Yes, and what am i going to do with 720 emails anyway? Maybe update the notifications page list to say that particular notification occurs daily or something to that effect

[2019-08-01 15:01] jessleenyc commented on #3091
Hey @GeorgeColdham, noticed you closed your PR here. Are you still interested in working on the issue?

[2019-08-01 15:21] mynar7 commented on #3580
Hi, I'm the podcast host that originally reported this issue.

Here's a link to our [feed](https://techjr.dev/rss.xml) (We're currently working on listing items latest-first)

We generate our RSS through markdown files that eventually get parsed through this [RSS npm package](https://www.npmjs.com/package/rss).

We haven't had issues with any other podcast platforms that consume our feed. [Spotify

[2019-08-01 15:25] jessleenyc commented on #1438
We've definitely made some changes since this was first reported. @cfjedimaster still an issue?

[2019-08-01 15:28] cfjedimaster commented on #1438
Haven't noticed the issue in a while.

[2019-08-01 15:30] jessleenyc commented on #1438
Great! I'm going to close this then.

[2019-08-01 15:30] #1438 closed

[2019-08-01 15:41] jessleenyc commented on #1122
For anyone who wants to tackle this, please let us know what you're thinking design-wise!

[2019-08-01 15:55] jessleenyc commented on #1396
Would this also make sense as an additional search box? Or if we supported searching with specific parameters? `user: aspittel tag: ruby`?

[2019-08-01 16:07] maestromac commented on #3254
Thanks for the issue @gypsydave5 . I don't think this feature will be feasible.

Our RSS reader are rather simple and we use what is provided from feed url much like other RSS reader. Putting the content in your post in a content tag would be the most compatible thing to do. I am not certain what is and isn't part of the RSS spec but it seems like your feed [isn't valid](https://validator.w3.org/f

[2019-08-01 19:06] maheshkay opened #3600 "Comment Deletion Bug : Comment Listing appears in Recent Comment"
**Describe the bug**

When you delete the comment made on post. The comment still appears in recent comment list in the Profile page. Here I have noticed I managed to get back to the deleted comments 3 times and had to delete the comment manually same steps 3 times. And 4th time the comment got deleted. And now clicking on that "Recent comments" entry for deleted comment takes me to error page (as

[2019-08-01 20:48] maestromac commented on #1996
With all the box checked, I believe this issue is resolved!

[2019-08-01 20:48] #1996 closed

[2019-08-01 22:51] Zhao-Andy opened #3601 "Banishing accounts should remove all related data"
Right now, banishing accounts will remove their chat channel memberships but not their chat channels. Usually banished accounts don't have any chat channels, but if they do their chat channels persist.

We'll want to delete their DM chat channels, as well as any other chat channel memberships related to that. We'll also need to remove them from Algolia before deleting them:
[code]

We should also

[2019-08-02 03:59] Beznet opened #3602 "Image upload jumps to the top of the editor"
**Describe the bug**
When you add an image using the image upload feature at the bottom left of the editor, it will cause the editor to scroll all the way back to the top of the page.

**To Reproduce**

- Go to one of your articles and go into the editor. This works best with articles that are long enough to cause Y overflow.

- Click on the 'Image' button.

- When the image upload modal pops up,

[2019-08-02 11:31] jabawack81 opened #3604 "Make Onboarding Compatible With All Themes"
**Describe the bug**
Visiting the onboarding page while logged in and the dark theme makes it unreadable because the text is white on white background

**To Reproduce**
1. Login with a user with dark theme
2. Go to https://dev.to/onboarding

**Expected behaviour**

text is still black

**Screenshots**

<img width="1145" alt="Screenshot 2019-08-02 at 12 28 41" src="https://user-images.githubusercon

[2019-08-02 14:04] maestromac commented on #3600
Thank you for reporting this. This is caused by caching. The user's profile page's cache should be refreshed when a recent comment is deleted.

[2019-08-02 15:28] MGWVc opened #3606 "Twitter"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-08-02 15:28] MGWVc commented on #3606
Check violations of Twitter laws that prohibit abusive behavior account is wrong

 threatens the rest of the accounts, Spamming spammed
we hope you speed stop because it counts of accounts that spread terrorism and intimidation

Violating out rules against managing multiple Twitter accounts for abusive purposes.

Violating out  rules against abusive behavior.

- Please contact and checking
I hope

[2019-08-02 15:28] #3606 closed

[2019-08-02 21:56] jordykoppen commented on #3588
Thanks! I created a PR for it. My first contribution to dev.to 😄

[2019-08-03 07:35] emilpriverrc opened #3611 "Some deleted posts still exists in api"
Hi,

I have som problem with your api.

I created 1 post which was added to the api. After that did I create 1 more which was not added to the api ( so still 1 post is showing ).
I also added cover_image to the first post which haven’t been added to the post in the api.

The link to my posts: https://dev.to/api/articles?username=emilpriver&page=1

After I have don’t everything did I remove the pos

[2019-08-03 08:33] talentlessguy commented on #3611
I have the same issue. It is because of GitHub cache invalidation, see [this comment](https://dev.to/ben/comment/dl6n)

[2019-08-03 08:59] emilpriverrc commented on #3611
@talentlessguy does dev.to use github pages?

[2019-08-03 09:35] talentlessguy commented on #3611
No, it doesn't. I think this is because I logon using GitHub. My friend who logon with Twitter doesn't experience such bug.

[2019-08-03 10:07] emilpriverrc commented on #3611
Aha, I logged on with github aswell

[2019-08-03 18:10] mbackermann opened #3613 "When we change theme, we have to refresh the page to update"
**Describe the bug**

When we go to settings and change the theme options and save it, we have to refresh the page so the changes can take place.

**To Reproduce**

Go to settings -> change the theme and save

**Expected behavior**

When we save and the page get refreshed, it should already update your preferences

**Desktop (please complete the following information):**

- OS: Mac OS
- Browser: C

[2019-08-04 16:34] rhymes commented on #3611
Definitely a caching problem.

I took a quick glance and right now we're using Fastly's edge caching on the index (which is where https://dev.to/api/articles?username=emilpriver goes).

This means that the index API is cached for a a while, which is 1 day according to the [fastly initializer](https://github.com/thepracticaldev/dev.to/blob/master/config/initializers/fastly.rb)

[2019-08-04 17:00] vaibhavsingh97 commented on #3584
can i take this up?

[2019-08-05 08:26] freyariki opened #3616 "500 error"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-08-05 09:25] shushugah commented on #3584
Please do!

[2019-08-05 10:01] weekly-digest[bot] opened #3617 "Weekly Digest (29 July, 2019 - 5 August, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 62 issues were created.
Of these, 35 issues have been closed and 27 issues are still open.
## OPEN ISSUES
:green_heart: #3615 [Re-enable hello dev in console](https://github.com/thepracticaldev/dev.to/pull/3615), by [rhymes](https://github.com/rhymes)
:green_heart: #36

[2019-08-05 10:46] Link2Twenty commented on #3613
This will be a lot easier to fix when #2154 is done.

It should just be a bit of JS changing all the css variables.
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#Values_in_JavaScript

[2019-08-05 19:30] #3617 closed

[2019-08-05 19:33] maestromac commented on #3616
Hello @freyariki , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-08-05 19:33] #3616 closed

[2019-08-05 19:54] jessleenyc commented on #3604
Hmm - how did you toggle dark theme before going through onboarding? or how did you trigger onboarding after you've already adjusted your settings? I'm wondering if I'm missing a flow here. We didn't account for the different themes for onboarding because we assumed no one would be on anything but the default thing while they're going through it.

[2019-08-05 20:29] michael-tharrington opened #3636 "Allow Two Users to Write in the Same Series"
**Is your feature request related to a problem? Please describe.**

An org user recently contacted us because they created a series that alternates authors and they wanted to how they could allow different authors to share the same connected series.

**Describe the solution you'd like**

I think the series writer should be able to turn on "open series" or "closed series" so that others can then wr

[2019-08-05 21:13] jessleenyc commented on #113
Closing this since we have the beta API now!

[2019-08-05 21:13] #113 closed

[2019-08-05 23:40] robertcoopercode opened #3638 "Optimize uploaded GIFs"
**Is your feature request related to a problem? Please describe.**

Uploaded GIFs for use in articles are not optimized and therefore can be very large and slow for users to download.

**Describe the solution you'd like**

Since dev.to is using Cloudinary for its assets, there is the opportunity to easily apply lossy compression to GIFs to reduce GIF file sizes by 20-50% (without too large a hit o

[2019-08-06 02:13] bolariin commented on #3470
The PR #3608 resolves the 500 error.

It looks like the reason why a link appears in preview without an error is because of `sanitize_rendered_markdown` in `markdown_parser.rb`. It turns the example link from `[my example]({% link https://github.com/something/something-else %})` to
`<p><a href="%7B%%20link%20/sherri_mrs_effertz/as-i-lay-dying-a1c%20%%7D">my example</a></p>`.

https://github.com/th

[2019-08-06 03:22] axtens opened #3639 "Reward for lots of followers"
I must confess I was not expecting to pick up many followers. The fact that I have over 1000 now is mind-boggling.

How about a badge for follower-milestones? And not just for me -- make sure to backdate them for everyone. 1000, 2500, 5000, 10000 followers etc.

Play on writers' desire for significance and fame. ;)

[2019-08-06 09:47] jabawack81 commented on #3604
I already had an account on det.to ([jabawack81](https://dev.to/jabawack81)) and I had a tab open on an article for a couple of days ([Manage your dev.to blog posts from a GIT repo and use continuous deployment to auto publish/update them](https://dev.to/maxime1992/manage-your-dev-to-blog-posts-from-a-git-repo-and-use-continuous-deployment-to-auto-publish-update-them-143j?utm_source=digest_mailer&

[2019-08-06 12:15] jessleenyc commented on #3639
Hey! Thanks for the request. We don't show your follower/following count on profiles so I'm not sure we'd want a badge like this. Happy to keep the issue open to invite more discussion.

[2019-08-06 12:17] jessleenyc commented on #3600
If someone gets to this before the core team, here are some notes on caching: https://dev.to/jess/dev-notes-don-t-forget-to-clear-cache-962

[2019-08-06 14:39] #3511 closed

[2019-08-06 15:37] msarit opened #3643 "For series with several entries, horizontal-scroll entry dots"
**Is your feature request related to a problem? Please describe.**
While I *love* the "Series" feature on Dev.To, for series with a lot of entries (eg Daily Algorithm Challenge), the circles indicating each series entry take up considerable space, and become overwhelming to navigate.

**Describe the solution you'd like**
I think that, for series with a number of entries above a certain threshold (

[2019-08-06 17:52] MarkPieszak commented on #3636
Yes I think ideally if this a "Series" within an Organization, it'd be great for multiple authors (inside that organization) to be able to create articles for it.

Thanks for writing this ticket up @michael-tharrington 	!

[2019-08-06 20:41] #3487 closed

[2019-08-07 00:02] CalinZBaenen opened #3647 "DEV, are you drunk? Website is unresponsive..."
I am using dev.to but when I try to write a new post it gives me errors, same thing when I try to chat with someone, I can't even like someone's post... When I open the console I get errors similar to this:
[code]
this:
[code]
and this:
[code]

**To Reproduce**
Click "Write A Post"

I expected the "New Post" area, to write a post. But got errors instead.

![2019-08-06_18-45-20](https://user-images

[2019-08-07 00:14] jessleenyc commented on #3647
Hi, this seems like an individual account issue - can you please email yo@dev.to from the email your DEV account is associated with?

[2019-08-07 00:14] #3647 closed

[2019-08-07 01:16] achasveachas commented on #1284
@Zhao-Andy it doesn't look like this was fixed.

I'm writing a blog post with markdown tips so naturally I would like to include examples that inclde backticks and none of the recommended ways of displaying backticks seem to work.

Specifically, trying to render three backticks in inline code seems to be broken:
```` Something like: (`` ``` ``)```` I would expect to render like: Something like (``

[2019-08-07 01:18] achasveachas commented on #1284
@Zhao-Andy it doesn't look like this was fixed.

I'm writing a blog post with markdown tips so naturally I would like to include examples that inclde backticks and none of the recommended ways of displaying backticks seem to work.

Specifically, trying to render three backticks in inline code seems to be broken:
```` Something like: (`` ``` ``)```` I would expect to render like: Something like (``

[2019-08-07 01:33] achasveachas opened #3648 "Markdown not rendering backticks correctly"
**Describe the bug**

There seems to be an issue with displaying backtick literals in code blocks.

I'm writing a blog post with markdown tips so naturally I would like to include examples that inclde backticks and none of the recommended ways of displaying backticks seem to work.

I tried following the recommendations provided [here](https://meta.stackexchange.com/questions/82718/how-do-i-escape-

[2019-08-07 02:22] nickytonline commented on #2154
Just a little note about the `getTheme` function snippet. You can use `fetch` instead of wrapping `XMLHttpRequest` in a promise as fetch is already promise based, https://developer.mozilla.org/en-US/docs/Web/API/Request#Examples.

[2019-08-07 06:42] jbristow commented on #1284
Agreed, while my first set of examples renders properly, my second set (the double escaped markdown) does not render properly.

I swear that it was fine at the time of closing, so either this is a regression, or I didn’t check as thoroughly as I remember.

[2019-08-07 08:43] rhymes opened #3649 "Replace randomized calls with distributed throttling"
**Is your feature request related to a problem? Please describe.**

Across the code base we use [Kernel#rand](https://rubyapi.org/2.6/o/kernel#method-i-rand) to limit some function calls that we don't need to execute on every single invocation of the logic they are in.

Examples where we use `rand()` to limit calls:

- updating analytics
- updating ads data
- updating page views
- updating reactio

[2019-08-07 11:02] Zhao-Andy commented on #1284
Thanks for the heads up! We'll take a look into it again.

[2019-08-07 14:38] #3437 closed

[2019-08-07 16:10] victorbordo commented on #3418
Solid approach to handle Mastodon link validation with a domain whitelist. I'm thinking through different ways to handle self-hosted GitLab and other arbitrary links.

What types of generic validations do you see as useful here @jessleenyc?

[2019-08-07 17:21] jessleenyc commented on #3604
Interesting. This is definitely an edge case but if someone wants to make all themes work with onboarding, that would be much appreciated.

[2019-08-07 18:03] jessleenyc commented on #266
Hey all - thanks for contributing to this issue. We're planning to keep important links in both the left hand sidebar and at the bottom of the footer for the near future. We'll give this consideration again during our next design overhaul.

[2019-08-07 18:03] #266 closed

[2019-08-07 19:26] jessleenyc commented on #801
Closing this since we no longer have sustaining membership!

[2019-08-07 19:26] #801 closed

[2019-08-07 19:35] #3316 closed

[2019-08-07 20:27] jessleenyc commented on #879
Maybe we can add a small button that minimizes/collapses the player to the left side?

[2019-08-07 20:39] jessleenyc commented on #2349
Just a note that I cleared cache via fastly on dev.to/dashboard but the issue is still there.

[2019-08-07 20:42] jessleenyc commented on #889
I think you probably know this already (maybe you even helped work on it?!) but we can sort articles on the dashboard by published which brings all unpublished posts to the top and then sorts by published date. Perhaps that will help until we get a filter in.

[2019-08-07 20:46] jessleenyc commented on #911
Closing this since we have a beta API available now: https://dev.to/api

[2019-08-07 20:46] #911 closed

[2019-08-07 21:06] jessleenyc commented on #946
Maybe this is the solution:https://github.com/thepracticaldev/dev.to/issues/3638
On Twitter, you can click on the "gif" and it'll stop playing.

[2019-08-07 21:11] jessleenyc commented on #956
@jvanbruegge I'm just seeing this. Looks like you're also the moderator of a couple of tags. Removing your trusted role might break your tag mod experience. I'll look into if that's the case, but if it is --- would you rather continue being a mod and get those notifications or stop being a mod and stop the notifications?

Perhaps while I'm looking into it, I can just add this setting..but in case

[2019-08-07 21:24] jessleenyc commented on #1051
@dmerejkowsky are you still experiencing this?

[2019-08-07 21:51] jessleenyc commented on #192
I know this is closed but thought I'd leave a note that this functionality is now available: ![](https://cl.ly/79e20c418965/download/Image%202019-08-07%20at%205.49.42%20PM.png)

[2019-08-07 21:54] achasveachas commented on #192
Awesome, thanks!

[2019-08-07 22:04] jessleenyc commented on #1305
I think a good first step here is whether or not this is working as expected -- it's possible that we have reaction notifications expire after a certain amount of time, in which case, we'd have to decide whether or not that's what we want to continue doing.

[2019-08-07 22:07] jessleenyc commented on #1346
For whoever wants to grab this, I think option 2 makes a lot of sense here.

[2019-08-07 22:09] jessleenyc commented on #1384
Hey @dance2die, we intentionally set it so that any older posts would continue using the original editor it had when the post was created. Is this still happening to new posts that come in through your feed?

[2019-08-07 22:18] jessleenyc commented on #1459
Going to close this since we couldn't recreate.

[2019-08-07 22:18] #1459 closed

[2019-08-07 22:33] jessleenyc commented on #1716
I just updated the title of the issue so it reflects what I think is the most reasonable next step here, allowing users to decide how they want links to open up.

[2019-08-07 22:36] jessleenyc commented on #1743
Comments template doesn't work at all with either editor now. We should decide whether or not we want to make this available.

[2019-08-07 22:39] jessleenyc commented on #1805
That is so strange. Are you using any notable extensions across all three browsers?

[2019-08-07 22:46] jessleenyc commented on #1958
I'm pretty sure I've been receiving notifications from orgs that I follow. Is this still an issue for you @oscherler?

[2019-08-07 22:48] jessleenyc commented on #1992
Going to close this since the DEV Team organization reflects our current team (have also added this step to our internal onboarding), as does the readme. For now, we're only including leadership on the about page.

[2019-08-07 22:48] #1992 closed

[2019-08-07 22:51] jessleenyc commented on #2010
Going to close this since the original issue has been resolved.

[2019-08-07 22:51] #2010 closed

[2019-08-07 22:54] #2055 closed

[2019-08-07 23:15] jessleenyc commented on #889
Just realized there is a duplicate of this issue that is newer with some additional implementation suggestions, so I'm going to close this one in favor of https://github.com/thepracticaldev/dev.to/issues/2351

[2019-08-07 23:15] #889 closed

[2019-08-07 23:20] dance2die commented on #1384
Thanks @jessleenyc for the review. 😄
Newly imported posts use V1 but with the controls mentioned above sticky.

I wasn't aware this was already implemented so I will close the issue~
Sorry for not following up 😓

![demo](https://user-images.githubusercontent.com/8465237/62664105-47820d00-b948-11e9-9a76-10a038acf3d4.png)

[2019-08-07 23:20] #1384 closed

[2019-08-07 23:28] kspeakman commented on #1805
I'm using both Privacy Badger and uBlock Origin. However, with both turned off (disabled in Extensions in Chrome) I still see the same behavior.

![image](https://user-images.githubusercontent.com/4582668/62664347-ec98e780-b940-11e9-9913-aaf8b39f351c.png)

When I change the browser width to below 1120px, where the right column is gone, then it loads immediately.

![image](https://user-images.githu

[2019-08-07 23:30] jessleenyc commented on #2371
The function to add an experience level to your own posts is also available by clicking 'manage' in your dashboard. Is your request to display a complexity meter next to each post or for the feed to be smart enough to surface the right types of posts for you? If the latter, I think we're on our way. If the prior, we'll have to discuss whether or not we'd want something like that publicly displayed

[2019-08-07 23:32] jessleenyc commented on #2419
We ended up rolling out 'the big thread badge' so I'm going to close this for now, though it's possible we'll want a comment streak one in the future!

[2019-08-07 23:32] #2419 closed

[2019-08-07 23:38] jessleenyc commented on #2490
Buttons are fixed in both editors.

[2019-08-07 23:38] #2490 closed

[2019-08-07 23:42] theKashey commented on #3485
It took some time to find a single liquid tag I have to remove to be able to save my post. Then found that `MediumArticleRetrievalService` is broken, and this issue.

In short - please stop scraping page content. It does not work - there are __standard__ ways to gather information - `meta` tags including `og` and `twitter` ones.
- `og:title` for title
- `og:description` for description
- `og:image

[2019-08-07 23:48] jessleenyc commented on #2558
Similar but different issue: https://github.com/thepracticaldev/dev.to/issues/2424

[2019-08-07 23:52] jessleenyc commented on #2618
@Danielshow hasn't been implemented!

[2019-08-07 23:56] #2830 closed

[2019-08-07 23:57] jessleenyc commented on #2850
@ashleemboyer are you still experiencing this?

[2019-08-08 00:08] jessleenyc commented on #2955
I'm pretty sure we don't have a premium account, either...will look into this.

[2019-08-08 00:11] jessleenyc commented on #2983
@melezhik are you still experiencing this? the other issue is fixed.

[2019-08-08 00:12] jessleenyc commented on #2987
We're open to ideas here if anyone wants to submit something for this.

[2019-08-08 00:18] jessleenyc commented on #3017
@michael-tharrington any idea if this is still happening to them?

[2019-08-08 00:28] jessleenyc commented on #3134
We're still holding this perspective so I'm going to close this issue for now.

[2019-08-08 00:28] #3134 closed

[2019-08-08 00:30] jessleenyc commented on #3137
I'm actually going to close this one in favor of the original issue since that one has some more detail on it. You can follow along here: https://github.com/thepracticaldev/dev.to/issues/398

[2019-08-08 00:30] #3137 closed

[2019-08-08 00:38] jessleenyc commented on #3171
Just want to chime in here -- we _do_ want to give users the ability to fine-tune their notifications so if anyone wants to take on the original request of this issue, please go for it.

@thomasbnt i do appreciate that you optimize your subscriptions though 😃

[2019-08-08 00:52] jessleenyc commented on #3296
Yep, once you get the image working you'll want to update the meta info on the comment show page with the updated image.

[2019-08-08 00:55] jessleenyc commented on #2942
I'm going to close this issue since the solution would be a similar solution to whatever we implement here, and there's also been more conversation in this thread: https://github.com/thepracticaldev/dev.to/issues/3324

[2019-08-08 00:55] #2942 closed

[2019-08-08 01:05] melezhik commented on #2983
Hi Jess. I believe it's fixed now. Thank you!

On Aug 7, 2019 7:11 PM, "Jess Lee" <notifications@github.com> wrote:

@melezhik <https://github.com/melezhik> are you still experiencing this?
the other issue is fixed.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/thepracticaldev/dev.to/issues/2983?email_source=notifications

[2019-08-08 01:06] jessleenyc commented on #2983
Great! Closing.

[2019-08-08 01:06] #2983 closed

[2019-08-08 01:08] jessleenyc commented on #3380
@zeddotes can you clarify what you mean here?

[2019-08-08 02:01] jessleenyc commented on #3470
I'm going to close this since the Jekyll links are now supported.

[2019-08-08 02:01] #3470 closed

[2019-08-08 02:11] jessleenyc opened #3654 "Articles API: filtering by tags"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
In response to #3509, we want to allow the API endpoint to filter by tags and include an 'anti-tag' list.

[2019-08-08 02:12] jessleenyc commented on #3509
Hey @bdbch, thanks for the request. Just made this issue that should address the problem you're describing: https://github.com/thepracticaldev/dev.to/issues/3654

[2019-08-08 02:12] #3509 closed

[2019-08-08 02:17] jessleenyc commented on #3574
We don't currently support SVGs because of security concerns. We could potentially support the upload of SVGs if we converted them to another format or if we could serve them through Cloudinary in a safe way.

[2019-08-08 02:21] jessleenyc commented on #3579
Just leaving a note that I updated the title for clarity.

[2019-08-08 02:30] jessleenyc commented on #3643
I think we need to redesign series in general and will take this into consideration when we do so. Leaving the issue open to welcome more discussion/suggestions!

[2019-08-08 02:41] bolariin commented on #3579
is this still an issue? I tried this locally but I didn't get any error messages.

[2019-08-08 03:16] jessleenyc commented on #3579
@bolariin as in the entire post worked when you saved it?

[2019-08-08 03:17] jessleenyc commented on #1805
Very Interesting. Planning to bring this up with the team at our next tech meeting.

[2019-08-08 03:18] bolariin commented on #3579
Yes, I was able to save the post without any errors.

[2019-08-08 03:38] vishalpietech opened #3655 "Account Removal"
Hey  we have an on Dev.to like dev.to/ionicfirebaseapp
But today, when I logged in nothing, is showing on my account. So could you help me account for how to regain my account?

Thanks & Regards.

[2019-08-08 11:41] abraham commented on #2955
Twitter Labs is testing some new API formats that include poll data. Once those are finished polls will be possible to get. https://developer.twitter.com/en/docs/labs/tweets-and-users/api-reference/get-tweets-v1.html

[2019-08-08 12:28] idris-rampurawala opened #3656 "Ability to pin/unpin my posts in dashboard"
**Is your feature request related to a problem? Please describe.**
If I want to pin/unpin any post of mine, there is only one way to do it i.e. by clicking on the manage post and then pin/unpin.

**Describe the solution you'd like**
If we can have pin/unpin button directly on the list presented in the dashboard then it would be very easy for me to get this work.

**Describe alternatives you've con

[2019-08-08 12:46] jessleenyc commented on #3579
Alright, I was going to keep this issue open just so we have better _messaging_ when there are errors, but I think we actually have a few other issues open that cover that so I'm going to close this one. Thanks!

[2019-08-08 12:46] #3579 closed

[2019-08-08 12:48] jessleenyc commented on #3655
Hi, please send an email to yo@dev.to from the email address that your account is associated with and our support team can you help there. Thank you!

[2019-08-08 12:48] #3655 closed

[2019-08-08 13:44] rehmatworks opened #3657 "Command ["bin/rails db:setup"] failed"
When I attempt to install the dev.to on my Ubuntu 18 server, everything works fine until the database setup:

[code]

Can anyone please help me out?

[2019-08-08 14:01] rhymes commented on #3657
What version of Ruby are you using?

Also, keep in mind that DEV is not completely ready for self installation yet, even if we're working towards that.

The `db:setup` step should work nonetheless.

[2019-08-08 14:45] MarkPieszak commented on #712
I was about to open an issue but saw this ones already open!

Yes it seems like Twitter embeds are still caching old values and not live-updating with the latest <3's and comments, etc.

[2019-08-08 14:51] thomasbnt opened #3658 "Icon too square on PWA"
**Is your feature request related to a problem? Please describe.**
Icon square on PWA is too square.
![image](https://user-images.githubusercontent.com/14293805/62713064-63df8180-b9fc-11e9-8c7f-c14f3e213745.png)

**Describe the solution you'd like**
Add `border-radius` to make him fit in better?

Have a good day, and good dev!

[2019-08-08 15:55] jessleenyc commented on #3051
Some ideas:

For v1 of the editor, lets add a button of some sort that will display commonly used tags or tag suggestions.

For v2 of the editor, let's add descriptions in the tag dropdown -- maybe including # of other posts in that tag.

[2019-08-08 16:03] jessleenyc commented on #3658
heh yep, thanks for flagging! closing this issue in favor of the previously reported on 😅  https://github.com/thepracticaldev/dev.to/issues/1999

[2019-08-08 16:03] #3658 closed

[2019-08-08 16:05] jessleenyc commented on #3656
Totally agree the current flow has quite a bit of steps. If anyone wants to take this on, please include mockups or a thorough description on how you would approach the design. Thanks!

[2019-08-08 16:13] GMartigny commented on #2371
@jessleenyc It would be awesome to be able to have an idea of any article's complexity. So mainly, I was thinking about the "prior".

But if at least, the feed is giving me mostly the right types of articles, it's already cool.

[2019-08-08 16:16] rhymes opened #3661 "Github Liquid tag header rendering alignment is a bit off in a notification"
**Describe the bug**

I just noticed that if a comment notification contains a GitHub Liquid tag, its header alignment is a bit off.

I think it has something to do with how the tag `ltag_github-liquid-tag h1` is positioned

**To Reproduce**

This might be a little hard to reproduce in development. You'd need a second user, you'd need to create a comment that gets notified to the first user, conta

[2019-08-08 16:26] maestromac commented on #1593
Resolved with https://github.com/thepracticaldev/dev.to/pull/3553

[2019-08-08 16:26] #1593 closed

[2019-08-08 17:12] rehmatworks commented on #3657
@rhymes Ruby version is `ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]`

[2019-08-08 17:44] maestromac commented on #3657
Hello @rehmatworks , did you follow the steps outlined in this doc https://docs.dev.to/installation/linux/ ?

[2019-08-08 17:52] achasveachas commented on #1284
I don't know if there's a need to reopen this issue, I opened https://github.com/thepracticaldev/dev.to/issues/3648

[2019-08-08 18:13] rehmatworks commented on #3657
@maestromac Yep, I followed each and every step precisely.

[2019-08-08 18:17] bdbch commented on #3654
Awesome, thanks a lot!

[2019-08-08 18:39] pkfrank opened #3662 "Account for different themes with sponsor logos"
**Is your feature request related to a problem? Please describe.**
As a user, I'd like to see all sponsor logos displayed properly regardless of theme.

**Describe the solution you'd like**
On `/sponsors` and elsewhere (homepage, tag pages), the logos display properly no matter which theme the end-user has chosen.

**Additional context**
I believe we already have a `dark nav image` for Gold sponso

[2019-08-08 18:47] henrikwirth commented on #3415
I have the same Issue in my profile: https://dev.to/henrikwirth
With this article: https://dev.to/nevernull/gatsby-with-wpgraphql-acf-and-gatbsy-image-72m

I posted the article under the organization though. But it would be nice to also display it in ones own profile.

[2019-08-08 18:55] #3582 closed

[2019-08-08 19:30] rhymes commented on #3657
@rehmatworks what version of PostgreSQL are you using? Can you check if your `DATABASE_URL` is correctly configured? https://docs.dev.to/installation/postgresql/

[2019-08-09 00:23] aolko commented on #266
You *plan* isn't **it's done** or even **will be done**

[2019-08-09 07:06] zerefwayne commented on #3661
@jessleenyc I would like to take up this issue.

[2019-08-09 08:13] harunmohamed opened #3664 "Page Scroll Issue on http://dev.to/connect"
Hey Team,

There is an issue I'd like to raise on http://dev.to/connect. It is to do with the page scroll particularly on older phones and larger screens.

The bottom part of the page saying "we require social login to prevent abuse" is not visible. This is notably so due to the missing page scroll bar which is disabled.

![image](https://user-images.githubusercontent.com/24232524/62764285-2f20088

[2019-08-09 09:16] rehmatworks commented on #3657
@rhymes Yep, I re-did the install and followed every step precisely but again the same issue.

[2019-08-09 09:30] rhymes commented on #3664
Hi @harunmohamed, can you please provide info on which operating system and desktop browser (plus its version) you've tested with? I've tried with a large screen on Firefox 69 on macOS and I see the whole content of the page.

By providing info you'd help whomever is going to work on this bug to narrow down the possibilities.

Thank you!

[2019-08-09 09:38] rhymes commented on #3657
@rehmatworks what version of PostgreSQL are you using? What is contained in the `DATABASE_URL`?

[2019-08-09 09:39] harunmohamed commented on #3664
Hey @rhymes, I am using Chrome Version 76 on Windows 10 PC.

![image](https://user-images.githubusercontent.com/24232524/62769902-95ab2380-baa2-11e9-96fc-3a9c26f11879.png)

I hope this helps!

[2019-08-09 09:48] rhymes commented on #3664
It does, the lack of scrollin bars does indeed affect both Firefox and Chrome upon resizing the window

Thanks!

[2019-08-09 10:42] rehmatworks commented on #3657
@rhymes it was postgres 10.x and the database URL contained the username and password along with the database host. BTW I deleted the VPS. I'll wait for a bug-free and stable release of DEV. Currently, it is a nightmare to get this working.

[2019-08-09 11:01] rhymes commented on #3657
@rehmatworks there are kinks on self hosting yes. It's also [not supported right now](https://docs.dev.to/self-hosting/).

In the meantime you might want to try GitPod if you'd like to play with the code but don't want to install anything: https://docs.dev.to/installation/gitpod/

Thanks for the patience!

[2019-08-09 11:34] harunmohamed commented on #3664
Sure thing! I'm glad you found it useful.

[2019-08-09 11:38] rhymes commented on #3664
@harunmohamed is there a reason why you closed the issue? The bug is real :D

[2019-08-09 13:54] maestromac opened #3665 "Support Webhooks Integration"
**Is your feature request related to a problem? Please describe.**

Having Webhooks would be a simple way to support external integration. The possibilities are endless!

**Describe the solution you'd like**

Rough thoughts: Webhook model should associated with user and maybe Doorkeeper's application.

- User's settings page should have a Webhooks section, listing all the registered Webhooks.
- We

[2019-08-09 13:55] rehmatworks commented on #3657
@rhymes Thank you for your support. I'll give GitPod a try. I'm not a Ruby developer and I only know PHP (fluent) and Python. I wanted to use this for my programming-related blog. Love the CMS. Waiting for it's stable release.

[2019-08-09 14:29] harunmohamed commented on #3664
Sorry, I thought it was resolved. Reopening it now!

[2019-08-09 15:58] jessleenyc opened #3667 ""About DEV Listings" Button Color - Pink Theme"
**Describe the bug**
It's very hard to see the button on pink mode.

**To Reproduce**
Visit any listings link: try this example - https://dev.to/listings/collabs/contributors-wanted-sample-programs-in-every-language-281c

**Expected behavior**

Add a color to the button to make it read easier, account for all themes.
Theming docs: https://docs.dev.to/design/theming/

**Screenshots**

![](https://c

[2019-08-09 16:08] cdvillard opened #3668 "Querying /api/articles for actual articles and not discussions, or specific collections of articles"
**Is your feature request related to a problem? Please describe.**

When querying the DEV Articles API, if someone wants to display just articles without the `#discuss` tag, it involves extra work to filter out just the wanted data. For example, in [writing a GraphQL data source for a Gridsome project][1], I resorted to tagging myself in the articles I wanted to bring into GraphQL so I wouldn't ha

[2019-08-09 16:46] erdahuja commented on #3667
The button background colour if set to match theme, looks great and consistent.
![image](https://user-images.githubusercontent.com/15168716/62794997-3e816f00-baf3-11e9-8014-77219ee362ab.png)

[2019-08-09 17:01] rhymes commented on #3668
Thanks @cdvillard - I think you're bringing up an interesting point. Right now you can only filter by tag, but not exclude tags.

Let me know if your issue is would consistute a duplicate of https://github.com/thepracticaldev/dev.to/issues/3654 - if so it'd be great if we could move your comment there and keep up the other discussion.

Thank you!

[2019-08-09 17:11] cdvillard commented on #3668
@rhymes, you're correct, for the most part. I do feel though that the series property should also be exposed as an endpoint somehow, so I'll look into an individual issue for that.

[2019-08-09 17:11] #3668 closed

[2019-08-09 17:18] cdvillard commented on #3654
Closed #3668 after @rhymes pointed out that it basically mirrored this. Simply having an additional optional flag for the query string of something like `nottagged=` would be great, given that `#discuss` articles are still of type `article`. There might be an argument, though, to do some heavy lifting now and just create a type `discussion`, should that grow into its own, but I don't have a deeper

[2019-08-09 17:34] cdvillard opened #3669 "API: Return properties regarding series in GET request data"
**Is your feature request related to a problem? Please describe.**

When creating articles using the API, it's possible to assign the article to a series. However, when querying for articles from the API, no information regarding series is made available in either the objects returned `/api/articles/?=${queryString}` or the data returned from `/api/articles/${id}`.

**Describe the solution you'd l

[2019-08-09 17:55] jessleenyc commented on #3667
@erdahuja are you saying that you can't reproduce the bug?

[2019-08-09 18:14] maestromac commented on #3657
Best of luck with Gitpod!

Closing.

[2019-08-09 18:14] #3657 closed

[2019-08-09 18:20] #238 closed

[2019-08-09 18:20] thepeoplesbourgeois opened #3670 "Locally-cached draft supercedes more recent drafts from other devices"
## Description

When working on a draft, locally-cached changes can fall out of sync if a user makes edits from a different device. I'm unsure if the issue is present when working through the API, but it would most likely depend on how the client handles refreshing its cache.

## To Reproduce

1. Begin a new post on the dev.to website and add some content
1. Click/tap `save draft`
1. Close the bro

[2019-08-09 18:20] jessleenyc commented on #3661
@zerefwayne Great! Just a heads up that you'll want to run jobs `rake jobs:work` for notifications to show up when actions are taken. Or, you could generate them from the rails console and run the class methods from `notification.rb`.

[2019-08-09 18:34] jessleenyc opened #3672 "Add notification info to DEV docs!"
## Description
Would be awesome if someone could add this documentation on how to trigger notifications in development for docs.dev.to -- here's the text, feel free to add more info:

Basically, since notifications are run asynchronously, we'll want to make sure jobs are running: `rake jobs:work`. If that's not running, you won't receive any notifications. You might need to create another account

[2019-08-09 18:51] thepeoplesbourgeois commented on #3670
Oh, flerf me to flerfing h*ck and back again, you don't even need to go to a second device as long as you have two _**tabs**_ open and accidentally make a change to the earlier version of the draft

[2019-08-09 18:51] thepeoplesbourgeois commented on #3670
Thank gosh I was able to recover my edits with good ol' copy pasta >_>

[2019-08-09 19:10] jessleenyc commented on #3662
If anyone wants to get to this before the core team does, please share what your plan is!

[2019-08-09 19:12] jessleenyc commented on #3670
Ah shoot. That's frustrating, thanks for flagging this issue.

[2019-08-09 21:06] thepeoplesbourgeois commented on #3670
Thank you as well! I'm very grateful for your sympathy 😌

[2019-08-09 21:46] jessleenyc commented on #3415
@henrikwirth it's _supposed_ to display under your profile as well. Do you recall if there were any out-of-the-ordinary steps you took to publish this post? Such as:

- was it already drafted from an RSS feed?
- did you publish it, unpublish it, and then re-publish it?

Not an easy bug to reproduce so trying to see if there were any unique actions taken.

[2019-08-10 03:38] erdahuja commented on #3667
@jessleenyc It is reproducible, I changed the background-color of button to see how it should be fixed. Turns out theme color if matched with bg-color of button. It fixes it.

[2019-08-10 05:17] Kurtz1993 opened #3674 "Post series icons are not well visible on dark mode"
Today, I was reading an article that is part of a series. I've found that the circles uses to represent the series are not very accessible in dark mode. The circle that corresponds to the current post, is too dark (see screenshot below)

![F95EA833-349F-4B41-9D0A-EA438D597B14](https://user-images.githubusercontent.com/5412470/62817914-367dfb00-bb04-11e9-87bc-ece541284402.png)

This is only happeni

[2019-08-10 06:03] silvererudite commented on #2826
Hi..can you pls explain the problem a bit more. As in there's already an option in each listing called report abuse which maybe takes you to a link. So I'm confused what exactly to do here.

[2019-08-10 10:50] henrikwirth commented on #3415
Hi @jessleenyc ,
- I simply used the Editor on dev.to
- I wrote the article and saved it as a draft first
- Then I published it and also edited a couple of time times afterwards to fix typos.

I did not unpublish or re-publish. Hope that helps :)

[2019-08-10 11:31] thomasbnt commented on #3658
oh sorry, I didn't read this report. Thanks!

[2019-08-10 13:05] jessleenyc opened #3675 "Issues Around Making Tags Aliases For One Another"
@michael-tharrington commented on [Wed Jul 03 2019](https://github.com/thepracticaldev/team/issues/229)

**Describe the bug**

After making the tag `emberjs` an alias for `ember`, some of the posts that were tagged with `emberjs` (e.g. -  [this one](https://dev.to/decipherzonesoft/top-5-front-end-development-frameworks-in-2019-9ac)) have disappeared from the [`ember` tag page](https://dev.to/t/emb

[2019-08-10 13:10] jessleenyc commented on #3675
@mansona just transferred over this issue if you're still interested!

[2019-08-10 15:09] BassemMohamed opened #3676 "Ability to render article card on other sites."
**Is your feature request related to a problem? Please describe.**

It would be really cool if I could link articles in another site (eg: personal website) by rendering the article card. ( Same way as rendering facebook's share button )

That is what I mean by article card:
![Screen Shot 2019-08-05 at 10 06 40 AM](https://user-images.githubusercontent.com/17043634/62823469-5c9dac80-bb91-11e9-98b4-

[2019-08-10 15:53] livanjimenez opened #3677 "Unable to archive or delete because page is missing"
**When trying to click on the link the post was removed or deleted yet stayed on my reading list.**

![1](https://user-images.githubusercontent.com/28581256/62823884-71b01680-bb64-11e9-8192-51aa446c7a17.PNG)

**After clicking to check if post is available:**

![4](https://user-images.githubusercontent.com/28581256/62823899-ade37700-bb64-11e9-8736-13d28ac508e9.PNG)

**Then I tried to archive the po

[2019-08-10 17:01] 2lach commented on #1346
Hey @jessleenyc, hope all is well!
I totally forgot about this 😋 cool that you brought it up again 👍 I could take some time and fix the UI/UX part.

However, being honest i don't see that i will have the time to get into and fix the backend parts (been a couple of years since i wrote a line of ruby).

So if thats cool i can fix the front-end.

Have a good one 😎

[2019-08-10 20:29] mansona commented on #3675
thanks for the heads up @jessleenyc 👍 I am happy to take a look, the only issue being that I'm not a ruby dev 😂 any guidance would be appreciated

[2019-08-10 21:12] mansona commented on #3675
So I've gotten this as far as it running on my local machine and I've found something strange 🤔 I am on http://localhost:3000/admin/tags/16 (a tag that I created locally) and I don't see any edit field for setting up an alias. I have looked at the controller and it seems like it should be showing something up because of https://github.com/mansona/dev.to/blob/master/app/controllers/admin/tags_contr

[2019-08-11 06:37] dzhavat commented on #1805
I experience this as well on Firefox. Actually came here to open an issue and founds this one. Usually the problem occurs for me right after logging in with GitHub. To fix it I either refresh the page or scroll a bit down.

[2019-08-11 13:50] omenking opened #3682 "Chat - Sound Effect When Messaging"
**Is your feature request related to a problem? Please describe.**

When someone messages I have to manually check chat which causes a delay in conversation.

**Describe the solution you'd like**

- [ ] When someone notifies me I should hear a sound.
- [ ] I should have a toggle to globally turn on and off notification sounds

**Describe alternatives you've considered**

**Additional context**

[2019-08-11 13:52] omenking opened #3683 "Chat - Push Notifications To Chrome Browser"
**Is your feature request related to a problem? Please describe.**

Modern Browsers allow you to push notifications so you can see activity on a website with chat functionality.

**Describe the solution you'd like**

- [ ] When someone messages me in Chat it pushes notification to the browser's Notification functionality

**Describe alternatives you've considered**

**Additional context**

[2019-08-11 13:54] omenking opened #3684 "Chat - Be able to load previous chat history"
**Is your feature request related to a problem? Please describe.**

When using the chat history there is a limit on the shown messages. So when I scroll back to get information such as contact details I can no longer access it.

**Describe the solution you'd like**

- [ ] A button that loads the last 100 messages or load 100 more messages on infinite scroll

**Describe alternatives you've consider

[2019-08-11 13:55] omenking opened #3685 "Chat - Send Email Summary When Idle"
**Is your feature request related to a problem? Please describe.**

When I'm away someone might message me but I won't know until the next time I log into DEV.to

**Describe the solution you'd like**

- [ ] When the user is inactive and they have unread chat messages, deliver a summarized email of unread chat messages

**Describe alternatives you've considered**

**Additional context**

[2019-08-11 19:41] rhymes commented on #3677
This is probably related to #1641

I too have posts I can't remove from my reading list because they have been deleted afterwards

[2019-08-12 01:27] livanjimenez commented on #3677
Definitely!
I was trying to find a way to fix it in the source code but I didn't want to go in blind,
thanks for the link

[2019-08-12 07:51] dmerejkowsky commented on #1051
Nope, the problem was resolved quite some time ago by performing a manual operation on the DB.

I forgot to update the issue there, sorry.

[2019-08-12 08:00] helenanders26 opened #3688 "Ability to filter search results on mobile"
**Describe the solution you'd like**

Can we please have the ability to filter search results on mobile the same way we do on desktop.  This could potentially be hidden away when not in use the same way the 'reading list' when on the Home page.

**Describe alternatives you've considered**

Tested on ios and android but doesn't appear to be available on either

**Additional context**

<img width="4

[2019-08-12 10:02] weekly-digest[bot] opened #3690 "Weekly Digest (5 August, 2019 - 12 August, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 71 issues were created.
Of these, 38 issues have been closed and 33 issues are still open.
## OPEN ISSUES
:green_heart: #3687 [Add place holder alt text to markdown link](https://github.com/thepracticaldev/dev.to/pull/3687), by [jacobherrington](https://github.com/jaco

[2019-08-12 13:45] #3568 closed

[2019-08-12 14:31] #3690 closed

[2019-08-12 14:39] mrm8488 opened #3705 "Some Unicode characters are not shown in right format"
I created a post in Spanish some months ago. In the beginning, Spanish special characters (ñ, ó, é, á, etc) were shown in the right way. Some days ago, I went to my article and they were not shown in the proper way.

To Reproduce:
Visit:
[buggy article](https://dev.to/mrm8488/liderazgo-e-historia)

[2019-08-12 16:24] scrabill opened #3706 "Tags not Rendering on Posts"
**Describe the bug**

When creating and publishing a post, the tags are not displayed on the post page. I've had this happen on some posts, but not all posts that I have made.

**To Reproduce**

1. Create a new post
2. Add tags
3. Save
4. View or Preview

**Expected behavior**

I expect the tags associated with the post to be displayed when viewing the post

**Screenshots**

Here is a screenshot o

[2019-08-12 18:21] scrabill commented on #3706
Oddly, the tags are now showing for this post. I did not make any changes.

![Screen Shot 2019-08-12 at 2 20 43 PM](https://user-images.githubusercontent.com/17805262/62888001-68fa4480-bd0c-11e9-9da8-49f1b77671ad.png)

Should I consider this issue closed or keep it open?

[2019-08-12 18:23] jessleenyc commented on #1051
Great! Closing this for now but will reopen if someone else experiences this issue.

[2019-08-12 18:23] #1051 closed

[2019-08-12 18:28] jessleenyc commented on #3675
Ah yes, we've been slowly migrating actions away from /admin and to /internal. You should see the form at /internal/tags!

[2019-08-12 18:29] jessleenyc commented on #3415
@henrikwirth will you try unpublishing and then re-publishing to see if it appears on your profile?

[2019-08-12 18:34] jessleenyc commented on #2826
Hey @silvererudite! Instead of having the report abuse and edit button on the listings card, we want to move it over as a drop down. For example, similar to how we organization additional actions for comments.

![Screen Shot 2019-08-12 at 2 32 56 PM](https://user-images.githubusercontent.com/14931921/62888823-1c176d80-bd0e-11e9-9b9a-9304850b2f27.png)

I think for listings we'd want three vertical

[2019-08-12 18:49] jessleenyc commented on #1346
Cool, want to give me a ping when you have something and we'll finish it up?

[2019-08-12 18:49] jessleenyc commented on #3667
Got it, yeah! That makes sense. Do you want to submit a PR?

[2019-08-12 19:41] jessleenyc commented on #3706
Hmm interesting. Did it show up after a refresh? Or did it just..pop up on its own?

[2019-08-12 19:46] jessleenyc commented on #3705
Thanks for letting us know, we'll take a look.

[2019-08-12 19:48] jessleenyc commented on #3688
Yep, this makes sense. If anyone wants to contribute to the issue, please let us know what you're thinking design-wise first!

[2019-08-12 21:32] jessleenyc commented on #3685
Hey @omenking, just a heads up that we *do* send an email after a certain period of time. I believe the logic is in `app/models/message.rb`!  I do agree that it would be a better experience if those messages were consolidated into a summary though.

[2019-08-12 21:35] jessleenyc commented on #3683
Yep, that would be awesome.

[2019-08-12 21:37] jessleenyc commented on #3682
This makes sense to me, and we definitely want to have the user setting available to opt-in/out of right away 😅.

Figuring out a sound would be fun 😁.

[2019-08-12 21:40] jessleenyc commented on #3677
Ah yeah, this does seem like the same issue as #1641. I'm going to close this one in favor of the original. I'll leave a note that this is also affecting the archive functionality. Thanks @livanjimenez!

[2019-08-12 21:40] #3677 closed

[2019-08-12 21:42] jessleenyc commented on #1641
Just a note that someone else is experiencing this issue as documented here: https://github.com/thepracticaldev/dev.to/issues/3677

Specifically, this can't be removed by archiving either.

[2019-08-12 21:44] jessleenyc commented on #3676
Hey @BassemMohamed, thanks for the request! I believe this is a duplicate of https://github.com/thepracticaldev/dev.to/issues/1445 so I'm going to close this issue in favor of the original.

[2019-08-12 21:44] #3676 closed

[2019-08-12 21:45] jessleenyc commented on #1445
Another request here: https://github.com/thepracticaldev/dev.to/issues/3676

[2019-08-12 22:48] henrikwirth commented on #3415
@jessleenyc I tried that, but still the same. Buuuut, I found the bug. When I go on `Manage` the article and then press `Pin to Profile` it disappears again from my personal site. As you can see now, on my profile, it is there. So by unpinning it, it now shows it at my profile again.

[2019-08-12 23:03] jessleenyc commented on #3674
Thanks for flagging. Whoever takes this, let's make sure the button colors are updated so they work well for all themes.

[2019-08-13 02:27] AninditaBasu opened #3709 "Periodically auto-delete 'orphaned' image files"
**I can't delete images I don't need**

Recently, while drafting a post on the dev.to website, I used an image that I later deleted from the final post.
I could not figure out any way to delete that image from the server itself. I wanted it gone just to reduce the space I take up on the server.

**Possible to give us a _Delete_ option for uploaded images?**

It reduces our footprint, is all.

**Or

[2019-08-13 03:01] scrabill commented on #3706
It might have popped up on its own. I had navigated to different pages within dev and on the web either way. I tested in an incognito tab before I submitted an issue too 🤔

[2019-08-13 07:38] silvererudite commented on #2826
@jessleenyc Cool ! I would like to work on this.  can u pls point me to the files related to this issue ?

[2019-08-13 09:35] mansona commented on #3675
Perfect thanks @jessleenyc that got me unstuck so I could progress a little bit 🎉

I was just writing a note here to tell you I couldn't figure out what was wrong and I figured out how to finally write a test to show that things are broken 🎉 the next thing is to just figure out how to move forward from here...

I'm assuming there is some logic in the post creation function that makes sure things a

[2019-08-13 12:40] erdahuja commented on #3667
@jessleenyc Sure. Can you help me with a good starting point in this project? It's my first PR here.

[2019-08-13 12:45] Glennmen commented on #3667
@erdahuja The HTML can be found here:
https://github.com/thepracticaldev/dev.to/blob/e9db50b7c9e98b0b77d83e3285e22e0389663e7f/app/javascript/listings/listings.jsx#L440-L445

And the CSS in question here:
https://github.com/thepracticaldev/dev.to/blob/e9db50b7c9e98b0b77d83e3285e22e0389663e7f/app/assets/stylesheets/classified_listings.scss#L531-L552

[2019-08-13 13:40] benhalpern commented on #354
Hey, I'm happy to help out and get this moving along :) The last time this was discussed, we were swamped with other things. @omenking @nickytonline

[2019-08-13 13:44] jessleenyc commented on #202
Closing this since it's working on iOS 12.2!

[2019-08-13 13:44] #202 closed

[2019-08-13 13:51] benhalpern commented on #987
Hey, this is still a good idea. We can officially support the gradual replacement of both `em` and `px` with `rem`. Would there be problems with having only _some_ `rem` given user preferences though? Like, if we are only partly done with this, does the user have a worse experience if they have different preferences of font size?

[2019-08-13 13:52] omenking commented on #354
So you can see in my last screenshot I was overhauling the comment form and I even was going as far as converting the posts to preact. The PR process was my main detoured of completion.

It would be really nice if we stuck either v1 and v2 of the article forms. Since I see this task interconnected to multiple components.

[2019-08-13 13:56] omenking commented on #354
@benhalpern if you can get on a Zoom call with me, it could help pave the way so when I PR this there's less friction in the review process.

[2019-08-13 14:00] jessleenyc commented on #2951
@cyrillefr I think the issue your describing has since been resolved. @mariocsee can help if it's not/if you have more questions!

[2019-08-13 14:07] benhalpern commented on #3669
Series names are not unique, so this would probably require params for the user and the series name. So I think something like `/api/articles/?collection=${id}` (series is actually a "type" of collection, it just so happens we haven't built any other collection types yet.)

We could expose this ID in the other APIs so that people could first query that to get an id.

We could also have a `collecti

[2019-08-13 14:07] jessleenyc commented on #3684
Let's go the button route for now instead of listening for infinite scroll.

[2019-08-13 14:40] mariocsee commented on #2951
Hey @cyrillefr, @rhymes opened an issue regarding that credit check and I submitted a PR for it that got merged. Feel free to ask me any questions re: listings!

(I'm currently working on a PR for listing drafts, deletion and more dashboard controls, so there will be some new changes coming to `classified_listings_controller.rb`.)

[2019-08-13 14:41] jessleenyc commented on #730
@pkfrank I think this makes more sense as a third party tool that can be created through the API, then brought into the app natively. What do you think?

[2019-08-13 14:41] jessleenyc commented on #730
Didn't mean to close it!!

[2019-08-13 14:42] jessleenyc commented on #3709
Hey @AninditaBasu. Thanks for bringing this up -- something good for us to think about. I just updated the issue title to reflect the route we'd consider most.

[2019-08-13 14:43] pkfrank commented on #730
@jessleenyc that makes sense to me.  I think that [this post](https://dev.to/stackbit/migrating-from-medium-a-developer-s-guide-3djh) from Stackbit would likely provide useful reference material for anyone who takes this on.

[2019-08-13 14:44] mariocsee commented on #2826
Hey @silvererudite, the file responsible for showing each listing is `app/javascript/listings/singleListing.jsx`. Currently, `const editButton` displays the edit and report abuse buttons. Hope this is helpful, and let us know if you have any other questions we can help with! 😄

[2019-08-13 14:45] jessleenyc commented on #730
Great! I'm actually going to close this issue since this wouldn't be done on platform anymore.

[2019-08-13 14:45] #730 closed

[2019-08-13 16:47] nickytonline commented on #987
Having `em` is actually OK in some contexts, but getting to your first point, I think it might have to be all or nothing. I'm not positive though.

[2019-08-13 17:02] jessleenyc commented on #354
@omenking let's do it. want to send over some times/days that work for you this week?

[2019-08-13 17:11] nickytonline commented on #354
I've got a lot going on at the moment, but happy to provide feedback/suggestions. I can join Zoom as well if you need me.

[2019-08-13 19:32] omenking commented on #354
@jessleenyc

They only times I cannot do this week would be:
2PM Wednesday
11AM Thursday

I work from home so I can accommodate anytime of day around baby schedules
I'm going to suggest some evening times to be inclusive to Nick's schedule.

Here are suggested times:

Wednesday - 11am,  3pm, 7pm
Thursday - 3pm, 7pm, 9pm
Friday - 11pm 1pm, 3pm 7pm 9pm

[2019-08-13 19:47] nickytonline commented on #354
I can do 3pm or 7pm on Thursday or 3pm Friday. Hopefully that works for everyone.

[2019-08-13 19:50] Kovah opened #3712 "Yaml code block not rendered correctly"
**Describe the bug**

For some unknow reason, a simple Yaml code block is not rendered correctly in my [latest post](https://dev.to/kovah/cut-your-docker-for-mac-response-times-in-half-with-docker-sync-1e8j). The code block is standalone, not surrounded by other elements like lists.

**To Reproduce**

The following markdown works very well with all other markdown generators but breaks itself and a

[2019-08-13 20:42] jessleenyc commented on #354
Hey @omenking @nickytonline  - just to confirm, what time zones are these suggestions in??

[2019-08-13 20:42] jessleenyc commented on #354
Right now 3pm EST on Friday is looking best for us.

[2019-08-13 20:55] nickytonline commented on #354
Eastern time for all of us. I believe Andrew is in Toronto.

[2019-08-13 21:05] jessleenyc commented on #354
Great. Not sure if it's wise to share my zoom link on a public issue...unless there's a way to generate one-time video call invites that are scheduled? I can send you both calendar invites. Anyone else who wants to join, mention me here by Friday 8/16 @ 3pm EST and I can add you to the invite?

@nickytonline @omenking are the best emails to send the ones associated with your DEV account?

[2019-08-13 21:09] jessleenyc opened #3713 "Update Sponsorship Features"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
- Add blurb to tag sidebar
- Make sure sponsors only appear if status = live in all places
- Make sure expiration dates are followed
- Clear cache when sponsorships are saved in admin?
- Update language for tag sponsorship re: CTA

[2019-08-13 21:21] nickytonline commented on #354
Yup, works for me.

[2019-08-13 21:39] jessleenyc commented on #354
Sent! @omenking lmk if you need it sent to a diff email and I can update the invite. Talk to you on Friday!

[2019-08-13 21:46] jessleenyc commented on #3712
Thanks for reporting!

[2019-08-13 22:38] omenking commented on #354
I'm in Toronto and I can accommodate either time chosen.
I have paid Zoom and I'm comfortable sharing a public Zoom link.

[2019-08-14 08:44] rhymes opened #3715 "Add pub/sub and webhooks to subscribe to events"
**Is your feature request related to a problem? Please describe.**

As a client I would like to be able to call a HTTP API, provide a callback URL, register a webhook and subscribe to articles change events such as a new article, an update of an article or a deletion and others

**Describe the solution you'd like**

The feature itself would consist in a few parts: an API call that allows the clien

[2019-08-14 08:45] rhymes commented on #3665
Closing this in favor of https://github.com/thepracticaldev/dev.to/issues/3715

[2019-08-14 08:45] #3665 closed

[2019-08-14 08:58] rhymes commented on #3712
Hi @Kovah, I tried by copying and pasting the code you provided, both with editor v1 and v2 and it worked:

![tildes](https://user-images.githubusercontent.com/146201/63008142-4be78200-be82-11e9-8b0b-cecaddc546b6.gif)

Might there have been a fourth backtick somewhere?

[2019-08-14 10:17] Kovah commented on #3712
Not sure. Maybe there is some error in my post somewhere before the block that breaks this? I re-wrote the whole block, even after copying from text edit as raw text it is not working. Replaced the block several times in my post.

[2019-08-14 10:25] rhymes commented on #3712
@Kovah would you be willing to attach the whole markdown here? I can take a look if there's anything else going on.

[2019-08-14 10:57] Kovah commented on #3712
Put that into a text file here: [docker-sync-article.txt](https://github.com/thepracticaldev/dev.to/files/3501013/docker-sync-article.txt)

Thanks for the help! 😊

[2019-08-14 11:49] rhymes commented on #3712
@Kovah I couldn't reproduce. I tried both locally using the current master code and directly on https://dev.to/new (which is deployed with the same code) and in both instances I was able to preview and save the content of the file to create a new article.

Let's rule out possible browser issues: can you try creating a new post but from a different browser?

[2019-08-14 12:37] cyrillefr commented on #2951
Hello, @jessleenyc , @mariocsee .
Thank you for the update, I think I have spotted the changes (including this one #3645 if I am correct).
I will return to this issue soon

[2019-08-14 14:11] cyrillefr commented on #3600
Hello @jessleenyc , since I have worked with delayed objects and cache objects on previous issues, I would like to help with this issue.

[2019-08-14 14:12] jessleenyc commented on #3600
Sounds good @cyrillefr!

[2019-08-14 14:29] Kovah commented on #3712
Just saw the text file contains the "working" version but without syntax highlighting, so here is the correct file that I used on my own blog and Hashnode:
[docker-sync-article-new.txt](https://github.com/thepracticaldev/dev.to/files/3501821/docker-sync-article-new.txt)

I also tried again using a plain version of Chrome, without any plugins, copied the source into the editor and saved the page, b

[2019-08-14 14:53] rhymes commented on #3712
Found the problem, it's the two empty backticks at line 57.

Either you remove them or put a space in it.

Sublime Text's parser was complaining:

![Screenshot 2019-08-14 at 4 51 10 PM](https://user-images.githubusercontent.com/146201/63031208-f330dd00-beb3-11e9-8d87-04aa55aaaf7c.png)

I put a space between the backticks and it worked

[2019-08-14 16:02] Kovah commented on #3712
Ah, that makes sense. Interesting that not a single editor I use found this error. Thank you for the hint. I updated the original post and it looks good now. 😊

[2019-08-14 16:02] #3712 closed

[2019-08-14 16:23] jessleenyc commented on #354
@omenking you should have received a calendar invite with a zoom link already on it!

[2019-08-14 17:00] pkfrank opened #3718 "Notification indicates the wrong account as the original commenter"
I'm seeing the following on `/notifications` (on both desktop/web):
![Example of what I'm seeing on the notifications page](https://cl.ly/edebeb753da7/Image%202019-08-12%20at%203.27.39%20PM.png)

However, it was actually Jess who made the comment:
![Example of the original comment](https://cl.ly/00a282574712/Image%202019-08-12%20at%203.28.42%20PM.png)

Comment link = https://dev.to/jess/comment/e3

[2019-08-14 17:41] Kurtz1993 commented on #3674
I can take this issue, but which colour will be the right to use?

[2019-08-14 18:21] revolter opened #3720 "Onboarding: can't toggle the email options by clicking the label"
**Describe the bug**

Clicking the texts of the email preferences options doesn't toggle the corresponding checkboxes, while doing the same for the first 2 options does work.

**To Reproduce**

**Expected behavior**

Clicking any text next to a checkbox should toggle it.

**Screenshots**

<img width="783" alt="image" src="https://user-images.githubusercontent.com/5748627/63045537-3d788500-bed9-11e

[2019-08-14 18:43] #3718 closed

[2019-08-14 19:01] #1419 closed

[2019-08-14 19:27] jessleenyc commented on #3674
@Kurtz1993 here's some info on theming: https://docs.dev.to/design/theming/

As for which color, do you want to make a suggestion? I'd think we'd want the 'unselected' series dots to be darker, closer to the background, and then the 'selected' dot to be brighter, like a light gray. I'd try to use colors already used in the codebase. You'll find some in `variables.scss`

[2019-08-14 21:15] jessleenyc commented on #3720
Yeah, that makes sense!

[2019-08-14 21:44] jessleenyc commented on #338
@Zhao-Andy assigning you to this to check out when you're back from vacation!

[2019-08-14 23:15] Kurtz1993 commented on #3674
What do you think about these colours?
I'm just tweaking the current styles by changing the current variable.
![ezgif-2-b6b022304262](https://user-images.githubusercontent.com/5412470/63062545-fda4a400-bebe-11e9-8cd2-2f89060132d8.gif)