[2020-01-09 04:56] duptitung opened #5413 "Add category in reading list to group similar topics in one place."
**Is your feature request related to a problem? Please describe.**
There is a lack of proper article organization in reading list. I have a huge list of articles of various topics on my reading list all clamped in a single place. It can be very difficult to find the one you want to read later among those hundreds of articles.

**Describe the solution you'd like**
Add a feature to add category in t

[2020-01-09 06:20] citizen428 commented on #5268
@mstruve The numerical user id changes when you change your GH username? That seems a bit odd.

[2020-01-09 07:25] citizen428 commented on #5268
It seems somewhat unlikely that the numeric ID would change when the username changes.

I just ran through the following:

1. Create a new dummy Github account for testing
2. Sign up through Github in my dev environment. All data looks correct:
[code]
3. Sign out from DEV
4. Change username on Github to "dsfsfad1".
5. Sign back into DEV. All successful. The user's data now looks like this:
[code]

[2020-01-09 08:34] rhymes commented on #5413
Hi @duptitung, in the meantime you can use tags in the sidebar. If you click on them you'll see only items with that tag (which is basically a category). You can also search by keyword. Let me know if that works for you, a bit at least

[2020-01-09 13:06] mstruve commented on #5268
Thanks for running that test @citizen428! I guess the Github username change might be a red herring then and the UID changes for some other reason. I ran into this with @avery-d and I can confirm her UID had changed from when she signed up in Sept. I noticed her Github username had also changed and assumed that might have been why. It was likely due to some other setting however.

@avery-d did you

[2020-01-09 14:07] VegaFromLyra commented on #5305
@mstruve I can pick up the remaining two jobs related to `Comments` next:

[code]

[2020-01-09 14:47] #5272 closed

[2020-01-09 21:14] wildeng commented on #5305
@mstruve once the ones I have are done I can pick up others, you can even randomly assign them to me :smile:

[2020-01-09 23:08] mstruve commented on #5305
@wildeng you have been such a huge help I think I will let you pick out whichever jobs your heart desires! 🤗

[2020-01-10 01:07] duptitung commented on #5413
Hi @rhymes, Tag and search are both great features. I do use them but they don't provide the organization capability that category provides. And also people might add unrelated popular tags for greater reach. For example, there are many articles that have both javascript and css tag so when i use css tag filter those javascript articles also show up.

[2020-01-10 04:45] citizen428 commented on #5268
@michael-tharrington Just to make sure we're all talking about the same thing: When you say UID here, do you mean numeric IDs or usernames?

[2020-01-10 05:19] gabrieleromanato opened #5429 "Printing issues with Chrome"
Hi! This is just to inform you that at the moment printing your articles as PDF is not possible (see shot). You should add a CSS for print.
<img width="380" alt="1dbk0wGV" src="https://user-images.githubusercontent.com/1553348/72127849-2d25e280-3371-11ea-942b-6f761b3378e3.png">

[2020-01-10 07:05] sebastiantf opened #5431 "Add an easily accessible button in the UI to switch themes on the fly"
**Problem**
Switching Dark Mode on and off requires the user to go to `Settings --> UX` which could be made a better user experience.

**Solution**
A simple one-click Dark Mode toggle button in the navbar/sidebar/profile-dropdown would be much more convenient and time-saving.

[2020-01-10 07:11] user753 opened #5432 "Why heart count on post list isn't the same as heart count on page?"
They have different icons. Does it mean they are different thing? If so it isn't clear what is the difference.
For example https://dev.to/top/year top post has **6456** hearts but on post page https://dev.to/simonholdorf/9-projects-you-can-do-to-become-a-frontend-master-in-2020-n2h it has **1995**.

[2020-01-10 07:25] miku86 opened #5433 "Series: Posts disappear when giving old posts a series tag."
**Describe the bug**

I updated some old posts to be in a `series`.
The normal behaviour in a series is, that the series box always shows all posts of the series, no matter which part of the series I am currently at.

**Example:**

Expected: My series has 5 posts. When I read part 3, the series box shows 5 posts and the current one (part 3) is highlighted.

Bug: My series has  5 posts. When I am l

[2020-01-10 10:47] cyrillefr commented on #5305
Hello @mstruve ,

I would like to take care of:
- html_variant_trial_create_job.rb
- html_variant_success_create_job.rb

[2020-01-10 10:58] brainkim opened #5434 "Your service workers are throwing errors in safari."
**Describe the bug**

Unable to load the site in safari on repeat visits.

**To Reproduce**

Open the website in safari. Maybe wait a day or something I have no idea.

**Expected behavior**

The website loads.

**Screenshots**
![Screen Shot 2020-01-10 at 5 51 51 AM](https://user-images.githubusercontent.com/2996754/72148085-f9958900-336d-11ea-96db-211002b2b82b.png)
![Screen Shot 2020-01-10 at 5 53

[2020-01-10 10:59] miku86 commented on #5432
If you have a close look at your first link, you can see, that the heart icon has two small things behind it.

If you then go to your second link and sum all three icon numbers, you can see, that they sum to the number from your first link.

[2020-01-10 11:20] user753 commented on #5432
@miku86 Thanks. It reminds me of this image https://i.redd.it/1hgm77vrme841.png

I think hover like `heart + unicorn + reading list` would be helpful.

[2020-01-10 12:02] rhymes commented on #5431
Thanks @sebastiantf for the suggestion. Keep in mind that there are multiple themes so a selector should take that into account

[2020-01-10 12:06] rhymes commented on #5434
Hi @brainkim, I have macOS 10.14.6 but oddly I have Safari 13.0.4 and the website loads.

![Screenshot 2020-01-10 at 1 05 40 PM](https://user-images.githubusercontent.com/146201/72151968-f28c6c00-33a9-11ea-9cf1-c7bf80cb0e19.png)

Do you have any particular extensions?

[2020-01-10 12:07] rhymes commented on #5432
Closing this, glad someone already answered with the explanation.

@user753 if you would like to suggest adding the hover, please open a separate PR

Let me know if you further questions about this

[2020-01-10 12:07] #5432 closed

[2020-01-10 12:49] sebastiantf commented on #5431
Yes @rhymes the selector would be really powerful if it could switch between the themes.

The main idea is to make switching between dark and light themes more fast, easy and convenient than going into the Settings.

It would be great if the button/solution could also switch between all the themes.

[2020-01-10 13:52] anaschwendler opened #5435 "Feature request: Go to random post"
**Is your feature request related to a problem? Please describe.**
It is not a problem I must say, but I would love to have this feature in case I'm just walking around the website and don't want to pick an article (I want to be surprised, let's say)

**Describe the solution you'd like**
Just a button to go to a random post

**Describe alternatives you've considered**
Going to categories and picki

[2020-01-10 13:57] wildeng commented on #5305
Thanks a lot :) I could then pickup what remains in **Follows** and the all **Mentions** ones

[2020-01-10 13:57] cyrillefr commented on #5223
Hello @mstruve,

I have been playing with the code and reproduced locally and got the Rails rejection:
- by curling with headers Client-ip & X-Forwarded-For (works for any page)
- by adding 2 setRequestHeader in the JS function fetchBaseData

I did not find that there is an explicit set of these 2 headers in code. (Maybe some gems/JS library is doing something behind the scene).

Could it be possi

[2020-01-10 14:12] rhymes commented on #5431
Your suggestion makes sense, though I imagine it might have to be balanced with the fact that the feature "change theme" might not be needed with a frequency that a readily available button entails. If instead the frequency is higher (personally I never change theme so I don't qualify ahahha) as how your issue suggests, probably we should understand why.

What would your use case be @sebastiantf?

[2020-01-10 14:14] osde8info commented on #4953
may be related

goto https://dev.to/readinglist
click archive
click https://dev.to/readinglist/archive
latest archive doesnt appear on list until you manually re-enter https://dev.to/readinglist/archive into browser nav

[2020-01-10 14:14] netochaves commented on #2470
Hey guys, I saw that we still have some eslint erros on `app/javascript/chat/userDetails.jsx` and `/app/javascript/chat/content.jsx` I'll work on these files, if that's ok.

[2020-01-10 14:46] renatamarques97 commented on #5429
Hey @gabrieleromanato, can you provide reproduction steps? I execute Ctrl + P for printing and it seems okay to me.

[2020-01-10 15:04] abenettt opened #5436 "Don't notify about already read posts"
**Is your feature request related to a problem? Please describe.**
I was reading a posts when DEV suddenly notified me that this posts has been published. It feels rather redundant especially as I'm already in this very same post. Is there a way to omit the notification should the posts already be read?

**Describe the solution you'd like**
Is there some kind of history of posts, one has read, if

[2020-01-10 15:31] rhymes commented on #2470
Sure @netochaves, thank you!

[2020-01-10 15:47] rhymes commented on #4953
@osde8info I think that's a separate issue, as you noticed you'll see the item in the archive eventually, it's just not instantaneous unfortunately. Could you open an issue about it?

[2020-01-10 15:52] rhymes commented on #5223
@cyrillefr could you share the curl script and the code changes to the JS?

Thank you for investigating!

[2020-01-10 15:53] rhymes commented on #5429
@gabrieleromanato can you also please add what browser and operating system you're using? Thank you!

[2020-01-10 15:54] mstruve commented on #5223
Thank you @cyrillefr for investigating! We would love to see your script and YES it is definitely still happening.

[2020-01-10 16:14] mstruve commented on #5305
@wildeng and @cyrillefr you got it!

[2020-01-10 16:35] brainkim commented on #5434
I'm running adguard but it would be a pain to turn off and I doubt that adguard is the issue. This issue only appears after maybe a day or so, meaning I think some cache item is being evicted that a dev.to dev does not expect. I visit the site, see dev.to stuff, go about my merry way, and then visit the site again only to have loading stuck and the site completely unable to load until I clear the

[2020-01-10 17:08] fyodorio opened #5440 "Cannot create Stackbit integration"
**Describe the bug**

I want to create a static site using dev.to->Stackbit integration from dev.to settings, but fail at the step of connecting dev.to (at Stackbit wizard)

**To Reproduce**

1. Go to [https://dev.to/settings/integrations](https://dev.to/settings/integrations)
2. Connect to Stackbit
3. Return to p.1 destination, click `Create New Stackbit Site`
4. Choose Ampersand theme, Jekyll ge

[2020-01-10 17:32] yashwanth2804 commented on #2250
Any Progress ? , Still getting the same

[2020-01-10 17:33] #5177 closed

[2020-01-10 18:39] benhalpern commented on #5435
I like something like this, especially in mobile where it might be a fun way to navigate and discover new stuff.

[2020-01-10 18:40] osde8info commented on #4953
ok thanks i will

[2020-01-10 18:41] #5440 closed

[2020-01-10 18:41] benhalpern commented on #5440
Sorry about that. I believe we found the fix.

[2020-01-10 18:43] osde8info opened #5444 "Archiving an item in the reading list is not instantaneous and affects UX"
goto https://dev.to/readinglist
click archive next to an article
click https://dev.to/readinglist/archive
the article you just "archived" doesnt appear on the list until you manually
re-enter https://dev.to/readinglist/archive into browser nav bar

[2020-01-10 19:04] benhalpern commented on #4661
@bolariin I love the idea of being able to visualize and possibly edit all the config via YAML, even if we've started with the UI-first approach (which I think made sense). But in the future if we could display, edit, and diff config if people wanted to see things that way I think it would be great.

[2020-01-10 19:22] benhalpern opened #5445 "Allow "authorization services" to be defined by a site config."
**Is your feature request related to a problem? Please describe.**

As a future user of a generalized version of the site, I'd want to be able to offer other auth paths, such as Facebook or Google or straight email.

We hold dear the notion of reducing spam and abuse through authorization restriction, but we can come up with additional ways to do this in the future. I don't think we should create

[2020-01-10 19:53] sebastiantf commented on #5431
I find myself reading posts at **`dev.to`** whenever I get some time. This free time might sometimes be during the daytime, and sometimes at night.

When I'm reading during the daytime, I really do prefer a light theme and at night, a dark theme. So I find myself doing the `Settings --> UX --> Change Theme` many times a week or so. It gets really boring when you do that a couple of times 🙁

That's

[2020-01-10 20:21] cyrillefr commented on #5223
@mstruve , @rhymes

`curl -H "X-Forwarded-For: 1.2.3.4" -H "Client_IP: 4.5.6.7" http://127.0.0.1:3000 > error.html `
-> you will see on the generated file :
`IP spoofing attack?! HTTP_CLIENT_IP="4.5.6.7" HTTP_X_FORWARDED_FOR="1.2.3.4"`
One header does not raise an error, neither if the 2 headers have the same IP

To raise an error via adding headers on the JS call:
- app/views/pages//badge.html.er

[2020-01-10 20:51] fyodorio commented on #5440
The issue persists, for me at least

[2020-01-10 21:10] benhalpern commented on #5440
Hey, this was merged but the server-side cache hadn't cleared. Did that now. It still won't work for _everyone_ yet because browsers recycle serviceworkers on a periodic basis I believe.

If you update or unregister your serviceworkers from browser tools it should work. And it should work for everyone once local caches recycle.

[2020-01-10 23:26] renatamarques97 commented on #5435
I'd love to help with this one

[2020-01-11 00:59] brainkim commented on #5434
Did you deploy a service worker update today? I’m suddenly able to visit the site again but expect this issue to pop up again soon. (I was intentionally not clearing the service worker so that I’d be able to help debug)

[2020-01-11 03:10] luchiago opened #5450 "Problem with seeds when try to setup the project"
**Describe the bug**
I was trying to setup the project again because I removed it from my machine. I dropped the databases that were generated in the last install. However, when I run `bin/setup`, I was unable to complete the installation

**To Reproduce**
Run `bin/setup`

**Expected behavior**
Be able to finish the setup of the project

**Screenshots**
![failure](https://user-images.githubusercon

[2020-01-11 03:31] Zhao-Andy commented on #5450
Huh, that's a funny bug. Thanks for raising it. Feel free to make a PR!

[2020-01-11 04:39] yashwanth2804 opened #5453 "API: endpoint to get list of user ids who reacted to an article"

[2020-01-11 06:59] fyodorio commented on #5440
Yay! Success! Thanks a lot, Ben! 👍
I want to mention that this integration is awesome, and I like Stackbit very much, their Live Site widget is so handy!

[2020-01-11 08:27] rhymes commented on #2250
Hi @yashwanth2804, thanks for the patience and sorry for the bug you're encountering. I'm working on hopefully getting this fixed with https://github.com/thepracticaldev/dev.to/pull/4744

[2020-01-11 08:31] rhymes commented on #5444
Thanks @osde8info, I updated the title to make it a little bit more explicit.

[2020-01-11 08:43] rhymes commented on #5431
@sebastiantf thanks for clarifying! It makes sense, I'm going to rename the title of this issue and keep it open. There's also an open issue on automatic switching https://github.com/thepracticaldev/dev.to/issues/2421

[2020-01-11 09:02] sebastiantf commented on #5431
Great @rhymes! Hoping for this issue to be implemented and closed soon.

#2421 is also a great requirement for **`dev.to`** Hoping to see that implemented too.

[2020-01-11 09:07] rhymes commented on #5453
No, we don't have one

[2020-01-11 10:16] sivaraam opened #5456 "Blank "Report vulnerabilities" page"
**Describe the bug**
When I try to visit the ["Report vulnerabilities"](https://dev.to/security) page in Chrome I only see a blank page. I am not able to see the content. The content seems to be present but invisible as I am able to scroll the page and am able I am able to see the actual content of the page if I remove the `visibility: hidden;` CSS property from `div#page-content` via developer to

[2020-01-11 10:58] rhymes commented on #5456
Great catch @sivaraam. I have the same issue with Chrome 79 on macOS 10.14.6

[2020-01-11 16:23] benhalpern opened #5457 "Make color hex styles consistent between podcasts and users/orgs/etc."
**Describe the bug**

In orgs and users, we require color hex to be written out like `#000000` (with the hash), in podcasts, it's formatted like `000000`, (without hash).

This is not resulting in any errors, but is a confusing inconsistency.

**Solution***

I think we should switch the format for podcasts to the `#000000` format. I imagine this change will require a deployment migration of sorts.

[2020-01-11 16:24] #5450 closed

[2020-01-11 20:31] brainkim commented on #5434
It’s broken again as I check today.

[2020-01-11 21:37] MarkoShiva opened #5459 "Can't post comments"
**Describe the bug**
Can't post any comments to dev.to community and cannot save posts to reading list or like them.
The UI show saved post but after I refresh the page its not saved.
The same error is on the android app.
When I try to post comment I get three dots.

**To Reproduce**
login open any post try to like it and save it to reading list.
refresh the page the likes are gone.
try posting a

[2020-01-12 07:38] osde8info opened #5461 "Editor guide: update documentation to reflect the newer editor settings"
using windows10 ff72

on page https://dev.to/new in "Editor Guide 🤓" it says "We have two editor versions. If you prefer Jekyll-style "frontmatter", switch to "v1" in /settings/misc."

there is no such option on the https://dev.to/settings/misc page or https://dev.to/settings/ux page

UNLESS

"basic markdown" means "jekyll"

[2020-01-12 07:40] osde8info opened #5462 "Editor: add a button to open the editor guide in a separate tab"
would like to be able to see "Editor Guide 🤓" content in separate window tab (instead of popup) so i can create content at same time as reading doc

[2020-01-12 07:57] osde8info commented on #5462
maybe a nice little link to https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet#code would be the answer :)

[2020-01-12 10:26] rhymes commented on #5461
Yep, we need to update the docs.

basic markdown is the jekyll style front matter, formerly v1
rich + markdown is the newer editor, formerly v2

you can find them in https://dev.to/settings/ux

[2020-01-12 10:28] rhymes commented on #5462
You can find the editor guide here: https://dev.to/p/editor_guide

Let me know if that's what you're looking for

[2020-01-12 11:48] luchiago opened #5464 "Not able to finish setup on gitpod"
**Describe the bug**
I'm not able to finish the setup on gitpod bc redis installation is missing or isn't running at all.

**To Reproduce**
Try to start a fresh workspace on gitpod with branch master in dev.to repository.

**Expected behavior**
It's expected that gitpod could finish the setup.

**Screenshots**
![image](https://user-images.githubusercontent.com/30028621/72218214-2f29a600-3517-11ea-

[2020-01-12 14:22] osde8info commented on #5462
brilliant thanks a button on the edit page with a link to https://dev.to/p/editor_guide would be perfect

[2020-01-12 17:46] rhymes commented on #5464
It looks like we're missing Redis in the GitPod's configuration. I found this on how to add it: https://www.gitpod.io/blog/gitpodify/#redis

[2020-01-12 17:46] maxime1992 opened #5468 "StackExchange removed question produces a bug"
**Describe the bug**

I tried to link a question which got removed in the meantime, and the following happened:

![image](https://user-images.githubusercontent.com/4950209/72223047-fa434080-3562-11ea-9ab2-4b2c0e411ee1.png)

**To Reproduce**

- Create a new article
- Paste the following in the content: `{% stackoverflow 59679915 %}`
- Click on the preview button

**Expected behavior**

Proper handl

[2020-01-12 19:44] osde8info opened #5470 "where can i see a list of all my liked articles ?"
or do i need to like AND add to reading list ?

the problem is ive liked about 100 articles and cant find them again

[2020-01-12 22:48] luchiago commented on #5464
@rhymes So, can I open the PR to fix?

[2020-01-13 02:45] phstc commented on #5305
👋 Was there any consideration about [AWS SQS](https://aws.amazon.com/sqs/) vs Sidekiq?

I'm not saying that because of [Shoryuken](https://github.com/phstc/shoryuken) because it could be with Lambdas (fully Serverless), [using SQS as an Event Source for Lambdas](https://aws.amazon.com/blogs/aws/aws-lambda-adds-amazon-simple-queue-service-to-supported-event-sources/).

[I understand that the Redis

[2020-01-13 06:24] citizen428 commented on #5464
@luchiago Yes, please open a PR, thank you 😃

[2020-01-13 06:50] citizen428 commented on #5384
Currently working on `a PR to remove unused env variables`.

[2020-01-13 07:34] gabrieleromanato commented on #5429
macOS Catalina 10.15.2
iMac (Retina 5K, 27-inch, Late 2015)
Google Chrome Version 79.0.3945.117

[2020-01-13 08:45] MarkoShiva commented on #5459
@benhalpern @jessleenyc  Can anyone review the issue? I can't use dev.to for a months.

[2020-01-13 09:08] leewynne opened #5475 "Allow "New Navigation SideBar Links" to be defined by a site config or /internal admin"
**Is your feature request related to a problem? Please describe.**

As a future admin of a generalised community i'd like the ability to add to the navigation sidebar links with additional community products such as books, movies etc.

**Describe the solution you'd like**

An addition to the Internal/Pages siteadmin view that allows for the creation of extra links in the navigation sidebar includi

[2020-01-13 09:16] leewynne opened #5476 "Allow "navigation icons on mobile" to be defined by a site config"
**Is your feature request related to a problem? Please describe.**

As a future admin of a generalised community, I would like the ability to change the default icons that when tapped show the navigation menu and the listings and quick links for article/tag creation.

**Describe the solution you'd like**

A SiteConfig implementation that allows me to specify a link to these images, at present they

[2020-01-13 09:29] leewynne opened #5477 "Consolidate all "pre auth logon logo images" into one svg value held in SiteConfig"
**Is your feature request related to a problem? Please describe.**

As a future admin of a generalised community I would like to ensure that I can set a value in SiteConfig for all community icons displayed during pre auth navigation and at the auth request.

**Describe the solution you'd like**

A value set for each experience in SiteConfig (similar to logo SVG and favicon). With some variants al

[2020-01-13 12:33] rhymes commented on #5470
Hi @osde8info, there's no list of liked articles presently

Could you adhere to the "feature request" template format in the future?

Thank you!

[2020-01-13 12:40] rhymes commented on #5305
Please don't forget to declare the files you're working on BEFORE starting to work on the PR otherwise people might end up working on the same set of jobs.

Thank you!

[2020-01-13 12:42] LenaCharles opened #5497 "Write a post in error show"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-01-13 12:42] rhymes commented on #5305
@phstc not really at the moment, as Sidekiq and Redis has good performance in themselves.

The needs for infinite scalability are not there yet, but as the website grows and our job queues grow with it we might consider scaling and distributing the queue even more in the future. Shoryuken is an interesting tool!

[2020-01-13 13:10] rhymes commented on #5497
Hi @LenaCharles, can you explain a bit more what happened?

[2020-01-13 14:03] serenaf commented on #5305
👋 I will tackle some more of the notification jobs :)
welcome_notification (Pr is here: https://github.com/thepracticaldev/dev.to/pull/5465)
milesstone_jobs

[2020-01-13 14:31] phstc commented on #5305
Hi @rhymes

It is also because of the Serverless nature as well. You don't need to maintain SQS.  But conversion from Sidekiq to Shoryuken is pretty much changing an `include` - in case it becomes an option in the future.

Another option is SQS as event Source for Lambdas, so fully Serverless.

I will be happy to give guidance if you guys are interested in these options in the future. DEV is aweso

[2020-01-13 15:12] abdellani commented on #5456
Hi,
I'm not having that problem in my google chrome under Ubuntu 18.04
[code]
![Screenshot from 2020-01-13 16-12-13](https://user-images.githubusercontent.com/16113997/72266912-8155ee80-361f-11ea-947d-4428c7ca21f4.png)

[2020-01-13 16:11] osde8info commented on #5470
sorry i clicked feature request in github but it lost it

incidentally github have this exact feature

https://github.com/osde8info?tab=stars

[2020-01-13 16:13] osde8info commented on #5470
thanks ive refound the link

https://github.com/thepracticaldev/dev.to/blob/master/.github/ISSUE_TEMPLATE/feature_request.md

i assumed clicking github feature request would insert it automatically

[2020-01-13 16:26] osde8info opened #5499 "using dev.to insert a link to a glitch dot file gives an error"
**Describe the bug**

using dev.to insert a link to a glitch dot file such as .prettierrc (file=.prettierrc) when i click PREVIEW i get the error

**To Reproduce**

insert a link to a .file on glitch

**Expected behavior**

no error

**Screenshots**

Heads up:

base:  Invalid Options

**Desktop (please complete the following information):**

- OS:          xubuntu 18
- Browser: ff 72
- Version:

*

[2020-01-13 18:52] osde8info commented on #5470
@rhymes i think i understand how templates work now

does this bug match the bug template ?

https://github.com/thepracticaldev/dev.to/issues/5499

[2020-01-13 19:52] mstruve opened #5500 "Create A Migration Like Tool for Running Data Update Scripts"
I have actually set something like this up before in the past when we had 5 different environments running that all needed to be updated. Basically the gist of it was a directory called `data_update_scripts` which was full of one time run scripts. Then on every deploy, we would check that directly to see if any scripts needed to be run. If a script needed to be run we would have a new file but no

[2020-01-13 21:21] rhymes commented on #5499
Hi @osde8info, thanks for the info, could you share the markdown you used?

I saw you linked a post but if you could share its source, or at least the part that triggers the error, it would be of help.

Thank you!

[2020-01-14 01:25] mstruve opened #5503 "Return a 429 Too Many Requests Error When Comment Creation Rate Limit Exceeded"
When a user exceeds the rate limit set for comment creation we raise a [RuntimeError](https://app.honeybadger.io/projects/66984/faults/59496497) which is not very helpful for those monitoring errors or the user creating the comments.
[code]

Instead of raising a generic RuntimeError we should be raising/returning a 429 Too Many Requests status. We can then ignore this error in Honeybadger and simp

[2020-01-14 01:26] VegaFromLyra commented on #5305
@mstruve  @rhymes I can pick up `Podcast Episodes` next but in code I see the following:

[code]

which is not in sync with the list above? `bust_cache_job` for this has already been migrated but I can pick up the above two

[2020-01-14 08:24] rhymes commented on #5305
Thanks for the catch @VegaFromLyra!

[2020-01-14 13:25] leewynne opened #5507 "Allow "onboarding images and text" to be defined by site config"
**Is your feature request related to a problem? Please describe.**

As a future side admin of a generalised community, I would like to customer the onboarding intro slides with a custom background image, logo and welcome text and custom questions.

**Describe the solution you'd like**

A SiteConfig array of on boarding labels / questions. A siteconfig settings for the background image and a site c

[2020-01-14 16:05] mstruve opened #5508 "Handle Reactions Without Users When Sending Notifications"
Honeybadger: https://app.honeybadger.io/fault/66984/bb6f187a11866cd6a2b3e8990dc3f238
[code]
We currently have 3 Sidekiq jobs that hit this error while trying to send reaction notifications. We do not delete reactions when users are removed so we need to be able to handle those during processing. [Here is where we are making the call to get the user data](https://github.com/thepracticaldev/dev.to/b

[2020-01-14 16:56] MarkoShiva commented on #5008
Ok my problem is not related to that as modding is related to communities. I personally can't post a single comment anywhere or add new posts to reading list or liking them.
However my old likes and old reading list stays.

I have described issue here #5459 but no one is responded yet. I sent an email to yo@dev.to but ther eis no answer. In the meanwhile people are still following me and I can log

[2020-01-14 17:11] CodeMouse92 commented on #5008
@MarkoShiva Sorry you're having that experience, but leaving an off-topic comment on another issue like this won't speed this along. Your other issue was only posted three days ago. Unfortunately, you have to give it time. There's a LOT on Ben and Jess's plates.

[2020-01-14 17:18] johncurcio commented on #5470
There's an open request to implement this feature at #1806, so I think this issue can be closed. As of now, adding to your reading list is the only way to save the article.

[2020-01-14 17:22] rhymes commented on #5470
Thank you @johncurcio for digging it out, I'm closing this in favor of https://github.com/thepracticaldev/dev.to/issues/1806

[2020-01-14 17:22] #5470 closed

[2020-01-14 17:23] #3154 closed

[2020-01-14 17:41] jessleenyc commented on #5459
Hey, it looks like you're experiencing an individual account issue. If you haven't already, please email yo@dev.to for support and we will handle it from there.

[2020-01-14 17:41] #5459 closed

[2020-01-14 17:42] jessleenyc commented on #5008
Hey @MarkoShiva, I believe this is an individual account issue - our support team will follow up with you separately via email.

[2020-01-14 17:52] MarkoShiva commented on #5008
Thanks @jessleenyc should I write them again on yo@dev.to I saw that email on bens contact information so I sent a email to DEV Community <yo@dev.to>
I hope someone will answer as I have that same problem already over 2 months.

It would be nice if you guys would setup some service for support issues as right now in the same repo with all development issues they don't get noticed. Either add an ot

[2020-01-14 18:23] #3153 closed

[2020-01-14 19:38] mstruve opened #5511 "Allow Comments Without a Commentable to be Edited and Destroyed"
Honeybadger: https://app.honeybadger.io/fault/66984/7ab3e6451868d27d1c907d27a97726e9
[code]

When an article gets destroyed we do not destroy its comments. We believe that comments belong to the individual that wrote them and that they might want to share them in the future regardless of the Article. However, there are a few places in our code where we don't handle the missing commentable(for exam

[2020-01-14 20:05] johncurcio commented on #1806
How would this feature work best?

- **Like twitter**: your :heart: and :unicorn: are on your profile and anyone can see them; (_I personally like this_)
- **Kind of like twitter**: your :heart: and :unicorn: are on your dashboard and only you can see them;
- **Completely different**: :heart: and :unicorn: as tabs in the reading list and only you can see them.

And should liked comments be include

[2020-01-14 20:48] benhalpern commented on #5477
I think establishing configs of `primary_sticker_image_url`, `secondary_sticker_image_url` (because we sometimes use rainbow and sometimes use purple as alternatives in different areas. I think that's a decent pattern for other communities.

And then we can add `mascot_image_url`. This means each community needs its own mascot.

And then we need a dedicated `tagline` which can replace "We're a pla

[2020-01-14 21:11] aaronpowell opened #5516 "Badly formed social media cards"
After a recent update to my website the RSS import doesn't parse my code blocks properly and results in a `Liquid syntax error`. This is an easy fix for me by just editing the markdown and correcting the code blocks, but I noticed another side effect, the Twitter social media cards are appearing with the `Liquid syntax error` still:

![image](https://user-images.githubusercontent.com/434140/723827

[2020-01-14 22:48] MarkoShiva commented on #5459
Thanks it's solved.

[2020-01-15 00:09] diN0bot opened #5519 "Video upload broken: uploader doesn't check the size"
**Describe the bug**

After uploading a video, it does not finish transcoding (a week later) and shows an error (code 232404):

<img width="881" alt="Screen Shot 2020-01-14 at 15 56 06" src="https://user-images.githubusercontent.com/21395/72393125-d1e44f00-36e6-11ea-9928-08550a5838a5.png">
<img width="881" alt="Screen Shot 2020-01-14 at 15 55 56" src="https://user-images.githubusercontent.com/2139

[2020-01-15 04:49] citizen428 commented on #5503
This has been taken care of in #5504

[2020-01-15 04:49] #5503 closed

[2020-01-15 05:00] citizen428 opened #5520 "Make RateLimitChecker configurable"
Based on a [comment](https://github.com/thepracticaldev/dev.to/pull/5504#discussion_r366442986) by @rhymes in #5504:

**Is your feature request related to a problem? Please describe.**

`RateLimitChecker` currently hard-codes the different rate limits, which makes it less flexible than it could and probably should be.

**Describe the solution you'd like**

Store configuration options for `RateLimi

[2020-01-15 10:03] maleta commented on #4335
Same happening for mine article.

[2020-01-15 10:51] rhymes commented on #5520
We could also build a global RateLimitChecker global object in an initializer that's built on boot using values in `SiteConfig`.

I'm proposing this because it might make sense to require a restart to change rate limits, maybe or maybe not.

Anyway I'm +1 on moving them to `SiteConfig` and we can always complicate things later if we need to

[2020-01-15 11:33] ludwiczakpawel commented on #5295
I've noticed similar thing after onboarding steps after signup process on `/welcome` page:

![image](https://user-images.githubusercontent.com/108287/72430586-0e6d8480-3793-11ea-906f-58a819107771.png)

I'm not a developer so don't trust me on that but it looks to me like some issue with serviceworkers and loading footer (`shell_bottom`)..

[2020-01-15 12:08] rpostulart commented on #4335
Any progress on this? Will it be settled later or will we miss these counts?

[2020-01-15 13:39] Zhao-Andy commented on #5516
Hey @aaronpowell, sorry about that issue! Looks like the description didn't update itself properly. I've updated manually for now.

Using the Twitter card validator, it looks like it works properly now: https://cards-dev.twitter.com/validator

Not sure if Twitter clears the caches of old cards though, so the Azure tweet's description might linger.

As for the bug itself, I think we'll want to make

[2020-01-15 13:43] abdellani commented on #5508
Hi @mstruve
I will work on it :)

[2020-01-15 14:14] m0rozov commented on #5511
Hi @mstruve! How can I repeat this error locally?

[2020-01-15 15:02] benhalpern opened #5526 "Rich Wikipedia liquid tag"
It would be great if we could take a wikipedia page (or section of a page) and render it as a liquid tag that expands the content for display within a post, similar to how we do with GitHub repos etc.

https://stackoverflow.com/questions/7185288/how-to-get-wikipedia-content-using-wikipedias-api

Liquid tag docs: https://docs.dev.to/frontend/liquid-tags/

[2020-01-15 15:14] maleta commented on #4335
I think the counter stopped counting after I updated the article.

[2020-01-15 15:45] #2250 closed

[2020-01-15 16:13] mstruve commented on #5508
@abdellani Thank you!!!!

[2020-01-15 16:17] mstruve commented on #5511
- Create an article
- Add a comment to it
- Copy the comment Permalink
- Delete the article
- visit the comment permalink
- Hit edit

[2020-01-15 17:03] citizen428 commented on #5520
Ok, let me clarify: when i say "model", I don't necessarily mean Rails model, but domain model. Unfortunately we pretty much overloaded every single term in our profession at this point, but what I had in mind was close to what you're suggestion here.

[2020-01-15 17:35] VegaFromLyra opened #5530 "Git commit fails because of rubocop errors in unstaged files"
**Describe the bug**

I set up the project recently following the clear and concise instructions [here](https://docs.dev.to/installation/docker/). But once I was ready to commit changes for my first PR, I ran into this message:

[code]

I figured I had some linting errors with the staged changes so I ran the following based on the error message above:

[code]

But that ran rubocop on seemingly all

[2020-01-15 17:57] rhymes commented on #5530
Doesn't `git add -A` add files to the staged area?

[2020-01-15 18:42] thomasbnt opened #5531 "Overflow in scroll on informations profiles"
**Describe the bug**

Informations on profile has a scroll X and Y.

![image](https://user-images.githubusercontent.com/14293805/72461154-adfc3880-37ce-11ea-8be1-bb370a6a54e9.png)

**To Reproduce**

See a profile.

**Desktop (please complete the following information):**

- OS: Arch Linux
- Browser: Chrome
- Version: Version 78.0.3904.108 (Official Build) (64 bits)

Link to commit who was edited o

[2020-01-15 19:06] majakomel commented on #5445
I'll work on this one 🙋🏼‍♀️

[2020-01-15 20:12] maestromac commented on #5464
Resolved with https://github.com/thepracticaldev/dev.to/pull/5528

[2020-01-15 20:12] #5464 closed

[2020-01-15 20:47] luchiago commented on #1393
Hi, is this issue still need help?

[2020-01-15 21:37] #5461 closed

[2020-01-15 21:50] thomasbnt commented on #5531
PR merged!

[2020-01-15 21:50] #5531 closed

[2020-01-16 01:10] VegaFromLyra commented on #5530
Yep it does, what I was trying to convey is that the rubocop pre-commit hook seemingly fails regardless of which files have been staged and displays offenses in unrelated spec files.

(Also updated the error message, realized I missed a part of the snippet)

[2020-01-16 09:23] ludwiczakpawel commented on #5431
There are couple issues we should think about. One is the fact that we have multiple themes right now (three of them could be considered as _light_  and two of them as _dark_ ). We could just add a toggle in profile dropdown to quickly switch between each of them.

![image](https://user-images.githubusercontent.com/108287/72508901-ca3bbc00-3846-11ea-9348-e6cc4ff798f5.png)

But what if at some poin

[2020-01-16 09:34] ludwiczakpawel commented on #4879
Company name in the profile is actually a link and links are styled using that:

Similarly, under your profile summary there is bunch of icons using the same color.
I'm not sure what the ideal solution is... As long as we want to keep the theming functionality we shouldn't really overwrite these colors. The simplest solution for your problem (yet not the fix) is to update your background color...

[2020-01-16 12:35] rhymes commented on #5445
@majakomel since this one is a major issue I think it warrants a discussion before you dive into the PR.

Sorry if we haven't made it clear before.

How would you approach this? Unfortunately some parts of our code are tied to having either twitter or github as authentication sources

[2020-01-16 12:38] rhymes commented on #1393
@luchiago if you want we can test it together: you need to leave a comment and I can reply to it with an image. You have to have email notifications enabled first of course. Let me know if you're willing to do this experiment. We can use one of my articles or yours so not to disturb others

[2020-01-16 13:03] rhymes commented on #5530
Mmm interesting

[2020-01-16 13:40] osde8info opened #5542 "devto write a post image upload popup is broken"
**Describe the bug**

click image upload icon choose a HEAD and a BODY image only the HEAD image appears in blog post see https://dev.to/osde8info/a-devto-test-post-to-test-image-upload-bug-3l0h

**To Reproduce**

click image upload icon choose a HEAD and a BODY image only the HEAD image appears in blog post see https://dev.to/osde8info/a-devto-test-post-to-test-image-upload-bug-3l0h

**Expected b

[2020-01-16 13:46] osde8info commented on #5453
yes please too

[2020-01-16 13:54] rhymes commented on #5542
Hi @osde8info, I'm not sure I understood what's the bug, could you perhaps record how to trigger this?

I use [LICECap](https://www.cockos.com/licecap/) to record the screen as a gif when I submit PRs but it's Windows and macOS only but I'm sure there are equivalents for xubuntu or Linux in general.

Thank you!

[2020-01-16 14:28] sebastiantf commented on #5431
Great suggestion @ludwiczakpawel.

Can't we still show the theme switcher menu like the one shown in your first image if the user is on any of the custom themes?

So there could be two things to implement:
1. If the user is on the default/official theme, show only the **`Toggle dark/light mode option`** (2nd image)
2. If the user is on any of the custom themes, show only the custom theme switcher

[2020-01-16 15:00] bunufi commented on #5305
I could take next in line: Notifications -> new_comment_job.rb

[2020-01-16 15:37] osde8info opened #5545 "Comments page: nested comments are shown in a random order"
**Describe the bug**

nested comments are shown in a random order

**To Reproduce**

create a post
add comments to comments to comments

example
https://dev.to/osde8info/will-desktop-side-rendering-dsr-be-the-next-big-thing-for-static-websites-39fp

**Expected behavior**

comments even when nested should always be shown in DATE order

**Screenshots**

nested comments are shown in a random order

*

[2020-01-16 15:59] rhymes commented on #5545
Hi @osde8info, the order is supposed to be by score, not random.

I think I've isolated a possible culprit:

https://github.com/thepracticaldev/dev.to/blob/c7de0d762b38aba5ebe547d9697b770cebb60b5b/app/views/comments/index.html.erb#L89-L106

`Comment.tree_for` orders by `score DESC`:

https://github.com/thepracticaldev/dev.to/blob/c7de0d762b38aba5ebe547d9697b770cebb60b5b/app/models/comment.rb#L109-

[2020-01-16 18:44] twinsfan421 commented on #5511
@mstruve this one is related to issue #5170 and PR #5199  Allow Comments From Deleted Articles To Be Viewed.  You will also have the same problem if you try to delete a comment without a commentable. The error will happen in the destroy action of the comments_controller when you set the `@commentable_path = @comment.commentable.path` instance variable.  You could redirect to home if there is no co

[2020-01-16 19:26] ludwiczakpawel commented on #5431
@sebastiantf yea, I think that could work although we should check if it's worth the effort. In other words: is custom theme switcher used often enough to a) sacrifice such a prominent area in UI and b) actually spend time implementing that...

But overall, that's definitely interesting one :)

[2020-01-16 19:29] sebastiantf commented on #5431
As mentioned before, I did find myself reading DEV between day and night and switching between the themes often for better reading experience.

It would be good to know the views of other users in this issue and then make a decision.

[2020-01-16 20:13] nombrekeff opened #5546 "When clicking on link on mail, profile nav menu is not clickable and it has no image."
**Description**
When I click on the **dev.to** link on the new followers mail, the profile navigation menu in not interactable, and does not contain an image. It has also happened to me a couple of times in the past.

**Steps to reproduce**
1. Click on the **dev.to** link on the new followers mail:

<img width="678" alt="Captura de pantalla 2020-01-16 a las 21 03 57" src="https://user-images.githu

[2020-01-16 20:25] mstruve commented on #5511
Well this is embarrassing, that PR (#5199)  should have been merged ages ago! Going to look at it myself and re-request a review from @rhymes.

Yeah, I would suspect destroy is likely broken as well. I only saw a Honeybadger for the edit path being broken which is what spurred the creation of this issue.

[2020-01-16 20:30] luchiago commented on #5305
@rhymes @mstruve Can I take those?
### Reactions
* create_job.rb
* update_reactable_job.rb

[2020-01-16 20:51] maestromac commented on #5530
Thanks for the descriptive issue @VegaFromLyra . Which lint exactly did the pre-commit hook catch? I assumed it has to be RSpec related based on your code block.

For example, here I purposely duplicated a example spec
![Screen Shot 2020-01-16 at 3 49 21 PM](https://user-images.githubusercontent.com/15793250/72561837-0afff900-3878-11ea-8a82-66e16b1302fc.png)

[2020-01-16 21:52] maestromac commented on #5546
Hello @nombrekeff . If this happens again, can you please share us your browser console's logs?

[2020-01-16 22:17] nombrekeff commented on #5546
Yup, here it is, it happens each time I click the link, i can easily replicate it if you need to
 <img width="1440" alt="Captura de pantalla 2020-01-16 a las 23 15 40" src="https://user-images.githubusercontent.com/17043260/72567465-3b668800-38b6-11ea-926e-8bfabf1cff1b.png">

[2020-01-17 00:51] abdellani commented on #5508
Hi,
I know that I'm moving too slow. Sorry about that, I'm still exploring the project.

Here is a summary of what I understood.
* When a user reacts to a reactable ( Comment or Article),  ReactionsController searches then destroys or creates a reaction that has the following attributes:
  * user_id
  * reactable_id
  * reactable_type
  * category
* After that, it sends a notification using `Notif

[2020-01-17 10:05] yashwanth2804 commented on #4700
Graphql going to help api requesters to save bandwidth, So hoping it will be implented soon

[2020-01-17 10:53] rhymes opened #5558 "Travis configuration: stop the build if Ruby or JS tests fail"
**Is your feature request related to a problem? Please describe.**

Our Travis builds always go through the end when Ruby RSpec tests fail, wasting seconds (up to a minute if we include JS tests) for the feedback cycle

**Describe the solution you'd like**

Exit the build if the JS tests fail, without building storybook and everything else after the JS step.

**Describe alternatives you've conside

[2020-01-17 14:42] luchiago commented on #5526
Hi, can I work on this?

[2020-01-17 15:29] lightalloy commented on #5508
I believe it is to avoid including the user's own reactions to a notification (so you are right).

[2020-01-17 17:24] sivaraam commented on #5456
It looks like this is fixed now!

[2020-01-17 18:18] Kerooker commented on #1856
As of today, I'll stop to roll at Dev feed until this issue is fixed

It's only javascript.
It doesn't matter how much I ignore ALL the tags in the posts, they're still the first post I see. And the second. And the third. And the fourth. And the fifth. And the sixth. And the seventh. And the eighth. And the ninth. And the tenth.

How many posts fit per page? All of them are Javascript, and I can't

[2020-01-17 18:39] xanderyzwich opened #5566 "RSS fetch should pickup tags"
**Is your feature request related to a problem? Please describe.**

I have tags defined in the source blog and would like them to come into the draft from rss retrieval.

**Describe the solution you'd like**

see above

**Describe alternatives you've considered**

currently I'm manually copying them from my personal blog before posting to dev.to

**Additional context**

[2020-01-17 19:55] mstruve commented on #5511
And sure enough we hit the destroy error: https://app.honeybadger.io/fault/66984/09f8a3a5a3a4295ed3c16fc5abccbc62

[2020-01-17 20:48] pavelloz commented on #1856
@Kerooker  Universe is trying to pull you into JS :-)

[2020-01-18 00:46] osde8info commented on #5542
MY SCREEN IS TOO SMALL ONLY 700 PIXELS HIGH

your widget displays cut and paste code BELOW my screen so i cant see it and cant cut and paste it

https://dev.to/osde8info/another-cool-leaflet-map-example-7fo

PLEASE turn this into a feature req for "support for 700 px high screens" if you dont think think is a bug

[2020-01-18 00:46] osde8info commented on #5542
alternatively a feature req to auto insert image code instead of requiring cut and paste

[2020-01-18 01:53] luchiago commented on #5305
@rhymes @mstruve Requesting those:
### Reactions
* bust_homepage_cache_job.rb
* bust_reactable_cache_job.rb

[2020-01-18 04:23] VegaFromLyra commented on #5530
Sigh, my bad y'all - since I was using the docker version for everything except the pre-commit hooks, I did not have ruby 2.6.5 installed locally so rubocop was failing because of that (I resolved this so don't have the exact error message, and also I missed adding this info to the snippet above since I didn't think that was the cause the first time around).

After installing said version and bund

[2020-01-18 04:23] #5530 closed

[2020-01-18 08:27] #5318 closed

[2020-01-18 09:45] rhymes commented on #2250
@gajus @yashwanth2804 can you verify it's working? Thanks again for the patience!

[2020-01-18 09:45] gajus commented on #2250
Working. Thank you

[2020-01-18 10:16] rhymes commented on #5456
Tried with Chrome 79 and Microsoft Edge 79 and they both work. @abdellani, I'm going to close this now.

[2020-01-18 10:16] #5456 closed

[2020-01-18 10:17] rhymes commented on #5566
Hi @xanderyzwich, could you provide additional info? How are tags defined in your RSS? Can you point us to your RSS feed?

[2020-01-18 10:48] rhymes commented on #5519
@benhalpern if the size is the issue, we should probably validate the size of the video so that users will get an error when they try to upload a video that's too large

[2020-01-18 10:58] rhymes commented on #5542
It's not about what I think eheh, it's about understanding what's the issue, could you at least provide a screenshot of the bug you're encountering?

[2020-01-18 11:08] yashwanth2804 commented on #2250
great thanks

[2020-01-18 13:13] osde8info commented on #5542
i think there are a few bugs and feature requests in one here

* sometimes the cut and paste button doesnt even appear on the screen win10+ff72
* sometimes the done button doesnt appear on the screen if screen height < 700
* would be nice if it just pasted the image code for you instead of you having to CTRL-V it

i will try and create screenshots for all 3 of these asap

[2020-01-18 15:04] xanderyzwich commented on #5566
Tags are an element just below title. You can view here: https://coreydmccarty.dev/feed/feed.xml

[2020-01-18 16:05] osde8info opened #5571 "wierd ui to upload images in comments and it then throws them away"
**Describe the bug**

wierd UI for upload image in a comment and nothing happens
**To Reproduce**

create a comment
click add image
get a wierd url with dots around it
save
nothing happens

**Expected behavior**

image should be saved in comment

**Screenshots**

https://res.cloudinary.com/osde8info/image/upload/v1579363486/Screenshot_2020-01-18_JetBrains_Mono_A_free_and_open_source_typeface_for_d

[2020-01-18 16:25] rhymes commented on #4105
@CAD97 I have a "side question": now that Microsoft Edge 79 (based on Chromium) is officially released, do you think it's still worth pursuing fixes on EdgeHTML? Do you know if Edge Windows gets automatically updated?

[2020-01-18 16:27] rhymes commented on #5571
Hi @osde8info, this is not strictly a bug, the comments editor requires markdown, when up load an image you will get the URL of such image that you then have to copy and paste in the editor using the markdown tags for inline images (see "inline images" in the editor guide):

So for example, if I wanted to inline your screenshot up here I would do this:

[code]

which results in:

![comment editor]

[2020-01-18 16:27] #5571 closed

[2020-01-18 16:44] CAD97 commented on #4105
@rhymes Edge is treated like a Microsoft Store app IIRC and gets updates through it, rather than through Windows Update. Either way, Edge will, eventually, update on all user machines.

I remember seeing [articles](https://redmondmag.com/articles/2018/12/10/edgehtml-continues.aspx) that indicate that while Edge is moving away from EdgeHTML/Chakra, those still will power UWP and PWAs installed from

[2020-01-18 19:36] renatamarques97 commented on #5429
@gabrieleromanato I have the same settings as you, and I still can't reproduce the error.

[2020-01-18 20:18] MangaRed opened #5573 "I can't comment not even make a post"
When I try to comment in a post in the dev tools the url to comment https://dev.to/comments responds with a status of 404 and also when i click on write a post button it shows Oooops... you have encountered an error.

My browser is chrome 79 and windows 10

[2020-01-19 00:33] benhalpern opened #5577 "Add bundle size check"
We should use this tool or something similar:

https://github.com/siddharthkp/bundlesize

The purpose is to get a heads up about the growth in certain files so we don't add unnecessary burden to our core files like vendor.js.

It will help us know when we might want to lean on dynamic import.

https://dev.to/ben/we-reduced-our-vendorjs-from-210kb-to-16kb-in-about-five-minutes-of-work-and-ten-lines

[2020-01-19 04:08] Nikla436 opened #5580 "Ability to view all articles active user has 'hearted'"
**Is your feature request related to a problem? Please describe.**
No, not related to a bug.

**Describe the solution you'd like**
I often will 'heart' things I enjoyed and may want to look back on later, and would like a way to view all things I've reacted to. (hearted, unicorn, etc).

Often I'll remove things from my reading list when finished, but would like a way to get back to what I've enjoy

[2020-01-19 11:33] rhymes commented on #838
I believe we should keep this open. With everything we're learning now, through #4744 and #5543 we'll eventually use [fastly](https://rubygems.org/gems/fastly) and [fastly-rails](https://rubygems.org/gems/fastly-rails) more effectively, instead of manually calling endpoints with `HTTParty`

[2020-01-19 11:35] rhymes commented on #838
Adding these resources about Fastly here, they might help who wants to tackle this:

- [Getting started with surrogate keys](https://docs.fastly.com/en/guides/getting-started-with-surrogate-keys)
- [Purging API cache with surrogate keys](https://docs.fastly.com/en/guides/purging-api-cache-with-surrogate-keys)
- [Checking cache](https://docs.fastly.com/en/guides/checking-cache)
- [Understanding cac

[2020-01-19 11:52] rhymes commented on #5580
Thanks @Nikla436 for taking the time to open this.

I'm going to close it as a duplicate of this https://github.com/thepracticaldev/dev.to/issues/1806 - it'd be awesome if you'd add the description you added here there as well.

[2020-01-19 11:52] #5580 closed

[2020-01-19 15:40] rhymes opened #5585 "Issue HTTP calls in CacheBuster concurrently"
**Is your feature request related to a problem? Please describe.**

`CacheBuster` is one of the classes we use the most in our workflow but all of its HTTP calls are done sequentially.

For example, `bust_comment` sends around 34 HTTP calls to the upstream server - see https://github.com/thepracticaldev/dev.to/pull/4744#issuecomment-553860604 - when called.

HTTP calls that have no dependency from

[2020-01-19 16:01] rhymes commented on #5566
@xanderyzwich thanks for the info!

According to https://tools.ietf.org/html/rfc4287#page-11 `<tags>` is not an Atom element, which probably is the reason why the parser is ignoring it.

You can see that your feed contains non standard elements from the W3C validator: https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fcoreydmccarty.dev%2Ffeed%2Ffeed.xml

IIRC RSS 2.0 and Atom have the `<cat

[2020-01-19 16:04] rhymes commented on #4105
@CAD97 thanks for the info! I think we've more or less de-prioritized issues related to Edge HTML because of Edge Chromium coming out.

I'm going to ping @benhalpern about this

[2020-01-19 17:29] serenaf commented on #5305
I can take the next two of the Notifications ones
- notifiable_action_job.rb
- tag_adjustment_notification_job.rb

[2020-01-19 20:46] Nikla436 commented on #1806
Describe the solution you'd like
I often will 'heart' things I enjoyed and may want to look back on later, and would like a way to view all things I've reacted to. (hearted, unicorn, etc).

Often I'll remove things from my reading list when finished, but would like a way to get back to what I've enjoyed before.

Ex: Reddit will allow you to view your history, upvotes, downvotes, etc. That would be

[2020-01-20 02:51] renanbona commented on #5453
I would like to take this issue. Can you give me more information about where do you want this end point? Would it be a new controller? Or just add a new action to an existing controller?

[2020-01-20 04:45] citizen428 commented on #5585
I think overall this is a good idea, but I'm always a bit suspicious when someone wants to use threads in a Rails app, even if they don't share data. That's why I generally go for [concurrent-ruby](https://github.com/ruby-concurrency/concurrent-ruby) in cases like this. It offers many different patterns, is thread safe and receives more scrutiny and testing than anything we'd roll ourselves.

[2020-01-20 05:02] citizen428 commented on #5585
In the meantime, a potential quick win could be to switch `CacheBuster` form HTTParty to [http.rb](https://github.com/httprb/http) (IMHO a nicer alternative) and use it's `persistent` method so we at least don't repeatedly establish the HTTP connection:

[code]

[2020-01-20 09:26] rafaltrojanowski commented on #3305
`instead of visit each profile and uncheck following feature.`

I'm also missing this feature

[2020-01-20 11:21] rhymes commented on #5453
Hi @renanbona, stricly speaking this issues hasn't been approved yet.

We'll discuss it internally and get back to you ASAP.

In the meantime if you want you can to contribute on already approved issues, [those labeled "help wanted"](https://github.com/thepracticaldev/dev.to/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22) for example.

Thank you!

[2020-01-20 11:37] rhymes commented on #5585
Yeah, using`Thread.new` manually wasn't in my plans anyway :D

Agreed also on switching to a library that uses HTTP pipelining.

I don't think it's urgent but it's something to think about. Hopefully we can decrease the number of HTTP calls also, now that we're slowly reviewing our Fastly caching structure

[2020-01-20 13:02] benhalpern commented on #1856
We're now starting a cycle with this as one of our top priorities.

[2020-01-20 16:45] mstruve opened #5608 "Don't Raise Standard Error for Invalid Liquid Tags"
There are two more places where we are raising a generic Standard Error if a liquid tag is invalid. We should update this flow so that those errors are only shown to the user and don't bubble up and break the page.
[code]

Honeybadger: https://app.honeybadger.io/fault/66984/6b348042b61c88825e56b6362a3ae2f7
Related PR that Fixed YouTube Tags: https://github.com/thepracticaldev/dev.to/pull/5485

[2020-01-20 17:13] mywifiext22 opened #5609 "Netgear Extender Setup"

[2020-01-20 19:43] #5468 closed

[2020-01-20 20:04] #5609 closed

[2020-01-20 21:40] maestromac commented on #5530
All good @VegaFromLyra 😃

[2020-01-20 21:54] mstruve opened #5616 "Integrate Elasticsearch With DEV Searching"
As many of you know, DEV currently uses Algolia for search. While this has been fantastic to get DEV off the ground, we are hitting our limitations with our ability to customize it. For this reason, we have decided to replace Algolia with [Elasticsearch](https://www.elastic.co/products/elasticsearch). This will allow us to have more control over our search and deliver a much more comprehensive sea

[2020-01-20 23:00] abdellani commented on #5508
Hi @mstruve
I was able to trigger the same error by following these steps:
1- Create one account using Github
2- Create a post using that account
3- Delete the account using `User.last.delete`
4- The post is showing in `top/week`
5- When I click  on save without logging in, I get the following exception
[code]
5- Log in from another account (I created a new account using the same github account)
6

[2020-01-20 23:23] #5036 closed

[2020-01-21 03:44] ackava opened #5622 "Blocking user in mobile Chrome does not work"
I was trying to block a user whose posts appear in non English and it flooded my feed. I am on iPhone 6s, iOS 13.3, using Chrome.

I opened three dots besides profile of the user and I clicked “Block @user”, nothing happens. I tried three four times.

[2020-01-21 03:59] citizen428 commented on #5608
This could make a good first issue for a new contributor. If you want to take this please let me know and request my review on the PR.

[2020-01-21 06:42] crimson-med opened #5623 "Stuck on Publishing even after post published"
**Description**

I created a new post,  hit publish, and it was stuck on `Publishing...` evven after it had actually created the post.

**Screenshots**

<img width="1262" alt="Screenshot 2020-01-21 at 2 38 23 PM" src="https://user-images.githubusercontent.com/28290546/72781357-082c4c00-3c5c-11ea-94a2-8f62b5211fb6.png">

<img width="966" alt="Screenshot 2020-01-21 at 2 41 28 PM" src="https://user-i

[2020-01-21 10:40] rhymes commented on #5623
Hi @crimson-med, thanks for the report! have you noticed any errors in the JavaScript console?

[2020-01-21 11:09] crimson-med commented on #5623
@rhymes yes something about r not being defined.
Is it maybe because I have other dev.to tabs open?
<img width="1264" alt="Screenshot 2020-01-21 at 7 08 32 PM" src="https://user-images.githubusercontent.com/28290546/72800131-95ce6280-3c81-11ea-8ce1-e188b3fbba31.png">

[2020-01-21 11:29] rhymes commented on #5623
Mmm do you have any extensions that might be related? As far as I know we don't have a `backend.js` file in our code base and I use the same browser as you without issue, so it might be a bug on our end or it might not be.

If you blick on the file name, where do the dev tools take you?

[2020-01-21 12:53] lightalloy commented on #4795
I worked for a while on this issue and created a related pr #5624
@anthonyms you made a valid point that not all deleted by `DeleteActivity`. I ended up writing a more general test for `Users::Delete` to achieve a similar goal. The task overall turned out more challenging than I initially thought, I described steps that I need to take to write it and related issues in the attached pr.

[2020-01-21 14:32] rhymes commented on #5573
Hello @MangaRed, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-01-21 14:32] #5573 closed

[2020-01-21 14:37] rhymes commented on #1486
As we don't have airbrake anymore, I think we can close this

[2020-01-21 14:37] #1486 closed

[2020-01-21 15:35] rhymes commented on #5497
Closing this as the user hasn't provided any info!

[2020-01-21 15:35] #5497 closed

[2020-01-21 15:48] rhymes commented on #5350
Hi @jeikabu, sorry for the delay in the answer, if I understood correctly solving #1855 would solve this as well, so I'm going to close this in favor of the other and copy over your comment.

Thanks for the patience!

[2020-01-21 15:48] #5350 closed

[2020-01-21 15:48] rhymes commented on #1855
@jeikabu in #5350 added this comment:

[2020-01-21 15:53] rhymes commented on #5313
I'm going to close this as you eventually submit two PR after opening this: https://github.com/thepracticaldev/dev.to/pulls?q=is%3Apr+author%3Aswiknaba+is%3Aclosed

[2020-01-21 15:53] #5313 closed

[2020-01-21 15:59] rhymes commented on #5245
Hi @Cry0nicS, sorry for the delay, I'm sorry I've missed the reply for all this time.

Have you found a solution? Is still happening?

[2020-01-21 16:05] rhymes commented on #4614
Hi @xarielx, are you still experiencing this?

[2020-01-21 16:10] rhymes commented on #3970
Hi @simov, sorry we haven't replied to this sooner. The article endpoint doesn't return view counts for public and that's by design, though you can get your own articles's page views by using the https://docs.dev.to/api/#operation/getUserArticles endpoint, with:

[code]

[2020-01-21 16:10] #3970 closed

[2020-01-21 16:14] rhymes commented on #5542
Hi @osde8info, let me know if you can provide the screenshots.

ps. the third poing is a feature request, that's probably out of the scope of this issue

[2020-01-21 16:43] mstruve opened #5626 "Return 404 NotFound Error If ClassifiedListing is Not Found During Delete"
We recently ran into this error when a user tried to delete a classified listing that apparently was not in our database. Rather than trying to validate nil we should rails an `ActiveRecord::NotFound` error instead.
[code]

Honeybadger: https://app.honeybadger.io/fault/66984/b75eb6aca94657e7a1f48dcf5b6dce21

[2020-01-21 18:53] luchiago commented on #1393
@rhymes I would like to do this test. Sorry for taking so long to answer.

[2020-01-21 19:10] vaidehijoshi opened #5629 "Multiple users editing a draft causes inconsistency"
**Describe the bug**
While trying to write and edit my [intro post](https://dev.to/vaidehijoshi/hello-dev-3jm9) on DEV, @jessleenyc
and I ran into some weird issues trying to modify at the same time.

I edited my post, and sent Jess the link. She opened up the post in the editor. I went back to modify my post again, and the contents while in "edit" mode were different than the contents in the "pre

[2020-01-21 19:30] vaidehijoshi opened #5630 "Cannot remove a `cover_image` from a post"
**Describe the bug**

When editing a post, a user is able to upload an image and use the URL provided by the image uploader to add a cover image (by including `cover_image` in the post's front matter. However, if the user decides that they don't want that cover image anymore and wishes to remove it, removing the `cover_image` option from the front matter does not remove the cover image from the po

[2020-01-21 23:40] nickytonline commented on #4243
I think I'll go ahead and do this before the webpack upgrade as the webpack upgrade is more involved.

[2020-01-21 23:44] textita opened #5636 "is our website a joke?"
I tried your website months ago and again today

I cant post a dam thing.......

either as a twiter user or githib

your website is too buggy

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
-

[2020-01-21 23:44] textita commented on #5636
[disposable phone numbers](http://textita.com)

[2020-01-22 03:48] #5623 closed

[2020-01-22 06:41] Defman21 commented on #5226
Reproduced here again https://dev.to/devteam/the-dev-stackbit-integration-is-in-the-running-for-a-product-hunt-golden-kitty-award-23ge

[2020-01-22 07:05] osde8info opened #5640 "please add follow back buttons to https://dev.to/dashboard/user_followers"
**Is your feature request related to a problem? Please describe.**

please add follow back buttons to https://dev.to/dashboard/user_followers

**Describe the solution you'd like**

please add follow back buttons to https://dev.to/dashboard/user_followers

**Describe alternatives you've considered**

none

**Additional context**

please add follow back buttons to https://dev.to/dashboard/user_follo

[2020-01-22 07:34] rhymes commented on #1393
Replied with this https://dev.to/rhymes/comment/khga

[2020-01-22 08:15] rhymes commented on #5636
Hello @textita, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-01-22 08:15] #5636 closed

[2020-01-22 08:21] rhymes commented on #5640
Hi @osde8info, thanks for the feature request!

I'm going to close this as a duplicate of https://github.com/thepracticaldev/dev.to/issues/3169 which has a related PR in https://github.com/thepracticaldev/dev.to/pull/3294 but was eventually abandoned.

Anyway, the feature request is sound.

Thank you!

[2020-01-22 08:21] #5640 closed

[2020-01-22 09:12] abenettt opened #5641 "Suggested articles: allow direct access to author profile from article preview"
**Is your feature request related to a problem? Please describe.**
When showing suggested articles in the more articles preview, allow the user to go to the articles author directly via their name without having to open the article first.

**Describe the solution you'd like**
One could probably make the article author into a link that leads to their profile page.

**Describe alternatives you've co

[2020-01-22 09:48] citizen428 commented on #5520
Closed via https://github.com/thepracticaldev/dev.to/pull/5521

[2020-01-22 09:48] #5520 closed

[2020-01-22 10:50] rodolphonetto opened #5644 "Create a not english tag"
**Is your feature request related to a problem? Please describe.**

It is not a real problem but sometimes I would like to search articles on pt-br to se what people from my country are writting about.

**Describe the solution you'd like**

When writting a post it would have a combo-box or something to specify what language I'm writting (if I dont chosse it assumes en-us) So then it is filterble o

[2020-01-22 11:13] rhymes commented on #5644
Hi @rodolphonetto, thanks a lot for this feature request!

I am closing yours in favor of https://github.com/thepracticaldev/dev.to/issues/4168 - let me know if I am mistaken and you're indeed proposing something different.

[2020-01-22 11:13] #5644 closed

[2020-01-22 12:08] arximughal commented on #1038
I was gonna post the same thing. So, I'll just +1 this :) Pretty great feature since we get loads of long comments under posts and they are very informative. The ability to have those comments bookmarked for future reference would be great.

[2020-01-22 12:45] majakomel commented on #5445
ah, my bad @rhymes, I underestimated scope of this one. since I'm not that familiar with the code I'll stick with good first issues for now. sorry!

[2020-01-22 12:46] majakomel commented on #5608
I'd like to work on this @citizen428

[2020-01-22 13:13] luchiago commented on #1393
We do still have a problem. I'll work on that @rhymes

![image](https://user-images.githubusercontent.com/30028621/72896991-afae8a80-3cff-11ea-8bb3-b9db69f6db8d.png)

[2020-01-22 13:18] rhymes commented on #1393
Thank you!

[2020-01-22 13:20] rhymes commented on #3795
Closing this because I'm quite sure Gitpod has been working for months since this one was opened

[2020-01-22 13:20] #3795 closed

[2020-01-22 14:46] joshpuetz opened #5647 "Love/Heart button hidden in landscape on iPad in native app"
Using the native iPad OS dev.to app, the love/heart action button is hidden by the header bar in landscape orientation. This isn't a problem in portrait orientation as the action buttons move to the bottom of the screen in that layout.

![image](https://user-images.githubusercontent.com/37842/72903901-a9b2ac80-3cf3-11ea-8a4c-4cb09190eb09.jpg)

[2020-01-22 15:34] vcapretz commented on #5622
I just tested on web (Google Chrome) and it's also not working, I tried understanding the problem so maybe I could send a PR and checking the console I see this error:

![Screenshot 2020-01-22 at 16 32 40](https://user-images.githubusercontent.com/14620121/72907895-ff5b7900-3d34-11ea-8bb8-b37065f14248.png)

So maybe the pack is not being loaded at all, what can be the causes of it?

[2020-01-22 15:52] deepu105 opened #5648 "Liquid tags generated as Iframe in StackBit posts are broken"
**Describe the bug**

The Iframe content from Dev liquid tags contains Header and footer in the StackBit posts. See below from https://royal-lime-c9165.netlify.com/

It seems like the problem happens only on Chrome in non incognito mode, so I disable all the extensions to see if that was an issue but that didn't help

**To Reproduce**

Not quite sure as it seems to be only in Chrome when you are n

[2020-01-22 16:35] maestromac commented on #5226
Thanks for pointing that out @Defman21

[2020-01-22 17:50] vaidehijoshi commented on #5630
I'm investigating this! It appears to be a JS issue, since we definitely don't appear to be serializing the `cover_image` property in the front matter if it doesn't exist on the backend.

[2020-01-22 17:53] jjant opened #5652 "Add a "View Source" button for Posts"
**Describe the solution you'd like**

When learning the formatting used in dev.to, it'd be really useful to be able to go to posts one likes and click a "View Source" button to understand how you can write articles that look like that.

**Describe alternatives you've considered**

I think alternatives to this is just documentation, which there is available, this feature would complement it more th

[2020-01-22 17:58] adamkdean opened #5653 "Ability to regenerate a post slug from new title"
(Feature request)

Quite simply, when you create a post, the slug is set to the title plus four characters. But if you update the title, the old slug remains. It'd be great to be able to regenerate this.

It'd be even better if the old one remained, and then did a 301 or 302 to the new slug, but it'd be fine to say "hey, if you change this, old links will break with a [YES I KNOW] button etc".

Ju

[2020-01-22 18:07] #5626 closed

[2020-01-22 19:19] mstruve opened #5656 "Updating A Reaction That is Not Yours Should Result in an Unauthorized Error"
If a user tries to update a reaction that is not theirs that should result in an Unauthorized http status code 401. Instead, we currently raise a Runtime error with no information.
[code]
 In the application controller, we have a not_authorized method which would probably be ideal to use here. Also make sure to add a spec for it!
[code]

Honeybadger: https://app.honeybadger.io/fault/66984/f528c817

[2020-01-22 21:25] sunny-b commented on #5656
I can take this one

[2020-01-22 22:34] vaidehijoshi opened #5657 "Following a tag should update user sidebar stats"
**Describe the bug**

After following a tag, the number of "followed" tags statistic on the user's sidebar does not update accordingly.

**To Reproduce**

1. Check how many tags you follow on your profile.
2. Go follow another tag.
3. Check your profile again, looking at the sidebar; the number won't have updated.

**Expected behavior**

I'd expect the "followed tags" count to increment.

**Screen

[2020-01-22 23:28] maestromac commented on #5526
go ahead @luchiago !

[2020-01-22 23:47] maestromac commented on #5558
We could do something like `yarn test --colors || travis_terminate 1` but CodeClimate report would be incomplete and I'm uncertain how to log and store that exit code to be used the moment before the storybook command.

[2020-01-23 01:28] sunny-b commented on #5657
I'm curious if it has to do with the fact that the `@user.decorate.cached_followed_tags` uses `updated_at` instead of `updated_at.rfc3339`

https://github.com/thepracticaldev/dev.to/blob/master/app/decorators/user_decorator.rb#L24

Every other `fetch` query that uses `updated_at` uses `updated_at.rfc3339`

Example: https://github.com/thepracticaldev/dev.to/blob/7c650dcb1c20efeebf209e2afd094b4c3474

[2020-01-23 01:47] sunny-b commented on #5657
Actually, nevermind, I was able to reproduce this same stale cache behavior with comments as well. So it's not isolated to tag caching.

I think the issue is probably with this line:

https://github.com/sunny-b/dev.to/blob/d638f029e091b92eab0c3567350a25f9d59fed0b/app/views/users/_sidebar.html.erb#L47

That line caches the entire sidebar

[2020-01-23 04:35] citizen428 commented on #5608
Great @majakomel, thanks for this! Please add me as reviewer to your PR. If you feel like you need help along the way, just open the PR and prefix the title with `[WIP]`, then ping me from a comment 😃

[2020-01-23 05:45] RaiSaugat opened #5661 "search feature in followers / following section"
I wanted to search for the user in following page. Now I'm hitting **CTRL + F** for the search. This gets the work done but a dedicated search might be useful and handy.
The search can be normal search that filter out the results and shows the final result. 👍

[2020-01-23 06:14] citizen428 commented on #5656
Thank you @sunny-b! 🎉 If you need any help, feel free to open a PR with a "[WIP]" prefix in the title and ping @mstruve or me in a comment.

[2020-01-23 06:45] rpostulart commented on #4335
Yes I have noticed the same now. As soon as you have published the article and then later updates a spelling mistake or so, then counter stops working

[2020-01-23 09:20] Andrewjack9203 opened #5663 "Yahoo Phone Number To Market Online Store with Yahoo Merchant"
Bring buyers to your site with Yahoo merchant. The Yahoo professionals are there to help you with Yahoo merchant in creating a professional-looking email that matches your store design and add a coupon for your recipients. Seek help by connecting with [Yahoo Phone Number](https://www.att-customerservice.com/yahoo-customer-support-number/) over the phone. They will guide you through overall feature

[2020-01-23 09:20] Andrewjack9203 opened #5664 "Yahoo Phone Number Can Guide You in Using Yahoo Messenger"
Are you are looking for a chat client? Yahoo messenger is the best choice. But you first need to create a yahoo Account. So, call [Yahoo Phone Number](https://www.mailcustomer-service.com/) to create Yahoo Account or solve problems if you are having while creating yahoo Account. The professionals provide easy instructions and guidelines to make use of many cool features of Yahoo messenger such as

[2020-01-23 09:21] Andrewjack9203 opened #5665 "Contact Yahoo Phone Number from Anywhere around the Globe"
A person having Yahoo email account can avail amazing facilities. Nonetheless to say, Yahoo users face problems too. It can be during creating Account, loading and sending of mails, attaching files in emails and so on.  All thanks to [Yahoo Phone Number](https://yahoo-contact.net/) where experts are available all the time to sort out such problems of users in a time-saving way.

[2020-01-23 09:41] #5663 closed

[2020-01-23 09:41] #5664 closed

[2020-01-23 09:41] #5665 closed

[2020-01-23 10:39] rotansharma1 opened #5667 "My dev.to account is not working ?"
![image](https://user-images.githubusercontent.com/52821650/72977006-9427aa80-3df9-11ea-9e2c-d28ef9d1be41.png)

[2020-01-23 11:18] rhymes commented on #5667
Hello @rotansharma1, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-01-23 11:18] #5667 closed

[2020-01-23 12:20] nombrekeff commented on #243
This would be a really nice feature to have!

[2020-01-23 13:40] #3611 closed

[2020-01-23 14:46] rhymes commented on #3611
@CodeSpent FYI now this should be fixed, thanks for the patience!

[2020-01-23 15:57] tamb opened #5670 "please remove infinite scroll"
I'm super frustrated when I try to access the footer of the site or see a manageable amount of articles on the homepage.  Infinite scroll keeps pushing the footer down and the throwing in new articles that make scrolling back to the top much longer.

**Describe the solution you'd like**

I would love to see pagination or "see 5 more" added to the app.  I would even be fine with horizontal scrollin

[2020-01-23 16:01] rhymes commented on #5670
Hi @tamb, thanks for your issue, can you elaborate a little bit by filling the body of the request? What prompted you to request the removal of infinite scroll?
What alternative solution would you like? Any alternatives to such solution?

[2020-01-23 17:04] CodeMouse92 opened #5672 "Add special #listing(s) tag for promotional posts"
**Is your feature request related to a problem? Please describe.**

Listings are, necessarily, quite short. However, many users of the DEV platform seem to feel they need more space to describe their product, service, or software, and this makes sense.

As a result, a number of users will publish promotional-focused DEV which, aside from violating the Terms of Use, also come across as "spam" to ma

[2020-01-23 18:25] atsmith813 commented on #5305
I'll take `rss_reader_fetch_user_job.rb` 🙋‍♂️

[2020-01-23 18:36] sivaraam opened #5674 "Link unfolding links to incorrect destination in private chat"
**Describe the bug**
I recently tied to link to the following page in a private chat:

https://dev.to/thepracticaldev/welcome-thread-v44-3n39/comments

The link was unfolded in the rendered message and tapping on the link preview opens the following page:

https://dev.to/thepracticaldev/welcome-thread-v44-3n39

which is the blog page for the original comments page.

**To Reproduce**
1. Get a link

[2020-01-23 18:38] rhymes commented on #5305
Submit a PR - https://github.com/thepracticaldev/dev.to/pull/5673 - to improve tags caching/purging, so you might want to hold on working on `Tags::BustCacheJob` until that's merged

[2020-01-23 19:09] sunny-b commented on #5656
@citizen428 @mstruve Not sure if you want to test my PR merge in prod first. Otherwise, this issue can probably be closed.

[2020-01-23 20:04] maestromac commented on #5566
Sorry for the late response here. Yep exactly what @rhymes  said, we use the categories element for the tags. It would be a good idea to replace `<tags>` with `<categories>` because it's better supported on other platforms as well.

[2020-01-23 20:06] maestromac commented on #4723
@TheJaredWilcurt can you share with us your browser console's output?

[2020-01-23 20:10] xanderyzwich commented on #5566
@maestromac & @rhymes I'm completely open to using `<categories>` instead of `<tags>` the main part of my request was to get dev.to to pickup my tags from rss however that needs to look.

[2020-01-23 20:14] maestromac commented on #1520
@luchiago what would you like to accomplish? You could control seed db users via rails consoler to make. Commands like
[code]
should get you started with notifications. Be sure you have the background jobs running too `bin/rails jobs:work`

[2020-01-23 20:16] maestromac commented on #5656
Build has been deployed. Resolved with https://github.com/thepracticaldev/dev.to/pull/5658

[2020-01-23 20:16] #5656 closed

[2020-01-23 20:44] maestromac commented on #5566
Forgive me for not being clear @xanderyzwich , Dev.to does pick up tags from RSS feed but it only picks it up from the `<categories>` field. Once you make the switch, please let us know if the app is properly parsings the tags.

[2020-01-23 21:01] luchiago commented on #1520
@maestromac Yeah it's something like that I was searching for to reproduce the bug. Thank you.

[2020-01-23 21:13] luchiago commented on #5305
Requesting those:
## Notification
* moderation_notification_job.rb
* remove_all_by_action_job.rb
* update_job.rb

[2020-01-23 21:32] CalvinAllen opened #5680 "Error with Syntax Highlighting with XML markup mixed with Ruby"
I normally utilize the RSS import from my blog into dev.to, but I ran into this problem there, so I tried the v2 editor - and it still exists.  I'm not certain if I'm doing something wrong in the markup, given the code block, but I cannot get it to work at all

**To Reproduce**

Create a new post using the v1 or v2 editor, and utilize syntax highlighting on a mixture of Ruby/Liquid tags, and XML c

[2020-01-23 22:07] deepu105 opened #5682 "The speaker deck widget cuts off content at the horizontal edges"
**Describe the bug**

The speaker deck widget using the liquid tag renders the widget with the horizontal edges cut off. See image or see [this post](https://dev.to/deepu105/visualizing-memory-management-in-jvm-java-kotlin-scala-groovy-clojure-19le)

** Actual on Dev.to**
![image](https://user-images.githubusercontent.com/1107223/73027899-a4a94680-3e34-11ea-816d-3816e8cf7b73.png)

This could be an

[2020-01-23 22:08] vaidehijoshi commented on #5630
Woops, this got closed because i used "fixes" in my commit message. Reopening because there is still another issue (on the Rails side) that @rhymes pointed out to me [here](https://github.com/thepracticaldev/dev.to/pull/5660#pullrequestreview-347173956). I've already started investigating that, and will PR it separately.

[2020-01-23 22:53] maestromac commented on #5429
@gabrieleromanato can you please provide us the link to that article you were trying to print?

[2020-01-23 22:57] sunny-b commented on #5325
I can work on this one. I already have a working solution, just need to figure out the specs

[2020-01-24 00:18] atsmith813 commented on #5305
I'll take `export_content_job.rb` 🙋‍♂️

[2020-01-24 00:41] vaidehijoshi commented on #5630
Sigh...looks like the same issue occurs with `canonical_url` as well 😞

I have [a PR to fix this issue](https://github.com/thepracticaldev/dev.to/pull/5687), and if folks are cool with my approach there, I can fix the same issue for canonical url. I just don't want to fix it yet in case others want to solve this a different way! :)

[2020-01-24 05:34] SahilPanchal opened #5691 "I was getting error"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-01-24 08:11] saurabh-codeword opened #5692 "articles in the reading list should be available offline"
**Is your feature request related to a problem? Please describe.**
I'm doing a lot of travelling on sloppy and no internet connection, and it would be great If I can read my dev.to's saved articles offline. This can make the overall experience of dev.to much better

**Describe the solution you'd like**
- articles can be cached by service worker at the time of saving later,
- offline page can be mo

[2020-01-24 09:17] madzadev opened #5693 "Add the ability to search and include images from unsplash.com in the image uploader"
**Is your feature request related to a problem? Please describe.**

Currently the image upload modal offers upload just from users workstation. It would be nice if there was an option to browse outside sources right from it, as manually including an outside URL right in the post currently requires an outside search, copying and pasting a link,  adding  and formatting credit by user itself (if user

[2020-01-24 09:53] leewynne opened #5695 "YouTube Subscriptions / Channels in SideBar (Identical to Podcasts)"
**Is your feature request related to a problem? Please describe.**

Like Podcasts. YouTube is a critical learning platform for any community member. It was so critical to my journey and I am sure everyone else was the same. I would love to see curated YouTube subsriptions that are high quality and essential viewing when joining a new community.

**Describe the solution you'd like**

I feel the bes

[2020-01-24 09:53] Ernalottie opened #5696 "Request to activate my account"
Recently my profile on Dev moved into the spam. Even though I didn't spam they moved my profile into spam, what should I do for getting back my account.

[2020-01-24 11:05] madarsbiss commented on #5692
Just use Pocket for that. It does just that and even more - it allows you to access saved articles in offline mode, allowing to save them from any other site too and furthermore sync all your saved stuff across all your devices.

[2020-01-24 12:47] rhymes commented on #5680
Interesting, it must be a bug in the RSS reader, because it works correctly both in the editor v1 and v2:

**v1**

![Screenshot_2020-01-24 New Post - DEV(local) Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/73070210-0fe42e80-3eb0-11ea-8f35-293a744d5912.png)
![Screenshot_2020-01-24 New Post - DEV(local) Community 👩‍💻👨‍💻(1)](https://user-images.githubusercontent.com/146201/73070

[2020-01-24 13:04] rhymes commented on #5325
@sunny-b yes, thank you! I'm going to assign you this issue :)

[2020-01-24 13:42] lightalloy commented on #4795
Though the tests for exactly `Users::DeleteActivity` were not written the goal was achieved by writing a more high-level test in #5624, so I'm closing this one.

[2020-01-24 13:42] #4795 closed

[2020-01-24 13:47] lightalloy opened #5701 "Homepage sidebar for "Shecoded 2020" campaign"
- create a homepage sidebar that displays a list of latest posts from #SheCoded, #TheyCoded, or #SheCodedAlly
- add a functionality to be able to turn it on and off through `/internal`

RELATED DESIGN TASKS:
- [Phase 1 Sidebar (no articles)](https://github.com/thepracticaldev/dev.to/issues/6155)
- [Phase 2 Sidebar (with articles)](https://github.com/thepracticaldev/dev.to/issues/6157)

[2020-01-24 13:50] CalvinAllen commented on #5680
@rhymes That's so weird!  My original issue stemmed from the v1/RSS import, but the screenshots above are when I tried to recreate the issue in the v2 editor (new post instead of import).  Now I'm even further confused :)

[2020-01-24 13:56] lightalloy opened #5702 "Campaign concept and settings for "Shecoded""
We need to create a campaign concept in the app. First, we'll use it for Shecoded and later for the other campaigns.
The campaign should have its own settings in `/internal` and be related to concepts like full-screen (#5703 ) and sidebar (#5701)

[2020-01-24 14:00] lightalloy opened #5703 "A full-screen display above the feed for "Shecoded 2020""
- create a full-screen display
- if a user closes the full-screen display, it will not show them the display again
- add functionality to be able to turn it on and off from `/internal`
Keep in mind generalization for future campaigns.

RELATED DESIGN TASK: https://github.com/thepracticaldev/dev.to/issues/6158

[2020-01-24 14:07] rhymes commented on #5691
Hi @SahilPanchal, can you elaborate? What kind of error? What were you trying to do?

[2020-01-24 14:16] CalvinAllen commented on #5680
Now I'm starting to wonder if this is, in fact, an issue with Edge....  Doing some more testing

[2020-01-24 14:17] lightalloy opened #5704 "SheCoded landing page"
**Goal:**
Create new design for `dev.to/shecoded`.

**Design assets**
- [Figma URL](https://www.figma.com/file/Lyh8FDHvb7TX1RHbK6aOaB/Campaigns?node-id=341%3A2471)
- [UX Assets (Dropbox)](https://www.dropbox.com/sh/rsnf5yirgb0vde5/AAB8zERUGJHuGfCaz231bDaHa?dl=0)

**Engineering Details**
- Possibly generalize for future campaigns and add functionality to toggle the design.

[2020-01-24 14:21] rhymes commented on #5696
Hello @Ernalottie, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-01-24 14:21] #5696 closed

[2020-01-24 14:56] CalvinAllen commented on #5680
I FINALLY figured it out (thanks to your help @rhymes).  In the text prior to the first code block, I had a rogue backtick, which was throwing off the rest of the document (but didn't seem to cause any issues inline where it existed).

I think this ticket can be closed, entirely my fault it seems :)

[2020-01-24 15:11] rhymes commented on #5680
Thank you for getting to the bottom of this! Glad you figured it out!

[2020-01-24 15:11] #5680 closed

[2020-01-24 17:58] #5170 closed

[2020-01-24 19:44] madzadev opened #5712 "Wireframing proposal for the videos page"
**Is your feature request related to a problem? Please describe.**

Dev.to has a separate video page dev.to/videos.  It needs some more structure and layout, so I decided to do some wireframing on initial ideas to improve the particular section of site.

**Describe the solution you'd like**

**1.Dashboard**
This would be the landing page of the video section. The main section would be dedicated fo

[2020-01-24 21:51] mstruve opened #5717 "Handle Pundit::AuthorizationNotPerformedError From Comments Create Action"
Honeybadger: https://app.honeybadger.io/fault/66984/9508988843fe9435805fbb822bbe8242
At some point in the comment create action we are not properly authorizing anything and I think then when we run the `after_action :verify_authorized` we end up with this error.
[code]

I am not sure what path leads to this scenario but if someone could take this issue, figure out the path that causes it and then

[2020-01-24 22:21] maestromac commented on #5712
Wow, thank you for all these wireframes and suggestions @madarsbiss ! I'm not sure how actionable it is at the moment but we appreciate the proposal.

[2020-01-24 22:27] pioardi opened #5719 "Complete Purchase button needs debounce"
**Describe the bug**
Purchase credits | When you insert your credit card info and then click twice the button "Complete Purchase" you are purchase twice .

**To Reproduce**
1. Go to create/manage listings
2. Go to buy credits
3. Insert your amount and your card info
4. Click Complete Purchase two times quickly.

**Expected behavior**
The second click should not have effect

**Desktop (please compl

[2020-01-24 22:42] atsmith813 commented on #5305
I'll take `dispatch_event_job.rb` 🙋‍♂️

[2020-01-25 04:33] kristijuili opened #5725 "we request that my account is accessed"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-01-25 05:35] sunny-b commented on #5717
I can take a stab at this one.

[2020-01-25 10:18] leewynne opened #5726 "Stripe. New users cannot add new credit card (on first attempt)."
![5AF20E7D-8D21-4DF0-90F3-EA8FDF6C801E](https://user-images.githubusercontent.com/12694270/73120589-32d21980-3f68-11ea-8145-a0c204782f13.jpeg)

**Describe the bug**

As a new user. If you go to your settings and billing, then attempt to add a new card, you get a 404 error. If you got back and try again, eventually you receive the Stripe checkout pop up.

**To Reproduce**

Ensure you are a new user

[2020-01-25 18:09] techmahedy opened #5727 "I can not write content."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-01-25 18:12] dabrady commented on #5630
FYI this issue seems to apply to the "V2" editor as well, so I presume they use the same underlying mechanism for working with cover images:

![Jan-25-2020 18-10-29](https://user-images.githubusercontent.com/2475919/73125376-0507c780-3f9e-11ea-80e6-6fbcb9177119.gif)

[2020-01-26 20:28] rhymes commented on #5727
Hello @techmahedy, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-01-26 20:28] #5727 closed

[2020-01-26 20:29] rhymes commented on #5691
This looks an issue specific to your account.

Please email yo@dev.to for more help.

Thank you again :)

[2020-01-26 20:29] #5691 closed

[2020-01-27 03:10] IntegerMan opened #5738 "Moderation Does Not Support Dark Theme"
Using the dark theme (non black/green, the older dark theme), if I go in to Moderation, I get a very hard to read user experience.

This makes it hard to be an efficient moderator as there are no true other themes beyond the dark themes.

**To Reproduce**

1. Set your theme to the black and teal
1. Be awesome
1. Become a Tag Moderator
1. Go to Moderation in Edge or Chrome on Windows 10

**Expected

[2020-01-27 07:15] ludwiczakpawel commented on #5712
Oh wow, this is great, indeed! Some of these ideas are really good ones and worth incorporating, for example:
- generally revamping /videos page
- having more personalized "feed" on /videos instead of just "the latest" is a no-brainer to me
- "courses" section is definitely neat idea, especially for less experienced devs trying to learn new things from video tutorials.
- and obviously rethinking t

[2020-01-27 08:32] citizen428 commented on #3601
I'll have a look at this one.

[2020-01-27 08:44] citizen428 commented on #3601
`user.chat_channel_memberships.delete_all ` is already called from [app/services/users/delete_activity.rb:11](https://github.com/thepracticaldev/dev.to/blob/071ec03a3cb9963b38afd84926396ba835e3a55e/app/services/users/delete_activity.rb#L11), so that part is taken care of.

[2020-01-27 08:45] JuanitoFatas opened #5739 "Code snippet rendering issue related to underscore"
Hey dev 👋

Reporting a bug.

**Describe the bug**

There is `\` present in rendered code block.

**To Reproduce**

Have this code snippet in your post

[code]

**Expected behavior**

As GitHub renders above. Without seeing `\` in rendered code block.

**Screenshots**

<img width="516" alt="スクリーンショット 2020-01-27 17 37 20" src="https://user-images.githubusercontent.com/1000669/73160364-21396f00-412c-

[2020-01-27 08:54] madarsbiss commented on #5712
Thanks @maestromac and @ludwiczakpawel ! Dev.to is such an awesome resource with best community out there, so i figured out i was kinda cheating by using it and not giving back to improve it, hahah xdd

Its not a secret many of us prefer learning by watching videos rather than reading, so hopefully you will find a good use of the initial ideas :)

[2020-01-27 09:22] Ernalottie commented on #5696
I contact them through mail but I didn't reply from them, what should I do now? I got mail from dev.to like one of your article is related to this beritaini.net website.

But actually my content is 100% unique and also I didn't take information from them, Just because we both related to Casino and they informed its related to their website. This is totally injustice. If they do manual check, They

[2020-01-27 10:10] abenettt opened #5740 "Yarn 2 breaks application"
**Describe the bug**
Yarn 2 was released recently and the project appears to be incompatible with it.
I think we should either fix the version to yarn 1 (now legacy) or upgrade to yarn 2

**To Reproduce**
* Clone `dev.to` repository
* Run `yarn version` with yarn 2 or
* Run `yarn install` with yarn 2

**Expected behavior**
Yarn to work

**Desktop (please complete the following information):**

- O

[2020-01-27 10:31] abenettt opened #5741 "Footer in `shecoded` rendered twice"
**Describe the bug**
The footer in the `shecoded` page is being rendered twice

**To Reproduce**

* Go to https://dev.to/shecoded
* Scroll down to the bottom
* Look at footer

**Expected behavior**
Only one footer to be rendered

**Screenshots**
![image](https://user-images.githubusercontent.com/7523903/73167448-2aa8e400-40f8-11ea-95f3-3073f8c6a019.png)

**Desktop (please complete the following in

[2020-01-27 10:52] rhymes commented on #5740
Hi @abenettt, thanks for the info!

According to the [installation guide](https://yarnpkg.com/getting-started/install) `npm install yarn` still installs Yarn 1, so on that side we're okay:

[code]

We might want to go over the documentation and the various parts where we mention Yarn and specify `Yarn 1`.

As [Yarn 2 is largely incompatible](https://yarnpkg.com/advanced/migration) with Yarn 1 and

[2020-01-27 13:06] rhymes commented on #5608
Closed by https://github.com/thepracticaldev/dev.to/pull/5694

[2020-01-27 13:06] #5608 closed

[2020-01-27 14:50] joshpuetz opened #5761 "GIF search in comment composer/editor"
**Is your feature request related to a problem? Please describe.**
Right now adding GIFs to a comment is a bit clunky: find a gif and upload it to dev.to, or paste in a link to a gif. Gifs are fun and a great way to communicate feelings, but the current comment composer makes it a chore to add them to a comment.

**Describe the solution you'd like**

Platforms like Twitter give users the ability t

[2020-01-27 15:36] AleksandrHovhannisyan opened #5763 "New Changes clear link is too close to Save Changes and doesn't pick up on Ctrl+Z."
**Describe the bug**

There are two related issues:

1. The `New Changes (clear)` text is too close to the `Save Changes` button, and is also too small on desktop.

2. If you undo changes with Ctrl+Z, the draft still thinks there are unsaved changes.

![image](https://user-images.githubusercontent.com/19352442/73188018-414b3d00-40f0-11ea-8101-5bbd65a584c1.png)

**To Reproduce**

1. Create a post.

[2020-01-27 16:03] yashwanth2804 opened #5766 "Disable authencation to get user's followers"
do we really need authentication to see followers of some other user's . while in  twitter also we can see user's followers even without following.

[code]

[2020-01-27 16:12] #5766 closed

[2020-01-27 16:18] abenettt commented on #5740
I can do that, sure.

[2020-01-27 18:31] #4672 closed

[2020-01-27 18:39] VegaFromLyra commented on #5305
I can take these two next:

[code]

[2020-01-27 18:51] mstruve commented on #5305
@VegaFromLyra the Users::FollowJob has a new worker, it just hasnt been removed yet. Someone likely took it without letting us know but we marked it off after their first PR.

[2020-01-27 19:35] #5717 closed

[2020-01-27 21:17] jessleenyc opened #5775 "Offline page persisting on an article link"
**Describe the bug**
1) I searched for 'dev.to stop donating your customer data to google' in google search.
2) When I clicked on the first result, this article: https://dev.to/goatandsheep/stop-donating-your-customers-data-to-google-analytics-191
3) I was hit with the offline page.

I was only able to see the article if I did a hard refresh on Chrome. When the article appeared, if I hit the regul

[2020-01-27 22:23] maestromac commented on #5163
Sorry for the late response @kasuken but are you still experiencing this issue?

[2020-01-28 03:31] nickytonline commented on #2507
The only other main thing I can think about in the frontend for documentation would be our usage of service workers. I will add this once I've done some of the service worker stuff I've been tasked with. After that, this is probably good to close.

[2020-01-28 08:25] bhanuone commented on #5775
Followed the steps mentioned above. Not facing the same issue. @jessleenyc

[2020-01-28 09:40] rhymes commented on #5775
I get the offline page even just by clicking on the link. I use Firefox 73:

![Screenshot_2020-01-28 Looks like you've lost your Internet connection](https://user-images.githubusercontent.com/146201/73252141-8cca1d80-41ba-11ea-9583-c4d3646eb385.png)

hard refresh then shows me the article

[2020-01-28 10:07] bhanuone commented on #5741
I observed this weird behaviour of showing two footers at the bottom. If I visit `https://dev.to/shecoded?signin=true`, I see no footer at all.

[2020-01-28 17:47] nickytonline commented on #382
Just dropping playwright into the discussion here even though it's early days for playwright, https://github.com/microsoft/playwright/

[2020-01-28 18:23] mstruve opened #5790 "Return 404 NotFound error if ChatChannelMembership is not found"
In our chat_channel_memberships_controller.rb are look for a membership and then attempt to authorize it. In the event that the membership is missing we end up with the following error.
Honeybadger: https://app.honeybadger.io/fault/66984/aa161bc85a5f59b582b7949c2a14d83c
Error:
[code]

Rather than raising `Pundit::NotDefinedError` here we should be returning a 404, not_found status. ApplicationCont

[2020-01-28 18:28] mstruve opened #5791 "Return 404 NotFound error if @moderatable Is Not Found"
In the event that an article can't be found, we should exit this action early and return a 404 not found error rather than trying and failing to continue to load necessary models.
Honeybadger: https://app.honeybadger.io/fault/66984/184d0d115e69e18889765fd6ffd15d6a
Error:
[code]

ApplicationController has a handy `not_found` method that you can use to do this. I think you will want to implement a s

[2020-01-28 18:46] mstruve opened #5792 "Avoid Raising NoMethodError in chat_channels with other_user is not Present"
There are times when a ChatChannel is opened via the controller that a `other_user` for that chat channel is not present. This causes the below error to be raised when we try to index that chat channel membership and attempt to fetch the `channel_image`
Honeybadger: https://app.honeybadger.io/fault/66984/f79138e2afe22c7a949dc283ec6beec8
Error:
[code]

I don't think we should ever be initializing t

[2020-01-28 20:34] mstruve opened #5793 "Return "followed" result if Followable already Exists Instead of Raising a Validation Error"
In the follows controller when we try to create a follow, sometimes the validation fails bc it already exists. This is a pretty common occurrence and likely due to hitting the button twice or some front end race condition.
Honeybadger: https://app.honeybadger.io/fault/66984/b9e5567612f10d6a9413da94444f6458
Error:
[code]

I believe, in the event that a follow already exists, we should exit early an

[2020-01-28 20:39] mstruve opened #5795 "Return a 404 response If @event is Not Found"
In the events controller we lookup the requested event. However, since we are using `find_by` if the event is not found we simply try to load the view with a nil `@event` which leads to the error below
[code]
Honeybadger: https://app.honeybadger.io/fault/66984/b5b494606dbf78f0e09c009ea5e1e627
Error:
[code]

In the event that an `@event` is not found we should return a `not_found` status. Applicati

[2020-01-28 21:29] Zeko369 commented on #5795
Hey, I'd like to work on this.

[2020-01-28 21:40] mstruve commented on #5795
Sounds great! Thank you!!!

[2020-01-29 04:16] citizen428 commented on #5384
@rhymes and @benhalpern From what I see, we're really only missing `a PR with some documentation on how to manage the site configuration` at this point, correct? I'll add it sometime this week.

[2020-01-29 08:02] Defman21 commented on #5670
FYI, the footer is duplicated on the left sidebar

![image](https://user-images.githubusercontent.com/7100645/73338043-c2d4d380-4286-11ea-9c10-a51949cf6e56.png)

[2020-01-29 09:38] majakomel commented on #5790
I'll work on this 🙋🏼‍♀️

[2020-01-29 12:43] manish-appdeveloper opened #5807 "Bug Report in Dev.to"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-01-29 13:53] mstruve opened #5808 "Prevent Invalid canonical_url's or feed_source_urls from Breaking Article Show Page"
When an Article has an invalid canonical_url and we try to load the Article show page we end up breaking the page trying to parse the invalid URL.
Honeybadger: https://app.honeybadger.io/fault/66984/677f8c91c2875be2a735b7cb64e8e5ab
Error:
[code]

To Reproduce:
* Create an article and save an invalid canonical_url on it.
* update the article and set all of these values so the partial that fails ren

[2020-01-29 14:28] #5807 closed

[2020-01-29 14:32] mstruve opened #5810 "Remove HardCoded AWS Image URLs and Download Images into /assets"
Throughout our codebase, we have a lot of hardcoded AWS image urls. [Here is an example](https://github.com/thepracticaldev/dev.to/pull/5799/files) of a few of them. There are even more examples sprinkled all over the views.

Rather than updating the AWS bucket name everywhere which will break for many people's local integrations we should download these images and add them to the `/assets/images`

[2020-01-29 18:42] rpostulart commented on #4335
Any updates?

[2020-01-29 18:54] gonzar11 commented on #5793
Hey @mstruve , I'd like to work with this issue.

[2020-01-29 18:56] AlexLakatos opened #5813 "The image can not be displayed because it contains errors."
Cloudinary is having issues with one of the GIFs in my latest blog post - https://dev.to/nexmo/how-to-send-and-receive-sms-messages-with-node-js-and-azure-functions-310i

This is the original GIF that renders just fine in the browser on it's own: https://www.nexmo.com/wp-content/uploads/2020/01/create-azure-function.gif

But when I added to a blog post and it gets passed through Cloudinary, I get

[2020-01-30 02:41] seb1441 commented on #5810
I will do it.

[2020-01-30 03:23] citizen428 commented on #5810
Thank you @seb1441, you're on a roll 👍

[2020-01-30 03:34] citizen428 commented on #5813
Thanks for the report @AlexLakatos !

You hit the Cloudinary size limit. Inspecting the response headers reveals a better error message:

[code]

I'm afraid this means you'll have to find a way to make this animated GIF smaller, nothing we can do about this on our end.

[2020-01-30 03:34] #5813 closed

[2020-01-30 10:23] rhymes commented on #5810
@seb1441 a small suggestion: it's better to have multiple PRs than one huge one, if you find yourself working on too many files :)

[2020-01-30 14:03] seb1441 commented on #5810
@rhymes I will have around 30 files (mainly views) to update for this PR, but it's mostly one line changes. Would you recommend me to split that into multiple PRs like 10 files each?

Another question, is it the right way to take issues to just write "I will do it"? 😆
As you probably noticed, it's my first time working on an open source project.

[2020-01-30 14:21] rhymes commented on #5810
@seb1441 I think 30 is fine, thank you! Declaring your intentions is also fine, this way we can assign the issue to you so nobody will attempt to solve the same problem.

Thank you a lot for your contributions and.. welcome to open source I guess :-D

[2020-01-30 17:25] Amorpheuz commented on #5429
https://dev.to/macmacky/70-javascript-interview-questions-5gfi I think this is the one! Might have to with the size of the print? (111 Pages 😲)... It took a decent amount of time for me but did end up correctly rendering!
![image](https://user-images.githubusercontent.com/22113778/73473454-d1200e00-43b2-11ea-80cf-1cf8db32f736.png)
![image](https://user-images.githubusercontent.com/22113778/7347373

[2020-01-30 17:33] abdellani opened #5817 "Old posts appear even after deleting the database."
**Describe the bug**
While I was working on #5508, I face the following problem:
In the beginning, the database is empty and nothing is listed when I check  FEED, WEEK, MONTH, YEAR, INFINITY and LATEST.
When I create the first account and write a post, a list of posts shows up. I think they are coming from Algolia, as both Postgres and Redis are empty.

**To Reproduce**

The video gives the detail

[2020-01-30 18:04] ghost opened #5819 "Ability to remove chats from the sidebar in Connect"
In Connect, I have many chats that were started by other members (most of who disappear after just entering a greeting).
I would like the ability to completely remove chats that I'm no longer interested in keeping.

Maybe:
  click on a user to highlight it on the left sidebar of users
  click on the 3 dots in the upper right pane
  where the user profile appears, have a remove button that can be p

[2020-01-30 20:26] rhymes commented on #5817
Hi @abdellani, it's an odd situation, why are you starting with an empty DB?

Also, how did you empty it? Because if you truncate the tables directly it won't queue the jobs to remove objects from the indices, thus keeping stuff around.

[2020-01-30 20:58] abdellani commented on #5817
Hi @rhymes
To be honest, I was lost while working on  #5508, then I decided to reset everything. I'm not sure about what I did, but I remember that I stopped the server and removed the volume that I mounted to the Postgres container. Maybe the jobs that you are talking about were not created.

[2020-01-30 21:24] rhymes commented on #5817
I usually use `rails db:reset` when I want to start from scratch. Don't forget to startup both delayed job and sidekiq, you can use `bin/startup`

[2020-01-31 03:59] citizen428 commented on #5819
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: please wait until we add a `help-wanted` label to the issue before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @maestromac or @rhymes or @citizen428 from the DEV team

[2020-01-31 09:42] abdellani commented on #5817
I cleared the indices manually from the Algolia's dashboard. I  tried `rails db:reset` and `bin/startup` and It works perfectly now.
Is there a shortcut to empty both of Algolia and the database?

[2020-01-31 10:10] nombrekeff commented on #5546
It also happens on the app, once it's blacked out, you must close and open the app.

Aman Kumar also came across this bug, but in another way, mentioned [here](https://dev.to/aman83770/welcome-thread-bug-in-dev-to-3fi0)

Pasting original post:

[2020-01-31 10:32] a7v8x commented on #182
This would be super helpful, I am thinking about reposting more machine learning stuff on dev.to, but this feature is making my workflow for importing original posts with math very difficult. I agree with implementing it with KaTex, having great experiences with that as well.

[2020-01-31 11:14] rhymes commented on #5817
I'm not sure, I think you can just call `.clear_index!` on the models you want to clear from the index, for example: `Article.clear_index!`:

[code]

this with an article that contains the word `cover` in its title

I'm going to close this in the meantime, let me know if you have other questions!

[2020-01-31 11:14] #5817 closed

[2020-01-31 12:36] zakirsajib opened #5824 "I can't write or publish post"
**Describe the bug**

**To Reproduce**

**Expected behavior**

After I click on write post, it shows error.

**Screenshots**

**Desktop (please complete the following information):**

- OS: MAC OSX
- Browser: Chrome
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-01-31 12:46] rhymes commented on #5824
Hello @zakirsajib, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-01-31 12:46] #5824 closed

[2020-01-31 14:07] seawolf commented on #4683
I'd think it would be acceptable to say that once a post is published, it can't be unpublished: there being bots or people that have already seen it means it's already out in the open.

[2020-01-31 18:36] tamb commented on #5670
@Defman21 I noticed that.  But there's also a huge accessibility concern with infinite scrolling:
https://accessible360.com/accessible360-blog/accessibility-problems-infinite-scrolling/

[2020-01-31 19:40] michael-tharrington commented on #4168
I think this is a great idea!

To sum up a recent convo with a fellow DEV member, they mentioned that the tag system is imperfect for language for a number of reasons, but one not-so-obvious one is that users can only use 4 tags on their post, and if they have to designate their posts with a language (e.g. "espanol") that's one less tag they can use for topical reach.

[2020-01-31 19:41] mstruve commented on #5793
Hey @gonzar11, that would be awesome! Thanks for offering to work on this! I like that idea of a db constraint but I don't think we can do it at the db level for this since Followable is polymorphic. Since the validation is already in place I think its more about handling the validation failure in a better way

[2020-01-31 22:26] twinsfan421 commented on #5511
@mstruve Is someone working on this?  I am happy to knock this out since it's related to the 5199. It could be a good first issue though if someone else want's to complete it.

[2020-02-01 00:18] mstruve commented on #5511
@twinsfan421 go for it! I have been making lots of Issues lately from Honeybadgers so there are plenty of good little first issues to go around 😉

[2020-02-01 03:13] pavelloz opened #5827 "Infinite scroll possible html nesting bug"
**Describe the bug**

It looks like infinite scroll is inserting new dom nodes inside a container, creating nested level. For some reason sometimes its just couple nodes, sometimes more. This might not be a big problem, but i think there is a performance penalty for that. At least thats what Lighthouse suggests.

It is also possible that normal posts are also nested unnecessairly into divs (see sc

[2020-02-01 08:14] anubhav8421 commented on #5792
@mstruve I would like to work on this issue

[2020-02-01 15:00] rhymes commented on #5827
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: for feature requests, please wait until we add a `help-wanted` label to the issue before starting to work on it. Bugs instead are always open for contributions.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need hel

[2020-02-01 15:04] rhymes commented on #5792
@anubhav8421 go ahead and thank you!

[2020-02-01 16:17] anubhav8421 commented on #5792
It is my first time exploring the dev.to codebase. I was able to setup the environment as defined in the documentation. I have read through the honeybadger issue plus details provided by @mstruve . I understood that we should not initialize the `ProfileImage` object when the `resource` passed is `nil`.

So if we just use safety operator in `resource&.profile_image_url` should suffice.

[2020-02-01 17:08] pkfrank opened #5830 "Remove extra spaces in text input areas on /internal/articles"
**Is your feature request related to a problem? Please describe.**
As a DEV staff member using `/internal/articles`, I am annoyed by the additional characters present in the "Share to Buffer" text input areas.

**Describe the solution you'd like**
Extra spacing characters are removed in the "pre-filled" text.  Screenshots below.

Additionally, it would be helpful if these text input areas were a b

[2020-02-01 17:25] pkfrank opened #5831 "Show entire "Suggested Tweet" in /internal/articles"
**Is your feature request related to a problem? Please describe.**
As a DEV staff member that reviews "suggested tweets, I would like to be able to see the entire tweet without manually expanding the text area.

**Describe the solution you'd like**
The suggested tweet area shows the entire message by default.  Alternatively it is just vertically taller so that it _almost always_ shows the entire t

[2020-02-01 17:38] pkfrank opened #5832 "Add ability for Admins to email users via /internal/users"
**Is your feature request related to a problem? Please describe.**
As an admin, I'd like to be able to email a user directly from an `/internal/users/{id}` page.  Currently, I either have to copy/paste their email into `/internal/reports` or use a separate system to email them.

**Describe the solution you'd like**
A button on `/internal/users/{id}` that sends me to `/internal/users/{id}/email` or

[2020-02-01 23:52] alequetzalli opened #5835 "Disability Emojis aren't supported yet, but others are"
**Describe the bug**

Hello :)

I want to use the service dog emoji in my dev to posts, but they are not supported.

Can your team add to a Sprint to support disability emojis too?
**To Reproduce**

Just try to copy/paste any major disability emoji and you'll get the 3 squares of death.
<img width="831" alt="Screen Shot 2020-02-01 at 11 00 35 AM" src="https://user-images.githubusercontent.com/1996

[2020-02-02 08:41] rhymes commented on #5835
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: please wait until we add a `help-wanted` label to the issue before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @maestromac or @rhymes or @citizen428 from the DEV team

[2020-02-02 08:43] rhymes commented on #5835
Hi @alequetzalli, thanks a lot for the issue, I have a question because I'm totally ignorant on the subject: where can I find more information on the emojis you were trying to insert?

Are they part of the newly released batch of emojis by the unicode consortium or something else entirely?

Basically what I'm asking is how to replicate the bug by finding out how you insert the emoji so that we can

[2020-02-02 10:46] JimmyAustin commented on #5835
Dug into this out of curiosity, it looks like the first emoji is guide dog (U+1F9AE), and the second is service dog (U+1F415 U+200D U+1F9BA, which is DOG-ZERO WIDTH JOINER-SAFETYVEST). They are numbers 509 and 510 here: https://unicode.org/emoji/charts/full-emoji-list.html

They seem to have been a part of Unicode V12.

They render fine on Chrome for Windows for me, but not macOS.

[2020-02-02 11:41] pavelloz opened #5836 "Ignore user from a feed without having to block them"
**Is your feature request related to a problem? Please describe.**

I knew this day will happen, i just hoped someone else will have to create this issue (maybe it already exist, i couldnt find it).

Because of rules, or lack of on what people can write and share on dev.to there will be a lot of crap (subjectively, what im not interested in and want to filter out - not objectively of course :) ).

[2020-02-02 13:18] MarkoShiva opened #5837 "Adding RSS support to personal feed and tags"
**Is your feature request related to a problem? Please describe.**

I would like to have a RSS feed from dev.to website and dev.to tags.

**Describe the solution you'd like**

As the login in case of RSS is sort of impossible the fetch could have only most popular articles not related to tags in case of dev.to home page. In case of tags there should be ability to add tags via for exmple `https://d

[2020-02-02 15:57] alequetzalli commented on #5835
@rhymes Yes, @JimmyAustin got it!

In macOS (what I am using), the disability guide dogs and others do not render. All you have to do is try to copy/paste the emojis that Jimmy mentioned. If you don't know how, you can even just look them up on Twitter and copy/paste from there? XD

<img width="654" alt="Screen Shot 2020-02-02 at 7 56 38 AM" src="https://user-images.githubusercontent.com/19964402/

[2020-02-02 20:00] pkfrank opened #5838 "Add option to tweet from specific satellites on /internal/articles"
**Is your feature request related to a problem? Please describe.**
As a content editor, I want to syndicate articles to the appropriate Twitter satellite account.  Sometimes, a post has tags for multiple eligible satellites, but I'd prefer to send it to only one or the other.  Currently, it will syndicate to all eligible satellites and doesn't offer more granular control.

**Describe the solution

[2020-02-02 20:28] pkfrank opened #5839 "Add extra space below "toggle" on /internal/users/ edit page"
**Is your feature request related to a problem? Please describe.**
As an Admin that occasionally has to open the "Destructive Actions" toggle in `/internal/users/{user-id}/edit`, it's a little bit tough to click the toggle as it's hugging the bottom of the window.

**Describe the solution you'd like**
A bit more padding/margin at the bottom of this page.  Screenshots below.

**Additional context**

[2020-02-02 21:02] rhymes commented on #5835
Thank you both @JimmyAustin and @alequetzalli, I definitely noticed it doesn't render on macOS 10.14.6:

![Screenshot_2020-02-02 Full Emoji List, v13 0](https://user-images.githubusercontent.com/146201/73614644-5f89cf00-4601-11ea-98f0-d3a7013a1a50.png)

I can see those in Twitter as you screenshotted:

![Screenshot_2020-02-02 Notifications Twitter](https://user-images.githubusercontent.com/146201/

[2020-02-02 21:07] rhymes commented on #5837
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: please wait until we add a `help-wanted` label to the issue before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @maestromac or @rhymes or @citizen428 from the DEV team

[2020-02-02 21:14] rhymes commented on #5837
Hi @MarkoShiva,

would these cover your needs?

- https://dev.to/feed is the main RSS feed
- https://dev.to/feed/rhymes is my feed for example (you can replace the username with another one)
- https://dev.to/feed/tag/python contains the feed for the `python` tag

though the tag feed does not take weight or popularity in consideration

[2020-02-02 21:19] rhymes commented on #5836
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: for feature requests, please wait until we add a `help-wanted` label to the issue before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @maestromac or @rhymes or @citize

[2020-02-02 21:21] rhymes commented on #5836
Hi @pavelloz, I understand your frustration, have you tried in the meantime to block the user directly?

You can go on their account and block them like this:

![block feature on DEV](https://user-images.githubusercontent.com/17884966/66757833-fff98f00-ee6a-11e9-83fd-f8d73e27c8d7.png)

[2020-02-02 22:25] MarkoShiva commented on #5837
Yes definitely that is what I had in mind.
- [ ] RSS main feed
- [x] RSS feed for user profiles # already exist
- [ ] RSS feed for tag # bringing the latest posts related to that tag sorted or not

[2020-02-03 03:34] alequetzalli commented on #5835
@rhymes thank you for detailed reply! I really appreciate the level of detail you put into researching this for the disabled community. It may seem like a silly thing, but it feels nice to have an emoji that looks like me.

**Follow up question...**
Why open an issue to GitHub's library? I don't follow. O_O

[2020-02-03 03:36] citizen428 commented on #5837
@MarkoShiva If the feed @rhymes mentioned serves your need, can this issue be closed now?

[2020-02-03 03:42] citizen428 commented on #5835
@alequetzalli  What @rhymes meant was that we use a library called [gemoji](https://github.com/github/gemoji) for rendering emojis on DEV. It was developed by Github, so he suggested potentially taking this feature request upstream.

[2020-02-03 03:50] citizen428 commented on #5835
I did some digging myself, according to [this](https://www.apple.com/newsroom/2019/07/apple-offers-a-look-at-new-emoji-coming-to-iphone-this-fall/) Apple added Unicode 12 support last fall (iOS 13, macOS Catalina). The ones from your list I tried seem to render fine for me on Catalina:

<img width="544" alt="Screen Shot 2020-02-03 at 10 49 57" src="https://user-images.githubusercontent.com/47985/7

[2020-02-03 05:00] alequetzalli commented on #5835
@citizen428 I am on macOS Mojave... perhaps Catalina is the first version to support them?!

[2020-02-03 05:18] citizen428 commented on #5835
@alequetzalli Yes, the article I linked above says that Unicode 12 support was added with Catalina/iOS 13.

[2020-02-03 06:00] nickytonline commented on #382
Came across this Tweet thread tonight, https://twitter.com/bahmutov/status/1224195089062400002. Including the picture as well, but it is a screenshot from Gleb’s Tweet. Apparently multi-browser support is very close to being released for Cypress.

![650A0776-4C13-426D-9C4E-26BEEA7AA159](https://user-images.githubusercontent.com/833231/73629224-6c69eb00-4620-11ea-868e-f9b5ffe06e83.jpeg)

[2020-02-03 07:35] JuanVqz commented on #5808
Hi @mstruve! I would like to contribute!

I entered an invalid canonical URL
<img width="711" alt="Screen Shot 2020-02-03 at 1 28 59 AM" src="https://user-images.githubusercontent.com/7331511/73633594-adfc9500-4624-11ea-953d-8c564eb9862a.png">

then I saved the article (**SAVE CHANGES** button)
then I expected to see the error but I saw a message error
and I couldn't save the article.

<img width=

[2020-02-03 10:03] rhymes commented on #5835
Thanks @citizen428 for finding that out, I googled "macOS unicode versions" for a bit but I couldn't find a specific page that listed which macOS version supported which Unicode version.

I think on our part the only thing we can do is upgrade `gemoji`'s version to make sure we pick up all the new emojis and keep that updated. I'll send a PR to update this ASAP

If, as we confirmed, the limitation

[2020-02-03 10:20] rhymes commented on #5835
Sent a PR to support the emojis server side https://github.com/thepracticaldev/dev.to/pull/5842

[2020-02-03 10:21] rhymes commented on #382
I guess we can wait then :)

[2020-02-03 10:53] weekly-digest[bot] opened #5847 "Weekly Digest (27 January, 2020 - 3 February, 2020)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 102 issues were created.
Of these, 47 issues have been closed and 55 issues are still open.
## OPEN ISSUES
:green_heart: #5839 [Add extra space below "toggle" on /internal/users/ edit page](https://github.com/thepracticaldev/dev.to/issues/5839), by [pkfrank](https://gi

[2020-02-03 11:00] pavelloz commented on #5836
I havent tried that. Im not necessairly against his comments, PMs - its just the feed that im trying to clean up from posts from
a) tags that are really not in my area and i dont like,
b) people who treat dev.to as republishing / ad platform for their blog

Having said that, ill try that and see what happens - im out of options anyways :)

[2020-02-03 12:07] rhymes commented on #5836
Thanks for the details @pavelloz! I updated the title to make it more specific :)

[2020-02-03 12:08] #5847 closed

[2020-02-03 14:35] abenettt opened #5862 "Allow end to end encrypted emails"
**Is your feature request related to a problem? Please describe.**
dev.to does not send encrypted emails as far as I know.

**Describe the solution you'd like**
Allow the users and organisations to add their PGP Key(s) to their account and to opt in to receiving encrypted emails. That would allow the platform to send users encrypted emails and users between themselves to do so.

**Describe alterna

[2020-02-03 14:39] rhymes commented on #5862
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: please wait until we add a `help-wanted` label to the issue before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @maestromac or @rhymes or @citizen428 from the DEV team

[2020-02-03 15:56] alequetzalli commented on #5835
@citizen428 Ah! This is so useful. So it sounds like the solution is to upgrade to Catalina... which I hear keeps crashing everyone's systems... so.. yay? 😂

[2020-02-03 15:57] alequetzalli commented on #5835
@rhymes that seems like a good solution! thank you :)

[2020-02-03 16:17] Freshchris01 commented on #4608
When I try to delete a connected Github account by clicking the link in the email, I get a `This page does not exist`. Is this behaviour intended?

[2020-02-03 16:30] #5795 closed

[2020-02-03 16:31] MarkoShiva commented on #5837
yes of course I didn't noticed that those two feeds have been implemented. :)

[2020-02-03 16:31] #5837 closed

[2020-02-03 16:34] #5839 closed

[2020-02-03 18:18] mstruve commented on #5808
I would suggest trying something that is close to valid like the URL that is shown in the error `https://www.positronx.io/angular radio-buttons-example/` I was able to save that one locally however it did not break the page like I was expecting.

[2020-02-03 21:37] michael-tharrington opened #5876 "Add blank placeholder to "Badges" dropdown in /internal/badges"
**Problem**

Twice now, I've awarded the incorrect badge to contributors via https://dev.to/internal/badges. This is mostly because I'm moving to quick and being careless 🙃 but I think a simple fix will stop it from happening again.

**Proposed Solution**

We should make a blank placeholder for the "Badges" dropdown so that the person awarding badges must actively choose which badge to award.

**A

[2020-02-03 21:52] vaidehijoshi commented on #5876
@michael-tharrington Good point! I can fix this for you; it's a good excuse to look at another part of the codebase 😸

[2020-02-03 22:02] #5741 closed

[2020-02-03 22:38] emilpriver opened #5877 "API: Fetching endpoint /api/articles/me sometimes returns CORS error."
Currently working with the api and I see that the endpoint gives CORS error, but on second request does it work. This do i only get while using /api/articles/me request.

![4195f9c558aec8c1ba4be778f81c5be3](https://user-images.githubusercontent.com/34039674/73696730-2e7ecc80-46dd-11ea-8c3d-d675ba8fdb2a.png)

**To Reproduce**

1. use Axios GET
2. request https://dev.to/api/articles/me/ with api-key

[2020-02-04 02:44] JuanVqz commented on #5808
@mstruve I already copied the url `https://www.positronx.io/angular radio-buttons-example/` and saved the article when it is published where should I go to click the canonical url? because I entered to read article and I can see all working...

thanks!

<img width="1214" alt="Screen Shot 2020-02-03 at 8 38 23 PM" src="https://user-images.githubusercontent.com/7331511/73709073-b953cd00-46c5-11ea-9d

[2020-02-04 02:47] manoj10101996 opened #5883 "Not able to Share"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-02-04 04:22] citizen428 commented on #5877
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: please wait until we add a `help-wanted` label to the issue before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @maestromac or @rhymes or @citizen428 from the DEV team

[2020-02-04 04:24] citizen428 commented on #5883
HI @manoj10101996, thanks for your report! Please provide more details regarding what you were trying to share, what you expected to happen and what happened instead, otherwise we don't have enough information to investigate and will have to close this issue.

[2020-02-04 04:28] citizen428 commented on #5739
@JuanitoFatas I hope you don't mind, but I just assigned you this issue so it's obvious to other that it's already being worked on.

[2020-02-04 05:16] rsalunga29 opened #5885 "Show unpublished articles on your own profile"
**Is your feature request related to a problem? Please describe.**

I'm not able to see / access my unpublished articles/drafts on my own profile unless I have the link. This will be really frustrating when I haven't saved my links and would lose my article/drafts for good.

**Describe the solution you'd like**

Give authors the ability to see their own unpublished articles/drafts on their profile

[2020-02-04 05:47] scarlett8285 opened #5886 "Hey Team, it's been almost a month that I am unable to add a new post. Could you please help with this?"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-02-04 06:01] citizen428 commented on #5885
Hello @rsalunga29  and thanks for opening an issue!

Drafts are listed on your account dashboard at https://dev.to/dashboard:

<img width="843" alt="Screen Shot 2020-02-04 at 13 00 15" src="https://user-images.githubusercontent.com/47985/73718164-58240c00-474e-11ea-8e77-acc927a77fc9.png">

Unlike published posts they have a yellow background and an added draft tag.

Please confirm that this is wha

[2020-02-04 06:05] citizen428 commented on #5886
Hello @scarlett8285, thanks for notifying us about this problem. Issues  like this are often specific to one account, can you please provide a bit more detail here, as requested by the PR template?

[2020-02-04 06:07] rsalunga29 commented on #5885
@citizen428 Yes, that's exactly what I'm looking for haha. Apologies, I never thought it'd be in dashboard module.

[2020-02-04 06:07] #5885 closed

[2020-02-04 06:16] citizen428 commented on #5862
@abenettt Thanks for the feature request. Could you elaborate on your intended use case a little bit? I don't think there are any emails sent from the DEV platform to users where encryption would be beneficial, but I could maybe see a use case for signing for certain emails.

[2020-02-04 06:33] citizen428 commented on #4650
Hi @ShraddhaAg, just checking in to see if you're still working on this? If yes, is there any help you need from us?

[2020-02-04 08:29] abenettt commented on #5862
@citizen428 I think it might generally just be a good idea, but the emails could also hold potentially sensitive information like for example when the user receives an email about a direct message or a new follower. I don't know about security-related emails, as I have never received such, but these would also build a strong case for encryption in my opinion.

[2020-02-04 13:27] mstruve commented on #5808
Read the updated the steps to reproduce. In order to get the partial to render that is breaking you have to set some additional values

To Reproduce:
* Create an article and save an invalid canonical_url on it.
* update the article and set all of these values so the partial that fails renders
[code]
Load the article show page and it should break. The invalid URL we are seeing that caused this erro

[2020-02-04 14:10] rhymes commented on #5877
Hi @emilpriver, can you share which headers you sent?

[2020-02-04 14:36] anubhav8421 commented on #5792
@rhymes @mstruve can you please provide your feed back on the above comment

[2020-02-04 15:19] michael-tharrington opened #5895 "ignore"
ignore

[2020-02-04 15:38] #5895 closed

[2020-02-04 16:22] mstruve commented on #5792
That would probably work, or it might cause other issues when loading the page. I would suggest writing a test to find out.

[2020-02-04 16:54] rhymes commented on #5792
hi @anubhav8421, as @mstruve mentioned, the best way to find out for sure is to write a spec about it.

As `app/labor/profile_image.rb` doesn't have an explicit spec file, you could setup something similar to https://github.com/thepracticaldev/dev.to/blob/master/spec/labor/twilio_token_spec.rb
to test it, for example: `spec/labor/profile_image_spec.rb` and add a test to see what happens if you pas

[2020-02-04 17:02] #5876 closed

[2020-02-04 17:02] vaidehijoshi commented on #5876
@michael-tharrington just deployed this! should be on production soon for ya :)

[2020-02-04 17:24] alequetzalli commented on #4048
@jessleenyc do we have updated info on where this is at?

[2020-02-04 17:34] emilpriver commented on #5877
This is the headers sent when the request fails:

![e864741db364c8b03ca066d98fc8a55f](https://user-images.githubusercontent.com/34039674/73770259-6557ef80-477c-11ea-814a-2419ee345a0d.png)

And this is the request which is sent when it success:
![40c47b7b0ceba3de561318f680969528](https://user-images.githubusercontent.com/34039674/73770468-c67fc300-477c-11ea-9634-897ae1a449f0.jpg)

The only differen

[2020-02-04 17:41] #5384 closed

[2020-02-04 17:45] rhymes commented on #5877
As axios is just a HTTP client, if we can get it to the simplest HTTP call it does in the end we might be able to reproduce it.

For example, I opened https://dev.to in Firefox, opened the Developer Tools's Console and wrote this:

[code]

I then opened the network panel (which I cleared first) and then used the following menu to copy the actual HTTP call:

![Screenshot 2020-02-04 at 6 41 21 PM](h

[2020-02-04 19:18] vaidehijoshi opened #5899 "Update GitHub authentication to remove URL query parameters"
**Describe the bug**

While authenticating with GitHub in my local environment, I got an email that alerted me to a deprecation in how we auth with the GitHub API.

As it turns out, we use a query parameter to access the `/user` endpoint in a few places (for example, when we do something like `client = Octokit::Client.new(access_token: token)`.

This has been deprecated, and GitHub's email to me s

[2020-02-04 19:58] emilpriver commented on #5877
fetch("https://dev.to/api/articles/me/", {"credentials":"omit","headers":{"accept":"application/json, text/plain, */*","api-key":"HIDDEN"},"referrer":"http://localhost:3000/posts","referrerPolicy":"no-referrer-when-downgrade","body":null,"method":"GET","mode":"cors"});

Does this work?

[2020-02-04 22:10] #3601 closed

[2020-02-04 23:17] rhymes commented on #5899
I wonder if this has any impact in the integration between Devise and omniauth/omniauth-github, which is largely transparent for us but we use for login

(`omniauth-github` is an abandoned project: https://github.com/omniauth/omniauth-github)

[2020-02-05 06:19] citizen428 commented on #5862
Your followers are visible to anyone visiting your profile, so I don't think that's particularly sensitive. A point could maybe be made for private messages, *if* they contain the actual message and not just a notification that there was a message.

The problem with GPG is that it comes with a certain overhead, which is part of the reason websites don't generally offer it as an option.

But I'm de

[2020-02-05 08:12] citizen428 commented on #3234
@Zhao-Andy Did you ever get around to work on this? If not, do you want me to take over?

[2020-02-05 08:23] abenettt commented on #5862
Ok, I can see the overhead can be an issue. But if you'd allow me, I'd change tracks and say that it is also 2020 now and the question should rather be why we wouldn't implement this. The argument that it would introduce an overhead would of course still be standing but is this overhead enough not to do this?

[2020-02-05 08:31] citizen428 commented on #5862
I think this question could be reversed: are enough users interested in this to be worth the effort of adding it? I'm a PGP user myself since ~2001, but I still don't see a particularly strong use case for it in regards to transactional email. Either way, this is just my personal opinion and not an official DEV one, and I'd personally be more than happy to work on this if we decide to go ahead wit

[2020-02-05 09:12] abenettt commented on #5862
Yeah, I can see your point, but I also like to think that as DEV is a developer centred community that its users would supportive of this idea.

[2020-02-05 13:27] #5061 closed

[2020-02-05 14:38] ShraddhaAg commented on #4650
Hi @citizen428. I'm having trouble writing the tests for it. Could you please point me to an example? I'm sorry about taking so long with this.

[2020-02-05 16:22] rhymes commented on #5877
Thank you @emilpriver, I was able to reproduce it, even from the console with this:

[code]

this is the output:

[code]

Our API has some known CORS issues, see https://github.com/thepracticaldev/dev.to/issues/4195

[2020-02-05 17:24] #5790 closed

[2020-02-05 17:25] #5793 closed

[2020-02-05 17:26] joshpuetz opened #5914 "Fix uses of `html_safe` in `.erb` files"
Linting of `.erb` files was added with PR https://github.com/thepracticaldev/dev.to/pull/1657, but existing violations of the rules where not fixed. PR https://github.com/thepracticaldev/dev.to/pull/5913 turned off the html safety checks, but we really should go back and fix those violations and re-enable the safety check.

[2020-02-05 18:10] moacirguedes commented on #5719
I can work on this

[2020-02-05 18:35] rhymes commented on #5719
@moacirguedes a suggestion for debounce: we already have the library `lodash.debounce` in the code. You can find an example here:

https://github.com/thepracticaldev/dev.to/blob/6a100415cc9ec5008095e127c4597411b7f7fdad/app/javascript/readingList/readingList.jsx#L42-L44

[2020-02-05 19:10] emilpriver commented on #5877
@rhymes ah got ya! Checked out the issue you sendt, I will check if i amble to help in anyway :D

[2020-02-05 19:50] vaidehijoshi opened #5917 "Remove unused images"
**Describe the bug**

Not exactly a _bug_ perse, but some low-hanging fruit that we likely should prioritize: we have a bunch of images in `app/assets/images` that seem to be currently unused! We should remove these if we're not using them. For example, `jess.jpg` and `triple-unicorn.png`. This will make it much easier for our future selves to know which images are available to us to use, and will

[2020-02-05 21:59] anubhav8421 commented on #5792
Thanks for the response @mstruve @rhymes I will create a PR soon.

[2020-02-05 22:10] #3967 closed

[2020-02-05 22:32] #5835 closed

[2020-02-06 00:00] Nerajno commented on #1299
Has it been addressed ?

[2020-02-06 03:46] citizen428 commented on #4650
No need to be sorry at all @ShraddhaAg, thanks for contributing! 😃

Regarding the spec, have a look at `spec/system/` for inspiration. These pretty much follow the user's journey through the app. You can also just open a work in progress PR (prefix the title with `[WIP]`) with what you have so far and we can look at it in more detail there.

[2020-02-06 08:27] rhymes commented on #1299
Hi @Nerajno! No, not really :) We don't have an immediate plan to address this but it is open for third party contributors.

I suggest anyone who wants to tackle this to kickstart a conversation on how they'd like to implement it (in the code and visually) before diving solo in creating a PR!

[2020-02-06 09:48] farzalivand opened #5927 "Describe the bug"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-02-06 10:23] yashwanth2804 opened #5928 "Reading Scroll Progress Bar for Your articles in dev.to"
Better If we got this implemented in dev.to site articles too.
taken from [dev.to article](https://dev.to/xtrp/create-a-reading-scroll-progress-bar-for-your-blog-in-javascript-and-css-1jmc?signin=true)

[2020-02-06 11:17] rhymes commented on #5927
Hello @farzalivand, there's no information related to what bug you encountered, please open a detailed bug report. I'm going to close this in the meantime

[2020-02-06 11:17] #5927 closed

[2020-02-06 11:19] rhymes commented on #5928
Hi @yashwanth2804, thanks for opening this feature request! As this is a duplicate of https://github.com/thepracticaldev/dev.to/issues/1626 I'm going to close it and suggest you add a link to that article as a comment there :-)

[2020-02-06 11:19] #5928 closed

[2020-02-06 14:21] binyamin opened #5932 "Display word Word Count while writing"
It would be nice to have a word count displayed while the user is writing/editing an article. I feel that this would improve the entire dev.to experience, because it would keep people on dev.to for longer. I got the idea from [200wordsaday](https://cowriters.app), now *cowriters.app*.

[2020-02-06 14:58] rhymes commented on #5932
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: please wait until we add a `ready for dev` label to the issue before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @maestromac or @rhymes or @citizen428 from the DEV te

[2020-02-06 15:00] lightalloy commented on #5704
We agreed to use the existing `Page` concept to achieve the goal. For a landing page, a new record with the appropriate `body_html` should be created.
`Page`s have a `template` field in the database which can be set to `contained`, `full_within_layout` or `full_page`. Depending on its value the `Page`'s `body_html` (or `body_markdown`) will be embedded in the page layout differently.
List of actio

[2020-02-06 15:01] jennapederson opened #5934 "Published date does not update after unpublish/re-publish"
**Describe the bug**

The `published_at` date/time does not get reset after a post is unpublished and then later re-published.

**To Reproduce**

1. Create and publish a new post.
1. Note the `Article.published_at` or check the time element in the HTML of the published for `itemprop=datePublished` (correct at this point)
1. Go to Edit the post
1. Press the `...` in the header to get to Additional

[2020-02-06 15:16] b3u commented on #5932
@rhymes Thanks so much. Replies like these make contributing to open-source worthwhile.
Also, I'd love to work on this, but I'm not familiar with the codebase. Do you have a vague idea of where the code would go?

[2020-02-06 15:32] rhymes commented on #5932
Hi @b3u, thanks for the kind words!

As it's technically not approved yet I would suggest to come up with a proposal for the UI that can then be discussed before diving in into the editor's code.

What do you think?

[2020-02-06 18:31] b3u commented on #5932
How about right underneath the text editor? MS Word, LibreOffice, and Grammarly all place the word count there, IIRC. Maybe a bit lighter than the attached picture, indented from the left margin and in a font-size meant for details.

![dev-ftr1](https://user-images.githubusercontent.com/39805353/73966658-715ec100-48e4-11ea-8af1-89a63e9ec35e.png)

[2020-02-06 19:29] #5682 closed

[2020-02-06 20:18] #5830 closed

[2020-02-06 22:28] michael-tharrington commented on #5164
This one is solved thanks to this - https://github.com/thepracticaldev/dev.to/pull/5731

[2020-02-07 00:15] benhalpern opened #5946 "Custome "check installation guide""
**Is your feature request related to a problem? Please describe.**

If I'm getting started with the app, I might forget to check the official installation guide in the docs.

**Describe the solution you'd like**

I'm wondering if it would be possible to make a check for certain criteria upon running our base scripts and prompt the user to check the [installation guides](https://docs.dev.to/install

[2020-02-07 00:35] benhalpern opened #5947 "Catch local authentication attempts and give notice about guides"
**Is your feature request related to a problem? Please describe.**

As a new user of the development app I might not have installed the oauth keys. I click to sign in with GitHub and see this...

![](https://p78.f0.n0.cdn.getcloudapp.com/items/7KuyYNlq/Image+2020-02-06+at+7.32.35+PM.png?v=f70d8ee70cee951e09af7f807aa3207e)

**Describe the solution you'd like**

I think if we send people down this p

[2020-02-07 03:20] citizen428 commented on #5932
This is nice and unobstrusive @b3u, I think it would make a nice edition. 👍

[2020-02-07 04:33] citizen428 commented on #5946
The [`ActiveSupport::ActionableError`](https://blog.bigbinary.com/2019/10/01/rails-6-adds-active-support-actionable-error.html) introduced in Rails 6 would be great for this.

[2020-02-07 13:04] lightalloy commented on #5701
To set up the campaign sidebar:
-  set `sidebar_enabled` to true in the campaign section on the `/internal/config` page
- set `featured_tags` on the same page
Approved posts tagged with one of the featured_tags should show in the sidebar.
We may need to add other settings to configure the sidebar view.

[2020-02-07 13:08] lightalloy commented on #5703
To set up a campaign hero and display it over the feed you need to:
- create an `HtmlVariant` record in `/html_variants`, choose group `campaign`. Make sure that the variant's `approved` and `published` fields are set to `true`.
- go to `SiteConfig` settings page (`/internal/config`) and set "Hero HtmlVariant name" in the campaign section to be the same that you have specified while creating an `H

[2020-02-07 14:23] maestromac commented on #1305
Resolved with https://github.com/thepracticaldev/dev.to/pull/5314

[2020-02-07 14:23] #1305 closed

[2020-02-07 15:42] mstruve opened #5951 "Handle Missing Chat Channel During Creation"
During the chat channel creation process, at some point, we are not able to create a chat channel for some reason with the chat_channel_membership. This causes the validation on the chat_channel_membership to fail with the following error.

Honeybadger: https://app.honeybadger.io/fault/66984/aa81805a11e4c8c9763e9a9cb665ebcf
Error:
[code]

Steps to Reproduce:
I am not sure how to directly reproduce

[2020-02-07 19:03] benhalpern commented on #5946
@citizen428 yeah!

[2020-02-07 19:10] #5508 closed

[2020-02-07 19:15] mstruve opened #5957 "Validate That API Article Params are Hash, If not return helpful error message"
Sometimes people hit the API with invalid params such as
[code]
however, we are expecting that the article is going to be a hash of params itself. When a string is passed we end up with this error.
Honeybadger: https://app.honeybadger.io/fault/66984/c7fc185e853bf779e3bfc58c6edd0208
[code]

Solution: We should fail gracefully when this happens and return an unprocessable entity error with a helpful

[2020-02-07 19:49] mstruve opened #5959 "Don't Allow Users To React to Unpublished Posts"
When a user attempts to reaction to an unpublished post we end up with this error
Honeybadger: https://app.honeybadger.io/fault/66984/960bfd4e2872007d5267d0a0bbaf1660
Error:
[code]

Possible Solutions: Rather than throwing an error and having it logged in Honeybadger we should not allow the user to click on those reaction buttons until the post is published. OR we check to see if the post is publi

[2020-02-07 23:11] abdellani commented on #5959
Hi
I'll work on it :)

[2020-02-07 23:43] atsmith813 commented on #5957
I'll take this one 🙋‍♂️

[2020-02-07 23:50] mstruve commented on #5959
Fantastic! Thank you!!!

[2020-02-08 01:17] mstruve opened #5964 "Prevent ActiveRecord::Deadlocked With Circular Article/Collection Updates"
When an Article is updated if it belongs to a collection we will then `touch` that collection object.
[code]
When a collection is touched, it then touches all of its related articles including the article that was just updated
[code]
This sometimes leads to a deadlock when we go to update an article.
Honeybadger: https://app.honeybadger.io/fault/66984/0d294eb872c932b638e97fed31595826
[code]

We ne

[2020-02-08 01:58] mstruve opened #5965 "Nil body_markdown Breaks Article Show Page"
This issue is going to require a bit of investigation as I am not sure what causes this to happen but at some point we attempt to render the article show page when the article has a nil `body_markdown`
Honeybadger: https://app.honeybadger.io/fault/66984/93ad9d25eff7baa256b9595ae539dbd0
[code]

We should use a safety operator to prevent this from happening or figure out what scenario causes this to

[2020-02-08 04:11] maestromac commented on #5085
Consolidating this report with https://github.com/thepracticaldev/dev.to/issues/4608 . If you have any additional info you would like to provide, please continue the conversation there. Thank you!

[2020-02-08 04:11] #5085 closed

[2020-02-08 05:14] RitikaRS opened #5966 "I am unable to write a post"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-02-08 13:54] andrasbacsai opened #5967 "Running DEV in Docker fails with .ruby-version error"
**Describe the bug**

I forked this repository & would like to run it in Docker. Followed the [docker installation docs](https://docs.dev.to/installation/docker/), but got the following error:
[code]

I'm able to correct it by adding the following line to the `Dockerfile`:

[code]
Between the following lines:

[code]

**To Reproduce**

Follow the docker [installation guide](https://docs.dev.to/ins

[2020-02-08 13:58] andrasbacsai commented on #5966
I think a bit more details are necessary to work with this issue, as I'm able to write a new post at the moment.

Could you please retry now? Maybe it was just a temporary error. Thanks!

[2020-02-08 20:23] tomalexhughes commented on #5967
Can vouch that I experienced the same issue with the following versions and the solution above from @andrasbacsai solved it for me.

OS:  macOS Catalina 10.15.2 (19C57)
Docker: Docker version 19.03.5, build 633a0ea
docker-compose: docker-compose version 1.25.2, build 698e2846

[2020-02-09 02:43] abdellani commented on #5965
Hi
When I tried to create a post with an empty body, the result was `body_markdown` containing an empty string and not nil.
I tried to call the `Articles::Creator` with `body_markdown= nil` , the article was created without any problem.
[code]
So, I was thinking about adding a new validation "presence: true" to `:body_markdown`.

[2020-02-09 04:11] abdellani opened #5970 "Strange behavior of article editor when devtools is in use (Firefox/Chrome)"
**Describe the bug**

When I open the devtool under firefox and chrome, the article editor doesn't work properly. The first problem that I noticed was that the title field shrinks. Later, I discovered that when I try to preview an empty post both the preview panel and the text editor show up at the same time.

**To Reproduce**

1. Open web developper tool under Firefox/Chrome (before accessing the

[2020-02-09 12:25] andrasbacsai commented on #5970
I could not reproduce it.

What kind of extensions do you use?
Could you please try the same in incognito mode or with disabled extensions?

(I see the backend.js errors in your console, which is (just a guess) vue-devtools, as it has a backend.js which I'm aware of. )

[2020-02-09 18:10] joshpuetz opened #5972 "Stackbit 'Getting Started' page doesn't scroll on iPad app"
On the Dev.to iPad app, the Stackbit 'Getting Started' page doesn't scroll.

To reproduce:
- On an account without Stackbit integration enabled, navigate to Settings -> Integrations
- Under 'Connect to Stackbit' tap 'Getting Started'
The page that opens can't be scrolled in the Dev.to iPad app, and must manually be opened in Safari

[2020-02-09 18:21] oliver-gomes opened #5973 "Youtube Link Feature"
**Is your feature request related to a problem? Please describe.**

It's a bit of a downer when you have profile link for all kinds of socials but not Youtube 🤷‍♀️

**Describe the solution you'd like**

Definitely add Youtube Link in user's profile

**Describe alternatives you've considered**

**Additional context**

[2020-02-09 19:23] luchiago commented on #1393
@rhymes How can I test this locally?

[2020-02-10 01:35] smortime opened #5974 "Ignore Tags for Feed Feature"
**Is your feature request related to a problem? Please describe.**

The feed requires a lot of scrolling to find posts relevant to personal interests.

**Describe the solution you'd like**

The ability to ignore or reduce the amount of posts with specific tags from showing up on users feed can help customize the feed for individuals. For example a user can add "angular" or "javascript" to their ig

[2020-02-10 03:55] citizen428 commented on #5946
One more reason to slowly think about upgrading to Rails 6 @benhalpern 😉

[2020-02-10 04:05] citizen428 commented on #5965
@abdellani Great, thanks for offering to help. If you decide to tackle this issue, please assign it to yourself so other potential contributors won't pick it up and duplicate efforts.

[2020-02-10 04:07] citizen428 commented on #5966
Hello @RitikaRS,. thanks for notifying us of this problem, this looks like an issue specific to your account.

Please email yo@dev.to for more help.

[2020-02-10 04:07] #5966 closed

[2020-02-10 04:12] citizen428 commented on #5967
Thanks for reporting for reporting this @andrasbacsai, seems like a result of #5780. As I was going to work on the Dockerfile today anyway, I'll quickly fix this too, but thanks for offering!

[2020-02-10 05:57] citizen428 opened #5977 "Introduce docker-sync into our Docker workflow"
**Is your feature request related to a problem? Please describe.**

Docker on macOS is infamously slow in combination with volumes, due to bad IO performance (up to 60 times slower). This makes working with our app hard, as simple setup steps like `docker-compose run web rails db:setup` can take a very long time to complete.

**Describe the solution you'd like**

Add [docker-sync](http://docker-sy

[2020-02-10 06:14] citizen428 commented on #5974
Thanks for the report @smortime! I take it you experimented with the tag weights at https://dev.to/dashboard/following and found them not flexible enough, correct?

[2020-02-10 06:20] citizen428 commented on #5970
@abdellani Thanks for the report. However, I was also not able to reproduce this, with neither of the two editor type configurable at https://dev.to/settings/ux. Apart from what @andrasbacsai suggested, can you please also try to a hard refresh and make sure it's not some caching issue?

[2020-02-10 07:33] scarlett8285 commented on #5886
Hey Michael,

Thanks for your email. Please refer to the screenshot below and kindly help
me with this,

[image: image.png]
Best,

On Tue, Feb 4, 2020 at 11:35 AM Michael Kohl <notifications@github.com>
wrote:

--
Best,
Scarlet Rose

[2020-02-10 07:48] citizen428 commented on #5886
Hi @scarlett8285, thanks for providing more details. However, attaching the screenshot like this did not work. As issues like this one are often account specific, please email yo@dev.to for more help and I'll close this issue here.

[2020-02-10 07:48] #5886 closed

[2020-02-10 09:46] Computer-Man497 commented on #5973
That's a great idea, a lot of members on DEV have youtube tutorials.

[2020-02-10 10:38] weekly-digest[bot] opened #5980 "Weekly Digest (3 February, 2020 - 10 February, 2020)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 131 issues were created.
Of these, 96 issues have been closed and 35 issues are still open.
## OPEN ISSUES
:green_heart: #5973 [Youtube Link Feature](https://github.com/thepracticaldev/dev.to/issues/5973), by [oliver-gomes](https://github.com/oliver-gomes)
:green_heart

[2020-02-10 10:51] abdellani commented on #5965
Hi @citizen428
I'll work on it.

[2020-02-10 11:11] yogeshktm commented on #5429
Same page renders fine in **Windows 8** - **Chrome** Version **79**.0.3945.130 (Official Build) (64-bit)

<img width="947" alt="chrome" src="https://user-images.githubusercontent.com/3961774/74145152-274b4780-4c24-11ea-8493-fff5dc4e5c55.png">

[2020-02-10 11:39] yogeshktm commented on #4879
As far as my findings Style customizations are now moved to UX tab. i have applied both available dark themes. company name is not hiding and visible fine now. Please refer screenshot.

@idris-rampurawala please review now and close the bug

![yogeshwaran - DEV Community 👩_💻👨_💻](https://user-images.githubusercontent.com/3961774/74146720-bf96fb80-4c27-11ea-92b7-704b4beb815f.png)

[2020-02-10 11:55] abdellani commented on #5970
When I disabled the react extension, the problem disappeared. I'm using the version 4.4.0 in both browsers.
**Firefox**
![Screenshot from 2020-02-10 12-48-32](https://user-images.githubusercontent.com/16113997/74147569-c3188b80-4c03-11ea-8557-ef056de9f3ed.png)
**Google Chrome**
![Screenshot from 2020-02-10 12-51-16](https://user-images.githubusercontent.com/16113997/74147692-0d9a0800-4c04-11ea-8f6

[2020-02-10 12:31] andrasbacsai commented on #5970
I think it's related to a [react-devtools issue](https://github.com/facebook/react/issues/16500) & probably because DEV.to using the older version of preact (8.5.3).

[2020-02-10 13:26] santoshyadav198613 commented on #5973
Hi Team,
I am planning to make my first contribution, can i take this issue?

[2020-02-10 13:36] #5980 closed

[2020-02-10 14:13] 12vanblart opened #5998 "Automatically Remove Reading List items if post no longer exists"
**Is your feature request related to a problem? Please describe.**

I was scrolling through my Reading list and there were a handful of older posts that I would click on and be taken to the 404 page. Going "back" to the reading list would lose my scroll placement and require a refresh to remove other articles that I had archived until I refreshed the page.

**Describe the solution you'd like**

It

[2020-02-10 14:35] rhymes commented on #5946
@citizen428 I think the biggest blocker we have now is the upgrade from Webpacker 3 to Webpacker 4, then we can definitely consider it!

[2020-02-10 14:40] rhymes commented on #1393
@luchiago not easily as development is not configured to deliver emails. We do use the following configuration in production:

https://github.com/thepracticaldev/dev.to/blob/d090ebf026bdedb0b052636d74f399cbc35a6c61/config/environments/production.rb#L110-L121

I think that if you want to test actual emails you'd have to subscribe to the free tier on Sendgrid - https://sendgrid.com/pricing/ - and co

[2020-02-10 14:43] rhymes commented on #5974
Hi @smortime, thanks a lot for this, it's definitely a heartfelt topic!

I'm going to close it as a duplicate of https://github.com/thepracticaldev/dev.to/issues/1856 - there's a longer discussion in there as well. Please feel free to add your thoughts there.

[2020-02-10 14:43] #5974 closed

[2020-02-10 15:03] rhymes commented on #5970
@abdellani @andrasbacsai as this is not related to our code I think it's safe for us to close it. We plan to upgrade to Preact X sometime in the future :)

[2020-02-10 15:03] #5970 closed

[2020-02-10 15:06] rhymes commented on #5973
@santoshyadav198613 thanks for volounteering but as this is a feature request and yet unapproved I would suggest working on already approved features, those that are labeled [ready for dev](https://github.com/thepracticaldev/dev.to/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22ready+for+dev%22+) are up for grabs

[2020-02-10 15:18] rhymes commented on #5998
Hi @12vanblart, I definitely have some of those entries, unfortunately it's a known issue: https://github.com/thepracticaldev/dev.to/issues/1641

I'm going to close this as a duplicate of the earlier issues, which also contains a conversation on what's going on. Let me know if it's not the case

[2020-02-10 15:18] #5998 closed

[2020-02-10 15:24] #5957 closed

[2020-02-10 16:35] #5917 closed

[2020-02-10 21:20] atsmith813 commented on #5951
I'll take this one 🙋‍♂️

[2020-02-10 21:38] maestromac commented on #5429
I too was unable to reproduce this error. My wild guess is this could be specific to your machine's font settings @gabrieleromanato

[2020-02-10 22:01] maestromac commented on #1393
Actually @luchiago , you can preview emails. Check out the doc at https://docs.dev.to/backend/previewing-emails/. What you have to do is respond to a comment on your local setup and make sure your background job is running (your Redis instance) then head to the email preview link and you should see it.

[2020-02-10 22:10] #5967 closed

[2020-02-10 22:14] atsmith813 commented on #5951
This one is very strange 🤔 I'm able to get the same error by forcing an invalid `ChatChannel` which supports your hunch (@mstruve).

I can't find a use case though where a `ChatChannel` is being created with invalid params. I'm wondering since this error has only happened twice if it's an edge case of some sort.

Following the stack trace, it looks like this all starts in the `chat_channels_contro

[2020-02-10 22:54] andreybleme opened #6010 "Share comments on social media"
I would like to be able to share in some social media such as Twitter, the comments I make in some dev.to posts.

A simple "share" button that creates a link for my comment, with a preview pointing to the article maybe, and the content of the tweet (or the post in the given social media) could be the comment itself.

[2020-02-10 23:48] rhymes commented on #5951
Pinging @sarthology who might know more

[2020-02-11 00:09] smortime commented on #5974
Thanks for the heads up @rhymes will take a look. Also going to play with more aggressive negative tag weights 👍

[2020-02-11 00:11] rhymes commented on #6010
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: for feature requests, please wait until we add a `ready for dev` label to the issue before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we wil

[2020-02-11 01:10] mstruve commented on #5951
I'm game for logging and waiting to see if it becomes a bigger problem.

[2020-02-11 01:21] citizen428 commented on #5946
Good to know, thanks @rhymes

[2020-02-11 03:47] idris-rampurawala commented on #4879
![image](https://user-images.githubusercontent.com/36815604/74209754-185da700-4caf-11ea-9722-845ffd0a28b2.png)

@yogeshktm Still not visible as expected. Check out the exact settings that I have applied in the description above and let me know.

[2020-02-11 05:57] scarlett8285 commented on #5886
Hey Michael,

Exactly what details can I provide you with? This is the only error I see
on my screen.

Best,

On Mon, Feb 10, 2020 at 1:18 PM Michael Kohl <notifications@github.com>
wrote:

--
Best,
Scarlet Rose

[2020-02-11 08:23] lightalloy opened #6015 "Move sponsorships management from /admin to /internal"
Currently, the set up is done via `/admin`, but it would be more convenient to have it in `/internal`.
It would be nice to improve the form, like replace text fields for `status` and `level` with selects.

[2020-02-11 08:40] lightalloy opened #6016 "Add fields for nav images to organization settings"
Organizations have `nav_image_url` and `dark_nav_image_url` in the database which are used for the light or dark themes accordingly when displaying sponsors.
We need to add fields for them to the org settings (`/settings/organization`) so that org admins could add backgrounds by themselves.

[2020-02-11 09:38] lightalloy opened #6017 "Fix sponsoring a tag when an expired sponsorship for this tag exists"
If there is an inactive sponsorship for the tag, it's not possible to create a new sponsorship on this tag.
This is caused by validation which doesn't pay attention to expiration date:
https://github.com/thepracticaldev/dev.to/blob/4fe4c4d791f3e911371767d8c1b867bb280a117e/app/models/sponsorship.rb#L28-L33

[2020-02-11 10:22] sarthology commented on #5951
Haven't encountered this before.

[2020-02-11 10:36] lightalloy opened #6018 "Expiration date should be considered when displaying sponsorship info"
If there is an organization sponsorship of a certain type, a user sees information like this:
![изображение](https://user-images.githubusercontent.com/30115/74229158-dd6d6a80-4cd2-11ea-9ee3-17e9598cd3b6.png)
But if the sponsorship is expired, it doesn't affect the information.
Also, the user is not able to manually renew the subscription in this case because:
- for the tag sponsorship, this tag do

[2020-02-11 13:26] mstruve commented on #5951
Closing since we are tracking in Honeybadger and no further action needs to be taken. Will re-open if we determine its worth fixing.

[2020-02-11 13:26] #5951 closed

[2020-02-11 14:05] yogeshktm commented on #4879
Hi  @idris-rampurawala

There is no such settings available in misc tab for me. thats why i changed the available dark modes and check the same. please refer screenshot.

![Settings - DEV Community 👩_💻👨_💻](https://user-images.githubusercontent.com/3961774/74243326-9056bc00-4d05-11ea-8f77-293be0afbab3.png)

[2020-02-11 18:21] pkfrank opened #6023 "Add placeholder text to textarea on /internal/badges"
**Is your feature request related to a problem? Please describe.**
As an Admin that uses `/internal/badges`, I sometimes forget whether the username input should include an `@` sign or not.

**Describe the solution you'd like**
Add placeholder text to the badge username field: `user1, user2, user3` to reduce that tiny bit of cognitive load in remembering the right syntax.

**Describe alternatives

[2020-02-11 19:33] #5899 closed

[2020-02-11 22:34] maestromac commented on #5883
Closing due to lack of info. Please feel to add/update to this issue and we'll promptly reopen this.

[2020-02-11 22:34] #5883 closed

[2020-02-11 23:09] maestromac commented on #5934
Thanks for this issue @jennapederson ! Technically speaking, this is working as intended. Something we might want to avoid is letting a user accidentally re-publish an old (1 year+) article. Perhaps @benhalpern have better idea of this.

[2020-02-11 23:29] michael-tharrington opened #6030 "Need to update API documentation link in account settings"
A DEV user recently pointed out that the link to DEV API documentation (https://dev.to/api) available in [account settings](https://dev.to/settings/account) is out of date and leads to an offline page.

Instead we should be linking to https://docs.dev.to/api/.

**Screenshots**

Here's a picture of the link that needs to be changed in account settings:

<img width="919" alt="Image 2020-02-11 at 5 2

[2020-02-12 06:49] citizen428 commented on #5886
Hi @scarlett8285, when you answer to Github notifications via email we do not receive the attachments here in the issue tracker, so please send an email to yo@dev.to instead. Hope that clears it up a bit.

[2020-02-12 15:32] maestromac commented on #5740
Technically Resolved with https://github.com/thepracticaldev/dev.to/pull/5786

[2020-02-12 15:32] #5740 closed

[2020-02-12 20:08] #6030 closed

[2020-02-12 20:25] #4577 closed

[2020-02-12 22:01] vaidehijoshi opened #6049 "Allow "dev account" to be safely set by an admin"
**Is your feature request related to a problem? Please describe.**

For security and safety purposes, we recently [decided to move away](https://github.com/thepracticaldev/dev.to/pull/6009) from letting admins explicitly set the "staff user" ID from the `/internal/config` pages. For the time being, we plan to just have this be set as an ENV var directly as `STAFF_USER_ID`, with the hope that the p

[2020-02-13 00:27] benhalpern commented on #6049
I feel like many of the configs in this area are _just about as dangerous_ as `STAFF_USER_ID` so our current strategy of _restrict access and be super duper careful_ is not a viable solution and it's very fabulous that you are raising the concern.

I think more people have access to env vars than this dashboard and we change those more often, so in some ways it might not be safer to go that route.

[2020-02-13 01:28] vaidehijoshi commented on #6049
@benhalpern This seems okay to me. Sorry for the back and forth, it just seemed like something we should fix immediately so I opted to remove the ability to change it from the page.

Did not know about this!

I'm okay sticking with the `SiteConfig` as long as we have guards against Bad Things. Down the road (closer to opening up to other communities), I do think it would be great to make it possib

[2020-02-13 06:11] jacobherrington commented on #5191
@michael-tharrington Is this issue resolved? I think #5392 closed it, but I want to make sure. :smile:

[2020-02-13 06:12] jacobherrington commented on #5012
@pkfrank Can we consider this issue resolved, or are there additional features that need to be knocked out before we close it?

[2020-02-13 13:32] ahmedash95 opened #6057 "Allow hyphen `-` in article tags"
Hello Folks,

One of the problems I've found in dev.to and I wish to get it solved, that It's really hard to write tags with alphaNumeric validations only. there is no way to write eg: design-patterns, dependency-injection, etc..
![image](https://user-images.githubusercontent.com/8272048/74439840-3c66e700-4e6d-11ea-845e-d8a5b3e6cc53.png)

a good solution is to support at least hyphen so it's easy

[2020-02-13 13:55] michael-tharrington commented on #5191
Good call, @jacobherrington! This one is indeed good to close. 👍

[2020-02-13 13:55] #5191 closed

[2020-02-13 14:05] benhalpern commented on #6049
I don't think there are any perfectly right answers. I love that this is being addressed and I'm happy that decisions were made on principle even if we shift once again. This is bringing light to a situation that shouldn't have gone much longer in the current setup. Having someone accidentally change a config is probably one of my biggest nightmares. 😭

[2020-02-13 14:06] pkfrank commented on #5012
@jacobherrington I think we are all good.  @michael-tharrington any comments as the most frequent user of this area of the site?

[2020-02-13 14:12] michael-tharrington commented on #5012
I think we're good here too!

[2020-02-13 14:12] #5012 closed

[2020-02-13 14:39] rhymes commented on #6057
Hi @ahmedash95 thanks for your report!

I think this is a known issues and if you don't mind I'm going to close it as a duplicate of https://github.com/thepracticaldev/dev.to/issues/2347

It'd be great if you could add to the discussion there.

Thanks again!

[2020-02-13 14:39] #6057 closed

[2020-02-13 14:52] rhymes commented on #6049
In addition to complicating the path to "accidental destruction", we could also rekindle the idea of adding audit logs.

There was an attempt at adding auditing to admin operations but it's implemented only for moderators I think: [Moderator audit logs](https://github.com/thepracticaldev/dev.to/pull/3449)

cc @vaidehijoshi @benhalpern

[2020-02-13 15:22] gonzar11 commented on #5964
Hey @mstruve can we remove `touch: true` option from association and just touch the collection inside of `after_commit` callback. .Something like this:

[2020-02-13 16:59] mstruve commented on #5964
I am assuming it is there for a reason but I am not sure as I have not really dug into that code. If you think that is an option then definitely explore it and dig in more to see if its needed.

[2020-02-13 17:35] maestromac commented on #5831
Resolved with https://github.com/thepracticaldev/dev.to/pull/6056

[2020-02-13 17:35] #5831 closed

[2020-02-13 18:27] benhalpern commented on #6049
@rhymes yes, we have a small component of mod audit logs going in as part of @Zhao-Andy and @jacobherrington project so that should help ween us that way.

[2020-02-13 18:47] benhalpern opened #6065 "@thread mention"
**Is your feature request related to a problem? Please describe.**

As an admin, tag mod, or author of a post, I might want to leave a comment which addresses everyone who has already commented in the thread.

It might be that I want to weigh in on a topic I am late to as a site admin and give everyone my thoughts. I might want to let the whole thread know that because things are getting heated we

[2020-02-13 19:05] kingdamian42 opened #6067 "Setting for disabling autoplay"
**Is your feature request related to a problem? Please describe.**
Auto-playing videos are not great, especially when browsing at work.

**Describe the solution you'd like**
Please provide a setting in misc to allow the disabling of auto-play videos

**Describe alternatives you've considered**
I can keep my sound off at all times I guess?

**Additional context**

[2020-02-13 20:10] #6023 closed

[2020-02-14 03:53] citizen428 commented on #6067
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: for feature requests, please wait until we add a `ready for dev` label to the issue before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we wil

[2020-02-14 09:10] rhymes commented on #4149
I think we can consider this closed by #6003 and https://github.com/thepracticaldev/dev.to/pull/6058

We can always increase data in further PR if we need to

[2020-02-14 09:10] #4149 closed

[2020-02-14 09:51] ludwiczakpawel opened #6072 "Reaction count disappears after scrolling"
**Describe the bug**

There're situations in which reaction count disappear. It happens locally as well as on prod. On page load everything looks fine, but when I scroll down the feed, some DOM elements are being refreshed (reloaded?) and they no longer contain reactions count in the feed card. Here's a video showing feed on /latest: https://d.pr/v/qTyUUU

From what I noticed, I believe that happe

[2020-02-14 11:23] scarlett8285 commented on #5886
Got It!

Thanks.

On Wed, Feb 12, 2020 at 12:19 PM Michael Kohl <notifications@github.com>
wrote:

--
Best,
Scarlet Rose

[2020-02-14 12:32] Ridhwana opened #6075 "Run a manual task on production to re-index existing articles."
We need to run this task on production to re-index the the articles with the approved tags. Something like Article.trigger_index(article_model, false). This needs to be done on production.

[2020-02-14 12:35] Ridhwana commented on #6075
@benhalpern we need to run this task on production to re-index the the articles with the approved tags. Something like `Article.trigger_index(article_model, false)`

[2020-02-14 14:37] joro550 opened #6077 "Image not being uploaded into the site"
**Describe the bug**
When trying to upload an image, I choose the file I want to upload and click the choose file button, choose my image and click done, where it would normally give a link to my new image it closes the black dialogue box without any error or message as to whether it was successful or has errored?

**To Reproduce**
Write a post
click image button
choose image
click done

**Expecte

[2020-02-14 14:56] rhymes commented on #6077
Hi @joro550, could it be that the image is too big?

Before clicking done it should transform the black overlay like this:

![Screenshot_2020-02-14 New Post - DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/74541774-8e2d7100-4f42-11ea-8fd4-6ffef50ffcd6.png)

Do you get any particular errors in the console?

[2020-02-14 15:23] joro550 commented on #6077
So memory wise the image is 63.3KB

all thoughtthe dimentions are 1920 x 1030, maybe that is the issue?

the overlay just hangs after choosing the file:
![image](https://user-images.githubusercontent.com/1705979/74543801-f168d480-4f3d-11ea-9313-49912850cac5.png)

no errors in the console that I can see

[2020-02-14 15:27] rhymes commented on #6077
no, we have a file size limit but not on dimensions, I just tried with https://dummyimage.com/1920x1030.jpg and it worked :/

Can you try with disabled extensions? Or with a different browser?

[2020-02-14 15:33] joro550 commented on #6077
Oh hey, it just worked in firefox 😄

![image](https://user-images.githubusercontent.com/1705979/74544616-553fcd00-4f3f-11ea-918e-9b15324a19ca.png)

[2020-02-14 15:34] rhymes commented on #6067
Hi @kingdamian42, a question, which browser are you using?

[2020-02-14 15:35] joro550 commented on #6077
okay I just deleted my browser data through chrome settings and it is now working on Chrome, browsers are super weird.

Thanks for being with me through ths venture, I'll close the issue 😢

[2020-02-14 15:35] #6077 closed

[2020-02-14 18:41] atsmith813 commented on #5305
And with the merging of #6071, this is entirely complete - `delayed_job` is gone. A big shout out and thank you to everyone that helped out! It has been a pleasure to see the community contributing so strongly 💯.

[2020-02-14 18:41] #5305 closed

[2020-02-14 19:40] pkfrank opened #6081 "Profile image from article liquid tag not displaying when nested as part of a liquid tag comment"
**Describe the bug**

Comment A references a DEV article using the `{% link %}` liquid tag.

Article and/or Comment B references Comment A using the `{% devcomment %}` liquid tag.

The article links contained with Comment A are not displaying the profile image correctly.

**Expected behavior**

Images show up correctly.

**Additional Info**:
- A live example is visible here: https://dev.to/peter/s

[2020-02-14 19:44] pavelloz commented on #5836
Cant wait :)

With the bugged tag ignore it makes it very hard to use feed.

<img width="815" alt="image" src="https://user-images.githubusercontent.com/546845/74562206-9bf6ec80-4f6a-11ea-8996-2a6f351b58ba.png">

<details>
<img src="https://user-images.githubusercontent.com/546845/74562140-723dc580-4f6a-11ea-82c9-858868622993.jpg"/>
</details>

[2020-02-14 19:53] maestromac commented on #5977
I'm really excited about this! I've tried this many moons ago but I was unable to get it working.

[2020-02-14 19:58] maestromac commented on #5775
I think this is no longer an issue. Let's record this as a one-off and re-open the issue if it ever comes up again.

[2020-02-14 19:58] #5775 closed

[2020-02-14 21:45] Zhao-Andy commented on #6081
This is just off the top of my head but I believe the issue is that the inner Liquid tag embed (top 5 DEV comments) is calling our Cloudinary image method and therefore a double nested URL happens. Here's an example from production from my dev tools' Network tab, where the URL shows up twice:

![Screen Shot 2020-02-14 at 2 28 37 PM](https://user-images.githubusercontent.com/17884966/74569848-6261b

[2020-02-14 22:18] Zhao-Andy commented on #3234
Ah nope, feel free to go ahead! I believe this is still an issue but not 100% sure

[2020-02-14 23:27] maestromac commented on #5648
This was resolved with https://github.com/thepracticaldev/dev.to/pull/6019

[2020-02-14 23:27] #5648 closed

[2020-02-14 23:37] maestromac commented on #5245
This was a temporary hiccup during our app shell model migration. It should no longer be an issue but please let us know right away if any link is acting up.

Closing.

[2020-02-14 23:37] #5245 closed

[2020-02-15 03:07] autoferrit commented on #1856
Off an on for a few months, I have looked at ways to block tags. I was filling a feature request to do this and it showed related issues. Having read this and a few others, I did not even know about the feed weights until now. So I think discoverability of that option is another issue as well.
That being said, since we do not want to add another button to the page where we select `[Follow]`, Why n

[2020-02-15 09:46] rhymes opened #6085 "bin/update breaks at the Elasticsearch step"
**Describe the bug**

It happens quite often (but sometimes it doesn't) so I'm not sure if the issue lies in the sequencing of steps the script does or that there should be some check before running what the ES step does

**To Reproduce**

1. ran `bin/update` after merging the following PRs:

[code]

2. got the following error:

[code]

**Expected behavior**

I expect `bin/update` to never throw e

[2020-02-15 10:42] mzaini30 opened #6086 "Home page that is constantly being updated"
**Is your feature request related to a problem? Please describe.**

When I opened my homepage, I saw that the posts on the homepage did not change. So, I feel confused, what I want to read because all these posts I have read.

**Describe the solution you'd like**

I want a home page like Facebook or Quora that always displays a different post every time I refresh / reload.

**Describe alternatives

[2020-02-15 11:04] rhymes commented on #6086
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: for feature requests, please wait until we add a `ready for dev` label to the issue before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we wil

[2020-02-15 18:34] azzcatdesign opened #6087 "Add CodePen URL field to Profile page"
**Feature Request**

If we're talking to developers, we should include CodePen profile. So many of us use CodePen, both free version and paid. Even use this for job application/code challenges. Many of us work out reduction solutions to code problems, as well as search for others' solutions to common CSS/HTML/JS problems. Not to mention, there's some really cool CSS/JS that people share on CodePen

[2020-02-15 22:05] rviscomi commented on #3389
+1 I think this would be a great feature! I'm a member of the [Google Web Dev](https://dev.to/chromiumdev) and [HTTP Archive](https://dev.to/httparchive) orgs and the ability to allow guest posts would really help broaden the orgs' perspectives.

I can also imagine a different approach where an org member can take any public post and ask the author's permission to grant co-ownership to their org,

[2020-02-16 00:06] rhymes commented on #6087
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: for feature requests, please wait until we add a `ready for dev` label to the issue before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we wil

[2020-02-16 08:34] brandelune opened #6090 "Comment in a thread does not have a page but is not erased"
**Describe the bug**

Rachel Soderberg's June 24 '19 comment here:
https://dev.to/espoir/how-do-you-handle-unproductive-days-at-work-2heh

does not open a page when clicking on the date.

Also, when I tried to write a comment below her's I got a "markdown error..." see attachment.

**To Reproduce**

1) click on the date of her comment → the "there is no page" page appears
2) try to submit a commen

[2020-02-16 10:56] mzaini30 opened #6091 "Show random posts"
![Alt Text](https://dev-to-uploads.s3.amazonaws.com/i/62l5xjh6h2ky8pfnlqsf.jpg)

[2020-02-16 18:01] teaglebuilt opened #6092 "List of events in api docs"
My issue is not related to a problem. I have a question about the list of possible events in creating a webhook.

In the documentation I only found three events. Article updated, destroyed, or created. Are there any other possible events?

I would like to create a webhook for comments. I would like to create a webhook that triggers a netlify build upon certain comments. Like a code challenge solut

[2020-02-16 18:16] b3u commented on #5172
I think that using the associated project id, instead of the user/repo, would work better (i.e. `{% gitlab project:16849821 %}`) because it requires no authentication. See <https://gitlab.com/api/v4/projects/16849821>

[2020-02-16 18:42] JuanVqz commented on #5808
I followed your steps and it works, thanks!

Would I take this issue?

I have a question, What do you prefer?before saving erase spaces and join

[2020-02-16 19:33] rhymes commented on #6091
Hi @mzaini30, thanks for requesting this feature. As I believe it's a duplicate of https://github.com/thepracticaldev/dev.to/issues/5435 I'm going to close this.

Let me know if it's not the case.

[2020-02-16 19:33] #6091 closed

[2020-02-16 19:39] rhymes commented on #6092
Hi @teaglebuilt! At the moment there are only those events that are emitted to trusted applications that connect to the API through OAuth.

[They were added](https://github.com/thepracticaldev/dev.to/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3Alightalloy+webhooks+is%3Aclosed+) as part of a project for the Stackbit integration.

Right now it's not possible to get notified about a comment on a specific

[2020-02-16 20:04] teaglebuilt commented on #6092
ok thanks

[2020-02-16 20:04] #6092 closed

[2020-02-16 21:07] ryan3E0 opened #6094 "Docker - Error when starting the Rails server"
**Describe the bug**

I am trying to get the Docker setup running, but I am running into this error. Please let me know if there is something I should be doing differently on my end. Thanks in advance!

[code]

Full log:

<details>
  <summary>Click to expand...</summary>

[code]
</details>

**To Reproduce**

- Clone the latest dev.to repository.
- Follow the instructions on [https://docs.dev.to/in

[2020-02-16 22:29] maestromac commented on #5295
Hello @developius , can you double check if this is still an issue?

[2020-02-17 00:44] gajus commented on #2250
Is the current behaviour to return all comments no matter how many there are or is there some sort of pagination?

[2020-02-17 01:08] gajus opened #6095 "Dev.to comments API does not describe when a comment was published"
Example:

https://dev.to/api/comments?a_id=95907

There is no information about when each comment was published.

This information is required for integration into http://gitspo.com/.

[2020-02-17 01:59] gajus opened #6096 "What is the hash used for the IDs?"
dev.to API describes this post ID https://dev.to/gajus/ultimate-guide-to-concurrent-logging-in-node-js-18h7 as `252491`, but the ID used in the URL is `18h7`. How is `18h7` derived from `252491`?

[2020-02-17 02:00] gajus commented on #6095
On a similar note, the API does not provide the numeric ID.

Related: https://github.com/thepracticaldev/dev.to/issues/6096

[2020-02-17 03:56] citizen428 commented on #6096
Hi @gajus, next time you have a question like this, please feel free to create a post on DEV instead, the issue tracker is not really the place for this. However. to answer your question, it's nothing sophisticated, just

[code]

The relevant code can be found in [`Article#title_to_slug](https://github.com/thepracticaldev/dev.to/blob/3a46635c343ffeab5abc553e95bc6d800e615282/app/models/article.rb#L

[2020-02-17 03:57] #6096 closed

[2020-02-17 04:01] citizen428 commented on #6094
Hi @ryan3E0, thanks for your report. As the error message indicates, Please run rake data_updates:run`. To do this within our Docker Compose workflow the command is

[code]

I already updated the docs, but they haven't been deployed yet.

[2020-02-17 04:01] #6094 closed

[2020-02-17 04:08] citizen428 commented on #6095
Hi @gajus!

Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: for feature requests, please wait until we add a `ready for dev` label to the issue before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/os

[2020-02-17 04:15] citizen428 commented on #6090
Hi @brandelune!

Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: for feature requests, please wait until we add a `ready for dev` label to the issue before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticald

[2020-02-17 04:41] gajus commented on #6096
To avoid this in future, I suggest adding an issue template for a question and use it to explain where questions should be asked. Will prevent these interactions.

[2020-02-17 04:42] gajus commented on #6095
For anyone who needs a workaround:

[code]

[2020-02-17 04:45] citizen428 commented on #6096
We do have issue templates for bugs and feature requests:

<img width="942" alt="Screen Shot 2020-02-17 at 11 44 36" src="https://user-images.githubusercontent.com/47985/74624433-fb2b4b80-517a-11ea-99f8-1463562cbf45.png">

We generally don't receive many issues of other types, but we'll take your consideration into account, thank you.

[2020-02-17 05:05] citizen428 commented on #6085
Did you run low on disk space by any chance? Because if you do ES will go into a read-only mode.

[2020-02-17 05:08] citizen428 commented on #6081
@Zhao-Andy Pretty sure you're correct, right-clicking the broken image and "Copy image location" gives

https://res.cloudinary.com/practicaldev/image/fetch/s--zsrrCR9c--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://res.cloudinary.com/practicaldev/image/fetch/s--DV-yC5eK--/c_limit%252Cf_auto%252Cfl_progressive%252Cq_auto%252Cw_880/https://res.cloudinary.com/practicaldev/image/fetch/s-

[2020-02-17 07:32] rhymes commented on #2250
Hi @gajus, comments are not paginated, we return the entire tree of comments threads

[2020-02-17 07:43] rhymes commented on #6085
@citizen428 how low is low? I have 30 GB available right now and it's still broken 👀

[2020-02-17 09:38] developius commented on #5295
@maestromac nope, appears fixed! 🎉

[2020-02-17 09:47] rhymes commented on #5295
Thanks @developius!

[2020-02-17 09:47] #5295 closed

[2020-02-17 11:08] osde8info opened #6099 "Add "already following" info on the dashboard's list of followers"
**Is your feature request related to a problem? Please describe.**

please add IM ALREADY FOLLOWING FLAG to https://dev.to/dashboard/user_followers list

**Describe the solution you'd like**
please add IM ALREADY FOLLOWING FLAG to https://dev.to/dashboard/user_followers list

**Describe alternatives you've considered**
NONE

**Additional context**

please add IM ALREADY FOLLOWING FLAG to https://d

[2020-02-17 11:11] osde8info commented on #6087
how about DEVIANTART & PINTEREST links TOO

[2020-02-17 13:18] rhymes commented on #6087
Hi @osde8info, as this issue is about CodePen I think it'd be better to open feature requests for each service you'd like to see considered

[2020-02-17 13:20] rhymes commented on #6099
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: for feature requests, please wait until we add a `ready for dev` label to the issue before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we wil

[2020-02-17 13:33] bhavaniravi commented on #5973
+1 for this feature

[2020-02-17 14:06] maestromac commented on #5429
Seeing that this most likely isn't an issue anymore, I'm closing the issue. Please do let us know this issue persist!

[2020-02-17 14:06] #5429 closed

[2020-02-17 15:43] osde8info opened #6117 "Add DeviantArt URL field to Profile page"
**Is your feature request related to a problem? Please describe.**

same as https://github.com/thepracticaldev/dev.to/issues/6087#issuecomment-586989462 but for DEVIANT ART
**Describe the solution you'd like**

same as https://github.com/thepracticaldev/dev.to/issues/6087#issuecomment-586989462 but for DEVIANT ART
**Describe alternatives you've considered**

same as https://github.com/thepractical

[2020-02-17 15:44] osde8info opened #6118 "Add Pinterest URL field to Profile page"
**Is your feature request related to a problem? Please describe.**

same as https://github.com/thepracticaldev/dev.to/issues/6087#issuecomment-586989462 but for PINTEREST
**Describe the solution you'd like**

same as https://github.com/thepracticaldev/dev.to/issues/6087#issuecomment-586989462 but for PINTEREST
**Describe alternatives you've considered**

**Additional context**

[2020-02-17 15:46] thomasbnt commented on #1061
A similar concern on this subject, I have 74 registered articles, only I did the cleanup a little while ago and I'm at 4. It always shows me the wrong number even after forcing the empty cache and a reconnection to my account.
![image](https://user-images.githubusercontent.com/14293805/74668232-11e69800-51a5-11ea-8ec3-2df3a8b383b6.png)

![image](https://user-images.githubusercontent.com/14293805/7