[2022-05-17 11:59] #17398 closed

[2022-05-17 12:33] msarit commented on #17574
@amywtlin Thanks for this update.

Question: Seeing as we're no longer rendering one brand color over another, what now is the purpose for the contrast check?

In my perusal of the codebase, we seem to use User-selected brand color for the background of their profile page (no text displayed) or the borders of their profile Embed (again, no text on the color).

[2022-05-17 13:09] ludwiczakpawel commented on #17702
I'm not sure about the implementation details but I'm sure we will not ship it with flashing default theme first as it's terrible experience IMO :)

[2022-05-17 14:02] msarit commented on #17389
Closing this issue as taken care of here: https://github.com/forem/forem/pull/17602

[2022-05-17 14:02] #17389 closed

[2022-05-17 16:36] msarit opened #17705 "Mod Panel Updates: "Adjust Tags" action"
Regarding the "Adjust Tags" action in the Mod Panel:

| Mod Role | Admin + Trusted | Tag Mod | Trusted Only
| ----------- | ----------- | ----------- | ----------- |
| No Changes | No Changes | No Changes | Does Not Appear |

Mockups: https://www.figma.com/file/yhg9HTZDFIeWuvBt9ygrss/Moderation?node-id=597%3A528

[2022-05-17 16:37] msarit opened #17706 "Create FeatureFlag and place moderator role assignment behind it"

[2022-05-17 16:37] msarit opened #17707 "Allow admins to assign the Moderator Role to users in `/admin` (Special role)"
This ability will be behind a FeatureFlag (https://github.com/forem/forem/issues/17706)

Implemented by https://github.com/forem/forem/pull/17759

[2022-05-17 16:49] aciccarello commented on #1736
I would love to see this feature as well.

[2022-05-17 16:50] msarit opened #17708 "Mod Panel Updates: "Unpublish (single) Post" action"
Regarding the "Unpublish Post" action in the Mod Panel:

| Mod Role | Admin + Trusted | Tag Mod | Trusted Only
| ----------- | ----------- | ----------- | ----------- |
| Move to Post Actions | Move to Post Actions | Does Not Appear | Does Not Appear |

Mockups: https://www.figma.com/file/yhg9HTZDFIeWuvBt9ygrss/Moderation?node-id=597%3A528

[2022-05-17 16:51] msarit opened #17709 "Mod Panel Updates: "Unpublish All Posts" action"
Regarding the "UnPublish All Posts" action in the Mod Panel:

| Mod Role | Admin + Trusted | Tag Mod | Trusted Only
| ----------- | ----------- | ----------- | ----------- |
| Move to Mod Actions | Move to Mod Actions | Does Not Appear | Does Not Appear |

Mockups: https://www.figma.com/file/yhg9HTZDFIeWuvBt9ygrss/Moderation?node-id=597%3A528

---

### Guidance on using Preact for the modal (from

[2022-05-17 16:51] msarit opened #17710 "Mod Panel Updates: "Feature Post" action"
Regarding the "Feature Post" action in the Mod Panel:

| Mod Role | Admin + Trusted | Tag Mod | Trusted Only
| ----------- | ----------- | ----------- | ----------- |
| Does Not Appear | Move to Post Actions | Does Not Appear | Does Not Appear |

Mockups: https://www.figma.com/file/yhg9HTZDFIeWuvBt9ygrss/Moderation?node-id=597%3A528

[ ] Update Community Moderation guide
[ ] Create ticket to add M

[2022-05-17 16:52] msarit opened #17711 "Mod Panel Updates: "Flag User" action"
Regarding the "Flag User" action in the Mod Panel:

| Mod Role | Admin + Trusted | Tag Mod | Trusted Only
| ----------- | ----------- | ----------- | ----------- |
| Move to Mod Actions | Move to Mod Actions | Move to Mod Actions | Move to Mod Actions |

Mockups: https://www.figma.com/file/yhg9HTZDFIeWuvBt9ygrss/Moderation?node-id=597%3A528

---

This work is BLOCKED by https://github.com/forem/fo

[2022-05-17 16:53] msarit opened #17712 "Mod Panel Updates: "Suspend & Unsuspend User" action"
Regarding the "Suspend User" action in the Mod Panel:

| Mod Role | Admin + Trusted | Tag Mod | Trusted Only
| ----------- | ----------- | ----------- | ----------- |
| Move to Mod Actions | Move to Mod Actions | Does Not Appear | Does Not Appear |

Mockups: https://www.figma.com/file/yhg9HTZDFIeWuvBt9ygrss/Moderation?node-id=597%3A528

---

### Guidance on using Preact for the modal (from @aitchi

[2022-05-17 16:56] capjamesg commented on #1736
I would love to see this feature too.

[2022-05-17 18:29] maestromac commented on #17306
After speaking with @JennieOcken and more investigation, we decided that no further action is needed.

The reason is that, with Jamie's fix in place, the form is already taking the string as is. Even if the user attempt to enter regex, the input is escaped and become a string literal. The form already provide proper description and the admin doc makes no mention of regex as a feature.

[2022-05-17 18:29] #17306 closed

[2022-05-18 01:49] amywtlin opened #17713 "Embed syntax error not stopping a post being saved"
# Current behavior

I was testing a `user` embed, using the wrong syntax:
![Screen Shot 2022-05-18 at 9 40 39 AM](https://user-images.githubusercontent.com/11730007/168939788-1eb27d4d-28fd-41f9-9d99-4cc34a3718a1.png)

After saving it, the whole post is gone and replaced with the error message:
![Screen Shot 2022-05-18 at 9 39 59 AM](https://user-images.githubusercontent.com/11730007/168939715-4419

[2022-05-18 02:48] amywtlin commented on #17574
@msarit thanks for pointing it out. I finally had the capacity to catch up with all details in #17564 and I need to confirm the following with Pawel before I can unblock you, hence I am assigning this issue to Pawel, and will assign back to you after we confirm how we want to proceed.

@ludwiczakpawel: did we decide to not use brand color in the new style follow button for liquid tags anymore?

I

[2022-05-18 03:03] amywtlin commented on #14807
Thanks so much! Yes, please ping me any time if you need me and let's flesh out things ❤️

[2022-05-18 05:02] amywtlin commented on #17707
@msarit This will be a special role.

[2022-05-18 05:39] amywtlin commented on #17008
Closing this one as we will handle this with the Dashboard updated design.

[2022-05-18 05:41] #17008 closed

[2022-05-18 07:40] aitchiss opened #17714 "Markdown toolbar: Overflow indication for mobile screen"
The markdown toolbar scrolls horizontally on small screens (e.g. mobile size). How obvious this functionality is depends no the exact size of the mobile screen - e.g. if a button gets 'cut off' in the middle, and therefore shows that it's scrollable.

When we launched the toolbar, several users questioned 'missing' buttons in the mobile viewport, because they weren't aware of the scroll. Therefore

[2022-05-18 07:48] aitchiss opened #17715 "More keyboard shortcuts: headlines, code, blockquote"

[2022-05-18 07:52] aitchiss opened #17716 "Markdown toolbar: auto-continue ordered and unordered lists"
The markdown toolbar currently has formatters for both ordered and unordered lists. Clicking the button will convert any highlighted text into a list by inserting `-` or e.g. `1.` before each item. If no text is highlighted then an empty list is started.

We'd like to enhance this functionality by ensuring that as a user types their list, and presses `Enter`, we automatically insert the next line

[2022-05-18 09:16] ludwiczakpawel commented on #17574
#17564 is in fact about stopping using it, isn't it?
As mentioned in the description also, the reason why we kept "branded" buttons of liquid tags is because it was a bit hard to update them at the time. But the intention was to deprecate branded buttons and only use the ones from Crayons.

As mentioned above: there was a decision to only use Crayons buttons whenever possible and stop using ones w

[2022-05-18 10:26] aitchiss opened #17717 "Improve image uploading flow (more)"

[2022-05-18 10:41] aitchiss opened #17718 "Better logic for syntax insertion depending on cursor position (more)"

[2022-05-18 11:09] aitchiss opened #17719 "Automatically create links when you hit <code class="notranslate">CMD+V` (assuming you have URL in your clipboard) and have piece of text highlighted."

[2022-05-18 11:14] aitchiss commented on #14807
I've converted those tasks to issues now 😄  NB a couple I think need product input (e.g. deciding what shortcuts should be), but I've add labels to them. I also initially added the "Forem team" label but then removed that because I reckon they could be nice community contributions too

[2022-05-18 11:51] msarit commented on #17713
I'll work on this.

[2022-05-18 18:34] MdSahil-oss commented on #17718
@aitchiss these features looks interesting to me and I'd like to add them in dev text editor.

[2022-05-18 20:29] #17683 closed

[2022-05-19 01:58] amywtlin commented on #17389
@codercatdev Hey - after @msarit fixed #17564, I tried embedding again your `user` embed. It is now accessible and using the new styling (we are moving away from branded `follow` buttons):

![Screen Shot 2022-05-18 at 10 16 49 AM](https://user-images.githubusercontent.com/11730007/168943671-1ce56d83-afd4-4239-9dfd-f3d1455a81b6.png)

The one you had in [your original post](https://dev.to/builderio/

[2022-05-19 07:48] amywtlin commented on #17714
@ludwiczakpawel Any preferences on the design? I have seen the fade effect more, but honestly, having either is good enough for me. If you also don't have a preference, I'll just make a call.

[2022-05-19 12:50] sethaxen opened #17724 "Cannot use account created using GitHub account"
**Describe the bug**

I logged into https://forem.julialang.org using only my GitHub account. I was able to edit my profile and set my profile picture. However, if I click on [my profile](https://forem.julialang.org/sethaxen) I get a 404 error. When I react to a post, I get a pop-up saying "Your reaction could not be updated due to a server error". The administrator cannot see that my account exis

[2022-05-19 13:05] #17724 closed

[2022-05-19 17:39] #17448 closed

[2022-05-19 17:40] #17447 closed

[2022-05-19 18:32] devaniljr commented on #13728
What would be the right approach to solve this issue?

[2022-05-19 19:09] dscottS3 commented on #16455
closing this issue as the following three PRs gets us a majority of the way there. we can revisit the need of using server side resources to scale images if the implemented solution turns out to be less than ideal.

https://github.com/forem/forem/pull/17512
https://github.com/forem/forem/pull/17502
https://github.com/forem/forem/pull/17347

[2022-05-19 19:09] #16455 closed

[2022-05-20 03:08] amywtlin commented on #16455
@dscottS3 It looks like we implemented something but not all things. Can you give me a summary of what the new expected behavior looks like? Thanks!

[2022-05-20 13:36] aitchiss opened #17730 "Cover images in feed have a grey border"
I didn't notice this when reviewing the recent PRs around feed cover images, but it became more visible when I saw a post on DEV which had a predominantly white background:

![post from Ben with cover images featuring a mostly white background; a grey border surrounds it](https://user-images.githubusercontent.com/20773163/169538872-a78d9b91-f18e-4f6f-a90d-db634f3c57f1.png)

You can see there's a g

[2022-05-20 14:01] rt4914 opened #17731 "Minor bugs in PR Template"
**Describe the bug**

In PR template there are two links at the top which can be improved:
1. https://github.com/forem/forem/blob/main/CONTRIBUTING.md#create-a-pull-request - This link is no longer valid.
2. https://github.com/forem/forem/blob/main/CODE_OF_CONDUCT.md. - This link has a full-stop at the end of the link which can be removed for easy selection if needed.

**To Reproduce**

1. Go to t

[2022-05-20 16:15] michael-tharrington commented on #17710
Ooo might I have permission to look at that figma file? Interested how this will work in regards to a convo/request I was making earlier today - https://forem-team.slack.com/archives/CFNNH3BFA/p1653055217359409

[2022-05-20 16:16] michael-tharrington commented on #17710
I think you may be solving the problem I brought up! 🙌

[2022-05-20 18:32] Link2Twenty commented on #17730
This is caused by `object-fit: scale-down;` it's not actually a border but the image has a background colour and that is becoming visible.

https://github.com/forem/forem/blob/dbeb4a5acab200fcde40963868dafab5809f4a98/app/assets/stylesheets/views/article.scss#L30-L37

[2022-05-20 18:41] Link2Twenty commented on #17719
@MdSahil-oss I think it's a feature request as opposed to a bug

[2022-05-20 18:56] MdSahil-oss commented on #17719
@Link2Twenty thanks to make it clear and I think this is the time to edit my earlier comment

[2022-05-20 19:03] msarit opened #17736 "Update postModerationTools cypress test when mod role is configured"
Spec: cypress/integration/seededFlows/articleFlows/postModerationTools.spec.js

[2022-05-22 14:44] KirtanSoni commented on #17731
can i work on this?

[2022-05-22 17:36] KirtanSoni commented on #17686
i can take up this issue

[2022-05-22 18:34] KirtanSoni commented on #17731
[https://developers.forem.com/contributing-guide/forem#create-a-pull-request](https://developers.forem.com/contributing-guide/forem#create-a-pull-request)
This is the link that is available currently and,
will replace ~~https://github.com/forem/forem/blob/main/CONTRIBUTING.md#create-a-pull-request~~

[2022-05-23 06:50] MustkimKhatik opened #17738 "DEV.TO, post preview fails to show while writing any html tags"
Any tag written in < /> format is getting ignored in post after publishing the post so its getting, so its getting hard to write any information about the web dev stuff

Try to write any html tag and just click on the preview and you'll find those tag are being ignored by preview

**Expected behavior**
It should understand any html tag is being written.

**Screenshots**

This one is while editing-

[2022-05-23 06:53] #17738 closed

[2022-05-23 08:16] tnir commented on #17411
I do not think anyone will do this in favor of #17412.

[2022-05-23 08:16] #17411 closed

[2022-05-23 08:16] tnir commented on #17412
Closing as Forem core will take over...

[2022-05-23 08:16] #17412 closed

[2022-05-23 08:17] tnir commented on #17645
https://github.com/forem/forem-docs/pull/82 might be merged in the near future. However https://github.com/forem/forem-docs/pull/74 will be hard...

[2022-05-23 13:55] #17478 closed

[2022-05-23 17:54] rt4914 commented on #17731
Thanks @KirtanSoni . Feel free to create a PR for this issue.

[2022-05-24 01:03] amywtlin opened #17753 "Show the "featured" status of a post on post view somehow"

[2022-05-24 01:03] amywtlin commented on #17753
# Background
https://forem-team.slack.com/archives/C02B5U7N13P/p1653064633632129

[2022-05-24 01:11] amywtlin commented on #17753
@michael-tharrington Help check if this looks fine?

[2022-05-24 01:36] amywtlin opened #17754 "Enable "Unflag user" on mod panel"
# Background

Currently when flagging a user using the `flag user` button from the mod panel, it doesn't change into `unflag user` to reverse the action, like other buttons on the mod panel. We would like to add this functionality to it so mod panel is more functional.

![Image](https://user-images.githubusercontent.com/11730007/169930367-fe72b7f1-3715-4bc2-b314-eec6019e8531.png)

# Definition of

[2022-05-24 01:56] amywtlin opened #17755 "Allow moderator to hide comment"
# Background

This is a nice-to-have feature as part of the `moderator` role project. Currently this feature isn't within the scope, but if it's easy to add, we would prefer to also get `moderator` this right.

![Image](https://user-images.githubusercontent.com/11730007/169932896-e5abc7c4-5282-4a9e-b0c6-b69d753402f1.png)

# Definition of done
Implement necessary code change for the expected behavi

[2022-05-24 13:51] #17636 closed

[2022-05-24 14:46] #17706 closed

[2022-05-24 19:11] masquerade817 commented on #270
@lorezyra It doesn't work as described above. But support for embedding a single file has indeed been added.
You do that by adding a `file` attribute to the gist embed.
[code]
Notice no `.js` extension after the gistId.

[2022-05-24 20:49] #17710 closed

[2022-05-25 03:27] amywtlin commented on #17753
@ludwiczakpawel For you when you are back...check this [Loom](https://www.loom.com/share/e49632d8ab054361bfde2acafbe350da) @michael-tharrington provided out.

I have some thoughts on this, but let's chat more (in here or via DMs, whichever) when you are back.

[2022-05-25 08:03] KirtanSoni opened #17762 "minor bug in github-actions bot message"
**Describe the bug**

Dead link in contributing hyperlink in the reply of the github-action bot when someone posts an issue.

**To Reproduce**

1. Go to the Github-actions message below
2. Click on _**Contributors guide**_ in the last line
3. See error.

**Expected behavior**

The link should be redirected to the currently working contributors guide page which is [https://developers.forem.com/cont

[2022-05-25 21:36] Zhao-Andy opened #17769 "Add a tooltip to inform optimal cover image ratio"
We want to add a tooltip next to the "Add Cover Image" button to let people know what the best cover image ratio is (1000x420).

[2022-05-26 04:49] f2k2game opened #17770 "Can't able to create display ads"
when i try to create display ads it shows an error. I have attached the screenshot, please check.

![dis1](https://user-images.githubusercontent.com/45148319/170418216-21461752-1296-44f4-8aad-3f3f8f54a159.jpg)
![ad2](https://user-images.githubusercontent.com/45148319/170418245-1d1c3981-6108-4b69-b8df-862eda923d2e.jpg)

[2022-05-26 14:57] #17458 closed

[2022-05-26 15:18] jonathan-irvin opened #17772 "Unstyled content when linking Forem account with dev.to"
**Describe the bug**

I get some unstyled content after linking my new forem and dev.to accounts

**To Reproduce**

1. Login to dev.to
2. Create a new forem account
3. Return to dev.to and go to link your forem account.
4. Click allow.
5. Redirects into page shown in screenshot

**Expected behavior**

**Screenshots**
![Screen Shot 2022-05-26 at 10 10 15 AM](https://user-images.githubusercontent.co

[2022-05-26 16:05] #17762 closed

[2022-05-27 13:17] jnv opened #17780 "€ character is removed from the post title"
**Describe the bug**

When creating a post with "€" symbol in the title, the symbol disappears after saving the article.

**To Reproduce**

1. Click "Create Post"
2. Enter the following title: "Test €€€"
3. Click "Save draft"
4. Wait until the page reloads
5. The post title is "Test"

**Expected behavior**

The post title remains unchanged.

**Screenshots**

Entering the title:

![image](https://u

[2022-05-28 18:29] MdSahil-oss commented on #17755
@amywtlin  I would like to work on this feature.

[2022-05-30 13:47] joaoGabriel55 commented on #17780
Hello @jnv. I can take a look at it.

[2022-05-31 15:19] fdocr commented on #17648
Our existing setup:

- API Key generation
   - Relies on the `ApiSecret` model
      - `secret` is generated using `has_secure_token` ([reference](https://api.rubyonrails.org/classes/ActiveRecord/SecureToken/ClassMethods.html#method-i-has_secure_token))
      - A consideration, since we're now on Rails 7, is that we can maybe use [ActiveRecord encryption](https://guides.rubyonrails.org/active_reco

[2022-05-31 15:25] fdocr commented on #17651
Our existing `Rack::Attack` throttling is protecting API `read` endpoints at a limit of 3 per second and `write` endpoints at a limit of 1 per second ([reference here](https://github.com/forem/forem/blob/main/config/initializers/rack/attack.rb#L11-L27)).

We also have Datadog monitoring that allows us to monitor each endpoint performance, while Honeybadger should help for Exception handling.

[2022-05-31 15:56] fdocr commented on #17652
We currently have an implementation (at least partial) here with the `AuditLog` model. I feel like in order to make this work we need to:

1. Improve the admin UI of this feature
   - Right now we have `/admin/moderation/moderator_actions` in the admin dashboard
      - This is just a list of all moderation actions ever taken
   - What are the end use-cases for this audit log? UX-wise
      - Only

[2022-05-31 16:33] msarit commented on #17707
Implemented by https://github.com/forem/forem/pull/17759

[2022-05-31 16:33] #17707 closed

[2022-05-31 16:35] juliannatetreault commented on #17780
Closed via #17790

[2022-05-31 16:35] #17780 closed

[2022-05-31 18:56] jnv commented on #17780
Thank you @joaoGabriel55!

[2022-05-31 19:20] joaoGabriel55 commented on #17754
I can do this task @amywtlin!

[2022-05-31 20:30] joshpuetz commented on #17648
Agreed: the biggest concern was that someone can just pull down all articles (without using an API key at all!), so focusing our efforts of securing those endpoints and putting appropriates roles limits in place will go a long way. Monitoring API usage could also help.

Notably, I don't see anything here that would prevent us from pivoting to Doorkeeper in the future!

[2022-05-31 22:22] #17470 closed

[2022-06-01 10:33] KirtanSoni commented on #17772
is the bug still there? i followed the steps u sent. it said, that my account did not exist in the first try and in the second try everything worked just fine. yes the account i logged in through was fresh. maybe forem takes a bit of time update the records of the new account. so there is an error showing up. if  you are still consistently able to reproduce the bug, could you explain me the steps

[2022-06-01 15:36] #17648 closed

[2022-06-01 15:36] #17651 closed

[2022-06-01 15:36] #17652 closed

[2022-06-01 15:41] #17649 closed

[2022-06-01 15:41] joshpuetz opened #17800 "Allow existing V0 endpoints to be access via V1 URIs, require authentication"
Existing endpoints, when accessed via `/v1` URIs, should require authentication with a user's API key.

**Keep in mind**: accessing these endpoints via their existing legacy URIs should **not** require authentication (see https://github.com/forem/forem/issues/17819)

[2022-06-01 15:57] JennieOcken opened #17801 "Touchbase with Jeremy about AuthZ"

[2022-06-01 15:57] JennieOcken opened #17802 "Move APIKey generation UI from /settings/account to /settings/extensions and update text (The API is still in its beta stage)"

[2022-06-01 15:58] JennieOcken opened #17803 "Reduce the number of API keys you can have to 10"

[2022-06-01 17:48] rt4914 commented on #17291
I am working on this @aitchiss

I am confused about the loading state, what exactly is this:
1. An image
2. [Shimmer Effect](https://www.google.com/search?q=shimmer+effect&rlz=1C5CHFA_enIN928IN929&oq=shimmer+effe&aqs=chrome.0.0i512l2j69i57j0i512l7.1992j0j7&sourceid=chrome&ie=UTF-8)
3. ... or should be drawn with css/html?

[2022-06-01 20:31] joshpuetz opened #17805 "SPIKE: What are the current API usage numbers?"
How many users are actually using the API? How many API keys do they use?

[2022-06-01 20:32] joshpuetz commented on #17805
Key stats:

Out of 802944 users, 3525 user have created at least one API key.

[2022-06-01 21:11] joshpuetz commented on #17805
Daily we're seeing anywhere from an average of 7 to 10 million requests to the api, the vast majority of those requests are to the `api::v0::articlescontroller_show`, `api::v0::articlescontroller_me`, and `api::v0::articlescontroller_index'.

However: occasionally there are spikes in API request volume of 15-20 million requests alone centered around `api::v0::userscontroller_show`

[2022-06-02 02:01] amywtlin commented on #17755
Hi @MdSahil-oss - thanks for volunteering! I chatted with the team and as we have some refactoring to do in this area, it's best to keep it within the core team right now.

I should have labeled something so that you know this one is still being triaged. Sorry about that and I appreciate your patience and willingness to contribute 😊

[2022-06-02 03:32] jeremyf commented on #17754
@joaoGabriel55 I've assigned this to you and me; that way we both don't lose track of this work.

This is on a nice-to-have portion of a project that's in active work.  There's a possibility that this work and the other project work may collide, so brace yourself for handling merge conflicts.

[2022-06-02 03:56] jeremyf commented on #17686
@KirtanSoni Sorry about the delay in getting to this, but I've assigned this to both you and me so we can both track it.

[2022-06-02 13:27] joshpuetz opened #17809 "SPIKE: what API endpoints are current in use by the codebase?"
The Forem codebase uses a few of the current API endpoints: which ones? Will we need to change the API Urls? Are these endpoints already using API keys?

[2022-06-02 14:21] joshpuetz opened #17810 "Versioning -> Determine if we are maintaining v0 separately for a while or silently route anyone using v0 to v1"

[2022-06-02 15:52] #17479 closed

[2022-06-02 17:15] jeremyf commented on #17688
@ludwiczakpawel

We render a simple URL, assuming all the fallback conditions work correctly.

[2022-06-02 17:16] fdocr commented on #17809
I can't find any other requests made to our API on our codebase at the moment. However, I do know that [listings allows for requests from the web context](https://github.com/forem/forem/blob/main/app/controllers/api/v0/listings_controller.rb#L10-L11) (API Key or current user), which is a tell that it may have been used in the past, though it seems like it isn't being actively consumed right now (f

[2022-06-02 17:17] jeremyf commented on #17688
@ludwiczakpawel

It depends on what product wants to display; it might be adequate.  The easiest thing to do would be to "wire in the project URL and see what happens" and from that take the next step of "do we design something specific or not"

[2022-06-02 18:58] jeremyf opened #17816 "Provide a mechanism to look at the results of past feed experiments"

[2022-06-02 19:37] fdocr commented on #17805
These are the endpoints in question:
1. `api::v0::articlescontroller_show`
   - Fetch (show) an article by id
   - [reference](https://developers.forem.com/api#operation/getArticleById)
2. `api::v0::articlescontroller_me`
   - Fetch the authenticated user's articles
   - [reference](https://developers.forem.com/api#operation/getUserArticles)
3. `api::v0::articlescontroller_index`
   - Fetch all pu

[2022-06-02 20:35] #17803 closed

[2022-06-02 21:21] joshpuetz opened #17819 "Regression test: existing API endpoints should continue to work as is"

[2022-06-02 21:24] #17809 closed

[2022-06-02 21:26] joshpuetz commented on #17805
Agreed @fdocr: those spikes feel like a "bot hoover up a list of all Dev.to members" situation, and not something we care to support going forward.

I'll also point out none of these heavily used API endpoints are in the [list of endpoints we use in the code](https://github.com/forem/forem/issues/17809#issuecomment-1144901064)

[2022-06-02 21:44] #17769 closed

[2022-06-02 23:58] tnir commented on #17645
https://github.com/forem/forem-docs/pull/82 was just merged. https://github.com/forem/forem-docs/pull/74 would be the very last part of this issue.

[2022-06-03 00:41] #17816 closed

[2022-06-03 01:07] jeremyf opened #17820 "As a person responsible for reviewing and proposing feed experiments I want to have a page that provides insight into"
As a person responsible for reviewing and proposing feed experiments I want to have a page that provides insight into:

-   What were each of the experiments
-   What were the details and “quick description” of each of the variants that were part of the experiment
-   Which variant was the winner

The present reality is we have:

-   `/admin/abtest` that show the results of the experiment; with [f

[2022-06-03 13:06] jeremyf opened #17822 "Proposed feed experiment for 20220603"
Base these new variants off the incumbent `202205518-variant` to reduce moving pieces

Weigh it as follows:
* `20220518-variant` :: 50% (incumbent)
* `20220603-variant-a` :: 25% (challenger A)
* `20220603-variant-b` :: 25% (challenger B)

For `20220603-variant-a` update the `matching_positive_tags_intersection_count`

- [0, 0.5],
- [1, 0.85],
- [2, 0.9],
- [3, 0.95],
- [4, 1]

For `20220603-varian

[2022-06-03 13:22] ellativity opened #17823 "Update Podcast Editor fields with descriptions for data type/format"
I realize this area of the UI isn't a priority, so I'm really zooming into a specific issue for the podcast editor.

Increasingly, podcasting platforms are providing creators with feed URLs that don't begin with `http`. Because of this, we're seeing a lot of errors as people are attempting to copy-and-paste the provided URL in the **Feed url** field of the podcast editor.

Please update `/admin/co

[2022-06-03 15:27] #17820 closed

[2022-06-03 16:48] #17444 closed

[2022-06-03 17:45] #17822 closed

[2022-06-03 18:26] JennieOcken commented on #17805
Thank you for the education.  100% agree with the direction here with one tweak.  It seems like to me that `api::v0::articlescontroller_me` is actually doing what I want to allow someone to do with this API (e.g. get all my posts) and with the basic security we want (API key).  Is there a reason to issue a deprecation notice on that one?

It's super interesting that the spikes are happening on `ap

[2022-06-03 20:33] jeremyf opened #17826 "As a person who wants to explore different sort orders I want a bit of control over fully random numbers"
At present in one of our order_by levers we provide the ability to sort using a purely `RANDOM` number.  The consequence is that I can't recreate an exact query condition.

The primary impact is that the `RANDOM` can influence the order of the feed.  Which means each time I visit the feed (or refresh) I get a new set of random numbers used for determining the sort.  This could mean that when I am

[2022-06-06 06:21] amywtlin commented on #17688
I looked around how our existing GitHub embeds look like and I actually think it wasn't about creating a special format for the Projects. I agree with Pawel that most of the content we might want to show in an embed would be dynamic, which will not be suitable as we don't regenerate embeds.

It however doesn't create a generic embed with a public project link. @jeremyf Is that correct to assume we

[2022-06-06 07:53] aitchiss commented on #17291
Hey @rt4914 👋  I am guessing it should look & have similar effect to the loading state of the home feed - check out `app/javascript/articles/LoadingArticle.jsx` 🙂

[2022-06-06 13:46] joshpuetz commented on #17805
Even though `api::v0::articlescontroller_me` has correct security, it still lives at the `/api/v0` URI that will be going away. We should let users know that **everything** at `/api/v0` will need to be fetched from `/api/v1` in the future (we will redirect these paths during the deprecation period).

Given the alternative (writing a bot to scrap the HTML page directly at https://dev.to), it's actu

[2022-06-06 13:46] #17805 closed

[2022-06-06 14:34] msarit opened #17829 "Refactor Unpublish (single) Post flow to use Preact modal"
### Guidance from @aitchiss:

We have patterns like this in the app - where the modal trigger button is in a Rails view, and then once the modal is open we need to "initialize" some other interactive items inside the modal. We've been doing this a fair bit in the admin area recently.

I'd suggest looking to `app/javascript/packs/admin/users/filtersModal.js` for an example - it works by:
- Getting

[2022-06-06 14:41] msarit commented on #17708
This ticket was implemented in https://github.com/forem/forem/pull/17795; closing this issue.

A related [ticket](https://github.com/forem/forem/issues/17829) - to refactor the Unpublish Post modal in Preact - has been created.

[2022-06-06 14:41] #17708 closed

[2022-06-06 15:27] joshpuetz opened #17830 "Deprecation message on all V0 endpoints"
Existing V0 API endpoints should have a deprecation message when accessed via their `/api/v0` URIs

[2022-06-06 16:53] sylwiavargas opened #17832 ""Comment hidden by author""
**Describe the bug**

The UI description of when a comment is hidden by the author of the post reads as if it was hidden by the author of the comment.

At first, I thought I had clicked on my comment by accident but then I realized that the author of the post just hid the comments that he didn't like. Another user reached out to me and said:

Clearly, this phrasing doesn't confuse only me!

**Expe

[2022-06-06 17:08] jeremyf opened #17834 "Create additional or more configurable order by levers for the feed"
At present there are two `order_by` strategies.  These are inadequate as we look to continue our feed iterations.

Done looks like:

- [ ] Having new or more configurable existing order by levers

[2022-06-07 01:06] amywtlin commented on #16780
@jeremyf I noticed that @rt4914 submitted a PR and he left a comment in a PR. Can you help take a look and see if that's something you can help with?

@rt4914 Assigning this issue to you and move this issue to in progress so others will not pick this one up :-)

[2022-06-07 01:09] amywtlin commented on #14483
@Zhao-Andy Are we still actively looking at this one? I'd love to keep this one moving, either to have you look at it (if your bandwidth permits) or you can remove your assignment so other teammates can pick it up.

[2022-06-07 01:12] Zhao-Andy commented on #14483
@amywtlin yes thanks for the reminder on this! I have a test instance I can use to play around with. Will add this to my to-do list.

[2022-06-07 01:16] amywtlin commented on #14483
That'll be awesome - thanks so much!

[2022-06-07 06:48] metamoni commented on #17222
@jeremyf sorry, I forgot about this one. I'll get working on removing the column!

[2022-06-07 12:18] #17417 closed

[2022-06-07 12:22] metamoni commented on #17222
I'm getting this warning when I try to run the migration. It looks like there's an additional step to this process. I'll update the model and once that's deployed I can create the migration too.

[code]

[2022-06-07 14:16] jeremyf commented on #17832
@sylwiavargas thank you for this write-up and yes, please submit feel free to submit a PR.  I'll assign this to both you and me so we don't lose track of it.

[2022-06-07 16:20] #17826 closed

[2022-06-07 17:35] dinozavrix opened #17851 "Wrong title on tag page"
**Describe the bug**

Every tag has _pretty name_, but for _title_ on the tag page used tag name insted of pretty name. So google use this _not pretty_ tag name

**To Reproduce**

_Example 1:_
https://dev.to/t/webdev has name "Web Development" but for title used <title>Webdev - DEV Community</title>

_Example 2:_
https://ux.pub/t/designsystem has name "Дизайн-системы" but for title used <title>Des

[2022-06-07 17:39] msarit opened #17852 "Look into possible ModRole expansions in moderations/mod"

[2022-06-08 14:29] aitchiss commented on #17479
By way of documentation, [here's a Loom walking through what changes I made to make the modals reusable](https://www.loom.com/share/96985356c7334cf3aa54465d7b9e1ec7), and here's [another one where I walk through an example adding functionality to the member index add role modal](https://www.loom.com/share/b34416c4adaf44609d657da4e93513b3)

[2022-06-08 14:33] michael-tharrington opened #17861 "Org Admin Unable to Reattribute Posts to Other Org Members"
**Describe the bug**

An org admin imported a variety of posts and posts them under their org. However, these posts were written by the org admin's teammates and when the admin tried to reattribute the posts from their dashboard, it didn't work.

Not only that, but as a site admin, I was unable to reattribute the posts on their behalf either from the admin section. I kept getting the error message

[2022-06-08 14:48] #17493 closed

[2022-06-08 15:42] msarit commented on #17606
Closing this ticket as I think it has been captured in the rest of the project board.

[2022-06-08 15:42] #17606 closed

[2022-06-08 15:44] msarit commented on #17579
@jeremyf I think this is a refactor that makes sense to attack after we have completed the ModRole project.

What do you think?

cc @dscottS3

[2022-06-08 18:10] horvatha opened #17863 "Setting short bio when logging in first time"
**Describe the bug**

When I logged in first time to forem I’ve inserted a “short” bio, longer than 200 characters. There wasn’t any error message, I just couldn’t go to the next page. I know the length limitation 'cause I was able to fill it in the settings, where it works properly.

I was logged in with Github account.

**To Reproduce**

**Expected behavior**

Showing something to be able to fin

[2022-06-08 20:17] thomasbnt opened #17865 "Email confirmation"
**Describe the bug**
We have an error when we confirm the email address on any Forem.

**To Reproduce**

1. Register to any Forem like [the latest named Tidelift](https://community.tidelift.com/) (with GitHub in my case)
2. Go to your inbox to confirm your address email
3. Click on the link to confirm
4. See the error on the page, "Email was already confirmed, please try signing in"

**Expected be

[2022-06-09 10:34] chilarai opened #17868 "Analytics dashboard not displaying data for `Unicorns`"
**Describe the bug**

This bug is regarding https://dev.to/dashboard/analytics. I did not manually configure and check `Forem` on my system. However, I assume it's the latest stable built and post that I could not see any PR or issues raised regarding the described bug.

If you visit your blog post analytics for a particular post or check the overall statistics inside the **Reactions summary** cha

[2022-06-09 12:36] jeremyf opened #17869 "The `/admin/abtests` page is slow after adding past winners"
https://github.com/forem/forem/issues/17816 introduced, via the gem setting, showing past winners.  However, the underlying gem's queries are not performant for rendering multiple tests on a single page.

- [ ] Convert `/admin/abtests` page to render a list of experiments, active and completed; each experiment would link to it's overview page.
- [ ] Create a `/admin/abtests/overview/:experiment` p

[2022-06-09 14:44] #17802 closed

[2022-06-09 15:46] fdocr commented on #17865
Thank you for the report @thomasbnt!

This is interesting. I'm going to ask other team members to double check, but we should only require email confirmation when registering via email (not with OAuth service providers).

To solve this we need something like `.skip_confirmation!` or include `confirmed_at: Time.current.to_i`, but we do in fact have this in the [Authenticator service object](https:/

[2022-06-09 18:04] ellativity opened #17871 "Update Digest email to reflect changes to Listings"
Since moving Listings to an extension, a lot of Forems don't have Listings sections enabled anymore.

This breaks the [links in the Digest linking to job openings and listings](https://github.com/forem/forem/pull/8213) that are included with every digest:

![Example from a Forem Community without a Listings section](https://user-images.githubusercontent.com/76786132/172913939-b250d2d4-ea8a-4a1c-aa

[2022-06-09 20:09] BobbyMcWho commented on #17865
Can confirm I also experienced this.

[2022-06-09 20:11] BobbyMcWho opened #17876 "Cannot Accept Terms of Service on Mobile"
Using an iPhone 11 with iOS 15.5, Safari as the browser, I am unable to dismiss this forem app modal, therefore rendering me unable to click the continue button after accepting TOS.

I'm also unable to click the link to open the app either.

<img src="https://user-images.githubusercontent.com/6934825/172935520-724c6633-79c5-45b8-b6cc-d76c9b410f28.png" height="400">

[2022-06-09 22:32] fdocr commented on #17876
Thank you for the report @BobbyMcWho. I can confirm this happens to me as well on Safari for mobile.

This one is a little weird because it only happens during onboarding (not on any other view in dev.to or other Forem instances). When I tap on the `X` button I see a tooltip come up:

![IMG_3F6D5E5CE4C9-1](https://user-images.githubusercontent.com/6045239/172955525-5c64c6c8-9763-4bc5-a1df-4bb15087

[2022-06-10 00:08] BobbyMcWho commented on #17876
I wonder if it has to do with the FocusTrap that's present on the Onboarding component

[2022-06-10 06:39] amywtlin opened #17880 "Change Save button with Bookmark icon"
We have Save/Bookmark article feature, which adds articles to the Reading List.

Currently, we are using the Save button on the feed-page, and on the Post page, we have the Bookmark icon. So, to keep it consistent, we can change the Save button with the Bookmark icon on feed-page.

**Icons - 24x24px**
[Default State](https://github.com/forem/forem/blob/main/app/assets/images/small-save.svg)
[Fille

[2022-06-10 06:42] amywtlin commented on #17880
@anujbhavsar96 Thanks for the write-up!

Can you also specify the image url of the icon and the size of the icon? After we have them we can mark this one up ready for contribution :-)

[2022-06-10 06:42] amywtlin opened #17881 "Add copy/paste images in comment editor"
📖 As a commenter, when drafting/editing a comment, I can paste an image into a comment I am editing (i.e. where the cursor is focused) using the keyboard shortcut cmd/ctrl+v I copied somewhere else.

Some additional context which may be helpful:

- We achieve this functionality in the editor with the `pasteImage` Preact hook, and `handleImagePasted` helper
- Comment text areas are _not_ initially

[2022-06-10 06:44] amywtlin opened #17882 "Add drag/drop image uploading function in comment editor"
📖 As a commenter, when drafting/editing a comment, I can drag & drop an image into a comment I am editing (i.e. where the cursor is focused). The dropped image should be uploaded and inserted for me into the comment without me having to manually format further.

Some additional context which might be helpful:

- We achieve this functionality in the editor by using the `useDragAndDrop` Preact hook

[2022-06-10 06:44] amywtlin commented on #17882
@aitchiss And this one, too!

[2022-06-10 06:46] amywtlin opened #17883 "Make comment box in focus when entering by clicking "xxx comments" from home feed"
# Current behavior & problem
While browsing posts on the feed-page, when the user clicks on the **Add comment** / **3 Comments**, it redirects users to the post-page comment area.

At that time comment box is not focused, so the user has to click that comment box to start writing the comments.

# New behavior
Idea is to make that comment box focused when you click **Add comment** / **3 Comments**

[2022-06-10 07:03] anujbhavsar96 commented on #17880
Updated the write-up🚀 @amywtlin

[2022-06-10 07:15] aitchiss commented on #17876
This would be my guess too - this banner is technically outside of the "modal" so the trap is likely blocking any interaction with it.

In terms of solutions - I don't think we need to trap focus in the onboarding context 🤔  It looks like a modal, but it isn't really. As in, we use modal classes to style the content area, but it doesn't appear over any other page content, so doesn't really need th

[2022-06-10 07:56] aitchiss commented on #17881
Looks good to me - I've added a couple of code pointers too 🙂

[2022-06-10 07:57] aitchiss commented on #17882
Looks good! Essentially we just want same behaviour as in the editor 🙂  I've added a couple of bits of context about the code too to get folks started

[2022-06-10 08:03] rt4914 commented on #16780
@amywtlin Thanks.

[2022-06-10 12:03] #16780 closed

[2022-06-10 13:22] #17480 closed

[2022-06-10 15:21] fdocr commented on #17876
Awesome thank you both for the help here! I just sent in a PR that I believe fixes this issue

[2022-06-10 18:38] aitchiss opened #17891 "Reply button shows even when conversation is locked"
**Describe the bug**

When a conversation is locked, no new comments or replies are permitted. We hide the main comment box but "reply" buttons on existing comments are still visible, clickable, and the reply form appears. If a user attempts to submit a reply, they see an error and the comment is appropriately not posted, but the form shouldn't be there in the first place.

Given the sensitivity o

[2022-06-10 20:37] #17834 closed

[2022-06-13 03:01] amywtlin commented on #16781
With closing #16780, we have added Embed icon to our editor toolbar which now unblocks this issue and all we need is to get the design ready to move this forward.

[2022-06-13 07:50] f2k2game commented on #17770
@forem-team. I have updated to latest version but it shows same error.

[2022-06-13 10:21] rt4914 commented on #17291
Self-assigned this issue.

[2022-06-13 14:23] #17876 closed

[2022-06-13 16:22] #17869 closed

[2022-06-13 20:50] ellativity opened #17909 "Issue with Twitter OAuth: sign up with Twitter fails when user already has signed up with GH + returns unformatting page"
Users attempting to connect their Twitter accounts to existing GitHub OAuth accounts on `community.tidelift.com` have experienced various issues over the past few weeks. Their Twitter API appears to be configured correctly, with help from @Zhao-Andy

When users who already have GitHub OAuth enabled on their accounts attempt to connect their accounts to Twitter, they are redirected to the homepage.

[2022-06-14 09:43] aitchiss commented on #17491
I've created a PR handling the basic UI functionality of showing the expandable list of roles, but I have a few questions to unblock me on the backend aspect of this.

**1. Mapping the UI "roles" to ones we can query the DB with**

I'm currently displaying all the available/filterable roles using the [SPECIAL_ROLES constant](https://github.com/forem/forem/blob/main/app/lib/constants/role.rb). Howe

[2022-06-14 10:32] aitchiss opened #17910 "Update deprecated Storybook code"
In the upgrade to storybook 6.5.x there are a few deprecations that we need to non-urgently address. These can be tackled in separate PRs depending how large the scope is:

- [x] [Importing from '@storybook/addon-docs/blocks' is deprecated, import directly from '@storybook/addon-docs' instead](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#deprecated-scoped-blocks-imports) (finish

[2022-06-14 10:50] aitchiss commented on #17883
When we do this, can we please change the story cards (that appear on the various feeds) `aria-label` to make sure the link is accessible as something like "Add a comment to post - ${post_name}", to avoid any confusion for screen reader users 🙂

[2022-06-14 11:51] jeremyf commented on #17491
**2. How to extract multiple of the same param**

From https://guides.rubyonrails.org/action_controller_overview.html#hash-and-array-parameters

There's more about encoding.

[2022-06-14 14:19] msarit commented on #17736
Done and in codebase 👍🏾

[2022-06-14 14:19] #17736 closed

[2022-06-14 14:31] #17481 closed

[2022-06-14 14:42] Link2Twenty commented on #17882
Don't forget image paste too 😊

[2022-06-14 14:45] Link2Twenty commented on #17880
If the new button is a filled or not filled icon. Should we set it up like a toggle button?

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/button_role#toggle_buttons

[2022-06-14 14:55] #17443 closed

[2022-06-14 14:55] #17705 closed

[2022-06-14 15:25] joshpuetz commented on #17656
Take a look at Readme (https://readme.com) as an alternative documentation platform

[2022-06-14 15:38] msarit commented on #17711
Closed by https://github.com/forem/forem/pull/17858

[2022-06-14 15:38] #17711 closed

[2022-06-14 21:53] juliannatetreault commented on #17851
I've assigned this issue to you, @joaoGabriel55! Please let our team know if you run into any issues. 😊

[2022-06-15 05:57] amywtlin commented on #17880
@jeferson-sb It appears that you are working on this issue so I am assigning this to you so others know this one is taken :slightly_smiling_face:

Next time please leave a comment to let us know you'd like to work on this before you submit a PR.

[2022-06-15 05:57] amywtlin commented on #17880
@Link2Twenty Bringing your suggestion to the PR to this issue to make sure folks are aware of it!

[2022-06-15 08:10] Link2Twenty commented on #17891
The reply buttons are not there for me when I look at the comments on a post but they are there when I look at a comment thread directly.

https://dev.to/alvaromontoro/lgbtq-flags-coded-in-css-3k1k#comments
https://dev.to/taneros/comment/1p92g

[2022-06-15 08:14] Link2Twenty commented on #17731
Can this be closed?

[2022-06-15 09:00] Link2Twenty commented on #17719
I did a quick POC if that's helpful for anyone.

https://codesandbox.io/s/dark-water-7ince8?file=/src/App.js

[2022-06-15 09:26] amywtlin commented on #17883
@aitchiss Included your accessibility improvement recommendation in the body!

[2022-06-15 14:51] joshpuetz opened #17928 "Tracking for v0 vs v1 endpoint hitting"

[2022-06-15 18:55] jeremyf opened #17932 "Adding statistical significance value to `/admin/abtests/:experiments` results"
When we render the results of our current expiriments (in [./config/field_tests.yml](https://github.com/forem/forem/blob/76eb01b0cddcd270dbfa63d42596c0a4def9c453/config/field_test.yml#L42-L56)) we want to account for statistical significance.

Given that there are 8 to 13 goals, manually determining the statistical significance (even plugging them into a calculator) is time consuming.  It would be

[2022-06-15 22:04] joaoGabriel55 commented on #17851
@juliannatetreault I am using `<% title(@tag.pretty_name) %>` to set the page title but for some reason, the custom title is joined with the default title. Do you know why this happens?

![image](https://user-images.githubusercontent.com/23138717/173940136-fb31553d-511b-4089-b307-5e41814a8f21.png)

[2022-06-16 09:28] aitchiss opened #17937 "Rename the Roles dropdown headers on the Admin Member View to be Status and Roles"
In the new member index view filters modal, we allow admins to filter by "status" and "role".

"Statuses" equate to our BASE_ROLES constant, and "Roles" equate to our SPECIAL_ROLES constant. In the admin member index view, we currently use these terms "base roles" and "special roles" in the add role modal.

This issue covers changing this terminology, so that when you add a role in the member deta

[2022-06-16 11:29] jeremyf opened #17940 "Introduce `randomize_each_query` to the feed variants"
As part of our feed experiments we want two randomization options:

- [X] Re-use the same random seed for queries within a "narrow" time frame.  This was delivered via forem/forem#17833.
- [ ] Each query we re-randomize the results (e.g. don't use the cached value)

This will mean adding a variant parameter (e.g. `randomize_on_each_request`) to the configuration and updating the feed builder.

[2022-06-16 11:59] Link2Twenty opened #17941 "honeybadger error 429 in console"
**Describe the bug**
When I have the console open on dev.to I see an error about api.honeybadger.io every time I do, seemingly, anything

[code]

**To Reproduce**
1. open the console
2. do something
3. see the errors

**Expected behavior**
the api shouldn't be firing quite to often.

**Screenshots**
![errors](https://user-images.githubusercontent.com/3534427/174064917-0d403ddd-0d29-4c10-989a-77566

[2022-06-16 13:46] joaoGabriel55 commented on #17851
I found the solution!

[2022-06-16 14:06] #17491 closed, assigned to aitchiss

[2022-06-16 14:44] aitchiss opened #17945 "Show selected "roles" filters on the index page, and allow user to remove them"
- When a user has applied "roles" filters from the filters modal, the selected roles should appear on the index page.
- Clicking a role should remove that particular filter
- Clicking "Clear all" should remove all filters

[See related figma design](https://www.figma.com/file/Ejc7VELuN00n1SZrkUTBcQ/Member-List-View?node-id=1124%3A5685)

[2022-06-16 16:44] jeremyf opened #17949 "Start new feed experiment for 20220617"
Based on feed experiment results, the new incumbent is a merging of:

- [./config/feed-variants/20220603-variant-a.json](https://github.com/forem/forem/blob/07e1364f545ab3ffe5d6b7e2f146fa13438f15c6/config/feed-variants/20220603-variant-a.json)
- [./config/feed-variants/20220603-variant-b.json](https://github.com/forem/forem/blob/07e1364f545ab3ffe5d6b7e2f146fa13438f15c6/config/feed-variants/2022060

[2022-06-16 19:04] #17940 closed

[2022-06-16 19:32] #17949 closed

[2022-06-16 19:52] joshpuetz commented on #17656
Research on the current API docs:

- live at https://github.com/forem/forem-docs/api_v0.yml
- generated by Redoc https://github.com/Redocly/redoc
- doesn't auto update

[2022-06-17 09:33] #17587 closed

[2022-06-17 15:25] aitchiss opened #17959 "DateRangePicker: Update UI when entered date is outside of valid range"
When manually typing a date into the DateRangePicker, the `onDatesChanged` callback from `react-dates` doesn't distinguish between

- an empty value (as the result of "clearing" the field)
- a value in an invalid date format
- a value that _is_ a valid date, but it's outside of the valid range

In all cases it gives us `startDate` and `endDate` of `null`.

This leads to a problem where a user may

[2022-06-18 20:47] logankilpatrick opened #17961 "Missing details on setting up Google reCAPTCHA"
**Describe the bug**

This page: https://admin.forem.com/docs/advanced-customization/config/google-recaptcha says to "Please add them to your Forem's config section in the Email section of [Config > Authentication](https://admin.forem.com/docs/advanced-customization/config/authentication)." but it is not clear what this means. There is no email section, there's an "Email address" section. Is that

[2022-06-19 20:36] thejwuscript commented on #17891
I would like to work on this issue if it's still available.

[2022-06-20 05:59] anujbhavsar96 commented on #17959
@aitchiss This looks great✨. And I'm totally on board with those errors below component.

[2022-06-21 07:20] aitchiss commented on #17891
That's great @thejwuscript! I've assigned the issue to you - please do let us know if you have any questions 🙂

[2022-06-21 14:06] JennieOcken opened #17964 "Allow a member to boost or reduce visibility of tags or authors right from the feed"
Right now, the only way for a member to change their tag weighting is through `/dashboard/following_tags` which means it is rather clunky and underused.  If we make it easier for users to change their tag weighing right from the feed, this would make that weighting a more valuable part of the feed and allow users to feel more in control.

Here is a mock up Pawel and I played with.

![image](https:

[2022-06-21 15:17] #17937 closed, assigned to aitchiss

[2022-06-21 15:27] #17945 closed

[2022-06-21 22:36] JakenHerman commented on #17882
Need help? 🙋🏻‍♂️

[2022-06-21 23:54] Zhao-Andy commented on #17961
Hey @logankilpatrick, thanks for raising this! In general our documentation is a bit out of date. I've updated it since it's a small issue here, and is a bit confusing to find out how to add the keys appropriately.

[2022-06-21 23:54] #17961 closed

[2022-06-22 05:57] amywtlin opened #17967 "Change all tooltip texts on heart/like reactions to `like`"
## Context

Right now, we have different SVG title texts on heart/like reactions:

1. Heart reaction on a post: `Heart`
   ![Image](https://user-images.githubusercontent.com/11730007/174953337-29caa16a-d37f-42c9-9dc9-abcf33b484c7.png)
1. Like reaction on a comment, on post view & in notifications: `heart`
    ![Image](https://user-images.githubusercontent.com/11730007/174953251-f3dc8e4c-fd52-4c75-

[2022-06-22 05:58] amywtlin commented on #17967
@aitchiss Please feel free to add code instructions in the body!

[2022-06-22 08:09] aitchiss commented on #17882
Hi @JakenHerman, thanks for looking into this one! I've assigned it to you - please don't hesitate to leave a comment here if you need any more context or have any questions ❤️

[2022-06-22 18:11] jeremyf commented on #17941
@Link2Twenty could you provide a URL to one of the page's that's causing this issue?  I have not been able to duplicate this error, so am looking for more concrete guidance.  Also, if you happen to know the issue # that says this was fixed, that too would be a great help.

[2022-06-22 19:36] michael-tharrington opened #17972 "Quotations break response templates"
**Describe the bug**

When creating a comment template (canned response), anything you put after a quotation disappears from the message.

Note: response templates can be created by individuals from `/settings/extensions` and created by admin (most often for mods) from `/admin/advanced/response_templates`

**To Reproduce**

1. Go to '/settings/extensions`
2. Create a response template that uses qu

[2022-06-23 11:37] minhlucvan commented on #9465
any updates?

[2022-06-23 13:29] aitchiss opened #17976 "Show selected "organizations" filters on the index page, and allow user to remove them"

[2022-06-23 15:43] joshpuetz opened #17979 "Migrate from analytics.js to gtag.js"
Google's Universal Analytics (Google Analytics 3.0) is being deprecated and [will go away in July 2023](https://support.google.com/analytics/answer/11583528#zippy=%2Cwhen-will-my-universal-analytics-property-go-away%2Chow-can-i-export-data-from-my-universal-analytics-property), so we should migrate to Google Analytics.

Making the switch to Google Analytics 4: https://support.google.com/analytics/

[2022-06-23 17:03] jeremyf opened #17981 "Admin's `/admin/abtests/:experiment_id` is timing out"
At present the `/admin/abtests/:experiment_id` is timing out; we're running some resource intensive computations on each experiments goals.  We need to again be able to see the results of each goal.

At present, a "quick and dirty" hack is acceptable.

Relates to:

- forem/forem#17895
- forem/forem#17869

[2022-06-23 17:33] fbanning opened #17983 "Multi-paragraph footnotes broken"
**Describe the bug**

Footnotes with multiple paragraphs (`[^bignote]`) are not displayed properly. Specifically:

1. The second footnote ends with the return link after the first paragraph although it should be four paragraphs long.
2. The second paragraph is added after the footnote.
3. The code block is added to the end of the running text, not to the footnote where it belongs.
4. The last para

[2022-06-23 17:45] jeremyf commented on #9465
@minhlucvan at present no updates.  I was unaware of this problem.  Is this still a problem?  (Note: I don't use docker for localized development).

[2022-06-23 19:04] #17851 closed

[2022-06-23 19:52] JakenHerman commented on #17882
@aitchiss Perfect, thanks!

[2022-06-23 20:26] #17865 closed

[2022-06-23 20:30] #17482 closed

[2022-06-24 02:45] minhlucvan commented on #1935
any update on this. I am facing the same issue on my development build

[2022-06-24 10:53] Link2Twenty commented on #17941
It's not doing it now, maybe it was a temporary issue.

[2022-06-24 10:53] #17941 closed

[2022-06-24 13:23] jeremyf commented on #17983
@fbanning Thank you for submitting the bug report.  I'm notifying @amywtlin to triage this relative to other priorities.

[2022-06-24 13:25] jeremyf commented on #17941
@Link2Twenty I've informed our DevOps team of this error; mostly to provide a data point if there was something else.

Again, thank you for reporting the issue.

[2022-06-24 13:26] #17981 closed

[2022-06-24 15:50] fdocr commented on #17657
This was closed when #17835 was merged but will actually be closed when the new endpoint (PR coming soon) is added to V1

[2022-06-24 15:50] #17654 closed

[2022-06-24 15:53] fdocr commented on #17800
This is now possible if `:api_v1` feature flag is enabled and `Accept` header is provided with `application/vnd.forem.api-v1+json`. Ongoing work will wrap up making v1 fully accessible without the feature flag once v1 is ready for production use.

[2022-06-24 15:53] #17800 closed

[2022-06-24 16:13] joshpuetz commented on #17830
Had started a PR here: needs to be reworked and expanded now that new PR migration from v0 to v1 has been merged.

[2022-06-24 18:47] msarit commented on #17754
I am taking over this task, as communicated [here](https://github.com/forem/forem/pull/17817#issuecomment-1165835575) and [here](https://forem-team.slack.com/archives/C03CHBBMTJP/p1656096362424629).

[2022-06-25 12:04] jcubic opened #17991 "You can't render code blocks as code in Markdown"
**Describe the bug**

Forem and DEV.to improperly parse escaped code blocks.

**To Reproduce**

in comment write:

[code]

**Expected behavior**

I expect to see:

```` ```javascript ````
```` ``` ````
This is text

**Screenshots**
![DEV to-markdown](https://user-images.githubusercontent.com/280241/175772587-e496f794-4676-4912-bd10-ba552bca3311.png)

**Desktop (please complete the following inform

[2022-06-27 04:52] amywtlin commented on #17753
Removing the issue from the moderation project board for now until we have design specs finalized.

[2022-06-27 04:54] amywtlin commented on #17964
@JennieOcken Is the design finalized or do we need further discussions on it?

If it is, can you share the link to the figma file, and I can get the issue properly labeled so this becomes up for grab. Right now I am going to label it as `needs product` for now until we confirm the scope of this.

[2022-06-27 06:29] amywtlin commented on #17983
@jeremyf thanks for raising the issue - looking into it.

@fbanning I tried reproducing it and, I might be overlooking something but it doesn't seem weird to me:
<img width="865" alt="Screen Shot 2022-06-27 at 2 26 19 PM" src="https://user-images.githubusercontent.com/11730007/175873422-431a3a28-402d-4b10-a4e2-395113cdf3f4.png">

Can you try reproducing it and screenshotting the result in the prev

[2022-06-27 07:20] fbanning commented on #17983
Hey Amy, thanks for taking the time to look into this issue.

I've created a simple post with the following content:

[code]
    { my code }
[code]

And the render preview looks as follows:

![Screenshot_20220627_091640](https://user-images.githubusercontent.com/65158285/175881633-342a9e16-dc3f-478d-a41d-dd67f07d8890.png)

There are a few things not quite right with it:

1. The second footnote end

[2022-06-27 08:43] amywtlin commented on #17983
@fbanning Thanks! I updated your original issue with the info you provided. Please do double-check if it looks right - otherwise now it's up for grabs!

[2022-06-27 16:45] #17446 closed

[2022-06-27 16:49] msarit commented on #17457
Closed by https://github.com/forem/forem/pull/17946

[2022-06-27 16:49] msarit commented on #17712
Closed by https://github.com/forem/forem/pull/17946

[2022-06-27 16:49] #17712 closed

[2022-06-27 18:51] JennieOcken commented on #17964
The design is not finalized.  This was a rough thought Pawel and I were tossing about that I wanted to document.

[2022-06-27 20:50] #17709 closed, assigned to dscottS3

[2022-06-27 20:57] #17445 closed

[2022-06-27 23:06] msarit commented on #17754
@amywtlin @michael-tharrington

I would like us to discuss this functionality a bit more.

Right now, admins have the ability to unflag a user. @michael-tharrington I am assuming that you want the Moderator Role to have this ability also? If they do, they will not have it from the `/admin` space, only from the Actions Panel (and the user's profile) correct?

Trusted users can flag but cannot unfla

[2022-06-28 01:42] amywtlin commented on #17754
@msarit This issue is about making the reverse action of flagging available on the mod/action panel in general - not specifically for the mod role. Meaning that this issue doesn't really grant/take away a right; simply making an easier access to performing an action that a role is already authorized to.

Why can't trusted users unflag though? My assumption was that if you have the right to flag, y

[2022-06-28 09:36] aitchiss opened #18005 "Member index view filters: Rework AND vs OR behaviour of filters"

[2022-06-28 09:57] prayeshshah commented on #17431
@moch-sudharmono @juliannatetreault
I attempted to reproduce this locally but wasn't able to. Here are the steps I followed:
- Setup Google Oauth and enable it from admin panel.
- Sign up using google.
- Disable Google authentication from admin panel.
- Clicked "Forgot Password" and enter the email used during Google sign-in.

I received the email with a working "Change your Password" link. Please

[2022-06-28 12:18] msarit commented on #17754
@amywtlin When Trusted users flag, the flag needs to be confirmed by an admin before it takes effect - from my understanding. What I need to check is if an unflag from a trusted user removes the “confirm this flag” notification from the admin portal.

[2022-06-28 13:04] Ridhwana opened #18007 "🍕 Epic - List of Widgets"
📖 As an Admin, I want to see a list of Widgets, so that I can have an overview of the pertinent information for each Widget.

[2022-06-28 13:40] michael-tharrington commented on #17754
This is correct. For the flag to take effect, an admin must confirm it.

My expectation isn't really that admin and moderators need to be able to unflag users on the mod panel, but rather just that admin need a way to remove the flag on flagged users in general. Currently, there is no way.

In the additional context section:

On #1, this is technically correct in specific circumstances, but genera

[2022-06-28 14:49] Ninjagod1251 opened #18008 "Email confirmation via gmail"
However "Confirm my account" is not a link I can not confirm the account.

**Describe the bug**

When I try and subscribe. I am prompted with an email

[code]

There is not link to confirm the account. I am not sure what to do.

**To Reproduce**

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/15219900/176209943-c2c9950e-5667-4ae6-9ffb-d7864405493c.png)

[2022-06-30 09:08] #17959 closed

[2022-06-30 12:59] #17730 closed

[2022-07-01 03:21] thejwuscript commented on #16744
I'd like to work on this issue.

[2022-07-01 14:27] michael-tharrington opened #18027 "Multiple Users Report Not Receiving Confirmation Email Upon Signup"
**Describe the bug**

Several new users have reported that they didn't receive the confirmation email when trying to sign up to DEV.

**Expected behavior**

Upon signing up to DEV, you should receive a confirmation email with a link to confirm your account.

**Screenshots**

![Screen Shot 2022-07-01 at 10 19 33 AM](https://user-images.githubusercontent.com/16007075/176912620-f66df144-1997-4594-b88

[2022-07-01 21:46] fdocr commented on #16744
Hi @thejwuscript, thanks for volunteering to work on this. I assigned the issue to you.

I remember taking a look at this a few months ago but I didn't land on an exact root cause. If you need any help or direction feel free to ping me here or on a PR.

[2022-07-02 19:18] Biplab-Dutta opened #18032 "Support for ETag and pagination link"
### Discussed in https://github.com/forem/forem/discussions/17807

<div type='discussions-op-text'>

<sup>Originally posted by **Biplab-Dutta** June  2, 2022</sup>
I've been trying to build something out of the DEV API but after reading the documentation and playing around with the API a bit, I soon came to realize that there are some headers missing in the API response.

- **Support for ETag**: M

[2022-07-03 12:53] michael-tharrington opened #18033 "Open in Gitpod icon still rendering in old color"
**Describe the bug**

We should update the icon for "Open in Gitpod"

**Expected behavior**

This icon should be orange and white

**Screenshots**

![Screen Shot 2022-07-03 at 8 51 16 AM](https://user-images.githubusercontent.com/16007075/177040577-4d15abdf-5ba2-42f8-84ab-894e889977cf.png)

**Additional context**

A trusted user flagged this to us.

[2022-07-05 08:07] tnir commented on #17645
With https://dev.to/devteam/dev-team-update-261j, now it looks like less resources to complete some ongoing tasks. Closing as completed now.

[2022-07-05 08:07] #17645 closed

[2022-07-05 14:28] joshpuetz opened #18039 "Validate/Document rational for disabling CORS"
We've received a few questions from the community asking why CORS is disabled on API endpoints (example: https://forem-team.slack.com/archives/CAA200SH5/p1656692658360069). We should validate and document this decision.

[2022-07-05 15:25] michael-tharrington opened #18041 "Banished User Podcast Submissions Not Removed Upon Being Banished."
**Describe the bug**

When a user is banished (for spam) their podcast submissions are not removed, and clog up the queue in `/admin/content_manager/podcasts`.

**To Reproduce**

1. Create a burner account on Forem
2. Submit a podcast via `/podcasts/new`
3. Log into another account with admin credentials
4. Banish the burner account
5. Navigate to `/admin/content_manager/podcasts`
6. See that podc

[2022-07-06 08:24] vishaldeepak commented on #14428
PR was merged, and should have solved the issue .

[2022-07-06 09:50] vishaldeepak commented on #14428
Do you have the steps on how to create this on your local, maybe I can help out, its been some time since Ive worked on this

[2022-07-06 09:57] lightalloy commented on #15675
I looked into this issue and found out that when we unpublish post via `admin_unpublish` (from the "Moderate Post" side panel), we use `@article.update` and not `Articles::Updater` service where destroying related notifications is covered. So, the notifications are not destroyed in this case.
We should also check for other places for this potential bug.

[2022-07-06 10:59] #17829 closed

[2022-07-06 12:02] lightalloy commented on #15675
I implemented a fix in #18047

[2022-07-06 12:12] nsbarsukov commented on #14428
I sincerely appreciate your help!

Unfortunately, I don't know how to reproduce it locally (I dont even know how launch forem-app locally).
But you can use [this article](https://dev.to/angular/sliders-are-like-onions-three-gradient-layers-of-a-single-slider-1nia).
It contains a lot of github snippets. And sometimes this snippets are shown in incorrect order (see video above).

[2022-07-06 15:38] lightalloy commented on #15675
Should be resolved by #18047

[2022-07-06 15:39] #15675 closed

[2022-07-06 18:40] jeremyf opened #18051 "Restore Feed Goals from past Experiments"
In past feed experiments we processed additional goals; these goals should be added for our next feed experiment.

https://github.com/forem/forem/blob/bc0e5ced6c2a0c41ba8228c18872bf8f519d479c/config/field_test.yml#L157-L161

Relates to https://github.com/forem/forem-internal-eng/issues/453

[2022-07-07 12:25] jeremyf commented on #18041
Reading notes:

A podcast can be "owned" by multiple people (see https://github.com/forem/forem/blob/bc0e5ced6c2a0c41ba8228c18872bf8f519d479c/app/models/podcast.rb#L10-L12).  When we banish a user, we should consider the use case of their podcasts being "owned" by multiple people.

[2022-07-07 13:51] #17291 closed

[2022-07-08 15:08] #17657 closed

[2022-07-08 18:46] #11600 closed

[2022-07-08 18:46] #10738 closed

[2022-07-08 18:46] #10129 closed

[2022-07-08 20:00] joshpuetz opened #18061 "Update Forem developers guide docs"
API Docs at https://developers.forem.com/contributing-guide/api need to be updated with new name/location/process for generating the API documentation site

[2022-07-09 11:53] Rafi993 commented on #17910
I have been busy for a while and have not worked on this issue. I am removing myself from this issue so that others could take it up.

[2022-07-11 15:51] jeremyf commented on #17644
@gajananpp any updates?  I'm checking if this is something to unassign.  I'll schedule checking back on July 17th and if I hear nothing, I'll unassign the work.

[2022-07-11 16:21] michael-tharrington commented on #17972
Realize I was a tad late on this one, but I think I got ya via DMs in Slack. Just gonna drop my explanation here for others just in case.

If you write a response template and use quotations, then all of the words after you use your first quotation mark (`"`) do not appear in the template.

So, if my response template is:

Then all that would appear in my response template is:

[2022-07-11 21:39] michael-tharrington commented on #18041
So interesting that a podcast can be owned by multiple people. I don't even truly understand what an owner of a podcast has the ability to do.

I wish that an owner of a podcast could control aspects of the podcast (like put in new artwork or change the RSS feed etc.)... to my knowledge all that an owner can do is submit a podcast. And I'm so confused because how would there be multiple folks subm

[2022-07-12 07:36] Ridhwana commented on #17486
Closing this issue as per this comment https://forem-team.slack.com/archives/C7GE84DEJ/p1657564157625299?thread_ts=1657531192.719549&channel=C7GE84DEJ&message_ts=1657564157.625299

[2022-07-12 07:36] #17486 closed

[2022-07-12 07:47] lightalloy opened #18075 "Improve the datetime picker for scheduling posts"
Scheduling articles was implemented in https://github.com/forem/forem/pull/17939 and can be enabled via `FeatureFlag.enable(:schedule_articles)`.

Currently, there is a datetime-local field, but this solution is problematic because the user has to fill the date and time fully, including seconds, otherwise the value won't be saved, which is misleading. We can't pre-populate the field because, in th

[2022-07-12 08:02] #16781 closed

[2022-07-12 11:31] jeremyf opened #18082 "Feed Experiment for 20220712"
Reminder:

* We should re-add the following success criteria
* User Views Pages On At Least Four Different Hours Within A Day
* User Views Pages On At Least Twelve Different Hours Within Five Days
* User Views Pages On At Least Nine Different Days Within Two Weeks

Weights for this round

* 20220617-variant-a should get 50% for the next week
  * Rationale: in the absence of statistical significanc

[2022-07-12 12:24] lightalloy commented on #15858
The feature is merged, but remains behind a feature flag. The next steps are:
- Improve the datetime picker #18075
- [Refactor saving `published_at` logic](https://github.com/forem/forem/pull/17939/files#r901483566)

[2022-07-12 12:59] dinozavrix commented on #9532
Hello! I too have problems installing with docker on Mac M1 Pro

[code]
After 45min timeot it's stops
`DISABLE_SPRING: 1` didn't help

Not sure is this right but I tried run `gem install websocket-driver -v 0.7.5 --verbose` inside forem_bundle container and it's stuck after
[code]
if then press Ctrl+C it's return
[code]
Could you help with advice on what I can do?

[2022-07-12 13:41] jeremyf commented on #17283
Related to #17294 and #17292.

[2022-07-13 10:16] aitchiss opened #18095 "Member Index View Filters: Show an indicator when filters are applied"
When filters are applied, we want to show a count of these in an indicator on the filter button.

[See the design in the Figma](https://www.figma.com/file/Ejc7VELuN00n1SZrkUTBcQ/Member-List-View?node-id=1124%3A5685)

[2022-07-13 16:27] benhalpern opened #18103 "Composer toolbar overflow on notifications screen"
**Describe the bug**

Toolbar overflows on narrow screen for newly-introduced comment toolbar

**To Reproduce**

- Reduce screen size too mobile width
- Go to `/notificatioins` and click "reply" to a comment
- Scroll right

**Expected behavior**

Does not overflow

**Screenshots**

<img width="455" alt="Screen Shot 2022-07-13 at 12 25 34 PM" src="https://user-images.githubusercontent.com/3102842/1

[2022-07-14 01:27] codemee opened #18111 "Cannot use '\|' to show vertical bar in a table"
In github, you can use '\\|' to show vertical bar in a table as shown bellow

|input|result|
|---|---|
|\\\||\||

But this doesn't work in dev.to, it brokes as shown bellow

![圖片](https://user-images.githubusercontent.com/1037913/178867422-7c8a8fb7-cf70-41df-990b-5947c4bb5b6f.png)

[2022-07-14 07:55] aitchiss commented on #18103
For the moment I'm going to hide the toolbar completely on this page, because we don't currently show full comment functionality on `/notifications` (e.g. previously we had no templates or image upload), and so I'm not sure if it's intended to be shown here at all.

I'll check with product/design if we do want to introduce the toolbar here, and if so we can view https://github.com/forem/forem/pull

[2022-07-14 08:09] aitchiss commented on #16781
@amywtlin can I check if the markdown toolbar should also be shown for comments on the `/notifications` page? I (somewhat unintentionally) added it in https://github.com/forem/forem/pull/18062, but there were a few issues on this page, and I have a ["quick fix" to remove it](https://github.com/forem/forem/pull/18112) from that area for now (pending this discussion 😄).

On the notifications page, w

[2022-07-14 08:25] aitchiss commented on #17882
Hi @JakenHerman 👋  How is it going with this issue?

[2022-07-14 09:06] dinozavrix commented on #9532
more info to previous message:
in `forem_bundle` container last log
[code]

macOS Monterey
MacBook Pro (16-inch, 2021)
Chip Apple M1 Pro

@jdoss @rhymes @citizen428 @djuber maybe you can help me?

[2022-07-14 09:18] aitchiss commented on #16781
OK great! I'll create a separate issue for it, and we can introduce it as a follow-on PR, with all the templates functionality baked in too ✨

[2022-07-14 09:19] amywtlin commented on #16781
Sounds great! Thanks so much, @aitchiss 🥰

[2022-07-14 09:24] aitchiss opened #18114 "Enrich the notifications comment area"
The notifications comment area currently has very simplified functionality compared to other comment areas in the app:

![Current comment area](https://user-images.githubusercontent.com/20773163/178956230-b5d95234-e5b3-4a38-bb68-17fd1c1b2d3a.png)

We want to make the experience of replying from comments more streamlined/enjoyable by:

- Adding the markdown toolbar
- Adding the "Preview" behaviour

[2022-07-14 09:24] aitchiss commented on #16781
https://github.com/forem/forem/issues/18114

[2022-07-14 13:04] aitchiss commented on #17277
Closing as this was completed as part of the member index view work

[2022-07-14 13:04] #17277 closed

[2022-07-14 13:09] aitchiss commented on #15726
Closing as resolved in https://github.com/forem/forem/pull/16131

[2022-07-14 13:18] #11346 closed

[2022-07-14 13:52] #17494 closed

[2022-07-14 14:05] #18103 closed

[2022-07-14 14:34] Link2Twenty opened #18119 "Comment toolbar overflow and tooltip"
**Describe the bug**
I noticed the comment toolbar is always scrollable (vertically), I did a little investigation and discovered the tooltip appears in the space that can be scrolled into.

**To Reproduce**
1. Go to a comment
2. Start writing a new one
3. Scroll down on toolbar
4. See issue

**Expected behaviour**
Tooltips should appear outside of the parent container, maybe using a position fixe

[2022-07-14 15:47] aitchiss commented on #18119
Hey @Link2Twenty thank you for logging this bug! The fix was recently merged and should be live soon 🙏  https://github.com/forem/forem/pull/18113

[2022-07-14 15:47] #18119 closed

[2022-07-14 16:32] #17492 closed

[2022-07-14 16:54] joshpuetz opened #18121 "Add a way to note user and/or posts that were banned/suspected via API"

[2022-07-14 16:54] joshpuetz opened #18122 "Document new APIs"
Endpoints to document:

- [x] /api/articles/:id/unpublish
- [x] /api/users/:id/unpublish
- [x] /api/users/:id/suspend

[2022-07-14 17:12] mirie commented on #17283
@michael-tharrington assigned this to you for final followup.

[2022-07-14 17:47] #17658 closed

[2022-07-14 19:28] #17830 closed

[2022-07-14 19:43] HighPlainsCoder commented on #11346
I have retested, and the bug is gone!

good work, everyone

[2022-07-14 19:47] mirie commented on #17658
@fdocr is this issue done? I'm not sure how the auto closing (the issue is closed when the PR is merged) works in Github projects -- I'm not sure looking at your project board if there's additional steps after the issue itself is closed.

[2022-07-14 20:05] fdocr commented on #17658
Yes @mirie, when a PR has text in the description that reads _"closes #<issue_number>"_ GitHub will automatically close the corresponding issue. GitHub project will take closed issues and move them automatically to Done automatically.

<img width="892" alt="Screen Shot 2022-07-14 at 13 54 26" src="https://user-images.githubusercontent.com/6045239/179072655-62b5ff38-5d49-4d69-a5bf-3947ea2d85c6.png"

[2022-07-14 21:42] fdocr commented on #18121
Surfacing [what was mentioned here](https://github.com/forem/forem/pull/18043#discussion_r921587408), after some more thought I believe we can use the [AuditLog](https://github.com/forem/forem/blob/main/app/models/audit_log.rb#L1) model to encode these actions so that they are easier to revert if necessary.

Open to discuss this and other alternatives too, so for now I updated the issue's title to

[2022-07-14 23:03] jhonatan-kmt commented on #17531
Hi, I would like to contribute to this issue!

[2022-07-15 06:33] amywtlin commented on #17883
Hi @jhonatan-kmt - just realized you submitted a PR to this. Thank you! I have flagged your PRs for our team to review.

Next time please make sure you leave a comment on the issue requesting to work on it first, so we can be of help and guide you through it.

[2022-07-15 06:33] amywtlin commented on #17967
Hi @jhonatan-kmt - just realized you submitted a PR to this one, too. Thanks again! Also flagged your PR for our team to review.

Next time please make sure you leave a comment on the issue requesting to work on it first, so we can be of help and guide you through it.

[2022-07-15 06:37] amywtlin commented on #15856
We have taken a different direction with Passport and this doesn't apply anymore, hence closing this.

[2022-07-15 06:39] #15856 closed

[2022-07-15 07:22] amywtlin opened #18125 "See who reacted to my posts"
## Notes
This issue is blocked by #18277.

## User story
📖 As an author, I should be able to see all people who reacted to my posts, and access their profiles.

To help authors see who has liked their post, we want to add a new piece of UI to the top of the post page. This UI is only visible to the **author** of the post.

**[Design mockup:](https://www.figma.com/file/Rl50gxO5BHioRC3nUoRQ7M/Reacti

[2022-07-15 07:23] amywtlin opened #18126 "See who liked my comments"
📖 As an author of a comment, I should be able to see all people who liked my posts, and access their profiles.

Everywhere we show comments, we want to allow the author of the comment to be able to see who liked their comment. For the moment, this information will only be available to the comment author.

**Places where we show comments:**

- Post page
- Comment index page

(we also show comments

[2022-07-15 07:24] amywtlin opened #18127 "A way to jump to comment area fast while reading a post"
## Notes
This issue is blocked by #18277 -- needs to be paired up with the deployment of the removal of the unicorn reactions icon.

Adding a shortcut to jump to the comment area: I often find myself wanting to comment on something while I was still reading a post, having to scroll all the way down to the comment editor.

## To-do

We are introducing a sticky comment button:
1. Desktop version: to

[2022-07-15 07:25] amywtlin opened #18128 "Add the ability to react to a post directly on feed"
We want to allow users browsing the feed to be able to like a post without visiting the post page. To do this we will change the current "X reactions" link into a button with heart icon and text "<number> Likes" (or "like" singular if applicable).

If you don't "like" the post already, then hovering over it should result in the icon having a dark fill colour [as per the prototype](https://www.figm

[2022-07-15 07:27] amywtlin opened #18129 "Highlighting a paragraph of text to start discussions on it as a comment"
Highlighting: selecting a part of a post, and making comments look like it's replying to that highlighted part of the post (similar to Medium). This could be as simple as after triggering, just pre-populating the selected text with the block quote format syntax in the comment editor and jump to the comment editor for the user to continue typing their opinions.

Required design inputs:

1. How read

[2022-07-15 12:15] Link2Twenty opened #18130 "Bring Crayons to colour picker"
**Describe the request**
I noticed the colour picker has been updated and is infinitely better than what we had before. It's not very `Crayons` though so I thought I'd have a look at how easy it is to style.

I've made a style I think matches `Crayons` better and I've noted which variables I took the values from.
https://codesandbox.io/s/react-colorful-customization-demo-forked-bl2tol?file=/src/Ap

[2022-07-15 12:31] #17932 closed

[2022-07-15 12:44] Link2Twenty commented on #18130
If this is something we want to implement and we're happy with the look I can implement it later.

[2022-07-15 13:42] thomasbnt opened #18131 "Mod panel and markdown toolbar in comments"
**Describe the bug**

**To Reproduce**

1. Go to [/mod panel](https://dev.to/mod)
2. Click on any post
3. Scroll down to comments
4. See the problem

**Expected behavior**
Have a problem on /mod with the **markdown toolbar**.

**Screenshots**

![Example of the problem](https://i.thomasbnt.dev/i/fnrj3.gif)

**Desktop (please complete the following information):**

- OS, version: Windows 10
- Browse

[2022-07-15 14:33] dinozavrix commented on #17851
@joaoGabriel55 thank you a lot!

[2022-07-15 14:47] jhonatan-kmt commented on #17881
Hi, I would like to contribute to this

[2022-07-15 14:58] Link2Twenty commented on #18131
As a quick "fix" you can hold shift and use your scroll where to move along the bar.

[2022-07-15 15:07] #17659 closed

[2022-07-15 16:00] jhonatan-kmt commented on #17883
Hi @amywtlin, I had to open a new PR pointing to the main branch, can you check it?

[2022-07-15 16:04] jhonatan-kmt commented on #17967
Hi @amywtlin, I had to open a new PR pointing to the main branch, can you check it?

[2022-07-15 16:39] mirie commented on #17701
@aitchiss assigning this one to you, but if this makes more sense for someone else to work on then please reassign!

[2022-07-15 18:36] michael-tharrington opened #18138 "When an admin tries to banish someone they receive an error message that appears to be incorrect (or possibly things aren't functioning as expected)"
**Describe the bug**

My colleague @erinb223 attempted to banish a spammer earlier today and was unable to, but received a confusing error message which said:

Erin did not have `Super Admin` or `Support Admin` status at the time, but once we upgraded her status to `Super Admin`, she was able to banish the user.

However, the user being banished was brand new; their account was created the same da

[2022-07-15 22:52] pkfrank commented on #18125
Let's begin this task by only making the list of reactors available to the **author** of the comment/post (and not a separate reader).

That information is already public to the author and thus we don't have to consider any privacy considerations (someone might reasonably expect their reaction to be private to everyone but the receiver).

[2022-07-15 22:54] pkfrank commented on #18126
Linking these two issues: https://github.com/forem/forem/issues/18125

[2022-07-16 04:33] saksham-jain commented on #16506
Is this issue taken up? If not, can I take this and fix?

[2022-07-18 16:26] michael-tharrington commented on #17283
Spoke to SO and can confirm this is working as expected. They've re-enabled the button. Thanks all!

[2022-07-18 16:26] #17283 closed

[2022-07-18 16:38] mirie commented on #17283
Amazing!

[2022-07-18 20:57] Link2Twenty opened #18151 "Bring Crayons to file upload"
**Describe the request**
I noticed the button in the file uploaded is still the standard HTML button, it would be nice to crayonify this.

**To Reproduce**
1. go to [settings](https://dev.to/settings)
2. scroll down to user
3. see upload option

**Expected behaviour**
It would be nice to have a blue forem-esc button.

**Screenshots**
**Current**
![current upload button](https://user-images.githubu

[2022-07-19 10:16] rt4914 opened #18356 "Navigation Drawer scrolling bug in some devices"
**Description**
The scrolling in navigation drawer does not work in some low-end devices making it impossible to explore all options.

**Device/Emulator**
5.4 FWVGA
API30

**Steps to Reproduce**
1. Install the fresh copy of app
2. Open dev.to
3. Open navigation drawer and try to scroll to the bottom options.
4. Scrolling does not work

**Note**
- This might not be easy to fix because id does work

[2022-07-19 10:30] mirie opened #18154 "Extend spam trigger terms to usernames and profiles"
### Discussed in https://github.com/forem/forem/discussions/18134

<div type='discussions-op-text'>

<sup>Originally posted by **michael-tharrington** July 15, 2022</sup>
I think we should extend the functionality of our spam trigger terms to take automatic disciplinary action against usernames and profile content that include these terms. Spam trigger terms currently only read post and comment co

[2022-07-19 12:21] jeremyf opened #18155 "Add Feed Experiment 2022-07-19"
Weights for this round:

- 20220617-variant-a should get 50% for the next week
  - Rationale: in the absence of statistical significance, we keep the incumbent
  - It also seemed to win on at least a metric or two
- New challenger should get 50%

New Challenger Strategy introduces some "jitter" to the number of comments.

[2022-07-19 12:59] jeremyf opened #18157 "Extend spam trigger terms to usernames and profiles"
### Discussed in https://github.com/forem/forem/discussions/18134

<div type='discussions-op-text'>

<sup>Originally posted by **michael-tharrington** July 15, 2022</sup>
I think we should extend the functionality of our spam trigger terms to take automatic disciplinary action against usernames and profile content that include these terms. Spam trigger terms currently only read post and comment co

[2022-07-19 13:25] mirie commented on #18154
@michael-tharrington what do you think about the definition of "Done" here? I added the review step -- I assume it's the same as flagged content, BUT I wasn't sure if this necessitate adding a new section to the admin screen or not as well as if this step is actually necessary. Please let me know if "flagged" actually means auto-suspension or auto-unpublishing the user.

Also, not sure if you have

[2022-07-19 15:33] joshpuetz commented on #17655
Closing as this is baked into the V1 api

[2022-07-19 15:33] #17655 closed

[2022-07-19 17:17] aitchiss commented on #18131
Thanks for flagging this up! Yes it seems that rendering it inside the iframe reduces the container enough to trigger the mobile/horizontal scrolling layout 🤔

I'll definitely look into it!

[2022-07-19 17:23] aitchiss commented on #18130
@anujbhavsar96 - would you be able to take a look at the mockup above and let us know what you think?

[2022-07-19 17:50] joshpuetz opened #18165 "Add user_id to returned data from API endpoints"
One of our partners has requested we add `user_id` alongside `user_name` to API endpoints:

Slack thread: https://forem-team.slack.com/archives/C01ER8NQ6LS/p1657926226331459

[2022-07-19 17:50] joshpuetz opened #18166 "Investigate API throttling errors"
One of our partners seems to be running into API throttling issues:

Slack thread: https://forem-team.slack.com/archives/C01ER8NQ6LS/p1657926226331459

[2022-07-19 18:59] #18155 closed

[2022-07-19 20:05] michael-tharrington commented on #14483
This isn't something that gets reported frequently, but I just wanted to confirm that this is still occurring. I just gave it a test on the Web Monetization Community here:

https://www.loom.com/share/4135bbe514744afcada4f2089e9f6af0?t=206

[2022-07-19 20:35] Fish1 opened #18170 "Posts with header images render over the rounded borders"
**Describe the bug**

On posts with header images, the image overflows the posts rounded edges.

Here is a small snippet of the image going over the border.
![image](https://user-images.githubusercontent.com/13600696/179842682-8785e17c-4308-4f0b-81fe-264b98c15ca2.png)

![image](https://user-images.githubusercontent.com/13600696/179842625-033dc00b-be18-49c9-8ad4-350684228cbd.png)

**To Reproduce**

[2022-07-20 08:37] anujbhavsar96 commented on #18130
This looks much cleaner ✨. In addition, a bit of white space makes it easy to interact with the color spectrum below.

[2022-07-20 13:39] jeremyf commented on #18138
@michael-tharrington I'm unable to duplicate this behavior on my local machine; I have a user with `admin` but not `super_admin` nor `support_admin`.

[2022-07-20 13:46] aitchiss commented on #18131
Adding the `needs product` tag as @anujbhavsar96 and I have been chatting about solutions that would also resolve https://github.com/forem/forem/issues/17714

[2022-07-20 13:49] aitchiss commented on #18151
Pinging @anujbhavsar96 in case he has any thoughts on this one 😄

Definitely think it would be useful to create a design-system level file upload input. I'm not sure if it should maybe use secondary button variant though, since form submit would likely employ the primary one 🤔

[2022-07-20 13:52] michael-tharrington commented on #18154
@mirie I think that definitely works!

As for the review step, you're right that we should include this.

The way it works when an account is "flagged" for tripping the spam trigger terms is the flagged account appears in the "Flag Reactions" section of `/admin/moderation/feedback_messages` and appears to be reported by the site mascot (Sloan in our case). And you're correct, we then decide to val

[2022-07-20 13:53] #18051 closed

[2022-07-20 13:54] jeremyf commented on #18111
Reading Note: In past conversations with former team members they mentioned that our current markdown parser needs revisiting.  The challenge in this revisitation is that changing parsers can disrupt past markdown.

[2022-07-20 13:55] jeremyf commented on #17991
This relates to #18111

[2022-07-20 14:04] Link2Twenty commented on #18131
A possible solution, I thought about, would be to move all off screen buttons into the ellipse menu this would require some js to run a render time and a resize event listener.

[2022-07-20 15:02] aitchiss commented on #17144
Hi @janessatran 👋  as per my message on https://github.com/forem/forem/pull/17586 I'm going to go ahead and unassign you for now as we haven't heard back from you in a while (we understand - life gets very busy!)

If you'd still like to continue working on this, please just let us know and we'd be more than happy to re-assign you ❤️

[2022-07-20 16:02] #17881 closed

[2022-07-20 16:35] jeremyf commented on #17991
To "fix" this may require significant work (e.g. upgrading the underlying
parser, which might involve looking for a new parser).

This is why I prefixes my comment with "Reading Note", I want to
communicate potential impact of changes.

On Wed, Jul 20, 2022, 10:46 AM Jakub T. Jankiewicz ***@***.***>
wrote:

[2022-07-20 16:57] jhonatan-kmt commented on #16297
Hi @aitchiss, @jeremyf. Is this issue still available for work?
I would like to work on it to improve my backend skills, is this possible? :thinking:

[2022-07-20 17:31] jeremyf commented on #17983
This relates to #18111

[2022-07-20 17:41] jeremyf commented on #17972
Reading Notes: I did some investigation, and I believe that we're encountering unescaped characters in JS data.

I believe we'll need to change the following:

https://github.com/forem/forem/blob/5579f3360c02a0adddeeeee22e89fcfb5e70df87/app/javascript/responseTemplates/responseTemplates.js#L40

[2022-07-20 17:48] jeremyf commented on #17972
Reading notes: I think a helper function akin to what was added in #16067 would make sense.

[2022-07-20 20:05] fdocr commented on #18027
We shipped an update to our authentication logic and ran a fix on the affected users.

@michael-tharrington could you please email those that wrote in with the report mentioning their accounts should be confirmed and working as expected?

If they don't have any issues with this we can consider this problem solved IMO, although we must tackle another related issue separately regarding a subset of a

[2022-07-20 21:21] michael-tharrington commented on #18027
Woohooo! Good deal. 🙌

I chatted with @maestromac about this earlier and he gave me a heads up that y'all had grouped on this and ya figured it out. Awesome sauce!

I can confirm that I've hit everyone back with the following message:

[2022-07-20 21:22] #18027 closed

[2022-07-20 21:33] michael-tharrington opened #18184 "When adding OAuth, the UI acts screwy"
**Describe the bug**

When adding a new OAuth method to my DEV account, instead of getting a success message that is consistent with the UI when removing an OAuth account, I get sent to this page https://dev.to/new?i=i&signin=true which looks broken.

**Expected behavior**

When I successfully add OAuth to my account I expect to see a message like:

**Videos**

https://www.loom.com/share/26a57c6ec

[2022-07-21 02:49] codemee commented on #18111
Maybe you cant take the new parser as a testing option.  For those who don't wnat the risk of the new parser, he can turn off the option. I think the parser of github or hackmd would be a suitable reference implementation.

[2022-07-21 02:51] codemee commented on #18111
By the way, adding line numbering for code block is another feature in many users' wish list.

[2022-07-21 07:06] aitchiss commented on #16297
Hi @jhonatan-kmt 👋  Nobody is currently working on this issue so I'm happy to assign it to you!

Please see the [comment above](https://github.com/forem/forem/issues/16297#issuecomment-1023362937) for details of the change we need to make in the backend. Please don't hesitate to tag the team in with any questions you have along the way!

[2022-07-21 07:21] anujbhavsar96 commented on #18126
This would be pretty straightforward. There will be new interaction about how to `See who liked my comments`

There aren't any design changes required for this. In any comment, we treat the whole `❤️ 2 Likes` as a reaction button. Now we will separate `❤️` and `2 Likes`

NOTE: In the mobile view, we have text like `❤️ 2`, so we should be changing it the same as the desktop view `❤️ 2 Likes`

Click

[2022-07-21 08:05] anujbhavsar96 commented on #18151
You are right @aitchiss , secondary button would be more appropriate here ✨

[2022-07-21 08:15] Link2Twenty commented on #18151
So more like this?

![revised image](https://user-images.githubusercontent.com/3534427/180164767-ab634b20-13c8-46ac-9fc9-64e1b42b586f.png)

[2022-07-21 10:46] aitchiss commented on #18131
That's exactly what we've decided to do @Link2Twenty 😄 This issue will be addressed alongside https://github.com/forem/forem/issues/17714

[2022-07-21 10:53] #18075 closed

[2022-07-21 12:57] jeremyf commented on #18111
Reading Notes: For those curious, Forem uses [Redcarpet](https://github.com/vmg/redcarpet) as our server-side markdown parser.  Github has a custom parser, which would be lovely if it were open source.

And for those reading along, right now I'm adding my notes on considerations.  I understand that there are lots of feature requests and one of the challenges is prioritizing this work and ensuring

[2022-07-21 14:18] fdocr opened #18189 "Replace webpacker gem with jsbundling-rails"
Due to the [webpacker gem](https://github.com/rails/webpacker) being deprecated we should replace it with [jsbundling-rails](https://github.com/rails/jsbundling-rails) instead.

We can continue to use webpacker as the bundler for our code, but we should ensure its tooling (i.e. `webpacker-dev-server`) are up-to-date.

[2022-07-21 14:18] fdocr commented on #16006
Closing in favor of #18189

[2022-07-21 14:18] #16006 closed

[2022-07-21 14:19] Ridhwana opened #18190 "Remove existing feature flags for the Member Index View"

[2022-07-21 14:26] #17979 closed

[2022-07-21 14:45] fdocr opened #18192 "Upgrade Twitter OAuth 1.0a to OAuth 2"
We've noticed some issues regarding registration of new users that used Twitter social auth. We have a hunch that upgrading to [OAuth 2.0](https://developer.twitter.com/en/docs/authentication/oauth-2-0) will get rid of these inconsistencies, on top of other benefits this upgrade would bring.

This is a sensitive area of the codebase and also a somewhat complex one too IMO. I'm leaving it with the

[2022-07-21 19:56] Vaz612 opened #18196 "Forem docker container not building correctly from main"
**Describe the bug**

Our team is attempting to build the forem container with docker from main. We have tested building from source with all necessary dependencies  with good results. However, the container solution, which is desirable, does not seem to have the same stability. When building, there are very often a myriad of errors that occur, and not necessarily the same errors every run. Our .e

[2022-07-22 00:45] pkfrank commented on #10994
This has been fixed for a while 👍

[2022-07-22 00:45] #10994 closed

[2022-07-22 01:17] Fish1 opened #18197 "Header images have a curve on mobile, but the articles border is not."
**Describe the bug**

A radius is being applied to the article images all the time, even when it shouldn't (such as on a mobile view)

The border still renders, resulting in the corner to looks weird.

**To Reproduce**

Look at an article with a mobile view.

**Expected behavior**

There should be no image radius when the article has no radius.

**Screenshots**

![image](https://user-images.github

[2022-07-22 14:09] dennistobar opened #18201 "Backticks inline produces expansion of template"
**Describe the bug**
I started a block code with triple backticks (`) to create a code area. I closed before the new line and appears a template markup.

**To Reproduce**
1. Create a new post
2. Add this text (it's an image because GitHub is using markdown too)

![image](https://user-images.githubusercontent.com/1218182/180456694-552ae0ed-5d9d-47bb-9a68-4491c7132cd7.png)

3. Preview the page

**Ex

[2022-07-22 15:27] maestromac commented on #17686
I'm going to remove the assignment @KirtanSoni but if you would like to pick this up again please let us know!.

[2022-07-22 17:05] Aprillion commented on #10952
Happened to me too in Firefox 102.0.1, I clicked `Edit` on a draft page opened from dashboard: https://dev.to/aprillion/left-join-in-sql-python-javascript-and-sheets-4d38-temp-slug-5918130?preview=5ce77167e9b1a793b826cd02833e88e3b2bbe2723cce1c29113fd31bd8a78f0956e5ca3f6bfcd9318de29a96da45314187228686233a8d26719f18d7

*Workaround:*
I was able to modify the URL manually to `.../edit?preview=...` and

[2022-07-22 17:35] #18121 closed

[2022-07-22 23:43] jaraco opened #18204 "Marketing URL for pypi/importlib-resources is a 404"
I recently enrolled importlib-resources in Tidelift, but today I clicked on the Lifted badge to be met with a 404, so I returned to the Marketing task for the project and clicked [the URL there](https://tidelift.com/subscription/pkg/pypi-importlib-resources?utm_source=pypi-importlib-resources&utm_medium=referral&utm_campaign=enterprise) and it's also a 404.

![image](https://user-images.githubuser

[2022-07-23 04:44] f2k2game opened #18205 "Editor Toolbar is not sticky for long paragraph post"
From recent update, Editor Toolbar is not sticky for long paragraph post, So Its is not user friendly and very hard to create a post.

https://user-images.githubusercontent.com/45148319/180590649-a8d2de65-34a8-4f11-81a8-62d0dc166289.mov

[2022-07-23 23:12] dylankenneally opened #18206 "Search is missing results"
**Describe the bug**

When I search for the term `Portfolio`, I see that there are articles missing from the results list.

**To Reproduce**

In a browser, on a desktop, do the following:

1. Go to [dev.to](https://dev.to/)
2. Once loaded, enter the term `Portfolio` into the search field in the header and press <kbd>enter</kbd> to start the search
    - Alternatively, visit https://dev.to/search?q

[2022-07-24 15:46] Link2Twenty commented on #18206
The search functionality only returns the top 60 results.

[2022-07-24 15:51] Link2Twenty commented on #18205
This is caused by the body having the `h-100` class meaning the body ends and so does the sticky element.

https://github.com/forem/forem/blob/75d6e60a957b4296dd9eddbf8f0628781dc5cd56/app/javascript/article-form/components/EditorBody.jsx#L72-L75

[2022-07-24 16:05] dylankenneally commented on #18206
Oh, that seems odd - should that limit exist? We kinda presume search tools will return all the results, paginated or with infinite scroll, or something.

Do you know if there are plans to support search via [the API](https://developers.forem.com/api) too?

If it is to stay (not my preference) could the user be made aware? Would also be good to know what 'top' means? Is it the most recently added

[2022-07-25 01:55] simevidas opened #18209 "Client-side router does not correctly update RSS link in <head> on navigation"
**Describe the bug**

The `<link rel="alternate" type="application/rss+xml">` element in `<head>` is not correctly updated when the user navigates the website https://dev.to/.

**To Reproduce**

1. Open https://dev.to/dashboard
2. Using the browser’s devtools, observe that there is no `<link rel="alternate">` element in `<head>`
3. Click one of the Followers/Following… tabs in the side bar and the

[2022-07-25 11:58] #17579 closed

[2022-07-25 12:49] aitchiss commented on #18205
Thanks for logging this bug, and thank you @Link2Twenty for quickly identifying the fix! I'm not totally sure why I slipped that class in there 🙃

[2022-07-25 15:49] #18205 closed

[2022-07-25 18:51] mirie commented on #17714
@aitchiss Can you confirm if you're looking to wrap this up this week?

[2022-07-25 19:43] mirie commented on #17928
@joshpuetz are we looking to close this out this week? Or is this a backlog item?

[2022-07-25 19:54] mirie commented on #18166
@joshpuetz Are we looking to wrap this up this week Or is this a backlog item?

[2022-07-25 19:57] mirie commented on #18189
@fdocr I remember you brought this up to me last week -- is this something you have bandwidth to tackle once you wrap up negative behavior API work?

[2022-07-25 20:11] mirie commented on #18192
@fdocr do we have issues open that we can link re: the issues we've seen regarding registration flow using Twitter social auth?

Looks like these:
- https://github.com/forem/forem/issues/17437
- https://github.com/forem/forem/issues/17909

@pkfrank it looks like Twitter is listed last in the list of options for account creation. I assume that is because we have a lower % of users authenticating vi

[2022-07-26 03:49] fdocr commented on #17928
@joshpuetz looking back at this, does #18223 look like it would tackle this situation?

It may or may not already be solved, because I do believe we have tracking in some senses (how the API is being used), but we may not have a more fine-grained way to determine and analyze who/how is using it.

That PR can be considered a PoC, which also uses a FeatureFlag to toggle ON/OFF if needed (i.e. we see

[2022-07-26 03:57] fdocr commented on #18189
Sure, I can timebox this to one day worth of work and see how far that gets me. The problem with this upgrade is that I don't know the type of errors I'll run into. Hopefully none, or easy to fix errors that can be solved within that timeframe, but I don't want to be overly optimistic when it comes to refactoring frontend tooling 😅  so I may end up getting stuck at some point along the upgrade.

I

[2022-07-26 07:11] anujbhavsar96 commented on #18127
Right now, we don't have a comment icon in the action toolbar on the left side. Adding a comment icon will allow users to jump to the comment section.

**Interaction**
Clicking on the comment icon should take users to the comment area with the comment field focused. And clicking on the comment number should take users to the comment area only with no comment field focused.

**Desktop**

![With Com

[2022-07-26 08:40] aitchiss commented on #17714
Yep that's my plan @mirie!

[2022-07-26 09:00] anujbhavsar96 commented on #18125
Assuming we will be removing the unicorn reaction option for now. This is how the interaction would look to see who reacted to my posts.

![Jul-26-2022 14-04-07](https://user-images.githubusercontent.com/84626054/180962219-c3fa59b8-8628-4faa-a058-df0b3eca814d.gif)

Here are [Figma designs](https://www.figma.com/file/Rl50gxO5BHioRC3nUoRQ7M/Reactions-%E2%9D%A4%EF%B8%8F?node-id=701%3A2026) for it.

*

[2022-07-26 11:21] #17644 closed

[2022-07-26 14:17] mirie opened #18225 "Adjust feed experiment"
Adjust one lever in the feed experiment:

https://docs.google.com/document/d/1H1WsktwvlspsB_1RmsZxfVcJHVcaeorHLjpAWG8Oazw/edit

[2022-07-26 15:19] joshpuetz opened #18226 "Create weekly feed experiment"

[2022-07-26 15:26] joshpuetz commented on #18226
Duplicate of https://github.com/forem/forem/issues/18225

[2022-07-26 16:52] joshpuetz commented on #18166
Clarified with @mirie that this is a longer term task, not necessary for inclusion in this week's sprint (2022-07-26)

[2022-07-26 18:22] mirie opened #18231 "Update new moderator role name to super-moderator"
## Problem Statement

In [this team post](https://forem.team/peter/architecting-our-trustedmod-programs-4mjo) about the new super-moderator role work, it was noted that we want to rename the role from `moderator` to `super-moderator` to make it clearer/more aligned to the privileges granted and how we're using it.

Before we "launch" this feature, we'll need to update the name (display and in the

[2022-07-27 07:19] anujbhavsar96 commented on #18128
Assuming we will be removing the unicorn reaction option for now.

We will have to change some wording on the index page. Right now, it says `❤️ 103 Reactions`, but since we are removing unicorn, we will change it to `❤️ 103 Likes`

Also, as far as I know, right now, on the index page, `Reaction = Likes + Unicron + Saved`. But it should show only the count of Likes only going forward. Anyway, Save

[2022-07-27 08:29] #17891 closed

[2022-07-27 09:36] aitchiss commented on #18206
Linking this issue to https://github.com/forem/forem/issues/16297

[2022-07-27 09:38] aitchiss commented on #18190
Closed by https://github.com/forem/forem/pull/18191

[2022-07-27 09:38] #18190 closed

[2022-07-27 14:47] #17754 closed

[2022-07-27 15:20] aitchiss commented on #17489
All filters confirmed for phase 2 have been implemented; closing this issue

[2022-07-27 15:20] #17489 closed

[2022-07-27 15:48] mirie commented on #18122
@joshpuetz Who's best to QA this (if needed)?

[2022-07-27 15:57] #17701 closed

[2022-07-27 16:32] joshpuetz commented on #18122
That would be @fdocr on the associated PR: https://github.com/forem/forem/pull/18187

[2022-07-27 16:40] #17714 closed

[2022-07-27 16:40] #18131 closed

[2022-07-27 18:23] fdocr commented on #18122
Whoops, this one slipped through my reviews last week. Just left a comment/question there but otherwise LGTM 🙌🏼

[2022-07-28 11:50] Link2Twenty opened #18236 "Username change breaks links"
**Describe the bug**
When you link to someone's article and they update their username the link is no longer valid.

**To Reproduce**
1. go to https://dev.to/link2twenty/accessibility-first-dropdown-select-3ji5
2. Scroll down to "Article No Longer Available"
3. Wonder why it's not available

**Expected behaviour**
I'd like to think links would auto update.

**Screenshots**
![image](https://user-im

[2022-07-28 18:44] joshpuetz opened #18240 "Add documentation URL to API v0 WARN message"
A suggestion from @pkfrank:

We should change the current v0 API WARN message to include a link to the documentation about accept header and api-key requirements once that documentation is posted via https://github.com/forem/forem-docs/issues/87

[2022-07-28 19:17] #17883 closed

[2022-07-28 19:30] #18122 closed

[2022-07-28 19:54] mirie commented on #17577
@aitchiss should we move this to the backlog now since this got merged in? https://github.com/forem/forem/pull/18188

[2022-07-28 20:16] mirie opened #18241 "Display Ad Image Preprocessing on the Posts page"
After releasing [Add Display Ad to the Post Page](https://github.com/forem/forem-internal-eng/issues/486), we discovered that when we placed a Display Add on the Post page, the image was pre-processed to shrink it down to the width of 350px. This is OK for the sidebar but is problematic when the Display Ad is placed in the content area on the Post page (the smaller image is stretched to fit the co

[2022-07-28 20:50] mirie commented on #18241
@jaw6 I assigned this issue to you since you worked on the last one. I'm hoping it's a straightforward fix to add a different condition / sizing for the pre-processing of the image. I think perhaps we had an issue with banner content in the past in the content -- or perhaps there's a solution that can be looked at from how we display a signup CTA in the feed on the homepage.

[2022-07-28 21:23] AlexFreik commented on #12061
Is there any news? It would be really nice to be able to use CommonMark

[2022-07-29 17:07] mirie commented on #18128
It looks like we won't redirect the user to the Post, they will remain on the homepage after they click the Like button. Is that correct?

Will the modal behavior described [here](https://github.com/forem/forem/issues/18125) apply in the feed as well? Meaning, when a user clicks `103 Likes` do they get the modal popup of the list of people _if they are the author of that post_?

[2022-07-29 17:08] mirie commented on #18125
@anujbhavsar96 I am not a social tools aficionado AT ALL, so excuse the basic question: How will users know to click on the count? I couldn't tell that it was clickable looking at it -- maybe this is just something that users know/expect based on using tik tok, instagram, etc so **we're** kind of an oddball for _not_ making it clickable right now.

Also is this modal scrollable? What happens if th

[2022-08-01 03:09] amywtlin commented on #17880
@mirie I saw that Suzanne is actively guiding the contributor in a PR (https://github.com/forem/forem/pull/17893) for this issue, so I assigned this issue to Suzanne (and I would to @jeferson-sb, too, but to no avail) and moved this one to `In progress` so it reflects the correct status on the board.

[2022-08-01 05:46] anujbhavsar96 commented on #18128
Correct

NO. I've discussed with @pkfrank about this, and we will not be doing this right now. We don't want to make it confusing here on the index page. Since only authors can see this list right now.

[2022-08-01 05:52] anujbhavsar96 commented on #18125
Yes. It doesn't look clickable right now since there is no visual change. It's new interaction. We can educate users about this unique interaction with a few methods.

1. DEV post about this new interaction
2. Product guide modal/tooltip once an author publishes their post

IMO the easiest way, for now, is to go for the DEV post. What do you think @pkfrank ?

[2022-08-01 17:23] mirie commented on #15859
@amywtlin and @lightalloy, can you remind me? Are we still looking to make this change?

[2022-08-01 17:43] mirie commented on #18231
@jaw6 wondering if I can also pass this your way so that we can truly launch this feature (for context: https://forem.team/aritdeveloper/technical-walkthrough-modrole-project-3cad and https://forem.team/peter/architecting-our-trustedmod-programs-4mjo)

[2022-08-02 08:44] lightalloy commented on #15859
I'll repost my message from Slack:

[2022-08-02 10:42] Link2Twenty commented on #16297
If we're delving into how search works is it worth laying some ground work for advance search, like [twitter's](https://twitter.com/search-advanced?lang=en-GB) where you can enter a bunch of stuff to search by but all it does is put the magic commands in the search bar.

![search bar](https://user-images.githubusercontent.com/3534427/182356001-5155e8a4-f82c-4a5c-9451-03b420e6d97b.png)

[2022-08-02 13:33] Link2Twenty commented on #18127
Don't forget there might also be a mod shield in that bar.
Things start getting quite tight on mobile.

[2022-08-02 14:01] Link2Twenty commented on #11458
@Ridhwana @aitchiss is this on anyone's radar? Who is the best person to ping about this now?

[2022-08-02 14:43] mirie commented on #18231
- This will involve a data migration since the name of the role is in the db

[2022-08-02 16:24] joshpuetz opened #18263 "Reactions API: Create reaction"
Reactions API requirements: https://docs.google.com/document/d/1O8YG8moIMUHi5_A-VHVWDmdIaYeHFEpeBEFGRyxc-PQ/edit#bookmark=id.z6jwzd5e5y70

Description: create an endpoint for creation Reactions.

**Authorization**: api key

**Permissions**: limited to users with `Admin` or `Super Admin` role

**Path**: POST `/api/reactions/`

**Body params**:
reactible_type: enum[article, comment, user], required

[2022-08-02 19:14] joshpuetz opened #18266 "Reactions API: Delete reaction"
Reactions API requirements: https://docs.google.com/document/d/1O8YG8moIMUHi5_A-VHVWDmdIaYeHFEpeBEFGRyxc-PQ/edit#bookmark=id.z6jwzd5e5y70

Description: create an endpoint for deleting a Reaction.

**Authorization**: api key

**Permissions**: limited to users with `Admin` or `Super Admin` role

**Path**: DELETE `/api/reactions/:id`

**Body params**:
none

**Return body**:
none

**Return codes**:
20

[2022-08-02 20:11] joshpuetz opened #18267 "Reactions API: Read reaction"
Reactions API requirements: https://docs.google.com/document/d/1O8YG8moIMUHi5_A-VHVWDmdIaYeHFEpeBEFGRyxc-PQ/edit#bookmark=id.z6jwzd5e5y70

Description: create an endpoint to read a Reaction.

**Authorization**: api key

**Permissions**: limited to users with `Admin` or `Super Admin` role

**Path**: GET `/api/reactions/:id`

**Body params**:
none

**Return body**:
id: integer
reactible_type: enum[a

[2022-08-03 05:11] anujbhavsar96 commented on #18127
@Link2Twenty Thanks for pointing this out. I'm aware of it. In that case, I would want the Shield icon to be a floating action button.

[2022-08-03 07:51] aitchiss commented on #17577
Yes @mirie I think this belongs in the backlog now!

[2022-08-03 08:12] aitchiss commented on #11458
Hey @Link2Twenty, no, it's not currently prioritised. I noticed the two bugs referenced by this issue have been closed - do you know if this behaviour is causing bugs in the live app at the moment? I'm just thinking it might be helpful to reframe this issue around unwanted behaviours in production, so we can see what priority level it should be.

[2022-08-03 08:26] Link2Twenty commented on #11458
The main one that I keep noticing is keyboard shortcut jumping.

Every time you leave the home screen and come back the keyboard shortcuts stack meaning the next button, which should advance by 1, advances by 2, 3 or n posts per click.

**When the page first loads**
![first load](https://user-images.githubusercontent.com/3534427/182560719-f888d0a9-987a-4860-945e-80abed129b22.gif)

**After a bit of

[2022-08-03 08:31] aitchiss commented on #11458
OK great - thank you @Link2Twenty! Checking the notes on https://github.com/forem/forem/issues/11371 now it seems like we closed it in favour of this issue, but then this issue was never fully resolved 🙃

I'll update the description here and add the `bug` label and pop it in our queue of issues to review

[2022-08-03 11:44] #17967 closed

[2022-08-03 12:32] #18197 closed

[2022-08-03 13:16] aitchiss commented on #16328
FYI - you can find these "legacy" modals by searching for use of the `crayons-modal` class name. A quick search today shows deprecated non-Preact modals in:

- `app/javascript/admin/adminModal.js`
- `app/views/liquids/_user_subscription.html.erb`
- `app/views/users/show.html.erb`

There are also usages in the onboarding flow, but this might be best looked at separately as they're a very different

[2022-08-03 15:39] fdocr commented on #18039
In terms of concerns I feel like most of the resources (i.e. articles) out there, including popular Q&A sites like StackOverflow ([ex1](https://stackoverflow.com/questions/12001269/what-security-risks-exist-when-setting-access-control-allow-origin-to-accept-all), [ex2](https://medium.com/@ehayushpathak/security-risks-of-cors-e3f4a25c04d7), [ex3](https://portswigger.net/web-security/cors#:~:text=Vu

[2022-08-03 16:51] #18165 closed

[2022-08-03 19:37] joshpuetz commented on #18039
This is great @fdocr! What would the effort look like to re-enable CORS on the API?

[2022-08-03 19:45] joshpuetz opened #18270 "Comments Score Feed relevancy lever"
Description:

Create a new home page feed relevancy level patterned after the `comments_count` lever for an article (see https://github.com/forem/forem/blob/main/app/models/articles/feeds.rb#L135), but with the following changes:

- Instead of comments count, use a `comments_score` calculated as `comment * number_of_positive_reactions`

For example: an article has 3 comments.
- comment 1 has 1 pos

[2022-08-03 19:52] joshpuetz opened #18271 "Public Reactions Score Feed relevancy lever"
Description:

Create a new home page feed relevancy level patterned after the `public_reactions` lever for an article (see https://github.com/forem/forem/blob/main/app/models/articles/feeds.rb#L314), but with the following changes:

- Instead of public reactions count, use a `public_reactions_score` calculated as _to be determined_

Related Blazer query:

https://dev.to/admin/blazer/queries/832-ar

[2022-08-03 19:59] fdocr commented on #18039
I almost have it all implemented in https://github.com/forem/forem/pull/18213, so I'd say a few days to get feedback on it and then merge? Since it was all already implemented in V0 I'm going back to some of those concepts already existing there

[2022-08-03 20:01] joshpuetz commented on #18271
@pkfrank I'm a little unclear on how exactly this works: can you explain the desired calculation?

[2022-08-03 21:40] fdocr commented on #18039
By the way, I think it's best to split that PR up. I can get the CORS-related changes in a separate PR and keep the removal of the FeatureFlag there, to be merged after that other one is in. Let me know if anyone feels like it should be approached differently. The effort there would probably be lower in terms of PR review for other core team members.

[2022-08-03 22:20] pkfrank commented on #18271
Our current `relevancy_lever(:public_reactions,` looks at `articles.public_reactions_count`

I'd like a new relevancy lever that looks not at `articles.public_reactions_count`, but rather `articles.score` (which we're already generating / storing)

[code]

[Related Blazer query](https://dev.to/admin/blazer/queries/835-articles-with-score-10)

Note that we also have `comments_score` available here

[2022-08-04 02:36] amywtlin commented on #15859
@mirie Yes we are - but as @lightalloy mentioned, this one would be larger than we previously imagined, and we probably need some design help from @anujbhavsar96 on how to show these drafts in admin's content manager. I am tagging this with `need design` to reflect that.

[2022-08-04 02:59] amywtlin commented on #18125
I agree a dev.to post would be the most straightforward. We can just embed the video @anujbhavsar96 provided here. I think we should bundle this one and also the ability to see who react to my comment one, too.

[2022-08-04 03:01] amywtlin commented on #18125
As not everyone reads announcement posts, for discoverability, one thing we could consider is to adding a tooltip when users hover over the number of likes. @anujbhavsar96 how do you feel about this or something along this line?

[2022-08-04 05:22] anujbhavsar96 commented on #18125
We can do that when the author is on the post-page ✨ I love how [Figma shows a walkthrough tooltip](https://assets.website-files.com/61a60c66d019df8b241b1720/62272bb99ba08964b7cb4e8b_SKbTg3_jm0qjg2k2DCRyLBrrhWkehA-JW5FkBtTffQImuU1hCCurfVXCXgfO4OVRSvYvS4jMbF01qQDuHsE4A7QlcdbJTHys8QkIkuOqKkh8StV-E_2I6I7b2d9jqSTiUzeacrkw.png) with graphics and tiny details. If we can do something similar, it will loo

[2022-08-04 09:20] aitchiss opened #18273 "Review Cypress vs Preact vs Rspec tests"
Since we introduced Cypress testing, we've heavily favoured Cypress tests in new feature work. In doing so, we have introduced a fair bit of duplication in what we're testing in the different areas. It would be useful to take some time to review the current state of our tests as a whole and identify any tests we could prune, or relocate (e.g. turning some Cypress specs into Preact tests).

It's up

[2022-08-04 09:29] aitchiss opened #18274 "Add critical flow / "smoke" tests in Cypress"
Since introducing Cypress E2E testing, we've largely added tests as we introduce new features, and we haven't really taken stock of what our critical flows are. For example, we don't have any E2E tests for the onboarding flow, despite this arguably being one of the most important user flows in the app.

I'm creating this issue more as a 'suggestion', and whoever takes it forward can perhaps lead a

[2022-08-04 10:53] aitchiss commented on #16133
Following our chat @vishaldeepak, I've had an investigate and think I can summarise the issues we had when https://github.com/forem/forem/pull/16686 was first merged:

**Caching issues:**
- We had an edge caching bug where the sort order parameter was being ignored - this has been fixed already - see https://github.com/forem/forem/issues/17080
- There was another fragment caching issue - detailed

[2022-08-04 12:29] aitchiss commented on #18127
I just want to flag up that we originally had this FAB but removed it because it was frustrating users by obscuring content (e.g. https://github.com/forem/forem/issues/14062). At the time we even did a poll of mods, and they overwhelmingly agreed the button should be removed  - check out https://forem-team.slack.com/archives/C01MK34RE6P/p1635859139065700?thread_ts=1635370983.032100&cid=C01MK34RE6P

[2022-08-04 12:39] aitchiss commented on #18128
I just want to triple check this - I know we plan at some point to remove the Unicorn reaction, at which point all 'like' counts on posts will be `likes + unicorns`. Don't we want this count on the home feed to be Likes + Unicorns?

[2022-08-04 12:50] vishaldeepak commented on #16133
thanks @aitchiss , i'l work on this

[2022-08-04 12:55] aitchiss commented on #18128
On another note... I'm not sure where the right place to ask this is, but I'm not sure why we are encouraging users to like a post that they probably haven't read yet? IDK maybe there's a situation that's not springing to my mind right now, but it feels like a bit of a dark pattern to me and I'm curious how we feel it's going to benefit community health

[2022-08-04 13:06] aitchiss commented on #18125
The only thing about a standard tooltip is that not all users can hover - anyone using a touch device will be missing this information 🙁

This is more of a 'contextual onboarding' - I don't think we've ever done anything like this in the app, but I know we've discussed a few times in the past it could be a nice thing to do. Like the iOS/android app banners, it could just disappear once acknowledge

[2022-08-04 13:09] aitchiss commented on #18126
Can I confirm if this modal is available to _all_ users, or only to the comment's author (in a similar way to the proposal for seeing who reacted to your posts)?

[2022-08-04 14:52] mirie commented on #18241
I can't figure out how to link the PR...https://github.com/forem/forem/pull/18260

[2022-08-04 15:00] mirie commented on #15858
@lightalloy can you remind me -- In your last comment there's a checkbox for [Refactor saving published_at logic](https://github.com/forem/forem/pull/17939/files#r901483566). Is that still a pending task?

[2022-08-04 19:41] #18241 closed

[2022-08-04 20:13] fdocr commented on #18196
Hi @Vaz612 thank you for reaching out. Can you share the exact steps you're taking to build the containers?

We run Buildkite on every commit to `main` and the image is uploaded in https://quay.io/repository/forem/forem?tab=tags&tag=latest in case it's easier for you to run that container image instead. The containers are built using [`scripts/build_containers.sh`](https://github.com/forem/forem/b

[2022-08-04 20:37] fdocr commented on #18201
Thank you for the report @dennistobar.

I can replicate this problem but I don't feel like this is an actual bug. Codeblocks in Markdown aren't intended to live inside other codeblocks. This isn't supported here in GitHub or in StackOverflow to name a couple other platforms that support markdown.

If you want triple backticks inside a codeblock [check out this similar question in SO](https://stack

[2022-08-04 20:37] #18201 closed

[2022-08-04 21:05] fdocr commented on #18138
As I was looking through open issues without tags I gave this a try and I'm able to replicate. As an `admin` + `trusted` user (not `super_admin` or `support_admin`) I can't banish a user.

I don't have much context on the decision why it's this way. It feels likely that this was done this way purposefully, in order to restrict access to the destructive action. However, the request from Michael is

[2022-08-04 21:15] fdocr commented on #18204
Hi @jaraco, this seems to be a Tidelift specific issue (https://tidelift.com) that doesn't relate to Forem or Tidelift's community site (https://community.tidelift.com).

Filing an issue on a [Tidelift GitHub org](https://github.com/tidelift) repository, like [tidelift/lifter-stuff](https://github.com/tidelift/lifter-stuff) would likely be better.

I'm closing now, but please feel free to share mo

[2022-08-04 21:15] #18204 closed

[2022-08-04 22:11] fdocr commented on #18236
Hey @Link2Twenty, thanks for the report. Did you end up updating your post? I couldn't find any "Article No Longer Available" embed in there.

This one is quite tricky IMO, because of the surface area the changes would need to check on every username update (i.e. all embed links to posts/comments, @ mention in the DB, and possibly others?). Usernames don't seem to change that often though, so a ba

[2022-08-04 22:53] jaraco commented on #18204
Oops. I don't know why I filed the bug here. Sorry for the mistake.

[2022-08-05 03:51] amywtlin commented on #18138
@fdocr This is the expected behavior. This issue contains a scenario provided with many possible solutions, so it is normal you are unsure how to proceed. @michael-tharrington As it's mostly ourselves using these admin features (i.e. DEV) and it's rather easy to make a teammate a super admin, let's not adding this permission to admins, and just changing the copy as you suggested for clarity. If we

[2022-08-05 03:59] amywtlin commented on #18125
@aitchiss What would be a good way for us to facilitate feature discovery for touch device users in general? Any recommendations?

Yea, I am aware of this. It is unlike usual feature implementation and tends to be more short-lived, hence requiring more maintenance than it should have needed. I do know there are 3rd-party integrations like [Chameleon](https://www.chameleon.io/) - supposedly it's al

[2022-08-05 04:03] amywtlin commented on #18126
@pkfrank was there a decision made for this one? I saw that we have decided that [only authors can see who react to their posts](https://github.com/forem/forem/issues/18125#issuecomment-1186007035), but not sure about this one.

To maximize the impact of building this modal, we should make this available to all users (so they can explore profiles and onwards); but it would be inconsistent with pos

[2022-08-05 04:10] amywtlin commented on #18128
Yes - I think once we remove the unicorn, the new like count should be _# of unique users who have given a reaction_. That means when a user gave both like & unicorn in the past for a post, when recalculating, it'd count as one instead of two likes. Does this make sense to you though?

I had the same thought in the beginning but I remember @anujbhavsar96 told me about a use case that made sense to

[2022-08-05 04:16] amywtlin commented on #18127
@Link2Twenty Just wanted to say that's some awesome simulation you have done there 😍

[2022-08-05 05:25] anujbhavsar96 commented on #18125
Not sure about this. It might become a huge mismatch of interaction. On the other hand, as a reader, it works as Like, and as an author, it opens up modal.

I have another idea ✨. How about we keep the left side action bar interaction as it is and include these two components with the post area? So clicking on 69 Likes opens up a modal with a list, and 10 Comments takes you to the comment area sam

[2022-08-05 06:06] anujbhavsar96 commented on #18127
Wow. That was unexpected 😂. Then, in that case, putting it inside the overflow menu should be fine. Also, we were thinking of removing the Unicorn reaction, and if we do that first, then the comment icon can replace it.

Also, some mocks around different scenarios. We are also planning to show a list of reactors so we can display the full number in that modal. But it won't be possible for the read

[2022-08-05 06:26] anujbhavsar96 commented on #18128
This solution assumes we remove the unicorn first. So we can call them `105 Likes` and not `105 Reactions`

---

Well, it's not a dark pattern. It's common practice to allow users to react from the index page. So we are not forcing them anything. Right now, it's unusual interaction where we redirect them to post-page. They click that icon with the intention of liking the post _(at least I used to

[2022-08-05 07:24] aitchiss commented on #18126
Awesome - thanks @amywtlin!

One other question pops to mind now since the functionality is different depending on whether or not I'm the comment author -

If I am _not_ the comment author, and I click "2 likes" (rather than the heart icon) - what do we expect to happen after this change? Does it

- Like the comment (as it does now)
- Do nothing (to keep interactions consistent across my own vs ot

[2022-08-05 07:28] aitchiss commented on #18126
Also what happens if I _am_ the comment author, and my comment doesn't have any likes yet?

Currently a comment is automatically "liked" by the comment author, but in a couple of cases we show an empty heart icon and the text "Like":

<img width="249" alt="Like button with no likes" src="https://user-images.githubusercontent.com/20773163/183025195-2f3abff5-4929-4f8d-adbb-0203631bc9dc.png">

This h

[2022-08-05 07:35] aitchiss commented on #18127
I guess if we are showing a shortened number like 9.9k, then readers are still getting the core info - "hey, a lot of people liked this!". Dropping the bookmark count would also help free up space.

That's true, it would free up exactly the right amount of space 😄

I'm going to add the `needs product` label back on this one for now as I think we need to make some decisions around how we go about t

[2022-08-05 07:46] aitchiss commented on #18125
It's difficult in this case as the reactions in the actions bar have an established look/feel, and if we don't change how they look visually, there's probably not a great way to make the new functionality obvious (aside from the kind of contextual onboarding discussed here).

I love this! Having it top of the post like this will help draw attention to the new feature, and we also don't need to wor

[2022-08-05 07:48] aitchiss commented on #18125
I've re-added the `needs design` tag as it sounds like we're leaning towards some kind of onboarding messaging for the feature / potentially adjusting where this info appears 🙂

[2022-08-05 07:55] aitchiss commented on #18128
OK, cool, that makes sense! @amywtlin do you know do we have an issue for removing the unicorn? It seems like this piece of work will be blocked by that.

To be honest I don't feel like I've seen this 🤷‍♀️  Sites like medium don't let you like a post until you're on the post page; stack overflow doesn't let you upvote until you visit the question. Maybe there are others that I'm unfamiliar with. A

[2022-08-05 08:02] anujbhavsar96 commented on #18126
It should be this -> Do nothing (to keep interactions consistent across my own vs others' comments)

If it's 0, then we should not show `Like` text. Does this make sense?

![Comment Reaction - Mobile](https://user-images.githubusercontent.com/84626054/183031207-b989c196-ebfa-4f8f-889d-e65b9f5e57d7.png)

[2022-08-05 08:14] anujbhavsar96 commented on #18128
Ah, I haven't noticed them in the medium. Now I see. Good point✨.

I think the kind of platforms that serve a longer content form doesn't allow a direct reaction from the index page. Only social media allowed direct reaction from the feed where you can only grasp most of the content from the index page.

It comes down to how we see our community platform. If it's more like medium and all, then pro

[2022-08-05 08:14] aitchiss commented on #18126
Yep, that definitely makes sense!

[2022-08-05 08:21] amywtlin opened #18277 "Remove unicorn reactions"
# Problem

The unicorn reactions, while being well-loved on DEV, can sometimes bring confusion to the users and it's not always on brand with all Forems. As we have discussed in several [Slack](https://forem-team.slack.com/archives/C03QCPEDDT3/p1658389672933249) [threads](https://forem-team.slack.com/archives/CAA200SH5/p1656305183488219?thread_ts=1655111706.931249&cid=CAA200SH5), we agree to remov

[2022-08-05 08:29] anujbhavsar96 commented on #18125
Based on the above discussion, the above post looks like the most appropriate position where we can display the Like count, which will open up the modal with a list of who reacted, instead of having it together with the Like action on the sidebar.

Since it's new UI addition, we might not need a feature discovery popup. Maybe just a DEV post might be enough.

@amywtlin @pkfrank thoughts on this?

[2022-08-05 08:51] Link2Twenty commented on #18236
Sorry yes, I did update the post.

[2022-08-05 09:12] Link2Twenty commented on #18277
😢

[2022-08-05 09:22] aitchiss commented on #18277
I can't see anywhere else in the code.

The notifications page only shows when someone has reacted to your comment/post with a unicorn, so if we remove the ability to react to these things with a unicorn, then it should (I think) be a straightforward UI code cleanup (if no new unicorn reactions arrive, then this UI shouldn't be triggered anyway 😄).

I think we might want to solve this in the contr

[2022-08-05 10:12] aitchiss commented on #18126
@anujbhavsar96 what do we want to do if there are hundreds of comments?

Should we load e.g. 25 initially, and then infinite scroll in the remainder? Or have a 'load more' button (easier, but less delightful maybe 😄)? I'm not sure how many likes is typical for a comment on DEV but I'm guessing it can get into the hundreds

[2022-08-05 14:24] fdocr commented on #18138
Thank you for the clarifying @amywtlin! And that's alright, I'll definitely keep this in mind whenever looking through issues (mostly on OSS Rotation though). I'll add `needs product` label in future similar cases 👍🏼

[2022-08-05 19:00] mirie commented on #18241
@amywtlin putting this in QA just as an FYI that the pre-processing image problem should be fixed for the Display Ad on the Post page in case you want to take a look. You can move it to Done / Kick back if you see an issue that needs further attention.

[2022-08-05 23:08] mpomery commented on #4805
#15520 addresses this for the link on a users profile

[2022-08-08 02:14] natepelzel commented on #14428
Hello!  I'd like to help out with this.  Would that be okay?

[2022-08-08 03:06] anujbhavsar96 commented on #18126
This one ☝️. Probably we can load till the first two scrolls, and then we can autoload with scroll. The `Load more` option will be too many clicks if there are hundreds of likes.

[2022-08-08 03:34] amywtlin commented on #18127
@anujbhavsar96 +1 to this. As we are also simplifying reactions, it makes sense to not show it. However, does that mean we would show it when it's the author who is reading the post vs when it's a reader?

[2022-08-08 03:37] amywtlin commented on #18138
@fdocr 👍 I'll give @michael-tharrington a day or 2 more to voice his opinion if he has any, and then finalize to-dos for this issue and remove the `needs product` tag.

[2022-08-08 03:41] amywtlin commented on #18128
@anujbhavsar96 I think Suzanne has a good point. I think I want to close this issue and not implement this instead. Do you think that's alright?

[2022-08-08 04:24] vishaldeepak commented on #14428
@natepelzel I have not started work on this, so its ok from me

[2022-08-08 05:21] anujbhavsar96 commented on #18127
@amywtlin I'm not sure about this. This might be a question for the community. Does the bookmark number bring any value to the author? If yes, just showcasing the number enough, or do we want to show a list of who bookmarked since we are displaying a list for reactions?

IMO for the author, just a number should be enough for the bookmark to gauge the popularity of the post. No need of a list of wh

[2022-08-08 05:24] anujbhavsar96 commented on #18128
Yes, we should close it @amywtlin ✨

[2022-08-08 06:20] amywtlin commented on #18125
@anujbhavsar96 I like this new approach! I think the new comment count introduced would also serve as a good alternative entry point that allow users get to the comment section when they are on desktop: #18127

Anuj, as we have lots of discussions going on around this area simultaneously, please make sure we (at least you and I) have a final look at things to make sure if they are coherent and we

[2022-08-08 06:21] amywtlin commented on #18128
Closing this as we decided not to go ahead with it.

[2022-08-08 06:21] #18128 closed

[2022-08-08 07:38] aarondreese opened #18283 "When hitting the submit button on replying to posts I get an error message:"
**Describe the bug**
When  pressing the SUBMIT button on replying to posts I get an error message popup:
Error Posting Comment
Your comment could not be posted due to a server error [OK]

**To Reproduce**

1. Go to any post
2. Scroll down to the Discussion section
3. enter some text into the response box
4. press [SUBMIT]
5. Error message modal pops up.

**Expected behavior**

I expect the post to

[2022-08-08 07:56] Sadeedpv opened #18284 "Overflow in the x direction is scrollable for smaller devices."
**Describe the bug**
While I was reading a blog on my mobile device, I noticed a small bug causing an overflow in the horizontal direction of the webpage that affects the responsiveness of the website. The screenshot of the issue is given below:

**Screenshots**

![Issue](https://user-images.githubusercontent.com/96517901/183368219-e81a28c1-816d-4047-859a-45b006f50f21.png)

**Smartphone (please co

[2022-08-08 08:49] aitchiss opened #18285 "Bookmark button for my own posts is momentarily visible before disappearing"
**Describe the bug**

We fairly recently made a change so that an author can't bookmark their own post, and the bookmark button doesn't appear on their feed story cards. The way this is working introduces a small 'flash' of the save button before it disappears from view.

Since it only applies to a user's own post, this is mostly only noticeable if a user views their own profile page. Given this i

[2022-08-08 08:57] aitchiss commented on #18126
@anujbhavsar96 / @amywtlin - are we happy that this one is ready for dev now?

[2022-08-08 09:05] aitchiss opened #18286 "Save/Bookmark buttons in feed do not have unique accessible names"
**Describe the bug**

In the home feed, tags feed, search results, and a user's profile page, we display feed cards including a 'bookmark' button to save to the reading list. The accessible name of all of these buttons is "Save".

This means that a screen reader user will hear "Save / Save / Save" many times without context of which post the button saves.

**To Reproduce**

- Go to the home feed
-

[2022-08-08 09:06] amywtlin commented on #18126
@aitchiss Yes please!

[2022-08-08 09:17] rt4914 commented on #17882
@aitchiss
@amywtlin

I am unable to use DragAndDrop in editor for posts.
Is there some place where I can test this already existing feature?

https://user-images.githubusercontent.com/9396084/183384166-1303e331-b32c-49bd-925f-07d74cca203d.mov

[2022-08-08 09:25] aitchiss commented on #17882
Hmmm it shoud be working? One thing I will say is that it can be quite slow, and there is no loading state - is it possible it popped up after a longer wait? e.g.:

https://user-images.githubusercontent.com/20773163/183385659-48c12317-2737-422c-984e-352c2d9b0042.mp4

[2022-08-08 09:29] Link2Twenty commented on #17882
Also worth looking the console just in case the upload failed. In the live version if you upload an invalid file type you get a 422 though you're not told as a user.

[2022-08-08 09:42] rt4914 commented on #17882
@aitchiss For live version it worked correctly with small file but for local environment it gave `Unexpected end of JSON input` error.

[2022-08-08 09:47] aitchiss commented on #17882
What happens if you upload the same image via the image upload button in the toolbar? It sounds like the drag/drop is working correctly, but for some reason the image upload flow isn't working for you - any error in the console/network tab that's more helpful?

[2022-08-08 09:49] Link2Twenty commented on #17882
`Unexpected end of JSON input` to me sounds like its response is probably html, I'd guess a 404.

[2022-08-08 11:26] Ridhwana commented on #18283
Hi @aarondreese, thank you for logging this issue. I'm unable to replicate this issue as of yet. Can you confirm that you're still experiencing it? If you are could you provide more information on the error message please, perhaps a screenshot if possible? Can you also confirm that you're logged in on dev.to when you're trying to comment on the post?

[2022-08-08 11:36] Link2Twenty commented on #18286
This is the component that renders the button https://github.com/forem/forem/blob/main/app/javascript/articles/components/SaveButton.jsx

It looks like the button already takes the whole article object so there's plenty of data to make an aria label from
https://github.com/forem/forem/blob/main/app/javascript/common-prop-types/article-prop-types.js

It might be worth changing `SaveButton` to a Fun

[2022-08-08 11:41] aitchiss commented on #18286
Worth bearing in mind that the `SaveButton` component is only used for the logged-in feed, and only the first page of results 🙃

We'll need to keep things consistent between that component and also
- `buildArticleHTML.js` and
- `_single_story.html.erb`

[2022-08-08 11:42] Link2Twenty commented on #18286
Oh, goodness. Might be worth unifying that at some point 😅.

[2022-08-08 11:44] aitchiss commented on #18286
I know I know it sounds like a no-brainer but there's a lot going on there 😅 One day...!

[2022-08-08 12:28] Ridhwana commented on #18283
@aarondreese can you also provide me with your username on dev.to if you don't mind please? I'd like to double check that all is okay with your account.

[2022-08-08 12:36] thomasbnt opened #18288 "(Mod) Flag abusive text %{username}"
**Describe the bug**
When you go to report a user, the text is badly transcribed.

**To Reproduce**

1. Go to any comment
2. Click on _moderate_
3. Scroll on _Flag [username] as Abusive_
4. See the button marked as `Flag %{username}`

**Expected behavior**

Have `Flag TheRealUsernameHere`

**Screenshots**
![image](https://user-images.githubusercontent.com/14293805/183418661-60feff39-01fe-4ba5-929d

[2022-08-08 12:43] aitchiss commented on #18125
@amywtlin / @anujbhavsar96 - I've updated the description with what I think we've arrived at - does this all sound OK? Are we happy that this one is ready for dev?

[2022-08-08 13:00] Link2Twenty commented on #18288
https://github.com/forem/forem/blob/19d6a26f7b9983cc6102b0cabcdfa0abe1b035ee/app/views/moderations/mod.html.erb#L93

Typo in the DB I think

[2022-08-08 13:19] aitchiss commented on #18288
We changed the value from `Flag user` to `Flag %{username}` in https://github.com/forem/forem/pull/18235. I think we just missed passing in the argument in `mod.html.erb` so it has a username to show 🙃

[2022-08-08 13:22] thomasbnt commented on #18288
I was looking at the changes to the French language 😄😆

[2022-08-08 13:46] rt4914 commented on #17882
@aitchiss @Link2Twenty Thanks. Drag&Drop image upload is working locally too.

[2022-08-08 15:48] natepelzel commented on #14428
@vishaldeepak I have WIP PR that I'd like some feedback on.  I was able to fix the issue but I wanted to make sure I went about it in an agreeable way

#18289

[2022-08-08 17:15] erinb223 opened #18291 "Notification count continually going up, not marking as read"
**Describe the bug**

This bug was surfaced on Twitter by community member [jonrandy](https://dev.to/jonrandy) in the following tweet: https://twitter.com/jonrandy/status/1556675606271574016

The text of the tweet reads "The notification count is continually going up. Nothing is getting marked as read. Seeing the issue both on mobile and desktop."

**Additional context**

This is the extent of the

[2022-08-09 04:30] vishaldeepak commented on #14428
@natepelzel Hey I think a core member will be able to help you out on this.

[2022-08-09 05:19] amywtlin commented on #18125
@aitchiss I think so! Thank you, Suzanne.

[2022-08-09 06:20] anujbhavsar96 commented on #18127
Okay, so assuming we will remove the Unicorn, and based on the [discussion here](https://github.com/forem/forem/issues/18125#issue-1305677653) about the post-reaction list, we decided not to keep interaction of modal opening in the action bar, it'll get easy to accommodate elements for mobile with enough touch area.

**Some scenarios based on the author and reader persona.**

![Comment Addition](h

[2022-08-09 06:47] jonrandy commented on #18291
The issue now appears to have either been resolved or has gone away (it is possible it may have been a bug on Firefox Nightly)

[2022-08-09 08:15] aarondreese commented on #18283
Thanks Ridhwana,

My account ID is: aarone4<https://dev.to/aarone4>

email address is: ***@***.***

Aaron.

________________________________
From: Ridhwana ***@***.***>
Sent: 08 August 2022 13:28:25
To: forem/forem
Cc: ***@***.***; Mention
Subject: Re: [forem/forem] When hitting the submit button on replying to posts I get an error message: (Issue #18283)

@aarondreese<https://github.com/aarondree

[2022-08-09 09:40] aitchiss commented on #18126
I started looking at the first task on this issue - hide the "like" text when there are 0 reactions. I'm a little bit confused though as it seems `public_reactions_count` is never zero for a comment -

I followed these steps:
- Add a new comment to a post -> comment shows up automatically as 'liked' by me
- I remove the auto-added like
- I refresh the page -> comment still shows as "1 like", but i

[2022-08-09 12:36] #18291 closed

[2022-08-09 15:23] fdocr commented on #18126
@aitchiss the reaction count mismatch at first glance feels like an odd situation. Did this happen on your local environment? Did you have caching enabled locally with `rails dev:cache`?

I tested this on BHC ([here](https://community.benhalpern.com/fdoxyz/comment/8i) and [here](https://community.benhalpern.com/fdoxyz/comment/8j)) and didn't run into the problem. Also attempted this locally and wa

[2022-08-09 15:44] aitchiss commented on #18126
Ooh thanks for looking into this @fdocr - funnily enough I didn't think to check a prod environment 🙈

I ran `rails dev:cache` which did change the behaviour, but now I'm seeing other weirdness locally 😞

https://user-images.githubusercontent.com/20773163/183696888-5667e442-781c-4c6b-835c-dd41f8974c3f.mp4

(The new comment comes with `1 like` even though it doesn't show as me having liked it)

IDK

[2022-08-09 16:26] fdocr opened #18312 "Consistency problem with reaction counts in local environment"
**Describe the bug**

When adding likes to comments in the local environment some weird behavior comes up. It seems to be related with caching in the local environment. When caching is disabled there are inconsistencies between the comment's `public_reactions_count ` (validate the model attributes using `rails console`) and the like button that appears on-screen.

Researching the root cause of thi

[2022-08-09 16:26] fdocr commented on #18126
Oh yeah now that you mention this I can see the same weirdness you shared in the screen recording above. However, I think this only happened because we need to refresh the page after running `rails dev:cache`. Also worth noting to make sure to restart the server in case you ran the command in a separate terminal.

After doing those two things I mentioned this is what I see locally:

https://user-i

[2022-08-10 07:05] aitchiss commented on #18126
Ah cool, yeah seems like there's a few ways to trip things up locally, but essentially it does all work correctly (or at least we're pretty much sure of that 😄)

Thanks for submitting that issue!

[2022-08-10 07:48] amywtlin commented on #18312
@fdocr moving this to `Ready for dev` on the product/eng board as it looks ready - feel free to reverse the action if not though!

[2022-08-10 12:21] devops-school opened #18323 "Error when Admin click on "Verify email address" of Invited users"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**
<img width="827" alt="image" src="https://user-images.githubusercontent.com/44023974/183899585-c197e61f-2dbf-4e2a-b9cd-aff2f71c97e3.png">

<img width="590" alt="image" src="https://user-images.githubusercontent.com/44023974/183899661-c65aaf79-ba39-4243-a7fd-95b4f23b5786.png">

**Desktop (please complete the following in

[2022-08-10 14:43] #18231 closed

[2022-08-10 15:43] Ridhwana commented on #18323
Hi @devops-school, I tried replicating this issue but I am unable to.

Can you please provide more information on this bug report? Since this is an admin page I'm assuming that you are an admin of a particular Forem? Can you also double check that you have SMTP settings setup so that the emails can be sent?

[2022-08-10 16:36] Ridhwana commented on #18283
Thanks for the info @aarondreese - I'm looking into this.

[2022-08-11 09:56] Ridhwana commented on #18283
Hi @aarondreese, thank you for your patience whilst we've investigated this issue ✨. We've looked into your account and the community team at DEV will be reaching out to you via email with further information. In the meantime, since this issue is related specifically to your account, I will be closing this issue on the repo.

[2022-08-11 09:56] #18283 closed

[2022-08-11 16:29] mirie commented on #18231
@amywtlin @michael-tharrington heads up that this has been merged in.

[2022-08-11 18:13] ccoVeille opened #18332 "Missing translation key on comment page"
**Describe the bug**

Here is what can be seen on comment page

![image](https://user-images.githubusercontent.com/3875889/184209168-c31d9194-6e6a-49e4-9d7a-929f57603a7e.png)

**To Reproduce**

Open this link https://dev.to/ccoveille/comment/20om3

then click on the "ellipsis icon to open the menu"

Then you can see the missing translation

**Expected behavior**

Get a translated text, and not som

[2022-08-12 12:02] aitchiss commented on #18332
Hi @ccoVeille - thanks for submitting this bug report! I'm not able to reproduce the UI you're seeing, either in a logged in or out state. Sometimes when we make changes to i18n keys there can be a small amount of time while the change propagates through caching etc. I'm wondering if that's what's happened here 🤔  Are you still seeing this 'missing translation' text? Do you still see it if you vis

[2022-08-12 12:08] aitchiss commented on #10048
Closing as I believe this has been resolved by the PRs mentioned above

[2022-08-12 12:08] #10048 closed

[2022-08-12 12:11] aitchiss commented on #11298
Closing this one since the image upload flow for the main editor doesn't rely on this copy text field any more, and newer versions of safari are working with the old-style copy/paste flow in the v1 editor 🙂

[2022-08-12 12:11] #11298 closed

[2022-08-12 12:58] maestromac commented on #18126
Late and dumb question here but what's the reasoning behind hiding "Like" text when a comment has no likes? To me, it's adding inconsistency.

[2022-08-12 13:25] aitchiss commented on #18126
Definitely a sensible question 😄 I'll let @anujbhavsar96 chime in, but I think it's to make things more consistent for the new flow (still to be implemented).

The forthcoming change will be for the 'like' button to become two buttons - with the icon actually liking the comment, and the text popping up a modal for the author. If the comment doesn't have any likes yet, and we showed the text, then

[2022-08-12 13:53] #17882 closed

[2022-08-12 14:21] aitchiss commented on #18126
First task (Hide "Like" text when a comment has no likes) has been completed in https://github.com/forem/forem/pull/18322

Since I won't be able to take this any further, I'm going to unassign myself and pop it back in 'ready for dev' 🙂

[2022-08-12 15:17] ccoVeille commented on #18332
thanks for the context and info, it's indeed sorted.

here is what I get now

![image](https://user-images.githubusercontent.com/3875889/184386392-969cbc2d-865f-41a1-be52-a790748b07f1.png)

[2022-08-12 15:17] #18332 closed

[2022-08-13 08:34] vishaldeepak commented on #17084
@benhalpern I am trying to resolve this , I don't understand this statement
[code]
Is it not possible to just cache it as follows by adding comments order. I tried in my local dev and seems to be working as expected.

<% cache("whole-comment-area-#{@article.id}-#{@article.last_comment_at}-#{@article.show_comments}-#{@discussion_lock&.updated_at}-**_#{@comments_order}_**", expires_in: 2.hours) do %

[2022-08-15 05:24] amywtlin opened #18336 "Change out error message that appears when a suspended/comment suspended user tries to comment"
### Discussed in https://github.com/forem/forem/discussions/18335

<div type='discussions-op-text'>

<sup>Originally posted by **michael-tharrington** August 13, 2022</sup>
**Context**

Currently, when a suspended or comment suspended user tries to take an action that they can't because of their suspension they receive the following, generic error message:

Here's a pic of that message:

![Screen

[2022-08-15 05:30] amywtlin commented on #17882
It works - how exciting! I do notice the lack of loading state when a larger image is uploading is a bit confusing, as comments mentioned above. @rt4914 do we have an issue capture this already?

[2022-08-15 07:38] Ridhwana commented on #15877
- https://github.com/forem/forem/pull/16896
- https://github.com/forem/forem/pull/16902
-
@amywtlin I'm trying to close off these work in progress PR's and want to clarify the following please:

Currently, the community emoji is used for the purpose of appearing after the community name just on the page title ( and nowhere else in the app).  When we display the community name in other places like

[2022-08-15 08:19] amywtlin commented on #15877
@Ridhwana I think that is okay. I think I will write a quick heads-up post on forem.dev and let Creators know how they can remove the emoji if they want to. Changing the `changelog` for this one...

[2022-08-15 09:12] dogseven opened #18337 "Can't complete Build your profile"
Getting stuck on page 2 of "Build your profile" - continue button doesn't work, and there are no error warnings on screen

- OS, version: Windows 10
- Browser, version: Google Chrome Version 104.0.5112.81 64 bit

[2022-08-15 09:13] dogseven commented on #18337
Think I have just seen the issue - I appear to have 2 accounts, as the message came up with a different screen name.
(But it didn't say what the issue was!)

Please cancel this issue.

[2022-08-15 09:16] Sachin-chaurasiya opened #18338 "BUG : Comment like count is getting negative that is -1"
**Describe the bug**

When we reply to someone's comment and try to like the same comment then the count becomes negative is `-1`.
For more please watch the screen recording.

https://user-images.githubusercontent.com/59080942/184609325-7cb05273-04e2-46a8-a8f1-d4d09e728b78.mov

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS,

[2022-08-15 09:39] #18337 closed

[2022-08-15 10:53] jaw6 commented on #18338
Steps to replicate:
1. Create a new comment, do not refresh the page.
2. Like and unlike the new comment

Once the page is refreshed, the component behaves normally, I suspect there's some weird initial state in the frontend when handling the results of a new comment POST.

[2022-08-15 12:24] lightalloy commented on #15858
@mirie yes, it's pending, sorry for the late response.

[2022-08-15 16:53] #17832 closed

[2022-08-15 17:41] mirie commented on #18189
@fdocr Are you looking to wrap this up today or do we have to return this to a paused state to pick up later?

[2022-08-15 17:43] mirie commented on #18240
Added `Blocked` label and moved to `Next` status.

[2022-08-15 17:47] mirie commented on #17880
Assigning to @maestromac for a final review -- looks like we're almost there to closing this one out

[2022-08-15 17:51] mirie commented on #18192
@fdocr I'm going to put this in `Not Yet Ready` status

[2022-08-15 18:10] fdocr commented on #18189
@mirie I do think it's best to return to a paused state. I managed to get some good progress with this (exploration + getting the upgrade to work partially in development) but the migration of all our webpack settings is complex and I wasn't able to wrap this up completely. We're on Webpack v5 (not lagging behind) so it's not critical that we immediately upgrade our current setup IMO

[2022-08-16 05:00] anujbhavsar96 commented on #18126
Even right now, we have a similar interaction. When 0 likes, we hide the number(In mobile). @maestromac
![Aug-16-2022 10-26-26](https://user-images.githubusercontent.com/84626054/184801076-0ebd4d93-f38c-42db-95aa-7e0bb0bc1119.gif)

Before, we treated `Like` text as a label, but now it's an action. In that case, it doesn't make sense to show when there are no likes.

[2022-08-16 06:16] rt4914 opened #18339 "Need loading state/indicator when uploading images in comments editor + post editor"
Reference: https://github.com/forem/forem/issues/17882#issuecomment-1214634544

When uploading image to post editor or comments editor, if the file is big it does not show any indicator whether its uploading image or not. To fix this we should show some form of loading indicator.

**Suggested Solution** (Needs confirmation from @amywtlin)
As soon as the image is dropped in the editor we can show b

[2022-08-16 06:18] rt4914 commented on #17882
@amywtlin I was unable to find any previous issues and therefore I have filed this issue: https://github.com/forem/forem/issues/18339

Can you have a look at details + tags + projects + milestones ?

[2022-08-16 06:31] amywtlin commented on #18339
@rt4914 The suggested solution looks good to me! I'll add this to the board and into relevant milestone(s).

[2022-08-16 06:38] amywtlin commented on #17882
@rt4914 Thanks for flagging, and it's looking good!

[2022-08-16 12:42] jaw6 commented on #18267
@joshpuetz I'm a little confused on this one? 🤯 I was expecting that an individual reactable would potentially have many, many reactions, and that we'd be more interested in the aggregates than in an individual reaction (how many likes/unicorns/etc?) If we retrieve an individual reaction, wouldn't we want more detail? (`user_id` and/or `username` maybe?) If we're just returning the reactable ident

[2022-08-16 13:16] michael-tharrington commented on #4504
This one recently came up again as an org admin was trying to archive one of their org's published posts. They didn't realize the feature was specifically meant to archive drafts and thought that they could use it to hide a published post from view.

I didn't actually realize what the archive feature was for and also assumed that it could be used to hide public posts. When I tried to hide a public

[2022-08-16 14:12] michael-tharrington commented on #4504
I actually got one more loom for y'all. This one is to show that archiving a post under an org is problematic because you can't easily unarchive it (in cases when the post isn't yours, it's unclear if you can unarchive it)

https://www.loom.com/share/d2df99e8d14844e0a450ce9957944ed4

[2022-08-16 14:54] joshpuetz commented on #18338
I'm pretty sure this is related to what I consider a longstanding bug: posts and comments get "auto liked" by their author upon creation. Looks like something changed recently with the like/heart button display to show zero, but it's still highlight upon comment creation:

I can't get this to happen every time, but here's what it looks like when you create a comment:
![Image](https://user-images.g

[2022-08-16 16:08] joshpuetz commented on #18312
Is this related to this bug report at all? https://github.com/forem/forem/issues/18338

[2022-08-16 16:21] app-generator opened #18341 "Update Error on Dev.to - "updating published_at for articles that have already been published is not allowed""
**Describe the bug**

While editing old articles on Dev, without any exception, I got always the same error and the new content is not saved:

![image](https://user-images.githubusercontent.com/51070104/184930820-af8f41e3-1443-489f-9d1b-75e4a9e46ada.png)

**To Reproduce**

Not sure this issue is related to my account https://dev.to/sm0ke

- Click on any existing article
- Start the edit mode
- Cha

[2022-08-17 08:05] LexFerrinson opened #18344 "Char limit when creating a profile is not displayed"
**Describe the bug**

When you are creating a profile in forem, there is a step where they ask you about your bio, your coding skills, your current job, etc. The problem is that when you add a bio, sometimes it does not let you go to the next step, but it does not display any error message. It does nothing. I've found out that the problem is that bio is 200 max len, but my bio was longer. However,

[2022-08-17 13:51] equiman opened #18348 "Can't update old post (editor V1)"
[x] done

**Describe the bug**

I'm trying to update one of my oldest posts that was created with editor V1. But when I hit the [save] button got this message:

[code]

**To Reproduce**

1. Go to https://dev.to/equiman/setup-macos-for-development-3kc2
2. Click on edit option
3. Add this markdown on `## Git` section

[code]
4. Hit the [save] button

**Expected behavior**

Save the update post and u

[2022-08-17 15:22] fdocr commented on #18312
I do think it could be related! Getting to the bottom of this might help understand the situation there too. I'll keep that in mind while debugging this 👍🏼

[2022-08-17 16:39] joshpuetz commented on #18267
That's a great point @jaw6, the use case for reading a single reaction is pretty flimsy right now (and we'd discussed that in the requirements doc). We know we'll want to create and delete reactions as part of our spam mitigation tools, but there's not a clear use case for reading a single reaction right now.

I think a strong case could be made for not writing this endpoint right now! @pkfrank: d

[2022-08-17 19:02] pkfrank commented on #18267
@joshpuetz @jaw6 let's skip it for now 👍

[2022-08-18 06:24] ApayRus commented on #18348
I have the same issue. Did you solve it?

[2022-08-18 09:26] leewynne commented on #18236
Hey Fernando - I am also experiencing this issue where I have moved ritual posts between accounts. [See here](https://www.thismmalife.com/teamthismmalife/next-ufc-mega-thread-2i8)

[2022-08-18 13:56] michael-tharrington opened #18351 "There is no way to delete a series name"
**Describe the bug**

Currently, if you create a series title, there's no way to remove it.

**To Reproduce**

1. Go to https://dev.to/new
2. Click on the gear icon beside "save draft"
3. Give your series a title and hit done
4. Save draft
5. Try to figure out how to delete the series title (I couldn't see how to do so from the editor nor the dashboard)

**Expected behavior**

There should be a cl

[2022-08-18 17:58] #18341 closed

[2022-08-18 18:15] app-generator commented on #18341
Hello guys!

Ty for the fix. The patch is scheduled to go LIVE any time soon?

10x

[2022-08-18 23:05] maestromac commented on #18341
@app-generator it went live

[2022-08-19 10:57] Link2Twenty commented on #18351
Even though the `stuff` series was missing from selection page it's still accessible with the url

https://dev.to/michaeltharrington/series/19380

[2022-08-19 15:06] #18270 closed

[2022-08-19 16:03] #17880 closed

[2022-08-19 18:44] mirie commented on #18271
@pkfrank this is QA stage just fyi for your review.

[2022-08-19 19:40] #18271 closed

[2022-08-19 19:46] #18356 closed

[2022-08-20 12:03] rt4914 commented on #18339
I am interested in working on this issue. Self- assigning.

[2022-08-21 15:06] jmau111 opened #18359 "Reading list displays wrong count on sidebar"
**Describe the bug**

When a post is **deleted**, the reading list does not take it into account. It happens on the sidebar but not in the dedicated page https://dev.to/readinglist where the count is correct.

**To Reproduce**

A bit hard to reproduce (you probably need a local instance), but just add a post to your reading list and then delete the post.

**Expected behavior**

The total count sho

[2022-08-22 05:15] iarmankhan opened #18361 "After login preferred theme settings are not getting applied till a refresh or page navigation"
**Describe the bug**

On Dev.to, after user login it doesn't change the theme according to user's preference. For example, if I have set dark mode for my user, then I browse the website without login on light mode, once I login to the website it won't change the theme instantly, I would have to refresh the page or navigate to some article to make it change theme for me.

**To Reproduce**

1. Go to

[2022-08-22 16:18] michael-tharrington commented on #18351
Oooo interesting! Thanks for adding that angle @Link2Twenty!

[2022-08-22 19:13] noviicee commented on #17910
I can take this!

[2022-08-23 07:48] tnir commented on #13804
@TastefulElk Hi. I improved the error handling with the message in #17570 3 months ago. Could you check it out?
@Ridhwana I think we can close this by #17570 and you can close this regardless of feedback from @TastefulElk.

[2022-08-23 07:53] TastefulElk commented on #13804
The error handling is indeed improved!

[2022-08-23 07:53] #13804 closed

[2022-08-23 08:16] tnir commented on #13804
Thanks for your confirmation.

[2022-08-23 10:36] Ridhwana commented on #18266
Based on [this](https://forem-team.slack.com/archives/C7GE84DEJ/p1661170530296619) conversation and [this one ](
https://forem-team.slack.com/archives/C7GE84DEJ/p1660746217526249) we've decided to not implement the "Delete" action, and instead just have the "Create" action change to POST to `/reactions/toggle`. This covers both a create and delete together.

[2022-08-23 10:36] #18266 closed

[2022-08-23 10:37] Ridhwana commented on #18267
Based on the above discussion + [this](https://forem-team.slack.com/archives/C7GE84DEJ/p1661170530296619) conversation and [this one ](
https://forem-team.slack.com/archives/C7GE84DEJ/p1660746217526249) we've decided to not implement the "Read" action. Hence, I'm closing this issue.

[2022-08-23 10:37] #18267 closed

[2022-08-23 17:10] rt4914 opened #18368 "Snackbar not visible image upload errors in comment editor"
**Describe the bug**

Snackbar not visible image upload errors in comment editor

**To Reproduce**

1. Go to any post/article as logged-in user
2. Go to comment editor area
3. Upload a very big image
4. There will be no visible error.

**Expected behavior**

Error snack bar should be visible similar to what happens when same steps are followed in `Create Post`

**Notes**
- For `Post Editor` the [h

[2022-08-24 08:31] amywtlin commented on #18368
@rt4914 What is the error here? Is the image size too big, or something? Do we have a copy written already?

[2022-08-24 08:42] amywtlin commented on #18368
This is related to #18339 as they are in the same area

[2022-08-24 23:38] RafaelM10 opened #18374 "Bug in IOS"
**Describe the bug**

<p> have the DEV.TO application installed on SO:IOS and when it enters the YEARS screen it closes automatically. I believe it is a functionality that should work normally taking the past years with the information of the posts, along with the current one we are. Now if it's a feature that isn't supposed to work, then let's have it on the cell phone.</p>

**To Reproduce**

**E

[2022-08-25 06:21] vishaldeepak commented on #16133
@aitchiss I've done all that was required though Im running into random error. Described here - https://github.com/forem/forem/pull/18349#issuecomment-1218378312
Will need help from the team.

[2022-08-25 06:42] amywtlin commented on #16133
@mirie Can someone from the team help with this?

[2022-08-25 19:46] mirie opened #18379 "Quality of life improvements on the Admin side of Display Ads"
**Is your feature request related to a problem? Please describe.**
As an admin using `/admin/customization/display_ads`, there are a few rough edges.

* Success Rate is displayed as a number instead of a %
* I can't filter based on Published / Approved
* Search doesn't work

These are not show-stoppers that prevent us from leveraging the user-facing functionality, but we should look to address the

[2022-08-25 20:16] mirie opened #18380 "Ensure we have the minimum setup for evaluating Display Ad success"
## Problem Statement

It is possible that we have a gap with our event tracking on impressions/engagements for anonymous users and/or that our success tracking system for logged-in users is lacking critical information.

This is an issue to note this possible gap and to allow for some investigation. We may need to do add something to aid us in understanding the effectiveness of our Display Ads for

[2022-08-25 21:00] mirie opened #18381 "Remove notice banner from /mod"
## Problem Statement

As part of the launch of the super-moderator role, we added a banner to explain that the Moderator role permissions/actions were not working properly in the Mod Center.

![Screen Shot 2022-08-25 at 4 58 00 PM](https://user-images.githubusercontent.com/896728/186767575-6e489b70-80f0-4086-a824-f248fa75c15c.png)

- The Super Moderator role is behind a feature flag, and is not be

[2022-08-25 21:17] rt4914 commented on #18368
@amywtlin I have added some notes to the description. In practice the error message is not important in this case, making sure that the function gets called correctly is important.

[2022-08-26 03:07] amywtlin commented on #18368
Ah I see. Then I think it's good to go!

[2022-08-26 03:10] amywtlin opened #18382 "Badge page redesign"
# User story
📖 As a user, I want to understand which badges I can potentially earn and how to do so for each one.

![Image](https://user-images.githubusercontent.com/11730007/186809998-07183106-8be3-478f-b661-9ff1cfbc49cb.png)

# To-do

To update the `/badge` layout as the new design [here](https://www.figma.com/file/ecvlal5QFT01C1idbO3Ljx/Badges-%F0%9F%8E%96?node-id=801%3A860)

Check this [Protot

[2022-08-26 05:09] davinkevin opened #18383 "Article stats not available for posts attached to an organisation I'm not in anymore"
**Describe the bug**

As a user, I would like to read statistics for all article I wrote in the past, including those attached to an organisation I'm not in anymore.

Currently, I'm able to load stats for [article](https://dev.to/davinkevin/deploy-with-kustomize-fluxcd-and-remote-resources-2id7/stats) published under my name:
<img width="1592" alt="image" src="https://user-images.githubusercontent

[2022-08-26 19:41] rt4914 commented on #18382
@amywtlin Either both the figma links are incorrect or the permissions needs to be updated. PTAL.

[2022-08-27 09:36] adriens opened #18386 ":bug: "Commentable is not valid on" on a Post in Draft status"
# :footprints: Steps to reproduce

1. Create a post
2. Save it in draft status (ie. do not publish it)
3. Comment on it
4. Get the "Your comment could not be posted due to an error: Commentable is not valid. " message

![image](https://user-images.githubusercontent.com/5235127/187024402-6ff89dff-3b6d-4b7c-a5b9-33aaaa231f49.png)

# :pray: Expected behavior

Two options :

:+1:  Ideally : be able to

[2022-08-27 21:03] adriens commented on #18386
UR welcome :smile_cat:

:pray: :heart_eyes: :clap:

[2022-08-29 05:40] amywtlin opened #18387 "Onboarding flow redesign technical assessment"
# Background

[PRD](https://www.notion.so/forem/Forem-Product-Roadmap-78f05719899f495dbabb089bbc3f40ef?p=4a40f246ad0f4e95987e80f342f7a3b3&pm=s)
As a part of effort to improve acquisition, @anujbhavsar96  looked at the current experience and have found quite a few things we can improve. We are at a point where we are almost ready to involve engineering to gauge effort.

# To do
1. Review the low-fi

[2022-08-29 05:54] amywtlin commented on #18387
@anujbhavsar96 Here's the issue that we'll use for a technical assessment!

[2022-08-29 08:11] amywtlin commented on #18382
@rt4914 Just invited you - try again?

[2022-08-29 10:31] #18339 closed

[2022-08-29 12:24] rt4914 commented on #18382
Thanks @amywtlin Worked.

[2022-08-29 15:22] pkfrank opened #18390 "Add logged-in vs. logged-out targeting option for Display Ads"
**Is your feature request related to a problem? Please describe.**
As an admin, I'd like to be able to add targeting options to ensure my display ads are delivered to the most appropriate audience.  The most important targeting dimension to consider is whether this display ad is showing to logged-in vs. logged-out users.

**Describe the solution you'd like**
On `/admin/customization/display_ads/ne

[2022-08-29 15:26] pkfrank opened #18391 "Add "name" field to Display Ads"
**Is your feature request related to a problem? Please describe.**
As an admin creating display ads, I'd like to be able to add an internal "name" field to help me stay organized and keep track of my different units.

**Describe the solution you'd like**
Similar to HTML Variants, add an internal name field.  This name should be reflected in the Display Ad index view instead of the ID.

**Additiona

[2022-08-29 15:29] pkfrank opened #18392 "Ensure display ads render consistently across all contexts"
**Is your feature request related to a problem? Please describe.**
As an admin, I want to have confidence that the Display Ads I've generated will render to the end user as expected.  Currently, the "Preview" does not necessarily line up with the actual unit that the user will see.

**Describe the solution you'd like**
Investigate this issue, identify and fix inconsistencies.

**Additional context

[2022-08-29 20:36] mirie opened #18393 "Feed experiment for Aug-29-2022"
Specific request in `Aug 29: Updates for this week:` section

Reference: https://docs.google.com/document/d/1H1WsktwvlspsB_1RmsZxfVcJHVcaeorHLjpAWG8Oazw/edit

Product point person: @pkfrank .

[2022-08-30 05:56] anujbhavsar96 commented on #18387
Here is the wireframe walkthrough [Loom video](https://www.loom.com/share/6318c9645a1543aaa0ee9b42ea4f3603) and [Figma File](https://www.figma.com/file/u7VcNG4pjbn7K01V8JrFWo/Member-Onboarding-Process?node-id=1803%3A52502). Drop your comments in Figma if you have any doubts or suggestions ✨

[2022-08-30 06:05] amywtlin commented on #18374
@RafaelM10 It looks like a rather old version of the iOS app to me (current version is 1.4.4) - can you update your app to the latest version and try again?

[2022-08-30 11:19] rt4914 commented on #17686
From user perspective this issue has been solved and merged. Keeping this issue open because in next PR I will work on database migration to remove `brand_color_2` from database too.

[2022-08-30 12:36] Ridhwana commented on #18338
Removing myself as an assignee of this task in case anyone feels they want to assign themselves to it this sprint, there was some [investigative work](https://forem-team.slack.com/archives/CAA200SH5/p1661357179857209) that was done but we didn't end up implementing anything.

[2022-08-30 12:37] Ridhwana commented on #18312
We [paired](https://forem-team.slack.com/archives/CAA200SH5/p1661357179857209) on this a bit, and whilst we did find inconsistencies on this related to https://github.com/forem/forem/issues/18338, we did not replicate a caching issue :(

[2022-08-30 15:17] #15877 closed

[2022-08-30 15:52] mirie commented on #18263
@jaw6 I noticed that [this](https://github.com/forem/forem/pull/18377) was merged in today --> I think we're done with this issue now right?

[2022-08-30 15:59] fdocr commented on #18312
When I started researching this a couple weeks ago [I attempted this (PR)](https://github.com/forem/forem/pull/18354) to ensure the UI displays a 1 by default and let it work its way from there... But I was still seeing some inconsistencies locally.

In case it helps, I see we're making a `/reactions` request from the FE after a comment is submitted.

<img width="1354" alt="Screen Shot 2022-08-30

[2022-08-30 21:11] #14428 closed

[2022-08-31 02:11] amywtlin commented on #15877
@Ridhwana got it, thanks for the heads-up!

[2022-08-31 05:20] amywtlin commented on #18277
Yes - this is my assumption, too. In other words, we consider both likes and unicorns as positive reactions, and after removing unicorns, we count # of users who left at least one reaction instead.

Yes. Can confirm this is what we want across Forems, as unicorn reactions have been reported to confuse community members across Forems, and sometimes the branding doesn't match the image of a unicorn.

[2022-08-31 09:42] lightalloy opened #18398 "Refactoring: creating and updating articles"
We have a lot of logic related to publication process, even more cases and conditions were added when implementing #15858
I mentioned needs for refactoring in my previous prs.

Goals of the refactoring:
- having a more clear publishing process
- make further changes easier
- document the publication process while refactoring :thinking:
- possibly find more rare edge cases and related bugs :thinkin

[2022-08-31 09:43] jaw6 commented on #18263
@mirie Yep! If we find that there's more that needs doing, we can re-open, or open a new issue.

[2022-08-31 12:35] jaw6 commented on #18380
1. We *are* tracking post-article display ads via the same mechanism as we have had for sidebar display ads (that is: if a user is logged-in, we record an `impression`; if the user is logged-in and clicks on any link in the ad, we record a `click`)
2. We are *not* tracking impressions _or_ clicks for logged-out users
3. `success = clicks / impressions`
4. These are recorded in our app db, not in a

[2022-08-31 13:52] Ridhwana commented on #18390
Tasks:

- [ ] Add a `display_to` field to the database
- [ ] Add an admin component to capture the user group
- [ ] Update the index table on the admin to show the display_to field
- [ ] Add a user facing part to honor the display_to setting

Some small asides:
- Neaten up the descriptions for the display ad page
- Show icons to reduce width of the table for published and approved.

[2022-08-31 14:07] Wjplatformer opened #18401 "Typo Error in new "tips" feature"
**Describe the bug**

"A" letter typo in "Adjust your experience to see more relevant content***A***"

**To Reproduce**

1. Go to one of your own posts
2. refresh or smth until see screenshot below at the end of post

**Expected behavior**

No "A"

**Screenshots**

![image](https://user-images.githubusercontent.com/82447031/187697651-b2ecc22f-ac7b-4a9f-ac88-088d920ac051.png)

**Desktop:**

- Windo

[2022-08-31 15:38] joshpuetz commented on #18263
Closing as per https://github.com/forem/forem/issues/18263#issuecomment-1232712693

[2022-08-31 15:38] #18263 closed

[2022-08-31 23:54] pkfrank commented on #14483
In case it helps us troubleshoot, I was able to reproduce this reliably a few times in a row today (I have a Loom if helpful), when trying to register via Google OAuth on...

* `https://www.flowstate.to/enter`
* `https://www.thismmalife.com/enter`

[2022-09-01 03:23] amywtlin opened #18408 "Profile pic isn't added properly when signing up via Google Auth"
#Description
The profile pic isn't added properly when signing up via Google Auth.

This is my Google account avatar:
<img width="301" alt="My google account avatar" src="https://user-images.githubusercontent.com/11730007/187824604-ce41b63f-50ca-4398-9160-35b50e9cc231.png">

This is what turned up on Forem after signing up:
![what it turned out](https://user-images.githubusercontent.com/11730007/1

[2022-09-01 08:02] kamil7x commented on #17087
I am following 2 users, and this counter shows `1`. I tested it by unfollowing, and as expected, when I had 1 user, it showed `0` and after unfollowing last one, it was `-1`.

So it looks like simple calculation issue.

[2022-09-01 08:38] amywtlin commented on #18277
Tagging @maestromac for platform implications these recalculation might bring about (cc @pkfrank )

[2022-09-01 14:12] Ridhwana commented on #18380
I think this does a really good job of summarizing what we currently have in place and where our gaps lie in tracking Display Ads. ☝️

As per Joshuas findings,  we are not tracking impressions or clicks for logged-out users, hence when building out [the separation of the logged in and logged out user groups for Display Ads](https://github.com/forem/forem/issues/18390) I'd not focussed on the analy

[2022-09-01 16:19] pkfrank commented on #18380
Excited that we're summarizing the current state of things and identifying these important considerations.

I'd love for us to shoot for getting this implemented during this cycle, if that seems doable.

[2022-09-01 17:59] benhalpern commented on #18380
I think the pattern here needs to follow just like the way we do logged in/non logged pageviews.

That is:

- We track _all_ signed in page views, and provide them a `user_id`
- For non-signed-in pageviews, we track one in every 10 events, which is less precision, but also less "waste".
- We assign all page views a `counts_for_number_of_views` number. Signed in page views "count" for 1, because we

[2022-09-01 19:11] joshpuetz commented on #18277
I did notice that @aitchiss mentioned leaving the unicorns in place, and changing our application code to just add the two up. I'm going to investigate this as an intermediate step that wouldn't require data manipulation, but might not be as clear longer term.

[2022-09-01 19:26] mirie commented on #18387
@joshpuetz to take a look tomorrow [Friday] and provide feedback here so that we can understand what is achievable [and order of operations for changes] / what has some complexity because of xyz (what are alternatives that can be considered instead)

[2022-09-01 20:17] #18393 closed

[2022-09-02 08:56] Ridhwana commented on #18392
Hmmm so I did some investigation on this issue, and the root cause on why the preview ad is showing differently to the actual ad is for the following reasons:

At some point we were using a library called [Bootstrap](https://github.com/forem/forem/blob/1cb86b973ad5ee44438489c284b636ded60fc824/app/views/layouts/admin.html.erb#L20) to do the styling on the admin. However, we then built our own desig

[2022-09-02 12:36] jaw6 commented on #18380
We will need a migration to remove foreign-key constraints and make `user_id` optional on `display_ad_events`. The history of this is potentially interesting:

* There _was_ a `counts_for` column on `display_ad_event`: https://github.com/forem/forem/pull/6806
* `user_id` _was_ originally created as optional, but we later added foreign_key constraints: https://github.com/forem/forem/pull/9786
* The

[2022-09-02 14:00] jaw6 commented on #18380
So, I'm just making some thoughts/notes here about the performance effects of these changes. From my perspective, there's maybe two concerns:

1. performance of a query to remove the `user_id` foreign-key constraint from `display_ad_events`
2. performance over time of the `display_ad_events` table, as we generate more rows in that table

For 1: `display_ad_events` is currently 9,453,679 rows.

For

[2022-09-02 15:11] mirie commented on #18380
Okay i’ve caught up on both Github and [this thread](https://forem-team.slack.com/archives/C7GE84DEJ/p1662112336305909) in Slack.

It looks like in order to understand conversion of display ads for anonymous users, we need to make a code change. There are some considerations to delve into regarding storage of event data -- this is related to how we do tracking just generally speaking.

Questions:

[2022-09-02 15:18] mirie commented on #18392
Ooo, I have a followup question -- I thought we were also deprecating Crayons in favor for Tailwind? OR is Crayons supposed to be used for Admin?

[2022-09-02 15:28] mirie commented on #18392
Another question came to my mind...I'm wondering how blind we are flying re: display of the ad. We have sandbox sites, so it seems it is possible to set up an ad to "preview" it after publishing. It's a TOTALLY annoying/another step to take for the ad creator. However, I do have a worry about the difference in image processing on prod vs sandbox sites. Maybe the end result is the same in terms of

[2022-09-02 15:58] mirie commented on #18382
Hey @rt4914, Saw your [slack thread](https://forem-team.slack.com/archives/C7GE84DEJ/p1661959945849919), and checking in to see if you were making progress. I had a related question about Tailwind [here](https://github.com/forem/forem/issues/18392#issuecomment-1235624888), although that's more in the admin display context.

[2022-09-02 15:59] pkfrank commented on #18392
Definitely agreed re: priority

[2022-09-02 16:12] michael-tharrington commented on #1856
I just wanted to link up this similar issue written by @joshpuetz: https://github.com/forem/forem/issues/14362

I think these 2 similar feature improvements would be quite helpful for discovery of the anti-follow functionality and would make it easier to anti-follow something in the moment.

[2022-09-02 17:14] joshpuetz commented on #18387
Our current onboarding flow is set of preact slides located at `app/javascript/onboarding/Onboarding.jsx`, displayed by `OnboardingsController.show`, and update for each slide are routed through `OnboardingsController.update`. `app/javascript/onboarding/Onboarding.jsx` defines the onboarding slides and their order, so an option for developing this new onboarding flow would be to use a feature flag

[2022-09-04 16:32] colindomoney opened #18418 "Blank page after create admin user due to request.base_url mismatch"
I am attempting to install Forem on DigitalOcean using the instructions provided on the Forem community. Everything has worked fine until the point that I attempt to create an Admin user and I encounter the blank page after login issue described previously here #13696, #4955 and was apparently fixed in #13792.

It's also been reported on the Forem community many times:
https://forem.dev/manuel/for

[2022-09-05 00:04] rt4914 commented on #18382
@mirie The main details of page has been finished and works really great. I am currently working on showing the `dialog` which appears on item click. Its a bit tricky as it needs ERB and ruby skills.

[2022-09-05 00:09] rt4914 commented on #18392
@mirie
After working on badges redesign page, I have found out some great points about styling in the project:
1. We are **not** using Tailwind CSS. [Reference PR Description](https://github.com/forem/forem/pull/6334#issue-572108458)
2. Actually we are using something like `Tailwind CSS`, it's not a library but its similar implementation compared to Tailwind CSS.
3. In our implementation we don't

[2022-09-05 02:18] Wjplatformer opened #18420 "-1 and 0 hearts on comments"
**Describe the bug**
When I post said comment, heart is 0. When I click the heart button, Heart goes to -1. It might be a reload or cache issue.

**To Reproduce**

1. Post a comment in DEV anywhere
2. See the heart button counter turn to 0
3. click the heart button
4. see it go to... -1.

**Expected behavior**
When posted a comment, heart counter should be 1 as DEV automatically sets you to heart

[2022-09-05 02:22] Wjplatformer commented on #18401
Issue fixed.

[2022-09-05 02:22] #18401 closed

[2022-09-06 05:56] amywtlin commented on #18387
I think @anujbhavsar96 's idea is to create a modal for it - alternatively, we can also just link to `/tags`.

I created a board for onboarding redesign scoping: https://www.figma.com/file/ZPUiojnX4UwLvtSfy9jzgo/Onboarding-scoping?node-id=0%3A1

Here's an overview of the changes in this project:
1. Sign up page redesign
   1. Sign-up page
   1. Set-up page
1. Secondary optional onboarding module +

[2022-09-06 08:43] Ridhwana commented on #18392
From my understanding it was not our intention to replace Crayons _completely_ in favor of Tailwind. Crayons contains a component aspect as well which we would continue to use and build, however, we hoped to replace the utility-first CSS classes from Crayons with Tailwind classes. I went into the archives and you can read more about Pawels proposal [here](https://github.com/forem/forem-internal-en

[2022-09-06 10:51] wojtekxtx commented on #18420
Ive also noticed this.
BTW: fuck kde

[2022-09-06 11:14] wojtekxtx commented on #18418
Installing Forem on `DO` is not so simple ( in fact not only on `DO`: everywhere is not so simple ).

Try `fucker/joomla-shit` disqally:

[2022-09-06 12:21] Jonyk56 opened #18427 "negative hearts/likes on replies to comments"
**Describe the bug**
negative hearts count on replies to comments

**To Reproduce**
reply to a comment
un-heart it
get negative hearts

**Expected behavior**
nothing should happen on unreact or re-reaction

**Screenshots**
![image](https://user-images.githubusercontent.com/44901605/188633506-fd472535-5ee6-46bd-9f1c-d3a7951e705b.png)

**Desktop (please complete the following information):**

- OS,

[2022-09-06 12:22] Jonyk56 commented on #18420
lol i didn't notice this bug report so i just made another kekw

[2022-09-06 12:56] wojtekxtx commented on #18420
First question: why does flarum give 1 heart as soon as you commit a comment? Dackrise behavior
Second question: why this exists?

[2022-09-06 14:06] redbar0n opened #18428 "Buggy realignment of narrow GIF's in Firefox"
### **Screenshots**

Before buggy realignment:

![image](https://user-images.githubusercontent.com/459282/188654971-d9db778e-b7ca-4078-a60c-f1b03042ad16.png)

After buggy realignment:

![image](https://user-images.githubusercontent.com/459282/188655005-3f5179d0-8342-48bb-8ed0-7b31195f087d.png)

###  **Expected behavior**

The GIF should stay centered, even when the Play/Pause feature is added.

##

[2022-09-06 14:48] wojtekxtx commented on #18408
In Google Profile Page, set your pic/avatar.
If you login elsewhere, unless your integration where you want to login is screwed, your profile prefs ( incl. pic ) should be dicked automagically.

You can clarify if settings within `AdminDicksol:Image` fuckmod are tported from Google.

[2022-09-06 14:49] wojtekxtx commented on #18428
True,v can only confirm this.

[2022-09-06 15:03] wojtekxtx commented on #18392
Super easy thing to do code-wise:`rm -r crayons-% | find -f css -Rr scumsSuck`

[2022-09-06 15:10] wojtekxtx commented on #18390
Just suck-up:

* tested this change;

1. These scumbags ( moodlecloud ) sticks ALL ffuckouts Papally
2. FUCK

[2022-09-06 15:10] wojtekxtx commented on #18390
Just tested it, and works well

[2022-09-06 20:45] mirie commented on #18392
Yeah referring to canary as the sandbox site (but we also have others too). I think we don't have to worry about image processing ([this](https://github.com/forem/forem/issues/18241) is what I was referring to).

Okay it sounds like this issue is to be broken up into maybe 4 separate issues?

1. Remove bootstrap, specifically in the context of display ad preview?
2. Add Crayon classes to update pr

[2022-09-06 20:55] mirie opened #18430 "Feed Experiment for Sep-6-2022"
Specific request in Sep 6 section

Reference: https://docs.google.com/document/d/1H1WsktwvlspsB_1RmsZxfVcJHVcaeorHLjpAWG8Oazw/edit

Product point person: @pkfrank .

[2022-09-07 00:52] amywtlin commented on #18374
@wojtekxtx I am still unable to reproduce with my device. @wojtekxtx can you share your device and OS details?

[2022-09-07 06:18] Ridhwana commented on #18392
I don't think it can be broken down exactly into the four separate issues above. In the screenshot below I've highlighted the `<ul>` tags which are getting their styling from the bootstrap library.

![Image](https://user-images.githubusercontent.com/2786819/188801153-18ed0eb3-d808-4d4e-a79a-2372f8289aa4.png)

The bootstrap library is being added [here](https://github.com/forem/forem/blob/1cb86b973

[2022-09-07 12:43] jaw6 commented on #18338
I think I found [the commit](https://github.com/forem/forem/pull/11283/files#diff-527847849e37cfe72fb546cdb42a74764727b84c666c55e648880b4f98a460f9L100) where the bug was introduced. Basically, prior to #11283, we were handling `newly_created` as a special case, hard-coding `1 like`, but that big cleanup PR removed the special treatment. I'll have a go at restoring the special treatment.

[2022-09-07 14:18] Wjplatformer commented on #18420
Bruh. What is KDE?

[2022-09-07 14:31] Wjplatformer commented on #18427
@Jonyk56 , should you or I delete the issue? Cos duplicates, you know :|

[2022-09-07 14:48] wojtekxtx commented on #18392
@Ridhwana why to get rid of bootstrap?

[2022-09-07 14:49] wojtekxtx commented on #18420
@Jonyk56 good. The more similar bugs the better visibility.

[2022-09-07 14:51] Wjplatformer commented on #18420
@wojtekxtx , I feal that having one should be enough. I got the attention of one of the FOREM members, I'm sure they'll eventually reach this ISSUE

[2022-09-07 15:01] mirie opened #18434 "Remove brand_color_2 from database"
## Problem Statement

We [had 2 brand color fields](https://github.com/forem/forem/issues/17686) in /settings/profile but we are using only one which is causing confusion. We updated the display on the profile page with [this PR](https://github.com/forem/forem/pull/18370), but the database migration is still a todo task to wrap up this work.

[2022-09-07 15:02] mirie commented on #17686
Created a new issue for the DB migration task: https://github.com/forem/forem/issues/18434. Closing this

[2022-09-07 15:02] #17686 closed

[2022-09-07 15:11] #18391 closed

[2022-09-07 15:13] wojtekxtx commented on #18374
@amywtlin: ok. Going deep:

* iOS ( from Settings > General > About > iOS version ) : 16.0 (20A5358a)
* 256 GB

Your tits?

[2022-09-07 16:31] #18390 closed

[2022-09-07 17:06] joshpuetz commented on #18277
Update from Peter:

- We don't want to do any data manipulation (preserve all the older unicorn reactions!)
- We ok with data inconsistencies
- We don't want a gap in the sidebar: we should merge this once https://github.com/forem/forem/issues/18127 is ready to go

Plan going forward:
- implement https://github.com/forem/forem/issues/18127 with a feature flag to swap between it and the unicorn but

[2022-09-08 16:59] mirie commented on #18312
@jaw6 I see this is assigned to you, were we able to replicate this issue?

[2022-09-09 07:33] jaw6 commented on #18312
Yes, I was able to replicate. I don't think the problem here is caching, per se, but background jobs & race conditions they bring in:

* Prior to https://github.com/forem/forem/pull/11283, we had special treatment for a newly created comment that would assume it had 1 like, by the current user.
* Now that this starts at zero, the first time a user interacts with a like (manually self-liking), beca

[2022-09-09 13:17] #18430 closed

[2022-09-09 18:27] maestromac commented on #18380
We currently use up 200GB of 2TB of our Heroku PostgreSQL plan. Storage wise it will be okay. That being said, page_views is taking up way too many roles and we are due for a clean-up there. I am worried the same will happy to us tracking display ads.

Having spoken to @jaw6 , because of how much feature demand and the possibility of data bloat, I think we ought to give using Ahoy fully for tracki

[2022-09-09 20:12] #16744 closed

[2022-09-11 16:26] rkjain119 opened #18440 "Entering empty string in the api returns a user profile"
**Entering empty string in the api returns a user profile**

[https://dev.to/api/articles?username=](https://dev.to/api/articles?username=)
returns a user profile

**Expected behavior**
I could be wrong, but I believe the correct response is  `[]`

**Additional context**

https://dev.to/api/articles?username=