[2020-08-27 17:43] jeansberg commented on #9996
I was not able to reproduce this. Tested it on my dev environment and on the Cluster site. Windows 10, same version of Chrome. I also checked the code for the onboarding task card and there doesn't seem to a difference between the working and non-working emojis.
![image](https://user-images.githubusercontent.com/13261449/91476302-18b13e80-e89d-11ea-8858-2fbb546c3464.png)

[2020-08-27 18:08] jeansberg commented on #9734
I can take a look at this.

[2020-08-28 03:49] citizen428 commented on #10032
@ludwiczakpawel I end up on this page, not automatically logged in:

<img width="607" alt="Screen Shot 2020-08-28 at 10 48 31" src="https://user-images.githubusercontent.com/47985/91519180-19d58080-e91c-11ea-8d1a-d16418948043.png">

[2020-08-28 04:07] IzMichael opened #10044 "Logout on navigation to homepage"
**Describe the bug**

On forem.dev, when I click the logo at the top left of the page to return home, I get logged out.

**To Reproduce**

1. Open any post
2. Click the Forem logo in the header
3. See that you've been logged out

**Expected behavior**

Should still be logged in.

**Desktop:**

- Windows 10, 1909:
- Microsoft Edge Dev Channel, 86.0.615.3:

[2020-08-28 06:29] rhymes commented on #9734
@jeansberg: I've assigned you the issue. Thank you!

[2020-08-28 06:50] rhymes commented on #10032
It worked for me too

[2020-08-28 07:42] ludwiczakpawel commented on #10032
Huh, that's interesting... It didn't work for me like that... Actually, I couldn't login with social auth since yesterday due to some cookies issue and now, when I tried to reset my password I actually saw the screen you linked above AND was finally able to log back in.. Fun fact: now I can't log out...

[2020-08-28 07:43] aligoren opened #10048 "Moderate Post Panel Cannot Close"
**Describe the bug**

Hi, I'm using mod center regularly. Actually, I didn't use the close icon before. Today, I used it and it didn't close. It shows this error

[code]

**To Reproduce**

1. Go to the **Mod Center**
2. Click on a post to moderate
3. Let's assume you moderated a post
4. Click on the **X** icon.
4. See error

**Expected behavior**

It should close the post moderate section we opene

[2020-08-28 07:49] rhymes commented on #10032
I can't logout either :-|

[2020-08-28 08:02] aligoren commented on #10048
I closed the opened post using Chrome Developer Tools.

[code]

It closed, @rhymes is this the only way to close this panel? I think, there is a trigger :)

[2020-08-28 11:53] fdoxyz commented on #9962
Reopening in order to keep track of a follow up PR that will properly support PWA & other mobile platforms

[2020-08-28 12:35] fdoxyz commented on #7769
Hi @TheRohitSharma checking in to see if you need any help in case you've run into problems while working on this.

If you can't work on this at the moment it's totally okay, let us know and maybe someone else can tackle this 🙂

[2020-08-28 12:43] TheRohitSharma commented on #7769
I'm sorry, @fdoxyz! I was never able to get the podcast to populate locally. Any help I can get with that would be very appreciated, and then I can hop back on this ASAP. I tried all the above, btw.

[2020-08-28 14:03] fdoxyz commented on #7769
No worries! Were you able to go through the setup process in the docs all the way to [Starting the Application](https://docs.forem.com/getting-started/start-app/)? If you're having any problems here what errors do you see in the console and what environment are you using (OS & native or Docker install)?

I'd recommend you pull `master` again so you're back in sync with the current state and try th

[2020-08-28 14:42] sowenjub opened #10053 "Comments & Reactions missing from notifications"
**Describe the bug**

I discovered comments and reactions to my posts in the details of https://dev.to/dashboard that didn't show up in https://dev.to/notifications.

**To Reproduce**

* Visit https://dev.to/dashboard
* Check the number of reactions/comments for each posts
* Visit https://dev.to/notifications
* Wonder why only a few reactions/comments show up (about 15%)

**Expected behavior**

I

[2020-08-28 14:52] rhymes commented on #10053
Hi @sowenjub, it's possible the following two things happened:

- reaction notifications are aggregated
- old notifications are regularly deleted if they are older than 3 months ago

[2020-08-28 15:20] sowenjub commented on #10053
Hi @rhymes, all my content is less than 3 months old, and at least one post that has reactions don't show up at all.

[2020-08-28 15:36] rhymes commented on #10053
@sowenjub got it! I'll pass this along internally, thank you!

[2020-08-28 16:54] nickytonline opened #10057 "Missing focus styles for focusable elements in Forem administration pages"
**Describe the bug**

**To Reproduce**

Tab through fields in the admin UI on any page. Elements that receive focus do not show any visual cues that it has been focused on.

**Expected behavior**

A visual cue when a focusable element receives focus.

**Screenshots**

![image](https://user-images.githubusercontent.com/833231/91592971-565da800-e92d-11ea-868e-871a6f02d425.png)

**Desktop (please com

[2020-08-28 17:00] twinsfan421 commented on #10037
I would work on this if approved. I worked on the deleted article comments being viewable.

[2020-08-28 17:02] nickytonline commented on #10057
This will required input from product design. cc: @lisasy, @ludwiczakpawel.

[2020-08-28 17:39] msarit opened #10060 ""Tag Mods" link under "/admin/mods" blows up when there are no tag mods"
**Describe the bug**

When there are no tag moderators, the `Tag Mods` link under `/admin/mods` blows up when clicked.

**To Reproduce**

1. Make sure your current user has the role `admin` or `super_admin`
(to do so, in `rails console`, run the command `User.find(<your_user_id>).add_role(:admin).save!`)
2. Make sure there are no tag moderators in your local app
(in `rails console`, the command `U

[2020-08-28 17:50] mstruve opened #10061 "Bug: Comments that Point to Another Comment via a Liquid Tag Are Invalid if Liquid Tag referenced Comment is Deleted"
**Describe the bug**

If you have a comment that references another comment and that comment is deleted, the original comment becomes invalid. For example:
Comment A Markdown: `Checkout {% devcomment 1b %}`
If Comment with id_code `1b` is deleted, Comment A becomes invalid and can no longer be saved. This prevents others from reacting to it amongst other things.

**To Reproduce**

1. Create a comm

[2020-08-28 18:17] nickytonline commented on #9362
Want to take this one @Link2Twenty ?

[2020-08-28 18:27] pkfrank opened #10064 "Generalize "contributor badge""
**Is your feature request related to a problem? Please describe.**
As a Forem admin, I'd be interested in setting up an OSS contributor badge similar to the [DEV contributor badge](https://dev.to/badge/dev-contributor).  Currently, I believe its hard-coded but could be generalized.

**Describe the solution you'd like**
An ability to set my own contributor badge.  Not sure if this lives in `/admin/

[2020-08-28 18:31] nickytonline commented on #9487
Want to take this one on @Link2Twenty ?

[2020-08-28 18:38] nickytonline commented on #8937
This appears to still be an issue.

[2020-08-28 18:49] nickytonline commented on #9055
I think this might be an issue with imported articles being v1 editor and possibly a user has the v2 editor running? https://github.com/forem/forem/blob/4786cbddfc1c59cc0b63405ebc5ca9f2001f54d0/app/javascript/article-form/components/EditorActions.jsx#L67-L68

![image](https://user-images.githubusercontent.com/833231/91604951-9f1d5d00-e93d-11ea-8f78-19929fbb4fae.png)

[2020-08-29 04:29] praveenkalady opened #10069 "i can't do anything in dev"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-08-29 06:15] ludwiczakpawel commented on #10057
That's definitely coming! In fact, we're couple days aways from pushing some bigger visual changes to Admin side. These will NOT address the issue you mentioned, but that's definitely
gonna be the next step. So if everything goes smooth, expect fix for this particular issues at the end of next week 🙌

[2020-08-29 07:11] rhymes commented on #10069
@praveenkalady what sort of problem do you have? have you tried clearing out your cookies?

[2020-08-29 07:18] Rafi993 commented on #9826
Hello there. If this issue is not taken I would like to help.

[2020-08-29 07:21] rhymes commented on #9826
I've assigned you the issue. How do you plan to tackle this?

[2020-08-29 07:46] Rafi993 commented on #9826
Right now  email is available via rails helper **email_link**. These could be exposed to the Javascript side by couple of ways

1. Expose helpers output as Globals
[code]
2. Create a route that exposes all config as json

[2020-08-29 07:55] Rafi993 commented on #9826
I feel like there could be a better way. any thoughts on this?

[2020-08-29 08:40] rhymes commented on #9826
My thought was to simply add the email somewhere in the dom of the page where the chat is mounted but not sure if that's the best approach either. I remember we have a way to pass data from Rails to webpack but I don't remember where is that used and I can't find it in the docs.

cc @nickytonline

[2020-08-29 12:56] nickytonline commented on #9826
You can create a webpacker pack file that is an erb template. The webpack loader to do this is already in place. See https://github.com/usabilityhub/rails-erb-loader for an example of how to do this.

The pack file can get the value from the Rails side and then pass it in as a prop to a component.

One thing to note is that you will not be able to test this file in jest, which is why making the pa

[2020-08-29 13:57] abhinav1602 opened #10072 "Team/Group Creation for collaborated contribution"
**Is your feature request related to a problem? Please describe.**
Publish articles in collaboration under a group name.

**Describe the solution you'd like**
- "**Create Group**" option on DEV in which I can add multiple DEV users.
- Each of these users should be allowed to **post articles in this group** as an individual contributor.
- Author name for each article should be the original contribu

[2020-08-30 11:28] alexandrudanpop opened #10093 "Can't add new post - Error getting user and CSRF Token Error: Couldn't find user data on page."
**Describe the bug**
When navigating into Dev.to -  was not able to publish a new post. Also saw that the site was not exactly responsive - having some trouble navigating around.

![image](https://user-images.githubusercontent.com/15979292/91657773-49c38600-eacc-11ea-9e62-305c20d13516.png)

**To Reproduce**
1. Go to New post page
2. Try adding a new post and the following are logged in the console

[2020-08-30 13:05] alexandrudanpop commented on #10093
After some time I managed to post, so it seems the backend refreshed to its normal behavior.

[2020-08-30 16:16] diogoosorio commented on #10060
I was looking into this and I think that the problem here might be that the role itself (a role named `tag_moderator`) doesn't exist in your local database and that's what's triggering the exception.

If you manipulate the `state=` query string parameter to any non-existing role name, it'll also trigger this problem, which is not a very elegant way to handle that input I guess (see my screenshot's

[2020-08-30 20:04] omenking opened #10096 "Link no longer available"
The link does exist
<img width="692" alt="Screen Shot 2020-08-30 at 4 03 53 PM" src="https://user-images.githubusercontent.com/7776/91668405-81d1c580-eada-11ea-8be7-297308c1f755.png">

But it displays this
<img width="773" alt="Screen Shot 2020-08-30 at 4 03 48 PM" src="https://user-images.githubusercontent.com/7776/91668403-7f6f6b80-eada-11ea-8d6c-c3da6d5c365d.png">

**Describe the bug**

**To Re

[2020-08-30 22:38] markomannux commented on #9147
Raised an [issue on forem.dev](https://forem.dev/markomannux/invalidauthenticitytoken-with-docker-setup-5c3i).
Turns out my problem (and @pjar's, I assume) could be related to domain name used in dev.
I navigated the app using localhost, but in `container-compose.yml` APP_DOMAIN is declared as `rails`.

Adding a record to my hosts file

[code]

and navigating with base url `http://rails:3000` seem

[2020-08-31 03:33] citizen428 commented on #10093
@alexandrudanpop Thanks for the report. Seem this was an intermittent problem, I'll close this issue, but please feel free to re-open if you notice this again.

[2020-08-31 03:33] #10093 closed

[2020-08-31 03:48] citizen428 commented on #10072
@abhinav1602

1. Organizations have their own profiles, see e.g. https://dev.to/devteam.
2. Articles have the organization name in the URL, since we treat organizations mostly like users: https://dev.to/devteam/get-in-on-the-action-github-actions-hackathon-reminder-208d
3. The original author will show as author for the post, the organization will be displayed on top:
    <img width="728" alt="Get

[2020-08-31 08:57] rhymes commented on #10096
Hi @omenking, this is definitely a bug but it's also a communication failure. The `link` liquid tag only works for `dev.to` articles

[2020-08-31 09:01] #9807 closed

[2020-08-31 10:56] Binston-sukhael-cardoza opened #10099 "Signup using Github profile"
**Describe the bug**
I can't able to signup using GitHub profile

**To Reproduce**

**Expected behavior**

**Screenshots**

![Screenshot_20200831-021712](https://user-images.githubusercontent.com/60263684/91713034-97acbc80-eba6-11ea-9162-8b1566816635.jpg)

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following infor

[2020-08-31 14:02] maisonsmd opened #10101 "Web scroll stuck when unsigned user click "heart"/"unicorn"/"reading list" on a post at mid page"
**Describe the bug**
User not logged in, open a post, scroll down a bit, click "heart", the modal overlay for user to sign in appears on top of the page, but not visible in screen view because user scrolled down beforehand, and y-scroll is disabled, hence the page stucks.

**To Reproduce**

1. Go to https://dev.to/ without signing in
2. Click on any post
3. Scroll down to end of the page
4. Click

[2020-08-31 14:06] rhymes commented on #10101
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-08-31 14:06] rhymes commented on #10101
I can reproduce this issue on Firefox + macOS as well

[2020-08-31 14:10] leewynne opened #10102 "Login with Facebook bug"
**Describe the bug**

This is related to the great work recently completed on #9922  . Which works locally using ngrok but fails when rolled out to production.

**To Reproduce**

1. Go to forem.dev
2. Click on 'sign in with Facebook'
3. Scroll down to 'accept Facebook request for email and profile permissions'
4. View error on completion.

When testing this on thisMMAlife.com I can see the followi

[2020-08-31 15:03] msarit commented on #10060
@diogoosorio thank you for tackling this issue! Give me some time to confer with the other devs, after which I (or they) shall get back to you! Thanks again! 🙏

[2020-08-31 15:46] maisonsmd commented on #10101
Firefox is also affected.
MacOS not tested, I don't have any devices nearby.

[2020-08-31 15:48] nickytonline commented on #10101
Would you like to work on this @maisonsmd ?

[2020-08-31 16:00] maisonsmd commented on #10101
I'm not familiar with most of the technologies used in this project, so I just put the issue here for someone else with ability to fix.

[2020-08-31 16:05] Swimburger opened #10104 "Code blocks lose indentation when imported through RSS"
**Describe the bug**

When importing blog posts using an RSS feed, the importer successfully imports pre-tags as code blocks, but loses all the indentation.

**To Reproduce**

1. Import article using RSS with pre-tag as code blocks into dev.to (https://swimburger.net/atom.xml)
2. Compare original post code formatting with markdown
Original:
![image](https://user-images.githubusercontent.com/338271

[2020-08-31 16:26] Zhao-Andy commented on #10099
@Binston-sukhael-cardoza sorry about that issue. Could you provide your dev.to username? We'll fix this for your individual account.

[2020-08-31 16:37] rhymes opened #10106 "Refactor: improve error handling in GithubRepos::RepoSyncWorker"
Currently we're inspecting the error message to determine if a user's account was suspended or if the repository has become unavailable so that we can destroy it

https://github.com/forem/forem/blob/25e20bdc1ce3e66282298a88cdf55f89b1b1e9a5/app/workers/github_repos/repo_sync_worker.rb#L32-L37

`Ockokit` (the GitHub library we use) has two specific errors for those two cases: `Octokit::RepositoryUna

[2020-08-31 17:19] Zhao-Andy commented on #10099
@Binston-sukhael-cardoza actually this is fixed for your account now. Let us know if you still can't log in.

[2020-08-31 17:19] #10099 closed

[2020-08-31 18:46] abhinav1602 commented on #10072
@citizen428 Thanks for the clarity. It worked for me.

[2020-08-31 19:30] Binston-sukhael-cardoza commented on #10099
Well Done, Bro

[2020-08-31 19:55] alexzherdev opened #10111 "Ellipsis menu in post manage page non-functional"
**Describe the bug**

In the post manage page, clicking the "..." menu on the right seems to do nothing.

**To Reproduce**

1. Go to `https://dev.to/user/post-slug/manage`
2. Click on `...` on the right
3. Nothing happens

**Expected behavior**

I'm expecting a dropdown menu to appear? According to the markup, it contains an "Archive Post" button.

**Screenshots**

![devtoellipsis](https://user-im

[2020-08-31 20:45] pramanikriju opened #10112 "Stuttering on High Refresh rate devices"
**Describe the bug**
On mobiles devices, the home page stutters at high refresh rates, which is anything beyond 60Hz.
There's a massive delay on the first scroll and then it suddenly jumps. This issue is not present on 60Hz screens.

**To Reproduce**
1. Go to 'https://dev.to/
2. Wait for it to load, and then scroll

**Expected behavior**

Scrolling can and should be smoother, especially in a scrol

[2020-08-31 21:27] richardeschloss opened #10114 "UI Regression: title input box clips text"
**Describe the bug**
Can you please look into this regression on the UI? I'm using Chrome (latest) for Windows 10 and the text box for the title is clipped.
![regression](https://user-images.githubusercontent.com/5906351/91770366-ed2c9d80-eb95-11ea-8a58-b4f19f3700d7.jpg)

**To Reproduce**

**Expected behavior**
No clipped text

**Screenshots**

**Desktop (please complete the following information)

[2020-08-31 22:33] eusonlito opened #10116 "I18n: Tag pages with non ASCII characters are broken"
Tag page with a tag with non ASCII characters returns an error page.

**To Reproduce**

1. Go to https://dev.to/lito/pruebas-de-rendimiento-en-laravel-5-6-5-7-5-8-6-0-vs-php-7-1-7-2-7-3-7-4-2bpj
2. Click in `español` tag
3. Page loaded https://dev.to/t/espa%C3%B1ol
4. See the error page

**Expected behavior**

Render de page as any other tag.

**Screenshots**

![Screenshot from 2020-09-01 00-29-43

[2020-09-01 03:55] citizen428 commented on #10116
Thanks for the report @eusonlito. As far as I remember our tags currently only support ASCII characters, but I may be wrong on this. Maybe @jacobherrington knows more, as I vaguely remember discussing this in a PR with him.

[2020-09-01 05:42] Amorpheuz opened #10120 "New post appears liked by default in Notifications on Forem.dev"
**Describe the bug**
A new post on Forem.dev is appearing in my notification feed as `liked` even though I hadn't read the post yet. URL to post:
https://forem.dev/ben/new-starter-state-coming-soon-5gmn. I think it is a visual bug since when I open the article itself, the reactions load correctly, i.e. no reactions (no hearts, unicorns).

Another article after the bugged article didn't have this b

[2020-09-01 06:38] Rafi993 opened #10121 "Link in notification overflows"
**Describe the bug**

Link in notification overflows in mobile

**To Reproduce**

1. Login as user1
2. Paste a long link as message
3. Login as user2
4. Go to notification
5. Look for the notification to message by user1
6. You can see the link overflowing

**Expected behavior**

It should either be truncated or should wrap to the next line

**Screenshots**
![overflow](https://user-images.githubus

[2020-09-01 06:50] citizen428 commented on #10121
@Rafi993 Thos does sound like #7170, right?

[2020-09-01 06:52] Rafi993 commented on #10121
Yes it does

[2020-09-01 07:01] rhymes commented on #10116
@citizen428 @jacobherrington

Yeah, we definitely support only ASCII tags, but the check has been added on July 1st 2020 and this article is from September 2019.

We have 1190 tags with non ASCII characters in them, most of them attached to content.

I believe we have 2 options here:

- we convert those tags to something that rests in the realm of ASCII
- we find a way to make the link https://dev

[2020-09-01 07:06] ludwiczakpawel commented on #10114
Hey @richardeschloss , thanks for the report. It definitely should not look like this. Since I can't repro that bug on my local (or prod) environment, would you mind helping me out a little with this?

1. Make sure you do hard refresh - maybe there's some caching issue there.
2. If that doesn't help, can you open Developer Tools in Chrome? You should be able to do so with CTRL+ALT+I on Windows (I

[2020-09-01 07:31] ludwiczakpawel opened #10122 "Signup overlay frontend issue"
**Describe the bug**

With recent changes to the signup overlay, a bug has been introduced - the way the modal is being rendered doesn't really work well in all cases. When you scroll down before the modal shows up, you will actually not see the modal and page will become blockec.

**To Reproduce**

1. Log out.
2. Go to any article.
3. Scroll down a little.
4. Try to like that post. It should prom

[2020-09-01 07:33] rhymes commented on #10122
I think this is also related to https://github.com/forem/forem/issues/10101

[2020-09-01 09:13] ludwiczakpawel commented on #10101
I'll work on that.

[2020-09-01 09:13] ludwiczakpawel commented on #10122
@rhymes correct. I'll fix it.

[2020-09-01 09:51] mrmir opened #10128 "Resetting password while already logged in causes problems"
**Describe the bug:**
The menu isn't visible when you are redirected to the dev.to page on clicking a reset password link from an email if you're already logged in on a particular device

**To reproduce:**
Go to https://dev.to/ while signed in
From another device, click reset password
Open the reset password link sent to your registered email

**Expected behavior:**
Taking the user to the password

[2020-09-01 10:13] leewynne opened #10129 "Generalise the liquid tags editor help '_editor_liquid_help.html.erb'"
At the moment in /app/views/pages/_editor_liquid_help.html.erb there are lots of references to Dev users, github and other Dev specific resources.

**Describe the solution you'd like**

An area in siteconfig to allow an admin to determin which liquid tags are supported for a Forem instance and then some text to support the editor help section.

**Describe alternatives you've considered**

Hard cod

[2020-09-01 10:19] mrmir opened #10130 "Add a notification when resetting password"
**Is your feature request related to a problem? Please describe.**
When you currently enter an email address on the forgot password page, it redirects you to the login page without any notification showing up

**Describe the solution you'd like**
Some sort of flash or notification saying 'An email has been sent' or similar showing up above the login box

**Describe alternatives you've considered**

[2020-09-01 10:52] diogoosorio commented on #10106
FYI I'll give this one a crack. 😄

[2020-09-01 11:50] Booligoosh opened #10132 "An API endpoint to fetch the profile pic of a user OR organization based on the username alone"
**Is your feature request related to a problem? Please describe.**
I want to get an avatar URL based on a dev.to username. Since a username can be either for an organization or a user, there is currently no way to do this.

For user profile pics, I can get the profile pic by requesting `https://dev.to/api/users/by_username?url=<username>`. However, there is no corresponding endpoint for organizati

[2020-09-01 12:09] brandizzi commented on #9732
I would like to claim this issue to work on it myself. But I would not like to work on something to not be accepted later. So, if I worked on it, would the change be accepted in principle?

[2020-09-01 12:23] Rafi993 opened #10134 "Elements at top of feed are not removed when scrolling to bottom"
**Describe the bug**

In the home feed page when you scroll down new elements are added to the feed. But elements at the top of the page that are not visible are not removed. It should probably removed after some threshold.

**To Reproduce**

   1. Go to dev.to
   2. Run the query ```document.getElementsByClassName("crayons-story").length``` in developer tools
   3. Keep scrolling down and run thi

[2020-09-01 12:32] rhymes commented on #9343
I'm +1 on `main` as it's going to be the default in GitHub anyway

[2020-09-01 12:34] rhymes commented on #9471
Are you still working on this @sarthology ? Let me know, otherwise I can unassign it from you

[2020-09-01 12:35] rhymes commented on #9472
Hi @timorthi, are you still working on this? Let us know in case you need help

[2020-09-01 12:37] rhymes commented on #9607
Hi @kfatmakausar, are you still working on this? Let us know if you need any help

[2020-09-01 13:33] rhymes commented on #9732
@brandizzi sure! go ahead! :-) sorry I didn't notice the initial claim

[2020-09-01 14:00] Link2Twenty commented on #10134
DOM recycling is very good way to do this, here is a related article.

https://developers.google.com/web/updates/2016/07/infinite-scroller

[2020-09-01 14:03] mrmir commented on #10130
I'll work on this

[2020-09-01 14:15] #10101 closed

[2020-09-01 14:15] #10122 closed

[2020-09-01 14:21] Link2Twenty commented on #10111
It looks like there's no JS to handle this. I'd guess there was a generalisation of naming that didn't quite get finished.

**JS to handle more button:**
https://github.com/forem/forem/blob/8c83aa336570e9f9085dcf4869270691ce131448/app/assets/javascripts/initializers/initializeEllipsisMenu.js

**Code for button on Dashboard:**
https://github.com/forem/forem/blob/dbbe158d21caabfffa2c7c5c56ebc2e615fc

[2020-09-01 14:28] Link2Twenty commented on #1122
I'm closing this as it appears to have been superseded by #4745

[2020-09-01 14:28] #1122 closed

[2020-09-01 14:31] Link2Twenty commented on #4745
I've deleted my original issue as this thread seems much more active.

[2020-09-01 14:34] #2156 closed

[2020-09-01 14:35] ludwiczakpawel opened #10135 "Weird name validation"
**Describe the bug**

As a user I can get rid of my name from profile (which is weird in the first place - I'm not sure if it should be allowed).. And then when I try to edit my profile **again**, it does prompt me an error that my name must be longer :D

**To Reproduce**

1. Go to your profile.
2. Remove value from "Name" field.
3. Save.
4. Now try to change another field value and try to Save. *

[2020-09-01 14:49] sarthology commented on #9471
@rhymes Yes, I am. It's a tough one as need to make some changes in the messages table in DB.

[2020-09-01 15:10] rhymes commented on #10130
Thank you @mrmir, I've assigned you!

[2020-09-01 15:12] Zhao-Andy commented on #10135
Will be resolved by https://github.com/forem/forem/pull/9912

[2020-09-01 15:17] ephraimduncan opened #10140 "Article page: sharing links for draft articles are cutoff"
**Describe the bug**

When you create a post and save as draft, then you go to the preview, the links to share it to other platforms is hidding behind the nav bar.

**To Reproduce**

1. Go to 'write a post'
2. Write a new post
3. Save your post as draft
4. Preview it
5. Try using sharing it to other platforms inside dev.

**Expected behavior**
The links to other platforms should be visible.

**Scr

[2020-09-01 16:32] vishnuchilamakuru commented on #8425
I am also facing this issue currently. Ex: https://dev.to/vishnuchilamakuru/managing-self-balancing-performance-vs-stress-51nb this blog views counter stopped at 99 views whereas I still get notifications for reactions on the blog post. Not sure how frequently does the blog views gets updated is it hourly or daily ?

[2020-09-01 16:39] akhil-naidu commented on #9147
## Solution 01: If the Forem is hosted in VPS
 This is how I eliminated most of the issues related to `onboarding message errors` and `InvalidAuthenticityToken error`

1. I have a domain in Cloudflare, so I created a CNAME record on the subdomain(ex: dev.leewardslope.com) and attached the external IP address. Only the IP, no need of port.
2. As the Forem service is running on the port 3000, we nee

[2020-09-01 16:39] #9147 closed

[2020-09-01 16:51] michael-tharrington commented on #9919
Heyo!

I also wanted to chime in on this one as a DEV user recently wrote in suggesting that we drop reCAPTCHA in favor of hCAPTCHA.

They mentioned that reCAPTCHA can be pretty annoying for the end user, and said "hcaptcha LOOKS like recaptcha, but you can actually solve it pretty quickly, and no disappearing images, or clipped items you have to guess at."

The pointed to this blog post - https:/

[2020-09-01 17:14] Rafi993 opened #10141 "yarn test fails because of 24hr time format"
**Describe the bug**

Running the command yarn test fails because of 24hr time format while pc is set to 24hr time format

**To Reproduce**

1. Change your time format to 24hrs
2. Run yarn test
3. Test will fail

**Expected behavior**

Test should not fail irrespective of time format

**Screenshots**

![failing_tests](https://user-images.githubusercontent.com/8092120/91884896-7df19f00-eca4-11ea-9c

[2020-09-01 17:21] rhymes commented on #9919
A lot of people in the comments there seem to be unhappy with hCaptcha :(

[2020-09-01 18:04] bdmorin commented on #9919
Another point of view: https://dev.to/elmuerte/hcaptcha-instead-of-google-s-recaptcha-2c92

Also - this epically long thread: https://news.ycombinator.com/item?id=22812509

I'm unsure if hcaptcha is the panacea solution; however I'm not seeing a ton of contenders.
https://www.phpcaptcha.org/ (self hosted)

If you are looking to stop bot specific transactions, you might want to invest in bot detect

[2020-09-01 18:13] alexzherdev commented on #10111
Yep exactly—I traced it back to https://github.com/forem/forem/pull/8778 by @ludwiczakpawel.
If he's not available I might be able to fix this up if we can decide which naming to follow.

[2020-09-01 18:40] richardeschloss commented on #10114
Hmm, I can repro it like this: start with the browser maximized, then unmaximize, then maximize again. It'll be clipped

[2020-09-01 18:47] Zhao-Andy commented on #10114
Hey @richardeschloss, I can't reproduce this on Windows 10, Chrome 85 :( What's your screen resolution? Also, do you see any errors in your browser console?

[2020-09-01 18:49] jacobherrington commented on #10129
I think there are a few solutions we could use.

Ideally, I'd like to keep this out of `SiteConfig`. I'm wondering if there is a compelling reason the editor guide is hard-coded versus just being a page a la `/admin/pages`.

From what I can see, `_editor_guide_text.html.erb` is only rendered here:
https://github.com/forem/forem/blob/0b849341e0f4dda762953964500a57fc9df67f04/app/views/pages/editor_g

[2020-09-01 18:52] perpetual-education commented on #9034
What is the downside to just having a 'load more posts' button?

https://codepen.io/perpetual-education/pen/JjXygRw?editors=0100

We've never seen a precedent for toggling the footer in a website before.

[2020-09-01 18:56] richardeschloss commented on #10114
Display resolution: 1366 x 768. No errors show in the console.

[2020-09-01 19:05] ludwiczakpawel commented on #10114
I can't repro that either but I'll try to do it on other machines I have around.

[2020-09-01 19:16] richardeschloss commented on #10114
try reducing the browser window size... keep reducing it. I think eventually it'll show since the 27px is fixed.

[2020-09-01 19:18] nickytonline commented on #10114
Hmm, I see that we have the height hard-coded to `60px`, so not sure where that `27px` is coming from.

See https://github.com/forem/forem/blob/877bdba176759163f07e69b814400d4537bffa7c/app/views/articles/_v2_form.html.erb#L61

![image](https://user-images.githubusercontent.com/833231/91896062-419f4e00-ec66-11ea-9a56-151854346cae.png)

Is this what you see in the rendered markup @richardeschloss ?

[2020-09-01 19:22] richardeschloss commented on #10114
![height_27px](https://user-images.githubusercontent.com/5906351/91896454-bb770d80-ec4d-11ea-8327-2ccf1d310450.jpg)

[2020-09-01 19:44] nickytonline commented on #10114
I have a feeling this is a caching issue that maybe only some users are seeing. Thoughts @rhymes

[2020-09-01 21:04] benhalpern commented on #10129
I feel like site pages might be tough because then it is up to the admin to edit it any time there is a reasonable change, but maybe something a little more dynamic and interactive.

To be honest, I think the editor guide was always meant to be a placeholder for something a little more friendly and approachable.....

So instead of having the docs-oriented style we have now, which we know is sort o

[2020-09-02 02:46] citizen428 commented on #10116
@rhymes The check was only added on July 1st, but as far as I remember it just made existing behavior explicit. I prefer the second option btw, maybe that's something we can look into during cooldown.

[2020-09-02 03:08] lisasy commented on #9850
@leewynne Hey Lee! Thanks for sharing this issue. I think this would be a pretty interesting conversation to have on Forem.dev so that we could all talk about the trade-offs, complexities, and user experience behind this. We've explored design ideas related to this topic :) Would you be interested in kicking off a conversation on Forem.dev? If you want, I am happy to do that and tag you in it.

[2020-09-02 03:35] kuncevic opened #10151 "Support emgithub.com embed using Liquid Tags"
In my blog posts I want to be able to embed the github repo code directly using [emgithub.com](https://emgithub.com/)
This way there is no need to create a separate gist file as you can just target any lines on existing github repo.

![image](https://user-images.githubusercontent.com/1283734/91928705-12e5ae00-ed20-11ea-9e4b-a4448a9e55b7.png)

Here is the [link example](https://emgithub.com/embed.j

[2020-09-02 06:07] rhymes commented on #10114
I can't reproduce it either, but I'm also not sure how the thing works. I see the 60px only in the HTML version:

https://github.com/forem/forem/blob/f023c6174f9706eb60249a7fe7a369817a754270/app/views/articles/_v2_form.html.erb#L60-L62

but I can't see it in the JSX component:

https://github.com/forem/forem/blob/f023c6174f9706eb60249a7fe7a369817a754270/app/javascript/article-form/components/Title

[2020-09-02 06:25] rhymes commented on #10116
added to our backlog :-)

[2020-09-02 06:27] ludwiczakpawel commented on #10111
Yeap! I'm definitely the one to be blamed for this 🤦‍♂️

@alexzherdev I'm happy to hand it off to you if you wanna handle that. Let me know and I'll assign you.

@Link2Twenty thanks a ton for tracing that down!

[2020-09-02 06:40] rhymes commented on #10151
Hi @kuncevic, thanks for the proposal.

We have a `{ {% github %}` liquid tag, so it might be worth expanding that?

We support issue links, repo links, pull request links. We also have a gist tag.

It's true that we don't support direct files though :)

BTW this is a legit request for a new liquid tag, I'm going to mark it as such

[2020-09-02 06:45] ludwiczakpawel commented on #10114
@rhymes the way it works:

We load the whole "Write a post" view with `.html.erb` and replace it with Preact component asap - it's some sort of a trickery we do to have that "blazing fast" feeling.

In Preact version we use JS to calculate the height of the Title field - that's where '60px' is coming from - it's calculated with JS. So if the value is '27px' then it means that something is off with

[2020-09-02 07:04] ludwiczakpawel commented on #9034
@perpetual-education the downside is it could potentially decrease the engagement. Infinite scroll is kinda "addictive" in a good way and it definitely does a good job for our numbers (you know, at the end of the day - business is business :D).

[2020-09-02 07:09] rhymes commented on #10114
So there might be a bug in that component?

ps. could you add this great explanation of yours to https://docs.dev.to/frontend/preact/ or https://docs.dev.to/faqs/ or even as inline comment in https://github.com/forem/forem/blob/f023c6174f9706eb60249a7fe7a369817a754270/app/javascript/article-form/components/Title.jsx#L3

It's a pity to keep it "buried" in a github issue :)

[2020-09-02 07:12] kuncevic commented on #10151
@rhymes of i c, if `{% github %}` can be expanded to produce similar outcome the way emgithub.com does. Basically to be able to select any lines of github repo file and to embed that within dev.to

[2020-09-02 07:13] kuncevic commented on #10151
@rhymes yea i c, if `{% github %}` can be expanded to produce similar outcome the way emgithub.com does.
Basically to be able to select any lines of github repo file and to embed that within dev.to as a code snapshot

[2020-09-02 07:45] rhymes commented on #10151
@kuncevic cool, I'll keep this one as it refers to a different website and link you the issue related to GitHub permalinks so that you can subscribe to it if you want https://github.com/forem/forem/issues/6777

[2020-09-02 08:15] markmead opened #10154 "HTML is showing in "Following tags" description"
**Describe the bug**

The tag description in "Following tags" is printing HTML

**To Reproduce**

Go to [here](https://dev.to/dashboard/following_tags)

Currently showing on #rails and #javascript tags.

Don't show HTML

**Screenshots**

<img width="340" alt="Screenshot 2020-09-02 at 09 11 43" src="https://user-images.githubusercontent.com/50486078/91956259-53cbcb80-ecfc-11ea-9083-ffba8779d1fe.png

[2020-09-02 08:32] markmead commented on #10154
I'll take this on if/when available.

[2020-09-02 09:15] rhymes commented on #10154
Thank you @markmead, please go ahead!

[2020-09-02 12:36] Link2Twenty commented on #9751
Relates to #9362

[2020-09-02 12:36] Link2Twenty commented on #9362
@kaushikpraveen is looking into this

[2020-09-02 12:46] Link2Twenty commented on #10121
This one should be quite a simple fix.

Adding these 2 lines should do it 😁

[code]

https://github.com/forem/forem/blob/877bdba176759163f07e69b814400d4537bffa7c/app/assets/stylesheets/notifications.scss#L144-L159

[2020-09-02 13:15] Rafi993 commented on #10141
Hi there, If this bug is not taken I can help with this (since the test are already failing for me).

[2020-09-02 13:21] rhymes commented on #10141
@Rafi993 sure, go ahead, thank you!

[2020-09-02 13:58] krishnadevz opened #10163 "sort articles for Dev profiles"
**Sort articles for Dev profiles**

hello there
so we can sort Dev.to articles in the dashboard with all options means by (views/date published etc.)
but in the case when we click on profile section then I can pin the posts but I can't sort all articles by my preference I am talking by everyone perspectives so  we can add drop in pin section with help of that we can sort posts according to our pre

[2020-09-02 14:01] rhymes commented on #10163
Hi @krishnadevz: FYI sorting the dashboard has no relation with how the articles appear in your public profile. That's always sorted by reverse publication date

[2020-09-02 14:04] krishnadevz commented on #10163
I am talking about dashboard sorting I am talking about we can sort articles in public profile with instead of the only PIN the article we can sort according to individual preferences.

[2020-09-02 14:07] rhymes commented on #10163
Sure, I got it, I'm just saying that the dashboard and the profile aren't connected. If this gets approved we should probably have a specific settings in https://dev.to/settings/profile to let people decide which order they want their profile pages to be sorted in

[2020-09-02 14:22] #10121 closed

[2020-09-02 14:25] rhymes opened #10164 "Display date of listings"
**Is your feature request related to a problem? Please describe.**

Right now both https://dev.to/listings and the single page for a listing do not display any kind of date.

**Describe the solution you'd like**

Listings are currently sorted by reverse `bumped_at` in the index, so we should probably display that but I also think the creation date is meaningful

**Describe alternatives you've cons

[2020-09-02 15:06] codePerfectPlus commented on #2885
I am facing the issue for 2 accounts for 2 differnet devices.
something is wrong.

[2020-09-02 15:33] vasco3 opened #10165 "Dark-mode toggle"
**Is your feature request related to a problem? Please describe.**

It's annoying to have to set it from the settings everytime the light in my room changes

**Describe the solution you'd like**

It could be a keyboard shortcut to toggle between dark and light theme. Or quicker access to theme selection (less clicks) and without having to reload the page.

**Describe alternatives you've considered

[2020-09-02 15:38] rhymes commented on #10165
Hi @vasco3, would this issue cover it https://github.com/forem/forem/issues/3222 ?

Thank you!

[2020-09-02 15:42] rhymes opened #10166 "Videos page: title is duplicated"
**Describe the bug**

For some odd reason the `<title>` in https://dev.to/videos is duplicated. I tried a quick fix but I was able to triplicate instead.
There must be something else going on.

Currently it is: "DEV VideosVideos - DEV Community 👩‍💻👨‍💻Videos - DEV Community 👩‍💻👨‍💻"

**To Reproduce**

1. Go to https://dev.to/videos
1. Check the title

**Expected behavior**

Expect the title to be si

[2020-09-02 15:46] vasco3 commented on #10165
@rhymes that's even better, thanks!

[2020-09-02 15:53] rhymes commented on #10165
I'm going to close this then, please add your comment over there ;-)

Thank you!

[2020-09-02 15:53] #10165 closed

[2020-09-02 17:28] timorthi commented on #9472
Hey @rhymes , sorry for not updating. I ran into a few issues setting up the project (#9604, #9779), preventing me from getting any meaningful work done, and admittedly just kind of gave up.

I'll try setting up the project again, this time without Docker. I'd still like to work on this ticket, but I'll report back if I'm not making meaningful progress in setting up my local environment, so someon

[2020-09-02 19:09] maestromac commented on #9988
Hey @Amorpheuz , I'm not sure what's causing this to happen when the code block is indented and part of the list but I do want to give you some info on the tools we use to generate markdown and code block.

Most of the magic happens within `markdown_parser.rb` and we use Redcarpet + Rouge gem. I don't think we are doing anything to remove that div from the code block because I was getting the same

[2020-09-02 19:16] vasco3 commented on #3222
It's annoying to have to set it from the settings everytime the light in my room changes

It could be a keyboard shortcut to toggle between dark and light theme. Or quicker access to theme selection (less clicks) and without having to reload the page.

The Dark-mode toggle is a great solution.

[2020-09-02 19:40] diogoosorio commented on #10166
✋ giving this one a go!

[2020-09-02 19:50] mrloop opened #10172 "User failing validation is prevented from update user to pass validation"
**Describe the bug**

A user record which is invalid can't update user record to make valid, or if they log out they are unable to login again, via github.

I've some how been able to update my account settings with an invalid url for both website and employer.

**To Reproduce**

I'm not sure how to reproduce initial invalid state where I've entered an invalid url for website and employer. However

[2020-09-02 19:57] mrloop commented on #10172
Maybe related to #10135?

[2020-09-02 20:11] richardeschloss commented on #10114
I'm not a tailwind expert...but what does "lh-tight" do? Does that mean "line-height tight"? Is tailwind trying to size the box to be as minimal as possible?

[2020-09-02 20:20] diogoosorio opened #10173 "Service worker cache is generating invalid markup"
**Describe the bug**

Once you hit a scenario where the service worker is triggered to render the page header from cached data, the HTML that's getting generated is invalid (the `<html>`, `<head>`, `<body>`, ... tags are getting duplicated).

The browser (at least Chrome which is what I'm using), does a great job "hiding" the problem so the issue isn't quite visible just by looking at how the page

[2020-09-02 20:26] richardeschloss commented on #10114
I'm less familiar with tailwind but...what does "lh-tight" in the className do? Does that set a line-height style to be tight and does that "tightness" interact with what the "preact-textarea-autosize" is trying to do?

[2020-09-02 20:28] michael-tharrington opened #10174 "Cannot unfollow tags"
**Describe the bug**

I'm unable to unfollow tags that I'm currently following. In other words, when I click on the "following" button for a tag, the button changes to "follow" making it appear that I've unfollowed it, but when I refresh the page it says "following" again.

**To Reproduce**

1. Go to 'https://dev.to/dashboard/following_tags' -->
2. Use this page to see what tags you're following a

[2020-09-02 20:58] madarsbiss opened #10176 "Empty series should be automatically deleted in Dashboard"
**To Reproduce**

Create a unique series name for any post.
That adds a particular series name in Dashboard. So far so good.

Edit the same post and remove the series.
Go back and check the Dashboard. The series name is still there and says ["your_series_name"] (0 Part Series).

![chrome_xqNhRp9DTd](https://user-images.githubusercontent.com/42511917/92034771-61be3280-ed76-11ea-8037-b41fe10c0b84.pn

[2020-09-02 21:04] michael-tharrington opened #10177 "User trying to "Connect GitHub Account" redirects to Sign Up page"
**Describe the bug**

A DEV user wrote in that they want to add their GitHub to their DEV profile, but when they click the “Connect GitHub Account” button, it redirects to https://dev.to/users/sign_up.

**To Reproduce**

_NOTE: I haven't tried to reproduce this issue, but here's what I would suggest._

1. Go to `https://dev.to/settings/account`
2. If you have both Twitter and GitHub connected, you

[2020-09-02 21:17] madarsbiss commented on #10177
Try to logout from your Twitter/Github, clear browser cache and then login fresh. Worked for me.

[2020-09-02 21:21] michael-tharrington commented on #10177
Awesome! Thanks for this advice @madarsbiss — I'll pass this on to the user who wrote in now.

[2020-09-02 21:22] madarsbiss commented on #10174
Works fine on Chrome 85.0.4183.83 (64-bit)

[2020-09-02 21:24] michael-tharrington commented on #10174
I'm out of date! 😅

I'm on Chrome 84.0.4147.135 (64-bit)

Let me see if updating solves the problem for me. Thanks for the suggestion!

[2020-09-02 21:33] perpetual-education commented on #9034
Makes sense! Except that it's possible that we'll never see the "listings" - so, it feels like there no point in buying credits for anything - which seem like part of that 'business.' We're happy to hear your honest reasoning. If you could find a way to clearly address everything that is in the footer - _somewhere else_, then - in theory - you wouldn't need a footer at all. That is another way to

[2020-09-02 21:34] michael-tharrington commented on #10174
I'm officially updated, but still experiencing issues.

So I returned to https://dev.to/dashboard/following_tags and it looks like #jokes is no longer an option there, so maybe I succesfully unfollowed it? I returned to https://dev.to/t/jokes and it still says "following". The pattern continues — I click to change it to "follow" -> refresh -> it's back to "following".

I thought that maybe this is

[2020-09-02 21:36] jdoss opened #10178 "Multiple domain support via APP_DOMAIN"
**Is your feature request related to a problem? Please describe.**

In order to support many domains within the app we need the APP_DOMAIN env var to support many domains.

**Describe the solution you'd like**

The application supports many domains in a comma separated list via APP_DOMAIN env.

`APP_DOMAIN=foo.com,foo.biz,foo.forem.com`

[2020-09-02 21:38] madarsbiss commented on #10163
@rhymes I get the idea of @krishnadevz 👍
Tho, in my opinion, there is no need to push any particular order of articles by an author and all the sorting (if needed) should be left to visitors, so the following model could be more appropriate:
1. Leave the order in the user's profile as it is currently (by date).
2. Add an option to sort by most views/reactions/comments for visitors.

[2020-09-02 21:47] madarsbiss commented on #10174
I would try to logout, clear cache, disable all extensions (for testing), login and see if the problem persists

[2020-09-02 21:54] DevArt002 commented on #10177
Thanks, @madarsbiss and @michael-tharrington

Of course, I had logged in from Twitter and wanted to attach GitHub account to DEV one.
FYI, I logged out and logged in again, on both GitHub and DEV. But it is still redirecting to https://dev.to/users/sign_up.
It's weird. Because I see some other users of DEV have their GitHub attached.
Maybe they could joined from GitHub initially. But I would like

[2020-09-02 21:54] #9485 closed

[2020-09-02 21:54] #8428 closed

[2020-09-02 21:54] #8429 closed

[2020-09-02 21:55] #8438 closed

[2020-09-02 21:55] #8439 closed

[2020-09-02 21:55] #8440 closed

[2020-09-02 21:55] #8441 closed

[2020-09-02 21:55] #9187 closed

[2020-09-02 21:55] #9296 closed

[2020-09-02 21:55] #9361 closed

[2020-09-02 21:55] #9480 closed

[2020-09-02 21:55] #9481 closed

[2020-09-02 21:55] #9482 closed

[2020-09-02 21:55] #9483 closed

[2020-09-02 21:55] #9484 closed

[2020-09-02 21:55] #6885 closed

[2020-09-02 21:55] #7953 closed

[2020-09-02 21:55] #7954 closed

[2020-09-02 21:55] #7955 closed

[2020-09-02 22:00] DevArt002 commented on #10177
Maybe, it could be helpful?
![error_capture](https://user-images.githubusercontent.com/52213952/92041210-30b42100-edbb-11ea-9cfb-d0e99ca003f8.png)
This is happened when it redirects to https://dev.to/users/sign_up.

[2020-09-03 00:02] #10141 closed

[2020-09-03 01:49] nickytonline commented on #4523
As discussed, I'm assigning this to you @Taniyah-L-Jackson taniyah-l-jackson.

[2020-09-03 06:05] Rafi993 opened #10182 "Vertical alignment of post title in notification"
**Describe the bug**

Vertical alignment of  post title in notification

**To Reproduce**
 1. Go to notification
 2. Look at notification with post title

**Expected behavior**
Vertical alignment of notification title should be same at the notification message

**Screenshots**
![vertical_alignment_in_notification](https://user-images.githubusercontent.com/8092120/92076915-0f622d80-edd9-11ea-8298-9

[2020-09-03 06:18] Rafi993 commented on #10182
Adding ```vertical-align: middle``` to ```notification-comment-reacted-link``` should fix this

[2020-09-03 06:45] rhymes commented on #10176
Hi @madarsbiss, I'm not sure we should automatically delete it but we could add a "delete series" button, as I mentioned in here https://github.com/forem/forem/issues/9658#issuecomment-670414576

We could also make it so that empty series don't appear in the public profile, see also https://github.com/forem/forem/issues/9658

[2020-09-03 06:50] rhymes commented on #10178
@jdoss as `APP_DOMAIN` is used for a few things, including building URLs at runtime, should be add a separate `APP_DOMAINS` variable for that?

How does the Rails app otherwise determine which absolute URL it should use to send email links, cookie domain, and other things?

[2020-09-03 06:52] citizen428 commented on #10178
I'm with @rhymes on this one. Would keeping `APP_DOMAIN` as-is and adding a new var like `ADDITIONAL_DOMAINS` work for you @jdoss?

[2020-09-03 06:52] citizen428 commented on #10182
Do you want to submit a PR for this @Rafi993? If yes I'll assign you this issue.

[2020-09-03 06:55] rhymes commented on #10177
@DevArt002 do you have ad blockers on?If so, can try without them?

[2020-09-03 06:55] citizen428 commented on #10174
I experience the exact same behavior as @michael-tharrington on the latest Firefox Developer Edition.

[2020-09-03 06:56] Rafi993 commented on #10182
Yes, I can help with this. Thanks @citizen428

[2020-09-03 07:15] ludwiczakpawel commented on #10114
@richardeschloss `lh-tight` class sets the `line-height` to be `1.25`. It may indeed be taken into consideration while calculating height of the field but it should definitely not cause any harm to the layout, especially like you have in the screenshot...

So except some potential bug in the Textarea component I've mentioned earlier, I do have one more theory: does your machine do anything special

[2020-09-03 07:26] ludwiczakpawel commented on #9034
@perpetual-education  what do you mean here? Listings appear on the top of the right sidebar (as its own "widget") as well as link in the main navigation in the left sidebar.

We're actually working on a proof of concept that would kinda remove the footer on views with infinite scroll and put its content somewhere else... But that's still pretty far on roadmap :)

[2020-09-03 07:47] richardeschloss commented on #10114
For fonts, not that I can recall. I don't think I did, but I can try to remember.

[2020-09-03 07:53] madarsbiss commented on #10176
Yeah, or that. 💯🎯

[2020-09-03 09:15] rhymes commented on #10176
I'm going to close this in favor of the other solution, please add a note over there with your proposal @madarsbiss so we can keep track of it in context :) Thank you!

[2020-09-03 09:15] #10176 closed

[2020-09-03 09:47] DevArt002 commented on #10177
Hi, @rhymes

Yes, ad blocker is running. I tried without that also. But didn't work as well.

[2020-09-03 09:51] rhymes commented on #10177
@DevArt002 same errors in the console?

[2020-09-03 09:54] DevArt002 commented on #10177
No, it has reduced errors.

![err_capture](https://user-images.githubusercontent.com/52213952/92100401-1d3aa180-ee1f-11ea-8080-89dfb684b1ab.png)

[2020-09-03 11:10] #10182 closed

[2020-09-03 12:41] jdoss commented on #10178
That works for me! We just need the application to work with the main domain (APP_DOMAIN)  and any other additional domains (blah-12234.forem.cloud for example).

[2020-09-03 13:40] rhymes commented on #10178
Another aspect: as this doesn't seem to be about subdomains of the same domain but entirely different domains, we'll have to figure out how to deal with login session and multiple domains as the cookie can't be shared. But it might be easier if we just ignore that and expect that a person going to foor.com and foo.biz will have to essentially sign in again

[2020-09-03 14:00] citizen428 commented on #10178
@jdoss I don't think that's something Rails supports too well out of the box, but it can be achieved. Maybe we can do a session during cooldown, gather requirements, etc.

[2020-09-03 14:07] #10166 closed

[2020-09-03 14:26] benhalpern commented on #10178
@rhymes @jdoss I'm not sure it's critical we go as far as sharing sessions. As I understand it, the primary concern is that an admin could work on `tempname.forem.cloud` and then move to `canonicalforem.com`?

I think serving multiple domains will actually be _not so tough_, but not trivial, but what is our immediate need here? The way I understand it— we can have traefik supporting multiple domai

[2020-09-03 14:39] jdoss commented on #10178
That is the usecase yes. We want to allow users to access `tempname.forem.cloud` before they point DNS so they can configure the app for their needs, onboard early users and get everything ready before they point their main domain name at the application.

I can easily configure the systems side of things to support many domains but that doesn't mean you could log in or do anything useful if you a

[2020-09-03 14:47] #7117 closed

[2020-09-03 14:47] #8188 closed

[2020-09-03 14:47] #9647 closed

[2020-09-03 14:47] #9723 closed

[2020-09-03 15:35] perpetual-education commented on #9034
Our feedback would be that _we_ couldn't find it. (It's there) - but we couldn't find it / and there isn't much of a story told about the things in that widget. So, throughout or time surfing around - we've found pages and resource types that we didn't know existed and didn't seem to be in any menus. Things are folded up / and maybe they just blend in with the 'tag's and stuff. In cases like that,

[2020-09-03 16:02] saurabhdaware commented on #10163
That's a great suggestion! In my opinion,  I think it will be helpful to have an option to reorder pins. But having remaining posts in order of date will be better since it is a standard way.

Also as @madarsbiss suggested, we can have an option to sort (and maybe filter? so that we can filter by tags) would look good.

[2020-09-03 17:12] #7958 closed

[2020-09-03 18:57] keithrbennett commented on #9723
Looks great, thank you!

[2020-09-03 20:47] #10154 closed

[2020-09-03 21:41] joshpuetz opened #10200 "Facebook Sign In doesn't work in Production"
## Description

PR https://github.com/forem/forem/pull/9922 added support for signing into a Forem with Facebook via OAuth. Behind the scenes we've added a Facebook provider to [Devise](https://github.com/heartcombo/devise), and are using [OmniAuth-Facebook](https://github.com/simi/omniauth-facebook).

In development locally, this work just fine after following the Facebook setup instructions [htt

[2020-09-03 23:10] fajarsiddiqfs opened #10201 "Twitter onboarding got stuck"
I got stuck here while trying to login via twitter - https://forem.dev/onboarding?referrer=https://forem.dev/

<img width="679" alt="Screenshot 2020-09-04 at 07 08 41 AM" src="https://user-images.githubusercontent.com/20717334/92182213-b4364680-ee7d-11ea-925f-8b8e91264c91.png">

[2020-09-04 06:57] ludwiczakpawel commented on #9034
@perpetual-education gotcha, that makes perfect sense and thank you for that feedback - I really appreciate it!

We definitely gonna address that issue in one way or another we just don't know exactly how yet. Information Architecture as well as how we present our navigation and things you can do on Forem/DEV is pretty important - no doubts about that. So please bear with us and keep sharing the f

[2020-09-04 10:38] Link2Twenty commented on #10174
You're not really following it anymore but the `userData()` function hasn't updated. You can write *this*

[code]

in your console to see what tags you're 'following' but then you can check the API like this <https://dev.to/follows/137?followable_type=Tag> (this is specifically for the history tag).

___

I've done a little more digging and <https://dev.to/async_info/base_data> is wrong

[2020-09-04 11:10] nehrakln07 opened #10204 "Need feature to see who liked, viewed"
**Is your feature request related to a problem? Please describe.**

feature to see a list of the people who liked view for a post while seeing stats on the dashboard.

You can refer twitter feed where when click on the numbers neer icon you can see the list of people who liked, retweeted.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-09-04 12:08] rhymes commented on #10204
Hi @nehrakln07. I'm going to close this as as duplicate of https://github.com/forem/forem/issues/6608 - Feel free to leave your comment over and thank you!

[2020-09-04 12:08] #10204 closed

[2020-09-04 17:44] Link2Twenty opened #10210 "Paste an image in the editor"
In GitHub it is possible to paste an image directly into the text input.
With the addition of Drag & Drop (#10145) I think it would be cool to also look at pasting images.

Here is the code the GitHub use <https://github.com/github/file-attachment-element> (This handles both Drag & Drop and Pasting but we'd only be interested in the latter).

I think it should be easy enough to extend @nickytonlin

[2020-09-04 18:10] richardeschloss commented on #10114
Some more information. I made sure to uninstall LibreOffice (which is the only thing I think could have changed default fonts). I have  pretty lightweight system here.

I have some more screenshots that may help.

This is the view on initial page load (everything looks fine. height set to 64 px)
![initial_view](https://user-images.githubusercontent.com/5906351/92272808-1fdcdb80-ee9f-11ea-8916-3eaf

[2020-09-04 20:29] jjant opened #10213 "Ignore tags"
**Is your feature request related to a problem? Please describe.**

This is a feature request, I'd like to ignore tags. My feed is full of articles on topics I don't care about, and they clutter content I'm actually interested in.

**Describe the solution you'd like**
Add an option to select tags you'd like not to show up in your feed.

**Describe alternatives you've considered**

A dual alternati

[2020-09-04 20:48] thomasbnt opened #10214 "The primary email address is does not have to be the same one displayed in public"
**Is your feature request related to a problem? Please describe.**
I would like to show my professionnal email address in public not my private address who I work for login in Forem. But no choices (same on GitHub 😞). If I want to make my email address public, I have to change it, so I receive notifications and newsletters on that address.

Why do you not give the choice for setup a public email ?

[2020-09-05 01:39] Fmressel commented on #2349
@maximepiard Just checked and it looks like this issue has been resolved. The transparent version of the sloan is being used!
<img width="1009" alt="Screenshot of Dev's Dashboard" src="https://user-images.githubusercontent.com/3860405/92294119-d069d000-eedd-11ea-99a2-31f22c8bf7b6.png">

[2020-09-05 11:08] jeansberg commented on #9734
I have looked at the code a bit and am unsure how to proceed.
1. Should the "ghost" account be a feature of all forem sites and if so, do we need to make sure it's created automatically?
2. The email "yo@dev.to" shows up because the account page calls the "email_link" function that by default returns the "DEFAULT_EMAIL" from the .env file. I am not sure if this can be set from the admin view, beca

[2020-09-05 11:10] Rafi993 commented on #9270
Weirdly enough this not happening in my local development environment with same API calls.

[2020-09-05 11:14] takmar commented on #10174
Hi. Can I work on this?

[2020-09-05 12:27] Rafi993 commented on #10164
Hello there, If this is not taken I would like to help :)

[2020-09-05 12:45] Rafi993 commented on #10164
I just realised this feature does not have tag "ready for dev". I'll take it up if it is "ready for dev".

[2020-09-05 15:13] rhymes commented on #2349
Thanks for checking @Fmressel

I'm going to close it @maximepiard, please let me know if I should otherwise reopen it

[2020-09-05 15:13] #2349 closed

[2020-09-05 15:24] rhymes commented on #9734
Hi @jeansberg, the ghost feature is gone, see #10139, so nothingt to do there :)

Regarding the email: as you found out, `email_link` is a helper that allows you to choose which email you should display. The default email is the one you should display there. You can only change it in the environment variable in `.env` yes, you can see all the changeable configuration in http://localhost:3000/admin

[2020-09-05 15:25] rhymes commented on #10174
@takmar sure, I'll assign the issue to you

[2020-09-05 15:26] rhymes commented on #10164
@Rafi993 this is definitely ready for dev, thank you!

[2020-09-05 15:59] Rafi993 commented on #10164
Awesome thanks @rhymes

[2020-09-06 06:45] rhymes commented on #9472
@timorthi thank you for taking the time to circle back on this!

[2020-09-06 06:57] rhymes commented on #10213
Hi @jjant thanks for the feature request, I'm closing this as a duplicate of https://github.com/forem/forem/issues/1856 - please copy your comment there so we can keep track of it and it contributes to the conversation. Thank you!

[2020-09-06 06:57] #10213 closed

[2020-09-06 06:59] rhymes commented on #10214
I wonder if the solution here would be to do something like Github: allow people to have multiple email addresses, verify them and then allow them to choose which one they want to display in public

![Screenshot_2020-09-06 Build software better, together](https://user-images.githubusercontent.com/146201/92320116-4d509300-f01f-11ea-8c72-e5cd750f831a.png)

[2020-09-06 09:32] thomasbnt commented on #10214
Oh yeah of course ! (The problem on GitHub isn't that, just when I login with Oauth2, he take the public email)

[2020-09-06 15:44] Rafi993 opened #10233 "Fixing date duplication logic in app/javascript/listings/dashboard/rowElements/listingDate.jsx"
**Describe the bug**

1. Date format logic is duplicated in app/javascript/listings/dashboard/rowElements/listingDate.jsx
2. span tag is used instead of time tag
3. Missing title attribute

**Expected behavior**

Should use common date display logic and use time tag instead of span

**Additional context**

This should probably use common util function similar to PR https://github.com/forem/forem/p

[2020-09-06 15:45] Rafi993 commented on #10233
If this not taken I can help with this issue.

[2020-09-06 16:37] sivaraam commented on #9780
I also happened to notice this issue. The organization page doesn't seem dark mode friendly. Few screenshots:

[2020-09-06 21:29] eduherminio opened #10234 "Link to post sections"
Hi,

It would be **awesome** to be able to link to dev.to post sections.
I'm currently cross posting from GitHub pages and I would certainly love to replace all my other post references with dev.to equivalent ones, but I'm not able to since some of them aim to a specific section of another blog post.

For instance, in my original post I have references to other articles (i.e. https://eduherminio.g

[2020-09-07 00:45] kaliwa commented on #9780
Firefox on Ubuntu

[2020-09-07 03:44] citizen428 commented on #10233
I assigned you the issue now @Rafi993, thanks for volunteering!

[2020-09-07 03:51] citizen428 commented on #10234
Note that this is already possible if you set an anchor in your Markdown, like this:

[code]

Here's an example draft with a couple of Lorem Ipsum paragraphs and a conclusion, the link will directly take you to the latter:

https://dev.to/citizen428/link-section-test-2c4c-temp-slug-9839207?preview=16733547845302d298a8839c15140b86ce2b9aeb4c8baaddcc05f86b37710fd93b22330c33a58f040d58e23a24c1d91cb837c

[2020-09-07 07:10] citizen428 commented on #10214
Given we alrady store distinct emails (see https://dev.to/settings/account) maybe we could let the user chose which one to display on their profile:

<img width="300" alt="Screen_Shot_2020-09-07_at_14_07_28" src="https://user-images.githubusercontent.com/47985/92358363-92ee8800-f113-11ea-8783-9f188678276a.png">

[2020-09-07 07:23] mjalali opened #10236 "bug"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-09-07 08:42] rhymes commented on #9077
It happened to me when my `@rhymes` appeared in a liquid tag inside the comment

See https://forem.dev/link2twenty/comment/nd

[2020-09-07 09:34] eduherminio commented on #10234
Awesome @citizen428, thanks!

[2020-09-07 09:58] #10236 closed

[2020-09-07 10:13] ludwiczakpawel commented on #9780
Hey, thanks for this report.

We've very recently updated profile view for users and we're going to do the same thing for Organizations as well, pretty soon. So please bare with me and give it couple days before we ship it :) Then this bug should not be an issue anymore.

[2020-09-07 12:48] Link2Twenty commented on #10234
Actually, you don't need to do anything special all headings can be linked to by default.

For instance <https://dev.to/eduherminio/waiting-in-arduino-i-delay-function-is-not-your-friend-4keh#case-study>

I believe it's title to lower case, all special characters removed, spaces replaced with hyphens and backticks (`) replaced with `-raw-` and `-endraw-` depending on where they are.

[2020-09-07 13:00] eduherminio commented on #10234
Wow, you're totally right @Link2Twenty, I don't know how could I missed that yesterday. I'll update the links when I have some spare time.

Thanks for your help folks! I guess that the feature request doesn't make sense any more @citizen428, feel free to close the issue if appropriated.

[2020-09-07 13:12] Link2Twenty commented on #10234
It does mean this documentation is wrong.

https://github.com/forem/forem/blob/9ee54bfe45725e2dfaab856aea1fea0315dc0413/app/views/pages/_editor_markdown_help.html.erb#L11-L20

[2020-09-07 13:21] eduherminio commented on #10234
I also noticed that those links (without doing anything special to the target header) only work if you open them in a new tab,
If you just left-click them in a post (try the first one in [this section](https://dev.to/eduherminio/waiting-in-arduino-ii-millis-function-to-the-rescue-33k6#going-back-to-our-case-study)), they take you to the top of the linked post rather than to the right section.

[2020-09-07 13:25] Link2Twenty commented on #10234
Oh interesting, because of the routing.

[2020-09-07 13:32] Link2Twenty commented on #10234
I guess we'd need to look for the hash in here when it comes in on `newUrl`

https://github.com/forem/forem/blob/e33029856161c21288c4e4b432d4111b0428fb94/app/assets/javascripts/base.js.erb#L115-L173

[2020-09-08 03:20] kmcginn opened #10240 "[Documentation] Small issues in Windows Installation"
**Describe the bug**

I recently ran through the Windows installation instructions for setting up Forem, and I encountered a few issues/areas of improvement:

1. The `tar` command in the Elasiticsearch installation section has a slightly incorrect filename; it is missing `-oss` from `elasticsearch-oss-7.5.2-linux-x86_64.tar.gz`.
1. The `bin/setup` script will fail at various points if Elasticsearc

[2020-09-08 03:24] kmcginn commented on #10240
Per the bot's comment, I'd like to claim this issue 🙂

[2020-09-08 03:57] citizen428 commented on #10240
Thanks @kmcginn, I assigned you the issue now.

[2020-09-08 10:02] alizahir23 commented on #10140
If this issue is not taken yet, I would love to work on this.

[2020-09-08 14:41] Rafi993 opened #10246 "Class and Id of non featured articles in home feed is string "false""
**Describe the bug**

Articles and id's in dev.to home feed have value false

**To Reproduce**

1. Go dev.to
2. Open developer tools
3. Inspect article that is not featured
4. You will see it has id "false" and class "false"

**Expected behavior**

It should not have id or class false

**Screenshots**

![class_and_id_false](https://user-images.githubusercontent.com/8092120/92490752-07f2b800-f20f-1

[2020-09-08 14:53] Rafi993 commented on #10246
Hello there if this issue is for taking I can help!

[2020-09-08 14:54] atsmith813 commented on #10129
2 quick notes for anyone that tackles this in the future:
- **We should consolidate where we document liquid tags.** Currently, we render hardcoded liquid tag documentation in 2 different partials - [_editior_guide_text.html.erb](https://github.com/forem/forem/blob/master/app/views/pages/_editor_guide_text.html.erb) and [_editior_liquid_help.html.erb](https://github.com/forem/forem/blob/master/app

[2020-09-08 14:59] Rafi993 opened #10248 "data-testid is present in production build"
**Describe the bug**

data-testid added to components for unit testing is present in production builds. It could be removed by using https://www.npmjs.com/package/babel-plugin-jsx-remove-data-test-id

**To Reproduce**

1. Go to dev.to
2. Open developer tools
3. Inspect article
4. You can see data-testId

**Expected behavior**

data-testId should not be present in production build

**Screenshots**

[2020-09-08 15:22] leewynne opened #10250 "Add more social icons to organisations."
Add more social icons to organisations.

Add social icons and URLs for FB, Instagram to create organisation form and allow them to be displayed in the organisations view.

[2020-09-08 15:23] rhymes commented on #10140
@alizahir23 thank you, I've assigned you the issue

[2020-09-08 15:40] nickytonline commented on #10248
@Rafi993 and @rhymes, I wouldn't consider this a bug. I think Kent C. Dodds explains it best in https://github.com/testing-library/react-testing-library/issues/479#issuecomment-529548194 . Perhaps though in the case of `<Article />` component, the `data-testid` might not be necessary.

[2020-09-08 15:45] Rafi993 commented on #10248
I never thought about it i that way. Thanks for that. Shall I close this issue and related PR?

[2020-09-08 15:52] Rafi993 commented on #10248
I think I missed the last sentence in the comment you are right in this case data-testid could be removed from article.

[2020-09-08 15:55] nickytonline commented on #10248
In fact, I was looking at article.test.jsx and the only usage of `data-testid` is to find the entire article DOM node in its tests. This is not necessary. Remove `data-testid` from the `<Article />` component and we just need some improvements to the tests in article.test.jsx.

[2020-09-08 22:38] #10246 closed

[2020-09-09 07:35] #10233 closed

[2020-09-09 09:10] Rogue-Halo commented on #10250
I like this idea, not claiming it yet but I'm keeping an eye on it.

[2020-09-09 09:25] ludwiczakpawel commented on #10114
I still can't repro that bug on my local env and neither of us (other team members) can. Not sure what to do here.. 🤷‍♂️

[2020-09-09 09:33] #8365 closed

[2020-09-09 09:34] #5647 closed

[2020-09-09 09:34] #5064 closed

[2020-09-09 09:35] #4901 closed

[2020-09-09 09:36] ludwiczakpawel commented on #4712
Fixed.

[2020-09-09 09:36] #4712 closed

[2020-09-09 09:37] ludwiczakpawel commented on #3226
Fixed.

[2020-09-09 09:37] #3226 closed

[2020-09-09 09:37] ludwiczakpawel commented on #1389
Fixed.

[2020-09-09 09:38] #3324 closed

[2020-09-09 09:38] #3807 closed

[2020-09-09 09:38] ludwiczakpawel commented on #3968
Fixed.

[2020-09-09 09:38] #3968 closed

[2020-09-09 09:40] ludwiczakpawel commented on #4605
Fixed.

[2020-09-09 09:40] #4605 closed

[2020-09-09 09:41] ludwiczakpawel commented on #6752
Fixed.

[2020-09-09 09:41] #6752 closed

[2020-09-09 10:08] ludwiczakpawel commented on #9684
Can you help us somehow repro/debug this issue? We can't figure out what's going on. There's an ongoing convo about the very same issue on #10114 .

Can you check if you have any JS errors in console.log?

---

Related: #10114

[2020-09-09 10:17] #9324 closed

[2020-09-09 12:24] Kovah commented on #9684
Did a short video of creating a new blank post.
Firefox 80.0.1., ad blocking disabled via Pi-Hole.
Theme: Minimal Light
Font: sans-serif
Navbar: fixed to window
Writing: Rich + Markdown

https://imgur.com/a/rhcqJq1

Also tried to debug it, but I end in an endless loop of Webpack stuff without finding the cause.

Only adding custom CSS via Stylus solves this issue:
[code]

[2020-09-09 13:58] rhymes commented on #1389
@ludwiczakpawel so it can be closed?

[2020-09-09 14:54] citizen428 commented on #10129
@atsmith813

Ideally we take this out of any view and make it part of some data structure or even a yml file. We can then use the stored values in views, but also repurpose them to send them to the editor for the Liquid tag auto-completion @nickytonline will be tackling during cooldown (see https://github.com/forem/forem/pull/10241 for the first PR).

[2020-09-09 15:40] nickytonline opened #10260 "Consider No Mouse Fridays in the Application"
**Is your feature request related to a problem? Please describe.**

Consider having "No Mouse Fridays" as part of our accessibility initiative.

**Describe the solution you'd like**

The simplest way to do this would be to include Marcy Sutton's package [No Mouse Days](https://github.com/marcysutton/no-mouse-days) when running in development mode.

**Describe alternatives you've considered**

This

[2020-09-09 15:53] Coteh opened #10261 "New Post title textarea height changes when focused on element (desktop)"
**Describe the bug**

Whenever I create a post on DEV, after focusing on the textarea for the title, its height changes to a smaller value that makes it hard to read. Screenshots attached below. I work around this for the time being by adjusting the height value myself using the inspect window. I turned off uBlock Origin to make sure that wasn't doing anything, but the problem still persists. I wi

[2020-09-09 16:23] #9362 closed

[2020-09-09 16:23] #9751 closed

[2020-09-09 16:28] rhymes commented on #10261
Hi @Coteh, thanks for the report! This is likely the same issue experienced by this reporter here https://github.com/forem/forem/issues/10114

Can you confirm? Could you add your report to the page if so?

Interesting because the combination of browser and operating system is totally different then theirs

[2020-09-09 17:13] ludwiczakpawel commented on #1389
Yes sir!

[2020-09-09 17:13] #1389 closed

[2020-09-09 17:17] TheRohitSharma commented on #7769
@fdoxyz I'll be trying again this weekend, and I'll let you know what I can report back. Everything else had seemed to populate just fine, just not the podcasts.

[2020-09-09 17:26] Coteh commented on #10114
I was able to reproduce this with Firefox 80 (no extensions) on macOS Mojave #10261

[2020-09-09 17:28] Coteh commented on #10261
@rhymes Yup looks like the same one. Thanks for mentioning this, added a comment to the other issue.

[2020-09-09 18:42] Rafi993 opened #10265 "Unable to close expanded article in moderator view"
**Describe the bug**

Unable to close expanded article in moderator view

**To Reproduce**

1. visit http://dev.to/mod
2. Click on article
3. Close the expanded article
4. Closing the expanded view will fail

**Expected behavior**

Expanded view of the article should close

**Screenshots**

![close_expanded_article](https://user-images.githubusercontent.com/8092120/92639870-0f42c000-f2fa-11ea-9d0f

[2020-09-09 22:19] #10240 closed

[2020-09-10 03:14] richardeschloss commented on #10114
I have a thought...what version of the preact-textarea-autosize is being used? So, the one that's published in npm appears to point to a github repo which is 4 years old. It seems like the forked version has had more maintenance:

https://github.com/Andarist/react-textarea-autosize (fork)

https://github.com/evenius/react-textarea-autosize (npm)

[2020-09-10 05:50] Lakkapatri opened #10269 "No Option to write"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-09-10 07:33] citizen428 commented on #10265
Did you want to look into this yourself @Rafi993? From  a quick look, it seems that `const articleDocument = top.document;` isn't quite right. I managed to get a whole of the correct document like this in a console, maybe that helps:

[code]
`

[2020-09-10 07:36] citizen428 commented on #10269
Can you please provide the information requested in the issue template, your DEV username, etc.?

[2020-09-10 07:36] Rafi993 commented on #10265
sure I can help thanks @citizen428

[2020-09-10 10:28] ludwiczakpawel commented on #10114
cc @nickytonline maybe you could help here?

[2020-09-10 10:42] #9780 closed

[2020-09-10 12:22] rhymes commented on #10261
Thank you @Coteh!

[2020-09-10 12:34] #10269 closed

[2020-09-10 12:37] nickytonline commented on #10114
Thanks for the suggestion @richardeschloss. I'll take a peek at this.

[2020-09-10 13:24] Rafi993 commented on #10265
Same function is also called while closing the moderator panel when viewing the article directly. There top.document points to the right context but when the same things gets rendered as iframe this breakage is caused.

[2020-09-10 14:09] Rafi993 commented on #10265
The moderator menu button is also hidden in /mod route (that would be the way only to open the panel back if it is closed)
![close_button](https://user-images.githubusercontent.com/8092120/92742029-d871b600-f39c-11ea-8c48-64d3f8fd7b37.png)

https://github.com/forem/forem/blob/master/app/javascript/actionsPanel/initializeActionsPanelToggle.js#L27-L35

I think the intention was to not have this righ

[2020-09-10 14:10] Rafi993 commented on #10265
![close_icon](https://user-images.githubusercontent.com/8092120/92742673-7d8c8e80-f39d-11ea-8b4d-d8dde5475e0e.png)

I meant this close icon

[2020-09-10 14:52] michael-tharrington commented on #9919
We may already be doing this, but something else that I just realized is that we need to make sure whatever CAPTCHA option we go with is accessibility friendly. I was just reading a post ["5 most annoying website features I face as a blind person every single day"](https://bighack.org/5-most-annoying-website-features-i-face-as-a-blind-screen-reader-user-accessibility/) that made me realize requiri

[2020-09-10 16:08] Maulikdes opened #10271 "Add Google Drive Video liquid tag"
**Is your feature request related to a problem? Please describe.**

I want to embed a video in the blog which users can directly view on the page and don't have to navigate to a particular link. I saw that there already have an option to embed youtube and Vimeo video links but I don't want to post my videos on any of such platform but my google drive and want to share it from there

**Describe the

[2020-09-10 21:25] michael-tharrington commented on #1299
Another interesting thing to consider here. When we post an article by multiple authors, the article should be promoted via notifications to the followers of each author. That said, if a user happens to be following multiple authors of a single post, the post should only be promoted to this user once.

[2020-09-11 03:16] citizen428 commented on #10265
Pinging @Zhao-Andy, he probably has the necessary context here @Rafi993 😃

[2020-09-11 10:08] ivanjeremic opened #10281 "Not able to comment on Dev.To"
I'm still not able to comment on DEV.to after months of trying, When I try to send my comment endless loading animation is showing up and nothing happens, I think this has something to do the way I signed up (GitHub), I already switched browsers and devices and everywhere the same. But interesting is I can create Posts but not comment.

The account is a bit older 2018 and I think in the beginning

[2020-09-11 10:13] rhymes commented on #10281
Hi @ivanjeremic, have you contacted yo@dev.to ? It seems the issue is only related to your account. Thank you!

[2020-09-11 10:14] ivanjeremic commented on #10281
Yes a while ago but no one responded.

[2020-09-11 13:10] rhymes commented on #10281
Ok, going to close this in the meantime. Thank you!

[2020-09-11 13:10] #10281 closed

[2020-09-11 14:11] michael-tharrington opened #10283 "Remove CAPTCHA for mods"
**Is your feature request related to a problem? Please describe.**

Kind of... mods are trusted users and regularly reporting spam/abuse to us. While they have specific mod tools that help to efficiently report comments/articles/users, they occasionally need to use the public https://dev.to/report-abuse route to provide more context about what they are reporting.

We've heard feedback that CAPTCHA

[2020-09-11 14:23] michael-tharrington opened #10285 "Add option for mods to turn off new user notifications"
**Is your feature request related to a problem? Please describe.**

Yes, notification fatigue! Mods have given feedback that the notifications they receive about a new user commenting on the site are distracting and create a lot of noise.

Here's an image of the notification:

<img width="477" alt="Image 2020-09-11 at 10 20 53 AM" src="https://user-images.githubusercontent.com/16007075/92936845-9a

[2020-09-11 16:43] ReeceM opened #10286 "Action bar is full screen and blocks article"
**Describe the bug**

The 'crayons' action bar that has the heart, unicorn and bookmark icons fill the entire width of the screen on the browser.

This blocks the article and you cannot read anything

**To Reproduce**

1. Go to [dev.to](https://dev.to)
2. Click on any of the articles to view it
3. Observe the grey bar is across the visible screen area

**Expected behavior**

You should be able to

[2020-09-11 17:00] fdoxyz commented on #10286
Hi @ReeceM thank you for the bug report. I wasn't able to reproduce on macOS Catalina 10.15.5 and Safari 13.1.1 (15609.2.9.1.2)

Have you tried manually refreshing (with `CMD + R` not just browsing from one area of the app to another) or emptying your cache? I've seen these types of problems happen before when HTML/CSS updates are released

[2020-09-11 17:06] ReeceM commented on #10286
Hi @fdoxyz I forgot to mention that in the initial issue info that I have cleared cache via `ALT + CMD + E`

I have also opened the console to set safari to ignore cache when reloading in the network tab. I have also use the `ALT + CMD + R` option to reload the page when the console is open.

In all cases the action panel thing is across the entire area. Even though this has worked when other situ

[2020-09-11 18:13] benhalpern commented on #10260
I love the idea of this. @marcysutton's library seems great. Would it indicate that you are in no-mouse mode on the screen? That seems like it would be helpful.

[2020-09-12 00:31] nickytonline commented on #10260
Out of the box, the package does not do that, but it would not be that difficult to add a little banner somewhere on the site while it's active.

[code]

[2020-09-12 09:44] #10201 closed

[2020-09-12 10:39] markmead opened #10293 "DEV.to header and footer displaying on Rails app with the same port"
**Describe the bug**

After working on Forem locally and then switching to a new Rails app on the same port, the DEV.to header and footer still show.

**To Reproduce**

1. Start Forem up
2. Close the server
3. Open a Rails app on the same server

**Expected behavior**

Not maintain cache

**Screenshots**

<img width="1425" alt="Screenshot 2020-09-12 at 11 06 11" src="https://user-images.githubuser

[2020-09-12 16:44] fdoxyz commented on #10293
Thank you for the report @markmead. This is a known issue and I believe this must be the service worker in place that once it's installed on `localhost:3000` it has no way of knowing whether the local development server has changed.

At the moment I'm not sure if there's a way to go around this. The only solution is to refresh without cache (on macOS `CMD + SHIFT+ R`) could be an easy way to clear

[2020-09-12 16:47] markmead commented on #10293
On the new app, you can unregister the service worker in the dev tools - that's a more permanent fix than hard-refreshing.

[2020-09-12 17:17] fdoxyz commented on #10293
Yeah I don't think `onbeforeunload` would work because the URL would still be `localhost:3000`. That would unregister the SW anytime you're visiting external sites, unless I'm not following the idea how it could be used to unregister it.

After a quick search [I found an alternative](https://github.com/GoogleChromeLabs/sw-precache/issues/188#issuecomment-248636350) to copy&paste in the dev tools c

[2020-09-12 21:08] markmead commented on #10293
From my test, the `onbeforeunload` was working. Don't think it's the right solution though.

[2020-09-13 04:36] jwkicklighter commented on #10293
One possible solution would be to use an alias for local development rather than just `localhost`. I do this with a few projects that rely on cookies and/or JS storage so that I don't clutter up the storage with conflicting data. Each project gets an alias in my hosts file so that the cookies and such are stored under a unique domain name instead of localhost. Obviously a little more work, but the

[2020-09-13 09:53] julianrubisch commented on #10293
Sorry to chime in here unasked, but hijacking a contributor‘s localhost serviceworker feels borderline unacceptable.

Were we talking about a normal corporate application where this kind of setup is documented accordingly, that’d be another story.

But unknowingly injecting code in a dev‘s browser - even more so a junior who might not immediately grok what’s going on and has to spend X hours bring

[2020-09-13 23:14] vaidehijoshi commented on #9193
@nickytonline @eclectic-coding Just catching up on this now! Looks like this issue no longer happens! I am 99% sure that since the design of the editor changed significantly since I first logged this problem, something fixed it inadvertently along the way. I'll close the issue out :)

[2020-09-13 23:14] #9193 closed

[2020-09-14 08:06] leewynne opened #10315 "Allow html banner campaigns to be displayed on more pages for new Forems to support growth."
When banners are created or campaigns (see picture below) by default they show on the primary root index page only. I think it would be a good idea for smaller Forem's to have the option for the campaign banners to be displayed on more pages to help incentivize sign ups and growth.

At the very least, on custom pages and the default single article view

**Describe the solution you'd like**

When n

[2020-09-14 08:21] leewynne opened #10316 "Enable comments on Forem pages"
As a Forem admin, it makes sense in some scenarios to create content in the form of a static page, and then maybe to include links to that page in other parts of the Forem.

I'd like to be able to keep these pages evergreen by optionally enabling comments on them.

**Describe the solution you'd like**

In the admin console, when creating a page, having the option to enable comments on a page by pa

[2020-09-14 08:34] leewynne opened #10317 "Create Gallery for Campaigns and Footers"
As new Forems come online I think it would be a really useful feature to provide access to an open gallery of campaigns in the form of banners and footers.

**Describe the solution you'd like**

Maybe the gallery is hosted outside of Forem or Github, just a simple browser and select, replace the image and text, and then an option to copy the code. A market place that encourages creation and consum

[2020-09-14 08:44] leewynne opened #10318 "A Gallery for Badges"
A great way of helping a new Forem grow would be to provide access to a creative gallery for Badge creation for the basics like:

* first comment
* first article
* first year
* second year
* third year

And then to provide examples from other Forems where badges are being used, to aid in creativity.

Badges are really important and a new Forem admin should be encouraged to get started with them as

[2020-09-14 08:55] leewynne opened #10319 "Generalise Badge allocation"
At the moment, automated badge allocation is specific to Dev. Ideally it would be great to generalise this and make it available for other Forems.

**Describe the solution you'd like**

When creating a new badge in the admin console, I would like the ability to allocated the badge based on a number of conditions such as:

Is the member in their first year?
Has the member contributed with their fir

[2020-09-14 09:28] #9683 closed

[2020-09-14 14:18] maestromac commented on #8334
I believe this is no longer an issue.

[2020-09-14 14:18] #8334 closed

[2020-09-14 14:49] msarit commented on #10265
@Rafi993 you are exactly right 😄  In the `/mod` view, the Mod Actions Panel is always meant to be open and side-by-side with the article being moderated.

The panel's non-working "X" button is a known bug; right now, you click the article to open and close it.

[2020-09-14 15:02] Rafi993 commented on #10265
Awesome. Thanks @msarit can I creare a pr to hide that x button in `/mod` route since it cannot be closed? Is that ok?

[2020-09-14 16:22] nickytonline commented on #4523
@benhalpern, @rhymes and Ruby folk. Any reason we couldn't store the pinned comment ID on the article entity? Is it because of caching issues in regards to an article? To me it makes more sense there because it makes the relationship clearer, but `pinned` on a comment entity could make sense as well as @benhalpern mentioned.

I'm going to be pairing on this with @Taniyah-L-Jackson this week, so tr

[2020-09-14 17:13] rhymes commented on #4523
My proposal is the following:

I’m looking at `ProfilePin` and I wonder if it can be recycled for this by having `profile` extended to `Article` and `pinnable` extended to `Comment`. Something like:

[code]

So an article can have a comment pinned to it, and in theory multiple ones. This way we don't need to tamper with the score.

There's another aspect, regardless of the implementation: what do

[2020-09-14 17:59] msarit commented on #10172
@mrloop hello! I tried to reproduce this bug, but was unsuccessful. No matter how I try to persist invalid entries for `Website Url` or `Employee Url`, the validation prevents me from saving my updated profile (and my profile retains its former state, without logging me out).

Are you still experiencing this bug?

[2020-09-14 18:06] jwkicklighter commented on #10293
Those are definitely valid concerns, I was suggesting the hosts file edit based on how Vagrant used to do things on projects I was part of. It was part of the startup/shutdown script of the Vagrant environment to add/remove a line to your hosts file so you had a domain name instead of localhost. While I can understand issue (and also don't know that it's the best solution, just an idea to think on

[2020-09-14 18:16] msarit commented on #10120
Hi @Amorpheuz I'm unable to reproduce this bug; are you still experiencing this behavior?

[2020-09-14 18:22] johngrueto opened #10328 "I cant write a post"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-09-14 18:30] msarit commented on #10061
I'll grab this! 😄

[2020-09-14 18:51] fdoxyz commented on #10328
Hi @johngrueto thank you for reaching out with the bug report. Can you please share more information by filling out the prompts? (Describe the bug,  To Reproduce,  Expected behavior, Screenshots, etc..)

This way we can understand what can be causing the issue. Can you also please share your DEV username as well so we can verify it's not a problem specific to your account? Thanks.

[2020-09-14 18:55] Amorpheuz commented on #10120
Hey @msarit, I haven't noticed similar behavior on Dev.to or Forem.to since opening the bug. I still have no clue as to how one might reproduce it.

I would like to mention that the notification shown in the example above no-longer appears as "liked" on my end though. (I never reacted to it since the beginning in case it could help solve the bug)

[2020-09-14 19:33] julianrubisch commented on #10293
Sorry, I didn’t mean to imply any bad intent. I work with service workers on a regular basis and of course you need local access for debugging. I would just advocate for not overcomplicating things for the contributing developer: make the installation/activation of the worker dependent on a config switch of some kind.

I can see how that would actually lead to more work internally, but would benef

[2020-09-14 19:52] michael-tharrington commented on #8457
Another DEV user just recently wrote in to confirm that they are experiencing this same problem. They linked to this article written by a separate user - https://dev.to/jhermann/bug-in-article-conversion-from-rss-feeds-3gae — which seems to confirm that there are at least 3 folks experiencing this. Just wanted bring this up so we can get a handle on how often this occurs + if these different RSSes

[2020-09-14 19:56] jwkicklighter commented on #10293
Good clarification, that definitely makes sense.

[2020-09-14 20:27] Zhao-Andy commented on #10060
Hi @diogoosorio! Thanks for your interest in working on this issue. To answer your questions:
1. I think instead of assuming the roles exist, we can add better error handling if the role does not exist. In our query, we do a `find_by!` which errors out, and I think we should change that to `find_by`.
2. I don't think we need to validate the input in the controller, but we should send a proper resp

[2020-09-14 20:56] vaidehijoshi commented on #6049
Closing this issue out since we've added some additional safeguards to solve this. Also, with the generalization of Forem, some of the concerns from this original issue don't quite apply in the same way.

[2020-09-14 20:56] #6049 closed

[2020-09-14 21:00] vaidehijoshi commented on #8861
I'm not sure when we're going to tackle this redesign, but in an effort to clean up outstanding issues before Hacktoberfest, I'm going to close this.

[2020-09-14 21:00] #8861 closed

[2020-09-14 21:00] vaidehijoshi commented on #7169
I'm not sure when we're going to tackle this redesign, but in an effort to clean up outstanding issues before Hacktoberfest, I'm going to close this.

[2020-09-14 21:00] #7169 closed

[2020-09-14 21:00] vaidehijoshi commented on #6990
I'm not sure when we're going to tackle this redesign, but in an effort to clean up outstanding issues before Hacktoberfest, I'm going to close this.

[2020-09-14 21:00] #6990 closed

[2020-09-14 21:38] vaidehijoshi commented on #6892
Update on this: we renamed the `welcome_notifications` attribute on the `User` model by aliasing the attribute and updating its usages elsewhere (see https://github.com/forem/forem/pull/6991 for how we did this).

We need to do the same thing with `mod_roundrobin_notifications` and `email_follower_notifications` to ensure consistency in how we name these attributes! You can refer to https://github

[2020-09-15 02:24] hugopeixoto commented on #8457
:wave: I'm the reporter Michael mentioned.

I'm trying to reproduce this locally. This is how the imported markdown for [this post](https://hugopeixoto.net/articles/rust-gamedev-ecs-bevy.html) looks like:

[code]

There are two problems here. In the first paragraph, newlines after or before links are removed. In the second paragraph, you see that newlines between lines are also removed (`strugglea

[2020-09-15 03:17] nickytonline commented on #4523
Definitely keep e.g. `comment A` in its thread.

Also, if `comment A` has replies do we keep that whole thread under it in the pinned area as well? I would think so, but then the comment thread starting at comment A is in two places now. 🤔

[2020-09-15 03:21] khiga8 opened #10333 "Unable to move beyond Code of Conduct page"
**To Reproduce**

I just signed up for forem.dev via twitter authorization and was redirected to
https://forem.dev/onboarding?referrer=https://forem.dev/.

I see a pop up regarding code of conduct that I cannot get past.
It looks like there may be a checkbox, but I am unable to scroll to it.

**Expected behavior**

I would expect there to be a checkbox that I can click that would let me move beyon

[2020-09-15 04:22] citizen428 commented on #10328
Hello @username, thanks for notifying us of this problem, this looks an issue specific to your account.
Please email yo@dev.to for more help.

[2020-09-15 04:22] #10328 closed

[2020-09-15 04:28] citizen428 commented on #10333
@khiga8 This is a known issue that we're currently working on fixing. There are invisible checkboxes to the left of the two the two sentences starting with "You agree". If you select them (a bit of guesswork) then the Continue button will work.

[2020-09-15 06:22] johngrueto commented on #10328
@johnholder

On Tue, 15 Sep 2020 at 00:21, Fernando Valverde <notifications@github.com>
wrote:

[2020-09-15 07:46] citizen428 commented on #4523
tl;dr (from a somewhat purist OO perspective): it's the comment that gets pinned, so having to modify another entity to accommodate this seems a bit off.

More detail: We already have more than one commentable type (articles and podcast episodes) and we may conceivably add more in the future. I wouldn't want to spread that logic across all of these models or have to remember to include a concern o

[2020-09-15 10:03] mrloop commented on #10172
@msarit sorry I've no way of checking, I also couldn't reproduce persisting an invalid entry, I could only reproduce the step after an invalid entry was created. If you can manually create an invalid entry in the db you maybe able to reproduce issue where an invalid entry prevents updating that entry.

[2020-09-15 10:18] citizen428 commented on #10172
@mrloop and @msarit We have deployed code that should stop this from happening in the meantime, which is probaby why you can't reproduce this.

[2020-09-15 13:27] khiga8 commented on #10333
Got it, thanks!

[2020-09-15 13:27] #10333 closed

[2020-09-15 13:29] AleksandrHovhannisyan opened #10334 "Soften inline code background color"
**Is your feature request related to a problem? Please describe.**

The background color for inline code is too dark, making it difficult to read blog posts that have a lot of inline code:

![image](https://user-images.githubusercontent.com/19352442/93216418-b29a3780-f735-11ea-9f46-6fcd7de6b244.png)

**Describe the solution you'd like**

Softening the background color to `rgba(0, 0, 0, 0.08)` make

[2020-09-15 17:08] ewaDev opened #10335 "Code Snippets are not accessible"
**Describe the bug**
On desktop, user cannot navigate to the code snippet using keyboard only. User cannot put the snippet in focus, cannot scroll through it or have it read by

**To Reproduce**

1. Create a new post.
2. Insert a code snippet with a long line - for example :
[code]
3. Publish.
4. On desktop try do navigate to the snippet using keyboard. You can't.
5. Attempt to scroll through to t

[2020-09-15 17:23] ewaDev opened #10336 "Bugs with code snippets"
**Describe the bug**
The bug appears with the formatting of the code in blog posts.

When a code snippet is present, the snippet is not resized to fit the device - instead it is long and has a scroll bar. This could be how it is intended - i am not sure.

On the mobile view, there is no scrollbar unless the user interacts with the snippet so it is hard to see that you can scroll. I think there sho

[2020-09-15 20:05] atsmith813 opened #10338 "Remove redirects in update actions"
## What is the problem?
Currently, we have a race condition any time we're using a redirect after an action that updates data causing the cache to be busted and we're directing to the page whose cache was just busted. We usually lose the race - we redirect before the cache can be successfully busted. This results in users seeing stale content.

The best example is updating a comment. Once a commen

[2020-09-15 20:07] atsmith813 commented on #10338
To our awesome contributors, please note that this issue will be worked on by a Forem team member and is not up for grabs.

[2020-09-15 20:51] fdoxyz commented on #10336
I'm adding a comparison screenshot side by side of Android (chrome) and iOS (Safari) of the sample post. Pinging @forem/design to hear their thoughts on the topic

<img width="1440" alt="Screen Shot 2020-09-15 at 14 48 00" src="https://user-images.githubusercontent.com/6045239/93263238-bf815000-f762-11ea-9f9d-bd12d8f09e50.png">

[2020-09-15 21:28] michael-tharrington opened #10341 "Unable to Remove Hearts on Comment Chain; Heart is Duplicated Instead"
**Describe the bug**

The logic behind hearts (❤️ reactions) appears to be off in certain situations — e.g. when a user is liking comments in a comment chain. Occasionally in comment chains, users can't remove a heart by clicking on it and instead the heart doubles.

**To Reproduce**

1. Make a comment on a test post.
2. Heart the comment and reply to your first comment with a second comment.
3. I

[2020-09-15 21:37] lisasy commented on #10336
Thank you for sharing, @ewaDev !

Your suggestions were:

I think they're great. I think the scrollbar should be visible at all times to signify that it's possible to view the overflow.

Suggestion #2 would be a cool feature: I'm reading it as if there were a button where you can expand out and see code the way you could in Github, where it takes over the entire screen.

[2020-09-15 22:16] fdoxyz commented on #10336
I think this SO could help anyone that feels like they want to tackle this issue: https://stackoverflow.com/a/1202542/3462026

As a reminder:

[code]

[2020-09-16 04:46] Amorpheuz commented on #10120
Funny stuff. It occurred again on dev.to for me: 😅
![image](https://user-images.githubusercontent.com/22113778/93293424-95349e80-f805-11ea-9654-4e503244a62b.png)
![image](https://user-images.githubusercontent.com/22113778/93293434-9b2a7f80-f805-11ea-85f6-7db36c913289.png)

[2020-09-16 05:14] citizen428 commented on #10338
This means changing a pretty common Rails idiom. Pretty much every Rails tutorial on the planet will do the following in their update action:

1. Update the actual object
2. Set a flash message
3. Redirect to the original page

Two prominent examples:

* [The Rails Guides](https://edgeguides.rubyonrails.org/getting_started.html):
[code]
* [Michael Hartl's Rails tutorial](https://3rd-edition.railst

[2020-09-16 06:18] jeansberg commented on #9734
Thank you. I have been super-busy with moving and other stuff unfortunately so I will have to leave this issue for someone else.

[2020-09-16 08:24] ludwiczakpawel commented on #10336
It is indeed intended. We intentionally don't want code snippets to wrap to the next line because that often affects readability of the code and author's intentions. That's pretty common behavior for code blocks.

But we do have some issue with code blocks rendering on desktop Safari as well as mobile browsers - long lines of code wrap to the next line and they should not. I have a PR addressing t

[2020-09-16 09:10] Link2Twenty commented on #10336
Ben did ask for a solution to this a while ago and it doesn't look like anything was implemented.

<https://dev.to/ben/safari-is-word-wrapping-the-pre-tag-creating-inappropriate-code-wrapping-a9g>

___

As Paweł says this is not that straight forward on touch devices or macs without implementing a custom scrollbar. It might be possible to add something to the design to imply scrolling is possible

[2020-09-16 09:30] Link2Twenty commented on #413
I went back and checked to see what was happening with the pull request and noticed this...

![banned user](https://user-images.githubusercontent.com/3534427/93318903-248e8180-f807-11ea-8617-ce59c19ad730.png)

I guess now we have a couple of options, look for another project we can use or fork lightense, which has an MIT licence, to bring it under the Forem umbrella and maintain it ourselves.

I g

[2020-09-16 12:11] rhymes commented on #10338
A couple of general question:

How slow is the inline cache busting?
Do we actually need the cache in those endpoints? Would it that bad if the page the user lands on is not cached? Obviously case by case.
Is there anything we can cache server side and stop using edge in there?

I understand the logic of this issue somewhat, I'm mostly wondering if the logical choice is a consequence of something

[2020-09-16 13:22] atsmith813 commented on #10338
@rhymes @citizen428 yep! I'm open to alternatives!

The TLDR is

is an ideal way to go, but that's proving far more difficult than we thought to do right now with our Openresty setup. I think we can get there at some point. The drawback to that approach that we considered is that it feels weird to see redirects in the server-side code, but the browser never sees it. It's a layer of complexity for

[2020-09-16 13:26] atsmith813 commented on #10338
To be completely honest, I don't think we lose this race condition that often as it is right now. We definitely do lose at times though, it's absolutely an issue.

In other words, I have a hard time re-creating the issue in production because it happens infrequently.

[2020-09-16 13:39] citizen428 commented on #10338
@atsmith813 Thanks for taking the time to add all this context, this makes a lot more sense to me now.

From my somewhat uninformed vantage point it seemed like documenting the circumstances under which to bust inline is about the same level of complexity for contributors as documenting the circumstances under which not to redirect, but your explanation made me rethink this a bit, especially since

[2020-09-16 14:32] maestromac commented on #9840
Hello @artis3n , sorry for the delay. The reason your feed isn't being imported is that it's missing a valid URL in the link tag. Please take a look at https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fblog.artis3nal.com%2Ffeed.xml . Once you resolve that, your feed should be coming through once again.

[2020-09-16 14:36] artis3n commented on #9840
:O well that would do it

[2020-09-16 14:50] maestromac commented on #9840
I'm closing this since it sounds like you resolved it. let me know if otherwise!

[2020-09-16 14:50] #9840 closed

[2020-09-16 15:39] Link2Twenty commented on #8990
I think this flow would work and allow animations.

### `div.highlight`
[code]

### `pre.highlight`
[code]

#### On expand
**get** `div.highlight`'s height and **set** it's height to match (to stop content jumping)
**set** `div.highlight` overflow visible
**set** `pre.highlight` overflow hidden
**calc**  `pre.highlight` distance from edges
**set** `pre.highlight`  top, right, bottom, left accordin

[2020-09-16 15:43] msarit commented on #10172
According to @citizen428's message above, this issue has been prevented with a previous code deployment. I'm closing this issue.

cc @mrloop

[2020-09-16 15:43] #10172 closed

[2020-09-16 15:44] msarit commented on #10265
@Rafi993 Absolutely! Got for it, and thank you!

[2020-09-16 16:01] Rafi993 commented on #10265
Awesome, thank you.

[2020-09-16 16:31] rhymes commented on #4523
I would say no, after all the goal of pinning is to let people reach useful information correlated to the post. If the author wants one of the replies to surface, they'd pin that too. Threads can be long, if I pin a popular comment with many responses, then the goal of pinning gets somewhat void as you're essentially pinning the whole comment area

[2020-09-16 18:59] souldzin commented on #10341
Hey! Friendly heads up that we're going to try to recreate this and put together a PR for it :wave:

[2020-09-16 19:16] michael-tharrington commented on #10341
Rock on, thanks for the notice!

[2020-09-16 19:56] michael-tharrington opened #10354 "Give users the ability to add closed captions to their videos"
**Is your feature request related to a problem? Please describe.**

Yes, users want the ability to add closed captions to their videos to make them more accessible.

**Describe the solution you'd like**

Add the option for users to upload and attach closed captions to their video posts.

**Describe alternatives you've considered**

If we added an automatic transcription service as @rhymes describe

[2020-09-16 21:02] #10336 closed

[2020-09-16 21:22] brandonleboeuf opened #10356 "Forem.dev: Load error while creating a new account"
## New Account Creation error ##
When signing up for a new account on Forem.dev, content would not fully load and I was unable to properly select the initial settings for my account. The problem persisted even after a page refresh.

The checkboxes for User Agreement and Terms of Use would not display and were not accessible through the tab key either.

The subsequent pages also had a problem fully

[2020-09-16 21:43] michael-tharrington opened #10358 "User can't remove empty series from dashboard view"
**Describe the bug**

When a user views series from their dashboard (i.e. https://dev.to/yourusername/series) they're able to see "0 Part Series" for posts that they've drafted in a series but perhaps deleted for some reason along the way.

There's no way to delete the 0 part series and it doesn't seem like these should exist here in the first place.

**To Reproduce**

1. Create 2 posts under the

[2020-09-16 21:55] rhymes commented on #10358
Hi! I think this is a duplicate of https://github.com/forem/forem/issues/9658

[2020-09-16 21:56] rhymes commented on #9658
@beeman are you still working on this? Let us know, thanks!

[2020-09-17 02:39] nickytonline opened #10360 "Improve linting rules for frontend codebase in regards to console statements"
**Is your feature request related to a problem? Please describe.**

For context, see https://github.com/forem/forem/pull/10136#discussion_r489612418 . Basically there is almost never a scenario where we want console statements in the codebase, so the proposal is to make them lint errors instead of warnings. If there is a valid use case, they could be disabled on a case per case basis.

**Describe

[2020-09-17 05:08] NomanGul commented on #4230
any update on this?

[2020-09-17 05:12] jean commented on #4901
The top banner is still taking up space, but the bottom widgets to move to the left margin, so that is an improvement.

[2020-09-17 05:54] ludwiczakpawel commented on #4901
You can turn off "sticky header" in [](https://dev.to/settings/ux) .

[2020-09-17 13:34] TsekNet opened #10363 "Changing Capitalization of Username Breaks Post URLs"
**Describe the bug**

From https://dev.to/settings, if you modify the capitalization of your username, your post URLs (dev.to/username) will break.

I noticed one of two things:

1. [This post](https://dev.to/tseknet/get-started-with-jekyll-github-and-netlify-3and) showed me an offline page, instead of the post.
1. [This post](https://dev.to/tseknet/be-intentional-with-your-time-1ohk) (posted toda

[2020-09-17 13:47] rhymes commented on #10363
Thanks for the report @TsekNet. Yes, usernames are not case insensitive so `AbC` is not `abc`.

I guess this is related to https://github.com/forem/forem/issues/9258

[2020-09-17 13:53] paulopacitti commented on #9061
It has been already solved, this issue can be closed

[2020-09-17 14:00] TsekNet commented on #10363
It's related to the #9258, in that it's an issue with changing the username.

I'll note the bug described here aims to address post links being broken, not duplicate profile URLs (which I'll leave up to you if that's WAI).

[2020-09-17 14:09] rhymes commented on #9061
Thanks @paulopacitti!

[2020-09-17 14:09] #9061 closed

[2020-09-17 16:43] michael-tharrington commented on #10358
You're absolutely right. Sorry for missing this. I'll close this issue in favor of @beeman's.

[2020-09-17 16:43] #10358 closed

[2020-09-17 21:33] michael-tharrington opened #10373 "Publicly indicate if someone edits their comments"
**Is your feature request related to a problem? Please describe.**

Yes, this is important for preventing gaslighting. I.e. It's helpful to stop situations where User A says something, then User B responds, User A modifies their comment so that User B’s response doesn’t make sense. (Not a great explanation, but sums it up well enough!)

**Describe the solution you'd like**

If someone edits their

[2020-09-17 21:33] benhalpern commented on #8990
@Link2Twenty Good thought!

[2020-09-18 05:26] timbogdanov commented on #7878
@rhymes How does that make any sense though?
Can we not make requests to the authenticated endpoints? what is the point of the api-key?

[2020-09-18 05:34] narender2031 commented on #9502
This issue wad closed in #9804

[2020-09-18 05:41] narender2031 commented on #9336
@5t3ph Thanks for the feedback. I will take look at this.

[2020-09-18 05:45] #9502 closed

[2020-09-18 05:48] timbogdanov opened #10374 "Dev.to API not updating on request"
**Describe the bug**

Recently I started playing around the the Dev.to api. After creating a few posts I decided to edit one of them. I went in and changed the cover image. Going back to my portfolio where the api is fetched I noticed the the cover image did not reflect the newly updated one.

### Fetching the post I get the old not-updated json object

[code]

But when visiting the link `https://

[2020-09-18 06:17] KarenEfereyan commented on #10373
@rhymes this is up for grabs then? I am a new contributor to forem. My windows build is 1903 so I am looking at other ways to get my development environment set up. I would love to take on this issue.

[2020-09-18 06:59] lightalloy commented on #4230
As far as I know, there are no plans to implement it right now. Maybe, @benhalpern @jessleenyc have other information.

[2020-09-18 07:08] rhymes commented on #10374
Hi @timbogdanov - I'm not sure I understood correctly: the Axios call returns cached data but if you visit manually the URL then it works? Could it be Axios that's caching data?

[2020-09-18 08:03] rhymes commented on #10373
Hi @KarenEfereyan, welcome to Forem! I don't have experience on setting the code up in Windows but @maestromac could probably give you pointers in addition to what's written in the installation docs if you get stuck

I think we do need this feature as well, as mentioned by @michael-tharrington  :-)

On the technical side:

Comments have a `edited_at` column which indicates if the comment has been

[2020-09-18 09:30] citizen428 commented on #10373
@KarenEfereyan If you would like to tackle this issue without setting up your dev environment first, give GitPod a try:

https://docs.dev.to/installation/gitpod/

I'll assign you this issue now since you expressed interest, thanks for volunteering! 😃

[2020-09-18 13:50] fdoxyz commented on #9809
The problem was caused by all autofill providers during signin. The fix was shipped in the latest release `1.4.2`

[2020-09-18 13:50] #9809 closed

[2020-09-18 14:29] fdoxyz opened #10379 "GIFs don't render in iOS 14 & iPadOS 14"
**Describe the bug**

A regression in WebKit causes our GIFs to not render. An important note is that this only happens to GIFs that are actually encoded as mp4 in Safari or webp in Chrome (the GIFs we process are encoded this way for performance).

It's confirmed by the WebKit team as a regression and the fix shipped to Safari 14 for macOS but not on iOS/iPadOS 14

**To Reproduce**

Follow [this

[2020-09-18 15:16] Link2Twenty commented on #8990
Here's a PoC

[code]

It needs a bit more thought than this but this is just a quick console hack that will show the effect I was going for.

![forem__snippet--expand-hack](https://user-images.githubusercontent.com/3534427/93614589-3ff5ba00-f9ca-11ea-9040-bbc3b5d9e1b3.gif)

[2020-09-18 15:18] michael-tharrington commented on #10373
Hey @KarenEfereyan, thanks for being so quick to take this on. I'm really siked we're getting this in place!

Quick question — will the solution only affect newly edited comments or all previous comments too?

I think either way would be acceptable. But, if I could pick between the two, I think it'd be best if it affected previous comments too.

[2020-09-18 17:30] timbogdanov commented on #10374
Ok, so currently I have 3 published posts. when I fetch them with axios it only returns 2.

[2020-09-18 17:52] trickstival opened #10380 "Sync Edit and Preview Scrollbars when editing a blogpost"
**Is your feature request related to a problem? Please describe.**

Yes. It is a little bit annoying when I'm writing a blogpost and I want to see my markdown rendered.
I always have to scroll down to the place I was editing every time I switch from the `Edit` to the `Preview` tab.

**Describe the solution you'd like**

It would be really cool if I could split the page between both of them, so I c

[2020-09-18 21:28] #5111 closed

[2020-09-18 22:23] KarenEfereyan commented on #10373
Im not sure how itll work out. Im still setting up my environment. I should be done with this tomorrow

[2020-09-19 05:08] roeniss opened #10385 "I can't see footer of dev.to"
**Describe the bug**

Due to infinite scroll UI on [main page](https://dev.to), I cannot touch footer until I manually disable my network.

**To Reproduce**

Scroll down on main page. you will always meet new posts instead of bottom fotter.

**Expected behavior**

Actually this is almost UI issue. AFAIN, most website, like facebook, doesn't put their information on bottom. I'm currently not sure w

[2020-09-19 05:14] roeniss opened #10386 "Slack notification like current weekly mailing services"
**Origin**

One of my favorite IT news source is [GeekNews](https://news.hada.io/weekly). It supports [weekly mailing](https://news.hada.io/weekly) and also [slack bot](https://news.hada.io/slackbot). This slack bot almost same contents with mail's. But more accessible to who uses slack so much time, as you can imagine.

**Describe the solution you'd like**

Add 'slack bot' feature. It would send

[2020-09-19 11:09] KarenEfereyan commented on #10373
![forem](https://user-images.githubusercontent.com/56835876/93665720-bbaa4200-fa70-11ea-947a-cb97c5612fff.PNG)

@rhymes @michael-tharrington  @citizen428 , yesterday wasn't the best for me. I wasted close to 3gb trying to update my windows following the links for the windows installation in the docs. I was unsuccessful.  I have however been able to successfully set up my dev environment using gitp

[2020-09-19 13:51] KarenEfereyan commented on #10373
I'm thinking that the edit btn should be beside the preview and reply button, right? Like this....
![editbtn](https://user-images.githubusercontent.com/56835876/93668868-79402f80-fa87-11ea-910d-ce6beab48cbc.PNG)

[2020-09-19 15:12] afairlie commented on #10356
Hey!

Just wanted to echo that I'm getting this error also. I'm not able to access the account I just made because the Continue button is disabled (I can't see checkboxes when I navigate to Terms and Conditions and Code of Conduct), and I keep getting redirected to the the first screenshot dialogue box when I try to refresh or login again. I reproduced this behaviour in another browser, as well.

[2020-09-19 15:46] afairlie commented on #9734
Hi,

I'm planning to participate in hacktoberfest and I'd like to make my first contribution to Forem. I was having trouble with issue #10356, so I offered to help with that, but I'm waiting to hear if I will be permitted to work on it/if it's a reasonable first issue. If it's not too much work I'd be happy to work on both issues (this one and the other mentioned), or I'd be happy just to work on

[2020-09-19 16:40] brandonleboeuf commented on #10356
Using developer tools, the first issue can be corrected  by setting the <input> CSS properties to:

- border: var(--border-width) solid black;

- -webkit-apperance: button;

<img width="1251" alt="visible_checkbox" src="https://user-images.githubusercontent.com/54607186/93671890-9101be80-fa5b-11ea-9b73-41543a51c397.png">
<img width="1251" alt="visible_box check" src="https://user-images.githubuser

[2020-09-19 17:23] fdoxyz commented on #10379
Update: The fix appears to have landed in iOS 14 latest beta track

[2020-09-19 19:36] marko-hologram commented on #5091
Is there any progress or ETA on this part about hidden comments?

I think it is really important to indicate hidden comments in some way because authors can decide to hide comments that might not agree with their point of view and show a discussion that is one sided and not really truthful and realistic.

I don't want to give specific examples, but I've been involved in a thread where author was h

[2020-09-19 20:22] twinsfan421 commented on #10380
I can work on this

[2020-09-20 04:15] josepplloo commented on #9997
hi! 👋 folks If this is available, can I work on it?

[2020-09-20 13:56] saurav9005 opened #10399 "Browser Responsive Issue"
The responsive of the website/blog is the resolution of 1280 X 1028 looks messed up.
![unnamed](https://user-images.githubusercontent.com/8655462/93713032-71d06300-fb27-11ea-9b33-7352d08e17ed.png)

[2020-09-20 14:33] fdoxyz commented on #10380
Thanks @twinsfan421. Are you looking into making the sync of the scrollbars work? I think this is a great enhancement that would greatly benefit the publishing experience. Do you have an idea in mind to how to make this work?

The split screen option for the editor is something we haven't had a chance to work on from the design perspective though. As the team will be a little [slower to respond th

[2020-09-20 21:45] twinsfan421 commented on #10380
Hello @fdoxyz.  I am open to syncing the scrollbars or the split screen option.  No worries on the slower response next week.  I can wait to hear back on what option/design you would prefer before I take a deeper look. Thanks

[2020-09-21 02:55] citizen428 commented on #10373
Thanks for your effort @KarenEfereyan and sorry this isn't a smooth process for you.

Could you elaborate a bit on what went wrong? Is there something we should update in our docs?

It's basically VSCode in the Cloud. Gitpod itself has good [documentation](https://www.gitpod.io/docs/).

That's where it already is when a user edits their own comment:

<img width="819" alt="Screen Shot 2020-09-21 at

[2020-09-21 03:43] citizen428 commented on #10385
Thanks for the report @roeniss! This seems to be a duplicate of #9034, can you please add a comment there and close this issue?

[2020-09-21 04:19] roeniss commented on #10385
of course!

[2020-09-21 04:19] #10385 closed

[2020-09-21 05:22] KVanSant commented on #10286
Hi! I was able to reproduce the issue in Safari 12.1 on macOS Mojave. The issue appears to have to do with position: sticky not being applied to the class "crayons-article-actions".

<img width="1267" alt="Screen Shot 2020-09-20 at 10 00 10 PM" src="https://user-images.githubusercontent.com/10014693/93734256-57c96b80-fb8d-11ea-8722-c206b52321ae.png">

I was able to fix in the dev tools using `posi

[2020-09-21 07:39] ludwiczakpawel commented on #10399
@saurav9005 Hey, can you give me a bit more details about what device are you using, browser and version?

[2020-09-21 07:58] ludwiczakpawel commented on #10334
Hey, I've picked slightly different value for that color (`rgba(0,0,0,0.1)`) so it should look a bit softer than the current version. Expect a PR in few mins.

[2020-09-21 08:05] ludwiczakpawel commented on #10286
@KVanSant that analysis was very helpful, thanks! I'll add that prefix in.

---

@nickytonline Does this have anything potentially in common with recent changes to autoprefixer? Is this something we can address to be handled automatically?

[2020-09-21 08:14] #10164 closed

[2020-09-21 08:20] ludwiczakpawel commented on #9997
@josepplloo or @AdekunleA - Do either of you have any ideas on how this could look like?

@josepplloo I wanna be sure we have some good-enough design in place before assigning anyone.

[2020-09-21 08:36] ludwiczakpawel commented on #9684
It's the same issue as #10114 so I'm closing this one.

[2020-09-21 08:39] ludwiczakpawel commented on #9607
Since it's been inactive for a while I think I'll close it, especially we don't have designs for this and there are things we haven't really thought-through as much as we should, for example:

- how would it look like?
- on mobile, there's already native interaction for going back to top (at least iOS)
- there's a potential UI conflict with other "floating" elements like Mod button (bottom right c

[2020-09-21 08:39] #9607 closed

[2020-09-21 08:52] ludwiczakpawel commented on #9424
@8bithemant can you give us a source (markdown?) for this part of your post? Maybe including that whole list under "Commiting"

[2020-09-21 08:55] #8969 closed

[2020-09-21 08:56] #8886 closed

[2020-09-21 08:57] #8777 closed

[2020-09-21 08:59] ludwiczakpawel commented on #8767
Should be fixed now, I think.

[2020-09-21 08:59] #8767 closed

[2020-09-21 09:00] ludwiczakpawel commented on #8741
Should be fixed now.

[2020-09-21 09:00] #8741 closed

[2020-09-21 09:01] ludwiczakpawel commented on #8681
I think we can close it now, since we now have "full-height"  editor now. Let me know if I'm wrong.

[2020-09-21 09:01] #8681 closed

[2020-09-21 09:03] #8101 closed

[2020-09-21 09:04] ludwiczakpawel commented on #7903
Hello sir, this should be fixed now.

[2020-09-21 09:04] #7903 closed

[2020-09-21 09:06] #6616 closed

[2020-09-21 09:10] ludwiczakpawel commented on #6587
I don't think we are ready and convinced to implement another font fact like this. Adding new font face to the system is always a perf issue because these are additional bytes that user must download. And the benefit of this font is relatively small compared to our current sans-serif solution.

[2020-09-21 09:10] #6587 closed

[2020-09-21 09:12] #2144 closed

[2020-09-21 09:13] #5542 closed

[2020-09-21 12:29] samfieldscc opened #10402 "Support for dotnetfiddle.net"
**Is your feature request related to a problem? Please describe.**

As a writer that blogs mainly about .NET and C#, I would like to be able to embed dotnetfiddle.net in my posts.

It might be a frustrating experience for users to exit the post to check or run code examples.

I would ask to expand the support that already exists for jsfiddle.net to include dotnetfiddle.net and maybe even other lan

[2020-09-21 13:59] afairlie commented on #10356
thanks @brandonleboeuf !

[2020-09-21 14:45] mityaua opened #10404 "Auto dark mode in app"
Hi Devs! What about auto dark mode in your app (android)?
This will be very convenient, because a lot of users have to switch manually every evening and morning.

![Auto dark mode](https://i.ibb.co/Xjr7zd8/photo-2020-09-21-17-42-46.jpg)

[2020-09-21 15:08] ApoorvTyagi opened #10407 "Adding Web Monetization payment pointer doesn't work"
BUG report - After adding my web monetization payment pointer for my blog inside settings/misc, when i check the page source code it shows me a different payment pointer there

I checked visiting other blog as well, they all have the same payment pointer, it seems like everywhere there is a fixed same payment pointer👇
![image](https://user-images.githubusercontent.com/39600765/93784160-44c8a100-fc

[2020-09-21 15:32] ludwiczakpawel opened #10408 "Serving weird version of crayons.css"
## Describe the bug

On some sites using Forem as engine, particular views are being broken. For example, look at

1. https://forem.dev/onboarding - this is broken view 🚨
2. https://dev.to/onboarding - this is **not** broken ok ✅
3. https://thismmalife.com/onboarding - this is **not** broken as well ✅

The reason why it's broken is because crayons.css file (one file with styles for our design syst

[2020-09-21 15:40] saurav9005 commented on #10399
I was in the work when I opened it in* Windows 7 in the chrome browser with
the resolution of 1280 X 1024.*

thanks

On Mon, Sep 21, 2020 at 3:39 AM ludwiczakpawel <notifications@github.com>
wrote:

--

[image: seobeetree] <http://www.seobeetree.com/>

Saurav Karki
 9293021284

seobeetree
Erie, PA
www.seobeetree.com

[image: Facebook] <https://www.facebook.com/chhertrikochoro> [image:
Twitter] <ht

[2020-09-21 16:27] fdoxyz commented on #10380
Until we have a design/product decision in place for a split view I think the alternative solution (which is actually the title of the issue) is a great option as it would be a very useful enhancement of the current experience. This would mean syncing the scroll in both tabs.

As originally mentioned, it is tricky to implement because the Preview tab has rendered content. The current offset of the

[2020-09-21 16:31] samfieldscc opened #10410 "Empty gist embed returns cryptic error for users when trying to save changes"
**Describe the bug**

When a user tries to save changes in a post with the following:

{% gist %}

The following message is presented:

Whoops, something went wrong:
* base: undefined method `delete' for nil:NilClass

**To Reproduce**

1. Create a new post
2. Add the following text in the post: {% gist %}
3. Try to save changes or preview the post
4. Error message is displayed

**Expected behavior

[2020-09-21 17:04] roeniss commented on #9034
so this is being hold, right?

for later visitors, I'll sum up above debates.

Problem : User can't see footer on main page because infinite scroll feature keeps bringing older contents in.

Solutions until now :

1) add 'show footer' button to toggle or disable infinite scroll feature.

2) add 'load more' button instead of voluntary infinite scrolling.

3) move footer's contents to other position

[2020-09-21 17:34] timbogdanov commented on #10374
This looks to be an age constraint on the backend, closing issue

[2020-09-21 17:34] #10374 closed

[2020-09-22 02:14] KVanSant opened #10414 "Squished Sloth footer image on forem.dev"
I'm not sure if this is the right place to report a bug for forem.dev...but here we are.

**Describe the bug**

The sloth image within the footer of forem.dev is squished. The image appears to have a specific size set of width: 52 and height: 120 however the image being used is a square and is being squished to fit within the fixed size.

<img width="1372" alt="Screen Shot 2020-09-21 at 6 43 13 PM

[2020-09-22 04:10] citizen428 commented on #10407
The value you see here is `SiteConfig.payment_pointer`, which is indeed a site-wide setting. There is also a `payment_pointer` column on user, which gets rendered by the `app/views/shared/_payment_pointer.html.erb` partial in 3 places:

1. The user's profile page
2. Any articles written by the user
3. Any comments written by the user

The id of the correspoinding div is `author-payment-pointer`:

[2020-09-22 04:15] citizen428 commented on #10414
@KVanSant Thanks for the report, this is indeed the right place 😃 I could have sworn this is a duplicate, but I can't find another issue right now, so maybe it just popped up in our Slack.

[2020-09-22 04:24] citizen428 commented on #10410
Thanks for the report @samfieldscc. Some of our Liquid tags certainly could do with more descriptive error messages 😅

[2020-09-22 05:04] beeman commented on #9658
@rhymes I started on it but got distracted. Happy for someone else to pick it up.

If I decide to look at it again, I'll post a message here first.

[2020-09-22 07:41] ludwiczakpawel commented on #10404
Hey, this will definitely come, sooner or later! We still have to do some other frontend-infra related things to make it smooth process. The idea is to have default theme with light and dark skin. Appropriate skin will be used based on system preferences but it could be overwritten by user settings as well.

I'm removing label `area: for Android` since this is more global thing. I also let myself

[2020-09-22 07:43] ludwiczakpawel commented on #10399
1. Try to refresh the page.
2. Could you send me the URL of that particular blog post? Also, does it happen on every blog post or only this one?
3. Can you see other pages being broken too?
4. Which version of Chrome browser do you have?

[2020-09-22 08:34] citizen428 commented on #9658
I unassigned you now @beeman, thanks for giving it a shot 😃

[2020-09-22 08:35] ApoorvTyagi commented on #10407
Yes, i checked my payment pointer is there in div id="author-payment-pointer"

Thanks.

[2020-09-22 08:35] #10407 closed

[2020-09-22 09:03] Link2Twenty commented on #10414
@citizen428 I had a post up about it on forem.dev, though it seems to have vanished.

[2020-09-22 09:07] Pobb commented on #8425
What is the "cache" strategy behind this value ? I know that "cache" will improve performance, but can we get info about time execution of this request ? Even if we don't need real time for this value, we need the "correct" value. In case of strategy maybe we can look to another way (async ? update cache less randomly ? etc.)

Random here is not working, I made a script that curl 100 times on my d

[2020-09-22 09:38] Link2Twenty commented on #10373
I think in terms of a quick design something like this should work

![edited label](https://user-images.githubusercontent.com/3534427/93865661-85fa9880-fcbe-11ea-8a26-1fa6a9abb400.png)

Which would be a change to this code

https://github.com/forem/forem/blob/4e591fea1c8e062176fb79b1ed5546fa947fee1f/app/views/comments/_comment_date.erb#L1-L7

___

Something like this, though this is not tested it'

[2020-09-22 10:14] Link2Twenty commented on #10404
We'd use [prefers-color-scheme](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme) I guess. It has good support but is still in `Editor's Draft`.

[2020-09-22 11:47] citizen428 commented on #10414
Thanks @Link2Twenty, much appreciated 😃

[2020-09-22 11:55] #10286 closed

[2020-09-22 11:59] KarenEfereyan commented on #10373
@Link2Twenty thank you. I'm guessing this syntax is jekyll? I'm really new to it. Yes i think that design works, or maybe like was pointed out by the person who raised this, issue, the word edited, in small case in a bracket? I think any works fine by the way. How will I be able to test my changes though? Since I am using gitpod

[2020-09-22 12:28] AdekunleA commented on #9997
Hello @josepplloo  what are your thoughts?

[2020-09-22 12:44] Link2Twenty commented on #10373
The syntax is Ruby's [templating language](https://docs.ruby-lang.org/en/master/ERB.html) but basically is HTML with a little bit of Ruby sprinkled in.

Yeah that can work, the example they gave is how an edited message looks in the messaging area of Forem (called connect)

I'm not actually sure where the test data come from, I guess we'd have to change the test data to include some edited comment

[2020-09-22 13:06] #10334 closed

[2020-09-22 13:26] Link2Twenty commented on #10373
OK, I've done a little digging. In the console at the bottom of GitPod you can type the following (press return after each line).

[code]

This will update every comment to say it was updated just then.

[2020-09-22 13:57] #10408 closed

[2020-09-22 13:57] fdoxyz commented on #10356
Thank you offering your help here @afairlie. I think this issue goes hand in hand with #10408 because the styles aren't being built/served correctly in other forems, like forem.dev.

At the moment this is being tackled from the systems side as it would be fixed by building/serving the assets properly.

[2020-09-22 15:34] KarenEfereyan commented on #10373
@Link2Twenty that's a lot but let me try it out right now

[2020-09-22 15:41] Link2Twenty commented on #10373
To get out of the select list you have to press the `q` key

[2020-09-22 15:42] Link2Twenty commented on #10373
![Forem__edit-cells](https://user-images.githubusercontent.com/3534427/93905217-9d537900-fcf2-11ea-8faf-cee75a4b64a5.gif)

[2020-09-22 15:56] Jabone1 opened #10418 "Dev.to API not updating cached response in company blog"
I’m currently using the dev.to API to manage my company’s blog. We are using the API to pull in all articles written by user. However, we are running into an issue with the API where new articles are not being pulled in to my company’s blog as they are published on dev.to.

When we check the API response, it contains the newly published articles. However, somehow an older snapshot of available art

[2020-09-22 16:03] josepplloo commented on #9997
I was thinking about: depending on what category you choose, it should display only the detail for that category.

eg. by default we can show `Contributors/Collaborators Wanted:` and only its rule below `Projects looking for volunteers. Not job listings.`, with a proper font style, and so on for each category.

![image](https://user-images.githubusercontent.com/1114740/93906844-4df55480-fcc2-11ea-

[2020-09-22 16:11] KarenEfereyan commented on #10373
@Link2Twenty Im thinking that video is for me. It's a little too fast. Here is a screenshot showing what I have currently. What i'm confused about is how to test those changes and see the edit button
![forem2](https://user-images.githubusercontent.com/56835876/93908497-975f9700-fcf6-11ea-94f6-90fc9da6bebc.png)

[2020-09-22 16:12] KarenEfereyan commented on #10373
@Link2Twenty im starting to get the essence of the video. Could you make another one and be a little slower. Using your mouse to highlight each step of the way? Please?

[2020-09-22 17:00] brandonleboeuf commented on #10408
I am still having this issue on the Forem.dev "Create Account" page
<img width="503" alt="Screen Shot 2020-09-22 at 9 57 34 AM" src="https://user-images.githubusercontent.com/54607186/93913730-56e22800-fcba-11ea-9711-37c628e91f29.png">

[2020-09-22 18:56] volanar opened #10420 "Integration of a ready-made messenger to improve the user experience"
**Origin**

Messengers play an important role for community building software.
The chat solution to give end-users a fun, powerful way to interact and engage with viewers in real-time on community.

What should be the messenger for building communities?
1. Independent of the forem code to improve reliability.
2. Highly scalable.
3. Support for E2E encryption.
4. Support video conferencing.
5. Open

[2020-09-22 21:47] #10200 closed

[2020-09-22 22:06] DanielRosenwasser opened #10421 "String of tildes (`~`) is parsed incorrectly in code fence without language."
**Describe the bug**

I had the following markdown in a blog post

[code]

This bungles up the preview of the post.

______

**To Reproduce**

1. Create a new blog post
1. Insert the above content.

_______

**Expected behavior**

`~~~~~~~~~` shouldn't split the code fence in a weird way.

_____

**Desktop (please complete the following information):**

- OS, version: Windows
- Browser, version: F

[2020-09-22 22:07] DanielRosenwasser commented on #10421
For what it's worth, the above markdown parses just fine in GitHub:

_____

You may get an error like the following:

[code]

This is because `resolve` no longer has an optional parameter, so by default, it must now be passed a value.

[2020-09-23 03:13] Rafi993 commented on #10410
Hello there, If this up for taking I can help with this.

[2020-09-23 04:56] ShubhankarKG commented on #10402
Hey @citizen428, I'm relatively new here. Could you point me in the right direction so that I could start working on this? Thanks :pray:

[2020-09-23 07:02] citizen428 commented on #10373
@Link2Twenty Thanks for helping out here. I'm not sure if there's real value in adding an edited comment to the seeds, if I need something like that I usually do it with my own local user (create a commend and edit it in this case). At least you exactly which comment will be the updated one.

@KarenEfereyan Doing this through a SQL console can be a bit intimidating if you have never done it before

[2020-09-23 07:12] citizen428 commented on #10402
Hi @ShubhankarKG, thanks for expressing interest in helping out, I will assign you this issue.

Some pointers:

1. Liquid tags are defined in `app/liquid_tags` and their corresponding specs in `spec/liquid_tag`.
2. All Liquid tags inherit from `LiquidTagBase`, which is defined in `app/liquid_tags/liquid_tag_base.rb` if you want to have a look at it.
3. The view of a Liquid tag can be found in a Ra

[2020-09-23 07:43] ludwiczakpawel commented on #10408
@brandonleboeuf can you double check and clear your cache? It looks fine on my end.

[2020-09-23 07:44] ludwiczakpawel commented on #10356
It should be now fixed.

[2020-09-23 07:44] #10356 closed

[2020-09-23 07:46] ludwiczakpawel commented on #9034
@roeniss everything you mentioned above is correct! Thanks for summary. We will get back to this when we have better solution in house and more resources :)

[2020-09-23 07:57] citizen428 commented on #10410
It's all yours @Rafi993, thanks!

[2020-09-23 07:58] Rafi993 commented on #10410
Thank you @citizen428

[2020-09-23 08:07] Link2Twenty commented on #10373
@citizen428 That's a much better way to do it 😊

@KarenEfereyan In your screen shot it looks like you did everything right, you just need to load the preview.

Press the preview button.

![Preview button](https://user-images.githubusercontent.com/3534427/93984551-db48af80-fd7b-11ea-8ddf-c7f873746a39.png)

Then if you would rather have the preview in a new tab press the pop out button

![Pop out bu

[2020-09-23 09:12] Link2Twenty commented on #10402
It's worth noting since I built the tag it's become standard practice to build the iFrame in a `html.erb` view.

@mariocsee's PR for [updating the JSFiddle](https://github.com/forem/forem/pull/2746) tag can show a path for using `ActionController`

[2020-09-23 10:46] Link2Twenty commented on #10421
How interesting **~~~** behaves exactly the same as **```** causing the parser to think you're closing the code block.

[2020-09-23 11:33] ludwiczakpawel commented on #10380
Split screen will be definitely huuuuuge project - not sure if we're willing/ready to work through it right now, even from design perspective... And i don't necessarily think it's an ideal solution because that kinda is "power-user" thingy - I don't expect my mothers and fathers of this world to understand why the heck they can see two panels with their post.. And I'm pointing this out because we'

[2020-09-23 11:56] KarenEfereyan commented on #10373
@citizen428  and @Link2Twenty let me try that now. I'm sorry if i caused any inconveniences, Just really trying to learn

[2020-09-23 12:06] KarenEfereyan commented on #10373
I don't seem to have the preview button. Just the outline and the github button @Link2Twenty and @citizen428
![nopreview](https://user-images.githubusercontent.com/56835876/94010247-959cde80-fd9d-11ea-8476-53c760e0b97b.png)

[2020-09-23 12:07] Link2Twenty commented on #10373
@KarenEfereyan you have nothing to be sorry for, if people hadn't been patient with me when I started out I'd still know nothing now 😊

[2020-09-23 12:07] Link2Twenty commented on #10373
It's still loading give it a few moments

[2020-09-23 12:15] KarenEfereyan commented on #10373
that made me feel much better. I don't think its still loading though. The workspace's been open for the past 10mins

[2020-09-23 12:20] Link2Twenty commented on #10373
What does this bit say now?

![image](https://user-images.githubusercontent.com/3534427/94011634-946cb100-fd9f-11ea-9ab2-d03025197f34.png)

[2020-09-23 13:52] Pobb commented on #8425
I got a "new" problem with this feature : I got 3 articles on my dashboard from a long time now. I share one of the three on social network, just one of them.

My dashboard was updated today, but the wrong articles get "50" more clics. It's not possible at all. Have you got an idea about this feature @rhymes ?

[2020-09-23 14:23] brandonleboeuf commented on #10408
@ludwiczakpawel

Confirmed!
After clearing my cache, all looks good

<img width="1151" alt="Screen Shot 2020-09-23 at 7 20 43 AM" src="https://user-images.githubusercontent.com/54607186/94025669-9e75bc00-fd6d-11ea-9297-9c446648eb3d.png">

[2020-09-23 15:35] citizen428 commented on #10402
Yes, that was the second point in my list above. I should probably have linked the follow up PR too, thanks for adding it!

[2020-09-23 15:42] KarenEfereyan commented on #10373
I don't understand this. But up till now, I do not see a preview button.  I don't know why that is

[2020-09-23 16:38] ApoorvTyagi opened #10425 "Can't Update my twitter account link"
I changed my twitter account but can' update on my dev profile. It has feature to add links to various sites except twitter
![image](https://user-images.githubusercontent.com/39600765/94042489-48def500-fde9-11ea-8e37-314e2b7b087f.png)

[2020-09-23 18:08] fdoxyz commented on #10425
Hi @ApoorvTyagi, if you changed your twitter username you can logout from DEV and login again using your same twitter account. This should update your Twitter link on your profile page.

If you have an entirely new Twitter account that you want to migrate or the suggestion above doesn't fix your problem I would recommend you send an email to yo@dev.to for us to help with your situation.

[2020-09-23 18:08] #10425 closed

[2020-09-24 03:15] citizen428 commented on #10421
@Link2Twenty This behavior is part of the CommonMark specification, section 4.5:

[2020-09-24 05:42] pavi2410 opened #10427 "Glitch liquid tag does not support ids with ~ in them"
**Describe the bug**

Glitch liquid tag does not support ids with `~` in them

**To Reproduce**

1. Create a new post
2. Write the following
[code]
3. At the top, there will be an error message

**Expected behavior**

The glitch id containing `~` (tilde) should render correctly

**Screenshots**

**Desktop (please complete the following information):**

- OS, version: Windows 10 2004
- Browser, ver

[2020-09-24 08:17] Link2Twenty commented on #10421
So it's this next line that we're doing wrong

[2020-09-24 09:20] Link2Twenty commented on #10373
Ok let's go through it.

Click this link <https://gitpod.io/#https://github.com/forem/forem>.
It will take a few minutes to load but then you'll see what looks like VSCode (do you use VSCode normally?)

You see when it first loads I don't have the preview button but that's because it's still loading.

![waiting](https://user-images.githubusercontent.com/3534427/94125716-a194a900-fe4e-11ea-8a64-6f8

[2020-09-24 10:05] Link2Twenty commented on #10427
Yep, there is a regex that doesn't allow anything other than letters, numbers or hyphens.

https://github.com/forem/forem/blob/5eda086e782ef65d5fc14811de57a0efa90909ba/app/liquid_tags/glitch_tag.rb#L5

[2020-09-24 12:00] KarenEfereyan commented on #10373
Trust me @Link2Twenty I saw all these steps. Except the preview button. Do you think that by any chance possible, we could have a zoom or google meet call and I could actually share my screen and you could explain to me better? If that would be at all possible, do let me know. I could whip up a meeting in less than a minute

[2020-09-24 12:21] KarenEfereyan commented on #10373
@Link2Twenty never mind. I've gotten the preview button. I am guessing the network was pretty bad earlier.
![Uploading newpreview.png…]()

[2020-09-24 12:21] KarenEfereyan commented on #10373
Now, let's see if I can get this to work

[2020-09-24 12:22] KarenEfereyan commented on #10373
@Link2Twenty i've gotten the preview button. Seems the network was bad earlier.
![newpreview](https://user-images.githubusercontent.com/56835876/94144413-ff35ef00-fe68-11ea-9280-6cee3eb23571.png)
Let's see if I can get this to work

[2020-09-24 12:31] KarenEfereyan commented on #10373
@Link2Twenty I'm trying to go over the steps again.
Step 1 : I've updated the _comment_date.erb file to look like the test code you sent me above. And i've run the psql practical dev command in the terminal. Here is how it looks
![new1](https://user-images.githubusercontent.com/56835876/94145332-4a9ccd00-fe6a-11ea-99b0-8b3ffdfba12e.png)

[2020-09-24 12:35] KarenEfereyan commented on #10373
I ran this command, select id, LEFT(processed_html, 30) as processed_html, edited_at from comments order by id;
![new2](https://user-images.githubusercontent.com/56835876/94145624-bf700700-fe6a-11ea-8ae9-6ee982f8bb3c.png)
 which then shows me the list of all available comments like this...

[2020-09-24 12:42] KarenEfereyan commented on #10373
![new3](https://user-images.githubusercontent.com/56835876/94146351-b469a680-fe6b-11ea-8cef-39c5e0efff15.png)
When I try to update the comments with these Id's , using this command, update comments set edited_at = current_timestamp where id in (1,3,5);
I get this error

[2020-09-24 12:44] Link2Twenty commented on #10373
Yep so you don't need to log in to the preview, just find a comment you want to appear as though it's edited.

So if you click the first post you see with comments.
For me that's "Little Hands Clapping Saepe quia".

Scroll down to the comment and you see it says "Synth post-ironic chicharrones tote bag whatever marfa selvage actually. Sustainable vhs forage goth letterpress kogi mustache."

It loo

[2020-09-24 12:47] KarenEfereyan commented on #10373
Oh okay. I get it now. I'll do it right now. That :q was my problem. I was figuring out  a way to quit that list. Give me a minute. Let me try that

[2020-09-24 12:57] KarenEfereyan commented on #10373
I thought the articles showing up in the preview should be synonymous to the description is the list of articles on the left. The other time the article with the title 'Synth ... something' corresponded with the id of 5. But ive tried refreshing the preview up to three times but I can't find any article in the preview similar to the one in the list.
![new4](https://user-images.githubusercontent.co

[2020-09-24 12:59] Link2Twenty commented on #10373
We're looking for comments not articles so click on an article with the comment icon like this:
![image](https://user-images.githubusercontent.com/3534427/94148124-1f1be180-fe6e-11ea-93be-e3416996dd45.png)
Scroll down to the comments section and you'll be able to find them in that list.

[2020-09-24 13:04] KarenEfereyan commented on #10373
Oh okay. See this
![new4](https://user-images.githubusercontent.com/56835876/94148526-a2d5ce00-fe6e-11ea-8f22-e0bc442f3f21.png)

[2020-09-24 13:05] KarenEfereyan commented on #10373
I guessed its worked now. But my laptop is dead now

[2020-09-24 13:15] Link2Twenty commented on #10373
I've made a super quick [video](https://www.youtube.com/watch?v=2RYvwYvkrFg) of me going through the steps I'm trying to show the tooltips at the end but my screen recorder didn't pick them up.

[2020-09-24 19:06] madzadev opened #10433 "An un-rendered flash appears right before search results get returned"
**Describe the bug**
There is an un-rendered flash right before search results get returned.

**To Reproduce**

Type smth in the search bar, Hit enter.

**Screenshots**

![bug](https://user-images.githubusercontent.com/42511917/94188264-cd954600-feb1-11ea-85f1-e077b3da76b1.gif)

**Desktop (please complete the following information):**

- OS, version: Win10 Home, 64-bit
- Browser, version: Google C

[2020-09-24 19:42] saurav9005 commented on #10399
It's in the blog detail pages.

OS - window 7 chrome version - 54.028

Hope that helps.

On Tue, 22 Sep 2020, 03:43 ludwiczakpawel, <notifications@github.com> wrote:

[2020-09-25 00:46] equiman commented on #7089
Duplicated [#890](https://github.com/forem/forem/issues/890)

[2020-09-25 03:42] citizen428 commented on #10421
We're using [Redcarpet](https://github.com/vmg/redcarpet) on the Ruby side. It's used in the file you linked above, `app/labor/markdown_parser.rb`.

[2020-09-25 04:46] Amorpheuz commented on #10373
Hey @KarenEfereyan, Microsoft made WSL2 backward compatible with version 1903, Build 18362 or higher which should allow you to get WSL2 running with your current windows. If the GitPod approach doesn't end up working out, I can definitely help you out with getting it running on Windows!

[2020-09-25 04:48] Amorpheuz commented on #10335
Hey @rhymes, I would love to give this a shot if it's still up for grabs.

[2020-09-25 06:59] ludwiczakpawel commented on #10399
Thanks, that helps a lot.

This version of Chrome is pretty outdated - current version of Chrome is 85.x. Unfortunately we don't support such a old version and we can't do much about it.

I highly recommend updating your Chrome version (if possible of course, I know work machines often have some limitations) if not for DEV itself then for security reasons - lots of holes as well as security & perf

[2020-09-25 06:59] #10399 closed

[2020-09-25 07:06] ludwiczakpawel commented on #9997
@josepplloo I think it makes sense. Although I'd still like to keep "Category details" visible somehow so ppl can learn what each category means without clicking through every of them in `select` field.

If you wanna work on it, I'm happy to assign you. BUT I do have a [PR in progress with some updates](https://github.com/forem/forem/pull/10429) to this view and I'd love to merge that one first so

[2020-09-25 08:54] Link2Twenty commented on #10433
Hmm, can you try clearing your cache and reloading it. When I do a search it looks like this.

![forem__search-pop-in](https://user-images.githubusercontent.com/3534427/94247376-eedb4e00-ff14-11ea-8d30-925f4007c5ba.gif)

[2020-09-25 10:21] citizen428 commented on #10335
Hi @Amorpheuz, please don't ping individual team members unless it's part of an ongoing discussion. rhymes is off this week. I'll assign you the issue now.

[2020-09-25 10:30] Amorpheuz commented on #10335
Oh, Sorry folks. Thanks for the help citizen.

[2020-09-25 10:40] citizen428 commented on #9734
@afairlie Thanks for offering to help! Since #10356 has been closed in the meantime, I'll assign you this issue here.

[2020-09-25 13:47] afairlie commented on #9734
awesome! Thanks @citizen428

[2020-09-25 15:35] madarsbiss commented on #10433
@Link2Twenty it started working normally after I logged out and logged back in 😉

[2020-09-25 17:04] Amorpheuz opened #10438 "Update min. requirements of WSL2 for Windows Installation docs"
**Describe the bug**
[Microsoft has enabled support for WSL2 for Windows version 1903 and 1909](https://devblogs.microsoft.com/commandline/wsl-2-support-is-coming-to-windows-10-versions-1903-and-1909/) with an update. The [WSL2 Installation docs](https://docs.microsoft.com/en-us/windows/wsl/install-win10#requirements) state the correct builds required to make the same possible. The minimum require

[2020-09-25 18:00] #10174 closed

[2020-09-25 20:47] KarenEfereyan commented on #10373
Ill take a look at it. Electricity is a major problem for me over here

[2020-09-25 20:48] KarenEfereyan commented on #10373
That would be great. Do i set up a zoom meeting tomorrow while you take me through the steps?

[2020-09-25 20:48] KarenEfereyan commented on #10373
That would be great. Do i set up a zoom meeting tomorrow while you take me through the steps?

[2020-09-25 20:48] KarenEfereyan commented on #10373
That would be great. Do i set up a zoom meeting tomorrow while you take me through the steps?

[2020-09-26 04:27] cwray-tech commented on #9658
Hey, @citizen428  I would really like this issue if possible. Also, I would like to add edit and delete functionality to the series. Should I do this all in the same pr, or is there another issue I should tackle as well? Thanks!

[2020-09-26 04:51] Amorpheuz commented on #10373
Would it be okay for you to contact me via [DEV Connect](https://dev.to/connect/@amorpheuz)? We can co-ordinate the call and other details over it.

You will need to be on ` Version 1903 or higher, with Build 18362 or higher` for WSL2, which you can get via a minor Windows update if required. (Don't need to update versions)

[2020-09-26 09:00] sabarish98 commented on #10438
Hi team. Can I take this up and work on it ??

[2020-09-26 10:57] boardfish commented on #10363
Happy to pick this one up for Hacktoberfest! Please assign me and I'll get on it as soon as I'm able.

[2020-09-26 11:04] boardfish commented on #10009
I'm curious about this one. Not going to formally pin it down, but it seems well-documented and I'd like to look into it potentially.

[2020-09-26 11:12] boardfish commented on #9902
If an account doesn't yet exist against the given GitHub/Twitter account after the OAuth callback redirects back to Forem, maybe we should show a screen that asks the user to confirm whether they'd like to create an account. They could then also choose to sign in with the other service or use password auth, in case they already have creds for those.

[2020-09-26 11:17] boardfish commented on #9849
I assume this can already be done by overriding `app/views/devise/mailer/invitation_instructions.[html/text].erb`. This should be added to the codebase along with documentation in the relevant place (Backend Guide, probably near Previewing Emails).

[2020-09-26 11:18] boardfish commented on #9849
I should add that this is something I'd be happy to take on.

[2020-09-26 17:46] KarenEfereyan commented on #10373
@Link2Twenty good evening. I'm so sorry I've been on and off.  I stay in Nigeria and in my area, electricity is a problem. We haven't had electricity in 2 days and that is why I have been mia. I am so sorry

[2020-09-26 17:48] KarenEfereyan commented on #10373
This issue has dragged on for a while and I am so grateful for the help and I have and am still learning so much. I wish I could have this issue completed tonight. I am free now. @Link2Twenty are you?

[2020-09-26 17:51] KarenEfereyan commented on #10373
@Link2Twenty im already watching the video by the way

[2020-09-26 18:11] abenettt opened #10440 "Update to latest yarn version"
**Is your feature request related to a problem? Please describe.**
The latest yarn v1 version is 1.22.5 and we're still bundling 1.22.4.

**Describe the solution you'd like**
Update yarn config to use latest version

**Describe alternatives you've considered**

**Additional context**

[2020-09-26 18:17] KarenEfereyan commented on #10440
Waow @abenettt that was fast. How did you do it so quickly?

[2020-09-26 18:23] KarenEfereyan commented on #10440
Woaw @abenettt  that was fast. Super fast

[2020-09-26 18:28] abenettt commented on #10440
I had the PR prepared before I opened the issue @KarenEfereyan.

[2020-09-26 18:38] KarenEfereyan commented on #10440
Oh thats true.🤣🤣🤣you both raised the issue and are tackling it. Waow

[2020-09-26 19:21] codeluggage commented on #5431
I came here looking for this.

Adding my thoughts to the discussion:

1. Themes can generally be grouped into light and dark themes
2. Future features that switch themes based on time-of-day would ideally know which light theme you prefer, and which dark theme you prefer
3. Toggling quickly is ideal for many reasons. It is very pleasant for first time users, and to avoid too much light when trying

[2020-09-26 19:31] irmela commented on #10427
I'd love to work on it. Seems like a good ticket to get familiar with the codebase 🙂

[2020-09-26 20:46] josepplloo commented on #9997
Nice, I'm happy to work on this issue, We can keep all the list, and maybe a good idea to make it more visible is changing the font, something like that:

![Screen Shot 2020-09-26 at 15 38 08](https://user-images.githubusercontent.com/1114740/94349871-7062d700-000e-11eb-9057-9cda34885bc8.png)

[2020-09-27 05:23] mudlabs opened #10442 "Dev API does not create article with tags or series"
**Describe the bug**
When using the Dev.to API to POST an article, _tags_ and _series_ are not being set in the generated article.

**To Reproduce**
Make a simple post request following the steps outlined on the [Dev API site](https://docs.dev.to/api/#operation/createArticle)

**Expected behavior**
A new article with `tags` and a `series` would be created on Dev.to.

**Screenshots**
![Screen Shot

[2020-09-27 07:53] KarenEfereyan commented on #10373
@citizen428 @rhymes @Link2Twenty does the work i did last solve the issue. I just commented on a post via dev and i edited it. I see why the edited span is needed. ![Screenshot_20200927-084924.png](https://user-images.githubusercontent.com/56835876/94359402-f0388200-009e-11eb-8162-d4ac9f9c5666.png)

[2020-09-27 07:54] KarenEfereyan commented on #10373
All im wondering now is if what ive done now solves that issue

[2020-09-28 05:42] Rafi993 commented on #10048
Hello there, I think it is related to https://github.com/forem/forem/issues/10265 and it is addressed by PR https://github.com/forem/forem/pull/10353  (sorry for randomly jumping in)

[2020-09-28 06:06] Rafi993 commented on #10096
Hello there, If this still up for taking. I can help with this bug.

[2020-09-28 06:35] RuchikaAggarwal89 opened #10463 "Could not be able to write post"
- [ ]  #@

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-09-28 09:30] Link2Twenty commented on #10373
No need to apologise 😊

That looks like it's exactly right. Now you need to make a pull request to request your code be merged into the main code base.

Once you've made the PR (pull request) some of the staff at forem will give it a look over and if they have any comments they'll make them, they may ask you to make a couple of changes but they will talk you through what they want. Once they're ha

[2020-09-28 09:33] KarenEfereyan commented on #10373
Yippie. But can i make a PR from gitpod? As i dont have the right dev environment set up

[2020-09-28 09:48] Link2Twenty commented on #10373
I'd suggest pressing the fork button on the top right of git
![image](https://user-images.githubusercontent.com/3534427/94417379-e8004580-0177-11eb-838c-4158cf8fe6d6.png)

Then in gitpod if you press the Git button
![image](https://user-images.githubusercontent.com/3534427/94416819-37924180-0177-11eb-959d-9a35d908925d.png)

It will tell you you don't have permission but does give you a fork button

[2020-09-28 11:00] ludwiczakpawel commented on #2144
Sorry for a bit delayed explanation why I closed it. Here it is:

1. We have slightly updated not only feed cards and how the "Save" button looks like in the feed but also the Article view and "Save" button in that view as well. So this issue felt kinda outdated when I was looking at it last week.
2. We're internally doing some work around "Save" button inside the feed card - how it looks like and

[2020-09-28 12:52] rhymes commented on #9658
@cwray-tech I think they should be in different PRs are they are related to different functionalities. I'm assigning you this issue

[2020-09-28 12:53] rhymes commented on #10438
@sabarish98 yes! I've assigned you the issue!

[2020-09-28 12:55] rhymes commented on #10363
@boardfish I've assigned you to the issue, thanks!

[2020-09-28 12:58] rhymes commented on #9849
Thanks @boardfish, I've assigned you to it

[2020-09-28 13:00] rhymes commented on #10427
@irmela thanks! I've assigned you to it

[2020-09-28 13:05] ShubhankarKG commented on #10402
Hi, apologies for the delay :pray: , we have exams :sweat_smile: . I'm positive I'll be able to file a PR by the weekend. Thanks and apologies again :sweat_smile:

[2020-09-28 13:24] rhymes commented on #10096
@Rafi993 sure, go ahead! thanks

[2020-09-28 13:24] rhymes commented on #10463
Hello @RuchikaAggarwal89, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-09-28 13:24] #10463 closed

[2020-09-28 13:24] abenettt opened #10465 "Squash migrations"
**Is your feature request related to a problem? Please describe.**
At this time the migrations count 541 and take, at least on my machine, ~12 seconds.

**Describe the solution you'd like**
I don't know, whether there is a tool for that available, but maybe it is possible to squash all existing migrations together into a single one, this should hopefully reduce the amount of time the migrations ta

[2020-09-28 13:26] Rafi993 commented on #10096
Thank you @rhymes

[2020-09-28 13:31] rhymes commented on #10402
@ShubhankarKG no worries, please take your time and good luck for the exams! :)

[2020-09-28 13:33] rhymes commented on #10465
FYI: I know of https://github.com/jalkoby/squasher but I've never used it

[2020-09-28 14:26] abenettt commented on #10465
I tried this locally and there I could squash the migrations, they at least run without failing.

[2020-09-28 14:30] #9787 closed

[2020-09-28 14:53] nikolasburk opened #10467 "Support for syntax highlighting for Prisma schemas in Markdown"
**Is your feature request related to a problem? Please describe.**

[Prisma](https://www.prisma.io/docs/) is a database toolkit that comes with its own [data modeling language](https://github.com/prisma/specs/tree/master/schema) to define the so-called [Prisma schema](https://www.prisma.io/docs/reference/tools-and-interfaces/prisma-schema).

Right now, Prisma schemas don't have proper syntax highl

[2020-09-28 14:57] Jolg42 commented on #10467
I think it will need to be added there first https://github.com/rouge-ruby/rouge

[2020-09-28 15:15] rhymes commented on #10467
Thanks @nikolasburk, as @Jolg42 mentioned we use Rouge to highlight, so I recommend opening a similar issue to their repository so they can be notified of this new language and act accordingly.

[2020-09-28 15:16] rhymes commented on #10467
BTW it looks very similar to Go, so in the meantime you might want to enable that :P

[2020-09-28 15:22] nikolasburk commented on #10467
Done @rhymes 🙏  https://github.com/rouge-ruby/rouge/issues/1598

[2020-09-28 15:23] #10410 closed

[2020-09-28 15:24] #7490 closed

[2020-09-28 15:24] #7491 closed

[2020-09-28 15:24] #7492 closed

[2020-09-28 15:24] #7493 closed

[2020-09-28 15:24] lisasy commented on #9575
This issue has been resolved.

[2020-09-28 15:24] #9575 closed

[2020-09-28 15:25] #6316 closed

[2020-09-28 15:25] #6317 closed

[2020-09-28 15:25] #6480 closed

[2020-09-28 15:25] #6481 closed

[2020-09-28 15:25] #6543 closed

[2020-09-28 15:25] #6787 closed

[2020-09-28 15:25] #6155 closed

[2020-09-28 15:25] #6156 closed

[2020-09-28 15:25] #6157 closed

[2020-09-28 15:25] #6158 closed

[2020-09-28 15:25] #6788 closed

[2020-09-28 15:25] #6789 closed

[2020-09-28 15:25] #6790 closed

[2020-09-28 15:25] #7198 closed

[2020-09-28 15:25] #7224 closed

[2020-09-28 15:25] #7225 closed

[2020-09-28 15:25] #7226 closed

[2020-09-28 15:25] #7227 closed

[2020-09-28 15:25] #7233 closed

[2020-09-28 15:25] #7256 closed

[2020-09-28 15:25] #7348 closed

[2020-09-28 15:25] #7427 closed

[2020-09-28 15:25] #7428 closed

[2020-09-28 15:25] #8897 closed

[2020-09-28 15:25] #8898 closed

[2020-09-28 15:25] #9497 closed, assigned to nobody

[2020-09-28 15:41] rhymes commented on #8313
Solved by https://github.com/forem/forem/pull/8929

[2020-09-28 15:41] #8313 closed

[2020-09-28 15:43] rhymes commented on #9212
I think the URL structure should be something like:

`dev.to/api/organizations/{org_username}/articles` and so on

[2020-09-28 15:46] rhymes commented on #9464
I switched to `difficulty: medium` as we edge cache the API so whoever works on this will have to figure out how to have 2 different representations of the same resource, both cached and both purgeable in one sweep

[2020-09-28 15:48] rhymes commented on #9848
I believe we can find a generalized approach here to play in concert with the generalization efforts for profiles. There's a core of fields that all Forems will have but there will also be Forems that have certain fields and Forems that don't so the API should be flexible enough to account for that

[2020-09-28 15:50] michael-tharrington opened #10469 "Occasionally GitHub Repo Liquid Tags Cannot be Embedded"
**Describe the bug**

Users are occasionally unable to link to GitHub repos via liquid tag. They receive the following error when trying:

_Whoops, something went wrong:
base: undefined method `value' for nil:NilClass_

**To Reproduce**

1. Go to 'https://dev.to/new'
2. Copy & paste this following liquid tag in the body of your post '{% github sirixdb/sirix %}'
3. Click "preview" at the top of the

[2020-09-28 16:05] KarenEfereyan commented on #10373
Thank you @Link2Twenty  ill let you know if i have any blockers

[2020-09-28 16:12] rhymes commented on #7878
Hi! @timbogdanov - the problem here is that allowing authenticated requests from frontends would lead to hardcoding for API keys in frontends which we want to avoid. I think this can be enabled once we have a better authentication option for clients

[2020-09-28 16:36] volanar commented on #7089
I think that at an early stage of development, use 1 language, and the built-in translator should translate to the native language specified in the user settings. This is used in all known social networks.

[2020-09-28 16:50] cwray-tech commented on #9658
@rhymes thank you! I will tackle this first then. Also, thanks for assigning this to me.

[2020-09-28 17:24] #10440 closed

[2020-09-28 18:40] maestromac commented on #8457
Thanks for the thorough dive @hugopeixoto ! You are right, `CustomText` is the source of this issue.

I do but there's not a lot of information on why. That's my fault; I was new and naive 😅. What I think I was doing is removing the `#preserve_tags` to resolve a code block issue. The `<` and `>` were being escaped within code block.

I think what we need to do here is to force register with `Rever

[2020-09-28 20:02] #10265 closed

[2020-09-28 22:48] hugopeixoto commented on #8457
These files already have `register :text, CustomText.new` at the bottom. Since the problem is that they're not being required, changing the file itself won't make a difference. I think we need to add the `require`s to an initializer.

I'll make a PR adding a `config/initializers/reverse_markdown.rb` initializer requiring those two files. What do you think?

Yeah, I can make a PR fixing `remove_inn

[2020-09-29 00:31] ChaelCodes opened #10475 "Add Twitch Clips Liquid Tag"
**Is your feature request related to a problem? Please describe.**

I'd love to include clips from my Twitch stream in Dev.To articles to support various points. I have a [live-coding setup log](https://dev.to/chaelcodes/live-coding-setup-changelog-2kda), and I'd love to include a clip for each version of the setup to demonstrate what it looked like. This will probably be helpful for the [Raise.De

[2020-09-29 00:33] ChaelCodes commented on #10475
I'd really like to tackle this issue as part of Hacktoberfest. I know you prefer a feature be reviewed prior to a contributor starting work on them, but this seems fairly straightforward.

[2020-09-29 01:14] Rafi993 commented on #10096
When you use url
[code]
it displays the correct error message

![link_error](https://user-images.githubusercontent.com/8092120/94501112-aaa2c300-021e-11eb-9b8f-290b8c70654d.png)

but when I add the url with another '/' like

[code]
it causes the problem
![link_error](https://user-images.githubusercontent.com/8092120/94501166-d3c35380-021e-11eb-95c2-77d71a219351.png)

It is probably issue in

https

[2020-09-29 03:42] TephlonDude opened #10477 "Publishing to DEV from RSS Does Not Bring Stories into Drafts"
**Describe the bug**
I am attempting to publish to DEV.TO using RSS from Medium. I followed the instructions and set up everything as instructed [here](https://dev.to/settings/publishing-from-rss) and clicked on the Save button.

My expectation was that the article from [here](https://medium.com/n8n-io/nathan-your-n8n-virtual-assistant-98ac611ee7a7) would appear in my Dashboard but I do not see an

[2020-09-29 06:48] twinsfan421 commented on #9212
I can work on this

[2020-09-29 07:56] #10360 closed

[2020-09-29 08:37] #10469 closed

[2020-09-29 08:49] rhymes commented on #9212
I've assigned you the issue, thanks @twinsfan421 !

[2020-09-29 10:16] Link2Twenty commented on #10475
Looks simple enough the only complication I can see is the need for a parent url.

| **parent** | **string** | **(required)** Domain(s) that will be embedding Twitch. You must have one parent key for each domain your site uses. |
|:---|---|:---|

We can't hard code this to dev.to so will need to do something else.

[2020-09-29 10:54] rhymes commented on #10442
Hi @mudlabs, weird. I just tried with

[code]

and obtain the following:

![Screenshot_2020-09-29 Edit Post - DEV(local) Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/94549328-5580a480-0252-11eb-9f66-4fcb0711b1ed.png)

As you can see both tags and series are there. I also tried with only one of the two params in the payload and it worked.

I then tried on production:

[code]

[2020-09-29 11:02] ChaelCodes commented on #10475
@Link2Twenty Good point. I think we could get this by pulling the host off the request.

[2020-09-29 11:23] DarkSmile92 opened #10480 "Message in connect chat input field not cleared after sending it"
**Describe the bug**
After typing a message in the input field on connect in a channel and sending it, the message is sent but the text is still in the input field and not cleared.

**To Reproduce**

1. Go to DEV Connect
2. Write a message in a channel
3. Send the message

**Expected behavior**

Expected the input field to be cleared after the message is sent. (worked in the past)

**Screenshots**

[2020-09-29 11:27] fdoxyz opened #10481 "Add ability to manage Listing Categories in /admin"
**Is your feature request related to a problem? Please describe.**

The Admin dashboard (`/admin`) currently has a Listings section that allows administrators to manage them but we are lacking a way to manage Listing Categories.

**Describe the solution you'd like**

A common Rails CRUD dashboard for Listing Categories (`/admin/listings/categories`). This would require a new controller with at lea

[2020-09-29 11:34] fdoxyz opened #10482 "Add more edit capabilities to Podcast dashboard in /admin"
**Is your feature request related to a problem? Please describe.**

We are currently lacking the ability to fully manage Podcasts from the `/admin` dashboard.

**Describe the solution you'd like**

Update the view and controller for `/admin/podcasts/:id/edit` in order for admins to fully manage existing podcasts. The fields to be added are:
- Description
- iTunes URL
- Overcast URL
- Android URL
-

[2020-09-29 11:55] fdoxyz opened #10483 "Remove /resource_admin dashboard"
**Is your feature request related to a problem? Please describe.**

As we're moving towards a unified `/admin` dashboard we are discontinuing `/resource_admin` altogether. In order to do this we are closing the gap in the last few capabilities we are still missing. This means that in order to get this done we will need to have the following issues resolved first:

- [x] #10481
- [x] #10482
- [x] #

[2020-09-29 12:16] wotta commented on #10482
Hello, does mean we just need to add the fields and everything will work just fine, or do we also need to add "migrations" to get this working as expected?

[2020-09-29 13:45] rhymes commented on #10482
@wotta the data is already there, it needs an interface to be edited. See https://github.com/forem/forem/blob/bfa06466ef6aaca4bf2b368cb6e5a39d833de321/db/schema.rb#L878-L898 and https://github.com/forem/forem/blob/master/app/models/podcast.rb

[2020-09-29 13:47] wotta commented on #10482
Thank you @rhymes for the quick response. this answers my question.
I would love to pick this issue up.

[2020-09-29 14:31] rhymes commented on #10482
Great, I've assigned it to you!

[2020-09-29 14:42] Rafi993 commented on #10481
Hello there, If this up for taking I can help.

[2020-09-29 14:43] rhymes commented on #10481
Ok @Rafi993, I've assigned this to you

[2020-09-29 14:43] Rafi993 commented on #10481
Thank you @rhymes

[2020-09-29 15:36] KarenEfereyan commented on #10373
@Link2Twenty @citizen428 I have made my changes and staged them. But when i try to make a PR, no changes are being found. Here is what the PR tab looks like from my forked copy of the forem repository. I thnk the comparison should be between this branch of my forked repo and master branch of the original main forem repo, right?
![branch](https://user-images.githubusercontent.com/56835876/94580137-

[2020-09-29 16:22] reobin commented on #10480
Taking this up :) It was introduced with the auto resized textarea. Some clean up is need with the component's state management.

[2020-09-29 16:51] fdoxyz commented on #10480
Thank you @reobin I just assigned you to the issue

[2020-09-29 17:36] #10096 closed

[2020-09-29 17:40] Zhao-Andy commented on #10477
Hey @TephlonDude, sorry about that bug. I think it's an issue specific to your Medium article and how it was parsed either on our end, or how the data pulled in on Medium's end. The short version is I've made a draft post under your account for you. You'll want to make sure the formatting of the post is correct, and to add a `canonical_url` (not sure why that wasn't pulled in either).

The longer

[2020-09-29 17:40] #10477 closed

[2020-09-29 20:46] maestromac commented on #1078
Resolved because we are now using Knapsack

[2020-09-29 20:46] #1078 closed

[2020-09-29 22:26] mudlabs commented on #10442
Just tried using [node-fetch](https://www.npmjs.com/package/node-fetch#post-with-json). It did _not_ work either.

[2020-09-30 01:45] goldbem opened #10490 "https://www.topbem.com"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-09-30 01:46] goldbem opened #10491 "https://www.goldbem.com"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-09-30 02:33] Taniyah-L-Jackson commented on #4523
I do have a question about `pinnable_type` and `profile_type`. There seems to be a possibility that they could both reference `Article`. Would it be best to add a function that outputs an error if that were to happen?

[2020-09-30 04:24] rsmithlal commented on #10420
I would also reccommend perhaps some integration with the matrix.org protocol for federated chat engines. Have you heard of their Element.io app?

[2020-09-30 05:38] mudlabs commented on #10442
🤦  D'oh

It was because of the way I was passing in the `article` object. You can see from my `unirest` example above I was passing the article directly into the `send` method. It should be a nested object. The `api` must looks for the named object.

[code]

It threw me because some fields _(i.e. title)_ were being set. Going forward it might be better if requests would either fail completely if t

[2020-09-30 05:38] #10442 closed

[2020-09-30 07:17] #10490 closed

[2020-09-30 07:17] #10491 closed

[2020-09-30 07:19] rhymes commented on #4523
@Taniyah-L-Jackson makes sense, a validator that checks that they don't both point to article as you said :)  thanks!

[2020-09-30 07:25] wotta commented on #10482
_Note to self_

- [ ] Description
- [ ] iTunes URL
- [ ] Overcast URL
- [ ] Android URL
- [ ] Soundcloud URL
- [ ] Website URL
- [ ] Twitter username
- [ ] Pattern Image
- [ ] Main color hex
- [ ] Slug
- [ ] Image
- [ ] Reachable
- [ ] Published

[2020-09-30 07:47] sabarish98 commented on #10438
![docs_loading_error](https://user-images.githubusercontent.com/50691454/94656840-38b1a300-031e-11eb-8676-d559b19e51f6.PNG)
I am not sure what I am doing wrong here. I tried setting up the dev environment on Windows WSL2 (Ubuntu 18.04 LTS), installed all the gems and node modules as well.
When I give `yarn gitdocs serve`, the local server runs at port `8000`, but when I go through the menus, I am

[2020-09-30 12:03] rhymes commented on #10438
@sabarish98 not really, I wonder if there's an issue with port redirection in the container

cc @maestromac

[2020-09-30 14:09] lucieva opened #10496 "Missing Stats button for the article I wrote"
Hi folks, I have written an article on dev.to and I would love to see more statistics about that. Unfortunately I do not see "Stats" button on top of the article, next to the Edit and Manage buttons. Is it possible to enable this feature for me? Thanks a lot, Lucie

[2020-09-30 14:13] rhymes commented on #10496
Hi @lucieva, we don't have stats available right now other than what you can see in the [dashboard](https://dev.to/dashboard), an example from one of my articles:

![Screenshot_2020-09-30 Dashboard - DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/94696764-b3d38300-0337-11eb-8a56-7d47438a76c7.png)

Is that what you're looking for?

I think this request is also part of https:

[2020-09-30 14:16] maestromac commented on #10438
@sabarish98 is that happening on every doc page?

[2020-09-30 14:21] sabarish98 commented on #10438
Yes @maestromac , just the side menu loads. All the pages keep loading.

Actually regarding the local setup steps, I didn't run the fixtures or set the environment variables, because I thought that wouldn't be necessary for making the fix for this issue. But made sure I installed all node modules and gems.

Would that cause something like this?

[2020-09-30 15:17] nickytonline commented on #8842
@narender2031, does #9025 close this?

[2020-09-30 15:29] michael-tharrington opened #10497 "Feature Request: Ability to "Mute" Users"
**Is your feature request related to a problem? Please describe.**

Occasionally, a user may want to mute another user's content from their feed. Currently, the only way to do this is to block the other user, which is more of a user safety feature and comes with other effects described in the [changelog post](https://dev.to/devteam/changelog-block-tools-for-user-safety-4no3).

**Describe the solut

[2020-09-30 15:55] michael-tharrington commented on #9919
Just to point out that some users have been hitting issues when using CAPTCHA to report spam - https://dev.to/yellow1912/i-fail-the-spam-report-captcha-on-dev-3397

[2020-09-30 16:10] nickytonline commented on #10057
@ludwiczakpawel, just wondering if this is still something that you'll be working on or can a contributor work on this? If so, please label it with the Hacktoberfest label. Thanks!

[2020-09-30 16:18] nickytonline commented on #2152
@Link2Twenty, is this still an issue. Only asking as the frontend has undergone massive changes since this issue was created.

[2020-09-30 16:26] davorg opened #10498 "Gist missing from web feed"
[This post](https://dev.to/manchicken/that-awkward-moment-when-you-need-to-generate-test-data-2862) includes some code that is in a Github Gist.

However, if you look at one of the web feeds that contains this post ([the user's feed](https://dev.to/feed/manchicken) or the [#perl tag feed](https://dev.to/feed/tag/perl)), you'll see that the HTML which embeds the Gist has been removed. Probably beca

[2020-09-30 16:48] ludwiczakpawel commented on #10057
Labeled!

[2020-09-30 17:53] maestromac commented on #10438
@sabarish98 yeah the gitdoc portion is a stand-alone application that woudln't require all the env var from the main rails app. Can you share your browser error you are getting?

[2020-09-30 18:08] sabarish98 commented on #10438
Here you go @maestromac. This is the error that occurs
[localhost-1601489232545.log](https://github.com/forem/forem/files/5307448/localhost-1601489232545.log)

[2020-09-30 18:10] sabarish98 commented on #10438
Here you go @maestromac, this is the error that occurs
[code]
I am attaching the log file as well.
[localhost-1601489232545.log](https://github.com/forem/forem/files/5307450/localhost-1601489232545.log)

[2020-09-30 18:46] nickytonline commented on #4758
The cover image is actually a background image of an `< a href />` which has a title attribute and there is also text for the link now.

![image](https://user-images.githubusercontent.com/833231/94726645-84b71480-032b-11eb-9b37-87ad264c4176.png)

@ooloth, the API feature request seems like a separate issue.

[2020-09-30 18:53] vaidehijoshi commented on #5068
I started poking at this today and have some WIP code on a branch, so I'm going to assign it to myself since it doesn't seem like anyone is currently working on it :)

cc @mstruve

[2020-09-30 19:06] nickytonline commented on #1154
@RyKilleen thanks so much for the issue. Since Hacktoberfest starts tomorrow, if you're up for taking this on just say the word.

[2020-09-30 19:09] nickytonline commented on #1273
Want to take a stab at this for Hacktoberfest @Link2Twenty ?

[2020-09-30 19:10] nickytonline commented on #394
A lot has changed in the UX and design of the site, but this issue is still relevant for anyone interested.

[2020-09-30 19:13] mstruve commented on #5068
THANK YOU @vaidehijoshi for chatting with me about this. Given our new Forem setup the new idea here is to send Pentesters to a Forem of their own. Here they could go absolutely nuts without the worry of disrupting other users or sending false alarms to our monitoring tools. I am going to close this for now in favor of https://github.com/thepracticaldev/security/issues/309

[2020-09-30 19:13] #5068 closed

[2020-09-30 19:19] nickytonline commented on #9685
I'm on Edge Chromium and it loads fine. I also tried Chrome and FF Developer edition.

![image](https://user-images.githubusercontent.com/833231/94729776-2e98a000-0330-11eb-9a8b-a9686b3c791f.png)

Maybe check the browser dev tools console to see if there are any errors reported.

[2020-09-30 19:21] nickytonline commented on #6362
Anything blocking this from being ready for dev @benhalpern @rhymes? If not, we can also tag it for Hacktoberfest.

[2020-09-30 19:22] nickytonline commented on #6241
Just following up on this @mzaini30 as I am unable to replicate the issue as well.

[2020-09-30 19:23] nickytonline commented on #5346
Thanks for the issue @web-padawan. I think height could be an additional optional parameter for the codepen liquid tag.

[2020-09-30 19:25] nickytonline commented on #10048
@aligoren, just following up on this issue in regards to what @Rafi993 mentions.

[2020-09-30 19:29] nickytonline commented on #3118
That JS error is because the user infromation which is stored on the `<body />` tag in the attribute `data-user` has a string value of `"undefined"`. You can see it in action in the browser dev tools console if you do `JSON.parse("undefined")`. So the real issue, is why is the user information undefined.

![image](https://user-images.githubusercontent.com/833231/94730631-84ba1300-0331-11eb-8c7c-47

[2020-09-30 19:29] fennecdjay commented on #9685
Seems sensible.

[2020-09-30 19:48] RyKilleen commented on #1154
I'm spread thin across a few things atm and don't want to monopolize it!

If anyone else would like to give it a go, I'll defer to them. I'll also send it around

[2020-09-30 19:55] mstruve commented on #4926
Given our recent move to Datadog logging I think we can close this issue for now until we decide to upgrade our logging solution to something different such as Fluentd.

[2020-09-30 19:55] #4926 closed

[2020-09-30 19:58] mstruve commented on #4888
I don't believe we have seen this one since a lot of our recent Spec and CI improvements so I am closing

[2020-09-30 19:58] #4888 closed

[2020-09-30 20:00] mstruve commented on #4940
@citizen428 what do you think about closing this issue since we are now using ProfileData to fill in custom fields? I could see these kinds of settings ending up there.

[2020-09-30 20:02] mstruve commented on #5268
Given this has not occurred recently I am going to close.

[2020-09-30 20:02] #5268 closed

[2020-09-30 20:05] mstruve commented on #5810
We still have these in our docs but all have been removed from the codebase thanks to our recent generalization push 😄

[2020-09-30 20:05] #5810 closed

[2020-09-30 20:06] #10061 closed

[2020-09-30 20:44] reobin commented on #1154
#10468 adds a hook for easy global key events. If it is to be merged, I'd be up to use it on this issue

[2020-09-30 21:09] Link2Twenty commented on #2152
How are these special side panels made?
I believe that example was caused by human 'error' making it look nice in one theme but not others.
I'm not sure if there's anything we can do about that?

[2020-09-30 22:15] mstruve commented on #1110
Thanks so much for the report! Since this no longer looks to be an issue so I am going to close it as we tidy things up for Hacktoberfest 😄

[2020-09-30 22:38] Coteh commented on #9603
Hey I'd like to tackle this. :)

[2020-09-30 22:41] mstruve commented on #960
Thank you so much for submitting this issue. Since it looks to be an issue with the redcarpet gem I am going to close this. Please reach out if you have any questions. Thanks!

[2020-09-30 22:41] #960 closed

[2020-09-30 23:14] fdoxyz commented on #9603
Thank you @Coteh I just assigned the issue to you

[2020-10-01 00:06] mrsantons commented on #3588
Could I claim this?

[2020-10-01 00:10] nickytonline commented on #3588
I’ve assigned this to you @mrsanton. Happy Hacktoberfest Eve!

[2020-10-01 05:14] rhymes commented on #6362
@nickytonline I think the trick is to find an agreed upon library that can be lazy loaded and not too big but yeah, technically there's no reason not to have this

[2020-10-01 06:36] rhymes commented on #10132
I think we should add a `/profile-pictures/{username}` endpoint to the API to solve this

[2020-10-01 06:38] rhymes commented on #10106
@diogoosorio are you still working on this? Thank you

[2020-10-01 06:38] rhymes commented on #10102
@leewynne can we consider this fixed now that Login with Facebook works?

[2020-10-01 06:39] rhymes commented on #10104
Marked this as ready for Hacktoberfest, though I'm not entirely sure it's a problem on our side or if it's a problem in the Feedjira. If someone wants to explore this is more than welcome :)

[2020-10-01 06:39] #10069 closed

[2020-10-01 06:41] rhymes commented on #10044
closing this as it doesn't seem to be happening anymore

[2020-10-01 06:41] #10044 closed

[2020-10-01 06:42] rhymes commented on #10032
@ludwiczakpawel is still happening for you?

[2020-10-01 06:44] rhymes commented on #9921
I reckon this is a matter of adding those hardcoded numbers as configurable factors in `SiteConfig`, correct @leewynne ?

[2020-10-01 06:45] rhymes commented on #9902
@lisasy does this issue still apply now that you've been working on refactoring the authentication/login process?

[2020-10-01 06:45] ludwiczakpawel commented on #10032
I'm not sure because I can't verify this:

^ there's no indicator saying whether or not I have a password set up.

[2020-10-01 06:49] rhymes commented on #9781
I maybe wrong as my CSS skills aren't super strong but if the logo is a SVG, can it be applied an [invert filter via CSS](https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/invert) if the dark theme is selected? Is that

[2020-10-01 06:54] #9754 closed

[2020-10-01 06:54] rhymes commented on #9642
@dev-encourt is this still happening to you?

[2020-10-01 06:56] #9434 closed

[2020-10-01 06:57] rhymes commented on #9336
@narender2031 were you able to find out what happened here? Thanks!

[2020-10-01 06:59] rhymes commented on #9287
@citizen428 @Ridhwana is this still relevant in the context of the work you're doing about profile generalization?

[2020-10-01 07:01] rhymes commented on #9270
@Rafi993 are you still working on this? I know you're assigned to quite a few issues so it's understandable if you haven't gotten the time to get back to this. LEt me know if you still want to work on this or else if you have new information you can leave in the issue here so to pass the torch if you decide so. Thank you!

[2020-10-01 07:06] rhymes commented on #9183
@Veggier after #9235 has been merged, is there anything else to be done here?

[2020-10-01 07:07] Rafi993 commented on #9270
Thank you @rhymes I was not able to recreate this issue in local even though it happens in dev.to. Please feel free to remove me as assignee from this issue so that If someone is able to recreate this issue again they could take it up.

[2020-10-01 07:08] rhymes commented on #9118
Even though I previously assigned myself here and created a draft PR #9156, I'm going to relinquish this as I think it's going to be addressed by us switching to imgproxy and that's the work that @maestromac and @jdoss have been doing. I don't think it's worth the effort to try to add WebP support to carrierwave.

Will imgproxy be webp-enabled @maestromac ?

[2020-10-01 07:09] Rafi993 commented on #9270
I have removed myself as assignee from this issue so that if anyone is able to recreate this issue in local environment can take it up.

[2020-10-01 07:10] rhymes commented on #9117
I think removing the listing here is enough, pausing might be a tricky concept

[2020-10-01 07:11] rhymes commented on #10032
@ludwiczakpawel as mentioned in https://github.com/forem/forem/issues/10032#issuecomment-681758621, all users have a password :)

[2020-10-01 07:24] rhymes commented on #9658
@cwray-tech for the "managing" part of a series you can refer to this issue here https://github.com/forem/forem/issues/9008

[2020-10-01 07:30] rhymes commented on #8826
@gogamic sorry to get back to you this late but are you still experiencing issues?

[2020-10-01 07:31] #8780 closed

[2020-10-01 07:31] rhymes commented on #8780
Closed this as it doesn't seem to be an issue anymore

[2020-10-01 07:32] rhymes commented on #8697
I think we solved this by moving the secrets in the `SiteConfig` and initializing Devise at runtime

See #9899

[2020-10-01 07:32] #8697 closed

[2020-10-01 07:37] rhymes commented on #7600
I believe this was fixed by https://github.com/forem/forem/pull/8406

@bernardbaker let us know otherwise

[2020-10-01 07:37] #7600 closed

[2020-10-01 07:40] rhymes commented on #7148
I think this has been completed!

1. providers are modules
2. there's a single method to call to know which ones are available or enabled
3. they don't depend from each other
4. we use the site credentials and the user's credentials only to fetch github repos

[2020-10-01 07:40] #7148 closed

[2020-10-01 07:41] rhymes commented on #7087
I'm going to close this as we've added Facebook since and we're in the process of adding Apple. The reason why I'm closing it's its genericness. I believe each request should sit in a specific issue so we can have separate conversations about feasibility and constraints

[2020-10-01 07:41] #7087 closed

[2020-10-01 07:42] rhymes commented on #6996
@Ridhwana are you working on this? Otherwise I think it'd be fine to add it as a hacktoberfest issue :)

[2020-10-01 07:44] rhymes commented on #6914
@vaidehijoshi are you still working on this?

[2020-10-01 07:48] rhymes commented on #6759
Suggest coming up with a mockup of how this should look before delving into the code :)

[2020-10-01 07:50] rhymes commented on #6417
To the best of your knowledge, @vaidehijoshi and @atsmith813, is still still a valid issue? Should we close it?

[2020-10-01 07:53] rhymes commented on #6380
I'm going to close this as I think it has been addressed by #8315 - Let me know otherwise @alvaromontoro and @icncsx

[2020-10-01 07:53] #6380 closed

[2020-10-01 07:54] Ridhwana commented on #9287
@rhymes I don't think so, the underlying context has changed since the admin will now decide what links they require.

[2020-10-01 07:55] rhymes commented on #6215
As we've since integrated ahoy for tracking and both Blazer and Hypershield I think we can close this

[2020-10-01 07:55] #6215 closed

[2020-10-01 07:56] krishnadevz commented on #9781
we can apply filter like this also means fill color
![image](https://user-images.githubusercontent.com/42638797/94782430-d2de1d80-03e8-11eb-8543-8760e989f0ab.png)
we can change the fill color to #ffffff and then the result will look like this
![image](https://user-images.githubusercontent.com/42638797/94782551-07ea7000-03e9-11eb-898d-a5ce85de70df.png)
that will be the good option or else we can do

[2020-10-01 08:09] rhymes commented on #5444
I don't think this is still an issue as the UI has changed since then. I tried and it seems instantaneous to me

[2020-10-01 08:09] #5444 closed

[2020-10-01 08:13] rhymes commented on #5018
@mikenath223 do you still plan on working on this issue?