[2018-07-12 16:46] Zhao-Andy commented on #242
Hey @c33s, thanks for the feature request. We're focusing on open sourcing right now, and also want to give some more thought and consideration for which login options we'd like.

[2018-07-12 17:00] Zhao-Andy commented on #211
Hey y'all, we're officially open sourcing August 8th! See this post for more details:
https://dev.to/ben/the-devto-codebase-will-go-open-source-on-august-8-2kia

[2018-07-12 17:00] #211 closed

[2018-07-12 17:00] #165 closed

[2018-07-12 17:03] notriddle opened #245 "Submit comments with Ctrl+Enter"
# _TASK or Feature_
### Request or User Story

My hands are already on the keyboard when I'm typing a comment. I'd like to be able to submit it with a keyboard shortcut.

### Definition of Done

On GitHub, Reddit, and any website that uses the stock HTML form system (Dev, of course, uses JavaScript to make its forms more responsive), I can submit the form that a textarea is in by pressing <kbd>Ctr

[2018-07-13 05:14] eddiejaoude commented on #211
Awesome 👍 🎉 🤓

[2018-07-14 18:38] Eros opened #246 "Editing profile displays that my twitter account is already taken (Logging in through twitter)"
# _BUG_
### Current Behavior
With any setting edited I receive the error provided in the screenshots tab. This happens when editing anything in my profile, I am currently logged in through twitter integration
### Expected Behavior
Be able to edit without having this error (Settings do not save)
### Additional Info (steps to replicate, device/browser, helpful links)

1. Go to profile settings
2. Ed

[2018-07-15 10:50] domcorvasce opened #247 "Feature Proposal: Add sub-dashboards per spoken language"
# _Feature_
### Request or User Story

Well, there are a lot of users on dev.to which speak different languages and come from different countries.
What about adding some sort of sub-dashboards grouped by spoken language where users can interact with each other using their native language?

### Definition of Done

I should be able to choose where post my article:

  - on the English dashboard (the

[2018-07-17 15:55] pkfrank commented on #243
Hey @jsjlewis96, thanks for the suggestion.  We agree that this should be a supported feature.

As you may know, we're in the process of [navigating to fully open-source next month](https://dev.to/ben/the-devto-codebase-will-go-open-source-on-august-8-2kia).  I'm going to replicate this issue in our private repo so that anyone interested can take an immediate look.

I'll plan to update this ticket

[2018-07-17 16:04] pkfrank commented on #244
Hey @atefBB, thanks for the issue.  We'll investigate and try to implement a fix.  It's definitely our goal to provide a smooth offline reading experience via service workers.

[2018-07-17 16:10] pkfrank commented on #245
Hey @notriddle, thanks for the thorough and very well-described issue.  This is definitely a keyboard shortcut that we agree should be supported.

We're considering this issue "blocked" for now, as we're going to first focus our efforts on replacing the comment box with Preact.  After we've done that, implementing this feature will be a lot more straightforward and manageable on our end.

As a rem

[2018-07-17 16:19] pkfrank commented on #247
Hi @domcorvasce, thanks for the issue.

We're definitely interested in improving our multi-language features.  We introduced some features to support multiple languages [last November](https://dev.to/ben/changelog-language-detection-and-segmentation-266), but we plan to give this entire direction a much closer look soon.

Your suggestion about having different "dashboards" could be the right appro

[2018-07-17 16:47] jessleenyc commented on #246
Hey @Eros - can you should us an email at yo@dev.to with your dev.to username?

[2018-07-17 16:55] Eros commented on #246
Sure thing!

[2018-07-17 19:42] jsjlewis96 commented on #243
@pkfrank I've signed up for the early access, so if I'm accepted and no one else goes for it I'd be happy to give this a crack 👍

[2018-07-18 05:50] atefBB commented on #244
Thank you!

[2018-07-20 07:20] IvanDelsinne opened #248 "Cannot post any comment, giving "Not authorized to change""
### Current Behavior

When I try to post a comment, I get the error shown in the image below.

!["The change you wanted was rejected"](https://pix.watch/gSuyl4/Ysltly.png)

### Expected Behavior

It should post the comment

### Additional Info (steps to replicate, device/browser, helpful links)

I encountered the problem on the [following post](https://dev.to/sadarshannaiynar/linux-distro-you-are-

[2018-07-20 21:55] genemars opened #249 "Load a specific page with Glitch embed"
# _TASK or Feature_
### Request or User Story

When writing a tutorial it could be useful to load a specific page from a glitch project.
Currently the starting page is always `index.html`.

### Definition of Done

It will be done when `{% glitch imageticker /test.html %}` will open Glitch embed with the `test.html` page instead of returning `Project not found`.

[2018-07-21 09:39] powerman opened #250 "Vivaldi: small images are fail to load because of service worker"
### Current Behavior
Small images are load in Chromium, but not in Vivaldi.

### Expected Behavior
Small images should load in Vivaldi.

### Additional Info (steps to replicate, device/browser, helpful links)
With open Inspector and switched on `Application → Service Workers → [✓] Bypass for network` these images loads fine.
Vivaldi version: 1.15.1147.52 / Linux

### Screenshots
![image](https://u

[2018-07-21 09:46] powerman opened #251 "Emoticons are not shown with existing fonts"
### Current Behavior
Emoticons in many places including contact page are not shown.
I'm using Linux, tested this both in Chromium and Vivaldi, and confirmed I've fonts (ttf copied from my old Windows) mentioned in CSS:
[code]
I've tried to disable this font in Inspector to try other fallback fonts - no one has these glyphs.
This is probably same as #52 but it was closed as fixed year ago so it loo

[2018-07-23 14:55] maestromac commented on #248
Hello @IvanDelsinne . While it may be unrelated, we had a site-wide memory issue 3 days ago. Can you verify if this is still happening to you?

[2018-07-23 15:14] IvanDelsinne commented on #248
Tried again and it seems to be working fine now. I guess the problem was either this memory issue or a cache issue on my side.

[2018-07-23 15:14] #248 closed

[2018-07-23 15:16] maestromac commented on #248
@IvanDelsinne Our guess is that memory issue caused everything else to timeout. Thanks for checking!

[2018-07-24 15:35] benhalpern commented on #249
Cool, I agree with this. In terms of the implementation, right we've only had "single argument tags", but second args separated by spaces seems good. This could be done without spaces, like `{% glitch imageticker/test.html %}` but separate args seems like a clean approach. @maestromac can you be in charge of thinking this through and/or implementing?

[2018-07-26 15:42] mmarinez commented on #77
@Zhao-Andy Hello , Im having this same issue, I though it was something I was doing wrong, should I send you an email aswell?

[2018-07-26 22:30] genemars opened #253 "Glitch embed: full screen button not working"
# _BUG_ (minor)

### Current Behavior
Click or tap over the Glitch embed full-screen button does nothing.

### Expected Behavior
Open the full-screen Glitch.

[2018-07-29 20:16] mudlabs opened #254 "Enable Accounts Removal."
### Definition of Done
When a user can disconnect their _Twitter_ or _GitHub_ profile from their _Dev.to_ profile.

### Notes
Currently _Dev.to_ offers no way out. Users should be able to disconnect external profiles form their _Dev.to_ profile.

For example, a user creates their account via _Twitter_, and now wants it connected to _GitHub_. But they don't want the two platforms connected through

[2018-07-30 11:10] kay-is opened #255 "Browser scrolls to the bottom of the page"
# _BUG_
### Current Behavior

When I try to write a new article, the browser always scrolls the page all the way down, but only when I type something after the `description: ` line.

### Expected Behavior

I can write normally without any broken auto-scrolling to the bottom.

### Additional Info (steps to replicate, device/browser, helpful links)

I'm using _Version 68.0.3440.75 (Offizieller Build

[2018-07-30 18:05] jessleenyc commented on #77
@mmarinez an email to yo@dev.to would be great, thanks! Please be sure to include the github & twitter usernames and the emails associated w/ each. @Zhao-Andy

[2018-07-31 19:33] #255 closed

[2018-07-31 19:59] Zhao-Andy commented on #255
@kay-is Fixed :)

[2018-07-31 22:39] AminArria opened #256 "When writing an article it refocuses to the top of the page"
# _BUG_
### Current Behavior
I'm writing an article and whenever I make a keystroke it refocuses me to the top of the article.  Basically I can't write anything below my screensize.

### Expected Behavior
To use the markdown editor without issues.

### Additional Info (steps to replicate, device/browser, helpful links)
Firefox 61.0.1 (64-bit)
Ubuntu 18.04

### Screenshots
Trying to write at the bo

[2018-08-01 03:05] aershov24 opened #257 "Send message to a group of people"
# _TASK or Feature_
### Request or User Story
In connect section there are three tabs:
* all
* direct
* group

It's not clear how to create a group (is it even possible?) and add people into it.

### Definition of Done
New group could be created, people (mutually followed) could be added into the group, message could be send to anyone in the group.

[2018-08-01 03:10] aershov24 opened #258 "Followers/Following list doesn't contain all items, pagination needed"
# _TASK or Feature_
### Request or User Story
It seems there is currently a limitation how many followers you could see on the https://dev.to/dashboard/user_followers page. Consequently there is no ability to follow people back who followed you while ago.

### Definition of Done
user_followers page contains all the list of following users or has pagination to reach anyones contact to follow back.

[2018-08-01 03:13] aershov24 commented on #230
I would probably suggest to create a publishing API instead so the post scheduling could be delegated to 3-rd party tools that community could implement itself.

[2018-08-01 14:10] #256 closed

[2018-08-01 17:35] AminArria commented on #256
Yep, fixed. Thank you!

[2018-08-01 17:57] Stargator opened #260 "Mentor/Mentee description too short"
# _Increase size of Mentor/Mentee description to 1000 characters_
### Request
Increase the number of characters a mentor or mentee can use to describe what they are looking for.

### Definition of Done
The description's max size is increased to somewhere between 750 and 1001 characters.

### Notes
As a mentee, I would like to explain further the problem or outcome I want.

# _BUG_
### Current Beha

[2018-08-01 17:58] Stargator commented on #254
I would hope to include being able to delete or remove my dev.to account as well.

[2018-08-02 12:13] genemars opened #261 "[podcast-widget] markup/render error?"
![schermata da 2018-08-02 14-10-06](https://user-images.githubusercontent.com/6654265/43582879-1ace2aa4-965e-11e8-8b5b-17ef79ead3ce.png)

[2018-08-03 06:11] slaFFik commented on #254
@mudlabs You can disconnect Dev.to from Github by going to Github Settings (https://github.com/settings/applications) and clicking `Revoke` for dev.to.
Same for Twitter here: https://twitter.com/settings/applications

[2018-08-03 06:14] mudlabs commented on #254
@slaFFik true. But It would also be good to have this available from the Dev.to profile settings.

[2018-08-03 14:21] Hazz223 commented on #246
I'm having the same issue. Is there a fix for this?

[2018-08-03 15:15] Eros commented on #246
@Hazz223 I sent them an email with the information posted above, they came back with a fix on my account within a couple of hours. Sure if you email them to address listed above they'd be able to help you.

[2018-08-03 19:24] Zhao-Andy commented on #246
@Hazz223 and anyone else in the future with this issue: send an email yo@dev.to with your dev.to username and we'll take care of it. We'll have a better way of handling this in the future. :)

[2018-08-03 19:24] #246 closed

[2018-08-03 19:26] Zhao-Andy commented on #261
Hey @genemars, sorry not sure what I'm looking for here; could you explain a bit what happened exactly?

[2018-08-03 19:44] genemars commented on #261
Nothing happened. Everything is cool and working but doing a "View page source" I noticed that the markup is a bit screwed. Do not use the DOM inspector as the inspector will automatically fix inconsistent tags. Or perhaps am I missing something? =)

[2018-08-04 23:33] wahibhaq opened #262 "Unable to embed speakerdeck slides"
# _TASK or Feature_
### Request or User Story

Request for the possibility to embed speakerdeck slides inside the post.

### Definition of Done

### Notes

# _BUG_
### Current Behavior
Nothing shows up if I add the embed code snippet like this one.

[code]

### Expected Behavior
Slides show up

### Additional Info (steps to replicate, device/browser, helpful links)
Chrome

### Screenshots

[2018-08-06 01:33] ItsASine opened #263 "Quota Exceeded error in serviceworker.js"
# _BUG_
### Current Behavior

[code]

This console error occurs approx 1-24 times on each page navigation until eventually the site comes to a crawl and I have to empty cache and hard reload.

### Expected Behavior

Navigating amongst the application without performance issues :)

### Additional Info (steps to replicate, device/browser, helpful links)

I do not know anything about service worker t

[2018-08-06 16:31] benhalpern commented on #262
We user our own embed syntax.

`{% speakerdeck f819ae07935a475c82c3f71d578e9e12 %}`

This should work.

We're working to make this clearer within the UI.

[2018-08-06 16:31] #262 closed

[2018-08-06 17:27] ItsASine commented on #263
Never knew that existed. That's fun!

Looks like I have a v2.6.0 and a v2.6.1 of sw-cache
![screenshot 2018-08-06 at 1 19 33 pm](https://user-images.githubusercontent.com/11020425/43731112-7a8a0e7a-997b-11e8-9ad0-39e43280b046.png)

* Deleting all three and reloading gave me v2.6.0 only of sw-cache and v2.6.1 of sw-cache::pages
* I also updated the service worker since that was a button in Applicat

[2018-08-06 17:55] ItsASine commented on #263
Further playing around with that tab you showed seems to have fixed it, actually. At least on this Chromebook.

Under "Status", it had 2. 1 was running and 1 was ready and waiting, but I could overwrite that and select "skip waiting". I clicked that, which resulted in the two messages in the logs in the low part of the attached screenshot. This got me to 2.6.1 for both sw-cache and sw-cache::pages

[2018-08-07 05:04] autoferrit commented on #88
Are there any chances you guys might be considering this again? would love to see this. I would happily pay for it.

[2018-08-07 05:22] autoferrit opened #264 "Add support for a call to action form for newsletters"
# Add support for call to action forms
The idea here, would be that at the bottom of a post, there could be a form with a message defined by the author, to join their newsletter by entering in their email into a form. To handle this, they would need to provide tokens to their own account at a provider such as mail chimp that can handle the submission forms. So dev.to wouldn't have to do anything o

[2018-08-07 06:02] spidergears opened #265 "Show user-handle along with username on cards"
Along with the Username on cards, in the side bar as well as the authors description at the bottom of the posts, show dev.to user-handle. Mostly because a lot of people use pseudo names,  would like it be displayed along side their real name

[2018-08-07 06:28] aolko opened #266 "[Bad UIX] Remove important links from the footer"
![image](https://user-images.githubusercontent.com/581458/43758250-3031146e-9a24-11e8-874c-5517d6ca8df0.png)
Please stop that, remove the important links from the footer if you already know that pages have infinite scrolling.

[2018-08-07 06:55] IvanDelsinne commented on #266
I think that infinite scrolling is a bad design choice by default.

I'd expect mportant and "global" links to be in the footer, but in that case, no one can access such links.

The easiest and, imo, best solution would be to have some "Load more" button instead of automated loading-trigger.

[2018-08-07 07:00] aolko commented on #266
or you can move the links to the sidebar

[2018-08-07 13:57] genemars opened #267 "Frequent 500 errors today"
# _BUG_
### Current Behavior
Really hard time writing a post.
"500 Error: It's not you, it's me."
It's happening very often today, I lost twice part of the content I was writing.
Not even pressing the "back" button will save the lost work. So upsetting =/
I also noticed that at least with FireFox there is a serious caching issue.
For instance opening a post from the dashboard it often happen to re

[2018-08-07 14:59] jessleenyc commented on #267
@genemars thanks for the report and suggestion.
Were you eventually able to publish? If not, we can likely recover your work. Let us know!

[2018-08-07 15:05] genemars commented on #267
@jessleenyc from last accident I only lost few changes that I've been able to recover from my mind =)
That's ok. I've learned the lesson and I'm using *gedit* as a safe place to backup article while writing/previewing.
I'll publish it later when done with it. Thanks!

[2018-08-07 17:40] benhalpern opened #268 "Test"
Test issue, please ignore.

[2018-08-07 17:41] #268 closed

[2018-08-07 17:41] muhammadtalhas commented on #268
Top priority. Please fix.

[2018-08-07 23:59] michaelgv commented on #267
Just a thought, maybe worth implementing client-side storage in the event 500’s are thrown while autosaving attempts? @jessleenyc

[2018-08-08 08:57] zdnk opened #269 "Possibility to link articles"
# _Sharing links to articles_
### Request or User Story
Possibility to link articles

### Definition of Done
User can share article **or a link** to article on his personal blog, Medium etc...

[2018-08-08 13:36] mdemblani opened #270 "Unable to Embed a single file from Github Gist"
# _BUG_
### Current Behavior
Special Liquid tags for embedding gists have been provided. But these tags, let you embed the complete gist with all the files present in the gist. Currently, there is no way to embed just a single file from a gist containing multiple files. Github also provides you with a way to fetch only a single file from the gist using the following link:

[code]

### Expected Beh

[2018-08-08 16:38] jessleenyc opened #271 "Podcast section enrichment"
We have let the podcast section get into disrepair a bit over time. There's not _that much_ technical debt, per se, but it just is not a well-maintained part of the site conceptually. And with a lot more critical things, it keeps getting pushed back.

I think it could lend itself quite well to some community maintenance because there's still a lot of promise there.

## Basic things that need to be

[2018-08-08 16:39] jessleenyc opened #272 "Finalize Article Editor v2"
This is a pretty good first issue for front-end devs because it's pretty contained, it may be a bit of a time commitment, so not great if you just want to get your feet wet.

We now have the next-gen editor in the works. It should make creating articles simpler and more powerful, while maintaining the basic markdown folks love. Once this is done we will also have a link to the original front-matte

[2018-08-08 16:59] #241 closed

[2018-08-08 17:05] jessleenyc opened #274 "Add outside link functionality to {% link %} liquid tag"
@benhalpern commented on [Thu Jul 12 2018](https://github.com/thepracticaldev/dev.to_core/issues/574)

# _TASK or Feature_
### Request or User Story
As a user I'd like to be able to use the `{% link` interface in order to post outside links.

This would involve fetching the info from the outside link and display it. There are some design decisions here that could use some discussion. It should bas

[2018-08-08 17:06] jessleenyc opened #275 "Internal events controller improperly parsing checkbox boolean input"
@benhalpern commented on [Wed Jul 11 2018](https://github.com/thepracticaldev/dev.to_core/issues/565)

The "live now" functionality was messed up because past events marked as not live now were not actually getting marked that way. Something was wrong. Could be a situation with how a parameter is passed and actually treated on the back end.

I know in some contexts we parse things like this:

[cod

[2018-08-08 18:54] mscoutermarsh opened #282 "Using Rails timezone (Time.zone.now vs Time.now)"
👋 Suggestion: Could use `Time.zone.now` instead of `Time.now`

## More details
I noticed in a few places in the codebase, `Time.now` is being used.

**Example**:
https://github.com/thepracticaldev/dev.to/blob/47cdff61a0eef17a84ea2313b0ce957f5f1ac97e/app/models/user.rb#L511

This works great if the server + the Rails app are set to the same timezone (I'm guessing that's your current setup). But thi

[2018-08-08 19:29] callmemagnus commented on #263
You'll need to close the tab and open it again to have "activate" event in the serviceworker because the previous one is still in use by the currently opened tab.

See https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API/Using_Service_Workers

[2018-08-08 20:53] rodrigo-puente commented on #275
I'd like to take care of this one. I would only need a little more info on how to approach this "TDD'd with request specs."

[2018-08-08 21:10] M0nica commented on #282
I am interested in working on this. Will follow along to wait for word on whether or not this update should be made.

[2018-08-08 21:11] Awdesh opened #285 "Prerequisite in table of contents of README file doesn't navigate to Pre-requisites section in README."
User Story / Description : Prerequisite vs Pre-requisites causing this. Table of content has Prerequisite whereas description has Pre-requisites because of which hyperlink doesn't work

Definition of Done : Clicking on  Prerequisite should work,

Current Behavior : Clicking on  Prerequisite doesn't work.
Expected Behavior: Clicking on  Prerequisite should take one to  Prerequisite section in the R

[2018-08-08 21:25] M0nica commented on #260
@jessleenyc I would like to work on this issue if @maestromac did not fix this. Can you assign this to me?

[2018-08-08 21:34] jessleenyc commented on #260
@M0nica go for it!!

[2018-08-08 21:43] treeternity opened #289 "Issue installing on Ubuntu 18.04"
== Installing dependencies ==
Warning: the running version of Bundler (1.16.1) is older than the version that created the lockfile (1.16.3). We suggest you upgrade to the latest version of Bundler by running `gem install bundler`.
https://github.com/thepracticaldev/acts_as_follower.git (at master@288690c) is not yet checked out. Run `bundle install` first.
Warning: the running version of Bundler (

[2018-08-08 23:37] RyKilleen commented on #121
Hey @benhalpern, congrats on going for OSS!

I'd love to revisit this issue.

Best case, I'd suggest enabling a sane default outline for everything that fits the aesthetic, and for any problematic elements, designing a different focus state for them! I'm happy to help tackle it.

[2018-08-08 23:41] benhalpern commented on #282
Great, thanks @mscoutermarsh

@m0nica you can definitely jump on this one. I know the test that covers this code isn't very sensitive, so everything should just work. Track down this line in `app/models/user.rb` and make this change and we're good to go.

We use `Time.now` all over the app and I can't think of why we'd prefer it to `Time.zone.now` in any case, so feel free to project search `Time.

[2018-08-09 00:53] waynehoover opened #293 "Replace s3_direct_upload with active storage direct uploads?"
This commit surprised me:

https://github.com/thepracticaldev/dev.to/commit/40a8476704e3080cadbeb177d4102211f3a7a7fa#diff-8fe8bb54a663b8f12c15fab3893e6d36

Why might I be surprised? Well I am the creator of https://github.com/waynehoover/s3_direct_upload and I haven't touched it in years. I'm happy to see that it is still providing value to people, but I'm curious why it was decided to be used her

[2018-08-09 02:28] JoyBhalla commented on #274
Can I work on this?

[2018-08-09 05:41] atefBB commented on #244
@agonzalez0515 Nice to do! Thx.

[2018-08-09 06:41] FRosner commented on #97
Now after the repo is open source, let's get to it! 🤣

I figured out that DEV uses the [redcarpet](https://github.com/vmg/redcarpet) Markdown parser. It seems that people already tried rendering LaTeX equations in redcarpet: https://github.com/vmg/redcarpet/issues/559

To avoid unwanted interactions with the Markdown syntax, the recommendation seems to be to embed the equations into backticks whic

[2018-08-09 06:48] FRosner commented on #97
I'd like to see

- [ ] layout of existing posts is not broken

as part of the DoD.

[2018-08-09 07:25] GMartigny commented on #274
It can be pricey for enterprise, but you could take a look at https://embed.ly/ services.

[2018-08-09 07:41] Nirajn2311 opened #298 "Can't install dependencies(Timber)"
## Bug Report
### Current Behavior
When I run `bundle install` it installs all dependencies but it can't install msgpack 1.2.2(timber depends on it) as it says that msgpack require ruby version to be <2.5 and >=1.9 but in README we're supposed to install 2.5.1 .
Could someone resolve this issue quickly as I am hyped and ready to solve issues for this repo.

### Mobile & Desktop Screenshots/Recordi

[2018-08-09 07:41] domcorvasce opened #299 "Add Dockerfile"
## Feature Request or Task

Add a Dockerfile (and maybe a docker-compose.yml) to allow contributors to set up a development environment using Docker.

### User Story / Description

It'd be useful to have a Dockerfile ready-to-use on the repository for contributors, especially for early contributors who needs to set-up not only Ruby, but also PostgreSQL, NodeJS and all the required dependencies.

#

[2018-08-09 08:49] mikaoelitiana opened #304 "Add i18n to support other languages"
## Feature Request

### Description
dev.to is a great community for developer but today it's only available to english speaking users as far as I know. It would be great to have i18n and be able to deploy a dev.to version for other language speaking communities.

### Definition of Done
Users can deploy a non english version of dev.top

[2018-08-09 10:27] dipth commented on #282
You can also use `Time.current` in case you want to save yourself some keystrokes :)

[2018-08-09 12:55] Zhao-Andy commented on #298
Hey there, looks like the error is saying `The current Ruby version is 2.5.0`, which doesn't match your `ruby -v` version. Are you using a Ruby manager like `rbenv` or `rvm`? If so, could you grab the Ruby version that your Ruby manager is using?

I _think_ what's happening is that `Ruby 2.5.0` is being used, and that's conflicting with the `msgpack` gem Ruby version requirements.

[2018-08-09 13:16] djhopper01 commented on #275
I started working on understanding the code around this last night. @jessleenyc is this something that was broken previously, but now fixed? But now you'd like to add the tests?

I ask because I wrote a request spec and a feature spec around this, but couldn't produce a failing result. Maybe I'm missing something though - just wanted to get some additional clarity for the issue.

By the way, congr

[2018-08-09 14:46] jessleenyc commented on #274
@JoyBhalla Yes! Let's over communicate once you get to some of the design considerations here.

[2018-08-09 15:42] Nirajn2311 commented on #298
I am in Windows and I didn’t use rbenv and rvm.

[2018-08-09 16:15] maestromac opened #306 "Document Windows setup for local development"
@nickytonline commented on [Wed Aug 08 2018](https://github.com/thepracticaldev/dev.to_core/issues/674)

# _TASK_
As soon as the code is open source, this is going to become a priority.

Document local environment setup for Windows and modify any scripts (if necessary) to get a development environment up and running for Windows.

If you're on a Mac, install a [free VM](
https://developer.microsoft

[2018-08-09 16:30] benhalpern commented on #304
I agree. We've been a little paralyzed by the implementation details, and how this would be done with regards to our CDN-driven approach.

Basically, most content is delivered cached at the edge, as opposed to re-computed from the origin, so we need to make sure i18n plays nicely. I know it's not that hard, but we need to make sure we do this in a way that plays nicely with our architecture.

So l

[2018-08-09 16:42] benhalpern commented on #293
Thanks for stopping by our humble repo Wayne.

I definitely recall the day s3 uploads went in as a somewhat panicked approach to getting our video transcoding working properly by moving from some other provider to an AWS approach after the other thing was having issues.

So I'm more than happy to revisit this because it was a total hack job in the first place.

The ActiveStorage story seems like t

[2018-08-09 16:45] katafrakt commented on #289
The output suggests that you are using system Ruby. Do you have `ruby-dev` package installed?

[2018-08-09 16:51] joeberetta commented on #304
@benhalpern I propose to introduce certain rules of translation, [as did the Microsoft development team](https://github.com/Microsoft/Localization/wiki/How-to-Contribute-to-docs.microsoft.com), for example

[2018-08-09 17:39] Mcdostone opened #309 "Images from dev.to are not displayed on discord"
## Bug Report
### Current Behavior
I wanted to share my joy to see [dev.to](dev.to) open sourced. I posted this link https://dev.to/ben/devto-is-now-open-source-5n1 on a discord developer channel (grafikart.fr For those who know) . The problem is no image is displayed in the thread.

I don't know if the issue comes from dev.to or the discord app but links from other websites (youtube for instance)

[2018-08-09 17:39] waynehoover commented on #293
I suppose we can move to ActiveStorage in a piecemeal way. We can start with video uploads and work from there.

I can create a new legit issue to move video uploads to active storage, which would be blocked by another story to upgrade to rails 5.2. Sound good?

[2018-08-09 18:27] Nirajn2311 commented on #289
Try updating bundle

[2018-08-09 19:26] rhymes commented on #309
Mmm this may or may not be an issue with the app, Discord. The dev.to posts use [open graph](http://ogp.me/) to describe metadata, the one related to the image is `og:image` which, in the case of the post you linked is the following:

[code]

which renders the title image:

![devto opensource image](https://res.cloudinary.com/practicaldev/image/fetch/s--DXkV9vkl--/c_imagga_scale,f_auto,fl_progress

[2018-08-09 19:45] benhalpern opened #311 "Debug base.js.erb"
## Bug Report
We "use" the [InstantClick JS](http://instantclick.io/) lib for some unique perf tricks. But what we actually did was that I copied it into the project and then hacked away at different ways to use it. Basically we do things like replace only the body, and not the top bar and footer.

This is all good, and had I known exactly what changes we'd make over time, it would still be clean.

[2018-08-09 19:55] Zhao-Andy commented on #309
Hey ya, @rhymes you’re on the right track with the `<meta>` tag. I spent some time on this a few weeks back since I use Discord and it bothered me that our images don’t show up. :upside_down_face:

I think the conclusion that I came to was that Cloudinary sends a `401 Access Denied` response when Discord’s image servers tries to fetch our images. Whoever takes this up, feel free to follow where I

[2018-08-09 21:18] #285 closed

[2018-08-09 21:40] benhalpern commented on #282
@dipth `Time.zone.now` strikes me as possibly more idiomatic, but I don't have a strong opinion. @M0nica feel free to take your picking.

[2018-08-09 22:39] Zhao-Andy commented on #298
Gotcha, I'm not too familiar with Windows development. How did you install Ruby from the start? I'm guessing you used a Ruby version manager, but I could be wrong.

I think what's happening is your `bundle` gem is running from a different Ruby version than the one your environment is using. See this thread for a related issue on macOS: https://dev.to/andy/comment/4icc

[2018-08-10 01:01] thomaslawton91 commented on #289
For Ubuntu try running `sudo apt install ruby-all-dev` though using [rbenv](https://github.com/rbenv/rbenv) is most likely an easier solution.

[2018-08-10 01:27] nickytonline commented on #289
As Thomas mentioned, it's recommended to use rbenv. see the [pre-requisites](https://github.com/thepracticaldev/dev.to/blob/master/README.md#pre-requisites) section of the README.

[2018-08-10 02:00] djhopper01 commented on #275
Hey, yes I can push those and make a PR. @rodrigo-puente did you still want to take this one? I don't want to jump in if you've already got something here.

[2018-08-10 02:08] thomaslawton91 commented on #127
I'd like to grab this but I'm a bit unsure as far as the scope here. I see quite a few instances of `<header>` in the repo but not sure whether they should be getting changed to `<h1>` etc. or if they need to have another `<h*>` included. Any further direction would be much appreciated!

[2018-08-10 02:31] nickytonline commented on #289
It'd be great to link that post from DO into the docs. Also, this relates to #306.

[2018-08-10 02:48] thomaslawton91 commented on #289
@nickytonline good idea! I actually ran into a small issue last night setting the environment up so I figure maybe it would be good to share that as well.

[2018-08-10 02:52] thomaslawton91 opened #313 "Linux setup documentation"
## Feature Request or Task
As the documentation lays out setup for macOS it would be helpful for some to have documentation for Linux setup

### User Story / Description
As a Linux user I would like to find documentation that helps me easily set up the dev.to environment on my machine.

### Definition of Done
Documentation detailing the setup of environment setup on a Linux machine is clearly deta

[2018-08-10 03:27] rodrigo-puente commented on #275
@djhopper01 go ahead, I don't have much experience writing request specs and feature specs. I'll take a look at yours and hunt for another good first issue 🙂

[2018-08-10 05:33] rhymes commented on #298
@Nirajn2311 try `bundle update msgpack`, according to the Changelog msgpack to work on Ruby 2.5 in Windows needs to be at least at 1.2.3: https://github.com/msgpack/msgpack-ruby/blob/master/ChangeLog

[2018-08-10 05:41] rhymes commented on #282
This is what Time.current does in Rails https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/time/calculations.rb#L37 :

[code]

[2018-08-10 08:39] Nirajn2311 commented on #298
@rhymes but the bundle will check it against the gemfile(msgpack version is 1.2.2 in the gemfile) and it won't allow it to pass.

[2018-08-10 10:30] rhymes commented on #298
@Nirajn2311 not really, msgpack is only specified in the [Gemfile.lock](https://github.com/thepracticaldev/dev.to/blob/master/Gemfile.lock#L847) as `msgpack (~> 1.0)` which means that you can update it to anything with 1 as major version.

If I issue:

[code]
it updates the Gemfile.lock like this:

[code]
You should do it and test if it works, then you can submit the PR ;-)

[2018-08-10 11:02] rugk opened #317 "ActivityPub support"
## Feature Request or Task

### User Story / Description

As a user of Dev.io/Mastodon/Peertube/…, I want a federated web, where I can follow anyone on any instance of a "social network" (or similar), because it is what the web is like/should be and is a usability improvement.

For this to work, you should try to add ActivityPub support, as this is the new standardized federation protocol. See:
*

[2018-08-10 11:53] Nirajn2311 commented on #298
@rhymes well along with it even pg has same issue so if I run the above command it stops at pg.

[2018-08-10 11:59] michaelgv opened #318 "[Feature Suggestion] User Spaces"
## Feature Request or Task

### User Story / Description
As a user of Dev, I find the profile pages of users very informative, and I see many users using the dev platform as their `blog` platform. This presents an opportunity to give the dev profiles some love. Much like how Reddit's done their own "self posting" on profiles, I think it would be nice to see something similar on Dev. Here's a high-

[2018-08-10 12:06] michaelgv commented on #317
It would be nice, as the posts could be synced over to fediverse, but it begs the question, if someone interacts on the fediverse, should Dev's platform automatically insert that reaction, or should it leave that door closed? If we go with the former, it's a tad bit of work to get it properly implemented, and effectively it's "shadow" accounts; syncing could be become a very bad nightmare quickly.

[2018-08-10 12:25] bdod commented on #299
Take this ! ))

[2018-08-10 13:28] rhymes commented on #298
@Nirajn2311 unfortunately I don't have Windows so I can't help you bit I'm sure you can solve the installing issue! For every gem that blocks `bundle install` you can go to the website and check if there's a new version that fixes things, iterate until `bundle install` works.

For example, with `pg`, unfortunately the Gemfile is stuck to 0.21 and Ruby 2.5 + Windows is not supported with that versi

[2018-08-10 13:34] rhymes opened #319 "Specifying PostgreSQL minimum required version"
## Feature Request or Task

The README should be a little more explicit about which version of PostgreSQL is required.

What version is dev.to running on production?

I would set that as the minimum required version.
I thought about this while investigating `pg`'s [Changelog](https://bitbucket.org/ged/ruby-pg/src/default/History.rdoc) for this conversation about the issues of installing dev.to on

[2018-08-10 13:45] LukyVj opened #320 "Wrong algolia logo"
Hey! Lucas here, working at algolia!

What a cool website & community you've got here!

I'm just writing this small issue to let you know that you're using a slightly "old" logo!
![](https://puu.sh/BbXzl/f516cbbd64.png)

Here is a ![link to the new one!](https://www.algolia.com/static_assets/images/v3/shared/logos/algolia/logo-algolia-nebula-blue-whitespaces-bf76438c.svg)

[2018-08-10 14:31] florimondmanca opened #321 "Improve documentation of RSS cross-publication feature"
Hi! Thanks for the RSS cross-publish feature. Just had a suggestion related to its documentation in the website.

## Feature Request or Task

### User Story / Description

As a user wanting to cross-publish on DEV, I would like to have a description of how a draft is created from an RSS item so that I can decide whether my feed is correctly formatted for cross-publication.

### Definition of Done

[2018-08-10 15:33] CzechsMix opened #322 "Also display the help, markdown, preview and save post buttons at the bottom of the edit post page"
### User Story / Description

As a: Post Author

I need: The help, markdown, preview and save buttons to also appear at the bottom of the screen after the post textbox.

So that: I don't have to scroll all the way back to the top of the article to preview my post and get back to editing.

### Definition of Done

Given: the edit/new post page
When: It is rendered
Then: The help, markdown, preview,

[2018-08-10 15:35] Zhao-Andy commented on #320
Hey @LukyVj, thanks for the heads up! We'll update it accordingly. 👍

[2018-08-10 17:34] benhalpern commented on #317
I'm in favor of this sort of thing. In the past I've looked into this but didn't come away with specific product inspiration. @michaelgv's questions are definitely where my head goes. We'd have to do this the right way.

So I'm very excited by this and I think it could be really fun to work out as a community, but I think there are a lot of conceptual details to hammer out.

So let's commit to thi

[2018-08-10 17:42] benhalpern commented on #322
We actually have a new V2 editor in the works. It's pretty close to being done, so immediate improvements should go there. And it happens to solve this issue. The old one will still be supported, but we should put our efforts on the new version out the door.

https://github.com/thepracticaldev/dev.to/issues/272

Someone from our team will pick this up if nobody else does, but this is a great commu

[2018-08-10 18:29] Nirajn2311 commented on #298
UPDATE: stackprof won't install in windows so I commented it out in the gemfile.

[2018-08-10 18:58] rhymes commented on #298
@Nirajn2311 use the latest one, 10.5 I think, you can use the installer from PostgreSQL website: https://www.postgresql.org/download/windows/

I opened an issue about specifying the version in the README https://github.com/thepracticaldev/dev.to/issues/319

stackprof won't definitely work on Windows, I think you can fix it by specifying the platform for which it works, bundler will ignore it if it

[2018-08-10 19:39] Nirajn2311 commented on #298
@rhymes Thx for your help, I got the gems installed but now I can't setup the db by bin/setup.

[2018-08-10 19:39] #298 closed

[2018-08-10 20:38] monkeywithacupcake opened #326 "Extend moderator options?"
## Feature Request or Task
Let moderators give positive feedback
### User Story / Description
Moderators can currently identify items that are inappropriate. They cannot applaud good posts or helpful comments.
### Definition of Done
When moderators have a button or choice to flag especially well written and helpful posts.

[2018-08-10 20:58] RyKilleen commented on #127
@thomaslawton91 This is something that is tied really closely to the nature of the content.

Headings inside the `header` tags in the side bar can be whatever they need to be, if each widget is defined as a `section` instead of a `div`.

If styling of headers is tied tightly to the tag instead of a class, that introduces some complexity.

[2018-08-10 21:42] joeberetta commented on #266
***I hope it will come soon...***
Think it would be done as in the Medium site, i.e. footer should be sticky as a **top-bar**

But now it looks poor...
![dev.to footer](https://user-images.githubusercontent.com/42122160/43982512-6a80a036-9d20-11e8-8a98-9094a82116d9.png)

[2018-08-10 21:45] w0298i commented on #266
Maybe have a full-width footer? That would look 10x better than the one you've sent. I've seen this work on Medium, but they are known for keeping on so don't take too many ideas from there. What about a close button on the footer, too?

[2018-08-10 21:52] joeberetta commented on #266
@w0298i I think you are right. I like full-width footer. And by the way it would be more convenient if  a link to the previous page will be added. It's not so convenient when you want back to your reading list after reading the post.

[2018-08-10 21:52] maestromac opened #327 "Restructure files/folders of new front-end code"
@nickytonline commented on [Thu Aug 02 2018](https://github.com/thepracticaldev/dev.to_core/issues/654)

# _TASK_
Just some housekeeping...

We're not a full blown SPA. We have components sprinkled into the site, e.g. Chat, Search (soon to be expanded on).

Initially, there was only on-boarding code in the new front-end code base. Since other things are there now, e.g. Search, chat etc., here's wh

[2018-08-10 21:57] maestromac commented on #327
Hey @nickytonline , @benhalpern and I are 100% onboard with this proposal. Our original plan was to follow [webpacker's suggestion](https://github.com/rails/webpacker#usage) but we may have strayed away from that line. This looks super neat 👍

[2018-08-10 23:06] nickytonline commented on #327
Cool thanks Mac.

[2018-08-11 13:57] ortegacmanuel commented on #317
@benhalpern thanks for your reply. Recently [Write.as added support to ActivityPub](https://discuss.write.as/t/activitypub-support/64). They added a basic implementation as described in the next list

- Finding Write.as blogs by name from within Mastodon, e.g. @blog@write.as for write.as/blog/ or blog.writeas.com 4
- Following Write.as blogs
- Getting blog posts in your home stream / on your insta

[2018-08-11 19:00] araslanov-e opened #333 "Haml or Slim"
Why you don't use Haml or Slim?

[2018-08-12 03:39] nickytonline opened #334 "Run prettier for markdown files on precommit"
## Task
Since we already run prettier on *.json, *.js and *.jsx files, we might as well run it on markdown files as well. This will keep the format of all markdown files consistent, thus removing the formatting discussion from PRs that contain markdown files.

[2018-08-12 12:59] koheisg commented on #333
I think the charm of dev.to is the speed of response. So, I think that you should use erb with the most speed.

[2018-08-12 16:05] nickytonline opened #336 "Add some more VS Code recommended extensions"
## Task
### Description

Adding some more recommended VS Code extensions for new users who clone the project. Like all existing recommended extensions, the user is prompted to install the recommended extensions, but should they choose not to, they can disable the prompt to install them.

-------

### Additional Info (device/browser, helpful links)

* [Visual Studio Code Ruby Extension](https://mar

[2018-08-12 17:50] araslanov-e commented on #333
@koheisg https://sephinrothcn.wordpress.com/2014/04/14/slim-vs-haml-performance-perspective/ (see also first comment)

[2018-08-12 17:54] araslanov-e commented on #333
May be hamlit? https://github.com/k0kubun/hamlit

[2018-08-13 00:10] #336 closed

[2018-08-13 02:05] nickytonline opened #338 "Deploy Storybook"
## Task

Storybook can be run locally, but I also put a [script in place](https://github.com/thepracticaldev/dev.to/blob/master/package.json#L15) to generate a static site for it. I was waiting for the project to go open source before we did this. If you run `npm run build-storybook`, it will generate a static site for dev.to's Storybook. It currently builds to the `./storybook-static` folder. You

[2018-08-13 02:09] CanNuhlar commented on #134
I've made a userstyle for myself recently, been using it for a while. Uploaded to userstyles.org now, nothing fancy but It'll do the job until we have a official night mode. https://userstyles.org/styles/163294/dev-to-night-mode

[2018-08-13 06:24] simonini commented on #333
Performance of hamlit and slim are improved a lot in last years and now are very near to erb.. sometimes also better  .. first source that i found with some data
about it: “Partial rendering performance in Rails” https://medium.com/@coorasse/partial-rendering-performance-in-rails-101fdfb6ffb9

[2018-08-13 06:42] koheisg commented on #333
thanks a lot info.
I should  take benchmark on dev.to and comment.

[2018-08-13 06:47] rhymes commented on #333
But if the performance is the same, what's the real gain on rewriting all templates with haml or slim?

[2018-08-13 06:57] araslanov-e commented on #333
@rhymes less code - fewer errors
For example - partial app/views/articles/_sidebar.html.erb 272 lines -> 178 lines

[2018-08-13 07:04] simonini commented on #333
@rhymes and the syntax with this tool is awesome.. gain in readability and clarity..

[2018-08-13 09:17] bdod commented on #299
Maybe ) I'm look at this after finishing with this ... I'm always glad add something to docker )

[2018-08-13 10:03] alex-bender opened #339 "Broken markup on /readinglist page"
## Bug Report
Broken markup on page `https://dev.to/readinglist`
### Current Behavior
Footer is overlapping left navigation column on page `https://dev.to/readinglist`
### Expected Behavior
Footer should not overlap any part of the site
### Mobile & Desktop Screenshots/Recordings
![image](https://user-images.githubusercontent.com/3628862/44025407-bd4fa094-9ef8-11e8-9856-b21548710b41.png)
### Addit

[2018-08-13 11:27] araslanov-e commented on #333
https://github.com/haml/html2haml

[2018-08-13 12:14] CzechsMix commented on #322
Thanks! I'll check it out the v2 editor.

[2018-08-13 12:14] #322 closed

[2018-08-13 12:41] MatMoore opened #340 "Give users more control of their feeds"
## Feature Request
### User Story / Description
I want to be able to be able to curate a feed around topics that interest me, so I can stay up to date and participate in discussions about them.

My understanding of the "feed" feature is I subscribe to topics and people, then a mysterious algorithm decides what I should read.

Some content is not obviously related to anything I follow. For example,

[2018-08-13 14:49] davidjeddy opened #341 "Enh: 404 page performance"
## Feature Request or Task
Enhance the performance of the 404 page, either by removing the animated 404 image or animating it via different methods. (SVG+CSS?)

### User Story / Description
On slow connections the 404 page can take a significant time to load as well as undue loarge about of data in due largely to the animated image.

### Definition of Done
404 page load performance < 250ms

------

[2018-08-13 15:41] Kurtz1993 opened #343 "Cannot add mx.linkedin.com URLs to my profile"
## Bug Report
My LinkedIn profile is in the subdomain mx.linkedin.com, seems that Dev.to doesn't like subdomains :/
### Current Behavior
Profile is saved successfully.
### Expected Behavior
Cannot save profile and says URL is not valid.
### Mobile & Desktop Screenshots/Recordings
![image](https://user-images.githubusercontent.com/5412470/44042237-5f7c80e4-9ee5-11e8-97b8-7ce73dbf1a91.png)
![image](

[2018-08-13 15:44] bdod commented on #299
@rhymes  hmm i'm look at his MR and don't know , I'm trying to do my MR without interfering with the code or settings but he take some another way ... i'm already did my MR, check it

[2018-08-13 16:30] benhalpern commented on #340
100% on-board. I'd push back against the notion that we can create anything that nobody would feel is ever "padded with irrelevant content", and as much as we can, we are definitely trying to optimize for happiness rather than engagement. I could have created this type of issue myself.

Currently the top three posts are shared amongst the whole community and everything else is based on your follow

[2018-08-13 17:50] benhalpern commented on #343
`/\A(http|https):\/\/(www.linkedin.com|linkedin.com).*\z/m`

Looks like that `www` should be a wildcard.

This is ready for a fix.

[2018-08-13 18:05] benhalpern commented on #341
Love this issue. I'd be in favor of a more useful redesign. It could still be fun, but minimizing the resources on a page like this makes sense to me. We could also add more useful links on the page. Possible places you may want to navigate to, as well as a link to report bugs, in case the 404 is indeed a bug.

Meta question:

At this point, do we close this issue and create a new one called "rede

[2018-08-13 18:53] markfrst commented on #339
Hi, i can fix it 🤓

[2018-08-13 19:17] genemars opened #345 "Integrations: unable to pin repositories when filed under an organization"
## Feature Request or Task

Ability to select repositories from owned organizations.

### User Story / Description

I have many repositories which I own but that were created within an organization (of which I am admin).
I cannot pin those repositories because they are not even shown in the *Integrations* list.

### Definition of Done

Allow select owned repositories not just from the profile but

[2018-08-13 19:24] markfrst opened #346 "Ignore validation for github and twitter username, if they didn't change"
## Bug Report
### Current Behavior
When i tried change profile image, i get error validation:
![image](https://user-images.githubusercontent.com/4071096/44053025-dea61354-9f57-11e8-829e-a93fd1a327de.png)
but i didn't change my github and twitter username
### Expected Behavior
I think need ignore validation this fields if they not changes
### Additional Info (device/browser, helpful links)
Browser:

[2018-08-13 19:37] davidjeddy commented on #341
Glad you enjoy the issue. I find pictures really are worth 1000s of words...and I am a terrible writer.

That being said; thank you for the quick response @benhalpern. I am open to either refocusing this issue or creating a new on to redesign the 404 page. For me it is a coin flip decision.

As for specific for a redesign. The following are purely opinion based on personal preference.
 - As a user

[2018-08-13 20:25] Zhao-Andy commented on #261
Fixed by @benhalpern via https://github.com/thepracticaldev/dev.to/commit/524d8a8aea57ec1f2cca3da537a7c3d4592f9ed7#diff-85f5aec8268e9700c652b1eac88c418dR210

[2018-08-13 20:25] #261 closed

[2018-08-13 20:35] Vimal-Raghubir opened #347 "Broken Link in Readme.md"
## Bug Report
Creating an issue link in the table of contents is broken.
### Current Behavior
Clicking the link "Creating an issue" in the table of contents isn't jumping to the appropriate section.
### Expected Behavior
Clicking the link will jump to the Create an Issue section.

[2018-08-13 20:38] benhalpern commented on #121
That approach makes perfect sense @RyKilleen. Give me a day or two to examine the current state of things and make some basic changes and then follow up with some more guidance.

Thanks for following up on this, it means so much!

[2018-08-13 20:40] ludawg44 commented on #266
@w0298i I agree with you as well and @joeberetta. For the back button, it may be nice to have it hover at the top of the frame regardless if you scroll down or up. It may save some time and effort.

[2018-08-13 21:10] benhalpern commented on #341
Cool, I can get down with all those bullet points. I'm happy to think of this as the canonical issue for a 404 page redesign. In terms of links, I think the nav bar links make sense so you don't lose context and can navigate elsewhere as you normally would. Currently 404 pages are static as the Rails default, but we could make them dynamic.

From what I gather, this is the directive:

[2018-08-13 21:38] #320 closed

[2018-08-13 21:42] benhalpern commented on #320
Hey @LukyVj this wound up being sort of counter-productive to the cause, as it kind of forced us to do what we were supposed to do, which was remove the logo. My comment from the PR:

We do ❤️ Algolia and will be adding more autocomplete stuff into the app to show off the wonderful low-latency features, and there will be more chances for things like this in the future.

If you or anyone from the A

[2018-08-13 21:46] benhalpern commented on #338
@Zhao-Andy wanna handle this?

[2018-08-13 21:46] Zhao-Andy commented on #338
Sure thing, I'll take a look into it.

[2018-08-13 22:11] #334 closed

[2018-08-13 23:00] jessleenyc commented on #258
@benhalpern are you thinking pagination or infinite scroll for this?

[2018-08-13 23:04] jessleenyc commented on #269
Hey @zdnk, can you clarify what you mean by this issue?

[2018-08-13 23:32] djhopper01 commented on #272
I've started to write some [snapshot tests](https://github.com/thepracticaldev/dev.to/compare/master...djhopper01:feature/finalize-article-editor-v2?expand=1) for this. It's helping me understand how the tags input currently works.

My hope is these tests will come in handy when refactoring.

I have a few thoughts about the code so far, so let me know if my thinking is on track. I could be missing

[2018-08-14 11:30] michaelgv commented on #326
By using existing public rating system they can. I’m not a big fan of this suggestion, as it’s unclear the intent:

When I for example hit thumbs down, it’s very clear it’s intent same with vomit.

Now if I were to press this theoretical “thumbs up” button, would it make it a pinned post? Would it merely push it up one ranking?

If the answer is to make it pinned, I’m not a fan - we’re inadvertent

[2018-08-14 11:33] michaelgv commented on #340
I feel an option to disable globally shared would be useful for user experience, ie, I can click a button that will disable global posts and only filter on the tags and users, and allow me to refine further, ie: only show user posts I follow which have X tags

[2018-08-14 13:54] davidjeddy commented on #341
**404 Page Iteration Goals**

Design Goals:
 - Minimal, humorous, not trying to do to much
 - Include site header / footer as appropriate
 - 'less is more' when it comes to loading speed and data transfer (see engineering goals)

Engineering Goals:
 - `< 250 ms` load time on a 3G connection
 - `< 100 kb` data payload
 - Log and Monitor 404 error rate in metrics systems

[2018-08-14 15:44] pkfrank commented on #339
Great, this is good to go. 👍

[2018-08-14 16:12] pkfrank commented on #97
Hey @FRosner — thanks for opening this back up.  @benhalpern will chime in with a few additional notes shortly.

[2018-08-14 16:20] pkfrank commented on #293
Hey @waynehoover, @benhalpern will follow up here shortly with a few additional thoughts.

Thanks again for stopping by and helping out.

[2018-08-14 16:29] Zhao-Andy opened #352 "Allow accounts to be merged with proper authentication"
## Feature Request or Task
This is currently a bug to be solved by a new feature. Right now we have the issue of duplicate accounts popping up every now and then. The general flow happens like this:
1. Someone signs up for an account on dev.to via Twitter or GitHub (let's say Twitter).
2. They create an account with a Twitter `identity`.
3. They go on a different session, via a different computer

[2018-08-14 17:10] justinjstark commented on #219
I personally will not use dev.to without export-all-posts functionality. I'm not willing to publish my content where it is not easily transferable.

[2018-08-14 17:12] jessleenyc commented on #346
Hey @markfrst, this is happening because it looks like you have two accounts with us. This usually happens if you logged in once with twitter, and separately with github but then tried connecting the two accounts. We're working on making it easier for people to merge their own duplicate accounts but for now we need to handle it on our admin end. Would you mind sending us an email at yo@dev.to so w

[2018-08-14 17:12] #346 closed

[2018-08-14 17:59] markfrst commented on #346
@jessleenyc thanks

[2018-08-14 18:08] Zhao-Andy commented on #204
Believe this is fixed :) @ptasker let me know if otherwise.

[2018-08-14 18:08] #204 closed

[2018-08-14 18:16] maestromac commented on #134
@CanNuhlar Nice! I like what you did there.

[2018-08-14 18:32] benhalpern opened #354 "@ mention autocompletes in comment box Frontend"
## Feature Request or Task
As a user I want to be able to start typing with @ and have it deliver me a dropdown. This is expected behavior in this context.

This means that the box would have to become a content-editable div and the code should attach to each box. Making that part work could involve some yak shaving.

This should be written in Preact, and if think it makes sense to include a diffe

[2018-08-14 18:33] maestromac commented on #319
Hey @rhymes. Yeah, this is definitely a detail we've missed. I'm going to expand our `prerequisites` section.

[2018-08-14 18:39] CanNuhlar commented on #134
Thanks, @maestromac ! I'd like to add this feature as a PR but it looks like a devious work and would require work from multiple people I guess, also I don't know if @benhalpern and his team would approve the color scheme and/or the feature itself.. The color scheme is _complete ripoff_ from Twitter's night mode.

[2018-08-14 19:03] jessleenyc opened #355 "Github Bots"
## Feature Request or Task
### User Story / Description
Specifically, we'd like to create an automated github response after a contributor's first PR is merged. We'll probably have other scenarios we'll want a bot for, but this is the use case that comes to mind.

### Definition of Done
Ping me after we know how to create the bot and I'll send over copy!

[2018-08-14 19:13] nickytonline commented on #355
I've never used it, but I think this is a good use case for [probot](https://github.com/probot/probot).

[2018-08-14 21:31] jessleenyc opened #356 "Update internal user dashboard to support mentorship"
## Feature Request or Task
### User Story / Description
As an admin, I want a dashboard to view mentors and mentees to make the matchmaking process easier.

### Definition of Done

[2018-08-14 21:55] connorshea commented on #355
I'd personally recommend Danger: https://github.com/danger/danger

[2018-08-14 21:57] jessleenyc commented on #257
Yeah, this is something we still need to incorporate. @benhalpern what's the latest with this?

[2018-08-14 22:03] pkfrank commented on #318
Hey @michaelgv, thanks for this issue, and sorry for the delay.

We're definitely in agreement that the user profile page could use some love and improvements from a design and functionality perspective.

I personally think that the Q&A section could be really cool.  It harkens back to the old forum style where you could "leave a message" publicly on someone else's profile.  Sort of like the "wall

[2018-08-14 22:03] nickytonline commented on #355
Ah yeah, I've heard Max Stoiber talk about that before for either the Styled Components repo or the Spectrum one.

[2018-08-15 01:33] benhalpern opened #357 "Dark mode!"
## Feature Request or Task
As a user I don't want to burn my eyes out on the light version of the site. We should have dark mode.
## But how?
Because we don't want to compute user settings just to serve a page, we'll need to either put dark mode settings at the edge in Fastly or even at the edgier edge with service workers. I think the latter would perhaps be best, but either result in similar con

[2018-08-15 02:22] bdmorin opened #358 "Feature Request: photo credit"
## Feature Request
photo credit badge template
### User Story / Description
I've been using unsplash on some of my posts, and I like to credit the photographer. It seems like I never use the same format, and i like uniformity. It would be nice to have a {% photocredit photoname artist url %} tag or something
### Definition of Done
Using a single tag to attribute photos for a single look on all pos

[2018-08-15 06:50] domcorvasce opened #360 "Add more filters when searching for posts"
## Feature Request
### User Story / Description

When searching for posts, I would like to be able to filter the given results by their likes, comments and publishing date.

### Definition of Done

I've a filter section right above the posts feed when searching for posts and I can adjust results by filtering posts by their reception, publishing date or comments received.

[2018-08-15 14:59] monkeywithacupcake commented on #326
No I don't think a pinned post would be helpful either. I like the "suggest email shoutout" kinda thing.

[2018-08-15 15:33] donimathis commented on #272
Does this particular project already have someone assigned to it?  How can I help with this project?

[2018-08-15 15:46] benhalpern commented on #357
Closed in favor of #134

[2018-08-15 15:46] #357 closed

[2018-08-15 15:51] benhalpern commented on #134
@CanNuhlar super in favor of the color scheme. I think it needs to be refined, but we can do that.

What I care more about is how this will technically work.

We'll have a setting on the user's profile, but we don't render the page from origin based on the user. Basically we load straight from the CDN _and then_ load user data.

So I think this should be inserted at either:
- The CDN layer on Fast

[2018-08-15 15:55] benhalpern commented on #355
I'm cool with either of these. One use case outside of enforcing rules is a follow-up message after a PR that has some "next steps" info.

Basically we want to inform folks that they've earned [the badge](https://dev.to/badge/dev-contributor) and it will be reflected on their DEV profile in a few days. Whatever the simplest way to get that going works for me.

[2018-08-15 15:59] benhalpern commented on #358
I'm in favor of this. I hadn't even thought of doing it via liquid tag. But that works!

If someone wants to claim this I could help with next steps.

[2018-08-15 16:05] GuitarKat commented on #358
Thanks for being cool on copyright and attribution.  I like this feature. I feel it's important that people attribute and we should encourage and make it easy for contributors to do so.

[2018-08-15 17:36] Zhao-Andy opened #363 "Wrap up reporting system"
@Zhao-Andy commented on [Tue Jul 31 2018](https://github.com/thepracticaldev/dev.to_core/issues/642)

- [ ] TDD it (or most of it)
- [ ] Write up email sending system
   - [x] Gather offender/reporter/recipient email addresses
   - [x] Autofill emails in the "to" part of each form respectively
   - [x] Insert templates into the body
   - [ ] Autofill names?
   - [x] Show previews
   - [x] Use JS f

[2018-08-15 17:37] araslanov-e opened #364 "find_by_* methods are deprecated"
By code is often used find_by* methods, they are deprecated
https://edgeguides.rubyonrails.org/4_0_release_notes.html#active-record-deprecations

[2018-08-15 19:19] bdmorin commented on #358
I'll give it a shot, thanks for encouragment!

[2018-08-15 19:34] GuitarKat commented on #358
If it's cool for me to contribute for any screens or ideas, I'd be happy to contribute to this feature.

[2018-08-15 19:53] #313 closed

[2018-08-15 19:57] jessleenyc commented on #264
We don't have any integration like this in the works right now, but we have been thinking about adding a dedicate call to action area for posts. @benhalpern's given this a lot more thought.

[2018-08-16 00:06] thomaslawton91 commented on #127
@ryklleen thank you for the further explanation! I'm going to look into this today or tomorrow.

[2018-08-16 00:09] thomaslawton91 commented on #289
Hey @treeternity, the documentation has been updated for Linux installing. Check it out!

[2018-08-16 01:04] AgrimPrasad commented on #341
@davidjeddy After further investigation, it actually seems like `gifv` has been deprecated in favour of `mp4` by imgur. So loading a `gifv` link just loads the `gif` through some ajax voodoo.

Instead, the correct link should be https://i.imgur.com/Vyyjycv.mp4 which is 182486 bytes (182.5 kb). That is still a 57% reduction over the initial 423kb gif

Could do something like the following (with app

[2018-08-16 03:32] JoyBhalla commented on #289
![screenshot from 2018-08-16 09-01-19](https://user-images.githubusercontent.com/35984969/44185750-ff644c00-a132-11e8-8e6f-f35915307383.png)
Followed the steps to setup the repo,and getting this error when running bin/setup.
I'm on ubuntu 16.04 and followed the steps of installation in the README.md.

[2018-08-16 04:26] thomaslawton91 commented on #289
@joybhalla did you follow the last bit of the PostgreSQL installation which details commenting out the `host: localhost` line (under the test database) of the /config/database.yml file?

[2018-08-16 05:13] JoyBhalla commented on #289
yup,still getting the same error

[2018-08-16 05:31] joshi-chinmay commented on #289
@JoyBhalla I was getting the same error. I solved that by adding `username` and `password` to the `database.yml`. Maybe you can try doing that.
[code]
If you already have done this then something else is causing the issue. Let me know, I will look up more.
To give you more information, I am using `ubuntu 18.04`.

[2018-08-16 05:37] rhymes commented on #289
You probably setup a password for your default user. Issue `psql test` on the command line. You shouldn't be able to connect. Specify the password in the database.yml

[2018-08-16 06:54] rhymes commented on #289
@joshi-chinmay I feel like the documentation should encourage people to use DATABASE_URL, this way any single variation of the combination: host, username, password, params work and can be unique for user and people don't have to change database.yml at all

[2018-08-16 10:14] katafrakt commented on #289
Editing `databse.yml` is perfectly fine. However, it **should not** be checked in into version control, so this is a real issue here.

[2018-08-16 10:55] rhymes commented on #289
@katafrakt that's why I prefer using environment variables. My projects don't even have a database.yml file. I just use `DATABASE_URL`:

See https://edgeguides.rubyonrails.org/configuring.html#connection-preference

@JoyBhalla try with the environment variable:

- open your application.yml
- add:

[code]
replace my example connection string with the value with your setup

@maestromac I feel like t

[2018-08-16 12:09] thomaslawton91 commented on #289
@rhymes that's a good idea, I think there should be a bit about setting ENV variables to help with this as well. @joybhalla, have you had any different results or still `no password supplied`? @katafrakt makes a good point, version control should be addressed when making any changes to database.yml.

[2018-08-16 13:54] markfrst commented on #339
@pkfrank Help me pls :)
I can not run correctly application at development environment

I don't display "reading list"

i get response from algolia `{"results":[null,null,null,null,null,null,null], "message":"ObjectID articles-10 does not exist. ObjectID articles-9 does not exist. ObjectID articles-8 does not exist. ObjectID articles-7 does not exist. ObjectID articles-45 does not exist. ObjectID

[2018-08-16 14:35] davidjeddy commented on #341
@AgrimPrasad Aww man. That is a bummer gifv is deprecated. It is so compact!

182k over a 3G connection lands at around 2 seconds of load time; that is an ideal `perfect` fast 3G connection at that. Is that enough to provide an enjoyable experience only to see an animated 404 video? That question, I think, is best answered by @benhalpern .

[2018-08-16 14:45] pkfrank commented on #339
Pinging @maestromac and @Zhao-Andy — one of these two fine folks will jump in with a response to help you out here.

[2018-08-16 14:53] Zhao-Andy commented on #339
Hey @markfrst, do you have your own Algolia API keys? If not, you'll need to get that first -- [instructions here.](https://docs.dev.to/get-api-keys-dev-env/)

If you do have them, you might need to index your articles:
[code]

Let me know how that goes!

[2018-08-16 16:59] markfrst commented on #339
@Zhao-Andy yes, i did set all api keys

Thanks, i will try it

[2018-08-16 17:56] araslanov-e commented on #364
@benhalpern https://www.quora.com/Why-is-find_by_attributes-deprecated-from-rails, https://stackoverflow.com/questions/23921780/in-rails-4-find-by-is-deprecated-so-how-do-you-cope-with

[2018-08-16 18:05] autoferrit opened #371 "Asciidoc support on dev.to posts"
## Feature Request or Task
I have fallen in love with asciidoc to write my articles and other content. I would love to see dev.to support the use of asciidoc for writing posts. Right now, my favorite feature is [code callouts](https://asciidoctor.org/docs/user-manual/#callouts)
![image](https://user-images.githubusercontent.com/89895/44226121-1b241e00-a144-11e8-8a95-8758c7c37a49.png)

[Asciidoc Ho

[2018-08-16 18:47] benhalpern commented on #371
I think this would be pretty cool! If you want to start working on this, I could try and guide you.

I think we'd want to start by just making the conversion step working and then work backwards from there to get the user interface right.

Probably can't make this a big priority, but happy to help as much as possible.

[2018-08-16 18:54] benhalpern commented on #360
Yeah, we have this in the plans. First step is we need to rewrite the page in Preact. The current one is Vanilla and just needs to be ported because extending the search filters needs to be state-driven. It's not an overly complicated view so shouldn't be too hard.

@nickytonline we had discussed you taking this next as a follow-up on the search box but let me know what your timeline will be, if a

[2018-08-16 19:05] benhalpern commented on #121
Hey sorry it's been three days since I said I'd examine this. I've been much more busy than anticipated. Will keep you posted.

[2018-08-16 19:09] Zhao-Andy commented on #364
@araslanov-e I think based on what you linked though, the exceptions are `find_by_*`:

[2018-08-16 19:52] #319 closed

[2018-08-16 20:58] maestromac commented on #289
@rhymes Yeah that's a good idea, `DATABASE_URL` setup can be an option in the docs.

we can add `DATABASE_USERNAME` and `DATABASE_PASSWORD` env vars into database.yml so there's less alteration in the long run.

@thomaslawton91 btw Installation section has has been added on our [GitDocs](https://docs.dev.to/installation).

[2018-08-16 23:36] yassinebridi opened #372 "Feature Request: night mode"
## Feature Request
A dark theme.
### User Story / Description
I mostly visit your website during the night, and as you may know, reading in the night with a light theme can be agonizing, it would be really great to have a night mode feature like Reddit has.
### Definition of Done
I don't know what that means actually 🤣 .
-------

[2018-08-17 02:57] joshi-chinmay commented on #289
@rhymes `DATABASE_URL` can be the option. True. We can add that.

@maestromac keeping `DATABASE_USERNAME` and `DATABASE_PASSWORD` can be also done.

Maybe we can support documentation for both the options. And then the user can decide which option to pick.

[2018-08-17 09:11] ahmetcadirci25 opened #374 "Profile image does not appear"
## Bug Report
Profile image does not appear.

[https://res.cloudinary.com/practicaldev/image/fetch/s--xdsn-utl--/c_fill,f_auto,fl_progressive,h_120,q_auto,w_120/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/93588/48c35f12-ce0b-49ec-ba59-574096cd6505.jpeg
](https://res.cloudinary.com/practicaldev/image/fetch/s--xdsn-utl--/c_fill,f_auto,fl_progressive,h_120,q_auto,w_120/https:/

[2018-08-17 11:05] #374 closed

[2018-08-17 11:06] JoyBhalla commented on #289
After removing everthing related to the project from my computer, i started the process again as mentioned in the documentation and i was able to set it up on my computer.
No errors now

[2018-08-17 13:28] michaelgv commented on #355
@benhalpern I’ll do this, want to chat on dev about the requirements and I’ll submit it in a PR?

[2018-08-17 13:44] benhalpern commented on #358
Hey @bdmorin @GuitarKat I added some quick docs for liquid tags:

https://docs.dev.to/liquid-tags/

Right now we don't really have the details in place for "multiple args" like this, but if you want to work the implementation of this, that would be great! Myself and @maestromac will be available to talk through details and ideas at any time.

[2018-08-17 14:20] rhymes commented on #364
Yep, just those two forms are deprecated.

I grepped through the source code and there are no instances of deprecated dynamic methods in usage... I think this can safely be closed

[2018-08-17 14:24] benhalpern opened #380 "Dashboard for authors to create their own "series""
## Feature Request or Task
A dashboard for creating and modifying "series". In the dashboard or edit views, there should be an "add to series" button that brings you to the view. Under the hood we already have this capability but we don't yet have a user interface.
### User Story / Description
As a user I might want to create a series of posts that go together. In fact a lot of folks are already d

[2018-08-17 14:47] benhalpern commented on #372
Thanks @diogomqbm, we'll close the issue in favor of the other one.

[2018-08-17 14:47] #372 closed

[2018-08-17 14:50] rhymes commented on #164
This can be probably closed @Zhao-Andy

![bio](https://user-images.githubusercontent.com/146201/44272579-9289a880-a23d-11e8-8989-c41d2cb336ec.gif)

[2018-08-17 14:53] Zhao-Andy commented on #164
Ah, think you're right :) @maestromac wanna confirm/close this since you fixed this?

[2018-08-17 14:55] maestromac commented on #164
Yup, confirmed this is fixed!

[2018-08-17 14:55] #164 closed

[2018-08-17 15:05] maestromac opened #382 "Consider Adding End to End (E2E) Testing to the Deployment Pipeline"
@nickytonline commented on [Thu Jul 19 2018](https://github.com/thepracticaldev/dev.to_core/issues/602)

# Story - Consider Adding End to End (E2E) Testing to the Deployment Pipeline

@benhalpern @maestromac @Zhao-Andy @jessleenyc et all.

Just wanted to open a discussion here about E2E testing.

There's a lot going on on the site. The backend has lots of unit tests, the new front-end stuff has un

[2018-08-17 15:05] maestromac opened #383 "Consider using Flow or TypeScript in the Front-End Codebase"
@nickytonline commented on [Sun Apr 29 2018](https://github.com/thepracticaldev/dev.to_core/issues/258)

I'm not saying we need to do this, but yes I am a convert of static typing in JavaScript, so I do have some bias on this.

Having worked on several projects with large JS codebases, I can definitely say that it eliminates a lot of silly mistakes, improves dx and it gives developers a clearer vi

[2018-08-17 15:11] maestromac commented on #289
Glad to hear it's working @JoyBhalla !! Thank you all for helping him out.

Closing this.

[2018-08-17 15:11] #289 closed

[2018-08-17 16:30] araslanov-e commented on #364
Oops

[2018-08-17 16:30] #364 closed

[2018-08-17 17:32] Puritanic opened #393 "Dev.to using outdated version of the react"
### Feature Request or Task
No particular reason to update, but it is nice to be up to date with the latest versions of libraries.

### Definition of Done
Update to latest React (16.4.2 currently), refactor outdated code and maybe take advantage of the new React API methods (`getDerivedStateFromProps`, `createRef` etc.).

-------

[2018-08-17 18:31] Adjoa commented on #380
I'm interested. Is this a good first issue?

[2018-08-17 19:01] M0nica commented on #282
I am working on this but need to add a new import...it seems in multiple places. Is there any documentation re: how the imports should be structured in this project?

[2018-08-17 19:02] M0nica commented on #260
I am working on this. Ran into some issues with the format (unrelated lines being too long for Robocop) and my test suite was crashing. I am going to work on fixing the formatting issues so that I can commit and will check if the test suite crashes for me on master (and is related to my setup) or specific to the local changes I made.

[2018-08-17 19:13] nickytonline commented on #393
Thanks for raising this @Puritanic.

There's an issue open to get Greenkeeper incorporated into the workflow to handle package updates, but it's still in the private repository. It will probably be migrated by @maestromac at some point.

Having said that, we don't use React in the dev.to codebase, it's Preact 😉

[2018-08-17 20:41] M0nica commented on #282
@mscoutermarsh I believe the error I had was `NoMethodError: undefined method `zone' for Time:Class` and the solution seem to be to import `require "active_support/all"` but since the time is referenced in multiple places throughout the file there doesn't seem to be a central place where I can import and test this.

Related StackOverflow question I found: https://stackoverflow.com/questions/350578

[2018-08-17 21:02] rhymes commented on #282
@M0nica maybe you can require it with an initializer inside `config/initializers`? Even if it seems an odd error, I've always thought it was part of Rails default loaded modules...

[2018-08-17 21:25] #343 closed

[2018-08-17 21:35] AdamMcquiff opened #394 "Accessibility (a11y): Provide 'hover' states on 'focus' too"
## Feature Request or Task

Apply the 'focus' pseudo state to elements that already leverage the 'hover' pseudo state (e.g. the 'Dev.to' logo; buttons; links, etc.) so that users who navigate the website with a keyboard via the tab key (e.g. users who prefer a keyboard, or have the physical inability to use a mouse) are aware of which element is selected at a given time.

At the moment, it is very

[2018-08-17 22:25] mscoutermarsh commented on #282
@M0nica strange! As @rhymes mentioned, I'd expect that to be loaded by default in a Rails app. Is that when running the server? Or in the tests? Maybe it's not loading correctly in a specific context.

[2018-08-17 23:44] kylegalbraith opened #395 "Dashboard view is missing posts"
## Bug Report
Dashboard isn't showing all of my posts.

### Current Behavior
Dashboard appears to be broken in terms of paging and is missing my earlier articles.

### Expected Behavior
Dashboard should show all my current and draft articles.

### Mobile & Desktop Screenshots/Recordings
![image](https://user-images.githubusercontent.com/1869717/44292943-b3053300-a23c-11e8-93d9-98d1ef73e073.png)

#

[2018-08-18 01:36] Zhao-Andy commented on #395
Hmm strange. That looks like Windows 10 right? Any console errors?

[2018-08-18 03:03] kylegalbraith commented on #395
Figured it out. It was a rogue Chrome extension I had installed. Removed that and all is right in the world.

[2018-08-18 03:03] #395 closed

[2018-08-18 03:40] BornStellarMakesEternalLasting commented on #173
I love this idea. It would make reading comments quicker, like on reddit. I 100% back this idea!

[2018-08-18 03:55] donita opened #396 "Follower List on Main Profile Page"
### Feature Request or Task:

Request or User Story:
It seems there isn't an easy way to see who's following who to build a network. It would be nice to see a "Following/Followers" section on a users main profile.

Similar to this:
![screen shot 2018-08-17 at 11 52 16 pm](https://user-images.githubusercontent.com/17953363/44295530-9dadfa00-a278-11e8-8343-f4ba3df6c8d7.png)

Definition of Done:
A fo

[2018-08-18 05:09] rhymes commented on #396
I don't know if this is a bug or a feature but not knowing how popular other people are is one of the things I like about devto. Zero social network-like anxiety.

Maybe there is a better way to achieve the goal beside this. Help from a UX designer is definitely needed on this because I'm not knowledgeable on the topic. What if we there was no count and just the list, there may be less of an impac

[2018-08-18 05:54] rhymes commented on #396
@donita I'm glad you did, I'm sorry if I sounded dismissive. I was thinking about the ramifications of this feature.

I agree with you that we see this feature with two different perspectives. Yours is definitely a valid one and can create value.

It's just that personally I found it refreshing not to have this counters around devto.

I'm sure people far more expert than I am can weigh in, the abi

[2018-08-18 09:45] markfrst commented on #339
@Zhao-Andy thanks, it's works

[2018-08-18 12:53] michaelgv opened #398 "A path to reporting user profiles"
## Feature Request
### User Story / Description
As a user, I think we should be able to report any inappropriate profiles with a button, or hyperlink, and be able to specify a reason for said report. There should be a list of categories that come with a priority attached. For example, see below:

*Report* (red button?) -> open modal/dialog, or redirect to report page:

"You are reporting #{USERNAM

[2018-08-18 14:50] JoyBhalla commented on #274
I am having some doubts over how and where i should implement it,and how to read the codebase,can you guide me to a starting point ?

[2018-08-18 14:55] donita commented on #396
No need to apologize, it’s fine. I didn’t feel that you felt my opinion wasn’t valued. :) I was just sharing my thought process.

But I agree, but one thing you pointed out is that I never saw it from that perspective of how people may have felt when it comes to follower count. I never thought about although we are on social media sites, some don’t like the social media feel. I think I was in my o

[2018-08-18 16:12] rhymes commented on #396
@donita count me in and thanks for the conversation :-)

Let's wait what the core team says about it and proceed from there.

[2018-08-18 16:37] edisonywh opened #399 "Native Sharing with the new Web Sharing API"
## Feature Request or Task
Sharing to other applications on the phone. **I want to work on it if possible!**

### User Story / Description
As a user, I'd want to share an article with my friends/colleagues if I think it's useful/interesting.

Right now, the implementation to share is just to copy a link, like so:
<img width="371" alt="08-19-1228am" src="https://user-images.githubusercontent.com/20

[2018-08-18 17:01] donita commented on #396
@rhymes no prob! :)

[2018-08-18 17:16] joeberetta opened #400 "Reading time of post"
## Feature Request or Task

As a user, I read dev.to posts everyday and it would be better if in the top of the post to see the reading time like in medium. I think its useful for readers.
What do you think @benhalpern?

[2018-08-18 18:54] hoelzro commented on #207
Now that dev.to is open source, is there any chance the design discussion could continue here or somewhere else public?  I've thought about working on this as my first PR for dev.to, but I would want to make sure I follow proper design conventions before laying code down!

[2018-08-18 21:15] dakahn opened #401 "Cannot authenticate via Github"
## Bug Report

When I attempt to sign up for Dev.to by OAuthing with my Github account I'm seeing this error message: _"The change you wanted was rejected. Maybe you tried to change something you didn't have access to.
If you are the application owner check the logs for more information."_

When I check my Github account it does show that Dev.to was added to my OAuth account list. Though. Attempti

[2018-08-19 00:16] tterb commented on #274
I previously looked into taking this on and I believe the starting point would be adding the additional logic to the existing `{% link` liquid tag in `app/liquid_tags/link_tag.rb` to accept and differentiate between dev.to articles and outside links.
Though, I'm admittedly new to Rails so I could be wrong.

[2018-08-19 01:20] adhocore opened #403 "Highlight original poster"
## Feature Request or Task

Currently in a long thread (or even long post), the discussions (comments / replies etc) doesn't visibly distinguish the original poster. Different color name, **bold**ed name, or even simple badge would be very helpful.

Thank you

-------

### Current Behavior

### Expected Behavior

### Mobile & Desktop Screenshots/Recordings

[2018-08-19 05:29] erturne opened #404 "Improve Offline Wording"
## Feature Request or Task

### Description

The current wording in the offline.html file is rather political, and probably does not foster an open and welcoming environment. Currently it says:

Regardless of your political beliefs, the offline page is probably not the place to express political preferences. We should adhere to the spirit of the Code of Conduct:

### Definition of Done

The offlin

[2018-08-19 07:52] JoyBhalla commented on #274
Thanks @tterb for the help,appreciate it.

[2018-08-19 08:06] rhymes commented on #404
@erturne check this discussion they already had on the topic 10 days ago https://github.com/thepracticaldev/dev.to/pull/305

[2018-08-19 08:08] rhymes commented on #403
I would love this, maybe something like the AMA indicator that says something like "original poster" or "author of the article" :D

![screenshot_2018-08-19 the dev community](https://user-images.githubusercontent.com/146201/44306864-c7aa0e00-a397-11e8-8b98-44017bffa493.png)

[2018-08-19 09:49] JoyBhalla commented on #274
I am having some problems with setting it up in my computer,so if anyone wants to work on this they please do.

[2018-08-19 12:16] erturne commented on #404
They should have left it open.

[2018-08-19 15:51] adhocore opened #406 "Datetime for thread"
## Feature Request or Task

Showing full date time on hovering the date at the right top edge of thread comment/reply (eg `Aug 19` as in SC below)

Thanks

-------
### Current Behavior

### Expected Behavior

### Mobile & Desktop Screenshots/Recordings
![image](https://user-images.githubusercontent.com/2908547/44310532-1b514180-a402-11e8-881a-21a54554920f.png)

[2018-08-19 17:05] M0nica commented on #282
@rhymes @mscoutermarsh I realized I was using the wrong command to run the tests. It appears to be working now with all of the tests passing. I have ~23 Robocop formatting errors I need to fix for files where the variable was replaced before I can commit.

[2018-08-19 17:25] djhopper01 commented on #272
@donita I've started writing tests and refactoring some of the tags input code to get a better understanding of what it's currently doing. That's about it though!

Here's [the branch](https://github.com/thepracticaldev/dev.to/compare/master...djhopper01:feature/finalize-article-editor-v2?expand=1) I've been working on. Apologies for the mess of changes... prettier formatted the js. The main issue

[2018-08-19 21:53] schollz opened #410 "Images are neat - where are they from?"
I was looking through your image assets: https://github.com/thepracticaldev/dev.to/tree/master/app/assets/images

They are really cool. Do they have an attribution? I'd like to know more about them.

[2018-08-20 03:34] BornStellarMakesEternalLasting commented on #403
The OP's reply box could also be a different color, green perhaps, to further quickly distinguish them from other posters.

[2018-08-20 04:15] jean commented on #266
Agreed, infinite scroll is often a dark pattern.
[Against Infinite Scroll](https://www.cooper.com/journal/2017/5/against-infinite-scroll) (Cooper, seminal UX firm).
[4 UX friendly alternatives to infinite scroll](https://uxplanet.org/4-ux-friendly-alternatives-to-infinite-scroll-8b486992183b).

[2018-08-20 07:50] spinualexandru commented on #406
I would be willing to work on this if anyone allows me to.

[2018-08-20 07:52] spinualexandru commented on #400
If this gets approved, I would like to work on it.

[2018-08-20 15:52] maestromac commented on #260
Resolved by #405

[2018-08-20 15:52] #260 closed

[2018-08-20 16:16] benhalpern commented on #404
@erturne. That PR was closed because it was a PR and we weren't going to implement that specific change. This one can stay open.

Here's the change we would make: **_A new easter egg_**. The offline page can be a place to express something a little different from the core platform. Like a "doodle" of sorts. I have someone in mind who may have fun designing a new one.

Regarding the code of conduct

[2018-08-20 16:45] Zhao-Andy commented on #401
Hey @dakahn, seems like an odd authentication bug that might be an edge case. Did you revoke access of our app from GitHub at any time? That usually seems to be an issue.

I emailed you about this to see if we can get it working.

[2018-08-20 16:49] jessleenyc opened #412 "Add OK reaction for moderators"
## Feature Request or Task
### User Story / Description
Right now, select members have moderation privileges where they get notifications to react to a post. @dmfay suggested including a non-negative choice for posts they don't want to 'endorse' with hearts, but are also perfectly fine posts.

Here's what it currently looks like. It gets triggered randomly for new users.

![](https://cl.ly/3a0K3b3

[2018-08-20 17:15] rhymes commented on #412
Hi @jessleenyc,

what icon would you recommend for this?  A thumbs up? Do you know if there's an icon pack somewhere with similar icons that you used for dev.to?

[2018-08-20 17:17] dmfay commented on #412
imo :+1: would make sense given :-1: is one of the negative options. Good to see this getting traction! :slightly_smiling_face:

[2018-08-20 17:23] yassinebridi opened #413 "an image viewer/zoomer"
## Feature Request
an image viewer.
### User Story / Description
the platform has a really outdated way of viewing or zooming images, when you click an image, the page goes to the source of that image.
### Definition of Done
a simple performant way of zooming images, like medium has.

[2018-08-20 18:59] benhalpern commented on #412
We use [Emoji One}(https://www.emojione.com/) for these.

This definitely works for me. It's a silent upvote, to affect the rankings without explicitly endorsing. I think we can all be generous with our hearts and unicorns but I'm all for this as well.

The implementation hurdle is that we currently have a column called `positive_reactions_count`. It's a counter cache (via [counter_culture](https:

[2018-08-20 20:47] maestromac commented on #345
Hey @genemars this is an existing issue on this.

Closing in favor of https://github.com/thepracticaldev/dev.to/issues/243

[2018-08-20 20:47] #345 closed

[2018-08-20 22:08] amrrbakry opened #415 "Use concerns to extract common code from models"
## Feature Request or Task
Hey guys, I noticed that you're not using concerns in models or controllers. I think it would improve the readability and maintainability of the code if we extracted common or context-specific code into a concern and included it in all the models that need it.

I can help with that if it's approved. What do you guys think?

[2018-08-20 22:13] maestromac commented on #393
Hey @Puritanic . Nicks's right, we are using Preact 😁

Closing this since we don't use React.

[2018-08-20 22:13] #393 closed

[2018-08-20 23:05] dakahn commented on #401
So I used to have _another_ Github account that I authed in with a long time ago. When I tried to auth with this newer one it errored. I never revoked access to the _other_ Github account.

[2018-08-21 01:00] benhalpern commented on #396
I only skimmed this convo so sorry if I missed something, but yeah, this is considered a feature for the reasons @Rhymes discussed.

It's crossed my mind that we may want to do something so it doesn't seem like it's just plain missing. But have no real ideas on this front.

Great issue either way @donita, I'll keep this open for further discussion, and so I can come back and read the convo more cl

[2018-08-21 01:01] benhalpern commented on #415
I've never been crazy about concerns, but I could be convinced otherwise.

I agree with anything we can do to improve things along these lines, so open to suggestions.

[2018-08-21 01:34] djhopper01 commented on #272
Here's what I have so far. I haven't opened a PR yet as it's not tested well enough. I've mainly been exploring how it all was working previously and how it could be improved. I'd still like to extract more of the `<Tags />` behavior into its component as I think `<ArticleForm />` doesn't need to know about much of it.

Here's a gif of where things are:

1. Typing is smooth. No "missed" keys. This

[2018-08-21 03:06] autoferrit opened #417 "Organization name does update when changing the `name` field."
## Bug Report
### Current Behavior
On the [/organization](https://dev.to/settings/organization) page, changing the `name` field to change the name of my organization, will save. But does not actually change the name of the organization.

### Expected Behavior
Changing the `name` field in an organization, changes the actual name of the organization at the top of the page.

### Additional Info (devi

[2018-08-21 08:37] GMartigny opened #418 "Don't send an email notification when you comment your own post."
## Feature Request
### User Story / Description
I add a comment under one of my own post and receive an email informing me that myself replied to my post. :upside_down_face:

It's not a big problem, but it should be easy to implement.

### Definition of Done
No email should be sent when you comment on your own content.

[2018-08-21 09:16] Puritanic commented on #393
Sure :D
Didn't know about Preact, I have that annoying React devtool msg that React version is outdated.

[2018-08-21 13:12] jessleenyc commented on #400
This might be a helpful article - https://blog.medium.com/read-time-and-you-bc2048ab620c

[2018-08-21 13:14] jessleenyc commented on #321
Let's create a new page dedicated to explaining the RSS feature and link to the page on /settings/publishing-from-rss

[2018-08-21 13:17] yorodm opened #419 "Support for non english characters in tags"
## Bug Report
### Current Behavior
When you add a tag name with a non english charactes (i.e. español) it doesn't show in the tag name after saving your post
### Expected Behavior
Be able to tag my posts as #español ;D

[2018-08-21 13:18] joeberetta commented on #400
Thank you, @jessleenyc it's helpful for me

[2018-08-21 14:13] jessleenyc opened #420 "Remove thumbs down ping from slack"
## Feature Request or Task
### User Story / Description
We currently get a slack ping when a moderator 'thumbs down' on a comment. The ping is really only necessary for 'vomit' reactions so we should move them into separate channels.

[2018-08-21 15:52] amrrbakry commented on #415
Well, I believe that concerns could be very useful for any of these cases: caching, soft deletion, or localization.

consider this:

[code]
now our models simply gain soft deletion functionality by including this concern. it's clean and reusable across projects.

I've been reading the code but i'm not really sure where this applies; you guys probably have a better idea about this. what do you thin

[2018-08-21 16:18] jessleenyc commented on #406
A title attribute would get us part of the way there, so let's start with that.

[2018-08-21 16:19] jessleenyc commented on #403
This makes sense and we should use the same format for the ask me anything. We'll have to decide on the actual word/color to use, but anyone can get started.

[2018-08-21 16:27] jessleenyc commented on #400
@joeberetta is this something you want to work on?

[2018-08-21 16:33] jessleenyc commented on #107
Hey @bosepchuk -- we're open sourced now so if this is an issue you'd like to work on, please go for it! Here's some documentation on how liquid tags work: https://docs.dev.to/liquid-tags/

[2018-08-21 16:34] jessleenyc commented on #274
@JoyBhalla are you having issues with general setup or specifically with liquid tags?

[2018-08-21 16:36] joeberetta commented on #400
@jessleenyc I would try to do this. I'll be glad to contribute

[2018-08-21 16:46] benhalpern commented on #419
Hmmm this is an interesting discussion. We definitely want to make #español and #espanol equivalent for the purpose. I'm not sure what the ultimate decision here is.

On this note, we do have a "language" column on posts. I'm not sure it actively works. It sort of rescues failures and there may be hidden issues here. It needs more focus in general, how all this fits together re: language.

[2018-08-21 16:47] jessleenyc commented on #118
hey @SamWSoftware! we're open source now, so if this is an issue you feel like working on please go for it here's some more info on liquid tags: https://docs.dev.to/liquid-tags/

[2018-08-21 17:09] jessleenyc commented on #186
@clsource closing this issue but please reopen if it's not resolved!

[2018-08-21 17:09] #186 closed

[2018-08-21 17:10] jessleenyc commented on #193
@maestromac is this resolved? I thought you had looked into this a little while ago.

[2018-08-21 17:20] jessleenyc commented on #231
A similar issue came in that's a little more broad, so closing this one.
We'll start the discussion here: https://github.com/thepracticaldev/dev.to/issues/413

[2018-08-21 17:20] #231 closed

[2018-08-21 17:32] sadarshannaiynar commented on #412
@IvanDelsinne They are using different icons as they have separate PNGs for grayed and non-grayed version.

[2018-08-21 17:35] jessleenyc opened #423 "Ability for authors to turn on/off comments?"
## Feature Request or Task
### User Story / Description
When a post is controversial or getting heated, authors might want to turn off comments. Some open ended questions:
- When comments are off, do existing comments still show? Is it time to revisit whether or not authors should be able to delete comments from their posts?
- Where we we add that 'switch'?

### Definition of Done

[2018-08-21 17:43] IvanDelsinne commented on #412
Okay, thanks for the clear-up.

[2018-08-21 18:03] markfrst commented on #339
@Zhao-Andy maybe make non-fixed sidebar on the reading page as on home page?

[2018-08-21 18:04] AndrewPetz opened #424 "I received multiple "confirm email address" emails when I signed up"
## Bug Report

### Current Behavior
Upon signup, I received 15 "confirm email address" emails.

### Expected Behavior
I should only have received one email.

### Mobile & Desktop Screenshots/Recordings
![chrome_2018-08-21_12-31-40](https://user-images.githubusercontent.com/7032619/44420095-a46f9200-a542-11e8-83d5-f2557d61e820.png)

### Additional Info (device/browser, helpful links)
Only the final

[2018-08-21 18:09] Zhao-Andy commented on #424
Hey @Nannooskeeska, thanks for the bug report. We'll investigate and see what's going on there.

[2018-08-21 18:09] #420 closed

[2018-08-21 18:15] BornStellarMakesEternalLasting opened #427 "See the number of comments"
### Feature Request or Task
Add a counter that shows the number of comments on a post.

### User Story / Description
When I scroll towards the bottom of a post I like to preview the comment section by knowing how many comments there are. Just knowing approximately how many comments I can read makes me happy.

### Definition of Done
When there is a counter that accurately displays the total number

[2018-08-21 18:17] sadarshannaiynar commented on #403
Ignore the reference typo occurred while writing the commit message

[2018-08-21 19:43] jessleenyc opened #428 "Add dev.to as a subdomain to your website"
## Feature Request or Task
### User Story / Description
Support DEV.mywebsite.com to direct to a personal/organization website?

[2018-08-21 20:26] bigblind commented on #428
I'm assuming you mean as a CNAME DNS record? Because you can already do a simple HTTP redirect.

[2018-08-21 20:34] bigblind commented on #423
I know this complicates matters, but what if we had the distinction between "locked" comments and "disabled" comments?

- *Locking* prevents anyone (possibly excluding the author and/or mods) to post new comments
- *Disabling* hides the entire comment section.

This would allow the user to disable comments if they don't want t enter a discussion around an article, and lock it if it gets out of han

[2018-08-21 20:50] bigblind opened #430 "Add editor buttons for markup."
## Feature Request or Task
### User Story / Description
As a user, I'd like to be able to easily insert liquid tags and possibly markdown syntax using a button.

The liquid syntax is sometimes hard to remember, especially if, like me, you don't often work with liquid templating. Others might also have trouble remembering the syntax for certain markdown elements.

### Definition of Done

I can clic

[2018-08-21 21:10] jwoertink commented on #423
To see other examples, you can look at how [reddit](https://www.reddit.com/r/pics/comments/90xkme/to_combat_a_new_massive_spamming_effort_we_are/) and [github](https://github.com/ariya/phantomjs/issues/15345) both handle locking threads. In these cases, you can still see the comments that have been posted already, but no one is able to add new comments, or replies. My guess is that you wouldn't be

[2018-08-21 21:21] jessleenyc opened #431 "Add tracking for live events"
## Feature Request or Task
### User Story / Description
Ever since we launched dev live, we haven't had an accurate way to tell how engaged people are with our live workshops. We can see how many people visit, but no sense of how long they stick around unless they're actively chatting. This info would help us determine which types of workshops are more interesting to the community.

### Definition

[2018-08-21 21:31] Zhao-Andy commented on #339
@markfrst Hmm, not sure what you mean; are you thinking the home page sidebar should also be in the reading list page? Or are you talking about making the current existing footer a right-side sidebar in the reading list page?

I think the simplest solution would be to move the footer down a bit on that page specifically, when there are no reading list items saved. @benhalpern might have some addit

[2018-08-21 21:34] maestromac commented on #418
Hey @GMartigny, thank you for pointing this out! We'll investigate.

[2018-08-21 21:48] benhalpern commented on #266
I think there's validity to everything being discussed here. We'll try to get some of these issues worked out.

[2018-08-21 22:03] jessleenyc commented on #117
Hey! We're closing this issue because a duplicate was created and there's a bit more discussion going on there: https://github.com/thepracticaldev/dev.to/issues/227

[2018-08-21 22:03] #117 closed

[2018-08-21 22:05] Zhao-Andy commented on #410
Hey @schollz, that folder is sort of a random collection of various images used around the site.

The numbered images `1-40.png` are used in the parody [O RLY Cover Generator](https://dev.to/rly), and are from the [USF ClipArt ETC library](https://etc.usf.edu/clipart/).  We haven't looked at this page in a while, and just realized we should add an acknowledgment about the image source.  We're doin

[2018-08-21 22:10] #410 closed

[2018-08-21 22:13] tterb commented on #107
Id be interested in working on this if @bosepchuk isn't.

[2018-08-21 22:16] bosepchuk commented on #107
Go for it. I'm engaged with a big deadline at work.

On Tue, Aug 21, 2018 at 16:13 Brett Stevenson <notifications@github.com>
wrote:

[2018-08-22 01:03] benhalpern commented on #272
Hey @djhopper01 I think you're thinking about this all the right way. I think you're basically spot on with your assessment of the current behavior.

Ultimately the contents of this state element will be submitted as a string.

Other considerations: This should be a max 4 tags, so the last one doesn't need that comma.

If we had automatic spaces after the comma but not allow the user to type a spa

[2018-08-22 01:15] benhalpern commented on #398
This should be a link to the usual "report" flow.

I think it's also worth noting that this probably isn't a main action and should probably be behind a menu. Only one of 1000 profile visits would be this action so I don't think it needs to be in your face for most users.

Example on Twitter: ![](https://cl.ly/ca66f4c7fe3c/Image%202018-08-21%20at%209.13.47%20PM.png)

Clicking the three dots reveal

[2018-08-22 02:34] schollz commented on #410
@Zhao-Andy Thanks a lot for the details! Its really helpful and I appreciate it!

[2018-08-22 03:02] parente opened #434 "Gist liquid tag including jupyter notebooks shows spinner forever"
## Bug Report

### Current Behavior

1. Add `{% gist https://gist.github.com/parente/8932dac5a430dba4c17f49af16568da7 %}` to a post
2. Preview or save the post.
3. See the github spinners for the ipynb files in the gist forever

Example draft post showing the problem (scroll down past the README.md which is fine): https://dev.to/parente/test-4h0-temp-slug-4214860?preview=3d6bceae28f78e084355693b8f

[2018-08-22 03:16] djhopper01 commented on #272
@benhalpern Cool, thanks for the good information. I had noticed a check for a maximum, but wasn't quite sure about it so that's great to know. I'll keep pushing forward with this, adding more tests along the way to confirm all of this behavior.

[2018-08-22 05:02] JoyBhalla commented on #274
@jessleenyc first i was stuck on installing the app on my machine,and then the server was not running.
I want to work on it, but i don't want the pace to slow down.

[2018-08-22 06:07] JoyBhalla commented on #274
After running **_bin/startup_**
this is the output,
![screenshot from 2018-08-22 11-35-13](https://user-images.githubusercontent.com/35984969/44445671-84ea6f00-a5ff-11e8-9863-893e4826ff77.png)

And this is the error i'm getting when opening **localhost:3035**
![screenshot from 2018-08-22 11-35-26](https://user-images.githubusercontent.com/35984969/44445720-c4b15680-a5ff-11e8-8103-67bdec131785.png)

[2018-08-22 06:15] Booligoosh commented on #227
Would also love to see a big 'total all-time post views' number on the dashboard!

[2018-08-22 06:30] rhymes commented on #274
@JoyBhalla the app seems to work fine, you're trying to open the webpacker URL page, you should open the Rails URL: http://localhost:3000

I get the confusion, there's a lot of output in the console and the tutorial doesn't mention the Rails URL :D

@maestromac pinging you again, what do you think about expanding the doc a little bit more? Maybe the README should link http://localhost:3000 after t

[2018-08-22 06:35] JoyBhalla commented on #274
@rhymes thanks,appreciate it !

[2018-08-22 11:46] michaelgv commented on #428
I’d be interested if we were able to have ie: dev.website.com CNAME to *profile*.dev.to and it’ll display the user profile with all posts you’ve made, etc

[2018-08-22 13:25] c33s commented on #201
@jessleenyc #201 is duplicate of #201? ;)

[2018-08-22 13:29] jessleenyc commented on #326
Right now moderators have two ways of moderating -- there's the button on each article and the dropdown on comments that lead to /moderate (which is @monkeywithacupcake is describing), but we also have a 'round robin' style system where mods will occasionally receive notifications to check on random comments posted by new users. We haven't been consistent with the moderation choices across these t

[2018-08-22 13:31] jessleenyc commented on #412
@sadarshannaiynar I'm assuming you're looking to trigger the notification only to enhance your development workflow? If so, @Zhao-Andy probably has the best suggestions for that.

[2018-08-22 13:33] jessleenyc commented on #417
Hey @autoferrit! It's definitely a bug that the name is not updating, but right now it is expected behavior for the url not to update. Would you mind creating a separate feature request for that?

[2018-08-22 14:00] jessleenyc commented on #201
haha oops! it's a duplicate of https://github.com/thepracticaldev/dev.to/issues/156!!!!

[2018-08-22 14:09] c33s commented on #201
hmm, is it really a duplicate? #156 is only a subset of #201.

- subscribe tags
- subscribe my/someones posts
- subscribe my/someones feed

[2018-08-22 14:30] michaelgv commented on #326
@jessleenyc a ‘suggest email shoutout’ is essentially a button where you can send a notification to admin about posts that could be featured in the emails sent out? Ie, currently we go most popular, but it’d be nice to have ‘community recommended’ posts that may not be the most popular, but still have good information and deserving of an email “shoutout” in a “community recommended” category?

[2018-08-22 14:30] pkfrank commented on #380
As @cjbrooks12 mentioned in this [DEV comment](https://dev.to/cjbrooks12/comment/47b0), the "UI" for this feature could potentially live directly in the editor.  If it was in the Front Matter, it could be something like:

[code]

Upon publishing the article, it would create a dynamic "Table of Contents" at the top of the article.  It would also need to check to make sure that all other articles in

[2018-08-22 16:53] bigblind commented on #399
Since the web API is experimental, it may be changed or removed. Do we want to take on the burden to keep track of that?

[2018-08-22 17:39] Zhao-Andy commented on #399
Hey @edisonywh, thanks for the feature request. This is definitely the next iteration of the share button, and using the Web Share API is moving in the right direction. We'll have to consider some design choices with this, like whether we should replace the "Share to Twitter" button or the URL entirely.

@bigblind I think it's mostly okay to give it a try. @benhalpern any thoughts on whether or no

[2018-08-22 19:05] pkfrank commented on #340
I've been noodling about this issue over the past week.  Currently, there are a few views that offer a bit more "control" for exploring new content around the site than the main feed:

1) You can browse site-wide **new articles** in the [Global Latest](https://dev.to/latest) view.
2) You can browse tag-specific **new articles** in the [Tag-Specific Latest](https://dev.to/t/javascript/latest) view

[2018-08-22 19:27] benhalpern commented on #340
I'm really glad we're having this convo. This is an incredibly nuanced discussion and really central to the core platform mechanics—which is what makes it so difficult.

I'll try to add more to the convo when I get a chance to really get my thoughts down. We'll make some things happen for the better one way or another.

[2018-08-22 20:18] benhalpern commented on #431
We implemented a general-purpose "still-on-site" ping but it really threw off our apples-to-apples data, so removed it.

You can find it in old code from a couple weeks in base.js.erb

That general approach, but only for /live would probably makes sense. Could probably edit the old code and then check for window location, or we could take a totally different approach.

[2018-08-22 20:25] donita commented on #272
Okay, I will look through the branch later this evening!

[2018-08-22 20:26] benhalpern commented on #434
Hmm looks like the spinner is outside the iframe. Not sure what the cause of this is, but I guess it might be affected by some kind of image style override.

We could probably hide it with a CSS adjustment, possibly needing an `!important`

[2018-08-22 20:39] benhalpern opened #439 "Article version control (and adjacent functionality)"
### User Story / Description
As a user I may want to update or improve on someone else's post. I don't think we should have the extremely liberal Stack Overflow approach, but I think a "change request" type flow would be nice.
### Definition of Done
The design should ultimately be friendly and easy, but early on I'm much more concerned with the data layer of things. This should be a simplified git

[2018-08-22 20:43] benhalpern commented on #413
Cool, I don't share the concern about this feature as you do, but I'm okay with the implementation. We'll want a second "larger" version of the image than the one we display on the article. Currently we just link to the one you're looking at it and don't even zoom.

So I approve of this, but only if implemented the right way. Happy to provide support if someone wants to make it happen.

[2018-08-22 21:55] Zhao-Andy opened #442 "Use Client-side Storage in the Markdown Editor"
## Feature Request or Task
Whenever someone tries to save their post, we should save their Markdown data into the client. We would want to use something like Local Storage to save the data. Ideally, this rolls out with the new editor (see #272).

### Description
There are a few design considerations here to think about:
1. If a post failed, and someone revisited `/new`, would their post be there a

[2018-08-22 21:55] Zhao-Andy commented on #267
Hey @michaelgv, it's an idea worth considering; there are some design choices we would have to think through first. I created a new issue for us to discuss: https://github.com/thepracticaldev/dev.to/issues/442

@genemars Going to close this since the 500s are probably gone by now. :)

[2018-08-22 21:55] #267 closed

[2018-08-22 22:00] Zhao-Andy opened #443 "Add Optimistic Rendering to /mod buttons"
## Feature Request or Task
Undoing a thumbsdown or vomit reaction can sometimes take a while and/or show a slow response. We should add some optimistic rendering in.

### Definition of Done
We have a more responsive reaction button. We should also try to refactor the code there if necessary.

[2018-08-22 23:46] timnolte commented on #201
Following this.

[2018-08-23 03:03] edisonywh commented on #399
@bigblind Yup, that's a valid concern. Like @Zhao-Andy said though, I think it's okay to give it a try. If it's indeed deprecated/changed in some other ways, it shouldn't break anything because we'll be checking for `navigator.share` first anyway.

@Zhao-Andy Agree on the fallback one-tap copying, I can also work on that!

[2018-08-23 03:46] joeberetta commented on #400
Hi, @jessleenyc what do you think about script below?
[code]

I've made it based on dev.to markdown editor.
**But** I couldn't find the right .erb/.html file where it would be inserted.
Hope, you can help with this.

[2018-08-23 04:10] nshusa opened #444 "Randomize feed"
## Feature Request or Task
Feature Request

The feed in the image below, everytime the page refreshes they could get randomized. It's really unappealing when you read everything already and you've seen the same feed at the top all day.
![https://i.imgur.com/2b3EAG5.png](https://i.imgur.com/2b3EAG5.png)

[2018-08-23 04:22] nshusa opened #446 "Add "Hours Ago" text on feed"
## Feature Request or Task
This will show how many hours ago a post was created.

Here's an example from Reddit
![https://i.imgur.com/sUPfEk6.png](https://i.imgur.com/sUPfEk6.png)

![https://i.imgur.com/2b3EAG5.png](https://i.imgur.com/2b3EAG5.png)

[2018-08-23 14:26] Shad-Z opened #448 "AdblockPlus hide/block content"
## Bug Report
### Current Behavior
Since today, It seems that my adblock plugin hide/block some content on the website :
- Tags
- Only show first three news
- No avatar
- Maybe more ?
### Expected Behavior
No hidden content with adblock on (except ads of course)
### Mobile & Desktop Screenshots/Recordings
Adblock ON
https://imgur.com/bks4rls

Adblock OFF
https://imgur.com/n0B7bzl
### Additional In

[2018-08-23 14:35] pkfrank commented on #444
Hey @nshusa, to what extent does the Global "[Latest](https://dev.to/latest)" feed address this request?

You might also want to jump into the discussion going on re: Feeds in #340.

Thanks for your feedback!

[2018-08-23 14:44] jessleenyc commented on #400
Hey @joeberetta, I think this should actually be done on the server side in the `MarkdownParser` Controller. You can add a `calculate_reading_time` method that saves the time to a new `reading_time` column on the Articles table. This would enable us to filter on reading time in the future, if we chose to and use `Article.reading_time` wherever we'd need.

[2018-08-23 19:34] jessleenyc opened #450 "Send email notification for DEV Connect messages"
## Feature Request or Task
### User Story / Description
We should send a notification that you have a dev connect message waiting for you if you haven't seen the messages within X amount of time. This has been a requested feature from several mentors/mentees, and would just be useful in general! We'll want to be thoughtful about how often/many emails are sent out per person.

@benhalpern will have

[2018-08-23 21:51] maestromac commented on #274
@rhymes most definitely. I'll add that.

[2018-08-23 22:00] jeann2013 opened #451 "I got problem install many gem like approvals"
current directory: /var/lib/gems/2.5.0/gems/approvals-0.0.24/ext /usr/bin/ruby2.5 mkrf_conf.rb Building native extensions. This could take a while...

current directory: /var/lib/gems/2.5.0/gems/approvals-0.0.24/ext /usr/bin/ruby2.5 -rrubygems /usr/share/rubygems-integration/all/gems/rake-12.3.1/exe/rake RUBYARCHDIR=/var/lib/gems/2.5.0/extensions/x86_64-linux/2.5.0/approvals-0.0.24 RUBYLIBDIR=/var

[2018-08-23 22:54] nshusa commented on #444
@pkfrank Well, I wouldn't use this for the "Latest" feed because you'd want the newest discussions to appear first. Perhaps this would be a feature for the "Feed".

[2018-08-23 23:04] Zhao-Andy commented on #451
Hey @jeann2013, could you share your operating system? From a preliminary check it looks like your gems are installed in version 2.5.0; we're running version 2.5.1. Also, knowing your Ruby version, how you installed Ruby, and your Ruby manager (if you're using one) will help.

If you haven't you checked out our installation guide, see it here for more general help:
https://docs.dev.to/installation

[2018-08-23 23:12] djhopper01 commented on #275
Is there possibly a workflow that's known to reproduce this? I tried a few more things and couldn't reproduce this, so I think I must be testing the wrong thing.

Is the behavior supposed to closely follow the [`Internal::ArticlesController#update` action](https://github.com/thepracticaldev/dev.to/blob/7760a8d196207b76c26e3ddc6ef0d5574e645879/app/controllers/internal/articles_controller.rb#L122..L

[2018-08-24 00:32] jeann2013 commented on #451
Look:

## Environment

[code]

## Bundler Build Metadata

[code]

[2018-08-24 01:20] jeann2013 opened #452 "Error Setup dev.to"
My env variables:

## Environment

[code]

## Bundler Build Metadata

[code]
**error:**
./setup
== Installing dependencies ==
Ignoring executable-hooks-1.4.2 because its extensions are not built. Try: gem pristine executable-hooks --version 1.4.2
Ignoring gem-wrappers-1.4.0 because its extensions are not built. Try: gem pristine gem-wrappers --version 1.4.0
Ignoring gem-wrappers-1.3.2 because its

[2018-08-24 04:37] ozzzzam opened #453 "Help me to setup this project on aws or heroku"
This error on Heroku

 /tmp/build_05bd55160ee432cd13e79d65af8382b5/vendor/bundle/ruby/2.5.0/gems/railties-5.1.6/lib/rails/application.rb:329:in `require_environment!'
       /tmp/build_05bd55160ee432cd13e79d65af8382b5/vendor/bundle/ruby/2.5.0/gems/railties-5.1.6/lib/rails/application.rb:445:in `block in run_tasks_blocks'
       /tmp/build_05bd55160ee432cd13e79d65af8382b5/vendor/bundle/ruby/2.5.0/g

[2018-08-24 05:12] markfrst commented on #427
Where exactly should be placed the counter?

[2018-08-24 05:27] rhymes commented on #452
Can you post your application.yml ?

[2018-08-24 05:32] rhymes commented on #451
Can you post somewhere the output of the error?

If you read the error message towards the end, the output has been saved in `/var/lib/gems/2.5.0/extensions/x86_64-linux/2.5.0/approvals-0.0.24/gem_make.out`

BTW there's something weird with your installation because you're trying to build an extension using Ruby 2.5.1 on a 2.5.0 folder.

Do you have both rbenv and rvm installed at the same time?

[2018-08-24 06:00] ozzzzam commented on #453
Thanks for reply,

here is the full error

[code]

[2018-08-24 06:13] rhymes commented on #453
Before the actual traceback you can find the error message:

The first few lines of the error should give you a clue. It says the error comes from line 95 of [production.rb](https://github.com/thepracticaldev/dev.to/blob/master/config/environments/production.rb#L95)

Since you're trying to deploy the app on a production environment you need to get all the keys the app needs. In this case you need

[2018-08-24 06:17] jeann2013 commented on #452
Sure, there here:

GITHUB_KEY:
GITHUB_SECRET:
GITHUB_TOKEN:utyiouetorutreutoureotuuor

TWITTER_ACCESS_TOKEN:
TWITTER_ACCESS_TOKEN_SECRET:
TWITTER_KEY:
TWITTER_SECRET:

STREAM_RAILS_KEY:
STREAM_RAILS_SECRET:

ALGOLIASEARCH_API_KEY:sdhfksjdhfkhsdkfhkdshkfh
ALGOLIASEARCH_APPLICATION_ID:JRB13sdlkfdsl;f
ALGOLIASEARCH_SEARCH_ONLY_KEY:88113bbc14b95dfjklsdjfljdsljfsd

[2018-08-24 06:27] ozzzzam commented on #453
Ok Thanks, I will try, Actually I'm trying to setup development ENV

[2018-08-24 09:46] rhymes commented on #451
@jeann2013 how did you solve it? It might help other people in the future :-)

[2018-08-24 09:51] rhymes commented on #452
You need to add a space between the colon of the variable and the value.

`GITHUB_TOKEN: value`

not

`GITHUB_TOKEN:value`

the same goes for the others.

[2018-08-24 12:26] Shad-Z commented on #448
The problem seems to be gone. I close the issue

[2018-08-24 12:26] #448 closed

[2018-08-24 12:52] benhalpern commented on #453
@ozzzzam can you clarify what the bigger picture of what you're doing in terms of deployment right now? There are several details which make it a little too soon to stand up your own instance on the open web. Happy to work through that with you, but if you could give me an idea of what you're doing, that would be great.

[2018-08-24 13:26] mattwaler opened #456 "Firefox tab switch results in offline page when online"
## Bug Report
Every time I navigate to the site from a Firefox tab on another site, I get redirected to the offline page.

### Additional Info (device/browser, helpful links)
Link to device/browser info:
[Stuffs.zip](https://github.com/thepracticaldev/dev.to/files/2318515/Stuffs.zip)

[2018-08-24 15:26] JoyBhalla commented on #274
I was reading up on Nokogiri,  and i am thinking of scraping the data from a website using a method like `def get_data
     base_url = 'http://www.thisisasite.com'
     main_url = "this will be a base url"
     #call method to scrape the url
 end
`
The thing i'm stuck at is how to get the link from the user,can anyone help ?

[2018-08-24 16:41] maestromac opened #460 "Add ES6 support to non-preact frontend"
## Feature Request or Task
Our frontend, the portion not covered by preact/webpacker, does not officially support ES6. ES6 works in development but not in production. There are a few band-aids in place but an official change in our configuration would be more ideal.
### Definition of Done
Contributors can freely use ES6 JS.
### Resources
- (This might be our solution) https://stackoverflow.com/que

[2018-08-24 17:13] twhite96 commented on #460
I may be able to take a look at this @maestromac.

[2018-08-24 17:40] sadarshannaiynar commented on #403
@jessleenyc @rhymes I have created a pull for displaying in desktops and tablets. However I have a doubt regarding the op-marker class is disabled for screens below 500px. Can I modify this rule to include screens below that width?

[2018-08-24 17:44] BornStellarMakesEternalLasting commented on #427
Maybe it could go above the `Add to the discussion` box like on the OMG Ubuntu website. Or maybe it would make more sense to have it next to the heart, unicorn, and book marks buttons. Here's a picture for reference.

![commentaccmulatoromg_ubuntu](https://user-images.githubusercontent.com/40554549/44599287-cddb2880-a7a3-11e8-8665-79f5815dda1a.png)

[2018-08-24 18:10] autoferrit opened #462 "Organization URL does update when changing the name field."
## Bug Report
### Current Behavior
On the [/organization](https://dev.to/settings/organization) page, changing the `name` field to change the name of my organization, will save. But does not actually change the associated URL

### Expected Behavior
Changing the `name` field in an organization, changes the actual URL of the organization.

### Additional Info (device/browser, helpful links)
Chrome `

[2018-08-24 18:12] autoferrit commented on #417
Done #462. I updated the description here to just reflect the title.

[2018-08-24 18:40] jeann2013 commented on #452
But right now give me this error:

== Preparing database ==
PG::QueryCanceled: ERROR:  canceling statement due to statement timeout
: CREATE DATABASE "PracticalDeveloper_development" ENCODING = 'unicode'
Couldn't create database for {"adapter"=>"postgresql", "encoding"=>"unicode", "pool"=>5, "connect_timeout"=>2, "checkout_timeout"=>2, "variables"=>{"statement_timeout"=>2500}, "database"=>"Practic

[2018-08-24 19:04] rhymes commented on #452
Follow the white rabbit ;-)

If you read the error it says "canceling statement due to statement timeout" which means that the statement `CREATE DATABASE` timed out.

What happens if you try do it manually?

[code]

Does this work?

[2018-08-24 19:07] Zhao-Andy commented on #452
Try our guide on this as well:
https://docs.dev.to/additional-postgres-setup/

[2018-08-24 19:35] jessleenyc opened #464 "Spelling/Grammar Correction Feature"
## Discuss
### User Story / Description
This came through the state of the web survey: a request for spelling/grammar check on articles. I think this would be useful for a lot of people, especially because we have such an international community where english is not native for all. Things to consider: design, which service to use.

### Definition of Done
A ticket w/ more actionable next steps? Or

[2018-08-24 19:41] jeann2013 commented on #452
I fixed the problem, just set password and username in database.yml.

Thank Guys!!!

[2018-08-24 19:41] Zhao-Andy commented on #452
Feel free to write a post about the errors you wrote! It'll be really helpful for us and anyone else going through it. :)

[2018-08-24 19:41] #452 closed

[2018-08-24 19:47] jeann2013 commented on #452
Where they need more help in this cool project?

[2018-08-24 21:15] benhalpern commented on #404
Hey, we've just merged our next easter egg offline page, so I'll close this issue.

[2018-08-24 21:15] #404 closed

[2018-08-24 21:59] maestromac commented on #394
Hello @AdamMcquiff , thanks for this issue. Can you provide us a .gif to highlight the current experience with keyboard navigation?

[2018-08-24 23:06] jeann2013 commented on #460
Is possible add reactjs with preact?

[2018-08-24 23:10] twhite96 commented on #460
@jeann2013 think they're going to move the whole front end to Preact. I don't think it would be a good idea to add straight React. What do you think @bendhalpern @maestromac?

[2018-08-25 03:04] nickytonline commented on #460
Preact was chosen. For the reasons why, see https://dev.to/ben/why-we-went-with-preactjs-to-power-the-devto-frontend-8d6. Having said that, React libraries can be used with Preact. This is how I got [Storybook](https://storybooks.org) setup for dev.to with Preact.

[2018-08-25 03:28] TakaakiFuruse opened #478 "Feature Request: How about Adding database.yml to .gitignore ?"
## Feature Request or Task
Adding database.yml to .gitignore and make database.yml.sample.

### User Story / Description
I just set up my own dev.to environment on my PC.

During the setup, I had to edit database.yml to connect to my DB, and now the files is on git diff.
This requires me to be a little bit careful so as not to include database.yml to my commit when I tackle issues.

So, why not ad

[2018-08-25 03:56] JoyBhalla commented on #274
So i was reading up on Nokogiri and i came up with scraping the data from the url and then output the heading and body <p> tag from the url like this

`outside_url = url
    data = data_scraper(outside_url)
    all_data = data.css('h1>p')`

[2018-08-25 04:15] JoyBhalla commented on #274
@jessleenyc  should i make a new file for the outside link tag or write the code in **_'link_tag.rb_**

[2018-08-25 06:13] rhymes commented on #478
Hi @TakaakiFuruse, that might be an option, but there's another one:

try bypassing `database.yml` with an environment variable, `DATABASE_URL`, inside application.yml (which is already ignored).

This way you can setup the DB however you wish and leave the default setup as is.

The doc doesn't mention it yet but I know @maestromac is aware of this issue and thinking about the proper solution.

In

[2018-08-25 07:43] TakaakiFuruse commented on #478
Thanks @rhymes,

As you mentioned, I have added

[code]

to my application.yml and seems everything is fine.

[2018-08-25 08:10] markfrst commented on #339
@Zhao-Andy Okay, I did as you suggested.
before fix:
![image](https://user-images.githubusercontent.com/4071096/44616377-06443a80-a868-11e8-8759-a0fa3e3e1759.png)

after fix (don't pay attention on broken images 😸):
![image](https://user-images.githubusercontent.com/4071096/44616324-5ff83500-a867-11e8-8b6d-96a1630178d8.png)

[2018-08-25 08:17] markfrst commented on #427
@jessleenyc i can make it, what you think about this feature?

[2018-08-25 12:55] atithiapp opened #480 "Supply Password Error while running bin/setup"
## Feature Request or Task
run repository locally
### User Story / Description
Could not locate Gemfile
### Definition of Done

installed  all the pre-requisites
[code]
foked the repo the ran command like this
[code]
it returned   `Could not locate Gemfile`
![screenshot from 2018-08-25 18-24-32](https://user-images.githubusercontent.com/42513360/44618480-3acdeb80-a894-11e8-9870-b51c2ec91879.png)
!

[2018-08-25 13:06] rhymes commented on #480
You're running `bundle install` from a folder named `rubygems-2.7.7` not dev.to's checkout folder.

Also: you don't need to `sudo` gem install bundler and foreman. A normal gem install will do just find.

Just go to your dev.to checkout folder and retry

[2018-08-25 13:49] rhymes opened #481 "Security vulnerability in one of the deps of selenium-webdriver (rubyzip)"
## Bug Report

After I noticed my documentation only PR - https://github.com/thepracticaldev/dev.to/pull/479 - broke the build I realized that actually the deploy was being blocked by `bundle-audit`

The reason why the build is failing is because there's a security vulnerability with (rubyzip 1.2.1)[https://nvd.nist.gov/vuln/detail/CVE-2018-1000544] which is in turn a dependency of `selenium-webdr

[2018-08-25 14:08] atithiapp commented on #480
Matter resolved. Thank you for swift reply rhymes.

[2018-08-25 14:15] atithiapp commented on #480
@rhymes

We did resolve that matter now, trying to locate where we need to supply password for 'root' so that it write and create database. Error is explained below:
Note: This error occurred while running  **bin/setup**

[code]

![screenshot from 2018-08-25 19-45-04](https://user-images.githubusercontent.com/42513360/44619144-64404480-a89f-11e8-8c0d-b7423353adc3.png)

[2018-08-25 14:17] Zhao-Andy commented on #480
Hey @atithiapp, please see our docs for more info:
https://docs.dev.to/additional-postgres-setup/

More specifically:

I think the solution posted there should solve your issues. Let us know how it goes!

[2018-08-25 19:52] benhalpern commented on #460
It's not so much the "preact" portion of the site and the non-preact. Moreso the webpacker-driven part and the legacy.

Just saying that as a way to think about it.

The roadmap includes refactoring (and in some case getting rid of) older parts of the JS and getting it more fully tested and consistently implemented.

(As a bit of an aside, in order to make best use of Preact's minimalism, we will

[2018-08-25 20:08] benhalpern commented on #456
Is this new behavior or has it always been the case for you?

[2018-08-25 20:09] mattwaler commented on #456
This has always been the case, I am a new user of the site.

Thanks,

—

Matthew Waler
Web Developer

Phone: 	(440) 829-5806 <tel:440-829-5806>
Web:	https://mattwaler.com <https://mattwaler.com/>

[2018-08-26 09:01] rhymes commented on #274
If you see the code for the https://github.com/thepracticaldev/dev.to/blob/master/app/liquid_tags/link_tag.rb the `render` method shows a few things:

- the profile's image (I wouldn't bother for an external link)
- the username/author of the article, which could translate to `<meta name="author">` for an external link
- the title of the article, which you can get from `<title>`
- the tags/keyword

[2018-08-26 11:29] atithiapp commented on #480
Thank you. What are the prerequisites for the deployment on the server? Is there any automated process? Or do we need to repeat the processes preformed on local host server ?

[2018-08-26 12:41] AdamMcquiff commented on #394
@maestromac I don't think a GIF would present much, because that's the problem: you can't see anything. As you tab through the website, the only elements that respond are form fields. In the case of the homepage, only the search field responds. If you click slightly to the left of the 'Dev.to' logo, and begin tabbing, you will tab first into the logo - which doesn't respond - followed up the searc

[2018-08-26 15:50] JoyBhalla commented on #274
I used **rpsec** for testing and then i opened the **index.html** file afterwards and read the test coverage,how will I know that i've passed the tests ?

[2018-08-26 15:53] benhalpern commented on #274
If you run regular `bin/rspec spec`, you should see the test pass/fail results right there in the terminal.

[2018-08-26 17:30] edisonywh commented on #399
Hey guys! this issue had been sitting idle for a few days, I thought while we're still deciding whether or not we should do away with an experimental API, I could implement the one-tap copy link that @Zhao-Andy mentioned.

I have made a PR here GH-484 which does that exact thing: copy to clipboard when tapped on. As it's not exactly officially signed off as an approved feature, I understand if it'

[2018-08-26 17:38] benhalpern commented on #399
Cool! Thanks so much @edisonywh. Congrats on your first PR.

Snackbar functionality should be useful going forward. I feel like right now we are missing that as a re-usable design pattern.

Despite @philnash's [great posts on the Web Share API](https://dev.to/philnash/the-web-share-api), I haven't fully wrapped my head around it. I'd love to see a sensible PR implementing it in a safe way for brow

[2018-08-26 17:56] edisonywh commented on #399
@benhalpern That was a good read indeed! Not sure how I missed that while I was researching, haha.

Here are the bits of code I'm using in my own side project. It's less than 10 lines!

[code]

In my `render()` method I check for browser compatibility again, so I only render a share button if it's feature detected.

In `dev.to`'s case, I think it'd make sense if we just have an action called `Shar

[2018-08-26 21:10] GAumala commented on #456
This has always happened on Firefox. I read an article, click a link that takes me to other domain and when I press back to return to the article I get this message that "there's no internet connection". If I open a new tab to the homepage I get the same message.

Maybe there's something weird going on with the service worker?

[2018-08-26 21:42] dogweather opened #485 "Tag blacklist"
## Feature Request

### User Story / Description

As a site reader, I want my feed to exclude posts with certain tags because they get in the way of me seeing the tags I've registered my interest in. And/or certain tagged posts generate drama which I'd rather not see.

Although a user can specify **my tags**, these are treated as "soft" recommendations, and the user is still shown other tags when

[2018-08-26 23:13] TakaakiFuruse commented on #275
Hi, I'd like to challenge this issue. Could I make some questions?

1) What is "live now", how it does work, and what's the purpose? (I can't read @benhalpern 's comment which @jessleenyc  quoted.)

2) Would you tell me how could I make Articles "live now" on dev environment? I could understand that an Article model has live_now property and some controllers are related to the "live", but cannot f

[2018-08-27 02:18] nickytonline opened #486 "Consider adding social share links to the Events page"
## Feature Request
### User Story / Description

As a user, I want to have social share link buttons on the Events page, so that I can share an event more easily. Currently, it involves copying the event's page link and then pasting it in a Tweet.

### Definition of Done

When a user navigates to an events page, there should be social share links like on blog posts on dev.to. (The report abuse lin

[2018-08-27 02:23] spkjess opened #487 "Add to Calendar Bug"
## Bug Report
### Current Behavior
1. Click "Add to calendar" on  https://dev.to/events/24-workshop-engineering-diversity-08-28-2018
2. Choose Google
3. Display error "429. Plan Exceeded.", "The referring website using the "Add to Calendar" service is related to a free Hobby account which has exceeded its monthly limits."

### Expected Behavior
Add to calendar

### Mobile & Desktop Screenshots/Rec

[2018-08-27 02:26] nickytonline opened #488 "Consider removing --coverage parameter npm script test:watch"
## Task
### Description

Currently when running `yarn test:watch`, everytime tests complete, a coverage report is shown. The coverage report is fine when just running `yarn test`, but when writing tests with watch mode, it's a bit annoying because if a test fails, you have to scroll back up pretty far in the terminal.

This is by no means a showstopper, but DX wise, an improvement.

### Definition

[2018-08-27 03:20] rattanakchea opened #490 "bundle install failed."
## Installation issue
I am using MacOS High Sierra, and follow instruction to setup dev.to locally. When I ran `bundle install`, I got the following error. Any one have the same issue?

[code]

[2018-08-27 04:30] JoyBhalla commented on #274
![screenshot from 2018-08-27 09-59-42](https://user-images.githubusercontent.com/35984969/44640551-f18ab280-a9df-11e8-9dde-c63a8216b8cf.png)
Getting this offense when commiting,but i need **open** so it can use the outside link,should i bypass it ?

[2018-08-27 06:44] markfrst commented on #490
@rattanakchea you have installed postgresql ?

[2018-08-27 06:58] rhymes commented on #274
@JoyBhalla no, don't use `open` to open URLs. As I suggested in my previous comment use HTTParty, which is already part of the dev.to codebase:

[2018-08-27 13:00] rattanakchea commented on #490
I installed postgres.app.

What is the recommended way to install pg?

On Sun, Aug 26, 2018, 11:44 PM Mark Frost <notifications@github.com> wrote:

[2018-08-27 13:09] markfrst commented on #490
@rattanakchea try it https://medium.com/@Umesh_Kafle/postgresql-and-postgis-installation-in-mac-os-87fa98a6814d

[2018-08-27 13:24] rrampage opened #503 "Notify author if post/comment is embedded in another dev.to post"
## Feature Request : Notify author if post/comment is embedded in another dev.to post

### User Story / Description

#### Rationale
When a user links to another dev.to post, he/she is writing on a similar topic or using the linked post as a building block for his/her post. Notifying the original author will promote discussion on the topic. Further, the original author will also get to know of new

[2018-08-27 13:39] rhymes commented on #490
@rattanakchea can you post the log?

[2018-08-27 14:50] pkfrank commented on #503
@rrampage great issue write-up!  I 100% agree that this should be a supported feature for the DEV platform.  This should probably apply to all liquid tags that affect user's and their content:

`{% link https://dev.to/peter/graveyard-groundskeepers-2886 %}`
`{% user peter %}`
`{% devcomment 2d1a %}`

I know that @benhalpern has thought about the technical implementation for this feature, so I'll l

[2018-08-27 17:26] Zhao-Andy opened #505 "On dashboard follower number is breaking to a new line"
@lianafelt commented on [Mon Jul 23 2018](https://github.com/thepracticaldev/dev.to_core/issues/618)

On dev.to/dashboard Follower Number is breaking to new line.

This was on last version of chrome on windows 10

![devBugScreen.png](https://images.zenhubusercontent.com/5a60cc5f4b5806bc2bc348c3/f16f5c58-6db2-4510-be23-64b435cf1239)

---

@nickytonline commented on [Tue Jul 24 2018](https://github.

[2018-08-27 17:35] Zhao-Andy commented on #490
Hey @rattanakchea, be sure to check out our docs for more info:
https://docs.dev.to/installation/mac-os/

We recommend Postgres.app, which you did. Also as Rhymes said, seeing the logs will help.

[2018-08-27 17:35] Zhao-Andy commented on #487
Hey @spkjess, thanks for the heads up! We'll take a look into it.

[2018-08-27 17:43] Zhao-Andy commented on #480
@atithiapp Not exactly sure what you're asking, but if you mean running the localhost server you should be able to run `bin/rails server` after installing all prerequisites. See out installation guide for more detailed steps:
https://docs.dev.to/installation/linux/

[2018-08-27 18:00] Zhao-Andy opened #506 "Text overlaps on mobile for some posts"
@nickytonline commented on [Thu Jul 12 2018](https://github.com/thepracticaldev/dev.to_core/issues/577)

# _BUG_
### Current/Expected Behavior
Title text should not overlap with post description.

### Additional Info (steps to replicate, device/browser, helpful links)
Happens on mobile. I'm on an iPhone 6 SE on Chrome. It only occurs with longer titles.

### Screenshots
![e0e81145-58f6-4bbd-9ed6-7

[2018-08-27 18:00] Zhao-Andy commented on #506
@joshi-chinmay Moved the issue :)

[2018-08-27 18:29] benhalpern commented on #487
Thanks! Just upgraded our plan.

[2018-08-27 18:29] #487 closed

[2018-08-27 18:29] #450 closed

[2018-08-27 21:21] Zhao-Andy opened #509 "Users covered up on DEV Connect screen"
@brian-kephart commented on [Fri Aug 03 2018](https://github.com/thepracticaldev/dev.to_core/issues/658)

# _BUG_
### Current/Expected Behavior
On the DEV Connect screen, when the list of users on the left is scrolled to the bottom, the last item is mostly hidden. If I shrink the screen, the last two entries are covered up completely.

### Additional Info (steps to replicate, device/browser, helpf

[2018-08-27 21:23] Zhao-Andy opened #510 "Add to no follow to moderate links"
@jessleenyc commented on [Tue Jul 31 2018](https://github.com/thepracticaldev/dev.to_core/issues/638)

# _TASK or Feature_
### Request or User Story
Getting lots of crawlers clicking on the hidden link that's giving them 404 errors and jamming up airbrake!
### Definition of Done

### Notes

---

@arun1595 commented on [Wed Aug 01 2018](https://github.com/thepracticaldev/dev.to_core/issues/638#issu

[2018-08-28 02:06] joshi-chinmay commented on #505
@Zhao-Andy Thanks for moving the issue.
I am working on it. Will discuss more with @nickytonline.

[2018-08-28 02:37] rattanakchea commented on #490
@markfrst it is working now after I did: `brew uninstall --force postgresql` and reinstall it back. It seems that Postgress.app only does not for my system.

[2018-08-28 02:37] #490 closed

[2018-08-28 03:35] jeann2013 opened #511 "High Error for redirect, CSS very danger, I ran brakeman"
I ran brakeman last version dev.to and i got this

This the last version:

** b0a7e3c - (5 hours ago) Add finishing touches to reports dashboard - Zhao-Andy (upstream/andy/feature/internal-reports-v2)
**
-------
## Bug Report

`

 Confidence | Class                                | Method                                    | Warning Type  |

| High       | ArticlesController                   | re

[2018-08-28 09:40] edisonywh commented on #509
Can I work on this?

[2018-08-28 14:56] benhalpern commented on #423
Another possible comment state I've thought about: Only followers.

So someone could limit comments to people already following them when they made the post. Just a thought to keep the conversation limited to people already keeping up with them.

We currently have a boolean for whether a post even has comments at all, which is an option on the backend.

Ultimately we want to do everything we can t

[2018-08-28 15:55] jessleenyc commented on #511
Thanks @jeann2013, we'll take a look at this. Also a heads up that you're on @Zhao-Andy's branch and not master!

[2018-08-28 16:04] jessleenyc commented on #219
We're definitely on board with this. Whoever takes this on can add the functionality to the 'misc' section on profile settings!

[2018-08-28 16:07] jessleenyc commented on #251
Since these emojis are showing up within text, it might make sense to find a library that will convert emojis to images on the client.

[2018-08-28 16:08] jessleenyc commented on #486
This makes sense. We never went past the MVP version of /events and we'll def want something like this when we revisit the way it's designed. Any additional thoughts on events is super welcomed.

[2018-08-28 17:11] maestromac commented on #488
That does get pretty annoying. Thanks for bringing this up and changing it!

#489 resolved this.

[2018-08-28 17:11] #488 closed

[2018-08-28 17:37] bigblind commented on #423
Hmm, limiting by followers with a time cutoff seems a bit arbitrary to me.
What about limiting it to the people the author follows (implying they
trust them)?

On Tue, Aug 28, 2018 at 4:56 PM Ben Halpern <notifications@github.com>
wrote:

[2018-08-28 22:42] Zhao-Andy commented on #456
There might be something related to our implementation of service workers that affects Firefox specifically. It might also be related to the `waitUntil()` event @robx mentioned.

A related issue was made previously: https://github.com/thepracticaldev/dev.to/issues/128

If anyone wants to take a look at it, feel free to look at our service worker files: `serviceworker.js.erb` and `serviceworker-com

[2018-08-29 01:12] maxcell commented on #443
I don't mind taking this on!

[2018-08-29 01:15] benhalpern commented on #511
Hey, @jeann2013 I believe these are generally known to be dismissable by us given that we know these are not actually user-generated content. We have investigated and dismissed most of these ourselves.

We can work to adjust the code so it is exactly what brakeman expects, and probably should, but I do not think these are active concerns. Will investigate further just to be sure.

I'm going to clo

[2018-08-29 01:15] #511 closed

[2018-08-29 01:55] nickytonline commented on #456
Happy to take this on, but I followed the steps to reproduce that @GAumala provided and I'm unable to reproduce.

I'm running FF 61 on macOS.

![error](https://user-images.githubusercontent.com/833231/44760474-ec775180-ab0c-11e8-8db0-ff6a8580039a.gif)

[2018-08-29 02:00] nickytonline commented on #456
I'm also unable to reproduce it with @mattwaler's instructions.

![error](https://user-images.githubusercontent.com/833231/44760625-b5557000-ab0d-11e8-8c35-7ef63b264295.gif)

[2018-08-29 02:03] gytdau opened #523 "Add a web font for consistent, readable viewing across all platforms"
## Feature Request or Task
Use a font hosted on the web so that all devices can display one known font.
### User Story / Description
Right now, the CSS references built-in system fonts, hoping that a device would have one of them to display. I think we could improve by instead using a web font because:

1. It would ensure a consistent experience for people switching from one platform to the other,

[2018-08-29 02:10] gytdau commented on #464
Hmm, adding Grammarly sounds like it would conflict with the entire open source philosophy in some way. I haven't experienced these issues myself, but what about a Stackoverflow-esque style of editing, where other people can suggest edits on the article for the author to review and publish? This could also be good if the information should be corrected in some minor way. I can see this infringing

[2018-08-29 02:45] mattwaler commented on #456
I think I may have figured it out. Judging from @GAumala's video and my own experience, the only thing in common between us and nobody else is the privacy badger extension. I've disabled it on the dev.to domain and so far so good, but I will continue to test to be sure.

[2018-08-29 02:52] GAumala commented on #456
Disabling Privacy Badger for dev.to using the extension's "Disable Privacy Badger for This Site" button did not fix the issue. But, if I completely disable it from the add-on's manager, then it finally works.

[2018-08-29 02:53] mattwaler commented on #456
100% confirmed. When navigating from the site to another and back, privacy badger detects the entire site (for reasons unknown) as a tracker and blocks it completely. To fix, when the bug presents itself, simply open the extension and allow dev.to through.

Sorry for taking up everybody's time!

[2018-08-29 02:54] #456 closed

[2018-08-29 02:54] nickytonline commented on #456
Nice! I was going to mention extensions causing issues, but I didn't want to mention it too early before doing some more tests.

[2018-08-29 02:56] mattwaler commented on #456
@GAumala per my previous comment, I was only able to fix this by causing the bug, then opening the extension options and changing "dev.to" from red to green in the extension. I have yet to see the bug after doing this.

[2018-08-29 02:58] GAumala commented on #456
Yes that did fix it for me too. Thanks!

[2018-08-29 03:01] nickytonline opened #524 "Update the Issue Template to Mention Browser Extensions"
## Task

Update the issue template with appropriate text to mention testing the issue with browser extensions disabled before submitting the issue.

### Additional Info (device/browser, helpful links)

See https://github.com/thepracticaldev/dev.to/issues/456#issuecomment-416805509

[2018-08-29 03:04] ravernkoh commented on #173
Highly support this idea. I always end up clicking on the arrow at the top right of a comment thinking that it would collapse the comment.

[2018-08-29 03:06] joshi-chinmay opened #525 "Mixture of irrelevant posts on the profile page."
## Bug Report
I was scrolling through the feed, and went to the profile's page, and saw the weird list of posts. This behaviour occurred a few months back. I tried to reproduce, but it didn't happen again.
### Current Behavior
I clicked on the user's profile and scrolled through his/her profile. Once you reload the page, all the irrelevant posts to his/her profile are gone. This behaviour is hard

[2018-08-29 03:09] joshi-chinmay commented on #525
And, the same thing happened again -
![happened-again](https://user-images.githubusercontent.com/16207311/44763055-00a66780-ab7c-11e8-8691-1a15dded48f7.png)

[2018-08-29 03:29] pkfrank commented on #173
I'm also a big fan of this idea.  I think it's especially critical in longer threads (which are becoming increasingly common).

[2018-08-29 04:47] JoshCheek opened #526 "Bug after editing a post"
## Bug Report

Total guess (I haven't looked at code, I'm just thinking about what would make sense with what I observed): there is JavaScript modifying the page in a way that is not compatible with the backend web app.

### Current Behavior

* When I edit a comment and submit it, the post-submission page does not reflect the edit.
* When I refresh the page (thinking maybe it's a caching issue), I

[2018-08-29 13:32] atithiapp commented on #480
i have ran the dev.to repo successfully in my local machine. now i want to run it to my cloud server?
1. do i need to repeat the exact process in my cloud server as i have done in my local ?.
2.  or there is any command like bin/deploy to automatically deploy the production version in the cloud sever.
3. OR if you could help me with deployment guide.
4. if i do some local changes so how to update

[2018-08-29 14:17] JoshCheek opened #535 "Probably a bug in vimeo tag for "private link" videos"
## Bug Report

Haven't looked at this thoroughly, just wanted to document it b/c I'm expecting it's a bug:

I just made a video and saved it with a privacy settings that you can only get to it via a link (otherwise my index gets spammed with a lot of videos that are really more like DMs). The link there was: [https://vimeo.com/287256752/fef4791276](https://vimeo.com/287256752/fef4791276).

This is

[2018-08-29 15:52] maestromac commented on #207
Hey @hoelzro ! if you wish to take a jab at it, try to get the functionality working first and don't worry about the design decision just yet. @benhalpern can you give more feedback on the design.

[2018-08-29 16:42] benhalpern commented on #525
Okay, I suspect this is possibly a race condition or something along those lines since we don't reload the page, it's possible that the pagination you triggered on the page you _were_ on is appended to the page you are now on.

We need to check for an indication that it's proper to append to this new view.

[2018-08-29 17:51] Zhao-Andy commented on #128
Hey @hoelzro and @philnash, not sure if you have the Privacy Badger extension, but that might have been the issue. If you do, moving the slider to allow `dev.to` should work. See https://github.com/thepracticaldev/dev.to/issues/456 for more details.

[2018-08-29 19:49] hoelzro commented on #128
@Zhao-Andy Thanks, I'll try that out!

[2018-08-29 21:16] danieljsummers opened #539 "Add "refresh now" for RSS feed publishing"
## Feature Request or Task
### User Story / Description

When publishing from an RSS feed, we pretty much have to wait until it is refreshed. When I write, sometimes I have a finite period of time I can devote to it; if I could force a refresh of posts via RSS, I could cross-publish on DEV in the same session, rather than coming back every few hours to see if the draft has made it there yet.

###

[2018-08-30 04:02] joshi-chinmay commented on #525
Yep. I am looking at the code to see what's causing the issue.

[2018-08-30 08:40] BassemMohamed opened #542 "Give users easier access to MY READING LIST"
## Feature Request
### Description

I dont know about every user, but i find myself doing the following senairo most of my time surfing dev.to. What i do is :

1. Scroll through the feed
2. Save every article i find interesting to my reading list
3. Go through my reading list
4. Read every article

With this approach i go from any random post to my reading list many times. As of now, there is no e

[2018-08-30 18:01] edisonywh commented on #542
I can think of one way where we add a link in the drop-down menu when you click on the profile icon in the header?

[2018-08-30 23:44] philnash commented on #128
OMG. Privacy Badger!

That's so weird, but it's sorted. I'm going to raise this with Privacy Badger too.

[2018-08-30 23:45] #128 closed

[2018-08-31 03:30] hoelzro commented on #207
@maestromac I'll give it a shot if I have time!

[2018-08-31 14:08] atithiapp commented on #480
Sir ?

[2018-08-31 14:57] ghostwords commented on #456
I think this is some sort of bug in the interaction between Service Workers and WebExtensions APIs in Firefox. See https://github.com/EFForg/privacybadger/issues/1144 for the root Privacy Badger issue tracking this problem. There is also a bit of analysis in https://github.com/EFForg/privacybadger/issues/2062#issuecomment-397002340. I would love help in narrowing down the exact cause and filing a

[2018-08-31 18:15] Zhao-Andy opened #568 "Highlighting text in /connect doesn't work"
## Bug Report
### Current Behavior
Highlighting text in /connect chat channels does not work as intended. Here's a `.gif` example:
![screen recording 2018-08-31 at 02 13 pm](https://user-images.githubusercontent.com/17884966/44929207-27090600-ad28-11e8-913f-9b4bf4de3f7e.gif)

It's a bit inconsistent, but for the most part, it deselects the highlighted text shortly after being selected.
### Expecte

[2018-09-01 08:42] tterb commented on #423
This is just my two cents, but as someone who was drawn to the community based on the constructive and friendly discussion that can be found in the majority of posts, I fear that providing the ability to remove comments entirely may project a misleading impression of the community and hinder the potential for constructive discourse.
I think that the addition of the "trusted member" system is a goo

[2018-09-01 12:05] BBasile opened #573 "Random twitter address in my profile"
At the bottom of my posts, for example [this one](https://dev.to/bbasile/lessons-learnt-about-d-const-function-attribute-lac) there's a twitter address displayed. It's not mine since i don't even use Twitter and i have no idea how this has been associated to my account (registered in 2016 but started using it only 2 weeks ago)

![screenshot_20180901_140215](https://user-images.githubusercontent.co

[2018-09-01 16:54] benhalpern commented on #573
Hey! You are user number 278 all-time. Some of our very early accounts have random bugs from this being a side project with plenty of my personal mistakes.

Just removed the Twitter handle there. If you experience other issues, let me know.

[2018-09-01 16:54] #573 closed

[2018-09-01 17:53] Defman21 opened #575 "Handle linebreaks in markdown"
## Feature Request or Task

Feature request.

### User Story / Description

I'm writing my articles in a code editor and line-break them manually at 80 chars, so I could read them anywhere without worrying about word-wrap and stuff. Markdown does not count these line-breaks as line-breaks and every markdown parser I saw join them automatically, so

[code]

becomes

[code]

Dev.to, however, handle

[2018-09-01 19:09] BBasile commented on #573
thanks.

[2018-09-02 17:54] AntonyGarand commented on #380
I would actually have the series in a new section, not within the article editor.

On the dashboard or in the menu, you could have a `Manage your series` area
![image](https://user-images.githubusercontent.com/9059487/44959090-67e35500-aeb7-11e8-92ee-c0593b8f2ccf.png)
Where you could create a serie and add, move or remove articles from them.

This would have the benefits of being able to modify an

[2018-09-02 21:23] AntonyGarand opened #578 "Analytics lacking permissions"
## Bug Report
Any user can access all of the articles analytics via the `/analytics` endpoint.

### Current Behavior
1. Find a blog post you don't own (Ex: https://dev.to/ben/devto-is-now-open-source-5n1 ) (Unless you're ben, then take anther article)
2. Find its article id ( `document.querySelector(".body").attributes['data-article-id']` )
3. Access `https://dev.to/analytics?article_ids=[Your-art

[2018-09-02 22:02] elanatee commented on #394
Hi! Could I try helping out with this issue? @maestromac @jessleenyc

[2018-09-03 03:19] robertcoopercode opened #579 ""Twitter username has already been taken" error on profile settings page"
## Bug Report
### Current Behavior
When trying to save new profile information on my settings page, I get an error prohibiting my new information from being saved because "Twitter username has already been taken".

### Expected Behavior
I expect to be able to save new information I insert on my profile page.

### Mobile & Desktop Screenshots/Recordings
<img width="954" alt="screen shot 2018-09-02

[2018-09-03 03:28] joshi-chinmay commented on #505
Hey, @nickytonline this is how the styles are looking on Ubuntu Machine (which is as same as Windows).
What do you think might be causing the issue? Also, let me know if you need anything else.

![screenshot from 2018-09-03 11-22-53](https://user-images.githubusercontent.com/16207311/44966198-5f992180-af6c-11e8-9f3f-a03e0bd429d2.png)

[2018-09-03 03:44] nickytonline commented on #505
@joshi-chinmay, I haven't had a chance to look into this yet. I wonder if it's related to https://github.com/thepracticaldev/dev.to/issues/523 ?

[2018-09-03 03:55] joshi-chinmay commented on #505
@nickytonline, I think it is... :+1:

[2018-09-03 04:55] thomaslawton91 commented on #127
@RyKilleen took a break and just getting back. As I read this the changes necessary are changing `header` tags to `section` tags and then adding the according `h*` tags within, is that correct?

Just want to make sure I have a full grasp to move forward on.

[2018-09-03 18:26] nickytonline commented on #505
@joshi-chinmay, if you can confirm this is just a side effect of #523, we can close this one. cc: @Zhao-Andy

[2018-09-03 20:28] JibranKalia commented on #400
@joeberetta @jessleenyc I was wondering if I can start tackling this issue if there have been no further developments.

[2018-09-03 21:50] joeberetta commented on #400
Hi, @JibranKalia Yes of course, I'll be glad if you will help with this task. I've started it but now I have no time for this. Hope to see the improved code from you 🍭

[2018-09-04 00:09] jessleenyc commented on #509
Looks like this is done!

[2018-09-04 00:09] #509 closed

[2018-09-04 00:16] jessleenyc commented on #539
Yeah, great issue. Definitely makes sense to have a refresh button right on settings/publishing-from-rss.

[2018-09-04 00:21] #579 closed, assigned to nobody

[2018-09-04 15:21] jonathan-irvin opened #586 "Create liquid tag for linking to a tag page on dev.to"
## Feature Request and Bug
I love that we can link to dev.to users, articles, but for my case (and I imagine others in the future) the ability to show a series of articles within an article will promote SEO and also help others discover new content.

-------

### Current Behavior

Adding a tag of `{% link https://dev.to/t/jellyfin %}` causes an error shown below

![screen shot 2018-09-04 at 10 00

[2018-09-04 16:30] benhalpern commented on #523
I'm in favor of this exploration. And I support the purpose of the ticket. Happy to examine some specific proposals.

[2018-09-04 16:34] jessleenyc commented on #524
Might make sense for us to leave a note telling folks to email us directly if they have a duplicate account/merging issue too.

[2018-09-04 17:10] jessleenyc commented on #575
One of the concerns here is that any changes we make to the way we handle markdown rendering needs to be backwards compatible. We could probably make this work by creating a configuration that authors can tweak on their own.

[2018-09-04 17:14] jessleenyc commented on #586
This makes sense -- not sure how the additional articles part of the embed would look. Do you have any thoughts on design? cc @benhalpern

[2018-09-04 17:19] StefanDorresteijn opened #589 "Add comments to moderation decisions"
## Feature Request or Task
I'd like to see a comment field added to the moderation decisions.

### User Story / Description
As a moderator, I want to add a comment to my moderation decisions.

### Definition of Done
When a comment field has been added, the comment gets saved in the database and the staff can see the comment along with the decision (downvote/emoji that's about to throw up) and the

[2018-09-04 17:27] JoshCheek commented on #526
Is this still broken? I'm pretty sure I went through the same process yesterday and did not hit it, so I was assuming that it had been fixed.

[2018-09-04 17:41] Zhao-Andy commented on #526
I believe so, we haven't made any pushes to resolve it.

[2018-09-04 18:42] jonathan-irvin commented on #586
It could follow this model that you're already using, but instead of individual blocks, it could be 1 single block with multiple entries.

![screen shot 2018-09-04 at 1 35 56 pm](https://user-images.githubusercontent.com/2481437/45050698-a0199d80-b047-11e8-8ac0-1857a5001687.png)

Instead of `More from`, it could be a call-to-action such as `Read more from #tag_name#`.

You could include a follow b

[2018-09-04 21:08] #363 closed

[2018-09-04 21:09] #510 closed

[2018-09-04 21:17] benhalpern commented on #589
I think this makes sense. The internal tool we have right now is the "notes" model, which we could attach to either the reaction or the comment/article the user is reacting to. I think the latter would be the saner choice. Basically those act as internal comments.

We have the concept of "note" instead of an "internal" or "private" type of comment. I feel like that's what we want to run with.

[2018-09-04 23:41] timorthi opened #595 "Trailing slashes in profile links cause a validation failure"
## Bug Report
### Current Behavior
For all links under the "Links" profile section (Facebook, StackOverflow, LinkedIn, Behance, Dribbble), a trailing slash will cause a validation failure, preventing a save.

### Expected Behavior
Trailing slashes in any of the above mentioned links should not cause a validation failure because these are all valid URLs. In fact, LinkedIn forces a trailing slash on

[2018-09-04 23:47] timorthi commented on #595
I'd like to work on this one if it's approved! 😄

[2018-09-05 01:11] brycedorn opened #596 "Accessibility: Add keyboard navigation to feed"
## Feature Request or Task

Add listeners for `j` & `k` to scroll up one or down a post in the feed. This would align it more with other feeds (Twitter, Tumblr, etc), and is a nice way to scroll through content.

This also goes along with https://github.com/thepracticaldev/dev.to/issues/121 and https://github.com/thepracticaldev/dev.to/issues/394.

### Definition of Done

Pressing `j` or `k` will

[2018-09-05 04:08] rusith commented on #595
Facebook URLs with a dot in it also causes a validation error. for an example ,
`https://www.facebook.com/shanaka.rusith` causes a validation error
And this `https://www.facebook.com/shanakarusith` works fine

[2018-09-05 09:20] shanalikhan opened #597 "RSS Feed for Customized Profile"
I use Feedly for reading articles.
I have recently added Dev.to RSS but I'm getting a lot of articles.

What I want as a user of dev too. I have subscribed the tags and only want Feed that is available for those tags.
For example, I am following Feeds for 3 tags. Dev To should generate custom RSS Url for my profile something like:
dev.to/shankhan/feed/RSS

Should contains the articles for my tags.

[2018-09-05 15:06] shanalikhan opened #606 "Improving Quality Post on Tags"
There are many articles which I think doesn't fit into tags the owner has set in order to get views etc.
It would be great if the platform provides some limitations to let article owner define tag more precisely. They can be multiple ways.

Limit the tags to 2 tags per article so article owner thinks the topics more precisely before publishing.
In this way, the user will get more accurate articles

[2018-09-05 16:27] maestromac commented on #597
Thanks for this issue @shanalikhan. This is a duplicate of #201. Closing as there's already a conversation going there.

[2018-09-05 16:27] #597 closed

[2018-09-05 16:57] Zhao-Andy commented on #595
Hey @timorthi, we added some stricter validations to the URLs recently. Feel free to work on this! I'd recommend making the trailing slash optional with regex.

@rusith Thanks for the heads up. I didn't account for dots in Facebook usernames. @timorthi if you do work on this, I would recommend adding this to the current regex as well.

[2018-09-05 18:39] AntonyGarand commented on #606
I disagree about limiting the tags to 2, it is easy to justify having few more, such as javascript, react, showdev, opensource

There could be a "Suggest removing X tag" button though, where after few reports the tag is removed or flagged for moderation!

[2018-09-05 18:44] AntonyGarand commented on #596
In the meantime, you can use an extension such as `Vimium` to navigate using the keyboard.
I use `u` and `d` to move `up` and `down` and it works quite well!

[2018-09-05 18:45] benhalpern commented on #606
Yeah I think @AntonyGarand is thinking about this the right way.

Agree with the general problem statement. We've been low-key moderating this since day one but it's not really keeping up with scale. We will need to add some functionality to keep this working well.

[2018-09-05 19:58] shanalikhan commented on #606
@AntonyGarand

Why not limit it to **react, opensource** - The react, javascript might be the same. But making a tag with react instead of javascript makes it more accurate according to content.

"Suggest removing X tag" can be one option.

Yes, I recently joined this community and found these things, it's better to control or manage them unlike medium or any other platform.

[2018-09-05 20:00] shanalikhan commented on #201
I agree with @turquoise-turtle , i also use Feedly and really want my customized feed there. When even i open Feedly i got many posts from dev.to.

[2018-09-05 20:27] timorthi commented on #595
@Zhao-Andy Gladly! For the Facebook username, should I account for dots only being allowed as word separators (i.e. not at the start/end, and no consecutive dots), or will `[a-zA-Z0-9.]` be good enough?

[2018-09-05 21:05] Zhao-Andy commented on #595
Yeah, go for the word separation solution! 👍

[2018-09-05 21:12] shanalikhan commented on #27
@jessleenyc can you add me in beta as well?
Looking forward to improve dev.to

[2018-09-05 21:45] shanalikhan opened #610 "Import Post from Jekyll Blog or Medium"
There should be a feature to import the post from Jekyll Blogs or pages or from the Medium.
the user should enter the link and all the post with images should be imported

[2018-09-05 21:51] rhymes commented on #610
@shanalikhan I'm fairly sure people can import posts from Medium, using the RSS, see here https://dev.to/settings/publishing-from-rss

[2018-09-05 22:04] maestromac commented on #610
Thanks for this issue @shanalikhan . As per @rhymes, yup, this feature exists via RSS import.

Closing

[2018-09-05 22:04] #610 closed

[2018-09-05 22:30] brycedorn commented on #596
This is great, thanks for pointing me there @nickytonline! It'd be nice to pull out any global key listeners into a separate class, especially if anyone wants to add a new one in the future. I can help out with this, let me know if there's a good time I should tackle it & not conflict with anything else being worked on!

And yes @AntonyGarand I did try using that extension for a little while (when

[2018-09-06 16:29] Eros opened #612 "Featured repos don't support emojis"
## Bug Report
### Current Behavior
The description of the bug displays as normal, however anything with an emoji displays as the text
### Expected Behavior
Displays them pretty emojis
### Mobile & Desktop Screenshots/Recordings
https://imgur.com/a/RCwisRo
emoji list https://gist.github.com/rxaviers/7360908
### Additional Info (device/browser, helpful links)
All

[2018-09-06 17:43] timorthi commented on #595
I have everything else done but I'm having trouble with the FB regex -- if anyone can help out with this one, that'd be great:

For the username, Facebook allows dots (`.`) in between characters (never at the start or end of the string) and never consecutively. Interestingly enough, for the 5 character minimum that they set, dots don't count toward this minimum (try it yourself at http://facebook.

[2018-09-06 19:01] Zhao-Andy commented on #401
Closing since this is sorted out. :)

[2018-09-06 19:01] #401 closed

[2018-09-06 19:43] maestromac commented on #612
Thanks for this issue, @Eros . This looks like a duplicate of #238 .

Closing

[2018-09-06 19:43] #612 closed

[2018-09-06 20:49] jonathan-irvin commented on #606
React = Javascript
JavaScript != React

I look at javascript as a broad tag and React as a more focused tag.

[2018-09-06 23:17] jessleenyc commented on #282
Hey @M0nica! Checking in to see how this is going, let us know if we can help with anything.

[2018-09-07 06:41] Mokkapps opened #619 "Canonical URL is not getting updated in posts"
## Bug Report
### Current Behavior

I configured my account to publish blog posts to dev.to from my RSS.

Unfortunately, the imported blog post draft did include the wrong canonical URL but I had it already published.

I edited the post again on dev.to and changed the `canonical_url` value to the correct one. The published post still shows the old incorrect URL.

### Expected Behavior

I can edit

[2018-09-07 15:17] AntonyGarand commented on #595
The dots can be among any other characters, so facebook.com/.a and facebook.com/a. are both valid.
What you could do is remove all dots in the URL then pass the regular regex, or add them everywhere instead of the word separator.

[2018-09-07 17:26] timorthi commented on #595
Hey @AntonyGarand , the leading and trailing periods are not valid usernames based my testing (see screenshots) - unless there's something I'm missing here?

<img width="587" alt="screen shot 2018-09-07 at 10 20 41 am" src="https://user-images.githubusercontent.com/5664347/45233676-54096b80-b288-11e8-8d55-0718b6933f3f.png">
<img width="576" alt="screen shot 2018-09-07 at 10 20 47 am" src="https://

[2018-09-07 17:29] AntonyGarand commented on #595
They might not be valid for new names, but hey are in existing ones:
[facebook.com/a.](//facebook.com/a.) and [facebook.com/.a](//facebook.com/.a) are working

[2018-09-07 17:32] AntonyGarand commented on #595
Well, actually, the dots are ignored when resolving a URL, so it's pretty much the same as removing those.

[2018-09-07 21:03] Zhao-Andy commented on #619
Hey @Mokkapps, thanks for the heads up! We'll take a look and see what's going on there.

Leaving a note that we'll have to have this reflect in the v2 editor, too.

[2018-09-08 01:35] M0nica commented on #282
Hi, @jessleenyc thanks for checking in! I haven't had a chance to go through the 23 Robocop errors yet. I'm happy to pass this along to someone else so that it isn't a blocker. I haven't written a lot of Ruby so do you have any resources for formatting/style guide best practices? The changes I made were just "find and replace" but it seems like Robocop hates the formatting and can't auto-resolve a

[2018-09-08 01:42] mscoutermarsh commented on #282
@M0nica what's the Rubocop error? I've done a lot of Ruby and can try to help. 😄

[2018-09-08 13:49] rhymes commented on #282
@M0nica most of Rubucop is based on the [Ruby Style Guide](https://github.com/rubocop-hq/ruby-style-guide). If you manually run `bundle exec rubocop -a` it will attempt to fix the style errors it can fix and still signal those it can't, usually with a link to the style guide section concerning the detected error.

If you feel like it you can also open a work in progress pull request so that @mscou

[2018-09-08 20:01] msarit commented on #127
@thomaslawton91 Hi there! Whats the status of this issue please?

[2018-09-09 05:32] nathansebhastian commented on #306
Hi everyone,

 I'd like to help contribute to dev.to, and since I have windows machine for development with WSL, I think I'll start here. I've followed the documentation and gorails tutorials, right now the site is running fine on my localhost. Here are the outline of the steps I did to run it:

1. Install WSL 18.04 and check for postgre first, use apt install

1. Install NodeJS 8 from debsource
[

[2018-09-10 11:53] msarit commented on #480
Could this issue be closed then? 😄

[2018-09-10 11:57] msarit commented on #107
Could this issue be closed please? 😄

[2018-09-10 13:05] atithiapp commented on #480
no i am getting this error in production
when i ran
RAILS_ENV=production bin/setup --trace
[code]

[2018-09-10 13:35] rhymes commented on #480
@atithiapp this sounds like a diffent issue, you should close this one and then open a different one :D

[2018-09-10 13:55] atithiapp opened #622 "not able to run dev in production when providing application.yml"
no i am getting this error in production
when i ran
RAILS_ENV=production bin/setup --trace

[code]

[2018-09-10 13:56] Zhao-Andy commented on #480
Closing since @atithiapp made a new issue.

[2018-09-10 13:56] #480 closed

[2018-09-10 15:01] maestromac commented on #451
Closing this since it's solved.

[2018-09-10 15:01] #451 closed

[2018-09-10 16:32] nathansebhastian commented on #306
UPDATE: I've installed Ruby and rails with the exact specific version on Windows. Here are some errors I found:

- Rails complain sys-proctable gem were not found in the gemfile. Solved with `bundle add sys-proctable`

- Foreman `spawn': Exec format error - bin/rails s -p 3000 (Errno::ENOEXEC)
    Edit the procfile.dev file into
[code]
- Webpacker ./bin/webpack-dev-server:65:in `exec': No such fil

[2018-09-10 16:49] nathansebhastian opened #623 "Edit post show 500 error when username is changed"
## Bug Report

### Current Behavior

1. Publish a post
1. change the username
1. The edit post link is still routing to the old username, thus causing 500 error

### Expected Behavior
Edit post link should use the new username as parameter so that user can go and edit their post

### Mobile & Desktop Screenshots/Recordings
![edit post](https://user-images.githubusercontent.com/10413648/45311694-0f

[2018-09-10 16:54] nathansebhastian commented on #623
May I ask for permission from the core team to work on this issue?

[2018-09-10 17:15] maestromac commented on #306
Hey @nathansebhastian , I really like what you shared here! feel to create PR to update [this file](https://github.com/thepracticaldev/dev.to/blob/master/docs/installation/windows.md). If you are uncertain on how you want to format it, mimicing [our linux guide](https://github.com/thepracticaldev/dev.to/blob/master/docs/installation/linux.md) is a good call.

[2018-09-10 18:58] #623 closed

[2018-09-10 19:40] Zhao-Andy opened #625 "Colon in description text does not have proper error handling"
## Bug Report
Leaving a colon in description text of the front matter does not have proper error handling.

### Current Behavior
In this example:
[code]
Clicking "Preview" or "Save" will cause the page to 500 instead of having a proper error message.

### Expected Behavior
We give a proper error message and not have the page hit a 500 error.

### Related Files
See `markdown_parser.rb`.

Thanks @ne

[2018-09-10 19:45] nestedsoftware commented on #625
Note: This seems to only happen when you update an existing article. If you have a brand new article and you try to save it with a colon in the description, the app actually displays a proper validation error message.

[2018-09-10 20:34] #595 closed

[2018-09-10 21:57] maestromac commented on #524
Resolved with #617 . If this can be done better, let us know!

[2018-09-10 21:57] #524 closed

[2018-09-10 22:53] misterhtmlcss commented on #606
@shanalikhan I can't disagree with you more and I totally agree with @benhalpern @jonathan-irvin. Heres why.
1. Many things can be compiled into a language such as React, such as TypeScript.
2. If something is opensource it's potentially an invitation to action such that @jonathan-irvin would likely even be able to valid that point of view, then you have intent in the tag, such as 'healthydebate'

[2018-09-10 23:09] misterhtmlcss commented on #485
I love this idea. I'm always in favour of what I call 'negatives'; is there a correct term for this? I really dislike my feed getting poluted with everything under the sun. A great example is Webpack; it's used for everything and written about often, but I don't want to subscribe, because it's got 70% content I don't want.

@benhalpern I'd like to raise an expansion of this proposal. We should hav

[2018-09-11 13:49] nathansebhastian commented on #306
Hi @maestromac okay then I'll make one when it's ready for review

[2018-09-11 14:14] Nirajn2311 commented on #306
@maestromac did you install postgre in windows or in wsl

[2018-09-11 14:57] jessleenyc commented on #606
@shanalikhan we have a concept of tag aliases and i just added ml as an alias for machinelearning. This _should_ make it appear now.

[2018-09-11 15:01] shanalikhan commented on #606
Yes it works, Thanks

@jessleenyc

[2018-09-11 16:34] maestromac commented on #306
@Nirajn2311 I haven't attempted to install postgres on my windows machine yet. I'll try it out and let you know.

[2018-09-11 16:59] maestromac commented on #193
I thought I solved it ☹️. It's relatively tricky since it's an async job. I'll take a jab at it again in due time

[2018-09-11 20:45] #578 closed

[2018-09-11 20:50] benhalpern commented on #596
I think for now, ensuring we support vimium is the best option, but in the long run I could see us trying to have a richer set of native controls, probably ones that work with vim expectations.

[2018-09-11 22:05] pkfrank opened #634 "Add feature to remove article from homepage content boxes"
## Feature Request or Task
Articles submitted to certain tags show up on the homepage by default.  However, sometimes there are instances where an admin would like to remove it from showing up.  Here's an example:

![example of erroneous article on homepage sidebar box](https://cl.ly/045ff1d87d44/Image%202018-09-11%20at%205.57.43%20PM.png)

### User Story / Description
As an admin, I want to remov

[2018-09-11 22:05] pkfrank opened #635 "Add a shortcut to an individual comment in the admin panel"
## Feature Request or Task
To support the admin workflow, we have the following shortcut: `dev.to/ben/admin` forwards to `https://dev.to/admin/users/1`.  This allows us to quickly and ergonomically navigate to a user's admin page if we have to make an adjustment to their account.

As part of our admin/moderation duties, we occasionally have to manually delete comments.  This currently involves tak

[2018-09-12 01:33] #272 closed

[2018-09-12 01:41] Moonlight56 commented on #634
hallo every all

[2018-09-12 01:41] Moonlight56 commented on #634
sorry

[2018-09-12 01:42] Moonlight56 commented on #634
😊😊😊

[2018-09-12 01:42] Moonlight56 commented on #634
thanks

[2018-09-12 01:43] Moonlight56 commented on #634
pl help me

[2018-09-12 01:43] Moonlight56 commented on #634
😊😊

[2018-09-12 02:19] Moonlight56 opened #637 "moonlight56"
## Feature Request or Task

### User Story / Description

### Definition of Done

featured_number below 1500000000

## Bug Report

### Current Behavior

### Expected Behavior

### Mobile & Desktop Screenshots/Recordings

### Additional Info (device/browser, helpful links)

[2018-09-12 04:13] grv19 opened #638 "Sign In Via LinkedIn"
## Feature Request or Task
Feature Request
### User Story / Description
Since there are a number of members looking out for jobs, it makes sense we integrate linkedin with dev.to. Providing signing in via linkedin will be a good first step and we can auto fill a members profile with their linkedin data.
### Definition of Done

---

## Bug Report

### Current Behavior

### Expected Behavior

### Mo

[2018-09-12 04:14] grv19 commented on #638
@benhalpern @maestromac Your thoughts on this ? I can work on this one after a heads up from you guys.

[2018-09-12 06:48] nathansebhastian commented on #306
@Nirajn2311 I've installed on both, but for WSL I encountered an issue which I mentioned in step 14. For now my local build in WSL is connecting to Windows PSQL

[2018-09-12 11:17] shriharshmishra opened #639 "503 HTTP Status returned with loading images"
## Bug Report

### Current Behavior
When I access dev.to from my office (behind proxy), no images are loaded. The browser console is full of 503 error. If the URL was not reachable due to proxy firewall, I should have seen 404 errors.

### Expected Behavior
As outside proxy environment, images should load.

### Mobile & Desktop Screenshots/Recordings
![image](https://user-images.githubusercontent.

[2018-09-12 11:59] Nirajn2311 commented on #306
@nathansebhastian When I was installing the pg gem it ran into an error due to missing libraries. The solution to fix this issue was downloading the libraries with the command `sudo apt-get install libpq-dev`

Also the database username and password also have to be manually added to test database in database.yml

The above two were the only issues I ran into while setting up.

[2018-09-12 15:09] pkfrank commented on #622
Hey @atithiapp please check out this [thread on DEV](https://dev.to/ben/so-you-want-to-stand-up-your-own-instance-of-dev-help-thread-1elo) for more information, considerations, and current-limitations related to standing up your own instance of DEV.  Feel free to @-mention me or @benhalpern with any questions.

[2018-09-12 15:12] pkfrank commented on #453
Hey @ozzzzam, I just wanted to alert you to [this thread](https://dev.to/ben/so-you-want-to-stand-up-your-own-instance-of-dev-help-thread-1elo) that @benhalpern created yesterday which provides a bit more context that's relevant to eventually setting up your own instance of DEV.

[2018-09-12 15:50] benhalpern commented on #634
I remove the improper tag when I see this. I could see the ideal way of doing this is adding an anti-tag.

It probably makes sense that this could be a task for the mods of individual tags.

[2018-09-12 15:52] Zhao-Andy commented on #634
My experience with this was removing the improper tag took a little while to remove it from the sidebar. Not sure if it was a caching issue or not.

[2018-09-12 16:08] maestromac commented on #453
As per @pkfrank, any further discussion is encouraged in that thread.

Closing

[2018-09-12 16:08] #453 closed

[2018-09-12 16:10] #622 closed

[2018-09-12 16:56] Zhao-Andy opened #640 "Medium RSS feed articles are not pulled in if they have Giphy embeds"
## Bug Report
### Current Behavior
When pulling articles via RSS feed and from Medium specifically, the posts with Giphy embeds are not created because they run into an error here:
https://github.com/thepracticaldev/dev.to/blob/9e35b25ac1471fad4497d3c25c974acf590de256/app/labor/rss_reader.rb#L126-L143

In line 133, `open` fails:
[code]

Basically, the short link redirects to regular HTTP, and that

[2018-09-12 18:07] maestromac commented on #619
Resolved with #632. Let us know if otherwise!

[2018-09-12 18:07] #619 closed

[2018-09-13 04:00] nathansebhastian commented on #306
@Nirajn2311 Ah now that you mention it, yes I do have that pg gem error on install.. Noted to add these two points in the documentation.. Thanks!

[2018-09-13 06:56] rhymes commented on #306
@Nirajn2311 @nathansebhastian this is how you can avoid editing database.yml to add username and password https://docs.dev.to/additional-postgres-setup/#configuration

[2018-09-13 07:15] rhymes commented on #640
Maybe you can just switch to HTTParty, it's already part of the code:

[code]

[2018-09-13 07:18] rhymes commented on #639
Images are directly hosted by Cloudfare, can you check if your company's proxy doesn't have some weird rules about that?

[2018-09-13 08:04] KrofDrakula opened #645 "RunKit liquid blocks incorrectly passing escaped HTML entities"
## Bug Report

The following document creates an invalid RunKit embed on a page:

[code]

### Current Behavior

The `>` character is escaped into `&gt;`, which breaks the source code.

### Expected Behavior

Code should not have escaped HTML entities when passed to the embed code.

### Mobile & Desktop Screenshots/Recordings

![image](https://user-images.githubusercontent.com/112161/45475268-be605

[2018-09-13 15:03] jmalarcon opened #646 "RSS feed not refreshing"
## Bug Report

### Current Behavior

I'm added this URL as the origin of my posts in order to import them to Dev.to:

https://rssmixer.com/feed/jmalarcon-posts.xml

The problem is that it simply does not work. In my dashboard nothing is imported and I don't see any new posts coming into it for me to edit and publish.

I've tried to delete, save and set it again, waited a long time for it to refres

[2018-09-13 19:37] CodeMouse92 commented on #168
Yeah, I get this problem too, on both Chrome and Firefox. I'll try disabling uBlock Origin on dev.to, and see if that resolves it.

[2018-09-13 19:48] Zhao-Andy commented on #168
Hey @CodeMouse92 and @exyi (in case you're still having issues with this), it might be related to Privacy Badger if you have that installed. We had this issue: https://github.com/thepracticaldev/dev.to/issues/456 and I guess it's a bug on Privacy Badger's end.

[2018-09-13 19:51] CodeMouse92 commented on #168
@Zhao-Andy I do indeed have PrivacyBadger. I'll leave that _on_ and uBlock Origin off for now, and report back if the problem persists.

[2018-09-13 20:00] CodeMouse92 commented on #168
@Zhao-Andy No dice! Even with both disabled, as soon as I restart Firefox, I get the "offline" page.

[2018-09-13 20:03] Zhao-Andy commented on #168
@CodeMouse92 Ah bummer. :( Maybe try disabling service workers for dev.to with these steps:
1. Visit dev.to and clear the entire cache storage
2. Open a new tab and go to about:debugging#workers
3. Unregister any service workers you have related to dev.to (should be just one)
5. Visit dev.to again

[2018-09-13 20:50] hoelzro commented on #207
With the advent of the sticky buttons announced on https://dev.to/ben/changelog-sticky-post-actions-ui-change-3i00, my use for this is fulfilled!

[2018-09-13 20:52] benhalpern commented on #207
Hey sorry I never took part in this convo, but yes. Feature implemented 😄

This was one of those things I had a vision for with the product but I wasn't quite sure until I broke out the ole editor.

[2018-09-13 20:52] #207 closed

[2018-09-13 21:08] entrptaher commented on #266
@benhalpern this actually causes problem with UI on several area. Also affects PR https://github.com/thepracticaldev/dev.to/pull/648

![image](https://user-images.githubusercontent.com/8284972/45515936-62e1a800-b7cb-11e8-8cd1-bb1b63f65da7.png)

[2018-09-14 01:16] CodeMouse92 commented on #168
@Zhao-Andy As soon as I unregister it and refresh dev.to, I get another one.

[2018-09-14 04:10] samuraiseoul opened #654 "Can't highlight old chat text"
## Bug Report

### Current Behavior
Can't highlight previous chat text so that you can copy/right click

### Expected Behavior
Being able to highlight previous text in chat in order to copy/right click

### Mobile & Desktop Screenshots/Recordings
Can't really capture it as I don't have video recording set up/a still image won't work.

### Additional Info (device/browser, helpful links)
Kubuntu 16

[2018-09-14 04:13] samuraiseoul opened #655 "Can't enter new lines in chat"
## Bug Report
### Current Behavior
Upon hitting shift+enter in the chat window, a new line is shown in the text area for entering your message, but once sent, it does not display. Also things like numbering at the front are taken out.
Eg.
[code]

becomes, `Hi how are you?`
Which is not desired when making a real list.
### Expected Behavior
New lines are respected when displaying messages.

### Mob

[2018-09-14 07:05] Defman21 opened #656 "Add some visual difference for hovered state of comments counter"
## Feature Request or Task

Add some visual difference for hovered state of comments counter.

### User Story / Description

Since you've implemented #207, I hovered on the comments counter and it wasn't obvious that something will happen if I click on it. My browser showed me an URL in left bottom corner of my window that this counter now jumps to comments though.

### Definition of Done

Some ba

[2018-09-14 07:07] Defman21 opened #657 "Jump to comments does not work properly"
## Bug Report

1. Click on the comments counter.

### Current Behavior

You jump somewhere in the middle of the article.

### Expected Behavior

You jump right to the comments.

### Mobile & Desktop Screenshots/Recordings

`None`

### Additional Info (device/browser, helpful links)

I guess that happens because you use turbolink. It injects some new HTML and the browser jumps before the content ha

[2018-09-14 10:35] nathansebhastian commented on #623
@Zhao-Andy The problem seems to be resolved for now.. is it alright to close the issue?

[2018-09-14 12:40] bgadrian opened #658 "You get notified if you reply to your reply"
Hello,

I noticed a small problem today. Repro:

Write a reply to a post
Within few minutes write a reply to that reply
Must be the first reply of the reply I think.
I received an email notification.

I smell some lack of defensive prog 😀

[2018-09-14 15:43] Shosta opened #659 "Write a Graph in Mardown using the MermaidJS framework"
## Feature Request
Be able to write a graph using using mardown thanks to the [mermaidjs](https://mermaidjs.github.io)  framework.

### Description
Using the [mermaidjs](https://mermaidjs.github.io) framework I can write simple markdown that is going to be interpreted as a graph.

### Definition of Done
I can write a graph of the following types :
- graph TD
- graph LR
- sequenceDiagram
- gantt

i

[2018-09-14 18:36] Zhao-Andy commented on #168
@CodeMouse92 Ah duh,my bad. Those steps only work if you're disabling Javascript too. If you're okay with it, you can disable service workers for the whole browser. Note that this disables service workers on all websites.

Firefox:
1. Visit `about:config`
2. Search for: `serviceworkers.enabled`
3. Toggle it from `true` to `false`

I couldn't find a way to disable service workers completely for Chr

[2018-09-14 18:48] Zhao-Andy commented on #657
Hey @Defman21, thanks for the report. I suspect you're correct about the browser moving there before the content has fully loaded.

[2018-09-14 18:49] Zhao-Andy commented on #658
Hey @bgadrian, thanks for the report. We'll take a look into it.

[2018-09-14 18:53] Zhao-Andy commented on #654
Hey @samuraiseoul, thanks for the report. This is a known bug and we'll work on fixing it. 👍

[2018-09-14 18:58] Zhao-Andy commented on #645
Hey @KrofDrakula, thanks for the heads up. I have a work in progress PR here related to this issue: https://github.com/thepracticaldev/dev.to/pull/438

My PR would fix it for most cases, but you can't use backticks (and therefore string literals), which is a bit of a pain. We might have to revisit how we parse Markdown as a whole since there could be other similar errors with other Liquid tags.

[2018-09-14 19:51] iamlatin commented on #638
make up any im or email  your in

[2018-09-14 19:52] Zhao-Andy commented on #646
Hey @jmalarcon, thanks for the heads up. Looks like this issue is with your RSS feed. It's a bit hard to parse since it's not in the right format, which is a format that we could communicate better. If you can edit your feed, try having it follow a structure similar to Medium's default [here's an example](https://medium.freecodecamp.org/feed).

We'll definitely write up some documentation for form

[2018-09-14 19:52] iamlatin commented on #635
admin if its numbres 777 if its words tapmi

[2018-09-14 19:59] jmalarcon commented on #646
OK, thank you. I'm using a quite well known service called [rssmixer.com](https://rssmixer.com/). I'll try to change the service and use another one :-(

Thanks!

[2018-09-14 21:48] jonathan-irvin opened #661 "You get notified if you comment on your own post"
This is somewhat related to #658

IMO it seems silly to get an email notification for replying to my own article.

[2018-09-14 22:33] glebec opened #662 "Support runkit `preamble`"
## Feature Request or Task

RunKit is awesome, and one of its awesome options is to include a `preamble` for created notebooks. The preamble is hidden setup code for the embed that you don't want appearing / editable to the user. See [here](https://runkit.com/docs/embed) for more.

It would be nice if we could modify the dev.to RunKit integration to include support for the preamble in some way. I

[2018-09-15 03:58] CodeMouse92 commented on #168
Yeah, I don't want to disable for all.

[2018-09-15 18:38] jacobherrington commented on #118
Sounds like a good idea, I'm working on this!

[2018-09-16 02:07] samuraiseoul opened #668 "Discussion count doesn't increase when a user comments."
## Bug Report
Discussion count at bottom of the page doesn't update when you comment.

### Current Behavior
When you comment on a post, the discussion count at the bottom stays the same as before the comment was uploaded.

### Expected Behavior
Discussion count increases by one.

### Mobile & Desktop Screenshots/Recordings

### Additional Info (device/browser, helpful links)
Kubuntu 16, Chrome

[2018-09-16 05:53] harishkotra opened #669 "UI Fixes in the website"
## Task

Task 1: Remove footer from pages where there are auto loading posts on scroll
Task 2: Add target="_blank" to links for third party pages like Twitter, Github in the contact page.

### User Story / Description

Task 1: I tried reaching the footer to check the links but it doesn't make sense to have a footer when the user cannot even reach on pages where there are autoloading posts. The sam

[2018-09-16 13:11] shanalikhan opened #670 "Feature : Listen Articles instead of reading."
There should be some feature like reading atricles in the form of Audio.

I spend 2 hours on commute daily and would love to listen to them while driving.

[2018-09-16 14:27] nathansebhastian commented on #306
Hi everyone, I've created the PR to update Windows documentation. Please check it out.

I have added both @Nirajn2311 and @rhymes comment into it as well.

[2018-09-17 12:16] Defman21 commented on #670
Imo it's up to browsers to support this feature. Firefox has the Reader Mode and it can do text-to-speech.

[2018-09-17 13:55] bennypowers opened #682 "Markdown Headers Should Have IDs for Linking"
## Feature Request or Task

When users create headings in markdown, the headings should have ids added to enable linking throughout the document

[code]

### User Story / Description

Users with medium-to-long-form content might want to add a table of contents, or a link to a summary or tl;dr.

### Definition of Done
When the links in the above snippet work as expected: clicking on one scrolls to

[2018-09-17 16:19] benhalpern opened #686 "Replace Flipflop with Sail"
It may be silly to replace a tried-and-tested gem with a newer one, but conceptually I think this approach will work. Read on. Please mention if this would be a terrible idea.

## Feature Request or Task
Sail is a new gem from a dev.to community member
https://github.com/vinistock/sail

It adds app-wide settings/config in a way I like more than Flipflop. I feel like feature flags should live along

[2018-09-17 16:47] maestromac commented on #661
Also related to #418. Yeah this is a bit silly. We'll straight this out.

[2018-09-17 17:04] benhalpern opened #687 "Extend feedback_messages functionality for further use-cases"
We currely use `feedback_messages` for abuse and bug reports, and I'd like to generalize it.

I’d be happy if we extended feedback messages for the use cases of:

- General support (instead of yo@)
- Forms we currently use typeform for, things like call for contributors.
- General contact form
- Business inquiries?

A big reason for this, especially for stuff like call for contributors is that in

[2018-09-17 18:51] hoelzro opened #689 "Keeping up with new comments in discussions on posts is difficult"
## Feature Request or Task

When a discussion reaches a certain point (I would say around 15 comments or so?), it's really hard to know which comments are new to the discussion.  Could be related to #192.

### User Story / Description

I would like to be able to revisit a discussion I've looked at earlier and have some way of identifiying new comments.

### Definition of Done

I'm not 100% sure ho