[2021-01-04 21:49] nickytonline commented on #8373
Hi @kadnan . Thanks for opening an issue!

I'm curious what the steps were that you took to try and get your feed loading. From what I can tell, your blog does not have an RSS feed. I tried to load http://blog.adnansiddiqi.me/feed.xml and http://blog.adnansiddiqi.me/rss.xml, but they both result in a page not found. Also, take note that importing your RSS feed does not automatically publish them a

[2021-01-04 21:53] nickytonline commented on #12011
@claracavalcante, assigning this to you.

[2021-01-04 21:57] nickytonline commented on #12108
Thanks for reporting this @BogDAAAMN. I believe we'll need to change the Netlify config to avoid getting this error. cc: @Zhao-Andy.

[2021-01-05 06:09] Rafi993 opened #12119 "Comment box becomes hidden after submitting the comment in preview mode"
**Describe the bug**

When you are previewing a comment that you made and then submit it the comment box becomes hidden. you have to refresh the page for the comment box to be visible again

**To Reproduce**

1. Go to https://dev.to/
2. Select an article
3. Now write a comment in the comment box and click preview to preview the comment
4. Submit the comment (while still in preview mode)
5. Now the

[2021-01-05 07:08] yogeshktm commented on #11402
i would like to fix this issue like this

![image](https://user-images.githubusercontent.com/3961774/103616396-6415e080-4f52-11eb-8628-12fcb2d02df3.png)

Code change required
`
div.highlight .highlight{
white-space:pre-wrap
}`

if you think this is fine. you can assign this to me. i will take it up as my first contribution in dev.to

[2021-01-05 07:54] #12099 closed

[2021-01-05 12:38] ludwiczakpawel commented on #11577
@Ridhwana wasn't that fixed by one of your PRs? (can't find the link :()

[2021-01-05 12:40] ludwiczakpawel commented on #12102
1. Can you try to clear your cache?
2. If it still happens, can you check if there are any errors in the console?

[2021-01-05 12:45] rhymes commented on #11577
@ludwiczakpawel it was https://github.com/forem/forem/pull/12076

can confirm it's working

[2021-01-05 12:45] #11577 closed

[2021-01-05 12:57] ludwiczakpawel commented on #12020
@Mandihamza oh myyy... I've missed that you've been assigned to this issue and made a PR that fixes it :((( Sorry for this terrible mistake. Let me know if you have already started working on that, then I'll close my PR.

[2021-01-05 12:59] ludwiczakpawel commented on #11621
Can be closed? Or the 4th bullet point is still unsolved?

[2021-01-05 13:03] ludwiczakpawel commented on #11600
I've assigned myself to this issue - I'll try to tackle it with baby steps starting with at least some crayons love for now.

[2021-01-05 13:38] wyhaines commented on #12005
Quick update. Over the holiday break I ended up taking an almost total break from the keyboard. I'm prepping this PR for delivery here today.

[2021-01-05 14:23] #12119 closed

[2021-01-05 14:37] cmgorton commented on #12088
Thanks for opening this @trusktr . @forem/design is this a choice made by the team or should I label this a bug to be looked at?

[2021-01-05 14:39] cmgorton commented on #12088
@forem/design is this a feature we would like to implement or is the lack of a banner on all feed a specific choice by design/product? Thanks for any more info.

[2021-01-05 14:40] cmgorton commented on #12090
@drdougtheman could you provide more information in this issue? I am not sure what it is for. Is this a feature request for something?

[2021-01-05 14:42] cmgorton commented on #12097
@fdoxyz do you think this issue should be in the mobile repo or would just labeling it mobile / iOS be ok for this one?

[2021-01-05 14:45] cmgorton commented on #12102
It didn't work for me either until I cleared my cache. Works for me now.

[2021-01-05 14:47] cmgorton commented on #12014
@forem/backend anyone able to take a look at this and help @stampylongr out?

[2021-01-05 15:10] fdoxyz commented on #12014
Hi @stampylongr, is this a local environment you're running? If yes, could you try pulling the latest from master (depending on your local setup you'll have to run `bin/setup` as well before trying again).

If the app is redirecting you to the admin account creation page it seems like it there aren't any users yet which makes this situation a bit odd.

[2021-01-05 15:12] nickytonline commented on #12102
Thanks for reporting @cpluta! I'm going to close this as it is a caching issue. I had the same problem and refreshing fixed the issue.

Caching issues like this are something we're looking to improve.

[2021-01-05 15:12] #12102 closed

[2021-01-05 15:17] nickytonline opened #12129 "Make the Update Weights button sticky for Following tags in User Dashboard"
**Describe the bug**

From a UX standpoint, it would probably make sense to make the _Update Weights_ button sticky on the Following Tags section if the dashboard. Otherwise, to save, the user would always have to scroll back to the top. This came about while reviewing #11454.

**To Reproduce**

1. Go to https://dev.to/dashboard
2. Click on the *Following Tags* section
3. This is only apparent if

[2021-01-05 15:47] DonKarlssonSan opened #12130 "Make ut possible to have CodePen embeds in preview mode"
**Is your feature request related to a problem? Please describe.**
I'm using the Liquid CodePen embedd feature to have a bunch of Pens embedded into a blogg post on http://dev.to. Some of the Pens are animated. If all animations are running at the same time the page becomes slow.

[code]

**Describe the solution you'd like**

I'd like to be able to embedd Pens in non-running state. That is usually

[2021-01-05 16:05] DonKarlssonSan opened #12131 "Saving unpublished blog post after fixing validation error makes it published"
**Describe the bug**
When saving an _unpublished_ blog post after fixing validation error it becomes _published_

**To Reproduce**

- Create a new blog post
- Add something that is validated, for example: `{% codepen https://codepen.io/DonKarlssonSan/pen/dyMaRJN default-tab=result %}`
- "Save draft"
- Edit the blog post
- Change the content to something that is not valid, for example: `{% codepen

[2021-01-05 16:08] ludwiczakpawel opened #12132 "Make "Update weights" button sticky"
We've recently shipped (like few mins ago) a way to update tags weights in the dashboard: https://github.com/forem/forem/pull/11454

The way it works is: you have a "submit" button on top of the page, so when you change the weight of multiple tags you can click "submit" only once.

I'd love to propose a little change to that behavior: put the submit button at the bottom and every time user makes a

[2021-01-05 16:12] ludwiczakpawel commented on #12132
Closing because its a duplicate https://github.com/forem/forem/issues/12129

[2021-01-05 16:12] #12132 closed

[2021-01-05 16:52] nickytonline commented on #12131
I exhibited this the other day myself. Thanks for reporting @DonKarlssonSan!

[2021-01-05 17:06] zplusfour opened #12134 "Whats wrong?"
i want to read dev.to's awesome posts, why I cant?

[2021-01-05 17:12] nickytonline commented on #12134
Closing as the https://dev.to site is up  and running.

[2021-01-05 17:12] #12134 closed

[2021-01-05 17:13] Mandihamza commented on #12020
Hey @ludwiczakpawel, no worries I'll find another bug to solve 😅

[2021-01-05 17:29] fdoxyz commented on #12097
I think moving it to the mobile repo would be good for this one, because it relates to how the mobile app itself works. I'd leave mobile issues here (and label them with mobile tags) if they relate directly to the web app itself that runs inside the app, which is not always easy to tell though so I always appreciate the pings! 🙂

This one was reported here though https://github.com/forem/DEV-ios/i

[2021-01-05 17:29] #12097 closed

[2021-01-05 17:43] cmgorton commented on #12068
@forem/backend any thoughts on this error?

[2021-01-05 18:06] msarit commented on #11602
I made several attempts to tackle this issue, but kept getting overwhelmed with testing all touched functionality and ensuring nothing broke 😓

[2021-01-05 18:24] #12020 closed

[2021-01-05 19:49] jessleenyc opened #12138 "Onboarding Email Opt-In Not Working"
**Describe the bug**

My opt-in to receive the newsletter + digest is not saved during onboarding. I know this because I didn't receive a welcome email, Mailchimp said I was unsubscribed, and when I visit settings/notifications, it displays that I am not opted-in to either emails. In order to subscribe to both, I need to re-select the boxes from settings/notifications and save from there.

**To Re

[2021-01-05 19:53] #12090 closed

[2021-01-05 19:55] stampylongr commented on #12014
Okay, I forgot to post an update.

@fdoxyz, this is a local instance running in production. I eventually found a workaround by running the command that is supposed to seed fake data (?), `MODE=starter rails db:seed`, and it would finally let me sign up, and it would let me access the admin panel and log in.

BTW, a lot of the source code's `ApplicationConfig` needed to be replaced with `SiteConfig

[2021-01-05 20:13] DonKarlssonSan commented on #12130
What I mean with `preview=true` is described here: [Embedded Pens](https://blog.codepen.io/documentation/embedded-pens/)

On CodePen you reach the feature this way:

* Open a Pen in edit mode
* Click the "Embed" button in the lower right
* A modal pop-up is displayed
* When you check the middle box "Use click-to-load" you can see the code updates. For WordPress shortcode and HTML it is `data-previ

[2021-01-05 22:42] nickytonline commented on #11402
@yogeshktm, thanks for wanting to tackle this issue. Modifying the white space is not the direction we're looking for for this fix. We're looking for the same behaviour for a code snippet in the body of a post, i.e. scrolling.

https://user-images.githubusercontent.com/833231/103707728-309c7b80-4f7d-11eb-8375-4c45fefe4fe6.mp4

Having said that, I still think this would be a great first issue for y

[2021-01-05 23:17] SGGregory opened #12142 "DEV Pods feed not caching properly on Forem instance"
**Describe the bug**

This bug seems to be fundamental DEV pods caching issue that manifests itself in three ways on a Forem instance:
1. When attempting to add multiple podcasts to a Forem during the configuration process, episodes get traded between the other show (i.e. episodes from one show are listed as property of the other show).
2. When attempting to correct the error, it results in many b

[2021-01-06 02:13] citizen428 commented on #12014
Can you elaborate on this a bit? Did you have your environment variables set up correctly, e.g. via a `.env` file?

[2021-01-06 02:18] citizen428 commented on #12068
@rhymes Any issue with keeping `binding_of_caller` locked at 0.8.0 for now or would you rather promote the dependency to the `Gemfile` proper? As this is a dev-dependency I'm leaning towards the former.

[2021-01-06 07:59] ExpressGradient opened #12146 "Console errors while clicking on posts from homepage"
**Describe the bug**
Console errors that say `Uncaught SyntaxError: redeclaration of const subscribeBtn` and `POST https://api.honeybadger.io/v1/notices/js
[HTTP/1.1 429 Too Many Requests 905ms]`

I guess this isn't a bug that has an effect on users, I just noticed them in the console while opening posts.
**To Reproduce**
Just click on any random post in the home page.

**Expected behavior**
See c

[2021-01-06 08:23] yogeshktm commented on #11402
yes i would like to work on this. Please assign

In case of clarifications i will check with you @nickytonline

Thanks

[2021-01-06 09:43] rhymes commented on #12068
@citizen428 sending a PR to revert that change :) no problem at all

[2021-01-06 09:58] rhymes commented on #12068
@citizen428 BTW 0.8 won't work on Ruby 3, but there's a lot of stuff that breaks with Ruby 3 now :D https://github.com/banister/binding_of_caller/releases/tag/v1.0.0

(I wonder: do we actually need that gem?)

[2021-01-06 10:49] zplusfour commented on #12134
I don't think so:
![image](https://user-images.githubusercontent.com/73612690/103760321-9c362580-501d-11eb-89d3-ad6fad4d9892.png)

[2021-01-06 10:55] rhymes commented on #12134
@zplusfour can you refresh your cache? Do you have any errors in the javascript console? Can you see the website wen you're not signed in in incognito mode?

[2021-01-06 11:21] selenecodes commented on #12038
Are there any plans to add this in the future?

[2021-01-06 12:40] kadnan commented on #8373
Interesting. So actually Feed URL was not found. I would further check into it. Thanks for reporting as this was not the issue before. The workaround I had done was to put the MEDIUM.com RSS feed as I also mirror posts there.

[2021-01-06 14:55] madzadev commented on #10803
Any updates on this? 👀
Just the fact, the more I use DEV the more I need it 😀😀

[2021-01-06 14:58] nickytonline commented on #10803
Hi @madzadev. We haven't evaluated this feature request. Thanks, for following up!

[2021-01-06 15:31] ludwiczakpawel commented on #10803
I think it would be a great addition to Dashboard!

[2021-01-06 16:02] #12068 closed

[2021-01-06 16:28] benhalpern commented on #10803
Yeah, this makes sense. Fits alongside the existing filter feature set nicely.

[2021-01-06 16:37] nickytonline commented on #12146
This error occurs because the `subscribeBtn` is defined in global. See https://github.com/forem/forem/blob/d9011f4b593469d60499900660818e8ee897c382/app/liquid_tags/user_subscription_tag.rb#L11. We should consider putting this in an [immediately invoked function expression](https://developer.mozilla.org/en-US/docs/Glossary/IIFE) (IIFFE) instead so as to avoid polluting the global namespace. Another

[2021-01-06 16:48] yogeshktm commented on #11402
Team, @nickytonline

i have found `overflow-x:auto` is missing in the parent elements would have cause this issue. as far as my investigation we need below code changes to fix this issue.

[code]

![image](https://user-images.githubusercontent.com/3961774/103795848-800da500-506c-11eb-9c83-556540a12033.png)

i tried finding scss related to these changes in the repository but i can't able to find sc

[2021-01-06 17:01] nickytonline commented on #11402
@yogeshktm, thanks for investigating. Feel free to put up a pull request and we can continue the discussion in there.

[2021-01-06 17:53] #8940 closed

[2021-01-06 18:40] msarit commented on #12138
@jessleenyc Hi Jess! 👋🏾

So I tried to reproduce the error described in this bug, but I couldn't. Here is a Loom video showing my experience:

https://www.loom.com/share/610c9f72e81d41cfb854d146b72b6bcb

[2021-01-06 19:06] xpyxel opened #12156 "Ability to change colors on themes"
**Is your feature request related to a problem? Please describe.**

The current color schemes are nice, but the ability to change the accent colors would give people the ability to give their ui a bit more "personality" talored to them in a sense, an example of this is the Night and Ten X Hacker themes, while they are nice, the ability to change the accent color, for example the green on the Ten X

[2021-01-06 19:18] madzadev commented on #10803
@nickytonline @ludwiczakpawel @benhalpern thanks for your responses 🙏❤

[2021-01-07 01:10] ryy commented on #11947
I got the same error.

<img width="1218" alt="スクリーンショット 2021-01-07 10 09 44" src="https://user-images.githubusercontent.com/13917558/103838487-85044000-50d0-11eb-8dde-1095f15e0f64.png">

[2021-01-07 01:32] ygpark2 commented on #11947
Try to access the page through "http://rails:3000/" url in the browser

[2021-01-07 01:51] citizen428 commented on #12068
@rhymes I have a Ruby 3 tracking PR up, I'll add it to the list there :)

I'd say no. It's a gem that's primarily intended to be used for debugging, but I can't remember ever reaching for it, though it would have been useful at times.

[2021-01-07 02:17] ryy commented on #11947
I couldn't access it.😔
[code]

[2021-01-07 02:21] ygpark2 commented on #11947
cat /etc/hosts
127.0.0.1	localhost rails

Oh, add the above line to the /etc/hosts file.

[2021-01-07 03:09] citizen428 commented on #6994
I think this issue has been around long enough, it's time to break it into smaller issues for the remaining subtasks, which I'll do now.

[2021-01-07 03:09] #6994 closed

[2021-01-07 03:15] citizen428 opened #12157 "Profile generalization: Eliminating hard-coded profile fields"
We [recently started ignoring columns from the `Users` table](https://github.com/forem/forem/pull/11246) which are now handled via `ProfileField`s. As a temporary workaround, we have delegation in place, but we need to stop using these fields directly/unconditionally as we can't guarantee their availability across different communities.

Each ignored column should ideally only be used in automatic

[2021-01-07 03:27] citizen428 opened #12158 "Profile generalization: Elasticsearch"
So far I only did [some basic work](https://github.com/forem/forem/pull/10313) around indexing the new profile fields in Elasticsearch. we need to figure out the full migration path from what we did before to how profiles are implemented now. Some additional context can be found in this [Slack thread](https://forem-team.slack.com/archives/C0186BE65TN/p1599118718041800).

Note: Before picking up th

[2021-01-07 03:32] citizen428 opened #12159 "Profile generalization: enable feature flags across Forem fleet"
Once we feel comfortable with the state of the profile generalization code (which requires at least #12157 to be finalized) we need to enable the `profile_admin` admin feature flag across the Forem fleet. This will have two consequences:

1. Forem admins can start managing (creating, updating, deleting) profile fields.
2. We'll change the rendering of the profile page to a more automatically gener

[2021-01-07 03:36] ryy commented on #11947
Thank you!

Do I need to update the documentation?

@see https://docs.forem.com/installation/containers/#running-forem-with-docker-via-docker-compose

[2021-01-07 03:37] citizen428 opened #12160 "Profile generalization: custom profile fields"
In the past we [merged a PR](https://github.com/forem/forem/pull/7246) that allowed users to define custom profile fields. Alas, we never added a frontend for this, so the code was essentially unused. We then removed this code in https://github.com/forem/forem/pull/9579 and added a new implementation that works in the context of our customized profiles in https://github.com/forem/forem/pull/10202.

[2021-01-07 03:44] citizen428 opened #12161 "Profile generalization: Clean up"
This is a tracking issue for various clean up tasks we need to perform once we fully migrated to generalized profiles.

* [ ] Remove the feature flag. https://github.com/forem/forem/pull/11149 is a good starting point for figuring out what needs to be removed, as is searching for `FeatureFlag.enabled?(:profile_admin)`.
* [ ] Remove temporary code. There's some temporary code in `User` and other pl

[2021-01-07 06:08] YJDoc2 commented on #11947
@ryy can you see any articles when you log in with any account? I can see dummy articles when not logged in, but after I log in with any account (admin/non-admin) no articles are shown in the feed.

[2021-01-07 06:17] ryy commented on #11947
@YJDoc2
Sorry, I'm only checking your login.

[2021-01-07 11:15] yogeshktm commented on #4579
Hey

I don't see a issue here. since inline code requires highlighting it needs a 2 or 3px padding inside. It looks perfect for me in mac chrome.

screenshot:
<img width="1280" alt="Screenshot 2021-01-07 at 4 36 48 PM" src="https://user-images.githubusercontent.com/3961774/103885988-d4fdf980-5106-11eb-96c6-6a6bc84a1c4f.png">

    OS: macOS 10.14.6 (18G103)
    Browser: Chrome
    Version 87.0.4280

[2021-01-07 11:38] ludwiczakpawel commented on #12088
I think for now we can keep it as is. The image shows up on home page feed because it's a way of promoting some posts. But when user is browsing a specific tag, I don't think they want to be engaged or "_tricked_" in such a manner. Instead, I hypothesize that the actual "equality of posts" is much more important there than it is on home feed. It's like a rolodex with business cards - I wanna brows

[2021-01-07 14:25] rhymes commented on #12068
+1 on my side, we can ask if anyone is using it internally

[2021-01-07 15:40] ascii-naut opened #12168 "Can't change profile info"
**Describe the bug**

When I try to change any of my account information, I receive an error stating "Error: Available for is too long (maximum: 200)". My email for Twitter and GitHub is the same.

**To Reproduce**

1. Log into your account
2. Go to Settings
3. Choose profile
4. Change something
5. Click 'Save profile information'

**Expected behavior**

I expect my profile information to be chang

[2021-01-07 15:46] rhymes commented on #12168
Hi @ascii-naut, I think your "available for" section contains too much text, can you check

![Screenshot_2021-01-07 Settings - DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/103912635-d3810100-5107-11eb-94ef-62a80119e0bb.png)

in https://dev.to/settings/ ?

[2021-01-07 15:49] ascii-naut commented on #12168
You've got an eagle eye! That fixed it, thanks.

[2021-01-07 15:49] #12168 closed

[2021-01-07 16:46] rhymes commented on #10996
Listing here all the related PRs as not all of them point here:

- #10998
- #11234
- #11297
- #11405
- #11412
- #11501
- #12012
- #12126
- #12169

[2021-01-07 17:00] leewynne commented on #12138
Hi there, just to confirm - I also get this bug on my forem.

[2021-01-07 18:06] trusktr commented on #12088
I think banners are a good for people who put more effort to stand out.

I updated the title, because now (unlike before) dev.to shows banners only for the very first post at the top of the feed.

If you want posts to be equal, then there should be no banners at all on feeds, because right now only the most popular ones get banners (if they are at the top of a feed), and that makes them unfairly g

[2021-01-07 18:26] AdekunleA opened #12170 "Users can't delete or edit listings once they've been created"
**Describe the bug**

Users on our community - https://www.clusteremployment.com, are unable to edit or delete listings after they've been posted.

**To Reproduce**

1. Go to https://www.clusteremployment.com
2. Create and publish a community listing
3. Click user profile, click dashboard then click listings on the bottom left side of the screen
4. Click edit or delete on existing listings
5. See

[2021-01-07 18:33] cmgorton commented on #12170
Hey @AdekunleA thank you for bringing this up. This is a known issue that should be fixed with PR #12098. Can you try clearing your cache and seeing if you can edit or delete a listing. I just tried on my account and it works for me know.

[2021-01-07 18:35] cmgorton commented on #12156
Related to #11504

[2021-01-07 18:41] cmgorton commented on #12170
I apologize @AdekunleA. Looks like this may not be working for other Forems just yet. We are talking internally about this and I will let you know as soon as the previous mentioned PR is deployed to all instances.

[2021-01-07 18:43] nickytonline commented on #4579
Thanks for filing the issue @GrahamBorland. I'm trying to replicate this on my Mac, but it seems fine.

![image](https://user-images.githubusercontent.com/833231/103930975-8ee86c00-50ed-11eb-927a-181050bdca09.png)

![image](https://user-images.githubusercontent.com/833231/103930915-79734200-50ed-11eb-99c3-5a19f42ef8ca.png)

Here's my specs
Chrome: Version 87.0.4280.88 (Official Build) (x86_64)
mac

[2021-01-07 18:45] AdekunleA commented on #12170
No problem at all @cmgorton , appreciate the reply!

[2021-01-07 18:49] lisasy commented on #11484
Design recommendation: an approach to solving this problem with minimal engineering would be to update the label of the text.

Change from "Toggle" to "Show info" or "Hide info". Eventually, with a more global update to `/admin`, this whole feature will become deprecated, so this is really a patch solution for the time.

[2021-01-07 19:06] jessleenyc commented on #12138
@msarit so I just tried your flow on community.codenewbie.org and it is definitely still happening to me. Do you mind trying on that specific Forem? I

[2021-01-07 19:17] lisasy commented on #354
Update: THIS NEEDS DESIGN.

[2021-01-07 19:27] GrahamBorland commented on #4579
My Chrome was fully up to date when I reported the bug back in October 2019. 😆

All seems fine now, so I agree this can be closed. Thanks!

[2021-01-07 20:28] #4579 closed

[2021-01-08 08:19] rhymes commented on #11484
I'll get around to this later, thanks for the suggestion @lisasy

[2021-01-08 11:15] smeijer commented on #8705
Weird thing is, `preview` renders the title fine. But not on the published post.

I can escape the title with html entities (`&lt;...&gt;`), which are rendered fine in the publication, but not in the preview.

[2021-01-08 11:24] abenettt opened #12181 "Check user passwords against haveibeenpwned during registration"
**Is your feature request related to a problem? Please describe.**
Users can create accounts using email and password, but they might choose a passwords that is ill suited as it is either weak or has been leaked too many times.

**Describe the solution you'd like**
When the user creates their account check their chosen password against haveibeenpwned to prevent above mentioned problems.

**Describ

[2021-01-08 14:09] nickytonline commented on #11205
I just tested this by opening a private window and navigating to https://dev.to/listings/dashboard. It redirects properly to https://dev.to/enter and there is no duplications of any UI anywhere. I'm going to close this for now. Feel free to reopen if the issue occurs again.

[2021-01-08 14:09] #11205 closed

[2021-01-08 16:45] #10996 closed

[2021-01-08 17:21] mstruve commented on #11440
Hey, @cmgorton since this is going to be handled by the OSS rotation I am going to go ahead and close this Issue. If you need more help with this please feel free to lean more into that rotation to get the help you need!

[2021-01-08 17:21] #11440 closed

[2021-01-08 17:44] trusktr commented on #12088
What if there's a config option? Users can choose to have them on all posts (that have banners), only on top posts, or on none. We can see which options people like most.

[2021-01-08 18:50] nickytonline commented on #11484
+1 to what @lisasy mentioned. Also, instead of `<div />`s, [<details />](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) and `<summary tags />` could be used. It's more semantic and it comes with open/close functionality out of the box.

[2021-01-08 19:00] rhymes commented on #11484
@nickytonline I didn't change the HTML though, I just tried to apply a quick patch given that we don't want to spend too much time on it as the existing code already used Bootstrap. But yeah, that's a much better idea. The issue is that that's need to be styled, Bootstrap already styles much of it IIRC, I might take a look at the switch in a following PR...

[2021-01-08 20:29] #11912 closed

[2021-01-09 06:22] Rage-ops commented on #10374
I'm having the same issue

[2021-01-09 08:19] f2k2game opened #12188 "Docker: ActionController::InvalidAuthenticityToken while login"
I have used ubuntu 18 and sucessfully installed forem using docker in vps.

When i to try to login using default admin password, i can't login into it.

It error shows:

[code]

and in backend cli it shows:

[code]

[2021-01-09 13:54] reezanahamed opened #12189 "Error Installing Forem on Linux "installing libv8 (8.4.255.0), and Bundler cannot continue""
Can't able to install forem on Linux (Ubuntu 18.04 with 8GB RAM), Since last 2 days I have been trying to install forem on VPS but unfortunately, I can't able to successfully install it.

I have followed everything described on official docs [https://docs.dev.to/installation/linux/](https://docs.dev.to/installation/linux/)

Since forem, doesn't have any version, so I have forked everything on the

[2021-01-09 15:43] f2k2game commented on #12189
I too had same problem, You might have two installed bundle version, uninstall 2.2.4

[code]

[2021-01-09 15:44] reezanahamed commented on #12189
Thanks, it worked

[2021-01-09 15:54] f2k2game commented on #12188
@forem/oss

[2021-01-09 17:34] stampylongr commented on #12014
@citizen428 yes, it was set up correctly. It still wouldn't read from it most of the time, so I had to change a few references.

[2021-01-09 19:11] harshilparmar opened #12190 "Chat stays the same while navigating between various users"
**Describe the bug**
I don't know whether it is a bug or not 😅  but whenever I write a text in chat and change person it's copying that text to another person.

**To Reproduce**

1. Go to the chat option.
2. Write chat to person A.
3. Navigate to person B without sending a chat to person A.

**Expected behavior**

It should clear text when navigating between users while chatting.

**Screenshots**

[2021-01-09 21:24] zeeshanhshaheen commented on #6749
Getting the same issue, informed on yo@dev.to buy didn't get any response. Can you help me in that m

Profile: https://dev.to/zeeshanhshaheen

Thanks

[2021-01-10 01:29] tombohub opened #12193 "I cannot see the title when writing new post"
**Describe the bug**
Cannot see the title as per screenshot: http://prntscr.com/wk1bp8

**To Reproduce**

Go to dev.to
click "write a post"
start writing title

**Expected behavior**

To see the title I am writing

**Screenshots**

http://prntscr.com/wk1bp8

**Desktop (please complete the following information):**
OS : Windows 10
Browser: Chrome 87.0.4280.88 (Official Build) (64-bit)

[2021-01-10 02:20] djuber opened #12194 "Installation readme instruction links broken"
**Describe the bug**

Visiting https://github.com/forem/forem/blob/master/docs/installation/readme.md shows links to OS specific local instance instructions, but these links give a 404.

**To Reproduce**

1. Visit https://github.com/forem/forem/blob/master/docs/installation/readme.md
2. Click on the first link "mac" https://github.com/forem/forem/blob/master/installation/mac
3. Observe a 404

**Ex

[2021-01-10 02:26] djuber commented on #12194
I assume this is an issue browsing the docs in github (and is not an issue when running locally via gitdocs)

[2021-01-10 02:26] #12194 closed

[2021-01-10 17:48] benhalpern commented on #12138
When I go through onboarding veeerrrryyyy slowwwwwwlyyyyyy, it works... But when I go through fast, it does not work as expected...

I'm not sure what the problem is, but I suspect there is something going on with `update_onboarding` which might cause a problem... And potentially a scenario where this response kicks something which undoes the next slide in a sort of worker race condition.

<img wi

[2021-01-11 06:10] Rafi993 commented on #12067
Hi there. If this issue is not taken up I can help.

[2021-01-11 08:31] rhymes commented on #10374
@Rage-ops how are you fetching the data?

[2021-01-11 08:32] ludwiczakpawel commented on #12088
Eventually we will probably have something like GMail where users could choose density of the feed design. But seems like this is a bit far on the roadmap. Separately we want Admins to predefine default option for their communities, and that part, I believe, is already in progress (or maybe even already built - I apologize, I'm not super familiar with our Admin side of things).

![image](https://u

[2021-01-11 08:32] rhymes commented on #12189
Closing this as the author marked it solved

[2021-01-11 08:32] #12189 closed

[2021-01-11 08:38] rhymes commented on #12193
Hi @tombohub, thanks for the report! I believe what you're experiencing is a variation (or the same issue) on https://github.com/forem/forem/issues/11619 - can you confirm?

[2021-01-11 09:17] ludwiczakpawel commented on #7351
I think this should be now resolved (or at least outdated since we have updated Notifications center).

[2021-01-11 09:17] #7351 closed

[2021-01-11 09:21] ludwiczakpawel commented on #11526
I believe this was due to some caching issue since that was around the time we released new comments UI.
For that reason, I'm closing this issue but please let me know if this still happens to you - I'll reopen and investigate.

[2021-01-11 09:21] #11526 closed

[2021-01-11 09:22] ludwiczakpawel commented on #11524
I believe this is now fixed.

[2021-01-11 09:22] #11524 closed

[2021-01-11 09:23] ludwiczakpawel commented on #11443
This should be now fixed.

[2021-01-11 09:23] #11443 closed

[2021-01-11 09:25] ludwiczakpawel commented on #11437
Closing this because we no longer have this field in codebase. Also +1 to what @vaidehijoshi said above.

[2021-01-11 09:25] #11437 closed

[2021-01-11 09:27] ludwiczakpawel commented on #11150
This should be now fixed.

[2021-01-11 09:27] #11150 closed

[2021-01-11 09:29] ludwiczakpawel commented on #10860
@SandeepBalachandran does it still happen to you? Do you have any JS errors in console maybe?

[2021-01-11 09:33] ludwiczakpawel commented on #8819
@madzadev this view has changed significantly since this issue has been created and I promised we will circle back. Can you give it another look and let me know what do you think?
The "pinned" area has been made a bit more "loud" visually but I'm keen to know your thoughts.

[2021-01-11 09:36] ludwiczakpawel commented on #6647
Design of this page has changed significantly so I'm closing this issue as it's a bit outdate. But at the same time, we move the search from to other place so I guess it's also "done" :)

[2021-01-11 09:36] #6647 closed

[2021-01-11 09:38] #9240 closed

[2021-01-11 09:39] ludwiczakpawel commented on #9322
Hey @SuzeShardlow does this still happen to you?

[2021-01-11 09:41] ludwiczakpawel commented on #9742
Logo has changed a little so I'm closing this issue since it seems like it's no longer an issue.

[2021-01-11 09:41] #9742 closed

[2021-01-11 09:42] ludwiczakpawel commented on #10112
@pramanikriju does this still happen to you? I have a 60Hz monitor and I can't repro that. Maybe it's only limited to some mobile devices?

[2021-01-11 09:48] ludwiczakpawel commented on #10414
Closing since this should now be resolved.

[2021-01-11 09:48] #10414 closed

[2021-01-11 09:49] ludwiczakpawel commented on #11043
This feels like some caching issue. I'm closing since I believe it should be fixed now. But let me know if it's not, I'll reopen the issue then.

[2021-01-11 09:49] #11043 closed

[2021-01-11 09:51] ludwiczakpawel commented on #11156
I don't think it's forem-specific issue since code for this banner is 100% custom. We don't provide (yet) any templates or "wrapper" for banners. We should though :).

[2021-01-11 09:51] #11156 closed

[2021-01-11 09:54] ludwiczakpawel commented on #11230
Does this still happen?

[2021-01-11 09:57] ludwiczakpawel commented on #11535
@krishnadevz I can't repro that either. We've been doing some refactoring around the search field in last few weeks, so can you maybe check again whether that still happens to you?

[2021-01-11 10:55] pramanikriju commented on #10112
No this issue is no longer persisting. Would you like me to close this issue or can you do that?

[2021-01-11 10:55] ludwiczakpawel commented on #10112
I'll close it, thanks!

[2021-01-11 10:55] #10112 closed

[2021-01-11 14:57] fdoxyz commented on #12014
I'm closing this issue since the original problem was solved. For reference, the "Starter Mode" and other DB configs are documented here: https://docs.forem.com/getting-started/db/

@stampylongr if you have any issues with the ENV variables or any other setup please feel free to open an issue and we'll be happy take an in-depth look at it.

[2021-01-11 14:57] #12014 closed

[2021-01-11 15:10] SandeepBalachandran commented on #10860
@ludwiczakpawel  Hi there, Checked again now. Nothing particularly  going on in console. In fact console is empty when triggering the events .

The elements section can be seen below for some reference

![image](https://user-images.githubusercontent.com/17725953/104198481-482ba680-544c-11eb-8456-3723e0fbd2ca.png)

[2021-01-11 15:17] SuzeShardlow commented on #9322
No idea @ludwiczakpawel, I haven't used the site for several months now. Feel free to try and reproduce the issues using the steps I documented above.

[2021-01-11 15:30] ludwiczakpawel commented on #9322
Thanks! I couldn't repro it, so I'm closing the issue.

Thanks again and I hope to see you on DEV again! :)

[2021-01-11 15:30] #9322 closed

[2021-01-11 15:32] ludwiczakpawel commented on #10860
Hah, so that does still happen to you?! Oh my..

Can you maybe try to empty your cache?

[2021-01-11 15:33] fdoxyz commented on #11230
@ludwiczakpawel I'm not able to reproduce the title being cut short or the problem in the Post body making it unable to scroll. Also given that #12113 streamlined the server vs client rendered view I think it's safe to say this problem was fixed.

The only problem I still see is in the far bottom/upper sections where a double scroll makes it a bit more difficult to reach (buttons). This is my expe

[2021-01-11 15:38] #11484 closed

[2021-01-11 15:56] SandeepBalachandran commented on #10860
@ludwiczakpawel  One thing i noticed right now which I havent mentioned before, I have been using a different user directory for the  current session of the chrome.  When i switched to the default user directory ( The directory which set itself upon installation) things worked as intented. That seems like a good trace to track it down.

[2021-01-11 16:06] maureento8888 commented on #11230
Hi, thank you for responding. It seems that I had viewed the post through Gmail’s browser and hence, when I moved to Safari, the problem went away? I suppose we can close this!

[2021-01-11 16:07] nickytonline commented on #797
Just dropping some thoughts on this:
* Even though we'll be moving this to a Preact component, the state should still be driven by the URL so that it can be bookmarked or come back to so the search results filter is preserved, e.g. https://dev.to/search?q=javascript&filters=class_name:PodcastEpisode&sort_by=published_at&sort_direction=desc
* Check the work done in #11525. It might not affect the w

[2021-01-11 16:23] fdoxyz commented on #11134
In an attempt to close the loop here: Since the issue does not affect properly configured production or local environments (where the "configuration missing" banner is not visible) I'm closing the issue.

If anyone feels this should be reopened feel free to share your thoughts or open a new issue.

[2021-01-11 16:23] #11134 closed

[2021-01-11 16:46] #11230 closed

[2021-01-11 16:48] ludwiczakpawel commented on #10860
What exactly do you mean by "user directory"?

[2021-01-11 17:11] SandeepBalachandran commented on #10860
@ludwiczakpawel  Honestly i am not quite sure about how it is relevant and connected to our issue here. Let me know if there is any
#### User data directory
*  Default user data directory  can be overridden  by passing ```--user-data-dir```  command-line flag to the chrome binary followed by location in order to get our custom location for storing files.
* Reference - [Chromium](https://chromium.g

[2021-01-11 18:48] AswinBarath opened #12206 "Absence of Scroll Back To Top"
No "Scroll Back To Top" link is present at the end of the README.md file.

[2021-01-11 18:48] AswinBarath commented on #12206
I am working on it.

[2021-01-11 18:56] AswinBarath opened #12207 "Punctuation mistakes"
There are certain punctuation mistakes in README.md file.

[2021-01-11 18:56] AswinBarath commented on #12207
I'm working on it

[2021-01-11 19:13] AswinBarath commented on #12206
I have submitted my pull request:
[https://github.com/forem/forem/pull/12208](Absence of Scroll Back To Top #12206)

[2021-01-11 19:20] mstruve commented on #797
Where are you seeing this? If you look at the [search controller](https://github.com/forem/forem/blob/master/app/controllers/search_controller.rb#L82) you will see that all of the endpoints return JSON so I think we are good to go on the backend.

[2021-01-11 19:22] AswinBarath commented on #12207
I have submitted my pull request:
[https://github.com/forem/forem/pull/12209](Punctuation mistakes #12207)

[2021-01-11 19:45] nickytonline commented on #797
Ahh, I wasn't aware that they all return JSON. Thanks @mstruve!

[2021-01-11 20:32] cmgorton commented on #160
Hey all! Moving forward, we would love for people to head over to [forem.dev](https://github.com/forem/forem#community) for many of these feature requests that we need more discussion around. Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](https://forem.

[2021-01-11 20:32] #160 closed

[2021-01-11 20:36] cmgorton commented on #304
Hey all! Moving forward, we would love for people to head over to [forem.dev](https://github.com/forem/forem#community) for many of these feature requests that we need more discussion around. Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](https://forem.

[2021-01-11 20:36] #304 closed

[2021-01-11 20:45] Zhao-Andy commented on #12108
Thanks for bringing this up! The current setup is to cancel a Netlify build for docs.forem.com or storybook.forem.com in a PR. However, in Netlify cancelling a build does trigger a failed status. Theoretically this is all we need, but it is annoying to have it send the failed state over. I'm not sure if there's anything in Netlify's configuration that we can change to account for that.

[2021-01-11 20:49] cmgorton commented on #968
Hey all! Moving forward, we would love for people to head over to [forem.dev](https://github.com/forem/forem#community) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](https://forem

[2021-01-11 20:49] #968 closed

[2021-01-11 20:51] cmgorton commented on #1038
Hey all! Moving forward, we would love for people to head over to [forem.dev](https://github.com/forem/forem#community) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](https://forem

[2021-01-11 20:51] #1038 closed

[2021-01-11 20:52] cmgorton commented on #1172
Hey all! Moving forward, we would love for people to head over to [forem.dev](https://github.com/forem/forem#community) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](https://forem

[2021-01-11 20:52] #1172 closed

[2021-01-11 20:54] cmgorton commented on #1182
Hey all! Moving forward, we would love for people to head over to [forem.dev](https://github.com/forem/forem#community) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](https://forem

[2021-01-11 20:54] #1182 closed

[2021-01-11 20:54] Zhao-Andy commented on #11936
Hi @LE-HU! Sorry for the late reply. Looks like you're off to a great start.

I think your last solution you propose makes sense! I was thinking we might want to update the user's `identity.auth_data_dump` every time they sign in to have updated information, but that's a bit more involved and not necessarily part of the scope of this issue. For now, displaying the error message you proposed seems

[2021-01-11 20:56] cmgorton commented on #1236
Hey all! Moving forward, we would love for people to head over to [forem.dev](https://github.com/forem/forem#community) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](https://forem

[2021-01-11 20:56] #1236 closed

[2021-01-11 21:51] pkfrank opened #12212 "Fix quick-link to tag admin from tag page"
**Describe the bug**

PR https://github.com/forem/forem/pull/11092 added a link to the Admin page of a tag.  It currently links to `/admin/tags/{id}` but I believe it needs to link to `/admin/tags/{id}/edit`.  Something may have changed in between that PR being merged and now.

**To Reproduce**

1. Be an Admin with relevant permissions
2. Navigate to Admin page
3. Click the link

**Expected behavi

[2021-01-11 21:54] nickytonline commented on #383
I'm an going to start an RFC for this.

![Someone from Lord of the Rings saying "So it begins"](https://media.giphy.com/media/3P0oEX5oTmrkY/giphy.gif)

[2021-01-12 00:53] #12212 closed

[2021-01-12 01:51] vaidehijoshi commented on #12138
Something interesting is definitely going on here 🤔  I tried this on forem.team and can confirm that it does not work when you click through unless you move at a _glacial pace_.

**Some notes from initial my investigation:**

Here's the network tab when I reproduced this on the forem.team instance
<img width="719" alt="Screen_Shot_2021-01-11_at_5_25_54_PM" src="https://user-images.githubuserconten

[2021-01-12 04:45] Anjan50 opened #12214 "ERROR :You have encountered an error."
### **Describe the bug**
Whenever I click on  Write Post button It shows error like:

" **Ooooops...**
You have encountered an error.
Our team has been notified.
We apologize for any inconvenience. "

### **To Reproduce**
I already mail my bug in **yo@dev.to**. But I didn't get reply.

### **Expected behavior**

### **Screenshots**
![Error](https://user-images.githubusercontent.com/49095535/104270

[2021-01-12 05:20] lisasy commented on #11621
4th bulletpoint seems to still be unresolved :|

[2021-01-12 06:39] slatewala commented on #6605
Hi

I am also facing the same problem .. if some one can help me about the same.
https://dev.to/saifuddinss

[2021-01-12 09:31] rhymes commented on #12214
Hello @Anjan50, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2021-01-12 09:31] #12214 closed

[2021-01-12 09:32] rhymes commented on #11621
@lisasy could you record the screen while you reproduce it? Thank you!

[2021-01-12 09:45] #11402 closed

[2021-01-12 09:48] ludwiczakpawel commented on #11621
@rhymes Sometimes it takes me to /profile, sometimes it keeps me on /extensions and sometimes it takes me to completely different place (see when saving templates)

Video: https://d.pr/v/CoU41b

[2021-01-12 10:07] harshilparmar commented on #12190
Can I take this issue?

[2021-01-12 10:10] ludwiczakpawel commented on #10860
It's really weird. I'll keep investigating since I can't repro that on my local env 👀

[2021-01-12 10:24] SandeepBalachandran commented on #10860
@ludwiczakpawel  Hoping that you have been trying to reproduce the issue in chrome the way i mentioned.

[2021-01-12 10:34] ludwiczakpawel commented on #10860
After another thought... Since this is happening only when you manually and intentionally change User Dara Directory and you've confirmed it works for default one, I don't think we can consider this as an actual bug.

User directory contains some cookies related data and likely other stuff that potentially could be important for some views (like `/new`) since some of them heavily rely on cache etc

[2021-01-12 10:34] #10860 closed

[2021-01-12 10:43] rhymes commented on #11621
@ludwiczakpawel yeah, those definitely need to be adjusted to always go to the proper page, thanks for the video! BTW you can upload inline videos to GitHub now

[2021-01-12 10:56] SandeepBalachandran commented on #10860
I mean like i said before i am not sure whether this behaviour is  caused by altering data directory or not?  In my understanding changing directory does not affect anything other than location for the client.

**Have you reproduced  the behaviour in your side?**  I think we could confirm the reason if you / someone could reproduce.

I added the issue not to  increase the issue counter. It was out

[2021-01-12 11:54] ludwiczakpawel commented on #11621
max 10mb 🤷

[2021-01-12 12:22] c33s commented on #1182
@cmgorton why not use github discussions?

[2021-01-12 13:57] cmgorton commented on #1182
Good question @c33s !
I proposed using Github discussions to the team internally a few weeks ago. Because we now have a community of both developers and those who are less technical (Non developers using Forem) we felt it would be better for the whole community to use a platform for communication/discussions that was less intimidating to non developers and inviting for everyone.

There were other

[2021-01-12 14:00] cmgorton commented on #1626
Hey all! Moving forward, we would love for people to head over to [forem.dev](https://forem.dev/) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](https://forem.dev/). There we can g

[2021-01-12 14:25] cmgorton commented on #1344
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev). There we can get more eyes on po

[2021-01-12 14:25] #1344 closed

[2021-01-12 15:24] cmgorton commented on #1952
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev). There we can get more eyes on po

[2021-01-12 15:24] #1952 closed

[2021-01-12 15:25] cmgorton commented on #2048
Hello! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev). There we can get more eyes on pote

[2021-01-12 15:25] #2048 closed

[2021-01-12 15:26] cmgorton commented on #2068
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev). There we can get more eyes on po

[2021-01-12 15:26] #2068 closed

[2021-01-12 15:27] cmgorton commented on #2187
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev). There we can get more eyes on po

[2021-01-12 15:27] #2187 closed

[2021-01-12 15:30] ErhanCetin opened #12235 "When I click any link on site , that error is raising."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2021-01-12 15:35] cmgorton commented on #2951
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev). There we can get more eyes on po

[2021-01-12 15:35] #2951 closed

[2021-01-12 15:36] cmgorton commented on #3078
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev). There we can get more eyes on po

[2021-01-12 15:36] #3078 closed

[2021-01-12 15:37] cmgorton commented on #3181
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev). There we can get more eyes on po

[2021-01-12 15:37] #3181 closed

[2021-01-12 15:38] cmgorton commented on #3216
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev). There we can get more eyes on po

[2021-01-12 15:38] #3216 closed

[2021-01-12 15:42] cmgorton commented on #3252
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

There has been a lot of great points brought up for this feature but since it has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discuss

[2021-01-12 15:42] #3252 closed

[2021-01-12 15:44] cmgorton commented on #3380
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev). There we can get more eyes on po

[2021-01-12 15:44] #3380 closed

[2021-01-12 15:46] cmgorton commented on #3418
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev). There we can get more eyes on po

[2021-01-12 15:46] #3418 closed

[2021-01-12 15:47] cmgorton commented on #3457
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev). There we can get more eyes on po

[2021-01-12 15:47] #3457 closed

[2021-01-12 15:48] cmgorton commented on #3491
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev). There we can get more eyes on po

[2021-01-12 15:48] #3491 closed

[2021-01-12 15:48] cmgorton commented on #3538
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev). There we can get more eyes on po

[2021-01-12 15:48] #3538 closed

[2021-01-12 15:49] cmgorton commented on #3574
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev). There we can get more eyes on po

[2021-01-12 15:49] #3574 closed

[2021-01-12 15:51] cmgorton commented on #12235
Hey @ErhanCetin could you provide more context here? What error are you seeing and what browser are you using? Could you provide any screenshots?

[2021-01-12 15:53] cmgorton commented on #3590
Hey! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev). There we can get more eyes on potent

[2021-01-12 15:53] #3590 closed

[2021-01-12 16:00] cmgorton commented on #3639
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on p

[2021-01-12 16:00] #3639 closed

[2021-01-12 16:00] cmgorton commented on #3709
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on p

[2021-01-12 16:00] #3709 closed

[2021-01-12 16:01] cmgorton commented on #3741
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on p

[2021-01-12 16:01] #3741 closed

[2021-01-12 16:02] tombohub commented on #12193
@rhymes  it's a variation yes. Mine happens immediately when start writing title. For some reason the box inline `style` changes from 64px to 26px.  screenshot: http://prntscr.com/wlxg6r

[2021-01-12 16:02] cmgorton commented on #3852
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on p

[2021-01-12 16:02] #3852 closed

[2021-01-12 17:38] cmgorton commented on #3955
Hey Andrew! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes o

[2021-01-12 17:38] #3955 closed

[2021-01-12 17:38] cmgorton commented on #3982
Hey! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on poten

[2021-01-12 17:38] #3982 closed

[2021-01-12 17:39] cmgorton commented on #4026
Hey! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on poten

[2021-01-12 17:39] #4026 closed

[2021-01-12 17:41] cmgorton commented on #4074
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on p

[2021-01-12 17:41] #4074 closed

[2021-01-12 17:42] cmgorton commented on #4131
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on p

[2021-01-12 17:42] #4131 closed

[2021-01-12 17:44] cmgorton commented on #4252
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on p

[2021-01-12 17:44] #4252 closed

[2021-01-12 17:45] cmgorton commented on #4266
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on p

[2021-01-12 17:45] #4266 closed

[2021-01-12 17:45] cmgorton commented on #4268
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on p

[2021-01-12 17:45] #4268 closed

[2021-01-12 17:47] cmgorton commented on #4332
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on p

[2021-01-12 17:47] #4332 closed

[2021-01-12 17:49] cmgorton commented on #4386
Hey I think this is a great feature request!
Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.de

[2021-01-12 17:49] #4386 closed

[2021-01-12 17:49] cmgorton commented on #4389
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on p

[2021-01-12 17:49] #4389 closed

[2021-01-12 17:58] cmgorton commented on #4399
Hey! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on poten

[2021-01-12 17:58] #4399 closed

[2021-01-12 18:02] #11914 closed

[2021-01-12 18:03] cmgorton commented on #4641
I think this would be a great discussion post for [forem.dev](forem.dev) if this is still a feature we potentially want to add.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on potential features and highlight a

[2021-01-12 18:03] #4641 closed

[2021-01-12 18:07] cmgorton commented on #4683
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on p

[2021-01-12 18:07] #4683 closed

[2021-01-12 18:08] cmgorton commented on #4687
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on p

[2021-01-12 18:08] #4687 closed

[2021-01-12 18:09] cmgorton commented on #4700
I think this would make a great discussion post on  [forem.dev](forem.dev).

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on potential features and highlight any we really would love the community to contribute

[2021-01-12 18:09] #4700 closed

[2021-01-12 18:10] cmgorton commented on #4805
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on p

[2021-01-12 18:10] #4805 closed

[2021-01-12 18:12] cmgorton commented on #4807
@nickytonline maybe a potential RFC to encourage @aitchiss to propose since they opened this issue?

[2021-01-12 18:17] cmgorton commented on #5161
Hey! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on poten

[2021-01-12 18:17] #5161 closed

[2021-01-12 18:26] jacobherrington commented on #11602
I'm going to take a crack at this! Thanks for getting it documented and getting the ball rolling @msarit :+1:

[2021-01-12 19:09] nisusam commented on #11205
@nickytonline Footer is still duplicate on https://dev.to/listings/dashboard.

![Screenshot 2021-01-13 at 12 38 06 AM](https://user-images.githubusercontent.com/16205473/104360807-a08ba280-5537-11eb-9683-5e6e86d46278.png)

[2021-01-12 19:31] watzak commented on #12188
JFYI: Have the same issue ...

[2021-01-12 19:37] cmgorton commented on #152
Hey, since this has gone a bit stale I think we might want to revisit whether this is a feature we want to implement.

 I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on potential features and highlight any we really would love the community to contribute too. Thanks!

[2021-01-12 19:38] cmgorton commented on #166
Hey all! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on p

[2021-01-12 19:38] #166 closed

[2021-01-12 19:41] cmgorton commented on #220
Hey all! This post originally had some good traction but seems to have a lot of pieces to it that would benefit from more discussion.

Since this one stale for a while I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on potential features and highlight any we really would love th

[2021-01-12 19:41] #220 closed

[2021-01-12 19:42] cmgorton commented on #271
I think this would be a good discussion post on [forem.dev](forem.dev). I know we have had some recent work on the podcast from the MLH fellows.

Since this one issue has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on potential f

[2021-01-12 19:42] #271 closed

[2021-01-12 19:47] cmgorton commented on #503
Hey all! This post originally has some good traction but I think we will want to revisit whether this is a feature we want for Forem.
Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction lately I am going to close it and encourage anyo

[2021-01-12 19:48] cmgorton commented on #872
Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on potential features and highlight any we really would love the community to contribute too. Thanks!

[2021-01-12 19:48] #872 closed

[2021-01-12 20:45] cmgorton commented on #997
Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on potential features and highlight any we really would love the community to contribute too. Thanks!

[2021-01-12 20:45] #997 closed

[2021-01-12 20:46] cmgorton commented on #1018
@fdoxyz is this something that is still a problem? I know we have been changing a lot of things on mobile recently. If so I will leave this open but wanted to get your opinion on it since it has been open for awhile now. Thanks :)

[2021-01-12 20:48] cmgorton commented on #987
@nickytonline maybe a good RFC given it's scope and now we have Suzanne and Katie to help!

[2021-01-12 20:59] jwedel commented on #1018
First, I have now an iPhone Mini, second im using the dev.to App. there, the ux of the message section has definitely improved a lot. I wouldnt consider this an issue anymore.

[2021-01-12 21:02] cmgorton commented on #1018
Thanks for letting me know @jwedel ! Going to go a head and close this issue then.

[2021-01-12 21:02] #1018 closed

[2021-01-12 21:17] cmgorton commented on #3682
It looks like this may be addressed in the above PR if not feel free to open up a discussion around this feature in [forem.dev](forem.dev) Andrew!

 There we can get more eyes on potential features and highlight any we really would love the community to contribute too. Thanks!

[2021-01-12 21:17] #3682 closed

[2021-01-12 21:17] cmgorton commented on #3683
Hey Andrew! Moving forward, we would love for people to head over to [forem.dev](forem.dev) for many of these feature requests that we need more discussion around.

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes o

[2021-01-12 21:17] #3683 closed

[2021-01-12 21:19] cmgorton commented on #3685
I also think this would be a good one to surface in [forem.dev](forem.dev) if you think this feature is still useful!

Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on potential features and highlight any we real

[2021-01-12 21:19] #3685 closed

[2021-01-12 21:20] cmgorton commented on #3785
Not sure this is something we do on DEV anymore.

Since this issue has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on potential features and highlight any we really would love the community to contribute too. Thanks!

[2021-01-12 21:20] #3785 closed

[2021-01-12 22:13] nickytonline opened #12250 "Message Context Menu in Connect is Not Accessible"
**Describe the bug**

Connect has a contextual menu on a message that lets you edit or delete a menu. It appears when you hover over a message and when you hover over the three dots icon of the menu, it provides options. It cannot be accessed via the keyboard.

![image](https://user-images.githubusercontent.com/833231/104381717-ea09cc80-54fa-11eb-8fa5-318f9a7bc5bf.png)

**To Reproduce**

1. Tab th

[2021-01-13 00:48] vaidehijoshi opened #12251 "Allow Forem admins to configure time frame when rate limiting article creation"
In https://github.com/forem/forem/pull/10686, we added some functionality to allow Forem admins to configure how many articles a 3-day-old user can create within 5 minutes. This was done as a fix for an ongoing spam attack at the time, and it allowed us to treat "newer" users differently when it came to rate limiting how many articles they could create.

However, there is some room for improvement

[2021-01-13 04:27] reezanahamed commented on #12188
Are you working in local machine or VPS?
If you are working in VPS, you should change APP_DOMAIN value as your IP value in ".env" file. This might solve your problem.

[2021-01-13 04:45] reezanahamed opened #12253 "Can i use Forem for production environment?"
Hi,

I met forem 4 days ago and it drew my attention, but I am actually a PHP developer so I am newbie to Ruby on rails. First I thought forem is like WordPress we can easily install it and use it for our own purpose. I tried to install forem on my Linux VPS server but I have faced so many issues even though I have followed all the instruction on [documentation](https://docs.dev.to/installation/li

[2021-01-13 08:45] ludwiczakpawel commented on #987
@nickytonline @cmgorton I still think we can close this issue, especially it's been a while since Nick opened it and the state of things has drastically changed.

[2021-01-13 09:35] watzak commented on #12188
Hello @reezanahamed
I am working locally with docker-compose! Just copied the .env_sample to .env! Didn't change anything there. Took the default values.
I am able to get the startpage, but I am not able to signin. Also registering of superadmin didn't work. Always got the error as mentioned above.
Thanx for your help. Appreciate that.

[2021-01-13 12:16] c33s commented on #220
think it is really uncool to close all the issues here and move the discussion to forem.dev. if you prefer to also have a discussion on forem.dev at least crosslink it and don't close everything on github.

[2021-01-13 14:11] cmgorton commented on #220
Hey Julian. I’m sorry for the inconvenience. This issue is currently over 2 years old. Because we had over 800 open issues, I have been closing older issues that have had little traction for a few months now to maintain the health of the project here.

 One hard thing about feature requests is it is usually a yes or no and because it is an issue as a maintainer you have to close it. With over 700

[2021-01-13 14:17] #11747 closed

[2021-01-13 14:17] cmgorton commented on #12235
Hey @ErhanCetin . I am going to close this issue since there isn't any context. Feel free to add more and we can reopen it. Thanks!

[2021-01-13 14:17] #12235 closed

[2021-01-13 14:40] cmgorton commented on #152
Team let me know we have a plan in place for this particular feature so I am going to reopen it! 🥳

[2021-01-13 14:41] cmgorton commented on #503
Team let me know we have a plan in place for this particular feature so I am going to reopen it! 🥳

[2021-01-13 15:22] gonsie opened #12261 "Links to articles in digest email don’t work"
Clicking a link to an article in the weekly email digest doesn’t work on IOS with the app installed. Clicking a link will switch to the app, but the linked article is not brought up.

1. On iOS with the app installed
2. Click on an article link in the weekly digest email
3. The DEV app is brought forward, but the linked article is not.

- Device: iPhone
- OS, version: iOS 14.2
- Browser, version:

[2021-01-13 15:25] cmgorton commented on #12261
@fdoxyz pinging you on this mobile issue in case you have any thoughts on this.

[2021-01-13 15:50] cmgorton commented on #9259
Since this one has been around for a while without much traction I am going to close it and encourage anyone who would like to see this feature in the future to open a discussion in [forem.dev](forem.dev) . There we can get more eyes on potential features and highlight any we really would love the community to contribute too. Thanks!

[2021-01-13 15:50] #9259 closed

[2021-01-13 16:27] mstruve commented on #12157
Can you be more specific about what this entails? Does this mean removing the fields from the database or is there more code that needs to be removed first?

[2021-01-13 16:32] mstruve commented on #12160
@vaidehijoshi this will require some design work to use these custom optional fields. Do you think we want an RFC for this or should we just mention the design team here and do it that way?

[2021-01-13 19:17] mstruve commented on #354
Given we have an internal RFC created for this I am going to close it. For all those following along this is coming soon!!!

[2021-01-13 19:17] #354 closed

[2021-01-13 20:06] vaidehijoshi commented on #12160
@mstruve let's use the RFC process since this is adding a new feature and we need to allocate design time as a prereq 👍🏽

[2021-01-13 21:17] atsmith813 opened #12265 "Refactor cache busting for NGINX"
**Is your feature request related to a problem? Please describe.**
A while back when we added NGINX caching, we made note of a [TODO](https://github.com/forem/forem/blob/b45c578ea18ac5b7a53453876b54902f09991558/app/services/edge_cache/bust/nginx.rb#L16-L38) that read:

[code]

In other words, the issue is that any time we bust caches through NGINX, we first make a `GET` request to see if NGINX is

[2021-01-13 21:34] vaidehijoshi commented on #12265
@atsmith813 Thank you for writing this up in such detail!! If this issue is prioritized into cycle 1, maybe I'll pick this up and finally close the loop on my `TODO` from many moons ago 😂

[2021-01-13 22:18] nickytonline commented on #987
@ludwiczakpawel makes a good point. It would probably make more sense to reassess what needs to be done here as a lot of the UI has changed.

[2021-01-14 02:47] vaidehijoshi commented on #12021
@cmgorton Is this related to https://github.com/forem/forem/issues/12138, or does this not have anything to do with the onboarding flow?

[2021-01-14 02:58] benhalpern opened #12269 "Email list does not allow 2-character domains"
This came up in trying to validate domains in `allowed_domains_include_improper_format`.

Reproduce:

Go to `/admin/config` follow steps to add authentic-able domains for email auth. `me.com` will not work.

[2021-01-14 06:01] citizen428 commented on #12157
Thesed files are currently in the `ignored_columns` list, but there is still code using them. As an intermediate step we set up delegation from `User` to `Profile`, but we need to eliminate any direct usage of these fields (e.g. `user.education` or `user.website_url`).

Going through the profile is not necessarily a valid alternative, as we won't be able to guarantee the existence of these fields

[2021-01-14 08:01] #987 closed

[2021-01-14 10:44] rhymes commented on #12265
I don't know what the Fastly gem does internally but if we can manage to issue 8 (taken from Alex's example) HTTP calls concurrently that'd be a big win. Those calls don't share data, we only need to know if any of those failed.

We could also see if we can employ other concurrency techniques (async, ractors, processes) if Fastly doesn't work well with threads.

All of that to say that my vote goe

[2021-01-14 14:36] cmgorton commented on #12206
Looks like your PR was merged. 🥳
Thanks for time and your contribution! I will go a head and close this issue now.

[2021-01-14 14:36] #12206 closed

[2021-01-14 14:38] cmgorton commented on #12207
Looks like your PR for this one was merged as well. 🎉
Thanks again for your time and contributions. I will go a head and close this issue.

[2021-01-14 14:38] #12207 closed

[2021-01-14 15:21] Zhao-Andy commented on #12142
This is the strangest issue, and seems pretty hard to reproduce. I followed the steps to reproduce and unfortunately it didn't work. My first impression is that there was some issue where the two specific podcasts had similar data within their respective RSS feeds, and that might have cause some conflict when our podcast reading logic that made episodes swap between each other.

Going through the

[2021-01-14 15:21] #12142 closed

[2021-01-14 15:22] cmgorton commented on #12021
This might be connected but I am not sure this had to do with on-boarding. I will see if I can reach back out to the user and get more information :)

[2021-01-14 17:13] vaidehijoshi commented on #12108
Note: whoever picks this up will need to obtain access to Netlify!

[2021-01-14 17:22] vaidehijoshi commented on #12251
This should probably be a RFC :)

[2021-01-14 17:36] vaidehijoshi commented on #797
Future RFC

[2021-01-14 17:47] jessleenyc commented on #11708
Noticing that this is still an issue on the CodeNewbie Forem: https://community.codenewbie.org/pod

[2021-01-14 17:54] benhalpern commented on #11708
Fixed here. https://github.com/forem/forem/pull/12280

[2021-01-14 18:00] c33s commented on #220
@cmgorton only because nobody implemented a feature the feature request is still valid. from UX view i only can give you the feedback it is not a good UX.

if you keep the issues here it is simpe: "i stayed subscibed here until it is done or get fully rejected".

if you would migrate all the issues to forem.dev (where i personally don't see any benefit) the UX would not be as good as if it stayed

[2021-01-14 18:07] vaidehijoshi commented on #11851
Note: we should make sure that we are not hardcoding any emails or any DEV-specific content when addressing this (like `yo@dev.to`)

[2021-01-14 18:10] #12251 closed

[2021-01-14 18:11] vaidehijoshi commented on #12157
@mstruve I removed this from "issues to review" in today's planning meeting, but we can add it back when we feel like we have enough context for someone on the team to take it on

[2021-01-14 18:12] vaidehijoshi commented on #12159
@mstruve I removed this from "issues to review" in today's planning meeting, but we can add it back when we feel like we have enough context for someone on the team to take it on

[2021-01-14 18:14] vaidehijoshi commented on #797
@benhalpern I'll leave it to you to close this issue out if/when you decide to convert it into a RFC. Maybe @nickytonline can help champion it, too :)

[2021-01-14 18:24] vaidehijoshi commented on #11708
Closing this since https://github.com/forem/forem/pull/12280 seems to address it. Please feel free to reopen if it appears that this issue has not been resolved!

[2021-01-14 18:24] #11708 closed

[2021-01-14 18:51] #12138 closed

[2021-01-14 19:02] mstruve opened #12283 "Refactor spec/requests/admin/configs_spec.rb"
Per @atsmith813's great suggestion in https://github.com/forem/forem/pull/12281, in an effort to make the specs in spec/requests/admin/configs_spec.rb more resilient to changes in our default SiteConfig values we should update them to remove the hardcoded defaults.

For example, we have

[code]
We should update this to check the default value rather than the hardcoded 5
[code]

There are multiple

[2021-01-14 19:27] mstruve opened #12284 "All Profile Updates are Lost When 1 Field is Invalid"
**Describe the bug**

When you go to update your profile you can fill in multiple fields at a time. If you fill in many of those fields and then submit form, if 1 field is invalid you will receive an error message and none of the fields will have been saved. This can be very frustrating if you spent a lot of time filling them all out and only 1 was wrong.

Error:
![Screen Shot 2021-01-14 at 2 22 2

[2021-01-14 19:28] mstruve opened #12285 "All Profile Updates Are Lost if 1 Field is Invalid"
**Describe the bug**

When you go to update your profile you can fill in multiple fields at a time. If you fill in many of those fields and then submit form, if 1 field is invalid you will receive an error message and none of the fields will have been saved. This can be very frustrating if you spent a lot of time filling them all out and only 1 was wrong.

Error:
![Screen Shot 2021-01-14 at 2 22 2

[2021-01-14 19:53] mstruve commented on #4995
@lisasy or @ludwiczakpawel is there a "correct way" to handle this issue now that we have Crayons? (sorry if that's a dumb question, I am not in touch with the frontend 🙈 )

[2021-01-14 20:06] katiedavis commented on #11582
Hi @pkfrank! It looks like this one has already been completed. Just wanted to confirm you're seeing the same on your end now before I close.
<img width="781" alt="Screen Shot 2021-01-14 at 3 04 02 PM" src="https://user-images.githubusercontent.com/15366319/104643157-f8322700-5679-11eb-9488-4c0778428278.png">

[2021-01-14 20:24] vaidehijoshi opened #12286 "Updating a tag's colors does not reflect on the tag's page"
**Describe the bug**

When I attempt to update the colors for a tag, the colors do not update on the tag's show page.

**To Reproduce**

1. Make sure that you are a Forem admin with _tag resource privileges_.
2. Create a new tag, and go to that tag's edit page (`/admin/tags/1/edit`, for example).
3. Change the colors of the tag at the bottom of the form (`Bg color hex` and `Text color hex`).
4. Sa

[2021-01-14 20:31] mstruve commented on #3649
For whoever picks this up, breaking this into separate PRs for each different `rand()` or grouping only a couple at a time would be ideal and make reviewing much easier.

[2021-01-14 20:32] katiedavis commented on #11753
@ludwiczakpawel Hello 👋 it looks like the issue with local storage has been fixed:
![X](https://user-images.githubusercontent.com/15366319/104645706-675d4a80-567d-11eb-8c8e-3eaa3da47ae9.gif)

But it is still likely a really good idea to have a modal that lets the user know they're leaving the post page, right? Do we have any guides on language for messaging like this?

[2021-01-14 20:59] lisasy commented on #4995
@mstruve

Enable Crayons styling requires adding the relevant CSS class in the markup. In this case, it might be

[code]

@ludwiczakpawel can comment more on our approach to requiring calling the explicit CSS class names versus Crayons applying to `button` component generally.

[2021-01-14 21:45] vaidehijoshi commented on #11569
I addressed this in the most "straightforward" way in https://github.com/forem/forem/pull/11700, but as I wrote on that pull request, this will probably need to be a "larger", more holistic change:

I think this actually needs to be converted to a RFC...but I might brainstorm on what the best implementation for this is, first.

[2021-01-14 21:50] atsmith813 commented on #12265
@rhymes

☝️ Correct, spot on!

I'm hesitant to go the route of:

For the context of this issue, I think the goal is to reduce how many times we're making [the `GET` request as a sort of "health check" to NGINX](https://github.com/forem/forem/blob/636f4b0ae1a4a534f1d4c8f99e4794e888829871/app/services/edge_cache/bust/nginx.rb#L16-L37). And maybe the issue of making the purges more efficient could be

[2021-01-14 22:02] vaidehijoshi commented on #12265
I've been marinating on this for a few days and the more that I think about it, the more I feel that this is the best approach. It improves the current scenario of "ping NGINX each time even though we don't have to" without doing a major overhaul of how we do cache busting (which, as @atsmith813 explained in the issue description, would be a major undertaking). Seems like we can check if NGINX is

[2021-01-15 01:08] pkfrank commented on #11582
Thanks, @katiedavis, looks great.  I'll go ahead and close this issue.

[2021-01-15 01:08] #11582 closed

[2021-01-15 03:15] citizen428 commented on #12157
@vaidehijoshi Should we try to finally close the loop on profile generalization which started last August? If we're still missing context after the explanation I added above I'm happy to provide it, but I don't think we should leave this feature linger in a half-finished state for too long and this is quite literally the next step that needs to be taken to be able to move forward with it.

[2021-01-15 04:37] vaidehijoshi commented on #12157
@citizen428 i absolutely agree that we should close the loop, but @mstruve had mentioned in the planning meeting that she wanted to look at this issue more closely before prioritizing it, which is why we removed it from the funnel in the meeting fo this week. I'd love the revisit and close the loop on this just as much as you :) I hope that we can discuss it in the next planning meeting

[2021-01-15 06:54] citizen428 commented on #11991
@rhymes It seems the gem only wraps `validates` (i.e. the default Rails validations) but not `validate` which allows specifying a custom method/block? In that case, we may have to define custom validator classes for some of the validations.

[2021-01-15 08:56] rhymes commented on #4995
We could replace `<button>` with `<button class="xyz">` while parsing the content of the article. We have a [Html::Parser](https://github.com/forem/forem/blob/master/app/services/html/parser.rb) class for those operations.

[2021-01-15 09:01] ludwiczakpawel commented on #4995
Basically what @rhymes suggests makes the most sense.

We should either apply `crayons-btn` class name OR `crayons-btn crayons-btn--secondary` --> first would end up being our classic blue-ish and latter would be grey: https://storybook.forem.com/?path=/story/components-buttons--default - I'm not convinced for using primary style to this kind of buttons but this opinion isn't very strong. Flip a c

[2021-01-15 09:11] ludwiczakpawel commented on #11753
@FGasper can you confirm? I don't think we have pushed ANY fix for that issue - it was always working for me. I believe it was some weird coincidence (conjunction of planets?) that it did not save the draft for you. But if it still happens to you, we should definitely dig deeper.

Absolutely, I think we should proceed with this. Re language, we don't have any guidelines - maybe @lisasy can chime i

[2021-01-15 09:18] rhymes commented on #12265
@atsmith813 I agree 100%

❤️

If that's possible, yes! As you know I've spent quite a bit of time setting up surrogate keys with Fastly for the DEV API and you've spent even more time working on caching issues and yeah, it should be the upstream server in charge of deleting data concurrently. My suggestion was because I understood we had no choice but to lean in busting paths, but if we can switch

[2021-01-15 09:36] rhymes commented on #11991
@citizen428 yeah, it doesn't look to be that advanced

[2021-01-15 09:46] rhymes commented on #4995
+1 for secondary

[2021-01-15 15:55] rhymes opened #12296 "Add Crayons to the "Destroy your account" page"
**Describe the bug**

Right now the "Destroy your account" page looks like this:

![Screenshot_2021-01-15 Screenshot](https://user-images.githubusercontent.com/146201/104748582-2d11ad00-5752-11eb-9fb4-0645cfe4b0b4.png)

**To Reproduce**

1. Turn on caching with `bundle exec rails dev:cache`
2. Go to http://localhost:3000/settings/account
3. Click on "Delete account"
4. Check the logs and copy the

[2021-01-15 15:59] aitchiss opened #12297 "Optimise all usage of crayons dropdown for accessibility"
**Is your feature request related to a problem? Please describe.**

We use the crayons dropdown component in both Preact and non-Preact code, with varying optimisations for accessibility. Ideally, all crayons dropdowns should:

- be open/closeable using either mouse or keyboard alone (i.e. by pressing enter on the activating button / Escape to close)
- close when a user clicks elsewhere on the scr

[2021-01-15 16:05] katiedavis opened #12298 "Extend Modal component to support confirmation scenario"
**Is your feature request related to a problem? Please describe.**
While working on #11753 the conversation shifted to warning the author before they leave their draft post, the X in the corner of the page can be unclear, so in this case we need a modal with confirmation buttons.

**Describe the solution you'd like**
 Extend the modal component to have a variant that includes confirmation buttons.

[2021-01-15 16:40] BogDAAAMN opened #12299 "Wrong hyperlink in digest email"
**Describe the bug**

If a user doesn't have the experience level set, the digest email will render a invitation to the user to set their experience in the settings of the account (see picture below)

![Screenshot 2021-01-15 at 16 49 54](https://user-images.githubusercontent.com/22895284/104749039-a5786e00-5752-11eb-934d-e1708d2c9388.png)

[your settings](https://dev.to/settings/misc) hyperlink re

[2021-01-15 16:45] BogDAAAMN commented on #12299
I believe PR #12300 fixes it.

[2021-01-15 19:05] vaidehijoshi commented on #12265
I’m not going to assign myself to this just _yet_ because I haven’t started work on this,  and our workflow explicitly stated that you should only assign yourself to tasks that you’re working on currently...but I am going to leave a comment here (in case anyone looks at this issue) to say that I’d like to pick up work on this on Monday :)

[2021-01-15 19:34] mstruve commented on #4995
Love that idea @rhymes! Paired with the crayons and I think we have a practical solution. Thanks everyone!

[2021-01-15 19:36] msarit commented on #11703
Implemented in [this PR](https://github.com/forem/forem/pull/12135)

[2021-01-15 19:36] #11703 closed

[2021-01-15 20:50] bigdoods commented on #5695
This is exactly the feature we want too for AecHive.net. Our community is very visual and there are many YouTube channels that are tackling educational based topics that we want to share.

We are seeing huge appetite from our community as an aggregation platform and we are using this approach to build value for our users.

We hope this feature lands fast and we are willing to help make it happen.

[2021-01-15 20:52] xpyxel opened #12303 "Images as a user profile banner"
**Is your feature request related to a problem? Please describe.**

Not related to a issue or problem. Simply just would be a nice addition.

**Describe the solution you'd like**

Currently on user profiles the background/banner is based on the brand colors. It would be a nice addition to DEV and Forems in general if you were able to have per-user profile banners as images as an option as well. To

[2021-01-15 21:24] #12299 closed

[2021-01-15 21:31] vaidehijoshi commented on #10744
@benhalpern since you have assigned this to yourself, I am assuming you have started work on this already :) If that is the case, can you please add it to the in progress column so we can keep up-to-date with which tasks are currently being worked on? Thank you! 🙏🏽

[2021-01-16 01:40] mstruve commented on #12157
@citizen428 thanks for the clarification! I added it to the description and put it back on the board to re-evaluate for the next cycle.

[2021-01-16 02:16] wyhaines commented on #12005
We had a wee bit of a delay, both with my own scheduling and then with getting everything running locally. The PR is available for review. Please let me know if there are any questions or concerns.

[2021-01-16 02:56] slatewala commented on #6605
pls someone help

[2021-01-16 02:57] slatewala commented on #6252
I am facing the same issue pls help

[2021-01-16 02:59] slatewala opened #12305 "Ooooops... You have encountered an error."
type: bug

Hi,

Love the platform but now from last 4 days cannot post any articles as it is giving error. Have emailed few times, but no reply yet. If someone can kindly check and get resolve it or what should I do to fix it. Thanks a ton.

account: https://dev.to/saifuddinss/

<img width="400" alt="Screenshot 2021-01-16 at 7 58 33 AM" src="https://user-images.githubusercontent.com/30751577/10479

[2021-01-16 08:47] piclez commented on #12188
I'm getting the same error above. Docker on Mac.

[2021-01-16 09:04] icncsx opened #12306 "Support for LaTeX"
Can we support LaTeX preview/rendering for Dev posts? I have some math I'd like to embed in my posts :)

[2021-01-16 11:53] watzak commented on #12188
@piclez Try to include `127.0.0.1 localhost rails` into your /etc/host and then enter http://rails:3000 in your browser! Then I was able to login and so on ... With http://localhost:3000 it doesn't work!
Cheers

[2021-01-16 13:59] c33s commented on #220
the linked post does not make it any better. if you want to bring tech and non tech people together, my suggestion would be to sync the comments between github and the forum and not to kill easy tech communication on github (like commenting via emai) without providing at least a subset of the existing featureset (you can't even simply vote on features as it is still not possible to see who gives y

[2021-01-16 15:34] LE-HU commented on #11936
@Zhao-Andy no problem.
I'll try to fix this one over the weekend. I've edited my previous code snippet as it had some flaw and I'd like to propose a completely valid one,
Good to know profile image issue is being tackled internally.

Will keep you posted how things develop.

[2021-01-16 17:11] slatewala commented on #12305
type: bug

Hi,

Love the platform but now from last 4 days cannot post any articles as it is giving error. Have emailed few times, but no reply yet. If someone can kindly check and get resolve it or what should I do to fix it. Thanks a ton.

account: https://dev.to/saifuddinss/

[2021-01-16 19:44] cmgorton commented on #12305
Hey @slatewala . Sorry about the bug. As it is the weekend we may be slow to respond until Monday. In the meantime, can you add more detail here please so we can try to replicate it?
What browser are you using?
Which DEV editor are you using v1 or v2?
And any other details you think might help. Thanks!

[2021-01-17 00:57] benhalpern opened #12310 "Small amount of cumulative layout shift on comment show."
Cumulative layout shift refers the sudden jump of elements on a page when any change happens after initial render.

Details here: https://web.dev/cls/

This is not only a bad experience for users, Google has warned that this will become a bigger ranking factor:

Details here:
https://www.searchenginejournal.com/cumulative-layout-shift/371946/
https://www.popwebdesign.net/popart_blog/en/2020/09/cum

[2021-01-17 01:52] slatewala commented on #12305
Hi Christina

Thank you for the reply. I tried on Safari, Chrome and also chrome on
mobile it is not working on anyone this browser.
I dont know which editor it is .. how to find that out.
Also if I am trying to change anything in setting and click on save it
crashes too

Pls help :)

On Sun, Jan 17, 2021 at 1:14 AM Christina <notifications@github.com> wrote:

--

Abde Syedna (TUS),
Saifuddin Shab

[2021-01-17 01:57] slatewala commented on #12305
I am using v2 rich editor and cannot change that as it gives the same error
if I try to change anything in settings

On Sun, Jan 17, 2021 at 7:22 AM Saifuddin Slatewala <
saifuddin.slatewala@gmail.com> wrote:

--

Abde Syedna (TUS),
Saifuddin Shabbir Slatewala <http://twitfooter.com/twitter/view/saifuddinss>

[2021-01-17 03:25] giosakti opened #12311 "Different crayons-*.css output between precompile result vs on-the-fly (development) compile output which leads to layout issues"
**Describe the bug**

Different crayons-*.css output between precompile result vs on-the-fly (development) compile output which leads to layout issues

**To Reproduce**

1. Run forem in development mode, crayons.css will look like this
![crayon-2](https://user-images.githubusercontent.com/524078/104830107-197b5900-58ae-11eb-893a-df63cc21cf15.PNG)

2. The interface will be like this
![layout-2](htt

[2021-01-17 11:14] rhymes commented on #6252
@slatewala please email yo@dev.to for more help, thank you!

[2021-01-17 11:16] rhymes commented on #12306
@icncsx we support KaTeX, would that cover your needs? Check "KaTeX embed" in the editor guide https://dev.to/p/editor_guide

[2021-01-17 16:31] ankitbeniwal opened #12314 "Remove Unpublished content from Notifications"
**Problem**:

Once  unpublished, an article is not removed from the notifications and takes the user to a 404 page when clicked.

**Ideal Solution**:

As soon as a publisher removes an article, the link to that article should be removed from the notification list of a follower.

[2021-01-17 17:20] shilpi230 commented on #12283
@mstruve I would like to take this one. Thanks! And I assume this is the only one file `spec/requests/admin/configs_spec.rb` which needs change right?

[2021-01-17 17:30] rna commented on #12284
Hi @mstruve, I would like to work on this.

[2021-01-17 17:31] shilpi230 commented on #12283
There are few things in file which I noticed, in which are just directly checking `.to eq("value")` instead of `from(default_value).to eq(new_value)` Is that fine or we should change it?

[2021-01-17 18:18] shilpi230 commented on #11500
@joshpuetz I would like to take this. Thanks!

[2021-01-17 18:36] shilpi230 commented on #12283
@mstruve I raised the [PR](https://github.com/forem/forem/pull/12315) but some of the test case failed. I wonder how, I didn't change anything in code. Just one test case file I changed. Can you please help me with it. Thanks!

[2021-01-17 23:18] mstruve commented on #12284
@rna sounds great! I will assign you. If for some reason you get busy and can't get it done please let us know! Thank you!!!

[2021-01-18 04:05] citizen428 commented on #11991
Also note that since this issue was originally written, the validations moved from `Admin::ConfigsController` to the `SiteConfigs::Upsert` service.

[2021-01-18 14:23] #12283 closed

[2021-01-18 15:08] maniflames commented on #4614
I experience the same when  clicking on a link in twitter. However, when I click a dev.to link from the google search results the app does open but doesn't navigate to the post. (iphone, default browser: brave)

[2021-01-18 15:11] xarielx commented on #4614
Yes I'm still experiencing this

[2021-01-18 15:29] cmgorton commented on #12305
Hey @slatewala looks like this should be fixed now. I am going to close this issue. If you have the same issue in the future ping me here and we can reopen this. Thanks.

[2021-01-18 15:29] #12305 closed

[2021-01-18 15:36] cmgorton commented on #946
@forem/frontend want to put this issue on your radar. It has been around for awhile. Wondering if we should add this to "issues to review" for the planning funnel or if you think we should close this. I think it is an important consideration for users.

[2021-01-18 16:15] aitchiss commented on #946
@cmgorton I'd be keen to add it to "issues to review" - I agree it's an important consideration and there's a couple of solid potential approaches already mentioned above.

Being able to pause/stop/hide animating content is required in the [WCAG success criteria](https://www.w3.org/TR/WCAG21/#pause-stop-hide) minimum standard and definitely something we should be aiming for

[2021-01-18 16:17] madzadev opened #12324 "Add discussion length in brackets"
**Is your feature request related to a problem? Please describe.**
Currently, the only way to get to know the discussion length for each post is to look at the post in the feed.
I usually don't pay attention to that, and even if I would, I would most likely forget that while reading some longer posts. When I reach the end of the article I would love to see how long the discussion is gonna be witho

[2021-01-18 16:22] VictorSNA commented on #11686
Hi, sorry can you unassign that issue please. I tried to setup with docker and podman but it's not working properly and taking too much time. I only have half of mondays to contribute open-source projects in my enterprise and the idea was fast and easy issues. Thank you and sorry for the incovenience.

[2021-01-18 16:40] vaidehijoshi commented on #946
@cmgorton + @aitchiss This is definitely a good issue for us to add to the funnel (especially given the fact that no one from the community has picked it up and it has been open for some time). I've gone ahead and added it! 🚀

[2021-01-18 16:41] cmgorton commented on #946
Great! Thanks Suzanne and Vaidehi🥳

[2021-01-18 17:02] juliannatetreault commented on #11686
No worries and thanks so much for the update, @VictorSNA! I've unassigned the issue. Thank you so much for being a part of our awesome Forem community. 😄

[2021-01-18 17:25] narender2031 commented on #12296
can I work on this issue?

[2021-01-18 17:29] atsmith813 opened #12326 "Refactor Fastly purge calls to use PURGE instead of POST"
**Is your feature request related to a problem? Please describe.**
A while ago, [Fastly soft-deprecated their original method for purging endpoints via their API](https://github.com/fastly/fastly-ruby#efficient-purging). We are still using the old method.

**Describe the solution you'd like**
While the old method still works, we should update to the new method in case Fastly discontinues support f

[2021-01-18 17:42] atsmith813 commented on #12265
@rhymes well said! It sounds like we're on the same page.

I believe this refactor and updating the purge methods to be safe and get off of "borrowed time" (https://github.com/forem/forem/issues/12326) makes sense.

As for the other parts, I think waiting to see what we ultimately do on the ForemCloud side for caching will (more or less) push us in a certain direction. Ideally, we would use keys o

[2021-01-18 18:56] jdoss commented on #12253
Yes, you can run Forem on a VPS in production. It does require you to have a working understanding of how a Ruby on Rails app works and the process for deploying and keeping Forem up to date isn't the greatest right now. Also, you are correct, the documentation on getting Forem going in production is very lacking as well.

The good news is that we are looking to streamline the FOSS self hosted exp

[2021-01-18 19:21] cmgorton commented on #1154
@forem/frontend Another one we may want to consider for internal review. Let me know what you think with this issue? It may be close to finished since I know Marcy was working on it before and has a PR for it that needs some changes.

[2021-01-18 19:31] cmgorton commented on #1396
@rhymes do you think this one should be labelled with a `potential RFC` label?
It has been around for awhile with little traction so wondering if we should either highlight this or go a head and close it. Thoughts?

[2021-01-18 19:31] cmgorton commented on #1445
Hello! Thanks for your contributions here.  As a heads up, I am going to close this issue.  
We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
**TLDR**: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be

[2021-01-18 19:31] #1445 closed

[2021-01-18 19:32] cmgorton commented on #1449
Hello! Thanks for your contributions here.  As a heads up, I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  

**TLDR:** we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be

[2021-01-18 19:32] #1449 closed

[2021-01-18 19:36] cmgorton commented on #1492
I am going to leave #12061 open and close this issue since they are similar but this one has been around for awhile with no traction. I think we should collect and highlight all of the markdown issues we have in the repo that are ready for dev. I am adding #12061 to a list to highlight.

[2021-01-18 19:36] #1492 closed

[2021-01-18 19:39] cmgorton commented on #1512
@benhalpern any more thoughts on this feature request. Is this something we are likely to implement in the near future?

[2021-01-18 19:42] nickytonline commented on #1154
I think this is a great candidate @cmgorton

[2021-01-18 19:55] cmgorton commented on #1716
Hello! Thanks for your contributions here. This seems like an issues that needs a lot more discussion and consensus from everyone.
We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more t

[2021-01-18 19:55] #1716 closed

[2021-01-18 19:57] #1832 closed

[2021-01-18 19:58] cmgorton commented on #1849
@forem-team is this a feature we could post as `ready for dev` or do we think this needs more discussion and work from Forem team?

[2021-01-18 20:02] joaoGabriel55 commented on #12286
I got simulate this bug. I'm working on it

[2021-01-18 20:12] #2154 closed

[2021-01-18 20:16] cmgorton commented on #2249
Hello! Thanks for your contributions here.
 We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read mo

[2021-01-18 20:16] #2249 closed

[2021-01-18 20:16] vaidehijoshi commented on #12286
Sounds good, @joaoGabriel55! Thanks for picking this up. Let us know if you run into any issues or need any help :)

[2021-01-18 20:17] cmgorton commented on #2351
Hello Andrew! Thanks for your contributions here.
 We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can

[2021-01-18 20:17] #2351 closed

[2021-01-18 20:21] cmgorton commented on #2365
Hey @citizen428 did #10202 address this issue? Or does this feature still need to be implemented?

[2021-01-18 20:29] cmgorton commented on #2370
@rhymes given our new process for feature request do you think this would make a good RFC or should we close this issue?

[2021-01-18 20:29] cmgorton commented on #2494
Hello! Thanks for your contributions here.
 We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read mo

[2021-01-18 20:29] #2494 closed

[2021-01-18 20:33] cmgorton commented on #2836
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-18 20:33] #2836 closed

[2021-01-18 20:33] joaoGabriel55 commented on #12286
I styled this way. This style/design is following your style guide?

![image](https://user-images.githubusercontent.com/23138717/104960295-b32c2e80-59b2-11eb-839b-8187dd62e98b.png)

Another color

![image](https://user-images.githubusercontent.com/23138717/104960581-48c7be00-59b3-11eb-939c-d64da9529d27.png)

[2021-01-18 20:46] cmgorton commented on #3009
Hello! Thanks for your contributions here.
We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read mor

[2021-01-18 20:46] #3009 closed

[2021-01-18 20:47] cmgorton commented on #3049
Hello! Thanks for your contributions here.  
 We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read

[2021-01-18 20:47] #3049 closed

[2021-01-18 20:48] cmgorton commented on #3051
Hello! Thanks for your contributions here.
 We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read mo

[2021-01-18 20:48] #3051 closed

[2021-01-18 20:51] melezhik commented on #3009
Hi @cmgorton  could you please post this feature request to forem.dev for me? Thanks

[2021-01-18 20:56] cmgorton commented on #3329
@michael-tharrington coming back to this issue. Do you think it would make a good RFC?

[2021-01-18 20:58] cmgorton commented on #3009
Yes I can. I will prioritize posting it there tomorrow.

[2021-01-18 20:59] cmgorton commented on #3453
Hello! Thanks for your contributions here.  
 We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read

[2021-01-18 20:59] #3453 closed

[2021-01-18 21:01] cmgorton commented on #3379
Hello! Thanks for your contributions here. We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read mor

[2021-01-18 21:01] #3379 closed

[2021-01-18 21:04] cmgorton commented on #3830
Hello! Thanks for your contributions here.
We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read mor

[2021-01-18 21:04] #3830 closed

[2021-01-18 21:04] michael-tharrington commented on #3329
I think it's still a good idea, so yep let's do it, but if we can denote that this is low priority. That also seems like a good idea.

If we go forward as is, I'd say we use this method previously described:

To elaborate, I think the modal fly out would give mods the ability to thumbsdown, thumbsup, or vomit on the post. It would basically be a mod panel with reduced functionality (no skill level

[2021-01-18 21:14] cmgorton commented on #11754
Since we can not currently replicate this issue I am going to close it. @masakudamatsu if this issue persists please let us know and I will reopen the issue. Thanks.

[2021-01-18 21:14] #11754 closed

[2021-01-18 21:18] #4902 closed

[2021-01-18 21:20] cmgorton commented on #6363
Hello! Thanks for your contributions here. We have a new process moving forward to address feature requests and especially those that have been in our repo without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our I

[2021-01-18 21:20] #6363 closed

[2021-01-18 21:20] vaidehijoshi commented on #12286
Hi, @joaoGabriel55! If you can please open a PR and link this issue, it will be much easier for our team to review the changes. Right now it's hard for me to leave any feedback without looking at the code itself :) We have more details on this in our [Contributing Guide](https://docs.forem.com/contributing/forem)

[2021-01-18 21:21] cmgorton commented on #9974
I am going to go a head and close this issue. If you see if persist @benhalpern let me know and I will reopen it.

[2021-01-18 21:21] #9974 closed

[2021-01-18 21:30] cmgorton commented on #5693
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-18 21:30] #5693 closed

[2021-01-18 22:25] joaoGabriel55 commented on #12286
Right, I will open a PR @vaidehijoshi.

[2021-01-19 00:32] vaidehijoshi commented on #10744
Closed by https://github.com/forem/forem/pull/12307 :)

[2021-01-19 00:32] #10744 closed

[2021-01-19 00:34] ryy commented on #12324
I want to work on this.
Looks like a good first effort😇

[2021-01-19 00:35] LE-HU commented on #11936
Hello,
Issue can be closed, resolved by #12322
Thanks!

[2021-01-19 00:38] ssg commented on #11936
Thank you @LE-HU and @Zhao-Andy for working on this, much appreciated.

[2021-01-19 00:38] #11936 closed

[2021-01-19 03:24] citizen428 commented on #2365
@cmgorton While the backend for this is in place, we don't have the fronted for it yet. The relevant issue is here: https://github.com/forem/forem/issues/12160

[2021-01-19 06:47] citizen428 commented on #3009
@melezhik @cmgorton This is still an issue with Rogue, see the comment by @maestromac above. Until they add a Raku highlighter there's not much we can do about this. Unfortunately both of the PRs trying to add it seem to have stalled.

[2021-01-19 08:50] madzadev commented on #12324
@ryy yup, that's what I had in mind when I made this FR, too 😉
Suitable for beginners, should probably add 'good-first-issue' or smth 😉

[2021-01-19 08:51] #11724 closed

[2021-01-19 08:55] aitchiss commented on #1154
This ties in to #12297 (Optimise all uses of crayons dropdown for accessibility) as well as the open PR from Marcy - #11509

[2021-01-19 09:37] aitchiss opened #12333 "Make the option to also block a user part of the Connect report abuse form"
**Is your feature request related to a problem? Please describe.**

We've introduced functionality to report a message in Connect in #12229. After submitting the report form (and before any confirmation of submission is shown), a `window.confirm` is used to popup a small dialog asking the user if they would also like to block the person who wrote the message.

These confirm dialogs are limited for

[2021-01-19 10:14] citizen428 commented on #12333
Related: https://github.com/forem/forem/pull/11639 & https://forem.team/citizen428/questions-around-feedbackmessage-1ojg

[2021-01-19 10:39] rhymes commented on #1396
Mmm I don't think it's RFC material, unless the product team thinks otherwise or the design team is actually planning on revamping the profile page so that a change like this might be done in the context of a larger redesign.

[2021-01-19 11:03] ludwiczakpawel commented on #12324
@madzadev Yea, I think this is a good suggestion. I remember we had it in the past but it got removed (accidentally? not sure..).

@ryy Awesome, I'm assigning you to this issue 👍. You can definitely follow @madzadev suggestion in terms of design: just bringing the number in brackets.

[2021-01-19 11:54] ludwiczakpawel commented on #12296
@narender2031 Go for it!

I belive we could reuse similar design/layout to what we have for comment editing/deleting:

https://user-images.githubusercontent.com/108287/105031322-736a5300-5a55-11eb-9d38-07f778af9dd5.mov

[2021-01-19 12:45] rhymes commented on #1849
@cmgorton I think with @ludwiczakpawel update here we can mark it as ready for dev

[2021-01-19 12:58] rhymes commented on #2370
I talked with SRE and we've decided to close it. Thank you @cmgorton

[2021-01-19 12:58] #2370 closed

[2021-01-19 13:26] #12310 closed

[2021-01-19 14:42] melezhik commented on #3009
@citizen428  irrespectively, on Rogue issue, I'd still post it, can we?

[2021-01-19 15:21] markmead opened #12336 "Hard to read text on confirm email page after email address change"
**Describe the bug**

White text on gray background

**To Reproduce**

- Change your email address
- Click on the link provided in the email

**Expected behavior**

The text should be readable

**Screenshots**

<img width="519" alt="Screenshot 2021-01-19 at 15 18 35" src="https://user-images.githubusercontent.com/50486078/105054290-bafada00-5a69-11eb-9814-275422004a31.png">

**Desktop (please comp

[2021-01-19 15:21] cmgorton commented on #3009
@melezhik given the issue with Rogue I would say we keep this issue closed for now and if there are any changes with those PRs mentioned that are currently stale we can open a post on forem.dev.
For now you may want to follow the Rogue issues(if you aren't already) and we can circle back to this if they add the necessary highlighter.

[2021-01-19 15:27] melezhik commented on #3009
hi @cmgorton , thanks, I've just pinged rogue devs in the respected ticket ...

[2021-01-19 15:30] #712 closed

[2021-01-19 15:45] cmgorton commented on #12188
Thanks for the follow up here @watzak !
@ piclwez and @f2k2game let me know if the suggestion from @watzak helps solve this issue. If not I will ping some people on our team to look at it.
Thanks.

[2021-01-19 16:16] cmgorton commented on #12170
Hey @AdekunleA 👋. This should be fixed now. Could you confirm if you are able to edit or delete listings on your community Forem?

[2021-01-19 16:28] cmgorton commented on #12181
Hey @abenettt Thank you for this request. I think this is definitely an interesting idea.

Moving forward we have a new RFC process internally for adding features. You can read more about it in [this post.](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4)
Many changes to the Forem platform can be implemented and reviewed using the standard GitHub pull request workfl

[2021-01-19 16:28] #12181 closed

[2021-01-19 16:36] joaoGabriel55 commented on #11486
Nice issue! I will start to develop a solution.

[2021-01-19 16:41] cmgorton commented on #11619
Hey @mauricioklein I tested this with the dark theme on Firefox and Chrome and cannot reproduce this issue. I agree with Krishna. Could you try clearing your cache. I am going to close this issue but let me know if it is still persisting for you and I will open it back up. Thanks!

[2021-01-19 16:41] #11619 closed

[2021-01-19 16:42] piclez commented on #12188
@cmgorton @watzak that solved my issue, thank you!

[2021-01-19 16:43] cmgorton commented on #12193
Hey @tombohub I don't have Windows so wasn't able to test this yet but can you try clearing your cache and seeing if this issue still persists for you?

[2021-01-19 16:45] cmgorton commented on #12190
I can reproduce this issue. @harshilparmar thanks for volunteering! I will assign it too you but let me first confirm that this is not intended behavior!

@forem/frontend Can any one confirm whether this is a bug or intended behavior?

[2021-01-19 16:47] BevilaquaBruno opened #12337 "Text inside post out of the post content(above the author profile)"
**Describe the bug**
The text inside a post is above the author information.

**To Reproduce**

1. Go to [this post](https://dev.to/ubahthebuilder/creating-a-family-list-app-with-vanilla-javascript-1n1j)
2. Scroll down to the code above the "JAVASCRIPT" subtitle(second card of code).

**Expected behavior**
The text stay inside the post content cutted  or with a scroll option

**Screenshots**
![Ima

[2021-01-19 16:47] katiedavis commented on #12190
@cmgorton This does not sound like intended behavior to me 🙃

[2021-01-19 16:48] cmgorton commented on #12253
Hey @reezanahamed Thanks for the question here. Given Joe's information above I am going to close this issue. Documentation around Forem setups is on our radar and we hope to make it clearer in the near future.

[2021-01-19 16:48] #12253 closed

[2021-01-19 16:50] cmgorton commented on #12337
Good catch. Thanks for opening this issue!

[2021-01-19 16:54] cmgorton commented on #12337
I copied the code and tried to reproduce this but when I use the same code inside an html code block I get a scroll bar as expected instead of the code overflowing like in the example you posted.
[Test post](https://dev.to/coffeecraftcode/testing-4p68-temp-slug-6177072?preview=fc97847fcbd4c2a21073a740bfe27bb53c3b2986abf8e2e2b766bddfac0aabf8d3ae8d9d52d95d2d81019bfee02bf2d467d3b3f452b479b2d63af2f1)

[2021-01-19 16:57] BevilaquaBruno commented on #12337
Your test post is correct, the scroll bar appears, so maybe is something specifically of the post?

[2021-01-19 17:05] cmgorton commented on #9783
Hey Catalin. I opened a discussion on [forem.dev](https://forem.dev/foremteam/forem-following-system-b9f) about this to see what others thought. I am going to go a head and close this issue here. Please leave any more thoughts or feedback on that post. Thanks!

[2021-01-19 17:05] #9783 closed

[2021-01-19 17:07] cmgorton commented on #12261
Got another report about this today:

_"For some time, links that I receive from the newsletter are not opening in the app.

Today I tried opening a Google search result and it’s the same.

When I click the app opens, but it displays the home page, it does not open the link."_

[2021-01-19 17:18] cmgorton commented on #12190
Haha, thanks @katiedavis.
I would agree but wanted to make sure 😅

@harshilparmar if you would still like to work on this I will assign it too you.

[2021-01-19 17:21] cmgorton commented on #12337
Yeah, I think we would need to know how they are using code blocks and if they are missing anything in them. I tried using the wrong language for the code blocks and leaving out closing my code block and I still was able to see a scroll bar.

[2021-01-19 17:25] BevilaquaBruno commented on #12337
Yes, i notice the unique code block that has the scroll bar is the first, the last is out of the code block too, and of course the code block of that huge html.

I am trying to reproduce the code [here](https://dev.to/bevilaquabruno/test-post-1-2dip-temp-slug-5918547?preview=cef908f89d7b86cf5081ff94bbcb61444c029953539e7b5b1ac2be0ebe3bac7008d5cbd3bda85d0cfc09cea1ad9d6ae601c9cf68665fbded48ef5d4d), b

[2021-01-19 17:30] fdoxyz commented on #12261
Thanks for the heads up @cmgorton, this one is a recurring issue indeed. Here's the `DEV-ios` [original issue tracking this](https://github.com/forem/DEV-ios/issues/242#issuecomment-743441380) but I'm okay with keeping this open until we can ship the fix.

[2021-01-19 17:38] f2k2game commented on #12188
@cmgorton, I am using vps so @reezanahamed solution solved my problem, thank you!

[2021-01-19 17:38] #12188 closed

[2021-01-19 17:39] cmgorton commented on #12261
Great! Thanks for letting me know @fdoxyz .

[2021-01-19 17:51] harshilparmar commented on #12190
@calebmer Let me know whether it's intended or not. I would love to help if it's a bug.

[2021-01-19 18:11] cmgorton commented on #12190
I do not believe it is intended @harshilparmar . I will assign this issue to you. Let us know if you need any more details or help here.

[2021-01-19 18:24] cmgorton commented on #11568
Hey @adamfearnall wanted to follow up here. Is this still an issue or was this resolved?

[2021-01-19 18:51] madzadev commented on #12324
Awesome guys! 👍💯

[2021-01-19 19:03] cmgorton commented on #2964
This appears to be fixed. I can add an invalid liquid tag on a comment and get an error message both in preview and when I submit.

If this is still persisting let me know and I can reopen this issue. Thanks!

[2021-01-19 19:03] #2964 closed

[2021-01-19 19:06] #2126 closed

[2021-01-19 20:28] AdekunleA commented on #12170
Hello @cmgorton, I just checked it on different browsers (I cleared cache/cookies and all), I'm still not able to edit or delete listings.

[2021-01-19 21:21] tombohub commented on #12193
Hello @cmgorton  yes it does, I have also tried different browser. Microsoft edge, same thing

[2021-01-19 23:05] maestromac commented on #11983
I ran into this issue too but I can scroll it. I think the problem is that the sidebar is given too much room. Because I follow a lot of tags, I have to scroll really far down to see my reading list articles.

[2021-01-20 01:36] fdoxyz commented on #11983
I think it would be great if we make a decision here that could benefit other mobile sized screens as well. There's [this issue](https://github.com/forem/forem/issues/7769) that also needs to handle a "left sidebar" that doesn't render well in mobile.

A long vertical list with items doesn't work for mobile in these situations and the solution implemented in `/notifications` is something that coul

[2021-01-20 06:06] narender2031 commented on #12296
@ludwiczakpawel  Can you please confirm that UI is what you required?

<img width="1440" alt="Screenshot 2021-01-20 at 11 35 18 AM" src="https://user-images.githubusercontent.com/25151772/105134008-ba1e8280-5b13-11eb-99fc-4afbaaad11a6.png">

[2021-01-20 07:59] ludwiczakpawel commented on #12296
I think this is a really good start. If you open a PR, I could add some suggestions in the code itself 👍

[2021-01-20 08:16] narender2031 commented on #12296
@ludwiczakpawel Please take a look at the PR.

[2021-01-20 09:44] aitchiss commented on #11983
I think as it is at the moment, it's really not clear to a mobile user that those tags are there to help filter the reading list, and I totally agree it's too much to scroll through to actually reach your articles.

I think an idea would be to have a "filter" dropdown containing each of the tags and a checkbox for if you want to include it in the filter. I think this a fairly common pattern and wo

[2021-01-20 13:59] cmgorton commented on #12193
Ok thanks for letting me know!

[2021-01-20 14:16] cmgorton commented on #3705
Hey👋 this seems to be limited to just the article you mentioned. Other articles in Spanish can use the special characters without issue.
Examples:
https://dev.to/amigosmaker/java-vs-python-spanish-1dgg
https://dev.to/amigosmaker/pyqt-vs-tkinter-spanish-2n4k
https://dev.to/mafermazu/3-consejos-para-empezar-a-programar-424a

[2021-01-20 14:16] #3705 closed

[2021-01-20 14:18] #3994 closed

[2021-01-20 14:19] cmgorton commented on #4002
Hey @marthaerm sorry for the late reply. This is still open if you are interested in working on it.

[2021-01-20 14:22] #4078 closed

[2021-01-20 14:23] #4126 closed

[2021-01-20 14:24] #4151 closed

[2021-01-20 14:30] fdoxyz commented on #12269
@benhalpern given that #12268 was merged, can we consider this closed?

[2021-01-20 14:35] #4207 closed

[2021-01-20 14:35] #4208 closed

[2021-01-20 14:39] #4507 closed

[2021-01-20 14:39] #4410 closed

[2021-01-20 14:41] #4385 closed

[2021-01-20 14:43] yogeshktm commented on #12337
Hey @BevilaquaBruno  i have tried reproducing the same in a new post.  like others i have the code block with scroll.

i suggest to validate your markdown once and confirm everything is fine. thanks

[2021-01-20 14:43] #4324 closed

[2021-01-20 14:46] #4333 closed

[2021-01-20 14:52] nickytonline opened #12349 "Revise Publish Logic for a Post"
**Describe the bug**

Not a bug per se, but as we discovered in #12288, the publishing logic is a little weird.

From @citizen428 in #12288:

And my response:

I agree on both counts. That logic should probably be revisited in another PR.

Also looking at the publish logic

https://github.com/forem/forem/blob/c2c1366a4ddc452f9d7e587d1b930391acbe0c06/app/javascript/article-form/articleForm.jsx#L207

[2021-01-20 15:00] #4419 closed

[2021-01-20 15:07] nickytonline commented on #11983
Just an idea, but if the filter used a [datalist](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist), it would drill down so as to not make the dropdown too overwhelming.

[2021-01-20 15:09] cmgorton commented on #12337
Thanks for trying to reproduce this @yogeshktm .
This was from a post that @BevilaquaBruno read and didn't write.
I think at this point the original author would need to validate their markdown like you suggested. I am going to close this issue for now. If we see any other articles with a similar issue we can open it back up :)

[2021-01-20 15:09] #12337 closed

[2021-01-20 15:42] dmikurube opened #12350 "Non-ASCII title makes a weird URL on Forem/dev.to"
Forem/dev.to has non-English speaking users, and they may write articles. They are expected to have an article which has a non-ASCII title. But, Forem/dev.to makes a weird URL with no slug if a title consists of non-ASCII characters.

The following article is a good example :
https://dev.to/chokri/-eg9

(This issue is a reorganization of #6942 to describe a problem here, and to propose solutions i

[2021-01-20 15:43] dmikurube opened #12351 "Make article's slug configurable apart from its title"
**Is your feature request related to a problem? Please describe.**

It is one of the two proposed solutions against #12350 about slugs for non-ASCII titles.

If an article can configure a slug apart from its title, the article can have a meaningful URL even for a non-ASCII title.

For example, if the article https://dev.to/chokri/-eg9 can have a slug `/learning-japanese-my-tricks-eg9`, it's really

[2021-01-20 15:47] dmikurube opened #12352 "Accept article's slug in %-encoded Unicode characters"
**Is your feature request related to a problem? Please describe.**

It is one of the two proposed solutions against #12350 about slugs for non-ASCII titles.

If an article has a %-encoded Unicode characters in slug, modern web browsers render the %-encoded Unicode characters in URL in their address bar.

If a URL of the article https://dev.to/chokri/-eg9 seems like `/日本語を学ぶ：私のコツ-eg9` on their brow

[2021-01-20 15:48] dmikurube commented on #12350
To resolve this issue, I'd propose two approaches as follows.

* #12351
* #12352

Both are the best, but just one of them will mitigate this issue so much.

[2021-01-20 15:49] dmikurube commented on #6942
I reorganized this old issue into #12350, #12351, and #12352. Then, let me close this.

[2021-01-20 15:49] #6942 closed

[2021-01-20 15:54] aitchiss commented on #11983
Nice! Only downside to that is I _think_ (would love to be wrong though) with a datalist we'd lose the ability to select multiple. Maybe another good use-case for something like Downshift though.

[2021-01-20 16:22] BevilaquaBruno commented on #12337
Ok, if i encounter a similar issue reading or writing posts i will come back here.
Thanks for the help !

[2021-01-20 16:44] benhalpern commented on #12269
@fdoxyz yep, oops meant to close it.

[2021-01-20 16:44] #12269 closed

[2021-01-20 17:04] narender2031 commented on #12336
I would like to work on this.

[2021-01-20 17:43] narender2031 commented on #12336
I investigated the issue, This issue reproduces in `Night Theme`.
- We are currently using the device error message file to display this error. When we change the theme. text color is almost the same as the background.

Possible solutions:
- we can implement the custom errors similarly we did for authorization errors with crayons class `crayons-notice--danger registration__error-notice` to the par

[2021-01-20 18:01] c33s commented on #1182
now i notice that you closed a security issue and moved it to a forum to discuss about it xD +facepalm+

this is simply wrong

[2021-01-20 18:13] Zhao-Andy commented on #12108
Awaiting response from Netlify since I couldn't find an option to configure this.

[2021-01-20 18:53] #11851 closed

[2021-01-20 19:02] Seirdy commented on #6807
On the topic for sending Webmentions for syndicated copies:

If a post on Dev.to is a syndicated copy of another post on the author's own Webmention-supporting website, it would be really great if the JSON-LD metadata for Dev.to posts changed its `author` fields to match the `h-card` fields on the primary location's `h-card`.

For a start, changing `author.url` to match their `h-card`'s `url` woul

[2021-01-20 19:32] vaidehijoshi commented on #12108
@Zhao-Andy Since you've started investigating/reaching out to netlify and assigned yourself to this issue, can we add this to in progress? :)

[2021-01-20 19:50] nickytonline commented on #11983
Yeah, it's single selection. In that case, we'd need a select with multi-select enabled. Perhaps product design has some ideas about this. cc: @ludwiczakpawel @lisasy .

[2021-01-20 21:34] Zhao-Andy commented on #11646
I'm suspecting that #11957 is related somehow...

[2021-01-20 22:01] thomasbnt commented on #11646
Yep same bug @Zhao-Andy

[2021-01-20 22:23] #12129 closed, assigned to nobody

[2021-01-21 00:17] benhalpern opened #12354 "cursor: not-allowed should not come up in a *waiting state*"
After I click the like button on a comment:

<img width="293" alt="Screen Shot 2021-01-20 at 7 12 41 PM" src="https://user-images.githubusercontent.com/3102842/105256288-79465e00-5b53-11eb-8d5f-e9cd3c237af6.png">

I immediately get a "not allowed" cursor, until the action finishes. I believe this is because the state goes to `disabled` until the action finishes. Disabled may or may not be the corr

[2021-01-21 00:43] ryy opened #12355 "[docker] error in gem approvals when bundle install."
**Describe the bug**
- An error occurs during the first setup (`bin/container-setup`)
- error in gem approvals when bundle install.

**To Reproduce**
[code]

**Screenshots**
<img width="849" alt="スクリーンショット 2021-01-21 9 42 13" src="https://user-images.githubusercontent.com/13917558/105258370-fb269d80-5bcc-11eb-9961-1cd3585256dc.png">

[code]

[2021-01-21 03:00] meaganewaller commented on #11686
Hi! I'd like to pick this issue up, thanks! 😄

[2021-01-21 04:23] citizen428 opened #12356 "Remove unused/half-finished code"
During a recent RFC, I noticed two settings that seem to related to unused/unfinished features.

* [x] `feed_admin_publish_permission`: We use this in admin views to decide whether or not something can be published to the RSS feed, but there no longer seems to be a way for users to change this setting.
* [x] `language_settings`: This seems half-baked and the list of six available languages seems a

[2021-01-21 07:31] Defman21 commented on #4207
@cmgorton could you explain why you've closed the issue?

[2021-01-21 11:15] yogeshktm commented on #12354
Hi @benhalpern

I have noticed the issue and found weird. can we override the disabled state of reaction button like this or add and remove class while disabling the button is a better solution for this ?

[code]

Thanks

[2021-01-21 11:53] ludwiczakpawel commented on #11983
We've actually chatted about it earlier, in [this issue](https://github.com/forem/forem/issues/11033) as well.

TL;DR we hypothesize that "**multiselecting** tags" isn't really useful for anyone - instead user should be able to filter reading list by selecting **only one** tag. With that in mind, we could easily replace classic list that we have on desktop with `<select>` field that would work on

[2021-01-21 11:56] ludwiczakpawel commented on #12336
@narender2031 yea, using `crayons-notice crayons-notice--danger` would be a way to go 👍

Do you want me to assign you to this issue?

[2021-01-21 11:57] narender2031 commented on #12336
yes, Please assign me this issue.

[2021-01-21 12:00] ludwiczakpawel commented on #12336
Sweet, I'm looking forward for your PR!

[2021-01-21 12:10] ludwiczakpawel commented on #12193
It's a duplicate of an existing issue https://github.com/forem/forem/issues/10114 so I'm closing this one.

[2021-01-21 12:10] #12193 closed

[2021-01-21 12:11] ludwiczakpawel commented on #12022
It's a duplicate of an existing issue https://github.com/forem/forem/issues/10114 so I'm closing this one (original has more context in thread).

[2021-01-21 12:11] #12022 closed

[2021-01-21 12:23] ludwiczakpawel commented on #11100
@andremacnamara any updates on this? I'm leaning towards closing this issue because of the following:

I think this is not a bug with Forem itself - it's simply because we (system) allow admins to write their own custom code for these banners. So it's not really something we can control at the moment and definitely not a bug. We should, though, implement a new feature: some constraints for these b

[2021-01-21 14:37] cmgorton commented on #4207
Hey @Defman21 this was a useful feature request but we have a new process for feature requests.
To help the team internally, our contributors, and to help the health of our repository, I am working on closing out older requests that have been open for more than a year without much traction.
You can read about the new process [here](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-dis

[2021-01-21 14:40] cmgorton commented on #12355
@fdoxyz @atsmith813 do either of you have any thoughts on this error? Thanks.

[2021-01-21 14:40] Defman21 commented on #4207
So should I post it on forem.dev or... ?

[2021-01-21 15:03] cmgorton commented on #4207
Yes you can post it on forem.dev for discussion. [Here is an example](https://forem.dev/foremteam/forem-following-system-b9f) of an issue I recently posted there for discussion.
In the future we shouldn't have to link to the original issue since the discussions should start there before being issues but for know if you want to add more context you can link to this issue on forem.dev like I did in

[2021-01-21 15:11] jaredcwhite commented on #11957
I just experienced this same bug. Got the award (cool), but the post it linked to was somebody else's. ![image](https://user-images.githubusercontent.com/658496/105369933-e25fbd00-5bb7-11eb-9198-2592d57692d7.png)

[2021-01-21 15:19] Zhao-Andy commented on #11957
@jaredcwhite Thanks a lot for reporting! Figured it out thanks to it :) Will push a fix soon. The short version is that it's a caching issue, like most web dev bugs. 🙃

[2021-01-21 15:34] atsmith813 commented on #12355
Our Docker/container isn't quite where we want it yet. Maybe @citizen428 @rhymes or @jdoss has seen this one before.

[2021-01-21 15:47] michael-tharrington opened #12367 "Liquid Tag for Cinnamon Videos"
**Is your feature request related to a problem? Please describe.**

Yes, folks would like to be able to embed Cinnamon videos across all Forems.

[Cinnamon](https://cinnamon.video/) is a web monetized video platform.

**Describe the solution you'd like**

I'd like it if we add a liquid tag that would allow folks to embed Cinnamon videos.

**Describe alternatives you've considered**

N/A

**Additio

[2021-01-21 16:38] vaidehijoshi commented on #12367
Hi @michael-tharrington! Let's use our internal RFC process for this since it is suggesting a significant new feature :)

[2021-01-21 16:56] lisasy commented on #11100
@ludwiczakpawel Yeah... I made this issue and I think we can close it since we're may be thinking of more systemic updates the force constraints like the ones you mentioned.

[2021-01-21 17:08] mcat opened #12370 "Clicking on value for "Experience Level of Post" results in error"
**Describe the bug**

Selecting an experience level on a post causes the page to navigate to

`https://dev.to/rating_votes`

where the error below is displayed.

[code]

**To Reproduce**

1. Go to an organization dashboard
1. Click "Manage" next to a newly posted article
1. Scroll down to the "Experience Level of Post" section of the page
1. Click one of the experience levels
1. The browser will n

[2021-01-21 17:42] cmgorton opened #12371 "Change /contact page to prompt users to create bug reports instead of feature requests"
**Is your feature request related to a problem? Please describe.**

We have a new process for feature requests but our contact page at dev.to/contact  prompts people to create a feature requests on Github when we should really prompt people to report bug reports there. A user pointed this out when I asked them to create a bug report:

_“Sure thing. You may want to update your Contacts page https:/

[2021-01-21 18:50] narender2031 commented on #12355
can I work on this docker container issue? It will also help me to explore docker more :)

[2021-01-21 19:23] narender2031 commented on #12250
Can I take this issue?

[2021-01-21 20:02] atsmith813 commented on #12355
@narender2031 sure thing, thank you! I've assigned the issue to you.

[2021-01-21 20:18] #11100 closed

[2021-01-21 20:44] fdoxyz commented on #12261
DEV iOS version `1.5.1` was released earlier today. Thank you everyone for the patience with this issue and some of the other smaller bugs fixed by this release.

I'm closing now but if the issue persists after updating the app feel free to reopen or create a new issue for it :)

[2021-01-21 20:44] #12261 closed

[2021-01-21 20:49] pkfrank opened #12374 "Allow admins to configure expiration settings for Listings"
**Is your feature request related to a problem? Please describe.**
As a Forem admin, I am frustrated that I can't adjust the "expiration settings" for listings.  I'd like them to stick around forever.

**Describe the solution you'd like**
A setting that allows me to adjust the expiration length of my community's listings.  Using this new feature, I should also be able to configure it such that lis

[2021-01-21 22:03] #11646 closed

[2021-01-21 22:03] #11957 closed

[2021-01-21 22:47] benhalpern commented on #4995
Yup, I agree with all of this. Applying crayons as defaults seems ideal.

[2021-01-21 23:19] benhalpern opened #12377 "Flash of unstyled content on nav bar"
**Describe the bug**

On _at least Chrome_ we there are some occasional display of the user agent default styles that load _before_ some of our styles do.

**To Reproduce**

Open dev tools on chrome

- Select "disable cache" from the Network tab
- Select "bypass for network" in the Application tab
- Navigate to `dev.to` or `localhost:3000` and then refresh. This does not happen _every_ time.

**Ex

[2021-01-22 04:51] narender2031 commented on #12370
I would like to work on this.

[2021-01-22 07:26] hotheadhacker commented on #7596
+1

[2021-01-22 10:05] rhymes commented on #12250
Hi @narender2031, this has been reserved internally, as we're working on a accessibility "audit" on some pages. Thank you and sorry for the mishap

[2021-01-22 11:45] aitchiss opened #12383 "Add eslint rules to prefer named exports"
**Is your feature request related to a problem? Please describe.**

We currently have a mix of named and default exports in the JS codebase. Default exports make refactoring hard, since when a dev uses a default export they can call it whatever they like as they import it.

**Describe the solution you'd like**

It would be great to add[eslint-plugin-import](https://www.npmjs.com/package/eslint-plu

[2021-01-22 15:22] cmgorton commented on #8993
Hey @amananandrai we have a new process for feature requests you can read about [here](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4).
Given the scope of this feature request I think this would make a good discussion on [forem.dev](forem.dev). I am going to close the issue here. Thanks.

[2021-01-22 15:22] #8993 closed

[2021-01-22 15:41] Zhao-Andy commented on #11957
Hey y'all, automatically closed this because this should be resolved. Feel free to comment if the issue reappears!

[2021-01-22 15:41] Zhao-Andy commented on #11646
Automatically closed this because this should be resolved. Feel free to comment if the issue reappears!

[2021-01-22 17:16] cmgorton commented on #3876
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 17:16] #3876 closed

[2021-01-22 17:18] cmgorton commented on #3773
Hey @c33s . Is this something you have experienced lately? Happy to keep this issue open if it is and highlight it to our community to work on.

[2021-01-22 17:19] cmgorton commented on #3688
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 17:19] #3688 closed

[2021-01-22 17:22] cmgorton commented on #3656
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 17:22] #3656 closed

[2021-01-22 17:29] cmgorton commented on #4011
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 17:29] #4011 closed

[2021-01-22 17:32] #4098 closed

[2021-01-22 17:33] c33s commented on #3773
i reopen it if i encounter it again.

[2021-01-22 17:33] #3773 closed

[2021-01-22 17:41] #4105 closed

[2021-01-22 18:06] cmgorton commented on #4230
Hey! I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more abo

[2021-01-22 18:06] #4230 closed

[2021-01-22 18:06] #4280 closed

[2021-01-22 18:07] #4219 closed

[2021-01-22 18:07] joshpuetz opened #12386 "Add recommender server specs to documentation"
**Is your feature request related to a problem? Please describe.**

Some creators/orem operators are running into issues with memory usage that may stem from running Forem on smaller than expected server sizes. We should determine what the minimum and recommended server specs are.

**Describe the solution you'd like**

Documentation added that spells out the typically memory usage of a Forem insta

[2021-01-22 18:13] cmgorton commented on #4354
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 18:13] #4354 closed

[2021-01-22 18:15] cmgorton commented on #4412
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 18:15] #4412 closed

[2021-01-22 18:16] cmgorton commented on #4870
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 18:16] #4870 closed

[2021-01-22 18:25] cmgorton commented on #4549
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 18:25] #4549 closed

[2021-01-22 18:26] #4568 closed

[2021-01-22 18:30] cmgorton commented on #4587
This appears to work as intended now. I am going to close this issue but can open it back up if this continues for anyone else. Thanks.

[2021-01-22 18:30] #4587 closed

[2021-01-22 18:31] cmgorton commented on #4591
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 18:31] #4591 closed

[2021-01-22 18:32] cmgorton commented on #4614
@fdoxyz tagging you just so you have an eye on this issue that users are still experiencing.

[2021-01-22 18:33] #4616 closed

[2021-01-22 18:43] cmgorton commented on #4643
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 18:43] #4643 closed

[2021-01-22 18:44] #4646 closed

[2021-01-22 18:44] #4682 closed

[2021-01-22 18:48] cmgorton commented on #4749
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 18:48] #4749 closed

[2021-01-22 18:51] cmgorton commented on #4759
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 18:51] #4759 closed

[2021-01-22 18:53] cmgorton commented on #4758
@nickytonline given the new way this is rendered with a title attribute do you think this issue can be closed or should we consider some of the other option proposed in this issue?

[2021-01-22 18:55] nickytonline commented on #12383
@aitchiss, we already has the `eslint0plugin-import` in the project, so it's just a question of enabling the `no-defautl-export-rule`. I think what would make sense so as to not block anyone at the moment, to set `no-default-export` to a warning until we're done removing the default exports in the project. Once they've all been removed, we can make it throw an error.

Thoughts?

[2021-01-22 19:05] nickytonline commented on #4758
I think it's probably OK to close this because as mentioned, the API feature request is something separate and there is no `<img />` tag now.

It seems to be fine in terms of accessibility for the issue mentioned, but there are adjacent identical links which are showing up as alerts in WAVE. That could be something to look into in a separate issue.

![image](https://user-images.githubusercontent.c

[2021-01-22 19:11] #4758 closed

[2021-01-22 19:15] cmgorton commented on #4808
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 19:15] #4808 closed

[2021-01-22 19:15] cmgorton commented on #4814
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 19:15] #4814 closed

[2021-01-22 19:16] cmgorton commented on #4833
@forem-team anyone know if this is still a bug?

[2021-01-22 19:17] #4834 closed

[2021-01-22 19:17] #4856 closed

[2021-01-22 19:17] cmgorton commented on #4866
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 19:17] #4866 closed

[2021-01-22 19:22] cmgorton commented on #5032
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 19:22] #5032 closed

[2021-01-22 19:24] cmgorton commented on #4971
Hey @ogrotten is this still an issue?

[2021-01-22 19:27] #5006 closed

[2021-01-22 19:29] cmgorton commented on #5008
@michael-tharrington do you have any thoughts on this feature request. I think it could make a good potential RFC but wondering your thoughts on this feature for moderators.

[2021-01-22 19:37] cmgorton commented on #5000
Looks like this feature has been added.

![moderation responses](https://user-images.githubusercontent.com/21039864/105537013-e1fa1b80-5cb6-11eb-838f-18cd030b1bd3.png)

If not what you intended let me know and we can discuss opening this back up. Thanks!

[2021-01-22 19:37] #5000 closed

[2021-01-22 19:43] cmgorton commented on #5150
@forem-team any thoughts on this issue? Wondering if I should add it to the Issues to be Reviewed?

[2021-01-22 19:45] cmgorton commented on #5162
This appears to be fixed now. If you are still seeing this issue let me know and we can open this again. Thanks.

[2021-01-22 19:45] #5162 closed

[2021-01-22 19:47] #5187 closed

[2021-01-22 19:48] cmgorton commented on #5237
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 19:48] #5237 closed

[2021-01-22 19:49] cmgorton commented on #5240
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 19:49] #5240 closed

[2021-01-22 19:49] cmgorton commented on #5242
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 19:49] #5242 closed

[2021-01-22 19:52] cmgorton commented on #5243
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 19:52] #5243 closed

[2021-01-22 19:53] cmgorton commented on #5247
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 19:53] #5247 closed

[2021-01-22 19:54] cmgorton commented on #5260
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 19:54] #5260 closed

[2021-01-22 19:55] cmgorton commented on #5274
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 19:55] #5274 closed

[2021-01-22 19:55] cmgorton commented on #5275
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests and especially those that have been in our repo for 1+ years without much traction.  
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.

[2021-01-22 19:55] #5275 closed

[2021-01-22 19:57] cmgorton commented on #5342
@forem-team this might be a good bug to add to the Issues to Review. It seems more than one person has brought this up.

[2021-01-22 20:01] cmgorton commented on #5353
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 20:01] #5353 closed

[2021-01-22 20:02] cmgorton commented on #5413
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 20:02] #5413 closed

[2021-01-22 20:02] michael-tharrington commented on #5008
I think this is a great idea all around!

We have an internal `warned` status that we can set on users. It doesn't limit the user's behavior at all, but allows us to more easily track comments and by these users. I believe it currently feeds their comments and posts into a Slack channel. Ideally, it would feed these comments and posts into a queue that would be visible from our `/admin/feedback_me

[2021-01-22 20:04] cmgorton commented on #5435
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 20:04] #5435 closed

[2021-01-22 20:05] cmgorton commented on #5453
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 20:05] #5453 closed

[2021-01-22 20:07] cmgorton commented on #5462
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 20:07] #5462 closed

[2021-01-22 20:09] cmgorton commented on #5475
Looks like this feature was added per Ridhwana's PR. If not let me know and I will open this back up. Thanks!

[2021-01-22 20:09] #5475 closed

[2021-01-22 20:10] cmgorton commented on #5436
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 20:10] #5436 closed

[2021-01-22 20:10] #5499 closed

[2021-01-22 20:16] cmgorton commented on #5622
Hey thanks for opening this issue but this looks to be a duplicate of issue #5342. I have alerted the team about this bug and will close this issue. Any further discussion on this can be added to #5342. Thanks!

[2021-01-22 20:16] #5622 closed

[2021-01-22 20:17] cmgorton commented on #5641
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
I know I have closed a few of your requests so if you want any help turning these in to forem.dev posts for further discussion please let me know. Happy to help!

[2021-01-22 20:17] #5641 closed

[2021-01-22 20:18] cmgorton commented on #5652
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 20:18] #5652 closed

[2021-01-22 20:19] cmgorton commented on #5661
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 20:19] #5661 closed

[2021-01-22 20:38] CodeMouse92 commented on #5008
@michael-tharrington A critical feature is one additional status *below* warned, for those users who have not yet quite crossed the line (and therefore earned a warning), but whose content flies very close to that line. Some trolls are annoyingly good at staying just barely within the letter of the CoC.

[2021-01-22 20:40] cmgorton commented on #5692
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 20:40] #5692 closed

[2021-01-22 20:43] cmgorton commented on #2867
You are right Julianna! I am going to close the duplicate issue.

[2021-01-22 20:44] cmgorton commented on #5726
This is a duplicate issue. Any more discussion on this can be done in issue #2867. Thanks!

[2021-01-22 20:44] #5726 closed

[2021-01-22 20:47] michael-tharrington commented on #5008
That's a fair point. I think this needs just a bit more input from the team.

The current `warned `status that's only available to admin isn't as useful as it could be, so I thought possibly we could expand it to fit what you're talking about and avoid creating too many different layers of statuses. That said, when I think about it more, `warned`, really could just denote when we've warned someone

[2021-01-22 20:47] cmgorton commented on #5763
The layout for this appears to have changed. I don't think this is an issue anymore. I am going to close this but let me know if it is and I will reopen this. Thanks!

[2021-01-22 20:47] #5763 closed

[2021-01-22 20:58] cmgorton commented on #5838
@pkfrank Not sure if you are still interested in this feature but wondering if I should mark it as a `potential RFC` ?

[2021-01-22 21:01] cmgorton commented on #6099
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 21:01] #6099 closed

[2021-01-22 21:04] #6287 closed

[2021-01-22 21:05] cmgorton commented on #5862
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 21:05] #5862 closed

[2021-01-22 21:08] cmgorton commented on #6010
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 21:08] #6010 closed

[2021-01-22 21:09] cmgorton commented on #6086
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 21:09] #6086 closed

[2021-01-22 21:11] xpyxel opened #12389 "Moderator Panel Crashes App"
**Describe the bug**

When using the moderator panel on the mobile application, clicking on a post sometimes results in the application crashing, resulting the app closing, this is consistent until the cache is cleared.

**To Reproduce**

1. Have moderator access on DEV
2. Go go the moderator panel on your phone
3. Attempt to click a post
4. The app crashes

**Expected behavior**

The app should s

[2021-01-22 21:12] cmgorton commented on #6148
We now have [forem.dev](forem.dev) for this as well! You can ask for help, request features, etc.

[2021-01-22 21:12] #6148 closed

[2021-01-22 21:13] cmgorton commented on #6176
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 21:13] #6176 closed

[2021-01-22 21:14] cmgorton commented on #6224
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 21:14] #6224 closed

[2021-01-22 21:14] cmgorton commented on #6240
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 21:14] #6240 closed

[2021-01-22 21:15] cmgorton commented on #6284
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 21:15] #6284 closed

[2021-01-22 21:20] cmgorton commented on #6362
Given the current internal team discussion around Liquid tag extensibility I am going to close this issue for now.

[2021-01-22 21:20] #6362 closed

[2021-01-22 21:21] cmgorton commented on #6369
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 21:21] #6369 closed

[2021-01-22 21:22] cmgorton commented on #6408
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 21:22] #6408 closed

[2021-01-22 21:23] cmgorton commented on #6414
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 21:23] #6414 closed

[2021-01-22 21:23] cmgorton commented on #6430
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 21:23] #6430 closed

[2021-01-22 21:23] cmgorton commented on #6467
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 21:23] #6467 closed

[2021-01-22 21:24] #6579 closed

[2021-01-22 21:36] cmgorton commented on #6763
Given that this is intended behavior due to the issues Rhymes mentioned above I am going to go a head and close this issue. If you would like to discuss it further you can open a post on [forem.dev](forem.dev)

You can read more about our Internal RFC Process and forem.dev Discussions in [this post](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4).

[2021-01-22 21:36] #6763 closed

[2021-01-22 21:39] cmgorton commented on #6755
Looks like this feature was added per PR #10540. I am going to close this issue. If this feature is still lacking let me know and we can discuss opening it back up. Thanks.

[2021-01-22 21:39] #6755 closed

[2021-01-22 21:40] cmgorton commented on #6612
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 21:40] #6612 closed

[2021-01-22 21:41] #6765 closed

[2021-01-22 21:43] cmgorton commented on #6777
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 21:43] #6777 closed

[2021-01-22 21:45] #7436 closed

[2021-01-22 21:46] cmgorton commented on #6894
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

You can read more about our Internal RFC Process and forem.dev Disc

[2021-01-22 21:46] #6894 closed

[2021-01-22 21:49] cmgorton commented on #7066
Looks like this feature was added with PR #7123. If not let me know and I will open this back up. Thanks!

[2021-01-22 21:49] #7066 closed

[2021-01-22 21:50] cmgorton commented on #7089
Let's add conversation around this to #890 if this feature is still wanted. Thanks!

[2021-01-22 21:50] #7089 closed

[2021-01-22 21:57] cmgorton commented on #7397
Hello! Thanks for your contributions here.  I am going to close this issue.  We have a new process moving forward to address feature requests.
TLDR: we have new internal RFC process for feature requests. Any features that are more substantial and require more thought and detail will need to be discussed in [forem.dev](forem.dev).

As this one already had a lot of discussion but seems like it needs

[2021-01-22 22:06] cmgorton commented on #12389
@fdoxyz tagging you so you have an eye on this issue.

[2021-01-22 23:57] abitrolly commented on #6777
If the process is internal I guess it doesn't make sense to read about it given that addressing existing requests is not part of the process. Whatever you choose, it your project, so good luck with it.

[2021-01-23 00:39] cmgorton commented on #6777
Hey @abitrolly only the RFC process is currently internal but we are still openly championing request to create RFCs. Like many open source projects we are moving towards using Github for bug reports and other platforms for feature requests. This makes it less intimidating for contributors who come to our repository and see 100s of open issues.
We are still very much listening and taking requests

[2021-01-23 01:26] bighitbiker3 opened #12392 "Pusher `cluster` is explicitly set on client"
**Describe the bug**
The bug occurs when you create a pusher instance that is _not_ in cluster `us2`. My cluster created was in `us3` and I wasn't receiving the channel messages. I narrowed it down to this line [here](https://github.com/forem/forem/blob/fafc227e245b9ad363391c6a512a5d2e43af87f3/app/javascript/utilities/connect/pusher.js#L13) which explicitly sets the cluster to `us2`.  I think this

[2021-01-23 03:04] narender2031 commented on #12336
This issue is resolved Please close this issue. Thanks

[2021-01-23 04:59] abitrolly commented on #6777
Auto posting original request and cross-posting here would be fine. I would prefer dealing with it the way `discorse` and  GitHub does - without additional tags.

[2021-01-23 05:12] yujiri8 opened #12393 "Cannot respond to listings"
**Describe the bug**

The send button on listings does not work.

**To Reproduce**

Go to a listing and open the dialog to send a message. Type a message and click send. Nothing happens and a console error appears.

**Expected behavior**

Sends a message (and gives visual feedback to let me know it's sent).

**Screenshots**

![20210123_00h08m11s_grim](https://user-images.githubusercontent.com/1686

[2021-01-23 08:59] Rafi993 opened #12394 "Follow button in notification is appears in two lines in mobile"
**Describe the bug**

Text "Follow back" and "Following" in notification appears in a single line

**To Reproduce**
1, Create two user accounts  user1 and user2
2. Now login as user1 and follow user2
3. Now login as user2 and look for a new notification in `/notifications`
4. Text "Follow back" should appear in a single line
5. Now follow that user and the text "Following" should appear in a singl

[2021-01-23 10:32] harshilparmar commented on #12190
@cmgorton I am facing an issue while setting dev environment.
I just install all dependencies via `yarn`.
We are using a storyboard for the development right?
I ran `yarn run storybook` and it shows me an error.
Correct me If I am wrong !!
#### OS : windows 10

### Error
![dev](https://user-images.githubusercontent.com/45915468/105575784-1e4f7980-5d94-11eb-8b27-ed8a22707f5e.PNG)

[2021-01-23 14:26] c33s commented on #11434
sad that a simple upload form field which works in all browsers since decades is now rocket science and needs the latest browsers.

- https://dev.to/c33s/dear-javascript-webdevelopers-please-don-t-break-the-web-20go
- https://jeffhuang.com/designed_to_last/

[2021-01-23 14:58] #12336 closed

[2021-01-23 15:39] ell1e opened #12395 ""Social" logins are privacy issue, provide email only sign up"
**Is your feature request related to a problem? Please describe.**
The social platform based, centralized logins are a privacy and reliability issue (due to the risk of illegitimate social terminations impacting connected logins), therefore please provide email only sign up. Site-specific logins are combined with tracking blockers in browsers a great way to avoid producing a centralized data profi

[2021-01-23 15:42] bigdoods commented on #12374
Is there an intermediatory step that could be taken to support this user case as a part of the existing Forem feature set whilst this issue is resolved?

i.e an alternative to "Listings", for organisations and communities to provide a short summary & links, for others to see in one place

[2021-01-23 21:27] danielkellyio opened #12396 "Feed not importing"
Could anyone help me figure out why my xml feed isn't importing to dev.to?

Feed link: https://danielkelly.io/feed.xml

I go to Settings > Extensions > Publishing to DEV Community from RSS and click "Fetch Feed Now" and it gives me a timestamp of being recently fetched but when I go to my dashboard I don't see any new post drafts.

- OS, version: macOS Catalina
- Browser, version: Firefox Develope

[2021-01-24 10:08] tvvignesh opened #12400 "Ability to manually reorder posts in a series"
Hi. While series work great in Dev.to the sorting is solely based on date of the blog posts. It would be really great to have a way to manually order the posts or update existing order in a series.

This is important cause, there are some cases in which you want to post later but have an order to the series which makes more sense.

In my case, I publish 1 blog out of every 3-4 blogs in Dev.to to o

[2021-01-24 15:52] alxgrk opened #12401 "Stale content when editing draft"
Hey there,

it seems like the editor's content does not get updated, if a draft you edited once on one machine, is being changed on another machine in the meantime.
I observed that the draft's text is stored in local storage. So the only way to get the updated draft was to clear that entry from local storage.

Maybe the behavior is useful in case you'd otherwise loose your local changes. However,

[2021-01-24 17:13] rhymes commented on #4833
@cmgorton I don't think so, the UI for registrations is totally different AFAIK

cc @ludwiczakpawel to confirm

[2021-01-24 18:16] rhymes commented on #12393
I can reproduce the issue locally, it doesn't always happen though. Might it have something to do with asynchronicity?

[2021-01-24 18:21] rhymes commented on #12190
Hi @harshilparmar - I think this other issue is unrelated to the one in the title. Given that, I think that's a legit bug and it should have its own separate issue. I think it's due to the fact that the JS script you're referring to only works in a Unix-like environment, it can be fixed probably :) Can you open the issue ticket?

[2021-01-24 18:27] rhymes commented on #12396
Hi @danielkellyio, I tried manually to fetch the feed, with `curl`, a Ruby HTTP client and the browser itself and it always times out.

Can you double check on your end?

[2021-01-24 18:42] harshilparmar commented on #12190
@rhymes Yeah sure 😁

[2021-01-24 18:45] leewynne opened #12402 "Front page right side-bar not visible on iPad in landscape mode when logged in."
**Describe the bug**

When using an iPad Pro (11inch) in landscape mode the right sidebar isn't rendered. This only occurs when you are logged in. When you are logged out, the right sidebar renders correctly.

**To Reproduce**

Note, I can't seem to replicate this when using dev tools to emulate an iPad on chrome or safari, it only occurs on a physical iPad.

1. Open dev.to in landscape mode (I am

[2021-01-25 01:23] jeferson-sb opened #12403 "Offline page has low contrast on dark mode"
**Describe the bug**

If you have dark mode enable on your profile, when you access any page and turn off your internet connection you can see an offline page with a grey text on a dark background

![image](https://user-images.githubusercontent.com/30840709/105650045-2ccf8b00-5e91-11eb-8ac9-68f8c3a17312.png)

I believe something like this `.night-theme { color: #dde0e2; }` white color should solve

[2021-01-25 02:21] danielkellyio commented on #12396
Whoops, looks like my hosting with Netlify was having some issues today. I can successfully access the feed now. Thanks!

[2021-01-25 07:52] ludwiczakpawel commented on #4833
Confirmed. I don't think we even have that registration box in right sidebar anymore.

Closing.

[2021-01-25 07:52] #4833 closed

[2021-01-25 08:04] harshilparmar opened #12414 "Can't setup dev environment"
**Describe the bug**

As discussed here https://github.com/forem/forem/issues/12190#issuecomment-766407326,
I can't set up the dev env on my machine.

**To Reproduce**
1) yarn install
2) yarn run storybook

**Screenshots**

![dev](https://user-images.githubusercontent.com/45915468/105677069-69db6200-5f11-11eb-9f13-18d5894f8b1e.PNG)

**Desktop (please complete the following information):**

- OS, v

[2021-01-25 08:34] citizen428 commented on #12414
Please note that we only support Windows via WSL2 as outlined in our installation documentation:

https://docs.forem.com/installation/windows/

[2021-01-25 09:04] citizen428 commented on #12396
Glad everything is working for you now @danielkellyio, I'll close this issue.

[2021-01-25 09:40] crimson-med commented on #11857
@citizen428 Sorry to bother you. Recently we are really pushing the use of organization and using the organization principle to kind of run our company blog as well ass share our knowledge with the community on dev to.

Would you have any ideas on when this would be put in the pipeline?

[2021-01-25 12:41] danielkellyio commented on #12396
Oh sorry I meant I can access my feed over http. It's still not importing to dev.to

[2021-01-25 13:20] ludwiczakpawel commented on #11434
As @rhymes mentioned - we do our best to support most of the modern browsers. Our upload button isn't really a rocket science in any way.

TBH I have never heard of Waterfox and I've just tested it for the first time. Even though I can confirm that button doesn't work in Waterfox Classic (it does work in Waterfox Current), I'm very hesitant to blame DEV's code for this - the appearance of that upl

[2021-01-25 13:20] #11434 closed

[2021-01-25 14:00] ludwiczakpawel commented on #6949
I'm closing this issue because the UI of this view has significantly changed since this issues was reported and I believe it's not longer valid.

[2021-01-25 14:00] #6949 closed

[2021-01-25 14:01] citizen428 commented on #12396
Ah, gotcha, sorry for the misunderstanding.

[2021-01-25 14:05] ludwiczakpawel commented on #6902
I've just tested it with older versions of Safari (including 13.1) and can't repro this issue. Also, it's been some time since it was originally reported and since that time, we've made lots of changes around this area. For that reason, I've decided to close this issue but I'll leave the conversation open - if this still happens to someone we can dig deeper.

[2021-01-25 14:05] #6902 closed

[2021-01-25 14:07] ludwiczakpawel commented on #3118
It doesn't seem like happening anymore and the issue itself seems to be pretty outdated as well so I'm closing it.

[2021-01-25 14:07] #3118 closed

[2021-01-25 14:13] ludwiczakpawel commented on #1767
Closing, since we no longer support SVGs for `cover_photo`.

[2021-01-25 14:13] #1767 closed

[2021-01-25 14:24] ludwiczakpawel commented on #2204
I can't repro it on the preview mode nor the notification but there's clearly something off with `< >` in titles - for example my post has automatically closed `<span>` for me 🤔

<img width="1602" alt="Zrzut ekranu 2021-01-25 o 15 23 41" src="https://user-images.githubusercontent.com/108287/105718261-57692480-5f21-11eb-8fa9-acf3c2601fe3.png">

[2021-01-25 14:29] ludwiczakpawel commented on #879
I'm closing since this should no longer be an issue - we've redesigned the article page so the player should NOT overlap with actions bar.

[2021-01-25 14:29] #879 closed

[2021-01-25 14:35] cmgorton commented on #12394
Thanks for the issue @Rafi993 did you want to work on this one?

[2021-01-25 14:39] cmgorton commented on #12395
hey @ell1e this is a duplicate of #11603 . I will keep that issue open for discussion there though feature requests made in forem.dev due to our new process will likely get priority. I could create a post there for you if you would like so you do not have to sign up.

[2021-01-25 14:39] #12395 closed

[2021-01-25 15:04] cmgorton commented on #12400
Hey @tvvignesh we have a new process for [feature requests.](https://forem.dev/foremteam/internal-rfc-process-and-forem-dev-discussions-3gl4)
 I have seen this request come up before so I went a head and created a post in forem.dev for it. [Post is here](https://forem.dev/foremteam/ability-to-reorder-posts-in-a-series-244n)
You can add any additional thoughts there.

Thanks for bringing this up!

[2021-01-25 15:20] joshpuetz commented on #1308
There is some possible overlap with https://github.com/forem/forem/pull/12103, as that PR is working on replacing the `cld` gem

[2021-01-25 15:25] cmgorton commented on #12401
Hey @alxgrk this looks like it might be related to a few bugs that have been brought up, #4409, #6692, #11753

[2021-01-25 15:33] Rafi993 commented on #12394
yes I can help @cmgorton

[2021-01-25 15:42] mstruve commented on #1299
@juliannatetreault is going to champion an RFC for this 🙌

[2021-01-25 15:49] #12377 closed

[2021-01-25 15:52] cmgorton commented on #7397
Here is the[ post on forem.dev](https://forem.dev/foremteam/discuss-add-emoticon-in-documentation-5abk) if anyone would like to add any more information there. Thanks.

[2021-01-25 15:56] cmgorton commented on #12394
Great, I'll assign it to you. Thanks for the help here @Rafi993 !

[2021-01-25 16:07] joshpuetz commented on #3261
Test that this doesn't happen on iOS 14. Appears to be Android only right now.

[2021-01-25 16:14] joshpuetz commented on #3222
FWIW I'd LOVE to see this feature! I'm using a browser plugin called Dark Reader (https://darkreader.org), but having the default forem color scheme auto switch light to dark would be really nice (and handy on platforms that don't support plugins like iOS).

[2021-01-25 16:16] ludwiczakpawel commented on #12402
Hmm.. I'm having troubles reproducing this issue... So I'll be shooting blinds with some random questions so maybe I can guess the solution:

1. Does it also happen when you dismiss the hero banner?
2. When the sidebar is "hidden" can you actually check whether it has dropped BELOW the main column (you have to scroll to the bottom of everything since it's a infinite scroll :D)
3. Do you happen to

[2021-01-25 16:22] ludwiczakpawel commented on #12370
@narender2031 or anyone else - were you able to repro that?

[2021-01-25 16:22] wyhaines commented on #12005
All of the review changes were addressed, and specs are happy:

https://github.com/forem/forem/pull/12304

[2021-01-25 16:29] #12394 closed

[2021-01-25 16:38] cmgorton commented on #12394
That was fast! Thanks @Rafi993 🎉