[2020-07-23 15:17] rhymes commented on #9465
@kirananto it's odd because `devto.esper.io` sounds like a proxy that doesn't belong to Forem. Do you have a system proxy activated?

[2020-07-23 15:45] kirananto commented on #9465
We're trying to set up our forum for a particular community.
So far we've been following this guide https://docs.dev.to/installation/ for the setup.

We're facing minor issues like these, although it's set up perfectly as per the documentation.

It'd be great if we could connect over a call, to discuss how we could join the beta program and if you guys could help us set this up, we could help cont

[2020-07-23 16:46] 802ScubaFish opened #9470 "Water Cooler Connect Link Issue"
**Describe the bug**

When on the main channel, while opening the discussion side bar, then selecting 'connect' under the water cooler channel the link appears to break at that point.

**To Reproduce**

Open the main panel discussion video.
Click See Discussion on the right side of the video.
Scroll down to where it lists the other channel options. Click 'connect' under 'Water cooler'.
At this poi

[2020-07-23 17:21] TerabyteTiger opened #9471 "Make new messages in Connect more apparent"
**Is your feature request related to a problem? Please describe.**

Jumping around in the Codeland Connect channels, I noticed that it was fairly difficult to find where the new messages started and previously seen messages ended.

**Describe the solution you'd like**

It would be helpful to include a indicator below the last message that would have been seen the last time the user was viewing the

[2020-07-23 17:32] TerabyteTiger opened #9472 "Highlight @ mentions in Connect"
**Is your feature request related to a problem? Please describe.**

When using Connect, @ mentions directed at the logged in user look identical to @ mentions to other users.

**Describe the solution you'd like**

It would be much easier to find messages directed at you if your @ mentions were highlighted in some way (See Twitch example below).

**Describe alternatives you've considered**

Bolding

[2020-07-23 18:19] LimaniBhavik opened #9473 "Crash every time in add post in List"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-07-23 18:20] #9473 closed

[2020-07-23 18:57] caleb15 opened #9475 "content in code block goes past width of block"
**Describe the bug**

Extra long lines in code blocks go past the width of the block

**To Reproduce**

1. Go to https://dev.to/bbavouzet/ubuntu-20-04-mouse-scroll-wheel-speed-536o

**Expected behavior**

Code block has a horizontal scroll

**Screenshots**

![image](https://user-images.githubusercontent.com/46505081/88327075-90f37580-ccdb-11ea-9419-92032544dea7.png)

**Desktop (please complete the

[2020-07-23 18:58] AlbertoPdRF commented on #9442
Will do, thanks for the kind offer! 🙂

[2020-07-23 20:18] fdoxyz commented on #9470
Really appreciate the early notice on this @802ScubaFish and thank you for tuning in to Codeland!

We were able to sort out the initial issues with our integrations so closing this now

[2020-07-23 20:18] #9470 closed

[2020-07-23 21:39] juliannatetreault commented on #9475
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-23 21:47] juliannatetreault commented on #9475
This issue looks _very_ closely related to this issue: https://github.com/forem/forem/issues/9374

[2020-07-24 02:20] citizen428 commented on #9468
Hello @ezequielfarrell, thanks for notifying us of this problem, this looks an issue specific to your account.
Please email yo@dev.to for more help.

[2020-07-24 02:20] #9468 closed

[2020-07-24 02:22] citizen428 commented on #9472
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-24 02:24] citizen428 commented on #9471
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-24 02:49] nickytonline commented on #987
This one is a little bigger @eclectic-coding as it probably requires some coordination with our product designers and myself, but you can definitely lend a hand. I'm not sure if this is the best thing to pair on for live coding though given the back and forth nature/coordination of this issue.

[2020-07-24 03:11] lisasy opened #9480 "[Home] Remove border & shadow"
Related: https://github.com/forem/forem/projects/14#card-34423944

[2020-07-24 03:13] lisasy opened #9481 "[Home] Update sidebar ad"
Related: https://github.com/forem/forem/projects/14#card-34423421

[2020-07-24 03:13] lisasy opened #9482 "[Home] Remove profile widget"

[2020-07-24 03:18] lisasy opened #9483 "[Article] Improve "Read next" section."

[2020-07-24 03:18] lisasy opened #9484 "[Article] Improve Comments section"

[2020-07-24 03:18] lisasy opened #9485 "[Article] Add "Discuss" button to actions bar"

[2020-07-24 03:18] lisasy opened #9486 "[Article] Fix Series widget margin issue"
![image](https://user-images.githubusercontent.com/833231/88708854-4c544980-d0e2-11ea-8148-b5d18cab01c1.png)

[2020-07-24 06:25] rhymes commented on #9475
Hi @caleb15 - as @juliannatetreault mentioned the issue looks like a duplicate of https://github.com/forem/forem/issues/9374 - I'm thus closing this. Would you be willing to add your comment under there?

Thank you!

[2020-07-24 06:25] #9475 closed

[2020-07-24 06:28] rhymes commented on #9480
To our awesome contributors, please note that this issue will be worked on by a Forem team member and is not up for grabs.

[2020-07-24 06:28] rhymes commented on #9481
To our awesome contributors, please note that this issue will be worked on by a Forem team member and is not up for grabs.

[2020-07-24 06:28] rhymes commented on #9482
To our awesome contributors, please note that this issue will be worked on by a Forem team member and is not up for grabs.

[2020-07-24 06:28] rhymes commented on #9483
To our awesome contributors, please note that this issue will be worked on by a Forem team member and is not up for grabs.

[2020-07-24 06:28] rhymes commented on #9484
To our awesome contributors, please note that this issue will be worked on by a Forem team member and is not up for grabs.

[2020-07-24 06:28] rhymes commented on #9485
To our awesome contributors, please note that this issue will be worked on by a Forem team member and is not up for grabs.

[2020-07-24 06:28] rhymes commented on #9486
To our awesome contributors, please note that this issue will be worked on by a Forem team member and is not up for grabs.

[2020-07-24 06:29] ortonomy opened #9487 "[Posts] Support slides.com embeds"
**Is your feature request related to a problem? Please describe.**

I was trying to write my first article the other day with a link to a slide set that I'd made on https://slides.com. It was frustrating to not be able to embed the slides in the code.

**Describe the solution you'd like**

Slides.com supports code snippets inside the slides decks, so it's **really** good for developers and tech pr

[2020-07-24 06:36] rhymes commented on #9487
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-24 06:41] ludwiczakpawel commented on #9472
I think this is a neat idea! One thing to keep in mind and consider while working on this is to remember about making it visible and distinguishable no matter what theme are you on.

@TerabyteTiger would you like to work on it maybe?

[2020-07-24 09:06] kirananto commented on #9465
FYI this happens directly when you run the docker image for forem
1. Clone code
2. Add github auth
3. docker-compose build && docker-compose up
4. Visit http://localhost:3000/new

There you'll have the issue

[2020-07-24 09:42] Amorpheuz opened #9489 "Update Installation docs to WSL2"
**Is your feature request related to a problem? Please describe.**
It isn't a problem per say, but can be a good QoL addition. With the release of WSL2 in Windows Stable, a ton of benefits are brought to table, particularly in the performance aspect. Forem being a medium-large repository could definitely benefit from those improvements. Apart from that, the Full Linux kernel aspect ensures that ev

[2020-07-24 11:48] #9461 closed

[2020-07-24 12:14] rhymes commented on #9489
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-24 14:22] ivanjeremic opened #9490 "Dev.to signUp with GitHub not able to comment."
I have 2 accounts on Dev.to the first one is where I signed up with GitHub but this one was not able to comment all I get when trying to send a comment is a loading animation. This was the reason I signed also with twitter up for Dev and now everything works fine, however, I would like to have the account linked to my GitHub be my main account can anyone look at his issue and why accounts using Gi

[2020-07-24 14:27] TerabyteTiger commented on #9472
@ludwiczakpawel As much fun as I'd probably have working on this, I don't want to go through the headache of setting up WSL.

I'll gladly offer additional feedback from the user side to whoever does want to take this on though as needed!

[2020-07-24 15:10] caleb15 commented on #9374
I also ran into this issue on chrome on the desktop. See https://github.com/forem/forem/issues/9475

[2020-07-24 17:10] rhymes commented on #9490
Hello @ivanjeremic, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-07-24 17:10] #9490 closed

[2020-07-24 19:18] #8164 closed

[2020-07-24 19:25] lisasy opened #9497 "[Connect] Differentiate @mention and new messages"
---
name: [Connect] Differentiate @mention and new messages
about: Differentiate @mention and new messages
---

**Is your feature request related to a problem? Please describe.**

https://dev-internal.slack.com/archives/CAA200SH5/p1595607238236100

**Describe the solution you'd like**

"Would be super cool if the room name and activity dot icon would be highlighted with your chosen color branding

[2020-07-24 20:03] lisasy opened #9498 "Refactor `modal` Crayons component with updated padding & font styling"

[2020-07-24 20:32] juliannatetreault commented on #9498
To our awesome contributors, please note that this issue will be worked on by a Forem team member and is not up for grabs.

[2020-07-24 20:54] wafflewitch opened #9499 "[Connect] Room name overflows (sidecar)"
**Describe the bug**

Sometimes the room name overflows when accessing Connect via the sidecar.

**To Reproduce**

**Expected behavior**

The room name should be made to wrap so that it fits within the box and does not overflow and run off the screen.

**Screenshots**

<img width="514" alt="dev_connect_sidecar_room-name-overflow" src="https://user-images.githubusercontent.com/27379918/88434323-916

[2020-07-24 21:10] wafflewitch opened #9500 "[Connect] User cannot change their mind after declining a room invite"
**Describe the bug**

After declining to join a room and changing their mind, user cannot access the accept/decline view again.

**Expected behavior**

User should be able to access the accept/decline view again.

**Screenshots**

![dev_connect_decline-invite-no-return](https://user-images.githubusercontent.com/27379918/88435367-a5ad3780-cdc7-11ea-9e7e-31cffcb4ad1d.gif)

**Desktop (please complete

[2020-07-24 21:18] wafflewitch opened #9501 "[Connect] Room that has been left still shows up in URL"
**Describe the bug**

After leaving a room and then navigating to the /connect view, the room that was left still shows up in the URL.

**To Reproduce**

**Expected behavior**

Any room that has been left should not appear in the URL again when navigating to /connect.

**Screenshots**

![dev_connect_left-room-in-url](https://user-images.githubusercontent.com/27379918/88435904-cc1fa280-cdc8-11ea-85

[2020-07-24 21:37] wafflewitch opened #9502 "[Connect] User is not redirected after leaving a room, leading to ambiguity and blank error"
**Describe the bug**

In both full screen (/connect route) and sidecar view, leaving a room does not result in redirecting the user away from that room. This leaves the user in an ambiguous situation where they can still see the room they have left. However, if the user tries to send a message in the left room, a blank error appears.

**To Reproduce**

**Expected behavior**

Upon leaving a room, t

[2020-07-24 21:43] juliannatetreault commented on #9499
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-24 21:44] juliannatetreault commented on #9500
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-24 21:45] juliannatetreault commented on #9501
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-24 21:45] juliannatetreault commented on #9502
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-24 21:50] wafflewitch opened #9503 "[Connect] When joining a new room, user is not taken to the new room"
**Describe the bug**

Sometimes when joining a new room, the room that gets displayed to the user is actually a previously joined room and not the room that the user has just joined. This feels unintuitive and might lead to confusion.

**To Reproduce**

**Expected behavior**

Upon joining a new room, the user should always be taken to that room.

**Screenshots**

![dev_connect_wrong-room-after-acc

[2020-07-24 22:05] juliannatetreault commented on #9503
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-24 22:07] cmgorton opened #9505 "Clicking on Contributor's Guide's link directs to https://docs.dev.to/contributing/forem/"
**Describe the bug**

Clicking on  Contributor's Guide's link directs to https://docs.dev.to/contributing/forem/ instead of https://docs.forem.com/

**To Reproduce**

1. Go to https://github.com/forem/forem/blob/master/CONTRIBUTING.md
2. Click on contributor's guide link
3. You will be directed to https://docs.dev.to/contributing/forem/

**Expected behavior**

Should link to Forem's docs instead h

[2020-07-25 01:24] kirananto commented on #9465
New observation:

The hash of the files built-in logs was
![image](https://user-images.githubusercontent.com/12209601/88445883-4987f900-ce43-11ea-96dc-2d6aae73a199.png)

But when I drop into the docker container,
navigate to `/opt/apps/devto/public/packs/js`, The files present there is different, different hash
![image](https://user-images.githubusercontent.com/12209601/88445932-9ec40a80-ce43-11ea

[2020-07-25 02:36] kirananto commented on #9160
I am also having similar issues #9465
I think it might be due to the pack/js/* assets not being loaded.

[2020-07-25 02:37] kirananto commented on #9213
I am also having similar issues #9465
I think it might be due to the pack/js/* assets not being loaded.

[2020-07-25 03:13] imdhruv99 opened #9508 "Can not write blog"
It's been 2 week that i have been reporting about thing that i can not write blog and also can not edit any of my blog. But because of your poor services i can not write anything.

[2020-07-25 03:57] omenking opened #9509 "Canonical URL should be in <head> instead of <body>"
**Describe the bug**

I was assisting an AWS Hero with drafting their first post for the AWS Heroes DEV Organization and I was and explaining to them they can apply a Canonical URL. The Hero pointed out to me that they think the Canonical URLs should be in the `<HEAD>` instead of the `<BODY>` otherwise that would render the Canonical URL ineffective.

According to [Google's documentation](https://

[2020-07-25 04:10] omenking commented on #9509
In `app/views/article/show.html.erb` the canonical link appeares to be included in this block:

[code]

So I was checking the yield in the `app/views/layouts/application.html.erb` as such:

[code]

And so I found the yield. It looks like to be it is in the `<HEAD>`

[code]

But the live site does not show it there.... I am confused 😕

[2020-07-25 04:16] omenking commented on #9509
In `app/views/shell/_top.html.erb` the canonical link appeares to be included in this block:

[code]

So I was checking the yield in the `app/views/layouts/application.html.erb` as such:

[code]

And so I found the yield. It looks like to be it is in the `<HEAD>`

[code]

But the live site shows it rendering in the `<BODY>`.  I am confused 😕

[2020-07-25 04:20] omenking commented on #9509
I am going to attempt to run the application locally and see where it renders.

[2020-07-25 04:29] omenking commented on #9509
I have no chance of getting this running locally with the new changes, attempting GitPod.

[2020-07-25 04:51] omenking commented on #9509
Possibly another issue, Can't seed data.

<img width="1312" alt="Screen Shot 2020-07-25 at 12 51 02 AM" src="https://user-images.githubusercontent.com/7776/88448945-fbf29880-ce10-11ea-8273-d82d848089f4.png">

[2020-07-25 04:57] omenking commented on #9509
Confirmed that the application does render in the `<body>`.
Confusing....

<img width="704" alt="Screen Shot 2020-07-25 at 12 57 03 AM" src="https://user-images.githubusercontent.com/7776/88449053-d5812d00-ce11-11ea-95c1-c4f542e6d762.png">

[2020-07-25 05:07] omenking commented on #9509
I thought also maybe the preact was being rehydrated on top of a server-side render page and forcing cache to clear appears to be the same. 🤷‍♂️

[2020-07-25 05:52] 8bithemant commented on #9508
Hii Dhruv,

There is no such issue on DEV, the issue is particularly for your account and possibly because of violation of code of conduct policy.

Check your mail box with a violation mail which will let you know the services aren't poor at all.

Also I am a Dev Community Fan 🙂, and let me remind you Dev Team is really busy on stuffs and they have a fast growing team so they may be slow to respon

[2020-07-25 07:32] Amorpheuz opened #9510 "Change branch to Main/Version for actions/checkout in rebase.yml"
**Describe the bug**
The current `rebase.yml` workflow file uses the `master` branch of `actions/checkout` action.
https://github.com/forem/forem/blob/95be4c6308e08d015595617f6e3297d6d709b572/.github/workflows/rebase.yml#L20

 The default branch for the same has moved to `main` though which leads to the following warning in the workflow's run page.

**To Reproduce**

- To view:
  1. Open [Actions

[2020-07-25 10:52] takmar commented on #6998
@rhymes
I fixed this in the [PR](https://github.com/forem/forem/pull/9511). I hope you check it!

Sorry for not claiming to work on this😞

[2020-07-25 19:45] 5t3ph commented on #9336
Hi @narender2031 I'm sorry but since it was a short-lived thing that only happened twice I do not have additional artifacts to share.

Once I clicked the notification icon, I was navigated to the blocked user's name in my inbox but no message was shown. The issue was in getting any notification at all given the user was blocked.

[2020-07-25 20:10] rhymes commented on #9505
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-25 20:12] cmgorton commented on #9505
If it is up for grabs I would be happy to work on the issue.

[2020-07-25 20:16] rhymes commented on #9510
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-25 20:16] rhymes commented on #9510
@Amorpheuz I've assigned the issue to you

[2020-07-25 20:16] cmgorton commented on #9505
I found another area with the same issue. I could put in another issue for it if you think that is necessary. On this link:
https://github.com/forem/forem#getting-started

When you click the Developer Documentation link under getting started it also directs you to  https://docs.dev.to/ instead of the newer forem docs link.

[2020-07-25 20:19] rhymes commented on #9505
@cmgorton I think you can fix both in the same issue if you'd like! Assigned this to you!

[2020-07-26 00:01] musti-91 commented on #9213
I removed my account

[2020-07-26 03:56] mrshawnhum commented on #8425
I believe my view count has been frozen as well. I had 33 views with the first 5-15 minutes of the article being published, but then I received no more views and would still receive interactions.

https://dev.to/mrshawnhum/your-background-doesn-t-matter-4ad0

[2020-07-26 12:40] kirananto commented on #9465
@rhymes When I disable the splitChunks optimization, there are no longer chunks with hashes, and the application works perfectly. So I'm assuming There's an issue with the hashing used here, and the hashing used by the webpacker library.

[code]

🤔 Wondering why this isn't affecting the dev.to platform.

[2020-07-26 15:04] #3448 closed

[2020-07-26 18:26] lakshyabatman opened #9532 "Issue in installation with docker containers"
**Describe the bug**
On installing forem with docker,
I started get a loop of these messages,
[code]

**To Reproduce**
I followed the installation guidelines.

**Expected behaviour**

**Screenshots**

**Desktop (please complete the following information):**

- OS: MacOS
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Addi

[2020-07-26 18:32] lakshyabatman commented on #9427
Hey, I started the installation with containers and I ended with a huge loop of error messages, I mentioned in #9532 .  Sorry, I have no background with ruby on rails so I'm uncomfortable, mind if you can give me some pointers.

[2020-07-26 20:01] rhymes commented on #9532
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-26 20:02] rhymes commented on #9532
@lakshyabatman IIRC those loops are normal, it takes sometimes for all the parts to startup and those processes ping the web server to see if it's already started.

Probably @jdoss can expand on this

[2020-07-26 20:30] lakshyabatman commented on #9532
I did, but still I kept on loop, any idea how much I should wait? I did around 20 -30 mins though.

[2020-07-26 23:06] kfatmakausar commented on #2618
I'd like to work on this issue

[2020-07-27 00:17] qojrag-muCroj-4demru commented on #2618
![image](https://user-images.githubusercontent.com/68495777/88493034-f914b680-cf7c-11ea-8082-64d7559651a6.jpeg)

[2020-07-27 02:55] citizen428 commented on #9532
The very first time unfortunately can take a long time, IIRC it was around 40 minutes for me. Subsequent times are **much** faster, so please don't let the initial one scare you away.

[2020-07-27 02:58] citizen428 commented on #9508
Hello @imdhruv99, thanks for notifying us of this problem, this looks an issue specific to your account. Please email yo@dev.to for more help.

@8bithemant While it's nice that you tried to defend us here, let's please stay civil and not accuse people of CoC violations or similar.

[2020-07-27 02:58] #9508 closed

[2020-07-27 02:59] #9505 closed

[2020-07-27 03:18] citizen428 commented on #9160
@akhil-naidu If I remember correctly, you're running this on Heroku. Can you please do `heroku logs --tail`, try to create a comment and post the error message (if any) here?

[2020-07-27 05:15] EwertonJordao commented on #8425
I think they doing more things for UX, but in basic functionalities, nobody cares 🤷‍♂️.

[2020-07-27 05:19] mrshawnhum commented on #8425
Someone that is trying to see how they can improve on their articles care, but that's good if they have been doing more for UX.

[2020-07-27 06:58] lakshyabatman commented on #9532
Okay, I'll try it again @citizen428 .

[2020-07-27 07:28] citizen428 commented on #8425
Of course we care, but we also just organized a conference (CodeLand:Distributed) and put a lot of work into generalizing the codebase for other communities. Note that this PR is tagged as a bug and therefore is open for contributions by everyone, not just core team members.

[2020-07-27 08:02] lakshyabatman commented on #9532
<img width="1440" alt="Screenshot 2020-07-27 at 1 29 26 PM" src="https://user-images.githubusercontent.com/29687362/88517895-32950280-d00d-11ea-89fc-08f63fe16808.png">

So, I checked and web docker image was not running so I explicitly ran it and then this error came up,

<img width="1440" alt="Screenshot 2020-07-27 at 1 31 46 PM" src="https://user-images.githubusercontent.com/29687362/88518093-87

[2020-07-27 08:03] lakshyabatman commented on #9532
Looks like I messed up something configs.

[2020-07-27 08:14] citizen428 commented on #9532
Sorry for your trouble @lakshyabatman :meh: You ran into a timeout, which we had already bumped up from 30 to 45 minutes.

[2020-07-27 08:18] citizen428 commented on #9509
Thanks for the detailed writeup @omenking, I'll fix the seeds now!

[2020-07-27 08:29] lakshyabatman commented on #9532
Ok,I'll re run the process and I'll let you know, :D

[2020-07-27 08:49] rhymes commented on #2618
@kfatmakausar thank you! I've assigned you the issue

[2020-07-27 12:59] nombrekeff commented on #9439
Hey, I just realized I'm already connected on DEV with my twitter on another account. Maybe that is causing the issue.

[2020-07-27 13:09] jdoss commented on #9532
Docker on Mac is painfully slow with volumes with many small files. Even more so on slower Macs. Once you go through first time setup, subsequent runs should be much faster.

[2020-07-27 13:14] #9346 closed

[2020-07-27 13:23] EwertonJordao commented on #8425
Okay, I was unfair. However, for those who produce technical content, this is extremely important to understand what people liked to read and serve as a basis for the next posts. I think the flag should be made explicit with priority level a bug is just another bug.

[2020-07-27 13:25] EwertonJordao commented on #8425
I really since the counter freeze, I am studying to go back to another platform 🤦‍♂️🤷‍♂️

[2020-07-27 13:28] #9467 closed

[2020-07-27 13:54] nickytonline commented on #8763
Is this still an issue @ludwiczakpawel ?

[2020-07-27 14:40] nickytonline commented on #4243
Closing as the upgrade to Preact X is complete.

[2020-07-27 14:40] #4243 closed

[2020-07-27 15:26] atsmith813 commented on #9509
@omenking if I'm understanding and if I recall correctly, the canonical URL is rendered here:
https://github.com/forem/forem/blob/0c8af6bd1eaffbd964a7fc865ef35db6e9af91bc/app/views/articles/show.html.erb#L56

And we intentionally put it in the body because it's article-specific and many of our headers, top bars, etc are all cached.

[2020-07-27 15:36] joshpuetz opened #9540 "Set up Github project board #setup"
Set up Github project board for the Admin/Internal project and let the team know how we're going to use it!

[2020-07-27 15:45] joshpuetz opened #9541 "Sample Scoped issue #board-setup"
This is an example of a scoped issue. Testing out using a hashtag to filter!

[2020-07-27 16:21] omenking commented on #9509
An update in my own personal research:

* [Google](https://webmasters.googleblog.com/2013/04/5-common-mistakes-with-relcanonical.html) says that it should be in the header
* Some browsers can lift it into the header, I did not observe that but it would not matter since what we care about is what search engines do, and we can never know since that knowledge and technology is proprietary.
* Testing

[2020-07-27 16:26] ludwiczakpawel commented on #8763
Nope, it does not seem to be an issue anymore. Closing.

[2020-07-27 16:26] #8763 closed

[2020-07-27 17:05] #9541 closed

[2020-07-27 17:52] lakshyabatman commented on #9532
<img width="1440" alt="Screenshot 2020-07-27 at 11 20 49 PM" src="https://user-images.githubusercontent.com/29687362/88574395-eb842d00-d05f-11ea-802d-8bda85c1c0ab.png">

[2020-07-27 17:52] lakshyabatman commented on #9532
:(

[2020-07-27 18:30] joshpuetz commented on #9540
@lisasy @fdoxyz @ludwiczakpawel Here's what I've got so far:

- a project board at https://github.com/forem/forem/projects/25
- An attempt to try to do some scoping. I add some cards as tasks and put them under 'unscoped':

<img width="583" alt="_HellsBells___Admin_Internal_Consolidation" src="https://user-images.githubusercontent.com/37842/88577453-a8e53500-d00c-11ea-9252-c5e09f0f4e62.png">

- To

[2020-07-27 18:39] Amorpheuz commented on #9427
Hey @lakshyabatman, in case docker is giving you difficulties. The [GitPod route](https://docs.dev.to/installation/gitpod/) for making changes to DEV is also pretty useful and simple in case of html/css changes in the meantime!

[2020-07-27 19:10] fdoxyz commented on #9540
I like the idea here! Seems very organized although the responsibility to keep it that way is decentralized, hope we can keep it up 😅

My only concern is adding issues for certain tasks may seem like adding overhead to team OSS. Would having a column for "In progress" for each one of us be too much? Not feeling strongly about this suggestion, I like the overall process for this

I so wish cards co

[2020-07-27 21:16] PrimeNoodles commented on #9433
@rhymes, I looked at the issue at it's pretty much exactly as you mentioned. Using pushState instead of replaceState on line 86
`window.history.replaceState(null, null, "/search?q=" + query + "&filters=" + filters + sortString); `
to
`window.history.pushState(null, null, "/search?q=" + query + "&filters=" + filters + sortString); `
allowed me to go back to the last search filter as opposed to the

[2020-07-27 21:20] maestromac commented on #9489
This is approved @Amorpheuz !

[2020-07-27 21:38] rhymes commented on #9433
@PrimeNoodles no PR, I'm going to assign you the issue! note there are other `replaceState` in the file so make sure each path works corretly, thank you!

[2020-07-27 21:47] PrimeNoodles commented on #9433
I initially tried replacing all the replaceState with pushState, however it gave me a weird bug where it requires me to click back twice for every filter switch I click on in order for any changes to happen. Messing around with replaceState and pushState on all 5 places in the file, it seems like this works the best, but I'll try messing with it some more.

[2020-07-27 22:27] nickytonline commented on #9433
The replaceState is the way to go. I did this a couple of hours ago locally and it works, but I encountered the same issue as you with ha hbd to click back twice. Having said that the browser history is correct, so my guess is we have some custom code causing the double click to go back.

[2020-07-28 00:22] nickytonline commented on #9338
Thanks for the refactor Sophia!

[2020-07-28 00:22] #9338 closed

[2020-07-28 03:42] jdoss commented on #9532
@lakshyabatman Find `"-timeout", "2700s"` in https://github.com/forem/forem/blob/master/docker-compose.yml and set it to `"-timeout", "5400s"`, save the file and then run `./bin/container-setup` again. This will double the timeouts. Let us know how it goes!

[2020-07-28 05:40] lakshyabatman commented on #9427
Okay, cool.

[2020-07-28 07:40] abenerd opened #9549 "Remove redundant vscode extension reccomendations"
**Is your feature request related to a problem? Please describe.**
With the addition of the `nickytonline.dev-to-extension-pack` the same extensions must not be recommended again.

**Describe the solution you'd like**
Remove recommended extension that are within the `nickytonline.dev-to-extension-pack`.

**Describe alternatives you've considered**

**Additional context**

[2020-07-28 08:13] alvarosaburido opened #9550 "Social Media post cover image gets cropped"
**Describe the bug**

Following the [Editor Guide](https://dev.to/p/editor_guide) the size for the correct image is:

Using an image of that size, for example

![this](https://dev-to-uploads.s3.amazonaws.com/i/0b3vsz5h4m25bn4fhmiv.png)

If you share the post, social preview gets the `og:image` and twitter image cropped.

<img width="990" alt="Screenshot 2020-07-28 at 09 54 03" src="https://user-im

[2020-07-28 09:18] Amorpheuz commented on #9489
Hey @maestromac and @rhymes, just had some doubts which I would love to get cleared before I start:

- Is there any particular way in which the updates to the docs would be preferred? Should I send a PR section by section, e.g. Imagemagick, then PostgreSQL and so on...?

- Also, are you looking to parallelly maintain the current mixed version and want WSL2 only as a separate page or will overwriti

[2020-07-28 09:55] citizen428 commented on #9550
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-07-28 10:11] PELock opened #9552 "Add syntax highlighter for x86 / x64 assembler syntax"
Please add syntax highlighting for the source code in assembler (MASM / FASM / NASM using ````asm`

[2020-07-28 10:27] citizen428 commented on #9552
We're using the [Rouge gem](https://github.com/rouge-ruby/rouge) for syntax highlighting. It supports both Arm assembly (`armasm`) and NASM (`nasm`) syntax highlighting. Here's an example:

<img width="758" alt="Screen Shot 2020-07-28 at 17 25 23" src="https://user-images.githubusercontent.com/47985/88654445-98f64f80-d0f7-11ea-9ba4-59d8a1f46ac1.png">

There's no support for GAS yet but there's an

[2020-07-28 11:25] nickytonline commented on #9549
I'm fine with removing this. The idea originally was to have an extension pack with all the extensions we use, but then in another PR it was suggested to keep the extension pack and the separate extensions.

[2020-07-28 11:29] PELock commented on #9552
ARM and NASM syntaxes are the least used ones! The most popular one is MASM syntax. Close it if you wish, just saying.

[2020-07-28 13:03] TilakMaddy opened #9554 "Unable to write a new post"
![Screenshot 2020-07-28 at 6 54 35 PM](https://user-images.githubusercontent.com/11134428/88671378-dcef5180-d103-11ea-9392-7581d761f454.png)

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- V

[2020-07-28 13:07] TilakMaddy commented on #9554
mac OS, chrome browserVersion 84.0.4147.89  as well as safari browser

[2020-07-28 13:26] TilakMaddy commented on #9554
this seems to happen only with my account cuz i have seen new posts in the past 3 mins whereas I, have had this problem for 30 minutes.

[2020-07-28 13:27] maestromac commented on #9489
@Amorpheuz

- We're okay if you want to do section by section or the thing in one go. You could also do 2 sections at a time too. This is up to you.
- I'd say because WinVer 2004 is generally available and WSL2 is very well received, we should make it our default installation method. You can add a note that there are a few other ways but we recommend complete WSL2.

[2020-07-28 14:11] citizen428 commented on #9552
To clarify: I wasn't suggesting closing this issue because I don't think your concern is valid, but because this isn't the right repository to ask for it. We did not implement our own syntax highlighting but instead rely on Rouge, an external library. Any new language that gets added there will also be supported by DEV/Forem.

[2020-07-28 15:14] nickytonline commented on #7086
@eclectic-coding and I will be pairing on this today. https://twitter.com/nickytonline/status/1287802825544732678

[2020-07-28 15:14] nickytonline commented on #7561
@eclectic-coding and I will be pairing on this today. https://twitter.com/nickytonline/status/1287802825544732678

[2020-07-28 15:19] kfatmakausar commented on #2618
I noticed that the control bar is implemented as 'sticky', so no matter how far the user scrolls down, the control bar still remains on the left side of the page. So would a "'Back to Top' button still be needed?
Also, does anyone know which file implements the single view of an article?
Also, I was suggesting a 'Back to Top' for the home page?

[2020-07-28 15:37] jacobherrington commented on #9554
Hey @TilakMaddy, this might be an issue that is specific to your account!

Shoot an email to yo@dev.to and we can try to get the issue resolved. Thanks!

[2020-07-28 15:37] #9554 closed

[2020-07-28 15:50] kirananto commented on #9465
@joshpuetz @nickytonline   It'd be good if you could take a look at this 👍

[2020-07-28 16:36] #9540 closed

[2020-07-28 16:59] PrimeNoodles opened #9559 "Update Documentation to Include Backend Configurations Setup"
**Is your feature request related to a problem? Please describe.**

When installing devto locally to test for changes, people have recently run into the issue of their setup page not being completed and the need to go to the configurations page to make changes. However, the user is generally denied access to this page. In order to access it, they would need to give themselves the an admin role (ex

[2020-07-28 17:40] eclectic-coding commented on #7086
Looking forward to working through this with you @nickytonline

[2020-07-28 18:27] Veggier commented on #9499
I will try to work on this issue

[2020-07-28 18:28] nickytonline commented on #9465
This isn't an issue outside of docker and removing the code splitting would be detrimental to the performance of the site. In regards to hashing, it's pretty standard for webpack which is what webpacker is using under the hood. It is based on the contents of the chunked files, so the hashes are fine.

I really think this is a Docker issue or maybe caching.

Thoughts @jdoss?

[2020-07-28 18:29] nickytonline commented on #9499
Sounds good @Veggier. I'll assign it to you.

[2020-07-28 19:46] nickytonline commented on #9193
@vaidehijoshi, I've tried this locally and with the given steps, I am unable to reproduce the error. Is this still an issue for you?

[2020-07-28 20:10] luis-novoa commented on #7408
Hi, @rhymes. I tried to work on this, but I'm having too many difficulties to understand how elasticsearch works. I'll unassign from this task. Thanks for the opportunity

[2020-07-28 20:53] nickytonline commented on #9486
Looks like 9202 is working on this but it is pretty stale.

[2020-07-28 21:40] eclectic-coding commented on #9193
@nickytonline and @vaidehijoshi , I have been thinking about this issue today. I am wondering if the recent #9285 `local_date` helper as it was integrated had the residual effect of fixing this open issue. With the time stamp in the localstorage object this might be hypothetically possible.
Just pondering.

[2020-07-28 22:38] eclectic-coding commented on #7086
After reviewing this issue with @nickytonline we were unable to replicate. It is probable that the #9285 new `local_date` helper has resolved this issue. Please review and verify before this open issue is closed. If not, and it is still an issue, I will be glad to look at it again.
Thank you for the opportunity.

[2020-07-28 22:39] eclectic-coding commented on #7561
After reviewing this issue with @nickytonline we were unable to replicate. It is probable that the #9285 new local_date helper has resolved this issue. Please review and verify before this open issue is closed. If not, and it is still an issue, I will be glad to look at it again.
Thank you for the opportunity.

[2020-07-28 23:16] mzakzook commented on #7086
Quick check looks good on the article show page. I did notice that dates printed next to each post title on the User show page are not consistent with article show page (correct date is on article show). Photos attached.
![C7C85CA8-3304-431C-9B2C-1264F74CB66A](https://user-images.githubusercontent.com/19253610/88736367-824afb00-d0ed-11ea-9226-817c51d7a15b.png)
![46A9A6BB-7DC7-4EE1-AE7A-9FD439CCFE6

[2020-07-29 02:38] kirananto commented on #9465
Yah I agree... Removing code-splitting would definitely be detrimental to the performance of the site... As this issue is not present elsewhere, I assume it's something related to the docker or caching issue...

It's pretty easy to reproduce.
1. Clone the codebase
2. ./bin/container-setup

Once the server is up, you can see the issue.
B/w is there any recommended docker version.

[2020-07-29 05:22] sarthology commented on #9503
I'm gonna pick this.

[2020-07-29 06:07] corentinbettiol commented on #7561
I went on the link provided in the first post, "hovered" the date which is Apr 27 (I'm on a smartphone) and it displayed the "Mardi 28 Avril" date (Tue, Apr 28), so the Issue is still here :)

![Screenshot_20200729-080140_1](https://user-images.githubusercontent.com/45763865/88762650-e0212680-d171-11ea-9e08-d375e00a509c.png)

[2020-07-29 08:05] rhymes commented on #9552
Hi @PELock, thanks for opening the feature request! As @citizen428 suggested we defer syntax highlighting of specific languages to a third party library. My suggestion is to request this syntax upstream to https://github.com/rouge-ruby/rouge/issues - If you let us know the issue ID we'll closely monitor the progression and when it's merged and released we'll update our code accordingly.

Thank you

[2020-07-29 08:05] #9552 closed

[2020-07-29 09:15] ludwiczakpawel commented on #2618
I think there are several issues mixed up in this one :D

1. I believe the original issue created by @msarit was to add "Back to top" button on `/new` view (which is post editor). This is no longer needed because we have redesigned that view since then and now the _everything_ is sticky (no need to scroll).
2. @esquith has suggested adding "back to top" button on the Article view itself - but that

[2020-07-29 11:06] Amorpheuz commented on #9510
Forgot to add the `Fixes`. 🙈

Fixed by #9515.

[2020-07-29 11:06] #9510 closed

[2020-07-29 12:17] #9442 closed

[2020-07-29 13:13] abenettt commented on #9549
I do not see the point of this. The way I understand it the point of the extension pack is to have all the recommended extension bundled together, why would one go and add them again separately? But maybe there was another reason I don't know about.

[2020-07-29 13:34] nickytonline commented on #9549
Yeah, that is the idea of the extension pack. I think their reasoning was to pick and choose or go all in with the extension pack. In retrospect, doesn't make much sense. Just having the separate extensions probably makes more sense if people do not want to install all of them.

Sound good to you @citizen428 ?

[2020-07-29 14:01] #2424 closed

[2020-07-29 14:12] eclectic-coding commented on #7561
So, for me, in the Eastern US, it displays properly on the Desktop (Linux/Firefox and Chrome), my Android phone with Firefox, and my wife's iPhone. I am wondering if this is an internationalization issue now?

[2020-07-29 14:22] corentinbettiol commented on #7561
As I commented [here](https://github.com/forem/forem/issues/7086#issuecomment-620548051) on the other issue, I think only the date in `title` tag is localized, and thus the displayed date is still in UTC.

[2020-07-29 14:49] rhymes commented on #7561
@corentinbettiol correct, the title is localized, the displayed date is not

[2020-07-29 14:53] corentinbettiol commented on #7561
Yes, it seems the right thing to do for now :)

[2020-07-29 15:40] eclectic-coding commented on #7561
I will go back and look at later today.

[2020-07-29 15:44] citizen428 commented on #9549
Definitely, IIRC I voiced this concern during the original PR.

[2020-07-29 23:27] eclectic-coding commented on #8923
I would love to start working on this item @nickytonline

[2020-07-30 02:43] citizen428 commented on #9532
Any look with the above @lakshyabatman?

[2020-07-30 03:03] citizen428 commented on #9509
**Current state of affairs:**

@atsmith813 This is gated by a condition on `internal_navigation?`, the `else`-branch uses `content_for(:page_meta)` as I would expect. This method is defined in `ApplicationController` and made available in views via `helper_method`:

[code]

I assume this has something to do with our top shell, we may only be swapping out the document body for internal navigation,

[2020-07-30 05:28] missriya0123 opened #9570 "College Independent Escorts is Available nearby you"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-07-30 05:34] timorthi commented on #9472
I'd like to take a stab at this! Been away from the platform & codebase for a while now and this feature seems like a good way to get my feet wet again.

[2020-07-30 06:33] Danimexivasco opened #9571 "Problems viewing a published post"
**Describe the bug**

Yesterday I went to publish my first post and at the end of editing and publishing it, the following error screen appeared that I attached below. I could enter the post by copying the link and opening it in an incognito tab. However, I could not open it from a "normal" tab, being logged in or not, nor from incognito either.

**To Reproduce**

1. Go to my Dashboard
2. Click on

[2020-07-30 11:09] ludwiczakpawel commented on #9472
@timorthi go for it! 💯

I'm assigning you to this one :)

[2020-07-30 13:18] #6998 closed

[2020-07-30 13:20] rhymes commented on #8923
@eclectic-coding you've been assigned to it :) thank you!

[2020-07-30 13:24] #7408 closed

[2020-07-30 14:04] benhalpern commented on #9571
Hmmmm I'm unable to reproduce this.

Here's my guess: "google-analytics" in the URL is causing this page to be blocked by ad-block/script block browser extension or browser features some folks might have installed.

[2020-07-30 14:09] jdoss commented on #9465
@kirananto Are you running Forem in production or development mode?

[2020-07-30 14:21] kirananto commented on #9465
@jdoss I'm facing this issue in both production mode as well as development mode

[2020-07-30 15:26] garretcharp opened #9574 "Avatars not showing mobile"
**Describe the bug**

On mobile (android) while browsing the posts from the feed, the avatars on the post just shows "undefined profile" rather than a users actual avatar image. Everywhere else it seems to show just fine.

**To Reproduce**

Open the mobile app and go to the posts feed, it should say "undefined profile" where users avatars should be.

**Expected behavior**

**Screenshots**

**Deskt

[2020-07-30 15:39] #8849 closed

[2020-07-30 15:40] rhymes commented on #9574
Hi @garretcharp, thanks for the heads up, we're aware of the issue and are working on it. Will let you know ASAP

[2020-07-30 15:44] Danimexivasco commented on #9571
No fucking way... I think that you have reason Ben, I tried to solve the
problem in different devices & browsers but yes, all of this have natively
or not an ad/script blocker so now I'm reading this I thought the same as
you.

I'm sorry for the troubles that I can have caused you.

Have a nice day and thanks!

El jue., 30 jul. 2020 16:05, Ben Halpern <notifications@github.com>
escribió:

[2020-07-30 15:46] #9571 closed

[2020-07-30 16:28] lakshyabatman commented on #9532
@citizen428 , sorry I got a little occupied, I'll let you know asap. Thankyou

[2020-07-30 18:02] lisasy opened #9575 "Make users authenticating into email flow to land on Home feed, not Dashboard"
**Describe the bug**

Currently, when a user signs into Forem via the new email+password auth method, they land on their Dashboard. The more ideal experience is for them to land on their Home feed. Not only is the Home more relevant to them, but changing the flow to this will keep this in parity with Twitter/Github auth.

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please

[2020-07-30 18:38] TinBuzan commented on #143
has anyone fixed this yet? My domain settings are properly hooked up &still getting the red bar

[2020-07-30 18:56] AlbertoPdRF commented on #9502
I'm looking into this one! I may come back with a few questions later on 😛

[2020-07-30 20:02] #9489 closed

[2020-07-30 20:21] #9503 closed

[2020-07-31 03:21] timorthi commented on #9472
@ludwiczakpawel Thanks! Does the core team have any opinions on how this should look (apart from your comment about it being viable across different themes)?

[2020-07-31 03:28] nickytonline commented on #9502
Sounds good @AlbertoPdRF. I've assigned it to you.

[2020-07-31 03:29] omenking opened #9578 "Within an organization the internal view count does not to appear to be accurate"
**Describe the bug**

This could be less of a bug and more of a misunderstanding on how this view count works

In an Organization, there is a view count see example image:
<img width="885" alt="Screen Shot 2020-07-30 at 11 20 46 PM" src="https://user-images.githubusercontent.com/7776/88996506-714fe480-d2bb-11ea-9680-3df15e81c594.png">

The issue with the view count is that when running targeted ex

[2020-07-31 03:40] omenking commented on #9578
So this is what is displayed to the users

So here in the `views/dashboards/_dashboard_article_row.html.erb`  we have `page_views_count`
[code]

Checking the schema I see the following fields related to page views:

[code]

It appears that `organic_page_views_count` may be sourced from Google or the DEV Google Analytics account. So this makes me think that `page_views_count` is the views of intern

[2020-07-31 04:10] omenking commented on #9578
Okay so here is my assessment glancing through the code. I need someone on the core team here to confirm if I guessed correctly.

* The page views show on a DEV Organization is tracked exclusively using custom a js function.
* That js function is only triggered 1 out of 10 times for logged_out users and 10 out of 10 times for logged_in users
* On the server-side a logged-in user will count as 1 vi

[2020-07-31 07:36] ludwiczakpawel commented on #9472
@timorthi i don't think so to be honest. maybe just wrap the username with `<mark>` tag so it gets default browser yellow highlight.

[2020-07-31 08:38] badiali opened #9581 "Error in a saved tag #español"
**Describe the bug**

I have a tag #español saved in the section "MY TAGS" that when pressing it gives an error.

**To Reproduce**

1. Go to: [https://dev.to/t/español](https://dev.to/t/espa%C3%B1ol)

**Expected behavior**

At some point I was able to perform that search and save that tag, but it has stopped working and now I cannot delete it. Now I use the tag #spanish

**Screenshots**

![Captura

[2020-07-31 08:44] badiali commented on #4168
#9581

[2020-07-31 10:06] Ridhwana commented on #9581
Hi @badiali, thank you for your issue and apologies for the inconvenience.

I've investigated this, and we had most likely merged [this PR where we validate tag names](https://github.com/forem/forem/pull/9006) after you had created your tag, hence allowing you to use #español previously. If you look at the [validate_name method on the tag model](https://github.com/forem/forem/blob/master/app/model

[2020-07-31 10:08] #9581 closed

[2020-07-31 10:11] Ridhwana commented on #9574
Hi @garretcharp, we had fixed this issue soon thereafter, everything is working as normal now. Hence I will close this issue :)

[2020-07-31 10:11] #9574 closed

[2020-07-31 10:59] #9433 closed

[2020-07-31 16:25] benhalpern opened #9583 "Listings search doesn't work properly"
The listings type-ahead search is not functioning...

https://dev.to/listings

We recently pushed an update, but I noticed this _before_ we pushed. So it is not related to that.

I'm pretty sure it's related to `classified_listing_search` being in the query key and config etc. but `listing_search` being what we use in the request and client.

We recently migrated to `listings...` as the canonical

[2020-07-31 19:37] #9498 closed

[2020-07-31 21:51] marcysutton commented on #5670
I would add that keyboard users may never be able to reach interactive items in the footer even with fixed CSS positioning if new items keep getting injected into the tab order before it. So I would concur that removing infinite scroll is a good idea for multiple reasons!

[2020-07-31 22:13] marcysutton opened #9585 "Keyboard access and usability in Onboarding screens"
**Describe the bug**

In the onboarding flow, there's a series of screens welcoming users and prompting them to accept the Code of Conduct, agree to T&Cs, follow tags, add some bio information, and follow users. A lot of these user interface controls are reachable for accessibility due to the use of buttons and real form controls, which is excellent! But they could still use some improvements.

Th

[2020-08-01 14:15] Amorpheuz commented on #9509
Hey! While reading up on `canonical` recently, I did find out that there are two ways to implement it:
1. rel=canonical <link> tag.
2. rel=canonical HTTP header.

The [rel="canonical" HTTP Headers](https://webmasters.googleblog.com/2011/06/supporting-relcanonical-http-headers.html) work with `web search` and could help resolve this issue by allowing to send it in the response.

[2020-08-02 20:19] PELock opened #9603 "Extra CSS style for <code><a href= links"
Consider this:

[code]

or this code in editor:

[code]

In output it shows a regular code chunk, without any indication it's actually a link, no underline, no hover effect. Consider adding some sort of indication it's a link (maybe dotted underline with some other background color for the ```<code>``` element?

[2020-08-03 00:03] redencion commented on #8167
Hi guys, may  I work with this issue ?

[2020-08-03 00:09] nickytonline commented on #8167
@redencion, @dengaku12 is working on this.

[2020-08-03 01:00] timorthi opened #9604 "Docker setup: Unable to run 'seed' or 'sidekiq' containers due to "Received 403 from http://web:3000""
**Describe the bug**

I'm unable to set up the project using docker-compose on macOS. Once the `dev_web` container is running the Rails server, the `dev_seed` and `dev_sidekiq` containers print out the following error:
[code]

The 403 keeps `dockerize` in its "wait" loop because it's [expected behavior](https://github.com/jwilder/dockerize/blob/master/main.go#L138). Out of curiosity I ran a cURL c

[2020-08-03 03:36] Rafi993 commented on #9270
Hi there, I have been cauthup in other things lately. I'll just remove my self as owner from this issue and comeback later if this issue is still there. Thank you @rhymes

[2020-08-03 04:52] pathiknd commented on #8425
Same for me too. My view counter has been frozen for 40-45 days. I have published new content and it has been viewed. Earlier also the view counter updated randomly. Someday it would update and then would stop for few days and then suddenly you would see updated count, but it has not changed for at least 40-45 days for me.

[2020-08-03 13:21] nickytonline commented on #9365
@Zhao-Andy or someone who has access to the Netlify dashboard will have to handle this.

[2020-08-03 14:22] kfatmakausar opened #9607 "Add a 'Back to Top' Button on homepage"
**Is your feature request related to a problem? Please describe.**

Sometimes the feed can get pretty long so I was suggesting a 'Back to Top' button on the home page

**Describe the solution you'd like**

The 'Back to Top' button would allow the user to go back up to the start with just one click and I was thinking the button would appear once the user started scrolling on the home page

[2020-08-03 15:18] #9583 closed

[2020-08-03 15:46] mstruve commented on #8243
https://github.com/forem/forem/pull/8891

[2020-08-03 15:46] #8243 closed

[2020-08-03 15:50] qojrag-muCroj-4demru commented on #8243
#[![image](https://user-images.githubusercontent.com/68495777/89201431-7cd33200-d57f-11ea-9d1e-6e4c12809f96.jpeg)]()

[2020-08-03 17:27] diago2020 opened #9612 "Yo@dev.to"
Ineedsomehelprightnowbehindmushed

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-08-03 17:29] diago2020 commented on #9612
Reproduce

[2020-08-03 17:45] diago2020 commented on #9612
Whatmush

[2020-08-03 21:38] LayZeeDK opened #9617 "Open Dyslexic font broken on DEV Community"
**Describe the bug**

I have enjoyed the Open Dyslexic font for a while. A few months ago it stopped working.

**To Reproduce**

1. Pick "Open Dyslexic" font from Settings > UX.
2. Open any article.
3. Font used is not Open Dyslexic.

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: Windows 10
- Browser: Chrome 64-bit
- Version: 84

**Smartpho

[2020-08-03 22:11] jessleenyc opened #9619 "Ability to Lock Threads"
**Is your feature request related to a problem? Please describe.**

Give admins and users the ability to 'lock' comment threads.

**Describe the solution you'd like**
- Admin can lock comments on an article - possibly through internal/articles?
- User can lock comments on their article - possibly through their dashboard?
- There should be a visual cue to readers that the comment thread is locked.

[2020-08-03 22:19] jessleenyc opened #9620 "Forem Staff Flair"
**Is your feature request related to a problem? Please describe.**
Ability to toggle on staff flair for the forem's operators. We currently have an 'author' flair as an example:

![](https://p193.p3.n0.cdn.getcloudapp.com/items/wbu7ykoX/Image%202020-08-03%20at%206.14.14%20PM.png?v=fc5b482f3ac7f98384fd3922dba26a9c)

**Describe the solution you'd like**
- Add an area for admins to toggle whether or

[2020-08-03 22:21] vaidehijoshi commented on #9620
+1 for a little ~badger~ _badge_ for core team/staff!! love this idea so much

[2020-08-03 22:34] pkfrank commented on #9620
Probably a stretch aspect to this feature, but I think it would be nice to be able to toggle this on a _per post_ or _per comment_ basis.

I might want to mostly participate without the flair, but enable it if there's a certain situation where I'd like to add more gravitas and authority by enabling the flair.

[2020-08-03 22:44] jessleenyc commented on #9620
@pkfrank that's a great point - I adjusted my description.

[2020-08-04 00:40] redencion commented on #1446
Hi guys! I would like check it, May I?

[2020-08-04 01:19] Zhao-Andy commented on #9365
Resolved via #9618 and #9622

[2020-08-04 01:19] #9365 closed

[2020-08-04 02:02] jdoss commented on #9604
What was the full response from your curl command?

[2020-08-04 03:07] timorthi commented on #9604
@jdoss Here are the headers:

[code]

The response body was a HTML render of the home page. I didn't see anything out of the ordinary on the `dev_web` container's stdout.

[2020-08-04 03:13] citizen428 commented on #1446
Sure, I'll assign you the issue @redencion, thanks for volunteering! 😃

[2020-08-04 03:14] jdoss commented on #9465
If you are switching back and forth between development and production you might want to try nuking your `assets` and `packs` directories and see if that helps.

As for running Forem in production mode, I wouldn't even use the `docker-compose` for anything other than development. Webpacker shouldn't be running in production mode either. If you want to play around with docker-compose in production

[2020-08-04 03:27] jdoss commented on #9604
What happens if you enter into the sidekiq container while it is in the loop and run the curl from there?

[code]

and report back.

[2020-08-04 03:51] timorthi commented on #9604
Here is the HTML body:

[code]

[2020-08-04 04:26] jdoss commented on #9604
Burn down everything `docker-compose down` and thedn pull https://github.com/forem/forem/pull/9624 and run `container-setup` again.

[2020-08-04 06:13] timorthi commented on #9604
@jdoss It worked, thank you! Had to `docker volume prune` to reset the Postgres user, but otherwise the `seed` container did its thing and `sidekiq` is up and running 💯

[2020-08-04 07:03] jdoss commented on #9604
Wonderful! I'll close this issue and get that PR merged tomorrow.

[2020-08-04 07:03] #9604 closed

[2020-08-04 08:07] Ridhwana commented on #9617
This is a duplicate of https://github.com/forem/forem/issues/9194. If there is any more information on the issue, feel free to add it there.

[2020-08-04 08:07] #9617 closed

[2020-08-04 09:04] ludwiczakpawel commented on #9620
@pkfrank this sounds familiar to what Quora does with "credentials" - when you answer a question you can choose a credential which is basically some of your profile info that you think makes you a credible person to answer this question. I think we could eventually have some sort of it. Here's a video: https://d.pr/v/n2tEXe

---

Overall I think having a badge is a good idea - definitely one for "

[2020-08-04 09:23] ludwiczakpawel commented on #9619
@jessleenyc should that be an option for Mods as well? So they can close comments on someone's article?

[2020-08-04 13:43] jankeromnes opened #9627 "Please re-enable Gitpod prebuilds to skip 20 minutes of waiting"
**Is your feature request related to a problem? Please describe.**

When I open Forem in Gitpod, the dev setup is fully automated (which is fantastic), but the setup is not executed ahead-of-time, so I have to wait a long time before my workspace is fully compiled and ready.

**Describe the solution you'd like**

Please configure https://github.com/apps/gitpod-io for https://github.com/forem/forem

[2020-08-04 14:02] jessleenyc commented on #9619
@ludwiczakpawel I think that _could_ be an option but if so, I'd like to add a config so that admins can decide whether or not mods can take that action, or what types of mods could. For example, I could see us potentially giving tag mods that ability, but definitely not our general community mods.

[2020-08-04 15:03] Ridhwana commented on #9559
NOTE: We'll be adding this to `app_initializer:setup forem:setup` + some explanation in the docs, once [this PR](https://github.com/forem/forem/pull/9605) gets merged.

[2020-08-04 15:41] pkfrank commented on #9620
Wow, looks amazing @ludwiczakpawel, I love the thinking here.

[2020-08-04 16:47] justin22 opened #9629 "Footer appears twice on dev.to for unauthenticated users"
**Describe the bug**

Website footer appears twice, one below the other in some scenarios.

**To Reproduce**

1. Go to homepage
2. Click on 'see all' for listings from the right side
3. In the listings page, click on create or manage actions.
4. The login page will be the next, and there are 2 footers in the page

**Expected behavior**

1. There should be only 1 footer

**Screenshots**

![UN2XLVgk

[2020-08-04 19:15] tylerauerbeck commented on #1299
Has any work been started on this? I'm interested in seeing this feature added and (sadly) noticed that the future label was removed. I'd be happy to start hacking around on this and would be happy to pick up on any exising work if there is any.

[2020-08-04 23:59] benhalpern commented on #9509
To bring some clarity to this conversation.... the canonical tag _is_ in the body. This was discussed here. https://github.com/forem/forem/issues/5156

I think we should add a comment on the page to prevent further confusion.

If you run the page with service workers turned off...

<img width="706" alt="Screen Shot 2020-08-04 at 7 54 56 PM" src="https://user-images.githubusercontent.com/3102842/89

[2020-08-05 04:30] citizen428 commented on #9509
Then who is the tag in the body for? The reason I'm asking is that maybe instead of adding a comment explaining all of this, maybe we just remove completely for the internal navigation case.

[2020-08-05 05:03] timorthi commented on #9465
Chiming in here to report that I'm experiencing a similar (or the same?) issue using Docker on macOS - I'm getting a 404 on all the compiled JS.

![Screen Shot 2020-08-04 at 9 32 00 PM](https://user-images.githubusercontent.com/5664347/89372360-cfedd780-d69a-11ea-901e-2106f93ac57e.png)

The screenshot above was also for the 'Write a post' page, but the 404s occur on every page where any compiled J

[2020-08-05 09:51] rhymes commented on #9575
To our awesome contributors, please note that this issue will be worked on by a Forem team member and is not up for grabs.

[2020-08-05 11:39] uzair004 opened #9635 "App crashes immediately (can't open)"
**Bug Description**

related to DEV android app
Can't open App , crashes immediately when clicked.
**_Error Message_** "_Unfortunately DEV stop working_"

**To Reproduce**

1. Update Android System Web view to _version 84.0.4147.111_
2. Update DEV android app to _version 1.4.1_
3. Click app to open it.

**Expected behavior**

Clicking app should open it to be used as intended. should let user view

[2020-08-05 12:38] omenking commented on #9509
Just explained in another way here.

The original DEV page renders the meta tag in the header.

DEV uses a service worker to add progressive web app (PWA) features. PWA Service workers offer rich offline experiences, periodic background syncs, push notifications, functionality that would normally require a native application or features eventually coming to the web. Service workers provide the tec

[2020-08-05 12:45] blueberryillustrations opened #9637 "blueberryillustrations Accoutn not working"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-08-05 12:58] benhalpern opened #9638 "Video jump when load"
Video posts do not alot the appropriate space for the video until it loads, causing a jump in the page and an overall inelegant experience.

Example... https://dev.to/github/good-first-issues-with-next-js-hfg

Fix would be to create space in some capacity using aspect ratios and breakpoints similar to how cover images are used. Aspect ratio on the video area is around 0.56 height over width.

I've

[2020-08-05 13:13] omenking commented on #9509
I am still uncertain. Google does execute javascript, and my developer's brain says to me I would assume their crawler ignores service objects but does it really?

https://developers.google.com/search/docs/guides/javascript-seo-basics

Here is a fresh article on DEV:

<img width="1246" alt="Screen Shot 2020-08-05 at 9 07 20 AM" src="https://user-images.githubusercontent.com/7776/89416332-1bd06900-

[2020-08-05 13:21] omenking commented on #9509
Just to rule out "fresh" or google taking time to cache, here is another one I just pulled at random:

Here it looks like it doesn't have a canonical URL

<img width="1244" alt="Screen Shot 2020-08-05 at 9 16 13 AM" src="https://user-images.githubusercontent.com/7776/89417219-64d4ed00-d6fc-11ea-9659-85c5e4e32205.png">

Checking the source code there is a canonical URL

[code]

<img width="1029" al

[2020-08-05 13:25] omenking commented on #9509
Here is something I know I published first on Hashnode.

<img width="1248" alt="Screen Shot 2020-08-05 at 9 23 26 AM" src="https://user-images.githubusercontent.com/7776/89417917-5b985000-d6fd-11ea-8676-fc5149811ed3.png">

So here is both. I thought the canonical URL made it so only that original source shows up, so why do both show up and why is DEV first?

<img width="1255" alt="Screen Shot 2020

[2020-08-05 13:39] ludwiczakpawel commented on #9619
Another thing that popped in my mind: When post authors lock the thread, will they still be able to add new comments OR reply? Same question for other user types (mods, admins).

Also, if mod/admin locks the thread, should post author still be able to add comments or reply?

Another thing to consider - when thread is locked by admin or mod, we should probably send notification to post author.

[2020-08-05 13:45] rhymes commented on #9607
This is similar to https://github.com/forem/forem/issues/2618, maybe we should keep only that one @kfatmakausar ?

[2020-08-05 14:02] omenking commented on #9509
https://dev.to/yujiri8/how-can-i-tell-if-my-canonical-urls-are-working-4l6p

So I'm just not sure if this is normal behaviour or something we can figure out but at least I'm not the only one confused on the matter

<img width="756" alt="Screen Shot 2020-08-05 at 10 01 14 AM" src="https://user-images.githubusercontent.com/7776/89421940-aec0d180-d702-11ea-88ce-fc8a346b7604.png">

[2020-08-05 14:08] kfatmakausar commented on #9607
I was actually working on that issue until someone suggested it be closed because the side bar is already made 'sticky' @rhymes

[2020-08-05 14:12] omenking commented on #9509
Okay so this is interesting
https://support.google.com/webmasters/answer/139066?hl=en

<img width="747" alt="Screen Shot 2020-08-05 at 10 09 53 AM" src="https://user-images.githubusercontent.com/7776/89422902-e7ad7600-d703-11ea-8593-ae6b5de864a7.png">

That tool I think can only be used on domains that you have managed in your webmaster tools. So I can't check the DEV or original URLs. I'd have to

[2020-08-05 14:17] rhymes commented on #9629
Hi @justin22, I can't reproduce, it might have been a temporary caching issues. Does it still happen for you?

[2020-08-05 14:23] justin22 commented on #9629
Yes, It sill happens. I tried in incognito now.
Note: I do not have an account in dev.to, I'm trying as un-authenticated user.
Issue is on the page once landed, https://dev.to/listings/new.
and if I try a hard refresh once I'm on this page, the footer appears only once. So may be caching issue.

[2020-08-05 14:46] rhymes commented on #9637
Hello @blueberryillustrations, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-08-05 14:46] #9637 closed

[2020-08-05 14:47] rhymes commented on #9607
@kfatmakausar make sense, let's keep this open! Thank you for the clarification

[2020-08-05 14:53] rhymes commented on #9629
@justin22 thanks for the tip! I can reproduce it now:

![double_footer](https://user-images.githubusercontent.com/146201/89427949-1d6e5100-d73c-11ea-955d-5fd2308fc1db.gif)

[2020-08-05 15:22] fdoxyz commented on #9635
Hello @uzair004 thank you for the report. Sorry to hear about this, on newer Android versions we're not seeing this problem but we'll investigate so we can try and keep the app as backwards compatible as possible.

I recreated this issue over in the Android repo so we can keep track of it over there, closing this now.

[2020-08-05 15:22] #9635 closed

[2020-08-05 15:32] jdoss commented on #143
@TinBuzan What exact errors are you seeing? When you say your domain settings are properly hooked up, what does that exactly mean? Are you self hosting Forem?

[2020-08-05 17:34] kfatmakausar commented on #9607
I'd like to work on the issue

[2020-08-05 18:00] dev-encourt opened #9642 "DEV inaccessible on Vivaldi due to Service Worker"
**Describe the bug**
A user wrote in...
"Every couple of days, I can't browse dev.to. I found out it's related to the service worker you register (in screenshots). When I manually unregister the SW (from dev tools) the website works again."

**Expected behavior**

DEV.to should be accessible using Vivaldi .

**Screenshots**

![image](https://user-images.githubusercontent.com/51792350/89446886-1e46

[2020-08-05 18:35] joshpuetz commented on #9627
Tagging @forem/repo-admin to make this change

[2020-08-05 19:24] mstruve commented on #9627
The Gitpod app was configured and hooked up to the Forem repo which according to the docs https://www.gitpod.io/docs/prebuilds/ makes it seem like it should "just work" and prebuild. I am not seeing other options when I configure the app beyond Read and Write access for the repo. I think the transfer might have borked something so I uninstalled and reinstalled the Gitpod, waiting on repo owner app

[2020-08-05 20:14] ludwiczakpawel commented on #9619
Some initial explorations of flows for post author and mods: https://www.figma.com/file/7JNGZfliyJpRRKN0QHQFf1/Locking-comments?node-id=1%3A2

[2020-08-05 21:15] stereoplegic opened #9644 "Ability to block user on profile page or from comment directly"
**Is your feature request related to a problem? Please describe.**

I never thought I'd say this about DEV, but I recently got into a comment fight more akin to Reddit. For my part, I'll admit that I kept replying for far longer than I should have. I believe the ability to use blockquote in replies is critical, but the user in question proceeded to edit a comment I quoted and insinuate that I was

[2020-08-05 22:17] jkrsn98 commented on #6526
I'd like to try working on this issue

[2020-08-06 01:19] TheJaredWilcurt opened #9646 "Add Twitter Link to settings page (NOT OAUTH)"
**Is your feature request related to a problem? Please describe.**

I want to have a link to my twitter profile show up below my posts. Currently the only option for this is to give DEV permissions to access my Twitter account, which is a completely unnecessary invasion of privacy and security in exchange for an `<a>` tag.

**Describe the solution you'd like**

Twitter should be a field in the Lin

[2020-08-06 01:37] TheJaredWilcurt commented on #9220
The `Links` section should be reduced to a list of input fields where you can input any link. Then auto-detect if it is one of the "known" options and display a favicon for it. If you are worried about spam accounts putting spam links there, then just have a list of known-good domains, and others can be "pending approval". But this would fix the following issues:

* <img alt="Glitch icon" src='htt

[2020-08-06 03:12] citizen428 commented on #9644
Thanks for the report @stereoplegic and sorry that you had a bad experience on DEV!

You can already block a user directly from their profile page, even though it is a bit hidden in the "dot menu":

<img width="1271" alt="Ben_Halpern_-_DEV_Community_👩💻👨💻" src="https://user-images.githubusercontent.com/47985/89485922-0b3bf380-d7cc-11ea-9215-989f76122ce0.png">

Additionally, if you think that this u

[2020-08-06 06:19] rhymes commented on #6526
Hi @jkrsn98, go ahead, I've assigned you the issue. Let us know if you need any help

[2020-08-06 06:31] zfett opened #9647 "[Dev.to] - Profile header height too small for infobox"
**Describe the bug**

On my dev.to profile (@zfett), my infobox on the right of my header has a vertical scroll due to the height. Using Firefox Version 79.0 64-bit. Tested in Edge with the same result.

**To Reproduce**

1. Fill out enough information in your infobox, try filling out your email, work, location, and education.
2. Visit your profile page
3. Height should overflow on Firefox.

**Exp

[2020-08-06 06:32] zfett commented on #9647
I'd also like to note, I loaded my page in a private window where I was not logged in, and got the same result. It seems to be exclusively a CSS issue.

[2020-08-06 07:30] Amorpheuz commented on #9647
I would like to work on this issue!

[2020-08-06 07:40] stereoplegic commented on #9644
Yeah, I swear I looked there are didn't see it. 🤦🏼‍♂️ I'll chalk it up to a busy work day coupled with the aforementioned distraction. Please don't block Ben just to help me. 😉

[2020-08-06 07:40] #9644 closed

[2020-08-06 07:51] rhymes commented on #9647
@Amorpheuz sure! I suspect our designers @ludwiczakpawel and @lisasy might have directions here. I might be wrong but having an ever growing header height might be an issue if people start putting lots of text there.

[2020-08-06 07:54] Amorpheuz commented on #9647
Great! I was thinking of getting their opinions on the same too before I started working on this. Will wait for their guidance!

[2020-08-06 08:21] ludwiczakpawel commented on #9647
@rhymes @Amorpheuz this is something we're literally looking into at this very moment - we're working on little fixes for profile and this is one of the things on my plate right now. So this time I may just claim this one and assign myself. Is that ok?

[2020-08-06 08:27] Amorpheuz commented on #9647
That's great, I don't mind if you claim it! I was personally encountering the same issue when I enabled too many things on my profile too 😬. Excited to see the fix for the same. ♥

[2020-08-06 08:47] rhymes commented on #9607
@kfatmakausar go ahead, I've assigned it to you

[2020-08-06 08:55] #6938 closed

[2020-08-06 09:18] ludwiczakpawel commented on #9220
@MenaiAla

1. I believe this issue has been already fixed. We now show "SAVE" button attached to the bottom edge of the browser WHEN you make a change in any field. I believe it works on pages: `/settings/profile` and `/settings/ux`.

2. Having autocomplete for _some_ fields definitely makes sense. But in terms of this particular field we first have to figure out whether or not this should be auto

[2020-08-06 09:39] rhymes commented on #9287
The `Links` section should be reduced to a list of input fields where you can input any link. Then auto-detect if it is one of the "known" options and display a favicon for it. If you are worried about spam accounts putting spam links there, then just have a list of known-good domains, and others can be "pending approval". But this would fix the following issues:

* <img alt="Glitch icon" src='htt

[2020-08-06 09:39] rhymes commented on #9220
@ludwiczakpawel regarding #3 they did:

- Reduce scrolling for saving: https://github.com/forem/forem/issues/9240 which was partially addressed by https://github.com/forem/forem/pull/9378  https://github.com/forem/forem/pull/9478
- Settings: add autocompletion for skills: https://github.com/forem/forem/issues/9259
- Emphasize common URLs which is what @TheJaredWilcurt mentioned https://github.com/

[2020-08-06 09:39] #9220 closed

[2020-08-06 10:47] ludwiczakpawel commented on #9287
Here's an idea of how the UI/UX could look like:

![image](https://user-images.githubusercontent.com/108287/89522842-29ace980-d7e2-11ea-84d0-441acbaa6186.png)

And also bunch of icons I could ship like right away (since as of today, we prefer to store icons in our repo):

![image](https://user-images.githubusercontent.com/108287/89523362-ff0f6080-d7e2-11ea-8573-88a440b28204.png)

[2020-08-06 10:48] rhymes commented on #8425
Hi @EwertonJordao, @mrshawnhum, @pathiknd I started looking into this and I'd like to confirm with you some data to better understand what's going on, though I'm starting to have my suspicions.

Let's start from the beginning, not page views tracked are displayed. We do sample them:

https://github.com/forem/forem/blob/dbbe158d21caabfffa2c7c5c56ebc2e615fc9fda/app/controllers/page_views_controller.

[2020-08-06 11:21] Amorpheuz commented on #9638
I would like to work on this!

[2020-08-06 11:22] rhymes commented on #9638
Go ahead, I've assigned it to you

[2020-08-06 18:43] martingbrown opened #9654 "Sign in with Microsoft account"
**Is your feature request related to a problem? Please describe.**
If I sign in with Twitter or Githup I have to remember my password. I use a windows PC and am always signed in with my MS account already.

Same as twitter / github but using MS as the auth provider.

**Additional context**

[2020-08-06 22:21] zfett opened #9657 "[Dev.to/Cloudinary] Dev.to's conversion of inline images in posts breaks GIFs."
**Describe the bug**

When using a inline GIF image in a post, it will break and not even display when Cloudinary adds its processing tags to the URL.

Original URL: https://res.cloudinary.com/practicaldev/image/fetch/s--7OyYyryz--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_880/https://i.imgur.com/iRlhS4z.gif

Fixed URL: https://res.cloudinary.com/practicaldev/image/fetch/s--7OyYyryz--/https://i

[2020-08-06 22:22] beeman opened #9658 "The Series list is showing empty series (with 0 articles)"
Today I saw there is a page that shows the users' series. While this is awesome, I think it would be even more awesome if it would not show the empty articles.

In my case, as seen in the screenshot, I have a few series that are there as work-in-progress, I'd love those not to be visible until they have at least one post published. In another case, a series appears double. Probably because I recre

[2020-08-06 23:55] djamaile commented on #5932
@sahaldos1 are you still working on this? Else I can take it.

[2020-08-06 23:59] b3u commented on #5932
@djamaile there's a PR waiting for approval. See here: https://github.com/forem/forem/pull/9421#issuecomment-662952559

[2020-08-07 00:01] sahaldos1 commented on #5932
@djamaile like @b3u said, I actually finished it and submitted a pull request. It’s just pending approval.

[2020-08-07 00:32] djamaile commented on #5932
Ah sorry, good luck ❤️ @sahaldos1

[2020-08-07 03:03] citizen428 commented on #9644
Nah, he had it coming anyway 😉

[2020-08-07 03:41] EwertonJordao commented on #8425
Thanks for this. But why we have a delay to see this data? I use Rest Api of dev.to and page count is the same as the dashboard, so where's data and how you collected this? we can read this too?

[2020-08-07 04:17] Rafi993 opened #9659 "Do not select Dollar sign in shell command when double clicked"
When you double click to select shell command dollar sign at the front also gets selected. It should be excluded

**Describe the solution you'd like**

Exclude the dollar sign when selecting a shell command

**Describe alternatives you've considered**

**Additional context**

![command](https://user-images.githubusercontent.com/8092120/89608358-9089db80-d892-11ea-898c-cdc531def5da.gif)

When you d

[2020-08-07 04:21] Rafi993 commented on #9659
Wow I did not know github-actions can reply. I thought they could only do simple checks.

[2020-08-07 05:52] sai-bhargav commented on #9629
Hey,

In `app/views/devise/registrations/_registration_form.html.erb:59`
changing `<div style="height:300px" />` to `<div style="height:300px"></div>`  fixes the issue.
wanted to check my understanding, because I'm not entirely sure why it seems to work.

my obervation so far is, self-closing tag for div is not a valid HTML format (from https://validator.w3.org/nu/). Since its an open tag, it sear

[2020-08-07 09:03] rhymes commented on #9658
@beeman go ahead! I think we can start by only showing series that have at least one article in the public series page.

You can find the code that selects series here: https://github.com/forem/forem/blob/master/app/controllers/collections_controller.rb and its tests here https://github.com/forem/forem/blob/master/spec/requests/collections_spec.rb (maybe you can add a test to make sure that series

[2020-08-07 09:11] codingtagofficial opened #9660 "How to Back up your Gmail?"
Taking back up of your mailbox is imperative. If you are not habitual of taking backup regularly, your mailbox gets piled up with lots of emails. These emails may not be relevant to you for immediate use, but on the other hand, these are not so irrelevant that they can be deleted permanently. In this blog, I will demonstrate how to bakup your Gmail.

You must be wondering, why one should backup Gm

[2020-08-07 09:18] rhymes commented on #9629
@sai-bhargav seems to be working for me, do you want to contribute a PR?

[2020-08-07 09:33] #9660 closed

[2020-08-07 10:03] rhymes commented on #9659
Hi @Rafi993, thanks a lot for taking the time to highlight this but I feel like we're in default browser territory.

If I write:

[code]

or

[code]

or

[code]

or

[code]

double click will correctly select the entire row. I don't think we should mess with that.

In addition to it, the prompt is just a convention, mine for example is the last one, which is a Unicode character.

For that reason I

[2020-08-07 10:19] Rafi993 commented on #9659
I think you are right. Ideally this should be a zsh extension that would remove $ sign when pasting (which is not related this this repo).

[2020-08-07 10:19] #9659 closed

[2020-08-07 12:34] emgoto commented on #4686
Sorry, bit of a delay on this one! I've fiddled around with trying to add the `<clipboard-copy>` web component in from inside of `markdown_parser.rb`, but it doesn't seem to be functional (clicking the button to copy does nothing). I'm not sure if this is because it is being server-side rendered.

I'm thinking the workaround would be to attach the web component in on the client side, so I'll see i

[2020-08-07 13:07] #9629 closed

[2020-08-07 15:19] jankeromnes commented on #9627
Many thanks @mstruve for looking into this! I think uninstalling & reinstalling did the trick, as we're seeing Forem prebuilds triggered on our side:

[code]

🎉

And indeed trying to open Forem in Gitpod right now shows the latest prebuild is in progress:

![Screenshot 2020-08-07 at 17 14 16](https://user-images.githubusercontent.com/599268/89660325-7cb19a00-d8d1-11ea-9e46-2c082e6f1b8a.png)

FYI,

[2020-08-07 15:19] #9627 closed

[2020-08-07 15:58] JulianBroudy commented on #9034
@ludwiczakpawel hi again, just checking in...

[2020-08-07 18:13] michael-tharrington opened #9674 "Rate limiting on update article endpoint triggering earlier than expected (DEV API)"
**Describe the bug**

A user wrote in to report that they are "noticing 429 errors returned from the [update article endpoint](https://docs.forem.com/api/#operation/updateArticle), well before the stated rate limit of 150 requests per 30 seconds."

**To Reproduce**

See screenshot attached below for full details.

**Expected behavior**

They expect not trip the rate limit when under the 150 reques

[2020-08-07 19:57] saramccombs opened #9676 "Search for exact article title not returning article as expected"
**Describe the bug**

Using both mobile DEV app and web DEV, a search for an exact article title does not yield the expected article at the top of the search results.

Knowing the article was posted today, August 7th, I selected the "newest" filter and expected the result to be at the top, however, the result was quite far down in the list. Maybe the 40th + article listed.

Using the "Most relevan

[2020-08-07 21:28] Link2Twenty opened #9679 "Writing Streak Progress"
**Is your feature request related to a problem? Please describe.**

When writing it would be nice to know how far along you are to the next streak badge.

**Describe the solution you'd like**

Have a screen that say "you are currently on a 6 weeks streak, only 2 weeks until you unlock your 8 week streak badge"

**Additional context**

I think I'm on a streak but I posted a post with a 170 hour spa

[2020-08-07 23:38] yozlet commented on #1299
@tylerauerbeck Given that it's pretty quiet on this thread, maybe the best way is to try starting a PR? It doesn't need to be complete, just enough to get more solid feedback. I haven't done any Rails in a couple of years, but I can offer a couple of hours to make tests and that kind of thing.

CCing @rhymes in case they have more to say on the `future` label removal.

[2020-08-08 06:23] rhymes commented on #9676
Hi @saramccombs, thanks for raising this bug, I think in the meantime you can use quotes for the title with `"Simple Git Workflow for Beginners"`, see https://dev.to/search?q=%22Simple%20Git%20Workflow%20for%20Beginners%22

[2020-08-08 06:26] rhymes commented on #1210
Closing this as I don't think it's still an issue. Let me know if I was wrong

[2020-08-08 06:26] #1210 closed

[2020-08-08 06:29] rhymes commented on #9679
Hi @Link2Twenty - I reckon this is sort of a duplicate of https://github.com/forem/forem/issues/9210

Let me know if it's not

[2020-08-08 06:32] rhymes commented on #1299
@yozlet we removed the `future` label entirely because it was a bit unclear and we'de prefer to rely on approved features vs non approved. I think coming up with a plan or MVP PR is probably easier yes. Adding the concept of co-authors is a bit tricky for all the reasons you've enumeated in the past @yozlet

[2020-08-08 06:41] tylerauerbeck commented on #1299
@yozlet @rhymes Thanks for the details. This was mostly trying to feel out where things currently stand and see if I was missing a larger reason that this wasn’t being worked. I’m happy to begin an MVP PR here as I have time.

[2020-08-08 08:11] Link2Twenty commented on #9679
You're 100% right, I did a search for writing streak specifically not just badges 😅

[2020-08-08 08:12] #9679 closed

[2020-08-08 12:53] nitya opened #9683 "dev.to announcements banner hides "chat invitation" notifications in chat window"
**Describe the bug**

**Context**
When a user is invite to a private chat channel, they are alerted to invite via a visual notification.
This is delivered via an indicator (shown by a users icon) in the chat session _sidebar_ menu (top left)
Users need to see and accept the invite in order to join the channel (and this is the ONLY notification)

**Bug**
 When the announcement banner is shown, it e

[2020-08-08 13:38] omenking opened #9684 "Title in New Article Editor is cut off on Windows 10"
**Describe the bug**

CSS issue on heading field for new article

**To Reproduce**

When I am use the new article editor
And I am on Windows 10 Chrome
And I go to create a post
The title is being cut off due

**Expected behavior**

**Screenshots**

![wierd-clipping](https://user-images.githubusercontent.com/7776/89711822-a7940080-d95a-11ea-923f-0b619a07de02.png)

**Desktop (please complete the fol

[2020-08-08 13:39] omenking commented on #9684
And if you're wondering I did check to make sure my browser was not zoomed in eg: Command + 0.

[2020-08-08 14:38] fennecdjay opened #9685 "Replit tag seems broken"
**Describe the bug**
Replit embedding seems broken, one can not see what he types.
I tried a few themes, and it does not seem not change this behavior.

**To Reproduce**
Simply embed a repl
[code]

**Expected behavior**

We should be able to see what is typed in th replit console.

**Screenshots**

I have no screenshot, but there's my post showing the problem:
https://dev.to/fennecdjay/is-replit-t

[2020-08-08 15:34] rhymes commented on #9685
Interestingly enough it seems to be broken, at least for me, only in Firefox. I can see it in Chrome

[2020-08-08 17:45] Link2Twenty commented on #9684
Hmm, I can't make it do that.
Does it still do it if you try it in an incognito window?

[2020-08-08 18:20] Link2Twenty commented on #9487
Looking at the [documentation](https://help.slides.com/knowledgebase/articles/254996-embedding-decks) the liquid tag just needs to load in an iframe.

We would need username, slide name, a start page (default 0), theme (default dark).

To match current convention we'd do something like this.

[code]

Which would fill in this URL
[code]

[2020-08-08 18:31] Link2Twenty commented on #9620
These flares seem very scalable. I think it goes without saying it should be written in such a way that flares are easy to add in the future. Maybe add a flare for a comment that earns a "Beloved comment" badge.

[2020-08-08 18:49] Link2Twenty commented on #9607
Have there been designs done?

It makes sense to for the button to match the `Skip to content` and `Write a post` button style but on mobile I'm not sure where it would work best. Convention is bottom right but that will cover the save button of a post low down on the page but perhaps that is ok.

[2020-08-08 19:22] omenking commented on #9684
I don't understand the logic. You have to be logged in to see the page.

[2020-08-08 19:25] Link2Twenty commented on #9684
I'm just ensuring there aren't any plugins changing the default styles.
Incognito disables all plugins.

[2020-08-08 19:57] Link2Twenty commented on #2154
I was thinking about this and storing themes as CSS is fine. We could read that CSS with ~XMLHttpRequest~ fetch and do some work with it in the front end.

The only problem I've had with the theme changing is that it does not happen instantly when you press save. I think we could do something like this this.

[code]

Here's it working in practice

https://jsfiddle.net/link2twenty/5nu80tph/

[2020-08-08 22:09] Link2Twenty commented on #9362
I believe this is mobile in general not just android. It's caused by `crayons-article-actions` being `position: fixed;`.
A simple solution would be to increase padding bottom of `crayons-footer` by the 56px. Though you would only want to do this on a page where the article actions appear.

Something like this:
[code]

An alternative solution would be to move `crayons-layout__sidebar-left,` in the

[2020-08-09 00:27] vaidehijoshi commented on #9683
Hi, @nitya! 👋 I was able to reproduce this since we currently have an active announcement on our site right now 😉

It looks like, with the `Fixed to window` setting for the site navbar, this isn't an issue:
<img width="1732" alt="Screen Shot 2020-08-08 at 5 16 49 PM" src="https://user-images.githubusercontent.com/6921610/89722187-7556c300-d99b-11ea-96f3-5b9f8734809a.png">

However, with the `Stati

[2020-08-09 09:31] leewynne commented on #9683
👋🏼 yep definitely have had this issue on thisMMAlife but thought it was isolated to me! Great find 😎

[2020-08-09 17:23] Rafi993 commented on #9270
Hello there, I'll take up this issue again if it is not solved yet.

[2020-08-09 20:54] caleb15 opened #9707 "Editing errors should also be displayed in the preview tab"
**Describe the bug**

Clicking on preview does nothing. In the console I see:
`POST https://dev.to/articles/preview 422`

**To Reproduce**

1. Go to a article draft / start writing new article
2. Click on preview

**Expected behavior**

A preview to appear

**Screenshots**

**Desktop (please complete the following information):**

- OS: Ubuntu 18
- Browser: Chrome
- Version: Version 84.0.4147.105

[2020-08-09 20:55] caleb15 commented on #9707
Specifically it happened with my article https://dev.to/caleb15/how-to-never-forget-you-re-in-production-1ma1-temp-slug-5547366?preview=0e327e013f1505cb48a88dea77c83c895055e40ab45288a6d7bcb971c6f0218e3a2b58cf56bce579d3b1206a554a65b2ee1316654b616714797df2bd

The behavior just changed. Before nothing happened when I click preview but now I see a warning in addition to the 422 error:
[code]

[2020-08-09 20:58] caleb15 commented on #9707
Ah, I see the problem. The warning appears at the top of the draft but if you are scrolled down to a lower part of the article you will not see the warning. The warning should appear outside the scope of the textarea so you can see it wherever you are in the page.

[2020-08-09 20:59] caleb15 commented on #9707
Also the warning was because I had a {{ key_names }} in my article. I put it in backticks and the warning went away: `{{ key_names }}`

[2020-08-09 21:01] caleb15 commented on #9707
Example:

Scrolled down, can't see error!
![image](https://user-images.githubusercontent.com/46505081/89741734-a6410180-da48-11ea-988c-aea25679c4ec.png)

Scrolled to top, can see error:
![image](https://user-images.githubusercontent.com/46505081/89741742-af31d300-da48-11ea-84a9-0016206cf07f.png)

[2020-08-09 21:08] caleb15 commented on #9707
I thought about it a bit more and ideally I think the error would be placed in the preview tab after switching:

![image](https://user-images.githubusercontent.com/46505081/89741847-95dd5680-da49-11ea-8075-a02dd973e801.png)

By switching to preview you:
A) ensure error is seen
B) still fit in with user's expectations - user expects to see preview, they get preview.

It would also be nice to show w

[2020-08-10 03:07] Rafi993 commented on #9270
Thanks @rhymes

[2020-08-10 05:54] rhymes commented on #9707
@caleb15 renamed the title to make it more explicit, thanks for the explanation!

[2020-08-10 07:01] citizen428 commented on #9685
To make it even weirder, it works for me in FF Developer edition, but not regular Firefox.

[2020-08-10 10:12] fennecdjay commented on #9685
Weirder and weirder, I checked on my platform, works with firefox this time, and it works (ArchLinux, firefox 79.0).

[2020-08-10 12:35] svignesh93 opened #9713 "When saving a draft of the post, it says "something went wrong" followed by 500 error"
**Describe the bug**

When saving a draft of the post, it says "something went wrong" followed by 500 error

**To Reproduce**

1) Write a post

2) Save it as a draft

**Expected behavior**

The draft must be saved.

**Screenshots**

**Desktop (please complete the following information):**

- OS: WIndows 10
- Browser: Opera
- Version: 69.0.3686.88

**Smartphone (please complete the following inform

[2020-08-10 12:37] svignesh93 commented on #9713
This was created by mistake. Sorry for the inconvenience

[2020-08-10 12:37] #9713 closed

[2020-08-10 16:11] GioLogist opened #9715 "Broken GIF image in article"
Hey there!

Back with a potential bug. At the time of writing, an image I'm trying to add to this [article](https://dev.to/giologist/creating-react-widgets-that-can-be-embedded-on-any-website-by-anyone-1mdg) keeps breaking. I've tried using both your image uploader and a direct link to the image, which can be found [here](https://javascriptpros.com/wp-content/uploads/2020/08/full-reddit-widget.gif

[2020-08-10 17:06] ExpressGradient commented on #8076
# Description
Failed to fetch user's Github repos for User Integrations. This bug is not yet resolved. I am able to reproduce this bug.

# How to reproduce the bug??
Navigate to `settings/integrations` route and see the `Pin a few of your GitHub repositories to your profile`.

# What happens??
A loader is displayed till the content is fetched, since it is failing to fetch content, an error is disp

[2020-08-10 17:16] rhymes commented on #8076
Hi @ExpressGradient, yeah, the bug is not totally resolved. Please move your helpful comment to https://github.com/forem/forem/issues/8904

thank you!

[2020-08-10 17:17] benhalpern commented on #9620
Looks great to me. I think we want "standard" flare across all forems for admin, mod, and author. "Core team" would be in the realm of custom configurable flare because it wouldn't apply to a baking community, but they could have their own.

I think the big question for functionality: We have two mod levels: basic and tag mod, and basic mod probably doesn't matter in normal interactions, so I'd sa

[2020-08-10 17:19] benhalpern commented on #9619
All the design here looks great. I think we want to finalize our thoughts on _permissions_. Who can close a thread?

Tag mods? Admins only? Authors of the post?

I'd say this is probably going to need to be forem-by-forem config. For DEV I think it makes sense if admins and post authors can close threads but not mods. (At least for now).

[2020-08-10 17:24] ExpressGradient commented on #8076
Ohhh, I'm sorry for that, I didn't know about another issues thread. I had just mailed this issue to the dev team and it replied to make a comment here. Yeah I will move this comment there. Thanks.

[2020-08-10 17:28] rhymes commented on #8076
@ExpressGradient no worries, thank you! :-)

[2020-08-10 17:36] ExpressGradient commented on #8904
Hi, I'm still having the issue with fetching the github repos of the user under the integrations section of user settings. Thanks.

![image](https://user-images.githubusercontent.com/59659961/89812651-18573a80-db5e-11ea-9ab6-f7966cac4d02.png)

[2020-08-10 18:49] maestromac commented on #9715
Hello @GioLogist , I believe the reason the image is not working is because of the size. Can you give it a try again with smaller size file?

[2020-08-10 18:53] GioLogist commented on #9715
100% possible. In fact, you can nearly confirm it just by the fact that other images (including ones hosted on the same domain) work just fine.

The solution might be a disclaimer upon saving the post? Or maybe having the CDN render a "size limit" message, instead of a broken image?

A few options here.

[2020-08-10 19:35] pkfrank opened #9719 "Add a "spoiler tag" to optionally hide content"
**Is your feature request related to a problem? Please describe.**
As an author and commenter, I might want to hide content that can be optionally viewed when the viewer is ready.  Such as solutions to a problem, etc.

**Describe the solution you'd like**
As a writer — an intuitive, markdown-based ways to include Spoiler text and images in content.

As a reader — the spoiler content is initially h

[2020-08-10 20:03] rhymes commented on #9719
Possibly related to https://github.com/forem/forem/issues/947 as well, see the last sentence in the description:

[2020-08-11 00:51] ajonp commented on #2519
I believe this issue can be closed, the article content area is now a calculated value

[code]

Therefore you never run into this issue.

@TerabyteTiger @Zhao-Andy can you confirm?

[2020-08-11 01:52] keithrbennett opened #9723 "Profile name field resizes incorrectly in large window widths."
When the browser window is very wide relative to the zoom level, the amount of text on each line _decreases_.

**To Reproduce**

1. Go to a dev.to profile page, e.g. https://dev.to/keithrbennett
2. Increase the width of the window to the screen width.

If you don't see the text lines break up into more lines, zoom out (e.g. Ctrl-- on Linux) until you do.

(See screenshot below.)

**Expected behavi

[2020-08-11 02:58] jasonsturges commented on #1865
Likewise, I dislike authorizing 3rd party apps to my organizations and private repos. Modern trends are email authentication based.

Would join this community if email authentication was provided. Thanks.

[2020-08-11 05:18] rhymes commented on #2519
cc our designer @ludwiczakpawel to confirm as well

[2020-08-11 05:23] rhymes commented on #1865
@jasonsturges currently you can sign in with a social login for verification and then set a password but I agree we should add "pure" email login as well once we have a verification system in place.

BTW It's funny calling "email authentication" a modern trend as it definitely predates social logins but it's true they are making a come back.

[2020-08-11 08:33] corentinbettiol commented on #6831
Actually I saw a triple doctype on the linked example:

![image](https://user-images.githubusercontent.com/45763865/89875738-f1305580-dbbd-11ea-93fd-250f82695373.png)

![image](https://user-images.githubusercontent.com/45763865/89875783-fe4d4480-dbbd-11ea-9417-8a50e38acc40.png)

![image](https://user-images.githubusercontent.com/45763865/89875820-086f4300-dbbe-11ea-90bf-bee89720a7a8.png)

The seco

[2020-08-11 08:44] ludwiczakpawel opened #9725 "Can't remove comment on Forem.dev"
**Describe the bug**

I've got 500 error on Forem.dev when trying to remove my own comment.

**To Reproduce**

1. Go to any post.
2. Add a comment.
3. Try to remove the comment...
4. Boom. 500.

**Expected behavior**

Comment being removed.

**Desktop (please complete the following information):**

- OS: macOS 10.15.5
- Browser: Chrome 84.0.x

**Additional context**

It happens on Forem.dev but no

[2020-08-11 08:47] ludwiczakpawel opened #9726 "Can't see images on Forem.dev"
**Describe the bug**

When I upload an image (whether it's comment or actual post) and I paste link to that image in the content it serves me some weird characters instead of image...

**To Reproduce**

1. Go to post editor or comment editor.
2. Upload an image.
3. Paste generated URL in the post/comment body.
4. Submit.
5. Click the image URL.
6. Boom.

**Expected behavior**

To be able to see th

[2020-08-11 08:56] ludwiczakpawel opened #9727 "Can't report abuse on Forem.dev"
**Describe the bug**

I can't report abuse on Forem.dev - it looks like reCaptcha must be reconfigured for specific domain.

**To Reproduce**

1. Go to any article
2. Click the three-dots icon on the left and choose "Report abuse"
3. Fill the form and submit
4. Boom.

**Expected behavior**

Being able to report abusive contnet.

**Screenshots**

**Desktop (please complete the following information

[2020-08-11 09:14] ludwiczakpawel opened #9728 "devcomment liquid tag on Forem.dev"
**Describe the bug**

I was writing a post and tried to add a liquid tag with particular comment on forem.dev. One thing I've noticed was that liquid tag for showing comments is called `{% devcomment ... %}` which indicates it's DEV-oriented. Now that's one thing, but the actual issue was that I tried to use it with comment's ID from forem.dev and it throw me an error.

**To Reproduce**

1. Try to

[2020-08-11 09:22] ludwiczakpawel opened #9730 "Generalize Liquid tags guide"
**Describe the bug**

We have few places where we show help for liquid tags (one is modal while writing a new post). I've noticed that these guides have DEV-oriented liquid tags help. See screenshot below

**To Reproduce**

1. Go to `/new`, focus "body" field and click "liquid tags" link in right sidebar.
2. Boom.

Also

1. Go to https://forem.dev/p/editor_guide
2. Boom.

**Expected behavior**

Ha

[2020-08-11 09:33] ludwiczakpawel commented on #2519
Correct, we have redesigned this view couple months ago, this should no longer be an issue. I'm closing. Thanks!

[2020-08-11 09:33] #2519 closed

[2020-08-11 09:35] aHudspith opened #9731 "Safari Bookmark no icon"
When you save dev.to as a bookmark on Safari there is no branded icon. Is it there if you add it to the saved tabs, but not the bookmarks. Would be nice to also have it there.

[2020-08-11 10:21] brandizzi opened #9732 "Liquid tag for Pastebin"
Hello people! Is there any chance forem would have liquid tags for snippets from pastebin.com?

If the maintainers are open to it, I can implement it myself, I just need to know if it would be accepted (and not a waste of time).

[2020-08-11 10:41] ludwiczakpawel opened #9733 "Can't connect with Twitter on Forem.dev"
**Describe the bug**

I've signed up to forem.dev with my github account, but now I can't add Twitter to my account.

**To Reproduce**

1. Signup with GitHub account
2. Go to settings/account
3. Click "Connect Twitter Account"
4. Authenticate with Twitter
5. Boom. You land on dashboard (also, why?) but Twitter is still not connected.

**Expected behavior**

Land on home page with with success mess

[2020-08-11 10:47] ludwiczakpawel opened #9734 "Generalize message in Danger Zone"
**Describe the bug**

When going to /settings/account there's still some message being DEV-oriented:
- `@ghost` account is [hardcoded](https://github.com/forem/forem/blob/master/app/views/users/_account.html.erb#L110) and it doesn't seem to exist on forem.dev
-  Not sure about `yo@dev.to`..?

**To Reproduce**

1. Go to /settings/account
2. Scroll down to the "Danger zone"
3. See the message:

**Ex

[2020-08-11 10:58] pavelloz commented on #6831
`HTML 4.0 Transitional` - long time no see old bud :-)

[2020-08-11 11:33] Amorpheuz commented on #9638
Hey @forem/oss, @rhymes, I started working on the fix for this; but my local deploy doesn't have the `Upload a Video` button in dashboard. Is there any additional configuration required? I did give myself `super_admin` and `trusted` roles but they didn't seem to do the trick.

Also noticed some `AWS keys` required in the `Envfile` for video storage. If that's required, what should I be configuring

[2020-08-11 12:26] rhymes commented on #9727
To our awesome contributors, please note that this issue will be worked on by a Forem team member and is not up for grabs.

[2020-08-11 12:28] rhymes commented on #9725
To our awesome contributors, please note that this issue will be worked on by a Forem team member and is not up for grabs.

[2020-08-11 12:28] rhymes commented on #9726
To our awesome contributors, please note that this issue will be worked on by a Forem team member and is not up for grabs.

[2020-08-11 12:30] rhymes commented on #9733
To our awesome contributors, please note that this issue will be worked on by a Forem team member and is not up for grabs.

[2020-08-11 12:36] #6526 closed

[2020-08-11 12:37] jdoss commented on #9733
What happens when you log out and then log in with Twitter? I can't test this because my Twitters is already connected.

[2020-08-11 13:40] joshpuetz opened #9737 "Pages admin link to feature flag can end up in 404"
**Describe the bug**

There's a link on the Pages admin page to the feature flag interface, but this link does not take into consideration a user's roles. As a result: the link could lead to an inaccessible page for the user.

**To Reproduce**

- Visit `/admin/pages` as a user with admin rights, but not the `tech_admin` role
- Create a page
- Try to visit the link listed under 'Feature Flag':
<img

[2020-08-11 14:11] benhalpern commented on #9578
And it looks like that every time a PageView occurs it tracks 10. So wouldn't that be overcounting?

Views get tallied one in every 15, but it counts all the views as they come in. The "15" number could be any number and the only thing it would affect is how often we re-count.

The rest seems correct.

[2020-08-11 14:22] cyrillefr commented on #3669
Hello @beeman , sorry for the delay.
I must say I have a bit forgotten about that one.
So yes, go ahead.

[2020-08-11 14:22] ludwiczakpawel commented on #9733
@jdoss it takes me to /onboarding like my account didn't exist 👀

[2020-08-11 14:43] Link2Twenty opened #9740 "Generalise preview in Branding"
## Describe the bug
The current contrast example uses the DEV logo.

## To Reproduce
Go to /settings
Scroll down to "Branding"
See the DEV logo.

## Expected behaviour
There should be a general icon/button on display or the forem owner should be able to choose their own SVG.

## Screenshots
![branding](https://user-images.githubusercontent.com/3534427/89910741-86e0da80-dbe8-11ea-9f2b-c0fe95b45826.

[2020-08-11 16:27] josefaidt opened #9742 "Logo in Night Mode/TenX Hacker not adhering to theme style"
**Describe the bug**

When in Night Mode or TenX Hacker, Forem SVG logo does not update its fill to adhere to the chosen theme. It does not update on theme change, which isn't entirely necessary for the light themes, however logo is very difficult to see in darker themes.

**To Reproduce**

1. Go to [User] Settings > UX (https://forem.dev/settings/ux)
2. Click on "Night Mode" or "TenX Hacker Theme

[2020-08-11 17:23] Rafi993 commented on #9270
I tried to reproduce this issue in local I could not. I tried with sees size 3 It is still not there. I am going to create a article that belongs to multiple tags see if I can re-produce this.

[2020-08-11 17:36] Rafi993 commented on #9270
My guess this is some issue in **insertArticles** function in **app/assets/javascripts/initializers/initScrolling.js**. I'll confirm this.

[2020-08-11 18:07] Rafi993 commented on #9270
I am wrong it issue in the data of the feed itself

When I hit url https://dev.to/search/feed_content?per_page=15&page=1&sort_by=hotness_score&sort_direction=desc&approved=&class_name=Article I get

<details>
  <summary>Click to see the full JSON response </summary>

[code]
</details>

and when I call the next page https://dev.to/search/feed_content?per_page=15&page=2&sort_by=hotness_score&sort_di

[2020-08-11 18:23] Rafi993 commented on #9270
Is this related to elastic search (**app/services/search/query_builders/feed_content.rb**)?  @thepracticaldev/oss can you help me out here.

[2020-08-11 19:18] molgin opened #9743 "Runkit: Code padded by extra lines"
**Describe the bug**

It seems impossible to have code start on line 1 of a Runkit block, or control the indentation on line 2.

**To Reproduce**

[See this demo.](https://dev.to/molgin/runkit-bug-demo-2o7c-temp-slug-4676037?preview=fe24c7c9f9e4a5da6b0d6b1172a9dea6cf82047202da259f4fd2588e643b77543c6711a608aff3fbb95c894a130730ba8a6fa8fa86f2f5ab00d86d24)

[code]
yields no code on lines 1 or 2, plus

[2020-08-11 19:44] jasonsturges commented on #1865
@rhymes Ha ha, I more meant that sites are trending away from passwords altogether, such as Medium or Notion.so where you receive a two-factor code via email when you sign in, and never use a password.

[2020-08-11 21:58] christineyen opened #9746 "Node version installed by Fedora containers incompatible with package.json specification"
**Describe the bug**

The locked version of node in `package.json` is `12.16.x`, but `dnf` installs `12.18.x`. https://github.com/forem/forem/issues/8270#issuecomment-638868319 describes the intent of the locked version in `package.json` as matching the version that the Fedora-based containers use, but it looks like `dnf` is pulling in something else now.

**To Reproduce**

1. Clone a fresh copy o

[2020-08-12 01:08] redencion commented on #1446
Is it normal?  when I'm running bin/spring rspec, I got a fail test. I just cloned twice repository and again fail the test. I followed this flow https://docs.forem.com/getting-started/workflow/

[2020-08-12 02:52] redencion commented on #1446
I did PR but something is wrong, added option draft.

[2020-08-12 03:25] citizen428 commented on #9270
@Rafi993 The team name changed with the repo move, to ping us you now need to use @forem/oss :smiley:

For your actual question, I'll leave it to someone who is more familiar with the feed, maybe @joshpuetz can weigh in here?

[2020-08-12 05:01] obulat opened #9749 "Anchor links scroll behind the fixed header"
**Describe the bug**

Some articles have sections in them, and each content section has a heading which is an anchor link. When clicking on a section link, the page scrolls to the section heading. However, because the header is fixed, the section heading goes to the top of the page, behind the header, so it is actually not visible.

**To Reproduce**

1. Go to 'https://dev.to/lydiahallie/cs-visuali

[2020-08-12 06:23] rhymes commented on #1865
@jasonsturges personally I find Notion sending me an email each time I sign in in either my personal or work account not an improvement, I'd rather use a password and be done with it, but that's just me. Fortunately Notion allows the user to set a password to close the loop :)

[2020-08-12 06:31] rhymes commented on #9746
@jdoss would it be fine if we updated the global Node version to the new LTS? We use to up the version for each new LTS but now we locked it to follow Fedora's cycles, which apparently is one minor version ahead now.

[2020-08-12 10:36] Rafi993 opened #9751 "Footer is hidden in mobile"
**Describe the bug**

When you open https://dev.to/ in mobile you can't see the whole footer when you scroll to the bottom

**To Reproduce**

   1. Go to https://dev.to/ in mobile
   2. Scroll to bottom
   3. You can't see the whole footer

**Expected behavior**

You should be able to see the whole footer

**Screenshots**
![footer_hidden](https://user-images.githubusercontent.com/8092120/90005611-

[2020-08-12 15:35] AlbertoPdRF commented on #9502
First of all, sorry for the late follow up! So, if I got everything correctly, when a user clicks on the button to leave a channel, and the request succeeds, [this is the code that gets executed](https://github.com/forem/forem/blob/master/app/javascript/chat/ChatChannelSettings/ChatChannelSettings.jsx#L311):

https://github.com/forem/forem/blob/538c083d123f1437e35bce14d9aa08d16fbfc177/app/javascri

[2020-08-12 15:40] omenking opened #9754 "Cache of reactions not updating on post within an Organization page"
**Describe the bug**

Here is the article:
<img width="847" alt="Screen Shot 2020-08-12 at 11 38 31 AM" src="https://user-images.githubusercontent.com/7776/90035998-7e43df00-dc90-11ea-87e5-3c1e620e4184.png">

Here is the reaction count
<img width="649" alt="Screen Shot 2020-08-12 at 11 38 27 AM" src="https://user-images.githubusercontent.com/7776/90036035-8734b080-dc90-11ea-8790-e8ca1a87efa7.png">

[2020-08-12 15:42] Mahmoud-007 opened #9755 "I cannot write post in the community"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-08-12 17:57] rhymes commented on #9755
Hello @Mahmoud-007, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-08-12 17:57] #9755 closed

[2020-08-12 17:59] rhymes commented on #9754
@omenking has it been updated in the meantime?

Weird

[2020-08-12 18:23] michael-tharrington commented on #9509
I'm not entirely sure if this is the same issue, but it feels like it may be related, so I thought it made sense to raise here.

A DEV user wrote in wondering why the canonical URL on their post here - https://dev.to/sematext/a-step-by-step-guide-to-java-garbage-collection-tuning-2m1g is referencing itself as the canonical URL (i.e. the canonical points to `https://dev.to/sematext/a-step-by-step-g

[2020-08-12 18:55] michael-tharrington opened #9759 "False positives with error: "canonical_url: has already been taken""
**Describe the bug**

Occasionally users try to input a canonical url for their post and get hit with the following warning:
`Whoops, something went wrong: canonical_url: has already been taken`

This warning is meant to block people from reposting an article that was already posted, but it's currently causing issues. The main problem is that the warning appears even if the article that first used

[2020-08-12 19:35] omenking commented on #9509
@michael-tharrington

It is recommended practice that when you create a blog article online that you create a self-referencing canonical URL. This prevents bad-parties from trying to set a canonical URL as the truth source in order to compete with your traffic.

Since this user first created their article on DEV, it makes sense that DEV would create a self-referencing canonical URL.

Why they can'

[2020-08-12 19:44] michael-tharrington commented on #9509
Thanks @omenking — that is super helpful! Glad to know that the self-referencing canonical is standard practice.

Also I made a separate feature request to hopefully address the issue they faced when trying to update the canonical. Until that issue is fixed, I've advised them on how to get around the warning.

[2020-08-12 20:45] otisg commented on #9509
But that is not true.  The original article at https://sematext.com/blog/java-garbage-collection-tuning/  was created first.

[2020-08-12 20:52] omenking commented on #9509
@otisg my apologies, I should rephrase to say maybe you published the article first without setting the canonical url.
Lets keep future replies in this post https://github.com/forem/forem/issues/9759

[2020-08-12 23:36] omenking commented on #9754
It's up to date now.

<img width="511" alt="Screen Shot 2020-08-12 at 7 36 11 PM" src="https://user-images.githubusercontent.com/7776/90078491-19f63f00-dcd3-11ea-9277-5366b6c055d5.png">

🤷‍♂️

[2020-08-12 23:54] emartindev opened #9761 "error dev.to@1.0.0: The engine "node" is incompatible with this module. Expected version "12.16.x". Got "12.18.3""
**Describe the bug**
When using Forem Docker, I get the following errors when doing: Run bin/container-setup<br />
error dev.to@1.0.0: The engine "node" is incompatible with this module. Expected version "12.16.x". Got "12.18.3"
error Found incompatible module.
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.
ERROR: Service 'rails' failed to build: The comma

[2020-08-13 03:35] nickytonline opened #9763 "Upgrade to Storybook 6"
**Is your feature request related to a problem? Please describe.**

Storybook 6 has been released. We will need to make some changes going forward in regards to Storybook. See https://dev.to/emma/storybook-v6-0-released-1cg4

<details>
<summary>Details</summary>

There are some breaking/new changes. See https://dev.to/emma/storybook-v6-0-released-1cg4

</details>

**Describe the solution you'd lik

[2020-08-13 03:36] nickytonline commented on #9763
@emgoto, since you posted an article about this, would you like to work on this. Happy to pair with you if you need.

[2020-08-13 03:59] emgoto commented on #9763
Ooh yes, I would love to!

[2020-08-13 04:03] nickytonline commented on #9763
Awesome, I've assigned this to you. There is a new part of Storybook for generating CSS utility classes documentation. That will need to be updated as well most likely. See [Forem's CSS Utility Classes](https://forem.dev/nickytonline/forem-s-css-utility-classes-o6j).

[2020-08-13 06:15] rhymes commented on #9754
Should we close this then @omenking ?

[2020-08-13 06:18] rhymes commented on #9761
Closing this as a duplicate of https://github.com/forem/forem/issues/9746

Thanks @emartindev, could you copy your comment over there?

[2020-08-13 06:18] #9761 closed

[2020-08-13 10:44] ledestin commented on #8248
@rhymes I've updated https://github.com/forem/forem/pull/8765, and now it just introduces `ApplicationError` and raises it in one of the liquid tags.

But, we can't switch `rescue StandardError` to `RuntimeError` in controllers after changing just that. Given the changes to error handling, errors end up in Honeybadger now. Those should be fixed one by one. After those errors are fixed (stuff like

[2020-08-13 11:38] rhymes commented on #8248
@ledestin why not rescueing `ApplicationError` or even better a `LiquidTagError < ApplicationError < RuntimeError` ?

[2020-08-13 13:34] #9746 closed

[2020-08-13 13:45] emartindev commented on #9746
Sorry for my duplicate.

I upgraded node to 12.18, however I am still getting the same error.
My node version:
`nvm which
Found '/home/forem/forem/.nvmrc' with version <12.18>
/home/forem/.nvm/versions/node/v12.18.3/bin/node
`
`node -v
v12.18.3
`
The error i'm referring to:
`error dev.to@1.0.0: The engine "node" is incompatible with this module. Expected version "12.16.x". Got "12.18.3"
error Foun

[2020-08-13 13:59] rhymes commented on #9746
Hi @emartindev, have exited the directory after pulling the latest version? When I switch Node version I do the following:

[code]

let me know if then `bin/container-setup` works

[2020-08-13 14:15] jdoss commented on #9746
Sorry for the late reply. @rhymes I would just track whatever version the container has and when that upgrades we can follow that within the app.

[2020-08-13 14:47] jkrsn98 commented on #6095
I would like to work on this issue

[2020-08-13 15:14] joshpuetz commented on #9270
I suspect this might be some sort of collision between the articles we pull back directly from the database/cache (it's the first 10-30 IIRC), and the rest of the feed which comes back from Elasticsearch. I'm unsure if we actually check to eliminate duplicates!

One idea would be to record the article ids serviced initially, and exclude them from showing in the sets retrieved from Elasticsearch

[2020-08-13 16:03] atsmith813 commented on #9728
`{% comment %}` is already implemented - we should probably update the documentation to display that instead of `devcomment` when we tackle https://github.com/forem/forem/issues/9730.

It's working for me https://forem.dev/atsmith813/test-comment-liquid-tag-3nb6

Maybe something updated?

[2020-08-13 16:07] rhymes commented on #6095
Hi @jkrsn98, go ahead! The comments have a `created_at` field which contains the date it was published. You can take this as a reference

https://github.com/forem/forem/blob/c18b0f1ba1ec8a2577e6f799b4cdc6d19464b8f7/app/views/api/v0/articles/_article.json.jbuilder#L22

thank you!

[2020-08-13 16:19] ezio1404 opened #9770 "Reading list counter"
**Describe the bug**

I have a 200+ reading list unopened, I archive them after I read or save, after I clear out my reading list and go back to the main page the reading list on the sidebar has a counter(unopened or unread post) and when I clicked it it's empty.
Things I've done:
- hard refresh and emptying the cache
- closing the browser and opening it again
- logout and logging in again

**To R

[2020-08-13 16:27] emartindev commented on #9746
Hey @rhymes, Thanks for getting back to me. You're guys' support is great!
So that did work!! -however- I am getting this loop constantly:
`sidekiq_1        | 2020/08/13 15:07:53 Problem with request: Get http://rails:3000: dial tcp: lookup rails on 127.0.0.11:53: no such host. Sleeping 1s
seed_1           | 2020/08/13 15:07:54 Problem with request: Get http://rails:3000: dial tcp: lookup rails on

[2020-08-13 16:33] rhymes commented on #9770
Hi @ezio1404 the counter reflects the non archived items, but it's weird that youur list is empty but the counter says 5. Do you have the items in the archive section?

[2020-08-13 16:39] ezio1404 commented on #9770
Hi @rhymes yes I have 290+ archived items and recently I save 7 post and it backed up to 29
![re1](https://user-images.githubusercontent.com/34921038/90162018-94ec5200-ddc6-11ea-84c0-867d298b653a.JPG)
![re2](https://user-images.githubusercontent.com/34921038/90162031-99186f80-ddc6-11ea-9603-f83e121f5f0f.JPG)

Archived:
![re3](https://user-images.githubusercontent.com/34921038/90162053-a2094100-ddc

[2020-08-13 17:09] Rafi993 commented on #9270
I think you are right I couldn't find any code that checks to eliminate duplicates. So if the issue is due collision between database/ cache and elastic search then there shouldn't be any duplicates after first 30 articles right? (I'll try to verify this).

[2020-08-13 17:21] joshpuetz commented on #9270
Yes, fantastic point @Rafi993! Duplicates occurring only between the very beginning and later in the feed would indicate this is the problem!

[2020-08-13 17:48] joelnet opened #9773 "Runkit embeds fail with error: Unable to load embed. Syntax error found in Preamble. See console for error."
**Describe the bug**

Runkit is reporting an error: `Unable to load embed. Syntax error found in Preamble. See console for error.`

The first 2 Runkit embeds seem to work fine. Others after are failing.

**To Reproduce**

1. Go to https://dev.to/joelnet/creating-a-linked-list-using-only-function-combinators-5hhk
2. Scroll to text `Unable to load embed. Syntax error found in Preamble. See console f

[2020-08-13 17:52] kimberleejohnson opened #9774 "Unable to visit post on newly created /trydaily page"
**Describe the bug**
I accidentally created and published a post under my personal kimberleejohnson account, then unpublished the post, kept editing, then tried to republish under a newly created /trydaily page. Now, I can't visit the published page.

**To Reproduce**
1. Go to: https://dev.to/trydaily
2. Try clicking the one link featured: "What happens when you type a video chat URL in your brows

[2020-08-13 18:13] michael-tharrington opened #9775 "Add a filter to https://dev.to/search for organizations"
**Is your feature request related to a problem? Please describe.**

Folks occasionally want to browse/search and see what orgs exist on DEV and there's no easy way to get that information.

**Describe the solution you'd like**

I think it'd be good if we added `organizations` as a category/filter to search for.

**Additional context**

I think in addition to this, we may want to have an organizati

[2020-08-13 18:29] maureento8888 opened #9776 "Accessing dev.to in browser leads to (503) error"
**Describe the bug**

**To Reproduce**

1. Search 'dev.to mapbox vue'
2. Click on 'https://dev.to/hmintoh/how-to-mapbox-with-vue-js-2a34'
3. Wait couple seconds for loading
4. See error 503 and cute animal :)

**Expected behavior**

I expected after clicking on the article in the results display (after finding the correct title), that the link would be able to retrieve the requested article and I

[2020-08-13 18:32] maureento8888 commented on #9776
This issues (#9776) is by me!

[2020-08-13 20:52] #9730 closed

[2020-08-14 02:24] glebec commented on #9773
Also seeing this in https://dev.to/glebec/monadic-parser-combinators-an-interactive-js-tutorial-pt-1-3jbo.

I think the problem _might_ be a regression bug in preamble support, but I haven't done more than a minute's worth of debugging yet. See #662 and #696 for info on how/when preamble support was added.

Example of a snippet without preamble:

[code]

With preamble (possibly what is now breakin

[2020-08-14 03:11] timorthi opened #9779 "HTTP Origin header (http://localhost:3000) didn't match request.base_url (http://localhost:3000)"
**Describe the bug**

In setting up my local environment with Docker on Ubuntu, I logged in with GitHub and got redirected to the onboarding page. After trying to get past the IntroSlide to no avail (nothing happened when I checked the boxes and clicked Continue), I checked the Chrome console and noticed the following API calls failed with 422 Unprocessable Entity:
`PATCH  http://localhost:3000/on

[2020-08-14 06:43] ludwiczakpawel commented on #9728
![](https://media.giphy.com/media/3q3QK6KyDVUBzih7hB/giphy.gif)

[2020-08-14 06:43] #9728 closed

[2020-08-14 10:24] kaliwa opened #9780 "header color not change when visit your (/devteam) profile on night theme"
When I entered the devteam profile page, I thought the text color in the `widget` _class_ and the `header` element was indeed black, so I tried to check other people's profile pages I saw the same text and position as I previously described but this one is different, the color is white and there is an additional night-theme class which I did not find when visiting devteam profile page, so I assume

[2020-08-14 11:14] abenettt opened #9781 "Add light forem logo for darker themes"
**Is your feature request related to a problem? Please describe.**
When using a dark theme, as displayed below, the logo on https://forem.dev is barely discernable from the background.

**Describe the solution you'd like**
Maybe use a different logo that is lighter for themes that use dark colors primarily.

**Describe alternatives you've considered**
Don't do anything or redisign the logo such th

[2020-08-14 12:05] Rafi993 opened #9782 "Discussion input box changes height when focused"
**Describe the bug**
Height of the discussion input box changes when focused

**To Reproduce**
      1. Go to dev.to
      2. Click on article
      3. Scroll down to comment section
      4. Click the discussion box
      5. Height changes focused

**Expected behavior**
Height of discussion input box should remain same when focused

**Screenshots**
![discussion_box](https://user-images.githubuser

[2020-08-14 12:21] catalinpit opened #9783 "Is the following system broken?"
**Describe the bug**

The following system on dev.to seems to be pointless (sorry if it sounds harsh, that's not the intention for sure). People following you rarely interact with your posts, or anything.

Could anyone have a look at it, please? Or is there any plan for it?

Thank you!

[2020-08-14 12:23] krishnadevz commented on #9781
Yes logo is not visible and in the dark theme after hovering icons color is appearing is also very dark means there is no use of hover effect and I can change that logo color to white but I am not able to see the content of [homePage.html.erb](https://github.com/forem/forem/blob/master/app/views/homepage/index.html.erb) for editing that. any suggestions/thoughts on this issue @joshpuetz @benhalper

[2020-08-14 12:28] Rafi993 commented on #9782
Hi there, If this issue is not taken I would like to help.

[2020-08-14 12:59] Oghenebrume50 opened #9784 "Fetch article by slug API documentation"
Following the implementation of this https://github.com/forem/forem/pull/8929

I can see the written doc in here https://github.com/forem/forem/blob/e9c513fb3f7b4c3f72c1339aba75c70c71f32381/docs/api_v0.yml#L1971

But nothing is showing on the official [API docs website](https://docs.forem.com/api/#tag/articles), is there something I am missing or this is yet to be implemented?

[2020-08-14 15:00] sarthology commented on #9502
Hey @AlbertoPdRF,
Sorry for late reply, Yes you got it right.
So a quick fix can be just reload (which is equivalent to redirecting via ROR).
A better way will be handle it in Preact, By fetching all the channels again  using `getChannels` function and reseting the active channel. You may have to do that in `chat.jsx`, see this code snippet for help
[code]

Let me know if need further help. 😊
May

[2020-08-14 15:00] sarthology commented on #9501
@nickytonline Please assign this to me.

[2020-08-14 15:02] sarthology commented on #9500
@benhalpern @nickytonline What do you guys suggest here?
Not sure if it's a bug. I can make show a undo button for 5sec, but what do you guys think?

[2020-08-14 15:07] sarthology commented on #9471
@citizen428 I can work on this.

[2020-08-14 15:13] sarthology commented on #6472
@OmisNomis Do you still have this issue ?

[2020-08-14 15:20] sarthology commented on #5819
@KatNel20 We have block feature also that you can use for filtering users forever.

[2020-08-14 15:43] nickytonline commented on #9471
Assigned this to you @sarthology.

[2020-08-14 15:55] sarthology commented on #4024
@rhymes assign this to me.

[2020-08-14 16:02] nickytonline commented on #9500
I don't think this is a bug either. It sounds more like a feature. I would see what other platforms or services do.

[2020-08-14 16:14] thomasbnt opened #9787 "Embed border on comments"
If you can see any comments with a Youtube integration, you can see a ugly border.

**Describe the bug**

Not a bug, just a correction for a better space of comments.

**To Reproduce**

1. Go to Comments
2. See a comment with a Youtube integration ([here for example](https://dev.to/rehmatfalcon/comment/13i38))
3. Border is here 🤮

**Expected behavior**

**Screenshots**
![image](https://user-images

[2020-08-14 16:53] KatNel20 commented on #5819
I don't necessarily want to block them Sarthak, I just wanted to view a shorter list.

[2020-08-14 16:56] rhymes commented on #9784
Hi @Oghenebrume50, it's here https://docs.forem.com/api/#operation/getArticleByPath :-)

The website is auto generated from the yml file

[2020-08-14 16:56] #9784 closed

[2020-08-14 17:00] rhymes commented on #4024
Done, thank you! @sarthology

[2020-08-14 18:36] eliblocks commented on #9759
I took a stab at it with the above PR.

[2020-08-15 04:22] sarthology commented on #5819
@nickytonline any thoughts on this.

[2020-08-15 07:08] narender2031 commented on #5819
@sarthology @nickytonline We can add a new field direct_membership `is_archive: false` that will act as a check. Here is an example, Once you remove the membership from the sidecar then the value will change to `true`. You can search for this user.  After some time if you want to chat with the archived user,  you can search the user and when you send him a message, at this time we will change the

[2020-08-15 08:39] abenerd opened #9800 "Disable issue workflow for collaborators and members for forem/forem"
**Is your feature request related to a problem? Please describe.**

As I understand it the issue workflow is for contributors of the project the tell them what they can expect on how their issue will be handled, this is great for new and returning contributors but I think it can be annoying for the collaborators and members of `forem`  team. They know the workflow and do not be inundated with emai

[2020-08-15 12:57] rhymes commented on #9800
Hi @abenettt, in truth the notice is not just for first time contributors but also for people who might want to contribute and are not the authors.

Scenario: someone leaves a feature request or a bug report, the bot adds the notice, another person in a different day decides they wanto to work on such feature or fix the bug. The person will then know how to proceed and what to expect.

I wonder if

[2020-08-15 17:01] singhsuryansh12 commented on #7397
Hey @rhymes! Can I work on this issue?

[2020-08-15 17:06] Rafi993 opened #9807 "Deleting notifications in the model when comment is hidden"
**Describe the bug**

Right now in model **app/models/comment.rb:30** the notificatoin gets deleted when the comment is deleted by the following line

[code]

but similar to this notification gets deleted when the user hides a comment in **app/controllers/comments_controller.rb**
added by PR https://github.com/forem/forem/pull/8881/files. could the deleting of notification when comment is hidden a

[2020-08-15 21:02] kaushikpraveen commented on #9751
Hey, I am also able to reproduce this issue on my mobile device as well.
I would very much like to work on it, hence claiming this issue.

[2020-08-16 09:56] amanintech opened #9809 "app crashes on google autofill"
**Describe the bug**
I have the latest android and downloaded the latest app. When I login and use google autofill in the fields, the app somehow crashes

**To Reproduce**
1. open the app
2. Sign In
3. type in the fields
4. choose google autofill

**Expected behavior**

app crashes and closes

**Screenshots**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/28403318/90331781-e07

[2020-08-16 11:55] Rafi993 commented on #9807
Hi there,
 If this issue is not taken I would like to help.

[2020-08-16 15:43] Oghenebrume50 commented on #9784
Awesome thank you

[2020-08-16 16:12] BogDAAAMN commented on #4024
omg @sarthology that's perfect! thank youuu

[2020-08-16 23:45] agonzlezr commented on #1865
Hey @jasonsturges , DEV now allows us to set an account password once registered. You still need to use social media to create an account, but you can unlink your accounts on DEV (and GitHub/Twitter) after signing up and just keep the email-password login.

You're welcome to join this community.

[2020-08-17 03:42] citizen428 commented on #5819
1@narender2031 Conceptually this seems a bit confusing. From the user's perspective, they are archiving a channel, not their membership and I think maybe our code should reflect this? So maybe the `archived` flag [1] should go on `ChatChannel`, as there are other scenarios where we want to archive one, e.g. archiving a channel after an event by an admin.

I'd imagine it like this:

* Once a channe

[2020-08-17 03:48] citizen428 commented on #9774
Hi @kimberleejohnson and thanks for the report. Clicking through to the post from https://dev.to/trydaily works fine for me.Can you please clear your cache and confirm if this is still an issue?

[2020-08-17 03:49] citizen428 commented on #9776
Thanks for the report @maureento8888. Unfortunately, I'm not able to reproduce this. Searching for the suggested keywords and clicking through to the article works as expected. Is this still an issue for you?

[2020-08-17 05:17] citizen428 commented on #9807
@Rafi993 While I'm personally not a big fan of conditional callbacks you can do something like this:

[code]

I'll assign you the issue, thanks as always for volunteering! 😃

[2020-08-17 05:20] citizen428 commented on #9773
Thanks for digging into this @glebec! Would this be something you're interested in solving yourself or is this issue still up for grabs?

[2020-08-17 05:21] Rafi993 commented on #9807
Awesome

[2020-08-17 05:21] glebec commented on #9773
@citizen428 it is certainly up for grabs – I just wanted to provide a little context, but I don't know when I'll have the time to dig deeper.

[2020-08-17 05:21] citizen428 commented on #9782
Thanks for volunteering @Rafi993, assigned you the issue now.

[2020-08-17 05:54] citizen428 commented on #9773
No worries at all @glebec, thanks for clarifying.

[2020-08-17 06:27] rhymes commented on #9807
Are we sure we want to delete notifications when the comment is hidden? What about the chance that a comment gets un-hidden?

cc @michael-tharrington @vaidehijoshi

[2020-08-17 07:02] Rafi993 commented on #9807
I think there was a similar discussion happening about this in PR https://github.com/forem/forem/pull/8881

[2020-08-17 08:34] #9763 closed

[2020-08-17 08:57] rhymes commented on #7397
Hi @singhsuryansh12, yeah, I've assigned you to the issue.

One thing though: how do you plan to tackle this? What kind of user experience are you thinking of? Supported emojis are hundreds - https://www.webfx.com/tools/emoji-cheat-sheet/ - and I'm not quite sure that we should render all of them.

cc @ludwiczakpawel which also might have ideas on how to go about this

[2020-08-17 09:03] rhymes commented on #5819
I wonder if we should split the concept of `archived` from the concept of `closed`.

I'm not sure which of the two @KatNel20 meant but I'm leaning towards archived.

For example:

which ie essentially the last option made by @citizen428 👍

The difference here is that an archived channel is just an hidden one, not a closed one.

The concept of closing a channel (disallowing members from posting to

[2020-08-17 09:05] rhymes commented on #9751
Go ahead @kaushikpraveen

[2020-08-17 09:08] ludwiczakpawel commented on #9034
Hey @JulianBroudy I'm extremely sorry for getting back to you so late :/ No good excuse for that, but we've been having an ongoing internal debate about it and also things derailed for us because of series of events and other priorities on the plate. Nevertheless I should have get back to you much much earlier. So once again - I'm very sorry for that..

In terms of the issue itself, it seems like

[2020-08-17 09:14] JulianBroudy commented on #9034
@ludwiczakpawel Thank you for your detailed answer.

If I understood correctly, this is currently more of an internal debate and there isn't much I can offer on my side.

If anything changes, please feel free to fill me in and I will do my best to help out whether it's with brainstorming or actual implementation.

[2020-08-17 10:23] rhymes commented on #9620
I'm not sure I understand the scope of "per post/per comment flair". How should the human decide which of the roles to display per post or per comment?

[2020-08-17 10:45] rhymes commented on #9674
Any ideas @mstruve ?

[2020-08-17 11:51] Rafi993 opened #9826 "ChatChannelSettingsSection component: remove hardcoded email"
**Describe the bug**

Email yo@dev.to is hardcoded in component **app/javascript/chat/ChatChannelSettings/ChatChannelSettingsSection.jsx**

**Expected behavior**

Email should be fetched from the settings

**Desktop:**
- OS, version: Ubuntu 20.04
- Browser, version: Brave Version 1.12.112 Chromium: 84.0.4147.125 (Official Build) (64-bit)

[2020-08-17 13:32] Rafi993 commented on #9270
You were right the duplication  occurs only within the first 30 entries. That is between url
 https://dev.to/search/feed_content?per_page=15&page=1&sort_by=hotness_score&sort_direction=desc&approved=&class_name=Article I get

and

 https://dev.to/search/feed_content?per_page=15&page=2&sort_by=hotness_score&sort_direction=desc&approved=&class_name=Article I get

after that there is no duplication

[2020-08-17 13:59] syntaxhacker commented on #9809
i have also faced this issue but with github signin . didnt used google signin

[2020-08-17 14:11] michael-tharrington commented on #9807
I think I understand this.

So basically if an author hides a comment on their post, then the notification for that comment on https://dev.to/notifications will be deleted from the author's notifications, correct?

This should be fine.

If they unhide the comment, I think it'd be alright if the notification was still deleted. Another possibility would be that unhiding the comment creates a new not

[2020-08-17 15:11] ayushmxn commented on #3852
I'd like to add to this feature by having the option to click on the notification icon and have a popup open which does not interfere with the feed on a PC display (on mobile the popup will temporarily have to take up the whole screen). A lot of the times I just want to quickly scroll through my notifications and go back to reading an article.

[2020-08-17 15:28] DRBragg opened #9828 ""My Tags" section occasionally doesn't populate"
**Describe the bug**

When navigating around Dev.to the my tags list section of the side bar occasionally will not populate. Refreshing the page seems to always fix this. Sometimes the is a console error at the same time there is a failure.

**To Reproduce**

1. Go to the dev.to home page and sign in.
2. Change from feed to week and watch the my tags section
3. also try cycling through the differe

[2020-08-17 16:01] mstruve commented on #9674
The rate limit for article updates is 30 updates in 30 seconds. Not sure where 150 came from unless that is in our docs.

@michael-tharrington what is this person's API key?

[2020-08-17 16:19] michael-tharrington commented on #9674
That's right @mstruve it's in [our docs](https://docs.forem.com/api/#operation/getArticleById) like this:

![Image 2020-08-17 at 12 18 02 PM](https://user-images.githubusercontent.com/16007075/90418889-c04f9500-e083-11ea-88dd-3f0fc0cadb70.png)

If I have a link to the user's profile can I get the API key or do I need to ask the user for it?

[2020-08-17 16:57] jessleenyc commented on #9620
@rhymes maybe via their dashboard they could decide whether or not their flair appears? Based on Pawel's design this point actually seems less important because it feels more about the individual than the post.

[2020-08-17 17:18] mstruve commented on #9674
Documentation Fix: https://github.com/forem/forem/pull/9832

However, I still need the key they were using since they said they would not use it for hours and then only after 2 uses would hit the rate limit. Or even if you can get me their dev email then I can look it up. I want to check Honeycomb to see these 429s actually happening.

[2020-08-17 19:02] ludwiczakpawel commented on #9620
@rhymes @jessleenyc would you agree this "per post / per comment" part could come later and we can skip it for now? i think this is something that would extend the scope of this project quite significantly. BUT i also think this is something we could build separately, as another project later on..?

[2020-08-17 19:08] ludwiczakpawel commented on #9034
That is correct, yes. and thanks so much for your understanding! ill definitely keep you posted when we figure things out on our end.

[2020-08-17 19:08] michael-tharrington commented on #9674
Rock on! I'll hit you up directly about this one @mstruve

[2020-08-17 20:19] mstruve commented on #9674
Documentation updated. Since our code has changed a lot since this issue was initially reported and I cant find data about when it happened I am closing.

[2020-08-17 20:19] #9674 closed

[2020-08-17 20:31] michael-tharrington commented on #3389
This feature would be an excellent solution for the problem when an org writer leaves an org, but we still want to credit both the org and writer on the post.

If this was in place, the org admin could just change the person's org status from member to guest.

[2020-08-17 21:17] jessleenyc commented on #9620
Agreed @ludwiczakpawel!

[2020-08-18 00:10] #6095 closed

[2020-08-18 00:28] #947 closed

[2020-08-18 00:28] #9719 closed

[2020-08-18 03:26] citizen428 commented on #5819
@rhymes To summarize/clarify:

**Archive:**

* Can be done by any participant.
* Hides channel from the sidebar.
* The channel is still findable to read old messages.
* The channel can still be posted in.
* Posting unarchives the channel again. I think we should treat this like an email thread, i.e. posting by any member in a direct conversation unarchives, what do you think?

**Closed:**

* Can b

[2020-08-18 04:59] artis3n opened #9840 "RSS feed not syncing"
**Describe the bug**

Dev.to is not syncing with my blog's RSS feed. I've had the "publish from RSS" settings hooked up for some years now. My recent articles published to my blog, however, are not showing up as drafts in dev.to.

I manually pressed "fetch feed now" but no new drafts appeared. There should be 4 or 5 new articles to cross-post. My feed.xml endpoint on my blog is working fine. Any r

[2020-08-18 08:15] rhymes commented on #5819
Yes, thank you! That's what I had in mind

[2020-08-18 09:47] rhymes commented on #9620
I investigated the logic and right now it's pretty simple:

- when showing a comment it checks if the comment author is also any of the authors of the article/podcast (technically we can have multiple authors, which is an admin only feature)
- if the author of the comment corresponds to the author of the post and the article contains the tag `ama` it shows ` Ask Me Anything`
- if the author of the

[2020-08-18 12:28] molebox opened #9848 "Allow update user profile via API"
**Is your feature request related to a problem? Please describe.**

This request isnt a problem but a request for an endpoint to allow users to update their profile via an endpoint

**Describe the solution you'd like**

Im developing an app [devpack.dev](https://www.devpack.dev/) which aims to give devs a means to keep their online presence consistent across multiple platforms. I have so far integ

[2020-08-18 13:29] #9501 closed

[2020-08-18 13:55] leewynne opened #9849 "Generalise Devise emailer for invitations"
At the moment Forem is using default values and text for the devise invitation mailer.

**Describe the solution you'd like**

I think the best solution for this is to configure the text used to send invitations out via SiteConfig.

**Describe alternatives you've considered**

Using generalisation in the code base but I think an invitation needs to be more personal from the originating Forem

**Add

[2020-08-18 14:00] leewynne opened #9850 "Generalise reaction images"
I feel that there is a case to generalise the reaction images for the 3 actions you can take on an article (heart, unicorn, save). I think it helps with a bit of uniqueness throughout the Forem ecosystem as it grows.

**Describe the solution you'd like**

An area in SiteConfig that allows an Forem administrator to change the default icons for heart, unicorn and save.

**Describe alternatives you'v

[2020-08-18 14:26] abenettt commented on #383
I this still something that is being thought about because I would really love moving to typescript as it improves dx immensely in my opinion and it could be a gradual change that only new code is being written in typescript.

[2020-08-18 17:23] KatNel20 commented on #5819
I agree

[2020-08-18 18:55] Kovah commented on #9684
I have the same issue on macOS with Firefox (v79) and MS Edge (v80). The height is set on the element via the style tag after starting to write something in the textarea, so I am pretty sure it's a script messing with the height.

<img width="910" alt="Screen Shot 2020-08-18 at 20 32 34" src="https://user-images.githubusercontent.com/1816101/90553473-b8cbe100-e194-11ea-87c6-86cb7522c279.png">

[2020-08-19 03:04] citizen428 commented on #5819
Maybe @benhalpern can weigh in on the proposal summarized [here](https://github.com/forem/forem/issues/5819#issuecomment-675227302), then we can move this from "feature request" to "ready for dev".

[2020-08-19 07:25] citizen428 commented on #9620
@rhymes I wonder if the flairs should be "attached" to the comments themselves (think some join table like `CommentFlares` or `FlairableFlares` if we want to be able to attach flairs to both comments and posts). This would also cater to @pkfrank's use case described above, i.e. _per post or per comment_ flairs.

The way I imagine this:

1. Roles define which flairs are available to a given user.
2

[2020-08-19 08:03] shelbyspees commented on #8904
Hey folks, I just noticed this in the dev.to Honeycomb data as well, I'm glad there's already an issue open. Here's the query result where I noticed it: https://ui.honeycomb.io/thepracticaldev/datasets/rails/result/J7cL62KTkKd

Here's some relevant performance data from the past 24 hours (and [query results](https://ui.honeycomb.io/thepracticaldev/datasets/rails/result/cCNLa9kUMJt)):
![Honeycomb q

[2020-08-19 08:08] citizen428 commented on #9638
@Amorpheuz If you look at `app/views/dashboards/_actions.html.erb` you'll notice that video uploading is gated by a policy check:

[code]

The policy itself is specified like this ():

[code]

So if your user account in your local development environment is too new, you won't see the upload link. The easiest way to fix this is by getting a hold of your user in a `rails console` session and updatin

[2020-08-19 08:35] #8908 closed

[2020-08-19 09:14] rhymes commented on #9620
I like your proposal! This way we get the basic and the advanced version for free and we don't have to migrate data aftewards. We can also make it so that when they choose the flare they can also add a custom name to it.

ps. is it `flair` or `flare` ?

[2020-08-19 09:17] Amorpheuz commented on #9638
Thanks a lot for the help @citizen428! ♥ I got the button to appear with your suggestion!

Next, I think I will have to configure an Amazon bucket (thingy?) as outlined in this helpful guide https://forem.dev/cpluta/implementing-video-feature-38eb. Since on attempting to upload a video, a POST request to `https://s3.amazonaws.com/Optional/` fails.

Need to check if this is possible with a free tie

[2020-08-19 09:25] lanthias commented on #6369
I would love this. [We](https://github.com/datapane/datapane) embed into Medium using Embedly, and oEmbed elsewhere (Notion etc.), and would love to embed into dev.to as well. Hopefully this ticket could also cut down the developer hours required for new embeds, as a lot of folks already support oEmbed/embedly out of the box.

[2020-08-19 12:15] #4024 closed

[2020-08-19 15:27] AlbertoPdRF commented on #9502
It turns out #9804 also fixed this issue, I just found out when trying to rebase [my branch with the fix](https://github.com/MLH-Fellowship/dev.to/tree/AlbertoPdRF/redirect-after-leaving-chat-9502) on top of `forem/master` before submitting a PR.

[2020-08-19 16:39] mstruve commented on #3091
Given that we now have rate-limiting on article creation I think we can close this issue. https://github.com/forem/forem/blob/master/app/services/rate_limit_checker.rb#L87

[2020-08-19 16:39] #3091 closed

[2020-08-19 20:45] michael-tharrington commented on #5819
I like this idea a lot!

I actually was brainstorming a separate idea for Connect channel archiving in Slack, here's what I had to say:

I wonder if we could house both types of archived channels in the same place. 🤔  In one instance, the user chooses to archive a channel that they just don't want to participate in anymore, in the other, we're archiving the channel so that no one else can particip

[2020-08-19 21:06] pkfrank opened #9880 "Labels on the /sponsors page should be centered"
**Describe the bug**
On the `/sponsors` page, the "sponsor level badge" should be centered.

**To Reproduce**
Check out https://forem.dev/sponsors for a live example.  The labels are all over the left.

**Expected behavior**
The Gold / Silver / Bronze labels should be centered.

**Screenshots**
<img width="934" alt="screenshot from forem.dev/sponsors page" src="https://user-images.githubuserconten

[2020-08-19 21:09] bard opened #9881 "Misconfigured apple-shortcut-icon"
**Describe the bug**

Site's HTML has:

[code]

The href leads to a 400.

**To Reproduce**

[code]

(Note especially `x-cld-error: invalid quality in transformation: png`.)

**Expected behavior**

HTTP 200

[2020-08-19 22:19] rehmatworks opened #9883 "Isn't this over-complicated?"
For over a year, I'm still struggling to deploy the CMS on a test server :) I start deploying it and I give up when a weird issue comes up, and then I try again a month or two later once I get some spare time because I love this software.

Being a web developer, I feel this software is over-complicated. Maybe it's due to Ruby? I am not sure. I only know Python and PHP but I believe that the softwa

[2020-08-19 22:54] 0xC000005 opened #9884 "Command ["bin/rails create_dot_env_file"] failed"
Hi, when I attempt to install forem on my CentOS 7.7 server, I got this error.

[code]

I tried to run  `bin/setup --trace` to see if I can have a full trace, but that is all I got 👆

Can someone have a look? Thank you so much 🥺

[2020-08-19 23:24] juniorRubyist commented on #9883
The project does use some obsoleted versions of dependencies, which could be part of the problem.

[2020-08-20 01:04] jdoss commented on #9779
Are you on the most up to date master branch? https://github.com/forem/forem/pull/9624 should fix this problem.

[2020-08-20 02:01] timorthi commented on #9779
@jdoss I pulled from upstream and tried again, but unfortunately I'm running into the same issue.

Side note: With the latest .env updates, I had to set `REDIS_URL: redis://redis:6379` on sidekiq's container, as the `export REDIS_URL="redis://localhost:6379"` from .env.sample was causing sidekiq to fail to connect to Redis.

[2020-08-20 04:13] citizen428 commented on #9883
Hi @rehmatworks and thanks for opening this issue. I think it would be better to have this discussion over at https://forem.dev/. Would you mind posting it there and closing this issue?

[2020-08-20 06:51] citizen428 commented on #9884
The relevant error is here:

[code]

The step that fails tried to move environment config from `config/application.yml` to a `.env` file. We probably should handle the absence of such a file more gracefully, but in the meantime, you should be ok if you do the following and then re-run the setup:

[code]

[2020-08-20 07:06] citizen428 commented on #9620
@rhymes

That's a good summary of my rationale :-)

Flair, see e.g. https://mods.reddithelp.com/hc/en-us/articles/360010541651-User-Flair

[2020-08-20 08:09] citizen428 commented on #9638
I have to admit I never looked into our video uploading code, but if you have a look at `config/storage.yml` you'll see that local uploads are configured to go to `tmp/storage` in your local `forem` checkout. If videos use `ActiveStorage` you're good to go without AWS credentials.

[2020-08-20 08:10] ludwiczakpawel commented on #9620
i think we're mixing some ideas here...

[so the way i understand it is: for initial release we gonna have only simple logic for flairs:](https://github.com/forem/forem/issues/9620#issuecomment-675056811)
- if you're a mod, we will display [MOD] flair next to your name on comments
- if you're a post author, we will display [POST AUTHOR] flair next to your name on comments
- if you're an admin, we

[2020-08-20 08:55] rhymes commented on #9620
@ludwiczakpawel I'm okay either way, it's more of a product decision. The simple logic is easy to implement. We can start with that and then implement the proposed logic by @citizen428 in a future PR

cc @jessleenyc

[2020-08-20 09:14] ludwiczakpawel commented on #7397
Yea, I'm not really sure how to tackle this. One thing is whether or not we actually need this and if yes how do we display that to make it not bloat the entire help guide...

IF we need that, then here's my initial idea how to display it:

![image](https://user-images.githubusercontent.com/108287/90751136-069c3280-e2d6-11ea-9cf5-9d79ab0d7735.png)

---

Also, can someone explain me how would that

[2020-08-20 09:18] rhymes commented on #7397
I wonder how GitHub does it. They essentially show a dropdown of all supported emojis when you type `:`

[2020-08-20 09:56] ludwiczakpawel commented on #7397
@rhymes would be nice yea, but then, if we want to implement some "autocomplete within editor" functionality, I think there are better things to start off with, like autocomplete for liquid tags :)

[2020-08-20 11:42] 0xC000005 commented on #9884
Yep, it works! Thank you so much!!!
[code]

[2020-08-20 11:42] #9884 closed

[2020-08-20 12:10] Nkemjiks opened #9889 "Part of the share pop-up when viewing a draft article is cut-off"
**Describe the bug**
Part of the pop-up that opens when you click on the 3 dots on the left top side of the page is cut-off.

**To Reproduce**

1. Go to the dev.to
2. As a logged in user, try to create an article
3. Add some content and save without publishing
4. On the top left corner, you should see 3 dots arranged horizontally.
5. Click on it

**Expected behavior**

It should fully show the pop

[2020-08-20 12:16] grok commented on #9258
Changed my name and now I see that all the old comments and stuff in my history point to 404s... and if you go to the actual threads they are on -- if you click on that profile -- that 404s.

This happened a few minutes ago.

Specific examples:
New profile: https://dev.to/grok
Old Profile: https://dev.to/sterlo

At this time -- both exist at the same time...

I posted here: https://dev.to/raulfdm/

[2020-08-20 12:45] 0xC000005 opened #9890 "Command ["bin/rails app_initializer:setup forem:setup"] failed"
**Describe the bug**
When I run `bin/setup`, I got this error 👇

[code]

**Desktop (please complete the following information):**

- OS, version: CentOS 7.7

**Additional context**

I thought this is caused because the user `postgres` doesn't have root access., so I give `postgres` the access by editing `/etc/sudoers` like this:
[code]
But I still got the same error, for example:
[code]
Is the `Co

[2020-08-20 12:57] rhymes commented on #9890
@0xC000005 what happens if you do `bundle exec rails db:reset` ?

[2020-08-20 13:12] akourtis98 commented on #9184
I have the same problem too. I just contacted yo@dev.to and now I'm waiting for a response. Is there any other way to solve it?

[2020-08-20 13:29] 0xC000005 commented on #9890
It failed 😢, caused by `PG::UndefinedFile: ERROR:  could not open extension control file "/usr/pgsql-11/share/extension/citext.control": No such file or directory`
[code]

[2020-08-20 13:48] Amorpheuz commented on #9638
That didn't turn into a useful lead for me. But I got a video running on local instance by just grabbing details from the mentioned sample post's video player. The plugin loads required data into a `video-player-source` div, which then I just added to my test article's record in the database.

[2020-08-20 14:33] 0xC000005 commented on #9890
So after I install `postgresql-contrib`, I try `bundle exec rails db:reset`,  but it still wouldn't work.

However, `bin/setup` works just fine, so I guess `Command ["bin/rails app_initializer:setup forem:setup"] failed` is because I didn't install `postgresql-contrib` package.

Here is what I got if I run `bundle exec rails db:reset`:
[code]

[2020-08-20 14:59] rhymes commented on #9890
Try to-rerun it, sometimes you get a timeout because some command is taking too long.

[2020-08-20 15:01] thomasbnt opened #9895 "Add external link icon on /mods"
**Is your feature request related to a problem?**

**Describe the solution you'd like**
A icon linked 🔗  to the post who opened to a new tab directly on `/mods` for read the post on a new tab.
![image](https://user-images.githubusercontent.com/14293805/90788970-a2de2d80-e306-11ea-8bea-c11f7a6e63cd.png)

**Describe alternatives you've considered**

Or `See on a new tab` link.

[2020-08-20 15:16] citizen428 commented on #9620
From a backend development perspective, I find it easier to think of them in a unified way and treat them as the specialized and general case respectively. From a product perspective that doesn't necessarily mean that we need to expose both use cases to end users right away. My comments were purely concerned with the technical implementation.

[2020-08-20 15:25] 0xC000005 commented on #9890
`bundle exec rails db:reset` works! Thank you so much!!!

[2020-08-20 15:25] #9890 closed

[2020-08-20 15:32] ludwiczakpawel commented on #9620
@citizen428 gotcha, makes sense :) thanks for explanation!

[2020-08-20 15:34] michael-tharrington commented on #9184
@akourtis98 thanks for the heads up! I can confirm that we received your email and are looking into it. I'll hit you back when we have a fix in place.

If I'm not mistaken, the message you received was just slight different correct?

_Validation failed: **Website** url is not a valid URL_ rather than _Validation failed: **Employer** url is not a valid URL_ ... seems like it's pretty much the same

[2020-08-20 18:44] michael-tharrington commented on #9895
Thanks for writing this up @thomasbnt! Just to be clear, this is a request for an upgrade to the mod center available via [dev.to/mod](https://dev.to/mod) — we'd like the option to be able click on items in the list to see the full article. Something like:

![Image 2020-08-20 at 2 41 18 PM](https://user-images.githubusercontent.com/16007075/90811887-65bc7000-e2f3-11ea-9eb4-bb8b5df4fb90.png)

Right

[2020-08-20 18:51] thomasbnt commented on #9895
Thanks for this presision@michael-tharrington 😄

[2020-08-20 19:53] michael-tharrington opened #9902 "Create separate routes for sign up vs. log in"
**Is your feature request related to a problem? Please describe.**

Occasionally a user tries to log into a DEV account and they mistakenly create a second DEV account. This problem is best described in [this article](https://codeburst.io/how-to-do-it-wrong-third-party-auth-aka-social-login-d7f24abecef5) under the heading "Signing up users who are trying to log in".

**Describe the solution you'd

[2020-08-20 20:25] tjtelan opened #9903 "Codeblock rendering breaks in middle of content for long posts"
**Describe the bug**
I've been trying to work around this rendering issue but I've come to the conclusion that the problem is not with the content of my post but solely in the site's ability to properly render long form content.

**To Reproduce**

Here's a link to the preview post
https://dev.to/tjtelan/let-s-build-a-single-binary-grpc-server-client-with-rust-in-2020-38ck-temp-slug-59948?preview=f

[2020-08-20 21:26] daiyaharsh90 opened #9908 "Dev.to IOS App Report Abuse link - Captcha Infinite loop"
**Describe the bug**

On the IOS App, I tried to mark a certain post as Spam/Abuse and I had to fill the Google Image Captcha, which keeps on going forever.

**To Reproduce**
Open IOS App
Open a post
Scroll to the bottom of the post
hit on report abuse link
Select the checkbox for type of abuse
Select checkbox for I am not a robot, which will open Image captcha which keeps on bringing new images w

[2020-08-20 21:32] sabarish98 commented on #9184
Hey folks, I too received this validation error, while trying to update my employer URL field under profile settings. URL is accurate though.
Now I'm unable to change the existing value given previously as well.
 The error message :

`1 error prohibited your profile from being saved:
  Employer url is not a valid URL`

[2020-08-20 21:45] benhalpern commented on #9620
If we can think of the flair as belonging to a user and dependent on context, it still might make sense for them to _belong_ to a user, but have context such that they can be conditionally rendered.

Something about that just seems a little more straightforward of a model than attaching them to their _Flarables_... (Comments and Articles I'd think)

Like, I might _have_ 6 possible flair or whateve

[2020-08-20 22:37] antonrhein commented on #9184
I am receiving this error too, when trying to update the URL to my personal website. Furthermore, it doesn't seem to be possible to "empty" this field. There is the same error `Website url is not a valid URL` ...

[2020-08-21 00:54] jdoss commented on #9883
Hey @rehmatworks I didn't see a post on [forem.dev](https://forem.dev) on this topic, so I wanted to post a quick follow up here to let you know that we hear you. Setting up Forem is pretty tough right now. I share similar thoughts and feelings on the matter too. Part of the reason I joined the Forem Company was to give the the systems side of the house a bunch of tough love to get it into a place

[2020-08-21 00:54] #9883 closed

[2020-08-21 03:45] rehmatworks commented on #9883
@jdoss Thank you so much for your response. I've created a post on forem.dev site.

[2020-08-21 04:42] citizen428 commented on #9620
They indirectly already do, through the roles. All the flairs you mentioned are predicated on the user having a specific role, so a user `has_many :flairs, through: roles` in Rails speak. The flair is not available because of _who_ the user is (their ID), but _what_ the user is (their roles). That's why to me, this is the "data structure that most resembles the real-world relationship". There's a

[2020-08-21 08:30] codingtagofficial opened #9913 "write post permission"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-08-21 13:43] fdoxyz opened #9919 "Upgrade reCAPTCHA to v3"
**Is your feature request related to a problem? Please describe.**

Based on community reports (#9908) we see a bit of friction on abuse reports secured by reCAPTCHA (and probably any other flows secured by it). The "I'm not a robot" [checkbox (v2)](https://developers.google.com/recaptcha/docs/display) is reliable probably for most users, but once the connection is [using a VPN](https://superuser.

[2020-08-21 14:02] leewynne opened #9921 "Generalise email sending logic for smaller communities"
**Is your feature request related to a problem? Please describe.**

At the moment, smaller communities might not be sending out automated digest emails as the minimal threshold.

**Describe the solution you'd like**

All the settings listed in email_logic.rb:28 to be set within SiteConfig. As they are quiet advanced at the moment maybe a good solutions would be to just set the frequency of sending

[2020-08-21 16:39] 0xC000005 opened #9928 "NoMethodError when trying to load a user object for the resource admin panel."
I'm following this [tutorial](https://docs.forem.com/backend/resource-admin/#what-is-the-resource-admin-panel?) to set up the resource admin panel for my local forum, but I can't set the user that I added to `super_admin`. It says ```NoMethodError: undefined method `add_role' for nil:NilClass``` 🤔

**Describe the bug**
[code]

**Desktop:**

- OS, version: CentOS 7.7

**Additional Information**
btw

[2020-08-22 11:53] #9928 closed, assigned to nobody

[2020-08-22 13:23] sabesansathananthan opened #9934 "Add channel image to RSS feed"
**Is your feature request related to a problem? Please describe.**

In the dev.to RSS feed, I could not get my profile image

**Describe the solution you'd like**

medium.com gave the profile image link in their RSS feed. I could not get my dev.to profile image link in dev.to RSS feed

**Describe alternatives you've considered**

**Additional context**

[2020-08-22 13:47] akhil-naidu opened #9935 "Forem.dev: bug with login"
This is related to the live Forem Instance. The user is getting logout and the feed is empty in certain cases. The cases are mentioned below.

**Case 1**
1. Login to Forem
2. Use the Forem logo and open Forem in a new tab (Right-click on the mouse)

**Case 2**
1. Login to Forem
2. Click on Forem logo (no change at this stage)
3. Double click Forem Logo (the same issue arises)
4. If you can't produ

[2020-08-23 08:48] Amorpheuz opened #9937 "Further automation of the Automatic Issue comment workflow"
**Is your feature request related to a problem? Please describe.**
Currently, if an issue is to be picked up by the `Forem team`, the action-bot's comment has to be manually deleted and replaced with a message indicating that the issue will be worked upon by the `Forem team`. If the auto-comment workflow for issues is further modified, such steps could also be automated since all issues getting wo

[2020-08-23 09:00] GeopJr opened #9938 "Mastodon profile of an outside of allowlist instance got saved"
**Describe the bug**

Somehow while exploring Settings, my mastodon profile of a not-in-allowlist instance (tech.lgbt) got saved and passed the validation. However, now I am unable to change any Settings (including removing or replacing mastodon url) or even login.

**To Reproduce**

Can't reproduce, steps taken when it happened:
1. Go to Settings
2. Set Mastodon URL to something outside of allowl

[2020-08-23 16:51] #9938 closed

[2020-08-23 17:38] tjtelan commented on #9903
😳 wow yikes. There it is...

I didn't notice it on my main site (which uses [Zola](https://www.getzola.org/)) since the backtick gets matched up later in the sentence and the rendering weirdness stays local to this paragraph.

The unmatched backtick ends up printed and the rest of the content continues to render as expected (as far as I know...).

![image](https://user-images.githubusercontent.com

[2020-08-23 17:38] #9903 closed

[2020-08-23 19:13] pjar commented on #9147
Having the same issue as @markomannux - just managed to install everything with docker on mac, and wanted to login with a user that I added `:super_admin` role and set his password - all in rails console. I did that as I wanted to get rid of `Setup not completed yet, please visit the configuration page.` flash message which leads to a page behind authentication.

I will debug it more later but fro

[2020-08-23 19:51] bolsonusc commented on #9935
I can reproduce in Safari  https://forem.dev/ too!

[2020-08-23 19:59] cglong opened #9962 "Native sharing not working"
**Describe the bug**

When I tap the ellipsis, I don't see a native share dialog.

**To Reproduce**

1. Open an article
2. Tap the ellipsis

**Expected behavior**

I expected to see a native share dialog, as depicted in #1524

**Screenshots**

![Screenshot_20200823-155343.png](https://user-images.githubusercontent.com/137214/90987479-47f04480-e559-11ea-9670-29c2fb394360.png)

**Desktop (please com

[2020-08-23 22:35] markomannux commented on #9147
I can confirm that, like @pjar stated, `config/secrets.yml` has a key for dev and `Rails.configuration.secret_key_base` is `nil`. However, it seems that `secret_key_base` is stored both under `Rails.application.secrets.secret_key_base` and `Rails.application.secret_key_base` (the former is used by Sidekiq to search for the session secret - I found a hint in `config/routes.rb`).
Is it expected to b

[2020-08-24 04:33] Amorpheuz commented on #9935
Erm, after I reproduced this bug, I can't seem to stay logged into https://forem.dev/ and now get logged out every time I switch pages.

[2020-08-24 06:22] akhil-naidu commented on #9935
Yes, I am facing this now.

[2020-08-24 07:53] #9486 closed

[2020-08-24 10:17] rhymes commented on #9935
I recorded a GIF that should help a bit

![foremdev](https://user-images.githubusercontent.com/146201/91033467-b093fb80-e603-11ea-96da-de8734278ae1.gif)

Nothing is shown in the console errors

[2020-08-24 13:09] nickytonline opened #9965 "Convert deprecated autoprefixer-rails gem to an npm dependency"
**Is your feature request related to a problem? Please describe.**

The autoprefixer-rails gem has been deprecated.

**Describe the solution you'd like**

The gem should be removed in favour of an npm dependency. See the [migration guide](https://github.com/ai/autoprefixer-rails/wiki/Deprecated) for more details.

**Describe alternatives you've considered**

N/A

**Additional context**

N/A

[2020-08-24 15:15] pofengliu opened #9970 "Non-English post is not searchable from google"
**Non-English post is not searchable from google**

Here is my [publication](https://dev.to/bryanliu/10-years-of-devops-24k4), most of the content are double-byte characters, normally, I should be able to google my post with a sentence from the content, but it does not work as expected ...

**To Reproduce**

1. go to the [post](https://dev.to/bryanliu/10-years-of-devops-24k4)
2. grep a sentence, e

[2020-08-24 15:49] bryanPFLiu commented on #9970
I try to test more double-byte language posts, and find:
1. Traditional Chinese posts are not searchable from google
2. Simplified Chinese posts are not searchable from google
3. For Japanese posts, some works but some are NOT searchable from google, ex: search this sentence "以下のようにページが表示されれば p5.jsの開発環境は構築完了です" from this [post](https://dev.to/shootacean/p5-js-3d82)
4. Korean posts are searchable f

[2020-08-24 16:24] Swimburger opened #9973 "RSS Importer doesn't extract image out of responsive picture-tag"
**Describe the bug**

When you import posts using an RSS feed and the posts have responsive picture-tags, the HTML of the picture-tag is copied over entirely.

**To Reproduce**

1. Hook up RSS
2. Publish a post with responsive picture-tag
3. Edit post in forem/dev.to and scroll to picture HTML

My RSS has responsive picture-tags: https://swimburger.net/atom.xml

**Expected behavior**

Inside the p

[2020-08-24 16:26] pkfrank opened #9974 "Some posts are appearing without any padding on the sides of the content"
**Describe the bug**

On [this article](https://dev.to/prithvi137/introduction-to-chaos-engineering-its-principles-for-kubernetes-o39) (and at least a few others) I'm seeing the following display issue (screenshot below).

**To Reproduce**

I haven't been able to reliably reproduce.  _Most_ posts are okay, but from just cmd+clicking new posts and looking around I've found these others ones with th

[2020-08-24 16:27] benhalpern commented on #9974
This was an issue with the series styling PR which updated classes in a way incompatible with styles. I saw this and ran a cachebust loop on a bunch of them... We may see this issue persist on a minority of articles for the next day or so.

[2020-08-24 16:31] twinsfan421 commented on #9848
I would be interested in working on this if approved.

[2020-08-24 16:37] rhymes commented on #9973
Linking one of such articles https://dev.to/swimburger/how-to-deploy-asp-net-blazor-webassembly-to-azure-static-web-apps-1k32

AFAIK we don't support responsive `<picture>` tags in the editor and the RSS importer just extracts `<img>` tags.

I'm not 100% sure this is technically a bug as the original image is then served responsively with Cloudinary, voiding the need for `<picture>` and `srcset`

[2020-08-24 16:41] Swimburger commented on #9973
Actually, what happened is that the img-tag wasn't being extracted. The entire picture HTML was being placed into the post.
I manually extracted the img's in the post you linked.

Here's a screenshot of another post (not published) where this issue is present:
![image](https://user-images.githubusercontent.com/3382717/91072142-15048a00-e607-11ea-89ef-7a5465ee61df.png)
![image](https://user-images.

[2020-08-24 16:45] rhymes commented on #9973
Ooh. I see that, Yeah, definitely a legit bug :-)

Thank you @Swimburger!

[2020-08-24 17:29] rhymes commented on #9973
I've opened a PR :-) https://github.com/forem/forem/pull/9977

[2020-08-24 18:12] rhymes opened #9979 "Deprecation: Datadog notice about Python 2 based agent"
**Describe the bug**

The following deprecation notice appears in deploy builds on Heroku:

**To Reproduce**

See https://travis-ci.com/github/forem/forem/jobs/376992374#L409 for example

[2020-08-24 18:15] rhymes opened #9980 "Deprecation: webpacker resolved_paths has been replaced by additional_paths"
**Describe the bug**

I saw the following deprecation notice in a deploy build:

Looks to be just a rename:

https://github.com/rails/webpacker/blob/52386bc3784557ba02b9f5c0bcc29d22de64d2a6/lib/install/config/webpacker.yml#L11-L13

https://github.com/rails/webpacker/blob/bdb8673f8ae42af8b2d5c388c9938c3f3826a14f/lib/webpacker/configuration.rb#L79-L85

**To Reproduce**

See https://travis-ci.com/git

[2020-08-24 20:08] #9980 closed

[2020-08-24 20:49] jdoss commented on #9935
This is related to our Nginx Caching efforts. I just disabled it on forem.dev and I will be working with @vaidehijoshi on getting this sorted out. Thanks for the report.

[2020-08-24 23:10] #9973 closed

[2020-08-24 23:34] Swimburger commented on #9973
I'm baffled by the speed of fixing this. Thank you so much.
FYI, how do I know when this will be released?

[2020-08-25 03:34] citizen428 commented on #9974
@benhalpern Labelled this as "Forem team" for now, please close this issue when you think it's been resolved.

[2020-08-25 04:08] akhil-naidu commented on #9935
As the mentioned bug was not being reproduced, I'm closing this issue.

Thank you @jdoss

[2020-08-25 04:08] #9935 closed

[2020-08-25 05:45] Amorpheuz opened #9988 "Missing div.highlight in indented code-blocks"
**Describe the bug**
Un-indented codeblocks in markdown are enclosed with a `div` with `.highlight` class that adds the required css to make them not overflow and line up correctly. If an indented code-block is inserted, it doesn't get rendered with the `div.highlight` enclosing its `pre` tag causing things to not line-up properly and overflow.

**Markdown code used for test:** (Remove `\` before

[2020-08-25 07:43] rhymes commented on #9973
@Swimburger I'll ping you when it is in production, it should go out with the first deployment today

[2020-08-25 10:29] Meetanshi-Inc opened #9989 "error while save my profile"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-08-25 10:55] rhymes opened #9991 "Layout of page of a comment belonging to a deleted article is broken"
**Describe the bug**

The layout of comment belonging to a deleted article is a bit broken

**To Reproduce**

1. Go to https://dev.to/dorshinar/comment/p4g3
1. see the issue

**Expected behavior**

To be similar to https://dev.to/msarit/comment/1439j

**Screenshots**

Regular comment page:

![Screenshot_2020-08-25 BIG CONGRATS to all the graduates 🎉 🎉 🎉 🎉 - DEV(1)](https://user-images.githubuserco

[2020-08-25 10:56] rhymes commented on #9989
Hello @Meetanshi-Inc , thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-08-25 10:56] #9989 closed

[2020-08-25 11:54] Link2Twenty commented on #413
lightense-images seems to work quite nicely. I've written a quick console bodge for anyone that wants to see it in action.

[code]
![Forum_Lightbox](https://user-images.githubusercontent.com/3534427/91171239-0f27ab00-e6d2-11ea-8410-ee892d04ecbd.gif)

[2020-08-25 15:14] Link2Twenty commented on #413
Also they use CSS variables so this can be hooked up to the forem theming system

[code]

I've created a pull request to expose `backdrop-filter` if they take this we might be able to have a little think about what else we'd like to expose.

https://github.com/sparanoid/lightense-images/pull/51

[2020-08-25 15:23] #8167 closed

[2020-08-25 15:28] thomasbnt opened #9993 "Pin a comment"
**Is your feature request related to a problem? Please describe.**
Author can pin a comment on this posts for good responses (can be useful for #help) or **for goods questions and resources**.

I'm going to use a very simple example that I've already seen several times on DEV.

The post is called "Who will participate to the Hacktoberfest 2020? 🙌🏼". ([you can find it here](https://dev.to/thomasbnt

[2020-08-25 15:36] Link2Twenty opened #9994 "Generalise: Site mascot footer image"
**Describe the bug**

The site mascot currently has a fixed size (52x120) this means if a new forem changes their mascot to something that doesn't fit it will looks stretched

**To Reproduce**

Scroll to the footer on https://forem.dev
Look at Sloan

**Expected behavior**

The forem maintainer should be able to have any image and not have to match a specific size

**Screenshots**

![poor sloan](ht

[2020-08-25 15:39] Link2Twenty commented on #9993
Related to #4523

[2020-08-25 15:39] thomasbnt commented on #9993
Oh sorry :x

[2020-08-25 15:39] #9993 closed

[2020-08-25 15:42] Link2Twenty commented on #9993
Nothing wrong with having multiple open 😊
It let's the dev team know it's a feature people want.

It might be worth making a post over on https://forem.dev then people can discuss pros and cons

[2020-08-25 15:46] Link2Twenty commented on #9991
Points of interest

**Where style is applied**
https://github.com/forem/forem/blob/877bdba176759163f07e69b814400d4537bffa7c/app/assets/stylesheets/comments.scss#L126-L137

**Where classes are applied for a deleted section:**
https://github.com/forem/forem/blob/a081810946f6c32a54a2f5e611878289ab7cf227/app/views/comments/deleted_commentable_comment.html.erb#L2

I spy a missing class `comments-dedica

[2020-08-25 15:58] fdoxyz commented on #9962
Thank you for the report @cglong. Like you mentioned the related PRs were indeed in place at some point but were commented out because they were apparently not working well or had some issues.

I do think that with some recent work done in the native Android app this could be fixed fairly easy. I'm hoping to get a fix for this improved sharing capability in soon

[2020-08-25 16:07] Link2Twenty commented on #4523
Discussion post has been created on Forem

https://forem.dev/thomasbnt/pin-a-message-fpo

[2020-08-25 17:17] jacobherrington commented on #9994
@Link2Twenty I'll work on changing this since generalization is currently a focus area for us.

Do you feel like the size values should be configured by an admin user (either in the configuration UI or the image's size), or do you think it should be generated dynamically?

[2020-08-25 18:49] benhalpern commented on #4523
This is a great idea.

We can work on the backend functionality on this without having to  entirely figure out the design right away.

This could end up being a bit of a pain from an implementation perspective....

I'd say we could do this by adding a `pinned` boolean to comments, and then automatically bump up the `score` of the pinned comment to ensure it rises to the top (or do this otherwise,

[2020-08-25 19:00] Link2Twenty commented on #4523
Would pinned be a comment flair?

[2020-08-25 19:09] AdekunleA opened #9996 "Emojis on onboarding task card don't show properly on Desktop browsers"
**Describe the bug**

Emojis on the onboarding task card for new users don't show properly on Desktop (they do on Mobile). I've tested this on different computers on both Opera and Google Chrome.

**To Reproduce**

1. Go to clusteremployment.com
2. Create new account
3. Follow onboarding flow
4. See error once flow is finished

**Expected behavior**

Emojis to show properly on desktop

**Screensho

[2020-08-25 19:22] AdekunleA opened #9997 "Request to make category details/rules more prominent for listings"
**Is your feature request related to a problem? Please describe.**

It's not necessarily a problem, but it would serve our use case better if we could have category details/rules show up more prominent. This is because of the high potential for current users to miss the category details/rules.

**Describe the solution you'd like**

Make category details/rules more prominent so users of all skill l

[2020-08-25 20:22] nickytonline commented on #9965
I was reading through the migration guide yesterday and this seems pretty involved @rhymes. The guide suggests migrating all assets to webpack. We can do this, but it's a good chunk of work that would require extensive manual testing of the site.

For the time being maybe we should look at the other option they suggest of running a script post asset pipeline processing.

Having said that, I know w

[2020-08-26 09:21] Link2Twenty opened #10009 "Service Worker: App Shortcuts"
With Chrome 85 [App Shortcuts](https://web.dev/app-shortcuts/) have been added for Android and Windows, this allows long press/right click options to be added to allow access to tasks more quickly, such as "Write a post".

**Describe the solution you'd like**

A forem maintainer should be able to add custom actions that appear in their service worker, they would need to add:
 - a name
 - a short n

[2020-08-26 09:50] rhymes commented on #10009
Linking the browser support section, from https://web.dev/app-shortcuts/#browser-support

[2020-08-26 09:53] rhymes commented on #9973
@Swimburger sorry, totally forgot to update you after deployment, the fix is live in production :)

[2020-08-26 10:07] rhymes commented on #9991
@Link2Twenty great catch! do you want to submit a patch? :)

[2020-08-26 10:14] rhymes commented on #9965
yeah, it sounds like a lot of work! Also I don't know if moving off sprockets is the sensible thing to do in general as many people have experienced issues during the migration of legacy assets to webpack here:  https://discuss.rubyonrails.org/t/sprockets-abandonment/74371

What would that entail?

Yep, it's self installing. Should we try removing it and see if the build happens anyway? Maybe we'r

[2020-08-26 11:21] c0oys opened #10013 "Can someone unblock me please @c0oys https://dev.to/c0oys"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-08-26 11:22] c0oys commented on #10013
Can you unblock me please and please dont close this trend until i am unblocked please.

[2020-08-26 12:11] rhymes commented on #10013
Hello @c0oys, thanks for notifying us of this problem, as this an issue specific to your account, please email yo@dev.to for more help.

GitHub is not the best place for support requests :)

Thank you!

[2020-08-26 12:11] #10013 closed

[2020-08-26 13:48] #9991 closed

[2020-08-26 13:53] Amorpheuz commented on #9988
I would love to work on this, as this issue tends to hamper how I write blogs regularly 😅. But I lack the required knowledge in Ruby. Would love to get some pointers from anyone more knowledgeable or hand over the issue to the person.

[2020-08-26 14:26] nickytonline commented on #9965
@rhymes, I'm pretty sure we don't leverage what `rails autoprefixer:info` gives us and in our SASS files, we actually use vendor prefixes in some cases. cc: @ludwiczakpawel

Removing the gem should in theory break nothing. 😄 I will try that first and if there seems to be oddities in parts of the site in regards to CSS we can revert or fix those CSS issues as they pop up.

We can also look at runni

[2020-08-26 14:29] rhymes commented on #9965
@nickytonline awesome plan. Apparently `autoprefixer-rails` is a dependency of `administrate` but we are planning to remove that so that's fine :D

[2020-08-26 14:51] ludwiczakpawel commented on #9965
I haven't been using vendor prefixes in my CSS quite intentionally because I knew there's a magic that handles that for me :D

So I'm not sure if dropping vendor prefixes will cause any harm, since I don't know in how many cases exactly vendor prefixes are still needed. But I'm sure there still are some properties that require vendor prefixes to be working on some browsers...

[2020-08-26 14:53] 0xC000005 commented on #9195
@akhil-naidu
I tried internal switch, external switch and NAT on hyper-v, and couldn't avoid the same error message.  **Golden Command** works, but `bin/container-setup` does not. 😥

I bought a fresh new vultr VPS running ubuntu 18.04 to make sure that the error is not caused by my hyper-v configuration, but I keep getting `connection refused.` on this brand new VPS if I run `bin/container-setup`.

[2020-08-26 14:59] rhymes commented on #9965
I did a little test. I ran `rails assets:precompile` locally, which builds a production version of all the assets we have. I then grepped those assets (they will be in `public/assets` after the command has run) for vendor prefixes like `-webkit-`, `-moz-`, `-o-` and `-ms-` and found the following:

[code]

so we have a bunch of them

[2020-08-26 15:02] nickytonline commented on #9965
I've done a smoke test and so far not an issue, but... you never know. 😄

Here's the list:

[code]

[2020-08-26 15:11] rhymes commented on #9965
The output of the above command, so that you can inspect the results:

https://gist.github.com/rhymes/001ea0f22549acfcb0b2470d5fb41e24

[2020-08-26 15:15] akhil-naidu commented on #9195
try these solutions, it will remove them.

If you have a domain, then most of the things will go smoothly, at least that is how I solved my issue.

I will explain, how I solved this issue, but this might not be the actual solution.

1. I have a domain in Cloudflare, so I created a CNAME record on the subdomain(ex: dev.leewardslope.com) and attached the external IP address.
2. As the Forem service

[2020-08-26 15:16] nickytonline commented on #9965
Thanks @rhymes. In that case we're using it more than I expected. 🙃 I will look into running a script post asset compile then like they suggest in the migration guide. cc: @ludwiczakpawel

[2020-08-26 15:22] rhymes commented on #9965
@nickytonline I think the point here circles back to: are they needed? We still haven't decided which browsers Forem is going to support. Maybe we need all the prefixes, maybe we don't 🤷

I guess in the meantime though we do...

[2020-08-26 15:26] nickytonline commented on #9965
Some of those prefixes are valid even with up-level browsers, so I'd prefer to air on the side of caution. Once we do decide on official browsers supported, we can re-evaluate. That OK with both of you?

[2020-08-26 15:27] Taniyah-L-Jackson commented on #4523
Sounds like a good idea.

The setup could be similar to StackOverflow or Medium's UI

[2020-08-26 16:28] nickytonline commented on #9965
Here's the script in action [`052351f` (#10017)](https://github.com/forem/forem/pull/10017/commits/052351f67588e5dbe30b621f5368835d3a0e4f29)

[2020-08-26 16:33] #9994 closed

[2020-08-26 20:01] hmajid2301 opened #10028 "Canonical URL Missing Originally Publish At X"
When I change the canonical url on an existing article. I cannot see the Originally published at `xxx`. I added the `canonical_url` option in the frontmatter.

[Here](https://dev.to/hmajid2301/how-to-add-offline-search-to-a-gatsby-blog-4bnm
) is an article which was originally uploaded with a `canonical_url` option in the frontmatter.

[Here](https://dev.to/hmajid2301/react-native-expo-with-virtua

[2020-08-26 22:31] #9965 closed

[2020-08-27 01:36] maureento8888 commented on #9776
Nope! Not an issue now, although it sometimes hits for no particular reason and I have to wait for later for it to work again!

Thanks so much though 🙌🏼

[2020-08-27 04:50] citizen428 commented on #9776
Thanks for clarifying @maureento8888! I will close this issue for now, if you encounter similar problems in the future — especially if they are more persistent — please feel free to open a new one.

[2020-08-27 04:50] #9776 closed

[2020-08-27 08:05] ludwiczakpawel opened #10032 "Sending "Reset password" link"
**Describe the bug**

Even though I don't have set up password for my account, I can still use "Forgot password" form (linked form _Log in_ page) to send myself an email with Password Reset link. It's not very usable because it just logs me in and takes me to the Dashboard but nevertheless I think we should have better flow to handle that edge case.

**To Reproduce**

1. Make sure you don't have p

[2020-08-27 08:15] citizen428 commented on #10032
If I remember correctly users _always_ have a password. If they sign up via another flow, we automatically create one but don't tell them about it.

[2020-08-27 08:18] citizen428 commented on #10032
Double-checked. See `app/services/authentication/authenticator.rb:117`:

[code]

[2020-08-27 09:16] ludwiczakpawel commented on #10032
Then either way this flow is incorrect. It was supposed to be "reset my password" kind of a flow, and turned out to be "magic link to log in" (we could consider that as a feature though :D)

[2020-08-27 09:52] hamzashahab1610 commented on #9184
I have the same problem too. I just contacted yo@dev.to I can not login to my dev.to account now.

[2020-08-27 09:54] hamzashahab1610 commented on #9184
Can you guys please confirm if you have received my mail?

[2020-08-27 13:01] #9740 closed

[2020-08-27 14:45] rhymes opened #10037 "Should comments belonging to unpublished articles be accessible?"
**Is your feature request related to a problem? Please describe.**

Right now if a user deletes an articles, the comments attached it are still accessible provided one has the URL for them.

This is not true if a person unpublishes an article that has already been commented.

Should we consider comments on unpublished articles the same way?

**Describe the solution you'd like**

I'm okay with the