[2020-04-19 13:33] Pau1fitz commented on #7248
this is a database issue, and will need to be updated there to be `csharp`. Based on the resolution for this issue it looks as if it will need to be resolved internally #6542

[2020-04-19 22:13] renanbona commented on #2914
Can I work on this?

[2020-04-20 02:53] fdoxyz commented on #7251
Hello @simonxabris thanks for taking a swing at this! Did you had a chance to try sort out the issue?

I was implementing a fix for the Android side (mostly Native App) but had to rearrange some stuff on this exact method you mentioned. I changed the API used in order to “copy to the clipboard” for all other browsers. Would you be willing to take a look at [this PR](https://github.com/thepractical

[2020-04-20 06:35] simonxabris commented on #7251
Hi @fdoxyz

Yeah I tried but I actually couldn't get the project to run locally so I've practically made zero progress regarding this issue 😅.

I've looked at your PR and it's pretty much what I would've done (without the android stuff). My only concern is that the `clipboard.writeText` API is not supported in in desktop and ios safari (and also explorer) [according to caniuse](https://caniuse.com

[2020-04-20 07:40] fdoxyz commented on #7251
No worries @simonxabris! Feel free to ping me if ever stuck somewhere in the installation/setup process, I'd be happy to help. Of course no pressure with having to test the PR though.

Thanks for the heads up with the Clipboard API not working if unsupported by the browser! I had tried a few browsers & devices but it did fail in Safari and I hadn't tried that. I just took care of it on another com

[2020-04-20 10:01] ledestin opened #7383 "Running a single system test is very slow (takes over 40 seconds)"
**Is your feature request related to a problem? Please describe.**

I worked on a PR and wrote some system tests. Running a single system test takes 40-50 seconds.

I'm willing to investigate why it's so slow, and potentially fixing it.

**Describe the solution you'd like**

A system test taking ~5 seconds would be great.

**Describe alternatives you've considered**

CI is great, but immediate fee

[2020-04-20 10:11] rhymes commented on #7383
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-20 10:30] rhymes commented on #7383
Hi @ledestin, they are slow indeed!

Booting Chrome headless and clicking around with Capybara is not a fast operation.

Do you have any ideas on how to improve that?

[2020-04-20 11:31] kay-is opened #7384 "Organization page only shows 8 articles"
**Describe the bug**

The organization page did show all articles that were made under it, but now it only shows 8.

**To Reproduce**

Go to an organization page like that one: https://dev.to/moesif

**Expected behavior**

Showing all posts of an organization.

[2020-04-20 13:28] rhymes commented on #7384
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-20 13:40] andypiper opened #7387 "Provide a consistent, hosted URI for the API specification"
**Is your feature request related to a problem? Please describe.**

I'd love to submit the DEV API spec to the [apis.guru OpenAPI directory](https://apis.guru/openapi-directory/), enabling more people to discover and develop tools on DEV. However, they prefer a static and consistent URL from which to obtain a specification so that they can refresh it on a regular basis as it is updated.

**Describ

[2020-04-20 13:44] rhymes commented on #2914
Hi @renanbona, thanks a lot, sure you can!

I have mainly two suggestions since this is one of the most important controllers:

- multiple small PRs have a higher probability of not breaking anything and being easily reviewed and merged, instead of one huge refactoring PR
- read through the conversation in the previous attempt which might give you ideas https://github.com/thepracticaldev/dev.to/pu

[2020-04-20 13:45] aviskarkc10 commented on #6752
@rhymes I finally got around working on this issue. But every time I sign into the application thru GitHub, I get this error. Can you help me with this?
![image](https://user-images.githubusercontent.com/13309631/79758666-680abf80-833d-11ea-8d4f-fa65ed13e1a1.png)

[2020-04-20 13:47] #7248 closed

[2020-04-20 13:55] rhymes commented on #7387
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-20 13:58] rhymes commented on #6752
It looks like a problem with image magick, what version do you have? on which operating system? can you upgrade it? I found some hints in https://stackoverflow.com/questions/10810356/carrierwave-error-msg-failed-to-manipulate-with-minimagick-maybe-it-is-not-an

Is that temporary image an actual image? You can check with `identify PATH OF THE IMAGE`

[2020-04-20 14:13] aviskarkc10 commented on #6752
I am using `v7.0.10-7` on Ubuntu 19.04.

When I run `identify PATH OF THE IMAGE`. I get an error:

[code]

So I guess the error is because I don't have that particular file?

Not sure if it is something to do with my `ImageMagick` installation

[2020-04-20 14:22] rhymes commented on #6752
Mmm it's odd indeed. It seems like it's not saving the profile image on disk. Let me look into it.

[2020-04-20 15:21] mstruve commented on #7384
Should be fixed by #7389. Deploy heading out now. Will close once the fix is validated in production

[2020-04-20 17:19] mstruve commented on #7384
Fix deployed and works!

[2020-04-20 17:19] #7384 closed

[2020-04-20 17:27] maestromac commented on #6752
Hello @aviskarkc10 , how did you install your ImageMagick? And can you try `identify` on an image on your disk that isn't in a tmp folder?

[2020-04-20 17:34] aviskarkc10 commented on #6752
I will add more details tomorrow 👍

[2020-04-20 17:58] vinayhegde1990 opened #7397 "Add Emoticon in Documentation"
**Is your feature request related to a problem? Please describe.**
When writing a new blog post, there should be a handy link to describe the syntax for **emoticons** compatible with Markdown

**Describe the solution you'd like**
Add [**this**](https://gist.github.com/rxaviers/7360908) or **[this](https://github.com/ikatyang/emoji-cheat-sheet/blob/master/README.md)** as possible documentation for

[2020-04-20 18:16] aviskarkc10 commented on #6752
@maestromac i get the same error when I try it on a valid image.

I installed imagemagick thru this:
https://www.tecmint.com/install-imagemagick-on-debian-ubuntu/

[2020-04-20 18:35] bernardbaker opened #7398 "Search icon on dark mode theme is nearly invisible."
**Describe the bug**
I was looking through my message channels. And I wanted to DM someone. But I couldn't find the search input field.

If you take a look at the image below. You will see that it's nearly invisible against the background colour.

**To Reproduce**
Use the same theme that is shown in the picture. Click messages. Look for the search input field. Don't make the mistake that I made an

[2020-04-20 20:19] juliannatetreault opened #7401 "Remove Background Styling for Article Show Page from Article Show Stylesheet"
When replacing the article show page `<div>` with an `<img>` tag in `articles/show.html.erb`, styling changes had to be made in `article-show.scss` to accommodate the changes in the template. In order to avoid caching conflicts due to the changes, the `background` and `background-size` styling for an article in `article-show.scss` had to remain in the stylesheet. **The background styling is now de

[2020-04-20 20:34] abraham commented on #2955
It looks like poll data is in the Labs API endpoint.

- https://developer.twitter.com/en/labs
- https://developer.twitter.com/en/docs/labs/tweets-and-users/api-reference/get-tweets-id

[2020-04-20 20:40] juliannatetreault opened #7403 "Ensure That Special Characters Are Escaped in JSON-LD"
We currently use JSON-LD to structure our site's data. While the data structure works, there are a couple of edge cases that have surfaced via Google's Search Console that we have not yet handled. In order to resolve the errors and handle the edge cases, it is important that we ensure that special characters are escaped in the data structure.

Particular Places Where the Errors Have Been Thrown:
-

[2020-04-20 22:01] #7289 closed

[2020-04-20 22:39] benhalpern commented on #7314
I can confirm that this has been fixed by https://github.com/thepracticaldev/dev.to/pull/7396

Nice stuff @juliannatetreault 🙌

[2020-04-20 22:39] #7314 closed

[2020-04-20 22:43] benhalpern commented on #7403
Do we need to escape _arbitrary_ special characters, or is it just the `\` that is causing us problems?

these are the identified links that are problematic...

https://dev.to/panchenkodmaspose/save-your-projects-to-project-server-project-online-via-pwa-using-aspose-tasks-c7
https://dev.to/zerquix18
https://dev.to/bjhaid_93

It makes sense that backslash would cause problems.

[2020-04-21 00:35] benhalpern opened #7407 "Create search filters (non-UI component)"
**Is your feature request related to a problem? Please describe.**

As a user, I'd like to be able to search by types of posts, tags, etc. Currently we offer very little in this regard.

**Describe the solution you'd like**

I think we can punt on the UI and start by implementing filtering from the searchbox/url on up. This will create a solid foundation when we go to create the UI.

It should inc

[2020-04-21 00:41] benhalpern opened #7408 "Word adjacency understanding in search."
If I search `Can anyone explain how to use Ajax to connect to a C`

These are my results...

<img width="961" alt="Screen Shot 2020-04-20 at 8 38 03 PM" src="https://user-images.githubusercontent.com/3102842/79812415-d738e180-8346-11ea-8c2a-33485968f04c.png">

Adding quotations... `"Can anyone explain how to use Ajax to connect to a C"` gets me results relating to the post I knew existed...

<img

[2020-04-21 03:33] ledestin commented on #7383
Hi @rhymes.

I think it's not Chrome and Capybara that are slow. I have a side project that uses headless Chrome, and running a comparable single test takes ~5 seconds (no Spring either).

It needs to be investigated, where the time is spent. One thing it does is call Webpack to compile JS, but I don't know how expensive that is. It really needs to  be profiled to get the idea where the time is sp

[2020-04-21 03:47] citizen428 commented on #7397
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-21 03:49] citizen428 commented on #7397
For any potential contributors, please note that we're using the [Gemoji](https://github.com/github/gemoji) gem which refers to [Emoji Cheat Sheet](https://github.com/github/gemoji) for documentation.

[2020-04-21 05:25] inventateq opened #7410 "not able to login in to account"
Dear Dev Team,

when ever iam trying to write a post , it is showing Ooooops...
You have encountered an error.

please find attached screenshot and do the needful

<img width="1269" alt="Screenshot 2020-04-21 at 10 51 17 AM" src="https://user-images.githubusercontent.com/19629507/79828343-2d953700-83be-11ea-95c9-d42612bea9c7.png">

iam doing [data science training](https://www.inventateq.com/data-

[2020-04-21 07:24] citizen428 commented on #7410
Hello @inventateq, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-04-21 07:24] #7410 closed

[2020-04-21 07:40] citizen428 commented on #7371
@PranavBhattarai That would be negating the point of having a transparent background. If you don't want the site to influence how your image looks, the image needs to set a background.

[2020-04-21 07:42] citizen428 commented on #7371
@PranavBhattarai Wouldn't that negate the point of having a transparent background in the first place?

[2020-04-21 10:03] PranavBhattarai commented on #7371
@citizen428 I don't know how to answer that apart pointing to the legit problem.

No matter what we do, how is the condition; we do need to use "exception handling" mechanism in our codes to bypass somethings which can lead to error. And this case is no different.
Right question is, how to check and not colorize those areas which contain gifs/images.

[2020-04-21 10:22] Ridhwana opened #7413 "Check for the "magic" emails, use the configurable emails instead:"
- [x]  yo@dev.to => replace with `SiteConfig.default_site_email`
- [x]  partners@dev.to, partnerships@dev.to,  biz@dev.to - use 1 email for all of these, add a configurable option, for DEV should be partners@dev.to
- [x]  members@dev.to - used only in events, probably this legacy feature will be disabled for other communities once we have feature toggles
- [x]  privacy@dev.to - additional config

[2020-04-21 10:23] Ridhwana commented on #7413
✨ A note to our amazing contributors: this issue will be worked on by a DEV team member and is not up for grabs! ✨

[2020-04-21 10:59] rhymes commented on #7398
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-21 11:30] rhymes commented on #7408
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-21 12:48] thomasbnt opened #7414 "Custom scrollbar on entire website"
**Is your feature request related to a problem? Please describe.**

Adding a custom scrollbar for entire website.
But having seen the scss files of the source code, I don't know where to put this little piece of code. Maybe in the `_colors.scss`?

**Describe the solution you'd like**
I'd like to make a small change on the scrollbar. Will follow the colors themes and blend in with the background.

[2020-04-21 13:08] rhymes commented on #7414
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-21 13:53] ledestin commented on #7383
Update: I've profiled the process, and a lot of signs point to Sprockets as being the culprit. Lots of IO and CPU load caused by Sprockets. I intend to try speeding it up tomorrow.

[2020-04-21 14:36] #6169 closed

[2020-04-21 14:40] rhymes commented on #7251
Closed by https://github.com/thepracticaldev/dev.to/pull/7382

[2020-04-21 14:40] #7251 closed

[2020-04-21 17:42] joshpuetz opened #7420 "Old comments contain fully HTML documents in `comments.parsed_html`"
PR #7419 changes HTML parsing so that HTML fragments are stored in the database field `comments.parsed_html` instead of full HTML documents for newly created comments. Existing comments still incorrectly have full HTML documents: this should be updated and corrected for older comments.

[2020-04-21 18:16] #7403 closed

[2020-04-21 20:01] #7271 closed

[2020-04-21 20:37] codypearce opened #7424 "Many duplicated/spammed posts in latest feed"
Tried in private window on Brave Browser and Safari with no extensions, still see the issue.

**Describe the bug**

Seeing many posts from one user that appear to be test posts of the API.

**To Reproduce**

1. Go to home page
2. Click latest
3. Scroll down a few pages

**Expected behavior**

Maybe rate limiting creating posts from one user or API key. Reddit has a rate limit of a post every 8 min

[2020-04-21 21:47] lisasy opened #7427 "Actions Menu: Flag user"
### Status: Ready for implementation ✅

![2020-04-21_Flag-User](https://user-images.githubusercontent.com/816402/79917418-4feb7c80-83df-11ea-9dbe-6a1894a6a943.png)

⚠️ Warning: the screenshot above is for illustration purposes only — please see Figma doc for true specs

### Requirements

A mod can:
- choose one of two options to flag a user (required)
- if mod chooses to report inappropriate conte

[2020-04-21 21:58] lisasy commented on #7427
This is ready for implementation.

@Zhao-Andy @msarit @jacobherrington

[2020-04-21 22:00] lisasy opened #7428 "Mod Center: Inbox"
### Status: Ready for implementation ✅

### Requirements

A mod can:
- See an inbox of posts that need review.
- Filter what they see (dates, author, review status).
- Click/tap into any item in the inbox to review.
  - When they click/tap into any item, it opens the article in a lightweight modal view.

**States**
- Reviewed, not reviewed
- Opened, not opened (user has not clicked into the table

[2020-04-22 03:20] sujithnath commented on #7398
@rhymes @bernardbaker I am picking up this ticket.

[2020-04-22 08:36] rhymes commented on #7420
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-22 09:07] rhymes commented on #7427
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-22 09:07] rhymes commented on #7428
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-22 10:06] rhymes commented on #7398
Closed by https://github.com/thepracticaldev/dev.to/pull/7430

[2020-04-22 10:06] #7398 closed

[2020-04-22 10:15] bernardbaker commented on #7398
@sujithnath @rhymes great!

[2020-04-22 10:23] rhymes commented on #7398
@bernardbaker it'll take a few minutes to show up on DEV, i'll notify you when it's ready :)

[2020-04-22 10:29] rhymes opened #7433 "Clicking on tag after listing has been opened should close the modal"
When a single listing is opened, clicking on one of the tags will load the filtered listings in the background without closing the modal.

1. go to https://dev.to/connect
1. open any listing with a tag
1. click on one of the tags
1. see the page reconfigure in the background with all listings belonging to such tag

**Expected behavior**

1. open any listing with a tag
1. click on one of the tags
1

[2020-04-22 10:37] rhymes commented on #7398
@bernardbaker should be live now! :)

[2020-04-22 10:43] catalinpit opened #7434 "Profile page not working properly"
**Describe the bug**

You are allowed to change the colour for some of the information from your profile page. There are cases when the profile page doesn't work properly when the colours are related.

See the pictures below or visit my profile [dev.to/catalinmpit](https://dev.to/catalinmpit).

**To Reproduce**

1. Go to [dev.to/catalinmpit](https://dev.to/catalinmpit)

**Expected behavior**

My n

[2020-04-22 10:47] lukeocodes opened #7436 "Drafts are not loading fully"
**Describe the bug**

I have a saved draft that I am trying to continue writing today. The preview still shows the mostly finished article. When I click on edit, I am only getting a much earlier version.

**To Reproduce**

Go to Dashboard -> Click on mostly finished draft post -> Click on edit -> Find almost empty draft markdown

**Expected behavior**

Go to Dashboard -> Click on mostly finished d

[2020-04-22 10:49] bernardbaker commented on #7398
There's an arrow at top as well.

Does that need another issue?

Thanks!

On Wed, 22 Apr 2020, 11:37 rhymes, <notifications@github.com> wrote:

[2020-04-22 11:18] sujithnath commented on #7398
@rhymes  what should be the process for raising a similar issue? Should it be a separate ticket or can I work on the same branch? :)

[2020-04-22 11:30] rhymes commented on #7436
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-22 11:35] rhymes commented on #7398
I'm not sure what is @bernardbaker referring to but if you know @sujithnath please go ahead

that branch is already merged so you need a new one yeah :D

[2020-04-22 11:35] rhymes commented on #6927
@lightalloy @caleb15 are you able to reproduce this still?

[2020-04-22 11:42] rhymes commented on #7434
I tyink this is related to the following issues:

- [Profile Name & Social Profile Icons (GitHub/Medium) Not Visible in ten x hacker Theme](https://github.com/thepracticaldev/dev.to/issues/4811)
- [Need Contrast in Follow Option in the Dark Mode](https://github.com/thepracticaldev/dev.to/issues/3968)
- [Give contrast guidance on user profile background/text color](https://github.com/thepracticalde

[2020-04-22 11:55] lukeocodes commented on #7436
@rhymes this has resolved itself, but the draft preview and the draft edit screens differed for almost an hour!

[2020-04-22 12:10] sujithnath commented on #7398
@bernardbaker create an issue and I shall take it :)

[2020-04-22 12:20] JulianoGTZ commented on #3739
Hi folks. I tried to solve some codeclimate issues on listings/listings.jsx but I failed 😭.

Anyway, I did this [pull-request](https://github.com/thepracticaldev/dev.to/pull/6992) which improves the legibility cleaning the render function.

[2020-04-22 15:46] #6552 closed

[2020-04-22 15:51] #7344 closed

[2020-04-22 15:54] #5526 closed

[2020-04-22 16:53] vaidehijoshi commented on #6377
+1 for this. Here's what I'm seeing with the pink theme:

<img width="724" alt="Screen Shot 2020-04-22 at 9 42 06 AM" src="https://user-images.githubusercontent.com/6921610/80010221-f63a8f00-847e-11ea-9eeb-1766e77c2e31.png">

Refreshing the page also doesn't help. Looks like the issue is coming from the `"follow-action-button"`:
<img width="2032" alt="Screen Shot 2020-04-22 at 9 44 48 AM" src="htt

[2020-04-22 17:19] benhalpern opened #7445 "Authentication option: Sign in with Apple"
As we look to expand authentication options, I think [
Sign in with Apple ](https://developer.apple.com/sign-in-with-apple/) would be a good one to look at.

**Is your feature request related to a problem? Please describe.*

We are limited in the usecases we can provide with future communities by only having Twitter and GitHub right now, and in expanding our auth we need to take baby steps to get

[2020-04-22 19:04] #7290 closed

[2020-04-22 22:05] maestromac opened #7456 "Imported RSS Articles occasionally does not show the right publish date/information"
**Describe the bug**

When an article is imported via RSS, the article should adhere to the following structure

[code]

The bug is when we display the older date as a publish date and nothing more.

I think this is happening because we have a conflicting features; we allow an imported article to display older publish date as a DEV publish date if it's not in the future, but we also display `Origi

[2020-04-23 06:16] sujithnath commented on #7433
@rhymes  Can you assign me this issue?

[2020-04-23 07:51] ledestin commented on #7383
One reason for slowness is Sprockets and Sassc-rails combo. It processes SASS files on each test run, because Sprockets can't find cached versions. `SassCompressor`'s cache key changes on each run, for whatever reason. **I was able to make the test run 2x faster by using a constant cache key.**

I opened an issue https://github.com/sass/sassc-rails/issues/146, see for more details.

[2020-04-23 07:52] citizen428 commented on #7424
@codypearce Thanks a lot for the report! As you pointed out we are aware of the issue and actively working on fixing it. What you experienced yesterday was the result of an overeager pentester :wink:

I'll close the issue as you suggested.

[2020-04-23 07:52] #7424 closed

[2020-04-23 08:26] citizen428 commented on #7445
It's possible to sign up for an Apple ID without owning a device ([docs](https://support.apple.com/en-us/HT204316#web)):

I know people who are not current Apple users who still have an Apple ID (either from a previous device or because they use Apple Music on Windows or Android, both of which are supported platform (https://support.apple.com/en-us/HT205365).

[2020-04-23 08:28] citizen428 commented on #7445
@rhymes Do you think this is something you'd like to tackle as part of your current auth refactoring work? If not, how does someone else work on this without creating too much extra effort down the line?

[2020-04-23 08:34] citizen428 commented on #7436
@lukeocodes Would you prefer to keep this issue open for a bit to see if it happens again or do we close it now and reopen it if it becomes a problem again?

[2020-04-23 08:49] rhymes commented on #7445
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-23 08:50] rhymes commented on #7407
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-23 08:51] rhymes commented on #7445
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-23 09:01] lightalloy commented on #6927
I was still able to reproduce it after several attempts, an error showed up in the console:
[code]

[2020-04-23 09:23] citizen428 commented on #7383
@ledestin Thanks for looking into this! It's very interesting and gave me another idea, adding [`mini_racer`](https://github.com/rubyjs/mini_racer) to our Gemfile, which should be picked up by [`ExecJS`](https://github.com/rails/execjs) automatically.

Here's the before and after comparison on the same spec you used:

[code]

While this isn't exactly scientific, it's definitely promising.

[2020-04-23 09:26] #7413 closed

[2020-04-23 09:28] citizen428 commented on #7383
I then went on and replaced `sass-rails` with `sassc-rails` in our `Gemfile` (the former was previously only installed as a dependency of the Administrate gem), and I'm not sure which one Sprockets would pick up, so decided to only have one available:

[code]

[2020-04-23 09:43] lukeocodes commented on #7436
Hmm let's leave it until early next week while I edit these other posts. We can close it if it appears to have resolved itself still by then.

I've been in and out of posts all morning again and it's not come back up.

I'll let you all know 👌

[2020-04-23 10:51] rhymes commented on #7456
Do you have a specific RSS file that we can use for testing?

[2020-04-23 11:07] rhymes commented on #7433
@sujithnath go ahead and thank you!

[2020-04-23 11:36] lightalloy commented on #6817
@JuanitoFatas have you tried @citizen428 's suggestion ?
[code]

[2020-04-23 12:38] rhymes commented on #2955
I tried again with the new endpoint, still got Forbidden:

[code]

Maybe they have to enable you to be able to use the labs. 🤷‍♂️

[2020-04-23 12:48] abraham commented on #2955
I believe you have to join Labs and then activate the specific lab you are interested in.

https://developer.twitter.com/en/account/labs

[2020-04-23 12:51] rhymes commented on #2955
Thanks @abraham! This then has a weird interaction with how we fetch statuses which is tied to the authentication system (we're in the process of separating the two), hence we'll get there and eventually implement polls.

Marking this as DEV Team

[2020-04-23 13:46] sujithnath commented on #7433
Hi @rhymes, A quick summary, I am disabling the filter upon clicking the tag instead it should close the model and take the user back to the existing listing.

A small correction: From your comment, **"go to https://dev.to/connect"** should be  **"https://dev.to/listings"**. :D

[2020-04-23 14:16] nickytonline commented on #7434
* My first thought is disallowing certain colours or colour ranges that can affect the visibility in certain themes with a friendly notification explaining why.

* A bigger idea which may be overkill is to preview colour changes in the various themes.

* One other thought is potentially disallowing changing the colours as it can cause issues as mentioned above. The last idea is not ideal,  as it's

[2020-04-23 14:30] #7228 closed

[2020-04-23 14:30] #7291 closed

[2020-04-23 14:35] sujithnath commented on #7433
Hi @rhymes, just clearing a doubt. Once the user clicks the tag

1) while closing the modal, should listing be filtered with the selected tag?

[2020-04-23 14:39] rhymes commented on #7433
@sujithnath yeah, I think clicking the tag should close the modal and filter with the selected tag. (that already happens now in the backgrund)

[2020-04-23 15:19] juliannatetreault opened #7479 "Refactor SEO Optimized Images"
I recently shipped some work (https://github.com/thepracticaldev/dev.to/pull/7447) to optimize images on DEV for SEO purposes. While the work in this PR is good, it could be better. In order to make the work that I've done more explicit and in order to avoid future confusion from the community and team, a refactor is necessary. To accomplish this, I need to do the following:

- [x] Pull the SEO op

[2020-04-23 18:36] msarit commented on #7225
(this comment also applies to Issues https://github.com/thepracticaldev/dev.to/issues/7348 and https://github.com/thepracticaldev/dev.to/issues/7226)

This issue has been completed 💃 However I would like to flag an aspect of the buttons' interactivity that **we need to discuss and decide on**.

Right now, all three reactions can be highlighted (showing that they have been selected) at the same tim

[2020-04-23 18:47] lisasy opened #7490 "Mod Center: Navigation Menu"
### Status: Ready for implementation ✅

### Requirements

- For desktop (L & XL breakpoints): you can use **Navigation: Link in Crayons**. [Instructions here](https://dev.to/page/crayons) if you Command+F search for "Navigation: Link".
- For mobile (M and smaller breakpoints): I have another open PR at the moment to implement this [menu filter style on Notification](https://github.com/thepractical

[2020-04-23 18:47] lisasy opened #7491 "Mod Center: Quick Stats Card"

[2020-04-23 18:47] lisasy opened #7492 "Mod Center: UX Content & Copy"

[2020-04-23 18:48] lisasy opened #7493 "Actions Menu: UX Content & Copy"
[UX Content Spreadsheet](https://docs.google.com/spreadsheets/d/1OHvXZU0bDmhKhuaVVl850bGxUAmZyB6unCxTB2bz2Wc/edit?usp=sharing)

[2020-04-23 18:56] lisasy commented on #7490
@msarit @Zhao-Andy @jacobherrington

This task is ready for implementation.

[2020-04-23 20:44] juliannatetreault opened #7495 "Refactor JSON-LD Data Structures in the StoriesController"
Adding structured data to our site using JSON-LD was a major SEO optimization that was recently shipped and has since been iterated on. While it has proven to bolster our SEO, the code for the data structure could be refactored to be more readable for those unfamiliar with the work. In order to make the code more readable, refactoring the methods used to set specific JSON-LD values in the structur

[2020-04-23 22:54] vaidehijoshi commented on #6843
Here's what currently renders when trying to tab through the selected tags on the keyboard:

<img width="821" alt="Screen Shot 2020-04-23 at 3 53 52 PM" src="https://user-images.githubusercontent.com/6921610/80157277-a93be300-857a-11ea-9605-1530c412083e.png">

[2020-04-23 22:59] vaidehijoshi commented on #6844
@lisasy Do you have any more context you could provide on this? I was able to tab through the intro slide and check off the "code of conduct" and "terms and conditions" and then continued to the next slide.

Am I missing something? 🤔

[2020-04-23 23:26] #7479 closed

[2020-04-23 23:28] vaidehijoshi opened #7496 "Ensure onboarding screens render on small screens"
@rhymes caught an issue where our onboarding flow doesn't quite render fully on smaller screens.

![image](https://user-images.githubusercontent.com/6921610/80159147-2406fd00-857f-11ea-82a4-42ab55a8a389.png)

![onboarding](https://user-images.githubusercontent.com/146201/80204717-aba94600-8629-11ea-99c1-06d93b68bbe4.gif)

We recently applied [a fix for this](https://github.com/thepracticaldev/dev.

[2020-04-23 23:28] vaidehijoshi commented on #7496
A note to our amazing contributors: this issue will be worked on by a DEV team member and is not up for grabs!

[2020-04-23 23:30] #6544 closed

[2020-04-23 23:33] vaidehijoshi commented on #6886
Hm, I'm having trouble reproducing this on production. It looks like the original issue was caught by @benhalpern, so I'm wondering if he remembers what device/size he was on to cause this? That way I can try to investigate it 😄

I'm pretty sure this is related to a `border-bottom` style, but I'm not seeing it show up the way that it does in the screenshot 🤷

[2020-04-23 23:41] vaidehijoshi commented on #7169
I've been thinking about this a bit more, and I think it really ought to be closely tied to #6990.

I imagine that we want to admins to be able to configure some of this; for example, we probably want to have a `CTA text` associated with a broadcast that allows admins to configure this on a per-broadcast basis.

![78841602-a5bd2f00-79b2-11ea-8704-f0d652b3956a](https://user-images.githubusercontent

[2020-04-24 04:37] citizen428 commented on #7436
Good deal, thanks @lukeocodes!

[2020-04-24 08:32] majakomel commented on #7288
I would like to work on this one 🙋🏼‍♀️

[2020-04-24 09:07] sujithnath opened #7499 "Listing filter: Clear Filter not working properly"
**Describe the bug**
With a few selected tags, if you are trying to clear the first tag, it clears the next one too.

**To Reproduce**
![issue2](https://user-images.githubusercontent.com/6629348/80194997-e070c980-8638-11ea-9a55-a93b0a4dc06b.gif)

**Expected behavior**
Only the selected tag should be cleared.

**Desktop (please complete the following information):**

- OS: Mac
- Browser: Chrome

[2020-04-24 09:26] ivanjeremic commented on #2336
Still same issue, not able to comment,ä. On a fresh acvount the first couple times it works then I'm not able to comment anymore.

[2020-04-24 10:25] rhymes commented on #7491
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-24 10:25] rhymes commented on #7492
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-24 10:25] rhymes commented on #7493
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-24 11:43] rhymes commented on #7288
Hi @majakomel, thanks!

I guess it'd be best to come up with a plan before starting the implementation, how would you think it's best to proceed on this?

cc. @Zhao-Andy

[2020-04-24 11:44] rhymes commented on #7499
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-24 12:09] sujithnath commented on #7499
@rhymes let me fix this anyway :-)

[2020-04-24 13:17] tamcv commented on #3091
Hi @jessleenyc @GeorgeColdham
Is this issue available to pick up? I would like to make my first contribution for dev.to.

[2020-04-24 13:28] rhymes commented on #3091
Hi @tamcv, first and foremost: thank you for offering to work on this. The issue is available, we have added some rate limiting in the past which is around 9 posts (where 9 is a configurable option) each 30 seconds which might be too wide of a net frankly.

We might want to discuss what we want to achieve exactly before you set out writing code.

I'm ccing @mstruve @jessleenyc and @benhalpern whic

[2020-04-24 14:03] tamcv commented on #3091
Sure @rhymes, I can learn somethings from your PR in the meantime.
By the way, I would like to propose the new limit tiers structure based on users contribution as the following:
1. Tier 1:
   - Conditions: `Time.now - created_at < 1.day`
   - Limitation:  `30 comments / hour`, `5 posts / hour`
1. Tier 2:
   - Conditions: `(current_posts * 2 + interactions) < 5`
   - Limitation:  `60 comments / ho

[2020-04-24 15:57] tamcv opened #7503 "image uploads & article updates limit tracking are not expired after 30s as expected"
**Describe the bug**
This issue was found from this PR: https://github.com/thepracticaldev/dev.to/pull/7444/files#r414669615

Rails version 5.2.4.2 (latest version of 5.2) does not support expires_in option for Rails.cache.increment for redis_cache_store. As a result, value will be expired after 24 hours (by default), not 30 seconds as expected.
https://github.com/rails/rails/blob/v5.2.4.2/actives

[2020-04-24 17:13] laurieontech commented on #7362
Happened again. I had 10 notifications, wondering if that is the threshold.
<img width="618" alt="Screen Shot 2020-04-24 at 1 12 09 PM" src="https://user-images.githubusercontent.com/15000607/80238960-58d18d80-862d-11ea-942b-377478fb7fb7.png">

[2020-04-24 17:19] eyewritecode commented on #7355
Hey @Zhao-Andy Can i take this on?

[2020-04-24 18:34] rhymes commented on #7503
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-24 19:08] Zhao-Andy commented on #7355
Hey @eyewritecode sure thing! Let me know if you have any questions. You can find examples of our async tasks in `app/workers`.

[2020-04-24 22:31] benhalpern commented on #7503
Thanks for bringing this up. We noticed it and I adjusted our limit thinking this might be the case but never followed up. We ran into a user who tried to upload 10+ images in a single day and was disallowed, so we currently increased the limit to be more effective for daily total but the code is still buggy as you pointed out.

[2020-04-24 22:45] #7060 closed

[2020-04-25 10:03] r-ush opened #7508 "notifications to webapp"
**Is your feature request related to a problem? Please describe.** i get notifications via email and not on the webapp on my phone

 it get the notifications in the notification icon but not the notification on my phone

**Describe the solution you'd like** android webapp notifications

**Describe alternatives you've considered**

**Additional context**

[2020-04-26 10:33] #1393 closed

[2020-04-26 10:55] #7433 closed

[2020-04-26 11:10] rhymes opened #7513 "Listings tags are applied in OR instead of in AND"
**Describe the bug**

Selecting multiple tags result in "all listings that have any of the tags selected" instead of "all listings that have all the tags selected"

**To Reproduce**

1. Go to https://dev.to/listings
1. Select a listing with `php`
1. Select a listing with `javascript`
1. See the selected listings increase instead of decrease

(you can see the result here https://dev.to/listings/?t=

[2020-04-26 11:16] rhymes opened #7514 "Deselecting a tag in listings search also removes the tag on its right"
**Describe the bug**

After selecting at least 2 tags in the listings page, removing the leftmost will remove the one on the right as well

**To Reproduce**

1. Go to https://dev.to/listings
1. Select at least 2 tags
1. Remove the one on the left
1. See the one of the right that has been removed as well

**Expected behavior**

1. Removing a tag only removes the selected tag

**Screenshots**

![tag

[2020-04-26 11:23] rhymes commented on #7508
Hi @r-ush, I'm not sure if you're referencing to the DEV Android app or simply notifications to your Chrome mobile on Android.

In the first case version 1.3 of the Android app with push notifications is currently in beta testing, I believe it will be released soon. See https://github.com/thepracticaldev/DEV-Android/releases/tag/1.3 and keep an eye on future updates to the app.

If you are referri

[2020-04-26 11:23] #7508 closed

[2020-04-26 11:27] r-ush commented on #997
I'm waiting for the notifications on the PWA, its better than the native app

[2020-04-26 15:19] Rafi993 commented on #5973
My bad I just read this comment now after creating the PR :facepalm:

[2020-04-27 07:44] jacobSingh commented on #5670
Yep, came here to report the same bug.  If you're going to do infinite scroll, I would just remove the footer - it only confuses people.

Otherwise make the footer fully horizontal and fixed at the bottom could work

[2020-04-27 10:17] ledestin commented on #7383
With `mini_racer` it takes about 25 seconds to run `./bin/rspec spec/system/articles/user_deletes_an_article_spec.rb `.

The next source of slowness is ElasticSearch IO. I was able to reduce run time to 10 seconds by disabling `Cluster.recreate_indexes`. I'm not familiar with ElasticSearch, perhaps some optimisations can be done here?

https://github.com/thepracticaldev/dev.to/blob/master/app/serv

[2020-04-27 11:30] Ridhwana commented on #6994
@lightalloy wanted to find out what your thoughts were on implementation details for the above?

[2020-04-27 11:40] lightalloy opened #7523 "Replace hardcoded meta keywords with the configurable ones"
There are a few types of hardcoded meta keywords that should be configurable:

- [x] `"software development,engineering,rails,javascript,ruby"` (many pages)
- [x] `@article.cached_tag_list + ", software, coding, development, engineering, inclusive, community" ` (`articles/show`)
- [x] `"software development,engineering,<%= @tag %>"` (`tags/meta`)

[2020-04-27 11:41] lightalloy commented on #7523
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-04-27 12:34] majakomel commented on #7288
Hi @rhymes & @Zhao-Andy,

It's indeed impossible to add additional columns to join table since it uses `has_and_belongs_to_many` association.
There was some work done on replacing it with `has_many :through` years ago but the gem doesn't seem to be actively maintained 😕.
I found a workaround to use `has_many :through`, which could be used in this case: https://github.com/RolifyCommunity/rolify/iss

[2020-04-27 13:33] mapra99 commented on #7397
Hey @citizen428! I'm new here in dev.to codebase, Can I work on this issue?

[2020-04-27 13:38] Ridhwana commented on #7397
Hi @mapra99 yeah sure this issue is up for grabs - I'll assign you to this issue. @ludwiczakpawel cc'ing you on this issue too, as you're working on significant changes to this page.

[2020-04-27 13:53] Zhao-Andy opened #7531 "Flaky test "includes GET /internal/listings unpublished listings when asked to""
`# ./spec/requests/internal/classified_listings_spec.rb:31`

![Screen Shot 2020-04-27 at 9 46 00 AM](https://user-images.githubusercontent.com/17884966/80379965-d6cfa780-886c-11ea-8879-3c65668057a2.png)

[code]

[2020-04-27 14:01] vinayhegde1990 commented on #7397
thanks @mapra99 @citizen428 @Ridhwana for taking this up, please let me know if I could share any inputs here.

[2020-04-27 14:08] lightalloy commented on #6994
@Ridhwana I don't have a complete solution in my mind right now but here are some thoughts:
We could have a `jsonb` field in `users` (or a related table) to store community-specific fields. The community-specific fields themselves could be set up in the `SiteConfig`.
All of these fields will be set up in the user form, so there is no need for a configuration here.
But we'll need a configuration to

[2020-04-27 14:17] Oleg-levwa commented on #6563
Hello! I'm a beginner. I can not enter the arcadeanalytics / postgres-dvdrental database. Error: You must specify POSTGRES_PASSWORD to a non-empty value for the

superuser. For example, "-e POSTGRES_PASSWORD = password" on "docker run".

You may also use "POSTGRES_HOST_AUTH_METHOD = trust" to allow all

connections without a password. This is * not * recommended.
I use docker and kitematic Windows

[2020-04-27 15:03] angelsalazar opened #7532 "Sort reading list by article date"
**Is your feature request related to a problem? Please describe.**

I was looking for an article on my reading list and I notice that there is no way to sort the entries by date. this makes searching really hard in case a user forgot the article title.

**Describe the solution you'd like**

it would be great if the reading list entries could be sorted by date or at least they are displayed sorted

[2020-04-27 15:15] rhymes commented on #7532
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-27 16:00] #7147 closed

[2020-04-27 16:01] Zhao-Andy commented on #7288
Hi @majakomel, thanks for researching this! I think it'll be best to hold off on this until we get some custom implementation going. That issue you linked was helpful; I'll discuss with the team to see if we want to go with that workaround.

[2020-04-27 16:27] #7531 closed

[2020-04-27 17:25] lisasy commented on #6886
![Screenshot 2020-04-27 10 24 31](https://user-images.githubusercontent.com/816402/80401531-5790a280-8871-11ea-9372-3c53a57f8b08.png)

This issue does not seem to exist, so we can close this issue.

[2020-04-27 17:25] #6886 closed

[2020-04-27 17:27] vaidehijoshi commented on #6844
Closing this since @lisasy has confirmed that it no longer is an issue :)

[2020-04-27 17:27] #6844 closed

[2020-04-27 17:32] lisasy opened #7544 "Fix alignment of checkbox + label on "Email Preferences" slide"
![Screenshot 2020-04-27 10 31 07](https://user-images.githubusercontent.com/816402/80402238-7b081d00-8872-11ea-8198-324002ecc977.png)

[2020-04-27 17:34] lisasy opened #7545 "Change "active" state of progress bar to `accent-color`"
![Screenshot 2020-04-27 10 31 15](https://user-images.githubusercontent.com/816402/80402542-e520c200-8872-11ea-96e9-f42d9763cad0.png)

[2020-04-27 17:40] vaidehijoshi commented on #7544
@lisasy is the issue with this that the text needs to be a bit lower to line up with the checkbox? just want to make sure i understand i have all the context :)

[2020-04-27 17:53] vaidehijoshi commented on #7544
Also, does this issue also need to be fixed with the code of conduct/terms and conditions boxes on the intro slide?

[2020-04-27 19:38] #7544 closed

[2020-04-27 19:38] #7545 closed

[2020-04-27 20:05] mstruve commented on #3091
I don't think it should ever be unlimited bc there is no reason for it except that it opens us up to script abuse. If someone is providing quality content to the site then it is very, very likely they are not cranking out hundreds of comments or posts an hour. If they are then that is something we need to work with them to create a better workflow bc right now we are not optimized for that.

These

[2020-04-27 20:16] #7496 closed

[2020-04-27 20:49] #7401 closed

[2020-04-28 03:56] citizen428 commented on #7288
Thanks @majakomel and @Zhao-Andy. For the time being I unassigned this issue again and changed it from `ready for dev` to `type: discussion`. Once a plan has solidified we can move forward with the implementation.

[2020-04-28 04:12] #7383 closed

[2020-04-28 04:12] dravitykeeper opened #7557 "Error while setting up docker setup"
**Describe the bug**
Database 'Developer_development' already exists
could not connect to server: No such file or directory
	Is the server running locally and accepting
	connections on Unix domain socket "/tmp/.s.PGSQL.5432"?
Couldn't create 'Developer_test' database. Please check your configuration.
rails aborted!
PG::ConnectionBad: could not connect to server: No such file or directory
	Is the s

[2020-04-28 04:16] citizen428 commented on #7383
@ledestin Thanks for the pointer.

If you look at `spec/rails_helper.rb` you'll notice that we perform this operation twice, once before the whole test suite, once before specs tagged with `elasticsearch`

[code]

Looking at the implementation of  `Search::Cluster.delete_indexes` it seems to be able to handle non-existant indexes:

[code]

This makes me wonder if we need the `berfore_suite` block

[2020-04-28 04:31] citizen428 commented on #7557
Thanks for the issue @dravitykeeper! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and ne

[2020-04-28 04:33] citizen428 commented on #7557
@dravitykeeper Was this when you used Docker Compose? I'm a bit surprised by the DB name here, it shouldn't be "Developer_development" but `PracticalDeveloper_development`.

[2020-04-28 04:38] steinskeeper commented on #7557
Yeah I had changed it because I was already running another database instance with name PracticalDeveloper_development and needed to create another to test some stuffs out. But did that break something?

[2020-04-28 05:51] Rafi993 opened #7560 "Wrong alignment of save button in settings page in mobile"
**Describe the bug**
The save button in mobile in settings page is sticks to the left.
**To Reproduce**
1. Go to [settings](https://dev.to/settings) in mobile browser
2. Scroll down for the the save button

**Expected behavior**

There should be some left and bottom margin for the save button

**Screenshots**

![save-button](https://user-images.githubusercontent.com/8092120/80451665-07cddc00-8942-

[2020-04-28 07:29] citizen428 commented on #7560
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-28 07:29] citizen428 commented on #7560
Same on iOS with Firefox FWIW.

[2020-04-28 08:40] corentinbettiol opened #7561 "Error in date display on comment"
**Describe the bug**

Date tag on a comment is "Apr 27", but on hover the text is "Tuesday, 28 April 2020, 00:01:19".

In HTML, datetime content is `2020-04-27T22:01:19Z` :thinking:

**To Reproduce**

Hover date of [this](https://dev.to/lofiandcode/comment/o8k9) comment.

**Expected behavior**

Date on tag & on hover should be the same.

**Screenshots**

![image](https://user-images.githubusercont

[2020-04-28 09:10] Rafi993 commented on #7560
Hi there if this up for grabs I would like to help

[2020-04-28 10:22] Ridhwana commented on #7560
Hi @Rafi993 sure thing :) I'll assign you the issue!

[2020-04-28 10:28] Rafi993 commented on #7560
Thank you :)

[2020-04-28 10:39] steinskeeper commented on #7557
@citizen428  The problem is still there if the database is PracticalDeveloper_development

[2020-04-28 10:41] dravitykeeper commented on #7557
@citizen428  The problem is still there if the database is named PracticalDeveloper_development

[2020-04-28 10:49] rhymes commented on #7561
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-28 10:52] rhymes commented on #7561
Hi @corentinbettiol, thanks a lot for raising this issue.

I suspect it's similar to the issue that was raised for the article time in the show page: https://github.com/thepracticaldev/dev.to/issues/7086 (I haven't checked but I'm pretty sure they use the same mechanism, both server side and client side)

This is what I wrote back then https://github.com/thepracticaldev/dev.to/issues/7086#issuecom

[2020-04-28 11:28] corentinbettiol commented on #7086
Storing all dates in UTC is definitely a good think.

I think we should localize dates in articles & comments (titles attributes *and* datetime tags), and execute `addLocalizedDateTimeToElementsTitles` on them.

Then, if the datetime is in a title, we should keep the long string, and else keep the `%b %e` (or `%b %e '%y`).

----

We can see [here](https://github.com/thepracticaldev/dev.to/blob/773

[2020-04-28 11:32] corentinbettiol commented on #7561
Thanks for the quick reply!

I spend a few minutes understanding how the title date is computed, and I [replied](https://github.com/thepracticaldev/dev.to/issues/7086#issuecomment-620548051) with the information I found.

[2020-04-28 12:36] rhymes commented on #7086
Yeah, initially it was done like that because we didn't want for users to see date time text in different locales, as 99% of the website isn't localized. Don't know if we want to start changing that. I'll raise the issue internally.

[2020-04-28 12:43] dark-coder631 opened #7565 ""><img src=1 onerror=alert(1)>.gif"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-04-28 13:46] corentinbettiol commented on #7086
@rhymes Oh, I didn't know that the website isn't localized :o

So maybe we could set "*Local time: `%b %e`*" in the title as a temporary fix ?

[2020-04-28 13:54] #7565 closed

[2020-04-28 14:04] #7513 closed

[2020-04-28 15:16] #7560 closed

[2020-04-28 16:58] mstruve commented on #4934
We have not seen this spec fail for quite a while so we are closing this issue. Will reopen if it pops up again but hopefully, it's been unknowingly fixed 😄

[2020-04-28 16:58] #4934 closed

[2020-04-28 16:58] mstruve commented on #4931
We have not seen this spec fail for quite a while so we are closing this issue. Will reopen if it pops up again but hopefully, it's been unknowingly fixed 😄

[2020-04-28 16:58] #4931 closed

[2020-04-28 16:58] mstruve commented on #4929
We have not seen this spec fail for quite a while so we are closing this issue. Will reopen if it pops up again but hopefully, it's been unknowingly fixed 😄

[2020-04-28 16:58] #4929 closed

[2020-04-28 16:58] mstruve commented on #4890
We have not seen this spec fail for quite a while so we are closing this issue. Will reopen if it pops up again but hopefully, it's been unknowingly fixed 😄

[2020-04-28 16:58] #4890 closed

[2020-04-28 16:59] mstruve commented on #4889
We have not seen this spec fail for quite a while so we are closing this issue. Will reopen if it pops up again but hopefully, it's been unknowingly fixed 😄

[2020-04-28 16:59] #4889 closed

[2020-04-28 16:59] mstruve commented on #4887
We have not seen this spec fail for quite a while so we are closing this issue. Will reopen if it pops up again but hopefully, it's been unknowingly fixed 😄

[2020-04-28 16:59] #4887 closed

[2020-04-28 19:32] harunmohamed opened #7578 "Clicking icons in the navbar severally yields an empty search that redirects to the search results page"
Hi Dev,

This is an issue where clicking the notification icon or any other icon in the navbar for a while renders an empty search query and redirects to the search results page. is this intentional or could it be a bug? Either way, it's worth a look.

The twitter link contains a video recording of the said action and the result it yields.

https://twitter.com/6am6ii/status/1254834119948800002

[2020-04-28 19:34] #6884 closed

[2020-04-28 20:29] juliannatetreault opened #7580 "Remove Unnecessary .downcase From Stories::Controller"
While working on handling redirects for uppercase usernames, I came across other methods in the `Stories::Controller` that use `.downcase` as well. The PR that handles redirecting from uppercase usernames to lowercase usernames (#7550 ) handles the downcasing necessary to make this happen, yet there are some places that still use `.downcase` unnecessarily. In order to remove what is now dead code,

[2020-04-28 21:01] vaidehijoshi commented on #7106
Looking at this again, I wonder if we should create a separate tab on the `/internal` page that is specifically devoted to Onboarding. That way, there would be a singular place for customizing the placeholder text, the default users to follow, and the already-existing `suggested_tags` on the SiteConfig. 🤔

Or perhaps, maybe we just have one section of SiteConfig just be "Onboarding"? It just seems

[2020-04-28 21:25] Ridhwana commented on #7106
I would think that the onboarding config should lie with the config view so that users know where to find anything related to configuring their site. We also have a lot of pages/links on the internal interface at the moment so grouping things that are configuration related makes most sense to me, and I'm not sure that it would be obvious t to configure their sites in two separate places even if th

[2020-04-28 21:27] vaidehijoshi commented on #7106
@Ridhwana Okay, I think this makes sense to me and I tend to agree the more that I look at the `/internal/config` page. One thought I have is to pull out the "suggested tags" into a section of the config that is just used for onboarding, and I think that route will be the best of both worlds at the moment (easier to navigate, but still all in the same view).

[2020-04-28 21:28] Ridhwana commented on #7106
That sounds pretty good to me 😊

[2020-04-28 22:27] #7499 closed

[2020-04-28 22:27] #7514 closed

[2020-04-28 23:38] pkfrank opened #7584 "Editor appearing twice on dev.to/new"
**Describe the bug**

- I went to `/dashboard/`
- I clicked on `edit` of a previous post
- I copied the body
- I pressed "Write a post" at the top of the page
- I quickly copy/pasted the body from the previous post
- I scrolled down and realized that there were two editors on the page (one with the new text, one blank)
- I'll note I was moving pretty quickly doing this, and am using the v1 version

[2020-04-29 02:40] #7557 closed

[2020-04-29 02:51] citizen428 commented on #7557
@dravitykeeper I didn't expect this to resolve the issue, but I was surprised that a wrongly named DB was created/previously existed.

You closed the issue now, is it resolved for you?

[2020-04-29 04:39] cuzimabot opened #7585 "Link Twitter Account button errors out"
**Describe the bug**
Unable to link account to twitter

**To Reproduce**
Go to settings > Click in Link Twitter account

**Expected behavior**
Authorize Twitter and link accounts

**Screenshots**
![image](https://user-images.githubusercontent.com/11393226/80561160-8d3ca500-89b1-11ea-9d7a-4917886ce929.png)

- OS: Windows 10
- Browser: Chrome
- Version: Version 81.0.4044.129 (Official Build) (64-bit

[2020-04-29 04:59] ZoeyJames opened #7586 "why are my post not submit"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-04-29 06:30] citizen428 commented on #7586
Hello @ZoeyJames, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-04-29 06:30] #7586 closed

[2020-04-29 06:33] citizen428 commented on #7585
Thanks for the issue @cuzimabot! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need h

[2020-04-29 06:35] citizen428 commented on #7585
@rhymes Tagging you directly since you just worked on this.

I tried this in a private browsing session and could NOT reproduce it. When I then removed Twitter auth from my main account and I tried to re-add it, I experience the issue described here.

[2020-04-29 06:49] citizen428 commented on #7578
Is this happening for you reproducibly? I did not manage to reproduce it.

[2020-04-29 07:46] catalinpit commented on #7434
What do you think, @ludwiczakpawel?

[2020-04-29 08:30] rhymes commented on #7584
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-29 08:42] lightalloy commented on #7584
I think this is a duplicate of #6926. @pkfrank could you move your description there?

[2020-04-29 08:49] rhymes commented on #7578
I can't reproduce this either :(

[2020-04-29 09:27] ludwiczakpawel commented on #7434
that's gonna be a huge project and quite hard to handle and maintain because we have (currently) 5 themes (well, technically 3 in terms of colors) so I'd be a bit scared of this one to be honest.

my concerns would be the same as in previous one I think...

Agree with you @nickytonline - even though I'm personally not a huge fan of being able to customize colors, I think it's important feature fro

[2020-04-29 09:41] Rafi993 commented on #7175
It is visible here https://dev.to/search?q=what%27s%20so%20special%20about scroll down to see the article in the bug description.

[2020-04-29 09:54] Rafi993 commented on #7175
I was able to see this bug but after refreshing I cannot see it anymore :(

[2020-04-29 09:56] Rafi993 commented on #7175
I'll try it in my local

[2020-04-29 10:19] dravitykeeper commented on #7557
@citizen428 I could not resolve it after trying so many things, so I am currently comparing my version of the code and the master branch. If I find what caused the problem or find how to recreate the problem I'll update it.

[2020-04-29 10:38] rhymes commented on #7175
@tannakartikey ok. let's keep this open, I'm going to unassign you in case anyone else feels like trying their luck :D

[2020-04-29 10:40] Rafi993 commented on #7175
I just realised the comments that I made here is not visible anymore :|

[2020-04-29 10:49] LenaCharles opened #7590 "Write post issue"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-04-29 11:01] Rafi993 commented on #7175
Hi there I was able to reproduce this in local I would like to help if this bug is not taken
![html_entity](https://user-images.githubusercontent.com/8092120/80588896-d08d2700-8a36-11ea-9fde-de5ae6985587.png)

[2020-04-29 11:12] rhymes commented on #7590
Hello @username, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-04-29 11:12] #7590 closed

[2020-04-29 11:17] rhymes commented on #7175
@Rafi993 although technically this is related to the feed page, please go ahead :D

[2020-04-29 11:17] Rafi993 commented on #7175
The same bug also seems to happen in the dashboard
![dashboard](https://user-images.githubusercontent.com/8092120/80590216-26fb6500-8a39-11ea-9015-328c1568892e.png)

[2020-04-29 11:18] Rafi993 commented on #7175
Thank you :)

[2020-04-29 14:59] lightalloy commented on #7523
Closed with #7591

[2020-04-29 14:59] #7523 closed

[2020-04-29 15:16] rhymes commented on #7585
I tried both with Twitter and with GitHub locally on master (which at the present moment contains the same code that production does), both from the "connect twitter accont" button in the account and with one of the global sign in buttons but to no avail.

I then tried the same thing in production and was able to reproduce the problem, which only happens with the "Connect button", I'm going to inv

[2020-04-29 15:36] maestromac commented on #7557
Hello @dravitykeeper , you happen to be setting and using `DATABASE_URL`? You also need to set `DATABASE_URL_TEST`, it could be the same url. Try that and let me know if it resolved for you.

I also ran into this issue and found that it was due to a recent change (https://github.com/thepracticaldev/dev.to/pull/7437)

[2020-04-29 17:15] chirgjn opened #7596 "Custom Domain Support"
**Is your feature request related to a problem? Please describe.**

I want to use my dev.to profile as my personal blog and still want the links to be on my own domain.

**Describe the solution you'd like**

Add a field on the settings page to setup a custom domain (blog.xyz.com, xyz.blog.com).
blog.xyz.com is easier as the user will need to add a CNAME to their domain and they're done. Whereas so

[2020-04-29 17:16] chirgjn commented on #7596
I'd be more than happy to work on this, if we're interested in implementing it.

[2020-04-29 17:22] rhymes commented on #7596
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-29 19:15] #5041 closed

[2020-04-29 19:47] #7229 closed

[2020-04-29 20:01] bernardbaker opened #7600 "Contrasts of colours makes it hard to read email address"
**Describe the bug**

I was viewing somebody who placed the heart on my article. When I went to their profile I couldn't read the email address. Because of the contrast of colours.

**To Reproduce**

1. Go to profile in the picture.

![Screenshot_20200429-205512](https://user-images.githubusercontent.com/13556172/80641144-5374a880-8a5c-11ea-85bd-76a05c39c049.png)

2. Read the email address.

**Exp

[2020-04-29 20:53] #6843 closed

[2020-04-29 21:05] harunmohamed commented on #7578
Yes. I tried it a couple of times. When clicking the icons idly a couple of times, it redirects to the search results. Any success reproducing the behavior?

[2020-04-29 21:09] karfau commented on #5041
Thank you for this! :tada:

[2020-04-30 00:32] AntonyGarand opened #7605 "Twitter timeline support"
**Describe the bug**

Twitter timelines, such as [this one](https://twitter.com/FreyaHolmer/timelines/1215413954505297922), are not supported by the liquid tags.
Instead, a "Liquid error: internal" message is shown.

**To Reproduce**

{% twitter 1215413954505297922 %}

**Expected behavior**

Either a message such as "Timelines are not supported", or a proper "embed" for these.

I'm not sure how th

[2020-04-30 06:41] Rafi993 opened #7606 "Dropdown under profile picture disappears when cursor is diagonally"
**Describe the bug**

Dropdown under user profile disappears when the cursor is moved diagonally

**To Reproduce**

1. Go to dev.to
2. Move cursor diagonally from the profile picture

**Expected behavior**

The dropdown should stay there when the cursor is moved diagonally upto some distance.

**Screenshots**

![dropdown](https://user-images.githubusercontent.com/8092120/80679874-61b5d980-8adb-11e

[2020-04-30 07:11] catalinpit commented on #7434
Let's do that!

[2020-04-30 07:48] citizen428 commented on #7605
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-30 07:49] citizen428 commented on #7606
Same with Firefox on macOS. Once you're over the menu you can move to the sides, but if you do it before the menu disappears.

[2020-04-30 08:59] rhymes commented on #7600
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-30 09:10] rhymes commented on #7606
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-04-30 14:03] luis-novoa commented on #5973
Good morning,
is this issue available? May I work on it?

[2020-04-30 14:20] luis-novoa commented on #5973
Good morning

This issue is open, but the feature is already added. What is the work needed, and how can I contribute?

Best regards,
Luis Novoa

[2020-04-30 14:31] rhymes commented on #5973
@luis-novoa, sorry, we forgot to close this issue after https://github.com/thepracticaldev/dev.to/pull/7516 was merged!

Feel free to pick any of [ready for dev issues](https://github.com/thepracticaldev/dev.to/labels/ready%20for%20dev) or any of the [bugs](https://github.com/thepracticaldev/dev.to/labels/type%3A%20bug)

Thanks :-)

[2020-04-30 14:31] #5973 closed

[2020-04-30 15:29] #7585 closed

[2020-04-30 15:48] michaelwilde opened #7628 "Clicked "Twitter Auth" in my profile and an error is generated."
**Describe the bug**
Per Dev.to's recommendation, I clicked the "connect twitter" feature, and this error is returned.

https://share.getcloudapp.com/xQuWbrZK

**To Reproduce**

If you can sudo to my account, that's fine.. try clicking "connect twitter".  Not sure if you've got that specific data in Honeycomb (around the error--did it 503? not sure), but you might look in Honeycomb.

**Expected be

[2020-04-30 15:55] rhymes commented on #7628
Hi @michaelwilde, thanks a lot for the report! We're shipping shortly a fix for that. I'll notify you when it's available in production!

[2020-04-30 22:59] sjadczak opened #7640 "DEV Community Github Auth on Android 10"
**Describe the bug**

When attempting to log in to the android application with my github credentials, I get an error about clear text not being permitted. Uninstaller and reinstalling the application does not help.

**Expected behavior**

Github oauth authentication and logging into my account on the app

**Screenshots**

Error text

Webpage not available
The webpage at http://dev.to/users/auth/g

[2020-05-01 00:10] allnulled opened #7641 "I cannot post anything"
I cannot post after saying something that is truth, and it is that paid universities are criminals, because if they were free, COVID-19 would be controlled and understood nowadays.

[2020-05-01 04:09] citizen428 opened #7643 "Don't hardcode social previews for listings"
The main refactoring of classified listings is now done, but there's one outstanding issue, the social previews hardcoded in `app/controllers/social_previews_controller.rb`:

[code]

Should we just add two more columns to the new `ClassifiedListingCategory` model and make the color and short description configurable by admins? /cc @benhalpern

[2020-05-01 05:09] citizen428 commented on #7640
@sjadczak Thanks for the report! This was also discussed in https://github.com/thepracticaldev/DEV-Android/issues/73 and the fix was merged, so I'll close this issue here.

[2020-05-01 05:09] #7640 closed

[2020-05-01 07:22] citizen428 commented on #7585
@rhymes Confirmed, readding Twitter is working fine now, thanks for the quick turnaround time on this 😃

[2020-05-01 07:31] citizen428 commented on #7578
No, I never managed to reproduce this.

[2020-05-01 09:48] rhymes commented on #7641
Hello @allnulled, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-05-01 09:48] #7641 closed

[2020-05-01 10:51] allnulled commented on #7641
Yes, and so I did. I do not fit this world, but I think I can fit your community, because maybe another thing no, but I have contributed to development and programming as a crazy person, without receiving money for it, I think I deserve a minimum of integration in this kind of communities, I still have a lot to say about Microsoft, Github and Npm, and their monopolization and invisibilization of t

[2020-05-01 11:48] ledestin commented on #7383
@citizen428 thanks for doing so much to help!

I've tried various Elasticsearch settings, including `indices.memory.index_buffer_size`, and giving JVM 2-4 Gb of RAM, and none of that has affected indexing speed.

**But moving Elasticsearch data directory to SSD worked magic**, and it went 25 seconds -> 11 seconds for `spec/system/articles/user_deletes_an_article_spec.rb`. A JS spec `spec/system/ar

[2020-05-01 12:01] rhymes commented on #7600
Il looks like this depends on which colors the user has set:

https://github.com/thepracticaldev/dev.to/blob/c734457a4447520c5cc30a9d41496b4ef22ce5c7/app/views/articles/_user_metadata.html.erb#L2-L4

but as we know from the discussion here https://github.com/thepracticaldev/dev.to/issues/7434 that logic fails to take into account theming.

[2020-05-01 12:02] rhymes commented on #7434
This is related https://github.com/thepracticaldev/dev.to/issues/7600

[2020-05-01 13:40] Amorpheuz opened #7645 "Update node version in Windows Installation docs"
**Describe the bug**
The node version mentioned under [Installing Rails for Windows](https://github.com/thepracticaldev/dev.to/blob/master/docs/installation/windows.md#installing-rails) instructs the use of node version 8.x in the cURL command. On using the command, a Deprecation Warning is shown on the user's console. It explains that the Node.js 8.x LTS Carbon is no longer actively supported and

[2020-05-01 13:57] allnulled commented on #7641
@rhymes I supose this is the polite way of telling me to go to hell. But I am already, I live with these kinda apes that do not let even study and understand the world collectively. Opportunists, opportunists everywhere.

[2020-05-01 14:02] allnulled commented on #7641
sorry, they let you understand. But you have to have this... divine substance, yeah, money. The slavism tool, the ring to rule them all.

[2020-05-01 14:14] rhymes commented on #7641
@allnulled that's the standard reply we give to users that have support related issues. I simply think you're off topic airing your grievances in here as this is the repository for the open source project. I think you should contact support and make your case.

[2020-05-01 15:48] benhalpern commented on #4745
I'm going to mark this as `ready for dev`....

I think we should add `data` attributes where appropriate then JS can trigger it on mouseover...

I actually started a PR in this regard but kind of let it fall off...

https://github.com/thepracticaldev/dev.to/pull/5614

If anyone wants to take a swing at an initial PR along these lines please go for it.

[2020-05-01 16:57] vaidehijoshi commented on #5068
Seems like we could tag users who are pentesters. I'm planning on doing this for @thepracticaldev/delightful's work based on [this recent comment](https://github.com/thepracticaldev/dev.to/pull/7637#issuecomment-622171320).

If no one picks it up in the next few days, I could probably loop in "tagging pentester users" into my "tagging suggested follow users" work! :)

[2020-05-01 17:24] #7580 closed

[2020-05-01 17:27] mstruve commented on #5068
@vaidehijoshi another approach option is to use roles to handle this so users would get the pentester role. [We discussed this a bit in the related PR](https://github.com/thepracticaldev/dev.to/pull/5082#issuecomment-565029115)

[2020-05-01 17:37] rhymes commented on #5068
+1 on using roles as I believe they can be managed more easily: they are one SQL query away and we can build an internal view to list them. It doesn't seem like something related to "site configuration" in my opinion

[2020-05-01 17:48] maestromac commented on #7058
Resolved with https://github.com/thepracticaldev/dev.to/pull/7100

[2020-05-01 17:48] #7058 closed

[2020-05-01 17:49] #7645 closed

[2020-05-01 21:03] #7106 closed

[2020-05-02 13:22] Slashgear opened #7657 "Code highlight seems to break page structure"
**Describe the bug**

I was sharing my blog post on dev.to but I came in a strange situation where I can't use Markdown code highlights.

**To Reproduce**

Go to: https://dev.to/slashgear_/announcing-use-reduced-motion-376p-temp-slug-2899487?preview=f55bc8ad342f89cc0272e19a488341c4c0abbe04a6be6edcb78b43c52ca00615c1a634b5301a59c99ecb6bbeea6a24644b28c4461cbc0073a5e48fbf

You will see that `youtube`

[2020-05-02 13:23] #7657 closed

[2020-05-02 16:02] etagwerker commented on #2879
@tannakartikey @rhymes I went ahead and submitted a PR to find out how many failures we will find running the test suite with Rails 6.0.

[2020-05-02 17:37] rhymes commented on #7628
Sorry @michaelwilde for the late "notification". You should be able to get verify that it works in production. Let us know if it's not the case

[2020-05-02 17:37] #7628 closed

[2020-05-02 18:18] #7578 closed

[2020-05-02 18:36] etagwerker commented on #2879
Quick update from Travis CI (https://travis-ci.com/github/thepracticaldev/dev.to/jobs/326724424):

[code]

[2020-05-02 23:35] twhite96 commented on #2470
I'd really like to hop in on this. Where should I start?

[2020-05-03 13:52] setevoy2 opened #7661 "User Can't Import articles from WordPress Via RSS Import Functionality"
**Describe the bug**
My DEV account stopped fetching posts from my RSS import (I've set DEV to automatically import articles posted to my WordPress blog).
I've tried re-entering the URL and clicking "Fetch Feed Now", but still can not see new draft entries added to my dashboard.

The feed URL is https://rtfm.co.ua/en/rss/ and my dev.to username is @setevoy.

The missing entries I noticed are:

- [

[2020-05-03 15:06] rhymes commented on #7661
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-03 15:52] #6740 closed

[2020-05-03 22:33] farzadbagheri opened #7663 "Issue with Rails in Docker setup"
**Describe the bug**
Rails aborting while databases are being set up with Docker (LoadError: Error relocating /usr/local/bundle/gems/mini_racer-0.2.10/lib/mini_racer_extension.so...)

**Screenshots**
<img width="1437" alt="Screen Shot 2020-05-03 at 6 31 18 PM" src="https://user-images.githubusercontent.com/10763487/80927533-6d6bff00-8d6c-11ea-8eba-fb2d3f9adf18.png">

OS: Catalina

[2020-05-04 03:54] setevoy2 commented on #7661
Ha!
Did a "dirty hack": as publishing from my blog to Medium works - so I've just updated my Dev.to settings from the  https://rtfm.co.ua/en/rss/ to my Medium's URL https://medium.com/feed/@setevo4
Then I was able to fetch the feed, and then set back my blog's URL.

Nice... Even more - formatting after import from Medium looks much better, then when importing from the blog itself - require much fe

[2020-05-04 03:58] citizen428 commented on #7663
Thanks for the issue @farzadbagheri! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and ne

[2020-05-04 04:01] setevoy2 commented on #7661
But here are two other issues... Oh :-(

- some (!) posts are duplicated after import from Medium (see the screenshot, please)
- I can't archive them - after clicking on the"..." at the right corner and choosing "Archive post" - it's disappeared, but after the Dashboard page is reloaded - they're coming back to the "Drafts" list

![Screenshot_20200504_065847](https://user-images.githubusercontent.

[2020-05-04 04:11] citizen428 commented on #7663
This seems to be a problem with Alpine's standard C library (musl instead of glibc), see https://github.com/sgerrand/alpine-pkg-glibc/issues/27

I have to think about how to resolve this, as to the best of my knowledge nobody on the core team uses Docker for their daily development and `mini_racer` was introduced to speed up specs in local development, see #7383.

Possible solutions:

1. Switch fr

[2020-05-04 04:18] setevoy2 commented on #7661
Okay...
I gave up.
![Screenshot_20200504_071746](https://user-images.githubusercontent.com/7965314/80935897-6a5a2880-8dd7-11ea-9cd5-66affc6e216f.png)
Stopping publishing to Dev.to then.
Sorry, team.

[2020-05-04 08:52] Rafi993 commented on #7408
Hello there, Is this issue up for grabs if so I would like to help.

[2020-05-04 09:54] rhymes commented on #7408
Sure @Rafi993, go ahead and thanks! I'm going to formally assign you to the issue :) Let us know if you get stuck or need any help.

[2020-05-04 09:59] Rafi993 commented on #7408
Awesome. Thanks @rhymes

[2020-05-04 14:49] maestromac commented on #7240
This sound fixed. Closing

[2020-05-04 14:49] #7240 closed

[2020-05-04 18:10] #5279 closed

[2020-05-04 18:59] maestromac commented on #6962
This should be resolved now. Let us know if otherwise!

[2020-05-04 18:59] #6962 closed

[2020-05-04 20:19] #7355 closed

[2020-05-04 22:47] belhassen07 opened #7677 "Twilio image doesn't have "alt""
I looked for the Twilio image on the right of the home page. I didn't understand what's that about, I went for alt, like a nerd, and I didn't find an alt. So  it's an accessibility problem I guess but other than that, the usability problem that I really didn't get it, at first I thought it's a sponsor but the good'ol sponsors section is down left.

[2020-05-05 00:52] fagbolaoluwagbenga commented on #6563
try running the following command in your cli
$ docker run -e POSTGRES_PASSWORD=yourPassword container-id

[2020-05-05 04:52] citizen428 commented on #7677
Thanks for the report @belhassen07. This image was for the Twillio hackathon.

https://dev.to/devteam/announcing-the-twilio-hackathon-on-dev-2lh8

Since we'll announce the winners today the image will go away soon, so I'll close this issue if you don't mind.

[2020-05-05 04:52] #7677 closed

[2020-05-05 08:27] ledestin commented on #7383
I was able to further slash ~6 seconds by using `./bin/spring rspec`, instead of `./bin/rspec`. So the JS system spec takes 13 seconds now and the non-JS 6 seconds!

`bin/rspec` isn't binstubbed by `Spring`, should I make a PR to binstub it?

[2020-05-05 11:29] eyewritecode commented on #6807
Echoing what @rhymes said, i also didn't know about Webmentions and would enjoy owning this issue if no one is looking into this already! cc: @citizen428 @benhalpern ?

[2020-05-05 13:11] rhymes commented on #6807
@eyewritecode I assigned you to the issue as it's open for development. It'd be great to come up with a mini plan on how to tackle this so we can discuss it before you set out to implement it. How does that sound?

[2020-05-05 14:01] eyewritecode commented on #6807
Cool, thanks @rhymes!
Yeah i'll definitely share my approach once i get the hang of how it works and how it fits in with DEV.

[2020-05-05 14:05] aaronpk commented on #6807
Feel free to join the dev channel on IndieWeb chat if you'd like to bounce ideas off of people for this! https://indieweb.org/discuss

Also https://webmention.rocks will be a good resource for you while testing!

[2020-05-05 14:33] eyewritecode commented on #6807
Thanks @aaronpk, your blog posts have been of a great help so far :)

[2020-05-05 18:31] Glyphack opened #7686 "mute notifications from a specific user"
**Is your feature request related to a problem? Please describe.**
After you follow a user on the platform your notification count increment when user publish contents and if you have a huge list of followings It becomes a lot of notifications and specially the more important notifications like comments could be missed. since you open notifications and see a lot of contents and until you don't cli

[2020-05-05 19:09] CodeMouse92 commented on #4168
I'd like to add my vote to this. We have excellent posts like [this one](https://dev.to/arielbarcellos/seja-mais-produtivo-com-linux-1-2c18) which are not in English, but come through English-only feeds like mine. As a moderator, I have no way to move these out of "English" into another language, so having something *besides* a tag to indicate post language, and possibly allowing moderators to mod

[2020-05-05 19:59] #5500 closed

[2020-05-05 20:41] #4925 closed

[2020-05-05 20:42] #5616 closed

[2020-05-06 07:06] shefalibasu opened #7693 "cannot access to my Dev.to account"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-05-06 07:26] Rafi993 commented on #7693
Is this related to github signin?

[2020-05-06 08:25] shefalibasu commented on #7693
No, It is related to DEV.To signin.
I am unable to log in my account.

*Thanks & Regards*
*Shefali Basu*
*Technical Writer*
*Facebook <https://www.facebook.com/shefali.basu.7906>|Twitter
<http://twitter.com/shefali_basu>|LinkedIn
<https://www.linkedin.com/in/shefali-basu-0ba09030/> *

On Wed, May 6, 2020 at 12:56 PM Rafi <notifications@github.com> wrote:

[2020-05-06 08:39] Rafi993 commented on #7408
I could not reproduce this in local. It does happen in [production](https://dev.to/search?q=Can%20anyone%20explain%20how%20to%20use%20Ajax%20to%20connect%20to%20a%20C) though I even copied those articles to my local still could not reproduce it.
![article0](https://user-images.githubusercontent.com/8092120/81155400-85c55f00-8fa2-11ea-8d7a-58f4a9f005a1.png)

these articles appear much lower when I

[2020-05-06 08:42] Rafi993 commented on #7408
Is it possible these articles have lots of comments, content body that have "how to" in their comment section that makes them come at the top (ratio of number of words in the page to number of matching words?). And using Double quotes makes does exact search rather than splitting in to keyword ?

[2020-05-06 09:21] rhymes commented on #7686
Hi @Glyphack, I believe this was already raised in https://github.com/thepracticaldev/dev.to/issues/3171 so I'm closing this and redirecting you to that issue.

Thanks for taking the time and let us know if indeed is not a duplicate

[2020-05-06 09:21] #7686 closed

[2020-05-06 09:49] rhymes commented on #7693
Hello @shefalibasu, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-05-06 09:49] #7693 closed

[2020-05-06 14:21] mstruve commented on #7408
The reason you cannot reproduce it locally likely has to do with the article scores. We heavily weight the articles based on their score when sorting to ensure those higher rated articles in terms of content quality show up closer to the top.

[2020-05-06 16:08] melissamcewen opened #7697 "Link to your Glitch profile in your Dev.to profile"
**Is your feature request related to a problem? Please describe.**

At Glitch we love how easy it is to add Glitch embeds to Dev.to posts. We'd love to see the ability to feature your Glitch profile in your Dev.to profile alongside the other profile links (Facebook, YouTube, Twitch etc.)

**Describe the solution you'd like**
A "Glitch profile URL" field in the links options for user settings

**De

[2020-05-06 16:14] #4650 closed

[2020-05-06 16:34] nealmcb commented on #3876
Keybase is very well thought out. It uses hash chains / merkle trees / signature chains etc, like tons of apps over the decades, and integrates with Stellar, which is blockchain-based, but Keybase itself is not "blockchain-based" in any useful, common meaning of that term (i.e. decentralized consensus).

I think integrating dev.to with Keybase would be a good step. Thanks, @MatteoJoliveau. How's i

[2020-05-06 17:53] maud-lv commented on #3802
Hello! This also affects my posts.
Here an example on Twitter
![image](https://user-images.githubusercontent.com/18214541/81210818-bc1ad280-8fd2-11ea-98c2-0089947e5996.png)

And on LinkedIn:
![image](https://user-images.githubusercontent.com/18214541/81210950-f08e8e80-8fd2-11ea-9af3-df14cd14c02a.png)
I second what brentonhouse said: uploading social media cards in our dev.to publications would pro

[2020-05-06 18:00] rhymes commented on #7697
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-06 19:21] msarit opened #7700 "Mod reactions: A thumbsdown and/or vomit should not exist simultaneously with a thumbsup, and vice versa."

[2020-05-06 20:39] mstruve commented on #2877
Hey @Link2Twenty, thanks so much for bringing this to our attention. Given we are now in the middle of site redesign we will definitely take this into consideration. In the meantime, I am going to close the issue as we will work to address it with the redesign.

Thanks for being a great active community member!

[2020-05-06 20:39] #2877 closed

[2020-05-07 07:51] rhymes commented on #7700
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-07 08:11] ledestin opened #7706 "Adapt dev env for developing on a remote box"
**Is your feature request related to a problem? Please describe.**

I use 2 computers for development. Using Mac as a desktop and Linux as a dev env. I've adapted dev.to to work in my circumstances and would like to contribute those changes.

**Describe the solution you'd like**

1. Update docs to mention that `APP_DOMAIN` variable must be configured. But I have no idea where to put that in the do

[2020-05-07 08:17] rhymes commented on #7706
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-07 08:41] rhymes commented on #7706
Hi @ledestin!

Thanks for the proposal!

`APP_DOMAIN` is in the configuration file, so you might want to add a similar note about how to configure it for a remote box in each of the three guides: https://docs.dev.to/installation/mac/, https://docs.dev.to/installation/windows/ and https://docs.dev.to/installation/linux/

Regarding `Procfile.dev`, as already bind the web server to `0.0.0.0` for loca

[2020-05-07 12:22] krishnadevz opened #7709 "dev.to should have custom post's indexing by user's preference"
**Dev.to should have custom posts indexing by user's preference**

*hello when I go to my profile section or any user go and see own post's but we can do only one
thing means I can only **PIN** my post that is good but if I want my good post's sorted or indexed by my own preference that feature we can implement so all dev users can sort dev posts by preferable order by there own perspective and th

[2020-05-07 13:12] rhymes commented on #7709
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-07 14:32] nickytonline commented on #2470
@twhite96, I ran eslint on the project and here are some issues that need addressing. Feel free to tackle whatever you like.

[code]

[2020-05-07 15:48] Computer-Man497 opened #7726 "Dev.to Doesn't work in Microsoft Edge"
**Describe the bug**
Alright, this might be a waste of time because I know Edge doesn't work with a lot of stuff, but maybe their might be a way to fix It in the dev.to code.
 Basically, when I log onto Dev from Microsoft Edge. I see this:
<img width="950" alt="Capture" src="https://user-images.githubusercontent.com/47247405/81315113-cb0c8e00-9081-11ea-9bb0-c17453c6771e.PNG">
No feed, my profile p

[2020-05-07 15:53] rhymes commented on #7726
Hi @Computer-Man497, DEV doesn't support the older version of Edge, only "Edge Chromium" (which is still called Microsoft Edge, but starts from version 80 upwards).

See https://www.theverge.com/2019/11/4/20942038/microsoft-edge-chromium-release-date-new-logo-features

Thanks for taking the time to file this issue!

[2020-05-07 15:53] #7726 closed

[2020-05-07 15:55] Computer-Man497 commented on #7726
Great, Thanks @rhymes!

[2020-05-07 16:16] BijayKumarPun opened #7728 "List user made posts by tags"
**Is your feature request related to a problem? Please describe.**
I can't list my articles/posts based on the tags I gave while writing/publishing them. If I click on any tag on my post, it takes me to a different page with all related articles, which is great, but there should be an additional option to narrow down the list to my posts only.

**Describe the solution you'd like**
A simple option

[2020-05-07 16:25] leewynne opened #7729 "Add 'See all podcasts' link to Today's podcast element."
**Describe the solution you'd like**

I think a follow on link to the 'Today's Podcast' element on the home feed work be beneficial to aid discovery of further podcasts. More so on mobile than anything else, but should exist in all form factors.

[2020-05-07 21:25] mstruve commented on #3941
Banishing a user has since been moved into the `Moderator::BanishUserWorker` so this can be closed.

[2020-05-07 21:25] #3941 closed

[2020-05-08 06:53] ledestin commented on #7706
@rhymes thanks! One more thing: when developing docs, a change to `docs/.gitdocs.json` is also needed. I guess, it's not possible to use `APP_DOMAIN` there. Also, I'm not sure if it's a good idea to mention that change in the docs.

[2020-05-08 09:31] rhymes commented on #7728
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-08 09:33] rhymes commented on #7728
Hi @BijayKumarPun, thanks for taking the time to raise this issue.

I'm closing this as a duplicate of https://github.com/thepracticaldev/dev.to/issues/1396 - I encourage you to add your comment there.

Let me know I'm incorrect in my evaluation

[2020-05-08 09:33] #7728 closed

[2020-05-08 09:34] rhymes commented on #7729
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-08 11:05] rhymes commented on #7706
What problems are you encountering with gitdocs?

[2020-05-08 15:32] BijayKumarPun commented on #7728
Hey @rhymes thank you for a quick response!
This issue indeed turns out to be a duplicate of #1396. Will look forward to the feature implementation.
Thanks!

[2020-05-08 20:27] joshpuetz commented on #7663
Pinging @jdoss as he's been experimenting with alternate containerization for DEV's development environment

[2020-05-09 04:25] ledestin commented on #7706
It's just that it listens on localhost by default.

[2020-05-09 04:50] web2033 opened #7748 "Blacklist certain tags"
I would suggest adding a feature that allows blacklisting certain tags to keep feed relevant.

Example - I'm Vue.js dev and not interested in React, Angular, Svelte, etc, but they occupy feed space since all of them use "javascript" tag in articles.

[2020-05-09 05:39] yg opened #7749 "The scrollbar is little weird in the user profile"
**Describe the bug**

The scrollbar is little bit weird in the user profile for small screens

**To Reproduce**

1. Open fulfilled user profile (https://dev.to/ben)
2. If your screen is big zoom the profile

**Screenshots**

![Screenshot](https://user-images.githubusercontent.com/61746440/81465147-6407ea00-91e5-11ea-9ef8-882eef2a977b.png)

**Desktop (please complete the following information):**

[2020-05-09 05:54] yg opened #7750 "If edit org fails it redirects to the org creation page"
**Describe the bug**

If edit org fails it redirects to the org creation page

**To Reproduce**

1. Open Org settings
2. Try changing the username that already exists
3. You will be redirected to the org creation page with error

**Screenshots**

https://www.loom.com/share/07217b93db4f4daf9c9966ee4644277a

**Desktop (please complete the following information):**

- OS: Ubuntu 19.04
- Browser: Chro

[2020-05-09 05:59] yg opened #7751 "Showing GitHub repos that are no longer exist"
**Describe the bug**

Showing GitHub repos that are no longer exist

I added some GitHub repos to the profile a long ago and renamed my GitHub account and deleted that repo too

**To Reproduce**

1. Add some repo to the profile
2. Remove GitHub integration

**Screenshots**

![Screenshot](https://user-images.githubusercontent.com/61746440/81465516-3a9c8d80-91e8-11ea-9d60-60642c134341.png)

**Deskto

[2020-05-09 06:07] yg opened #7752 "The image in list podcasts misaligned if the name has two lines"
**Describe the bug**

The image in list podcasts misaligned if the name has two lines

**Screenshots**

![Screenshot](https://user-images.githubusercontent.com/61746440/81465692-69ffca00-91e9-11ea-9828-fe1dc5f1f998.png)

**Desktop (please complete the following information):**

- OS: Ubuntu 19.04
- Browser: Chrome Beta
- Version: 83.0.4103.23 (Official Build) beta (64-bit)

[2020-05-09 06:18] yg opened #7753 "Design issue in discussion box due to full width"
**Describe the bug**

Design issue in discussion box due to full width

It would be great if it has proper margins!

**To Reproduce**

1. Open https://dev.to/developertea/productive-self-sabotage
2. Scroll to bottom
3. See the discussion input box

**Current behavior**

![Screenshot](https://user-images.githubusercontent.com/61746440/81465838-b0a1f400-91ea-11ea-8526-425ac6ec53da.png)
![Screenshot]

[2020-05-09 11:59] Obsiye opened #7754 "I'm unable to upload any images into any post i write"
**Describe the bug**

I'm unable to upload any type of image of any size.

I get no error response.

I'm unable to upload any type of image of any size. I've tried small images far less than 4096x4096 pixels and I've tried images that are  4096x4096 pixels. Also, I get no error response.

**To Reproduce**

Create a post, go to images on the bottom left corner, which will redirect you to a page to

[2020-05-09 14:29] yg opened #7755 "Rate limit all requests"
**Is your feature request related to a problem? Please describe.**

Rate limit all requests

User can create unlimited request in a short period of time, as shown in the video

**Describe the solution you'd like**

Rate limit all request (say 60 requests in 1 minute)

**Additional context**

https://www.loom.com/share/1690cd56a6e84ef88d1ad609cdf7b2fe

[2020-05-09 19:28] hyphaene opened #7756 "archive an article from the article page itself"
**Is your feature request related to a problem? Please describe.**
Not as I know of ^^

**Describe the solution you'd like**
I would like to add a way to archive an article from the article page itself. ( a simple button )

And maybe redirect to the next article / or reading list after archiving is done ( to be discussed )

**Describe alternatives you've considered**
None for now

**Additional con

[2020-05-10 09:26] techzax opened #7757 "Unable to save / update profile & Follow topics not working"
**Describe the bug**

Hello,
I have been trying to update my profile since weeks, but each time i get a very irritating message.
Somehow, the update profile thing isnt working at all...

Also neither is the FOLLOW feature seems to work, every time i follow a topic, after refreshing the page its still unfollowed.
Please help.

**To Reproduce**

On updating profile

**Expected behavior**

**Screensh

[2020-05-10 09:27] techzax commented on #7757
![image](https://user-images.githubusercontent.com/65107175/81495528-7578f100-92ce-11ea-9878-0bf6dd5e9a63.png)

[2020-05-10 13:03] Marigameo opened #7758 "Unable to save my profile edits"
I tried to edit my profile settings and noticed 500 status in the console.I was new to dev.to.After a couple of attempts I tried to save without editing the username field, it worked.

If this is the case, then why the username field is editable?It shouldn't be right?

So I think the username field can be disabled if it's value is taken from the social signup and not alterable.

Thank you!

[2020-05-10 15:10] VladimirMikulic commented on #212
As of May 2020, the issue is still present.

[2020-05-10 15:20] gautamkrishnar commented on #212
One workaround is removing and readding the repo @VladimirMikulic

[2020-05-10 15:21] VladimirMikulic commented on #212
Thanks, I knew for this workaround but I would rather avoid workarounds :)

[2020-05-10 16:23] rhymes commented on #7706
I think we can change that, I looked into [gitdocs configuration params](https://github.com/timberio/gitdocs/blob/master/docs/api/config-file.md) and we can change both host and port.

I tried locally by setting the host to `0.0.0.0` and it seems to be working:

[code]

![Screenshot 2020-05-10 at 6 23 14 PM](https://user-images.githubusercontent.com/146201/81504761-62c0e500-92eb-11ea-82e9-fe0d2843

[2020-05-10 16:25] rhymes commented on #7748
Hi @web2033, thanks for taking the time to raising this issue.

I'm closing this as there's already a discussion around https://github.com/thepracticaldev/dev.to/issues/1856

Feel free to weigh in with your thoughts so that that issue will bump up again :)

[2020-05-10 16:25] #7748 closed

[2020-05-10 16:25] rhymes commented on #7748
Duplicate of https://github.com/thepracticaldev/dev.to/issues/1856

[2020-05-10 16:26] rhymes commented on #7749
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-10 16:28] rhymes commented on #7750
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-10 16:28] rhymes commented on #7751
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-10 16:30] rhymes commented on #7751
Thanks for raising this issue yg! We're currently working on improving the code around fetching GitHub repos and we'll see if can fix this as well at the same time.

[2020-05-10 16:30] rhymes commented on #7751
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-10 16:31] rhymes commented on #7752
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-10 16:31] rhymes commented on #7753
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-10 16:34] rhymes commented on #7754
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-10 16:36] rhymes commented on #7754
Hi @Obsiye, I just tried with that editor and I was unable to reproduce (the upload went through successfully). Could you try again? To make sure it wasn't a temporary problem?

[2020-05-10 16:42] rhymes commented on #7756
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-10 16:50] rhymes commented on #7757
Hello @techzax, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-05-10 16:50] #7757 closed

[2020-05-10 16:51] rhymes commented on #7758
@Marigameo could you expand on the title? What errors do you receive from the web app? Do you see anything logged in the console?

Thank you!

[2020-05-10 16:53] rhymes commented on #212
@VladimirMikulic @gautamkrishnar we're currently working on a revamp of this functionality, we'll keep you all updated. We should be able to address this issue as well.

Thank you for reminding us :-)

[2020-05-10 19:10] wayofthepie opened #7760 "Footnote and content on return from footnote hidden by top bar"
**Describe the bug**
When following links to footnotes and back from footnotes the line with the anchor gets hidden behind the top bar.

**To Reproduce**
[This post](https://dev.to/wayofthepie/footnote-issue-43m6-temp-slug-580403?preview=3efd6c798b2c7cae5e4947f5fab920b339b18ba1684ee6e6cf23ea667d3a94860ae6a8d8867b7a496110656c5644d2da5c2a1ee83e20f0ad919af8f2) has a simple example and is the one used

[2020-05-10 19:52] gautamkrishnar commented on #212
Awesome 🎉

[2020-05-11 00:21] benhalpern commented on #7755
Hi, @yg thanks for the issue. As a policy for security-related issues we ask that you report privately to security@dev.to. Per protocol I'm going to delete this issue after this comment.

But duly noted, and we are currently working away at the various places we need to rate limit and how much and are on top of this.

[2020-05-11 00:24] web2033 commented on #1856
Agreed with the idea.

Example - I'm Vue.js dev and not interested in React, Angular, Svelte, etc, but they occupy feed space since all of them use "javascript" tag in articles. (copy from #7748)

[2020-05-11 04:47] citizen428 commented on #7760
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-11 10:45] catalinpit commented on #7753
So what do you think the solution for this one would be?

[2020-05-11 10:52] catalinpit commented on #7752
Hello, can I pick this one, please?

[2020-05-11 11:12] yg commented on #7753
@catalinpit See **Expected behavior** in Issue description!

[2020-05-11 11:17] Obsiye commented on #7754
Hi @rhymes , I tried again - on and off incognito mode - and it's still not uploading anything or providing me with a link to add to the post. : / The whole issue persists for me even when I create a new post. Yep, still an issue.

[2020-05-11 11:18] Ridhwana commented on #7752
Hi @catalinpit sure go for it :) I've assigned you the issue.

[2020-05-11 11:25] athul7744 opened #7763 "Credits for photos used on Posts"
**Is your feature request related to a problem? Please describe.**

- A lot of the posts on DEV use open source photos from sites like Unsplash. I think it is correct to give credits to the photographers who took them.

**Describe the solution you'd like**

- A text under the photo showing credits, can allow hyperlinks too.
- While creating posts allowing user to add credits.

[2020-05-11 11:44] catalinpit commented on #7753
@yg I've seen the expected behaviour.

[2020-05-11 11:45] yg commented on #7753
@catalinpit Oops! Then I think it varies on the screen to screen!

[2020-05-11 12:08] rhymes commented on #7754
@Obsiye sorry to hear that, any info in the JavaScript console which might help us understand what's going on?

[2020-05-11 12:10] rhymes commented on #7763
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-11 12:11] rhymes commented on #7763
Thanks @athul7744!

I'm leaving a comment to link this previous similar request about cover images: [Allow photo credit attribution for cover_image](https://github.com/thepracticaldev/dev.to/issues/1849)

[2020-05-11 12:18] Obsiye commented on #7754
@rhymes Nothing on the console. ✔️ Good news! It's fixed now. My network calls were slow, at the bottom of the network tab called image upload, it was in (pending) mode.

My misunderstanding, I thought I had to click the 'Done' button to upload it. Instead, I have to **wait** after choosing a file. Especially images that are larger, it'll take longer.

Maybe have a warning label underneath it sayi

[2020-05-11 12:21] rhymes commented on #7754
Thank you! We'll make a note about that certainly!

Glad it's working now

[2020-05-11 12:21] #7754 closed

[2020-05-11 13:34] leewynne opened #7766 "Allow Siteconfig to force all cover images to appear in homefeeds"
**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

As a smaller community that requires a more visual homefeed. I would like to be able to tick a box that will force the cover image to show within the feed.

**Describe alternatives you've considered**

None, I think manually setting it works best.

**Additional context**

Only to say hi D

[2020-05-11 13:46] leewynne opened #7768 "Allow admin to publish articles that do not appear on the homefeed."
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

As a smaller community, to help drive initial organic growth, as an administrator I would like to be able to create posts that are there to drive traffic only, in the hope that it converts into community usage. I wouldn't want these posts to saturate the homefeed initially as the valuable

[2020-05-11 13:54] leewynne opened #7769 "Add a podcast switcher to mobile podcast index view."
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

As a mobile user, I find it hard to discover other podcasts that are available. I think a small element at the top of the podcast index list to 'select a podcast' or something similar would really aid navigation between podcasts.

[2020-05-11 14:06] leewynne opened #7770 "Enhanced saving of Podcast episodes and playing progress."
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

I think to really take over as a community users primary mobile podcast app, then we need the ability to save/favourite a podcast episode so it appears in 'reading list' (maybe rename that to something like 'saved' so there is space for other saved resources, rather than just posts?) and t

[2020-05-11 14:07] rhymes commented on #7766
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-11 14:27] #3169 closed

[2020-05-11 14:37] rhymes commented on #7768
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-11 14:38] rhymes commented on #7769
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-11 14:46] rhymes commented on #7770
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-11 15:05] catalinpit commented on #7434
This is quite annoying. Assign this to me, please.

[2020-05-11 16:03] maestromac commented on #3305
Resolved with https://github.com/thepracticaldev/dev.to/pull/7759

[2020-05-11 16:03] #3305 closed

[2020-05-11 16:31] SoniArpit opened #7774 "whenever I click on write blog I'm getting error."
whenever I click on write blog I'm getting error.

[2020-05-11 16:32] #7750 closed

[2020-05-11 16:35] #6674 closed

[2020-05-11 16:36] maestromac commented on #7774
Hello @SoniArpit , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2020-05-11 16:36] #7774 closed

[2020-05-12 03:06] RobbieGM opened #7784 "View top posts from last 24 hours"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to see the top posts from the last day. Currently the smallest time interval is a week.

**Describe the solution you'd like**

I wish there were an option for "&lt;past day&gt;" as well as what's currently there.

**Describe alternatives you've considered**

Scrolling really far in the top past week feed :/

**

[2020-05-12 03:13] danascheider commented on #7584
@lightalloy I've been able to duplicate this issue using the steps @pkfrank listed, but haven't managed to repro the one in #6926 using the steps given there (or any other way). I found additionally:

1. If you click "Write Post" a second time while on the same page (when there are two editors visible), the second one goes away.
2. If you click "Write Post" a third time after that, then the whole

[2020-05-12 04:02] citizen428 commented on #7784
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-12 04:54] cyberShaw commented on #6314
I'm new to open source and I'm interested in contributing!

[2020-05-12 04:54] cyberShaw commented on #6317
I'm new to open source and I'm interested in contributing!

[2020-05-12 04:55] cyberShaw commented on #1389
Can I work on this issue?

[2020-05-12 05:10] kucukti commented on #28
Is it possible to get rss feed for top of week or month

[2020-05-12 06:38] Marigameo commented on #7758
Sorry @rhymes ,I was new to dev.to and thus didn't realise that the report was getting posted this way from the site.

I have edited my comment and hope it helps someway now.Please consider this one, if I'm correct this could be an important one to consider.

Thank you!

[2020-05-12 08:28] lightalloy commented on #7584
@danascheider thanks for providing more details for this issue. It would be great to get this bug fixed, feel free to work on it.

[2020-05-12 08:57] sksiyer opened #7786 "Cannot scroll on listings pages"
**Describe the bug**
I can't scroll when in listings page

**To Reproduce**
Go to listings page and select a category, at the moment the collabs listing has a number of items that can't be accessed
https://dev.to/listings/collabs

**Additional context**
I couldn't help but have a look under the hood. It looks like the .modal-open CSS class is on the page body. This class has attribute overflow: hi

[2020-05-12 08:57] rhymes commented on #6314
Hi @cyberShaw, first and foremost: welcome! :-)

We have a bunch of tickets that are labeled [ready for dev](https://github.com/thepracticaldev/dev.to/issues?q=is%3Aopen+is%3Aissue+label%3A%22ready+for+dev%22) if you want to have a look. Also [all bugs](https://github.com/thepracticaldev/dev.to/issues?q=is%3Aopen+is%3Aissue+label%3A%22type%3A+bug%22) are open to contribution.

Don't forget to clai

[2020-05-12 08:57] rhymes commented on #6314
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-12 08:57] rhymes commented on #6317
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-12 08:58] rhymes commented on #1389
Hi @cyberShaw, sure! I'm going to assign it to you :-)

[2020-05-12 09:02] rhymes commented on #28
Hi @kucukti, would it be possible for you to open a [feature request](https://github.com/thepracticaldev/dev.to/issues/new?template=feature_request.md) so this doesn't get buried in a closed issue?

Thank you!

[2020-05-12 09:05] rhymes commented on #7758
Hi @Marigameo, your username is changeable yes, you can't change it to someone else's but you can always change it :-)

Is this - https://dev.to/marigameo - your DEV profile?

[2020-05-12 09:10] Marigameo commented on #7758
Yes,that's my DEV profile.
I think white is not allowed.But it didn't show me any exception or warning like white space is not allowed.You might have handled that I think.Not sure, but now tried saving with some other name it is working.

[2020-05-12 09:12] rhymes commented on #7786
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-12 09:13] rhymes commented on #7758
Yeah, white space is not allowed. I was able to reproduce the error locally. I'll send a fix as soon as possible. Thank you!

[2020-05-12 13:59] ludwiczakpawel opened #7789 "Force clear the cache for new users"
Looks like user needs to hit hard refresh to see new styling on first load
https://imgur.com/MlfmndE

[2020-05-12 14:00] ludwiczakpawel opened #7790 "Comments are not being truncated"
Comments should truncate after approx 2 lines of text... Currently what happens instead:

![image](https://user-images.githubusercontent.com/108287/81703855-68463880-946d-11ea-95d5-2c7e146a95a6.png)

They should also strip all the fancy stuff:

![image](https://user-images.githubusercontent.com/108287/81701141-e6a0db80-9469-11ea-892a-0668438f9d7c.png)

[2020-05-12 14:01] ludwiczakpawel opened #7791 "Huge video icon"
Feed card with video has some huge icon in it. https://imgur.com/e1KvtsC

[2020-05-12 14:05] rhymes commented on #7789
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-12 14:06] rhymes commented on #7790
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-12 14:06] rhymes commented on #7791
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-12 14:07] lightalloy commented on #7584
@danascheider I've learned that a new editor version will be released soon which may resolve this and related bugs, so it makes sense to wait for the release and check if the issue remains.

[2020-05-12 14:07] benhalpern commented on #7789
I'll get this fixed now

[2020-05-12 14:09] benhalpern opened #7793 "Podcast area wonky, image aspect ratio a little messed up."
WIll be worked on by DEV team

[2020-05-12 14:31] joshpuetz commented on #7790
I'm on this: my clever CSS tricks (https://github.com/thepracticaldev/dev.to/pull/7579#discussion_r421052144) only works in a single paragraph 🤦

I'm back to the drawing board: after discussing with @ludwiczakpawel I'm going to try to truncate these comments on the backend

[2020-05-12 14:52] benhalpern commented on #7789
Fixed with #7795

[2020-05-12 14:52] #7789 closed

[2020-05-12 14:59] benhalpern commented on #7790
@joshpuetz @ludwiczakpawel

Maybe cut off divs after a certain _height_ and have a sort of "show full" button which could display kind of like this...

<img width="711" alt="Screen Shot 2020-05-12 at 10 57 02 AM" src="https://user-images.githubusercontent.com/3102842/81708656-61083600-943f-11ea-91af-aa19276536c6.png">

I kind of really like that we can have the fully rich comments available in fee

[2020-05-12 15:19] ludwiczakpawel commented on #7790
@joshpuetz @benhalpern

#7797 introduces quick hotfix for truncating comments. Let's get back to this with proper solution after that.

[2020-05-12 16:10] alsoknownasdrew opened #7798 "Option to delete an organization"
**Is your feature request related to a problem? Please describe.**

I would like to delete an organization I've created and it seems there's no way to do it from its dashboard

**Describe the solution you'd like**

An option to delete the organization in settings page

[2020-05-12 16:55] mstruve commented on #3217
Now that we are on Elasticsearch this issue has been resolved!

[2020-05-12 16:55] #3217 closed

[2020-05-12 17:01] mstruve commented on #1641
This has been resolved with the move to Elasticsearch

[2020-05-12 17:02] mstruve commented on #821
We now destroy articles in the background 😄

[2020-05-12 17:02] #821 closed

[2020-05-12 17:03] mstruve commented on #1643
Since all the implementation details for this are for Algolia I am going to close. If we decide this is still something we want to do with Elasticsearch we can explore that. I do think that as we add more search filter options to a sidebar that we wont need a typeahead.

[2020-05-12 17:03] #1643 closed

[2020-05-12 17:06] mstruve commented on #797
Ah look at this there is an Issue for the refactor I asked @nickytonline to do, little outdated but definitely still looking to get this done in Elasticsearch!

[2020-05-12 17:10] VladimirMikulic opened #7801 "New update breaks Dark Mode and profile popup"
Hi!

I've noticed a big layout change published a few hours.
I guess it's a new DEV layout. (it's good btw :)

Unfortunately, the dashboard/welcome page uses light theme although I have dark mode enabled.
Articles and other DEV pages adjust colours for dark mode, but dashboard remains light.

Is it intentional or is it a bug?

The second issue is that hovering the profile icon from the dashboard d

[2020-05-12 17:13] mstruve commented on #1061
Since moving to Elasticsearch this problem should be fixed now. We were not updating reactions with article updates before.

[2020-05-12 17:13] #1061 closed

[2020-05-12 17:14] mstruve commented on #1741
This should be resolved since moving to Elasticsearch.

[2020-05-12 17:14] #1741 closed

[2020-05-12 17:16] mstruve commented on #2499
The people ask, we deliver! No more Algolia, no problem! 😉

[2020-05-12 17:16] #2499 closed

[2020-05-12 17:18] mstruve commented on #4349
Given we now implement this differently with Elasticsearch I am going to assume the issue has been resolved.

[2020-05-12 17:18] #4349 closed

[2020-05-12 17:21] mstruve commented on #4702
Since we have a way to sort by latest articles I am going to close this for now. As we add more advanced filter capabilities I think this will become a non-issue as people will be able to search for articles in published at ranges.

[2020-05-12 17:21] #4702 closed

[2020-05-12 17:22] mstruve commented on #354
Please note if you pickup this Issue that we are currently using Elasticsearch and that will have to factor into your implementation.

[2020-05-12 17:25] mstruve commented on #4839
No longer a problem since moving to Elasticsearch

[2020-05-12 17:25] #4839 closed

[2020-05-12 17:25] mstruve commented on #3925
No longer a problem since moving to Elasticsearch

[2020-05-12 17:25] #3925 closed

[2020-05-12 17:26] mstruve commented on #3805
No longer a problem since moving to Elasticsearch

[2020-05-12 17:26] #3805 closed

[2020-05-12 17:27] mstruve commented on #4953
No longer a problem since moving to Elasticsearch

[2020-05-12 17:27] #4953 closed

[2020-05-12 18:29] cyberShaw commented on #6317
Alright, I'll look for other issues to work on :D

[2020-05-12 18:36] cyberShaw commented on #1389
Is there any Slack or Discord for Dev.To for communication and asking for help? I'm a little new to open source :D

[2020-05-12 18:53] mstruve commented on #5792
Fixed by preventing a channel from being created for a single user https://github.com/thepracticaldev/dev.to/pull/7773

[2020-05-12 18:53] #5792 closed

[2020-05-12 20:15] maestromac commented on #7354
Closing due to inactivity.

[2020-05-12 20:15] #7354 closed

[2020-05-12 20:19] atsmith813 commented on #7798
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-12 20:19] maestromac commented on #7801
Hello @VladimirMikulic , can you give it a try again to see if this issue is still persisting? I switched to dark mode and was unable to reproduce this.

[2020-05-12 20:35] Glennmen opened #7808 "Flare tag text vertical alignment"
**Describe the bug**

The text in a flare tag (I believe that is the correct name for it) isn't vertically aligned anymore. I believe this is because of the font change.

**To Reproduce**

1. Go to home feed
2. Scroll to you find a post with a flare tag

**Expected behavior**

Text should be nicely centered.

**Screenshots**

![image](https://user-images.githubusercontent.com/11406433/81742526-8b3

[2020-05-12 20:41] atsmith813 commented on #7798
@alsoknownasdrew if you'd like to delete an organization in the meantime, you can email yo@dev.to with that request and we'll be happy to delete it for you!

[2020-05-12 20:49] sandordargo commented on #1641
So how can we remove those? Here is an example: https://dev.to/theobendixson/communism-for-you-capitalism-for-me-3j2k

[2020-05-12 21:24] mstruve commented on #1641
Looks like we have some data cleanup that needs to happen. Your account should be all set though!

[2020-05-12 23:52] mstruve commented on #1641
Data all cleaned up!

[2020-05-13 00:16] VladimirMikulic commented on #7801
@maestromac that's strange. The issue is gone now! I've no idea what happened.

[2020-05-13 00:34] MichaelSolati commented on #4686
I can probably take this, I implemented something similar on web.dev a little while back.

[2020-05-13 03:42] maestromac commented on #7801
@VladimirMikulic that's good to hear! This is because the asset wasn't available/properly loaded yet after the update. Tends to go away after a little bit.

[2020-05-13 03:42] #7801 closed

[2020-05-13 04:41] reiallenramos opened #7815 "Error 429: too many requests in the Follower page when checking multiple users"
**Describe the bug**

When you're viewing your Follower list, a button is shown beside people who you already follow back. Then when you click it, it scrolls to the top of the page because of `href="#"`

Edit: Did some further investigation: for every user in the Follower page there is a corresponding network call to check if that person is followable or not. Depending on the response, the button

[2020-05-13 04:44] kucukti opened #7816 "Is it possible to get rss feed for top of week and month ?"
Is it possible to get rss feed for top of week and month ?

[2020-05-13 04:47] danascheider commented on #6499
@Math3v are you still working on this? If not I can take a stab at it.

[2020-05-13 04:49] danascheider commented on #5111
Is anybody working on this? I might be able to pick it up if it's still a feature the maintainers would like to see added.

[2020-05-13 05:55] Math3v commented on #6499
@danascheider I'm not currently, would be awesome if you had a look at it. Maybe it will be really beneficial if you take a look at my solution and the comments I received from the team. :)

[2020-05-13 06:04] danascheider commented on #6499
Cool, thanks, I'll take a look at what you worked on and see what I can figure out!

[2020-05-13 06:34] rhymes commented on #1061
@mstruve did we also run a script for the backlog?

[2020-05-13 06:37] #7758 closed

[2020-05-13 06:55] rhymes commented on #1641
@mstruve this is still happening to me as well:

![readinglist](https://user-images.githubusercontent.com/146201/81780707-44c7d000-94f7-11ea-8ccb-1ca542d2cf6f.gif)

that's not the only one I have in my reading list. I think I have 3 or 4 other deleted posts

Should we keep this open until we ran a script on the entire backlog?

[2020-05-13 07:00] ludwiczakpawel opened #7817 "Tags kerning & vertical alignment"
"the tags are... kerned? too close to the article title on Safari, which definitely looks weird."

[source](https://dev.to/wrldwzrd89/comment/op88)

[https://github.com/thepracticaldev/dev.to/issues/7808](https://github.com/thepracticaldev/dev.to/issues/7808)

[2020-05-13 07:05] ludwiczakpawel opened #7818 "Featured Video cards have both: video & cover.."
![image](https://user-images.githubusercontent.com/108287/81781711-ddab1b00-94f8-11ea-8960-c808d3ae2500.png)

[2020-05-13 07:18] sandordargo commented on #1641
Sorry, but I don't see it cleaned up, still the same for multiple articles.

[2020-05-13 07:56] rhymes commented on #7817
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-13 07:57] rhymes commented on #7808
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-13 07:58] ledestin commented on #7706
@rhymes oh cool, thanks! I'm not using Docker, so I'd like to leave Docker compatibility out for now.

[2020-05-13 08:16] #7817 closed

[2020-05-13 08:37] Amorpheuz commented on #7434
Related to #7600 but mentioning it here since its being handled/assigned in this issue. Something I noticed was that under `Branding` inside settings, `Brand Color 2` is mentioned as the color for texts, so why not switch the email to the same color as that would be more concise with what is being indicated to the user.

![image](https://user-images.githubusercontent.com/22113778/81790490-1bbd3480

[2020-05-13 09:37] rhymes commented on #4686
@MichaelSolati I assigned the issue to you! thanks!

[2020-05-13 09:41] rhymes commented on #7815
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-13 09:42] rhymes commented on #7816
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-13 09:46] rhymes commented on #6499
@danascheider I'm going to assign you to the issue :)

[2020-05-13 09:46] rhymes commented on #7818
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-13 12:35] reiallenramos commented on #7815
I'll work on it 👌

[2020-05-13 13:23] rhymes commented on #7815
@reiallenramos cool, I'll assign you to it!

[2020-05-13 13:26] #7808 closed

[2020-05-13 13:44] benhalpern commented on #7766
I think adding a `SiteConfig` of `feed_image_preference`.... Where the default is `top_card_cover_image`, and we could have additional options of `all_card_cover_image`, `no_card_cover_image` to round out the set. And then if we come up with other variants then we can add those as other options.

How's that sound?

[2020-05-13 13:45] benhalpern commented on #7769
I agree with this. We can use the same element that we now have for `/notifications` etc. to accomplish this.

[2020-05-13 13:47] leewynne commented on #7766
It sounds bloody brilliant!

[2020-05-13 13:48] mstruve commented on #1641
@rhymes I did all unpublished articles, I will do another run for deleted articles

[2020-05-13 13:50] leewynne commented on #7769
😎

[2020-05-13 14:18] #7818 closed

[2020-05-13 14:21] maestromac commented on #7706
Should this be closed since it's partially resolved?

[2020-05-13 15:11] #7791 closed

[2020-05-13 15:11] #7793 closed

[2020-05-13 15:13] joshpuetz commented on #7790
Closing as #7802 addresses this issue for now

[2020-05-13 15:13] #7790 closed

[2020-05-13 15:29] mstruve commented on #1641
@sandordargo can you check now and tell me if the count is correct?

[2020-05-13 15:33] mstruve commented on #1061
Script run to cleanup stale data.

[2020-05-13 16:01] sandordargo commented on #1641
The deleted articles are not on my list anymore and the count also decreased!
Thanks a lot!

[2020-05-13 16:26] #4610 closed

[2020-05-13 16:26] #1641 closed

[2020-05-13 16:27] mstruve commented on #1641
That was only a year+ in the making 😅  better late than never!

[2020-05-13 16:40] vaidehijoshi opened #7824 "Not Authorized Error when Testing Admin Organization Search"
Related #4884

[code]

[2020-05-13 18:36] snackattas opened #7830 "Test reporting"
# **Is your feature request related to a problem? Please describe.**
Across dev.to's rspec test suite, there is some flakiness. However, it's not easy to get a feel for the trend of what's failing.  It would be really helpful if we had some way to aggregate test results across different test runs, to analyze the health of the suite as a whole.

That would enable us to:
* Systematically tackle flak

[2020-05-13 18:46] mstruve commented on #7830
Since we are already sending failed screenshots from Travis to S3 I would say option 1 would be the easier and quickest to implement.

I also started this Epic a while ago to log flaky specs. #4884

[2020-05-13 18:50] nickytonline commented on #7786
@sksiyer, thanks for opening this issue.

I've tested this in production and paging does indeed work. If you select All category or just navigate to https://dev.to/listings and scroll to the bottom, you will see the button to load more listings.

![image](https://user-images.githubusercontent.com/833231/81852116-86bd3a00-9528-11ea-89d6-7b43fe00142e.png)

I checked and had our SRE double check how

[2020-05-13 18:50] #7786 closed

[2020-05-13 18:55] #6817 closed

[2020-05-13 21:18] Ridhwana opened #7835 "Replace all hardcoded Twitter Hashtags with the twitter_hashtag site config variable"
In [this issue](https://github.com/thepracticaldev/dev.to/issues/7254) and [this PR](https://github.com/thepracticaldev/dev.to/pull/7573) the twitter hashtag site config variable was added.

The next step is to now replace all hardcoded #DEVCommunity references with this dynamic option.

[2020-05-13 21:18] Ridhwana commented on #7835
To our amazing contributors: This issue is labeled as ready for dev, so it's up for grabs.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we will follow up within 3 business days.

[2020-05-13 21:20] Ridhwana commented on #7254
To tackle `replace hardcoded twitter hashtag references with a configurable option` in [a separate issue](https://github.com/thepracticaldev/dev.to/issues/7835)

[2020-05-14 06:25] schollii opened #7840 "Option to store my posts in github"
**Is your feature request related to a problem? Please describe.**

Content I write is on dev.to. It would be nice for the markdown to be in my own storage, like github. Really the blog/post hosting service should just be the presentation layer (styling, layout, navigation, etc) and community features.

A way to store my dev.to posts on github, if I set it up that way:

- Namely I could write the

[2020-05-14 07:07] ledestin commented on #7706
I think so, closing.

[2020-05-14 07:07] #7706 closed

[2020-05-14 07:23] rhymes commented on #7830
Awesome idea, my vote goes to option 1 as well for now.

@mstruve @snackattas would it be possible/doable to eventually integrate option 1 with Datadog?

AFAIK we do have build times on there, but we don't have "test suite running times" and all the other information these formatters are going to collect.

See also my old issue: [Track tests and overall builds time over time](https://github.com/th

[2020-05-14 07:51] rhymes commented on #1641
Thank you a lot @mstruve!

[2020-05-14 07:52] rhymes commented on #7824
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-14 07:55] citizen428 commented on #7840
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-14 07:58] rhymes opened #7843 "Stackbit integration UI is a bit off when active"
**Describe the bug**

This is how it looks when the integration between DEV and Stackbit is activated:

![Screenshot_2020-05-14 Settings - DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/81908161-2500dc80-95c9-11ea-9331-3fb0ff8ccd1e.png)

**To Reproduce**

1. Activate the Stackbit's integration on https://dev.to/settings/integrations
1. Go back to https://dev.to/settings/int

[2020-05-14 07:59] rhymes commented on #7843
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-14 09:40] leewynne opened #7845 "Make 'Today's Podcasts' available without authentication"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

I think allowing Today's podcast to be visible without authentication promotes the deeper features that a community has to offer. I think a basic metric of the most recent 3 released podcasts would be good enough.

[2020-05-14 09:45] rhymes commented on #7845
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-14 10:56] lightalloy commented on #7254
Closing as done with #7573

[2020-05-14 10:56] #7254 closed

[2020-05-14 11:19] lightalloy commented on #7845
Currently, today's podcasts section only displays episodes of the podcasts that a user is following. So, enabling this block for unauthenticated users would require rethinking the logic or/and adding configuration options.

[2020-05-14 15:16] atsmith813 commented on #7815
Hmmm I thought #7676 was supposed to address this. Is it still happening? Or is this different?

[2020-05-14 15:27] joshpuetz commented on #7840
I'm not sure if this would address your concerns, but publishing from a static GitHub site to DEV via RSS feeds is something we support. I do this with my own blog: it's hosted on GitHub Pages (https://github.com/joshpuetz/joshpuetz.github.io), and I publish on DEV via RSS. It's certainly not as full featured as what you've proposed, but it is a work around!

[2020-05-14 15:29] Amorpheuz commented on #7843
I would like to take this up! Should I just fix the wonky-ness? or an improved look would be felt welcome? I would love to discuss it if so!

[2020-05-14 16:17] Rafi993 opened #7853 "Snapshot testing in component displaying time fails locally but succeeds in github"
**Describe the bug**
Snapshot testing in component displaying time fails locally but succeeds in github.

**To Reproduce**
1. run yarn
2. yarn test
3. The test will fail

I suspect this has something to do timezone or timeformat of the local system.

**Expected behavior**

The test should pass
**Screenshots**

![failing_test](https://user-images.githubusercontent.com/8092120/81958772-13045580-962c

[2020-05-14 16:21] atsmith813 commented on #7815
Closing out in favor of the conversation on https://github.com/thepracticaldev/dev.to/pull/7839

[2020-05-14 16:21] #7815 closed

[2020-05-14 16:26] rhymes commented on #7853
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-14 17:18] anwyho opened #7866 "Double footers and incorrect theme when opening Trending link"
**Describe the bug**

When opening a Trending link to a new tab from [Page A](https://dev.to/n8tb1t/tracking-scroll-position-with-react-hooks-3bbj) to [Page B](https://dev.to/devanshh/learn-reactjs-with-the-best-courses-2020-3jg2), I'm directed to a page with light mode (my theme is dark mode) and double dark-background footers.

Additionally, when hovering links on Page B, the link background col

[2020-05-14 19:06] mstruve commented on #7830
Honestly, I think our CI should take care of this. In the past, I have used CircleCI, and all of these kinds of reporting and stats features were available directly in the tool. I think lots of CI/CD providers have that kind of insight built-in.

[2020-05-14 19:07] mstruve commented on #7830
@rhymes you want to close that issue since we do track times and top level stuff and now that we have this one?

[2020-05-14 23:48] danascheider commented on #6499
I have a couple questions about this issue:
1. If a user is missing, presumably we will want to use some kind of default colours. What should those be?
2. What should we do with the parts of the partial that display data that won't be available for a deleted user, such as the follow button, user Twitter handle, etc.?

One idea I had, going off the comments in #6638, was to use an object like this

[2020-05-15 03:46] citizen428 opened #7877 "Proposal: Move dev.to/api to api.dev.to"
**Is your feature request related to a problem? Please describe.**

When building something on top of our API recently, I found https://dev.to/api to be a somewhat inconvenient base URL, as the existing path component makes it a bit harder to construct API URLs with something like Ruby's URI module, so I had to resort to string manipulation.

**Describe the solution you'd like**

I propose moving

[2020-05-15 04:43] bmitchinson commented on #7770
I was really surprised I couldn't bookmark a podcast link / add it to my reading list. Would love to see this implemented!

[2020-05-15 05:07] citizen428 commented on #7866
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-15 05:29] icncsx commented on #7835
@Ridhwana If this is not taken already, I can take this!

[2020-05-15 07:00] happyharis opened #7878 "API call with localhost is blocked by CORS"
**Describe the bug**

Similar to [#5877](https://github.com/thepracticaldev/dev.to/issues/5877). Tried to do an API call through the Chrome browser, CORS error found.

**To Reproduce**

Steps to reproduce the behaviour:

1. I opened my website with localhost
2. I went to the Inspector/Console and typed the following:

[code]

3. Error returned:
Access to fetch at 'https://dev.to/api/articles/me/'

[2020-05-15 09:06] lightalloy commented on #7835
@icncsx you're welcome to work on this issue :sparkles:

[2020-05-15 09:26] rhymes commented on #6232
Closing in favor of https://github.com/thepracticaldev/dev.to/issues/7830

[2020-05-15 09:26] #6232 closed

[2020-05-15 10:49] allnulled opened #7881 "Remove an old issue solvef"
I could not write POSTS into your site because you banned me for criminalizing paid universities for saying that, if they were free, COVID-19 would be erradicated at this time already.

YOUR SITE REDIRECTED ME to here in order to share my case.

I would like you to remove this past issue.

And if you could, this one too.

And, by the way, ask you for unbaning me, to be able to write posts again in

[2020-05-15 10:55] rhymes commented on #7878
Hi @happyharis, only unauthenticated calls are supported by CORS, see https://dev.to/devteam/changelog-query-the-dev-api-from-a-javascript-frontend-329j

I'm closing this in favor of https://github.com/thepracticaldev/dev.to/issues/5877 and https://github.com/thepracticaldev/dev.to/issues/4195

Thank you!

[2020-05-15 10:55] #7878 closed

[2020-05-15 11:00] rhymes commented on #7881
As mentioned in https://github.com/thepracticaldev/dev.to/issues/7641#issuecomment-622405052 the github repo is not the place to appeal on customer support issues, please contact yo@dev.to if necessary.

[2020-05-15 11:00] #7881 closed

[2020-05-15 11:55] rhymes commented on #6499
Tagging @mstruve and @citizen428 who have been talking about handling `NullUser`s

[2020-05-15 12:04] #7175 closed

[2020-05-15 12:27] #1163 closed

[2020-05-15 12:29] ChrisAchinga commented on #7877
could be changed when out of beta

[2020-05-15 13:55] schollii commented on #7840
@joshpuetz thanks for sharing that idea, I have never setup RSS, can you point to one of your posts on dev.to that was pulled that way (and the link to the post in github), I'd like to see what that looks like. And what's involved in setting this up this way. As you, I would prefer what I proposed but your solution may be a useful workaround while waiting for this to happen ;)

[2020-05-15 14:37] benhalpern opened #7886 "Pull-to-refresh does not trigger if you do not "come to a halt" at the top of the page."
Our app has really nice pleasant web pull-to-refresh functionality on most pages (not all, we don't want this behavior on some pages like chat, for example).

But the way it works, the user needs to be _stopped_ at the top of the page and then initiate a pull up before it works like a charm.

I've hacked away at this a bit so I know it's _possible_ to fix with some logical adjustments to how the w

[2020-05-15 14:42] msarit opened #7887 "Refactor use of SnackBar in Mod Actions Panel - Flag User"

[2020-05-15 14:52] rhymes commented on #7887
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-15 16:41] nisarhassan12 opened #7889 "Gif is not showing up in the post"
**Describe the bug**

Today I wrote this post today https://dev.to/nisarhassan12/free-open-source-portfolio-template-for-developers-ih

I have the following in the body of the post:
[code]

In the HTML that is generated src attribute values seems to be  wrong:

[code]

I can see the Gif I were to visit this https://dev-to-uploads.s3.amazonaws.com/i/7xpbahfwejl9426olm9g.gif

**To Reproduce**

1. Go

[2020-05-15 16:57] atsmith813 commented on #7889
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-15 17:05] mstruve commented on #6499
@danascheider I am not sure how the url would work but if we want to go the empty user route I would try this.
[code]

If the user is not found we return an unpersisted user object. I used a similar [pattern here for tracking user ips](https://github.com/thepracticaldev/dev.to/blob/master/app/controllers/application_controller.rb#L100)

[2020-05-15 17:14] atsmith813 commented on #7889
@nisarhassan12 I believe the issue is because the GIF is quite large.

When adding GIFs to posts and comments, please note that there is a limit of 200 megapixels per frame/page.

It looks like your GIF exceeds this limit. I tested the functionality with a smaller GIF and it worked as expected. We'll still want to investigate a better way to communicate the error to users when this happens, but in

[2020-05-15 19:05] joshpuetz commented on #7840
Sure thing @schollii, a little background: I'm serving my site on GitHub pages, and I use Jekyll to generate posts.

Here's a post I made on my blog:
https://joshpuetz.com/2020/03/18/Thoughts-on-announced-2020-ipad-pro-and-magic-keyboard.html

Here's the source in GitHub:
https://github.com/joshpuetz/joshpuetz.github.io/blob/master/_posts/2020-03-18-Thoughts-on-announced-2020-ipad-pro-and-magic-ke

[2020-05-15 22:18] danascheider commented on #6499
Thanks @mstruve, that makes more sense!

[2020-05-15 23:11] danascheider commented on #6499
I've gotten it to a point where the liquid tag for a deleted user now looks like this:
<img width="644" alt="Screen Shot 2020-05-16 at 9 02 50 am" src="https://user-images.githubusercontent.com/5115928/82102932-74bfdf00-9754-11ea-94d2-81aca66f7f28.png">
(The profile image is messed up because in my local it's getting a 404 from the default profile image URL.) It seemed like poor UX to just have th

[2020-05-15 23:45] nisarhassan12 commented on #7889
@atsmith813 Many Thanks.

When adding GIFs to posts and comments, please note that there is a limit of 200 megapixels per frame/page.

Would you please guide How do I make sure that `200 megapixels per frame/page.` is true for my gif. I have resized and the size is now smaller(both dimensions + the file size) but it does not work:

![portfolio-template](https://user-images.githubusercontent.com/46

[2020-05-15 23:57] atsmith813 commented on #7889
@nisarhassan12 your GIF still seems slightly large. For reference, I went to https://www.giphy.com to GIFs that work in our editor. Their dimensions seem to be around 480x270 and 3mb on average.

As far as megapixels per frame, maybe https://ezgif.com/optimize can help. I've used it on personal projects in the past and found it helpful. It has options to remove frames and optimize the file in othe

[2020-05-16 02:03] icncsx commented on #7835
@lightalloy please see the relevant [PR](https://github.com/thepracticaldev/dev.to/pull/7895).
@Ridhwana thank you for linking the relevant PR and issue.

[2020-05-16 09:39] Techygod opened #7896 "Featured solutions"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-05-16 09:41] Techygod commented on #7896
Solution

[2020-05-16 09:52] #7896 closed

[2020-05-16 12:55] yg opened #7897 "Raw JSON inside dev.to UI"
**Describe the bug**

When we visit https://dev.to/github_repos we can see raw JSON rendered.

This only happens if you linked your GitHub account to dev.to account.

**To Reproduce**

1. Link GitHub account if not
2. Open https://dev.to/github_repos
3. See the raw JSON rendered

**Screenshots**

![Screenshot](https://user-images.githubusercontent.com/61746440/82120272-7e703380-97a2-11ea-98a1-95df

[2020-05-16 12:56] yg commented on #7897
Happens in this endpoint too
- https://dev.to/async_info/base_data

[2020-05-16 12:58] setevoy2 opened #7898 "Liquid syntax error: Tag '{% raw %}' was not properly terminated"
After trying to publish a new post imported via RSS last time - got the "Liquid syntax error: Tag '{% raw %}' was not properly terminated" error:

![Screenshot_20200516_155209](https://user-images.githubusercontent.com/7965314/82120313-c3d63600-978d-11ea-9580-a43402df9294.png)

https://dev.to/setevoy/helm-helm-secrets-sensitive-data-encryption-with-aws-kms-and-use-it-with-jenkins-4bnf-temp-slug-74

[2020-05-16 13:06] yg opened #7899 "Visiting async_info endpoint redirects to sponsors page"
**Describe the bug**

Visiting [async_info](https://dev.to/async_info) endpoint redirects to sponsors page and user avatar is hidden and dark mode is disabled

**To Reproduce**

1. Load dev.to ones (if not we can't reproduce)
2. Log in to dev.to
3. Visit https://dev.to/async_info
4. You will be redirected to Sponsors page
5. And user avatar is also hidden and dark mode is disabled

**Expected beha

[2020-05-16 14:40] pkfrank opened #7900 "Error when sending email via /internal/users"
**Describe the bug**
I hit a spinning robot error after trying to send an email via `/internal/users`

**To Reproduce**
- Open `/internal/users/{user-id}`
- Fill out email form
- Click "send email"
- Land on `internal/users/{user-id}/send_email`
- See spinning robot

**Expected behavior**
- Email sends properly, confirmation message is shown

[2020-05-16 15:24] rhymes commented on #7897
Hi @yg, thanks for opening this issue.

That happens because they are not filtered by the service worker, so when the browser loads those endpoints, they get embedded in the app shell.

See for example https://github.com/thepracticaldev/dev.to/blob/ed8893a7341cb17280ac760a486eaff1961ccabb/app/views/service_worker/index.js.erb#L104-L106

[2020-05-16 15:28] rhymes commented on #7898
hi @setevoy2, could you please share the the markdown of the article in a gist file? https://gist.github.com/

this way we can debug what's going on.

Thank you!

[2020-05-16 15:30] rhymes commented on #7899
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-16 15:31] rhymes commented on #7899
This looks specific to DEV in production, as I can't reproduce it locally. There might be some dynamic redirection in the admin.

[2020-05-16 15:33] rhymes commented on #7900
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-16 15:42] pkfrank commented on #7900
This has been resolved.  Closing the issue.

[2020-05-16 15:42] #7900 closed

[2020-05-16 17:51] setevoy2 commented on #7898
Hi, @rhymes.
Here it is: https://gist.github.com/setevoy2/7078baba2f1176104498d49732e6cfa8
Thanks for your time!

[2020-05-16 18:20] mapra99 commented on #7397
Hey team, sorry for my late response.
@Ridhwana, @citizen428 I made the environment setup following the instructions [here](https://docs.dev.to/installation/mac/#installing-dev), but I'm having this issue when I run http://localhost:3000.
![image](https://user-images.githubusercontent.com/27536621/82127237-954d6080-9777-11ea-8427-830086de6d24.png)
Btw, I'm pinging you guys because It seems I can't

[2020-05-17 02:49] jaysonragasa opened #7902 "Embed Profile"
A way to embed our profile? Since I use Github page as my personal "Website" I would like to be able to have some sort of a way to showcase some of my repos and I use dev.to to publish some of these.

[2020-05-17 02:52] jaysonragasa commented on #7889
![image](https://user-images.githubusercontent.com/63760343/82134646-53322680-982c-11ea-8ff0-400c291a7496.png)

![image](https://user-images.githubusercontent.com/63760343/82134656-752ba900-982c-11ea-8696-a017baa86f57.png)

Having the same thing on some of my post.  They are all properly working Github pages.

[2020-05-17 08:20] rhymes commented on #7898
@setevoy2 I believe the error lies here:

<img width="1417" alt="" src="https://user-images.githubusercontent.com/146201/82139269-ecf6d500-9826-11ea-8aff-f6aaa81942c3.png">

the backticks with the `curl`.

If you remove those the article renders.

I tried to render it as markdown in github too and, although it doesn't break, it has rendering issues as well there:

![Screenshot_2020-05-17 gist 6dcc

[2020-05-17 08:24] rhymes commented on #7902
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-17 08:25] rhymes commented on #7902
Hi @jaysonragasa, I'm not sure I understood correctly your request, but if you're looking for a way to showcase your GitHub repositories in your DEV profile you can already do it by linking them in https://dev.to/settings/integrations

Let me know if that you're looking for

[2020-05-17 08:57] rhymes commented on #7397
@mapra99 this should have been fixed by #7874, could you update your local branch? Let us know if you're still experiencing issues

[2020-05-17 09:07] mapra99 commented on #7397
worked @rhymes, thanks! 🤘

[2020-05-17 09:43] vabelha commented on #6922
I messed around a bit with this bug and the problem is related with the style applied to the div markdown and only happens when it maxes out - reaches 850px.
[code]
A fix would be just adding overflow-hidden or a media-query to reduce max-width.
Yet, I spent some time searching and if I am not mistaken gitdocs does not support custom styling.

[2020-05-17 10:01] rhymes commented on #6922
@vabelha apparently not https://github.com/timberio/gitdocs/issues/83

[2020-05-17 11:29] setevoy2 commented on #7898
Thanks, @rhymes
For now, I've solved this by importing the post from the Medium RSS, so it's kind of solved.
The problem is that I'm posting to Dev.to from my blog much more often than posting to Medium, and last few times were issues with the brackets, so it will be great to solve it somehow, or at least display the cause somehow so I can fix it myself.

[2020-05-17 12:34] joshpuetz opened #7903 "Right column hidden in iPad app"
**Describe the bug**

In the native iPad app the right content column is hidden in portrait mode.

**To Reproduce**

- Open the Dev app on iPad in portrait orientation
- Note right column isn't displayed
- Rotate iPad to landscape orientation
- Note right column content is displayed

**Expected behavior**

Either the right column should display, or there shouldn't be some way to access this conten

[2020-05-17 15:10] rhymes commented on #7903
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-17 16:44] aralroca opened #7905 "Markdown as not valid when appears 'data:text/html' on code"
**Describe the bug**

I recently wrote an article (https://dev.to/aralroca/from-node-to-deno-5gpn) and I did a workaround to fix a "Not valid Markdown error" when there was `data:text/html` inside a ` ```js ``` ` code.

**To Reproduce**

Add an article with some markdown like this:

![image](https://user-images.githubusercontent.com/13313058/82154413-f9eae700-986d-11ea-9690-034c6e166a64.png)

**Ex

[2020-05-17 16:46] aralroca commented on #7905
I think is caused by this:

* https://github.com/thepracticaldev/dev.to/blob/dea823b6eccd945fad973b57a3e6295160d4f78a/app/labor/markdown_parser.rb#L143

It's detected as **xss** when is shared code.

[2020-05-17 19:10] anzuj opened #7906 "Backtick markdown not working"
**Describe the bug**
I'm writing an article about Vuetify's grid system, but when I try to include examples in the post, backticks don't work as intended. and instead of showing the code, there's just ``

**To Reproduce**
1. Make a post including this markdown: [text.txt](https://github.com/thepracticaldev/dev.to/files/4640826/text.txt)
2. See preview.
3. See if the code in the 2nd bullet is marke

[2020-05-17 19:47] icncsx commented on #5228
@mstruve Hi! Could you clarify something for me? I noticed that the entire test suite took more than 7 minutes, so I decided to only run just the test which was failing.

I did `bundle exec rspec ./spec/system/internal/admin_bans_or_warns_user_spec.rb:41` and it seems like the test passes. Admittedly, I'm very new to Ruby/Rails, so I'm pretty sure I'm doing something wrong. At the same time, I rea

[2020-05-17 20:12] mstruve commented on #5228
This is a flaky test which means that it fails intermittently. Usually flaky tests are caused by timing issues or by data issues. You have to either reproduce it or if you cant reproduce it, think creatively about what might cause it to fail.

[2020-05-17 20:34] mstruve commented on #6499
I would render the username of the person and then that is it and nothing else. Prevent it from creating a nice little stylized link since there is no longer anything to link to.

[2020-05-17 20:35] Ridhwana commented on #7906
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-17 20:44] Ridhwana commented on #7906
Hi @anzuj thanks for the issue, I just did a quick test and it seems like escaping your < sign will yield the correct the behaviour so that you can continue writing your article.
i.e.
* 2 `v-row` elements make sure the cards are above each other
* Main card takes up the whole screen width on XS (\<600px) screen sizes, but scales down to half width of its parent `v-row` thanks to this: `<v-col cols

[2020-05-17 20:54] anzuj commented on #7906
@Ridhwana thank you so much for a quick reply! I really did not know to assume that the < was the culprit! Thank you so much, adding \ did the trick. This can be closed I guess :)

[2020-05-17 20:54] #7906 closed

[2020-05-17 21:16] danascheider commented on #6499
You got it, thanks!

[2020-05-17 22:01] atsmith813 commented on #7889
https://github.com/thepracticaldev/dev.to/issues/6595

[2020-05-17 23:58] MehediH opened #7907 "Show when an image is being uploaded"
**Is your feature request related to a problem? Please describe.**

Currently, the image uploader does not display when an image is being uploaded. This can cause confusion on a slow network or when uploading large files, as it is not clear when the image is being uploaded. The app currently shows when an error occurs, but there is no UI element indicating when the image is being uploaded. I have

[2020-05-18 04:54] krishnadevz opened #7909 "Dev.to articles should have contributors functionality"
In Dev.to now hackathon is started so some folks are working alone or some are working in teams so for that dev can have add contributors thing like GitHub is having so both members can add and contribute to articles according to their own work in project/hackathon. and hello ben and other developers please think about  I think this is helpful for many folks.
Like this 🔽

![Annotation 2020-05-18 1

[2020-05-18 08:25] rhymes commented on #7907
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-18 08:38] rhymes commented on #7397
Reopened as the issue hasn't been addressed yet :-)

[2020-05-18 08:45] rhymes commented on #7909
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-18 08:46] rhymes commented on #7909
Hi @krishnadevz, would this be similar to this https://github.com/thepracticaldev/dev.to/issues/1299 ? The ability to add multiple authors to a post?

[2020-05-18 08:53] krishnadevz commented on #7909
yes I suggested same feature thankyou @rhymes

[2020-05-18 09:01] rhymes commented on #7909
Going to close this in favor of that one, then, please feel free to leave your thoughts there! Thank you!

[2020-05-18 09:01] #7909 closed

[2020-05-18 09:50] brettimus commented on #5434
so we fixed one bug, and another appeared! (it has same consequence: the site does not load in safari, so this bug should remain open sadly)

<img width="850" alt="image" src="https://user-images.githubusercontent.com/3201327/82199253-be97f900-98fd-11ea-967c-3254eb655e45.png">

<img width="828" alt="image" src="https://user-images.githubusercontent.com/3201327/82199229-b50e9100-98fd-11ea-96f6-7cd6

[2020-05-18 09:52] vabelha commented on #6922
Yeah I saw it. It seems though gitdocs isn't actively maintained.
I thought I could add a style to override the existing style in the file api_template.hbs but I guess that it serves no purpose in the generation of docs.

I just ended up creating a PR with a possible fix: timberio/gitdocs/pull/184

[2020-05-18 10:01] rhymes commented on #6922
Awesome!

[2020-05-18 10:18] vabelha commented on #6922
Another docs page that comes to my mind is https://docusaurus.io/

[2020-05-18 14:04] leewynne commented on #7845
I was thinking when not authenticated, just a pick of 3 of the day, just to highlight that podcasts exist if a fresh user comes in on mobile.

[2020-05-18 14:09] leewynne opened #7916 "Buffer API is no longer available to new communities."
**Is your feature request related to a problem? Please describe.**

Buffer API is no longer available to new communities.

**Describe the solution you'd like**

The functionality to buffer directly from the dashboard looks great. I have done some initial research but have not yet found an alternative that will offer the same functionality.

[2020-05-18 14:13] leewynne opened #7917 "Onboarding enhancement that offers some topics for new community members to write about"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

Now that we have a new element that provides a new community member with 3 actions post onboarding, maybe we can somehow help them a bit further with some topic suggestions when they choose to write an article.

[2020-05-18 14:50] paulczar opened #7918 "importing hugo posts via RSS, images not working"
**Describe the bug**

I set up my dev.to account (paulczar) to import from my blog ( https://tech.paulcz.net/index.xml ) via its RSS, and everything seems to be working fine apart from images.

When I go to the dashboard and preview the post (ex https://dev.to/paulczar/how-to-broadcast-to-twitch-and-zoom-with-obs-2mbn-temp-slug-9435494?preview=753aa106ae275afe5505770a92373267a44ed3ee447411b2f39cb5

[2020-05-18 15:20] krishnadevz commented on #1299
In Dev.to now hackathon is started so some folks are working alone or some are working in teams so for that dev can have add contributors thing like GitHub is having so both members can add and contribute to articles according to their own work in project/hackathon. and hello ben and other developers please think about  I think this is helpful for many folks.
Like this 🔽

![Annotation 2020-05-18 1

[2020-05-18 15:21] atsmith813 commented on #7916
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-18 15:21] atsmith813 commented on #7916
@leewynne I'm less familiar with Buffer and the dashboard off the top of my head. Can you clarify, is this more of a bug or a feature request? Thanks!

[2020-05-18 15:22] atsmith813 commented on #7917
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-18 15:22] atsmith813 commented on #7918
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-18 15:50] rhymes commented on #7916
@atsmith813 apparently [the Buffer API](https://buffer.com/developers/api) has been shutdown for new users since October 2019 - see also

![Screenshot_2020-05-18 Buffer API - Developers](https://user-images.githubusercontent.com/146201/82233235-ffa90100-992f-11ea-9972-39e7a588a738.png)

from https://buffer.com/developers/api/logs

[2020-05-18 15:52] atsmith813 commented on #7916
@rhymes Oh wow! Just ice cold, goodbye. So then this is a feature request for a replacement.

[2020-05-18 15:53] negue opened #7923 "Publishing from RSS - Ignored newlines"
**Describe the bug**

When I imported the post, it had no newlines any more, the whole topic is squished into one blob.

**To Reproduce**

I used this newly generated rss file: https://negue.github.io/devto.xml

As you see the content itself has newlines, do I need to have a different new-line?  `\r\n` ?

Or is the xml file broken?

**Expected behavior**

To be imported with newlines so that heade

[2020-05-18 15:59] rhymes commented on #7923
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-18 16:47] benhalpern commented on #7916
I think our answer here is that we should loop the functionality of "scheduling" into our app itself, essentially doing the Buffer side through our platform itself.

(This probably means renaming the model away from `BufferUpdate`, of course)

But as it stands, I could see adding a `schedule_for_tweet_at` datetime attribute and then run scheduler to tweet via the Twitter API at the scheduled time.

[2020-05-18 17:26] Rafi993 commented on #7408
Hi there. I realised I still need to get little more comfortable with rails before taking this up. I'll unassign this issue from myself and comeback little later to it if this still around :)

[2020-05-18 19:05] vaidehijoshi opened #7933 "ActiveRecord::RecordNotFound when viewing article stats"
Related #4884

[code]

[2020-05-18 19:06] vaidehijoshi commented on #7933
To our amazing contributors: issues labeled type: bug are always up for grabs, but for feature requests, please wait until we add a ready for dev before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please ping @thepracticaldev/oss and we will follow up within 3 business days.

For full info on how to contribute, please ch

[2020-05-18 19:35] maestromac commented on #7898
@rhymes I created something similar https://github.com/thepracticaldev/dev.to/issues/1511 but definitely create a new one if it's unrelated

[2020-05-18 19:48] maestromac commented on #7923
Hello @negue , that's because your content is completely in markdown and not HTML. The first thing our RSS importer does is convert content from HTML to markdown. `<p>` tag is generally used to separate one paragraph from the other. It's best practice to use HTML in XML feeds.

[2020-05-18 20:02] negue commented on #7923
Oh, I see :( ,

I saw multiple articles where the rss import would import the markdown, not the rendered HTML - like https://dev.to/thisdotmedia/how-to-automatically-post-from-your-gatsby-site-to-dev-to-1ff8

I found out that my content didn't had any `<![CDATA[   ]>` around, I thought this would be the cause of it, but re-importing doesn't work :( .

[2020-05-18 20:02] #7923 closed

[2020-05-18 20:47] shawnwildermuth opened #7938 "Missing RSS Feed Stories due to liquid variable"
My RSS Feed integration is missing stories. Feed is:

https://wildermuth.com/rss

Story Missing:
http://wildermuth.com/2020/05/11/Where-Did-Filters-Go-in-Vue-3

It is in the RSS feed but doesn't get pulled.

**To Reproduce**
Add my RSS Feed to an account.
See the Drafts and published versions and see that the story is missing.
**Expected behavior**
It should include all the stories.

**Desktop (pl

[2020-05-19 06:39] shefalibasu opened #7945 "Why i am unable to submit blog on Dev.To"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-05-19 08:39] rhymes commented on #7916
@benhalpern the result of this will likely also build the groundwork to import scheduled tasks that now run through Heroku scheduler to run through our Sidekiq infrastructure so we are less dependant on that as well

[2020-05-19 09:00] rhymes commented on #1511
This contains useful information as well https://github.com/thepracticaldev/dev.to/issues/7898

[2020-05-19 09:00] #7898 closed

[2020-05-19 10:25] rhymes commented on #7938
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-19 10:37] Hashimlokasher commented on #7877
This will be better approach

[2020-05-19 10:51] rhymes commented on #7945
Hello @shefalibasu, thanks for notifying us of this problem, this looks an issue specific to your account.

Please email yo@dev.to for more help.

[2020-05-19 10:51] #7945 closed

[2020-05-19 12:29] araslanov-e commented on #413
I suggest https://github.com/sparanoid/lightense-images

[2020-05-19 12:40] msfjarvis opened #7947 "Changing email address makes DEV think I'm a new user"
**Describe the bug**

I've been using my GMail address with dev.to for a while now, and recently migrated to my domain mail. Moments after I confirmed my new address, I received a welcome email which was decidedly weird but I ignored it. Today, I received a newsletter which I most certainly did not re-subscribe for which makes me wonder if any of my setting were reset due to the email change. I ca

[2020-05-19 13:00] rhymes commented on #7947
Hi @msfjarvis, thanks a lot for taking the time to file this bug. Unfortunately it's a known one - https://github.com/thepracticaldev/dev.to/issues/193 - let me know if there's anything different in your use case from the one already reported.

Please add your description in the other issue as well, so we can make sure all use cases are met.

[2020-05-19 13:00] #7947 closed

[2020-05-19 13:58] Rafi993 opened #7949 "When "Write a post" button is focused using keyboard it is not highlighted"
**Describe the bug**
When you focus on "Write a post" button using keyboard no styling specific to :focus is applied and the default outline is removed too

**To Reproduce**
1. Reload dev.to
2. Keep pressing tab key till you reach "Write a post" button
3. You cant see if it is focused since no distinctive style is applied for focus

**Expected behavior**
outline, border or background color should

[2020-05-19 13:59] Rafi993 commented on #7949
I thing this is the case for all buttons with similar styling (black background and white text)

[2020-05-19 14:40] rhymes commented on #7949
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-19 15:21] lisasy opened #7953 "[Listings] Update navigation menu"

[2020-05-19 15:21] lisasy opened #7954 "[Listings] Update card style"

[2020-05-19 15:22] lisasy opened #7955 "[Listings] Create header with title, searchbar, and CTA buttons"

[2020-05-19 15:34] rhymes commented on #7953
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-19 15:34] rhymes commented on #7954
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-19 15:34] rhymes commented on #7955
To our awesome contributors, please note that this issue will be worked on by a DEV team member and is not up for grabs.

[2020-05-19 16:36] lisasy opened #7957 "[Search] Update navigation menu"

[2020-05-19 16:38] lisasy opened #7958 "[Notifications] Update card style"
**Goal:**
Update the card style on /notifications to Crayons. We have the Crayons styling for these cards to support this. See /search and / (feed) for reference.

**Current:**
![Screen Shot 2020-05-19 at 9 35 25 AM](https://user-images.githubusercontent.com/816402/82355957-cc11b980-99b7-11ea-8b74-2a29bb4ea20d.png)

[2020-05-19 19:58] michael-tharrington opened #7965 "Reading List Posts Ordering Seems Off"
**Describe the bug**

When looking at my reading list, posts from 2018 have bumped their way up my list.

I'm assuming that the ordering scheme puts the most recently saved post at the top of my reading list... or potentially, the list is ordered by date published.

While I can't clearly tell the ordering scheme, there appears to be something off as a handful of articles published in 2018 are very

[2020-05-19 23:38] snackattas commented on #7933
I'll pick this one up if that's ok

[2020-05-20 02:34] emTr0 opened #7971 "Allow filtering of what gets synced to stackbit blog"
**Is your feature request related to a problem? Please describe.**

Every post you make on dev.to gets synced to the stackbit blog.

**Describe the solution you'd like**

You should be able to choose tags that won't get synced to the stackbit blog. At least for me, a help post isn't something I'd like synced, for example.

**Describe alternatives you've considered**

There are none.

**Additional

[2020-05-20 02:56] emTr0 opened #7972 "Make dev.to blog posts refer to stackbit blog post as canonical"
**Is your feature request related to a problem? Please describe.**

Currently, all posts on a stackbit blog refer to the dev.to post as the canonical source. If the point of the stackbit blog is to make our own site and the content is ours, the "link juice" should also be ours and the dev.to post should refer to the stackbit blog post. There are already "made with stackbit and dev.to" links in the

[2020-05-20 06:10] Slashgear opened #7973 "Frontmatter metadata are not working correctly"
**Describe the bug**

Some of metadata I put in frontmatter part seems not to work as described.
- description is missing
- canonical is mission

**To Reproduce**

Go to https://dev.to/slashgear_/discover-jest-hidden-feature-automock-2c9f

Look at page metadata (you could use meta debugger devtools extension like this one https://chrome.google.com/webstore/detail/meta-debugger/jfpdemgdamgplelnlmae

[2020-05-20 07:42] davidkudera opened #7974 "Changing email doesn't work"
**Describe the bug**

Verifying email after it is updated is not working.

**To Reproduce**

1. Sign in with Github
2. Open profile settings
3. Change email address
4. Click on the received verification link
5. Email is not updated and message "You have requested a change to ***. Check your inbox for the verification link to finalize the change." persist.

**Expected behavior**

Changing email sho

[2020-05-20 08:32] lightalloy commented on #7972
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled "type: bug" are always up for grabs, but for feature requests, please wait until we add a ready for dev before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please p

[2020-05-20 08:33] lightalloy commented on #7972
Here is an existing issue with more infomation about implementation #4194

[2020-05-20 08:35] lightalloy commented on #7971
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled "type: bug" are always up for grabs, but for feature requests, please wait until we add a ready for dev before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please p

[2020-05-20 08:38] rhymes commented on #7965
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-20 08:41] Ridhwana commented on #7973
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled "type: bug" are always up for grabs, but for feature requests, please wait until we add a ready for dev before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please p

[2020-05-20 08:48] rhymes commented on #7974
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-20 12:38] TheRohitSharma commented on #7949
I'd love to take this one.

[2020-05-20 13:13] rhymes commented on #7949
@TheRohitSharma please go ahead, I'm going to assign you the issue

[2020-05-20 13:15] emTr0 commented on #7972
#4194 is pretty much the same. I will add a comment/suggestion for implementation to that issue and close this one. Thanks!

[2020-05-20 13:15] #7972 closed

[2020-05-20 13:23] emTr0 commented on #4194
Hello. Coming from #7972.

I noticed the slug for the integrated blog post is the exact same as the slug for the dev.to blog post.

For example:
[dev.to/emtr0/stretches-and-exercises-to-relieve-upper-mid-and-lower-back-pain-2dd6](https://dev.to/emtr0/stretches-and-exercises-to-relieve-upper-mid-and-lower-back-pain-2dd6)

[emtr0-dev-stackbit-0aa86.netlify.app/posts/stretches-and-exercises-to-reliev

[2020-05-20 13:27] theLastOfCats commented on #7974
Same for me

OS: Manjaro
Browser: Mozilla Firefox
Version: 76.0.1

[2020-05-20 14:48] aadilayub opened #7981 "Add merveilles.town to mastodon instance whitelist"
I was trying to link my mastodon profile to my dev.to account, but got an error saying it wasn't in the list of approved instances. The instance I use is [merveilles.town](http://merveilles.town), a group of creative technologists.

For reference, [here](http://github.com/merveilles/The-town) are the instances' rules and values.

[2020-05-20 14:55] Izkda opened #7982 "Dev digest email links redirect to the frontpage"
**Describe the bug**

All the links in the latest digest (except the "unsubscribe") redirect to the front page with a 301.

**To Reproduce**

1. Click in any of the links (for [example](https://dev.to/ahoy/messages/Zu1pRnpnwUrbLXP0igTErMl7zISLA3ey/click?signature=f99119813761ab2048a32b247db251ef30250be7&url=https%3A%2F%2Fdev.to%2Fbitdweller%2Fstop-setting-the-language-of-your-website-based-on-my-l

[2020-05-20 15:04] rhymes commented on #7981
Thanks @aadilayub, sent a PR about it: https://github.com/thepracticaldev/dev.to/pull/7983 :-)

[2020-05-20 15:05] rhymes commented on #7982
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-20 15:24] maestromac commented on #7918
Hello @paulczar . This is happening because your image's source is pointing directly at a document of the same path, ie `<img src="circle-add-project.png" alt="add project" />`.

While I'm making the change in our feature to account for that, you should update your feed to use the complete image path to support other RSS readers. I used Feedbro extension to examine your feed and it also does not r

[2020-05-20 20:40] #7495 closed

[2020-05-20 21:48] #7981 closed

[2020-05-20 22:00] aadilayub commented on #7981
Thanks @rhymes!

[2020-05-20 22:12] RoryO opened #7991 "400 response from Cloudinary with inline uploaded gifs"
Cloudinary returning http status 400 for inline uploaded gif images. Original S3 link works fine. Cannot use S3 URL directly as the application rewrites the URL for inline viewing using Cloudinary instead.

**To Reproduce**

AWS URL from uploaded image, no issue

https://dev-to-uploads.s3.amazonaws.com/i/7afo799od7nrmgegw90v.gif

https://dev-to-uploads.s3.amazonaws.com/i/jam8uak08klab6mwbvum.gif

[2020-05-20 22:36] manan30 opened #7993 "Article links in DEV Digest emails not opening correctly."
**Describe the bug**
Whenever I click on the article links provided inside the DEV Digest email, it always opens the main feed rather than the article itself.

**To Reproduce**
Click on any article links in the DEV Digest emails and you'll be taken to the feed rather than the article. Eg. Click [this](https://dev.to/ahoy/messages/TgplUcptixPi35Ook4bZeIbnSCe6D0Pc/click?signature=29b7132679695e624b2

[2020-05-20 23:01] Rafi993 opened #7994 "Textarea overflows in user settings"
**Describe the bug**
Textarea in user settings overflows outside the window

**To Reproduce**
1. Go to https://dev.to/settings in your mobile device
2. Scrolldown to "I'm getting into" section
3. You can see the textarea overflow

**Expected behavior**

Textarea should not overflow outside the window

**Screenshots**
![textarea](https://user-images.githubusercontent.com/8092120/82505394-43ac2980-9

[2020-05-20 23:03] Rafi993 commented on #7994
The text below the textarea also overflows

[2020-05-21 01:40] luchiago commented on #7973
Hi, can I work on this?

[2020-05-21 02:29] ooloth commented on #4758
Once implemented, it would be great if `cover_image_alt` could be included in the article data available via the API as well.

[2020-05-21 07:21] madzadev opened #7997 "Duplicate checker for Article Post"
**Is your feature request related to a problem? Please describe.**

DEV.to really is an awesome platform and it's like a morning coffee to me. Tho yesterday I came across this unpleasant experience.

I was working for past couple of days on the article, published it and 5 mins after I saw other user had copied everything word for word and created it as his article.

Original: https://dev.to/madars

[2020-05-21 09:20] krishnadevz opened #7998 "After enabling Ten X hacker theme username/email is hidden"
**Describe the bug**
hello
I set my theme to Ten X hacker theme my username is hidden because in default theme my username is everything is white except contents ex:-name and articles but after switching to dark theme my is get mixed with that and then that thing is hidden if you guys let me in I can change CSS color properties for showing text it is just a color property thanks 😊

**To Reproduce*

[2020-05-21 09:30] rhymes commented on #7991
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-21 09:32] rhymes commented on #7993
Thanks @manan30, I'm going to close this as a duplicate of https://github.com/thepracticaldev/dev.to/issues/7982 and let you know we're investigating

[2020-05-21 09:32] #7993 closed

[2020-05-21 09:33] citizen428 commented on #7998
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-21 09:34] citizen428 commented on #7998
@krishnadevz Thanks for the report? Were you planning on fixing this? If yes, please assign yourself the issue and open a PR. If not, this is up for grabs for anyone interested.

[2020-05-21 09:35] rhymes commented on #7994
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-21 09:36] rhymes commented on #7994
This also happens in the mobile layout simulator in Firefox desktop

[2020-05-21 09:40] citizen428 commented on #7997
Thanks for the issue! We'll take your request into consideration and follow up if we decide to tackle this issue.

To our amazing contributors: issues labeled `type: bug` are always up for grabs, but for feature requests, please wait until we add a `ready for dev` before starting to work on it.

To claim an issue to work on, please leave a comment. If you've claimed the issue and need help, please

[2020-05-21 09:43] citizen428 commented on #7997
I'm sorry this happened @madarsbiss. Please note that you can report this to our support team:

<img width="424" alt="How_it_feels_like_to_style_things_in_2020__-_DEV_Community_👩💻👨💻" src="https://user-images.githubusercontent.com/47985/82546238-0333c680-9b82-11ea-8fac-a50304878b44.png">

I've already reported this specific issue for you though.