[2019-05-03 10:56] mjraadi commented on #2566
@GMartigny the condition is there to only allow English numbers. If it's not there you can input any number from other languages. I was able to put ۱۲۳۴۵۶۷۸۹۰(which is 1234567890 in Farsi) without the condition and it's still valid number. Take a look below:
![Screenshot_20190503_144503](https://user-images.githubusercontent.com/20579660/57131822-e24fd600-6db2-11e9-8f61-8c1812c3978b.png)

However,

[2019-05-03 11:52] mjraadi opened #2673 "Liquid tag for twitter video needs to allow video control"
**Describe the bug**
There is no way to stop or mute an embedded twitter video on a post. The only way I was able to stop a video was to reload the page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [this post](https://dev.to/areknawo/7-adorable-web-development-tricks-2of8)
2. Scroll down all the way down to `styled styles`
3. Play the video
4. Try to mute or stop it

**Expected be

[2019-05-03 11:53] mjraadi commented on #2673
I will submit a PR if you approve it. Thanks

[2019-05-03 12:13] GMartigny commented on #2566
Ok, but why prevent typing farsi numbers ? JS seems to understand the input value correctly and display the right amount (3086419725 $) on the right of the input.

![image](https://user-images.githubusercontent.com/2543511/57136608-9a7a8000-6dad-11e9-8d03-4ce08888601c.png)

**IMO**, the website should not prevent user actions, but they should be sanitized on the back-end.

[2019-05-03 15:19] ali2210 commented on #186
Twitter Disconnect

[2019-05-03 15:23] Zhao-Andy commented on #186
@ali2210 not sure what you mean but feel free to send yo@dev.to an email if you're having issues with your account.

[2019-05-03 15:35] #201 closed

[2019-05-03 15:52] Sneezry opened #2678 "Cover image doesn't show when share to Twitter"
**Describe the bug**
When I share my post to Twitter, the social card doesn't show cover image of the post

**To Reproduce**
Share this post to Twitter, and see the card: https://dev.to/sneezry/how-to-speed-up-your-vs-code-extension-not-only-webpack-48b5

**Expected behavior**
The card on Twitter should show cover image of the post

**Screenshots**
![Snipaste_2019-05-03_23-48-29](https://user-imag

[2019-05-03 16:44] Sneezry commented on #2678
Fixed.

[2019-05-03 16:44] #2678 closed

[2019-05-03 20:02] bolariin commented on #539
I have some questions what is needed to resolve this issue
- Is there a preferred location on the dashboard for the "Fetch Now" button?
- Regarding the "Fetch Now" button on the dashboard, would this only be visible to users with a RSS Feed URL?
- would the 'last updated' status indicator be located in `/settings/publishing-from-rss`?
- Is it still okay to change the button from 'submit' to 'updat

[2019-05-03 20:42] jessleenyc opened #2685 "Award contributor badge to DEV Android contributors"
**Is your feature request related to a problem? Please describe.**
Right now we only award the contributor badge to people who contribute to the web and iOS app. We should get Android users in there.

[2019-05-03 21:10] Glennmen commented on #2685
I would like to take this one. I assume it is only adding the new repo, there is no new badge for this right?

[2019-05-03 21:22] jessleenyc commented on #2685
@Glennmen yep!

[2019-05-04 13:04] #2685 closed

[2019-05-04 22:04] teacupwoozy commented on #755
@Zhao-Andy Sorry this took me so long to respond to.. But, yes! Everything is showing up as it should. Glad to hear that it was only a problem specific to my account and not a larger issue.

[2019-05-04 22:04] #755 closed

[2019-05-05 14:31] mjraadi commented on #2558
I looked at the code and I think we could use sidebar functionality for this feature. Currently, there are left and right sidebars on the home page. It's visible on large screen devices and disappears on small screen devices and user can swipe in to see the sidebar. We could use the left sidebar for post series list on the post view page and the right sidebar for author info and related articles.

[2019-05-05 14:41] omenking commented on #2558
I think recently the article area increased so I don't know if they'd want a new bar to appear reducing the space.

Here is a suggestion for placement.

![put-here](https://user-images.githubusercontent.com/7776/57195563-36c59380-6f22-11e9-9a56-629a2d89e30c.jpg)

[2019-05-05 14:50] Link2Twenty commented on #2558
I have wondered about having a, possibly autogenerated, series cover page.

[2019-05-05 15:19] mjraadi commented on #2558
@omenking that's a good idea but that area is only visible on large screen devices. I think we should come up with an approach which is suitable on both desktop and mobile devices and has a solid UX.

[2019-05-05 19:48] suntong commented on #911
Progress summary,

- #1369 was merged
- #1499 was automatically closed, maybe superseded by #2187
- #2187 is still in discussion, no further progress

Can we have a road map there, so people can know the progress on this feature?
@benhalpern @timorthi @zxlee618 @deyshin

thx

[2019-05-05 20:14] suntong commented on #220
then maybe we should simplify the whole thing just like what codesandbox is doing, or even simpler than that --

- blog has a back end git.
- each post is a file in git.
- use can do whatever edit they like on dev.to, when they are satisfied, they can make a commit to the back end git. via provided interface from web GUI, just like what codesandbox is doing.

- when user making a commit to the bac

[2019-05-05 20:39] suntong commented on #911
Shall we just pick [ObjectId](https://docs.mongodb.com/manual/reference/method/ObjectId/), which have been in use in MongoDB for quite a while, and move on? I meant, it's quite safe to use, and being compatible is a better thing that reinventing the wheels again, IMHO.

just my 2c.

[2019-05-06 01:47] benhalpern commented on #2671
Thanks for the heads up.

[2019-05-06 05:34] weekly-digest[bot] opened #2703 "Weekly Digest (29 April, 2019 - 6 May, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 102 issues were created.
Of these, 80 issues have been closed and 22 issues are still open.
## OPEN ISSUES
:green_heart: #2696 [Move async user methods to ActiveJob](https://github.com/thepracticaldev/dev.to/pull/2696), by [KDRaypole](https://github.com/KDRaypole)
:gre

[2019-05-06 11:13] rhymes commented on #1641
After Ben's amazing changes to the reading list in https://github.com/thepracticaldev/dev.to/pull/2695 - now I can see the three deleted posts that have been in my "reading list" until now:

![Screenshot_2019-05-06 The DEV Community(1)](https://user-images.githubusercontent.com/146201/57221631-3b607980-7000-11e9-99b4-6feee656eb76.png)

![Screenshot_2019-05-06 The DEV Community(2)](https://user-ima

[2019-05-06 17:34] weekly-digest[bot] opened #2718 "Weekly Digest (29 April, 2019 - 6 May, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 102 issues were created.
Of these, 80 issues have been closed and 22 issues are still open.
## OPEN ISSUES
:green_heart: #2696 [Move async user methods to ActiveJob](https://github.com/thepracticaldev/dev.to/pull/2696), by [KDRaypole](https://github.com/KDRaypole)
:gre

[2019-05-06 18:34] R4ph-t commented on #1643
Need a bit more time for that one, had to focus on other priorities but will be back to it hopefully soon.

[2019-05-06 20:24] mariocsee commented on #2673
@mjraadi, just a heads up that we're refactoring how liquid tags are rendered when you fix this in your PR. I just opened the PR that refactors the twitter tag #2721 and you should be all set to go when its merged.

[2019-05-07 03:15] twhite96 commented on #2630
Couldn't we just use prism.js? It's been pretty performant on the sites I have that use it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 03:21] twhite96 commented on #2183
This has been driving me bananas. I'll work on this. Gitpod has made contributing much easier.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 03:22] twhite96 commented on #1994
Seems to be fixed! It says this issue is still open though.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 03:24] twhite96 commented on #1952
@mkrl I think you can do this with just plain JavaScript. I have this on my blog but with React and React Spring. It shouldn't be too difficult to implement this in vanilla js.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 05:52] rhymes commented on #1952
@mkrl the music is terrible though :D I like the effect especially because I see it can be made a little bit faster...

@twhite96 it's implemented in vanilla JS: https://github.com/tholman/elevator.js/blob/master/elevator.js - it's 1.77kb minified, removing the audio stuff should make it even shorter :D

[2019-05-07 05:53] rhymes commented on #1994
@twhite96 I think you can close the issue being the original author, sometimes it happens that issues get solved but not closed :)

[2019-05-07 06:16] rhymes commented on #2630
@twhite96 not easily, though that library seems cool being plugin based (one could load the language module at runtime based on the languages required by the single article) but I bet it'd be still slower than sending to the browser the code already highlighted (and cached).

Currently the highlighting is done server side on article creation/update, while the conversion from markdown to html happe

[2019-05-07 06:28] Turnerj opened #2733 "Can't delete draft post"
**Describe the bug**
With the change for #2627, it is no longer possible to delete draft posts as the "Manage" section for posts is only available for published posts. Previous this was possible when the "Delete" button was accessible directly from the Dashboard.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a draft post
2. Try to delete the post (without just publishing the post,

[2019-05-07 06:41] mkrl commented on #1952
Jokes aside, I don't think you need any kind of JS for a simple "scroll to the top" button.

[2019-05-07 07:11] Glennmen opened #2734 "Wrong message empty Archive"
**Describe the bug**
When viewing your Archive and it is empty it is showing an incorrect message. Probably the default empty Reading List message.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Reading List'
2. Click on 'View Archive'
3. See error

**Expected behavior**
A correct message should be shown: "Your Archive is Lonely"
Don't know what the second line should say.

**Screen

[2019-05-07 08:37] smithjohnson15 opened #2736 "Not able to submit new post"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-05-07 08:38] #2736 closed

[2019-05-07 10:43] flrnprz commented on #1546
I'm not sure if it is a bug or a problem in my side, but I'm having trouble trying to embed URIs like this one (the URI is copied directly from Spotify sharing option):
[code]
<img width="774" alt="Screenshot 2019-05-07 at 12 42 41" src="https://user-images.githubusercontent.com/659650/57293659-a6c04f00-70c5-11e9-8b63-49231189d173.png">

[2019-05-07 10:59] #2718 closed

[2019-05-07 11:01] #2703 closed

[2019-05-07 11:18] jessleenyc commented on #2668
Thanks for the issue. @aligoren we intentionally add a little delay so people can't mash on the button. Is this bug still present if you wait a moment between liking and unliking?

[2019-05-07 11:24] rhymes commented on #1546
@flrnprz yeah, I think it's a bug. The regexp here is a little conservative and doesn't support playlists outright:

https://github.com/thepracticaldev/dev.to/blob/436fa2788c58ce16df5853e4b9737d85a655e966/app/liquid_tags/spotify_tag.rb#L1-L2

You should open a bug issue :)

[2019-05-07 11:35] jessleenyc commented on #2734
Maybe we should remove the archive link if nothing is archived?
Or we can just have 'Your Archive List is Lonely' and no second line.

[2019-05-07 12:30] flrnprz opened #2739 "Error trying to embed Spotify playlists URIs"
**Describe the bug**
Trying to embed a Spotify playlist URI gives and error

**To Reproduce**
Steps to reproduce the behavior:
Example code:
[code]

1. Go to 'Write post'
2. Insert the example code
3. Click 'save post' or 'Preview'
4. See error

**Expected behavior**
Embed the URI the same way with albums, tracks, etc.

**Screenshots**
![screen capture](https://user-images.githubusercontent.com/65

[2019-05-07 12:52] msarit commented on #2618
@jessleenyc Ahh I didn't know about v2! Let me toggle it now 😄

[2019-05-07 12:58] Glennmen commented on #2739
I played around with the regex and came up with this: https://regex101.com/r/SrZGeP/2
Not sure about the user ID part, I feel like it could be better.

[2019-05-07 13:16] flrnprz commented on #1546
@rhymes I think you are right. Did a few test with the old regex and it didn't select all the URI. Bug issued.

[2019-05-07 14:17] maestromac commented on #1743
not stale

[2019-05-07 14:40] maestromac commented on #539
@bolariin as a start
- the button can be in `https://dev.to/settings/publishing-from-rss`
- It should only be visible to folks with RSS Feed URL
- `last updated` status can also be located said tab.
- Yeah the `submit` button can serve dual functionality.

[2019-05-07 14:47] Zhao-Andy commented on #2638
The offline page is served by service workers. I think our implementation of service workers doesn't seem to work well with Firefox's service workers.

The Android app uses web views so if you're using Firefox as your default Android browser, it'll have a similar experience as if you were browsing on the Firefox app.

Related issue: #1810 and #128

[2019-05-07 14:50] kenbellows commented on #2638
For more context, I have Chrome for Android set as my default browser, and I actually don't think I have Firefox installed currently.

[2019-05-07 14:53] Zhao-Andy commented on #2638
@kenbellows Ah okay, good to know, thanks!

[2019-05-07 15:12] Glennmen commented on #2739
I combined it with the already available regex: https://regex101.com/r/SrZGeP/3
Don't know if `show` is a valid Spotify URI, it isn't in the current regex.
Also I am not a regex "expert", just playing around with it.

[2019-05-07 15:39] benhalpern commented on #1641
Ah! I didn't realize this would be the case with the new approach, but this is much easier to debug with the new way we're doing this. The old way we did this was really hard to track down, but I'll get this one worked out once and for all soon.

[2019-05-07 15:43] flrnprz commented on #2739
`Show` is like `album` for podcasts.

[2019-05-07 17:12] rhymes opened #2743 "Settings -> billing page is broken"
**Describe the bug**

The page https://dev.to/settings/billing is not accessible

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/settings/billing
4. See error

**Desktop (please complete the following information):**

- OS: macOS
- Browser: Firefox
- Version: 67

[2019-05-07 17:37] aligoren commented on #2668
@jessleenyc I tried now, I think I misunderstood. There is a delay. I closed this issue, I didn't know delay. Thanks :)

[2019-05-07 17:37] #2668 closed

[2019-05-07 17:53] #1994 closed

[2019-05-07 19:33] #2743 closed

[2019-05-07 20:02] mariocsee commented on #2739
If anyone's opening a PR for this, just a heads up there's a slight refactor to the `render` method in the Spotify Liquid tag, but RegEx parsing methods are untouched.

[2019-05-07 20:04] Glennmen commented on #2739
If my regex is good for you guys (with `show`) I can make a PR tomorrow.

[2019-05-07 22:26] corjohnson opened #2758 "Android Firefox PWA is redirecting me to a weird website when I first open it"
**Describe the bug**
I use Firefox as my primary browser on my phone, and when I added dev.to to my home screen, it mostly works fine. However when I open the PWA from my phone, oftentimes I'll immediately get redirected to

[code]

I've tried removing the pwa from my home screen and re-adding it, but it doesn't seem to make a difference. I'm also logged in, but I don't know if that'd make a diffe

[2019-05-08 02:11] maestromac commented on #2666
Resolved with https://github.com/thepracticaldev/dev.to/pull/2757

[2019-05-08 02:11] #2666 closed

[2019-05-08 02:34] bolariin commented on #2614
After making the change to `_actions.html.erb`, I'm getting an error from the erb linter because of the use of `html_safe`.
https://github.com/thepracticaldev/dev.to/blob/0e41a37eb61f58f7308d1da4b51c8bb2f72dbc9d/app/views/articles/_actions.html.erb#L61
I found that this can be resolved using `sanitize`. Following the other use of `sanitize`, I tried `<%= sanitize @html_variant.html.html_safe %>` b

[2019-05-08 13:30] benhalpern opened #2764 "Listings Pagination/Infinite Scroll"
Currently we fetch the first 120 listings for a category and no more.

We should have pagination and infinite scrolling so we can serve all listings.

Implementation: The page can be stored in the `state` and incremented when new stuff is fetched and reset when a new query is made (e.g. typing/tab change/category change).

Pagination is native to Algolia so should be pretty straightforward on that

[2019-05-08 14:31] derekenos opened #2765 "Algolia creds doc URL displayed in Gitpod workspace console doesn't work"
# Issue

The URL to the doc that tells you how to get Algolia creds displayed in the Gitpod workspace console (if that's what it's called) doesn't work.

# Repro

1. [Launch the dev.to Gitpod](https://gitpod.io/#https://github.com/thepracticaldev/dev.to)

2. The workspace console at the bottom displays:

![Screenshot_2019-05-08_10-20-38](https://user-images.githubusercontent.com/585182/57382667-59

[2019-05-08 14:36] rhymes commented on #2586
@benhalpern cool :-)

ps. I don't know how you did it but you commented from the future 😂

![Screenshot_2019-05-08 Classified listings UI add color coding of listing titles and selector buttons · Issue #2586 · thepra](https://user-images.githubusercontent.com/146201/57383581-5a513e00-71af-11e9-9858-7aa548fea901.png)

[2019-05-08 14:39] maestromac commented on #2765
Thanks for reporting this @derekenos !

[2019-05-08 14:46] maestromac commented on #2765
Resolved with https://github.com/thepracticaldev/dev.to/pull/2766

[2019-05-08 14:46] #2765 closed

[2019-05-08 15:31] Zhao-Andy commented on #2758
Thanks for reporting this. I think this happens because we use Google Analytics, and the Firefox PWA must be sending the response from Google when it shouldn’t.

[2019-05-08 16:23] mjraadi commented on #2539
With that, I believe, we've refactored every stylesheet file. It think we should also document the mixin for future use cases. What do you think Nick?

[2019-05-08 17:26] nickytonline commented on #2539
Yes, we should document this @mjraadi. Feel free to go ahead if you have time and thanks again for the help with the refactor. 😎

[2019-05-08 18:30] kyleboe commented on #1546
Yeah it looks like they changed their URI pattern for sharing playlists 😕 the regex will need an update.

[2019-05-08 18:43] mjraadi commented on #2539
Sure @nickytonline, I'll work on that. I believe [this](https://docs.dev.to/design/theming) is the right place to write about it. Right?

[2019-05-08 18:58] kyleboe commented on #2739
Let me know if I can be of any help! I wrote the spotify liquid tag feature so if you have any questions about my reasoning behind things, feel free to ask. 😃

[2019-05-08 20:13] Zhao-Andy commented on #1593
Still an issue. @Link2Twenty's suggestion should be a good starting place if anyone wants to work on this.

[2019-05-08 21:24] benhalpern commented on #2586
Nice!!

I think we should sit on this a bit, in terms of the final details and implications, but big yes. This is great. Let's finalize something next week.

[2019-05-08 23:12] #81 closed

[2019-05-09 14:16] maestromac commented on #2614
hey @bolariin , `@html_variant` needs use html_safe. Please ignore that lint.

[2019-05-09 15:50] ekafyi commented on #2630
Thank you for the detailed information @rhymes. This is unfortunately beyond my skill level (I'm only familiar with .erb/the templating part, but otherwise not familiar with Ruby at all).

[2019-05-09 16:47] #2614 closed

[2019-05-09 19:29] benhalpern commented on #2764
Handles by #2775

[2019-05-09 19:29] #2764 closed

[2019-05-10 04:24] UddeshJain opened #2778 "Followers count and total views on user profile."
**Is your feature request related to a problem? Please describe.**
Whenever I visit someone's profile, I can't differentiate between the person writing amazing posts and the person here only to read posts.

**Describe the solution you'd like**
There should be followers count and total views count on every person's profile so that people will know the person is an amazing writer and I should follow

[2019-05-10 07:06] Glennmen commented on #2778
I believe it was a DEV team decision to not show this because they don't want it to turn into a social media platform where people compared their popularity. Having lots of followers doesn't have any added benefit to the quality of the posts.

You can currently see on a users profile the amount of posts and comments they made and the amount of tags they follow. I don't miss the feature to view how

[2019-05-10 07:10] Glennmen commented on #2778
Also I found an issue about this topic already maybe it can be reopened to continue the conversation, for reference: https://github.com/thepracticaldev/dev.to/issues/396

[2019-05-10 07:44] rginfotechjpr commented on #1639
I have tried both versions, but still the same 500 error.

[2019-05-10 08:02] rginfotechjpr opened #2779 "Saving Post Causes 500 error (bug)"
**Describe the bug**
Hi, I tried posting a new article with my account today and it produced a 500.

Right before attempting to post I updated the organization details and change the org username. I've tried a few things without success:

- posting under the organization
- posting without an organization
- I tried saving a sample post with the bare minimum (as opposed to my original article).
- I

[2019-05-10 10:19] stasstukanov opened #2783 "500 error when we try to write a post"
**Describe the bug**
Hello! We can't write a new post. When we try to push btn "Write a post" or try to edit our previous posts, we see 500 page. Profile - https://dev.to/lightit_global

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'profile or home page'
2. Click on 'btn - write a post'
3. See  500 error

**Expected behavior**
Write new post :)

**Screenshots**
https://take.ms/pvQ0f

[2019-05-10 10:27] lightalloy opened #2784 "TwitchWebhookRegistrationJobs fail when twitch_username is invalid"
Some of the `Streams::TwitchWebhookRegistrationJob`s fail with:
[code]
It happens when the response from the Twitch api doesn't contain `"data"`. Probably it happens when a user sets a non-existent twitch username in their profile.

Possible solution:
Check if the response from twitch API contains the required data before proceeding.
Maybe it's worth to notify the user in some way if their `twitch

[2019-05-10 15:49] #1315 closed

[2019-05-10 15:57] maestromac commented on #2783
Hello @stasstukanov , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-05-10 15:57] #2783 closed

[2019-05-10 16:06] maestromac commented on #2779
Hello @rginfotechjpr , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-05-10 16:06] #2779 closed

[2019-05-10 16:13] maestromac commented on #1350
not stale

[2019-05-10 16:19] maestromac commented on #2739
Now that `SpotifyTag#render` is using ERB template, the regex can be loosen bit. Please still watch out for any XSS vulnerbility.

[2019-05-10 16:21] maestromac commented on #1701
not stale

[2019-05-10 16:23] maestromac commented on #250
not stale

[2019-05-10 17:01] nickytonline commented on #2539
Great work everyone. 😎

[2019-05-10 17:01] #2539 closed

[2019-05-10 18:31] remy opened #2790 "Signed in using Twitter - JS failed to load"
**Describe the bug**

I sign in using Twitter, and the JavaScript breaks causing a partially usable site:

<img width="1440" alt="Screen Shot 2019-05-10 at 19 26 20" src="https://user-images.githubusercontent.com/13700/57548814-d091a400-7359-11e9-9d04-d127032636ab.png">

**To Reproduce**

Steps *for me* to reproduce the behavior:

1. Go to incognito window
2. Click on twitter sign in
3. See screen

[2019-05-10 19:06] #2734 closed

[2019-05-10 19:10] Glennmen commented on #2739
@flrnprz & @kyleboe I made a PR if you would like to check before it gets merged #2791

[2019-05-10 19:47] #539 closed

[2019-05-10 20:18] #2739 closed

[2019-05-10 22:06] Siddhant-Misra opened #2794 "Did not allow me to post after multiple attempts."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2019-05-10 23:48] bolariin commented on #2733
To address this issue, would it be okay to add a delete button for draft posts?

[2019-05-11 00:19] aimenbatool opened #2795 "Why there is no check for RSS feed URL"
**Describe the bug**
I was trying to publish my post from Medium RSS feed. Upon fetching, I got each article twice (duplicate) on my dashboard and when I tried to edit one article and save it, it gave me an error saying that **"Feed source URL has already been taken"**

Why my feed source URL is taken and by whom?

I went to my setting and tried a random Medium feed URL to see if I can get their p

[2019-05-11 06:51] Turnerj commented on #2733
From my point-of-view, I think it would be better to just have the "Manage" section available. If I have a draft post, it is reasonable to think that I should be able to set the experience level of the post or too change the author of the post - both features are behind the "Manage" section.

Additionally, if there were future features like (for example) automatic publishing at a certain day/time,

[2019-05-12 08:19] itsjzt opened #2799 "Add better color on selected text in dark mode"
The text in dark mode looks great but selected text looks ugly

It would be great if we can add a different color on selected text using `::selection` pseudo element.

**Additional context**
![Screenshot_20190512-134014_Chrome](https://user-images.githubusercontent.com/22629916/57579628-8b39b780-74bc-11e9-8409-7115206dea61.jpg)

[2019-05-12 10:06] rhymes opened #2801 "Upgrade PostgreSQL 9.4 to 11 or 12"
DEV uses/requires PostgreSQL 9.4. I'm opening this ticket to invite a discussion about upgrading PostgreSQL to 11 or 12.

Between PostgreSQL 9.4 and 12 there are five major versions: 9.5, 9.6, 10, 11 and 12.

EOL dates:

- PostgreSQL 9.4: February 13, 2020
- PostgreSQL 9.5: February 11, 2021
- PostgreSQL 9.6: November 11, 2021
- PostgreSQL 10: November 10, 2022
- PostgreSQL 11: November 9, 2023
-

[2019-05-12 16:31] omenking commented on #258
This is the footer. I think this would be negligible if we couldn't access it because of the infinite scroll.

<img width="735" alt="Screen Shot 2019-05-12 at 12 30 12 PM" src="https://user-images.githubusercontent.com/7776/57585123-b7037000-74b1-11e9-9eac-5e7cce8eff11.png">

I really want this feature so I'm going get on this again this week. It's mostly done but I have to do Q&A with it.

[2019-05-12 18:36] tannakartikey commented on #2623
@jessleenyc I'd like to help with this one

[2019-05-12 19:31] tannakartikey commented on #2497
@lightalloy I would like to help with this.

[2019-05-13 05:32] thamaraiselvam commented on #2537
@zxlee618  yes it shrinks on window resizing.

[2019-05-13 05:34] weekly-digest[bot] opened #2803 "Weekly Digest (6 May, 2019 - 13 May, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 100 issues were created.
Of these, 78 issues have been closed and 22 issues are still open.
## OPEN ISSUES
:green_heart: #2802 [Upgrade rubocop and rubocop-performance](https://github.com/thepracticaldev/dev.to/pull/2802), by [rhymes](https://github.com/rhymes)
:green_

[2019-05-13 05:36] thamaraiselvam commented on #2489
Not able to recreate, is it fixed?

[2019-05-13 07:49] lightalloy commented on #2497
@tannakartikey , great! I've updated the list, you can take any of the unchecked ones. Please, make a comment about the items you will be working on.

[2019-05-13 08:44] cyrillefr commented on #1996
Hello, I'd like to help with the remove_all method

[2019-05-13 10:58] lightalloy commented on #1996
I'll work on `update_notifications`

[2019-05-13 18:12] #2803 closed

[2019-05-13 18:30] mariocsee commented on #2566
resolved with PR #2672

[2019-05-13 18:30] #2566 closed

[2019-05-13 18:40] jessleenyc commented on #2794
@Siddhant-Misra this sounds like an issue related to your individual account. Can you send an email to yo@dev.to

[2019-05-13 18:40] #2794 closed

[2019-05-13 20:06] equiman opened #2818 "500 error on edit and remove canonical url"
**Describe the bug**
When edit a post and remove canonical url, show error 500 on save. Now i try load my post and always show 500 error.

Start with this post:
https://dev.to/equiman/my-devtech-podcast-subscription-1kb7
And I do the same steps and happen with
https://dev.to/equiman/iterm2--oh-my-zsh--powerlevel9k-best-terminal-combination-for-geeks-58l5

Both of this post can't be loaded any more

[2019-05-13 20:11] maestromac commented on #1734
Resolved with https://github.com/thepracticaldev/dev.to/pull/2816

[2019-05-13 20:11] #1734 closed

[2019-05-13 20:24] equiman commented on #2818
Not always happen. With this post:
https://dev.to/deinsoftware/run-a-command-in-external-terminal-with-net-core-d4l

I'm doing same steps, and don't show error 500.
But if edit again the post, I see the canonical url again on this post. It was not deleted.

[2019-05-13 20:40] dimensi0n commented on #1038
No one wants to work on this ?

[2019-05-13 20:45] benhalpern commented on #2818
Okay sorry about this. I have fixed your articles and issued this patch:

#2821

It seems like this form submits an empty string and it gets set instead of blank, and then that caused a runtime error. Fix is on its way up shortly.

[2019-05-13 20:49] dimensi0n opened #2822 "Pin a comment"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-05-13 20:55] kyleboe commented on #2739
@Glennmen I know I'm late to the game but awesome work on the PR! Love your approach.

[2019-05-13 20:57] #2818 closed

[2019-05-13 21:05] jessleenyc commented on #2733
Looks like a delete button was snuck back in with a recent PR. Going to close this for now since the primary issue has been addressed!

[2019-05-13 21:05] #2733 closed

[2019-05-13 21:35] devjack commented on #137
New archive UI (and functionality) looks great @danascheider! I feel it solves our 'delete rss posts' bug scenario well, so suspect this can be closed now?

[2019-05-13 21:47] mariocsee commented on #2489
@thamaraiselvam Nope, the bug still exists.

To recreate locally:
1.) Add yourself and a few test users to a group chat using the rails console.
2.) Open a few direct chats with the same test users added to the group chat.
3.) Click the group chat name to open side panel with details such as members of the group chat.
4.) Click any of those users but yourself and scroll down to see the block and r

[2019-05-13 21:57] bolariin commented on #229
https://github.com/thepracticaldev/dev.to/blob/419ee348669c4dfcbad0d1b6f667dbbb45ba6888/app/labor/markdown_parser.rb#L49-L58

I found this function in `markdown-parser`. Are there more tags that should be allowed besides those present in `allowed_tags`?

[2019-05-14 04:33] SeanKilleen commented on #137
@devjack totally agree. Thanks to @danascheider for making this happen!

[2019-05-14 04:33] #137 closed

[2019-05-14 11:48] kay-is opened #2824 "I always get editor v2 but set v1 in the settings"
**Describe the bug**
When I edit an article or create a new one, it gets opened in the v2 editor, but I want all to be opened in the v1 editor as I said in my settings.

**Expected behavior**
I would prefer all articles to be editable with v1

**Desktop (please complete the following information):**

- OS: Windows 7
- Browser: Firefox
- Version: 67.0b19 (64-Bit)

This v2 editor will be the death o

[2019-05-14 14:44] jessleenyc commented on #2790
Hmm strange. We'll look into this -- it does sound account specific.

[2019-05-14 14:48] jessleenyc opened #2825 "Listings Dashboard"
**Is your feature request related to a problem? Please describe.**
Add an area to the dashboard to manage listings quickly.

**Describe the solution you'd like**
An index view of all user listings w/ a button that sends them to the listings edit page.

[2019-05-14 14:49] jessleenyc opened #2826 "Add dropdown to listings"
**Is your feature request related to a problem? Please describe.**
Add a dropdown to each listing to access edit and report abuse report buttons

**Describe the solution you'd like**
A similar design to the dropdown/ellipses we have for comments would probably make sense here.

[2019-05-14 15:16] tannakartikey commented on #2497
Thanks @lightalloy
I am thinking to start from the beginning of the list so the first will be `ping_admins` and then further down the list.

[2019-05-14 15:42] michael-tharrington opened #2828 "404 error When Trying to Join Org"
**Describe the bug**
A user attempted to join an organization using a provided secret code, but received a 404 when trying. They tried to create a new account but received the same result.

**Expected behavior**
A user should be able to easily join an org when invited.

**Additional context**
I've not provided any account information for privacy reasons.

[2019-05-14 15:53] Zhao-Andy commented on #2824
Hey @kay-is, we recently updated the v1 editor with features from the v2 editor, such as auto saving. The new v1 editor looks similar to the v2 editor, but the inputs -- using front matter and markdown -- are still the same.

Also great point about the `Publishing...` part. We'll definitely update that language properly.

Check out Ben’s post for more details: https://dev.to/devteam/changelog-upgr

[2019-05-14 16:56] jessleenyc opened #2830 "Link Verifier"
**Is your feature request related to a problem? Please describe.**
There will be instances where we want to verify links. For example, if someone includes a mastodon link, we might want to verify that the link is indeed a mastodon link and not just a random link they're trying to promote.

[2019-05-14 16:59] jessleenyc commented on #2617
Hey all - we're going to move forward and update the UI to reflect 'fediverse' and allow all links. Eventually we'll want some way to verify these, which I've created a separate issue for: https://github.com/thepracticaldev/dev.to/issues/2830. Verification won't be a blocker though. This is approved if someone wants to work on it.
- update mastodon to fediverse
- add i.e. mastodon as a placeholder

[2019-05-14 17:08] jessleenyc commented on #2778
Hey @UddeshJain, thanks for the request. We have deliberately chosen not to show follower/following counts for some of the reasons @Glennmen mentioned above. The best way to determine whether or not someone is posting quality content is by reading their posts! You can also check out the badges on their profile. The 7 Badge means they've made it to our weekly Top 7 post roundup.

It's always possib

[2019-05-14 17:08] #2778 closed

[2019-05-14 17:10] jessleenyc commented on #2758
@corjohnson just wanted to let you know we also have an Android app in case this issue keeps happening to you on the PWA. https://play.google.com/store/apps/details?id=to.dev.dev_android

[2019-05-14 17:10] kay-is commented on #2824
Ah, sad to hear that. The old editor had superior UX. Feels like a step back to me.

No, no deletions anymore. Just everything become more clunky.

Is there an API I can use to create articles?

[2019-05-14 17:36] jessleenyc commented on #2639
Hey @kenbellows thanks for pointing that out. While this doesn't fix the issue at all, I just wanted to give you a headsup that frontmatter works both in the v1 and v2 editor now. More info here: https://dev.to/devteam/changelog-upgraded-editor-45mk

[2019-05-14 18:29] evanwinter opened #2834 "Inconsistent HTML structure for input fields & labels"
**Describe the bug**
The labels for input fields found under the "Danger Zone" section of https://dev.to/settings/account are lacking proper spacing, due to their lack of `label` elements (using `b`'s instead).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/settings/account
2. Scroll down to "Danger Zone"
4. Look at the appearance of the input fields and their labels.

[2019-05-14 18:51] maestromac commented on #1716
not stale

[2019-05-14 19:09] maestromac commented on #2834
Resolved with https://github.com/thepracticaldev/dev.to/pull/2835

[2019-05-14 19:09] #2834 closed

[2019-05-14 19:26] mariocsee commented on #2559
All liquid tags have been refactored. New liquid tags should make sure to render using ActionController with ERB template.

[2019-05-14 19:26] #2559 closed

[2019-05-14 19:35] mariocsee commented on #2673
Hey @mjraadi, just a heads up that liquid tag refactoring is done. Feel free to submit a PR for the issue.

[2019-05-14 19:36] jessleenyc opened #2836 "Version control for pages"
**Is your feature request related to a problem? Please describe.**
Add version control or a diffing system for new pages. We'll eventually want to do this for articles and potentially other areas with markdown but let's start with pages first.

**Describe the solution you'd like**
There should be some gems out there that can help with this.

[2019-05-14 20:11] mjraadi commented on #2673
Hey @mariocsee, thank you for your effort and contribution. I was actually reviewing the changes today but haven't gotten around to work on this bug yet. You're welcome to tackle this if you want to.

[2019-05-14 20:25] mariocsee commented on #2204
There have been some updates to the editor, and the bug doesn't manifest in the article body previews of v1 and v2 and when saved, but it still persists for article titles.

[2019-05-15 05:02] copasetickid commented on #1996
@lightalloy  just confirming I'm working on `send_mention_notification`

[2019-05-15 07:06] lightalloy commented on #1996
@copasetickid thanks for the confirmation!

[2019-05-15 09:37] k88manish commented on #2537
It looks same on chrome and safari (mac, 15inch)

![Screenshot 2019-05-15 at 3 05 26 PM](https://user-images.githubusercontent.com/19614770/57765406-fe446780-7722-11e9-8415-6ef030b9ae4e.png)

[2019-05-15 16:38] #2828 closed

[2019-05-15 18:09] kay-is commented on #2824
Could you at least put the images and organization stuff down in the toolbar to the save/preview buttons?

Every time I want to add an image, I have to scroll down to the end, click the image button and then scroll up to upload the image, because the form is somewhere at the top.

[2019-05-15 18:19] Zhao-Andy commented on #2824
Thanks for the feedback! I think moving the image upload makes sense; I'll defer to the rest of the team in terms of design choices.

The API should be coming soon. :) Here's a related PR regarding that: https://github.com/thepracticaldev/dev.to/pull/2844

[2019-05-15 18:30] Zhao-Andy commented on #2824
Also we've updated the text from "Publishing" to "Saving" when saving a draft. PR: https://github.com/thepracticaldev/dev.to/pull/2831

[2019-05-15 18:32] kay-is commented on #2824
Yes, saw that. Thanks. 😊

[2019-05-15 20:03] mariocsee opened #2846 "Listing spacing inconsistency"
**Describe the bug**
With listings so new, there's some details to iron out in terms of spacing and window resizing.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'dev.to/listings'
2. Observe that some listings have ample space between the name of the listing poster and the bottom border while others are squeezed together.
3. Resize your window and see that listing container sizes a

[2019-05-15 21:07] mariocsee opened #2847 "Contrast for DEV User Liquid tag lacking contrast in night theme"
**Describe the bug**
The DEV User Liquid tag is really hard to read and discern when in night theme.

**To Reproduce**
Steps to reproduce the behavior:

1. Switch to night theme on DEV
2. Click on [this post, for example](https://dev.to/jess/who-in-your-life-deserves-a-shout-out-right-now-4p2o)
3. See tagged users below and that the username + description is hard to read because of the font color

[2019-05-15 23:24] ashleemboyer opened #2850 "Can no longer paste emojis when writing from desktop"
**Describe the bug**
I used to be able to copy emojis from Emojipedia, but they don't paste the same as they used to.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [https://emojipedia.org/white-smiling-face/](https://emojipedia.org/white-smiling-face/)
2. Click on the "Copy" button to the right of "Copy and paste this emoji"
3. Go back to the editor in dev.to
4. Try to paste the emo

[2019-05-16 02:00] KDRaypole commented on #2836
We could use paper_trail. It's actively maintained and has tons of cool features!

[2019-05-16 03:04] ashleemboyer commented on #2847
I'm having a similar contrast issue when inline code is displayed:
![image](https://user-images.githubusercontent.com/43934258/57823481-b3980f00-7765-11e9-9586-68e7503c190c.png)

[2019-05-16 05:20] ShraddhaAg commented on #1672
Hi! I would like to take this up :)

[2019-05-16 08:07] c33s commented on #242
not stale

[2019-05-16 08:07] c33s commented on #217
not stale

[2019-05-16 09:41] ibrahimelbanna commented on #2801
can i take this issue ?

[2019-05-16 10:50] rhymes commented on #2801
@ibrahimelbanna this is more a ticket to start a discussion than an actual issue (my bad for not labelling this correctly from the start).

If the discussion has a positive outcome and the upgrade is given a go, then DEV Heroku's DB will have to be manually upgraded using Heroku's upgrade guide. After that I'm sure you can work on a PR to upgrade the minimum required version.

I've been running DE

[2019-05-16 10:52] rhymes commented on #2630
@ekafyi I'm reopening this because even if you can't work on it yourself right now I think the point you made is super valid, it would be a neat feature

[2019-05-16 12:10] #2847 closed

[2019-05-16 15:00] giventofly opened #2853 "Reading List: add an option to "unsave" without having to open the article"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-05-16 15:15] rhymes commented on #947
unstale

[2019-05-16 15:32] maestromac commented on #2847
Thanks for pointing that out @ashleemboyer . I believe that's a separate issue.

[2019-05-16 16:07] mariocsee commented on #2799
If anyone wants to tackle this, it seems like it might be an issue specific to the Android app. Below are screenshots of me using night theme in the iOS app and on Chrome.

![IMG_0841](https://user-images.githubusercontent.com/13403332/57869384-ecba9880-77d2-11e9-86fc-9b4e139c984a.jpeg)
![2019-05-16 12 02 35](https://user-images.githubusercontent.com/13403332/57869391-f2b07980-77d2-11e9-8fd9-d9be4

[2019-05-16 17:17] ThomasTheSpaceFox commented on #2790
I'm seeing the same sort of CSRF error message, only im on linux seamonkey (latest), and I'm signed in via github. with the same result as in the screenshot above.
![devtoerror](https://user-images.githubusercontent.com/13690135/57873498-6a36d680-77dc-11e9-92f7-715077e05785.png)

[2019-05-16 18:29] #1707 closed

[2019-05-16 21:56] dlionz commented on #2853
Hey @giventofly I believe if you press the "archive" button on the bottom left of the card it will remove the list item. I do think the rad time would be a nice to have.

<img width="1009" alt="Screen Shot 2019-05-16 at 2 55 04 PM" src="https://user-images.githubusercontent.com/14165549/57889847-c30d6b80-77ea-11e9-953f-a1d434f0d538.png">

[2019-05-16 22:18] giventofly commented on #2853
Archive moves the item to the archive, I want to remove from the reading list entirely and not to a "read later"

[2019-05-16 22:26] rhymes commented on #2853
@giventofly FYI: I've clarified a bit your request in the title, can you kindly open a separate issue for the reading time indication? Thank you!

[2019-05-16 22:29] giventofly commented on #2853
Sure

[2019-05-16 22:30] giventofly opened #2862 "Reading List: Add the reading time"
**Is your feature request related to a problem? Please describe.**
Reading time for articles are important to be seen in the reading list to manage the time to read, or to just know if I have enough time to read this article on my break.

**Describe the solution you'd like**
Appear the reading time without opening the article.

[2019-05-17 06:37] shahzaibanwar009 opened #2864 "Please add bookmark button/ save button for read later in article detail page like medium"
`**Is` your feature request related to a problem? Please describe.**
UI

Please add bookmark button/ save button for read later  in article detail page like medium

[2019-05-17 07:09] rhymes commented on #2864
Hi @shahzaibanwar009 - can you please elaborate?

The article page currently has the "save" button.

When you have a wide enough screen is on the left side:

![Screenshot_2019-05-17 The DEV Community - Latest posts](https://user-images.githubusercontent.com/146201/57909555-67db8780-7883-11e9-9cf3-29435d8b47ba.png)

Otherwise it's on the bottom:

![Screenshot_2019-05-17 The DEV Community - Latest p

[2019-05-17 07:10] shahzaibanwar009 commented on #2864
Thanks

[2019-05-17 07:11] #2864 closed

[2019-05-17 13:13] Zhao-Andy opened #2867 "Adding a credit card via /settings/billing as a new Stripe user fails"
**Describe the bug**
As a new user who have never submitted a credit card transaction with dev.to -- therefore not being in the Stripe system -- trying to add a new credit card via https://dev.to/settings/billing will fail.

**To Reproduce**
Steps to reproduce the behavior:

1. Be a new user who doesn't have a `stripe_id_code`.
2. Go to `/settings/billing`
3. Click the "Add credit card" button.
4.

[2019-05-17 13:15] aspittel commented on #2853
Hey @giventofly thanks for this feature request - we'll discuss and then get back to you soon!

[2019-05-17 13:16] aspittel commented on #2850
Hey @ashleemboyer thanks for reporting this! We'll take a look at it and get back to you soon!

[2019-05-17 13:16] aspittel commented on #2862
Hey @giventofly that sounds like a good idea! Thanks for posting it! We'll discuss and get back to you!

[2019-05-17 14:54] #2784 closed

[2019-05-17 15:30] maestromac commented on #503
not stale

[2019-05-17 15:35] maestromac commented on #229
He @bolariin you can use those are a starting point. If more come to mind we'll suggest changes in the PR.

[2019-05-17 16:17] maestromac commented on #2795
Hey @aimenbatool , sorry you are experiencing this issue. With the nature of how RSS work, there's no fool-proof way to verify a feed's ownership. So yes, it is possible to pull anybody's feed and claim it as yours. But we take article ownership and plagiarism seriously on this platform.

Onto the problem you are experiencing. I was not able to replicate this issue. It seems like there was either

[2019-05-17 16:22] michael-tharrington opened #2868 "Improper Error Messaging in our Editor when Exceeding Max Tag Limit"
**Describe the bug**
We received 2 separate reports that users received `status:422` `error:Unprocessable Entity` messages when trying to post their articles.

From an image one of the users shared, I could tell they were using more tags than is allowed.

I created a test post and used too many tags (7 — the limit is 4) and received the same error message when trying to post.

**To Reproduce**
Ste

[2019-05-17 19:20] jessleenyc commented on #271
I agree with all of those thoughts. This would be my priority list:

- Look into and fix why some podcasts aren't playing at all and get rid of the need for the message you see here: https://dev.to/jsjabber/mjs-107-dan-fernandez (in fact, this podcast actually plays so we probably shouldn't show a message here)
- Change podcast relationship so they can belong to users
- Notify user if someone comm

[2019-05-17 20:35] hwolfe71 commented on #2790
This may be the same issue I've been having. I initially signed up using Twitter, but then linked my Github account, and used it to sign in at work.

I'm using Palemoon on Windows 7, 64-bit at work, and Palemoon on PCLinuxOS, 64-bit at home.

[2019-05-17 20:59] philnash opened #2871 "Lost an article after changing author on a organisation post"
**Describe the bug**
One user in our organisation imports the RSS feed for new articles. I was going to publish the imported version of [this article](https://www.twilio.com/blog/serverless-ruby-on-aws-lambda-with-the-jets-framework) and I started by changing the author to myself.

I submitted the form and rather than an HTML page I received a short JSON document describing a couple of attributes

[2019-05-17 21:20] phlash commented on #2790
same (or similar) here, I tweeted first, then remembered I can post a bug report :)
https://twitter.com/PhlashGBG/status/1129332311995179009

On FF 60.6.3esr, Debian 9.9 (stable) fully patched. I log in with Twitter.
![Screenshot from 2019-05-17 21-36-50](https://user-images.githubusercontent.com/649715/57956712-e0792d00-78f1-11e9-828f-d91473396bab.png)

[2019-05-17 21:22] Zhao-Andy commented on #2871
Hey @philnash, what was the article title? Or if you'd rather keep it private, feel free to [DM me via Connect](https://dev.to/connect/@andy) or send an email to yo@dev.to.

[2019-05-17 21:29] Zhao-Andy commented on #2871
@philnash I've manually updated the article and it should appear in your organization's dashboard now. Let us know if otherwise though!

As for the bug itself, we'll take a look into it.

[2019-05-18 01:48] omenking commented on #2871
I have a similar issue. I went to edit my post and its completely empty.
This is a major bug

[2019-05-18 03:04] ashleemboyer commented on #2850
Weird! Some emojis work, like this one: 😈

[2019-05-18 03:09] nickytonline commented on #383
Based on the comments in the post I made above, I've started to work on setting up the front-end code base for TypeScript. I haven't pushed anything to GitHub yet, but here's where I'm at.

* I converted the Search components to TypeScript
* eslint configured for TypeScript (still some things I'm ironing out)
* Fixed some types that we'll be consuming, i.e. https://github.com/developit/linkstate/i

[2019-05-18 07:38] rhymes commented on #2871
Hi @omenking thanks for the reporting this issue, was your post originally imported with the RSS feed as well?

@Zhao-Andy I tried to reproduce this by creating a post and then editing changing the body locally with both editors but failed. It's probably tied with the RSS logic somehow. I'll keep digging

[2019-05-18 09:19] rhymes commented on #2836
There's also [audited](https://github.com/collectiveidea/audited) which is smaller in scope than papertrail

[2019-05-18 10:28] omenking commented on #2871
I don't utilize RSS feed import.
I had written and saved the article.
In a new browser session when I returned to edit the body was completely blank.

[2019-05-18 10:30] rhymes commented on #383
Hi @nickytonline, thanks for the update and for the proof of concept! Your explorations are always appreciated!

I'm a little bit scared by the on off switch on TS to be honest because it will result (albeit temporarily) in 3 code bases (js legacy, jsx files and type script files) instead of 2 without actually improving the code. It also burdens the contributor: they have to be familiar with two l

[2019-05-18 10:50] ClaraMorgen commented on #1491
@mariocsee Are you still on it? I think I would like to have a look at it!

[2019-05-18 10:53] Link2Twenty opened #2877 "Reaction panel on mobile"
The reaction panel looks a little top heavy to me. Would it look better to centralise the buttons within it?

I would propose changing the padding here
https://github.com/thepracticaldev/dev.to/blob/e7306d2e63ae4247b6dc484b9a3ca0d14a467d1f/app/assets/stylesheets/article-show.scss#L849-L856

to

[code]

Before:
![image](https://user-images.githubusercontent.com/3534427/57968451-c1ff4a00-7962-11e9-8

[2019-05-18 14:17] nickytonline commented on #383
@rhymes, Here's a bit more context on the proof of concept (POC). This will allow you to use TypeScript (TS) in the project, but you are not forced to. It also only applies to the modern portion of the application, e.g. `app/javascript`. Also, whenever we do go forward with this (hopefully yes 😉), I'm happy to help pair with devs contributing to the frontend codebase.

I get the fracturing, but it

[2019-05-18 15:03] tannakartikey opened #2879 "Upgrade Rails to 6.0"
**Is your feature request related to a problem? Please describe.**
The Rails 6.0 rc1 is [released](https://weblog.rubyonrails.org/2019/4/24/Rails-6-0-rc1-released/). Although it's not a final release, companies like Shopify and Github are already using it. So, we can at least start with creating the list of the tasks required to achieve the successful upgrade.

**Describe the solution you'd like**

[2019-05-18 15:09] sleepyfran commented on #2850
I can't reproduce it in Safari or Chrome on macOS, maybe it's an Ubuntu issue?

[2019-05-18 15:20] itsjzt commented on #2799
Oh, are you going to fix it, in our site

[2019-05-18 15:33] rhymes commented on #2879
Hi @tannakartikey that's quick! :-) I know me and other DEVers (is DEVer a thing? ahhaa) have been keeping an eye on Rails 6 for one or another reason.

There's a lot of cool stuff (Action Mailbox, multi DB and parallel testing for example). I'm a bit bummed that Action Text (Trix) does not support Markdown but hey, maybe in the future. I'm also excited for the new autoloader to be honest :D

Thou

[2019-05-18 16:20] Zhao-Andy commented on #2871
Hey @omenking, so to clarify you:
1. went to `/new`
2. wrote an article and submitted it to save as a draft
3. started a new and different browser session
4. went to your dashboard and clicked "edit" on your article
5. the article's body was blank.

If so, I think what you're describing is a different issue than Phil's issue. Were you writing an article under an organization?

If you'd like to [DM

[2019-05-18 17:42] Zhao-Andy commented on #2871
@philnash after investigating, I think the issue came up after we updated how our `articles_controller` handles updates. TL;DR - if you need to change the authors of one of your organization's posts, feel free to DM me and we can change it for you until the bug is fixed.

### Bug findings:
Right now, if you change the article's author via your organization dashboard, it'll send a `PUT /articles/:i

[2019-05-18 19:53] omenking commented on #2871
It was an organization article for myself.

[2019-05-19 16:19] qm3ster commented on #1767
a comment

[2019-05-19 20:05] cyrillefr commented on #1996
Hello, I'd like to help with the remove_each method.

[2019-05-19 23:33] M0nica opened #2883 "Poor contrast on badge notification"
**Describe the bug**
There is low contrast on the badge text in the notifications screen

**To Reproduce**
Steps to reproduce the b

ehavior:

1. Go to 'https://dev.to/notifications'
2. Scroll down to badge
3: See poor contrast

**Expected behavior**
Higher contrast text for "Happy DEV birthday! Can you believe it's been 2 years already?!"

**Screenshots**
If applicable, add screenshots to help ex

[2019-05-20 00:50] Adam24 opened #2885 "Problem signing into dev.to"
**Describe the bug**
Attempting to sign in with both authentication methods causes the page to endlessly load

**To Reproduce**
Steps to reproduce the behavior:

Try to sign in on iPad safari private mode on iOS 12.3 public beta

**Expected behavior**
I expected to successfully sign into the site.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please comp

[2019-05-20 00:52] Adam24 commented on #2885
This occurs off and on.

[2019-05-20 05:34] weekly-digest[bot] opened #2886 "Weekly Digest (13 May, 2019 - 20 May, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 81 issues were created.
Of these, 54 issues have been closed and 27 issues are still open.
## OPEN ISSUES
:green_heart: #2884 [Add Anchor Links To The Post Editor Guide](https://github.com/thepracticaldev/dev.to/pull/2884), by [mstruve](https://github.com/mstruve)
:gre

[2019-05-20 13:08] rhymes commented on #2879
One thing I'd like to see happen before an eventual move to Rails 6 is a migration towards Webpack 4 (see #2034) and towards [Active Storage](https://guides.rubyonrails.org/active_storage_overview.html) which supports file and cloud storage and direct uploads to the cloud.

The migration to Webpack 4 would generate better JS chunks and open up Babel 7 to us.

Active Storage contains a lot of neat

[2019-05-20 13:23] rhymes commented on #2879
This is a really good resource about neat things in Rails 6:

[Rails 6: B-Sides and Rarities](https://evilmartians.com/chronicles/rails-6-b-sides-and-rarities)

My favorite things about Rails 6:

* multi DB support and parallel testing
* bulk inserts and upserts (!!)
* this feature about Active Job jobs:

Basically you can easily track how efficient is the queue and if you have enough workers for

[2019-05-20 14:51] vnbrs opened #2902 "Add more stats to user profile/author box"
**Is your feature request related to a problem? Please describe.**
A pinch of gamification is something really important when talking about community engagement. And dev.to is doing well! We have reactions (hearts, unicorns and tags) and badges. That is important to engage people into writing more, and even (w/ badges) contributing to the dev.to codebase.

**Describe the solution you'd like**
To e

[2019-05-20 16:59] #1655 closed

[2019-05-20 16:59] #1733 closed

[2019-05-20 17:01] maestromac commented on #193
not stale

[2019-05-20 17:12] #2886 closed

[2019-05-20 17:17] jessleenyc commented on #2868
Let's update the error message for clarity.

[2019-05-20 17:26] tannakartikey commented on #2497
@lightalloy can I work next on `send_email_notification`?

[2019-05-20 21:52] michael-tharrington opened #2907 "Blank Autogenerated Card/Image Appearing for Article on Twitter"
**Describe the bug**
The autogenerated social card that appears with articles on Twitter when they don't have a cover image is blank.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to post an article - https://dev.to/new
2. Add the title "Postman, Ajax endpoints and XSRF tokens"
3. Write enough info to succesfully save the post, and set publish to true
4. Copy URL of post and visit http

[2019-05-20 22:37] FarazPatankar commented on #2671
Taking a look at this now and noticed that the margin we're using is a bit much and that is what is causing the issue. One possible solution would be to use a smaller margin based on the display size but the solution I'd like to go for is to not depend on the margins at all.

We could simply use flexbox with `justify-content` and it will space the items based on the display size automatically. I j

[2019-05-20 22:50] #2871 closed

[2019-05-21 00:31] M0nica commented on #2883
I opened a PR to address this but I am not sure how to trigger a test notification in dev.

I tried updating `badge_rewarder.rb` the 24 to 0 and -1 after leaving a reaction on a comment and running `bin/rails jobs:work` after running`bin/rails jobs:clear`

`  def self.award_beloved_comment_badges
    Comment.where("positive_reactions_count >= ?", 24).find_each do |comment|` .

Any recommendations

[2019-05-21 01:22] Zhao-Andy commented on #2883
Hey @M0nica, you should be able run this script in `rails console` to send yourself a badge notification:
[code]

[2019-05-21 10:36] lightalloy commented on #2497
@tannakartikey yep, it's free :+1:

[2019-05-21 10:38] lightalloy commented on #1996
I will work on `send_to_followers` because it seems to cause occasional delayed_job errors.

[2019-05-21 12:45] benhalpern opened #2911 "Change video player"
We currently use JWPlayer for video, which is solid, but I think it would be nice to switch to something open source and possibly more extensible.

Here's one that seems to fit the bill in terms of the hls we use:

https://github.com/video-dev/hls.js/

One big motivation for me wanting to make this fix is that the `playsinline` functionality is needed for the proper experience within the iPhone ap

[2019-05-21 13:19] kay-is commented on #2824
Can we get rid of the scroll-in-scroll?

Somehow the text area has a scroll indicator that only allows to scroll a few centimeters and the whole page has one used to scroll the whole document.

![Imgur](https://i.imgur.com/P27yXvh.png)

[2019-05-21 13:34] lightalloy opened #2914 "StoriesController refactoring"
Currently, `StoriesController` has a lot of responsibilities, such as:
- rendering homepage
- articles by time
- article page
- user profile
- user comments page
- organization page
- podcast episode page
- podcast episodes list

Done:
- rendering articles by tag #13457
- search #14377

These responsibilities should be **separated and placed into their own controllers** because:
- the code would b

[2019-05-21 13:41] M0nica commented on #2883
Thank you @Zhao-Andy for the script. It was super valuable as I am new to Ruby and still getting familar with the dev.to codebase.  I was able to run it and trigger a test notification with slight modification after setting up the database.

[code]

[2019-05-21 15:25] rugk opened #2916 "status:422 – error:Unprocessable Entity"
**Describe the bug**
When i try to save my post, it shows me an error.

**To Reproduce**
Steps to reproduce the behavior:

1. Copy the raw text from https://gist.github.com/rugk/a5725a7c40e9dd8dc95da2c4062f317d.
2. Try to save it as a new post.

**Expected behavior**
Should work.

**Screenshots**
![image](https://user-images.githubusercontent.com/11966684/58109009-16b5f580-7bed-11e9-9a96-eaae50701

[2019-05-21 15:32] rhymes commented on #2916
Hi @rugk I think it's because you're beyond the limit of tags (max 4)

Sorry if the error message is misleading, it'll get updated soon

[2019-05-21 15:35] rugk commented on #2916
Yeah, seems to work now though…

Published: https://dev.to/rugk/dyk-your-website-can-get-a-dark-mode-toggled-by-your-operating-system-inl

[2019-05-21 15:35] #2916 closed

[2019-05-21 15:52] bdougherty commented on #2911
I highly recommend [sampotts/plyr](https://github.com/sampotts/plyr). It supports hls.js.

[2019-05-21 15:59] tannakartikey opened #2917 "Provide test coverage for PingAdmins service"
The [`PingAdmins`](https://github.com/thepracticaldev/dev.to/tree/master/app/services/ping_admins.rb) service is not covered by specs. The code needs to be refactored to remove [`Rails.env.production?`](https://github.com/thepracticaldev/dev.to/blob/master/config/initializers/slack_notifier.rb#L29) check from [SlackBot](https://github.com/thepracticaldev/dev.to/blob/master/config/initializers/slac

[2019-05-21 16:14] rugk opened #2919 "After Twitter auth it claims I am offline"
**Describe the bug**
The Twitter auth does not work.

**To Reproduce**

1. Sign in with GitHub.
2. Try to connect Twitter.

**Expected behavior**
Works.

**Screenshots**
![](https://user-images.githubusercontent.com/11966684/58112638-34d32400-7bf4-11e9-9ebf-f897cfae91d2.png)

**Desktop (please complete the following information):**

- OS: Fedora 30
- Browser Firefox 68

[2019-05-21 16:17] Zhao-Andy commented on #2919
Hmm, hard to say what the cause is but it might be OS related. Could we see your browser console's logs?

You can also try resetting your service workers in Firefox via `about:serviceworkers` and unregistering dev.to's service worker.

[2019-05-21 16:23] tannakartikey commented on #2879
@rhymes we can start with ActiveStorage meanwhile the work on #2034 is finished.
Right now upgrade to Rails 6 just shows a bunch of dependencies which has to be taken care of. So, it will give us some time and to those gems, we are using to catch up with Rails 6, as you suggested earlier.

[2019-05-21 17:06] rugk commented on #2919
Don't know how to get these logs…

`about:debugging` shows me this:
![image](https://user-images.githubusercontent.com/11966684/58115941-71564e00-7bfb-11e9-9240-c7b98168334c.png)

`about:serviceworkers`
![image](https://user-images.githubusercontent.com/11966684/58115963-7c10e300-7bfb-11e9-94f7-8514dc8a9071.png)

[2019-05-21 17:12] rugk commented on #2919
Unregistered the service worker and trying again did not work.

On the `https://dev.to/users/auth/twitter/callback/…` site itself, no (special) logs were displayed.

[2019-05-21 17:52] M0nica commented on #2883
This issue should be resolved now as https://github.com/thepracticaldev/dev.to/pull/2909 was merged.

[2019-05-21 17:52] #2883 closed

[2019-05-21 18:56] washingtonsteven opened #2924 "Error when Writing a post with "data:text/html" in it"
**Describe the bug**
When creating a post, if the body of the post has the text "data:text/html" in it, the post fails to save. This is mitigated by anything breaking up that text ("data:text\/html", "data :text/html", etc.)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/new
2. Enter "data:text/html" in the body of the text
3. Attempt to save, view error.
4. Break up t

[2019-05-21 19:18] #2868 closed

[2019-05-21 19:48] cfjedimaster opened #2925 "Escaping Vue code with backticks works partially"
**Describe the bug**
According to the docs, we can escape Liquid tags, Vue tags, with backticks, so: (backtick){{ foo }}(backtick). Not sure how to escape backticks in GitHub, so forgive me. ;)

In my testing this "worked" as in my Vue template tokens showed up, but so did the backticks, you can see it here: https://dev.to/raymondcamden/reading-client-side-files-for-validation-with-vue-js-2io9

**

[2019-05-21 19:55] maestromac commented on #2671
Resolved with https://github.com/thepracticaldev/dev.to/pull/2910

[2019-05-21 19:55] #2671 closed

[2019-05-21 19:59] Zhao-Andy commented on #2925
Hmm, looking at your post and the screenshot you gave, the text inside `<tr v-for>` _should_ be rendering the single backticks because it's within a codeblock of triple backticks. Perhaps I'm missing something?

If you want to escape Liquid tags/Vue tags (double curly bracket) regularly outside of a codeblock, that's when you would use single backticks.

[2019-05-21 20:09] maestromac commented on #1832
not stale

[2019-05-21 20:23] cfjedimaster commented on #2925
You know - I think I figured out the issue. When I *originally* posted to my blog, I forgot to escape them. dev.to sucked in that version from RSS, and I bet they were hidden there. So when I fixed it on dev.to, I added the tags AND the backticks. Let me try removing them.

[2019-05-21 20:24] cfjedimaster commented on #2925
Yep, brain fart on my side. Sorry! :)

[2019-05-21 20:24] #2925 closed

[2019-05-21 20:29] rhymes commented on #2924
Hi @washingtonsteven, that shouldn't happen, we're working on more explanatory error message to be shown in the editor, thank you for the bug report!

[2019-05-21 20:32] washingtonsteven commented on #2924
Thanks! If you're updating the messaging, does that mean that I still won't be able to publish a post with the text "data:text/html" in it? If so I will rewrite instead of waiting for the PR to be accepted.

[2019-05-21 20:50] rhymes commented on #2924
@washingtonsteven no sorry you won't be able to, we should probably think of a way to make that possible, at least if contained in backticks, like `data:text/html`. In the meantime you can put a space between `data:` and `text/html`, I know... it's ugly.

I'll keep this issue open to come up with a better solution in the future

Thank you again!

[2019-05-21 21:24] phlash commented on #2790
@jessleenyc  Sorry to bug you on this, but I have been unable interact with anything on dev.to (posts, people, my profile) for over a week now due to this regression. For me dev.to is now useless in Firefox, it of course works in Chromium (which I would rather not use thanks).

[2019-05-21 22:28] jessleenyc commented on #2790
Hey @phlash -- I'm going to send you a quick email. Wondering if you can help me troubleshoot on your end.

[2019-05-21 22:28] jessleenyc commented on #2790
Also, for everyone who's experiencing this: do you have any extensions installed that could be affecting this?

[2019-05-21 22:31] jessleenyc commented on #2790
@phlash did you change your github username recently? I'm wondering if this may be the cause. I can't find a DEV profile that matches your exact github username right now, so I'm actually unable to email you. Mind emailing me directly at jess@dev.to?

[2019-05-21 22:46] ThomasTheSpaceFox commented on #2790
@jessleenyc The only browser extension i use (aside from chatzilla and the DOM inspector which ship with seamonkey) is a gopher protocol plugin.

[2019-05-22 06:16] remy commented on #2790
I ran my original test and reproduction in an incognito window with extensions disabled.

[2019-05-22 10:50] lightalloy opened #2933 "Error when trying to save an invalid post"
**Describe the bug**
The user gets a "stuck" screen instead of error messages when the post is not saved

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the '/new' page (new post form)
2. Fill in the post title and description
3. Write a long tag in the tags input (e.g. "mysuperlongtaghelloworld", which is > 20 symbols long)
4. Click "save draft" or "publish"
5. See "Saving Draft" at

[2019-05-22 11:09] lightalloy opened #2934 "Error while trying to bust tag cache when tag contains a blank in its name"
I stumbled upon this error while inspecting failed delayed jobs.

**Describe the bug/To Reproduce**
Probably, tags shouldn't contain blanks in their names, but there's no validation on the backend. And it's possible to insert such a tag to the post form, e.g. by copy-paste (or by modifying HTML code).
So, the tag will be saved. Later, when there will be a need to bust this article cache, an error

[2019-05-22 12:49] rhymes commented on #2933
Hi @lightalloy, I believe this was solved by https://github.com/thepracticaldev/dev.to/pull/2922 - try rebasing the code. If you're still experiencing it with the latest master, it might be something else going on.

[2019-05-22 12:52] #2933 closed

[2019-05-22 13:23] hcarnes commented on #2670
Hi! I would like to work on this.

[2019-05-22 14:32] zcdunn commented on #1607
not stale. As stated in https://github.com/thepracticaldev/dev.to/issues/2617#issuecomment-492322189, the UI will be updated to resolve this issue

[2019-05-22 16:13] asantos00 commented on #2311
Hi guys, while looking at some of my posts I found the need to have better analytics support. Is this something that is done on the API but not on the front-end side. What is the state of it?

[2019-05-22 17:29] jessleenyc opened #2937 "Manage Moderator Notifications"
**Is your feature request related to a problem? Please describe.**
Right now all community mods receive sporadic notifications to review random comments. Some folks may not want to participate in this type of moderation so we should provide a way to opt-out in user settings.

[2019-05-22 17:32] #2673 closed

[2019-05-22 18:03] maestromac commented on #2290
Resolved with https://github.com/thepracticaldev/dev.to/pull/2381

[2019-05-22 18:03] #2290 closed

[2019-05-22 18:30] jessleenyc commented on #1641
I believe @benhalpern knows what's going on but we're waiting to fix because it'll require running a long script.

[2019-05-22 18:33] jessleenyc opened #2939 "Can we get rid of the scroll-in-scroll?"
Can we get rid of the scroll-in-scroll?

Somehow the text area has a scroll indicator that only allows to scroll a few centimeters and the whole page has one used to scroll the whole document.

![Imgur](https://i.imgur.com/P27yXvh.png)

_Originally posted by @kay-is in https://github.com/thepracticaldev/dev.to/issues/2824#issuecomment-494387508_

[2019-05-22 18:36] jessleenyc commented on #2824
Hey @kay-is! Just created a new issue to address the scrollbar: https://github.com/thepracticaldev/dev.to/issues/2939

I'm going to close this one since we updated the text from publishing -> saving and explained that the v1 editor got some updates recently.

[2019-05-22 18:36] #2824 closed

[2019-05-22 18:38] jessleenyc commented on #2911
@benhalpern a note that we should provide some video files and instructions on how to work on this locally.

[2019-05-22 18:41] jessleenyc commented on #2907
@mscoutermarsh do you have any thoughts on this?! @michael-tharrington was able to recreate this with the same title but it's not happening to any other titles.

[2019-05-22 18:42] ItsASine opened #2940 "Modify the experience of Draft sharing"
**Is your feature request related to a problem? Please describe.**
The only true problem I have is if someone shares with me their in-progress post, the header is still there. Selecting the button to edit the draft (because why not, it's there :P) causes an error (404 iirc). Attempting to comment on a draft share also results in an error, though that doesn't result in a redirect to the 404 page.

[2019-05-22 18:50] mscoutermarsh commented on #2907
@jessleenyc weird! no ideas off top of my head. Going to look 👀

[2019-05-22 18:55] jessleenyc commented on #2853
We haven't reached a consensus on this with the team and are going to give it some more thought. Thanks again for the request.

[2019-05-22 18:56] jessleenyc commented on #2862
@giventofly definitely agree with this. Approved this issue for anyone who wants to work on it.

[2019-05-22 19:29] jessleenyc commented on #2862
@mariocsee sorry totally didn't see that you already submitted a PR for this. Was just updating some issues with yesterday's notes!

[2019-05-22 19:31] mariocsee commented on #2862
all good, @jessleenyc 👍

[2019-05-22 20:06] hwolfe71 commented on #2919
Could this be related to bug #2790?

[2019-05-22 20:10] rugk commented on #2919
Mhh, could be, don't know.

[2019-05-22 21:05] mscoutermarsh commented on #2907
@jessleenyc @michael-tharrington

This should be fixed now. I'll keep an eye on it.

I looked through hundreds of images and found a couple where this happens 😄. I believe we are seeing "FOIT" aka "Flash of Invisible Text" that can happen when a google font loads slowly. I tweaked our google fonts script to better handle for this. So we shouldn't see this happening anymore.

@michael-tharrington t

[2019-05-22 21:31] michael-tharrington commented on #2907
Awesome! Thanks so much for the fix. Sounds like you put in a good bit more work than I did, haha! 😀

That was super quick turnaround! Nicely done. 👍

[2019-05-22 22:05] mariocsee commented on #1491
@ClaraMorgen I ended up working on something else then. Go for it!

[2019-05-22 23:13] FarazPatankar commented on #2365
I'd like to pick this up. Could you elaborate on what you mean by adding two fields? Shouldn't simple string type field suffice for this?

[2019-05-23 03:59] sivaraam opened #2942 "Recent change takes up more screen space on smaller screens"
**Describe the bug**
I recently noticed that the bottom bar which has the 'Heart', 'Unicorn', etc., icons seems to be taking more space than it did some time ago. It's height is twice as it was some time (probably a month) ago. As a consequence, it's taking up more space on my small screen and the space for content has reduced. It would be nice if this issue could be fixed by making it take up onl

[2019-05-23 12:33] FarazPatankar opened #2943 "Allow users to add links in the projects and hacks section on the profile"
**Is your feature request related to a problem? Please describe.**
It would be nice if we could add links to our projects in the `projects and hacks` section on the profile.

**Describe the solution you'd like**
I guess I mentioned the solution in the problem section itself so I'll use this space to discuss possible implementations.
- One way would be to allow Markdown in there so the users can ea

[2019-05-23 14:56] pldg opened #2944 "How to cross-posting?"
I'm trying to cross-post from a gist containing a single markdown file. I set `canonical_url: https://gist.github.com/{my_gist}`, then I check the post preview, but nothing happen. I've tried on both the v1 and v2 editors.  Anyone can help?

[2019-05-23 17:06] Zhao-Andy commented on #2944
Hi @pldg, we currently only support crossposting via RSS. If you're transferring from markdown to our editors, the best way would be to copy and paste. If you have a lot of posts, then you might want to setup an RSS feed. Not sure if GitHub gists have an RSS feed that you might be able to use.

To crosspost via RSS, you can follow the steps in your RSS settings on dev.to: https://dev.to/settings/p

[2019-05-23 17:40] #2944 closed

[2019-05-23 21:31] jessleenyc commented on #2365
@FarazPatankar Awesome. So instead of having a specific pronoun field, we'd like to give people two fields on their profile to put whatever they want. For example:

Key1: Value1 (ie. Pronoun: She/Her/Hers)
Key2: Value2 (ie. Fav programming movie: title)

In this situation, the user would decide that for field1, they want to share their pronoun. In field2, they can share something else, which could

[2019-05-23 21:33] FarazPatankar commented on #2365
Oh, that sounds really cool. Do you have any thoughts on how you'd like for it to be implemented?

[2019-05-24 03:15] bolariin commented on #1313
I would like to resolve this

[2019-05-24 10:04] mjraadi commented on #2846
@mariocsee Thanks for reporting this issue.
My understanding is that they used CSS grid system to build a masonry style layout to display all the listing items. To make each listing container tall enough based on their content, they used a JavaScript function which will go through each individual item and set the number of grid rows that it should span to. This function is triggered for different

[2019-05-24 11:25] lightalloy commented on #2525
I have made the research on the topic and still suppose that this error happens when 2 reaction notification jobs run simultaneously. 2 notifications with the same attributes are initialized, then. on `save!` one of them is not saved because the user validation fails.
However, it's not clear why this job doesn't succeed on retry. On retry, the `find_or_initialize` should be executed again, so it s

[2019-05-24 11:35] marcidenmark opened #2949 "Dev.to website doesn't open in Safari"
I am on Mac on Mojave iOS on a laptop.

Site does open in Chrome.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots t

[2019-05-24 11:37] lightalloy opened #2950 "Remove unused `_without_delay` methods"
While asynchronous methods are being moved to separate Active Jobs (#1996, #2497), we keep `_without_delay` methods for a while, because the jobs that use this method can still exist at the moment of deploy.
But eventually, we need to delete them to declutter because most of them are not actively used in the codebase.
Some of these methods are used in the codebase explicitly. I suppose that it's w

[2019-05-24 11:38] lightalloy commented on #2950
This ticket is partially "blocked" by #1996, #2497 since they are not finished, but this work can be done gradually.

[2019-05-24 11:43] benhalpern opened #2951 "Listings creation (and update) API"
Similar to the new beta [articles API](https://dev.to/api), we should have something similar for listings.

It's a matter of creating a `listings_controller` in the API subdirectory and following the same user authentication practice we use for `articles_controller`.

I think we can copy the logic over from the current controller, ideally unifying it in `Creator` and `Updater`-type object.

I put

[2019-05-24 12:34] #1491 closed

[2019-05-24 14:18] lightalloy opened #2952 "Improve podcast fetching"
This is a part of Podcast section enrichment #271

- sometimes "This podcast may not be playable" is displayed when a podcast is playable (https://dev.to/jsjabber/mjs-107-dan-fernandez), fix it
- find out why some podcasts are not playable and how to deal with it
- rescue specific errors instead of `StandardError`
- pull episodes asynchronously (1 job for each podcast)
- add more tests for `Podcas

[2019-05-24 14:23] Zhao-Andy commented on #2952
Quick point about the "This podcast may not be playable": it was originally intended to display for podcasts that are hosted with SoundCloud. At the time, SoundCloud didn't have HTTPS links for their hosted podcast episodes. Non-HTTPS links were therefore not playable inside the `<audio>` tag. This might have changed now.

[2019-05-24 14:29] lightalloy commented on #2952
Thanks for the clarification, Andy. I'll consider this.

[2019-05-24 15:18] benhalpern commented on #2952
Yeah, it also acted as a bit of a catch-all for problems we were having.

My thoughts are that _if_ a podcast isn't playable, aka we detect as such on the client, we send a ping to the server to mark it as unplayable and then have an admin dashboard where we investigate.

If any podcast is wholly unplayable due to https-related issues, we should just delist it. This is not really related to fetchi

[2019-05-24 16:13] maestromac commented on #2949
Hello @marcidenmark . What do you see when you navigate to `Dev.to`? Can you please share a screenshot with us?

[2019-05-24 16:27] maestromac commented on #423
not stale

[2019-05-24 16:53] #2210 closed

[2019-05-24 17:42] maestromac commented on #2525
I feel like I've heard of this race condition before. Definitely one of of DHH's video and maybe the reason why `create_or_find_by` will be added to Rails 6.

I agree with switching to `save`. Shouldn't be too big of a deal.

[2019-05-24 20:07] Glennmen opened #2955 "Twitter polls"
**Is your feature request related to a problem? Please describe.**
Currently the Twitter liquid tag doesn't include polls.
I went through the [Twitter API docs](https://developer.twitter.com/en/docs/tweets/enrichments/overview/poll-metadata) and it seems that Twitter does return poll metadata in entities. I tried working on it myself but it seems that the free dev API doesn't return poll metadata.

[2019-05-24 20:48] abraham commented on #2955
Ya, the Twitter API only returns poll info for clients with Enterprise level access and even then it only includes the options, not the vote counts.

[2019-05-25 15:19] mandaputtra opened #2958 "Crtl + click should open a new browser tab on podcast page."
**Describe the bug**
CTRL + Click should open a new tab on the browser, instead of stopping podcast first and then goes to the links.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to 'Podcast Page'
2. Play any podcast
3. If there any external links `crtl + click` (I use Linux and Windows I dunno what shortcut on Mac)

**Expected behaviour**
It should open a new browser tab, not an ale

[2019-05-26 00:26] sw-yx commented on #1172
uh oh :(

[2019-05-26 08:08] unixnut opened #2960 "Font size is too big on mobile site in Chrome for Android"
I created an account and logged in but there is no control for this in the settings.

[2019-05-26 11:58] itsjzt opened #2961 "More easily reachable night mode button"
**Is your feature request related to a problem? Please describe.**
I frequently shift between Night mode and normal mode, and I need to go through 3 pages to just change this setting

**Describe the solution you'd like**
It would be nice if we can have a night mode toggle in the top navbar

**Describe alternatives you've considered**
Alternatively I mostly switch between dark mode in evenings and

[2019-05-26 17:38] rognoni opened #2963 "Markdown Source Link"
Expose the markdown files used to build posts and articles.

Could we add a **source link** between Github link and the date info?

![markdown_source](https://user-images.githubusercontent.com/8401602/58385253-b14b7580-7fed-11e9-8d13-c66a15caf4c0.png)

[2019-05-26 18:48] mkrl opened #2964 "Liquid syntax error in comments returning 500 without a proper message"
Whenever there is an inappropriate liquid tag in a comment you are trying to post, you get no proper error message upon submitting.

**To Reproduce**

1. Go to any DEV post
2. Type in any invalid liquid tag starting with `{%`
3. Click on "Submit"
4. It now looks like it's just taking a while to deliver your request to the server, but it actually already got a 500 back, However, if you click on "Pr

[2019-05-26 21:18] sw-yx commented on #1868
uh oh :(

[2019-05-27 01:44] wangonya commented on #212
Hey there! Was just about about to open a similar issue when I saw this. Not sure this really works as expected. I have repos that I pinned months ago and others that I just pinned recently. None are updating the stars count. How long exactly should this take? Should I open a new issue for this? Thanks.

[2019-05-27 05:34] weekly-digest[bot] opened #2967 "Weekly Digest (20 May, 2019 - 27 May, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 79 issues were created.
Of these, 48 issues have been closed and 31 issues are still open.
## OPEN ISSUES
:green_heart: #2965 [Refactor: fix issues raised by bullet](https://github.com/thepracticaldev/dev.to/pull/2965), by [rhymes](https://github.com/rhymes)
:green_hea

[2019-05-27 10:46] lightalloy commented on #2525
The solutions could be:
- `create_or_find_by` instead of `find_or_initialize_by` + second `save` (after assigning other attributes) inside a transaction (on Rails 6)
or
- use Postgres "upsert" (`INSERT ... ON CONFLICT UPDATE`). There's also a gem for that: https://github.com/jesjos/active_record_upsert
If we use the second option, we have to l avoid unique validation on `user` and rely on database

[2019-05-27 11:04] rhymes commented on #2525
Upsert support is also coming in Rails 6 fortunately. That could be a valid way. I don't know well the status on foreign keys between table but IIRC there are some relations that are only enforced on the Rails level and not by the DB, which could complicate things down the line.

Another possibility could be to use pessimistick locking: the first job acquires the lock on the notification row if fo

[2019-05-27 11:56] tannakartikey commented on #2497
@lightalloy can I work next on `models/mention.rb`?

[2019-05-27 12:03] andreanidouglas opened #2968 "ctrl+0 on windows, hide the top menu bar instead of resuming windows to original zoom"
**Describe the bug**
When trying to reset the page zoom level to 100%, the page hides the topmost taskbar instead of zooming in/out

**To Reproduce**
apply a different zoom level (ctrl+scroll wheel)
click ctrl+0 to return to zoom level 100%

**Screenshots**
![image](https://user-images.githubusercontent.com/684650/58418429-1ccd2b80-805e-11e9-8493-53352746b6b6.png)
![image](https://user-images.gith

[2019-05-27 12:13] rhymes commented on #2968
Thanks for the bug report, solid find!

I think this has to with `0` that has been added as a global key to hide the topbar. It probably doesn't distinguish in the case of a modifier being present.

[2019-05-27 12:55] nickytonline commented on #2968
You'll probably need to check if the [event.metaKey](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/metaKey) is being pressed as well.

[code]

[2019-05-27 13:04] lightalloy commented on #2525
@rhymes thanks for the links! It's an interesting read. I knew about the locks, but havent considered them in this situation.

In this case, the error appears on create (not update) so to be able to lock it we have to create it first.
E.g. we replace `find_or_initialize` + `save!` (the current implementation) with `find_or_create_by` +`lock!` + `save!` inside a transaction.
`lock!` will be execute

[2019-05-27 13:05] nickytonline commented on #2968
@rhymes, this would probably be a great first issue for someone looking to start contributing to the frontend codebase.

[2019-05-27 13:11] lightalloy commented on #2497
@tannakartikey sure :+1:

[2019-05-27 13:26] rhymes commented on #2525
I think you're right, thanks for the detailed explanation. Record locking won't work because of the `create`, and table look on the notification table is definitely a no :D I vote for UPSERT. Let's use the DB for what was made for 🥳

[2019-05-27 13:30] rhymes commented on #2968
@nickytonline my bad, I went ahead and fixed it :(

[2019-05-27 15:02] Shosta commented on #659
As it should be designed for the Frontend and not the Backend, how could wwe move it to Frontend?
Should we evver consider to do it on the Frontend?

[2019-05-27 16:56] rhymes commented on #2648
I've explored this a bit but I've got stuck at some point.

The main issue is that a gist embed like

[code]

results in the following script tag:

[code]

but [dangerouslySetInnerHTML](https://reactjs.org/docs/dom-elements.html#dangerouslysetinnerhtml) won't execute script tags.

The alternative I tried was to use a React HTML parser, I tried [html-react-parser](https://github.com/remarkablemark/

[2019-05-27 17:00] rhymes commented on #2121
@co16353sidak I'm going ahead and close this now that the reading list UI has changed and the hover issue is not present anymore.

[2019-05-27 17:00] #2121 closed

[2019-05-27 17:16] rhymes commented on #1123
The quickest fix, keeping the current HTML is the following:

[code]

by adding a `z-index` that's 1 unit more than the `.actions`'s `z-index` the URL becomes selectable again.

I tested it with Firefox and Chrome and it works

[2019-05-27 17:42] aimenbatool commented on #2795
Hi @maestromac, Thanks for updating.

I don't know the reason for getting articles twice and at that time I was also unable to delete duplicate articles because there was no *Delete* button visible to me. But after a few days, I was able to see the delete button so I deleted the repeated articles and then published those.

Because of duplicate articles, I was also not able to publish them. But It

[2019-05-27 20:05] GeorgeColdham opened #2981 "Invalid CodePen URL for usernames containing an underscore"
**Describe the bug**
When trying to create a new post which contains a CodePen link, the editor will state that the CodePen link is invalid if the username within the CodePen url provided contains an underscore.

**To Reproduce**
Steps to reproduce the behavior:

_Example users with underscores:_
https://codepen.io/George_1/
https://codepen.io/cobra_winfrey/

_Example urls with underscores:_
https

[2019-05-27 20:12] GeorgeColdham commented on #2981
A quick hunt through the repo makes it seem like the issue is in [dev.to/app/liquid_tags/codepen_tag.rb : Line 50](https://github.com/thepracticaldev/dev.to/blob/b16fa4f8cc9f269a75751fc4379abf6ae92e5017/app/liquid_tags/codepen_tag.rb#L50)

[2019-05-27 20:17] shindakun commented on #2981
Yup should probably be `[a-zA-Z0-9_-]` to catch the underscore.

[2019-05-27 20:29] GeorgeColdham commented on #2981
Apologies, I’m on mobile and not in a position to make any changes. Thanks for confirming.

[2019-05-27 20:33] cyrillefr commented on #2497
Hello, @lightalloy , I'd like to work on bust_cache for models/organization.rb.

[2019-05-27 23:13] bolariin opened #2982 "Clipboard icon out of place"
**Describe the bug**
The clipboard icon used to copy an article link is below the input field in the dropdown share menu.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any article
2. Click on an dropdown-icon
3. See error

**Expected behavior**
I expected the clipboard icon to be on the same line as the input field with the link.

**Screenshots**
![Clipboard button displaced](https:

[2019-05-28 00:06] Zhao-Andy commented on #2981
Yep, as @shindakun said the regex prevents underscores. This is a great first issue for anyone interested in jumping on this.

[2019-05-28 00:06] Zhao-Andy commented on #166
Not stale.

[2019-05-28 00:15] melezhik opened #2983 "my login page seems to be broken on and off"
Hi dev.to devs! my login page seems to be broken on and off, see the screen attached. I can see a black circle in the right upper corner, but it's not clickable, in normal state it should be clickable and shows me submenu with login/logout options.

Regards

![Снимок экрана от 2019-05-27 19-07-50](https://user-images.githubusercontent.com/988105/58442776-246aef80-80b3-11e9-9e46-c0f45dff6844.png)

[2019-05-28 00:55] CalvinAllen opened #2984 "Auto Approve Posts Imported through RSS"
**Is your feature request related to a problem? Please describe.**
Ive already done the legwork to publish the posts I imported from my blog initially, but now with every single new post, I still need to esit the draft in dev.to, and mark it as published.

**Describe the solution you'd like**
I would love to set it up so any new posts made to my blog, and imported through RSS, are automatically se

[2019-05-28 02:39] aturingmachine commented on #2981
Hello, is it Ok if I pick this up?

[2019-05-28 08:22] amirition opened #2986 "Podcast is not playing in the browser"
**Describe the bug**
The podcasts are not playing in the browser. When I click on the play button of the podcast, nothing happens and it shows a console error.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a single podcast page like this: https://dev.to/freelancers/tfs-329-career-development
2. Click on the play section of the podcast
3. Open your developer tools and its console.
4.

[2019-05-28 09:57] AdamMcquiff commented on #394
@kleinfreund du hast rechts 👍

[2019-05-28 11:26] RJ-1998 opened #2987 "Progress Bar in PWA"
**Problem**
When we click a link on Dev.to PWA on Android smartphone the requested link loads without showing any kind of loading animation (Spinner or Progress Bar etc.) which results in a bad user experience. Similar is the case with Deaktop application.

**Solution**
Use [NProgress](https://github.com/rstacruz/nprogress) library to resolve such kind of issue. NProgress greatly blends with React

[2019-05-28 13:27] jessleenyc commented on #2984
@pkfrank I feel like you'll have some additional thoughts here as it relates to an email flow.

[2019-05-28 13:30] #2967 closed

[2019-05-28 13:37] pkfrank commented on #2984
@jessleenyc @CalvinAllen

I think a pretty solid experience would be to add a checkbox on the `/settings/publishing-from-rss` that allows the member to "receive an email when new drafts are imported."

At that point, the notification email can either "just" be a link to the draft (where the author would adjust the Front Matter), or we could potentially build a button into the email that automatica

[2019-05-28 13:45] jessleenyc commented on #2983
Thanks for flagging. I think you might be experiencing the same issue here: https://github.com/thepracticaldev/dev.to/issues/2790

Will keep you posted when it's fixed.

[2019-05-28 13:48] CalvinAllen commented on #2984
@pkfrank @jessleenyc Another, albeit perhaps strange implementation, would be to check the incoming post for some "dev to" meta tag.  I use Jekyll for my blog, so it would be "easy" to add another front matter tag that outputs the proper format for dev.to to latch onto during the import process.

I don't know whether its because I already use Jekyll / markdown / front matter / etc., but I have had

[2019-05-28 14:03] jessleenyc commented on #2986
Thanks for flagging this - we're working to improve the podcast section overall. https://github.com/thepracticaldev/dev.to/issues/2952

cc @lightalloy

[2019-05-28 14:04] jessleenyc commented on #2958
@lightalloy just wanted to bring this to your attention!

[2019-05-28 15:22] nickytonline commented on #338
not stale

[2019-05-28 15:50] jessleenyc commented on #2825
I think what I described above is the quickest start. Would be nice to eventually:
- publish / bump directly from this view

Right now the biggest pain point is that you need to search for listings in order to edit one and if that listing has expired...it won't show up and you can't republish it easily.

[2019-05-28 17:29] maestromac commented on #1771
not stale

[2019-05-28 20:32] #2981 closed

[2019-05-28 21:10] maestromac commented on #2795
The missing delete button was a bug that was resolved. That was unfortunate for you to deal with 2 bugs at the same time, sorry about that. We're glad to hear that things are working for you now but please let us know right away if you are experiencing this again.

Closing.

[2019-05-28 21:10] #2795 closed

[2019-05-28 21:12] maestromac commented on #212
Hello @wangonya can you verify that you are still experiencing this issue? If so, we will reopen this.

[2019-05-29 01:41] omenking opened #2994 "Use fixed positioning for image button in article"
**Is your feature request related to a problem? Please describe.**
Lets say you've written a long article and now you need to insert about 14 images.

<img width="368" alt="Screen Shot 2019-05-28 at 9 37 39 PM" src="https://user-images.githubusercontent.com/7776/58523084-18edf600-8191-11e9-8872-dc133f855bbd.png">

The images button is all the way down at the bottom, you have to scroll all the way

[2019-05-29 02:27] RohitAwate commented on #212
I can confirm that the star count doesn't update unless I re-pin the repository to my profile.

[2019-05-29 02:44] SeanKilleen opened #2995 "Content served over http while trying to archive post?"
**Describe the bug**
While attempting to archive a post, I see an error about insecure scripts. In the console, it appears that content from `http://dev.to` is attempting to be loaded, causing insecure script errors in Chrome and CORS errors if I allow insecure scripts within the browser.

**To Reproduce**
Steps to reproduce the behavior:

* Have a draft post (in my case, it came in via RSS)
* Ope

[2019-05-29 02:50] SeanKilleen commented on #2995
Wondering if this might actually be another issue.

I thought I'd already archived that post. And when I inspect the link, I see what appears to be confirmation that the archived value is set to `true` (though I could be interpreting that incorrectly)

If so, the issue may actually be that the Dashboard is showing my archived posts even though I'd expect them not to show up.

[2019-05-29 03:13] Turnerj opened #2996 "Inconsistent API usage of "tags" and "tag_list""
In #2844, `tags` was added as a property to the Articles API when requesting an individual article to rectify a problem I raised in #2040 however while this change looks right, it actually made the API just as inconsistent (I didn't notice this when I commented on that PR).

When you request an article directly (https://dev.to/api/articles/5) you have `tag_list` (which is a comma-separated string)

[2019-05-29 05:48] ClaraMorgen opened #2997 "Update timestamp on notifications"
**Describe the bug**
I openend my notifications this morning and found a post which apparently was created just 8 minutes ago, but know it's older, because I read it yesterday night already.
When I click on the post it also says it's from yesterday.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/notifications
2. See post with timestamp "xx made a new post 6 minutes ago

[2019-05-29 07:10] rhymes commented on #2996
Great catch @Turnerj - I'll discuss it with the team and let you know. I agree that there should be consistency between the two representation as in there should be just one type of representation for the article resource

[2019-05-29 07:11] Glennmen commented on #2997
That is not the time that the article is created but when the notification was created 😉

https://github.com/thepracticaldev/dev.to/blob/879864a9bb8757dfa6a3c91a14a82156fee43436/app/views/notifications/_article.html.erb#L34

[2019-05-29 07:11] Turnerj commented on #2996
No problem - I just merged a change in my API client for C# and realised it didn't work after your PR went through. I dug around to realise what happened. 🙂

[2019-05-29 07:18] ClaraMorgen commented on #2997
@Glennmen I guessed so, but is this the expected behaviour? I found it confusing...

[2019-05-29 07:25] Glennmen commented on #2997
@ClaraMorgen I understand what you are saying and indeed directly like that under stand the first sentence it is confusing.
Here is the original issue discussion about adding the time on notifications: https://github.com/thepracticaldev/dev.to/issues/2010
Looking at the comments there wasn't a discussion about style/placement, but only about the functionality.

[2019-05-29 07:43] ClaraMorgen commented on #2010
I created another issue #2997 , because I find it confusing to see the timestamp from the notifcation and not from the creation time of the post.
I am not sure if this is entirely separate and what the expected behaviour exactly is.

Also it doesn't update the timestamp - I have a notification saying "made a new post: 6 minutes ago" for the past two hourse.

[2019-05-29 08:23] WesSouza commented on #1849
@benhalpern @spidergears could I try implementing this, so it’s not stale? 😁

[2019-05-29 09:03] spidergears commented on #1849
@WesSouza Sure. 👍

[2019-05-29 12:07] FarazPatankar commented on #2365
Not sure if you missed this, @jessleenyc. I'd still like to do this but I am not sure what the best/performant approach would be. Should I just add a `json` field to the user model?

Also, I think it'd be better if we gave the users a list of options that they could choose from for these fields. We can keep that list as broad as we'd like.

Let me know what you think.

[2019-05-29 14:47] jessleenyc commented on #212
@maestromac perhaps this is fixed for new repos pinned vs. repos that have already been pinned?

[2019-05-29 15:18] benhalpern commented on #2365
@FarazPatankar Let's explicitly cap this at a few new fields, instead of wholly abstract `json`

Let's do: `optional_field_key_1`, `optional_field_value_1`, `optional_field_key_2`, `optional_field_value_2`, `optional_field_key_3`, `optional_field_value_3`.

Let's cap this at exactly three. If we change our minds in the future we can migrate later. Let's add the fields, the appropriate constraints,

[2019-05-29 15:20] pkfrank opened #3001 "Add ability to sort comments by most recent"
**Is your feature request related to a problem? Please describe.**
As a DEV commenter and thread watcher, I want to be able to more easily track new comments directly on the thread as they come in.

**Describe the solution you'd like**
An option at the top of the comment section that allows me to sort by newest.

**Additional context**
- For the scope of this request, I don't think we need to cons

[2019-05-29 15:48] pkfrank opened #3003 "Ensure each post in a series reflects latest changes"
**Describe the bug**
After adding a new post to the series, a previous post has not updated the "index" of the series at the top of the article.  Probably caching related.

**Expected behavior**
All posts in a series are in sync as it relates to the navigation at the top.

**Screenshots**
![example of issue](https://cl.ly/159e587c68ca/Screen%20Recording%202019-05-29%20at%2011.44%20AM.gif)

[2019-05-29 16:05] FarazPatankar commented on #2365
Hey @benhalpern,

Thanks for the quick response. I think what I am struggling to understand is how will we store these in the user model or the DB if the key names are dynamic? I suggested a JSON because that's how I have done it in the past.

[2019-05-29 16:25] fluffy-critter commented on #2365
There’s no reason for the storage keys to be dynamic. You have, say, six database columns, two for each key/value set.

In the future it can be generalized as a separate key/value store as a joined table but that’s overkill for the intended purpose for now.

[2019-05-29 16:30] fluffy-critter commented on #2365
After a re-read I realized where the ambiguity is in the description. They aren't really key-value storage, so much as label-description storage.

For example:

[code]

[2019-05-29 16:34] FarazPatankar commented on #2365
Ah, I see. If we don't mind additional columns, how about we use a model instead?

Something like CustomField with a name and a description and then do a user has many custom fields? Or would that not be preferred because it'd be an additional query?

[2019-05-29 17:12] #244 closed

[2019-05-29 18:03] #1831 closed

[2019-05-29 22:53] drazisil commented on #1344
Counter, counter point. The extension isn't an option on mobile 😀

[2019-05-29 23:35] Eros opened #3005 "Submitting a user report redirects to 404 page"
**Describe the bug**
A clear and concise description of what the bug is.

Upon reporting abuse of a users comment it asks for the reason, extra info, confirmation etc this is fine. But upon submitting it the submission will redirect to a error page

**To Reproduce**
Steps to reproduce the behavior:

1. Click report abuse on the message
2. Fill out the form
3. Confirm you're not a *beep boop bop* I

[2019-05-30 07:22] lightalloy commented on #2525
Still happening when calling `save!` on some of the persisted notifications.

[2019-05-30 10:44] lightalloy commented on #2952
@Zhao-Andy I made a bit of research on the podcasts marked as unplayable. It seems like the current unplayable status is not related to SoundCloud anymore.
Podcasts are marked as unplayable if one of the episodes failed to be fetched from its url.
https://github.com/thepracticaldev/dev.to/blob/8c52d5c43f1d38d5d71453f99a5292d6d7e582ec/app/labor/podcast_feed.rb#L65-L76

I think it makes more sense t

[2019-05-30 13:06] lightalloy commented on #2497
I'll move `Podcast#pull_all_episodes` to ActiveJob while working on improving podcasts fetching #2952

[2019-05-30 14:53] maestromac commented on #589
not stale

[2019-05-30 16:02] jovanshernandez commented on #730
Would love an update on this thread. I have a handful of Medium posts I'd like to move to Dev.To and going through all the markdown is not something I want to have to deal with...

[2019-05-30 16:46] mariocsee commented on #2846
Hey @mjraadi! Wish I had gotten back to you sooner. Yeah, there's a resize masonry function in JS that recalculates the heights, but it's definitely triggered less often that if you use an event listener. From your screenshot, it definitely looks a lot better with the resize, but your concerns are valid when it comes to performance and triggering this function.

I would think resizing will mostly

[2019-05-30 17:20] ryanwhocodes commented on #730
It would be amazing to have a tool that could be used in the dev.to codebase but also used elsewhere to take a Medium webpage and convert it to markdown, which could then be added as a draft article in the dev.to editor.

A Ruby gem would integrate into the Ruby on Rails codebase easily, while having potential to be an open source project that could be used outside of the dev.to codebase too. An e

[2019-05-30 20:22] JohnPhamous opened #3008 "Profile image for comments don't all update"
**Describe the bug**
When a user creates a comment, then changes their profile image, and makes subsequent comments, the old profile image is still shown on the old comments while the new comments reflect the new profile image.

**To Reproduce**
1. Make a comment
2. Change your profile image
3. Make a comment

Your first comment would have your old profile image and your second comment would have

[2019-05-30 20:59] melezhik opened #3009 "Perl6 syntax highlighter"
**Is your feature request related to a problem? Please describe.**
I'd like to highlight Perl6 code snippets in my posts. Perl syntax highlighter relates to Perl5 which differs from Perl6 syntactically, so not the best solution.

**Describe the solution you'd like**
Implement new syntax highlighter, which I can use in markdown like:

[code]

**Describe alternatives you've considered**
Perl highlig

[2019-05-30 22:45] aspittel commented on #2994
Hey @omenking, we've discussed this a bit in the past but haven't found a perfect solution design-wise. Thanks for flagging it, probably worth talking about again!

[2019-05-30 22:47] aspittel commented on #2997
Hey @ClaraMorgen, thanks for bringing this up! We'll discuss as a team and get back to you!

[2019-05-30 22:49] aspittel commented on #3005
Hey @Eros, thanks for flagging this! We'll take a look and get back to you!

[2019-05-30 22:49] aspittel commented on #3008
Hey @JohnPhamous, thanks for flagging this! We'll take a look and get back to you.

[2019-05-30 22:53] aspittel commented on #3009
Hey @melezhik, thanks for reporting this! I'm pretty sure we use a library for this. Will look into it more and get back to you!

[2019-05-31 01:31] omenking commented on #2994
Just put the image button in the fixed footer.

<img width="920" alt="Screen Shot 2019-05-30 at 9 30 13 PM" src="https://user-images.githubusercontent.com/7776/58675393-24bcf200-8322-11e9-94a7-4c81e0cdf52f.png">

[2019-05-31 08:24] lightalloy commented on #2525
I found out that duplicate notifications can be created in spite of the unique index. Probably, it's something wrong with it, I'll continue to investigate.

[2019-05-31 11:53] maestromac commented on #212
@jessleenyc that might've been the case.

[2019-05-31 12:06] maestromac commented on #3005
My guess is that the spam comment was already deleted but the cache wasn't refreshed yet. So an attempt was made to report a comment that no longer existed. We either need to improve the cache invalidation or improve error handling on the report side.

[2019-05-31 12:10] maestromac commented on #293
not stale

[2019-05-31 12:11] maestromac commented on #1741
not stale

[2019-05-31 12:17] TheJaredWilcurt commented on #1855
![broken](https://user-images.githubusercontent.com/4629794/58705190-74c8a280-837c-11e9-8840-ed19d3a5aa8b.png)

This issue is still occurring. Again, it is **not** related to the linked issue above. This is a separate issue, and should be fixed as it makes me not want to use this platform.

Until you can solve this issue a work around would be to deliver the markdown code directly to the client an

[2019-05-31 13:05] lightalloy commented on #1996
Hi, @copasetickid. Are you still working on `send_mention_notification`? If you are still interested and need some help, we can discuss it privately.  E.g. you can [message me](https://dev.to/lightalloy) on dev.to

[2019-05-31 14:07] dev-arjunan opened #3013 "Unable to upload profile image in android mobile app"
**Describe the bug**
I'm unable to upload new profile image from android app.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'top right corner and tap on profile'
2. Click on 'settings'
3. Scroll down to 'Profile Image section'
4. Tap on "Upload" button

**Expected behavior**
It should open up window to choose image from gallery

**Screenshots**
If applicable, add screenshots to help

[2019-05-31 14:10] maestromac commented on #3013
Issue moved to [thepracticaldev/DEV-Android #32](https://github.com/thepracticaldev/DEV-Android/issues/32) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-31 14:10] maestromac commented on #3013
Issue moved to [thepracticaldev/DEV-Android #31](https://github.com/thepracticaldev/DEV-Android/issues/31) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-31 14:10] #3013 closed

[2019-05-31 17:33] #2968 closed

[2019-05-31 18:52] ganeshraja10 commented on #2670
@hcarnes are you working on this issue? if not, I'd like to take this one

[2019-05-31 18:54] hcarnes commented on #2670
@ganeshraja10 I haven't been able to carve out time for this yet - please go ahead!

[2019-05-31 19:02] omenking opened #3015 "instagram liquid tags for posts"
**Is your feature request related to a problem? Please describe.**

I'm thinking DEV.to liquid tags does not work for posts and just shows for entire account?
So here I have a portrait image and its cut off.
![Screen Shot 2019-05-31 at 3 00 39 PM](https://user-images.githubusercontent.com/7776/58728474-f76d5400-83b4-11e9-91e0-0e5e25edc4b2.png)

**Describe the solution you'd like**

I think the liq

[2019-05-31 19:04] ganeshraja10 commented on #2670
@hcarnes Thanks.

[2019-05-31 19:25] mariocsee commented on #3015
Hey @omenking, thanks for reporting this issue! Did you encounter this in the editor preview, unpublished post, or published post?

[2019-05-31 19:41] michael-tharrington opened #3017 "Tag Moderator Can't Rate Experience Level of a Post"
**Describe the bug**
We received a message(1) from a relatively new tag moderator ([https://dev.to/coreyja](https://dev.to/coreyja)) saying that they couldn't update the experience level for a post and kept getting an error with the response `{ "result": "Not Upserted Successfully" }`.

This occurred when they were trying to rate this [post ](https://dev.to/arturmartsinkovskyi/vim-in-modernity-why

[2019-05-31 19:52] omenking commented on #3015
Oh good question. I had attempted this in a comment while in preview.
I did not attempt to post, and I have not tried it within an article.

[2019-05-31 19:54] Zhao-Andy commented on #3015
This is a weird bug that in my experience only happens in any preview mode. It _should_ show the full Instagram embed when you submit.

[2019-05-31 19:54] omenking commented on #3015
@mariocsee  I am a loser. It appears that the preview is not representative of the exact outcome when published.

![Screen Shot 2019-05-31 at 3 53 23 PM](https://user-images.githubusercontent.com/7776/58731248-3eab1300-83bc-11e9-8ec3-baadb2b4fea1.png)

[2019-05-31 19:55] omenking commented on #3015
Should we close this ticket? For myself now that I know I can live with this.

[2019-05-31 19:59] Zhao-Andy commented on #3015
Let's leave it open since it isn't working as intended.

[2019-05-31 20:32] nicovillanueva commented on #3005
Heyo! Not sure if this adds anything, but when reporting listings (https://dev.to/listings) this same behavior occurs!

[2019-05-31 20:45] #2862 closed

[2019-06-01 10:43] yocorn commented on #242
Please Implement GitLab.com OAuth @thepracticaldev

[2019-06-01 12:36] mjraadi opened #3020 "[Theme]: Low quality comment marker header background color needs contrast"
**Describe the bug**
The header background color of comments marked as inappropriate or low quality need to be updated according to the current theme color scheme.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [this post](https://dev.to/ashleemboyer/i-know-you-re-tired-2la5)
2. Scroll all the way down
3. There is comment marked as low quality
4. See the behavior

**Expected behavior

[2019-06-01 12:49] vmasek commented on #88
I'd love this, we are considering moving from medium and this would be a killer feature

[2019-06-01 14:01] #3020 closed

[2019-06-02 15:47] fluffy-critter commented on #3005
I’m having the same thing happen, and it’s on comments which have definitely not been deleted yet. Now I’m not sure if my reports on a couple of comments have gone through.

[2019-06-02 16:44] fluffy-critter commented on #3005
Reproduction steps (now that I'm on desktop):

1. Go to a comment reporting form, such as https://dev.to/report-abuse?url=http://dev.to/jorgecc/comment/bcmf?i=i
2. Fill out the reason (in this case, 'other')
3. Satisfy the Google Recaptcha overlords
4. Get redirected to https://dev.to/feedback_messages which is a 404

[2019-06-03 00:42] #275 closed

[2019-06-03 03:17] weekly-digest[bot] opened #3023 "Weekly Digest (27 May, 2019 - 3 June, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 55 issues were created.
Of these, 35 issues have been closed and 20 issues are still open.
## OPEN ISSUES
:green_heart: #3022 [[WIP] Fix flaky test](https://github.com/thepracticaldev/dev.to/pull/3022), by [maestromac](https://github.com/maestromac)
:green_heart: #3017

[2019-06-03 12:54] akanshgulati commented on #3008
@aspittel  can I try to debug this issue and fix it?

[2019-06-03 14:41] ayush-sharma opened #3024 "Reading time estimate does not match for a particular post"
Reading time estimate for a post insert does not match the one in the main post.

1. Go to https://dev.to/devteam/medium-was-never-meant-to-be-a-part-of-the-developer-ecosystem-25a0.
2. Scroll down to insert for "What are you "old enough to remember" in software development?"
3. It says "0 min read."
4. On main page of that post, it says "1 min read".
5. Both should be "1 min read".

- OS: Windows

[2019-06-03 15:35] giventofly opened #3025 "Reading List - time appear only for the first 3 items"
**Describe the bug**
On the reading list page after the first 3 items the reading doesn't appear.

**To Reproduce**
https://dev.to/readinglist

**Expected behavior**
Appear the reading time on all items

**Screenshots**
![Screenshot_2019-06-03 Reading List - The DEV Community](https://user-images.githubusercontent.com/6298937/58814437-9b593880-861d-11e9-90e5-3dc04e0d88fd.png)

[2019-06-03 15:37] #3023 closed

[2019-06-03 15:38] mariocsee opened #3026 "Listing modal view lacks bottom padding and has scrollbar in the middle of the page"
**Describe the bug**
When users enable `contact_via_connect`, an additional modal for messaging appears below the listing modal. For longer listings / smaller screens, this makes a need to scroll to see all of the bottom modal. The scrollbar is also awkwardly placed.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to dev.to/listings
2. Click on a listing with a messaging modal
3. Scroll

[2019-06-03 16:14] benhalpern commented on #3025
Reading list items need to be re-indexed. I think I made a mistake with this that I didn't realize. Will resolve today.

[2019-06-03 16:54] benhalpern opened #3035 "Increase tag length limit from 20 to 30 characters"
As requested in this thread:

https://dev.to/rodolfomendes/could-dev-to-allow-larger-tag-names-3p2e

I think we limit the length for aesthetic purposes but it isn't that important. The freedom of more characters would trip people up less often.

Find this line and change the number, and adjust the adjacent spec:

[code]

Et voila!

[2019-06-03 19:56] mariocsee commented on #3026
resolved by #3027

[2019-06-03 19:56] #3026 closed

[2019-06-03 20:36] maestromac commented on #2846
Resolved with https://github.com/thepracticaldev/dev.to/pull/3011

[2019-06-03 20:36] #2846 closed

[2019-06-03 20:55] brunotoral commented on #3035
@benhalpern  I would like to git this one a try.

[2019-06-03 23:25] maestromac commented on #3005
Resolved with https://github.com/thepracticaldev/dev.to/pull/3038

[2019-06-03 23:25] #3005 closed

[2019-06-04 02:14] rpalo commented on #2016
I'm seeing this same issue.  I'm trying to add a canonical_url and series fields to the metadata for [this post](https://dev.to/rpalo/vue-on-django-part-2/), but it won't let me save for the same error message.  Would you prefer I open a fresh issue?

[2019-06-04 09:19] marcidenmark commented on #2949
Hi maestromac. It is now working again.

[2019-06-04 09:29] Defman21 commented on #1856
unstale.

[2019-06-04 13:17] N-Molham commented on #1239
I just joined the community and would like to help if I can ... RTL support (Arabic) is pretty important

[2019-06-04 13:19] benhayehudi commented on #1239
@N-Molham - I agree. I think this is an important issue. I released an article in a RTL language, and the rendering was off because of it. I don't have a lot of spare time to code the solution, but glad to lend a hand in code review of it.

[2019-06-04 13:32] jessleenyc commented on #3035
@brunotoral go for it!

[2019-06-04 13:56] jessleenyc commented on #3008
@JohnPhamous do you know if the profile image ever updated? Am wondering if this is delayed or if the cache just never cleared.

[2019-06-04 13:58] maestromac commented on #3009
Unfortunately, Rouge, the gem we use for syntax coloring, does not have perl6 in place yet.

ref https://github.com/rouge-ruby/rouge/issues/390

[2019-06-04 15:49] pkfrank opened #3042 "Add Bug Bounty / Security into to readme + console"
**Is your feature request related to a problem? Please describe.**
As an admin, I want to ensure that the community knows how to ethically report bugs and security vulnerabilities.  Basically, I want everyone to know about https://dev.to/security

**Describe the solution you'd like**
Add this information to:
- The Repo Readme
- The docs.dev.to page
- Console

**Additional context**
h/t @Zhao-Andy

[2019-06-04 17:04] JohnPhamous commented on #3008
@jessleenyc Doesn't look like it from my end, this is the post with the bug: https://dev.to/johnphamous/what-it-s-like-working-at-nasa-jet-propulsion-laboratory-2eln

[2019-06-04 17:24] jessleenyc commented on #2907
Closing!

[2019-06-04 17:24] #2907 closed

[2019-06-04 18:49] jessleenyc commented on #118
Forgot to close this -- its available!

[2019-06-04 18:49] #118 closed

[2019-06-04 19:05] jessleenyc commented on #2885
Closing this because I believe it's account-specific. Please email yo@dev.to with the email address associated with your DEV account and our support team can look into it!

[2019-06-04 19:05] #2885 closed

[2019-06-04 19:29] maestromac commented on #2949
Glad to hear that!

[2019-06-04 19:29] #2949 closed

[2019-06-04 19:43] jessleenyc commented on #2996
@rhymes since you're on vaca, just wanted to give you a heads up that we briefly chatted about this in tech meeting and concluded that you and ben should just sync on this together.

[2019-06-04 19:45] jessleenyc commented on #3024
This is likely because we have a minimum reading time of 1 minute on articles but not on the article liquid tag.

[2019-06-04 19:47] jessleenyc commented on #2997
Hey all -- just updated the title of this issue.  Instead of showing when the notification was created, we should show when the item was published.

[2019-06-04 19:50] jessleenyc commented on #2994
Yeah, I agree that it makes more sense to be stickies at the bottom. Some additional things to consider:
- how this would look on mobile
- how to would work with existing v2 editor buttons

[2019-06-04 20:33] jessleenyc commented on #1855
Thanks for the additional clarification @TheJaredWilcurt! This issue is approved for anyone who's interested in working on it. Should be able to fix it in the MarkdownParser.

[2019-06-04 20:37] omenking commented on #2994
This is how it currently looks in mobile.
Is this editor not V2?

![Screen Shot 2019-06-04 at 4 22 41 PM](https://user-images.githubusercontent.com/7776/58911054-04f04a00-86e5-11e9-9eda-cfa988f11750.png)

This is my suggestion

![suggest](https://user-images.githubusercontent.com/7776/58911983-120e3880-86e7-11e9-88c0-619798700340.jpg)

[2019-06-04 20:41] omenking commented on #2994
So this is V2 and it has different positions and is subject to the same problems.

@benhalpern is V2 not ready?

![Screen Shot 2019-06-04 at 4 39 57 PM](https://user-images.githubusercontent.com/7776/58912156-729d7580-86e7-11e9-9f26-f3eb5cba4744.png)

![Screen Shot 2019-06-04 at 4 39 51 PM](https://user-images.githubusercontent.com/7776/58912160-75986600-86e7-11e9-8f4a-9ca5744f93a1.png)

[2019-06-04 20:48] Zhao-Andy commented on #2994
In the V2 editor the image upload button is to the right of tags input, next to the triple dots menu button.

I'm seeing the image upload button on mobile Android Firefox/DEV app:
![Screenshot_20190604-164303](https://user-images.githubusercontent.com/17884966/58912665-9d3bfe00-86e8-11e9-9518-97ed26ebaece.png)

I can't reproduce your mobile results with text overflow either. What browser/device is

[2019-06-04 21:23] jessleenyc commented on #2994
To clarify, what I mean is we'll want to bring the additional button on V2 (the one next to the image button) into the fixed footer as well, if we move the v1 image button. This might make it pretty tight in that area.

[2019-06-05 04:43] seangwright opened #3046 "Feature Request: Series Liquid Tag"
**Is your feature request related to a problem? Please describe.**
There are other requests for features related to Series, like enhanced UX (https://github.com/thepracticaldev/dev.to/issues/2558) or a landing page for a series (https://github.com/thepracticaldev/dev.to/issues/2424).

Along with those requests to make Series more useful, I would like a way to easily link to a series from within a

[2019-06-05 04:54] ClaraMorgen commented on #2997
Cool :) I can have a look and change it :)

[2019-06-05 05:28] shindakun opened #3047 "Fastly 502 errors"
**Describe the bug**
Currently, I'm seeing a few images not load due to Fastly 502's.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dev.to/shindakun/working-on-a-new-flow-1akn ;)
2. Note that some icons/images don't load, see the image below.

![Screen Shot 2019-06-04 at 10 23 51 PM](https://user-images.githubusercontent.com/319128/58932256-e9eafd80-8717-11e9-9fe7-71ad7f8a5b

[2019-06-05 10:12] jrsam commented on #3024
Hi, I would like to work on this.

[2019-06-05 11:47] wolfhoundjesse commented on #2010
That might explain why I woke up to this minute-ago-notification about something that took place last night!

![image](https://user-images.githubusercontent.com/13468509/58954061-1cbbe280-8766-11e9-8785-0b17edc54dcc.png)

[2019-06-05 13:15] vogloblinsky opened #3049 "Editor live preview"
**Is your feature request related to a problem? Please describe.**
I'm alwasy frustated while writing a blog post with the preview. I would like to see it live.

**Describe the solution you'd like**
Having on desktop one column with text editor on the left, and live preview on the right

**Describe alternatives you've considered**
A browser extension, but a little bit tricky.

[2019-06-05 13:39] jessleenyc commented on #3024
@jrsam go for it!

[2019-06-05 13:39] jessleenyc commented on #2997
@ClaraMorgen awesome!

[2019-06-05 15:01] benhalpern commented on #2365
Hey @FarazPatankar, I love the approach of an additional model. It is the cleanest all in all.

`CustomField` is perfect. Implementing it with a `has_many` relationship would be good. All for this approach. We can cache this for display somehow, so the additional query would be fine.

[2019-06-05 15:07] desithorne opened #3051 "Feature Request: list of commonly used/accepted tags or best practices"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I'm writing a post and want to make sure I'm adding relevant tags to it, but do we colloquially use `#mentalhealth` or just `#health`? Maybe we use `#wellness`? Should I tag it with the language it's written in?

If we try to establish widely used tags, it might be easier for readers to find more content

[2019-06-05 15:59] felicianotech commented on #2982
I'm seeing the reverse. On Ubuntu 19.04, in Chrome (v75) and Chromium (v74) the icon is in the correct place. On FireFox (v67) it's on the second line.

[2019-06-05 16:07] edisonywh commented on #3003
I have a "fix" for this, putting it in quotation mark because I don't really know how to test it, and also a couple of notes/caveats there. Would appreciate pointers!

[2019-06-05 16:20] jessleenyc commented on #2984
Spoke with the team! We have hesitations about an auto publish feature but definitely agree that we need to find ways to make it easier for people to publish. To start, we should send an email once a new draft is pulled in from RSS. The email can embed multiple links: link to preview, edit, etc. Maybe even one to publish directly.

We'll want to make sure this email doesn't get sent for the curren

[2019-06-05 16:28] jessleenyc commented on #2960
This is approved for anyone who wants to work on it. You should be able to follow the pattern we currently use for user configurations but let us know if you have any questions!+

[2019-06-05 18:48] maestromac commented on #3047
Thanks for reporting this @shindakun . Are you still seeing this?

[2019-06-05 19:00] maestromac commented on #2016
@rpalo does it still fail when you only update the `series` field?

yes, please create a new issue. Thank you!

[2019-06-05 19:04] desirottman commented on #1992
@jessleenyc since members can be part of multiple teams now, is this one good to take a crack at?

[2019-06-05 19:05] maestromac commented on #1154
Sorry again, not stale.

[2019-06-05 19:06] maestromac commented on #1127
not stale

[2019-06-05 19:06] maestromac commented on #956
not stale

[2019-06-05 19:17] maestromac commented on #2648
Sorry I missed this.
In editor v1, `GistTag::special_script` uses [postscribe](https://github.com/krux/postscribe)  to resolve this issue. Other area this is used at is series; because the page does not fully reload whenever user navigate between series the page, postscribe resolves the script loading issue. It does however causes a weird issue where certain gist get loaded in multiple time.

ref:

[2019-06-05 19:28] maestromac commented on #596
not stale

[2019-06-05 19:45] FarazPatankar commented on #2365
Sounds good. I'll try to get a PR open soon. I am assuming it'll be a long-ish one as I am not necessarily well versed with what is expected when developing a full stack feature.

[2019-06-06 01:40] shindakun commented on #3047
@maestromac nope all looks good now. I'm gonna chalk it up to a temporarily fastly issue. 🤷‍♂️

[2019-06-06 01:40] #3047 closed

[2019-06-06 07:17] jonathan-s opened #3056 "Delete / make events invisible past expiration date"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

An event takes place in time, so after the event date it would be prudent to make it invisible. Or alternatively select a button to browse past events.

See this event for instance: https://dev.to/listings/events/webinar-cracking-the-javas

[2019-06-06 10:18] rhymes commented on #1741
Could this just be a question of re-building Algolia's podcasts index?

[2019-06-06 10:26] rhymes commented on #1641
@benhalpern they are still there :D

[2019-06-06 11:43] lightalloy opened #3060 "Make Notifications action values more clear"
Some notifications have `nil` `action` but this value is not very meaningful.
Usually, it means that some entity was `"Created"`, so nils could be replaced with it.

https://github.com/thepracticaldev/dev.to/blob/9cb40e546b4b911cf8e4fce424adfb12f9c106d7/app/controllers/notifications_controller.rb#L45-L48

It would also allow redusing the number of the unique indexes for the `notifications` table (

[2019-06-06 13:56] #3025 closed

[2019-06-06 14:34] ikey2244 commented on #1672
I just checked this bug on chrome and it seems to be working. Has this been resolved?

[2019-06-06 14:40] maestromac commented on #1672
Thanks for pointing that out @ikey2244 . I can't reproduce it either.

Assume resolved. Please let us know if otherwise!

[2019-06-06 14:40] #1672 closed

[2019-06-06 14:41] maestromac commented on #3025
Resolved. We've re-indexed all those article's read time.

[2019-06-06 15:19] maestromac commented on #1741
Yep I feel like it definitely is.

cc @benhalpern

[2019-06-06 15:21] ikey2244 opened #3061 "Action space buttons "manage" and "edit" not inline on mobile"
**Describe the bug**
The action space buttons "manage" and "edit" would work better if they were inline on mobile.

**To Reproduce**
Steps to reproduce the behavior:

1. Open dev.to in safari
2. Click user picture
3. Click "dashboard"
4. Click on one of your posts
5. See the action buttons at the top

**Expected behavior**
The action buttons would drop under the username and would be inline.

**Sc

[2019-06-06 15:39] maestromac commented on #659
All of our markdown processing happens in the backend so it makes sense for this to be part of `MarkdownParser`.

Seeing that there's an [octopress integration](http://mostlyblather.com/blog/2015/05/23/mermaid-jekyll-octopress/), this can be implemented through liquid tag and should be used in the following manner.

[code]
[code]

[2019-06-06 17:26] benhalpern opened #3062 "Listing endorsements"
I threw this idea out in our Slack a few weeks ago and @jessleenyc liked it. I still think it's a good idea and we should pursue it.

### Listing endorsments

#### sloppy mockups:

![endorsement-list-view](https://user-images.githubusercontent.com/3102842/59052835-02fdc680-885e-11e9-8863-9b0a1d0f611a.png)
![endorsement-show-view](https://user-images.githubusercontent.com/3102842/59052839-05602080-

[2019-06-06 17:43] benhalpern commented on #1641
@rhymes I'll DM you and try to get to the bottom of this.

[2019-06-06 19:27] desirottman commented on #3042
@pkfrank hey! where in the console were you looking at adding it? I was thinking on the contact page of the site? let me know, I'd like to give it a try!

[2019-06-06 19:30] Zhao-Andy commented on #3042
Hey @desirottman, you can tack it onto: https://github.com/thepracticaldev/dev.to/blob/master/app/assets/javascripts/hello-dev.js :)

The contact page is probably a good spot to add it, too!

[2019-06-06 19:31] Zhao-Andy commented on #3046
Hey @seangwright, I think this is a good idea! We'll discuss this as a team and add some more details.

[2019-06-06 19:33] Zhao-Andy commented on #3049
Thanks for the idea. It would require a big overhaul if we did agree to go with something like a live preview.

One idea I had was adding a hotkey/keyboard shortcut to preview. Might be a good compromise?

[2019-06-06 19:41] Zhao-Andy commented on #3056
Fair point, thanks for the heads up! I updated your issue title to make a bit more sense for the team, since we used to have native `events` on the site.

[2019-06-06 19:49] jonathan-s commented on #3056
👍

[2019-06-06 19:52] pkfrank commented on #3042
Yup, totally agreed with @Zhao-Andy 👍

[2019-06-06 20:20] Zhao-Andy commented on #3061
Thanks for the heads up! This is approved if anyone wants to work on it. The two buttons are wrapped in a `<span>` already, and adding `display: inline-block` to the relevant CSS should fix it.

[2019-06-06 21:04] #2995 closed

[2019-06-06 21:20] Zhao-Andy opened #3069 "Mixed content (http) after uploading a video"
**Describe the bug**
I uploaded a video, and after it finished uploading nothing happened. Checked my browser console to see this message:

My guess is that it failed to redirect because of the `http`.

**To Reproduce**
1. Use Firefox Developer Edition
2. Upload a video
3. Wait for it to succeed
4. Don't get redirected
5. Open browser console and see error message

**Expected behavior**
I get redi

[2019-06-06 21:42] SeanKilleen commented on #2995
Thanks! 🎉 Love the work you're all doing.

[2019-06-06 23:09] michael-tharrington opened #3070 "User Can't Import A Specific Article from Medium Via RSS Import Functionality"
**Describe the bug**
We received a report from a user earlier this week that their DEV account stopped fetching posts from their RSS import. (They'd set DEV to automatically import articles posted to their Medium.) THey've tried re-entering the URL and clicking "Fetch Feed Now", but are still not see new draft entries added to their dashboard.

The feed URL is https://medium.com/feed/@kaustavdm an

[2019-06-07 00:57] suntong commented on #220
Until then (when dev.to posts are backed up to git), I'm not feeling comfortable start using it...

[2019-06-07 08:19] setevoy2 commented on #3070
Can confirm.
My post also wasn't added to Drafts on Dev.to via RSS.
The post was published on the blog: https://rtfm.co.ua/en/jenkins-running-phpunit-from-codeception-by-a-pull-reguest-in-github-and-allure-reports/
It is present in the blog's RSS feed: https://rtfm.co.ua/en/feed
This feed is configured on the Dev.to and previously all was working.
On the Dev.to Settings page - _RSS Last Fetched: 7

[2019-06-07 09:22] bdlb77 commented on #3061
Hey @Zhao-Andy ! Do you mind if I take this issue? :)

[2019-06-07 09:23] lukas-derksen commented on #2638
I have experienced this issue as well. At first it seemed random to me, but I've started seeing a pattern. It appears to happen every time I open a dev.to article from google.com.

**To reproduce**
1. Go to google.com
2. Search for dev.to articles (search query I used: site:"dev.to")
3. Click a random result

**Expected behaviour**
Seeing the article you clicked on

**Desktop**
- OS: Windows 10
-

[2019-06-07 09:47] theonelucas commented on #28
I had to duck it ("Google it", but with duckduckgo) the term "dev.to rss" to know how to subscribe to the RSS feed of dev.to. Couldn't find any link/mention to the RSS feed on the dev.to site.

[2019-06-07 09:48] vogloblinsky commented on #3049
Yes it could. I prefer the live preview, but i understand your position with the setup/workflow you have right now.

[2019-06-07 11:17] Zhao-Andy commented on #3061
@bdlb77 all yours!

[2019-06-07 14:31] maestromac commented on #28
Thanks for pointing that out @theonelucas . We should have a page dedicated RSS FAQs.

[2019-06-07 15:53] rpalo opened #3073 "Editing older post metadata won't allow save."
**Describe the bug**

I am trying to update the metadata for [one of my older posts](https://dev.to/rpalo/vue-on-django-part-2).  Trying to add `series: Vue on Django` and `canonical_url: https://www.assertnotmagic.com/2017/06/24/vue-on-django-part-2/`.  The edit page won't allow a save and shows this error message:

![image](https://user-images.githubusercontent.com/14909201/59116579-c0d99100-890

[2019-06-07 16:53] smmaci commented on #946
A potentially simpler solution in the meantime would be to allow users to close/delete/remove the animated element with some sort of control, like an "x" icon at the top of the image.

Personally, I don't mind seeing an animation play once, but I can't focus when they are repeated.

[2019-06-07 18:26] maestromac commented on #3042
Resolved!

[2019-06-07 18:26] #3042 closed

[2019-06-07 21:25] Zhao-Andy commented on #3073
Hmm that's a pretty strange bug. I'm not really sure what's going on there. For now, I updated your post's `main_image_background_hex_color` to `#dddddd` (like a light gray) which is our default.

For whatever reason, it was `#100100100`, which I have no idea what that's about.

[2019-06-08 00:52] pandeybk commented on #2499
Since this project is open source so utilizing any open source technology like ElasticSearch will be a huge plus.

[2019-06-08 01:41] tannakartikey commented on #3035
@benhalpern can we please have a `ruby` label here? There are hardly any tickets appear when the tag is searched although there are many tickets which include the back-end related work.

[2019-06-08 12:45] darrarski opened #3077 "Settings ➔ Organization shows "500 error""
**Describe the bug**

When I am logged in and go to [Settings ➔ Organization](https://dev.to/settings/organization) I get "500 error" page.

**To Reproduce**

Not sure what caused the problem. I recently became an admin of an organization. Then, the previous admin was removed from this organization. Now, I am the only admin of the organization. Unfortunately, the bug making it not possible to mana

[2019-06-08 15:31] omenking opened #3078 "Short Links for Article URLs"
**Is your feature request related to a problem? Please describe.**
Short Links.

**Describe the solution you'd like**
Have an alternative link which is shorter than the full article link for sharing on platforms where characters are counted against you.

**Describe alternatives you've considered**
I can use short link tools but would feel there is more trust with the `dev.to` url

**Additional con

[2019-06-08 17:48] timdeschryver opened #3079 "Bug: revoking an acess token resulting in a 404"
**Describe the bug**

Revoking an access token results in a 404

**To Reproduce**

1. Create an access token on https://dev.to/settings/account
2. Revoke the token

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/28659384/59150574-05ab1800-8a26-11e9-80f8-d2e5acafae9a.png)

**Desktop (please complete the following information):**

- OS:Windows 10
- Browser

[2019-06-08 19:47] choroba commented on #2790
I'm experiencing the same problem in Firefox, logging in via Github. The page works OK in other browsers (Opera, Chromium). Safe mode in Firefox didn't help.
Interestingly, visiting the page in a Private Browsing window displays everything while I'm not logged in, but after logging in, the problem reappears.
The console shows the following 3 errors:
[code]
See also [this post](https://dev.to/choro

[2019-06-08 20:59] ShalokShalom opened #3080 "Dark and Pink"
Currently, the selection between the dark and the pink mode is switched.
This happens on my Firefox at the desktop.
Pink leads into dark, dark into pink. How evil :stuck_out_tongue_winking_eye:

[2019-06-08 22:46] c33s opened #3081 "Site broken on waterfox"
**Describe the bug**
- timeline is not loaded
- "my account" button is not accessible (clicking on it does nothing)
- "my account" image is not shown
- connect page is empty

**To Reproduce**
1. install waterfox https://www.waterfox.net/
2. go to dev.to
3. login
4. press on your account image

**Expected behavior**

**Screenshots**
![2019-06-09 00_38_34- #  DEV Community 👩‍💻👨‍💻 - Waterfox  #](http

[2019-06-08 23:29] maestromac commented on #3081
Thanks for reporting this! Looks like our `Webcomponent-loader.js` is the cause of this error

[2019-06-09 03:53] dance2die opened #3083 "Create a feature to suggest a "related post""
**Is your feature request related to a problem? Please describe.**
It's a brand-new feature request.

As I am reading posts, I see many posts that are related or more advanced topic of another posts.

As an example, first post below (`Testing your apps like a boss...`) is an intro on how to test React components (using `jest` & shows mocking) while the latter (`A bit about Jest mocks`) is more of

[2019-06-09 12:16] nickytonline opened #3085 "Image uploader button on comment forms jumps up once a file is selected"
**Describe the bug**

The UI moves or covers other UI (in the case of mobile) when an image is selected to be added to a comment.

**To Reproduce**

1. Go to any post and click on the image upload button of a comment.
1. Select a file for upload.
1. The file gets uploaded.
1. The text input that contains the URL of the newly uploaded image appears causing the image upload button to move up (deskto

[2019-06-09 12:18] nickytonline commented on #3085
I have a PR coming up later today tomorrow for this that fixes the desktop issue, but I still need to look into the mobile issue. The refactor in #3082 came about because of this issue.

[2019-06-09 12:20] nickytonline commented on #3085
Although it looks like an easy fix, it was a little more complicated. A lot ofthe comment form had elements using `position: absolute` with a lot of `calc(...)` in the CSS. I opted to go for Flexbox, that ends up reducing the amount of CSS and makes it easier to make changes to the form.

[2019-06-09 14:51] theghostyced commented on #2877
Hi @maestromac. if this issue has not been taken up, can I work on it?

[2019-06-09 15:07] maestromac commented on #2877
Yep go ahead @theghostyced !

[2019-06-09 17:57] bdlb77 commented on #3061
yay! thank you! I'll be back at it after the holiday 😎

[2019-06-09 18:04] ikey2244 commented on #3061
I don’t think it’s as simple as just setting displaying: inline-block. The Elements don’t have enough room to drop to the next line. So I think you could change the padding and that might fix it.

[2019-06-09 20:41] Danielshow commented on #2618
Has this been implemented @msarit and @esquith

[2019-06-09 21:48] stevezieglerva opened #3088 "Defaut listings message checkbox to checked"
**Is your feature request related to a problem? Please describe.**
Several times now, I've wanted to connect with someone because they were available for hire. But, if they did not enable the Dev Connect messaging, I'm usually left with Twitter or LinkedIn for initial outreach. That can be really awkward.

**Describe the solution you'd like**
Default the "Allow Users to Message Me Via In-App Chat

[2019-06-10 02:42] ameersami commented on #113
@maestromac is there a branch that this is being actively being worked on? I would love to contribute to this feature

[2019-06-10 03:17] weekly-digest[bot] opened #3090 "Weekly Digest (3 June, 2019 - 10 June, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 66 issues were created.
Of these, 35 issues have been closed and 31 issues are still open.
## OPEN ISSUES
:green_heart: #3089 [Fix reading list filters input's color in night theme](https://github.com/thepracticaldev/dev.to/pull/3089), by [mazentouati](https://github.c

[2019-06-10 07:46] jrsam commented on #2964
Hi, I would like to work on this. Can we show the same visual clue as the one shown after clicking Preview button?

![Image of Yaktocat](https://camo.githubusercontent.com/0aad89d0af8807317596c0098b8cfbd2bcbf4773/68747470733a2f2f692e696d6775722e636f6d2f737133637971692e706e67)

[2019-06-10 12:55] GeorgeColdham opened #3091 "Rate limiting new posts for users"
**Is your feature request related to a problem? Please describe.**
I occasionally find my feed clogged with posts that I guess are bots? Or users trying to push users off site.

**Describe the solution you'd like**
Rate limit users posts per hour. Perhaps loosen limits for people who have old enough accounts and/or enough post interactions.

**Describe alternatives you've considered**
Creating a b

[2019-06-10 16:21] rpalo commented on #3073
Cool, thanks!  I went through and added canonicals to all of my posts, and the only other posts that bonked were the other Vue on Django posts (from the same series).  Everything else, older and newer, worked just fine.

[2019-06-10 17:34] maestromac commented on #3081
Hello @c33s can you help me check if this is resolved?

[2019-06-10 18:27] benhalpern commented on #3091
This makes sense. We currently have a ratelimit but it's super loose. Let's tighten it up for new users and ensure the error message about the ratelimiting is clear (I'd be less worried about false positives if we at least had clearer messaging for the end user.

It also might make sense to auto-generate a "report" `feedback_message` to be sent to our support channel whenever someone hits the rate

[2019-06-10 20:17] #3090 closed

[2019-06-10 20:54] MSF-Jarvis commented on #212
I just unpinned and re-pinned my repos and the star count still appears to not update. How long should I wait for an update before we can safely say that the bug is still around?

[2019-06-10 20:56] mariocsee opened #3112 "Non-centered footer in Articles Dashboard"
**Describe the bug**
In `dev.to/dashboard`, the footer is aligned more to the right compared to the center column of articles. This happens between the widths of `950` and `1119` and it seems fine for anything wider or narrower.

**To Reproduce**

1. Go to 'dev.to/dashboard'
2. Adjust your width to between 950 and 1119
3. Scroll down to the bottom
4. See footer

**Expected behavior**
The footer sh

[2019-06-10 21:12] maestromac commented on #2790
Hello @phlash & @choroba , can you check if you can access dev.to now?

[2019-06-10 21:25] phlash commented on #2790
Works for me :)

[2019-06-10 21:52] ThomasTheSpaceFox commented on #2790
@maestromac I can confirm its working on my end too.

[2019-06-10 22:12] pkfrank opened #3114 "Add link to API Docs in settings"
**Is your feature request related to a problem? Please describe.**
As a user generating an access token, I want to know where the API Docs live.

**Describe the solution you'd like**
On `https://dev.to/settings/account` add a link to `https://dev.to/api/`.

**Additional context**
This is probably a "good first issue."

[2019-06-11 01:50] arku commented on #3112
Interesting. This is how it looks to me on Firefox (I am on a Mac).

![image](https://user-images.githubusercontent.com/7039523/59237858-5c992480-8bc1-11e9-8cd3-13590b9cd2c1.png)

[2019-06-11 02:09] jessleenyc commented on #3051
I agree that some documentation could be helpful. Just an FYI, we do combine tags that are similar -- for example if you tag 'rubyonrails' it'll show up under 'rails'.

[2019-06-11 02:17] jessleenyc commented on #3069
Reminds me of this issue: https://github.com/thepracticaldev/dev.to/issues/2995

[2019-06-11 02:23] jessleenyc commented on #3077
Thanks for flagging, we'll take a look at this ASAP.

[2019-06-11 06:02] K-Sato1995 opened #3118 "Sometimes doesn't load a listing"
**Describe the bug**

When I click a listing on `newest listings`,
![image](https://user-images.githubusercontent.com/32632542/59247195-830a9e80-8c59-11e9-843b-9e922c1aea40.png)

Sometimes I get a black screen like the screenshot below and I have to refresh the page to load the listing.
![image](https://user-images.githubusercontent.com/32632542/59247176-738b5580-8c59-11e9-90c4-4ac665863135.png)

[2019-06-11 07:24] rhymes commented on #3118
If you can reproduced it, can you check if there's anything logged in the developer console? Thanks!

[2019-06-11 07:27] rhymes commented on #113
@ameersami @codehakase there's (since very recently) a beta API for articles/posts, you can find its documentation here https://dev.to/api/

[2019-06-11 07:50] K-Sato1995 commented on #3118
This is what i got in the console.

![image](https://user-images.githubusercontent.com/32632542/59253342-ecde7480-8c68-11e9-96cc-2f1ca62df0f9.png)
![image](https://user-images.githubusercontent.com/32632542/59253350-f49e1900-8c68-11e9-99cd-4adf4f829a35.png)

[2019-06-11 07:59] choroba commented on #2790
Yes, it's back!

[2019-06-11 10:51] I-NOZex opened #3121 "Dev.to stopped working on Facebook browser"
**Describe the bug**
Dev.to pages won't load on Facebook built-in browser

**To Reproduce**
Open a dev.to link from a Facebook share

**Expected behavior**
Load the page correctly

**Screenshots**
![error](https://user-images.githubusercontent.com/5805207/59265868-8c3e4000-8c46-11e9-9f96-6a3a8f2f5f73.png)

**Smartphone**

- Device: nubia z17 lite (nx591j)
- OS: Android 7.1.1
- Browser: Facebook (B

[2019-06-11 11:56] rhymes opened #3122 "Reading list: add pagination or infinite scroll"
**Is your feature request related to a problem? Please describe.**

Right now the reading list only displays the latest 64 items. If a user has more they can't access the other items until they've unsaved or archived "N - 64" articles.

See https://github.com/thepracticaldev/dev.to/blob/master/app/javascript/readingList/readingList.jsx#L24

**Describe the solution you'd like**

Either have a "Load

[2019-06-11 12:05] rhymes opened #3124 "Reading list: add number of items in the header"
**Is your feature request related to a problem? Please describe.**

From the homepage it is possible to see how many items there are in the reading list.
Once inside https://dev.to/readinglist that information is not accessible

**Describe the solution you'd like**

Add the number of articles in the title.

From the current

![Screenshot_2019-06-11 Reading List - The DEV Community](https://user-im

[2019-06-11 12:21] GeorgeColdham commented on #3091
Im just starting to look into this as my first contribution here. I have a couple of questions.

- What would be a good rate limit for new users? Im thinking ~4 posts an hour?
- How do you define a new user? Account age, number of posts, number of ❤️'s, etc?

[2019-06-11 12:31] jessleenyc commented on #3121
@maestromac heads up on this.

[2019-06-11 13:44] mariocsee commented on #3112
@arku Just to check, did you get to adjust your width to between 950 and 1119?

[2019-06-11 14:04] Zhao-Andy commented on #3077
Hey @darrarski, could you try visiting your organization settings now? Looks like it was a run time error.

[2019-06-11 14:05] darrarski commented on #3077
Yes! It works! Thanks for your support. I am closing the issue.

[2019-06-11 14:05] #3077 closed

[2019-06-11 14:21] maestromac commented on #2790
Seems like this is resolved. Please let me know if otherwise!!

[2019-06-11 14:21] #2790 closed

[2019-06-11 14:23] #3114 closed

[2019-06-11 14:41] maestromac commented on #3081
I've tested this thoroughly and it seems to be working now. Let me know if otherwise!!

[2019-06-11 14:41] #3081 closed

[2019-06-11 15:52] pkfrank commented on #3046
From a UI perspective, I think we could take some cues from an embedded Spotify playlist:

![spotify playlist example](https://cl.ly/b488fb96ad8d/Image%202019-06-11%20at%2011.50.26%20AM.png)

The top bar would be the Series Title, Author info, etc.  The "songs" would be one article per row.

CC @benhalpern

[2019-06-11 16:35] jessleenyc opened #3127 "Mute/Block Users"
**Is your feature request related to a problem? Please describe.**
As a user, I'd like to mute or block certain users from appearing in my feed or commenting on my content.

[2019-06-11 16:50] jessleenyc commented on #3122
Notes from tech meeting:
- A 'load more' button will be easier than pagination int his context because the way we navigate within pages makes it complicated to reset listeners.

[2019-06-11 16:53] jessleenyc commented on #3078
Situations where character counts work against you are less common these days, but this could still be interesting. We'd have to watch out for username conflicts and check if a short link exists if the user doesn't. Alternatively we could delegate to a different domain or subdomain. We're gonna keep thinking about this.

[2019-06-11 17:09] jessleenyc opened #3129 "Hot key toggle for article preview"
**Is your feature request related to a problem? Please describe.**
As a user, I'd like a hotkey that toggles the article preview when I'm writing a post so I don't have to manually click back and forth.

[2019-06-11 17:13] jessleenyc commented on #3049
I created a separate issue for @Zhao-Andy's toggle suggestion: https://github.com/thepracticaldev/dev.to/issues/3129

As for a live preview, we just discussed as a team and think it makes sense if someone wants to try creating an alternate editor that is a superset of our current ones. This could eventually be an editor that people chose as their default, that would include a live preview.

Some n

[2019-06-11 17:16] jessleenyc opened #3130 "Reading Time Estimation Incorrect for an Article"
@michael-tharrington commented on [Tue Jun 04 2019](https://github.com/thepracticaldev/team/issues/175)

**Describe the bug**
A particular post's (https://dev.to/backendandbbq/what-does-a-tech-lead-do-1cpj) estimated reading time is 1 minute, but the post is quite long and should be given a higher estimation.

**To Reproduce**

1. Visit this post - https://dev.to/backendandbbq/what-does-a-tech-lea

[2019-06-11 17:17] jessleenyc commented on #3130
Here's the full markdown of the article for anyone who wants to help debug this:

[code]

[2019-06-11 17:35] omenking commented on #3078
For my use case, the issue was more to do with the physical length of the URL than character restrictions.

Instead of subdomaining, you can do something as such:
[code]
The minimum length for a username in the codebase is 2 characters so this suggested method would not conflict. I agree most platforms restrictions are lifted.

So are the routes for username:
[code]

[2019-06-11 19:53] #3079 closed

[2019-06-11 19:55] #3088 closed

[2019-06-11 20:30] andrewrod33 commented on #3124
Currently, the home page shows the total amount of all articles (including Archived). Would this show that number or only the non-archived count?

[2019-06-11 20:37] rhymes commented on #3124
@andrewrod33 good point, I think it should list the number of non archived, and then in the https://dev.to/readinglist/archive page it should show the number of archived posts

[2019-06-11 20:43] beatngu13 opened #3133 "Encoding issues"
**Describe the bug**

One of [my articles](https://dev.to/beatngu1101/a-formal-look-at-seleniums-nosuchelementexception) uses various math symbols, which was fine when I wrote and published it. But today I've looked at it again and there are various encoding issues. Besides the math symbols, also plain dashes now cause issues, for instance:

Which once was:

You can check the expected behavior on

[2019-06-11 21:03] michael-tharrington opened #3134 "Provide Ability to Opt Out of Displaying GitHub or Twitter icon on Profile/Name/Comments"
**Is your feature request related to a problem? Please describe.**
A user wrote in asking if it was possible to opt out of having their GitHub link shown up next to their comments. They signed up via GitHub, but don't necessarily want their GitHub shown publicly. This option would give them more privacy.

**Describe the solution you'd like**
We could add inputs specific to Twitter and GitHub under

[2019-06-11 21:13] #3061 closed

[2019-06-11 21:17] rhymes commented on #3079
@timdeschryver the issue should be fixed now, I tested it on my account as well. Let me know if it doesn't work for you. Thanks!

[2019-06-12 06:29] timdeschryver commented on #3079
I verified that this does indeed work now, thanks!

[2019-06-12 09:50] lightalloy opened #3136 "Move delay calls to ActiveJob"
As described in #2497, to be less dependent of `DelayedJob` we also need to move jobs which are created by calling `delay` method to `ActiveJob`:

Here is the list of the calls:

- [ ] `Slackbot.ping`
- [ ] `MembershipMailer.delay.new_membership_subscription_email`
- [ ] `MembershipMailer.delay.subscription_update_confirm_email`
- [ ] `MembershipMailer.delay.subscription_cancellation_email`
- [ ]

[2019-06-12 10:09] noahsscott opened #3137 "Ability to moderate users from their profile page"
**Is your feature request related to a problem? Please describe.**
With the recent occurrence of spam (see [issue #3091](https://github.com/thepracticaldev/dev.to/issues/3091)) it would be useful to have the ability to flag or ban users from their profile page. This would save time marking individual posts if an account is responsible for more than one spam-like post and/or is clearly a spam accou

[2019-06-12 10:34] Merri opened #3138 "The editor removes meta upon booting"
**Describe the bug**
I've been working with one article for about a week now. Yesterday I added an organization and moved the article to the organization. Later on I noticed upon loading the article for editing that it was missing all the meta information. The editor only contains the article text. I can see the metadata flashing before the editor boots, but it disappears after boot (as buttons ap

[2019-06-12 12:51] Shosta commented on #659
Yes, that is perfect indeed.

[2019-06-12 13:04] GeorgeColdham commented on #3091
I have a working rate limiter for new articles. My preference at this point would be to implement these changes asap, then raise a couple of new tickets for the other points that were addressed by @benhalpern.

These being:
- Report accounts that hit the rate limit to the support channel
- Limit this to new users

[2019-06-12 14:13] maestromac commented on #250
Are you still experiencing this issue @powerman ? I've tried browsing dev.to on Vivaldi 2.5 MacOS Mojave and it seems to be working normally.

[2019-06-12 14:39] powerman commented on #250
Right now this issue has something with conflict between dev.to serviceworker and my uMatrix plugin.

Looks like uMatrix notice requests to most 3rd-party resources (including cloudinary) only when serviceworker is not registered when loading website. After that these requests probably done by serviceworker in some way which makes them invisible to uMatrix. Which in turn means I don't see requests

[2019-06-12 16:33] benhalpern opened #3141 "Moderators audit logs"
Moderators and admins take certain actions on the platform. Those actions can be discovered with certain breadcrumbs in our deeper app logs, the various things being created and destroyed, but we don't currently have a useful record of all actions taken.

I think it would be worth creating a table called `mod_actions` or something like that. It would be a table that we append to any time a mod or

[2019-06-12 23:07] desirottman opened #3145 "Feature Request: Block a user"
**Is your feature request related to a problem? Please describe.**
It seems like if there is a way currently to block another user on the platform, it’s not intuitive. DEV is a happy place (especially when compared to the rest of the internet!) but there are still many risks and reason someone might want to block another user.

**Describe the solution you'd like**
An easy-to-find button on a user’

[2019-06-13 09:30] lightalloy commented on #3136
I've made a pull request for one of the methods for a reference: https://github.com/thepracticaldev/dev.to/pull/3139

[2019-06-13 09:32] lightalloy commented on #2497
I have created another issue for this task in case anyone one wants to continue or start contributing:
https://github.com/thepracticaldev/dev.to/issues/3136

[2019-06-13 09:34] tannakartikey commented on #3136
@lightalloy I would like to help here.

[2019-06-13 13:37] Gaurav-Shankar commented on #3130
Can I have a look at that and work on it?

[2019-06-13 15:36] maestromac commented on #3130
Yep go ahead @Gaurav-Shankar !

[2019-06-13 15:56] maestromac commented on #3127
Superseded by https://github.com/thepracticaldev/dev.to/issues/3145

[2019-06-13 15:56] #3127 closed

[2019-06-13 15:56] Gaurav-Shankar commented on #3130
Great, thanks!

[2019-06-13 16:21] maestromac commented on #2228
Seems a bit related to https://github.com/thepracticaldev/dev.to/issues/250#issuecomment-501304147 . Which browser are you using @brylie ?

[2019-06-13 16:21] maestromac commented on #250
Thanks for that feedback @powerman . Sorry to let this sit around for awhile.

Since we don't officially support Vivaldi and this issue seems to be caused by an extension, this is out of our hand.

[2019-06-13 16:21] #250 closed

[2019-06-13 16:36] maestromac commented on #212
Hey @MSF-Jarvis can you check if it's updated now?

[2019-06-13 16:50] maestromac commented on #2964
Hello @jrsam , yeah the visual can based it off the preview failures and it should allow user to edit the message afterward.

What I mean by that is, with preview button you can click it again to go back to the markdown. The same needs to be possible with submitting.

[2019-06-13 17:00] brylie commented on #2228
Again, this isn't an issue I faced directly. See the related Reddit issue.

[2019-06-13 17:08] MSF-Jarvis commented on #212
Sorry, it isn't. https://github.com/MSF-Jarvis/viscerion is at 62 stars on GitHub but still at 60 stars on https://dev.to/msfjarvis which was when I pinned it.

[2019-06-13 17:19] maestromac commented on #3080
Thanks for this issue @ShalokShalom . Can you verify that it is still happening? I can't seem to reproduce it on FF 68.0b9.

[2019-06-13 18:50] michael-tharrington commented on #3137
Just to point out that this issue here seems quite similar to this issue - https://github.com/thepracticaldev/dev.to/issues/398. Sorry I didn't notice this when I was speaking with you previously @noahsscott!

[2019-06-13 19:40] ShalokShalom commented on #3080
Works with a private window. So potentially an add on issue.

[2019-06-13 19:40] #3080 closed

[2019-06-13 20:05] maestromac commented on #3080
Thanks for verifying @ShalokShalom !

[2019-06-13 22:04] maestromac commented on #1810
I've added additional logging to Service Worker. If anybody ever come across an aggressive offline page, please share the logging from your browser console.

[2019-06-13 22:41] NedyUdombat commented on #3112
Hi, I would like to work on this. But I am having troubles setting up the ruby application on my local machine, any form of assistance will he highly appreciated

[2019-06-13 23:15] rylandg opened #3151 "At a minimum, document the state of analytics"
**Is your feature request related to a problem? Please describe.**
There are no official statements/pages/documents describing the state of analytics. I've read through the open issues and existing PR's and think I understand the current state, but many users are not going to find this info on Github.

**Describe the solution you'd like**
I do not believe the analytics API is currently available.

[2019-06-13 23:23] rylandg opened #3152 "Editing content should be consistent throughout the site"
**Is your feature request related to a problem? Please describe.**
Both posts and comments on posts are editable, but direct messages between users are not. Regardless of preference (twitter style of no editing or slack of edit everything), the UX should be consistent throughout the site.

**Describe the solution you'd like**
Make direct messages editable (keep history if worried about abuse).

**

[2019-06-13 23:25] arku commented on #3112
Ah, no I didn't. Thanks for adding the resizing step to the Reproduction steps.

I am able to reproduce the issue.

![image](https://user-images.githubusercontent.com/7039523/59473497-47620700-8e08-11e9-9ca7-9a8a33432d3c.png)

[2019-06-13 23:26] arku commented on #3112
@NedyUdombat Thanks for offering to help! It would be helpful if you could let us know what issue you're running into.

[2019-06-13 23:31] rylandg opened #3153 "Consider adding a "bump" mechanism"
**Is your feature request related to a problem? Please describe.**
After a post is published, it's often necessary to make drastic changes/corrections if something was missed in the initial editing process. Un-publishing the post is perfect for this, but when you re-publish the post it goes back to the exact same place in the "queue" (latest queue for example). Dev.to does not have a simple/clear

[2019-06-13 23:43] rylandg opened #3154 "Limit "reaction" count to be 1 per unique user"
**Is your feature request related to a problem? Please describe.**

Right now, users are able to react with 3 different emojis on each post. Although this is a fun way to interact with content, it's also a public rating mechanism for content. Anytime "points" are assigned to something, you need to worry about the way people will abuse/value those points. But because the reactions are so indirect i

[2019-06-13 23:55] NedyUdombat commented on #3112
@arku I am trying to setup the database and it is showing me this. If you can help I would appreciate
![Screenshot 2019-06-14 at 12 53 58 AM](https://user-images.githubusercontent.com/31692932/59474501-01746580-8e3f-11e9-8353-432c12a94295.png)

[2019-06-14 00:41] muctim commented on #2406
what happened to my blog in here? dev.to/muctim I cannot post why?

[2019-06-14 02:15] sashadev-sky commented on #3129
@jessleenyc can I work on this one? :)

[2019-06-14 03:46] bellsenawat commented on #3122
Can I work on it :)

[2019-06-14 05:58] bolariin commented on #3124
if there are no items in the reading list would the count be absent or zero?

[2019-06-14 07:03] jrsam commented on #2964
Thanks @maestromac.

[2019-06-14 08:29] rhymes commented on #3124
@bolariin good question. I'd replicate the logic for the reading list count of the homepage:

https://github.com/thepracticaldev/dev.to/blob/7f2045b25004e771e26112e9b3d08992b3af3245/app/assets/javascripts/initializers/initializeReadingListIcons.js#L32-L43

which seems to be: `(empty)` or `(15)` for example

[2019-06-14 08:32] rhymes commented on #3122
Hi @bellsenawat it's all yours, thank you! Please provide screenshots along with the code

[2019-06-14 08:48] rhymes commented on #3112
@NedyUdombat what happens if you issue `createdb TestABC` from the command line? I think it's telling you there's a password required for your installation of PostgreSQL.

You can check the DEV installation docs to see how to provide the password to the Rails application https://docs.dev.to/installation/postgresql/#configuration

[2019-06-14 10:52] danielw93 commented on #1810
Hi! :)
I can still reproduce the behavior I described above with Firefox 67.0.1 on Ubuntu 18.04.2 LTS.

I went over to dev.to and opened the article [How to Be Great? Just Be Good, Repeatably ](https://dev.to/stephsmithio/how-to-be-great-just-be-good-repeatably-bk5), clicked on the link in the first line, navigating to the authors blog.
Hit browser back to go back to the dev.to article and got the

[2019-06-14 11:13] cyrillefr commented on #3136
Hello @lightalloy , I 'd like to help with `HtmlVariantSuccess.create`

[2019-06-14 11:48] maximelafarie opened #3156 "Cover image and post info doesn't update on Twitter"
**Describe the bug**

If you publish a post with any cover image, then you edit it and change the cover image again and you try to tweet the article, Tweeter only shows the first cover image you set. It's the same for the title if you changed it after first publication.

**To Reproduce**

1. Publish an article with a cover image
2. Share it on tweeter
3. Edit your post and change the cover image o

[2019-06-14 15:06] jcandan commented on #659
I've used mermaid over at [StackEdit](https://stackedit.io/). I love it, and would love it to be available on dev.to.

[2019-06-14 16:29] maestromac commented on #1810
Thanks for quick report @danielw93 . Are you using privacy badger or uMatrix by any chance? Is this reproducible in incognito?

[2019-06-14 18:14] jessleenyc commented on #3129
@sashadev-sky go for it!

[2019-06-14 18:16] jessleenyc commented on #2406
@muctimThis looks like an individual account issue. Please email yo@dev.to.

[2019-06-14 18:44] #3024 closed

[2019-06-14 19:02] NikoLewis commented on #2349
This seems to be working fine for me now.
<img width="752" alt="Screen Shot 2019-06-14 at 3 00 25 PM" src="https://user-images.githubusercontent.com/20360382/59531994-77b3af00-8eb5-11e9-9804-bb6266ff236b.png">

[2019-06-14 19:24] NikoLewis commented on #2960
I'd like to give this a shot :).

[2019-06-14 20:50] timdeschryver opened #3163 "bug(API): top parameter"
**Describe the bug**

The top parameter in the query string does not top the results.

**To Reproduce**

Without tag:
https://dev.to/api/articles?top=2

With tag:
https://dev.to/api/articles?tag=react&top=2

Something weird:

This does top the results
https://dev.to/api/articles?tag=Angular&top=2

While this does not
https://dev.to/api/articles?tag=Angular&top=1
https://dev.to/api/articles?tag=Ang

[2019-06-14 23:03] jessleenyc commented on #3134
One of the reasons why we require twitter or github auth (and don't support email login) is to prevent anonymity and increase accountability. Always happy to (and think we should) re-visit this idea.

[2019-06-14 23:06] jessleenyc commented on #3156
Ah, I believe Twitter caches that info on their side once they create the card image for the tweet. Even though the meta info gets updated, you'll have to manually refresh with the twitter card validator: https://cards-dev.twitter.com/validator

[2019-06-14 23:24] jessleenyc commented on #2919
@rugk #2790 has been fixed but we still have some other service worker issues as seen in #1810. However, want to try to logging in and see if it works for you?!

[2019-06-14 23:26] jessleenyc commented on #2638
cc @maestromac

Latest update on this issue are actually here: #1810

[2019-06-14 23:38] Zhao-Andy commented on #3133
Hey @beatngu13, thanks for the heads up. We'll take a look into it and see what's going on.

[2019-06-14 23:43] Zhao-Andy commented on #3152
Thanks for the issue @rylandg. We'll discuss this as a team and come back to this.

[2019-06-15 00:11] flrnprz commented on #3151
This could be a perfect paid feature, don't you think?

[2019-06-15 02:20] kensixx opened #3169 ""Follow Back" button on each of Followers in the list IF you are not followed to them yet"
**Is your feature request related to a problem? Please describe.**

I just noticed that when you view your Followers list, currently there's no "Follow Back" option next to the follower's name.

Currently you would have to click the profile of the follower, then that's the time you can follow him/her back.

**Describe the solution you'd like**

It would be nice if there's a "Follow Back" button ne

[2019-06-15 14:22] jsjoeio opened #3171 "Feature request: Turn Off Notifications for People I Follow"
**Is your feature request related to a problem? Please describe.**

I'm frustrated when I see notifications that are related to people I follow creating a new post.

**Describe the solution you'd like**

I'd love to be able to turn off notifications so that I am not notified when people I follow create a new post.

I'm not sure the best way to solve this but could be nice to have two options:

1.

[2019-06-15 15:35] cyrillefr commented on #2951
Hello @benhalpern , I'd like to work on this issue.

[2019-06-15 20:24] Gaurav-Shankar commented on #3130
Hi guys, I tried debugging this article's markdown and it works perfectly in my local showing a reading time of 9 mins.
Not sure how it's happening in prod this way. Can you guys help!
@jessleenyc @maestromac
<img width="883" alt="Screenshot 2019-06-16 at 1 54 02 AM" src="https://user-images.githubusercontent.com/40387944/59556018-94490780-8fd9-11e9-9797-71752f6cc581.png">

[2019-06-15 20:47] Gaurav-Shankar opened #3174 "Unable to fetch https://github.com/thepracticaldev/acts_as_follower.git while bundle install"
I was getting this while doing bundle install.

[2019-06-15 22:06] rugk commented on #2919
I actually noticed another thing:
* This time, if I clicked "login with Twitter" and navigated back from the Twitter auth page -> It then also showed me the "Dev is offline" page for some reason.

[2019-06-15 22:08] rugk commented on #2919
And the original issue also still continues…

[2019-06-16 00:32] benhalpern commented on #1512
https://github.com/thepracticaldev/dev.to/pull/3176 addresses the first big steps.

We are not all the way yet, as I left some of the functionality to be figured out and implemented.

Here is a post about this: https://dev.to/devteam/feedback-on-this-new-dev-feature-5cai

We should follow up with some additional sub-issues in terms of getting this feature finished-finished.

[2019-06-16 04:50] mazentouati opened #3180 "Undefined method `stringify_keys' when trying to install the database on windows 10"
**Describe the bug**
During DEV installation 'preparing database' phase fails with the following error :
[code]
My config file
[code]
These information are working fine when I access PostgreSQL though GUI or Command line. Also, I created the database manually still no hopes, the same exception always.

**Desktop (please complete the following information):**
- OS: win10
- Browser: N\A
- Ruby versi

[2019-06-16 07:52] Bhupesh-V opened #3181 "Addition of dev.to tags in meta tag"
**Additional context**

Including `article:tag` in the meta information will be a good idea for SEO
I have seen that dev.to has already a `og:type` tag.
[code]
So adding to this could be a good idea.
freecodecamp also has a `article:tag`
[code]
Taking it further `article:author` could also be added.

[2019-06-16 10:11] johannesvollmer commented on #1767
I'd like to add that __I would love to see real SVG images in the articles themselves too, not just in the banner__. Currently I am converting schematics and graphics to JPG, which is certainly not made to display vector graphics. Storing SVG images could also save dev.to some bandwidth. Of course, sanitization will have to be taken care of, I guess.

[2019-06-16 16:07] BogDAAAMN opened #3183 "Incorrect date on notifications"
**Describe the bug**

Opening the notification panel, I see wrong dates for the notification that I get. It's not clear if the date should show when the post or the notification was created, but either way, they also never change (see the comparison on screenshots Jun 15 vs Jun 16).

**To Reproduce**

1. Go to https://dev.to/notifications.
2. See a _someone made a new post_ notification.
3. Check

[2019-06-16 16:28] Glennmen commented on #3183
That is the time when the notification was created and not when the article was published, btw there is an issue already about this topic 😉https://github.com/thepracticaldev/dev.to/issues/2997

[2019-06-17 03:17] weekly-digest[bot] opened #3185 "Weekly Digest (10 June, 2019 - 17 June, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 93 issues were created.
Of these, 55 issues have been closed and 38 issues are still open.
## OPEN ISSUES
:green_heart: #3184 [Refactor/send mention notification](https://github.com/thepracticaldev/dev.to/pull/3184), by [copasetickid](https://github.com/copasetickid)
:

[2019-06-17 07:57] setevoy2 commented on #3070
And still no updates on this, team? :-(

[2019-06-17 08:00] maximelafarie commented on #3156
Ah nice catch! Maybe it'll be possible to automate this action with the API.  🤔😜

Here is the cURL API call (maybe you can do smth with it):
[code]

If you want some PR or anything else let me know I'll try to help the best I could. 🤓

[2019-06-17 09:00] danielw93 commented on #1810
@maestromac Good call!
It seems that Privacy Badger was indeed the problem. It showed dev.to as a potential tracker and had completely blocked the domain 🤦
After manually reenabling dev.to I can no longer reproduce the reported behavior.

[2019-06-17 14:30] #3185 closed

[2019-06-17 14:53] maestromac commented on #3174
Thanks for this issue @Gaurav-Shankar . In the future, please use our [help thread](https://dev.to/devteam/devto-open-source-helpdiscussion-thread-v0-1l45) for technical issues.

The reason we are using our fork version of that gem is because the original gem has been inactive for a bit now. Have you tried the suggestion from your terminal to remove the cache directory?

[2019-06-17 15:16] maestromac commented on #1810
Yeah, Service Worker is still a bit wonky and is false positive to extensions like Privacy Badger. Thanks for checking!

Are you still experiencing this issue @stereobooster ?

[2019-06-17 15:45] stereobooster commented on #1810
Hey @maestromac. No it was one time thing if we talk about offline screen issue.

I wonder if there would be any issues with the size of data in the storage or is it just ok

<img width="450" alt="Screenshot 2019-06-17 at 17 42 50" src="https://user-images.githubusercontent.com/179534/59617905-74bff500-9127-11e9-9266-205354e14b6a.png">

[2019-06-17 16:09] maestromac commented on #1810
Alrighty, I'm assuming this issue is resolved. Please let me know if otherwise!!

[2019-06-17 16:09] #1810 closed

[2019-06-17 16:11] maestromac commented on #2919
@rugk can you please share your browser's log?

[2019-06-17 16:17] maestromac commented on #2951
go ahead @cyrillefr !

[2019-06-17 16:27] maestromac commented on #2638
If you happen to experience this issue on desktop, please kindly share your browser's log here. Privacy Badger and uMatrix are known to be the cause of this issue.

On android, it's not very clear to us right now what's causing it but we are actively trying to resolve it.

[2019-06-17 16:42] maestromac commented on #2349
Hello @venarius & @maximelafarie , are you able to see transparent sloan now?

[2019-06-17 17:27] maestromac commented on #2228
Oh right sorry I missed that that.

Your report is very useful to us and it will make it easier to debug Service Worker.

[2019-06-17 17:37] wakeupmh opened #3204 "URL of Portuguese version of stack overflow is not allowed"
Why you don't give permission to insert pt-BR version of stack overflow into stackoverflow url field?
I had put this profile link:
https://pt.stackoverflow.com/users/34193/marcos-henrique
Because I'm more active in my country community, but this error is appeared to me:
![image](https://user-images.githubusercontent.com/14917870/59624523-564d0000-910d-11e9-97d9-a556902efdd2.png)

my Stackoverflow

[2019-06-17 17:47] rhymes commented on #3204
Currently the code allows only some URLs, we should add it!

https://github.com/thepracticaldev/dev.to/blob/13bfdf2b64fbe943a32ecd3bb4bd19b9e629079b/app/models/user.rb#L80-L83

I see there are a few localized versions of SO:

* https://pt.stackoverflow.com/
* https://ru.stackoverflow.com/
* https://es.stackoverflow.com/
* https://ja.stackoverflow.com/

[2019-06-17 18:18] timdeschryver commented on #3163
I think I was wrong, from what I can see the API doesn't support a `top` parameter.

It's still a bit strange that the results aren't the same (based on the `top` parameter), that's why I'll keep this issue open. Feel free to close if you'd like 🙂

https://github.com/thepracticaldev/dev.to/blob/master/app/controllers/api/v0/articles_controller.rb#L48

[2019-06-17 18:25] rhymes commented on #3163
Hi @timdeschryver I think you were right, the API supports a top parameter, it's just that it doesn't work exactly like you initially presumed.

`top` indicates the number of days, not the number of articles, see

https://github.com/thepracticaldev/dev.to/blob/5f5ae5567e5bed1a65e8cffab7f4d8d7cbe7d86a/app/services/article_api_index_service.rb#L69-L72

There's currently no way to specify the number

[2019-06-17 18:30] timdeschryver commented on #3163
Oh, my bad 😅!
Thanks pointing me to the correct location @rhymes.

[2019-06-17 18:30] #3163 closed

[2019-06-17 18:59] BogDAAAMN commented on #3183
Yeah, but checking the same notification (see **What's your worst nightmare as a coder?**) in different days I got the same timestamp of _less than a minute ago_.

[2019-06-17 20:00] rugk commented on #2919
It worked now . :thinking:

[2019-06-17 20:17] mazentouati commented on #3180
Okay I found the source of this problem, I just commented out the `STATEMENT_TIMEOUT ` variable before even running the setup (I just wanted to avoid the possible timeout error mentioned in the doc) thus somehow made the app pointing to a `nil` variable ( the `variables` variable ).

 I just added the STATEMENT_TIMEOUT variable to `application.yml` file with a big number of seconds `'9999999'` the

[2019-06-17 20:26] rhymes commented on #3180
@mazentouati I think what the [Windows docs](https://docs.dev.to/installation/windows/) is saying is wrong. You're supposed to increase the value of `STATEMENT_TIMEOUT` if you encounter problems, not removing it altogether.

I'm not sure why you get `nil` instead of a more relatable error though

[2019-06-17 20:54] mazentouati commented on #3180
Indeed, Hopefully I pulled the latest version ( which revert my `database.yml` file to it's original state ) and gave it a last chance before heading for Docker installation. That gave me the timeout error so I though about increasing the value.

I suggest that it throws that error because somewhere during the process of database creation it tries to call `stringify_keys` method on the `variables`

[2019-06-17 22:26] #2997 closed

[2019-06-18 02:41] bolariin commented on #3204
@rhymes I think you made a mistake with the labels

[2019-06-18 05:31] cyrillefr commented on #3136
Hello @lightalloy, I'd like to take the `HtmlVariantTrial.create`

[2019-06-18 05:57] edisonywh commented on #3153
I feel like a mechanism like this is very easily abusable - now anyone can artificially bump their contents.

This becomes an unfair game for genuine users who aren't doing the same

[2019-06-18 07:00] bellsenawat commented on #3122
I have a question
"Load More" button should apply to only Reading list or including Archive page
@rhymes

[2019-06-18 07:03] rhymes commented on #3122
@bellsenawat it should actually apply to any view, tags filters included

[2019-06-18 07:28] NirvanaFlame commented on #159
Hey, I have the same problem on my firefox browser:
Firefox version: 67.0.2 (64-bit)
OS: Ubuntu 18.04

This video file cannot be played. (Error Code: 102630)

![image](https://user-images.githubusercontent.com/28052936/59661411-6c150080-91b3-11e9-9242-0dbe63c9ff92.png)

[2019-06-18 08:45] Avalander opened #3216 "Feature request: List added tag guidelines in the editor"
**Is your feature request related to a problem? Please describe.**
Not really a problem, but I've noticed that some tags get misused a lot. Especially the `discuss` tag seems to be used as a wildcard for all sorts of topics. Since the guidelines are only visible in the tag page, I suspect a lot of users don't even know that they exist.

**Describe the solution you'd like**
Maybe it would be good t

[2019-06-18 09:22] lightalloy commented on #2952
Some thoughts on the podcasts playability after more research:

- as Andy said, non-https urls are not allowed in the `<audio>` tag
- some podcasts don't provide `https` media urls, but sometimes the episode is actually reachable by `https`, though there is an `http` url in the feed

So, currently, if a podcast episode has an `http` url in the feed, we try to reach it by `https`. If it's reachable

[2019-06-18 09:52] rafalpienkowski opened #3217 "Can't remove the article from reading list"
**Describe the bug**

I can't remove some articles from my reading list. Additionally, they have reading time equal to 0 min.

**To Reproduce**

1. Go to the Reading list
2. Try to archive article which has been moved/deleted
3. Archived article is still present after the page refresh

**Expected behavior**
Moved/deleted articles should be removed from my reading list because they are no longer av

[2019-06-18 09:59] lightalloy commented on #2525
Fixed by #3012

[2019-06-18 09:59] #2525 closed

[2019-06-18 10:24] lightalloy commented on #2952
It's useful for a podcast to have a status too. E.g the status could be set when the feed cannot be fetched. Currently, such situation is not handled properly (the error is just written to the log).

[2019-06-18 11:35] spences10 commented on #2911
Do you know if either support [`.mkv`]? A container format for video and audio.

[`.mkv`]: https://www.howtogeek.com/200736/what-is-an-mkv-file-and-how-do-you-play-them/

[2019-06-18 13:23] maximelafarie commented on #2349
I guess you wanted to mention @maximepiard instead of me! 😉

[2019-06-18 13:59] jessleenyc commented on #3151
@pkfrank do you think we could add some more info to the FAQ page about this?

[2019-06-18 14:30] jessleenyc commented on #3216
I really like this idea but if someone is adding four tags, the area could get really cluttered with instructions. I do think a note that your tag could be removed would be nice to have on the editor, maybe it could link out to more specific information on how to check tag rules.

[2019-06-18 14:35] jessleenyc commented on #3217
Thanks for flagging. You can follow along the deletion issue here: #1641. For anyone who wants to tackle the reading time issue showing 0 min, I think we need to add a condition for short articles to default to one minute. Here's an example of another area where we already fixed this: #3024

[2019-06-18 14:35] maestromac commented on #159
Thanks for the report @NirvanaFlame . I just tried and  wasn't able to replicate the same error on that video. Can you replicate the error in incognito mode?

[2019-06-18 14:59] #3183 closed

[2019-06-18 15:04] rugk opened #3222 "Automatically enable/disable dark mode via prefers-color-scheme"
**Is your feature request related to a problem? Please describe.**

There is a manual switch for a dark mode, but that is inconvenient and I would have to do that on each site if each site were doing it like this.

**Describe the solution you'd like**

There is a quite new CSS media query feature called [`prefers-color-scheme`](https://developer.mozilla.org/docs/Web/CSS/@media/prefers-color-scheme

[2019-06-18 15:36] andrasbacsai opened #3223 "Posts counted as -1"
**Describe the bug**
My dashboard looks like this at the moment:

![image](https://user-images.githubusercontent.com/5845193/59697449-1e69b980-91ee-11e9-90d8-b9493c8b7989.png)

I had a post in the past, which I've deleted, because I was not totally fine with it.

Now my posts counted as -1 instead of 0.

**To Reproduce**
1. Create post
2. Delete it

I did not test it, to be honest.

**Expected beh

[2019-06-18 15:59] karaluton opened #3224 "Instagram Link"
I'd love to have an Instagram link added. There's a growing developer community on Instagram and it'd be nice to be able to link to Instagram from our dev.to profile.

[2019-06-18 16:17] rylandg opened #3225 "Reported "recent reactions" don't make sense"
**Describe the bug**
My notification window will sometimes say "90" people recently reacted, only to then see "70" people recently reacted a few minutes later. This is very confusing and doesn't add value to the experience.

**To Reproduce**
Get a lot of reactions on a post. Watch updates in notification window.

**Expected behavior**
I'm assuming this is implemented with a rolling window for the

[2019-06-18 16:17] rylandg commented on #3153
@edisonywh I agree there is potential for abuse. I think it can be done correctly and would punish authors less when they mess up their initial post.

[2019-06-18 16:18] rylandg commented on #3152
@Zhao-Andy Of course, thanks for taking the time to think it over!

[2019-06-18 16:19] rylandg commented on #3151
@flrnprz Not sure how that fits into the business model, but I would personally have no problem paying for such a service (I do earn a good bay area salary though).

@jessleenyc any information would be an improvement over the current state.

[2019-06-18 16:25] rylandg opened #3226 "Image upload elements get lost at certain browser scales"
**Describe the bug**
When the horizontal size of the Dev.to window is scaled down, the "image" buttons can get lost and the window must be resized to recover them.

**To Reproduce**
1. Edit a post.
2. Narrow your browser window horizontally while watching the image button in the editor pane
3. Wait until it disappears

**Expected behavior**
Buttons don't go on spiritual journeys outside of the bro

[2019-06-18 16:37] NirvanaFlame commented on #159
Hey @maestromac, I will try it tomorrow.
FYI. No problems with my home laptop.
Version:  67.2.2(64-bit)
Mozilla Firefox for Manjaro Linux

[2019-06-18 17:01] maestromac commented on #3171
Thank you for this issue @jsjoeio . The logic and the additional fields for this feature could sit in a couple of area; User Model, Follow Model, or the NotificationSubcription model.

A rough idea of mine is to let NotificationSubscription decides whether or not to create a notification based on user's preference.

[2019-06-18 17:06] mazentouati commented on #3226
On smaller screen sizes they jump to the button of the editor to give space. Are they gone there too ?

[2019-06-18 17:24] maestromac commented on #3153
Note from team meeting:

[2019-06-18 17:29] mariocsee commented on #3145
Hey @desirottman, thanks for submitting this feature request! Preventing abuse and harassment in dev.to is very important for us, and blocking would definitely put more immediate control into users to protect themselves. Currently, we only have blocking on Connect, which we shipped alongside Open Inbox and prevents opening direct chat channels between you and the blocked user.

In our meeting earl

[2019-06-18 17:35] maestromac commented on #3183
Hello @BogDAAAMN This should be resolved by https://github.com/thepracticaldev/dev.to/pull/3076 Can you help us verify that?

[2019-06-18 17:35] jessleenyc commented on #2638
Happening to someone else on Android/DuckDuckGo.

[2019-06-18 17:41] desirottman commented on #3145
thanks for the feedback! I know that a true "full" block isn't possible anywhere - Twitter is the same way, if a blocked user is logged out, they can still see your public content - it was just something I'd been thinking about.

thanks so much for taking it seriously and talking about it with the team!

[2019-06-18 18:08] jsjoeio commented on #3171
Thank you for hearing my idea! @maestromac 🙏🏼

[2019-06-18 19:18] rhymes commented on #2996
Hi @Turnerj, we've decided to table this for a while because we don't necessarily want to break client code (which might also be the DEV website). Since changing the data type is indeed a breaking change, we might postpone this to a future API v1.

In the meantime we could make a note of all incosistencies to at least have them documented :-)

[2019-06-18 20:03] maestromac commented on #3070
Sorry for the delay @setevoy2 .

It looks like your RSS feed [isn't valid](https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Frtfm.co.ua%2Fen%2Ffeed%2F). I'd recommend you follow W3C's feed validator's suggestion and then retry fetching your feed from dev.to

[2019-06-18 20:26] maestromac commented on #3070
Our RSS reader could not fetch the missing entry, ["APIOps: The art of mixing APIs"](https://medium.com/better-practices/apiops-the-art-of-mixing-apis-b0d85de88864), is because the post happens to include the following.

That is considered a [Liquid Variable](https://shopify.github.io/liquid/tags/variable/) and is disabled by in our MarkdownParser. I'm working on a workaround.

[2019-06-18 21:16] s1037989 commented on #2638
Thanks for posting for me @jessleenyc !
It is happening with 100% consistency for me on Android/DDG (my default browser).  I cleared all tabs and cache and it persists.  I restarted my Android and it persists.
I copy the link from the DDG URL bar and paste it into Chrome and it's successful.
I switch my default browser to Chrome and it's successful.
@jessleenyc What kind of an error am I getting w

[2019-06-18 21:33] rylandg commented on #3226
@mazentouati you found them! I still think it should be addressed because I would have never found that myself + it's still impractical.

[2019-06-18 21:35] rylandg opened #3227 "Add more than 1 image at a time"
**Is your feature request related to a problem? Please describe.**
You currently cannot add more than 1 image at a time. This amongst other issues with the image uploading process causes it to be incredibly tedious.

**Describe the solution you'd like**
Allow me to upload all the images at once. Generate sequential uuids for the URI's so addressability isn't an issue.

[2019-06-18 22:03] mariocsee commented on #2825
Resolved via #3014

[2019-06-18 22:03] #2825 closed

[2019-06-18 22:11] mazentouati commented on #3226
@rylandg Indeed, it's not intuitive. This may be an issue for users who never used the version 1 of the editor. Probably, it has been made that way because you usually add images as you write your article. However, it's not very practical when editing like your case.
I think it's impractical on both mobile & desktop versions, desktop users have to scroll up each time they need to upload an image w

[2019-06-18 22:15] rylandg commented on #3226
Perfectly summarized +1

On Tue, Jun 18, 2019 at 3:11 PM Mazen Touati <notifications@github.com>
wrote:

[2019-06-18 22:22] mazentouati commented on #3222
It's very practical and useful. However, I don't think it's sane to delivery production-level code based on experimental features. They are not stable and may experience behavioral changes in the future.

[2019-06-19 00:59] Turnerj commented on #2996
If it helps, I did actually look into this previously for #2040 ([comment](https://github.com/thepracticaldev/dev.to/pull/2040#issuecomment-472238352)) where I found only one reference used in chat.

The API call
https://github.com/thepracticaldev/dev.to/blob/a9254eac407baf71a781fb94759b296f2fdedcdd/app/javascript/chat/chat.jsx#L527-L535

The control it seems to render
https://github.com/thepracti

[2019-06-19 01:35] #3204 closed

[2019-06-19 03:14] mazentouati commented on #3183
@maestromac that PR has been merged yesterday, it should be live now. However, it does not fixes the frozen timestamps. Are they cached ?

[2019-06-19 06:33] Avalander commented on #3216
You make a good point! What if the guidelines where collapsed by default and could be expanded? Although maybe that would make too much clutter anyway.

[2019-06-19 09:15] kodaman2 opened #3231 "Saving articles as lists"
I searched on current feature requests and didn't find anything like it, or if this is already possible on the site as it is. I apologize in advance. : ) I realize this might create a layer of complexity, and I really do love the simplicity of dev.to but having those articles saved for later might be really useful for me.

**Is your feature request related to a problem? Please describe.**

I don't

[2019-06-19 09:21] setevoy2 commented on #3070
Oh, I see...
Thanks a lot, @maestromac - fixed now.
Will dev.to now re-read this feed to add already published posts? Or I need to re-post them on my blog to make them appear in the RSS again?

[2019-06-19 11:48] GeorgeColdham opened #3234 "Notifications don't update permalinks with name changes"
**Describe the bug**
When a notification is received, the link to the article/comment is using the same permalink as can be used to reference it.
If a user changes their name this permalink is broken and leads to a 404 page.

**To Reproduce**
1. Generate a notification somehow
2. Change the username of the notification sender
3. Try following the link

**Expected behavior**
The link should still w

[2019-06-19 12:04] BogDAAAMN commented on #3183
@maestromac @mazentouati the PR seems the fix the issue for me. Though I get random notifications with _1 minute ago_ timestamp in the middle of the list. I will monitor the status of these cases and see if they change.

[2019-06-19 12:16] rhymes commented on #3183
@BogDAAAMN they are all cached, so it might take a while

[2019-06-19 13:32] lukas-derksen commented on #2638
This was indeed my problem, Privacy Badger blocked the website. Makes me wonder why it only occasionally does so, though.

[2019-06-19 14:16] pkfrank opened #3236 "Make links in comments rel="nofollow""
**Is your feature request related to a problem? Please describe.**
Occasionally, spam users will join DEV in order to post articles/comments that are primarily designed for a backlink.  We already have several mechanisms in place to proactively and reactively deal with this sort of abuse, but we can do more to specifically deter comment spam.

**Describe the solution you'd like**
Make all links in

[2019-06-19 17:19] masquerade817 commented on #95
It wasn't! I'm still facing the issue!

[2019-06-19 17:53] jeduardo824 commented on #3169
I would like to work on this