[2020-10-01 08:14] rhymes commented on #4959
@citizen428 @Ridhwana in light of the work you've been doing, should we close this?

[2020-10-01 08:16] rhymes commented on #5003
I'm closing this as I believe it's not an issue anymore as we've since reworked login and params and was definitely able to login with Twitter on Edge

[2020-10-01 08:16] #5003 closed

[2020-10-01 08:17] rhymes commented on #4884
Closing this as we probably don't need an umbrella issue anymore

[2020-10-01 08:17] #4884 closed

[2020-10-01 08:17] #4877 closed

[2020-10-01 08:19] #4608 closed

[2020-10-01 08:19] rhymes commented on #4608
Closed this as users can self delete now

[2020-10-01 08:20] rhymes commented on #4545
I think this has since been fixed now

[2020-10-01 08:20] #4545 closed

[2020-10-01 08:21] rhymes commented on #4328
The main blocker here is that [Pusher end-to-end encrypted private channels](https://pusher.com/docs/channels/using_channels/encrypted-channels) don't work with the Ruby client :-(

[2020-10-01 08:23] rhymes commented on #4105
@nickytonline pinging you about this, I think we should close the issue but keep in mind that we still need to declare which browsers we actually support

[2020-10-01 08:25] abenettt commented on #4328
That is true but, correct me if I'm wrong, but I think I remember a discussion on whether to stay with pusher or using an (open source) alternative. I think this issue could be shelved until the decision on whether to use pusher is resolved.

[2020-10-01 08:35] Ridhwana commented on #4959
Yes please, closed.

[2020-10-01 08:35] #4959 closed

[2020-10-01 08:40] #10032 closed

[2020-10-01 08:48] rhymes commented on #9287
Thanks, closing this then

[2020-10-01 08:48] #9287 closed

[2020-10-01 08:49] rhymes commented on #9781
@krishnadevz ahha please don't tag random DEV members unless there's a specific reason in the conversation :)

I'm going to ask our design team to provide feedback

[2020-10-01 08:51] rhymes commented on #4328
@abenettt yeah, I don't think any of the alternatives listed in that conversation supports e2e though. I'm not surprised as it's not an easy thing to tackle within the context of an open source project

[2020-10-01 08:51] trueneu commented on #1110
It is still an issue and it was not fixed in any way.

[2020-10-01 08:54] diogoosorio commented on #10106
Hum, I kind of already did (??):

https://github.com/forem/forem/pull/10131/files#diff-1dca539dd1dfbbc75ce747cbd737698d

I haven't looked into it, it was either reverted for some reason or there was some sort of a concurrency issue which lead to git merge this incorrectly. I'll look into the version control history and publish my findings here. 😄

[2020-10-01 08:58] ludwiczakpawel commented on #9781
We're going away from using these kind of filters since they aren't bulletproof. It will likely work in that specific scenario but it won't work in many other cases.

The real solution here is letting community admins provide two versions of the logo: one for light themes and one for dark themes. Otherwise we can't guarantee that their logo will look good no matter what theme.

[2020-10-01 08:59] rhymes commented on #1110
Thanks @trueneu - I'll keep this open

[2020-10-01 09:00] diogoosorio commented on #10106
Nevermind, this is in the state I was expecting on master:

https://github.com/forem/forem/blob/master/app/workers/github_repos/repo_sync_worker.rb#L30

Unless I entirely misunderstood the problem, I think this is done. If I have misunderstood something, please ELI5 it to me. 🙏

[2020-10-01 09:01] diogoosorio commented on #10060
All right thanks for all the help @msarit and @Zhao-Andy.

I'll picking this one up (I was actually waiting of October 1 to start it, because now there are free t-shirts involved 😂 ).

[2020-10-01 09:11] trueneu commented on #1110
I can only test it with Chrome and vimium at the moment - doesn't work there.
Chrome version 85.0.4183.121, vimium 1.66.

[2020-10-01 09:31] rhymes commented on #10106
You're right! Thanks @diogoosorio

[2020-10-01 09:31] #10106 closed

[2020-10-01 09:31] rhymes commented on #10060
Assigned this to you @diogoosorio, thanks!

[2020-10-01 11:25] Manaswini1832 commented on #394
I'd like to take this issue up but I'm still not very clear as to what exactly can be done to improve the focus styles. Will adding a thicker border to interactive elements on focus suffice?

Also I noticed something else while navigating the site through my keyboard. In the markdown editor, the "Add a cover image" button has a focus style applied to it when I tab to it, but when I press Enter twi

[2020-10-01 11:40] gabrielbarker opened #10509 "Refactors to reduce CodeClimate code smells"
Hey @forem-team !

I was looking at some of the issues on your CodeClimate report and thought I'd fix a couple for you. If this is kind of annoying then feel free to close this issue and my PR.

I've ran all the tests locally and everything still seems good 🙂

Thanks!

[2020-10-01 11:43] Manaswini1832 commented on #394
I figured out how the "Add a cover image" functionality works while navigating with a key board. I just had to tab to it and press CTRL+SHIFT+Enter. But for the "Upload image button", I still couldn't figure out how it opens up the file explorer. Could someone help?

[2020-10-01 12:03] ludwiczakpawel commented on #9997
FYI: new listing form is now live on prod, check it out. The "Category details/rules" elements is also a bit more prominent right now, so maybe that's enough?

[2020-10-01 12:29] rhymes commented on #10509
Thanks @gabrielbarker!

[2020-10-01 12:53] AdekunleA commented on #9996
Big apologies for the very delayed reply to this.

That's interesting, I'll look into it again from my end and make a PR if I'm able to reproduce it.

[2020-10-01 13:00] vaidehijoshi commented on #6914
Nope! Feel free to close or unassign me

[2020-10-01 13:41] nickytonline commented on #394
This might be a few PRs. If a focusable element has no visual cue when focused we'll need to address this. I think a lot of this might be done, but there are still areas where it may not be. @ludwiczakpawel, @lisasy, once we have a list of these, what would you like to see as the focus style? Are we using the default outline, or something else?

[2020-10-01 13:50] atsmith813 commented on #6417
@rhymes I believe this is still a valid issue 💯

[2020-10-01 14:02] cwray-tech commented on #9658
@rhymes why don’t the series have their own model and controller?

[2020-10-01 14:15] rhymes commented on #9658
@cwray-tech they do, unfortunately the domain name is different. They are called collections in the code: https://github.com/forem/forem/blob/master/app/models/collection.rb and https://github.com/forem/forem/blob/master/app/controllers/collections_controller.rb

[2020-10-01 14:37] lightlace commented on #10271
I'd like to tackle this issue!

[2020-10-01 14:51] cwray-tech commented on #9658
@rhymes ah!! This helps so much. Thank you 😊

[2020-10-01 14:55] rhymes commented on #10271
@lightlace cool, I've assigned it to you!

[2020-10-01 16:24] michael-tharrington commented on #6067
First off, thanks so much bringing up this issue! I can confirm that another user recently reported this to us as a problem.

Some other considerations:

1. Autoplaying videos is also problematic b/c it may accidentally eat up bandwidth/data for mobile users. I think we should definitely turn off autoplay for mobile users.

2. One alternative we could potentially use for desktop users would be to

[2020-10-01 16:26] lisasy commented on #9902
@rhymes Yes, it seems it has been fixed with something that Ben helped out on.

Login path: `https://dev.to/enter`
Create account path: `https://dev.to/enter?state=new-user`

[2020-10-01 16:27] lisasy commented on #394
@nickytonline I can design this; it's something I've noted as also needing to be addressed. I'll have something by EOD tomorrow if that is okay.

[2020-10-01 16:32] vaidehijoshi commented on #6067
+1 to this issue! I'd vote that we don't autoplay at all on mobile. For web browsers, I'd be okay with autoplaying as long as but videos default to being _muted_ on web. But I'm also okay with @michael-tharrington's suggestion to just not autoplay on web, either!

[2020-10-01 16:34] fdoxyz commented on #6067
+1 from me on all the feedback above as well.

[This method](https://github.com/forem/forem/blob/master/app/assets/javascripts/initializers/initializeVideoPlayback.js#L67-L86) is where the web video player is configured. We would need a PR that follows the autoplay criteria mentioned above.

**Context:** Currently the native mobile experience does not have autoplay. The caveat is that iOS currentl

[2020-10-01 16:39] reobin commented on #6067
Good stuff! I'll work on this

[2020-10-01 16:42] fdoxyz commented on #6067
Thank you @reobin I just assigned the issue to you

[2020-10-01 17:42] diogoosorio commented on #10132
Seems simple enough, I can pick this one up! 👍

[2020-10-01 17:47] fdoxyz commented on #5010
Closing as the updates to the authentication flow now support this (authenticating with two separate OAuth providers doesn't result in multiple accounts being created)

[2020-10-01 17:47] #5010 closed

[2020-10-01 18:16] fdoxyz commented on #10132
Thank you @diogoosorio I just assigned the issue to you

[2020-10-01 18:33] irmela commented on #10427
@rhymes thanks! I’m on it 👩‍💻

[2020-10-01 19:05] #10060 closed

[2020-10-01 19:12] boardfish commented on #9902
Yeah, that's roughly what I envisioned. I recognized that there were two separate views for login, one with a sign-up form and one without, so this fix would be to cater for those that already have accounts (exclusively against OAuth providers).

[2020-10-01 19:54] wotta commented on #10482
Hello,

I have a quick question. Are forms being validated? if so where can I find those 🙂 ?
Will submit a pr shortly with the changes.

Not sure how I can test it in gitpod because I have never worked with ruby.

[2020-10-01 21:22] mstruve commented on #2223
I was about to grab this ticket when I realized that we actually [already have this setup in our codebase](https://github.com/forem/forem/blob/master/app/views/shell/_top.html.erb#L59) so I am going to go ahead and close it! Thanks for the great suggestion!

[code]

[2020-10-01 21:22] #2223 closed

[2020-10-01 22:04] lisasy commented on #394
@Manaswini1832

I've just gone through the editor view and encountered the same issues you mention, so yes; we're definitely reproducing them, so they are likely gaps we have. I also noticed that I couldn't tab to the close [x] icon in that top right.

I'm going to create a fresh issue for these accessibility issues for Hacktober and tag you on it. Would you be okay with that?

Thanks so much!

[2020-10-01 22:10] lisasy opened #10521 "A11y: improve keyboard access for buttons on /new editor view"
# Problem
When I am in the Write a Post editor view (`/new`) and tab through with my keyboard, I cannot select or access certain buttons:

1. "Add cover image": I can navigate to the button, but pressing on it twice doesn't open anything.
2. "Upload image": Tabbing skips this button.
3. "Close" icon in upper-right: Tabbing skips this button.

# Proposed solution

Make all 3 buttons selectable and

[2020-10-01 22:19] lisasy opened #10522 "🌈 Feature request: Rich Editor Toolbar"
## Problem
Right now, our editor for writing a post is limited to using markdown. This limits the UX of our evolving audience as we move away from developer-only communities to other ones.

## Proposed Solution
We want to extend the functionality of our editor toolbar to have buttons for basic styles like bold, italic, link, list, quote, code.

[Design Mockup](https://www.figma.com/file/PIPeiiVSAD

[2020-10-01 22:24] lisasy opened #10523 "Adjust flare tag display on Feed card"
## Problem
Right now, the "flare tag" on feed cards sit above the title, but this visual design is clunky and not what we want to keep in long-term.

## Proposed solution
Change the way we display flare tag by highlighting it within the row of tags below the title.

[Design mockup](https://www.figma.com/file/lMIzNY8ORLej9XInAqx34w/Untitled?node-id=0%3A1)

[2020-10-01 22:35] fdoxyz commented on #10482
Hey @wotta, sorry I replied over in the PR before noticing this message of yours.

I left a couple links over there with with how to add the new parameters to the permitted params and also the test case that validates this functionality.

I'll ping the team so hopefully someone with more gitpod experience can help you out with working your way around that

[2020-10-01 22:50] fdoxyz commented on #10482
In case it helps, there was an awesome conversation about using gitpod over in #10373 by two other contributors.

In case you want to browse that conversation, it may be helpful 🙂

[2020-10-01 22:52] #6067 closed

[2020-10-01 23:47] sjdweb commented on #10498
@davorg @rhymes do you expect the full code snippet to appear in the feed (i.e. scraped), or would a link to the gist be acceptable as a fallback?

Either way this will help users with JS disabled.

[2020-10-02 01:17] justinyoo commented on #10028
I have the same issue. I published a post with the `canonical_url` in the frontmatter. When the post was initially published, the message, `originally posted at xxx` existed. However, after I modified the same post, the original post message has disappeared. I confirm that the metadata still exists in the header section.

[2020-10-02 01:38] KarenEfereyan commented on #10482
Yes our conversation over at that thread was awesome. You should check it out

[2020-10-02 01:42] Bhacaz commented on #6755
@rhymes I would like to work on this.

[2020-10-02 01:48] Manaswini1832 commented on #10521
I'd like to work on this issue. May I take it up?

[2020-10-02 01:48] Manaswini1832 commented on #394
Thank you for the consideration😊

[2020-10-02 04:24] akshayymahajan commented on #10523
I would like to work on this..

[2020-10-02 07:26] davorg commented on #10498
I'd prefer it if the full Gist appeared. But either solution would be fine

[2020-10-02 07:35] abenettt opened #10526 "Allow external media links to be rendered"
**Is your feature request related to a problem? Please describe.**
Forem allows users to embed images into their posts and comments but sometimes users just paste a link into their posts / comments so they are not rendered correctly.

**Describe the solution you'd like**
When rendering the post or comment in the frontend we can check all the standalone links for their content type by sending a `HE

[2020-10-02 08:37] rhymes commented on #6755
Cool, I've assigned this to you! Make sure the API spec documentation is also updated if you can, thank you!

[2020-10-02 08:38] rhymes commented on #10521
Yes @Manaswini1832, thanks! I've assigned this to you

[2020-10-02 08:40] rhymes commented on #10523
@akshayymahajan I've assigned you the issue, thanks!

[2020-10-02 08:45] rhymes commented on #10498
@davorg @sjdweb I'm not entirely sure we can scrape the gist, but [gists have an API](https://docs.github.com/en/free-pro-team@latest/rest/reference/gists#get-a-gist)

That said, retrieving the gist(s) might also have performance issues if many articles have many gists in the same article, though the feed is cached so it might be fast enough...

I'll leafve it to your judgement @sjdweb and we can

[2020-10-02 08:46] rhymes commented on #10526
I believe this is a duplicate of https://github.com/forem/forem/issues/6369 and https://github.com/forem/forem/issues/1445 if I understand the request correctly @abenettt

[2020-10-02 11:29] dannyverp opened #10531 "Issues with z-index with Github Liquid tag and post options"
## Description
There seems to be an issue with the z-indexing of some of the cards on the preview post page in combination with the Github Liquid tag. The issue seems to be present in all themes.

## Steps to reproduce
1. Create a new post;
2. Add some headers and text so that the content overflows the editor and the scrollbar appears;
3. Use the Github Liquid tag (for example `{% github forum/for

[2020-10-02 12:17] ankiiitraj commented on #10132
Hello, I'm new here, this seems an easy task for me to get started. Let me know if I can work on it! 😃

[2020-10-02 12:41] rhymes commented on #10132
@ankiiitraj, thanks for offering, @diogoosorio already claimed this PR but you're welcome to choose any other issue :) You can take a lok at the rest of the [hacktoberfest pool](https://github.com/forem/forem/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest) or those tagged with [difficulty: easy](https://github.com/forem/forem/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest+label%3A%22diff

[2020-10-02 14:05] danielw93 opened #10533 "Prevent users from losing their unfinished comments when interacting with an article"
**Is your feature request related to a problem? Please describe.**
Writing a long, thought out comment on a post is frustrating at times, because it is really easy to lose your work if you leave the current page without realizing it.
I often find myself re-reading parts of the article I'm commenting on and will often try to see a bigger version of an image or absentmindedly click a link in the art

[2020-10-02 14:06] akshayymahajan commented on #10531
I would like to fix this..

[2020-10-02 14:07] maestromac commented on #10438
Sorry @sabarish98 I'm not sure what's causing this issue for you but looks like you successfully updated the doc. Thank you for your PR!

[2020-10-02 14:07] #10438 closed

[2020-10-02 14:16] rhymes commented on #10531
@akshayymahajan I've assigned it to you! Thanks

[2020-10-02 14:27] joshpuetz commented on #10482
Hi @wotta! In order to test these changes manually, you'll need to log into you locally (or running on Gitpod) forem as an administrator. The best way to do that is to create an account on your local forem, then grant it administrator rights via the console. There are details on how to do in our setup docs here: https://docs.forem.com/admin/

[2020-10-02 14:40] leewynne commented on #9921
Yeah I think so! Although I don't think the experience level ratings will matter too much for smaller communities

[2020-10-02 15:05] #10481 closed

[2020-10-02 15:30] wotta commented on #10482
Hello everyone,

Thanks for the feedback. I will hopefully finish this somewhere in the weekend. Mainly because I am a bit sick and I need some rest.

Nothing to serious but annoying enough to know I should rest.

[2020-10-02 16:26] maestromac commented on #9118
@rhymes Webp is supported on Imgproxy but we would still need to update Carrierwave too because it is the first recipient of the uploaded content, then it get modified/cached by Imgproxy.

[2020-10-02 16:33] Taniyah-L-Jackson commented on #4523
Morning, I wanted to ask about how to display the pinned comments. Instead of the comment surfacing to the top, could an auto-scroll be useful? Similar to how PDF word search works, but instead of the search bar in the image, it shows '1 out of 5 pins'.  Also, if it were possible, would this route be difficult or fairly simple? I'm wondering if it would cause the code to be clunky and 'overworded'

[2020-10-02 18:04] maestromac commented on #7503
Looks like this was resolved with https://github.com/forem/forem/pull/7515

[2020-10-02 18:04] #7503 closed

[2020-10-02 19:27] leewynne commented on #10102
Yup!

[2020-10-02 19:40] ewaDev commented on #10064
Hi, I would be interested in looking into this - would we expect the same image to appear? Would this badge be automatically added when a pull request is merged?

[2020-10-02 19:44] ewaDev commented on #6087
Hi folks! I would be interested in giving this a go if poss!

[2020-10-02 19:55] #10531 closed

[2020-10-02 20:16] mikenath223 commented on #5018
Yes, I do. However, I wasn't able to reproduce the issue on my browser(Chrome). I would be glad to receive better info as regards what the issue is.
Here is a gif of what I observed, as seen it actually updates the color of the profile after changing it in settings:

![ezgif com-gif-maker](https://user-images.githubusercontent.com/33323077/94965860-28532100-04f4-11eb-93d0-a0828b0fd74a.gif)

Kindly

[2020-10-02 23:18] nektro commented on #2630
@rhymes I just got that PR merged :)

[2020-10-03 00:48] theomelo commented on #3253
Is there work left here? From the discussions on the PR merged, it seems that it was agreed that the original issue was fixed?

[2020-10-03 04:00] jonathanyeong commented on #9934
Hi! Could I take this one?

[2020-10-03 04:19] #10102 closed

[2020-10-03 04:31] rhymes commented on #4523
Hi @Taniyah-L-Jackson - I think we should stick to the original idea. The goal here is to feature prominent comments right after the article.

The problem with autoscroll is that per se it wouldn't visually help the user, especially in a long conversation, unless you highlight the comment the scroll is trying to point to. In addition, what would be the autoscroll trigger? It's not a search functio

[2020-10-03 04:33] rhymes commented on #2630
@nektro I saw the notification, great job! :D

[2020-10-03 04:38] rhymes commented on #6087
@ewaDev thanks for volunteering, this hasn't been specifically approved yet though, so it might be better to hold off until it is. In the meantime I suggest checking issues labeled [hacktoberfest](https://github.com/forem/forem/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest) and/or [ready for dev](https://github.com/forem/forem/issues?q=is%3Aissue+is%3Aopen+label%3A%22ready+for+dev%22) or [an

[2020-10-03 04:47] rhymes commented on #9934
Thanks @jonathanyeong, I've assigned this to you!

[2020-10-03 05:46] yellow1912 commented on #10283
Or use the recaptcha v3. I really don't understand why the current captcha keeps showing me picture after picture. There can be much better way to do this for example a hidden credit/trust system.

[2020-10-03 05:57] yellow1912 commented on #10283
![Screenshot_20201003-125157](https://user-images.githubusercontent.com/374134/94984605-e966af00-0577-11eb-83d7-da9dcb3c7cbc.png)
So easy to spam

[2020-10-03 05:58] yellow1912 commented on #10283
![Screenshot_20201003-125757](https://user-images.githubusercontent.com/374134/94984623-15823000-0578-11eb-8925-79ce08bcae7d.png)
And impossible to report, keeps showing me picture after picture.

[2020-10-03 10:43] #3253 closed

[2020-10-03 17:03] trickstival commented on #10380
@ludwiczakpawel
I really like the `WYSIWYG` experience from the editors you found.
It would be really cool to have this kind of experience while writing blogposts, but I still think syncing the scrollbars is valuable.

[stackedit](https://stackedit.io/) seems to have the same offsets on both scrollbars, since the content height is the same. Even images get rendered in the editor, which is pretty c

[2020-10-03 17:29] joneskj55 commented on #9895
I'd like to take a stab at this.

[2020-10-03 17:57] nektro commented on #2630
I'm not usually one to use Ruby but I think this doing this change could be fun. Where would I look in the DEV repo to see where we're using rouge?

[2020-10-03 18:47] Winner95 commented on #8990
👋  Hello

I was wondering if this issue is available to work on - I see hacktoberfest tag?)

And if it is, does it  include images whitebox functionality as well?

[2020-10-03 21:30] sabesansathananthan commented on #9934
@rhymes @jonathanyeong <image > contains URL of user profile image. isn't it?

[2020-10-03 21:41] irmela commented on #10111
If this one is not being worked on by someone else I'd be happy to take over.

/cc @ludwiczakpawel @alexzherdev

[2020-10-04 06:40] lucasqueiroz opened #10546 "Cannot install using docker-compose on macOS"
**Describe the bug**

When running the steps described [here](https://docs.forem.com/installation/containers/) to install forem using docker-compose on a macOS, the installation fails with the following error:

[code]
(Full log below)

**To Reproduce**

1. Fork the repository
2. Clone the forked repository
3. Inside the cloned folder, run `./bin/container-setup`

It also happens when directly runn

[2020-10-04 08:26] rhymes commented on #10283
Hi @yellow1912 have you tried to disable your extensions? I'm not sure but it could be that. What browser are you using?

[2020-10-04 08:31] rhymes commented on #9895
Please go ahead @joneskj55 and thank you!

[2020-10-04 08:50] rhymes commented on #2630
Hi @nektro, the code for the syntax highlighting is in the following places:

https://github.com/forem/forem/blob/9d384e1a933f498f21b96884cb821a3b3dac09f3/app/labor/markdown_parser.rb#L21

https://github.com/forem/forem/blob/master/app/lib/redcarpet/render/html_rouge.rb

What's not super clear to me is how we can send the array of lines to highlight to the formatter from markdown. It looks like th

[2020-10-04 08:59] rhymes commented on #9934
@sabesansathananthan in this case yeah, if you're rendering the feed of the articles of a user. But you could be rendering an organization feed, thus you need the profile image of the org, or you could be rendering a tag feed where the `<image>` should be omitted and if it's the latest feed as well it shouldn't have an image tag.

See https://github.com/forem/forem/blob/9d384e1a933f498f21b96884cb8

[2020-10-04 09:01] sabesansathananthan commented on #9934
@rhymes  yes I also expect that. <3

[2020-10-04 10:12] takmar commented on #9770
Could I take this?

[2020-10-04 10:36] yellow1912 commented on #10283
Let me try, I was on chrome, had tons of extensions. I will try on edge which does not have any extension and will report back.

[2020-10-04 11:04] sampathbalivada opened #10567 "Reducing Spam on Forem with Captcha"
**Is your feature request related to a problem? Please describe.**

We noticed that a lot of spam is being posted on dev.to starting today/yesterday (times zone differences). This is frustrating and hindering the experience for a lot of users on the platform.

**Describe the solution you'd like**

Present the user with a Captcha prompt when writing a post.

**Describe alternatives you've considere

[2020-10-04 12:23] Rafi993 commented on #10567
Hello there, I think there is a similar discussion happening in https://github.com/forem/forem/issues/8459

[2020-10-04 12:38] Rafi993 commented on #8459
There were some spam bots today url https://dev.to/search?q=customer%20care%20number&filters=class_name:Article shows all the spam bots created in that time thanks to this comment  https://dev.to/khmarbaise/comment/15md9

[2020-10-04 13:11] rhymes commented on #10546
I'm experiencing the same issue:

[code]

[2020-10-04 13:12] rhymes commented on #9770
@takmar sure, I've assigned it to you, thanks!

[2020-10-04 13:33] rhymes commented on #10567
Hi @sampathbalivada as @Rafi993 kindly mentioned there's already an open ticket about this, could you copy your comment over there? I'm going to close this as a duplicate in the meantime.

Keep in mind that articles can be written programmatically so the captcha wouldn't be effective against those.

Thank you!

[2020-10-04 13:33] #10567 closed

[2020-10-04 13:45] jonathanyeong commented on #9934
@rhymes that's a great tidbit thanks!

[2020-10-04 13:50] anishpr94 commented on #8459
dev.to is flooded with
glowroad customer care number.9668236527_9668236527
kind of posts. Please bring in a way to filter out such spams, atleastby user. Even after blocking it is coming in my feed.

[2020-10-04 14:01] rhymes commented on #10064
Hi @ewaDev - I just realized this issue might not be relevant anymore. I'd have to ask confirmation to @juliannatetreault and @citizen428 but now that badges can be handled programmatically since #9721 I don't think we have harcoded badges anymore.

I apologize and thanks for the patience :)

[2020-10-04 14:08] rhymes commented on #5018
I guess this one has been solved automatically :-(

I think the most visible of these UI changes that needs refreshing is the theme change. For example:

![refresh](https://user-images.githubusercontent.com/146201/95017731-67e84d00-065b-11eb-9636-b8fd2164f63f.gif)

but it's outside of the scope of this issue and has its own issue: https://github.com/forem/forem/issues/3613

I'm going to close this

[2020-10-04 14:08] #5018 closed

[2020-10-04 14:09] musps commented on #10546
Hi 👋, I start digging inside this issue

[2020-10-04 14:13] rhymes commented on #10546
Thanks @musps, I've assigned it to you

[2020-10-04 14:37] Hamikh opened #10568 "G9 Fashion customer care number 8388075771"
G9 Fashion customer care number 8388075771
G9 Fashion customer care number 8388075771
G9 Fashion customer care number 8388075771
G9 Fashion customer care number 8388075771

[2020-10-04 14:38] Hamikh commented on #10568
G9 Fashion customer care number 8388075771

[2020-10-04 14:38] Hamikh commented on #10568
G9 Fashion customer care number 8388075771

[2020-10-04 14:38] Hamikh commented on #10568
G9 Fashion customer care number 8388075771

[2020-10-04 14:38] #10568 closed

[2020-10-04 14:38] Hamikh opened #10569 "G9 Fashion customer care number 8388075771"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-04 14:39] Hamikh opened #10570 "G9 Fashion customer care number 8388075771"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-04 14:42] rrroy7 opened #10571 "mayra studio customer care number 7318720711//7384823438"
mayra studio customer care number 7318720711//7384823438  amayra studio customer care number 7318720711//7384823438 bug report, try disabling browser extensions to see if the bug is still present. -->

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please com

[2020-10-04 14:42] rrroy7 commented on #10571
mayra studio customer care number 7318720711//7384823438

[2020-10-04 14:42] rrroy7 commented on #10571
mayra studio customer care number 7318720711//7384823438yvtc

[2020-10-04 14:43] rrroy7 commented on #10571
mayra studio customer care number 7318720711//7384823438xf

[2020-10-04 14:43] rrroy7 commented on #10571
mayra studio customer care number 7318720711//7384823438gcxgc

[2020-10-04 14:43] rrroy7 commented on #10571
mayra studio customer care number 7318720711//7384823438ggc

[2020-10-04 14:55] ronikumr7555 opened #10572 "Indian ethnic online customer care number 8942005330//7319952266"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-04 14:55] ronikumr7555 commented on #10572
Indian ethnic online customer care number 8942005330//7319952266

[2020-10-04 14:55] ronikumr7555 commented on #10572
Indian ethnic online customer care number 8942005330//7319952266
Byke

[2020-10-04 15:31] Rahulkumar13210 opened #10573 "Marya studio customer care number 9883190397"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-04 15:31] Rahulkumar13210 commented on #10573
Marya studio customer care number 9883190397

[2020-10-04 15:36] Coteh commented on #10546
I am running into the same issue as well. I'm assuming `ApplicationConfig` receives values from environment variables, and after printing out some of these values, it seems like the environment variables weren't assigned. And I double checked to see that I have indeed created a `.env` file from `.env_sample` as per the documentation, and that `.dockerignore` isn't ignoring the `.env` file.

[2020-10-04 15:46] #10573 closed

[2020-10-04 16:01] boardfish opened #10575 "Mailer previews for DeviseInvitable mailer are absent"
**Describe the bug**

Mailer previews for DeviseInvitable mailer are absent. There's demand to modify the content of those emails (#9849), so this would be good to add.

I'm happy to pick this up.

[2020-10-04 16:38] theomelo commented on #3682
@sarthology @jessleenyc I assume this PR fixes the issue? Do you think it satisfies as a solution?

[2020-10-04 16:53] #10569 closed

[2020-10-04 16:53] #10570 closed

[2020-10-04 16:53] #10571 closed

[2020-10-04 16:53] #10572 closed

[2020-10-04 16:58] rhymes commented on #10575
Thanks @boardfish, go ahead! :)

[2020-10-04 17:21] deanveloper commented on #9034
I like the idea of the "show footer" button... but I feel like it could be stylized a lot better with the label as "∞ scrolling" with a [material switch](https://material.io/components/selection-controls#switches). Or maybe the ∞ getting crossed out with a [universal no](https://en.wikipedia.org/wiki/No_symbol) when infinite scrolling is turned off might be a little more elegant. I don't have a mo

[2020-10-04 17:41] deanveloper opened #10576 "Make dialogue links "open in new tab"-able"
**Is your feature request related to a problem? Please describe.**

When I'm doing something where I want to make sure my current page stays open, I often will use middle-click to open a help page in a new tab. However, doing this with the dialogue links (at least on the [new post page](https://dev.to/new)) will open a new tab where the new page doesn't even have the dialogue open.

**Describe the

[2020-10-04 17:58] rhymes commented on #10576
Could you provide a GIF/video? I'm not sure I understood where the issue lies :( Which link should open in a new tab?

BTW that's not a dialog/modal, it's just a side bar that appears, it's part of the current page

[2020-10-04 19:12] ChaelCodes opened #10579 "Attempting to run RSpec on Docker triggers Elastic error"
**Describe the bug**

When I attempt to run a particular spec in Docker, there's a complaint about a missing VCR stub for elasticsearch.

The spec I'm running: `docker exec -it forem_rails bundle exec rspec spec/liquid_tags/vimeo_tag_spec.rb`
The error I get:
[code]

**To Reproduce**

1. Install Docker on WSL2 (Ubuntu) (Not sure if this is present in other environments, test and see?)
1. Run `bin/

[2020-10-04 19:15] ronikumr7555 opened #10580 "Anixmart customer care number 8942005330"
Anixmart customer care number 8942005330

[2020-10-04 19:16] ronikumr7555 commented on #10580
Anixmart customer care number 8942005330

[2020-10-04 19:16] ronikumr7555 commented on #10580
Anixmart customer care number 8942005330

[2020-10-04 19:16] ronikumr7555 commented on #10580
Anixmart customer care number 8942005330

[2020-10-04 19:16] ronikumr7555 commented on #10580
Anixmart customer care number 8942005330

[2020-10-04 19:16] ronikumr7555 commented on #10580
Anixmart customer care number 8942005330

[2020-10-04 19:16] ronikumr7555 commented on #10580
Anixmart customer care number 8942005330

[2020-10-04 19:16] ronikumr7555 commented on #10580
Anixmart customer care number 8942005330

[2020-10-04 19:16] ronikumr7555 commented on #10580
Anixmart customer care number 8942005330

[2020-10-04 19:17] ronikumr7555 commented on #10580
Anixmart customer care number 8942005330

[2020-10-04 19:19] thefaded commented on #9464
Hi, I want to start working on this. For `/articles/me?minimal=true` must be returned for each – title, cover_image and link?

[2020-10-04 19:21] #10580 closed

[2020-10-04 21:21] lucasqueiroz commented on #6303
Hey @rhymes could you assign this one to me?
Also, I'm currently having some trouble logging in when using GitPod. Is there a default login user/password?
Thanks

[2020-10-04 22:20] Taniyah-L-Jackson commented on #4523
@rhymes For the `articles` and `comments` schema, will an FK boolean table be helpful in checking which elements are pinned? (Possible set-up: `  create_table "pin_validation", do |t|
    t.boolean "pinned", default: false
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
  end`)
Then, agreeing with the pseudo-code you wrote earlier, the articles and comments can go

[2020-10-04 22:39] SGGregory opened #10581 "Tag page update failing for tag moderator from /admin"
**Tag page update failing for tag moderator from /admin**

I am an admin at DEV/Forem and a tag moderator. When I attempt to edit/update a tag page in `/admin`, my updates do not appear, however, there is not a failure message.

**Expected behavior**

I expect to be able to make edits to the tag page by navigating there from /admin.

**Desktop:**

- Mac
- Chrome, version 85.0.4183.121:

**Addition

[2020-10-04 23:21] luckyguy73 commented on #2295
I would like to attempt to resolve this issue.  It's my first open source contribution ever.  I was brought here by Hacktoberfest.  My idea is to add a toggle on the User Settings/UX menu directly beneath the "Base Reading Font" toggle allowing user to select from Lighter, Normal, and Bold options.  If this sounds acceptable then please assign issue to me, thanks.

[2020-10-05 00:35] rkhan771 opened #10583 "Vedik saree customer care number 9832003798"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-05 00:35] rkhan771 commented on #10583
Vedik saree customer care number 9832003798

[2020-10-05 00:40] rkhan771 opened #10584 "Vedik saree customer care number 9832003798"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-05 00:40] rkhan771 commented on #10584
Vedik saree customer care number 9832003798h

[2020-10-05 00:40] rkhan771 opened #10585 "Vedik saree customer care number 9832003798"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-05 00:41] rkhan771 commented on #10585
Vedik saree customer care number 9832003798

[2020-10-05 00:52] binamracode commented on #10585
What is this?

[2020-10-05 01:28] ScottYates opened #10586 "Date appears wrong on posts."
I just made a comment on a post, and noticed that the displayed date was Oct 5, even though it was Oct 4 when i posted it, and the tooltip when i hover over that date appears to have the correct date in it.

In this case, i just clicked on the "Add to discussion" box and entered my comment, then pressed save.

**Expected behavior**
I expected the date displayed next to the comment to be correct.

[2020-10-05 02:46] rahul666706 opened #10588 "Stylemart customer care number 9832003798"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-05 03:00] Sonukuma78655 opened #10589 "Not shere my photo"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-05 03:26] rahul3891 opened #10590 "make me superb customer care number 7866867001"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-05 03:29] rahul3891 opened #10591 "make me superb customer care number 7866867001"
[https://www.google.com/search?client=ms-android-vivo&sxsrf=ALeKk01902K5LoSoGy_6Gq3_zSVFUMwKEw%3A1601868498142&ei=0pJ6X46rCNG38QO1worAAw&q=make+me+superb+customer+care+number+7866867001&oq=make+me+superb+customer+care+number+7866867001&gs_lcp=ChNtb2JpbGUtZ3dzLXdpei1zZXJwEAM6BAgAEEc6BQghEKABOgUIIRCSA1D3M1j1cmDkeWgAcAF4AIABhQKIAYoVkgEEMi0xMZgBAKABAcgBCMABAQ&sclient=mobile-gws-wiz-serp](https://www.g

[2020-10-05 03:30] citizen428 commented on #9287
Actually, I think we had discussed on Slack with @ludwiczakpawel that it would still be nice to at least have automatic favicons for popular websites. But I guess we can open a new issue for this in the future if we really decide to go ahead with the idea.

[2020-10-05 03:59] Hamikh opened #10592 "Marya studio customer Care number 9398240314"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please com

[2020-10-05 03:59] Hamikh commented on #10592
Marya studio customer Care number 9398240314

[2020-10-05 04:00] citizen428 commented on #4940
@mstruve Gut feeling I'd prefer a dedicated table for this. Here's how I think about it:

* `User`: the actual account, backed by Devise, used for auth, etc.
* `Profile`: pretty much just covering the data for displaying/updating the profile page. Since the fields are community specific, we use a JSONB column instead of dedicated columns per attribute.

While we could also add dedicated columns to

[2020-10-05 04:22] citizen428 commented on #9848
Basically what @rhymes said. Since Forem will be used for many different types of communities, the list of available profile fields can now be configured by admins so there are very little guarantees as to which fields will be available. This means we'd need the following:

1. An endpoint to retrieve the current list of profile fields (either wrapping `Profile.attributes!` or more directly `Profil

[2020-10-05 04:31] citizen428 commented on #10064
@rhymes There's a worker called `BadgeAchievements::BadgeAwardWorker` which calls the `BadgeRewarder` class. This iterates over a list of repositories  – which we apparently never updated to include `forem/forem` - in `award_contributor_badges_from_github` and then creates a `BadgeAchievement` for every every contributor. According to `config/schedule.yml` we still run this hourly:

[code]

[2020-10-05 05:33] hk596627 opened #10595 "(9635859559)the luxury mart customer care number"
The luxury mart customer care number
7477460511=9635859559
The luxury mart customer care number
7477460511=9635859559
The luxury mart customer care number
7477460511=9635859559
The luxury mart customer care number
7477460511=9635859559
The luxury mart customer care number
7477460511=9635859559

[2020-10-05 05:33] hk596627 commented on #10595
The luxury mart customer care number
7477460511=9635859559The luxury mart customer care number
7477460511=9635859559The luxury mart customer care number
7477460511=9635859559

[2020-10-05 05:33] hk596627 commented on #10595
The luxury mart customer care number
7477460511=9635859559The luxury mart customer care number
7477460511=9635859559The luxury mart customer care number
7477460511=9635859559u

[2020-10-05 05:33] hk596627 commented on #10595
The luxury mart customer care number
7477460511=9635859559The luxury mart customer care number
7477460511=9635859559The luxury mart customer care number
7477460511=9635859559ududu

[2020-10-05 05:35] mohdansar145 opened #10596 "Amazon customer care number 8617361391 anytime help l"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-05 05:36] mohdansar145 commented on #10596
Amazon customer care number 📞 8617361391Amazon customer care number 📞 8617361391Amazon customer care number 📞 8617361391

[2020-10-05 05:38] mohdansar145 opened #10597 "Amazon customer care number 📞 8617361391"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-05 05:38] mohdansar145 commented on #10597
Amazon customer care number 📞 8617361391Amazon customer care number 📞 8617361391

[2020-10-05 05:38] mohdansar145 commented on #10597
Amazon customer care number 📞 8617361391Amazon customer care number 📞 8617361391

[2020-10-05 06:28] rajkumar1199 opened #10598 "Sareemode customer care number 8167227042//8972817308"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-05 06:28] rajkumar1199 commented on #10598
Sareemode customer care number 8167227042//8972817308

[2020-10-05 06:28] rajkumar1199 commented on #10598
Sareemode customer care number 8167227042//8972817308

[2020-10-05 06:29] rajkumar1199 opened #10599 "Sareemode customer care number 8167227042//8972817308"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-05 06:53] ludwiczakpawel commented on #9287
I don't think there's anything wrong with this issue, even with our updated implementation of the profile fields. I think this is still valid - not only issue but also a potential solution. But I leave the decision to others - I know @Ridhwana had slightly different point of view on this.

[2020-10-05 07:11] ludwiczakpawel commented on #10380
@trickstival yea, if only implementing that was trivial :)

Stackedit indeed syncs the scrollbar BUT they also render images and everything in the editor as well, not only in the preview mode. Imagine situation when you have entered a markdown for some image.. In our editor it would be one line of text (code) and in the preview it would be an actual image with some height defined. How do you sync

[2020-10-05 07:13] ludwiczakpawel commented on #10111
@irmela go for it! I'm assigning you :)

[2020-10-05 07:21] krishnadevz commented on #10599
I think this spam issue

[2020-10-05 07:22] krishnadevz commented on #10596
I think this spam issue

[2020-10-05 07:25] Ridhwana commented on #9287
I think we definitely should implement this in the future. My discussion with Pawel on Thursday was that we provided a solution to the original issue created ( through the first iteration of profile generalization by giving the admin more control over how many link fields they expose for their Forem ) and so it would make sense to close this issue and open a new issue to tackle a second iteration

[2020-10-05 07:59] citizen428 commented on #6303
@lucasqueiroz I assigned you the issue. Re GitPod, you can sign in with your GitHub account.

[2020-10-05 08:00] citizen428 commented on #9464
@thefaded This is correct, but see @rhymes' comment above in regards to edge-caching.

[2020-10-05 08:04] #10591 closed

[2020-10-05 08:04] #10592 closed

[2020-10-05 08:07] #10583 closed

[2020-10-05 08:07] #10584 closed

[2020-10-05 08:07] #10585 closed

[2020-10-05 08:07] Link2Twenty commented on #10586
What time zone are you in? It looks like the post was published at 2am on the 5th using UTC and perhaps `readable_publish_date` is based on that.

**Related code:**

https://github.com/forem/forem/blob/4e591fea1c8e062176fb79b1ed5546fa947fee1f/app/views/comments/_comment_date.erb#L1-L7

https://github.com/forem/forem/blob/10efa25c0a35b69248dbebe6fe828a201607ca45/app/models/comment.rb#L118-L124

[2020-10-05 08:08] #10590 closed

[2020-10-05 08:08] #10595 closed

[2020-10-05 08:08] #10596 closed

[2020-10-05 08:08] #10597 closed

[2020-10-05 08:08] #10598 closed

[2020-10-05 08:08] #10599 closed

[2020-10-05 08:08] #10588 closed

[2020-10-05 08:09] rhymes commented on #10586
Hi @ScottYates, thanks for the report, unfortunately this is a known issue. I'm going to close this as a duplicate of https://github.com/forem/forem/issues/7561

[2020-10-05 08:09] #10586 closed

[2020-10-05 08:10] ScottYates commented on #10586
I should have put that in the report, sorry.  I am CST.

[2020-10-05 08:11] ScottYates commented on #10586
I can copy it over there.  I did not see that issue during a cursory search.

Thank you.

[2020-10-05 08:11] #10589 closed

[2020-10-05 08:11] ScottYates commented on #7561
I just made a comment on a post, and noticed that the displayed date was Oct 5, even though it was Oct 4 when i posted it, and the tooltip when i hover over that date appears to have the correct date in it.

In this case, i just clicked on the "Add to discussion" box and entered my comment, then pressed save.

Expected behavior
I expected the date displayed next to the comment to be correct.

Scre

[2020-10-05 08:27] citizen428 commented on #8842
@nickytonline I think you linked to the wrong issue. #10378 should indeed resolve this, so @adfaris please don't start working on this, it would be duplicated effort.

[2020-10-05 08:33] Link2Twenty commented on #10576
My understanding is they want these modal windows to be actual links.

![image](https://user-images.githubusercontent.com/3534427/95057134-a2022f00-06ed-11eb-98eb-5e69f25e9235.png)

Both the markdown and liquid tags 'links' open this way.

[2020-10-05 08:40] rhymes commented on #9464
How do we agree upon the minimal representation? The OP suggests title, cover image and link, but are those enough?

[2020-10-05 08:44] rahul3891 opened #10600 "fordotstore customer care number 7866867001"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-05 08:44] rahul3891 commented on #10600
fordotstore customer care number 7866867001

[2020-10-05 08:44] rahul3891 commented on #10600
fordotstore customer care number 7866867001

[2020-10-05 08:44] rahul3891 commented on #10600
fordotstore customer care number 7866867001

[2020-10-05 08:44] rahul3891 commented on #10600
fordotstore customer care number 7866867001

[2020-10-05 08:47] ludwiczakpawel commented on #10576
Yeap, definitely a good suggestion.

Do you want to work on that as well?

[2020-10-05 08:54] #10600 closed

[2020-10-05 08:59] Link2Twenty commented on #10576
@ludwiczakpawel is it worth having a crayon style that makes buttons look like an anchor tag? This would be a good candidate for that, the anchor is really just a button.

https://github.com/forem/forem/blob/f0963c1bfa5d7ed56c0f964a57bde8ab86e6db85/app/javascript/article-form/components/Help.jsx#L134-L136

Just thinking of ways to make the middle mouse button no open a pointless tab.

[2020-10-05 09:07] rhymes commented on #4523
Hi @Taniyah-L-Jackson, you don't really need a new table. `ProfilePin` indicates that the item has been pinned. The combination of `profile_id` and `profile_type` tells you if it was pinned on an article or on a user profile and the combination of `pinnable_id` and `pinnable_type` tells you if the pinned item is an article or a comment. In this case you need `profile_type` to be `Article` and `pin

[2020-10-05 09:22] musps opened #10601 "Add a captcha or more to prevent spam on new articles/comments"
**Is your feature request related to a problem? Please describe.**

Recently i saw many new articles with spam title/content and comments.

**Describe the solution you'd like**

I don't know if it is implemented yet (I haven't see it) but we could add a captcha if a user create more than x comments or articles in a period of time to prevent the spam ?

**Describe alternatives you've considered**

[2020-10-05 09:26] citizen428 commented on #9464
Basic author information (at least name and/or username) should probably be included as well. I think we can define the subset of attributes here in this discussion and then update the issue description with the consensus.

[2020-10-05 10:00] rahul3891 opened #10603 "fordotstore customer care number 7866867001"
fordotstore customer care number 7866867001!-- If you're having trouble updating your profile, it is likely because you logged in separately with GitHub & Twitter. Please check if this is the case before creating a bug report, and email yo@dev.to so we can merge your accounts. -->

**Describe the bug**fordotstore customer care number 7866867001

fordotstore customer care number 7866867001*To Repro

[2020-10-05 10:06] rhymes commented on #10601
Hi @musps - currently we have rate limiting of a few articles each 30 seconds. I think we should start by changing that, I think it was designed to limit flooding via API. Keep in mind that articles can be added programmatically, thus the captcha would just limit manual posting

Related to https://github.com/forem/forem/issues/8459

[2020-10-05 10:10] #10603 closed

[2020-10-05 10:23] rahulkha opened #10604 "Vedik sarees customer care number 9832003798"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-05 10:26] #10604 closed

[2020-10-05 10:46] ludwiczakpawel commented on #10576
@Link2Twenty I guess this one should be actually a classic link taking user to another page (one with help) IF you try to open it in a new tab. But for "regular clicks" it should bring the modal, likely with suggested `event.preventDefault();`..

[2020-10-05 10:52] ludwiczakpawel opened #10605 ""Flag user" works only once."
**Describe the bug**

When using a mod panel on `/mod` I click on a post and it reveals the preview pane where I have my mod tools available. When I close this pane and try to do the same action in another pane and I can't do it anymore.

**To Reproduce**

1. Go to `/mod`
2. Click one of the results to see the "preview pane".
3. Perform a mod action or close the preview pane.
4. Then open another

[2020-10-05 11:21] aligoren opened #10606 "Connect shows my own message' badge."
**Describe the bug**

Hi, today I sent a message to a channel. After I saw count 1. It was my message.

**To Reproduce**

**Expected behavior**

Users shouldn't see their own message's count.

**Screenshots**

1-) Badge count

![image](https://user-images.githubusercontent.com/4205423/95073709-f91bfa00-0715-11eb-8d3c-faa7dfac7429.png)

2-) messages

![image](https://user-images.githubusercontent.c

[2020-10-05 12:51] #9603 closed

[2020-10-05 12:57] Rafi993 commented on #9585
Hello there, I would like to help with this issue.

[2020-10-05 13:02] Rafi993 commented on #9585
Hello there, if this issue is not taken I would like to help

*Edit:*
Sorry I did not see the label "ready for dev" removed before. I'll look for another issue to take up :)

[2020-10-05 13:06] rhymes commented on #2879
Closed for quite some time :D

[2020-10-05 13:06] #2879 closed

[2020-10-05 13:08] rhymes commented on #6971
Closing this as months have passed and we're not even sure if we can reproduce it of if it was solved in the meantime. We can always reopen if this presents itself again

[2020-10-05 13:08] #6971 closed

[2020-10-05 13:09] rhymes commented on #6330
This has been solved in the meantime.

[2020-10-05 13:09] #6330 closed

[2020-10-05 13:11] rhymes commented on #2670
Not even valid anymore

[2020-10-05 13:11] #2670 closed

[2020-10-05 14:32] DRBragg commented on #10606
I'll take a look at this if it's still available

[2020-10-05 14:42] Link2Twenty commented on #5023
Just discovered there are actually keyboard shortcuts on that page (only one).

Pressing CTRL + SHIFT + P toggles the preview. I think the way the code is written at the moment it wouldn't be easy to add many more shortcuts and also it means the component can only be used on that one screen.

I suggest we do a rewrite making it more robust I was thinking something like

[code]

You'd then be able

[2020-10-05 15:24] lisasy opened #10610 "a11y: improve keyboard access on modals"
# Problem

When I'm looking at a modal and tab through with a keyboard, it goes through everything behind the modal overlay first, making it a really frustrating user experience.

# Proposed solution

When a modal is open and a user tabs through with their keyboard, have them navigate through the modal first, not what is behind the modal.

Video here: https://share.getcloudapp.com/6quPkxyr

[2020-10-05 15:31] rhymes commented on #10606
Go ahead @DRBragg, thanks !

[2020-10-05 15:35] rhymes commented on #2165
We don't use this library anymore

[2020-10-05 15:35] #2165 closed

[2020-10-05 15:55] #10475 closed

[2020-10-05 16:10] wasid971 opened #10613 "g9 fashion customer care number//9883341103//9883932550//g9 fashion customer care number//9883341103//9883932550//"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-05 16:11] wasid971 commented on #10613
g9 fashion customer care number//9883341103//9883932550//g9 fashion customer care number//9883341103//9883932550//

[2020-10-05 16:20] #10613 closed

[2020-10-05 17:38] DRBragg commented on #10606
@aligoren Was the channel you were messaging in a direct message (1 other user) or a Group message? I haven't been able to duplicate the issue yet.

[2020-10-05 17:53] aligoren commented on #10606
@DRBragg It was a group message.

For example, we have a group called "Issues".

I sent a message to that group on the other browser tab. After, I saw a badge for this message.

[2020-10-05 17:54] DRBragg commented on #10606
Copy, thanks, that should help

[2020-10-05 18:59] benhalpern commented on #10293
I made this PR to give the option to skip service workers in development via `ENV` var

https://github.com/forem/forem/pull/10617

[2020-10-05 20:55] claracodes commented on #10128
I would like to take this one on!

[2020-10-05 21:25] Monty7 commented on #10610
Hello, I would like to claim this issue.

[2020-10-05 22:02] lisasy commented on #10610
@Monty7 You can go ahead and claim this :)

Happy hacking!

[2020-10-05 23:14] imwra commented on #5726
I just got the same issue. First time on page I wasn't able to add a card. After refreshing the page the button worked.

[2020-10-05 23:15] imwra commented on #5726
Seems like this is already being tracking on #2867.

[2020-10-05 23:53] tonsofpcs commented on #10546
Same happens on Debian 10.

[2020-10-06 00:13] tonsofpcs commented on #10546
same occurs with $ docker-compose build --build-arg APP_DOMAIN="localhost:3000" --build-arg APP_PROTOCOL="http://" --build-arg APP_NAME="forem_local" so I don't think it's an env issue but I'm not terribly familiar with docker.

[2020-10-06 01:45] yellow1912 commented on #10283
Hello, seems like captcha on chrome works fine, the one I'm having problem with is actually the Android app version of dev.to.

[2020-10-06 01:53] Rbikkr94 opened #10624 "Stylish Feb customer care number 9883698314:"
Stylish Feb customer care number 9883698314:::::Stylish Feb customer care number 9883698314:::Stylish Feb customer care number 9883698314:

[2020-10-06 01:54] Rbikkr94 commented on #10624
Stylish Feb customer care number 9883698314:

[2020-10-06 01:54] Rbikkr94 commented on #10624
Stylish Feb customer care number 9883698314:::

[2020-10-06 02:12] Rahulkumar1321 opened #10625 "Login nahi ho sakta hai"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 02:53] nickytonline commented on #9585
All yours @Rafi993. Since it is a bug, there is no need to add the "ready for dev" label. I've assigned it to you.

[2020-10-06 02:54] Rafi993 commented on #9585
Thank you @nickytonline

[2020-10-06 02:57] nickytonline commented on #10610
@Monty7, I've assigned the issue to you.

[2020-10-06 03:13] citizen428 commented on #10625
Hello @username, thanks for notifying us of this problem, this looks an issue specific to your account.
Please email yo@dev.to for more help.

[2020-10-06 03:14] #10625 closed

[2020-10-06 03:16] #10624 closed

[2020-10-06 03:34] minaraja415 opened #10627 "Phonepe customer care number 8927156725"
Phonepe customer care number 8927156725Phonepe customer care number 8927156725Phonepe customer care number 8927156725Phonepe customer care number 8927156725Phonepe customer care number 8927156725Phonepe customer care number 8927156725Phonepe customer care number 8927156725

[2020-10-06 03:34] minaraja415 commented on #10627
Phonepe customer care number 8927156725Phonepe customer care number 8927156725Phonepe customer care number 8927156725

[2020-10-06 03:35] minaraja415 opened #10628 "Phonepe customer care number 8927156725"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 03:35] minaraja415 commented on #10628
Phonepe customer care number 8927156725

[2020-10-06 05:05] #1865 closed

[2020-10-06 05:37] ShubhankarKG commented on #10402
Update: I have created the necessary files, but I'm not able to log in to add a snippet to see if my solution looks good. Is there a default username/password so that I can log in to the development env ?

Thanks.

[2020-10-06 06:27] sharadcodes commented on #10627
Why the hell are you guys doing this type of thing on every other repo :angry:

[2020-10-06 06:46] mityaua opened #10629 "Text goes outside the block (app)"
**Describe the bug**

In mobile app (Android 10) text in bio (look like url type) goes outside the block.

**To Reproduce**

Open app on device with 393px viewport.

1. Go to mobile app on Android 10 (device width 393px)
2. Click on any post by https://dev.to/vaibhavkhulbe
3. Scroll down to end of article
4. See error https://prnt.sc/utvn2p

**Screenshots**

https://prnt.sc/utvn2p

**Smartphone (p

[2020-10-06 06:48] rhymes commented on #10128
Go ahead @claracodes and thanks!

[2020-10-06 06:51] rhymes commented on #10283
@yellow1912 thank you! If you've installed the DEV Android app and are experiencing issues with it, please open an issue to the app repository so we can better track it: https://github.com/thepracticaldev/DEV-Android

thank you!

[2020-10-06 06:53] #10628 closed

[2020-10-06 06:55] rhymes commented on #10402
@ShubhankarKG no but you can log-in with Twitter  / GitHub the same way you do on dev.to

[2020-10-06 06:56] ShubhankarKG commented on #10402
Awesome, thanks

[2020-10-06 06:56] #10627 closed

[2020-10-06 09:03] prkasyadav opened #10633 "Retro silk customer care number::7384970784.7384970784."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 09:04] prkasyadav opened #10634 "Retro silk customer care number::7384970784.7384970784."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 09:05] prkasyadav opened #10635 "Retro silk customer care number::7384970784.7384970784."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 09:05] prkasyadav commented on #10635
Retro silk customer care number::7384970784.7384970784.

[2020-10-06 09:06] prkasyadav commented on #10635
Retro silk customer care number::7384970784.7384970784.Retro silk customer care number::7384970784.7384970784.

[2020-10-06 09:06] #10635 closed

[2020-10-06 09:08] #10633 closed

[2020-10-06 09:09] #10634 closed

[2020-10-06 09:10] prkasyadav opened #10636 "Retro silk customer care number::7384970784.7384970784."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 09:11] prkasyadav opened #10637 "Retro silk customer care number::7384970784.7384970784."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 09:11] prkasyadav opened #10638 "Retro silk customer care number::7384970784.7384970784."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 09:11] prkasyadav opened #10639 "Retro silk customer care number::7384970784.7384970784."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-06 09:11] prkasyadav opened #10640 "Retro silk customer care number::7384970784.7384970784."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-06 09:11] prkasyadav opened #10641 "Retro silk customer care number::7384970784.7384970784."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 09:12] prkasyadav opened #10642 "Retro silk customer care number::7384970784.7384970784."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 09:12] prkasyadav opened #10643 "Retro silk customer care number::7384970784.7384970784."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-06 09:12] prkasyadav opened #10644 "Retro silk customer care number::7384970784.7384970784."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 09:12] prkasyadav opened #10645 "Retro silk customer care number::7384970784.7384970784."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-06 09:12] prkasyadav opened #10646 "Retro silk customer care number::7384970784.7384970784."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-06 09:13] prkasyadav opened #10647 "Retro silk customer care number::7384970784.7384970784."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 09:13] prkasyadav opened #10648 "Retro silk customer care number::7384970784.7384970784."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-06 09:13] prkasyadav opened #10649 "Retro silk customer care number::7384970784.7384970784."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-06 09:13] prkasyadav opened #10650 "Retro silk customer care number::7384970784.7384970784."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 09:13] prkasyadav opened #10651 "Retro silk customer care number::7384970784.7384970784."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 09:13] prkasyadav opened #10652 "Retro silk customer care number::7384970784.7384970784."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-06 09:14] prkasyadav opened #10653 "Retro silk customer care number::7384970784.7384970784."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-06 09:14] prkasyadav opened #10654 "Retro silk customer care number::7384970784.7384970784."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-06 09:14] prkasyadav opened #10655 "Retro silk customer care number::7384970784.7384970784."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-06 09:14] #10636 closed

[2020-10-06 09:14] #10637 closed

[2020-10-06 09:14] #10638 closed

[2020-10-06 09:14] #10639 closed

[2020-10-06 09:14] #10640 closed

[2020-10-06 09:14] #10641 closed

[2020-10-06 09:14] #10642 closed

[2020-10-06 09:14] #10643 closed

[2020-10-06 09:14] #10644 closed

[2020-10-06 09:14] #10645 closed

[2020-10-06 09:14] #10646 closed

[2020-10-06 09:14] #10647 closed

[2020-10-06 09:14] #10648 closed

[2020-10-06 09:14] #10649 closed

[2020-10-06 09:14] #10650 closed

[2020-10-06 09:14] #10651 closed

[2020-10-06 09:14] prkasyadav opened #10656 "Retro silk customer care number::7384970784.7384970784."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-06 09:14] #10652 closed

[2020-10-06 09:14] #10653 closed

[2020-10-06 09:14] #10654 closed

[2020-10-06 09:14] #10655 closed

[2020-10-06 09:14] prkasyadav opened #10657 "Retro silk customer care number::7384970784.7384970784."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-06 09:14] #10656 closed

[2020-10-06 09:14] #10657 closed

[2020-10-06 09:21] Link2Twenty commented on #10629
Same is true on the mobile web version

[2020-10-06 09:37] ShubhankarKG commented on #10402
On attempting to login, I get a Github 404 page, unfortunately.

[2020-10-06 09:39] Link2Twenty commented on #10402
Are you using Gitpod? I noticed I couldn't log in to that.

[2020-10-06 09:41] ShubhankarKG commented on #10402
Nope, I'm on my local machine

[2020-10-06 09:43] rhymes commented on #10402
@ShubhankarKG can you provide additional details? Screenshot of the error? Is there anything logged in your JS console?

[2020-10-06 09:55] ludwiczakpawel commented on #8990
I think it's a good idea to build this. So if you want to work on it, go ahead!

When it comes to implementation, @Link2Twenty proposed a Proof of Concept - whether or not it's a good one - I don't know :).  I do have a feeling some of this styling should be actually in (S)CSS file, not in JS component itself. But that was just a PoC so 🤷‍♂️

---

In regards to UX, I think I'd make small adjustmen

[2020-10-06 10:09] Link2Twenty commented on #8990
Absolutely, only a small bit needs to be calculated (full screen top, bottom, left and right)

Yep, the PoC was more a proof for the animation and resizing logic rather than a final UI 😊

Related to: #413

[2020-10-06 10:24] ShubhankarKG commented on #10402
![Screenshot from 2020-10-06 15-51-10](https://user-images.githubusercontent.com/50791000/95189788-f4297a00-07eb-11eb-9b41-9eff4883dfa3.png)

On clicking the Github button, I was redirected here : https://github.com/login/oauth/authorize?client_id&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fusers%2Fauth%2Fgithub%2Fcallback&response_type=code&scope=user%3Aemail&state=028561594ae0794ca644bf944b3128

[2020-10-06 10:31] Link2Twenty commented on #10402
Same errors from Gitpod

**Facebook:**
![facebook error](https://user-images.githubusercontent.com/3534427/95190592-7a7f9500-07c7-11eb-8da7-0ec06dbb6319.png)

**Twitter:**
![twitter error](https://user-images.githubusercontent.com/3534427/95190570-6f2c6980-07c7-11eb-94f8-185990e73be5.png)

[2020-10-06 10:49] vtrpldn opened #10659 "Spam mitigation suggestions"
Most of the spam accounts I've seen this week fall into `calculate_spaminess` criteria, which should be enough for their articles to not show in the feed.

However, the spammers are also spamming comments in their articles to bump the comment_score, which more than compensates the `article.spaminess_rating` penalty.

I can think of two mitigation strategies (that, unfortunately, are beyond my ruby

[2020-10-06 10:52] Winner95 commented on #8990
Hi @ludwiczakpawel , @Link2Twenty  thank you for your reply!

It makes sense, I will provide some solution then soon)

Regarding the images, I will then provide a separate solution after.

[2020-10-06 11:14] rhymes commented on #10402
@ShubhankarKG have you configured the GitHub keys? https://docs.dev.to/backend/auth-github/
@Link2Twenty have you configured the Facebook keys? https://docs.dev.to/backend/auth-facebook/

[2020-10-06 11:18] ludwiczakpawel commented on #8990
@Winner95 would you like me to assign you to this issue?

[2020-10-06 11:19] vtrpldn commented on #10659
Example: https://dev.to/molio24359491/cash-instalment-customer-care-number-9547064828-7477526869-34io#comments

18 comments from the author, this post is recurrently the featured one in my feed.

[2020-10-06 11:30] Winner95 commented on #8990
@ludwiczakpawel yes, thank you. I appreciate that.

[2020-10-06 11:31] ShubhankarKG commented on #10402
Yup, that was it, apologies.

[2020-10-06 11:45] Rafi993 opened #10660 "It should not be able to focus elements behind the listing modal using tab keys"
**Describe the bug**

It should not be possible to focus elements behind the modal using tab keys. This should be prevented by focus trap for better accessibility

**To Reproduce**

1. Go to https://dev.to/listings/events/learn-how-to-contribute-to-open-source-k8j
2. Click on the text area
3. Press tab key three times
4. Now focus goes to element behind the modal hidden by the overlay

**Expected

[2020-10-06 11:55] #10601 closed

[2020-10-06 12:12] Link2Twenty commented on #10610
I'd suggest looking at the [inert polyfill](https://github.com/WICG/inert).

[2020-10-06 12:23] Rafi993 commented on #10660
I think it is related to https://github.com/forem/forem/issues/9585

[2020-10-06 13:03] rhymes commented on #10660
I think this is a duplicate of https://github.com/forem/forem/issues/10610, can you add your coment over there? Thanks @Rafi993!

[2020-10-06 13:03] #10660 closed

[2020-10-06 14:28] lucasqueiroz commented on #10546
Hey @musps I didn't see you were assigned, really sorry! I'll make sure to check next time.

[2020-10-06 14:34] rmoff opened #10664 "Imported articles from RSS feed have broken bullets"
**Describe the bug**

When creating an article imported from RSS feed, any bullet lists are created incorrectly in Markdown.

For example, https://rmoff.net/2020/10/01/ingesting-xml-data-into-kafka-introduction/, when imported, looks like this on the bullet points at the end:

![image](https://user-images.githubusercontent.com/3671582/95215443-e0304900-07e8-11eb-93c9-e8bda5b46eb3.png)

[code]

The

[2020-10-06 15:36] thomasbnt opened #10666 "Change the default page"
**Is your feature request related to a problem? Please describe.**

I have as shortcut "https://dev.to/latest" and not "https://dev.to" because I prefer to look at the last posts and then after the most noticed ones. It doesn't bother on computer, but on phone or even on the application it's very slightly annoying. It's just a question of speed, nothing more.

**Describe the solution you'd like**

[2020-10-06 16:10] jacobherrington commented on #9849
I'm not certain #10575 will close this issue because as Lee suggested (using SiteConfig) we'll want some way to modify these emails via the UI.

I don't necessarily know if the Config UI is the *best* place to handle this (it is getting a bit bloated), I'd suggest building another view in the admin namespace to let folks overwrite email templates.

[2020-10-06 16:14] Kolkata114 opened #10667 "Navi loan customer care number//9883341103//9883932550//"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 16:14] Kolkata114 commented on #10667
Navi loan customer care number//9883341103//9883932550//

[2020-10-06 16:23] rhymes commented on #10666
I think this is a duplicate of https://github.com/forem/forem/issues/9045 - please add your comment there @thomasbnt, thank you!

[2020-10-06 16:23] #10666 closed

[2020-10-06 16:24] #10667 closed

[2020-10-06 16:24] thomasbnt commented on #9045
I have as shortcut "https://dev.to/latest" and not "https://dev.to" because I prefer to look at the last posts and then after the most noticed ones. It doesn't bother on computer, but on phone or even on the application it's very slightly annoying. It's just a question of speed, nothing more.

[2020-10-06 16:30] ragxz opened #10668 "instarupee customer care number 8597857602"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 16:30] ragxz commented on #10668
instarupee customer care number 8597857602

[2020-10-06 16:33] ragxz opened #10669 "instarupee customer care number 8597857602"
instarupee customer care number 8597857602!-- Before creating a bug report, try disabling browser extensions to see if the bug is still present. -->

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS,

[2020-10-06 16:33] ragxz commented on #10669
instarupee customer care number 8597857602

[2020-10-06 16:35] #10668 closed

[2020-10-06 16:35] #10669 closed

[2020-10-06 16:49] Rafi993 commented on #10610
<img src="https://user-images.githubusercontent.com/8092120/87239167-91615600-c429-11ea-917c-9f02bec477f4.png" width="16" height="16"/> Forwarded from issue https://github.com/thepracticaldev/dev.to/issues/10660

[2020-10-06 16:51] rhymes opened #10670 "Sponsorship: differentiate tag sponsorships on organization profile"
**Is your feature request related to a problem? Please describe.**

If an organization is sponsoring multiple tags, these will appear as ` Tag Community Sponsor ❤️ ` in separate boxes for as many tags as they are sponsoring:

![Screenshot_2020-10-06 HarperDB - DEV Community 👩‍💻👨‍💻](https://user-images.githubusercontent.com/146201/95232312-97868900-0804-11eb-9f00-0e64a6a2466b.png)

(example taken f

[2020-10-06 17:41] rahul3891 commented on #10590
7866867001🔰स्नैपडील कस्टमर केयर नंबर

[2020-10-06 17:48] rahul3891 opened #10672 "Payphone customer care number7866867001"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 17:48] rahul3891 opened #10673 "Payphone customer care number7866867001"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 17:51] rahul3891 opened #10674 "fordotstore customer care number 7866867001"
![Screenshot_20201005_060650](https://user-images.githubusercontent.com/72356288/95240823-92d4cb80-082a-11eb-85ad-127fee445f16.jpg)

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Brows

[2020-10-06 17:51] rahul3891 commented on #10674
fordotstore customer care number 7866867001

[2020-10-06 17:51] rahul3891 commented on #10674
fordotstore customer care number 7866867001

[2020-10-06 17:51] rahul3891 commented on #10674
fordotstore customer care number 7866867001

[2020-10-06 17:51] rahul3891 commented on #10674
fordotstore customer care number 7866867001

[2020-10-06 17:51] rahul3891 commented on #10674
fordotstore customer care number 7866867001

[2020-10-06 17:51] rahul3891 commented on #10674
fordotstore customer care number 7866867001

[2020-10-06 17:51] rahul3891 commented on #10674
fordotstore customer care number 7866867001

[2020-10-06 17:52] rahul3891 commented on #10674
@bradpauly

[2020-10-06 17:53] rahul3891 commented on #10674
fordotstore customer care number 7866867001[https://www.google.com/search?q=fordotstore+customer+care+number&oq=fordotstore+customer+care+number+&aqs=chrome..69i57j35i39j69i60l3.5097j0j9&client=ms-android-vivo&sourceid=chrome-mobile&ie=UTF-8](https://www.google.com/search?q=fordotstore+customer+care+number&oq=fordotstore+customer+care+number+&aqs=chrome..69i57j35i39j69i60l3.5097j0j9&client=ms-andr

[2020-10-06 17:53] rahul3891 commented on #10674
https://www.google.com/search?q=fordotstore+customer+care+number&oq=fordotstore+customer+care+number+&aqs=chrome..69i57j35i39j69i60l3.5097j0j9&client=ms-android-vivo&sourceid=chrome-mobile&ie=UTF-8[https://www.google.com/search?q=fordotstore+customer+care+number&oq=fordotstore+customer+care+number+&aqs=chrome..69i57j35i39j69i60l3.5097j0j9&client=ms-android-vivo&sourceid=chrome-mobile&ie=UTF-8](htt

[2020-10-06 17:54] rahul3891 commented on #10674
https://github.com/forem/forem/issues/10674#issuecomment-704443824[https://github.com/forem/forem/issues/10674#issuecomment-704443824](https://github.com/forem/forem/issues/10674#issuecomment-704443824)

[2020-10-06 17:54] rahul3891 commented on #10674
https://github.com/forem/forem/issues/10674#issuecomment-704443824[https://github.com/forem/forem/issues/10674#issuecomment-704443824](https://github.com/forem/forem/issues/10674#issuecomment-704443824)

[2020-10-06 17:56] rahul3891 opened #10675 "fordotstore customer care number 7866867001"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 17:56] rahul3891 commented on #10675
fordotstore customer care number 7866867001

[2020-10-06 17:56] rahul3891 commented on #10675
fordotstore customer care number 7866867001

[2020-10-06 17:56] rahul3891 commented on #10675
fordotstore customer care number 7866867001

[2020-10-06 17:56] rahul3891 commented on #10675
fordotstore customer care number 7866867001

[2020-10-06 18:02] rahul3891 opened #10676 "finifox fashion customer care number7866867001"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 18:02] rahul3891 commented on #10676
finifox fashion customer care number7866867001

[2020-10-06 18:02] rahul3891 commented on #10676
finifox fashion customer care number7866867001

[2020-10-06 18:02] rahul3891 commented on #10676
finifox fashion customer care number7866867001

[2020-10-06 18:03] rahul3891 commented on #10676
finifox fashion customer care number7866867001

[2020-10-06 18:03] rahul3891 opened #10677 "finifox fashion customer care number7866867001"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 18:03] rahul3891 commented on #10677
finifox fashion customer care number7866867001

[2020-10-06 18:03] rahul3891 commented on #10677
finifox fashion customer care number7866867001

[2020-10-06 18:03] rahul3891 commented on #10677
finifox fashion customer care number7866867001

[2020-10-06 18:58] diogoosorio commented on #10664
I was looking into this and I believe what the issue is on the [reverse_markdow](https://github.com/xijo/reverse_markdown/) library.

Taking your article as an example:

[code]

The library is adding 2 newline characters in-between the `-` and the first character. I was able to dumb down the example even more to replicate the problem:

[code]

The 2 first examples work as intended, but if you add

[2020-10-06 20:15] jdoss commented on #10546
This is fixed with https://github.com/forem/forem/pull/10681

[2020-10-06 20:15] #10546 closed

[2020-10-06 21:13] #10677 closed

[2020-10-06 21:13] #10676 closed

[2020-10-06 21:13] #10675 closed

[2020-10-06 21:13] #10674 closed

[2020-10-06 21:13] #10673 closed

[2020-10-06 21:13] #10672 closed

[2020-10-06 21:23] colabottles commented on #4807
@nickytonline I can take a look at this if you want to let me have a crack at this one.

[2020-10-06 21:36] techieeliot commented on #4807
Hey @nickytonline, I'd like to tackle this one tomorrow.

[2020-10-06 21:42] nickytonline commented on #4807
Sounds good. I've assigned this to you.

[2020-10-06 21:42] amithsahrma opened #10682 "2gud customer care number_&"""7029380756,,"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-06 21:43] amithsahrma commented on #10682
2gud customer care number_&""7029380756

[2020-10-06 21:44] amithsahrma commented on #10682
Jcxdyg

[2020-10-06 21:44] amithsahrma commented on #10682
Fx

[2020-10-06 22:36] #10682 closed

[2020-10-07 01:31] rahusa413 opened #10687 "Mojofox customer care number 09832003798"
Mojofox customer care number 09832003798 extensions to see if the bug is still present. -->

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-07 01:31] rahusa413 commented on #10687
Mojofox customer care number 09832003798

[2020-10-07 01:31] rahusa413 opened #10688 "Mojofox customer care number 09832003798"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-07 01:32] rahusa413 commented on #10688
Mojofox customer care number 09832003798

[2020-10-07 01:32] rahusa413 commented on #10688
Mojofox customer care number 09832003798

[2020-10-07 01:32] rahusa413 opened #10689 "Mojofox customer care number 09832003798"
**Is your feature request related to a problem? Please Mojofox customer care number 09832003798.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-07 01:32] rahusa413 commented on #10689
Mojofox customer care number 09832003798

[2020-10-07 01:33] rahusa413 commented on #10689
Mojofox customer care number 09832003798

[2020-10-07 01:33] rahusa413 opened #10690 "Mojofox customer care number 09832003798"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-07 01:34] rahusa413 commented on #10690
Mojofox customer care number 09832003798

[2020-10-07 01:34] rahusa413 commented on #10690
Mojofox customer care number 09832003798

[2020-10-07 01:34] rahusa413 commented on #10690
Mojofox customer care number 09832003798

[2020-10-07 01:34] rahusa413 commented on #10690
Mojofox customer care number 09832003798

[2020-10-07 01:58] lucasqueiroz commented on #6303
I tried logging in with GitHub but it redirects me to a 404 page. Do I have to update any environment variable to be able to log in?

Thanks

[2020-10-07 02:04] citizen428 commented on #6303
Sorry, what exactly redirects you to a 404 page? Gitpod itself or the Forem app running inside Gitpod? To set up the Forem app for Github login, please follow the guide from our docs:

https://docs.dev.to/backend/auth-github/

[2020-10-07 02:04] #10687 closed

[2020-10-07 02:04] #10688 closed

[2020-10-07 02:04] #10689 closed

[2020-10-07 02:04] #10690 closed

[2020-10-07 02:07] lucasqueiroz commented on #6303
Thanks, somehow I missed that doc page

[2020-10-07 02:42] rabikkr9 opened #10692 "ClassiCharm customer care number 9883698314"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-07 02:46] rabikkr9 opened #10693 "Stylishfeb customer care number 9883698314::"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-07 02:46] rabikkr9 commented on #10693
Stylishfeb customer care number 9883698314::

[2020-10-07 03:29] colabottles commented on #1153
@nickytonline I'll take a look at some point with this. Thanks!

[2020-10-07 03:38] #10692 closed

[2020-10-07 03:38] #10693 closed

[2020-10-07 03:45] citizen428 opened #10695 "Connect screen doesn't resize after resizing browser"
**Describe the bug**

As discussed in #10136, the Connect screen doesn't properly resize after developer tools were opened ([comment](https://github.com/forem/forem/pull/10136#pullrequestreview-502129412), [explanation](https://github.com/forem/forem/pull/10136#issuecomment-704029516)).

**To Reproduce**

1. Go to Connect
2. Inspect the page
3. Reload the page
4. Close the developer tools

**Expec

[2020-10-07 04:42] sameer13d opened #10696 "Ds874177@gmail.com"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-07 04:43] sameer13d opened #10697 "Open"
Open

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-07 04:44] sameer13d commented on #10697
Vkhgjh

[2020-10-07 04:44] sameer13d commented on #10697
Fjhgj

[2020-10-07 04:44] sameer13d commented on #10697
Clothjunction customer care number 6269798680

[2020-10-07 05:01] #10697 closed

[2020-10-07 05:01] #10696 closed

[2020-10-07 05:17] caercustomer684 opened #10698 "Google pay customer care number 9931788848//7645952336"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-07 05:18] caercustomer684 commented on #10698
Phonepe customer care number/7091936138=9931788848 Google Play support centre call review1000/UPi pending money return 24 Howrah open

[2020-10-07 05:18] caercustomer684 commented on #10698
Phonepe customer care number/7091936138=9931788848 Google Play support centre call review1000/UPi pending money return 24 Howrah open

[2020-10-07 05:18] caercustomer684 commented on #10698
Phonepe customer care number/7091936138=9931788848 Google Play support centre call review1000/UPi pending money return 24 Howrah open

[2020-10-07 05:19] caercustomer684 opened #10699 "Phonepe customer care number/7091936138=9931788848 Google Play support centre call review1000/UPi pending money return 24 Howrah open"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-07 05:19] caercustomer684 commented on #10699
Phonepe customer care number/7091936138=9931788848 Google Play support centre call review1000/UPi pending money return 24 Howrah open

[2020-10-07 05:19] caercustomer684 commented on #10699
Phonepe customer care number/7091936138=9931788848 Google Play support centre call review1000/UPi pending money return 24 Howrah open

[2020-10-07 05:19] caercustomer684 opened #10700 "Phonepe customer care number/7091936138=9931788848 Google Play support centre call review1000/UPi pending money return 24 Howrah open"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-07 05:21] caercustomer684 commented on #10700
Phonepe customer care number/7091936138=9931788848 Google Play support centre call review1000/UPi pending money return 24 Howrah open

[2020-10-07 05:21] caercustomer684 commented on #10700
Phonepe customer care number/7091936138=9931788848 Google Play support centre call review1000/UPi pending money return 24 Howrah open

[2020-10-07 05:34] rahulkumar111 opened #10701 "Trendywestern customer care number 9832233197//9832233197"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-07 05:34] rahulkumar111 commented on #10701
Trendywestern customer care number 9832233197//9832233197

[2020-10-07 05:40] rabikkr9babu opened #10702 "Shopo24 Customer Care Number 9883698314:"
Shopo24 Customer Care Number 9883698314:           Before creating a bug report, try disabling browser extensions to see if the bug is still present. -->

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:

[2020-10-07 05:41] rabikkr9babu commented on #10702
Shopo24 Customer Care Number 9883698314:

[2020-10-07 05:47] #10698 closed

[2020-10-07 05:47] #10700 closed

[2020-10-07 05:47] #10701 closed

[2020-10-07 05:47] #10702 closed

[2020-10-07 05:47] #10699 closed

[2020-10-07 06:39] sonuwarshi143 opened #10703 "Tee4you customer_care_number O9835529689_9832254574"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-07 06:42] #10703 closed

[2020-10-07 06:58] pravin9955 opened #10704 "Book my tab customer care number 7602472247//7318842166@"
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
B

[2020-10-07 07:00] pravin9955 opened #10705 "Book my tab customer care number 7602472247//7318842166@"
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@

[2020-10-07 07:00] pravin9955 commented on #10705
Book my tab customer care number 7602472247//7318842166@

[2020-10-07 07:03] pravin9955 opened #10706 "Book my tab customer care number 7602472247//7318842166@"
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
B

[2020-10-07 07:05] #10704 closed

[2020-10-07 07:05] #10705 closed

[2020-10-07 07:05] #10706 closed

[2020-10-07 07:06] pravin9955 opened #10708 "Book my tab customer care number 7602472247//7318842166@"
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
B

[2020-10-07 07:08] pravin9955 opened #10709 "Book my tab customer care number 7602472247//7318842166@"
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@
Book my tab customer care number 7602472247//7318842166@

[2020-10-07 07:10] #10708 closed

[2020-10-07 07:11] #10709 closed

[2020-10-07 07:47] philnash commented on #9962
Is there any more detail on what wasn't working with the imports that were commented out in #6815? Perhaps we can fix what is going on there?

[2020-10-07 08:09] rafaltrojanowski commented on #7605
I can't reproduce this issue. Most likely solved here 300ba1b33f
<img width="823" alt="Screen Shot 2563-10-07 at 10 09 01" src="https://user-images.githubusercontent.com/1567767/95304580-220ecd00-0885-11eb-8e60-8b1b1beaae4f.png">

[2020-10-07 08:27] rhymes commented on #7605
@rafaltrojanowski this is not an issue though, it's a feature request, to add support for timelines, this one for example https://twitter.com/FreyaHolmer/timelines/1215413954505297922, as embedded content

I can't find them in the the [API v1.1 documentation](https://developer.twitter.com/en/docs/twitter-api/v1) so I guess the only alternative is to embed, something like this, in an iframe:

[code

[2020-10-07 08:28] upendra643 opened #10710 "Makemesuperb customer care number 7318816745//7318816745"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-07 08:28] upendra643 commented on #10710
Makemesuperb customer care number 7318816745//7318816745

[2020-10-07 08:29] upendra643 commented on #10710
Makemesuperb customer care number 7318816745//7318816745

[2020-10-07 08:29] #10710 closed

[2020-10-07 08:40] upendra643 opened #10711 "Style marte customer care number 7318816745//7318816745"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-07 08:40] upendra643 commented on #10711
Style marte customer care number 7318816745//7318816745

[2020-10-07 08:40] upendra643 commented on #10711
Style marte customer care number 7318816745//7318816745

[2020-10-07 08:41] #10711 closed

[2020-10-07 09:12] nihalr301 opened #10712 "Navi loan customer care number 7318720711//7063395671"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-07 09:35] #10712 closed

[2020-10-07 12:32] madzadev opened #10714 "'Load more' shows last notification results (wrong scrollbar position)"
**Describe the bug**

When I scroll to the bottom of notifications and click 'Load More', it displays last results loaded (scrollbar stays on the bottom) and I have to manually scroll up to see the start of newly loaded results.

**To Reproduce**

1.Click on notification bell
2.Scroll to the bottom of results
3.Click Load more (now the new results appear)
4.User has to scroll up to see the first p

[2020-10-07 14:20] Link2Twenty commented on #10695
https://github.com/forem/forem/blob/3649c70872608e045e95b8c2c7eb3faf4c39ebc1/app/views/chat_channels/index.html.erb#L39-L45

Here's the issue, does anyone know (@ludwiczakpawel maybe?) why we're calculating `vh` in JS rather than using the CSS `vh`.

Our choices are we edit the SCSS to make it use the built in `vh`

https://github.com/forem/forem/blob/83b3baeac370e810ff2ed1ca707c84fcc7bdc5cd/app/a

[2020-10-07 14:40] ludwiczakpawel commented on #10695
Not quite sure, @sarthology may know. It does seem a bit hacky in general and I feel it's to address some mobile bug.

That being said, I have some design work in progress for updating entire Connect layout (including responsiveness) but it does require **a lot** of frontend coding. And Connect is quite a beast in terms of code...

But this is clearly a bug, indeed.:)

[2020-10-07 14:56] eusonlito opened #10716 "Setup not completed yet, missing logo svg. Please visit the configuration page."
**Describe the bug**

On all site I have a banner with `Setup not completed yet, missing logo svg. Please visit the configuration page.` message and link to https://dev.to/admin/config but I'm not an admin.

**Screenshots**

![Screenshot from 2020-10-07 16-53-46](https://user-images.githubusercontent.com/644551/95348053-e80ded00-08bd-11eb-9db8-10ae6e4f2fab.png)

**Desktop (please complete the foll

[2020-10-07 15:04] rhymes commented on #10716
Thanks @eusonlito, we fixed it!

[2020-10-07 15:15] eusonlito opened #10718 "Add left sidebar to Series on user dashboard"
**Is your feature request related to a problem? Please describe.**

The `Series` section on users dashboard is the unique option without the common dashboard layout and sidebar.

**Describe the solution you'd like**

Use same layout as other dashboard sections, adding the left sidebar and content.

**Additional context**

Section with content

![Screenshot from 2020-10-07 17-10-48](https://user-im

[2020-10-07 15:20] eusonlito commented on #10718
mmm, all sidebar links are `/dashboard/XXXX` but series link is `/lito/series`.

[2020-10-07 16:50] fdoxyz commented on #9962
Hey @philnash thanks for reaching out! We've been considering a few options to make this work but haven't gotten around doing it yet.

The 'web-share-wrapper' works great but there are some certain scenarios we would like to have more control over when to present the share option vs the fallback options (not just whether or not the API is available in the current browser).

Do you think it's possi

[2020-10-07 17:55] #10234 closed

[2020-10-07 18:38] Cerchie commented on #10695
I'd like to work on this one!

[2020-10-07 18:48] Cerchie commented on #6126
I'd like to work on this!

[2020-10-07 18:55] nickytonline commented on #6126
I've assigned it to you @Cerchie.

[2020-10-07 19:14] joneskj55 commented on #9895
Hey guys I think I have this figured out. However, I think I might need a mod account in order to test.

[2020-10-07 21:03] philnash commented on #9962
Thanks for getting back to me! Do you have an idea what the interface for that would look like? Given that web components in their declarative HTML form can only receive string properties? You can instantiate a component in JavaScript and add it to the DOM yourself and then set attributes with JavaScript?

Alternatively, you could subclass the `WebShareWrapper` class to add further behaviour to it

[2020-10-07 23:09] upendra643 opened #10722 "Makemesuperb customer care number 7318816745//7318816745"
Makemesuperb customer care number 7318816745//7318816745

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-07 23:10] upendra643 commented on #10722
Makemesuperb customer care number 7318816745//7318816745

[2020-10-07 23:11] upendra643 commented on #10722
Makemesuperb customer care number 7318816745//7318816745

[2020-10-08 02:38] chdsbd opened #10723 "support RSS feed discovery from articles and profile pages"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to subscribe to a user's posts via RSS by pasting their article url or profile url into my feed reader.

**Describe the solution you'd like**

Add `<link rel="alternate" type="application/rss+xml"  href="/feed/<username>" />` tags to articles and user profile pages to support RSS feed discovery.

RSS readers us

[2020-10-08 02:38] jonathanyeong commented on #9934
@rhymes I'm having some issues getting this setup with Docker. I've searched around the Forem issues but I can't find any that are related. Not sure if it's just my setup.

[code]

I noticed that `base_url` is empty and `uri` equals `images`. I've also created a `.env` file. Am I missing something else?

[2020-10-08 02:59] babuarjun opened #10724 "Mm Bulk Customer Care Number 9832507653...9832507653"
Mm Bulk Customer Care Number 9832507653...9832507653!-- Before creating a bug report, try disabling browser extensiif the bug is still present. -->

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS,

[2020-10-08 02:59] babuarjun commented on #10724
Mm Bulk Customer Care Number 9832507653...9832507653..
Mm Bulk Customer Care Number 9832507653...9832507653

[2020-10-08 03:19] Sonalimandal5 opened #10725 "Goibibo customer care number 7362970130"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-08 04:05] shadowtime2000 opened #10726 "Won't Remove Cover Image"
**Describe the bug**
I can't remove a cover image for a post.

**To Reproduce**
1. Create a Post
2. Add some random content
3. Add a cover image
4. Publish
5. Go into edit and click `remove` for cover image
6. Save

**Expected behavior**
It would remove the cover image

**Desktop (please complete the following information):**

- OS, version: Windows 10
- Browser, version: Chrome 85.0.4183.121 (Off

[2020-10-08 04:12] MishManners commented on #7397
Couldn't you just have a link to all the [emojis](https://www.webfx.com/tools/emoji-cheat-sheet/) in the side bar, like this?

![Suggestion](https://user-images.githubusercontent.com/36594527/95414082-b60d9100-0978-11eb-97e8-34f894749663.png)

I've been writing lots on Dev.to and this would be super useful. What are people's thoughts?

[2020-10-08 04:17] MishManners opened #10727 "Ability to upload multiple videos at once."
**Is your feature request related to a problem? Please describe.**

Currently, when uploading videos to Dev.to, you can only upload one video at a time. Not only that, you must wait until the video has uploaded AND transcoded before uploading another. If you do not, then the multiple videos you uploaded will be all smooshed together. Meaning you have to delete them all and start again.

Currently,

[2020-10-08 05:33] #10722 closed

[2020-10-08 05:33] #10724 closed

[2020-10-08 05:33] #10725 closed

[2020-10-08 05:56] citizen428 commented on #10726
This seems to be a duplicate of #6914, so I'll close this issue here. Thanks for the report though @shadowtime2000!

[2020-10-08 05:56] #10726 closed

[2020-10-08 06:16] rhymes commented on #10695
Thanks @Cerchie, go ahead! :)

[2020-10-08 06:17] rhymes commented on #6126
@Cerchie @nickytonline should we gather a list of components that need their coverage to be upped? This way we can coordinate efforts and other people can chime in as well if the workload is high

[2020-10-08 06:23] rhymes commented on #9934
@jonathanyeong nope, that's a legit bug, but it should have been fixed by #10681 - can you make sure your branch is up to date with master? Does it still happen?

[2020-10-08 07:26] rhymes commented on #10718
Hi @eusonlito, this is because `/dashboard/{resource}` is private to the user (and that's where the managing part of series should lie) and `/rhymes/series` is public, even to non authenticated users.

So:

- https://dev.to/rhymes/series should list my series with at least one article in them
- https://dev.to/dashboard/series should be the place where I go manage the series collections

I think th

[2020-10-08 07:50] eusonlito commented on #10718
Yes, I think that all dashboard sidebar options must be private and relative to `/dashboard`. Currently when you click in `Series` you lost your dashboard panel and you need to go again to Avatar > Dashboard.

I think that integrate series into a new `/dashboard/series` panel is not complicated, no?

[2020-10-08 07:59] rhymes commented on #9895
Hi @joneskj55, you can add various admin roles on your user of your local installation with the following in the console:

[code]

In this case `trusted` is the only one strictly needed to test the functionality but you might want to know the others for future reference

[2020-10-08 08:01] rhymes commented on #10718
@eusonlito managing series in the dashboard is another feature that will be addressed by #9008 - the link will be fixed when that's addressed

[2020-10-08 08:03] rhymes opened #10734 "Rename :trusted role to :moderator"
**Is your feature request related to a problem? Please describe.**

It's not super clear to the casual user (and I did forgot as well :D) that `trusted` is the role that corresponds to moderators.

**Describe the solution you'd like**

I think we should rename `trusted` to the self explanatory `moderator`

**Describe alternatives you've considered**

Nope, none of the alternatives like `trusted_mo

[2020-10-08 08:03] eusonlito commented on #10718
Perfect!

[2020-10-08 08:03] #10718 closed

[2020-10-08 09:13] leewynne commented on #9921
Hey there @Link2Twenty & @rhymes I was thinking further about the logic here and how it would work for new Forems. I think it would make sense to have an option for almost a 'basic' version that just emails out based on articles worth reading across the whole community rather than followed tags and experience levels.

[2020-10-08 11:05] rmoff commented on #10664
Thanks for looking into this @diogoosorio, I appreciate it.

[2020-10-08 12:40] Link2Twenty commented on #1273
In admin tags it might be nice to have a message telling the user the contract of their colours. Similar to what I suggested in #735

Maybe it can be under or beside the preview
![image](https://user-images.githubusercontent.com/3534427/95459511-ad628e00-096b-11eb-9f8a-e9ecd5a33566.png)

Though I don't know if it should be calculated server side or client side. Server side feels like the better op

[2020-10-08 15:07] Cerchie commented on #6126
@rhymes sounds good, I'll take a look this afternoon 10/8

[2020-10-08 15:22] Link2Twenty commented on #49
@rhymes the markdown editor is in a modal now, I guess this can be closed?

[2020-10-08 15:24] Link2Twenty commented on #152
@rembrandtreyes are you still working on this?

[2020-10-08 15:25] leewynne opened #10738 "HTML variants that show under articles need adding back in."
**Describe the bug**

Within admin > html variants there is an option to build a variant for the footer of articles and also target specific tags. A while ago this was removed, this issue requests for it to be reactivated.

**To Reproduce**

Open /admin
Goto html variants
Create new html variant and insert some basic html
select 'show_below_article_cta'

Note, the variant doesnt show when activate

[2020-10-08 15:27] Link2Twenty commented on #168
@rhymes I believe this is no longer and issue

[2020-10-08 15:28] Link2Twenty commented on #217
@rhymes this is the same issue as #160 I imagine we can close one of them

[2020-10-08 15:33] Link2Twenty commented on #464
I'll just pop this in here <https://github.com/languagetool-org/languagetool>

[2020-10-08 15:40] Link2Twenty commented on #1123
@rhymes this is resolved.

[2020-10-08 15:42] Link2Twenty commented on #1958
@jessleenyc I've been receiving notifications from orgs too, I'd say this is sorted.

[2020-10-08 15:46] Link2Twenty commented on #2618
Back to top can be achieved on any screen by pressing the home button.

There is an issue asking for scroll to top on articles here #1952

[2020-10-08 15:47] Link2Twenty commented on #1772
This will be easier to implement once #10713 is merged

[2020-10-08 15:49] Link2Twenty commented on #1806
Any update on this one from the team? @rhymes @jessleenyc

[2020-10-08 16:01] exyi commented on #168
It is still an issue. To replicate, go to dev.to, install uMatrix and disable scripts, go to dev.to and the following screen instead of the article:

![image](https://user-images.githubusercontent.com/7894687/95484082-8d3cca00-097f-11eb-8c4f-a11517ab04f8.png)

[2020-10-08 16:04] jonathanyeong commented on #9934
@rhymes doh, my branch wasn't up to date. Thank you! That resolved it.

[2020-10-08 16:11] Link2Twenty commented on #168
@exyi that's a shame it works in chrome with JS turned off.

[2020-10-08 17:36] techieeliot commented on #4807
# Does this look like an H1 in github

Note that we're looking at options:

- markdown-lint  - https://github.com/DavidAnson/markdownlint

[2020-10-08 18:15] Taniyah-L-Jackson commented on #4523
Afternoon @rhymes! Thank you for the earlier clarification, my understanding was still a bit hazy. Would `has_many :profile_pins, as: :pinnable, inverse_of: :pinnable` be considered as a relation between the two? Or does this need to be fleshed out more?

[2020-10-08 18:27] ludwiczakpawel commented on #2618
@Link2Twenty what's the "home button"? :)

[2020-10-08 18:38] joneskj55 commented on #9895
@rhymes Got it, thanks!

[2020-10-08 18:46] Link2Twenty commented on #2618
@ludwiczakpawel on your keyboard. Actually on a Mac it's fn Left

[2020-10-08 18:51] #10480 closed

[2020-10-08 19:16] techieeliot commented on #4807
## What we discovered on the live stream

- @nickytonline @cmgorton and @techieeliot we toyed around with the markdown lint demo from the docs
- in the docs we tested out the following code in the articleForm.js at `app/javascript/packs/`:

[code]

-  we discovered after trial and error that we did not need to import it, so we removed it and swiped the following docs from the source and placed the

[2020-10-08 19:24] techieeliot commented on #4807
I went to commit on my branch, and I had these errors in my terminal:
[code]

[2020-10-08 19:42] ludwiczakpawel commented on #1123
Yeap, this is solved.

[2020-10-08 19:42] #1123 closed

[2020-10-08 19:57] #10521 closed

[2020-10-08 20:09] nickytonline commented on #6126
Yeah, that makes sense @rhymes.

[2020-10-08 20:17] michael-tharrington opened #10744 "Blocking user doesn't successfully stop user's posts from appearing in feed"
**Describe the bug**

When User A blocks User B, User A can still see User B's posts in their home feed.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to your home feed on dev.to
2. Click onto an author's name whom you'd like to block
3. Once on the author's profile page, click the '...' icon to the right side of their name card and the block them
4. Return to home feed on dev.to and

[2020-10-08 22:48] Cerchie commented on #6126
I combed through all the test folders in app/javascript and here's what I found. I couldn't find any test files that relied solely on snapshots so I may be missing something here.

[url forem/app/javascript/articles/__tests__/Article.test.jsx](https://github.com/forem/forem/blob/master/app/javascript/articles/__tests__/Article.test.jsx) one snapshot among many tests

[url forem/app/javascript/icon

[2020-10-08 22:57] eduherminio commented on #10234
Thanks @Link2Twenty!

[2020-10-08 23:10] nickytonline commented on #6126
@Cerchie, we've moved away from snapshot testing. Currently the only snapshot testing we have is in regards to design system components. There's several posts on the web in regards to moving away from snapshot testing.

Here's one post I found, [Why I stopped using snapshot testing with Jest](https://medium.com/@tomgold_48918/why-i-stopped-using-snapshot-testing-with-jest-3279fe41ffb2), but feel f

[2020-10-08 23:13] Cerchie commented on #6126
@nickytonline Thank you for that resource! I was listing them in hopes of eliminating them, but I understand now that we're also looking in general for any components that need more testing.

[2020-10-08 23:13] nickytonline commented on #6126
If you run `yarn test`, it will generate a coverage report. You can look in there to see where there may be gaps.

[2020-10-08 23:16] nickytonline commented on #6126
Here's a recent coverage report from the master branch.

[code]

[2020-10-08 23:20] nickytonline commented on #5023
@Link2Twenty, see my comments in #10713.

[2020-10-09 03:57] amithsahrma opened #10749 "Bulbul shop customer care number☎ 6289473935"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-09 03:58] amithsahrma commented on #10749
Bulbul shop customer care number☎ 6289473935

[2020-10-09 03:58] amithsahrma commented on #10749
Bulbul shop customer care number☎ 6289473935

[2020-10-09 03:58] amithsahrma commented on #10749
Bulbul shop customer care number☎ 6289473935

[2020-10-09 03:58] amithsahrma commented on #10749
Bulbul shop customer care number☎ 6289473935

[2020-10-09 03:58] amithsahrma commented on #10749
Bulbul shop customer care number☎ 6289473935

[2020-10-09 03:58] amithsahrma commented on #10749
Bulbul shop customer care number☎ 6289473935

[2020-10-09 03:59] amithsahrma commented on #10749
Bulbul shop customer care number☎ 6289473935

[2020-10-09 03:59] amithsahrma commented on #10749
Bulbul shop customer care number☎ 6289473935

[2020-10-09 03:59] amithsahrma commented on #10749
Bulbul shop customer care number☎ 6289473935

[2020-10-09 03:59] amithsahrma commented on #10749
Bulbul shop customer care number☎ 6289473935

[2020-10-09 03:59] amithsahrma commented on #10749
Bulbul shop customer care number☎ 6289473935

[2020-10-09 04:00] amithsahrma commented on #10749
Bulbul shop customer care number☎ 6289473935

[2020-10-09 04:00] amithsahrma commented on #10749
Bulbul shop customer care number☎ 6289473935

[2020-10-09 04:13] #10749 closed

[2020-10-09 07:03] Defman21 opened #10753 "Show mod actions in the feed"
**Is your feature request related to a problem? Please describe.**

As a community mod, I want to report obvious spam posts without having to open the post and flag it from here.

**Describe the solution you'd like**

Show mod actions somewhere near the Save button.

**Describe alternatives you've considered**

none

**Additional context**

none

[2020-10-09 10:26] rhymes commented on #49
@Link2Twenty it's not a modal though, this issue is about the markdown cheat sheet for the comment editor. I'm going to update the title

[2020-10-09 10:31] rhymes commented on #217
Closing this as duplicate of #160

[2020-10-09 10:31] #217 closed

[2020-10-09 10:32] rhymes commented on #1958
Closing this as we clearly receive notifications from organizations

[2020-10-09 10:32] #1958 closed

[2020-10-09 10:33] query-string commented on #10723
Hello there! I'd love to work on this one please :)

[2020-10-09 10:36] rhymes commented on #4523
Hi @Taniyah-L-Jackson, I'm not sure you need to add any clauses to the relation. If we could reason around a PR it'd probably be easier for us to help get you unstuck on the implementation. It's a bit harder otherwise 😊

[2020-10-09 10:40] rhymes commented on #4807
Hi @techieeliot, I defer to @nickytonline on the implementation, just wanted to add that if that library is an external dependency it should be installed as such, not added to the source code directly. Basically, something like `yarn add -D markdownlint`

[2020-10-09 10:42] rhymes commented on #10744
Might also be related to https://github.com/forem/forem/issues/5342

[2020-10-09 10:49] #3654 closed

[2020-10-09 11:01] rhymes commented on #10723
Assigned to you @query-string, thanks!

[2020-10-09 11:30] leewynne commented on #7845
Hey @lightalloy what do you think of the comment above? So with no auth, it shows maybe 3 of the most recent podcasts to highlight that podcasts exist if you are on mobile, post auth it is tailored to what you follow, if you don't follow any then it reverts back to the top 3 again...

[2020-10-09 11:36] 13point5 commented on #10670
Hi, @rhymes I'd like to work on this, can I get some more info on the issue or maybe how to use a dummy sponsor account to test this?

[2020-10-09 13:48] sarthology commented on #10695
The problem was with Firefox on iOS and this was the only way to resolve it. I have fixed that is this PR  [#9801](https://github.com/forem/forem/pull/9801). That makes this issue bit tricky to resolve.

[2020-10-09 14:17] nadiyaka commented on #10581
I'd like to work on this issue

[2020-10-09 14:28] nickytonline commented on #4807
@rhymes, there is an npm package, which works in Node, but to use it in the frontend, you need to build it and load the scripts the old school way. On the stream, we popped it in base.js.erb just to get the POC to see it working.

The actual implementation will most likely load them dynamically once the editor is loaded so as to prevent page slowdowns.

[2020-10-09 14:28] nickytonline commented on #4807
@techieeliot, for the eslint errors, I can take a peek.

[2020-10-09 14:35] nickytonline commented on #4807
Ahh, so for the eslint errors, we just need to exlcude these files from eslint as it is not code we manage even though we're including it in the project. Just add those two files to https://github.com/forem/forem/blob/master/.eslintignore

[2020-10-09 16:15] joneskj55 commented on #9895
I think I have the solution. However, I cannot get past the home page on local. I cannot login in order to see if what I am doing is working. I was having too many issues with installing locally so I am using Gitpod. Not sure if that helps explain why I can't log in. Any other suggestions?
![Screen Shot 2020-10-09 at 11 09 55 AM](https://user-images.githubusercontent.com/20748598/95606882-97fb6b80

[2020-10-09 17:05] marcospedro97 commented on #1511
This issue is available? Can I give it a try?

[2020-10-09 18:11] benhalpern commented on #9921
Good call. We need some "small community alternatives" for a few things, where it's much more about distributing consistent content vs working with the firehose for large ones.

On a separate note: We should also generalize `experience_level` as a general preference gauge which can help match people with content. Anything that can be answered in a "scale" sort of way to qualify. For example: A par

[2020-10-09 18:18] #10629 closed

[2020-10-09 20:26] maestromac commented on #1511
Yes @marcospedro97 . Please give it a try!

[2020-10-09 20:26] michael-tharrington commented on #10285
This is available now I believe!

![Image 2020-10-09 at 4 26 49 PM](https://user-images.githubusercontent.com/16007075/95628535-3e109b00-0a4c-11eb-992b-ac86b0d75ff9.png)

[2020-10-09 20:26] #10285 closed

[2020-10-09 21:14] joneskj55 commented on #9895
I have Docker now, I'll give it a shot with that...

[2020-10-09 21:17] #10427 closed

[2020-10-10 05:40] dar5hak commented on #7981
Hello. I'm here to request another instance to be allowed: https://im-in.space/. It's a small, general-purpose instance with [ethical rules](https://im-in.space/about/more) in place. Can we reopen this?

I was having an email conversation with Michael who directed me here. Thanks.

[2020-10-10 06:31] prkasyadav opened #10760 "m vastram customer care number 7384970784.7384970784."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-10 06:32] prkasyadav opened #10761 "m vastram customer care number 7384970784.7384970784."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-10 06:32] prkasyadav opened #10762 "m vastram customer care number 7384970784.7384970784."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-10 08:00] ahmadawais commented on #9509
@benhalpern I'd love to see this fix. It's stopping many people from cross-posting on Dev.to.

[2020-10-10 09:10] sidemt commented on #9367
Hi. I'm interested in working on this. Can I take this issue?

[2020-10-10 11:05] ShubhankarKG commented on #10402
Hey everyone, one final request, I was going to commit and this happened

[code]

Any suggestios would be great

[2020-10-10 13:15] lizylajra opened #10766 "12 Reasons Why Your Business Absolutely Needs SEO"
One of the most significant aims of businesses worldwide is to become higher earning firm with an enormous number of customers. Also, digital world has got a boom, which makes SEO imperative. Here, we have enlisted 12 reasons; your business needs Search Engine Optimization. Even, also you need [SEO in Dubai ](https://www.corpletesolutions.com/seo) for your business.
1. Online Presence In this worl

[2020-10-10 14:41] sau226 commented on #10402
My suggestion would be to bump the node version under ``engines`` in ``package.json`` to ``12.19.x`` or something similar and see how the change goes.

This change should technically work, however as there may be reasons a dependency is held back I will defer to more experienced community members on the matter.

[2020-10-10 14:51] techieeliot commented on #4807
Ok, thanks @nickytonline! Will do.

[2020-10-10 17:20] dev-dull commented on #9034
Dropping in to say that I ran into this issue today (I was actually looking to find my way to this GitHub to browse issues).

Reading through the earlier comments, I don't believe I've seen this proposal:
1. User enters page
2. User scrolls to bottom which causes more content to load, and the footer to appear as an overlay at the bottom of the page
3. User scrolls 'N' pixels (allow for user oversh

[2020-10-10 17:53] sheriffderek commented on #9034
@dev-dull  let's see a prototype.

[2020-10-10 22:00] dev-dull commented on #9034
@sheriffderek Ah! That was a good exercise. It revealed to me the issue of the footer that's constantly trying to pop up and disappear as I scroll. I'll go sit in my backend dev corner now 😉

[2020-10-11 03:08] #10766 closed

[2020-10-11 05:32] hshsjsshahha162 opened #10768 "vivan customer care number //8757232571//8250236195"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-11 07:11] shilpi230 commented on #9117
@rhymes I see we already have expire date and deleting feature for listings. Is it something else ? Thanks!

[2020-10-11 07:16] shilpi230 commented on #3613
@rhymes I would like to take this up. Thanks!

[2020-10-11 07:48] #10762 closed

[2020-10-11 07:48] #10761 closed

[2020-10-11 07:48] #10760 closed

[2020-10-11 07:49] shilpi230 commented on #9707
@nickytonline @citizen428 @rhymes I would like to take this one! Thanks!

[2020-10-11 17:24] shilpi230 commented on #9464
@rhymes from constraints of edge caching do you mean this minimal API shouldn't use edge caching ? But the original one which gives all the info should ?

[2020-10-11 17:26] nadiyaka commented on #10581
@forem/oss

[2020-10-11 23:16] marcospedro97 commented on #1511
While working in the issue I've manged to catch more errors than we have currently, the main problem I've seen on issue #7898 is that even with the problem the post was created, using the ```parsed_liquid.errors``` in the markdown parser this wouldn't happen again, but this didn't allow me to show more than a single error in the view, I've also started asking myself if giving the line were the err

[2020-10-12 02:21] citizen428 commented on #7845
I think this is a sensible approach @leewynne, similar to how we it do for the feed.

[2020-10-12 02:25] citizen428 commented on #9367
@sidemt I assigned you the issue now, thanks for volunteering! If you have further questions please post them here on a draft PR.

[2020-10-12 02:27] citizen428 commented on #9464
No, it means that both should be cached, but you'd need to ensure that the edge cache handles this scenario correctly (same endpoint, different params).

[2020-10-12 02:31] citizen428 commented on #9117
@shilpi230 Listings are valid for a certain amount of time, which can be extended ("bumped") by spending more credits. That's the expiry date. This whole logic is also what makes introducing the concept of pausing a listing somewhat unfeasible with the current implementation. And you're right about deletion, listings already can be removed by either their authors or an admin.

[2020-10-12 02:37] citizen428 commented on #10402
@ShubhankarKG Our Node dependency is currently locked to 12.18 (see `.nvmrc`). To get rid of this warning you need to use a Node version manager like [nvm](https://github.com/nvm-sh/nvm) (assumed by our documentation), [n](https://github.com/tj/n) or [fnm](https://github.com/Schniz/fnm) to install the correct version. Please consult our [installation docs](https://docs.dev.to/installation/) and fo

[2020-10-12 02:39] citizen428 commented on #9707
@shilpi230 It's all yours, thanks for volunteering! 😃

[2020-10-12 02:50] #10768 closed

[2020-10-12 02:53] mantuku opened #10786 "Allurstyle customer care number 7670830350//7670830350.."
extensions!-- If you're having trouble updating your profile, it is likely because you logged in separately with GitHub & Twitter. Please check if this is the case before creating a bug report, and email yo@dev.to so we can merge your accounts. -->

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, versio

[2020-10-12 02:53] mantuku commented on #10786
Allurstyle customer care number 7670830350//7670830350..

[2020-10-12 02:53] mantuku commented on #10786
Allurstyle customer care number 7670830350//7670830350..

[2020-10-12 02:53] mantuku commented on #10786
Allurstyle customer care number 7670830350//7670830350..

[2020-10-12 02:54] mantuku commented on #10786
Allurstyle customer care number 7670830350//7670830350..

[2020-10-12 02:54] mantuku commented on #10786
Allurstyle customer care number 7670830350//7670830350..

[2020-10-12 02:54] mantuku commented on #10786
Allurstyle customer care number 7670830350//7670830350..

[2020-10-12 02:54] mantuku commented on #10786
Allurstyle customer care number 7670830350//7670830350..

[2020-10-12 02:54] mantuku commented on #10786
Allurstyle customer care number 7670830350//7670830350..

[2020-10-12 02:54] mantuku commented on #10786
Allurstyle customer care number 7670830350//7670830350..

[2020-10-12 02:54] mantuku commented on #10786
Allurstyle customer care number 7670830350//7670830350..

[2020-10-12 02:54] mantuku commented on #10786
Allurstyle customer care number 7670830350//7670830350..Allurstyle customer care number 7670830350//7670830350..

[2020-10-12 02:54] #10786 closed

[2020-10-12 02:55] mantuku commented on #10786
Allurstyle customer care number 7670830350//7670830350..Allurstyle customer care number 7670830350//7670830350..

[2020-10-12 02:55] mantuku commented on #10786
Allurstyle customer care number 7670830350//7670830350..Allurstyle customer care number 7670830350//7670830350..

[2020-10-12 04:50] Rahulsa384 opened #10790 "The cloth ero customer service number 9832003798"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-12 04:50] Rahulsa384 commented on #10790
The cloth ero customer service number 9832003798

[2020-10-12 04:51] #10790 closed

[2020-10-12 04:53] Rahulsa384 opened #10791 "Sareemode customer care number 9883866925"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-12 04:53] Rahulsa384 commented on #10791
Sareemode customer care number 9883866925

[2020-10-12 04:56] Rahulsa384 opened #10792 "Sareemode customer care number 9883866925"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-12 04:56] Rahulsa384 commented on #10792
Sareemode customer care number 9883866925

[2020-10-12 04:57] Rahulsa384 opened #10793 "Sareemode customer care number 9883866925"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-12 04:57] Rahulsa384 commented on #10793
Sareemode customer care number 9883866925

[2020-10-12 04:57] Rahulsa384 commented on #10793
Sareemode customer care number 9883866925

[2020-10-12 05:00] Rahulsa384 opened #10794 "Sareemode customer care number 9883866925"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-12 05:00] Rahulsa384 commented on #10794
Sareemode customer care number 9883866925

[2020-10-12 05:01] Rahulsa384 opened #10795 "Sareemode customer care number 9883866925"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-12 05:01] Rahulsa384 commented on #10795
Sareemode customer care number 9883866925

[2020-10-12 05:01] Rahulsa384 commented on #10795
Sareemode customer care number 9883866925

[2020-10-12 05:02] Rahulsa384 opened #10796 "Sareemode customer care number 9883866925"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-12 05:02] Rahulsa384 commented on #10796
Sareemode customer care number 9883866925

[2020-10-12 05:03] Rahulsa384 opened #10797 "Sareemode customer care number 9883866925"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-12 05:43] Rafi993 commented on #10714
Hello there, If this bug is not taken I would like to help.

[2020-10-12 06:10] rhymes commented on #10670
Hi sure! A "tag sponsorship" is a [Sponsorship](https://github.com/forem/forem/blob/master/app/models/sponsorship.rb) attached to a [Tag](https://github.com/forem/forem/blob/master/app/models/tag.rb) object whose `level` is set to `tag` and whose `sponsorable` is attached to the tag object.

A sponsorship belongs to a user and an organization. An organization can sponsor multiple tags and a tag ca

[2020-10-12 06:11] #10791 closed

[2020-10-12 06:11] #10792 closed

[2020-10-12 06:11] #10793 closed

[2020-10-12 06:11] #10794 closed

[2020-10-12 06:11] #10795 closed

[2020-10-12 06:11] #10796 closed

[2020-10-12 06:11] #10797 closed

[2020-10-12 06:14] rajarani2580 opened #10798 "Hutton"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-12 06:14] rajarani2580 commented on #10798
kalapinisaree - customer= care -number//8388O7O998//9641858195//

[2020-10-12 06:30] #10798 closed

[2020-10-12 06:43] Rafi993 opened #10799 "Total time in video player wraps to next line"
**Describe the bug**

Total time shown in video player wraps to next line even if there is enough space to show in the same line

**To Reproduce**

1. Go to https://dev.to/devteam/building-out-the-go-playground-liquid-tag-for-dev-with-chuck-smith-32he
2. Play the video at the top
3. Open the video in full screen
4. The total time of the video shown wrap to next line

**Expected behavior**

It shou

[2020-10-12 06:51] Rafi993 opened #10800 "Undefined in url for delete listing in listing dashboard"
**Describe the bug**

Url for deleting listing in listing dashboard is `/listings/undefined/test-2fjm/delete_confirm`

**To Reproduce**

1. Go to https://dev.to/listings/dashboard
2. Create a draft listing
3. Hover over delete link of that listing it will have undefined in the url

**Expected behavior**

It should not have undefined in the url

**Screenshots**
![undefined_link](https://user-images

[2020-10-12 07:06] rhymes commented on #3613
@shilpi230 yes, thank you!

[2020-10-12 07:17] NomanGul opened #10801 "[BUG] webhooks article_updated event is not triggering"
**Describe the bug**

We are using dev.to API in our [Traindex blog](https://www.traindex.io/blog/). It's deployed on Amplify. We created the webhook events `article_created`, `article_updated`, and pass it our Amplify webhook URL:

[code]

The issue is when we update the article from the dev.to dashboard, the `article_updated` event is not triggering and not calling our webhook endpoint.

**To Re

[2020-10-12 07:26] citizen428 commented on #3613
@shilpi230 When you fix this, please also take a look at `UsersController#update`, where we specifically set a flash message telling the user to reload the page after the updated their theme:

[code]

The `config_changed?` method doesn't have the best name and can be found in the same file:

[code]

If manual refreshes after theme changes are no longer necessary, both the check and the predicate m

[2020-10-12 07:56] shilpi230 commented on #3613
Sure @citizen428 Thanks!

[2020-10-12 08:01] shilpi230 commented on #9464
Okay @citizen428  Do we want to use [fastly](https://www.fastly.com/) or use something of our own ?

[2020-10-12 08:03] shilpi230 commented on #9117
Thanks! @citizen428 so, where are we with this request then?

[2020-10-12 08:03] shilpi230 commented on #9707
Thanks @citizen428 !

[2020-10-12 08:39] rhymes commented on #7981
@dar5hak would you care to open a PR about this? It's simple as adding the hostname to https://github.com/forem/forem/blob/master/app/lib/constants/mastodon.rb

[2020-10-12 08:58] Rafi993 commented on #10800
This issue is happening because `listing.category` is undefined in https://github.com/forem/forem/blob/4babb9e6de4c5b8fe79c5342f154e53e365b1100/app/javascript/listings/dashboard/listingRow.jsx#L50-L55

[2020-10-12 09:02] rhymes commented on #10714
Thanks @Rafi993, assigned

[2020-10-12 09:03] Rafi993 commented on #10714
Thank you @rhymes

[2020-10-12 09:19] rhymes commented on #9464
Hi @shilpi230, I think by setting surrogate keys you should be able to use both Fastly and Nginx.

I'm going to cc @vaidehijoshi and @atsmith813 here to make sure :)

[2020-10-12 09:21] rhymes commented on #9117
I'm going to close this then as listings can already be removed by the author and we don't want to implement "pause"

Thanks @shilpi230

[2020-10-12 09:21] #9117 closed

[2020-10-12 10:17] rafaltrojanowski commented on #7605
Hi @rhymes

I did a small POC and introduced a new liquid tag because it was simply an easier approach for me. I didn't want to mess up with Twitter logic and I would like to keep classes and templates as small as possible. I'm open to ideas on how to move this logic if it's needed.

There is a small drawback though, seems that the tag name does not support dashes, so I went with an underscore.
An

[2020-10-12 10:31] shilpi230 commented on #9464
Okay thanks @rhymes !

[2020-10-12 10:53] madzadev opened #10803 "Search bar in Dashboard to filter Articles"
**Is your feature request related to a problem? Please describe.**

For users with lots of articles, it is impossible to filter the articles based on a keyword in the dashboard.
Let's say I have 500 articles and I specifically need to access all the articles with 'AWS' in the title. Currently, I would need to go through all 10 pagination pages (50 per view) and do ctrl+f on each of them (as I can'

[2020-10-12 11:06] dar5hak commented on #7981
@rhymes Thanks for guiding. Here we go.

[2020-10-12 11:14] akshayymahajan commented on #10800
Is anyone working on this? If not, I would like to work on this..

[2020-10-12 12:43] rhymes commented on #7605
Hi @rafaltrojanowski

I think we could support the full URL so one can do copy and paste like we already do in some other liquid tags. This way you don't have to figure out an argument, format, just validate the URL. Tags like `AsciinemaTag`, `CodepenTag`, `GistTag`, `GitPitchTag` and others use URLs as arguments.

Maybe the name should be `twitter_timeline` instead of `tweet_timeline`, I'm not su

[2020-10-12 12:58] rhymes commented on #10800
@akshayymahajan assigned it to you. thanks!

[2020-10-12 13:19] #9988 closed

[2020-10-12 13:50] 13point5 commented on #10670
Can I contribute to this issue for `hacktoberfest`?

[2020-10-12 13:57] atsmith813 commented on #9464
This would depend on where exactly this functionality will live. Is it only on `/articles/me`? If so, that endpoint isn't cached.
https://github.com/forem/forem/blob/9b693a8a8de771f28095d042e711d54bcecbd06c/app/controllers/api/v0/articles_controller.rb#L10

If not, are we trying to add `?minimal=true` to `index`/`/articles`? If so, to make this work, we'll need to double-check the `CacheBuster` to

[2020-10-12 14:00] rhymes commented on #10670
Yes @13point5, definitely. Thank you!

[2020-10-12 14:14] rhymes commented on #9464
@atsmith813 great find! I didn't notice `/me` wasn't cached, but as I think the PR on this should also cover the regular `index` view, I think we should use separate endpoints and separate Rails actions.

I don't like it too much as it makes the API a little bit spaghetti code but we already have a few idiosincrasies in v0 so I don't think it would complicate things too much.

A possible proposal

[2020-10-12 14:17] 13point5 commented on #10670
Cool, I'll get started!

[2020-10-12 14:25] atsmith813 commented on #9464
@rhymes

- With regards to caching- it's essentially all the same either way. I think we can pretty much set aside the concept of surrogate keys. That only works for Fastly. So either way, with any of these implementations suggested, we'll need to update the `CacheBuster` to bust whatever new path/querystring we use so that it works with Fastly _and_ Nginx. We also don't use surrogate keys much, s

[2020-10-12 14:45] atsmith813 commented on #9464
@rhymes Quick clarification - when I mentioned

I mean if we do make a change to surrogate keys, it would only be necessary if we stuck the `minimal` code inside the `index` action. We wouldn't have to set a new key, necessarily, for minimal. I believe we would want to keep the current keys clean - basically put the current keys behind a "guard" where we don't set the existing ones if `minimal` is

[2020-10-12 14:59] rhymes commented on #9464
@atsmith813 how do we deal, without surrogate keys, with the fact that `GET /api/articles` can already return different sets of articles as it has many params? See https://github.com/forem/forem/blob/5d5be2e88331f8ca1c901011944388833c3ed5ed/app/services/article_api_index_service.rb#L5-L15

Right now, on Fastly, the surrogate keys decide which set of articles responds to which query based on the fa

[2020-10-12 15:17] atsmith813 commented on #9464
@rhymes the surrogate keys are only for busting caches, they are not used in cache lookups.

The cache lookup uses the path and the params. Each path with params is treated as a separately cached object. `/api/articles?state=fresh`, `/api/articles?state=all`, `/api/articles?page=2&state=fresh` are all separately cached objects in Fastly.

An example of this is us handling the internal navigator pa

[2020-10-12 15:24] rhymes commented on #9464
Thanks for the refreshing explanation, sometimes I get confused by how our caching system works from the outside in and from the inside out.

That said, I think my suggestion of adding a `fields` param is feasible. It'd be another param that will determine which endpoint to lookup in the cache, cache busting is already present and all should click in, at least for now :D

We just need to add `fiel

[2020-10-12 15:45] shilpi230 commented on #9464
Hey guys @rhymes @atsmith813 as far as I could understood from the above conversation: 😄
- Need to add another endpoint `/api/articles/minimal` with `fields` params to whatever user wants to select.
- Adding `fields` to vcl.
- For edge caching not getting into surrogate_keys instead it will be using `cache_buster` for now.

[2020-10-12 15:47] atsmith813 commented on #9464
@rhymes No problem - I also get confused by it all the time! That's part of why I put specific code references - force myself to double-check my own understanding.

I love the `fields` idea! +1

That does remind me...we'll need to consider what the format of the `fields` param is with this approach. We've had trouble permitting and handling `Array` params with Fastly 🙈 . One example is [here](http

[2020-10-12 15:51] atsmith813 commented on #9464
@shilpi230 correct! At least, that's how I'm understanding it 😅

I think the best move may be to get one more set of eyes from someone on the team about these ideas around caching and endpoints before we go ahead with this approach 👍 . I'll also help to ensure the agreed-upon approach is re-summarized - I recognize some of this deep in the weeds. What do you think, @rhymes?

And @shilpi230 how doe

[2020-10-12 16:20] rhymes commented on #9464
Sorry @shilpi230 @atsmith813, it's all correct except that we don't need a new endpoint, ie. `/minimal`

The changes will be adding `fields` to `GET /api/articles` and `GET /api/articles/me`

So I would imagine something like:

`GET /api/articles?page=2&fields=body_markdown,title` which would return only those fields (in addition to the ID which I would always put in in the final presentation)

Th

[2020-10-12 16:22] atsmith813 commented on #9464
@rhymes 👍  sounds great to me, thanks!

[2020-10-12 16:32] shilpi230 commented on #9464
Yes thanks @rhymes @citizen428 sounds great! Will get the draft PR ready. Thanks!

[2020-10-12 17:34] pkfrank opened #10814 "Improve style of podcast liquid tag"
**Is your feature request related to a problem? Please describe.**
As a user unfamiliar with the podcast player liquid tag, it's not obvious that the liquid tag is a play button.  It's also not very aesthetically pleasing.

**Describe the solution you'd like**
A re-designed liquid tag for `{% podcast link-here %}`.  See below for some design inspiration.

**Describe alternatives you've considered*

[2020-10-12 17:48] pkfrank opened #10815 "Corners of organization profile images not fully filling the space"
**Describe the bug**

The very corners of profile images on **organizations** are being cut off.

**To Reproduce**

Visit an organization page, for example:
- https://dev.to/devteam
- https://dev.to/twilio

**Expected behavior**

The organization logo fills the entire profile image frame.

**Screenshots**

![example of issue](https://p241.p3.n0.cdn.getcloudapp.com/items/Z4uyyvYn/Image%202020-10-12

[2020-10-12 20:06] timorthi commented on #243
Hey @rhymes (pinging you since you were the last core team member to touch this issue) I'd like to try to take on this issue. Can I be assigned to this one? :smile:

[2020-10-13 03:05] rabbishuki commented on #304
I'd be happy to help with the hebrew translations

[2020-10-13 04:23] citizen428 commented on #9472
#10216 has been merged, closing this.

[2020-10-13 04:23] #9472 closed

[2020-10-13 04:47] citizen428 opened #10823 "Connect: Request center overlays last chat"
**Describe the bug**

When opening the request center from a connect channel it overlays the existing channel which makes it hard to read. Switching away from the app and then switching back gives the desired result.

**To Reproduce**

1. Go to the Connect.
2. Open the Request Center
    <img width="212" alt="Screenshot_13_10_20_11_40" src="https://user-images.githubusercontent.com/47985/95816370-

[2020-10-13 06:09] query-string commented on #10815
Can I pick this one please?

[2020-10-13 06:51] lucasqueiroz commented on #6303
I finally got it to work locally and was able to change some things on the API to test it out. Do you guys have any idea on how it should be displayed?
I thought about something like this:

[code]

Or maybe

[code]

What do you think?

[2020-10-13 07:07] citizen428 commented on #6303
I think I'd go with number, but have `reactions` as an array instead of a hash with index keys (which is sort of like an array).

[2020-10-13 08:45] Link2Twenty commented on #10823
Does it do the same on the web in mobile on safari? I can't recreate the bug in firefox or chrome/edge.
I just wanna make sure it's not an app specific thing.

[2020-10-13 08:47] Rafi993 commented on #10605
Hello there, if this bug is not taken I would like to help.

[2020-10-13 08:54] ludwiczakpawel commented on #10605
@Rafi993 Sweet, you've been assigned 👍

[2020-10-13 08:58] Rafi993 commented on #10605
Thank you @ludwiczakpawel

[2020-10-13 08:58] Link2Twenty commented on #10814
I guess this will need input from @ludwiczakpawel or @lisasy before anyone started work on it?

[2020-10-13 09:34] narender2031 commented on #10823
no. It's not the same on the mobile web browser. It shows for a second in the mobile browser and then works normally.

[2020-10-13 09:34] narender2031 commented on #10823
no. It's not the same on the mobile web browser. It shows for a second in the mobile browser and then works normally.

[2020-10-13 09:53] ludwiczakpawel commented on #10814
Here's a little, hopefully, improvement:

![image](https://user-images.githubusercontent.com/108287/95845283-41589f00-0d4a-11eb-9b9c-b9dbbd21cf49.png)

We do have our "sticky" player so I'd keep this liquid tag as trigger rather than actual player as well (in opposition to other examples you gave) because otherwise you may end up having two players running at the same time which could be a bit con

[2020-10-13 13:10] human0786 opened #10827 "Travellook Customer Care number 8918877015"
Travellook Customer Care number 8918877015

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-13 13:11] human0786 commented on #10827
Travellook Customer Care number 8918877015

[2020-10-13 13:11] human0786 commented on #10827
Travellook Customer Care number 8918877015
Travellook Customer Care number 8918877015

[2020-10-13 13:38] rhymes commented on #243
@timorthi thank you!

[2020-10-13 14:25] lucasqueiroz commented on #6303
So something like
[code]
?

I think this is a good approach. I'll start this way, let me know if there's a better way to use it.

Thanks

[2020-10-13 14:34] BenjaminPrice commented on #6303
How about something like this:

[code]

The advantage of this is you get the total count of reactions and the count by each reaction type without having to do any additional work on the consumer side. Then you can later add filtering on the API calls to decide whether or not to even return the users and other data points or just the counts.

[2020-10-13 14:47] rhymes commented on #10815
Sure @query-string, thank you!

[2020-10-13 14:50] #10827 closed

[2020-10-13 16:04] jdoss opened #10829 "Comments box should grow as you type"
**Describe the bug**

The comment box should grow as you type so you can see your whole comment the entire time.

**To Reproduce**

Type a long comment and you will see the comment box does not grow.

**Expected behavior**

A growing comment box.

[2020-10-13 16:38] twinsfan421 commented on #9212
@rhymes I am working on it and have couple questions.
In addition to the articles, users and listings, should I make a show action like dev.to/api/organizations/{org_username} for just the organization's info?
Should there be any authentication for these endpoints?
Thanks

[2020-10-13 18:04] #10800 closed

[2020-10-13 21:53] pkfrank opened #10836 "Twitter liquid tags not working on new Forems"
**Describe the bug**
As an author of a new Forem, I'm unable to use the Twitter liquid tag.

**To Reproduce**
Try and publish a post with this text on Forem.dev: `{% twitter 1316121872312958976 %}`

**Expected behavior**
The liquid tag creates a beautiful embed, as happens on dev.to.

**Screenshots**
![error when trying to publish a post with a Twitter liqiud tag on forem.dev](https://p241.p3.n0.c

[2020-10-13 23:17] kldickenson commented on #10057
Is this issue ready for a Hacktoberfest contributor? I have a background in accessibility and I would like an opportunity to help out.
-- Karen

[2020-10-14 00:08] nickytonline commented on #10057
@kldickenson, it is. Assigning it to you.

[2020-10-14 00:15] nickytonline commented on #10057
@kldickenson, to get access to the admin section, you will need to do the following from a terminal window/

- run `rails console` to open the Ruby on Rails  console.
- from the Rails console prompt, run the following

[code]

[2020-10-14 00:51] citizen428 commented on #9212
Yes, that's probably a good idea. It should mirror https://docs.dev.to/api/#operation/getUser.

Rough rule of thumb that the current API seems to follow: if it's public information, no authentication is needed. Best to follow similar API endpoints for now, the API docs are a good reference for this: https://docs.dev.to/api/

[2020-10-14 03:16] citizen428 commented on #10836
Does forem.team have correct Twitter credentials set in the environment?

[2020-10-14 10:01] #8990 closed

[2020-10-14 12:23] rsmithlal opened #10842 "Ellipsis "More" sharing menu on left side of post view stops working after you submit a comment"
**Describe the bug**

When reading a post on Dev.to, the ellipsis button `#article-show-more-button` on the left side column with the heart icon no longer expands to show the sharing menu after the user submits a comment.

**To Reproduce**

1. Go to a post: https://dev.to/maxwell_dev/six-surprises-i-found-in-the-wcag-2-1-accessibility-rules-p1i
2. Click on the horizontal ellipsis `#article-show-mo

[2020-10-14 13:50] nickytonline opened #10843 "Add rails dbconsole command to the documentation"
**Is your feature request related to a problem? Please describe.**

This is a documentation update suggestion from @citizen428.

The suggestion is to add to the documentation another way to get to the database prompt (currently psql) by running `rails dbconsole`.

**Additional context**

For more context, see https://github.com/forem/forem/pull/10835/files#r504378131

[2020-10-14 13:53] nickytonline commented on #10843
Whoever decides to work on this, see the documentation on [running the documentation locally](https://docs.forem.com/contributing/docs/#running-the-documentation-locally) to test out your changes.

[2020-10-14 15:14] Cerchie commented on #10695
I'm going to jump off this one, need to focus on the other issue I was assigned.

[2020-10-14 15:19] AfroDevGirl opened #10845 "Experience Level of Post range should be configurable"
**Is your feature request related to a problem? Please describe.**

On a new cloud Forem my community is not related to software development. There are experience levels in my community though so when an author is managing a post it makes sense to adjust the experience level of post. Right now the range goes from 'Total Newbies' to 'Senior Devs'.

**Describe the solution you'd like**

The experien

[2020-10-14 15:21] AfroDevGirl commented on #10845
I would be happy to work on this as soon as possible to unblock my community from rolling out.

[2020-10-14 17:16] khendrikse opened #10849 "More information on 'logging in' on local environment"
**Describe the bug**

While setting up the app using docker desktop on mac and running a local version of the app, I find it very hard to figure out how I can see all views by, for example, logging in. I understand that this might be basic information for some people, but I can simply not seem to find the information that can help out here.

**To Reproduce**

Imagine being someone who has not yet

[2020-10-14 20:08] CrazyOptimist opened #10855 "Title input field is being hidden when composing a new post!"
**Describe the bug**
![image](https://user-images.githubusercontent.com/55074937/96039716-b9989080-0e2e-11eb-9cc1-f876e50116fe.png)
**To Reproduce**
1. Go to Dashboard
2. Click on `Write a Post`
3. Check the screenshot above
**Expected behavior**
Should be able to see full title as I type.
**Desktop**
OS: Windows 10 build 1904
Browser: Chrome latest version
**Additional context**
It happens every

[2020-10-14 20:43] pkfrank commented on #10845
Tagging in @benhalpern who is going to add some context to this issue.

[2020-10-15 03:33] citizen428 commented on #10695
I unassigned you now @Cerchie, thanks for contributing.

[2020-10-15 03:42] citizen428 commented on #10849
Thanks for the issue and wanting to contribute @khendrikse!

Our documentation has guiides on how to add a user via Github, Facebook, or Twitter login:

https://docs.dev.to/backend/authentication/

If you think these instructions are unclear, we'd be happy about PRs that add more clarification. Alternatively, you can also head over to https://forem.dev/ and ask for help there.

[2020-10-15 06:39] khendrikse commented on #10849
@citizen428 I tried it using the GitHub authentication, but it is unclear to me in which file within the railsapp I would have to add the credentials?

[2020-10-15 07:05] citizen428 commented on #10849
@khendrikse These credentials don't go into a file, but into the environment. See `.env_sample` in the root directory for an example. The `bin/setup` script should copy this over into a `.env` file where you can add your credentials like this:

[code]

[2020-10-15 07:13] ShubhankarKG commented on #10843
Do we mean to remove the `psql` part in its entirety or add a new step here? In any way, this looks like an easy fix, and I'll be more than happy to take this one up.

[2020-10-15 07:18] citizen428 commented on #10843
@ShubhankarKG I'd mention both, but with a preference on `rails dbconsole`, since it's easier (you don't need to know the DB name).

[2020-10-15 07:27] SandeepBalachandran opened #10860 "Edit and Preview label issues when adding or editing a post"
---
Name: Bug report
---

**Describe the bug**
The **Edit** and **Preview** labels multiply upon clicking on those simultaneously during  editing the post.

**To Reproduce**
* Go to write a post
* Click on **Preview** label either adding the content of the post or not. ( Now **Preview**  label  will  be changed to **PreviewPreview**)
* Click  on **Edit** label
* Again click on **Preview** label (N

[2020-10-15 07:40] khendrikse commented on #10849
Ah yes I was already searching in the `.env_sample` to see if it needed to go there but I could not see it there.

Does that mean that even though I am using docker, I should still run the `bin/setup` script in the folder before running `bin/container-setup`?

[2020-10-15 07:50] citizen428 commented on #10849
Sorry, I missed that you're using Docker. Our [container docs](https://docs.dev.to/installation/containers/) state the following:

[2020-10-15 08:13] Link2Twenty commented on #10855
Relates to #10114

[2020-10-15 08:20] Link2Twenty commented on #10829
Currently the comment box has a max height of 384px.

This is set here

https://github.com/forem/forem/blob/1375e8a4df4cb1dbaa13565347362c3502465be3/app/assets/stylesheets/views/comments.scss#L30-L43

It is currently working as designed so I'm not sure it's a bug but it's certainly worth looking at this to see if we want it to expand all the way.

This is the JS logic that handles the size changes

[2020-10-15 08:51] khendrikse commented on #10849
Yes exactly! Thats what I did :) but of course I need to add my credentials to make it work. Thanks!

[2020-10-15 09:05] ShubhankarKG commented on #10151
Hey, is this on? Can I have a shot at this one?

[2020-10-15 10:38] sadguru-facility-services opened #10862 "Issue: Bug report"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-15 11:13] bhattanchal2201 opened #10863 "error 404 found"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-15 11:13] bhattanchal2201 commented on #10863
my account has been hack

[2020-10-15 11:14] bhattanchal2201 commented on #10863
all the files and redirect page are not found

[2020-10-15 12:43] khendrikse commented on #10849
I seem to get further than I did before, except that it now sees a mismatch between the callback url provided.

![image](https://user-images.githubusercontent.com/30577427/96125789-3a6d9000-0ef4-11eb-9eb3-40bbfcfd42e8.png)

In the [documentation](https://docs.dev.to/backend/auth-github/) it does not say anything about the callback url, but I assumed it would be the same structure as Twitter and Fa

[2020-10-15 14:09] #10523 closed

[2020-10-15 14:46] #10823 closed

[2020-10-15 18:22] chrisdemars opened #10869 "Rich markdown editor not working"
**Describe the bug**

When switching to the rich text editor in the UX settings it doesn't switch the editor when crafting a post.

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version: macOS
- Browser, version: Chrome and FF latest of both

**Smartphone (please complete the following information):**

- Device:
- OS, vers

[2020-10-15 20:38] pkfrank opened #10871 "Update post publish date as a Forem Admin"
**Is your feature request related to a problem? Please describe.**

As a Forem Admin, I may sometimes need to manually adjust the publish date to account.  This is currently possible via `/resource_admin`, but not `/admin`.

**Describe the solution you'd like**

As a Forem Admin with relevant permissions, I should be able to go into `/admin/articles` and manually adjust a publish date.

[2020-10-15 21:00] #10734 closed

[2020-10-15 21:26] pkfrank opened #10872 "Add color picker in more admin areas"
**Is your feature request related to a problem? Please describe.**
As a Forem Admin, I may be required to add color hexes in various configuration areas.

**Describe the solution you'd like**
Ideally the same color picker that we use on `/settings` could be added in more areas.  For instance:

- [ ] `/admin/tags/{tag id}`
- [ ] `/admin/config` (in User Experience & Brand section)
- Likely other ar

[2020-10-15 21:50] nickytonline opened #10873 "<aside> landmark is nested in <main> landmark on the dashboard page"
**Describe the bug**

On the dashboard page, /dashboar, the `<aside>` landmark is nested in a `<main>` landmark on the dashboard page. This is semantically incorrect and can affect screen reader users.

**To Reproduce**

1. Navigate to the dashboard page, https://dev.to/dashboard
1. Open the browser dev tools and search for the `<aside>` opening tag. Notice that it is nested in the pages `<main />

[2020-10-15 23:39] CrazyOptimist commented on #10114
Same issue here.
Same env, same screen resolution.

[2020-10-15 23:39] #10855 closed

[2020-10-15 23:40] CrazyOptimist commented on #10855
Added +1 on there, closing this.
Thanks @Link2Twenty

[2020-10-16 02:58] citizen428 commented on #10849
I just checked my own OAuth app, it uses `http://localhost:3000` as the callback URL.

[2020-10-16 03:07] #10862 closed

[2020-10-16 03:09] citizen428 commented on #10863
Hello @bhattanchal2201, thanks for notifying us of this problem, this looks an issue specific to your account. Please email yo@dev.to for more help.

[2020-10-16 03:18] citizen428 commented on #10869
Thanks for the report @chrisdemars. However, I'm not unable to reproduce this on FF on Mac. I just switched several times between the two editors and it always works. After the update there's a flash message stating "Your config has been updated. Refresh to see all changes.", did you do that?

[2020-10-16 03:51] citizen428 commented on #10872
This was very quick, so I just did it for the two admin pages, PR incoming.

[2020-10-16 06:15] matisnape commented on #10871
@citizen428 hi, can I try this one? :)

[2020-10-16 08:14] addityamehra opened #10876 "MakeMyTrip"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-16 08:14] addityamehra commented on #10876
MakeMyTrip customer care number 08249012829.....?08002230533 In any problem 24×7 hours contact the customer care number

[2020-10-16 08:15] addityamehra commented on #10876
MakeMyTrip customer care number 08249012829.....?08002230533 In any problem 24×7 hours contact the customer care number Customer care service

[2020-10-16 08:15] addityamehra commented on #10876
MakeMyTrip customer care number 08249012829.....?08002230533 In any problem 24×7 hours contact the customer care number I don’t know how

[2020-10-16 09:15] citizen428 commented on #10871
@matisnape Of course, thanks a lot! :-)

[2020-10-16 11:12] clandau commented on #10873
I'll take this!

[2020-10-16 11:16] narender2031 commented on #10829
Comment input size grows if you pressed enter. But if you do not press enter it always count line size 1.
A possible solution is that we can add a condition where if the text box has 25 words or 30 words line count should increase.

[2020-10-16 11:21] Link2Twenty opened #10878 "Update existing keyboard shortcuts"
Currently there are a few different keyboard shortcuts in Forem and they've been built a few different ways. It would be good to now unify these under the new approach (#10713)

**Describe the solution you'd like**

Code should be changed to the new solution

**Describe alternatives you've considered**

We leave the old code as legacy until it breaks

**Additional context**

#10713 is waiting to b

[2020-10-16 11:44] reobin commented on #10878
Search and toggle Zen mode (`0`) are done in #10468 🌞

Let's make a list of the missing ones. They should be fun to update.

[2020-10-16 12:11] reobin commented on #10878
2 more:
- [Article form has a listener on 'P](https://github.com/forem/forem/blob/04f1260bf5579bb2f978247d7c56391b68e9c577/app/javascript/article-form/components/keyboardShortcutsHandler.jsx#L6) (The whole component is probably obsolete now)
- [Listings modal has a listener on 'Escape' to close it](https://github.com/forem/forem/blob/04f1260bf5579bb2f978247d7c56391b68e9c577/app/javascript/listings

[2020-10-16 12:17] Link2Twenty commented on #10878
@reobin do you wanna make an issue for a shortcut 'store' that can compile shortcuts per component for documentation?

[2020-10-16 12:29] nickytonline commented on #10873
Awesome. I've assigned it to you @clandau.

[2020-10-16 12:37] tudorpavel commented on #10801
Hi @NomanGul, I wasn't able to reproduce this behavior, I always get `article_updated` calls to the webhook using your repro steps. I tried both with a local dev installation of Forem and also directly on dev.to.

Can you please provide more info?

From the code it seems that updates made to a Draft are expected not to be dispatched to webhooks, however I'm not observing this behavior either with

[2020-10-16 12:50] reobin commented on #10878
@Link2Twenty Sure! At least, to start the discussion on how to do it best.

[2020-10-16 13:03] reobin opened #10879 "feat: Add a key shortcuts modal"
#10713 added a keyboard shortcut hook, and the migration for the current keyboard shortcuts to use the new hook has started. See #10878

**Describe the solution you'd like**

As suggested in #10713, the new hook could be used to populate a keyboard shortcut modal like GitHub's one:

<img width="931" alt="Screen Shot 2020-10-16 at 08 54 53" src="https://user-images.githubusercontent.com/5920450/962

[2020-10-16 14:29] pkfrank opened #10880 "Support light/dark background versions of Forem Logo"
**Is your feature request related to a problem? Please describe.**
As a Forem admin, I am able to set my logo in Config > Images.  However, the same logo won't necessarily look good on different themes (which community members can change via `/settings/ux`).

**Describe the solution you'd like**
Support for a "light background" and "dark background" version of the Forem logo.  It should intelligen

[2020-10-16 14:37] #10872 closed

[2020-10-16 18:13] #10843 closed

[2020-10-16 18:40] #10845 closed

[2020-10-16 18:47] #10402 closed

[2020-10-17 04:38] akshayymahajan commented on #10860
Hey @SandeepBalachandran, I tried the steps that you mentioned but could not reproduce the issue.

[2020-10-17 08:04] khendrikse commented on #10849
It's so weird, when I use `http://localhost:3000`  I get referred back to:
`http://localhost:3000/?error=redirect_uri_mismatch&error_description=The+redirect_uri+MUST+match+the+registered+callback+URL+for+this+application.&error_uri=https%3A%2F%2Fdocs.github.com%2Fapps%2Fmanaging-oauth-apps%2Ftroubleshooting-authorization-request-errors%2F%23redirect-uri-mismatch&state=`

Hovering over the 'Sign u

[2020-10-17 10:12] SandeepBalachandran commented on #10860
Hi @akshayymahajan , I retested it and simultaneously clicked both labels .  The result is available  below.

[Screenshot](https://i.ibb.co/fD6JnMc/simultaneous.png)

Os, Browser, Version are the same mentioned earlier.

[2020-10-17 13:26] tudorpavel commented on #10799
I found the CSS culprit and implemented a fix in PR #10889.

[2020-10-17 14:11] tudorpavel commented on #10815
@query-string did you manage to look into this?

I'm wondering what the expected design is:

A. keep the border radius but use the same background color as the frame

![forem_round](https://user-images.githubusercontent.com/2506871/96339176-89a1f500-109b-11eb-97d3-93e831fc13bf.png)

B. drop the border radius and have a square image

![forem_square](https://user-images.githubusercontent.com/2506871

[2020-10-17 15:00] matisnape commented on #10871
hey @citizen428 I have problems with setting up the project with docker - forem_yarn and forem_bundle are failing and exiting. I can't seem to find tips how to resolve that, I'm not docker fluent. This is the current state:
![image](https://user-images.githubusercontent.com/2719923/96342372-e3a1bb00-1099-11eb-8b67-aacae5913a0a.png)
Do you maybe have some ideas?

[2020-10-17 15:59] matisnape commented on #10871
hey @citizen428 I think I have problems with setting up the project with Docker. When I try to log in with admin@forem.local/password I get the following error:
![image](https://user-images.githubusercontent.com/2719923/96347482-54e56c00-10a2-11eb-9567-255f54c7f2ce.png)
What am I doing wrong?

[2020-10-17 16:01] boardfish commented on #9849
I feel like the PR has addressed the desire to change the text content of those emails. It might not be via SiteConfig as suggested, but it's definitely opened up that avenue. I'd suggest closing this issue with #10574 and opening another to address doing it in the UI.

When it comes to doing that, I've done some wrangling with ActionMailer before and I get the sense it'd be possible to load text

[2020-10-17 17:18] matisnape commented on #10871
Nvrm, when I installed everything manually, it worked.

[2020-10-17 18:02] matisnape commented on #10871
@citizen428 hey, after looking at the code I have to say this is beyond my skill :(

[2020-10-17 18:38] matisnape commented on #6892
@vaidehijoshi I see in schema that there are more boolean columns for notification subscriptions - shouldn't they all be changed?

[2020-10-17 19:41] matisnape commented on #3669
@rhymes can I try finish this one? :)

[2020-10-18 08:27] shar1z commented on #10836
I actually believe this is a global issue - as the Github images are broken as well. (I embedded a pull request into a post and it also appears to be broken).

[2020-10-18 11:27] 13point5 commented on #10670
Sorry @rhymes but I won't be able to contribute rn

[2020-10-18 12:36] shilpi230 commented on #3613
@citizen428 @rhymes The issue over here right now is, to load the user's selected theme we are getting it from localStorage. Which resets when we refresh the page. To solve this we will need to reset the localStorage explicitly.

[2020-10-18 13:12] shilpi230 commented on #9707
@citizen428 @rhymes
- Right now according to the code,
   - We don't show the preview if article has some error in it. Should we change this behaviour ?
   - Error not being explicit because that's all we are getting from liquid. Do we add some specific message from our side to make it more clear for our user?

[2020-10-18 15:53] popstar555 opened #10896 "this is one error?"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS, version:
- Browser, version:

**Smartphone (please complete the following information):**

- Device:
- OS, version:
- Browser, version:

**Additional context**

[2020-10-18 21:48] robertcoopercode commented on #1868
One idea is to make the table of contents added by using a liquid tag such as `{% tableOfContents %}` so that the articles that want a table of contents can have one. I wrote a fairly long article (https://dev.to/robertcoopercode/docker-guide-118i) in which is would have been nice to have a table of contents to let users get a good overview of the article and be able to jump around more easily.

[2020-10-19 01:09] citizen428 commented on #10871
No worries @matisnape, thanks for trying! 😄 Are there any specific questions you have or any points we could give you? You invested time in this, it's only fair you at least take some learnings from it. Feel free to email me, same username as here @dev.to

[2020-10-19 01:15] citizen428 commented on #10849
Would you mind sharing a screenshot of the your GIthub OAuth app configuration (without the key of course)?

[2020-10-19 02:13] citizen428 commented on #9707
Liquid error messages are a recurring discussion, I wouldn't worry about it in the context of this PR.

[2020-10-19 02:15] citizen428 commented on #6892
@matisnape

These were introduced via a recent Rubocop update, there's already a draft PR up for it by @rhymes: https://github.com/forem/forem/pull/10808

[2020-10-19 03:23] #10876 closed

[2020-10-19 03:24] #10863 closed

[2020-10-19 03:29] citizen428 commented on #10151
I assigned you the issue @ShubhankarKG, thanks!

[2020-10-19 03:34] citizen428 commented on #10896
Hi and thanks for the report. Since you provided no further information I'll close this issue, but feel free to reopen it after providing context around the error you encountered.

[2020-10-19 03:35] #10896 closed

[2020-10-19 03:36] citizen428 commented on #10878
@Link2Twenty I assigned you this issue now since you seem to be coordinating this effort (thanks for that btw).

[2020-10-19 03:37] citizen428 commented on #10879
Thanks for the issue @reobin! Did you plan on implementing this yourself or is the issue up for grabs?

[2020-10-19 06:07] leewynne commented on #10522
⬆️⬆️⬆️⬆️ so need this 😎 I like the style also!

[2020-10-19 07:28] khendrikse commented on #10849
Of course :) here it is:

![image](https://user-images.githubusercontent.com/30577427/96414453-6c7d3b80-11ed-11eb-9bec-5b6b06c121eb.png)

[2020-10-19 08:52] akshayymahajan commented on #10860
I have been trying to reproduce on Chrome 86 on macOS 10.15.7 and this is the result

![2020-10-19 14 18 44](https://user-images.githubusercontent.com/8535863/96423013-65b6ee80-1216-11eb-98c0-282b3723a096.gif)

[2020-10-19 10:36] tudorpavel commented on #10579
I ran into the same issue with docker setup. I might look into it further but as a quick workaround so you can run some unit tests in isolation is to comment out this line in `rails_helper.rb`:

[code]

As long as you don't need to run specs related to Elasticsearch, it should unblock your work.

[2020-10-19 11:22] tudorpavel commented on #10104
I found a fix for this bug, see #10922 for details.

[2020-10-19 12:00] citizen428 commented on #10849
Well, these look identical 😞

<img width="474" alt="Screen Shot 2020-10-19 at 18 51 29" src="https://user-images.githubusercontent.com/47985/96447478-7ad55280-1201-11eb-97fb-5f5d07e48ec5.png">

The one thing I noticed is that the callback URL in the param points to `http://rails/users/auth/github/callback&state=navbar_basic` once decoded, not `https://localhost:3000/users/auth/github/callback`.

[2020-10-19 13:08] SandeepBalachandran commented on #10860
That is  quite unfortunate . If that the case ,the bug has something to do with my client.

![chrome-capture](https://user-images.githubusercontent.com/17725953/96454562-a96f1f80-1239-11eb-923f-902b3b6f51e2.gif)

[2020-10-19 14:32] humphd opened #10927 "Don't include "Enter fullscreen mode Exit Fullscreen mode" for code blocks in RSS feed"
**Describe the bug**

RSS feed versions of dev.to articles that include syntax-highlighted code (e.g.,  `<pre><code>...</code></pre>`) also include the following text after the code:

[code]

**To Reproduce**

1. Consider a post like https://dev.to/phast184/remotes-commits-and-merges-is-that-a-long-distance-relationship-bfo
2. The RSS feed at https://dev.to/feed/phast184 includes the extra UI elem

[2020-10-19 18:38] reobin commented on #10879
Yes, I'd like to work on this, thanks @citizen428 !

[2020-10-19 19:34] VladimirMikulic opened #10937 "Listings page functionality is broken"
A page for managing listing is completely broken :(
I can't edit/delete my listings. When I click edit/delete buttons
nothing happens except some network requests which fail.

https://dev.to/listings/dashboard

**Screenshots**

![error](https://user-images.githubusercontent.com/35997844/96502944-cf54ee00-1252-11eb-8e7a-5cb29923cb42.jpg)

**Desktop (please complete the following information):**

-

[2020-10-19 20:31] Link2Twenty commented on #10879
I had a thought but I'm not sure how good an idea it is.

When we set up a shortcut we could 'register' the shortcut by putting it in an object on `window` (we could then remove it on unmount). We'd need to come up with an object model then we can read the variable in another component to show all, currently, registered shortcuts.

There is a chance this can go out of sync I guess but I'm not sure

[2020-10-19 20:38] michael-tharrington opened #10940 "Users occasionally receiving duplicate/multiple DEV Digest emails"
**Describe the bug**

We offer a setting that says "Send me a periodic digest of top posts from my tags." Occasionally users who have checked this are receiving multiple/duplicate DEV Digests just a few hours apart which is a confusing experience.

**To Reproduce**

1. Visit https://dev.to/settings/notifications
2. Check "Send me a periodic digest of top posts from my tags"
3. Monitor email cadenc

[2020-10-19 20:50] fdoxyz commented on #10937
It looks like in order to edit the Listing you have to click on the Listing's name.

Clicking the available buttons (View draft, Edit & Delete) doesn't work. A network call isn't even called so I'm thinking the problem may be in the HTML/CSS or JS that's supposed to make this calls work.

I haven't tried it yet but maybe swapping out these `<buttons>` and use anchor tags with Crayons classes would

[2020-10-19 21:14] fdoxyz commented on #10842
I was able to reproduce on macOS using Firefox:

https://share.getcloudapp.com/v1ux0Joe

I can see the following in the console:

<img width="1435" alt="Screen Shot 2020-10-19 at 15 12 17" src="https://user-images.githubusercontent.com/6045239/96512283-80409600-121d-11eb-85bc-a1ab2f753658.png">

[This function](https://github.com/fdoxyz/forem/blob/master/app/javascript/packs/articleModerationTools

[2020-10-19 22:27] milezzz commented on #143
I believe I have proper SPF and DMARC setup for my domain but this problem persists. Emails are being sent via Amazon AWS or Gmail.
![](https://i.gyazo.com/7cd91f454de7204d9797e8f55a2bc98b.png)

[2020-10-19 23:05] fdoxyz commented on #10581
It seems like the problem has been solved now. Thanks for volunteering to take on this issue @nadiyaka , feel free to try to tackle another issue or let us know if you need help :)

[2020-10-19 23:05] #10581 closed

[2020-10-19 23:30] Danondso commented on #10937
If no ones taken this I wouldn't mind taking a crack at it.

[2020-10-20 03:23] citizen428 commented on #10879
You probably want to involve @nickytonline in this discussion, but he's a bit swamped with Hacktoberfest work, so it may take a bit for him to reply.

[2020-10-20 04:09] Rafi993 opened #10946 "Adding file extensions to gitattributes file for better diff"
**Describe the bug**

Adding file extensions to .gitattributes file for better diff. This issue is mostly inspired by https://tekin.co.uk/2020/10/better-git-diff-output-for-ruby-python-elixir-and-more

**Additional context**
Git recognises file type better if file extensions are mapped to languages for some languages like ruby. This results in better diff https://tekin.co.uk/2020/10/better-git-dif

[2020-10-20 04:13] Rafi993 opened #10947 "Refactoring EditorAction"
**Describe the bug**

1. Refactoring EditorAction to remove nested ternary operators for better readability
2. To convert class component into functional component

**Additional context**

Nested ternary operators are hard to debug. This is issue to make that component more readable

[2020-10-20 04:17] Rafi993 opened #10948 "Refactoring SidebarWidget and sidebarUser component for readibility"
**Describe the bug**
1. Converting sidebarWidget and sidebarUser to functional component from class component (this will help to add hooks to codebase later easier)
2. Removes state **tagInfo** since it is not needed after this refactor

[2020-10-20 04:19] Rafi993 opened #10949 "Fragmenting help component for readibility"
**Describe the refactor**
Help component had functions that returned component. It would be awesome if there functions are moved to their respective component files. The condition to render them could also be moved inside those components to improve readability.

[2020-10-20 04:22] Rafi993 commented on #10949
I have created those PR's some time ago. I just created these issues now since it would be easier to track those PR's. Is that ok?

[2020-10-20 04:34] Rafi993 commented on #10948
I have created those PR's some time ago. I just created these issues now since it would be easier to track those PR's.

[2020-10-20 04:36] Rafi993 commented on #10947
I have created the PR some time ago. I just created the issues now since it would be easier to track the PR.

[2020-10-20 06:24] ShubhankarKG commented on #10151
I guess that script tags won't get executed in the preview mode. Is there any way to do so? The script tag runs well after the post is published, but I'm not able to get any output from script when previewing in the editor.

[2020-10-20 07:13] citizen428 commented on #10937
Thanks for volunteering @Danondso, I assigned you the issue.

[2020-10-20 08:00] rhymes commented on #10670
@13point5 no need to be sorry, thanks again for volunteering!

[2020-10-20 08:19] rhymes commented on #9770
Reopening this as it was reverted in https://github.com/forem/forem/pull/10932

[2020-10-20 08:20] rhymes commented on #9770
Looks like it was then closed by #10933

[2020-10-20 08:20] #9770 closed

[2020-10-20 08:30] tudorpavel commented on #10579
After some further digging I think I found a more permanent solution for this, see PR #10950.

[2020-10-20 09:09] #10946 closed

[2020-10-20 09:20] #10799 closed

[2020-10-20 09:45] leewynne opened #10951 "Spotify liquid tags showing as 'bad request' in article preview and when published."
**Describe the bug**

When using the Spotify liquid tag in posts, they appear as "Bad Request" when previewed

**To Reproduce**

Create a new article
Insert a liquid tag for a spotify track such as > {% spotify spotify:track:3GfOAdcoc3X5GPiiXmpBjK %}
Publish or view the preview

**Expected behavior**

The spotify liquid tag to appear in the article

**Screenshots**

<img width="1028" alt="Screensh

[2020-10-20 11:28] sfiquet opened #10952 "Create new post in rich+markdown editor shows the first version of an unpublished draft"
I disabled browser extensions before creating the bug report.

**Describe the bug**

I wrote a draft post a few days ago that is not ready to publish yet. When I try to create a new post in Safari with the rich editor, it is initialised with an old version of the draft post (I think it's the first version I saved). The basic editor works as expected.

This happens whether I click the 'Write a post

[2020-10-20 11:47] tudorpavel commented on #10951
Identified the issue and fixed in #10953.

[2020-10-20 12:23] Link2Twenty commented on #10879
I can flesh out my idea a little more now I'm at a keyboard.

[code]

would become something like

[code]

The `useKeyboardShortcuts` function would need some changes too

[code]

and in `window` we'd see something like.

[code]

`window.shortcuts` would then give us a list of areas for heading and the array within the heading would give us all the shortcuts.

[2020-10-20 12:27] reobin commented on #10879
No rush, the PRs mentioned still need to be merged.

In the mean time, let's work on using the keyboard shortcut hook on more stuff so that the modal has something to show :)

Sounds like a good idea @Link2Twenty! I don't think there is a solution implemented right now for a frontend global state, which could also be a good idea for this, but definitely needs discussion with the core team to go in

[2020-10-20 13:11] HaveSpacesuit opened #10956 "Incorrect number in series list truncation (x more parts...)"
**Describe the bug**

When listing the parts of a long series, the first and last few articles are visible while those in the middle are truncated with the message `X more parts...`

However, there seems to be an off-by-two error. For example, if there are two parts hidden, it shows `4 more parts...`.

![image](https://user-images.githubusercontent.com/15036346/96589871-f5a67800-12aa-11eb-8f51-981

[2020-10-20 13:18] leewynne commented on #10951
Great!!!!

[2020-10-20 13:25] #10104 closed

[2020-10-20 13:28] #6892 closed

[2020-10-20 13:51] KenDarlingJr commented on #10940
I am the one that was having some problems with this.  I think at some time along the way I have made a change to my email address. But I think that I only had one account.

[2020-10-20 14:36] #10579 closed

[2020-10-20 15:21] michael-tharrington commented on #10940
Thanks for chiming in here @KenDarlingJr! I know a few others have experienced this too and believe that @jessleenyc might be affected as well.

I honestly don't typically receive the Daily Digest so haven't tested this thoroughly.

[2020-10-20 15:23] #8976 closed

[2020-10-20 15:43] nickytonline commented on #10879
I'll hopefully get a peek at this before the end of the week.

[2020-10-20 16:59] #9826 closed

[2020-10-20 17:38] #10951 closed

[2020-10-20 19:12] Symasia commented on #10956
I'd like to take this up if no one's going for it

[2020-10-20 20:20] rhymes commented on #10956
Thanks @Symasia, I've assigned it to you

[2020-10-20 20:26] jeresuikkila opened #10967 "Search doesn't find person with exact username"
**Describe the bug**
Searching with exact username does not find the person.

**To Reproduce**
1. Go to dev.to
2. Search for "davidkpiano"
3. Switch to "people" to enable the filter (url: https://dev.to/search?q=davidkpiano&filters=class_name:User)
4. "No results match that query"

**Expected behavior**
Show link to https://dev.to/davidkpiano

**Screenshots**
![image](https://user-images.githubuse

[2020-10-20 20:30] deepu105 commented on #5023
The slate.js lib could be a great fit for this

https://www.slatejs.org/examples/markdown-preview

[2020-10-20 22:13] clandau commented on #10873
FYI this will actually be @andreamartz 's pull request, I'm helping her as a mentor.
Can we get some direction please on how we should handle this?

I see 2 ways:
To rename the tag to `div` or something more appropriate.
Or, move the main tag to instead surround just the "posts" section. `<div class="crayons-layout__content flex flex-col">`

Thanks!

[2020-10-20 22:15] vezwork commented on #10842
I'm going to look into fixing this if that's alright :)

[2020-10-20 22:46] fdoxyz commented on #10842
That's great @vezwork thanks! I just assigned the issue to you

[2020-10-21 00:18] vezwork commented on #10842
Added PR #10976 to fix this issue!

[2020-10-21 02:02] nickytonline commented on #10873
Thanks for the update @clandau. I'll assign it to her instead then.

[2020-10-21 02:09] nickytonline commented on #10873
I think you suggestion of moving the `<main />` tag sounds good.

i.e. `<div class="crayons-layout__content flex flex-col">...</div>` becomes `<main class="crayons-layout__content flex flex-col">...</main>`

[2020-10-21 02:18] query-string commented on #10927
I'd jump into this one

[2020-10-21 02:32] nickytonline commented on #10873
@colabottles, might have some suggestions here too.

[2020-10-21 02:47] colabottles commented on #10873
`<aside>` is related to the primary content of the web page but does not constitute the main intent of the primary page. So it should be nested outside of the `<main>...</main>` div.

[2020-10-21 08:31] Link2Twenty opened #10979 "Fullscreen code blocks not working on comments page"
**Describe the bug**

The new full screen code block feature does not work on the specific comments page

**To Reproduce**

1. Go to a [comment](https://dev.to/link2twenty/comment/1465h)
2. Click on the new code block expand option
3. See nothing happens

**Expected behavior**

Should expand to full screen like is does in the [comments section](https://dev.to/emmabostian/creating-a-custom-scroll-b

[2020-10-21 08:52] ludwiczakpawel opened #10980 "Dynamic links have extra &nbsp;"
**Describe the bug**

All links in main navigation have some extra whitespace `&nbsp;` for some reason, making "More..." link looks like misaligned with rest.

**Expected behavior**

Links to not have that whitespace.

**Screenshots**

![image](https://user-images.githubusercontent.com/108287/96696633-47263400-138b-11eb-8a9d-0789aa308f4a.png)

[2020-10-21 08:54] citizen428 commented on #10979
@Link2Twenty Were you planning on attempting a fix for this yourself?

[2020-10-21 08:56] citizen428 commented on #10980
@ludwiczakpawel I think we shouldn't assign issues to specific people unless requested by them, this seems like everyone including external contributors could potentially fix this.

[2020-10-21 08:59] citizen428 commented on #10980
FWIW, the `&nbsp;` is explicitly added in line 5 of `app/views/articles/_sidebar_nav_link.html.erb`:

[code]