[2019-08-15 07:44] rhymes commented on #3720
For whomever takes this, the code is likely in https://github.com/thepracticaldev/dev.to/blob/master/app/javascript/onboarding/components/EmailListTermsConditionsForm.jsx

[2019-08-15 09:33] pacoita opened #3723 "Dashboard: Total Post Views does not correctly indicate the sum of all articles views"
**Describe the bug**
The `TotalViews` value in the dashboard page does not represent the correct sum of each article views.

In my case:
[code]
Since yesterday the only views change was related to a new article with 129 views. Therefore the total views result should be: `4,840 + 129 = 4,929` and not 4,926.

Is there any delay in updating the total views sum?

**To Reproduce**
Analyse two articles

[2019-08-15 11:03] PJijin opened #3724 "Blank space in badge section on Profile"
**Describe the bug**

Badge not placed properly in the account page. Looks like the badge image width cause the issue. The whitespace is show in some account only.

<img src="https://i.imgur.com/bbpLlfa.png" />

**To Reproduce**

 1. Go to https://dev.to/ben
 2. Check the badges widget

**Expected behavior**

<img src="https://i.imgur.com/JUUD4qO.png" />

**Desktop (please complete the following i

[2019-08-15 12:50] theaupoulat commented on #3720
Hey, can I take it ?

[2019-08-15 13:04] rhymes commented on #3723
Hi @pacoita, I thought it was some JSON API we forgot about, but you're talking about the box "Total Post Views" in https://dev.to/dashboard  right?

That value is the sum of all `page_views_count` for each article:

https://github.com/thepracticaldev/dev.to/blob/0f46b0deededb0ca7602b6d14dbb2b464f76a160/app/views/dashboards/_analytics.html.erb#L1-L2

Such value is not updated constantly, but sampl

[2019-08-15 13:06] rhymes commented on #3720
@theaupoulat go ahead and thank you!

[2019-08-15 13:07] pacoita commented on #3723
Yes, the total views is the central box in the dashboard page.

So the total views value is updated live, then it should be just a matter of time before the values are correct again. Thanks

[2019-08-15 13:17] Jngai commented on #3498
@KaraAJC are you still working on this? I am interested in it.

[2019-08-15 13:52] nickytonline commented on #338
If you need to chat @Zhao-Andy just ping me.

[2019-08-15 14:41] ashleemboyer commented on #2850
@jessleenyc sorry about the delay, I tried it and I am still getting the same issue.

[2019-08-15 15:16] jessleenyc commented on #2850
@ashleemboyer to clarify, this is only happening to you on dev.to? Where some emojis can paste while other's can't?

[2019-08-15 15:35] jessleenyc commented on #3724
I actually think this is intentional but I'll triple check with the rest of the team at our next meeting.

[2019-08-15 15:37] jessleenyc commented on #3674
@Kurtz1993 looks good to me!

[2019-08-15 15:46] jessleenyc commented on #3723
Since this is fairly expected behavior, I'm going to close this issue.

[2019-08-15 15:46] #3723 closed

[2019-08-15 16:52] Amorpheuz opened #3726 "Missing menu border"
**Describe the bug**

Menu in night theme looks like it has a missing border to it's right. It works correctly in mobile, tablets and low resolution screen scenario where the menu hugs the top-right corner and hence border being cut-off is consistent with the other themes, but looks bad on a desktop where it is abruptly cut-off.

A similar issue is also present in pink, but it only becomes clearly

[2019-08-15 19:30] jessleenyc commented on #3726
Here's the docs on theming for anyone who wants to work on this issue: https://docs.dev.to/design/theming/

[2019-08-15 19:36] Amorpheuz commented on #3726
Great, its a good first issue! I think this shouldn't take much know-how, if any, in ruby department. I am faily confident in my front-end skills... mind if I take it up?

[2019-08-15 19:55] setevoy2 commented on #3070
Hi, team.
Faced again with the same issue, sorry :-(
Checked RSS - [it's valid](https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Frtfm.co.ua%2Fen%2Ffeed%2F).
Post to be imported to the Dev.to:
https://rtfm.co.ua/en/kubernetes-part-3-aws-eks-overview-and-manual-eks-cluster-set-up
It's present [in the feed](https://rtfm.co.ua/en/feed/).
It was published about 3-4 hours ago, but wasn't added

[2019-08-15 20:22] jessleenyc commented on #3724
Hey all - so this is behaving as expected but we're open to adjustments if someone wants to contribute a PR that loses the spacing here. The goal was for this to look a bit random/uneven, as you'd see in a real 'sticker book' so as long as the stickers don't end up uniform, we'd welcome any PRs.

[2019-08-15 21:42] jessleenyc commented on #3726
@Amorpheuz go for it!

[2019-08-15 22:31] dEhiN opened #3728 "Print layout/button"
**Is your feature request related to a problem? Please describe.**
I recently read an article on dev.to and when I tried to print it, in the print preview I saw that article content was being cut off due to the persistent header and footer. I don't even mind that a page's header/footer get printed, but for some reason, the header and footer was cutting off some article content on every single page

[2019-08-16 04:09] Kurtz1993 commented on #3674
The PR is merged now. I think we can close the issue 😃

[2019-08-16 05:14] kingthorin commented on #3648
Backslash backtick seems to escape: &#92;&#96; ex: \`

Or you could use the HTML entity? `&#96;`  ex:  &#96;

[2019-08-16 06:24] #3674 closed

[2019-08-16 07:07] theaupoulat commented on #3259
Possible to take it ?

[2019-08-16 09:57] rhymes commented on #3259
@theaupoulat please do, thank you!

[2019-08-16 11:07] cyrillefr opened #3731 "File is deleted after executing test suite"
**Describe the bug**
The following file is deleted while going through the test suite:
`spec/support/fixtures/approvals/liquid_tweet_tag_spec.received.html`

**To Reproduce**
`rspec spec/liquid_tags/tweet_tag_spec.rb:24`
(It "renders properly ...)

**Expected behavior**
The file should not be deleted

**Screenshots**

**Desktop (please complete the following information):**
not applicable

**Smart

[2019-08-16 12:38] rhymes commented on #3728
Hi @dEhiN, you make a good point about printing.

I wonder if instead of having a button, we should aim at having a print stylesheet for the article page.

This way we can control via CSS what appears in the print, remove unnecessary boxes and even possibly stylize the print.

This should also work on all devices automatically.

[2019-08-16 13:17] harden-ung opened #3733 "Bug regarding reactions"
**Describe the bug**

if I react (heart) something too quickly, I can accidentally reset the number of reactions to zero. And this affects right at the server, not just the front-end.
**To Reproduce**

1/ Find any comment and press react (heart) quickly.
2/ Now you see the number of hearts got reduces to a negative number.
3/ Restart the browser, the number of hearts become zero

**Expected behavi

[2019-08-16 13:44] rhymes commented on #3649
NOTE: the biggest drawbcak to this approach is networking latency. If the cost of asking Redis from the web server about the limit is higher than the cost of the entire operation that's being rate limited, then the roundtrip is not worth it.  This will have to be measured, also because not all instances of rate limiting need to take into account a distributed memory across all processes and thread

[2019-08-16 15:39] benhalpern commented on #1626
I made a DEV thread to discuss this further. It's so subjective, I figured it would be a good community chat:

https://dev.to/devteam/what-would-your-opinion-be-of-a-reading-position-indicator-on-dev-1088

[2019-08-16 16:03] rhymes commented on #1626
I'm adding this here because it doesn't exactly concern this feature but it's related in the sense that the location of the bar would be the same:

This could conflict with the possibility of having a loading progress bar for the PWA https://github.com/thepracticaldev/dev.to/issues/2987

But maybe we can have the same bar activate on loading and then be handed off to the reading position tracking

[2019-08-16 17:05] jessleenyc commented on #3070
Hey @setevoy2 can you try re-saving your RSS feed and see if it pulls the draft in?

[2019-08-16 18:22] jessleenyc commented on #3731
Very interesting, confirmed that I can replicate this.

[2019-08-16 18:28] #3724 closed

[2019-08-16 18:41] omenking commented on #354
I was thinking why I didn't push my local branch and remembered as I attempted to push for today's meeting that the pre-commit hook made a mountain of work so I said forget it.

[2019-08-16 18:44] achasveachas commented on #3648
I'm not at my computer, but I tried both of those on DEV and they didn't work. I think the backslash worked for one backtick, but not when I wanted to do three, and the HTML entity just rendered as it...

[2019-08-16 19:53] #3720 closed

[2019-08-16 21:17] setevoy2 commented on #3070
Hi, @jessleenyc
Re-saved post in my WordPress blog (this must trigger RSS update somehow, I guess?) - but still nothing on Dev.to.

[2019-08-16 23:32] pchpsky commented on #3684
can I take this issue?

[2019-08-17 07:49] enjoyindonesiadotcom opened #3735 "Error"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-08-17 08:09] andrewrod33 commented on #3502
Looks like this can now be done after https://github.com/thepracticaldev/dev.to/pull/3644. If you use the `/api/articles/me` route with your access token it will return all of your articles.

[2019-08-17 15:38] pkfrank opened #3736 "Create page with links for official iOS and Android apps"
**Is your feature request related to a problem? Please describe.**
As a user, I want to find the official mobile apps in one organized page.

As an admin, I want to easily be able to send people to a specific URL where they can find the apps.

**Describe the solution you'd like**
A page at `dev.to/apps` (or similar) with the download links.

**Additional context**
- [iOS link](https://apps.apple.c

[2019-08-17 17:29] jessleenyc commented on #3684
@pchpsky sure can!

[2019-08-17 18:02] jessleenyc commented on #3735
Seeing as there's no information on this issue, I'm going to close it.

[2019-08-17 18:02] #3735 closed

[2019-08-17 18:07] jessleenyc commented on #3583
Once #3672 is complete there should be better documentation on how to set up notifications locally. There's already some info in that issue for reference.

[2019-08-17 18:14] jessleenyc commented on #3604
In order to toggle onboarding when you're not a first time user, all you have to do is visit dev.to/onboarding!

[2019-08-17 18:15] jessleenyc commented on #3604
Updated the title for clarity, btw.

[2019-08-17 18:30] jessleenyc commented on #3662
I believe this was fixed in #3719

[2019-08-17 18:30] #3662 closed

[2019-08-17 18:38] dfranusic commented on #1845
Hi
Sorry for opening this again, but it seems there's still a tiny bug present. If the **canonical_url** ends with **"/"**, the error still presents itself. My original post was first published here:
https://blog.soshace.com/en/freelance/why-working-remotely-is-a-double-edged-sword/
and the page has a **self referencing canonical tag**

[code]
The only way I managed to set  **canonical_url**  on d

[2019-08-17 18:41] jessleenyc opened #3737 "Documentation For Updating Roles"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
- We need documentation on how to update your role in development so you can take certain actions. For example, if you want to fix a bug related to tag moderator or admin views. In order to see tag mod views, you'll want to go in the rails console and update the role like this: `User.find(x).ad

[2019-08-18 14:38] nickytonline commented on #2470
@venarius, still interested in helping out on this? It would be a great way to ease yourself into the codebase. Also, there are some a11y wins in here if we get this all cleaned up.

![Fantasia mops cleaning up](https://media.giphy.com/media/RhgLlIzLH60eY/giphy.gif)

[2019-08-18 14:39] nickytonline commented on #2470
@jessleenyc, there are also regular JS files that have eslint errors. Should I create a separate ticket for those?

[2019-08-18 18:20] benhalpern opened #3739 "Refactor CodeClimate Issues"
We have CodeClimate hooked up to our repo. It identifies code smells, which can be low-hanging fruit for improving the application.

Issues can be found here:

https://codeclimate.com/github/thepracticaldev/dev.to/issues

You can sort by JavaScript and Ruby and other filters.

[2019-08-18 18:29] #3726 closed

[2019-08-18 18:46] nickytonline commented on #2470
Relates to #3739.

[2019-08-18 18:55] benhalpern commented on #3588
I actually discovered that the issue is that we have "background patterns" on podcasts which are not always set correctly and if not, we get this situation of white on white.

The issue is actually ultimately with our podcast _validation_ where we allow podcasts to have inaccurate details.

@jordykoppen I closed your PR, because the issue is actually a bit different and related to invalid entries

[2019-08-18 19:03] #3227 closed

[2019-08-18 19:12] Amorpheuz opened #3740 "Addition to 'possible error messages' in Windows Installation docs"
### Description
I am really excited to explore WSL with vscode and hence decided to fix an issue I was working on with those tools. While setting up my fork of dev.to for #3726 I was unable to fully run `bin/setup` as it kept failing while trying to install `cld 0.8.0` due to absence of `aclocal-1.10` and `automake-1.10`. I eventually figured out how to fix it and installed `autoconf` and then get

[2019-08-18 20:12] BassemMohamed opened #3741 "Link for latest blog post directly"
**Is your feature request related to a problem? Please describe.**

It would be much easier if there was a URL that always maps to the latest article published by a certain user.

**Describe the solution you'd like**

Right now, we only have for example: https://dev.to/bassemmohamed.
What I am suggesting is we have something like: https://dev.to/bassemmohamed/latest to get to the latest blog post

[2019-08-18 20:33] nickytonline commented on #3741
Just in case you weren't aware, you can now pin posts to your profile. See https://dev.to/devteam/changelog-pin-posts-you-want-to-feature-to-the-top-of-your-profile-feed-1ki4

[2019-08-18 21:57] ajilityj commented on #3664
i can dig into this issue ..

[2019-08-19 00:04] BassemMohamed commented on #3741
@nickytonline, I had no idea. Thanks!! 👍

[2019-08-19 00:22] nickytonline commented on #3741
Yeah, I know it wasn't the same thing, but thought it might be good enough in terms of what you're looking for. Carry on 😉

[2019-08-19 01:19] nickytonline opened #3744 "Latest React DevTools breaking DEV when debugging"
**Describe the bug**

If you have the latest React Dev Tools installed (https://reactjs.org/blog/2019/08/15/new-react-devtools.html) and open the Chrome or FireFox DevTools, you'll get the following error.

[code]

This is most likely related to Preact not being fully supported in the latest React DevTools.

**To Reproduce**

1. The latest version of the React DevTools is installed
2. You open you

[2019-08-19 01:19] nickytonline commented on #3744
Of course I find this right away after submitting an issue... 🙃

The fix appears to be to upgrade to Preact 8.5.2, https://twitter.com/marvinhagemeist/status/1162968568667004933

[2019-08-19 04:49] AnkitaSinghal commented on #3739
I would like to work on this issue

[2019-08-19 06:43] eyp opened #3746 "Welcome post or other replies not shown"
As a new user I wanted to post a presentation post in the Welcome thread, so I wrote it and everything seemed to be fine (the post was there at the top pf the other posts), but then, when I reload the page, it isn't there anymore.

I also replied another of the welcome post, my reply was there when I did it, but afterwards is not.

**To Reproduce**

1 - Go to the welcome thread: https://dev.to/wel

[2019-08-19 07:54] moopet commented on #3252
I don't see any benefit from this feature either. At the moment the only activity you see from someone is:
* chat in connect
* recent posts on profile
* recent comments on profile
* post/comment total on profile

There could be a "stealth" mode that doesn't show any of those items and perhaps puts a warning badge on the group chats. That would cover everything wanted by the "vacation mode", but I'

[2019-08-19 07:57] moopet commented on #168
The site currently fails or behaves in unexpected ways across the board if your browser or privacy settings block one js source or another, or if the js dependency is not met due to CDN connectivity issues. I think it's a valid bug.

[2019-08-19 10:02] weekly-digest[bot] opened #3747 "Weekly Digest (12 August, 2019 - 19 August, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 55 issues were created.
Of these, 36 issues have been closed and 19 issues are still open.
## OPEN ISSUES
:green_heart: #3741 [Link for latest blog post directly](https://github.com/thepracticaldev/dev.to/issues/3741), by [BassemMohamed](https://github.com/BassemMohame

[2019-08-19 11:26] pacoita commented on #3436
Any feedback whether this is the expected behaviour or whether an improvement/fix is needed?
Thanks

[2019-08-19 12:38] Davidliam opened #3748 "The Easy for Lunch Educational Theory"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-08-19 13:05] #3744 closed

[2019-08-19 13:12] #3748 closed

[2019-08-19 19:34] omenking opened #3769 "Image Upload On Comments Throwing 500 Error"
**Describe the bug**

Uploading any image results in 500 error. Here is the image in question I was attempting, but it doesn't work for any images:

This is the image in question you can test with:

![health-check](https://user-images.githubusercontent.com/7776/63293682-9d36ad80-c296-11e9-9f65-4d0e63fb52d8.png)

Here you can see 500 errors, nothing super exciting or informative.

![Screen Shot 201

[2019-08-19 20:17] Zhao-Andy commented on #3769
Thanks for the heads up, we'll look into it now.

I uploaded via the article editor and it worked, so it seems the comment upload itself is broken. Here's the markdown for your image in case you wanted to post your comment: `![Alt Text](https://thepracticaldev.s3.amazonaws.com/i/mdrjk3fvicyvks734o0l.png)`

[2019-08-19 21:22] mmaia commented on #3436
For me, it looks, in general, the count under the dashboard and in some posts is just not counting at all. Getting views, likes and bookmarks(reactions) but in the Dashboard, the "Total Post Reactions" and "Total Post Views" don't change at all.

[2019-08-19 21:28] seangwright opened #3772 "Feature Reqeust: Make series Title linkable to a "Series" langing page."
**Is your feature request related to a problem? Please describe.**

### Feature Request

I really appreciate the [new UX that was added](https://github.com/thepracticaldev/dev.to/pull/3768) for showing series at the top and bottom of series posts.

Thanks @benhalpern 🙏.

This is really great on series with a bunch of posts (I currently have a series with 11 entries).

Since these longer series abb

[2019-08-19 21:37] jessleenyc commented on #3643
Hey @msarit! Thanks again for the issue. We just did a redesign for series and are no longer using dots, so I'm going to close this issue. Here's an example of it in action: https://dev.to/devteam/daily-challenge-43-boardgame-fight-resolver-53e3

[2019-08-19 21:37] #3643 closed

[2019-08-19 21:42] jessleenyc commented on #2558
Hey all - we just redesigned series a bit, there are no longer dots! Here's an example of it in action: https://dev.to/devteam/daily-challenge-43-boardgame-fight-resolver-53e3

@omenking not your exact proposal but similar. I'm going to close this issue for now but ping me here if you want me to keep it open.

[2019-08-19 21:42] #2558 closed

[2019-08-19 21:44] jessleenyc commented on #2424
Hey! Just want to leave a comment here that we've updated the design of series where you can see more info on the other posts within the series in each post. Here's an example of it in action: https://dev.to/devteam/daily-challenge-43-boardgame-fight-resolver-53e3

[2019-08-19 21:52] jessleenyc commented on #3046
Hey all! We just updated the design of series and I think it helps clarify a lot of the design aspect for a series liquid tag. Here's an example of series in action: https://dev.to/devteam/daily-challenge-43-boardgame-fight-resolver-53e3

Perhaps the liquid tag can take any article in a series and render this same series design. So if the liquid tag is {% series link %} it would know that its aski

[2019-08-19 21:54] jessleenyc commented on #3772
Hey @seangwright - thanks for this request! We actually already have an issue about this so I'm going to close this one in favor of the original: https://github.com/thepracticaldev/dev.to/issues/2424

[2019-08-19 21:54] #3772 closed

[2019-08-19 21:54] jessleenyc commented on #2424
Some additional notes/thoughts on a series landing page: https://github.com/thepracticaldev/dev.to/issues/3772

[2019-08-19 21:56] #3747 closed

[2019-08-19 21:56] #3713 closed

[2019-08-19 21:58] jessleenyc commented on #3736
I like dev.to/download 😁

[2019-08-19 22:02] jessleenyc commented on #3739
Awesome. Just a note here that this is an evergreen issue -- there will (almost certainly) always be CodeClimate issues up for grabs so anyone should feel free to submit a PR here!

[2019-08-19 22:07] jessleenyc commented on #3746
Hey @eyp! We don't sort comments by latest, and since there were so many comments on that thread, yours was not at the top. If you click on 'View All Discussions' you should be able to see your post. Here's a link to see all comments directly: https://dev.to/thepracticaldev/welcome-thread-v36-3dem/comments

We actually just created a new welcome thread because the one you were in got so long! Feel

[2019-08-19 22:07] #3746 closed

[2019-08-19 22:09] omenking commented on #2558
I had just spotted it today on Helen's post.
A liquid tag is a much better implementation since its decouple from the main layout 👍
So I would agree this ticket is now defunct.

[2019-08-19 22:16] jessleenyc commented on #3502
Going to close this issue since all articles are now available!

[2019-08-19 22:16] #3502 closed

[2019-08-19 22:20] c33s opened #3773 "Cursor suddenly jumps from current line to end of page (v1)"
**Describe the bug**
when writing an article in editor v1 (haven't tested v2), it happens to me multiple times that while i am writing the cursor suddenly jumps to the last line.

**To Reproduce**

- open editor
- select title line and write
- press backspace multiple times
- suddenly the cursor jumps to the last line and i am deleting the last characters of my last line.

**Expected behavior**

n

[2019-08-19 22:29] Zhao-Andy commented on #3769
Resolved via #3771 :) Thanks again for the report!

[2019-08-19 22:29] #3769 closed

[2019-08-19 22:37] jessleenyc commented on #3773
Strange. Thanks for reporting.

[2019-08-19 22:44] c33s commented on #3773
maybe it has something to do with https://addons.mozilla.org/en-US/firefox/addon/textarea-cache/ i can't tell for sure because this error happens at random. will have a look in my future post while i disable this addon and report back

[2019-08-19 22:51] jessleenyc commented on #3252
Hey all - just created a discuss post on this for the wider community to weigh in: https://dev.to/jess/what-would-you-expect-from-a-vacation-mode-feature-on-dev-1jml

[2019-08-19 22:56] jessleenyc commented on #3664
@ajilityj awesome!

[2019-08-19 22:59] jessleenyc commented on #2470
@nickytonline sure, I think that makes sense!

[2019-08-19 23:07] jessleenyc commented on #3070
Hey @setevoy2 sorry, I meant re-submit the form on your DEV settings: https://dev.to/settings/publishing-from-rss!

[2019-08-19 23:24] kodaman2 commented on #3252
I don't know it doesn't make much sense to me, if you are on vacation then enjoy. Site will be here when you are back. Only thing I can think of is that if you are on vacation mode and you really really love someone's content then perhaps get notifications on that, but other than that no one's forcing you to check, write, on dev.to if you feel obligated then there's a bigger problem at hand imho.

[2019-08-19 23:27] jacobherrington commented on #3252
Like most of the other users have said, I'm not sure I understand the reasoning. Perhaps this would be better described as archiving an account? I think what @michael-tharrington is describing sounds more like a soft-delete to me.

[2019-08-19 23:38] omenking commented on #3252
I'm going go against popular opinion here and see it as well-being feature.
Too many of my facebook friends have suspended their account only to return later because of social media fatigue.

I would go further to saying if you go on vacation mode for other user's to encourage your return by sending you reactions and positive messages which is then collected over a period of time and emailed to yo

[2019-08-20 01:24] kodaman2 commented on #3252
I would normally agree for facebook, but I just don't see a true comparison as Dev.to is not really a social media site, is more of a blogging site.

[2019-08-20 01:41] omenking commented on #3252
Dev.to is my facebook.

[2019-08-20 02:34] toddanglin commented on #3502
Great! Thanks for the update. Will check it out.

[2019-08-20 06:02] setevoy2 commented on #3070
Well... Still didn't help :-(
Interesting if I'll add a new post - will it be submitted to Dev.to or not...
Just have time to post something new now.

[2019-08-20 06:11] pacoita commented on #3436
I had the same experience with *reactions*: I get notified of bookmarks/likes but even at the end of the day the amount of Views is the same. The totalViews seem to have a periodic "refresh", meaning that its value is not up to date all the date (even with the sum of articles views).

However my concern (reason of this issue entry) is that, looking from the source code, it seems that only Dev.to m

[2019-08-20 09:08] sarah-alfred opened #3775 "I cannot update my Dev.to profile."
I am trying to update my Dev.to profile and whenever I click submit to save the changes. I get an error saying. I am not changing the Github username, and BTW that is my GitHub username.

I signup/sign in using Twitter, which is the same username as my GitHub.

[2019-08-20 11:55] jmfayard opened #3776 "Support for runnable kotlin snippets"
**Is your feature request related to a problem? Please describe.**

`thepracticaldev` has support for runnable code snippets, which is really nice,

Example: `{% codepen https://codepen.io/twhite96/pen/XKqrJX %}`

I want runnable snippets for my favorite programming language: Kotlin

**Describe the solution you'd like**

https://play.kotlinlang.org  is an online sandbox to explore Kotlin programmi

[2019-08-20 12:28] setevoy2 commented on #3070
Hey, @jessleenyc !
Interesting, but the [latest post](https://rtfm.co.ua/en/docker-compose-shared-networks/) was submitted to the Dev.to without any issues.
So - it's something wrong with exactly the [previous one](https://rtfm.co.ua/en/kubernetes-part-3-aws-eks-overview-and-manual-eks-cluster-set-up/).
Just can't understand what exactly :-(
Anyway - the issue is not on your side, so thanks for yo

[2019-08-20 13:13] Zhao-Andy commented on #3776
Thanks for the feature request! If it's simply an embedded iframe then following the code examples from the [CodePen](https://github.com/thepracticaldev/dev.to/blob/master/app/liquid_tags/codepen_tag.rb) or the [Repl.it](https://github.com/thepracticaldev/dev.to/blob/master/app/liquid_tags/replit_tag.rb) should work. We have other similar liquid tags, all under `app/liquid_tags` as well.

For anyo

[2019-08-20 13:14] nickytonline opened #3777 "Lint issues with JavaScript Files"
Describe the bug
This compliments work being done in #2470.

The *.js files inside app/javascript and app/assets/javascripts still have plenty of lint issues

To Reproduce
Steps to reproduce the behavior:

From the command line in the app/javascript folder, run `eslint . --ext .js`
From the command line in the app/assets/javascripts folder, run `eslint . --ext .js`

Expected behavior
There shouldn

[2019-08-20 14:53] jessleenyc commented on #3775
Hi @sarah-alfred, sorry your experiencing this. Since this seems like a specific account issue, can you email yo@dev.to from the email associated with your DEV Profile? Thanks!

[2019-08-20 14:53] #3775 closed

[2019-08-20 16:15] Amorpheuz commented on #3777
I would love to help out with this! I assume it will be much cleaner/smoother to fix a file, create a PR and then move on to the next, or should each fix be a commit in a PR?

[2019-08-20 16:49] mattwaler commented on #745
Per @ItsASine's instructions:

I did basically the same thing, created repos with the exact same name as the ones I wanted to remove.

However, they did not appear in dev.to as selected, so I had to select them, then remove them to get them cleared out.

[2019-08-20 17:16] nickytonline commented on #3777
Just create a PR and link it to this issue. Thanks for helping! 👏

[2019-08-20 17:29] michael-tharrington opened #3779 "&amp in Org Name"
**Describe the bug**

When creating an org, if a user puts an ampersand (`&`) in the title of their org, it's shown as `&amp;`.

Here's an image:

![https://cl.ly/b810132a574b/Image%202019-08-20%20at%201.27.28%20PM.png](https://cl.ly/b810132a574b/Image%202019-08-20%20at%201.27.28%20PM.png)

**Expected behavior**

The ampersand should show up as normal.

[2019-08-20 17:30] michael-tharrington commented on #3779
Here's the test org I created - https://dev.to/atestorganization ... happy to delete whenever.

[2019-08-20 17:31] benhalpern commented on #2424
I think the route for this could be `dev.to/ben/series/:slug`

The "series" thing is actually a `collection` in the application (with the idea that there could be different "types" of collections, that may or may not ever happen).

But I think creating a landing page with the same format as tags and other index views should be fairly straightforward.

`CollectionsController` `show` is probably the

[2019-08-20 19:56] benhalpern opened #3781 "Liquid Tag embeddable endpoint"
In order to render DEV posts accurately _offplatform_, we need to make liquid tags accessible. It's not very practical to ship the HTML/CSS and force the consumer to get things right the way it works on-platform, so we'll need to make it so the consumer can take liquid tags and convert them to iframes in a standard way.

Endpoint would be something like

`https://dev.to/liquid_embed/tag_name/tag-a

[2019-08-20 20:18] lanesawyer commented on #266
I'm here to add another voice to this issue. I chased the constantly moving footer for a while today and came here to creating an issue reporting the dark pattern.

Literally all the data in the footer is replicated in the sidebar (except for the copyright) so you're in a good spot to simply remove the footer. Sure, infinite scrolling will still be there, but at least you won't get annoyed users c

[2019-08-21 00:14] johncurcio commented on #3736
Hello, I would like to work on this issue :). My initial idea would be to create a page similar to ``/connect``, like this:

![downloads](https://user-images.githubusercontent.com/9089551/63392716-1c5add00-c38e-11e9-9dce-949e12c455cb.png)

Any feedback is appreciated.

The route, however, would have to be ``dev.to/apps`` or ``dev.to/downloads`` (plural), because ``dev.to/download`` is taken.

Furt

[2019-08-21 14:40] michael-tharrington commented on #3252
To provide a bit more context... if I remember correctly I wrote this ticket after interpreting a request from a DEV user.

The user ended up leaving DEV, but really just wanted some time off as they were in a new job and needed to focus on that. They voiced wanting a combination of privacy + time off from the site. I _think_ they may have felt a bit overwhelmed at the idea of their new colleagues

[2019-08-21 16:22] msarit opened #3785 "Hide Comments initially on 'Daily Challenge' posts"
**Is your feature request related to a problem? Please describe.**

For the 'Daily Challenge' posts, it sometimes bothers me that a careless scroll to the Comments could reveal solutions to the problem before I'm ready to view them, since many comments contain solved challenges

**Describe the solution you'd like**

For 'Daily Challenge' posts, I propose hiding the Comments section at first, and i

[2019-08-21 19:20] FeruzOripov commented on #3739
Hi, I've just made my first PR. But I got Travis CI failure. I can't figure out the reason. Can someone review my code, #3787 . Thanks )

[2019-08-21 19:53] kodaman2 commented on #3252
Thanks for providing context, this makes a lot more sense.

+1 on the privacy idea when a user gets a new job and wants some privacy, I can definitely understand feeling overwhelmed at the idea of new colleagues reading your content. Not sure if Dev uses user id as alphanumeric but perhaps if the user wants privacy with soft deleting their account their articles would show up as written by user452

[2019-08-21 20:43] #398 closed

[2019-08-21 22:51] Edge-Developer opened #3791 "I can't write a new Post"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-08-21 23:00] jessleenyc commented on #3791
Hi @Edge-Developer - please email yo@dev.to with the email address associated with your DEV account. This seems like an individual account issue that our support team can help you with.

[2019-08-21 23:00] #3791 closed

[2019-08-21 23:13] jessleenyc commented on #3736
Hey! I think this looks really great. I think we could add a link in the 'key links' area on the left hand side bar as well as the 'key links' page that's accessed from the main drop down on your profile pic!

[2019-08-21 23:13] jessleenyc commented on #3736
Also dev.to/downloads works! We can also make some last minute adjustments on that.

[2019-08-22 02:42] rohitshetty commented on #1805
I can experience this as well with Firefox on linux, each time I goto dev.to.

[2019-08-22 05:30] FeruzOripov commented on #3739
Here another one #3793

[2019-08-22 09:18] FeruzOripov commented on #3739
#3794

[2019-08-22 10:00] jankeromnes opened #3795 "GitPod: Webpacker::Manifest::MissingEntryError in Stories#index"
**Describe the bug**

Hello! 👋 When I open Dev.to in Gitpod; enter my Algolia credentials; and hit Enter, the web app shows this error:

[code]

But after trying again / refreshing for about 2 minutes, it starts working.

**To Reproduce**

1. Open [Dev.to in Gitpod](https://gitpod.io/#https://github.com/thepracticaldev/dev.to)
2. When prompted, enter your Algolia credentials into the config file;

[2019-08-22 11:15] Angelgeo opened #3796 "Bug Report"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-08-22 12:46] jessleenyc commented on #3796
Closing this because there's no information in the issue.

[2019-08-22 12:46] #3796 closed

[2019-08-22 13:01] jessleenyc commented on #3776
Here's some more info on liquid tags: https://docs.dev.to/frontend/liquid-tags/

[2019-08-22 13:05] jessleenyc commented on #3436
Hey everyone, all the page view logic is in the pageview controller. Pageviews should be updated every few page views and we check for that in a few different areas. We also fetch from google analytics periodically as a fallback. I believe everything here is expected behavior so I'm going to close this issue.

[2019-08-22 13:05] #3436 closed

[2019-08-22 13:09] jessleenyc commented on #3070
@setevoy2  do you want to send a full markdown file to yo@dev.to so we can take a closer look at what's going on?

[2019-08-22 13:17] jessleenyc commented on #3070
@setevoy2 we'll take a look at it. cc @Zhao-Andy

[2019-08-22 13:31] pacoita commented on #3436
Are page views counted only for Dev.to users or also for users without account?

[2019-08-22 13:38] jessleenyc commented on #3436
@pacoita when any user (with or without a DEV account) visits a post, the page view count for that post will update (just not necessarily _immediately_).

[2019-08-22 14:12] dhanoz opened #3799 "Change in Algolia under DEV docs > Backend Guide > Algolia"
### Description
Recently I was setting up my development environment so I can help to contribute. While setting up my environment I got a different webpage rather than the screenshot which is mentioned under DEV docs > Backend Guide >Algolia on step 7.
### Issue
![Screenshot from 2019-08-22 19-30-41](https://user-images.githubusercontent.com/51912296/63521067-615c4c00-c513-11e9-9e31-a2a66c8b07d0.p

[2019-08-22 14:46] omenking opened #3800 "Make It Easier To Adjust Notification Subscriptions on Articles"
I wanted to contribute to welcoming people to DEV.to once in a while so I turned on Top Level Comments. I did that for a bit and then turned off Top Level Comments, but I was still getting notifications.

I checked and see that All Comments was now checked. When I click All Comments it will superficially uncheck but it's not persisting on refresh and its staying checked.

<img width="330" alt="Scr

[2019-08-22 15:11] jmfayard commented on #3776
I gave it a try but I don't know ruby or rails, so that probably need more work :)

[2019-08-22 15:19] jessleenyc opened #3802 "Twitter Card Images for Articles Are Occasionally Positioned Inconsistently"
**Describe the bug**
Sometimes, twitter card images aren't centered properly when the social card unfurls. This is likely happening on Twitter's end but we can also fix this if we crop the images ourselves through cloudinary.

[2019-08-22 15:20] jessleenyc commented on #3740
@Amorpheuz feel free to add this to the docs!

[2019-08-22 15:43] jessleenyc commented on #3415
Thanks for the additional info @henrikwirth! Really saved me a lot of time figuring out what was going on. Just opened a PR to fix.

[2019-08-22 15:48] jessleenyc commented on #3800
@omenking thanks for the reporting the bug.

Have you tried clicking the 'unsubscribe' button? I think that should work even if the individual 'all comment' button didn't.

[2019-08-22 16:20] omenking commented on #3800
@jessleenyc your suggestion worked.

[2019-08-22 16:25] jmfayard commented on #3776
@Zhao-Andy
Giving it a try taught me that there is a better way than using the iframe.
The npm package `kotlin-playgroung` should be installed like explained here.
Would that be ok?
https://jetbrains.github.io/kotlin-playground/examples/

[2019-08-22 17:01] Zhao-Andy commented on #3776
@jmfayard I haven't given it a review yet, but my initial thoughts are that I'm more in favor of using the iframe instead of adding the package. This feature should be more for embedding examples you've made before for a post, and less for a place to test and sandbox code. Since we're embedding a runnable codeblock in an article, I don't think we would need to use the full extent of the package, a

[2019-08-22 18:30] jessleenyc commented on #3800
FYI just updated the title of the article for clarity.

[2019-08-22 18:32] jessleenyc commented on #3799
Cool, thanks for the heads up. Feel free to submit a PR if you'd like!

[2019-08-22 20:32] #3740 closed

[2019-08-22 20:37] Zhao-Andy commented on #338
Hey @nickytonline, getting started on this now. Will ping you on DEV Connect if I have questions. :)

[2019-08-22 21:39] Mdhesari opened #3805 "reading list bug and search result empty, also I cannot send and receive any messages!"
**Describe the bug**
I save my favourite articles and then when I go to my reading list there's nothing to appear, also there is a bug when I search a key word for an article and nothing appeared.
The same problem with my direct messages, recently I was able to send and receive messages but now there is no result when I try to get messages...

**To Reproduce**

**Expected behavior**

1. Go to my p

[2019-08-22 21:40] Mdhesari commented on #3805
![image](https://user-images.githubusercontent.com/28428724/63551746-27a73780-c54b-11e9-8dbf-35fa83eb927f.png)

[2019-08-22 21:41] Zhao-Andy commented on #3805
Hi @Mdhesari, do you see any errors in your browser's console? My first guess is that you might have some JavaScript disabled, either because of an extension or some other external factor.

[2019-08-22 21:41] Mdhesari commented on #3805
![image](https://user-images.githubusercontent.com/28428724/63551792-4dccd780-c54b-11e9-92f9-34bae4f98d21.png)

[2019-08-22 21:42] Mdhesari commented on #3805
this is my console after searching...
![image](https://user-images.githubusercontent.com/28428724/63551871-82409380-c54b-11e9-92e7-a75150e82be4.png)

[2019-08-22 21:45] Mdhesari commented on #3805
No there is no problem with javascript because I've tried various devices and also browsers...

[2019-08-23 07:50] raxetul commented on #3217
It will be better to have direct deletion button without archiving the article.

[2019-08-23 08:26] keevcodes opened #3807 "Link spacing too small in articles for mobile"
**Describe the bug**

When on mobile, the spacing between the article content link and the user profile, tag links is quite small. This causes a redirect to either the user profile or articles containing the clicked tag, when the user meant to click on the link to the article.

**To Reproduce**

1. Go to Homepage
2. Click on multiple areas of any article in the articles list

**Expected behavior**

[2019-08-23 11:30] procyclinsur opened #3810 "GIFs dont seem to be working for my posts"
**Describe the bug**

Utilizing GIFS does not seem to work for my posts.. I can still view others posts and view my GIF on other Markdown based sites.

**To Reproduce**

I created [this](https://dev.to/procyclinsur/golang-dynamic-logging-3p7k) post that contains the following image import.

[code]

This exact same image import works in [hackmd](https://hackmd.io/fkDZNiXnSFC7ffKF1AgB_w)

**Expected

[2019-08-23 11:35] Glennmen commented on #3810
Looking in the network tab in the browser console it seems that the gif is too big.
`Maximum total number of pixels in all frames/pages is 200 Megapixels. Requested 286.27 Megapixels`

[2019-08-23 11:42] procyclinsur commented on #3810
Thats probably the issue!
Should this be added to the site FAQ?

[2019-08-23 11:45] lightalloy opened #3811 "Refactor Updating Articles To Use A Single Path"
Articles are updated in several places:
- `ArticlesController#update` (no `Articles::Updater`)
- `Admin::ArticlesController#update` (no `Articles::Updater`)
- `Api::V0::ArticlesController#update` (`Articles::Updater`)

It would be nice to refactor `ArticlesController#update` to use `Articles::Updater` as in `Api::V0::ArticlesController`.
We need to check if there are differences in these 2 types o

[2019-08-23 11:56] jmfayard commented on #3776
@Zhao-Andy the advantage would be that we could manage both the code snippets and the text in one markdown document like this:

[code]

That could make sense if we can manage to load the javascript only for articles tagged with `#kotlin`

But that's for later, maybe.

I had another simpler problem in mind yersterday, the iframe didn't look like it should. I didn't realize every kotlin playground h

[2019-08-23 16:43] maestromac commented on #3736
Resolved with https://github.com/thepracticaldev/dev.to/pull/3798

[2019-08-23 16:43] #3736 closed

[2019-08-23 17:02] johncurcio commented on #3779
Well, I think the culprit is here https://github.com/thepracticaldev/dev.to/blob/39618f66a2167e88e65527b68d0fd996f0869c0a/app/controllers/organizations_controller.rb#L73

According to issue [28060 on the rails project](https://github.com/rails/rails/issues/28060), strip_tags since v1.0.3 encodes special html characters (&, <, > ...) by default. To restore its previous behaviour, we can use Loofa d

[2019-08-23 19:51] Zhao-Andy commented on #3070
Hey @setevoy2, looks like there's an edge case coming from the markdown generated from that specific article. We'll look into fixing the edge case. I've put a working version of the markdown that you can use to create a draft of the same post into a gist here: https://gist.github.com/Zhao-Andy/c56949b75ec35d98760e10b949e9c807

In case you were wondering, the edge case that caused the issue is with

[2019-08-23 20:04] michael-tharrington commented on #3802
I spoke with @healeycodes who said it was cool to share a bit of info here...

Steps to reproduce the behavior:

1. Copy this URL: [https://dev.to/healeycodes/solving-puzzles-with-high-performance-javascript-3o4k](https://dev.to/healeycodes/solving-puzzles-with-high-performance-javascript-3o4k)
2. Go here: [https://cards-dev.twitter.com/validator](https://cards-dev.twitter.com/validator)
3. Run th

[2019-08-24 04:06] setevoy2 commented on #3070
Great, @Zhao-Andy! Many thanks!
I'll pay attention to the `{{ }}` next time. Usually, in code samples, they are enclosed with some ``, but at this time it was the terminal's output so it went to RSS "as is" :-)

[2019-08-24 11:59] FeruzOripov opened #3816 "pre-commit git hook"
**Is your feature request related to a problem? Please describe.**

I have pushed untested(I forgot to test) code that failed when PR created.
**Describe the solution you'd like**

I think we should add `pre-commit` git hook that runs rspec tests and prevent a commit if fails.

**Describe alternatives you've considered**

**Additional context**

[2019-08-24 17:14] FeruzOripov commented on #3816
Oh  there is already git hooks. I guess I configured it incorrectly.

[2019-08-24 17:14] #3816 closed

[2019-08-24 19:08] #3779 closed

[2019-08-24 22:54] johncurcio commented on #3731
If we look at the files in ``spec/support/fixtures/approvals/``, all of them are ``.approved`` except for this one which has both an ``.approved`` and a ``.received`` file.

![fixtures](https://user-images.githubusercontent.com/9089551/63643372-46b9dc80-c6a5-11e9-9dc5-c3bf431fdab4.png)

According to the [github page for approvals](https://github.com/kytrinyx/approvals):

[code]

This probably mean

[2019-08-25 10:58] idris-rampurawala opened #3819 "Reading list: Add clear filter button/icon"
**Is your feature request related to a problem? Please describe.**
In the `Reading List` page of the profile, please add a clear filter button or icon to reset the filters that have been applied via selected tags/search text.

**Describe the solution you'd like**

If I enter some text in the `search your list` textbox, there should be an icon (close icon - :negative_squared_cross_mark:) to clear t

[2019-08-25 16:30] #3731 closed

[2019-08-25 21:01] notapatch commented on #3737
Hi jessleenyc,

As you can see, I've put a pull request in. Feel free to comment / request / change as you see fit.

[2019-08-26 04:00] #3810 closed

[2019-08-26 04:07] procyclinsur opened #3828 "Add GIF limits to the FAQ"
I don't know if I would call this a feature request, but since there is a limitation on the size of GIFs uploaded to the site, I think there should be some mention of this limitation somewhere in the FAQs.

Error as found in the dev console network tab..

`Maximum total number of pixels in all frames/pages is 200 Megapixels. Requested 286.27 Megapixels`

[2019-08-26 10:02] weekly-digest[bot] opened #3829 "Weekly Digest (19 August, 2019 - 26 August, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 82 issues were created.
Of these, 49 issues have been closed and 33 issues are still open.
## OPEN ISSUES
:green_heart: #3827 [Backend Docs: roles.md #3737](https://github.com/thepracticaldev/dev.to/pull/3827), by [notapatch](https://github.com/notapatch)
:green_heart:

[2019-08-26 12:33] jessleenyc commented on #3828
We should probably also have this appear as an error message for both the editor and comment box but adding it to the editor guide makes sense as a first step!

[2019-08-26 12:36] awwsmm opened #3830 "historical stats"
__How it works now:__

Users can see their follower count, post likes, and post views on the `dashboard` page.

__How it could work:__

Users should be able to see historical follower count, post likes, and post views. This would require (at least) daily totals of each of these numbers to be recorded for each user. This could be expanded into a "stats summary" page, showing performance over time,

[2019-08-26 12:51] jessleenyc commented on #3819
For anyone who wants to take on this issue, please share more details on implementation and design before you get in too deep!

[2019-08-26 12:56] jessleenyc commented on #3830
Hey @awwsmm , this functionality will be available soon. We’re rolling out advanced stats as part of a pro feature which will go live within the next few weeks.

We’re starting with pro because we’d rather fully support this for users who want it most rather than trying to water it down for the need to scale to the entire userbase. If we get to the point where it’s comfortably scaling it will go t

[2019-08-26 13:06] #3829 closed

[2019-08-26 13:36] awwsmm commented on #3830
You mean "Pro" will go live in the next few weeks? Any details available on that? Or are you waiting for a big unveiling?

[2019-08-26 13:55] FultonBrowne commented on #3819
Do you plan to implement this across web, ios, and android?

[2019-08-26 17:38] silvererudite commented on #2826
Hi @mariocsee...can you pls help me with how to run bin/setup on Windows as per the last step in the docs here
https://docs.dev.to/installation/windows/
this is what I get after I double click the setup file
![Screenshot (16)](https://user-images.githubusercontent.com/24827548/63710272-a3122d00-c85a-11e9-88e0-234173bfc6e8.png)

[2019-08-26 18:40] silvererudite commented on #2826
@mariocsee ...it says setup is not recognized as an internal or external command. i know I should run the run with file extension but as u can see it shows no extension :( the file type is just FILE ! I tried running with setup.exe and setup.rb also it doesnt work.
As far as I see, It is a ruby script but seems like my system can't run it even though Ruby is installed !

[2019-08-26 20:11] omenking opened #3846 "Tags are not being applied to my Video Post"
So here I published a post with tags:
![Screen Shot 2019-08-26 at 4 08 36 PM](https://user-images.githubusercontent.com/7776/63719887-f618bf80-c81b-11e9-9b09-cfc320c9ce25.png)

Here no tags appear:
![Screen Shot 2019-08-26 at 4 08 41 PM](https://user-images.githubusercontent.com/7776/63719892-f87b1980-c81b-11e9-9747-af12056c2870.png)

Editing does not remedy the missing tags

[2019-08-27 00:28] seangwright opened #3848 "Email markup for 16 week streak badge - broken URLs"
**Describe the bug**

I received the 16 week streak badge (Yay!) and the links at the bottom of the email are broken.

**To Reproduce**

Open the "You just got a badge" email for 16 week streak.

**Expected behavior**

Links work for the following paragraph:

<blockquote>
 You also get 5 new credits to use for community listings
if you have anything you'd like to promote. 🎉

More information about

[2019-08-27 10:23] lightalloy commented on #3811
@mac I used a similar pattern to adapt podcast episodes' rss items for saving (convert them to a hash we need)
https://github.com/thepracticaldev/dev.to/blob/ee498ad9effb7d3f9c8edea1702317f359bcaa44/app/services/podcasts/episode_rss_item.rb#L1-L33

If we decide to implement adapters for updating, we'll only need to convert params that we receive from user to the attributes suitable for saving. If

[2019-08-27 11:06] arximughal opened #3849 "Hover color on poll options in dark mode is light on light background"
**Describe the bug**
In dark mode, poll options text color is light on light background, when hovering over the options. Which makes it hard to read. See the screenshot attached.

**To Reproduce**
1. Go to **Settings >> Misc**
2. Under **Style Customization** change site theme to **night mode** and save
3. Navigate to Ben's post [When Stack Overflow Goes Offline...](https://dev.to/ben/when-stack-o

[2019-08-27 11:25] dhanoz commented on #3799
**Updated image**
![Git](https://user-images.githubusercontent.com/51912296/63767468-5f1b3880-c8eb-11e9-88c3-7b14774b684d.png)

[2019-08-27 13:17] ochoadev opened #3852 "Show notifications with :hover property!"
**Is your feature request related to a problem? Please describe.**

This feature request isn't related to a problem, but it does to a feature on the website itself.

**Describe the solution you'd like**

I'd like to see my latest notifications from the current page or blog post I'm reading without going to the /notifications path.

This could be done with a :hover effect on the notification icon a

[2019-08-28 05:08] freyariki opened #3858 "500 error"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-08-28 06:24] araslanov-e commented on #413
https://github.com/thepracticaldev/dev.to/pull/3859

[2019-08-28 10:27] notapatch commented on #3493
So the issue is in markdown parser, here it's getting a list of children nodes under the body node and then searching for any text nodes. When you add an italic then it makes an `<em>` node' and the text node gets added to it making the text node a grandchild of the body - which means it will never get seen.

[code]

[code]

So I was thinking of two solutions

1) A more complicated XPath solution

[2019-08-28 13:13] rbrishabh commented on #3848
Hey! Can I take this up?

[2019-08-28 15:46] silvererudite commented on #2826
Hi @mariocsee ...I was able to run bin/setup this this time (had some dependency missing). But the setup fails with this error. Any ideas how to solve this?
![Screenshot (17)](https://user-images.githubusercontent.com/24827548/63871197-4723e180-c9dd-11e9-863e-7cbe81b8d3a7.png)

[2019-08-28 16:59] araslanov-e commented on #413
I think that a link to the image is needed in case js does not work, but you need to show the original image

[2019-08-28 18:13] silvererudite commented on #2826
hey @jessleenyc I set up the api keys in cnfig/application.yml from algolia but now i'm getting this error. pls help
![Screenshot (18)](https://user-images.githubusercontent.com/24827548/63881528-dcc96c00-c9f1-11e9-900d-37ff43821cef.png)

[2019-08-29 00:02] johncurcio commented on #3800
I'd like to work on this issue. It seems like I need to adjust ``notificationSubscriptionHandler.js`` to work with this case.

I'll submit a pull request once I'm done :)

[2019-08-29 13:38] notapatch commented on #3365
Before the 'fix' when the article is deleted the article's Notifications, NotificationSubscriptions are also removed from the database. However the comment associated with the article was not deleted having the  knock-on effect of Notifications, NotificationSubscriptions, Reactions associated with the orphaned comment also remaining in the database.

This feels inconsistent and the fix makes it so

[2019-08-29 13:48] micahlt opened #3874 "Add images for other tags"
I’ve noticed that around DEV there are certain tags (for example, #javascript) that have logos or images beside them when you click on the them.  There are also other tags that don’t have logos.

![41415838-EB4E-4CF1-9A6F-55D575833778](https://user-images.githubusercontent.com/28816297/63945840-b2030600-ca39-11e9-8aeb-2dd4678533cf.jpeg)

Why can’t all tags have custom images, submitted by moderato

[2019-08-29 14:26] Glennmen commented on #3874
I am not 100% sure but I think tag moderators can add images (called badges) to tags that they have permission for. Not sure if mods can add images are only link existing badges that team DEV team has made.
Here is the PR made by @benhalpern https://github.com/thepracticaldev/dev.to/pull/3074

If you would like to apply to be a tag mod you can contact the DEV team: https://dev.to/mod

[2019-08-29 14:38] maestromac commented on #1845
Thanks for pointing that out @dfranusic

[2019-08-29 17:07] f-wong opened #3876 "Integration with Keybase.io for identity proof"
In the day and age where people can be anonymous, misrepresent themselves and/or spoof other identities, it would be neat if dev.to can also integrate with keybase.io in order for people to verify that this is indeed your account and no one else's.

Would also be nice to have a special URL box designation for the keybase URL as well.

https://keybase.io/docs/proof_integration_guide

[2019-08-29 18:28] jbristow commented on #3648
Posting my more complicated examples that break formatting from #1284 for aids in testing:

### Single Deep
[code]

### Recursive
[code]

[2019-08-29 20:06] maestromac commented on #3776
resolved with https://github.com/thepracticaldev/dev.to/pull/3801

[2019-08-29 20:06] #3776 closed

[2019-08-29 22:02] mariocsee commented on #2826
Hi @silvererudite, based on the error message `Algolia::AlgoliaProtocolError: Cannot reach any host: execution expired...` and the line the error was raised `User.clear_index!`, it seems like the issue stems from improper Algolia key setup. Checkout our [installation docs for Algolia](https://docs.dev.to/backend/algolia/) just to double check your `application.yml` file. Hope this helps!

[2019-08-29 22:43] hajarislam opened #3880 "Dev Issue"

[2019-08-29 22:52] rohitshetty commented on #1805
@jessleenyc @benhalpern If this is not a high priority and immediate fix can I take this up to investigate further and raise a PR if possible?

[2019-08-30 00:16] Zhao-Andy commented on #3880
Not sure what this issue is for, but if you have a problem with your account please email yo@dev.to for assistance.

[2019-08-30 00:16] #3880 closed

[2019-08-30 00:17] mariocsee opened #3881 "DEV Listings Body Markdown"
**Describe the bug**
Some of the listings pop out a lot more than others—particularly with the use of large headers on markdown. It seems like markdown use isn't clearly mentioned in the creation of a listing that not enough users are making use of it, but also larger headers such as # (h1) might be too large and offset the overall styling.

**To Reproduce**
Visit `/listings` and observe the vario

[2019-08-30 00:18] Zhao-Andy commented on #3846
Sorry, just seeing this now! I switched the `description` and `tags` position and it seemed to work. Might be a weird front matter parsing issue.

[2019-08-30 02:52] omenking commented on #3846
No worries. What a funny fix. But if its works can't complain eh.

[2019-08-30 15:47] MatteoJoliveau commented on #3876
I was looking into implementing this exact feature. There is an [official gem](https://github.com/keybase/prove_keybase) that provides this flow quasi out-of-the-box. Can this be of interest for DEV? I for sure would love to add my profile as a Keybase proof and I'm willing to submit a PR for this feature.

[2019-08-30 16:37] BilLOPGVkPPn8z0JGJhgiAGNo9YAqpk5ruChl0F commented on #242
Kind of weird to use an open source website that requires signup with closed source websites.

[2019-08-30 16:47] lightalloy commented on #3715
I have started working on the issue and made the following steps:
- the webhook endpoints and api to create and destroy them #3783
- the simplest solution for dispatching events to the webhook endpoints #3872 . Currently WIP but I'll be finishing it soon.
The next steps (besides possible improvements or changes based on reviews) could be:
- figuring out and implementing the organization subscripti

[2019-08-30 18:37] ssimontis commented on #3876
Weird, I was looking into Keybase last night too. I know there are a lot of similarish offerings like Okta and Auth0, does Keybase offer something killer that the other solutions don't? I am most familiar with Auth0.

[2019-08-30 18:46] MatteoJoliveau commented on #3876
@ssimontis not quite. Keybase is not an authentication provider, rather it's a platform for cryptographic identities. You create a profile and link it with several other social platforms (Twitter, GitHub, hopefully DEV), domains you own, and many other ways to prove that the Keybase profile is indeed your own. Keybase's core is managing PGP keys, allowing you to upload and securely store you priva

[2019-08-30 21:11] jessehouwing opened #3884 "RSS import from Ghost.io shows kg-card comments in contents"
**Describe the bug**

I've imported the posts from my blog (https://jessehouwing.net/rss/), for some posts and some comments (``) in those posts (not all of them for some reason) show up in the rendered output, e.g.:

https://dev.to/jessehouwing/azure-devops-extension-tasks-1-2-3x-40kc-temp-slug-6514204?preview=3b37a62e7a640448cd967b546c003951da875a26c087051fdb50f11b1856716d4f8454cff4c25fbbd8e11c1

[2019-08-30 21:44] Zhao-Andy commented on #338
Hey @nickytonline, https://storybook.dev.to is now live! I managed to find a custom script on Stack Overflow to deploy multiple sites to Netlify from one repo.

Unfortunately, our Storybook build has some errors that I'm not sure how to debug. Here's what i see locally:
![Screen Shot 2019-08-30 at 5 43 52 PM](https://user-images.githubusercontent.com/17884966/64052770-c46e6400-cb4d-11e9-9578-fe07e

[2019-08-30 22:00] nickytonline commented on #338
Noice!

[2019-08-30 22:05] nickytonline commented on #338
I'll pull it locally and sort it out. Thanks for the efforts to get this published via Netlify!

[2019-08-31 03:04] nickytonline commented on #338
This is looking to be a bit more work than expected.🙃 I removed some deps to do a proper install of Storybook for Preact as they officially support Preact now. See https://dev.to/nickytonline/setting-up-storybook-for-preact-p5a. After doing the upgrade, I started getting some babel errors and this is where I'm currently at. I'm sure I'll get it sorted, just need to mess around with it a bit. It re

[2019-08-31 06:17] Amorpheuz commented on #3849
I would like to take up this issue!

[2019-08-31 17:58] Almenon commented on #3330
I got the same problem. I'm investigating it.

[2019-09-01 01:48] dylanesque commented on #3330
Weirdly, I haven't seen this big consistently across posts. It seems to pop up if text is copied from elsewhere, like another markdown file.

[2019-09-01 04:20] Almenon commented on #3330
It happens when the line of text is more than 20 lines down and you have a space going outside with width of the textarea. It's a bit more complicated than that and rather finicky to reproduce. It's easier to run into the problem in the V1 editor - I ran into it twice in a row just randomly. But it can still happen in V2 as well.

https://i.imgur.com/f9xnKIC.gifv

https://i.imgur.com/WjiePDj.gifv

[2019-09-01 19:32] dfactual opened #3891 "TSHEGO PINK PANTHER ALBUM DOWNLOAD"
[Tshego Pink Panther Album: South African artiste, Tshego finally releases his long-awaited studio project which is tagged “Pink Panther”. The 15-track album houses guest appearances from King Monada, Riky Rick, Kwesta, BLACK. CASS, Tellaman, Focalistic, Thabsie, Frank Casino, and more.

Download & Listen Below;

Tracklist;

DOWNLOAD MP3: Tshego – A Little While
DOWNLOAD MP3: Tshego – Right Now
DO

[2019-09-01 19:51] #3891 closed

[2019-09-02 04:43] Almenon commented on #3670
Just ran into this problem - I was writing an article on my laptop, saved it, closed the tab, went over to my desktop, added some notes to the same article, then realized my desktop had an outdated version that I just saved over the laptop version. Luckily even though I closed the tab I control-shift-t'd to reopen it and it still had my changed content.

Ideally if this is fixed a banner would be

[2019-09-02 05:36] Almenon opened #3898 "vertical scrollbar flashes in edge"
**Describe the bug**

The vertical scrollbar of the textarea flashes when entering new lines in edge.

**To Reproduce**

1. open dev.to in edge
2. create new article
3. enter in a bunch of newlines (let's say 20)
4. continue entering in newlines - vertical scrollbar will flash randomly

**Expected behavior**

Textarea scrollbar does not appear. No need for it.

**Screenshots**

**Desktop (please c

[2019-09-02 07:42] rebeccaskinner commented on #1856
I'd like to add that this seems like a very useful feature.  There are some tags that are dominant on the site and it can be very frustrating if someone is not interested in an extremely common subject (for example, I don't want to ever read anything about javascript).

[2019-09-02 10:01] weekly-digest[bot] opened #3900 "Weekly Digest (26 August, 2019 - 2 September, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 66 issues were created.
Of these, 37 issues have been closed and 29 issues are still open.
## OPEN ISSUES
:green_heart: #3895 [Refactor tags components](https://github.com/thepracticaldev/dev.to/pull/3895), by [jacobherrington](https://github.com/jacobherrington)
:gree

[2019-09-02 10:30] #3900 closed

[2019-09-02 14:20] rhymes commented on #3259
@theaupoulat just checking in, are you working on this? Thanks!

[2019-09-02 17:53] jacobherrington opened #3921 "[RFC] Adding an issue tracker to the sidebar"
**Is your feature request related to a problem? Please describe.**

Not really! I'd just like to find a way to direct more users to the codebase.

**Describe the solution you'd like**

I'd like to see an issue tracker added to the dev.to sidebar or as a key link:

<img width="311" alt="Screen Shot 2019-09-02 at 12 45 02 PM" src="https://user-images.githubusercontent.com/11466782/64129082-85275980-

[2019-09-03 00:45] wrldwzrd89 opened #3925 "Removing an article from the reading list doesn't remove the list entry right away"
**Describe the bug**

When a previously added reading list article is removed, the state within the article updates as expected. However, navigating to the main page to check how many items are in your list still shows the old count. Furthermore, navigating to the reading list itself shows the old article still there. Repeating the last 2 steps and refreshing several times eventually cleared thing

[2019-09-03 02:14] saidaspen commented on #1856
I also would like to see this feature. Soon. Before I drown in some of the ore popular tags :)

[2019-09-03 05:15] jpeg729 commented on #3670
I even tried deleting all site data in the Chrome devtools Application tab, and it still didn't help.
Then I tried leaving devtools open and ticking "Disable cache" in the network tab, and that helped, a bit. I get a flash of the up-to-date content, then the old draft replaces it.

## Further investigation

* The request to /{user}/{slug}/edit url contains the right data, and when I reload the edi

[2019-09-03 08:34] reyesvicente opened #3926 "Integrate with https://getstack.app/"
**Is your feature request related to a problem? Please describe.**

 The problem is I always have to type dev.to on the browser or open the DEV desktop app for mac which takes time since I only have 8GB of RAM.

**Describe the solution you'd like**

I recently discovered https://getstack.app/ which is a desktop app that has one screen with these apps:
![Screen Shot 2019-09-03 at 4 32 50 PM](https:

[2019-09-03 08:37] Glennmen commented on #3926
Not sure what you are asking, but you can add custom URLs in Stack.
If you are asking about an integration into the Stack application you should contact the Stack team. DEV.to can't add themselves in the application.

[2019-09-03 10:02] #3926 closed

[2019-09-03 10:03] reyesvicente commented on #3926
Right, I just figured that out now.

[2019-09-03 10:57] MatteoJoliveau commented on #3876
I'm almost done with this integration, may I open a PR afterwards @Zhao-Andy?

[2019-09-03 13:12] jessleenyc commented on #3874
You can also suggest an image for a tag by emailing yo@dev.to (which is what tag mods still have to do)!

Closing the issue since this would be an admin task!

[2019-09-03 13:12] #3874 closed

[2019-09-03 13:13] jessleenyc commented on #3849
@Amorpheuz go for it!

[2019-09-03 13:20] #3454 closed

[2019-09-03 13:23] akshayymahajan commented on #3217
Worked on the 0 min read problem. #3927 fixes the issue.

[2019-09-03 13:25] akshayymahajan commented on #3024
Fixes issue #3217

[2019-09-03 14:18] #3828 closed

[2019-09-03 14:40] benhalpern opened #3928 "Change `/api/articles/me` endpoint to only published articles by default."
We have this endpoint `api/articles/me` which returns all user articles. It's live but new and I think we can make some changes now rather than be stuck with current defaults.

I propose we change the default here to `published: true` and add params which allow you to deliver all posts, or drafts only, etc.

I think published-only is a safer default to err on the side of nobody accidentally leakin

[2019-09-03 15:26] jacobherrington opened #3929 "Begin internationalization and localization work; establish a pattern for all g11n/i18n work"
**Is your feature request related to a problem? Please describe.**

Virtually none of the content or text in the application is taking advantage of i18n, which leaves us in a less-than-ideal space when it comes to accessbility and the goal of allowing [self hosted instances of this application](https://docs.dev.to/self-hosting/).

**Describe the solution you'd like**

Ideally, most of the applicat

[2019-09-03 15:28] jacobherrington commented on #3929
The goal of this issue is to establish an ideal pattern to follow, which will be maintainable as the project grows.

Personally, I've never had the opportunity to lay the groundwork of an i18n implementation, so my opinions are limited.

[2019-09-03 15:45] rhymes commented on #3795
Hi @jankeromnes, can you try again to see if the error persists? I've just tried with Firefox 69 on macOS and after adding my credentials everything worked smoothly. It might have been a GitPod bug, let me know.

Thank you!

[2019-09-03 15:54] anquangman opened #3932 "Bug when making changes to a post on 2 different devices"
I logged in and edited my post on my laptop and save all my changes. But after a few hours I logged in to my account again using my desktop then something wierd happends. So if I click on Draft button. I can get my lastest work, but if I click edit to modify the content I will get an very old version of my content which I have already updated.

First device:
- Device: Laptop
- OS: MacOS
- Browser:

[2019-09-03 18:48] benhalpern commented on #3136
Here are a bunch of current/past PRs to reference as guidance along the way for new contributors:

https://github.com/thepracticaldev/dev.to/pulls?utf8=%E2%9C%93&q=is%3Apr+activejob

[2019-09-03 19:43] maestromac commented on #3932
Thank you for this issue @anquangman

This sounds like https://github.com/thepracticaldev/dev.to/issues/3670. Please continue the conversation there.

[2019-09-03 19:43] #3932 closed

[2019-09-04 09:14] mzahraei opened #3936 "i can not to be able to send new Post"
500 Error
It's not you, it's me.

Sorry you're hitting this page.
Please help us by submitting a bug report.
Thank you!

[2019-09-04 14:52] Zhao-Andy opened #3941 "Moving "Banish" and "Delete Account" actions into background jobs"
Sometimes when we banish an account, the process will timeout with a 503. After investigating, this usually happens because there is a chain of HTTP calls sent to Fastly in order to bust the caches of related content -- usually comment thread chains.

Busting related content doesn't have to be completely instant though, and we might want to consider moving it into a background job.

As for deletin

[2019-09-04 15:12] anderson058 opened #3942 "Hacking service"
Are you desperately in need of a hacker in any area of your life???

then you can contact; cyberfiles.hacker@gmail.com

I will help you at affordable prices, he offer services like
-hack into your cheating partner's phone(whatsapp,bbm.gmail,icloud,facebook, twitter,snap chat and others)
-Sales of Blank ATM cards.

-hack into email accounts and trace email location -all social media accounts,

-sch

[2019-09-04 15:22] #3942 closed

[2019-09-04 17:26] jessleenyc commented on #3936
Hm, sounds like this could be an individual account issue? If you're still experiencing this please email yo@dev.to for support. Thanks!

[2019-09-04 17:26] #3936 closed

[2019-09-04 17:30] jessleenyc commented on #3876
@MatteoJoliveau yep, feel free to open a PR whenever you're ready!

[2019-09-04 18:02] #3928 closed

[2019-09-04 19:04] jessleenyc commented on #1805
@rohitshetty, please go for it!! We've tried looking at it last week but it's a bit trickier than we realized so additional eyes are much appreciated.

[2019-09-04 20:34] jessleenyc commented on #3830
Err here's some info that is totally subject to change 😅 : https://dev.to/pro

[2019-09-04 21:03] benhalpern commented on #3819
@mvasigh It's a good look. Go with it!

[2019-09-04 21:15] cyrillefr commented on #2951
Hello, I did not forgot about this. I am planning to commit in a couple of days.

[2019-09-05 05:27] sa-js opened #3945 "Bug in footer"
**Describe the bug**
UI issue in footer

**Steps To Reproduce**
1. Go to Dashboard
2. You will see a list of posts
3. Click on any of your posts
4. Press browser back button
5. You can see that footer on dashboard is not aligned with list of posts

**Expected behavior**
Footer should be aligned with posts list

**Screenshots**
![Screen Shot 2019-09-05 at 10 21 34 AM](https://user-images.githubuser

[2019-09-05 09:08] MelissaHayes opened #3946 "I have problem with my account"
Hi Team,

        I can not access my profile in dev. I can't submit any blog. Kindly do needful.

Thanks,
Melissa.

[2019-09-05 13:56] maestromac commented on #3946
Hello @MelissaHayes , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-09-05 13:56] #3946 closed

[2019-09-05 16:23] foo-dogsquared opened #3949 "Incorrect awarding of writing streak badge"
**Describe the bug**

Hello! I just got the [4 Week Streak badge](https://dev.to/badge/4-week-streak) for some reason. I did recently got active but I didn't publish them on dev.to yet. Only one of them is recently published.

If you also look at my post history, I only published a total of **two** which are months far from each other to be awarded with this.

This is just wrong in my opinion to h

[2019-09-05 18:42] docljn commented on #2902
I have one concern around this: would it not encourage people to post more contentious/deliberately provocative content in an effort to get more of a reaction from the audience?

[2019-09-05 18:45] omenking opened #3950 "Tag Edit button for Moderator"
When I am a moderator and I am on the tags page.
I should see an edit button so I can easily edit the moderator tags.

[2019-09-05 18:46] omenking opened #3952 "Additional Tag Moderation Information on the Tags page"
When I am a new moderator and I am on a tag which I am the moderator for I should have info box to additional moderator content and guidelines.

[2019-09-05 18:47] omenking opened #3953 "Improve the tag edit pages"
This form can use some styling love.
For a moderator who wants to fill in a considerable amount of markup, it is a bit cumbersome.

<img width="566" alt="Screen Shot 2019-09-05 at 2 47 10 PM" src="https://user-images.githubusercontent.com/7776/64370248-14d14000-cfec-11e9-9115-20c7fcd9c52a.png">

[2019-09-05 18:49] omenking opened #3954 "Tag Rules should find its way infront of users before posting"
When I am a new user and not familiar with tagging rules.
I should see during my journey to creating an article that rules so I don't have a poor experience if my tags become moderator due to being unaware of tag rules

[2019-09-05 19:03] omenking opened #3955 "Tag Inbox for Mod"
Ben mentioned this functionality during the Moderator Zoom call.
I think the goal of this feature is a shared inbox that all moderators to talk to users but as one identified as the mod?

@benhalpern could you help clarify?

[2019-09-05 20:20] lucianolima00 commented on #3945
Hey @sa-js, I'd like to do this issue

[2019-09-05 22:04] #2939 closed

[2019-09-05 22:04] #3330 closed

[2019-09-05 22:04] #3898 closed

[2019-09-06 10:53] shivanisinghss opened #3961 "Error in Writing post"
I am not able to create new post. Getting error "500 Error
It's not you, it's me."

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-09-06 13:06] maestromac commented on #3961
Hello @shivanisinghss , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-09-06 13:06] #3961 closed

[2019-09-06 14:45] jessleenyc commented on #3949
Oh interesting, thanks for flagging.

[2019-09-06 14:49] jessleenyc commented on #3954
Thanks Andrew. I'm going to close this issue in favor of an older one that addresses the same concern: https://github.com/thepracticaldev/dev.to/issues/3051

[2019-09-06 14:49] #3954 closed

[2019-09-06 15:09] tqa236 opened #3963 "No link from the Dev Digest email works"
**Describe the bug**

No link from the Dev Digest works
**To Reproduce**

Click to a link in the Dev Digest email

I paste a [link](https://dev.to/ahoy/messages/putZR1MiqGauscmFswM8UvG6np6ZSmuJ/click?signature=ddd907ebfd7e29a5ea9c36a09a6e21f1033bf394&url=https%3A%2F%2Fdev.to%2Fmohanarpit%2F5-tips-for-beginners-to-learn-better-stay-motivated-1gha%3Futm_source%3Ddigest_mailer%26utm_medium%3Demail%26

[2019-09-06 15:28] jessleenyc commented on #3963
Thanks for flagging. We're taking a look at it now.

[2019-09-06 16:03] michaellee commented on #2424
Hey everyone! I think it would be cool if we could also "follow" or "subscribe" to a series. I could see this happening on either the new series UI that show up on posts or if the series page gets pushed out, a button showing up on there.

This way when new series are published they can pop up in notifications.

[2019-09-06 17:12] jessleenyc commented on #3963
Resolved with #3964

[2019-09-06 17:12] #3963 closed

[2019-09-06 17:19] jonathan-irvin commented on #739
bump?

[2019-09-07 15:42] jacobherrington commented on #3949
I believe I have seen this too. I think I got this badge a few months ago, and I remember thinking it didn't seem right.

[2019-09-07 15:43] jacobherrington commented on #3849
Hey @Amorpheuz, how is this going? You're welcome to DM me on Twitter or Dev if you would like some help 🤠

[2019-09-07 15:46] jacobherrington commented on #3921
I'm gonna start hacking on it 😉

[2019-09-07 15:54] #3259 closed

[2019-09-07 16:00] sparshrestha opened #3967 "deleting a comment after the parent post deleted"
**Describe the bug**

500 err

**To Reproduce**

Delete a post that already has a comment by you
Go to that comment and delete it
See err

**Desktop (please complete the following information):**

- OS: Ubuntu
- Browser: Chrome

[2019-09-07 16:04] Amorpheuz commented on #3849
Oh hey! My bad for disappearing for a bit, I am caught up with some irl submissions atm... I will be having a go at it during the weekend. I will hit you up in the dms if I come across some hurdles.

[2019-09-07 17:06] realabbas opened #3968 "Need Contrast in Follow Option in the Dark Mode"
Invisibility of the **Following Option** in the Dark Mode for Background Color **#093656**

![Screenshot (1082)](https://user-images.githubusercontent.com/43527087/64477981-74cc1000-d1bf-11e9-8aac-df3f7b697c03.png)

It would be great if the inner text is of White Color or of Opposite Contrast.

[2019-09-08 05:18] auvansang opened #3969 "Listing shakes"
**Listing Shakes**

**Expected Behaviors**
No Shake any more.

**Screenshots**

![Listing](https://user-images.githubusercontent.com/20507461/64483758-78e54580-d232-11e9-8f15-69f988d2a763.gif)

**Desktop:**

- OS: Windows 10 May Update
- Browser: Chrome
- Version: 76.0.3809.132 (Official Build) (64-bit)

[2019-09-08 11:16] rhymes commented on #3969
Hi @auvansang thanks for the issue! I tried both with Firefox and Chrome on macOS as a way to narrow down the scope and can't reproduce, so it might be a Windows only issue. Do you have Firefox installed? Can you check if you have the same issue? Just to narrow it down even further...

[2019-09-08 13:03] simov opened #3970 "API: Dashboard"
:wave: I saw you're working on a REST API, but I'm seeing only Articles and Webhooks there, so my question is: Is Dashboard support planned?

I wanted to show the view counts for my articles on dev.to on my personal website, that's being generated by a cronjob, so I ended up creating [this little script](https://gist.github.com/simov/8bffb278db0c0ba99b6fab0ca4d5fc96) that returns the data from my

[2019-09-08 13:15] simov commented on #3970
Wait just saw that the API article endpoints contain most of this data, but I'm not seeing the view count. So I guess the question is: Is `views` count returned by the API?

[2019-09-08 19:59] auvansang commented on #3969
Hi @rhymes, I had to test again under Firefox, everything works fine, but I also double check on chrome, and under Incognito mode, the issue still happens

[2019-09-09 05:38] EmNudge opened #3971 "Comment children of delete comments are not editable or able to be replied to."
**Describe the bug**
If someone deletes the comment you replied to, this isn't shown. Your comment is shown as if it is top-level. Any replies you have made further in the comment chain will also display as if they are top level.

The comments you posted will remain, but are not editable. You will get the 404 page ("You have lost your way."). If you try to reply to the comment, it will just stall

[2019-09-09 10:01] weekly-digest[bot] opened #3973 "Weekly Digest (2 September, 2019 - 9 September, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 73 issues were created.
Of these, 51 issues have been closed and 22 issues are still open.
## OPEN ISSUES
:green_heart: #3970 [API: Dashboard](https://github.com/thepracticaldev/dev.to/issues/3970), by [simov](https://github.com/simov)
:green_heart: #3969 [Listing shak

[2019-09-09 11:26] #3973 closed

[2019-09-09 11:41] Link2Twenty commented on #3968
This isn't a theme thing. The user Gajus has chosen to set the button colour to #093656 and has also chosen to leave the button text colour as default which, on this page, is always #0a0a0a because of the `cta` styles.

https://github.com/thepracticaldev/dev.to/blob/master/app/assets/stylesheets/scaffolds.scss#L113-L120

 🙂

[2019-09-09 11:46] Link2Twenty commented on #3969
Hmm, I can't reproduce the issue either. Have you got any plugs that run even in incognito?

[2019-09-09 12:21] Link2Twenty commented on #3969
Right, simple solution.

Something like.
[code]

I think there might be some breakpoints in there somewhere which will prevent the left margin always being there but I'm not sure.

[2019-09-09 12:45] Link2Twenty commented on #3728
Adding a style sheet for printing isn't a bad idea, there'd need to be a discussion about which part to keep and which bits to remove. Like do we need the series list, maybe? Also comments? There might be several pages of comments which the user may or may not want.

[print example](https://github.com/thepracticaldev/dev.to/files/3590502/Native.HTML_.Lazyloading.Revisited.-.DEV.Community._._.pdf)

[2019-09-09 13:23] #3493 closed

[2019-09-09 13:44] FultonBrowne commented on #3969
where should I look for this bug?

[2019-09-09 13:45] #3799 closed

[2019-09-09 13:47] Zhao-Andy commented on #3969
@FultonBrowne The relevant CSS should be in [`/app/assets/stylesheets/classified_listings.scss`](https://github.com/thepracticaldev/dev.to/blob/master/app/assets/stylesheets/classified_listings.scss).

[2019-09-09 13:58] danpeter0011 opened #3974 "I can't post an article."
Once I tried to post an article it leads to 500 server error especially while I click on (write a post button). Can you fix this bug for me

[2019-09-09 13:59] FultonBrowne commented on #3969
thank you! I will do what I can.

[2019-09-09 14:00] maestromac commented on #3974
Hello @danpeter0011 , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-09-09 14:00] #3974 closed

[2019-09-09 14:15] realabbas commented on #3968
Great. But I was just thinking that the default color should be set in such a way that whatever button colour is chosen, the button text should be visible.

[2019-09-09 14:28] jacobherrington opened #3982 "Dashboard should remember article sort order between devices"
**Is your feature request related to a problem? Please describe.**

I'd like the sorting of my dashboard to persist when I change devices or log out. It's a little disorienting to me because I'd really prefer drafts and articles to be sorted by publish date by default as opposed to the creation date.

**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/11466782

[2019-09-09 14:29] FultonBrowne commented on #3969
hey @Link2Twenty , how did you reproduce the bug?

[2019-09-09 14:32] Link2Twenty commented on #3968
I see 🙂
ref: #735

[2019-09-09 14:52] Link2Twenty commented on #3969
@FultonBrowne try setting the window width to 1125px

[2019-09-09 14:53] FultonBrowne commented on #3969
@auvansang go to this address and tell me if it works [https://3000-f496067b-0c59-4fbc-8be7-973b3b24bd05.ws-us1.gitpod.io/](url)

[2019-09-09 14:57] FultonBrowne commented on #3969
thanks @Link2Twenty will try as soon as my work space loads.

[2019-09-09 15:03] FultonBrowne commented on #3969
@Zhao-Andy how do you add tags to the listings in the local dev.to (gitpod)

[2019-09-09 15:38] auvansang commented on #3969
Sorry but the link was died.

[2019-09-09 16:08] Link2Twenty commented on #3969
I think they meant this link

https://3000-f496067b-0c59-4fbc-8be7-973b3b24bd05.ws-us1.gitpod.io/listings

[2019-09-09 16:33] #3949 closed

[2019-09-09 17:17] FultonBrowne commented on #3969
I may have a solution but now the dev server thing wont start :(

[2019-09-09 18:25] justuseapen opened #3990 "Direct Links to Comments Should Include Comment-specific Metadata"
![image](https://user-images.githubusercontent.com/4587141/64556442-67bd3700-d30d-11e9-89dd-8d20d0c31ecd.png)

**Is your feature request related to a problem? Please describe.**

Not really just an enhancement.

**Describe the solution you'd like**

When I share a link to a comment it should include comment-specific data in the embed metadata. So when the embed appears in slack/twitter, it could s

[2019-09-09 20:37] joelvarty opened #3994 "Error when uploading videos"
**Describe the bug**

When I tried to upload a video, I didn't see any message when the video was finished uploading.

**To Reproduce**

Upload a video.

**Expected behavior**

See a message that says the video was uploaded or there was an error.

**Screenshots**

![image](https://user-images.githubusercontent.com/4520625/64564685-19656380-d320-11e9-8b6e-d92f64c82d8c.png)

**Desktop (please comple

[2019-09-09 21:17] Kritner opened #3995 "Drafts with code blocks not appearing on dashboard from hexo generated atom feed."
**Describe the bug**

Draft not appearing on dashboard.  Draft not appearing should be showing up from this URL:
https://blog.kritner.com/2019/08/25/python-flask-with-heroku/
from this feed:
https://blog.kritner.com/atom.xml
for this user:
https://dev.to/kritner

**To Reproduce**

Not really sure how to reproduce, it's only impacting one particular draft, as I've had drafts come in from this RSS f

[2019-09-09 21:22] krishnadalal12 opened #3996 "RSS feed - fetch issues"
**Describe the bug**

 I am experiencing issues fetching new content from my RSS feed. It says the content was last fetched September 4th but I see no new drafts in my dashboards.

**To Reproduce**

 https://dev.to/settings/publishing-from-rss
 Enter the RSS feedlink
 press refresh
 see no new blogs in my dashboard

**Expected behavior**

 no new blogs from the RSS feed in our dashboard.

**Screen

[2019-09-10 07:10] realabbas commented on #3968
Okay, that makes sense. 👍

[2019-09-10 14:03] Amorpheuz commented on #3849
Rather than switching the text to dark color, I replicated the effect that was going on with the default theme of the hover being a shade different than the container-background, like this:
![image](https://user-images.githubusercontent.com/22113778/64620325-4a699500-d401-11e9-9bd3-4bd7f026c50e.png)

Here's how the night-theme and pink-theme look now, minimal-white stays similar to default:
- nigh

[2019-09-10 14:09] maestromac commented on #3849
That looks great @Amorpheuz !

[2019-09-10 15:08] maestromac commented on #3968
I was wondering why this is only happening on article page
![Screen Shot 2019-09-10 at 11 05 37 AM](https://user-images.githubusercontent.com/15793250/64625926-fe93fd00-d3ba-11e9-8f10-7c19a462c9c4.png)
vs
![Screen Shot 2019-09-10 at 11 05 55 AM](https://user-images.githubusercontent.com/15793250/64625944-03f14780-d3bb-11e9-95bf-0aee3fd7ae26.png)

the color property of sidebar is being overwritten

[2019-09-10 18:57] yafkari opened #4000 "API - update article not working"
**Describe the bug**

I was working on a little api client to update my posts from there, but then I realized that
the PUT method wasn't working (I think), I tried a POST request to be sure that wasn't from me.

The POST worked, it created a post.
But when I tried to send a PUT request, to update the title of an unpublished post, it didn't work.
I received a 200 status code, with the data of that

[2019-09-10 19:14] jessleenyc opened #4001 "Add Badges Page"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
It would be cool to see all available badges on a dedicated page for people to know which badges they can collect. There should be an indicator on whether or not a user already has a badge (i.e. all badges are grayed out but the ones they've collected are in color). Design-wise this can feel li

[2019-09-10 19:51] jessleenyc opened #4002 "Badges for contributor milestones"
**Describe the solution you'd like**

Right now we only have one contributor badge awarded when a DEV member makes their contribution. It would be awesome to have two more milestones -- at 32 or 64 PRs merged (we can tweak those numbers).

We're working on badge designs now but anyone is welcome to work on the code part!

[2019-09-10 23:28] Zhao-Andy commented on #4000
Hmm, I think we always render the 200 response and don't have error handling if the article does not update, based on:

https://github.com/thepracticaldev/dev.to/blob/590149fd48d87203ac2e164cc6c3ec6baf957b34/app/controllers/api/v0/articles_controller.rb#L42-L45

Might be wrong about this though. cc @rhymes

If you're updating an article that's using front matter, you won't be able to update the ti

[2019-09-11 02:29] jhonijlm opened #4005 "I can´t write a post, help me pls"
Hi, I have a problem when want to write a post  , help me pls
![image](https://user-images.githubusercontent.com/29264001/64663553-e26f7a80-d411-11e9-9215-9f76768b61a1.png)

[2019-09-11 05:45] FeruzOripov commented on #4002
Hi, @jessleenyc! How does badges awarding currently works. Can you describe workflow ?

[2019-09-11 07:13] Glennmen commented on #4002
@FeruzOripov Maybe this can help you in the right direction.

https://github.com/thepracticaldev/dev.to/blob/65fccf00a90647cf27c693ed100d75734e9d0db6/lib/tasks/fetch.rake#L91-L94

https://github.com/thepracticaldev/dev.to/blob/590149fd48d87203ac2e164cc6c3ec6baf957b34/app/labor/badge_rewarder.rb#L63-L75

[2019-09-11 07:43] rhymes commented on #4000
Hi @yafkari, how did you create the article? As @Zhao-Andy said, if there was a frontmatter you have to send the changed title in the frontmatter of the `body_markdown`. If instead you just didn't use a frontmatter, then we have a bug :)

@Zhao-Andy: you're correct, right now the API returns errors only if there were updating errors, it doesn't return errors if an update is overridden by the front

[2019-09-11 12:11] lightalloy commented on #3141
Besides the actual logging (implemented in #3449), I suppose the interface for admins would be useful. For now, that could be a simple paginated list in `/internal`. The only problem with `/internal` is that new items don't fit in the navbar (check out this comment for the context https://github.com/thepracticaldev/dev.to/pull/3997#pullrequestreview-286089490 )

[2019-09-11 14:14] Bhupesh-V commented on #4005
Have you tried logging in again ?

[2019-09-11 14:17] Bhupesh-V commented on #3996
Did clicking on **Fetch Feed Now** work?

[2019-09-11 14:53] maestromac commented on #4005
Hello @jhonijlm , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-09-11 14:53] #4005 closed

[2019-09-11 16:59] krishnadalal12 commented on #3996
Hi,
No, it did not. I just tried and I still see the same no new articles from the feed.
[cid:image001.png@01D56887.A65994E0]

Cheers,

Krishna Dalal
Developer Marketing Specialist
Krishna.dalal@okta.com
[Okta • Connect everything]<https://www.okta.com/>

From: Bhupesh Varshney <notifications@github.com>
Reply-To: "thepracticaldev/dev.to" <reply@reply.github.com>
Date: Wednesday, September 11, 201

[2019-09-11 18:40] yafkari commented on #4000
Thank you @Zhao-Andy and @rhymes for the quick reply.

@rhymes, I created the article with the editor v1, so with the frontmatter apparently.
I didn't know that I had to do it this way (with body_markdown), sorry for that.

So, apparently everything is fine ^^.

Honestly, it would be cool to be able to update an article the same way for every articles.

Anyway, thank you for the help and sorry for

[2019-09-11 18:40] #4000 closed

[2019-09-11 18:41] Zhao-Andy commented on #4000
No worries, we should add better documentation around that! Thanks for raising the issue.

We'll also need to add error handling for the update action at least.

[2019-09-11 19:55] #3848 closed

[2019-09-12 06:15] gautamkrishnar commented on #212
This issue is still there:
<img width="1440" alt="Screenshot 2019-09-12 at 11 41 01 AM" src="https://user-images.githubusercontent.com/8397274/64758534-72b4d900-d552-11e9-96c2-cbb08469b4ce.png">
 Shows 525 stars for my repo that has 800+ stars: https://github.com/gautamkrishnar/nothing-private

### Workaround
The only workaround is removing the repo and re-adding it.

[2019-09-12 07:17] simplytammy opened #4010 "Follow button text missing on my profile"
**Describe the bug**

a

The follow button seems to have its text missing on my profile

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device: Tecno
- OS: Android
- Browser: Chrome
- Version:

**Additional context**

[2019-09-12 07:24] jmfayard opened #4011 "Kotlin snippets support"
**Describe the bug**

I contributed the feature #3776 `Support for runnable kotlin snippets`

The one thing that prevents to be usable is bad iframe height.

**To Reproduce**

Open my article https://dev.to/jmfayard/with-configobject-language-kotlin-issparkingjoy-ic4

Scroll down to the runnable snippet and press **Run ▶️**

**Expected behavior**

I should see this:

![image](https://user-images.g

[2019-09-12 20:40] omenking opened #4015 "Set maximum width on images within the chat."
[code]

<img width="1106" alt="Screen Shot 2019-09-12 at 4 37 45 PM" src="https://user-images.githubusercontent.com/7776/64819285-e3242000-d57b-11e9-9a28-6c1132ad9983.png">

[2019-09-13 09:18] Clarity-89 commented on #3639
Hi @jessleenyc was just wondering about this. Do you hide the followers count on profiles intentionally? What was the reasoning for it? Not turning dev.to into a popularity contest is my first guess, not sure if I'm right tho :)

[2019-09-13 11:26] lightalloy commented on #4002
Personally, I would even make the number 8 for the badge. (At this point I recalled Hacktoberfest with  4 prs, but it's timebound, so that's another story).

[2019-09-13 12:14] omenking commented on #4015
I can't guarantee future formating. I have two babies here on my end, so many a time I am just trying to get the ticket in, otherwise, I'll just forget and not submit.

[2019-09-13 15:46] jacobherrington opened #4020 "Polls can be accessed indescriminately in preview"
**Describe the bug**

You can see any poll in the article preview, regardless of your permissions.

**To Reproduce**

(In production)
1. Make a new article
2. Add a poll with an id of 1
3. Click preview

**Expected behavior**

Some kind of warning about how only admins can make polls.

**Screenshots**

https://www.loom.com/share/2f6170d39c4245b1bd2f9c09d92914aa

**Desktop (please complete the foll

[2019-09-13 16:15] Zhao-Andy opened #4021 "Markdown processor not rendering italics / asterisks and underscores properly"
@remotesynth wrote:

Examples:
[code]

[2019-09-13 16:45] rhymes commented on #4015
@omenking eheh they definitely take priority, thanks for the issues! Keep sending them over!

[2019-09-13 16:54] rhymes commented on #4020
Great find @jacobherrington!

[2019-09-13 17:54] jacobherrington commented on #4020
Credit goes to @Amorpheuz as well, I stumbled on this helping him with https://github.com/thepracticaldev/dev.to/pull/4012 😉

[2019-09-13 19:24] jessleenyc commented on #3639
@Clarity-89 exactly -- we don't really want people to feel judged for how many followers they do/do not have here.

[2019-09-13 20:01] johncurcio commented on #3136
Hey, @lightalloy , I'm going to help with ``reaction.create``.

[2019-09-14 05:39] CalinZBaenen opened #4023 "Notification time display is glitchy..."
**Describe the bug**

So you know how a notification system works, right? Shown in an orderly fashion from most recent to least. Well DEV's notification clock decided to take a break...
I got a post for 2 minutes ago, and it has already been an hour and I refreshed (even used the DEV app) (So the clock isn't updating the upload time), then a comment from "14" hours ago, after a post from..... 4 mi

[2019-09-14 06:49] rhymes opened #4024 "Chat doesn't extend to its frame on Firefox iOS"
**Describe the bug**

DEV Connect doesn't occupy the entire window frame on Firefox iOS

**To Reproduce**

1. Go to https://dev.to/connect
2. Notice how the chat doesn't fully extend to the entire page, like it had a margin bottom preventing it to fully use the browser window.

This doesn't happen on Firefox for Android

**Expected behavior**

Expect the chat to not be restricted to the upper part

[2019-09-14 06:56] rhymes commented on #4023
I noticed the same, I think the bug is a combination of caching and how those "times ago" times are rendered.

I think all of the "times ago" string are rendered server side and part of the cache which, if not perfectly orchestrated, means that you'll likely get stale content. I haven't looked at the caching strategy for notifications yet but it could have bugs.

The notification itself can be ful

[2019-09-14 07:31] CalinZBaenen commented on #4023
@rhymes Yea, and I don't receive any new notifications (or I am not getting any...), so It's just broken......

[2019-09-14 10:26] Manojpackers opened #4025 "Home shifting services in Noida."
We Delhi packers and movers are in the packing and moving industry since 2000. We have adding and creating values in our customers’ lives since 18 years. We are pioneers in providing end to end service to all our clients, pioneers in providing personalized and customized service. At Delhi packers we have a limited team of service providers, so that our clients’ have a personalized touch to their b

[2019-09-14 12:27] Clarity-89 commented on #4024
Can reproduce on Chrome in responsive mode. Not sure if it's a bug or a feature tho. There are a few containers with calc height.

[2019-09-14 14:42] brittany-johnson opened #4026 "Text highlighting within blog posts"
**Is your feature request related to a problem? Please describe.**

This feature request is not related to a problem. When reading articles on [medium](https://medium.com/), I love to highlight text that I find interesting or useful and would like to reference in the future. I would find this feature super useful and I'm wondering if other people feel the same?

**Describe the solution you'd like*

[2019-09-14 15:48] realabbas commented on #4025
No promotional materials Please
![](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQtUPXJ5PDK7Nmv4itk4N3ZzeC1vd5-1G8STDCBSwGy46zC06Hx)

[2019-09-14 15:50] realabbas commented on #4025
No promotional materials Please
![](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQtUPXJ5PDK7Nmv4itk4N3ZzeC1vd5-1G8STDCBSwGy46zC06Hx)

[2019-09-14 16:00] realabbas opened #4027 "Social icon color is always different from what is defined for it."
**Describe the bug**
 In the dark theme, the social icon color is always different from what is defined for it.

In the  **app\views\users\show.html.erb**

`.night-theme .profile-details .social .icon-img path {
            fill: white;
          }`

**Expected behavior**
Now look at this image, the property is always set to white, but it is not reflecting on the social icons, they are still black

[2019-09-14 16:12] #4025 closed

[2019-09-14 19:09] filalex77 commented on #3136
I'm doing `index.delay.delete_object("users-#{id}")`.

[2019-09-14 21:09] Dak425 commented on #3136
I'll work on ```user.follow```

[2019-09-15 03:00] auvansang commented on #3969
Sorry, But how can I test this?

[2019-09-15 05:47] rumkin opened #4029 "Add a short version of a Github embed block"
**Is your feature request related to a problem? Please describe.**

Currently, embedding of Github repository takes very much page height. I'm usually importing a repository with some context so user don't need to view readme. It's especially actual when you import several repos in a row. Even short article became too long to scroll.

**Describe the solution you'd like**

I'd like to have a soluti

[2019-09-15 12:02] phillipknight commented on #4023
Getting this consistently, including "5 hours ago" for a post 5 days ago and "2 minutes ago" for a post 7 days ago.

[2019-09-15 17:05] rhymes commented on #4029
Love this idea!

[2019-09-16 02:43] griffinator76 commented on #160
Any update on whether this was actually resolved? Just started using dev.to and it seems a bit weird that posts get "likes" but it seems there's no way to tell who liked it?

[2019-09-16 08:55] sushant12 opened #4030 "Show list of user who liked/bookmarked/unicorn"
**Is your feature request related to a problem? Please describe.**

I get notifications when someone likes my post but I dont get to see who liked them

**Describe the solution you'd like**

 It would be nice to show list of user who liked my post when i  click on the number beside the icon (Just like in medium)

**Additional context**
If you like this idea, I can send a PR

[2019-09-16 10:02] weekly-digest[bot] opened #4031 "Weekly Digest (9 September, 2019 - 16 September, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 58 issues were created.
Of these, 31 issues have been closed and 27 issues are still open.
## OPEN ISSUES
:green_heart: #4029 [Add a short version of a Github embed block](https://github.com/thepracticaldev/dev.to/issues/4029), by [rumkin](https://github.com/rumkin)
:g

[2019-09-16 12:33] ronaldspaul opened #4032 "1Y0-240 Dumps - Get Actual Citrix 1Y0-240 Exam Questions PDF"
Citrix 1Y0-240 Exam Dumps PDF and Practice Test Engine Ensure Your Success in the 1Y0-240 Exam with Excellent Grades

If you are preparing for the Citrix NetScaler Essentials and Traffic Management 1Y0-240 exam and want to ensure your success then you should use a verified Citrix 1Y0-240 exam questions dumps. You would not be able to score your desired marks if you do not have a proper source of p

[2019-09-16 12:33] #4032 closed

[2019-09-16 13:19] #4031 closed

[2019-09-16 13:21] maestromac commented on #160
Thanks for raising this @griffinator76 . This feature is not implemented yet.

[2019-09-16 13:25] maestromac commented on #4030
Thank you for this issue @sushant12  . There already an issue on this. Please continue the conversation there.

Duplicate of https://github.com/thepracticaldev/dev.to/issues/160

[2019-09-16 13:25] #4030 closed

[2019-09-16 14:05] #3257 closed

[2019-09-16 14:23] maestromac commented on #3994
Thanks for raising this @joelvarty !

I was able to reproduce this issue. I believe this issue has to deal with the redirecting as supposed to the upload process. Did you see an unpublished post with your video in your dashboard?

[2019-09-16 14:30] joelvarty commented on #3994
I did!  I ended up deleting it.

From: Mac Siri <notifications@github.com>
Reply-To: "thepracticaldev/dev.to" <reply@reply.github.com>
Date: Monday, September 16, 2019 at 10:23 AM
To: "thepracticaldev/dev.to" <dev.to@noreply.github.com>
Cc: Joel Varty <Joel@agilitycms.com>, Mention <mention@noreply.github.com>
Subject: Re: [thepracticaldev/dev.to] Error when uploading videos (#3994)

Thanks for ra

[2019-09-16 14:34] maestromac commented on #3995
Thanks for raising this @Kritner

This an RSS processing issue. It seems like your feed [isn't valid](https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fblog.kritner.com%2Fatom.xml) but I'll pinpoint exactly what's causing the error for that particular article.

[2019-09-16 14:37] Zhao-Andy commented on #4011
Hmm interesting, I wonder how Stripe's Runkit embed handles this. Worth looking into though. Thanks for the issue!

[2019-09-16 14:38] maestromac commented on #4010
Thanks for helping @simplytammy  resolve this, @nickytonline !

Closing

[2019-09-16 14:38] #4010 closed

[2019-09-17 11:54] dzhavat opened #4047 "Reading time for posts in Feed"
**Describe the bug**
The reading time for all posts but the topmost (the featured one) is 1 min.

**To Reproduce**

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/1096332/65039431-8dbc8a00-d952-11e9-8351-383f9495ca28.png)

**Desktop (please complete the following information):**

- OS: Windows 10
- Browser: Firefox (stable)
- Version: 69

**Smartphone (p

[2019-09-17 12:25] rhymes commented on #4047
Thanks @dzhavat, great catch! It appears that all posts on the homepage, except the first one, as you noticed are indeed reset at 1 minute: https://dev.to/

[2019-09-17 13:46] michael-tharrington opened #4048 "Allow Org Members and Admins the Ability to See Org Followers Count"
**Is your feature request related to a problem? Please describe.**

An org member recently contacted us, asking if there is a way to view org follower count as an org member. It appears that there isn't.

**Describe the solution you'd like**

As an org member (and org admin), I think it'd be great to be able to access org follower count and total views from the user dashboard here: https://dev.to/

[2019-09-17 13:59] Kritner commented on #3995
Oooh, i like that feed validator link, never seen it before :D

and sounds good! I'll probably have to go back and try to fix up the other issues in there at some point

[2019-09-17 16:10] benhalpern commented on #4001
I think this should be `/badges`.

It should be a list of badge "shapes", e.g. empty images created with css filters.

It would look like a "sticker page", if that makes sense, like a grid of unfilled images if you don't have them.

[2019-09-17 16:25] cyrillefr commented on #3669
Hello @benhalpern , I would like to volunteer for this one.

[2019-09-17 17:10] pkfrank opened #4050 "Usernames not reliably hyperlinking in articles"
**Describe the bug**
Usernames are not reliably linking properly.  For valid usernames, talking about `@username` should hyperlink it to `/username`, but it's not working in every instance.

**To Reproduce**
Markdown below.  Notice that one of the usernames is hyperlinked, the other is not.

**Expected behavior**
Valid usernames properly hyperlink

**Screenshots**
![example of username issue](http

[2019-09-17 17:17] #4047 closed

[2019-09-17 17:26] rhymes commented on #3669
@cyrillefr to keep things small maybe you could do it in steps, first a PR to add collection ids to articles and the ability to filter articles by those ids, then a separate PR with a controller to get the list of collections that a user has

makes sense?

[2019-09-17 17:56] johncurcio commented on #4029
I'd love to work on this issue. I'm gonna go with hiding the readme part if ``readme=no``.

Are we set on this syntax (``option=value``) for the options part of the liquid tag? Because it would be nice to document this so that we stay consistent if any other tags need these types of options.

[2019-09-17 18:11] rhymes commented on #4029
Yeah, that's the format, see some tags that already support options in the [editor guide](https://dev.to/p/editor_guide) (glitch and codesandbox for example)

[2019-09-17 18:11] rumkin commented on #4029
I've checked and it seems `no-readme` will be more correct. For example glitch has url option `attributionHidden=true` which presented as `no-attribution` in liquid tags parser: [/app/liquid_tags/glitch_tag.rb:50](https://github.com/thepracticaldev/dev.to/blob/099b1885305d245f0e278c005cc3d0883e2510a3/app/liquid_tags/glitch_tag.rb#L50).

[2019-09-17 19:51] krishnadalal12 commented on #3996
Thank you!

Krishna Dalal
Developer Marketing Specialist
Krishna.dalal@okta.com
[Okta • Connect everything]<https://www.okta.com/>

From: Andy Zhao <notifications@github.com>
Reply-To: "thepracticaldev/dev.to" <reply@reply.github.com>
Date: Monday, September 16, 2019 at 7:38 AM
To: "thepracticaldev/dev.to" <dev.to@noreply.github.com>
Cc: Krishna Dalal <krishna.dalal@okta.com>, Mention <mention@nor

[2019-09-17 20:45] karx opened #4052 "[Discussion] Image Viewer"
This is in response to https://github.com/thepracticaldev/dev.to/pull/3859, which is PR adding a image viewer (luminous-lightbox).

* Do we need such a viewer?
* UI commits if needed.
* Choice of library if any.

[2019-09-17 21:34] maestromac commented on #4052
Thanks for raising this @karx

There's already an issue on this topic at https://github.com/thepracticaldev/dev.to/issues/413 . You are encouraged to continue the discussion there

Closing.

[2019-09-17 21:34] #4052 closed

[2019-09-18 02:44] sushant12 commented on #160
I can work on this feature but I cant write css

[2019-09-18 07:28] abenettt opened #4055 "OpenGraph links use http instead of https"
OpenGraph links use http instead of https.
I found this to be the case with at least these two posts.

https://dev.to/ben/if-you-were-tasked-to-conduct-a-security-audit-on-a-server-database-backed-web-app-where-would-you-start-573o

https://dev.to/nerdmom630/free-code-camp-and-it-s-community-4el1

**Screenshots**
![image](https://user-images.githubusercontent.com/7523903/65125611-fad52b80-d9f5-11e

[2019-09-18 08:37] rhymes commented on #4055
Thanks @abenettt, great find!

I think this has to do with how we build the URLs server side.

The same happens for listings https://dev.to/listings/products/base-api-for-authentication-email-sending-image-upload-and-more-5911 if you look at the source code

It seems like `_url()` routing functions are generating HTTP URLs instead of HTTPS, for example in here: https://github.com/thepracticaldev/d

[2019-09-18 09:14] Mellen opened #4057 "Home page does not populate articles until lots of scrolling happens"
The home page only displays one article, and three "article loading" place holders. The place holders turn into article previews only after I scroll past them (so I miss the first preview).

This is not a case of not waiting long enough. I can leave the page in that state forever.

To reproduce the bug open the home page.

**Expected behavior**

The place holders should load article previews when

[2019-09-18 10:50] rhymes commented on #4055
The same happens for tags as well: https://dev.to/t/discuss and comment pages and user profiles:

[code]

this is my own profile's social image URL

[2019-09-18 14:12] rhymes commented on #2147
unstale

[2019-09-18 15:25] maestromac commented on #3990
Thank you for this feature request @justuseapen !

We think this is a great idea! For anyone to wishes to tackle this, take a look inside [SocialPreviewsController](https://github.com/thepracticaldev/dev.to/blob/master/app/controllers/social_previews_controller.rb) and [HtmlCssToImage](https://github.com/thepracticaldev/dev.to/blob/master/app/lib/html_css_to_image.rb).

[2019-09-18 15:37] maestromac commented on #4026
That's definitely a useful feature!

I've never use that feature myself but I've seen "Top highlight" appearing here and there. Is this something that is only reserved to the reader and not the author?

[2019-09-18 15:45] DavidRaw opened #4061 "Deleted App from keybase problems re installing due to understanding of verification"
I logged in to keybase on my PC and can see I have 2 devices. Home PC and Phone. Also have various keys. Needed to reinstall keybase app on phone as had deleted it.

On phone I choose log in, enter my user name. I then get a message 'For security reasons, you need to authorise with an existing device. Which of your existing devices would you like to choose'

I have option of Phone or Home Computer

[2019-09-18 15:50] Zhao-Andy commented on #4061
Don't think I understand your comment. Is this about Keybase? As of writing, we don't have any integrations with Keybase.

Since it's not apparent that this is about dev.to, I'll be closing this issue.

[2019-09-18 15:50] #4061 closed

[2019-09-18 15:54] DavidRaw commented on #4061
So Sorry posted in the wrong place

[2019-09-18 17:42] #4055 closed

[2019-09-18 17:58] Clarity-89 commented on #4027
This is actually an issue with the `HexComparer`, which in this case fails to provide an appropriate brightness adjustment for the smallest value from user's background and text colors (at least that's how I understood what it does).

@realabbas what colors do you have in your settings for the text and background?

[2019-09-18 18:56] realabbas commented on #4027
Background Color : #E23737
Text Color: #FFFFFF

@Clarity-89

[2019-09-18 20:51] maestromac commented on #4057
Thank you for this raising this @Mellen  .

This looks like duplicate of https://github.com/thepracticaldev/dev.to/issues/1805. Please continue the conversation there.

[2019-09-18 20:51] #4057 closed

[2019-09-18 21:05] maestromac commented on #160
Thank you for volunteering @sushant12 . We need to give this feature a bit more thought before moving forward.

[2019-09-18 21:15] #4050 closed

[2019-09-19 00:03] maestromac commented on #3995
Our RSS reader is having trouble parsing your code blocks since they are in a table. Are you using CodeRay for your syntax highlighting?

[2019-09-19 02:49] sushant12 commented on #160
@maestromac  sure thing.

[2019-09-19 09:39] rumkin opened #4064 "Move "Images" button from text bottom to buttons panel"
### Problem

Image upload dialog button is located after the textarea element in the editor. Insertion of an article cover or other images makes user to scroll to the page bottom, upload image and then scroll back to the position where image should be placed.

Why it's bad: users loose context after image upload and need to spend some time to restore it. And as result it require more author's atte

[2019-09-19 10:06] Kritner commented on #3995
Hmm... I'm not sure actually, The blog is built with [hexo](https://hexo.io/).  And yeah I've noticed other imports with code need slight modification prior to being postable, but I've not yet had the issue of the post just not hitting the draft state.  Are you able to narrow it down to a specific code block?

[2019-09-19 14:22] maestromac commented on #3995
I believe it's all the code-blocks with line numbers.
![Screen Shot 2019-09-19 at 10 20 16 AM](https://user-images.githubusercontent.com/15793250/65252547-22e08f80-dac7-11e9-8844-8df777db710c.png)
We use ReverseMarkdown gem but the result above from [Turndown](https://domchristie.github.io/turndown/) is the same. The line numbers are completely separated from code blocks. 🤔

[2019-09-19 15:03] kenbellows opened #4068 "Notifications "Load More" button is unreadable in the night theme"
**Describe the bug**

When using Dev.to's night theme, the "Load More" button in [the Notifications page](https://dev.to/notifications), seen when you scroll all the way to the bottom of the page or hit the <kbd>End</kbd> key, appears with black text (at least with default system settings; see Additional Context section below). This makes the text unreadable on the night theme's dark background.

[2019-09-19 17:16] #4029 closed

[2019-09-19 17:36] brittany-johnson commented on #4026
Yep! The highlighting feature is reserved for the reader. On my Medium profile, I can also see all of my highlights. Not sure if other users can see my highlights when visiting my profile. I don't find this part very useful though.
<img width="1792" alt="Screen Shot 2019-09-19 at 12 34 27 PM" src="https://user-images.githubusercontent.com/24909007/65267116-feda7980-dad9-11e9-907a-64462a63fb14.png"

[2019-09-20 09:47] Kritner commented on #3995
yeah that is unfortunately one of the things i've had to modify with each draft that's come in since moving to hexo, i wonder if there's a different plugin i could use for doing code blocks... (what i was using comes built in with the engine)

even still though, these blocks have imported ok in the past, there's gotta be something specific about this post and what's in the blocks that's just compl

[2019-09-20 13:24] cyrillefr opened #4073 "Api doc not accurate with tags"
**Describe the bug**
I am working on the listing api and noticed when testing that documention for an article creation was not accurate in regards to the `tags` parameter.

**To Reproduce**
See at : [https://docs.dev.to/api/#tag/articles/paths/~1articles/post](url)

**Expected behavior**
An array should be used instead of a string (which would be tag_list)

**Screenshots**
`"article": {`
`    "tit

[2019-09-20 13:41] dillionmegida opened #4074 "WARNING required, while trying to navigate out of current page (or reload) while writing"
**Is your feature request related to a problem? Please describe.**
While writing an article (on mobile), I unintentionally clicked the DEV logo (which is also a link). This redirected me out of the page without a warning (like "you'll lose your current changes").

**Describe the solution you'd like**
Two solutions to this which I'd like is
- A warning alert which allows the user to decide whether

[2019-09-20 13:48] Zhao-Andy commented on #4074
Thanks for the issue. We currently have autosave for drafts. If you leave the page, you should be able to navigate back to "WRITE A POST" (`/new`) or your draft post via your dashboard, and see your draft available in the editor.

Closing since this should be solved, but let us know if you have any questions!

[2019-09-20 13:53] rhymes commented on #4073
@cyrillefr thanks for catching this!

[2019-09-20 13:58] dillionmegida commented on #4074
I've tried this before and I just did it again.

I wrote testing, then clicked the dev logo. I went to my dashboard but didn't see it. I also clicked on Write Post, but I got a blank page.

[2019-09-20 13:59] Zhao-Andy commented on #4074
Hmm alright. Could we get your device and browser information?

[2019-09-20 14:02] dillionmegida commented on #4074
64-bit Operating System, Windows 10, Intel Pentium Processor

Google Chrome - Version 76.0.3809.132

[2019-09-20 14:08] Glennmen commented on #4074
@Zhao-Andy I wanted to add that I am not seeing it in my dashboard (`/dashboard`) as a draft, but indeed it is still available when I go back to `/new`.

macOS 10.14.6
Brave Version 0.68.138 Chromium: 77.0.3865.75

[2019-09-20 14:13] maestromac commented on #3995
Has the line number always been enabled in the past?

[2019-09-20 14:14] #4073 closed

[2019-09-20 14:16] Zhao-Andy commented on #4074
Thanks @Glennmen :)

@dillionmegida I can't seem to reproduce on my Windows 10 Chrome browser. When visiting "WRITE A POST" (`/new`), it will autosave any changes you have made. Those changes will be kept in `/new` for you to revisit in that same browser session. Note that our autosave feature currently doesn't handle different sessions / new tabs all that well (see https://github.com/thepractical

[2019-09-20 14:18] Glennmen commented on #4074
@Zhao-Andy In the original issue he said `on mobile` but when you asked his device information he said `Windows 10`, could it be storage handling on mobile browser?

[2019-09-20 14:19] Zhao-Andy commented on #4074
Not sure, but I also tested on Android Chrome + iPhone Chrome and couldn't reproduce it.

[2019-09-20 14:37] maestromac commented on #4064
Thank you for this suggestion @rumkin ! There already an issue on this. Please continue the conversation there.

Duplicate of https://github.com/thepracticaldev/dev.to/issues/2994

[2019-09-20 14:37] #4064 closed

[2019-09-20 15:08] dillionmegida commented on #4074
Well, those are the issues I'm experiencing both on my mobile device and desktop browser.

However, my little contribution to Dev.to is to include a WARNING as stated above or an autosave for drafts. I'm always getting a blank page in /new.

I wrote an article and was just on the conclusion part when I mistakenly hit the DEV logo. I had to start afresh.

I do hope my contribution is given due cons

[2019-09-20 15:58] Zhao-Andy commented on #4074
I think that's fair. Do you mind leaving a screenshot or a gif of the issue? You can also email it to yo@dev.to if you'd like. My guess is that it might be a device specific issue.

[2019-09-20 17:51] michael-tharrington commented on #3802
Just found another example of this [here](https://twitter.com/The_React_Dev/status/1175104447443324930):

![https://cl.ly/faff3a2d7a71/Image%202019-09-20%20at%2011.50.56%20AM.png](https://cl.ly/faff3a2d7a71/Image%202019-09-20%20at%2011.50.56%20AM.png)

[2019-09-20 21:12] Kritner commented on #3995
I haven't changed any settings recently I don't believe, though I did update some packages (including the hexo version) maybe that broke something... it always imported the code a little weirdly, though I guess now it's not working at all :(

I added this minimal post for testing, it has not yet hit my dashboard either https://blog.kritner.com/2019/09/20/test-post-with-code/

Well, this is no fun

[2019-09-21 09:10] umerkay opened #4078 "Drawing Line connections not smooth on Offline Page"
The offline page displayed allows users to draw anything on the screen, presumably while they wait to get access to the internet again. (The landing page when the user tries connecting to the website without an internet connection (or with one which doesn't work).
The lines drawn are not smooth since they are simply connected by lines through the vertices.

A simple algorithm can be used to make t

[2019-09-21 15:35] pavelloz commented on #1856
+1.

The amount of react hooks is too damn high.

[2019-09-21 18:57] Kritner commented on #3995
I spent some time fixing some of the issues from the [validator](https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fblog.kritner.com%2Fatom.xml) posted above, additionally I updated all my packages, especially around the feed generation based ones, with the hopes that it would correct the issue.  Unfortunately it does not appear to have done so.

Interestingly enough, here is another post t

[2019-09-21 20:53] dillionmegida commented on #4074
I'm having issues loading a gif.

Since someone already confirmed the /new for  retrieving saved drafts, I guess that solves it. It's probably a device or network issue.

But my contribution still remains. I think a warning is more preferable to avoid network, device or any other issues.

[2019-09-22 15:07] msfjarvis commented on #4023
From what I can tell the clock stops updating as soon as you open the notifications view. The last post in the screenshot was posted on [19th of September](https://dev.to/devteam/welcome-to-the-big-thread-club-yaser-al-najjar-you-are-the-latest-winner-of-the-big-thread-badge-ni2) while the one before it was posted on [20th of September](https://dev.to/jess/what-was-your-win-this-week-301d).

![ima

[2019-09-22 15:54] shushugah opened #4079 "Embedding dev.to comment in Dev.to results in broken HTML"
**Describe the bug**

On my post a regular dev.to comment was posted (albeit with Japanese characters in their profile) but when I embed their comment in my profile it shows broken HTML 4 tags

post (broken): https://dev.to/shushugah/gitlab-hacks-28cg
comment (not broken: https://dev.to/lukeshiru/comment/e7dd

**Screenshots**

<img width="712" alt="Screenshot 2019-09-22 at 17 54 52" src="https://u

[2019-09-23 03:02] jhonijlm commented on #4005
HI, I had to delete, and register again

[2019-09-23 10:01] weekly-digest[bot] opened #4080 "Weekly Digest (16 September, 2019 - 23 September, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 47 issues were created.
Of these, 41 issues have been closed and 6 issues are still open.
## OPEN ISSUES
:green_heart: #4079 [Embedding dev.to comment in Dev.to results in broken HTML](https://github.com/thepracticaldev/dev.to/issues/4079), by [shushugah](https://githu

[2019-09-23 11:32] Link2Twenty commented on #2158
not stale

[2019-09-23 11:44] Kritner commented on #3995
As an update, I wrote this post https://blog.kritner.com/2019/09/20/test-post-with-code/ hoping with its minimal amount of code, would appear on my feed, but no luck.

I guess I could go back to dev.to pulling from my medium feed, since I can at least import the stories by direct URL there, then perhaps massage them a bit more once they hit my dev.to dashboard... just not sure what it was that cau

[2019-09-23 12:29] rhymes commented on #1110
Is this still an issue?

[2019-09-23 12:32] #4080 closed

[2019-09-23 12:39] rhymes commented on #968
I have the feeling this is somewhat related to the UX of this other https://github.com/thepracticaldev/dev.to/issues/1110

There the OP is asking to have a menu that appears on click and not just on hover, and here we're asking to have a hover menu because the click is an action.

I feel these two require a little bit of decisions about the design and UX before they are tackled

[2019-09-23 12:39] rhymes commented on #525
unstale

[2019-09-23 12:40] rhymes commented on #857
unstale

[2019-09-23 13:05] michael-tharrington commented on #3636
Something related to this came up recently...

An org admin recently tried to re-credit articles that they'd loaded onto DEV through their admin account, but was having difficulties — the re-credit was unresponsive for some of the articles. The reason: when setting up the articles, the admin adjusted some so that they'd be in a series together. However, when they went to re-credit any articles tha

[2019-09-23 13:29] jessleenyc commented on #2144
let's keep this open

[2019-09-23 13:36] jessleenyc commented on #4068
Fixed with #4077

[2019-09-23 13:36] #4068 closed

[2019-09-23 15:52] WellRedPandit opened #4096 "Infinite scrolling prevents reaching the footer"
**Describe the bug**

I scrolled to reach the footer to follow the links there to e.g. the code of conduct. The footer was not reachable. Or rather it appeared quickly to be immediately taken over by new contents.

I was able to reach the footer after I switched the browser to offline mode.

**To Reproduce**

1. Go to the homepage
2. Keep scrolling
3. See the footer run away from you

**Expected b

[2019-09-23 16:18] jessleenyc commented on #266
@lanesawyer I think it actually _is_ more complicated for us to only remove the footer from the homepage because it's the same footer we use on other pages without infinite scrolling. @benhalpern might be able to shed more light here. We know it's annoying >.<

[2019-09-23 16:20] jessleenyc commented on #4096
Hey @WellRedPandit, any of the links you'd see on the homepage footer is also available in the lefthand sidebar. Closing this issue since it's a duplicate of #266

[2019-09-23 16:20] #4096 closed

[2019-09-23 17:13] rhymes commented on #4023
So, I checked the code and we essentially have two options here, for the following reason: the cache is based on the last time the article has been updated which can be a long time ago, which means that the "time ago" string will get stale at some point.

- option a: we remove the cache altogether for this part: https://github.com/thepracticaldev/dev.to/blob/master/app/views/notifications/_article

[2019-09-23 21:17] dzhavat opened #4097 "Notification Subscriptions cut off"
**Describe the bug**
When I open the "Notification Subscriptions" modal inside a post, its header gets hidden behind the top bar.

**To Reproduce**
* Open a post
* Click on the three dots in the left sidebar

**Expected behavior**

The header should be visible at all times.

**Screenshots**

![image](https://user-images.githubusercontent.com/1096332/65463464-0e4e1f80-de58-11e9-9f94-0d7dc83c2db2.pn

[2019-09-23 23:21] maestromac commented on #3773
This also happens to me once every bluemoon.

[2019-09-23 23:31] AlbertoMontalesi opened #4098 "Bug in uploading cover photo"
To reproduce:
- i was editing one of my old posts, i uploaded a different cover photo
- without saving, i clicked write a post and started writing a new one
- the selector for cover photo already had the previous one selected there but it wasn't showing
- uploading a new photo would do nothing
- i had to click preview and come back to see the cover photo field empty

[2019-09-24 05:46] aolko commented on #266
Whoops, better luck designing your templates next time, @jessleenyc

[2019-09-24 07:24] jean commented on #266
Hmm maybe do a PR against the `unless` in this line?
https://sourcegraph.com/github.com/thepracticaldev/dev.to/-/blob/app/views/layouts/application.html.erb#L94

Who here knows their way around ERB? :-)

On Tue, Sep 24, 2019 at 12:46 PM aolko <notifications@github.com> wrote:

--
jean                                              . .. .... //\\\oo///\\

[2019-09-24 09:35] rgoyal05 commented on #1641
Trying to understand if this has been resolved or someone is working on it?

[2019-09-24 12:29] learnbyexample opened #4100 "Unable to use | character for inline code example within tables"
**Describe the bug**

For creating tables, `|` character is used as the delimiter. For my use case, I need to specify this delimiter inside inline code as cell content. But I'm unable to find a way to do it. Github allows to use `` `\|` `` and for my personal blog ``  `|` `` is working. However, neither of it seems to work on dev site. As a workaround, I'm able to use `&#124;` to display the `|` c

[2019-09-24 14:43] maestromac commented on #1641
Hello @rgoyal05 this has not been resolved yet

[2019-09-24 14:58] maestromac commented on #4023
Would there be any repercussions to option a @rhymes ?

[2019-09-24 16:10] Amorpheuz opened #4101 "Links in Comments get appended by dev.to's URL"
**Describe the bug**
When I clicked on the link to the leanpub in the comment of article [Your First Year In Code: Now Available In Print!](https://dev.to/devteam/your-first-year-in-code-now-available-in-print-3pai) by [Issac](https://dev.to/isaacdlyman/comment/flcd) it redirected me to [https://dev.to/isaacdlyman/comment/leanpub.com/firstyearincode](https://dev.to/isaacdlyman/comment/leanpub.com/

[2019-09-24 18:03] lucianolima00 commented on #4048
Hey @michael-tharrington, I'd like to do this issue

[2019-09-24 19:11] rhymes commented on #4023
@maestromac without testing it i'm honestly not sure, by looking at the code i don't see any heavy computations, they are both basically rendering JSON data which is already computed

[2019-09-24 21:13] lucianolima00 commented on #4048
@michael-tharrington already have a dashboard for the organizations and is restrict to the admin so the dashboard should be avaliable to the members too? In that case the "followers" tab should be of the organization when the org's dashboard is showing?

[2019-09-25 03:20] akshayymahajan commented on #4101
Looks like the href attribute is missing the protocol (`http://` or `https://`). That is causing the page to be redirected to the current url appended with the href attribute..

[2019-09-25 13:10] vhgn opened #4103 "Collapsing the comment section preference in settings"
I'm always frustrated, when I see a very long scrollbar and can't figure out how long is it going to take to read. There could be a lot of comments which will take a lot of space, so it's uncomfortable to check the progress.

*The simplest solution, I think, is adding a comment auto-collapsing feature in settings. When I turn on "Auto-collapse comment/bottom section" in my preferences, every new a

[2019-09-25 13:58] Amorpheuz commented on #4101
Yup, that seems to be case! Would love to tackle this issue 😃

[2019-09-25 14:35] maestromac commented on #4101
go ahead @Amorpheuz !

[2019-09-25 16:15] CAD97 opened #4105 "Post editor unusable in Microsoft Edge"
**Describe the bug**

Entering text in the markdown editor (both v1 or v2) causes the cursor to jump to the end of the text box in Microsoft Edge.

**To Reproduce**

1. Go to <https://dev.to/new>
2. Enter some text in the text box
3. Move the text cursor to the beginning of the text area (front matter works for v1)
4. Resume typing
5. Note that the cursor jumps to the end of the text area after a

[2019-09-25 16:27] Aswathprabhu commented on #3739
Hi, I've made my [first PR](https://github.com/thepracticaldev/dev.to/pull/4104). Can anyone review it?

[2019-09-25 16:33] sierisimo opened #4106 "Bad coloring on follow button"
**Describe the bug**

When reading an article, sometimes the button is not clear on what it says given the colors.

**To Reproduce**

I found it on this article: https://dev.to/jmfayard/how-kotlin-makes-editing-your-gradle-build-less-frustrating-232l

Just going there, without dark mode or anything, I'm not sure if I'm following or not this particular user.

**Expected behavior**

Text with the fo

[2019-09-25 16:39] Aswathprabhu commented on #3739
Hi I've made my [first PR](https://github.com/thepracticaldev/dev.to/pull/4107), Can anyone review it?

[2019-09-25 16:43] #3881 closed

[2019-09-25 17:17] araslanov-e commented on #4021
This is not a bug, this is a feature https://github.com/vmg/redcarpet/blob/master/README.markdown (see no_intra_emphasis) https://github.com/thepracticaldev/dev.to/blob/master/config/initializers/redcarpet.rb

[2019-09-25 17:22] araslanov-e commented on #4021
It can be set to false, but then it is recommended that words of the form foo_bar_baz be wrapped as code
example:
[code]
Otherwise, we get foo _bar_ baz (only without spaces, in Github, apparently, it’s also impossible)

[2019-09-25 19:58] lucianolima00 commented on #4048
@michael-tharrington about how will be showing the followers count, I suggest to be in a sidebar instead of create a dashboard page just to show a single information. I was thinking in something like that: https://imgur.com/a/2AYkMLz

[2019-09-25 20:49] Mildred14 commented on #3602
Hi @Beznet I can help to solve this issue

[2019-09-25 20:53] #3800 closed

[2019-09-25 21:18] dzhavat opened #4110 "TIL tag in post title"
**Is your feature request related to a problem? Please describe.**

I just thought of an idea for a new title tag - TIL (short for "Today I Learned"). This can be used for short posts where people share stuff they have learned recently.

**Describe the solution you'd like**

Here's how that might look like:

![image](https://user-images.githubusercontent.com/1096332/65640475-bbf13800-dfea-11e9-917

[2019-09-25 21:52] lynnewritescode commented on #3945
I'm not sure the associated PR will fix this. The issue is that it's not getting the 'centered-footer' class when you click back in the browser - so the style fix applied won't work.

[2019-09-25 22:04] TheMisir opened #4111 "Make PWA icon android adaptive."
Here's more about that: https://css-tricks.com/maskable-icons-android-adaptive-icons-for-your-pwa/

[2019-09-26 00:03] timrodz commented on #3953
Hi @omenking, I'd be interested in helping out with this.

Are there any specific features you'd like to use as a moderator? This would help me craft a better implementation.

[2019-09-26 00:44] cesc1989 commented on #4110
How would it be different than using a normal tag? 🤔

[2019-09-26 01:18] omenking commented on #3953
I can't think of any additional features.
Colour pickers would be nice for the coloured boxes.
A popup which displays markdown rules would be useful.
Larger boxes. For bonus points create a tab which can switch from markdown to preview.
And if you really want to go for it do it in preact.

Again you can just adjust the styling, but just some more ideas you can run with.

[2019-09-26 02:40] timrodz commented on #3953
Thanks for the suggestions!

As I haven't used Ruby (yet), I'll be looking at completing the basics first (Styling -> Colour pickers -> Markdown syntax popup)

[2019-09-26 06:07] kleinfreund commented on #394
Please move this issue forwards. The platform still has serious issues regarding the visibility of focus styles. It’s usually not enough to rely on the browser default styling and even that is not present on a large quantity of interactive elements on dev.to.

[2019-09-26 08:27] dzhavat commented on #4110
The only difference will be the presence of `#til` tag in the post title. And the tag itself will be colored.

[2019-09-26 09:46] moriczgergo opened #4116 "Remove hashtag prefix that a user might put in a post's tags."
**Is your feature request related to a problem? Please describe.**

If a user starts off a tag with a hashtag, it shows two hashtags. ([example](https://dev.to/raicon47/seriously-i-need-a-mentor-4nec))

**Describe the solution you'd like**

Check for a hashtag prefix and remove it when posting.

**Describe alternatives you've considered**

If a user wants to include a hashtag prefix, they could us

[2019-09-26 09:46] moriczgergo commented on #4116
Also, I might be able to do a PR for this later.

[2019-09-26 10:28] leesadaisy opened #4117 "Iam unable to post anything"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-09-26 11:14] rohitshetty commented on #1805
I just replicated this on a friends laptop. The list loads alright when he is not logged in, but does not load when he is signed in. Looking into it further

[2019-09-26 11:16] nathanheffley commented on #4117
Do you have any additional information? A screenshot of what happens when you try to post?

[2019-09-26 16:19] maestromac commented on #4117
Hello @leesadaisy , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-09-26 16:19] #4117 closed

[2019-09-26 16:22] maestromac commented on #4116
Thank you for raising this @moriczgergo ! Yep, double hashtag should not happen.

[2019-09-26 21:03] maestromac commented on #4111
I believe this was already resolved with https://github.com/thepracticaldev/dev.to/pull/3875. Does the icon look unmasked on your end @TheMisir ?

[2019-09-27 08:49] TheMisir commented on #4111
![](https://i.imgur.com/oqrY4f9_d.jpg?maxwidth=640&shape=thumb&fidelity=medium)

@maestromac

[2019-09-27 08:56] Glennmen commented on #4111
Could this be because icon size 192x192 doesn't have the `purpose` tag?
https://github.com/thepracticaldev/dev.to/blob/aa9f03740e341f39cb9619ea7ad48890bbad5d2f/app/assets/javascripts/manifest.json.erb#L10-L14

[2019-09-27 13:55] kevinhq opened #4124 "Can't update/change/remove RSS feed link"
Can't update/change/remove RSS feed link. Always return 500 errors.

[2019-09-27 14:10] cesc1989 commented on #4110
@dzhavat I see your point after seeing this

![image](https://user-images.githubusercontent.com/1375981/65775891-a5400380-e106-11e9-81cc-987b847c20ba.png)

[2019-09-27 15:45] Amorpheuz commented on #4101
So, did some digging around, If the article author creates the link markdown with the `http://` or `https://` so issue comes up. But if he directly does it without them, i.e. `[github](github.com)` then the issue comes up!

Adding `//` before the issue resolves the issue and also makes it behave like a normal link, i.e. not append and redirects to `https://` if the site enforces it or `http://`. A

[2019-09-27 16:00] rhymes opened #4125 "Listings API index: category and per_page parameters are not working"
**Describe the bug**

The new listings API - https://dev.to/api/listings - is not respecting parameters `category` and `per_page`

I believe it has something to do with caching and this line:

https://github.com/thepracticaldev/dev.to/blob/8a5fb233355f36dd1f4dbc6fbee54ebf937a701e/app/controllers/api/v0/classified_listings_controller.rb#L24-L25

I don't think edge caching is configured correctly he

[2019-09-27 16:13] Amorpheuz commented on #4111
Yup, `purpose` tag is required to define how the image should be used. Adding the `maskable` purpose should allow it to scale; though will have to check if the word `DEV` correctly fits into the appropriate dimensions as indicated [here](https://www.w3.org/TR/appmanifest/#icon-masks).

Can read https://www.w3.org/TR/appmanifest/#icon-masks and https://www.w3.org/TR/appmanifest/#icons-member for mo

[2019-09-27 16:44] discdiver opened #4126 "Feature request: Bulk image upload or drag and drop upload or IA writer integration"
I write blog posts in my IA Writer markdown editor and then want to upload or copy/paste into Dev. Uploading images one at a time and copying and pasting the URL provided is slow.

I would like to be able to upload images in bulk and easily copy the urls or have some other mechanism to quickly add images to posts. Directly dropping the images into the blog post and having Dev substitute the URL in

[2019-09-27 16:53] Amorpheuz commented on #4106
Looks similar to #3968 with it occuring only on article pages.

[2019-09-27 17:58] rubynho commented on #3945
Can I work on this issue, @jessleenyc?

[2019-09-27 18:53] maestromac commented on #4048
Thanks for pointing that out @lucianolima00 . We should first make it easy to convey to the user browsing `/dashboard` the organization that they are apart of. @benhalpern may have more thought on this.

[2019-09-28 19:16] rhymes commented on #4126
Hi @discdiver, you can select and upload multiple images already, it's a recent feature but it's in production since August 18, see https://github.com/thepracticaldev/dev.to/pull/3599

Basically when you open the modal to upload images, you can select more than one and then upload them, the editor will display the tags and the direct urls you can use in your article.

Drag and drop would be nice,

[2019-09-28 20:37] mauro-codes opened #4128 "Stackbit Liquid Tags are not dark mode friendly"
**Describe the bug**

I just created my static blog with Stackbit using the DEV integration and changed some basic styles to support dark mode on my site.
The problem is that DEV liquid tags are renderer using iframes. It seems like those iframes are not supporting dark mode right

**To Reproduce**

1. Create a static site with Stackbit using DEV integration. At least one of your articles should h

[2019-09-29 00:54] discdiver commented on #4126
Thanks  Hmm. I got an error and no uploads when I tried to bulk upload.
Guess that was a bug and not a lack of a feature then.

On Sat, Sep 28, 2019, 3:17 PM rhymes <notifications@github.com> wrote:

[2019-09-29 01:02] BobbyMcWho opened #4129 "Reduce Docker image build time for dev"
Ideally we would not need to go through every single one of these multi-build steps every time we want to build the container. It looks like each step of the build could potentially be its own image, stored in a separate folder or repo and released to docker hub and pulled in instead of being built.

[2019-09-29 01:11] Shorpee commented on #1393
i will like to work on this

[2019-09-29 01:15] timrodz commented on #3990
Hi @maestromac - I might give this a go.

My background is Python/JS. I haven't used Ruby before, but the two scripts you provided seem understandable enough.

Is there a recommended way to test this e.g. Sending myself messages over slack to see how the preview links get built?

[2019-09-29 01:16] timrodz commented on #3953
Hi @omenking, I've just had a chance to touch this now. How does someone navigate to this page? I might need access to mod priviledges so I can test this in my own setup.

[2019-09-29 01:24] omenking commented on #3953
So the page you're looking at is this url:
[code]

If the app is following convention then it would be in `views/tags/edit.html.erb` and the controller responsible should be TasksController.

How someone gets to set as an admin could be a column on the users table or a join table called moderators. A good place to look is the `schema.rb` to get hints. Probably checking the `user.rb` and search mod

[2019-09-29 01:25] omenking commented on #3953
Moderators might be set via a role:

[code]

[2019-09-29 02:26] timrodz commented on #3953
Thanks! I was able to authenticate and can now see the tag page.

[2019-09-29 03:12] timrodz commented on #3953
I have noticed there's a basic colour picker implemented for the boxes - It pops up when you click on the text field:
<img width="363" alt="Screen Shot 2019-09-29 at 4 12 04 PM" src="https://user-images.githubusercontent.com/7434353/65825485-f05b4180-e2d3-11e9-92f3-363171da811f.png">

[2019-09-29 07:16] rhymes commented on #4126
What sort of error? Can you check the browser's console? Thanks

[2019-09-29 15:39] #4023 closed

[2019-09-29 17:19] Almenon opened #4130 "Author notes feature"
**Is your feature request related to a problem? Please describe.**

I have personal notes in the article that I need to take out and store someplace else before I publish it.

**Describe the solution you'd like**

A section for author notes that won't appear in the preview or published article.
For example,

**Describe alternatives you've considered**

I just realized this feature sort of already

[2019-09-29 23:13] #4015 closed

[2019-09-30 06:29] ilicmarko opened #4131 "Separate/group articles by level"
**Is your feature request related to a problem? Please describe.**

Not particularly a problem but lets say a frustration. I like the idea of the "openes" dev.to brings to the table, anyone can post anything. That is great and is helpful for the community. On the other side for us "veterans" that are really not interested in 90% of the posts related to "how to position [insert element]" we would l

[2019-09-30 08:40] weekly-digest[bot] opened #4134 "Weekly Digest (23 September, 2019 - 30 September, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 49 issues were created.
Of these, 27 issues have been closed and 22 issues are still open.
## OPEN ISSUES
:green_heart: #4130 [author notes](https://github.com/thepracticaldev/dev.to/issues/4130), by [Almenon](https://github.com/Almenon)
:green_heart: #4129 [Reduce Doc

[2019-09-30 08:51] foo-dogsquared opened #4135 "Asciinema Liquid tag"
**Is your feature request related to a problem? Please describe.**

It would be cool if we can view [Asciinema](https://asciinema.org/) recordings while viewing an article inside dev.to.

Asciinema does provide a way to embed the video player.
You can see it [in the respective doc page](https://asciinema.org/docs/embedding).

**Describe the solution you'd like**

A simple Liquid tag implementation

[2019-09-30 09:06] Glennmen commented on #4135
Not sure if I like to embed a JS script directly in the page, an iframe would be a much better option.

Strange that the docs don't mention this but you can use an iframe:
[code]

[2019-09-30 09:07] rhymes commented on #3548
I'm closing this because by removing the cache in https://github.com/thepracticaldev/dev.to/pull/4122 the behavior should have disappeared, maybe in the future we could switch to client side rendering (which has to take into account pagination and eventually i18n)

[2019-09-30 09:07] #3548 closed

[2019-09-30 10:04] foo-dogsquared commented on #4135
I knew it! There is an iframe embed!

I have the same sentiments when it comes to embedding with `<script>`.
That is a better way of embedding it.
It has simpler HTML output, too.

Thanks for letting me know.

[2019-09-30 12:30] jessleenyc commented on #4131
Hey @ilicmarko, thanks for the issue. This isn't exactly what you're asking for but could be helpful if you don't know about it already: if you visit your [settings](https://dev.to/settings/misc), you can input your experience level. The feed will showcase more advanced posts if you've indicated that you have a lot of coding experience. This also relies on users or moderators ranking their posts (

[2019-09-30 12:33] jessleenyc commented on #1393
@Shorpee go for it!

[2019-09-30 12:38] jessleenyc commented on #4106
@sierisimo I think the issue here is that the user chose the same background and text color for the button.

[2019-09-30 14:22] saurabhdaware commented on #4106
How about having a DEV logo in edit profile that changes color as you change background color and color? This can help you tell if background color and color match properly.
something like:
<img src="https://user-images.githubusercontent.com/30949385/65887188-28897f80-e3bb-11e9-90f6-452d6b2f28c6.jpeg" width=300>
(Sorry for my drawing skills I edited in instagram stories :sob: :rofl: )

[2019-09-30 14:25] jessleenyc commented on #4124
@kevinhq this seems like an individual account issue -- can you email yo@dev.to from the email associated with your DEV account?

[2019-09-30 14:25] #4124 closed

[2019-09-30 14:27] jessleenyc commented on #4106
WOW, I love that idea.

[2019-09-30 14:28] jessleenyc commented on #4106
Also want to point out that #1774 offers another solution

[2019-09-30 14:29] saurabhdaware commented on #4106
Cool, Can I give it a try?

[2019-09-30 14:33] saurabhdaware commented on #4106
I loved the idea of input type=color. How about having a button beside textbox and user can either type color code in textbox or he can tap the button and select the color and that color code will appear in textbox.

This will make it easy to select

and we can keep that DEV logo preview beside for better understanding of contrast.

[2019-09-30 14:53] saurabhdaware commented on #4106
![image](https://user-images.githubusercontent.com/30949385/65890195-1eb64b00-e3c0-11e9-975b-70e40d796715.png)
Did a quick inspect

[2019-09-30 15:52] Link2Twenty commented on #4111
192 is size used by most phones too. @Glennmen I think that change should sort it.

[2019-09-30 16:22] rhymes opened #4149 "Increase seed data for development purposes"
**Is your feature request related to a problem? Please describe.**

In some cases, like testing notifications or paginations or situations where a lot of data is required to successfully develop a feature, the developer would want to increase the amount of data the development DB contains.

Since increasing default seed data is going to slow down the developer experience of casual contributors (bu

[2019-09-30 16:28] zachdixon commented on #2826
Hi, looks like it's been a while since the last activity on this ticket and I'd like the pick it up if the feature is still needed, @jessleenyc. I started last night and should be able to have a PR in tomorrow, but let me know if any requirements have changed on this please.

[2019-09-30 16:50] kevindsteeleii opened #4151 "Curation Mode for written articles to show at professional gatherings/job oppurtunities"
**Is your feature request related to a problem? Please describe.**

I would like to propose a curated listing functionality/view for professional settings such as conventions, job fairs, and the like.

**Describe the solution you'd like**

I would like to have another route that goes like: "dev.to/{username}/publish" or something to that affect and be able to show a sanitized list of your articles

[2019-09-30 17:05] omenking commented on #4149
I put forward again a vanilla solution could be implemented. I don't believe we need to reduce the number of records but need to solve what is causing the slowdowns of creating seed data.

I have identified the large slow down with being with `act_as_taggable`. I believe this gem can be replaced with a vanilla solution which would greatly improve performance where large amount of seed data would t

[2019-09-30 17:29] omenking commented on #4149
![Screen Shot 2019-09-30 at 1 29 16 PM](https://user-images.githubusercontent.com/7776/65901497-530d1580-e386-11e9-81e2-d675d488651a.png)

[2019-09-30 17:39] reesecode commented on #3112
Ah yep, just replicated it. Looks like @media tags fighting. There's a very unneeded `margin-left: 310px;` in there for the @media tag for `@media screen and (max-width: 1119px) and (min-width: 950px)
footer .container.centered-footer {` I'll try to give my shot at tackling it in a bit.

[2019-09-30 18:21] Glennmen commented on #4111
I will try to make a PR for it tomorrow 😉

[2019-09-30 18:48] Aswathprabhu commented on #3739
Hi I've made some PRs ([4154](https://github.com/thepracticaldev/dev.to/pull/4154))([4156](https://github.com/thepracticaldev/dev.to/pull/4156))([4157](https://github.com/thepracticaldev/dev.to/pull/4157))([4158](https://github.com/thepracticaldev/dev.to/pull/4158))([4159](https://github.com/thepracticaldev/dev.to/pull/4159)) I don't know why for some of them, Travis CI fails. I can't figure it ou

[2019-09-30 19:12] jessleenyc commented on #4106
@saurabhdaware go for it!

[2019-09-30 19:43] cyrillefr commented on #3669
Hello @rhymes, sorry for the delay. I will do it that way then, in two parts.

[2019-09-30 21:03] saurabhdaware commented on #4106
Thanks @jessleenyc I'll start working on it then! :sunflower:

[2019-10-01 05:36] mahamshahid18 commented on #4097
Hello. I would like to take a look at this issue :)

[2019-10-01 07:13] abenerd opened #4168 "Optional language field for articles"
**Is your feature request related to a problem? Please describe.**
Nope, no problem!

**Describe the solution you'd like**
An optional language field for an article so one can search or filter articles by their language.

**Describe alternatives you've considered**
One could use the normal existing tags for that, but I think an actual designated tag on the article might be better.

**Additional co

[2019-10-01 07:27] megapower786 commented on #703
Amazing work bro

[2019-10-01 10:42] ilicmarko commented on #4131
Hmm great option, my bad for missing that. The idea with this is to "force" users to choose what level they are writing for (red or blue pill). Because as you said people are not using it that often as it is optional or **maybe not even aware of it**. I am not sure if this will impact the user flow (UX) when a new post is being created. Looking at it personally I wouldn't mind a nice "split screen

[2019-10-01 11:26] colorfusion commented on #2046
May I work on this? This seems like a very helpful feature to have for the page.

[2019-10-01 11:31] rhymes commented on #2046
@colorfusion sure, go ahead and thanks!

[2019-10-01 14:29] #3485 closed

[2019-10-01 15:52] zachdixon commented on #2826
Finished implementing this feature but running into a couple linting issues. One that I'm not sure how to fix is it complaining about an unresolved import for an image.
`import ThreeDotsSrc from 'images/three-dots.svg'`
This is working and how I see it being done elsewhere in the repo so not sure what the solution is.

[2019-10-01 15:56] maestromac commented on #4021
Thank you for putting in the research @araslanov-e !

After some discussion, we decided to stick with our current configuration to maintain the similarity between our markdown and GHFM.

[2019-10-01 15:56] #4021 closed

[2019-10-01 16:49] Zhao-Andy commented on #3365
Resolved via #3570

[2019-10-01 16:49] #3365 closed

[2019-10-01 16:52] Janglee123 commented on #3583
I want to work on this issue for hacktoberfest. But dont know where to start.

[2019-10-01 17:42] kay-is commented on #4130
I tried to find out where to add this, but it seems all files I found aren't really used (different emojis, and texts etc.)

There is just one `editor_guide_text` erb code-snipped, but I can't find out where it leads to.

[2019-10-01 18:00] Zhao-Andy commented on #4130
`_editor_guide_text.html.erb` is a good place to put it! That's the same text that corresponds to `/p/editor_guide` and the editor guide in the article editor.

[2019-10-01 18:12] allmanaj commented on #3667
I'll work on this one! 😁

[2019-10-01 19:57] maestromac commented on #4130
Resolved with https://github.com/thepracticaldev/dev.to/pull/4178

[2019-10-01 19:57] #4130 closed

[2019-10-01 20:03] blunket commented on #3296
@maestromac I'd like to help with this if I can, but I'm not sure I am fully understanding what needs to be done with the card image. What should the card's image look like?

[2019-10-01 20:17] johncurcio commented on #3136
@lightalloy I was going to work on MembershipMailer, but it looks like it has been removed in prs #2741 and #3575 . Does that mean ``user.follow`` is the only one left?

I can work on ``user.follow`` if @Dak425 is not working on it anymore.

[2019-10-01 20:37] negue opened #4179 "Docker gem install issues on a mac host"
**Describe the bug**

When I wanted to try out the docker dev environment, I always got this error:

[code]

Even though `linux-headers` are installed in the Dockerfile, I still had to execute `apk add linux-headers` inside my container, in-order to be able to execute `devto-setup`

**To Reproduce**

1. `./docker-run.sh DEV` on a mac host
2. call `devto-setup``
3. get the error above

**Expected b

[2019-10-01 20:46] blunket commented on #947
**I'd like to work on this one!!!** :raised_hands:

One thought I have: is the actualy word `spoiler` really what we want to use for this tag? Maybe it's just me, but `spoiler` makes me think of blacked-out text that a user must interact with to reveal.

On Discord, for example:
![image](https://user-images.githubusercontent.com/17580512/65999064-3f36e180-e462-11e9-8061-08530e81efaa.png)

Or on [S

[2019-10-01 20:55] blunket commented on #3583
Hey @Janglee123, check out these files! Maybe this will help you a bit?

- [app/services/mentions/create_all.rb](https://github.com/thepracticaldev/dev.to/blob/master/app/services/mentions/create_all.rb)
- [spec/services/mentions/create_all_spec.rb](https://github.com/thepracticaldev/dev.to/blob/master/spec/services/mentions/create_all_spec.rb)
- [app/views/notifications/_mention.html.erb](https:/

[2019-10-01 21:11] benhalpern commented on #947
@blunket I agree with you about spoilers not seeming like the right word (but we should have those too 😄)

What about `collapsible`?

[code]

[2019-10-01 21:13] blunket commented on #947
Collapsible sounds good to me!

(I can open a new issue about spoilers too if you want)

[2019-10-01 21:15] benhalpern commented on #3583
Yup @blunket you're onto it correctly. @Janglee123 This is going to be a matter of adding some conditional in the logic where the `mention` is created so that it checks whether the mentioned user will not get a notification by other logic.

[2019-10-01 21:24] benhalpern opened #4181 "Framed Image liquid tag"
**Is your feature request related to a problem? Please describe.**

As a user I might want to add an image to the site and automatically "frame" it in another image. I just think this would be kind of fun.

What I mean is that I can add an image from a URL that will then get added into another image based on existing templates.

A template like this:

![](https://placeit.net/uploads/stage/stage_im

[2019-10-01 21:40] Dak425 commented on #3136
@johncurcio go ahead, I haven't had the time I thought I was going to have to work on it.

[2019-10-01 21:47] cesc1989 commented on #1536
Hi @jessleenyc :wave:

This issue looks very interesting and I'd like to tackle it. Could you provide or guide me how to start with liquid tags in devto?

I've read https://docs.dev.to/frontend/liquid-tags/ and took a look to some existing Liquid tags however I'd like to have a whole picture of the process of creating one.

[2019-10-01 21:48] jacobherrington commented on #3217
I'm able to reproduce this bug, so I'll go ahead and knock it out 🤠

[2019-10-01 22:36] rhymes commented on #3136
Hi @johncurcio, thanks for noticing! I updated the list, there are currently three instances of `.delay`, two `follow` and one `index!`:

- https://github.com/thepracticaldev/dev.to/blob/master/app/controllers/users_controller.rb#L188
- https://github.com/thepracticaldev/dev.to/blob/master/app/controllers/api/v0/follows_controller.rb#L10
- https://github.com/thepracticaldev/dev.to/blob/master/app/

[2019-10-01 23:21] sgbj commented on #3604
I'd like to work on this if no one else is.

[2019-10-01 23:56] tworrell commented on #3448
I'm going to try my hand at this!

[2019-10-02 01:23] eToThePiIPower commented on #4181
Hi, I'd be interested in taking a look at this issue.

After taking a cursory read at the [Cloudinary Rails docs](https://cloudinary.com/documentation/rails_image_manipulation), it looks like a a "layer_apply" might be needed to offset the inner image over the "frame", and the `x` and `y` offsets will have to be customized based on the template (unless all of the templates have the frame in the sa

[2019-10-02 03:22] coolshaurya commented on #3604
Or maybe we could remove all theme stylesheets from the onboarding page ?

[2019-10-02 04:09] hydrosquall commented on #3448
@tworrell and I paired on this at the Hacktoberfest kickoff this evening, there will be a PR up for this soon! For reference, we are working on the self-contained file in https://github.com/thepracticaldev/dev.to/blob/master/public/offline.html .

Based on discussing with @jessleenyc and @benhalpern, technical constraints for this page are to not use a framework (like Preact) and to avoid using ex

[2019-10-02 05:38] araslanov-e commented on #4021
:+1:

[2019-10-02 06:13] Aswathprabhu commented on #3667
@jessleenyc I've fixed this issue and raised my [PR(4190)](https://github.com/thepracticaldev/dev.to/pull/4190)

[2019-10-02 07:16] daningenthron commented on #2470
Hi @nickytonline, wanted to check in and see if this is still active? I can start working through these JSX files if so. Thanks!

[2019-10-02 08:40] rhymes commented on #2470
@daningenthron please go ahead if you wish to work on a set of file. A recommendation: to make reviews easier and also curb the possibility of introducing bugs, is not to tackle too many files at the same time.

Thanks for your effort!

[2019-10-02 08:44] rhymes commented on #3667
@allmanaj it looks like @Aswathprabhu sent a PR about this, I'm sorry.

There are a few other issues related to https://github.com/thepracticaldev/dev.to/labels/area%3A%20themes if you want to try to tackle any

[2019-10-02 09:26] rhymes commented on #2356
Even though usually older issues are favored over newer duplicated ones, I feel the topic and scope are slightly different from this previous issue. We've also let this one and its related PR sit in the backburner for a very long time without making any progress. Hence I'm closing this one in favor of https://github.com/thepracticaldev/dev.to/issues/4149

[2019-10-02 09:26] #2356 closed

[2019-10-02 10:34] lightalloy commented on #3136
@johnbwoodruff @rhymes thanks for updates!

[2019-10-02 12:34] ruffle1986 commented on #2470
@rhymes Good points.

@daningenthron Would you like me to help? Would be a pleasure. :)

[2019-10-02 13:23] kaushalgautam commented on #2519
Hi Guys. Can you please provide some insight on how one might proceed on tackling this? I am interested!

[2019-10-02 13:25] lightalloy opened #4194 "Choosing canonical_url source for the webhooks integration"
Earlier we discussed that we need a setting so that users could choose the canonical_url source. The source could be: post's url on DEV, post url from the integrated website or url that user specified as a canonical_url.

Currently, we provide the `processed_canonical_url` as a part of the webhook events' payload and via the API. `processed_canonical_url` is either a canonical url that user has sp

[2019-10-02 14:23] pdesjardins90 opened #4195 "Support CORS and OPTION requests in API"
**Is your feature request related to a problem? Please describe.**

I'm trying to dynamically display previews of my latest blog posts on my personal website with links to the originals on DEV, but querying the API with fetch results in a CORS error. (Works fine in postman)

Error:

*"Access to fetch at 'https://dev.to/api/articles?username=pdesjardins90' from origin 'https://philippe-desjardins.c

[2019-10-02 14:52] colorfusion commented on #2046
Just checking, I have to write the rendering of the code in html from scratch right?
I assume there is no way to piggy back existing markdown triple back tick code snippet, to recreate something similar to github's way of rendering code snippet.

[2019-10-02 15:00] rhymes commented on #2046
@colorfusion if you look at the existing github liquid tag code you'll see the rendering is done with HTML re-creating the look and feel:

https://github.com/thepracticaldev/dev.to/blob/master/app/views/liquids/_github_issue.html.erb
https://github.com/thepracticaldev/dev.to/blob/master/app/assets/stylesheets/ltags/GithubTag.scss

https://github.com/thepracticaldev/dev.to/blob/master/app/views/liq

[2019-10-02 15:05] colorfusion commented on #2046
Those are great reference for me to start off from, thanks!
It's okay if I split the feature into sub-tasks and have PRs for each of them right?
I plan to get the code rendering up first, before I take a look at syntax highlighting.

[2019-10-02 15:09] Zhao-Andy commented on #2046
That works! We'll need an MVP that works of course, but I think extra features like syntax highlighting can go in a different version / PR.

Our codeblocks have syntax highlighting via the [Rouge gem](https://github.com/rouge-ruby/rouge), so if you wanted to borrow those styles and render that, then render it like so:
https://github.com/thepracticaldev/dev.to/blob/e0287a574c3a07a9bc65fa39e08f58744

[2019-10-02 15:17] colorfusion commented on #2046
Will do. Thanks a lot! 🎉

[2019-10-02 15:39] #4135 closed

[2019-10-02 16:06] jessleenyc commented on #4048
Spoke with the team and we'd like to swap the placement of these two rows: posts/follower/following and personal/org. Once we do that, we'll want the numbers to be updated appropriately.

@lucianolima00 thanks for the mock up -- i think the sidebar works for desktop but we'd have to find a way to collapse it in mobile. What I described should take care of that :)

[2019-10-02 16:12] jessleenyc commented on #4078
@umerkk164 thanks for the issue! we don't want any external dependencies for the offline page, so we'd want to inline the library if we used it.

is needlessjs open source and if so, what license is it under?

[2019-10-02 16:13] jessleenyc commented on #2158
Just wanted to leave a note here that we'd welcome any contributions for a theme selector :)

[2019-10-02 16:20] jessleenyc commented on #1856
We have a pretty unintuitive way of handling this right now. Basically, if you want to see less /no posts from a tag, you can:
- Follow that tag (this is the most unintuitive part 😅 )
- Go to your following dashboard - https://dev.to/dashboard/following
- Find the tag and give it a negative follow weight & hit submit.

To make this flow easier, maybe we can add a dropdown to each tag page that peo

[2019-10-02 16:25] Kerooker commented on #1856
This won't work tho. My feed is still full Javascript/Node and I have all related tags set to -99999.

If a user doesn't want to see a tag, we shouldn't force them. Forcing them makes users like me give up on reading DEV's feed because there is nothing interesting to them. And I know 3 people including myself that stopped browsing dev altogether due to this.

[2019-10-02 16:27] pavelloz commented on #1856
Thats why this whole thread exists. People dont want to discover things that they explicitly want to ignore.

[2019-10-02 16:45] jacobherrington commented on #3604
This is something I've found before, I think it'd be great to fix the styles for it to work with all themes.

Go for it @sgbj 😉

There is no harm in fixing this, but for the future, maybe we should discuss if people should be able to go through onboarding again @jessleenyc? I think there is an argument that people might want to change the choices they made during that process.

[2019-10-02 16:57] michael-tharrington commented on #4048
@lucianolima00 I'm so sorry for missing your comments above! Just to say, really appreciate you picking this up!

[2019-10-02 17:22] benhalpern commented on #4181
@etagwerker I think that would be a great approach! If you want to break ground with this via a WIP pull request we could iron out the details as we go.

[2019-10-02 17:39] maestromac commented on #3945
Resolved with https://github.com/thepracticaldev/dev.to/pull/3965

[2019-10-02 17:39] #3945 closed

[2019-10-02 17:59] jessleenyc commented on #1856
@Kerooker Thanks for letting us know! We'll have to revisit how the logic works -- sounds like a bug where the tag weight logic isn't applied across the board after initial load.

For anyone interested in working o this issue, if we didn't want to rely on the font weights to mute tags, maybe we could make a binary "tag_mute" or "tag_ignore" model that's a join table to be easily integrated into th

[2019-10-02 18:15] #3667 closed

[2019-10-02 18:19] kokanek opened #4197 "Broken tag search feature"
The search feature for tags while writing an article and tagging it looks broken when the full keyword intended to be used is typed in.

Whenever I want to tag my article with a particular tag and I start typing the tag, it appears in the suggested tags in the dropdown but once I type the full tag name, it seems to dissappear from the suggested tags dropdown.

**To Reproduce**

Steps to reproduce

[2019-10-02 18:22] brisourceful commented on #987
I agree with @nickytonline that there are use cases for `em` such as media queries. I would love to take this issue on and help define some more guidelines regarding measurement units for CSS.

[2019-10-02 18:48] pavelloz commented on #1856
Honestly? Until now i didnt even know feeds exist. I never noticed them. As soon as i get to the page i start scrolling and reading big letters.

It looks like i have set it up at "Feed" (default?), so i would be fine if i only knew how to ignore stuff, quickly (because i would do it a lot at the beginning). Ideally from the home page, so i dont have to dig through the center of earth to ignore st

[2019-10-02 18:55] jacobherrington commented on #3112
I believe #3965 resolved this -- is anyone still able to replicate this issue in production or with the current master branch?

[2019-10-02 19:32] GnsP commented on #3046
I would like to implement the series liquid tag, if it's not already taken.

[2019-10-02 19:34] etagwerker commented on #4181
@benhalpern I'm assuming it was a typo in the auto-complete and you meant to tag @eToThePiIPower, right? 😄

[2019-10-02 19:40] jessleenyc commented on #3046
@GnsP go for it!

[2019-10-02 20:22] daningenthron commented on #2470
Hi @ruffle1986 that would be great! I globbed the JSX files and it looks like there are ~60 files affected. I think we can use the issue page to track where we're working, then submit individual PRs for individual directories (or subsets) to keep the review process lean. Definitely open to suggestions to improve the process.

Just to throw a dart at the map, I'll get started in /app/javascript/onb

[2019-10-02 21:39] nickytonline commented on #987
Go for it @brisourceful👏 and happy Hacktoberfest!

[2019-10-02 21:58] maestromac commented on #3953
Resolved with https://github.com/thepracticaldev/dev.to/pull/4137

[2019-10-02 21:58] #3953 closed

[2019-10-02 22:41] sebach1 commented on #4129
Agree. I'm on it :)

[2019-10-02 23:30] sebach1 commented on #4179
The trouble isn't your OS, I'm getting the same err in Ubuntu 18.04.
It became from the gem nio4r, and it's corrected in the patch https://github.com/socketry/nio4r/commit/0e820966453acff44a0e5763224ae91008a43306.

submitted a PR

[2019-10-02 23:49] negue commented on #4179
Oh, I see, thanks for clearing that its not because of the Mac ^^

[2019-10-03 00:20] iagocavalcante commented on #4149
Hey, can i take this ?

[2019-10-03 00:23] iagocavalcante commented on #4100
Can i try to fix this ?

[2019-10-03 05:08] akshayymahajan commented on #962
@maestromac I would like to work on this issue..

[2019-10-03 06:07] rhymes commented on #962
@akshayymahajan go for it ✌🏾️ and thanks!

[2019-10-03 06:09] Kerooker commented on #1856
@jessleenyc
As an example:
![image](https://user-images.githubusercontent.com/1577251/66103127-21b16700-e58b-11e9-832e-5068442a2c5e.png)

I have both Javascript and Node set to -999999

[2019-10-03 07:15] rhymes commented on #4100
@iagocavalcante yes you can! and thank you :)

[2019-10-03 07:16] rhymes commented on #4149
@iagocavalcante yes, do you have a general idea of how you would want to go about for this? I feel in this case a discussion before implementation (which could be beneficial for any type of issue actually) is warranted.

What do you propose?

[2019-10-03 07:17] rhymes commented on #4179
@negue if you can confirm that now, after such patch, it works, let me know so I can safely close this issue.

Thanks!

[2019-10-03 07:26] rhymes commented on #987
@brisourceful that would be truly awesome! thanks!

[2019-10-03 07:27] Defman21 commented on #1856
Clicking on the Feed button second time (e.g. after page reload) actually removes javascript articles for me. So I believe @jessleenyc is right about tag weights not being applied on the initial load.

[2019-10-03 07:35] Turnerj commented on #2996
I'm not sure if it is worth adding to this (as it is an inconsistency, just not specific to tags) or filing it separately but there seems to be even a greater drift between the data returned for the two different article APIs (whether you request a single article or view the list).

"ArticleShow" includes the following which don't match up to "ArticleIndex":
- readable_publish_date
- social_image

[2019-10-03 07:44] rhymes commented on #2470
@daningenthron I'm going to ask you a huge favor, can you put the list here with all files or folders in a checkable list? Or you can just dump the list in a gist file and then I'll edit it out to add who's working on what.

I think having a centralized list with all the various PRs and users it's going to be hugely helpful for the effort

Thanks!

[2019-10-03 07:49] rhymes opened #4206 "API inconsistencies between articles "index" and "show""
*I'm promoting an issue comment to a separate issue to avoid losing the conversation inside a separate thread.*

_Originally posted by @Turnerj in https://github.com/thepracticaldev/dev.to/issues/2996#issuecomment-537825737_

I'm not sure if it is worth adding to this (as it is an inconsistency, just not specific to tags) or filing it separately but there seems to be even a greater drift between t

[2019-10-03 07:51] Defman21 opened #4207 "Suggest a tag for Moderate Post"
**Is your feature request related to a problem? Please describe.**

Sometime authors do not set tags (e.g. an article about Node.JS GraphQL server lacks the `node` tag).

**Describe the solution you'd like**

Allow trusted members/mods to suggest/change tags for an article. For example, if I suggest the `node` tag for the article, moderators of the tag should receive a notification about that to e

[2019-10-03 08:01] rhymes commented on #4206
@Turnerj I went ahead and promoted your comment to an issue, hope you don't mind, so to separate the two discussions.

My answer: generally speaking there are inconsistencies in the API v0, some of them we might be able to solve, some probably won't until we decide to redesign the API for a v1 and/or setup a deprecation plan for far in the future.

The reason being that the API has been public kno

[2019-10-03 08:03] rhymes commented on #2996
@Turnerj I've upgraded it to an issue https://github.com/thepracticaldev/dev.to/issues/4206 :-)

[2019-10-03 08:05] araslanov-e commented on #3498
@lightalloy
![image](https://user-images.githubusercontent.com/1290711/66109568-64e8f580-e5de-11e9-94a2-623c3d127e7e.png) norm?

[2019-10-03 08:07] araslanov-e commented on #3498
@lightalloy and
![image](https://user-images.githubusercontent.com/1290711/66109711-b2fdf900-e5de-11e9-8a71-e73f9cecb6a6.png) ?

[2019-10-03 08:07] rhymes commented on #2996
@Turnerj I'm also going to close this because the Articles API is currently documented at https://docs.dev.to/api/ and we don't plan to change the format of either `tags` or `tag_list` anytime soon (it's always unfortunate when a bug becomes a feature).

Thanks for refreshing our memory about this and we'll definitely keep it in mind.

[2019-10-03 08:07] #2996 closed

[2019-10-03 08:15] daniel-werner opened #4208 "Publishing from multiple RSS feeds"
**Is your feature request related to a problem? Please describe.**

I have multiple blogs where I write posts, and I'd like to collect all my articles to dev.to

**Describe the solution you'd like**

I'd like to have ability to add multiple rss feeds to fetch blog posts from

**Describe alternatives you've considered**

Change the RSS feed, fetch the articles from one blog, and switch back to anot

[2019-10-03 08:31] ruffle1986 commented on #2470
@daningenthron @rhymes Here's the list of the files with eslint issues:

- [ ] /app/javascript/article-form/__tests__/articleForm.test.jsx
- [ ] /app/javascript/article-form/articleForm.jsx
- [ ] /app/javascript/article-form/elements/__tests__/tags.test.jsx
- [ ] /app/javascript/article-form/elements/bodyPreview.jsx
- [ ] /app/javascript/article-form/elements/errors.jsx
- [ ] /app/javascript/artic

[2019-10-03 08:33] ruffle1986 commented on #2470
@daningenthron @rhymes Alright. I'm gonna fix the files in the `/app/javascript/article-form` folder and open a PR.

Is that ok with you?

[2019-10-03 09:27] Turnerj commented on #4206
Don't mind at all with the comment being promoted to an issue - it probably was a bit of a stretch for me to tie it to the issue with tags. Will be great to see uniformity between the endpoints - would you still want a PR potentially with the missing fields being added to each other's API or would you rather discuss internally what you want to do first (and/or handle it internally)?

Just an aside

[2019-10-03 09:35] pavelloz commented on #1856
I just hate the flow that i have to follow something and set weights in settings, to get rid off it.

[2019-10-03 09:48] Turnerj opened #4210 "Can't disable community-success notifications"
**Describe the bug**

On the [`Settings -> Notifications`](https://dev.to/settings/notifications) page, when you uncheck the "community-success" notifications checkbox and submit, the page says it has saved but the checkbox is still checked.

**To Reproduce**

1. Go to: https://dev.to/settings/notifications
2. Uncheck the "community-success" notifications checkbox at the bottom
3. Submit
4. See th

[2019-10-03 09:59] lightalloy commented on #3498
@araslanov-e What do you think about doing it similar to the post's date? Smth like:
![изображение](https://user-images.githubusercontent.com/30115/66117580-8e555180-e5dd-11e9-9ada-d39616323e56.png)

[2019-10-03 10:04] araslanov-e commented on #3498
@lightalloy You're right, it’s necessary by analogy.

[2019-10-03 10:05] araslanov-e commented on #3498
@lightalloy what about show episode?

[2019-10-03 10:16] lightalloy commented on #3498
It looks ok to me, maybe I would make the date font a bit larger.

[2019-10-03 10:49] awwsmm opened #4211 "numeric characters in tags"
This might be related to other tag issues, but it looks like numeric characters are completely blocked from appearing in tags at the moment. This makes it impossible to type out common post tags like `a11y` and `k8s`.

**To Reproduce**

1. Log in to Dev.To.
2. Click on "WRITE A POST" in the upper-right corner of the screen
3. Attempt to add a tag which contains a number to the post

The number wil

[2019-10-03 11:30] rhymes commented on #4206
@Turnerj, you make compelling arguments, I'm going to raise the topic internally and get back to you. We should definitely make a concerted decision on how to proceed regarding the mere addition of new fields but on deprecation and changes in a more ample view of the API evolution.

Thanks a lot, really :)

[2019-10-03 12:02] Bhupesh-V commented on #3181
I would like to contribute, can someone point me towards the required files.
I checked [docs.dev.to](https://docs.dev.to), not much info there

[2019-10-03 12:38] jtemporal commented on #4208
I'd love to have this too.

[2019-10-03 12:48] ashvin777 opened #4214 "Request to support JSitor Embeddable"
Hi Dev.to Team,

This is a feature request to support JSitor as embeddable content on Dev.to article sites. I have seen that JSFiddle and Codepen are supported in Dev.to which is great and same way we would like to add the support for JSitor as well.

The pattern followed for Codepen is as such
{% codepen https://codepen.io/twhite96/pen/XKqrJX %}

We would like to use the same pattern. JSitor alre

[2019-10-03 12:58] FeruzOripov commented on #4149
[https://github.com/james2m/seedbank](url) is really cool one

[2019-10-03 13:10] Kerooker commented on #1856
@Defman21 This doesn't work for me. Reloading/clicking feed again doesn't change the articles on my page.

[2019-10-03 14:14] palledorous commented on #3777
Do you still need help with this? I'd love to take on some refactoring.

[2019-10-03 14:24] rhymes commented on #3777
Hi @palledorous, please go ahead, I'm going to copy my recommendation from the other PR:

**to make reviews easier and also curb the possibility of introducing bugs, is not to tackle too many files at the same time.**

I went ahead and grouped the results of `yarn run eslint app/assets/javascripts --ext ".js"` and `yarn run eslint app/javascript --ext ".js"`:

- [ ] /app/assets/javascripts/initial

[2019-10-03 15:08] maestromac commented on #3604
resolved with https://github.com/thepracticaldev/dev.to/pull/4198

[2019-10-03 15:08] #3604 closed

[2019-10-03 15:17] msfjarvis opened #4219 "Inconsistent editor versions between posts"
**Describe the bug**

I have two posts on DEV that were supposed to be in a series, [#TeachingKotlin Part 1](https://dev.to/msfjarvis/teachingkotlin-part-1-classes-and-objects-and-everything-in-between-5bn0) and [#TeachingKotlin Part 2](https://dev.to/msfjarvis/teachingkotlin-part-2-variables-2api). I have been trying to use the editor to add Part 2 to the series but no matter what I choose as my

[2019-10-03 15:19] maestromac commented on #2917
Resolved with https://github.com/thepracticaldev/dev.to/pull/4169

[2019-10-03 15:19] #2917 closed

[2019-10-03 16:25] pavelloz commented on #1856
Confirmed. -1000 on tag, doesnt disappear from the feed even after refresh.

Settings:
![image](https://user-images.githubusercontent.com/546845/66145450-27e72800-e60b-11e9-8f0f-87d9e1067e13.png)

---

Feed:
![image](https://user-images.githubusercontent.com/546845/66145460-2e759f80-e60b-11e9-93ac-05e9c1348987.png)

[2019-10-03 17:07] uchihamalolan commented on #3777
I'll try to refactor `initializeAllFollowButts.js`

[2019-10-03 17:35] blascsi commented on #3777
I have already made a PR for `app/javascript/packs/notificationSubscriptionHandler.js`! :)

[2019-10-03 18:27] JWesorick commented on #4002
Some more context here for the next person to work on this issue: plan out how many github api requests you're going to make and make sure it is within the rate limit. I wrote a solution that worked with my spec but then realized it would never work within the rate limit.

[2019-10-03 18:27] LJBrehm commented on #3638
Would anyone mind if I took a crack at this?

[2019-10-03 19:14] torianne02 commented on #4197
I created a solution to this issue. While attempting to git add and commit to my local repo and branch I came across failing eslint tests. It looks like a lot of maintenance work. I was wondering if I needed to fix all of these errors, or is there a way to bypass these tests? I have included a screenshot of the tests failing (couldn't fit them

<img width="722" alt="Screen Shot 2019-10-03 at 12 07

[2019-10-03 19:27] maestromac commented on #4197
Hey @torianne02 , you can append your git command with `--no-verify` to ignore those lints.

[2019-10-03 21:18] maestromac commented on #4179
Can you verify that this issue is resolved @negue ?

[2019-10-03 21:26] maestromac commented on #3638
Go ahead @LJBrehm !

[2019-10-03 23:46] negue commented on #4179
I pulled the repo, removed all docker images / containers and re-run `docker-compose build`. The issue is resolved :tada:

[2019-10-03 23:46] #4179 closed

[2019-10-04 03:21] akshayymahajan commented on #3112
Still able to replicate the issue. Would like to work on this..

![image](https://user-images.githubusercontent.com/8535863/66178766-12621480-e684-11e9-8471-2dcfbb2c330e.png)

[2019-10-04 03:21] bolariin commented on #4116
Hi @moriczgergo are you working on this?

[2019-10-04 06:39] akshayymahajan commented on #4210
I would like to work on this but can't seem to find the checkbox on my notification settings page..

![image](https://user-images.githubusercontent.com/8535863/66186387-c1601980-e69f-11e9-8acd-a6528b72f777.png)

[2019-10-04 07:07] akshayymahajan commented on #4210
After looking at the code, it looks like the checkbox is rendered with name `mod_roundrobin_notifications` and the premitted attributes contain `email_community_mod_newsletter` for the community-success newsletter..

[2019-10-04 07:24] akshayymahajan commented on #4210
Looks like it is conditionally rendered..

[2019-10-04 10:23] turbo commented on #182
I'd suggest using KaTeX (https://katex.org/) for supporting math notation. As an example of a Markdown editor implementing LaTex support, https://stackedit.io/ (https://github.com/benweet/stackedit) uses the following syntax (in Markdown):

[code]

[2019-10-04 10:28] turbo commented on #182
I too am using LaTeX equations in some of my blog posts I'd like to port over to dev.to, so this is blocking my worklfow FWIW. Though I see that this issue is marked with a low priority. What would be the best way to attack this (adding support for a new feature in Markdown) for an external contributor (like me, though not making any promises). Where (source files/directories) do you see modificat

[2019-10-04 11:07] rhymes commented on #182
hi @turbo, thanks for reviving this ticket. I don't believe we can easily use KaTex being it in Node. The parsing, and rendering and cleaning is all done server side (so no client side plugins) and I suspect it might be complicated to introduce a Node external process just to render math notation.

The engine we use is called [Redcarpet](https://rubygems.org/gems/redcarpet) and it doesn't support

[2019-10-04 11:39] turbo commented on #182
That's certainly not a requirement, and a bit misleading. KaTeX is simply JavaScript. It also doesn't involve any parsing of markup (server-side). You'd serve the KaTeX JS file, and by simply having LaTeX notation on the page, in the HTML / Text, it would be displayed as LaTeX. There is no extra step required to enable or parse KaTeX server-side. You can see this e.g. by opening StackEdit and copy

[2019-10-04 11:54] rhymes commented on #182
Thanks a lot for the explanation and clarification @turbo, I really appreciate it!

[2019-10-04 11:57] lightalloy opened #4230 "Webhooks to subscribe to organization articles"
This issue is a part of the #3715 task

I see a couple of use cases to subscribe to the org articles:
1) A user belongs to an org and wants to subscribe both to their own articles and some (or all) of the orgs' articles they belong to
2) Org admin may want to create a site to subscribe only to the org articles

So, the webhook should be able to subscribe to the user articles, organization(s) artic

[2019-10-04 12:23] yashwanth2804 opened #4231 "Bookmark internet urls like pintrest"
**Is your feature request related to a problem? Please describe.**

This is not related to problem

**Describe the solution you'd like**
Just like Pinterest , provide an option for users to bookmarks urls,(blogs, tutorials, their own sites).
**Implemetations**
- private/ public bookmarks
- one can explore some otherusers' bookmarks list
-  showing recomendations/related site urls, if user bookmark

[2019-10-04 13:42] #962 closed

[2019-10-04 14:42] donquxiote commented on #2950
Hi! I see that the blocking issues have been closed out and would like to take this one if it's still available.

[2019-10-04 14:46] lightalloy commented on #2950
@donquxiote feel free to take it, it's available.

[2019-10-04 16:11] rhymes opened #4234 "Articles API: using collection_id does not return the correct results"
**Describe the bug**

https://dev.to/api/articles?collection_id=1693 should return articles belonging to that collection, instead it's returning returning articles that do not belong to any collection.

This does not happen in development mode, which makes me think it's a caching issue.

The articles index has a weird caching surrogate key, I think we should consider following the instructions set

[2019-10-04 17:12] araslanov-e commented on #3846
@Zhao-Andy Is the problem relevant?
Now a new form
![image](https://user-images.githubusercontent.com/1290711/66226339-fac27480-e6f3-11e9-878d-6a6989c61542.png)

[2019-10-04 17:30] Zhao-Andy commented on #3846
@araslanov-e I believe it is still an issue. To clarify, we have two versions of the editors:
- v1 which is the editor that uses front matter, and I think the default editor for video uploads
- v2 editor which is the editor you posted a screenshot of

If you're trying to reproduce this, I think you can simply try to reproduce in development with the v1 editor, and don't need to attempt a video upl

[2019-10-04 18:14] netochaves commented on #3777
Can we use arrow functions instead of `function()` ?

[2019-10-04 18:15] nickytonline commented on #3777
Yes you can use arrow functions and I believe the lint rules will prefer it in the case of anonymous functions.

[2019-10-04 18:16] netochaves commented on #3777
Yeah, thanks

[2019-10-04 18:17] nickytonline commented on #3777
@palledorous, I believe there is still work to be done in here. Just maybe sync up with the other in this thread to see which files they're working on.

[2019-10-04 18:27] palledorous commented on #3777
Sounds good!

[2019-10-04 18:44] netochaves commented on #3777
https://github.com/thepracticaldev/dev.to/blob/66faaccdd894a75887e6e3dfad30a3152e18a4fb/app/assets/javascripts/initializers/initNotifications.js#L48
This function is maybe missing an import from `/app/assets/javascripts/utilities/checkUserLoggedIn.js`

[2019-10-04 19:08] moriczgergo commented on #4116
@bolariin nope, don't have the time.

[2019-10-04 20:24] nickytonline commented on #3777
@netochaves, in the older part of the frontend code base, e.g. `app/assets/javascripts/*`, some functions are loaded in other files. There are no ES Modules in this part of the code base.

In this case that function is defined here, https://github.com/thepracticaldev/dev.to/blob/66faaccdd894a75887e6e3dfad30a3152e18a4fb/app/assets/javascripts/utilities/checkUserLoggedIn.js. eslint is probably compl

[2019-10-04 20:31] netochaves commented on #3777
Do you mean here? https://github.com/thepracticaldev/dev.to/blob/66faaccdd894a75887e6e3dfad30a3152e18a4fb/app/assets/javascripts/.eslintrc.js#L14

[2019-10-04 20:47] nickytonline commented on #3777
Yes, that is the file to add it to. More info on eslint globals here, https://eslint.org/docs/user-guide/configuring#specifying-globals

[2019-10-04 21:23] colbymelvin commented on #1805
I am experiencing this on the dev.to website in both Chrome and Firefox. I can also easily reproduce this in master on my local machine.

This is caused by the code in `app/assets/javascripts/initializers/initScrolling.js.erb#fetchNextPageIfNearBottom`.

When the content in  `app/views/articles/tags/_sidebar_additional.html.erb` exceeds a certain threshold, it impacts `document.documentElement.scr

[2019-10-04 22:13] rohitshetty commented on #1805
@colbymelvin Sure! I had guessed the problem to be in initScrolling too, but have been busy last few weeks with work and couldn't test it locally.
Thank you for the fix, please feel free to submit the PR :)

[2019-10-04 22:22] caseyrollins commented on #3654
Hi all, taking a stab at this issue! Does anyone have a preference on the name for the filter (`anti_tag` v. `not_tagged`)? @rhymes?

[2019-10-04 22:48] rhymes commented on #3777
You can also declare globals inline in the file, since right now basically all functions in `app/assets/javascripts` are global, I'm not sure how worth it is to use the `globals` inside the eslint file :D

[2019-10-04 22:59] bolariin commented on #4116
Thanks, it's fine. I was just asking because I was interested in resolving the issue

[2019-10-04 23:37] rhymes commented on #3654
@caseyrollins since the initial request is talking about filtering by multiple tags I would probably consider introducing two new parameters:

`tags` which takes a comma separated list of tags to _include_
`tags_exclude` which takes a comma separated list of tags to _exclude_

(right now we have only `tag`, we could consider extending this to support multiple tags but due to the naming I'm incline

[2019-10-05 00:04] caseyrollins commented on #3654
@rhymes, I completely agree that `tags` and `tags_exclude` should take comma separated lists. I would also say that `tags` and `tags_exclude` should be an `AND` between each other and the tags within each list should be `OR`. It feels the most intuitive and resembles what I've seen in other APIs.

Do you think `tags` should be a new parameter (along with `exclude_tags`), or should `tag` be removed

[2019-10-05 04:49] nickytonline commented on #3777
Thanks to everyone that has been working on this issue. Happy [Hacktoberfest](https://hacktoberfest.digitalocean.com/)! 👏🔥

[2019-10-05 05:16] hwolfe71 opened #4242 "Login seems to be broken again."
The main page is broken again, like issues #2919, #3081, #2790, #2983. It is not loading completely and only notifications will load properly. The connect page, my reading list and listings pages do not full load either, and the profile link is not clickable. I have cleared cookies twice and tried logging in via both github and twitter, with the same results.

See attached screenshot of the main p

[2019-10-05 06:35] hoangvvo opened #4243 "Upgrade to Preact X"
**Is your feature request related to a problem? Please describe.**

No. This is just a recommendation to upgrade to React X

**Describe the solution you'd like**

Upgrade to React X

**Describe alternatives you've considered**

n/a

**Additional context**

I looked at the [Upgrade guide](https://preactjs.com/guide/v10/upgrade-guide), and there is not a lot of breaking changes. Is there any plan or

[2019-10-05 09:55] Kritner commented on #3995
@maestromac can you provide sample HTML of what a code snippet *should* look like for pasting into such a tool like mentioned previously (like [Turndown](https://domchristie.github.io/turndown/)?

I'm wondering if I could update the feed generator plugin to do a transformation like that rather than the way its doing it, but I don't know what it's *supposed* to look like.  I was hoping to grab the

[2019-10-05 10:09] abenettt commented on #4129
This would reduce build time, not only for dev, but I wonder why we have to build ruby and node ourselves instead of using the respective docker images for them. We could still use a multistage builds to install necessary dependencies but it would reduce the build time significantly.

[2019-10-05 10:33] fusillicode commented on #2489
Hi, I was able to reproduce the cited behavior and I would really love to work on this issue.

Unfortunately I didn't get what the actual behavior should be 😅

Right now it seems that a `FeedbackMessage` without any reference to the `offender` is created upon submitting the report abuse form.

If the `FeedbackMessage` should be indeed be linked to the `offender`, should the form be changed to make

[2019-10-05 14:05] rhymes commented on #3654
@caseyrollins thanks!

No, not really, we've been operating with the assumption that we're just going to add things and trying not to break anything even though it's a v0

[2019-10-05 15:15] hecbuma commented on #4129
Hi, I'd like to give a hand, seems the Dockerfile needs some love, a first step to do a clean up will be great then see which parts can be moved to its own image.

[2019-10-05 15:18] BobbyMcWho commented on #4129
I agree, I haven't had the time to do an audit of what the current Dockerfile installs vs what comes in a base image of various already available containers

[2019-10-05 15:23] JSSaini07 commented on #3602
@Beznet Can i pick this up if this is not being worked upon? cc: @Mildred14

[2019-10-05 16:52] JSSaini07 commented on #3602
Seems like the issue no longer exists, `upload image` has been moved to the top in latest version of master

<img width="875" alt="Screenshot 2019-10-05 at 10 20 55 PM" src="https://user-images.githubusercontent.com/12277214/66258081-99b3a300-e7be-11e9-86a8-f5eb7ce56f4a.png">

[2019-10-05 17:13] JSSaini07 commented on #3684
@pchpsky I'd like to pick this up if you are not working on it :) cc: @jessleenyc

[2019-10-05 17:37] Yiddishe-Kop commented on #3728
One thing that is really important & easy to fix:
When printing dev.to articles - the header & footer appear on every page, & obstruct the body text.
See screenshot of print preview:
<img width="476" alt="Screenshot 2019-10-05 at 8 33 07 pm" src="https://user-images.githubusercontent.com/36875437/66258576-851bde80-e7af-11e9-8048-0589cda9facf.png">

An easy fix would be something like this in the c