[2019-10-05 17:44] nickytonline commented on #3728
Check out docs.dev.to for installing things. You can also install it via gitpod, https://dev.to/ben/spin-up-a-local-instance-of-dev-in-the-cloud-with-gitpod-it-s-incredibly-simple-pij, which does all the heavy lifting for you.

[2019-10-05 17:52] pchpsky commented on #3684
@JSSaini07 take it

[2019-10-05 18:04] MythreyaK commented on #4242
Same here! Site is unusable at all. Mobile site still works OK. Some concerning errors in the console window.

![image](https://user-images.githubusercontent.com/26112391/66258920-83aae000-e7c8-11e9-97f3-03827ca0e92f.png)

[2019-10-05 18:25] Beznet commented on #3602
@JSSaini07 Hm maybe they haven't pushed master to prod yet? Im still seeing the same issue where `upload image` is in the bottom left corner and it the top-page jump is still happening.

[2019-10-05 18:33] JSSaini07 commented on #3602
@Beznet Yeah, it is still reproducible on the website but not in the local build of latest master, They probably haven't upgraded prod.

[2019-10-05 19:50] sandordargo opened #4250 "Get views count for authenticated users published articles"
Hello,

I'm preparing some analytics for my articles (I also plan to publish the script). Scarping my dashboard to get the data is not convenient and will break fast.

Then I found the [DEV API](https://docs.dev.to/api/#tag/articles/paths/~1articles~1me~1published/get). I understand why we cannot get just for anyone the views count, but I'd like to get it for the authenticated user's published art

[2019-10-05 20:02] hoangvvo commented on #3739
Hey, happy weekend everyone.

I need help with https://github.com/thepracticaldev/dev.to/pull/4241#issuecomment-538683355 if anyone is available.

[2019-10-06 00:35] hoangvvo commented on #2470
@ruffle1986  :v: I would like to work on ` /app/javascript/listings/` if nobody is taking it. Thanks

[2019-10-06 01:13] Almenon commented on #2902
That's always a temptation, even without stats.

[2019-10-06 01:22] Almenon opened #4252 "# reactions per view"
**Is your feature request related to a problem? Please describe.**

My problem: I have to calculate manually the number of reactions per view. I use this score as a rough indication of how good an article is. An article that gets 100 hearts for 1000 views is probably better than a article that got 500 hearts for 2000 views. There's other factors at play too, of course, but the score serves as a ro

[2019-10-06 06:01] araslanov-e commented on #3846
@Zhao-Andy
Problem №1 - after description space is lost
For example
[code]
Problem  №2 - https://github.com/thepracticaldev/dev.to/blob/master/app/labor/markdown_fixer.rb#L58 invalid regexp https://rubular.com/r/d48NKsmxIWml6B

I'm trying to solve the second

[2019-10-06 06:17] hoangvvo commented on #4243
I tried to do so in a closed PR, and as expected, a lot of things break (in the tests). But I think it might be the test library that causes the problem.

For example, `preact-render-spy` is using `preact-render-to-string` of `^3.6.3`. This will not work with Preact X as only `preact-render-to-string` `^5.0.0` must be used. https://preactjs.com/guide/v10/upgrade-guide/#upgrading-dependencies

[2019-10-06 06:32] araslanov-e commented on #3846
@Zhao-Andy solved №1 - https://github.com/thepracticaldev/dev.to/pull/4258

[2019-10-06 08:38] ruffle1986 commented on #2470
@hoangvvo That would be great. Thank you, man! 🍻

[2019-10-06 10:03] emimuresan commented on #2470
@ruffle1986 Hi! I would like to work on `app/javascript/src/components/ ` if it's free :)

[2019-10-06 12:49] princefishthrower commented on #4011
@jmfayard , @Zhao-Andy - Hacktoberfest lurker here 😄 , I think I'd like to give this one a shot, but I'd like to hear both of your thoughts.

As @jmfayard referenced, if we used the embedly kotlin, it seems that we just need to pass a height via a postMessage (I looked at @jmfayard's post showing the original issue - from it seems the default height from embedly (?) is 150px - thought at the momen

[2019-10-06 12:53] jmfayard commented on #4011
My thought was that the npm package would be the best solution by far **if** the heavy JavaScript could be lazily loaded only for articles tagged with `#kotlin`. It's that possible @Zhao-Andy ?

[2019-10-06 13:00] jmfayard commented on #4011
The big advantage from a writer point of view is that you don't need to maintain code snippets in another website. It's just a markdown code block with `run-Kotlin` instead of `Kotlin`

[2019-10-06 13:10] reginaalyssa01809 commented on #3990
If I may, I'd also like to take a shot at this. :)

I have the same question as to how to test the preview links while in development mode.

[2019-10-06 15:21] artoodeeto commented on #3661
@jessleenyc noob question. is this open or closed? it has hactoberfest labeled but theres a close above it. If still opencan I take this? @zerefwayne you still working on this bro?

[2019-10-06 16:04] rhymes commented on #3661
hi @artoodeeto, this issue is still open, you can see the status at the top near the description. the "closed" you see here above is from a referenced issue, not this one

If you want to take a look at how to generate notifications, you can check: https://docs.dev.to/backend/notification/

let us know if you need help!

[2019-10-06 16:13] nickytonline opened #4262 "A user gets mentioned when they comment with a twitter liquid tag where their user name is the same as their dev.to user name"
**Describe the bug**

I've noticed this twice now. If I comment on a post and the comment contains a liquid tag for a Twitter post of mine, where the DEV user's handle name is the same as their twitter handle, they receive a notification that they were mentioned in a comment.

Here is the comment I made a few minutes ago that exhibits this behaviour, https://dev.to/nickytonline/comment/g7p7.

**To

[2019-10-06 16:22] artoodeeto commented on #3661
@rhymes ohh silly me. Thought this was closed and just marked as hactoberfest. Anyway I created 2 accounts already. I created new post with a `github` tag and comment back and forth but couldn't reproduced this bug. I'm using firefox(dev edition), chrome, and safari. no luck.

[2019-10-06 16:25] rhymes commented on #3661
@artoodeeto it could be that this got fixed by itself, after all the bug is from August :)

If you can confirm with a screenshot, I think we could go ahead and close this issue

[2019-10-06 16:30] artoodeeto commented on #3661
@rhymes I think im doing it wrong. hold on. let me try to do it again.

[2019-10-06 16:37] artoodeeto commented on #3661
![Screen Shot 2019-10-06 at 9 36 57 AM](https://user-images.githubusercontent.com/19770382/66272307-e62dcb80-e81c-11e9-8b44-ee896304ab4d.png)

[2019-10-06 16:38] artoodeeto commented on #3661
@rhymes  still here. let me fix this. after I comeback home. thank you sir, appreciate the help. :)

[2019-10-06 16:56] nickytonline commented on #2470
I can't remember who is working on app/javascript/listings/elements/categories.jsx, but I made a small refactor where I destructure the array to make it clearer what the pieces are. See https://github.com/thepracticaldev/dev.to/pull/4257/files#diff-7783bfe5c15d16a3b1fd6a657339ff56R7. One of us will need to update depending on who gets merged first.

[2019-10-06 16:58] technoplato opened #4263 "Negative following count on Dashboard"
**Describe the bug**

I have negative followers.

**To Reproduce**

Unsure how to reproduce...

**Expected behavior**

Followers count is equal to number of people oI follow

**Screenshots**

![image](https://user-images.githubusercontent.com/6922904/66272529-dd4af300-e838-11e9-8371-83bef56292e0.png)

**Desktop (please complete the following information):**

- OS: MacOS
- Browser: Chrome
- Version

[2019-10-06 17:08] araslanov-e commented on #3846
@Zhao-Andy solved №2 - https://github.com/thepracticaldev/dev.to/pull/4265 (I hope)

[2019-10-06 17:15] technoplato opened #4266 "API: get user by its github username"
**Is your feature request related to a problem? Please describe.**

I'm developing an "Edit on Github" "plugin" for posts for Dev.to and I want to automatically accredit users in a list at the bottom of an article if they submit an edit, along with maybe something like line count changed. I want to automate this, so I'd need a way to search for Dev.to users by github username.

Is this currently p

[2019-10-06 17:41] hoangvvo commented on #2470
I was working on it.

[2019-10-06 18:55] half-nirvana opened #4268 "Personal image gallery"
**Is your feature request related to a problem? Please describe.**

Once I upload an image for an post, I have to use it immediately or at least keep the copy of link otherwise it gets lost. Ideally I should be able to add, delete, use the content I upload.

**Describe the solution you'd like**

I should have a personal gallery of images which I have uploaded and I should be able to use it in any

[2019-10-06 19:17] JWesorick commented on #3688
`notifications#index` has a nav that could be reused here. There are however more items so it would wrap to the next line. What do you think?
<img width="382" alt="Screen Shot 2019-10-06 at 3 14 23 PM" src="https://user-images.githubusercontent.com/801062/66274408-615aa600-e84c-11e9-9aa4-c346762fa8dc.png">

[2019-10-06 20:32] johncurcio opened #4269 "Some job tests are not being executed and they do not fail"
**Describe the bug**

Tests inside a ``perform_now`` scope are never executed. Take, for example, ``bust_cache_job_spec.rb``:

https://github.com/thepracticaldev/dev.to/blob/66faaccdd894a75887e6e3dfad30a3152e18a4fb/spec/jobs/articles/bust_cache_job_spec.rb#L20-L22

This line has a typo. It's supposed to be have_receive**d**, and yet the test passes. The reason for that is because the test is insid

[2019-10-06 21:01] artoodeeto opened #4271 "Link liquid tag: error message is not informative or not showing the right error"
**Describe the bug**
when using the liquid link tag it shows an error message that is not informative

if you put this in the liquid link tag `{% link https://blog.smartcodehub.com/node-image-upload-api/ %}` error message is `base:  undefined method `[]' for nil:NilClass` this should be caught and return an appropriate error message

**To Reproduce**

1. create a new post
2. use liquid link tag an

[2019-10-06 21:34] #4001 closed

[2019-10-06 21:47] shushugah commented on #4262
I think the fix is to not ever mention anyone via a tweet tag, because this is not explicitly meant to tag people.

[2019-10-07 01:06] nickytonline commented on #4262
I'm not sure how the mentions are processed, but my guess is it is post generation of liquid tags in content. It probably makes sense to add a check when generating mentions for a user. If the current user is the one being mentioned, omit that from mention from their mentions.

[2019-10-07 03:45] akshayymahajan commented on #3112
Is anyone still working on this? If not, I would like to tackle this..

[2019-10-07 06:17] IgorPerikov commented on #1856
I can confirm that it's true for me either.
If needed for debugging purposes: my account auth via this github profile

[2019-10-07 07:14] araslanov-e commented on #3136
I did `chat_channel.delay.index!`, but without tests, I need some more time

[2019-10-07 07:21] ruffle1986 commented on #2470
Hey, guys! I'm still waiting for answers in my PR for the article-form. Meanwhile I started working on `/app/javascript/chat/`.

[2019-10-07 07:31] ruffle1986 commented on #2470
@hoangvvo @emimuresan Did you run the git pre-commit hooks when you committed your changes? It runs prettier and does changes according to the prettier config. For instance, There was a generic function to create a component for me but prettier simply just removed that and copy-and-pasted the same code three times. Now, this is what the code climate is complaining about in my case.

@rhymes Should

[2019-10-07 08:10] emimuresan commented on #2470
@ruffle1986 yep, i did not bypass the hooks, in my case i had no issues.

[2019-10-07 08:31] vanduc1102 commented on #3498
Hi @lightalloy , I just created a PR for the issue : https://github.com/thepracticaldev/dev.to/pull/4272
thanks

[2019-10-07 08:33] rhymes commented on #2470
@ruffle1986

what happens if you commit it with Prettier running?

I'll take a look, usually we don't review PRs that have the `WIP` tag, it's a signal that it is indeed a work in progress and not ready for review. I'll check it promptly

[2019-10-07 08:40] weekly-digest[bot] opened #4273 "Weekly Digest (30 September, 2019 - 7 October, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 139 issues were created.
Of these, 65 issues have been closed and 74 issues are still open.
## OPEN ISSUES
:green_heart: #4271 [error message on liquid tag is not informative or not showing the right error message](https://github.com/thepracticaldev/dev.to/issues/4271)

[2019-10-07 08:58] ruffle1986 commented on #2470
@rhymes

It changes a lot of lines that are not related to issue I'm about to solve. It seems that these files were committed with the --no-verify tag in order to prevent Prettier from doing this previously. Is it ok with you that the PR includes these changes done by Prettier? I thought that it would a bit more difficult for the reviewers to focus on the eslint fixes only.

Sorry, my bad. Removed

[2019-10-07 09:01] rhymes commented on #2470
@ruffle1986 maybe it can be done in a following PRs? so we don't drag those changes forever with the `--no-verify` flag

[2019-10-07 09:04] #4273 closed

[2019-10-07 09:13] rhymes commented on #3498
@vanduc1102 thanks for your PR! We'll take a look promply. One info: if you think you're done with the PR, please remove the `WIP` (work in progress), so that we can know when a PR is ready for review. Since you've left this comment I'm assuming yours is

[2019-10-07 09:29] akshayymahajan commented on #3112
@rhymes Yes. My bad, I thought #4153 was merged. It should fix the issue..

[2019-10-07 09:36] rhymes commented on #4269
Hi @johncurcio, first and foremost: thank you! This is a great catch! I have the feeling this is the result of an error introduced in one of these files and copy and pasting to follow the same pattern after that.

This is definitely approved :-)

[2019-10-07 09:45] rhymes commented on #3777
@palledorous I've added you to the list up there!

[2019-10-07 10:18] Amorpheuz commented on #3777
I would like to take up `/app/assets/javascripts/initializers/initializeArticleReactions.js`

[2019-10-07 13:47] maestromac commented on #4097
Resolved with https://github.com/thepracticaldev/dev.to/pull/4167

[2019-10-07 13:47] #4097 closed

[2019-10-07 13:50] maestromac commented on #3112
Resolved with https://github.com/thepracticaldev/dev.to/pull/4153

[2019-10-07 13:50] #3112 closed

[2019-10-07 13:52] maestromac commented on #4101
Resolved with https://github.com/thepracticaldev/dev.to/pull/4155

[2019-10-07 13:52] #4101 closed

[2019-10-07 14:03] #3990 closed

[2019-10-07 14:21] jessleenyc opened #4276 "Small nags in text area of /internal/articles"
Two nits that I imagine are quick fixes:

## Inconsistent "space" characters
**Twitter Main** has some extra characters after the author name.  **Twitter Satellite** has some extra characters before the author name.

## Different width for Facebook
The text area for the FB/LinkedIn box is a little narrower

![](https://cl.ly/e7c03926cb2c/Image%202019-10-06%20at%209.52.17%20PM.png)
![](https://cl.l

[2019-10-07 14:24] iam-abbas commented on #4276
I would like to take this up

[2019-10-07 14:24] jessleenyc commented on #4276
awesome, go for it @iam-abbas

[2019-10-07 14:27] jessleenyc commented on #4262
Yeah, I agree with that @nickytonline. Not just for Twitter liquid tags but a final check that we should only send a mention notification to the same user once per comment.

[2019-10-07 14:28] #2183 closed

[2019-10-07 14:37] jessleenyc commented on #4214
Cool, this is approved for anyone that'd like to take it on. Here's some documentation on liquid tags: https://docs.dev.to/frontend/liquid-tags/

[2019-10-07 14:41] jessleenyc commented on #4210
@akshayymahajan if you assign yourself a trusted role in development, it'll pop up for you. to do that, you can go into the rails console and add the role `User.find(#).add_role :trusted`

[2019-10-07 14:43] jessleenyc commented on #4208
For now, you can pull from each feed by updating the link in the RSS field. Not an ideal flow, but should help you import those posts!

[2019-10-07 14:46] jessleenyc commented on #4207
I think the approval process is probably up for debate. I personally think it makes sense for mods to be able to add/change the tags directly as long as the user gets and email and on-site notification about it.

[2019-10-07 14:58] iam-abbas commented on #4276
May I know where I can find this page on the website? @jessleenyc

[2019-10-07 15:09] jacobherrington opened #4277 "Badges overlap on the badge index page!"
**Describe the bug**

**To Reproduce**

1. Go to dev.to/badges
2. The pusher badges overlap

**Expected behavior**

Badges shouldn't overlap!

**Screenshots**

![image](https://user-images.githubusercontent.com/11466782/66323954-3e7ecf00-e8ea-11e9-8d37-3041ecc1614a.png)

**Desktop (please complete the following information):**

- OS: macOS
- Browser: Firefox (should be in all browsers)

**Addition

[2019-10-07 15:14] iam-abbas commented on #4277
May I work on this?

[2019-10-07 15:22] jacobherrington commented on #3217
I've actually had my priorities shift a bit, so dropping this issue. It's up for grabs 😄

[2019-10-07 15:23] n8chz commented on #4277
The <a> elements around the badges are 200x200, the badges inside these are larger.

[2019-10-07 15:28] rhymes commented on #4277
@iam-abbas sure, go ahead... and thank you!

[2019-10-07 15:40] melezhik commented on #2983
Issue appeared again, few days ago, the same symptoms, the same environment

[2019-10-07 15:42] melezhik opened #4280 "Login menu is disabled for my mobile phone (Chrome 56)"
Hi dev.to devs! my login page is  broken again. I can see a black circle in the right upper corner, but it's not clickable, in normal state it should be clickable and shows me submenu with login/logout options.

Regards

**To Reproduce**
Steps to reproduce the behavior:

1. Open dev.to site in mobile browser
2. Try to log in
3. I can't log in because upper right menu is disabled for me. Just a bla

[2019-10-07 15:48] melezhik commented on #2983
https://github.com/thepracticaldev/dev.to/issues/4280

[2019-10-07 16:38] maestromac commented on #4243
Thanks for this issue and trying to implement it @hoangvvo ! It might sense for us to do this after we upgrade our Webpacker (https://github.com/thepracticaldev/dev.to/pull/3887)

[2019-10-07 17:05] maestromac commented on #3728
Resolved with https://github.com/thepracticaldev/dev.to/pull/4249

[2019-10-07 17:05] #3728 closed

[2019-10-07 17:12] danhuynhdev commented on #4271
Is anybody taking this? I might be able to help.

[2019-10-07 17:20] benhalpern opened #4284 "Prepend non-url paths with https://dev.to instead of just https"
**Is your feature request related to a problem? Please describe.**

[This PR](https://github.com/thepracticaldev/dev.to/pull/4155) made it so `[github](github.com)` will work, but also that [dev.to](/) will no longer point to the dev.to root, which I think it should. Linking to `[career tag](/t/career)` also should work to prepend `https://dev.to` to the link.

**Describe the solution you'd like**

[2019-10-07 17:25] artoodeeto commented on #4271
@danhuynhdev I was thinking about it but im still at work you can have this one :)

[2019-10-07 17:59] #4277 closed

[2019-10-07 19:31] Amorpheuz commented on #3777
I would like to take up initializeCommentDate.js, initializeCommentDropdown.js, initializeCommentPreview.js too next!

P.S. thanks rhymes for going through and marking all the files! :smiley:  I did go through those but it seems I missed `initializeArticleReactions` in zach's PR, my bad.

[2019-10-07 20:02] johncurcio commented on #4276
@iam-abbas You can only access this page locally with admin privileges ([see here how to configure admin for you](https://docs.dev.to/backend/admin/)). You can find the textareas at http://localhost:3000/internal/articles after you click on ``Share to Buffer`` in any article.

[2019-10-07 20:17] iam-abbas commented on #4276
Ok I will do that

[2019-10-07 20:48] ruan-brandao commented on #4284
I'm gonna try to implement this one o/

[2019-10-07 21:17] alebruck commented on #4284
I'm also working on this one @ruan-brandao, I hope it's fine for you :)

[2019-10-07 21:38] CalvinTaylor40 opened #4304 "Not loading my pen project"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-10-07 23:25] alebruck commented on #1308
Hello @jessleenyc, do you have examples of posts where the language detection failed?

Looks like the gem used for language detection([CLD](https://github.com/jtoy/cld)) is not active anymore, I would propose switching to a different solution.

[2019-10-08 01:21] artoodeeto commented on #4271
@danhuynhdev hello do you want to work on this?

[2019-10-08 01:47] danhuynhdev commented on #4271
Sure, I'll take it

[2019-10-08 07:29] GnsP commented on #3046
@jessleenyc I have opened a WIP PR for this issue, there are a couple of things that I would like to be cleared, before we proceed with this PR.

- In collections table, title of the collection is being stored as the slug and the title column is being left empty. Is this by design ? or should we refactor the codebase and migrate the existing data to store the hyphenated version of the title as slu

[2019-10-08 10:23] lightalloy opened #4308 "Handle Net::HTTPGone 410 errors when pushing messages"
These errors regularly appear in the DJ web interface.
I started working on it in the pr #4232, but with @rhymes' help, I realized that we need a better solution.
I suppose we should delete the subscription when it happens.
I may be also worth to send each message in its own job to handle the errors easier.

[2019-10-08 10:58] rhymes commented on #4304
Hi @CalvinTaylor40 can you add more details? It's unclear what the issue is about. Thanks!

[2019-10-08 11:03] akshayymahajan commented on #4210
Thanks @jessleenyc, that worked!

[2019-10-08 14:11] sagarchoudhary96 commented on #4214
@jessleenyc  can i take it up?

[2019-10-08 15:07] jerryhopper opened #4310 "Cannot change/update my profile, or write posts/replies"
I just cannot change my profile.  Whatever i do, i get a 500Error.

My git/twitter account is connected, and my profile-email adress is correct. ( hopper.jerry@gmail.com )
But my  name & username is stuck on:  spam_2391  ( see: https://dev.to/spam_2391 )
Any submit-action results in a 500 error.

Help?

[2019-10-08 15:31] #4111 closed

[2019-10-08 15:33] sagarchoudhary96 commented on #3777
looks like sendFetch don't have any eslint error.

[2019-10-08 15:34] sagarchoudhary96 commented on #3777
i will take up `/app/assets/iinitializer/initializeCreditsPage.js`

[2019-10-08 15:44] sagarchoudhary96 commented on #3777
raised PR for it @rhymes . taking up initializeDrawerSliders, initializeDashboardSort from `app/assets/javascripts`.

[2019-10-08 15:47] rhymes commented on #3777
@sagarchoudhary96 if I run `yarn eslint app/assets/javascripts/utilities/sendFetch.js` I see an issue:

[code]

probably because the spread operator is not allowed in our configuration of eslintrc

[2019-10-08 16:02] rhymes commented on #3777
@sagarchoudhary96 I would replace the spread operator TBH, changing the eslintrc means that we might introduce new lint errors (for example by bumping the version of JavaScript) in all files

[2019-10-08 16:04] sagarchoudhary96 commented on #3777
also @rhymes , in `app/assets/intializers/initializeDrawerSliders.js` we are using function from other files for e.g initializeSwipeGestures() which is defined in `initializeSwipeGestures.js` file. so should i add import statements for those or leave them ?

[2019-10-08 16:22] rhymes commented on #3777
@sagarchoudhary96 you can declare, inside `initializeDrawerSliders.js` those functions as global, with a statement like this at the top of the file: `/* global initializeSwipeGestures */`

[2019-10-08 17:15] kvharish opened #4314 "Only the first feed loads on the homepage. The rest of the content loads only when I scroll down."
**Describe the bug**
Only the first feed loads on the homepage. The rest of the content loads only when I scroll down.

**To Reproduce**
Go to homepage, select 'Feed' and refresh the page. You should see the first feed loads but not the ones below it.

**Expected behavior**
All the feeds visible on the screen should load.

**Screenshots**

Initial feed
![Screen Shot 2019-10-08 at 10 35 05 PM](http

[2019-10-08 17:24] jessleenyc commented on #4214
@sagarchoudhary96 go for it!

[2019-10-08 17:38] kvharish opened #4315 "❤️ Reaction to our own comment"
**Describe the bug**
When we comment on any post our post gets self reacted by default. Not sure if this has been done intentionally but thought of registering it here.

**To Reproduce**
1. Go to any post
2. Scroll bottom to the comment section
3. Comment something
4. You should see your comment with the ❤️ reaction as 1 by default

**Expected behavior**
 Comment should be posted and the ❤️ reacti

[2019-10-08 17:43] #3661 closed

[2019-10-08 17:52] #4210 closed

[2019-10-08 17:59] sagarchoudhary96 commented on #4214
will try it, saw it later that code is in ruby mostly and I haven't worked with ruby before.

[2019-10-08 18:16] nickytonline commented on #4315
This is probably related to #4262.

[2019-10-08 18:26] araslanov-e commented on #3136
@lightalloy https://github.com/thepracticaldev/dev.to/pull/4317

[2019-10-08 18:52] #4106 closed

[2019-10-08 19:43] jessleenyc opened #4321 "Add color preview to organization settings"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
A color preview was added to a user's profile settings -- we should make this feature available for organization settings as well.

**Additional context**
Here's the color preview PR for reference: https://github.com/thepracticaldev/dev.to/pull/4212
![](https://user-images.githubusercontent.com

[2019-10-08 19:53] nickytonline commented on #4321
If someone needs some inspiration for this, I wrote a post about this and it has a demo doing pretty much what this issue is looking to do, at least on the frontend, https://dev.to/nickytonline/css-mask-property-2d42 .

[2019-10-08 19:54] #2822 closed

[2019-10-08 20:33] jessleenyc commented on #4310
Hi @jerryhopper, this looks like an individual account issue -- can you email yo@dev.to with the email associated with your account (hopper.jerry@gmail.com)?

[2019-10-08 20:33] #4310 closed

[2019-10-08 20:36] jessleenyc commented on #4242
Thanks for reporting this -- I'm going to close this issue since it seems like a duplicate of #1805. Sorry you're experiencing this - we've been trying to figure out.

[2019-10-08 20:36] #4242 closed

[2019-10-08 20:39] jessleenyc commented on #4219
Strange. Thanks for reporting. Whoever grabs this, look into the logic that's determining which editor to show?

[2019-10-08 20:45] nickytonline commented on #4321
I misread the initial comment. Didn't realize it existed already. 🙃

[2019-10-08 20:53] maestromac commented on #3846
Resolved with combination of https://github.com/thepracticaldev/dev.to/pull/4258 and https://github.com/thepracticaldev/dev.to/pull/4265

[2019-10-08 20:53] #3846 closed

[2019-10-08 20:59] jessleenyc commented on #1805
Some more reports/info here: https://github.com/thepracticaldev/dev.to/issues/4242

[2019-10-08 21:01] jessleenyc commented on #1805
Also made a post about this: https://dev.to/jess/call-for-dev-contributors-posts-on-front-page-do-not-load-until-scrolled-down-5e6a

[2019-10-08 21:21] nickytonline commented on #3777
I have a PR that fixes the issues with `/app/assets/javascripts/lib/pulltorefresh.js` coming up.

[2019-10-08 21:43] rohitshetty commented on #1805
Hey @colbymelvin are you still working on this?

[2019-10-08 21:45] colbymelvin commented on #1805
@rohitshetty @jessleenyc I submitted a PR for this here: https://github.com/thepracticaldev/dev.to/pull/4279

[2019-10-08 21:46] rohitshetty commented on #1805
@colbymelvin Awesome! Thank you

[2019-10-08 22:10] n8chz commented on #4321
Would that be `admin/organizations/new`? What view generates that?

    $ find app | grep organization
    app/observers/organization_observer.rb
    app/controllers/admin/.organizations_controller.rb.swp
    app/controllers/admin/organizations_controller.rb
    app/controllers/internal/organization_memberships_controller.rb
    app/controllers/organizations_controller.rb
    app/decorators/organi

[2019-10-08 22:35] maestromac commented on #2238
Resolved with https://github.com/thepracticaldev/dev.to/pull/2322

[2019-10-08 22:35] #2238 closed

[2019-10-08 23:45] alebruck commented on #4219
The current logic for Article Edit chooses the editor based on the content of the article, as you can see [here](https://github.com/thepracticaldev/dev.to/blob/master/app/controllers/articles_controller.rb#L77) and [here](https://github.com/thepracticaldev/dev.to/blob/757b1a8b57906d5ad987cb75be8b671758a3e036/app/models/article.rb#L330).

If it finds a `title` on the front matter block it will rend

[2019-10-09 01:07] alebruck commented on #4315
Looks like this behavior was built intentionally for new comments as verified [here](https://github.com/thepracticaldev/dev.to/blob/master/app/assets/javascripts/utilities/buildCommentHTML.js.erb#L97) and [here](https://github.com/thepracticaldev/dev.to/blob/master/app/controllers/comments_controller.rb#L79).

[2019-10-09 02:30] artoodeeto commented on #4321
@jessleenyc can I take this please? this looks interesting. ei yow dude @n8chz you takin this? can I help?

[2019-10-09 03:16] gate3 opened #4324 "CodeReview"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**"Where programmers share ideas and help each other grow."** The first line from the about page on dev.to . I strongly believe one of the best ways to help each other grow is through assistance with code reviews. Be it just a few lines of code or an entire repository. This will help devs on d

[2019-10-09 03:21] ludamillion commented on #4263
Possibly related issue logged in CounterCulture repo https://github.com/magnusvk/counter_culture/issues/187

[2019-10-09 03:35] ashvin777 commented on #4214
Hey @sagarchoudhary96 and @jessleenyc , Thanks for taking this up.

Is it possible to do a minor change here, is it possile to resolve
{% jsitor https://jsitor.com/IfRnIEscb %} to {% jsitor https://jsitor.com/embed/IfRnIEscb %} ?

Also, I would like to show the fullscreen page view as well which has /p/ in the middle of the path
{% jsitor  https://jsitor.com/p/IfRnIEscb %}, let me know if this wil

[2019-10-09 04:47] kvharish commented on #4315
Thought so. Thanks, @alebruck, and @nickytonline. I was wondering why no one reported this issue 😛.  May I know the purpose behind it? I couldn't notice it in the commit message. Just curious. I will close this afterward.

[2019-10-09 06:31] saneld27 opened #4325 "Sign in with Twitter on Edge Dev redirects to a 404 page"
Hi, there is an issue on Microsoft Edge Dev while trying to sign in with Twitter to dev.to, it redirects me to the 404 page showing an error message indicating that I am "offline". I have managed to sign in with Twitter using Opera and Chrome. I have also tried to login in incognito on Edge Dev, without extensions, but the same bug appeared.

To Reproduce

1. Open dev.to on Microsoft Edge Dev
2. C

[2019-10-09 07:51] rhymes commented on #4314
@kvharish could this have something to do with this other issue? https://github.com/thepracticaldev/dev.to/issues/1805

[2019-10-09 08:05] #4325 closed

[2019-10-09 08:07] saneld27 commented on #4325
The issue might be related to Edge Dev and not to dev.to. I've spent some time testing various versions and builds of the browser and it appears that in some of them it works while on others it doesn't so my conclusion is that it is not dev.to issue.

[2019-10-09 08:54] jerryhopper commented on #4310
i did,  and nothing happened.   im still looking at the same 500 errors

[2019-10-09 08:56] jerryhopper opened #4327 "Cannot change/update my profile, or write posts/replies"
This is a duplicate of #4310,  as it got closed and im still in the same situation.

https://github.com/thepracticaldev/dev.to/issues/4310

[2019-10-09 08:56] rhymes commented on #4325
@saneld27 can you please check if there's anything written in the console that might be related to us?

thanks!

[2019-10-09 09:26] abenerd opened #4328 "End to end encrypted private messages"
**Is your feature request related to a problem? Please describe.**
No problem, you're doing great!

**Describe the solution you'd like**
DEV supports private messages and I think it would be awesome if these could be end to end encrypted between the participants.

**Describe alternatives you've considered**
Alternatively the messages could simply be encrypted by the platform so that there are stil

[2019-10-09 09:55] Amorpheuz commented on #3777
I would like to grab `/app/assets/javascripts/initializers/initializeSettings.js`

[2019-10-09 10:00] Link2Twenty commented on #735
Now that we have a preview panel it might be nice to have some sort of contrast indicator.
Ref: #4212

[2019-10-09 10:03] Antonio-Cabrero commented on #2799
Has this been done? I'd like to take a dive into it :)

[2019-10-09 10:52] jerryhopper commented on #4310
The profile shows this :

![image](https://user-images.githubusercontent.com/1160857/66475387-83923500-ea93-11e9-9e28-e06c964237ed.png)

[2019-10-09 10:53] jerryhopper commented on #4310
My settings page looks like this.
![image](https://user-images.githubusercontent.com/1160857/66475491-b1777980-ea93-11e9-9b93-b4d38c94baa5.png)

What i noticed is the inconsistent username/name   two different ones?

[2019-10-09 10:57] jerryhopper commented on #4327
![image](https://user-images.githubusercontent.com/1160857/66475752-3febfb00-ea94-11e9-94f5-ff3faac1682b.png)

![image](https://user-images.githubusercontent.com/1160857/66475781-509c7100-ea94-11e9-8e37-79ba8d3b603b.png)

[2019-10-09 11:16] rhymes commented on #4328
Hi @abenettt, thanks for this request and for starting this conversation!

A bit of information about the status quo:

Right now we use [Pusher](pusher_channels) to push messages to all recipients, and messages are also [stored in the DB in the clear](https://github.com/thepracticaldev/dev.to/blob/master/app/models/message.rb).

Pusher does support [e2e encrypted channels](https://blog.pusher.com/

[2019-10-09 11:19] rhymes commented on #2799
@Antonio-Cabrero no, I believe this is still an open issue, you can dive into it :)

[2019-10-09 11:27] kvharish commented on #4314
Yes @rhymes you are correct. I will close this one and I could see a PR has been raised already for the same. I will follow up on that. Thanks.

[2019-10-09 11:27] #4314 closed

[2019-10-09 11:29] kvharish commented on #1805
I raised the same issue here [4314](https://github.com/thepracticaldev/dev.to/issues/4314). I have closed it now. Good to see that it's fixed. Thanks, @colbymelvin.

[2019-10-09 11:33] msfjarvis commented on #4219
That did the job! Definitely going to keep this in mind for the future, lost way too many hours fumbling around...

[2019-10-09 12:12] GeorgeColdham opened #4330 "Moderation dashboard - Jump to next post"
# Moderation dashboard - Jump to next post
When moderating I would like a way to jump between posts without having to scroll.

(When using `dev.to/mod`)

## Suggested solution

I would like `next` and `previous` buttons to jump to the next post to be moderated and back to the last.

It could use anchor tags in the title of each post to scroll that post to the top of the display. There is a collect

[2019-10-09 12:15] Amorpheuz commented on #3777
I would love to take ` /app/assets/javascripts/initializers/initializeBaseUserData.js`!

[2019-10-09 14:01] Arteneko opened #4332 "Gitlab / *-based project showcase"
We can put in front some of our Github-based projects, but nothing else.

I'm mainly a Gitlab user, and have a few projects I'd like to showcase on my profile, and I sadly can't do that unless I mirror my real repository with a mirror on Github, which is pretty impractical and adds some indirection.

Wouldn't it be possible to also load Gitlab-based projects? Or pretty much any git-based project?

[2019-10-09 14:11] rhymes commented on #4332
Hi @Arteneko, thanks for starting the discussion!

It's probably doable for repositories hosted by Gitlab and possibly with self hosted options that have the API enabled. All the other services are probably conditioned as well on availability of an API.

What do you think?

[2019-10-09 14:53] nickytonline commented on #3739
There are issues in regards to OrgSettings.jsx in Code Climate. I've started work on this. This is not the same work being done in #2470 in regards to eslint issues that @ruffle1986 is addressing.

[2019-10-09 15:02] FeruzOripov opened #4333 "Filters for search"
**Is your feature request related to a problem? Please describe.**
When I search posts I'll get posts that ordered by positive reactions count. The problem is what if I want to get latest posts related to search keyword. For example, I wanted to check latest posts related to hacktoberfest, but when I searched it, I got posts with most reactions.

**Describe the solution you'd like**
I think there

[2019-10-09 15:11] benhalpern commented on #4328
I agree with this feature big time.

@rhymes yes abuse reports is a component here, but the way we deal with privacy (through strict internal permissions) is something I'd love if we could move off of. With regard to the abuse, I think we could work out a mechanism so that when someone reported abuse, they initiate an encryption transaction similar to how they were doing e2e in the first place. Th

[2019-10-09 15:41] michael-tharrington opened #4335 "DEV View Counter Caching Issues"
A contributor recently pointed out that the view count on one of their articles stopped increasing even though they continued to receive reactions and comments on the post:

<img width="673" alt="Image 2021-01-26 at 6 11 14 PM" src="https://user-images.githubusercontent.com/16007075/105918427-e77e9b00-6001-11eb-9bdf-00fe47d452c8.png">

I pointed out that this sounded similar to https://github.com/

[2019-10-09 15:54] benhalpern opened #4336 ""Contact via Connect" in listings form cannot be unchecked"
The button in the main listings form does not change when the checkbox is clicked...

![](https://cl.ly/7c5f53213221/Image%202019-10-09%20at%2011.53.08%20AM.png)

Expected behavior:

The checkbox changes and the appropriate preact state is altered.

[2019-10-09 16:58] michelc opened #4338 "Anchored links get prefixed with "//""
**Describe the bug**

When creating a Table of Content with anchored links, links are generated with "//" before the anchor name.

[code]

Will generate:

[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Go to '[here](https://dev.to/michelc/crud-application-with-express-and-sqlite-in-10-steps-me0)'
2. Click on '3. Create the Express application.' in the Table of Contents
3. Browser n

[2019-10-09 17:07] michelc commented on #4338
**Update to  app/lib/redcarpet/render/html_rouge.rb**

[code]

**Update to spec/labor/markdown_parser_spec.rb**

[code]

[2019-10-09 18:01] rhymes commented on #4338
Closed by https://github.com/thepracticaldev/dev.to/pull/4340

[2019-10-09 18:02] #4338 closed

[2019-10-09 18:50] danhuynhdev commented on #4271
Just create a PR and link it to this issue. Not sure who I should ping to review it :thinking:

[2019-10-09 19:14] AndrewSverdrup opened #4342 "Access to unique user id from liquid tag"
I'm working on a PR to add a liquid tag for code sandboxes on https://next.tech.  To provide a better experience for the user, we'd like to be able to load the same sandbox each time a user views a particular liquid tag embed (so the user's changes are persisted in the sandbox).  Is it possible to access a unique user id from a liquid tag (in the `app/liquid_tags` folder)?

[2019-10-09 19:41] mahamshahid18 commented on #4336
Hey @benhalpern. I'd love to take a look at this. Can you add more context? Where can this checkbox be found, and what is the required state for when the checkbox value changes?

[2019-10-09 20:05] #4269 closed

[2019-10-09 22:51] joshuatz opened #4344 "Windows Docs: PostgreSQL Section Update"
**Is your feature request related to a problem? Please describe.**

Yes; while trying to walk through the Windows dev environment setup instructions ([here](https://docs.dev.to/installation/windows/)), I noticed that the PostgreSQL section seems to be out-of-date compared with the rest of the docs. The current installation link is pointing to a broken page, *not* on `postgresql.org`.

Markdown fil

[2019-10-09 23:01] johncurcio commented on #258
I'd love to work on this if nobody is working anymore. @omenking are you still working on this?

[2019-10-09 23:26] omenking commented on #258
go for it. I did finish it but was never able to have it easily tested based on the lack of seed data

[2019-10-10 01:56] artoodeeto commented on #4321
Hello, I'm taking this. currently working on this one. thanks. 😄

[2019-10-10 02:31] caleb15 commented on #4211
Our company is called 15Five ...... yeah. Can't tag my own company :(

[2019-10-10 09:49] rhymes commented on #4336
Hi @mahamshahid18 I think @KattyaCuevas submit a PR to fix this issue: https://github.com/thepracticaldev/dev.to/pull/4343

[2019-10-10 10:27] abenettt commented on #4328
I don't know many connections pusher is serving right now, but maybe using something like [Mercure](https://github.com/dunglas/mercure) instead of ActionCable will allow for independent scaling, and it is still open source. The platform would still be responsible for the encryption.

[2019-10-10 11:41] rhymes commented on #4336
@mahamshahid18 most issues are by area, not by language, that's true.

Aside from writing "javascript" in the issue search box, you can take a look at these two results organized by labels: https://github.com/thepracticaldev/dev.to/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Ajavascript+ - https://github.com/thepracticaldev/dev.to/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22tec

[2019-10-10 11:44] coolbrg opened #4349 "Getting "undefined method `id' for nil:NilClass" on rspec spec/system"
**Describe the bug**
`bundle exec rspec spec/system` failed with error `undefined method `id' for nil:NilClass`.

**To Reproduce**

1. Run `bundle exec rspec spec/system`.

**Expected behavior**

The command to test system specs should pass.

**Desktop (please complete the following information):**

- OS: macOS

**Additional context**

I am getting the error repeatedly(4 times).

#### Failed examp

[2019-10-10 11:49] rhymes commented on #4328
I haven't studied the issue enough to know if we should migrate away from Pusher (or any other SaaS offering) and do encryption ourselves through some framework/library/server but in any case I agree with Ben, we definitely need e2e encryption.

Mercure seems interesting, a possible alternative to ActionCable which is compatible with it and that's popular in the Rails community is AnyCable: https:

[2019-10-10 13:15] luke-jones-1 commented on #3376
Hi, im an apprentice software dev, is this issue available. if so id like to take it up and have a go.

[2019-10-10 13:18] rhymes commented on #3376
@luke-jones-1 I believe @cyberShaw is not working on it anymore, please go ahead!

[2019-10-10 13:20] luke-jones-1 commented on #3376
thank you very much, ill give it a go then

[2019-10-10 13:34] luke-jones-1 commented on #3376
i was just setting up an algolia account. when it asks which data centre i want to use should i just use the one with the lowest ping?

[2019-10-10 13:51] rhymes commented on #3376
@luke-jones-1 you need to create a `config/application.yml` file, not edit the `Envfile` directly. Take a look at the installation instructions: https://docs.dev.to/installation/mac/#installing-dev

[2019-10-10 13:51] luke-jones-1 commented on #3376
thank you very much

[2019-10-10 13:54] RakChamp25 commented on #2470
@rhymes  I'm gonna fix the files in the app/javascript/article-form/elements/moreConfig.jsx folder and open a PR.
[4350 - PR](https://github.com/thepracticaldev/dev.to/pull/4350)

[2019-10-10 14:26] luke-jones-1 commented on #3376
@rhymes when trying to run ```bundle install``` it keeps failing when trying to install the 'pg version 1.1.4' gem and giving me this error message:
[code]
i wanted to try running gem install with the ```--with-pg-config=/path/to/pg_config``` switch but i couldnt find where pg_config was.
can you offer assistance?

[2019-10-10 14:28] #4344 closed

[2019-10-10 14:38] coolbrg commented on #4349
Updated @rhymes . I should have done before. Thanks

[2019-10-10 15:05] Link2Twenty commented on #4271
Ping: @rhymes

[2019-10-10 15:15] rhymes commented on #4271
@Link2Twenty the PR already has a review by https://github.com/thepracticaldev/dev.to/pull/4341#pullrequestreview-299625738 😅

[2019-10-10 15:59] luke-jones-1 commented on #3376
Just submitted a pull request, I think I did it!
Just let me know if there's anything that needs fixing/changing.

[2019-10-10 16:14] omenking opened #4354 "Be able to turn a regular post into a video post"
**Is your feature request related to a problem? Please describe.**

Many times I will draft a post, and then want to add a video after the fact. Since videos cannot be added after the fact I have to create a new post to do so.

So, for example, I am working to publish my my Free course on Dev.to and I have a video that doesn't have the best sound quality but I just want to get it out. I want to fr

[2019-10-10 18:56] Leopere commented on #3876
Oh definitely bring this.

[2019-10-10 19:44] maestromac commented on #4271
Resolved with https://github.com/thepracticaldev/dev.to/pull/4341

[2019-10-10 19:44] #4271 closed

[2019-10-10 20:52] alex-at-cascade commented on #575
Trying to publish my first article on dev.to, just ran into this and was completely confused!  Will be happy when a fix is available.

[2019-10-10 21:08] maestromac commented on #3085
Resolved with https://github.com/thepracticaldev/dev.to/pull/3086

[2019-10-10 21:08] #3085 closed

[2019-10-10 22:01] #4129 closed

[2019-10-11 01:24] hoangvvo commented on #3739
If someone can help me review #4241, it would be great. Thanks!

[2019-10-11 01:44] artoodeeto commented on #3684
@JSSaini07 yow my dude you still working on this one bro?

[2019-10-11 02:37] artoodeeto commented on #4262
@nickytonline  @jessleenyc  let me take a crack on this one.

[2019-10-11 04:08] ludamillion commented on #3777
I attempted to replace the spread operator by using the `Object.assign` approach. This resulted in a new lint error indicating that `Object.assign` is deprecated and should be replaced with the spread operator 😜. However I bumped the `ecmaVersion` in the app/assets/javascript directory and it did not result in any new lint errors.

[2019-10-11 04:22] guar47 commented on #4276
@iam-abbas I hope you don't mind I've created PR for that.

[2019-10-11 04:29] palledorous commented on #3777
I was looking into that locally myself earlier tonight and noticed the same thing. I think it may have even resolved several of the errors.

[2019-10-11 05:17] artoodeeto commented on #4262
Hi, I also found out that if the current user tries to mention it self in the comments it will notify the user. So this is not just the twitter liquid tag or any liquid tag, guessing its in the comments mention.

Im kinda lost, what I'm trying to achieve is upon submitting a comment:
1. intercept the comments params from CommentController#create. payload looks like this:
[code]
2. check @mentions

[2019-10-11 06:06] RakChamp25 commented on #2470
@rhymes @nickytonline can i take this /app/javascript/onboarding/components/EmailListTermsConditionsForm.jsx ?

[2019-10-11 08:08] zevaverbach commented on #4195
👋 I'm taking a crack at this today.

[2019-10-11 09:53] ruffle1986 commented on #2470
@RakChamp25 It has already taken by @daningenthron.

Please check the list of files with lint issues and pick one that is not taken by anyone: https://github.com/thepracticaldev/dev.to/issues/2470#issuecomment-537845194

[2019-10-11 11:17] araslanov-e commented on #2950
@lightalloy Look it please https://github.com/thepracticaldev/dev.to/pull/4366

[2019-10-11 11:19] pavelloz opened #4367 "Likes number in feed doesnt match the number inside the post"
I saw an interesting article and there was 5 <3 next to it. I opened it, it had only one.

Article: https://dev.to/stephencweiss/web-safe-fonts-and-font-fallbacks-4noi

**Expected**

They should match more or less :)

**Screenshots**

Feed view
<img width="625" alt="image" src="https://user-images.githubusercontent.com/546845/66647633-b4a46e00-ec29-11e9-8420-aac66d73363a.png">

---

Post view
<img

[2019-10-11 11:32] Glennmen commented on #4367
❤️, 🦄 and 🔖 are added together.

[2019-10-11 11:53] Link2Twenty commented on #735
I was having a little think about how the UI should look for this. I settled on something like this.

![mock up](https://user-images.githubusercontent.com/3534427/66649255-9b012780-ec25-11e9-9c27-5f517f983e56.png)

I've been updating my [fiddle](https://jsfiddle.net/link2twenty/zt58yhuj/) in the above comment for if anyone wants to look at this.

[2019-10-11 12:42] zevaverbach commented on #4195
Okay to implement this for videos and podcasts while I'm at it?

[2019-10-11 12:46] #3376 closed

[2019-10-11 13:07] pavelloz commented on #4367
Ouh.

[2019-10-11 13:07] #4367 closed

[2019-10-11 13:20] rhymes commented on #4195
@zevaverbach I think this issue is for the entirety of the API, but we might want to discuss over here or over there (once your PR is submit) what kind of access to give each resource.

One thing: CORS should only be enabled on public API endpoints, those that don't require any type of authentication

[2019-10-11 13:26] zevaverbach commented on #4195
@rhymes @jessleenyc Let me know if this is the wrong place to ask, but I'm hitting a wall after many hours of trying to get this running locally. `bin/startup` and `docker-compose up` both fail after following all the guidelines, setting up the db, etc., as well as applying a required migration.

I'm happy to keep debugging this on my own, but can you point me in the right direction for getting us

[2019-10-11 13:29] zevaverbach commented on #4195
Hm, this may have been premature, trying `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES`...

[2019-10-11 13:29] rhymes commented on #4195
@zevaverbach what version of macOS do you have?

What happens if you open three tabs, and start separately `./bin/webpack-dev-server`, `rails s` and `rails jobs:work` ?

[2019-10-11 13:30] rhymes commented on #4195
Also, what version of Ruby are you using?

[2019-10-11 13:32] zevaverbach commented on #4195
@rhymes MacOS 10.14.5, Ruby 2.6.3p62. Will try your suggestion next if this `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` doesn't work.

[2019-10-11 13:34] zevaverbach commented on #4195
@rhymes okay, I'm in business with `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` -- should I make a separate PR to add that to the docs somewhere?!

[2019-10-11 13:36] rhymes commented on #4195
I have the same exact setup but I've never noticed that, you could add it to the "possible error messages" section of https://github.com/thepracticaldev/dev.to/blob/master/docs/installation/mac.md#possible-error-messages in a separate PR

[2019-10-11 13:54] michael-tharrington opened #4369 "Add link to /community-moderation on all /mod pages"
It's difficult to find links to the community moderation guide ([dev.to/community-moderation](https://dev.to/community-moderation)), so it'd be valuable to add this link to various relevant pages.

We should add this link - https://dev.to/community-moderation to any `/mod` page:
1. [https://dev.to/mod](https://dev.to/mod)
2. https://dev.to/dev-username/article-title/mod

**Additional context**

1.

[2019-10-11 14:20] maestromac commented on #4110
Resolved with https://github.com/thepracticaldev/dev.to/pull/4370

[2019-10-11 14:20] #4110 closed

[2019-10-11 14:40] michael-tharrington opened #4373 "Allow orgs to have an org RSS that is accessible to all org members"
Currently, if a user wants to load in all of their articles from another blog to repost on DEV, they can go here in their settings - https://dev.to/settings/publishing-from-rss and input the RSS feed of the blog, which will then load posts into their [dashboard](https://dev.to/dashboard) as drafts.

A current limitation here is that 2 users can't load in the same RSS feed. This limit assumes that

[2019-10-11 15:03] JSSaini07 commented on #3684
@artoodeeto nope, couldn't get the time. Feel free to pick it up!

[2019-10-11 15:05] mahamshahid18 commented on #4336
Thanks for the links, will take a look 👍

[2019-10-11 15:17] VoxSecundus commented on #4369
Hi, I'm taking a look at this!

[2019-10-11 15:40] michael-tharrington commented on #4373
This is a related request - https://github.com/thepracticaldev/dev.to/issues/100 ... just figured I should drop it here in case.

[2019-10-11 16:34] #4284 closed

[2019-10-11 17:03] Amorpheuz opened #4377 "JavaScript Console Errors on Comments subpage of a Post"
**Describe the bug**
https://github.com/thepracticaldev/dev.to/blob/fbbda3ed822a3e7c7d718ad979998ab23ae2a607/app/assets/javascripts/initializers/initializeCommentDropdown.js#L86-L111

This function is responsible for initializing a part of the dropdown generation process. The `isIOSDevice` and similar functions meant to only work on Article Pages where the `click-to-copy` #1579 functionality is pr

[2019-10-11 17:03] Amorpheuz commented on #4377
I would like to take up this issue if possible 😄

[2019-10-11 17:49] RakChamp25 commented on #2470
I am gonna fix this app/javascript/shared/components/tags.jsx
@rhymes [PR link](https://github.com/thepracticaldev/dev.to/pull/4378)

[2019-10-11 17:50] benhalpern opened #4379 "DIV alignment issue on one specific post, possibly missing html tag?"
Something going on with the content area under this post…
https://dev.to/jess/what-was-your-win-this-week-dch
Looks like maybe a missing closing div or something (notice the lack of padding at the bottom in addition to the alignment issue)
Only that post is off from what I see right now.

<img width="1227" alt="Screen Shot 2019-10-11 at 1 48 01 PM" src="https://user-images.githubusercontent.com/31

[2019-10-11 18:51] benhalpern commented on #3688
Hey, I think re-using the general components from notifications makes sense, but I think we should handle the overflow with a side scrolling div (with faded right-hand side to indicate scrollability)

Such as the Google to level filters...

![Image from iOS](https://user-images.githubusercontent.com/3102842/66676828-60ec5180-ec36-11e9-823e-6f21ca1dc7b7.png)

[2019-10-11 19:04] Amorpheuz commented on #4379
In terms of the page's HTML, the div elements for classes `show-page-content-display`, `more-articles` and id `additional-content-area` ended up being added outside the main div with class `home`. Due to this, the margin-property they have of `25px` ends up being taken from main `page-content` div rather than `home`.
![image](https://user-images.githubusercontent.com/22113778/66677417-35458780-ec8

[2019-10-11 19:34] Amorpheuz opened #4382 "Images in comment preview are not scaled down to container width on mobile"
**Describe the bug**
The image when uploaded through the mobile site/PWA isn't scaled down to fit the comment's container when in `preview` mode.

There is an earlier issue which #3264 which was marked as a duplicate of #3085 which was fixed by #3086 but from what I can see, that only tackles the image upload button's issue.

**To Reproduce**
1. Open any article on DEV, say [this](https://dev.to/w

[2019-10-11 21:25] joshi-chinmay opened #4383 "If the post title is too long then it goes outside the box"
**Describe the bug**
If the words in the title of the blog title are too long then it goes outside the box.

**To Reproduce**
Have a word in the title with many letters in it.

**Expected behavior**

**Screenshots**
<img width="1680" alt="Screenshot 2019-10-11 at 5 20 20 PM" src="https://user-images.githubusercontent.com/16207311/66685980-f514e380-ec4b-11e9-959c-8f5cc013e1e0.png">

**Desktop (plea

[2019-10-11 23:19] PeterDavidCarter opened #4384 "500 Error On Creating Article"
**Describe the bug**

**To Reproduce**

**Expected behavior**

Not:

![image](https://user-images.githubusercontent.com/23146481/66690135-0844a500-ec86-11e9-8066-88b241dda0f4.png)

**Screenshots**

![image](https://user-images.githubusercontent.com/23146481/66690138-0b3f9580-ec86-11e9-8067-151a7aa3d299.png)

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**S

[2019-10-12 00:00] joetex opened #4385 "Mobile Issue - Writer text area scrolling out of view with Keyboard Focus"
**Is your feature request related to a problem? Please describe.**
Android Firefox text area will scroll out of view when moving text cursor or when the text area gains focus.

**Describe the solution you'd like**
If text cursor is in view, do not scroll.
If text cursor goes out of view, slide it back into view.

**Describe alternatives you've considered**
Android Chrome doesn't scroll at all, so

[2019-10-12 00:42] joetex opened #4386 "The lifetime of Tutorials vs Posts vs Tricks vs Hot Stuff"
**Is your feature request related to a problem? Please describe.**

dev.to receives many different categories of write ups, and they all have the same lifetime, or time-based promotion.   Unless a write-up is promoted outside of dev.to, its lifetime is anywhere between 1 hour and 5 days.    All write-ups are being equated to a meme or news articles with short engagements, but most write-ups are re

[2019-10-12 05:59] iAnkurBiswas opened #4387 "Leave Organization isn't working"
**Bug**

Leave Organization doen't work properly.

In Settings, on [Organization tab](https://dev.to/settings/organization) to leave the organization when I'm trying to click the _Leave Organization_ button it's showing me a alert box for confirmation. When I click _Ok_ to confirm that, it's redirect me to this [page](https://dev.to/users/leave_org) showing error.

**To Reproduce**

1. Go to [Sett

[2019-10-12 09:39] matisnape commented on #4250
I would like to try this :)

[2019-10-12 13:31] n8chz commented on #4321
Please do. I can't even figure out where in the code it happens.

[2019-10-12 14:45] abenettt opened #4389 "Redirect user to origin after sign up"
**Is your feature request related to a problem? Please describe.**
When being prompted to sign in before commenting on an article, after completing the onboarding after creating a new account one is being redirected to the landing page / start page of dev.to. Instead of the article one wanted to comment on.

**Describe the solution you'd like**
I think being one should be redirected to the place w

[2019-10-12 20:59] matisnape commented on #2351
I would like to do this.
However, I think that having 2 dropdowns in this view is not a very good idea, UI-wise https://monosnap.com/file/B4odC8wh4EJ47iH4t2GdibfrBixZVS
I think toggle buttons like on listings dashboard would look better https://monosnap.com/file/Any6ZCy5N16EC8QGS7SRNUQyz1vTwf

@jessleenyc WDYT? Also, any tips on placement of this dropdown/toggle? And if we go for toggles - what co

[2019-10-12 23:14] melezhik commented on #4280
Hi guys! Any news here?

[2019-10-13 04:32] kvharish commented on #1805
Hi, @colbymelvin @jessleenyc The issue is fixed now.

[2019-10-13 04:35] kvharish commented on #4315
@jessleenyc Just curious. If you can give more insight into this behaviour it would be appreciated.

[2019-10-13 06:14] bharatdwarkani opened #4395 "Improve usability of image upload"
Today while posting in Dev.to I felt a usability issue in including the image in my article. One thing is dev.to follows Markdown editor, In your editor, I just cannot take a snapshot and past images directly. This is supported by an editor like Medium or any RTE. Due to this, I have to save some 14 images related to the article in system and then manually upload each which is time-consuming. Sinc

[2019-10-13 06:16] bharatdwarkani opened #4396 "Option to import a story from medium"
Provide an option for importing a story from medium through URL. Due to markdown editor, it is time-consuming to post a story written in medium to dev.to

[2019-10-13 08:59] synarion258 opened #4397 "bug 500 errors report"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-10-13 09:04] matisnape commented on #3950
@omenking So you would be able to edit tags from main page additionally to admin panel? Or the button should be redirecting to the edit tag page in admin panel?

[2019-10-13 10:06] ashvin777 commented on #4214
Any updates?

[2019-10-13 13:46] vigzmv commented on #4315
@kvharish This behaviour is present on reddit too
https://www.reddit.com/r/NoStupidQuestions/comments/4s3oaj/why_do_you_automatically_upvote_your_own_posts_on/

[2019-10-13 14:00] matisnape commented on #3001
@pkfrank this is about /notifications/comments ?

[2019-10-13 14:03] sagarchoudhary96 commented on #4214
@ashvin777  I haven't taken this up as i don't have experience with ruby and  currently not able to put in time.

[2019-10-13 16:51] Amorpheuz commented on #4349
I do get the same error too when running the tests locally, on a random basis, but they seem to always pass when I run them on Travis.

[2019-10-13 18:02] chinchang opened #4398 "Random notifications shown"
**Describe the bug**

The notification bell shows random numbers often. Once I click it and reach `https://dev.to/notifications`, sometimes there are no notifications, sometimes there are old notifications on top, basically anything random.

**To Reproduce**
1. I suppose it isn't related just to me. Randomly refresh the homepage and bell count should change.

**Expected behavior**

Newest notifica

[2019-10-13 19:19] VarunBarad opened #4399 "Add support for native methods in Android app."
**Is your feature request related to a problem? Please describe.**

To add more functionalities in Android app while we keep using the web-view in there, a bridge needs to be added in the Android app. I have added the bridge in Android app but now need the website to start taking advantage of that bridge.

I have followed [this tutorial](http://rapidprogrammer.com/android-how-to-call-native-java-m

[2019-10-13 19:22] VarunBarad commented on #4399
I am willing to add those shims to the website (though it will take me a couple of days to set up a local dev environment for the website) if it is acceptable.

[2019-10-13 21:31] hakash commented on #1090
![image](https://user-images.githubusercontent.com/8034094/66722695-605be280-ee11-11e9-8755-40ea615d932d.png)
Was looking into this, and in Chrome at least, it seems to have resolved itself. The screenshot is from the quoted comment.

[2019-10-13 23:45] raddevon opened #4400 "Can't escape triple backtick inside markdown code block"
**Can't escape triple backtick inside markdown code block**

I'd like to have a fenced markdown code block which itself includes an escaped fence like this:

[code]

To achieve the above example, I've used `~~~` to fence the block which allows me to use `` ``` `` unescaped inside the block. When I try this in the Dev.to editor, the initial fence opens the code block as expected, but the first back

[2019-10-14 03:19] bolariin opened #4401 "Number allowed in tags via v1 editor"
**Describe the bug**

While working to resolve #4116, @rhymes informed me that numbers are not allowed in tags. It looks like this was not enforced with the v1 editor. After making my change in #4239, I enforced no non-alphabet characters directly in the model, `tags.rb` but it looks like some tests allowed numbers in tags and my change causes a lot of tests to fail.

I noticed that a pull request

[2019-10-14 04:17] bolariin opened #4402 "Non specific error message when creating article via API"
**Describe the bug**

The error message received when the article JSON within the body of a request is missing a parameter does not help to describe the source of the error. The error message I get looks something like what's below.

[code]

**To Reproduce**

1. Go to Settings and generate API key
2. Go [DEV API docs](https://docs.dev.to/api/#tag/articles/paths/~1articles/post) to see examples of

[2019-10-14 04:19] kvharish commented on #4315
Thanks for the info @vigzmv. I do not want to keep this issue open still to quench my curiosity.

[2019-10-14 04:19] #4315 closed

[2019-10-14 08:40] weekly-digest[bot] opened #4406 "Weekly Digest (7 October, 2019 - 14 October, 2019)"
Here's the **Weekly Digest** for [*thepracticaldev/dev.to*](https://github.com/thepracticaldev/dev.to):

 - - -
# ISSUES
Last week 128 issues were created.
Of these, 63 issues have been closed and 65 issues are still open.
## OPEN ISSUES
:green_heart: #4400 [Can't escape triple backtick inside markdown code block](https://github.com/thepracticaldev/dev.to/issues/4400), by [raddevon](https://github

[2019-10-14 09:36] zevaverbach commented on #4195
Will have something today.

[2019-10-14 10:27] rutzfutz commented on #3222
Just a heads up: This feature is no longer experimental. It's fully supported on all relevant browsers both on mobile and desktop, with zero problems reported about this CSS feature.

I think it's time to finally add this to dev.to, so I'm trying to bring some life back into this issue with my comment. :-)

[2019-10-14 10:45] jerryhopper commented on #4384
i have the same problems  ( #4327 )... i wonder - can you edit your profile?
it seems any HTTP_POST is producing 500 errors for me.

[2019-10-14 11:51] #4406 closed

[2019-10-14 11:54] rhymes commented on #4377
@Amorpheuz sure, go ahead and thanks!

[2019-10-14 12:09] zevaverbach commented on #4195
@pdesjardins90 I'm having trouble replicating this issue. Can you provide the exact fetch call you're making, please?

[2019-10-14 12:09] synarion258 opened #4407 "500 bug report"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-10-14 12:20] zevaverbach commented on #4195
@pdesjardins90 I made a tiny test [here](https://github.com/zevaverbach/zevaverbach.github.io/blob/08eab9c9db2c66b43ab8968f3389092745325884/index.html#L134-L138) using my own Dev.to username, and as you can (hopefully) see in the console [here](https://averba.ch), there's no cors error.

[2019-10-14 12:51] DonkeyKongJr opened #4408 "Lazy Loading works not as expected."
**Describe the bug**

The lazy loading feature on the front page is not working as expected. It should already reload new articles when the `loading...` message is visible. However, right now you have to move all skeletons out of the viewport to start reloading articles. I find this behavior a bit frustrating, especially when all major platforms start their reloading immediately.

**To Reproduce**

[2019-10-14 13:06] Glennmen commented on #4408
I think this is the same issue as described in issue #1805

[2019-10-14 13:06] rhymes commented on #4396
@bharatdwarkani have you tried to use RSS to import the articles? See https://dev.to/settings/publishing-from-rss

[2019-10-14 13:07] rhymes commented on #4397
@synarion258 can you provide some details about this error?

[2019-10-14 13:10] rhymes commented on #3001
Hi @matisnape, this is about the comments under an article, and possibly the `/comments` under the article URL, for example https://dev.to/jess/what-was-your-win-this-week-dch#comments and https://dev.to/jess/what-was-your-win-this-week-dch/comments

[2019-10-14 13:20] DonkeyKongJr commented on #4408
@Glennmen it is! I will close this for now.

[2019-10-14 13:20] #4408 closed

[2019-10-14 13:22] DonkeyKongJr commented on #1805
I raised it as well in #4408 and closed it. Happy to see that there is already a PR @colbymelvin.
Thanks

[2019-10-14 13:25] Zhao-Andy commented on #4262
Hi @artoodeeto, sorry for the late reply! Rails follows a traditional MVC framework, so you can find most of the logic in either the model files (`app/models/comment.rb` or `app/models/mention.rb`) or the controller files (`app/controllers/comments_controller.rb`). The payload `CommentsController#create` means the code running is in the `create` method of the `CommentsController`.

To answer your

[2019-10-14 13:28] rhymes commented on #4400
Hi @raddevon, thanks for the reporting! is this a duplicate of https://github.com/thepracticaldev/dev.to/issues/4400 ? Let me know if there's anything different going on

[2019-10-14 13:29] kay-is opened #4409 "Editor: more info about local "new changes""
**Is your feature request related to a problem? Please describe.**

I wrote an article on multiple devices over the course of a week.

I finished it on one device and wanted to publish it on another after the weekend.

When I opened the article on the other device, it showed me an incomplete version of the article with the hint that this version has "new changes".

I freaked out and drove home to

[2019-10-14 13:31] rhymes commented on #4401
Hi @bolariin, would https://github.com/thepracticaldev/dev.to/pull/4283 cover this use case?

[2019-10-14 13:38] #4197 closed

[2019-10-14 13:42] bolariin commented on #4401
@rhymes Yes, if numbers should be allowed in tags then we have consistency between both editors. If numbers are not allowed in tags then no. It looks like #4283 is permitting numeric characters in tags for the v2 editor.

[2019-10-14 13:44] jessleenyc commented on #4304
Hey @CalvinTaylor40 I'm going to close this issue for now since we don't have enough information. Feel free to open a new one with more info!

[2019-10-14 13:44] #4304 closed

[2019-10-14 13:46] jessleenyc commented on #4324
@gate3 there are a few different ways people can submit code snippets on DEV right now. For example, you can embed an entire github repository or any files via codepen, glitch, repl.it, and much more. Can you be more specific with the request here?

[2019-10-14 13:48] jessleenyc commented on #4327
Pinging @michael-tharrington as a heads up here -- looks like @jerryhopper is having issues with their account, please follow up with them via yo@dev.to!

[2019-10-14 13:48] #4327 closed

[2019-10-14 13:50] CalvinTaylor40 commented on #4304
Sorry the issues was sharing from codpen to here mulitpul times i wouldbtry to share what i put together and share it here and a error page came up

[2019-10-14 13:53] jessleenyc commented on #4333
Yeah, I agree that makes sense. I _believe_ we wanted to move things over to preact before providing additional filters on search. For the specific example you described, you can see latest hacktoberfest posts by visiting https://dev.to/t/hacktoberfest/latest

[2019-10-14 13:57] CalvinTaylor40 opened #4410 "Issue with Codepen embed"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

I try to share from codepen.io and get this everytime

[2019-10-14 13:59] CalvinTaylor40 commented on #4410
I keep trying share from copen to here i can not i will stop trying

[2019-10-14 14:00] jessleenyc commented on #4410
@CalvinTaylor40 what's the link to the pen? And do you mind sharing your DEV username with us? If you don't want to share publicly, feel free to email yo@dev.to

[2019-10-14 14:03] jessleenyc commented on #4407
Sorry you hit the 500 page! I'm going to close this issue since the form is not filled out but feel free to open a new issue with more information if it happens again.

[2019-10-14 14:03] #4407 closed

[2019-10-14 14:07] jessleenyc commented on #4397
@synarion258 I'm actually going to close this issue for now but feel free to open a new issue if you have more info. Thanks!

[2019-10-14 14:07] #4397 closed

[2019-10-14 14:14] jessleenyc commented on #4384
@PeterDavidCarter thanks for the report -- this looks like an individual account issue. Can you please email yo@dev.to from the email address associated with your DEV account? Thanks!

[2019-10-14 14:14] #4384 closed

[2019-10-14 14:32] jessleenyc commented on #4373
I think this might be a duplicate or enhancement of https://github.com/thepracticaldev/dev.to/issues/4373? I'm going to close this and reference your issue in the other one.

[2019-10-14 14:32] #4373 closed

[2019-10-14 14:33] jessleenyc commented on #3363
Some additional thoughts from @michael-tharrington here: https://github.com/thepracticaldev/dev.to/issues/4373

[2019-10-14 14:53] jessleenyc commented on #4330
Cool, this is approved for anyone who wants to work on it! I think it would be nice to give people the option to choose which view they would prefer.

[2019-10-14 15:03] georges-gomes opened #4412 "Add webcomponents.dev as a liquid tag/embed"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I would like to embed https://webcomponents.dev editors in blog posts. Like a codepen or codesandbox.

**Describe alternatives you've considered**
The only alternative is to have a link or button(?) to the editor but it's not has nice.

**Additional context**
webcomponents.dev is a online ed

[2019-10-14 15:09] artoodeeto commented on #4321
@n8chz all good my dude. this is fixed. if you want to check heres the pr #4347. just copy-pasted the code. lols

[2019-10-14 15:22] juliegoat commented on #4369
I would love to take on this one! Working on it now :)

[2019-10-14 15:32] rhymes commented on #4349
@coolbrg @Amorpheuz I was going to ask you for the seed number to replicate the randomization but then I remembered our tests are not randomized yet.

@Amorpheuz does it happen to you also when you run the entire `system` folder or just the single file?

[2019-10-14 15:56] lightalloy commented on #4349
I have reproduced this just by running `bundle exec rspec spec/system` as specified in the description.
This failure disappears if I move the `sign_in user` into the inner context like this:
[code]

[2019-10-14 16:05] benhalpern commented on #4308
This is functionality that is not currently used widely. It's able to toggle on but has never been fully implemented.

The logic is in `Messages::SendPush` and I agree with the approach of at least explring deleting the subscriptions when this fails in this way. That seems like a good way to handle this.

This could be a chance to address how this feature works in general (from the client side sub

[2019-10-14 16:11] benhalpern commented on #4409
Sending over the timestamp of the most recent saved change and then only showing the local changes if they are newer than the recent changes in the server side article makes sense. The diff functionality makes sense but is possibly not needed because the problem would be improved by only showing local changes if they are more recent than the ones sent by the server.

I'll mark this as approved for

[2019-10-14 16:39] rhymes commented on #4412
Hi @georges-gomes, I rewrote the title adding "liquid tag", so that we know instantly what the request is about, hope you don't mind!

[2019-10-14 16:44] rhymes commented on #4409
Adding a note for the discussion: receiving the timestamp from the client might also entail handling conflicts (worst case scenario is the client not having an aligned clock)

[2019-10-14 17:55] #4276 closed

[2019-10-14 18:01] maestromac commented on #4321
Resolved with https://github.com/thepracticaldev/dev.to/pull/4347

[2019-10-14 18:01] #4321 closed

[2019-10-14 18:09] khendrikse commented on #2470
@rhymes
I'll pick up
 /app/javascript/sidebar-widget/SidebarWidget.jsx
 /app/javascript/sidebar-widget/sidebarUser.jsx

[2019-10-14 18:14] maestromac commented on #4349
This is rather weird, I can't seem to reproduce this at all.

[2019-10-14 18:19] Zhao-Andy commented on #4349
I have had a similar issue before, and I think I used the same solution as @lightalloy to solve it locally. I didn't think much of it at the time though. Thanks for reporting the issue @coolbrg.

[2019-10-14 18:57] maestromac commented on #4396
As @rhymes mention,ed the current method for achieving that is to add your medium RSS feed to DEV. Let us know if you run into any issues!

Closing

[2019-10-14 18:57] #4396 closed

[2019-10-14 19:32] Amorpheuz commented on #4349
@rhymes Yup, it occurs when I run the entire `system` folder. I haven't tried running that spec individually as of yet. Will try that out along with the solution suggested by @lightalloy and report back tomorrow!

[2019-10-14 19:34] blunket commented on #3583
@Janglee123 If you check out the Comments controller, you can find where the NotificationSubscription and Notification are both created.

https://github.com/thepracticaldev/dev.to/blob/master/app/controllers/comments_controller.rb#L59

Maybe that helps more?

[2019-10-14 20:10] hhimanshu opened #4419 "Add API to upload videos"
**Is your feature request related to a problem? Please describe.**

No
**Describe the solution you'd like**

An API, using which videos could be uploaded

**Describe alternatives you've considered**

None

**Additional context**

None

[2019-10-14 20:26] whyakshay commented on #4387
I would like to take this one please!

[2019-10-14 21:50] CharlesStover commented on #4250
Was opening an issue for this, but will merge it here:

**Is your feature request related to a problem? Please describe.**

I want to be able to display the page views of my articles on my portfolio.

**Describe the solution you'd like**

I would like the `GET /articles?username=CharlesStover` endpoint to return page views in addition to other metadata.

[2019-10-14 22:24] artoodeeto commented on #4262
@Zhao-Andy hey thanks for the info andy. So what im trying to understand about the comments part is.

after this part right here. after the user submits a comment
[code]

it will be processed by `CommentsController` in `create` action but on the create action I can only see this.

[code]
I thought this is where everything is being done. after the user submits it goes to controller calls a parser m

[2019-10-15 00:16] zspencer commented on #1090
Closing as it appears to have been resolved

[2019-10-15 00:16] #1090 closed

[2019-10-15 00:31] Zhao-Andy commented on #4387
@whyakshay go for it! Let us know if you have questions.

[2019-10-15 00:46] artoodeeto commented on #4262
@Zhao-Andy hey I think I got it. but im not sure. but i tested it on browser seems to work.

heres the code though. So I just add a check if the user owns the comments.
[code]

next problem is how to write a test on this one. lols

[2019-10-15 01:01] raddevon commented on #4400
@rhymes This is similar to #3648 although it doesn't seem that user attempted to fence with `~~~` to be able to get triple backticks without escaping. That might be a separate issue? Not sure.

[2019-10-15 02:05] katestud commented on #3648
👋 I have a possible fix here, but would love to hear whether this seems like the right approach!

[2019-10-15 03:14] martin-nextcart opened #4441 "I cannot write new post"
**Describe the bug**

I get this error message when trying to create a new post: **500 Error. It's not you, it's me.**

**Desktop (please complete the following information):**

- OS: Windows 10
- Browser: Chrome
- Version: 77.0.3865.90 (Official Build) (64-bit)

[2019-10-15 04:40] matisnape commented on #4250
@CharlesStover This issue specifically mentioned page views of authenticated authors. I don't think page views are visible in the app for anyone except the article author (but maybe I'm mistaken)

[2019-10-15 06:00] redxtech commented on #3739
I've just submitted two PRs in order to address some CodeClimate issues - #4442 & #4443.

[2019-10-15 06:18] Amorpheuz commented on #4349
I tried it out by individually running `bundle exec rspec spec/system/user_views_a_reading_list_spec.rb` but didn't see the error pop up during any of the multiple runs. The error still occurred when I tried out lightalloy's solution though, again on a random basis.

[2019-10-15 07:19] lightalloy commented on #4349
I have checked several times, but probably it was a coincidence then. We need to investigate further.

[2019-10-15 10:12] rhymes commented on #4250
@matisnape you're correct, page views should only appear to yourself when you're authenticated.

Once #4393 is merged, you'll be able to fetch `GET /articles/me` as an authenticated user and find the page views inside. Would that work for you?

[2019-10-15 11:29] sandordargo commented on #4250
@rhymes @matisnape #4393  looks great to me, thanks

[2019-10-15 13:38] fllprbt commented on #4383
You are talking about what is happening at the post with name "_Dockerized..._"

I am up for this issue so if you could assign <3.

Expected behaviour? What about single super long words? Trim maybe?

[2019-10-15 14:35] arximughal opened #4449 "Ember badge in badges list shows description of GraphQL badge"
**Describe the bug**
[Ember badge](https://dev.to/badge/ember) in the [list of dev.to badges](https://dev.to/badges) shows the description of [GraphQL badge](https://dev.to/badge/graphql).

**To Reproduce**
1. Go to the badges [list page](https://dev.to/badges)
2. Click on [Ember Badge](https://dev.to/badge/ember) and read description
3. Now, Go back to the [badges list page](https://dev.to/badges

[2019-10-15 15:18] nickytonline commented on #4243
Preact also offers a migration too to move to Preact X. I have not tried it yet, but it is available here if you want to take a peek, https://github.com/preactjs/migrate-preact-x

[2019-10-15 18:05] artoodeeto commented on #4262
@Zhao-Andy damn. I was looking at the wrong file again. I was `/spec/jobs/mentions/create_all_job_spec.rb` thanks. :smile:

[2019-10-15 18:55] CharlesStover commented on #4250
My use case is just to display views on my portfolio. While it would be easiest to do this unauthenticated so that the front end app can hit dev.to directly without the need for a back end, I am capable of having a back end authenticate first in order to get the page view count. My ultimate request is just to have access to my own page view counts, and I can understand not having those be public,

[2019-10-15 19:53] jessleenyc commented on #4441
Hi @martin-nextcart! Sorry you're experiencing this. Seems like it's an issue with your individual account -- can you send an email to yo@dev.to with the address associated with your DEV account?

[2019-10-15 19:53] #4441 closed

[2019-10-15 20:21] netochaves opened #4455 "Events page: error on display in development mode"
**Describe the bug**

**This error occurs only in Development.**
When getting the cover images of events the page will crash with a error, check bellow.
![image](https://user-images.githubusercontent.com/19830660/66866127-0f620080-ef6f-11e9-9d98-34a7392dd68f.png)

**To Reproduce**
- Go to `/internal/events`
- Upload a cover image
- Mark the publish checkbox and create the event
- Go to `/events` a

[2019-10-15 20:40] netochaves commented on #4455
I've made some research and I think the problem is because is being pass a cover_image object and not a url string.
https://github.com/thepracticaldev/dev.to/blob/7de692156cd6254bc74c3e145415f7f47207fa47/app/views/events/_event.html.erb#L59
This only fail on development because here some strings methods are being execute over the url wich is an object, so it will return undefined for these methods

[2019-10-15 20:49] #4402 closed

[2019-10-15 22:04] #4387 closed

[2019-10-15 22:13] thackley commented on #4449
can i try this?

[2019-10-16 01:45] mike-healy commented on #1805
If the PR happens to be unsuitable for whatever reason, could the articles not just be loaded on initial page load? Is there a benefit to waiting for a scroll action?

[2019-10-16 03:27] artoodeeto commented on #4262
im not sure who to tag but I have a pr for this. @Zhao-Andy @jessleenyc @nickytonline

[2019-10-16 05:01] ashvin777 commented on #4214
Thanks @sagarchoudhary96 .

@jessleenyc , can anyone else take this up?

[2019-10-16 07:08] Glennmen commented on #4449
@thackley I am not 100% sure but isn't this information retrieved from the database directly and not hardcoded?

[2019-10-16 08:09] rhymes commented on #4455
hi @netochaves, the error is not so much on upload, but on display. I'm going to change the title of the issue to make it clearer.

I also left you a note in the time fixer PR about how to fix this one as well https://github.com/thepracticaldev/dev.to/pull/4416#pullrequestreview-302388676

[2019-10-16 08:11] miku86 opened #4457 "API auth error with NodeJS"
Hey guys,

don't know if this is some sort of bug.
I searched for other API issues and saw,
that other people are actually using the API,
so I think the problem is on my side.

I created a small Node app to fetch my posts via the API.

[code]

If I run it with Node, I get `{"error":"unauthorized","status":401}`.
The URL is correct, I can open it and see the correct results in the browser like expe

[2019-10-16 08:23] rhymes commented on #4214
@ashvin777 sure, you can go ahead if you feel like it! In the meantime we'll leave the issue open for hacktoberfest!

[2019-10-16 08:37] rhymes commented on #4457
Hi @miku86, at a first glance of the code, the issue is that the API key should be in a header, not in the request URL. You can check more info about how to authenticate in the docs: https://docs.dev.to/api/#section/Authentication/api_key

I've noticed there's a documentation error in the API docs example in the `me` section. I'll update them promptly.

Let me know if it works

[2019-10-16 09:05] rhymes commented on #3136
I believe we'll be able to close this when https://github.com/thepracticaldev/dev.to/pull/4366 is merged :)

[2019-10-16 09:10] miku86 commented on #4457
@rhymes

that was an easy one :1st_place_medal:
Thank you!

Moved the token into the header and its's working.

[code]

When I search for `header` in the docs, I only get one result,
therefore I think it would be useful for other people,
if this fact would be highlighted.

Thank you,
Michael

[2019-10-16 09:33] rhymes commented on #4457
Glad it worked, thank you for raising the issue! I'm going to close this :)

[2019-10-16 09:33] #4457 closed

[2019-10-16 10:04] lightalloy commented on #3136
@rhymes #4366 is a task from another issue (#2950) so this one can be closed.

[2019-10-16 11:29] Zhao-Andy commented on #4449
Hi @thackley, sorry but as @Glennmen mentioned this was an issue with the wrong description in the database. We've fixed it now.

Any issue tagged with `help-wanted` is up for grabs; let us know if you have questions!

[2019-10-16 11:29] #4449 closed

[2019-10-16 12:27] carlan commented on #4383
I can have a look at this one if still not fixed.

Though to apply the same solution of #4392.

[2019-10-16 12:51] kaoskater08 commented on #2470
@ruffle1986

Mind if I take a swing at /app/javascript/packs/articleForm.jsx ?

[2019-10-16 12:56] dennislwm commented on #3996
I am having a similar issue when I click on "Fetch Feed Now". It says the content was last fetched October 6 (this date does not get updated even though its October 16).

[2019-10-16 12:57] dennislwm commented on #3996
OS: Windows 10 Pro
Browser: Google Chrome
Version 77.0.3865.120 (Official Build) (64-bit)

[2019-10-16 13:33] Amorpheuz commented on #4382
I would like to take up this issue :smile:

[2019-10-16 13:37] Amorpheuz commented on #4377
Fixed by #4446

[2019-10-16 13:37] #4377 closed

[2019-10-16 13:37] ruffle1986 commented on #2470
@kaoskater08 Not at all. Thanks! 🍻

[2019-10-16 14:36] maestromac commented on #2950
Resolved with https://github.com/thepracticaldev/dev.to/pull/4366

[2019-10-16 14:36] #2950 closed

[2019-10-16 14:59] miku86 opened #4463 "Articles API index: per_page parameter not working"
**Describe the bug**

I copied @rhymes text, because it's the same issue like [this issue](https://github.com/thepracticaldev/dev.to/issues/4125#issue-499526267) about the listings API:

The articles API - [dev.to/api/articles](https://dev.to/api/articles) - is not respecting the parameter `per_page`.

**To Reproduce**

* [dev.to/api/articles?per_page=1](https://dev.to/api/articles?per_page=1) sho

[2019-10-16 16:48] rhymes commented on #2801
Closing this because we're officially on PostgreSQL 11 🎉

[2019-10-16 16:48] #2801 closed

[2019-10-16 16:50] rhymes commented on #4383
@carlan sorry I didn't understand one thing, isn't this covered by https://github.com/thepracticaldev/dev.to/pull/4392 ?

[2019-10-16 17:15] colbymelvin commented on #1805
@mike-healy I had the same thought. I do think it would make sense to fetch the first "page" of articles/videos/podcasts on initial page load, but felt more comfortable just fixing the existing scroll logic bug in #4279 .

I'm happy to make that change in the PR if the reviewer requests it, but maybe it makes more sense to submit an additional PR to refactor the fetching logic?

[2019-10-16 18:45] kaoskater08 commented on #2470
@ruffle1986 I'll take /app/javascript/packs/Onboarding.jsx too....I just realized they are in the same folder :).

[2019-10-16 19:08] jessleenyc commented on #4335
We might not have accounted for certain edge cases (i.e. usernames changing which leads to the path changing). Definitely a good one to investigate if anyone has ideas here.

[2019-10-16 19:10] jessleenyc commented on #4342
@AndrewSverdrup can you expand further on what you're hoping to accomplish with this? Not sure we totally understand how this will be used.

In terms of implementation, can we do this through local storage?

[2019-10-16 19:11] jessleenyc commented on #4206
Totally forgot to respond here! Sorry for the delay. We talked about this internally and decided we should, for now, address the inconsistencies by adding any fields that were missing from articles#index to articles#show and vice versa.

[2019-10-16 19:13] jessleenyc commented on #4389
@abenettt thanks for raising this. We have a few variants of onboarding and you might have hit a flow where it doesn't redirect back to your original action. Totally agree that it's awkward here and I think we should update to make sure all variants return people to what they were trying to accomplish to begin with.

[2019-10-16 19:15] jessleenyc commented on #4401
Spoke to the team about this and we've decided that we can allow numbers in tags but no special characters. With that said, should we close this issue?

[2019-10-16 19:16] allanwhite commented on #4354
It's not clear to me from reading the Editor guide how to even create video posts.

[2019-10-16 19:17] jessleenyc commented on #4398
For anyone interested in tackling this, check the logic on milestone notifications. We've also noticed some inconsistencies there (like a bunch of milestones coming in at once). There might also be inconsistencies in notifications that might update -- i.e. X people followed you.

[2019-10-16 19:17] bolariin commented on #4401
Yes, thanks @jessleenyc

[2019-10-16 19:18] jessleenyc commented on #4379
This could be a caching or markdown issue, we're thinking the latter. There might be an unclosed div in one of the comments on the post that's creating this.

[2019-10-16 19:22] allanwhite commented on #2911
A "Dev.to Guide to Encoding & Uploading Video" could include helpful things like encoding specs, output settings files for common encoders or video services (Adobe Media Encoder, FFMPEG, etc) and other tips on working with entries (I'm new and not sure how to create video posts).

That might also decrease the server load if the videos don't have to be re-encoded (or at least, as many bitrates/size

[2019-10-16 20:35] #4383 closed

[2019-10-16 23:10] melezhik commented on #4280
Hi guys. Any chance to fix it? Thanks

[2019-10-17 03:26] #4401 closed

[2019-10-17 07:31] vidhibagadia opened #4471 "The Offline Page loses state on window resize/zoom in-out"
**Describe the bug**

The offline page loses the drawn information and selected colour when the window is resized or a zooming operation is performed.

**To Reproduce**

1. Go to the offline page: [DEV Offline Page](https://dev.to/offline.html)
2. Draw on the page
3. Zoom in/ resize window
4. The canvas and the preferences reset

**Expected behavior**

On window resizing/zooming operation, the can

[2019-10-17 09:28] abenettt opened #4472 "Sync docker-compose postgres version with production"
**Is your feature request related to a problem? Please describe.**
Not a problem per se but right now with the docker-compose config we would pull postgres:12.0 while in production we'd use postgres:11.x.

**Describe the solution you'd like**
I propose to at least use the major version, like `postgres:11` if not even down to the minor one like `postgres:11.5`. We could even consider using the alpi

[2019-10-17 09:33] rhymes commented on #4280
@melezhik hi, what phone do you have? have you tried with other browsers? Didn't know there was a Chromium mobile version.

[2019-10-17 09:39] rhymes commented on #4471
@vidhibagadia thanks for the find, if you already know how to fix it, please go ahead! Thank you very much!

[2019-10-17 09:43] rhymes commented on #4472
Great idea @abenettt, I wonder if there's a way to parametrize this, so that people who want to test with a different PostgreSQL can do so. The required version is still 9.4 because we haven't started using any PostgreSQL feature that require newer versions (which is why we haven't increased the version anywhere)

[2019-10-17 09:49] abenettt commented on #4472
@rhymes That is actually possible, you can use an environment variable with a default value to do that `postgres:${POSTGRES_VERSION:-11}` like this, this uses `postgres:11` if the `POSTGRES_VERSION` variable is not set.

[2019-10-17 10:09] rhymes opened #4474 "API docs: add OpenAPI documentation to undocumented routes"
**Is your feature request related to a problem? Please describe.**

The [API docs](https://docs.dev.to/api/) are incomplete. Right now they only document endpoints under `/articles` and `/webhooks`

**Describe the solution you'd like**

Many different endpoints, resources and responses are missing, the goal is to arrive to a documentation as complete as possible.

The documentation file is https:/

[2019-10-17 10:25] coolbrg opened #4475 "Very less documentation on "Connect" feature"
**Is your feature request related to a problem? Please describe.**
I feel there is less or nearly no documentation on "Connect" or chat feature.
So, when I send a chat message to any user, how it will suppose to happen.

**Describe the solution you'd like**

Proper documentation or maybe a user guide on how the "Connect" feature will work.

[2019-10-17 10:39] abenettt commented on #4472
@rhymes I created a draft PR, I don't know if you want to switch to alpine for the smaller image size or stay with the debian version.

[2019-10-17 10:48] abenettt commented on #4472
@rhymes The alpine version is base upon the alpine docker image, which is like 5MB in size instead of the debian image, thus reducing the total image size to about 10-30MB instead of 70-150MB.

[2019-10-17 11:57] rhymes commented on #4472
@abenettt well, then I think we should use the alpine if we can get away with it

[2019-10-17 12:05] #4455 closed

[2019-10-17 12:07] #4471 closed

[2019-10-17 13:04] melezhik commented on #4280
Hi @rhymes.

Android 7.1.1
ZTE Z971

[2019-10-17 13:07] rhymes commented on #4280
@melezhik thanks! have you tried with other browsers? can you login with the Android default browser or Firefox?

[2019-10-17 13:07] melezhik commented on #4280
Browser - Chrome 56.092****

[2019-10-17 13:15] rhymes commented on #4280
@melezhik can you successfully login with any other browser? It's helpful to understand if we can isolate the problem to a single configuration. I kindly ask if you can try with some other Android browsers and see if you can login.

Thanks!

[2019-10-17 13:17] matisnape commented on #4474
👀 will take this on next week, I think . I'll add a note which ones I'm taking.

[2019-10-17 13:19] melezhik commented on #4280
My default browser V5.35* does not work either.

[2019-10-17 13:21] melezhik commented on #4280
And I don't have a Firefox on my phone. Just these two browsers - default and chrome.

[2019-10-17 13:23] rhymes commented on #4280
Could you try with Firefox? I think they are both sharing the same rendering engine.

It might be a bug in the Chrome rendering engine.

Let me know if you can succeed with Firefox!

[2019-10-17 13:26] melezhik commented on #4280
Unfortunately not. My phone's memory is full. I can't install new software.

On Oct 17, 2019 8:23 AM, "rhymes" <notifications@github.com> wrote:

[2019-10-17 13:37] rhymes commented on #4280
@melezhik mmm :( it might be an error related only to Chrome 56, I've tried with Chrome 77 in mobile mode and I can login. I'll see if I can find an older version of Chrome

[2019-10-17 14:09] rhymes commented on #4463
@nadiyaka sure, go ahead! and thank you!

[2019-10-17 14:11] rhymes commented on #4280
I've downloaded an old build of Chrome 56 and it's broken also on desktop. I'm not sure how to go about on solving this but I noticed this error in the console:

[code]

It looks like it has having troubles finding a global function. Not sure if this is related to the sprockets asset pipeline or webpack or the XSS library

[2019-10-17 15:23] blunket commented on #947
Just an update, I'm actually still working on this, despite what it looks like. (I'm just new to both Ruby and Rails, and life's been happening)

I think I've almost gotten a PR ready. Should have it up soon.

[2019-10-17 15:48] rhymes commented on #947
@blunket thank your for the dedication! No rush :)

[2019-10-17 16:06] netochaves commented on #3739
Is there Anyone working on `articleForm.jsx` issues? I would like to work on this.

[2019-10-17 16:22] rhymes commented on #3739
@netochaves check https://github.com/thepracticaldev/dev.to/issues/2470 if there are people working on things, I remember @ruffle1986 had submit this PR: https://github.com/thepracticaldev/dev.to/pull/4217 which includes all article form files

[2019-10-17 16:37] netochaves commented on #3739
thanks @rhymes, I'll ask on #2470 if has work to do yet.

[2019-10-17 17:14] netochaves commented on #2470
@ruffle1986 You need some help on `/app/javascript/chat/`?

[2019-10-17 20:29] BrooklynP opened #4485 "Welcome page: CSS bug on mobile"
The welcome page when you create an account seems to have buggy CSS when viewed on mobile as the continue button covers up some of the wording. This was viewed on a pixel 3.

![Screenshot_20191016-225433](https://user-images.githubusercontent.com/20336127/67044821-0450d100-f125-11e9-9ca1-565ad3d0686b.png)

In reply to:
https://github.com/thepracticaldev/dev.to/issues/4485#issuecomment-543579603

T

[2019-10-17 23:21] blunket commented on #947
Got the basics fleshed out but I still need to update docs and add tests.

Do we want to do any custom styling for these elements or should we leave it mostly up to browser defaults?

[2019-10-17 23:44] maestromac commented on #3498
Resolved with https://github.com/thepracticaldev/dev.to/pull/4272

[2019-10-17 23:44] #3498 closed

[2019-10-18 00:29] joeyhub opened #4488 "Loads of work lost"
My post we reverted to a version from days and days ago. Why?

[2019-10-18 02:52] artoodeeto commented on #4214
@ashvin777 @rhymes yow this is cool. let me do it on Saturday or after this pr #4456 is merge. Ill just do what codepen does using iFrame.

[2019-10-18 03:00] artoodeeto commented on #4214
@ashvin777 sorry. just read about your requirements. so basically you want this to render as is or like a code snippet? what I mean about code snippet is when we render this `{% jsitor https://jsitor.com/embed/IfRnIEscb %} ?` part of the code will be like `code snippet`?

[2019-10-18 04:35] bharatdwarkani commented on #4395
@rhymes  - Can implement a drag and drop. As like GitHub editor. Pasting an image or dragging and dropping a file uploads image automatically and adds the reference where the cursor is at present.

![image](https://user-images.githubusercontent.com/12810605/67066159-db652600-f18e-11e9-85d9-829b8bf28823.png)

[2019-10-18 07:54] rhymes commented on #4485
@BrooklynP can you provide more info about the software? which browser and which version of the browser? Thank you!

[2019-10-18 08:08] rhymes commented on #4395
@bharatdwarkani that would be cool, though I think we should have a discussion involving other people in https://github.com/thepracticaldev/dev.to/issues/4126 about the UI and usability of this feature, before you go diving into the code.

I'll close this one in the meantime. Could you duplicate your comment over there? Thanks!

[2019-10-18 08:08] #4395 closed

[2019-10-18 08:22] zevaverbach commented on #4195
@pdesjardins90 just pinging you to see if you have any thoughts.

[2019-10-18 08:58] bharatdwarkani commented on #4126
I suggest a GitHub comment editor like drag and drop file/image upload user experience. Pasting an image or dragging and dropping a file uploads image automatically and adds the image/file where the cursor is at present.

![image](https://user-images.githubusercontent.com/12810605/67080702-65bf8100-f1b3-11e9-8ec1-a8e964a70aa9.png)

[2019-10-18 09:37] mzahraei opened #4489 "bloking"
Hey,

you are Bloking me about 3 Month, i think its like joking.i did not Copy passt Sommtings plz mack me free.i could not to snd new post

[2019-10-18 10:24] Kritner commented on #3995
As per https://github.com/hexojs/hexo/issues/3766#issuecomment-543449250, the dev.to import was correct by adding `hljs: true` under my _config.yml in the following block:

[code]

This removed the table from the code block, which sounded like it was the issue from https://github.com/thepracticaldev/dev.to/issues/3995#issuecomment-532911749.  Still unclear why this suddenly stopped working (at lea

[2019-10-18 10:27] #3995 closed

[2019-10-18 10:39] ruffle1986 commented on #2470
`/app/javascript/githubRepos/githubRepos.jsx` is free to take ;) Thank you in advance. Cheers 🍻

[2019-10-18 11:10] netochaves commented on #2470
I'll take it @ruffle1986

[2019-10-18 11:11] netochaves commented on #2470
No problem @ruffle1986. Great work on this issue btw

[2019-10-18 11:52] gate3 commented on #4324
Hi Jess,

While this exists, it's not targeted at the use case I described. If I embed a code snippet or Github repo it comes as a post. I'm not sure it's appropriate to create ask for reviews on posts. What I have in mind is something more dedicated or targeted at code reviewing and feedback.

[2019-10-18 14:52] michael-tharrington opened #4493 "Consolidating Abuse Reports"
We want a way to consolidate abuse reports so that admin are not having to interact with so many duplicate reports.

Here are some thoughts on changes we can make to https://dev.to/internal/reports:

- attaching reports to an `offender`. This will allow us to `banish` accounts that are clearly spam, and have those reports be marked as `resolved`. We'll also want to send an email out to each report

[2019-10-18 17:56] jessleenyc commented on #4489
Since this is an individual account issue, please email yo@dev.to

[2019-10-18 17:56] #4489 closed

[2019-10-18 17:57] jessleenyc commented on #4488
@joeyhub can you expand more on this and send an email to yo@dev.to? Our support team can help you handle specific account issues. Was it a saved draft or published post that got reverted?

[2019-10-18 17:57] #4488 closed

[2019-10-18 19:08] rpalo opened #4494 "Question: What does the deployment process look like?"
@benhalpern recommended that a good spot for me to help out might be in the effort to generalize things so people could stand up their own custom instances.  To start with that, it seemed like a good idea to stand up my own instance, but I'm having trouble locating deployment docs.

What does the DEV deployment process look like?  Any tips on how I could attempt to deploy my own instance to start

[2019-10-18 19:39] maestromac commented on #3995
Sorry for the silence @Kritner . Happy to hear that you figured out a solution.

[2019-10-18 20:36] joeyhub commented on #4488
I pulled it off as a backup from somewhere else. Potential causes:

* Lack of cache busting (could be failing to bust the browser's form cache in all cases).
* Poor reaction (or lack off) on eventual consistency.
* Some issues to do with if you edit on one device one day then another the other day.

[2019-10-18 20:41] #1805 closed

[2019-10-18 21:26] netochaves commented on #2470
I'll take ` /app/javascript/listings/elements/title.jsx` too.

[2019-10-19 03:11] worsnupd opened #4497 "Create Article API ignores tags param"
**Describe the bug**

When I post a new article to https://dev.to/api/articles, the `tags` param is ignored.

[2019-10-19 04:08] ashvin777 commented on #4214
Hi @artoodeeto ,

So its should always load the embedded code snippet using URL `https://jsitor.com/embed/${snippetId}`.

Also this
`{% jsitor https://jsitor.com/IfRnIEscb %}` -- should change to(or load embed path)--> `{% jsitor https://jsitor.com/embed/IfRnIEscb %}`.

[2019-10-19 04:34] artoodeeto commented on #4214
@ashvin777 alright. so iframe will just do it fine then since it will just render like codepen. btw the path with the `embed` is the one should be embeddable?  I was thinking any jsitor will do.

[2019-10-19 10:43] samrae7 commented on #4485
@rhymes I just replicated this with chrome desktop Version 77.0.3865.90 (Official Build) (64-bit), switch to mobile view via devtools, with GalaxyS5 selected as the simulated device

<img width="509" alt="Screenshot 2019-10-19 at 11 40 25" src="https://user-images.githubusercontent.com/4126146/67143662-9e1f9780-f265-11e9-834d-379513081319.png">

I would like to fix this

[2019-10-19 11:16] Amorpheuz commented on #4485
Also tested it out with Firefox Developer Edition, does occur! Saw it occurring till it switches to the Card/Modal like view at `>800px` width. Relevant for both Cat and Skull variants.

[2019-10-19 23:25] cedonhub opened #4501 "Why my post duplicate when i edit it?"
**Describe the bug**

**To Reproduce**

 Dashboard
 Post> Edit> Save Changes
 Dashboard
 Duplicates posts

**Expected behavior**

Se a unique updated post
**Screenshots**

**Desktop (please complete the following information):**

- OS: MacOs Mojave
- Browser: Google Chrome
- Version: 61.0.3163.91

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

*

[2019-10-19 23:49] liyasthomas opened #4502 "[Resolved via rollback] articles being duplicated on edit"
**Describe the bug**

Editing an existing article and publishing it creates new copy of the article and publish that.

**To Reproduce**
1. Edit an existing article
2. Save changes and publish
3. See copy of the article is published and old one still exists

**Expected behavior**
Existing article should be updated rather than creating new article.

**Screenshots**

**Desktop (please complete the fo

[2019-10-19 23:51] liyasthomas commented on #4502
#4501

[2019-10-20 00:15] hoangvvo commented on #4502
I can reproduce. Having the same problem.

If no edit is made on the body (like me trying to urgently add the Canonical URL before Google flag my original post :rofl:), the one below is shown.

![Screenshot_2019-10-19](https://user-images.githubusercontent.com/40987398/67152898-d1d1e000-f2ac-11e9-8651-71c44d43e512.png)

If edits are made on the body, the post is duplicated.

[2019-10-20 00:18] hoangvvo commented on #4502
The console showed a `TypeError: r is undefined` at this location

![Screenshot from 2019-10-19 20-17-13](https://user-images.githubusercontent.com/40987398/67152923-7c4a0300-f2ad-11e9-9043-8abd1a91e015.png)

[2019-10-20 00:45] hoangvvo commented on #4502
cc @benhalpern

[2019-10-20 01:16] benhalpern commented on #4502
I'm seeing this now. Any initial ideas about what's going on?

[2019-10-20 01:44] liyasthomas commented on #4502
What was the last modification on article edit feature? Check last 5 such PRs and will get a thread. I'm investing what caused this, but you guy could do it better.

[2019-10-20 01:51] hoangvvo commented on #4502
@benhalpern
The error was resolved. I guess you just just rolled back?

I do not know if this is intentional but the `POST` request body contains everything even the HTML of the error component and the help component.

Also, when I tried to save the edit, it made a `POST` request (I assumed it would be `PUT`?). Deleting a post also make a `POST` request.

[2019-10-20 01:52] benhalpern commented on #4502
Yeah I rolled back. And I agree it seems resolved.

I believe it was this PR, which I merged earlier tonight.

https://github.com/thepracticaldev/dev.to/pull/4217

This makes sense. It affected the editor.

I _believed_ it was a safer merge than it was, or else I wouldn't have merged it on a Saturday. I was trying to catch up after taking yesterday off. Not a good idea, I should have been more car

[2019-10-20 01:54] benhalpern commented on #4501
I'm sorry about this, it has been resolved as discussed here...

https://github.com/thepracticaldev/dev.to/issues/4502

[2019-10-20 01:54] #4501 closed

[2019-10-20 01:56] benhalpern commented on #4502
I'm going to leave this open, but modified the title to reflect the status.

The problematic code is still in the master build for now.

[2019-10-20 02:29] hoangvvo commented on #4502
@benhalpern
I just looked at #4217 several minutes ago and saw some thing weird. Correct me if I'm wrong.

I see we submit the article via on `this.state`:
[code]

However, looking at `state`, some of the props are removed. I'm not sure if those props are obsoleted or removed by accident.

![Screenshot from 2019-10-19 22-22-09](https://user-images.githubusercontent.com/40987398/67153874-37c76300-f

[2019-10-20 02:41] hoangvvo commented on #4502
If that is the case, mind if I make a PR? I would also like to remove unnecessary prop when it is passed into `submitArticle` (such as `helpHTML`). The payload is kinda big with them.

[2019-10-20 04:50] bolariin commented on #3656
I was thinking the pin to profile option could be added to the dropdown menu with archive post. It could look something like this

![Pin to Profile](https://user-images.githubusercontent.com/24629960/67154977-694a2980-f2d3-11e9-9c01-f310805f24a5.png)

[2019-10-20 04:59] ashvin777 commented on #4214
For now just the URL with `embed` should be embeddable.
Thanks

[2019-10-20 05:56] bolariin commented on #1855
I was able to have code blocks inside numbered lists while retaining the order of the list. It looks the code block shouldn't be on the same line as text within the numbered list. I was able to get the same result from indenting one space, two spaces and four spaces from the position where the text within the numbered list begins.

Using the markdown below, I was able to get the result in image be

[2019-10-20 08:23] PeterDavidCarter opened #4503 "Seeing a 500 error when attempting to create an article"
**Describe the bug**

When I attempt to create a post, the webpage shows a 500 error, which refers to this github page and instructs to raise a bug report here.

**To Reproduce**

Login to my account. Click the 'write a post' button.

**Expected behavior**

Expected to be able to post.

**Screenshots**

![image](https://user-images.githubusercontent.com/23146481/67156785-1300d900-f31b-11e9-8a59-14

[2019-10-20 09:03] rhymes commented on #4502
Hello everyone, I reviewed that PR multiple times at each step but I didn't notice that `editing` disappeared from the state. I think the OP removed those props because he couldn't find where they were used in the file itself.

I should have tested it more thoroughly, sorry :-(

I've been trying to test all of these "fix lint errors" PRs manually because honestly I don't think we have sufficient a

[2019-10-20 10:45] matisnape commented on #3001
Taking this, btw @jessleenc :)

[2019-10-20 12:04] johannesjo commented on #4502
I wonder is there any way to merge the duplicate article with the "old" post again?

[2019-10-20 12:31] aleixmp commented on #745
The issue has another scenarios. You're unable to remove a repository from dev.to profile when:

1. You unlink the GitHub account.
2. You no longer have access to the GitHub account.

[2019-10-20 14:42] ItsASine commented on #745
From a light poking around the code, it looks like it'd need reworked to show your pins and then show your github repos rather than just showing the github repos.
Because as stated above, if your github changes at all in relation to the pinned repos (they're deleted, you don't have a github anymore...) then your Settings have no way to get to the pinned repos.

[2019-10-20 14:43] AlbertoMontalesi opened #4504 "Post's archive feature is misleading (Disable Archive Feature)"
Archived posts are still visibile on a user profile.
I've archived two of my posts but when I go to my dashboard I can still see them (I viewed it as logged out).
That kind of defeats the purpose of archiving posts in the first place if they are still visible

[2019-10-20 15:01] artoodeeto commented on #4214
@ashvin777 gotcha. :) I havent started yet though. im gonna start it today. :)

[2019-10-20 16:17] dhanoz commented on #3777
I would like to take on  `/bin/rails` !

[2019-10-20 17:23] teaglebuilt commented on #4504
I also see the same thing

[2019-10-20 18:01] dance2die opened #4507 "🌈 Feature Request: Add linkable "id" to each Editor Guide section headers"
## 🌈 Feature Request

### Description
Add an "id" field on each header section in the [Editor Guide](https://dev.to/p/editor_guide).

### Issue

We can't refer to a specific section in the Editor Guide because there is no "id" field to link to for headers on https://dev.to/p/editor_guide.

![issue](https://user-images.githubusercontent.com/8465237/67163805-49514f00-f341-11e9-97f4-28545e1c549f.png)

[2019-10-20 18:12] shindakun commented on #4507
That's a good idea. I'll pick this one up once approved if you haven't already jumped on it. Can probably do it this afternoon, gotta take the family out to lunch. 🥘 ;)

[2019-10-20 18:34] dance2die commented on #4507
Thanks @shindakun. It's all yours if approved 😄

[2019-10-20 19:46] nickytonline commented on #4502
This could be a great time to introduce some e2e testing as @rhymes suggests. I opened this a while ago, but it went stale, #382. I also see a PR was opened in August (#3679) for Cypress as well.

As a first iteration if we're not completely setup to have a test environment in CI/CD, we could just run the tests locally before a deployment and a second phase could be to add it to the CI/CD pipeline

[2019-10-20 19:46] nickytonline commented on #382
Not Stale

[2019-10-20 20:46] TheJaredWilcurt commented on #1855
I can only get it to embed in the list with 4 spaces (an improvement from before), but then it also forces all text content in the rest of the list to be wrapped by a paragraphs.

[code]
which adds a bunch of unwanted padding

[2019-10-21 04:47] KL13NT commented on #1239
Hey people, is this issue going anywhere? I'd like to work on a PR for this but unsure whether I should even start. We could use [CLD](https://github.com/CLD2Owners/cld2) for instance to detect the language and based on that add specific classes to the HTML that handle the directions and rendering of RTL text. This is quite needed right now.

[2019-10-21 04:57] anz-git opened #4511 "Deleting dev.to account"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-10-21 04:59] #4511 closed

[2019-10-21 08:45] rhymes commented on #4502
@nickytonline I agree with the idea of adding e2e through Cypress, both manually and through the CI. I see you reviewed the PR, thank you!

[2019-10-21 09:17] rhymes commented on #4497
@worsnupd thanks for this report!

can you be more specific or post a "curl" command that can be used to reproduce the bug?

[2019-10-21 09:58] rhymes commented on #3777
@dhanoz this issue is about JavaScript files :)

[2019-10-21 09:59] rhymes commented on #4504
Would it be possible to have screenshots and/or the URLs of the articles you're referring to?

[2019-10-21 12:04] rhymes opened #4522 "Articles API: state=all by itself results in a 500 error"
**Describe the bug**

Calling `curl https://dev.to/api/articles?state=all` results in a 500 error.

Although, according to the documentation, that specific parameter is only to be used in conjunction with `username`, used by itself shouldn't result in a 500 error, instead it should return an empty result set.

**To Reproduce**

1. Type `curl https://dev.to/api/articles?state=all` or `curl http://l

[2019-10-21 12:59] jessleenyc commented on #4503
Hey @PeterDavidCarter, this looks like an individual account issue. Please email yo@dev.to and someone from our support team will help you!

[2019-10-21 12:59] #4503 closed

[2019-10-21 13:36] ananyaneogi opened #4523 "Allow way for authors to pin a comment on top"
A lot of times readers add some useful comment relating to the post and the author might want that to be highlighted and not be lost in other comments. Youtube has a feature of pinned comment, so this would be similar to that.

The UI can be similar to how pinned articles look on the profile!

Also I'm not aware if there has been similar feature requests, I didn't find any on my own so I opened th

[2019-10-21 13:48] AlbertoMontalesi commented on #4504
Sure, it's very simple, this is my profile https://dev.to/albertomontalesi and if you scroll to my first two articles you can see this one https://dev.to/albertomontalesi/es6-discovering-sets-weaksets-maps-and-weakmaps-56lb which I've archived and reposted again here https://dev.to/albertomontalesi/es6-discovering-sets-weaksets-maps-and-weakmaps-db2

![Screenshot_2019-10-21-20-45-26-939_com androi

[2019-10-21 14:14] tudorpavel commented on #4522
I can take a look at this. :slightly_smiling_face:

[2019-10-21 14:21] sabunt commented on #4522
@rhymes  pls merge

[2019-10-21 14:47] ashvin777 commented on #4214
Awesome thanks @artoodeeto .

[2019-10-21 14:50] rhymes commented on #4522
@tudorpavel just FYI, @sabunt submit a PR for this

[2019-10-21 15:25] N-Molham commented on #1239
I am not a python guy so I will try to help as much as I can

On Mon, Oct 21, 2019, 6:47 AM Nabil Tharwat <notifications@github.com>
wrote:

[2019-10-21 15:27] neilgreen commented on #3062
@benhalpern I know you mentioned that someone should let you know if they intend to work on this feature but I didn't want to commit to doing it if I wasn't sure I could get it done, and the only way I knew to be sure I could get it done was to do it. If the feature doesn't work the way you expect, or it's not implemented correctly let me know and I'll adjust it accordingly.

[2019-10-21 16:46] tudorpavel commented on #4385
I want to help with this but of course there isn't an easy fix.

There are issues on Android browsers when using dynamic element heights and/or fixed positioning while opening the keyboard. The reason is that when opening the keyboard on Android browsers, the body height will change by subtracting the keyboard height. Dynamic heights will change while the keyboard is opening and cause the browser'

[2019-10-21 17:17] nadiyaka commented on #4206
Hi @jessleenyc! Is this issue available or somebody else is currently working on it?

[2019-10-21 17:53] maestromac commented on #4399
Thank you for this issue and creating a PR on android side @VarunBarad !

This will definitely make our android app more interesting. I don't have any immediate idea to try out this use case yet but we're open to suggestion.

[2019-10-21 18:11] VarunBarad commented on #4399
@maestromac I have seen a couple of issues regarding post-sharing (and link-copying) causing problems due to the website being loaded inside a web-view. That might be a small-enough initial target to test this integration.
I will look tomorrow into how those things are currently implemented and what needs to be done.

[2019-10-21 18:19] johncurcio opened #4528 "Rubocop detects offenses in code"
**Describe the bug**

This is more a refactor request than a bug.

When you run Rubocop with dev.to config file, it detects a few (56) offenses in the formatting of the code, most of which is a lack of an empty line after an example:

 https://github.com/thepracticaldev/dev.to/blob/0d2506f9ef79a32f7474001337161314d1062134/spec/system/user/user_edits_integrations_spec.rb#L35-L36

There's also a blo

[2019-10-21 19:40] #4502 closed

[2019-10-21 20:05] shindakun commented on #4507
@benhalpern is it alright if I just assume this will be approved and put up a PR? It looks like the h2 sections got the id's but the h3's were left out. It'd be nice as a mod to be able to link directly to any subheading.

[2019-10-21 20:17] joetex commented on #4385
Makes sense.  Your fix does seem to make it better.  I will try and find
examples of what other sites do and share here if I find something that
could be helpful.

Thanks!

Joel

On Mon, Oct 21, 2019, 11:47 AM Tudor Pavel <notifications@github.com> wrote:

[2019-10-21 20:24] Zhao-Andy commented on #4507
@shindakun oops, meant to label this and get back to you. All yours!

You might want to add a class and reuse the styles to account for the top nav bar:
https://github.com/thepracticaldev/dev.to/blob/f279315b38e16a77add7848e1b3e997656b1a006/app/assets/stylesheets/article-show.scss#L443-L450

[2019-10-21 20:40] maestromac commented on #4250
Resolved with https://github.com/thepracticaldev/dev.to/pull/4393

[2019-10-21 20:40] #4250 closed

[2019-10-22 06:05] leesadaisy opened #4534 "Unable to login"
![uuu](https://user-images.githubusercontent.com/55833533/67261845-08337900-f4c0-11e9-952f-82b4957ba07e.PNG)

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-10-22 06:07] leesadaisy commented on #4534
iam unable to post at all. Every time i try to, i face this page. It would be good to know the reason

[2019-10-22 07:22] worldofprasanna opened #4536 "Retry attempt is not respected in docker-run.sh"
**Describe the bug**

I tried to set up the application in my local and used docker-run.sh script. To start the application, even if it crosses the specified number of retry attempts, the process is not stopped.

I checked the code and found that `RETRIES` are not decremented for each loop. (docker-run.sh:483) Is this intended behavior or a bug?

**To Reproduce**

Run `./docker-run.sh INTERACTIVE-

[2019-10-22 07:52] rhymes commented on #4206
@nadiyaka no one is working on it as far as we know. What would be your plan of action?

[2019-10-22 08:15] nadiyaka commented on #4206
As @jessleenyc wrote above, the decorator fields for index and show should be the same. So I was planning to check what fields were missing on each request and add them. Is this correct?

[2019-10-22 08:28] rhymes commented on #4206
@nadiyaka perfect! Remember that the bodies of the articles shouldn't appear in the index

Thank you!

[2019-10-22 08:32] nadiyaka commented on #4206
@rhymes, you mean "body_html" and "body_markdown", right?

[2019-10-22 08:33] rhymes commented on #4528
Thanks for the catch @johncurcio!

For whomever takes this on:

. `rubocop -a` will autocorrect what's possible to autocorrect and display what's missing, run it twice if you have too much output, the second time will only display what's left to correct
. `rubocop --auto-gen-config` should be run at the end so to regenerate the TODO file

Thank you!

[2019-10-22 08:35] tudorpavel commented on #4536
I can take a look at this. :slightly_smiling_face:

[2019-10-22 08:36] rhymes commented on #4206
@nadiyaka exactly!

[2019-10-22 09:13] pavelloz opened #4537 "Improve scroll performance"
As per discussion at https://github.com/thepracticaldev/dev.to/pull/4279 im opening this for the future performance optimization in this area.

The problem of accessing dom properties and layout trashing because of that is pretty well described here: https://gist.github.com/paulirish/5d52fb081b3570c81e3a

And as you can see in the PR there is use of some of those properties.

Im not sure how the s

[2019-10-22 10:36] tudorpavel commented on #4536
Or not. :slightly_smiling_face:

[2019-10-22 10:40] worldofprasanna commented on #4536
Sorry @tudorpavel, I have raised a PR for this ... I already made those changes in my local.

[2019-10-22 10:40] MelissaHayes opened #4539 "Request to revert back my account"
I can not post any article in dev.to. What should I do for revert back my account.

This is my profile Url: dev.to/melissahayes

[2019-10-22 10:44] octalitsolution opened #4540 "facing 500 error"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-10-22 10:49] octalitsolution opened #4541 "facing 500 error"
**Describe the bug**
on a profile section, I
![Capture](https://user-images.githubusercontent.com/56387985/67278958-b30b5d80-f4e7-11e9-910e-b2c341e8a161.PNG)
 am seeing 500 error

**Screenshots**

[2019-10-22 11:22] tudorpavel commented on #4536
No worries, are you also looking into why that `docker exec dev-to-app curl` retry loop never succeeds?

[2019-10-22 11:25] worldofprasanna commented on #4536
@tudorpavel No I am looking at that issue. You can try that one 👍

[2019-10-22 11:25] jabawack81 commented on #4528
I can work on this

[2019-10-22 11:28] codder404 opened #4542 "Add the hyperlink target _blank option."
**Is your feature request related to a problem? Please describe.**
When I am using Dev.to and want to access an external link, the link loads on the same page. I would like you to solve that.

**Describe the solution you'd like**
The solution to this problem is by adding the hyperlink target _blank.

**Describe alternatives you've considered**
The alternative I've been using is right-clicking to g

[2019-10-22 11:47] VarunBarad opened #4543 "Implementing native copy-to-clipboard functions for Android app."
**Is your feature request related to a problem? Please describe.**

The copy-post-url feature doesn't work on the Android app (most probably because it is rendering the website in an Android `WebView`). The solution requires changes to be made both in the app code and on the website code. I have already created a [PR](https://github.com/thepracticaldev/DEV-Android/pull/60) on the app's repository

[2019-10-22 11:54] rhymes commented on #4528
@jabawack81 thank you and go ahead!

[2019-10-22 11:57] rhymes commented on #4542
Hi @codder404, thanks for raising this!

I personally am not in favor of having all links have a `target="_blank"` for reasons you can find in [this article](https://css-tricks.com/use-target_blank/). If you use a keyboard you can also open external links with META-click, it's faster than right clicking.

Said that, probably the best compromise is to keep the status quo and have a user option that

[2019-10-22 14:04] VarunBarad opened #4545 "Copy-to-clipboard not working from sidebar"
**Describe the bug**
The "copy post link to clipboard" from the side bar is not working.

Tested on:
- Desktop (works)
- Mobile
- Android app

**To Reproduce**
1. Go to [https://dev.to/aleccool213/how-to-make-money-from-your-software-blog-without-hosting-ads-cjn](https://dev.to/aleccool213/how-to-make-money-from-your-software-blog-without-hosting-ads-cjn) (any article should work)
2. Click on `...

[2019-10-22 14:06] twinztech opened #4546 "bug"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-10-22 14:07] twinztech opened #4547 "bug issue"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

![image](https://user-images.githubusercontent.com/44340621/67294485-8402e500-f503-11e9-90cd-2aaf759388c4.png

[2019-10-22 14:07] twinztech commented on #4547
![image](https://user-images.githubusercontent.com/44340621/67294397-646bbc80-f503-11e9-982a-5892d9608284.png)

[2019-10-22 14:26] rhymes commented on #4545
Additional info: Firefox 70 and Chrome 77 on macOS 10.14.6 both work

[2019-10-22 14:40] #4536 closed

[2019-10-22 14:52] maestromac commented on #4379
Resolved with https://github.com/thepracticaldev/dev.to/pull/4445

[2019-10-22 14:52] #4379 closed

[2019-10-22 15:35] worldofprasanna commented on #4149
@rhymes Can you please give your thoughts about this approach,

1. Use seedbank and keep the db/seeds.rb as such.
2. Create one more seed file `db/seeds/large_data.seeds.rb` which contains data volume as mentioned in this PR #2361
3. Update the document accordingly,
          a. For regular users, they have to run `rails db:seed:original`
          b. If you want more data `rails db:seed:large_dat

[2019-10-22 16:41] #4463 closed

[2019-10-22 16:53] miku86 commented on #4463
Awesome, @nadiyaka,

thanks a lot!

[2019-10-22 18:39] danihodovic commented on #575
Is this going to be addressed at some point in the near future? It's super annoying to have to modify every article that is cross-posted on dev.to

[2019-10-22 20:23] benhalpern commented on #4125
I adjusted the Fastly config and this might be working now. Haven't confirmed.

[2019-10-22 20:28] benhalpern opened #4549 "Follow listings categories and receive notifications for new followed listings"
If I am looking for a job, I would like to follow the job listings category. If I'm following that category I will get a notification every time a new listing is posted.

In the future I think it would also make sense to be able to limit it to just certain tags within the following, but I think that could come after the initial feature.

It should should be implemented the same as we do "follow" f

[2019-10-22 20:56] daningenthron commented on #2470
@ruffle1986 #4240 is still open, but I believe it has been addressed now by #4254. Do you see anything left in the original list that needs linting?

[2019-10-22 22:13] rclanan commented on #4545
I just tested this on a desktop:
* OS: Windows 10 Pro, version 1809, 64-bit
* Browsers:
	- Firefox 69.0.3 - 64-bit
	- Firefox 70.0 - 64-bit

and it appears to be functioning properly.

[2019-10-22 22:23] rclanan commented on #4547
Is there any additional information on how to reproduce this error? I have tried it from my machine, signed in and signed out and the url that is in your screenshot is working fine on my windows machine.

[2019-10-22 22:26] rclanan commented on #4542
I think the idea of it being controlled by a user setting is great! Satisfies both parties.

[2019-10-22 22:27] rclanan commented on #4541
Any additional information you can provide on this? What are the steps to get to the profile section that is causing the 500 error?

[2019-10-22 23:14] jessleenyc commented on #4539
Hi @MelissaHayes, please send an email to yo@dev.to for individual account issues. Thanks!

[2019-10-22 23:14] #4539 closed

[2019-10-22 23:15] jessleenyc commented on #4540
@octalitsolution since there is no context for this issue, I'll have to close it. Feel free to re-open if you have more information. If this is for an individual account concern, please email yo@dev.to instead. Thanks!

[2019-10-22 23:15] #4540 closed

[2019-10-22 23:16] jessleenyc commented on #4541
Hey @octalitsolution! Thanks for the report. This is likely an individual account issue -- please email yo@dev.to for support.

[2019-10-22 23:16] #4541 closed

[2019-10-22 23:17] jessleenyc commented on #4546
@twinztech since the issue does not have any context, I'm going to close it but feel free to open a new issue if you have more information. If you need support for an individual account, please email yo@dev.to. Thanks!

[2019-10-22 23:17] #4546 closed

[2019-10-22 23:17] jessleenyc commented on #4547
@twinztech this looks like an issue with an individual account - please email yo@dev.to for support. Thank you!

[2019-10-22 23:17] #4547 closed

[2019-10-22 23:22] jessleenyc commented on #4534
Hey @leesadaisy! This looks like an individual account issue -- please email yo@dev.to for support. Thanks!

[2019-10-22 23:22] #4534 closed

[2019-10-22 23:35] jessleenyc commented on #4419
Some notes:
- Our current video upload process: uploads direct to S3, transcodes in AWS, served via CloudFront
- We definitely need to rate limit video uploads aggressively because there's higher potential for abuse and can really drive up our cost.

For anyone taking this on -- we'll want to know you're approaching this so we're on the same page before you proceed.

[2019-10-23 01:36] nestedsoftware commented on #182
I recently created a copy of my dev.to blog hosted on github pages. I am using jekyll to process the markdown files. It turns out there is a jekyll plugin for katex that I am going to try out:

https://github.com/linjer/jekyll-katex

I can update here if it is working okay on my end. If so, hopefully it would not be too hard to port this plugin to dev.to. I've looked a little bit at the source for

[2019-10-23 02:06] philnash commented on #3363
@michael-tharrington would love for this to be addressed at some point (and don't currently have the time to work on something myself). This has broken our workflow for the Twilio organisation right now and I'd love for it to get fixed.

[2019-10-23 03:19] VarunBarad commented on #4545
For some reason it started working on Firefox on Windows after a system restart 🤷‍♂

[2019-10-23 03:30] nestedsoftware commented on #182
I tried out jekyll-katex and it works great out of the box! It processes the math notation on the server, so there is no need to parse the math on-the-fly in the browser itself.

To get this working in jekyll:

- Install the `jekyll-katex` gem per the readme (https://github.com/linjer/jekyll-katex)
- Download the `katex` source from `https://github.com/KaTeX/KaTeX/releases` (I got version 0.11.1 w

[2019-10-23 04:50] rclanan commented on #4545
When in doubt, restart! :)

[2019-10-23 07:55] tudorpavel opened #4553 "PR CI failing because of incompatible Chrome version"
**Describe the bug**

The PR builds started failing since 22nd of Oct: https://travis-ci.com/thepracticaldev/dev.to/pull_requests.

**To Reproduce**

Any new PR will show the following error:

[code]

For the [last passing build](https://travis-ci.com/thepracticaldev/dev.to/builds/133058167) Travis is installing Chrome 77:

[code]

But for [failing builds](https://travis-ci.com/thepracticaldev/dev

[2019-10-23 08:13] tudorpavel commented on #4553
I'm looking into this.

[2019-10-23 08:17] rhymes commented on #4125
I just tried the following:

[code]

So it looks like it's working, thank you, I'm going to close this!

[2019-10-23 08:17] #4125 closed

[2019-10-23 08:18] rhymes commented on #4234
@benhalpern could you check also this in fastly?

[2019-10-23 08:28] codder404 commented on #4542
Copy that!

[2019-10-23 08:28] #4542 closed

[2019-10-23 08:48] coolbrg commented on #1520
I am also not able to reproduce it.

I exactly followed the steps mentioned by @jessleenyc https://github.com/thepracticaldev/dev.to/issues/1520#issuecomment-517086573 .

and added comment as
[code]

I am still able to reproduce it.
<img width="587" alt="Screenshot 2019-10-23 at 2 31 48 PM" src="https://user-images.githubusercontent.com/1132451/67375169-f3c7ad00-f5a1-11e9-9dd2-055b382d5d8f.png">

[2019-10-23 10:04] coolbrg commented on #1520
I found that the style in this line
https://github.com/thepracticaldev/dev.to/blob/c09a5c70f1d9989ec49b162bf59a3c8f594bd03b/app/views/tags/_liquid.html.erb#L1

need to be appended with `width: auto`.

However, on updating the file and reloading the server, it doesn't reflect the changes.

Is there anything I am missing here?

[2019-10-23 12:04] rhymes commented on #4149
@worldofprasanna maybe we should proceed with various degrees of customization, what if we start with the multiplier option before integrating another gem?

[2019-10-23 12:12] rhymes commented on #4545
I'm closing this since the OP verified the feature is working again!

[2019-10-23 12:50] rhymes commented on #4553
Closed by https://github.com/thepracticaldev/dev.to/pull/4554

[2019-10-23 12:51] #4553 closed

[2019-10-23 13:20] worldofprasanna commented on #4149
@rhymes Sure it would be much simpler.

As suggested by you in the other thread, I will use the env variable as the multiplier for the seed data.

[2019-10-23 14:30] #3141 closed

[2019-10-23 14:59] maestromac commented on #1520
Hello @coolbrg , each liquid tag are generated and saved as part of `body_markdown`. You'll need to create a new article and follow Jess's direction again to see the change.

[2019-10-23 15:42] michael-tharrington commented on #3363
@philnash you've outlined this feature in excellent detail. This particular issue has definitely been on my mind a lot recently — I'll make sure the team is aware this is a major pain point for Twilio.

[2019-10-23 17:19] VarunBarad commented on #4545
It works only on desktop, still doesn't work on the mobile browsers as I originally mentioned.

[2019-10-23 17:37] Zhao-Andy commented on #4545
Hmm, reproduced it on mobile... Will test in development.

[2019-10-23 18:08] maestromac commented on #4504
Thanks for this issue @AlbertoMontalesi .

This feature was originally implemented to hide unpublished post that came through RSS feed, and not meant to hide an already published post. It is misleading. You would have to unpublish the article in order to formally withdraw it from the public. I propose the solution here is to disable the "archive" feature on a published post.

[2019-10-23 19:19] baneDD commented on #4545
Tested working in iOS on Safari 13.0, Chrome 77.0.3865.103, Brave 1.11.4 (19.08.29.21) and Firefox 19.1 (16203)

[2019-10-23 20:11] maestromac commented on #4494
Hello @rpalo ! I can create a deployment doc that will give you a good overview of the process and requirements.

[2019-10-23 21:19] #4522 closed

[2019-10-23 21:19] benhalpern commented on #4234
@rhymes yes, this was resolved by adding `collection_id` to the list of allowed params.

[2019-10-23 21:30] ekremkaraca opened #4565 "reducing pack size under .git/objects/pack dir?"
Hey guys,

Today I've cloned the repo and when I check its files (using `ncdu`), folders and their size, I noticed that size of pack files under `.git/objects/pack` folder is about 40MiB. Is it possible to reduce its size?

[code]

[code]

[2019-10-24 00:04] dev-encourt commented on #4475
coolbrg asks how the Connect feature "will work" in addition to how it currently works, so I wrote up some documentation on the usage and features of DEV Connect, as well as some thoughts on future developments. We could add a few of these tips to a ? button, the same kind we have in the post editor - maybe with a bit of rewording. Perhaps it would do better published?

https://www.notion.so/devto

[2019-10-24 02:02] AntonyGarand opened #4568 "Pro - Stats view - Buttons are not dark-mode friendly"
**Describe the bug**

When accessing the stats for an article (https://dev.to/[name]/[article]/stats), the three time period buttons keep their default style.

After a bit of fiddling around, I figured this was caused by the default styling options for colors:
This rule is overwritten by the user agent styles for premade elements such as the "button" tag.
[code]

To fix this, we need to write a mo

[2019-10-24 04:42] coolbrg commented on #1520
Thanks @maestromac for the pointers. Appreciated.

[2019-10-24 07:20] emgoto commented on #4128
So I gave this a little bit of thought -

* Right now Dev.to lets you choose between some color schemes on the settings page
* Then throughout the `.scss` files, we have `color: var(--theme-secondary-color, $medium-gray);` which lets the theme the user has chosen determine the colors they see on the page

My first question is, are the liquid tags we see inside of Stackbit using the same `.scss` fi

[2019-10-24 08:18] ruffle1986 commented on #2470
@daningenthron Nope, we're good. 🍻

[2019-10-24 10:43] saurabhdaware opened #4571 "Profile Menu does not open at some certain situations"
**Describe the bug**
When you navigate to page from a profile menu it works correctly the first time but when you try to navigate again the menu does not open.
(Sorry this is kind of difficult to explain I've attached a video below to explain better)

I've described it better below in steps to reproduce and the video

**To Reproduce**
(I've also attached a video below to explain this)

1. Open mai

[2019-10-24 11:35] rhymes commented on #4234
Verified it works, closing this now.

Thanks Ben!

[2019-10-24 11:35] #4234 closed

[2019-10-24 11:42] rhymes commented on #4565
Hi @ekremkaraca, not really I think.

The git pack folder contains all the history of the repo :)

You might be able to reduce the size on your copy with `git gc` and `git prune` for example.

I'm closing this because it's not exactly an issue of the DEV app!

[2019-10-24 11:42] #4565 closed

[2019-10-24 12:01] rhymes commented on #4475
Great job @dev-encourt, I wonder if that Notion page should be "upgraded" to a dev.to page that can be improved by the community if necessary :)

[2019-10-24 12:56] GarethTF opened #4577 "CSS code styling in dark mode"
![dev-error](https://user-images.githubusercontent.com/56965213/67487263-867d5000-f665-11e9-9f74-d678501c0bd0.png)

As per the screenshot, the .err css class is very hard to read when in dark mode.

The code to look for is ".highlight .err"

[2019-10-24 15:53] #4528 closed

[2019-10-24 15:56] #4206 closed

[2019-10-24 16:18] netochaves commented on #2470
@ruffle1986 `/app/javascript/githubRepos/githubRepos.jsx` was fixed in #4496 too.

[2019-10-24 16:39] GrahamBorland opened #4579 "Inline code is vertically misaligned"
**Describe the bug**

In the default theme, inline code appears a couple of pixels too low, relative to normal text.

**To Reproduce**

1. Write a post with some inline code snippets.
2. Preview the post.
3. Notice that the code snippets are visibly lower than the rest of the text.

**Expected behavior**

The inline code should be vertically aligned with the normal text.

**Screenshots**
![image](

[2019-10-24 18:23] ruffle1986 commented on #2470
I've already done the eslint fixes for the chat in #4302

Waiting for review...

[2019-10-24 18:29] ruffle1986 commented on #2470
`/app/javascript/shared/components/tags.jsx` is still there to be fixed. @RakChamp25 took it but he messed up something with the PR. @RakChamp25, would you like to give it another shot or it's free to steal?

[2019-10-24 18:58] sandordargo commented on #4250
Thanks a lot!

[2019-10-24 19:24] #4494 closed

[2019-10-24 19:49] rpalo commented on #4494
Thank you!  I'll get reading 😄

[2019-10-24 20:11] Zhao-Andy opened #4580 "Remove Climate Strike related code"
Now that the Climate Strike is officially over, please remove the following lines from the following file:

https://github.com/thepracticaldev/dev.to/blob/7423d05af62b58fde4e73e34152e065b3403b9ea/app/views/articles/index.html.erb#L27-L38

Easy pick up for Hacktoberfest!

[2019-10-24 20:14] btn0s commented on #4580
https://github.com/thepracticaldev/dev.to/pull/4581 :)

[2019-10-24 20:50] maestromac commented on #4580
Resolved with https://github.com/thepracticaldev/dev.to/pull/4581

[2019-10-24 20:50] #4580 closed

[2019-10-24 21:10] brisourceful commented on #987
@emgoto yes I have had a chance to work on it. I'm planning to submit a PR soon.

[2019-10-25 04:01] AlbertoMontalesi commented on #4504
@maestromac ok that makes sense, I actually didn't even see the unpublish button until you mentioned it.

[2019-10-25 04:36] artoodeeto commented on #4214
@rhymes @Zhao-Andy  hello may I ask how do you setup debugger on ruby? I followed [this](https://dev.to/dnamsons/ruby-debugging-in-vscode-3bkj) and [this](https://github.com/Microsoft/vscode-recipes/blob/2174a750102a76142378ea08dbbb4a576dc6d1d5/debugging-Ruby-on-Rails/README.md) I think its different from your setup.

[2019-10-25 08:50] GeorgeColdham opened #4586 "Failing certificate"
**Describe the bug**
Failing certs for images hosted on cloudinary

Without knowing about how we fetch images, im logging this here. There is a real possibility that we have no control over this. But just in case it is a request issue...

Loading any part of Dev, all images fail to load. The request to cloudinary has a failing cert.

**To Reproduce**
Load anything new (not cached) with images on D

[2019-10-25 09:04] GeorgeColdham commented on #4586
Closing this issue, I forgot to check if it was my network. Company network is the one failing the requests.

[2019-10-25 09:04] #4586 closed

[2019-10-25 10:26] rhymes commented on #4214
Hi @artoodeeto, I'm not familiar with the interactive debugger of VSCode with Ruby. What kind of error did you have?

I usually add the `binding.pry` to the line before I need to inspect, that acts as a breakpoint, for example:

[code]

When `hello()` gets invoked you'll see the Rails process pause and step into a debugging session in that line. Typing `help` will give you all the commands you nee

[2019-10-25 11:14] 31piy opened #4587 "Briefly able to 'like' my own comment twice"
**Describe the bug**

When you open your own comment by clicking on the timestamp of it in the thread, it appears as you've loved your own comment.

**To Reproduce**

1. Post a comment.
1. Click on comment's timestamp to see it. The page's URL will be something like https://dev.to/your_username/comment/comment_id.
1. Observe the heart icon. It appears as filled initially, which denotes that you've

[2019-10-25 11:41] rhymes commented on #2536
Closing this because it's working: `curl https://dev.to/api/articles/101813`

[2019-10-25 11:41] #2536 closed

[2019-10-25 11:51] Glennmen commented on #4587
There was an issue about this before but was closed by the OP: #4315

[2019-10-25 14:08] dev-encourt opened #4589 "Self-Report on DEV Connect"
**Describe the bug**
Users are able to report themselves for abuse in DEV Connect. Clicking the button will lead to a report for the user on the other end of the chat.

**To Reproduce**
1. Enter a private message with another user in DEV Connect.
2. Click on your own username to open the profile sidebar.
3. Click on the report button.

**Expected behavior**
Users should not have a report button in

[2019-10-25 14:23] #4262 closed

[2019-10-25 14:27] artoodeeto commented on #4214
@rhymes i was trying to do it on vscode. I use `binding.pry` on spec files, but i guess this will work. let me try to change the launch files too and maybe add it on dev documentation.

[2019-10-25 14:41] 3b3ziz commented on #3777
I would like to take `/app/assets/javascripts/initializers/initializePodcastPlayback.js`.

[2019-10-25 15:14] rhymes commented on #3777
@3b3ziz sorry, we forgot to update the list, that file is already tackled on here https://github.com/thepracticaldev/dev.to/pull/4358

[2019-10-25 15:16] rhymes commented on #3777
@nickytonline are you still working on `pulltorefresh.js`

[2019-10-25 16:12] binyamin opened #4591 "Discord liquid tag"
See title. Discord does have embeds via iframe for those servers who choose to opt in.

[code]

I envision something like {% discord \<server-id\> %}

[2019-10-25 16:12] nickytonline commented on #3777
No, I completely got sidetracked with other PRs and completely forgot about it. Feel free to grab it @3b3ziz.

[2019-10-26 06:05] trasherdk commented on #2228
Firefox 70.0 (64bit) on Windows 8.1 Pro.

`SyntaxError: expected expression, got '<'`
[code]

[2019-10-26 09:40] fusillicode commented on #2489
Hi, any news on this? 🤔

[2019-10-26 10:10] rianadon commented on #1431
It looks like this is an issue of the markdown parser running on the runkit code.

If I use HTML code inside the runkit tag like:
[code]
it renders as such:

<img width="298" src="https://user-images.githubusercontent.com/18223213/67617990-deb76d80-f79d-11e9-8a7e-44624463ee4f.png" />

The `<i>` tags are stripped out.

[2019-10-26 12:12] naveen167890 opened #4602 "Bug Report"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-10-26 14:00] abenettt opened #4605 "Floating Article-Action bar in tablet mode"
**Describe the bug**
When reading an article on my iPad Air 10.5", sometimes the article-actions bar floats in the middle of my screen. This does not happen every time and I have thus far only experienced this on my iPad.

**To Reproduce**
I unfortunately have found no pattern with which to reproduce this but wanted to at least document this here in case someone else had this problem.

**Expected

[2019-10-26 14:20] setevoy2 opened #4606 ""This content is not available" for a gif-file in the Notifications area"
**Describe the bug**
On the notifications page, a gif wasn't loaded saying "_This content is not available_", but this gif can be accessed by clicking the image (see a screenshot below).

The URL to the Gif is https://giphy.com/gifs/hallmarkmovie-hallmark-movies-and-mysteries-garage-sale-mystery-sleuthers-82lalqBsmW56Z6E2oV

**To Reproduce**

1. create a post
2. wait for a notification about <LIMI

[2019-10-26 15:28] pratimagautam977 opened #4608 "Permanently Deleting Dev.to Account"
**Describe the bug**

Problems while permanently deleting the dev.to account.

**To Reproduce**

1. Go to 'https://dev.to/settings/profile'
2. Click on 'Account' or Go to 'https://dev.to/settings/account'
3. Scroll down to 'Danger Zone'
4. Type in your 'username' and 'delete my account' as instructed.
5. Click on 'Delete Account'
6. See error

**Expected behavior**

The account should be deleted o

[2019-10-26 16:43] nickytonline commented on #382
Although I am a fan of Cypress, it would be silly not to consider alternatives as discussed in https://dev.to/devteam/cypress-vs-kj, specifically, [Test Café](https://devexpress.github.io/testcafe/).

Cypress has [FireFox support on their road map](https://github.com/cypress-io/cypress/issues/310), but that still leaves out Safari.

It would be good to decide on a few flows to write, perhaps login

[2019-10-26 17:34] #4382 closed

[2019-10-26 17:41] dhanoz commented on #3777
@rhymes
Can I make a PR on `/app/assets/javascripts/initializers/initializeTouchDevice.js`?
I have fixed some of the lint errors in it!

[2019-10-26 17:45] netochaves commented on #3777
@dhanoz This was already done at #4415

[2019-10-26 17:50] dhanoz commented on #3777
@netochaves  I have just checked and I got some lint errors!?
Some of them were about refactoring code like use these `!==`  instead of  `!=`

[2019-10-26 18:10] jayehernandez opened #4610 "Empty State for Badges Panel"
**Is your feature request related to a problem? Please describe.**

The empty state for the badges panel (on mobile) when a user has no badges / repos linked is plain white.

![94046D77-A633-4E08-8A98-6C4739446A62](https://user-images.githubusercontent.com/13959651/67624066-f145ab80-f85e-11e9-80aa-a7052c7f6fc6.jpeg)

**Describe the solution you'd like**

Add a little something to the section like

[2019-10-26 18:27] dhanoz commented on #3777
Can I take on to `/app/assets/javascripts/initializers/initializeBaseUserData.js`? @netochaves

[2019-10-26 21:02] WA9ACE commented on #3222
I agree. With places like [duckduckgo.com supporting it](https://spreadprivacy.com/duckduckgo-search-improvements/), and bugzilla.mozilla.org, and MDN showing full support in Firefox, Chromium browsers, and Safari I agree this feature should be given serious consideration.

[2019-10-27 00:13] artoodeeto commented on #4214
**UPDATE**

*MOBILE* 📱
<img width="388" alt="Screen Shot 2019-10-26 at 5 01 05 PM" src="https://user-images.githubusercontent.com/19770382/67627535-e2d1a280-f812-11e9-97b0-123742bca0e6.png">

*TABLET* :tablet
<img width="624" alt="Screen Shot 2019-10-26 at 5 01 17 PM" src="https://user-images.githubusercontent.com/19770382/67627548-07c61580-f813-11e9-8263-0da71fd41597.png">

*DESKTOP* 🖥
<img width

[2019-10-27 00:20] AntonyGarand opened #4613 "Stackoverflow liquid tag - Answers from other stackexchange sites have the wrong link"
Making a stack exchange tag with an **answer** (not a question) will not link to the correct location.

**To Reproduce**
Liquid tag: `{% stackexchange 3390875 math %}`

1. Find an answer of a stack-exchange site. Ex: `https://math.stackexchange.com/questions/3390870/given-a-fibonacci-number-find-the-next-fibonacci-number/3390875#3390875`
2. Enter it into a stack exchange liquid tag
3. Preview the

[2019-10-27 00:25] AntonyGarand commented on #4568
While this was "fixed" in #4596, the use of `important` is not needed.

I'd recommend using `color: var(--theme-opposite-color);` for the `selected` button, and use `themeable` instead of `themeable-important` for the `.toggles button` selector.

[2019-10-27 03:58] xarielx opened #4614 "Redirect to app when browsing on a mobile device"
**Is your feature request related to a problem? Please describe.**
When I am browsing Twitter or some other site, and someone else has shared a link when I open it it opens a browser page instead of opening the app.

It is very frustrating that I cannot easily open articles on the app and would have to search them by author or title.
**Describe the solution you'd like**
I would like to be redirect

[2019-10-27 10:42] danhuynhdev commented on #4613
Hi, I can help with this. Seem like the response already can return the answer link. A simple fix would be to add `link` to the response attributes whitelist.

[2019-10-27 16:03] benhalpern opened #4616 "Detect image height and width in markdown parser"
As per [this video](https://www.youtube.com/watch?v=4-d_SoCHeWE), browsers will begin laying out images based on `height` and `width` attributes so they don't "jump" on load.

Of course, with user-generated content, we can't always know the height and width of an image, but we _could_.

We do various forms of image manipulation in the `markdown_parser`, i.e.

[code]

And in that process we set som

[2019-10-27 16:10] welenofsky commented on #4616
I am going to start looking into this one.

[2019-10-27 17:18] netochaves commented on #2470
I can take `/app/javascript/shared/components/tags.jsx`if that's ok to @RakChamp25

[2019-10-27 18:20] Kritner opened #4619 "Posts imported via RSS are not having their images uploaded/updated within the post body."
**Describe the bug**

Posts imported via RSS feed keep their relative links to images, rather than having them auto-uploaded and renamed using cloudinary hosting.

**To Reproduce**

Not sure what originally caused it, though I did recently have this issue #3995, not sure if it's related to these posts "existing" prior to resolving the problem on my end or not.

I tried deleting the posts, and wait

[2019-10-27 23:10] welenofsky commented on #4616
I tried to take a crack at this. It was the first time I worked on any rails code outside of tutorials. Let me know if I can improve this any way. Thank you.

[2019-10-28 00:56] rianadon commented on #1431
Adding a code fence around the JavaScript but inside the RunKit tag fixes the issue.

    {% runkit %}
[code]
    {% endrunkit %}

It would seem like the easiest fix would be to introduce a preprocessing step in the markdown renderer. We would find all runkit tags and edit their bodies to contain code blocks around their contents before running the Markdown parser.

However, this approach would fa

[2019-10-28 01:21] rianadon commented on #3439
Since many articles contain markdown like:
[code]

What would be the correct way to wrap these elements into `figure` elements? Should we always assume that whenever someone uses a `figcaption`, the item above is the corresponding element of the figure? I have a sad feeling someone out there is relying on `figcaption` tags to not be wrapped as [part of their workflow](https://xkcd.com/1172/). Or,

[2019-10-28 02:07] scottaohara commented on #3439
since a `figcaption` is only a valid child of a `figure`....within a `figure`.

That is often how they're used...though the HTML spec does allow for a `figcaption` to be placed above or below the said content of the `figure`, below is more often than not the manner in which authors use the `figcaption`.

i mean, yeh.  there are likely a lot of people out there that rely on browsers correcting shit

[2019-10-28 10:52] rhymes commented on #4616
I would like to understand this issue better and what the current situation in the code is and if we can get there in steps.

If I'm not mistaken, right now we have two types of images: those that are uploaded to DEV (and hence we can know their aspect ratio, which is the most important part of the new feature if I understood correctly the video) and those that people link from third parties.

The

[2019-10-28 12:10] rhymes commented on #4602
Closing this because there are no details

[2019-10-28 12:10] #4602 closed

[2019-10-28 12:20] rhymes commented on #382
I'm +1 on exploring this. I think we shouldn't take months to decide but also as any tool these take investment and switching from one to the other down the line is not going to be painless, so we might as well evaluate them now

[2019-10-28 13:39] #3819 closed

[2019-10-28 13:39] Turnerj opened #4637 "API inconsistencies between articles index and user articles endpoints"
I must be the API police or something with the number of issues I keep raising about it (sorry!) - it turns out there was another articles API missed when fixing the last inconsistencies a few days ago... 😥

So from #4206 and the subsequent PR, the main articles index endpoint (https://docs.dev.to/api/#operation/getArticles) matches the articles "show" endpoint (https://docs.dev.to/api/#operation/

[2019-10-28 13:50] rhymes commented on #4637
Hi @Turnerj, thanks a lot for these investigations! We need people using the API and find its inconsistencies!

Regarding `flare_tag`, it has been addressed with https://github.com/thepracticaldev/dev.to/pull/4560 - keep in mind that the field won't appear if the articles doesn't have a flare tag

`published` might be worth adding to the index, even though it'd be always true for obvious reasons.

[2019-10-28 14:00] Turnerj commented on #4637
Ahhh, I was just going through the API documentation so I guess the article it got data out for just didn't have a `flare_tag`.

Agreed!

If there was some way to hide one or the other from the documentation but keep that specific API active, that might be a good start to deprecate it for the future. At worst, someone tries to look up the endpoint, doesn't see the exact documentation page but sees

[2019-10-28 14:13] rhymes commented on #4637
I think this entails having a deprecation policy, that we don't have right now. I think we should start fixing inconsistencies and documenting what's missing, then we can plan on deprecating what's need to be deprecated. As you mentioned, having to identical endpoints it's not a big deal :D The `tags` vs `tag_list` is more unfortunate :D

[2019-10-28 14:38] jessleenyc commented on #4608
Sorry about that - looks like you caught a bug of some sort. In the mean time, if you send an email to yo@dev.to we can handle this for you.

[2019-10-28 14:39] jessleenyc commented on #4608
@lightalloy quick ping here since you've been working on some self-delete functionality.

[2019-10-28 14:44] jessleenyc commented on #4587
Hey @31piy, it is intended behavior to have the author auto-like their own comment. However, what your describing with it incrementing despite already being liked sounds like a bug.

[2019-10-28 14:46] jessleenyc commented on #4587
Just updated the title of the issue for more clarity.

[2019-10-28 14:49] pkfrank opened #4640 "Add rate limiting to prevent mass following of users"
**Is your feature request related to a problem? Please describe.**
In order to prevent spam/abuse, we should rate-limit the number of users that an account can follow.

**Describe the solution you'd like**
A system that rate limits the number of accounts that an individual user account can follow.

**Additional context**
The functionality for this sort of stuff is currently driven by the `RateLimi

[2019-10-28 16:37] benhalpern opened #4641 "Inline browsable documentation"
This is a feature I've had in the back of my mind for a while which I feel could be kind of interesting...

A sort of "meta" section on the site where from within the browser context you can open some information about how that page is constructed, which files to check to make changes in certain parts, high level ongoing tasks related to that part of the site, etc.

It could live as a button in th

[2019-10-28 17:23] nickytonline commented on #382
@vikmy, since you mentioned Test Café in the post I reference above, would you be interested in writing up a few tests to show us how it would be if we were to go with Test Café?

Or maybe @chrisvasqm? I see you wrote a post about Test Café a little while back, https://dev.to/chrisvasqm/e2e-testing-with-testcafe-17jl.

Or basically, anyone else who has experience with Test Café.

Thanks in advance

[2019-10-28 17:53] obahareth commented on #4640
Hi, I would like to work on this!

[2019-10-28 18:11] obahareth commented on #4640
Just so I don't make the specs really slow, is there a recommended way to make 500 follows?

[2019-10-28 19:02] vgrovestine opened #4643 "Tombstone info of followers, via Dashboard and email notification"
**Is your feature request related to a problem? Please describe.**

I have my account set to send a notification each time someone new follows me. While the notification works like a charm; I'm left wanting more information about the person who has followed me beyond _"Yada Yada just followed you: You now have N total followers. See all of your recent followers right here..."_

It's a nuisance to

[2019-10-28 19:31] joaoskr commented on #4577
Just changed the colors with the dark background, this way appears to be better ?

![Captura de Tela 2019-10-28 às 16 28 51](https://user-images.githubusercontent.com/17601527/67711240-5523bd80-f9a0-11e9-9053-e48015f2aa2d.png)

[2019-10-28 19:32] rhymes commented on #382
@maestromac might have ideas about which areas to start focusing on for e2e

[2019-10-28 19:41] rhymes commented on #4640
Do you think you could use mocks to set a lower limit in the setup of the test?

Something like (copied from a different test):

[code]

[2019-10-28 22:25] pdesjardins90 commented on #4195
@zevaverbach just came back from a two-week vacation, sorry for the delay! Just tried it on my end, same setup as I had and now it works, someone fixed in somehow since I guess? Anyway thanks for the help!

[2019-10-28 22:48] b3u commented on #4591
@jessleenyc I foresee a possible issue. There is an open api at `https://discordapp.com/api/guilds/:server-id:/widget.json`, but it only really exposes the server name and details on online members. For more data, you need to use OAuth. Is this enough information for an embed?

[2019-10-28 23:19] binyamin opened #4646 "Github liquid tag does not update"
**Describe the bug**
Similar to #212. GitHub tag embed does not update when repository updates.
See https://dev.to/b3u/my-first-community-project-10p7 and corresponding repository

**Desktop:**
- OS: Windows 10
- Browser: Opera
- Version: Opera 63.0.3368.107

[2019-10-29 08:12] rhymes commented on #4195
Reopening because the issue is applicable to all endpoints, they have not been verified to be CORS enabled.

We should keep this open as a bookmark and to invite further discussion on how to solve this once and for all

[2019-10-29 10:52] GarethTF commented on #4577
Prefer the first, white on red is much easier to read than pink on black

[2019-10-29 15:10] thomasstep commented on #3217
@jacobherrington Do you have any insight into this? It looks to me like it might be a reloading issue within the `ReadingList` component. Am I on the right track? I have been trying to debug a similar issue with archiving not updating lists until you refresh the page.

[2019-10-29 16:45] edent opened #4650 "HTML Character References shown in "who to follow""
**Describe the bug**
The "Who to follow" box displays escaped HTML character references.

**To Reproduce**

1. Sign up for a new account
2. Agree to the T&Cs
3. Scroll through the list of people to follow.

**Expected behavior**
Instead of `&#39;` display the apostrophe symbol. Instead of `&quot;,` show the quote symbol.

**Screenshots**
![Screen Shot 2019-10-29 at 16 37 12](https://user-images.gi

[2019-10-29 17:22] b3u commented on #4591
other idea -  accept an invite link, and grab metadata and show that

[2019-10-29 18:16] edent opened #4652 "Security issue - use SubResource Integrity on external Javascript"
**Is your feature request related to a problem? Please describe.**

External Javascript is subject to manipulation by hostile actors.

SRI is a new W3C specification that allows web developers to ensure that resources hosted on third-party servers have not been tampered with. Use of SRI is recommended as a best-practice, whenever libraries are loaded from a third-party source.

**Describe the solu

[2019-10-29 18:53] nickytonline commented on #4652
Adding the integrity attribute is a good idea for third party scripts. Thanks for bringing this up. 👏

Just adding the link to those unfamiliar with this, https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity

[2019-10-29 18:55] jennapederson commented on #4571
I can grab this one.

Reproducible on touch devices.

[2019-10-29 19:33] Clarity-89 commented on #4571
@jennapederson how far you with this? Was just about to submit a PR and noticed your message :D

[2019-10-29 19:59] lkreimann commented on #1716
Please be aware, that target="_blank" can be security risk for the user if not implemented right. See https://dev.to/ben/the-targetblank-vulnerability-by-example for more info.

My personal opinion: I would always leave the decision to the user if it is wanted to open a link in an new tab or not. You can easily open links in a new tab by pressing `Ctrl` while clicking on a link (at least on OS lik

[2019-10-29 20:02] jennapederson commented on #4571
I have a fix and am just wrapping up testing.

[2019-10-29 22:33] samrae7 commented on #4485
sorry for delay on this. I will do my PR changes in next 2 days

[2019-10-29 23:20] jameslvdb opened #4653 "Coverage report not being generated"
**Describe the bug**

SimpleCov does not generate a coverage report after running tests locally.

**To Reproduce**

Run tests normally: `bundle exec rspec` or `bin/rspec`.

**Expected behavior**

A coverage report is generated in `coverage/index.html`.

**Additional context**

I was hoping to help increase test coverage and saw in the [docs](https://docs.dev.to/tests/code-coverage/) that a coverag

[2019-10-29 23:42] ashwinv11 commented on #4589
I can pick this one up!

[2019-10-30 03:10] artoodeeto commented on #4214
@ashvin777 hey sir I made a pr for this. heres the pr #4657 let me know if you want me to add more.

[2019-10-30 04:22] ashvin777 commented on #4214
This looks super awesome @artoodeeto. Thank you so much for implementing this feature. Yes, the embed link is separate.

Just one comment, is it possible to improve the error message?
 Instead of just saying "Make sure its embeddable link", we can be more specific say include "/embed/" in the link, Example - https://jsitor.com/embed/1QgJVmCam

[2019-10-30 09:42] rhymes commented on #4652
Definitely agree! @edent would you be willing to contribute a PR for this?

[2019-10-30 09:56] edent commented on #4652
@rhymes I've done a basic PR. Please bear in mind...

1. I don't know Ruby
2. I don't have a build system
3. I don't know Ruby
4. I realise points (1) and (3) are the same - but I thought it so important that it was worth mentioning twice.

[2019-10-30 10:19] rhymes commented on #4653
Weird! I have a `coverage` folder from the 15th of October 2019. I deleted it and re-ran the specs and the folder doesn't appear anymore.

This sounds like a bug or something we messed up in some configuration

[2019-10-30 10:35] rhymes commented on #4652
ahahah @edent, you've been the most kind! I'll review it promptly

[2019-10-30 14:00] benhalpern opened #4659 "Add ability to set favicon through environment variable"
For generalization of the platform, technical administrators should be able to provide a URL to a custom favicon of their choice.

We currently use `favicon_link_tag` with no arguments, meaning it defaults to this...

`<link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />`

That method can take an argument and we should change this so it takes a URL (and we don't need to use

[2019-10-30 14:06] benhalpern opened #4660 "Add ability to set the app site email through environment variable."
Currently `yo@dev.to` is hardcoded into the app a bunch. We should change this to an environment variable such as `DEFAULT_SITE_EMAIL`.

This is for app generalization and this should likely _not_ be changed anywhere where the email should logically go to the dev.to staff itself—most notably bug bounties. But anything related to the administration of an alternate hypothetical community should be s

[2019-10-30 14:12] benhalpern opened #4661 "Allow "key links" section to be defined in some non-hardcoded way"
Currently we have a couple "key links" areas. (left sidebar on home page, site footer, key links page.

They do not all show all the links (should they?). Either way, we should be able to define what these links are at the app level, both for generalization purposes and also possibly for dev.to administration simplification.

I'm not sure what the right implementation for this is.

[2019-10-30 15:51] nadiyaka commented on #4659
I would like to work on this issue, but have some questions:
1) Where exactly do I need to change `favicon_link_tag`? I found it in 3 files: `layouts/application.html.erb`, `layouts/internal.html.erb` and `pages/shecoded.html.erb`. Should I change it in all 3 of them?
2) Is it correct that I have to add ENV variable (`ApplicationConfig["FAVICON_URL"]` for example) and add it as an argument to favi

[2019-10-30 16:11] nadiyaka commented on #4653
I found out that the issue is with this line `if ENV["COVERAGE"]` in `.simplecov` file.
Should I remove this check or do something else? @rhymes, please help  🙂

[2019-10-30 16:37] rhymes opened #4663 "Add :focus style for search bar"
**Is your feature request related to a problem? Please describe.**

In a11y terms, [focusable elements should have focus styling](https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Keyboard?utm_source=devtools&utm_medium=a11y-panel-checks-keyboard#Focusable_element_must_have_focus_styling), meaning that there should be a visual feedback of when the search bar is focused.

[2019-10-30 16:50] benhalpern commented on #4659
@nadiyaka yes and yes.

[2019-10-30 16:50] benhalpern commented on #4660
@MohabMohamed wonderful

[2019-10-30 16:52] benhalpern commented on #4640
@obahareth @rhymes I think the number could be an ENV variable (cleaner anyway) and then we could test with a lower number in the test/local environments.

[2019-10-30 17:26] #4571 closed

[2019-10-30 18:55] nadiyaka commented on #4653
@maestromac, can I open a pull request for these changes?

[2019-10-30 19:01] #4613 closed

[2019-10-30 19:03] maestromac commented on #4653
yes please go ahead @nadiyaka !

[2019-10-30 19:57] emimuresan commented on #4663
Hi @rhymes , i can take a look at this and try to open a PR soon.

[2019-10-31 03:01] AndrewSverdrup commented on #4342
Hey sorry for the delayed response. We've discussed this on our end and have decided to implement the embeds in a way that won't require access to a user id. We're all set for now.

[2019-10-31 03:01] #4342 closed

[2019-10-31 04:06] pratimagautam977 commented on #4608
@jessleenyc My account has been deleted after emailing at yo@dev.to. Thank you! Yet, I am unknown if the issue persist on the website or not.

[2019-10-31 09:23] MythreyaK commented on #4242
Hmm that issue seems a bit different as nothing loads even if I scroll all the way down. The footer is broken, I can't open my account either (by clicking the profile icon).

[2019-10-31 09:55] VarunBarad commented on #4543
@maestromac any help required?

[2019-10-31 13:08] obahareth commented on #4640
@benhalpern I updated my PR to use an environment variable `DAILY_ACCOUNT_FOLLOW_LIMIT` or `500` if it hasn't been set.

[2019-10-31 14:36] mstruve opened #4670 "Move All Cache Keys From Memcache to Redis"
## Why We Are Moving To Redis
Memcache is a bit of a black box when it comes to caching. It is very hard to tell what is in it and how we are using it. For this reason, we have chosen to switch to using Redis for our application cache. Redis will allow us more insight into how we are using the cache and give us more control over our cache keys. It also has nice features such as background deletion

[2019-10-31 14:58] benhalpern opened #4671 "Add loading="lazy" to all liquid iframes"
[Native lazy loading](https://dev.to/yashints/native-lazy-loading-is-landed-in-chrome-2kli) is a thing for iframes and images. We went in and added it to a bunch of images, but not yet for iframes.

Any iframes we use should have this attribute added, as all of them qualify as valid for lazy loading in order to help the user experience.

Some tests may need to be updated.

[2019-10-31 15:18] #4653 closed

[2019-10-31 15:28] tcg commented on #3418
I was a little curious about a related issue, and found myself here. Offering perhaps an alternative solution...?

If a person is self-hosting GitLab, it *might* be *conceivable* that Dev.to wouldn't consider that "a GitLab URL", but rather something like "Your Code Repo URL" -- which could be a generic, unvalidated URL similar to the "Your Website" URL.

Why?

- Why make the assumption to limit f

[2019-10-31 15:31] rhymes commented on #4671
+1

hopefully this gets added to Firefox as well [soon](https://bugzilla.mozilla.org/show_bug.cgi?id=1542784)

[2019-10-31 15:36] nickytonline commented on #4671
Just popping this here for reference for whoever comes to grab this. https://addyosmani.com/blog/lazy-loading/

[2019-10-31 17:13] pkfrank opened #4672 "Add organization affiliations to profile pages"
**Is your feature request related to a problem? Please describe.**
As a DEV member, I'd like to list any organization affiliations directly on my profile page.  When visiting an [organization profile](https://dev.to/devteam), the org members are already listed.

This is feature request to add the same info to the individual profile page.

**Describe the solution you'd like**
When a user visits my

[2019-10-31 18:03] vgrovestine opened #4674 "Less tedious way to unfollow tags from Dashboard > Following"
**Is your feature request related to a problem? Please describe.**

The present workflow for unfollowing tags via Dashboard > Following is tedious.

1. Click tag keyword (Link, but looks like regular text. If not for the cursor change, one would never know this text can be clicked.)
2. View tag's thread page.
3. Click "Following" button at top of the page. (It's not clear that this is an actionabl

[2019-10-31 19:34] #4659 closed

[2019-11-01 06:21] RAJAT--PALIWAL opened #4680 "Like value decreases on multiple clicks can go to negative"
**Clicking multiple time on like button can lead to decreasing number of likes**

Like button, if pressed multiple times continuously, decreases number of likes in view (On reload correct value is displayed).

**To Reproduce**

 Steps to reproduce the behavior:

 1. Go to 'welcome thread'
 2. Click on 'like button' multiple time
 3. Look at value of likes, it keeps decreasing goes to negative too.

[2019-11-01 06:56] dhruvin2910 commented on #4543
[@github/clipboard-copy-element](https://github.com/github/clipboard-copy-element) is used [here](https://github.com/thepracticaldev/dev.to/blob/64c9b36a40853f604932839201c2011934fa9f96/app/views/articles/_actions.html.erb#L54-L58) to provide clipboard support.

Similar problem might have occurred [here](https://github.com/thepracticaldev/dev.to/blob/61494d23432371805a084d96a16d9efc335ce5a0/app/ja

[2019-11-01 08:49] theccmuk opened #4681 "RICS"
Introduction to an international standard qualification- RICS
RICS? What is RICS? Who is RICS? Also, why choose them?  While deciding on education, career and future settlements in the construction industry, there are plenty of searches done to find the right choice. Also, being among the recognised qualification, RICS is commonly searched by graduate students and professionals all around the worl

[2019-11-01 09:30] rhymes commented on #4660
ah! we have two PRs for this issue :)

[2019-11-01 09:36] rhymes commented on #4680
@RAJAT--PALIWAL thanks for this! Definitely a bug.

Can you sistematically reproduce it? If so, could you share a screen recording?

[2019-11-01 09:46] #4681 closed

[2019-11-01 10:58] RAJAT--PALIWAL commented on #4680
[Like_bug.zip](https://github.com/thepracticaldev/dev.to/files/3797589/Like_bug.zip)

[2019-11-01 11:25] rhymes commented on #4680
Thank you very much for the video, I watched it and yeah, that shouldn't happen! Very helpful

[2019-11-01 13:03] #4660 closed

[2019-11-01 14:34] SerhatTeker opened #4682 "Not awarding of 4 week streak badge"
**Describe the bug**

Hello! I don't get the [4 Week Streak Badge](https://dev.to/badge/4-week-streak) even though I wrote articles 9 weeks in a row.

I don't know there is something that I couldn't catch.

**To Reproduce**

1. Fetch the articles of mine:

[code]

or into `json` file with prettier format:

[code]

2. remove unnecessary data:

[code]

3. Add `published_week` from `published_timesta

[2019-11-01 14:38] seawolf opened #4683 "Posts published privately"
**Is your feature request related to a problem? Please describe.**

I'd like to use dev.to for a series of professional journal posts, to record my thoughts on my career or what's going on. I've tried this before but only lasted a couple of posts as I was too restricted by the risk of colleagues/peers/clients reading them and this affecting me or the company.

I suppose the problem is that there i

[2019-11-01 17:26] chadsteele opened #4686 "I'd love a [copy code] button on code blocks"

[2019-11-01 17:57] ZAfricanDev opened #4687 "Ability to select a piece of text and share over social media."
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
The ability to select a piece of text, and share the quote over social media.

1 ) Select piece of code.
2 ) Have a button that detects the text selection and allows you share directly over social media platforms.

**Describe alternatives you've considered**

None really, thought it would be

[2019-11-01 20:50] #4336 closed

[2019-11-02 04:10] twinsfan421 commented on #3171
Hi. I am interested in contributing and working on this.  I would like this feature as well.
I noticed #3240(Add backend functionality for muting users you follow) by adding a subscription_status column on the follow model.  I could use that for this feature request.

A few ideas I have for this:

I could add a (notifications on/noficications off) button next to the (follow/following) button that

[2019-11-02 06:19] AlbertoMontalesi opened #4698 "Profile showcased repository stars not updating"
I've added two repos to my profile but they don't get updated. The number if stars remains the same as when I've added them. Might be worth refreshing the number of stars once a week or something.

[2019-11-02 10:49] rhymes commented on #4698
Hi @AlbertoMontalesi, unfortunately it's a known issue, there's an older one here: https://github.com/thepracticaldev/dev.to/issues/212

I'm going to close this as a duplicate.

[2019-11-02 10:49] #4698 closed

[2019-11-02 12:14] abenettt opened #4700 "Add GraphQL API"
**Is your feature request related to a problem? Please describe.**
Nope no problems!

**Describe the solution you'd like**
I’d like to suggest implementing a GraphQL API it would allow for selective querying and even streaming and subscriptions. I think that at least for reading operations GraphQL might be a good solution as after the types are built there is not much else to be done. The drawback

[2019-11-02 18:15] luchiago commented on #2867
Hi, can I work on that?

[2019-11-02 19:26] rhymes commented on #2867
@luchiago sure! Thank you!

[2019-11-03 05:21] dennislwm opened #4702 "Feed should sort by the newest article first, always"
**Describe the bug**

Feed can sometimes place the a newer article later than older articles.

It is quite inconvenient to scroll past some older articles to find newer articles.

**To Reproduce**

1. Go to Feed
2. Scroll down to see some articles that have newer dates appearing after older articles.

**Expected behavior**

The newest article should always be at the top of the user feed.

**Screen

[2019-11-03 09:05] sau226 opened #4703 "GitPod states Ruby version is out of date even though repo has been updated"
**Describe the bug**
GitPod is using an outdated version of Ruby even though .ruby.version has been bumped

**To Reproduce**

1. Go to https://docs.dev.to/installation/gitpod
2. Click on the GitPod open button to open up a new workspace
3. Fill out your development keys and press a random key when prompted

**Expected behavior**

Packages set up and Gitpod dev.to instance appears

**Problem behavi

[2019-11-03 09:34] rhymes commented on #4702
Why not use https://dev.to/latest to access articles in a chronological order?

[2019-11-03 09:59] abenettt commented on #4700
Also as GraphQL only uses a single endpoint caching would have to be done on the application layer itself as far as I know, so that might also be a drawback.

[2019-11-03 10:51] dennislwm commented on #4702
My assumption is that unlike your Feed, Latest will show you all articles, which may not be in your tagged follows. Maybe someone can confirm this?

[2019-11-03 11:10] rhymes commented on #4702
@dennislwm yeah, latest is all articles ordered by publication date. This the [algorithm behind the feed](https://docs.dev.to/getting-started/architecture/#the-algorithm-behind-the-feed):

[2019-11-03 12:32] nickytonline commented on #4703
Running `rvm install 2.6.5` from the command line in GitPod should fix the issue. I had to do this the other day. There were some other steps to get it to take v. 2.6.5 which I don’t remember, but I basically followed the messages from rvm to get it to take it.

It would be nice if it was automatic.

[2019-11-03 19:49] joshi-chinmay opened #4712 "Profile banner text is merged in the box"
**Describe the bug**

Information on the right panel is merged inside the panel.
To know more check my profile - [link](https://dev.to/joshichinmay)

**To Reproduce**

I had URLs for every link present in the settings.
Linkedin, Facebook, Stackoverflow... This made two-lined layout on the profile page.
Later, I removed Facebook, Instagram from the links. Since then, my profile looks weird.

**Expe

[2019-11-03 19:50] joshi-chinmay commented on #4712
If this is accepted, I can work on it.

[2019-11-03 22:30] rhymes commented on #4712
Hi, thanks for the report! Could you link your profile? It might help understand what's going on by inspecting with the dev tools 😊

[2019-11-03 23:43] joshi-chinmay commented on #4712
Ohh yeah. I should have done that!
[Here](https://dev.to/joshichinmay) you go.

[2019-11-04 11:34] dharmiktank opened #4717 "500 Error It's not you, it's me."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-11-04 11:36] rhymes commented on #4717
@dharmiktank what led you to a 500 error? which page? what action were you trying to do?

[2019-11-04 12:11] rhymes opened #4718 "Add global DB settings in addition to environment variables"
**Is your feature request related to a problem? Please describe.**

Right now we have a growing set of environment variables that will likely increase over time for each step of generalization we make on the platform.

My proposal is to introduce the concept of "database backed setting".

The advantage of a setting over an env variable is that it doesn't require to restart the application processe

[2019-11-04 12:15] rhymes commented on #4712
@joshi-chinmay thank you and please go ahead!

[2019-11-04 12:16] rhymes commented on #4703
@sau226 would your proposed solution mean that each time we make a change we have to bump the date in the GitPod dockerfile? Isn't there a more permament option?

[2019-11-04 14:00] jessleenyc opened #4720 "Mod tooling: add tags via /mod"
**Is your feature request related to a problem? Please describe.**
As a mod, I'd like to be able to add appropriate tags to a post.

**Describe the solution you'd like**
Via `/mod`, near the "remove tag" functionality, a new area where I can **add** tags.  The author should get a (kind) notification explaining what happened.

**Additional context**
This will help with proper tagging throughout the

[2019-11-04 14:01] jessleenyc commented on #4105
Hey @CAD97! We think this should be fixed now. Is it still an issue for you?

[2019-11-04 14:13] jessleenyc commented on #4614
Hm i thought we had this in but am also experiencing the issue. Could this be on twitter's side where it forces users to use their in-app browser? Deep linking on android works for me in other apps. For example, when someone texts me a dev.to link it'll ask me to if I want to open it in the app.

[2019-11-04 14:24] xarielx commented on #4614
Yes it might be on twitters side, but normally when in the in app browser I choose open in safari it redirects me to the app that it belongs to, just not this one

[2019-11-04 14:38] jessleenyc commented on #4591
I think starting with server name and how many users is actually a great place to start. We can have the liquid tag link out to the rest. How does that sound?

[2019-11-04 14:40] jessleenyc commented on #4606
Hm, maybe the gif was down temporarily and this got cached somehow. Can you still see this in your notifications? To be safe, I think we should probably remove this one from the rotation if someone wants to submit a PR.

[2019-11-04 14:42] jessleenyc commented on #4610
Good call. Let's add a conditional to show some copy if the sidebar for users that don't have activity there. For now, placeholder lorem ipsum will work and we can needle on the copy on our end. Let's have the copy only appear for mobile views because having it blank looks fine on desktop.

[2019-11-04 14:47] benhalpern commented on #4718
I'd be in favor of this. It seems like where we'd inevitably go for configuration of generalized instances.

I think the big question for me is how do we do this in a way that ensures the best performance. Could we, perhaps, cache the entire serialized config behind one redis key?

Or perhaps even set environment variables themselves upon the changing of this data?

I don't want to overcomplicate

[2019-11-04 14:55] rhymes commented on #2586
not stale (?)

[2019-11-04 15:01] rhymes commented on #4718
@benhalpern that's a possiblity, serialize the table in a JSON blob in redis and rebuild it each time anything gets changed.

The question is: will it be faster to do the HTTP call to Redis or to read a small table from PostgreSQL? Redis might not be worth it since there's nothing to actually compute in this case, contrary to other reasons why one would cache values. We have to test this.

yeah, t

[2019-11-04 15:11] b3u commented on #4591
Sounds good. Another option, which i just discovered, is this...
[code]
I like banner2 the best.

[2019-11-04 15:13] RakChamp25 commented on #2470
yeah, I will give a chance to @ruffle1986  and take a chance to shot on `/app/javascript/shared/components/tags.jsx`. Then I will check what you gonna update on that.
I am very curious what else you gonna update and learn on that, let see 😃

[2019-11-04 15:29] jessleenyc commented on #4674
Thanks for the request, this makes a lot of sense. I know someone was working mass unfollow for users shown on the dashboard as well (https://github.com/thepracticaldev/dev.to/issues/3305)

[2019-11-04 15:50] nickytonline commented on #2501
Not stale

[2019-11-04 19:24] Damjan99 commented on #4686
I can work on this if nobody has started yet

[2019-11-04 19:43] agusnavce opened #4723 "Notifications pane not working"
**Describe the bug**
When I enter the notification center, i can't see any notifications.

**To Reproduce**
I saw a notification alert, clicked on it.
The notification page opened but no notifications were visible.

**Expected behavior**

To see my notifications.

**Screenshots**

![image](https://user-images.githubusercontent.com/17863261/68152380-4dc15e80-ff22-11e9-88b4-c34977cb55f4.png)

**Desk

[2019-11-04 19:57] rhymes commented on #4686
Hi @Damjan99, please go ahead!

Could submit here design options on how to implement this from a user perspective?

This way we're all on board on how the feature would look like on DEV

[2019-11-04 20:50] mstruve commented on #4718
100% support this and I think it will make the platform more reproducible and flexible for new communities that may have different uses and settings associated with them.

[2019-11-04 21:39] Damjan99 commented on #4686
Hi @rhymes , I suppose it would be easier for me to be given a design which is agreed upon by the DEV team, so I can just implement it later along with the logic.

[2019-11-04 21:48] BrianLakstins commented on #4105
Once logged in with GitHub on Edge, not much works, including the process to write a new article.  I searched for issues with Edge and only found this one.  If it's just me, then no worries - I can use another browser or not be logged in.

![ApplicationFrameHost_2019-11-04_16-44-56](https://user-images.githubusercontent.com/2887390/68160904-bb6d8a80-ff22-11e9-9370-117d9d4f2b4b.png)

![ApplicationF

[2019-11-04 21:54] CAD97 commented on #4105
The actual text editor box issue as described in the OP is fixed.

However, the feed does not load and the buttons at the buttons of the post editor do not appear in Edge anymore for me either (when logged in).

[2019-11-04 22:09] maestromac commented on #4619
Hello @Kritner , we use the image src provide by rss feed. Often time those image source is a full complete link and sometime it is is relative link. If it happens to be a relative link, we will attempt to complete it by prepending the feed source link (ie, `yourfeed.com` + `/some-image.jpeg`) similar to how it is done with github's markdown.  The logic of that can be seen here https://github.com/

[2019-11-04 22:19] chadsteele commented on #4686
I just googled and found this relevant article.
https://www.dannyguo.com/blog/how-to-add-copy-to-clipboard-buttons-to-code-blocks-in-hugo/

On Mon, Nov 4, 2019 at 2:39 PM Damjan Dimitrov <notifications@github.com>
wrote:

[2019-11-04 22:21] chadsteele commented on #4686
and this chrome extension...
https://github.com/zenorocha/codecopy

On Mon, Nov 4, 2019 at 3:18 PM Chad Steele <chad@chadsteele.com> wrote:

[2019-11-04 22:23] nickytonline commented on #4105
It sounds like it might be a Windows only issue. I’ve been using Edge Beta for Mac on Catalina and iOS for a few weeks now with no issues to the site. I think I may have experienced the editor issue briefly, but aside from that, no issues.

If you run Edge without extensions enabled or in incognito mode, do you still have the issue?

[2019-11-04 22:35] CAD97 commented on #4105
@nickytonline is Edge Beta the version running on Chromium? This is specifically the EdgeHTML version. (Also, it's InPrivate mode for Edge, and it behaves the same there.)

[2019-11-04 22:39] nickytonline commented on #4105
Ahh, my bad. I thought you meant the Chromium version. I’ll see myself out. 😬

[2019-11-04 23:03] maestromac commented on #4663
Resolved with https://github.com/thepracticaldev/dev.to/pull/4668

[2019-11-04 23:03] #4663 closed

[2019-11-04 23:39] Kritner commented on #4619
dang... this is what i get for updating npm packages just cuz there are updates :D

thanks! I'll figure something out to fix this... hopefully

[2019-11-04 23:39] #4619 closed

[2019-11-05 11:42] sau226 commented on #4703
@rhymes

1. The date would not have to be bumped each time a change would be made (unless the contributor wanted it to be reflected immediately in GitPod). Say every week or so, as part of other changes the date gets bumped in order for the changes to be reflected in GitPod.

2. From my understanding of the GitPod docs, the only option appears to be to change the Dockerfile. Unless there's a solut

[2019-11-05 12:28] rhymes commented on #4718
I know we are leaning towards building this totally in house but I still went ahead and checked if there was a simple solution readily available (also to see if my ideas on how to implement this efficiently had any real world counterpart) and I found one: [rails-settings-cached](https://rubygems.org/gems/rails-settings-cached).

Contrary to [sail](https://rubygems.org/gems/sail) it has 1.5 million

[2019-11-05 14:43] #4214 closed

[2019-11-05 17:52] benhalpern commented on #4718
@rhymes I agree with all this logic. Looks great to me. I definitely trust your judgment if you want to go down this path.

[2019-11-05 19:09] maestromac commented on #4703
Thank you for pointing this out and submitting a fix @sau226

Cc @jankeromnes do you have a recommended course of action for this issue?

[2019-11-05 19:15] #3648 closed

[2019-11-05 19:15] #4400 closed

[2019-11-05 20:36] maestromac commented on #4723
Hello @agusnavce , are you still experiencing this issue? can you open up your browser console and tell me what you see? If you are still experiencing this, can you try to browse dev.to without any extensions?

[2019-11-05 20:38] maestromac commented on #4717
Hello @dharmiktank , this looks an issue specific to your account. Please email yo@dev.to for more help.

[2019-11-05 20:38] #4717 closed

[2019-11-05 21:20] #4211 closed

[2019-11-05 21:52] twinsfan421 commented on #4720
I can work on this.

[2019-11-05 23:09] c33s commented on #3773
had the bug again but without the textarea cache plugin. so this addon wasn't the cause

[2019-11-06 00:23] maestromac commented on #4591
I'm not sure what you are trying to share there @b3u . I see what looks like a chrome console.

What if we utilize Discord's [premade widget](https://blog.discordapp.com/add-the-discord-widget-to-your-site-d45ffcd718c6) instead? I think the advantage is that the implementation is super simple, it can follow what we're already doing with [youtube tag](https://github.com/thepracticaldev/dev.to/blob/

[2019-11-06 00:37] b3u commented on #4591
@maestromac That *is* discord's premade widget. `...style=banner(1|2|3|4|5)` means `style=banner1` OR `style=banner2` etc.

[2019-11-06 02:03] jessleenyc commented on #4683
This is a cool idea. There are definitely a lot to consider with this feature if anyone wants to leave more granular thoughts on how we'd build this.

[2019-11-06 02:05] jessleenyc commented on #4686
Maybe we can add a toolbar above each codeblock and the copy code button can be one of the first actions?

[2019-11-06 02:07] jessleenyc commented on #4687
There are a few other things we want to consider as it relates to selecting text (i.e. highlighting functionality) and we'd want to think about it all together more holistically so let's hold off on this for now.

[2019-11-06 02:09] jessleenyc commented on #4700
Thanks for the request @abenettt. This would be a pretty big undertaking so we're still discussing as a team to see if and how we'd approach this. Our general thought is that this can be a community-oriented project but we want to make sure we have the capacity to support it before anyone moves forward.

[2019-11-06 02:13] jessleenyc commented on #4643
We're hesitant about having stats being such a first impression when connecting with members. To start, can we just include the user byline/summary in these areas (email + dashboard)? Perhaps after that we can introduce even more information.

[2019-11-06 02:23] jessleenyc commented on #4646
Right now, this only updates if the user re-saves their post. There's been some work done on the getting the Twitter liquid tag to update (#3595) that could be helpful here. We want to be resource conscious and not be checking github constantly but also still keep things fresh. Open to approaches here!

[2019-11-06 07:16] Damjan99 commented on #4686
Sounds cool, if we have any other necessary tools to add on the toolbar

[2019-11-06 17:53] rhymes commented on #1701
unstale

[2019-11-06 18:19] chadsteele commented on #4686
I like the firebase code blocks with style, copy, and language switching...
https://firebase.google.com/docs/firestore/query-data/queries

As an author, I doubt I'd take the time to write my code twice, but some
articles could benefit, especially if they're comparing tech

On Wed, Nov 6, 2019 at 12:16 AM Damjan Dimitrov <notifications@github.com>
wrote: